<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributes</key>
	<dict>
		<key>time</key>
		<dict>
			<key>beats</key>
			<string>3</string>
			<key>per_minute</key>
			<string>80</string>
			<key>beat_type</key>
			<string>4</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{174a268b-f9fb-4109-b64c-4015f173ead2}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{62fb2198-c3d7-4288-8aff-f43a23552842}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>3</string>
		</dict>
		<key>{7215cc0b-1c0c-41f4-8baf-8e0b7b32ad29}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>3</string>
		</dict>
		<key>{2b431d90-fef4-4440-abc2-c1d701e2dd5e}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>5</string>
		</dict>
		<key>{79246f1c-c741-4b77-96af-1b679e9ffceb}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{3e690ed7-74ae-44f7-b1f9-8bd461a425e4}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{ba4d48de-3d47-4091-abe4-3ea17722533e}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{a06091d1-00ff-4955-b0a0-2523b73cb755}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{1afd1064-98a5-4a00-8499-270f70a367bb}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{fe5c984e-74dd-4b52-9d08-6891606f923b}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{69d498c6-2a73-47c3-b04f-e2eaf844c1e1}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{cc545609-0940-421c-8fe1-235fda8c3925}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{78f271ba-8c98-4599-8e12-a3b896574f0b}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{4c77609f-7fb3-4403-9513-a77dca9220e8}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{929ab9cc-cfa2-4d6a-bc87-dfa0dce24978}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{ce431fb5-2dec-4b31-b31e-cc13799db0bc}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{67cec657-af56-4c17-9bdf-acc94268ac5d}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{0412f936-8200-4578-997b-5aeb4a8ed684}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{30f8d0f1-fcf9-403f-92e4-0a25ef898966}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{dd064fc3-d938-4351-ac4d-9a6e28dabdb8}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{7088253d-01c5-4b2f-84d5-74cc5288365d}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{2d29aae6-32cd-4f58-be7e-31b566510539}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{18a36548-c4da-440d-a8d4-231721664b62}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{17ce3107-5b33-4fc1-b237-8effb50cf210}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{017ef56e-5510-4c7a-bf65-c075bf733c99}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{547327a9-3b20-43d3-9db7-102241534bf0}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{e076f58e-4a8c-477f-9fbc-2f371b78e4d6}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{1f5bf7f7-f428-473e-8b86-8d243e3188af}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{876f4c31-3c3f-42bd-8f75-250a86cae149}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{d7a70d86-2167-4bac-894b-0188c0ef0c4b}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{951441fd-a5c4-470a-b6b6-6518f3e08727}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{54f3b4db-92eb-4d34-ad5f-a8bdebccd08b}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{9222b219-8b8d-4f7a-ae0b-aa77dbaaec3d}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{68f65826-4410-4ebc-ae60-b895dd416993}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{c89eeaff-c6a3-4c07-85dd-a3900fcf8751}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{e1ab972c-f560-4f12-892a-334a3e807e2e}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{411ad602-3799-4c5d-91da-a398b7079616}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{dfdf44a5-0a3b-42c8-b0f7-979bb2cfa79b}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{265a35dd-d7f9-4588-a365-7518f096b8c3}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{fcf556ee-ba9f-4f39-be68-8297d3bd6a01}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{785b796e-5698-424f-a3fe-a7fc7355a69c}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{a1e3b125-67f2-4bef-8e4f-dc4bb0f5e4d1}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{772b4904-1d28-4669-9bdb-e32d64894b1f}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{bf6bf762-27bf-44b5-83fb-24ccb2222ac8}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{8e55fc96-d3ea-49d5-9856-a16c00c689db}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{8e8cc8bf-5b63-4475-826a-aebb3e3b1ed7}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{0822e657-84aa-4d9d-a453-9221938a4618}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{70d88003-000c-4417-83ad-6b887a5d4a43}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{f5cbb5fa-7e2a-4e10-a4b0-5c09aaf3bcb7}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{131effb5-4f80-4fa8-820a-ac1f122a013e}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{07998c92-8170-44d3-a347-1def9d086864}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{fa9207ee-10dc-4007-beac-6d9aca507d79}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{130605b9-b09c-4e6c-9fc7-35016dacd05a}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{e4538ed5-7d13-4909-abc2-2ece53a345bf}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{bdc930d1-c33b-4553-a4ca-72dc8aed250a}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{2ff0de9c-25f2-4739-b21e-bbfb12db70b6}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{9be2d5ae-b805-4716-a130-ec665728d065}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{ca047d1f-f2a4-43fa-8c2f-c81258430f42}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{f1fc00d5-7a15-41a3-a115-bb318171078c}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{8f126745-2cf4-4506-bd67-8c5af1ec0c34}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{11895db7-c030-4bfc-b32b-0680f7ca9d1e}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{94da479a-e63d-44d7-bd1d-b5bae148da0a}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{f835e745-914f-4f30-bf35-1bf687bf6fd1}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
	</dict>
	<key>events</key>
	<dict>
		<key>0</key>
		<dict>
			<key>elid</key>
			<string>0</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>0</string>
			<key>notes</key>
			<string>{174a268b-f9fb-4109-b64c-4015f173ead2}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>1</key>
		<dict>
			<key>elid</key>
			<string>1</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>500</string>
			<key>notes</key>
			<string>{62fb2198-c3d7-4288-8aff-f43a23552842}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>2</key>
		<dict>
			<key>elid</key>
			<string>2</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>1000</string>
			<key>notes</key>
			<string>{7215cc0b-1c0c-41f4-8baf-8e0b7b32ad29} {2b431d90-fef4-4440-abc2-c1d701e2dd5e}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>3</key>
		<dict>
			<key>elid</key>
			<string>3</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>1500</string>
			<key>notes</key>
			<string>{79246f1c-c741-4b77-96af-1b679e9ffceb}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>4</key>
		<dict>
			<key>elid</key>
			<string>4</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>2000</string>
			<key>notes</key>
			<string>{3e690ed7-74ae-44f7-b1f9-8bd461a425e4}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>5</key>
		<dict>
			<key>elid</key>
			<string>5</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>2500</string>
			<key>notes</key>
			<string>{ba4d48de-3d47-4091-abe4-3ea17722533e} {a06091d1-00ff-4955-b0a0-2523b73cb755}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>6</key>
		<dict>
			<key>elid</key>
			<string>6</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>3000</string>
			<key>notes</key>
			<string>{1afd1064-98a5-4a00-8499-270f70a367bb}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>7</key>
		<dict>
			<key>elid</key>
			<string>7</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>3500</string>
			<key>notes</key>
			<string>{fe5c984e-74dd-4b52-9d08-6891606f923b} {69d498c6-2a73-47c3-b04f-e2eaf844c1e1}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>8</key>
		<dict>
			<key>elid</key>
			<string>8</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>4000</string>
			<key>notes</key>
			<string>{cc545609-0940-421c-8fe1-235fda8c3925} {78f271ba-8c98-4599-8e12-a3b896574f0b}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>9</key>
		<dict>
			<key>elid</key>
			<string>9</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>4500</string>
			<key>notes</key>
			<string>{4c77609f-7fb3-4403-9513-a77dca9220e8} {929ab9cc-cfa2-4d6a-bc87-dfa0dce24978}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>10</key>
		<dict>
			<key>elid</key>
			<string>10</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>6000</string>
			<key>notes</key>
			<string>{ce431fb5-2dec-4b31-b31e-cc13799db0bc}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>11</key>
		<dict>
			<key>elid</key>
			<string>11</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>6500</string>
			<key>notes</key>
			<string>{67cec657-af56-4c17-9bdf-acc94268ac5d}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>12</key>
		<dict>
			<key>elid</key>
			<string>12</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>7000</string>
			<key>notes</key>
			<string>{0412f936-8200-4578-997b-5aeb4a8ed684} {30f8d0f1-fcf9-403f-92e4-0a25ef898966}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>13</key>
		<dict>
			<key>elid</key>
			<string>13</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>7500</string>
			<key>notes</key>
			<string>{dd064fc3-d938-4351-ac4d-9a6e28dabdb8}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>14</key>
		<dict>
			<key>elid</key>
			<string>14</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>8000</string>
			<key>notes</key>
			<string>{7088253d-01c5-4b2f-84d5-74cc5288365d}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>15</key>
		<dict>
			<key>elid</key>
			<string>15</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>8500</string>
			<key>notes</key>
			<string>{2d29aae6-32cd-4f58-be7e-31b566510539} {18a36548-c4da-440d-a8d4-231721664b62}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>16</key>
		<dict>
			<key>elid</key>
			<string>16</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>9000</string>
			<key>notes</key>
			<string>{17ce3107-5b33-4fc1-b237-8effb50cf210}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>17</key>
		<dict>
			<key>elid</key>
			<string>17</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>9500</string>
			<key>notes</key>
			<string>{017ef56e-5510-4c7a-bf65-c075bf733c99} {547327a9-3b20-43d3-9db7-102241534bf0}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>18</key>
		<dict>
			<key>elid</key>
			<string>18</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>10000</string>
			<key>notes</key>
			<string>{e076f58e-4a8c-477f-9fbc-2f371b78e4d6} {1f5bf7f7-f428-473e-8b86-8d243e3188af}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>19</key>
		<dict>
			<key>elid</key>
			<string>19</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>10500</string>
			<key>notes</key>
			<string>{876f4c31-3c3f-42bd-8f75-250a86cae149} {d7a70d86-2167-4bac-894b-0188c0ef0c4b}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>20</key>
		<dict>
			<key>elid</key>
			<string>20</string>
			<key>sysno</key>
			<string>6</string>
			<key>position</key>
			<string>12000</string>
			<key>notes</key>
			<string>{951441fd-a5c4-470a-b6b6-6518f3e08727} {54f3b4db-92eb-4d34-ad5f-a8bdebccd08b} {9222b219-8b8d-4f7a-ae0b-aa77dbaaec3d}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>21</key>
		<dict>
			<key>elid</key>
			<string>21</string>
			<key>sysno</key>
			<string>6</string>
			<key>position</key>
			<string>12500</string>
			<key>notes</key>
			<string>{68f65826-4410-4ebc-ae60-b895dd416993}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>22</key>
		<dict>
			<key>elid</key>
			<string>22</string>
			<key>sysno</key>
			<string>6</string>
			<key>position</key>
			<string>13000</string>
			<key>notes</key>
			<string>{c89eeaff-c6a3-4c07-85dd-a3900fcf8751}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>23</key>
		<dict>
			<key>elid</key>
			<string>23</string>
			<key>sysno</key>
			<string>6</string>
			<key>position</key>
			<string>13500</string>
			<key>notes</key>
			<string>{e1ab972c-f560-4f12-892a-334a3e807e2e} {411ad602-3799-4c5d-91da-a398b7079616} {dfdf44a5-0a3b-42c8-b0f7-979bb2cfa79b}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>24</key>
		<dict>
			<key>elid</key>
			<string>24</string>
			<key>sysno</key>
			<string>6</string>
			<key>position</key>
			<string>14500</string>
			<key>notes</key>
			<string>{265a35dd-d7f9-4588-a365-7518f096b8c3}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>25</key>
		<dict>
			<key>elid</key>
			<string>25</string>
			<key>sysno</key>
			<string>6</string>
			<key>position</key>
			<string>15000</string>
			<key>notes</key>
			<string>{fcf556ee-ba9f-4f39-be68-8297d3bd6a01} {785b796e-5698-424f-a3fe-a7fc7355a69c} {a1e3b125-67f2-4bef-8e4f-dc4bb0f5e4d1}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>26</key>
		<dict>
			<key>elid</key>
			<string>26</string>
			<key>sysno</key>
			<string>6</string>
			<key>position</key>
			<string>15500</string>
			<key>notes</key>
			<string>{772b4904-1d28-4669-9bdb-e32d64894b1f}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>27</key>
		<dict>
			<key>elid</key>
			<string>27</string>
			<key>sysno</key>
			<string>6</string>
			<key>position</key>
			<string>16000</string>
			<key>notes</key>
			<string>{bf6bf762-27bf-44b5-83fb-24ccb2222ac8}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>28</key>
		<dict>
			<key>elid</key>
			<string>28</string>
			<key>sysno</key>
			<string>6</string>
			<key>position</key>
			<string>16500</string>
			<key>notes</key>
			<string>{8e55fc96-d3ea-49d5-9856-a16c00c689db} {8e8cc8bf-5b63-4475-826a-aebb3e3b1ed7} {0822e657-84aa-4d9d-a453-9221938a4618}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>29</key>
		<dict>
			<key>elid</key>
			<string>29</string>
			<key>sysno</key>
			<string>8</string>
			<key>position</key>
			<string>18000</string>
			<key>notes</key>
			<string>{70d88003-000c-4417-83ad-6b887a5d4a43}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>30</key>
		<dict>
			<key>elid</key>
			<string>30</string>
			<key>sysno</key>
			<string>8</string>
			<key>position</key>
			<string>18500</string>
			<key>notes</key>
			<string>{f5cbb5fa-7e2a-4e10-a4b0-5c09aaf3bcb7}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>31</key>
		<dict>
			<key>elid</key>
			<string>31</string>
			<key>sysno</key>
			<string>8</string>
			<key>position</key>
			<string>19000</string>
			<key>notes</key>
			<string>{131effb5-4f80-4fa8-820a-ac1f122a013e} {07998c92-8170-44d3-a347-1def9d086864}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>32</key>
		<dict>
			<key>elid</key>
			<string>32</string>
			<key>sysno</key>
			<string>8</string>
			<key>position</key>
			<string>19500</string>
			<key>notes</key>
			<string>{fa9207ee-10dc-4007-beac-6d9aca507d79}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>33</key>
		<dict>
			<key>elid</key>
			<string>33</string>
			<key>sysno</key>
			<string>8</string>
			<key>position</key>
			<string>20000</string>
			<key>notes</key>
			<string>{130605b9-b09c-4e6c-9fc7-35016dacd05a}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>34</key>
		<dict>
			<key>elid</key>
			<string>34</string>
			<key>sysno</key>
			<string>8</string>
			<key>position</key>
			<string>20500</string>
			<key>notes</key>
			<string>{e4538ed5-7d13-4909-abc2-2ece53a345bf} {bdc930d1-c33b-4553-a4ca-72dc8aed250a}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>35</key>
		<dict>
			<key>elid</key>
			<string>35</string>
			<key>sysno</key>
			<string>8</string>
			<key>position</key>
			<string>21000</string>
			<key>notes</key>
			<string>{2ff0de9c-25f2-4739-b21e-bbfb12db70b6}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>36</key>
		<dict>
			<key>elid</key>
			<string>36</string>
			<key>sysno</key>
			<string>8</string>
			<key>position</key>
			<string>21500</string>
			<key>notes</key>
			<string>{9be2d5ae-b805-4716-a130-ec665728d065} {ca047d1f-f2a4-43fa-8c2f-c81258430f42}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>37</key>
		<dict>
			<key>elid</key>
			<string>37</string>
			<key>sysno</key>
			<string>8</string>
			<key>position</key>
			<string>22000</string>
			<key>notes</key>
			<string>{f1fc00d5-7a15-41a3-a115-bb318171078c} {8f126745-2cf4-4506-bd67-8c5af1ec0c34}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>38</key>
		<dict>
			<key>elid</key>
			<string>38</string>
			<key>sysno</key>
			<string>8</string>
			<key>position</key>
			<string>22500</string>
			<key>notes</key>
			<string>{11895db7-c030-4bfc-b32b-0680f7ca9d1e} {94da479a-e63d-44d7-bd1d-b5bae148da0a} {f835e745-914f-4f30-bf35-1bf687bf6fd1}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
	</dict>
	<key>metronomes</key>
	<dict>
		<key>0</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>1000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>1500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>2000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>2500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>3000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>3500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>4000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>4500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>5000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>5500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>6000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>6500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>7000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>7500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>8000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>8500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>9000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>9500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>10000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>10500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>11000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>11500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>12000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>12500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>13000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>13500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>14000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>14500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>15000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>15500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>16000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>16500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>17000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>17500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>18000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>18500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>19000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>19500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>20000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>20500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>21000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>21500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>22000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>22500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>23000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>23500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
	</dict>
</dict>
</plist>