<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>99.1733</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>134.293</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>240.173</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>275.293</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>381.173</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>416.293</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>7</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>522.174</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>557.294</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>9</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>663.174</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>698.294</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>11</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>804.374</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>839.494</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{38431b6b-a30c-49e0-9c12-b2e3a4baafc1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ed339549-9ae0-4d20-a304-643a6c8b0ae5}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6fa536a5-2c44-4f3b-9a91-e27ee95541de}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8abfa074-32f3-4a17-9d12-1d15d5b2d07a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{bd71e547-7662-4502-9c3b-35903507083e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a940dc5f-0c42-438a-a088-7f1446838f3b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{163f997d-6a23-45d9-8238-f73fb8d409bc}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{47ffaf6e-1499-4eb9-a0af-a4362bbae818}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{04b8ee89-8813-41b1-ae49-7855be30c369}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{102ac106-7bad-4f33-a43e-2bf1f3f769b7}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{05bccb41-5e17-457c-b21f-9165da8e9510}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6cf9471a-c759-4f8e-85c6-a03025dbdb3a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{78b2dea7-dd71-4221-822b-21b4cc81f10f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6466e53d-4694-435e-ab8d-2307a3ace427}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{983672c6-726d-4acb-8c81-19ea58e1ec52}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{03d7fe9b-fd58-417f-9da1-9f3ed084f407}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{975777cd-d210-4703-9b38-957c5b2a5992}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{11559655-c323-44c8-a809-696f6b38ddbb}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{cce0d85c-446f-4af7-9e54-cf23e33d163f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{bdc933c6-1141-4f62-9941-2c0e882fa40a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e732bb9c-0175-4dcd-b71b-23c7de412b2d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{5d62bafc-ae8c-4fac-afbe-ba0d792dec51}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{3959d9e5-7ae5-45a4-971f-0404096ca90b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e5f27c19-17bc-41d3-86ad-5467b767d458}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{73c846fc-0208-42c1-b8af-9f9aa06f2b9b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e6329161-92c0-44ad-af30-ce1c0fc6b720}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{fe0f4642-386f-4c2c-ad58-5bf0833ee308}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{82b32e95-309a-44b8-86d9-ed8e4f85feb7}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{155c342b-95ab-4af1-af20-743ada6a50f4}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{45cd8118-a4a5-4f49-9a66-4a46f86bb0c1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1fad70f6-5dda-47db-a4a4-3147cb0d4da0}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7aeb5a42-30d5-4797-8d43-99907d0e68b3}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c6b4d942-408d-4ea1-a9e4-44ac4971256c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c669f008-36a0-4202-9c29-879179933fc9}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{81b3953f-a469-4a48-8ae9-9b7eb6dc8807}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7f676d86-d2cc-43a0-863f-bafbc2252746}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b11a876b-10d4-46dd-8ec5-3025e44fcbad}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e8ef1bdb-ec5c-4670-b588-b16e111a2bf0}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{fd92e8bb-cdea-4431-a4d7-a3c0c9f7e51e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{fe675ebf-4721-4afc-b906-47affb2a5fcc}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1ef109a4-2c1e-4ff1-8a0c-0089a9c21995}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f467fd4e-c859-4462-aeff-f54368426dab}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b855d12f-6e6e-4562-9d13-08bf0af65550}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c4971d85-d662-468b-8ec3-321aa632f68f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{20e9fcfe-e80a-4374-a077-09ff56dc2d6f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{5494d9be-af7c-4ef3-ae98-7637071a2e0a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{57e5bd5d-60be-483d-ab32-e8109c7ac11a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{cc2dbf57-5a22-4744-9413-492f038c7fb6}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{69e3a4a5-03cf-41f2-b35a-4a94071777db}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{da385d07-d1bc-4c1c-bb1d-f93edc7088d2}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{edc3ab2a-1c03-4e41-ac51-98eff6475602}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7dead948-a69d-4c29-ad8b-784d39e0f2df}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{cb1796f2-2f7f-4f2e-ba1d-f020f7ef4460}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8f2d9b1e-7c51-4aef-991f-330a7a5f38d7}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{59161f4a-bde4-48d9-b988-a130756a00c6}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1cd18410-8583-4ee4-80c9-7d2cf06b0867}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{5040c07f-0770-4f97-aebb-5597f40edf25}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{019e839e-94d2-4600-9d7c-1bd956407995}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{781f903a-71f5-4ff5-8ba2-b06aa75944c3}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{662416c0-a8cb-4c66-a99b-459e23f404e2}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{3adf3d9d-e09f-463c-a102-dce52aa8c83e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{0d4b0889-4f3f-425b-8953-ce501257000d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{0b020185-7147-4524-8a21-a24266dd482c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{ed339549-9ae0-4d20-a304-643a6c8b0ae5}</key>
		<dict>
			<key>x1</key>
			<string>453.873</string>
			<key>y1</key>
			<string>712.458</string>
			<key>x2</key>
			<string>453.873</string>
			<key>y2</key>
			<string>734.174</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{38431b6b-a30c-49e0-9c12-b2e3a4baafc1}</key>
		<dict>
			<key>x1</key>
			<string>453.873</string>
			<key>y1</key>
			<string>712.458</string>
			<key>x2</key>
			<string>453.873</string>
			<key>y2</key>
			<string>734.174</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{6fa536a5-2c44-4f3b-9a91-e27ee95541de}</key>
		<dict>
			<key>x1</key>
			<string>460.167</string>
			<key>y1</key>
			<string>677.406</string>
			<key>x2</key>
			<string>460.167</string>
			<key>y2</key>
			<string>661.299</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{8abfa074-32f3-4a17-9d12-1d15d5b2d07a}</key>
		<dict>
			<key>x1</key>
			<string>404.491</string>
			<key>y1</key>
			<string>710.113</string>
			<key>x2</key>
			<string>404.491</string>
			<key>y2</key>
			<string>726.674</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{bd71e547-7662-4502-9c3b-35903507083e}</key>
		<dict>
			<key>x1</key>
			<string>410.424</string>
			<key>y1</key>
			<string>674.735</string>
			<key>x2</key>
			<string>410.424</string>
			<key>y2</key>
			<string>659.424</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{a940dc5f-0c42-438a-a088-7f1446838f3b}</key>
		<dict>
			<key>x1</key>
			<string>361.909</string>
			<key>y1</key>
			<string>707.613</string>
			<key>x2</key>
			<string>361.909</string>
			<key>y2</key>
			<string>724.174</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{163f997d-6a23-45d9-8238-f73fb8d409bc}</key>
		<dict>
			<key>x1</key>
			<string>361.909</string>
			<key>y1</key>
			<string>674.113</string>
			<key>x2</key>
			<string>361.909</string>
			<key>y2</key>
			<string>688.799</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{47ffaf6e-1499-4eb9-a0af-a4362bbae818}</key>
		<dict>
			<key>x1</key>
			<string>319.327</string>
			<key>y1</key>
			<string>669.113</string>
			<key>x2</key>
			<string>319.327</string>
			<key>y2</key>
			<string>685.049</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{04b8ee89-8813-41b1-ae49-7855be30c369}</key>
		<dict>
			<key>x1</key>
			<string>271.383</string>
			<key>y1</key>
			<string>717.613</string>
			<key>x2</key>
			<string>271.383</string>
			<key>y2</key>
			<string>734.174</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{102ac106-7bad-4f33-a43e-2bf1f3f769b7}</key>
		<dict>
			<key>x1</key>
			<string>271.383</string>
			<key>y1</key>
			<string>674.113</string>
			<key>x2</key>
			<string>271.383</string>
			<key>y2</key>
			<string>688.799</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{05bccb41-5e17-457c-b21f-9165da8e9510}</key>
		<dict>
			<key>x1</key>
			<string>230.707</string>
			<key>y1</key>
			<string>712.613</string>
			<key>x2</key>
			<string>230.707</string>
			<key>y2</key>
			<string>729.174</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{6cf9471a-c759-4f8e-85c6-a03025dbdb3a}</key>
		<dict>
			<key>x1</key>
			<string>189.851</string>
			<key>y1</key>
			<string>668.958</string>
			<key>x2</key>
			<string>189.851</string>
			<key>y2</key>
			<string>685.049</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{78b2dea7-dd71-4221-822b-21b4cc81f10f}</key>
		<dict>
			<key>x1</key>
			<string>143.597</string>
			<key>y1</key>
			<string>717.613</string>
			<key>x2</key>
			<string>143.597</string>
			<key>y2</key>
			<string>734.174</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{6466e53d-4694-435e-ab8d-2307a3ace427}</key>
		<dict>
			<key>x1</key>
			<string>143.597</string>
			<key>y1</key>
			<string>674.113</string>
			<key>x2</key>
			<string>143.597</string>
			<key>y2</key>
			<string>688.799</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{983672c6-726d-4acb-8c81-19ea58e1ec52}</key>
		<dict>
			<key>x1</key>
			<string>104.432</string>
			<key>y1</key>
			<string>712.613</string>
			<key>x2</key>
			<string>104.432</string>
			<key>y2</key>
			<string>729.174</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{03d7fe9b-fd58-417f-9da1-9f3ed084f407}</key>
		<dict>
			<key>x1</key>
			<string>65.0863</string>
			<key>y1</key>
			<string>668.958</string>
			<key>x2</key>
			<string>65.0863</string>
			<key>y2</key>
			<string>685.049</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{11559655-c323-44c8-a809-696f6b38ddbb}</key>
		<dict>
			<key>x1</key>
			<string>453.89</string>
			<key>y1</key>
			<string>566.458</string>
			<key>x2</key>
			<string>453.89</string>
			<key>y2</key>
			<string>588.174</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{975777cd-d210-4703-9b38-957c5b2a5992}</key>
		<dict>
			<key>x1</key>
			<string>453.89</string>
			<key>y1</key>
			<string>566.458</string>
			<key>x2</key>
			<string>453.89</string>
			<key>y2</key>
			<string>588.174</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{cce0d85c-446f-4af7-9e54-cf23e33d163f}</key>
		<dict>
			<key>x1</key>
			<string>453.89</string>
			<key>y1</key>
			<string>530.458</string>
			<key>x2</key>
			<string>453.89</string>
			<key>y2</key>
			<string>545.924</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{bdc933c6-1141-4f62-9941-2c0e882fa40a}</key>
		<dict>
			<key>x1</key>
			<string>405.75</string>
			<key>y1</key>
			<string>530.613</string>
			<key>x2</key>
			<string>405.75</string>
			<key>y2</key>
			<string>545.924</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{e732bb9c-0175-4dcd-b71b-23c7de412b2d}</key>
		<dict>
			<key>x1</key>
			<string>364.411</string>
			<key>y1</key>
			<string>533.113</string>
			<key>x2</key>
			<string>364.411</string>
			<key>y2</key>
			<string>547.799</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{3959d9e5-7ae5-45a4-971f-0404096ca90b}</key>
		<dict>
			<key>x1</key>
			<string>322.891</string>
			<key>y1</key>
			<string>566.458</string>
			<key>x2</key>
			<string>322.891</string>
			<key>y2</key>
			<string>588.174</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{5d62bafc-ae8c-4fac-afbe-ba0d792dec51}</key>
		<dict>
			<key>x1</key>
			<string>322.891</string>
			<key>y1</key>
			<string>566.458</string>
			<key>x2</key>
			<string>322.891</string>
			<key>y2</key>
			<string>588.174</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{e5f27c19-17bc-41d3-86ad-5467b767d458}</key>
		<dict>
			<key>x1</key>
			<string>323.072</string>
			<key>y1</key>
			<string>533.113</string>
			<key>x2</key>
			<string>323.072</string>
			<key>y2</key>
			<string>547.799</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{73c846fc-0208-42c1-b8af-9f9aa06f2b9b}</key>
		<dict>
			<key>x1</key>
			<string>278.814</string>
			<key>y1</key>
			<string>533.734</string>
			<key>x2</key>
			<string>278.814</string>
			<key>y2</key>
			<string>518.424</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{fe0f4642-386f-4c2c-ad58-5bf0833ee308}</key>
		<dict>
			<key>x1</key>
			<string>203.565</string>
			<key>y1</key>
			<string>566.458</string>
			<key>x2</key>
			<string>203.565</string>
			<key>y2</key>
			<string>585.674</string>
			<key>height</key>
			<string>20</string>
		</dict>
		<key>{e6329161-92c0-44ad-af30-ce1c0fc6b720}</key>
		<dict>
			<key>x1</key>
			<string>203.565</string>
			<key>y1</key>
			<string>566.458</string>
			<key>x2</key>
			<string>203.565</string>
			<key>y2</key>
			<string>585.674</string>
			<key>height</key>
			<string>20</string>
		</dict>
		<key>{82b32e95-309a-44b8-86d9-ed8e4f85feb7}</key>
		<dict>
			<key>x1</key>
			<string>203.565</string>
			<key>y1</key>
			<string>527.958</string>
			<key>x2</key>
			<string>203.565</string>
			<key>y2</key>
			<string>544.049</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{155c342b-95ab-4af1-af20-743ada6a50f4}</key>
		<dict>
			<key>x1</key>
			<string>150.738</string>
			<key>y1</key>
			<string>533.113</string>
			<key>x2</key>
			<string>150.738</string>
			<key>y2</key>
			<string>547.799</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{45cd8118-a4a5-4f49-9a66-4a46f86bb0c1}</key>
		<dict>
			<key>x1</key>
			<string>116.938</string>
			<key>y1</key>
			<string>533.734</string>
			<key>x2</key>
			<string>116.938</string>
			<key>y2</key>
			<string>518.424</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{7aeb5a42-30d5-4797-8d43-99907d0e68b3}</key>
		<dict>
			<key>x1</key>
			<string>71.0918</string>
			<key>y1</key>
			<string>566.458</string>
			<key>x2</key>
			<string>71.0918</string>
			<key>y2</key>
			<string>585.674</string>
			<key>height</key>
			<string>20</string>
		</dict>
		<key>{1fad70f6-5dda-47db-a4a4-3147cb0d4da0}</key>
		<dict>
			<key>x1</key>
			<string>71.0918</string>
			<key>y1</key>
			<string>566.458</string>
			<key>x2</key>
			<string>71.0918</string>
			<key>y2</key>
			<string>585.674</string>
			<key>height</key>
			<string>20</string>
		</dict>
		<key>{c6b4d942-408d-4ea1-a9e4-44ac4971256c}</key>
		<dict>
			<key>x1</key>
			<string>77.2051</string>
			<key>y1</key>
			<string>533.734</string>
			<key>x2</key>
			<string>77.2051</string>
			<key>y2</key>
			<string>518.424</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{c669f008-36a0-4202-9c29-879179933fc9}</key>
		<dict>
			<key>x1</key>
			<string>453.873</string>
			<key>y1</key>
			<string>430.457</string>
			<key>x2</key>
			<string>453.873</string>
			<key>y2</key>
			<string>447.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{81b3953f-a469-4a48-8ae9-9b7eb6dc8807}</key>
		<dict>
			<key>x1</key>
			<string>460.167</string>
			<key>y1</key>
			<string>395.405</string>
			<key>x2</key>
			<string>460.167</string>
			<key>y2</key>
			<string>379.298</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{7f676d86-d2cc-43a0-863f-bafbc2252746}</key>
		<dict>
			<key>x1</key>
			<string>404.491</string>
			<key>y1</key>
			<string>428.113</string>
			<key>x2</key>
			<string>404.491</string>
			<key>y2</key>
			<string>444.673</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{b11a876b-10d4-46dd-8ec5-3025e44fcbad}</key>
		<dict>
			<key>x1</key>
			<string>410.424</string>
			<key>y1</key>
			<string>392.734</string>
			<key>x2</key>
			<string>410.424</string>
			<key>y2</key>
			<string>377.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{e8ef1bdb-ec5c-4670-b588-b16e111a2bf0}</key>
		<dict>
			<key>x1</key>
			<string>361.909</string>
			<key>y1</key>
			<string>425.613</string>
			<key>x2</key>
			<string>361.909</string>
			<key>y2</key>
			<string>442.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{fd92e8bb-cdea-4431-a4d7-a3c0c9f7e51e}</key>
		<dict>
			<key>x1</key>
			<string>361.909</string>
			<key>y1</key>
			<string>392.113</string>
			<key>x2</key>
			<string>361.909</string>
			<key>y2</key>
			<string>406.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{fe675ebf-4721-4afc-b906-47affb2a5fcc}</key>
		<dict>
			<key>x1</key>
			<string>319.327</string>
			<key>y1</key>
			<string>387.113</string>
			<key>x2</key>
			<string>319.327</string>
			<key>y2</key>
			<string>403.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{1ef109a4-2c1e-4ff1-8a0c-0089a9c21995}</key>
		<dict>
			<key>x1</key>
			<string>271.383</string>
			<key>y1</key>
			<string>435.613</string>
			<key>x2</key>
			<string>271.383</string>
			<key>y2</key>
			<string>452.174</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{f467fd4e-c859-4462-aeff-f54368426dab}</key>
		<dict>
			<key>x1</key>
			<string>271.383</string>
			<key>y1</key>
			<string>392.113</string>
			<key>x2</key>
			<string>271.383</string>
			<key>y2</key>
			<string>406.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{b855d12f-6e6e-4562-9d13-08bf0af65550}</key>
		<dict>
			<key>x1</key>
			<string>230.707</string>
			<key>y1</key>
			<string>430.613</string>
			<key>x2</key>
			<string>230.707</string>
			<key>y2</key>
			<string>447.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{c4971d85-d662-468b-8ec3-321aa632f68f}</key>
		<dict>
			<key>x1</key>
			<string>189.851</string>
			<key>y1</key>
			<string>386.957</string>
			<key>x2</key>
			<string>189.851</string>
			<key>y2</key>
			<string>403.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{20e9fcfe-e80a-4374-a077-09ff56dc2d6f}</key>
		<dict>
			<key>x1</key>
			<string>143.597</string>
			<key>y1</key>
			<string>435.613</string>
			<key>x2</key>
			<string>143.597</string>
			<key>y2</key>
			<string>452.174</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{5494d9be-af7c-4ef3-ae98-7637071a2e0a}</key>
		<dict>
			<key>x1</key>
			<string>143.597</string>
			<key>y1</key>
			<string>392.113</string>
			<key>x2</key>
			<string>143.597</string>
			<key>y2</key>
			<string>406.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{57e5bd5d-60be-483d-ab32-e8109c7ac11a}</key>
		<dict>
			<key>x1</key>
			<string>104.432</string>
			<key>y1</key>
			<string>430.613</string>
			<key>x2</key>
			<string>104.432</string>
			<key>y2</key>
			<string>447.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{cc2dbf57-5a22-4744-9413-492f038c7fb6}</key>
		<dict>
			<key>x1</key>
			<string>65.0863</string>
			<key>y1</key>
			<string>386.957</string>
			<key>x2</key>
			<string>65.0863</string>
			<key>y2</key>
			<string>403.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{69e3a4a5-03cf-41f2-b35a-4a94071777db}</key>
		<dict>
			<key>x1</key>
			<string>453.873</string>
			<key>y1</key>
			<string>289.457</string>
			<key>x2</key>
			<string>453.873</string>
			<key>y2</key>
			<string>306.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{da385d07-d1bc-4c1c-bb1d-f93edc7088d2}</key>
		<dict>
			<key>x1</key>
			<string>460.167</string>
			<key>y1</key>
			<string>254.405</string>
			<key>x2</key>
			<string>460.167</string>
			<key>y2</key>
			<string>238.298</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{edc3ab2a-1c03-4e41-ac51-98eff6475602}</key>
		<dict>
			<key>x1</key>
			<string>404.491</string>
			<key>y1</key>
			<string>287.112</string>
			<key>x2</key>
			<string>404.491</string>
			<key>y2</key>
			<string>303.673</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{7dead948-a69d-4c29-ad8b-784d39e0f2df}</key>
		<dict>
			<key>x1</key>
			<string>410.424</string>
			<key>y1</key>
			<string>251.734</string>
			<key>x2</key>
			<string>410.424</string>
			<key>y2</key>
			<string>236.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{cb1796f2-2f7f-4f2e-ba1d-f020f7ef4460}</key>
		<dict>
			<key>x1</key>
			<string>361.909</string>
			<key>y1</key>
			<string>284.612</string>
			<key>x2</key>
			<string>361.909</string>
			<key>y2</key>
			<string>301.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{8f2d9b1e-7c51-4aef-991f-330a7a5f38d7}</key>
		<dict>
			<key>x1</key>
			<string>361.909</string>
			<key>y1</key>
			<string>251.112</string>
			<key>x2</key>
			<string>361.909</string>
			<key>y2</key>
			<string>265.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{59161f4a-bde4-48d9-b988-a130756a00c6}</key>
		<dict>
			<key>x1</key>
			<string>319.327</string>
			<key>y1</key>
			<string>246.112</string>
			<key>x2</key>
			<string>319.327</string>
			<key>y2</key>
			<string>262.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{1cd18410-8583-4ee4-80c9-7d2cf06b0867}</key>
		<dict>
			<key>x1</key>
			<string>271.383</string>
			<key>y1</key>
			<string>294.612</string>
			<key>x2</key>
			<string>271.383</string>
			<key>y2</key>
			<string>311.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{5040c07f-0770-4f97-aebb-5597f40edf25}</key>
		<dict>
			<key>x1</key>
			<string>271.383</string>
			<key>y1</key>
			<string>251.112</string>
			<key>x2</key>
			<string>271.383</string>
			<key>y2</key>
			<string>265.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{019e839e-94d2-4600-9d7c-1bd956407995}</key>
		<dict>
			<key>x1</key>
			<string>230.707</string>
			<key>y1</key>
			<string>289.612</string>
			<key>x2</key>
			<string>230.707</string>
			<key>y2</key>
			<string>306.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{781f903a-71f5-4ff5-8ba2-b06aa75944c3}</key>
		<dict>
			<key>x1</key>
			<string>189.851</string>
			<key>y1</key>
			<string>245.957</string>
			<key>x2</key>
			<string>189.851</string>
			<key>y2</key>
			<string>262.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{662416c0-a8cb-4c66-a99b-459e23f404e2}</key>
		<dict>
			<key>x1</key>
			<string>143.597</string>
			<key>y1</key>
			<string>294.612</string>
			<key>x2</key>
			<string>143.597</string>
			<key>y2</key>
			<string>311.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{3adf3d9d-e09f-463c-a102-dce52aa8c83e}</key>
		<dict>
			<key>x1</key>
			<string>143.597</string>
			<key>y1</key>
			<string>251.112</string>
			<key>x2</key>
			<string>143.597</string>
			<key>y2</key>
			<string>265.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{0d4b0889-4f3f-425b-8953-ce501257000d}</key>
		<dict>
			<key>x1</key>
			<string>104.432</string>
			<key>y1</key>
			<string>289.612</string>
			<key>x2</key>
			<string>104.432</string>
			<key>y2</key>
			<string>306.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{0b020185-7147-4524-8a21-a24266dd482c}</key>
		<dict>
			<key>x1</key>
			<string>65.0863</string>
			<key>y1</key>
			<string>245.957</string>
			<key>x2</key>
			<string>65.0863</string>
			<key>y2</key>
			<string>262.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
	</dict>
</dict>
</plist>