<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>99.1733</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>134.293</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>240.173</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>275.293</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>6</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>381.173</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>416.293</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>8</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>522.174</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>557.294</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{f835e745-914f-4f30-bf35-1bf687bf6fd1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{94da479a-e63d-44d7-bd1d-b5bae148da0a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{11895db7-c030-4bfc-b32b-0680f7ca9d1e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8f126745-2cf4-4506-bd67-8c5af1ec0c34}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f1fc00d5-7a15-41a3-a115-bb318171078c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ca047d1f-f2a4-43fa-8c2f-c81258430f42}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{9be2d5ae-b805-4716-a130-ec665728d065}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{2ff0de9c-25f2-4739-b21e-bbfb12db70b6}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{bdc930d1-c33b-4553-a4ca-72dc8aed250a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e4538ed5-7d13-4909-abc2-2ece53a345bf}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{130605b9-b09c-4e6c-9fc7-35016dacd05a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{fa9207ee-10dc-4007-beac-6d9aca507d79}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{07998c92-8170-44d3-a347-1def9d086864}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{131effb5-4f80-4fa8-820a-ac1f122a013e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f5cbb5fa-7e2a-4e10-a4b0-5c09aaf3bcb7}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{70d88003-000c-4417-83ad-6b887a5d4a43}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{0822e657-84aa-4d9d-a453-9221938a4618}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8e8cc8bf-5b63-4475-826a-aebb3e3b1ed7}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8e55fc96-d3ea-49d5-9856-a16c00c689db}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{bf6bf762-27bf-44b5-83fb-24ccb2222ac8}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{772b4904-1d28-4669-9bdb-e32d64894b1f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a1e3b125-67f2-4bef-8e4f-dc4bb0f5e4d1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{785b796e-5698-424f-a3fe-a7fc7355a69c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{fcf556ee-ba9f-4f39-be68-8297d3bd6a01}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{265a35dd-d7f9-4588-a365-7518f096b8c3}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{dfdf44a5-0a3b-42c8-b0f7-979bb2cfa79b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{411ad602-3799-4c5d-91da-a398b7079616}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e1ab972c-f560-4f12-892a-334a3e807e2e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c89eeaff-c6a3-4c07-85dd-a3900fcf8751}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{68f65826-4410-4ebc-ae60-b895dd416993}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{9222b219-8b8d-4f7a-ae0b-aa77dbaaec3d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{54f3b4db-92eb-4d34-ad5f-a8bdebccd08b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{951441fd-a5c4-470a-b6b6-6518f3e08727}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{d7a70d86-2167-4bac-894b-0188c0ef0c4b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{876f4c31-3c3f-42bd-8f75-250a86cae149}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1f5bf7f7-f428-473e-8b86-8d243e3188af}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e076f58e-4a8c-477f-9fbc-2f371b78e4d6}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{547327a9-3b20-43d3-9db7-102241534bf0}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{017ef56e-5510-4c7a-bf65-c075bf733c99}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{17ce3107-5b33-4fc1-b237-8effb50cf210}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{18a36548-c4da-440d-a8d4-231721664b62}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{2d29aae6-32cd-4f58-be7e-31b566510539}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7088253d-01c5-4b2f-84d5-74cc5288365d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{dd064fc3-d938-4351-ac4d-9a6e28dabdb8}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{30f8d0f1-fcf9-403f-92e4-0a25ef898966}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{0412f936-8200-4578-997b-5aeb4a8ed684}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{67cec657-af56-4c17-9bdf-acc94268ac5d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ce431fb5-2dec-4b31-b31e-cc13799db0bc}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{929ab9cc-cfa2-4d6a-bc87-dfa0dce24978}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{4c77609f-7fb3-4403-9513-a77dca9220e8}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{78f271ba-8c98-4599-8e12-a3b896574f0b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{cc545609-0940-421c-8fe1-235fda8c3925}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{69d498c6-2a73-47c3-b04f-e2eaf844c1e1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{fe5c984e-74dd-4b52-9d08-6891606f923b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1afd1064-98a5-4a00-8499-270f70a367bb}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a06091d1-00ff-4955-b0a0-2523b73cb755}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ba4d48de-3d47-4091-abe4-3ea17722533e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{3e690ed7-74ae-44f7-b1f9-8bd461a425e4}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{79246f1c-c741-4b77-96af-1b679e9ffceb}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{2b431d90-fef4-4440-abc2-c1d701e2dd5e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7215cc0b-1c0c-41f4-8baf-8e0b7b32ad29}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{62fb2198-c3d7-4288-8aff-f43a23552842}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{174a268b-f9fb-4109-b64c-4015f173ead2}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{94da479a-e63d-44d7-bd1d-b5bae148da0a}</key>
		<dict>
			<key>x1</key>
			<string>450.498</string>
			<key>y1</key>
			<string>571.458</string>
			<key>x2</key>
			<string>450.498</string>
			<key>y2</key>
			<string>593.174</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{f835e745-914f-4f30-bf35-1bf687bf6fd1}</key>
		<dict>
			<key>x1</key>
			<string>450.498</string>
			<key>y1</key>
			<string>571.458</string>
			<key>x2</key>
			<string>450.498</string>
			<key>y2</key>
			<string>593.174</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{11895db7-c030-4bfc-b32b-0680f7ca9d1e}</key>
		<dict>
			<key>x1</key>
			<string>456.792</string>
			<key>y1</key>
			<string>536.406</string>
			<key>x2</key>
			<string>456.792</string>
			<key>y2</key>
			<string>520.299</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{8f126745-2cf4-4506-bd67-8c5af1ec0c34}</key>
		<dict>
			<key>x1</key>
			<string>401.491</string>
			<key>y1</key>
			<string>569.113</string>
			<key>x2</key>
			<string>401.491</string>
			<key>y2</key>
			<string>585.674</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{f1fc00d5-7a15-41a3-a115-bb318171078c}</key>
		<dict>
			<key>x1</key>
			<string>407.424</string>
			<key>y1</key>
			<string>533.734</string>
			<key>x2</key>
			<string>407.424</string>
			<key>y2</key>
			<string>518.424</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{ca047d1f-f2a4-43fa-8c2f-c81258430f42}</key>
		<dict>
			<key>x1</key>
			<string>359.284</string>
			<key>y1</key>
			<string>566.613</string>
			<key>x2</key>
			<string>359.284</string>
			<key>y2</key>
			<string>583.174</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{9be2d5ae-b805-4716-a130-ec665728d065}</key>
		<dict>
			<key>x1</key>
			<string>359.284</string>
			<key>y1</key>
			<string>533.113</string>
			<key>x2</key>
			<string>359.284</string>
			<key>y2</key>
			<string>547.799</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{2ff0de9c-25f2-4739-b21e-bbfb12db70b6}</key>
		<dict>
			<key>x1</key>
			<string>317.077</string>
			<key>y1</key>
			<string>528.113</string>
			<key>x2</key>
			<string>317.077</string>
			<key>y2</key>
			<string>544.049</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{bdc930d1-c33b-4553-a4ca-72dc8aed250a}</key>
		<dict>
			<key>x1</key>
			<string>269.508</string>
			<key>y1</key>
			<string>576.613</string>
			<key>x2</key>
			<string>269.508</string>
			<key>y2</key>
			<string>593.174</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{e4538ed5-7d13-4909-abc2-2ece53a345bf}</key>
		<dict>
			<key>x1</key>
			<string>269.508</string>
			<key>y1</key>
			<string>533.113</string>
			<key>x2</key>
			<string>269.508</string>
			<key>y2</key>
			<string>547.799</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{130605b9-b09c-4e6c-9fc7-35016dacd05a}</key>
		<dict>
			<key>x1</key>
			<string>229.207</string>
			<key>y1</key>
			<string>571.613</string>
			<key>x2</key>
			<string>229.207</string>
			<key>y2</key>
			<string>588.174</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{fa9207ee-10dc-4007-beac-6d9aca507d79}</key>
		<dict>
			<key>x1</key>
			<string>188.726</string>
			<key>y1</key>
			<string>527.958</string>
			<key>x2</key>
			<string>188.726</string>
			<key>y2</key>
			<string>544.049</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{07998c92-8170-44d3-a347-1def9d086864}</key>
		<dict>
			<key>x1</key>
			<string>142.847</string>
			<key>y1</key>
			<string>576.613</string>
			<key>x2</key>
			<string>142.847</string>
			<key>y2</key>
			<string>593.174</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{131effb5-4f80-4fa8-820a-ac1f122a013e}</key>
		<dict>
			<key>x1</key>
			<string>142.847</string>
			<key>y1</key>
			<string>533.113</string>
			<key>x2</key>
			<string>142.847</string>
			<key>y2</key>
			<string>547.799</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{f5cbb5fa-7e2a-4e10-a4b0-5c09aaf3bcb7}</key>
		<dict>
			<key>x1</key>
			<string>104.057</string>
			<key>y1</key>
			<string>571.613</string>
			<key>x2</key>
			<string>104.057</string>
			<key>y2</key>
			<string>588.174</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{70d88003-000c-4417-83ad-6b887a5d4a43}</key>
		<dict>
			<key>x1</key>
			<string>65.0863</string>
			<key>y1</key>
			<string>527.958</string>
			<key>x2</key>
			<string>65.0863</string>
			<key>y2</key>
			<string>544.049</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{8e8cc8bf-5b63-4475-826a-aebb3e3b1ed7}</key>
		<dict>
			<key>x1</key>
			<string>453.89</string>
			<key>y1</key>
			<string>425.457</string>
			<key>x2</key>
			<string>453.89</string>
			<key>y2</key>
			<string>447.173</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{0822e657-84aa-4d9d-a453-9221938a4618}</key>
		<dict>
			<key>x1</key>
			<string>453.89</string>
			<key>y1</key>
			<string>425.457</string>
			<key>x2</key>
			<string>453.89</string>
			<key>y2</key>
			<string>447.173</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{8e55fc96-d3ea-49d5-9856-a16c00c689db}</key>
		<dict>
			<key>x1</key>
			<string>453.89</string>
			<key>y1</key>
			<string>389.457</string>
			<key>x2</key>
			<string>453.89</string>
			<key>y2</key>
			<string>404.923</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{bf6bf762-27bf-44b5-83fb-24ccb2222ac8}</key>
		<dict>
			<key>x1</key>
			<string>405.75</string>
			<key>y1</key>
			<string>389.613</string>
			<key>x2</key>
			<string>405.75</string>
			<key>y2</key>
			<string>404.923</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{772b4904-1d28-4669-9bdb-e32d64894b1f}</key>
		<dict>
			<key>x1</key>
			<string>364.411</string>
			<key>y1</key>
			<string>392.113</string>
			<key>x2</key>
			<string>364.411</string>
			<key>y2</key>
			<string>406.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{785b796e-5698-424f-a3fe-a7fc7355a69c}</key>
		<dict>
			<key>x1</key>
			<string>322.891</string>
			<key>y1</key>
			<string>425.457</string>
			<key>x2</key>
			<string>322.891</string>
			<key>y2</key>
			<string>447.173</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{a1e3b125-67f2-4bef-8e4f-dc4bb0f5e4d1}</key>
		<dict>
			<key>x1</key>
			<string>322.891</string>
			<key>y1</key>
			<string>425.457</string>
			<key>x2</key>
			<string>322.891</string>
			<key>y2</key>
			<string>447.173</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{fcf556ee-ba9f-4f39-be68-8297d3bd6a01}</key>
		<dict>
			<key>x1</key>
			<string>323.072</string>
			<key>y1</key>
			<string>392.113</string>
			<key>x2</key>
			<string>323.072</string>
			<key>y2</key>
			<string>406.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{265a35dd-d7f9-4588-a365-7518f096b8c3}</key>
		<dict>
			<key>x1</key>
			<string>278.814</string>
			<key>y1</key>
			<string>392.734</string>
			<key>x2</key>
			<string>278.814</string>
			<key>y2</key>
			<string>377.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{411ad602-3799-4c5d-91da-a398b7079616}</key>
		<dict>
			<key>x1</key>
			<string>203.565</string>
			<key>y1</key>
			<string>425.457</string>
			<key>x2</key>
			<string>203.565</string>
			<key>y2</key>
			<string>444.673</string>
			<key>height</key>
			<string>20</string>
		</dict>
		<key>{dfdf44a5-0a3b-42c8-b0f7-979bb2cfa79b}</key>
		<dict>
			<key>x1</key>
			<string>203.565</string>
			<key>y1</key>
			<string>425.457</string>
			<key>x2</key>
			<string>203.565</string>
			<key>y2</key>
			<string>444.673</string>
			<key>height</key>
			<string>20</string>
		</dict>
		<key>{e1ab972c-f560-4f12-892a-334a3e807e2e}</key>
		<dict>
			<key>x1</key>
			<string>203.565</string>
			<key>y1</key>
			<string>386.957</string>
			<key>x2</key>
			<string>203.565</string>
			<key>y2</key>
			<string>403.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{c89eeaff-c6a3-4c07-85dd-a3900fcf8751}</key>
		<dict>
			<key>x1</key>
			<string>150.738</string>
			<key>y1</key>
			<string>392.113</string>
			<key>x2</key>
			<string>150.738</string>
			<key>y2</key>
			<string>406.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{68f65826-4410-4ebc-ae60-b895dd416993}</key>
		<dict>
			<key>x1</key>
			<string>116.938</string>
			<key>y1</key>
			<string>392.734</string>
			<key>x2</key>
			<string>116.938</string>
			<key>y2</key>
			<string>377.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{54f3b4db-92eb-4d34-ad5f-a8bdebccd08b}</key>
		<dict>
			<key>x1</key>
			<string>71.0918</string>
			<key>y1</key>
			<string>425.457</string>
			<key>x2</key>
			<string>71.0918</string>
			<key>y2</key>
			<string>444.673</string>
			<key>height</key>
			<string>20</string>
		</dict>
		<key>{9222b219-8b8d-4f7a-ae0b-aa77dbaaec3d}</key>
		<dict>
			<key>x1</key>
			<string>71.0918</string>
			<key>y1</key>
			<string>425.457</string>
			<key>x2</key>
			<string>71.0918</string>
			<key>y2</key>
			<string>444.673</string>
			<key>height</key>
			<string>20</string>
		</dict>
		<key>{951441fd-a5c4-470a-b6b6-6518f3e08727}</key>
		<dict>
			<key>x1</key>
			<string>77.2051</string>
			<key>y1</key>
			<string>392.734</string>
			<key>x2</key>
			<string>77.2051</string>
			<key>y2</key>
			<string>377.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{d7a70d86-2167-4bac-894b-0188c0ef0c4b}</key>
		<dict>
			<key>x1</key>
			<string>453.873</string>
			<key>y1</key>
			<string>289.457</string>
			<key>x2</key>
			<string>453.873</string>
			<key>y2</key>
			<string>306.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{876f4c31-3c3f-42bd-8f75-250a86cae149}</key>
		<dict>
			<key>x1</key>
			<string>460.167</string>
			<key>y1</key>
			<string>254.405</string>
			<key>x2</key>
			<string>460.167</string>
			<key>y2</key>
			<string>238.298</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{1f5bf7f7-f428-473e-8b86-8d243e3188af}</key>
		<dict>
			<key>x1</key>
			<string>404.491</string>
			<key>y1</key>
			<string>287.112</string>
			<key>x2</key>
			<string>404.491</string>
			<key>y2</key>
			<string>303.673</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{e076f58e-4a8c-477f-9fbc-2f371b78e4d6}</key>
		<dict>
			<key>x1</key>
			<string>410.424</string>
			<key>y1</key>
			<string>251.734</string>
			<key>x2</key>
			<string>410.424</string>
			<key>y2</key>
			<string>236.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{547327a9-3b20-43d3-9db7-102241534bf0}</key>
		<dict>
			<key>x1</key>
			<string>361.909</string>
			<key>y1</key>
			<string>284.612</string>
			<key>x2</key>
			<string>361.909</string>
			<key>y2</key>
			<string>301.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{017ef56e-5510-4c7a-bf65-c075bf733c99}</key>
		<dict>
			<key>x1</key>
			<string>361.909</string>
			<key>y1</key>
			<string>251.112</string>
			<key>x2</key>
			<string>361.909</string>
			<key>y2</key>
			<string>265.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{17ce3107-5b33-4fc1-b237-8effb50cf210}</key>
		<dict>
			<key>x1</key>
			<string>319.327</string>
			<key>y1</key>
			<string>246.112</string>
			<key>x2</key>
			<string>319.327</string>
			<key>y2</key>
			<string>262.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{18a36548-c4da-440d-a8d4-231721664b62}</key>
		<dict>
			<key>x1</key>
			<string>271.383</string>
			<key>y1</key>
			<string>294.612</string>
			<key>x2</key>
			<string>271.383</string>
			<key>y2</key>
			<string>311.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{2d29aae6-32cd-4f58-be7e-31b566510539}</key>
		<dict>
			<key>x1</key>
			<string>271.383</string>
			<key>y1</key>
			<string>251.112</string>
			<key>x2</key>
			<string>271.383</string>
			<key>y2</key>
			<string>265.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{7088253d-01c5-4b2f-84d5-74cc5288365d}</key>
		<dict>
			<key>x1</key>
			<string>230.707</string>
			<key>y1</key>
			<string>289.612</string>
			<key>x2</key>
			<string>230.707</string>
			<key>y2</key>
			<string>306.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{dd064fc3-d938-4351-ac4d-9a6e28dabdb8}</key>
		<dict>
			<key>x1</key>
			<string>189.851</string>
			<key>y1</key>
			<string>245.957</string>
			<key>x2</key>
			<string>189.851</string>
			<key>y2</key>
			<string>262.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{30f8d0f1-fcf9-403f-92e4-0a25ef898966}</key>
		<dict>
			<key>x1</key>
			<string>143.597</string>
			<key>y1</key>
			<string>294.612</string>
			<key>x2</key>
			<string>143.597</string>
			<key>y2</key>
			<string>311.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{0412f936-8200-4578-997b-5aeb4a8ed684}</key>
		<dict>
			<key>x1</key>
			<string>143.597</string>
			<key>y1</key>
			<string>251.112</string>
			<key>x2</key>
			<string>143.597</string>
			<key>y2</key>
			<string>265.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{67cec657-af56-4c17-9bdf-acc94268ac5d}</key>
		<dict>
			<key>x1</key>
			<string>104.432</string>
			<key>y1</key>
			<string>289.612</string>
			<key>x2</key>
			<string>104.432</string>
			<key>y2</key>
			<string>306.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{ce431fb5-2dec-4b31-b31e-cc13799db0bc}</key>
		<dict>
			<key>x1</key>
			<string>65.0863</string>
			<key>y1</key>
			<string>245.957</string>
			<key>x2</key>
			<string>65.0863</string>
			<key>y2</key>
			<string>262.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{929ab9cc-cfa2-4d6a-bc87-dfa0dce24978}</key>
		<dict>
			<key>x1</key>
			<string>457.136</string>
			<key>y1</key>
			<string>148.457</string>
			<key>x2</key>
			<string>457.136</string>
			<key>y2</key>
			<string>165.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{4c77609f-7fb3-4403-9513-a77dca9220e8}</key>
		<dict>
			<key>x1</key>
			<string>463.43</string>
			<key>y1</key>
			<string>113.405</string>
			<key>x2</key>
			<string>463.43</string>
			<key>y2</key>
			<string>97.2983</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{78f271ba-8c98-4599-8e12-a3b896574f0b}</key>
		<dict>
			<key>x1</key>
			<string>408.841</string>
			<key>y1</key>
			<string>146.112</string>
			<key>x2</key>
			<string>408.841</string>
			<key>y2</key>
			<string>162.673</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{cc545609-0940-421c-8fe1-235fda8c3925}</key>
		<dict>
			<key>x1</key>
			<string>414.774</string>
			<key>y1</key>
			<string>110.734</string>
			<key>x2</key>
			<string>414.774</string>
			<key>y2</key>
			<string>95.4233</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{69d498c6-2a73-47c3-b04f-e2eaf844c1e1}</key>
		<dict>
			<key>x1</key>
			<string>367.347</string>
			<key>y1</key>
			<string>143.612</string>
			<key>x2</key>
			<string>367.347</string>
			<key>y2</key>
			<string>160.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{fe5c984e-74dd-4b52-9d08-6891606f923b}</key>
		<dict>
			<key>x1</key>
			<string>367.347</string>
			<key>y1</key>
			<string>110.112</string>
			<key>x2</key>
			<string>367.347</string>
			<key>y2</key>
			<string>124.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{1afd1064-98a5-4a00-8499-270f70a367bb}</key>
		<dict>
			<key>x1</key>
			<string>325.852</string>
			<key>y1</key>
			<string>105.112</string>
			<key>x2</key>
			<string>325.852</string>
			<key>y2</key>
			<string>121.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{a06091d1-00ff-4955-b0a0-2523b73cb755}</key>
		<dict>
			<key>x1</key>
			<string>278.995</string>
			<key>y1</key>
			<string>153.612</string>
			<key>x2</key>
			<string>278.995</string>
			<key>y2</key>
			<string>170.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{ba4d48de-3d47-4091-abe4-3ea17722533e}</key>
		<dict>
			<key>x1</key>
			<string>278.995</string>
			<key>y1</key>
			<string>110.112</string>
			<key>x2</key>
			<string>278.995</string>
			<key>y2</key>
			<string>124.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{3e690ed7-74ae-44f7-b1f9-8bd461a425e4}</key>
		<dict>
			<key>x1</key>
			<string>239.407</string>
			<key>y1</key>
			<string>148.612</string>
			<key>x2</key>
			<string>239.407</string>
			<key>y2</key>
			<string>165.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{79246f1c-c741-4b77-96af-1b679e9ffceb}</key>
		<dict>
			<key>x1</key>
			<string>199.639</string>
			<key>y1</key>
			<string>104.957</string>
			<key>x2</key>
			<string>199.639</string>
			<key>y2</key>
			<string>121.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{2b431d90-fef4-4440-abc2-c1d701e2dd5e}</key>
		<dict>
			<key>x1</key>
			<string>154.472</string>
			<key>y1</key>
			<string>153.612</string>
			<key>x2</key>
			<string>154.472</string>
			<key>y2</key>
			<string>170.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{7215cc0b-1c0c-41f4-8baf-8e0b7b32ad29}</key>
		<dict>
			<key>x1</key>
			<string>154.472</string>
			<key>y1</key>
			<string>110.112</string>
			<key>x2</key>
			<string>154.472</string>
			<key>y2</key>
			<string>124.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{62fb2198-c3d7-4288-8aff-f43a23552842}</key>
		<dict>
			<key>x1</key>
			<string>116.395</string>
			<key>y1</key>
			<string>148.612</string>
			<key>x2</key>
			<string>116.395</string>
			<key>y2</key>
			<string>165.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{174a268b-f9fb-4109-b64c-4015f173ead2}</key>
		<dict>
			<key>x1</key>
			<string>78.1363</string>
			<key>y1</key>
			<string>104.957</string>
			<key>x2</key>
			<string>78.1363</string>
			<key>y2</key>
			<string>121.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
	</dict>
</dict>
</plist>