<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>541.205</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>576.784</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{454e664e-e806-4b32-96d2-3487e82ec9ba}</key>
		<dict>
			<key>x</key>
			<string>448.211</string>
			<key>y</key>
			<string>590.811</string>
		</dict>
		<key>{32222d26-2d0e-415b-80da-67f3b7af8ee9}</key>
		<dict>
			<key>x</key>
			<string>448.211</string>
			<key>y</key>
			<string>595.772</string>
		</dict>
		<key>{40590142-81e8-4182-bfad-4876450f5fef}</key>
		<dict>
			<key>x</key>
			<string>448.211</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{cc13d87b-9821-4815-84af-fdb805b08628}</key>
		<dict>
			<key>x</key>
			<string>401.14</string>
			<key>y</key>
			<string>588.331</string>
		</dict>
		<key>{6a6e9779-0238-44be-b4e4-901a5f9ce676}</key>
		<dict>
			<key>x</key>
			<string>401.14</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{24479e40-887a-4afa-bc9b-04ef8f3b6796}</key>
		<dict>
			<key>x</key>
			<string>360.816</string>
			<key>y</key>
			<string>585.85</string>
		</dict>
		<key>{8aab5756-35a5-4054-adb3-6990cb21aecd}</key>
		<dict>
			<key>x</key>
			<string>360.816</string>
			<key>y</key>
			<string>551.126</string>
		</dict>
		<key>{be2d6b64-83d9-4fef-9d27-515c6a9e2593}</key>
		<dict>
			<key>x</key>
			<string>320.492</string>
			<key>y</key>
			<string>548.646</string>
		</dict>
		<key>{0ed97fb1-f79c-43e0-9da6-86c8b325bcce}</key>
		<dict>
			<key>x</key>
			<string>274.848</string>
			<key>y</key>
			<string>595.772</string>
		</dict>
		<key>{717c08d4-5631-456a-969c-9f97cb78ce7e}</key>
		<dict>
			<key>x</key>
			<string>274.848</string>
			<key>y</key>
			<string>551.126</string>
		</dict>
		<key>{42cbd62a-57bc-4b14-80e5-030562495495}</key>
		<dict>
			<key>x</key>
			<string>236.415</string>
			<key>y</key>
			<string>590.811</string>
		</dict>
		<key>{9b6a2c3a-44e4-4025-890d-a2827487d42f}</key>
		<dict>
			<key>x</key>
			<string>197.804</string>
			<key>y</key>
			<string>546.165</string>
		</dict>
		<key>{f92aad01-7a73-472b-bf43-1b8de0df888b}</key>
		<dict>
			<key>x</key>
			<string>153.835</string>
			<key>y</key>
			<string>595.772</string>
		</dict>
		<key>{ac1a295c-e361-4fa9-b0fb-daac2bbb46d2}</key>
		<dict>
			<key>x</key>
			<string>153.835</string>
			<key>y</key>
			<string>551.126</string>
		</dict>
		<key>{7f07445d-0e64-4e12-aaf2-50160b46928f}</key>
		<dict>
			<key>x</key>
			<string>116.899</string>
			<key>y</key>
			<string>590.811</string>
		</dict>
		<key>{9443f0d7-9c29-4ac2-94b9-c239f4ec8c7c}</key>
		<dict>
			<key>x</key>
			<string>79.7832</string>
			<key>y</key>
			<string>546.165</string>
		</dict>
		<key>{d3a3865d-0957-4be1-aded-3cc58f842b6f}</key>
		<dict>
			<key>x</key>
			<string>451.575</string>
			<key>y</key>
			<string>439.512</string>
		</dict>
		<key>{cb171b29-8de6-4f83-afdb-4a5b6736f4ad}</key>
		<dict>
			<key>x</key>
			<string>451.575</string>
			<key>y</key>
			<string>444.472</string>
		</dict>
		<key>{a835013f-7d9c-41e4-84a0-6f0fd7d990ee}</key>
		<dict>
			<key>x</key>
			<string>451.575</string>
			<key>y</key>
			<string>399.827</string>
		</dict>
		<key>{83fd6e93-1ea0-4139-a1cf-b0fd2770d3a4}</key>
		<dict>
			<key>x</key>
			<string>405.366</string>
			<key>y</key>
			<string>402.307</string>
		</dict>
		<key>{2a136cb2-0f26-4b5b-aad3-22740d3dce54}</key>
		<dict>
			<key>x</key>
			<string>365.903</string>
			<key>y</key>
			<string>404.787</string>
		</dict>
		<key>{b77ecfb0-5b43-4ff2-ac8e-2697c66adb2d}</key>
		<dict>
			<key>x</key>
			<string>326.26</string>
			<key>y</key>
			<string>439.512</string>
		</dict>
		<key>{19c21e2e-fccf-405f-87db-35bbf2ce2da3}</key>
		<dict>
			<key>x</key>
			<string>326.26</string>
			<key>y</key>
			<string>444.472</string>
		</dict>
		<key>{1e04e312-f319-4c8d-9bcb-353c412a4533}</key>
		<dict>
			<key>x</key>
			<string>326.439</string>
			<key>y</key>
			<string>404.787</string>
		</dict>
		<key>{9f651f85-9f1c-4698-8d68-c5516398ec8d}</key>
		<dict>
			<key>x</key>
			<string>278.433</string>
			<key>y</key>
			<string>407.268</string>
		</dict>
		<key>{ffa47a64-e8e9-4e7e-87aa-cc80f5639070}</key>
		<dict>
			<key>x</key>
			<string>212.525</string>
			<key>y</key>
			<string>439.512</string>
		</dict>
		<key>{cb51e33f-39b5-4174-81e6-684b5ea190fa}</key>
		<dict>
			<key>x</key>
			<string>206.281</string>
			<key>y</key>
			<string>441.992</string>
		</dict>
		<key>{4ad1c3a2-c360-4206-8457-2200acf0d6e2}</key>
		<dict>
			<key>x</key>
			<string>212.525</string>
			<key>y</key>
			<string>402.307</string>
		</dict>
		<key>{18b4e5b7-6455-43af-890f-5e84e5268485}</key>
		<dict>
			<key>x</key>
			<string>161.663</string>
			<key>y</key>
			<string>404.787</string>
		</dict>
		<key>{8c552076-1d87-47ce-a5cc-758f6a537eba}</key>
		<dict>
			<key>x</key>
			<string>123.792</string>
			<key>y</key>
			<string>407.268</string>
		</dict>
		<key>{d0436868-7826-40ac-99c7-b4517f344b7b}</key>
		<dict>
			<key>x</key>
			<string>85.7414</string>
			<key>y</key>
			<string>439.512</string>
		</dict>
		<key>{a4860c2a-c3d1-4b74-985c-08a4f729e4b2}</key>
		<dict>
			<key>x</key>
			<string>79.4972</string>
			<key>y</key>
			<string>441.992</string>
		</dict>
		<key>{2936911c-cee2-47ab-9a4b-d24d0976ac1e}</key>
		<dict>
			<key>x</key>
			<string>85.9204</string>
			<key>y</key>
			<string>407.268</string>
		</dict>
		<key>{46899aea-ff8f-4b7d-94dd-a05e18799b07}</key>
		<dict>
			<key>x</key>
			<string>451.559</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{03c02c26-45cd-44d1-8c2c-919342b47302}</key>
		<dict>
			<key>x</key>
			<string>451.559</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{ab3e6c54-d905-4f4c-a2a0-4bec1d6f221e}</key>
		<dict>
			<key>x</key>
			<string>404.117</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{3e900898-8292-425b-879c-c4968f85e14c}</key>
		<dict>
			<key>x</key>
			<string>404.117</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{2d86e682-71b5-4b89-8041-2dd270b8a731}</key>
		<dict>
			<key>x</key>
			<string>363.421</string>
			<key>y</key>
			<string>293.173</string>
		</dict>
		<key>{39187237-4522-40e9-ac0f-e8ea652f553a}</key>
		<dict>
			<key>x</key>
			<string>363.421</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{b91fc049-e3be-4a93-8e9f-545f61fbe22f}</key>
		<dict>
			<key>x</key>
			<string>322.725</string>
			<key>y</key>
			<string>255.969</string>
		</dict>
		<key>{aee65445-4458-48aa-b0d0-c18b460b2082}</key>
		<dict>
			<key>x</key>
			<string>276.708</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{792eed72-94b2-4aa0-8358-4c2ca8811498}</key>
		<dict>
			<key>x</key>
			<string>276.708</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{aa52c690-afeb-4e1c-bde3-fe3acbed0830}</key>
		<dict>
			<key>x</key>
			<string>237.904</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{112053b3-165a-4dce-b93d-293f1764f588}</key>
		<dict>
			<key>x</key>
			<string>198.92</string>
			<key>y</key>
			<string>253.488</string>
		</dict>
		<key>{ba39d647-843d-4ed2-8668-8009ae9b291d}</key>
		<dict>
			<key>x</key>
			<string>154.579</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{2869cefc-a878-4e8d-9756-88a49343c22d}</key>
		<dict>
			<key>x</key>
			<string>154.579</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{50c72ea1-51d7-4509-b71b-57b32c71cf97}</key>
		<dict>
			<key>x</key>
			<string>117.271</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{8ed59376-d47d-4a2d-ba0b-3a55a8172f75}</key>
		<dict>
			<key>x</key>
			<string>79.7832</string>
			<key>y</key>
			<string>253.488</string>
		</dict>
		<key>{fd794ab3-c484-45e8-8a3c-2ad6bff63af8}</key>
		<dict>
			<key>x</key>
			<string>454.176</string>
			<key>y</key>
			<string>151.795</string>
		</dict>
		<key>{f19ef219-7c3f-4044-b494-f77a9a84a9c5}</key>
		<dict>
			<key>x</key>
			<string>454.176</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{8d582dde-216b-46ce-b1c6-b36f571e8ee5}</key>
		<dict>
			<key>x</key>
			<string>407.606</string>
			<key>y</key>
			<string>149.315</string>
		</dict>
		<key>{f1df82a7-e0d2-4a23-abf1-792f79598a89}</key>
		<dict>
			<key>x</key>
			<string>407.606</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{fd196040-0ae0-426e-a9b1-2d208e3f3b23}</key>
		<dict>
			<key>x</key>
			<string>367.782</string>
			<key>y</key>
			<string>146.835</string>
		</dict>
		<key>{19f7440d-b60e-4238-a926-7e93fe05ae6b}</key>
		<dict>
			<key>x</key>
			<string>367.782</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{3efa1321-4642-4e61-b24c-0ab89d952ed6}</key>
		<dict>
			<key>x</key>
			<string>327.958</string>
			<key>y</key>
			<string>109.63</string>
		</dict>
		<key>{202ec7a0-cd04-422a-9f4f-c35a7a78cce9}</key>
		<dict>
			<key>x</key>
			<string>282.814</string>
			<key>y</key>
			<string>156.756</string>
		</dict>
		<key>{2d1f726e-50d2-47d2-9920-498f5138aa64}</key>
		<dict>
			<key>x</key>
			<string>282.814</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{9af0e89e-1fe4-4efe-86da-59a925af1f55}</key>
		<dict>
			<key>x</key>
			<string>244.882</string>
			<key>y</key>
			<string>151.795</string>
		</dict>
		<key>{d6c903e2-50db-45cb-be3b-7c31471b4343}</key>
		<dict>
			<key>x</key>
			<string>206.77</string>
			<key>y</key>
			<string>107.15</string>
		</dict>
		<key>{6a5679ed-c7a8-465a-94a3-4103861683fe}</key>
		<dict>
			<key>x</key>
			<string>163.301</string>
			<key>y</key>
			<string>156.756</string>
		</dict>
		<key>{49c603ee-8218-408d-a769-d2712c4f26ec}</key>
		<dict>
			<key>x</key>
			<string>163.301</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{47de1028-6800-4fab-8668-550f0d49def6}</key>
		<dict>
			<key>x</key>
			<string>126.865</string>
			<key>y</key>
			<string>151.795</string>
		</dict>
		<key>{726e64c2-dbca-46b5-ad2a-d6a3621f2b39}</key>
		<dict>
			<key>x</key>
			<string>90.2501</string>
			<key>y</key>
			<string>107.15</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{32222d26-2d0e-415b-80da-67f3b7af8ee9}</key>
		<dict>
			<key>x1</key>
			<string>448.533</string>
			<key>y1</key>
			<string>591.589</string>
			<key>x2</key>
			<string>448.533</string>
			<key>y2</key>
			<string>613.134</string>
			<key>height</key>
			<string>22.3228</string>
		</dict>
		<key>{454e664e-e806-4b32-96d2-3487e82ec9ba}</key>
		<dict>
			<key>x1</key>
			<string>448.533</string>
			<key>y1</key>
			<string>591.589</string>
			<key>x2</key>
			<string>448.533</string>
			<key>y2</key>
			<string>613.134</string>
			<key>height</key>
			<string>22.3228</string>
		</dict>
		<key>{40590142-81e8-4182-bfad-4876450f5fef}</key>
		<dict>
			<key>x1</key>
			<string>454.778</string>
			<key>y1</key>
			<string>555.325</string>
			<key>x2</key>
			<string>454.778</string>
			<key>y2</key>
			<string>539.344</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{cc13d87b-9821-4815-84af-fdb805b08628}</key>
		<dict>
			<key>x1</key>
			<string>401.463</string>
			<key>y1</key>
			<string>589.262</string>
			<key>x2</key>
			<string>401.463</string>
			<key>y2</key>
			<string>605.693</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{6a6e9779-0238-44be-b4e4-901a5f9ce676}</key>
		<dict>
			<key>x1</key>
			<string>407.349</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>407.349</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{24479e40-887a-4afa-bc9b-04ef8f3b6796}</key>
		<dict>
			<key>x1</key>
			<string>361.139</string>
			<key>y1</key>
			<string>586.782</string>
			<key>x2</key>
			<string>361.139</string>
			<key>y2</key>
			<string>603.213</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{8aab5756-35a5-4054-adb3-6990cb21aecd}</key>
		<dict>
			<key>x1</key>
			<string>361.139</string>
			<key>y1</key>
			<string>552.058</string>
			<key>x2</key>
			<string>361.139</string>
			<key>y2</key>
			<string>566.628</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{be2d6b64-83d9-4fef-9d27-515c6a9e2593}</key>
		<dict>
			<key>x1</key>
			<string>320.815</string>
			<key>y1</key>
			<string>549.577</string>
			<key>x2</key>
			<string>320.815</string>
			<key>y2</key>
			<string>564.768</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{0ed97fb1-f79c-43e0-9da6-86c8b325bcce}</key>
		<dict>
			<key>x1</key>
			<string>275.171</string>
			<key>y1</key>
			<string>596.703</string>
			<key>x2</key>
			<string>275.171</string>
			<key>y2</key>
			<string>613.134</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{717c08d4-5631-456a-969c-9f97cb78ce7e}</key>
		<dict>
			<key>x1</key>
			<string>275.171</string>
			<key>y1</key>
			<string>552.058</string>
			<key>x2</key>
			<string>275.171</string>
			<key>y2</key>
			<string>566.628</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{42cbd62a-57bc-4b14-80e5-030562495495}</key>
		<dict>
			<key>x1</key>
			<string>236.738</string>
			<key>y1</key>
			<string>591.743</string>
			<key>x2</key>
			<string>236.738</string>
			<key>y2</key>
			<string>608.173</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{9b6a2c3a-44e4-4025-890d-a2827487d42f}</key>
		<dict>
			<key>x1</key>
			<string>198.126</string>
			<key>y1</key>
			<string>546.943</string>
			<key>x2</key>
			<string>198.126</string>
			<key>y2</key>
			<string>562.907</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{f92aad01-7a73-472b-bf43-1b8de0df888b}</key>
		<dict>
			<key>x1</key>
			<string>154.157</string>
			<key>y1</key>
			<string>596.703</string>
			<key>x2</key>
			<string>154.157</string>
			<key>y2</key>
			<string>613.134</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{ac1a295c-e361-4fa9-b0fb-daac2bbb46d2}</key>
		<dict>
			<key>x1</key>
			<string>154.157</string>
			<key>y1</key>
			<string>552.058</string>
			<key>x2</key>
			<string>154.157</string>
			<key>y2</key>
			<string>566.628</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{7f07445d-0e64-4e12-aaf2-50160b46928f}</key>
		<dict>
			<key>x1</key>
			<string>117.221</string>
			<key>y1</key>
			<string>591.743</string>
			<key>x2</key>
			<string>117.221</string>
			<key>y2</key>
			<string>608.173</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{9443f0d7-9c29-4ac2-94b9-c239f4ec8c7c}</key>
		<dict>
			<key>x1</key>
			<string>80.1056</string>
			<key>y1</key>
			<string>546.943</string>
			<key>x2</key>
			<string>80.1056</string>
			<key>y2</key>
			<string>562.907</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{cb171b29-8de6-4f83-afdb-4a5b6736f4ad}</key>
		<dict>
			<key>x1</key>
			<string>451.898</string>
			<key>y1</key>
			<string>440.29</string>
			<key>x2</key>
			<string>451.898</string>
			<key>y2</key>
			<string>461.835</string>
			<key>height</key>
			<string>22.3228</string>
		</dict>
		<key>{d3a3865d-0957-4be1-aded-3cc58f842b6f}</key>
		<dict>
			<key>x1</key>
			<string>451.898</string>
			<key>y1</key>
			<string>440.29</string>
			<key>x2</key>
			<string>451.898</string>
			<key>y2</key>
			<string>461.835</string>
			<key>height</key>
			<string>22.3228</string>
		</dict>
		<key>{a835013f-7d9c-41e4-84a0-6f0fd7d990ee}</key>
		<dict>
			<key>x1</key>
			<string>451.898</string>
			<key>y1</key>
			<string>400.605</string>
			<key>x2</key>
			<string>451.898</string>
			<key>y2</key>
			<string>416.569</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{83fd6e93-1ea0-4139-a1cf-b0fd2770d3a4}</key>
		<dict>
			<key>x1</key>
			<string>405.688</string>
			<key>y1</key>
			<string>403.239</string>
			<key>x2</key>
			<string>405.688</string>
			<key>y2</key>
			<string>418.429</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{2a136cb2-0f26-4b5b-aad3-22740d3dce54}</key>
		<dict>
			<key>x1</key>
			<string>366.225</string>
			<key>y1</key>
			<string>405.719</string>
			<key>x2</key>
			<string>366.225</string>
			<key>y2</key>
			<string>420.289</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{19c21e2e-fccf-405f-87db-35bbf2ce2da3}</key>
		<dict>
			<key>x1</key>
			<string>326.583</string>
			<key>y1</key>
			<string>440.29</string>
			<key>x2</key>
			<string>326.583</string>
			<key>y2</key>
			<string>461.835</string>
			<key>height</key>
			<string>22.3228</string>
		</dict>
		<key>{b77ecfb0-5b43-4ff2-ac8e-2697c66adb2d}</key>
		<dict>
			<key>x1</key>
			<string>326.583</string>
			<key>y1</key>
			<string>440.29</string>
			<key>x2</key>
			<string>326.583</string>
			<key>y2</key>
			<string>461.835</string>
			<key>height</key>
			<string>22.3228</string>
		</dict>
		<key>{1e04e312-f319-4c8d-9bcb-353c412a4533}</key>
		<dict>
			<key>x1</key>
			<string>326.762</string>
			<key>y1</key>
			<string>405.719</string>
			<key>x2</key>
			<string>326.762</string>
			<key>y2</key>
			<string>420.289</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{9f651f85-9f1c-4698-8d68-c5516398ec8d}</key>
		<dict>
			<key>x1</key>
			<string>284.642</string>
			<key>y1</key>
			<string>406.336</string>
			<key>x2</key>
			<string>284.642</string>
			<key>y2</key>
			<string>391.146</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{cb51e33f-39b5-4174-81e6-684b5ea190fa}</key>
		<dict>
			<key>x1</key>
			<string>212.848</string>
			<key>y1</key>
			<string>440.29</string>
			<key>x2</key>
			<string>212.848</string>
			<key>y2</key>
			<string>459.354</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{ffa47a64-e8e9-4e7e-87aa-cc80f5639070}</key>
		<dict>
			<key>x1</key>
			<string>212.848</string>
			<key>y1</key>
			<string>440.29</string>
			<key>x2</key>
			<string>212.848</string>
			<key>y2</key>
			<string>459.354</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{4ad1c3a2-c360-4206-8457-2200acf0d6e2}</key>
		<dict>
			<key>x1</key>
			<string>212.848</string>
			<key>y1</key>
			<string>403.085</string>
			<key>x2</key>
			<string>212.848</string>
			<key>y2</key>
			<string>418.429</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{18b4e5b7-6455-43af-890f-5e84e5268485}</key>
		<dict>
			<key>x1</key>
			<string>161.986</string>
			<key>y1</key>
			<string>405.719</string>
			<key>x2</key>
			<string>161.986</string>
			<key>y2</key>
			<string>420.289</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{8c552076-1d87-47ce-a5cc-758f6a537eba}</key>
		<dict>
			<key>x1</key>
			<string>130</string>
			<key>y1</key>
			<string>406.336</string>
			<key>x2</key>
			<string>130</string>
			<key>y2</key>
			<string>391.146</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{a4860c2a-c3d1-4b74-985c-08a4f729e4b2}</key>
		<dict>
			<key>x1</key>
			<string>86.0638</string>
			<key>y1</key>
			<string>440.29</string>
			<key>x2</key>
			<string>86.0638</string>
			<key>y2</key>
			<string>459.354</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{d0436868-7826-40ac-99c7-b4517f344b7b}</key>
		<dict>
			<key>x1</key>
			<string>86.0638</string>
			<key>y1</key>
			<string>440.29</string>
			<key>x2</key>
			<string>86.0638</string>
			<key>y2</key>
			<string>459.354</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{2936911c-cee2-47ab-9a4b-d24d0976ac1e}</key>
		<dict>
			<key>x1</key>
			<string>92.1289</string>
			<key>y1</key>
			<string>406.336</string>
			<key>x2</key>
			<string>92.1289</string>
			<key>y2</key>
			<string>391.146</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{46899aea-ff8f-4b7d-94dd-a05e18799b07}</key>
		<dict>
			<key>x1</key>
			<string>451.882</string>
			<key>y1</key>
			<string>298.912</string>
			<key>x2</key>
			<string>451.882</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{03c02c26-45cd-44d1-8c2c-919342b47302}</key>
		<dict>
			<key>x1</key>
			<string>458.126</string>
			<key>y1</key>
			<string>262.648</string>
			<key>x2</key>
			<string>458.126</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{ab3e6c54-d905-4f4c-a2a0-4bec1d6f221e}</key>
		<dict>
			<key>x1</key>
			<string>404.439</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>404.439</string>
			<key>y2</key>
			<string>313.016</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{3e900898-8292-425b-879c-c4968f85e14c}</key>
		<dict>
			<key>x1</key>
			<string>410.325</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>410.325</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{2d86e682-71b5-4b89-8041-2dd270b8a731}</key>
		<dict>
			<key>x1</key>
			<string>363.743</string>
			<key>y1</key>
			<string>294.105</string>
			<key>x2</key>
			<string>363.743</string>
			<key>y2</key>
			<string>310.535</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{39187237-4522-40e9-ac0f-e8ea652f553a}</key>
		<dict>
			<key>x1</key>
			<string>363.743</string>
			<key>y1</key>
			<string>259.381</string>
			<key>x2</key>
			<string>363.743</string>
			<key>y2</key>
			<string>273.951</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{b91fc049-e3be-4a93-8e9f-545f61fbe22f}</key>
		<dict>
			<key>x1</key>
			<string>323.047</string>
			<key>y1</key>
			<string>256.9</string>
			<key>x2</key>
			<string>323.047</string>
			<key>y2</key>
			<string>272.091</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{aee65445-4458-48aa-b0d0-c18b460b2082}</key>
		<dict>
			<key>x1</key>
			<string>277.031</string>
			<key>y1</key>
			<string>304.026</string>
			<key>x2</key>
			<string>277.031</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{792eed72-94b2-4aa0-8358-4c2ca8811498}</key>
		<dict>
			<key>x1</key>
			<string>277.031</string>
			<key>y1</key>
			<string>259.381</string>
			<key>x2</key>
			<string>277.031</string>
			<key>y2</key>
			<string>273.951</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{aa52c690-afeb-4e1c-bde3-fe3acbed0830}</key>
		<dict>
			<key>x1</key>
			<string>238.226</string>
			<key>y1</key>
			<string>299.066</string>
			<key>x2</key>
			<string>238.226</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{112053b3-165a-4dce-b93d-293f1764f588}</key>
		<dict>
			<key>x1</key>
			<string>199.242</string>
			<key>y1</key>
			<string>254.266</string>
			<key>x2</key>
			<string>199.242</string>
			<key>y2</key>
			<string>270.23</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{ba39d647-843d-4ed2-8668-8009ae9b291d}</key>
		<dict>
			<key>x1</key>
			<string>154.901</string>
			<key>y1</key>
			<string>304.026</string>
			<key>x2</key>
			<string>154.901</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{2869cefc-a878-4e8d-9756-88a49343c22d}</key>
		<dict>
			<key>x1</key>
			<string>154.901</string>
			<key>y1</key>
			<string>259.381</string>
			<key>x2</key>
			<string>154.901</string>
			<key>y2</key>
			<string>273.951</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{50c72ea1-51d7-4509-b71b-57b32c71cf97}</key>
		<dict>
			<key>x1</key>
			<string>117.593</string>
			<key>y1</key>
			<string>299.066</string>
			<key>x2</key>
			<string>117.593</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{8ed59376-d47d-4a2d-ba0b-3a55a8172f75}</key>
		<dict>
			<key>x1</key>
			<string>80.1056</string>
			<key>y1</key>
			<string>254.266</string>
			<key>x2</key>
			<string>80.1056</string>
			<key>y2</key>
			<string>270.23</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{fd794ab3-c484-45e8-8a3c-2ad6bff63af8}</key>
		<dict>
			<key>x1</key>
			<string>454.498</string>
			<key>y1</key>
			<string>152.573</string>
			<key>x2</key>
			<string>454.498</string>
			<key>y2</key>
			<string>169.157</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f19ef219-7c3f-4044-b494-f77a9a84a9c5}</key>
		<dict>
			<key>x1</key>
			<string>460.743</string>
			<key>y1</key>
			<string>116.309</string>
			<key>x2</key>
			<string>460.743</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{8d582dde-216b-46ce-b1c6-b36f571e8ee5}</key>
		<dict>
			<key>x1</key>
			<string>407.928</string>
			<key>y1</key>
			<string>150.247</string>
			<key>x2</key>
			<string>407.928</string>
			<key>y2</key>
			<string>166.677</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f1df82a7-e0d2-4a23-abf1-792f79598a89}</key>
		<dict>
			<key>x1</key>
			<string>413.814</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>413.814</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{fd196040-0ae0-426e-a9b1-2d208e3f3b23}</key>
		<dict>
			<key>x1</key>
			<string>368.104</string>
			<key>y1</key>
			<string>147.766</string>
			<key>x2</key>
			<string>368.104</string>
			<key>y2</key>
			<string>164.197</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{19f7440d-b60e-4238-a926-7e93fe05ae6b}</key>
		<dict>
			<key>x1</key>
			<string>368.104</string>
			<key>y1</key>
			<string>113.042</string>
			<key>x2</key>
			<string>368.104</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{3efa1321-4642-4e61-b24c-0ab89d952ed6}</key>
		<dict>
			<key>x1</key>
			<string>328.281</string>
			<key>y1</key>
			<string>110.562</string>
			<key>x2</key>
			<string>328.281</string>
			<key>y2</key>
			<string>125.752</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{202ec7a0-cd04-422a-9f4f-c35a7a78cce9}</key>
		<dict>
			<key>x1</key>
			<string>283.137</string>
			<key>y1</key>
			<string>157.688</string>
			<key>x2</key>
			<string>283.137</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{2d1f726e-50d2-47d2-9920-498f5138aa64}</key>
		<dict>
			<key>x1</key>
			<string>283.137</string>
			<key>y1</key>
			<string>113.042</string>
			<key>x2</key>
			<string>283.137</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{9af0e89e-1fe4-4efe-86da-59a925af1f55}</key>
		<dict>
			<key>x1</key>
			<string>245.204</string>
			<key>y1</key>
			<string>152.727</string>
			<key>x2</key>
			<string>245.204</string>
			<key>y2</key>
			<string>169.157</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{d6c903e2-50db-45cb-be3b-7c31471b4343}</key>
		<dict>
			<key>x1</key>
			<string>207.092</string>
			<key>y1</key>
			<string>107.927</string>
			<key>x2</key>
			<string>207.092</string>
			<key>y2</key>
			<string>123.892</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{6a5679ed-c7a8-465a-94a3-4103861683fe}</key>
		<dict>
			<key>x1</key>
			<string>163.624</string>
			<key>y1</key>
			<string>157.688</string>
			<key>x2</key>
			<string>163.624</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{49c603ee-8218-408d-a769-d2712c4f26ec}</key>
		<dict>
			<key>x1</key>
			<string>163.624</string>
			<key>y1</key>
			<string>113.042</string>
			<key>x2</key>
			<string>163.624</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{47de1028-6800-4fab-8668-550f0d49def6}</key>
		<dict>
			<key>x1</key>
			<string>127.188</string>
			<key>y1</key>
			<string>152.727</string>
			<key>x2</key>
			<string>127.188</string>
			<key>y2</key>
			<string>169.157</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{726e64c2-dbca-46b5-ad2a-d6a3621f2b39}</key>
		<dict>
			<key>x1</key>
			<string>90.5725</string>
			<key>y1</key>
			<string>107.927</string>
			<key>x2</key>
			<string>90.5725</string>
			<key>y2</key>
			<string>123.892</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
	</dict>
</dict>
</plist>