<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributes</key>
	<dict>
		<key>time</key>
		<dict>
			<key>beats</key>
			<string>2</string>
			<key>per_minute</key>
			<string>80</string>
			<key>beat_type</key>
			<string>4</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{acd37486-53f5-4706-8f6d-565c5b7a1bd8}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{e27ee605-f432-4d45-b5b6-dc38fcac5614}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{e3023831-c3ce-42ac-aba8-8ace5d4a13e1}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{509fc4c5-bb82-44b6-a215-60917683bf0a}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{c5448bb3-916a-48d4-b4a1-a203a6ed095c}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{a0113a29-11b2-465b-969d-d85c236c6d12}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{ad66fc03-92b0-4825-ab9c-7b132925357a}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{3b535896-eae0-42ab-b21d-2649cec0fc16}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{2ea6152a-445d-4441-9447-aef9ce7bb990}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{56aeeef2-cb68-4728-aed5-55cc56d258e5}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{bf3981f7-0073-42b0-818d-950846afa1de}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{e54c58fd-f1cb-4d32-b797-a9c6634db2be}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{dd49b11b-c281-4dbf-80b3-bd0c6d2d3ba9}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{ed340f5b-74b1-4c83-beec-13310f64244b}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{387f02f2-1a43-4e73-b7f5-739ca4ae2f25}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{f7d84407-e359-4d69-9d08-3c69ad04acbd}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{7620331a-7a1e-4fb3-bcdb-ed8085231b35}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{66692ed7-9f46-4508-8fcc-2b5c968be5f6}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{cda4024b-9c46-40a1-807e-0e5ddad52805}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{903ef7e7-0d8e-46d0-be0c-07af73ff196e}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{c22c0460-7daf-4137-8eaa-b62b41c9e867}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{60134059-1a9e-41a5-84e8-cd817f9244b9}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{6e9c0894-6ddf-484e-b22e-d42c646a0f43}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{faecfc31-3485-4cc9-89c6-690bb046b4e4}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{ce6940fe-e6dc-4e48-84fb-eec464395802}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{b0e2fa16-414a-4514-99a1-b1d444bf1e55}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{9a5da17e-eb77-426f-8014-2ff92abfdfe8}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{1763318a-27e2-48a6-bfed-da9d8ad33f64}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{4dcc492b-a543-42f0-a46d-0ce0821b1027}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{8ee9c5d0-dae9-4f74-99f6-194406e52564}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{c8bfa8f1-8d0b-43d6-b9c6-52dbc65382b9}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{66f3f38d-a126-400b-86e3-58ae9f7ebf0a}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{1796531f-2ab7-4a5d-8adb-294e3445f064}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{9fc0e678-636e-4a12-aa64-604e994f35a9}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{3a7386c3-edcb-4999-b1c6-8dd994cf8475}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{0832e60f-4397-4361-84a6-d5cd047e4363}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{945d33aa-98e6-4b71-8200-d3a503651b8d}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{964794e4-4f3f-4f71-aa03-41b0663e955b}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{4358383b-2509-4cd8-906e-5c3284432293}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{98232d8f-02c0-4800-8528-4895c5978c9c}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{fffadd77-2942-4f37-a167-6e24c56098a4}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{9610d5c2-0bf8-41fd-ab4d-14dbf86cce6d}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{813afe8c-b610-4110-ac9e-1432594d4e3d}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{a35109df-bef4-400f-bb15-fe1b85c491c9}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{15ba00f5-c054-41f9-955b-e16dba71292b}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{8b94707a-33b6-4bbf-a075-1483399320d1}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{82a7fffe-f5cb-426c-8a4f-331504c5026d}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{9e427df8-4104-4458-94af-0c31aa1f60ca}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{1f0268ea-1e2f-4b9c-8d07-92e36d6a2539}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{d1568140-b2a5-416f-846e-314128cde98f}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
	</dict>
	<key>events</key>
	<dict>
		<key>0</key>
		<dict>
			<key>elid</key>
			<string>0</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>0</string>
			<key>notes</key>
			<string>{acd37486-53f5-4706-8f6d-565c5b7a1bd8} {e27ee605-f432-4d45-b5b6-dc38fcac5614}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>1</key>
		<dict>
			<key>elid</key>
			<string>1</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>250</string>
			<key>notes</key>
			<string>{e3023831-c3ce-42ac-aba8-8ace5d4a13e1} {509fc4c5-bb82-44b6-a215-60917683bf0a}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>2</key>
		<dict>
			<key>elid</key>
			<string>2</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>500</string>
			<key>notes</key>
			<string>{c5448bb3-916a-48d4-b4a1-a203a6ed095c} {a0113a29-11b2-465b-969d-d85c236c6d12}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>3</key>
		<dict>
			<key>elid</key>
			<string>4</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>1000</string>
			<key>notes</key>
			<string>{ad66fc03-92b0-4825-ab9c-7b132925357a} {3b535896-eae0-42ab-b21d-2649cec0fc16}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>4</key>
		<dict>
			<key>elid</key>
			<string>5</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>1250</string>
			<key>notes</key>
			<string>{2ea6152a-445d-4441-9447-aef9ce7bb990} {56aeeef2-cb68-4728-aed5-55cc56d258e5}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>5</key>
		<dict>
			<key>elid</key>
			<string>6</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>1500</string>
			<key>notes</key>
			<string>{bf3981f7-0073-42b0-818d-950846afa1de} {e54c58fd-f1cb-4d32-b797-a9c6634db2be}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>6</key>
		<dict>
			<key>elid</key>
			<string>8</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>2000</string>
			<key>notes</key>
			<string>{dd49b11b-c281-4dbf-80b3-bd0c6d2d3ba9} {ed340f5b-74b1-4c83-beec-13310f64244b}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>7</key>
		<dict>
			<key>elid</key>
			<string>9</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>2250</string>
			<key>notes</key>
			<string>{387f02f2-1a43-4e73-b7f5-739ca4ae2f25} {f7d84407-e359-4d69-9d08-3c69ad04acbd}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>8</key>
		<dict>
			<key>elid</key>
			<string>10</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>2500</string>
			<key>notes</key>
			<string>{7620331a-7a1e-4fb3-bcdb-ed8085231b35} {66692ed7-9f46-4508-8fcc-2b5c968be5f6}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>9</key>
		<dict>
			<key>elid</key>
			<string>12</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>3000</string>
			<key>notes</key>
			<string>{cda4024b-9c46-40a1-807e-0e5ddad52805} {903ef7e7-0d8e-46d0-be0c-07af73ff196e}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>10</key>
		<dict>
			<key>elid</key>
			<string>13</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>3250</string>
			<key>notes</key>
			<string>{c22c0460-7daf-4137-8eaa-b62b41c9e867} {60134059-1a9e-41a5-84e8-cd817f9244b9}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>11</key>
		<dict>
			<key>elid</key>
			<string>14</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>3500</string>
			<key>notes</key>
			<string>{6e9c0894-6ddf-484e-b22e-d42c646a0f43} {faecfc31-3485-4cc9-89c6-690bb046b4e4}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>12</key>
		<dict>
			<key>elid</key>
			<string>16</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>4000</string>
			<key>notes</key>
			<string>{ce6940fe-e6dc-4e48-84fb-eec464395802} {b0e2fa16-414a-4514-99a1-b1d444bf1e55}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>13</key>
		<dict>
			<key>elid</key>
			<string>17</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>4250</string>
			<key>notes</key>
			<string>{9a5da17e-eb77-426f-8014-2ff92abfdfe8} {1763318a-27e2-48a6-bfed-da9d8ad33f64}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>14</key>
		<dict>
			<key>elid</key>
			<string>18</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>4500</string>
			<key>notes</key>
			<string>{4dcc492b-a543-42f0-a46d-0ce0821b1027} {8ee9c5d0-dae9-4f74-99f6-194406e52564}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>15</key>
		<dict>
			<key>elid</key>
			<string>20</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>5000</string>
			<key>notes</key>
			<string>{c8bfa8f1-8d0b-43d6-b9c6-52dbc65382b9} {66f3f38d-a126-400b-86e3-58ae9f7ebf0a}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>16</key>
		<dict>
			<key>elid</key>
			<string>21</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>5250</string>
			<key>notes</key>
			<string>{1796531f-2ab7-4a5d-8adb-294e3445f064} {9fc0e678-636e-4a12-aa64-604e994f35a9}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>17</key>
		<dict>
			<key>elid</key>
			<string>22</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>5500</string>
			<key>notes</key>
			<string>{3a7386c3-edcb-4999-b1c6-8dd994cf8475} {0832e60f-4397-4361-84a6-d5cd047e4363}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>18</key>
		<dict>
			<key>elid</key>
			<string>24</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>6000</string>
			<key>notes</key>
			<string>{945d33aa-98e6-4b71-8200-d3a503651b8d} {964794e4-4f3f-4f71-aa03-41b0663e955b}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>19</key>
		<dict>
			<key>elid</key>
			<string>25</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>6250</string>
			<key>notes</key>
			<string>{4358383b-2509-4cd8-906e-5c3284432293} {98232d8f-02c0-4800-8528-4895c5978c9c}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>20</key>
		<dict>
			<key>elid</key>
			<string>26</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>6500</string>
			<key>notes</key>
			<string>{fffadd77-2942-4f37-a167-6e24c56098a4} {9610d5c2-0bf8-41fd-ab4d-14dbf86cce6d}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>21</key>
		<dict>
			<key>elid</key>
			<string>27</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>6750</string>
			<key>notes</key>
			<string>{813afe8c-b610-4110-ac9e-1432594d4e3d} {a35109df-bef4-400f-bb15-fe1b85c491c9}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>22</key>
		<dict>
			<key>elid</key>
			<string>28</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>7000</string>
			<key>notes</key>
			<string>{15ba00f5-c054-41f9-955b-e16dba71292b} {8b94707a-33b6-4bbf-a075-1483399320d1}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>23</key>
		<dict>
			<key>elid</key>
			<string>29</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>7250</string>
			<key>notes</key>
			<string>{82a7fffe-f5cb-426c-8a4f-331504c5026d} {9e427df8-4104-4458-94af-0c31aa1f60ca}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>24</key>
		<dict>
			<key>elid</key>
			<string>30</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>7500</string>
			<key>notes</key>
			<string>{1f0268ea-1e2f-4b9c-8d07-92e36d6a2539} {d1568140-b2a5-416f-846e-314128cde98f}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
	</dict>
	<key>metronomes</key>
	<dict>
		<key>0</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>1000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>1500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>2000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>2500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>3000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>3500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>4000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>4500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>5000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>5500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>6000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>6500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>7000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>7500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
	</dict>
</dict>
</plist>