<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{ddde5039-8d5c-473b-88a0-298a2501883e}</key>
		<dict>
			<key>x</key>
			<string>495.46</string>
			<key>y</key>
			<string>313.016</string>
		</dict>
		<key>{2e16067c-b910-434d-b4b9-6e5571e29804}</key>
		<dict>
			<key>x</key>
			<string>495.46</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{66c05c03-6557-4496-8133-669e00a0c75c}</key>
		<dict>
			<key>x</key>
			<string>466.041</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{e4aa2d32-f6b2-470b-96e0-cb893334eb60}</key>
		<dict>
			<key>x</key>
			<string>466.041</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{84528951-49d3-4d07-b52e-1f1ebd02d7b4}</key>
		<dict>
			<key>x</key>
			<string>436.621</string>
			<key>y</key>
			<string>313.016</string>
		</dict>
		<key>{a18c2bc5-ad50-4d53-9b9f-2d9a0eeb1d46}</key>
		<dict>
			<key>x</key>
			<string>436.621</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{9ca01e5e-cf2a-4f0f-bd1b-b2375b7abc6c}</key>
		<dict>
			<key>x</key>
			<string>401.268</string>
			<key>y</key>
			<string>310.535</string>
		</dict>
		<key>{b93dd7f6-4a0e-498a-95e8-d902c6ab7526}</key>
		<dict>
			<key>x</key>
			<string>401.268</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{242b04df-5c87-4f62-a9fc-2dd6c8293ec1}</key>
		<dict>
			<key>x</key>
			<string>372.662</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{ade7b454-9235-49d5-a3d9-ecf6ae124823}</key>
		<dict>
			<key>x</key>
			<string>372.662</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{39bf0b7d-cb92-444f-8644-f0e44a554159}</key>
		<dict>
			<key>x</key>
			<string>344.056</string>
			<key>y</key>
			<string>305.575</string>
		</dict>
		<key>{415968b6-3732-4c53-99d2-e4008a4cffd7}</key>
		<dict>
			<key>x</key>
			<string>344.056</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{d9e8e4b4-7ed3-438a-9de1-f63e0bc02ebe}</key>
		<dict>
			<key>x</key>
			<string>315.45</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{8e8b4089-0bb9-41f8-9e24-7dddd3f314ac}</key>
		<dict>
			<key>x</key>
			<string>315.45</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{84545bec-ea06-4130-aff7-535c3fc31c6f}</key>
		<dict>
			<key>x</key>
			<string>249.864</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{6184a162-9e4d-47b6-9868-aa0905070568}</key>
		<dict>
			<key>x</key>
			<string>249.864</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{2add6c17-e46c-4c44-a155-d170b003132b}</key>
		<dict>
			<key>x</key>
			<string>220.444</string>
			<key>y</key>
			<string>305.575</string>
		</dict>
		<key>{b9a99e5a-bdaf-4834-8c85-1fe33bf76e0d}</key>
		<dict>
			<key>x</key>
			<string>220.444</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{dd64044d-8092-4ada-b6cc-abc418ba348b}</key>
		<dict>
			<key>x</key>
			<string>191.024</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{3c133a63-2231-4a22-a50c-ae7ad6d8b6dd}</key>
		<dict>
			<key>x</key>
			<string>191.024</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{d7640f9b-6ad0-4621-8b67-488ddc8aba95}</key>
		<dict>
			<key>x</key>
			<string>127.915</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{3f7f2400-30bf-4f3f-9f03-78193062cdaa}</key>
		<dict>
			<key>x</key>
			<string>127.915</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{ff515059-a1f9-419b-bd25-f562be06c5db}</key>
		<dict>
			<key>x</key>
			<string>99.7337</string>
			<key>y</key>
			<string>305.575</string>
		</dict>
		<key>{45637db7-7be8-488c-8cb0-27bda1de142b}</key>
		<dict>
			<key>x</key>
			<string>99.7337</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{d7f70217-c33e-41f8-8813-bc2e7d4ce8ef}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{72fcec54-3aff-42d6-91b4-41a5b0e2751e}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{9dc0982f-c9c3-4c03-8b62-a24714c548ee}</key>
		<dict>
			<key>x</key>
			<string>501.392</string>
			<key>y</key>
			<string>159.236</string>
		</dict>
		<key>{d8f2a4f0-f159-4ae8-9a8d-d350ba084e3b}</key>
		<dict>
			<key>x</key>
			<string>501.392</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{b58d557d-7c95-4693-b833-7a8ff962c671}</key>
		<dict>
			<key>x</key>
			<string>472.706</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{8e7a1dcc-c72e-476d-9e60-ed779e03558c}</key>
		<dict>
			<key>x</key>
			<string>472.706</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{72ca6cd9-4a33-4a8a-bcdd-a3d9232f2b2c}</key>
		<dict>
			<key>x</key>
			<string>444.02</string>
			<key>y</key>
			<string>164.197</string>
		</dict>
		<key>{ef338ca8-a436-42fa-b8ea-8159da28525a}</key>
		<dict>
			<key>x</key>
			<string>444.02</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{a22cf5e0-d01e-421a-920e-19b536e03f58}</key>
		<dict>
			<key>x</key>
			<string>379.901</string>
			<key>y</key>
			<string>159.236</string>
		</dict>
		<key>{801877f5-3004-4180-9c5f-79d75d2832af}</key>
		<dict>
			<key>x</key>
			<string>379.901</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{9b4ac084-f7e0-4843-bd33-e1b6a4fd995e}</key>
		<dict>
			<key>x</key>
			<string>351.214</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{0ca8b2f7-62bc-4150-8dd7-76d203286ce3}</key>
		<dict>
			<key>x</key>
			<string>351.214</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{c11ba02b-284d-494f-bfcf-c3ef70ade14e}</key>
		<dict>
			<key>x</key>
			<string>322.528</string>
			<key>y</key>
			<string>164.197</string>
		</dict>
		<key>{2b604c7c-7cb5-4969-8d81-26753631ba52}</key>
		<dict>
			<key>x</key>
			<string>322.528</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{f1e4ea20-7ef1-4e8d-9997-c4aeb45063f5}</key>
		<dict>
			<key>x</key>
			<string>258.409</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{2ef9324c-e28f-461e-8b29-778126f4c333}</key>
		<dict>
			<key>x</key>
			<string>258.409</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{8ae10a23-f270-4f81-9b20-d39d2317cd9f}</key>
		<dict>
			<key>x</key>
			<string>229.723</string>
			<key>y</key>
			<string>164.197</string>
		</dict>
		<key>{b6efd307-949b-4530-9400-004b63ebf0ba}</key>
		<dict>
			<key>x</key>
			<string>229.723</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{ccf6c9b3-5b2f-4dcc-aabf-b552f75d4f60}</key>
		<dict>
			<key>x</key>
			<string>201.037</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{a7fe2bb5-cdaa-4077-84ca-8a10ec082186}</key>
		<dict>
			<key>x</key>
			<string>201.037</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>{383ffc29-6d05-40e6-b031-cb58df636bda}</key>
		<dict>
			<key>x</key>
			<string>139.395</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{addf4935-f102-473a-bf3b-ff8381225d09}</key>
		<dict>
			<key>x</key>
			<string>139.395</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{567cba59-ac93-4d63-9af0-8e5e78db376f}</key>
		<dict>
			<key>x</key>
			<string>111.947</string>
			<key>y</key>
			<string>164.197</string>
		</dict>
		<key>{07fbd1dc-8076-4061-a4aa-22f2186b8e50}</key>
		<dict>
			<key>x</key>
			<string>111.947</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{6fcca06b-d28c-4a3f-9483-5f58fcca5ba1}</key>
		<dict>
			<key>x</key>
			<string>84.4996</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{f3af946d-3660-4e15-9964-634c0844a562}</key>
		<dict>
			<key>x</key>
			<string>84.4996</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{ddde5039-8d5c-473b-88a0-298a2501883e}</key>
		<dict>
			<key>x1</key>
			<string>501.669</string>
			<key>y1</key>
			<string>312.084</string>
			<key>x2</key>
			<string>501.669</string>
			<key>y2</key>
			<string>296.894</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{2e16067c-b910-434d-b4b9-6e5571e29804}</key>
		<dict>
			<key>x1</key>
			<string>501.669</string>
			<key>y1</key>
			<string>272.399</string>
			<key>x2</key>
			<string>501.669</string>
			<key>y2</key>
			<string>255.969</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{66c05c03-6557-4496-8133-669e00a0c75c}</key>
		<dict>
			<key>x1</key>
			<string>466.363</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>466.363</string>
			<key>y2</key>
			<string>324.177</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{e4aa2d32-f6b2-470b-96e0-cb893334eb60}</key>
		<dict>
			<key>x1</key>
			<string>472.249</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>472.249</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{84528951-49d3-4d07-b52e-1f1ebd02d7b4}</key>
		<dict>
			<key>x1</key>
			<string>436.943</string>
			<key>y1</key>
			<string>313.947</string>
			<key>x2</key>
			<string>436.943</string>
			<key>y2</key>
			<string>326.657</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{a18c2bc5-ad50-4d53-9b9f-2d9a0eeb1d46}</key>
		<dict>
			<key>x1</key>
			<string>442.829</string>
			<key>y1</key>
			<string>272.399</string>
			<key>x2</key>
			<string>442.829</string>
			<key>y2</key>
			<string>258.449</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{9ca01e5e-cf2a-4f0f-bd1b-b2375b7abc6c}</key>
		<dict>
			<key>x1</key>
			<string>401.591</string>
			<key>y1</key>
			<string>311.467</string>
			<key>x2</key>
			<string>401.591</string>
			<key>y2</key>
			<string>325.417</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{b93dd7f6-4a0e-498a-95e8-d902c6ab7526}</key>
		<dict>
			<key>x1</key>
			<string>407.477</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>407.477</string>
			<key>y2</key>
			<string>254.728</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{242b04df-5c87-4f62-a9fc-2dd6c8293ec1}</key>
		<dict>
			<key>x1</key>
			<string>372.985</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>372.985</string>
			<key>y2</key>
			<string>324.177</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{ade7b454-9235-49d5-a3d9-ecf6ae124823}</key>
		<dict>
			<key>x1</key>
			<string>378.871</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>378.871</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{39bf0b7d-cb92-444f-8644-f0e44a554159}</key>
		<dict>
			<key>x1</key>
			<string>344.379</string>
			<key>y1</key>
			<string>306.506</string>
			<key>x2</key>
			<string>344.379</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{415968b6-3732-4c53-99d2-e4008a4cffd7}</key>
		<dict>
			<key>x1</key>
			<string>350.265</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>350.265</string>
			<key>y2</key>
			<string>249.768</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{d9e8e4b4-7ed3-438a-9de1-f63e0bc02ebe}</key>
		<dict>
			<key>x1</key>
			<string>315.772</string>
			<key>y1</key>
			<string>304.026</string>
			<key>x2</key>
			<string>315.772</string>
			<key>y2</key>
			<string>319.217</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{8e8b4089-0bb9-41f8-9e24-7dddd3f314ac}</key>
		<dict>
			<key>x1</key>
			<string>321.659</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>321.659</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{84545bec-ea06-4130-aff7-535c3fc31c6f}</key>
		<dict>
			<key>x1</key>
			<string>250.186</string>
			<key>y1</key>
			<string>304.026</string>
			<key>x2</key>
			<string>250.186</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{6184a162-9e4d-47b6-9868-aa0905070568}</key>
		<dict>
			<key>x1</key>
			<string>256.072</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>256.072</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{2add6c17-e46c-4c44-a155-d170b003132b}</key>
		<dict>
			<key>x1</key>
			<string>220.766</string>
			<key>y1</key>
			<string>306.506</string>
			<key>x2</key>
			<string>220.766</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{b9a99e5a-bdaf-4834-8c85-1fe33bf76e0d}</key>
		<dict>
			<key>x1</key>
			<string>226.652</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>226.652</string>
			<key>y2</key>
			<string>252.248</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{dd64044d-8092-4ada-b6cc-abc418ba348b}</key>
		<dict>
			<key>x1</key>
			<string>191.346</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>191.346</string>
			<key>y2</key>
			<string>321.697</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{3c133a63-2231-4a22-a50c-ae7ad6d8b6dd}</key>
		<dict>
			<key>x1</key>
			<string>197.233</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>197.233</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{d7640f9b-6ad0-4621-8b67-488ddc8aba95}</key>
		<dict>
			<key>x1</key>
			<string>128.237</string>
			<key>y1</key>
			<string>304.026</string>
			<key>x2</key>
			<string>128.237</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{3f7f2400-30bf-4f3f-9f03-78193062cdaa}</key>
		<dict>
			<key>x1</key>
			<string>134.124</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>134.124</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{ff515059-a1f9-419b-bd25-f562be06c5db}</key>
		<dict>
			<key>x1</key>
			<string>100.056</string>
			<key>y1</key>
			<string>306.506</string>
			<key>x2</key>
			<string>100.056</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{45637db7-7be8-488c-8cb0-27bda1de142b}</key>
		<dict>
			<key>x1</key>
			<string>105.942</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>105.942</string>
			<key>y2</key>
			<string>252.248</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{d7f70217-c33e-41f8-8813-bc2e7d4ce8ef}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>321.697</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{72fcec54-3aff-42d6-91b4-41a5b0e2751e}</key>
		<dict>
			<key>x1</key>
			<string>77.7609</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>77.7609</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{9dc0982f-c9c3-4c03-8b62-a24714c548ee}</key>
		<dict>
			<key>x1</key>
			<string>501.715</string>
			<key>y1</key>
			<string>160.168</string>
			<key>x2</key>
			<string>501.715</string>
			<key>y2</key>
			<string>176.598</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{d8f2a4f0-f159-4ae8-9a8d-d350ba084e3b}</key>
		<dict>
			<key>x1</key>
			<string>507.601</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>507.601</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b58d557d-7c95-4693-b833-7a8ff962c671}</key>
		<dict>
			<key>x1</key>
			<string>473.028</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>473.028</string>
			<key>y2</key>
			<string>177.839</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{8e7a1dcc-c72e-476d-9e60-ed779e03558c}</key>
		<dict>
			<key>x1</key>
			<string>478.915</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>478.915</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{72ca6cd9-4a33-4a8a-bcdd-a3d9232f2b2c}</key>
		<dict>
			<key>x1</key>
			<string>444.342</string>
			<key>y1</key>
			<string>165.129</string>
			<key>x2</key>
			<string>444.342</string>
			<key>y2</key>
			<string>179.079</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{ef338ca8-a436-42fa-b8ea-8159da28525a}</key>
		<dict>
			<key>x1</key>
			<string>450.228</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>450.228</string>
			<key>y2</key>
			<string>108.39</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{a22cf5e0-d01e-421a-920e-19b536e03f58}</key>
		<dict>
			<key>x1</key>
			<string>380.223</string>
			<key>y1</key>
			<string>160.168</string>
			<key>x2</key>
			<string>380.223</string>
			<key>y2</key>
			<string>176.598</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{801877f5-3004-4180-9c5f-79d75d2832af}</key>
		<dict>
			<key>x1</key>
			<string>386.109</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>386.109</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9b4ac084-f7e0-4843-bd33-e1b6a4fd995e}</key>
		<dict>
			<key>x1</key>
			<string>351.537</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>351.537</string>
			<key>y2</key>
			<string>177.839</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{0ca8b2f7-62bc-4150-8dd7-76d203286ce3}</key>
		<dict>
			<key>x1</key>
			<string>357.423</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>357.423</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{c11ba02b-284d-494f-bfcf-c3ef70ade14e}</key>
		<dict>
			<key>x1</key>
			<string>322.851</string>
			<key>y1</key>
			<string>165.129</string>
			<key>x2</key>
			<string>322.851</string>
			<key>y2</key>
			<string>179.079</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{2b604c7c-7cb5-4969-8d81-26753631ba52}</key>
		<dict>
			<key>x1</key>
			<string>328.737</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>328.737</string>
			<key>y2</key>
			<string>108.39</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{f1e4ea20-7ef1-4e8d-9997-c4aeb45063f5}</key>
		<dict>
			<key>x1</key>
			<string>258.732</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>258.732</string>
			<key>y2</key>
			<string>179.079</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{2ef9324c-e28f-461e-8b29-778126f4c333}</key>
		<dict>
			<key>x1</key>
			<string>264.618</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>264.618</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{8ae10a23-f270-4f81-9b20-d39d2317cd9f}</key>
		<dict>
			<key>x1</key>
			<string>235.932</string>
			<key>y1</key>
			<string>163.265</string>
			<key>x2</key>
			<string>235.932</string>
			<key>y2</key>
			<string>149.315</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{b6efd307-949b-4530-9400-004b63ebf0ba}</key>
		<dict>
			<key>x1</key>
			<string>235.932</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>235.932</string>
			<key>y2</key>
			<string>110.87</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{ccf6c9b3-5b2f-4dcc-aabf-b552f75d4f60}</key>
		<dict>
			<key>x1</key>
			<string>207.245</string>
			<key>y1</key>
			<string>165.745</string>
			<key>x2</key>
			<string>207.245</string>
			<key>y2</key>
			<string>150.555</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{a7fe2bb5-cdaa-4077-84ca-8a10ec082186}</key>
		<dict>
			<key>x1</key>
			<string>207.245</string>
			<key>y1</key>
			<string>126.06</string>
			<key>x2</key>
			<string>207.245</string>
			<key>y2</key>
			<string>112.11</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{383ffc29-6d05-40e6-b031-cb58df636bda}</key>
		<dict>
			<key>x1</key>
			<string>139.717</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>139.717</string>
			<key>y2</key>
			<string>179.079</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{addf4935-f102-473a-bf3b-ff8381225d09}</key>
		<dict>
			<key>x1</key>
			<string>145.604</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>145.604</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{567cba59-ac93-4d63-9af0-8e5e78db376f}</key>
		<dict>
			<key>x1</key>
			<string>118.156</string>
			<key>y1</key>
			<string>163.265</string>
			<key>x2</key>
			<string>118.156</string>
			<key>y2</key>
			<string>149.315</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{07fbd1dc-8076-4061-a4aa-22f2186b8e50}</key>
		<dict>
			<key>x1</key>
			<string>118.156</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>118.156</string>
			<key>y2</key>
			<string>110.87</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{6fcca06b-d28c-4a3f-9483-5f58fcca5ba1}</key>
		<dict>
			<key>x1</key>
			<string>90.7082</string>
			<key>y1</key>
			<string>165.745</string>
			<key>x2</key>
			<string>90.7082</string>
			<key>y2</key>
			<string>150.555</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{f3af946d-3660-4e15-9964-634c0844a562}</key>
		<dict>
			<key>x1</key>
			<string>90.7082</string>
			<key>y1</key>
			<string>126.06</string>
			<key>x2</key>
			<string>90.7082</string>
			<key>y2</key>
			<string>112.11</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
	</dict>
</dict>
</plist>