<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>247.04</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>282.619</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>391.89</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>427.47</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>536.741</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>572.321</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>681.592</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>717.171</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>6</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>823.404</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>858.984</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>7</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>969.743</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>1005.32</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{e7d04d2c-41d8-4a04-8b00-b6ead76b707b}</key>
		<dict>
			<key>x</key>
			<string>499.367</string>
			<key>y</key>
			<string>456.378</string>
		</dict>
		<key>{e7322142-a4c1-43b4-84f7-7dda5216e16d}</key>
		<dict>
			<key>x</key>
			<string>499.367</string>
			<key>y</key>
			<string>416.693</string>
		</dict>
		<key>{f686b8a3-438d-4047-acf3-f819fed4e002}</key>
		<dict>
			<key>x</key>
			<string>469.668</string>
			<key>y</key>
			<string>451.418</string>
		</dict>
		<key>{cead47f2-53cd-414a-b7ee-c40608689dcd}</key>
		<dict>
			<key>x</key>
			<string>469.668</string>
			<key>y</key>
			<string>411.733</string>
		</dict>
		<key>{e9146d39-b5b1-4a72-af00-15f80d690bed}</key>
		<dict>
			<key>x</key>
			<string>439.969</string>
			<key>y</key>
			<string>456.378</string>
		</dict>
		<key>{9d041333-c4b7-46cd-b70d-ee46b5fbc416}</key>
		<dict>
			<key>x</key>
			<string>439.969</string>
			<key>y</key>
			<string>416.693</string>
		</dict>
		<key>{267dfd20-3ca7-42ef-8daf-85adb3eed153}</key>
		<dict>
			<key>x</key>
			<string>404.338</string>
			<key>y</key>
			<string>453.898</string>
		</dict>
		<key>{e5f1c7ec-88c6-40ce-b999-eaa745c1f200}</key>
		<dict>
			<key>x</key>
			<string>404.338</string>
			<key>y</key>
			<string>414.213</string>
		</dict>
		<key>{e33edfb8-b587-4a8d-b955-b5c7038f410e}</key>
		<dict>
			<key>x</key>
			<string>375.452</string>
			<key>y</key>
			<string>451.418</string>
		</dict>
		<key>{7557fe1e-4a12-4ba5-8568-a4144013165c}</key>
		<dict>
			<key>x</key>
			<string>375.452</string>
			<key>y</key>
			<string>411.733</string>
		</dict>
		<key>{aac14724-9c88-489c-9911-2973fc81ab5e}</key>
		<dict>
			<key>x</key>
			<string>346.567</string>
			<key>y</key>
			<string>448.938</string>
		</dict>
		<key>{8542eee2-f1d4-49fd-bbaa-515b2f4c81b5}</key>
		<dict>
			<key>x</key>
			<string>346.567</string>
			<key>y</key>
			<string>409.253</string>
		</dict>
		<key>{ee0fa5f6-1da1-4d25-83b1-9403f74e0d24}</key>
		<dict>
			<key>x</key>
			<string>317.682</string>
			<key>y</key>
			<string>446.457</string>
		</dict>
		<key>{2a99d455-3af6-4ee3-9d25-a8f5b681f349}</key>
		<dict>
			<key>x</key>
			<string>317.682</string>
			<key>y</key>
			<string>406.772</string>
		</dict>
		<key>{6a041e81-67d8-48e7-9fe7-239fe3973ec2}</key>
		<dict>
			<key>x</key>
			<string>251.538</string>
			<key>y</key>
			<string>446.457</string>
		</dict>
		<key>{b2370e6a-fa77-4d3e-88ea-340f7eeb1ac8}</key>
		<dict>
			<key>x</key>
			<string>251.538</string>
			<key>y</key>
			<string>406.772</string>
		</dict>
		<key>{544e7298-d8a2-4c84-bc13-383c8ce68951}</key>
		<dict>
			<key>x</key>
			<string>221.839</string>
			<key>y</key>
			<string>448.938</string>
		</dict>
		<key>{3882bcca-07c5-45bf-a19e-6e8476cb0b3f}</key>
		<dict>
			<key>x</key>
			<string>221.839</string>
			<key>y</key>
			<string>409.253</string>
		</dict>
		<key>{bd8e51e7-1ce9-42c6-90c8-17cb7792c995}</key>
		<dict>
			<key>x</key>
			<string>192.14</string>
			<key>y</key>
			<string>451.418</string>
		</dict>
		<key>{7064af50-83a9-4ac5-af8d-bf7dd41be4c9}</key>
		<dict>
			<key>x</key>
			<string>192.14</string>
			<key>y</key>
			<string>411.733</string>
		</dict>
		<key>{ad4eaefd-c8c8-4e99-885b-e7d4a4b9df80}</key>
		<dict>
			<key>x</key>
			<string>128.473</string>
			<key>y</key>
			<string>446.457</string>
		</dict>
		<key>{0121baa5-ab22-4577-a286-7f96e963bc06}</key>
		<dict>
			<key>x</key>
			<string>128.473</string>
			<key>y</key>
			<string>406.772</string>
		</dict>
		<key>{82e6edcb-bde0-4e47-a571-676f3aeae5d2}</key>
		<dict>
			<key>x</key>
			<string>100.013</string>
			<key>y</key>
			<string>448.938</string>
		</dict>
		<key>{127612f8-e0a8-4b69-8137-4089f592213a}</key>
		<dict>
			<key>x</key>
			<string>100.013</string>
			<key>y</key>
			<string>409.253</string>
		</dict>
		<key>{e81323f5-4f49-44ac-bb75-1ef8f67f821c}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>451.418</string>
		</dict>
		<key>{6a61f9c4-fd12-45f4-9560-063fcd24e704}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>411.733</string>
		</dict>
		<key>{ea9a03c0-2678-4fa3-96b2-9b9a202f7325}</key>
		<dict>
			<key>x</key>
			<string>499.774</string>
			<key>y</key>
			<string>304.087</string>
		</dict>
		<key>{5ff2bc89-f3d9-49db-a4a2-382737e4b5a8}</key>
		<dict>
			<key>x</key>
			<string>499.774</string>
			<key>y</key>
			<string>264.402</string>
		</dict>
		<key>{fcb03c6e-1e38-4c8f-8790-52db11c1f917}</key>
		<dict>
			<key>x</key>
			<string>470.278</string>
			<key>y</key>
			<string>306.567</string>
		</dict>
		<key>{ac6585b8-ca40-4509-b087-2af04ab52ef6}</key>
		<dict>
			<key>x</key>
			<string>470.278</string>
			<key>y</key>
			<string>266.882</string>
		</dict>
		<key>{500cbbbe-23cb-473d-898c-0cefad69f26f}</key>
		<dict>
			<key>x</key>
			<string>440.783</string>
			<key>y</key>
			<string>309.048</string>
		</dict>
		<key>{7d8e7834-7cb5-4504-a251-2721a8760ae5}</key>
		<dict>
			<key>x</key>
			<string>440.783</string>
			<key>y</key>
			<string>269.362</string>
		</dict>
		<key>{8d19391f-0abb-4ef8-ae23-0b994c2a7264}</key>
		<dict>
			<key>x</key>
			<string>375.046</string>
			<key>y</key>
			<string>304.087</string>
		</dict>
		<key>{fc7e1175-2bb9-4e69-ba1a-8036a9feb831}</key>
		<dict>
			<key>x</key>
			<string>375.046</string>
			<key>y</key>
			<string>264.402</string>
		</dict>
		<key>{0de43d54-028b-4ca2-8d54-1060223e4fc1}</key>
		<dict>
			<key>x</key>
			<string>345.55</string>
			<key>y</key>
			<string>306.567</string>
		</dict>
		<key>{430c29d6-f518-4015-9dfa-90e3617c855a}</key>
		<dict>
			<key>x</key>
			<string>345.55</string>
			<key>y</key>
			<string>266.882</string>
		</dict>
		<key>{2fc6ee2b-e17a-45b0-8220-eabf8183ccb1}</key>
		<dict>
			<key>x</key>
			<string>316.055</string>
			<key>y</key>
			<string>309.048</string>
		</dict>
		<key>{f573be8d-9ad1-44e4-af17-c989870046cc}</key>
		<dict>
			<key>x</key>
			<string>316.055</string>
			<key>y</key>
			<string>269.362</string>
		</dict>
		<key>{52e6e890-e847-4f66-9316-cb8ad273b645}</key>
		<dict>
			<key>x</key>
			<string>250.317</string>
			<key>y</key>
			<string>306.567</string>
		</dict>
		<key>{873fe3c4-b4be-478b-b604-52fdb3e7902f}</key>
		<dict>
			<key>x</key>
			<string>250.317</string>
			<key>y</key>
			<string>266.882</string>
		</dict>
		<key>{c733caa7-612e-45a6-8909-45a89c936cb1}</key>
		<dict>
			<key>x</key>
			<string>220.822</string>
			<key>y</key>
			<string>309.048</string>
		</dict>
		<key>{46f15ab8-ee93-4a40-b171-f5a1f8bda343}</key>
		<dict>
			<key>x</key>
			<string>220.822</string>
			<key>y</key>
			<string>269.362</string>
		</dict>
		<key>{c09f8359-ef91-49bd-b91e-b24ed9224109}</key>
		<dict>
			<key>x</key>
			<string>191.326</string>
			<key>y</key>
			<string>311.528</string>
		</dict>
		<key>{0ec84d55-2f1b-40fc-b0c7-3b3ae55b873e}</key>
		<dict>
			<key>x</key>
			<string>191.326</string>
			<key>y</key>
			<string>271.843</string>
		</dict>
		<key>{b53382f9-d8fd-4ef6-8b22-ac7f4dce566c}</key>
		<dict>
			<key>x</key>
			<string>128.066</string>
			<key>y</key>
			<string>306.567</string>
		</dict>
		<key>{03d33b0a-878f-4215-b906-9842ffe5f863}</key>
		<dict>
			<key>x</key>
			<string>128.066</string>
			<key>y</key>
			<string>266.882</string>
		</dict>
		<key>{f2f234d4-aa96-4c84-9874-be79795df982}</key>
		<dict>
			<key>x</key>
			<string>99.8093</string>
			<key>y</key>
			<string>309.048</string>
		</dict>
		<key>{36401661-c813-4ad7-89e1-0dbd3715c852}</key>
		<dict>
			<key>x</key>
			<string>99.8093</string>
			<key>y</key>
			<string>269.362</string>
		</dict>
		<key>{a83bce6b-da4d-4505-b54c-48884614a366}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>311.528</string>
		</dict>
		<key>{401acf3f-9c65-401c-8a3d-4380f59c0e8e}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>271.843</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{e7d04d2c-41d8-4a04-8b00-b6ead76b707b}</key>
		<dict>
			<key>x1</key>
			<string>505.575</string>
			<key>y1</key>
			<string>455.447</string>
			<key>x2</key>
			<string>505.575</string>
			<key>y2</key>
			<string>440.256</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{e7322142-a4c1-43b4-84f7-7dda5216e16d}</key>
		<dict>
			<key>x1</key>
			<string>505.575</string>
			<key>y1</key>
			<string>415.762</string>
			<key>x2</key>
			<string>505.575</string>
			<key>y2</key>
			<string>399.331</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f686b8a3-438d-4047-acf3-f819fed4e002}</key>
		<dict>
			<key>x1</key>
			<string>469.99</string>
			<key>y1</key>
			<string>452.35</string>
			<key>x2</key>
			<string>469.99</string>
			<key>y2</key>
			<string>467.54</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{cead47f2-53cd-414a-b7ee-c40608689dcd}</key>
		<dict>
			<key>x1</key>
			<string>475.877</string>
			<key>y1</key>
			<string>410.801</string>
			<key>x2</key>
			<string>475.877</string>
			<key>y2</key>
			<string>396.851</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{e9146d39-b5b1-4a72-af00-15f80d690bed}</key>
		<dict>
			<key>x1</key>
			<string>440.291</string>
			<key>y1</key>
			<string>457.31</string>
			<key>x2</key>
			<string>440.291</string>
			<key>y2</key>
			<string>470.02</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{9d041333-c4b7-46cd-b70d-ee46b5fbc416}</key>
		<dict>
			<key>x1</key>
			<string>446.178</string>
			<key>y1</key>
			<string>415.762</string>
			<key>x2</key>
			<string>446.178</string>
			<key>y2</key>
			<string>401.812</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{267dfd20-3ca7-42ef-8daf-85adb3eed153}</key>
		<dict>
			<key>x1</key>
			<string>404.66</string>
			<key>y1</key>
			<string>454.83</string>
			<key>x2</key>
			<string>404.66</string>
			<key>y2</key>
			<string>468.78</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{e5f1c7ec-88c6-40ce-b999-eaa745c1f200}</key>
		<dict>
			<key>x1</key>
			<string>410.546</string>
			<key>y1</key>
			<string>413.281</string>
			<key>x2</key>
			<string>410.546</string>
			<key>y2</key>
			<string>398.091</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{e33edfb8-b587-4a8d-b955-b5c7038f410e}</key>
		<dict>
			<key>x1</key>
			<string>375.775</string>
			<key>y1</key>
			<string>452.35</string>
			<key>x2</key>
			<string>375.775</string>
			<key>y2</key>
			<string>467.54</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{7557fe1e-4a12-4ba5-8568-a4144013165c}</key>
		<dict>
			<key>x1</key>
			<string>381.661</string>
			<key>y1</key>
			<string>410.801</string>
			<key>x2</key>
			<string>381.661</string>
			<key>y2</key>
			<string>396.851</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{aac14724-9c88-489c-9911-2973fc81ab5e}</key>
		<dict>
			<key>x1</key>
			<string>346.89</string>
			<key>y1</key>
			<string>449.869</string>
			<key>x2</key>
			<string>346.89</string>
			<key>y2</key>
			<string>463.819</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{8542eee2-f1d4-49fd-bbaa-515b2f4c81b5}</key>
		<dict>
			<key>x1</key>
			<string>352.776</string>
			<key>y1</key>
			<string>408.321</string>
			<key>x2</key>
			<string>352.776</string>
			<key>y2</key>
			<string>393.13</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{ee0fa5f6-1da1-4d25-83b1-9403f74e0d24}</key>
		<dict>
			<key>x1</key>
			<string>318.005</string>
			<key>y1</key>
			<string>447.389</string>
			<key>x2</key>
			<string>318.005</string>
			<key>y2</key>
			<string>462.579</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{2a99d455-3af6-4ee3-9d25-a8f5b681f349}</key>
		<dict>
			<key>x1</key>
			<string>323.891</string>
			<key>y1</key>
			<string>405.841</string>
			<key>x2</key>
			<string>323.891</string>
			<key>y2</key>
			<string>391.89</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{6a041e81-67d8-48e7-9fe7-239fe3973ec2}</key>
		<dict>
			<key>x1</key>
			<string>251.86</string>
			<key>y1</key>
			<string>447.389</string>
			<key>x2</key>
			<string>251.86</string>
			<key>y2</key>
			<string>463.819</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{b2370e6a-fa77-4d3e-88ea-340f7eeb1ac8}</key>
		<dict>
			<key>x1</key>
			<string>257.747</string>
			<key>y1</key>
			<string>405.841</string>
			<key>x2</key>
			<string>257.747</string>
			<key>y2</key>
			<string>390.03</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{544e7298-d8a2-4c84-bc13-383c8ce68951}</key>
		<dict>
			<key>x1</key>
			<string>222.162</string>
			<key>y1</key>
			<string>449.869</string>
			<key>x2</key>
			<string>222.162</string>
			<key>y2</key>
			<string>463.819</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{3882bcca-07c5-45bf-a19e-6e8476cb0b3f}</key>
		<dict>
			<key>x1</key>
			<string>228.048</string>
			<key>y1</key>
			<string>408.321</string>
			<key>x2</key>
			<string>228.048</string>
			<key>y2</key>
			<string>395.611</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{bd8e51e7-1ce9-42c6-90c8-17cb7792c995}</key>
		<dict>
			<key>x1</key>
			<string>192.463</string>
			<key>y1</key>
			<string>452.35</string>
			<key>x2</key>
			<string>192.463</string>
			<key>y2</key>
			<string>465.06</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{7064af50-83a9-4ac5-af8d-bf7dd41be4c9}</key>
		<dict>
			<key>x1</key>
			<string>198.349</string>
			<key>y1</key>
			<string>410.801</string>
			<key>x2</key>
			<string>198.349</string>
			<key>y2</key>
			<string>396.851</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{ad4eaefd-c8c8-4e99-885b-e7d4a4b9df80}</key>
		<dict>
			<key>x1</key>
			<string>128.795</string>
			<key>y1</key>
			<string>447.389</string>
			<key>x2</key>
			<string>128.795</string>
			<key>y2</key>
			<string>463.819</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{0121baa5-ab22-4577-a286-7f96e963bc06}</key>
		<dict>
			<key>x1</key>
			<string>134.682</string>
			<key>y1</key>
			<string>405.841</string>
			<key>x2</key>
			<string>134.682</string>
			<key>y2</key>
			<string>390.03</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{82e6edcb-bde0-4e47-a571-676f3aeae5d2}</key>
		<dict>
			<key>x1</key>
			<string>100.335</string>
			<key>y1</key>
			<string>449.869</string>
			<key>x2</key>
			<string>100.335</string>
			<key>y2</key>
			<string>463.819</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{127612f8-e0a8-4b69-8137-4089f592213a}</key>
		<dict>
			<key>x1</key>
			<string>106.221</string>
			<key>y1</key>
			<string>408.321</string>
			<key>x2</key>
			<string>106.221</string>
			<key>y2</key>
			<string>395.611</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{e81323f5-4f49-44ac-bb75-1ef8f67f821c}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>452.35</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>465.06</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{6a61f9c4-fd12-45f4-9560-063fcd24e704}</key>
		<dict>
			<key>x1</key>
			<string>77.7609</string>
			<key>y1</key>
			<string>410.801</string>
			<key>x2</key>
			<string>77.7609</string>
			<key>y2</key>
			<string>396.851</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{ea9a03c0-2678-4fa3-96b2-9b9a202f7325}</key>
		<dict>
			<key>x1</key>
			<string>500.096</string>
			<key>y1</key>
			<string>305.019</string>
			<key>x2</key>
			<string>500.096</string>
			<key>y2</key>
			<string>321.449</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{5ff2bc89-f3d9-49db-a4a2-382737e4b5a8}</key>
		<dict>
			<key>x1</key>
			<string>505.982</string>
			<key>y1</key>
			<string>263.47</string>
			<key>x2</key>
			<string>505.982</string>
			<key>y2</key>
			<string>247.04</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{fcb03c6e-1e38-4c8f-8790-52db11c1f917}</key>
		<dict>
			<key>x1</key>
			<string>470.601</string>
			<key>y1</key>
			<string>307.499</string>
			<key>x2</key>
			<string>470.601</string>
			<key>y2</key>
			<string>322.689</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{ac6585b8-ca40-4509-b087-2af04ab52ef6}</key>
		<dict>
			<key>x1</key>
			<string>476.487</string>
			<key>y1</key>
			<string>265.95</string>
			<key>x2</key>
			<string>476.487</string>
			<key>y2</key>
			<string>252</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{500cbbbe-23cb-473d-898c-0cefad69f26f}</key>
		<dict>
			<key>x1</key>
			<string>441.105</string>
			<key>y1</key>
			<string>309.979</string>
			<key>x2</key>
			<string>441.105</string>
			<key>y2</key>
			<string>323.929</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{7d8e7834-7cb5-4504-a251-2721a8760ae5}</key>
		<dict>
			<key>x1</key>
			<string>446.991</string>
			<key>y1</key>
			<string>268.431</string>
			<key>x2</key>
			<string>446.991</string>
			<key>y2</key>
			<string>253.24</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{8d19391f-0abb-4ef8-ae23-0b994c2a7264}</key>
		<dict>
			<key>x1</key>
			<string>375.368</string>
			<key>y1</key>
			<string>305.019</string>
			<key>x2</key>
			<string>375.368</string>
			<key>y2</key>
			<string>321.449</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{fc7e1175-2bb9-4e69-ba1a-8036a9feb831}</key>
		<dict>
			<key>x1</key>
			<string>381.254</string>
			<key>y1</key>
			<string>263.47</string>
			<key>x2</key>
			<string>381.254</string>
			<key>y2</key>
			<string>247.04</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{0de43d54-028b-4ca2-8d54-1060223e4fc1}</key>
		<dict>
			<key>x1</key>
			<string>345.873</string>
			<key>y1</key>
			<string>307.499</string>
			<key>x2</key>
			<string>345.873</string>
			<key>y2</key>
			<string>322.689</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{430c29d6-f518-4015-9dfa-90e3617c855a}</key>
		<dict>
			<key>x1</key>
			<string>351.759</string>
			<key>y1</key>
			<string>265.95</string>
			<key>x2</key>
			<string>351.759</string>
			<key>y2</key>
			<string>252</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{2fc6ee2b-e17a-45b0-8220-eabf8183ccb1}</key>
		<dict>
			<key>x1</key>
			<string>316.377</string>
			<key>y1</key>
			<string>309.979</string>
			<key>x2</key>
			<string>316.377</string>
			<key>y2</key>
			<string>323.929</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{f573be8d-9ad1-44e4-af17-c989870046cc}</key>
		<dict>
			<key>x1</key>
			<string>322.263</string>
			<key>y1</key>
			<string>268.431</string>
			<key>x2</key>
			<string>322.263</string>
			<key>y2</key>
			<string>253.24</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{52e6e890-e847-4f66-9316-cb8ad273b645}</key>
		<dict>
			<key>x1</key>
			<string>250.64</string>
			<key>y1</key>
			<string>307.499</string>
			<key>x2</key>
			<string>250.64</string>
			<key>y2</key>
			<string>323.929</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{873fe3c4-b4be-478b-b604-52fdb3e7902f}</key>
		<dict>
			<key>x1</key>
			<string>256.526</string>
			<key>y1</key>
			<string>265.95</string>
			<key>x2</key>
			<string>256.526</string>
			<key>y2</key>
			<string>249.52</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c733caa7-612e-45a6-8909-45a89c936cb1}</key>
		<dict>
			<key>x1</key>
			<string>227.03</string>
			<key>y1</key>
			<string>308.116</string>
			<key>x2</key>
			<string>227.03</string>
			<key>y2</key>
			<string>294.166</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{46f15ab8-ee93-4a40-b171-f5a1f8bda343}</key>
		<dict>
			<key>x1</key>
			<string>227.03</string>
			<key>y1</key>
			<string>268.431</string>
			<key>x2</key>
			<string>227.03</string>
			<key>y2</key>
			<string>255.721</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{c09f8359-ef91-49bd-b91e-b24ed9224109}</key>
		<dict>
			<key>x1</key>
			<string>197.535</string>
			<key>y1</key>
			<string>310.596</string>
			<key>x2</key>
			<string>197.535</string>
			<key>y2</key>
			<string>295.406</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{0ec84d55-2f1b-40fc-b0c7-3b3ae55b873e}</key>
		<dict>
			<key>x1</key>
			<string>197.535</string>
			<key>y1</key>
			<string>270.911</string>
			<key>x2</key>
			<string>197.535</string>
			<key>y2</key>
			<string>256.961</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{b53382f9-d8fd-4ef6-8b22-ac7f4dce566c}</key>
		<dict>
			<key>x1</key>
			<string>128.389</string>
			<key>y1</key>
			<string>307.499</string>
			<key>x2</key>
			<string>128.389</string>
			<key>y2</key>
			<string>323.929</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{03d33b0a-878f-4215-b906-9842ffe5f863}</key>
		<dict>
			<key>x1</key>
			<string>134.275</string>
			<key>y1</key>
			<string>265.95</string>
			<key>x2</key>
			<string>134.275</string>
			<key>y2</key>
			<string>249.52</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f2f234d4-aa96-4c84-9874-be79795df982}</key>
		<dict>
			<key>x1</key>
			<string>106.018</string>
			<key>y1</key>
			<string>308.116</string>
			<key>x2</key>
			<string>106.018</string>
			<key>y2</key>
			<string>294.166</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{36401661-c813-4ad7-89e1-0dbd3715c852}</key>
		<dict>
			<key>x1</key>
			<string>106.018</string>
			<key>y1</key>
			<string>268.431</string>
			<key>x2</key>
			<string>106.018</string>
			<key>y2</key>
			<string>255.721</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{a83bce6b-da4d-4505-b54c-48884614a366}</key>
		<dict>
			<key>x1</key>
			<string>77.7609</string>
			<key>y1</key>
			<string>310.596</string>
			<key>x2</key>
			<string>77.7609</string>
			<key>y2</key>
			<string>295.406</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{401acf3f-9c65-401c-8a3d-4380f59c0e8e}</key>
		<dict>
			<key>x1</key>
			<string>77.7609</string>
			<key>y1</key>
			<string>270.911</string>
			<key>x2</key>
			<string>77.7609</string>
			<key>y2</key>
			<string>256.961</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
	</dict>
</dict>
</plist>