<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{d1568140-b2a5-416f-846e-314128cde98f}</key>
		<dict>
			<key>x</key>
			<string>495.46</string>
			<key>y</key>
			<string>313.016</string>
		</dict>
		<key>{1f0268ea-1e2f-4b9c-8d07-92e36d6a2539}</key>
		<dict>
			<key>x</key>
			<string>495.46</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{9e427df8-4104-4458-94af-0c31aa1f60ca}</key>
		<dict>
			<key>x</key>
			<string>466.041</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{82a7fffe-f5cb-426c-8a4f-331504c5026d}</key>
		<dict>
			<key>x</key>
			<string>466.041</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{8b94707a-33b6-4bbf-a075-1483399320d1}</key>
		<dict>
			<key>x</key>
			<string>436.621</string>
			<key>y</key>
			<string>313.016</string>
		</dict>
		<key>{15ba00f5-c054-41f9-955b-e16dba71292b}</key>
		<dict>
			<key>x</key>
			<string>436.621</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{a35109df-bef4-400f-bb15-fe1b85c491c9}</key>
		<dict>
			<key>x</key>
			<string>401.268</string>
			<key>y</key>
			<string>310.535</string>
		</dict>
		<key>{813afe8c-b610-4110-ac9e-1432594d4e3d}</key>
		<dict>
			<key>x</key>
			<string>401.268</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{9610d5c2-0bf8-41fd-ab4d-14dbf86cce6d}</key>
		<dict>
			<key>x</key>
			<string>372.662</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{fffadd77-2942-4f37-a167-6e24c56098a4}</key>
		<dict>
			<key>x</key>
			<string>372.662</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{98232d8f-02c0-4800-8528-4895c5978c9c}</key>
		<dict>
			<key>x</key>
			<string>344.056</string>
			<key>y</key>
			<string>305.575</string>
		</dict>
		<key>{4358383b-2509-4cd8-906e-5c3284432293}</key>
		<dict>
			<key>x</key>
			<string>344.056</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{964794e4-4f3f-4f71-aa03-41b0663e955b}</key>
		<dict>
			<key>x</key>
			<string>315.45</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{945d33aa-98e6-4b71-8200-d3a503651b8d}</key>
		<dict>
			<key>x</key>
			<string>315.45</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{0832e60f-4397-4361-84a6-d5cd047e4363}</key>
		<dict>
			<key>x</key>
			<string>249.864</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{3a7386c3-edcb-4999-b1c6-8dd994cf8475}</key>
		<dict>
			<key>x</key>
			<string>249.864</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{9fc0e678-636e-4a12-aa64-604e994f35a9}</key>
		<dict>
			<key>x</key>
			<string>220.444</string>
			<key>y</key>
			<string>305.575</string>
		</dict>
		<key>{1796531f-2ab7-4a5d-8adb-294e3445f064}</key>
		<dict>
			<key>x</key>
			<string>220.444</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{66f3f38d-a126-400b-86e3-58ae9f7ebf0a}</key>
		<dict>
			<key>x</key>
			<string>191.024</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{c8bfa8f1-8d0b-43d6-b9c6-52dbc65382b9}</key>
		<dict>
			<key>x</key>
			<string>191.024</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{8ee9c5d0-dae9-4f74-99f6-194406e52564}</key>
		<dict>
			<key>x</key>
			<string>127.915</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{4dcc492b-a543-42f0-a46d-0ce0821b1027}</key>
		<dict>
			<key>x</key>
			<string>127.915</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{1763318a-27e2-48a6-bfed-da9d8ad33f64}</key>
		<dict>
			<key>x</key>
			<string>99.7337</string>
			<key>y</key>
			<string>305.575</string>
		</dict>
		<key>{9a5da17e-eb77-426f-8014-2ff92abfdfe8}</key>
		<dict>
			<key>x</key>
			<string>99.7337</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{b0e2fa16-414a-4514-99a1-b1d444bf1e55}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{ce6940fe-e6dc-4e48-84fb-eec464395802}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{faecfc31-3485-4cc9-89c6-690bb046b4e4}</key>
		<dict>
			<key>x</key>
			<string>501.392</string>
			<key>y</key>
			<string>159.236</string>
		</dict>
		<key>{6e9c0894-6ddf-484e-b22e-d42c646a0f43}</key>
		<dict>
			<key>x</key>
			<string>501.392</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{60134059-1a9e-41a5-84e8-cd817f9244b9}</key>
		<dict>
			<key>x</key>
			<string>472.706</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{c22c0460-7daf-4137-8eaa-b62b41c9e867}</key>
		<dict>
			<key>x</key>
			<string>472.706</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{903ef7e7-0d8e-46d0-be0c-07af73ff196e}</key>
		<dict>
			<key>x</key>
			<string>444.02</string>
			<key>y</key>
			<string>164.197</string>
		</dict>
		<key>{cda4024b-9c46-40a1-807e-0e5ddad52805}</key>
		<dict>
			<key>x</key>
			<string>444.02</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{66692ed7-9f46-4508-8fcc-2b5c968be5f6}</key>
		<dict>
			<key>x</key>
			<string>379.901</string>
			<key>y</key>
			<string>159.236</string>
		</dict>
		<key>{7620331a-7a1e-4fb3-bcdb-ed8085231b35}</key>
		<dict>
			<key>x</key>
			<string>379.901</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{f7d84407-e359-4d69-9d08-3c69ad04acbd}</key>
		<dict>
			<key>x</key>
			<string>351.214</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{387f02f2-1a43-4e73-b7f5-739ca4ae2f25}</key>
		<dict>
			<key>x</key>
			<string>351.214</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{ed340f5b-74b1-4c83-beec-13310f64244b}</key>
		<dict>
			<key>x</key>
			<string>322.528</string>
			<key>y</key>
			<string>164.197</string>
		</dict>
		<key>{dd49b11b-c281-4dbf-80b3-bd0c6d2d3ba9}</key>
		<dict>
			<key>x</key>
			<string>322.528</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{e54c58fd-f1cb-4d32-b797-a9c6634db2be}</key>
		<dict>
			<key>x</key>
			<string>258.409</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{bf3981f7-0073-42b0-818d-950846afa1de}</key>
		<dict>
			<key>x</key>
			<string>258.409</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{56aeeef2-cb68-4728-aed5-55cc56d258e5}</key>
		<dict>
			<key>x</key>
			<string>229.723</string>
			<key>y</key>
			<string>164.197</string>
		</dict>
		<key>{2ea6152a-445d-4441-9447-aef9ce7bb990}</key>
		<dict>
			<key>x</key>
			<string>229.723</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{3b535896-eae0-42ab-b21d-2649cec0fc16}</key>
		<dict>
			<key>x</key>
			<string>201.037</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{ad66fc03-92b0-4825-ab9c-7b132925357a}</key>
		<dict>
			<key>x</key>
			<string>201.037</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>{a0113a29-11b2-465b-969d-d85c236c6d12}</key>
		<dict>
			<key>x</key>
			<string>139.395</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{c5448bb3-916a-48d4-b4a1-a203a6ed095c}</key>
		<dict>
			<key>x</key>
			<string>139.395</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{509fc4c5-bb82-44b6-a215-60917683bf0a}</key>
		<dict>
			<key>x</key>
			<string>111.947</string>
			<key>y</key>
			<string>164.197</string>
		</dict>
		<key>{e3023831-c3ce-42ac-aba8-8ace5d4a13e1}</key>
		<dict>
			<key>x</key>
			<string>111.947</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{e27ee605-f432-4d45-b5b6-dc38fcac5614}</key>
		<dict>
			<key>x</key>
			<string>84.4996</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{acd37486-53f5-4706-8f6d-565c5b7a1bd8}</key>
		<dict>
			<key>x</key>
			<string>84.4996</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{d1568140-b2a5-416f-846e-314128cde98f}</key>
		<dict>
			<key>x1</key>
			<string>501.669</string>
			<key>y1</key>
			<string>312.084</string>
			<key>x2</key>
			<string>501.669</string>
			<key>y2</key>
			<string>296.894</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{1f0268ea-1e2f-4b9c-8d07-92e36d6a2539}</key>
		<dict>
			<key>x1</key>
			<string>501.669</string>
			<key>y1</key>
			<string>272.399</string>
			<key>x2</key>
			<string>501.669</string>
			<key>y2</key>
			<string>255.969</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9e427df8-4104-4458-94af-0c31aa1f60ca}</key>
		<dict>
			<key>x1</key>
			<string>466.363</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>466.363</string>
			<key>y2</key>
			<string>324.177</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{82a7fffe-f5cb-426c-8a4f-331504c5026d}</key>
		<dict>
			<key>x1</key>
			<string>472.249</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>472.249</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{8b94707a-33b6-4bbf-a075-1483399320d1}</key>
		<dict>
			<key>x1</key>
			<string>436.943</string>
			<key>y1</key>
			<string>313.947</string>
			<key>x2</key>
			<string>436.943</string>
			<key>y2</key>
			<string>326.657</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{15ba00f5-c054-41f9-955b-e16dba71292b}</key>
		<dict>
			<key>x1</key>
			<string>442.829</string>
			<key>y1</key>
			<string>272.399</string>
			<key>x2</key>
			<string>442.829</string>
			<key>y2</key>
			<string>258.449</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{a35109df-bef4-400f-bb15-fe1b85c491c9}</key>
		<dict>
			<key>x1</key>
			<string>401.591</string>
			<key>y1</key>
			<string>311.467</string>
			<key>x2</key>
			<string>401.591</string>
			<key>y2</key>
			<string>325.417</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{813afe8c-b610-4110-ac9e-1432594d4e3d}</key>
		<dict>
			<key>x1</key>
			<string>407.477</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>407.477</string>
			<key>y2</key>
			<string>254.728</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{9610d5c2-0bf8-41fd-ab4d-14dbf86cce6d}</key>
		<dict>
			<key>x1</key>
			<string>372.985</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>372.985</string>
			<key>y2</key>
			<string>324.177</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{fffadd77-2942-4f37-a167-6e24c56098a4}</key>
		<dict>
			<key>x1</key>
			<string>378.871</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>378.871</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{98232d8f-02c0-4800-8528-4895c5978c9c}</key>
		<dict>
			<key>x1</key>
			<string>344.379</string>
			<key>y1</key>
			<string>306.506</string>
			<key>x2</key>
			<string>344.379</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{4358383b-2509-4cd8-906e-5c3284432293}</key>
		<dict>
			<key>x1</key>
			<string>350.265</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>350.265</string>
			<key>y2</key>
			<string>249.768</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{964794e4-4f3f-4f71-aa03-41b0663e955b}</key>
		<dict>
			<key>x1</key>
			<string>315.772</string>
			<key>y1</key>
			<string>304.026</string>
			<key>x2</key>
			<string>315.772</string>
			<key>y2</key>
			<string>319.217</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{945d33aa-98e6-4b71-8200-d3a503651b8d}</key>
		<dict>
			<key>x1</key>
			<string>321.659</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>321.659</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{0832e60f-4397-4361-84a6-d5cd047e4363}</key>
		<dict>
			<key>x1</key>
			<string>250.186</string>
			<key>y1</key>
			<string>304.026</string>
			<key>x2</key>
			<string>250.186</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{3a7386c3-edcb-4999-b1c6-8dd994cf8475}</key>
		<dict>
			<key>x1</key>
			<string>256.072</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>256.072</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{9fc0e678-636e-4a12-aa64-604e994f35a9}</key>
		<dict>
			<key>x1</key>
			<string>220.766</string>
			<key>y1</key>
			<string>306.506</string>
			<key>x2</key>
			<string>220.766</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{1796531f-2ab7-4a5d-8adb-294e3445f064}</key>
		<dict>
			<key>x1</key>
			<string>226.652</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>226.652</string>
			<key>y2</key>
			<string>252.248</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{66f3f38d-a126-400b-86e3-58ae9f7ebf0a}</key>
		<dict>
			<key>x1</key>
			<string>191.346</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>191.346</string>
			<key>y2</key>
			<string>321.697</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{c8bfa8f1-8d0b-43d6-b9c6-52dbc65382b9}</key>
		<dict>
			<key>x1</key>
			<string>197.233</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>197.233</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{8ee9c5d0-dae9-4f74-99f6-194406e52564}</key>
		<dict>
			<key>x1</key>
			<string>128.237</string>
			<key>y1</key>
			<string>304.026</string>
			<key>x2</key>
			<string>128.237</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{4dcc492b-a543-42f0-a46d-0ce0821b1027}</key>
		<dict>
			<key>x1</key>
			<string>134.124</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>134.124</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{1763318a-27e2-48a6-bfed-da9d8ad33f64}</key>
		<dict>
			<key>x1</key>
			<string>100.056</string>
			<key>y1</key>
			<string>306.506</string>
			<key>x2</key>
			<string>100.056</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{9a5da17e-eb77-426f-8014-2ff92abfdfe8}</key>
		<dict>
			<key>x1</key>
			<string>105.942</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>105.942</string>
			<key>y2</key>
			<string>252.248</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{b0e2fa16-414a-4514-99a1-b1d444bf1e55}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>321.697</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{ce6940fe-e6dc-4e48-84fb-eec464395802}</key>
		<dict>
			<key>x1</key>
			<string>77.7609</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>77.7609</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{faecfc31-3485-4cc9-89c6-690bb046b4e4}</key>
		<dict>
			<key>x1</key>
			<string>501.715</string>
			<key>y1</key>
			<string>160.168</string>
			<key>x2</key>
			<string>501.715</string>
			<key>y2</key>
			<string>176.598</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{6e9c0894-6ddf-484e-b22e-d42c646a0f43}</key>
		<dict>
			<key>x1</key>
			<string>507.601</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>507.601</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{60134059-1a9e-41a5-84e8-cd817f9244b9}</key>
		<dict>
			<key>x1</key>
			<string>473.028</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>473.028</string>
			<key>y2</key>
			<string>177.839</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{c22c0460-7daf-4137-8eaa-b62b41c9e867}</key>
		<dict>
			<key>x1</key>
			<string>478.915</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>478.915</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{903ef7e7-0d8e-46d0-be0c-07af73ff196e}</key>
		<dict>
			<key>x1</key>
			<string>444.342</string>
			<key>y1</key>
			<string>165.129</string>
			<key>x2</key>
			<string>444.342</string>
			<key>y2</key>
			<string>179.079</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{cda4024b-9c46-40a1-807e-0e5ddad52805}</key>
		<dict>
			<key>x1</key>
			<string>450.228</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>450.228</string>
			<key>y2</key>
			<string>108.39</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{66692ed7-9f46-4508-8fcc-2b5c968be5f6}</key>
		<dict>
			<key>x1</key>
			<string>380.223</string>
			<key>y1</key>
			<string>160.168</string>
			<key>x2</key>
			<string>380.223</string>
			<key>y2</key>
			<string>176.598</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{7620331a-7a1e-4fb3-bcdb-ed8085231b35}</key>
		<dict>
			<key>x1</key>
			<string>386.109</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>386.109</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f7d84407-e359-4d69-9d08-3c69ad04acbd}</key>
		<dict>
			<key>x1</key>
			<string>351.537</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>351.537</string>
			<key>y2</key>
			<string>177.839</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{387f02f2-1a43-4e73-b7f5-739ca4ae2f25}</key>
		<dict>
			<key>x1</key>
			<string>357.423</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>357.423</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{ed340f5b-74b1-4c83-beec-13310f64244b}</key>
		<dict>
			<key>x1</key>
			<string>322.851</string>
			<key>y1</key>
			<string>165.129</string>
			<key>x2</key>
			<string>322.851</string>
			<key>y2</key>
			<string>179.079</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{dd49b11b-c281-4dbf-80b3-bd0c6d2d3ba9}</key>
		<dict>
			<key>x1</key>
			<string>328.737</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>328.737</string>
			<key>y2</key>
			<string>108.39</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{e54c58fd-f1cb-4d32-b797-a9c6634db2be}</key>
		<dict>
			<key>x1</key>
			<string>258.732</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>258.732</string>
			<key>y2</key>
			<string>179.079</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{bf3981f7-0073-42b0-818d-950846afa1de}</key>
		<dict>
			<key>x1</key>
			<string>264.618</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>264.618</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{56aeeef2-cb68-4728-aed5-55cc56d258e5}</key>
		<dict>
			<key>x1</key>
			<string>235.932</string>
			<key>y1</key>
			<string>163.265</string>
			<key>x2</key>
			<string>235.932</string>
			<key>y2</key>
			<string>149.315</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{2ea6152a-445d-4441-9447-aef9ce7bb990}</key>
		<dict>
			<key>x1</key>
			<string>235.932</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>235.932</string>
			<key>y2</key>
			<string>110.87</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{3b535896-eae0-42ab-b21d-2649cec0fc16}</key>
		<dict>
			<key>x1</key>
			<string>207.245</string>
			<key>y1</key>
			<string>165.745</string>
			<key>x2</key>
			<string>207.245</string>
			<key>y2</key>
			<string>150.555</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{ad66fc03-92b0-4825-ab9c-7b132925357a}</key>
		<dict>
			<key>x1</key>
			<string>207.245</string>
			<key>y1</key>
			<string>126.06</string>
			<key>x2</key>
			<string>207.245</string>
			<key>y2</key>
			<string>112.11</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{a0113a29-11b2-465b-969d-d85c236c6d12}</key>
		<dict>
			<key>x1</key>
			<string>139.717</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>139.717</string>
			<key>y2</key>
			<string>179.079</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{c5448bb3-916a-48d4-b4a1-a203a6ed095c}</key>
		<dict>
			<key>x1</key>
			<string>145.604</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>145.604</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{509fc4c5-bb82-44b6-a215-60917683bf0a}</key>
		<dict>
			<key>x1</key>
			<string>118.156</string>
			<key>y1</key>
			<string>163.265</string>
			<key>x2</key>
			<string>118.156</string>
			<key>y2</key>
			<string>149.315</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{e3023831-c3ce-42ac-aba8-8ace5d4a13e1}</key>
		<dict>
			<key>x1</key>
			<string>118.156</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>118.156</string>
			<key>y2</key>
			<string>110.87</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{e27ee605-f432-4d45-b5b6-dc38fcac5614}</key>
		<dict>
			<key>x1</key>
			<string>90.7082</string>
			<key>y1</key>
			<string>165.745</string>
			<key>x2</key>
			<string>90.7082</string>
			<key>y2</key>
			<string>150.555</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{acd37486-53f5-4706-8f6d-565c5b7a1bd8}</key>
		<dict>
			<key>x1</key>
			<string>90.7082</string>
			<key>y1</key>
			<string>126.06</string>
			<key>x2</key>
			<string>90.7082</string>
			<key>y2</key>
			<string>112.11</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
	</dict>
</dict>
</plist>