<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>pen_width</key>
	<string>0.40</string>
	<key>xend</key>
	<real>1142.59</real>
	<key>stafflines</key>
	<dict>
		<key>0</key>
		<dict>
			<key>x</key>
			<string>10.4173</string>
			<key>y</key>
			<string>16.3582</string>
			<key>bx</key>
			<string>10.4173</string>
			<key>by</key>
			<string>51.9378</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{01f94322-106f-445c-a331-e0ec6b977e01}</key>
		<dict>
			<key>x</key>
			<string>840.461</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{78ec7cc0-95e0-4a4e-bd67-4d13a614a589}</key>
		<dict>
			<key>x</key>
			<string>818.417</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{ddfa9f29-9ead-47f6-ab63-840a7fdc9d39}</key>
		<dict>
			<key>x</key>
			<string>796.373</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{74b8fd53-47ac-430c-82c2-57757d8e06a1}</key>
		<dict>
			<key>x</key>
			<string>796.194</string>
			<key>y</key>
			<string>33.7204</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{640b44a2-6370-4c8f-852b-0343c42a3a41}</key>
		<dict>
			<key>x</key>
			<string>771.083</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{18e0b39b-d882-4e6c-8753-29cee175c4b6}</key>
		<dict>
			<key>x</key>
			<string>771.083</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{07f5c2c9-4c1e-4348-93d4-192d1ef3e737}</key>
		<dict>
			<key>x</key>
			<string>750.735</string>
			<key>y</key>
			<string>23.7991</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{68800c53-78cf-49ca-a728-58ad48bf262e}</key>
		<dict>
			<key>x</key>
			<string>738.017</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
			<key>beam</key>
			<string>{e1b3d28b-ab1c-4bc0-9de9-f4d7ddf80468}</string>
		</dict>
		<key>{c656ee6a-9153-49fa-9a90-6fbfc7cf173d}</key>
		<dict>
			<key>x</key>
			<string>725.12</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{28ffe408-e620-4124-add8-97fbaccc4b7b}</key>
		<dict>
			<key>x</key>
			<string>725.299</string>
			<key>y</key>
			<string>28.7598</string>
			<key>idx</key>
			<string>1</string>
			<key>beam</key>
			<string>{e1b3d28b-ab1c-4bc0-9de9-f4d7ddf80468}</string>
		</dict>
		<key>{ed9a0311-ee9b-4804-9359-bd0955747d4d}</key>
		<dict>
			<key>x</key>
			<string>698.314</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{5eeb1938-2675-4d9e-a361-872e3e61187a}</key>
		<dict>
			<key>x</key>
			<string>676.27</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{24a2116e-3060-4764-b18c-0f3bd6cfccbb}</key>
		<dict>
			<key>x</key>
			<string>654.226</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{af1499c2-44d4-4e2f-9d2e-b521bdb0339f}</key>
		<dict>
			<key>x</key>
			<string>654.047</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{02c222c4-8512-45ca-97f5-9ba1b5cfa8a1}</key>
		<dict>
			<key>x</key>
			<string>627.24</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{b25d2837-d82e-4133-9c2a-52750606c427}</key>
		<dict>
			<key>x</key>
			<string>605.196</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{5e10df6c-9300-4461-8d88-f1a1e50beaab}</key>
		<dict>
			<key>x</key>
			<string>583.152</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{d4bd2aa3-0497-4f6f-8d58-b075eefddbe0}</key>
		<dict>
			<key>x</key>
			<string>582.973</string>
			<key>y</key>
			<string>33.7204</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{26314286-0504-44db-894f-c75cdf5b0c31}</key>
		<dict>
			<key>x</key>
			<string>556.167</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{e9c5c820-4233-472e-954c-c623a9da3c80}</key>
		<dict>
			<key>x</key>
			<string>534.123</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{d5d1c261-cd1b-4644-a3d9-e327c0860de5}</key>
		<dict>
			<key>x</key>
			<string>512.079</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{31c7f02a-9343-422b-9bb7-342dfd80b4b4}</key>
		<dict>
			<key>x</key>
			<string>511.9</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f47a3e97-0972-4144-a349-75c700df525b}</key>
		<dict>
			<key>x</key>
			<string>486.789</string>
			<key>y</key>
			<string>28.7598</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{8bfe065f-6785-465a-a51c-759b3c8451a2}</key>
		<dict>
			<key>x</key>
			<string>466.441</string>
			<key>y</key>
			<string>23.7991</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6e0d88b4-1f08-4622-abef-9084616a9f57}</key>
		<dict>
			<key>x</key>
			<string>453.723</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
			<key>beam</key>
			<string>{83952591-41fe-41c1-a81c-c3d2123b695c}</string>
		</dict>
		<key>{e784f6bd-d6cd-4c89-af6a-a1ff664a918d}</key>
		<dict>
			<key>x</key>
			<string>440.826</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{d613f9d6-bfa0-48fe-930b-adfc80562092}</key>
		<dict>
			<key>x</key>
			<string>441.005</string>
			<key>y</key>
			<string>28.7598</string>
			<key>idx</key>
			<string>1</string>
			<key>beam</key>
			<string>{83952591-41fe-41c1-a81c-c3d2123b695c}</string>
		</dict>
		<key>{ac9a6e9f-a822-4753-b9a4-46277fd3bb9d}</key>
		<dict>
			<key>x</key>
			<string>414.02</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{19da97af-68b2-4fe7-96d0-f578f9ff6b25}</key>
		<dict>
			<key>x</key>
			<string>391.976</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{2711a70f-c513-4b0f-9f24-3b8da2ec5e77}</key>
		<dict>
			<key>x</key>
			<string>369.932</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{e55bd0a5-fdb1-4208-ad31-1efd7dd851a5}</key>
		<dict>
			<key>x</key>
			<string>369.753</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9f673bd3-c224-4448-9ade-2243f26afef7}</key>
		<dict>
			<key>x</key>
			<string>342.947</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{5203249b-9d7a-4f47-b277-9c3c7ebd9b81}</key>
		<dict>
			<key>x</key>
			<string>320.903</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{0138eb75-85f9-48e4-bf53-e57462cde325}</key>
		<dict>
			<key>x</key>
			<string>298.859</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{9507b5af-6a5c-4bae-9dc8-9d81ceebab85}</key>
		<dict>
			<key>x</key>
			<string>298.68</string>
			<key>y</key>
			<string>33.7204</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>rests</key>
	<dict>
		<key>{e3aea3f1-58f2-4d1c-bf3c-daed76b8bf0b}</key>
		<dict>
			<key>x</key>
			<string>1080.49</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{cb948be3-c710-4978-bd0d-c76aac6cb309}</key>
		<dict>
			<key>x</key>
			<string>1080.49</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{cbd34008-cdfd-465a-8227-e354b1697901}</key>
		<dict>
			<key>x</key>
			<string>1009.41</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{d50982d9-f222-41dd-bdef-b697f9016ab5}</key>
		<dict>
			<key>x</key>
			<string>1009.41</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{585f840d-8874-40d8-96c6-7dffd66e9379}</key>
		<dict>
			<key>x</key>
			<string>938.34</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{0399dca2-4e0a-4143-b2ae-05017a260ca2}</key>
		<dict>
			<key>x</key>
			<string>938.34</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ba069b28-151e-4e30-be53-6a4dc788afc5}</key>
		<dict>
			<key>x</key>
			<string>867.267</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{9d40e02b-9130-4005-95d8-26f528dfc4a5}</key>
		<dict>
			<key>x</key>
			<string>867.267</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0a3af1eb-5919-4549-9a5f-8176710f2d66}</key>
		<dict>
			<key>x</key>
			<string>698.314</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7a96778e-cd8b-4066-af2e-80467993206c}</key>
		<dict>
			<key>x</key>
			<string>556.167</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9472f793-d65b-46c7-aad5-079e7aa346fd}</key>
		<dict>
			<key>x</key>
			<string>227.606</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{d0d40175-87f6-4606-bfea-d2eee899fdc4}</key>
		<dict>
			<key>x</key>
			<string>227.606</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f506c62d-9009-4979-b427-b44487d56b17}</key>
		<dict>
			<key>x</key>
			<string>156.533</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{4066a23c-cf33-4bba-89ae-886ea9f07e7e}</key>
		<dict>
			<key>x</key>
			<string>156.533</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{815c0b04-5b47-4ddc-ada8-fad97fc7b9d5}</key>
		<dict>
			<key>x</key>
			<string>85.4593</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{d1c4b2d8-8a53-4c8d-9fd0-a79936dce33a}</key>
		<dict>
			<key>x</key>
			<string>85.4593</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{8c0befb5-d007-482c-b76a-782b69603880}</key>
		<dict>
			<key>x</key>
			<string>53.2988</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{abb83567-5226-45fd-ab5c-f9844be36e66}</key>
		<dict>
			<key>x</key>
			<string>53.2988</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>dots</key>
	<dict>
		<key>{9fc1bf89-defe-41e5-b8c9-68ad6239c617}</key>
		<dict>
			<key>x</key>
			<string>66.9685</string>
			<key>y</key>
			<string>804.819</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c55588cf-f50f-4854-af37-82eafedadc7f}</key>
		<dict>
			<key>x</key>
			<string>66.9685</string>
			<key>y</key>
			<string>591.599</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{1e58a2ee-5d1b-40bf-855b-eae3cd5456e2}</key>
		<dict>
			<key>x</key>
			<string>94.252</string>
			<key>y</key>
			<string>449.452</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{3f5879f7-0e15-4c9f-ae36-5ee2020dd56e}</key>
		<dict>
			<key>x</key>
			<string>62.0079</string>
			<key>y</key>
			<string>378.378</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{87d984f6-56b8-4d32-afed-6b80439c4d85}</key>
		<dict>
			<key>x</key>
			<string>66.9685</string>
			<key>y</key>
			<string>307.305</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>note_dots</key>
	<dict>
		<key>{74b8fd53-47ac-430c-82c2-57757d8e06a1}</key>
		<array>
			
			<string>{9fc1bf89-defe-41e5-b8c9-68ad6239c617}</string>
		</array>
		<key>{d4bd2aa3-0497-4f6f-8d58-b075eefddbe0}</key>
		<array>
			
			<string>{c55588cf-f50f-4854-af37-82eafedadc7f}</string>
		</array>
		<key>{e784f6bd-d6cd-4c89-af6a-a1ff664a918d}</key>
		<array>
			
			<string>{1e58a2ee-5d1b-40bf-855b-eae3cd5456e2}</string>
		</array>
		<key>{e55bd0a5-fdb1-4208-ad31-1efd7dd851a5}</key>
		<array>
			
			<string>{3f5879f7-0e15-4c9f-ae36-5ee2020dd56e}</string>
		</array>
		<key>{9507b5af-6a5c-4bae-9dc8-9d81ceebab85}</key>
		<array>
			
			<string>{87d984f6-56b8-4d32-afed-6b80439c4d85}</string>
		</array>
	</dict>
	<key>stems</key>
	<dict>
		<key>{ed6d78a3-20be-48d4-93de-96925120577f}</key>
		<dict>
			<key>x1</key>
			<string>840.783</string>
			<key>y1</key>
			<string>74.3371</string>
			<key>x2</key>
			<string>840.783</string>
			<key>y2</key>
			<string>90.1476</string>
			<key>height</key>
			<string>16.7421</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{992b6898-44e4-441e-a4f9-4c00b19bbc21}</key>
		<dict>
			<key>x1</key>
			<string>818.739</string>
			<key>y1</key>
			<string>64.4159</string>
			<key>x2</key>
			<string>818.739</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{f027fc8b-2e38-42b0-9bc2-9bdd2c867a90}</key>
		<dict>
			<key>x1</key>
			<string>796.695</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>796.695</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{90cdb28a-8a3c-4ba1-9000-aaaf53f196d3}</key>
		<dict>
			<key>x1</key>
			<string>802.76</string>
			<key>y1</key>
			<string>32.9585</string>
			<key>x2</key>
			<string>802.76</string>
			<key>y2</key>
			<string>16.3582</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{142ae7bc-f5f6-4c43-9cc2-c16bc8fe40a3}</key>
		<dict>
			<key>x1</key>
			<string>771.405</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>771.405</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{31aab320-f1c5-4aeb-901e-61f092659943}</key>
		<dict>
			<key>x1</key>
			<string>777.291</string>
			<key>y1</key>
			<string>30.3084</string>
			<key>x2</key>
			<string>777.291</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{5b96fc36-01d6-40d5-b018-135676a626e8}</key>
		<dict>
			<key>x1</key>
			<string>751.057</string>
			<key>y1</key>
			<string>24.7308</string>
			<key>x2</key>
			<string>751.057</string>
			<key>y2</key>
			<string>39.9212</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{021811b3-6040-4644-a0a2-02950c51dc92}</key>
		<dict>
			<key>x1</key>
			<string>744.225</string>
			<key>y1</key>
			<string>25.3478</string>
			<key>x2</key>
			<string>744.225</string>
			<key>y2</key>
			<string>11.3976</string>
			<key>height</key>
			<string>-14.8819</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b9e80961-308c-431c-ae0d-44284356f5ed}</key>
		<dict>
			<key>x1</key>
			<string>725.443</string>
			<key>y1</key>
			<string>64.262</string>
			<key>x2</key>
			<string>725.443</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{3ec1d69a-7c8c-4c1f-a57c-6d88a3829df4}</key>
		<dict>
			<key>x1</key>
			<string>731.508</string>
			<key>y1</key>
			<string>27.8281</string>
			<key>x2</key>
			<string>731.508</string>
			<key>y2</key>
			<string>12.6377</string>
			<key>height</key>
			<string>-16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{38d86cb0-06e8-4b67-991e-3629459d165f}</key>
		<dict>
			<key>x1</key>
			<string>698.636</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>698.636</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{6b780a1e-06c2-45d9-b446-196e56851a3f}</key>
		<dict>
			<key>x1</key>
			<string>676.592</string>
			<key>y1</key>
			<string>64.4159</string>
			<key>x2</key>
			<string>676.592</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{87cd7aee-3e6f-42b5-8ee3-f86200bb879f}</key>
		<dict>
			<key>x1</key>
			<string>654.548</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>654.548</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{f6507330-c12e-420b-8303-38f7c7214fc2}</key>
		<dict>
			<key>x1</key>
			<string>660.613</string>
			<key>y1</key>
			<string>30.4781</string>
			<key>x2</key>
			<string>660.613</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f83fbfd1-ef0b-4f49-9865-596ce8f0c889}</key>
		<dict>
			<key>x1</key>
			<string>627.563</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>627.563</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{c5642e8c-f2c0-419a-a534-0422100e559d}</key>
		<dict>
			<key>x1</key>
			<string>605.519</string>
			<key>y1</key>
			<string>64.4159</string>
			<key>x2</key>
			<string>605.519</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{21d334e3-fd94-4014-9f2b-369751daf06e}</key>
		<dict>
			<key>x1</key>
			<string>583.475</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>583.475</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{19c03c4a-685e-44c1-bfca-d94e4d06e4b5}</key>
		<dict>
			<key>x1</key>
			<string>589.54</string>
			<key>y1</key>
			<string>32.9585</string>
			<key>x2</key>
			<string>589.54</string>
			<key>y2</key>
			<string>16.3582</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{404e531b-e0a4-4157-b0ae-cd661f00101e}</key>
		<dict>
			<key>x1</key>
			<string>556.489</string>
			<key>y1</key>
			<string>71.8568</string>
			<key>x2</key>
			<string>556.489</string>
			<key>y2</key>
			<string>88.2873</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{c4eaed83-706b-4d93-9aad-416545068b86}</key>
		<dict>
			<key>x1</key>
			<string>534.445</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>534.445</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{8fa21aae-d487-4060-845a-7c02db01e755}</key>
		<dict>
			<key>x1</key>
			<string>512.401</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>512.401</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{fc3bcd39-f4cc-4849-b0b3-cd877c79a04e}</key>
		<dict>
			<key>x1</key>
			<string>518.466</string>
			<key>y1</key>
			<string>30.4781</string>
			<key>x2</key>
			<string>518.466</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{e873b664-2f19-44df-bc4e-d24039b01db5}</key>
		<dict>
			<key>x1</key>
			<string>492.998</string>
			<key>y1</key>
			<string>27.8281</string>
			<key>x2</key>
			<string>492.998</string>
			<key>y2</key>
			<string>12.6377</string>
			<key>height</key>
			<string>-16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{97251bc3-e450-49d6-87df-7f0c71be2e95}</key>
		<dict>
			<key>x1</key>
			<string>466.763</string>
			<key>y1</key>
			<string>24.7308</string>
			<key>x2</key>
			<string>466.763</string>
			<key>y2</key>
			<string>39.9212</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{40c78832-88f9-4294-8f0e-dd5616021dfc}</key>
		<dict>
			<key>x1</key>
			<string>459.932</string>
			<key>y1</key>
			<string>25.3478</string>
			<key>x2</key>
			<string>459.932</string>
			<key>y2</key>
			<string>11.3976</string>
			<key>height</key>
			<string>-14.8819</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ad8e6048-eeae-4522-95c1-0bdd7da025cc}</key>
		<dict>
			<key>x1</key>
			<string>441.149</string>
			<key>y1</key>
			<string>64.262</string>
			<key>x2</key>
			<string>441.149</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{97702f27-7b88-480d-8445-c643a7f0a645}</key>
		<dict>
			<key>x1</key>
			<string>447.214</string>
			<key>y1</key>
			<string>27.8281</string>
			<key>x2</key>
			<string>447.214</string>
			<key>y2</key>
			<string>12.6377</string>
			<key>height</key>
			<string>-16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{69c5cef7-4d2d-41fc-ba23-e6a68a893d9c}</key>
		<dict>
			<key>x1</key>
			<string>414.343</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>414.343</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{3c192b92-771a-47f9-bc3e-63449eed57f4}</key>
		<dict>
			<key>x1</key>
			<string>392.298</string>
			<key>y1</key>
			<string>64.4159</string>
			<key>x2</key>
			<string>392.298</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{5f4095b0-d4dd-42ed-acae-0d569623c22d}</key>
		<dict>
			<key>x1</key>
			<string>370.254</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>370.254</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{810edfa1-d540-4c76-9a85-53ca358caf6e}</key>
		<dict>
			<key>x1</key>
			<string>376.32</string>
			<key>y1</key>
			<string>30.4781</string>
			<key>x2</key>
			<string>376.32</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{5741bcd9-e567-4ef5-8b66-4639ca9d47ca}</key>
		<dict>
			<key>x1</key>
			<string>343.269</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>343.269</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{d141034a-3772-4d9a-8327-c335f2b00836}</key>
		<dict>
			<key>x1</key>
			<string>321.225</string>
			<key>y1</key>
			<string>64.4159</string>
			<key>x2</key>
			<string>321.225</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{92ff44fd-8ca9-41df-9ffc-8da0c62523d8}</key>
		<dict>
			<key>x1</key>
			<string>299.181</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>299.181</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{61d24292-1780-4b7d-9b42-0b290477801f}</key>
		<dict>
			<key>x1</key>
			<string>305.246</string>
			<key>y1</key>
			<string>32.9585</string>
			<key>x2</key>
			<string>305.246</string>
			<key>y2</key>
			<string>16.3582</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>note_stems</key>
	<dict>
		<key>{01f94322-106f-445c-a331-e0ec6b977e01}</key>
		<string>{ed6d78a3-20be-48d4-93de-96925120577f}</string>
		<key>{78ec7cc0-95e0-4a4e-bd67-4d13a614a589}</key>
		<string>{992b6898-44e4-441e-a4f9-4c00b19bbc21}</string>
		<key>{ddfa9f29-9ead-47f6-ab63-840a7fdc9d39}</key>
		<string>{f027fc8b-2e38-42b0-9bc2-9bdd2c867a90}</string>
		<key>{74b8fd53-47ac-430c-82c2-57757d8e06a1}</key>
		<string>{90cdb28a-8a3c-4ba1-9000-aaaf53f196d3}</string>
		<key>{640b44a2-6370-4c8f-852b-0343c42a3a41}</key>
		<string>{142ae7bc-f5f6-4c43-9cc2-c16bc8fe40a3}</string>
		<key>{18e0b39b-d882-4e6c-8753-29cee175c4b6}</key>
		<string>{31aab320-f1c5-4aeb-901e-61f092659943}</string>
		<key>{07f5c2c9-4c1e-4348-93d4-192d1ef3e737}</key>
		<string>{5b96fc36-01d6-40d5-b018-135676a626e8}</string>
		<key>{68800c53-78cf-49ca-a728-58ad48bf262e}</key>
		<string>{021811b3-6040-4644-a0a2-02950c51dc92}</string>
		<key>{c656ee6a-9153-49fa-9a90-6fbfc7cf173d}</key>
		<string>{b9e80961-308c-431c-ae0d-44284356f5ed}</string>
		<key>{28ffe408-e620-4124-add8-97fbaccc4b7b}</key>
		<string>{3ec1d69a-7c8c-4c1f-a57c-6d88a3829df4}</string>
		<key>{ed9a0311-ee9b-4804-9359-bd0955747d4d}</key>
		<string>{38d86cb0-06e8-4b67-991e-3629459d165f}</string>
		<key>{5eeb1938-2675-4d9e-a361-872e3e61187a}</key>
		<string>{6b780a1e-06c2-45d9-b446-196e56851a3f}</string>
		<key>{24a2116e-3060-4764-b18c-0f3bd6cfccbb}</key>
		<string>{87cd7aee-3e6f-42b5-8ee3-f86200bb879f}</string>
		<key>{af1499c2-44d4-4e2f-9d2e-b521bdb0339f}</key>
		<string>{f6507330-c12e-420b-8303-38f7c7214fc2}</string>
		<key>{02c222c4-8512-45ca-97f5-9ba1b5cfa8a1}</key>
		<string>{f83fbfd1-ef0b-4f49-9865-596ce8f0c889}</string>
		<key>{b25d2837-d82e-4133-9c2a-52750606c427}</key>
		<string>{c5642e8c-f2c0-419a-a534-0422100e559d}</string>
		<key>{5e10df6c-9300-4461-8d88-f1a1e50beaab}</key>
		<string>{21d334e3-fd94-4014-9f2b-369751daf06e}</string>
		<key>{d4bd2aa3-0497-4f6f-8d58-b075eefddbe0}</key>
		<string>{19c03c4a-685e-44c1-bfca-d94e4d06e4b5}</string>
		<key>{26314286-0504-44db-894f-c75cdf5b0c31}</key>
		<string>{404e531b-e0a4-4157-b0ae-cd661f00101e}</string>
		<key>{e9c5c820-4233-472e-954c-c623a9da3c80}</key>
		<string>{c4eaed83-706b-4d93-9aad-416545068b86}</string>
		<key>{d5d1c261-cd1b-4644-a3d9-e327c0860de5}</key>
		<string>{8fa21aae-d487-4060-845a-7c02db01e755}</string>
		<key>{31c7f02a-9343-422b-9bb7-342dfd80b4b4}</key>
		<string>{fc3bcd39-f4cc-4849-b0b3-cd877c79a04e}</string>
		<key>{f47a3e97-0972-4144-a349-75c700df525b}</key>
		<string>{e873b664-2f19-44df-bc4e-d24039b01db5}</string>
		<key>{8bfe065f-6785-465a-a51c-759b3c8451a2}</key>
		<string>{97251bc3-e450-49d6-87df-7f0c71be2e95}</string>
		<key>{6e0d88b4-1f08-4622-abef-9084616a9f57}</key>
		<string>{40c78832-88f9-4294-8f0e-dd5616021dfc}</string>
		<key>{e784f6bd-d6cd-4c89-af6a-a1ff664a918d}</key>
		<string>{ad8e6048-eeae-4522-95c1-0bdd7da025cc}</string>
		<key>{d613f9d6-bfa0-48fe-930b-adfc80562092}</key>
		<string>{97702f27-7b88-480d-8445-c643a7f0a645}</string>
		<key>{ac9a6e9f-a822-4753-b9a4-46277fd3bb9d}</key>
		<string>{69c5cef7-4d2d-41fc-ba23-e6a68a893d9c}</string>
		<key>{19da97af-68b2-4fe7-96d0-f578f9ff6b25}</key>
		<string>{3c192b92-771a-47f9-bc3e-63449eed57f4}</string>
		<key>{2711a70f-c513-4b0f-9f24-3b8da2ec5e77}</key>
		<string>{5f4095b0-d4dd-42ed-acae-0d569623c22d}</string>
		<key>{e55bd0a5-fdb1-4208-ad31-1efd7dd851a5}</key>
		<string>{810edfa1-d540-4c76-9a85-53ca358caf6e}</string>
		<key>{9f673bd3-c224-4448-9ade-2243f26afef7}</key>
		<string>{5741bcd9-e567-4ef5-8b66-4639ca9d47ca}</string>
		<key>{5203249b-9d7a-4f47-b277-9c3c7ebd9b81}</key>
		<string>{d141034a-3772-4d9a-8327-c335f2b00836}</string>
		<key>{0138eb75-85f9-48e4-bf53-e57462cde325}</key>
		<string>{92ff44fd-8ca9-41df-9ffc-8da0c62523d8}</string>
		<key>{9507b5af-6a5c-4bae-9dc8-9d81ceebab85}</key>
		<string>{61d24292-1780-4b7d-9b42-0b290477801f}</string>
	</dict>
	<key>note_finger</key>
	<dict>
	</dict>
	<key>note_step</key>
	<dict>
		<key>{01f94322-106f-445c-a331-e0ec6b977e01}</key>
		<string>{82d6a70a-0ff4-4fae-b673-9acea041b9e7}</string>
		<key>{78ec7cc0-95e0-4a4e-bd67-4d13a614a589}</key>
		<string>{739fe778-781a-4fd3-864d-845a8144748e}</string>
		<key>{ddfa9f29-9ead-47f6-ab63-840a7fdc9d39}</key>
		<string>{f585c7cc-be1c-45e7-b520-dae4c0d37383}</string>
		<key>{74b8fd53-47ac-430c-82c2-57757d8e06a1}</key>
		<string>{d8d27f06-1935-4c7e-8998-f19b601e62d5}</string>
		<key>{640b44a2-6370-4c8f-852b-0343c42a3a41}</key>
		<string>{fa3b15ff-d2d8-4adc-8432-409373324bb6}</string>
		<key>{18e0b39b-d882-4e6c-8753-29cee175c4b6}</key>
		<string>{ea162b7b-c28d-4711-8c8c-257cb1da40b0}</string>
		<key>{07f5c2c9-4c1e-4348-93d4-192d1ef3e737}</key>
		<string>{d2c8b1a5-ac19-4359-941c-d2339252135e}</string>
		<key>{68800c53-78cf-49ca-a728-58ad48bf262e}</key>
		<string>{4366acbc-a0ae-4a07-9eef-549174399388}</string>
		<key>{c656ee6a-9153-49fa-9a90-6fbfc7cf173d}</key>
		<string>{12e8129a-a16f-48de-8aba-c63aa36a68f3}</string>
		<key>{28ffe408-e620-4124-add8-97fbaccc4b7b}</key>
		<string>{f288f5e5-e998-4868-a756-7ba645276d4a}</string>
		<key>{ed9a0311-ee9b-4804-9359-bd0955747d4d}</key>
		<string>{1efd5742-ae4b-4324-ba10-2b869e5376c4}</string>
		<key>{5eeb1938-2675-4d9e-a361-872e3e61187a}</key>
		<string>{1eaea08e-5b39-474c-874f-65a0c708ecdc}</string>
		<key>{24a2116e-3060-4764-b18c-0f3bd6cfccbb}</key>
		<string>{9045b5b9-7d23-4344-859c-1b691670fbe9}</string>
		<key>{af1499c2-44d4-4e2f-9d2e-b521bdb0339f}</key>
		<string>{90d64882-3ec0-4a1e-8996-1759df2e8adf}</string>
		<key>{02c222c4-8512-45ca-97f5-9ba1b5cfa8a1}</key>
		<string>{aef98149-f987-4798-a6b6-b7cc172f3621}</string>
		<key>{b25d2837-d82e-4133-9c2a-52750606c427}</key>
		<string>{ad3bbfab-57de-4b14-8563-d5273f3a37bd}</string>
		<key>{5e10df6c-9300-4461-8d88-f1a1e50beaab}</key>
		<string>{a9d178a3-d8a7-4987-8a70-e8720231829f}</string>
		<key>{d4bd2aa3-0497-4f6f-8d58-b075eefddbe0}</key>
		<string>{31111317-9de9-4312-ab6d-265b19ba39bf}</string>
		<key>{26314286-0504-44db-894f-c75cdf5b0c31}</key>
		<string>{b5d8b24c-c600-428f-ac9c-c5420ff1371a}</string>
		<key>{e9c5c820-4233-472e-954c-c623a9da3c80}</key>
		<string>{2fe6edaa-4ceb-4e68-92d5-35e3f04abd29}</string>
		<key>{d5d1c261-cd1b-4644-a3d9-e327c0860de5}</key>
		<string>{351dcd6d-db4f-4d6f-8b73-8a74cebe996a}</string>
		<key>{31c7f02a-9343-422b-9bb7-342dfd80b4b4}</key>
		<string>{27ded5bd-cc5c-42c2-9f5e-9dd289d0ef38}</string>
		<key>{f47a3e97-0972-4144-a349-75c700df525b}</key>
		<string>{1f00b073-8c9c-45ba-a5c8-80bfe48f1f5b}</string>
		<key>{8bfe065f-6785-465a-a51c-759b3c8451a2}</key>
		<string>{29d2da1a-e6e8-43e9-b2df-c11206ad0c2a}</string>
		<key>{6e0d88b4-1f08-4622-abef-9084616a9f57}</key>
		<string>{7339e37b-ea50-469b-8dfa-b988d96b70d3}</string>
		<key>{e784f6bd-d6cd-4c89-af6a-a1ff664a918d}</key>
		<string>{f153b57c-ff44-487b-bb1a-d4ad955718cd}</string>
		<key>{d613f9d6-bfa0-48fe-930b-adfc80562092}</key>
		<string>{39b83e70-42fd-4221-a1b8-0ca8f37dcaab}</string>
		<key>{ac9a6e9f-a822-4753-b9a4-46277fd3bb9d}</key>
		<string>{d4e11e94-f45b-4a7b-899d-3cb534a2b60f}</string>
		<key>{19da97af-68b2-4fe7-96d0-f578f9ff6b25}</key>
		<string>{0a3fe70c-287a-4866-ac53-cff860a8f894}</string>
		<key>{2711a70f-c513-4b0f-9f24-3b8da2ec5e77}</key>
		<string>{5d196a00-9f1a-43e9-a40d-f15ddc937785}</string>
		<key>{e55bd0a5-fdb1-4208-ad31-1efd7dd851a5}</key>
		<string>{bcfe4899-c976-4171-adc8-741da9fc16ad}</string>
		<key>{9f673bd3-c224-4448-9ade-2243f26afef7}</key>
		<string>{76338070-a9a2-4a2d-8dba-eb79870f6484}</string>
		<key>{5203249b-9d7a-4f47-b277-9c3c7ebd9b81}</key>
		<string>{8c5126c3-480f-47b8-9428-69ef94ffc5bc}</string>
		<key>{0138eb75-85f9-48e4-bf53-e57462cde325}</key>
		<string>{66c007d2-d270-422f-8e5e-0475d6a76986}</string>
		<key>{9507b5af-6a5c-4bae-9dc8-9d81ceebab85}</key>
		<string>{d0e57229-1b65-42f3-8dbb-a5f19e6dbbaf}</string>
	</dict>
	<key>note_light</key>
	<dict>
		<key>{01f94322-106f-445c-a331-e0ec6b977e01}</key>
		<array>
			
			<string>{ed6d78a3-20be-48d4-93de-96925120577f}</string>
		</array>
		<key>{78ec7cc0-95e0-4a4e-bd67-4d13a614a589}</key>
		<array>
			
			<string>{992b6898-44e4-441e-a4f9-4c00b19bbc21}</string>
		</array>
		<key>{ddfa9f29-9ead-47f6-ab63-840a7fdc9d39}</key>
		<array>
			
			<string>{f027fc8b-2e38-42b0-9bc2-9bdd2c867a90}</string>
		</array>
		<key>{74b8fd53-47ac-430c-82c2-57757d8e06a1}</key>
		<array>
			
			<string>{90cdb28a-8a3c-4ba1-9000-aaaf53f196d3}</string>
			
			<string>{9fc1bf89-defe-41e5-b8c9-68ad6239c617}</string>
		</array>
		<key>{640b44a2-6370-4c8f-852b-0343c42a3a41}</key>
		<array>
			
			<string>{142ae7bc-f5f6-4c43-9cc2-c16bc8fe40a3}</string>
		</array>
		<key>{18e0b39b-d882-4e6c-8753-29cee175c4b6}</key>
		<array>
			
			<string>{31aab320-f1c5-4aeb-901e-61f092659943}</string>
		</array>
		<key>{07f5c2c9-4c1e-4348-93d4-192d1ef3e737}</key>
		<array>
			
			<string>{5b96fc36-01d6-40d5-b018-135676a626e8}</string>
		</array>
		<key>{68800c53-78cf-49ca-a728-58ad48bf262e}</key>
		<array>
			
			<string>{e1b3d28b-ab1c-4bc0-9de9-f4d7ddf80468}</string>
			
			<string>{021811b3-6040-4644-a0a2-02950c51dc92}</string>
		</array>
		<key>{c656ee6a-9153-49fa-9a90-6fbfc7cf173d}</key>
		<array>
			
			<string>{b9e80961-308c-431c-ae0d-44284356f5ed}</string>
		</array>
		<key>{28ffe408-e620-4124-add8-97fbaccc4b7b}</key>
		<array>
			
			<string>{e1b3d28b-ab1c-4bc0-9de9-f4d7ddf80468}</string>
			
			<string>{3ec1d69a-7c8c-4c1f-a57c-6d88a3829df4}</string>
		</array>
		<key>{ed9a0311-ee9b-4804-9359-bd0955747d4d}</key>
		<array>
			
			<string>{38d86cb0-06e8-4b67-991e-3629459d165f}</string>
		</array>
		<key>{5eeb1938-2675-4d9e-a361-872e3e61187a}</key>
		<array>
			
			<string>{6b780a1e-06c2-45d9-b446-196e56851a3f}</string>
		</array>
		<key>{24a2116e-3060-4764-b18c-0f3bd6cfccbb}</key>
		<array>
			
			<string>{87cd7aee-3e6f-42b5-8ee3-f86200bb879f}</string>
		</array>
		<key>{af1499c2-44d4-4e2f-9d2e-b521bdb0339f}</key>
		<array>
			
			<string>{f6507330-c12e-420b-8303-38f7c7214fc2}</string>
		</array>
		<key>{02c222c4-8512-45ca-97f5-9ba1b5cfa8a1}</key>
		<array>
			
			<string>{f83fbfd1-ef0b-4f49-9865-596ce8f0c889}</string>
		</array>
		<key>{b25d2837-d82e-4133-9c2a-52750606c427}</key>
		<array>
			
			<string>{c5642e8c-f2c0-419a-a534-0422100e559d}</string>
		</array>
		<key>{5e10df6c-9300-4461-8d88-f1a1e50beaab}</key>
		<array>
			
			<string>{21d334e3-fd94-4014-9f2b-369751daf06e}</string>
		</array>
		<key>{d4bd2aa3-0497-4f6f-8d58-b075eefddbe0}</key>
		<array>
			
			<string>{19c03c4a-685e-44c1-bfca-d94e4d06e4b5}</string>
			
			<string>{c55588cf-f50f-4854-af37-82eafedadc7f}</string>
		</array>
		<key>{26314286-0504-44db-894f-c75cdf5b0c31}</key>
		<array>
			
			<string>{404e531b-e0a4-4157-b0ae-cd661f00101e}</string>
		</array>
		<key>{e9c5c820-4233-472e-954c-c623a9da3c80}</key>
		<array>
			
			<string>{c4eaed83-706b-4d93-9aad-416545068b86}</string>
		</array>
		<key>{d5d1c261-cd1b-4644-a3d9-e327c0860de5}</key>
		<array>
			
			<string>{8fa21aae-d487-4060-845a-7c02db01e755}</string>
		</array>
		<key>{31c7f02a-9343-422b-9bb7-342dfd80b4b4}</key>
		<array>
			
			<string>{fc3bcd39-f4cc-4849-b0b3-cd877c79a04e}</string>
		</array>
		<key>{f47a3e97-0972-4144-a349-75c700df525b}</key>
		<array>
			
			<string>{e873b664-2f19-44df-bc4e-d24039b01db5}</string>
		</array>
		<key>{8bfe065f-6785-465a-a51c-759b3c8451a2}</key>
		<array>
			
			<string>{97251bc3-e450-49d6-87df-7f0c71be2e95}</string>
		</array>
		<key>{6e0d88b4-1f08-4622-abef-9084616a9f57}</key>
		<array>
			
			<string>{83952591-41fe-41c1-a81c-c3d2123b695c}</string>
			
			<string>{40c78832-88f9-4294-8f0e-dd5616021dfc}</string>
		</array>
		<key>{e784f6bd-d6cd-4c89-af6a-a1ff664a918d}</key>
		<array>
			
			<string>{ad8e6048-eeae-4522-95c1-0bdd7da025cc}</string>
			
			<string>{1e58a2ee-5d1b-40bf-855b-eae3cd5456e2}</string>
		</array>
		<key>{d613f9d6-bfa0-48fe-930b-adfc80562092}</key>
		<array>
			
			<string>{83952591-41fe-41c1-a81c-c3d2123b695c}</string>
			
			<string>{97702f27-7b88-480d-8445-c643a7f0a645}</string>
		</array>
		<key>{ac9a6e9f-a822-4753-b9a4-46277fd3bb9d}</key>
		<array>
			
			<string>{69c5cef7-4d2d-41fc-ba23-e6a68a893d9c}</string>
		</array>
		<key>{19da97af-68b2-4fe7-96d0-f578f9ff6b25}</key>
		<array>
			
			<string>{3c192b92-771a-47f9-bc3e-63449eed57f4}</string>
		</array>
		<key>{2711a70f-c513-4b0f-9f24-3b8da2ec5e77}</key>
		<array>
			
			<string>{5f4095b0-d4dd-42ed-acae-0d569623c22d}</string>
		</array>
		<key>{e55bd0a5-fdb1-4208-ad31-1efd7dd851a5}</key>
		<array>
			
			<string>{810edfa1-d540-4c76-9a85-53ca358caf6e}</string>
			
			<string>{3f5879f7-0e15-4c9f-ae36-5ee2020dd56e}</string>
		</array>
		<key>{9f673bd3-c224-4448-9ade-2243f26afef7}</key>
		<array>
			
			<string>{5741bcd9-e567-4ef5-8b66-4639ca9d47ca}</string>
		</array>
		<key>{5203249b-9d7a-4f47-b277-9c3c7ebd9b81}</key>
		<array>
			
			<string>{d141034a-3772-4d9a-8327-c335f2b00836}</string>
		</array>
		<key>{0138eb75-85f9-48e4-bf53-e57462cde325}</key>
		<array>
			
			<string>{92ff44fd-8ca9-41df-9ffc-8da0c62523d8}</string>
		</array>
		<key>{9507b5af-6a5c-4bae-9dc8-9d81ceebab85}</key>
		<array>
			
			<string>{61d24292-1780-4b7d-9b42-0b290477801f}</string>
			
			<string>{87d984f6-56b8-4d32-afed-6b80439c4d85}</string>
		</array>
	</dict>
	<key>note_hands_type</key>
	<dict>
		<key>1</key>
		<array>
			
			<string>{db1f6c6c-96ed-49c8-b6c5-010e2519a9e4}</string>
			
			<string>{fb498d41-2b19-4baf-a3f0-c820c7518aea}</string>
			
			<string>{97c44e03-aa6b-48f6-ad70-6f4c083bf203}</string>
			
			<string>{cb948be3-c710-4978-bd0d-c76aac6cb309}</string>
			
			<string>{d50982d9-f222-41dd-bdef-b697f9016ab5}</string>
			
			<string>{0399dca2-4e0a-4143-b2ae-05017a260ca2}</string>
			
			<string>{9d40e02b-9130-4005-95d8-26f528dfc4a5}</string>
			
			<string>{0a3af1eb-5919-4549-9a5f-8176710f2d66}</string>
			
			<string>{7a96778e-cd8b-4066-af2e-80467993206c}</string>
			
			<string>{d0d40175-87f6-4606-bfea-d2eee899fdc4}</string>
			
			<string>{4066a23c-cf33-4bba-89ae-886ea9f07e7e}</string>
			
			<string>{d1c4b2d8-8a53-4c8d-9fd0-a79936dce33a}</string>
			
			<string>{abb83567-5226-45fd-ab5c-f9844be36e66}</string>
			
			<string>{e1b3d28b-ab1c-4bc0-9de9-f4d7ddf80468}</string>
			
			<string>{83952591-41fe-41c1-a81c-c3d2123b695c}</string>
			
			<string>{d8d27f06-1935-4c7e-8998-f19b601e62d5}</string>
			
			<string>{ea162b7b-c28d-4711-8c8c-257cb1da40b0}</string>
			
			<string>{d2c8b1a5-ac19-4359-941c-d2339252135e}</string>
			
			<string>{4366acbc-a0ae-4a07-9eef-549174399388}</string>
			
			<string>{f288f5e5-e998-4868-a756-7ba645276d4a}</string>
			
			<string>{90d64882-3ec0-4a1e-8996-1759df2e8adf}</string>
			
			<string>{31111317-9de9-4312-ab6d-265b19ba39bf}</string>
			
			<string>{27ded5bd-cc5c-42c2-9f5e-9dd289d0ef38}</string>
			
			<string>{1f00b073-8c9c-45ba-a5c8-80bfe48f1f5b}</string>
			
			<string>{29d2da1a-e6e8-43e9-b2df-c11206ad0c2a}</string>
			
			<string>{7339e37b-ea50-469b-8dfa-b988d96b70d3}</string>
			
			<string>{39b83e70-42fd-4221-a1b8-0ca8f37dcaab}</string>
			
			<string>{bcfe4899-c976-4171-adc8-741da9fc16ad}</string>
			
			<string>{d0e57229-1b65-42f3-8dbb-a5f19e6dbbaf}</string>
			
			<string>{9fc1bf89-defe-41e5-b8c9-68ad6239c617}</string>
			
			<string>{c55588cf-f50f-4854-af37-82eafedadc7f}</string>
			
			<string>{3f5879f7-0e15-4c9f-ae36-5ee2020dd56e}</string>
			
			<string>{87d984f6-56b8-4d32-afed-6b80439c4d85}</string>
			
			<string>{1849a472-274e-4d32-8d65-0b931d47869e}</string>
			
			<string>{e65be0cb-ad88-4535-b5ed-67c05810b20f}</string>
			
			<string>{ac6b20cb-dc45-4759-9240-b90b0555e40f}</string>
			
			<string>{0be02504-136c-4d52-8934-8eb8e0b68496}</string>
			
			<string>{f278aed8-3e01-4695-84e4-019e8872a0e7}</string>
			
			<string>{c09e346b-2381-4aab-88a3-3022a9c0aaee}</string>
			
			<string>{405eed5e-ac31-4242-9fc8-e164a0240a29}</string>
			
			<string>{e506bf3d-48c5-4ddd-9cc8-5db1f101ad20}</string>
			
			<string>{2c8b24b6-3c35-4a6b-8d3b-403f9f2ceb42}</string>
			
			<string>{58e682ef-8e79-486e-bdc8-5112b5cd4cae}</string>
			
			<string>{f8ad756b-cd00-40bc-86d4-2c7648d68130}</string>
			
			<string>{88f1f15d-bf7d-4d16-8502-e6c4fa6d5c15}</string>
			
			<string>{d9bee3e2-137f-4c58-9fe1-108e43a74bd4}</string>
			
			<string>{7103405f-73d6-44e1-8200-2e123e5d921c}</string>
			
			<string>{ab07631f-f39b-4bc9-a146-304f61a3dd4c}</string>
			
			<string>{90cdb28a-8a3c-4ba1-9000-aaaf53f196d3}</string>
			
			<string>{31aab320-f1c5-4aeb-901e-61f092659943}</string>
			
			<string>{5b96fc36-01d6-40d5-b018-135676a626e8}</string>
			
			<string>{021811b3-6040-4644-a0a2-02950c51dc92}</string>
			
			<string>{3ec1d69a-7c8c-4c1f-a57c-6d88a3829df4}</string>
			
			<string>{f6507330-c12e-420b-8303-38f7c7214fc2}</string>
			
			<string>{19c03c4a-685e-44c1-bfca-d94e4d06e4b5}</string>
			
			<string>{fc3bcd39-f4cc-4849-b0b3-cd877c79a04e}</string>
			
			<string>{e873b664-2f19-44df-bc4e-d24039b01db5}</string>
			
			<string>{97251bc3-e450-49d6-87df-7f0c71be2e95}</string>
			
			<string>{40c78832-88f9-4294-8f0e-dd5616021dfc}</string>
			
			<string>{97702f27-7b88-480d-8445-c643a7f0a645}</string>
			
			<string>{810edfa1-d540-4c76-9a85-53ca358caf6e}</string>
			
			<string>{61d24292-1780-4b7d-9b42-0b290477801f}</string>
		</array>
		<key>2</key>
		<array>
			
			<string>{f3c63f0f-e2dd-477d-b963-9dc5a0fcda23}</string>
			
			<string>{e3aea3f1-58f2-4d1c-bf3c-daed76b8bf0b}</string>
			
			<string>{cbd34008-cdfd-465a-8227-e354b1697901}</string>
			
			<string>{585f840d-8874-40d8-96c6-7dffd66e9379}</string>
			
			<string>{ba069b28-151e-4e30-be53-6a4dc788afc5}</string>
			
			<string>{9472f793-d65b-46c7-aad5-079e7aa346fd}</string>
			
			<string>{f506c62d-9009-4979-b427-b44487d56b17}</string>
			
			<string>{815c0b04-5b47-4ddc-ada8-fad97fc7b9d5}</string>
			
			<string>{8c0befb5-d007-482c-b76a-782b69603880}</string>
			
			<string>{82d6a70a-0ff4-4fae-b673-9acea041b9e7}</string>
			
			<string>{739fe778-781a-4fd3-864d-845a8144748e}</string>
			
			<string>{f585c7cc-be1c-45e7-b520-dae4c0d37383}</string>
			
			<string>{fa3b15ff-d2d8-4adc-8432-409373324bb6}</string>
			
			<string>{12e8129a-a16f-48de-8aba-c63aa36a68f3}</string>
			
			<string>{1efd5742-ae4b-4324-ba10-2b869e5376c4}</string>
			
			<string>{1eaea08e-5b39-474c-874f-65a0c708ecdc}</string>
			
			<string>{9045b5b9-7d23-4344-859c-1b691670fbe9}</string>
			
			<string>{aef98149-f987-4798-a6b6-b7cc172f3621}</string>
			
			<string>{ad3bbfab-57de-4b14-8563-d5273f3a37bd}</string>
			
			<string>{a9d178a3-d8a7-4987-8a70-e8720231829f}</string>
			
			<string>{b5d8b24c-c600-428f-ac9c-c5420ff1371a}</string>
			
			<string>{2fe6edaa-4ceb-4e68-92d5-35e3f04abd29}</string>
			
			<string>{351dcd6d-db4f-4d6f-8b73-8a74cebe996a}</string>
			
			<string>{f153b57c-ff44-487b-bb1a-d4ad955718cd}</string>
			
			<string>{d4e11e94-f45b-4a7b-899d-3cb534a2b60f}</string>
			
			<string>{0a3fe70c-287a-4866-ac53-cff860a8f894}</string>
			
			<string>{5d196a00-9f1a-43e9-a40d-f15ddc937785}</string>
			
			<string>{76338070-a9a2-4a2d-8dba-eb79870f6484}</string>
			
			<string>{8c5126c3-480f-47b8-9428-69ef94ffc5bc}</string>
			
			<string>{66c007d2-d270-422f-8e5e-0475d6a76986}</string>
			
			<string>{1e58a2ee-5d1b-40bf-855b-eae3cd5456e2}</string>
			
			<string>{b8f17822-584b-4464-b0b9-b890097e8059}</string>
			
			<string>{0761525a-7371-4ed0-a3fe-f8f8c76171e4}</string>
			
			<string>{7c501790-2468-4a10-8d60-fb37472e5bbc}</string>
			
			<string>{fd34c021-42a8-4749-86c0-4f9281d879dd}</string>
			
			<string>{bfde1a0f-16bf-4ebd-a76e-58e056cc1730}</string>
			
			<string>{3997c618-b302-4e98-9bda-a38592f280f4}</string>
			
			<string>{a0553a20-f692-4864-8f63-df73c9a1553e}</string>
			
			<string>{1f66ac02-874c-4e13-9a7a-dacead36c699}</string>
			
			<string>{f0313a4b-40b2-4419-995b-12efeef49c86}</string>
			
			<string>{18330369-2a37-4184-aafd-57d18b1f5c98}</string>
			
			<string>{cb5478ad-d1cb-4154-a06f-92037493c20f}</string>
			
			<string>{02ae3e0f-6ed8-406c-a2b5-58bdea2e0e8f}</string>
			
			<string>{d84b996d-9292-4123-b812-8e1b2dc6b777}</string>
			
			<string>{b98bacd4-6964-4202-97ab-01354f89b9fe}</string>
			
			<string>{cdc9254f-2bfb-4711-907d-04573394c700}</string>
			
			<string>{ed6d78a3-20be-48d4-93de-96925120577f}</string>
			
			<string>{992b6898-44e4-441e-a4f9-4c00b19bbc21}</string>
			
			<string>{f027fc8b-2e38-42b0-9bc2-9bdd2c867a90}</string>
			
			<string>{142ae7bc-f5f6-4c43-9cc2-c16bc8fe40a3}</string>
			
			<string>{b9e80961-308c-431c-ae0d-44284356f5ed}</string>
			
			<string>{38d86cb0-06e8-4b67-991e-3629459d165f}</string>
			
			<string>{6b780a1e-06c2-45d9-b446-196e56851a3f}</string>
			
			<string>{87cd7aee-3e6f-42b5-8ee3-f86200bb879f}</string>
			
			<string>{f83fbfd1-ef0b-4f49-9865-596ce8f0c889}</string>
			
			<string>{c5642e8c-f2c0-419a-a534-0422100e559d}</string>
			
			<string>{21d334e3-fd94-4014-9f2b-369751daf06e}</string>
			
			<string>{404e531b-e0a4-4157-b0ae-cd661f00101e}</string>
			
			<string>{c4eaed83-706b-4d93-9aad-416545068b86}</string>
			
			<string>{8fa21aae-d487-4060-845a-7c02db01e755}</string>
			
			<string>{ad8e6048-eeae-4522-95c1-0bdd7da025cc}</string>
			
			<string>{69c5cef7-4d2d-41fc-ba23-e6a68a893d9c}</string>
			
			<string>{3c192b92-771a-47f9-bc3e-63449eed57f4}</string>
			
			<string>{5f4095b0-d4dd-42ed-acae-0d569623c22d}</string>
			
			<string>{5741bcd9-e567-4ef5-8b66-4639ca9d47ca}</string>
			
			<string>{d141034a-3772-4d9a-8327-c335f2b00836}</string>
			
			<string>{92ff44fd-8ca9-41df-9ffc-8da0c62523d8}</string>
			
			<string>{7bd731e4-2e90-4293-a12a-a636e7c663cf}</string>
			
			<string>{14b7a90b-27e1-4f23-83b5-5333ae539a83}</string>
			
			<string>{9e1620ea-5a91-4732-a8d5-d69c99445b3b}</string>
			
			<string>{1eb6aa53-3e6c-4134-9119-f5e60fdd7b05}</string>
			
			<string>{e7ba75e5-29ff-4d33-ac6a-d9ec738938c8}</string>
			
			<string>{d5763f91-8a9d-49af-b30a-89782df02efc}</string>
			
			<string>{44c9bd8f-eacc-4583-83fd-995dada7047b}</string>
		</array>
	</dict>
</dict>
</plist>