<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>pen_width</key>
	<string>0.40</string>
	<key>xend</key>
	<real>1466.53</real>
	<key>stafflines</key>
	<dict>
		<key>0</key>
		<dict>
			<key>x</key>
			<string>10.4173</string>
			<key>y</key>
			<string>16.3582</string>
			<key>bx</key>
			<string>10.4173</string>
			<key>by</key>
			<string>51.9378</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{01f94322-106f-445c-a331-e0ec6b977e01}</key>
		<dict>
			<key>x</key>
			<string>1078.98</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{78ec7cc0-95e0-4a4e-bd67-4d13a614a589}</key>
		<dict>
			<key>x</key>
			<string>1052.51</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ddfa9f29-9ead-47f6-ab63-840a7fdc9d39}</key>
		<dict>
			<key>x</key>
			<string>1026.03</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{74b8fd53-47ac-430c-82c2-57757d8e06a1}</key>
		<dict>
			<key>x</key>
			<string>1025.85</string>
			<key>y</key>
			<string>33.7204</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{640b44a2-6370-4c8f-852b-0343c42a3a41}</key>
		<dict>
			<key>x</key>
			<string>989.7</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{18e0b39b-d882-4e6c-8753-29cee175c4b6}</key>
		<dict>
			<key>x</key>
			<string>989.7</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{07f5c2c9-4c1e-4348-93d4-192d1ef3e737}</key>
		<dict>
			<key>x</key>
			<string>965.259</string>
			<key>y</key>
			<string>23.7991</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{68800c53-78cf-49ca-a728-58ad48bf262e}</key>
		<dict>
			<key>x</key>
			<string>949.983</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>0</string>
			<key>beam</key>
			<string>{42d1a563-aaef-41f9-afb3-6a16a17d865f}</string>
		</dict>
		<key>{c656ee6a-9153-49fa-9a90-6fbfc7cf173d}</key>
		<dict>
			<key>x</key>
			<string>934.529</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{28ffe408-e620-4124-add8-97fbaccc4b7b}</key>
		<dict>
			<key>x</key>
			<string>934.708</string>
			<key>y</key>
			<string>28.7598</string>
			<key>idx</key>
			<string>0</string>
			<key>beam</key>
			<string>{42d1a563-aaef-41f9-afb3-6a16a17d865f}</string>
		</dict>
		<key>{ed9a0311-ee9b-4804-9359-bd0955747d4d}</key>
		<dict>
			<key>x</key>
			<string>896.344</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{5eeb1938-2675-4d9e-a361-872e3e61187a}</key>
		<dict>
			<key>x</key>
			<string>869.866</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{24a2116e-3060-4764-b18c-0f3bd6cfccbb}</key>
		<dict>
			<key>x</key>
			<string>843.388</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{af1499c2-44d4-4e2f-9d2e-b521bdb0339f}</key>
		<dict>
			<key>x</key>
			<string>843.209</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{02c222c4-8512-45ca-97f5-9ba1b5cfa8a1}</key>
		<dict>
			<key>x</key>
			<string>805.024</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b25d2837-d82e-4133-9c2a-52750606c427}</key>
		<dict>
			<key>x</key>
			<string>778.546</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{5e10df6c-9300-4461-8d88-f1a1e50beaab}</key>
		<dict>
			<key>x</key>
			<string>752.068</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d4bd2aa3-0497-4f6f-8d58-b075eefddbe0}</key>
		<dict>
			<key>x</key>
			<string>751.889</string>
			<key>y</key>
			<string>33.7204</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{26314286-0504-44db-894f-c75cdf5b0c31}</key>
		<dict>
			<key>x</key>
			<string>713.704</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{e9c5c820-4233-472e-954c-c623a9da3c80}</key>
		<dict>
			<key>x</key>
			<string>687.226</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d5d1c261-cd1b-4644-a3d9-e327c0860de5}</key>
		<dict>
			<key>x</key>
			<string>660.748</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{31c7f02a-9343-422b-9bb7-342dfd80b4b4}</key>
		<dict>
			<key>x</key>
			<string>660.569</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{f47a3e97-0972-4144-a349-75c700df525b}</key>
		<dict>
			<key>x</key>
			<string>624.421</string>
			<key>y</key>
			<string>28.7598</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{8bfe065f-6785-465a-a51c-759b3c8451a2}</key>
		<dict>
			<key>x</key>
			<string>599.98</string>
			<key>y</key>
			<string>23.7991</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{6e0d88b4-1f08-4622-abef-9084616a9f57}</key>
		<dict>
			<key>x</key>
			<string>584.704</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>0</string>
			<key>beam</key>
			<string>{7fd78475-ef36-48bd-b98e-da0998bdae9c}</string>
		</dict>
		<key>{e784f6bd-d6cd-4c89-af6a-a1ff664a918d}</key>
		<dict>
			<key>x</key>
			<string>569.249</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d613f9d6-bfa0-48fe-930b-adfc80562092}</key>
		<dict>
			<key>x</key>
			<string>569.429</string>
			<key>y</key>
			<string>28.7598</string>
			<key>idx</key>
			<string>0</string>
			<key>beam</key>
			<string>{7fd78475-ef36-48bd-b98e-da0998bdae9c}</string>
		</dict>
		<key>{ac9a6e9f-a822-4753-b9a4-46277fd3bb9d}</key>
		<dict>
			<key>x</key>
			<string>531.064</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{19da97af-68b2-4fe7-96d0-f578f9ff6b25}</key>
		<dict>
			<key>x</key>
			<string>504.587</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2711a70f-c513-4b0f-9f24-3b8da2ec5e77}</key>
		<dict>
			<key>x</key>
			<string>478.109</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{e55bd0a5-fdb1-4208-ad31-1efd7dd851a5}</key>
		<dict>
			<key>x</key>
			<string>477.93</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{9f673bd3-c224-4448-9ade-2243f26afef7}</key>
		<dict>
			<key>x</key>
			<string>439.745</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{5203249b-9d7a-4f47-b277-9c3c7ebd9b81}</key>
		<dict>
			<key>x</key>
			<string>413.267</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0138eb75-85f9-48e4-bf53-e57462cde325}</key>
		<dict>
			<key>x</key>
			<string>386.789</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9507b5af-6a5c-4bae-9dc8-9d81ceebab85}</key>
		<dict>
			<key>x</key>
			<string>386.61</string>
			<key>y</key>
			<string>33.7204</string>
			<key>idx</key>
			<string>0</string>
		</dict>
	</dict>
	<key>rests</key>
	<dict>
		<key>{e3aea3f1-58f2-4d1c-bf3c-daed76b8bf0b}</key>
		<dict>
			<key>x</key>
			<string>1391.13</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{cb948be3-c710-4978-bd0d-c76aac6cb309}</key>
		<dict>
			<key>x</key>
			<string>1391.13</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{cbd34008-cdfd-465a-8227-e354b1697901}</key>
		<dict>
			<key>x</key>
			<string>1299.81</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d50982d9-f222-41dd-bdef-b697f9016ab5}</key>
		<dict>
			<key>x</key>
			<string>1299.81</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{585f840d-8874-40d8-96c6-7dffd66e9379}</key>
		<dict>
			<key>x</key>
			<string>1208.49</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0399dca2-4e0a-4143-b2ae-05017a260ca2}</key>
		<dict>
			<key>x</key>
			<string>1208.49</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{ba069b28-151e-4e30-be53-6a4dc788afc5}</key>
		<dict>
			<key>x</key>
			<string>1117.17</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9d40e02b-9130-4005-95d8-26f528dfc4a5}</key>
		<dict>
			<key>x</key>
			<string>1117.17</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{0a3af1eb-5919-4549-9a5f-8176710f2d66}</key>
		<dict>
			<key>x</key>
			<string>896.344</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{7a96778e-cd8b-4066-af2e-80467993206c}</key>
		<dict>
			<key>x</key>
			<string>713.704</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{9472f793-d65b-46c7-aad5-079e7aa346fd}</key>
		<dict>
			<key>x</key>
			<string>295.29</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d0d40175-87f6-4606-bfea-d2eee899fdc4}</key>
		<dict>
			<key>x</key>
			<string>295.29</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{f506c62d-9009-4979-b427-b44487d56b17}</key>
		<dict>
			<key>x</key>
			<string>203.97</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{4066a23c-cf33-4bba-89ae-886ea9f07e7e}</key>
		<dict>
			<key>x</key>
			<string>203.97</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{815c0b04-5b47-4ddc-ada8-fad97fc7b9d5}</key>
		<dict>
			<key>x</key>
			<string>112.651</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d1c4b2d8-8a53-4c8d-9fd0-a79936dce33a}</key>
		<dict>
			<key>x</key>
			<string>112.651</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{8c0befb5-d007-482c-b76a-782b69603880}</key>
		<dict>
			<key>x</key>
			<string>53.2988</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{abb83567-5226-45fd-ab5c-f9844be36e66}</key>
		<dict>
			<key>x</key>
			<string>53.2988</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
	</dict>
	<key>dots</key>
	<dict>
		<key>{d4a6cdd8-be3a-4c49-ba85-cdf1f6d069c7}</key>
		<dict>
			<key>x</key>
			<string>66.9685</string>
			<key>y</key>
			<string>1034.47</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{c6897e8b-cb6d-4627-b1a9-3282239dd74f}</key>
		<dict>
			<key>x</key>
			<string>66.9685</string>
			<key>y</key>
			<string>760.514</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{32510e23-68e0-4c7a-9ce8-a4217f9b1b32}</key>
		<dict>
			<key>x</key>
			<string>94.252</string>
			<key>y</key>
			<string>577.875</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{8927473d-e304-4100-82ca-66c37ef96ea9}</key>
		<dict>
			<key>x</key>
			<string>62.0079</string>
			<key>y</key>
			<string>486.555</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{42cec665-8d72-4758-86f6-c0240f81b488}</key>
		<dict>
			<key>x</key>
			<string>66.9685</string>
			<key>y</key>
			<string>395.235</string>
			<key>idx</key>
			<string>0</string>
		</dict>
	</dict>
	<key>note_dots</key>
	<dict>
		<key>{74b8fd53-47ac-430c-82c2-57757d8e06a1}</key>
		<array>
			
			<string>{d4a6cdd8-be3a-4c49-ba85-cdf1f6d069c7}</string>
		</array>
		<key>{d4bd2aa3-0497-4f6f-8d58-b075eefddbe0}</key>
		<array>
			
			<string>{c6897e8b-cb6d-4627-b1a9-3282239dd74f}</string>
		</array>
		<key>{e784f6bd-d6cd-4c89-af6a-a1ff664a918d}</key>
		<array>
			
			<string>{32510e23-68e0-4c7a-9ce8-a4217f9b1b32}</string>
		</array>
		<key>{e55bd0a5-fdb1-4208-ad31-1efd7dd851a5}</key>
		<array>
			
			<string>{8927473d-e304-4100-82ca-66c37ef96ea9}</string>
		</array>
		<key>{9507b5af-6a5c-4bae-9dc8-9d81ceebab85}</key>
		<array>
			
			<string>{42cec665-8d72-4758-86f6-c0240f81b488}</string>
		</array>
	</dict>
	<key>stems</key>
	<dict>
		<key>{6803c6a1-28bc-42bb-89f4-35b68dd2ffbe}</key>
		<dict>
			<key>x1</key>
			<string>1079.31</string>
			<key>y1</key>
			<string>74.3371</string>
			<key>x2</key>
			<string>1079.31</string>
			<key>y2</key>
			<string>90.1476</string>
			<key>height</key>
			<string>16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7175928a-bcbe-43a6-829c-4ab23800f39e}</key>
		<dict>
			<key>x1</key>
			<string>1052.83</string>
			<key>y1</key>
			<string>64.4159</string>
			<key>x2</key>
			<string>1052.83</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{abf80451-1429-449f-a575-28c919eb0ab3}</key>
		<dict>
			<key>x1</key>
			<string>1026.35</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>1026.35</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{155f537d-62a4-43c7-9641-df56f4304356}</key>
		<dict>
			<key>x1</key>
			<string>1032.42</string>
			<key>y1</key>
			<string>32.9585</string>
			<key>x2</key>
			<string>1032.42</string>
			<key>y2</key>
			<string>16.3582</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{8094cb18-bcae-4357-8de3-3ea662e69870}</key>
		<dict>
			<key>x1</key>
			<string>990.023</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>990.023</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ddc85b25-214a-463b-baad-d66df8908d61}</key>
		<dict>
			<key>x1</key>
			<string>995.909</string>
			<key>y1</key>
			<string>30.3084</string>
			<key>x2</key>
			<string>995.909</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{72235509-329c-4f5f-82b5-3966f70a22cf}</key>
		<dict>
			<key>x1</key>
			<string>965.582</string>
			<key>y1</key>
			<string>24.7308</string>
			<key>x2</key>
			<string>965.582</string>
			<key>y2</key>
			<string>39.9212</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{b220ee17-7fee-402c-835b-6a74742c34d7}</key>
		<dict>
			<key>x1</key>
			<string>956.192</string>
			<key>y1</key>
			<string>25.3478</string>
			<key>x2</key>
			<string>956.192</string>
			<key>y2</key>
			<string>11.3976</string>
			<key>height</key>
			<string>-14.8819</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{566b8d8f-50d9-478a-a792-c80ac3cc9545}</key>
		<dict>
			<key>x1</key>
			<string>934.851</string>
			<key>y1</key>
			<string>64.262</string>
			<key>x2</key>
			<string>934.851</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{67e47eb6-876c-4839-9a14-2ec2d364b68c}</key>
		<dict>
			<key>x1</key>
			<string>940.916</string>
			<key>y1</key>
			<string>27.8281</string>
			<key>x2</key>
			<string>940.916</string>
			<key>y2</key>
			<string>12.6377</string>
			<key>height</key>
			<string>-16.122</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{36a6d210-788f-4f61-b1b0-d8d38b4ecf6c}</key>
		<dict>
			<key>x1</key>
			<string>896.666</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>896.666</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7c107b3d-f889-43c1-882a-6c143e74e662}</key>
		<dict>
			<key>x1</key>
			<string>870.188</string>
			<key>y1</key>
			<string>64.4159</string>
			<key>x2</key>
			<string>870.188</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{266a45a6-1542-4dd7-8447-a109385e63a8}</key>
		<dict>
			<key>x1</key>
			<string>843.71</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>843.71</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0e0f6ac3-326e-4765-84e0-7468af15888e}</key>
		<dict>
			<key>x1</key>
			<string>849.775</string>
			<key>y1</key>
			<string>30.4781</string>
			<key>x2</key>
			<string>849.775</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{4f540bff-96d7-407a-b69b-5ee06256a381}</key>
		<dict>
			<key>x1</key>
			<string>805.346</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>805.346</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{27c31069-7542-4d08-9c9b-665581a9abc2}</key>
		<dict>
			<key>x1</key>
			<string>778.868</string>
			<key>y1</key>
			<string>64.4159</string>
			<key>x2</key>
			<string>778.868</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ef86376d-9d64-4e60-a9a3-7b00bdcd8343}</key>
		<dict>
			<key>x1</key>
			<string>752.391</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>752.391</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{55dc88c1-6c64-49b4-8c2d-859b648f33f2}</key>
		<dict>
			<key>x1</key>
			<string>758.456</string>
			<key>y1</key>
			<string>32.9585</string>
			<key>x2</key>
			<string>758.456</string>
			<key>y2</key>
			<string>16.3582</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{52710f7e-d0c4-4633-a1df-ab3f9ece864d}</key>
		<dict>
			<key>x1</key>
			<string>714.027</string>
			<key>y1</key>
			<string>71.8568</string>
			<key>x2</key>
			<string>714.027</string>
			<key>y2</key>
			<string>88.2873</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{fe2ecc95-5c8c-4528-aa32-c719b191da7b}</key>
		<dict>
			<key>x1</key>
			<string>687.549</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>687.549</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{e9160bdf-485b-48e7-b027-d4f501b3eced}</key>
		<dict>
			<key>x1</key>
			<string>661.071</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>661.071</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{85e79fa3-b798-4f07-8407-19cb9a85c8d4}</key>
		<dict>
			<key>x1</key>
			<string>667.136</string>
			<key>y1</key>
			<string>30.4781</string>
			<key>x2</key>
			<string>667.136</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{12c26392-5312-4a49-9c8f-19c5214c2d0c}</key>
		<dict>
			<key>x1</key>
			<string>630.63</string>
			<key>y1</key>
			<string>27.8281</string>
			<key>x2</key>
			<string>630.63</string>
			<key>y2</key>
			<string>12.6377</string>
			<key>height</key>
			<string>-16.122</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{d9f2e59f-42d0-4b0c-9619-ba85c6798c61}</key>
		<dict>
			<key>x1</key>
			<string>600.302</string>
			<key>y1</key>
			<string>24.7308</string>
			<key>x2</key>
			<string>600.302</string>
			<key>y2</key>
			<string>39.9212</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{fd807ed5-7a17-490a-bb07-1ae605d3de03}</key>
		<dict>
			<key>x1</key>
			<string>590.913</string>
			<key>y1</key>
			<string>25.3478</string>
			<key>x2</key>
			<string>590.913</string>
			<key>y2</key>
			<string>11.3976</string>
			<key>height</key>
			<string>-14.8819</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{6121a44a-c3ee-471f-8cde-1f6063b1f6f1}</key>
		<dict>
			<key>x1</key>
			<string>569.572</string>
			<key>y1</key>
			<string>64.262</string>
			<key>x2</key>
			<string>569.572</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ba3ec539-f35b-47c9-84be-0668f43ed972}</key>
		<dict>
			<key>x1</key>
			<string>575.637</string>
			<key>y1</key>
			<string>27.8281</string>
			<key>x2</key>
			<string>575.637</string>
			<key>y2</key>
			<string>12.6377</string>
			<key>height</key>
			<string>-16.122</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{11ef59f9-e58b-4459-96c0-2645914fa93c}</key>
		<dict>
			<key>x1</key>
			<string>531.387</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>531.387</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{1da7b435-e1ae-411e-b96c-0ca65ac066e1}</key>
		<dict>
			<key>x1</key>
			<string>504.909</string>
			<key>y1</key>
			<string>64.4159</string>
			<key>x2</key>
			<string>504.909</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{fab0552c-d3da-4890-b97e-4604918a3403}</key>
		<dict>
			<key>x1</key>
			<string>478.431</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>478.431</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2d5ebcc7-5e60-475f-ae0d-c28d7ef77e30}</key>
		<dict>
			<key>x1</key>
			<string>484.496</string>
			<key>y1</key>
			<string>30.4781</string>
			<key>x2</key>
			<string>484.496</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{6b2fb64d-de42-47ac-8a8f-c77840e3e4de}</key>
		<dict>
			<key>x1</key>
			<string>440.067</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>440.067</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{1baa3853-66e6-46a1-a87a-dc323cf591f4}</key>
		<dict>
			<key>x1</key>
			<string>413.589</string>
			<key>y1</key>
			<string>64.4159</string>
			<key>x2</key>
			<string>413.589</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d0a52f11-4335-45ef-a23c-62dbeaa97d90}</key>
		<dict>
			<key>x1</key>
			<string>387.111</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>387.111</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{589175ae-4355-484b-be8a-2e60b954b7f1}</key>
		<dict>
			<key>x1</key>
			<string>393.177</string>
			<key>y1</key>
			<string>32.9585</string>
			<key>x2</key>
			<string>393.177</string>
			<key>y2</key>
			<string>16.3582</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
	</dict>
	<key>note_stems</key>
	<dict>
		<key>{01f94322-106f-445c-a331-e0ec6b977e01}</key>
		<string>{6803c6a1-28bc-42bb-89f4-35b68dd2ffbe}</string>
		<key>{78ec7cc0-95e0-4a4e-bd67-4d13a614a589}</key>
		<string>{7175928a-bcbe-43a6-829c-4ab23800f39e}</string>
		<key>{ddfa9f29-9ead-47f6-ab63-840a7fdc9d39}</key>
		<string>{abf80451-1429-449f-a575-28c919eb0ab3}</string>
		<key>{74b8fd53-47ac-430c-82c2-57757d8e06a1}</key>
		<string>{155f537d-62a4-43c7-9641-df56f4304356}</string>
		<key>{640b44a2-6370-4c8f-852b-0343c42a3a41}</key>
		<string>{8094cb18-bcae-4357-8de3-3ea662e69870}</string>
		<key>{18e0b39b-d882-4e6c-8753-29cee175c4b6}</key>
		<string>{ddc85b25-214a-463b-baad-d66df8908d61}</string>
		<key>{07f5c2c9-4c1e-4348-93d4-192d1ef3e737}</key>
		<string>{72235509-329c-4f5f-82b5-3966f70a22cf}</string>
		<key>{68800c53-78cf-49ca-a728-58ad48bf262e}</key>
		<string>{b220ee17-7fee-402c-835b-6a74742c34d7}</string>
		<key>{c656ee6a-9153-49fa-9a90-6fbfc7cf173d}</key>
		<string>{566b8d8f-50d9-478a-a792-c80ac3cc9545}</string>
		<key>{28ffe408-e620-4124-add8-97fbaccc4b7b}</key>
		<string>{67e47eb6-876c-4839-9a14-2ec2d364b68c}</string>
		<key>{ed9a0311-ee9b-4804-9359-bd0955747d4d}</key>
		<string>{36a6d210-788f-4f61-b1b0-d8d38b4ecf6c}</string>
		<key>{5eeb1938-2675-4d9e-a361-872e3e61187a}</key>
		<string>{7c107b3d-f889-43c1-882a-6c143e74e662}</string>
		<key>{24a2116e-3060-4764-b18c-0f3bd6cfccbb}</key>
		<string>{266a45a6-1542-4dd7-8447-a109385e63a8}</string>
		<key>{af1499c2-44d4-4e2f-9d2e-b521bdb0339f}</key>
		<string>{0e0f6ac3-326e-4765-84e0-7468af15888e}</string>
		<key>{02c222c4-8512-45ca-97f5-9ba1b5cfa8a1}</key>
		<string>{4f540bff-96d7-407a-b69b-5ee06256a381}</string>
		<key>{b25d2837-d82e-4133-9c2a-52750606c427}</key>
		<string>{27c31069-7542-4d08-9c9b-665581a9abc2}</string>
		<key>{5e10df6c-9300-4461-8d88-f1a1e50beaab}</key>
		<string>{ef86376d-9d64-4e60-a9a3-7b00bdcd8343}</string>
		<key>{d4bd2aa3-0497-4f6f-8d58-b075eefddbe0}</key>
		<string>{55dc88c1-6c64-49b4-8c2d-859b648f33f2}</string>
		<key>{26314286-0504-44db-894f-c75cdf5b0c31}</key>
		<string>{52710f7e-d0c4-4633-a1df-ab3f9ece864d}</string>
		<key>{e9c5c820-4233-472e-954c-c623a9da3c80}</key>
		<string>{fe2ecc95-5c8c-4528-aa32-c719b191da7b}</string>
		<key>{d5d1c261-cd1b-4644-a3d9-e327c0860de5}</key>
		<string>{e9160bdf-485b-48e7-b027-d4f501b3eced}</string>
		<key>{31c7f02a-9343-422b-9bb7-342dfd80b4b4}</key>
		<string>{85e79fa3-b798-4f07-8407-19cb9a85c8d4}</string>
		<key>{f47a3e97-0972-4144-a349-75c700df525b}</key>
		<string>{12c26392-5312-4a49-9c8f-19c5214c2d0c}</string>
		<key>{8bfe065f-6785-465a-a51c-759b3c8451a2}</key>
		<string>{d9f2e59f-42d0-4b0c-9619-ba85c6798c61}</string>
		<key>{6e0d88b4-1f08-4622-abef-9084616a9f57}</key>
		<string>{fd807ed5-7a17-490a-bb07-1ae605d3de03}</string>
		<key>{e784f6bd-d6cd-4c89-af6a-a1ff664a918d}</key>
		<string>{6121a44a-c3ee-471f-8cde-1f6063b1f6f1}</string>
		<key>{d613f9d6-bfa0-48fe-930b-adfc80562092}</key>
		<string>{ba3ec539-f35b-47c9-84be-0668f43ed972}</string>
		<key>{ac9a6e9f-a822-4753-b9a4-46277fd3bb9d}</key>
		<string>{11ef59f9-e58b-4459-96c0-2645914fa93c}</string>
		<key>{19da97af-68b2-4fe7-96d0-f578f9ff6b25}</key>
		<string>{1da7b435-e1ae-411e-b96c-0ca65ac066e1}</string>
		<key>{2711a70f-c513-4b0f-9f24-3b8da2ec5e77}</key>
		<string>{fab0552c-d3da-4890-b97e-4604918a3403}</string>
		<key>{e55bd0a5-fdb1-4208-ad31-1efd7dd851a5}</key>
		<string>{2d5ebcc7-5e60-475f-ae0d-c28d7ef77e30}</string>
		<key>{9f673bd3-c224-4448-9ade-2243f26afef7}</key>
		<string>{6b2fb64d-de42-47ac-8a8f-c77840e3e4de}</string>
		<key>{5203249b-9d7a-4f47-b277-9c3c7ebd9b81}</key>
		<string>{1baa3853-66e6-46a1-a87a-dc323cf591f4}</string>
		<key>{0138eb75-85f9-48e4-bf53-e57462cde325}</key>
		<string>{d0a52f11-4335-45ef-a23c-62dbeaa97d90}</string>
		<key>{9507b5af-6a5c-4bae-9dc8-9d81ceebab85}</key>
		<string>{589175ae-4355-484b-be8a-2e60b954b7f1}</string>
	</dict>
	<key>note_finger</key>
	<dict>
	</dict>
	<key>note_step</key>
	<dict>
		<key>{01f94322-106f-445c-a331-e0ec6b977e01}</key>
		<string>{82d6a70a-0ff4-4fae-b673-9acea041b9e7}</string>
		<key>{78ec7cc0-95e0-4a4e-bd67-4d13a614a589}</key>
		<string>{739fe778-781a-4fd3-864d-845a8144748e}</string>
		<key>{ddfa9f29-9ead-47f6-ab63-840a7fdc9d39}</key>
		<string>{f585c7cc-be1c-45e7-b520-dae4c0d37383}</string>
		<key>{74b8fd53-47ac-430c-82c2-57757d8e06a1}</key>
		<string>{d8d27f06-1935-4c7e-8998-f19b601e62d5}</string>
		<key>{640b44a2-6370-4c8f-852b-0343c42a3a41}</key>
		<string>{fa3b15ff-d2d8-4adc-8432-409373324bb6}</string>
		<key>{18e0b39b-d882-4e6c-8753-29cee175c4b6}</key>
		<string>{ea162b7b-c28d-4711-8c8c-257cb1da40b0}</string>
		<key>{07f5c2c9-4c1e-4348-93d4-192d1ef3e737}</key>
		<string>{d2c8b1a5-ac19-4359-941c-d2339252135e}</string>
		<key>{68800c53-78cf-49ca-a728-58ad48bf262e}</key>
		<string>{4366acbc-a0ae-4a07-9eef-549174399388}</string>
		<key>{c656ee6a-9153-49fa-9a90-6fbfc7cf173d}</key>
		<string>{12e8129a-a16f-48de-8aba-c63aa36a68f3}</string>
		<key>{28ffe408-e620-4124-add8-97fbaccc4b7b}</key>
		<string>{f288f5e5-e998-4868-a756-7ba645276d4a}</string>
		<key>{ed9a0311-ee9b-4804-9359-bd0955747d4d}</key>
		<string>{1efd5742-ae4b-4324-ba10-2b869e5376c4}</string>
		<key>{5eeb1938-2675-4d9e-a361-872e3e61187a}</key>
		<string>{1eaea08e-5b39-474c-874f-65a0c708ecdc}</string>
		<key>{24a2116e-3060-4764-b18c-0f3bd6cfccbb}</key>
		<string>{9045b5b9-7d23-4344-859c-1b691670fbe9}</string>
		<key>{af1499c2-44d4-4e2f-9d2e-b521bdb0339f}</key>
		<string>{90d64882-3ec0-4a1e-8996-1759df2e8adf}</string>
		<key>{02c222c4-8512-45ca-97f5-9ba1b5cfa8a1}</key>
		<string>{aef98149-f987-4798-a6b6-b7cc172f3621}</string>
		<key>{b25d2837-d82e-4133-9c2a-52750606c427}</key>
		<string>{ad3bbfab-57de-4b14-8563-d5273f3a37bd}</string>
		<key>{5e10df6c-9300-4461-8d88-f1a1e50beaab}</key>
		<string>{a9d178a3-d8a7-4987-8a70-e8720231829f}</string>
		<key>{d4bd2aa3-0497-4f6f-8d58-b075eefddbe0}</key>
		<string>{31111317-9de9-4312-ab6d-265b19ba39bf}</string>
		<key>{26314286-0504-44db-894f-c75cdf5b0c31}</key>
		<string>{b5d8b24c-c600-428f-ac9c-c5420ff1371a}</string>
		<key>{e9c5c820-4233-472e-954c-c623a9da3c80}</key>
		<string>{2fe6edaa-4ceb-4e68-92d5-35e3f04abd29}</string>
		<key>{d5d1c261-cd1b-4644-a3d9-e327c0860de5}</key>
		<string>{351dcd6d-db4f-4d6f-8b73-8a74cebe996a}</string>
		<key>{31c7f02a-9343-422b-9bb7-342dfd80b4b4}</key>
		<string>{27ded5bd-cc5c-42c2-9f5e-9dd289d0ef38}</string>
		<key>{f47a3e97-0972-4144-a349-75c700df525b}</key>
		<string>{1f00b073-8c9c-45ba-a5c8-80bfe48f1f5b}</string>
		<key>{8bfe065f-6785-465a-a51c-759b3c8451a2}</key>
		<string>{29d2da1a-e6e8-43e9-b2df-c11206ad0c2a}</string>
		<key>{6e0d88b4-1f08-4622-abef-9084616a9f57}</key>
		<string>{7339e37b-ea50-469b-8dfa-b988d96b70d3}</string>
		<key>{e784f6bd-d6cd-4c89-af6a-a1ff664a918d}</key>
		<string>{f153b57c-ff44-487b-bb1a-d4ad955718cd}</string>
		<key>{d613f9d6-bfa0-48fe-930b-adfc80562092}</key>
		<string>{39b83e70-42fd-4221-a1b8-0ca8f37dcaab}</string>
		<key>{ac9a6e9f-a822-4753-b9a4-46277fd3bb9d}</key>
		<string>{d4e11e94-f45b-4a7b-899d-3cb534a2b60f}</string>
		<key>{19da97af-68b2-4fe7-96d0-f578f9ff6b25}</key>
		<string>{0a3fe70c-287a-4866-ac53-cff860a8f894}</string>
		<key>{2711a70f-c513-4b0f-9f24-3b8da2ec5e77}</key>
		<string>{5d196a00-9f1a-43e9-a40d-f15ddc937785}</string>
		<key>{e55bd0a5-fdb1-4208-ad31-1efd7dd851a5}</key>
		<string>{bcfe4899-c976-4171-adc8-741da9fc16ad}</string>
		<key>{9f673bd3-c224-4448-9ade-2243f26afef7}</key>
		<string>{76338070-a9a2-4a2d-8dba-eb79870f6484}</string>
		<key>{5203249b-9d7a-4f47-b277-9c3c7ebd9b81}</key>
		<string>{8c5126c3-480f-47b8-9428-69ef94ffc5bc}</string>
		<key>{0138eb75-85f9-48e4-bf53-e57462cde325}</key>
		<string>{66c007d2-d270-422f-8e5e-0475d6a76986}</string>
		<key>{9507b5af-6a5c-4bae-9dc8-9d81ceebab85}</key>
		<string>{d0e57229-1b65-42f3-8dbb-a5f19e6dbbaf}</string>
	</dict>
	<key>note_light</key>
	<dict>
		<key>{01f94322-106f-445c-a331-e0ec6b977e01}</key>
		<array>
			
			<string>{6803c6a1-28bc-42bb-89f4-35b68dd2ffbe}</string>
		</array>
		<key>{78ec7cc0-95e0-4a4e-bd67-4d13a614a589}</key>
		<array>
			
			<string>{7175928a-bcbe-43a6-829c-4ab23800f39e}</string>
		</array>
		<key>{ddfa9f29-9ead-47f6-ab63-840a7fdc9d39}</key>
		<array>
			
			<string>{abf80451-1429-449f-a575-28c919eb0ab3}</string>
		</array>
		<key>{74b8fd53-47ac-430c-82c2-57757d8e06a1}</key>
		<array>
			
			<string>{155f537d-62a4-43c7-9641-df56f4304356}</string>
			
			<string>{d4a6cdd8-be3a-4c49-ba85-cdf1f6d069c7}</string>
		</array>
		<key>{640b44a2-6370-4c8f-852b-0343c42a3a41}</key>
		<array>
			
			<string>{8094cb18-bcae-4357-8de3-3ea662e69870}</string>
		</array>
		<key>{18e0b39b-d882-4e6c-8753-29cee175c4b6}</key>
		<array>
			
			<string>{ddc85b25-214a-463b-baad-d66df8908d61}</string>
		</array>
		<key>{07f5c2c9-4c1e-4348-93d4-192d1ef3e737}</key>
		<array>
			
			<string>{72235509-329c-4f5f-82b5-3966f70a22cf}</string>
		</array>
		<key>{68800c53-78cf-49ca-a728-58ad48bf262e}</key>
		<array>
			
			<string>{42d1a563-aaef-41f9-afb3-6a16a17d865f}</string>
			
			<string>{b220ee17-7fee-402c-835b-6a74742c34d7}</string>
		</array>
		<key>{c656ee6a-9153-49fa-9a90-6fbfc7cf173d}</key>
		<array>
			
			<string>{566b8d8f-50d9-478a-a792-c80ac3cc9545}</string>
		</array>
		<key>{28ffe408-e620-4124-add8-97fbaccc4b7b}</key>
		<array>
			
			<string>{42d1a563-aaef-41f9-afb3-6a16a17d865f}</string>
			
			<string>{67e47eb6-876c-4839-9a14-2ec2d364b68c}</string>
		</array>
		<key>{ed9a0311-ee9b-4804-9359-bd0955747d4d}</key>
		<array>
			
			<string>{36a6d210-788f-4f61-b1b0-d8d38b4ecf6c}</string>
		</array>
		<key>{5eeb1938-2675-4d9e-a361-872e3e61187a}</key>
		<array>
			
			<string>{7c107b3d-f889-43c1-882a-6c143e74e662}</string>
		</array>
		<key>{24a2116e-3060-4764-b18c-0f3bd6cfccbb}</key>
		<array>
			
			<string>{266a45a6-1542-4dd7-8447-a109385e63a8}</string>
		</array>
		<key>{af1499c2-44d4-4e2f-9d2e-b521bdb0339f}</key>
		<array>
			
			<string>{0e0f6ac3-326e-4765-84e0-7468af15888e}</string>
		</array>
		<key>{02c222c4-8512-45ca-97f5-9ba1b5cfa8a1}</key>
		<array>
			
			<string>{4f540bff-96d7-407a-b69b-5ee06256a381}</string>
		</array>
		<key>{b25d2837-d82e-4133-9c2a-52750606c427}</key>
		<array>
			
			<string>{27c31069-7542-4d08-9c9b-665581a9abc2}</string>
		</array>
		<key>{5e10df6c-9300-4461-8d88-f1a1e50beaab}</key>
		<array>
			
			<string>{ef86376d-9d64-4e60-a9a3-7b00bdcd8343}</string>
		</array>
		<key>{d4bd2aa3-0497-4f6f-8d58-b075eefddbe0}</key>
		<array>
			
			<string>{55dc88c1-6c64-49b4-8c2d-859b648f33f2}</string>
			
			<string>{c6897e8b-cb6d-4627-b1a9-3282239dd74f}</string>
		</array>
		<key>{26314286-0504-44db-894f-c75cdf5b0c31}</key>
		<array>
			
			<string>{52710f7e-d0c4-4633-a1df-ab3f9ece864d}</string>
		</array>
		<key>{e9c5c820-4233-472e-954c-c623a9da3c80}</key>
		<array>
			
			<string>{fe2ecc95-5c8c-4528-aa32-c719b191da7b}</string>
		</array>
		<key>{d5d1c261-cd1b-4644-a3d9-e327c0860de5}</key>
		<array>
			
			<string>{e9160bdf-485b-48e7-b027-d4f501b3eced}</string>
		</array>
		<key>{31c7f02a-9343-422b-9bb7-342dfd80b4b4}</key>
		<array>
			
			<string>{85e79fa3-b798-4f07-8407-19cb9a85c8d4}</string>
		</array>
		<key>{f47a3e97-0972-4144-a349-75c700df525b}</key>
		<array>
			
			<string>{12c26392-5312-4a49-9c8f-19c5214c2d0c}</string>
		</array>
		<key>{8bfe065f-6785-465a-a51c-759b3c8451a2}</key>
		<array>
			
			<string>{d9f2e59f-42d0-4b0c-9619-ba85c6798c61}</string>
		</array>
		<key>{6e0d88b4-1f08-4622-abef-9084616a9f57}</key>
		<array>
			
			<string>{7fd78475-ef36-48bd-b98e-da0998bdae9c}</string>
			
			<string>{fd807ed5-7a17-490a-bb07-1ae605d3de03}</string>
		</array>
		<key>{e784f6bd-d6cd-4c89-af6a-a1ff664a918d}</key>
		<array>
			
			<string>{6121a44a-c3ee-471f-8cde-1f6063b1f6f1}</string>
			
			<string>{32510e23-68e0-4c7a-9ce8-a4217f9b1b32}</string>
		</array>
		<key>{d613f9d6-bfa0-48fe-930b-adfc80562092}</key>
		<array>
			
			<string>{7fd78475-ef36-48bd-b98e-da0998bdae9c}</string>
			
			<string>{ba3ec539-f35b-47c9-84be-0668f43ed972}</string>
		</array>
		<key>{ac9a6e9f-a822-4753-b9a4-46277fd3bb9d}</key>
		<array>
			
			<string>{11ef59f9-e58b-4459-96c0-2645914fa93c}</string>
		</array>
		<key>{19da97af-68b2-4fe7-96d0-f578f9ff6b25}</key>
		<array>
			
			<string>{1da7b435-e1ae-411e-b96c-0ca65ac066e1}</string>
		</array>
		<key>{2711a70f-c513-4b0f-9f24-3b8da2ec5e77}</key>
		<array>
			
			<string>{fab0552c-d3da-4890-b97e-4604918a3403}</string>
		</array>
		<key>{e55bd0a5-fdb1-4208-ad31-1efd7dd851a5}</key>
		<array>
			
			<string>{2d5ebcc7-5e60-475f-ae0d-c28d7ef77e30}</string>
			
			<string>{8927473d-e304-4100-82ca-66c37ef96ea9}</string>
		</array>
		<key>{9f673bd3-c224-4448-9ade-2243f26afef7}</key>
		<array>
			
			<string>{6b2fb64d-de42-47ac-8a8f-c77840e3e4de}</string>
		</array>
		<key>{5203249b-9d7a-4f47-b277-9c3c7ebd9b81}</key>
		<array>
			
			<string>{1baa3853-66e6-46a1-a87a-dc323cf591f4}</string>
		</array>
		<key>{0138eb75-85f9-48e4-bf53-e57462cde325}</key>
		<array>
			
			<string>{d0a52f11-4335-45ef-a23c-62dbeaa97d90}</string>
		</array>
		<key>{9507b5af-6a5c-4bae-9dc8-9d81ceebab85}</key>
		<array>
			
			<string>{589175ae-4355-484b-be8a-2e60b954b7f1}</string>
			
			<string>{42cec665-8d72-4758-86f6-c0240f81b488}</string>
		</array>
	</dict>
</dict>
</plist>