<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>pen_width</key>
	<string>0.40</string>
	<key>xend</key>
	<real>1142.59</real>
	<key>stafflines</key>
	<dict>
		<key>0</key>
		<dict>
			<key>x</key>
			<string>10.4173</string>
			<key>y</key>
			<string>16.3582</string>
			<key>bx</key>
			<string>10.4173</string>
			<key>by</key>
			<string>51.9378</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{01f94322-106f-445c-a331-e0ec6b977e01}</key>
		<dict>
			<key>x</key>
			<string>840.461</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{78ec7cc0-95e0-4a4e-bd67-4d13a614a589}</key>
		<dict>
			<key>x</key>
			<string>818.417</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{ddfa9f29-9ead-47f6-ab63-840a7fdc9d39}</key>
		<dict>
			<key>x</key>
			<string>796.373</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{74b8fd53-47ac-430c-82c2-57757d8e06a1}</key>
		<dict>
			<key>x</key>
			<string>796.194</string>
			<key>y</key>
			<string>33.7204</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{640b44a2-6370-4c8f-852b-0343c42a3a41}</key>
		<dict>
			<key>x</key>
			<string>771.083</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{18e0b39b-d882-4e6c-8753-29cee175c4b6}</key>
		<dict>
			<key>x</key>
			<string>771.083</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{07f5c2c9-4c1e-4348-93d4-192d1ef3e737}</key>
		<dict>
			<key>x</key>
			<string>750.735</string>
			<key>y</key>
			<string>23.7991</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{68800c53-78cf-49ca-a728-58ad48bf262e}</key>
		<dict>
			<key>x</key>
			<string>738.017</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
			<key>beam</key>
			<string>{1fe9e330-559a-49b4-9541-8a637a2afa3c}</string>
		</dict>
		<key>{c656ee6a-9153-49fa-9a90-6fbfc7cf173d}</key>
		<dict>
			<key>x</key>
			<string>725.12</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{28ffe408-e620-4124-add8-97fbaccc4b7b}</key>
		<dict>
			<key>x</key>
			<string>725.299</string>
			<key>y</key>
			<string>28.7598</string>
			<key>idx</key>
			<string>1</string>
			<key>beam</key>
			<string>{1fe9e330-559a-49b4-9541-8a637a2afa3c}</string>
		</dict>
		<key>{ed9a0311-ee9b-4804-9359-bd0955747d4d}</key>
		<dict>
			<key>x</key>
			<string>698.314</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{5eeb1938-2675-4d9e-a361-872e3e61187a}</key>
		<dict>
			<key>x</key>
			<string>676.27</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{24a2116e-3060-4764-b18c-0f3bd6cfccbb}</key>
		<dict>
			<key>x</key>
			<string>654.226</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{af1499c2-44d4-4e2f-9d2e-b521bdb0339f}</key>
		<dict>
			<key>x</key>
			<string>654.047</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{02c222c4-8512-45ca-97f5-9ba1b5cfa8a1}</key>
		<dict>
			<key>x</key>
			<string>627.24</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{b25d2837-d82e-4133-9c2a-52750606c427}</key>
		<dict>
			<key>x</key>
			<string>605.196</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{5e10df6c-9300-4461-8d88-f1a1e50beaab}</key>
		<dict>
			<key>x</key>
			<string>583.152</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{d4bd2aa3-0497-4f6f-8d58-b075eefddbe0}</key>
		<dict>
			<key>x</key>
			<string>582.973</string>
			<key>y</key>
			<string>33.7204</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{26314286-0504-44db-894f-c75cdf5b0c31}</key>
		<dict>
			<key>x</key>
			<string>556.167</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{e9c5c820-4233-472e-954c-c623a9da3c80}</key>
		<dict>
			<key>x</key>
			<string>534.123</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{d5d1c261-cd1b-4644-a3d9-e327c0860de5}</key>
		<dict>
			<key>x</key>
			<string>512.079</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{31c7f02a-9343-422b-9bb7-342dfd80b4b4}</key>
		<dict>
			<key>x</key>
			<string>511.9</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f47a3e97-0972-4144-a349-75c700df525b}</key>
		<dict>
			<key>x</key>
			<string>486.789</string>
			<key>y</key>
			<string>28.7598</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{8bfe065f-6785-465a-a51c-759b3c8451a2}</key>
		<dict>
			<key>x</key>
			<string>466.441</string>
			<key>y</key>
			<string>23.7991</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6e0d88b4-1f08-4622-abef-9084616a9f57}</key>
		<dict>
			<key>x</key>
			<string>453.723</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
			<key>beam</key>
			<string>{69d064f3-05e8-4dce-9c81-b87fdb948444}</string>
		</dict>
		<key>{e784f6bd-d6cd-4c89-af6a-a1ff664a918d}</key>
		<dict>
			<key>x</key>
			<string>440.826</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{d613f9d6-bfa0-48fe-930b-adfc80562092}</key>
		<dict>
			<key>x</key>
			<string>441.005</string>
			<key>y</key>
			<string>28.7598</string>
			<key>idx</key>
			<string>1</string>
			<key>beam</key>
			<string>{69d064f3-05e8-4dce-9c81-b87fdb948444}</string>
		</dict>
		<key>{ac9a6e9f-a822-4753-b9a4-46277fd3bb9d}</key>
		<dict>
			<key>x</key>
			<string>414.02</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{19da97af-68b2-4fe7-96d0-f578f9ff6b25}</key>
		<dict>
			<key>x</key>
			<string>391.976</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{2711a70f-c513-4b0f-9f24-3b8da2ec5e77}</key>
		<dict>
			<key>x</key>
			<string>369.932</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{e55bd0a5-fdb1-4208-ad31-1efd7dd851a5}</key>
		<dict>
			<key>x</key>
			<string>369.753</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9f673bd3-c224-4448-9ade-2243f26afef7}</key>
		<dict>
			<key>x</key>
			<string>342.947</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{5203249b-9d7a-4f47-b277-9c3c7ebd9b81}</key>
		<dict>
			<key>x</key>
			<string>320.903</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{0138eb75-85f9-48e4-bf53-e57462cde325}</key>
		<dict>
			<key>x</key>
			<string>298.859</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{9507b5af-6a5c-4bae-9dc8-9d81ceebab85}</key>
		<dict>
			<key>x</key>
			<string>298.68</string>
			<key>y</key>
			<string>33.7204</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>rests</key>
	<dict>
		<key>{e3aea3f1-58f2-4d1c-bf3c-daed76b8bf0b}</key>
		<dict>
			<key>x</key>
			<string>1080.49</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{cb948be3-c710-4978-bd0d-c76aac6cb309}</key>
		<dict>
			<key>x</key>
			<string>1080.49</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{cbd34008-cdfd-465a-8227-e354b1697901}</key>
		<dict>
			<key>x</key>
			<string>1009.41</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{d50982d9-f222-41dd-bdef-b697f9016ab5}</key>
		<dict>
			<key>x</key>
			<string>1009.41</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{585f840d-8874-40d8-96c6-7dffd66e9379}</key>
		<dict>
			<key>x</key>
			<string>938.34</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{0399dca2-4e0a-4143-b2ae-05017a260ca2}</key>
		<dict>
			<key>x</key>
			<string>938.34</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ba069b28-151e-4e30-be53-6a4dc788afc5}</key>
		<dict>
			<key>x</key>
			<string>867.267</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{9d40e02b-9130-4005-95d8-26f528dfc4a5}</key>
		<dict>
			<key>x</key>
			<string>867.267</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0a3af1eb-5919-4549-9a5f-8176710f2d66}</key>
		<dict>
			<key>x</key>
			<string>698.314</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7a96778e-cd8b-4066-af2e-80467993206c}</key>
		<dict>
			<key>x</key>
			<string>556.167</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9472f793-d65b-46c7-aad5-079e7aa346fd}</key>
		<dict>
			<key>x</key>
			<string>227.606</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{d0d40175-87f6-4606-bfea-d2eee899fdc4}</key>
		<dict>
			<key>x</key>
			<string>227.606</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f506c62d-9009-4979-b427-b44487d56b17}</key>
		<dict>
			<key>x</key>
			<string>156.533</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{4066a23c-cf33-4bba-89ae-886ea9f07e7e}</key>
		<dict>
			<key>x</key>
			<string>156.533</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{815c0b04-5b47-4ddc-ada8-fad97fc7b9d5}</key>
		<dict>
			<key>x</key>
			<string>85.4593</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{d1c4b2d8-8a53-4c8d-9fd0-a79936dce33a}</key>
		<dict>
			<key>x</key>
			<string>85.4593</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{8c0befb5-d007-482c-b76a-782b69603880}</key>
		<dict>
			<key>x</key>
			<string>53.2988</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{abb83567-5226-45fd-ab5c-f9844be36e66}</key>
		<dict>
			<key>x</key>
			<string>53.2988</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>dots</key>
	<dict>
		<key>{afb721c7-1e55-4f45-bfd0-ee5efc53a995}</key>
		<dict>
			<key>x</key>
			<string>66.9685</string>
			<key>y</key>
			<string>804.819</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{4540cced-e365-43c0-b382-b876119b3b62}</key>
		<dict>
			<key>x</key>
			<string>66.9685</string>
			<key>y</key>
			<string>591.599</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{a249ae2e-a3b5-4285-8af7-a143cf9d93d4}</key>
		<dict>
			<key>x</key>
			<string>94.252</string>
			<key>y</key>
			<string>449.452</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{9557807e-3471-48f2-8364-50794905b64a}</key>
		<dict>
			<key>x</key>
			<string>62.0079</string>
			<key>y</key>
			<string>378.378</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{3e3493df-425a-4523-a7ca-550a65abcd23}</key>
		<dict>
			<key>x</key>
			<string>66.9685</string>
			<key>y</key>
			<string>307.305</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>note_dots</key>
	<dict>
		<key>{74b8fd53-47ac-430c-82c2-57757d8e06a1}</key>
		<array>
			
			<string>{afb721c7-1e55-4f45-bfd0-ee5efc53a995}</string>
		</array>
		<key>{d4bd2aa3-0497-4f6f-8d58-b075eefddbe0}</key>
		<array>
			
			<string>{4540cced-e365-43c0-b382-b876119b3b62}</string>
		</array>
		<key>{e784f6bd-d6cd-4c89-af6a-a1ff664a918d}</key>
		<array>
			
			<string>{a249ae2e-a3b5-4285-8af7-a143cf9d93d4}</string>
		</array>
		<key>{e55bd0a5-fdb1-4208-ad31-1efd7dd851a5}</key>
		<array>
			
			<string>{9557807e-3471-48f2-8364-50794905b64a}</string>
		</array>
		<key>{9507b5af-6a5c-4bae-9dc8-9d81ceebab85}</key>
		<array>
			
			<string>{3e3493df-425a-4523-a7ca-550a65abcd23}</string>
		</array>
	</dict>
	<key>stems</key>
	<dict>
		<key>{f3b26698-6372-4041-98d3-58d926601d09}</key>
		<dict>
			<key>x1</key>
			<string>840.783</string>
			<key>y1</key>
			<string>74.3371</string>
			<key>x2</key>
			<string>840.783</string>
			<key>y2</key>
			<string>90.1476</string>
			<key>height</key>
			<string>16.7421</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{03c87a48-9f9b-4e56-9022-c2f257e84cbb}</key>
		<dict>
			<key>x1</key>
			<string>818.739</string>
			<key>y1</key>
			<string>64.4159</string>
			<key>x2</key>
			<string>818.739</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{1113c6d6-def9-44f1-9ac0-bcc6a86edff9}</key>
		<dict>
			<key>x1</key>
			<string>796.695</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>796.695</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{9f9ffa07-fa4e-43e4-b1f4-6b1a173885b2}</key>
		<dict>
			<key>x1</key>
			<string>802.76</string>
			<key>y1</key>
			<string>32.9585</string>
			<key>x2</key>
			<string>802.76</string>
			<key>y2</key>
			<string>16.3582</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0c2b6373-a8df-4772-85c8-25cc29bc226a}</key>
		<dict>
			<key>x1</key>
			<string>771.405</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>771.405</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{730541b1-3ba3-459c-a1af-24cef4c56081}</key>
		<dict>
			<key>x1</key>
			<string>777.291</string>
			<key>y1</key>
			<string>30.3084</string>
			<key>x2</key>
			<string>777.291</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{a8318540-961b-4da9-996c-2539421a4c76}</key>
		<dict>
			<key>x1</key>
			<string>751.057</string>
			<key>y1</key>
			<string>24.7308</string>
			<key>x2</key>
			<string>751.057</string>
			<key>y2</key>
			<string>39.9212</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{614e617e-e3be-443d-bb2b-7709bf9acccb}</key>
		<dict>
			<key>x1</key>
			<string>744.225</string>
			<key>y1</key>
			<string>25.3478</string>
			<key>x2</key>
			<string>744.225</string>
			<key>y2</key>
			<string>11.3976</string>
			<key>height</key>
			<string>-14.8819</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b34acd0e-ccdd-429b-a348-b4e5fab20fa2}</key>
		<dict>
			<key>x1</key>
			<string>725.443</string>
			<key>y1</key>
			<string>64.262</string>
			<key>x2</key>
			<string>725.443</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{80f5db7c-59cb-4b46-9601-569815f64594}</key>
		<dict>
			<key>x1</key>
			<string>731.508</string>
			<key>y1</key>
			<string>27.8281</string>
			<key>x2</key>
			<string>731.508</string>
			<key>y2</key>
			<string>12.6377</string>
			<key>height</key>
			<string>-16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{519910d1-87fa-400f-b759-e26304c0ae78}</key>
		<dict>
			<key>x1</key>
			<string>698.636</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>698.636</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{b967552f-d31b-46c2-bab9-c05dc31e6013}</key>
		<dict>
			<key>x1</key>
			<string>676.592</string>
			<key>y1</key>
			<string>64.4159</string>
			<key>x2</key>
			<string>676.592</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{f4fd37ca-79e3-432f-a4e0-5ab623b4c5bf}</key>
		<dict>
			<key>x1</key>
			<string>654.548</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>654.548</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{9af58ac5-8838-482a-95c9-abb429ff790a}</key>
		<dict>
			<key>x1</key>
			<string>660.613</string>
			<key>y1</key>
			<string>30.4781</string>
			<key>x2</key>
			<string>660.613</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{72f97b68-a3e4-4b91-a343-ec70004cb9f6}</key>
		<dict>
			<key>x1</key>
			<string>627.563</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>627.563</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{7bd39223-f5ef-43f1-a310-3160c25f557f}</key>
		<dict>
			<key>x1</key>
			<string>605.519</string>
			<key>y1</key>
			<string>64.4159</string>
			<key>x2</key>
			<string>605.519</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{dd124332-ac0a-4c32-ab46-09079c0bfc16}</key>
		<dict>
			<key>x1</key>
			<string>583.475</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>583.475</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{a174d3f4-25c2-4b1a-8620-b920ba2c5b59}</key>
		<dict>
			<key>x1</key>
			<string>589.54</string>
			<key>y1</key>
			<string>32.9585</string>
			<key>x2</key>
			<string>589.54</string>
			<key>y2</key>
			<string>16.3582</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{aa89ad19-4a5a-4c68-943b-c5fc4d879b3d}</key>
		<dict>
			<key>x1</key>
			<string>556.489</string>
			<key>y1</key>
			<string>71.8568</string>
			<key>x2</key>
			<string>556.489</string>
			<key>y2</key>
			<string>88.2873</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{2d5af596-621f-43f8-b2c0-696f6de8b219}</key>
		<dict>
			<key>x1</key>
			<string>534.445</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>534.445</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{47a5e507-9eff-4ea4-9bbd-ba56728d9e3a}</key>
		<dict>
			<key>x1</key>
			<string>512.401</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>512.401</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{2320c448-3677-4092-8795-e4ea20f19d60}</key>
		<dict>
			<key>x1</key>
			<string>518.466</string>
			<key>y1</key>
			<string>30.4781</string>
			<key>x2</key>
			<string>518.466</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{85aa21f5-3a91-41e7-ad05-9592a9e6e361}</key>
		<dict>
			<key>x1</key>
			<string>492.998</string>
			<key>y1</key>
			<string>27.8281</string>
			<key>x2</key>
			<string>492.998</string>
			<key>y2</key>
			<string>12.6377</string>
			<key>height</key>
			<string>-16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{8c87406e-3606-4840-b7af-93b70c764c34}</key>
		<dict>
			<key>x1</key>
			<string>466.763</string>
			<key>y1</key>
			<string>24.7308</string>
			<key>x2</key>
			<string>466.763</string>
			<key>y2</key>
			<string>39.9212</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ae40ae08-b678-4038-9dff-ab37bde2731a}</key>
		<dict>
			<key>x1</key>
			<string>459.932</string>
			<key>y1</key>
			<string>25.3478</string>
			<key>x2</key>
			<string>459.932</string>
			<key>y2</key>
			<string>11.3976</string>
			<key>height</key>
			<string>-14.8819</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{8f123afb-d6fa-4524-9706-c9ce3673bdd8}</key>
		<dict>
			<key>x1</key>
			<string>441.149</string>
			<key>y1</key>
			<string>64.262</string>
			<key>x2</key>
			<string>441.149</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{462c0802-437d-4f7e-a233-34af4b68ff4a}</key>
		<dict>
			<key>x1</key>
			<string>447.214</string>
			<key>y1</key>
			<string>27.8281</string>
			<key>x2</key>
			<string>447.214</string>
			<key>y2</key>
			<string>12.6377</string>
			<key>height</key>
			<string>-16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{4eb6f963-c351-4097-8bd6-dd2a6b4904a7}</key>
		<dict>
			<key>x1</key>
			<string>414.343</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>414.343</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{7895b0e5-52e5-48ce-9103-45391005bb90}</key>
		<dict>
			<key>x1</key>
			<string>392.298</string>
			<key>y1</key>
			<string>64.4159</string>
			<key>x2</key>
			<string>392.298</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{1a64d9bb-e2c7-4f40-b860-f489087e2697}</key>
		<dict>
			<key>x1</key>
			<string>370.254</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>370.254</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{63904c56-f8cf-476d-b71b-efce0801a2e3}</key>
		<dict>
			<key>x1</key>
			<string>376.32</string>
			<key>y1</key>
			<string>30.4781</string>
			<key>x2</key>
			<string>376.32</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{3a5811dc-cbb1-485d-a460-b53692ad592d}</key>
		<dict>
			<key>x1</key>
			<string>343.269</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>343.269</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{6cab968b-3062-4b55-96bc-5a1826e04277}</key>
		<dict>
			<key>x1</key>
			<string>321.225</string>
			<key>y1</key>
			<string>64.4159</string>
			<key>x2</key>
			<string>321.225</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{952386b6-7e48-4170-807f-4d1376c17103}</key>
		<dict>
			<key>x1</key>
			<string>299.181</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>299.181</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{46d65378-57d2-419b-9e35-85e6815367dc}</key>
		<dict>
			<key>x1</key>
			<string>305.246</string>
			<key>y1</key>
			<string>32.9585</string>
			<key>x2</key>
			<string>305.246</string>
			<key>y2</key>
			<string>16.3582</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>note_stems</key>
	<dict>
		<key>{01f94322-106f-445c-a331-e0ec6b977e01}</key>
		<string>{f3b26698-6372-4041-98d3-58d926601d09}</string>
		<key>{78ec7cc0-95e0-4a4e-bd67-4d13a614a589}</key>
		<string>{03c87a48-9f9b-4e56-9022-c2f257e84cbb}</string>
		<key>{ddfa9f29-9ead-47f6-ab63-840a7fdc9d39}</key>
		<string>{1113c6d6-def9-44f1-9ac0-bcc6a86edff9}</string>
		<key>{74b8fd53-47ac-430c-82c2-57757d8e06a1}</key>
		<string>{9f9ffa07-fa4e-43e4-b1f4-6b1a173885b2}</string>
		<key>{640b44a2-6370-4c8f-852b-0343c42a3a41}</key>
		<string>{0c2b6373-a8df-4772-85c8-25cc29bc226a}</string>
		<key>{18e0b39b-d882-4e6c-8753-29cee175c4b6}</key>
		<string>{730541b1-3ba3-459c-a1af-24cef4c56081}</string>
		<key>{07f5c2c9-4c1e-4348-93d4-192d1ef3e737}</key>
		<string>{a8318540-961b-4da9-996c-2539421a4c76}</string>
		<key>{68800c53-78cf-49ca-a728-58ad48bf262e}</key>
		<string>{614e617e-e3be-443d-bb2b-7709bf9acccb}</string>
		<key>{c656ee6a-9153-49fa-9a90-6fbfc7cf173d}</key>
		<string>{b34acd0e-ccdd-429b-a348-b4e5fab20fa2}</string>
		<key>{28ffe408-e620-4124-add8-97fbaccc4b7b}</key>
		<string>{80f5db7c-59cb-4b46-9601-569815f64594}</string>
		<key>{ed9a0311-ee9b-4804-9359-bd0955747d4d}</key>
		<string>{519910d1-87fa-400f-b759-e26304c0ae78}</string>
		<key>{5eeb1938-2675-4d9e-a361-872e3e61187a}</key>
		<string>{b967552f-d31b-46c2-bab9-c05dc31e6013}</string>
		<key>{24a2116e-3060-4764-b18c-0f3bd6cfccbb}</key>
		<string>{f4fd37ca-79e3-432f-a4e0-5ab623b4c5bf}</string>
		<key>{af1499c2-44d4-4e2f-9d2e-b521bdb0339f}</key>
		<string>{9af58ac5-8838-482a-95c9-abb429ff790a}</string>
		<key>{02c222c4-8512-45ca-97f5-9ba1b5cfa8a1}</key>
		<string>{72f97b68-a3e4-4b91-a343-ec70004cb9f6}</string>
		<key>{b25d2837-d82e-4133-9c2a-52750606c427}</key>
		<string>{7bd39223-f5ef-43f1-a310-3160c25f557f}</string>
		<key>{5e10df6c-9300-4461-8d88-f1a1e50beaab}</key>
		<string>{dd124332-ac0a-4c32-ab46-09079c0bfc16}</string>
		<key>{d4bd2aa3-0497-4f6f-8d58-b075eefddbe0}</key>
		<string>{a174d3f4-25c2-4b1a-8620-b920ba2c5b59}</string>
		<key>{26314286-0504-44db-894f-c75cdf5b0c31}</key>
		<string>{aa89ad19-4a5a-4c68-943b-c5fc4d879b3d}</string>
		<key>{e9c5c820-4233-472e-954c-c623a9da3c80}</key>
		<string>{2d5af596-621f-43f8-b2c0-696f6de8b219}</string>
		<key>{d5d1c261-cd1b-4644-a3d9-e327c0860de5}</key>
		<string>{47a5e507-9eff-4ea4-9bbd-ba56728d9e3a}</string>
		<key>{31c7f02a-9343-422b-9bb7-342dfd80b4b4}</key>
		<string>{2320c448-3677-4092-8795-e4ea20f19d60}</string>
		<key>{f47a3e97-0972-4144-a349-75c700df525b}</key>
		<string>{85aa21f5-3a91-41e7-ad05-9592a9e6e361}</string>
		<key>{8bfe065f-6785-465a-a51c-759b3c8451a2}</key>
		<string>{8c87406e-3606-4840-b7af-93b70c764c34}</string>
		<key>{6e0d88b4-1f08-4622-abef-9084616a9f57}</key>
		<string>{ae40ae08-b678-4038-9dff-ab37bde2731a}</string>
		<key>{e784f6bd-d6cd-4c89-af6a-a1ff664a918d}</key>
		<string>{8f123afb-d6fa-4524-9706-c9ce3673bdd8}</string>
		<key>{d613f9d6-bfa0-48fe-930b-adfc80562092}</key>
		<string>{462c0802-437d-4f7e-a233-34af4b68ff4a}</string>
		<key>{ac9a6e9f-a822-4753-b9a4-46277fd3bb9d}</key>
		<string>{4eb6f963-c351-4097-8bd6-dd2a6b4904a7}</string>
		<key>{19da97af-68b2-4fe7-96d0-f578f9ff6b25}</key>
		<string>{7895b0e5-52e5-48ce-9103-45391005bb90}</string>
		<key>{2711a70f-c513-4b0f-9f24-3b8da2ec5e77}</key>
		<string>{1a64d9bb-e2c7-4f40-b860-f489087e2697}</string>
		<key>{e55bd0a5-fdb1-4208-ad31-1efd7dd851a5}</key>
		<string>{63904c56-f8cf-476d-b71b-efce0801a2e3}</string>
		<key>{9f673bd3-c224-4448-9ade-2243f26afef7}</key>
		<string>{3a5811dc-cbb1-485d-a460-b53692ad592d}</string>
		<key>{5203249b-9d7a-4f47-b277-9c3c7ebd9b81}</key>
		<string>{6cab968b-3062-4b55-96bc-5a1826e04277}</string>
		<key>{0138eb75-85f9-48e4-bf53-e57462cde325}</key>
		<string>{952386b6-7e48-4170-807f-4d1376c17103}</string>
		<key>{9507b5af-6a5c-4bae-9dc8-9d81ceebab85}</key>
		<string>{46d65378-57d2-419b-9e35-85e6815367dc}</string>
	</dict>
	<key>note_finger</key>
	<dict>
	</dict>
	<key>note_step</key>
	<dict>
		<key>{01f94322-106f-445c-a331-e0ec6b977e01}</key>
		<string>{82d6a70a-0ff4-4fae-b673-9acea041b9e7}</string>
		<key>{78ec7cc0-95e0-4a4e-bd67-4d13a614a589}</key>
		<string>{739fe778-781a-4fd3-864d-845a8144748e}</string>
		<key>{ddfa9f29-9ead-47f6-ab63-840a7fdc9d39}</key>
		<string>{f585c7cc-be1c-45e7-b520-dae4c0d37383}</string>
		<key>{74b8fd53-47ac-430c-82c2-57757d8e06a1}</key>
		<string>{d8d27f06-1935-4c7e-8998-f19b601e62d5}</string>
		<key>{640b44a2-6370-4c8f-852b-0343c42a3a41}</key>
		<string>{fa3b15ff-d2d8-4adc-8432-409373324bb6}</string>
		<key>{18e0b39b-d882-4e6c-8753-29cee175c4b6}</key>
		<string>{ea162b7b-c28d-4711-8c8c-257cb1da40b0}</string>
		<key>{07f5c2c9-4c1e-4348-93d4-192d1ef3e737}</key>
		<string>{d2c8b1a5-ac19-4359-941c-d2339252135e}</string>
		<key>{68800c53-78cf-49ca-a728-58ad48bf262e}</key>
		<string>{4366acbc-a0ae-4a07-9eef-549174399388}</string>
		<key>{c656ee6a-9153-49fa-9a90-6fbfc7cf173d}</key>
		<string>{12e8129a-a16f-48de-8aba-c63aa36a68f3}</string>
		<key>{28ffe408-e620-4124-add8-97fbaccc4b7b}</key>
		<string>{f288f5e5-e998-4868-a756-7ba645276d4a}</string>
		<key>{ed9a0311-ee9b-4804-9359-bd0955747d4d}</key>
		<string>{1efd5742-ae4b-4324-ba10-2b869e5376c4}</string>
		<key>{5eeb1938-2675-4d9e-a361-872e3e61187a}</key>
		<string>{1eaea08e-5b39-474c-874f-65a0c708ecdc}</string>
		<key>{24a2116e-3060-4764-b18c-0f3bd6cfccbb}</key>
		<string>{9045b5b9-7d23-4344-859c-1b691670fbe9}</string>
		<key>{af1499c2-44d4-4e2f-9d2e-b521bdb0339f}</key>
		<string>{90d64882-3ec0-4a1e-8996-1759df2e8adf}</string>
		<key>{02c222c4-8512-45ca-97f5-9ba1b5cfa8a1}</key>
		<string>{aef98149-f987-4798-a6b6-b7cc172f3621}</string>
		<key>{b25d2837-d82e-4133-9c2a-52750606c427}</key>
		<string>{ad3bbfab-57de-4b14-8563-d5273f3a37bd}</string>
		<key>{5e10df6c-9300-4461-8d88-f1a1e50beaab}</key>
		<string>{a9d178a3-d8a7-4987-8a70-e8720231829f}</string>
		<key>{d4bd2aa3-0497-4f6f-8d58-b075eefddbe0}</key>
		<string>{31111317-9de9-4312-ab6d-265b19ba39bf}</string>
		<key>{26314286-0504-44db-894f-c75cdf5b0c31}</key>
		<string>{b5d8b24c-c600-428f-ac9c-c5420ff1371a}</string>
		<key>{e9c5c820-4233-472e-954c-c623a9da3c80}</key>
		<string>{2fe6edaa-4ceb-4e68-92d5-35e3f04abd29}</string>
		<key>{d5d1c261-cd1b-4644-a3d9-e327c0860de5}</key>
		<string>{351dcd6d-db4f-4d6f-8b73-8a74cebe996a}</string>
		<key>{31c7f02a-9343-422b-9bb7-342dfd80b4b4}</key>
		<string>{27ded5bd-cc5c-42c2-9f5e-9dd289d0ef38}</string>
		<key>{f47a3e97-0972-4144-a349-75c700df525b}</key>
		<string>{1f00b073-8c9c-45ba-a5c8-80bfe48f1f5b}</string>
		<key>{8bfe065f-6785-465a-a51c-759b3c8451a2}</key>
		<string>{29d2da1a-e6e8-43e9-b2df-c11206ad0c2a}</string>
		<key>{6e0d88b4-1f08-4622-abef-9084616a9f57}</key>
		<string>{7339e37b-ea50-469b-8dfa-b988d96b70d3}</string>
		<key>{e784f6bd-d6cd-4c89-af6a-a1ff664a918d}</key>
		<string>{f153b57c-ff44-487b-bb1a-d4ad955718cd}</string>
		<key>{d613f9d6-bfa0-48fe-930b-adfc80562092}</key>
		<string>{39b83e70-42fd-4221-a1b8-0ca8f37dcaab}</string>
		<key>{ac9a6e9f-a822-4753-b9a4-46277fd3bb9d}</key>
		<string>{d4e11e94-f45b-4a7b-899d-3cb534a2b60f}</string>
		<key>{19da97af-68b2-4fe7-96d0-f578f9ff6b25}</key>
		<string>{0a3fe70c-287a-4866-ac53-cff860a8f894}</string>
		<key>{2711a70f-c513-4b0f-9f24-3b8da2ec5e77}</key>
		<string>{5d196a00-9f1a-43e9-a40d-f15ddc937785}</string>
		<key>{e55bd0a5-fdb1-4208-ad31-1efd7dd851a5}</key>
		<string>{bcfe4899-c976-4171-adc8-741da9fc16ad}</string>
		<key>{9f673bd3-c224-4448-9ade-2243f26afef7}</key>
		<string>{76338070-a9a2-4a2d-8dba-eb79870f6484}</string>
		<key>{5203249b-9d7a-4f47-b277-9c3c7ebd9b81}</key>
		<string>{8c5126c3-480f-47b8-9428-69ef94ffc5bc}</string>
		<key>{0138eb75-85f9-48e4-bf53-e57462cde325}</key>
		<string>{66c007d2-d270-422f-8e5e-0475d6a76986}</string>
		<key>{9507b5af-6a5c-4bae-9dc8-9d81ceebab85}</key>
		<string>{d0e57229-1b65-42f3-8dbb-a5f19e6dbbaf}</string>
	</dict>
	<key>note_light</key>
	<dict>
		<key>{01f94322-106f-445c-a331-e0ec6b977e01}</key>
		<array>
			
			<string>{f3b26698-6372-4041-98d3-58d926601d09}</string>
		</array>
		<key>{78ec7cc0-95e0-4a4e-bd67-4d13a614a589}</key>
		<array>
			
			<string>{03c87a48-9f9b-4e56-9022-c2f257e84cbb}</string>
		</array>
		<key>{ddfa9f29-9ead-47f6-ab63-840a7fdc9d39}</key>
		<array>
			
			<string>{1113c6d6-def9-44f1-9ac0-bcc6a86edff9}</string>
		</array>
		<key>{74b8fd53-47ac-430c-82c2-57757d8e06a1}</key>
		<array>
			
			<string>{9f9ffa07-fa4e-43e4-b1f4-6b1a173885b2}</string>
			
			<string>{afb721c7-1e55-4f45-bfd0-ee5efc53a995}</string>
		</array>
		<key>{640b44a2-6370-4c8f-852b-0343c42a3a41}</key>
		<array>
			
			<string>{0c2b6373-a8df-4772-85c8-25cc29bc226a}</string>
		</array>
		<key>{18e0b39b-d882-4e6c-8753-29cee175c4b6}</key>
		<array>
			
			<string>{730541b1-3ba3-459c-a1af-24cef4c56081}</string>
		</array>
		<key>{07f5c2c9-4c1e-4348-93d4-192d1ef3e737}</key>
		<array>
			
			<string>{a8318540-961b-4da9-996c-2539421a4c76}</string>
		</array>
		<key>{68800c53-78cf-49ca-a728-58ad48bf262e}</key>
		<array>
			
			<string>{1fe9e330-559a-49b4-9541-8a637a2afa3c}</string>
			
			<string>{614e617e-e3be-443d-bb2b-7709bf9acccb}</string>
		</array>
		<key>{c656ee6a-9153-49fa-9a90-6fbfc7cf173d}</key>
		<array>
			
			<string>{b34acd0e-ccdd-429b-a348-b4e5fab20fa2}</string>
		</array>
		<key>{28ffe408-e620-4124-add8-97fbaccc4b7b}</key>
		<array>
			
			<string>{1fe9e330-559a-49b4-9541-8a637a2afa3c}</string>
			
			<string>{80f5db7c-59cb-4b46-9601-569815f64594}</string>
		</array>
		<key>{ed9a0311-ee9b-4804-9359-bd0955747d4d}</key>
		<array>
			
			<string>{519910d1-87fa-400f-b759-e26304c0ae78}</string>
		</array>
		<key>{5eeb1938-2675-4d9e-a361-872e3e61187a}</key>
		<array>
			
			<string>{b967552f-d31b-46c2-bab9-c05dc31e6013}</string>
		</array>
		<key>{24a2116e-3060-4764-b18c-0f3bd6cfccbb}</key>
		<array>
			
			<string>{f4fd37ca-79e3-432f-a4e0-5ab623b4c5bf}</string>
		</array>
		<key>{af1499c2-44d4-4e2f-9d2e-b521bdb0339f}</key>
		<array>
			
			<string>{9af58ac5-8838-482a-95c9-abb429ff790a}</string>
		</array>
		<key>{02c222c4-8512-45ca-97f5-9ba1b5cfa8a1}</key>
		<array>
			
			<string>{72f97b68-a3e4-4b91-a343-ec70004cb9f6}</string>
		</array>
		<key>{b25d2837-d82e-4133-9c2a-52750606c427}</key>
		<array>
			
			<string>{7bd39223-f5ef-43f1-a310-3160c25f557f}</string>
		</array>
		<key>{5e10df6c-9300-4461-8d88-f1a1e50beaab}</key>
		<array>
			
			<string>{dd124332-ac0a-4c32-ab46-09079c0bfc16}</string>
		</array>
		<key>{d4bd2aa3-0497-4f6f-8d58-b075eefddbe0}</key>
		<array>
			
			<string>{a174d3f4-25c2-4b1a-8620-b920ba2c5b59}</string>
			
			<string>{4540cced-e365-43c0-b382-b876119b3b62}</string>
		</array>
		<key>{26314286-0504-44db-894f-c75cdf5b0c31}</key>
		<array>
			
			<string>{aa89ad19-4a5a-4c68-943b-c5fc4d879b3d}</string>
		</array>
		<key>{e9c5c820-4233-472e-954c-c623a9da3c80}</key>
		<array>
			
			<string>{2d5af596-621f-43f8-b2c0-696f6de8b219}</string>
		</array>
		<key>{d5d1c261-cd1b-4644-a3d9-e327c0860de5}</key>
		<array>
			
			<string>{47a5e507-9eff-4ea4-9bbd-ba56728d9e3a}</string>
		</array>
		<key>{31c7f02a-9343-422b-9bb7-342dfd80b4b4}</key>
		<array>
			
			<string>{2320c448-3677-4092-8795-e4ea20f19d60}</string>
		</array>
		<key>{f47a3e97-0972-4144-a349-75c700df525b}</key>
		<array>
			
			<string>{85aa21f5-3a91-41e7-ad05-9592a9e6e361}</string>
		</array>
		<key>{8bfe065f-6785-465a-a51c-759b3c8451a2}</key>
		<array>
			
			<string>{8c87406e-3606-4840-b7af-93b70c764c34}</string>
		</array>
		<key>{6e0d88b4-1f08-4622-abef-9084616a9f57}</key>
		<array>
			
			<string>{69d064f3-05e8-4dce-9c81-b87fdb948444}</string>
			
			<string>{ae40ae08-b678-4038-9dff-ab37bde2731a}</string>
		</array>
		<key>{e784f6bd-d6cd-4c89-af6a-a1ff664a918d}</key>
		<array>
			
			<string>{8f123afb-d6fa-4524-9706-c9ce3673bdd8}</string>
			
			<string>{a249ae2e-a3b5-4285-8af7-a143cf9d93d4}</string>
		</array>
		<key>{d613f9d6-bfa0-48fe-930b-adfc80562092}</key>
		<array>
			
			<string>{69d064f3-05e8-4dce-9c81-b87fdb948444}</string>
			
			<string>{462c0802-437d-4f7e-a233-34af4b68ff4a}</string>
		</array>
		<key>{ac9a6e9f-a822-4753-b9a4-46277fd3bb9d}</key>
		<array>
			
			<string>{4eb6f963-c351-4097-8bd6-dd2a6b4904a7}</string>
		</array>
		<key>{19da97af-68b2-4fe7-96d0-f578f9ff6b25}</key>
		<array>
			
			<string>{7895b0e5-52e5-48ce-9103-45391005bb90}</string>
		</array>
		<key>{2711a70f-c513-4b0f-9f24-3b8da2ec5e77}</key>
		<array>
			
			<string>{1a64d9bb-e2c7-4f40-b860-f489087e2697}</string>
		</array>
		<key>{e55bd0a5-fdb1-4208-ad31-1efd7dd851a5}</key>
		<array>
			
			<string>{63904c56-f8cf-476d-b71b-efce0801a2e3}</string>
			
			<string>{9557807e-3471-48f2-8364-50794905b64a}</string>
		</array>
		<key>{9f673bd3-c224-4448-9ade-2243f26afef7}</key>
		<array>
			
			<string>{3a5811dc-cbb1-485d-a460-b53692ad592d}</string>
		</array>
		<key>{5203249b-9d7a-4f47-b277-9c3c7ebd9b81}</key>
		<array>
			
			<string>{6cab968b-3062-4b55-96bc-5a1826e04277}</string>
		</array>
		<key>{0138eb75-85f9-48e4-bf53-e57462cde325}</key>
		<array>
			
			<string>{952386b6-7e48-4170-807f-4d1376c17103}</string>
		</array>
		<key>{9507b5af-6a5c-4bae-9dc8-9d81ceebab85}</key>
		<array>
			
			<string>{46d65378-57d2-419b-9e35-85e6815367dc}</string>
			
			<string>{3e3493df-425a-4523-a7ca-550a65abcd23}</string>
		</array>
	</dict>
	<key>note_hands_type</key>
	<dict>
		<key>1</key>
		<array>
			
			<string>{a9e220be-322c-446e-b50b-39972c0707b3}</string>
			
			<string>{ddf56458-cf8c-47cd-bd26-b9b3c66a79f4}</string>
			
			<string>{5924920b-3352-44aa-ac48-a3e08d33781a}</string>
			
			<string>{cb948be3-c710-4978-bd0d-c76aac6cb309}</string>
			
			<string>{d50982d9-f222-41dd-bdef-b697f9016ab5}</string>
			
			<string>{0399dca2-4e0a-4143-b2ae-05017a260ca2}</string>
			
			<string>{9d40e02b-9130-4005-95d8-26f528dfc4a5}</string>
			
			<string>{0a3af1eb-5919-4549-9a5f-8176710f2d66}</string>
			
			<string>{7a96778e-cd8b-4066-af2e-80467993206c}</string>
			
			<string>{d0d40175-87f6-4606-bfea-d2eee899fdc4}</string>
			
			<string>{4066a23c-cf33-4bba-89ae-886ea9f07e7e}</string>
			
			<string>{d1c4b2d8-8a53-4c8d-9fd0-a79936dce33a}</string>
			
			<string>{abb83567-5226-45fd-ab5c-f9844be36e66}</string>
			
			<string>{1fe9e330-559a-49b4-9541-8a637a2afa3c}</string>
			
			<string>{69d064f3-05e8-4dce-9c81-b87fdb948444}</string>
			
			<string>{d8d27f06-1935-4c7e-8998-f19b601e62d5}</string>
			
			<string>{ea162b7b-c28d-4711-8c8c-257cb1da40b0}</string>
			
			<string>{d2c8b1a5-ac19-4359-941c-d2339252135e}</string>
			
			<string>{4366acbc-a0ae-4a07-9eef-549174399388}</string>
			
			<string>{f288f5e5-e998-4868-a756-7ba645276d4a}</string>
			
			<string>{90d64882-3ec0-4a1e-8996-1759df2e8adf}</string>
			
			<string>{31111317-9de9-4312-ab6d-265b19ba39bf}</string>
			
			<string>{27ded5bd-cc5c-42c2-9f5e-9dd289d0ef38}</string>
			
			<string>{1f00b073-8c9c-45ba-a5c8-80bfe48f1f5b}</string>
			
			<string>{29d2da1a-e6e8-43e9-b2df-c11206ad0c2a}</string>
			
			<string>{7339e37b-ea50-469b-8dfa-b988d96b70d3}</string>
			
			<string>{39b83e70-42fd-4221-a1b8-0ca8f37dcaab}</string>
			
			<string>{bcfe4899-c976-4171-adc8-741da9fc16ad}</string>
			
			<string>{d0e57229-1b65-42f3-8dbb-a5f19e6dbbaf}</string>
			
			<string>{afb721c7-1e55-4f45-bfd0-ee5efc53a995}</string>
			
			<string>{4540cced-e365-43c0-b382-b876119b3b62}</string>
			
			<string>{9557807e-3471-48f2-8364-50794905b64a}</string>
			
			<string>{3e3493df-425a-4523-a7ca-550a65abcd23}</string>
			
			<string>{98acc521-aee9-49d6-96ef-ceec14fdbfec}</string>
			
			<string>{bb145fa4-dbc0-4f31-b735-366af2b746f8}</string>
			
			<string>{df171ea5-2e84-482e-acd0-dae6273cf8b9}</string>
			
			<string>{02908178-a09c-4c74-b5ae-e9b7bce77840}</string>
			
			<string>{b8a7cebc-2bc8-4253-b459-e8f7b87da21e}</string>
			
			<string>{3ba28f1c-b178-4e29-af39-4931606f8063}</string>
			
			<string>{b48e7585-332a-47ae-856c-612f9207b628}</string>
			
			<string>{7b25f7db-c4c9-4156-b0ba-9e2102df4918}</string>
			
			<string>{328bbcf2-7e3c-4e75-b776-6e8209a7d4a4}</string>
			
			<string>{f9122c69-db0b-41c4-a38c-0de0f08be001}</string>
			
			<string>{500f5769-b547-4960-8ae0-caec4efbc531}</string>
			
			<string>{84cfa5a5-2783-4a7c-ae56-04c467d98024}</string>
			
			<string>{efb04e4b-bbd9-4717-8f5b-a17d2e6449e1}</string>
			
			<string>{6ed797aa-2405-40c7-9365-31eee4a4dcc5}</string>
			
			<string>{28863dbb-65f6-4e7f-aa0a-345fbdad7cdf}</string>
			
			<string>{9f9ffa07-fa4e-43e4-b1f4-6b1a173885b2}</string>
			
			<string>{730541b1-3ba3-459c-a1af-24cef4c56081}</string>
			
			<string>{a8318540-961b-4da9-996c-2539421a4c76}</string>
			
			<string>{614e617e-e3be-443d-bb2b-7709bf9acccb}</string>
			
			<string>{80f5db7c-59cb-4b46-9601-569815f64594}</string>
			
			<string>{9af58ac5-8838-482a-95c9-abb429ff790a}</string>
			
			<string>{a174d3f4-25c2-4b1a-8620-b920ba2c5b59}</string>
			
			<string>{2320c448-3677-4092-8795-e4ea20f19d60}</string>
			
			<string>{85aa21f5-3a91-41e7-ad05-9592a9e6e361}</string>
			
			<string>{8c87406e-3606-4840-b7af-93b70c764c34}</string>
			
			<string>{ae40ae08-b678-4038-9dff-ab37bde2731a}</string>
			
			<string>{462c0802-437d-4f7e-a233-34af4b68ff4a}</string>
			
			<string>{63904c56-f8cf-476d-b71b-efce0801a2e3}</string>
			
			<string>{46d65378-57d2-419b-9e35-85e6815367dc}</string>
		</array>
		<key>2</key>
		<array>
			
			<string>{09b5706a-9099-4257-8c76-54346278c21c}</string>
			
			<string>{e3aea3f1-58f2-4d1c-bf3c-daed76b8bf0b}</string>
			
			<string>{cbd34008-cdfd-465a-8227-e354b1697901}</string>
			
			<string>{585f840d-8874-40d8-96c6-7dffd66e9379}</string>
			
			<string>{ba069b28-151e-4e30-be53-6a4dc788afc5}</string>
			
			<string>{9472f793-d65b-46c7-aad5-079e7aa346fd}</string>
			
			<string>{f506c62d-9009-4979-b427-b44487d56b17}</string>
			
			<string>{815c0b04-5b47-4ddc-ada8-fad97fc7b9d5}</string>
			
			<string>{8c0befb5-d007-482c-b76a-782b69603880}</string>
			
			<string>{82d6a70a-0ff4-4fae-b673-9acea041b9e7}</string>
			
			<string>{739fe778-781a-4fd3-864d-845a8144748e}</string>
			
			<string>{f585c7cc-be1c-45e7-b520-dae4c0d37383}</string>
			
			<string>{fa3b15ff-d2d8-4adc-8432-409373324bb6}</string>
			
			<string>{12e8129a-a16f-48de-8aba-c63aa36a68f3}</string>
			
			<string>{1efd5742-ae4b-4324-ba10-2b869e5376c4}</string>
			
			<string>{1eaea08e-5b39-474c-874f-65a0c708ecdc}</string>
			
			<string>{9045b5b9-7d23-4344-859c-1b691670fbe9}</string>
			
			<string>{aef98149-f987-4798-a6b6-b7cc172f3621}</string>
			
			<string>{ad3bbfab-57de-4b14-8563-d5273f3a37bd}</string>
			
			<string>{a9d178a3-d8a7-4987-8a70-e8720231829f}</string>
			
			<string>{b5d8b24c-c600-428f-ac9c-c5420ff1371a}</string>
			
			<string>{2fe6edaa-4ceb-4e68-92d5-35e3f04abd29}</string>
			
			<string>{351dcd6d-db4f-4d6f-8b73-8a74cebe996a}</string>
			
			<string>{f153b57c-ff44-487b-bb1a-d4ad955718cd}</string>
			
			<string>{d4e11e94-f45b-4a7b-899d-3cb534a2b60f}</string>
			
			<string>{0a3fe70c-287a-4866-ac53-cff860a8f894}</string>
			
			<string>{5d196a00-9f1a-43e9-a40d-f15ddc937785}</string>
			
			<string>{76338070-a9a2-4a2d-8dba-eb79870f6484}</string>
			
			<string>{8c5126c3-480f-47b8-9428-69ef94ffc5bc}</string>
			
			<string>{66c007d2-d270-422f-8e5e-0475d6a76986}</string>
			
			<string>{a249ae2e-a3b5-4285-8af7-a143cf9d93d4}</string>
			
			<string>{12305a33-6f92-4ea1-a1a8-022b763643ce}</string>
			
			<string>{3c18f212-71b5-4474-89c3-35ea3c1c7743}</string>
			
			<string>{1f096e99-d101-444b-8501-dd5e7cebad51}</string>
			
			<string>{d52696dc-e58c-43e0-8e8e-767336b953f9}</string>
			
			<string>{ccfb8f1b-63dd-491d-a989-9ba89d1993ae}</string>
			
			<string>{1c6b2bc0-6bf1-418a-b351-7bb64e81af07}</string>
			
			<string>{ebc678ee-6950-4cff-a5c7-b38de9d02a72}</string>
			
			<string>{085c1353-eb75-4442-8e00-08b95ab07f3c}</string>
			
			<string>{ec2e8739-2b13-47b4-b656-ff4704eb3bcc}</string>
			
			<string>{c4a995c0-723a-405d-aea0-7a2d0dae3679}</string>
			
			<string>{fe67f3ce-d7fb-464c-a8ae-c2bb715fd9c8}</string>
			
			<string>{3ae90dfc-e788-4813-845b-ce1bd317de03}</string>
			
			<string>{1fc70cc4-7dd6-4066-a39e-a5fb02c7e853}</string>
			
			<string>{63cc956a-8fe1-4379-907e-3560a1a64b7d}</string>
			
			<string>{28216f70-a4be-40b3-b4f2-451b5cf819e9}</string>
			
			<string>{f3b26698-6372-4041-98d3-58d926601d09}</string>
			
			<string>{03c87a48-9f9b-4e56-9022-c2f257e84cbb}</string>
			
			<string>{1113c6d6-def9-44f1-9ac0-bcc6a86edff9}</string>
			
			<string>{0c2b6373-a8df-4772-85c8-25cc29bc226a}</string>
			
			<string>{b34acd0e-ccdd-429b-a348-b4e5fab20fa2}</string>
			
			<string>{519910d1-87fa-400f-b759-e26304c0ae78}</string>
			
			<string>{b967552f-d31b-46c2-bab9-c05dc31e6013}</string>
			
			<string>{f4fd37ca-79e3-432f-a4e0-5ab623b4c5bf}</string>
			
			<string>{72f97b68-a3e4-4b91-a343-ec70004cb9f6}</string>
			
			<string>{7bd39223-f5ef-43f1-a310-3160c25f557f}</string>
			
			<string>{dd124332-ac0a-4c32-ab46-09079c0bfc16}</string>
			
			<string>{aa89ad19-4a5a-4c68-943b-c5fc4d879b3d}</string>
			
			<string>{2d5af596-621f-43f8-b2c0-696f6de8b219}</string>
			
			<string>{47a5e507-9eff-4ea4-9bbd-ba56728d9e3a}</string>
			
			<string>{8f123afb-d6fa-4524-9706-c9ce3673bdd8}</string>
			
			<string>{4eb6f963-c351-4097-8bd6-dd2a6b4904a7}</string>
			
			<string>{7895b0e5-52e5-48ce-9103-45391005bb90}</string>
			
			<string>{1a64d9bb-e2c7-4f40-b860-f489087e2697}</string>
			
			<string>{3a5811dc-cbb1-485d-a460-b53692ad592d}</string>
			
			<string>{6cab968b-3062-4b55-96bc-5a1826e04277}</string>
			
			<string>{952386b6-7e48-4170-807f-4d1376c17103}</string>
			
			<string>{2c2ab62b-82b5-4889-8cea-ec42e788f2ab}</string>
			
			<string>{0c4bc4dc-2bd6-41c3-bd83-66cfb1a5a4f5}</string>
			
			<string>{cd0eb13f-e983-42d6-afdb-60a2a5ddf3b4}</string>
			
			<string>{6dab4c06-03dc-45b8-872f-cfd10ad85fad}</string>
			
			<string>{60ec692d-4134-4b92-b63d-90b6e9d5b704}</string>
			
			<string>{e56b9905-3f82-4807-958f-010d52f64f63}</string>
			
			<string>{2ce5a11f-b138-4eea-b830-8044df61a403}</string>
		</array>
	</dict>
</dict>
</plist>