<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>100.205</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>135.784</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>246.543</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>282.123</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{982de152-2c97-47a5-815d-c2f2088748e8}</key>
		<dict>
			<key>x</key>
			<string>502.411</string>
			<key>y</key>
			<string>261.425</string>
		</dict>
		<key>{78f648a4-88e9-46b7-a061-e2ccc591cab8}</key>
		<dict>
			<key>x</key>
			<string>449.233</string>
			<key>y</key>
			<string>296.15</string>
		</dict>
		<key>{b3d07881-9017-4dce-93f0-ab3734525808}</key>
		<dict>
			<key>x</key>
			<string>450.701</string>
			<key>y</key>
			<string>261.425</string>
		</dict>
		<key>{b3ebaf89-e55f-4b2b-a3b2-68a02fac5d81}</key>
		<dict>
			<key>x</key>
			<string>412.88</string>
			<key>y</key>
			<string>263.906</string>
		</dict>
		<key>{451b17a6-32e1-415a-884a-4eb7bdf7d7c8}</key>
		<dict>
			<key>x</key>
			<string>383.274</string>
			<key>y</key>
			<string>266.386</string>
		</dict>
		<key>{60f93292-d534-4074-a140-638570e759b0}</key>
		<dict>
			<key>x</key>
			<string>353.668</string>
			<key>y</key>
			<string>268.866</string>
		</dict>
		<key>{dbde014a-26fd-4a65-9fbe-8792a3261f57}</key>
		<dict>
			<key>x</key>
			<string>322.414</string>
			<key>y</key>
			<string>293.669</string>
		</dict>
		<key>{e3dda5c3-1670-4062-abfe-24169ffb0fb6}</key>
		<dict>
			<key>x</key>
			<string>324.061</string>
			<key>y</key>
			<string>266.386</string>
		</dict>
		<key>{527a0237-7dae-4961-bb67-12e11272baef}</key>
		<dict>
			<key>x</key>
			<string>266.15</string>
			<key>y</key>
			<string>268.866</string>
		</dict>
		<key>{860f74d9-9af4-4251-a64a-75389e0a3c06}</key>
		<dict>
			<key>x</key>
			<string>235.492</string>
			<key>y</key>
			<string>261.425</string>
		</dict>
		<key>{6cdc5acc-dcce-4801-904e-ec0dfd5958e9}</key>
		<dict>
			<key>x</key>
			<string>203.009</string>
			<key>y</key>
			<string>296.15</string>
		</dict>
		<key>{5629e308-26e5-4d45-abb8-6128bddf64bb}</key>
		<dict>
			<key>x</key>
			<string>204.656</string>
			<key>y</key>
			<string>261.425</string>
		</dict>
		<key>{2b0fe21a-ec3b-4241-ada3-90f56adc814d}</key>
		<dict>
			<key>x</key>
			<string>167.483</string>
			<key>y</key>
			<string>258.945</string>
		</dict>
		<key>{7c66c4de-79e8-46ba-bf5b-af9a45ad3d45}</key>
		<dict>
			<key>x</key>
			<string>138.703</string>
			<key>y</key>
			<string>261.425</string>
		</dict>
		<key>{fdd98b5e-e479-4d76-9a7a-22712c9b4670}</key>
		<dict>
			<key>x</key>
			<string>109.924</string>
			<key>y</key>
			<string>261.425</string>
		</dict>
		<key>{78017f85-333a-488f-93d0-ae737066fcc5}</key>
		<dict>
			<key>x</key>
			<string>79.4972</string>
			<key>y</key>
			<string>296.15</string>
		</dict>
		<key>{874d746a-cfd1-458f-a099-7936c244c9f0}</key>
		<dict>
			<key>x</key>
			<string>81.1442</string>
			<key>y</key>
			<string>261.425</string>
		</dict>
		<key>{3daa6c15-6bab-4bc5-aafc-3dea5f3a95be}</key>
		<dict>
			<key>x</key>
			<string>507.626</string>
			<key>y</key>
			<string>115.087</string>
		</dict>
		<key>{53113f22-d041-43bc-9f44-a6c2475dd93d}</key>
		<dict>
			<key>x</key>
			<string>455.198</string>
			<key>y</key>
			<string>149.811</string>
		</dict>
		<key>{8bed0f50-5001-42ce-abc7-7376b2c53bcb}</key>
		<dict>
			<key>x</key>
			<string>456.666</string>
			<key>y</key>
			<string>115.087</string>
		</dict>
		<key>{e379fbef-5a09-4915-ba2a-e2fbd9ab06bd}</key>
		<dict>
			<key>x</key>
			<string>419.221</string>
			<key>y</key>
			<string>117.567</string>
		</dict>
		<key>{dcbfb233-41e2-4e94-9ea6-f4663d2c774e}</key>
		<dict>
			<key>x</key>
			<string>389.989</string>
			<key>y</key>
			<string>120.047</string>
		</dict>
		<key>{631044fc-0bde-4fc4-9fd2-27e02cdcb095}</key>
		<dict>
			<key>x</key>
			<string>360.758</string>
			<key>y</key>
			<string>122.528</string>
		</dict>
		<key>{c4b85a8e-28b5-4d05-b4a5-d8833091d7b3}</key>
		<dict>
			<key>x</key>
			<string>329.88</string>
			<key>y</key>
			<string>147.331</string>
		</dict>
		<key>{97d0d4b9-fccd-4dea-b5a3-7c278f2805d0}</key>
		<dict>
			<key>x</key>
			<string>331.527</string>
			<key>y</key>
			<string>120.047</string>
		</dict>
		<key>{81cfd08c-0a0f-4248-9fbd-6274dd4a4d48}</key>
		<dict>
			<key>x</key>
			<string>274.283</string>
			<key>y</key>
			<string>122.528</string>
		</dict>
		<key>{0591f780-e715-4a87-a4bc-9185a2949c2c}</key>
		<dict>
			<key>x</key>
			<string>244.042</string>
			<key>y</key>
			<string>115.087</string>
		</dict>
		<key>{7c198c97-d73d-4263-a985-b0f9126da7bf}</key>
		<dict>
			<key>x</key>
			<string>211.975</string>
			<key>y</key>
			<string>149.811</string>
		</dict>
		<key>{3cf0259c-ee80-492d-93cf-cb3911a65a42}</key>
		<dict>
			<key>x</key>
			<string>213.622</string>
			<key>y</key>
			<string>115.087</string>
		</dict>
		<key>{31f7bc8e-5d80-4c17-b660-d9457ece2bae}</key>
		<dict>
			<key>x</key>
			<string>176.824</string>
			<key>y</key>
			<string>112.606</string>
		</dict>
		<key>{b4268bd6-3473-4b8e-978c-492c24c920b8}</key>
		<dict>
			<key>x</key>
			<string>148.42</string>
			<key>y</key>
			<string>115.087</string>
		</dict>
		<key>{4ccec6c9-0da1-4e98-ad3f-72725e41cbc4}</key>
		<dict>
			<key>x</key>
			<string>120.016</string>
			<key>y</key>
			<string>115.087</string>
		</dict>
		<key>{407e5e58-7a6b-4f99-b8c8-49ceef5c5842}</key>
		<dict>
			<key>x</key>
			<string>89.9641</string>
			<key>y</key>
			<string>149.811</string>
		</dict>
		<key>{22439219-4023-4cd3-851b-90afca416b90}</key>
		<dict>
			<key>x</key>
			<string>91.6112</string>
			<key>y</key>
			<string>115.087</string>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{982de152-2c97-47a5-815d-c2f2088748e8}</key>
		<dict>
			<key>x1</key>
			<string>508.978</string>
			<key>y1</key>
			<string>260.663</string>
			<key>x2</key>
			<string>508.978</string>
			<key>y2</key>
			<string>244.683</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{b3d07881-9017-4dce-93f0-ab3734525808}</key>
		<dict>
			<key>x1</key>
			<string>457.268</string>
			<key>y1</key>
			<string>260.663</string>
			<key>x2</key>
			<string>457.268</string>
			<key>y2</key>
			<string>244.683</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{b3ebaf89-e55f-4b2b-a3b2-68a02fac5d81}</key>
		<dict>
			<key>x1</key>
			<string>419.089</string>
			<key>y1</key>
			<string>262.974</string>
			<key>x2</key>
			<string>419.089</string>
			<key>y2</key>
			<string>246.543</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{451b17a6-32e1-415a-884a-4eb7bdf7d7c8}</key>
		<dict>
			<key>x1</key>
			<string>389.483</string>
			<key>y1</key>
			<string>265.454</string>
			<key>x2</key>
			<string>389.483</string>
			<key>y2</key>
			<string>249.024</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{60f93292-d534-4074-a140-638570e759b0}</key>
		<dict>
			<key>x1</key>
			<string>359.876</string>
			<key>y1</key>
			<string>267.934</string>
			<key>x2</key>
			<string>359.876</string>
			<key>y2</key>
			<string>251.504</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e3dda5c3-1670-4062-abfe-24169ffb0fb6}</key>
		<dict>
			<key>x1</key>
			<string>330.27</string>
			<key>y1</key>
			<string>265.454</string>
			<key>x2</key>
			<string>330.27</string>
			<key>y2</key>
			<string>249.024</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{527a0237-7dae-4961-bb67-12e11272baef}</key>
		<dict>
			<key>x1</key>
			<string>272.717</string>
			<key>y1</key>
			<string>268.104</string>
			<key>x2</key>
			<string>272.717</string>
			<key>y2</key>
			<string>251.504</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{860f74d9-9af4-4251-a64a-75389e0a3c06}</key>
		<dict>
			<key>x1</key>
			<string>241.701</string>
			<key>y1</key>
			<string>260.494</string>
			<key>x2</key>
			<string>241.701</string>
			<key>y2</key>
			<string>244.683</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{5629e308-26e5-4d45-abb8-6128bddf64bb}</key>
		<dict>
			<key>x1</key>
			<string>210.864</string>
			<key>y1</key>
			<string>260.494</string>
			<key>x2</key>
			<string>210.864</string>
			<key>y2</key>
			<string>244.683</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{2b0fe21a-ec3b-4241-ada3-90f56adc814d}</key>
		<dict>
			<key>x1</key>
			<string>173.691</string>
			<key>y1</key>
			<string>258.013</string>
			<key>x2</key>
			<string>173.691</string>
			<key>y2</key>
			<string>242.823</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{7c66c4de-79e8-46ba-bf5b-af9a45ad3d45}</key>
		<dict>
			<key>x1</key>
			<string>144.912</string>
			<key>y1</key>
			<string>260.494</string>
			<key>x2</key>
			<string>144.912</string>
			<key>y2</key>
			<string>244.683</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{fdd98b5e-e479-4d76-9a7a-22712c9b4670}</key>
		<dict>
			<key>x1</key>
			<string>116.132</string>
			<key>y1</key>
			<string>260.494</string>
			<key>x2</key>
			<string>116.132</string>
			<key>y2</key>
			<string>244.683</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{874d746a-cfd1-458f-a099-7936c244c9f0}</key>
		<dict>
			<key>x1</key>
			<string>87.3528</string>
			<key>y1</key>
			<string>260.494</string>
			<key>x2</key>
			<string>87.3528</string>
			<key>y2</key>
			<string>244.683</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{3daa6c15-6bab-4bc5-aafc-3dea5f3a95be}</key>
		<dict>
			<key>x1</key>
			<string>514.193</string>
			<key>y1</key>
			<string>114.325</string>
			<key>x2</key>
			<string>514.193</string>
			<key>y2</key>
			<string>98.3445</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{8bed0f50-5001-42ce-abc7-7376b2c53bcb}</key>
		<dict>
			<key>x1</key>
			<string>463.233</string>
			<key>y1</key>
			<string>114.325</string>
			<key>x2</key>
			<string>463.233</string>
			<key>y2</key>
			<string>98.3445</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{e379fbef-5a09-4915-ba2a-e2fbd9ab06bd}</key>
		<dict>
			<key>x1</key>
			<string>425.429</string>
			<key>y1</key>
			<string>116.635</string>
			<key>x2</key>
			<string>425.429</string>
			<key>y2</key>
			<string>100.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{dcbfb233-41e2-4e94-9ea6-f4663d2c774e}</key>
		<dict>
			<key>x1</key>
			<string>396.198</string>
			<key>y1</key>
			<string>119.116</string>
			<key>x2</key>
			<string>396.198</string>
			<key>y2</key>
			<string>102.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{631044fc-0bde-4fc4-9fd2-27e02cdcb095}</key>
		<dict>
			<key>x1</key>
			<string>366.967</string>
			<key>y1</key>
			<string>121.596</string>
			<key>x2</key>
			<string>366.967</string>
			<key>y2</key>
			<string>105.165</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{97d0d4b9-fccd-4dea-b5a3-7c278f2805d0}</key>
		<dict>
			<key>x1</key>
			<string>337.736</string>
			<key>y1</key>
			<string>119.116</string>
			<key>x2</key>
			<string>337.736</string>
			<key>y2</key>
			<string>102.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{81cfd08c-0a0f-4248-9fbd-6274dd4a4d48}</key>
		<dict>
			<key>x1</key>
			<string>280.849</string>
			<key>y1</key>
			<string>121.766</string>
			<key>x2</key>
			<string>280.849</string>
			<key>y2</key>
			<string>105.165</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{0591f780-e715-4a87-a4bc-9185a2949c2c}</key>
		<dict>
			<key>x1</key>
			<string>250.25</string>
			<key>y1</key>
			<string>114.155</string>
			<key>x2</key>
			<string>250.25</string>
			<key>y2</key>
			<string>98.3445</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{3cf0259c-ee80-492d-93cf-cb3911a65a42}</key>
		<dict>
			<key>x1</key>
			<string>219.831</string>
			<key>y1</key>
			<string>114.155</string>
			<key>x2</key>
			<string>219.831</string>
			<key>y2</key>
			<string>98.3445</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{31f7bc8e-5d80-4c17-b660-d9457ece2bae}</key>
		<dict>
			<key>x1</key>
			<string>183.033</string>
			<key>y1</key>
			<string>111.675</string>
			<key>x2</key>
			<string>183.033</string>
			<key>y2</key>
			<string>96.4843</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{b4268bd6-3473-4b8e-978c-492c24c920b8}</key>
		<dict>
			<key>x1</key>
			<string>154.628</string>
			<key>y1</key>
			<string>114.155</string>
			<key>x2</key>
			<string>154.628</string>
			<key>y2</key>
			<string>98.3445</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{4ccec6c9-0da1-4e98-ad3f-72725e41cbc4}</key>
		<dict>
			<key>x1</key>
			<string>126.224</string>
			<key>y1</key>
			<string>114.155</string>
			<key>x2</key>
			<string>126.224</string>
			<key>y2</key>
			<string>98.3445</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{22439219-4023-4cd3-851b-90afca416b90}</key>
		<dict>
			<key>x1</key>
			<string>97.8197</string>
			<key>y1</key>
			<string>114.155</string>
			<key>x2</key>
			<string>97.8197</string>
			<key>y2</key>
			<string>98.3445</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
	</dict>
</dict>
</plist>