<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>100.205</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>135.784</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>246.543</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>282.123</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{711e7e92-e914-4846-9367-19b6a2c3e324}</key>
		<dict>
			<key>x</key>
			<string>502.411</string>
			<key>y</key>
			<string>261.425</string>
		</dict>
		<key>{0078038d-e26e-4590-8f54-456481d0798b}</key>
		<dict>
			<key>x</key>
			<string>449.233</string>
			<key>y</key>
			<string>296.15</string>
		</dict>
		<key>{f80a07b3-8229-40d7-aad6-c9d612a45a4f}</key>
		<dict>
			<key>x</key>
			<string>450.701</string>
			<key>y</key>
			<string>261.425</string>
		</dict>
		<key>{38c6ec7b-644e-460c-991e-968a81520f2c}</key>
		<dict>
			<key>x</key>
			<string>412.88</string>
			<key>y</key>
			<string>263.906</string>
		</dict>
		<key>{c1241e11-bb9a-491b-96e0-5015557111b7}</key>
		<dict>
			<key>x</key>
			<string>383.274</string>
			<key>y</key>
			<string>266.386</string>
		</dict>
		<key>{298936fb-781e-4903-8701-58a962e8f4ec}</key>
		<dict>
			<key>x</key>
			<string>353.668</string>
			<key>y</key>
			<string>268.866</string>
		</dict>
		<key>{631b2250-7999-4437-83aa-2e5785113fcf}</key>
		<dict>
			<key>x</key>
			<string>322.414</string>
			<key>y</key>
			<string>293.669</string>
		</dict>
		<key>{a6d3eddd-c3ef-42a4-baf2-b27129b80d1a}</key>
		<dict>
			<key>x</key>
			<string>324.061</string>
			<key>y</key>
			<string>266.386</string>
		</dict>
		<key>{5ffe30af-b4ad-4136-b071-2dcbc978b6a9}</key>
		<dict>
			<key>x</key>
			<string>266.15</string>
			<key>y</key>
			<string>268.866</string>
		</dict>
		<key>{47b2e8d8-7b3a-402a-bcad-4255b5319537}</key>
		<dict>
			<key>x</key>
			<string>235.492</string>
			<key>y</key>
			<string>261.425</string>
		</dict>
		<key>{5103da03-c215-40bd-b523-44e99fc8d552}</key>
		<dict>
			<key>x</key>
			<string>203.009</string>
			<key>y</key>
			<string>296.15</string>
		</dict>
		<key>{49401fae-4fb6-49a8-b515-c4497856872e}</key>
		<dict>
			<key>x</key>
			<string>204.656</string>
			<key>y</key>
			<string>261.425</string>
		</dict>
		<key>{abffe770-ade1-47b3-8ae4-9d549e52ce89}</key>
		<dict>
			<key>x</key>
			<string>167.483</string>
			<key>y</key>
			<string>258.945</string>
		</dict>
		<key>{1560a51f-be5a-451b-a5a7-147c16bf0fa7}</key>
		<dict>
			<key>x</key>
			<string>138.703</string>
			<key>y</key>
			<string>261.425</string>
		</dict>
		<key>{18d423c3-ff9e-4bf6-bdad-ecb906599201}</key>
		<dict>
			<key>x</key>
			<string>109.924</string>
			<key>y</key>
			<string>261.425</string>
		</dict>
		<key>{828aa06f-1206-4db6-88c2-53d6a7f9556b}</key>
		<dict>
			<key>x</key>
			<string>79.4972</string>
			<key>y</key>
			<string>296.15</string>
		</dict>
		<key>{5f8b57dd-d88e-464b-9617-0c0955b1517c}</key>
		<dict>
			<key>x</key>
			<string>81.1442</string>
			<key>y</key>
			<string>261.425</string>
		</dict>
		<key>{c4646b80-bce5-462c-9b04-42d3953bea2f}</key>
		<dict>
			<key>x</key>
			<string>507.626</string>
			<key>y</key>
			<string>115.087</string>
		</dict>
		<key>{714ac60a-9bd3-45dd-a310-62b4433598d0}</key>
		<dict>
			<key>x</key>
			<string>455.198</string>
			<key>y</key>
			<string>149.811</string>
		</dict>
		<key>{c081fed2-5930-4d9a-beb3-2b34f8368cfc}</key>
		<dict>
			<key>x</key>
			<string>456.666</string>
			<key>y</key>
			<string>115.087</string>
		</dict>
		<key>{5869f430-283a-4279-b077-e31d22093e0c}</key>
		<dict>
			<key>x</key>
			<string>419.221</string>
			<key>y</key>
			<string>117.567</string>
		</dict>
		<key>{20574447-ba1d-40c8-8cb1-f77fc66ce21b}</key>
		<dict>
			<key>x</key>
			<string>389.989</string>
			<key>y</key>
			<string>120.047</string>
		</dict>
		<key>{4d820d1c-0bb6-4a64-8dbf-a078533fbb7b}</key>
		<dict>
			<key>x</key>
			<string>360.758</string>
			<key>y</key>
			<string>122.528</string>
		</dict>
		<key>{15eb7357-c0c8-4084-bb77-153304380e11}</key>
		<dict>
			<key>x</key>
			<string>329.88</string>
			<key>y</key>
			<string>147.331</string>
		</dict>
		<key>{5b278762-d725-40cb-ac6d-c07f1c91bec5}</key>
		<dict>
			<key>x</key>
			<string>331.527</string>
			<key>y</key>
			<string>120.047</string>
		</dict>
		<key>{5c58e046-b283-4bbf-b470-c6efe6b2f597}</key>
		<dict>
			<key>x</key>
			<string>274.283</string>
			<key>y</key>
			<string>122.528</string>
		</dict>
		<key>{1f90a7db-c373-4a27-ae13-1352f2251699}</key>
		<dict>
			<key>x</key>
			<string>244.042</string>
			<key>y</key>
			<string>115.087</string>
		</dict>
		<key>{ea6fb91f-0830-42d6-b4ca-fdcd5b81ce83}</key>
		<dict>
			<key>x</key>
			<string>211.975</string>
			<key>y</key>
			<string>149.811</string>
		</dict>
		<key>{dd4ffa55-56f6-4df5-895f-1a589e8061ea}</key>
		<dict>
			<key>x</key>
			<string>213.622</string>
			<key>y</key>
			<string>115.087</string>
		</dict>
		<key>{7bec5e37-1e40-42a1-87aa-82a0dca9a8fa}</key>
		<dict>
			<key>x</key>
			<string>176.824</string>
			<key>y</key>
			<string>112.606</string>
		</dict>
		<key>{3ee682af-fcce-4747-a992-cb252c1143f4}</key>
		<dict>
			<key>x</key>
			<string>148.42</string>
			<key>y</key>
			<string>115.087</string>
		</dict>
		<key>{4a29e467-2703-4bac-ade5-6786485cadc3}</key>
		<dict>
			<key>x</key>
			<string>120.016</string>
			<key>y</key>
			<string>115.087</string>
		</dict>
		<key>{cd7783e9-ac70-4d96-9a47-03e021983620}</key>
		<dict>
			<key>x</key>
			<string>89.9641</string>
			<key>y</key>
			<string>149.811</string>
		</dict>
		<key>{9d25d120-92c2-4497-b92f-011c415f4b05}</key>
		<dict>
			<key>x</key>
			<string>91.6112</string>
			<key>y</key>
			<string>115.087</string>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{711e7e92-e914-4846-9367-19b6a2c3e324}</key>
		<dict>
			<key>x1</key>
			<string>508.978</string>
			<key>y1</key>
			<string>260.663</string>
			<key>x2</key>
			<string>508.978</string>
			<key>y2</key>
			<string>244.683</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{f80a07b3-8229-40d7-aad6-c9d612a45a4f}</key>
		<dict>
			<key>x1</key>
			<string>457.268</string>
			<key>y1</key>
			<string>260.663</string>
			<key>x2</key>
			<string>457.268</string>
			<key>y2</key>
			<string>244.683</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{38c6ec7b-644e-460c-991e-968a81520f2c}</key>
		<dict>
			<key>x1</key>
			<string>419.089</string>
			<key>y1</key>
			<string>262.974</string>
			<key>x2</key>
			<string>419.089</string>
			<key>y2</key>
			<string>246.543</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c1241e11-bb9a-491b-96e0-5015557111b7}</key>
		<dict>
			<key>x1</key>
			<string>389.483</string>
			<key>y1</key>
			<string>265.454</string>
			<key>x2</key>
			<string>389.483</string>
			<key>y2</key>
			<string>249.024</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{298936fb-781e-4903-8701-58a962e8f4ec}</key>
		<dict>
			<key>x1</key>
			<string>359.876</string>
			<key>y1</key>
			<string>267.934</string>
			<key>x2</key>
			<string>359.876</string>
			<key>y2</key>
			<string>251.504</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{a6d3eddd-c3ef-42a4-baf2-b27129b80d1a}</key>
		<dict>
			<key>x1</key>
			<string>330.27</string>
			<key>y1</key>
			<string>265.454</string>
			<key>x2</key>
			<string>330.27</string>
			<key>y2</key>
			<string>249.024</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{5ffe30af-b4ad-4136-b071-2dcbc978b6a9}</key>
		<dict>
			<key>x1</key>
			<string>272.717</string>
			<key>y1</key>
			<string>268.104</string>
			<key>x2</key>
			<string>272.717</string>
			<key>y2</key>
			<string>251.504</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{47b2e8d8-7b3a-402a-bcad-4255b5319537}</key>
		<dict>
			<key>x1</key>
			<string>241.701</string>
			<key>y1</key>
			<string>260.494</string>
			<key>x2</key>
			<string>241.701</string>
			<key>y2</key>
			<string>244.683</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{49401fae-4fb6-49a8-b515-c4497856872e}</key>
		<dict>
			<key>x1</key>
			<string>210.864</string>
			<key>y1</key>
			<string>260.494</string>
			<key>x2</key>
			<string>210.864</string>
			<key>y2</key>
			<string>244.683</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{abffe770-ade1-47b3-8ae4-9d549e52ce89}</key>
		<dict>
			<key>x1</key>
			<string>173.691</string>
			<key>y1</key>
			<string>258.013</string>
			<key>x2</key>
			<string>173.691</string>
			<key>y2</key>
			<string>242.823</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{1560a51f-be5a-451b-a5a7-147c16bf0fa7}</key>
		<dict>
			<key>x1</key>
			<string>144.912</string>
			<key>y1</key>
			<string>260.494</string>
			<key>x2</key>
			<string>144.912</string>
			<key>y2</key>
			<string>244.683</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{18d423c3-ff9e-4bf6-bdad-ecb906599201}</key>
		<dict>
			<key>x1</key>
			<string>116.132</string>
			<key>y1</key>
			<string>260.494</string>
			<key>x2</key>
			<string>116.132</string>
			<key>y2</key>
			<string>244.683</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{5f8b57dd-d88e-464b-9617-0c0955b1517c}</key>
		<dict>
			<key>x1</key>
			<string>87.3528</string>
			<key>y1</key>
			<string>260.494</string>
			<key>x2</key>
			<string>87.3528</string>
			<key>y2</key>
			<string>244.683</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{c4646b80-bce5-462c-9b04-42d3953bea2f}</key>
		<dict>
			<key>x1</key>
			<string>514.193</string>
			<key>y1</key>
			<string>114.325</string>
			<key>x2</key>
			<string>514.193</string>
			<key>y2</key>
			<string>98.3445</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{c081fed2-5930-4d9a-beb3-2b34f8368cfc}</key>
		<dict>
			<key>x1</key>
			<string>463.233</string>
			<key>y1</key>
			<string>114.325</string>
			<key>x2</key>
			<string>463.233</string>
			<key>y2</key>
			<string>98.3445</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{5869f430-283a-4279-b077-e31d22093e0c}</key>
		<dict>
			<key>x1</key>
			<string>425.429</string>
			<key>y1</key>
			<string>116.635</string>
			<key>x2</key>
			<string>425.429</string>
			<key>y2</key>
			<string>100.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{20574447-ba1d-40c8-8cb1-f77fc66ce21b}</key>
		<dict>
			<key>x1</key>
			<string>396.198</string>
			<key>y1</key>
			<string>119.116</string>
			<key>x2</key>
			<string>396.198</string>
			<key>y2</key>
			<string>102.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{4d820d1c-0bb6-4a64-8dbf-a078533fbb7b}</key>
		<dict>
			<key>x1</key>
			<string>366.967</string>
			<key>y1</key>
			<string>121.596</string>
			<key>x2</key>
			<string>366.967</string>
			<key>y2</key>
			<string>105.165</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{5b278762-d725-40cb-ac6d-c07f1c91bec5}</key>
		<dict>
			<key>x1</key>
			<string>337.736</string>
			<key>y1</key>
			<string>119.116</string>
			<key>x2</key>
			<string>337.736</string>
			<key>y2</key>
			<string>102.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{5c58e046-b283-4bbf-b470-c6efe6b2f597}</key>
		<dict>
			<key>x1</key>
			<string>280.849</string>
			<key>y1</key>
			<string>121.766</string>
			<key>x2</key>
			<string>280.849</string>
			<key>y2</key>
			<string>105.165</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{1f90a7db-c373-4a27-ae13-1352f2251699}</key>
		<dict>
			<key>x1</key>
			<string>250.25</string>
			<key>y1</key>
			<string>114.155</string>
			<key>x2</key>
			<string>250.25</string>
			<key>y2</key>
			<string>98.3445</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{dd4ffa55-56f6-4df5-895f-1a589e8061ea}</key>
		<dict>
			<key>x1</key>
			<string>219.831</string>
			<key>y1</key>
			<string>114.155</string>
			<key>x2</key>
			<string>219.831</string>
			<key>y2</key>
			<string>98.3445</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{7bec5e37-1e40-42a1-87aa-82a0dca9a8fa}</key>
		<dict>
			<key>x1</key>
			<string>183.033</string>
			<key>y1</key>
			<string>111.675</string>
			<key>x2</key>
			<string>183.033</string>
			<key>y2</key>
			<string>96.4843</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{3ee682af-fcce-4747-a992-cb252c1143f4}</key>
		<dict>
			<key>x1</key>
			<string>154.628</string>
			<key>y1</key>
			<string>114.155</string>
			<key>x2</key>
			<string>154.628</string>
			<key>y2</key>
			<string>98.3445</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{4a29e467-2703-4bac-ade5-6786485cadc3}</key>
		<dict>
			<key>x1</key>
			<string>126.224</string>
			<key>y1</key>
			<string>114.155</string>
			<key>x2</key>
			<string>126.224</string>
			<key>y2</key>
			<string>98.3445</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{9d25d120-92c2-4497-b92f-011c415f4b05}</key>
		<dict>
			<key>x1</key>
			<string>97.8197</string>
			<key>y1</key>
			<string>114.155</string>
			<key>x2</key>
			<string>97.8197</string>
			<key>y2</key>
			<string>98.3445</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
	</dict>
</dict>
</plist>