<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>93.2598</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>128.839</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>239.598</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>275.178</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>385.937</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>421.517</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>532.276</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>567.855</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>678.614</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>714.194</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>6</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>820.427</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>856.006</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{ae2a0bed-cbac-4fcd-9ff7-04584738845b}</key>
		<dict>
			<key>x</key>
			<string>506.318</string>
			<key>y</key>
			<string>693.496</string>
		</dict>
		<key>{3737bdd2-cd1a-48f5-a6ac-9c2fbc931796}</key>
		<dict>
			<key>x</key>
			<string>452.581</string>
			<key>y</key>
			<string>728.22</string>
		</dict>
		<key>{eed25c02-a2f9-40a8-b1a8-2df8dd13a0be}</key>
		<dict>
			<key>x</key>
			<string>454.049</string>
			<key>y</key>
			<string>693.496</string>
		</dict>
		<key>{53f3f4e1-4771-4cbc-bc42-d6b28fb30b84}</key>
		<dict>
			<key>x</key>
			<string>415.95</string>
			<key>y</key>
			<string>695.976</string>
		</dict>
		<key>{a2e60865-a46f-4597-9963-4798df10cd98}</key>
		<dict>
			<key>x</key>
			<string>386.064</string>
			<key>y</key>
			<string>698.457</string>
		</dict>
		<key>{cbece86f-196a-4aa2-8eb2-43ade0836dff}</key>
		<dict>
			<key>x</key>
			<string>356.179</string>
			<key>y</key>
			<string>700.937</string>
		</dict>
		<key>{310b7d73-e1da-4822-b81a-37b735dc49b8}</key>
		<dict>
			<key>x</key>
			<string>324.647</string>
			<key>y</key>
			<string>725.74</string>
		</dict>
		<key>{30231f0a-5ede-4a79-a8f4-50a9cee760b2}</key>
		<dict>
			<key>x</key>
			<string>326.294</string>
			<key>y</key>
			<string>698.457</string>
		</dict>
		<key>{f783b2c7-2019-4d34-80f0-155feb002f9e}</key>
		<dict>
			<key>x</key>
			<string>267.886</string>
			<key>y</key>
			<string>700.937</string>
		</dict>
		<key>{8d821041-cbab-4373-be12-5cc25b82bced}</key>
		<dict>
			<key>x</key>
			<string>236.919</string>
			<key>y</key>
			<string>693.496</string>
		</dict>
		<key>{0acb0b2e-c38a-4685-b001-3c9940234d65}</key>
		<dict>
			<key>x</key>
			<string>204.125</string>
			<key>y</key>
			<string>728.22</string>
		</dict>
		<key>{3ee7a88f-95eb-4fea-9cb0-5b9e4c5c4c22}</key>
		<dict>
			<key>x</key>
			<string>205.772</string>
			<key>y</key>
			<string>693.496</string>
		</dict>
		<key>{85720dd9-08fc-45e7-bc2e-d74ef0c7049c}</key>
		<dict>
			<key>x</key>
			<string>168.32</string>
			<key>y</key>
			<string>691.016</string>
		</dict>
		<key>{af9354dd-f1a7-4716-a762-26675bf0cfbe}</key>
		<dict>
			<key>x</key>
			<string>139.261</string>
			<key>y</key>
			<string>693.496</string>
		</dict>
		<key>{7fa7aff3-3f30-4957-ab81-7175fa2e787a}</key>
		<dict>
			<key>x</key>
			<string>110.203</string>
			<key>y</key>
			<string>693.496</string>
		</dict>
		<key>{ca058bac-206f-4755-bcbf-8b0ed22fd43a}</key>
		<dict>
			<key>x</key>
			<string>79.4972</string>
			<key>y</key>
			<string>728.22</string>
		</dict>
		<key>{8cd6805b-efff-467b-94c5-0e5d46a56209}</key>
		<dict>
			<key>x</key>
			<string>81.1442</string>
			<key>y</key>
			<string>693.496</string>
		</dict>
		<key>{fd421f44-3a8f-4d9f-972d-7b26bb980ff2}</key>
		<dict>
			<key>x</key>
			<string>506.318</string>
			<key>y</key>
			<string>400.819</string>
		</dict>
		<key>{3b78aa1a-db1c-44e8-99b4-472843379f6b}</key>
		<dict>
			<key>x</key>
			<string>452.581</string>
			<key>y</key>
			<string>435.543</string>
		</dict>
		<key>{12a921f9-1586-4b35-9a35-ce3f5dcd2898}</key>
		<dict>
			<key>x</key>
			<string>454.049</string>
			<key>y</key>
			<string>400.819</string>
		</dict>
		<key>{c8f9c051-d9ce-4c1f-894d-08a1dc5ffa6d}</key>
		<dict>
			<key>x</key>
			<string>415.95</string>
			<key>y</key>
			<string>403.299</string>
		</dict>
		<key>{d022887d-b920-4902-b823-e169712e06ee}</key>
		<dict>
			<key>x</key>
			<string>386.064</string>
			<key>y</key>
			<string>405.78</string>
		</dict>
		<key>{1eaf179e-5266-4e66-bcad-033a201b99ea}</key>
		<dict>
			<key>x</key>
			<string>356.179</string>
			<key>y</key>
			<string>408.26</string>
		</dict>
		<key>{cbf31cf1-bdc8-4ba1-972d-889b7f737711}</key>
		<dict>
			<key>x</key>
			<string>324.647</string>
			<key>y</key>
			<string>433.063</string>
		</dict>
		<key>{520a4dda-d47f-41ab-8409-e48c9aaa7433}</key>
		<dict>
			<key>x</key>
			<string>326.294</string>
			<key>y</key>
			<string>405.78</string>
		</dict>
		<key>{c0705f17-4509-438a-923d-e4f7a1d5a46d}</key>
		<dict>
			<key>x</key>
			<string>267.886</string>
			<key>y</key>
			<string>408.26</string>
		</dict>
		<key>{a959d0ed-2611-4e0e-8a0c-2b1508283695}</key>
		<dict>
			<key>x</key>
			<string>236.919</string>
			<key>y</key>
			<string>400.819</string>
		</dict>
		<key>{a3cd9248-462c-4e8b-af92-7e644a26417e}</key>
		<dict>
			<key>x</key>
			<string>204.125</string>
			<key>y</key>
			<string>435.543</string>
		</dict>
		<key>{f2f251b5-70c3-4cd8-9bc5-466ac2360d4a}</key>
		<dict>
			<key>x</key>
			<string>205.772</string>
			<key>y</key>
			<string>400.819</string>
		</dict>
		<key>{ec177a7d-2dc0-4b38-8a75-5dcaabb18958}</key>
		<dict>
			<key>x</key>
			<string>168.32</string>
			<key>y</key>
			<string>398.339</string>
		</dict>
		<key>{38bbba2a-17ce-44a6-b53e-d20dcc9d12ee}</key>
		<dict>
			<key>x</key>
			<string>139.261</string>
			<key>y</key>
			<string>400.819</string>
		</dict>
		<key>{403f182c-3828-459b-a09b-fce05383d186}</key>
		<dict>
			<key>x</key>
			<string>110.203</string>
			<key>y</key>
			<string>400.819</string>
		</dict>
		<key>{ab957d69-bab2-41f4-880e-638bebc09a7c}</key>
		<dict>
			<key>x</key>
			<string>79.4972</string>
			<key>y</key>
			<string>435.543</string>
		</dict>
		<key>{2a7b21d7-bdeb-43b3-9729-6e9396a1ce75}</key>
		<dict>
			<key>x</key>
			<string>81.1442</string>
			<key>y</key>
			<string>400.819</string>
		</dict>
		<key>{4275c761-38b3-4254-8a3b-3ce86ac6596a}</key>
		<dict>
			<key>x</key>
			<string>506.318</string>
			<key>y</key>
			<string>254.48</string>
		</dict>
		<key>{22ca56a0-3dd2-468e-8b35-d50fe0718f8c}</key>
		<dict>
			<key>x</key>
			<string>452.581</string>
			<key>y</key>
			<string>289.205</string>
		</dict>
		<key>{51021fe8-99a0-4181-abfe-c0db5912fa56}</key>
		<dict>
			<key>x</key>
			<string>454.049</string>
			<key>y</key>
			<string>254.48</string>
		</dict>
		<key>{4372cff4-26be-45bd-bccf-7fa1e9c55181}</key>
		<dict>
			<key>x</key>
			<string>415.95</string>
			<key>y</key>
			<string>256.961</string>
		</dict>
		<key>{c3df2a08-6a2c-403a-a0c6-b4571a1e4c68}</key>
		<dict>
			<key>x</key>
			<string>386.064</string>
			<key>y</key>
			<string>259.441</string>
		</dict>
		<key>{a97c91a9-b900-4f42-a524-383aaf6d4f46}</key>
		<dict>
			<key>x</key>
			<string>356.179</string>
			<key>y</key>
			<string>261.921</string>
		</dict>
		<key>{f5f9d138-e65f-4867-b3c9-b080b66cae6c}</key>
		<dict>
			<key>x</key>
			<string>324.647</string>
			<key>y</key>
			<string>286.724</string>
		</dict>
		<key>{c5208b3c-feee-449f-b743-41d0135778c2}</key>
		<dict>
			<key>x</key>
			<string>326.294</string>
			<key>y</key>
			<string>259.441</string>
		</dict>
		<key>{e662ceaf-9bdf-4d22-9201-06a20a7a8d2d}</key>
		<dict>
			<key>x</key>
			<string>267.886</string>
			<key>y</key>
			<string>261.921</string>
		</dict>
		<key>{985c1773-f176-4261-8107-f6c580f586dc}</key>
		<dict>
			<key>x</key>
			<string>236.919</string>
			<key>y</key>
			<string>254.48</string>
		</dict>
		<key>{98a18e35-dc16-4eeb-a710-57010ef6ecdd}</key>
		<dict>
			<key>x</key>
			<string>204.125</string>
			<key>y</key>
			<string>289.205</string>
		</dict>
		<key>{f70cc128-96fd-4148-98fe-0d360c33b635}</key>
		<dict>
			<key>x</key>
			<string>205.772</string>
			<key>y</key>
			<string>254.48</string>
		</dict>
		<key>{192d40ae-72fd-4eff-b269-6b17782b3686}</key>
		<dict>
			<key>x</key>
			<string>168.32</string>
			<key>y</key>
			<string>252</string>
		</dict>
		<key>{effac576-a43c-4820-8d19-b76fa7beb495}</key>
		<dict>
			<key>x</key>
			<string>139.261</string>
			<key>y</key>
			<string>254.48</string>
		</dict>
		<key>{330eb743-ee9e-43ca-b734-7e6cdb3ac594}</key>
		<dict>
			<key>x</key>
			<string>110.203</string>
			<key>y</key>
			<string>254.48</string>
		</dict>
		<key>{16d64d6d-b49b-476d-a7b5-40e7e4884f62}</key>
		<dict>
			<key>x</key>
			<string>79.4972</string>
			<key>y</key>
			<string>289.205</string>
		</dict>
		<key>{ad1d51bf-65c0-4c82-bf02-41d094ecec29}</key>
		<dict>
			<key>x</key>
			<string>81.1442</string>
			<key>y</key>
			<string>254.48</string>
		</dict>
		<key>{368a9f3a-ab78-429f-b365-2560fcef6c03}</key>
		<dict>
			<key>x</key>
			<string>502.411</string>
			<key>y</key>
			<string>835.309</string>
		</dict>
		<key>{075f9d75-62f6-4e35-969a-e37e45ea0e66}</key>
		<dict>
			<key>x</key>
			<string>449.233</string>
			<key>y</key>
			<string>870.033</string>
		</dict>
		<key>{8efccc11-d978-47f1-b1c6-2abbb4428da2}</key>
		<dict>
			<key>x</key>
			<string>450.701</string>
			<key>y</key>
			<string>835.309</string>
		</dict>
		<key>{34cb70e0-3f00-41e3-a3cb-85be302321d8}</key>
		<dict>
			<key>x</key>
			<string>412.88</string>
			<key>y</key>
			<string>837.789</string>
		</dict>
		<key>{c354493f-a622-415a-908a-0cf13df33fdd}</key>
		<dict>
			<key>x</key>
			<string>383.274</string>
			<key>y</key>
			<string>840.269</string>
		</dict>
		<key>{94ef70a6-d4b1-46fe-ad15-661e5acc35f0}</key>
		<dict>
			<key>x</key>
			<string>353.668</string>
			<key>y</key>
			<string>842.75</string>
		</dict>
		<key>{2efb4051-1b17-47e3-8c3f-21a9387fea9e}</key>
		<dict>
			<key>x</key>
			<string>322.414</string>
			<key>y</key>
			<string>867.553</string>
		</dict>
		<key>{ae53a831-3b2c-42ed-9121-c03dbbe67bd5}</key>
		<dict>
			<key>x</key>
			<string>324.061</string>
			<key>y</key>
			<string>840.269</string>
		</dict>
		<key>{79eb7cba-5521-4468-97ca-39033da91200}</key>
		<dict>
			<key>x</key>
			<string>266.15</string>
			<key>y</key>
			<string>842.75</string>
		</dict>
		<key>{bdf186d3-b5e1-4d73-884b-33c4fe3c8637}</key>
		<dict>
			<key>x</key>
			<string>235.492</string>
			<key>y</key>
			<string>835.309</string>
		</dict>
		<key>{f0f9c158-39f2-479f-b1a7-19413a0431ba}</key>
		<dict>
			<key>x</key>
			<string>203.009</string>
			<key>y</key>
			<string>870.033</string>
		</dict>
		<key>{bab238b3-eb9e-4ffe-9d89-a8ee12416308}</key>
		<dict>
			<key>x</key>
			<string>204.656</string>
			<key>y</key>
			<string>835.309</string>
		</dict>
		<key>{2b63644f-b8d3-4f8f-bb83-01abd62445cc}</key>
		<dict>
			<key>x</key>
			<string>167.483</string>
			<key>y</key>
			<string>832.828</string>
		</dict>
		<key>{b540742a-1463-4e4b-a439-e6b207e76556}</key>
		<dict>
			<key>x</key>
			<string>138.703</string>
			<key>y</key>
			<string>835.309</string>
		</dict>
		<key>{de7ef938-24e8-422d-b4f3-c57b7a24834c}</key>
		<dict>
			<key>x</key>
			<string>109.924</string>
			<key>y</key>
			<string>835.309</string>
		</dict>
		<key>{abd35c50-4e9e-4657-8a56-ebf2f4e0a5a4}</key>
		<dict>
			<key>x</key>
			<string>79.4972</string>
			<key>y</key>
			<string>870.033</string>
		</dict>
		<key>{f176e03a-0b73-4f39-9719-b9d52c8fb6f9}</key>
		<dict>
			<key>x</key>
			<string>81.1442</string>
			<key>y</key>
			<string>835.309</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{ae2a0bed-cbac-4fcd-9ff7-04584738845b}</key>
		<dict>
			<key>x1</key>
			<string>512.884</string>
			<key>y1</key>
			<string>692.734</string>
			<key>x2</key>
			<string>512.884</string>
			<key>y2</key>
			<string>676.754</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{eed25c02-a2f9-40a8-b1a8-2df8dd13a0be}</key>
		<dict>
			<key>x1</key>
			<string>460.616</string>
			<key>y1</key>
			<string>692.734</string>
			<key>x2</key>
			<string>460.616</string>
			<key>y2</key>
			<string>676.754</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{53f3f4e1-4771-4cbc-bc42-d6b28fb30b84}</key>
		<dict>
			<key>x1</key>
			<string>422.158</string>
			<key>y1</key>
			<string>695.045</string>
			<key>x2</key>
			<string>422.158</string>
			<key>y2</key>
			<string>678.614</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{a2e60865-a46f-4597-9963-4798df10cd98}</key>
		<dict>
			<key>x1</key>
			<string>392.273</string>
			<key>y1</key>
			<string>697.525</string>
			<key>x2</key>
			<string>392.273</string>
			<key>y2</key>
			<string>681.094</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{cbece86f-196a-4aa2-8eb2-43ade0836dff}</key>
		<dict>
			<key>x1</key>
			<string>362.388</string>
			<key>y1</key>
			<string>700.005</string>
			<key>x2</key>
			<string>362.388</string>
			<key>y2</key>
			<string>683.575</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{30231f0a-5ede-4a79-a8f4-50a9cee760b2}</key>
		<dict>
			<key>x1</key>
			<string>332.502</string>
			<key>y1</key>
			<string>697.525</string>
			<key>x2</key>
			<string>332.502</string>
			<key>y2</key>
			<string>681.094</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f783b2c7-2019-4d34-80f0-155feb002f9e}</key>
		<dict>
			<key>x1</key>
			<string>274.453</string>
			<key>y1</key>
			<string>700.175</string>
			<key>x2</key>
			<string>274.453</string>
			<key>y2</key>
			<string>683.575</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{8d821041-cbab-4373-be12-5cc25b82bced}</key>
		<dict>
			<key>x1</key>
			<string>243.127</string>
			<key>y1</key>
			<string>692.564</string>
			<key>x2</key>
			<string>243.127</string>
			<key>y2</key>
			<string>676.754</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{3ee7a88f-95eb-4fea-9cb0-5b9e4c5c4c22}</key>
		<dict>
			<key>x1</key>
			<string>211.98</string>
			<key>y1</key>
			<string>692.564</string>
			<key>x2</key>
			<string>211.98</string>
			<key>y2</key>
			<string>676.754</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{85720dd9-08fc-45e7-bc2e-d74ef0c7049c}</key>
		<dict>
			<key>x1</key>
			<string>174.528</string>
			<key>y1</key>
			<string>690.084</string>
			<key>x2</key>
			<string>174.528</string>
			<key>y2</key>
			<string>674.894</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{af9354dd-f1a7-4716-a762-26675bf0cfbe}</key>
		<dict>
			<key>x1</key>
			<string>145.47</string>
			<key>y1</key>
			<string>692.564</string>
			<key>x2</key>
			<string>145.47</string>
			<key>y2</key>
			<string>676.754</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{7fa7aff3-3f30-4957-ab81-7175fa2e787a}</key>
		<dict>
			<key>x1</key>
			<string>116.411</string>
			<key>y1</key>
			<string>692.564</string>
			<key>x2</key>
			<string>116.411</string>
			<key>y2</key>
			<string>676.754</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{8cd6805b-efff-467b-94c5-0e5d46a56209}</key>
		<dict>
			<key>x1</key>
			<string>87.3528</string>
			<key>y1</key>
			<string>692.564</string>
			<key>x2</key>
			<string>87.3528</string>
			<key>y2</key>
			<string>676.754</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{fd421f44-3a8f-4d9f-972d-7b26bb980ff2}</key>
		<dict>
			<key>x1</key>
			<string>512.884</string>
			<key>y1</key>
			<string>400.057</string>
			<key>x2</key>
			<string>512.884</string>
			<key>y2</key>
			<string>384.077</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{12a921f9-1586-4b35-9a35-ce3f5dcd2898}</key>
		<dict>
			<key>x1</key>
			<string>460.616</string>
			<key>y1</key>
			<string>400.057</string>
			<key>x2</key>
			<string>460.616</string>
			<key>y2</key>
			<string>384.077</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{c8f9c051-d9ce-4c1f-894d-08a1dc5ffa6d}</key>
		<dict>
			<key>x1</key>
			<string>422.158</string>
			<key>y1</key>
			<string>402.368</string>
			<key>x2</key>
			<string>422.158</string>
			<key>y2</key>
			<string>385.937</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d022887d-b920-4902-b823-e169712e06ee}</key>
		<dict>
			<key>x1</key>
			<string>392.273</string>
			<key>y1</key>
			<string>404.848</string>
			<key>x2</key>
			<string>392.273</string>
			<key>y2</key>
			<string>388.417</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{1eaf179e-5266-4e66-bcad-033a201b99ea}</key>
		<dict>
			<key>x1</key>
			<string>362.388</string>
			<key>y1</key>
			<string>407.328</string>
			<key>x2</key>
			<string>362.388</string>
			<key>y2</key>
			<string>390.898</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{520a4dda-d47f-41ab-8409-e48c9aaa7433}</key>
		<dict>
			<key>x1</key>
			<string>332.502</string>
			<key>y1</key>
			<string>404.848</string>
			<key>x2</key>
			<string>332.502</string>
			<key>y2</key>
			<string>388.417</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c0705f17-4509-438a-923d-e4f7a1d5a46d}</key>
		<dict>
			<key>x1</key>
			<string>274.453</string>
			<key>y1</key>
			<string>407.498</string>
			<key>x2</key>
			<string>274.453</string>
			<key>y2</key>
			<string>390.898</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{a959d0ed-2611-4e0e-8a0c-2b1508283695}</key>
		<dict>
			<key>x1</key>
			<string>243.127</string>
			<key>y1</key>
			<string>399.887</string>
			<key>x2</key>
			<string>243.127</string>
			<key>y2</key>
			<string>384.077</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{f2f251b5-70c3-4cd8-9bc5-466ac2360d4a}</key>
		<dict>
			<key>x1</key>
			<string>211.98</string>
			<key>y1</key>
			<string>399.887</string>
			<key>x2</key>
			<string>211.98</string>
			<key>y2</key>
			<string>384.077</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{ec177a7d-2dc0-4b38-8a75-5dcaabb18958}</key>
		<dict>
			<key>x1</key>
			<string>174.528</string>
			<key>y1</key>
			<string>397.407</string>
			<key>x2</key>
			<string>174.528</string>
			<key>y2</key>
			<string>382.217</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{38bbba2a-17ce-44a6-b53e-d20dcc9d12ee}</key>
		<dict>
			<key>x1</key>
			<string>145.47</string>
			<key>y1</key>
			<string>399.887</string>
			<key>x2</key>
			<string>145.47</string>
			<key>y2</key>
			<string>384.077</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{403f182c-3828-459b-a09b-fce05383d186}</key>
		<dict>
			<key>x1</key>
			<string>116.411</string>
			<key>y1</key>
			<string>399.887</string>
			<key>x2</key>
			<string>116.411</string>
			<key>y2</key>
			<string>384.077</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{2a7b21d7-bdeb-43b3-9729-6e9396a1ce75}</key>
		<dict>
			<key>x1</key>
			<string>87.3528</string>
			<key>y1</key>
			<string>399.887</string>
			<key>x2</key>
			<string>87.3528</string>
			<key>y2</key>
			<string>384.077</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{4275c761-38b3-4254-8a3b-3ce86ac6596a}</key>
		<dict>
			<key>x1</key>
			<string>512.884</string>
			<key>y1</key>
			<string>253.718</string>
			<key>x2</key>
			<string>512.884</string>
			<key>y2</key>
			<string>237.738</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{51021fe8-99a0-4181-abfe-c0db5912fa56}</key>
		<dict>
			<key>x1</key>
			<string>460.616</string>
			<key>y1</key>
			<string>253.718</string>
			<key>x2</key>
			<string>460.616</string>
			<key>y2</key>
			<string>237.738</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{4372cff4-26be-45bd-bccf-7fa1e9c55181}</key>
		<dict>
			<key>x1</key>
			<string>422.158</string>
			<key>y1</key>
			<string>256.029</string>
			<key>x2</key>
			<string>422.158</string>
			<key>y2</key>
			<string>239.598</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c3df2a08-6a2c-403a-a0c6-b4571a1e4c68}</key>
		<dict>
			<key>x1</key>
			<string>392.273</string>
			<key>y1</key>
			<string>258.509</string>
			<key>x2</key>
			<string>392.273</string>
			<key>y2</key>
			<string>242.079</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{a97c91a9-b900-4f42-a524-383aaf6d4f46}</key>
		<dict>
			<key>x1</key>
			<string>362.388</string>
			<key>y1</key>
			<string>260.99</string>
			<key>x2</key>
			<string>362.388</string>
			<key>y2</key>
			<string>244.559</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c5208b3c-feee-449f-b743-41d0135778c2}</key>
		<dict>
			<key>x1</key>
			<string>332.502</string>
			<key>y1</key>
			<string>258.509</string>
			<key>x2</key>
			<string>332.502</string>
			<key>y2</key>
			<string>242.079</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e662ceaf-9bdf-4d22-9201-06a20a7a8d2d}</key>
		<dict>
			<key>x1</key>
			<string>274.453</string>
			<key>y1</key>
			<string>261.159</string>
			<key>x2</key>
			<string>274.453</string>
			<key>y2</key>
			<string>244.559</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{985c1773-f176-4261-8107-f6c580f586dc}</key>
		<dict>
			<key>x1</key>
			<string>243.127</string>
			<key>y1</key>
			<string>253.549</string>
			<key>x2</key>
			<string>243.127</string>
			<key>y2</key>
			<string>237.738</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{f70cc128-96fd-4148-98fe-0d360c33b635}</key>
		<dict>
			<key>x1</key>
			<string>211.98</string>
			<key>y1</key>
			<string>253.549</string>
			<key>x2</key>
			<string>211.98</string>
			<key>y2</key>
			<string>237.738</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{192d40ae-72fd-4eff-b269-6b17782b3686}</key>
		<dict>
			<key>x1</key>
			<string>174.528</string>
			<key>y1</key>
			<string>251.068</string>
			<key>x2</key>
			<string>174.528</string>
			<key>y2</key>
			<string>235.878</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{effac576-a43c-4820-8d19-b76fa7beb495}</key>
		<dict>
			<key>x1</key>
			<string>145.47</string>
			<key>y1</key>
			<string>253.549</string>
			<key>x2</key>
			<string>145.47</string>
			<key>y2</key>
			<string>237.738</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{330eb743-ee9e-43ca-b734-7e6cdb3ac594}</key>
		<dict>
			<key>x1</key>
			<string>116.411</string>
			<key>y1</key>
			<string>253.549</string>
			<key>x2</key>
			<string>116.411</string>
			<key>y2</key>
			<string>237.738</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{ad1d51bf-65c0-4c82-bf02-41d094ecec29}</key>
		<dict>
			<key>x1</key>
			<string>87.3528</string>
			<key>y1</key>
			<string>253.549</string>
			<key>x2</key>
			<string>87.3528</string>
			<key>y2</key>
			<string>237.738</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{368a9f3a-ab78-429f-b365-2560fcef6c03}</key>
		<dict>
			<key>x1</key>
			<string>508.978</string>
			<key>y1</key>
			<string>834.547</string>
			<key>x2</key>
			<string>508.978</string>
			<key>y2</key>
			<string>818.567</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{8efccc11-d978-47f1-b1c6-2abbb4428da2}</key>
		<dict>
			<key>x1</key>
			<string>457.268</string>
			<key>y1</key>
			<string>834.547</string>
			<key>x2</key>
			<string>457.268</string>
			<key>y2</key>
			<string>818.567</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{34cb70e0-3f00-41e3-a3cb-85be302321d8}</key>
		<dict>
			<key>x1</key>
			<string>419.089</string>
			<key>y1</key>
			<string>836.857</string>
			<key>x2</key>
			<string>419.089</string>
			<key>y2</key>
			<string>820.427</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c354493f-a622-415a-908a-0cf13df33fdd}</key>
		<dict>
			<key>x1</key>
			<string>389.483</string>
			<key>y1</key>
			<string>839.338</string>
			<key>x2</key>
			<string>389.483</string>
			<key>y2</key>
			<string>822.907</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{94ef70a6-d4b1-46fe-ad15-661e5acc35f0}</key>
		<dict>
			<key>x1</key>
			<string>359.876</string>
			<key>y1</key>
			<string>841.818</string>
			<key>x2</key>
			<string>359.876</string>
			<key>y2</key>
			<string>825.387</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ae53a831-3b2c-42ed-9121-c03dbbe67bd5}</key>
		<dict>
			<key>x1</key>
			<string>330.27</string>
			<key>y1</key>
			<string>839.338</string>
			<key>x2</key>
			<string>330.27</string>
			<key>y2</key>
			<string>822.907</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{79eb7cba-5521-4468-97ca-39033da91200}</key>
		<dict>
			<key>x1</key>
			<string>272.717</string>
			<key>y1</key>
			<string>841.988</string>
			<key>x2</key>
			<string>272.717</string>
			<key>y2</key>
			<string>825.387</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{bdf186d3-b5e1-4d73-884b-33c4fe3c8637}</key>
		<dict>
			<key>x1</key>
			<string>241.701</string>
			<key>y1</key>
			<string>834.377</string>
			<key>x2</key>
			<string>241.701</string>
			<key>y2</key>
			<string>818.567</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{bab238b3-eb9e-4ffe-9d89-a8ee12416308}</key>
		<dict>
			<key>x1</key>
			<string>210.864</string>
			<key>y1</key>
			<string>834.377</string>
			<key>x2</key>
			<string>210.864</string>
			<key>y2</key>
			<string>818.567</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{2b63644f-b8d3-4f8f-bb83-01abd62445cc}</key>
		<dict>
			<key>x1</key>
			<string>173.691</string>
			<key>y1</key>
			<string>831.897</string>
			<key>x2</key>
			<string>173.691</string>
			<key>y2</key>
			<string>816.706</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{b540742a-1463-4e4b-a439-e6b207e76556}</key>
		<dict>
			<key>x1</key>
			<string>144.912</string>
			<key>y1</key>
			<string>834.377</string>
			<key>x2</key>
			<string>144.912</string>
			<key>y2</key>
			<string>818.567</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{de7ef938-24e8-422d-b4f3-c57b7a24834c}</key>
		<dict>
			<key>x1</key>
			<string>116.132</string>
			<key>y1</key>
			<string>834.377</string>
			<key>x2</key>
			<string>116.132</string>
			<key>y2</key>
			<string>818.567</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{f176e03a-0b73-4f39-9719-b9d52c8fb6f9}</key>
		<dict>
			<key>x1</key>
			<string>87.3528</string>
			<key>y1</key>
			<string>834.377</string>
			<key>x2</key>
			<string>87.3528</string>
			<key>y2</key>
			<string>818.567</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
	</dict>
</dict>
</plist>