<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>93.2598</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>128.839</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>239.598</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>275.178</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>385.937</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>421.517</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>532.276</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>567.855</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>678.614</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>714.194</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{48ccd933-10d5-4a24-9404-02df90c9b448}</key>
		<dict>
			<key>x</key>
			<string>502.338</string>
			<key>y</key>
			<string>693.496</string>
		</dict>
		<key>{11f58562-587a-4a5f-bfcf-d3b040fc2863}</key>
		<dict>
			<key>x</key>
			<string>449.087</string>
			<key>y</key>
			<string>757.984</string>
		</dict>
		<key>{775837c8-9134-4ecc-b558-791f9d197661}</key>
		<dict>
			<key>x</key>
			<string>450.555</string>
			<key>y</key>
			<string>693.496</string>
		</dict>
		<key>{c7a7ced9-b464-437f-a866-686eefefca42}</key>
		<dict>
			<key>x</key>
			<string>410.786</string>
			<key>y</key>
			<string>695.976</string>
		</dict>
		<key>{1f47fc66-4af7-4afa-a860-f7543aaec03a}</key>
		<dict>
			<key>x</key>
			<string>379.231</string>
			<key>y</key>
			<string>698.457</string>
		</dict>
		<key>{805e47bf-318e-4179-b310-8f1dfa899d62}</key>
		<dict>
			<key>x</key>
			<string>347.677</string>
			<key>y</key>
			<string>700.937</string>
		</dict>
		<key>{c40f8a65-3f33-43a5-a9cc-91bd3491e92d}</key>
		<dict>
			<key>x</key>
			<string>314.475</string>
			<key>y</key>
			<string>755.504</string>
		</dict>
		<key>{24b0bdc5-4c26-49d7-8b2e-1e355d9531b3}</key>
		<dict>
			<key>x</key>
			<string>316.122</string>
			<key>y</key>
			<string>698.457</string>
		</dict>
		<key>{4eaaefe1-c57d-47e3-b8d1-1626f40d29ed}</key>
		<dict>
			<key>x</key>
			<string>258.146</string>
			<key>y</key>
			<string>700.937</string>
		</dict>
		<key>{4a24f3a3-53b9-40a8-9f5f-aa388b1fbaf4}</key>
		<dict>
			<key>x</key>
			<string>227.448</string>
			<key>y</key>
			<string>693.496</string>
		</dict>
		<key>{2fc35e8c-272e-4710-b1af-aa4ab3a109ad}</key>
		<dict>
			<key>x</key>
			<string>194.923</string>
			<key>y</key>
			<string>757.984</string>
		</dict>
		<key>{1aac99fd-97fc-4c98-8ec0-195845d8d909}</key>
		<dict>
			<key>x</key>
			<string>196.57</string>
			<key>y</key>
			<string>693.496</string>
		</dict>
		<key>{8fdfdadf-d3ae-4726-8bc3-216a39545ea0}</key>
		<dict>
			<key>x</key>
			<string>159.361</string>
			<key>y</key>
			<string>691.016</string>
		</dict>
		<key>{751602c6-d44f-4e88-97a0-6f6935efd402}</key>
		<dict>
			<key>x</key>
			<string>130.545</string>
			<key>y</key>
			<string>693.496</string>
		</dict>
		<key>{6b88ea44-812b-425f-ae53-c6b1d810ef0c}</key>
		<dict>
			<key>x</key>
			<string>101.729</string>
			<key>y</key>
			<string>693.496</string>
		</dict>
		<key>{f1d5b7a9-2fc6-4abf-95cb-f8804dc33391}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>757.984</string>
		</dict>
		<key>{1d3590a0-2dca-489f-8ad6-2f9bcfe2a83b}</key>
		<dict>
			<key>x</key>
			<string>72.9127</string>
			<key>y</key>
			<string>693.496</string>
		</dict>
		<key>{66d58cd0-8f72-436f-90ef-2843ede05bcd}</key>
		<dict>
			<key>x</key>
			<string>506.245</string>
			<key>y</key>
			<string>547.157</string>
		</dict>
		<key>{381066e8-8a49-4ba4-823a-13ce242f3f99}</key>
		<dict>
			<key>x</key>
			<string>452.435</string>
			<key>y</key>
			<string>611.646</string>
		</dict>
		<key>{ddcf74fd-8587-4ed9-b17d-54e4d82a2aec}</key>
		<dict>
			<key>x</key>
			<string>453.903</string>
			<key>y</key>
			<string>547.157</string>
		</dict>
		<key>{88b919ae-fff7-4be7-a65d-3368c91cd072}</key>
		<dict>
			<key>x</key>
			<string>413.855</string>
			<key>y</key>
			<string>549.638</string>
		</dict>
		<key>{71d85b1d-89d4-4982-984a-a2187c7b30c8}</key>
		<dict>
			<key>x</key>
			<string>382.022</string>
			<key>y</key>
			<string>552.118</string>
		</dict>
		<key>{24dbc838-98b4-4577-8859-6f0032fe658c}</key>
		<dict>
			<key>x</key>
			<string>350.188</string>
			<key>y</key>
			<string>554.598</string>
		</dict>
		<key>{b36b99ee-1532-47ea-95dc-8648fbdb3404}</key>
		<dict>
			<key>x</key>
			<string>316.707</string>
			<key>y</key>
			<string>609.165</string>
		</dict>
		<key>{c7b9d93a-a3e0-4a47-a319-39accae45ed8}</key>
		<dict>
			<key>x</key>
			<string>318.354</string>
			<key>y</key>
			<string>552.118</string>
		</dict>
		<key>{e1163f0c-c233-4740-9d02-fc8b6f689718}</key>
		<dict>
			<key>x</key>
			<string>259.882</string>
			<key>y</key>
			<string>554.598</string>
		</dict>
		<key>{e91e927b-3a8e-44a4-9adc-a7f6be711b4c}</key>
		<dict>
			<key>x</key>
			<string>228.874</string>
			<key>y</key>
			<string>547.157</string>
		</dict>
		<key>{400525aa-6f09-4c77-93b0-20bb48108b43}</key>
		<dict>
			<key>x</key>
			<string>196.039</string>
			<key>y</key>
			<string>611.646</string>
		</dict>
		<key>{33fcef91-f962-4aaf-bd82-64875b150062}</key>
		<dict>
			<key>x</key>
			<string>197.686</string>
			<key>y</key>
			<string>547.157</string>
		</dict>
		<key>{5af56ff4-c52d-4bd7-a301-d40825b32de2}</key>
		<dict>
			<key>x</key>
			<string>160.198</string>
			<key>y</key>
			<string>544.677</string>
		</dict>
		<key>{540dbdf7-2c2c-426e-be05-948e30e29afe}</key>
		<dict>
			<key>x</key>
			<string>131.103</string>
			<key>y</key>
			<string>547.157</string>
		</dict>
		<key>{6e576923-5d4a-4077-8df3-463be364c30e}</key>
		<dict>
			<key>x</key>
			<string>102.008</string>
			<key>y</key>
			<string>547.157</string>
		</dict>
		<key>{8fa2e559-bfc7-4e51-acc0-6b0c260b678a}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>611.646</string>
		</dict>
		<key>{09b8fdf3-c4b8-4264-8b07-041f641f5e96}</key>
		<dict>
			<key>x</key>
			<string>72.9127</string>
			<key>y</key>
			<string>547.157</string>
		</dict>
		<key>{ff64f965-bc67-4d13-a39a-c289f7bfff76}</key>
		<dict>
			<key>x</key>
			<string>506.245</string>
			<key>y</key>
			<string>254.48</string>
		</dict>
		<key>{b31ff624-14d8-4a6b-901d-a1eb32618d22}</key>
		<dict>
			<key>x</key>
			<string>452.435</string>
			<key>y</key>
			<string>318.969</string>
		</dict>
		<key>{cf013fac-a4fa-47f5-b1b6-c15c567c5b49}</key>
		<dict>
			<key>x</key>
			<string>453.903</string>
			<key>y</key>
			<string>254.48</string>
		</dict>
		<key>{756d9ef8-ee16-4edf-8904-3b3cb3e6fa6c}</key>
		<dict>
			<key>x</key>
			<string>413.855</string>
			<key>y</key>
			<string>256.961</string>
		</dict>
		<key>{6f5dd6cf-347d-487d-820e-b588587a3861}</key>
		<dict>
			<key>x</key>
			<string>382.022</string>
			<key>y</key>
			<string>259.441</string>
		</dict>
		<key>{229e0e42-16df-4797-9cc0-2f46838a9f84}</key>
		<dict>
			<key>x</key>
			<string>350.188</string>
			<key>y</key>
			<string>261.921</string>
		</dict>
		<key>{baf8a1b1-3c09-426e-ae23-509f68a9c6db}</key>
		<dict>
			<key>x</key>
			<string>316.707</string>
			<key>y</key>
			<string>316.488</string>
		</dict>
		<key>{cbc3461f-e300-4cdd-b335-a18d7c1d668e}</key>
		<dict>
			<key>x</key>
			<string>318.354</string>
			<key>y</key>
			<string>259.441</string>
		</dict>
		<key>{2ec2329f-b242-495c-a2d0-cd1e3b39dba9}</key>
		<dict>
			<key>x</key>
			<string>259.882</string>
			<key>y</key>
			<string>261.921</string>
		</dict>
		<key>{f5d3c3f2-584b-49d7-83df-a7ad4fd71f8c}</key>
		<dict>
			<key>x</key>
			<string>228.874</string>
			<key>y</key>
			<string>254.48</string>
		</dict>
		<key>{cb7f3a35-aabd-46d8-b8c5-e46795a6c224}</key>
		<dict>
			<key>x</key>
			<string>196.039</string>
			<key>y</key>
			<string>318.969</string>
		</dict>
		<key>{1a968659-5e34-497a-8446-9e1d42422e8a}</key>
		<dict>
			<key>x</key>
			<string>197.686</string>
			<key>y</key>
			<string>254.48</string>
		</dict>
		<key>{6f2a1d22-9919-4600-84bd-22816e93df05}</key>
		<dict>
			<key>x</key>
			<string>160.198</string>
			<key>y</key>
			<string>252</string>
		</dict>
		<key>{cf8100fa-5647-4499-88a6-a7a6aae5b3f0}</key>
		<dict>
			<key>x</key>
			<string>131.103</string>
			<key>y</key>
			<string>254.48</string>
		</dict>
		<key>{e0b10aa0-e190-4c85-9827-fe7afc4e5fe7}</key>
		<dict>
			<key>x</key>
			<string>102.008</string>
			<key>y</key>
			<string>254.48</string>
		</dict>
		<key>{4c4acd06-f0c9-4a3d-af61-0a99f89373de}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>318.969</string>
		</dict>
		<key>{9dcf672b-d861-4582-bef0-47f6242409fd}</key>
		<dict>
			<key>x</key>
			<string>72.9127</string>
			<key>y</key>
			<string>254.48</string>
		</dict>
		<key>{2dafc21f-93c1-4955-afd9-f80cc4a3550b}</key>
		<dict>
			<key>x</key>
			<string>507.863</string>
			<key>y</key>
			<string>108.142</string>
		</dict>
		<key>{c6b37b20-8031-498e-9dbd-962b0e053dd0}</key>
		<dict>
			<key>x</key>
			<string>455.672</string>
			<key>y</key>
			<string>172.63</string>
		</dict>
		<key>{88565cc0-6425-42a8-8804-f26f24118235}</key>
		<dict>
			<key>x</key>
			<string>457.14</string>
			<key>y</key>
			<string>108.142</string>
		</dict>
		<key>{89f19132-dedb-4c85-a2eb-59dbc92c7649}</key>
		<dict>
			<key>x</key>
			<string>417.901</string>
			<key>y</key>
			<string>110.622</string>
		</dict>
		<key>{89709f22-cd04-4dd9-9fd4-c08c5e7b0537}</key>
		<dict>
			<key>x</key>
			<string>386.877</string>
			<key>y</key>
			<string>113.102</string>
		</dict>
		<key>{d2a292df-44be-4af8-94be-b8da491e557a}</key>
		<dict>
			<key>x</key>
			<string>355.852</string>
			<key>y</key>
			<string>115.583</string>
		</dict>
		<key>{9c0ad179-4e2f-42ea-910f-8e12cc4a5129}</key>
		<dict>
			<key>x</key>
			<string>323.181</string>
			<key>y</key>
			<string>170.15</string>
		</dict>
		<key>{dc8cdbbb-de3b-44a4-b9d4-27c8cdf4e1cd}</key>
		<dict>
			<key>x</key>
			<string>324.828</string>
			<key>y</key>
			<string>113.102</string>
		</dict>
		<key>{ff8d05dd-5fec-4491-95c2-b51f2c9cc4b2}</key>
		<dict>
			<key>x</key>
			<string>267.794</string>
			<key>y</key>
			<string>115.583</string>
		</dict>
		<key>{81c19563-6314-4ff3-b3e1-a5b2a653b8e5}</key>
		<dict>
			<key>x</key>
			<string>237.685</string>
			<key>y</key>
			<string>108.142</string>
		</dict>
		<key>{3ddaf65c-2b22-4dce-9aee-5121a07ba4f8}</key>
		<dict>
			<key>x</key>
			<string>205.75</string>
			<key>y</key>
			<string>172.63</string>
		</dict>
		<key>{018d6e56-0da7-4a12-aa3a-866931bb809e}</key>
		<dict>
			<key>x</key>
			<string>207.397</string>
			<key>y</key>
			<string>108.142</string>
		</dict>
		<key>{ce73449c-4882-446a-846b-16286967c706}</key>
		<dict>
			<key>x</key>
			<string>170.717</string>
			<key>y</key>
			<string>105.661</string>
		</dict>
		<key>{f3a1f13d-e322-4cae-a333-55a0b9514a31}</key>
		<dict>
			<key>x</key>
			<string>142.432</string>
			<key>y</key>
			<string>108.142</string>
		</dict>
		<key>{464ad7b2-da70-4d52-be2c-90eb0d8d741c}</key>
		<dict>
			<key>x</key>
			<string>114.146</string>
			<key>y</key>
			<string>108.142</string>
		</dict>
		<key>{a8505a48-08b8-47b9-9b59-d4b820df40c8}</key>
		<dict>
			<key>x</key>
			<string>84.2129</string>
			<key>y</key>
			<string>172.63</string>
		</dict>
		<key>{918049cf-c250-4b25-aa06-0a1bca8aa135}</key>
		<dict>
			<key>x</key>
			<string>85.8599</string>
			<key>y</key>
			<string>108.142</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{48ccd933-10d5-4a24-9404-02df90c9b448}</key>
		<dict>
			<key>x1</key>
			<string>508.905</string>
			<key>y1</key>
			<string>692.734</string>
			<key>x2</key>
			<string>508.905</string>
			<key>y2</key>
			<string>676.754</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{775837c8-9134-4ecc-b558-791f9d197661}</key>
		<dict>
			<key>x1</key>
			<string>457.122</string>
			<key>y1</key>
			<string>692.734</string>
			<key>x2</key>
			<string>457.122</string>
			<key>y2</key>
			<string>676.754</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{c7a7ced9-b464-437f-a866-686eefefca42}</key>
		<dict>
			<key>x1</key>
			<string>416.994</string>
			<key>y1</key>
			<string>695.045</string>
			<key>x2</key>
			<string>416.994</string>
			<key>y2</key>
			<string>678.614</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{1f47fc66-4af7-4afa-a860-f7543aaec03a}</key>
		<dict>
			<key>x1</key>
			<string>385.44</string>
			<key>y1</key>
			<string>697.525</string>
			<key>x2</key>
			<string>385.44</string>
			<key>y2</key>
			<string>681.094</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{805e47bf-318e-4179-b310-8f1dfa899d62}</key>
		<dict>
			<key>x1</key>
			<string>353.885</string>
			<key>y1</key>
			<string>700.005</string>
			<key>x2</key>
			<string>353.885</string>
			<key>y2</key>
			<string>683.575</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{24b0bdc5-4c26-49d7-8b2e-1e355d9531b3}</key>
		<dict>
			<key>x1</key>
			<string>322.331</string>
			<key>y1</key>
			<string>697.525</string>
			<key>x2</key>
			<string>322.331</string>
			<key>y2</key>
			<string>681.094</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{4eaaefe1-c57d-47e3-b8d1-1626f40d29ed}</key>
		<dict>
			<key>x1</key>
			<string>264.712</string>
			<key>y1</key>
			<string>700.175</string>
			<key>x2</key>
			<string>264.712</string>
			<key>y2</key>
			<string>683.575</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{4a24f3a3-53b9-40a8-9f5f-aa388b1fbaf4}</key>
		<dict>
			<key>x1</key>
			<string>233.656</string>
			<key>y1</key>
			<string>692.564</string>
			<key>x2</key>
			<string>233.656</string>
			<key>y2</key>
			<string>676.754</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{1aac99fd-97fc-4c98-8ec0-195845d8d909}</key>
		<dict>
			<key>x1</key>
			<string>202.779</string>
			<key>y1</key>
			<string>692.564</string>
			<key>x2</key>
			<string>202.779</string>
			<key>y2</key>
			<string>676.754</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{8fdfdadf-d3ae-4726-8bc3-216a39545ea0}</key>
		<dict>
			<key>x1</key>
			<string>165.569</string>
			<key>y1</key>
			<string>690.084</string>
			<key>x2</key>
			<string>165.569</string>
			<key>y2</key>
			<string>674.894</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{751602c6-d44f-4e88-97a0-6f6935efd402}</key>
		<dict>
			<key>x1</key>
			<string>136.753</string>
			<key>y1</key>
			<string>692.564</string>
			<key>x2</key>
			<string>136.753</string>
			<key>y2</key>
			<string>676.754</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{6b88ea44-812b-425f-ae53-c6b1d810ef0c}</key>
		<dict>
			<key>x1</key>
			<string>107.937</string>
			<key>y1</key>
			<string>692.564</string>
			<key>x2</key>
			<string>107.937</string>
			<key>y2</key>
			<string>676.754</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{1d3590a0-2dca-489f-8ad6-2f9bcfe2a83b}</key>
		<dict>
			<key>x1</key>
			<string>79.1212</string>
			<key>y1</key>
			<string>692.564</string>
			<key>x2</key>
			<string>79.1212</string>
			<key>y2</key>
			<string>676.754</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{66d58cd0-8f72-436f-90ef-2843ede05bcd}</key>
		<dict>
			<key>x1</key>
			<string>512.811</string>
			<key>y1</key>
			<string>546.396</string>
			<key>x2</key>
			<string>512.811</string>
			<key>y2</key>
			<string>530.415</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{ddcf74fd-8587-4ed9-b17d-54e4d82a2aec}</key>
		<dict>
			<key>x1</key>
			<string>460.47</string>
			<key>y1</key>
			<string>546.396</string>
			<key>x2</key>
			<string>460.47</string>
			<key>y2</key>
			<string>530.415</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{88b919ae-fff7-4be7-a65d-3368c91cd072}</key>
		<dict>
			<key>x1</key>
			<string>420.064</string>
			<key>y1</key>
			<string>548.706</string>
			<key>x2</key>
			<string>420.064</string>
			<key>y2</key>
			<string>532.276</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{71d85b1d-89d4-4982-984a-a2187c7b30c8}</key>
		<dict>
			<key>x1</key>
			<string>388.23</string>
			<key>y1</key>
			<string>551.186</string>
			<key>x2</key>
			<string>388.23</string>
			<key>y2</key>
			<string>534.756</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{24dbc838-98b4-4577-8859-6f0032fe658c}</key>
		<dict>
			<key>x1</key>
			<string>356.397</string>
			<key>y1</key>
			<string>553.667</string>
			<key>x2</key>
			<string>356.397</string>
			<key>y2</key>
			<string>537.236</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c7b9d93a-a3e0-4a47-a319-39accae45ed8}</key>
		<dict>
			<key>x1</key>
			<string>324.563</string>
			<key>y1</key>
			<string>551.186</string>
			<key>x2</key>
			<string>324.563</string>
			<key>y2</key>
			<string>534.756</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e1163f0c-c233-4740-9d02-fc8b6f689718}</key>
		<dict>
			<key>x1</key>
			<string>266.449</string>
			<key>y1</key>
			<string>553.836</string>
			<key>x2</key>
			<string>266.449</string>
			<key>y2</key>
			<string>537.236</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e91e927b-3a8e-44a4-9adc-a7f6be711b4c}</key>
		<dict>
			<key>x1</key>
			<string>235.082</string>
			<key>y1</key>
			<string>546.226</string>
			<key>x2</key>
			<string>235.082</string>
			<key>y2</key>
			<string>530.415</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{33fcef91-f962-4aaf-bd82-64875b150062}</key>
		<dict>
			<key>x1</key>
			<string>203.895</string>
			<key>y1</key>
			<string>546.226</string>
			<key>x2</key>
			<string>203.895</string>
			<key>y2</key>
			<string>530.415</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{5af56ff4-c52d-4bd7-a301-d40825b32de2}</key>
		<dict>
			<key>x1</key>
			<string>166.406</string>
			<key>y1</key>
			<string>543.745</string>
			<key>x2</key>
			<string>166.406</string>
			<key>y2</key>
			<string>528.555</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{540dbdf7-2c2c-426e-be05-948e30e29afe}</key>
		<dict>
			<key>x1</key>
			<string>137.311</string>
			<key>y1</key>
			<string>546.226</string>
			<key>x2</key>
			<string>137.311</string>
			<key>y2</key>
			<string>530.415</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{6e576923-5d4a-4077-8df3-463be364c30e}</key>
		<dict>
			<key>x1</key>
			<string>108.216</string>
			<key>y1</key>
			<string>546.226</string>
			<key>x2</key>
			<string>108.216</string>
			<key>y2</key>
			<string>530.415</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{09b8fdf3-c4b8-4264-8b07-041f641f5e96}</key>
		<dict>
			<key>x1</key>
			<string>79.1212</string>
			<key>y1</key>
			<string>546.226</string>
			<key>x2</key>
			<string>79.1212</string>
			<key>y2</key>
			<string>530.415</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{ff64f965-bc67-4d13-a39a-c289f7bfff76}</key>
		<dict>
			<key>x1</key>
			<string>512.811</string>
			<key>y1</key>
			<string>253.718</string>
			<key>x2</key>
			<string>512.811</string>
			<key>y2</key>
			<string>237.738</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{cf013fac-a4fa-47f5-b1b6-c15c567c5b49}</key>
		<dict>
			<key>x1</key>
			<string>460.47</string>
			<key>y1</key>
			<string>253.718</string>
			<key>x2</key>
			<string>460.47</string>
			<key>y2</key>
			<string>237.738</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{756d9ef8-ee16-4edf-8904-3b3cb3e6fa6c}</key>
		<dict>
			<key>x1</key>
			<string>420.064</string>
			<key>y1</key>
			<string>256.029</string>
			<key>x2</key>
			<string>420.064</string>
			<key>y2</key>
			<string>239.598</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{6f5dd6cf-347d-487d-820e-b588587a3861}</key>
		<dict>
			<key>x1</key>
			<string>388.23</string>
			<key>y1</key>
			<string>258.509</string>
			<key>x2</key>
			<string>388.23</string>
			<key>y2</key>
			<string>242.079</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{229e0e42-16df-4797-9cc0-2f46838a9f84}</key>
		<dict>
			<key>x1</key>
			<string>356.397</string>
			<key>y1</key>
			<string>260.99</string>
			<key>x2</key>
			<string>356.397</string>
			<key>y2</key>
			<string>244.559</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{cbc3461f-e300-4cdd-b335-a18d7c1d668e}</key>
		<dict>
			<key>x1</key>
			<string>324.563</string>
			<key>y1</key>
			<string>258.509</string>
			<key>x2</key>
			<string>324.563</string>
			<key>y2</key>
			<string>242.079</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{2ec2329f-b242-495c-a2d0-cd1e3b39dba9}</key>
		<dict>
			<key>x1</key>
			<string>266.449</string>
			<key>y1</key>
			<string>261.159</string>
			<key>x2</key>
			<string>266.449</string>
			<key>y2</key>
			<string>244.559</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f5d3c3f2-584b-49d7-83df-a7ad4fd71f8c}</key>
		<dict>
			<key>x1</key>
			<string>235.082</string>
			<key>y1</key>
			<string>253.549</string>
			<key>x2</key>
			<string>235.082</string>
			<key>y2</key>
			<string>237.738</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{1a968659-5e34-497a-8446-9e1d42422e8a}</key>
		<dict>
			<key>x1</key>
			<string>203.895</string>
			<key>y1</key>
			<string>253.549</string>
			<key>x2</key>
			<string>203.895</string>
			<key>y2</key>
			<string>237.738</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{6f2a1d22-9919-4600-84bd-22816e93df05}</key>
		<dict>
			<key>x1</key>
			<string>166.406</string>
			<key>y1</key>
			<string>251.068</string>
			<key>x2</key>
			<string>166.406</string>
			<key>y2</key>
			<string>235.878</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{cf8100fa-5647-4499-88a6-a7a6aae5b3f0}</key>
		<dict>
			<key>x1</key>
			<string>137.311</string>
			<key>y1</key>
			<string>253.549</string>
			<key>x2</key>
			<string>137.311</string>
			<key>y2</key>
			<string>237.738</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{e0b10aa0-e190-4c85-9827-fe7afc4e5fe7}</key>
		<dict>
			<key>x1</key>
			<string>108.216</string>
			<key>y1</key>
			<string>253.549</string>
			<key>x2</key>
			<string>108.216</string>
			<key>y2</key>
			<string>237.738</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{9dcf672b-d861-4582-bef0-47f6242409fd}</key>
		<dict>
			<key>x1</key>
			<string>79.1212</string>
			<key>y1</key>
			<string>253.549</string>
			<key>x2</key>
			<string>79.1212</string>
			<key>y2</key>
			<string>237.738</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{2dafc21f-93c1-4955-afd9-f80cc4a3550b}</key>
		<dict>
			<key>x1</key>
			<string>514.43</string>
			<key>y1</key>
			<string>107.38</string>
			<key>x2</key>
			<string>514.43</string>
			<key>y2</key>
			<string>91.3996</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{88565cc0-6425-42a8-8804-f26f24118235}</key>
		<dict>
			<key>x1</key>
			<string>463.707</string>
			<key>y1</key>
			<string>107.38</string>
			<key>x2</key>
			<string>463.707</string>
			<key>y2</key>
			<string>91.3996</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{89f19132-dedb-4c85-a2eb-59dbc92c7649}</key>
		<dict>
			<key>x1</key>
			<string>424.11</string>
			<key>y1</key>
			<string>109.69</string>
			<key>x2</key>
			<string>424.11</string>
			<key>y2</key>
			<string>93.2598</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{89709f22-cd04-4dd9-9fd4-c08c5e7b0537}</key>
		<dict>
			<key>x1</key>
			<string>393.085</string>
			<key>y1</key>
			<string>112.171</string>
			<key>x2</key>
			<string>393.085</string>
			<key>y2</key>
			<string>95.7402</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d2a292df-44be-4af8-94be-b8da491e557a}</key>
		<dict>
			<key>x1</key>
			<string>362.061</string>
			<key>y1</key>
			<string>114.651</string>
			<key>x2</key>
			<string>362.061</string>
			<key>y2</key>
			<string>98.2205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{dc8cdbbb-de3b-44a4-b9d4-27c8cdf4e1cd}</key>
		<dict>
			<key>x1</key>
			<string>331.036</string>
			<key>y1</key>
			<string>112.171</string>
			<key>x2</key>
			<string>331.036</string>
			<key>y2</key>
			<string>95.7402</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ff8d05dd-5fec-4491-95c2-b51f2c9cc4b2}</key>
		<dict>
			<key>x1</key>
			<string>274.361</string>
			<key>y1</key>
			<string>114.821</string>
			<key>x2</key>
			<string>274.361</string>
			<key>y2</key>
			<string>98.2205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{81c19563-6314-4ff3-b3e1-a5b2a653b8e5}</key>
		<dict>
			<key>x1</key>
			<string>243.894</string>
			<key>y1</key>
			<string>107.21</string>
			<key>x2</key>
			<string>243.894</string>
			<key>y2</key>
			<string>91.3996</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{018d6e56-0da7-4a12-aa3a-866931bb809e}</key>
		<dict>
			<key>x1</key>
			<string>213.605</string>
			<key>y1</key>
			<string>107.21</string>
			<key>x2</key>
			<string>213.605</string>
			<key>y2</key>
			<string>91.3996</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{ce73449c-4882-446a-846b-16286967c706}</key>
		<dict>
			<key>x1</key>
			<string>176.926</string>
			<key>y1</key>
			<string>104.73</string>
			<key>x2</key>
			<string>176.926</string>
			<key>y2</key>
			<string>89.5394</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{f3a1f13d-e322-4cae-a333-55a0b9514a31}</key>
		<dict>
			<key>x1</key>
			<string>148.64</string>
			<key>y1</key>
			<string>107.21</string>
			<key>x2</key>
			<string>148.64</string>
			<key>y2</key>
			<string>91.3996</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{464ad7b2-da70-4d52-be2c-90eb0d8d741c}</key>
		<dict>
			<key>x1</key>
			<string>120.354</string>
			<key>y1</key>
			<string>107.21</string>
			<key>x2</key>
			<string>120.354</string>
			<key>y2</key>
			<string>91.3996</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{918049cf-c250-4b25-aa06-0a1bca8aa135}</key>
		<dict>
			<key>x1</key>
			<string>92.0685</string>
			<key>y1</key>
			<string>107.21</string>
			<key>x2</key>
			<string>92.0685</string>
			<key>y2</key>
			<string>91.3996</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
	</dict>
</dict>
</plist>