<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>541.205</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>576.784</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{f1efa3f8-0ec2-430f-a547-0860f01b2e91}</key>
		<dict>
			<key>x</key>
			<string>442.146</string>
			<key>y</key>
			<string>630.496</string>
		</dict>
		<key>{a4693b3f-0c5b-4892-b582-5d4dcc363b2b}</key>
		<dict>
			<key>x</key>
			<string>442.146</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{987cb93f-c30c-41c9-a786-b2c90bffc5c9}</key>
		<dict>
			<key>x</key>
			<string>395.282</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{1f022bef-ea95-4fd5-88c4-a089f3a5feef}</key>
		<dict>
			<key>x</key>
			<string>355.166</string>
			<key>y</key>
			<string>551.126</string>
		</dict>
		<key>{b486efa7-712e-4681-aa79-30ac4b4c9d5e}</key>
		<dict>
			<key>x</key>
			<string>314.869</string>
			<key>y</key>
			<string>620.575</string>
		</dict>
		<key>{3b65ce7e-b1b2-491b-abc3-77f5c5fb6ee3}</key>
		<dict>
			<key>x</key>
			<string>315.049</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{11a3caae-b92a-4c5b-8456-5dc9a060e216}</key>
		<dict>
			<key>x</key>
			<string>260.596</string>
			<key>y</key>
			<string>561.047</string>
		</dict>
		<key>{c8b2af8a-7546-438f-b428-17ca75419c32}</key>
		<dict>
			<key>x</key>
			<string>189.178</string>
			<key>y</key>
			<string>630.496</string>
		</dict>
		<key>{281cd80d-92a5-4c8e-b493-67f9ebc3e5dc}</key>
		<dict>
			<key>x</key>
			<string>189.178</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{8049cbeb-e832-4970-add6-4c0c71f1c8af}</key>
		<dict>
			<key>x</key>
			<string>139.744</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{e6af2f9a-bbde-432c-8fcb-5cda2b02e526}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>551.126</string>
		</dict>
		<key>{3019c3c5-5585-4c59-ae62-b422ceb30d0d}</key>
		<dict>
			<key>x</key>
			<string>515.006</string>
			<key>y</key>
			<string>484.157</string>
		</dict>
		<key>{b5d17c7f-87da-4b8d-a7b4-2aae1a1114bd}</key>
		<dict>
			<key>x</key>
			<string>444.814</string>
			<key>y</key>
			<string>479.197</string>
		</dict>
		<key>{d7c323b9-0d23-42d5-8caa-559e3971b2ff}</key>
		<dict>
			<key>x</key>
			<string>394.673</string>
			<key>y</key>
			<string>481.677</string>
		</dict>
		<key>{e69660ff-9bc7-4687-b767-b188250dcfe8}</key>
		<dict>
			<key>x</key>
			<string>351.279</string>
			<key>y</key>
			<string>479.197</string>
		</dict>
		<key>{db70141a-501a-40f8-85f6-58988e1fa9d4}</key>
		<dict>
			<key>x</key>
			<string>307.885</string>
			<key>y</key>
			<string>476.717</string>
		</dict>
		<key>{b0e9d181-680a-4fe7-8897-3089f13e0965}</key>
		<dict>
			<key>x</key>
			<string>257.38</string>
			<key>y</key>
			<string>484.157</string>
		</dict>
		<key>{0a638ffc-92c6-4845-88c8-8ae506bf1bfd}</key>
		<dict>
			<key>x</key>
			<string>187.188</string>
			<key>y</key>
			<string>474.236</string>
		</dict>
		<key>{123d6633-c633-46b2-ad56-abd0b55acf73}</key>
		<dict>
			<key>x</key>
			<string>138.519</string>
			<key>y</key>
			<string>479.197</string>
		</dict>
		<key>{d98e22f9-0bdc-4e72-b23b-ff69f1194191}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>484.157</string>
		</dict>
		<key>{9b54eff4-8238-4e2d-831d-67b53ada93cb}</key>
		<dict>
			<key>x</key>
			<string>445.494</string>
			<key>y</key>
			<string>337.819</string>
		</dict>
		<key>{9123cbd3-c21e-45b5-8e16-840bbb78a109}</key>
		<dict>
			<key>x</key>
			<string>445.494</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{ccd96d6b-75ee-43e9-af5e-e26dae63230b}</key>
		<dict>
			<key>x</key>
			<string>398.259</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{95106a88-9842-4ad9-8d40-1f2d1e87c23f}</key>
		<dict>
			<key>x</key>
			<string>357.77</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{62967e7f-9738-4bd4-aad6-1bb271789636}</key>
		<dict>
			<key>x</key>
			<string>317.102</string>
			<key>y</key>
			<string>327.898</string>
		</dict>
		<key>{2a4e5d05-74d2-4622-b04f-33abd69b2e71}</key>
		<dict>
			<key>x</key>
			<string>317.281</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{b3f015fa-84e6-42fa-91bd-ab8cc9241ab2}</key>
		<dict>
			<key>x</key>
			<string>262.399</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{48d7b53e-9c04-4546-9cc8-1354646e144b}</key>
		<dict>
			<key>x</key>
			<string>190.294</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{92a6117b-f314-49be-95c8-4ea4e6c8892e}</key>
		<dict>
			<key>x</key>
			<string>140.431</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{00af4498-f209-4bd0-a12d-8898d00bab9f}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{b055b5f8-9781-4ac2-98f8-cf968f6e7bc5}</key>
		<dict>
			<key>x</key>
			<string>515.421</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{69083d6c-5453-46ad-ad32-e7842d85282f}</key>
		<dict>
			<key>x</key>
			<string>445.891</string>
			<key>y</key>
			<string>191.48</string>
		</dict>
		<key>{ec493da1-4da2-467b-b02e-c65d751f80c3}</key>
		<dict>
			<key>x</key>
			<string>445.891</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{f662c773-c3ef-4b1b-af33-8d97d60b94f0}</key>
		<dict>
			<key>x</key>
			<string>400.05</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{cfb066f4-9b31-457e-b367-172b88f96e74}</key>
		<dict>
			<key>x</key>
			<string>360.955</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{fecf0b90-5a4f-4bf2-97d5-3f409930a024}</key>
		<dict>
			<key>x</key>
			<string>321.682</string>
			<key>y</key>
			<string>181.559</string>
		</dict>
		<key>{3d4535a4-9180-4b1b-b021-70d1d7071765}</key>
		<dict>
			<key>x</key>
			<string>321.861</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{976df219-d97d-451b-9b4d-c64966147ed8}</key>
		<dict>
			<key>x</key>
			<string>268.588</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{92ff125e-7c9e-4986-99cf-3496f2acd301}</key>
		<dict>
			<key>x</key>
			<string>199.058</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{79abce50-b4fe-489f-a050-723e7af9cfbc}</key>
		<dict>
			<key>x</key>
			<string>150.804</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{c0e85621-6974-40f7-9f25-c4ec07c42c81}</key>
		<dict>
			<key>x</key>
			<string>84.2129</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{f1efa3f8-0ec2-430f-a547-0860f01b2e91}</key>
		<dict>
			<key>x1</key>
			<string>442.468</string>
			<key>y1</key>
			<string>631.274</string>
			<key>x2</key>
			<string>442.468</string>
			<key>y2</key>
			<string>641.657</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{a4693b3f-0c5b-4892-b582-5d4dcc363b2b}</key>
		<dict>
			<key>x1</key>
			<string>448.713</string>
			<key>y1</key>
			<string>555.325</string>
			<key>x2</key>
			<string>448.713</string>
			<key>y2</key>
			<string>539.344</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{987cb93f-c30c-41c9-a786-b2c90bffc5c9}</key>
		<dict>
			<key>x1</key>
			<string>401.491</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>401.491</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{1f022bef-ea95-4fd5-88c4-a089f3a5feef}</key>
		<dict>
			<key>x1</key>
			<string>355.488</string>
			<key>y1</key>
			<string>552.058</string>
			<key>x2</key>
			<string>355.488</string>
			<key>y2</key>
			<string>566.628</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{b486efa7-712e-4681-aa79-30ac4b4c9d5e}</key>
		<dict>
			<key>x1</key>
			<string>315.192</string>
			<key>y1</key>
			<string>621.353</string>
			<key>x2</key>
			<string>315.192</string>
			<key>y2</key>
			<string>631.736</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{3b65ce7e-b1b2-491b-abc3-77f5c5fb6ee3}</key>
		<dict>
			<key>x1</key>
			<string>321.257</string>
			<key>y1</key>
			<string>557.635</string>
			<key>x2</key>
			<string>321.257</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{11a3caae-b92a-4c5b-8456-5dc9a060e216}</key>
		<dict>
			<key>x1</key>
			<string>266.804</string>
			<key>y1</key>
			<string>560.116</string>
			<key>x2</key>
			<string>266.804</string>
			<key>y2</key>
			<string>543.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c8b2af8a-7546-438f-b428-17ca75419c32}</key>
		<dict>
			<key>x1</key>
			<string>189.501</string>
			<key>y1</key>
			<string>631.274</string>
			<key>x2</key>
			<string>189.501</string>
			<key>y2</key>
			<string>641.657</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{281cd80d-92a5-4c8e-b493-67f9ebc3e5dc}</key>
		<dict>
			<key>x1</key>
			<string>195.745</string>
			<key>y1</key>
			<string>555.325</string>
			<key>x2</key>
			<string>195.745</string>
			<key>y2</key>
			<string>539.344</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{8049cbeb-e832-4970-add6-4c0c71f1c8af}</key>
		<dict>
			<key>x1</key>
			<string>145.953</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>145.953</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{e6af2f9a-bbde-432c-8fcb-5cda2b02e526}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>551.904</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>566.628</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{3019c3c5-5585-4c59-ae62-b422ceb30d0d}</key>
		<dict>
			<key>x1</key>
			<string>515.329</string>
			<key>y1</key>
			<string>485.089</string>
			<key>x2</key>
			<string>515.329</string>
			<key>y2</key>
			<string>495.319</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{b5d17c7f-87da-4b8d-a7b4-2aae1a1114bd}</key>
		<dict>
			<key>x1</key>
			<string>445.136</string>
			<key>y1</key>
			<string>479.975</string>
			<key>x2</key>
			<string>445.136</string>
			<key>y2</key>
			<string>490.358</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{d7c323b9-0d23-42d5-8caa-559e3971b2ff}</key>
		<dict>
			<key>x1</key>
			<string>394.996</string>
			<key>y1</key>
			<string>482.609</string>
			<key>x2</key>
			<string>394.996</string>
			<key>y2</key>
			<string>492.839</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{e69660ff-9bc7-4687-b767-b188250dcfe8}</key>
		<dict>
			<key>x1</key>
			<string>351.602</string>
			<key>y1</key>
			<string>480.129</string>
			<key>x2</key>
			<string>351.602</string>
			<key>y2</key>
			<string>490.358</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{db70141a-501a-40f8-85f6-58988e1fa9d4}</key>
		<dict>
			<key>x1</key>
			<string>308.208</string>
			<key>y1</key>
			<string>477.648</string>
			<key>x2</key>
			<string>308.208</string>
			<key>y2</key>
			<string>487.878</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{b0e9d181-680a-4fe7-8897-3089f13e0965}</key>
		<dict>
			<key>x1</key>
			<string>257.703</string>
			<key>y1</key>
			<string>485.089</string>
			<key>x2</key>
			<string>257.703</string>
			<key>y2</key>
			<string>495.319</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{0a638ffc-92c6-4845-88c8-8ae506bf1bfd}</key>
		<dict>
			<key>x1</key>
			<string>187.51</string>
			<key>y1</key>
			<string>475.014</string>
			<key>x2</key>
			<string>187.51</string>
			<key>y2</key>
			<string>485.398</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{123d6633-c633-46b2-ad56-abd0b55acf73}</key>
		<dict>
			<key>x1</key>
			<string>138.842</string>
			<key>y1</key>
			<string>480.129</string>
			<key>x2</key>
			<string>138.842</string>
			<key>y2</key>
			<string>490.358</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{d98e22f9-0bdc-4e72-b23b-ff69f1194191}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>484.935</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>495.319</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{9b54eff4-8238-4e2d-831d-67b53ada93cb}</key>
		<dict>
			<key>x1</key>
			<string>445.817</string>
			<key>y1</key>
			<string>338.597</string>
			<key>x2</key>
			<string>445.817</string>
			<key>y2</key>
			<string>348.98</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{9123cbd3-c21e-45b5-8e16-840bbb78a109}</key>
		<dict>
			<key>x1</key>
			<string>452.061</string>
			<key>y1</key>
			<string>262.648</string>
			<key>x2</key>
			<string>452.061</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{ccd96d6b-75ee-43e9-af5e-e26dae63230b}</key>
		<dict>
			<key>x1</key>
			<string>404.467</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>404.467</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{95106a88-9842-4ad9-8d40-1f2d1e87c23f}</key>
		<dict>
			<key>x1</key>
			<string>363.978</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>363.978</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{62967e7f-9738-4bd4-aad6-1bb271789636}</key>
		<dict>
			<key>x1</key>
			<string>317.424</string>
			<key>y1</key>
			<string>328.675</string>
			<key>x2</key>
			<string>317.424</string>
			<key>y2</key>
			<string>339.059</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{2a4e5d05-74d2-4622-b04f-33abd69b2e71}</key>
		<dict>
			<key>x1</key>
			<string>323.489</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>323.489</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b3f015fa-84e6-42fa-91bd-ab8cc9241ab2}</key>
		<dict>
			<key>x1</key>
			<string>268.607</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>268.607</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{48d7b53e-9c04-4546-9cc8-1354646e144b}</key>
		<dict>
			<key>x1</key>
			<string>196.861</string>
			<key>y1</key>
			<string>262.648</string>
			<key>x2</key>
			<string>196.861</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{92a6117b-f314-49be-95c8-4ea4e6c8892e}</key>
		<dict>
			<key>x1</key>
			<string>146.64</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>146.64</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{00af4498-f209-4bd0-a12d-8898d00bab9f}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>259.227</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>273.951</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{b055b5f8-9781-4ac2-98f8-cf968f6e7bc5}</key>
		<dict>
			<key>x1</key>
			<string>521.629</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>521.629</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{69083d6c-5453-46ad-ad32-e7842d85282f}</key>
		<dict>
			<key>x1</key>
			<string>446.213</string>
			<key>y1</key>
			<string>192.258</string>
			<key>x2</key>
			<string>446.213</string>
			<key>y2</key>
			<string>202.642</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{ec493da1-4da2-467b-b02e-c65d751f80c3}</key>
		<dict>
			<key>x1</key>
			<string>452.457</string>
			<key>y1</key>
			<string>116.309</string>
			<key>x2</key>
			<string>452.457</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{f662c773-c3ef-4b1b-af33-8d97d60b94f0}</key>
		<dict>
			<key>x1</key>
			<string>406.258</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>406.258</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{cfb066f4-9b31-457e-b367-172b88f96e74}</key>
		<dict>
			<key>x1</key>
			<string>367.164</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>367.164</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{fecf0b90-5a4f-4bf2-97d5-3f409930a024}</key>
		<dict>
			<key>x1</key>
			<string>322.004</string>
			<key>y1</key>
			<string>182.337</string>
			<key>x2</key>
			<string>322.004</string>
			<key>y2</key>
			<string>192.72</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{3d4535a4-9180-4b1b-b021-70d1d7071765}</key>
		<dict>
			<key>x1</key>
			<string>328.069</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>328.069</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{976df219-d97d-451b-9b4d-c64966147ed8}</key>
		<dict>
			<key>x1</key>
			<string>274.796</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>274.796</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{92ff125e-7c9e-4986-99cf-3496f2acd301}</key>
		<dict>
			<key>x1</key>
			<string>199.38</string>
			<key>y1</key>
			<string>112.888</string>
			<key>x2</key>
			<string>199.38</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{79abce50-b4fe-489f-a050-723e7af9cfbc}</key>
		<dict>
			<key>x1</key>
			<string>157.012</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>157.012</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{c0e85621-6974-40f7-9f25-c4ec07c42c81}</key>
		<dict>
			<key>x1</key>
			<string>90.7795</string>
			<key>y1</key>
			<string>121.27</string>
			<key>x2</key>
			<string>90.7795</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
	</dict>
</dict>
</plist>