<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>541.205</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>576.784</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{34f543ef-b411-437b-974b-439e05ce70e5}</key>
		<dict>
			<key>x</key>
			<string>444.204</string>
			<key>y</key>
			<string>600.732</string>
		</dict>
		<key>{a3208d68-0f2a-4587-b24a-844d3c1785c7}</key>
		<dict>
			<key>x</key>
			<string>444.204</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{023fbcde-56c2-4e9e-ad5a-7d20a213a3cd}</key>
		<dict>
			<key>x</key>
			<string>397.025</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{95752962-0035-4aa9-bda3-54c8d2dfe836}</key>
		<dict>
			<key>x</key>
			<string>356.593</string>
			<key>y</key>
			<string>551.126</string>
		</dict>
		<key>{673eee25-0b40-4778-8e5a-1a76d7f76c12}</key>
		<dict>
			<key>x</key>
			<string>315.982</string>
			<key>y</key>
			<string>590.811</string>
		</dict>
		<key>{48cdfd25-7a5e-48b3-9410-5becfb791ae9}</key>
		<dict>
			<key>x</key>
			<string>316.161</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{7be904d8-5cdc-42fd-8d12-3e89dc86332f}</key>
		<dict>
			<key>x</key>
			<string>265.503</string>
			<key>y</key>
			<string>561.047</string>
		</dict>
		<key>{3a500917-d1f9-40d4-ac7a-9e316e42e1ef}</key>
		<dict>
			<key>x</key>
			<string>195.352</string>
			<key>y</key>
			<string>600.732</string>
		</dict>
		<key>{95c2c664-6ae1-4da4-8d6e-9e34e66c9104}</key>
		<dict>
			<key>x</key>
			<string>195.352</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{2bf0f72b-3120-414f-bf33-d6ba065cdd8b}</key>
		<dict>
			<key>x</key>
			<string>146.71</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{7a781d61-2e2f-4466-9e1a-726dc459ee7a}</key>
		<dict>
			<key>x</key>
			<string>79.4972</string>
			<key>y</key>
			<string>551.126</string>
		</dict>
		<key>{eb109182-e055-42f1-952b-75e1dca66a7e}</key>
		<dict>
			<key>x</key>
			<string>514.967</string>
			<key>y</key>
			<string>454.394</string>
		</dict>
		<key>{9e9f8ecc-a8a9-44dd-a015-4aea2a4b9f7c}</key>
		<dict>
			<key>x</key>
			<string>444.712</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{888faaf1-7168-4d18-8d71-ec610650c871}</key>
		<dict>
			<key>x</key>
			<string>397.417</string>
			<key>y</key>
			<string>451.913</string>
		</dict>
		<key>{c6b4c1d9-96dd-4a98-aaf4-da0dc478d14a}</key>
		<dict>
			<key>x</key>
			<string>356.869</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{4887de5b-d9b6-41aa-a54f-037936b2da51}</key>
		<dict>
			<key>x</key>
			<string>316.32</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{9e6723fe-bce2-4584-bb64-6001d692555d}</key>
		<dict>
			<key>x</key>
			<string>265.776</string>
			<key>y</key>
			<string>454.394</string>
		</dict>
		<key>{3bce9bf2-bb4e-42f8-a5ee-d9da1f250b16}</key>
		<dict>
			<key>x</key>
			<string>195.521</string>
			<key>y</key>
			<string>444.472</string>
		</dict>
		<key>{9682a56e-6c9d-4e3e-8c4f-208186b4bc14}</key>
		<dict>
			<key>x</key>
			<string>146.814</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{40df4933-5056-4919-a755-c71373cd9cee}</key>
		<dict>
			<key>x</key>
			<string>79.4972</string>
			<key>y</key>
			<string>454.394</string>
		</dict>
		<key>{41f70ccf-9f34-49d7-8e8a-d4fd9d7704e6}</key>
		<dict>
			<key>x</key>
			<string>447.552</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{9965b8a2-d50e-483e-88e7-e8449a65f3cd}</key>
		<dict>
			<key>x</key>
			<string>447.552</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{f05dc860-7706-402a-848f-9ee086a999d6}</key>
		<dict>
			<key>x</key>
			<string>400.002</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{493aa330-6b36-40e9-aeb6-b92f7442ad0d}</key>
		<dict>
			<key>x</key>
			<string>359.197</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{6c0bfc1b-6c0a-4f98-afcd-654cb5fedae1}</key>
		<dict>
			<key>x</key>
			<string>318.214</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{36a24a30-b04d-49f4-aeb6-219f2eb8218a}</key>
		<dict>
			<key>x</key>
			<string>318.393</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{bf2c7933-4c17-4813-afef-426b95d2d072}</key>
		<dict>
			<key>x</key>
			<string>267.306</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{7927285d-6aef-4c8f-a8ec-43cd67f888c9}</key>
		<dict>
			<key>x</key>
			<string>196.468</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{a8f308ba-92b3-4650-9834-d780293c0530}</key>
		<dict>
			<key>x</key>
			<string>147.396</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{1d6577b7-9212-4dbd-943a-5949498100bf}</key>
		<dict>
			<key>x</key>
			<string>79.4972</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{042b5702-cf08-4e70-9b89-c2f16f774e2f}</key>
		<dict>
			<key>x</key>
			<string>515.974</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{f9ff5a4b-e363-4eee-82c4-b00cce3eacf7}</key>
		<dict>
			<key>x</key>
			<string>447.329</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{d9aadf7f-4bbd-49e7-9cbf-faeaa686b7e1}</key>
		<dict>
			<key>x</key>
			<string>447.329</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{fc616996-a84d-473f-8eb4-f5702e20cbfd}</key>
		<dict>
			<key>x</key>
			<string>400.966</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{75ec2499-a4d9-4f85-919c-3fd32633adf7}</key>
		<dict>
			<key>x</key>
			<string>361.349</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{00fd6e0e-8e6e-441a-b2d8-ac7077620c26}</key>
		<dict>
			<key>x</key>
			<string>321.554</string>
			<key>y</key>
			<string>151.795</string>
		</dict>
		<key>{4c5f4e1b-e42a-40b4-a77f-367d61ad64e3}</key>
		<dict>
			<key>x</key>
			<string>321.733</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{2b2eca46-853c-4af9-a597-93f1a399b4fe}</key>
		<dict>
			<key>x</key>
			<string>272.016</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{ee114874-7ee5-4478-90fe-3cc578fee431}</key>
		<dict>
			<key>x</key>
			<string>203.371</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{7976c067-46db-4dac-b4a2-caebb5b76645}</key>
		<dict>
			<key>x</key>
			<string>155.67</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{4d4c532a-b641-4f6f-a2a7-b58ac77d213d}</key>
		<dict>
			<key>x</key>
			<string>89.9641</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{34f543ef-b411-437b-974b-439e05ce70e5}</key>
		<dict>
			<key>x1</key>
			<string>444.526</string>
			<key>y1</key>
			<string>601.51</string>
			<key>x2</key>
			<string>444.526</string>
			<key>y2</key>
			<string>616.854</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{a3208d68-0f2a-4587-b24a-844d3c1785c7}</key>
		<dict>
			<key>x1</key>
			<string>450.77</string>
			<key>y1</key>
			<string>555.325</string>
			<key>x2</key>
			<string>450.77</string>
			<key>y2</key>
			<string>539.344</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{023fbcde-56c2-4e9e-ad5a-7d20a213a3cd}</key>
		<dict>
			<key>x1</key>
			<string>403.234</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>403.234</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{95752962-0035-4aa9-bda3-54c8d2dfe836}</key>
		<dict>
			<key>x1</key>
			<string>356.915</string>
			<key>y1</key>
			<string>552.058</string>
			<key>x2</key>
			<string>356.915</string>
			<key>y2</key>
			<string>566.628</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{673eee25-0b40-4778-8e5a-1a76d7f76c12}</key>
		<dict>
			<key>x1</key>
			<string>316.304</string>
			<key>y1</key>
			<string>591.589</string>
			<key>x2</key>
			<string>316.304</string>
			<key>y2</key>
			<string>608.173</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{48cdfd25-7a5e-48b3-9410-5becfb791ae9}</key>
		<dict>
			<key>x1</key>
			<string>322.369</string>
			<key>y1</key>
			<string>557.635</string>
			<key>x2</key>
			<string>322.369</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{7be904d8-5cdc-42fd-8d12-3e89dc86332f}</key>
		<dict>
			<key>x1</key>
			<string>271.711</string>
			<key>y1</key>
			<string>560.116</string>
			<key>x2</key>
			<string>271.711</string>
			<key>y2</key>
			<string>543.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3a500917-d1f9-40d4-ac7a-9e316e42e1ef}</key>
		<dict>
			<key>x1</key>
			<string>195.674</string>
			<key>y1</key>
			<string>601.51</string>
			<key>x2</key>
			<string>195.674</string>
			<key>y2</key>
			<string>616.854</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{95c2c664-6ae1-4da4-8d6e-9e34e66c9104}</key>
		<dict>
			<key>x1</key>
			<string>201.918</string>
			<key>y1</key>
			<string>555.325</string>
			<key>x2</key>
			<string>201.918</string>
			<key>y2</key>
			<string>539.344</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{2bf0f72b-3120-414f-bf33-d6ba065cdd8b}</key>
		<dict>
			<key>x1</key>
			<string>152.918</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>152.918</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{7a781d61-2e2f-4466-9e1a-726dc459ee7a}</key>
		<dict>
			<key>x1</key>
			<string>79.8196</string>
			<key>y1</key>
			<string>551.904</string>
			<key>x2</key>
			<string>79.8196</string>
			<key>y2</key>
			<string>566.628</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{eb109182-e055-42f1-952b-75e1dca66a7e}</key>
		<dict>
			<key>x1</key>
			<string>515.29</string>
			<key>y1</key>
			<string>455.325</string>
			<key>x2</key>
			<string>515.29</string>
			<key>y2</key>
			<string>470.516</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{9e9f8ecc-a8a9-44dd-a015-4aea2a4b9f7c}</key>
		<dict>
			<key>x1</key>
			<string>445.034</string>
			<key>y1</key>
			<string>450.211</string>
			<key>x2</key>
			<string>445.034</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{888faaf1-7168-4d18-8d71-ec610650c871}</key>
		<dict>
			<key>x1</key>
			<string>397.74</string>
			<key>y1</key>
			<string>452.845</string>
			<key>x2</key>
			<string>397.74</string>
			<key>y2</key>
			<string>468.656</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{c6b4c1d9-96dd-4a98-aaf4-da0dc478d14a}</key>
		<dict>
			<key>x1</key>
			<string>357.191</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>357.191</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{4887de5b-d9b6-41aa-a54f-037936b2da51}</key>
		<dict>
			<key>x1</key>
			<string>316.643</string>
			<key>y1</key>
			<string>447.884</string>
			<key>x2</key>
			<string>316.643</string>
			<key>y2</key>
			<string>464.315</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{9e6723fe-bce2-4584-bb64-6001d692555d}</key>
		<dict>
			<key>x1</key>
			<string>266.099</string>
			<key>y1</key>
			<string>455.325</string>
			<key>x2</key>
			<string>266.099</string>
			<key>y2</key>
			<string>470.516</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{3bce9bf2-bb4e-42f8-a5ee-d9da1f250b16}</key>
		<dict>
			<key>x1</key>
			<string>195.844</string>
			<key>y1</key>
			<string>445.25</string>
			<key>x2</key>
			<string>195.844</string>
			<key>y2</key>
			<string>461.835</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{9682a56e-6c9d-4e3e-8c4f-208186b4bc14}</key>
		<dict>
			<key>x1</key>
			<string>147.136</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>147.136</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{40df4933-5056-4919-a755-c71373cd9cee}</key>
		<dict>
			<key>x1</key>
			<string>79.8196</string>
			<key>y1</key>
			<string>455.172</string>
			<key>x2</key>
			<string>79.8196</string>
			<key>y2</key>
			<string>470.516</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{41f70ccf-9f34-49d7-8e8a-d4fd9d7704e6}</key>
		<dict>
			<key>x1</key>
			<string>447.875</string>
			<key>y1</key>
			<string>308.833</string>
			<key>x2</key>
			<string>447.875</string>
			<key>y2</key>
			<string>324.177</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{9965b8a2-d50e-483e-88e7-e8449a65f3cd}</key>
		<dict>
			<key>x1</key>
			<string>454.119</string>
			<key>y1</key>
			<string>262.648</string>
			<key>x2</key>
			<string>454.119</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{f05dc860-7706-402a-848f-9ee086a999d6}</key>
		<dict>
			<key>x1</key>
			<string>406.21</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>406.21</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{493aa330-6b36-40e9-aeb6-b92f7442ad0d}</key>
		<dict>
			<key>x1</key>
			<string>365.406</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>365.406</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{6c0bfc1b-6c0a-4f98-afcd-654cb5fedae1}</key>
		<dict>
			<key>x1</key>
			<string>318.536</string>
			<key>y1</key>
			<string>298.912</string>
			<key>x2</key>
			<string>318.536</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{36a24a30-b04d-49f4-aeb6-219f2eb8218a}</key>
		<dict>
			<key>x1</key>
			<string>324.602</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>324.602</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{bf2c7933-4c17-4813-afef-426b95d2d072}</key>
		<dict>
			<key>x1</key>
			<string>273.514</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>273.514</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{7927285d-6aef-4c8f-a8ec-43cd67f888c9}</key>
		<dict>
			<key>x1</key>
			<string>203.035</string>
			<key>y1</key>
			<string>262.648</string>
			<key>x2</key>
			<string>203.035</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{a8f308ba-92b3-4650-9834-d780293c0530}</key>
		<dict>
			<key>x1</key>
			<string>153.605</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>153.605</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{1d6577b7-9212-4dbd-943a-5949498100bf}</key>
		<dict>
			<key>x1</key>
			<string>79.8196</string>
			<key>y1</key>
			<string>259.227</string>
			<key>x2</key>
			<string>79.8196</string>
			<key>y2</key>
			<string>273.951</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{042b5702-cf08-4e70-9b89-c2f16f774e2f}</key>
		<dict>
			<key>x1</key>
			<string>522.182</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>522.182</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f9ff5a4b-e363-4eee-82c4-b00cce3eacf7}</key>
		<dict>
			<key>x1</key>
			<string>447.651</string>
			<key>y1</key>
			<string>162.494</string>
			<key>x2</key>
			<string>447.651</string>
			<key>y2</key>
			<string>177.839</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{d9aadf7f-4bbd-49e7-9cbf-faeaa686b7e1}</key>
		<dict>
			<key>x1</key>
			<string>453.895</string>
			<key>y1</key>
			<string>116.309</string>
			<key>x2</key>
			<string>453.895</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{fc616996-a84d-473f-8eb4-f5702e20cbfd}</key>
		<dict>
			<key>x1</key>
			<string>407.174</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>407.174</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{75ec2499-a4d9-4f85-919c-3fd32633adf7}</key>
		<dict>
			<key>x1</key>
			<string>367.558</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>367.558</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{00fd6e0e-8e6e-441a-b2d8-ac7077620c26}</key>
		<dict>
			<key>x1</key>
			<string>321.876</string>
			<key>y1</key>
			<string>152.573</string>
			<key>x2</key>
			<string>321.876</string>
			<key>y2</key>
			<string>169.157</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{4c5f4e1b-e42a-40b4-a77f-367d61ad64e3}</key>
		<dict>
			<key>x1</key>
			<string>327.942</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>327.942</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{2b2eca46-853c-4af9-a597-93f1a399b4fe}</key>
		<dict>
			<key>x1</key>
			<string>278.225</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>278.225</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ee114874-7ee5-4478-90fe-3cc578fee431}</key>
		<dict>
			<key>x1</key>
			<string>203.694</string>
			<key>y1</key>
			<string>112.888</string>
			<key>x2</key>
			<string>203.694</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{7976c067-46db-4dac-b4a2-caebb5b76645}</key>
		<dict>
			<key>x1</key>
			<string>161.879</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>161.879</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{4d4c532a-b641-4f6f-a2a7-b58ac77d213d}</key>
		<dict>
			<key>x1</key>
			<string>96.5307</string>
			<key>y1</key>
			<string>121.27</string>
			<key>x2</key>
			<string>96.5307</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
	</dict>
</dict>
</plist>