<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>541.205</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>576.784</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{9c335248-284f-474b-994c-2720f13c7267}</key>
		<dict>
			<key>x</key>
			<string>442.173</string>
			<key>y</key>
			<string>600.732</string>
		</dict>
		<key>{c4ee7210-a8f5-4691-84d5-b3e134c61e38}</key>
		<dict>
			<key>x</key>
			<string>442.173</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{3fbfb22f-2dbf-4d04-b782-5a5955645cab}</key>
		<dict>
			<key>x</key>
			<string>395.318</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{5fb866ce-d33a-49ae-be7b-616ed34015b1}</key>
		<dict>
			<key>x</key>
			<string>355.21</string>
			<key>y</key>
			<string>551.126</string>
		</dict>
		<key>{3339748e-41a3-4067-8185-d0db24899376}</key>
		<dict>
			<key>x</key>
			<string>314.923</string>
			<key>y</key>
			<string>590.811</string>
		</dict>
		<key>{3558b037-4bbc-40ae-af9e-1435d11013a6}</key>
		<dict>
			<key>x</key>
			<string>315.102</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{b8e0a15e-772e-452e-9817-4c465b63f797}</key>
		<dict>
			<key>x</key>
			<string>260.66</string>
			<key>y</key>
			<string>561.047</string>
		</dict>
		<key>{c2cea7e7-9d0a-4b32-8b53-f2b56f6ec709}</key>
		<dict>
			<key>x</key>
			<string>189.259</string>
			<key>y</key>
			<string>600.732</string>
		</dict>
		<key>{8b3c173b-715c-4e98-bcc4-df21f3370899}</key>
		<dict>
			<key>x</key>
			<string>189.259</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{9ad915b9-93b7-46df-b85d-36e5401c537b}</key>
		<dict>
			<key>x</key>
			<string>139.836</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{2991f1d1-035a-4d70-94d2-c684b041fac4}</key>
		<dict>
			<key>x</key>
			<string>71.3734</string>
			<key>y</key>
			<string>551.126</string>
		</dict>
		<key>{be04a60b-c2e5-4db8-8a5c-0a0449e462b5}</key>
		<dict>
			<key>x</key>
			<string>514.939</string>
			<key>y</key>
			<string>454.394</string>
		</dict>
		<key>{69899e23-6d53-43d6-a763-73ceae35c52f}</key>
		<dict>
			<key>x</key>
			<string>444.637</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{eaf81508-6d6c-49d3-a623-7ac1e774ca0b}</key>
		<dict>
			<key>x</key>
			<string>394.769</string>
			<key>y</key>
			<string>451.913</string>
		</dict>
		<key>{677e1707-2c4a-4820-9984-25ae9f6c5d67}</key>
		<dict>
			<key>x</key>
			<string>351.647</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{919ebe7f-2d93-4f19-bdeb-98823fca2c11}</key>
		<dict>
			<key>x</key>
			<string>308.525</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{f8881746-6dd3-4710-bb28-f30c457cc020}</key>
		<dict>
			<key>x</key>
			<string>257.952</string>
			<key>y</key>
			<string>454.394</string>
		</dict>
		<key>{994380db-0bca-419a-8357-8360b0501bf7}</key>
		<dict>
			<key>x</key>
			<string>187.651</string>
			<key>y</key>
			<string>444.472</string>
		</dict>
		<key>{0ecd14aa-f740-4be6-a07c-6864f02e41ab}</key>
		<dict>
			<key>x</key>
			<string>138.915</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{50a9079f-b194-4ea7-af61-e2734069faff}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>454.394</string>
		</dict>
		<key>{7115657d-a845-4ccc-bc45-bc5112273e35}</key>
		<dict>
			<key>x</key>
			<string>445.521</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{f5827f88-8ac6-405e-8ff6-1925027bfd6a}</key>
		<dict>
			<key>x</key>
			<string>445.521</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{b0bc0f41-ea18-4074-857f-5c7f706098bf}</key>
		<dict>
			<key>x</key>
			<string>398.295</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{97ceb100-e87b-4f34-87d3-3fef1ad9982e}</key>
		<dict>
			<key>x</key>
			<string>357.815</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{0e9829d7-2259-485e-870f-593caae8314e}</key>
		<dict>
			<key>x</key>
			<string>317.156</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{a7f2ba87-5968-42d7-b093-38a2dde0db9c}</key>
		<dict>
			<key>x</key>
			<string>317.335</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{40c3330d-392f-42c3-997f-50102e6f83ff}</key>
		<dict>
			<key>x</key>
			<string>262.463</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{ffc7fb4d-21bf-44d9-9c03-727be73d281c}</key>
		<dict>
			<key>x</key>
			<string>190.375</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{01062402-d5ac-403a-8bdf-79e309c5ca3e}</key>
		<dict>
			<key>x</key>
			<string>140.522</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{7038f714-297b-4fac-a8de-c543ae0b1a84}</key>
		<dict>
			<key>x</key>
			<string>71.3734</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{2fdd635d-6d4e-4ecb-8812-33dedb92df75}</key>
		<dict>
			<key>x</key>
			<string>515.448</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{89696252-826b-4b3f-9bef-0e409cafa60e}</key>
		<dict>
			<key>x</key>
			<string>445.963</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{959d90b1-5a37-40c9-b828-c1b9c536165c}</key>
		<dict>
			<key>x</key>
			<string>445.963</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{2c230bdf-2ae9-44df-bb83-145f0504f107}</key>
		<dict>
			<key>x</key>
			<string>400.145</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{6c41aa12-181d-4c68-8d2c-4f1c25b6a289}</key>
		<dict>
			<key>x</key>
			<string>361.075</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{3e658aac-8f4c-4dbc-bddb-f6bac425ac9f}</key>
		<dict>
			<key>x</key>
			<string>321.825</string>
			<key>y</key>
			<string>151.795</string>
		</dict>
		<key>{3e272a03-efa7-40c6-8fc3-d5ae4147c8b7}</key>
		<dict>
			<key>x</key>
			<string>322.004</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{4a2a611f-dcf0-48bd-bded-e8bf05669253}</key>
		<dict>
			<key>x</key>
			<string>268.759</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{9c3fee19-db4a-4629-8ac2-2631479807da}</key>
		<dict>
			<key>x</key>
			<string>199.273</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{2dba910f-4bb6-4920-9e79-f9781d7805f4}</key>
		<dict>
			<key>x</key>
			<string>151.047</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{065be2ad-b337-4a01-9cf4-d0e52dc6170b}</key>
		<dict>
			<key>x</key>
			<string>84.4996</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{9c335248-284f-474b-994c-2720f13c7267}</key>
		<dict>
			<key>x1</key>
			<string>442.495</string>
			<key>y1</key>
			<string>601.51</string>
			<key>x2</key>
			<string>442.495</string>
			<key>y2</key>
			<string>616.854</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{c4ee7210-a8f5-4691-84d5-b3e134c61e38}</key>
		<dict>
			<key>x1</key>
			<string>448.739</string>
			<key>y1</key>
			<string>555.325</string>
			<key>x2</key>
			<string>448.739</string>
			<key>y2</key>
			<string>539.344</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{3fbfb22f-2dbf-4d04-b782-5a5955645cab}</key>
		<dict>
			<key>x1</key>
			<string>401.527</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>401.527</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{5fb866ce-d33a-49ae-be7b-616ed34015b1}</key>
		<dict>
			<key>x1</key>
			<string>355.533</string>
			<key>y1</key>
			<string>552.058</string>
			<key>x2</key>
			<string>355.533</string>
			<key>y2</key>
			<string>566.628</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{3339748e-41a3-4067-8185-d0db24899376}</key>
		<dict>
			<key>x1</key>
			<string>315.246</string>
			<key>y1</key>
			<string>591.589</string>
			<key>x2</key>
			<string>315.246</string>
			<key>y2</key>
			<string>608.173</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{3558b037-4bbc-40ae-af9e-1435d11013a6}</key>
		<dict>
			<key>x1</key>
			<string>321.311</string>
			<key>y1</key>
			<string>557.635</string>
			<key>x2</key>
			<string>321.311</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b8e0a15e-772e-452e-9817-4c465b63f797}</key>
		<dict>
			<key>x1</key>
			<string>266.868</string>
			<key>y1</key>
			<string>560.116</string>
			<key>x2</key>
			<string>266.868</string>
			<key>y2</key>
			<string>543.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c2cea7e7-9d0a-4b32-8b53-f2b56f6ec709}</key>
		<dict>
			<key>x1</key>
			<string>189.581</string>
			<key>y1</key>
			<string>601.51</string>
			<key>x2</key>
			<string>189.581</string>
			<key>y2</key>
			<string>616.854</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{8b3c173b-715c-4e98-bcc4-df21f3370899}</key>
		<dict>
			<key>x1</key>
			<string>195.826</string>
			<key>y1</key>
			<string>555.325</string>
			<key>x2</key>
			<string>195.826</string>
			<key>y2</key>
			<string>539.344</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{9ad915b9-93b7-46df-b85d-36e5401c537b}</key>
		<dict>
			<key>x1</key>
			<string>146.044</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>146.044</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{2991f1d1-035a-4d70-94d2-c684b041fac4}</key>
		<dict>
			<key>x1</key>
			<string>71.6958</string>
			<key>y1</key>
			<string>551.904</string>
			<key>x2</key>
			<string>71.6958</string>
			<key>y2</key>
			<string>566.628</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{be04a60b-c2e5-4db8-8a5c-0a0449e462b5}</key>
		<dict>
			<key>x1</key>
			<string>515.261</string>
			<key>y1</key>
			<string>455.325</string>
			<key>x2</key>
			<string>515.261</string>
			<key>y2</key>
			<string>470.516</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{69899e23-6d53-43d6-a763-73ceae35c52f}</key>
		<dict>
			<key>x1</key>
			<string>444.96</string>
			<key>y1</key>
			<string>450.211</string>
			<key>x2</key>
			<string>444.96</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{eaf81508-6d6c-49d3-a623-7ac1e774ca0b}</key>
		<dict>
			<key>x1</key>
			<string>395.091</string>
			<key>y1</key>
			<string>452.845</string>
			<key>x2</key>
			<string>395.091</string>
			<key>y2</key>
			<string>468.656</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{677e1707-2c4a-4820-9984-25ae9f6c5d67}</key>
		<dict>
			<key>x1</key>
			<string>351.969</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>351.969</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{919ebe7f-2d93-4f19-bdeb-98823fca2c11}</key>
		<dict>
			<key>x1</key>
			<string>308.847</string>
			<key>y1</key>
			<string>447.884</string>
			<key>x2</key>
			<string>308.847</string>
			<key>y2</key>
			<string>464.315</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f8881746-6dd3-4710-bb28-f30c457cc020}</key>
		<dict>
			<key>x1</key>
			<string>258.274</string>
			<key>y1</key>
			<string>455.325</string>
			<key>x2</key>
			<string>258.274</string>
			<key>y2</key>
			<string>470.516</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{994380db-0bca-419a-8357-8360b0501bf7}</key>
		<dict>
			<key>x1</key>
			<string>187.973</string>
			<key>y1</key>
			<string>445.25</string>
			<key>x2</key>
			<string>187.973</string>
			<key>y2</key>
			<string>461.835</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{0ecd14aa-f740-4be6-a07c-6864f02e41ab}</key>
		<dict>
			<key>x1</key>
			<string>139.237</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>139.237</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{50a9079f-b194-4ea7-af61-e2734069faff}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>455.172</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>470.516</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{7115657d-a845-4ccc-bc45-bc5112273e35}</key>
		<dict>
			<key>x1</key>
			<string>445.844</string>
			<key>y1</key>
			<string>308.833</string>
			<key>x2</key>
			<string>445.844</string>
			<key>y2</key>
			<string>324.177</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{f5827f88-8ac6-405e-8ff6-1925027bfd6a}</key>
		<dict>
			<key>x1</key>
			<string>452.088</string>
			<key>y1</key>
			<string>262.648</string>
			<key>x2</key>
			<string>452.088</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{b0bc0f41-ea18-4074-857f-5c7f706098bf}</key>
		<dict>
			<key>x1</key>
			<string>404.503</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>404.503</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{97ceb100-e87b-4f34-87d3-3fef1ad9982e}</key>
		<dict>
			<key>x1</key>
			<string>364.023</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>364.023</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{0e9829d7-2259-485e-870f-593caae8314e}</key>
		<dict>
			<key>x1</key>
			<string>317.478</string>
			<key>y1</key>
			<string>298.912</string>
			<key>x2</key>
			<string>317.478</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{a7f2ba87-5968-42d7-b093-38a2dde0db9c}</key>
		<dict>
			<key>x1</key>
			<string>323.543</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>323.543</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{40c3330d-392f-42c3-997f-50102e6f83ff}</key>
		<dict>
			<key>x1</key>
			<string>268.671</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>268.671</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ffc7fb4d-21bf-44d9-9c03-727be73d281c}</key>
		<dict>
			<key>x1</key>
			<string>196.942</string>
			<key>y1</key>
			<string>262.648</string>
			<key>x2</key>
			<string>196.942</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{01062402-d5ac-403a-8bdf-79e309c5ca3e}</key>
		<dict>
			<key>x1</key>
			<string>146.731</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>146.731</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{7038f714-297b-4fac-a8de-c543ae0b1a84}</key>
		<dict>
			<key>x1</key>
			<string>71.6958</string>
			<key>y1</key>
			<string>259.227</string>
			<key>x2</key>
			<string>71.6958</string>
			<key>y2</key>
			<string>273.951</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{2fdd635d-6d4e-4ecb-8812-33dedb92df75}</key>
		<dict>
			<key>x1</key>
			<string>521.657</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>521.657</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{89696252-826b-4b3f-9bef-0e409cafa60e}</key>
		<dict>
			<key>x1</key>
			<string>446.285</string>
			<key>y1</key>
			<string>162.494</string>
			<key>x2</key>
			<string>446.285</string>
			<key>y2</key>
			<string>177.839</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{959d90b1-5a37-40c9-b828-c1b9c536165c}</key>
		<dict>
			<key>x1</key>
			<string>452.529</string>
			<key>y1</key>
			<string>116.309</string>
			<key>x2</key>
			<string>452.529</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{2c230bdf-2ae9-44df-bb83-145f0504f107}</key>
		<dict>
			<key>x1</key>
			<string>406.354</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>406.354</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{6c41aa12-181d-4c68-8d2c-4f1c25b6a289}</key>
		<dict>
			<key>x1</key>
			<string>367.283</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>367.283</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{3e658aac-8f4c-4dbc-bddb-f6bac425ac9f}</key>
		<dict>
			<key>x1</key>
			<string>322.148</string>
			<key>y1</key>
			<string>152.573</string>
			<key>x2</key>
			<string>322.148</string>
			<key>y2</key>
			<string>169.157</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{3e272a03-efa7-40c6-8fc3-d5ae4147c8b7}</key>
		<dict>
			<key>x1</key>
			<string>328.213</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>328.213</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{4a2a611f-dcf0-48bd-bded-e8bf05669253}</key>
		<dict>
			<key>x1</key>
			<string>274.967</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>274.967</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9c3fee19-db4a-4629-8ac2-2631479807da}</key>
		<dict>
			<key>x1</key>
			<string>199.595</string>
			<key>y1</key>
			<string>112.888</string>
			<key>x2</key>
			<string>199.595</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{2dba910f-4bb6-4920-9e79-f9781d7805f4}</key>
		<dict>
			<key>x1</key>
			<string>157.255</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>157.255</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{065be2ad-b337-4a01-9cf4-d0e52dc6170b}</key>
		<dict>
			<key>x1</key>
			<string>91.0663</string>
			<key>y1</key>
			<string>121.27</string>
			<key>x2</key>
			<string>91.0663</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
	</dict>
</dict>
</plist>