<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>pen_width</key>
	<string>0.40</string>
	<key>xend</key>
	<real>3311.59</real>
	<key>stafflines</key>
	<dict>
		<key>0</key>
		<dict>
			<key>x</key>
			<string>10.4173</string>
			<key>y</key>
			<string>16.3582</string>
			<key>bx</key>
			<string>10.4173</string>
			<key>by</key>
			<string>51.9378</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{637a0093-31cd-46e3-88f1-0f64edbe6188}</key>
		<dict>
			<key>x</key>
			<string>2638.72</string>
			<key>y</key>
			<string>75.8858</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{664a34ce-51ba-47da-8d04-17c305185833}</key>
		<dict>
			<key>x</key>
			<string>2638.72</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{d8fcc13f-e0ec-4f56-b30f-340a0704c16e}</key>
		<dict>
			<key>x</key>
			<string>2585.06</string>
			<key>y</key>
			<string>28.7598</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{9b35cc0c-3b40-49cf-8a45-6558e6889b29}</key>
		<dict>
			<key>x</key>
			<string>2543.1</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{f5aeacaf-96d4-4c03-80a8-24eeb4168a78}</key>
		<dict>
			<key>x</key>
			<string>2500.96</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6e44ecbd-eac1-45cf-ab83-9801c163dd07}</key>
		<dict>
			<key>x</key>
			<string>2501.14</string>
			<key>y</key>
			<string>33.7204</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{6ab83c1a-8f0b-4745-8f69-3cf526470942}</key>
		<dict>
			<key>x</key>
			<string>2440.84</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{318bc392-c9f1-4e36-a904-2cd44dd3fa50}</key>
		<dict>
			<key>x</key>
			<string>2363.21</string>
			<key>y</key>
			<string>75.8858</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{e4b4eac0-9cf3-4c4b-b194-dafe62c5f0f7}</key>
		<dict>
			<key>x</key>
			<string>2363.21</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{5418f6f3-85c7-478a-944a-a7eebe788a4c}</key>
		<dict>
			<key>x</key>
			<string>2303.09</string>
			<key>y</key>
			<string>28.7598</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{02ba0a92-c2de-42d1-92e8-8e409b34484b}</key>
		<dict>
			<key>x</key>
			<string>2225.45</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{5b1fcf51-2aa5-41a6-872b-b5c99ffc0cf8}</key>
		<dict>
			<key>x</key>
			<string>2165.33</string>
			<key>y</key>
			<string>75.8858</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{abc3911b-782d-4800-bb5f-48c2e4571a67}</key>
		<dict>
			<key>x</key>
			<string>2087.69</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{92e12a12-a157-4732-9f72-b9291cf49d9d}</key>
		<dict>
			<key>x</key>
			<string>2033.97</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b4b26066-7675-4823-8734-071e3cad5474}</key>
		<dict>
			<key>x</key>
			<string>1991.95</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{99f45a89-1ef4-41b4-9e34-67cc31710d0e}</key>
		<dict>
			<key>x</key>
			<string>1949.93</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{8fa602a9-6f74-4d5b-8ff4-0ec0141819d2}</key>
		<dict>
			<key>x</key>
			<string>1889.81</string>
			<key>y</key>
			<string>75.8858</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ae8572f4-2797-4fa7-abba-a298b55f015b}</key>
		<dict>
			<key>x</key>
			<string>1812.18</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7bd39f5d-4747-4654-b72b-0fee7e6b16fd}</key>
		<dict>
			<key>x</key>
			<string>1752.06</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{74b0a66b-12af-4aca-b3a3-5ba7f8b3cf5c}</key>
		<dict>
			<key>x</key>
			<string>1674.42</string>
			<key>y</key>
			<string>75.8858</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6ee02aca-0a2e-4182-b226-60d22c2afd34}</key>
		<dict>
			<key>x</key>
			<string>1536.66</string>
			<key>y</key>
			<string>75.8858</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0e39adbc-04be-4756-b642-0e4e85150932}</key>
		<dict>
			<key>x</key>
			<string>1536.66</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{1ead1794-67b0-4e97-b863-8e1a52bfb8ca}</key>
		<dict>
			<key>x</key>
			<string>1483</string>
			<key>y</key>
			<string>28.7598</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{90276da6-80b4-4dba-b516-1fd00302d513}</key>
		<dict>
			<key>x</key>
			<string>1441.04</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{ac60e46a-0272-40ec-9fd8-a51ea6eb7823}</key>
		<dict>
			<key>x</key>
			<string>1398.9</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6913d6c7-2a91-446e-af02-2a86541c6b08}</key>
		<dict>
			<key>x</key>
			<string>1399.08</string>
			<key>y</key>
			<string>33.7204</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{0bc610e1-a821-4871-9ecc-d2ab332d43f8}</key>
		<dict>
			<key>x</key>
			<string>1338.78</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{2aeb6eff-730d-49e6-8b3d-bc8ce9f283ae}</key>
		<dict>
			<key>x</key>
			<string>1261.15</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{3225624a-c2ab-47b5-a518-5205fcf9e8bb}</key>
		<dict>
			<key>x</key>
			<string>1201.03</string>
			<key>y</key>
			<string>28.7598</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{49f826f8-cd73-407f-89c3-5eae0749eb44}</key>
		<dict>
			<key>x</key>
			<string>1123.39</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{167603f4-94d3-4535-a6ad-0b90de7fda68}</key>
		<dict>
			<key>x</key>
			<string>1063.27</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{64d7ffb1-ca7b-4165-a416-81ca5512ca1e}</key>
		<dict>
			<key>x</key>
			<string>985.632</string>
			<key>y</key>
			<string>75.8858</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{fa04fa52-1dc8-45a4-8ddb-103128688c01}</key>
		<dict>
			<key>x</key>
			<string>985.632</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{8dc5ce3d-2481-4e2e-921e-f72ecd2299a2}</key>
		<dict>
			<key>x</key>
			<string>931.968</string>
			<key>y</key>
			<string>28.7598</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{baef1930-b7de-4bbd-94ad-a1bff7bc1e5f}</key>
		<dict>
			<key>x</key>
			<string>890.011</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{a1152ea3-ecda-4c8d-b2be-7c97a0cf431a}</key>
		<dict>
			<key>x</key>
			<string>847.875</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d4d7331e-0555-4d89-8fba-d1d49c89250d}</key>
		<dict>
			<key>x</key>
			<string>848.054</string>
			<key>y</key>
			<string>33.7204</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{19f76764-a7de-4c89-9610-89e8bf8d5e1d}</key>
		<dict>
			<key>x</key>
			<string>787.756</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{247815b8-03e6-4930-a38f-0f638adce294}</key>
		<dict>
			<key>x</key>
			<string>710.117</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{36db125e-81b3-41e3-a469-1dae75b4f929}</key>
		<dict>
			<key>x</key>
			<string>649.998</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{99798a83-51a7-4e41-998f-f9829b409f57}</key>
		<dict>
			<key>x</key>
			<string>572.36</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>0</string>
		</dict>
	</dict>
	<key>rests</key>
	<dict>
		<key>{e6c75711-c283-41b5-b8ac-da121cc5c3ba}</key>
		<dict>
			<key>x</key>
			<string>3189.75</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{1117ec66-49d2-4a5c-a3f1-98b5e8541d7d}</key>
		<dict>
			<key>x</key>
			<string>3189.75</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{d20c794b-a361-44a1-a232-06bfa1973258}</key>
		<dict>
			<key>x</key>
			<string>3051.99</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b9b14e09-f340-4b7d-b4b0-acde3ca80ae8}</key>
		<dict>
			<key>x</key>
			<string>3051.99</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{683b9875-1223-490d-993f-fb93f84bf4c7}</key>
		<dict>
			<key>x</key>
			<string>2914.23</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ae21c544-9d05-420e-8449-fb51ef6e02af}</key>
		<dict>
			<key>x</key>
			<string>2914.23</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{00cb3c26-4de0-4399-8012-58b454ec2a19}</key>
		<dict>
			<key>x</key>
			<string>2776.48</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b9fb2ab9-a21d-4499-b88d-23ffca65bdba}</key>
		<dict>
			<key>x</key>
			<string>2776.48</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{451be924-d18a-4973-b893-b95257916a85}</key>
		<dict>
			<key>x</key>
			<string>2225.63</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2b7b904b-7b3d-48e6-b163-b3fb17085594}</key>
		<dict>
			<key>x</key>
			<string>2087.87</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{b44cc50a-f1a2-4548-b8fb-6114bbac2a92}</key>
		<dict>
			<key>x</key>
			<string>1949.93</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{0c2639bd-c6ca-4b78-8d95-4d8945cadec9}</key>
		<dict>
			<key>x</key>
			<string>1812.35</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{91f3f296-0402-419b-96aa-c73cd0fb6e57}</key>
		<dict>
			<key>x</key>
			<string>1674.6</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{80a00576-8dc2-4a5f-8863-8ce411feb9fe}</key>
		<dict>
			<key>x</key>
			<string>1261.33</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6b81117b-8fec-4984-9571-6e43706b8c89}</key>
		<dict>
			<key>x</key>
			<string>1123.57</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{803cfb29-8242-4a86-b405-50837bf6c525}</key>
		<dict>
			<key>x</key>
			<string>710.296</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{aef6e3f3-5afe-45ef-982a-821e664029b6}</key>
		<dict>
			<key>x</key>
			<string>572.539</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9e473463-ec67-4ab4-8e5d-d99cbc577c46}</key>
		<dict>
			<key>x</key>
			<string>434.603</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7ccd2744-c8a4-4231-80f0-794fb343c7fb}</key>
		<dict>
			<key>x</key>
			<string>434.603</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{2a53e50c-0f2f-4a6c-b6db-c3d9109986a2}</key>
		<dict>
			<key>x</key>
			<string>296.845</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0217693f-b838-47fb-9448-3e670ed73ce8}</key>
		<dict>
			<key>x</key>
			<string>296.845</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{1379e409-2a62-4265-8363-16856c6188e8}</key>
		<dict>
			<key>x</key>
			<string>159.088</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2195f5e4-96af-4f2e-be25-c5ed428c29ff}</key>
		<dict>
			<key>x</key>
			<string>159.088</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{9effe921-0c6f-4cc9-8aa9-a73936bb95eb}</key>
		<dict>
			<key>x</key>
			<string>54.2475</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f48f54e2-8750-4f52-9ae2-1da69baf11fa}</key>
		<dict>
			<key>x</key>
			<string>54.2475</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
	</dict>
	<key>dots</key>
	<dict>
		<key>{9d3b3f7f-5363-4f39-9337-3fc671ad4775}</key>
		<dict>
			<key>x</key>
			<string>109.134</string>
			<key>y</key>
			<string>2647.34</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{1e346b2e-4a92-43c5-8587-9bb52937c303}</key>
		<dict>
			<key>x</key>
			<string>62.0079</string>
			<key>y</key>
			<string>2647.34</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{19d74743-60d0-49df-b6a3-f7a588776dd3}</key>
		<dict>
			<key>x</key>
			<string>99.2126</string>
			<key>y</key>
			<string>2509.59</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{17a3f59d-08da-4fdf-bbe3-726118afede1}</key>
		<dict>
			<key>x</key>
			<string>109.134</string>
			<key>y</key>
			<string>2371.83</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ed3fe109-d24c-4d8a-9457-49d727cf18d7}</key>
		<dict>
			<key>x</key>
			<string>109.134</string>
			<key>y</key>
			<string>1545.29</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{81270407-2829-487a-bf99-4f9436878e2a}</key>
		<dict>
			<key>x</key>
			<string>62.0079</string>
			<key>y</key>
			<string>1545.29</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{25d1f830-2178-4ada-815f-7bab53b5f881}</key>
		<dict>
			<key>x</key>
			<string>99.2126</string>
			<key>y</key>
			<string>1407.53</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{4f39327b-88f0-4d4b-8426-56a557bcbc62}</key>
		<dict>
			<key>x</key>
			<string>109.134</string>
			<key>y</key>
			<string>994.257</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c4aed759-a94b-4334-bb95-6fae9baeb8dc}</key>
		<dict>
			<key>x</key>
			<string>99.2126</string>
			<key>y</key>
			<string>856.5</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>note_dots</key>
	<dict>
		<key>{637a0093-31cd-46e3-88f1-0f64edbe6188}</key>
		<array>
			
			<string>{9d3b3f7f-5363-4f39-9337-3fc671ad4775}</string>
		</array>
		<key>{664a34ce-51ba-47da-8d04-17c305185833}</key>
		<array>
			
			<string>{1e346b2e-4a92-43c5-8587-9bb52937c303}</string>
		</array>
		<key>{f5aeacaf-96d4-4c03-80a8-24eeb4168a78}</key>
		<array>
			
			<string>{19d74743-60d0-49df-b6a3-f7a588776dd3}</string>
		</array>
		<key>{318bc392-c9f1-4e36-a904-2cd44dd3fa50}</key>
		<array>
			
			<string>{17a3f59d-08da-4fdf-bbe3-726118afede1}</string>
		</array>
		<key>{6ee02aca-0a2e-4182-b226-60d22c2afd34}</key>
		<array>
			
			<string>{ed3fe109-d24c-4d8a-9457-49d727cf18d7}</string>
		</array>
		<key>{0e39adbc-04be-4756-b642-0e4e85150932}</key>
		<array>
			
			<string>{81270407-2829-487a-bf99-4f9436878e2a}</string>
		</array>
		<key>{ac60e46a-0272-40ec-9fd8-a51ea6eb7823}</key>
		<array>
			
			<string>{25d1f830-2178-4ada-815f-7bab53b5f881}</string>
		</array>
		<key>{64d7ffb1-ca7b-4165-a416-81ca5512ca1e}</key>
		<array>
			
			<string>{4f39327b-88f0-4d4b-8426-56a557bcbc62}</string>
		</array>
		<key>{a1152ea3-ecda-4c8d-b2be-7c97a0cf431a}</key>
		<array>
			
			<string>{c4aed759-a94b-4334-bb95-6fae9baeb8dc}</string>
		</array>
	</dict>
	<key>stems</key>
	<dict>
		<key>{d58d2ffc-5070-40ed-8c82-b7c0a9805751}</key>
		<dict>
			<key>x1</key>
			<string>2639.04</string>
			<key>y1</key>
			<string>76.6636</string>
			<key>x2</key>
			<string>2639.04</string>
			<key>y2</key>
			<string>92.0078</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{3bcef8f6-58be-42a9-bdaf-2d5322ecdd31}</key>
		<dict>
			<key>x1</key>
			<string>2645.29</string>
			<key>y1</key>
			<string>30.4781</string>
			<key>x2</key>
			<string>2645.29</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{b95aed16-5271-4ab3-8731-ac0322081a24}</key>
		<dict>
			<key>x1</key>
			<string>2591.26</string>
			<key>y1</key>
			<string>27.8281</string>
			<key>x2</key>
			<string>2591.26</string>
			<key>y2</key>
			<string>12.6377</string>
			<key>height</key>
			<string>-16.122</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{4ee92354-bcff-4107-9b0e-ab8c07631ffa}</key>
		<dict>
			<key>x1</key>
			<string>2543.42</string>
			<key>y1</key>
			<string>27.2111</string>
			<key>x2</key>
			<string>2543.42</string>
			<key>y2</key>
			<string>41.7814</string>
			<key>height</key>
			<string>15.502</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{a35d0eff-e186-4ba1-af5d-fb2469f49ee8}</key>
		<dict>
			<key>x1</key>
			<string>2501.28</string>
			<key>y1</key>
			<string>66.7423</string>
			<key>x2</key>
			<string>2501.28</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ca9e18aa-9680-4765-9231-44d2c17c27d3}</key>
		<dict>
			<key>x1</key>
			<string>2507.35</string>
			<key>y1</key>
			<string>32.7887</string>
			<key>x2</key>
			<string>2507.35</string>
			<key>y2</key>
			<string>16.3582</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{e1ea8699-fa4e-49f3-97de-75ab0791d5d3}</key>
		<dict>
			<key>x1</key>
			<string>2447.05</string>
			<key>y1</key>
			<string>35.269</string>
			<key>x2</key>
			<string>2447.05</string>
			<key>y2</key>
			<string>18.8385</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{a80f732c-ba40-484c-8a8a-713990303cf8}</key>
		<dict>
			<key>x1</key>
			<string>2363.53</string>
			<key>y1</key>
			<string>76.6636</string>
			<key>x2</key>
			<string>2363.53</string>
			<key>y2</key>
			<string>92.0078</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ce71da98-7577-4d33-874e-c4dc4e180139}</key>
		<dict>
			<key>x1</key>
			<string>2369.77</string>
			<key>y1</key>
			<string>30.4781</string>
			<key>x2</key>
			<string>2369.77</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{ef52e16f-46e9-472d-9f88-20d20e79e157}</key>
		<dict>
			<key>x1</key>
			<string>2309.29</string>
			<key>y1</key>
			<string>27.8281</string>
			<key>x2</key>
			<string>2309.29</string>
			<key>y2</key>
			<string>12.6377</string>
			<key>height</key>
			<string>-16.122</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{a6118394-6054-4251-96b1-7a142ada5656}</key>
		<dict>
			<key>x1</key>
			<string>2225.77</string>
			<key>y1</key>
			<string>27.0573</string>
			<key>x2</key>
			<string>2225.77</string>
			<key>y2</key>
			<string>41.7814</string>
			<key>height</key>
			<string>15.502</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{e59fe8d7-14f0-4f7e-a06c-ae9cf76385b5}</key>
		<dict>
			<key>x1</key>
			<string>2165.65</string>
			<key>y1</key>
			<string>76.8174</string>
			<key>x2</key>
			<string>2165.65</string>
			<key>y2</key>
			<string>92.0078</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{afbe4a9a-60e0-48be-8180-8e587e5ecdae}</key>
		<dict>
			<key>x1</key>
			<string>2088.01</string>
			<key>y1</key>
			<string>71.703</string>
			<key>x2</key>
			<string>2088.01</string>
			<key>y2</key>
			<string>88.2873</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0372ad00-7bc2-4299-b9e5-e3587b13dae6}</key>
		<dict>
			<key>x1</key>
			<string>2034.29</string>
			<key>y1</key>
			<string>74.3371</string>
			<key>x2</key>
			<string>2034.29</string>
			<key>y2</key>
			<string>90.1476</string>
			<key>height</key>
			<string>16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{26c9d5cc-2fa5-4187-82f0-88e28114748e}</key>
		<dict>
			<key>x1</key>
			<string>1992.27</string>
			<key>y1</key>
			<string>71.8568</string>
			<key>x2</key>
			<string>1992.27</string>
			<key>y2</key>
			<string>88.2873</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{73aa9f39-4fca-447e-b862-314fc7ace257}</key>
		<dict>
			<key>x1</key>
			<string>1950.26</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>1950.26</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{49b99aa9-1db0-44a4-b26d-c2cf32bfd863}</key>
		<dict>
			<key>x1</key>
			<string>1890.14</string>
			<key>y1</key>
			<string>76.8174</string>
			<key>x2</key>
			<string>1890.14</string>
			<key>y2</key>
			<string>92.0078</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2cfbac54-94e8-4e68-b79f-c000cfbc10ec}</key>
		<dict>
			<key>x1</key>
			<string>1812.5</string>
			<key>y1</key>
			<string>66.7423</string>
			<key>x2</key>
			<string>1812.5</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9f5940a3-1e46-49cc-9ce6-c45e09a07276}</key>
		<dict>
			<key>x1</key>
			<string>1752.38</string>
			<key>y1</key>
			<string>71.8568</string>
			<key>x2</key>
			<string>1752.38</string>
			<key>y2</key>
			<string>88.2873</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{26771a46-8c53-42cd-9223-66d4ea3823dd}</key>
		<dict>
			<key>x1</key>
			<string>1674.74</string>
			<key>y1</key>
			<string>76.6636</string>
			<key>x2</key>
			<string>1674.74</string>
			<key>y2</key>
			<string>92.0078</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b50a2350-be4c-4e62-860b-9559b7832b20}</key>
		<dict>
			<key>x1</key>
			<string>1536.98</string>
			<key>y1</key>
			<string>76.6636</string>
			<key>x2</key>
			<string>1536.98</string>
			<key>y2</key>
			<string>92.0078</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{817029ad-915b-4700-acfc-676fbcce6995}</key>
		<dict>
			<key>x1</key>
			<string>1543.23</string>
			<key>y1</key>
			<string>30.4781</string>
			<key>x2</key>
			<string>1543.23</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{a88d02c8-79f8-4ae6-95c9-96d5aef64de9}</key>
		<dict>
			<key>x1</key>
			<string>1489.21</string>
			<key>y1</key>
			<string>27.8281</string>
			<key>x2</key>
			<string>1489.21</string>
			<key>y2</key>
			<string>12.6377</string>
			<key>height</key>
			<string>-16.122</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{22acca52-23f5-4095-8b19-3f9a90b7cdf7}</key>
		<dict>
			<key>x1</key>
			<string>1447.25</string>
			<key>y1</key>
			<string>30.3084</string>
			<key>x2</key>
			<string>1447.25</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{ea53201c-fefe-4a5d-bdee-37dabddd7ffe}</key>
		<dict>
			<key>x1</key>
			<string>1399.23</string>
			<key>y1</key>
			<string>66.7423</string>
			<key>x2</key>
			<string>1399.23</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f4ba4b70-36b5-464f-b5fe-8d825966aa78}</key>
		<dict>
			<key>x1</key>
			<string>1405.29</string>
			<key>y1</key>
			<string>32.7887</string>
			<key>x2</key>
			<string>1405.29</string>
			<key>y2</key>
			<string>16.3582</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{a8ed25e9-c15c-4a50-a912-3398fc254b71}</key>
		<dict>
			<key>x1</key>
			<string>1344.99</string>
			<key>y1</key>
			<string>35.269</string>
			<key>x2</key>
			<string>1344.99</string>
			<key>y2</key>
			<string>18.8385</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{07a460d5-18b1-4be2-ba31-f47036bfc72d}</key>
		<dict>
			<key>x1</key>
			<string>1267.71</string>
			<key>y1</key>
			<string>30.4781</string>
			<key>x2</key>
			<string>1267.71</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{af567dbf-2167-4400-b35d-153f9cde5eb8}</key>
		<dict>
			<key>x1</key>
			<string>1207.24</string>
			<key>y1</key>
			<string>27.8281</string>
			<key>x2</key>
			<string>1207.24</string>
			<key>y2</key>
			<string>12.6377</string>
			<key>height</key>
			<string>-16.122</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{fc75e1ad-0e65-47fa-b00e-93c067085d7b}</key>
		<dict>
			<key>x1</key>
			<string>1123.71</string>
			<key>y1</key>
			<string>27.0573</string>
			<key>x2</key>
			<string>1123.71</string>
			<key>y2</key>
			<string>41.7814</string>
			<key>height</key>
			<string>15.502</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{9e3ca49c-8d1b-4510-85f9-121cbc0d343c}</key>
		<dict>
			<key>x1</key>
			<string>1069.48</string>
			<key>y1</key>
			<string>35.269</string>
			<key>x2</key>
			<string>1069.48</string>
			<key>y2</key>
			<string>18.8385</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{3ac2ee18-6ac0-4d5f-9948-5edf4af5f2e1}</key>
		<dict>
			<key>x1</key>
			<string>985.954</string>
			<key>y1</key>
			<string>76.6636</string>
			<key>x2</key>
			<string>985.954</string>
			<key>y2</key>
			<string>92.0078</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0e41f743-cca5-437d-a425-227e57eaab6e}</key>
		<dict>
			<key>x1</key>
			<string>992.199</string>
			<key>y1</key>
			<string>30.4781</string>
			<key>x2</key>
			<string>992.199</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{3c367b82-a623-48a3-b85f-bf222c5fedde}</key>
		<dict>
			<key>x1</key>
			<string>938.176</string>
			<key>y1</key>
			<string>27.8281</string>
			<key>x2</key>
			<string>938.176</string>
			<key>y2</key>
			<string>12.6377</string>
			<key>height</key>
			<string>-16.122</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{3fe024f7-2c02-455c-bed9-b0bdc415cefd}</key>
		<dict>
			<key>x1</key>
			<string>896.219</string>
			<key>y1</key>
			<string>30.3084</string>
			<key>x2</key>
			<string>896.219</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{23f2a566-1182-4a31-830b-3cf5f27901dd}</key>
		<dict>
			<key>x1</key>
			<string>848.197</string>
			<key>y1</key>
			<string>66.7423</string>
			<key>x2</key>
			<string>848.197</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{8f1ca163-c4b2-43e9-ac70-2655c2ac3f83}</key>
		<dict>
			<key>x1</key>
			<string>854.262</string>
			<key>y1</key>
			<string>32.7887</string>
			<key>x2</key>
			<string>854.262</string>
			<key>y2</key>
			<string>16.3582</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{a47dd516-abf5-4698-a41a-31640603ba93}</key>
		<dict>
			<key>x1</key>
			<string>793.964</string>
			<key>y1</key>
			<string>35.269</string>
			<key>x2</key>
			<string>793.964</string>
			<key>y2</key>
			<string>18.8385</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{120e69b5-4d02-47dc-ac8e-8663180b9d09}</key>
		<dict>
			<key>x1</key>
			<string>710.44</string>
			<key>y1</key>
			<string>27.0573</string>
			<key>x2</key>
			<string>710.44</string>
			<key>y2</key>
			<string>41.7814</string>
			<key>height</key>
			<string>15.502</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{58c51d4b-e00e-41e1-b940-2ada6ceb8ac1}</key>
		<dict>
			<key>x1</key>
			<string>656.207</string>
			<key>y1</key>
			<string>30.3084</string>
			<key>x2</key>
			<string>656.207</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{775866c6-a4e8-48f0-a916-540019005d80}</key>
		<dict>
			<key>x1</key>
			<string>578.927</string>
			<key>y1</key>
			<string>35.4388</string>
			<key>x2</key>
			<string>578.927</string>
			<key>y2</key>
			<string>18.8385</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
	</dict>
	<key>note_stems</key>
	<dict>
		<key>{637a0093-31cd-46e3-88f1-0f64edbe6188}</key>
		<string>{d58d2ffc-5070-40ed-8c82-b7c0a9805751}</string>
		<key>{664a34ce-51ba-47da-8d04-17c305185833}</key>
		<string>{3bcef8f6-58be-42a9-bdaf-2d5322ecdd31}</string>
		<key>{d8fcc13f-e0ec-4f56-b30f-340a0704c16e}</key>
		<string>{b95aed16-5271-4ab3-8731-ac0322081a24}</string>
		<key>{9b35cc0c-3b40-49cf-8a45-6558e6889b29}</key>
		<string>{4ee92354-bcff-4107-9b0e-ab8c07631ffa}</string>
		<key>{f5aeacaf-96d4-4c03-80a8-24eeb4168a78}</key>
		<string>{a35d0eff-e186-4ba1-af5d-fb2469f49ee8}</string>
		<key>{6e44ecbd-eac1-45cf-ab83-9801c163dd07}</key>
		<string>{ca9e18aa-9680-4765-9231-44d2c17c27d3}</string>
		<key>{6ab83c1a-8f0b-4745-8f69-3cf526470942}</key>
		<string>{e1ea8699-fa4e-49f3-97de-75ab0791d5d3}</string>
		<key>{318bc392-c9f1-4e36-a904-2cd44dd3fa50}</key>
		<string>{a80f732c-ba40-484c-8a8a-713990303cf8}</string>
		<key>{e4b4eac0-9cf3-4c4b-b194-dafe62c5f0f7}</key>
		<string>{ce71da98-7577-4d33-874e-c4dc4e180139}</string>
		<key>{5418f6f3-85c7-478a-944a-a7eebe788a4c}</key>
		<string>{ef52e16f-46e9-472d-9f88-20d20e79e157}</string>
		<key>{02ba0a92-c2de-42d1-92e8-8e409b34484b}</key>
		<string>{a6118394-6054-4251-96b1-7a142ada5656}</string>
		<key>{5b1fcf51-2aa5-41a6-872b-b5c99ffc0cf8}</key>
		<string>{e59fe8d7-14f0-4f7e-a06c-ae9cf76385b5}</string>
		<key>{abc3911b-782d-4800-bb5f-48c2e4571a67}</key>
		<string>{afbe4a9a-60e0-48be-8180-8e587e5ecdae}</string>
		<key>{92e12a12-a157-4732-9f72-b9291cf49d9d}</key>
		<string>{0372ad00-7bc2-4299-b9e5-e3587b13dae6}</string>
		<key>{b4b26066-7675-4823-8734-071e3cad5474}</key>
		<string>{26c9d5cc-2fa5-4187-82f0-88e28114748e}</string>
		<key>{99f45a89-1ef4-41b4-9e34-67cc31710d0e}</key>
		<string>{73aa9f39-4fca-447e-b862-314fc7ace257}</string>
		<key>{8fa602a9-6f74-4d5b-8ff4-0ec0141819d2}</key>
		<string>{49b99aa9-1db0-44a4-b26d-c2cf32bfd863}</string>
		<key>{ae8572f4-2797-4fa7-abba-a298b55f015b}</key>
		<string>{2cfbac54-94e8-4e68-b79f-c000cfbc10ec}</string>
		<key>{7bd39f5d-4747-4654-b72b-0fee7e6b16fd}</key>
		<string>{9f5940a3-1e46-49cc-9ce6-c45e09a07276}</string>
		<key>{74b0a66b-12af-4aca-b3a3-5ba7f8b3cf5c}</key>
		<string>{26771a46-8c53-42cd-9223-66d4ea3823dd}</string>
		<key>{6ee02aca-0a2e-4182-b226-60d22c2afd34}</key>
		<string>{b50a2350-be4c-4e62-860b-9559b7832b20}</string>
		<key>{0e39adbc-04be-4756-b642-0e4e85150932}</key>
		<string>{817029ad-915b-4700-acfc-676fbcce6995}</string>
		<key>{1ead1794-67b0-4e97-b863-8e1a52bfb8ca}</key>
		<string>{a88d02c8-79f8-4ae6-95c9-96d5aef64de9}</string>
		<key>{90276da6-80b4-4dba-b516-1fd00302d513}</key>
		<string>{22acca52-23f5-4095-8b19-3f9a90b7cdf7}</string>
		<key>{ac60e46a-0272-40ec-9fd8-a51ea6eb7823}</key>
		<string>{ea53201c-fefe-4a5d-bdee-37dabddd7ffe}</string>
		<key>{6913d6c7-2a91-446e-af02-2a86541c6b08}</key>
		<string>{f4ba4b70-36b5-464f-b5fe-8d825966aa78}</string>
		<key>{0bc610e1-a821-4871-9ecc-d2ab332d43f8}</key>
		<string>{a8ed25e9-c15c-4a50-a912-3398fc254b71}</string>
		<key>{2aeb6eff-730d-49e6-8b3d-bc8ce9f283ae}</key>
		<string>{07a460d5-18b1-4be2-ba31-f47036bfc72d}</string>
		<key>{3225624a-c2ab-47b5-a518-5205fcf9e8bb}</key>
		<string>{af567dbf-2167-4400-b35d-153f9cde5eb8}</string>
		<key>{49f826f8-cd73-407f-89c3-5eae0749eb44}</key>
		<string>{fc75e1ad-0e65-47fa-b00e-93c067085d7b}</string>
		<key>{167603f4-94d3-4535-a6ad-0b90de7fda68}</key>
		<string>{9e3ca49c-8d1b-4510-85f9-121cbc0d343c}</string>
		<key>{64d7ffb1-ca7b-4165-a416-81ca5512ca1e}</key>
		<string>{3ac2ee18-6ac0-4d5f-9948-5edf4af5f2e1}</string>
		<key>{fa04fa52-1dc8-45a4-8ddb-103128688c01}</key>
		<string>{0e41f743-cca5-437d-a425-227e57eaab6e}</string>
		<key>{8dc5ce3d-2481-4e2e-921e-f72ecd2299a2}</key>
		<string>{3c367b82-a623-48a3-b85f-bf222c5fedde}</string>
		<key>{baef1930-b7de-4bbd-94ad-a1bff7bc1e5f}</key>
		<string>{3fe024f7-2c02-455c-bed9-b0bdc415cefd}</string>
		<key>{a1152ea3-ecda-4c8d-b2be-7c97a0cf431a}</key>
		<string>{23f2a566-1182-4a31-830b-3cf5f27901dd}</string>
		<key>{d4d7331e-0555-4d89-8fba-d1d49c89250d}</key>
		<string>{8f1ca163-c4b2-43e9-ac70-2655c2ac3f83}</string>
		<key>{19f76764-a7de-4c89-9610-89e8bf8d5e1d}</key>
		<string>{a47dd516-abf5-4698-a41a-31640603ba93}</string>
		<key>{247815b8-03e6-4930-a38f-0f638adce294}</key>
		<string>{120e69b5-4d02-47dc-ac8e-8663180b9d09}</string>
		<key>{36db125e-81b3-41e3-a469-1dae75b4f929}</key>
		<string>{58c51d4b-e00e-41e1-b940-2ada6ceb8ac1}</string>
		<key>{99798a83-51a7-4e41-998f-f9829b409f57}</key>
		<string>{775866c6-a4e8-48f0-a916-540019005d80}</string>
	</dict>
	<key>note_finger</key>
	<dict>
	</dict>
	<key>note_step</key>
	<dict>
		<key>{637a0093-31cd-46e3-88f1-0f64edbe6188}</key>
		<string>{1541acbe-ec38-42ba-b899-eaf367d6431a}</string>
		<key>{664a34ce-51ba-47da-8d04-17c305185833}</key>
		<string>{d6ba1174-d4cf-4cec-8e5d-2a85277d2999}</string>
		<key>{d8fcc13f-e0ec-4f56-b30f-340a0704c16e}</key>
		<string>{d1c5f75b-e1d9-4c92-91ad-c565fe747f92}</string>
		<key>{9b35cc0c-3b40-49cf-8a45-6558e6889b29}</key>
		<string>{bc04092c-64e8-45f4-8682-d9dba9716d5a}</string>
		<key>{f5aeacaf-96d4-4c03-80a8-24eeb4168a78}</key>
		<string>{5f906f2e-4daf-4141-9bdd-d38892bab909}</string>
		<key>{6e44ecbd-eac1-45cf-ab83-9801c163dd07}</key>
		<string>{5d19cbde-8bd6-4b7c-b6a4-36a99574f3cb}</string>
		<key>{6ab83c1a-8f0b-4745-8f69-3cf526470942}</key>
		<string>{236ae116-c871-45d4-a15c-a965ee0d6d54}</string>
		<key>{318bc392-c9f1-4e36-a904-2cd44dd3fa50}</key>
		<string>{e030ac20-e3f1-46b9-b379-49d71571c885}</string>
		<key>{e4b4eac0-9cf3-4c4b-b194-dafe62c5f0f7}</key>
		<string>{da8754b9-dd52-4864-aa8d-888736ea5cdb}</string>
		<key>{5418f6f3-85c7-478a-944a-a7eebe788a4c}</key>
		<string>{18a9ebfb-bc6f-49b8-bb9f-7acbec6b0d49}</string>
		<key>{02ba0a92-c2de-42d1-92e8-8e409b34484b}</key>
		<string>{bd94fb4a-064d-484a-91f2-52df0bc644c8}</string>
		<key>{5b1fcf51-2aa5-41a6-872b-b5c99ffc0cf8}</key>
		<string>{86f3d937-6bce-4ed4-a9fe-9d597194326e}</string>
		<key>{abc3911b-782d-4800-bb5f-48c2e4571a67}</key>
		<string>{387932ea-3abd-4a69-b598-ba94b7bc8f12}</string>
		<key>{92e12a12-a157-4732-9f72-b9291cf49d9d}</key>
		<string>{d2eb06ef-5e3a-4d24-ab07-12f07ed104a1}</string>
		<key>{b4b26066-7675-4823-8734-071e3cad5474}</key>
		<string>{ee825165-2f42-43de-bcc7-b5cbe2875bfa}</string>
		<key>{99f45a89-1ef4-41b4-9e34-67cc31710d0e}</key>
		<string>{86af9fa4-b6de-4825-bad9-32aa4649a678}</string>
		<key>{8fa602a9-6f74-4d5b-8ff4-0ec0141819d2}</key>
		<string>{e230d14c-83ca-4a3a-b82f-82f89e647e08}</string>
		<key>{ae8572f4-2797-4fa7-abba-a298b55f015b}</key>
		<string>{a4d873c5-1494-4d43-affe-c7e25b78a776}</string>
		<key>{7bd39f5d-4747-4654-b72b-0fee7e6b16fd}</key>
		<string>{06a7c03e-6474-4a0f-a272-2494607d2434}</string>
		<key>{74b0a66b-12af-4aca-b3a3-5ba7f8b3cf5c}</key>
		<string>{238edbf5-554f-4e2e-a791-05751faf86fa}</string>
		<key>{6ee02aca-0a2e-4182-b226-60d22c2afd34}</key>
		<string>{5e5c9fc7-4ca3-4381-9653-60ea1e3c9758}</string>
		<key>{0e39adbc-04be-4756-b642-0e4e85150932}</key>
		<string>{c37b581c-6ba6-40c1-942e-190d965bccc7}</string>
		<key>{1ead1794-67b0-4e97-b863-8e1a52bfb8ca}</key>
		<string>{7b208439-e96e-46c0-9f0c-8cb4cf573888}</string>
		<key>{90276da6-80b4-4dba-b516-1fd00302d513}</key>
		<string>{8b4b8716-c9c5-4292-962d-2fc96af86101}</string>
		<key>{ac60e46a-0272-40ec-9fd8-a51ea6eb7823}</key>
		<string>{a69da285-693e-46b2-a0ae-91b88a6743a5}</string>
		<key>{6913d6c7-2a91-446e-af02-2a86541c6b08}</key>
		<string>{2287a391-024f-4e40-a061-169b50f0fbcf}</string>
		<key>{0bc610e1-a821-4871-9ecc-d2ab332d43f8}</key>
		<string>{0d94ac6c-bcff-4c43-9dde-060aeed9a8ef}</string>
		<key>{2aeb6eff-730d-49e6-8b3d-bc8ce9f283ae}</key>
		<string>{226a5ddd-530b-4718-a476-2b5fff1a4016}</string>
		<key>{3225624a-c2ab-47b5-a518-5205fcf9e8bb}</key>
		<string>{73bc62ff-48d4-4d33-8b58-4503e62b59ef}</string>
		<key>{49f826f8-cd73-407f-89c3-5eae0749eb44}</key>
		<string>{78c6d8e2-f503-4e79-854c-78c4b89ed6c7}</string>
		<key>{167603f4-94d3-4535-a6ad-0b90de7fda68}</key>
		<string>{508040dc-8acc-4d05-a927-5182209634eb}</string>
		<key>{64d7ffb1-ca7b-4165-a416-81ca5512ca1e}</key>
		<string>{008e9d92-c776-412b-b0d9-4a376fa4cd23}</string>
		<key>{fa04fa52-1dc8-45a4-8ddb-103128688c01}</key>
		<string>{c2d68b94-48c7-484e-b38f-27d00d1c93a1}</string>
		<key>{8dc5ce3d-2481-4e2e-921e-f72ecd2299a2}</key>
		<string>{044fcb02-22d9-46d5-a57d-6af01b946d2d}</string>
		<key>{baef1930-b7de-4bbd-94ad-a1bff7bc1e5f}</key>
		<string>{86765931-2b54-471e-8a70-df929a01e289}</string>
		<key>{a1152ea3-ecda-4c8d-b2be-7c97a0cf431a}</key>
		<string>{a20bcc5c-d6c2-4152-98c6-b28af075ed18}</string>
		<key>{d4d7331e-0555-4d89-8fba-d1d49c89250d}</key>
		<string>{4fdf39ea-c34c-4256-9f5b-79aab75d04bf}</string>
		<key>{19f76764-a7de-4c89-9610-89e8bf8d5e1d}</key>
		<string>{7cec4e26-8207-4d82-8fef-0261cdd99340}</string>
		<key>{247815b8-03e6-4930-a38f-0f638adce294}</key>
		<string>{5f1bf3df-b21c-40fa-95e9-c5d53a882948}</string>
		<key>{36db125e-81b3-41e3-a469-1dae75b4f929}</key>
		<string>{937615b2-6a91-400e-badf-4442997f215c}</string>
		<key>{99798a83-51a7-4e41-998f-f9829b409f57}</key>
		<string>{7cb4681a-6f14-4e31-bce1-505c107cf6f5}</string>
	</dict>
	<key>note_light</key>
	<dict>
		<key>{637a0093-31cd-46e3-88f1-0f64edbe6188}</key>
		<array>
			
			<string>{d58d2ffc-5070-40ed-8c82-b7c0a9805751}</string>
			
			<string>{9d3b3f7f-5363-4f39-9337-3fc671ad4775}</string>
		</array>
		<key>{664a34ce-51ba-47da-8d04-17c305185833}</key>
		<array>
			
			<string>{3bcef8f6-58be-42a9-bdaf-2d5322ecdd31}</string>
			
			<string>{1e346b2e-4a92-43c5-8587-9bb52937c303}</string>
		</array>
		<key>{d8fcc13f-e0ec-4f56-b30f-340a0704c16e}</key>
		<array>
			
			<string>{b95aed16-5271-4ab3-8731-ac0322081a24}</string>
		</array>
		<key>{9b35cc0c-3b40-49cf-8a45-6558e6889b29}</key>
		<array>
			
			<string>{4ee92354-bcff-4107-9b0e-ab8c07631ffa}</string>
		</array>
		<key>{f5aeacaf-96d4-4c03-80a8-24eeb4168a78}</key>
		<array>
			
			<string>{a35d0eff-e186-4ba1-af5d-fb2469f49ee8}</string>
			
			<string>{19d74743-60d0-49df-b6a3-f7a588776dd3}</string>
		</array>
		<key>{6e44ecbd-eac1-45cf-ab83-9801c163dd07}</key>
		<array>
			
			<string>{ca9e18aa-9680-4765-9231-44d2c17c27d3}</string>
		</array>
		<key>{6ab83c1a-8f0b-4745-8f69-3cf526470942}</key>
		<array>
			
			<string>{e1ea8699-fa4e-49f3-97de-75ab0791d5d3}</string>
		</array>
		<key>{318bc392-c9f1-4e36-a904-2cd44dd3fa50}</key>
		<array>
			
			<string>{a80f732c-ba40-484c-8a8a-713990303cf8}</string>
			
			<string>{17a3f59d-08da-4fdf-bbe3-726118afede1}</string>
		</array>
		<key>{e4b4eac0-9cf3-4c4b-b194-dafe62c5f0f7}</key>
		<array>
			
			<string>{ce71da98-7577-4d33-874e-c4dc4e180139}</string>
		</array>
		<key>{5418f6f3-85c7-478a-944a-a7eebe788a4c}</key>
		<array>
			
			<string>{ef52e16f-46e9-472d-9f88-20d20e79e157}</string>
		</array>
		<key>{02ba0a92-c2de-42d1-92e8-8e409b34484b}</key>
		<array>
			
			<string>{a6118394-6054-4251-96b1-7a142ada5656}</string>
		</array>
		<key>{5b1fcf51-2aa5-41a6-872b-b5c99ffc0cf8}</key>
		<array>
			
			<string>{e59fe8d7-14f0-4f7e-a06c-ae9cf76385b5}</string>
		</array>
		<key>{abc3911b-782d-4800-bb5f-48c2e4571a67}</key>
		<array>
			
			<string>{afbe4a9a-60e0-48be-8180-8e587e5ecdae}</string>
		</array>
		<key>{92e12a12-a157-4732-9f72-b9291cf49d9d}</key>
		<array>
			
			<string>{0372ad00-7bc2-4299-b9e5-e3587b13dae6}</string>
		</array>
		<key>{b4b26066-7675-4823-8734-071e3cad5474}</key>
		<array>
			
			<string>{26c9d5cc-2fa5-4187-82f0-88e28114748e}</string>
		</array>
		<key>{99f45a89-1ef4-41b4-9e34-67cc31710d0e}</key>
		<array>
			
			<string>{73aa9f39-4fca-447e-b862-314fc7ace257}</string>
		</array>
		<key>{8fa602a9-6f74-4d5b-8ff4-0ec0141819d2}</key>
		<array>
			
			<string>{49b99aa9-1db0-44a4-b26d-c2cf32bfd863}</string>
		</array>
		<key>{ae8572f4-2797-4fa7-abba-a298b55f015b}</key>
		<array>
			
			<string>{2cfbac54-94e8-4e68-b79f-c000cfbc10ec}</string>
		</array>
		<key>{7bd39f5d-4747-4654-b72b-0fee7e6b16fd}</key>
		<array>
			
			<string>{9f5940a3-1e46-49cc-9ce6-c45e09a07276}</string>
		</array>
		<key>{74b0a66b-12af-4aca-b3a3-5ba7f8b3cf5c}</key>
		<array>
			
			<string>{26771a46-8c53-42cd-9223-66d4ea3823dd}</string>
		</array>
		<key>{6ee02aca-0a2e-4182-b226-60d22c2afd34}</key>
		<array>
			
			<string>{b50a2350-be4c-4e62-860b-9559b7832b20}</string>
			
			<string>{ed3fe109-d24c-4d8a-9457-49d727cf18d7}</string>
		</array>
		<key>{0e39adbc-04be-4756-b642-0e4e85150932}</key>
		<array>
			
			<string>{817029ad-915b-4700-acfc-676fbcce6995}</string>
			
			<string>{81270407-2829-487a-bf99-4f9436878e2a}</string>
		</array>
		<key>{1ead1794-67b0-4e97-b863-8e1a52bfb8ca}</key>
		<array>
			
			<string>{a88d02c8-79f8-4ae6-95c9-96d5aef64de9}</string>
		</array>
		<key>{90276da6-80b4-4dba-b516-1fd00302d513}</key>
		<array>
			
			<string>{22acca52-23f5-4095-8b19-3f9a90b7cdf7}</string>
		</array>
		<key>{ac60e46a-0272-40ec-9fd8-a51ea6eb7823}</key>
		<array>
			
			<string>{ea53201c-fefe-4a5d-bdee-37dabddd7ffe}</string>
			
			<string>{25d1f830-2178-4ada-815f-7bab53b5f881}</string>
		</array>
		<key>{6913d6c7-2a91-446e-af02-2a86541c6b08}</key>
		<array>
			
			<string>{f4ba4b70-36b5-464f-b5fe-8d825966aa78}</string>
		</array>
		<key>{0bc610e1-a821-4871-9ecc-d2ab332d43f8}</key>
		<array>
			
			<string>{a8ed25e9-c15c-4a50-a912-3398fc254b71}</string>
		</array>
		<key>{2aeb6eff-730d-49e6-8b3d-bc8ce9f283ae}</key>
		<array>
			
			<string>{07a460d5-18b1-4be2-ba31-f47036bfc72d}</string>
		</array>
		<key>{3225624a-c2ab-47b5-a518-5205fcf9e8bb}</key>
		<array>
			
			<string>{af567dbf-2167-4400-b35d-153f9cde5eb8}</string>
		</array>
		<key>{49f826f8-cd73-407f-89c3-5eae0749eb44}</key>
		<array>
			
			<string>{fc75e1ad-0e65-47fa-b00e-93c067085d7b}</string>
		</array>
		<key>{167603f4-94d3-4535-a6ad-0b90de7fda68}</key>
		<array>
			
			<string>{9e3ca49c-8d1b-4510-85f9-121cbc0d343c}</string>
		</array>
		<key>{64d7ffb1-ca7b-4165-a416-81ca5512ca1e}</key>
		<array>
			
			<string>{3ac2ee18-6ac0-4d5f-9948-5edf4af5f2e1}</string>
			
			<string>{4f39327b-88f0-4d4b-8426-56a557bcbc62}</string>
		</array>
		<key>{fa04fa52-1dc8-45a4-8ddb-103128688c01}</key>
		<array>
			
			<string>{0e41f743-cca5-437d-a425-227e57eaab6e}</string>
		</array>
		<key>{8dc5ce3d-2481-4e2e-921e-f72ecd2299a2}</key>
		<array>
			
			<string>{3c367b82-a623-48a3-b85f-bf222c5fedde}</string>
		</array>
		<key>{baef1930-b7de-4bbd-94ad-a1bff7bc1e5f}</key>
		<array>
			
			<string>{3fe024f7-2c02-455c-bed9-b0bdc415cefd}</string>
		</array>
		<key>{a1152ea3-ecda-4c8d-b2be-7c97a0cf431a}</key>
		<array>
			
			<string>{23f2a566-1182-4a31-830b-3cf5f27901dd}</string>
			
			<string>{c4aed759-a94b-4334-bb95-6fae9baeb8dc}</string>
		</array>
		<key>{d4d7331e-0555-4d89-8fba-d1d49c89250d}</key>
		<array>
			
			<string>{8f1ca163-c4b2-43e9-ac70-2655c2ac3f83}</string>
		</array>
		<key>{19f76764-a7de-4c89-9610-89e8bf8d5e1d}</key>
		<array>
			
			<string>{a47dd516-abf5-4698-a41a-31640603ba93}</string>
		</array>
		<key>{247815b8-03e6-4930-a38f-0f638adce294}</key>
		<array>
			
			<string>{120e69b5-4d02-47dc-ac8e-8663180b9d09}</string>
		</array>
		<key>{36db125e-81b3-41e3-a469-1dae75b4f929}</key>
		<array>
			
			<string>{58c51d4b-e00e-41e1-b940-2ada6ceb8ac1}</string>
		</array>
		<key>{99798a83-51a7-4e41-998f-f9829b409f57}</key>
		<array>
			
			<string>{775866c6-a4e8-48f0-a916-540019005d80}</string>
		</array>
	</dict>
</dict>
</plist>