<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributes</key>
	<dict>
		<key>time</key>
		<dict>
			<key>beats</key>
			<string>3</string>
			<key>per_minute</key>
			<string>120</string>
			<key>beat_type</key>
			<string>4</string>
		</dict>
		<key>mwidth</key>
		<string>137.757</string>
	</dict>
	<key>notes</key>
	<dict>
		<key>{99798a83-51a7-4e41-998f-f9829b409f57}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{7cb4681a-6f14-4e31-bce1-505c107cf6f5}</string>
		</dict>
		<key>{36db125e-81b3-41e3-a469-1dae75b4f929}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{937615b2-6a91-400e-badf-4442997f215c}</string>
		</dict>
		<key>{247815b8-03e6-4930-a38f-0f638adce294}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{5f1bf3df-b21c-40fa-95e9-c5d53a882948}</string>
		</dict>
		<key>{19f76764-a7de-4c89-9610-89e8bf8d5e1d}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{7cec4e26-8207-4d82-8fef-0261cdd99340}</string>
		</dict>
		<key>{d4d7331e-0555-4d89-8fba-d1d49c89250d}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>alter</key>
			<string>1</string>
			<key>step_id</key>
			<string>{4fdf39ea-c34c-4256-9f5b-79aab75d04bf}</string>
		</dict>
		<key>{a1152ea3-ecda-4c8d-b2be-7c97a0cf431a}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{a20bcc5c-d6c2-4152-98c6-b28af075ed18}</string>
		</dict>
		<key>{baef1930-b7de-4bbd-94ad-a1bff7bc1e5f}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{86765931-2b54-471e-8a70-df929a01e289}</string>
		</dict>
		<key>{8dc5ce3d-2481-4e2e-921e-f72ecd2299a2}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{044fcb02-22d9-46d5-a57d-6af01b946d2d}</string>
		</dict>
		<key>{fa04fa52-1dc8-45a4-8ddb-103128688c01}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{c2d68b94-48c7-484e-b38f-27d00d1c93a1}</string>
		</dict>
		<key>{64d7ffb1-ca7b-4165-a416-81ca5512ca1e}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{008e9d92-c776-412b-b0d9-4a376fa4cd23}</string>
		</dict>
		<key>{167603f4-94d3-4535-a6ad-0b90de7fda68}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{508040dc-8acc-4d05-a927-5182209634eb}</string>
		</dict>
		<key>{49f826f8-cd73-407f-89c3-5eae0749eb44}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{78c6d8e2-f503-4e79-854c-78c4b89ed6c7}</string>
		</dict>
		<key>{3225624a-c2ab-47b5-a518-5205fcf9e8bb}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{73bc62ff-48d4-4d33-8b58-4503e62b59ef}</string>
		</dict>
		<key>{2aeb6eff-730d-49e6-8b3d-bc8ce9f283ae}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{226a5ddd-530b-4718-a476-2b5fff1a4016}</string>
		</dict>
		<key>{0bc610e1-a821-4871-9ecc-d2ab332d43f8}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{0d94ac6c-bcff-4c43-9dde-060aeed9a8ef}</string>
		</dict>
		<key>{6913d6c7-2a91-446e-af02-2a86541c6b08}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>alter</key>
			<string>1</string>
			<key>step_id</key>
			<string>{2287a391-024f-4e40-a061-169b50f0fbcf}</string>
		</dict>
		<key>{ac60e46a-0272-40ec-9fd8-a51ea6eb7823}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{a69da285-693e-46b2-a0ae-91b88a6743a5}</string>
		</dict>
		<key>{90276da6-80b4-4dba-b516-1fd00302d513}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{8b4b8716-c9c5-4292-962d-2fc96af86101}</string>
		</dict>
		<key>{1ead1794-67b0-4e97-b863-8e1a52bfb8ca}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{7b208439-e96e-46c0-9f0c-8cb4cf573888}</string>
		</dict>
		<key>{0e39adbc-04be-4756-b642-0e4e85150932}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{c37b581c-6ba6-40c1-942e-190d965bccc7}</string>
		</dict>
		<key>{6ee02aca-0a2e-4182-b226-60d22c2afd34}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{5e5c9fc7-4ca3-4381-9653-60ea1e3c9758}</string>
		</dict>
		<key>{74b0a66b-12af-4aca-b3a3-5ba7f8b3cf5c}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{238edbf5-554f-4e2e-a791-05751faf86fa}</string>
		</dict>
		<key>{7bd39f5d-4747-4654-b72b-0fee7e6b16fd}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{06a7c03e-6474-4a0f-a272-2494607d2434}</string>
		</dict>
		<key>{ae8572f4-2797-4fa7-abba-a298b55f015b}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{a4d873c5-1494-4d43-affe-c7e25b78a776}</string>
		</dict>
		<key>{8fa602a9-6f74-4d5b-8ff4-0ec0141819d2}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{e230d14c-83ca-4a3a-b82f-82f89e647e08}</string>
		</dict>
		<key>{99f45a89-1ef4-41b4-9e34-67cc31710d0e}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{86af9fa4-b6de-4825-bad9-32aa4649a678}</string>
		</dict>
		<key>{b4b26066-7675-4823-8734-071e3cad5474}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{ee825165-2f42-43de-bcc7-b5cbe2875bfa}</string>
		</dict>
		<key>{92e12a12-a157-4732-9f72-b9291cf49d9d}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>alter</key>
			<string>1</string>
			<key>step_id</key>
			<string>{d2eb06ef-5e3a-4d24-ab07-12f07ed104a1}</string>
		</dict>
		<key>{abc3911b-782d-4800-bb5f-48c2e4571a67}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{387932ea-3abd-4a69-b598-ba94b7bc8f12}</string>
		</dict>
		<key>{5b1fcf51-2aa5-41a6-872b-b5c99ffc0cf8}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{86f3d937-6bce-4ed4-a9fe-9d597194326e}</string>
		</dict>
		<key>{02ba0a92-c2de-42d1-92e8-8e409b34484b}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{bd94fb4a-064d-484a-91f2-52df0bc644c8}</string>
		</dict>
		<key>{5418f6f3-85c7-478a-944a-a7eebe788a4c}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{18a9ebfb-bc6f-49b8-bb9f-7acbec6b0d49}</string>
		</dict>
		<key>{e4b4eac0-9cf3-4c4b-b194-dafe62c5f0f7}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{da8754b9-dd52-4864-aa8d-888736ea5cdb}</string>
		</dict>
		<key>{318bc392-c9f1-4e36-a904-2cd44dd3fa50}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{e030ac20-e3f1-46b9-b379-49d71571c885}</string>
		</dict>
		<key>{6ab83c1a-8f0b-4745-8f69-3cf526470942}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{236ae116-c871-45d4-a15c-a965ee0d6d54}</string>
		</dict>
		<key>{6e44ecbd-eac1-45cf-ab83-9801c163dd07}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>alter</key>
			<string>1</string>
			<key>step_id</key>
			<string>{5d19cbde-8bd6-4b7c-b6a4-36a99574f3cb}</string>
		</dict>
		<key>{f5aeacaf-96d4-4c03-80a8-24eeb4168a78}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{5f906f2e-4daf-4141-9bdd-d38892bab909}</string>
		</dict>
		<key>{9b35cc0c-3b40-49cf-8a45-6558e6889b29}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{bc04092c-64e8-45f4-8682-d9dba9716d5a}</string>
		</dict>
		<key>{d8fcc13f-e0ec-4f56-b30f-340a0704c16e}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{d1c5f75b-e1d9-4c92-91ad-c565fe747f92}</string>
		</dict>
		<key>{664a34ce-51ba-47da-8d04-17c305185833}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{d6ba1174-d4cf-4cec-8e5d-2a85277d2999}</string>
		</dict>
		<key>{637a0093-31cd-46e3-88f1-0f64edbe6188}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{1541acbe-ec38-42ba-b899-eaf367d6431a}</string>
		</dict>
	</dict>
	<key>rests</key>
	<dict>
		<key>{f48f54e2-8750-4f52-9ae2-1da69baf11fa}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
		</dict>
		<key>{9effe921-0c6f-4cc9-8aa9-a73936bb95eb}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
		</dict>
		<key>{2195f5e4-96af-4f2e-be25-c5ed428c29ff}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
		</dict>
		<key>{1379e409-2a62-4265-8363-16856c6188e8}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
		</dict>
		<key>{0217693f-b838-47fb-9448-3e670ed73ce8}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
		</dict>
		<key>{2a53e50c-0f2f-4a6c-b6db-c3d9109986a2}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
		</dict>
		<key>{7ccd2744-c8a4-4231-80f0-794fb343c7fb}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
		</dict>
		<key>{9e473463-ec67-4ab4-8e5d-d99cbc577c46}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
		</dict>
		<key>{aef6e3f3-5afe-45ef-982a-821e664029b6}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
		</dict>
		<key>{803cfb29-8242-4a86-b405-50837bf6c525}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
		</dict>
		<key>{6b81117b-8fec-4984-9571-6e43706b8c89}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
		</dict>
		<key>{80a00576-8dc2-4a5f-8863-8ce411feb9fe}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
		</dict>
		<key>{91f3f296-0402-419b-96aa-c73cd0fb6e57}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
		</dict>
		<key>{0c2639bd-c6ca-4b78-8d95-4d8945cadec9}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
		</dict>
		<key>{b44cc50a-f1a2-4548-b8fb-6114bbac2a92}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
		</dict>
		<key>{2b7b904b-7b3d-48e6-b163-b3fb17085594}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
		</dict>
		<key>{451be924-d18a-4973-b893-b95257916a85}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
		</dict>
		<key>{b9fb2ab9-a21d-4499-b88d-23ffca65bdba}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
		</dict>
		<key>{00cb3c26-4de0-4399-8012-58b454ec2a19}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
		</dict>
		<key>{ae21c544-9d05-420e-8449-fb51ef6e02af}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
		</dict>
		<key>{683b9875-1223-490d-993f-fb93f84bf4c7}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
		</dict>
		<key>{b9b14e09-f340-4b7d-b4b0-acde3ca80ae8}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
		</dict>
		<key>{d20c794b-a361-44a1-a232-06bfa1973258}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
		</dict>
		<key>{1117ec66-49d2-4a5c-a3f1-98b5e8541d7d}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
		</dict>
		<key>{e6c75711-c283-41b5-b8ac-da121cc5c3ba}</key>
		<dict>
			<key>duration</key>
			<string>1.5</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
		</dict>
	</dict>
	<key>events</key>
	<dict>
		<key>0</key>
		<dict>
			<key>elid</key>
			<string>0</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>0</string>
			<key>identifys</key>
			<array>
				
				<string>rest_{f48f54e2-8750-4f52-9ae2-1da69baf11fa}</string>
				
				<string>rest_{9effe921-0c6f-4cc9-8aa9-a73936bb95eb}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>elid</key>
			<string>1</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>1500</string>
			<key>identifys</key>
			<array>
				
				<string>rest_{2195f5e4-96af-4f2e-be25-c5ed428c29ff}</string>
				
				<string>rest_{1379e409-2a62-4265-8363-16856c6188e8}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>elid</key>
			<string>2</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>3000</string>
			<key>identifys</key>
			<array>
				
				<string>rest_{0217693f-b838-47fb-9448-3e670ed73ce8}</string>
				
				<string>rest_{2a53e50c-0f2f-4a6c-b6db-c3d9109986a2}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>elid</key>
			<string>3</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>4500</string>
			<key>identifys</key>
			<array>
				
				<string>rest_{7ccd2744-c8a4-4231-80f0-794fb343c7fb}</string>
				
				<string>rest_{9e473463-ec67-4ab4-8e5d-d99cbc577c46}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>elid</key>
			<string>4</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>6000</string>
			<key>identifys</key>
			<array>
				
				<string>note_{99798a83-51a7-4e41-998f-f9829b409f57}</string>
				
				<string>rest_{aef6e3f3-5afe-45ef-982a-821e664029b6}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>elid</key>
			<string>5</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>7000</string>
			<key>identifys</key>
			<array>
				
				<string>note_{36db125e-81b3-41e3-a469-1dae75b4f929}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>elid</key>
			<string>6</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>7500</string>
			<key>identifys</key>
			<array>
				
				<string>note_{247815b8-03e6-4930-a38f-0f638adce294}</string>
				
				<string>rest_{803cfb29-8242-4a86-b405-50837bf6c525}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>elid</key>
			<string>7</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>8500</string>
			<key>identifys</key>
			<array>
				
				<string>note_{19f76764-a7de-4c89-9610-89e8bf8d5e1d}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>elid</key>
			<string>8</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>9000</string>
			<key>identifys</key>
			<array>
				
				<string>note_{d4d7331e-0555-4d89-8fba-d1d49c89250d}</string>
				
				<string>note_{a1152ea3-ecda-4c8d-b2be-7c97a0cf431a}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>elid</key>
			<string>9</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>9500</string>
			<key>identifys</key>
			<array>
				
				<string>note_{baef1930-b7de-4bbd-94ad-a1bff7bc1e5f}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>elid</key>
			<string>10</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>10000</string>
			<key>identifys</key>
			<array>
				
				<string>note_{8dc5ce3d-2481-4e2e-921e-f72ecd2299a2}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>11</key>
		<dict>
			<key>elid</key>
			<string>11</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>10500</string>
			<key>identifys</key>
			<array>
				
				<string>note_{fa04fa52-1dc8-45a4-8ddb-103128688c01}</string>
				
				<string>note_{64d7ffb1-ca7b-4165-a416-81ca5512ca1e}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>12</key>
		<dict>
			<key>elid</key>
			<string>12</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>11500</string>
			<key>identifys</key>
			<array>
				
				<string>note_{167603f4-94d3-4535-a6ad-0b90de7fda68}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>13</key>
		<dict>
			<key>elid</key>
			<string>13</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>12000</string>
			<key>identifys</key>
			<array>
				
				<string>note_{49f826f8-cd73-407f-89c3-5eae0749eb44}</string>
				
				<string>rest_{6b81117b-8fec-4984-9571-6e43706b8c89}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>14</key>
		<dict>
			<key>elid</key>
			<string>14</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>13000</string>
			<key>identifys</key>
			<array>
				
				<string>note_{3225624a-c2ab-47b5-a518-5205fcf9e8bb}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>15</key>
		<dict>
			<key>elid</key>
			<string>15</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>13500</string>
			<key>identifys</key>
			<array>
				
				<string>note_{2aeb6eff-730d-49e6-8b3d-bc8ce9f283ae}</string>
				
				<string>rest_{80a00576-8dc2-4a5f-8863-8ce411feb9fe}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>16</key>
		<dict>
			<key>elid</key>
			<string>16</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>14500</string>
			<key>identifys</key>
			<array>
				
				<string>note_{0bc610e1-a821-4871-9ecc-d2ab332d43f8}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>17</key>
		<dict>
			<key>elid</key>
			<string>17</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>15000</string>
			<key>identifys</key>
			<array>
				
				<string>note_{6913d6c7-2a91-446e-af02-2a86541c6b08}</string>
				
				<string>note_{ac60e46a-0272-40ec-9fd8-a51ea6eb7823}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>18</key>
		<dict>
			<key>elid</key>
			<string>18</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>15500</string>
			<key>identifys</key>
			<array>
				
				<string>note_{90276da6-80b4-4dba-b516-1fd00302d513}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>19</key>
		<dict>
			<key>elid</key>
			<string>19</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>16000</string>
			<key>identifys</key>
			<array>
				
				<string>note_{1ead1794-67b0-4e97-b863-8e1a52bfb8ca}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>20</key>
		<dict>
			<key>elid</key>
			<string>20</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>16500</string>
			<key>identifys</key>
			<array>
				
				<string>note_{0e39adbc-04be-4756-b642-0e4e85150932}</string>
				
				<string>note_{6ee02aca-0a2e-4182-b226-60d22c2afd34}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>21</key>
		<dict>
			<key>elid</key>
			<string>21</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>18000</string>
			<key>identifys</key>
			<array>
				
				<string>note_{74b0a66b-12af-4aca-b3a3-5ba7f8b3cf5c}</string>
				
				<string>rest_{91f3f296-0402-419b-96aa-c73cd0fb6e57}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>22</key>
		<dict>
			<key>elid</key>
			<string>22</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>19000</string>
			<key>identifys</key>
			<array>
				
				<string>note_{7bd39f5d-4747-4654-b72b-0fee7e6b16fd}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>23</key>
		<dict>
			<key>elid</key>
			<string>23</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>19500</string>
			<key>identifys</key>
			<array>
				
				<string>note_{ae8572f4-2797-4fa7-abba-a298b55f015b}</string>
				
				<string>rest_{0c2639bd-c6ca-4b78-8d95-4d8945cadec9}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>24</key>
		<dict>
			<key>elid</key>
			<string>24</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>20500</string>
			<key>identifys</key>
			<array>
				
				<string>note_{8fa602a9-6f74-4d5b-8ff4-0ec0141819d2}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>25</key>
		<dict>
			<key>elid</key>
			<string>25</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>21000</string>
			<key>identifys</key>
			<array>
				
				<string>note_{99f45a89-1ef4-41b4-9e34-67cc31710d0e}</string>
				
				<string>rest_{b44cc50a-f1a2-4548-b8fb-6114bbac2a92}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>26</key>
		<dict>
			<key>elid</key>
			<string>26</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>21500</string>
			<key>identifys</key>
			<array>
				
				<string>note_{b4b26066-7675-4823-8734-071e3cad5474}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>27</key>
		<dict>
			<key>elid</key>
			<string>27</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>22000</string>
			<key>identifys</key>
			<array>
				
				<string>note_{92e12a12-a157-4732-9f72-b9291cf49d9d}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>28</key>
		<dict>
			<key>elid</key>
			<string>28</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>22500</string>
			<key>identifys</key>
			<array>
				
				<string>note_{abc3911b-782d-4800-bb5f-48c2e4571a67}</string>
				
				<string>rest_{2b7b904b-7b3d-48e6-b163-b3fb17085594}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>29</key>
		<dict>
			<key>elid</key>
			<string>29</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>23500</string>
			<key>identifys</key>
			<array>
				
				<string>note_{5b1fcf51-2aa5-41a6-872b-b5c99ffc0cf8}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>30</key>
		<dict>
			<key>elid</key>
			<string>30</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>24000</string>
			<key>identifys</key>
			<array>
				
				<string>note_{02ba0a92-c2de-42d1-92e8-8e409b34484b}</string>
				
				<string>rest_{451be924-d18a-4973-b893-b95257916a85}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>31</key>
		<dict>
			<key>elid</key>
			<string>31</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>25000</string>
			<key>identifys</key>
			<array>
				
				<string>note_{5418f6f3-85c7-478a-944a-a7eebe788a4c}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>32</key>
		<dict>
			<key>elid</key>
			<string>32</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>25500</string>
			<key>identifys</key>
			<array>
				
				<string>note_{e4b4eac0-9cf3-4c4b-b194-dafe62c5f0f7}</string>
				
				<string>note_{318bc392-c9f1-4e36-a904-2cd44dd3fa50}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>33</key>
		<dict>
			<key>elid</key>
			<string>33</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>26500</string>
			<key>identifys</key>
			<array>
				
				<string>note_{6ab83c1a-8f0b-4745-8f69-3cf526470942}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>34</key>
		<dict>
			<key>elid</key>
			<string>34</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>27000</string>
			<key>identifys</key>
			<array>
				
				<string>note_{6e44ecbd-eac1-45cf-ab83-9801c163dd07}</string>
				
				<string>note_{f5aeacaf-96d4-4c03-80a8-24eeb4168a78}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>35</key>
		<dict>
			<key>elid</key>
			<string>35</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>27500</string>
			<key>identifys</key>
			<array>
				
				<string>note_{9b35cc0c-3b40-49cf-8a45-6558e6889b29}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>36</key>
		<dict>
			<key>elid</key>
			<string>36</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>28000</string>
			<key>identifys</key>
			<array>
				
				<string>note_{d8fcc13f-e0ec-4f56-b30f-340a0704c16e}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>37</key>
		<dict>
			<key>elid</key>
			<string>37</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>28500</string>
			<key>identifys</key>
			<array>
				
				<string>note_{664a34ce-51ba-47da-8d04-17c305185833}</string>
				
				<string>note_{637a0093-31cd-46e3-88f1-0f64edbe6188}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>38</key>
		<dict>
			<key>elid</key>
			<string>38</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>30000</string>
			<key>identifys</key>
			<array>
				
				<string>rest_{b9fb2ab9-a21d-4499-b88d-23ffca65bdba}</string>
				
				<string>rest_{00cb3c26-4de0-4399-8012-58b454ec2a19}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>39</key>
		<dict>
			<key>elid</key>
			<string>39</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>31500</string>
			<key>identifys</key>
			<array>
				
				<string>rest_{ae21c544-9d05-420e-8449-fb51ef6e02af}</string>
				
				<string>rest_{683b9875-1223-490d-993f-fb93f84bf4c7}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>40</key>
		<dict>
			<key>elid</key>
			<string>40</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>33000</string>
			<key>identifys</key>
			<array>
				
				<string>rest_{b9b14e09-f340-4b7d-b4b0-acde3ca80ae8}</string>
				
				<string>rest_{d20c794b-a361-44a1-a232-06bfa1973258}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>41</key>
		<dict>
			<key>elid</key>
			<string>41</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>34500</string>
			<key>identifys</key>
			<array>
				
				<string>rest_{1117ec66-49d2-4a5c-a3f1-98b5e8541d7d}</string>
				
				<string>rest_{e6c75711-c283-41b5-b8ac-da121cc5c3ba}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>42</key>
		<dict>
			<key>elid</key>
			<string>-2</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>36000</string>
			<key>identifys</key>
			<array>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>metronomes</key>
	<dict>
		<key>0</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>1000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>1500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>2000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>2500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>3000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>3500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>4000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>4500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>5000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>5500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>6000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>6500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>7000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>7500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>8000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>8500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>9000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>9500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>10000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>10500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>11000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>11500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>12000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>12500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>13000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>13500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>14000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>14500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>15000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>15500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>16000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>16500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>17000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>17500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>18000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>18500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>19000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>19500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>20000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>20500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>21000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>21500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>22000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>22500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>23000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>23500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>24000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>24500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>25000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>25500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>26000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>26500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>27000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>27500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>28000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>28500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>29000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>29500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>30000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>30500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>31000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>31500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>32000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>32500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>33000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>33500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>34000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>34500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>35000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>35500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
	</dict>
</dict>
</plist>