<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>99.1733</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>135.035</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>240.208</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>276.07</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>381.243</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>417.105</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>522.279</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>558.141</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>663.314</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>699.176</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{13bddee4-177e-448b-bf78-30ec9d419a2d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{517579a7-a976-4f63-bc8e-f1ae2ce13c0b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1039eb0a-36af-47ce-90f1-ad28e106c1b4}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{63f87b08-e036-4dab-ac3d-aac4b18d1b11}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b6dae5c3-96c4-4c4f-ab7f-f976553730d9}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{341f4374-74ec-4d89-92a8-22edcbcd8766}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f6e22049-9ca1-4fc1-be55-78803de97f49}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{9d778c4b-847c-49eb-a453-e8e722253631}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{d875610b-f7e3-443b-a8bf-fc9c8474e1dc}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f81af652-e54c-4b63-9994-e3e19c1ef836}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{bf000280-1746-4956-922f-ab089fe48172}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{dc97a78d-b3dd-49a7-bd46-546cbce34cbe}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{5608382d-b056-4905-9b44-11147682c498}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{dcb03cf0-0b8b-4044-a334-7585abb1973a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ab5c9ad0-f854-40e9-ab70-fc50a321609d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8cf7788a-12c3-45a2-aad1-b2d115dc1b7b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{5c87a86a-a1f9-411f-b7ef-4b38076d5e43}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e43a690b-6689-41b6-b283-3f38ff2767c6}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{334b7551-1a44-405d-bdd4-a5333c38882a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{cad05cb3-a5f1-42c2-a681-0f6fb2b0142a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{bfc08c0c-d8f3-42d5-88e2-842043d0d739}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{48ab8be9-9217-466b-b985-85968d43208f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{87b2bd78-cc01-4466-b360-1487550d805a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e87f88fc-61ca-468a-a2ff-2ef85fb138fd}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1802500d-3914-4f8f-a3bf-1d3a8d084c1c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7509511e-fb89-4f2f-9659-e35ccdc1050c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8984e466-70bc-43ea-a28c-20bfa6c24bef}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{2a3d954a-ff1b-4a5d-acc4-60c41b9f03d7}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{5a7cc323-174f-40f2-8280-f5529b111d77}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{0e6e9b5b-dbc7-4a73-9dcd-e5e6592d2d8b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{0dc763d1-7188-4f28-a0f7-cef5f09be133}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{60cc39bc-49fb-42f8-adf6-d24ea633fe89}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a4cfe167-2f4b-4fc8-b324-0a737b530094}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{53c799d6-42ae-4668-ad8d-3474785b9786}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6191a0a0-fc44-4dda-ba3c-4ba55727e7da}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ee9338af-b7f4-4351-a31b-b8160dc2ace9}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f8333150-d7a0-456f-adec-a48a4be60195}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e64d365b-35dd-4007-8958-424b336ef70b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ab174653-1669-4aed-85ba-fe5a4cb30721}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{d62b24dc-d8e8-49a9-bf61-f81dc01e604e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{056ca028-00bc-4da9-91c9-d7b2ef324e59}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{cb765868-cfb9-419f-9320-6152c450511a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{23c0fb57-c800-4bfd-8f67-08e92a486660}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7656774f-2b21-45d7-9d3b-6e8e3aacc850}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f9028504-d671-4c89-ade9-2150cabb2e32}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e51d38ce-e1d8-4d17-9e7b-08ebc45dc98a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e6cbd917-8b1d-45bd-8286-298b71598ac6}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{aad6fe1f-edc9-42c8-9620-3222079d1859}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{fbcf9298-63c3-4a2c-a548-135e40351f20}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a791bcd4-25f2-4e65-8402-4ae01176afce}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{d8634328-0895-43a7-abf7-ea17bbff6674}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f61593e8-4b7d-479f-af14-c6fc984f3499}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b93dc97b-76e7-4da9-8cf2-44ad966c7c55}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8b1fba06-dbda-4b2b-baf1-6a5284749cd7}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c62c0873-36c0-473b-ab7f-a3e47c81497f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ec83c868-1f60-4e46-9961-8ba60fbf71a5}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{29baa64d-e289-40e0-bce6-fc9ff9291776}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{24e0b4f9-2485-4d43-ae9f-efcaff536ace}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{93cfe820-22e6-41e4-b111-90f9da0c2c76}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{fd36f528-a51e-4718-88af-8f1b618bd468}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{664c4938-922a-4e39-8230-ec6d2b34a8fc}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{d4d78d65-8e47-4bbf-b917-c78c21a14387}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{01721a07-d292-49ca-91ce-9fbfc6d71de2}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{dfe6a2f2-a36c-443a-bac1-a60bc6cddfe7}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1582841e-e2f1-4b90-b697-9684732cec8f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{919b8b54-7356-4747-b356-29422d82b5b5}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c43d95b3-125a-453c-ac7e-a73275f387d3}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{493d8baf-c087-4316-9264-764959ea3134}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{4376c498-e8a6-4773-aa0a-8ea44453d859}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a06071b1-6d58-4676-9426-c469e1094d56}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{91cfcc4e-aa72-4504-871b-b2cf62272d2c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1bc85a9b-1634-4a3f-9a56-aced36365e80}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1f07c1ed-7ca8-4901-977c-4ffb6d67fc26}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a87f2f13-deef-43ad-915f-2488e9699a16}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a3be3502-c602-4b75-a4f6-f30a0ba6f4ab}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{cfb352d6-1755-4852-b4a5-93f1e9314ca9}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{704514f5-3cff-4670-8e51-486a834949b5}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a223b3e0-92ae-4585-8dac-451dd7c7147c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c19d4d53-b38a-47a3-a3bd-4350a2962c6a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{5d98971a-5577-41b1-bb1c-0c76670fc25b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f8ffa152-c382-42b5-9737-4eda057b192d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8eba4238-6f1d-49c3-b18a-6c52f4a4da0f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{5a73818a-fed7-437a-b07b-fc469b4eb4e7}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c9778b09-3ba8-474e-970d-335f0402e0df}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{947256c5-5b3c-4fbf-a372-7ac7b3c6063c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{74a679ba-3ef6-4ab2-a9c3-758c81b4bd5b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6930597a-036d-4682-9c75-0ec74ee4779a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6d7c8be5-f57e-4f6d-8dd5-d7c23769c764}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{2b202956-ee45-4ad0-9176-47415e446107}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{75a2f45b-6fea-4a1a-8aa6-37f8aae6430d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{86303ad6-c6b0-43ca-9ca7-1ae60a829711}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{9c143891-98ae-421c-a910-5daa64d23a6c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{3fba8b3d-e874-436a-bc40-9fea3d165ef9}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7eba6856-3bb3-495f-8f99-717c7c15b2ef}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7896e99b-dec0-4815-b7ee-c5d3ccb99a89}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{aa50e2c2-4606-4511-9a77-7d5b5a2d9169}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e2316e69-bf23-4fbe-b6ca-9e08710e2ab4}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1d004515-6a57-4e55-bbe1-ddd0a446eccb}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{117663d1-ee22-4453-891f-efb392805b16}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{3455cb64-5b0a-496f-a5a9-e50797c1c2dc}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{cacfc718-5967-4160-9ef1-09fdb840f5ca}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8dae1070-7f00-4448-b7af-a9ae040f521e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{517579a7-a976-4f63-bc8e-f1ae2ce13c0b}</key>
		<dict>
			<key>x1</key>
			<string>179.596</string>
			<key>y1</key>
			<string>721.598</string>
			<key>x2</key>
			<string>179.596</string>
			<key>y2</key>
			<string>741.439</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{13bddee4-177e-448b-bf78-30ec9d419a2d}</key>
		<dict>
			<key>x1</key>
			<string>179.596</string>
			<key>y1</key>
			<string>721.598</string>
			<key>x2</key>
			<string>179.596</string>
			<key>y2</key>
			<string>741.439</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{1039eb0a-36af-47ce-90f1-ad28e106c1b4}</key>
		<dict>
			<key>x1</key>
			<string>185.89</string>
			<key>y1</key>
			<string>685.046</string>
			<key>x2</key>
			<string>185.89</string>
			<key>y2</key>
			<string>668.314</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{63f87b08-e036-4dab-ac3d-aac4b18d1b11}</key>
		<dict>
			<key>x1</key>
			<string>150.942</string>
			<key>y1</key>
			<string>682.375</string>
			<key>x2</key>
			<string>150.942</string>
			<key>y2</key>
			<string>668.314</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{b6dae5c3-96c4-4c4f-ab7f-f976553730d9}</key>
		<dict>
			<key>x1</key>
			<string>126.363</string>
			<key>y1</key>
			<string>679.875</string>
			<key>x2</key>
			<string>126.363</string>
			<key>y2</key>
			<string>667.064</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{341f4374-74ec-4d89-92a8-22edcbcd8766}</key>
		<dict>
			<key>x1</key>
			<string>101.784</string>
			<key>y1</key>
			<string>677.375</string>
			<key>x2</key>
			<string>101.784</string>
			<key>y2</key>
			<string>663.314</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{9d778c4b-847c-49eb-a453-e8e722253631}</key>
		<dict>
			<key>x1</key>
			<string>71.0918</string>
			<key>y1</key>
			<string>724.098</string>
			<key>x2</key>
			<string>71.0918</string>
			<key>y2</key>
			<string>741.439</string>
			<key>height</key>
			<string>18.125</string>
		</dict>
		<key>{f6e22049-9ca1-4fc1-be55-78803de97f49}</key>
		<dict>
			<key>x1</key>
			<string>71.0918</string>
			<key>y1</key>
			<string>724.098</string>
			<key>x2</key>
			<string>71.0918</string>
			<key>y2</key>
			<string>741.439</string>
			<key>height</key>
			<string>18.125</string>
		</dict>
		<key>{d875610b-f7e3-443b-a8bf-fc9c8474e1dc}</key>
		<dict>
			<key>x1</key>
			<string>77.2051</string>
			<key>y1</key>
			<string>682.375</string>
			<key>x2</key>
			<string>77.2051</string>
			<key>y2</key>
			<string>668.314</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{f81af652-e54c-4b63-9994-e3e19c1ef836}</key>
		<dict>
			<key>x1</key>
			<string>546.517</string>
			<key>y1</key>
			<string>543.84</string>
			<key>x2</key>
			<string>546.517</string>
			<key>y2</key>
			<string>528.529</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{bf000280-1746-4956-922f-ab089fe48172}</key>
		<dict>
			<key>x1</key>
			<string>520.483</string>
			<key>y1</key>
			<string>538.84</string>
			<key>x2</key>
			<string>520.483</string>
			<key>y2</key>
			<string>526.029</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{5608382d-b056-4905-9b44-11147682c498}</key>
		<dict>
			<key>x1</key>
			<string>472.714</string>
			<key>y1</key>
			<string>580.563</string>
			<key>x2</key>
			<string>472.714</string>
			<key>y2</key>
			<string>600.404</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{dc97a78d-b3dd-49a7-bd46-546cbce34cbe}</key>
		<dict>
			<key>x1</key>
			<string>472.714</string>
			<key>y1</key>
			<string>580.563</string>
			<key>x2</key>
			<string>472.714</string>
			<key>y2</key>
			<string>600.404</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{dcb03cf0-0b8b-4044-a334-7585abb1973a}</key>
		<dict>
			<key>x1</key>
			<string>478.828</string>
			<key>y1</key>
			<string>533.84</string>
			<key>x2</key>
			<string>478.828</string>
			<key>y2</key>
			<string>518.529</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{ab5c9ad0-f854-40e9-ab70-fc50a321609d}</key>
		<dict>
			<key>x1</key>
			<string>442.605</string>
			<key>y1</key>
			<string>531.34</string>
			<key>x2</key>
			<string>442.605</string>
			<key>y2</key>
			<string>517.279</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{8cf7788a-12c3-45a2-aad1-b2d115dc1b7b}</key>
		<dict>
			<key>x1</key>
			<string>416.571</string>
			<key>y1</key>
			<string>538.84</string>
			<key>x2</key>
			<string>416.571</string>
			<key>y2</key>
			<string>522.279</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{e43a690b-6689-41b6-b283-3f38ff2767c6}</key>
		<dict>
			<key>x1</key>
			<string>368.802</string>
			<key>y1</key>
			<string>580.563</string>
			<key>x2</key>
			<string>368.802</string>
			<key>y2</key>
			<string>600.404</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{5c87a86a-a1f9-411f-b7ef-4b38076d5e43}</key>
		<dict>
			<key>x1</key>
			<string>368.802</string>
			<key>y1</key>
			<string>580.563</string>
			<key>x2</key>
			<string>368.802</string>
			<key>y2</key>
			<string>600.404</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{334b7551-1a44-405d-bdd4-a5333c38882a}</key>
		<dict>
			<key>x1</key>
			<string>374.916</string>
			<key>y1</key>
			<string>533.84</string>
			<key>x2</key>
			<string>374.916</string>
			<key>y2</key>
			<string>518.529</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{cad05cb3-a5f1-42c2-a681-0f6fb2b0142a}</key>
		<dict>
			<key>x1</key>
			<string>326.859</string>
			<key>y1</key>
			<string>543.84</string>
			<key>x2</key>
			<string>326.859</string>
			<key>y2</key>
			<string>527.279</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{bfc08c0c-d8f3-42d5-88e2-842043d0d739}</key>
		<dict>
			<key>x1</key>
			<string>303.191</string>
			<key>y1</key>
			<string>541.34</string>
			<key>x2</key>
			<string>303.191</string>
			<key>y2</key>
			<string>527.279</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{87b2bd78-cc01-4466-b360-1487550d805a}</key>
		<dict>
			<key>x1</key>
			<string>273.41</string>
			<key>y1</key>
			<string>580.563</string>
			<key>x2</key>
			<string>273.41</string>
			<key>y2</key>
			<string>600.404</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{48ab8be9-9217-466b-b985-85968d43208f}</key>
		<dict>
			<key>x1</key>
			<string>273.41</string>
			<key>y1</key>
			<string>580.563</string>
			<key>x2</key>
			<string>273.41</string>
			<key>y2</key>
			<string>600.404</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{e87f88fc-61ca-468a-a2ff-2ef85fb138fd}</key>
		<dict>
			<key>x1</key>
			<string>279.523</string>
			<key>y1</key>
			<string>538.84</string>
			<key>x2</key>
			<string>279.523</string>
			<key>y2</key>
			<string>526.029</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{1802500d-3914-4f8f-a3bf-1d3a8d084c1c}</key>
		<dict>
			<key>x1</key>
			<string>246.075</string>
			<key>y1</key>
			<string>536.34</string>
			<key>x2</key>
			<string>246.075</string>
			<key>y2</key>
			<string>522.279</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{7509511e-fb89-4f2f-9659-e35ccdc1050c}</key>
		<dict>
			<key>x1</key>
			<string>222.816</string>
			<key>y1</key>
			<string>536.34</string>
			<key>x2</key>
			<string>222.816</string>
			<key>y2</key>
			<string>522.279</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{8984e466-70bc-43ea-a28c-20bfa6c24bef}</key>
		<dict>
			<key>x1</key>
			<string>199.557</string>
			<key>y1</key>
			<string>541.34</string>
			<key>x2</key>
			<string>199.557</string>
			<key>y2</key>
			<string>527.279</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{5a7cc323-174f-40f2-8280-f5529b111d77}</key>
		<dict>
			<key>x1</key>
			<string>170.184</string>
			<key>y1</key>
			<string>583.063</string>
			<key>x2</key>
			<string>170.184</string>
			<key>y2</key>
			<string>600.404</string>
			<key>height</key>
			<string>18.125</string>
		</dict>
		<key>{2a3d954a-ff1b-4a5d-acc4-60c41b9f03d7}</key>
		<dict>
			<key>x1</key>
			<string>170.184</string>
			<key>y1</key>
			<string>583.063</string>
			<key>x2</key>
			<string>170.184</string>
			<key>y2</key>
			<string>600.404</string>
			<key>height</key>
			<string>18.125</string>
		</dict>
		<key>{0e6e9b5b-dbc7-4a73-9dcd-e5e6592d2d8b}</key>
		<dict>
			<key>x1</key>
			<string>176.298</string>
			<key>y1</key>
			<string>541.34</string>
			<key>x2</key>
			<string>176.298</string>
			<key>y2</key>
			<string>527.279</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{0dc763d1-7188-4f28-a0f7-cef5f09be133}</key>
		<dict>
			<key>x1</key>
			<string>125.51</string>
			<key>y1</key>
			<string>533.84</string>
			<key>x2</key>
			<string>125.51</string>
			<key>y2</key>
			<string>518.529</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{60cc39bc-49fb-42f8-adf6-d24ea633fe89}</key>
		<dict>
			<key>x1</key>
			<string>102.065</string>
			<key>y1</key>
			<string>538.84</string>
			<key>x2</key>
			<string>102.065</string>
			<key>y2</key>
			<string>523.529</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{53c799d6-42ae-4668-ad8d-3474785b9786}</key>
		<dict>
			<key>x1</key>
			<string>72.5059</string>
			<key>y1</key>
			<string>580.563</string>
			<key>x2</key>
			<string>72.5059</string>
			<key>y2</key>
			<string>600.404</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{a4cfe167-2f4b-4fc8-b324-0a737b530094}</key>
		<dict>
			<key>x1</key>
			<string>72.5059</string>
			<key>y1</key>
			<string>580.563</string>
			<key>x2</key>
			<string>72.5059</string>
			<key>y2</key>
			<string>600.404</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{6191a0a0-fc44-4dda-ba3c-4ba55727e7da}</key>
		<dict>
			<key>x1</key>
			<string>78.6191</string>
			<key>y1</key>
			<string>538.84</string>
			<key>x2</key>
			<string>78.6191</string>
			<key>y2</key>
			<string>523.529</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{ee9338af-b7f4-4351-a31b-b8160dc2ace9}</key>
		<dict>
			<key>x1</key>
			<string>547.463</string>
			<key>y1</key>
			<string>395.304</string>
			<key>x2</key>
			<string>547.463</string>
			<key>y2</key>
			<string>381.243</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{f8333150-d7a0-456f-adec-a48a4be60195}</key>
		<dict>
			<key>x1</key>
			<string>522.375</string>
			<key>y1</key>
			<string>395.304</string>
			<key>x2</key>
			<string>522.375</string>
			<key>y2</key>
			<string>381.243</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{e64d365b-35dd-4007-8958-424b336ef70b}</key>
		<dict>
			<key>x1</key>
			<string>497.288</string>
			<key>y1</key>
			<string>400.304</string>
			<key>x2</key>
			<string>497.288</string>
			<key>y2</key>
			<string>386.243</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{d62b24dc-d8e8-49a9-bf61-f81dc01e604e}</key>
		<dict>
			<key>x1</key>
			<string>466.086</string>
			<key>y1</key>
			<string>442.028</string>
			<key>x2</key>
			<string>466.086</string>
			<key>y2</key>
			<string>459.369</string>
			<key>height</key>
			<string>18.125</string>
		</dict>
		<key>{ab174653-1669-4aed-85ba-fe5a4cb30721}</key>
		<dict>
			<key>x1</key>
			<string>466.086</string>
			<key>y1</key>
			<string>442.028</string>
			<key>x2</key>
			<string>466.086</string>
			<key>y2</key>
			<string>459.369</string>
			<key>height</key>
			<string>18.125</string>
		</dict>
		<key>{056ca028-00bc-4da9-91c9-d7b2ef324e59}</key>
		<dict>
			<key>x1</key>
			<string>472.2</string>
			<key>y1</key>
			<string>400.304</string>
			<key>x2</key>
			<string>472.2</string>
			<key>y2</key>
			<string>386.243</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{cb765868-cfb9-419f-9320-6152c450511a}</key>
		<dict>
			<key>x1</key>
			<string>430.859</string>
			<key>y1</key>
			<string>402.804</string>
			<key>x2</key>
			<string>430.859</string>
			<key>y2</key>
			<string>387.493</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{23c0fb57-c800-4bfd-8f67-08e92a486660}</key>
		<dict>
			<key>x1</key>
			<string>402.793</string>
			<key>y1</key>
			<string>397.804</string>
			<key>x2</key>
			<string>402.793</string>
			<key>y2</key>
			<string>384.993</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{f9028504-d671-4c89-ade9-2150cabb2e32}</key>
		<dict>
			<key>x1</key>
			<string>351.774</string>
			<key>y1</key>
			<string>439.528</string>
			<key>x2</key>
			<string>351.774</string>
			<key>y2</key>
			<string>459.369</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{7656774f-2b21-45d7-9d3b-6e8e3aacc850}</key>
		<dict>
			<key>x1</key>
			<string>351.774</string>
			<key>y1</key>
			<string>439.528</string>
			<key>x2</key>
			<string>351.774</string>
			<key>y2</key>
			<string>459.369</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{e51d38ce-e1d8-4d17-9e7b-08ebc45dc98a}</key>
		<dict>
			<key>x1</key>
			<string>357.887</string>
			<key>y1</key>
			<string>392.804</string>
			<key>x2</key>
			<string>357.887</string>
			<key>y2</key>
			<string>377.493</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{e6cbd917-8b1d-45bd-8286-298b71598ac6}</key>
		<dict>
			<key>x1</key>
			<string>319.632</string>
			<key>y1</key>
			<string>390.304</string>
			<key>x2</key>
			<string>319.632</string>
			<key>y2</key>
			<string>376.243</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{aad6fe1f-edc9-42c8-9620-3222079d1859}</key>
		<dict>
			<key>x1</key>
			<string>291.566</string>
			<key>y1</key>
			<string>397.804</string>
			<key>x2</key>
			<string>291.566</string>
			<key>y2</key>
			<string>381.243</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{a791bcd4-25f2-4e65-8402-4ae01176afce}</key>
		<dict>
			<key>x1</key>
			<string>240.547</string>
			<key>y1</key>
			<string>439.528</string>
			<key>x2</key>
			<string>240.547</string>
			<key>y2</key>
			<string>459.369</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{fbcf9298-63c3-4a2c-a548-135e40351f20}</key>
		<dict>
			<key>x1</key>
			<string>240.547</string>
			<key>y1</key>
			<string>439.528</string>
			<key>x2</key>
			<string>240.547</string>
			<key>y2</key>
			<string>459.369</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{d8634328-0895-43a7-abf7-ea17bbff6674}</key>
		<dict>
			<key>x1</key>
			<string>246.66</string>
			<key>y1</key>
			<string>392.804</string>
			<key>x2</key>
			<string>246.66</string>
			<key>y2</key>
			<string>377.493</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{b93dc97b-76e7-4da9-8cf2-44ad966c7c55}</key>
		<dict>
			<key>x1</key>
			<string>494.514</string>
			<key>y1</key>
			<string>298.492</string>
			<key>x2</key>
			<string>494.514</string>
			<key>y2</key>
			<string>318.333</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{f61593e8-4b7d-479f-af14-c6fc984f3499}</key>
		<dict>
			<key>x1</key>
			<string>494.514</string>
			<key>y1</key>
			<string>298.492</string>
			<key>x2</key>
			<string>494.514</string>
			<key>y2</key>
			<string>318.333</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{8b1fba06-dbda-4b2b-baf1-6a5284749cd7}</key>
		<dict>
			<key>x1</key>
			<string>500.808</string>
			<key>y1</key>
			<string>261.94</string>
			<key>x2</key>
			<string>500.808</string>
			<key>y2</key>
			<string>245.208</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{c62c0873-36c0-473b-ab7f-a3e47c81497f}</key>
		<dict>
			<key>x1</key>
			<string>464.905</string>
			<key>y1</key>
			<string>259.269</string>
			<key>x2</key>
			<string>464.905</string>
			<key>y2</key>
			<string>245.208</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{ec83c868-1f60-4e46-9961-8ba60fbf71a5}</key>
		<dict>
			<key>x1</key>
			<string>439.37</string>
			<key>y1</key>
			<string>256.769</string>
			<key>x2</key>
			<string>439.37</string>
			<key>y2</key>
			<string>243.958</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{29baa64d-e289-40e0-bce6-fc9ff9291776}</key>
		<dict>
			<key>x1</key>
			<string>413.836</string>
			<key>y1</key>
			<string>254.269</string>
			<key>x2</key>
			<string>413.836</string>
			<key>y2</key>
			<string>240.208</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{93cfe820-22e6-41e4-b111-90f9da0c2c76}</key>
		<dict>
			<key>x1</key>
			<string>382.188</string>
			<key>y1</key>
			<string>300.992</string>
			<key>x2</key>
			<string>382.188</string>
			<key>y2</key>
			<string>318.333</string>
			<key>height</key>
			<string>18.125</string>
		</dict>
		<key>{24e0b4f9-2485-4d43-ae9f-efcaff536ace}</key>
		<dict>
			<key>x1</key>
			<string>382.188</string>
			<key>y1</key>
			<string>300.992</string>
			<key>x2</key>
			<string>382.188</string>
			<key>y2</key>
			<string>318.333</string>
			<key>height</key>
			<string>18.125</string>
		</dict>
		<key>{fd36f528-a51e-4718-88af-8f1b618bd468}</key>
		<dict>
			<key>x1</key>
			<string>388.301</string>
			<key>y1</key>
			<string>259.269</string>
			<key>x2</key>
			<string>388.301</string>
			<key>y2</key>
			<string>245.208</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{664c4938-922a-4e39-8230-ec6d2b34a8fc}</key>
		<dict>
			<key>x1</key>
			<string>348.606</string>
			<key>y1</key>
			<string>261.769</string>
			<key>x2</key>
			<string>348.606</string>
			<key>y2</key>
			<string>246.458</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{d4d78d65-8e47-4bbf-b917-c78c21a14387}</key>
		<dict>
			<key>x1</key>
			<string>322.184</string>
			<key>y1</key>
			<string>256.769</string>
			<key>x2</key>
			<string>322.184</string>
			<key>y2</key>
			<string>243.958</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{dfe6a2f2-a36c-443a-bac1-a60bc6cddfe7}</key>
		<dict>
			<key>x1</key>
			<string>273.797</string>
			<key>y1</key>
			<string>298.492</string>
			<key>x2</key>
			<string>273.797</string>
			<key>y2</key>
			<string>318.333</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{01721a07-d292-49ca-91ce-9fbfc6d71de2}</key>
		<dict>
			<key>x1</key>
			<string>273.797</string>
			<key>y1</key>
			<string>298.492</string>
			<key>x2</key>
			<string>273.797</string>
			<key>y2</key>
			<string>318.333</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{1582841e-e2f1-4b90-b697-9684732cec8f}</key>
		<dict>
			<key>x1</key>
			<string>279.91</string>
			<key>y1</key>
			<string>251.769</string>
			<key>x2</key>
			<string>279.91</string>
			<key>y2</key>
			<string>236.458</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{919b8b54-7356-4747-b356-29422d82b5b5}</key>
		<dict>
			<key>x1</key>
			<string>243.3</string>
			<key>y1</key>
			<string>249.269</string>
			<key>x2</key>
			<string>243.3</string>
			<key>y2</key>
			<string>235.208</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{c43d95b3-125a-453c-ac7e-a73275f387d3}</key>
		<dict>
			<key>x1</key>
			<string>216.879</string>
			<key>y1</key>
			<string>256.769</string>
			<key>x2</key>
			<string>216.879</string>
			<key>y2</key>
			<string>240.208</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{4376c498-e8a6-4773-aa0a-8ea44453d859}</key>
		<dict>
			<key>x1</key>
			<string>168.492</string>
			<key>y1</key>
			<string>298.492</string>
			<key>x2</key>
			<string>168.492</string>
			<key>y2</key>
			<string>318.333</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{493d8baf-c087-4316-9264-764959ea3134}</key>
		<dict>
			<key>x1</key>
			<string>168.492</string>
			<key>y1</key>
			<string>298.492</string>
			<key>x2</key>
			<string>168.492</string>
			<key>y2</key>
			<string>318.333</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{a06071b1-6d58-4676-9426-c469e1094d56}</key>
		<dict>
			<key>x1</key>
			<string>174.605</string>
			<key>y1</key>
			<string>251.769</string>
			<key>x2</key>
			<string>174.605</string>
			<key>y2</key>
			<string>236.458</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{91cfcc4e-aa72-4504-871b-b2cf62272d2c}</key>
		<dict>
			<key>x1</key>
			<string>126.284</string>
			<key>y1</key>
			<string>261.769</string>
			<key>x2</key>
			<string>126.284</string>
			<key>y2</key>
			<string>245.208</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{1bc85a9b-1634-4a3f-9a56-aced36365e80}</key>
		<dict>
			<key>x1</key>
			<string>102.452</string>
			<key>y1</key>
			<string>259.269</string>
			<key>x2</key>
			<string>102.452</string>
			<key>y2</key>
			<string>245.208</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{a87f2f13-deef-43ad-915f-2488e9699a16}</key>
		<dict>
			<key>x1</key>
			<string>72.5059</string>
			<key>y1</key>
			<string>298.492</string>
			<key>x2</key>
			<string>72.5059</string>
			<key>y2</key>
			<string>318.333</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{1f07c1ed-7ca8-4901-977c-4ffb6d67fc26}</key>
		<dict>
			<key>x1</key>
			<string>72.5059</string>
			<key>y1</key>
			<string>298.492</string>
			<key>x2</key>
			<string>72.5059</string>
			<key>y2</key>
			<string>318.333</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{a3be3502-c602-4b75-a4f6-f30a0ba6f4ab}</key>
		<dict>
			<key>x1</key>
			<string>78.6191</string>
			<key>y1</key>
			<string>256.769</string>
			<key>x2</key>
			<string>78.6191</string>
			<key>y2</key>
			<string>243.958</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{cfb352d6-1755-4852-b4a5-93f1e9314ca9}</key>
		<dict>
			<key>x1</key>
			<string>550.225</string>
			<key>y1</key>
			<string>113.234</string>
			<key>x2</key>
			<string>550.225</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{704514f5-3cff-4670-8e51-486a834949b5}</key>
		<dict>
			<key>x1</key>
			<string>527.899</string>
			<key>y1</key>
			<string>113.234</string>
			<key>x2</key>
			<string>527.899</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{a223b3e0-92ae-4585-8dac-451dd7c7147c}</key>
		<dict>
			<key>x1</key>
			<string>505.572</string>
			<key>y1</key>
			<string>118.234</string>
			<key>x2</key>
			<string>505.572</string>
			<key>y2</key>
			<string>104.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{5d98971a-5577-41b1-bb1c-0c76670fc25b}</key>
		<dict>
			<key>x1</key>
			<string>477.132</string>
			<key>y1</key>
			<string>159.957</string>
			<key>x2</key>
			<string>477.132</string>
			<key>y2</key>
			<string>177.298</string>
			<key>height</key>
			<string>18.125</string>
		</dict>
		<key>{c19d4d53-b38a-47a3-a3bd-4350a2962c6a}</key>
		<dict>
			<key>x1</key>
			<string>477.132</string>
			<key>y1</key>
			<string>159.957</string>
			<key>x2</key>
			<string>477.132</string>
			<key>y2</key>
			<string>177.298</string>
			<key>height</key>
			<string>18.125</string>
		</dict>
		<key>{f8ffa152-c382-42b5-9737-4eda057b192d}</key>
		<dict>
			<key>x1</key>
			<string>483.246</string>
			<key>y1</key>
			<string>118.234</string>
			<key>x2</key>
			<string>483.246</string>
			<key>y2</key>
			<string>104.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{8eba4238-6f1d-49c3-b18a-6c52f4a4da0f}</key>
		<dict>
			<key>x1</key>
			<string>433.761</string>
			<key>y1</key>
			<string>110.734</string>
			<key>x2</key>
			<string>433.761</string>
			<key>y2</key>
			<string>95.4233</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{5a73818a-fed7-437a-b07b-fc469b4eb4e7}</key>
		<dict>
			<key>x1</key>
			<string>411.13</string>
			<key>y1</key>
			<string>115.734</string>
			<key>x2</key>
			<string>411.13</string>
			<key>y2</key>
			<string>100.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{947256c5-5b3c-4fbf-a372-7ac7b3c6063c}</key>
		<dict>
			<key>x1</key>
			<string>382.385</string>
			<key>y1</key>
			<string>157.457</string>
			<key>x2</key>
			<string>382.385</string>
			<key>y2</key>
			<string>177.298</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{c9778b09-3ba8-474e-970d-335f0402e0df}</key>
		<dict>
			<key>x1</key>
			<string>382.385</string>
			<key>y1</key>
			<string>157.457</string>
			<key>x2</key>
			<string>382.385</string>
			<key>y2</key>
			<string>177.298</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{74a679ba-3ef6-4ab2-a9c3-758c81b4bd5b}</key>
		<dict>
			<key>x1</key>
			<string>388.499</string>
			<key>y1</key>
			<string>115.734</string>
			<key>x2</key>
			<string>388.499</string>
			<key>y2</key>
			<string>100.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{6930597a-036d-4682-9c75-0ec74ee4779a}</key>
		<dict>
			<key>x1</key>
			<string>355.984</string>
			<key>y1</key>
			<string>113.234</string>
			<key>x2</key>
			<string>355.984</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{6d7c8be5-f57e-4f6d-8dd5-d7c23769c764}</key>
		<dict>
			<key>x1</key>
			<string>333.658</string>
			<key>y1</key>
			<string>113.234</string>
			<key>x2</key>
			<string>333.658</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{2b202956-ee45-4ad0-9176-47415e446107}</key>
		<dict>
			<key>x1</key>
			<string>311.331</string>
			<key>y1</key>
			<string>118.234</string>
			<key>x2</key>
			<string>311.331</string>
			<key>y2</key>
			<string>104.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{86303ad6-c6b0-43ca-9ca7-1ae60a829711}</key>
		<dict>
			<key>x1</key>
			<string>282.891</string>
			<key>y1</key>
			<string>159.957</string>
			<key>x2</key>
			<string>282.891</string>
			<key>y2</key>
			<string>177.298</string>
			<key>height</key>
			<string>18.125</string>
		</dict>
		<key>{75a2f45b-6fea-4a1a-8aa6-37f8aae6430d}</key>
		<dict>
			<key>x1</key>
			<string>282.891</string>
			<key>y1</key>
			<string>159.957</string>
			<key>x2</key>
			<string>282.891</string>
			<key>y2</key>
			<string>177.298</string>
			<key>height</key>
			<string>18.125</string>
		</dict>
		<key>{9c143891-98ae-421c-a910-5daa64d23a6c}</key>
		<dict>
			<key>x1</key>
			<string>289.005</string>
			<key>y1</key>
			<string>118.234</string>
			<key>x2</key>
			<string>289.005</string>
			<key>y2</key>
			<string>104.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{3fba8b3d-e874-436a-bc40-9fea3d165ef9}</key>
		<dict>
			<key>x1</key>
			<string>250.733</string>
			<key>y1</key>
			<string>120.734</string>
			<key>x2</key>
			<string>250.733</string>
			<key>y2</key>
			<string>105.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{7eba6856-3bb3-495f-8f99-717c7c15b2ef}</key>
		<dict>
			<key>x1</key>
			<string>225.735</string>
			<key>y1</key>
			<string>115.734</string>
			<key>x2</key>
			<string>225.735</string>
			<key>y2</key>
			<string>102.923</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{aa50e2c2-4606-4511-9a77-7d5b5a2d9169}</key>
		<dict>
			<key>x1</key>
			<string>179.625</string>
			<key>y1</key>
			<string>157.457</string>
			<key>x2</key>
			<string>179.625</string>
			<key>y2</key>
			<string>177.298</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{7896e99b-dec0-4815-b7ee-c5d3ccb99a89}</key>
		<dict>
			<key>x1</key>
			<string>179.625</string>
			<key>y1</key>
			<string>157.457</string>
			<key>x2</key>
			<string>179.625</string>
			<key>y2</key>
			<string>177.298</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{e2316e69-bf23-4fbe-b6ca-9e08710e2ab4}</key>
		<dict>
			<key>x1</key>
			<string>185.738</string>
			<key>y1</key>
			<string>110.734</string>
			<key>x2</key>
			<string>185.738</string>
			<key>y2</key>
			<string>95.4233</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{1d004515-6a57-4e55-bbe1-ddd0a446eccb}</key>
		<dict>
			<key>x1</key>
			<string>151</string>
			<key>y1</key>
			<string>108.234</string>
			<key>x2</key>
			<string>151</string>
			<key>y2</key>
			<string>94.1733</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{117663d1-ee22-4453-891f-efb392805b16}</key>
		<dict>
			<key>x1</key>
			<string>126.449</string>
			<key>y1</key>
			<string>115.734</string>
			<key>x2</key>
			<string>126.449</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{cacfc718-5967-4160-9ef1-09fdb840f5ca}</key>
		<dict>
			<key>x1</key>
			<string>81.0559</string>
			<key>y1</key>
			<string>157.457</string>
			<key>x2</key>
			<string>81.0559</string>
			<key>y2</key>
			<string>177.298</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{3455cb64-5b0a-496f-a5a9-e50797c1c2dc}</key>
		<dict>
			<key>x1</key>
			<string>81.0559</string>
			<key>y1</key>
			<string>157.457</string>
			<key>x2</key>
			<string>81.0559</string>
			<key>y2</key>
			<string>177.298</string>
			<key>height</key>
			<string>20.625</string>
		</dict>
		<key>{8dae1070-7f00-4448-b7af-a9ae040f521e}</key>
		<dict>
			<key>x1</key>
			<string>87.1691</string>
			<key>y1</key>
			<string>110.734</string>
			<key>x2</key>
			<string>87.1691</string>
			<key>y2</key>
			<string>95.4233</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
	</dict>
</dict>
</plist>