<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RhythmicPatternViewController</key>
	<dict>
		<key>LimitCourse</key>
		<string>4</string>
		<key>ActivityDelay</key>
		<string>0</string>
		<key>Actions</key>
		<array>
			<dict>
				<key>LightRingAction</key>
				<array>
					<string>220</string>
				</array>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>end_y</key>
						<string>1384</string>
						<key>end_x</key>
						<string>740</string>
						<key>ActionType</key>
						<string>click</string>
					</dict>
				</array>
				<key>Description</key>
				<string>点击播放按钮</string>
			</dict>
			<dict>
				<key>Description</key>
				<string>等待背景音乐播放完</string>
				<key>LightRingAction</key>
				<array>
					<string>160</string>
				</array>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>ActionType</key>
						<string>special</string>
						<key>SpecialIndex</key>
						<string>0</string>
						<key>Delay</key>
						<string>4</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>LightRingAction</key>
				<array>
					<string>160</string>
				</array>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>SpecialIndex</key>
						<string>1</string>
						<key>empty</key>
						<string>YES</string>
					</dict>
				</array>
				<key>Description</key>
				<string>点击对应的谱</string>
			</dict>
		</array>
		<key>Description</key>
		<string>第四课节奏型选择题游戏</string>
	</dict>
	<key>listenSoundViewController</key>
	<dict>
		<key>Description</key>
		<string>节拍游戏</string>
		<key>Actions</key>
		<array>
			<dict>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>Description</key>
						<string>图片第一步</string>
						<key>SpecialIndex</key>
						<string>1</string>
						<key>ActionType</key>
						<string>image</string>
					</dict>
				</array>
				<key>LightRingAction</key>
				<array>
					<string>0</string>
				</array>
			</dict>
			<dict>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>Description</key>
						<string>图片第一步</string>
						<key>SpecialIndex</key>
						<string>2</string>
						<key>ActionType</key>
						<string>image</string>
					</dict>
				</array>
				<key>LightRingAction</key>
				<array>
					<string>0</string>
				</array>
			</dict>
		</array>
		<key>ActivityDelay</key>
		<string>0</string>
	</dict>
	<key>CAndDJiaoHuVC</key>
	<dict>
		<key>ActivityDelay</key>
		<string>0</string>
		<key>Actions</key>
		<array>
			<dict>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>Description</key>
						<string>移动到C处</string>
						<key>ActionType</key>
						<string>dragPrepare</string>
						<key>end_x</key>
						<string>1178</string>
						<key>end_y</key>
						<string>180</string>
					</dict>
					<dict>
						<key>Description</key>
						<string>拖动至正确位置</string>
						<key>ActionType</key>
						<string>drag</string>
						<key>start_x</key>
						<string>1178</string>
						<key>start_y</key>
						<string>180</string>
						<key>end_x</key>
						<string>1002</string>
						<key>end_y</key>
						<string>818</string>
					</dict>
					<dict>
						<key>ActionType</key>
						<string>special</string>
						<key>SpecialIndex</key>
						<string>1</string>
						<key>Delay</key>
						<string>0.1</string>
					</dict>
				</array>
				<key>LightRingAction</key>
				<array>
					<string>260</string>
					<string>260</string>
					<string>260</string>
				</array>
			</dict>
			<dict>
				<key>LightRingAction</key>
				<array>
					<string>0</string>
				</array>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>text_x</key>
						<string>740</string>
						<key>text_y</key>
						<string>350</string>
						<key>text_w</key>
						<string>600</string>
						<key>text_h</key>
						<string>357</string>
						<key>text</key>
						<string>小朋友，请按下对应的琴键C4</string>
						<key>Description</key>
						<string>弹钢琴</string>
						<key>ActionType</key>
						<string>text</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>Description</key>
		<string>C和D交互页面</string>
	</dict>
	<key>TowerHafAndQuater</key>
	<dict>
		<key>ActivityDelay</key>
		<string>0</string>
		<key>Actions</key>
		<array>
			<dict>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>ActionType</key>
						<string>image</string>
						<key>SpecialIndex</key>
						<string>1</string>
					</dict>
				</array>
				<key>LightRingAction</key>
				<array>
					<string>0</string>
				</array>
			</dict>
			<dict>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>ActionType</key>
						<string>image</string>
						<key>SpecialIndex</key>
						<string>2</string>
					</dict>
				</array>
				<key>LightRingAction</key>
				<array>
					<string>0</string>
				</array>
			</dict>
		</array>
		<key>Description</key>
		<string>塔防游戏</string>
	</dict>
</dict>
</plist>
