<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>63.9721</string>
			<key>y</key>
			<string>124.1</string>
			<key>bx</key>
			<string>63.9721</string>
			<key>by</key>
			<string>162.967</string>
			<key>spatium</key>
			<string>4.7622</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>63.9721</string>
			<key>y</key>
			<string>259.822</string>
			<key>bx</key>
			<string>63.9721</string>
			<key>by</key>
			<string>298.69</string>
			<key>spatium</key>
			<string>4.7622</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>63.9721</string>
			<key>y</key>
			<string>395.545</string>
			<key>bx</key>
			<string>63.9721</string>
			<key>by</key>
			<string>434.413</string>
			<key>spatium</key>
			<string>4.7622</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>63.9721</string>
			<key>y</key>
			<string>531.268</string>
			<key>bx</key>
			<string>63.9721</string>
			<key>by</key>
			<string>570.136</string>
			<key>spatium</key>
			<string>4.7622</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{4696175f-9273-4d9e-b53a-f5733f438fe2}</key>
		<dict>
			<key>x</key>
			<string>520.581</string>
			<key>y</key>
			<string>616.988</string>
		</dict>
		<key>{1dd000fa-5faf-438d-85ef-dbb201000ce4}</key>
		<dict>
			<key>x</key>
			<string>486.707</string>
			<key>y</key>
			<string>607.463</string>
		</dict>
		<key>{0ecefd35-3350-45a8-90c1-d932f9115ba2}</key>
		<dict>
			<key>x</key>
			<string>452.833</string>
			<key>y</key>
			<string>600.32</string>
		</dict>
		<key>{4a16a85b-68ee-401b-a4eb-99f602a08a37}</key>
		<dict>
			<key>x</key>
			<string>452.661</string>
			<key>y</key>
			<string>536.03</string>
		</dict>
		<key>{5496b0b7-2475-456f-9329-280536595f6a}</key>
		<dict>
			<key>x</key>
			<string>410.309</string>
			<key>y</key>
			<string>607.463</string>
		</dict>
		<key>{b38427e2-b6db-4ad5-8075-7aa005245e7f}</key>
		<dict>
			<key>x</key>
			<string>410.309</string>
			<key>y</key>
			<string>538.411</string>
		</dict>
		<key>{8f054bc0-f15f-47e3-9a10-ff237755f7ee}</key>
		<dict>
			<key>x</key>
			<string>387.886</string>
			<key>y</key>
			<string>533.649</string>
		</dict>
		<key>{a51dd1c0-d555-4650-afa3-4e13c0368411}</key>
		<dict>
			<key>x</key>
			<string>365.464</string>
			<key>y</key>
			<string>590.796</string>
		</dict>
		<key>{cc553d9f-d9e1-4891-9eb6-14bb6e4c1072}</key>
		<dict>
			<key>x</key>
			<string>365.464</string>
			<key>y</key>
			<string>536.03</string>
		</dict>
		<key>{7c9d12c7-ad42-49c6-9386-c7e2ef3995a9}</key>
		<dict>
			<key>x</key>
			<string>329.588</string>
			<key>y</key>
			<string>593.177</string>
		</dict>
		<key>{85eee55f-19cf-4458-a643-e386507b207c}</key>
		<dict>
			<key>x</key>
			<string>329.588</string>
			<key>y</key>
			<string>533.649</string>
		</dict>
		<key>{cbd7b025-5985-4244-bc90-6914018956b5}</key>
		<dict>
			<key>x</key>
			<string>289.548</string>
			<key>y</key>
			<string>588.415</string>
		</dict>
		<key>{92be96fe-8f97-4305-b7bb-bf59b408751b}</key>
		<dict>
			<key>x</key>
			<string>289.548</string>
			<key>y</key>
			<string>536.03</string>
		</dict>
		<key>{c5858958-8894-4716-b95a-afdb6575d3fa}</key>
		<dict>
			<key>x</key>
			<string>268.57</string>
			<key>y</key>
			<string>526.506</string>
		</dict>
		<key>{9e28c333-086c-41bc-a022-c7c6e2bd12f3}</key>
		<dict>
			<key>x</key>
			<string>247.593</string>
			<key>y</key>
			<string>528.887</string>
		</dict>
		<key>{d9a02193-94df-4906-b347-74829beea3f9}</key>
		<dict>
			<key>x</key>
			<string>213.857</string>
			<key>y</key>
			<string>595.558</string>
		</dict>
		<key>{694360fd-6760-403a-babc-43aa1cf88ea9}</key>
		<dict>
			<key>x</key>
			<string>214.029</string>
			<key>y</key>
			<string>526.506</string>
		</dict>
		<key>{eebfd786-8b44-4058-8495-1699abb6f846}</key>
		<dict>
			<key>x</key>
			<string>172.873</string>
			<key>y</key>
			<string>586.034</string>
		</dict>
		<key>{c51b99c1-9a51-4b18-9af8-77ac44e3e25e}</key>
		<dict>
			<key>x</key>
			<string>172.873</string>
			<key>y</key>
			<string>533.649</string>
		</dict>
		<key>{f225e51c-8062-42d8-945f-917d733aa083}</key>
		<dict>
			<key>x</key>
			<string>151.306</string>
			<key>y</key>
			<string>524.125</string>
		</dict>
		<key>{1c05d30b-452c-47c1-8050-0b53e5a19789}</key>
		<dict>
			<key>x</key>
			<string>129.739</string>
			<key>y</key>
			<string>526.506</string>
		</dict>
		<key>{7ee3e445-36cf-4951-a1be-5f7e6cd29982}</key>
		<dict>
			<key>x</key>
			<string>95.0599</string>
			<key>y</key>
			<string>593.177</string>
		</dict>
		<key>{24a1c79e-6b16-47f8-bc35-322c99cfc467}</key>
		<dict>
			<key>x</key>
			<string>95.2318</string>
			<key>y</key>
			<string>524.125</string>
		</dict>
		<key>{8714bb86-9155-47ab-b031-5bf45c343d4c}</key>
		<dict>
			<key>x</key>
			<string>523.249</string>
			<key>y</key>
			<string>455.073</string>
		</dict>
		<key>{a1588dd7-bdaf-4c44-8875-a62460d24b1c}</key>
		<dict>
			<key>x</key>
			<string>523.249</string>
			<key>y</key>
			<string>390.783</string>
		</dict>
		<key>{2367e067-2090-4185-a824-ec0c6c9875d1}</key>
		<dict>
			<key>x</key>
			<string>487.757</string>
			<key>y</key>
			<string>447.93</string>
		</dict>
		<key>{e5c9e13c-959b-4628-864b-dd44c9fc52d5}</key>
		<dict>
			<key>x</key>
			<string>452.264</string>
			<key>y</key>
			<string>452.692</string>
		</dict>
		<key>{2d78c372-9ab5-464d-84f4-a4b28c061805}</key>
		<dict>
			<key>x</key>
			<string>452.092</string>
			<key>y</key>
			<string>393.164</string>
		</dict>
		<key>{9a67b385-51ad-4f47-a431-26282bb42cf3}</key>
		<dict>
			<key>x</key>
			<string>410.505</string>
			<key>y</key>
			<string>447.93</string>
		</dict>
		<key>{33049666-4da6-45d5-b128-57d2e90235b4}</key>
		<dict>
			<key>x</key>
			<string>410.505</string>
			<key>y</key>
			<string>400.308</string>
		</dict>
		<key>{1697fa2e-da3a-4198-a7a6-5f3aed33d120}</key>
		<dict>
			<key>x</key>
			<string>388.561</string>
			<key>y</key>
			<string>395.545</string>
		</dict>
		<key>{efb56c05-1624-4b98-92c7-d8c46e224b40}</key>
		<dict>
			<key>x</key>
			<string>366.617</string>
			<key>y</key>
			<string>455.073</string>
		</dict>
		<key>{49b45536-2070-4d8e-84c3-052104595e4e}</key>
		<dict>
			<key>x</key>
			<string>366.617</string>
			<key>y</key>
			<string>397.926</string>
		</dict>
		<key>{2ab554af-fd9c-4e71-a733-8cad8175a444}</key>
		<dict>
			<key>x</key>
			<string>331.506</string>
			<key>y</key>
			<string>464.597</string>
		</dict>
		<key>{9ccd35c4-980c-4cde-a3d6-016b8d8b3dc8}</key>
		<dict>
			<key>x</key>
			<string>331.506</string>
			<key>y</key>
			<string>395.545</string>
		</dict>
		<key>{fad96f24-d27e-42da-a027-37b86a5b33c7}</key>
		<dict>
			<key>x</key>
			<string>289.919</string>
			<key>y</key>
			<string>459.835</string>
		</dict>
		<key>{f86fe31a-7069-4fb7-aaf9-bd8c26f3c31c}</key>
		<dict>
			<key>x</key>
			<string>289.919</string>
			<key>y</key>
			<string>407.451</string>
		</dict>
		<key>{3f9fb5e8-6278-4f10-bd6a-d43ebd311011}</key>
		<dict>
			<key>x</key>
			<string>267.975</string>
			<key>y</key>
			<string>402.689</string>
		</dict>
		<key>{000dc70d-cfe6-4e0f-85fa-ace6dab7742d}</key>
		<dict>
			<key>x</key>
			<string>246.031</string>
			<key>y</key>
			<string>466.978</string>
		</dict>
		<key>{902ccd85-3d92-4b18-b565-cac7016906b7}</key>
		<dict>
			<key>x</key>
			<string>246.031</string>
			<key>y</key>
			<string>405.07</string>
		</dict>
		<key>{23d36987-b372-4153-b90d-942619957c86}</key>
		<dict>
			<key>x</key>
			<string>210.92</string>
			<key>y</key>
			<string>462.216</string>
		</dict>
		<key>{6b3f54a6-db74-4dc9-b1a3-c74be315cdd9}</key>
		<dict>
			<key>x</key>
			<string>210.92</string>
			<key>y</key>
			<string>402.689</string>
		</dict>
		<key>{d27c1ad2-2bdc-4f8c-928f-cd00847d02aa}</key>
		<dict>
			<key>x</key>
			<string>170.787</string>
			<key>y</key>
			<string>459.835</string>
		</dict>
		<key>{ed56b8c1-e367-4119-903d-0e5710d1921a}</key>
		<dict>
			<key>x</key>
			<string>170.787</string>
			<key>y</key>
			<string>412.213</string>
		</dict>
		<key>{39490099-cf71-4cda-af4a-2554120fac7b}</key>
		<dict>
			<key>x</key>
			<string>149.752</string>
			<key>y</key>
			<string>407.451</string>
		</dict>
		<key>{b37063b1-40d8-466f-b14b-c1cd677dd219}</key>
		<dict>
			<key>x</key>
			<string>128.716</string>
			<key>y</key>
			<string>466.978</string>
		</dict>
		<key>{e118d3ac-5486-41f9-918b-08b674fbccf9}</key>
		<dict>
			<key>x</key>
			<string>128.716</string>
			<key>y</key>
			<string>409.832</string>
		</dict>
		<key>{f366326c-4190-4ce2-baa6-21ad238fa31a}</key>
		<dict>
			<key>x</key>
			<string>95.0599</string>
			<key>y</key>
			<string>476.503</string>
		</dict>
		<key>{41446c87-09c5-46b1-b85a-0c1e6a934566}</key>
		<dict>
			<key>x</key>
			<string>95.0599</string>
			<key>y</key>
			<string>407.451</string>
		</dict>
		<key>{bb98c8c2-384d-4be7-9e35-b7d3ba011858}</key>
		<dict>
			<key>x</key>
			<string>524.923</string>
			<key>y</key>
			<string>345.542</string>
		</dict>
		<key>{296d2912-142c-4208-9ed2-4c1d38ce9cb9}</key>
		<dict>
			<key>x</key>
			<string>491.105</string>
			<key>y</key>
			<string>336.018</string>
		</dict>
		<key>{32d69dd0-55d6-46be-b752-0411f9fff17f}</key>
		<dict>
			<key>x</key>
			<string>457.287</string>
			<key>y</key>
			<string>328.874</string>
		</dict>
		<key>{b611e2d1-aaee-4ea6-b9ce-1e29aa97f717}</key>
		<dict>
			<key>x</key>
			<string>457.115</string>
			<key>y</key>
			<string>264.585</string>
		</dict>
		<key>{5b001021-36cd-434e-91ed-13ebcc025f65}</key>
		<dict>
			<key>x</key>
			<string>414.814</string>
			<key>y</key>
			<string>336.018</string>
		</dict>
		<key>{dee31d3c-45ba-44b4-ab11-888fc2e2b987}</key>
		<dict>
			<key>x</key>
			<string>414.814</string>
			<key>y</key>
			<string>266.966</string>
		</dict>
		<key>{94e23ef0-6aa0-4b49-8461-e906d72b335b}</key>
		<dict>
			<key>x</key>
			<string>392.424</string>
			<key>y</key>
			<string>259.822</string>
		</dict>
		<key>{b038f82e-b0b2-4231-8800-844310d462b1}</key>
		<dict>
			<key>x</key>
			<string>370.034</string>
			<key>y</key>
			<string>338.399</string>
		</dict>
		<key>{9cb483b6-4d62-4cdf-9c25-4af0a4c07f5b}</key>
		<dict>
			<key>x</key>
			<string>370.034</string>
			<key>y</key>
			<string>262.204</string>
		</dict>
		<key>{56d4879f-c1ef-423b-a9b9-8e95709f715a}</key>
		<dict>
			<key>x</key>
			<string>334.21</string>
			<key>y</key>
			<string>328.874</string>
		</dict>
		<key>{34c475c5-b16f-4b60-b323-d15b09c7a254}</key>
		<dict>
			<key>x</key>
			<string>334.21</string>
			<key>y</key>
			<string>259.822</string>
		</dict>
		<key>{6cc263f7-2300-4acc-b5f6-789963930cc2}</key>
		<dict>
			<key>x</key>
			<string>293.444</string>
			<key>y</key>
			<string>336.018</string>
		</dict>
		<key>{ba1cd206-23b6-4107-85ba-343451e74aaa}</key>
		<dict>
			<key>x</key>
			<string>293.444</string>
			<key>y</key>
			<string>262.204</string>
		</dict>
		<key>{1a9adfb8-1e25-48da-91e6-9a9ee933a444}</key>
		<dict>
			<key>x</key>
			<string>272.014</string>
			<key>y</key>
			<string>255.06</string>
		</dict>
		<key>{d5f297ec-58d3-42be-be2f-f4789eb8929c}</key>
		<dict>
			<key>x</key>
			<string>250.583</string>
			<key>y</key>
			<string>333.637</string>
		</dict>
		<key>{407feda0-8451-45b1-a822-8560cbca03c0}</key>
		<dict>
			<key>x</key>
			<string>250.583</string>
			<key>y</key>
			<string>257.441</string>
		</dict>
		<key>{d39bf96b-e5fd-4f00-a43f-a1005a20b88c}</key>
		<dict>
			<key>x</key>
			<string>216.294</string>
			<key>y</key>
			<string>331.256</string>
		</dict>
		<key>{5e5dc7ba-4b33-457b-92e7-ecbd3ab077f0}</key>
		<dict>
			<key>x</key>
			<string>216.294</string>
			<key>y</key>
			<string>255.06</string>
		</dict>
		<key>{feac12c2-084f-4070-af60-1a463e32e945}</key>
		<dict>
			<key>x</key>
			<string>172.392</string>
			<key>y</key>
			<string>328.874</string>
		</dict>
		<key>{187efa39-6a42-42d1-8b91-d7ac4dd11bf8}</key>
		<dict>
			<key>x</key>
			<string>172.392</string>
			<key>y</key>
			<string>271.728</string>
		</dict>
		<key>{58db378a-5f6f-4f4d-8e0c-bc903b5d6b94}</key>
		<dict>
			<key>x</key>
			<string>150.911</string>
			<key>y</key>
			<string>264.585</string>
		</dict>
		<key>{fac4bacb-5f3f-4bd3-884d-0ccfbb1409df}</key>
		<dict>
			<key>x</key>
			<string>129.43</string>
			<key>y</key>
			<string>326.493</string>
		</dict>
		<key>{c1efb6a9-64ec-47c5-a2cf-de5ecb6fc06a}</key>
		<dict>
			<key>x</key>
			<string>129.43</string>
			<key>y</key>
			<string>266.966</string>
		</dict>
		<key>{a45df99f-8a5b-4c05-bce3-7a0371bbd633}</key>
		<dict>
			<key>x</key>
			<string>95.0599</string>
			<key>y</key>
			<string>324.112</string>
		</dict>
		<key>{73667ece-d277-46bb-89e2-5d557ab198ee}</key>
		<dict>
			<key>x</key>
			<string>95.0599</string>
			<key>y</key>
			<string>264.585</string>
		</dict>
		<key>{f07e3589-ab6a-403a-b12b-5bc60026ec0f}</key>
		<dict>
			<key>x</key>
			<string>523.61</string>
			<key>y</key>
			<string>186.008</string>
		</dict>
		<key>{ae110828-dfba-4c7e-a1f5-bf4e99c0fca0}</key>
		<dict>
			<key>x</key>
			<string>523.61</string>
			<key>y</key>
			<string>136.005</string>
		</dict>
		<key>{e8b2fff5-fffd-4ef8-a131-cb91f3c0b4e4}</key>
		<dict>
			<key>x</key>
			<string>488.479</string>
			<key>y</key>
			<string>178.865</string>
		</dict>
		<key>{fd40c7f4-bfdb-46cf-a0b7-abb71c3fc8f7}</key>
		<dict>
			<key>x</key>
			<string>453.347</string>
			<key>y</key>
			<string>183.627</string>
		</dict>
		<key>{9e239f9b-6e15-4790-b6b3-417b93989bbd}</key>
		<dict>
			<key>x</key>
			<string>453.176</string>
			<key>y</key>
			<string>126.481</string>
		</dict>
		<key>{7052eaf4-da17-4bfc-8754-9fc5d98be66f}</key>
		<dict>
			<key>x</key>
			<string>412.501</string>
			<key>y</key>
			<string>181.246</string>
		</dict>
		<key>{7fd3d989-5814-48f2-8599-141dd17337b4}</key>
		<dict>
			<key>x</key>
			<string>412.501</string>
			<key>y</key>
			<string>128.862</string>
		</dict>
		<key>{7094018e-58e4-4821-af02-090a0b7863f7}</key>
		<dict>
			<key>x</key>
			<string>391.128</string>
			<key>y</key>
			<string>124.1</string>
		</dict>
		<key>{30bf1104-eaaa-45d2-b338-e21aa32b10d6}</key>
		<dict>
			<key>x</key>
			<string>369.755</string>
			<key>y</key>
			<string>178.865</string>
		</dict>
		<key>{cc69a1b3-3d72-4fe9-9f44-01a4f3ef45ed}</key>
		<dict>
			<key>x</key>
			<string>369.755</string>
			<key>y</key>
			<string>126.481</string>
		</dict>
		<key>{617ef08e-a3de-442a-813e-8340cb7d9205}</key>
		<dict>
			<key>x</key>
			<string>335.557</string>
			<key>y</key>
			<string>176.484</string>
		</dict>
		<key>{331d3069-c3d6-40a3-bfa2-c45f69a0a32a}</key>
		<dict>
			<key>x</key>
			<string>335.557</string>
			<key>y</key>
			<string>124.1</string>
		</dict>
		<key>{2ca8097e-e20d-4ac5-9ffe-f9b4580d52e6}</key>
		<dict>
			<key>x</key>
			<string>296.422</string>
			<key>y</key>
			<string>183.627</string>
		</dict>
		<key>{cceadf98-de12-414e-923f-863d45a66856}</key>
		<dict>
			<key>x</key>
			<string>296.422</string>
			<key>y</key>
			<string>126.481</string>
		</dict>
		<key>{1792ea4f-4cd2-4751-a0b7-dd3d5bdd6f19}</key>
		<dict>
			<key>x</key>
			<string>276.01</string>
			<key>y</key>
			<string>119.337</string>
		</dict>
		<key>{e66ccf65-6da6-4ac7-b6ea-197111dd4972}</key>
		<dict>
			<key>x</key>
			<string>255.599</string>
			<key>y</key>
			<string>181.246</string>
		</dict>
		<key>{179671c6-0688-4294-a42b-8b18776b5a25}</key>
		<dict>
			<key>x</key>
			<string>255.599</string>
			<key>y</key>
			<string>121.719</string>
		</dict>
		<key>{6eabafb2-8d55-4772-892e-b9a122c1d222}</key>
		<dict>
			<key>x</key>
			<string>222.94</string>
			<key>y</key>
			<string>178.865</string>
		</dict>
		<key>{988e4bcd-8af8-4b88-aed7-4bfcf0ce72bc}</key>
		<dict>
			<key>x</key>
			<string>222.94</string>
			<key>y</key>
			<string>119.337</string>
		</dict>
		<key>{597d73bc-3dc3-4c5c-be12-1b9f242a6e1f}</key>
		<dict>
			<key>x</key>
			<string>179.426</string>
			<key>y</key>
			<string>176.484</string>
		</dict>
		<key>{0c4a2886-5ddb-43c2-b14c-6a99a02bea6b}</key>
		<dict>
			<key>x</key>
			<string>179.426</string>
			<key>y</key>
			<string>136.005</string>
		</dict>
		<key>{a88dd888-a787-47b7-a1b9-16a617dcfdd5}</key>
		<dict>
			<key>x</key>
			<string>158.782</string>
			<key>y</key>
			<string>128.862</string>
		</dict>
		<key>{50fe4433-eea6-4826-ac45-dbde2e81b453}</key>
		<dict>
			<key>x</key>
			<string>138.138</string>
			<key>y</key>
			<string>183.627</string>
		</dict>
		<key>{aa296b28-1e12-4425-a8fc-6299e8cd30d6}</key>
		<dict>
			<key>x</key>
			<string>138.138</string>
			<key>y</key>
			<string>131.243</string>
		</dict>
		<key>{2bab93c8-3450-4ffd-9eb5-d60f26004adf}</key>
		<dict>
			<key>x</key>
			<string>105.108</string>
			<key>y</key>
			<string>193.152</string>
		</dict>
		<key>{fdbd2b4d-d8d6-4a05-878b-2848e20acf2d}</key>
		<dict>
			<key>x</key>
			<string>105.108</string>
			<key>y</key>
			<string>128.862</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{4696175f-9273-4d9e-b53a-f5733f438fe2}</key>
		<dict>
			<key>x1</key>
			<string>526.541</string>
			<key>y1</key>
			<string>616.093</string>
			<key>x2</key>
			<string>526.541</string>
			<key>y2</key>
			<string>600.32</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{1dd000fa-5faf-438d-85ef-dbb201000ce4}</key>
		<dict>
			<key>x1</key>
			<string>492.667</string>
			<key>y1</key>
			<string>606.569</string>
			<key>x2</key>
			<string>492.667</string>
			<key>y2</key>
			<string>590.796</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{0ecefd35-3350-45a8-90c1-d932f9115ba2}</key>
		<dict>
			<key>x1</key>
			<string>453.142</string>
			<key>y1</key>
			<string>601.215</string>
			<key>x2</key>
			<string>453.142</string>
			<key>y2</key>
			<string>615.202</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{4a16a85b-68ee-401b-a4eb-99f602a08a37}</key>
		<dict>
			<key>x1</key>
			<string>452.97</string>
			<key>y1</key>
			<string>536.777</string>
			<key>x2</key>
			<string>452.97</string>
			<key>y2</key>
			<string>552.103</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{5496b0b7-2475-456f-9329-280536595f6a}</key>
		<dict>
			<key>x1</key>
			<string>416.269</string>
			<key>y1</key>
			<string>606.569</string>
			<key>x2</key>
			<string>416.269</string>
			<key>y2</key>
			<string>590.796</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{b38427e2-b6db-4ad5-8075-7aa005245e7f}</key>
		<dict>
			<key>x1</key>
			<string>410.618</string>
			<key>y1</key>
			<string>539.306</string>
			<key>x2</key>
			<string>410.618</string>
			<key>y2</key>
			<string>553.889</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{8f054bc0-f15f-47e3-9a10-ff237755f7ee}</key>
		<dict>
			<key>x1</key>
			<string>388.196</string>
			<key>y1</key>
			<string>534.544</string>
			<key>x2</key>
			<string>388.196</string>
			<key>y2</key>
			<string>549.126</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{a51dd1c0-d555-4650-afa3-4e13c0368411}</key>
		<dict>
			<key>x1</key>
			<string>365.773</string>
			<key>y1</key>
			<string>591.69</string>
			<key>x2</key>
			<string>365.773</string>
			<key>y2</key>
			<string>607.463</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{cc553d9f-d9e1-4891-9eb6-14bb6e4c1072}</key>
		<dict>
			<key>x1</key>
			<string>365.773</string>
			<key>y1</key>
			<string>536.925</string>
			<key>x2</key>
			<string>365.773</string>
			<key>y2</key>
			<string>550.317</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{7c9d12c7-ad42-49c6-9386-c7e2ef3995a9}</key>
		<dict>
			<key>x1</key>
			<string>329.898</string>
			<key>y1</key>
			<string>594.071</string>
			<key>x2</key>
			<string>329.898</string>
			<key>y2</key>
			<string>609.845</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{85eee55f-19cf-4458-a643-e386507b207c}</key>
		<dict>
			<key>x1</key>
			<string>329.898</string>
			<key>y1</key>
			<string>534.544</string>
			<key>x2</key>
			<string>329.898</string>
			<key>y2</key>
			<string>550.317</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{cbd7b025-5985-4244-bc90-6914018956b5}</key>
		<dict>
			<key>x1</key>
			<string>289.857</string>
			<key>y1</key>
			<string>589.309</string>
			<key>x2</key>
			<string>289.857</string>
			<key>y2</key>
			<string>605.082</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{92be96fe-8f97-4305-b7bb-bf59b408751b}</key>
		<dict>
			<key>x1</key>
			<string>289.857</string>
			<key>y1</key>
			<string>536.925</string>
			<key>x2</key>
			<string>289.857</string>
			<key>y2</key>
			<string>552.103</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{c5858958-8894-4716-b95a-afdb6575d3fa}</key>
		<dict>
			<key>x1</key>
			<string>268.88</string>
			<key>y1</key>
			<string>527.4</string>
			<key>x2</key>
			<string>268.88</string>
			<key>y2</key>
			<string>540.793</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{9e28c333-086c-41bc-a022-c7c6e2bd12f3}</key>
		<dict>
			<key>x1</key>
			<string>247.902</string>
			<key>y1</key>
			<string>529.781</string>
			<key>x2</key>
			<string>247.902</string>
			<key>y2</key>
			<string>541.983</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{d9a02193-94df-4906-b347-74829beea3f9}</key>
		<dict>
			<key>x1</key>
			<string>214.166</string>
			<key>y1</key>
			<string>596.305</string>
			<key>x2</key>
			<string>214.166</string>
			<key>y2</key>
			<string>611.63</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{694360fd-6760-403a-babc-43aa1cf88ea9}</key>
		<dict>
			<key>x1</key>
			<string>214.338</string>
			<key>y1</key>
			<string>527.4</string>
			<key>x2</key>
			<string>214.338</string>
			<key>y2</key>
			<string>543.174</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{eebfd786-8b44-4058-8495-1699abb6f846}</key>
		<dict>
			<key>x1</key>
			<string>173.183</string>
			<key>y1</key>
			<string>586.928</string>
			<key>x2</key>
			<string>173.183</string>
			<key>y2</key>
			<string>602.701</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{c51b99c1-9a51-4b18-9af8-77ac44e3e25e}</key>
		<dict>
			<key>x1</key>
			<string>173.183</string>
			<key>y1</key>
			<string>534.544</string>
			<key>x2</key>
			<string>173.183</string>
			<key>y2</key>
			<string>550.317</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{f225e51c-8062-42d8-945f-917d733aa083}</key>
		<dict>
			<key>x1</key>
			<string>151.616</string>
			<key>y1</key>
			<string>525.019</string>
			<key>x2</key>
			<string>151.616</string>
			<key>y2</key>
			<string>539.602</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{1c05d30b-452c-47c1-8050-0b53e5a19789}</key>
		<dict>
			<key>x1</key>
			<string>130.049</string>
			<key>y1</key>
			<string>527.4</string>
			<key>x2</key>
			<string>130.049</string>
			<key>y2</key>
			<string>540.793</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{7ee3e445-36cf-4951-a1be-5f7e6cd29982}</key>
		<dict>
			<key>x1</key>
			<string>95.3694</string>
			<key>y1</key>
			<string>593.924</string>
			<key>x2</key>
			<string>95.3694</string>
			<key>y2</key>
			<string>609.845</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{24a1c79e-6b16-47f8-bc35-322c99cfc467}</key>
		<dict>
			<key>x1</key>
			<string>95.5413</string>
			<key>y1</key>
			<string>525.019</string>
			<key>x2</key>
			<string>95.5413</string>
			<key>y2</key>
			<string>540.793</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{8714bb86-9155-47ab-b031-5bf45c343d4c}</key>
		<dict>
			<key>x1</key>
			<string>523.559</string>
			<key>y1</key>
			<string>455.967</string>
			<key>x2</key>
			<string>523.559</string>
			<key>y2</key>
			<string>471.741</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{a1588dd7-bdaf-4c44-8875-a62460d24b1c}</key>
		<dict>
			<key>x1</key>
			<string>523.559</string>
			<key>y1</key>
			<string>391.678</string>
			<key>x2</key>
			<string>523.559</string>
			<key>y2</key>
			<string>407.451</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{2367e067-2090-4185-a824-ec0c6c9875d1}</key>
		<dict>
			<key>x1</key>
			<string>488.066</string>
			<key>y1</key>
			<string>448.824</string>
			<key>x2</key>
			<string>488.066</string>
			<key>y2</key>
			<string>464.597</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{e5c9e13c-959b-4628-864b-dd44c9fc52d5}</key>
		<dict>
			<key>x1</key>
			<string>452.574</string>
			<key>y1</key>
			<string>453.586</string>
			<key>x2</key>
			<string>452.574</string>
			<key>y2</key>
			<string>469.359</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{2d78c372-9ab5-464d-84f4-a4b28c061805}</key>
		<dict>
			<key>x1</key>
			<string>452.402</string>
			<key>y1</key>
			<string>393.911</string>
			<key>x2</key>
			<string>452.402</string>
			<key>y2</key>
			<string>409.832</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{9a67b385-51ad-4f47-a431-26282bb42cf3}</key>
		<dict>
			<key>x1</key>
			<string>410.815</string>
			<key>y1</key>
			<string>448.824</string>
			<key>x2</key>
			<string>410.815</string>
			<key>y2</key>
			<string>464.597</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{33049666-4da6-45d5-b128-57d2e90235b4}</key>
		<dict>
			<key>x1</key>
			<string>410.815</string>
			<key>y1</key>
			<string>401.202</string>
			<key>x2</key>
			<string>410.815</string>
			<key>y2</key>
			<string>416.38</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{1697fa2e-da3a-4198-a7a6-5f3aed33d120}</key>
		<dict>
			<key>x1</key>
			<string>388.87</string>
			<key>y1</key>
			<string>396.44</string>
			<key>x2</key>
			<string>388.87</string>
			<key>y2</key>
			<string>409.832</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{efb56c05-1624-4b98-92c7-d8c46e224b40}</key>
		<dict>
			<key>x1</key>
			<string>366.926</string>
			<key>y1</key>
			<string>455.967</string>
			<key>x2</key>
			<string>366.926</string>
			<key>y2</key>
			<string>471.741</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{49b45536-2070-4d8e-84c3-052104595e4e}</key>
		<dict>
			<key>x1</key>
			<string>366.926</string>
			<key>y1</key>
			<string>398.821</string>
			<key>x2</key>
			<string>366.926</string>
			<key>y2</key>
			<string>411.022</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{2ab554af-fd9c-4e71-a733-8cad8175a444}</key>
		<dict>
			<key>x1</key>
			<string>331.816</string>
			<key>y1</key>
			<string>465.492</string>
			<key>x2</key>
			<string>331.816</string>
			<key>y2</key>
			<string>479.479</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{9ccd35c4-980c-4cde-a3d6-016b8d8b3dc8}</key>
		<dict>
			<key>x1</key>
			<string>331.816</string>
			<key>y1</key>
			<string>396.44</string>
			<key>x2</key>
			<string>331.816</string>
			<key>y2</key>
			<string>412.213</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{fad96f24-d27e-42da-a027-37b86a5b33c7}</key>
		<dict>
			<key>x1</key>
			<string>290.228</string>
			<key>y1</key>
			<string>460.729</string>
			<key>x2</key>
			<string>290.228</string>
			<key>y2</key>
			<string>475.908</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{f86fe31a-7069-4fb7-aaf9-bd8c26f3c31c}</key>
		<dict>
			<key>x1</key>
			<string>295.879</string>
			<key>y1</key>
			<string>406.556</string>
			<key>x2</key>
			<string>295.879</string>
			<key>y2</key>
			<string>391.974</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{3f9fb5e8-6278-4f10-bd6a-d43ebd311011}</key>
		<dict>
			<key>x1</key>
			<string>268.284</string>
			<key>y1</key>
			<string>403.583</string>
			<key>x2</key>
			<string>268.284</string>
			<key>y2</key>
			<string>418.166</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{000dc70d-cfe6-4e0f-85fa-ace6dab7742d}</key>
		<dict>
			<key>x1</key>
			<string>251.991</string>
			<key>y1</key>
			<string>466.084</string>
			<key>x2</key>
			<string>251.991</string>
			<key>y2</key>
			<string>451.501</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{902ccd85-3d92-4b18-b565-cac7016906b7}</key>
		<dict>
			<key>x1</key>
			<string>246.34</string>
			<key>y1</key>
			<string>405.964</string>
			<key>x2</key>
			<string>246.34</string>
			<key>y2</key>
			<string>419.356</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{23d36987-b372-4153-b90d-942619957c86}</key>
		<dict>
			<key>x1</key>
			<string>211.23</string>
			<key>y1</key>
			<string>463.111</string>
			<key>x2</key>
			<string>211.23</string>
			<key>y2</key>
			<string>477.693</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{6b3f54a6-db74-4dc9-b1a3-c74be315cdd9}</key>
		<dict>
			<key>x1</key>
			<string>211.23</string>
			<key>y1</key>
			<string>403.583</string>
			<key>x2</key>
			<string>211.23</string>
			<key>y2</key>
			<string>418.166</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{d27c1ad2-2bdc-4f8c-928f-cd00847d02aa}</key>
		<dict>
			<key>x1</key>
			<string>171.096</string>
			<key>y1</key>
			<string>460.729</string>
			<key>x2</key>
			<string>171.096</string>
			<key>y2</key>
			<string>475.908</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{ed56b8c1-e367-4119-903d-0e5710d1921a}</key>
		<dict>
			<key>x1</key>
			<string>176.747</string>
			<key>y1</key>
			<string>411.319</string>
			<key>x2</key>
			<string>176.747</string>
			<key>y2</key>
			<string>395.545</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{39490099-cf71-4cda-af4a-2554120fac7b}</key>
		<dict>
			<key>x1</key>
			<string>155.712</string>
			<key>y1</key>
			<string>406.556</string>
			<key>x2</key>
			<string>155.712</string>
			<key>y2</key>
			<string>394.355</string>
			<key>height</key>
			<string>-13.0961</string>
		</dict>
		<key>{b37063b1-40d8-466f-b14b-c1cd677dd219}</key>
		<dict>
			<key>x1</key>
			<string>134.677</string>
			<key>y1</key>
			<string>466.084</string>
			<key>x2</key>
			<string>134.677</string>
			<key>y2</key>
			<string>451.501</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{e118d3ac-5486-41f9-918b-08b674fbccf9}</key>
		<dict>
			<key>x1</key>
			<string>134.677</string>
			<key>y1</key>
			<string>408.938</string>
			<key>x2</key>
			<string>134.677</string>
			<key>y2</key>
			<string>395.545</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{f366326c-4190-4ce2-baa6-21ad238fa31a}</key>
		<dict>
			<key>x1</key>
			<string>101.02</string>
			<key>y1</key>
			<string>475.608</string>
			<key>x2</key>
			<string>101.02</string>
			<key>y2</key>
			<string>459.835</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{41446c87-09c5-46b1-b85a-0c1e6a934566}</key>
		<dict>
			<key>x1</key>
			<string>101.02</string>
			<key>y1</key>
			<string>406.556</string>
			<key>x2</key>
			<string>101.02</string>
			<key>y2</key>
			<string>391.974</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{bb98c8c2-384d-4be7-9e35-b7d3ba011858}</key>
		<dict>
			<key>x1</key>
			<string>530.883</string>
			<key>y1</key>
			<string>344.648</string>
			<key>x2</key>
			<string>530.883</string>
			<key>y2</key>
			<string>328.874</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{296d2912-142c-4208-9ed2-4c1d38ce9cb9}</key>
		<dict>
			<key>x1</key>
			<string>497.065</string>
			<key>y1</key>
			<string>335.123</string>
			<key>x2</key>
			<string>497.065</string>
			<key>y2</key>
			<string>319.35</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{32d69dd0-55d6-46be-b752-0411f9fff17f}</key>
		<dict>
			<key>x1</key>
			<string>457.596</string>
			<key>y1</key>
			<string>329.769</string>
			<key>x2</key>
			<string>457.596</string>
			<key>y2</key>
			<string>343.756</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{b611e2d1-aaee-4ea6-b9ce-1e29aa97f717}</key>
		<dict>
			<key>x1</key>
			<string>457.424</string>
			<key>y1</key>
			<string>265.331</string>
			<key>x2</key>
			<string>457.424</string>
			<key>y2</key>
			<string>280.657</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{5b001021-36cd-434e-91ed-13ebcc025f65}</key>
		<dict>
			<key>x1</key>
			<string>420.774</string>
			<key>y1</key>
			<string>335.123</string>
			<key>x2</key>
			<string>420.774</string>
			<key>y2</key>
			<string>319.35</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{dee31d3c-45ba-44b4-ab11-888fc2e2b987}</key>
		<dict>
			<key>x1</key>
			<string>415.124</string>
			<key>y1</key>
			<string>267.86</string>
			<key>x2</key>
			<string>415.124</string>
			<key>y2</key>
			<string>282.443</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{94e23ef0-6aa0-4b49-8461-e906d72b335b}</key>
		<dict>
			<key>x1</key>
			<string>392.734</string>
			<key>y1</key>
			<string>260.717</string>
			<key>x2</key>
			<string>392.734</string>
			<key>y2</key>
			<string>274.109</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{b038f82e-b0b2-4231-8800-844310d462b1}</key>
		<dict>
			<key>x1</key>
			<string>375.994</string>
			<key>y1</key>
			<string>337.504</string>
			<key>x2</key>
			<string>375.994</string>
			<key>y2</key>
			<string>321.731</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{9cb483b6-4d62-4cdf-9c25-4af0a4c07f5b}</key>
		<dict>
			<key>x1</key>
			<string>370.344</string>
			<key>y1</key>
			<string>263.098</string>
			<key>x2</key>
			<string>370.344</string>
			<key>y2</key>
			<string>275.3</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{56d4879f-c1ef-423b-a9b9-8e95709f715a}</key>
		<dict>
			<key>x1</key>
			<string>334.52</string>
			<key>y1</key>
			<string>329.769</string>
			<key>x2</key>
			<string>334.52</string>
			<key>y2</key>
			<string>343.756</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{34c475c5-b16f-4b60-b323-d15b09c7a254}</key>
		<dict>
			<key>x1</key>
			<string>334.52</string>
			<key>y1</key>
			<string>260.717</string>
			<key>x2</key>
			<string>334.52</string>
			<key>y2</key>
			<string>276.49</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{6cc263f7-2300-4acc-b5f6-789963930cc2}</key>
		<dict>
			<key>x1</key>
			<string>299.405</string>
			<key>y1</key>
			<string>335.123</string>
			<key>x2</key>
			<string>299.405</string>
			<key>y2</key>
			<string>319.35</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{ba1cd206-23b6-4107-85ba-343451e74aaa}</key>
		<dict>
			<key>x1</key>
			<string>293.754</string>
			<key>y1</key>
			<string>263.098</string>
			<key>x2</key>
			<string>293.754</string>
			<key>y2</key>
			<string>278.871</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{1a9adfb8-1e25-48da-91e6-9a9ee933a444}</key>
		<dict>
			<key>x1</key>
			<string>272.323</string>
			<key>y1</key>
			<string>255.955</string>
			<key>x2</key>
			<string>272.323</string>
			<key>y2</key>
			<string>269.347</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{d5f297ec-58d3-42be-be2f-f4789eb8929c}</key>
		<dict>
			<key>x1</key>
			<string>256.543</string>
			<key>y1</key>
			<string>332.742</string>
			<key>x2</key>
			<string>256.543</string>
			<key>y2</key>
			<string>317.564</string>
			<key>height</key>
			<string>-16.0724</string>
		</dict>
		<key>{407feda0-8451-45b1-a822-8560cbca03c0}</key>
		<dict>
			<key>x1</key>
			<string>250.893</string>
			<key>y1</key>
			<string>258.336</string>
			<key>x2</key>
			<string>250.893</string>
			<key>y2</key>
			<string>270.537</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{d39bf96b-e5fd-4f00-a43f-a1005a20b88c}</key>
		<dict>
			<key>x1</key>
			<string>222.254</string>
			<key>y1</key>
			<string>330.361</string>
			<key>x2</key>
			<string>222.254</string>
			<key>y2</key>
			<string>315.778</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{5e5dc7ba-4b33-457b-92e7-ecbd3ab077f0}</key>
		<dict>
			<key>x1</key>
			<string>216.603</string>
			<key>y1</key>
			<string>255.955</string>
			<key>x2</key>
			<string>216.603</string>
			<key>y2</key>
			<string>271.728</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{feac12c2-084f-4070-af60-1a463e32e945}</key>
		<dict>
			<key>x1</key>
			<string>172.702</string>
			<key>y1</key>
			<string>329.769</string>
			<key>x2</key>
			<string>172.702</string>
			<key>y2</key>
			<string>343.756</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{187efa39-6a42-42d1-8b91-d7ac4dd11bf8}</key>
		<dict>
			<key>x1</key>
			<string>178.352</string>
			<key>y1</key>
			<string>270.834</string>
			<key>x2</key>
			<string>178.352</string>
			<key>y2</key>
			<string>256.251</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{58db378a-5f6f-4f4d-8e0c-bc903b5d6b94}</key>
		<dict>
			<key>x1</key>
			<string>151.22</string>
			<key>y1</key>
			<string>265.479</string>
			<key>x2</key>
			<string>151.22</string>
			<key>y2</key>
			<string>278.871</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{fac4bacb-5f3f-4bd3-884d-0ccfbb1409df}</key>
		<dict>
			<key>x1</key>
			<string>129.739</string>
			<key>y1</key>
			<string>327.388</string>
			<key>x2</key>
			<string>129.739</string>
			<key>y2</key>
			<string>341.971</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{c1efb6a9-64ec-47c5-a2cf-de5ecb6fc06a}</key>
		<dict>
			<key>x1</key>
			<string>129.739</string>
			<key>y1</key>
			<string>267.86</string>
			<key>x2</key>
			<string>129.739</string>
			<key>y2</key>
			<string>280.062</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{a45df99f-8a5b-4c05-bce3-7a0371bbd633}</key>
		<dict>
			<key>x1</key>
			<string>95.3694</string>
			<key>y1</key>
			<string>325.007</string>
			<key>x2</key>
			<string>95.3694</string>
			<key>y2</key>
			<string>340.185</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{73667ece-d277-46bb-89e2-5d557ab198ee}</key>
		<dict>
			<key>x1</key>
			<string>95.3694</string>
			<key>y1</key>
			<string>265.479</string>
			<key>x2</key>
			<string>95.3694</string>
			<key>y2</key>
			<string>280.657</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{f07e3589-ab6a-403a-b12b-5bc60026ec0f}</key>
		<dict>
			<key>x1</key>
			<string>523.92</string>
			<key>y1</key>
			<string>186.903</string>
			<key>x2</key>
			<string>523.92</string>
			<key>y2</key>
			<string>202.676</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{ae110828-dfba-4c7e-a1f5-bf4e99c0fca0}</key>
		<dict>
			<key>x1</key>
			<string>529.57</string>
			<key>y1</key>
			<string>135.111</string>
			<key>x2</key>
			<string>529.57</string>
			<key>y2</key>
			<string>120.528</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{e8b2fff5-fffd-4ef8-a131-cb91f3c0b4e4}</key>
		<dict>
			<key>x1</key>
			<string>488.788</string>
			<key>y1</key>
			<string>179.759</string>
			<key>x2</key>
			<string>488.788</string>
			<key>y2</key>
			<string>195.533</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{fd40c7f4-bfdb-46cf-a0b7-abb71c3fc8f7}</key>
		<dict>
			<key>x1</key>
			<string>453.657</string>
			<key>y1</key>
			<string>184.522</string>
			<key>x2</key>
			<string>453.657</string>
			<key>y2</key>
			<string>200.295</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{9e239f9b-6e15-4790-b6b3-417b93989bbd}</key>
		<dict>
			<key>x1</key>
			<string>453.485</string>
			<key>y1</key>
			<string>127.227</string>
			<key>x2</key>
			<string>453.485</string>
			<key>y2</key>
			<string>143.148</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{7052eaf4-da17-4bfc-8754-9fc5d98be66f}</key>
		<dict>
			<key>x1</key>
			<string>412.811</string>
			<key>y1</key>
			<string>182.141</string>
			<key>x2</key>
			<string>412.811</string>
			<key>y2</key>
			<string>197.914</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{7fd3d989-5814-48f2-8599-141dd17337b4}</key>
		<dict>
			<key>x1</key>
			<string>412.811</string>
			<key>y1</key>
			<string>129.756</string>
			<key>x2</key>
			<string>412.811</string>
			<key>y2</key>
			<string>144.934</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{7094018e-58e4-4821-af02-090a0b7863f7}</key>
		<dict>
			<key>x1</key>
			<string>391.438</string>
			<key>y1</key>
			<string>124.994</string>
			<key>x2</key>
			<string>391.438</string>
			<key>y2</key>
			<string>138.386</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{30bf1104-eaaa-45d2-b338-e21aa32b10d6}</key>
		<dict>
			<key>x1</key>
			<string>370.064</string>
			<key>y1</key>
			<string>179.759</string>
			<key>x2</key>
			<string>370.064</string>
			<key>y2</key>
			<string>195.533</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{cc69a1b3-3d72-4fe9-9f44-01a4f3ef45ed}</key>
		<dict>
			<key>x1</key>
			<string>370.064</string>
			<key>y1</key>
			<string>127.375</string>
			<key>x2</key>
			<string>370.064</string>
			<key>y2</key>
			<string>139.577</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{617ef08e-a3de-442a-813e-8340cb7d9205}</key>
		<dict>
			<key>x1</key>
			<string>335.866</string>
			<key>y1</key>
			<string>177.378</string>
			<key>x2</key>
			<string>335.866</string>
			<key>y2</key>
			<string>193.152</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{331d3069-c3d6-40a3-bfa2-c45f69a0a32a}</key>
		<dict>
			<key>x1</key>
			<string>335.866</string>
			<key>y1</key>
			<string>124.994</string>
			<key>x2</key>
			<string>335.866</string>
			<key>y2</key>
			<string>140.767</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{2ca8097e-e20d-4ac5-9ffe-f9b4580d52e6}</key>
		<dict>
			<key>x1</key>
			<string>296.731</string>
			<key>y1</key>
			<string>184.522</string>
			<key>x2</key>
			<string>296.731</string>
			<key>y2</key>
			<string>200.295</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{cceadf98-de12-414e-923f-863d45a66856}</key>
		<dict>
			<key>x1</key>
			<string>296.731</string>
			<key>y1</key>
			<string>127.375</string>
			<key>x2</key>
			<string>296.731</string>
			<key>y2</key>
			<string>143.148</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{1792ea4f-4cd2-4751-a0b7-dd3d5bdd6f19}</key>
		<dict>
			<key>x1</key>
			<string>276.32</string>
			<key>y1</key>
			<string>120.232</string>
			<key>x2</key>
			<string>276.32</string>
			<key>y2</key>
			<string>133.624</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{e66ccf65-6da6-4ac7-b6ea-197111dd4972}</key>
		<dict>
			<key>x1</key>
			<string>255.908</string>
			<key>y1</key>
			<string>182.141</string>
			<key>x2</key>
			<string>255.908</string>
			<key>y2</key>
			<string>197.914</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{179671c6-0688-4294-a42b-8b18776b5a25}</key>
		<dict>
			<key>x1</key>
			<string>255.908</string>
			<key>y1</key>
			<string>122.613</string>
			<key>x2</key>
			<string>255.908</string>
			<key>y2</key>
			<string>134.815</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{6eabafb2-8d55-4772-892e-b9a122c1d222}</key>
		<dict>
			<key>x1</key>
			<string>223.25</string>
			<key>y1</key>
			<string>179.759</string>
			<key>x2</key>
			<string>223.25</string>
			<key>y2</key>
			<string>195.533</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{988e4bcd-8af8-4b88-aed7-4bfcf0ce72bc}</key>
		<dict>
			<key>x1</key>
			<string>223.25</string>
			<key>y1</key>
			<string>120.232</string>
			<key>x2</key>
			<string>223.25</string>
			<key>y2</key>
			<string>136.005</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{597d73bc-3dc3-4c5c-be12-1b9f242a6e1f}</key>
		<dict>
			<key>x1</key>
			<string>179.735</string>
			<key>y1</key>
			<string>177.378</string>
			<key>x2</key>
			<string>179.735</string>
			<key>y2</key>
			<string>193.152</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{0c4a2886-5ddb-43c2-b14c-6a99a02bea6b}</key>
		<dict>
			<key>x1</key>
			<string>185.386</string>
			<key>y1</key>
			<string>135.111</string>
			<key>x2</key>
			<string>185.386</string>
			<key>y2</key>
			<string>120.528</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{a88dd888-a787-47b7-a1b9-16a617dcfdd5}</key>
		<dict>
			<key>x1</key>
			<string>159.092</string>
			<key>y1</key>
			<string>129.756</string>
			<key>x2</key>
			<string>159.092</string>
			<key>y2</key>
			<string>143.148</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{50fe4433-eea6-4826-ac45-dbde2e81b453}</key>
		<dict>
			<key>x1</key>
			<string>138.448</string>
			<key>y1</key>
			<string>184.522</string>
			<key>x2</key>
			<string>138.448</string>
			<key>y2</key>
			<string>200.295</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{aa296b28-1e12-4425-a8fc-6299e8cd30d6}</key>
		<dict>
			<key>x1</key>
			<string>138.448</string>
			<key>y1</key>
			<string>132.137</string>
			<key>x2</key>
			<string>138.448</string>
			<key>y2</key>
			<string>144.339</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{2bab93c8-3450-4ffd-9eb5-d60f26004adf}</key>
		<dict>
			<key>x1</key>
			<string>105.418</string>
			<key>y1</key>
			<string>194.046</string>
			<key>x2</key>
			<string>105.418</string>
			<key>y2</key>
			<string>208.034</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{fdbd2b4d-d8d6-4a05-878b-2848e20acf2d}</key>
		<dict>
			<key>x1</key>
			<string>105.418</string>
			<key>y1</key>
			<string>129.756</string>
			<key>x2</key>
			<string>105.418</string>
			<key>y2</key>
			<string>144.934</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
	</dict>
</dict>
</plist>