<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>62.1921</string>
			<key>y</key>
			<string>109.012</string>
			<key>bx</key>
			<string>62.1921</string>
			<key>by</key>
			<string>139.508</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>62.1921</string>
			<key>y</key>
			<string>234.445</string>
			<key>bx</key>
			<string>62.1921</string>
			<key>by</key>
			<string>264.941</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>62.1921</string>
			<key>y</key>
			<string>359.878</string>
			<key>bx</key>
			<string>62.1921</string>
			<key>by</key>
			<string>390.374</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>62.1921</string>
			<key>y</key>
			<string>485.311</string>
			<key>bx</key>
			<string>62.1921</string>
			<key>by</key>
			<string>515.808</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{a328a52d-50c3-4b46-a439-98d78a7d92f8}</key>
		<dict>
			<key>x</key>
			<string>513.975</string>
			<key>y</key>
			<string>523.578</string>
		</dict>
		<key>{d2d1040b-cb7b-424f-a274-b478bfbb45ee}</key>
		<dict>
			<key>x</key>
			<string>477.687</string>
			<key>y</key>
			<string>529.956</string>
		</dict>
		<key>{098ececf-f929-4c1f-8ad0-6ebe736a6d12}</key>
		<dict>
			<key>x</key>
			<string>441.399</string>
			<key>y</key>
			<string>538.46</string>
		</dict>
		<key>{fbf56532-dec4-4c54-8886-f7fa7dd53ddd}</key>
		<dict>
			<key>x</key>
			<string>441.399</string>
			<key>y</key>
			<string>489.563</string>
		</dict>
		<key>{f8663bd5-dbb0-4c31-aa4d-cd07034d6742}</key>
		<dict>
			<key>x</key>
			<string>399.328</string>
			<key>y</key>
			<string>529.956</string>
		</dict>
		<key>{1a890ae2-230d-407b-b7b2-14caddfd227f}</key>
		<dict>
			<key>x</key>
			<string>399.328</string>
			<key>y</key>
			<string>491.689</string>
		</dict>
		<key>{ad57dba0-0e09-4639-a4ee-4f021eb2ace4}</key>
		<dict>
			<key>x</key>
			<string>363.039</string>
			<key>y</key>
			<string>532.082</string>
		</dict>
		<key>{8f275cfc-32d6-43dd-a183-5ffab7813192}</key>
		<dict>
			<key>x</key>
			<string>363.039</string>
			<key>y</key>
			<string>493.815</string>
		</dict>
		<key>{e357ec3f-c701-443d-8473-1faa2e797e82}</key>
		<dict>
			<key>x</key>
			<string>326.751</string>
			<key>y</key>
			<string>534.208</string>
		</dict>
		<key>{799893e9-2d95-4ab5-ab69-e3d619851cc4}</key>
		<dict>
			<key>x</key>
			<string>326.751</string>
			<key>y</key>
			<string>495.941</string>
		</dict>
		<key>{53ab9c37-006e-4d60-a411-bd9a6b92557d}</key>
		<dict>
			<key>x</key>
			<string>284.68</string>
			<key>y</key>
			<string>532.082</string>
		</dict>
		<key>{109802d1-99d7-47f2-bf27-36dd44c8b20a}</key>
		<dict>
			<key>x</key>
			<string>284.68</string>
			<key>y</key>
			<string>487.437</string>
		</dict>
		<key>{1838cedf-492d-460d-aab5-274b30b5d682}</key>
		<dict>
			<key>x</key>
			<string>248.392</string>
			<key>y</key>
			<string>534.208</string>
		</dict>
		<key>{b974c8a8-9456-4a01-9647-73d08135d52f}</key>
		<dict>
			<key>x</key>
			<string>248.392</string>
			<key>y</key>
			<string>485.311</string>
		</dict>
		<key>{8ec1fed7-19a6-490b-ae2e-91f7c4325dda}</key>
		<dict>
			<key>x</key>
			<string>212.103</string>
			<key>y</key>
			<string>536.334</string>
		</dict>
		<key>{73fd9837-3cbd-473d-8f4b-7e8684189ec8}</key>
		<dict>
			<key>x</key>
			<string>212.103</string>
			<key>y</key>
			<string>483.185</string>
		</dict>
		<key>{6f682cc8-3845-4f5d-b134-65475bcffa1e}</key>
		<dict>
			<key>x</key>
			<string>184.902</string>
			<key>y</key>
			<string>481.059</string>
		</dict>
		<key>{98f331d6-6dcd-4666-acc8-809aa14944d0}</key>
		<dict>
			<key>x</key>
			<string>163.484</string>
			<key>y</key>
			<string>538.46</string>
		</dict>
		<key>{66febaf3-e3a8-49e6-af81-ac6fc355fc58}</key>
		<dict>
			<key>x</key>
			<string>163.484</string>
			<key>y</key>
			<string>485.311</string>
		</dict>
		<key>{fe17b5b2-ba18-4619-b830-b0734e7c9c5e}</key>
		<dict>
			<key>x</key>
			<string>129.214</string>
			<key>y</key>
			<string>536.334</string>
		</dict>
		<key>{c30cf8ca-0f7f-4410-8c1b-9871b14e5024}</key>
		<dict>
			<key>x</key>
			<string>94.9448</string>
			<key>y</key>
			<string>534.208</string>
		</dict>
		<key>{7721a737-592e-44b0-8b07-130985059246}</key>
		<dict>
			<key>x</key>
			<string>94.9448</string>
			<key>y</key>
			<string>489.563</string>
		</dict>
		<key>{3f950ee9-7c08-44ad-a02b-ed1a9a7e9600}</key>
		<dict>
			<key>x</key>
			<string>523.407</string>
			<key>y</key>
			<string>370.508</string>
		</dict>
		<key>{bff09f2f-f1ca-4ac0-8cb6-75fedde8913a}</key>
		<dict>
			<key>x</key>
			<string>501.751</string>
			<key>y</key>
			<string>366.256</string>
		</dict>
		<key>{2579fe0f-2a73-495a-9042-cdf699eab422}</key>
		<dict>
			<key>x</key>
			<string>480.095</string>
			<key>y</key>
			<string>362.004</string>
		</dict>
		<key>{c362702e-a0c6-48cc-a786-22a47a56b8e6}</key>
		<dict>
			<key>x</key>
			<string>445.445</string>
			<key>y</key>
			<string>404.523</string>
		</dict>
		<key>{97224788-7749-4de2-924d-0c5f35557ce7}</key>
		<dict>
			<key>x</key>
			<string>445.445</string>
			<key>y</key>
			<string>366.256</string>
		</dict>
		<key>{447eeaa0-a3f3-4477-afce-a58852b8eb71}</key>
		<dict>
			<key>x</key>
			<string>404.027</string>
			<key>y</key>
			<string>406.649</string>
		</dict>
		<key>{9f246b6c-9004-495c-ac05-f38773607f46}</key>
		<dict>
			<key>x</key>
			<string>404.027</string>
			<key>y</key>
			<string>364.13</string>
		</dict>
		<key>{f78b3c5e-e9a7-4c9e-81bb-84c17df88bd7}</key>
		<dict>
			<key>x</key>
			<string>368.391</string>
			<key>y</key>
			<string>366.256</string>
		</dict>
		<key>{83fb2a5e-0cdd-4802-8fe9-4563a8f14b92}</key>
		<dict>
			<key>x</key>
			<string>332.755</string>
			<key>y</key>
			<string>406.649</string>
		</dict>
		<key>{23f1f14f-3f32-4c40-b156-4fc9f8b1f611}</key>
		<dict>
			<key>x</key>
			<string>332.755</string>
			<key>y</key>
			<string>368.382</string>
		</dict>
		<key>{92d768aa-1ab5-48b4-9101-99cbe05f8bad}</key>
		<dict>
			<key>x</key>
			<string>291.655</string>
			<key>y</key>
			<string>413.027</string>
		</dict>
		<key>{110f24b4-1327-4924-ae81-a26ec86e93a7}</key>
		<dict>
			<key>x</key>
			<string>291.655</string>
			<key>y</key>
			<string>359.878</string>
		</dict>
		<key>{90736ead-d504-466a-8232-4717159deaa9}</key>
		<dict>
			<key>x</key>
			<string>256.338</string>
			<key>y</key>
			<string>410.901</string>
		</dict>
		<key>{f3b7bbeb-5580-4781-970b-cdc55af04cbb}</key>
		<dict>
			<key>x</key>
			<string>256.338</string>
			<key>y</key>
			<string>362.004</string>
		</dict>
		<key>{dab7a67c-4e87-4b7a-9815-5e8b3bccc7bb}</key>
		<dict>
			<key>x</key>
			<string>221.022</string>
			<key>y</key>
			<string>408.775</string>
		</dict>
		<key>{4c8555b7-ed56-42e9-be49-cc4cc9942cd0}</key>
		<dict>
			<key>x</key>
			<string>221.022</string>
			<key>y</key>
			<string>364.13</string>
		</dict>
		<key>{5e973a72-3ec9-4121-b47f-82900211e2f3}</key>
		<dict>
			<key>x</key>
			<string>193.694</string>
			<key>y</key>
			<string>366.256</string>
		</dict>
		<key>{01147cf8-c1c9-4212-8520-c237b7b8ccca}</key>
		<dict>
			<key>x</key>
			<string>172.149</string>
			<key>y</key>
			<string>406.649</string>
		</dict>
		<key>{ad93c488-568e-4b20-9507-4c57825cf139}</key>
		<dict>
			<key>x</key>
			<string>172.149</string>
			<key>y</key>
			<string>368.382</string>
		</dict>
		<key>{359e4caf-2850-44bd-8ba0-18f911c5fa3e}</key>
		<dict>
			<key>x</key>
			<string>137.677</string>
			<key>y</key>
			<string>404.523</string>
		</dict>
		<key>{63528068-f63f-4288-9298-03c98e4468c6}</key>
		<dict>
			<key>x</key>
			<string>103.206</string>
			<key>y</key>
			<string>404.523</string>
		</dict>
		<key>{6cc392d2-dbe1-4633-a393-211462994699}</key>
		<dict>
			<key>x</key>
			<string>103.206</string>
			<key>y</key>
			<string>370.508</string>
		</dict>
		<key>{4016e5db-6bae-4546-99aa-ce83798309f4}</key>
		<dict>
			<key>x</key>
			<string>513.975</string>
			<key>y</key>
			<string>287.594</string>
		</dict>
		<key>{84ed54df-c593-4178-ab6d-f6f54aa6dffe}</key>
		<dict>
			<key>x</key>
			<string>477.687</string>
			<key>y</key>
			<string>279.09</string>
		</dict>
		<key>{d6f4ee73-ef36-46c6-9721-fc5914586f22}</key>
		<dict>
			<key>x</key>
			<string>441.399</string>
			<key>y</key>
			<string>272.712</string>
		</dict>
		<key>{8c61bbdb-5d3d-404a-ae47-acfcb76ecb01}</key>
		<dict>
			<key>x</key>
			<string>441.399</string>
			<key>y</key>
			<string>238.697</string>
		</dict>
		<key>{278a8c0a-d20c-4801-bb56-0be908c78a9b}</key>
		<dict>
			<key>x</key>
			<string>399.328</string>
			<key>y</key>
			<string>279.09</string>
		</dict>
		<key>{5e284fd9-588f-4440-a288-b61f1990e0e4}</key>
		<dict>
			<key>x</key>
			<string>399.328</string>
			<key>y</key>
			<string>240.823</string>
		</dict>
		<key>{cde356be-4b9c-42df-8fc0-c41ff7ad554c}</key>
		<dict>
			<key>x</key>
			<string>363.039</string>
			<key>y</key>
			<string>283.342</string>
		</dict>
		<key>{b561e59a-3386-4c25-99db-d15f0193b0dd}</key>
		<dict>
			<key>x</key>
			<string>363.039</string>
			<key>y</key>
			<string>238.697</string>
		</dict>
		<key>{de25cd71-ba01-40a0-8052-9e65d79c4717}</key>
		<dict>
			<key>x</key>
			<string>326.751</string>
			<key>y</key>
			<string>287.594</string>
		</dict>
		<key>{21fa2362-fc41-48ac-ad87-bb5a12e52f83}</key>
		<dict>
			<key>x</key>
			<string>326.751</string>
			<key>y</key>
			<string>234.445</string>
		</dict>
		<key>{453e3517-4f80-46d1-a4ce-b155865d5a64}</key>
		<dict>
			<key>x</key>
			<string>284.68</string>
			<key>y</key>
			<string>289.72</string>
		</dict>
		<key>{1a3e9821-7684-4b76-8bb4-ac719de42e63}</key>
		<dict>
			<key>x</key>
			<string>284.68</string>
			<key>y</key>
			<string>236.571</string>
		</dict>
		<key>{0ecc825c-2605-4842-b4ff-1fe581bda2de}</key>
		<dict>
			<key>x</key>
			<string>248.392</string>
			<key>y</key>
			<string>287.594</string>
		</dict>
		<key>{7a8fcae9-9473-437f-a3e9-f7868d0887ad}</key>
		<dict>
			<key>x</key>
			<string>248.392</string>
			<key>y</key>
			<string>234.445</string>
		</dict>
		<key>{ebb542d4-e8e2-4442-94dc-46806c09a1d0}</key>
		<dict>
			<key>x</key>
			<string>212.103</string>
			<key>y</key>
			<string>285.468</string>
		</dict>
		<key>{ed657340-5f11-45fe-b3b2-a643bb5d35de}</key>
		<dict>
			<key>x</key>
			<string>212.103</string>
			<key>y</key>
			<string>232.319</string>
		</dict>
		<key>{62979942-1af3-4b1c-a135-0e2f5cc16b26}</key>
		<dict>
			<key>x</key>
			<string>184.902</string>
			<key>y</key>
			<string>230.193</string>
		</dict>
		<key>{129a16c8-8410-45de-a205-44b42b5db9ac}</key>
		<dict>
			<key>x</key>
			<string>163.484</string>
			<key>y</key>
			<string>287.594</string>
		</dict>
		<key>{c169f1cb-0117-4985-9fb4-2f709d153443}</key>
		<dict>
			<key>x</key>
			<string>163.484</string>
			<key>y</key>
			<string>234.445</string>
		</dict>
		<key>{c6fac20f-33fd-47a3-8fc8-eab59e79deec}</key>
		<dict>
			<key>x</key>
			<string>129.214</string>
			<key>y</key>
			<string>285.468</string>
		</dict>
		<key>{38bf1f37-01af-45bc-bd4d-7fd52112e190}</key>
		<dict>
			<key>x</key>
			<string>94.9448</string>
			<key>y</key>
			<string>283.342</string>
		</dict>
		<key>{6e6206ac-1ca1-48a8-9de3-65c8dcef46c6}</key>
		<dict>
			<key>x</key>
			<string>94.9448</string>
			<key>y</key>
			<string>238.697</string>
		</dict>
		<key>{6d641d92-9289-49db-acd8-64579d4f9064}</key>
		<dict>
			<key>x</key>
			<string>521.828</string>
			<key>y</key>
			<string>119.641</string>
		</dict>
		<key>{b4429df7-34dd-44e0-aaaa-fe99bfdb89d2}</key>
		<dict>
			<key>x</key>
			<string>485.598</string>
			<key>y</key>
			<string>117.515</string>
		</dict>
		<key>{d2a1cbc7-5dfd-4fb4-98a7-c85b4466a0a8}</key>
		<dict>
			<key>x</key>
			<string>449.369</string>
			<key>y</key>
			<string>168.539</string>
		</dict>
		<key>{6be8d053-cbc0-4947-89b8-b18a68ae70fc}</key>
		<dict>
			<key>x</key>
			<string>449.369</string>
			<key>y</key>
			<string>115.39</string>
		</dict>
		<key>{f389667f-bd80-4e9c-86f2-a783f64c5785}</key>
		<dict>
			<key>x</key>
			<string>407.358</string>
			<key>y</key>
			<string>166.413</string>
		</dict>
		<key>{07ce1d71-ce31-4aee-85bc-1e4b4cdee0cd}</key>
		<dict>
			<key>x</key>
			<string>407.358</string>
			<key>y</key>
			<string>113.264</string>
		</dict>
		<key>{1030669c-2bfb-4ba2-b8ec-4613388ca0df}</key>
		<dict>
			<key>x</key>
			<string>371.129</string>
			<key>y</key>
			<string>164.287</string>
		</dict>
		<key>{f088350f-9654-4d22-b649-a4d5df9c8ba2}</key>
		<dict>
			<key>x</key>
			<string>371.129</string>
			<key>y</key>
			<string>111.138</string>
		</dict>
		<key>{4f3698d4-4378-4816-a21d-e056df1a4157}</key>
		<dict>
			<key>x</key>
			<string>334.899</string>
			<key>y</key>
			<string>162.161</string>
		</dict>
		<key>{c39bde06-1034-47c8-baad-82ec95248b8e}</key>
		<dict>
			<key>x</key>
			<string>334.899</string>
			<key>y</key>
			<string>109.012</string>
		</dict>
		<key>{5615f3ef-3e0c-4a73-90d1-cdb24cd7dcde}</key>
		<dict>
			<key>x</key>
			<string>292.888</string>
			<key>y</key>
			<string>164.287</string>
		</dict>
		<key>{61348514-837b-4b3c-98b3-500c639fea10}</key>
		<dict>
			<key>x</key>
			<string>292.888</string>
			<key>y</key>
			<string>111.138</string>
		</dict>
		<key>{d77d96b5-f940-48f3-bf10-d212a15df3e1}</key>
		<dict>
			<key>x</key>
			<string>256.659</string>
			<key>y</key>
			<string>162.161</string>
		</dict>
		<key>{874361e7-afee-4a2b-8fea-e582561cf0db}</key>
		<dict>
			<key>x</key>
			<string>256.659</string>
			<key>y</key>
			<string>109.012</string>
		</dict>
		<key>{cabbb2d2-6d6c-4a0e-ab78-adcaab178d80}</key>
		<dict>
			<key>x</key>
			<string>220.429</string>
			<key>y</key>
			<string>160.035</string>
		</dict>
		<key>{a5d8ad2d-684a-4f55-8259-3a2c79aaaf12}</key>
		<dict>
			<key>x</key>
			<string>220.429</string>
			<key>y</key>
			<string>106.886</string>
		</dict>
		<key>{5a256960-0ec6-4516-a317-eaf76a93a96a}</key>
		<dict>
			<key>x</key>
			<string>193.263</string>
			<key>y</key>
			<string>104.76</string>
		</dict>
		<key>{cb03f885-afdd-44ad-9ff6-0ec463127096}</key>
		<dict>
			<key>x</key>
			<string>171.878</string>
			<key>y</key>
			<string>162.161</string>
		</dict>
		<key>{e03716ec-765f-42a2-b067-c94c4aacd624}</key>
		<dict>
			<key>x</key>
			<string>171.878</string>
			<key>y</key>
			<string>109.012</string>
		</dict>
		<key>{eac86eb2-d2f6-4fd7-b0e6-c1b0468184a7}</key>
		<dict>
			<key>x</key>
			<string>137.664</string>
			<key>y</key>
			<string>160.035</string>
		</dict>
		<key>{f27b53b9-a2a4-4df2-96b0-59b14c198685}</key>
		<dict>
			<key>x</key>
			<string>103.449</string>
			<key>y</key>
			<string>157.909</string>
		</dict>
		<key>{0ef2d1cd-725b-4fc5-bdf8-6d52b58cfac2}</key>
		<dict>
			<key>x</key>
			<string>103.449</string>
			<key>y</key>
			<string>113.264</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{a328a52d-50c3-4b46-a439-98d78a7d92f8}</key>
		<dict>
			<key>x1</key>
			<string>514.252</string>
			<key>y1</key>
			<string>524.377</string>
			<key>x2</key>
			<string>514.252</string>
			<key>y2</key>
			<string>545.901</string>
			<key>height</key>
			<string>22.3228</string>
		</dict>
		<key>{d2d1040b-cb7b-424f-a274-b478bfbb45ee}</key>
		<dict>
			<key>x1</key>
			<string>477.963</string>
			<key>y1</key>
			<string>530.755</string>
			<key>x2</key>
			<string>477.963</string>
			<key>y2</key>
			<string>548.559</string>
			<key>height</key>
			<string>18.6024</string>
		</dict>
		<key>{098ececf-f929-4c1f-8ad0-6ebe736a6d12}</key>
		<dict>
			<key>x1</key>
			<string>441.675</string>
			<key>y1</key>
			<string>539.259</string>
			<key>x2</key>
			<string>441.675</string>
			<key>y2</key>
			<string>551.216</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{fbf56532-dec4-4c54-8886-f7fa7dd53ddd}</key>
		<dict>
			<key>x1</key>
			<string>441.675</string>
			<key>y1</key>
			<string>490.361</string>
			<key>x2</key>
			<string>441.675</string>
			<key>y2</key>
			<string>503.913</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
		<key>{f8663bd5-dbb0-4c31-aa4d-cd07034d6742}</key>
		<dict>
			<key>x1</key>
			<string>399.604</string>
			<key>y1</key>
			<string>530.755</string>
			<key>x2</key>
			<string>399.604</string>
			<key>y2</key>
			<string>542.712</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{1a890ae2-230d-407b-b7b2-14caddfd227f}</key>
		<dict>
			<key>x1</key>
			<string>399.604</string>
			<key>y1</key>
			<string>492.487</string>
			<key>x2</key>
			<string>399.604</string>
			<key>y2</key>
			<string>505.508</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{ad57dba0-0e09-4639-a4ee-4f021eb2ace4}</key>
		<dict>
			<key>x1</key>
			<string>363.316</string>
			<key>y1</key>
			<string>532.881</string>
			<key>x2</key>
			<string>363.316</string>
			<key>y2</key>
			<string>544.838</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{8f275cfc-32d6-43dd-a183-5ffab7813192}</key>
		<dict>
			<key>x1</key>
			<string>363.316</string>
			<key>y1</key>
			<string>494.613</string>
			<key>x2</key>
			<string>363.316</string>
			<key>y2</key>
			<string>506.571</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{e357ec3f-c701-443d-8473-1faa2e797e82}</key>
		<dict>
			<key>x1</key>
			<string>327.027</string>
			<key>y1</key>
			<string>535.007</string>
			<key>x2</key>
			<string>327.027</string>
			<key>y2</key>
			<string>546.964</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{799893e9-2d95-4ab5-ab69-e3d619851cc4}</key>
		<dict>
			<key>x1</key>
			<string>327.027</string>
			<key>y1</key>
			<string>496.739</string>
			<key>x2</key>
			<string>327.027</string>
			<key>y2</key>
			<string>507.634</string>
			<key>height</key>
			<string>11.6929</string>
		</dict>
		<key>{53ab9c37-006e-4d60-a411-bd9a6b92557d}</key>
		<dict>
			<key>x1</key>
			<string>284.956</string>
			<key>y1</key>
			<string>532.881</string>
			<key>x2</key>
			<string>284.956</string>
			<key>y2</key>
			<string>545.901</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{109802d1-99d7-47f2-bf27-36dd44c8b20a}</key>
		<dict>
			<key>x1</key>
			<string>284.956</string>
			<key>y1</key>
			<string>488.235</string>
			<key>x2</key>
			<string>284.956</string>
			<key>y2</key>
			<string>499.13</string>
			<key>height</key>
			<string>11.6929</string>
		</dict>
		<key>{1838cedf-492d-460d-aab5-274b30b5d682}</key>
		<dict>
			<key>x1</key>
			<string>248.668</string>
			<key>y1</key>
			<string>535.007</string>
			<key>x2</key>
			<string>248.668</string>
			<key>y2</key>
			<string>546.964</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{b974c8a8-9456-4a01-9647-73d08135d52f}</key>
		<dict>
			<key>x1</key>
			<string>248.668</string>
			<key>y1</key>
			<string>486.109</string>
			<key>x2</key>
			<string>248.668</string>
			<key>y2</key>
			<string>498.067</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{8ec1fed7-19a6-490b-ae2e-91f7c4325dda}</key>
		<dict>
			<key>x1</key>
			<string>212.38</string>
			<key>y1</key>
			<string>537.133</string>
			<key>x2</key>
			<string>212.38</string>
			<key>y2</key>
			<string>548.027</string>
			<key>height</key>
			<string>11.6929</string>
		</dict>
		<key>{73fd9837-3cbd-473d-8f4b-7e8684189ec8}</key>
		<dict>
			<key>x1</key>
			<string>212.38</string>
			<key>y1</key>
			<string>483.983</string>
			<key>x2</key>
			<string>212.38</string>
			<key>y2</key>
			<string>497.004</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{6f682cc8-3845-4f5d-b134-65475bcffa1e}</key>
		<dict>
			<key>x1</key>
			<string>185.179</string>
			<key>y1</key>
			<string>481.857</string>
			<key>x2</key>
			<string>185.179</string>
			<key>y2</key>
			<string>493.815</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{98f331d6-6dcd-4666-acc8-809aa14944d0}</key>
		<dict>
			<key>x1</key>
			<string>163.76</string>
			<key>y1</key>
			<string>539.259</string>
			<key>x2</key>
			<string>163.76</string>
			<key>y2</key>
			<string>551.216</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{66febaf3-e3a8-49e6-af81-ac6fc355fc58}</key>
		<dict>
			<key>x1</key>
			<string>163.76</string>
			<key>y1</key>
			<string>486.109</string>
			<key>x2</key>
			<string>163.76</string>
			<key>y2</key>
			<string>498.067</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{fe17b5b2-ba18-4619-b830-b0734e7c9c5e}</key>
		<dict>
			<key>x1</key>
			<string>129.491</string>
			<key>y1</key>
			<string>537.133</string>
			<key>x2</key>
			<string>129.491</string>
			<key>y2</key>
			<string>549.09</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{c30cf8ca-0f7f-4410-8c1b-9871b14e5024}</key>
		<dict>
			<key>x1</key>
			<string>95.2212</string>
			<key>y1</key>
			<string>535.007</string>
			<key>x2</key>
			<string>95.2212</string>
			<key>y2</key>
			<string>546.964</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{7721a737-592e-44b0-8b07-130985059246}</key>
		<dict>
			<key>x1</key>
			<string>95.2212</string>
			<key>y1</key>
			<string>490.361</string>
			<key>x2</key>
			<string>95.2212</string>
			<key>y2</key>
			<string>503.913</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
		<key>{3f950ee9-7c08-44ad-a02b-ed1a9a7e9600}</key>
		<dict>
			<key>x1</key>
			<string>523.683</string>
			<key>y1</key>
			<string>371.306</string>
			<key>x2</key>
			<string>523.683</string>
			<key>y2</key>
			<string>384.327</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{bff09f2f-f1ca-4ac0-8cb6-75fedde8913a}</key>
		<dict>
			<key>x1</key>
			<string>502.027</string>
			<key>y1</key>
			<string>367.054</string>
			<key>x2</key>
			<string>502.027</string>
			<key>y2</key>
			<string>383.441</string>
			<key>height</key>
			<string>17.185</string>
		</dict>
		<key>{2579fe0f-2a73-495a-9042-cdf699eab422}</key>
		<dict>
			<key>x1</key>
			<string>480.371</string>
			<key>y1</key>
			<string>362.802</string>
			<key>x2</key>
			<string>480.371</string>
			<key>y2</key>
			<string>382.555</string>
			<key>height</key>
			<string>20.5512</string>
		</dict>
		<key>{c362702e-a0c6-48cc-a786-22a47a56b8e6}</key>
		<dict>
			<key>x1</key>
			<string>445.721</string>
			<key>y1</key>
			<string>405.322</string>
			<key>x2</key>
			<string>445.721</string>
			<key>y2</key>
			<string>419.405</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{97224788-7749-4de2-924d-0c5f35557ce7}</key>
		<dict>
			<key>x1</key>
			<string>445.721</string>
			<key>y1</key>
			<string>367.054</string>
			<key>x2</key>
			<string>445.721</string>
			<key>y2</key>
			<string>381.138</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{447eeaa0-a3f3-4477-afce-a58852b8eb71}</key>
		<dict>
			<key>x1</key>
			<string>404.303</string>
			<key>y1</key>
			<string>407.448</string>
			<key>x2</key>
			<string>404.303</string>
			<key>y2</key>
			<string>421.531</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{9f246b6c-9004-495c-ac05-f38773607f46}</key>
		<dict>
			<key>x1</key>
			<string>404.303</string>
			<key>y1</key>
			<string>364.928</string>
			<key>x2</key>
			<string>404.303</string>
			<key>y2</key>
			<string>376.886</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{f78b3c5e-e9a7-4c9e-81bb-84c17df88bd7}</key>
		<dict>
			<key>x1</key>
			<string>368.667</string>
			<key>y1</key>
			<string>367.054</string>
			<key>x2</key>
			<string>368.667</string>
			<key>y2</key>
			<string>379.012</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{83fb2a5e-0cdd-4802-8fe9-4563a8f14b92}</key>
		<dict>
			<key>x1</key>
			<string>333.031</string>
			<key>y1</key>
			<string>407.448</string>
			<key>x2</key>
			<string>333.031</string>
			<key>y2</key>
			<string>421.531</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{23f1f14f-3f32-4c40-b156-4fc9f8b1f611}</key>
		<dict>
			<key>x1</key>
			<string>333.031</string>
			<key>y1</key>
			<string>369.18</string>
			<key>x2</key>
			<string>333.031</string>
			<key>y2</key>
			<string>381.138</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{92d768aa-1ab5-48b4-9101-99cbe05f8bad}</key>
		<dict>
			<key>x1</key>
			<string>291.932</string>
			<key>y1</key>
			<string>413.826</string>
			<key>x2</key>
			<string>291.932</string>
			<key>y2</key>
			<string>425.783</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{110f24b4-1327-4924-ae81-a26ec86e93a7}</key>
		<dict>
			<key>x1</key>
			<string>291.932</string>
			<key>y1</key>
			<string>360.676</string>
			<key>x2</key>
			<string>291.932</string>
			<key>y2</key>
			<string>372.634</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{90736ead-d504-466a-8232-4717159deaa9}</key>
		<dict>
			<key>x1</key>
			<string>256.615</string>
			<key>y1</key>
			<string>411.7</string>
			<key>x2</key>
			<string>256.615</string>
			<key>y2</key>
			<string>423.657</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{f3b7bbeb-5580-4781-970b-cdc55af04cbb}</key>
		<dict>
			<key>x1</key>
			<string>256.615</string>
			<key>y1</key>
			<string>362.802</string>
			<key>x2</key>
			<string>256.615</string>
			<key>y2</key>
			<string>374.76</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{dab7a67c-4e87-4b7a-9815-5e8b3bccc7bb}</key>
		<dict>
			<key>x1</key>
			<string>221.298</string>
			<key>y1</key>
			<string>409.574</string>
			<key>x2</key>
			<string>221.298</string>
			<key>y2</key>
			<string>421.531</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{4c8555b7-ed56-42e9-be49-cc4cc9942cd0}</key>
		<dict>
			<key>x1</key>
			<string>221.298</string>
			<key>y1</key>
			<string>364.928</string>
			<key>x2</key>
			<string>221.298</string>
			<key>y2</key>
			<string>376.886</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{5e973a72-3ec9-4121-b47f-82900211e2f3}</key>
		<dict>
			<key>x1</key>
			<string>193.97</string>
			<key>y1</key>
			<string>367.054</string>
			<key>x2</key>
			<string>193.97</string>
			<key>y2</key>
			<string>380.075</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{01147cf8-c1c9-4212-8520-c237b7b8ccca}</key>
		<dict>
			<key>x1</key>
			<string>172.426</string>
			<key>y1</key>
			<string>407.448</string>
			<key>x2</key>
			<string>172.426</string>
			<key>y2</key>
			<string>420.468</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{ad93c488-568e-4b20-9507-4c57825cf139}</key>
		<dict>
			<key>x1</key>
			<string>172.426</string>
			<key>y1</key>
			<string>369.18</string>
			<key>x2</key>
			<string>172.426</string>
			<key>y2</key>
			<string>381.138</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{359e4caf-2850-44bd-8ba0-18f911c5fa3e}</key>
		<dict>
			<key>x1</key>
			<string>137.954</string>
			<key>y1</key>
			<string>405.322</string>
			<key>x2</key>
			<string>137.954</string>
			<key>y2</key>
			<string>419.937</string>
			<key>height</key>
			<string>15.4134</string>
		</dict>
		<key>{63528068-f63f-4288-9298-03c98e4468c6}</key>
		<dict>
			<key>x1</key>
			<string>103.482</string>
			<key>y1</key>
			<string>405.322</string>
			<key>x2</key>
			<string>103.482</string>
			<key>y2</key>
			<string>419.405</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{6cc392d2-dbe1-4633-a393-211462994699}</key>
		<dict>
			<key>x1</key>
			<string>108.527</string>
			<key>y1</key>
			<string>369.709</string>
			<key>x2</key>
			<string>108.527</string>
			<key>y2</key>
			<string>356.689</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{4016e5db-6bae-4546-99aa-ce83798309f4}</key>
		<dict>
			<key>x1</key>
			<string>514.252</string>
			<key>y1</key>
			<string>288.393</string>
			<key>x2</key>
			<string>514.252</string>
			<key>y2</key>
			<string>300.35</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{84ed54df-c593-4178-ab6d-f6f54aa6dffe}</key>
		<dict>
			<key>x1</key>
			<string>477.963</string>
			<key>y1</key>
			<string>279.889</string>
			<key>x2</key>
			<string>477.963</string>
			<key>y2</key>
			<string>297.693</string>
			<key>height</key>
			<string>18.6024</string>
		</dict>
		<key>{d6f4ee73-ef36-46c6-9721-fc5914586f22}</key>
		<dict>
			<key>x1</key>
			<string>441.675</string>
			<key>y1</key>
			<string>273.511</string>
			<key>x2</key>
			<string>441.675</string>
			<key>y2</key>
			<string>295.035</string>
			<key>height</key>
			<string>22.3228</string>
		</dict>
		<key>{8c61bbdb-5d3d-404a-ae47-acfcb76ecb01}</key>
		<dict>
			<key>x1</key>
			<string>441.675</string>
			<key>y1</key>
			<string>239.495</string>
			<key>x2</key>
			<string>441.675</string>
			<key>y2</key>
			<string>253.047</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
		<key>{278a8c0a-d20c-4801-bb56-0be908c78a9b}</key>
		<dict>
			<key>x1</key>
			<string>399.604</string>
			<key>y1</key>
			<string>279.889</string>
			<key>x2</key>
			<string>399.604</string>
			<key>y2</key>
			<string>295.035</string>
			<key>height</key>
			<string>15.9449</string>
		</dict>
		<key>{5e284fd9-588f-4440-a288-b61f1990e0e4}</key>
		<dict>
			<key>x1</key>
			<string>399.604</string>
			<key>y1</key>
			<string>241.621</string>
			<key>x2</key>
			<string>399.604</string>
			<key>y2</key>
			<string>255.704</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{cde356be-4b9c-42df-8fc0-c41ff7ad554c}</key>
		<dict>
			<key>x1</key>
			<string>363.316</string>
			<key>y1</key>
			<string>284.141</string>
			<key>x2</key>
			<string>363.316</string>
			<key>y2</key>
			<string>297.693</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
		<key>{b561e59a-3386-4c25-99db-d15f0193b0dd}</key>
		<dict>
			<key>x1</key>
			<string>363.316</string>
			<key>y1</key>
			<string>239.495</string>
			<key>x2</key>
			<string>363.316</string>
			<key>y2</key>
			<string>253.047</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
		<key>{de25cd71-ba01-40a0-8052-9e65d79c4717}</key>
		<dict>
			<key>x1</key>
			<string>327.027</string>
			<key>y1</key>
			<string>288.393</string>
			<key>x2</key>
			<string>327.027</string>
			<key>y2</key>
			<string>300.35</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{21fa2362-fc41-48ac-ad87-bb5a12e52f83}</key>
		<dict>
			<key>x1</key>
			<string>327.027</string>
			<key>y1</key>
			<string>235.243</string>
			<key>x2</key>
			<string>327.027</string>
			<key>y2</key>
			<string>250.39</string>
			<key>height</key>
			<string>15.9449</string>
		</dict>
		<key>{453e3517-4f80-46d1-a4ce-b155865d5a64}</key>
		<dict>
			<key>x1</key>
			<string>284.956</string>
			<key>y1</key>
			<string>290.519</string>
			<key>x2</key>
			<string>284.956</string>
			<key>y2</key>
			<string>301.413</string>
			<key>height</key>
			<string>11.6929</string>
		</dict>
		<key>{1a3e9821-7684-4b76-8bb4-ac719de42e63}</key>
		<dict>
			<key>x1</key>
			<string>284.956</string>
			<key>y1</key>
			<string>237.369</string>
			<key>x2</key>
			<string>284.956</string>
			<key>y2</key>
			<string>248.264</string>
			<key>height</key>
			<string>11.6929</string>
		</dict>
		<key>{0ecc825c-2605-4842-b4ff-1fe581bda2de}</key>
		<dict>
			<key>x1</key>
			<string>248.668</string>
			<key>y1</key>
			<string>288.393</string>
			<key>x2</key>
			<string>248.668</string>
			<key>y2</key>
			<string>300.35</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{7a8fcae9-9473-437f-a3e9-f7868d0887ad}</key>
		<dict>
			<key>x1</key>
			<string>248.668</string>
			<key>y1</key>
			<string>235.243</string>
			<key>x2</key>
			<string>248.668</string>
			<key>y2</key>
			<string>247.201</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{ebb542d4-e8e2-4442-94dc-46806c09a1d0}</key>
		<dict>
			<key>x1</key>
			<string>212.38</string>
			<key>y1</key>
			<string>286.267</string>
			<key>x2</key>
			<string>212.38</string>
			<key>y2</key>
			<string>299.287</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{ed657340-5f11-45fe-b3b2-a643bb5d35de}</key>
		<dict>
			<key>x1</key>
			<string>212.38</string>
			<key>y1</key>
			<string>233.117</string>
			<key>x2</key>
			<string>212.38</string>
			<key>y2</key>
			<string>246.138</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{62979942-1af3-4b1c-a135-0e2f5cc16b26}</key>
		<dict>
			<key>x1</key>
			<string>185.179</string>
			<key>y1</key>
			<string>230.991</string>
			<key>x2</key>
			<string>185.179</string>
			<key>y2</key>
			<string>242.949</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{129a16c8-8410-45de-a205-44b42b5db9ac}</key>
		<dict>
			<key>x1</key>
			<string>163.76</string>
			<key>y1</key>
			<string>288.393</string>
			<key>x2</key>
			<string>163.76</string>
			<key>y2</key>
			<string>300.35</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{c169f1cb-0117-4985-9fb4-2f709d153443}</key>
		<dict>
			<key>x1</key>
			<string>163.76</string>
			<key>y1</key>
			<string>235.243</string>
			<key>x2</key>
			<string>163.76</string>
			<key>y2</key>
			<string>247.201</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{c6fac20f-33fd-47a3-8fc8-eab59e79deec}</key>
		<dict>
			<key>x1</key>
			<string>129.491</string>
			<key>y1</key>
			<string>286.267</string>
			<key>x2</key>
			<string>129.491</string>
			<key>y2</key>
			<string>298.224</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{38bf1f37-01af-45bc-bd4d-7fd52112e190}</key>
		<dict>
			<key>x1</key>
			<string>95.2212</string>
			<key>y1</key>
			<string>284.141</string>
			<key>x2</key>
			<string>95.2212</string>
			<key>y2</key>
			<string>296.098</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{6e6206ac-1ca1-48a8-9de3-65c8dcef46c6}</key>
		<dict>
			<key>x1</key>
			<string>95.2212</string>
			<key>y1</key>
			<string>239.495</string>
			<key>x2</key>
			<string>95.2212</string>
			<key>y2</key>
			<string>253.047</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
		<key>{6d641d92-9289-49db-acd8-64579d4f9064}</key>
		<dict>
			<key>x1</key>
			<string>522.104</string>
			<key>y1</key>
			<string>120.44</string>
			<key>x2</key>
			<string>522.104</string>
			<key>y2</key>
			<string>131.334</string>
			<key>height</key>
			<string>11.6929</string>
		</dict>
		<key>{b4429df7-34dd-44e0-aaaa-fe99bfdb89d2}</key>
		<dict>
			<key>x1</key>
			<string>485.875</string>
			<key>y1</key>
			<string>118.314</string>
			<key>x2</key>
			<string>485.875</string>
			<key>y2</key>
			<string>130.271</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{d2a1cbc7-5dfd-4fb4-98a7-c85b4466a0a8}</key>
		<dict>
			<key>x1</key>
			<string>454.691</string>
			<key>y1</key>
			<string>167.741</string>
			<key>x2</key>
			<string>454.691</string>
			<key>y2</key>
			<string>153.657</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{6be8d053-cbc0-4947-89b8-b18a68ae70fc}</key>
		<dict>
			<key>x1</key>
			<string>449.646</string>
			<key>y1</key>
			<string>116.188</string>
			<key>x2</key>
			<string>449.646</string>
			<key>y2</key>
			<string>129.208</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{f389667f-bd80-4e9c-86f2-a783f64c5785}</key>
		<dict>
			<key>x1</key>
			<string>412.679</string>
			<key>y1</key>
			<string>165.615</string>
			<key>x2</key>
			<string>412.679</string>
			<key>y2</key>
			<string>153.657</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{07ce1d71-ce31-4aee-85bc-1e4b4cdee0cd}</key>
		<dict>
			<key>x1</key>
			<string>407.634</string>
			<key>y1</key>
			<string>114.062</string>
			<key>x2</key>
			<string>407.634</string>
			<key>y2</key>
			<string>126.019</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{1030669c-2bfb-4ba2-b8ec-4613388ca0df}</key>
		<dict>
			<key>x1</key>
			<string>376.45</string>
			<key>y1</key>
			<string>163.489</string>
			<key>x2</key>
			<string>376.45</string>
			<key>y2</key>
			<string>151.531</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{f088350f-9654-4d22-b649-a4d5df9c8ba2}</key>
		<dict>
			<key>x1</key>
			<string>371.405</string>
			<key>y1</key>
			<string>111.936</string>
			<key>x2</key>
			<string>371.405</string>
			<key>y2</key>
			<string>123.893</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{4f3698d4-4378-4816-a21d-e056df1a4157}</key>
		<dict>
			<key>x1</key>
			<string>340.221</string>
			<key>y1</key>
			<string>161.363</string>
			<key>x2</key>
			<string>340.221</string>
			<key>y2</key>
			<string>149.405</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{c39bde06-1034-47c8-baad-82ec95248b8e}</key>
		<dict>
			<key>x1</key>
			<string>335.176</string>
			<key>y1</key>
			<string>109.81</string>
			<key>x2</key>
			<string>335.176</string>
			<key>y2</key>
			<string>121.767</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{5615f3ef-3e0c-4a73-90d1-cdb24cd7dcde}</key>
		<dict>
			<key>x1</key>
			<string>293.164</string>
			<key>y1</key>
			<string>165.086</string>
			<key>x2</key>
			<string>293.164</string>
			<key>y2</key>
			<string>175.98</string>
			<key>height</key>
			<string>11.6929</string>
		</dict>
		<key>{61348514-837b-4b3c-98b3-500c639fea10}</key>
		<dict>
			<key>x1</key>
			<string>293.164</string>
			<key>y1</key>
			<string>111.936</string>
			<key>x2</key>
			<string>293.164</string>
			<key>y2</key>
			<string>122.83</string>
			<key>height</key>
			<string>11.6929</string>
		</dict>
		<key>{d77d96b5-f940-48f3-bf10-d212a15df3e1}</key>
		<dict>
			<key>x1</key>
			<string>256.935</string>
			<key>y1</key>
			<string>162.96</string>
			<key>x2</key>
			<string>256.935</string>
			<key>y2</key>
			<string>174.917</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{874361e7-afee-4a2b-8fea-e582561cf0db}</key>
		<dict>
			<key>x1</key>
			<string>256.935</string>
			<key>y1</key>
			<string>109.81</string>
			<key>x2</key>
			<string>256.935</string>
			<key>y2</key>
			<string>121.767</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{cabbb2d2-6d6c-4a0e-ab78-adcaab178d80}</key>
		<dict>
			<key>x1</key>
			<string>220.706</string>
			<key>y1</key>
			<string>160.834</string>
			<key>x2</key>
			<string>220.706</string>
			<key>y2</key>
			<string>173.854</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{a5d8ad2d-684a-4f55-8259-3a2c79aaaf12}</key>
		<dict>
			<key>x1</key>
			<string>220.706</string>
			<key>y1</key>
			<string>107.684</string>
			<key>x2</key>
			<string>220.706</string>
			<key>y2</key>
			<string>120.704</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{5a256960-0ec6-4516-a317-eaf76a93a96a}</key>
		<dict>
			<key>x1</key>
			<string>193.539</string>
			<key>y1</key>
			<string>105.558</string>
			<key>x2</key>
			<string>193.539</string>
			<key>y2</key>
			<string>117.515</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{cb03f885-afdd-44ad-9ff6-0ec463127096}</key>
		<dict>
			<key>x1</key>
			<string>172.155</string>
			<key>y1</key>
			<string>162.96</string>
			<key>x2</key>
			<string>172.155</string>
			<key>y2</key>
			<string>174.917</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{e03716ec-765f-42a2-b067-c94c4aacd624}</key>
		<dict>
			<key>x1</key>
			<string>172.155</string>
			<key>y1</key>
			<string>109.81</string>
			<key>x2</key>
			<string>172.155</string>
			<key>y2</key>
			<string>121.767</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{eac86eb2-d2f6-4fd7-b0e6-c1b0468184a7}</key>
		<dict>
			<key>x1</key>
			<string>137.94</string>
			<key>y1</key>
			<string>160.834</string>
			<key>x2</key>
			<string>137.94</string>
			<key>y2</key>
			<string>172.791</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{f27b53b9-a2a4-4df2-96b0-59b14c198685}</key>
		<dict>
			<key>x1</key>
			<string>103.725</string>
			<key>y1</key>
			<string>158.708</string>
			<key>x2</key>
			<string>103.725</string>
			<key>y2</key>
			<string>170.665</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{0ef2d1cd-725b-4fc5-bdf8-6d52b58cfac2}</key>
		<dict>
			<key>x1</key>
			<string>103.725</string>
			<key>y1</key>
			<string>114.062</string>
			<key>x2</key>
			<string>103.725</string>
			<key>y2</key>
			<string>127.614</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
	</dict>
</dict>
</plist>