<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>83.8745</string>
			<key>y</key>
			<string>101.198</string>
			<key>bx</key>
			<string>83.8745</string>
			<key>by</key>
			<string>138.005</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>62.6146</string>
			<key>y</key>
			<string>239.387</string>
			<key>bx</key>
			<string>62.6146</string>
			<key>by</key>
			<string>276.194</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>62.6146</string>
			<key>y</key>
			<string>377.576</string>
			<key>bx</key>
			<string>62.6146</string>
			<key>by</key>
			<string>414.383</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>62.6146</string>
			<key>y</key>
			<string>515.765</string>
			<key>bx</key>
			<string>62.6146</string>
			<key>by</key>
			<string>552.572</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{34daf28f-262b-4ca3-b6cb-c86e0db147c1}</key>
		<dict>
			<key>x</key>
			<string>456.877</string>
			<key>y</key>
			<string>568.915</string>
		</dict>
		<key>{529fef27-76e3-4421-9f98-30d5d040bc82}</key>
		<dict>
			<key>x</key>
			<string>456.877</string>
			<key>y</key>
			<string>573.167</string>
		</dict>
		<key>{ab0a1d98-3752-4810-b71c-83f7dfec6f1d}</key>
		<dict>
			<key>x</key>
			<string>456.877</string>
			<key>y</key>
			<string>526.395</string>
		</dict>
		<key>{60ad2132-2839-4a6a-93aa-ec3829a34150}</key>
		<dict>
			<key>x</key>
			<string>413.145</string>
			<key>y</key>
			<string>571.041</string>
		</dict>
		<key>{4328145b-41ea-4160-801c-322a6a4cfe33}</key>
		<dict>
			<key>x</key>
			<string>413.145</string>
			<key>y</key>
			<string>528.521</string>
		</dict>
		<key>{9974a3ee-fac2-4049-ad79-b60eb679eb5d}</key>
		<dict>
			<key>x</key>
			<string>389.427</string>
			<key>y</key>
			<string>530.647</string>
		</dict>
		<key>{1bbe1452-c0c0-4bc4-a795-1f03a6e0f096}</key>
		<dict>
			<key>x</key>
			<string>365.709</string>
			<key>y</key>
			<string>568.915</string>
		</dict>
		<key>{08efb206-a199-4c34-ad17-e98d876d5945}</key>
		<dict>
			<key>x</key>
			<string>341.991</string>
			<key>y</key>
			<string>566.789</string>
		</dict>
		<key>{87aae140-1054-4f38-8b3c-c7c8f4b94689}</key>
		<dict>
			<key>x</key>
			<string>318.273</string>
			<key>y</key>
			<string>571.041</string>
		</dict>
		<key>{8665e2a4-80d4-45fd-a563-a11c453a01bf}</key>
		<dict>
			<key>x</key>
			<string>318.273</string>
			<key>y</key>
			<string>532.773</string>
		</dict>
		<key>{8f1180d9-7a0f-4639-99b6-c02980285156}</key>
		<dict>
			<key>x</key>
			<string>293.282</string>
			<key>y</key>
			<string>526.395</string>
		</dict>
		<key>{d0dffe57-53b7-4b6b-91b9-e85170780e5b}</key>
		<dict>
			<key>x</key>
			<string>274.074</string>
			<key>y</key>
			<string>568.915</string>
		</dict>
		<key>{c01c853a-bf88-4aa9-aa18-e69703863417}</key>
		<dict>
			<key>x</key>
			<string>254.866</string>
			<key>y</key>
			<string>524.269</string>
		</dict>
		<key>{d1193df7-ca07-44f8-b1f1-85ed365edc24}</key>
		<dict>
			<key>x</key>
			<string>235.658</string>
			<key>y</key>
			<string>566.789</string>
		</dict>
		<key>{70f1fed1-d7b5-4cc9-985b-508b2526e277}</key>
		<dict>
			<key>x</key>
			<string>216.45</string>
			<key>y</key>
			<string>522.143</string>
		</dict>
		<key>{18508807-d6c1-4129-9cc6-c87257774252}</key>
		<dict>
			<key>x</key>
			<string>197.242</string>
			<key>y</key>
			<string>564.663</string>
		</dict>
		<key>{b22b5cc9-6551-4b50-87a6-5e37f02d65c4}</key>
		<dict>
			<key>x</key>
			<string>197.242</string>
			<key>y</key>
			<string>520.017</string>
		</dict>
		<key>{11f3ec91-3837-4509-9b27-2fa0cfe2ea9e}</key>
		<dict>
			<key>x</key>
			<string>155.741</string>
			<key>y</key>
			<string>562.537</string>
		</dict>
		<key>{8b475ea6-dd92-487d-9bd1-4b21b4bcb3c5}</key>
		<dict>
			<key>x</key>
			<string>155.741</string>
			<key>y</key>
			<string>520.017</string>
		</dict>
		<key>{e348568f-929b-4383-983f-c8e12a4f6f74}</key>
		<dict>
			<key>x</key>
			<string>120.023</string>
			<key>y</key>
			<string>564.663</string>
		</dict>
		<key>{b9ec3127-8d96-4943-9bd6-da03a5f030dc}</key>
		<dict>
			<key>x</key>
			<string>120.023</string>
			<key>y</key>
			<string>517.891</string>
		</dict>
		<key>{e95d235a-59de-415f-bfd6-8e1378dfd02f}</key>
		<dict>
			<key>x</key>
			<string>84.3055</string>
			<key>y</key>
			<string>566.789</string>
		</dict>
		<key>{79de7a64-1716-4cb7-afed-f3e3d876fd9b}</key>
		<dict>
			<key>x</key>
			<string>84.3055</string>
			<key>y</key>
			<string>515.765</string>
		</dict>
		<key>{5380ea5c-42e8-4813-95b4-21fe29f7f2a3}</key>
		<dict>
			<key>x</key>
			<string>519.58</string>
			<key>y</key>
			<string>430.726</string>
		</dict>
		<key>{0b961c3f-ba6b-4fe5-88f5-4916092032e9}</key>
		<dict>
			<key>x</key>
			<string>481.526</string>
			<key>y</key>
			<string>428.6</string>
		</dict>
		<key>{ad82a749-2858-49b8-9997-842b362d3234}</key>
		<dict>
			<key>x</key>
			<string>443.472</string>
			<key>y</key>
			<string>426.474</string>
		</dict>
		<key>{95f44930-c795-4c67-ad50-cef099277ca8}</key>
		<dict>
			<key>x</key>
			<string>443.319</string>
			<key>y</key>
			<string>375.45</string>
		</dict>
		<key>{883e0b3e-323e-4814-9d15-50405059e2da}</key>
		<dict>
			<key>x</key>
			<string>414.955</string>
			<key>y</key>
			<string>390.332</string>
		</dict>
		<key>{93125c08-3dba-41bc-837f-68a9d1b942fa}</key>
		<dict>
			<key>x</key>
			<string>392.374</string>
			<key>y</key>
			<string>428.6</string>
		</dict>
		<key>{40ca4935-f724-45f0-b5e2-88d893376b10}</key>
		<dict>
			<key>x</key>
			<string>392.374</string>
			<key>y</key>
			<string>381.828</string>
		</dict>
		<key>{d16bcacf-1c85-45b8-870b-8d3fe43e9501}</key>
		<dict>
			<key>x</key>
			<string>356.244</string>
			<key>y</key>
			<string>430.726</string>
		</dict>
		<key>{26678af9-868a-4fc0-91f0-3f0a5af2fa19}</key>
		<dict>
			<key>x</key>
			<string>320.115</string>
			<key>y</key>
			<string>432.852</string>
		</dict>
		<key>{acfc869e-4872-415c-995b-1bd3a77bf2ef}</key>
		<dict>
			<key>x</key>
			<string>319.961</string>
			<key>y</key>
			<string>381.828</string>
		</dict>
		<key>{ef13b78f-03fb-45bd-81d8-d1b28908e2be}</key>
		<dict>
			<key>x</key>
			<string>278.392</string>
			<key>y</key>
			<string>434.978</string>
		</dict>
		<key>{6c5cc1e2-15b7-483d-921f-4cb48a639d75}</key>
		<dict>
			<key>x</key>
			<string>242.606</string>
			<key>y</key>
			<string>432.852</string>
		</dict>
		<key>{d074e39a-0960-4970-a154-df2c68f4503e}</key>
		<dict>
			<key>x</key>
			<string>206.819</string>
			<key>y</key>
			<string>430.726</string>
		</dict>
		<key>{5e54cca1-e92d-4604-a6f6-1d60a8c3ed59}</key>
		<dict>
			<key>x</key>
			<string>206.666</string>
			<key>y</key>
			<string>379.702</string>
		</dict>
		<key>{2674fda1-cec8-49ec-bd56-6fd17063e710}</key>
		<dict>
			<key>x</key>
			<string>179.725</string>
			<key>y</key>
			<string>394.584</string>
		</dict>
		<key>{5dcbf4a9-30f2-4c10-a944-3300042fa9a5}</key>
		<dict>
			<key>x</key>
			<string>158.567</string>
			<key>y</key>
			<string>432.852</string>
		</dict>
		<key>{0b7a1faf-5ca7-4ef3-8591-ee76b31ebb1f}</key>
		<dict>
			<key>x</key>
			<string>158.567</string>
			<key>y</key>
			<string>386.08</string>
		</dict>
		<key>{bc2a3ef1-015c-424d-8b22-c8e7a642f0e3}</key>
		<dict>
			<key>x</key>
			<string>124.713</string>
			<key>y</key>
			<string>434.978</string>
		</dict>
		<key>{95206379-c794-4cc8-9282-d29ee5f90ce4}</key>
		<dict>
			<key>x</key>
			<string>90.8602</string>
			<key>y</key>
			<string>437.104</string>
		</dict>
		<key>{0ad36fd5-2ffc-411e-9ef5-3e4b5196c4d2}</key>
		<dict>
			<key>x</key>
			<string>90.7067</string>
			<key>y</key>
			<string>386.08</string>
		</dict>
		<key>{df4218cc-9268-4c05-87e4-9fc067f09dad}</key>
		<dict>
			<key>x</key>
			<string>522.826</string>
			<key>y</key>
			<string>296.789</string>
		</dict>
		<key>{db6b0d22-c1e9-49a6-ba26-c6f7e3d8dd00}</key>
		<dict>
			<key>x</key>
			<string>488.018</string>
			<key>y</key>
			<string>294.663</string>
		</dict>
		<key>{0fdf0bf0-3520-4f94-a87b-82a3498fa75e}</key>
		<dict>
			<key>x</key>
			<string>453.21</string>
			<key>y</key>
			<string>292.537</string>
		</dict>
		<key>{bb3b5688-63bd-42b6-abd0-c33e50a3dc82}</key>
		<dict>
			<key>x</key>
			<string>453.056</string>
			<key>y</key>
			<string>256.395</string>
		</dict>
		<key>{9959517c-99ba-4ce0-abb4-993fa306b896}</key>
		<dict>
			<key>x</key>
			<string>424.328</string>
			<key>y</key>
			<string>252.143</string>
		</dict>
		<key>{ed82a42b-1097-4899-840b-7b6d9bc154bc}</key>
		<dict>
			<key>x</key>
			<string>401.383</string>
			<key>y</key>
			<string>294.663</string>
		</dict>
		<key>{221c4e86-0232-4430-94d5-d5fa051147e6}</key>
		<dict>
			<key>x</key>
			<string>401.383</string>
			<key>y</key>
			<string>254.269</string>
		</dict>
		<key>{c53eceeb-d63d-42b5-89a4-22dbbd53239d}</key>
		<dict>
			<key>x</key>
			<string>364.671</string>
			<key>y</key>
			<string>292.537</string>
		</dict>
		<key>{3da55776-285e-41fd-817d-8bef3f8f402b}</key>
		<dict>
			<key>x</key>
			<string>327.958</string>
			<key>y</key>
			<string>290.411</string>
		</dict>
		<key>{efc36908-df0e-4ef5-bbf9-ea7c31c69721}</key>
		<dict>
			<key>x</key>
			<string>327.805</string>
			<key>y</key>
			<string>254.269</string>
		</dict>
		<key>{726e9e3c-8a52-4a5b-9a35-12e45531ed96}</key>
		<dict>
			<key>x</key>
			<string>299.876</string>
			<key>y</key>
			<string>250.017</string>
		</dict>
		<key>{66832da0-42d3-43f4-ad8a-5c9f8f57a607}</key>
		<dict>
			<key>x</key>
			<string>277.729</string>
			<key>y</key>
			<string>292.537</string>
		</dict>
		<key>{0733138e-9e03-49a5-9f33-891671258120}</key>
		<dict>
			<key>x</key>
			<string>277.729</string>
			<key>y</key>
			<string>252.143</string>
		</dict>
		<key>{c1b6d9dd-69a4-46b7-b234-439127f7f631}</key>
		<dict>
			<key>x</key>
			<string>242.295</string>
			<key>y</key>
			<string>290.411</string>
		</dict>
		<key>{beed1295-a563-4e93-8134-b73bd60a890f}</key>
		<dict>
			<key>x</key>
			<string>206.861</string>
			<key>y</key>
			<string>288.285</string>
		</dict>
		<key>{604df6c3-5556-424b-8a28-55ddfa790d77}</key>
		<dict>
			<key>x</key>
			<string>206.708</string>
			<key>y</key>
			<string>252.143</string>
		</dict>
		<key>{e3afbabc-9e90-4f6e-a57f-da61c02de254}</key>
		<dict>
			<key>x</key>
			<string>176.295</string>
			<key>y</key>
			<string>247.891</string>
		</dict>
		<key>{d488457f-069c-4a1b-9f96-c635fa7074af}</key>
		<dict>
			<key>x</key>
			<string>154.393</string>
			<key>y</key>
			<string>290.411</string>
		</dict>
		<key>{ce336063-30e2-4ade-9619-328aad916f07}</key>
		<dict>
			<key>x</key>
			<string>154.393</string>
			<key>y</key>
			<string>250.017</string>
		</dict>
		<key>{65aa4c02-64dc-4d5b-820c-1d1622c80939}</key>
		<dict>
			<key>x</key>
			<string>119.349</string>
			<key>y</key>
			<string>288.285</string>
		</dict>
		<key>{17e03196-d95f-4da7-a1e7-1779cbe22230}</key>
		<dict>
			<key>x</key>
			<string>84.3055</string>
			<key>y</key>
			<string>286.159</string>
		</dict>
		<key>{461036fc-71fd-4702-a95a-1e96b61d17db}</key>
		<dict>
			<key>x</key>
			<string>84.1521</string>
			<key>y</key>
			<string>250.017</string>
		</dict>
		<key>{b69e434d-a63f-4a99-bce5-ade3dda7924f}</key>
		<dict>
			<key>x</key>
			<string>522.027</string>
			<key>y</key>
			<string>150.096</string>
		</dict>
		<key>{e938ef73-5885-4fd0-a8ab-03cafceaebc7}</key>
		<dict>
			<key>x</key>
			<string>486.419</string>
			<key>y</key>
			<string>152.222</string>
		</dict>
		<key>{3064a606-6eaf-421c-8a16-bfc3bfa26f14}</key>
		<dict>
			<key>x</key>
			<string>450.812</string>
			<key>y</key>
			<string>154.348</string>
		</dict>
		<key>{d2b6d372-f4c5-49c0-b6ef-29764dd7bbdc}</key>
		<dict>
			<key>x</key>
			<string>450.658</string>
			<key>y</key>
			<string>111.828</string>
		</dict>
		<key>{16bd9264-80fd-490f-a82d-c8e9d7a014bd}</key>
		<dict>
			<key>x</key>
			<string>423.706</string>
			<key>y</key>
			<string>109.702</string>
		</dict>
		<key>{22ddc8ba-d8d9-4982-829d-2bc1fa50d32d}</key>
		<dict>
			<key>x</key>
			<string>402.536</string>
			<key>y</key>
			<string>152.222</string>
		</dict>
		<key>{f50c80bd-095b-4bfd-9d2e-12d60526c411}</key>
		<dict>
			<key>x</key>
			<string>402.536</string>
			<key>y</key>
			<string>118.206</string>
		</dict>
		<key>{1827ce7a-931c-47f9-a6f4-bedf0e89fa91}</key>
		<dict>
			<key>x</key>
			<string>368.665</string>
			<key>y</key>
			<string>154.348</string>
		</dict>
		<key>{5a1d010e-0d37-4859-a7eb-7cf71ef9c2e1}</key>
		<dict>
			<key>x</key>
			<string>334.793</string>
			<key>y</key>
			<string>156.474</string>
		</dict>
		<key>{bd65aa1e-ca68-4d6c-aec4-36c57109c59e}</key>
		<dict>
			<key>x</key>
			<string>334.64</string>
			<key>y</key>
			<string>118.206</string>
		</dict>
		<key>{1973e225-6cd1-47d2-aa20-477e225439a6}</key>
		<dict>
			<key>x</key>
			<string>295.293</string>
			<key>y</key>
			<string>152.222</string>
		</dict>
		<key>{d278bcba-9f19-418f-aec2-dd8943f338c3}</key>
		<dict>
			<key>x</key>
			<string>261.729</string>
			<key>y</key>
			<string>154.348</string>
		</dict>
		<key>{a4901aaf-83a5-49a0-8061-1b788671b496}</key>
		<dict>
			<key>x</key>
			<string>228.164</string>
			<key>y</key>
			<string>156.474</string>
		</dict>
		<key>{b363587a-9999-4422-9e81-b2949595c68f}</key>
		<dict>
			<key>x</key>
			<string>228.011</string>
			<key>y</key>
			<string>113.954</string>
		</dict>
		<key>{598bf086-95c9-42dd-b8f3-5bc5749c5386}</key>
		<dict>
			<key>x</key>
			<string>199.753</string>
			<key>y</key>
			<string>111.828</string>
		</dict>
		<key>{c25fd068-bc7a-48a2-83ec-8bf01fa3b7f3}</key>
		<dict>
			<key>x</key>
			<string>180.006</string>
			<key>y</key>
			<string>154.348</string>
		</dict>
		<key>{e45a11f7-7f4b-4356-8fd4-5ff960bfc69d}</key>
		<dict>
			<key>x</key>
			<string>180.006</string>
			<key>y</key>
			<string>118.206</string>
		</dict>
		<key>{41ef1182-9e89-4936-96d9-ba1955750d52}</key>
		<dict>
			<key>x</key>
			<string>148.411</string>
			<key>y</key>
			<string>156.474</string>
		</dict>
		<key>{1db924f7-a444-43d6-a5c5-4d3ea032607e}</key>
		<dict>
			<key>x</key>
			<string>116.816</string>
			<key>y</key>
			<string>158.6</string>
		</dict>
		<key>{69aca627-c56e-4750-8472-79a954f6bcda}</key>
		<dict>
			<key>x</key>
			<string>116.663</string>
			<key>y</key>
			<string>118.206</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{529fef27-76e3-4421-9f98-30d5d040bc82}</key>
		<dict>
			<key>x1</key>
			<string>457.153</string>
			<key>y1</key>
			<string>569.581</string>
			<key>x2</key>
			<string>457.153</string>
			<key>y2</key>
			<string>588.049</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{34daf28f-262b-4ca3-b6cb-c86e0db147c1}</key>
		<dict>
			<key>x1</key>
			<string>457.153</string>
			<key>y1</key>
			<string>569.581</string>
			<key>x2</key>
			<string>457.153</string>
			<key>y2</key>
			<string>588.049</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{ab0a1d98-3752-4810-b71c-83f7dfec6f1d}</key>
		<dict>
			<key>x1</key>
			<string>462.506</string>
			<key>y1</key>
			<string>525.742</string>
			<key>x2</key>
			<string>462.506</string>
			<key>y2</key>
			<string>512.576</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{60ad2132-2839-4a6a-93aa-ec3829a34150}</key>
		<dict>
			<key>x1</key>
			<string>413.422</string>
			<key>y1</key>
			<string>571.839</string>
			<key>x2</key>
			<string>413.422</string>
			<key>y2</key>
			<string>585.923</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{4328145b-41ea-4160-801c-322a6a4cfe33}</key>
		<dict>
			<key>x1</key>
			<string>418.467</string>
			<key>y1</key>
			<string>527.722</string>
			<key>x2</key>
			<string>418.467</string>
			<key>y2</key>
			<string>514.171</string>
			<key>height</key>
			<string>-14.3504</string>
		</dict>
		<key>{9974a3ee-fac2-4049-ad79-b60eb679eb5d}</key>
		<dict>
			<key>x1</key>
			<string>394.749</string>
			<key>y1</key>
			<string>529.848</string>
			<key>x2</key>
			<string>394.749</string>
			<key>y2</key>
			<string>515.765</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{1bbe1452-c0c0-4bc4-a795-1f03a6e0f096}</key>
		<dict>
			<key>x1</key>
			<string>365.985</string>
			<key>y1</key>
			<string>569.713</string>
			<key>x2</key>
			<string>365.985</string>
			<key>y2</key>
			<string>583.797</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{08efb206-a199-4c34-ad17-e98d876d5945}</key>
		<dict>
			<key>x1</key>
			<string>342.267</string>
			<key>y1</key>
			<string>567.587</string>
			<key>x2</key>
			<string>342.267</string>
			<key>y2</key>
			<string>580.608</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{87aae140-1054-4f38-8b3c-c7c8f4b94689}</key>
		<dict>
			<key>x1</key>
			<string>318.549</string>
			<key>y1</key>
			<string>571.839</string>
			<key>x2</key>
			<string>318.549</string>
			<key>y2</key>
			<string>582.734</string>
			<key>height</key>
			<string>11.6929</string>
		</dict>
		<key>{8665e2a4-80d4-45fd-a563-a11c453a01bf}</key>
		<dict>
			<key>x1</key>
			<string>323.594</string>
			<key>y1</key>
			<string>531.974</string>
			<key>x2</key>
			<string>323.594</string>
			<key>y2</key>
			<string>517.891</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{8f1180d9-7a0f-4639-99b6-c02980285156}</key>
		<dict>
			<key>x1</key>
			<string>298.604</string>
			<key>y1</key>
			<string>525.596</string>
			<key>x2</key>
			<string>298.604</string>
			<key>y2</key>
			<string>512.576</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{d0dffe57-53b7-4b6b-91b9-e85170780e5b}</key>
		<dict>
			<key>x1</key>
			<string>274.35</string>
			<key>y1</key>
			<string>569.713</string>
			<key>x2</key>
			<string>274.35</string>
			<key>y2</key>
			<string>583.797</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{c01c853a-bf88-4aa9-aa18-e69703863417}</key>
		<dict>
			<key>x1</key>
			<string>255.142</string>
			<key>y1</key>
			<string>525.068</string>
			<key>x2</key>
			<string>255.142</string>
			<key>y2</key>
			<string>537.556</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{d1193df7-ca07-44f8-b1f1-85ed365edc24}</key>
		<dict>
			<key>x1</key>
			<string>235.934</string>
			<key>y1</key>
			<string>567.587</string>
			<key>x2</key>
			<string>235.934</string>
			<key>y2</key>
			<string>581.671</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{70f1fed1-d7b5-4cc9-985b-508b2526e277}</key>
		<dict>
			<key>x1</key>
			<string>216.726</string>
			<key>y1</key>
			<string>522.942</string>
			<key>x2</key>
			<string>216.726</string>
			<key>y2</key>
			<string>535.962</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{18508807-d6c1-4129-9cc6-c87257774252}</key>
		<dict>
			<key>x1</key>
			<string>197.518</string>
			<key>y1</key>
			<string>565.461</string>
			<key>x2</key>
			<string>197.518</string>
			<key>y2</key>
			<string>581.671</string>
			<key>height</key>
			<string>17.0079</string>
		</dict>
		<key>{b22b5cc9-6551-4b50-87a6-5e37f02d65c4}</key>
		<dict>
			<key>x1</key>
			<string>197.518</string>
			<key>y1</key>
			<string>520.816</string>
			<key>x2</key>
			<string>197.518</string>
			<key>y2</key>
			<string>534.899</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{11f3ec91-3837-4509-9b27-2fa0cfe2ea9e}</key>
		<dict>
			<key>x1</key>
			<string>156.018</string>
			<key>y1</key>
			<string>563.335</string>
			<key>x2</key>
			<string>156.018</string>
			<key>y2</key>
			<string>581.671</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{8b475ea6-dd92-487d-9bd1-4b21b4bcb3c5}</key>
		<dict>
			<key>x1</key>
			<string>156.018</string>
			<key>y1</key>
			<string>520.816</string>
			<key>x2</key>
			<string>156.018</string>
			<key>y2</key>
			<string>534.367</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
		<key>{e348568f-929b-4383-983f-c8e12a4f6f74}</key>
		<dict>
			<key>x1</key>
			<string>120.3</string>
			<key>y1</key>
			<string>565.461</string>
			<key>x2</key>
			<string>120.3</string>
			<key>y2</key>
			<string>581.671</string>
			<key>height</key>
			<string>17.0079</string>
		</dict>
		<key>{b9ec3127-8d96-4943-9bd6-da03a5f030dc}</key>
		<dict>
			<key>x1</key>
			<string>120.3</string>
			<key>y1</key>
			<string>518.69</string>
			<key>x2</key>
			<string>120.3</string>
			<key>y2</key>
			<string>532.773</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{e95d235a-59de-415f-bfd6-8e1378dfd02f}</key>
		<dict>
			<key>x1</key>
			<string>84.5819</string>
			<key>y1</key>
			<string>567.587</string>
			<key>x2</key>
			<string>84.5819</string>
			<key>y2</key>
			<string>581.671</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{79de7a64-1716-4cb7-afed-f3e3d876fd9b}</key>
		<dict>
			<key>x1</key>
			<string>84.5819</string>
			<key>y1</key>
			<string>516.564</string>
			<key>x2</key>
			<string>84.5819</string>
			<key>y2</key>
			<string>530.647</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{5380ea5c-42e8-4813-95b4-21fe29f7f2a3}</key>
		<dict>
			<key>x1</key>
			<string>519.857</string>
			<key>y1</key>
			<string>431.524</string>
			<key>x2</key>
			<string>519.857</string>
			<key>y2</key>
			<string>445.608</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{0b961c3f-ba6b-4fe5-88f5-4916092032e9}</key>
		<dict>
			<key>x1</key>
			<string>481.803</string>
			<key>y1</key>
			<string>429.398</string>
			<key>x2</key>
			<string>481.803</string>
			<key>y2</key>
			<string>443.482</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{ad82a749-2858-49b8-9997-842b362d3234}</key>
		<dict>
			<key>x1</key>
			<string>443.749</string>
			<key>y1</key>
			<string>427.272</string>
			<key>x2</key>
			<string>443.749</string>
			<key>y2</key>
			<string>443.482</string>
			<key>height</key>
			<string>17.0079</string>
		</dict>
		<key>{95f44930-c795-4c67-ad50-cef099277ca8}</key>
		<dict>
			<key>x1</key>
			<string>443.595</string>
			<key>y1</key>
			<string>376.117</string>
			<key>x2</key>
			<string>443.595</string>
			<key>y2</key>
			<string>390.332</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{883e0b3e-323e-4814-9d15-50405059e2da}</key>
		<dict>
			<key>x1</key>
			<string>415.231</string>
			<key>y1</key>
			<string>391.131</string>
			<key>x2</key>
			<string>415.231</string>
			<key>y2</key>
			<string>403.088</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{93125c08-3dba-41bc-837f-68a9d1b942fa}</key>
		<dict>
			<key>x1</key>
			<string>392.65</string>
			<key>y1</key>
			<string>429.398</string>
			<key>x2</key>
			<string>392.65</string>
			<key>y2</key>
			<string>443.482</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{40ca4935-f724-45f0-b5e2-88d893376b10}</key>
		<dict>
			<key>x1</key>
			<string>392.65</string>
			<key>y1</key>
			<string>382.627</string>
			<key>x2</key>
			<string>392.65</string>
			<key>y2</key>
			<string>398.836</string>
			<key>height</key>
			<string>17.0079</string>
		</dict>
		<key>{d16bcacf-1c85-45b8-870b-8d3fe43e9501}</key>
		<dict>
			<key>x1</key>
			<string>356.521</string>
			<key>y1</key>
			<string>431.524</string>
			<key>x2</key>
			<string>356.521</string>
			<key>y2</key>
			<string>445.608</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{26678af9-868a-4fc0-91f0-3f0a5af2fa19}</key>
		<dict>
			<key>x1</key>
			<string>320.391</string>
			<key>y1</key>
			<string>433.65</string>
			<key>x2</key>
			<string>320.391</string>
			<key>y2</key>
			<string>447.734</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{acfc869e-4872-415c-995b-1bd3a77bf2ef}</key>
		<dict>
			<key>x1</key>
			<string>320.237</string>
			<key>y1</key>
			<string>382.495</string>
			<key>x2</key>
			<string>320.237</string>
			<key>y2</key>
			<string>396.178</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
		<key>{ef13b78f-03fb-45bd-81d8-d1b28908e2be}</key>
		<dict>
			<key>x1</key>
			<string>278.668</string>
			<key>y1</key>
			<string>435.776</string>
			<key>x2</key>
			<string>278.668</string>
			<key>y2</key>
			<string>449.86</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{6c5cc1e2-15b7-483d-921f-4cb48a639d75}</key>
		<dict>
			<key>x1</key>
			<string>242.882</string>
			<key>y1</key>
			<string>433.65</string>
			<key>x2</key>
			<string>242.882</string>
			<key>y2</key>
			<string>447.734</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{d074e39a-0960-4970-a154-df2c68f4503e}</key>
		<dict>
			<key>x1</key>
			<string>207.096</string>
			<key>y1</key>
			<string>431.524</string>
			<key>x2</key>
			<string>207.096</string>
			<key>y2</key>
			<string>445.608</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{5e54cca1-e92d-4604-a6f6-1d60a8c3ed59}</key>
		<dict>
			<key>x1</key>
			<string>206.942</string>
			<key>y1</key>
			<string>380.369</string>
			<key>x2</key>
			<string>206.942</string>
			<key>y2</key>
			<string>394.584</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{2674fda1-cec8-49ec-bd56-6fd17063e710}</key>
		<dict>
			<key>x1</key>
			<string>185.047</string>
			<key>y1</key>
			<string>393.785</string>
			<key>x2</key>
			<string>185.047</string>
			<key>y2</key>
			<string>377.576</string>
			<key>height</key>
			<string>-17.0079</string>
		</dict>
		<key>{5dcbf4a9-30f2-4c10-a944-3300042fa9a5}</key>
		<dict>
			<key>x1</key>
			<string>158.843</string>
			<key>y1</key>
			<string>433.65</string>
			<key>x2</key>
			<string>158.843</string>
			<key>y2</key>
			<string>447.734</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{0b7a1faf-5ca7-4ef3-8591-ee76b31ebb1f}</key>
		<dict>
			<key>x1</key>
			<string>163.888</string>
			<key>y1</key>
			<string>385.281</string>
			<key>x2</key>
			<string>163.888</string>
			<key>y2</key>
			<string>373.324</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{bc2a3ef1-015c-424d-8b22-c8e7a642f0e3}</key>
		<dict>
			<key>x1</key>
			<string>124.99</string>
			<key>y1</key>
			<string>435.776</string>
			<key>x2</key>
			<string>124.99</string>
			<key>y2</key>
			<string>449.86</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{95206379-c794-4cc8-9282-d29ee5f90ce4}</key>
		<dict>
			<key>x1</key>
			<string>91.1366</string>
			<key>y1</key>
			<string>437.902</string>
			<key>x2</key>
			<string>91.1366</string>
			<key>y2</key>
			<string>451.986</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{0ad36fd5-2ffc-411e-9ef5-3e4b5196c4d2}</key>
		<dict>
			<key>x1</key>
			<string>96.3353</string>
			<key>y1</key>
			<string>385.427</string>
			<key>x2</key>
			<string>96.3353</string>
			<key>y2</key>
			<string>372.793</string>
			<key>height</key>
			<string>-13.2874</string>
		</dict>
		<key>{df4218cc-9268-4c05-87e4-9fc067f09dad}</key>
		<dict>
			<key>x1</key>
			<string>523.102</string>
			<key>y1</key>
			<string>297.587</string>
			<key>x2</key>
			<string>523.102</string>
			<key>y2</key>
			<string>311.671</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{db6b0d22-c1e9-49a6-ba26-c6f7e3d8dd00}</key>
		<dict>
			<key>x1</key>
			<string>488.294</string>
			<key>y1</key>
			<string>295.461</string>
			<key>x2</key>
			<string>488.294</string>
			<key>y2</key>
			<string>309.545</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{0fdf0bf0-3520-4f94-a87b-82a3498fa75e}</key>
		<dict>
			<key>x1</key>
			<string>453.486</string>
			<key>y1</key>
			<string>293.335</string>
			<key>x2</key>
			<string>453.486</string>
			<key>y2</key>
			<string>307.419</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{bb3b5688-63bd-42b6-abd0-c33e50a3dc82}</key>
		<dict>
			<key>x1</key>
			<string>458.685</string>
			<key>y1</key>
			<string>255.742</string>
			<key>x2</key>
			<string>458.685</string>
			<key>y2</key>
			<string>241.513</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{9959517c-99ba-4ce0-abb4-993fa306b896}</key>
		<dict>
			<key>x1</key>
			<string>429.65</string>
			<key>y1</key>
			<string>251.344</string>
			<key>x2</key>
			<string>429.65</string>
			<key>y2</key>
			<string>239.387</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{ed82a42b-1097-4899-840b-7b6d9bc154bc}</key>
		<dict>
			<key>x1</key>
			<string>401.659</string>
			<key>y1</key>
			<string>295.461</string>
			<key>x2</key>
			<string>401.659</string>
			<key>y2</key>
			<string>309.545</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{221c4e86-0232-4430-94d5-d5fa051147e6}</key>
		<dict>
			<key>x1</key>
			<string>406.705</string>
			<key>y1</key>
			<string>253.47</string>
			<key>x2</key>
			<string>406.705</string>
			<key>y2</key>
			<string>240.45</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{c53eceeb-d63d-42b5-89a4-22dbbd53239d}</key>
		<dict>
			<key>x1</key>
			<string>364.947</string>
			<key>y1</key>
			<string>293.335</string>
			<key>x2</key>
			<string>364.947</string>
			<key>y2</key>
			<string>307.419</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{3da55776-285e-41fd-817d-8bef3f8f402b}</key>
		<dict>
			<key>x1</key>
			<string>328.234</string>
			<key>y1</key>
			<string>291.209</string>
			<key>x2</key>
			<string>328.234</string>
			<key>y2</key>
			<string>305.293</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{efc36908-df0e-4ef5-bbf9-ea7c31c69721}</key>
		<dict>
			<key>x1</key>
			<string>333.433</string>
			<key>y1</key>
			<string>253.616</string>
			<key>x2</key>
			<string>333.433</string>
			<key>y2</key>
			<string>239.387</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{726e9e3c-8a52-4a5b-9a35-12e45531ed96}</key>
		<dict>
			<key>x1</key>
			<string>305.197</string>
			<key>y1</key>
			<string>249.218</string>
			<key>x2</key>
			<string>305.197</string>
			<key>y2</key>
			<string>238.324</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{66832da0-42d3-43f4-ad8a-5c9f8f57a607}</key>
		<dict>
			<key>x1</key>
			<string>278.006</string>
			<key>y1</key>
			<string>293.335</string>
			<key>x2</key>
			<string>278.006</string>
			<key>y2</key>
			<string>307.419</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{0733138e-9e03-49a5-9f33-891671258120}</key>
		<dict>
			<key>x1</key>
			<string>283.051</string>
			<key>y1</key>
			<string>251.344</string>
			<key>x2</key>
			<string>283.051</string>
			<key>y2</key>
			<string>239.387</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{c1b6d9dd-69a4-46b7-b234-439127f7f631}</key>
		<dict>
			<key>x1</key>
			<string>242.572</string>
			<key>y1</key>
			<string>291.209</string>
			<key>x2</key>
			<string>242.572</string>
			<key>y2</key>
			<string>305.293</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{beed1295-a563-4e93-8134-b73bd60a890f}</key>
		<dict>
			<key>x1</key>
			<string>207.138</string>
			<key>y1</key>
			<string>289.083</string>
			<key>x2</key>
			<string>207.138</string>
			<key>y2</key>
			<string>305.293</string>
			<key>height</key>
			<string>17.0079</string>
		</dict>
		<key>{604df6c3-5556-424b-8a28-55ddfa790d77}</key>
		<dict>
			<key>x1</key>
			<string>212.336</string>
			<key>y1</key>
			<string>251.49</string>
			<key>x2</key>
			<string>212.336</string>
			<key>y2</key>
			<string>237.793</string>
			<key>height</key>
			<string>-14.3504</string>
		</dict>
		<key>{e3afbabc-9e90-4f6e-a57f-da61c02de254}</key>
		<dict>
			<key>x1</key>
			<string>181.617</string>
			<key>y1</key>
			<string>247.092</string>
			<key>x2</key>
			<string>181.617</string>
			<key>y2</key>
			<string>235.135</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{d488457f-069c-4a1b-9f96-c635fa7074af}</key>
		<dict>
			<key>x1</key>
			<string>154.669</string>
			<key>y1</key>
			<string>291.209</string>
			<key>x2</key>
			<string>154.669</string>
			<key>y2</key>
			<string>305.293</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{ce336063-30e2-4ade-9619-328aad916f07}</key>
		<dict>
			<key>x1</key>
			<string>159.714</string>
			<key>y1</key>
			<string>249.218</string>
			<key>x2</key>
			<string>159.714</string>
			<key>y2</key>
			<string>236.198</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{65aa4c02-64dc-4d5b-820c-1d1622c80939}</key>
		<dict>
			<key>x1</key>
			<string>119.626</string>
			<key>y1</key>
			<string>289.083</string>
			<key>x2</key>
			<string>119.626</string>
			<key>y2</key>
			<string>305.293</string>
			<key>height</key>
			<string>17.0079</string>
		</dict>
		<key>{17e03196-d95f-4da7-a1e7-1779cbe22230}</key>
		<dict>
			<key>x1</key>
			<string>84.5819</string>
			<key>y1</key>
			<string>286.957</string>
			<key>x2</key>
			<string>84.5819</string>
			<key>y2</key>
			<string>305.293</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{461036fc-71fd-4702-a95a-1e96b61d17db}</key>
		<dict>
			<key>x1</key>
			<string>89.7806</string>
			<key>y1</key>
			<string>249.364</string>
			<key>x2</key>
			<string>89.7806</string>
			<key>y2</key>
			<string>236.198</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{b69e434d-a63f-4a99-bce5-ade3dda7924f}</key>
		<dict>
			<key>x1</key>
			<string>522.303</string>
			<key>y1</key>
			<string>150.894</string>
			<key>x2</key>
			<string>522.303</string>
			<key>y2</key>
			<string>167.104</string>
			<key>height</key>
			<string>17.0079</string>
		</dict>
		<key>{e938ef73-5885-4fd0-a8ab-03cafceaebc7}</key>
		<dict>
			<key>x1</key>
			<string>486.696</string>
			<key>y1</key>
			<string>153.02</string>
			<key>x2</key>
			<string>486.696</string>
			<key>y2</key>
			<string>167.104</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{3064a606-6eaf-421c-8a16-bfc3bfa26f14}</key>
		<dict>
			<key>x1</key>
			<string>451.088</string>
			<key>y1</key>
			<string>155.146</string>
			<key>x2</key>
			<string>451.088</string>
			<key>y2</key>
			<string>169.23</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{d2b6d372-f4c5-49c0-b6ef-29764dd7bbdc}</key>
		<dict>
			<key>x1</key>
			<string>456.287</string>
			<key>y1</key>
			<string>111.175</string>
			<key>x2</key>
			<string>456.287</string>
			<key>y2</key>
			<string>98.0092</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{16bd9264-80fd-490f-a82d-c8e9d7a014bd}</key>
		<dict>
			<key>x1</key>
			<string>429.027</string>
			<key>y1</key>
			<string>108.903</string>
			<key>x2</key>
			<string>429.027</string>
			<key>y2</key>
			<string>96.9462</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{22ddc8ba-d8d9-4982-829d-2bc1fa50d32d}</key>
		<dict>
			<key>x1</key>
			<string>402.813</string>
			<key>y1</key>
			<string>153.02</string>
			<key>x2</key>
			<string>402.813</string>
			<key>y2</key>
			<string>167.104</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{f50c80bd-095b-4bfd-9d2e-12d60526c411}</key>
		<dict>
			<key>x1</key>
			<string>407.858</string>
			<key>y1</key>
			<string>117.407</string>
			<key>x2</key>
			<string>407.858</string>
			<key>y2</key>
			<string>101.198</string>
			<key>height</key>
			<string>-17.0079</string>
		</dict>
		<key>{1827ce7a-931c-47f9-a6f4-bedf0e89fa91}</key>
		<dict>
			<key>x1</key>
			<string>368.941</string>
			<key>y1</key>
			<string>155.146</string>
			<key>x2</key>
			<string>368.941</string>
			<key>y2</key>
			<string>169.23</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{5a1d010e-0d37-4859-a7eb-7cf71ef9c2e1}</key>
		<dict>
			<key>x1</key>
			<string>335.07</string>
			<key>y1</key>
			<string>157.272</string>
			<key>x2</key>
			<string>335.07</string>
			<key>y2</key>
			<string>171.356</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{bd65aa1e-ca68-4d6c-aec4-36c57109c59e}</key>
		<dict>
			<key>x1</key>
			<string>340.269</string>
			<key>y1</key>
			<string>117.553</string>
			<key>x2</key>
			<string>340.269</string>
			<key>y2</key>
			<string>103.324</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{1973e225-6cd1-47d2-aa20-477e225439a6}</key>
		<dict>
			<key>x1</key>
			<string>295.569</string>
			<key>y1</key>
			<string>153.02</string>
			<key>x2</key>
			<string>295.569</string>
			<key>y2</key>
			<string>167.104</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{d278bcba-9f19-418f-aec2-dd8943f338c3}</key>
		<dict>
			<key>x1</key>
			<string>262.005</string>
			<key>y1</key>
			<string>155.146</string>
			<key>x2</key>
			<string>262.005</string>
			<key>y2</key>
			<string>169.23</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{a4901aaf-83a5-49a0-8061-1b788671b496}</key>
		<dict>
			<key>x1</key>
			<string>228.441</string>
			<key>y1</key>
			<string>157.272</string>
			<key>x2</key>
			<string>228.441</string>
			<key>y2</key>
			<string>171.356</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{b363587a-9999-4422-9e81-b2949595c68f}</key>
		<dict>
			<key>x1</key>
			<string>233.639</string>
			<key>y1</key>
			<string>113.301</string>
			<key>x2</key>
			<string>233.639</string>
			<key>y2</key>
			<string>99.6036</string>
			<key>height</key>
			<string>-14.3504</string>
		</dict>
		<key>{598bf086-95c9-42dd-b8f3-5bc5749c5386}</key>
		<dict>
			<key>x1</key>
			<string>205.075</string>
			<key>y1</key>
			<string>111.029</string>
			<key>x2</key>
			<string>205.075</string>
			<key>y2</key>
			<string>100.135</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{c25fd068-bc7a-48a2-83ec-8bf01fa3b7f3}</key>
		<dict>
			<key>x1</key>
			<string>180.283</string>
			<key>y1</key>
			<string>155.146</string>
			<key>x2</key>
			<string>180.283</string>
			<key>y2</key>
			<string>169.23</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{e45a11f7-7f4b-4356-8fd4-5ff960bfc69d}</key>
		<dict>
			<key>x1</key>
			<string>185.328</string>
			<key>y1</key>
			<string>117.407</string>
			<key>x2</key>
			<string>185.328</string>
			<key>y2</key>
			<string>104.387</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{41ef1182-9e89-4936-96d9-ba1955750d52}</key>
		<dict>
			<key>x1</key>
			<string>148.688</string>
			<key>y1</key>
			<string>157.272</string>
			<key>x2</key>
			<string>148.688</string>
			<key>y2</key>
			<string>171.356</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{1db924f7-a444-43d6-a5c5-4d3ea032607e}</key>
		<dict>
			<key>x1</key>
			<string>117.093</string>
			<key>y1</key>
			<string>159.398</string>
			<key>x2</key>
			<string>117.093</string>
			<key>y2</key>
			<string>173.482</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{69aca627-c56e-4750-8472-79a954f6bcda}</key>
		<dict>
			<key>x1</key>
			<string>122.292</string>
			<key>y1</key>
			<string>117.553</string>
			<key>x2</key>
			<string>122.292</string>
			<key>y2</key>
			<string>103.324</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
	</dict>
</dict>
</plist>