<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>83.8745</string>
			<key>y</key>
			<string>101.198</string>
			<key>bx</key>
			<string>83.8745</string>
			<key>by</key>
			<string>138.005</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>62.6146</string>
			<key>y</key>
			<string>239.387</string>
			<key>bx</key>
			<string>62.6146</string>
			<key>by</key>
			<string>276.194</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>62.6146</string>
			<key>y</key>
			<string>377.576</string>
			<key>bx</key>
			<string>62.6146</string>
			<key>by</key>
			<string>414.383</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>62.6146</string>
			<key>y</key>
			<string>515.765</string>
			<key>bx</key>
			<string>62.6146</string>
			<key>by</key>
			<string>552.572</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{97cf16c5-1c18-421c-b3e6-14ae9018bdcc}</key>
		<dict>
			<key>x</key>
			<string>456.877</string>
			<key>y</key>
			<string>568.915</string>
		</dict>
		<key>{1f982878-197b-4083-9cc6-47eb577deb62}</key>
		<dict>
			<key>x</key>
			<string>456.877</string>
			<key>y</key>
			<string>573.167</string>
		</dict>
		<key>{99f37a40-bf44-46a7-a28e-21ced442c729}</key>
		<dict>
			<key>x</key>
			<string>456.877</string>
			<key>y</key>
			<string>526.395</string>
		</dict>
		<key>{3ddcda19-a7d7-4437-9e97-4dc8fcc84631}</key>
		<dict>
			<key>x</key>
			<string>413.145</string>
			<key>y</key>
			<string>571.041</string>
		</dict>
		<key>{fdd6aabf-a23c-49e3-acc8-2e790fae1d79}</key>
		<dict>
			<key>x</key>
			<string>413.145</string>
			<key>y</key>
			<string>528.521</string>
		</dict>
		<key>{af871a3c-3601-4c97-b5b9-5b8b54477a64}</key>
		<dict>
			<key>x</key>
			<string>389.427</string>
			<key>y</key>
			<string>530.647</string>
		</dict>
		<key>{f2810a19-6a0f-46c6-ad63-6fa1cd21edb9}</key>
		<dict>
			<key>x</key>
			<string>365.709</string>
			<key>y</key>
			<string>568.915</string>
		</dict>
		<key>{504528af-3844-4c73-948c-3ed503a799c9}</key>
		<dict>
			<key>x</key>
			<string>341.991</string>
			<key>y</key>
			<string>566.789</string>
		</dict>
		<key>{903d12c2-5dfc-4872-a755-27c7ada33215}</key>
		<dict>
			<key>x</key>
			<string>318.273</string>
			<key>y</key>
			<string>571.041</string>
		</dict>
		<key>{cc8e547a-4995-404f-b51e-14aaf1a9dd41}</key>
		<dict>
			<key>x</key>
			<string>318.273</string>
			<key>y</key>
			<string>532.773</string>
		</dict>
		<key>{8357e297-9889-434a-8dad-eb5e21c83236}</key>
		<dict>
			<key>x</key>
			<string>293.282</string>
			<key>y</key>
			<string>526.395</string>
		</dict>
		<key>{bb7f52d4-38f4-4bb9-9adc-3b0ee570899e}</key>
		<dict>
			<key>x</key>
			<string>274.074</string>
			<key>y</key>
			<string>568.915</string>
		</dict>
		<key>{2447698f-5b0e-462c-8d54-919e0f5c67cc}</key>
		<dict>
			<key>x</key>
			<string>254.866</string>
			<key>y</key>
			<string>524.269</string>
		</dict>
		<key>{40c3330a-c0ee-4078-86ec-323de07d5679}</key>
		<dict>
			<key>x</key>
			<string>235.658</string>
			<key>y</key>
			<string>566.789</string>
		</dict>
		<key>{3a5f94e2-d4b3-4747-893f-8160491a6788}</key>
		<dict>
			<key>x</key>
			<string>216.45</string>
			<key>y</key>
			<string>522.143</string>
		</dict>
		<key>{26e95037-1985-47e0-873a-ea6aac26fc99}</key>
		<dict>
			<key>x</key>
			<string>197.242</string>
			<key>y</key>
			<string>564.663</string>
		</dict>
		<key>{80ff884a-6779-4fdb-b5c1-f3f7566b1e52}</key>
		<dict>
			<key>x</key>
			<string>197.242</string>
			<key>y</key>
			<string>520.017</string>
		</dict>
		<key>{67be9da7-9d68-44b3-a210-62519d2f3993}</key>
		<dict>
			<key>x</key>
			<string>155.741</string>
			<key>y</key>
			<string>562.537</string>
		</dict>
		<key>{632f8526-6f5f-4e36-8d2e-f9c0df2aa77d}</key>
		<dict>
			<key>x</key>
			<string>155.741</string>
			<key>y</key>
			<string>520.017</string>
		</dict>
		<key>{e6ebfa5f-1294-4d27-a079-61ee4ad08656}</key>
		<dict>
			<key>x</key>
			<string>120.023</string>
			<key>y</key>
			<string>564.663</string>
		</dict>
		<key>{067d64f5-d04f-4bc5-a49f-6539b49e952f}</key>
		<dict>
			<key>x</key>
			<string>120.023</string>
			<key>y</key>
			<string>517.891</string>
		</dict>
		<key>{922e9b4d-5284-4408-b190-6731b053b227}</key>
		<dict>
			<key>x</key>
			<string>84.3055</string>
			<key>y</key>
			<string>566.789</string>
		</dict>
		<key>{1d15b91b-483e-4431-8da3-41a9d03a0cf2}</key>
		<dict>
			<key>x</key>
			<string>84.3055</string>
			<key>y</key>
			<string>515.765</string>
		</dict>
		<key>{7c40cdcb-068d-40ef-bf8b-9520cdc029a4}</key>
		<dict>
			<key>x</key>
			<string>519.58</string>
			<key>y</key>
			<string>430.726</string>
		</dict>
		<key>{4c3c86bb-9d49-4c6a-b065-836787c076b3}</key>
		<dict>
			<key>x</key>
			<string>481.526</string>
			<key>y</key>
			<string>428.6</string>
		</dict>
		<key>{cbf17329-4a1d-4d8c-9a15-ff79a2d5d7ef}</key>
		<dict>
			<key>x</key>
			<string>443.472</string>
			<key>y</key>
			<string>426.474</string>
		</dict>
		<key>{9daec079-8a79-424d-bfd0-492d401ed3bf}</key>
		<dict>
			<key>x</key>
			<string>443.319</string>
			<key>y</key>
			<string>375.45</string>
		</dict>
		<key>{a8f0dc68-9bac-49b3-8e2b-129269df1176}</key>
		<dict>
			<key>x</key>
			<string>414.955</string>
			<key>y</key>
			<string>390.332</string>
		</dict>
		<key>{39599a57-8eec-4dd6-8b1b-4a16c256faf7}</key>
		<dict>
			<key>x</key>
			<string>392.374</string>
			<key>y</key>
			<string>428.6</string>
		</dict>
		<key>{9fed562f-bf58-404c-b8a0-ffc7584c5164}</key>
		<dict>
			<key>x</key>
			<string>392.374</string>
			<key>y</key>
			<string>381.828</string>
		</dict>
		<key>{a1fcb98a-0750-4530-a1c5-86caf7bf7dae}</key>
		<dict>
			<key>x</key>
			<string>356.244</string>
			<key>y</key>
			<string>430.726</string>
		</dict>
		<key>{1da2a930-a1d5-4a5e-a856-317c534529d4}</key>
		<dict>
			<key>x</key>
			<string>320.115</string>
			<key>y</key>
			<string>432.852</string>
		</dict>
		<key>{68369e54-86fe-4bc2-9513-66353b2bd497}</key>
		<dict>
			<key>x</key>
			<string>319.961</string>
			<key>y</key>
			<string>381.828</string>
		</dict>
		<key>{7a32a04e-28e5-4301-a908-32f45a2d49d4}</key>
		<dict>
			<key>x</key>
			<string>278.392</string>
			<key>y</key>
			<string>434.978</string>
		</dict>
		<key>{52a87a6c-f8df-494b-be2b-07186b0e6afc}</key>
		<dict>
			<key>x</key>
			<string>242.606</string>
			<key>y</key>
			<string>432.852</string>
		</dict>
		<key>{9d2402a3-e1bb-4a6d-b018-fa110d99a267}</key>
		<dict>
			<key>x</key>
			<string>206.819</string>
			<key>y</key>
			<string>430.726</string>
		</dict>
		<key>{a21061dd-0963-40fc-bac9-62fce8c07416}</key>
		<dict>
			<key>x</key>
			<string>206.666</string>
			<key>y</key>
			<string>379.702</string>
		</dict>
		<key>{11d86c19-5757-4aa1-967d-9fd5f2d6c59b}</key>
		<dict>
			<key>x</key>
			<string>179.725</string>
			<key>y</key>
			<string>394.584</string>
		</dict>
		<key>{6aff108f-3168-4f57-857c-e6def501d521}</key>
		<dict>
			<key>x</key>
			<string>158.567</string>
			<key>y</key>
			<string>432.852</string>
		</dict>
		<key>{6fd5aec9-e6c9-4fd1-b0b8-312be21ecce5}</key>
		<dict>
			<key>x</key>
			<string>158.567</string>
			<key>y</key>
			<string>386.08</string>
		</dict>
		<key>{48dee0ee-724a-4759-8e0d-6aee45737724}</key>
		<dict>
			<key>x</key>
			<string>124.713</string>
			<key>y</key>
			<string>434.978</string>
		</dict>
		<key>{2798eec4-9741-4da0-bdd8-68135f173a92}</key>
		<dict>
			<key>x</key>
			<string>90.8602</string>
			<key>y</key>
			<string>437.104</string>
		</dict>
		<key>{589995c5-3539-4f9f-ba3a-e331435187c0}</key>
		<dict>
			<key>x</key>
			<string>90.7067</string>
			<key>y</key>
			<string>386.08</string>
		</dict>
		<key>{633f8756-56fa-4773-8336-b1cc7f79e016}</key>
		<dict>
			<key>x</key>
			<string>522.826</string>
			<key>y</key>
			<string>296.789</string>
		</dict>
		<key>{c3b5680d-0338-4c90-b641-cf2cdc13e0b4}</key>
		<dict>
			<key>x</key>
			<string>488.018</string>
			<key>y</key>
			<string>294.663</string>
		</dict>
		<key>{904720d3-2fe4-413d-b5b0-e221ed598576}</key>
		<dict>
			<key>x</key>
			<string>453.21</string>
			<key>y</key>
			<string>292.537</string>
		</dict>
		<key>{b9f5e506-1804-4416-84ee-348c1f4eeaf5}</key>
		<dict>
			<key>x</key>
			<string>453.056</string>
			<key>y</key>
			<string>256.395</string>
		</dict>
		<key>{50fbd638-ec5a-49e6-8d07-18ecc3eafa85}</key>
		<dict>
			<key>x</key>
			<string>424.328</string>
			<key>y</key>
			<string>252.143</string>
		</dict>
		<key>{721bef25-c5bf-494d-b984-cd58ea9a6dfa}</key>
		<dict>
			<key>x</key>
			<string>401.383</string>
			<key>y</key>
			<string>294.663</string>
		</dict>
		<key>{e96918d3-1eeb-47c9-87cb-41d6b406b73f}</key>
		<dict>
			<key>x</key>
			<string>401.383</string>
			<key>y</key>
			<string>254.269</string>
		</dict>
		<key>{e3561e48-2684-4e17-b77b-9d851a712681}</key>
		<dict>
			<key>x</key>
			<string>364.671</string>
			<key>y</key>
			<string>292.537</string>
		</dict>
		<key>{62a9a1ac-7fef-4974-82f0-3a163181501a}</key>
		<dict>
			<key>x</key>
			<string>327.958</string>
			<key>y</key>
			<string>290.411</string>
		</dict>
		<key>{88c3ebf1-73c5-40fe-80da-1ddb2355e95f}</key>
		<dict>
			<key>x</key>
			<string>327.805</string>
			<key>y</key>
			<string>254.269</string>
		</dict>
		<key>{ecbf79ef-1b2d-487a-a526-e4ef6a957cf2}</key>
		<dict>
			<key>x</key>
			<string>299.876</string>
			<key>y</key>
			<string>250.017</string>
		</dict>
		<key>{fed62e45-c7f5-4f05-90c3-10097ce5b4c7}</key>
		<dict>
			<key>x</key>
			<string>277.729</string>
			<key>y</key>
			<string>292.537</string>
		</dict>
		<key>{1cd87f4a-6367-455c-9b0f-4a2a6458497f}</key>
		<dict>
			<key>x</key>
			<string>277.729</string>
			<key>y</key>
			<string>252.143</string>
		</dict>
		<key>{a5a48ae6-1723-4559-a0cf-1e7c37d2f74a}</key>
		<dict>
			<key>x</key>
			<string>242.295</string>
			<key>y</key>
			<string>290.411</string>
		</dict>
		<key>{28831212-2e10-460c-84b8-e92b10247d12}</key>
		<dict>
			<key>x</key>
			<string>206.861</string>
			<key>y</key>
			<string>288.285</string>
		</dict>
		<key>{45676764-4d30-4ef1-bfec-b200e2c587be}</key>
		<dict>
			<key>x</key>
			<string>206.708</string>
			<key>y</key>
			<string>252.143</string>
		</dict>
		<key>{8331c159-dd9b-4e23-8b3f-f21028391d9a}</key>
		<dict>
			<key>x</key>
			<string>176.295</string>
			<key>y</key>
			<string>247.891</string>
		</dict>
		<key>{87a68b50-4028-4c2a-b661-388be7b2d24c}</key>
		<dict>
			<key>x</key>
			<string>154.393</string>
			<key>y</key>
			<string>290.411</string>
		</dict>
		<key>{ae1dd9a5-96dd-4888-aa7e-bf728f38ad3e}</key>
		<dict>
			<key>x</key>
			<string>154.393</string>
			<key>y</key>
			<string>250.017</string>
		</dict>
		<key>{987bd5bc-de45-418f-a514-4ff2c2780914}</key>
		<dict>
			<key>x</key>
			<string>119.349</string>
			<key>y</key>
			<string>288.285</string>
		</dict>
		<key>{ac443f25-a2a6-4293-9bf5-8e2a35a6470c}</key>
		<dict>
			<key>x</key>
			<string>84.3055</string>
			<key>y</key>
			<string>286.159</string>
		</dict>
		<key>{e8b75f18-b328-4216-961a-70e6ad31f113}</key>
		<dict>
			<key>x</key>
			<string>84.1521</string>
			<key>y</key>
			<string>250.017</string>
		</dict>
		<key>{9bdc8732-4c1a-47f3-983d-0b82827df8c7}</key>
		<dict>
			<key>x</key>
			<string>522.027</string>
			<key>y</key>
			<string>150.096</string>
		</dict>
		<key>{8aabf51c-786b-4ca8-9719-04a0d72c11a5}</key>
		<dict>
			<key>x</key>
			<string>486.419</string>
			<key>y</key>
			<string>152.222</string>
		</dict>
		<key>{1f0962d0-876d-4f05-9f75-b389f1650d89}</key>
		<dict>
			<key>x</key>
			<string>450.812</string>
			<key>y</key>
			<string>154.348</string>
		</dict>
		<key>{419b2439-92f1-450c-9504-2156de003421}</key>
		<dict>
			<key>x</key>
			<string>450.658</string>
			<key>y</key>
			<string>111.828</string>
		</dict>
		<key>{078bd013-8627-424e-8d70-72568b40ce4b}</key>
		<dict>
			<key>x</key>
			<string>423.706</string>
			<key>y</key>
			<string>109.702</string>
		</dict>
		<key>{03251bf9-a7ba-4a7c-b1c7-05f1a75df5ff}</key>
		<dict>
			<key>x</key>
			<string>402.536</string>
			<key>y</key>
			<string>152.222</string>
		</dict>
		<key>{46000df0-c9fa-41c2-926a-8e22d68fc0d9}</key>
		<dict>
			<key>x</key>
			<string>402.536</string>
			<key>y</key>
			<string>118.206</string>
		</dict>
		<key>{83497c31-0516-43f9-8a42-a015627d5585}</key>
		<dict>
			<key>x</key>
			<string>368.665</string>
			<key>y</key>
			<string>154.348</string>
		</dict>
		<key>{850a7c3d-ffb6-4a98-8d75-ff68995b6fa9}</key>
		<dict>
			<key>x</key>
			<string>334.793</string>
			<key>y</key>
			<string>156.474</string>
		</dict>
		<key>{d748543e-9866-4cf7-98a2-65acb58717e0}</key>
		<dict>
			<key>x</key>
			<string>334.64</string>
			<key>y</key>
			<string>118.206</string>
		</dict>
		<key>{ef16732e-6386-470c-bfce-279e4f202921}</key>
		<dict>
			<key>x</key>
			<string>295.293</string>
			<key>y</key>
			<string>152.222</string>
		</dict>
		<key>{81fa4b03-118d-4a3b-bacb-fb81b5c54d90}</key>
		<dict>
			<key>x</key>
			<string>261.729</string>
			<key>y</key>
			<string>154.348</string>
		</dict>
		<key>{3fc1b3eb-d902-4664-b202-61b277eb6b2b}</key>
		<dict>
			<key>x</key>
			<string>228.164</string>
			<key>y</key>
			<string>156.474</string>
		</dict>
		<key>{b05c82dd-0ca2-4bed-9e5f-828ac8e11176}</key>
		<dict>
			<key>x</key>
			<string>228.011</string>
			<key>y</key>
			<string>113.954</string>
		</dict>
		<key>{0f71fcc0-1608-4b16-8eb9-e8ad8f8bc5a4}</key>
		<dict>
			<key>x</key>
			<string>199.753</string>
			<key>y</key>
			<string>111.828</string>
		</dict>
		<key>{e26eaf77-73c0-4add-b6e6-1f5328be13e2}</key>
		<dict>
			<key>x</key>
			<string>180.006</string>
			<key>y</key>
			<string>154.348</string>
		</dict>
		<key>{dc793643-301b-4193-87f8-5b0b8eb1cc26}</key>
		<dict>
			<key>x</key>
			<string>180.006</string>
			<key>y</key>
			<string>118.206</string>
		</dict>
		<key>{eb67bf61-47ba-4303-8d88-a4816c353362}</key>
		<dict>
			<key>x</key>
			<string>148.411</string>
			<key>y</key>
			<string>156.474</string>
		</dict>
		<key>{1458e92e-0981-4806-8ca1-200e8fa02045}</key>
		<dict>
			<key>x</key>
			<string>116.816</string>
			<key>y</key>
			<string>158.6</string>
		</dict>
		<key>{44891640-eb23-4d76-80b3-e82ea9460afe}</key>
		<dict>
			<key>x</key>
			<string>116.663</string>
			<key>y</key>
			<string>118.206</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{1f982878-197b-4083-9cc6-47eb577deb62}</key>
		<dict>
			<key>x1</key>
			<string>457.153</string>
			<key>y1</key>
			<string>569.581</string>
			<key>x2</key>
			<string>457.153</string>
			<key>y2</key>
			<string>588.049</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{97cf16c5-1c18-421c-b3e6-14ae9018bdcc}</key>
		<dict>
			<key>x1</key>
			<string>457.153</string>
			<key>y1</key>
			<string>569.581</string>
			<key>x2</key>
			<string>457.153</string>
			<key>y2</key>
			<string>588.049</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{99f37a40-bf44-46a7-a28e-21ced442c729}</key>
		<dict>
			<key>x1</key>
			<string>462.506</string>
			<key>y1</key>
			<string>525.742</string>
			<key>x2</key>
			<string>462.506</string>
			<key>y2</key>
			<string>512.576</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{3ddcda19-a7d7-4437-9e97-4dc8fcc84631}</key>
		<dict>
			<key>x1</key>
			<string>413.422</string>
			<key>y1</key>
			<string>571.839</string>
			<key>x2</key>
			<string>413.422</string>
			<key>y2</key>
			<string>585.923</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{fdd6aabf-a23c-49e3-acc8-2e790fae1d79}</key>
		<dict>
			<key>x1</key>
			<string>418.467</string>
			<key>y1</key>
			<string>527.722</string>
			<key>x2</key>
			<string>418.467</string>
			<key>y2</key>
			<string>514.171</string>
			<key>height</key>
			<string>-14.3504</string>
		</dict>
		<key>{af871a3c-3601-4c97-b5b9-5b8b54477a64}</key>
		<dict>
			<key>x1</key>
			<string>394.749</string>
			<key>y1</key>
			<string>529.848</string>
			<key>x2</key>
			<string>394.749</string>
			<key>y2</key>
			<string>515.765</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{f2810a19-6a0f-46c6-ad63-6fa1cd21edb9}</key>
		<dict>
			<key>x1</key>
			<string>365.985</string>
			<key>y1</key>
			<string>569.713</string>
			<key>x2</key>
			<string>365.985</string>
			<key>y2</key>
			<string>583.797</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{504528af-3844-4c73-948c-3ed503a799c9}</key>
		<dict>
			<key>x1</key>
			<string>342.267</string>
			<key>y1</key>
			<string>567.587</string>
			<key>x2</key>
			<string>342.267</string>
			<key>y2</key>
			<string>580.608</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{903d12c2-5dfc-4872-a755-27c7ada33215}</key>
		<dict>
			<key>x1</key>
			<string>318.549</string>
			<key>y1</key>
			<string>571.839</string>
			<key>x2</key>
			<string>318.549</string>
			<key>y2</key>
			<string>582.734</string>
			<key>height</key>
			<string>11.6929</string>
		</dict>
		<key>{cc8e547a-4995-404f-b51e-14aaf1a9dd41}</key>
		<dict>
			<key>x1</key>
			<string>323.594</string>
			<key>y1</key>
			<string>531.974</string>
			<key>x2</key>
			<string>323.594</string>
			<key>y2</key>
			<string>517.891</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{8357e297-9889-434a-8dad-eb5e21c83236}</key>
		<dict>
			<key>x1</key>
			<string>298.604</string>
			<key>y1</key>
			<string>525.596</string>
			<key>x2</key>
			<string>298.604</string>
			<key>y2</key>
			<string>512.576</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{bb7f52d4-38f4-4bb9-9adc-3b0ee570899e}</key>
		<dict>
			<key>x1</key>
			<string>274.35</string>
			<key>y1</key>
			<string>569.713</string>
			<key>x2</key>
			<string>274.35</string>
			<key>y2</key>
			<string>583.797</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{2447698f-5b0e-462c-8d54-919e0f5c67cc}</key>
		<dict>
			<key>x1</key>
			<string>255.142</string>
			<key>y1</key>
			<string>525.068</string>
			<key>x2</key>
			<string>255.142</string>
			<key>y2</key>
			<string>537.556</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{40c3330a-c0ee-4078-86ec-323de07d5679}</key>
		<dict>
			<key>x1</key>
			<string>235.934</string>
			<key>y1</key>
			<string>567.587</string>
			<key>x2</key>
			<string>235.934</string>
			<key>y2</key>
			<string>581.671</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{3a5f94e2-d4b3-4747-893f-8160491a6788}</key>
		<dict>
			<key>x1</key>
			<string>216.726</string>
			<key>y1</key>
			<string>522.942</string>
			<key>x2</key>
			<string>216.726</string>
			<key>y2</key>
			<string>535.962</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{26e95037-1985-47e0-873a-ea6aac26fc99}</key>
		<dict>
			<key>x1</key>
			<string>197.518</string>
			<key>y1</key>
			<string>565.461</string>
			<key>x2</key>
			<string>197.518</string>
			<key>y2</key>
			<string>581.671</string>
			<key>height</key>
			<string>17.0079</string>
		</dict>
		<key>{80ff884a-6779-4fdb-b5c1-f3f7566b1e52}</key>
		<dict>
			<key>x1</key>
			<string>197.518</string>
			<key>y1</key>
			<string>520.816</string>
			<key>x2</key>
			<string>197.518</string>
			<key>y2</key>
			<string>534.899</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{67be9da7-9d68-44b3-a210-62519d2f3993}</key>
		<dict>
			<key>x1</key>
			<string>156.018</string>
			<key>y1</key>
			<string>563.335</string>
			<key>x2</key>
			<string>156.018</string>
			<key>y2</key>
			<string>581.671</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{632f8526-6f5f-4e36-8d2e-f9c0df2aa77d}</key>
		<dict>
			<key>x1</key>
			<string>156.018</string>
			<key>y1</key>
			<string>520.816</string>
			<key>x2</key>
			<string>156.018</string>
			<key>y2</key>
			<string>534.367</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
		<key>{e6ebfa5f-1294-4d27-a079-61ee4ad08656}</key>
		<dict>
			<key>x1</key>
			<string>120.3</string>
			<key>y1</key>
			<string>565.461</string>
			<key>x2</key>
			<string>120.3</string>
			<key>y2</key>
			<string>581.671</string>
			<key>height</key>
			<string>17.0079</string>
		</dict>
		<key>{067d64f5-d04f-4bc5-a49f-6539b49e952f}</key>
		<dict>
			<key>x1</key>
			<string>120.3</string>
			<key>y1</key>
			<string>518.69</string>
			<key>x2</key>
			<string>120.3</string>
			<key>y2</key>
			<string>532.773</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{922e9b4d-5284-4408-b190-6731b053b227}</key>
		<dict>
			<key>x1</key>
			<string>84.5819</string>
			<key>y1</key>
			<string>567.587</string>
			<key>x2</key>
			<string>84.5819</string>
			<key>y2</key>
			<string>581.671</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{1d15b91b-483e-4431-8da3-41a9d03a0cf2}</key>
		<dict>
			<key>x1</key>
			<string>84.5819</string>
			<key>y1</key>
			<string>516.564</string>
			<key>x2</key>
			<string>84.5819</string>
			<key>y2</key>
			<string>530.647</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{7c40cdcb-068d-40ef-bf8b-9520cdc029a4}</key>
		<dict>
			<key>x1</key>
			<string>519.857</string>
			<key>y1</key>
			<string>431.524</string>
			<key>x2</key>
			<string>519.857</string>
			<key>y2</key>
			<string>445.608</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{4c3c86bb-9d49-4c6a-b065-836787c076b3}</key>
		<dict>
			<key>x1</key>
			<string>481.803</string>
			<key>y1</key>
			<string>429.398</string>
			<key>x2</key>
			<string>481.803</string>
			<key>y2</key>
			<string>443.482</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{cbf17329-4a1d-4d8c-9a15-ff79a2d5d7ef}</key>
		<dict>
			<key>x1</key>
			<string>443.749</string>
			<key>y1</key>
			<string>427.272</string>
			<key>x2</key>
			<string>443.749</string>
			<key>y2</key>
			<string>443.482</string>
			<key>height</key>
			<string>17.0079</string>
		</dict>
		<key>{9daec079-8a79-424d-bfd0-492d401ed3bf}</key>
		<dict>
			<key>x1</key>
			<string>443.595</string>
			<key>y1</key>
			<string>376.117</string>
			<key>x2</key>
			<string>443.595</string>
			<key>y2</key>
			<string>390.332</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{a8f0dc68-9bac-49b3-8e2b-129269df1176}</key>
		<dict>
			<key>x1</key>
			<string>415.231</string>
			<key>y1</key>
			<string>391.131</string>
			<key>x2</key>
			<string>415.231</string>
			<key>y2</key>
			<string>403.088</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{39599a57-8eec-4dd6-8b1b-4a16c256faf7}</key>
		<dict>
			<key>x1</key>
			<string>392.65</string>
			<key>y1</key>
			<string>429.398</string>
			<key>x2</key>
			<string>392.65</string>
			<key>y2</key>
			<string>443.482</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{9fed562f-bf58-404c-b8a0-ffc7584c5164}</key>
		<dict>
			<key>x1</key>
			<string>392.65</string>
			<key>y1</key>
			<string>382.627</string>
			<key>x2</key>
			<string>392.65</string>
			<key>y2</key>
			<string>398.836</string>
			<key>height</key>
			<string>17.0079</string>
		</dict>
		<key>{a1fcb98a-0750-4530-a1c5-86caf7bf7dae}</key>
		<dict>
			<key>x1</key>
			<string>356.521</string>
			<key>y1</key>
			<string>431.524</string>
			<key>x2</key>
			<string>356.521</string>
			<key>y2</key>
			<string>445.608</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{1da2a930-a1d5-4a5e-a856-317c534529d4}</key>
		<dict>
			<key>x1</key>
			<string>320.391</string>
			<key>y1</key>
			<string>433.65</string>
			<key>x2</key>
			<string>320.391</string>
			<key>y2</key>
			<string>447.734</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{68369e54-86fe-4bc2-9513-66353b2bd497}</key>
		<dict>
			<key>x1</key>
			<string>320.237</string>
			<key>y1</key>
			<string>382.495</string>
			<key>x2</key>
			<string>320.237</string>
			<key>y2</key>
			<string>396.178</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
		<key>{7a32a04e-28e5-4301-a908-32f45a2d49d4}</key>
		<dict>
			<key>x1</key>
			<string>278.668</string>
			<key>y1</key>
			<string>435.776</string>
			<key>x2</key>
			<string>278.668</string>
			<key>y2</key>
			<string>449.86</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{52a87a6c-f8df-494b-be2b-07186b0e6afc}</key>
		<dict>
			<key>x1</key>
			<string>242.882</string>
			<key>y1</key>
			<string>433.65</string>
			<key>x2</key>
			<string>242.882</string>
			<key>y2</key>
			<string>447.734</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{9d2402a3-e1bb-4a6d-b018-fa110d99a267}</key>
		<dict>
			<key>x1</key>
			<string>207.096</string>
			<key>y1</key>
			<string>431.524</string>
			<key>x2</key>
			<string>207.096</string>
			<key>y2</key>
			<string>445.608</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{a21061dd-0963-40fc-bac9-62fce8c07416}</key>
		<dict>
			<key>x1</key>
			<string>206.942</string>
			<key>y1</key>
			<string>380.369</string>
			<key>x2</key>
			<string>206.942</string>
			<key>y2</key>
			<string>394.584</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{11d86c19-5757-4aa1-967d-9fd5f2d6c59b}</key>
		<dict>
			<key>x1</key>
			<string>185.047</string>
			<key>y1</key>
			<string>393.785</string>
			<key>x2</key>
			<string>185.047</string>
			<key>y2</key>
			<string>377.576</string>
			<key>height</key>
			<string>-17.0079</string>
		</dict>
		<key>{6aff108f-3168-4f57-857c-e6def501d521}</key>
		<dict>
			<key>x1</key>
			<string>158.843</string>
			<key>y1</key>
			<string>433.65</string>
			<key>x2</key>
			<string>158.843</string>
			<key>y2</key>
			<string>447.734</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{6fd5aec9-e6c9-4fd1-b0b8-312be21ecce5}</key>
		<dict>
			<key>x1</key>
			<string>163.888</string>
			<key>y1</key>
			<string>385.281</string>
			<key>x2</key>
			<string>163.888</string>
			<key>y2</key>
			<string>373.324</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{48dee0ee-724a-4759-8e0d-6aee45737724}</key>
		<dict>
			<key>x1</key>
			<string>124.99</string>
			<key>y1</key>
			<string>435.776</string>
			<key>x2</key>
			<string>124.99</string>
			<key>y2</key>
			<string>449.86</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{2798eec4-9741-4da0-bdd8-68135f173a92}</key>
		<dict>
			<key>x1</key>
			<string>91.1366</string>
			<key>y1</key>
			<string>437.902</string>
			<key>x2</key>
			<string>91.1366</string>
			<key>y2</key>
			<string>451.986</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{589995c5-3539-4f9f-ba3a-e331435187c0}</key>
		<dict>
			<key>x1</key>
			<string>96.3353</string>
			<key>y1</key>
			<string>385.427</string>
			<key>x2</key>
			<string>96.3353</string>
			<key>y2</key>
			<string>372.793</string>
			<key>height</key>
			<string>-13.2874</string>
		</dict>
		<key>{633f8756-56fa-4773-8336-b1cc7f79e016}</key>
		<dict>
			<key>x1</key>
			<string>523.102</string>
			<key>y1</key>
			<string>297.587</string>
			<key>x2</key>
			<string>523.102</string>
			<key>y2</key>
			<string>311.671</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{c3b5680d-0338-4c90-b641-cf2cdc13e0b4}</key>
		<dict>
			<key>x1</key>
			<string>488.294</string>
			<key>y1</key>
			<string>295.461</string>
			<key>x2</key>
			<string>488.294</string>
			<key>y2</key>
			<string>309.545</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{904720d3-2fe4-413d-b5b0-e221ed598576}</key>
		<dict>
			<key>x1</key>
			<string>453.486</string>
			<key>y1</key>
			<string>293.335</string>
			<key>x2</key>
			<string>453.486</string>
			<key>y2</key>
			<string>307.419</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{b9f5e506-1804-4416-84ee-348c1f4eeaf5}</key>
		<dict>
			<key>x1</key>
			<string>458.685</string>
			<key>y1</key>
			<string>255.742</string>
			<key>x2</key>
			<string>458.685</string>
			<key>y2</key>
			<string>241.513</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{50fbd638-ec5a-49e6-8d07-18ecc3eafa85}</key>
		<dict>
			<key>x1</key>
			<string>429.65</string>
			<key>y1</key>
			<string>251.344</string>
			<key>x2</key>
			<string>429.65</string>
			<key>y2</key>
			<string>239.387</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{721bef25-c5bf-494d-b984-cd58ea9a6dfa}</key>
		<dict>
			<key>x1</key>
			<string>401.659</string>
			<key>y1</key>
			<string>295.461</string>
			<key>x2</key>
			<string>401.659</string>
			<key>y2</key>
			<string>309.545</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{e96918d3-1eeb-47c9-87cb-41d6b406b73f}</key>
		<dict>
			<key>x1</key>
			<string>406.705</string>
			<key>y1</key>
			<string>253.47</string>
			<key>x2</key>
			<string>406.705</string>
			<key>y2</key>
			<string>240.45</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{e3561e48-2684-4e17-b77b-9d851a712681}</key>
		<dict>
			<key>x1</key>
			<string>364.947</string>
			<key>y1</key>
			<string>293.335</string>
			<key>x2</key>
			<string>364.947</string>
			<key>y2</key>
			<string>307.419</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{62a9a1ac-7fef-4974-82f0-3a163181501a}</key>
		<dict>
			<key>x1</key>
			<string>328.234</string>
			<key>y1</key>
			<string>291.209</string>
			<key>x2</key>
			<string>328.234</string>
			<key>y2</key>
			<string>305.293</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{88c3ebf1-73c5-40fe-80da-1ddb2355e95f}</key>
		<dict>
			<key>x1</key>
			<string>333.433</string>
			<key>y1</key>
			<string>253.616</string>
			<key>x2</key>
			<string>333.433</string>
			<key>y2</key>
			<string>239.387</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{ecbf79ef-1b2d-487a-a526-e4ef6a957cf2}</key>
		<dict>
			<key>x1</key>
			<string>305.197</string>
			<key>y1</key>
			<string>249.218</string>
			<key>x2</key>
			<string>305.197</string>
			<key>y2</key>
			<string>238.324</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{fed62e45-c7f5-4f05-90c3-10097ce5b4c7}</key>
		<dict>
			<key>x1</key>
			<string>278.006</string>
			<key>y1</key>
			<string>293.335</string>
			<key>x2</key>
			<string>278.006</string>
			<key>y2</key>
			<string>307.419</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{1cd87f4a-6367-455c-9b0f-4a2a6458497f}</key>
		<dict>
			<key>x1</key>
			<string>283.051</string>
			<key>y1</key>
			<string>251.344</string>
			<key>x2</key>
			<string>283.051</string>
			<key>y2</key>
			<string>239.387</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{a5a48ae6-1723-4559-a0cf-1e7c37d2f74a}</key>
		<dict>
			<key>x1</key>
			<string>242.572</string>
			<key>y1</key>
			<string>291.209</string>
			<key>x2</key>
			<string>242.572</string>
			<key>y2</key>
			<string>305.293</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{28831212-2e10-460c-84b8-e92b10247d12}</key>
		<dict>
			<key>x1</key>
			<string>207.138</string>
			<key>y1</key>
			<string>289.083</string>
			<key>x2</key>
			<string>207.138</string>
			<key>y2</key>
			<string>305.293</string>
			<key>height</key>
			<string>17.0079</string>
		</dict>
		<key>{45676764-4d30-4ef1-bfec-b200e2c587be}</key>
		<dict>
			<key>x1</key>
			<string>212.336</string>
			<key>y1</key>
			<string>251.49</string>
			<key>x2</key>
			<string>212.336</string>
			<key>y2</key>
			<string>237.793</string>
			<key>height</key>
			<string>-14.3504</string>
		</dict>
		<key>{8331c159-dd9b-4e23-8b3f-f21028391d9a}</key>
		<dict>
			<key>x1</key>
			<string>181.617</string>
			<key>y1</key>
			<string>247.092</string>
			<key>x2</key>
			<string>181.617</string>
			<key>y2</key>
			<string>235.135</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{87a68b50-4028-4c2a-b661-388be7b2d24c}</key>
		<dict>
			<key>x1</key>
			<string>154.669</string>
			<key>y1</key>
			<string>291.209</string>
			<key>x2</key>
			<string>154.669</string>
			<key>y2</key>
			<string>305.293</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{ae1dd9a5-96dd-4888-aa7e-bf728f38ad3e}</key>
		<dict>
			<key>x1</key>
			<string>159.714</string>
			<key>y1</key>
			<string>249.218</string>
			<key>x2</key>
			<string>159.714</string>
			<key>y2</key>
			<string>236.198</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{987bd5bc-de45-418f-a514-4ff2c2780914}</key>
		<dict>
			<key>x1</key>
			<string>119.626</string>
			<key>y1</key>
			<string>289.083</string>
			<key>x2</key>
			<string>119.626</string>
			<key>y2</key>
			<string>305.293</string>
			<key>height</key>
			<string>17.0079</string>
		</dict>
		<key>{ac443f25-a2a6-4293-9bf5-8e2a35a6470c}</key>
		<dict>
			<key>x1</key>
			<string>84.5819</string>
			<key>y1</key>
			<string>286.957</string>
			<key>x2</key>
			<string>84.5819</string>
			<key>y2</key>
			<string>305.293</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{e8b75f18-b328-4216-961a-70e6ad31f113}</key>
		<dict>
			<key>x1</key>
			<string>89.7806</string>
			<key>y1</key>
			<string>249.364</string>
			<key>x2</key>
			<string>89.7806</string>
			<key>y2</key>
			<string>236.198</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{9bdc8732-4c1a-47f3-983d-0b82827df8c7}</key>
		<dict>
			<key>x1</key>
			<string>522.303</string>
			<key>y1</key>
			<string>150.894</string>
			<key>x2</key>
			<string>522.303</string>
			<key>y2</key>
			<string>167.104</string>
			<key>height</key>
			<string>17.0079</string>
		</dict>
		<key>{8aabf51c-786b-4ca8-9719-04a0d72c11a5}</key>
		<dict>
			<key>x1</key>
			<string>486.696</string>
			<key>y1</key>
			<string>153.02</string>
			<key>x2</key>
			<string>486.696</string>
			<key>y2</key>
			<string>167.104</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{1f0962d0-876d-4f05-9f75-b389f1650d89}</key>
		<dict>
			<key>x1</key>
			<string>451.088</string>
			<key>y1</key>
			<string>155.146</string>
			<key>x2</key>
			<string>451.088</string>
			<key>y2</key>
			<string>169.23</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{419b2439-92f1-450c-9504-2156de003421}</key>
		<dict>
			<key>x1</key>
			<string>456.287</string>
			<key>y1</key>
			<string>111.175</string>
			<key>x2</key>
			<string>456.287</string>
			<key>y2</key>
			<string>98.0092</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{078bd013-8627-424e-8d70-72568b40ce4b}</key>
		<dict>
			<key>x1</key>
			<string>429.027</string>
			<key>y1</key>
			<string>108.903</string>
			<key>x2</key>
			<string>429.027</string>
			<key>y2</key>
			<string>96.9462</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{03251bf9-a7ba-4a7c-b1c7-05f1a75df5ff}</key>
		<dict>
			<key>x1</key>
			<string>402.813</string>
			<key>y1</key>
			<string>153.02</string>
			<key>x2</key>
			<string>402.813</string>
			<key>y2</key>
			<string>167.104</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{46000df0-c9fa-41c2-926a-8e22d68fc0d9}</key>
		<dict>
			<key>x1</key>
			<string>407.858</string>
			<key>y1</key>
			<string>117.407</string>
			<key>x2</key>
			<string>407.858</string>
			<key>y2</key>
			<string>101.198</string>
			<key>height</key>
			<string>-17.0079</string>
		</dict>
		<key>{83497c31-0516-43f9-8a42-a015627d5585}</key>
		<dict>
			<key>x1</key>
			<string>368.941</string>
			<key>y1</key>
			<string>155.146</string>
			<key>x2</key>
			<string>368.941</string>
			<key>y2</key>
			<string>169.23</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{850a7c3d-ffb6-4a98-8d75-ff68995b6fa9}</key>
		<dict>
			<key>x1</key>
			<string>335.07</string>
			<key>y1</key>
			<string>157.272</string>
			<key>x2</key>
			<string>335.07</string>
			<key>y2</key>
			<string>171.356</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{d748543e-9866-4cf7-98a2-65acb58717e0}</key>
		<dict>
			<key>x1</key>
			<string>340.269</string>
			<key>y1</key>
			<string>117.553</string>
			<key>x2</key>
			<string>340.269</string>
			<key>y2</key>
			<string>103.324</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{ef16732e-6386-470c-bfce-279e4f202921}</key>
		<dict>
			<key>x1</key>
			<string>295.569</string>
			<key>y1</key>
			<string>153.02</string>
			<key>x2</key>
			<string>295.569</string>
			<key>y2</key>
			<string>167.104</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{81fa4b03-118d-4a3b-bacb-fb81b5c54d90}</key>
		<dict>
			<key>x1</key>
			<string>262.005</string>
			<key>y1</key>
			<string>155.146</string>
			<key>x2</key>
			<string>262.005</string>
			<key>y2</key>
			<string>169.23</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{3fc1b3eb-d902-4664-b202-61b277eb6b2b}</key>
		<dict>
			<key>x1</key>
			<string>228.441</string>
			<key>y1</key>
			<string>157.272</string>
			<key>x2</key>
			<string>228.441</string>
			<key>y2</key>
			<string>171.356</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{b05c82dd-0ca2-4bed-9e5f-828ac8e11176}</key>
		<dict>
			<key>x1</key>
			<string>233.639</string>
			<key>y1</key>
			<string>113.301</string>
			<key>x2</key>
			<string>233.639</string>
			<key>y2</key>
			<string>99.6036</string>
			<key>height</key>
			<string>-14.3504</string>
		</dict>
		<key>{0f71fcc0-1608-4b16-8eb9-e8ad8f8bc5a4}</key>
		<dict>
			<key>x1</key>
			<string>205.075</string>
			<key>y1</key>
			<string>111.029</string>
			<key>x2</key>
			<string>205.075</string>
			<key>y2</key>
			<string>100.135</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{e26eaf77-73c0-4add-b6e6-1f5328be13e2}</key>
		<dict>
			<key>x1</key>
			<string>180.283</string>
			<key>y1</key>
			<string>155.146</string>
			<key>x2</key>
			<string>180.283</string>
			<key>y2</key>
			<string>169.23</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{dc793643-301b-4193-87f8-5b0b8eb1cc26}</key>
		<dict>
			<key>x1</key>
			<string>185.328</string>
			<key>y1</key>
			<string>117.407</string>
			<key>x2</key>
			<string>185.328</string>
			<key>y2</key>
			<string>104.387</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{eb67bf61-47ba-4303-8d88-a4816c353362}</key>
		<dict>
			<key>x1</key>
			<string>148.688</string>
			<key>y1</key>
			<string>157.272</string>
			<key>x2</key>
			<string>148.688</string>
			<key>y2</key>
			<string>171.356</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{1458e92e-0981-4806-8ca1-200e8fa02045}</key>
		<dict>
			<key>x1</key>
			<string>117.093</string>
			<key>y1</key>
			<string>159.398</string>
			<key>x2</key>
			<string>117.093</string>
			<key>y2</key>
			<string>173.482</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{44891640-eb23-4d76-80b3-e82ea9460afe}</key>
		<dict>
			<key>x1</key>
			<string>122.292</string>
			<key>y1</key>
			<string>117.553</string>
			<key>x2</key>
			<string>122.292</string>
			<key>y2</key>
			<string>103.324</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
	</dict>
</dict>
</plist>