<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>82.416</string>
			<key>y</key>
			<string>104.623</string>
			<key>bx</key>
			<string>82.416</string>
			<key>by</key>
			<string>142.481</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>61.1561</string>
			<key>y</key>
			<string>244.938</string>
			<key>bx</key>
			<string>61.1561</string>
			<key>by</key>
			<string>282.796</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>61.1561</string>
			<key>y</key>
			<string>385.253</string>
			<key>bx</key>
			<string>61.1561</string>
			<key>by</key>
			<string>423.111</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>61.1561</string>
			<key>y</key>
			<string>525.568</string>
			<key>bx</key>
			<string>61.1561</string>
			<key>by</key>
			<string>563.426</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{bdaeba60-fb4d-4114-8894-72a094d3c724}</key>
		<dict>
			<key>x</key>
			<string>501.11</string>
			<key>y</key>
			<string>593.599</string>
		</dict>
		<key>{70ad6738-c9fc-471a-9620-c78744af6622}</key>
		<dict>
			<key>x</key>
			<string>456.136</string>
			<key>y</key>
			<string>589.347</string>
		</dict>
		<key>{15bbc519-527a-403c-894b-01af1d79b514}</key>
		<dict>
			<key>x</key>
			<string>456.136</string>
			<key>y</key>
			<string>544.701</string>
		</dict>
		<key>{855d0b9e-a435-4502-b213-b8b1427ff519}</key>
		<dict>
			<key>x</key>
			<string>423.011</string>
			<key>y</key>
			<string>540.449</string>
		</dict>
		<key>{a6810121-9df4-4976-bc6c-87762d80ce56}</key>
		<dict>
			<key>x</key>
			<string>395.669</string>
			<key>y</key>
			<string>587.221</string>
		</dict>
		<key>{d7cbee41-5a9f-4ff8-920f-7f058c71b57e}</key>
		<dict>
			<key>x</key>
			<string>395.669</string>
			<key>y</key>
			<string>542.575</string>
		</dict>
		<key>{209ea9d9-66a9-4d75-ae72-8e72ebceef94}</key>
		<dict>
			<key>x</key>
			<string>368.326</string>
			<key>y</key>
			<string>540.449</string>
		</dict>
		<key>{a08368c5-0d4e-4478-8f88-c628f1819626}</key>
		<dict>
			<key>x</key>
			<string>340.984</string>
			<key>y</key>
			<string>589.347</string>
		</dict>
		<key>{f8d20612-6b23-471f-9230-1ca0145d05e1}</key>
		<dict>
			<key>x</key>
			<string>340.984</string>
			<key>y</key>
			<string>544.701</string>
		</dict>
		<key>{ce831be3-a8f6-4792-bbd6-dc1a862ef3c3}</key>
		<dict>
			<key>x</key>
			<string>317.579</string>
			<key>y</key>
			<string>546.827</string>
		</dict>
		<key>{df7f402c-e7e8-4515-a012-dfc0a186ef5b}</key>
		<dict>
			<key>x</key>
			<string>299.957</string>
			<key>y</key>
			<string>548.953</string>
		</dict>
		<key>{64c5b1b2-67bd-4bd9-90e9-d0301f24814b}</key>
		<dict>
			<key>x</key>
			<string>271.762</string>
			<key>y</key>
			<string>585.095</string>
		</dict>
		<key>{74d02b12-70b5-47f0-b320-b316be6e5ed3}</key>
		<dict>
			<key>x</key>
			<string>243.567</string>
			<key>y</key>
			<string>540.449</string>
		</dict>
		<key>{16a33e01-4cf0-4765-9f8a-8399407b8bd1}</key>
		<dict>
			<key>x</key>
			<string>215.371</string>
			<key>y</key>
			<string>589.347</string>
		</dict>
		<key>{af583672-3ea8-4393-bae3-eacdd012d488}</key>
		<dict>
			<key>x</key>
			<string>215.371</string>
			<key>y</key>
			<string>593.599</string>
		</dict>
		<key>{37406b4d-1a83-49f9-a74a-1470c94d7ce3}</key>
		<dict>
			<key>x</key>
			<string>215.371</string>
			<key>y</key>
			<string>544.701</string>
		</dict>
		<key>{215dd23e-add7-4c0f-a7ee-1fbcfda599b9}</key>
		<dict>
			<key>x</key>
			<string>192.577</string>
			<key>y</key>
			<string>546.827</string>
		</dict>
		<key>{1edad789-fb1b-4209-bb6a-68a64b935f15}</key>
		<dict>
			<key>x</key>
			<string>175.565</string>
			<key>y</key>
			<string>548.953</string>
		</dict>
		<key>{35324416-1a23-4f50-a276-5b7889ab1da6}</key>
		<dict>
			<key>x</key>
			<string>148.346</string>
			<key>y</key>
			<string>585.095</string>
		</dict>
		<key>{3d0d671c-848e-48f5-9a00-07dd500f68cd}</key>
		<dict>
			<key>x</key>
			<string>121.128</string>
			<key>y</key>
			<string>540.449</string>
		</dict>
		<key>{9aa21936-0de2-44bd-8b17-4233e0422e66}</key>
		<dict>
			<key>x</key>
			<string>93.9088</string>
			<key>y</key>
			<string>589.347</string>
		</dict>
		<key>{99b0e5a4-358f-47e0-a950-dc9ebed56296}</key>
		<dict>
			<key>x</key>
			<string>93.9088</string>
			<key>y</key>
			<string>593.599</string>
		</dict>
		<key>{62b382d5-6817-4282-a5f6-ec833d14f30c}</key>
		<dict>
			<key>x</key>
			<string>93.9088</string>
			<key>y</key>
			<string>544.701</string>
		</dict>
		<key>{f79e6075-15fa-4374-93b1-2e371c4eb110}</key>
		<dict>
			<key>x</key>
			<string>542.091</string>
			<key>y</key>
			<string>406.512</string>
		</dict>
		<key>{53188858-f88f-49a0-b23a-9ee940693dfc}</key>
		<dict>
			<key>x</key>
			<string>525.089</string>
			<key>y</key>
			<string>408.638</string>
		</dict>
		<key>{9b1412cf-bace-48dd-8cfb-34c72202b7bc}</key>
		<dict>
			<key>x</key>
			<string>497.886</string>
			<key>y</key>
			<string>444.78</string>
		</dict>
		<key>{3c587fee-32af-4eb4-80e0-28bf143e1a28}</key>
		<dict>
			<key>x</key>
			<string>470.684</string>
			<key>y</key>
			<string>406.512</string>
		</dict>
		<key>{e6667c65-bd09-48fb-9fc0-520a9fe2c6ea}</key>
		<dict>
			<key>x</key>
			<string>443.481</string>
			<key>y</key>
			<string>446.906</string>
		</dict>
		<key>{5318c4f5-0ad9-4ece-b3ef-93aea2cf854f}</key>
		<dict>
			<key>x</key>
			<string>443.481</string>
			<key>y</key>
			<string>402.26</string>
		</dict>
		<key>{3bc2b589-06df-44ee-8cfa-b117ab3877f7}</key>
		<dict>
			<key>x</key>
			<string>411.411</string>
			<key>y</key>
			<string>400.134</string>
		</dict>
		<key>{1043dfc5-e665-4d3c-a3a8-1b927451015f}</key>
		<dict>
			<key>x</key>
			<string>385.123</string>
			<key>y</key>
			<string>449.032</string>
		</dict>
		<key>{a69ef9a4-9c0f-472e-8c77-fb6883e286cb}</key>
		<dict>
			<key>x</key>
			<string>385.123</string>
			<key>y</key>
			<string>404.386</string>
		</dict>
		<key>{07b9e39f-bb8d-4dcc-b9dd-2ac6fa81c734}</key>
		<dict>
			<key>x</key>
			<string>358.835</string>
			<key>y</key>
			<string>400.134</string>
		</dict>
		<key>{ef2b2841-6577-43ab-9895-5689d0880cca}</key>
		<dict>
			<key>x</key>
			<string>332.548</string>
			<key>y</key>
			<string>449.032</string>
		</dict>
		<key>{f3804b95-4d89-4a3b-ad51-bf87c1f2dbe8}</key>
		<dict>
			<key>x</key>
			<string>332.548</string>
			<key>y</key>
			<string>404.386</string>
		</dict>
		<key>{fea7ff54-a4ed-4314-bd5e-1b8c979d493c}</key>
		<dict>
			<key>x</key>
			<string>309.763</string>
			<key>y</key>
			<string>406.512</string>
		</dict>
		<key>{de826f9d-9743-4629-bb34-2b060e2ef0b4}</key>
		<dict>
			<key>x</key>
			<string>292.761</string>
			<key>y</key>
			<string>408.638</string>
		</dict>
		<key>{06880b58-8b49-4ab9-a397-7ac5e632a1cb}</key>
		<dict>
			<key>x</key>
			<string>265.559</string>
			<key>y</key>
			<string>444.78</string>
		</dict>
		<key>{bca8638c-e245-48c0-a9a5-99982cc253e9}</key>
		<dict>
			<key>x</key>
			<string>238.356</string>
			<key>y</key>
			<string>400.134</string>
		</dict>
		<key>{943de86a-8428-4489-b877-a592a06bf696}</key>
		<dict>
			<key>x</key>
			<string>211.153</string>
			<key>y</key>
			<string>449.032</string>
		</dict>
		<key>{e9c3051e-af0e-4593-8709-8ed284857ac9}</key>
		<dict>
			<key>x</key>
			<string>211.153</string>
			<key>y</key>
			<string>453.284</string>
		</dict>
		<key>{c438afe7-bfeb-47d0-a215-5879e9e2746c}</key>
		<dict>
			<key>x</key>
			<string>211.153</string>
			<key>y</key>
			<string>404.386</string>
		</dict>
		<key>{6238d9a6-9493-4617-8562-acaa268f02f0}</key>
		<dict>
			<key>x</key>
			<string>188.979</string>
			<key>y</key>
			<string>406.512</string>
		</dict>
		<key>{8821ee67-b6dd-485f-b550-ee492117ea76}</key>
		<dict>
			<key>x</key>
			<string>172.588</string>
			<key>y</key>
			<string>408.638</string>
		</dict>
		<key>{26728ed9-4e16-4fef-8ded-e87a37e1aba0}</key>
		<dict>
			<key>x</key>
			<string>146.361</string>
			<key>y</key>
			<string>444.78</string>
		</dict>
		<key>{e4c23dc3-4b4f-493b-b5f7-a8aade290d26}</key>
		<dict>
			<key>x</key>
			<string>120.135</string>
			<key>y</key>
			<string>400.134</string>
		</dict>
		<key>{0e84231b-1f86-4853-a959-400f97593c39}</key>
		<dict>
			<key>x</key>
			<string>93.9088</string>
			<key>y</key>
			<string>449.032</string>
		</dict>
		<key>{8a8ebbaf-c2c5-4b06-847b-e6ffa5c5e604}</key>
		<dict>
			<key>x</key>
			<string>93.9088</string>
			<key>y</key>
			<string>453.284</string>
		</dict>
		<key>{a08c5520-dcc6-4b6c-a622-faf5a07d0993}</key>
		<dict>
			<key>x</key>
			<string>93.9088</string>
			<key>y</key>
			<string>404.386</string>
		</dict>
		<key>{e1fae2f9-883d-4dc0-8fc9-8ac5754d72ff}</key>
		<dict>
			<key>x</key>
			<string>488.438</string>
			<key>y</key>
			<string>306.591</string>
		</dict>
		<key>{a4ba9c68-9006-4d43-9867-3af41610f130}</key>
		<dict>
			<key>x</key>
			<string>443.672</string>
			<key>y</key>
			<string>302.339</string>
		</dict>
		<key>{1596802a-1ee7-412f-a068-668c81c50cf1}</key>
		<dict>
			<key>x</key>
			<string>443.672</string>
			<key>y</key>
			<string>257.694</string>
		</dict>
		<key>{6d2a99aa-8800-4a39-a85f-fddbe988cfb3}</key>
		<dict>
			<key>x</key>
			<string>410.665</string>
			<key>y</key>
			<string>253.442</string>
		</dict>
		<key>{c34ede44-c124-48bc-9e36-b7f40400cf6a}</key>
		<dict>
			<key>x</key>
			<string>383.44</string>
			<key>y</key>
			<string>300.213</string>
		</dict>
		<key>{46e4588f-c4a9-46e0-9443-425c0f33f74c}</key>
		<dict>
			<key>x</key>
			<string>383.44</string>
			<key>y</key>
			<string>255.568</string>
		</dict>
		<key>{ce0e5514-903e-474d-a618-a58589777024}</key>
		<dict>
			<key>x</key>
			<string>356.215</string>
			<key>y</key>
			<string>253.442</string>
		</dict>
		<key>{458cc3ca-c1fa-43f5-bc1a-64bddef9eee1}</key>
		<dict>
			<key>x</key>
			<string>328.99</string>
			<key>y</key>
			<string>302.339</string>
		</dict>
		<key>{7a5b4016-6bfd-4d35-a292-08eb4b29bbc3}</key>
		<dict>
			<key>x</key>
			<string>328.99</string>
			<key>y</key>
			<string>257.694</string>
		</dict>
		<key>{dc34df7b-cefb-40d7-9c86-71e92425c9a8}</key>
		<dict>
			<key>x</key>
			<string>306.155</string>
			<key>y</key>
			<string>259.82</string>
		</dict>
		<key>{1ad2a534-60b7-4d2d-a51a-8fc4b409c264}</key>
		<dict>
			<key>x</key>
			<string>289.102</string>
			<key>y</key>
			<string>261.946</string>
		</dict>
		<key>{92e13e47-5836-4ae1-be06-d20bdce23808}</key>
		<dict>
			<key>x</key>
			<string>261.817</string>
			<key>y</key>
			<string>298.087</string>
		</dict>
		<key>{bd6b31fe-f1e7-4356-a62e-65032fdbfca8}</key>
		<dict>
			<key>x</key>
			<string>234.533</string>
			<key>y</key>
			<string>253.442</string>
		</dict>
		<key>{d4a75e9d-db75-4048-891d-1f5a82cf4905}</key>
		<dict>
			<key>x</key>
			<string>207.248</string>
			<key>y</key>
			<string>302.339</string>
		</dict>
		<key>{255f6188-f8bb-4c70-907b-24ee8d1e922d}</key>
		<dict>
			<key>x</key>
			<string>207.248</string>
			<key>y</key>
			<string>306.591</string>
		</dict>
		<key>{0d335f22-13ed-4d2a-9c38-bda99aa917ac}</key>
		<dict>
			<key>x</key>
			<string>207.248</string>
			<key>y</key>
			<string>257.694</string>
		</dict>
		<key>{439684fc-99ee-496a-8409-91812f7f1796}</key>
		<dict>
			<key>x</key>
			<string>185.023</string>
			<key>y</key>
			<string>259.82</string>
		</dict>
		<key>{7b86aee8-f7d3-4e38-b659-279384941953}</key>
		<dict>
			<key>x</key>
			<string>168.581</string>
			<key>y</key>
			<string>261.946</string>
		</dict>
		<key>{bc946ad4-7d69-40d9-93cf-4dd4f92cae2d}</key>
		<dict>
			<key>x</key>
			<string>142.273</string>
			<key>y</key>
			<string>298.087</string>
		</dict>
		<key>{49abcb31-4738-4fb2-9fb5-6c0c7e675be6}</key>
		<dict>
			<key>x</key>
			<string>115.965</string>
			<key>y</key>
			<string>253.442</string>
		</dict>
		<key>{4ec87e0f-d898-4cf7-bf5f-fd0f1204ef87}</key>
		<dict>
			<key>x</key>
			<string>89.6568</string>
			<key>y</key>
			<string>302.339</string>
		</dict>
		<key>{1ccfa101-1a0c-45c1-b222-17554963348b}</key>
		<dict>
			<key>x</key>
			<string>89.6568</string>
			<key>y</key>
			<string>306.591</string>
		</dict>
		<key>{526b1456-48f9-489c-8cc4-4c48337a951d}</key>
		<dict>
			<key>x</key>
			<string>89.6568</string>
			<key>y</key>
			<string>257.694</string>
		</dict>
		<key>{dd75c976-7eda-486b-a90c-5e331d5b984c}</key>
		<dict>
			<key>x</key>
			<string>543.171</string>
			<key>y</key>
			<string>119.505</string>
		</dict>
		<key>{f6faddc7-f0e3-407c-84a6-42d90b0175aa}</key>
		<dict>
			<key>x</key>
			<string>527.25</string>
			<key>y</key>
			<string>123.757</string>
		</dict>
		<key>{17fb76f1-b089-4c12-9f23-3a0888544a40}</key>
		<dict>
			<key>x</key>
			<string>501.775</string>
			<key>y</key>
			<string>157.772</string>
		</dict>
		<key>{8dde96ed-a117-43ac-9f33-df233e5b0066}</key>
		<dict>
			<key>x</key>
			<string>476.301</string>
			<key>y</key>
			<string>119.505</string>
		</dict>
		<key>{fc676c7f-9d90-4a9d-8ed9-943213b39c13}</key>
		<dict>
			<key>x</key>
			<string>450.826</string>
			<key>y</key>
			<string>159.898</string>
		</dict>
		<key>{757609cd-63fe-4569-aba1-b5594945a78d}</key>
		<dict>
			<key>x</key>
			<string>450.826</string>
			<key>y</key>
			<string>115.253</string>
		</dict>
		<key>{2897d3fa-2fc7-48d5-9a67-9a4a01f2bf66}</key>
		<dict>
			<key>x</key>
			<string>419.742</string>
			<key>y</key>
			<string>113.127</string>
		</dict>
		<key>{2ee30654-5ab7-402f-90f7-e560ee142f61}</key>
		<dict>
			<key>x</key>
			<string>394.44</string>
			<key>y</key>
			<string>162.024</string>
		</dict>
		<key>{59cfe1a7-a032-4e2e-ae40-a17b4fd53d68}</key>
		<dict>
			<key>x</key>
			<string>394.44</string>
			<key>y</key>
			<string>117.379</string>
		</dict>
		<key>{af5e3e9c-2446-471d-8f02-7ad24fbf7947}</key>
		<dict>
			<key>x</key>
			<string>369.138</string>
			<key>y</key>
			<string>113.127</string>
		</dict>
		<key>{74b4fefd-c317-432a-81c8-f650fb71840d}</key>
		<dict>
			<key>x</key>
			<string>343.837</string>
			<key>y</key>
			<string>162.024</string>
		</dict>
		<key>{0f6bbcb6-acaa-44b8-a11d-2e2b8b6d6ad7}</key>
		<dict>
			<key>x</key>
			<string>343.837</string>
			<key>y</key>
			<string>117.379</string>
		</dict>
		<key>{8b59add6-972f-4ba0-a834-cd488069ee66}</key>
		<dict>
			<key>x</key>
			<string>322.132</string>
			<key>y</key>
			<string>119.505</string>
		</dict>
		<key>{bb622127-cb41-4908-ac0f-4245773d29b2}</key>
		<dict>
			<key>x</key>
			<string>306.211</string>
			<key>y</key>
			<string>121.631</string>
		</dict>
		<key>{ecabc4ea-4ada-4f19-b1c3-6c3df2eaeb5b}</key>
		<dict>
			<key>x</key>
			<string>280.736</string>
			<key>y</key>
			<string>157.772</string>
		</dict>
		<key>{44bc652d-cef8-497c-8d25-e3ce957f0b29}</key>
		<dict>
			<key>x</key>
			<string>255.262</string>
			<key>y</key>
			<string>113.127</string>
		</dict>
		<key>{26d58e9c-7fab-405d-9200-5e7c221b37ce}</key>
		<dict>
			<key>x</key>
			<string>229.787</string>
			<key>y</key>
			<string>162.024</string>
		</dict>
		<key>{4ac63fb1-6356-473c-b03f-470708c62e73}</key>
		<dict>
			<key>x</key>
			<string>229.787</string>
			<key>y</key>
			<string>166.276</string>
		</dict>
		<key>{8f45a0ae-b4a3-43bf-be29-4c659f1ef49b}</key>
		<dict>
			<key>x</key>
			<string>229.787</string>
			<key>y</key>
			<string>117.379</string>
		</dict>
		<key>{3e0c3adf-9559-403d-b3f2-3df6345c7881}</key>
		<dict>
			<key>x</key>
			<string>208.693</string>
			<key>y</key>
			<string>119.505</string>
		</dict>
		<key>{095ecae7-dcb3-48bc-a7ea-ae8e2990e6cd}</key>
		<dict>
			<key>x</key>
			<string>193.382</string>
			<key>y</key>
			<string>121.631</string>
		</dict>
		<key>{c82edf5b-5a46-47d6-8fdc-e043b71514f6}</key>
		<dict>
			<key>x</key>
			<string>168.884</string>
			<key>y</key>
			<string>157.772</string>
		</dict>
		<key>{de921080-850f-4897-91c1-c7f6a3974976}</key>
		<dict>
			<key>x</key>
			<string>144.386</string>
			<key>y</key>
			<string>113.127</string>
		</dict>
		<key>{c3476caf-e28f-4fd6-9b61-ed3b9ca9f1ad}</key>
		<dict>
			<key>x</key>
			<string>119.888</string>
			<key>y</key>
			<string>162.024</string>
		</dict>
		<key>{501fb0ac-ec16-4e95-81ea-f238e4e2bf3b}</key>
		<dict>
			<key>x</key>
			<string>119.888</string>
			<key>y</key>
			<string>166.276</string>
		</dict>
		<key>{e2c6dd27-ec8b-474e-b6e4-1f2ad0d14f9b}</key>
		<dict>
			<key>x</key>
			<string>119.888</string>
			<key>y</key>
			<string>117.379</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{bdaeba60-fb4d-4114-8894-72a094d3c724}</key>
		<dict>
			<key>x1</key>
			<string>501.387</string>
			<key>y1</key>
			<string>594.398</string>
			<key>x2</key>
			<string>501.387</string>
			<key>y2</key>
			<string>606.886</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{70ad6738-c9fc-471a-9620-c78744af6622}</key>
		<dict>
			<key>x1</key>
			<string>456.412</string>
			<key>y1</key>
			<string>590.014</string>
			<key>x2</key>
			<string>456.412</string>
			<key>y2</key>
			<string>603.697</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
		<key>{15bbc519-527a-403c-894b-01af1d79b514}</key>
		<dict>
			<key>x1</key>
			<string>461.764</string>
			<key>y1</key>
			<string>544.048</string>
			<key>x2</key>
			<string>461.764</string>
			<key>y2</key>
			<string>529.82</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{855d0b9e-a435-4502-b213-b8b1427ff519}</key>
		<dict>
			<key>x1</key>
			<string>428.332</string>
			<key>y1</key>
			<string>539.651</string>
			<key>x2</key>
			<string>428.332</string>
			<key>y2</key>
			<string>525.568</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{a6810121-9df4-4976-bc6c-87762d80ce56}</key>
		<dict>
			<key>x1</key>
			<string>395.945</string>
			<key>y1</key>
			<string>588.02</string>
			<key>x2</key>
			<string>395.945</string>
			<key>y2</key>
			<string>602.103</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{d7cbee41-5a9f-4ff8-920f-7f058c71b57e}</key>
		<dict>
			<key>x1</key>
			<string>400.99</string>
			<key>y1</key>
			<string>541.777</string>
			<key>x2</key>
			<string>400.99</string>
			<key>y2</key>
			<string>527.694</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{209ea9d9-66a9-4d75-ae72-8e72ebceef94}</key>
		<dict>
			<key>x1</key>
			<string>373.648</string>
			<key>y1</key>
			<string>539.651</string>
			<key>x2</key>
			<string>373.648</string>
			<key>y2</key>
			<string>525.568</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{a08368c5-0d4e-4478-8f88-c628f1819626}</key>
		<dict>
			<key>x1</key>
			<string>341.26</string>
			<key>y1</key>
			<string>590.146</string>
			<key>x2</key>
			<string>341.26</string>
			<key>y2</key>
			<string>603.697</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
		<key>{f8d20612-6b23-471f-9230-1ca0145d05e1}</key>
		<dict>
			<key>x1</key>
			<string>346.306</string>
			<key>y1</key>
			<string>543.903</string>
			<key>x2</key>
			<string>346.306</string>
			<key>y2</key>
			<string>529.82</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{ce831be3-a8f6-4792-bbd6-dc1a862ef3c3}</key>
		<dict>
			<key>x1</key>
			<string>322.901</string>
			<key>y1</key>
			<string>546.029</string>
			<key>x2</key>
			<string>322.901</string>
			<key>y2</key>
			<string>534.071</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{df7f402c-e7e8-4515-a012-dfc0a186ef5b}</key>
		<dict>
			<key>x1</key>
			<string>305.279</string>
			<key>y1</key>
			<string>548.155</string>
			<key>x2</key>
			<string>305.279</string>
			<key>y2</key>
			<string>535.134</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{64c5b1b2-67bd-4bd9-90e9-d0301f24814b}</key>
		<dict>
			<key>x1</key>
			<string>272.038</string>
			<key>y1</key>
			<string>585.894</string>
			<key>x2</key>
			<string>272.038</string>
			<key>y2</key>
			<string>599.977</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{74d02b12-70b5-47f0-b320-b316be6e5ed3}</key>
		<dict>
			<key>x1</key>
			<string>248.888</string>
			<key>y1</key>
			<string>539.651</string>
			<key>x2</key>
			<string>248.888</string>
			<key>y2</key>
			<string>525.568</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{af583672-3ea8-4393-bae3-eacdd012d488}</key>
		<dict>
			<key>x1</key>
			<string>215.648</string>
			<key>y1</key>
			<string>590.146</string>
			<key>x2</key>
			<string>215.648</string>
			<key>y2</key>
			<string>606.886</string>
			<key>height</key>
			<string>17.5394</string>
		</dict>
		<key>{16a33e01-4cf0-4765-9f8a-8399407b8bd1}</key>
		<dict>
			<key>x1</key>
			<string>215.648</string>
			<key>y1</key>
			<string>590.146</string>
			<key>x2</key>
			<string>215.648</string>
			<key>y2</key>
			<string>606.886</string>
			<key>height</key>
			<string>17.5394</string>
		</dict>
		<key>{37406b4d-1a83-49f9-a74a-1470c94d7ce3}</key>
		<dict>
			<key>x1</key>
			<string>220.693</string>
			<key>y1</key>
			<string>543.903</string>
			<key>x2</key>
			<string>220.693</string>
			<key>y2</key>
			<string>529.82</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{215dd23e-add7-4c0f-a7ee-1fbcfda599b9}</key>
		<dict>
			<key>x1</key>
			<string>197.899</string>
			<key>y1</key>
			<string>546.029</string>
			<key>x2</key>
			<string>197.899</string>
			<key>y2</key>
			<string>534.071</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{1edad789-fb1b-4209-bb6a-68a64b935f15}</key>
		<dict>
			<key>x1</key>
			<string>180.887</string>
			<key>y1</key>
			<string>548.155</string>
			<key>x2</key>
			<string>180.887</string>
			<key>y2</key>
			<string>535.134</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{35324416-1a23-4f50-a276-5b7889ab1da6}</key>
		<dict>
			<key>x1</key>
			<string>148.623</string>
			<key>y1</key>
			<string>585.894</string>
			<key>x2</key>
			<string>148.623</string>
			<key>y2</key>
			<string>599.977</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{3d0d671c-848e-48f5-9a00-07dd500f68cd}</key>
		<dict>
			<key>x1</key>
			<string>126.449</string>
			<key>y1</key>
			<string>539.651</string>
			<key>x2</key>
			<string>126.449</string>
			<key>y2</key>
			<string>525.568</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{99b0e5a4-358f-47e0-a950-dc9ebed56296}</key>
		<dict>
			<key>x1</key>
			<string>94.1852</string>
			<key>y1</key>
			<string>590.146</string>
			<key>x2</key>
			<string>94.1852</string>
			<key>y2</key>
			<string>606.886</string>
			<key>height</key>
			<string>17.5394</string>
		</dict>
		<key>{9aa21936-0de2-44bd-8b17-4233e0422e66}</key>
		<dict>
			<key>x1</key>
			<string>94.1852</string>
			<key>y1</key>
			<string>590.146</string>
			<key>x2</key>
			<string>94.1852</string>
			<key>y2</key>
			<string>606.886</string>
			<key>height</key>
			<string>17.5394</string>
		</dict>
		<key>{62b382d5-6817-4282-a5f6-ec833d14f30c}</key>
		<dict>
			<key>x1</key>
			<string>99.2304</string>
			<key>y1</key>
			<string>543.903</string>
			<key>x2</key>
			<string>99.2304</string>
			<key>y2</key>
			<string>529.82</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{f79e6075-15fa-4374-93b1-2e371c4eb110}</key>
		<dict>
			<key>x1</key>
			<string>547.413</string>
			<key>y1</key>
			<string>405.714</string>
			<key>x2</key>
			<string>547.413</string>
			<key>y2</key>
			<string>393.757</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{53188858-f88f-49a0-b23a-9ee940693dfc}</key>
		<dict>
			<key>x1</key>
			<string>530.411</string>
			<key>y1</key>
			<string>407.84</string>
			<key>x2</key>
			<string>530.411</string>
			<key>y2</key>
			<string>394.82</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{9b1412cf-bace-48dd-8cfb-34c72202b7bc}</key>
		<dict>
			<key>x1</key>
			<string>498.163</string>
			<key>y1</key>
			<string>445.579</string>
			<key>x2</key>
			<string>498.163</string>
			<key>y2</key>
			<string>459.662</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{3c587fee-32af-4eb4-80e0-28bf143e1a28}</key>
		<dict>
			<key>x1</key>
			<string>476.005</string>
			<key>y1</key>
			<string>405.714</string>
			<key>x2</key>
			<string>476.005</string>
			<key>y2</key>
			<string>391.631</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{e6667c65-bd09-48fb-9fc0-520a9fe2c6ea}</key>
		<dict>
			<key>x1</key>
			<string>443.757</string>
			<key>y1</key>
			<string>447.705</string>
			<key>x2</key>
			<string>443.757</string>
			<key>y2</key>
			<string>461.788</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{5318c4f5-0ad9-4ece-b3ef-93aea2cf854f}</key>
		<dict>
			<key>x1</key>
			<string>448.802</string>
			<key>y1</key>
			<string>401.462</string>
			<key>x2</key>
			<string>448.802</string>
			<key>y2</key>
			<string>387.379</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{3bc2b589-06df-44ee-8cfa-b117ab3877f7}</key>
		<dict>
			<key>x1</key>
			<string>416.732</string>
			<key>y1</key>
			<string>399.336</string>
			<key>x2</key>
			<string>416.732</string>
			<key>y2</key>
			<string>385.253</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{1043dfc5-e665-4d3c-a3a8-1b927451015f}</key>
		<dict>
			<key>x1</key>
			<string>385.399</string>
			<key>y1</key>
			<string>449.831</string>
			<key>x2</key>
			<string>385.399</string>
			<key>y2</key>
			<string>463.383</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
		<key>{a69ef9a4-9c0f-472e-8c77-fb6883e286cb}</key>
		<dict>
			<key>x1</key>
			<string>390.444</string>
			<key>y1</key>
			<string>403.588</string>
			<key>x2</key>
			<string>390.444</string>
			<key>y2</key>
			<string>389.505</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{07b9e39f-bb8d-4dcc-b9dd-2ac6fa81c734}</key>
		<dict>
			<key>x1</key>
			<string>364.157</string>
			<key>y1</key>
			<string>399.336</string>
			<key>x2</key>
			<string>364.157</string>
			<key>y2</key>
			<string>385.253</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{ef2b2841-6577-43ab-9895-5689d0880cca}</key>
		<dict>
			<key>x1</key>
			<string>332.824</string>
			<key>y1</key>
			<string>449.831</string>
			<key>x2</key>
			<string>332.824</string>
			<key>y2</key>
			<string>463.383</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
		<key>{f3804b95-4d89-4a3b-ad51-bf87c1f2dbe8}</key>
		<dict>
			<key>x1</key>
			<string>337.869</string>
			<key>y1</key>
			<string>403.588</string>
			<key>x2</key>
			<string>337.869</string>
			<key>y2</key>
			<string>389.505</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{fea7ff54-a4ed-4314-bd5e-1b8c979d493c}</key>
		<dict>
			<key>x1</key>
			<string>315.085</string>
			<key>y1</key>
			<string>405.714</string>
			<key>x2</key>
			<string>315.085</string>
			<key>y2</key>
			<string>393.757</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{de826f9d-9743-4629-bb34-2b060e2ef0b4}</key>
		<dict>
			<key>x1</key>
			<string>298.083</string>
			<key>y1</key>
			<string>407.84</string>
			<key>x2</key>
			<string>298.083</string>
			<key>y2</key>
			<string>394.82</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{06880b58-8b49-4ab9-a397-7ac5e632a1cb}</key>
		<dict>
			<key>x1</key>
			<string>265.835</string>
			<key>y1</key>
			<string>445.579</string>
			<key>x2</key>
			<string>265.835</string>
			<key>y2</key>
			<string>459.662</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{bca8638c-e245-48c0-a9a5-99982cc253e9}</key>
		<dict>
			<key>x1</key>
			<string>243.677</string>
			<key>y1</key>
			<string>399.336</string>
			<key>x2</key>
			<string>243.677</string>
			<key>y2</key>
			<string>385.253</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{e9c3051e-af0e-4593-8709-8ed284857ac9}</key>
		<dict>
			<key>x1</key>
			<string>211.429</string>
			<key>y1</key>
			<string>449.831</string>
			<key>x2</key>
			<string>211.429</string>
			<key>y2</key>
			<string>466.571</string>
			<key>height</key>
			<string>17.5394</string>
		</dict>
		<key>{943de86a-8428-4489-b877-a592a06bf696}</key>
		<dict>
			<key>x1</key>
			<string>211.429</string>
			<key>y1</key>
			<string>449.831</string>
			<key>x2</key>
			<string>211.429</string>
			<key>y2</key>
			<string>466.571</string>
			<key>height</key>
			<string>17.5394</string>
		</dict>
		<key>{c438afe7-bfeb-47d0-a215-5879e9e2746c}</key>
		<dict>
			<key>x1</key>
			<string>216.475</string>
			<key>y1</key>
			<string>403.588</string>
			<key>x2</key>
			<string>216.475</string>
			<key>y2</key>
			<string>389.505</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{6238d9a6-9493-4617-8562-acaa268f02f0}</key>
		<dict>
			<key>x1</key>
			<string>194.301</string>
			<key>y1</key>
			<string>405.714</string>
			<key>x2</key>
			<string>194.301</string>
			<key>y2</key>
			<string>393.757</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{8821ee67-b6dd-485f-b550-ee492117ea76}</key>
		<dict>
			<key>x1</key>
			<string>177.909</string>
			<key>y1</key>
			<string>407.84</string>
			<key>x2</key>
			<string>177.909</string>
			<key>y2</key>
			<string>394.82</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{26728ed9-4e16-4fef-8ded-e87a37e1aba0}</key>
		<dict>
			<key>x1</key>
			<string>146.638</string>
			<key>y1</key>
			<string>445.579</string>
			<key>x2</key>
			<string>146.638</string>
			<key>y2</key>
			<string>459.662</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{e4c23dc3-4b4f-493b-b5f7-a8aade290d26}</key>
		<dict>
			<key>x1</key>
			<string>125.457</string>
			<key>y1</key>
			<string>399.336</string>
			<key>x2</key>
			<string>125.457</string>
			<key>y2</key>
			<string>385.253</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{8a8ebbaf-c2c5-4b06-847b-e6ffa5c5e604}</key>
		<dict>
			<key>x1</key>
			<string>94.1852</string>
			<key>y1</key>
			<string>449.831</string>
			<key>x2</key>
			<string>94.1852</string>
			<key>y2</key>
			<string>466.571</string>
			<key>height</key>
			<string>17.5394</string>
		</dict>
		<key>{0e84231b-1f86-4853-a959-400f97593c39}</key>
		<dict>
			<key>x1</key>
			<string>94.1852</string>
			<key>y1</key>
			<string>449.831</string>
			<key>x2</key>
			<string>94.1852</string>
			<key>y2</key>
			<string>466.571</string>
			<key>height</key>
			<string>17.5394</string>
		</dict>
		<key>{a08c5520-dcc6-4b6c-a622-faf5a07d0993}</key>
		<dict>
			<key>x1</key>
			<string>99.2304</string>
			<key>y1</key>
			<string>403.588</string>
			<key>x2</key>
			<string>99.2304</string>
			<key>y2</key>
			<string>389.505</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{e1fae2f9-883d-4dc0-8fc9-8ac5754d72ff}</key>
		<dict>
			<key>x1</key>
			<string>488.715</string>
			<key>y1</key>
			<string>307.39</string>
			<key>x2</key>
			<string>488.715</string>
			<key>y2</key>
			<string>321.473</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{a4ba9c68-9006-4d43-9867-3af41610f130}</key>
		<dict>
			<key>x1</key>
			<string>443.949</string>
			<key>y1</key>
			<string>303.006</string>
			<key>x2</key>
			<string>443.949</string>
			<key>y2</key>
			<string>317.221</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{1596802a-1ee7-412f-a068-668c81c50cf1}</key>
		<dict>
			<key>x1</key>
			<string>449.301</string>
			<key>y1</key>
			<string>257.04</string>
			<key>x2</key>
			<string>449.301</string>
			<key>y2</key>
			<string>243.343</string>
			<key>height</key>
			<string>-14.3504</string>
		</dict>
		<key>{6d2a99aa-8800-4a39-a85f-fddbe988cfb3}</key>
		<dict>
			<key>x1</key>
			<string>410.941</string>
			<key>y1</key>
			<string>254.24</string>
			<key>x2</key>
			<string>410.941</string>
			<key>y2</key>
			<string>266.729</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{c34ede44-c124-48bc-9e36-b7f40400cf6a}</key>
		<dict>
			<key>x1</key>
			<string>383.716</string>
			<key>y1</key>
			<string>301.012</string>
			<key>x2</key>
			<string>383.716</string>
			<key>y2</key>
			<string>315.095</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{46e4588f-c4a9-46e0-9443-425c0f33f74c}</key>
		<dict>
			<key>x1</key>
			<string>388.762</string>
			<key>y1</key>
			<string>254.769</string>
			<key>x2</key>
			<string>388.762</string>
			<key>y2</key>
			<string>241.749</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{ce0e5514-903e-474d-a618-a58589777024}</key>
		<dict>
			<key>x1</key>
			<string>356.491</string>
			<key>y1</key>
			<string>254.24</string>
			<key>x2</key>
			<string>356.491</string>
			<key>y2</key>
			<string>266.729</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{458cc3ca-c1fa-43f5-bc1a-64bddef9eee1}</key>
		<dict>
			<key>x1</key>
			<string>329.267</string>
			<key>y1</key>
			<string>303.138</string>
			<key>x2</key>
			<string>329.267</string>
			<key>y2</key>
			<string>317.221</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{7a5b4016-6bfd-4d35-a292-08eb4b29bbc3}</key>
		<dict>
			<key>x1</key>
			<string>334.312</string>
			<key>y1</key>
			<string>256.895</string>
			<key>x2</key>
			<string>334.312</string>
			<key>y2</key>
			<string>243.343</string>
			<key>height</key>
			<string>-14.3504</string>
		</dict>
		<key>{dc34df7b-cefb-40d7-9c86-71e92425c9a8}</key>
		<dict>
			<key>x1</key>
			<string>311.476</string>
			<key>y1</key>
			<string>259.021</string>
			<key>x2</key>
			<string>311.476</string>
			<key>y2</key>
			<string>248.127</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{1ad2a534-60b7-4d2d-a51a-8fc4b409c264}</key>
		<dict>
			<key>x1</key>
			<string>294.424</string>
			<key>y1</key>
			<string>261.147</string>
			<key>x2</key>
			<string>294.424</string>
			<key>y2</key>
			<string>249.19</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{92e13e47-5836-4ae1-be06-d20bdce23808}</key>
		<dict>
			<key>x1</key>
			<string>262.094</string>
			<key>y1</key>
			<string>298.886</string>
			<key>x2</key>
			<string>262.094</string>
			<key>y2</key>
			<string>312.969</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{bd6b31fe-f1e7-4356-a62e-65032fdbfca8}</key>
		<dict>
			<key>x1</key>
			<string>234.809</string>
			<key>y1</key>
			<string>254.24</string>
			<key>x2</key>
			<string>234.809</string>
			<key>y2</key>
			<string>266.729</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{255f6188-f8bb-4c70-907b-24ee8d1e922d}</key>
		<dict>
			<key>x1</key>
			<string>207.525</string>
			<key>y1</key>
			<string>303.138</string>
			<key>x2</key>
			<string>207.525</string>
			<key>y2</key>
			<string>321.473</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{d4a75e9d-db75-4048-891d-1f5a82cf4905}</key>
		<dict>
			<key>x1</key>
			<string>207.525</string>
			<key>y1</key>
			<string>303.138</string>
			<key>x2</key>
			<string>207.525</string>
			<key>y2</key>
			<string>321.473</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{0d335f22-13ed-4d2a-9c38-bda99aa917ac}</key>
		<dict>
			<key>x1</key>
			<string>212.57</string>
			<key>y1</key>
			<string>256.895</string>
			<key>x2</key>
			<string>212.57</string>
			<key>y2</key>
			<string>243.343</string>
			<key>height</key>
			<string>-14.3504</string>
		</dict>
		<key>{439684fc-99ee-496a-8409-91812f7f1796}</key>
		<dict>
			<key>x1</key>
			<string>190.345</string>
			<key>y1</key>
			<string>259.021</string>
			<key>x2</key>
			<string>190.345</string>
			<key>y2</key>
			<string>248.127</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{7b86aee8-f7d3-4e38-b659-279384941953}</key>
		<dict>
			<key>x1</key>
			<string>173.902</string>
			<key>y1</key>
			<string>261.147</string>
			<key>x2</key>
			<string>173.902</string>
			<key>y2</key>
			<string>249.19</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{bc946ad4-7d69-40d9-93cf-4dd4f92cae2d}</key>
		<dict>
			<key>x1</key>
			<string>142.549</string>
			<key>y1</key>
			<string>298.886</string>
			<key>x2</key>
			<string>142.549</string>
			<key>y2</key>
			<string>312.969</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{49abcb31-4738-4fb2-9fb5-6c0c7e675be6}</key>
		<dict>
			<key>x1</key>
			<string>116.241</string>
			<key>y1</key>
			<string>254.24</string>
			<key>x2</key>
			<string>116.241</string>
			<key>y2</key>
			<string>266.729</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{1ccfa101-1a0c-45c1-b222-17554963348b}</key>
		<dict>
			<key>x1</key>
			<string>89.9332</string>
			<key>y1</key>
			<string>303.138</string>
			<key>x2</key>
			<string>89.9332</string>
			<key>y2</key>
			<string>321.473</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{4ec87e0f-d898-4cf7-bf5f-fd0f1204ef87}</key>
		<dict>
			<key>x1</key>
			<string>89.9332</string>
			<key>y1</key>
			<string>303.138</string>
			<key>x2</key>
			<string>89.9332</string>
			<key>y2</key>
			<string>321.473</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{526b1456-48f9-489c-8cc4-4c48337a951d}</key>
		<dict>
			<key>x1</key>
			<string>94.9784</string>
			<key>y1</key>
			<string>256.895</string>
			<key>x2</key>
			<string>94.9784</string>
			<key>y2</key>
			<string>243.343</string>
			<key>height</key>
			<string>-14.3504</string>
		</dict>
		<key>{dd75c976-7eda-486b-a90c-5e331d5b984c}</key>
		<dict>
			<key>x1</key>
			<string>548.493</string>
			<key>y1</key>
			<string>118.706</string>
			<key>x2</key>
			<string>548.493</string>
			<key>y2</key>
			<string>107.812</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{f6faddc7-f0e3-407c-84a6-42d90b0175aa}</key>
		<dict>
			<key>x1</key>
			<string>532.571</string>
			<key>y1</key>
			<string>122.958</string>
			<key>x2</key>
			<string>532.571</string>
			<key>y2</key>
			<string>109.938</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{17fb76f1-b089-4c12-9f23-3a0888544a40}</key>
		<dict>
			<key>x1</key>
			<string>502.051</string>
			<key>y1</key>
			<string>158.571</string>
			<key>x2</key>
			<string>502.051</string>
			<key>y2</key>
			<string>172.654</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{8dde96ed-a117-43ac-9f33-df233e5b0066}</key>
		<dict>
			<key>x1</key>
			<string>481.622</string>
			<key>y1</key>
			<string>118.706</string>
			<key>x2</key>
			<string>481.622</string>
			<key>y2</key>
			<string>104.623</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{fc676c7f-9d90-4a9d-8ed9-943213b39c13}</key>
		<dict>
			<key>x1</key>
			<string>451.103</string>
			<key>y1</key>
			<string>160.697</string>
			<key>x2</key>
			<string>451.103</string>
			<key>y2</key>
			<string>174.78</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{757609cd-63fe-4569-aba1-b5594945a78d}</key>
		<dict>
			<key>x1</key>
			<string>456.148</string>
			<key>y1</key>
			<string>114.454</string>
			<key>x2</key>
			<string>456.148</string>
			<key>y2</key>
			<string>101.434</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{2897d3fa-2fc7-48d5-9a67-9a4a01f2bf66}</key>
		<dict>
			<key>x1</key>
			<string>420.018</string>
			<key>y1</key>
			<string>113.925</string>
			<key>x2</key>
			<string>420.018</string>
			<key>y2</key>
			<string>126.414</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{2ee30654-5ab7-402f-90f7-e560ee142f61}</key>
		<dict>
			<key>x1</key>
			<string>394.716</string>
			<key>y1</key>
			<string>162.823</string>
			<key>x2</key>
			<string>394.716</string>
			<key>y2</key>
			<string>176.906</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{59cfe1a7-a032-4e2e-ae40-a17b4fd53d68}</key>
		<dict>
			<key>x1</key>
			<string>399.762</string>
			<key>y1</key>
			<string>116.58</string>
			<key>x2</key>
			<string>399.762</string>
			<key>y2</key>
			<string>103.028</string>
			<key>height</key>
			<string>-14.3504</string>
		</dict>
		<key>{af5e3e9c-2446-471d-8f02-7ad24fbf7947}</key>
		<dict>
			<key>x1</key>
			<string>369.415</string>
			<key>y1</key>
			<string>113.925</string>
			<key>x2</key>
			<string>369.415</string>
			<key>y2</key>
			<string>126.414</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{74b4fefd-c317-432a-81c8-f650fb71840d}</key>
		<dict>
			<key>x1</key>
			<string>344.113</string>
			<key>y1</key>
			<string>162.823</string>
			<key>x2</key>
			<string>344.113</string>
			<key>y2</key>
			<string>176.906</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{0f6bbcb6-acaa-44b8-a11d-2e2b8b6d6ad7}</key>
		<dict>
			<key>x1</key>
			<string>349.158</string>
			<key>y1</key>
			<string>116.58</string>
			<key>x2</key>
			<string>349.158</string>
			<key>y2</key>
			<string>103.028</string>
			<key>height</key>
			<string>-14.3504</string>
		</dict>
		<key>{8b59add6-972f-4ba0-a834-cd488069ee66}</key>
		<dict>
			<key>x1</key>
			<string>327.454</string>
			<key>y1</key>
			<string>118.706</string>
			<key>x2</key>
			<string>327.454</string>
			<key>y2</key>
			<string>107.812</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{bb622127-cb41-4908-ac0f-4245773d29b2}</key>
		<dict>
			<key>x1</key>
			<string>311.532</string>
			<key>y1</key>
			<string>120.832</string>
			<key>x2</key>
			<string>311.532</string>
			<key>y2</key>
			<string>108.875</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{ecabc4ea-4ada-4f19-b1c3-6c3df2eaeb5b}</key>
		<dict>
			<key>x1</key>
			<string>281.013</string>
			<key>y1</key>
			<string>158.571</string>
			<key>x2</key>
			<string>281.013</string>
			<key>y2</key>
			<string>172.654</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{44bc652d-cef8-497c-8d25-e3ce957f0b29}</key>
		<dict>
			<key>x1</key>
			<string>255.538</string>
			<key>y1</key>
			<string>113.925</string>
			<key>x2</key>
			<string>255.538</string>
			<key>y2</key>
			<string>126.414</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{4ac63fb1-6356-473c-b03f-470708c62e73}</key>
		<dict>
			<key>x1</key>
			<string>230.064</string>
			<key>y1</key>
			<string>162.823</string>
			<key>x2</key>
			<string>230.064</string>
			<key>y2</key>
			<string>181.158</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{26d58e9c-7fab-405d-9200-5e7c221b37ce}</key>
		<dict>
			<key>x1</key>
			<string>230.064</string>
			<key>y1</key>
			<string>162.823</string>
			<key>x2</key>
			<string>230.064</string>
			<key>y2</key>
			<string>181.158</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{8f45a0ae-b4a3-43bf-be29-4c659f1ef49b}</key>
		<dict>
			<key>x1</key>
			<string>235.109</string>
			<key>y1</key>
			<string>116.58</string>
			<key>x2</key>
			<string>235.109</string>
			<key>y2</key>
			<string>103.028</string>
			<key>height</key>
			<string>-14.3504</string>
		</dict>
		<key>{3e0c3adf-9559-403d-b3f2-3df6345c7881}</key>
		<dict>
			<key>x1</key>
			<string>214.015</string>
			<key>y1</key>
			<string>118.706</string>
			<key>x2</key>
			<string>214.015</string>
			<key>y2</key>
			<string>107.812</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{095ecae7-dcb3-48bc-a7ea-ae8e2990e6cd}</key>
		<dict>
			<key>x1</key>
			<string>198.704</string>
			<key>y1</key>
			<string>120.832</string>
			<key>x2</key>
			<string>198.704</string>
			<key>y2</key>
			<string>108.875</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{c82edf5b-5a46-47d6-8fdc-e043b71514f6}</key>
		<dict>
			<key>x1</key>
			<string>169.161</string>
			<key>y1</key>
			<string>158.571</string>
			<key>x2</key>
			<string>169.161</string>
			<key>y2</key>
			<string>172.654</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{de921080-850f-4897-91c1-c7f6a3974976}</key>
		<dict>
			<key>x1</key>
			<string>144.663</string>
			<key>y1</key>
			<string>113.925</string>
			<key>x2</key>
			<string>144.663</string>
			<key>y2</key>
			<string>126.414</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{501fb0ac-ec16-4e95-81ea-f238e4e2bf3b}</key>
		<dict>
			<key>x1</key>
			<string>120.165</string>
			<key>y1</key>
			<string>162.823</string>
			<key>x2</key>
			<string>120.165</string>
			<key>y2</key>
			<string>181.158</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{c3476caf-e28f-4fd6-9b61-ed3b9ca9f1ad}</key>
		<dict>
			<key>x1</key>
			<string>120.165</string>
			<key>y1</key>
			<string>162.823</string>
			<key>x2</key>
			<string>120.165</string>
			<key>y2</key>
			<string>181.158</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{e2c6dd27-ec8b-474e-b6e4-1f2ad0d14f9b}</key>
		<dict>
			<key>x1</key>
			<string>125.21</string>
			<key>y1</key>
			<string>116.58</string>
			<key>x2</key>
			<string>125.21</string>
			<key>y2</key>
			<string>103.028</string>
			<key>height</key>
			<string>-14.3504</string>
		</dict>
	</dict>
</dict>
</plist>