<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>82.416</string>
			<key>y</key>
			<string>104.623</string>
			<key>bx</key>
			<string>82.416</string>
			<key>by</key>
			<string>142.481</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>61.1561</string>
			<key>y</key>
			<string>244.938</string>
			<key>bx</key>
			<string>61.1561</string>
			<key>by</key>
			<string>282.796</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>61.1561</string>
			<key>y</key>
			<string>385.253</string>
			<key>bx</key>
			<string>61.1561</string>
			<key>by</key>
			<string>423.111</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>61.1561</string>
			<key>y</key>
			<string>525.568</string>
			<key>bx</key>
			<string>61.1561</string>
			<key>by</key>
			<string>563.426</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{f50d2f76-00f7-4562-976a-c8686a19b6c1}</key>
		<dict>
			<key>x</key>
			<string>501.11</string>
			<key>y</key>
			<string>593.599</string>
		</dict>
		<key>{d1642f72-cc83-4cdb-b080-a69ea18eb740}</key>
		<dict>
			<key>x</key>
			<string>456.136</string>
			<key>y</key>
			<string>589.347</string>
		</dict>
		<key>{5d43c60c-6601-4d88-b3d0-0d331531a28b}</key>
		<dict>
			<key>x</key>
			<string>456.136</string>
			<key>y</key>
			<string>544.701</string>
		</dict>
		<key>{9f14c5dd-a635-40f9-8a20-b30a4d067d2f}</key>
		<dict>
			<key>x</key>
			<string>423.011</string>
			<key>y</key>
			<string>540.449</string>
		</dict>
		<key>{a14265d0-ead3-4864-b6ef-2f14515b183a}</key>
		<dict>
			<key>x</key>
			<string>395.669</string>
			<key>y</key>
			<string>587.221</string>
		</dict>
		<key>{7dfb0ef2-0e3c-453c-8ee5-76868bd0e863}</key>
		<dict>
			<key>x</key>
			<string>395.669</string>
			<key>y</key>
			<string>542.575</string>
		</dict>
		<key>{f160464c-bd93-4f3b-b0d5-bc0c6c423271}</key>
		<dict>
			<key>x</key>
			<string>368.326</string>
			<key>y</key>
			<string>540.449</string>
		</dict>
		<key>{277a7ac6-0d15-426c-a9e4-451200e33fda}</key>
		<dict>
			<key>x</key>
			<string>340.984</string>
			<key>y</key>
			<string>589.347</string>
		</dict>
		<key>{85bd98c0-dd76-4ed8-adf5-557e0cb99bc4}</key>
		<dict>
			<key>x</key>
			<string>340.984</string>
			<key>y</key>
			<string>544.701</string>
		</dict>
		<key>{77dd2222-745b-4cc9-972d-ef32647d1b09}</key>
		<dict>
			<key>x</key>
			<string>317.579</string>
			<key>y</key>
			<string>546.827</string>
		</dict>
		<key>{abe7f8b8-b216-4ab1-b3b5-f0b18316d7af}</key>
		<dict>
			<key>x</key>
			<string>299.957</string>
			<key>y</key>
			<string>548.953</string>
		</dict>
		<key>{8314c373-6e48-44c3-aacf-af35fdc6cc7b}</key>
		<dict>
			<key>x</key>
			<string>271.762</string>
			<key>y</key>
			<string>585.095</string>
		</dict>
		<key>{17e359e0-a091-4b51-8209-d3ccb274597d}</key>
		<dict>
			<key>x</key>
			<string>243.567</string>
			<key>y</key>
			<string>540.449</string>
		</dict>
		<key>{97fed6b3-b58f-4821-b0d0-0c1ae6e1c288}</key>
		<dict>
			<key>x</key>
			<string>215.371</string>
			<key>y</key>
			<string>589.347</string>
		</dict>
		<key>{1a4f9ca7-ea92-4ff9-bea3-ffca9898ab5f}</key>
		<dict>
			<key>x</key>
			<string>215.371</string>
			<key>y</key>
			<string>593.599</string>
		</dict>
		<key>{48544063-abff-41d7-b334-90c7f6bd5800}</key>
		<dict>
			<key>x</key>
			<string>215.371</string>
			<key>y</key>
			<string>544.701</string>
		</dict>
		<key>{9bca9124-ade0-4790-b07d-bab6354922d9}</key>
		<dict>
			<key>x</key>
			<string>192.577</string>
			<key>y</key>
			<string>546.827</string>
		</dict>
		<key>{3f59f34c-190a-4d66-a2ae-9b38ef2e8bd3}</key>
		<dict>
			<key>x</key>
			<string>175.565</string>
			<key>y</key>
			<string>548.953</string>
		</dict>
		<key>{c56bb49a-35fd-420e-8ae7-94c14265f3a9}</key>
		<dict>
			<key>x</key>
			<string>148.346</string>
			<key>y</key>
			<string>585.095</string>
		</dict>
		<key>{a4f0c17a-372e-4d16-8c60-371dc64f07cf}</key>
		<dict>
			<key>x</key>
			<string>121.128</string>
			<key>y</key>
			<string>540.449</string>
		</dict>
		<key>{9d09ae91-5fa2-4839-ad75-c94b6cc61095}</key>
		<dict>
			<key>x</key>
			<string>93.9088</string>
			<key>y</key>
			<string>589.347</string>
		</dict>
		<key>{77ffa24b-ca23-4d1b-89fc-bd91ec37490f}</key>
		<dict>
			<key>x</key>
			<string>93.9088</string>
			<key>y</key>
			<string>593.599</string>
		</dict>
		<key>{668742a4-7b1b-48c0-a8d2-d191193b645e}</key>
		<dict>
			<key>x</key>
			<string>93.9088</string>
			<key>y</key>
			<string>544.701</string>
		</dict>
		<key>{14b34d0b-3096-4db4-9618-94f33cc1b5fa}</key>
		<dict>
			<key>x</key>
			<string>542.091</string>
			<key>y</key>
			<string>406.512</string>
		</dict>
		<key>{78eecf78-204f-47ad-a1c4-2d411c6963b5}</key>
		<dict>
			<key>x</key>
			<string>525.089</string>
			<key>y</key>
			<string>408.638</string>
		</dict>
		<key>{1bc157da-ab7f-4130-b54b-f918846a6ae3}</key>
		<dict>
			<key>x</key>
			<string>497.886</string>
			<key>y</key>
			<string>444.78</string>
		</dict>
		<key>{ef538662-e1c4-4eac-9a93-0f48deef74e8}</key>
		<dict>
			<key>x</key>
			<string>470.684</string>
			<key>y</key>
			<string>406.512</string>
		</dict>
		<key>{647a1fbf-cbab-4517-b74c-325f27d32dd3}</key>
		<dict>
			<key>x</key>
			<string>443.481</string>
			<key>y</key>
			<string>446.906</string>
		</dict>
		<key>{a8885402-1d5d-4517-bfb4-f8f2736e5cb9}</key>
		<dict>
			<key>x</key>
			<string>443.481</string>
			<key>y</key>
			<string>402.26</string>
		</dict>
		<key>{6f7643a2-8c1d-4c8b-817d-d346f504b511}</key>
		<dict>
			<key>x</key>
			<string>411.411</string>
			<key>y</key>
			<string>400.134</string>
		</dict>
		<key>{2a89031d-c064-45bc-9e41-216e1b5fd754}</key>
		<dict>
			<key>x</key>
			<string>385.123</string>
			<key>y</key>
			<string>449.032</string>
		</dict>
		<key>{2c0e9197-0588-495c-88a0-16ed252539bb}</key>
		<dict>
			<key>x</key>
			<string>385.123</string>
			<key>y</key>
			<string>404.386</string>
		</dict>
		<key>{8be38af3-9c01-4028-a756-e3695e1d7f1d}</key>
		<dict>
			<key>x</key>
			<string>358.835</string>
			<key>y</key>
			<string>400.134</string>
		</dict>
		<key>{84cdbd89-97bb-4fde-9aa0-850ad6e57c7c}</key>
		<dict>
			<key>x</key>
			<string>332.548</string>
			<key>y</key>
			<string>449.032</string>
		</dict>
		<key>{1f324325-dce1-4120-a969-d64d3650cdb6}</key>
		<dict>
			<key>x</key>
			<string>332.548</string>
			<key>y</key>
			<string>404.386</string>
		</dict>
		<key>{315442e4-88f3-49c6-a79e-7345c1173673}</key>
		<dict>
			<key>x</key>
			<string>309.763</string>
			<key>y</key>
			<string>406.512</string>
		</dict>
		<key>{b438a15b-ef59-43ac-b8f3-981a735d61db}</key>
		<dict>
			<key>x</key>
			<string>292.761</string>
			<key>y</key>
			<string>408.638</string>
		</dict>
		<key>{bae8a871-b045-43bd-b154-c3ee5c758ade}</key>
		<dict>
			<key>x</key>
			<string>265.559</string>
			<key>y</key>
			<string>444.78</string>
		</dict>
		<key>{9b0d7860-ff35-46f1-b6ff-e967866bb149}</key>
		<dict>
			<key>x</key>
			<string>238.356</string>
			<key>y</key>
			<string>400.134</string>
		</dict>
		<key>{f5760d36-4763-4f23-903f-879096c048ac}</key>
		<dict>
			<key>x</key>
			<string>211.153</string>
			<key>y</key>
			<string>449.032</string>
		</dict>
		<key>{be55f6b4-58d0-4a52-a60e-9c9d2afc321d}</key>
		<dict>
			<key>x</key>
			<string>211.153</string>
			<key>y</key>
			<string>453.284</string>
		</dict>
		<key>{39bb2308-f56e-43eb-951a-f1fbfb3c9262}</key>
		<dict>
			<key>x</key>
			<string>211.153</string>
			<key>y</key>
			<string>404.386</string>
		</dict>
		<key>{06fca821-3499-4964-a2d4-2a557613cac9}</key>
		<dict>
			<key>x</key>
			<string>188.979</string>
			<key>y</key>
			<string>406.512</string>
		</dict>
		<key>{90ab0f22-00b2-4200-9b0e-62c2f803a3da}</key>
		<dict>
			<key>x</key>
			<string>172.588</string>
			<key>y</key>
			<string>408.638</string>
		</dict>
		<key>{d8db098f-26b0-45bc-bfef-2f94255c6bd2}</key>
		<dict>
			<key>x</key>
			<string>146.361</string>
			<key>y</key>
			<string>444.78</string>
		</dict>
		<key>{fa8ee972-b307-46f9-8c0f-d58a674750df}</key>
		<dict>
			<key>x</key>
			<string>120.135</string>
			<key>y</key>
			<string>400.134</string>
		</dict>
		<key>{6d80a9cc-b6b9-4278-aceb-82a2685eed6f}</key>
		<dict>
			<key>x</key>
			<string>93.9088</string>
			<key>y</key>
			<string>449.032</string>
		</dict>
		<key>{afe26c47-e91d-4b4c-9275-0c3b714946e3}</key>
		<dict>
			<key>x</key>
			<string>93.9088</string>
			<key>y</key>
			<string>453.284</string>
		</dict>
		<key>{f72f428b-e06a-4585-8f78-4254615bf57a}</key>
		<dict>
			<key>x</key>
			<string>93.9088</string>
			<key>y</key>
			<string>404.386</string>
		</dict>
		<key>{e4967db0-7881-456d-9b85-5d6b9297f77a}</key>
		<dict>
			<key>x</key>
			<string>488.438</string>
			<key>y</key>
			<string>306.591</string>
		</dict>
		<key>{0a2691fa-c38d-443a-aa5f-f312f704e240}</key>
		<dict>
			<key>x</key>
			<string>443.672</string>
			<key>y</key>
			<string>302.339</string>
		</dict>
		<key>{dfa71dab-242b-483b-b38f-ced317393404}</key>
		<dict>
			<key>x</key>
			<string>443.672</string>
			<key>y</key>
			<string>257.694</string>
		</dict>
		<key>{4c02edb4-d02b-4786-931a-6b3edc11755b}</key>
		<dict>
			<key>x</key>
			<string>410.665</string>
			<key>y</key>
			<string>253.442</string>
		</dict>
		<key>{c4145202-192c-4422-8d7a-0faf4bd46cb1}</key>
		<dict>
			<key>x</key>
			<string>383.44</string>
			<key>y</key>
			<string>300.213</string>
		</dict>
		<key>{7655ce30-24c5-4acd-afae-6cbc54d75075}</key>
		<dict>
			<key>x</key>
			<string>383.44</string>
			<key>y</key>
			<string>255.568</string>
		</dict>
		<key>{7b124264-3c90-4609-b97a-06e791f9e19e}</key>
		<dict>
			<key>x</key>
			<string>356.215</string>
			<key>y</key>
			<string>253.442</string>
		</dict>
		<key>{84f924f1-ad02-44f6-87ea-f6806b4e864a}</key>
		<dict>
			<key>x</key>
			<string>328.99</string>
			<key>y</key>
			<string>302.339</string>
		</dict>
		<key>{00da2fe9-00b9-42d6-bf2a-89e439539c99}</key>
		<dict>
			<key>x</key>
			<string>328.99</string>
			<key>y</key>
			<string>257.694</string>
		</dict>
		<key>{da1912a3-d507-4712-b14d-1ad92ba43d6d}</key>
		<dict>
			<key>x</key>
			<string>306.155</string>
			<key>y</key>
			<string>259.82</string>
		</dict>
		<key>{19f6b63d-230d-4aaa-8a27-03002c7e10a8}</key>
		<dict>
			<key>x</key>
			<string>289.102</string>
			<key>y</key>
			<string>261.946</string>
		</dict>
		<key>{7cd82861-b84f-463a-aadc-65a1a049ae3b}</key>
		<dict>
			<key>x</key>
			<string>261.817</string>
			<key>y</key>
			<string>298.087</string>
		</dict>
		<key>{f32fd316-a454-45d3-9823-16406624e72e}</key>
		<dict>
			<key>x</key>
			<string>234.533</string>
			<key>y</key>
			<string>253.442</string>
		</dict>
		<key>{c1555e56-c05e-480e-8b0e-b243f6201c39}</key>
		<dict>
			<key>x</key>
			<string>207.248</string>
			<key>y</key>
			<string>302.339</string>
		</dict>
		<key>{b2afc029-5e10-4fc4-ab6f-be3a37f99dd1}</key>
		<dict>
			<key>x</key>
			<string>207.248</string>
			<key>y</key>
			<string>306.591</string>
		</dict>
		<key>{c4b00629-42c6-428c-b2f8-71828e9c5092}</key>
		<dict>
			<key>x</key>
			<string>207.248</string>
			<key>y</key>
			<string>257.694</string>
		</dict>
		<key>{b4715c17-a56d-430f-8b24-edf3908cb4d6}</key>
		<dict>
			<key>x</key>
			<string>185.023</string>
			<key>y</key>
			<string>259.82</string>
		</dict>
		<key>{7791e6aa-4e0d-42e1-99da-b7c31b61b362}</key>
		<dict>
			<key>x</key>
			<string>168.581</string>
			<key>y</key>
			<string>261.946</string>
		</dict>
		<key>{6969e0a9-cafd-42a0-9b9e-2a5348cb92cf}</key>
		<dict>
			<key>x</key>
			<string>142.273</string>
			<key>y</key>
			<string>298.087</string>
		</dict>
		<key>{8ea7f99e-7095-49ec-b4be-dc8cd94287f1}</key>
		<dict>
			<key>x</key>
			<string>115.965</string>
			<key>y</key>
			<string>253.442</string>
		</dict>
		<key>{a16c389c-0153-4de1-a48b-ab3290e91443}</key>
		<dict>
			<key>x</key>
			<string>89.6568</string>
			<key>y</key>
			<string>302.339</string>
		</dict>
		<key>{6a1aae99-c7e6-4586-bf67-2f7de1c9f1a3}</key>
		<dict>
			<key>x</key>
			<string>89.6568</string>
			<key>y</key>
			<string>306.591</string>
		</dict>
		<key>{ebd9dd56-14ed-4b7b-9136-be482a2cafed}</key>
		<dict>
			<key>x</key>
			<string>89.6568</string>
			<key>y</key>
			<string>257.694</string>
		</dict>
		<key>{1d06f147-29fe-4323-8402-940e91a1a083}</key>
		<dict>
			<key>x</key>
			<string>543.171</string>
			<key>y</key>
			<string>119.505</string>
		</dict>
		<key>{38c55f64-43f6-4a58-830d-e16597808cc4}</key>
		<dict>
			<key>x</key>
			<string>527.25</string>
			<key>y</key>
			<string>123.757</string>
		</dict>
		<key>{e8a6f56c-4c12-4fb5-bd2c-cc77e55d6d48}</key>
		<dict>
			<key>x</key>
			<string>501.775</string>
			<key>y</key>
			<string>157.772</string>
		</dict>
		<key>{48fff9d0-160f-4abb-9197-a5480bb8a7e0}</key>
		<dict>
			<key>x</key>
			<string>476.301</string>
			<key>y</key>
			<string>119.505</string>
		</dict>
		<key>{cb7a516a-173e-4737-8bb0-00ac8885af5c}</key>
		<dict>
			<key>x</key>
			<string>450.826</string>
			<key>y</key>
			<string>159.898</string>
		</dict>
		<key>{fd674984-d5ae-4c22-b55f-c7678dc63a4c}</key>
		<dict>
			<key>x</key>
			<string>450.826</string>
			<key>y</key>
			<string>115.253</string>
		</dict>
		<key>{76e7745c-0406-42c3-9b95-f55de820fe7b}</key>
		<dict>
			<key>x</key>
			<string>419.742</string>
			<key>y</key>
			<string>113.127</string>
		</dict>
		<key>{a2380656-3885-41ed-a5c1-34cbebb9d59c}</key>
		<dict>
			<key>x</key>
			<string>394.44</string>
			<key>y</key>
			<string>162.024</string>
		</dict>
		<key>{5d644306-9c77-4c1a-bdc5-f056232ccf51}</key>
		<dict>
			<key>x</key>
			<string>394.44</string>
			<key>y</key>
			<string>117.379</string>
		</dict>
		<key>{cbb54a8a-ee16-49c5-b119-1720d1cf6bae}</key>
		<dict>
			<key>x</key>
			<string>369.138</string>
			<key>y</key>
			<string>113.127</string>
		</dict>
		<key>{7e7ec0f8-13bc-46e1-92af-b518b8d39efa}</key>
		<dict>
			<key>x</key>
			<string>343.837</string>
			<key>y</key>
			<string>162.024</string>
		</dict>
		<key>{9c28d1bd-c232-44f2-b88b-244f810e6048}</key>
		<dict>
			<key>x</key>
			<string>343.837</string>
			<key>y</key>
			<string>117.379</string>
		</dict>
		<key>{28309025-00e6-4320-9a88-67a4a18cb22d}</key>
		<dict>
			<key>x</key>
			<string>322.132</string>
			<key>y</key>
			<string>119.505</string>
		</dict>
		<key>{c43c0345-cbd2-44f3-9d39-6209e6391f1f}</key>
		<dict>
			<key>x</key>
			<string>306.211</string>
			<key>y</key>
			<string>121.631</string>
		</dict>
		<key>{7ae3dbd4-8a09-4b90-a0a1-9e888da8094f}</key>
		<dict>
			<key>x</key>
			<string>280.736</string>
			<key>y</key>
			<string>157.772</string>
		</dict>
		<key>{422680ff-eab9-45c5-98e5-6c7fad5222c4}</key>
		<dict>
			<key>x</key>
			<string>255.262</string>
			<key>y</key>
			<string>113.127</string>
		</dict>
		<key>{52b0bcca-277c-4366-80bd-5ac615cbac50}</key>
		<dict>
			<key>x</key>
			<string>229.787</string>
			<key>y</key>
			<string>162.024</string>
		</dict>
		<key>{84b9487d-4bf6-43fb-9af7-125dabe262d3}</key>
		<dict>
			<key>x</key>
			<string>229.787</string>
			<key>y</key>
			<string>166.276</string>
		</dict>
		<key>{14411655-0d73-4afe-a955-09af2f76f7d1}</key>
		<dict>
			<key>x</key>
			<string>229.787</string>
			<key>y</key>
			<string>117.379</string>
		</dict>
		<key>{3ac9bfe9-834b-4f25-a09d-745ae6b4cfe1}</key>
		<dict>
			<key>x</key>
			<string>208.693</string>
			<key>y</key>
			<string>119.505</string>
		</dict>
		<key>{b9938611-d65b-4679-88f2-ddb633838737}</key>
		<dict>
			<key>x</key>
			<string>193.382</string>
			<key>y</key>
			<string>121.631</string>
		</dict>
		<key>{60cd43a3-ede9-40c2-8527-4aa924c4530f}</key>
		<dict>
			<key>x</key>
			<string>168.884</string>
			<key>y</key>
			<string>157.772</string>
		</dict>
		<key>{9525fc72-d1b6-4296-bebb-f1c82b78ba06}</key>
		<dict>
			<key>x</key>
			<string>144.386</string>
			<key>y</key>
			<string>113.127</string>
		</dict>
		<key>{8149b24c-5be3-4434-9dff-db35cb9818fd}</key>
		<dict>
			<key>x</key>
			<string>119.888</string>
			<key>y</key>
			<string>162.024</string>
		</dict>
		<key>{24a4fad6-17e2-45b6-9681-4efa588bb715}</key>
		<dict>
			<key>x</key>
			<string>119.888</string>
			<key>y</key>
			<string>166.276</string>
		</dict>
		<key>{6778190d-45c5-476d-81c6-b82bd8d9acc8}</key>
		<dict>
			<key>x</key>
			<string>119.888</string>
			<key>y</key>
			<string>117.379</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{f50d2f76-00f7-4562-976a-c8686a19b6c1}</key>
		<dict>
			<key>x1</key>
			<string>501.387</string>
			<key>y1</key>
			<string>594.398</string>
			<key>x2</key>
			<string>501.387</string>
			<key>y2</key>
			<string>606.886</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{d1642f72-cc83-4cdb-b080-a69ea18eb740}</key>
		<dict>
			<key>x1</key>
			<string>456.412</string>
			<key>y1</key>
			<string>590.014</string>
			<key>x2</key>
			<string>456.412</string>
			<key>y2</key>
			<string>603.697</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
		<key>{5d43c60c-6601-4d88-b3d0-0d331531a28b}</key>
		<dict>
			<key>x1</key>
			<string>461.764</string>
			<key>y1</key>
			<string>544.048</string>
			<key>x2</key>
			<string>461.764</string>
			<key>y2</key>
			<string>529.82</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{9f14c5dd-a635-40f9-8a20-b30a4d067d2f}</key>
		<dict>
			<key>x1</key>
			<string>428.332</string>
			<key>y1</key>
			<string>539.651</string>
			<key>x2</key>
			<string>428.332</string>
			<key>y2</key>
			<string>525.568</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{a14265d0-ead3-4864-b6ef-2f14515b183a}</key>
		<dict>
			<key>x1</key>
			<string>395.945</string>
			<key>y1</key>
			<string>588.02</string>
			<key>x2</key>
			<string>395.945</string>
			<key>y2</key>
			<string>602.103</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{7dfb0ef2-0e3c-453c-8ee5-76868bd0e863}</key>
		<dict>
			<key>x1</key>
			<string>400.99</string>
			<key>y1</key>
			<string>541.777</string>
			<key>x2</key>
			<string>400.99</string>
			<key>y2</key>
			<string>527.694</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{f160464c-bd93-4f3b-b0d5-bc0c6c423271}</key>
		<dict>
			<key>x1</key>
			<string>373.648</string>
			<key>y1</key>
			<string>539.651</string>
			<key>x2</key>
			<string>373.648</string>
			<key>y2</key>
			<string>525.568</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{277a7ac6-0d15-426c-a9e4-451200e33fda}</key>
		<dict>
			<key>x1</key>
			<string>341.26</string>
			<key>y1</key>
			<string>590.146</string>
			<key>x2</key>
			<string>341.26</string>
			<key>y2</key>
			<string>603.697</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
		<key>{85bd98c0-dd76-4ed8-adf5-557e0cb99bc4}</key>
		<dict>
			<key>x1</key>
			<string>346.306</string>
			<key>y1</key>
			<string>543.903</string>
			<key>x2</key>
			<string>346.306</string>
			<key>y2</key>
			<string>529.82</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{77dd2222-745b-4cc9-972d-ef32647d1b09}</key>
		<dict>
			<key>x1</key>
			<string>322.901</string>
			<key>y1</key>
			<string>546.029</string>
			<key>x2</key>
			<string>322.901</string>
			<key>y2</key>
			<string>534.071</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{abe7f8b8-b216-4ab1-b3b5-f0b18316d7af}</key>
		<dict>
			<key>x1</key>
			<string>305.279</string>
			<key>y1</key>
			<string>548.155</string>
			<key>x2</key>
			<string>305.279</string>
			<key>y2</key>
			<string>535.134</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{8314c373-6e48-44c3-aacf-af35fdc6cc7b}</key>
		<dict>
			<key>x1</key>
			<string>272.038</string>
			<key>y1</key>
			<string>585.894</string>
			<key>x2</key>
			<string>272.038</string>
			<key>y2</key>
			<string>599.977</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{17e359e0-a091-4b51-8209-d3ccb274597d}</key>
		<dict>
			<key>x1</key>
			<string>248.888</string>
			<key>y1</key>
			<string>539.651</string>
			<key>x2</key>
			<string>248.888</string>
			<key>y2</key>
			<string>525.568</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{1a4f9ca7-ea92-4ff9-bea3-ffca9898ab5f}</key>
		<dict>
			<key>x1</key>
			<string>215.648</string>
			<key>y1</key>
			<string>590.146</string>
			<key>x2</key>
			<string>215.648</string>
			<key>y2</key>
			<string>606.886</string>
			<key>height</key>
			<string>17.5394</string>
		</dict>
		<key>{97fed6b3-b58f-4821-b0d0-0c1ae6e1c288}</key>
		<dict>
			<key>x1</key>
			<string>215.648</string>
			<key>y1</key>
			<string>590.146</string>
			<key>x2</key>
			<string>215.648</string>
			<key>y2</key>
			<string>606.886</string>
			<key>height</key>
			<string>17.5394</string>
		</dict>
		<key>{48544063-abff-41d7-b334-90c7f6bd5800}</key>
		<dict>
			<key>x1</key>
			<string>220.693</string>
			<key>y1</key>
			<string>543.903</string>
			<key>x2</key>
			<string>220.693</string>
			<key>y2</key>
			<string>529.82</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{9bca9124-ade0-4790-b07d-bab6354922d9}</key>
		<dict>
			<key>x1</key>
			<string>197.899</string>
			<key>y1</key>
			<string>546.029</string>
			<key>x2</key>
			<string>197.899</string>
			<key>y2</key>
			<string>534.071</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{3f59f34c-190a-4d66-a2ae-9b38ef2e8bd3}</key>
		<dict>
			<key>x1</key>
			<string>180.887</string>
			<key>y1</key>
			<string>548.155</string>
			<key>x2</key>
			<string>180.887</string>
			<key>y2</key>
			<string>535.134</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{c56bb49a-35fd-420e-8ae7-94c14265f3a9}</key>
		<dict>
			<key>x1</key>
			<string>148.623</string>
			<key>y1</key>
			<string>585.894</string>
			<key>x2</key>
			<string>148.623</string>
			<key>y2</key>
			<string>599.977</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{a4f0c17a-372e-4d16-8c60-371dc64f07cf}</key>
		<dict>
			<key>x1</key>
			<string>126.449</string>
			<key>y1</key>
			<string>539.651</string>
			<key>x2</key>
			<string>126.449</string>
			<key>y2</key>
			<string>525.568</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{77ffa24b-ca23-4d1b-89fc-bd91ec37490f}</key>
		<dict>
			<key>x1</key>
			<string>94.1852</string>
			<key>y1</key>
			<string>590.146</string>
			<key>x2</key>
			<string>94.1852</string>
			<key>y2</key>
			<string>606.886</string>
			<key>height</key>
			<string>17.5394</string>
		</dict>
		<key>{9d09ae91-5fa2-4839-ad75-c94b6cc61095}</key>
		<dict>
			<key>x1</key>
			<string>94.1852</string>
			<key>y1</key>
			<string>590.146</string>
			<key>x2</key>
			<string>94.1852</string>
			<key>y2</key>
			<string>606.886</string>
			<key>height</key>
			<string>17.5394</string>
		</dict>
		<key>{668742a4-7b1b-48c0-a8d2-d191193b645e}</key>
		<dict>
			<key>x1</key>
			<string>99.2304</string>
			<key>y1</key>
			<string>543.903</string>
			<key>x2</key>
			<string>99.2304</string>
			<key>y2</key>
			<string>529.82</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{14b34d0b-3096-4db4-9618-94f33cc1b5fa}</key>
		<dict>
			<key>x1</key>
			<string>547.413</string>
			<key>y1</key>
			<string>405.714</string>
			<key>x2</key>
			<string>547.413</string>
			<key>y2</key>
			<string>393.757</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{78eecf78-204f-47ad-a1c4-2d411c6963b5}</key>
		<dict>
			<key>x1</key>
			<string>530.411</string>
			<key>y1</key>
			<string>407.84</string>
			<key>x2</key>
			<string>530.411</string>
			<key>y2</key>
			<string>394.82</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{1bc157da-ab7f-4130-b54b-f918846a6ae3}</key>
		<dict>
			<key>x1</key>
			<string>498.163</string>
			<key>y1</key>
			<string>445.579</string>
			<key>x2</key>
			<string>498.163</string>
			<key>y2</key>
			<string>459.662</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{ef538662-e1c4-4eac-9a93-0f48deef74e8}</key>
		<dict>
			<key>x1</key>
			<string>476.005</string>
			<key>y1</key>
			<string>405.714</string>
			<key>x2</key>
			<string>476.005</string>
			<key>y2</key>
			<string>391.631</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{647a1fbf-cbab-4517-b74c-325f27d32dd3}</key>
		<dict>
			<key>x1</key>
			<string>443.757</string>
			<key>y1</key>
			<string>447.705</string>
			<key>x2</key>
			<string>443.757</string>
			<key>y2</key>
			<string>461.788</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{a8885402-1d5d-4517-bfb4-f8f2736e5cb9}</key>
		<dict>
			<key>x1</key>
			<string>448.802</string>
			<key>y1</key>
			<string>401.462</string>
			<key>x2</key>
			<string>448.802</string>
			<key>y2</key>
			<string>387.379</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{6f7643a2-8c1d-4c8b-817d-d346f504b511}</key>
		<dict>
			<key>x1</key>
			<string>416.732</string>
			<key>y1</key>
			<string>399.336</string>
			<key>x2</key>
			<string>416.732</string>
			<key>y2</key>
			<string>385.253</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{2a89031d-c064-45bc-9e41-216e1b5fd754}</key>
		<dict>
			<key>x1</key>
			<string>385.399</string>
			<key>y1</key>
			<string>449.831</string>
			<key>x2</key>
			<string>385.399</string>
			<key>y2</key>
			<string>463.383</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
		<key>{2c0e9197-0588-495c-88a0-16ed252539bb}</key>
		<dict>
			<key>x1</key>
			<string>390.444</string>
			<key>y1</key>
			<string>403.588</string>
			<key>x2</key>
			<string>390.444</string>
			<key>y2</key>
			<string>389.505</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{8be38af3-9c01-4028-a756-e3695e1d7f1d}</key>
		<dict>
			<key>x1</key>
			<string>364.157</string>
			<key>y1</key>
			<string>399.336</string>
			<key>x2</key>
			<string>364.157</string>
			<key>y2</key>
			<string>385.253</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{84cdbd89-97bb-4fde-9aa0-850ad6e57c7c}</key>
		<dict>
			<key>x1</key>
			<string>332.824</string>
			<key>y1</key>
			<string>449.831</string>
			<key>x2</key>
			<string>332.824</string>
			<key>y2</key>
			<string>463.383</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
		<key>{1f324325-dce1-4120-a969-d64d3650cdb6}</key>
		<dict>
			<key>x1</key>
			<string>337.869</string>
			<key>y1</key>
			<string>403.588</string>
			<key>x2</key>
			<string>337.869</string>
			<key>y2</key>
			<string>389.505</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{315442e4-88f3-49c6-a79e-7345c1173673}</key>
		<dict>
			<key>x1</key>
			<string>315.085</string>
			<key>y1</key>
			<string>405.714</string>
			<key>x2</key>
			<string>315.085</string>
			<key>y2</key>
			<string>393.757</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{b438a15b-ef59-43ac-b8f3-981a735d61db}</key>
		<dict>
			<key>x1</key>
			<string>298.083</string>
			<key>y1</key>
			<string>407.84</string>
			<key>x2</key>
			<string>298.083</string>
			<key>y2</key>
			<string>394.82</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{bae8a871-b045-43bd-b154-c3ee5c758ade}</key>
		<dict>
			<key>x1</key>
			<string>265.835</string>
			<key>y1</key>
			<string>445.579</string>
			<key>x2</key>
			<string>265.835</string>
			<key>y2</key>
			<string>459.662</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{9b0d7860-ff35-46f1-b6ff-e967866bb149}</key>
		<dict>
			<key>x1</key>
			<string>243.677</string>
			<key>y1</key>
			<string>399.336</string>
			<key>x2</key>
			<string>243.677</string>
			<key>y2</key>
			<string>385.253</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{be55f6b4-58d0-4a52-a60e-9c9d2afc321d}</key>
		<dict>
			<key>x1</key>
			<string>211.429</string>
			<key>y1</key>
			<string>449.831</string>
			<key>x2</key>
			<string>211.429</string>
			<key>y2</key>
			<string>466.571</string>
			<key>height</key>
			<string>17.5394</string>
		</dict>
		<key>{f5760d36-4763-4f23-903f-879096c048ac}</key>
		<dict>
			<key>x1</key>
			<string>211.429</string>
			<key>y1</key>
			<string>449.831</string>
			<key>x2</key>
			<string>211.429</string>
			<key>y2</key>
			<string>466.571</string>
			<key>height</key>
			<string>17.5394</string>
		</dict>
		<key>{39bb2308-f56e-43eb-951a-f1fbfb3c9262}</key>
		<dict>
			<key>x1</key>
			<string>216.475</string>
			<key>y1</key>
			<string>403.588</string>
			<key>x2</key>
			<string>216.475</string>
			<key>y2</key>
			<string>389.505</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{06fca821-3499-4964-a2d4-2a557613cac9}</key>
		<dict>
			<key>x1</key>
			<string>194.301</string>
			<key>y1</key>
			<string>405.714</string>
			<key>x2</key>
			<string>194.301</string>
			<key>y2</key>
			<string>393.757</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{90ab0f22-00b2-4200-9b0e-62c2f803a3da}</key>
		<dict>
			<key>x1</key>
			<string>177.909</string>
			<key>y1</key>
			<string>407.84</string>
			<key>x2</key>
			<string>177.909</string>
			<key>y2</key>
			<string>394.82</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{d8db098f-26b0-45bc-bfef-2f94255c6bd2}</key>
		<dict>
			<key>x1</key>
			<string>146.638</string>
			<key>y1</key>
			<string>445.579</string>
			<key>x2</key>
			<string>146.638</string>
			<key>y2</key>
			<string>459.662</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{fa8ee972-b307-46f9-8c0f-d58a674750df}</key>
		<dict>
			<key>x1</key>
			<string>125.457</string>
			<key>y1</key>
			<string>399.336</string>
			<key>x2</key>
			<string>125.457</string>
			<key>y2</key>
			<string>385.253</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{afe26c47-e91d-4b4c-9275-0c3b714946e3}</key>
		<dict>
			<key>x1</key>
			<string>94.1852</string>
			<key>y1</key>
			<string>449.831</string>
			<key>x2</key>
			<string>94.1852</string>
			<key>y2</key>
			<string>466.571</string>
			<key>height</key>
			<string>17.5394</string>
		</dict>
		<key>{6d80a9cc-b6b9-4278-aceb-82a2685eed6f}</key>
		<dict>
			<key>x1</key>
			<string>94.1852</string>
			<key>y1</key>
			<string>449.831</string>
			<key>x2</key>
			<string>94.1852</string>
			<key>y2</key>
			<string>466.571</string>
			<key>height</key>
			<string>17.5394</string>
		</dict>
		<key>{f72f428b-e06a-4585-8f78-4254615bf57a}</key>
		<dict>
			<key>x1</key>
			<string>99.2304</string>
			<key>y1</key>
			<string>403.588</string>
			<key>x2</key>
			<string>99.2304</string>
			<key>y2</key>
			<string>389.505</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{e4967db0-7881-456d-9b85-5d6b9297f77a}</key>
		<dict>
			<key>x1</key>
			<string>488.715</string>
			<key>y1</key>
			<string>307.39</string>
			<key>x2</key>
			<string>488.715</string>
			<key>y2</key>
			<string>321.473</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{0a2691fa-c38d-443a-aa5f-f312f704e240}</key>
		<dict>
			<key>x1</key>
			<string>443.949</string>
			<key>y1</key>
			<string>303.006</string>
			<key>x2</key>
			<string>443.949</string>
			<key>y2</key>
			<string>317.221</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{dfa71dab-242b-483b-b38f-ced317393404}</key>
		<dict>
			<key>x1</key>
			<string>449.301</string>
			<key>y1</key>
			<string>257.04</string>
			<key>x2</key>
			<string>449.301</string>
			<key>y2</key>
			<string>243.343</string>
			<key>height</key>
			<string>-14.3504</string>
		</dict>
		<key>{4c02edb4-d02b-4786-931a-6b3edc11755b}</key>
		<dict>
			<key>x1</key>
			<string>410.941</string>
			<key>y1</key>
			<string>254.24</string>
			<key>x2</key>
			<string>410.941</string>
			<key>y2</key>
			<string>266.729</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{c4145202-192c-4422-8d7a-0faf4bd46cb1}</key>
		<dict>
			<key>x1</key>
			<string>383.716</string>
			<key>y1</key>
			<string>301.012</string>
			<key>x2</key>
			<string>383.716</string>
			<key>y2</key>
			<string>315.095</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{7655ce30-24c5-4acd-afae-6cbc54d75075}</key>
		<dict>
			<key>x1</key>
			<string>388.762</string>
			<key>y1</key>
			<string>254.769</string>
			<key>x2</key>
			<string>388.762</string>
			<key>y2</key>
			<string>241.749</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{7b124264-3c90-4609-b97a-06e791f9e19e}</key>
		<dict>
			<key>x1</key>
			<string>356.491</string>
			<key>y1</key>
			<string>254.24</string>
			<key>x2</key>
			<string>356.491</string>
			<key>y2</key>
			<string>266.729</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{84f924f1-ad02-44f6-87ea-f6806b4e864a}</key>
		<dict>
			<key>x1</key>
			<string>329.267</string>
			<key>y1</key>
			<string>303.138</string>
			<key>x2</key>
			<string>329.267</string>
			<key>y2</key>
			<string>317.221</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{00da2fe9-00b9-42d6-bf2a-89e439539c99}</key>
		<dict>
			<key>x1</key>
			<string>334.312</string>
			<key>y1</key>
			<string>256.895</string>
			<key>x2</key>
			<string>334.312</string>
			<key>y2</key>
			<string>243.343</string>
			<key>height</key>
			<string>-14.3504</string>
		</dict>
		<key>{da1912a3-d507-4712-b14d-1ad92ba43d6d}</key>
		<dict>
			<key>x1</key>
			<string>311.476</string>
			<key>y1</key>
			<string>259.021</string>
			<key>x2</key>
			<string>311.476</string>
			<key>y2</key>
			<string>248.127</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{19f6b63d-230d-4aaa-8a27-03002c7e10a8}</key>
		<dict>
			<key>x1</key>
			<string>294.424</string>
			<key>y1</key>
			<string>261.147</string>
			<key>x2</key>
			<string>294.424</string>
			<key>y2</key>
			<string>249.19</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{7cd82861-b84f-463a-aadc-65a1a049ae3b}</key>
		<dict>
			<key>x1</key>
			<string>262.094</string>
			<key>y1</key>
			<string>298.886</string>
			<key>x2</key>
			<string>262.094</string>
			<key>y2</key>
			<string>312.969</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{f32fd316-a454-45d3-9823-16406624e72e}</key>
		<dict>
			<key>x1</key>
			<string>234.809</string>
			<key>y1</key>
			<string>254.24</string>
			<key>x2</key>
			<string>234.809</string>
			<key>y2</key>
			<string>266.729</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{b2afc029-5e10-4fc4-ab6f-be3a37f99dd1}</key>
		<dict>
			<key>x1</key>
			<string>207.525</string>
			<key>y1</key>
			<string>303.138</string>
			<key>x2</key>
			<string>207.525</string>
			<key>y2</key>
			<string>321.473</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{c1555e56-c05e-480e-8b0e-b243f6201c39}</key>
		<dict>
			<key>x1</key>
			<string>207.525</string>
			<key>y1</key>
			<string>303.138</string>
			<key>x2</key>
			<string>207.525</string>
			<key>y2</key>
			<string>321.473</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{c4b00629-42c6-428c-b2f8-71828e9c5092}</key>
		<dict>
			<key>x1</key>
			<string>212.57</string>
			<key>y1</key>
			<string>256.895</string>
			<key>x2</key>
			<string>212.57</string>
			<key>y2</key>
			<string>243.343</string>
			<key>height</key>
			<string>-14.3504</string>
		</dict>
		<key>{b4715c17-a56d-430f-8b24-edf3908cb4d6}</key>
		<dict>
			<key>x1</key>
			<string>190.345</string>
			<key>y1</key>
			<string>259.021</string>
			<key>x2</key>
			<string>190.345</string>
			<key>y2</key>
			<string>248.127</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{7791e6aa-4e0d-42e1-99da-b7c31b61b362}</key>
		<dict>
			<key>x1</key>
			<string>173.902</string>
			<key>y1</key>
			<string>261.147</string>
			<key>x2</key>
			<string>173.902</string>
			<key>y2</key>
			<string>249.19</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{6969e0a9-cafd-42a0-9b9e-2a5348cb92cf}</key>
		<dict>
			<key>x1</key>
			<string>142.549</string>
			<key>y1</key>
			<string>298.886</string>
			<key>x2</key>
			<string>142.549</string>
			<key>y2</key>
			<string>312.969</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{8ea7f99e-7095-49ec-b4be-dc8cd94287f1}</key>
		<dict>
			<key>x1</key>
			<string>116.241</string>
			<key>y1</key>
			<string>254.24</string>
			<key>x2</key>
			<string>116.241</string>
			<key>y2</key>
			<string>266.729</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{6a1aae99-c7e6-4586-bf67-2f7de1c9f1a3}</key>
		<dict>
			<key>x1</key>
			<string>89.9332</string>
			<key>y1</key>
			<string>303.138</string>
			<key>x2</key>
			<string>89.9332</string>
			<key>y2</key>
			<string>321.473</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{a16c389c-0153-4de1-a48b-ab3290e91443}</key>
		<dict>
			<key>x1</key>
			<string>89.9332</string>
			<key>y1</key>
			<string>303.138</string>
			<key>x2</key>
			<string>89.9332</string>
			<key>y2</key>
			<string>321.473</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{ebd9dd56-14ed-4b7b-9136-be482a2cafed}</key>
		<dict>
			<key>x1</key>
			<string>94.9784</string>
			<key>y1</key>
			<string>256.895</string>
			<key>x2</key>
			<string>94.9784</string>
			<key>y2</key>
			<string>243.343</string>
			<key>height</key>
			<string>-14.3504</string>
		</dict>
		<key>{1d06f147-29fe-4323-8402-940e91a1a083}</key>
		<dict>
			<key>x1</key>
			<string>548.493</string>
			<key>y1</key>
			<string>118.706</string>
			<key>x2</key>
			<string>548.493</string>
			<key>y2</key>
			<string>107.812</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{38c55f64-43f6-4a58-830d-e16597808cc4}</key>
		<dict>
			<key>x1</key>
			<string>532.571</string>
			<key>y1</key>
			<string>122.958</string>
			<key>x2</key>
			<string>532.571</string>
			<key>y2</key>
			<string>109.938</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{e8a6f56c-4c12-4fb5-bd2c-cc77e55d6d48}</key>
		<dict>
			<key>x1</key>
			<string>502.051</string>
			<key>y1</key>
			<string>158.571</string>
			<key>x2</key>
			<string>502.051</string>
			<key>y2</key>
			<string>172.654</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{48fff9d0-160f-4abb-9197-a5480bb8a7e0}</key>
		<dict>
			<key>x1</key>
			<string>481.622</string>
			<key>y1</key>
			<string>118.706</string>
			<key>x2</key>
			<string>481.622</string>
			<key>y2</key>
			<string>104.623</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{cb7a516a-173e-4737-8bb0-00ac8885af5c}</key>
		<dict>
			<key>x1</key>
			<string>451.103</string>
			<key>y1</key>
			<string>160.697</string>
			<key>x2</key>
			<string>451.103</string>
			<key>y2</key>
			<string>174.78</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{fd674984-d5ae-4c22-b55f-c7678dc63a4c}</key>
		<dict>
			<key>x1</key>
			<string>456.148</string>
			<key>y1</key>
			<string>114.454</string>
			<key>x2</key>
			<string>456.148</string>
			<key>y2</key>
			<string>101.434</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{76e7745c-0406-42c3-9b95-f55de820fe7b}</key>
		<dict>
			<key>x1</key>
			<string>420.018</string>
			<key>y1</key>
			<string>113.925</string>
			<key>x2</key>
			<string>420.018</string>
			<key>y2</key>
			<string>126.414</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{a2380656-3885-41ed-a5c1-34cbebb9d59c}</key>
		<dict>
			<key>x1</key>
			<string>394.716</string>
			<key>y1</key>
			<string>162.823</string>
			<key>x2</key>
			<string>394.716</string>
			<key>y2</key>
			<string>176.906</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{5d644306-9c77-4c1a-bdc5-f056232ccf51}</key>
		<dict>
			<key>x1</key>
			<string>399.762</string>
			<key>y1</key>
			<string>116.58</string>
			<key>x2</key>
			<string>399.762</string>
			<key>y2</key>
			<string>103.028</string>
			<key>height</key>
			<string>-14.3504</string>
		</dict>
		<key>{cbb54a8a-ee16-49c5-b119-1720d1cf6bae}</key>
		<dict>
			<key>x1</key>
			<string>369.415</string>
			<key>y1</key>
			<string>113.925</string>
			<key>x2</key>
			<string>369.415</string>
			<key>y2</key>
			<string>126.414</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{7e7ec0f8-13bc-46e1-92af-b518b8d39efa}</key>
		<dict>
			<key>x1</key>
			<string>344.113</string>
			<key>y1</key>
			<string>162.823</string>
			<key>x2</key>
			<string>344.113</string>
			<key>y2</key>
			<string>176.906</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{9c28d1bd-c232-44f2-b88b-244f810e6048}</key>
		<dict>
			<key>x1</key>
			<string>349.158</string>
			<key>y1</key>
			<string>116.58</string>
			<key>x2</key>
			<string>349.158</string>
			<key>y2</key>
			<string>103.028</string>
			<key>height</key>
			<string>-14.3504</string>
		</dict>
		<key>{28309025-00e6-4320-9a88-67a4a18cb22d}</key>
		<dict>
			<key>x1</key>
			<string>327.454</string>
			<key>y1</key>
			<string>118.706</string>
			<key>x2</key>
			<string>327.454</string>
			<key>y2</key>
			<string>107.812</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{c43c0345-cbd2-44f3-9d39-6209e6391f1f}</key>
		<dict>
			<key>x1</key>
			<string>311.532</string>
			<key>y1</key>
			<string>120.832</string>
			<key>x2</key>
			<string>311.532</string>
			<key>y2</key>
			<string>108.875</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{7ae3dbd4-8a09-4b90-a0a1-9e888da8094f}</key>
		<dict>
			<key>x1</key>
			<string>281.013</string>
			<key>y1</key>
			<string>158.571</string>
			<key>x2</key>
			<string>281.013</string>
			<key>y2</key>
			<string>172.654</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{422680ff-eab9-45c5-98e5-6c7fad5222c4}</key>
		<dict>
			<key>x1</key>
			<string>255.538</string>
			<key>y1</key>
			<string>113.925</string>
			<key>x2</key>
			<string>255.538</string>
			<key>y2</key>
			<string>126.414</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{84b9487d-4bf6-43fb-9af7-125dabe262d3}</key>
		<dict>
			<key>x1</key>
			<string>230.064</string>
			<key>y1</key>
			<string>162.823</string>
			<key>x2</key>
			<string>230.064</string>
			<key>y2</key>
			<string>181.158</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{52b0bcca-277c-4366-80bd-5ac615cbac50}</key>
		<dict>
			<key>x1</key>
			<string>230.064</string>
			<key>y1</key>
			<string>162.823</string>
			<key>x2</key>
			<string>230.064</string>
			<key>y2</key>
			<string>181.158</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{14411655-0d73-4afe-a955-09af2f76f7d1}</key>
		<dict>
			<key>x1</key>
			<string>235.109</string>
			<key>y1</key>
			<string>116.58</string>
			<key>x2</key>
			<string>235.109</string>
			<key>y2</key>
			<string>103.028</string>
			<key>height</key>
			<string>-14.3504</string>
		</dict>
		<key>{3ac9bfe9-834b-4f25-a09d-745ae6b4cfe1}</key>
		<dict>
			<key>x1</key>
			<string>214.015</string>
			<key>y1</key>
			<string>118.706</string>
			<key>x2</key>
			<string>214.015</string>
			<key>y2</key>
			<string>107.812</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{b9938611-d65b-4679-88f2-ddb633838737}</key>
		<dict>
			<key>x1</key>
			<string>198.704</string>
			<key>y1</key>
			<string>120.832</string>
			<key>x2</key>
			<string>198.704</string>
			<key>y2</key>
			<string>108.875</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{60cd43a3-ede9-40c2-8527-4aa924c4530f}</key>
		<dict>
			<key>x1</key>
			<string>169.161</string>
			<key>y1</key>
			<string>158.571</string>
			<key>x2</key>
			<string>169.161</string>
			<key>y2</key>
			<string>172.654</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{9525fc72-d1b6-4296-bebb-f1c82b78ba06}</key>
		<dict>
			<key>x1</key>
			<string>144.663</string>
			<key>y1</key>
			<string>113.925</string>
			<key>x2</key>
			<string>144.663</string>
			<key>y2</key>
			<string>126.414</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{24a4fad6-17e2-45b6-9681-4efa588bb715}</key>
		<dict>
			<key>x1</key>
			<string>120.165</string>
			<key>y1</key>
			<string>162.823</string>
			<key>x2</key>
			<string>120.165</string>
			<key>y2</key>
			<string>181.158</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{8149b24c-5be3-4434-9dff-db35cb9818fd}</key>
		<dict>
			<key>x1</key>
			<string>120.165</string>
			<key>y1</key>
			<string>162.823</string>
			<key>x2</key>
			<string>120.165</string>
			<key>y2</key>
			<string>181.158</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{6778190d-45c5-476d-81c6-b82bd8d9acc8}</key>
		<dict>
			<key>x1</key>
			<string>125.21</string>
			<key>y1</key>
			<string>116.58</string>
			<key>x2</key>
			<string>125.21</string>
			<key>y2</key>
			<string>103.028</string>
			<key>height</key>
			<string>-14.3504</string>
		</dict>
	</dict>
</dict>
</plist>