<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>63.9721</string>
			<key>y</key>
			<string>132.35</string>
			<key>bx</key>
			<string>63.9721</string>
			<key>by</key>
			<string>171.217</string>
			<key>spatium</key>
			<string>4.7622</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>63.9721</string>
			<key>y</key>
			<string>268.073</string>
			<key>bx</key>
			<string>63.9721</string>
			<key>by</key>
			<string>306.94</string>
			<key>spatium</key>
			<string>4.7622</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>63.9721</string>
			<key>y</key>
			<string>403.795</string>
			<key>bx</key>
			<string>63.9721</string>
			<key>by</key>
			<string>442.663</string>
			<key>spatium</key>
			<string>4.7622</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>63.9721</string>
			<key>y</key>
			<string>539.518</string>
			<key>bx</key>
			<string>63.9721</string>
			<key>by</key>
			<string>578.386</string>
			<key>spatium</key>
			<string>4.7622</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{9c8c710c-3151-465f-a8c5-f9edd4d734dd}</key>
		<dict>
			<key>x</key>
			<string>452.168</string>
			<key>y</key>
			<string>608.57</string>
		</dict>
		<key>{9e8b4bd5-b16c-420d-b431-f150d88bf566}</key>
		<dict>
			<key>x</key>
			<string>452.168</string>
			<key>y</key>
			<string>544.28</string>
		</dict>
		<key>{8bc68915-c8f6-4258-9b69-20167a949013}</key>
		<dict>
			<key>x</key>
			<string>424.205</string>
			<key>y</key>
			<string>544.28</string>
		</dict>
		<key>{fb8436fe-02f2-4185-9433-ece6f048d46f}</key>
		<dict>
			<key>x</key>
			<string>402.718</string>
			<key>y</key>
			<string>615.713</string>
		</dict>
		<key>{3d4f1672-c759-4aae-9ba5-b3cbce60bcfe}</key>
		<dict>
			<key>x</key>
			<string>368.339</string>
			<key>y</key>
			<string>599.046</string>
		</dict>
		<key>{ce7b2f14-bf4f-4d24-9fde-d93d85f93f17}</key>
		<dict>
			<key>x</key>
			<string>368.339</string>
			<key>y</key>
			<string>541.899</string>
		</dict>
		<key>{d3c0302e-b80b-43f2-a23d-96fd1fa9002f}</key>
		<dict>
			<key>x</key>
			<string>346.852</string>
			<key>y</key>
			<string>541.899</string>
		</dict>
		<key>{986184d5-2017-4564-b928-580ee64b2bf7}</key>
		<dict>
			<key>x</key>
			<string>325.366</string>
			<key>y</key>
			<string>601.427</string>
		</dict>
		<key>{92ec34d0-d811-4ffc-8bd0-1d56889a7c18}</key>
		<dict>
			<key>x</key>
			<string>325.366</string>
			<key>y</key>
			<string>544.28</string>
		</dict>
		<key>{893f3296-f766-4fcd-aa46-cb6e424480a3}</key>
		<dict>
			<key>x</key>
			<string>280.283</string>
			<key>y</key>
			<string>603.808</string>
		</dict>
		<key>{5e28d4b8-e29c-4074-b909-ec3108ca8146}</key>
		<dict>
			<key>x</key>
			<string>280.283</string>
			<key>y</key>
			<string>544.28</string>
		</dict>
		<key>{19dc1ed1-42a6-4128-a7ce-1e37c728db0d}</key>
		<dict>
			<key>x</key>
			<string>256.154</string>
			<key>y</key>
			<string>601.427</string>
		</dict>
		<key>{82692c87-859d-492d-aad8-979102f9f127}</key>
		<dict>
			<key>x</key>
			<string>256.154</string>
			<key>y</key>
			<string>546.662</string>
		</dict>
		<key>{ccac6689-2c5a-4826-9d4a-49017ebd3e25}</key>
		<dict>
			<key>x</key>
			<string>209.079</string>
			<key>y</key>
			<string>599.046</string>
		</dict>
		<key>{7bfa2004-6d51-4728-8251-733b1b747922}</key>
		<dict>
			<key>x</key>
			<string>209.079</string>
			<key>y</key>
			<string>546.662</string>
		</dict>
		<key>{7f67202b-f994-44a4-9dd8-300a5e39c8a3}</key>
		<dict>
			<key>x</key>
			<string>164.718</string>
			<key>y</key>
			<string>537.137</string>
		</dict>
		<key>{00d171e9-f5c4-410b-87c1-fb0e00949069}</key>
		<dict>
			<key>x</key>
			<string>129.717</string>
			<key>y</key>
			<string>601.427</string>
		</dict>
		<key>{244e51b5-9887-4afe-aa10-882513ee0c34}</key>
		<dict>
			<key>x</key>
			<string>129.889</string>
			<key>y</key>
			<string>541.899</string>
		</dict>
		<key>{cd2219cb-15aa-4823-aff6-563a804cc09e}</key>
		<dict>
			<key>x</key>
			<string>95.0599</string>
			<key>y</key>
			<string>603.808</string>
		</dict>
		<key>{5d147b95-d161-4240-beb5-80606e8e71ae}</key>
		<dict>
			<key>x</key>
			<string>95.0599</string>
			<key>y</key>
			<string>539.518</string>
		</dict>
		<key>{6528add5-bb39-449d-a947-72aa3dfbcde7}</key>
		<dict>
			<key>x</key>
			<string>525.547</string>
			<key>y</key>
			<string>415.701</string>
		</dict>
		<key>{f136fc81-2835-4d0d-8ebc-941511e39a30}</key>
		<dict>
			<key>x</key>
			<string>492.181</string>
			<key>y</key>
			<string>484.753</string>
		</dict>
		<key>{ef6cb2fb-78b7-4641-a242-8b36a13baf37}</key>
		<dict>
			<key>x</key>
			<string>459.159</string>
			<key>y</key>
			<string>468.085</string>
		</dict>
		<key>{26c1f8c9-a5b3-49fd-ae2a-0cea6d297bbc}</key>
		<dict>
			<key>x</key>
			<string>458.987</string>
			<key>y</key>
			<string>413.32</string>
		</dict>
		<key>{47c7c511-9c15-4269-a225-b7130f176eb7}</key>
		<dict>
			<key>x</key>
			<string>430.204</string>
			<key>y</key>
			<string>413.32</string>
		</dict>
		<key>{310f072c-2690-468e-8940-632182a89701}</key>
		<dict>
			<key>x</key>
			<string>407.897</string>
			<key>y</key>
			<string>470.466</string>
		</dict>
		<key>{7c7a0dbb-0f8d-4293-b059-cfda91b499a4}</key>
		<dict>
			<key>x</key>
			<string>372.206</string>
			<key>y</key>
			<string>475.228</string>
		</dict>
		<key>{0634b73e-2d59-4834-b7c4-cfb05b65acc3}</key>
		<dict>
			<key>x</key>
			<string>372.206</string>
			<key>y</key>
			<string>413.32</string>
		</dict>
		<key>{81d8484f-367c-4eee-820c-6126d03e27b6}</key>
		<dict>
			<key>x</key>
			<string>336.515</string>
			<key>y</key>
			<string>470.466</string>
		</dict>
		<key>{f7e41afb-7c63-4cff-836e-b641f588a27b}</key>
		<dict>
			<key>x</key>
			<string>336.515</string>
			<key>y</key>
			<string>401.414</string>
		</dict>
		<key>{d38120b6-72ae-446c-b3bf-f046494833e2}</key>
		<dict>
			<key>x</key>
			<string>295.041</string>
			<key>y</key>
			<string>413.32</string>
		</dict>
		<key>{9fd8474c-9564-4982-afc3-1af9c5e3fb99}</key>
		<dict>
			<key>x</key>
			<string>259.873</string>
			<key>y</key>
			<string>482.372</string>
		</dict>
		<key>{41a1d6e6-cd0c-458a-bdb7-75fe6fde6527}</key>
		<dict>
			<key>x</key>
			<string>225.048</string>
			<key>y</key>
			<string>465.704</string>
		</dict>
		<key>{032a58cc-4f0e-4dd3-b806-6e5e7c778c76}</key>
		<dict>
			<key>x</key>
			<string>224.876</string>
			<key>y</key>
			<string>410.939</string>
		</dict>
		<key>{82aefb4c-0705-485d-bd15-83b684a542ae}</key>
		<dict>
			<key>x</key>
			<string>196.995</string>
			<key>y</key>
			<string>410.939</string>
		</dict>
		<key>{776c9fa0-6c96-411f-b8d9-68223c1ae605}</key>
		<dict>
			<key>x</key>
			<string>175.59</string>
			<key>y</key>
			<string>468.085</string>
		</dict>
		<key>{842a1fe5-40ca-4de3-89e2-ebe1cf41735c}</key>
		<dict>
			<key>x</key>
			<string>141.343</string>
			<key>y</key>
			<string>472.847</string>
		</dict>
		<key>{b7c8ef33-db7c-42ac-890e-e6af78f13dd2}</key>
		<dict>
			<key>x</key>
			<string>141.343</string>
			<key>y</key>
			<string>410.939</string>
		</dict>
		<key>{f72f103e-33e3-4818-b745-e5f246c3c6af}</key>
		<dict>
			<key>x</key>
			<string>107.095</string>
			<key>y</key>
			<string>468.085</string>
		</dict>
		<key>{26e40372-a32a-4a0c-b794-f18a113d4078}</key>
		<dict>
			<key>x</key>
			<string>107.095</string>
			<key>y</key>
			<string>399.033</string>
		</dict>
		<key>{57bb4820-c644-4529-b840-5910b0febb08}</key>
		<dict>
			<key>x</key>
			<string>456.145</string>
			<key>y</key>
			<string>344.268</string>
		</dict>
		<key>{e70539a9-c764-4e23-bf5f-6ce819c153fe}</key>
		<dict>
			<key>x</key>
			<string>456.145</string>
			<key>y</key>
			<string>275.216</string>
		</dict>
		<key>{7845d53b-e806-473c-8452-d98209225d07}</key>
		<dict>
			<key>x</key>
			<string>423.98</string>
			<key>y</key>
			<string>270.454</string>
		</dict>
		<key>{97d9ef23-4e95-46f0-a470-d9975bde9493}</key>
		<dict>
			<key>x</key>
			<string>401.347</string>
			<key>y</key>
			<string>272.835</string>
		</dict>
		<key>{5859a2bc-1027-41de-9e42-fd301deb64ac}</key>
		<dict>
			<key>x</key>
			<string>378.714</string>
			<key>y</key>
			<string>275.216</string>
		</dict>
		<key>{c41fff75-9b3f-446f-9273-62fd3a65b49d}</key>
		<dict>
			<key>x</key>
			<string>355.91</string>
			<key>y</key>
			<string>341.887</string>
		</dict>
		<key>{d933836a-fb91-4c8e-8245-375680601310}</key>
		<dict>
			<key>x</key>
			<string>319.869</string>
			<key>y</key>
			<string>325.219</string>
		</dict>
		<key>{6ecff690-927f-4cb3-9448-d7af423942ca}</key>
		<dict>
			<key>x</key>
			<string>319.869</string>
			<key>y</key>
			<string>272.835</string>
		</dict>
		<key>{76e77218-e0f2-4f51-805d-5923a1f9aabb}</key>
		<dict>
			<key>x</key>
			<string>277.295</string>
			<key>y</key>
			<string>279.978</string>
		</dict>
		<key>{1326f0f6-73fd-49df-9fd9-499871e5d1d1}</key>
		<dict>
			<key>x</key>
			<string>241.026</string>
			<key>y</key>
			<string>339.506</string>
		</dict>
		<key>{bf98c87e-1fe7-4e3b-b62d-5700e6c79052}</key>
		<dict>
			<key>x</key>
			<string>241.198</string>
			<key>y</key>
			<string>263.31</string>
		</dict>
		<key>{70e2600a-ac73-470f-9f2d-af491a3868d3}</key>
		<dict>
			<key>x</key>
			<string>205.101</string>
			<key>y</key>
			<string>322.838</string>
		</dict>
		<key>{fa18a46e-147f-49d2-9220-861f731ae52d}</key>
		<dict>
			<key>x</key>
			<string>205.101</string>
			<key>y</key>
			<string>270.454</string>
		</dict>
		<key>{eb39cb59-a95f-456e-9894-240377572e8f}</key>
		<dict>
			<key>x</key>
			<string>164.103</string>
			<key>y</key>
			<string>272.835</string>
		</dict>
		<key>{e441ea17-71b2-43c4-a504-f043d13fa720}</key>
		<dict>
			<key>x</key>
			<string>129.41</string>
			<key>y</key>
			<string>337.124</string>
		</dict>
		<key>{dd595bc5-7fe6-4e0d-9615-d3ef7ce67f12}</key>
		<dict>
			<key>x</key>
			<string>129.581</string>
			<key>y</key>
			<string>268.073</string>
		</dict>
		<key>{4f4b7985-db52-41ff-bc19-80a29ef570ca}</key>
		<dict>
			<key>x</key>
			<string>95.0599</string>
			<key>y</key>
			<string>320.457</string>
		</dict>
		<key>{ec6560aa-0be2-4faf-9297-43980bbce924}</key>
		<dict>
			<key>x</key>
			<string>95.0599</string>
			<key>y</key>
			<string>263.31</string>
		</dict>
		<key>{22273bb3-f261-41d6-bec9-3b77ac4f6b89}</key>
		<dict>
			<key>x</key>
			<string>518.755</string>
			<key>y</key>
			<string>201.402</string>
		</dict>
		<key>{895b7155-ae54-4edb-8fef-c834e0ce9c6d}</key>
		<dict>
			<key>x</key>
			<string>518.755</string>
			<key>y</key>
			<string>137.112</string>
		</dict>
		<key>{e99310ae-de8f-4364-9d4f-8ab33971fb99}</key>
		<dict>
			<key>x</key>
			<string>454.605</string>
			<key>y</key>
			<string>208.545</string>
		</dict>
		<key>{d88b32d4-c6af-4c83-877e-a6e59ec50825}</key>
		<dict>
			<key>x</key>
			<string>454.605</string>
			<key>y</key>
			<string>134.731</string>
		</dict>
		<key>{7f7e16f2-ed35-4150-b211-8224a9025a4a}</key>
		<dict>
			<key>x</key>
			<string>426.552</string>
			<key>y</key>
			<string>129.969</string>
		</dict>
		<key>{d2c0bc8f-19da-42df-92ac-2c62991d79ac}</key>
		<dict>
			<key>x</key>
			<string>404.977</string>
			<key>y</key>
			<string>210.926</string>
		</dict>
		<key>{305ed5f8-fccb-4812-b50a-606110161100}</key>
		<dict>
			<key>x</key>
			<string>370.455</string>
			<key>y</key>
			<string>201.402</string>
		</dict>
		<key>{6d6e178d-4b4f-48f2-83c6-c31e88d5ef33}</key>
		<dict>
			<key>x</key>
			<string>370.455</string>
			<key>y</key>
			<string>132.35</string>
		</dict>
		<key>{2f890d70-ef4d-4bb8-81bc-19aa441621d4}</key>
		<dict>
			<key>x</key>
			<string>335.934</string>
			<key>y</key>
			<string>203.783</string>
		</dict>
		<key>{2923816f-b301-4b57-8128-978ac580d4f9}</key>
		<dict>
			<key>x</key>
			<string>335.934</string>
			<key>y</key>
			<string>129.969</string>
		</dict>
		<key>{a3e5fc36-cc5f-4a2d-808f-5c3a2af71f12}</key>
		<dict>
			<key>x</key>
			<string>284.95</string>
			<key>y</key>
			<string>196.639</string>
		</dict>
		<key>{af47e21e-701f-4b8c-80d3-5141b95fe404}</key>
		<dict>
			<key>x</key>
			<string>284.95</string>
			<key>y</key>
			<string>127.587</string>
		</dict>
		<key>{672dcae6-705a-4f79-b8ea-13973ecb7e13}</key>
		<dict>
			<key>x</key>
			<string>218.456</string>
			<key>y</key>
			<string>194.258</string>
		</dict>
		<key>{8af0670c-d171-4f91-bd46-ff2196610e72}</key>
		<dict>
			<key>x</key>
			<string>218.456</string>
			<key>y</key>
			<string>125.206</string>
		</dict>
		<key>{4e1fa1dd-a2f0-490a-823c-b8b907c2265c}</key>
		<dict>
			<key>x</key>
			<string>176.355</string>
			<key>y</key>
			<string>137.112</string>
		</dict>
		<key>{7a4e65fe-c0ec-40e5-9047-b7f24bd88f21}</key>
		<dict>
			<key>x</key>
			<string>140.56</string>
			<key>y</key>
			<string>201.402</string>
		</dict>
		<key>{34915a10-ba16-4c8f-87be-22ea1eee91b2}</key>
		<dict>
			<key>x</key>
			<string>140.732</string>
			<key>y</key>
			<string>132.35</string>
		</dict>
		<key>{cc8d5fde-ebc9-4e56-bde5-6aceba7590aa}</key>
		<dict>
			<key>x</key>
			<string>105.108</string>
			<key>y</key>
			<string>184.734</string>
		</dict>
		<key>{eefea1de-e470-4497-8500-effa22651277}</key>
		<dict>
			<key>x</key>
			<string>105.108</string>
			<key>y</key>
			<string>127.587</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{9c8c710c-3151-465f-a8c5-f9edd4d734dd}</key>
		<dict>
			<key>x1</key>
			<string>452.478</string>
			<key>y1</key>
			<string>609.317</string>
			<key>x2</key>
			<string>452.478</string>
			<key>y2</key>
			<string>623.452</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{9e8b4bd5-b16c-420d-b431-f150d88bf566}</key>
		<dict>
			<key>x1</key>
			<string>452.478</string>
			<key>y1</key>
			<string>545.027</string>
			<key>x2</key>
			<string>452.478</string>
			<key>y2</key>
			<string>560.353</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{8bc68915-c8f6-4258-9b69-20167a949013}</key>
		<dict>
			<key>x1</key>
			<string>424.514</string>
			<key>y1</key>
			<string>545.175</string>
			<key>x2</key>
			<string>424.514</string>
			<key>y2</key>
			<string>560.948</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{fb8436fe-02f2-4185-9433-ece6f048d46f}</key>
		<dict>
			<key>x1</key>
			<string>408.678</string>
			<key>y1</key>
			<string>614.819</string>
			<key>x2</key>
			<string>408.678</string>
			<key>y2</key>
			<string>599.046</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{3d4f1672-c759-4aae-9ba5-b3cbce60bcfe}</key>
		<dict>
			<key>x1</key>
			<string>368.649</string>
			<key>y1</key>
			<string>599.94</string>
			<key>x2</key>
			<string>368.649</string>
			<key>y2</key>
			<string>615.713</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{ce7b2f14-bf4f-4d24-9fde-d93d85f93f17}</key>
		<dict>
			<key>x1</key>
			<string>368.649</string>
			<key>y1</key>
			<string>542.794</string>
			<key>x2</key>
			<string>368.649</string>
			<key>y2</key>
			<string>558.567</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{d3c0302e-b80b-43f2-a23d-96fd1fa9002f}</key>
		<dict>
			<key>x1</key>
			<string>347.162</string>
			<key>y1</key>
			<string>542.794</string>
			<key>x2</key>
			<string>347.162</string>
			<key>y2</key>
			<string>557.376</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{986184d5-2017-4564-b928-580ee64b2bf7}</key>
		<dict>
			<key>x1</key>
			<string>325.675</string>
			<key>y1</key>
			<string>602.321</string>
			<key>x2</key>
			<string>325.675</string>
			<key>y2</key>
			<string>618.095</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{92ec34d0-d811-4ffc-8bd0-1d56889a7c18}</key>
		<dict>
			<key>x1</key>
			<string>325.675</string>
			<key>y1</key>
			<string>545.175</string>
			<key>x2</key>
			<string>325.675</string>
			<key>y2</key>
			<string>558.567</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{893f3296-f766-4fcd-aa46-cb6e424480a3}</key>
		<dict>
			<key>x1</key>
			<string>280.592</string>
			<key>y1</key>
			<string>604.702</string>
			<key>x2</key>
			<string>280.592</string>
			<key>y2</key>
			<string>619.88</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{5e28d4b8-e29c-4074-b909-ec3108ca8146}</key>
		<dict>
			<key>x1</key>
			<string>280.592</string>
			<key>y1</key>
			<string>545.175</string>
			<key>x2</key>
			<string>280.592</string>
			<key>y2</key>
			<string>560.353</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{19dc1ed1-42a6-4128-a7ce-1e37c728db0d}</key>
		<dict>
			<key>x1</key>
			<string>256.463</string>
			<key>y1</key>
			<string>602.321</string>
			<key>x2</key>
			<string>256.463</string>
			<key>y2</key>
			<string>618.095</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{82692c87-859d-492d-aad8-979102f9f127}</key>
		<dict>
			<key>x1</key>
			<string>256.463</string>
			<key>y1</key>
			<string>547.556</string>
			<key>x2</key>
			<string>256.463</string>
			<key>y2</key>
			<string>563.329</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{ccac6689-2c5a-4826-9d4a-49017ebd3e25}</key>
		<dict>
			<key>x1</key>
			<string>209.388</string>
			<key>y1</key>
			<string>599.94</string>
			<key>x2</key>
			<string>209.388</string>
			<key>y2</key>
			<string>615.713</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{7bfa2004-6d51-4728-8251-733b1b747922}</key>
		<dict>
			<key>x1</key>
			<string>209.388</string>
			<key>y1</key>
			<string>547.556</string>
			<key>x2</key>
			<string>209.388</string>
			<key>y2</key>
			<string>562.139</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{7f67202b-f994-44a4-9dd8-300a5e39c8a3}</key>
		<dict>
			<key>x1</key>
			<string>165.027</string>
			<key>y1</key>
			<string>538.032</string>
			<key>x2</key>
			<string>165.027</string>
			<key>y2</key>
			<string>553.805</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{00d171e9-f5c4-410b-87c1-fb0e00949069}</key>
		<dict>
			<key>x1</key>
			<string>130.026</string>
			<key>y1</key>
			<string>602.174</string>
			<key>x2</key>
			<string>130.026</string>
			<key>y2</key>
			<string>618.095</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{244e51b5-9887-4afe-aa10-882513ee0c34}</key>
		<dict>
			<key>x1</key>
			<string>130.198</string>
			<key>y1</key>
			<string>542.794</string>
			<key>x2</key>
			<string>130.198</string>
			<key>y2</key>
			<string>558.567</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{cd2219cb-15aa-4823-aff6-563a804cc09e}</key>
		<dict>
			<key>x1</key>
			<string>95.3694</string>
			<key>y1</key>
			<string>604.702</string>
			<key>x2</key>
			<string>95.3694</string>
			<key>y2</key>
			<string>619.88</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{5d147b95-d161-4240-beb5-80606e8e71ae}</key>
		<dict>
			<key>x1</key>
			<string>95.3694</string>
			<key>y1</key>
			<string>540.413</string>
			<key>x2</key>
			<string>95.3694</string>
			<key>y2</key>
			<string>556.186</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{6528add5-bb39-449d-a947-72aa3dfbcde7}</key>
		<dict>
			<key>x1</key>
			<string>531.507</string>
			<key>y1</key>
			<string>414.806</string>
			<key>x2</key>
			<string>531.507</string>
			<key>y2</key>
			<string>400.224</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{f136fc81-2835-4d0d-8ebc-941511e39a30}</key>
		<dict>
			<key>x1</key>
			<string>498.485</string>
			<key>y1</key>
			<string>484.021</string>
			<key>x2</key>
			<string>498.485</string>
			<key>y2</key>
			<string>468.085</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{ef6cb2fb-78b7-4641-a242-8b36a13baf37}</key>
		<dict>
			<key>x1</key>
			<string>459.469</string>
			<key>y1</key>
			<string>468.98</string>
			<key>x2</key>
			<string>459.469</string>
			<key>y2</key>
			<string>484.158</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{26c1f8c9-a5b3-49fd-ae2a-0cea6d297bbc}</key>
		<dict>
			<key>x1</key>
			<string>459.297</string>
			<key>y1</key>
			<string>414.066</string>
			<key>x2</key>
			<string>459.297</string>
			<key>y2</key>
			<string>428.202</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{47c7c511-9c15-4269-a225-b7130f176eb7}</key>
		<dict>
			<key>x1</key>
			<string>430.513</string>
			<key>y1</key>
			<string>414.214</string>
			<key>x2</key>
			<string>430.513</string>
			<key>y2</key>
			<string>429.987</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{310f072c-2690-468e-8940-632182a89701}</key>
		<dict>
			<key>x1</key>
			<string>408.206</string>
			<key>y1</key>
			<string>471.361</string>
			<key>x2</key>
			<string>408.206</string>
			<key>y2</key>
			<string>485.943</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{7c7a0dbb-0f8d-4293-b059-cfda91b499a4}</key>
		<dict>
			<key>x1</key>
			<string>378.166</string>
			<key>y1</key>
			<string>474.334</string>
			<key>x2</key>
			<string>378.166</string>
			<key>y2</key>
			<string>459.751</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{0634b73e-2d59-4834-b7c4-cfb05b65acc3}</key>
		<dict>
			<key>x1</key>
			<string>372.515</string>
			<key>y1</key>
			<string>414.214</string>
			<key>x2</key>
			<string>372.515</string>
			<key>y2</key>
			<string>428.202</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{81d8484f-367c-4eee-820c-6126d03e27b6}</key>
		<dict>
			<key>x1</key>
			<string>336.824</string>
			<key>y1</key>
			<string>471.361</string>
			<key>x2</key>
			<string>336.824</string>
			<key>y2</key>
			<string>485.943</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{f7e41afb-7c63-4cff-836e-b641f588a27b}</key>
		<dict>
			<key>x1</key>
			<string>336.824</string>
			<key>y1</key>
			<string>402.309</string>
			<key>x2</key>
			<string>336.824</string>
			<key>y2</key>
			<string>418.082</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{d38120b6-72ae-446c-b3bf-f046494833e2}</key>
		<dict>
			<key>x1</key>
			<string>295.351</string>
			<key>y1</key>
			<string>414.214</string>
			<key>x2</key>
			<string>295.351</string>
			<key>y2</key>
			<string>428.202</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{9fd8474c-9564-4982-afc3-1af9c5e3fb99}</key>
		<dict>
			<key>x1</key>
			<string>266.177</string>
			<key>y1</key>
			<string>481.64</string>
			<key>x2</key>
			<string>266.177</string>
			<key>y2</key>
			<string>465.704</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{41a1d6e6-cd0c-458a-bdb7-75fe6fde6527}</key>
		<dict>
			<key>x1</key>
			<string>225.357</string>
			<key>y1</key>
			<string>466.598</string>
			<key>x2</key>
			<string>225.357</string>
			<key>y2</key>
			<string>482.372</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{032a58cc-4f0e-4dd3-b806-6e5e7c778c76}</key>
		<dict>
			<key>x1</key>
			<string>225.185</string>
			<key>y1</key>
			<string>411.685</string>
			<key>x2</key>
			<string>225.185</string>
			<key>y2</key>
			<string>426.416</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{82aefb4c-0705-485d-bd15-83b684a542ae}</key>
		<dict>
			<key>x1</key>
			<string>197.304</string>
			<key>y1</key>
			<string>411.833</string>
			<key>x2</key>
			<string>197.304</string>
			<key>y2</key>
			<string>427.606</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{776c9fa0-6c96-411f-b8d9-68223c1ae605}</key>
		<dict>
			<key>x1</key>
			<string>175.9</string>
			<key>y1</key>
			<string>468.98</string>
			<key>x2</key>
			<string>175.9</string>
			<key>y2</key>
			<string>484.158</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{842a1fe5-40ca-4de3-89e2-ebe1cf41735c}</key>
		<dict>
			<key>x1</key>
			<string>141.652</string>
			<key>y1</key>
			<string>473.742</string>
			<key>x2</key>
			<string>141.652</string>
			<key>y2</key>
			<string>487.729</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{b7c8ef33-db7c-42ac-890e-e6af78f13dd2}</key>
		<dict>
			<key>x1</key>
			<string>141.652</string>
			<key>y1</key>
			<string>411.833</string>
			<key>x2</key>
			<string>141.652</string>
			<key>y2</key>
			<string>426.416</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{f72f103e-33e3-4818-b745-e5f246c3c6af}</key>
		<dict>
			<key>x1</key>
			<string>107.405</string>
			<key>y1</key>
			<string>468.98</string>
			<key>x2</key>
			<string>107.405</string>
			<key>y2</key>
			<string>484.158</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{26e40372-a32a-4a0c-b794-f18a113d4078}</key>
		<dict>
			<key>x1</key>
			<string>107.405</string>
			<key>y1</key>
			<string>399.928</string>
			<key>x2</key>
			<string>107.405</string>
			<key>y2</key>
			<string>415.701</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{57bb4820-c644-4529-b840-5910b0febb08}</key>
		<dict>
			<key>x1</key>
			<string>462.449</string>
			<key>y1</key>
			<string>343.536</string>
			<key>x2</key>
			<string>462.449</string>
			<key>y2</key>
			<string>327.6</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{e70539a9-c764-4e23-bf5f-6ce819c153fe}</key>
		<dict>
			<key>x1</key>
			<string>456.455</string>
			<key>y1</key>
			<string>275.963</string>
			<key>x2</key>
			<string>456.455</string>
			<key>y2</key>
			<string>290.693</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{7845d53b-e806-473c-8452-d98209225d07}</key>
		<dict>
			<key>x1</key>
			<string>424.29</string>
			<key>y1</key>
			<string>271.348</string>
			<key>x2</key>
			<string>424.29</string>
			<key>y2</key>
			<string>285.931</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{97d9ef23-4e95-46f0-a470-d9975bde9493}</key>
		<dict>
			<key>x1</key>
			<string>401.657</string>
			<key>y1</key>
			<string>273.729</string>
			<key>x2</key>
			<string>401.657</string>
			<key>y2</key>
			<string>287.121</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{5859a2bc-1027-41de-9e42-fd301deb64ac}</key>
		<dict>
			<key>x1</key>
			<string>379.024</string>
			<key>y1</key>
			<string>276.11</string>
			<key>x2</key>
			<string>379.024</string>
			<key>y2</key>
			<string>291.884</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{c41fff75-9b3f-446f-9273-62fd3a65b49d}</key>
		<dict>
			<key>x1</key>
			<string>362.213</string>
			<key>y1</key>
			<string>341.155</string>
			<key>x2</key>
			<string>362.213</string>
			<key>y2</key>
			<string>325.814</string>
			<key>height</key>
			<string>-16.0724</string>
		</dict>
		<key>{d933836a-fb91-4c8e-8245-375680601310}</key>
		<dict>
			<key>x1</key>
			<string>320.178</string>
			<key>y1</key>
			<string>326.113</string>
			<key>x2</key>
			<string>320.178</string>
			<key>y2</key>
			<string>341.887</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{6ecff690-927f-4cb3-9448-d7af423942ca}</key>
		<dict>
			<key>x1</key>
			<string>320.178</string>
			<key>y1</key>
			<string>273.729</string>
			<key>x2</key>
			<string>320.178</string>
			<key>y2</key>
			<string>288.907</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{76e77218-e0f2-4f51-805d-5923a1f9aabb}</key>
		<dict>
			<key>x1</key>
			<string>283.255</string>
			<key>y1</key>
			<string>279.084</string>
			<key>x2</key>
			<string>283.255</string>
			<key>y2</key>
			<string>264.501</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{1326f0f6-73fd-49df-9fd9-499871e5d1d1}</key>
		<dict>
			<key>x1</key>
			<string>247.33</string>
			<key>y1</key>
			<string>338.774</string>
			<key>x2</key>
			<string>247.33</string>
			<key>y2</key>
			<string>324.028</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{bf98c87e-1fe7-4e3b-b62d-5700e6c79052}</key>
		<dict>
			<key>x1</key>
			<string>241.508</string>
			<key>y1</key>
			<string>264.205</string>
			<key>x2</key>
			<string>241.508</string>
			<key>y2</key>
			<string>279.978</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{70e2600a-ac73-470f-9f2d-af491a3868d3}</key>
		<dict>
			<key>x1</key>
			<string>205.411</string>
			<key>y1</key>
			<string>323.732</string>
			<key>x2</key>
			<string>205.411</string>
			<key>y2</key>
			<string>339.506</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{fa18a46e-147f-49d2-9220-861f731ae52d}</key>
		<dict>
			<key>x1</key>
			<string>205.411</string>
			<key>y1</key>
			<string>271.348</string>
			<key>x2</key>
			<string>205.411</string>
			<key>y2</key>
			<string>287.121</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{eb39cb59-a95f-456e-9894-240377572e8f}</key>
		<dict>
			<key>x1</key>
			<string>164.413</string>
			<key>y1</key>
			<string>273.729</string>
			<key>x2</key>
			<string>164.413</string>
			<key>y2</key>
			<string>288.907</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{e441ea17-71b2-43c4-a504-f043d13fa720}</key>
		<dict>
			<key>x1</key>
			<string>129.719</string>
			<key>y1</key>
			<string>337.871</string>
			<key>x2</key>
			<string>129.719</string>
			<key>y2</key>
			<string>352.006</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{dd595bc5-7fe6-4e0d-9615-d3ef7ce67f12}</key>
		<dict>
			<key>x1</key>
			<string>129.891</string>
			<key>y1</key>
			<string>268.967</string>
			<key>x2</key>
			<string>129.891</string>
			<key>y2</key>
			<string>284.74</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{4f4b7985-db52-41ff-bc19-80a29ef570ca}</key>
		<dict>
			<key>x1</key>
			<string>95.3694</string>
			<key>y1</key>
			<string>321.351</string>
			<key>x2</key>
			<string>95.3694</string>
			<key>y2</key>
			<string>337.124</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{ec6560aa-0be2-4faf-9297-43980bbce924}</key>
		<dict>
			<key>x1</key>
			<string>95.3694</string>
			<key>y1</key>
			<string>264.205</string>
			<key>x2</key>
			<string>95.3694</string>
			<key>y2</key>
			<string>279.978</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{22273bb3-f261-41d6-bec9-3b77ac4f6b89}</key>
		<dict>
			<key>x1</key>
			<string>519.065</string>
			<key>y1</key>
			<string>202.296</string>
			<key>x2</key>
			<string>519.065</string>
			<key>y2</key>
			<string>216.284</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{895b7155-ae54-4edb-8fef-c834e0ce9c6d}</key>
		<dict>
			<key>x1</key>
			<string>519.065</string>
			<key>y1</key>
			<string>138.006</string>
			<key>x2</key>
			<string>519.065</string>
			<key>y2</key>
			<string>153.184</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{e99310ae-de8f-4364-9d4f-8ab33971fb99}</key>
		<dict>
			<key>x1</key>
			<string>460.909</string>
			<key>y1</key>
			<string>207.813</string>
			<key>x2</key>
			<string>460.909</string>
			<key>y2</key>
			<string>191.877</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{d88b32d4-c6af-4c83-877e-a6e59ec50825}</key>
		<dict>
			<key>x1</key>
			<string>454.914</string>
			<key>y1</key>
			<string>135.478</string>
			<key>x2</key>
			<string>454.914</string>
			<key>y2</key>
			<string>151.399</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{7f7e16f2-ed35-4150-b211-8224a9025a4a}</key>
		<dict>
			<key>x1</key>
			<string>426.862</string>
			<key>y1</key>
			<string>130.863</string>
			<key>x2</key>
			<string>426.862</string>
			<key>y2</key>
			<string>146.636</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{d2c0bc8f-19da-42df-92ac-2c62991d79ac}</key>
		<dict>
			<key>x1</key>
			<string>410.937</string>
			<key>y1</key>
			<string>210.032</string>
			<key>x2</key>
			<string>410.937</string>
			<key>y2</key>
			<string>194.258</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{305ed5f8-fccb-4812-b50a-606110161100}</key>
		<dict>
			<key>x1</key>
			<string>370.765</string>
			<key>y1</key>
			<string>202.296</string>
			<key>x2</key>
			<string>370.765</string>
			<key>y2</key>
			<string>216.284</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{6d6e178d-4b4f-48f2-83c6-c31e88d5ef33}</key>
		<dict>
			<key>x1</key>
			<string>370.765</string>
			<key>y1</key>
			<string>133.244</string>
			<key>x2</key>
			<string>370.765</string>
			<key>y2</key>
			<string>149.017</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{2f890d70-ef4d-4bb8-81bc-19aa441621d4}</key>
		<dict>
			<key>x1</key>
			<string>341.894</string>
			<key>y1</key>
			<string>202.888</string>
			<key>x2</key>
			<string>341.894</string>
			<key>y2</key>
			<string>188.306</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{2923816f-b301-4b57-8128-978ac580d4f9}</key>
		<dict>
			<key>x1</key>
			<string>336.243</string>
			<key>y1</key>
			<string>130.863</string>
			<key>x2</key>
			<string>336.243</string>
			<key>y2</key>
			<string>146.636</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{a3e5fc36-cc5f-4a2d-808f-5c3a2af71f12}</key>
		<dict>
			<key>x1</key>
			<string>285.26</string>
			<key>y1</key>
			<string>197.534</string>
			<key>x2</key>
			<string>285.26</string>
			<key>y2</key>
			<string>212.712</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{af47e21e-701f-4b8c-80d3-5141b95fe404}</key>
		<dict>
			<key>x1</key>
			<string>285.26</string>
			<key>y1</key>
			<string>128.482</string>
			<key>x2</key>
			<string>285.26</string>
			<key>y2</key>
			<string>144.255</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{672dcae6-705a-4f79-b8ea-13973ecb7e13}</key>
		<dict>
			<key>x1</key>
			<string>218.765</string>
			<key>y1</key>
			<string>195.005</string>
			<key>x2</key>
			<string>218.765</string>
			<key>y2</key>
			<string>210.926</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{8af0670c-d171-4f91-bd46-ff2196610e72}</key>
		<dict>
			<key>x1</key>
			<string>218.765</string>
			<key>y1</key>
			<string>125.953</string>
			<key>x2</key>
			<string>218.765</string>
			<key>y2</key>
			<string>141.874</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{4e1fa1dd-a2f0-490a-823c-b8b907c2265c}</key>
		<dict>
			<key>x1</key>
			<string>176.665</string>
			<key>y1</key>
			<string>138.006</string>
			<key>x2</key>
			<string>176.665</string>
			<key>y2</key>
			<string>153.184</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{7a4e65fe-c0ec-40e5-9047-b7f24bd88f21}</key>
		<dict>
			<key>x1</key>
			<string>140.869</string>
			<key>y1</key>
			<string>202.148</string>
			<key>x2</key>
			<string>140.869</string>
			<key>y2</key>
			<string>216.284</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{34915a10-ba16-4c8f-87be-22ea1eee91b2}</key>
		<dict>
			<key>x1</key>
			<string>141.041</string>
			<key>y1</key>
			<string>133.244</string>
			<key>x2</key>
			<string>141.041</string>
			<key>y2</key>
			<string>149.017</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{cc8d5fde-ebc9-4e56-bde5-6aceba7590aa}</key>
		<dict>
			<key>x1</key>
			<string>105.418</string>
			<key>y1</key>
			<string>185.628</string>
			<key>x2</key>
			<string>105.418</string>
			<key>y2</key>
			<string>201.402</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{eefea1de-e470-4497-8500-effa22651277}</key>
		<dict>
			<key>x1</key>
			<string>105.418</string>
			<key>y1</key>
			<string>128.482</string>
			<key>x2</key>
			<string>105.418</string>
			<key>y2</key>
			<string>144.255</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
	</dict>
</dict>
</plist>