<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>541.205</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>576.784</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{d238b736-1a33-43ef-8488-96fd98100da5}</key>
		<dict>
			<key>x</key>
			<string>453.87</string>
			<key>y</key>
			<string>625.535</string>
		</dict>
		<key>{f621f689-9357-484f-94c2-0c77dccb8d18}</key>
		<dict>
			<key>x</key>
			<string>453.87</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{33abc865-1b44-4004-9c35-61dbbb03a55c}</key>
		<dict>
			<key>x</key>
			<string>408.057</string>
			<key>y</key>
			<string>623.055</string>
		</dict>
		<key>{23f4c151-7995-4b77-9bdb-e4c7e4ebf28c}</key>
		<dict>
			<key>x</key>
			<string>408.057</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{65cf3f6b-231e-4ae3-a842-61dd8721af0d}</key>
		<dict>
			<key>x</key>
			<string>368.991</string>
			<key>y</key>
			<string>620.575</string>
		</dict>
		<key>{66f50c55-436e-45d6-8edb-afd6a59ac78b}</key>
		<dict>
			<key>x</key>
			<string>368.991</string>
			<key>y</key>
			<string>551.126</string>
		</dict>
		<key>{e29baa1c-a8dc-478c-aad9-ee4526ce7aea}</key>
		<dict>
			<key>x</key>
			<string>329.924</string>
			<key>y</key>
			<string>618.094</string>
		</dict>
		<key>{f6ee9382-dbd3-4083-92b3-f42288145fad}</key>
		<dict>
			<key>x</key>
			<string>329.924</string>
			<key>y</key>
			<string>548.646</string>
		</dict>
		<key>{b174580b-b8e5-4b71-b555-a1e361377dd3}</key>
		<dict>
			<key>x</key>
			<string>284.78</string>
			<key>y</key>
			<string>615.614</string>
		</dict>
		<key>{3d0f6a3b-0506-4eac-9fc9-4745aeebbfdf}</key>
		<dict>
			<key>x</key>
			<string>260.782</string>
			<key>y</key>
			<string>620.575</string>
		</dict>
		<key>{ddb83971-392b-4ea7-b19e-fa4a724b2fa4}</key>
		<dict>
			<key>x</key>
			<string>236.784</string>
			<key>y</key>
			<string>625.535</string>
		</dict>
		<key>{a9ea9427-e345-4e7a-9a0c-aed60acdda20}</key>
		<dict>
			<key>x</key>
			<string>198.386</string>
			<key>y</key>
			<string>625.535</string>
		</dict>
		<key>{03881552-7832-4a31-84a0-f3ebe9745a5e}</key>
		<dict>
			<key>x</key>
			<string>198.207</string>
			<key>y</key>
			<string>546.165</string>
		</dict>
		<key>{29ac3c0b-3570-456d-b21e-c22807b393d4}</key>
		<dict>
			<key>x</key>
			<string>198.207</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{c912abea-b6ab-44fa-9b5a-8832d52a53cc}</key>
		<dict>
			<key>x</key>
			<string>154.533</string>
			<key>y</key>
			<string>615.614</string>
		</dict>
		<key>{2801b5a1-9d3b-47af-b878-73e7c1f1c651}</key>
		<dict>
			<key>x</key>
			<string>131.453</string>
			<key>y</key>
			<string>620.575</string>
		</dict>
		<key>{665fe549-0edd-4cfb-8a3e-e0b6d5d5165a}</key>
		<dict>
			<key>x</key>
			<string>108.373</string>
			<key>y</key>
			<string>625.535</string>
		</dict>
		<key>{bedb494e-117e-49cd-b836-df1d9667a4d4}</key>
		<dict>
			<key>x</key>
			<string>71.4447</string>
			<key>y</key>
			<string>625.535</string>
		</dict>
		<key>{8c3d7b18-51ce-48bb-ac4a-9c6550fe20e2}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>546.165</string>
		</dict>
		<key>{df08505a-d495-4572-98a1-915fff797209}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{cf903222-5165-4ad5-84ce-c533c3a3cc56}</key>
		<dict>
			<key>x</key>
			<string>457.218</string>
			<key>y</key>
			<string>474.236</string>
		</dict>
		<key>{6c218756-e965-4dd7-a167-8b137c15dfcf}</key>
		<dict>
			<key>x</key>
			<string>457.218</string>
			<key>y</key>
			<string>404.787</string>
		</dict>
		<key>{4fe419c9-1399-4829-ae22-4e9f91a4aa0d}</key>
		<dict>
			<key>x</key>
			<string>411.034</string>
			<key>y</key>
			<string>476.717</string>
		</dict>
		<key>{1e2a4aac-75e0-4f45-a058-9d22f97765d1}</key>
		<dict>
			<key>x</key>
			<string>411.034</string>
			<key>y</key>
			<string>407.268</string>
		</dict>
		<key>{c6ce9cf3-51e2-4e80-89da-50745b966109}</key>
		<dict>
			<key>x</key>
			<string>371.595</string>
			<key>y</key>
			<string>474.236</string>
		</dict>
		<key>{f7e198ab-9550-4d1e-b594-ce7deb210c0c}</key>
		<dict>
			<key>x</key>
			<string>371.595</string>
			<key>y</key>
			<string>404.787</string>
		</dict>
		<key>{ca067889-cc11-41c7-a8d6-ae26ecbae56e}</key>
		<dict>
			<key>x</key>
			<string>332.157</string>
			<key>y</key>
			<string>471.756</string>
		</dict>
		<key>{daf80601-f8ad-4de6-a06a-e6ca0a034ddc}</key>
		<dict>
			<key>x</key>
			<string>332.157</string>
			<key>y</key>
			<string>402.307</string>
		</dict>
		<key>{af79912d-4ae2-4108-bf05-55fef4877c79}</key>
		<dict>
			<key>x</key>
			<string>286.669</string>
			<key>y</key>
			<string>469.276</string>
		</dict>
		<key>{de4a3a1c-6b4c-4eea-83e7-7e2e7bc16723}</key>
		<dict>
			<key>x</key>
			<string>262.456</string>
			<key>y</key>
			<string>474.236</string>
		</dict>
		<key>{cc426dcf-2137-4ef6-b018-4e4c63403962}</key>
		<dict>
			<key>x</key>
			<string>238.243</string>
			<key>y</key>
			<string>479.197</string>
		</dict>
		<key>{453e4838-2613-4b28-9424-e9431343ee18}</key>
		<dict>
			<key>x</key>
			<string>199.502</string>
			<key>y</key>
			<string>479.197</string>
		</dict>
		<key>{cf5cfe58-0b0c-4bc4-8b23-f50a2641ed7d}</key>
		<dict>
			<key>x</key>
			<string>199.323</string>
			<key>y</key>
			<string>399.827</string>
		</dict>
		<key>{2b761928-bd73-471a-a37f-c7d9521ab1a4}</key>
		<dict>
			<key>x</key>
			<string>199.323</string>
			<key>y</key>
			<string>409.748</string>
		</dict>
		<key>{c9bee09f-1cc0-48e1-8749-6f9cfa2f3589}</key>
		<dict>
			<key>x</key>
			<string>155.305</string>
			<key>y</key>
			<string>469.276</string>
		</dict>
		<key>{2e21f3fd-7034-41e4-813a-254d1c0124a0}</key>
		<dict>
			<key>x</key>
			<string>132.011</string>
			<key>y</key>
			<string>474.236</string>
		</dict>
		<key>{b16142b2-22f4-4c77-8677-1df8f5d4b148}</key>
		<dict>
			<key>x</key>
			<string>108.716</string>
			<key>y</key>
			<string>479.197</string>
		</dict>
		<key>{06e09c6c-3d30-402f-8f66-39fc3b766588}</key>
		<dict>
			<key>x</key>
			<string>71.4447</string>
			<key>y</key>
			<string>479.197</string>
		</dict>
		<key>{4141a56d-2fd2-419b-ab62-7628119e11aa}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>399.827</string>
		</dict>
		<key>{f0bb49aa-a3c4-4943-8687-7d162f6490f7}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>409.748</string>
		</dict>
		<key>{ba0cc37f-5631-48be-bac0-3396d684bd95}</key>
		<dict>
			<key>x</key>
			<string>453.25</string>
			<key>y</key>
			<string>332.858</string>
		</dict>
		<key>{1a5f3e8c-258e-4b0c-b36a-9fae0bb962ce}</key>
		<dict>
			<key>x</key>
			<string>453.25</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{c02c6319-1225-4c1c-8362-d9a71e7b628e}</key>
		<dict>
			<key>x</key>
			<string>405.742</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{327915db-93f2-41db-849a-516751b935e5}</key>
		<dict>
			<key>x</key>
			<string>405.742</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{3ea17868-7d9f-487c-9228-59534dadde62}</key>
		<dict>
			<key>x</key>
			<string>364.981</string>
			<key>y</key>
			<string>327.898</string>
		</dict>
		<key>{4afa3fe6-3949-4f92-aafd-e2ae0619a620}</key>
		<dict>
			<key>x</key>
			<string>364.981</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{9517bd02-bc5a-4edb-aaf4-88976a60a2e1}</key>
		<dict>
			<key>x</key>
			<string>324.22</string>
			<key>y</key>
			<string>325.417</string>
		</dict>
		<key>{b366c3ab-5a0b-4ba6-90fb-257cc5b45d25}</key>
		<dict>
			<key>x</key>
			<string>324.22</string>
			<key>y</key>
			<string>255.969</string>
		</dict>
		<key>{28de8df0-d786-4120-b19b-fab0c2030dea}</key>
		<dict>
			<key>x</key>
			<string>279.953</string>
			<key>y</key>
			<string>253.488</string>
		</dict>
		<key>{da1e9c1f-1213-477a-a26c-68795a9f3cc3}</key>
		<dict>
			<key>x</key>
			<string>256.503</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{c235f7d8-df7f-4dfa-9707-27bd9eb81a8f}</key>
		<dict>
			<key>x</key>
			<string>233.054</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{be11c241-84a0-4c40-ac4c-ae41a187e84c}</key>
		<dict>
			<key>x</key>
			<string>195.355</string>
			<key>y</key>
			<string>322.937</string>
		</dict>
		<key>{581ab813-567c-44a5-b666-43f171c64848}</key>
		<dict>
			<key>x</key>
			<string>195.355</string>
			<key>y</key>
			<string>332.858</string>
		</dict>
		<key>{406d8bea-af80-4e0c-9d92-1bccfe23b477}</key>
		<dict>
			<key>x</key>
			<string>195.534</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{25e67213-153a-4648-9007-8a24fc238c65}</key>
		<dict>
			<key>x</key>
			<string>152.558</string>
			<key>y</key>
			<string>253.488</string>
		</dict>
		<key>{80406475-aaf9-45ac-90d5-7e4ff3080bb0}</key>
		<dict>
			<key>x</key>
			<string>130.027</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{19c1d903-c49b-422e-a7c7-a30c09b9940d}</key>
		<dict>
			<key>x</key>
			<string>107.495</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{6fb4f8b8-5eec-4f56-b96c-fe73f5f630a4}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>322.937</string>
		</dict>
		<key>{4948859d-c249-4978-8786-02338e4fbd23}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>332.858</string>
		</dict>
		<key>{ce543953-e54f-44fa-b030-69cb67263472}</key>
		<dict>
			<key>x</key>
			<string>71.4447</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{737ce566-2da3-47b1-8a2b-7f66df7144ff}</key>
		<dict>
			<key>x</key>
			<string>456.487</string>
			<key>y</key>
			<string>181.559</string>
		</dict>
		<key>{3ca14f5a-e26f-4a69-a2a1-493bc8b669ce}</key>
		<dict>
			<key>x</key>
			<string>456.487</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{31fab938-4273-40c4-aa44-94bc132a2304}</key>
		<dict>
			<key>x</key>
			<string>410.058</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{c475e476-67da-4c9f-8e77-f2d3cace0275}</key>
		<dict>
			<key>x</key>
			<string>410.058</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{1658e218-a296-4741-922c-a0f189a10f0f}</key>
		<dict>
			<key>x</key>
			<string>370.376</string>
			<key>y</key>
			<string>181.559</string>
		</dict>
		<key>{74fb570d-1deb-4a94-9f8e-631a3026344b}</key>
		<dict>
			<key>x</key>
			<string>370.376</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{b136ed50-725d-42fc-96d3-14a65d38151e}</key>
		<dict>
			<key>x</key>
			<string>330.693</string>
			<key>y</key>
			<string>179.079</string>
		</dict>
		<key>{bdd0ac3b-ec26-4d16-ad9d-effad23db45c}</key>
		<dict>
			<key>x</key>
			<string>330.693</string>
			<key>y</key>
			<string>109.63</string>
		</dict>
		<key>{3bb3be5c-5474-480f-8deb-0fcc8a18530d}</key>
		<dict>
			<key>x</key>
			<string>287.423</string>
			<key>y</key>
			<string>107.15</string>
		</dict>
		<key>{0d0304ff-428a-4658-a687-8a143f5787f4}</key>
		<dict>
			<key>x</key>
			<string>264.596</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{01a898cc-32d1-43e0-bd17-25a5152cdb98}</key>
		<dict>
			<key>x</key>
			<string>241.768</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{da0952a9-55e2-4432-b2ab-d5d9230d629b}</key>
		<dict>
			<key>x</key>
			<string>205.065</string>
			<key>y</key>
			<string>176.598</string>
		</dict>
		<key>{3af3be28-6529-46ae-92fc-73a54f04b301}</key>
		<dict>
			<key>x</key>
			<string>205.065</string>
			<key>y</key>
			<string>186.52</string>
		</dict>
		<key>{8a255906-3123-4662-94ec-7b1573d6ed10}</key>
		<dict>
			<key>x</key>
			<string>205.244</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{79f7af86-8649-4fd8-98b0-3798ab7d48b6}</key>
		<dict>
			<key>x</key>
			<string>163.264</string>
			<key>y</key>
			<string>107.15</string>
		</dict>
		<key>{2100d350-a82d-4447-8847-861902428d8e}</key>
		<dict>
			<key>x</key>
			<string>141.355</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{76045f6a-c91a-4c86-b4b1-227d5c129b00}</key>
		<dict>
			<key>x</key>
			<string>119.446</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{0b973958-fea3-4bbb-928b-471054e41429}</key>
		<dict>
			<key>x</key>
			<string>84.2129</string>
			<key>y</key>
			<string>176.598</string>
		</dict>
		<key>{e6205234-aef3-4a97-91c7-980c24c9dfd6}</key>
		<dict>
			<key>x</key>
			<string>84.2129</string>
			<key>y</key>
			<string>186.52</string>
		</dict>
		<key>{a0516b94-db18-41b5-ba07-4b6a8db6c84e}</key>
		<dict>
			<key>x</key>
			<string>84.3919</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{d238b736-1a33-43ef-8488-96fd98100da5}</key>
		<dict>
			<key>x1</key>
			<string>454.193</string>
			<key>y1</key>
			<string>626.313</string>
			<key>x2</key>
			<string>454.193</string>
			<key>y2</key>
			<string>636.697</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{f621f689-9357-484f-94c2-0c77dccb8d18}</key>
		<dict>
			<key>x1</key>
			<string>460.437</string>
			<key>y1</key>
			<string>555.325</string>
			<key>x2</key>
			<string>460.437</string>
			<key>y2</key>
			<string>539.344</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{33abc865-1b44-4004-9c35-61dbbb03a55c}</key>
		<dict>
			<key>x1</key>
			<string>408.38</string>
			<key>y1</key>
			<string>623.987</string>
			<key>x2</key>
			<string>408.38</string>
			<key>y2</key>
			<string>634.217</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{23f4c151-7995-4b77-9bdb-e4c7e4ebf28c}</key>
		<dict>
			<key>x1</key>
			<string>414.266</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>414.266</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{65cf3f6b-231e-4ae3-a842-61dd8721af0d}</key>
		<dict>
			<key>x1</key>
			<string>369.313</string>
			<key>y1</key>
			<string>621.506</string>
			<key>x2</key>
			<string>369.313</string>
			<key>y2</key>
			<string>631.736</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{66f50c55-436e-45d6-8edb-afd6a59ac78b}</key>
		<dict>
			<key>x1</key>
			<string>369.313</string>
			<key>y1</key>
			<string>552.058</string>
			<key>x2</key>
			<string>369.313</string>
			<key>y2</key>
			<string>566.628</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{e29baa1c-a8dc-478c-aad9-ee4526ce7aea}</key>
		<dict>
			<key>x1</key>
			<string>330.247</string>
			<key>y1</key>
			<string>619.026</string>
			<key>x2</key>
			<string>330.247</string>
			<key>y2</key>
			<string>629.876</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{f6ee9382-dbd3-4083-92b3-f42288145fad}</key>
		<dict>
			<key>x1</key>
			<string>330.247</string>
			<key>y1</key>
			<string>549.577</string>
			<key>x2</key>
			<string>330.247</string>
			<key>y2</key>
			<string>564.768</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{b174580b-b8e5-4b71-b555-a1e361377dd3}</key>
		<dict>
			<key>x1</key>
			<string>285.103</string>
			<key>y1</key>
			<string>616.546</string>
			<key>x2</key>
			<string>285.103</string>
			<key>y2</key>
			<string>628.016</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{3d0f6a3b-0506-4eac-9fc9-4745aeebbfdf}</key>
		<dict>
			<key>x1</key>
			<string>261.104</string>
			<key>y1</key>
			<string>621.506</string>
			<key>x2</key>
			<string>261.104</string>
			<key>y2</key>
			<string>634.217</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{ddb83971-392b-4ea7-b19e-fa4a724b2fa4}</key>
		<dict>
			<key>x1</key>
			<string>237.106</string>
			<key>y1</key>
			<string>626.467</string>
			<key>x2</key>
			<string>237.106</string>
			<key>y2</key>
			<string>639.177</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{a9ea9427-e345-4e7a-9a0c-aed60acdda20}</key>
		<dict>
			<key>x1</key>
			<string>198.709</string>
			<key>y1</key>
			<string>626.467</string>
			<key>x2</key>
			<string>198.709</string>
			<key>y2</key>
			<string>636.697</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{29ac3c0b-3570-456d-b21e-c22807b393d4}</key>
		<dict>
			<key>x1</key>
			<string>198.53</string>
			<key>y1</key>
			<string>546.943</string>
			<key>x2</key>
			<string>198.53</string>
			<key>y2</key>
			<string>570.348</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{03881552-7832-4a31-84a0-f3ebe9745a5e}</key>
		<dict>
			<key>x1</key>
			<string>198.53</string>
			<key>y1</key>
			<string>546.943</string>
			<key>x2</key>
			<string>198.53</string>
			<key>y2</key>
			<string>570.348</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{c912abea-b6ab-44fa-9b5a-8832d52a53cc}</key>
		<dict>
			<key>x1</key>
			<string>154.855</string>
			<key>y1</key>
			<string>616.546</string>
			<key>x2</key>
			<string>154.855</string>
			<key>y2</key>
			<string>628.016</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{2801b5a1-9d3b-47af-b878-73e7c1f1c651}</key>
		<dict>
			<key>x1</key>
			<string>131.775</string>
			<key>y1</key>
			<string>621.506</string>
			<key>x2</key>
			<string>131.775</string>
			<key>y2</key>
			<string>634.217</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{665fe549-0edd-4cfb-8a3e-e0b6d5d5165a}</key>
		<dict>
			<key>x1</key>
			<string>108.695</string>
			<key>y1</key>
			<string>626.467</string>
			<key>x2</key>
			<string>108.695</string>
			<key>y2</key>
			<string>639.177</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{bedb494e-117e-49cd-b836-df1d9667a4d4}</key>
		<dict>
			<key>x1</key>
			<string>71.7671</string>
			<key>y1</key>
			<string>626.467</string>
			<key>x2</key>
			<string>71.7671</string>
			<key>y2</key>
			<string>636.697</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{df08505a-d495-4572-98a1-915fff797209}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>546.943</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>570.348</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{8c3d7b18-51ce-48bb-ac4a-9c6550fe20e2}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>546.943</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>570.348</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{cf903222-5165-4ad5-84ce-c533c3a3cc56}</key>
		<dict>
			<key>x1</key>
			<string>457.541</string>
			<key>y1</key>
			<string>475.014</string>
			<key>x2</key>
			<string>457.541</string>
			<key>y2</key>
			<string>485.398</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{6c218756-e965-4dd7-a167-8b137c15dfcf}</key>
		<dict>
			<key>x1</key>
			<string>457.541</string>
			<key>y1</key>
			<string>405.565</string>
			<key>x2</key>
			<string>457.541</string>
			<key>y2</key>
			<string>420.289</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{4fe419c9-1399-4829-ae22-4e9f91a4aa0d}</key>
		<dict>
			<key>x1</key>
			<string>411.356</string>
			<key>y1</key>
			<string>477.648</string>
			<key>x2</key>
			<string>411.356</string>
			<key>y2</key>
			<string>487.878</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{1e2a4aac-75e0-4f45-a058-9d22f97765d1}</key>
		<dict>
			<key>x1</key>
			<string>417.242</string>
			<key>y1</key>
			<string>406.336</string>
			<key>x2</key>
			<string>417.242</string>
			<key>y2</key>
			<string>391.146</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{c6ce9cf3-51e2-4e80-89da-50745b966109}</key>
		<dict>
			<key>x1</key>
			<string>371.917</string>
			<key>y1</key>
			<string>475.168</string>
			<key>x2</key>
			<string>371.917</string>
			<key>y2</key>
			<string>485.398</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{f7e198ab-9550-4d1e-b594-ce7deb210c0c}</key>
		<dict>
			<key>x1</key>
			<string>371.917</string>
			<key>y1</key>
			<string>405.719</string>
			<key>x2</key>
			<string>371.917</string>
			<key>y2</key>
			<string>420.289</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{ca067889-cc11-41c7-a8d6-ae26ecbae56e}</key>
		<dict>
			<key>x1</key>
			<string>332.479</string>
			<key>y1</key>
			<string>472.688</string>
			<key>x2</key>
			<string>332.479</string>
			<key>y2</key>
			<string>483.537</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{daf80601-f8ad-4de6-a06a-e6ca0a034ddc}</key>
		<dict>
			<key>x1</key>
			<string>332.479</string>
			<key>y1</key>
			<string>403.239</string>
			<key>x2</key>
			<string>332.479</string>
			<key>y2</key>
			<string>418.429</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{af79912d-4ae2-4108-bf05-55fef4877c79}</key>
		<dict>
			<key>x1</key>
			<string>286.992</string>
			<key>y1</key>
			<string>470.207</string>
			<key>x2</key>
			<string>286.992</string>
			<key>y2</key>
			<string>481.677</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{de4a3a1c-6b4c-4eea-83e7-7e2e7bc16723}</key>
		<dict>
			<key>x1</key>
			<string>262.779</string>
			<key>y1</key>
			<string>475.168</string>
			<key>x2</key>
			<string>262.779</string>
			<key>y2</key>
			<string>487.878</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{cc426dcf-2137-4ef6-b018-4e4c63403962}</key>
		<dict>
			<key>x1</key>
			<string>238.566</string>
			<key>y1</key>
			<string>480.129</string>
			<key>x2</key>
			<string>238.566</string>
			<key>y2</key>
			<string>492.839</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{453e4838-2613-4b28-9424-e9431343ee18}</key>
		<dict>
			<key>x1</key>
			<string>199.825</string>
			<key>y1</key>
			<string>480.129</string>
			<key>x2</key>
			<string>199.825</string>
			<key>y2</key>
			<string>490.358</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{2b761928-bd73-471a-a37f-c7d9521ab1a4}</key>
		<dict>
			<key>x1</key>
			<string>199.646</string>
			<key>y1</key>
			<string>400.605</string>
			<key>x2</key>
			<string>199.646</string>
			<key>y2</key>
			<string>424.01</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{cf5cfe58-0b0c-4bc4-8b23-f50a2641ed7d}</key>
		<dict>
			<key>x1</key>
			<string>199.646</string>
			<key>y1</key>
			<string>400.605</string>
			<key>x2</key>
			<string>199.646</string>
			<key>y2</key>
			<string>424.01</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{c9bee09f-1cc0-48e1-8749-6f9cfa2f3589}</key>
		<dict>
			<key>x1</key>
			<string>155.628</string>
			<key>y1</key>
			<string>470.207</string>
			<key>x2</key>
			<string>155.628</string>
			<key>y2</key>
			<string>481.677</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{2e21f3fd-7034-41e4-813a-254d1c0124a0}</key>
		<dict>
			<key>x1</key>
			<string>132.333</string>
			<key>y1</key>
			<string>475.168</string>
			<key>x2</key>
			<string>132.333</string>
			<key>y2</key>
			<string>487.878</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{b16142b2-22f4-4c77-8677-1df8f5d4b148}</key>
		<dict>
			<key>x1</key>
			<string>109.039</string>
			<key>y1</key>
			<string>480.129</string>
			<key>x2</key>
			<string>109.039</string>
			<key>y2</key>
			<string>492.839</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{06e09c6c-3d30-402f-8f66-39fc3b766588}</key>
		<dict>
			<key>x1</key>
			<string>71.7671</string>
			<key>y1</key>
			<string>480.129</string>
			<key>x2</key>
			<string>71.7671</string>
			<key>y2</key>
			<string>490.358</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{f0bb49aa-a3c4-4943-8687-7d162f6490f7}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>400.605</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>424.01</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{4141a56d-2fd2-419b-ab62-7628119e11aa}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>400.605</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>424.01</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{ba0cc37f-5631-48be-bac0-3396d684bd95}</key>
		<dict>
			<key>x1</key>
			<string>453.572</string>
			<key>y1</key>
			<string>333.636</string>
			<key>x2</key>
			<string>453.572</string>
			<key>y2</key>
			<string>344.02</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{1a5f3e8c-258e-4b0c-b36a-9fae0bb962ce}</key>
		<dict>
			<key>x1</key>
			<string>459.817</string>
			<key>y1</key>
			<string>262.648</string>
			<key>x2</key>
			<string>459.817</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{c02c6319-1225-4c1c-8362-d9a71e7b628e}</key>
		<dict>
			<key>x1</key>
			<string>406.065</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>406.065</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{327915db-93f2-41db-849a-516751b935e5}</key>
		<dict>
			<key>x1</key>
			<string>411.951</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>411.951</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{3ea17868-7d9f-487c-9228-59534dadde62}</key>
		<dict>
			<key>x1</key>
			<string>365.303</string>
			<key>y1</key>
			<string>328.829</string>
			<key>x2</key>
			<string>365.303</string>
			<key>y2</key>
			<string>339.059</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{4afa3fe6-3949-4f92-aafd-e2ae0619a620}</key>
		<dict>
			<key>x1</key>
			<string>365.303</string>
			<key>y1</key>
			<string>259.381</string>
			<key>x2</key>
			<string>365.303</string>
			<key>y2</key>
			<string>273.951</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{9517bd02-bc5a-4edb-aaf4-88976a60a2e1}</key>
		<dict>
			<key>x1</key>
			<string>324.542</string>
			<key>y1</key>
			<string>326.349</string>
			<key>x2</key>
			<string>324.542</string>
			<key>y2</key>
			<string>337.199</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{b366c3ab-5a0b-4ba6-90fb-257cc5b45d25}</key>
		<dict>
			<key>x1</key>
			<string>324.542</string>
			<key>y1</key>
			<string>256.9</string>
			<key>x2</key>
			<string>324.542</string>
			<key>y2</key>
			<string>272.091</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{28de8df0-d786-4120-b19b-fab0c2030dea}</key>
		<dict>
			<key>x1</key>
			<string>280.276</string>
			<key>y1</key>
			<string>254.42</string>
			<key>x2</key>
			<string>280.276</string>
			<key>y2</key>
			<string>270.23</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{da1e9c1f-1213-477a-a26c-68795a9f3cc3}</key>
		<dict>
			<key>x1</key>
			<string>262.712</string>
			<key>y1</key>
			<string>257.517</string>
			<key>x2</key>
			<string>262.712</string>
			<key>y2</key>
			<string>243.567</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{c235f7d8-df7f-4dfa-9707-27bd9eb81a8f}</key>
		<dict>
			<key>x1</key>
			<string>239.262</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>239.262</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{581ab813-567c-44a5-b666-43f171c64848}</key>
		<dict>
			<key>x1</key>
			<string>195.677</string>
			<key>y1</key>
			<string>323.715</string>
			<key>x2</key>
			<string>195.677</string>
			<key>y2</key>
			<string>342.78</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{be11c241-84a0-4c40-ac4c-ae41a187e84c}</key>
		<dict>
			<key>x1</key>
			<string>195.677</string>
			<key>y1</key>
			<string>323.715</string>
			<key>x2</key>
			<string>195.677</string>
			<key>y2</key>
			<string>342.78</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{406d8bea-af80-4e0c-9d92-1bccfe23b477}</key>
		<dict>
			<key>x1</key>
			<string>201.742</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>201.742</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{25e67213-153a-4648-9007-8a24fc238c65}</key>
		<dict>
			<key>x1</key>
			<string>152.88</string>
			<key>y1</key>
			<string>254.42</string>
			<key>x2</key>
			<string>152.88</string>
			<key>y2</key>
			<string>270.23</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{80406475-aaf9-45ac-90d5-7e4ff3080bb0}</key>
		<dict>
			<key>x1</key>
			<string>136.235</string>
			<key>y1</key>
			<string>257.517</string>
			<key>x2</key>
			<string>136.235</string>
			<key>y2</key>
			<string>243.567</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{19c1d903-c49b-422e-a7c7-a30c09b9940d}</key>
		<dict>
			<key>x1</key>
			<string>113.704</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>113.704</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{4948859d-c249-4978-8786-02338e4fbd23}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>323.715</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>342.78</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{6fb4f8b8-5eec-4f56-b96c-fe73f5f630a4}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>323.715</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>342.78</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{ce543953-e54f-44fa-b030-69cb67263472}</key>
		<dict>
			<key>x1</key>
			<string>77.6532</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>77.6532</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{737ce566-2da3-47b1-8a2b-7f66df7144ff}</key>
		<dict>
			<key>x1</key>
			<string>456.809</string>
			<key>y1</key>
			<string>182.337</string>
			<key>x2</key>
			<string>456.809</string>
			<key>y2</key>
			<string>192.72</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{3ca14f5a-e26f-4a69-a2a1-493bc8b669ce}</key>
		<dict>
			<key>x1</key>
			<string>456.809</string>
			<key>y1</key>
			<string>112.888</string>
			<key>x2</key>
			<string>456.809</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{31fab938-4273-40c4-aa44-94bc132a2304}</key>
		<dict>
			<key>x1</key>
			<string>410.38</string>
			<key>y1</key>
			<string>184.971</string>
			<key>x2</key>
			<string>410.38</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{c475e476-67da-4c9f-8e77-f2d3cace0275}</key>
		<dict>
			<key>x1</key>
			<string>416.266</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>416.266</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{1658e218-a296-4741-922c-a0f189a10f0f}</key>
		<dict>
			<key>x1</key>
			<string>370.698</string>
			<key>y1</key>
			<string>182.491</string>
			<key>x2</key>
			<string>370.698</string>
			<key>y2</key>
			<string>192.72</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{74fb570d-1deb-4a94-9f8e-631a3026344b}</key>
		<dict>
			<key>x1</key>
			<string>370.698</string>
			<key>y1</key>
			<string>113.042</string>
			<key>x2</key>
			<string>370.698</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{b136ed50-725d-42fc-96d3-14a65d38151e}</key>
		<dict>
			<key>x1</key>
			<string>331.016</string>
			<key>y1</key>
			<string>180.01</string>
			<key>x2</key>
			<string>331.016</string>
			<key>y2</key>
			<string>190.86</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{bdd0ac3b-ec26-4d16-ad9d-effad23db45c}</key>
		<dict>
			<key>x1</key>
			<string>331.016</string>
			<key>y1</key>
			<string>110.562</string>
			<key>x2</key>
			<string>331.016</string>
			<key>y2</key>
			<string>125.752</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{3bb3be5c-5474-480f-8deb-0fcc8a18530d}</key>
		<dict>
			<key>x1</key>
			<string>287.745</string>
			<key>y1</key>
			<string>108.081</string>
			<key>x2</key>
			<string>287.745</string>
			<key>y2</key>
			<string>123.892</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{0d0304ff-428a-4658-a687-8a143f5787f4}</key>
		<dict>
			<key>x1</key>
			<string>270.804</string>
			<key>y1</key>
			<string>111.179</string>
			<key>x2</key>
			<string>270.804</string>
			<key>y2</key>
			<string>97.2284</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{01a898cc-32d1-43e0-bd17-25a5152cdb98}</key>
		<dict>
			<key>x1</key>
			<string>247.977</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>247.977</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{3af3be28-6529-46ae-92fc-73a54f04b301}</key>
		<dict>
			<key>x1</key>
			<string>205.388</string>
			<key>y1</key>
			<string>177.376</string>
			<key>x2</key>
			<string>205.388</string>
			<key>y2</key>
			<string>196.441</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{da0952a9-55e2-4432-b2ab-d5d9230d629b}</key>
		<dict>
			<key>x1</key>
			<string>205.388</string>
			<key>y1</key>
			<string>177.376</string>
			<key>x2</key>
			<string>205.388</string>
			<key>y2</key>
			<string>196.441</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{8a255906-3123-4662-94ec-7b1573d6ed10}</key>
		<dict>
			<key>x1</key>
			<string>211.453</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>211.453</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{79f7af86-8649-4fd8-98b0-3798ab7d48b6}</key>
		<dict>
			<key>x1</key>
			<string>163.587</string>
			<key>y1</key>
			<string>108.081</string>
			<key>x2</key>
			<string>163.587</string>
			<key>y2</key>
			<string>123.892</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{2100d350-a82d-4447-8847-861902428d8e}</key>
		<dict>
			<key>x1</key>
			<string>147.564</string>
			<key>y1</key>
			<string>111.179</string>
			<key>x2</key>
			<string>147.564</string>
			<key>y2</key>
			<string>97.2284</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{76045f6a-c91a-4c86-b4b1-227d5c129b00}</key>
		<dict>
			<key>x1</key>
			<string>125.655</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>125.655</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{e6205234-aef3-4a97-91c7-980c24c9dfd6}</key>
		<dict>
			<key>x1</key>
			<string>84.5353</string>
			<key>y1</key>
			<string>177.376</string>
			<key>x2</key>
			<string>84.5353</string>
			<key>y2</key>
			<string>196.441</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{0b973958-fea3-4bbb-928b-471054e41429}</key>
		<dict>
			<key>x1</key>
			<string>84.5353</string>
			<key>y1</key>
			<string>177.376</string>
			<key>x2</key>
			<string>84.5353</string>
			<key>y2</key>
			<string>196.441</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{a0516b94-db18-41b5-ba07-4b6a8db6c84e}</key>
		<dict>
			<key>x1</key>
			<string>90.6004</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>90.6004</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
	</dict>
</dict>
</plist>