<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>541.205</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>576.784</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{7e8fb962-b1aa-4d15-a509-9767a73ac3b0}</key>
		<dict>
			<key>x</key>
			<string>447.944</string>
			<key>y</key>
			<string>595.772</string>
		</dict>
		<key>{f0ad4b64-d581-4d7e-8571-89d1602e0bbf}</key>
		<dict>
			<key>x</key>
			<string>447.944</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{2b6279f5-e0f8-45dd-bf60-c5a843a113df}</key>
		<dict>
			<key>x</key>
			<string>402.802</string>
			<key>y</key>
			<string>593.291</string>
		</dict>
		<key>{29bd3989-b477-45ad-bae8-5f6ba43dc358}</key>
		<dict>
			<key>x</key>
			<string>402.802</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{1741df29-12e9-4b8c-97f4-e564dcdf55a3}</key>
		<dict>
			<key>x</key>
			<string>364.406</string>
			<key>y</key>
			<string>590.811</string>
		</dict>
		<key>{ee0e3d25-d77b-426d-a272-a96390ab6586}</key>
		<dict>
			<key>x</key>
			<string>364.406</string>
			<key>y</key>
			<string>551.126</string>
		</dict>
		<key>{a489e899-47b2-4cdf-a7e0-3d7a786d8f4a}</key>
		<dict>
			<key>x</key>
			<string>326.01</string>
			<key>y</key>
			<string>588.331</string>
		</dict>
		<key>{05c4aa3c-90bb-4336-bf26-94498c6652e7}</key>
		<dict>
			<key>x</key>
			<string>326.01</string>
			<key>y</key>
			<string>548.646</string>
		</dict>
		<key>{a517c7cd-ad77-499a-8529-60bb81d2d769}</key>
		<dict>
			<key>x</key>
			<string>281.485</string>
			<key>y</key>
			<string>585.85</string>
		</dict>
		<key>{2803a0b8-049b-473c-ba85-4da461235b9a}</key>
		<dict>
			<key>x</key>
			<string>257.873</string>
			<key>y</key>
			<string>590.811</string>
		</dict>
		<key>{59f2e576-b872-4e68-a336-8581a059451b}</key>
		<dict>
			<key>x</key>
			<string>234.261</string>
			<key>y</key>
			<string>595.772</string>
		</dict>
		<key>{15f438af-125a-42ec-b618-87e6ac5edde2}</key>
		<dict>
			<key>x</key>
			<string>196.483</string>
			<key>y</key>
			<string>595.772</string>
		</dict>
		<key>{d789544d-017b-4fd1-945d-1b7e37c101d1}</key>
		<dict>
			<key>x</key>
			<string>196.304</string>
			<key>y</key>
			<string>546.165</string>
		</dict>
		<key>{02c88150-9295-46bf-bd29-381557cdcc38}</key>
		<dict>
			<key>x</key>
			<string>196.304</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{704c49f0-a4ce-455a-bd52-e001c4a3b8df}</key>
		<dict>
			<key>x</key>
			<string>153.248</string>
			<key>y</key>
			<string>585.85</string>
		</dict>
		<key>{9e83064a-bab9-4dde-af77-12cfbf841275}</key>
		<dict>
			<key>x</key>
			<string>130.555</string>
			<key>y</key>
			<string>590.811</string>
		</dict>
		<key>{88fcc8db-3246-4471-bb3b-36a08b20d774}</key>
		<dict>
			<key>x</key>
			<string>107.862</string>
			<key>y</key>
			<string>595.772</string>
		</dict>
		<key>{d59ab8df-f9e6-4f0e-a740-f89a4c77d534}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>595.772</string>
		</dict>
		<key>{479c9a09-c34f-4f42-be13-74dbfb9a50f1}</key>
		<dict>
			<key>x</key>
			<string>71.3734</string>
			<key>y</key>
			<string>546.165</string>
		</dict>
		<key>{8ddbb897-3e10-4edc-ad68-ef5fd442e18b}</key>
		<dict>
			<key>x</key>
			<string>71.3734</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{d445a6c6-faa9-4385-b79f-f7260f945bc1}</key>
		<dict>
			<key>x</key>
			<string>451.293</string>
			<key>y</key>
			<string>444.472</string>
		</dict>
		<key>{3799fa92-0f06-415b-90f6-2df0ee12635a}</key>
		<dict>
			<key>x</key>
			<string>451.293</string>
			<key>y</key>
			<string>404.787</string>
		</dict>
		<key>{fd35d2af-fb9c-46af-8dc4-cebfa1b38aa2}</key>
		<dict>
			<key>x</key>
			<string>405.778</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{90d35173-480f-4ba3-a322-23dd14f0a024}</key>
		<dict>
			<key>x</key>
			<string>405.778</string>
			<key>y</key>
			<string>407.268</string>
		</dict>
		<key>{862caee1-2d8f-4639-91bb-7b18b1065d06}</key>
		<dict>
			<key>x</key>
			<string>367.01</string>
			<key>y</key>
			<string>444.472</string>
		</dict>
		<key>{23405899-20de-4b78-8ce7-27ce340b83b9}</key>
		<dict>
			<key>x</key>
			<string>367.01</string>
			<key>y</key>
			<string>404.787</string>
		</dict>
		<key>{cf77a842-c594-432a-ba7e-97a25038952e}</key>
		<dict>
			<key>x</key>
			<string>328.242</string>
			<key>y</key>
			<string>441.992</string>
		</dict>
		<key>{1b7602b5-2440-487a-9689-f2663f17806e}</key>
		<dict>
			<key>x</key>
			<string>328.242</string>
			<key>y</key>
			<string>402.307</string>
		</dict>
		<key>{094189ad-917a-4024-80d8-977df3e2245c}</key>
		<dict>
			<key>x</key>
			<string>283.373</string>
			<key>y</key>
			<string>439.512</string>
		</dict>
		<key>{5cc724f0-ccea-42b5-9ce8-a2f6ce6a88aa}</key>
		<dict>
			<key>x</key>
			<string>259.547</string>
			<key>y</key>
			<string>444.472</string>
		</dict>
		<key>{de3d5ff2-04f2-433a-85a8-777f98e9e1ec}</key>
		<dict>
			<key>x</key>
			<string>235.721</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{94b6cc1b-23f3-41e7-a43a-b9c6edff0752}</key>
		<dict>
			<key>x</key>
			<string>197.599</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{168add84-9212-40de-a587-d9bb9fa501f9}</key>
		<dict>
			<key>x</key>
			<string>197.42</string>
			<key>y</key>
			<string>399.827</string>
		</dict>
		<key>{f782cc8b-1b66-4499-adfa-beeadee98e92}</key>
		<dict>
			<key>x</key>
			<string>197.42</string>
			<key>y</key>
			<string>409.748</string>
		</dict>
		<key>{253a8952-666c-4b06-a969-5b96eddbddde}</key>
		<dict>
			<key>x</key>
			<string>154.021</string>
			<key>y</key>
			<string>439.512</string>
		</dict>
		<key>{536a0d01-ead2-45b3-bbab-0c4efe9f1850}</key>
		<dict>
			<key>x</key>
			<string>131.113</string>
			<key>y</key>
			<string>444.472</string>
		</dict>
		<key>{5804ae38-29fc-4a24-ab60-770ebaf5261c}</key>
		<dict>
			<key>x</key>
			<string>108.205</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{4b3e7600-1888-4bfa-98bb-e1fa41bea1be}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{6054a39c-ad3b-4f3e-a1a1-0320d1323597}</key>
		<dict>
			<key>x</key>
			<string>71.3734</string>
			<key>y</key>
			<string>399.827</string>
		</dict>
		<key>{f8c95b87-1bb5-41c3-9d27-dfc7e97a0bff}</key>
		<dict>
			<key>x</key>
			<string>71.3734</string>
			<key>y</key>
			<string>409.748</string>
		</dict>
		<key>{bebd69e9-bbb6-4b15-96dd-4dcae4adc45c}</key>
		<dict>
			<key>x</key>
			<string>451.337</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{1ee7416a-3a86-42d5-9072-57613c16c6e1}</key>
		<dict>
			<key>x</key>
			<string>451.337</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{4632bc00-0a6f-40b2-8dab-a35741d68f55}</key>
		<dict>
			<key>x</key>
			<string>405.838</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{67c372aa-5f23-49d0-9f19-600523a04286}</key>
		<dict>
			<key>x</key>
			<string>405.838</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{ba7f2088-d336-4f10-b7b6-cf0894c5f7e5}</key>
		<dict>
			<key>x</key>
			<string>367.085</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{914c7e8e-f712-43fa-89f3-b02fe98c0edf}</key>
		<dict>
			<key>x</key>
			<string>367.085</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{529d93dc-cb69-42b1-b947-8e57c1bcb084}</key>
		<dict>
			<key>x</key>
			<string>328.331</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{425ae515-b821-415f-83e2-ba5d73bc3cf5}</key>
		<dict>
			<key>x</key>
			<string>328.331</string>
			<key>y</key>
			<string>255.969</string>
		</dict>
		<key>{10b65c3e-b040-4782-9dbf-7d9bdd9ff248}</key>
		<dict>
			<key>x</key>
			<string>283.477</string>
			<key>y</key>
			<string>253.488</string>
		</dict>
		<key>{c64c082d-ce55-45ec-ab40-59aa4afd922e}</key>
		<dict>
			<key>x</key>
			<string>259.659</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{483c3681-61c5-40c5-ba8d-bbe644fb78cc}</key>
		<dict>
			<key>x</key>
			<string>235.841</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{b9168ba1-12a2-453e-8f79-b1e83bb5b1a0}</key>
		<dict>
			<key>x</key>
			<string>197.554</string>
			<key>y</key>
			<string>293.173</string>
		</dict>
		<key>{3273eb58-90e7-4063-8cec-eadc222737e8}</key>
		<dict>
			<key>x</key>
			<string>197.554</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{1dae9983-be47-4b0c-aad7-b1613ee469f9}</key>
		<dict>
			<key>x</key>
			<string>197.733</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{abdd90b8-0bd6-43cf-ba48-7d52a04f32c1}</key>
		<dict>
			<key>x</key>
			<string>154.169</string>
			<key>y</key>
			<string>253.488</string>
		</dict>
		<key>{0849e9f9-a93c-4709-af8d-275c00433d51}</key>
		<dict>
			<key>x</key>
			<string>131.27</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{563054fc-d35a-4777-9566-384e5fb1f8d4}</key>
		<dict>
			<key>x</key>
			<string>108.37</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{2da7f3ee-145a-4e2a-a55b-19c9fb025a9d}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>293.173</string>
		</dict>
		<key>{29d95d57-ddd8-4600-bcb2-a23dbec9d4b3}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{46849fe1-8b46-495a-be67-ebda4efebbfc}</key>
		<dict>
			<key>x</key>
			<string>71.7314</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{15a6de0d-5418-455c-845a-0149882518d2}</key>
		<dict>
			<key>x</key>
			<string>454.574</string>
			<key>y</key>
			<string>151.795</string>
		</dict>
		<key>{ba9ffc62-b2e8-4010-a148-8b8ff299dee9}</key>
		<dict>
			<key>x</key>
			<string>454.574</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{a268bd61-af35-4c25-802a-3009b7e40a57}</key>
		<dict>
			<key>x</key>
			<string>410.154</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{09a9861c-d503-4db1-aacd-80af05047dff}</key>
		<dict>
			<key>x</key>
			<string>410.154</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{3114b393-70d6-49b4-8ae5-c979334a61bc}</key>
		<dict>
			<key>x</key>
			<string>372.479</string>
			<key>y</key>
			<string>151.795</string>
		</dict>
		<key>{d6a8a4fb-03cc-417b-8ded-6a0e71e1288e}</key>
		<dict>
			<key>x</key>
			<string>372.479</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{a13aa9f9-2790-47d1-804a-687c3661bc34}</key>
		<dict>
			<key>x</key>
			<string>334.805</string>
			<key>y</key>
			<string>149.315</string>
		</dict>
		<key>{0f3fbcfc-77a3-4510-8470-19dc4a06033f}</key>
		<dict>
			<key>x</key>
			<string>334.805</string>
			<key>y</key>
			<string>109.63</string>
		</dict>
		<key>{679a28f1-ebde-4ae6-8b75-ad2ed1417ba7}</key>
		<dict>
			<key>x</key>
			<string>290.946</string>
			<key>y</key>
			<string>107.15</string>
		</dict>
		<key>{d718916c-ffea-4059-b7d3-1d13ec01cf97}</key>
		<dict>
			<key>x</key>
			<string>267.751</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{ed3d97b5-2d4e-4419-bc87-a530e2aad1b6}</key>
		<dict>
			<key>x</key>
			<string>244.556</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{90afb356-33eb-4d0b-9b5c-e84f638a3e00}</key>
		<dict>
			<key>x</key>
			<string>207.265</string>
			<key>y</key>
			<string>146.835</string>
		</dict>
		<key>{3537ffdd-744f-470f-912e-a169647c5c0c}</key>
		<dict>
			<key>x</key>
			<string>207.265</string>
			<key>y</key>
			<string>156.756</string>
		</dict>
		<key>{e02ce4c7-b1f8-4b2f-aa11-690ef89243dd}</key>
		<dict>
			<key>x</key>
			<string>207.444</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{092f7dd5-283b-44f8-9544-8b8d92bd00f1}</key>
		<dict>
			<key>x</key>
			<string>164.875</string>
			<key>y</key>
			<string>107.15</string>
		</dict>
		<key>{d5edcf93-de2e-4041-b37e-b6128e7e4f6f}</key>
		<dict>
			<key>x</key>
			<string>142.598</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{564cbfd2-60ff-4693-9625-313431cf0a65}</key>
		<dict>
			<key>x</key>
			<string>120.322</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{8e0f9619-9b82-4efc-98ba-dd2e7561e61e}</key>
		<dict>
			<key>x</key>
			<string>84.4996</string>
			<key>y</key>
			<string>146.835</string>
		</dict>
		<key>{7cad7414-2a47-41a7-a373-15c1cf069c6e}</key>
		<dict>
			<key>x</key>
			<string>84.4996</string>
			<key>y</key>
			<string>156.756</string>
		</dict>
		<key>{ee234923-9afb-4b44-873f-dcace1377c31}</key>
		<dict>
			<key>x</key>
			<string>84.6787</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{7e8fb962-b1aa-4d15-a509-9767a73ac3b0}</key>
		<dict>
			<key>x1</key>
			<string>448.267</string>
			<key>y1</key>
			<string>596.549</string>
			<key>x2</key>
			<string>448.267</string>
			<key>y2</key>
			<string>613.134</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f0ad4b64-d581-4d7e-8571-89d1602e0bbf}</key>
		<dict>
			<key>x1</key>
			<string>454.511</string>
			<key>y1</key>
			<string>555.325</string>
			<key>x2</key>
			<string>454.511</string>
			<key>y2</key>
			<string>539.344</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{2b6279f5-e0f8-45dd-bf60-c5a843a113df}</key>
		<dict>
			<key>x1</key>
			<string>403.124</string>
			<key>y1</key>
			<string>594.223</string>
			<key>x2</key>
			<string>403.124</string>
			<key>y2</key>
			<string>610.654</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{29bd3989-b477-45ad-bae8-5f6ba43dc358}</key>
		<dict>
			<key>x1</key>
			<string>409.01</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>409.01</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{1741df29-12e9-4b8c-97f4-e564dcdf55a3}</key>
		<dict>
			<key>x1</key>
			<string>364.728</string>
			<key>y1</key>
			<string>591.743</string>
			<key>x2</key>
			<string>364.728</string>
			<key>y2</key>
			<string>608.173</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{ee0e3d25-d77b-426d-a272-a96390ab6586}</key>
		<dict>
			<key>x1</key>
			<string>364.728</string>
			<key>y1</key>
			<string>552.058</string>
			<key>x2</key>
			<string>364.728</string>
			<key>y2</key>
			<string>566.628</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{a489e899-47b2-4cdf-a7e0-3d7a786d8f4a}</key>
		<dict>
			<key>x1</key>
			<string>326.332</string>
			<key>y1</key>
			<string>589.262</string>
			<key>x2</key>
			<string>326.332</string>
			<key>y2</key>
			<string>605.693</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{05c4aa3c-90bb-4336-bf26-94498c6652e7}</key>
		<dict>
			<key>x1</key>
			<string>326.332</string>
			<key>y1</key>
			<string>549.577</string>
			<key>x2</key>
			<string>326.332</string>
			<key>y2</key>
			<string>564.768</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{a517c7cd-ad77-499a-8529-60bb81d2d769}</key>
		<dict>
			<key>x1</key>
			<string>281.807</string>
			<key>y1</key>
			<string>586.782</string>
			<key>x2</key>
			<string>281.807</string>
			<key>y2</key>
			<string>603.213</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{2803a0b8-049b-473c-ba85-4da461235b9a}</key>
		<dict>
			<key>x1</key>
			<string>258.195</string>
			<key>y1</key>
			<string>591.743</string>
			<key>x2</key>
			<string>258.195</string>
			<key>y2</key>
			<string>606.933</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{59f2e576-b872-4e68-a336-8581a059451b}</key>
		<dict>
			<key>x1</key>
			<string>234.584</string>
			<key>y1</key>
			<string>596.703</string>
			<key>x2</key>
			<string>234.584</string>
			<key>y2</key>
			<string>609.413</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{15f438af-125a-42ec-b618-87e6ac5edde2}</key>
		<dict>
			<key>x1</key>
			<string>196.805</string>
			<key>y1</key>
			<string>596.703</string>
			<key>x2</key>
			<string>196.805</string>
			<key>y2</key>
			<string>613.134</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{02c88150-9295-46bf-bd29-381557cdcc38}</key>
		<dict>
			<key>x1</key>
			<string>196.626</string>
			<key>y1</key>
			<string>546.943</string>
			<key>x2</key>
			<string>196.626</string>
			<key>y2</key>
			<string>570.348</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{d789544d-017b-4fd1-945d-1b7e37c101d1}</key>
		<dict>
			<key>x1</key>
			<string>196.626</string>
			<key>y1</key>
			<string>546.943</string>
			<key>x2</key>
			<string>196.626</string>
			<key>y2</key>
			<string>570.348</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{704c49f0-a4ce-455a-bd52-e001c4a3b8df}</key>
		<dict>
			<key>x1</key>
			<string>153.571</string>
			<key>y1</key>
			<string>586.782</string>
			<key>x2</key>
			<string>153.571</string>
			<key>y2</key>
			<string>603.213</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{9e83064a-bab9-4dde-af77-12cfbf841275}</key>
		<dict>
			<key>x1</key>
			<string>130.877</string>
			<key>y1</key>
			<string>591.743</string>
			<key>x2</key>
			<string>130.877</string>
			<key>y2</key>
			<string>606.933</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{88fcc8db-3246-4471-bb3b-36a08b20d774}</key>
		<dict>
			<key>x1</key>
			<string>108.184</string>
			<key>y1</key>
			<string>596.703</string>
			<key>x2</key>
			<string>108.184</string>
			<key>y2</key>
			<string>609.413</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{d59ab8df-f9e6-4f0e-a740-f89a4c77d534}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>596.703</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>613.134</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{8ddbb897-3e10-4edc-ad68-ef5fd442e18b}</key>
		<dict>
			<key>x1</key>
			<string>71.6958</string>
			<key>y1</key>
			<string>546.943</string>
			<key>x2</key>
			<string>71.6958</string>
			<key>y2</key>
			<string>570.348</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{479c9a09-c34f-4f42-be13-74dbfb9a50f1}</key>
		<dict>
			<key>x1</key>
			<string>71.6958</string>
			<key>y1</key>
			<string>546.943</string>
			<key>x2</key>
			<string>71.6958</string>
			<key>y2</key>
			<string>570.348</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{d445a6c6-faa9-4385-b79f-f7260f945bc1}</key>
		<dict>
			<key>x1</key>
			<string>451.615</string>
			<key>y1</key>
			<string>445.25</string>
			<key>x2</key>
			<string>451.615</string>
			<key>y2</key>
			<string>461.835</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{3799fa92-0f06-415b-90f6-2df0ee12635a}</key>
		<dict>
			<key>x1</key>
			<string>451.615</string>
			<key>y1</key>
			<string>405.565</string>
			<key>x2</key>
			<string>451.615</string>
			<key>y2</key>
			<string>420.289</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{fd35d2af-fb9c-46af-8dc4-cebfa1b38aa2}</key>
		<dict>
			<key>x1</key>
			<string>406.101</string>
			<key>y1</key>
			<string>447.884</string>
			<key>x2</key>
			<string>406.101</string>
			<key>y2</key>
			<string>464.315</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{90d35173-480f-4ba3-a322-23dd14f0a024}</key>
		<dict>
			<key>x1</key>
			<string>411.987</string>
			<key>y1</key>
			<string>406.336</string>
			<key>x2</key>
			<string>411.987</string>
			<key>y2</key>
			<string>391.146</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{862caee1-2d8f-4639-91bb-7b18b1065d06}</key>
		<dict>
			<key>x1</key>
			<string>367.332</string>
			<key>y1</key>
			<string>445.404</string>
			<key>x2</key>
			<string>367.332</string>
			<key>y2</key>
			<string>461.835</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{23405899-20de-4b78-8ce7-27ce340b83b9}</key>
		<dict>
			<key>x1</key>
			<string>367.332</string>
			<key>y1</key>
			<string>405.719</string>
			<key>x2</key>
			<string>367.332</string>
			<key>y2</key>
			<string>420.289</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{cf77a842-c594-432a-ba7e-97a25038952e}</key>
		<dict>
			<key>x1</key>
			<string>328.564</string>
			<key>y1</key>
			<string>442.924</string>
			<key>x2</key>
			<string>328.564</string>
			<key>y2</key>
			<string>459.354</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{1b7602b5-2440-487a-9689-f2663f17806e}</key>
		<dict>
			<key>x1</key>
			<string>328.564</string>
			<key>y1</key>
			<string>403.239</string>
			<key>x2</key>
			<string>328.564</string>
			<key>y2</key>
			<string>418.429</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{094189ad-917a-4024-80d8-977df3e2245c}</key>
		<dict>
			<key>x1</key>
			<string>283.696</string>
			<key>y1</key>
			<string>440.443</string>
			<key>x2</key>
			<string>283.696</string>
			<key>y2</key>
			<string>456.874</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{5cc724f0-ccea-42b5-9ce8-a2f6ce6a88aa}</key>
		<dict>
			<key>x1</key>
			<string>259.87</string>
			<key>y1</key>
			<string>445.404</string>
			<key>x2</key>
			<string>259.87</string>
			<key>y2</key>
			<string>460.594</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{de3d5ff2-04f2-433a-85a8-777f98e9e1ec}</key>
		<dict>
			<key>x1</key>
			<string>236.043</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>236.043</string>
			<key>y2</key>
			<string>463.075</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{94b6cc1b-23f3-41e7-a43a-b9c6edff0752}</key>
		<dict>
			<key>x1</key>
			<string>197.921</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>197.921</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f782cc8b-1b66-4499-adfa-beeadee98e92}</key>
		<dict>
			<key>x1</key>
			<string>197.742</string>
			<key>y1</key>
			<string>400.605</string>
			<key>x2</key>
			<string>197.742</string>
			<key>y2</key>
			<string>424.01</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{168add84-9212-40de-a587-d9bb9fa501f9}</key>
		<dict>
			<key>x1</key>
			<string>197.742</string>
			<key>y1</key>
			<string>400.605</string>
			<key>x2</key>
			<string>197.742</string>
			<key>y2</key>
			<string>424.01</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{253a8952-666c-4b06-a969-5b96eddbddde}</key>
		<dict>
			<key>x1</key>
			<string>154.343</string>
			<key>y1</key>
			<string>440.443</string>
			<key>x2</key>
			<string>154.343</string>
			<key>y2</key>
			<string>456.874</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{536a0d01-ead2-45b3-bbab-0c4efe9f1850}</key>
		<dict>
			<key>x1</key>
			<string>131.435</string>
			<key>y1</key>
			<string>445.404</string>
			<key>x2</key>
			<string>131.435</string>
			<key>y2</key>
			<string>460.594</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{5804ae38-29fc-4a24-ab60-770ebaf5261c}</key>
		<dict>
			<key>x1</key>
			<string>108.527</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>108.527</string>
			<key>y2</key>
			<string>463.075</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{4b3e7600-1888-4bfa-98bb-e1fa41bea1be}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f8c95b87-1bb5-41c3-9d27-dfc7e97a0bff}</key>
		<dict>
			<key>x1</key>
			<string>71.6958</string>
			<key>y1</key>
			<string>400.605</string>
			<key>x2</key>
			<string>71.6958</string>
			<key>y2</key>
			<string>424.01</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{6054a39c-ad3b-4f3e-a1a1-0320d1323597}</key>
		<dict>
			<key>x1</key>
			<string>71.6958</string>
			<key>y1</key>
			<string>400.605</string>
			<key>x2</key>
			<string>71.6958</string>
			<key>y2</key>
			<string>424.01</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{bebd69e9-bbb6-4b15-96dd-4dcae4adc45c}</key>
		<dict>
			<key>x1</key>
			<string>451.66</string>
			<key>y1</key>
			<string>303.872</string>
			<key>x2</key>
			<string>451.66</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{1ee7416a-3a86-42d5-9072-57613c16c6e1}</key>
		<dict>
			<key>x1</key>
			<string>457.904</string>
			<key>y1</key>
			<string>262.648</string>
			<key>x2</key>
			<string>457.904</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{4632bc00-0a6f-40b2-8dab-a35741d68f55}</key>
		<dict>
			<key>x1</key>
			<string>406.16</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>406.16</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{67c372aa-5f23-49d0-9f19-600523a04286}</key>
		<dict>
			<key>x1</key>
			<string>412.046</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>412.046</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{ba7f2088-d336-4f10-b7b6-cf0894c5f7e5}</key>
		<dict>
			<key>x1</key>
			<string>367.407</string>
			<key>y1</key>
			<string>299.066</string>
			<key>x2</key>
			<string>367.407</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{914c7e8e-f712-43fa-89f3-b02fe98c0edf}</key>
		<dict>
			<key>x1</key>
			<string>367.407</string>
			<key>y1</key>
			<string>259.381</string>
			<key>x2</key>
			<string>367.407</string>
			<key>y2</key>
			<string>273.951</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{529d93dc-cb69-42b1-b947-8e57c1bcb084}</key>
		<dict>
			<key>x1</key>
			<string>328.654</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>328.654</string>
			<key>y2</key>
			<string>313.016</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{425ae515-b821-415f-83e2-ba5d73bc3cf5}</key>
		<dict>
			<key>x1</key>
			<string>328.654</string>
			<key>y1</key>
			<string>256.9</string>
			<key>x2</key>
			<string>328.654</string>
			<key>y2</key>
			<string>272.091</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{10b65c3e-b040-4782-9dbf-7d9bdd9ff248}</key>
		<dict>
			<key>x1</key>
			<string>283.799</string>
			<key>y1</key>
			<string>254.42</string>
			<key>x2</key>
			<string>283.799</string>
			<key>y2</key>
			<string>270.23</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{c64c082d-ce55-45ec-ab40-59aa4afd922e}</key>
		<dict>
			<key>x1</key>
			<string>265.868</string>
			<key>y1</key>
			<string>257.517</string>
			<key>x2</key>
			<string>265.868</string>
			<key>y2</key>
			<string>243.567</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{483c3681-61c5-40c5-ba8d-bbe644fb78cc}</key>
		<dict>
			<key>x1</key>
			<string>242.05</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>242.05</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{3273eb58-90e7-4063-8cec-eadc222737e8}</key>
		<dict>
			<key>x1</key>
			<string>197.877</string>
			<key>y1</key>
			<string>293.951</string>
			<key>x2</key>
			<string>197.877</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>27.2835</string>
		</dict>
		<key>{b9168ba1-12a2-453e-8f79-b1e83bb5b1a0}</key>
		<dict>
			<key>x1</key>
			<string>197.877</string>
			<key>y1</key>
			<string>293.951</string>
			<key>x2</key>
			<string>197.877</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>27.2835</string>
		</dict>
		<key>{1dae9983-be47-4b0c-aad7-b1613ee469f9}</key>
		<dict>
			<key>x1</key>
			<string>203.942</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>203.942</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{abdd90b8-0bd6-43cf-ba48-7d52a04f32c1}</key>
		<dict>
			<key>x1</key>
			<string>154.491</string>
			<key>y1</key>
			<string>254.42</string>
			<key>x2</key>
			<string>154.491</string>
			<key>y2</key>
			<string>270.23</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{0849e9f9-a93c-4709-af8d-275c00433d51}</key>
		<dict>
			<key>x1</key>
			<string>137.478</string>
			<key>y1</key>
			<string>257.517</string>
			<key>x2</key>
			<string>137.478</string>
			<key>y2</key>
			<string>243.567</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{563054fc-d35a-4777-9566-384e5fb1f8d4}</key>
		<dict>
			<key>x1</key>
			<string>114.579</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>114.579</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{29d95d57-ddd8-4600-bcb2-a23dbec9d4b3}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>293.951</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>27.2835</string>
		</dict>
		<key>{2da7f3ee-145a-4e2a-a55b-19c9fb025a9d}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>293.951</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>27.2835</string>
		</dict>
		<key>{46849fe1-8b46-495a-be67-ebda4efebbfc}</key>
		<dict>
			<key>x1</key>
			<string>77.94</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>77.94</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{15a6de0d-5418-455c-845a-0149882518d2}</key>
		<dict>
			<key>x1</key>
			<string>454.897</string>
			<key>y1</key>
			<string>152.573</string>
			<key>x2</key>
			<string>454.897</string>
			<key>y2</key>
			<string>169.157</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{ba9ffc62-b2e8-4010-a148-8b8ff299dee9}</key>
		<dict>
			<key>x1</key>
			<string>454.897</string>
			<key>y1</key>
			<string>112.888</string>
			<key>x2</key>
			<string>454.897</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{a268bd61-af35-4c25-802a-3009b7e40a57}</key>
		<dict>
			<key>x1</key>
			<string>410.476</string>
			<key>y1</key>
			<string>155.207</string>
			<key>x2</key>
			<string>410.476</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{09a9861c-d503-4db1-aacd-80af05047dff}</key>
		<dict>
			<key>x1</key>
			<string>416.362</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>416.362</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{3114b393-70d6-49b4-8ae5-c979334a61bc}</key>
		<dict>
			<key>x1</key>
			<string>372.802</string>
			<key>y1</key>
			<string>152.727</string>
			<key>x2</key>
			<string>372.802</string>
			<key>y2</key>
			<string>169.157</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{d6a8a4fb-03cc-417b-8ded-6a0e71e1288e}</key>
		<dict>
			<key>x1</key>
			<string>372.802</string>
			<key>y1</key>
			<string>113.042</string>
			<key>x2</key>
			<string>372.802</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{a13aa9f9-2790-47d1-804a-687c3661bc34}</key>
		<dict>
			<key>x1</key>
			<string>335.127</string>
			<key>y1</key>
			<string>150.247</string>
			<key>x2</key>
			<string>335.127</string>
			<key>y2</key>
			<string>166.677</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{0f3fbcfc-77a3-4510-8470-19dc4a06033f}</key>
		<dict>
			<key>x1</key>
			<string>335.127</string>
			<key>y1</key>
			<string>110.562</string>
			<key>x2</key>
			<string>335.127</string>
			<key>y2</key>
			<string>125.752</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{679a28f1-ebde-4ae6-8b75-ad2ed1417ba7}</key>
		<dict>
			<key>x1</key>
			<string>291.269</string>
			<key>y1</key>
			<string>108.081</string>
			<key>x2</key>
			<string>291.269</string>
			<key>y2</key>
			<string>123.892</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{d718916c-ffea-4059-b7d3-1d13ec01cf97}</key>
		<dict>
			<key>x1</key>
			<string>273.96</string>
			<key>y1</key>
			<string>111.179</string>
			<key>x2</key>
			<string>273.96</string>
			<key>y2</key>
			<string>97.2284</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{ed3d97b5-2d4e-4419-bc87-a530e2aad1b6}</key>
		<dict>
			<key>x1</key>
			<string>250.765</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>250.765</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{3537ffdd-744f-470f-912e-a169647c5c0c}</key>
		<dict>
			<key>x1</key>
			<string>207.587</string>
			<key>y1</key>
			<string>147.612</string>
			<key>x2</key>
			<string>207.587</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>27.2835</string>
		</dict>
		<key>{90afb356-33eb-4d0b-9b5c-e84f638a3e00}</key>
		<dict>
			<key>x1</key>
			<string>207.587</string>
			<key>y1</key>
			<string>147.612</string>
			<key>x2</key>
			<string>207.587</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>27.2835</string>
		</dict>
		<key>{e02ce4c7-b1f8-4b2f-aa11-690ef89243dd}</key>
		<dict>
			<key>x1</key>
			<string>213.652</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>213.652</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{092f7dd5-283b-44f8-9544-8b8d92bd00f1}</key>
		<dict>
			<key>x1</key>
			<string>165.198</string>
			<key>y1</key>
			<string>108.081</string>
			<key>x2</key>
			<string>165.198</string>
			<key>y2</key>
			<string>123.892</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{d5edcf93-de2e-4041-b37e-b6128e7e4f6f}</key>
		<dict>
			<key>x1</key>
			<string>148.807</string>
			<key>y1</key>
			<string>111.179</string>
			<key>x2</key>
			<string>148.807</string>
			<key>y2</key>
			<string>97.2284</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{564cbfd2-60ff-4693-9625-313431cf0a65}</key>
		<dict>
			<key>x1</key>
			<string>126.53</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>126.53</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{7cad7414-2a47-41a7-a373-15c1cf069c6e}</key>
		<dict>
			<key>x1</key>
			<string>84.8221</string>
			<key>y1</key>
			<string>147.612</string>
			<key>x2</key>
			<string>84.8221</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>27.2835</string>
		</dict>
		<key>{8e0f9619-9b82-4efc-98ba-dd2e7561e61e}</key>
		<dict>
			<key>x1</key>
			<string>84.8221</string>
			<key>y1</key>
			<string>147.612</string>
			<key>x2</key>
			<string>84.8221</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>27.2835</string>
		</dict>
		<key>{ee234923-9afb-4b44-873f-dcace1377c31}</key>
		<dict>
			<key>x1</key>
			<string>90.8872</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>90.8872</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
	</dict>
</dict>
</plist>