<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>541.205</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>576.784</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{28d04684-e581-4c6a-b43e-c5ec8165af4e}</key>
		<dict>
			<key>x</key>
			<string>449.975</string>
			<key>y</key>
			<string>595.772</string>
		</dict>
		<key>{ab33a99f-5537-478c-a9fd-0a947d254135}</key>
		<dict>
			<key>x</key>
			<string>449.975</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{34b0df9e-c06c-4215-930f-f48bbc77aa36}</key>
		<dict>
			<key>x</key>
			<string>405.51</string>
			<key>y</key>
			<string>593.291</string>
		</dict>
		<key>{c8333c82-87a4-42ef-b7ab-0120d9d3620b}</key>
		<dict>
			<key>x</key>
			<string>405.51</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{0c50c8cd-e3e4-4c32-be94-f5fdb1fe5bf4}</key>
		<dict>
			<key>x</key>
			<string>367.791</string>
			<key>y</key>
			<string>590.811</string>
		</dict>
		<key>{9de9c6d9-7f3c-4ce9-aa40-aabbc9168bb3}</key>
		<dict>
			<key>x</key>
			<string>367.791</string>
			<key>y</key>
			<string>551.126</string>
		</dict>
		<key>{ee3d5a71-c2e0-40ad-89a9-5877cbabc75b}</key>
		<dict>
			<key>x</key>
			<string>330.071</string>
			<key>y</key>
			<string>588.331</string>
		</dict>
		<key>{003097a0-ed25-45df-9df8-0aa75b7457f6}</key>
		<dict>
			<key>x</key>
			<string>330.071</string>
			<key>y</key>
			<string>548.646</string>
		</dict>
		<key>{7948594f-caf1-4b67-ae83-1cf1e977d69f}</key>
		<dict>
			<key>x</key>
			<string>286.171</string>
			<key>y</key>
			<string>585.85</string>
		</dict>
		<key>{8abeecdf-d449-4368-bd6f-997d2e42c675}</key>
		<dict>
			<key>x</key>
			<string>262.95</string>
			<key>y</key>
			<string>590.811</string>
		</dict>
		<key>{c6768177-0e3b-4e20-9144-55a645a4dfa8}</key>
		<dict>
			<key>x</key>
			<string>239.729</string>
			<key>y</key>
			<string>595.772</string>
		</dict>
		<key>{b2a5ead2-4e4e-4470-a5af-ed2964ac3336}</key>
		<dict>
			<key>x</key>
			<string>202.576</string>
			<key>y</key>
			<string>595.772</string>
		</dict>
		<key>{08a4921f-2e86-4513-a12c-61a5415e292d}</key>
		<dict>
			<key>x</key>
			<string>202.397</string>
			<key>y</key>
			<string>546.165</string>
		</dict>
		<key>{da86b3bf-20b1-4a75-80b7-b514e7ccd67d}</key>
		<dict>
			<key>x</key>
			<string>202.397</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{5eb71207-bc07-4b40-9ec9-078106be5f88}</key>
		<dict>
			<key>x</key>
			<string>159.966</string>
			<key>y</key>
			<string>585.85</string>
		</dict>
		<key>{2f5f6954-1759-4800-b714-568dc45a1bec}</key>
		<dict>
			<key>x</key>
			<string>137.663</string>
			<key>y</key>
			<string>590.811</string>
		</dict>
		<key>{fb16cd75-8027-4312-b9ea-6b2c352a2f71}</key>
		<dict>
			<key>x</key>
			<string>115.361</string>
			<key>y</key>
			<string>595.772</string>
		</dict>
		<key>{687a00c1-dcd0-4969-ac2b-233c0cb02ddd}</key>
		<dict>
			<key>x</key>
			<string>79.6762</string>
			<key>y</key>
			<string>595.772</string>
		</dict>
		<key>{8d2487e4-c1ca-442f-b00e-2853ac66d1d0}</key>
		<dict>
			<key>x</key>
			<string>79.4972</string>
			<key>y</key>
			<string>546.165</string>
		</dict>
		<key>{8a3846c6-c99f-4514-9786-af9cb471da18}</key>
		<dict>
			<key>x</key>
			<string>79.4972</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{c2aec9f1-2358-4178-99b3-c2e8bcbe7f3f}</key>
		<dict>
			<key>x</key>
			<string>453.324</string>
			<key>y</key>
			<string>444.472</string>
		</dict>
		<key>{09566668-24ae-4c08-9c15-0794ad3db80a}</key>
		<dict>
			<key>x</key>
			<string>453.324</string>
			<key>y</key>
			<string>404.787</string>
		</dict>
		<key>{01dddd93-0802-48a4-8686-1ff7fe46ea2c}</key>
		<dict>
			<key>x</key>
			<string>408.486</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{b9126aaa-e798-437c-9bc3-f5b838173391}</key>
		<dict>
			<key>x</key>
			<string>408.486</string>
			<key>y</key>
			<string>407.268</string>
		</dict>
		<key>{86bbacb1-4322-4200-bf59-68df4049b704}</key>
		<dict>
			<key>x</key>
			<string>370.395</string>
			<key>y</key>
			<string>444.472</string>
		</dict>
		<key>{c3ab83c2-c3de-407c-9626-59fd706d2c80}</key>
		<dict>
			<key>x</key>
			<string>370.395</string>
			<key>y</key>
			<string>404.787</string>
		</dict>
		<key>{de7d255b-c733-49a8-ad3b-e7cfa332b92e}</key>
		<dict>
			<key>x</key>
			<string>332.304</string>
			<key>y</key>
			<string>441.992</string>
		</dict>
		<key>{e22c151c-4d3a-4ba9-957b-b99791e61989}</key>
		<dict>
			<key>x</key>
			<string>332.304</string>
			<key>y</key>
			<string>402.307</string>
		</dict>
		<key>{9fa61892-5b12-4978-9cbd-654d44d86bd0}</key>
		<dict>
			<key>x</key>
			<string>288.06</string>
			<key>y</key>
			<string>439.512</string>
		</dict>
		<key>{b9c93f17-fcf1-40d4-8ef9-3663595d60e0}</key>
		<dict>
			<key>x</key>
			<string>264.625</string>
			<key>y</key>
			<string>444.472</string>
		</dict>
		<key>{56a5a6f8-d97c-4c44-b292-feefa197efcf}</key>
		<dict>
			<key>x</key>
			<string>241.189</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{06aefef0-1e9b-4af9-8101-0bd1311031e2}</key>
		<dict>
			<key>x</key>
			<string>203.692</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{02aaf3e7-825a-4055-b0d3-7ad4e6ab993e}</key>
		<dict>
			<key>x</key>
			<string>203.513</string>
			<key>y</key>
			<string>399.827</string>
		</dict>
		<key>{dca2dceb-428f-4a53-a242-36467cc21de9}</key>
		<dict>
			<key>x</key>
			<string>203.513</string>
			<key>y</key>
			<string>409.748</string>
		</dict>
		<key>{c9db2814-9ffe-4b2d-aca2-f4842b310e2b}</key>
		<dict>
			<key>x</key>
			<string>160.739</string>
			<key>y</key>
			<string>439.512</string>
		</dict>
		<key>{e540ee17-7fd1-490c-9605-608e0dae2cba}</key>
		<dict>
			<key>x</key>
			<string>138.221</string>
			<key>y</key>
			<string>444.472</string>
		</dict>
		<key>{79741a5d-2e7b-43c0-83c2-4ca501ef00c4}</key>
		<dict>
			<key>x</key>
			<string>115.704</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{870fd4b7-491d-42a9-9410-047c5169ce59}</key>
		<dict>
			<key>x</key>
			<string>79.6762</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{6b4617e3-b173-473e-b39f-78c52491a548}</key>
		<dict>
			<key>x</key>
			<string>79.4972</string>
			<key>y</key>
			<string>399.827</string>
		</dict>
		<key>{2ba0e472-353d-4b27-be68-36b8bfb2d55a}</key>
		<dict>
			<key>x</key>
			<string>79.4972</string>
			<key>y</key>
			<string>409.748</string>
		</dict>
		<key>{a531a048-692a-4879-898a-39866f56bf30}</key>
		<dict>
			<key>x</key>
			<string>453.324</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{2f03cb61-d7c3-40a1-8947-dd74e3307ab0}</key>
		<dict>
			<key>x</key>
			<string>453.324</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{c429d364-2a36-4f26-9d4d-b42511a6e782}</key>
		<dict>
			<key>x</key>
			<string>408.486</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{737e5ea5-3427-4d3e-a2f0-d48060f21329}</key>
		<dict>
			<key>x</key>
			<string>408.486</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{d38e374a-2085-49df-8e90-5a719382b1c4}</key>
		<dict>
			<key>x</key>
			<string>370.395</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{b45aa2a5-2826-4f4b-931f-136beda25c33}</key>
		<dict>
			<key>x</key>
			<string>370.395</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{c5cb24c1-4de6-4045-9948-ba1c82999416}</key>
		<dict>
			<key>x</key>
			<string>332.304</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{af55709c-d02a-4060-97e1-dfe72037f6d0}</key>
		<dict>
			<key>x</key>
			<string>332.304</string>
			<key>y</key>
			<string>255.969</string>
		</dict>
		<key>{c4204072-b71d-48f9-8b8d-7a7d09972794}</key>
		<dict>
			<key>x</key>
			<string>288.06</string>
			<key>y</key>
			<string>253.488</string>
		</dict>
		<key>{09e2b198-66c7-4b93-9976-401ac3f5d2dd}</key>
		<dict>
			<key>x</key>
			<string>264.625</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{7539d13e-2c41-4181-992e-f8869834f6b9}</key>
		<dict>
			<key>x</key>
			<string>241.189</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{193532ab-443d-436b-b1b7-971ee519ca0d}</key>
		<dict>
			<key>x</key>
			<string>203.513</string>
			<key>y</key>
			<string>293.173</string>
		</dict>
		<key>{62a3db80-ed9c-472e-a5c3-82e942f24c09}</key>
		<dict>
			<key>x</key>
			<string>203.513</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{b24db421-5d16-4fa6-ab5f-0a4c938bee3e}</key>
		<dict>
			<key>x</key>
			<string>203.692</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{8b29c86e-2a3d-4b4f-888f-5c89b814ff60}</key>
		<dict>
			<key>x</key>
			<string>160.739</string>
			<key>y</key>
			<string>253.488</string>
		</dict>
		<key>{4344c743-ae12-4b5e-bf45-b3f9c22252ca}</key>
		<dict>
			<key>x</key>
			<string>138.221</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{a1a4e807-6661-450e-ad06-16fe1fc8d60f}</key>
		<dict>
			<key>x</key>
			<string>115.704</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{702a23fb-8c6a-4b29-a6e6-fcc8c73194d5}</key>
		<dict>
			<key>x</key>
			<string>79.4972</string>
			<key>y</key>
			<string>293.173</string>
		</dict>
		<key>{196bbfe6-079f-4e1a-833c-80af31bd5ef0}</key>
		<dict>
			<key>x</key>
			<string>79.4972</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{c4787b9c-2cbd-4fd1-a429-b2b0002f3dc7}</key>
		<dict>
			<key>x</key>
			<string>79.6762</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{fbe4df12-b02b-4b0d-8e13-6e283c29b9f9}</key>
		<dict>
			<key>x</key>
			<string>455.94</string>
			<key>y</key>
			<string>151.795</string>
		</dict>
		<key>{4255429e-47f5-4cb7-bbee-62f7297671f8}</key>
		<dict>
			<key>x</key>
			<string>455.94</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{73aea06c-60db-424e-9dd7-3b1530988b9e}</key>
		<dict>
			<key>x</key>
			<string>411.975</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{8d6d6394-71d4-4521-9637-d051df61e518}</key>
		<dict>
			<key>x</key>
			<string>411.975</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{907c357f-06e6-4c23-9d7b-6e0f26c1f225}</key>
		<dict>
			<key>x</key>
			<string>374.756</string>
			<key>y</key>
			<string>151.795</string>
		</dict>
		<key>{c4fe6ab7-0e47-4d75-8ebb-1984119b0042}</key>
		<dict>
			<key>x</key>
			<string>374.756</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{1477cf5b-fead-44f2-a676-c276c7eb44b1}</key>
		<dict>
			<key>x</key>
			<string>337.537</string>
			<key>y</key>
			<string>149.315</string>
		</dict>
		<key>{1a41e521-55a1-4f9c-9c6e-806ecbe8bc82}</key>
		<dict>
			<key>x</key>
			<string>337.537</string>
			<key>y</key>
			<string>109.63</string>
		</dict>
		<key>{631980ae-ba78-4dc5-902a-a48411af6557}</key>
		<dict>
			<key>x</key>
			<string>294.099</string>
			<key>y</key>
			<string>107.15</string>
		</dict>
		<key>{9c873a03-600a-409d-9d79-9fe2d0c23c57}</key>
		<dict>
			<key>x</key>
			<string>271.166</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{128ef46f-8e3a-4e5a-a81b-344a797a9897}</key>
		<dict>
			<key>x</key>
			<string>248.234</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{4ad612e0-4c03-4c53-8523-aecf5dd6b3a1}</key>
		<dict>
			<key>x</key>
			<string>211.363</string>
			<key>y</key>
			<string>146.835</string>
		</dict>
		<key>{32f1a174-6317-43fb-a484-2d69c3cbd68c}</key>
		<dict>
			<key>x</key>
			<string>211.363</string>
			<key>y</key>
			<string>156.756</string>
		</dict>
		<key>{12a7cb22-9070-456e-aae2-d350a6a240f7}</key>
		<dict>
			<key>x</key>
			<string>211.542</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{cb4e8d32-8969-4686-a332-f7a08bbc3b18}</key>
		<dict>
			<key>x</key>
			<string>169.394</string>
			<key>y</key>
			<string>107.15</string>
		</dict>
		<key>{a01e3131-1a06-4702-b390-460244f31b3d}</key>
		<dict>
			<key>x</key>
			<string>147.38</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{db46165f-34ea-4a9c-afcf-6bccc62779f4}</key>
		<dict>
			<key>x</key>
			<string>125.366</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{3d1973f4-bc7d-4f33-ba17-41e38968caed}</key>
		<dict>
			<key>x</key>
			<string>89.9641</string>
			<key>y</key>
			<string>146.835</string>
		</dict>
		<key>{8f5189f8-caa1-4434-a26f-4fa21db50ae5}</key>
		<dict>
			<key>x</key>
			<string>89.9641</string>
			<key>y</key>
			<string>156.756</string>
		</dict>
		<key>{5d4f6f83-bab4-4f03-88a7-34f50704d90d}</key>
		<dict>
			<key>x</key>
			<string>90.1431</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{28d04684-e581-4c6a-b43e-c5ec8165af4e}</key>
		<dict>
			<key>x1</key>
			<string>450.298</string>
			<key>y1</key>
			<string>596.549</string>
			<key>x2</key>
			<string>450.298</string>
			<key>y2</key>
			<string>613.134</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{ab33a99f-5537-478c-a9fd-0a947d254135}</key>
		<dict>
			<key>x1</key>
			<string>456.542</string>
			<key>y1</key>
			<string>555.325</string>
			<key>x2</key>
			<string>456.542</string>
			<key>y2</key>
			<string>539.344</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{34b0df9e-c06c-4215-930f-f48bbc77aa36}</key>
		<dict>
			<key>x1</key>
			<string>405.832</string>
			<key>y1</key>
			<string>594.223</string>
			<key>x2</key>
			<string>405.832</string>
			<key>y2</key>
			<string>610.654</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{c8333c82-87a4-42ef-b7ab-0120d9d3620b}</key>
		<dict>
			<key>x1</key>
			<string>411.718</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>411.718</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{0c50c8cd-e3e4-4c32-be94-f5fdb1fe5bf4}</key>
		<dict>
			<key>x1</key>
			<string>368.113</string>
			<key>y1</key>
			<string>591.743</string>
			<key>x2</key>
			<string>368.113</string>
			<key>y2</key>
			<string>608.173</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{9de9c6d9-7f3c-4ce9-aa40-aabbc9168bb3}</key>
		<dict>
			<key>x1</key>
			<string>368.113</string>
			<key>y1</key>
			<string>552.058</string>
			<key>x2</key>
			<string>368.113</string>
			<key>y2</key>
			<string>566.628</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{ee3d5a71-c2e0-40ad-89a9-5877cbabc75b}</key>
		<dict>
			<key>x1</key>
			<string>330.394</string>
			<key>y1</key>
			<string>589.262</string>
			<key>x2</key>
			<string>330.394</string>
			<key>y2</key>
			<string>605.693</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{003097a0-ed25-45df-9df8-0aa75b7457f6}</key>
		<dict>
			<key>x1</key>
			<string>330.394</string>
			<key>y1</key>
			<string>549.577</string>
			<key>x2</key>
			<string>330.394</string>
			<key>y2</key>
			<string>564.768</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{7948594f-caf1-4b67-ae83-1cf1e977d69f}</key>
		<dict>
			<key>x1</key>
			<string>286.494</string>
			<key>y1</key>
			<string>586.782</string>
			<key>x2</key>
			<string>286.494</string>
			<key>y2</key>
			<string>603.213</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{8abeecdf-d449-4368-bd6f-997d2e42c675}</key>
		<dict>
			<key>x1</key>
			<string>263.273</string>
			<key>y1</key>
			<string>591.743</string>
			<key>x2</key>
			<string>263.273</string>
			<key>y2</key>
			<string>606.933</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{c6768177-0e3b-4e20-9144-55a645a4dfa8}</key>
		<dict>
			<key>x1</key>
			<string>240.052</string>
			<key>y1</key>
			<string>596.703</string>
			<key>x2</key>
			<string>240.052</string>
			<key>y2</key>
			<string>609.413</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{b2a5ead2-4e4e-4470-a5af-ed2964ac3336}</key>
		<dict>
			<key>x1</key>
			<string>202.898</string>
			<key>y1</key>
			<string>596.703</string>
			<key>x2</key>
			<string>202.898</string>
			<key>y2</key>
			<string>613.134</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{da86b3bf-20b1-4a75-80b7-b514e7ccd67d}</key>
		<dict>
			<key>x1</key>
			<string>202.719</string>
			<key>y1</key>
			<string>546.943</string>
			<key>x2</key>
			<string>202.719</string>
			<key>y2</key>
			<string>570.348</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{08a4921f-2e86-4513-a12c-61a5415e292d}</key>
		<dict>
			<key>x1</key>
			<string>202.719</string>
			<key>y1</key>
			<string>546.943</string>
			<key>x2</key>
			<string>202.719</string>
			<key>y2</key>
			<string>570.348</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{5eb71207-bc07-4b40-9ec9-078106be5f88}</key>
		<dict>
			<key>x1</key>
			<string>160.288</string>
			<key>y1</key>
			<string>586.782</string>
			<key>x2</key>
			<string>160.288</string>
			<key>y2</key>
			<string>603.213</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{2f5f6954-1759-4800-b714-568dc45a1bec}</key>
		<dict>
			<key>x1</key>
			<string>137.986</string>
			<key>y1</key>
			<string>591.743</string>
			<key>x2</key>
			<string>137.986</string>
			<key>y2</key>
			<string>606.933</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{fb16cd75-8027-4312-b9ea-6b2c352a2f71}</key>
		<dict>
			<key>x1</key>
			<string>115.683</string>
			<key>y1</key>
			<string>596.703</string>
			<key>x2</key>
			<string>115.683</string>
			<key>y2</key>
			<string>609.413</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{687a00c1-dcd0-4969-ac2b-233c0cb02ddd}</key>
		<dict>
			<key>x1</key>
			<string>79.9986</string>
			<key>y1</key>
			<string>596.703</string>
			<key>x2</key>
			<string>79.9986</string>
			<key>y2</key>
			<string>613.134</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{8a3846c6-c99f-4514-9786-af9cb471da18}</key>
		<dict>
			<key>x1</key>
			<string>79.8196</string>
			<key>y1</key>
			<string>546.943</string>
			<key>x2</key>
			<string>79.8196</string>
			<key>y2</key>
			<string>570.348</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{8d2487e4-c1ca-442f-b00e-2853ac66d1d0}</key>
		<dict>
			<key>x1</key>
			<string>79.8196</string>
			<key>y1</key>
			<string>546.943</string>
			<key>x2</key>
			<string>79.8196</string>
			<key>y2</key>
			<string>570.348</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{c2aec9f1-2358-4178-99b3-c2e8bcbe7f3f}</key>
		<dict>
			<key>x1</key>
			<string>453.646</string>
			<key>y1</key>
			<string>445.25</string>
			<key>x2</key>
			<string>453.646</string>
			<key>y2</key>
			<string>461.835</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{09566668-24ae-4c08-9c15-0794ad3db80a}</key>
		<dict>
			<key>x1</key>
			<string>453.646</string>
			<key>y1</key>
			<string>405.565</string>
			<key>x2</key>
			<string>453.646</string>
			<key>y2</key>
			<string>420.289</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{01dddd93-0802-48a4-8686-1ff7fe46ea2c}</key>
		<dict>
			<key>x1</key>
			<string>408.808</string>
			<key>y1</key>
			<string>447.884</string>
			<key>x2</key>
			<string>408.808</string>
			<key>y2</key>
			<string>464.315</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{b9126aaa-e798-437c-9bc3-f5b838173391}</key>
		<dict>
			<key>x1</key>
			<string>414.695</string>
			<key>y1</key>
			<string>406.336</string>
			<key>x2</key>
			<string>414.695</string>
			<key>y2</key>
			<string>391.146</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{86bbacb1-4322-4200-bf59-68df4049b704}</key>
		<dict>
			<key>x1</key>
			<string>370.717</string>
			<key>y1</key>
			<string>445.404</string>
			<key>x2</key>
			<string>370.717</string>
			<key>y2</key>
			<string>461.835</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{c3ab83c2-c3de-407c-9626-59fd706d2c80}</key>
		<dict>
			<key>x1</key>
			<string>370.717</string>
			<key>y1</key>
			<string>405.719</string>
			<key>x2</key>
			<string>370.717</string>
			<key>y2</key>
			<string>420.289</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{de7d255b-c733-49a8-ad3b-e7cfa332b92e}</key>
		<dict>
			<key>x1</key>
			<string>332.626</string>
			<key>y1</key>
			<string>442.924</string>
			<key>x2</key>
			<string>332.626</string>
			<key>y2</key>
			<string>459.354</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{e22c151c-4d3a-4ba9-957b-b99791e61989}</key>
		<dict>
			<key>x1</key>
			<string>332.626</string>
			<key>y1</key>
			<string>403.239</string>
			<key>x2</key>
			<string>332.626</string>
			<key>y2</key>
			<string>418.429</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{9fa61892-5b12-4978-9cbd-654d44d86bd0}</key>
		<dict>
			<key>x1</key>
			<string>288.383</string>
			<key>y1</key>
			<string>440.443</string>
			<key>x2</key>
			<string>288.383</string>
			<key>y2</key>
			<string>456.874</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{b9c93f17-fcf1-40d4-8ef9-3663595d60e0}</key>
		<dict>
			<key>x1</key>
			<string>264.947</string>
			<key>y1</key>
			<string>445.404</string>
			<key>x2</key>
			<string>264.947</string>
			<key>y2</key>
			<string>460.594</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{56a5a6f8-d97c-4c44-b292-feefa197efcf}</key>
		<dict>
			<key>x1</key>
			<string>241.511</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>241.511</string>
			<key>y2</key>
			<string>463.075</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{06aefef0-1e9b-4af9-8101-0bd1311031e2}</key>
		<dict>
			<key>x1</key>
			<string>204.014</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>204.014</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{dca2dceb-428f-4a53-a242-36467cc21de9}</key>
		<dict>
			<key>x1</key>
			<string>203.835</string>
			<key>y1</key>
			<string>400.605</string>
			<key>x2</key>
			<string>203.835</string>
			<key>y2</key>
			<string>424.01</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{02aaf3e7-825a-4055-b0d3-7ad4e6ab993e}</key>
		<dict>
			<key>x1</key>
			<string>203.835</string>
			<key>y1</key>
			<string>400.605</string>
			<key>x2</key>
			<string>203.835</string>
			<key>y2</key>
			<string>424.01</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{c9db2814-9ffe-4b2d-aca2-f4842b310e2b}</key>
		<dict>
			<key>x1</key>
			<string>161.061</string>
			<key>y1</key>
			<string>440.443</string>
			<key>x2</key>
			<string>161.061</string>
			<key>y2</key>
			<string>456.874</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{e540ee17-7fd1-490c-9605-608e0dae2cba}</key>
		<dict>
			<key>x1</key>
			<string>138.544</string>
			<key>y1</key>
			<string>445.404</string>
			<key>x2</key>
			<string>138.544</string>
			<key>y2</key>
			<string>460.594</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{79741a5d-2e7b-43c0-83c2-4ca501ef00c4}</key>
		<dict>
			<key>x1</key>
			<string>116.026</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>116.026</string>
			<key>y2</key>
			<string>463.075</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{870fd4b7-491d-42a9-9410-047c5169ce59}</key>
		<dict>
			<key>x1</key>
			<string>79.9986</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>79.9986</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{2ba0e472-353d-4b27-be68-36b8bfb2d55a}</key>
		<dict>
			<key>x1</key>
			<string>79.8196</string>
			<key>y1</key>
			<string>400.605</string>
			<key>x2</key>
			<string>79.8196</string>
			<key>y2</key>
			<string>424.01</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{6b4617e3-b173-473e-b39f-78c52491a548}</key>
		<dict>
			<key>x1</key>
			<string>79.8196</string>
			<key>y1</key>
			<string>400.605</string>
			<key>x2</key>
			<string>79.8196</string>
			<key>y2</key>
			<string>424.01</string>
			<key>height</key>
			<string>24.1831</string>
		</dict>
		<key>{a531a048-692a-4879-898a-39866f56bf30}</key>
		<dict>
			<key>x1</key>
			<string>453.646</string>
			<key>y1</key>
			<string>303.872</string>
			<key>x2</key>
			<string>453.646</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{2f03cb61-d7c3-40a1-8947-dd74e3307ab0}</key>
		<dict>
			<key>x1</key>
			<string>459.89</string>
			<key>y1</key>
			<string>262.648</string>
			<key>x2</key>
			<string>459.89</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{c429d364-2a36-4f26-9d4d-b42511a6e782}</key>
		<dict>
			<key>x1</key>
			<string>408.808</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>408.808</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{737e5ea5-3427-4d3e-a2f0-d48060f21329}</key>
		<dict>
			<key>x1</key>
			<string>414.695</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>414.695</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{d38e374a-2085-49df-8e90-5a719382b1c4}</key>
		<dict>
			<key>x1</key>
			<string>370.717</string>
			<key>y1</key>
			<string>299.066</string>
			<key>x2</key>
			<string>370.717</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{b45aa2a5-2826-4f4b-931f-136beda25c33}</key>
		<dict>
			<key>x1</key>
			<string>370.717</string>
			<key>y1</key>
			<string>259.381</string>
			<key>x2</key>
			<string>370.717</string>
			<key>y2</key>
			<string>273.951</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{c5cb24c1-4de6-4045-9948-ba1c82999416}</key>
		<dict>
			<key>x1</key>
			<string>332.626</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>332.626</string>
			<key>y2</key>
			<string>313.016</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{af55709c-d02a-4060-97e1-dfe72037f6d0}</key>
		<dict>
			<key>x1</key>
			<string>332.626</string>
			<key>y1</key>
			<string>256.9</string>
			<key>x2</key>
			<string>332.626</string>
			<key>y2</key>
			<string>272.091</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{c4204072-b71d-48f9-8b8d-7a7d09972794}</key>
		<dict>
			<key>x1</key>
			<string>288.383</string>
			<key>y1</key>
			<string>254.42</string>
			<key>x2</key>
			<string>288.383</string>
			<key>y2</key>
			<string>270.23</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{09e2b198-66c7-4b93-9976-401ac3f5d2dd}</key>
		<dict>
			<key>x1</key>
			<string>270.833</string>
			<key>y1</key>
			<string>257.517</string>
			<key>x2</key>
			<string>270.833</string>
			<key>y2</key>
			<string>243.567</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{7539d13e-2c41-4181-992e-f8869834f6b9}</key>
		<dict>
			<key>x1</key>
			<string>247.397</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>247.397</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{62a3db80-ed9c-472e-a5c3-82e942f24c09}</key>
		<dict>
			<key>x1</key>
			<string>203.835</string>
			<key>y1</key>
			<string>293.951</string>
			<key>x2</key>
			<string>203.835</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>27.2835</string>
		</dict>
		<key>{193532ab-443d-436b-b1b7-971ee519ca0d}</key>
		<dict>
			<key>x1</key>
			<string>203.835</string>
			<key>y1</key>
			<string>293.951</string>
			<key>x2</key>
			<string>203.835</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>27.2835</string>
		</dict>
		<key>{b24db421-5d16-4fa6-ab5f-0a4c938bee3e}</key>
		<dict>
			<key>x1</key>
			<string>209.9</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>209.9</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{8b29c86e-2a3d-4b4f-888f-5c89b814ff60}</key>
		<dict>
			<key>x1</key>
			<string>161.061</string>
			<key>y1</key>
			<string>254.42</string>
			<key>x2</key>
			<string>161.061</string>
			<key>y2</key>
			<string>270.23</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{4344c743-ae12-4b5e-bf45-b3f9c22252ca}</key>
		<dict>
			<key>x1</key>
			<string>144.43</string>
			<key>y1</key>
			<string>257.517</string>
			<key>x2</key>
			<string>144.43</string>
			<key>y2</key>
			<string>243.567</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{a1a4e807-6661-450e-ad06-16fe1fc8d60f}</key>
		<dict>
			<key>x1</key>
			<string>121.912</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>121.912</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{196bbfe6-079f-4e1a-833c-80af31bd5ef0}</key>
		<dict>
			<key>x1</key>
			<string>79.8196</string>
			<key>y1</key>
			<string>293.951</string>
			<key>x2</key>
			<string>79.8196</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>27.2835</string>
		</dict>
		<key>{702a23fb-8c6a-4b29-a6e6-fcc8c73194d5}</key>
		<dict>
			<key>x1</key>
			<string>79.8196</string>
			<key>y1</key>
			<string>293.951</string>
			<key>x2</key>
			<string>79.8196</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>27.2835</string>
		</dict>
		<key>{c4787b9c-2cbd-4fd1-a429-b2b0002f3dc7}</key>
		<dict>
			<key>x1</key>
			<string>85.8847</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>85.8847</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{fbe4df12-b02b-4b0d-8e13-6e283c29b9f9}</key>
		<dict>
			<key>x1</key>
			<string>456.263</string>
			<key>y1</key>
			<string>152.573</string>
			<key>x2</key>
			<string>456.263</string>
			<key>y2</key>
			<string>169.157</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{4255429e-47f5-4cb7-bbee-62f7297671f8}</key>
		<dict>
			<key>x1</key>
			<string>456.263</string>
			<key>y1</key>
			<string>112.888</string>
			<key>x2</key>
			<string>456.263</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{73aea06c-60db-424e-9dd7-3b1530988b9e}</key>
		<dict>
			<key>x1</key>
			<string>412.297</string>
			<key>y1</key>
			<string>155.207</string>
			<key>x2</key>
			<string>412.297</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{8d6d6394-71d4-4521-9637-d051df61e518}</key>
		<dict>
			<key>x1</key>
			<string>418.184</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>418.184</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{907c357f-06e6-4c23-9d7b-6e0f26c1f225}</key>
		<dict>
			<key>x1</key>
			<string>375.079</string>
			<key>y1</key>
			<string>152.727</string>
			<key>x2</key>
			<string>375.079</string>
			<key>y2</key>
			<string>169.157</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{c4fe6ab7-0e47-4d75-8ebb-1984119b0042}</key>
		<dict>
			<key>x1</key>
			<string>375.079</string>
			<key>y1</key>
			<string>113.042</string>
			<key>x2</key>
			<string>375.079</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{1477cf5b-fead-44f2-a676-c276c7eb44b1}</key>
		<dict>
			<key>x1</key>
			<string>337.86</string>
			<key>y1</key>
			<string>150.247</string>
			<key>x2</key>
			<string>337.86</string>
			<key>y2</key>
			<string>166.677</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{1a41e521-55a1-4f9c-9c6e-806ecbe8bc82}</key>
		<dict>
			<key>x1</key>
			<string>337.86</string>
			<key>y1</key>
			<string>110.562</string>
			<key>x2</key>
			<string>337.86</string>
			<key>y2</key>
			<string>125.752</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{631980ae-ba78-4dc5-902a-a48411af6557}</key>
		<dict>
			<key>x1</key>
			<string>294.421</string>
			<key>y1</key>
			<string>108.081</string>
			<key>x2</key>
			<string>294.421</string>
			<key>y2</key>
			<string>123.892</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{9c873a03-600a-409d-9d79-9fe2d0c23c57}</key>
		<dict>
			<key>x1</key>
			<string>277.375</string>
			<key>y1</key>
			<string>111.179</string>
			<key>x2</key>
			<string>277.375</string>
			<key>y2</key>
			<string>97.2284</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{128ef46f-8e3a-4e5a-a81b-344a797a9897}</key>
		<dict>
			<key>x1</key>
			<string>254.443</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>254.443</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{32f1a174-6317-43fb-a484-2d69c3cbd68c}</key>
		<dict>
			<key>x1</key>
			<string>211.685</string>
			<key>y1</key>
			<string>147.612</string>
			<key>x2</key>
			<string>211.685</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>27.2835</string>
		</dict>
		<key>{4ad612e0-4c03-4c53-8523-aecf5dd6b3a1}</key>
		<dict>
			<key>x1</key>
			<string>211.685</string>
			<key>y1</key>
			<string>147.612</string>
			<key>x2</key>
			<string>211.685</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>27.2835</string>
		</dict>
		<key>{12a7cb22-9070-456e-aae2-d350a6a240f7}</key>
		<dict>
			<key>x1</key>
			<string>217.751</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>217.751</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{cb4e8d32-8969-4686-a332-f7a08bbc3b18}</key>
		<dict>
			<key>x1</key>
			<string>169.716</string>
			<key>y1</key>
			<string>108.081</string>
			<key>x2</key>
			<string>169.716</string>
			<key>y2</key>
			<string>123.892</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{a01e3131-1a06-4702-b390-460244f31b3d}</key>
		<dict>
			<key>x1</key>
			<string>153.588</string>
			<key>y1</key>
			<string>111.179</string>
			<key>x2</key>
			<string>153.588</string>
			<key>y2</key>
			<string>97.2284</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{db46165f-34ea-4a9c-afcf-6bccc62779f4}</key>
		<dict>
			<key>x1</key>
			<string>131.574</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>131.574</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{8f5189f8-caa1-4434-a26f-4fa21db50ae5}</key>
		<dict>
			<key>x1</key>
			<string>90.2865</string>
			<key>y1</key>
			<string>147.612</string>
			<key>x2</key>
			<string>90.2865</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>27.2835</string>
		</dict>
		<key>{3d1973f4-bc7d-4f33-ba17-41e38968caed}</key>
		<dict>
			<key>x1</key>
			<string>90.2865</string>
			<key>y1</key>
			<string>147.612</string>
			<key>x2</key>
			<string>90.2865</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>27.2835</string>
		</dict>
		<key>{5d4f6f83-bab4-4f03-88a7-34f50704d90d}</key>
		<dict>
			<key>x1</key>
			<string>96.3517</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>96.3517</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
	</dict>
</dict>
</plist>