<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>541.205</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>576.784</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{92abdaea-6445-4313-987f-95f64cf9896e}</key>
		<dict>
			<key>x</key>
			<string>520.743</string>
			<key>y</key>
			<string>451.913</string>
		</dict>
		<key>{948f7452-a780-4433-a298-b30f635ea7b7}</key>
		<dict>
			<key>x</key>
			<string>482.721</string>
			<key>y</key>
			<string>441.992</string>
		</dict>
		<key>{e5defb89-b393-4642-bed1-849f694bf647}</key>
		<dict>
			<key>x</key>
			<string>444.699</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{0136b3d3-227a-430b-9b22-94f6da733b29}</key>
		<dict>
			<key>x</key>
			<string>444.519</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{8d0b6027-30bf-400c-80a2-fabd95b01ac4}</key>
		<dict>
			<key>x</key>
			<string>400.285</string>
			<key>y</key>
			<string>444.472</string>
		</dict>
		<key>{da0a1ff1-bce2-4dae-968c-a53eaed86469}</key>
		<dict>
			<key>x</key>
			<string>400.285</string>
			<key>y</key>
			<string>409.748</string>
		</dict>
		<key>{da1b6556-b6f7-47e0-b026-eec5eefb745c}</key>
		<dict>
			<key>x</key>
			<string>362.796</string>
			<key>y</key>
			<string>402.307</string>
		</dict>
		<key>{02c14ef6-3b93-49b4-894f-9aeb1493a038}</key>
		<dict>
			<key>x</key>
			<string>339.366</string>
			<key>y</key>
			<string>404.787</string>
		</dict>
		<key>{7a4377c2-34b4-401b-94ce-998d4a86078c}</key>
		<dict>
			<key>x</key>
			<string>315.757</string>
			<key>y</key>
			<string>441.992</string>
		</dict>
		<key>{8552adaf-a2fc-4a0d-a83d-a2a06e7e6f69}</key>
		<dict>
			<key>x</key>
			<string>315.936</string>
			<key>y</key>
			<string>407.268</string>
		</dict>
		<key>{88e9854c-83f5-4869-be29-66b9ba3b43aa}</key>
		<dict>
			<key>x</key>
			<string>270.988</string>
			<key>y</key>
			<string>444.472</string>
		</dict>
		<key>{7c83333f-5e00-4d07-bda4-81b9127ecf2c}</key>
		<dict>
			<key>x</key>
			<string>232.966</string>
			<key>y</key>
			<string>441.992</string>
		</dict>
		<key>{942ab254-a597-4554-aa30-e82152f49c8f}</key>
		<dict>
			<key>x</key>
			<string>194.944</string>
			<key>y</key>
			<string>444.472</string>
		</dict>
		<key>{8ae6fe49-b58b-4040-945a-06099d0acedf}</key>
		<dict>
			<key>x</key>
			<string>194.765</string>
			<key>y</key>
			<string>409.748</string>
		</dict>
		<key>{d201368d-1ab2-4914-8450-c2419f82fa0d}</key>
		<dict>
			<key>x</key>
			<string>151.588</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{979c15c6-45c0-459d-b2d8-784297184cda}</key>
		<dict>
			<key>x</key>
			<string>115.158</string>
			<key>y</key>
			<string>441.992</string>
		</dict>
		<key>{75ac3401-96ea-4b3b-91e0-e0536d2c1441}</key>
		<dict>
			<key>x</key>
			<string>78.7275</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{b714fc18-a0c9-4b09-9726-bc9a8c00df2c}</key>
		<dict>
			<key>x</key>
			<string>78.5484</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{1b06470e-3f2c-49c5-bdd2-9a3fcb101fde}</key>
		<dict>
			<key>x</key>
			<string>520.743</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{cdb51a73-03a4-46f7-a0e7-d003f4cdf04c}</key>
		<dict>
			<key>x</key>
			<string>482.721</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{13033217-5f7f-4998-b4db-b223ff1f163d}</key>
		<dict>
			<key>x</key>
			<string>444.699</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{6870efad-fa69-468d-86c7-450589b590b1}</key>
		<dict>
			<key>x</key>
			<string>444.519</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{44a16b95-6a7c-4de7-a0e9-d18364e3f659}</key>
		<dict>
			<key>x</key>
			<string>400.285</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{aea72bea-8360-4f06-9eff-1f0da818d6d0}</key>
		<dict>
			<key>x</key>
			<string>362.796</string>
			<key>y</key>
			<string>255.969</string>
		</dict>
		<key>{bf1dc7ec-7d0c-428f-a3dc-17c6b93d9b8a}</key>
		<dict>
			<key>x</key>
			<string>339.366</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{86392dc9-668e-489c-a299-b1f8b3945ce8}</key>
		<dict>
			<key>x</key>
			<string>315.757</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{2c1e1be9-b1ea-4715-9b74-1824892014be}</key>
		<dict>
			<key>x</key>
			<string>315.936</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{b59428b7-9c12-45d6-971c-44aab699efe5}</key>
		<dict>
			<key>x</key>
			<string>270.988</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{f5658da6-3a03-494f-bacf-a767c4c2131b}</key>
		<dict>
			<key>x</key>
			<string>232.966</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{81500e65-83d8-49b6-b56a-046394998218}</key>
		<dict>
			<key>x</key>
			<string>194.944</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{b83317c4-c6a1-4ef4-b376-28140574ec1e}</key>
		<dict>
			<key>x</key>
			<string>194.765</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{4a6e9dec-cc37-4609-b30c-49cce30d548d}</key>
		<dict>
			<key>x</key>
			<string>151.588</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{ea756f69-7e0d-4133-8da2-dc5bd10c4045}</key>
		<dict>
			<key>x</key>
			<string>115.158</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{9269c4ea-6478-4bc0-842c-1af5ff5c7183}</key>
		<dict>
			<key>x</key>
			<string>78.7275</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{5067721c-90d2-4f61-8c1b-c736ea94314e}</key>
		<dict>
			<key>x</key>
			<string>78.5484</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{92abdaea-6445-4313-987f-95f64cf9896e}</key>
		<dict>
			<key>x1</key>
			<string>521.065</string>
			<key>y1</key>
			<string>452.845</string>
			<key>x2</key>
			<string>521.065</string>
			<key>y2</key>
			<string>468.656</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{948f7452-a780-4433-a298-b30f635ea7b7}</key>
		<dict>
			<key>x1</key>
			<string>483.043</string>
			<key>y1</key>
			<string>442.924</string>
			<key>x2</key>
			<string>483.043</string>
			<key>y2</key>
			<string>459.354</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{e5defb89-b393-4642-bed1-849f694bf647}</key>
		<dict>
			<key>x1</key>
			<string>445.021</string>
			<key>y1</key>
			<string>447.884</string>
			<key>x2</key>
			<string>445.021</string>
			<key>y2</key>
			<string>464.315</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{0136b3d3-227a-430b-9b22-94f6da733b29}</key>
		<dict>
			<key>x1</key>
			<string>451.086</string>
			<key>y1</key>
			<string>411.466</string>
			<key>x2</key>
			<string>451.086</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{8d0b6027-30bf-400c-80a2-fabd95b01ac4}</key>
		<dict>
			<key>x1</key>
			<string>400.607</string>
			<key>y1</key>
			<string>445.404</string>
			<key>x2</key>
			<string>400.607</string>
			<key>y2</key>
			<string>461.835</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{da0a1ff1-bce2-4dae-968c-a53eaed86469}</key>
		<dict>
			<key>x1</key>
			<string>406.493</string>
			<key>y1</key>
			<string>408.816</string>
			<key>x2</key>
			<string>406.493</string>
			<key>y2</key>
			<string>393.006</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{da1b6556-b6f7-47e0-b026-eec5eefb745c}</key>
		<dict>
			<key>x1</key>
			<string>363.119</string>
			<key>y1</key>
			<string>403.239</string>
			<key>x2</key>
			<string>363.119</string>
			<key>y2</key>
			<string>418.429</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{02c14ef6-3b93-49b4-894f-9aeb1493a038}</key>
		<dict>
			<key>x1</key>
			<string>345.574</string>
			<key>y1</key>
			<string>403.856</string>
			<key>x2</key>
			<string>345.574</string>
			<key>y2</key>
			<string>389.906</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{7a4377c2-34b4-401b-94ce-998d4a86078c}</key>
		<dict>
			<key>x1</key>
			<string>316.079</string>
			<key>y1</key>
			<string>442.77</string>
			<key>x2</key>
			<string>316.079</string>
			<key>y2</key>
			<string>459.354</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{8552adaf-a2fc-4a0d-a83d-a2a06e7e6f69}</key>
		<dict>
			<key>x1</key>
			<string>322.144</string>
			<key>y1</key>
			<string>406.336</string>
			<key>x2</key>
			<string>322.144</string>
			<key>y2</key>
			<string>391.146</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{88e9854c-83f5-4869-be29-66b9ba3b43aa}</key>
		<dict>
			<key>x1</key>
			<string>271.31</string>
			<key>y1</key>
			<string>445.404</string>
			<key>x2</key>
			<string>271.31</string>
			<key>y2</key>
			<string>461.835</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{7c83333f-5e00-4d07-bda4-81b9127ecf2c}</key>
		<dict>
			<key>x1</key>
			<string>233.288</string>
			<key>y1</key>
			<string>442.924</string>
			<key>x2</key>
			<string>233.288</string>
			<key>y2</key>
			<string>459.354</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{942ab254-a597-4554-aa30-e82152f49c8f}</key>
		<dict>
			<key>x1</key>
			<string>195.266</string>
			<key>y1</key>
			<string>445.404</string>
			<key>x2</key>
			<string>195.266</string>
			<key>y2</key>
			<string>461.835</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{8ae6fe49-b58b-4040-945a-06099d0acedf}</key>
		<dict>
			<key>x1</key>
			<string>201.331</string>
			<key>y1</key>
			<string>408.986</string>
			<key>x2</key>
			<string>201.331</string>
			<key>y2</key>
			<string>393.006</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{d201368d-1ab2-4914-8450-c2419f82fa0d}</key>
		<dict>
			<key>x1</key>
			<string>151.911</string>
			<key>y1</key>
			<string>447.884</string>
			<key>x2</key>
			<string>151.911</string>
			<key>y2</key>
			<string>464.315</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{979c15c6-45c0-459d-b2d8-784297184cda}</key>
		<dict>
			<key>x1</key>
			<string>115.48</string>
			<key>y1</key>
			<string>442.924</string>
			<key>x2</key>
			<string>115.48</string>
			<key>y2</key>
			<string>459.354</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{75ac3401-96ea-4b3b-91e0-e0536d2c1441}</key>
		<dict>
			<key>x1</key>
			<string>79.0499</string>
			<key>y1</key>
			<string>447.884</string>
			<key>x2</key>
			<string>79.0499</string>
			<key>y2</key>
			<string>464.315</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{b714fc18-a0c9-4b09-9726-bc9a8c00df2c}</key>
		<dict>
			<key>x1</key>
			<string>85.1151</string>
			<key>y1</key>
			<string>411.466</string>
			<key>x2</key>
			<string>85.1151</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{1b06470e-3f2c-49c5-bdd2-9a3fcb101fde}</key>
		<dict>
			<key>x1</key>
			<string>521.065</string>
			<key>y1</key>
			<string>304.026</string>
			<key>x2</key>
			<string>521.065</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{cdb51a73-03a4-46f7-a0e7-d003f4cdf04c}</key>
		<dict>
			<key>x1</key>
			<string>483.043</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>483.043</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{13033217-5f7f-4998-b4db-b223ff1f163d}</key>
		<dict>
			<key>x1</key>
			<string>445.021</string>
			<key>y1</key>
			<string>299.066</string>
			<key>x2</key>
			<string>445.021</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{6870efad-fa69-468d-86c7-450589b590b1}</key>
		<dict>
			<key>x1</key>
			<string>451.086</string>
			<key>y1</key>
			<string>262.648</string>
			<key>x2</key>
			<string>451.086</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{44a16b95-6a7c-4de7-a0e9-d18364e3f659}</key>
		<dict>
			<key>x1</key>
			<string>406.493</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>406.493</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{aea72bea-8360-4f06-9eff-1f0da818d6d0}</key>
		<dict>
			<key>x1</key>
			<string>363.119</string>
			<key>y1</key>
			<string>256.9</string>
			<key>x2</key>
			<string>363.119</string>
			<key>y2</key>
			<string>272.091</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{bf1dc7ec-7d0c-428f-a3dc-17c6b93d9b8a}</key>
		<dict>
			<key>x1</key>
			<string>345.574</string>
			<key>y1</key>
			<string>257.517</string>
			<key>x2</key>
			<string>345.574</string>
			<key>y2</key>
			<string>243.567</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{86392dc9-668e-489c-a299-b1f8b3945ce8}</key>
		<dict>
			<key>x1</key>
			<string>316.079</string>
			<key>y1</key>
			<string>296.431</string>
			<key>x2</key>
			<string>316.079</string>
			<key>y2</key>
			<string>313.016</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{2c1e1be9-b1ea-4715-9b74-1824892014be}</key>
		<dict>
			<key>x1</key>
			<string>322.144</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>322.144</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{b59428b7-9c12-45d6-971c-44aab699efe5}</key>
		<dict>
			<key>x1</key>
			<string>271.31</string>
			<key>y1</key>
			<string>299.066</string>
			<key>x2</key>
			<string>271.31</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f5658da6-3a03-494f-bacf-a767c4c2131b}</key>
		<dict>
			<key>x1</key>
			<string>233.288</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>233.288</string>
			<key>y2</key>
			<string>313.016</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{81500e65-83d8-49b6-b56a-046394998218}</key>
		<dict>
			<key>x1</key>
			<string>195.266</string>
			<key>y1</key>
			<string>299.066</string>
			<key>x2</key>
			<string>195.266</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{b83317c4-c6a1-4ef4-b376-28140574ec1e}</key>
		<dict>
			<key>x1</key>
			<string>201.331</string>
			<key>y1</key>
			<string>262.648</string>
			<key>x2</key>
			<string>201.331</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{4a6e9dec-cc37-4609-b30c-49cce30d548d}</key>
		<dict>
			<key>x1</key>
			<string>151.911</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>151.911</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{ea756f69-7e0d-4133-8da2-dc5bd10c4045}</key>
		<dict>
			<key>x1</key>
			<string>115.48</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>115.48</string>
			<key>y2</key>
			<string>313.016</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{9269c4ea-6478-4bc0-842c-1af5ff5c7183}</key>
		<dict>
			<key>x1</key>
			<string>79.0499</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>79.0499</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{5067721c-90d2-4f61-8c1b-c736ea94314e}</key>
		<dict>
			<key>x1</key>
			<string>85.1151</string>
			<key>y1</key>
			<string>265.128</string>
			<key>x2</key>
			<string>85.1151</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
	</dict>
</dict>
</plist>