<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{f90224c1-1b02-4de0-a5e1-c1f7d048f3cc}</key>
		<dict>
			<key>x</key>
			<string>516.017</string>
			<key>y</key>
			<string>335.339</string>
		</dict>
		<key>{149d4448-558f-417e-92ab-d3ce9260b89b}</key>
		<dict>
			<key>x</key>
			<string>477.734</string>
			<key>y</key>
			<string>325.417</string>
		</dict>
		<key>{b0e96b03-1745-401c-a935-169be4c7b58c}</key>
		<dict>
			<key>x</key>
			<string>439.451</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{c116b3d5-2b4f-41a4-bade-2a01a11aa131}</key>
		<dict>
			<key>x</key>
			<string>439.272</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{445937dc-db6a-4cb8-a052-d4baee066a8e}</key>
		<dict>
			<key>x</key>
			<string>394.893</string>
			<key>y</key>
			<string>327.898</string>
		</dict>
		<key>{a94e5219-1848-4566-a75b-5698222be003}</key>
		<dict>
			<key>x</key>
			<string>394.893</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{9f8ee4e3-8a17-4bb8-bdd2-115ba3eeaeda}</key>
		<dict>
			<key>x</key>
			<string>357.259</string>
			<key>y</key>
			<string>255.969</string>
		</dict>
		<key>{16760514-c149-4a1a-8068-72e7a99e3d70}</key>
		<dict>
			<key>x</key>
			<string>333.739</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{d75ae34d-a871-4657-a065-bc5646d55554}</key>
		<dict>
			<key>x</key>
			<string>310.039</string>
			<key>y</key>
			<string>325.417</string>
		</dict>
		<key>{45f875e6-89e8-423f-bdb5-3c558bc9f44c}</key>
		<dict>
			<key>x</key>
			<string>310.218</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{ee9235ef-ea70-4cbc-a8ad-043299d3af0c}</key>
		<dict>
			<key>x</key>
			<string>265.986</string>
			<key>y</key>
			<string>327.898</string>
		</dict>
		<key>{8af4ad5c-3e3c-4e1d-8a7d-520d8c6e939b}</key>
		<dict>
			<key>x</key>
			<string>228.68</string>
			<key>y</key>
			<string>325.417</string>
		</dict>
		<key>{089721fb-94ca-47c1-a693-f1a357ea54c2}</key>
		<dict>
			<key>x</key>
			<string>191.374</string>
			<key>y</key>
			<string>327.898</string>
		</dict>
		<key>{f448fb16-769e-49f3-ae6e-8719ca1c44d5}</key>
		<dict>
			<key>x</key>
			<string>191.195</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{736ca2c6-5dc0-4abd-aaab-784472247a26}</key>
		<dict>
			<key>x</key>
			<string>144.827</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{3a4a93d1-1f17-445d-8ff2-a5232f697b30}</key>
		<dict>
			<key>x</key>
			<string>108.136</string>
			<key>y</key>
			<string>325.417</string>
		</dict>
		<key>{bf1b0a89-486d-422e-85d2-cc2513d4cb65}</key>
		<dict>
			<key>x</key>
			<string>71.4447</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{3ebf0106-66e3-4ae6-910c-3368b6f0e544}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{1a524312-6e24-4289-9604-5a193ac456ac}</key>
		<dict>
			<key>x</key>
			<string>522.079</string>
			<key>y</key>
			<string>186.52</string>
		</dict>
		<key>{b8494b86-b9d3-48b8-8b65-5ec469e127ec}</key>
		<dict>
			<key>x</key>
			<string>485.393</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{6719580f-a7d6-4ee0-886e-014cb7e1b8ca}</key>
		<dict>
			<key>x</key>
			<string>448.707</string>
			<key>y</key>
			<string>181.559</string>
		</dict>
		<key>{b5919cc1-30f9-4951-abab-3dd967c5d868}</key>
		<dict>
			<key>x</key>
			<string>448.527</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{d5105931-d6f8-4f64-8838-c0d3de538b4c}</key>
		<dict>
			<key>x</key>
			<string>402.11</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{76ecf8e1-9839-4dda-8918-074acabfc14e}</key>
		<dict>
			<key>x</key>
			<string>365.37</string>
			<key>y</key>
			<string>109.63</string>
		</dict>
		<key>{c2ddb333-54a2-4b75-8e45-0952ca90a736}</key>
		<dict>
			<key>x</key>
			<string>342.408</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{959cad5a-05c0-4b99-9344-bfa562b4e9ac}</key>
		<dict>
			<key>x</key>
			<string>319.266</string>
			<key>y</key>
			<string>179.079</string>
		</dict>
		<key>{6358ef61-b43f-41bb-8ed5-5ad2c0e00a47}</key>
		<dict>
			<key>x</key>
			<string>319.445</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{160ccbc9-9dbc-4442-9fc4-677703fe0d2c}</key>
		<dict>
			<key>x</key>
			<string>275.834</string>
			<key>y</key>
			<string>181.559</string>
		</dict>
		<key>{d3a0d563-1204-4560-8baf-4c997b8b591c}</key>
		<dict>
			<key>x</key>
			<string>239.148</string>
			<key>y</key>
			<string>179.079</string>
		</dict>
		<key>{14d3b0b8-75da-49eb-8fa2-a223a024b1c7}</key>
		<dict>
			<key>x</key>
			<string>202.462</string>
			<key>y</key>
			<string>181.559</string>
		</dict>
		<key>{cb8da6d4-c834-4f71-9537-d1482fc30254}</key>
		<dict>
			<key>x</key>
			<string>202.283</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{927211af-bf84-4ec6-9dba-3d53ba05870b}</key>
		<dict>
			<key>x</key>
			<string>156.534</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{23323e49-6d97-4bd1-807f-5bf9e3b85bb0}</key>
		<dict>
			<key>x</key>
			<string>120.463</string>
			<key>y</key>
			<string>179.079</string>
		</dict>
		<key>{a357b812-ddbd-4798-a471-6283fd5a86c7}</key>
		<dict>
			<key>x</key>
			<string>84.3919</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{db15a0ad-5bcc-4be7-a7b4-b36862e85b70}</key>
		<dict>
			<key>x</key>
			<string>84.2129</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{f90224c1-1b02-4de0-a5e1-c1f7d048f3cc}</key>
		<dict>
			<key>x1</key>
			<string>516.34</string>
			<key>y1</key>
			<string>336.27</string>
			<key>x2</key>
			<string>516.34</string>
			<key>y2</key>
			<string>346.5</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{149d4448-558f-417e-92ab-d3ce9260b89b}</key>
		<dict>
			<key>x1</key>
			<string>478.057</string>
			<key>y1</key>
			<string>326.349</string>
			<key>x2</key>
			<string>478.057</string>
			<key>y2</key>
			<string>337.199</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{b0e96b03-1745-401c-a935-169be4c7b58c}</key>
		<dict>
			<key>x1</key>
			<string>439.774</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>439.774</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{c116b3d5-2b4f-41a4-bade-2a01a11aa131}</key>
		<dict>
			<key>x1</key>
			<string>445.839</string>
			<key>y1</key>
			<string>265.128</string>
			<key>x2</key>
			<string>445.839</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{445937dc-db6a-4cb8-a052-d4baee066a8e}</key>
		<dict>
			<key>x1</key>
			<string>395.215</string>
			<key>y1</key>
			<string>328.829</string>
			<key>x2</key>
			<string>395.215</string>
			<key>y2</key>
			<string>339.059</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{a94e5219-1848-4566-a75b-5698222be003}</key>
		<dict>
			<key>x1</key>
			<string>401.101</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>401.101</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{9f8ee4e3-8a17-4bb8-bdd2-115ba3eeaeda}</key>
		<dict>
			<key>x1</key>
			<string>357.582</string>
			<key>y1</key>
			<string>256.9</string>
			<key>x2</key>
			<string>357.582</string>
			<key>y2</key>
			<string>272.091</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{16760514-c149-4a1a-8068-72e7a99e3d70}</key>
		<dict>
			<key>x1</key>
			<string>339.947</string>
			<key>y1</key>
			<string>257.517</string>
			<key>x2</key>
			<string>339.947</string>
			<key>y2</key>
			<string>243.567</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{d75ae34d-a871-4657-a065-bc5646d55554}</key>
		<dict>
			<key>x1</key>
			<string>310.361</string>
			<key>y1</key>
			<string>326.195</string>
			<key>x2</key>
			<string>310.361</string>
			<key>y2</key>
			<string>337.199</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{45f875e6-89e8-423f-bdb5-3c558bc9f44c}</key>
		<dict>
			<key>x1</key>
			<string>316.426</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>316.426</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{ee9235ef-ea70-4cbc-a8ad-043299d3af0c}</key>
		<dict>
			<key>x1</key>
			<string>266.309</string>
			<key>y1</key>
			<string>328.829</string>
			<key>x2</key>
			<string>266.309</string>
			<key>y2</key>
			<string>339.059</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{8af4ad5c-3e3c-4e1d-8a7d-520d8c6e939b}</key>
		<dict>
			<key>x1</key>
			<string>229.003</string>
			<key>y1</key>
			<string>326.349</string>
			<key>x2</key>
			<string>229.003</string>
			<key>y2</key>
			<string>337.199</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{089721fb-94ca-47c1-a693-f1a357ea54c2}</key>
		<dict>
			<key>x1</key>
			<string>191.697</string>
			<key>y1</key>
			<string>328.829</string>
			<key>x2</key>
			<string>191.697</string>
			<key>y2</key>
			<string>339.059</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{f448fb16-769e-49f3-ae6e-8719ca1c44d5}</key>
		<dict>
			<key>x1</key>
			<string>197.762</string>
			<key>y1</key>
			<string>262.648</string>
			<key>x2</key>
			<string>197.762</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{736ca2c6-5dc0-4abd-aaab-784472247a26}</key>
		<dict>
			<key>x1</key>
			<string>145.149</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>145.149</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{3a4a93d1-1f17-445d-8ff2-a5232f697b30}</key>
		<dict>
			<key>x1</key>
			<string>108.458</string>
			<key>y1</key>
			<string>326.349</string>
			<key>x2</key>
			<string>108.458</string>
			<key>y2</key>
			<string>337.199</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{bf1b0a89-486d-422e-85d2-cc2513d4cb65}</key>
		<dict>
			<key>x1</key>
			<string>71.7671</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>71.7671</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{3ebf0106-66e3-4ae6-910c-3368b6f0e544}</key>
		<dict>
			<key>x1</key>
			<string>77.8322</string>
			<key>y1</key>
			<string>265.128</string>
			<key>x2</key>
			<string>77.8322</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{1a524312-6e24-4289-9604-5a193ac456ac}</key>
		<dict>
			<key>x1</key>
			<string>522.401</string>
			<key>y1</key>
			<string>187.451</string>
			<key>x2</key>
			<string>522.401</string>
			<key>y2</key>
			<string>197.681</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{b8494b86-b9d3-48b8-8b65-5ec469e127ec}</key>
		<dict>
			<key>x1</key>
			<string>485.715</string>
			<key>y1</key>
			<string>184.971</string>
			<key>x2</key>
			<string>485.715</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{6719580f-a7d6-4ee0-886e-014cb7e1b8ca}</key>
		<dict>
			<key>x1</key>
			<string>449.029</string>
			<key>y1</key>
			<string>182.491</string>
			<key>x2</key>
			<string>449.029</string>
			<key>y2</key>
			<string>192.72</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{b5919cc1-30f9-4951-abab-3dd967c5d868}</key>
		<dict>
			<key>x1</key>
			<string>455.094</string>
			<key>y1</key>
			<string>116.309</string>
			<key>x2</key>
			<string>455.094</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{d5105931-d6f8-4f64-8838-c0d3de538b4c}</key>
		<dict>
			<key>x1</key>
			<string>408.319</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>408.319</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{76ecf8e1-9839-4dda-8918-074acabfc14e}</key>
		<dict>
			<key>x1</key>
			<string>365.693</string>
			<key>y1</key>
			<string>110.562</string>
			<key>x2</key>
			<string>365.693</string>
			<key>y2</key>
			<string>125.752</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{c2ddb333-54a2-4b75-8e45-0952ca90a736}</key>
		<dict>
			<key>x1</key>
			<string>348.616</string>
			<key>y1</key>
			<string>111.179</string>
			<key>x2</key>
			<string>348.616</string>
			<key>y2</key>
			<string>97.2284</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{959cad5a-05c0-4b99-9344-bfa562b4e9ac}</key>
		<dict>
			<key>x1</key>
			<string>319.589</string>
			<key>y1</key>
			<string>179.857</string>
			<key>x2</key>
			<string>319.589</string>
			<key>y2</key>
			<string>190.86</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{6358ef61-b43f-41bb-8ed5-5ad2c0e00a47}</key>
		<dict>
			<key>x1</key>
			<string>325.654</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>325.654</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{160ccbc9-9dbc-4442-9fc4-677703fe0d2c}</key>
		<dict>
			<key>x1</key>
			<string>276.156</string>
			<key>y1</key>
			<string>182.491</string>
			<key>x2</key>
			<string>276.156</string>
			<key>y2</key>
			<string>192.72</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{d3a0d563-1204-4560-8baf-4c997b8b591c}</key>
		<dict>
			<key>x1</key>
			<string>239.47</string>
			<key>y1</key>
			<string>180.01</string>
			<key>x2</key>
			<string>239.47</string>
			<key>y2</key>
			<string>190.86</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{14d3b0b8-75da-49eb-8fa2-a223a024b1c7}</key>
		<dict>
			<key>x1</key>
			<string>202.784</string>
			<key>y1</key>
			<string>182.491</string>
			<key>x2</key>
			<string>202.784</string>
			<key>y2</key>
			<string>192.72</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{cb8da6d4-c834-4f71-9537-d1482fc30254}</key>
		<dict>
			<key>x1</key>
			<string>208.849</string>
			<key>y1</key>
			<string>116.309</string>
			<key>x2</key>
			<string>208.849</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{927211af-bf84-4ec6-9dba-3d53ba05870b}</key>
		<dict>
			<key>x1</key>
			<string>156.857</string>
			<key>y1</key>
			<string>184.971</string>
			<key>x2</key>
			<string>156.857</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{23323e49-6d97-4bd1-807f-5bf9e3b85bb0}</key>
		<dict>
			<key>x1</key>
			<string>120.786</string>
			<key>y1</key>
			<string>180.01</string>
			<key>x2</key>
			<string>120.786</string>
			<key>y2</key>
			<string>190.86</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{a357b812-ddbd-4798-a471-6283fd5a86c7}</key>
		<dict>
			<key>x1</key>
			<string>84.7143</string>
			<key>y1</key>
			<string>184.971</string>
			<key>x2</key>
			<string>84.7143</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{db15a0ad-5bcc-4be7-a7b4-b36862e85b70}</key>
		<dict>
			<key>x1</key>
			<string>90.7795</string>
			<key>y1</key>
			<string>118.789</string>
			<key>x2</key>
			<string>90.7795</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
	</dict>
</dict>
</plist>