<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{df6d313b-4f62-4f89-afee-fc7a37dbf54a}</key>
		<dict>
			<key>x</key>
			<string>516.65</string>
			<key>y</key>
			<string>305.575</string>
		</dict>
		<key>{8092ebb0-7eda-4c99-919c-b0fb38ea8a23}</key>
		<dict>
			<key>x</key>
			<string>479</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{96f33821-24a8-428f-b768-2e27c92d0333}</key>
		<dict>
			<key>x</key>
			<string>441.35</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{dbb28f32-847a-4b89-b057-f2480352a8c2}</key>
		<dict>
			<key>x</key>
			<string>441.171</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{6f68269a-62e0-4b87-9bb4-9fb07ea94cd0}</key>
		<dict>
			<key>x</key>
			<string>397.28</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{9e0578b9-1c49-43a9-9306-e339b90e06a4}</key>
		<dict>
			<key>x</key>
			<string>397.28</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{12109762-65c9-40eb-b7eb-f025e7aac0ea}</key>
		<dict>
			<key>x</key>
			<string>360.135</string>
			<key>y</key>
			<string>255.969</string>
		</dict>
		<key>{17b284c2-032a-41de-b2ad-c398f87048d0}</key>
		<dict>
			<key>x</key>
			<string>336.919</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{02c74576-5d60-4f95-b1b7-756afdf94083}</key>
		<dict>
			<key>x</key>
			<string>313.524</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{ed7e650b-36f1-4a35-8595-8b889ee7cfc7}</key>
		<dict>
			<key>x</key>
			<string>313.703</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{483d1161-e78e-49c1-b548-4b8dc1b09fdb}</key>
		<dict>
			<key>x</key>
			<string>269.128</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{be3ab674-a843-47f3-8ab7-6d4602a2555f}</key>
		<dict>
			<key>x</key>
			<string>231.478</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{81e3c0dc-9678-4cc6-8a57-d32595a88630}</key>
		<dict>
			<key>x</key>
			<string>193.828</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{2fba9688-c3d5-46c5-bec6-1aa8d751702f}</key>
		<dict>
			<key>x</key>
			<string>193.649</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{42a5cbfc-8da3-4e62-bb88-de9482882690}</key>
		<dict>
			<key>x</key>
			<string>150.844</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{551b072a-6bf3-4d58-98f4-20981bb5c46b}</key>
		<dict>
			<key>x</key>
			<string>114.786</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{7fdfbe2a-ce07-470e-8fa1-1fd58c8f3d80}</key>
		<dict>
			<key>x</key>
			<string>78.7275</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{b2f65946-ebb1-4e61-8a74-c37e4e625a40}</key>
		<dict>
			<key>x</key>
			<string>78.5484</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{60e890e4-01ab-4932-a970-942318e5722d}</key>
		<dict>
			<key>x</key>
			<string>521.615</string>
			<key>y</key>
			<string>156.756</string>
		</dict>
		<key>{2c0b293e-90a4-415c-b956-98111882fecb}</key>
		<dict>
			<key>x</key>
			<string>484.465</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{9ac0c5d1-21fc-433c-bc26-48ce6dc83509}</key>
		<dict>
			<key>x</key>
			<string>447.315</string>
			<key>y</key>
			<string>151.795</string>
		</dict>
		<key>{1e62cdc2-1934-4d52-9068-a71a0abb6756}</key>
		<dict>
			<key>x</key>
			<string>447.136</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{f8f27814-bef9-4acd-922e-85238002404a}</key>
		<dict>
			<key>x</key>
			<string>403.706</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{db1670f8-3618-424e-8bfa-3cbb6674ce08}</key>
		<dict>
			<key>x</key>
			<string>367.023</string>
			<key>y</key>
			<string>109.63</string>
		</dict>
		<key>{959de4e3-7878-444b-9125-d8727ffe1edb}</key>
		<dict>
			<key>x</key>
			<string>344.096</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{61908ef9-50cd-40cf-9420-94a7427f9980}</key>
		<dict>
			<key>x</key>
			<string>320.99</string>
			<key>y</key>
			<string>149.315</string>
		</dict>
		<key>{c5f0c6cd-860d-41fa-ac47-9d516fd6b1d1}</key>
		<dict>
			<key>x</key>
			<string>321.169</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{97fa5388-1391-42e9-9df1-b68da56f56b4}</key>
		<dict>
			<key>x</key>
			<string>277.094</string>
			<key>y</key>
			<string>151.795</string>
		</dict>
		<key>{7fe3bbfe-a75a-4a69-953d-a3e0680085c5}</key>
		<dict>
			<key>x</key>
			<string>239.944</string>
			<key>y</key>
			<string>149.315</string>
		</dict>
		<key>{49a9fce0-fad8-4dc6-939f-c28f3aaea77b}</key>
		<dict>
			<key>x</key>
			<string>202.794</string>
			<key>y</key>
			<string>151.795</string>
		</dict>
		<key>{1d949885-6a35-49f3-b463-231722f200aa}</key>
		<dict>
			<key>x</key>
			<string>202.615</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{db332228-b434-4164-8f0a-ed3655dcc6ad}</key>
		<dict>
			<key>x</key>
			<string>160.311</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{400528d9-0e49-4b0f-8eae-bdc7c4e47399}</key>
		<dict>
			<key>x</key>
			<string>124.752</string>
			<key>y</key>
			<string>149.315</string>
		</dict>
		<key>{caca7f41-7915-4383-83f1-3c158d0c0668}</key>
		<dict>
			<key>x</key>
			<string>89.1944</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{9156733a-fe5b-4947-94f2-fe4786fed1aa}</key>
		<dict>
			<key>x</key>
			<string>89.0154</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{df6d313b-4f62-4f89-afee-fc7a37dbf54a}</key>
		<dict>
			<key>x1</key>
			<string>516.973</string>
			<key>y1</key>
			<string>306.506</string>
			<key>x2</key>
			<string>516.973</string>
			<key>y2</key>
			<string>322.317</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{8092ebb0-7eda-4c99-919c-b0fb38ea8a23}</key>
		<dict>
			<key>x1</key>
			<string>479.323</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>479.323</string>
			<key>y2</key>
			<string>313.016</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{96f33821-24a8-428f-b768-2e27c92d0333}</key>
		<dict>
			<key>x1</key>
			<string>441.673</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>441.673</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{dbb28f32-847a-4b89-b057-f2480352a8c2}</key>
		<dict>
			<key>x1</key>
			<string>447.738</string>
			<key>y1</key>
			<string>265.128</string>
			<key>x2</key>
			<string>447.738</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{6f68269a-62e0-4b87-9bb4-9fb07ea94cd0}</key>
		<dict>
			<key>x1</key>
			<string>397.602</string>
			<key>y1</key>
			<string>299.066</string>
			<key>x2</key>
			<string>397.602</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{9e0578b9-1c49-43a9-9306-e339b90e06a4}</key>
		<dict>
			<key>x1</key>
			<string>403.488</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>403.488</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{12109762-65c9-40eb-b7eb-f025e7aac0ea}</key>
		<dict>
			<key>x1</key>
			<string>360.457</string>
			<key>y1</key>
			<string>256.9</string>
			<key>x2</key>
			<string>360.457</string>
			<key>y2</key>
			<string>272.091</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{17b284c2-032a-41de-b2ad-c398f87048d0}</key>
		<dict>
			<key>x1</key>
			<string>343.128</string>
			<key>y1</key>
			<string>257.517</string>
			<key>x2</key>
			<string>343.128</string>
			<key>y2</key>
			<string>243.567</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{02c74576-5d60-4f95-b1b7-756afdf94083}</key>
		<dict>
			<key>x1</key>
			<string>313.847</string>
			<key>y1</key>
			<string>296.431</string>
			<key>x2</key>
			<string>313.847</string>
			<key>y2</key>
			<string>313.016</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{ed7e650b-36f1-4a35-8595-8b889ee7cfc7}</key>
		<dict>
			<key>x1</key>
			<string>319.912</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>319.912</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{483d1161-e78e-49c1-b548-4b8dc1b09fdb}</key>
		<dict>
			<key>x1</key>
			<string>269.45</string>
			<key>y1</key>
			<string>299.066</string>
			<key>x2</key>
			<string>269.45</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{be3ab674-a843-47f3-8ab7-6d4602a2555f}</key>
		<dict>
			<key>x1</key>
			<string>231.8</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>231.8</string>
			<key>y2</key>
			<string>313.016</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{81e3c0dc-9678-4cc6-8a57-d32595a88630}</key>
		<dict>
			<key>x1</key>
			<string>194.15</string>
			<key>y1</key>
			<string>299.066</string>
			<key>x2</key>
			<string>194.15</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{2fba9688-c3d5-46c5-bec6-1aa8d751702f}</key>
		<dict>
			<key>x1</key>
			<string>200.215</string>
			<key>y1</key>
			<string>262.648</string>
			<key>x2</key>
			<string>200.215</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{42a5cbfc-8da3-4e62-bb88-de9482882690}</key>
		<dict>
			<key>x1</key>
			<string>151.166</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>151.166</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{551b072a-6bf3-4d58-98f4-20981bb5c46b}</key>
		<dict>
			<key>x1</key>
			<string>115.108</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>115.108</string>
			<key>y2</key>
			<string>313.016</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{7fdfbe2a-ce07-470e-8fa1-1fd58c8f3d80}</key>
		<dict>
			<key>x1</key>
			<string>79.0499</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>79.0499</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{b2f65946-ebb1-4e61-8a74-c37e4e625a40}</key>
		<dict>
			<key>x1</key>
			<string>85.1151</string>
			<key>y1</key>
			<string>265.128</string>
			<key>x2</key>
			<string>85.1151</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{60e890e4-01ab-4932-a970-942318e5722d}</key>
		<dict>
			<key>x1</key>
			<string>521.937</string>
			<key>y1</key>
			<string>157.688</string>
			<key>x2</key>
			<string>521.937</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{2c0b293e-90a4-415c-b956-98111882fecb}</key>
		<dict>
			<key>x1</key>
			<string>484.788</string>
			<key>y1</key>
			<string>155.207</string>
			<key>x2</key>
			<string>484.788</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{9ac0c5d1-21fc-433c-bc26-48ce6dc83509}</key>
		<dict>
			<key>x1</key>
			<string>447.638</string>
			<key>y1</key>
			<string>152.727</string>
			<key>x2</key>
			<string>447.638</string>
			<key>y2</key>
			<string>169.157</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{1e62cdc2-1934-4d52-9068-a71a0abb6756}</key>
		<dict>
			<key>x1</key>
			<string>453.703</string>
			<key>y1</key>
			<string>116.309</string>
			<key>x2</key>
			<string>453.703</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{f8f27814-bef9-4acd-922e-85238002404a}</key>
		<dict>
			<key>x1</key>
			<string>409.915</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>409.915</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{db1670f8-3618-424e-8bfa-3cbb6674ce08}</key>
		<dict>
			<key>x1</key>
			<string>367.346</string>
			<key>y1</key>
			<string>110.562</string>
			<key>x2</key>
			<string>367.346</string>
			<key>y2</key>
			<string>125.752</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{959de4e3-7878-444b-9125-d8727ffe1edb}</key>
		<dict>
			<key>x1</key>
			<string>350.305</string>
			<key>y1</key>
			<string>111.179</string>
			<key>x2</key>
			<string>350.305</string>
			<key>y2</key>
			<string>97.2284</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{61908ef9-50cd-40cf-9420-94a7427f9980}</key>
		<dict>
			<key>x1</key>
			<string>321.312</string>
			<key>y1</key>
			<string>150.093</string>
			<key>x2</key>
			<string>321.312</string>
			<key>y2</key>
			<string>166.677</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{c5f0c6cd-860d-41fa-ac47-9d516fd6b1d1}</key>
		<dict>
			<key>x1</key>
			<string>327.378</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>327.378</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{97fa5388-1391-42e9-9df1-b68da56f56b4}</key>
		<dict>
			<key>x1</key>
			<string>277.416</string>
			<key>y1</key>
			<string>152.727</string>
			<key>x2</key>
			<string>277.416</string>
			<key>y2</key>
			<string>169.157</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{7fe3bbfe-a75a-4a69-953d-a3e0680085c5}</key>
		<dict>
			<key>x1</key>
			<string>240.266</string>
			<key>y1</key>
			<string>150.247</string>
			<key>x2</key>
			<string>240.266</string>
			<key>y2</key>
			<string>166.677</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{49a9fce0-fad8-4dc6-939f-c28f3aaea77b}</key>
		<dict>
			<key>x1</key>
			<string>203.117</string>
			<key>y1</key>
			<string>152.727</string>
			<key>x2</key>
			<string>203.117</string>
			<key>y2</key>
			<string>169.157</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{1d949885-6a35-49f3-b463-231722f200aa}</key>
		<dict>
			<key>x1</key>
			<string>209.182</string>
			<key>y1</key>
			<string>116.309</string>
			<key>x2</key>
			<string>209.182</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{db332228-b434-4164-8f0a-ed3655dcc6ad}</key>
		<dict>
			<key>x1</key>
			<string>160.633</string>
			<key>y1</key>
			<string>155.207</string>
			<key>x2</key>
			<string>160.633</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{400528d9-0e49-4b0f-8eae-bdc7c4e47399}</key>
		<dict>
			<key>x1</key>
			<string>125.075</string>
			<key>y1</key>
			<string>150.247</string>
			<key>x2</key>
			<string>125.075</string>
			<key>y2</key>
			<string>166.677</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{caca7f41-7915-4383-83f1-3c158d0c0668}</key>
		<dict>
			<key>x1</key>
			<string>89.5169</string>
			<key>y1</key>
			<string>155.207</string>
			<key>x2</key>
			<string>89.5169</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{9156733a-fe5b-4947-94f2-fe4786fed1aa}</key>
		<dict>
			<key>x1</key>
			<string>95.582</string>
			<key>y1</key>
			<string>118.789</string>
			<key>x2</key>
			<string>95.582</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
	</dict>
</dict>
</plist>