<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributes</key>
	<dict>
		<key>time</key>
		<dict>
			<key>beats</key>
			<string>3</string>
			<key>per_minute</key>
			<string>100</string>
			<key>beat_type</key>
			<string>4</string>
		</dict>
		<key>metronome</key>
		<dict>
			<key>beat_unit</key>
			<string>quarter</string>
			<key>per_minute</key>
			<string>100</string>
		</dict>
		<key>mwidth</key>
		<string>71.0734</string>
		<key>keysig</key>
		<string>-1</string>
	</dict>
	<key>notes</key>
	<dict>
		<key>{9507b5af-6a5c-4bae-9dc8-9d81ceebab85}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.8</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{d0e57229-1b65-42f3-8dbb-a5f19e6dbbaf}</string>
		</dict>
		<key>{0138eb75-85f9-48e4-bf53-e57462cde325}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.599999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{66c007d2-d270-422f-8e5e-0475d6a76986}</string>
		</dict>
		<key>{5203249b-9d7a-4f47-b277-9c3c7ebd9b81}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.599999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{8c5126c3-480f-47b8-9428-69ef94ffc5bc}</string>
		</dict>
		<key>{9f673bd3-c224-4448-9ade-2243f26afef7}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.599999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{76338070-a9a2-4a2d-8dba-eb79870f6484}</string>
		</dict>
		<key>{e55bd0a5-fdb1-4208-ad31-1efd7dd851a5}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.8</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{bcfe4899-c976-4171-adc8-741da9fc16ad}</string>
		</dict>
		<key>{2711a70f-c513-4b0f-9f24-3b8da2ec5e77}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.599999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>alter</key>
			<string>-1</string>
			<key>step_id</key>
			<string>{5d196a00-9f1a-43e9-a40d-f15ddc937785}</string>
		</dict>
		<key>{19da97af-68b2-4fe7-96d0-f578f9ff6b25}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.599999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{0a3fe70c-287a-4866-ac53-cff860a8f894}</string>
		</dict>
		<key>{ac9a6e9f-a822-4753-b9a4-46277fd3bb9d}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.599999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>alter</key>
			<string>-1</string>
			<key>step_id</key>
			<string>{d4e11e94-f45b-4a7b-899d-3cb534a2b60f}</string>
		</dict>
		<key>{d613f9d6-bfa0-48fe-930b-adfc80562092}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.299999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{39b83e70-42fd-4221-a1b8-0ca8f37dcaab}</string>
		</dict>
		<key>{e784f6bd-d6cd-4c89-af6a-a1ff664a918d}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.8</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{f153b57c-ff44-487b-bb1a-d4ad955718cd}</string>
		</dict>
		<key>{6e0d88b4-1f08-4622-abef-9084616a9f57}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.299999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>alter</key>
			<string>-1</string>
			<key>step_id</key>
			<string>{7339e37b-ea50-469b-8dfa-b988d96b70d3}</string>
		</dict>
		<key>{8bfe065f-6785-465a-a51c-759b3c8451a2}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.599999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{29d2da1a-e6e8-43e9-b2df-c11206ad0c2a}</string>
		</dict>
		<key>{f47a3e97-0972-4144-a349-75c700df525b}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.599999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{1f00b073-8c9c-45ba-a5c8-80bfe48f1f5b}</string>
		</dict>
		<key>{31c7f02a-9343-422b-9bb7-342dfd80b4b4}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.2</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{27ded5bd-cc5c-42c2-9f5e-9dd289d0ef38}</string>
		</dict>
		<key>{d5d1c261-cd1b-4644-a3d9-e327c0860de5}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.599999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>alter</key>
			<string>-1</string>
			<key>step_id</key>
			<string>{351dcd6d-db4f-4d6f-8b73-8a74cebe996a}</string>
		</dict>
		<key>{e9c5c820-4233-472e-954c-c623a9da3c80}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.599999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{2fe6edaa-4ceb-4e68-92d5-35e3f04abd29}</string>
		</dict>
		<key>{26314286-0504-44db-894f-c75cdf5b0c31}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.599999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{b5d8b24c-c600-428f-ac9c-c5420ff1371a}</string>
		</dict>
		<key>{d4bd2aa3-0497-4f6f-8d58-b075eefddbe0}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.8</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{31111317-9de9-4312-ab6d-265b19ba39bf}</string>
		</dict>
		<key>{5e10df6c-9300-4461-8d88-f1a1e50beaab}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.599999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{a9d178a3-d8a7-4987-8a70-e8720231829f}</string>
		</dict>
		<key>{b25d2837-d82e-4133-9c2a-52750606c427}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.599999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{ad3bbfab-57de-4b14-8563-d5273f3a37bd}</string>
		</dict>
		<key>{02c222c4-8512-45ca-97f5-9ba1b5cfa8a1}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.599999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{aef98149-f987-4798-a6b6-b7cc172f3621}</string>
		</dict>
		<key>{af1499c2-44d4-4e2f-9d2e-b521bdb0339f}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.2</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{90d64882-3ec0-4a1e-8996-1759df2e8adf}</string>
		</dict>
		<key>{24a2116e-3060-4764-b18c-0f3bd6cfccbb}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.599999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>alter</key>
			<string>-1</string>
			<key>step_id</key>
			<string>{9045b5b9-7d23-4344-859c-1b691670fbe9}</string>
		</dict>
		<key>{5eeb1938-2675-4d9e-a361-872e3e61187a}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.599999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{1eaea08e-5b39-474c-874f-65a0c708ecdc}</string>
		</dict>
		<key>{ed9a0311-ee9b-4804-9359-bd0955747d4d}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.599999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>alter</key>
			<string>-1</string>
			<key>step_id</key>
			<string>{1efd5742-ae4b-4324-ba10-2b869e5376c4}</string>
		</dict>
		<key>{28ffe408-e620-4124-add8-97fbaccc4b7b}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.299999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{f288f5e5-e998-4868-a756-7ba645276d4a}</string>
		</dict>
		<key>{c656ee6a-9153-49fa-9a90-6fbfc7cf173d}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.2</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{12e8129a-a16f-48de-8aba-c63aa36a68f3}</string>
		</dict>
		<key>{68800c53-78cf-49ca-a728-58ad48bf262e}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.299999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>alter</key>
			<string>-1</string>
			<key>step_id</key>
			<string>{4366acbc-a0ae-4a07-9eef-549174399388}</string>
		</dict>
		<key>{07f5c2c9-4c1e-4348-93d4-192d1ef3e737}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.599999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{d2c8b1a5-ac19-4359-941c-d2339252135e}</string>
		</dict>
		<key>{18e0b39b-d882-4e6c-8753-29cee175c4b6}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.599999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{ea162b7b-c28d-4711-8c8c-257cb1da40b0}</string>
		</dict>
		<key>{640b44a2-6370-4c8f-852b-0343c42a3a41}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.599999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>alter</key>
			<string>-1</string>
			<key>step_id</key>
			<string>{fa3b15ff-d2d8-4adc-8432-409373324bb6}</string>
		</dict>
		<key>{74b8fd53-47ac-430c-82c2-57757d8e06a1}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.8</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{d8d27f06-1935-4c7e-8998-f19b601e62d5}</string>
		</dict>
		<key>{ddfa9f29-9ead-47f6-ab63-840a7fdc9d39}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.599999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{f585c7cc-be1c-45e7-b520-dae4c0d37383}</string>
		</dict>
		<key>{78ec7cc0-95e0-4a4e-bd67-4d13a614a589}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.599999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{739fe778-781a-4fd3-864d-845a8144748e}</string>
		</dict>
		<key>{01f94322-106f-445c-a331-e0ec6b977e01}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.599999</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>step_id</key>
			<string>{82d6a70a-0ff4-4fae-b673-9acea041b9e7}</string>
		</dict>
	</dict>
	<key>rests</key>
	<dict>
		<key>{abb83567-5226-45fd-ab5c-f9844be36e66}</key>
		<dict>
			<key>duration</key>
			<string>1.8</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
		</dict>
		<key>{8c0befb5-d007-482c-b76a-782b69603880}</key>
		<dict>
			<key>duration</key>
			<string>1.8</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
		</dict>
		<key>{d1c4b2d8-8a53-4c8d-9fd0-a79936dce33a}</key>
		<dict>
			<key>duration</key>
			<string>1.8</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
		</dict>
		<key>{815c0b04-5b47-4ddc-ada8-fad97fc7b9d5}</key>
		<dict>
			<key>duration</key>
			<string>1.8</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
		</dict>
		<key>{4066a23c-cf33-4bba-89ae-886ea9f07e7e}</key>
		<dict>
			<key>duration</key>
			<string>1.8</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
		</dict>
		<key>{f506c62d-9009-4979-b427-b44487d56b17}</key>
		<dict>
			<key>duration</key>
			<string>1.8</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
		</dict>
		<key>{d0d40175-87f6-4606-bfea-d2eee899fdc4}</key>
		<dict>
			<key>duration</key>
			<string>1.8</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
		</dict>
		<key>{9472f793-d65b-46c7-aad5-079e7aa346fd}</key>
		<dict>
			<key>duration</key>
			<string>1.8</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
		</dict>
		<key>{7a96778e-cd8b-4066-af2e-80467993206c}</key>
		<dict>
			<key>duration</key>
			<string>0.599999</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
		</dict>
		<key>{0a3af1eb-5919-4549-9a5f-8176710f2d66}</key>
		<dict>
			<key>duration</key>
			<string>0.599999</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
		</dict>
		<key>{9d40e02b-9130-4005-95d8-26f528dfc4a5}</key>
		<dict>
			<key>duration</key>
			<string>1.8</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
		</dict>
		<key>{ba069b28-151e-4e30-be53-6a4dc788afc5}</key>
		<dict>
			<key>duration</key>
			<string>1.8</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
		</dict>
		<key>{0399dca2-4e0a-4143-b2ae-05017a260ca2}</key>
		<dict>
			<key>duration</key>
			<string>1.8</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
		</dict>
		<key>{585f840d-8874-40d8-96c6-7dffd66e9379}</key>
		<dict>
			<key>duration</key>
			<string>1.8</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
		</dict>
		<key>{d50982d9-f222-41dd-bdef-b697f9016ab5}</key>
		<dict>
			<key>duration</key>
			<string>1.8</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
		</dict>
		<key>{cbd34008-cdfd-465a-8227-e354b1697901}</key>
		<dict>
			<key>duration</key>
			<string>1.8</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
		</dict>
		<key>{cb948be3-c710-4978-bd0d-c76aac6cb309}</key>
		<dict>
			<key>duration</key>
			<string>1.8</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
		</dict>
		<key>{e3aea3f1-58f2-4d1c-bf3c-daed76b8bf0b}</key>
		<dict>
			<key>duration</key>
			<string>1.8</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
		</dict>
	</dict>
	<key>events</key>
	<dict>
		<key>0</key>
		<dict>
			<key>elid</key>
			<string>0</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>0</string>
			<key>identifys</key>
			<array>
				
				<string>rest_{abb83567-5226-45fd-ab5c-f9844be36e66}</string>
				
				<string>rest_{8c0befb5-d007-482c-b76a-782b69603880}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>elid</key>
			<string>1</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>1800</string>
			<key>identifys</key>
			<array>
				
				<string>rest_{d1c4b2d8-8a53-4c8d-9fd0-a79936dce33a}</string>
				
				<string>rest_{815c0b04-5b47-4ddc-ada8-fad97fc7b9d5}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>elid</key>
			<string>2</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>3600</string>
			<key>identifys</key>
			<array>
				
				<string>rest_{4066a23c-cf33-4bba-89ae-886ea9f07e7e}</string>
				
				<string>rest_{f506c62d-9009-4979-b427-b44487d56b17}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>elid</key>
			<string>3</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>5400</string>
			<key>identifys</key>
			<array>
				
				<string>rest_{d0d40175-87f6-4606-bfea-d2eee899fdc4}</string>
				
				<string>rest_{9472f793-d65b-46c7-aad5-079e7aa346fd}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>elid</key>
			<string>4</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>7200</string>
			<key>identifys</key>
			<array>
				
				<string>note_{9507b5af-6a5c-4bae-9dc8-9d81ceebab85}</string>
				
				<string>note_{0138eb75-85f9-48e4-bf53-e57462cde325}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>elid</key>
			<string>5</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>7800</string>
			<key>identifys</key>
			<array>
				
				<string>note_{5203249b-9d7a-4f47-b277-9c3c7ebd9b81}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>elid</key>
			<string>6</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>8400</string>
			<key>identifys</key>
			<array>
				
				<string>note_{9f673bd3-c224-4448-9ade-2243f26afef7}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>elid</key>
			<string>7</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>9000</string>
			<key>identifys</key>
			<array>
				
				<string>note_{e55bd0a5-fdb1-4208-ad31-1efd7dd851a5}</string>
				
				<string>note_{2711a70f-c513-4b0f-9f24-3b8da2ec5e77}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>elid</key>
			<string>8</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>9600</string>
			<key>identifys</key>
			<array>
				
				<string>note_{19da97af-68b2-4fe7-96d0-f578f9ff6b25}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>elid</key>
			<string>9</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>10200</string>
			<key>identifys</key>
			<array>
				
				<string>note_{ac9a6e9f-a822-4753-b9a4-46277fd3bb9d}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>elid</key>
			<string>10</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>10800</string>
			<key>identifys</key>
			<array>
				
				<string>note_{d613f9d6-bfa0-48fe-930b-adfc80562092}</string>
				
				<string>note_{e784f6bd-d6cd-4c89-af6a-a1ff664a918d}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>11</key>
		<dict>
			<key>elid</key>
			<string>11</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>11100</string>
			<key>identifys</key>
			<array>
				
				<string>note_{6e0d88b4-1f08-4622-abef-9084616a9f57}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>12</key>
		<dict>
			<key>elid</key>
			<string>12</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>11400</string>
			<key>identifys</key>
			<array>
				
				<string>note_{8bfe065f-6785-465a-a51c-759b3c8451a2}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>13</key>
		<dict>
			<key>elid</key>
			<string>13</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>12000</string>
			<key>identifys</key>
			<array>
				
				<string>note_{f47a3e97-0972-4144-a349-75c700df525b}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>14</key>
		<dict>
			<key>elid</key>
			<string>14</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>12600</string>
			<key>identifys</key>
			<array>
				
				<string>note_{31c7f02a-9343-422b-9bb7-342dfd80b4b4}</string>
				
				<string>note_{d5d1c261-cd1b-4644-a3d9-e327c0860de5}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>15</key>
		<dict>
			<key>elid</key>
			<string>15</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>13200</string>
			<key>identifys</key>
			<array>
				
				<string>note_{e9c5c820-4233-472e-954c-c623a9da3c80}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>16</key>
		<dict>
			<key>elid</key>
			<string>16</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>13800</string>
			<key>identifys</key>
			<array>
				
				<string>note_{26314286-0504-44db-894f-c75cdf5b0c31}</string>
				
				<string>rest_{7a96778e-cd8b-4066-af2e-80467993206c}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>17</key>
		<dict>
			<key>elid</key>
			<string>17</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>14400</string>
			<key>identifys</key>
			<array>
				
				<string>note_{d4bd2aa3-0497-4f6f-8d58-b075eefddbe0}</string>
				
				<string>note_{5e10df6c-9300-4461-8d88-f1a1e50beaab}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>18</key>
		<dict>
			<key>elid</key>
			<string>18</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>15000</string>
			<key>identifys</key>
			<array>
				
				<string>note_{b25d2837-d82e-4133-9c2a-52750606c427}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>19</key>
		<dict>
			<key>elid</key>
			<string>19</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>15600</string>
			<key>identifys</key>
			<array>
				
				<string>note_{02c222c4-8512-45ca-97f5-9ba1b5cfa8a1}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>20</key>
		<dict>
			<key>elid</key>
			<string>20</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>16200</string>
			<key>identifys</key>
			<array>
				
				<string>note_{af1499c2-44d4-4e2f-9d2e-b521bdb0339f}</string>
				
				<string>note_{24a2116e-3060-4764-b18c-0f3bd6cfccbb}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>21</key>
		<dict>
			<key>elid</key>
			<string>21</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>16800</string>
			<key>identifys</key>
			<array>
				
				<string>note_{5eeb1938-2675-4d9e-a361-872e3e61187a}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>22</key>
		<dict>
			<key>elid</key>
			<string>22</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>17400</string>
			<key>identifys</key>
			<array>
				
				<string>note_{ed9a0311-ee9b-4804-9359-bd0955747d4d}</string>
				
				<string>rest_{0a3af1eb-5919-4549-9a5f-8176710f2d66}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>23</key>
		<dict>
			<key>elid</key>
			<string>23</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>18000</string>
			<key>identifys</key>
			<array>
				
				<string>note_{28ffe408-e620-4124-add8-97fbaccc4b7b}</string>
				
				<string>note_{c656ee6a-9153-49fa-9a90-6fbfc7cf173d}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>24</key>
		<dict>
			<key>elid</key>
			<string>24</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>18300</string>
			<key>identifys</key>
			<array>
				
				<string>note_{68800c53-78cf-49ca-a728-58ad48bf262e}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>25</key>
		<dict>
			<key>elid</key>
			<string>25</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>18600</string>
			<key>identifys</key>
			<array>
				
				<string>note_{07f5c2c9-4c1e-4348-93d4-192d1ef3e737}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>26</key>
		<dict>
			<key>elid</key>
			<string>26</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>19200</string>
			<key>identifys</key>
			<array>
				
				<string>note_{18e0b39b-d882-4e6c-8753-29cee175c4b6}</string>
				
				<string>note_{640b44a2-6370-4c8f-852b-0343c42a3a41}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>27</key>
		<dict>
			<key>elid</key>
			<string>27</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>19800</string>
			<key>identifys</key>
			<array>
				
				<string>note_{74b8fd53-47ac-430c-82c2-57757d8e06a1}</string>
				
				<string>note_{ddfa9f29-9ead-47f6-ab63-840a7fdc9d39}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>28</key>
		<dict>
			<key>elid</key>
			<string>28</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>20400</string>
			<key>identifys</key>
			<array>
				
				<string>note_{78ec7cc0-95e0-4a4e-bd67-4d13a614a589}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>29</key>
		<dict>
			<key>elid</key>
			<string>29</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>21000</string>
			<key>identifys</key>
			<array>
				
				<string>note_{01f94322-106f-445c-a331-e0ec6b977e01}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>30</key>
		<dict>
			<key>elid</key>
			<string>30</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>21600</string>
			<key>identifys</key>
			<array>
				
				<string>rest_{9d40e02b-9130-4005-95d8-26f528dfc4a5}</string>
				
				<string>rest_{ba069b28-151e-4e30-be53-6a4dc788afc5}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>31</key>
		<dict>
			<key>elid</key>
			<string>31</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>23400</string>
			<key>identifys</key>
			<array>
				
				<string>rest_{0399dca2-4e0a-4143-b2ae-05017a260ca2}</string>
				
				<string>rest_{585f840d-8874-40d8-96c6-7dffd66e9379}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>32</key>
		<dict>
			<key>elid</key>
			<string>32</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>25200</string>
			<key>identifys</key>
			<array>
				
				<string>rest_{d50982d9-f222-41dd-bdef-b697f9016ab5}</string>
				
				<string>rest_{cbd34008-cdfd-465a-8227-e354b1697901}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>33</key>
		<dict>
			<key>elid</key>
			<string>33</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>27000</string>
			<key>identifys</key>
			<array>
				
				<string>rest_{cb948be3-c710-4978-bd0d-c76aac6cb309}</string>
				
				<string>rest_{e3aea3f1-58f2-4d1c-bf3c-daed76b8bf0b}</string>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
		<key>34</key>
		<dict>
			<key>elid</key>
			<string>-2</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>28800</string>
			<key>identifys</key>
			<array>
			</array>
			<key>mduration</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>metronomes</key>
	<dict>
		<key>0</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>600</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>1200</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>1800</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>2400</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>3000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>3600</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>4200</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>4800</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>5400</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>6000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>6600</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>7200</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>7800</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>8400</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>9000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>9600</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>10200</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>10800</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>11400</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>12000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>12600</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>13200</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>13800</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>14400</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>15000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>15600</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>16200</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>16800</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>17400</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>18000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>18600</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>19200</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>19800</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>20400</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>21000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>21600</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>22200</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>22800</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>23400</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>24000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>24600</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>25200</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>25800</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>26400</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>27000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>27600</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>28200</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
	</dict>
</dict>
</plist>