<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>pen_width</key>
	<string>0.40</string>
	<key>xend</key>
	<real>2029.58</real>
	<key>stafflines</key>
	<dict>
		<key>0</key>
		<dict>
			<key>x</key>
			<string>10.4173</string>
			<key>y</key>
			<string>16.7302</string>
			<key>bx</key>
			<string>10.4173</string>
			<key>by</key>
			<string>52.3098</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{48ebf21f-6a47-48bc-8f17-1cc764b14292}</key>
		<dict>
			<key>x</key>
			<string>1406</string>
			<key>y</key>
			<string>81.2184</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{dd4d1359-c631-4c26-90c6-0a321526b7cb}</key>
		<dict>
			<key>x</key>
			<string>1406</string>
			<key>y</key>
			<string>41.5334</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{5d914a03-22d4-4aea-8eff-d6291a39a854}</key>
		<dict>
			<key>x</key>
			<string>1370.8</string>
			<key>y</key>
			<string>71.2972</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{806ff9f8-eaa7-40ce-80bd-ece3e85acf44}</key>
		<dict>
			<key>x</key>
			<string>1370.8</string>
			<key>y</key>
			<string>31.6121</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{39b424d8-d804-403a-9549-75025b61c898}</key>
		<dict>
			<key>x</key>
			<string>1340.36</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{72aa1e8a-77a4-4da0-a16e-aebb6caf1862}</key>
		<dict>
			<key>x</key>
			<string>1340.36</string>
			<key>y</key>
			<string>34.0925</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{85ac49b5-48ef-4635-839d-f938afa8cfa7}</key>
		<dict>
			<key>x</key>
			<string>1309.92</string>
			<key>y</key>
			<string>71.2972</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{d7de5386-9c69-4ea7-a09b-51fe5b7ae5e8}</key>
		<dict>
			<key>x</key>
			<string>1309.92</string>
			<key>y</key>
			<string>31.6121</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{051950b9-9a6e-455e-9c71-06e7c5c2118f}</key>
		<dict>
			<key>x</key>
			<string>1279.49</string>
			<key>y</key>
			<string>78.7381</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{839904f0-3107-47ea-9c3f-c54ba7aa4864}</key>
		<dict>
			<key>x</key>
			<string>1279.49</string>
			<key>y</key>
			<string>39.0531</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{25b74144-1209-462b-a47b-b9245cab752c}</key>
		<dict>
			<key>x</key>
			<string>1244.29</string>
			<key>y</key>
			<string>76.2578</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{92e6badd-2c9e-41e2-9134-efaac5fbee4b}</key>
		<dict>
			<key>x</key>
			<string>1213.85</string>
			<key>y</key>
			<string>71.2972</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{1233438d-7920-4e1b-969f-e73c8027f60c}</key>
		<dict>
			<key>x</key>
			<string>1183.41</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{f5bd73a4-cacf-4676-9967-bae2c54618fb}</key>
		<dict>
			<key>x</key>
			<string>1152.98</string>
			<key>y</key>
			<string>71.2972</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{4c1368cc-a246-4780-8f7c-b6f6d71e0181}</key>
		<dict>
			<key>x</key>
			<string>1118.19</string>
			<key>y</key>
			<string>41.5334</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{07a2bc1b-1f1e-4b70-87aa-00662bf76e24}</key>
		<dict>
			<key>x</key>
			<string>1088.16</string>
			<key>y</key>
			<string>36.5728</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{fd1e3d34-8ff7-47f0-95c9-5c327c0e838e}</key>
		<dict>
			<key>x</key>
			<string>1058.14</string>
			<key>y</key>
			<string>39.0531</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0dc22c70-7c3f-4d39-944b-72bb8874ced3}</key>
		<dict>
			<key>x</key>
			<string>1026.47</string>
			<key>y</key>
			<string>81.2184</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{b8c27a7a-6e7a-44e8-806e-dff8fafc2138}</key>
		<dict>
			<key>x</key>
			<string>1028.11</string>
			<key>y</key>
			<string>36.5728</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{753bf4e0-fa56-437a-966d-4dc3200d0ae1}</key>
		<dict>
			<key>x</key>
			<string>991.312</string>
			<key>y</key>
			<string>78.7381</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{93d46952-e06d-4a91-a16a-1cadd2219b92}</key>
		<dict>
			<key>x</key>
			<string>960.92</string>
			<key>y</key>
			<string>76.2578</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{5dac718f-eff7-4be7-8fb9-f4b140ff1f9f}</key>
		<dict>
			<key>x</key>
			<string>930.527</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{c76690db-8c26-492c-81d2-a5a8f2d511f4}</key>
		<dict>
			<key>x</key>
			<string>900.135</string>
			<key>y</key>
			<string>71.2972</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{dd22cd8a-28a8-4753-a783-fb709d970ca6}</key>
		<dict>
			<key>x</key>
			<string>899.956</string>
			<key>y</key>
			<string>31.6121</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b17521ce-41e4-4a89-8b19-1b0b84a70999}</key>
		<dict>
			<key>x</key>
			<string>864.757</string>
			<key>y</key>
			<string>39.0531</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{5aa107d6-cabb-4339-95bf-53ec6f528825}</key>
		<dict>
			<key>x</key>
			<string>834.32</string>
			<key>y</key>
			<string>34.0925</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{82a7516b-147c-4a38-92ed-76f1d7fbe863}</key>
		<dict>
			<key>x</key>
			<string>803.883</string>
			<key>y</key>
			<string>36.5728</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{89076b2c-e8a7-4d1c-b3f3-a0b09b3c0944}</key>
		<dict>
			<key>x</key>
			<string>773.446</string>
			<key>y</key>
			<string>39.0531</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{3a072346-a646-4619-957e-e9621f7f9b79}</key>
		<dict>
			<key>x</key>
			<string>738.247</string>
			<key>y</key>
			<string>76.2578</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{97d64a04-fe01-495f-9a90-56059c3b99ab}</key>
		<dict>
			<key>x</key>
			<string>707.81</string>
			<key>y</key>
			<string>71.2972</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{4e1dce97-7712-4558-b66f-368680b347d4}</key>
		<dict>
			<key>x</key>
			<string>677.373</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{607fb455-411f-45fb-8a94-b27e1fd5d76d}</key>
		<dict>
			<key>x</key>
			<string>646.936</string>
			<key>y</key>
			<string>71.2972</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{ce619525-219a-4e37-9d0a-64a91580e1e9}</key>
		<dict>
			<key>x</key>
			<string>611.737</string>
			<key>y</key>
			<string>41.5334</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{1f6fd79f-5d46-4960-b9f1-b12604a627c7}</key>
		<dict>
			<key>x</key>
			<string>581.3</string>
			<key>y</key>
			<string>36.5728</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7b32fc7e-9c5c-4e1f-8d18-bfa52d7abf02}</key>
		<dict>
			<key>x</key>
			<string>550.863</string>
			<key>y</key>
			<string>39.0531</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d41dc8d6-80f0-4890-bbc8-9bdc0a746cdd}</key>
		<dict>
			<key>x</key>
			<string>520.426</string>
			<key>y</key>
			<string>36.5728</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>rests</key>
	<dict>
		<key>{7c048dc0-687c-40e0-8910-d7923d7f8899}</key>
		<dict>
			<key>x</key>
			<string>1912.04</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{52069ba1-df18-4312-91b0-ae03979c11c1}</key>
		<dict>
			<key>x</key>
			<string>1912.04</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ef7c4e0c-2afa-480d-a9fe-7973a0aeb699}</key>
		<dict>
			<key>x</key>
			<string>1785.53</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{34328ae7-5713-4da3-b490-fb6c80e784c6}</key>
		<dict>
			<key>x</key>
			<string>1785.53</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{5b7f761c-90a2-4d2d-84ad-28e931b4b0a4}</key>
		<dict>
			<key>x</key>
			<string>1659.02</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{1516092a-0c8e-4584-b25f-0e9d543921e5}</key>
		<dict>
			<key>x</key>
			<string>1659.02</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2d2d7cf1-703e-4a94-a31b-5a91492bed27}</key>
		<dict>
			<key>x</key>
			<string>1532.51</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{3e8f125a-6ede-4606-9b78-edb7b59e17eb}</key>
		<dict>
			<key>x</key>
			<string>1532.51</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d7c42272-0457-4e8a-8af7-e80850e10483}</key>
		<dict>
			<key>x</key>
			<string>1152.98</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f12d1174-aba3-4fb5-a8d4-1b90cfd33b2f}</key>
		<dict>
			<key>x</key>
			<string>960.92</string>
			<key>y</key>
			<string>26.6515</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ce77b27f-a44d-44fa-b2e6-9a050be55950}</key>
		<dict>
			<key>x</key>
			<string>773.446</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{7ef553de-68ba-492f-ba4f-dda4c809c0b1}</key>
		<dict>
			<key>x</key>
			<string>646.936</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{69b60ba7-fba8-40f8-8196-c28c43295a7f}</key>
		<dict>
			<key>x</key>
			<string>520.426</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{b97b51c2-5f7d-4fe8-b6a6-01d40b9fa6b3}</key>
		<dict>
			<key>x</key>
			<string>393.916</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{2811f775-442c-4b3e-8cc3-e7d67ab9b952}</key>
		<dict>
			<key>x</key>
			<string>393.916</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{98f73414-2b37-48a0-bc29-00af85afc514}</key>
		<dict>
			<key>x</key>
			<string>267.406</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{29fc2ad2-ece9-47cb-9079-36fc5f5508d2}</key>
		<dict>
			<key>x</key>
			<string>267.406</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{23b6cea9-cae5-470e-b273-2dc63155afb1}</key>
		<dict>
			<key>x</key>
			<string>140.896</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{fea9ba74-fbdc-44af-aa9e-41a8643fcf96}</key>
		<dict>
			<key>x</key>
			<string>140.896</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7e1c4cf0-4cf2-4b2d-9447-bf1449bedd00}</key>
		<dict>
			<key>x</key>
			<string>48.7831</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{7175b403-a4ca-41bd-9320-bf2e638f93be}</key>
		<dict>
			<key>x</key>
			<string>48.7831</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>dots</key>
	<dict>
	</dict>
	<key>note_dots</key>
	<dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{1c4e8927-c5a9-443a-b973-dd75a739582b}</key>
		<dict>
			<key>x1</key>
			<string>1371.12</string>
			<key>y1</key>
			<string>72.2289</string>
			<key>x2</key>
			<string>1371.12</string>
			<key>y2</key>
			<string>88.6594</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{71f54d03-a12d-441a-b81f-6fcef85c4111}</key>
		<dict>
			<key>x1</key>
			<string>1377.01</string>
			<key>y1</key>
			<string>30.6805</string>
			<key>x2</key>
			<string>1377.01</string>
			<key>y2</key>
			<string>14.87</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{12884645-9d73-413a-9244-b3c30bff642a}</key>
		<dict>
			<key>x1</key>
			<string>1340.68</string>
			<key>y1</key>
			<string>74.7092</string>
			<key>x2</key>
			<string>1340.68</string>
			<key>y2</key>
			<string>90.5196</string>
			<key>height</key>
			<string>16.7421</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{fcb80324-d0b9-4d26-bb88-00a41b0408f3}</key>
		<dict>
			<key>x1</key>
			<string>1346.57</string>
			<key>y1</key>
			<string>33.1608</string>
			<key>x2</key>
			<string>1346.57</string>
			<key>y2</key>
			<string>16.7302</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0205353c-2f53-4fb4-a000-f872e38e9efc}</key>
		<dict>
			<key>x1</key>
			<string>1310.25</string>
			<key>y1</key>
			<string>72.2289</string>
			<key>x2</key>
			<string>1310.25</string>
			<key>y2</key>
			<string>88.6594</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{d74ff07e-3e2f-4e28-b41a-b725243e47c4}</key>
		<dict>
			<key>x1</key>
			<string>1316.13</string>
			<key>y1</key>
			<string>30.6805</string>
			<key>x2</key>
			<string>1316.13</string>
			<key>y2</key>
			<string>14.87</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{166c831e-f0e6-4d9f-99fe-4e4e5b1614d3}</key>
		<dict>
			<key>x1</key>
			<string>1279.81</string>
			<key>y1</key>
			<string>79.6698</string>
			<key>x2</key>
			<string>1279.81</string>
			<key>y2</key>
			<string>94.2401</string>
			<key>height</key>
			<string>15.502</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{6cf24227-47f4-419f-9a46-821ebfe4deea}</key>
		<dict>
			<key>x1</key>
			<string>1285.69</string>
			<key>y1</key>
			<string>38.1214</string>
			<key>x2</key>
			<string>1285.69</string>
			<key>y2</key>
			<string>21.6909</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b7da1234-d725-44e6-9f2a-cc723e7de73e}</key>
		<dict>
			<key>x1</key>
			<string>1244.61</string>
			<key>y1</key>
			<string>77.1895</string>
			<key>x2</key>
			<string>1244.61</string>
			<key>y2</key>
			<string>92.3799</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{22be3dbd-f99f-4093-8fee-74d62d8e5959}</key>
		<dict>
			<key>x1</key>
			<string>1214.17</string>
			<key>y1</key>
			<string>72.2289</string>
			<key>x2</key>
			<string>1214.17</string>
			<key>y2</key>
			<string>88.6594</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{53deb090-5cfe-4c8f-bcab-59f94d43df4b}</key>
		<dict>
			<key>x1</key>
			<string>1183.74</string>
			<key>y1</key>
			<string>74.7092</string>
			<key>x2</key>
			<string>1183.74</string>
			<key>y2</key>
			<string>90.5196</string>
			<key>height</key>
			<string>16.7421</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{b9ce4284-6f2f-430b-9e9a-56e160ba538a}</key>
		<dict>
			<key>x1</key>
			<string>1153.3</string>
			<key>y1</key>
			<string>72.2289</string>
			<key>x2</key>
			<string>1153.3</string>
			<key>y2</key>
			<string>88.6594</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{f5649314-ab1c-490a-848f-c487483b9263}</key>
		<dict>
			<key>x1</key>
			<string>1124.4</string>
			<key>y1</key>
			<string>40.6017</string>
			<key>x2</key>
			<string>1124.4</string>
			<key>y2</key>
			<string>24.1712</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b96d29e0-224b-405e-9e1b-b3922dc357a5}</key>
		<dict>
			<key>x1</key>
			<string>1094.37</string>
			<key>y1</key>
			<string>35.6411</string>
			<key>x2</key>
			<string>1094.37</string>
			<key>y2</key>
			<string>19.2106</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{5c5f9ecc-d14c-4827-9c26-d74549214767}</key>
		<dict>
			<key>x1</key>
			<string>1064.35</string>
			<key>y1</key>
			<string>38.1214</string>
			<key>x2</key>
			<string>1064.35</string>
			<key>y2</key>
			<string>21.6909</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{8c72f86f-8824-41ab-b8d4-87d50d974138}</key>
		<dict>
			<key>x1</key>
			<string>1034.32</string>
			<key>y1</key>
			<string>35.6411</string>
			<key>x2</key>
			<string>1034.32</string>
			<key>y2</key>
			<string>19.2106</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2ccf8202-5f9b-4551-969d-732310b4fe8b}</key>
		<dict>
			<key>x1</key>
			<string>991.634</string>
			<key>y1</key>
			<string>79.6698</string>
			<key>x2</key>
			<string>991.634</string>
			<key>y2</key>
			<string>94.2401</string>
			<key>height</key>
			<string>15.502</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{8a32ea53-6b2f-4dcd-9325-5c759d186293}</key>
		<dict>
			<key>x1</key>
			<string>961.242</string>
			<key>y1</key>
			<string>77.1895</string>
			<key>x2</key>
			<string>961.242</string>
			<key>y2</key>
			<string>92.3799</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{0429234b-f19e-494a-b25a-ff5dc278d217}</key>
		<dict>
			<key>x1</key>
			<string>930.85</string>
			<key>y1</key>
			<string>74.7092</string>
			<key>x2</key>
			<string>930.85</string>
			<key>y2</key>
			<string>90.5196</string>
			<key>height</key>
			<string>16.7421</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{7361069a-1e5d-4aa2-8e5e-f67488f369d6}</key>
		<dict>
			<key>x1</key>
			<string>900.458</string>
			<key>y1</key>
			<string>72.2289</string>
			<key>x2</key>
			<string>900.458</string>
			<key>y2</key>
			<string>88.6594</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{32a87024-37bc-4fe7-9ab7-f007bca9615d}</key>
		<dict>
			<key>x1</key>
			<string>906.523</string>
			<key>y1</key>
			<string>30.8502</string>
			<key>x2</key>
			<string>906.523</string>
			<key>y2</key>
			<string>14.87</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{61370764-9102-4988-a40d-ace021de0886}</key>
		<dict>
			<key>x1</key>
			<string>870.965</string>
			<key>y1</key>
			<string>38.1214</string>
			<key>x2</key>
			<string>870.965</string>
			<key>y2</key>
			<string>21.6909</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{bf18502f-a360-47fd-84f7-a8ac87cfe95f}</key>
		<dict>
			<key>x1</key>
			<string>840.529</string>
			<key>y1</key>
			<string>33.1608</string>
			<key>x2</key>
			<string>840.529</string>
			<key>y2</key>
			<string>16.7302</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{abf6282f-6253-4671-8044-e5d3904b47b0}</key>
		<dict>
			<key>x1</key>
			<string>810.092</string>
			<key>y1</key>
			<string>35.6411</string>
			<key>x2</key>
			<string>810.092</string>
			<key>y2</key>
			<string>19.2106</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{058a8899-b616-4f54-8b74-49d4c52492e9}</key>
		<dict>
			<key>x1</key>
			<string>779.655</string>
			<key>y1</key>
			<string>38.1214</string>
			<key>x2</key>
			<string>779.655</string>
			<key>y2</key>
			<string>21.6909</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c388dfc6-886c-4288-94e2-129f0b9987ef}</key>
		<dict>
			<key>x1</key>
			<string>738.569</string>
			<key>y1</key>
			<string>77.1895</string>
			<key>x2</key>
			<string>738.569</string>
			<key>y2</key>
			<string>92.3799</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{11e07b5a-57cf-4b1d-8296-330d5f1a0af6}</key>
		<dict>
			<key>x1</key>
			<string>708.132</string>
			<key>y1</key>
			<string>72.2289</string>
			<key>x2</key>
			<string>708.132</string>
			<key>y2</key>
			<string>88.6594</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{e1108d68-7bdc-4fd5-adfd-16a9cc291680}</key>
		<dict>
			<key>x1</key>
			<string>677.695</string>
			<key>y1</key>
			<string>74.7092</string>
			<key>x2</key>
			<string>677.695</string>
			<key>y2</key>
			<string>90.5196</string>
			<key>height</key>
			<string>16.7421</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{91327ed9-f1e5-44a4-83da-c83c183a9278}</key>
		<dict>
			<key>x1</key>
			<string>647.258</string>
			<key>y1</key>
			<string>72.2289</string>
			<key>x2</key>
			<string>647.258</string>
			<key>y2</key>
			<string>88.6594</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{21a7e7a6-d9f3-437c-9f8c-1b20ac897d96}</key>
		<dict>
			<key>x1</key>
			<string>617.945</string>
			<key>y1</key>
			<string>40.6017</string>
			<key>x2</key>
			<string>617.945</string>
			<key>y2</key>
			<string>24.1712</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{a1f13588-761c-4e0c-8786-333f0cc39b0f}</key>
		<dict>
			<key>x1</key>
			<string>587.508</string>
			<key>y1</key>
			<string>35.6411</string>
			<key>x2</key>
			<string>587.508</string>
			<key>y2</key>
			<string>19.2106</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{4f77036e-dd3f-4186-b862-418f2f196d72}</key>
		<dict>
			<key>x1</key>
			<string>557.071</string>
			<key>y1</key>
			<string>38.1214</string>
			<key>x2</key>
			<string>557.071</string>
			<key>y2</key>
			<string>21.6909</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{e743089c-6b0a-45e1-a866-87594ba4f756}</key>
		<dict>
			<key>x1</key>
			<string>526.635</string>
			<key>y1</key>
			<string>35.6411</string>
			<key>x2</key>
			<string>526.635</string>
			<key>y2</key>
			<string>19.2106</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>note_stems</key>
	<dict>
		<key>{5d914a03-22d4-4aea-8eff-d6291a39a854}</key>
		<string>{1c4e8927-c5a9-443a-b973-dd75a739582b}</string>
		<key>{806ff9f8-eaa7-40ce-80bd-ece3e85acf44}</key>
		<string>{71f54d03-a12d-441a-b81f-6fcef85c4111}</string>
		<key>{39b424d8-d804-403a-9549-75025b61c898}</key>
		<string>{12884645-9d73-413a-9244-b3c30bff642a}</string>
		<key>{72aa1e8a-77a4-4da0-a16e-aebb6caf1862}</key>
		<string>{fcb80324-d0b9-4d26-bb88-00a41b0408f3}</string>
		<key>{85ac49b5-48ef-4635-839d-f938afa8cfa7}</key>
		<string>{0205353c-2f53-4fb4-a000-f872e38e9efc}</string>
		<key>{d7de5386-9c69-4ea7-a09b-51fe5b7ae5e8}</key>
		<string>{d74ff07e-3e2f-4e28-b41a-b725243e47c4}</string>
		<key>{051950b9-9a6e-455e-9c71-06e7c5c2118f}</key>
		<string>{166c831e-f0e6-4d9f-99fe-4e4e5b1614d3}</string>
		<key>{839904f0-3107-47ea-9c3f-c54ba7aa4864}</key>
		<string>{6cf24227-47f4-419f-9a46-821ebfe4deea}</string>
		<key>{25b74144-1209-462b-a47b-b9245cab752c}</key>
		<string>{b7da1234-d725-44e6-9f2a-cc723e7de73e}</string>
		<key>{92e6badd-2c9e-41e2-9134-efaac5fbee4b}</key>
		<string>{22be3dbd-f99f-4093-8fee-74d62d8e5959}</string>
		<key>{1233438d-7920-4e1b-969f-e73c8027f60c}</key>
		<string>{53deb090-5cfe-4c8f-bcab-59f94d43df4b}</string>
		<key>{f5bd73a4-cacf-4676-9967-bae2c54618fb}</key>
		<string>{b9ce4284-6f2f-430b-9e9a-56e160ba538a}</string>
		<key>{4c1368cc-a246-4780-8f7c-b6f6d71e0181}</key>
		<string>{f5649314-ab1c-490a-848f-c487483b9263}</string>
		<key>{07a2bc1b-1f1e-4b70-87aa-00662bf76e24}</key>
		<string>{b96d29e0-224b-405e-9e1b-b3922dc357a5}</string>
		<key>{fd1e3d34-8ff7-47f0-95c9-5c327c0e838e}</key>
		<string>{5c5f9ecc-d14c-4827-9c26-d74549214767}</string>
		<key>{b8c27a7a-6e7a-44e8-806e-dff8fafc2138}</key>
		<string>{8c72f86f-8824-41ab-b8d4-87d50d974138}</string>
		<key>{753bf4e0-fa56-437a-966d-4dc3200d0ae1}</key>
		<string>{2ccf8202-5f9b-4551-969d-732310b4fe8b}</string>
		<key>{93d46952-e06d-4a91-a16a-1cadd2219b92}</key>
		<string>{8a32ea53-6b2f-4dcd-9325-5c759d186293}</string>
		<key>{5dac718f-eff7-4be7-8fb9-f4b140ff1f9f}</key>
		<string>{0429234b-f19e-494a-b25a-ff5dc278d217}</string>
		<key>{c76690db-8c26-492c-81d2-a5a8f2d511f4}</key>
		<string>{7361069a-1e5d-4aa2-8e5e-f67488f369d6}</string>
		<key>{dd22cd8a-28a8-4753-a783-fb709d970ca6}</key>
		<string>{32a87024-37bc-4fe7-9ab7-f007bca9615d}</string>
		<key>{b17521ce-41e4-4a89-8b19-1b0b84a70999}</key>
		<string>{61370764-9102-4988-a40d-ace021de0886}</string>
		<key>{5aa107d6-cabb-4339-95bf-53ec6f528825}</key>
		<string>{bf18502f-a360-47fd-84f7-a8ac87cfe95f}</string>
		<key>{82a7516b-147c-4a38-92ed-76f1d7fbe863}</key>
		<string>{abf6282f-6253-4671-8044-e5d3904b47b0}</string>
		<key>{89076b2c-e8a7-4d1c-b3f3-a0b09b3c0944}</key>
		<string>{058a8899-b616-4f54-8b74-49d4c52492e9}</string>
		<key>{3a072346-a646-4619-957e-e9621f7f9b79}</key>
		<string>{c388dfc6-886c-4288-94e2-129f0b9987ef}</string>
		<key>{97d64a04-fe01-495f-9a90-56059c3b99ab}</key>
		<string>{11e07b5a-57cf-4b1d-8296-330d5f1a0af6}</string>
		<key>{4e1dce97-7712-4558-b66f-368680b347d4}</key>
		<string>{e1108d68-7bdc-4fd5-adfd-16a9cc291680}</string>
		<key>{607fb455-411f-45fb-8a94-b27e1fd5d76d}</key>
		<string>{91327ed9-f1e5-44a4-83da-c83c183a9278}</string>
		<key>{ce619525-219a-4e37-9d0a-64a91580e1e9}</key>
		<string>{21a7e7a6-d9f3-437c-9f8c-1b20ac897d96}</string>
		<key>{1f6fd79f-5d46-4960-b9f1-b12604a627c7}</key>
		<string>{a1f13588-761c-4e0c-8786-333f0cc39b0f}</string>
		<key>{7b32fc7e-9c5c-4e1f-8d18-bfa52d7abf02}</key>
		<string>{4f77036e-dd3f-4186-b862-418f2f196d72}</string>
		<key>{d41dc8d6-80f0-4890-bbc8-9bdc0a746cdd}</key>
		<string>{e743089c-6b0a-45e1-a866-87594ba4f756}</string>
	</dict>
	<key>note_finger</key>
	<dict>
	</dict>
	<key>note_step</key>
	<dict>
		<key>{48ebf21f-6a47-48bc-8f17-1cc764b14292}</key>
		<string>{84531596-6e3e-4565-aadd-9d6943b97e7d}</string>
		<key>{dd4d1359-c631-4c26-90c6-0a321526b7cb}</key>
		<string>{5eb544cb-6554-44db-b6a8-cec6726e6527}</string>
		<key>{5d914a03-22d4-4aea-8eff-d6291a39a854}</key>
		<string>{d19041b4-6b68-4566-b8e5-f19134494344}</string>
		<key>{806ff9f8-eaa7-40ce-80bd-ece3e85acf44}</key>
		<string>{ad00016a-88f6-409f-840b-0f8fed610768}</string>
		<key>{39b424d8-d804-403a-9549-75025b61c898}</key>
		<string>{153005cd-9d75-471f-9691-63c1dfec265d}</string>
		<key>{72aa1e8a-77a4-4da0-a16e-aebb6caf1862}</key>
		<string>{3cedc583-b61e-4821-b0ff-1800febddb66}</string>
		<key>{85ac49b5-48ef-4635-839d-f938afa8cfa7}</key>
		<string>{bdaf8cee-6baf-4a1d-b6c6-9956ec6f12a8}</string>
		<key>{d7de5386-9c69-4ea7-a09b-51fe5b7ae5e8}</key>
		<string>{9d2ede8d-afbd-4775-8110-46405c78c9be}</string>
		<key>{051950b9-9a6e-455e-9c71-06e7c5c2118f}</key>
		<string>{3ddc11e0-1906-4f1c-922f-f3e7954531a1}</string>
		<key>{839904f0-3107-47ea-9c3f-c54ba7aa4864}</key>
		<string>{05a1b79f-332d-49cc-b78a-059b8fad2163}</string>
		<key>{25b74144-1209-462b-a47b-b9245cab752c}</key>
		<string>{2ad16139-38ff-41b0-9b7e-53bab82bd73c}</string>
		<key>{92e6badd-2c9e-41e2-9134-efaac5fbee4b}</key>
		<string>{f04f74c1-8513-4439-942e-07e732f1d9bb}</string>
		<key>{1233438d-7920-4e1b-969f-e73c8027f60c}</key>
		<string>{e93cb207-d997-42fb-8b6d-492980d4bf20}</string>
		<key>{f5bd73a4-cacf-4676-9967-bae2c54618fb}</key>
		<string>{620b370d-f2bf-4652-ac33-fe70f9b4fc98}</string>
		<key>{4c1368cc-a246-4780-8f7c-b6f6d71e0181}</key>
		<string>{bda1bfe7-f4a1-4530-a2e7-295bed440a5b}</string>
		<key>{07a2bc1b-1f1e-4b70-87aa-00662bf76e24}</key>
		<string>{5dac8ae8-ac56-4649-bb0f-df9e7544e460}</string>
		<key>{fd1e3d34-8ff7-47f0-95c9-5c327c0e838e}</key>
		<string>{f9f5cf11-3c92-4a86-8159-989243ae308a}</string>
		<key>{0dc22c70-7c3f-4d39-944b-72bb8874ced3}</key>
		<string>{2594758f-9247-4582-a548-ef12ccb83aa7}</string>
		<key>{b8c27a7a-6e7a-44e8-806e-dff8fafc2138}</key>
		<string>{16df4feb-ce32-4fef-b5d0-0a3b231ccfea}</string>
		<key>{753bf4e0-fa56-437a-966d-4dc3200d0ae1}</key>
		<string>{97c8fbd0-06e7-4348-91d8-76590e77da74}</string>
		<key>{93d46952-e06d-4a91-a16a-1cadd2219b92}</key>
		<string>{9459a4e4-f5b2-4f23-a8dd-96d5189cf9fc}</string>
		<key>{5dac718f-eff7-4be7-8fb9-f4b140ff1f9f}</key>
		<string>{c8d01139-c4bf-4935-9b80-c07b15ceb24b}</string>
		<key>{c76690db-8c26-492c-81d2-a5a8f2d511f4}</key>
		<string>{884766be-f9e9-46db-8508-dc5c6fac4f80}</string>
		<key>{dd22cd8a-28a8-4753-a783-fb709d970ca6}</key>
		<string>{3f3c3a3e-eb9d-4712-9d84-07704193f109}</string>
		<key>{b17521ce-41e4-4a89-8b19-1b0b84a70999}</key>
		<string>{7cd9474a-2825-4a59-bbe8-dc3012abf350}</string>
		<key>{5aa107d6-cabb-4339-95bf-53ec6f528825}</key>
		<string>{774f139c-8741-4240-b7ad-93ed57cfa96f}</string>
		<key>{82a7516b-147c-4a38-92ed-76f1d7fbe863}</key>
		<string>{805664e8-1c22-4d3b-9b6b-9b88efd87f53}</string>
		<key>{89076b2c-e8a7-4d1c-b3f3-a0b09b3c0944}</key>
		<string>{6b3dac2f-d57b-4b83-b414-f6dce75f872f}</string>
		<key>{3a072346-a646-4619-957e-e9621f7f9b79}</key>
		<string>{fd15ede9-0ba1-461d-9285-503b8a50ab8b}</string>
		<key>{97d64a04-fe01-495f-9a90-56059c3b99ab}</key>
		<string>{cd8c2175-316f-4427-9686-7e0829c9bc54}</string>
		<key>{4e1dce97-7712-4558-b66f-368680b347d4}</key>
		<string>{a5f45ae9-70ba-4423-8eb3-62f106ad022e}</string>
		<key>{607fb455-411f-45fb-8a94-b27e1fd5d76d}</key>
		<string>{627e9e40-e621-40f0-84fe-b8d69fd78915}</string>
		<key>{ce619525-219a-4e37-9d0a-64a91580e1e9}</key>
		<string>{a7c7e606-0024-4f98-bfc5-e38ab08d5a10}</string>
		<key>{1f6fd79f-5d46-4960-b9f1-b12604a627c7}</key>
		<string>{aae22220-4ae0-4f13-88f9-516ab35dfc13}</string>
		<key>{7b32fc7e-9c5c-4e1f-8d18-bfa52d7abf02}</key>
		<string>{3932748b-7671-404b-a19f-51e34eb4f37e}</string>
		<key>{d41dc8d6-80f0-4890-bbc8-9bdc0a746cdd}</key>
		<string>{94fb6ebe-fc3c-4b21-9677-0acdcc9d92ad}</string>
	</dict>
	<key>note_light</key>
	<dict>
		<key>{48ebf21f-6a47-48bc-8f17-1cc764b14292}</key>
		<array>
		</array>
		<key>{dd4d1359-c631-4c26-90c6-0a321526b7cb}</key>
		<array>
		</array>
		<key>{5d914a03-22d4-4aea-8eff-d6291a39a854}</key>
		<array>
			
			<string>{1c4e8927-c5a9-443a-b973-dd75a739582b}</string>
		</array>
		<key>{806ff9f8-eaa7-40ce-80bd-ece3e85acf44}</key>
		<array>
			
			<string>{71f54d03-a12d-441a-b81f-6fcef85c4111}</string>
		</array>
		<key>{39b424d8-d804-403a-9549-75025b61c898}</key>
		<array>
			
			<string>{12884645-9d73-413a-9244-b3c30bff642a}</string>
		</array>
		<key>{72aa1e8a-77a4-4da0-a16e-aebb6caf1862}</key>
		<array>
			
			<string>{fcb80324-d0b9-4d26-bb88-00a41b0408f3}</string>
		</array>
		<key>{85ac49b5-48ef-4635-839d-f938afa8cfa7}</key>
		<array>
			
			<string>{0205353c-2f53-4fb4-a000-f872e38e9efc}</string>
		</array>
		<key>{d7de5386-9c69-4ea7-a09b-51fe5b7ae5e8}</key>
		<array>
			
			<string>{d74ff07e-3e2f-4e28-b41a-b725243e47c4}</string>
		</array>
		<key>{051950b9-9a6e-455e-9c71-06e7c5c2118f}</key>
		<array>
			
			<string>{166c831e-f0e6-4d9f-99fe-4e4e5b1614d3}</string>
		</array>
		<key>{839904f0-3107-47ea-9c3f-c54ba7aa4864}</key>
		<array>
			
			<string>{6cf24227-47f4-419f-9a46-821ebfe4deea}</string>
		</array>
		<key>{25b74144-1209-462b-a47b-b9245cab752c}</key>
		<array>
			
			<string>{b7da1234-d725-44e6-9f2a-cc723e7de73e}</string>
		</array>
		<key>{92e6badd-2c9e-41e2-9134-efaac5fbee4b}</key>
		<array>
			
			<string>{22be3dbd-f99f-4093-8fee-74d62d8e5959}</string>
		</array>
		<key>{1233438d-7920-4e1b-969f-e73c8027f60c}</key>
		<array>
			
			<string>{53deb090-5cfe-4c8f-bcab-59f94d43df4b}</string>
		</array>
		<key>{f5bd73a4-cacf-4676-9967-bae2c54618fb}</key>
		<array>
			
			<string>{b9ce4284-6f2f-430b-9e9a-56e160ba538a}</string>
		</array>
		<key>{4c1368cc-a246-4780-8f7c-b6f6d71e0181}</key>
		<array>
			
			<string>{f5649314-ab1c-490a-848f-c487483b9263}</string>
		</array>
		<key>{07a2bc1b-1f1e-4b70-87aa-00662bf76e24}</key>
		<array>
			
			<string>{b96d29e0-224b-405e-9e1b-b3922dc357a5}</string>
		</array>
		<key>{fd1e3d34-8ff7-47f0-95c9-5c327c0e838e}</key>
		<array>
			
			<string>{5c5f9ecc-d14c-4827-9c26-d74549214767}</string>
		</array>
		<key>{0dc22c70-7c3f-4d39-944b-72bb8874ced3}</key>
		<array>
		</array>
		<key>{b8c27a7a-6e7a-44e8-806e-dff8fafc2138}</key>
		<array>
			
			<string>{8c72f86f-8824-41ab-b8d4-87d50d974138}</string>
		</array>
		<key>{753bf4e0-fa56-437a-966d-4dc3200d0ae1}</key>
		<array>
			
			<string>{2ccf8202-5f9b-4551-969d-732310b4fe8b}</string>
		</array>
		<key>{93d46952-e06d-4a91-a16a-1cadd2219b92}</key>
		<array>
			
			<string>{8a32ea53-6b2f-4dcd-9325-5c759d186293}</string>
		</array>
		<key>{5dac718f-eff7-4be7-8fb9-f4b140ff1f9f}</key>
		<array>
			
			<string>{0429234b-f19e-494a-b25a-ff5dc278d217}</string>
		</array>
		<key>{c76690db-8c26-492c-81d2-a5a8f2d511f4}</key>
		<array>
			
			<string>{7361069a-1e5d-4aa2-8e5e-f67488f369d6}</string>
		</array>
		<key>{dd22cd8a-28a8-4753-a783-fb709d970ca6}</key>
		<array>
			
			<string>{32a87024-37bc-4fe7-9ab7-f007bca9615d}</string>
		</array>
		<key>{b17521ce-41e4-4a89-8b19-1b0b84a70999}</key>
		<array>
			
			<string>{61370764-9102-4988-a40d-ace021de0886}</string>
		</array>
		<key>{5aa107d6-cabb-4339-95bf-53ec6f528825}</key>
		<array>
			
			<string>{bf18502f-a360-47fd-84f7-a8ac87cfe95f}</string>
		</array>
		<key>{82a7516b-147c-4a38-92ed-76f1d7fbe863}</key>
		<array>
			
			<string>{abf6282f-6253-4671-8044-e5d3904b47b0}</string>
		</array>
		<key>{89076b2c-e8a7-4d1c-b3f3-a0b09b3c0944}</key>
		<array>
			
			<string>{058a8899-b616-4f54-8b74-49d4c52492e9}</string>
		</array>
		<key>{3a072346-a646-4619-957e-e9621f7f9b79}</key>
		<array>
			
			<string>{c388dfc6-886c-4288-94e2-129f0b9987ef}</string>
		</array>
		<key>{97d64a04-fe01-495f-9a90-56059c3b99ab}</key>
		<array>
			
			<string>{11e07b5a-57cf-4b1d-8296-330d5f1a0af6}</string>
		</array>
		<key>{4e1dce97-7712-4558-b66f-368680b347d4}</key>
		<array>
			
			<string>{e1108d68-7bdc-4fd5-adfd-16a9cc291680}</string>
		</array>
		<key>{607fb455-411f-45fb-8a94-b27e1fd5d76d}</key>
		<array>
			
			<string>{91327ed9-f1e5-44a4-83da-c83c183a9278}</string>
		</array>
		<key>{ce619525-219a-4e37-9d0a-64a91580e1e9}</key>
		<array>
			
			<string>{21a7e7a6-d9f3-437c-9f8c-1b20ac897d96}</string>
		</array>
		<key>{1f6fd79f-5d46-4960-b9f1-b12604a627c7}</key>
		<array>
			
			<string>{a1f13588-761c-4e0c-8786-333f0cc39b0f}</string>
		</array>
		<key>{7b32fc7e-9c5c-4e1f-8d18-bfa52d7abf02}</key>
		<array>
			
			<string>{4f77036e-dd3f-4186-b862-418f2f196d72}</string>
		</array>
		<key>{d41dc8d6-80f0-4890-bbc8-9bdc0a746cdd}</key>
		<array>
			
			<string>{e743089c-6b0a-45e1-a866-87594ba4f756}</string>
		</array>
	</dict>
	<key>note_hands_type</key>
	<dict>
		<key>1</key>
		<array>
			
			<string>{a2073217-aaf7-4d70-96b4-05c0605ecc1b}</string>
			
			<string>{e53f6d68-12ca-47f6-80f8-48d7d158aa2b}</string>
			
			<string>{2ccbec35-9f1a-4257-b477-219e6ec5de90}</string>
			
			<string>{bcd13e8e-414e-4d75-9a3b-6020693516aa}</string>
			
			<string>{f3a850da-4a29-4c56-881b-633f3b1b7a1d}</string>
			
			<string>{c4ba743c-7071-435f-b560-5d0485edc216}</string>
			
			<string>{23b484cc-46ec-44dc-b3bf-a1acd68c6e08}</string>
			
			<string>{16c31782-ca6c-4b2d-8f6f-e429a0786dad}</string>
			
			<string>{52069ba1-df18-4312-91b0-ae03979c11c1}</string>
			
			<string>{34328ae7-5713-4da3-b490-fb6c80e784c6}</string>
			
			<string>{1516092a-0c8e-4584-b25f-0e9d543921e5}</string>
			
			<string>{3e8f125a-6ede-4606-9b78-edb7b59e17eb}</string>
			
			<string>{d7c42272-0457-4e8a-8af7-e80850e10483}</string>
			
			<string>{f12d1174-aba3-4fb5-a8d4-1b90cfd33b2f}</string>
			
			<string>{7ef553de-68ba-492f-ba4f-dda4c809c0b1}</string>
			
			<string>{2811f775-442c-4b3e-8cc3-e7d67ab9b952}</string>
			
			<string>{29fc2ad2-ece9-47cb-9079-36fc5f5508d2}</string>
			
			<string>{fea9ba74-fbdc-44af-aa9e-41a8643fcf96}</string>
			
			<string>{7175b403-a4ca-41bd-9320-bf2e638f93be}</string>
			
			<string>{5eb544cb-6554-44db-b6a8-cec6726e6527}</string>
			
			<string>{ad00016a-88f6-409f-840b-0f8fed610768}</string>
			
			<string>{3cedc583-b61e-4821-b0ff-1800febddb66}</string>
			
			<string>{9d2ede8d-afbd-4775-8110-46405c78c9be}</string>
			
			<string>{05a1b79f-332d-49cc-b78a-059b8fad2163}</string>
			
			<string>{bda1bfe7-f4a1-4530-a2e7-295bed440a5b}</string>
			
			<string>{5dac8ae8-ac56-4649-bb0f-df9e7544e460}</string>
			
			<string>{f9f5cf11-3c92-4a86-8159-989243ae308a}</string>
			
			<string>{16df4feb-ce32-4fef-b5d0-0a3b231ccfea}</string>
			
			<string>{3f3c3a3e-eb9d-4712-9d84-07704193f109}</string>
			
			<string>{7cd9474a-2825-4a59-bbe8-dc3012abf350}</string>
			
			<string>{774f139c-8741-4240-b7ad-93ed57cfa96f}</string>
			
			<string>{805664e8-1c22-4d3b-9b6b-9b88efd87f53}</string>
			
			<string>{6b3dac2f-d57b-4b83-b414-f6dce75f872f}</string>
			
			<string>{a7c7e606-0024-4f98-bfc5-e38ab08d5a10}</string>
			
			<string>{aae22220-4ae0-4f13-88f9-516ab35dfc13}</string>
			
			<string>{3932748b-7671-404b-a19f-51e34eb4f37e}</string>
			
			<string>{94fb6ebe-fc3c-4b21-9677-0acdcc9d92ad}</string>
			
			<string>{f2daf211-fa3e-40b9-8b39-94c6f7804450}</string>
			
			<string>{bf987da2-5307-4967-87bd-6fd37eb713e0}</string>
			
			<string>{a30c2348-0ca1-4a63-87fa-d6e4b42d5fba}</string>
			
			<string>{5ae091c8-f9cd-4180-8164-7de9af44ce67}</string>
			
			<string>{5f571caa-ca42-499a-b2c6-c1d36521c869}</string>
			
			<string>{d89630ea-0fac-4068-a92a-1de8465fb8e4}</string>
			
			<string>{f303dd70-557d-4f93-b6ff-aba2cb69f95b}</string>
			
			<string>{bdffaf57-cdf8-4cdf-b90f-beae596d7e26}</string>
			
			<string>{f49912fe-2dd5-49bc-ac73-4f85154e05c6}</string>
			
			<string>{ddd1117f-0910-44b6-b6f9-60c8a89713a5}</string>
			
			<string>{7cd419b6-f680-4e01-9a4b-02ef7a89f899}</string>
			
			<string>{d9ed75c6-62d9-4b5e-a93f-c3b97b234437}</string>
			
			<string>{415b1f38-7de9-4421-bcc2-618861d84ec9}</string>
			
			<string>{0265a8ee-2e56-4e9f-8c55-8c09f586b0bf}</string>
			
			<string>{2db162f0-97c4-4dbe-ad2a-cc61b15b3742}</string>
			
			<string>{71f54d03-a12d-441a-b81f-6fcef85c4111}</string>
			
			<string>{fcb80324-d0b9-4d26-bb88-00a41b0408f3}</string>
			
			<string>{d74ff07e-3e2f-4e28-b41a-b725243e47c4}</string>
			
			<string>{6cf24227-47f4-419f-9a46-821ebfe4deea}</string>
			
			<string>{f5649314-ab1c-490a-848f-c487483b9263}</string>
			
			<string>{b96d29e0-224b-405e-9e1b-b3922dc357a5}</string>
			
			<string>{5c5f9ecc-d14c-4827-9c26-d74549214767}</string>
			
			<string>{8c72f86f-8824-41ab-b8d4-87d50d974138}</string>
			
			<string>{32a87024-37bc-4fe7-9ab7-f007bca9615d}</string>
			
			<string>{61370764-9102-4988-a40d-ace021de0886}</string>
			
			<string>{bf18502f-a360-47fd-84f7-a8ac87cfe95f}</string>
			
			<string>{abf6282f-6253-4671-8044-e5d3904b47b0}</string>
			
			<string>{058a8899-b616-4f54-8b74-49d4c52492e9}</string>
			
			<string>{21a7e7a6-d9f3-437c-9f8c-1b20ac897d96}</string>
			
			<string>{a1f13588-761c-4e0c-8786-333f0cc39b0f}</string>
			
			<string>{4f77036e-dd3f-4186-b862-418f2f196d72}</string>
			
			<string>{e743089c-6b0a-45e1-a866-87594ba4f756}</string>
			
			<string>{2a9d33c9-6172-4a89-9283-a96cc093ba2b}</string>
			
			<string>{9f69a857-e174-460d-a05f-dcc16ff9ff1e}</string>
			
			<string>{14f06a9c-8ee4-4f73-ba8a-5fcdbda99170}</string>
		</array>
		<key>2</key>
		<array>
			
			<string>{976d8051-d3a7-4541-a631-f346170a374b}</string>
			
			<string>{b309a8a0-dc29-4092-90d3-1cddfb905605}</string>
			
			<string>{c9ac7d17-c466-4357-9908-3d828905fcb8}</string>
			
			<string>{7c048dc0-687c-40e0-8910-d7923d7f8899}</string>
			
			<string>{ef7c4e0c-2afa-480d-a9fe-7973a0aeb699}</string>
			
			<string>{5b7f761c-90a2-4d2d-84ad-28e931b4b0a4}</string>
			
			<string>{2d2d7cf1-703e-4a94-a31b-5a91492bed27}</string>
			
			<string>{ce77b27f-a44d-44fa-b2e6-9a050be55950}</string>
			
			<string>{69b60ba7-fba8-40f8-8196-c28c43295a7f}</string>
			
			<string>{b97b51c2-5f7d-4fe8-b6a6-01d40b9fa6b3}</string>
			
			<string>{98f73414-2b37-48a0-bc29-00af85afc514}</string>
			
			<string>{23b6cea9-cae5-470e-b273-2dc63155afb1}</string>
			
			<string>{7e1c4cf0-4cf2-4b2d-9447-bf1449bedd00}</string>
			
			<string>{84531596-6e3e-4565-aadd-9d6943b97e7d}</string>
			
			<string>{d19041b4-6b68-4566-b8e5-f19134494344}</string>
			
			<string>{153005cd-9d75-471f-9691-63c1dfec265d}</string>
			
			<string>{bdaf8cee-6baf-4a1d-b6c6-9956ec6f12a8}</string>
			
			<string>{3ddc11e0-1906-4f1c-922f-f3e7954531a1}</string>
			
			<string>{2ad16139-38ff-41b0-9b7e-53bab82bd73c}</string>
			
			<string>{f04f74c1-8513-4439-942e-07e732f1d9bb}</string>
			
			<string>{e93cb207-d997-42fb-8b6d-492980d4bf20}</string>
			
			<string>{620b370d-f2bf-4652-ac33-fe70f9b4fc98}</string>
			
			<string>{2594758f-9247-4582-a548-ef12ccb83aa7}</string>
			
			<string>{97c8fbd0-06e7-4348-91d8-76590e77da74}</string>
			
			<string>{9459a4e4-f5b2-4f23-a8dd-96d5189cf9fc}</string>
			
			<string>{c8d01139-c4bf-4935-9b80-c07b15ceb24b}</string>
			
			<string>{884766be-f9e9-46db-8508-dc5c6fac4f80}</string>
			
			<string>{fd15ede9-0ba1-461d-9285-503b8a50ab8b}</string>
			
			<string>{cd8c2175-316f-4427-9686-7e0829c9bc54}</string>
			
			<string>{a5f45ae9-70ba-4423-8eb3-62f106ad022e}</string>
			
			<string>{627e9e40-e621-40f0-84fe-b8d69fd78915}</string>
			
			<string>{6a795782-b524-4f52-bd22-4457bf2f05fe}</string>
			
			<string>{af01b226-67f8-4dfc-a245-87a75622d02e}</string>
			
			<string>{88fb1f09-155f-43ac-a375-3458467bf9a4}</string>
			
			<string>{ed406151-4753-414f-8ac3-f9bc2187a580}</string>
			
			<string>{c604c7c8-79ed-4937-a1bd-06047ae1fc4b}</string>
			
			<string>{02756b55-6eab-4aee-86f4-ac9a693b038d}</string>
			
			<string>{c5d67494-021b-4563-8084-fa22d6740e00}</string>
			
			<string>{8e375298-2082-48be-9e5d-2aa8ed3d2f66}</string>
			
			<string>{c90cab7a-88ca-4d5b-81c0-2878ba188e55}</string>
			
			<string>{1ac4a101-1d4b-4c4c-a296-a0618ca8dca9}</string>
			
			<string>{cd7855f6-dd32-4a66-b8c6-b784401ab99e}</string>
			
			<string>{2f1805f8-793b-49ae-b9e8-ddbb368c935f}</string>
			
			<string>{b6294ef7-b630-470b-ba56-7d7f7bda35de}</string>
			
			<string>{95456388-f81b-4102-a3b6-49a002992614}</string>
			
			<string>{5dc0d375-34f5-47e6-bc59-50f2dc9abe03}</string>
			
			<string>{1c4e8927-c5a9-443a-b973-dd75a739582b}</string>
			
			<string>{12884645-9d73-413a-9244-b3c30bff642a}</string>
			
			<string>{0205353c-2f53-4fb4-a000-f872e38e9efc}</string>
			
			<string>{166c831e-f0e6-4d9f-99fe-4e4e5b1614d3}</string>
			
			<string>{b7da1234-d725-44e6-9f2a-cc723e7de73e}</string>
			
			<string>{22be3dbd-f99f-4093-8fee-74d62d8e5959}</string>
			
			<string>{53deb090-5cfe-4c8f-bcab-59f94d43df4b}</string>
			
			<string>{b9ce4284-6f2f-430b-9e9a-56e160ba538a}</string>
			
			<string>{2ccf8202-5f9b-4551-969d-732310b4fe8b}</string>
			
			<string>{8a32ea53-6b2f-4dcd-9325-5c759d186293}</string>
			
			<string>{0429234b-f19e-494a-b25a-ff5dc278d217}</string>
			
			<string>{7361069a-1e5d-4aa2-8e5e-f67488f369d6}</string>
			
			<string>{c388dfc6-886c-4288-94e2-129f0b9987ef}</string>
			
			<string>{11e07b5a-57cf-4b1d-8296-330d5f1a0af6}</string>
			
			<string>{e1108d68-7bdc-4fd5-adfd-16a9cc291680}</string>
			
			<string>{91327ed9-f1e5-44a4-83da-c83c183a9278}</string>
		</array>
	</dict>
</dict>
</plist>