<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>pen_width</key>
	<string>0.40</string>
	<key>xend</key>
	<real>1430.52</real>
	<key>stafflines</key>
	<dict>
		<key>0</key>
		<dict>
			<key>x</key>
			<string>10.4173</string>
			<key>y</key>
			<string>16.7302</string>
			<key>bx</key>
			<string>10.4173</string>
			<key>by</key>
			<string>52.3098</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{48ebf21f-6a47-48bc-8f17-1cc764b14292}</key>
		<dict>
			<key>x</key>
			<string>1001.09</string>
			<key>y</key>
			<string>81.2184</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{dd4d1359-c631-4c26-90c6-0a321526b7cb}</key>
		<dict>
			<key>x</key>
			<string>1001.09</string>
			<key>y</key>
			<string>41.5334</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{5d914a03-22d4-4aea-8eff-d6291a39a854}</key>
		<dict>
			<key>x</key>
			<string>970.044</string>
			<key>y</key>
			<string>71.2972</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{806ff9f8-eaa7-40ce-80bd-ece3e85acf44}</key>
		<dict>
			<key>x</key>
			<string>970.044</string>
			<key>y</key>
			<string>31.6121</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{39b424d8-d804-403a-9549-75025b61c898}</key>
		<dict>
			<key>x</key>
			<string>950.704</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{72aa1e8a-77a4-4da0-a16e-aebb6caf1862}</key>
		<dict>
			<key>x</key>
			<string>950.704</string>
			<key>y</key>
			<string>34.0925</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{85ac49b5-48ef-4635-839d-f938afa8cfa7}</key>
		<dict>
			<key>x</key>
			<string>931.363</string>
			<key>y</key>
			<string>71.2972</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d7de5386-9c69-4ea7-a09b-51fe5b7ae5e8}</key>
		<dict>
			<key>x</key>
			<string>931.363</string>
			<key>y</key>
			<string>31.6121</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{051950b9-9a6e-455e-9c71-06e7c5c2118f}</key>
		<dict>
			<key>x</key>
			<string>912.023</string>
			<key>y</key>
			<string>78.7381</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{839904f0-3107-47ea-9c3f-c54ba7aa4864}</key>
		<dict>
			<key>x</key>
			<string>912.023</string>
			<key>y</key>
			<string>39.0531</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{25b74144-1209-462b-a47b-b9245cab752c}</key>
		<dict>
			<key>x</key>
			<string>880.975</string>
			<key>y</key>
			<string>76.2578</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{92e6badd-2c9e-41e2-9134-efaac5fbee4b}</key>
		<dict>
			<key>x</key>
			<string>861.635</string>
			<key>y</key>
			<string>71.2972</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{1233438d-7920-4e1b-969f-e73c8027f60c}</key>
		<dict>
			<key>x</key>
			<string>842.294</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f5bd73a4-cacf-4676-9967-bae2c54618fb}</key>
		<dict>
			<key>x</key>
			<string>822.953</string>
			<key>y</key>
			<string>71.2972</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{4c1368cc-a246-4780-8f7c-b6f6d71e0181}</key>
		<dict>
			<key>x</key>
			<string>792.318</string>
			<key>y</key>
			<string>41.5334</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{07a2bc1b-1f1e-4b70-87aa-00662bf76e24}</key>
		<dict>
			<key>x</key>
			<string>773.389</string>
			<key>y</key>
			<string>36.5728</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{fd1e3d34-8ff7-47f0-95c9-5c327c0e838e}</key>
		<dict>
			<key>x</key>
			<string>754.46</string>
			<key>y</key>
			<string>39.0531</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{0dc22c70-7c3f-4d39-944b-72bb8874ced3}</key>
		<dict>
			<key>x</key>
			<string>733.884</string>
			<key>y</key>
			<string>81.2184</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b8c27a7a-6e7a-44e8-806e-dff8fafc2138}</key>
		<dict>
			<key>x</key>
			<string>735.531</string>
			<key>y</key>
			<string>36.5728</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{753bf4e0-fa56-437a-966d-4dc3200d0ae1}</key>
		<dict>
			<key>x</key>
			<string>702.881</string>
			<key>y</key>
			<string>78.7381</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{93d46952-e06d-4a91-a16a-1cadd2219b92}</key>
		<dict>
			<key>x</key>
			<string>683.586</string>
			<key>y</key>
			<string>76.2578</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{5dac718f-eff7-4be7-8fb9-f4b140ff1f9f}</key>
		<dict>
			<key>x</key>
			<string>664.29</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c76690db-8c26-492c-81d2-a5a8f2d511f4}</key>
		<dict>
			<key>x</key>
			<string>644.994</string>
			<key>y</key>
			<string>71.2972</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{dd22cd8a-28a8-4753-a783-fb709d970ca6}</key>
		<dict>
			<key>x</key>
			<string>644.815</string>
			<key>y</key>
			<string>31.6121</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{b17521ce-41e4-4a89-8b19-1b0b84a70999}</key>
		<dict>
			<key>x</key>
			<string>613.767</string>
			<key>y</key>
			<string>39.0531</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{5aa107d6-cabb-4339-95bf-53ec6f528825}</key>
		<dict>
			<key>x</key>
			<string>594.427</string>
			<key>y</key>
			<string>34.0925</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{82a7516b-147c-4a38-92ed-76f1d7fbe863}</key>
		<dict>
			<key>x</key>
			<string>575.086</string>
			<key>y</key>
			<string>36.5728</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{89076b2c-e8a7-4d1c-b3f3-a0b09b3c0944}</key>
		<dict>
			<key>x</key>
			<string>555.746</string>
			<key>y</key>
			<string>39.0531</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{3a072346-a646-4619-957e-e9621f7f9b79}</key>
		<dict>
			<key>x</key>
			<string>524.698</string>
			<key>y</key>
			<string>76.2578</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{97d64a04-fe01-495f-9a90-56059c3b99ab}</key>
		<dict>
			<key>x</key>
			<string>505.358</string>
			<key>y</key>
			<string>71.2972</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{4e1dce97-7712-4558-b66f-368680b347d4}</key>
		<dict>
			<key>x</key>
			<string>486.017</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{607fb455-411f-45fb-8a94-b27e1fd5d76d}</key>
		<dict>
			<key>x</key>
			<string>466.677</string>
			<key>y</key>
			<string>71.2972</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ce619525-219a-4e37-9d0a-64a91580e1e9}</key>
		<dict>
			<key>x</key>
			<string>435.629</string>
			<key>y</key>
			<string>41.5334</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{1f6fd79f-5d46-4960-b9f1-b12604a627c7}</key>
		<dict>
			<key>x</key>
			<string>416.289</string>
			<key>y</key>
			<string>36.5728</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{7b32fc7e-9c5c-4e1f-8d18-bfa52d7abf02}</key>
		<dict>
			<key>x</key>
			<string>396.948</string>
			<key>y</key>
			<string>39.0531</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{d41dc8d6-80f0-4890-bbc8-9bdc0a746cdd}</key>
		<dict>
			<key>x</key>
			<string>377.607</string>
			<key>y</key>
			<string>36.5728</string>
			<key>idx</key>
			<string>0</string>
		</dict>
	</dict>
	<key>rests</key>
	<dict>
		<key>{7c048dc0-687c-40e0-8910-d7923d7f8899}</key>
		<dict>
			<key>x</key>
			<string>1357.37</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{52069ba1-df18-4312-91b0-ae03979c11c1}</key>
		<dict>
			<key>x</key>
			<string>1357.37</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{ef7c4e0c-2afa-480d-a9fe-7973a0aeb699}</key>
		<dict>
			<key>x</key>
			<string>1268.3</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{34328ae7-5713-4da3-b490-fb6c80e784c6}</key>
		<dict>
			<key>x</key>
			<string>1268.3</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{5b7f761c-90a2-4d2d-84ad-28e931b4b0a4}</key>
		<dict>
			<key>x</key>
			<string>1179.23</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{1516092a-0c8e-4584-b25f-0e9d543921e5}</key>
		<dict>
			<key>x</key>
			<string>1179.23</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{2d2d7cf1-703e-4a94-a31b-5a91492bed27}</key>
		<dict>
			<key>x</key>
			<string>1090.16</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{3e8f125a-6ede-4606-9b78-edb7b59e17eb}</key>
		<dict>
			<key>x</key>
			<string>1090.16</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{d7c42272-0457-4e8a-8af7-e80850e10483}</key>
		<dict>
			<key>x</key>
			<string>822.953</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{f12d1174-aba3-4fb5-a8d4-1b90cfd33b2f}</key>
		<dict>
			<key>x</key>
			<string>683.586</string>
			<key>y</key>
			<string>26.6515</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{ce77b27f-a44d-44fa-b2e6-9a050be55950}</key>
		<dict>
			<key>x</key>
			<string>555.746</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7ef553de-68ba-492f-ba4f-dda4c809c0b1}</key>
		<dict>
			<key>x</key>
			<string>466.677</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{69b60ba7-fba8-40f8-8196-c28c43295a7f}</key>
		<dict>
			<key>x</key>
			<string>377.607</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b97b51c2-5f7d-4fe8-b6a6-01d40b9fa6b3}</key>
		<dict>
			<key>x</key>
			<string>288.538</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2811f775-442c-4b3e-8cc3-e7d67ab9b952}</key>
		<dict>
			<key>x</key>
			<string>288.538</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{98f73414-2b37-48a0-bc29-00af85afc514}</key>
		<dict>
			<key>x</key>
			<string>199.469</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{29fc2ad2-ece9-47cb-9079-36fc5f5508d2}</key>
		<dict>
			<key>x</key>
			<string>199.469</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{23b6cea9-cae5-470e-b273-2dc63155afb1}</key>
		<dict>
			<key>x</key>
			<string>110.4</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{fea9ba74-fbdc-44af-aa9e-41a8643fcf96}</key>
		<dict>
			<key>x</key>
			<string>110.4</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{7e1c4cf0-4cf2-4b2d-9447-bf1449bedd00}</key>
		<dict>
			<key>x</key>
			<string>48.7831</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7175b403-a4ca-41bd-9320-bf2e638f93be}</key>
		<dict>
			<key>x</key>
			<string>48.7831</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
	</dict>
	<key>dots</key>
	<dict>
	</dict>
	<key>note_dots</key>
	<dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{1f131a08-ebb1-4036-af6a-2084c52ba86e}</key>
		<dict>
			<key>x1</key>
			<string>970.367</string>
			<key>y1</key>
			<string>72.2289</string>
			<key>x2</key>
			<string>970.367</string>
			<key>y2</key>
			<string>88.6594</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6e4b258b-5e9e-42a8-8339-2806d34b233d}</key>
		<dict>
			<key>x1</key>
			<string>976.253</string>
			<key>y1</key>
			<string>30.6805</string>
			<key>x2</key>
			<string>976.253</string>
			<key>y2</key>
			<string>14.87</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{e8859364-554f-43be-941b-b275cd02ef71}</key>
		<dict>
			<key>x1</key>
			<string>951.026</string>
			<key>y1</key>
			<string>74.7092</string>
			<key>x2</key>
			<string>951.026</string>
			<key>y2</key>
			<string>90.5196</string>
			<key>height</key>
			<string>16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0b2c287d-dc49-4bbe-bb9f-af58bbc510f4}</key>
		<dict>
			<key>x1</key>
			<string>956.912</string>
			<key>y1</key>
			<string>33.1608</string>
			<key>x2</key>
			<string>956.912</string>
			<key>y2</key>
			<string>16.7302</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{11a1aa1f-b4ff-493e-b09e-e9abbb1160fd}</key>
		<dict>
			<key>x1</key>
			<string>931.686</string>
			<key>y1</key>
			<string>72.2289</string>
			<key>x2</key>
			<string>931.686</string>
			<key>y2</key>
			<string>88.6594</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{a4bb5763-4c6b-4022-9641-c24692b78c11}</key>
		<dict>
			<key>x1</key>
			<string>937.572</string>
			<key>y1</key>
			<string>30.6805</string>
			<key>x2</key>
			<string>937.572</string>
			<key>y2</key>
			<string>14.87</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{36423f26-e379-4d14-ab3e-0da292bc268c}</key>
		<dict>
			<key>x1</key>
			<string>912.345</string>
			<key>y1</key>
			<string>79.6698</string>
			<key>x2</key>
			<string>912.345</string>
			<key>y2</key>
			<string>94.2401</string>
			<key>height</key>
			<string>15.502</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7b94a6fe-f6ea-47e6-834c-82e1bc140025}</key>
		<dict>
			<key>x1</key>
			<string>918.231</string>
			<key>y1</key>
			<string>38.1214</string>
			<key>x2</key>
			<string>918.231</string>
			<key>y2</key>
			<string>21.6909</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{ee45dc6c-58c4-4f09-9d7d-ae38c5ca5c4c}</key>
		<dict>
			<key>x1</key>
			<string>881.297</string>
			<key>y1</key>
			<string>77.1895</string>
			<key>x2</key>
			<string>881.297</string>
			<key>y2</key>
			<string>92.3799</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{3857a472-59ae-4034-b1a0-fb2037944892}</key>
		<dict>
			<key>x1</key>
			<string>861.957</string>
			<key>y1</key>
			<string>72.2289</string>
			<key>x2</key>
			<string>861.957</string>
			<key>y2</key>
			<string>88.6594</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{8c2c2793-7cd6-4a21-8556-6279109b59a8}</key>
		<dict>
			<key>x1</key>
			<string>842.616</string>
			<key>y1</key>
			<string>74.7092</string>
			<key>x2</key>
			<string>842.616</string>
			<key>y2</key>
			<string>90.5196</string>
			<key>height</key>
			<string>16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c495301a-8910-43c7-bf51-053f3df09e3b}</key>
		<dict>
			<key>x1</key>
			<string>823.276</string>
			<key>y1</key>
			<string>72.2289</string>
			<key>x2</key>
			<string>823.276</string>
			<key>y2</key>
			<string>88.6594</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ff25375d-efcb-4b6f-9a66-aac29a116c33}</key>
		<dict>
			<key>x1</key>
			<string>798.526</string>
			<key>y1</key>
			<string>40.6017</string>
			<key>x2</key>
			<string>798.526</string>
			<key>y2</key>
			<string>24.1712</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{d4435a2e-4362-4a8e-bdee-e58c80d461b5}</key>
		<dict>
			<key>x1</key>
			<string>779.597</string>
			<key>y1</key>
			<string>35.6411</string>
			<key>x2</key>
			<string>779.597</string>
			<key>y2</key>
			<string>19.2106</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{ae5bb5bd-6249-42dc-8f64-07f6625445e1}</key>
		<dict>
			<key>x1</key>
			<string>760.669</string>
			<key>y1</key>
			<string>38.1214</string>
			<key>x2</key>
			<string>760.669</string>
			<key>y2</key>
			<string>21.6909</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{dba6c2c8-deed-48f6-bd0e-8e8789659b9c}</key>
		<dict>
			<key>x1</key>
			<string>741.74</string>
			<key>y1</key>
			<string>35.6411</string>
			<key>x2</key>
			<string>741.74</string>
			<key>y2</key>
			<string>19.2106</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{8bc6d696-d5d1-4eed-803f-dba976c01850}</key>
		<dict>
			<key>x1</key>
			<string>703.204</string>
			<key>y1</key>
			<string>79.6698</string>
			<key>x2</key>
			<string>703.204</string>
			<key>y2</key>
			<string>94.2401</string>
			<key>height</key>
			<string>15.502</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{dea1b59f-5f67-40ba-a222-1db444e43536}</key>
		<dict>
			<key>x1</key>
			<string>683.908</string>
			<key>y1</key>
			<string>77.1895</string>
			<key>x2</key>
			<string>683.908</string>
			<key>y2</key>
			<string>92.3799</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{4ed33e43-824e-40a5-a463-9623dbd6faa8}</key>
		<dict>
			<key>x1</key>
			<string>664.612</string>
			<key>y1</key>
			<string>74.7092</string>
			<key>x2</key>
			<string>664.612</string>
			<key>y2</key>
			<string>90.5196</string>
			<key>height</key>
			<string>16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{48052649-8c61-4544-9d7c-5f177b9e7611}</key>
		<dict>
			<key>x1</key>
			<string>645.317</string>
			<key>y1</key>
			<string>72.2289</string>
			<key>x2</key>
			<string>645.317</string>
			<key>y2</key>
			<string>88.6594</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{77dc1de0-c645-4595-9c8d-d7762ac3690e}</key>
		<dict>
			<key>x1</key>
			<string>651.382</string>
			<key>y1</key>
			<string>30.8502</string>
			<key>x2</key>
			<string>651.382</string>
			<key>y2</key>
			<string>14.87</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{13c52dcc-663d-44bc-8625-e3fc06200a85}</key>
		<dict>
			<key>x1</key>
			<string>619.976</string>
			<key>y1</key>
			<string>38.1214</string>
			<key>x2</key>
			<string>619.976</string>
			<key>y2</key>
			<string>21.6909</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{465aab86-f9b2-4c21-8e15-36f500c13092}</key>
		<dict>
			<key>x1</key>
			<string>600.635</string>
			<key>y1</key>
			<string>33.1608</string>
			<key>x2</key>
			<string>600.635</string>
			<key>y2</key>
			<string>16.7302</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{76914ff8-cbc8-4ae7-9dbb-88cf6f0e84a7}</key>
		<dict>
			<key>x1</key>
			<string>581.295</string>
			<key>y1</key>
			<string>35.6411</string>
			<key>x2</key>
			<string>581.295</string>
			<key>y2</key>
			<string>19.2106</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{6ec74b98-c6b4-4597-ba44-5af4a8e264df}</key>
		<dict>
			<key>x1</key>
			<string>561.954</string>
			<key>y1</key>
			<string>38.1214</string>
			<key>x2</key>
			<string>561.954</string>
			<key>y2</key>
			<string>21.6909</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{a3da90fc-3617-4bad-83d8-84ebde976ecb}</key>
		<dict>
			<key>x1</key>
			<string>525.021</string>
			<key>y1</key>
			<string>77.1895</string>
			<key>x2</key>
			<string>525.021</string>
			<key>y2</key>
			<string>92.3799</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{873bd425-151e-4e22-83c0-1fd4fb06ad5d}</key>
		<dict>
			<key>x1</key>
			<string>505.68</string>
			<key>y1</key>
			<string>72.2289</string>
			<key>x2</key>
			<string>505.68</string>
			<key>y2</key>
			<string>88.6594</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{794236b5-8130-49df-97a9-dde7480d853e}</key>
		<dict>
			<key>x1</key>
			<string>486.34</string>
			<key>y1</key>
			<string>74.7092</string>
			<key>x2</key>
			<string>486.34</string>
			<key>y2</key>
			<string>90.5196</string>
			<key>height</key>
			<string>16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{531a252f-45aa-46e9-9bec-5ca87594e137}</key>
		<dict>
			<key>x1</key>
			<string>466.999</string>
			<key>y1</key>
			<string>72.2289</string>
			<key>x2</key>
			<string>466.999</string>
			<key>y2</key>
			<string>88.6594</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{8f84e6b2-f1b3-4806-bc76-8e75a496054e}</key>
		<dict>
			<key>x1</key>
			<string>441.838</string>
			<key>y1</key>
			<string>40.6017</string>
			<key>x2</key>
			<string>441.838</string>
			<key>y2</key>
			<string>24.1712</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{6ac69e42-3ef8-4d3a-a506-dac38221884e}</key>
		<dict>
			<key>x1</key>
			<string>422.497</string>
			<key>y1</key>
			<string>35.6411</string>
			<key>x2</key>
			<string>422.497</string>
			<key>y2</key>
			<string>19.2106</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{ddcfedf5-91a2-4747-bcbc-bdd862dda311}</key>
		<dict>
			<key>x1</key>
			<string>403.157</string>
			<key>y1</key>
			<string>38.1214</string>
			<key>x2</key>
			<string>403.157</string>
			<key>y2</key>
			<string>21.6909</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{63704fe9-da8c-4afc-a4c5-15367e4860bb}</key>
		<dict>
			<key>x1</key>
			<string>383.816</string>
			<key>y1</key>
			<string>35.6411</string>
			<key>x2</key>
			<string>383.816</string>
			<key>y2</key>
			<string>19.2106</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
	</dict>
	<key>note_stems</key>
	<dict>
		<key>{5d914a03-22d4-4aea-8eff-d6291a39a854}</key>
		<string>{1f131a08-ebb1-4036-af6a-2084c52ba86e}</string>
		<key>{806ff9f8-eaa7-40ce-80bd-ece3e85acf44}</key>
		<string>{6e4b258b-5e9e-42a8-8339-2806d34b233d}</string>
		<key>{39b424d8-d804-403a-9549-75025b61c898}</key>
		<string>{e8859364-554f-43be-941b-b275cd02ef71}</string>
		<key>{72aa1e8a-77a4-4da0-a16e-aebb6caf1862}</key>
		<string>{0b2c287d-dc49-4bbe-bb9f-af58bbc510f4}</string>
		<key>{85ac49b5-48ef-4635-839d-f938afa8cfa7}</key>
		<string>{11a1aa1f-b4ff-493e-b09e-e9abbb1160fd}</string>
		<key>{d7de5386-9c69-4ea7-a09b-51fe5b7ae5e8}</key>
		<string>{a4bb5763-4c6b-4022-9641-c24692b78c11}</string>
		<key>{051950b9-9a6e-455e-9c71-06e7c5c2118f}</key>
		<string>{36423f26-e379-4d14-ab3e-0da292bc268c}</string>
		<key>{839904f0-3107-47ea-9c3f-c54ba7aa4864}</key>
		<string>{7b94a6fe-f6ea-47e6-834c-82e1bc140025}</string>
		<key>{25b74144-1209-462b-a47b-b9245cab752c}</key>
		<string>{ee45dc6c-58c4-4f09-9d7d-ae38c5ca5c4c}</string>
		<key>{92e6badd-2c9e-41e2-9134-efaac5fbee4b}</key>
		<string>{3857a472-59ae-4034-b1a0-fb2037944892}</string>
		<key>{1233438d-7920-4e1b-969f-e73c8027f60c}</key>
		<string>{8c2c2793-7cd6-4a21-8556-6279109b59a8}</string>
		<key>{f5bd73a4-cacf-4676-9967-bae2c54618fb}</key>
		<string>{c495301a-8910-43c7-bf51-053f3df09e3b}</string>
		<key>{4c1368cc-a246-4780-8f7c-b6f6d71e0181}</key>
		<string>{ff25375d-efcb-4b6f-9a66-aac29a116c33}</string>
		<key>{07a2bc1b-1f1e-4b70-87aa-00662bf76e24}</key>
		<string>{d4435a2e-4362-4a8e-bdee-e58c80d461b5}</string>
		<key>{fd1e3d34-8ff7-47f0-95c9-5c327c0e838e}</key>
		<string>{ae5bb5bd-6249-42dc-8f64-07f6625445e1}</string>
		<key>{b8c27a7a-6e7a-44e8-806e-dff8fafc2138}</key>
		<string>{dba6c2c8-deed-48f6-bd0e-8e8789659b9c}</string>
		<key>{753bf4e0-fa56-437a-966d-4dc3200d0ae1}</key>
		<string>{8bc6d696-d5d1-4eed-803f-dba976c01850}</string>
		<key>{93d46952-e06d-4a91-a16a-1cadd2219b92}</key>
		<string>{dea1b59f-5f67-40ba-a222-1db444e43536}</string>
		<key>{5dac718f-eff7-4be7-8fb9-f4b140ff1f9f}</key>
		<string>{4ed33e43-824e-40a5-a463-9623dbd6faa8}</string>
		<key>{c76690db-8c26-492c-81d2-a5a8f2d511f4}</key>
		<string>{48052649-8c61-4544-9d7c-5f177b9e7611}</string>
		<key>{dd22cd8a-28a8-4753-a783-fb709d970ca6}</key>
		<string>{77dc1de0-c645-4595-9c8d-d7762ac3690e}</string>
		<key>{b17521ce-41e4-4a89-8b19-1b0b84a70999}</key>
		<string>{13c52dcc-663d-44bc-8625-e3fc06200a85}</string>
		<key>{5aa107d6-cabb-4339-95bf-53ec6f528825}</key>
		<string>{465aab86-f9b2-4c21-8e15-36f500c13092}</string>
		<key>{82a7516b-147c-4a38-92ed-76f1d7fbe863}</key>
		<string>{76914ff8-cbc8-4ae7-9dbb-88cf6f0e84a7}</string>
		<key>{89076b2c-e8a7-4d1c-b3f3-a0b09b3c0944}</key>
		<string>{6ec74b98-c6b4-4597-ba44-5af4a8e264df}</string>
		<key>{3a072346-a646-4619-957e-e9621f7f9b79}</key>
		<string>{a3da90fc-3617-4bad-83d8-84ebde976ecb}</string>
		<key>{97d64a04-fe01-495f-9a90-56059c3b99ab}</key>
		<string>{873bd425-151e-4e22-83c0-1fd4fb06ad5d}</string>
		<key>{4e1dce97-7712-4558-b66f-368680b347d4}</key>
		<string>{794236b5-8130-49df-97a9-dde7480d853e}</string>
		<key>{607fb455-411f-45fb-8a94-b27e1fd5d76d}</key>
		<string>{531a252f-45aa-46e9-9bec-5ca87594e137}</string>
		<key>{ce619525-219a-4e37-9d0a-64a91580e1e9}</key>
		<string>{8f84e6b2-f1b3-4806-bc76-8e75a496054e}</string>
		<key>{1f6fd79f-5d46-4960-b9f1-b12604a627c7}</key>
		<string>{6ac69e42-3ef8-4d3a-a506-dac38221884e}</string>
		<key>{7b32fc7e-9c5c-4e1f-8d18-bfa52d7abf02}</key>
		<string>{ddcfedf5-91a2-4747-bcbc-bdd862dda311}</string>
		<key>{d41dc8d6-80f0-4890-bbc8-9bdc0a746cdd}</key>
		<string>{63704fe9-da8c-4afc-a4c5-15367e4860bb}</string>
	</dict>
	<key>note_finger</key>
	<dict>
	</dict>
	<key>note_step</key>
	<dict>
		<key>{48ebf21f-6a47-48bc-8f17-1cc764b14292}</key>
		<string>{84531596-6e3e-4565-aadd-9d6943b97e7d}</string>
		<key>{dd4d1359-c631-4c26-90c6-0a321526b7cb}</key>
		<string>{5eb544cb-6554-44db-b6a8-cec6726e6527}</string>
		<key>{5d914a03-22d4-4aea-8eff-d6291a39a854}</key>
		<string>{d19041b4-6b68-4566-b8e5-f19134494344}</string>
		<key>{806ff9f8-eaa7-40ce-80bd-ece3e85acf44}</key>
		<string>{ad00016a-88f6-409f-840b-0f8fed610768}</string>
		<key>{39b424d8-d804-403a-9549-75025b61c898}</key>
		<string>{153005cd-9d75-471f-9691-63c1dfec265d}</string>
		<key>{72aa1e8a-77a4-4da0-a16e-aebb6caf1862}</key>
		<string>{3cedc583-b61e-4821-b0ff-1800febddb66}</string>
		<key>{85ac49b5-48ef-4635-839d-f938afa8cfa7}</key>
		<string>{bdaf8cee-6baf-4a1d-b6c6-9956ec6f12a8}</string>
		<key>{d7de5386-9c69-4ea7-a09b-51fe5b7ae5e8}</key>
		<string>{9d2ede8d-afbd-4775-8110-46405c78c9be}</string>
		<key>{051950b9-9a6e-455e-9c71-06e7c5c2118f}</key>
		<string>{3ddc11e0-1906-4f1c-922f-f3e7954531a1}</string>
		<key>{839904f0-3107-47ea-9c3f-c54ba7aa4864}</key>
		<string>{05a1b79f-332d-49cc-b78a-059b8fad2163}</string>
		<key>{25b74144-1209-462b-a47b-b9245cab752c}</key>
		<string>{2ad16139-38ff-41b0-9b7e-53bab82bd73c}</string>
		<key>{92e6badd-2c9e-41e2-9134-efaac5fbee4b}</key>
		<string>{f04f74c1-8513-4439-942e-07e732f1d9bb}</string>
		<key>{1233438d-7920-4e1b-969f-e73c8027f60c}</key>
		<string>{e93cb207-d997-42fb-8b6d-492980d4bf20}</string>
		<key>{f5bd73a4-cacf-4676-9967-bae2c54618fb}</key>
		<string>{620b370d-f2bf-4652-ac33-fe70f9b4fc98}</string>
		<key>{4c1368cc-a246-4780-8f7c-b6f6d71e0181}</key>
		<string>{bda1bfe7-f4a1-4530-a2e7-295bed440a5b}</string>
		<key>{07a2bc1b-1f1e-4b70-87aa-00662bf76e24}</key>
		<string>{5dac8ae8-ac56-4649-bb0f-df9e7544e460}</string>
		<key>{fd1e3d34-8ff7-47f0-95c9-5c327c0e838e}</key>
		<string>{f9f5cf11-3c92-4a86-8159-989243ae308a}</string>
		<key>{0dc22c70-7c3f-4d39-944b-72bb8874ced3}</key>
		<string>{2594758f-9247-4582-a548-ef12ccb83aa7}</string>
		<key>{b8c27a7a-6e7a-44e8-806e-dff8fafc2138}</key>
		<string>{16df4feb-ce32-4fef-b5d0-0a3b231ccfea}</string>
		<key>{753bf4e0-fa56-437a-966d-4dc3200d0ae1}</key>
		<string>{97c8fbd0-06e7-4348-91d8-76590e77da74}</string>
		<key>{93d46952-e06d-4a91-a16a-1cadd2219b92}</key>
		<string>{9459a4e4-f5b2-4f23-a8dd-96d5189cf9fc}</string>
		<key>{5dac718f-eff7-4be7-8fb9-f4b140ff1f9f}</key>
		<string>{c8d01139-c4bf-4935-9b80-c07b15ceb24b}</string>
		<key>{c76690db-8c26-492c-81d2-a5a8f2d511f4}</key>
		<string>{884766be-f9e9-46db-8508-dc5c6fac4f80}</string>
		<key>{dd22cd8a-28a8-4753-a783-fb709d970ca6}</key>
		<string>{3f3c3a3e-eb9d-4712-9d84-07704193f109}</string>
		<key>{b17521ce-41e4-4a89-8b19-1b0b84a70999}</key>
		<string>{7cd9474a-2825-4a59-bbe8-dc3012abf350}</string>
		<key>{5aa107d6-cabb-4339-95bf-53ec6f528825}</key>
		<string>{774f139c-8741-4240-b7ad-93ed57cfa96f}</string>
		<key>{82a7516b-147c-4a38-92ed-76f1d7fbe863}</key>
		<string>{805664e8-1c22-4d3b-9b6b-9b88efd87f53}</string>
		<key>{89076b2c-e8a7-4d1c-b3f3-a0b09b3c0944}</key>
		<string>{6b3dac2f-d57b-4b83-b414-f6dce75f872f}</string>
		<key>{3a072346-a646-4619-957e-e9621f7f9b79}</key>
		<string>{fd15ede9-0ba1-461d-9285-503b8a50ab8b}</string>
		<key>{97d64a04-fe01-495f-9a90-56059c3b99ab}</key>
		<string>{cd8c2175-316f-4427-9686-7e0829c9bc54}</string>
		<key>{4e1dce97-7712-4558-b66f-368680b347d4}</key>
		<string>{a5f45ae9-70ba-4423-8eb3-62f106ad022e}</string>
		<key>{607fb455-411f-45fb-8a94-b27e1fd5d76d}</key>
		<string>{627e9e40-e621-40f0-84fe-b8d69fd78915}</string>
		<key>{ce619525-219a-4e37-9d0a-64a91580e1e9}</key>
		<string>{a7c7e606-0024-4f98-bfc5-e38ab08d5a10}</string>
		<key>{1f6fd79f-5d46-4960-b9f1-b12604a627c7}</key>
		<string>{aae22220-4ae0-4f13-88f9-516ab35dfc13}</string>
		<key>{7b32fc7e-9c5c-4e1f-8d18-bfa52d7abf02}</key>
		<string>{3932748b-7671-404b-a19f-51e34eb4f37e}</string>
		<key>{d41dc8d6-80f0-4890-bbc8-9bdc0a746cdd}</key>
		<string>{94fb6ebe-fc3c-4b21-9677-0acdcc9d92ad}</string>
	</dict>
	<key>note_light</key>
	<dict>
		<key>{48ebf21f-6a47-48bc-8f17-1cc764b14292}</key>
		<array>
		</array>
		<key>{dd4d1359-c631-4c26-90c6-0a321526b7cb}</key>
		<array>
		</array>
		<key>{5d914a03-22d4-4aea-8eff-d6291a39a854}</key>
		<array>
			
			<string>{1f131a08-ebb1-4036-af6a-2084c52ba86e}</string>
		</array>
		<key>{806ff9f8-eaa7-40ce-80bd-ece3e85acf44}</key>
		<array>
			
			<string>{6e4b258b-5e9e-42a8-8339-2806d34b233d}</string>
		</array>
		<key>{39b424d8-d804-403a-9549-75025b61c898}</key>
		<array>
			
			<string>{e8859364-554f-43be-941b-b275cd02ef71}</string>
		</array>
		<key>{72aa1e8a-77a4-4da0-a16e-aebb6caf1862}</key>
		<array>
			
			<string>{0b2c287d-dc49-4bbe-bb9f-af58bbc510f4}</string>
		</array>
		<key>{85ac49b5-48ef-4635-839d-f938afa8cfa7}</key>
		<array>
			
			<string>{11a1aa1f-b4ff-493e-b09e-e9abbb1160fd}</string>
		</array>
		<key>{d7de5386-9c69-4ea7-a09b-51fe5b7ae5e8}</key>
		<array>
			
			<string>{a4bb5763-4c6b-4022-9641-c24692b78c11}</string>
		</array>
		<key>{051950b9-9a6e-455e-9c71-06e7c5c2118f}</key>
		<array>
			
			<string>{36423f26-e379-4d14-ab3e-0da292bc268c}</string>
		</array>
		<key>{839904f0-3107-47ea-9c3f-c54ba7aa4864}</key>
		<array>
			
			<string>{7b94a6fe-f6ea-47e6-834c-82e1bc140025}</string>
		</array>
		<key>{25b74144-1209-462b-a47b-b9245cab752c}</key>
		<array>
			
			<string>{ee45dc6c-58c4-4f09-9d7d-ae38c5ca5c4c}</string>
		</array>
		<key>{92e6badd-2c9e-41e2-9134-efaac5fbee4b}</key>
		<array>
			
			<string>{3857a472-59ae-4034-b1a0-fb2037944892}</string>
		</array>
		<key>{1233438d-7920-4e1b-969f-e73c8027f60c}</key>
		<array>
			
			<string>{8c2c2793-7cd6-4a21-8556-6279109b59a8}</string>
		</array>
		<key>{f5bd73a4-cacf-4676-9967-bae2c54618fb}</key>
		<array>
			
			<string>{c495301a-8910-43c7-bf51-053f3df09e3b}</string>
		</array>
		<key>{4c1368cc-a246-4780-8f7c-b6f6d71e0181}</key>
		<array>
			
			<string>{ff25375d-efcb-4b6f-9a66-aac29a116c33}</string>
		</array>
		<key>{07a2bc1b-1f1e-4b70-87aa-00662bf76e24}</key>
		<array>
			
			<string>{d4435a2e-4362-4a8e-bdee-e58c80d461b5}</string>
		</array>
		<key>{fd1e3d34-8ff7-47f0-95c9-5c327c0e838e}</key>
		<array>
			
			<string>{ae5bb5bd-6249-42dc-8f64-07f6625445e1}</string>
		</array>
		<key>{0dc22c70-7c3f-4d39-944b-72bb8874ced3}</key>
		<array>
		</array>
		<key>{b8c27a7a-6e7a-44e8-806e-dff8fafc2138}</key>
		<array>
			
			<string>{dba6c2c8-deed-48f6-bd0e-8e8789659b9c}</string>
		</array>
		<key>{753bf4e0-fa56-437a-966d-4dc3200d0ae1}</key>
		<array>
			
			<string>{8bc6d696-d5d1-4eed-803f-dba976c01850}</string>
		</array>
		<key>{93d46952-e06d-4a91-a16a-1cadd2219b92}</key>
		<array>
			
			<string>{dea1b59f-5f67-40ba-a222-1db444e43536}</string>
		</array>
		<key>{5dac718f-eff7-4be7-8fb9-f4b140ff1f9f}</key>
		<array>
			
			<string>{4ed33e43-824e-40a5-a463-9623dbd6faa8}</string>
		</array>
		<key>{c76690db-8c26-492c-81d2-a5a8f2d511f4}</key>
		<array>
			
			<string>{48052649-8c61-4544-9d7c-5f177b9e7611}</string>
		</array>
		<key>{dd22cd8a-28a8-4753-a783-fb709d970ca6}</key>
		<array>
			
			<string>{77dc1de0-c645-4595-9c8d-d7762ac3690e}</string>
		</array>
		<key>{b17521ce-41e4-4a89-8b19-1b0b84a70999}</key>
		<array>
			
			<string>{13c52dcc-663d-44bc-8625-e3fc06200a85}</string>
		</array>
		<key>{5aa107d6-cabb-4339-95bf-53ec6f528825}</key>
		<array>
			
			<string>{465aab86-f9b2-4c21-8e15-36f500c13092}</string>
		</array>
		<key>{82a7516b-147c-4a38-92ed-76f1d7fbe863}</key>
		<array>
			
			<string>{76914ff8-cbc8-4ae7-9dbb-88cf6f0e84a7}</string>
		</array>
		<key>{89076b2c-e8a7-4d1c-b3f3-a0b09b3c0944}</key>
		<array>
			
			<string>{6ec74b98-c6b4-4597-ba44-5af4a8e264df}</string>
		</array>
		<key>{3a072346-a646-4619-957e-e9621f7f9b79}</key>
		<array>
			
			<string>{a3da90fc-3617-4bad-83d8-84ebde976ecb}</string>
		</array>
		<key>{97d64a04-fe01-495f-9a90-56059c3b99ab}</key>
		<array>
			
			<string>{873bd425-151e-4e22-83c0-1fd4fb06ad5d}</string>
		</array>
		<key>{4e1dce97-7712-4558-b66f-368680b347d4}</key>
		<array>
			
			<string>{794236b5-8130-49df-97a9-dde7480d853e}</string>
		</array>
		<key>{607fb455-411f-45fb-8a94-b27e1fd5d76d}</key>
		<array>
			
			<string>{531a252f-45aa-46e9-9bec-5ca87594e137}</string>
		</array>
		<key>{ce619525-219a-4e37-9d0a-64a91580e1e9}</key>
		<array>
			
			<string>{8f84e6b2-f1b3-4806-bc76-8e75a496054e}</string>
		</array>
		<key>{1f6fd79f-5d46-4960-b9f1-b12604a627c7}</key>
		<array>
			
			<string>{6ac69e42-3ef8-4d3a-a506-dac38221884e}</string>
		</array>
		<key>{7b32fc7e-9c5c-4e1f-8d18-bfa52d7abf02}</key>
		<array>
			
			<string>{ddcfedf5-91a2-4747-bcbc-bdd862dda311}</string>
		</array>
		<key>{d41dc8d6-80f0-4890-bbc8-9bdc0a746cdd}</key>
		<array>
			
			<string>{63704fe9-da8c-4afc-a4c5-15367e4860bb}</string>
		</array>
	</dict>
</dict>
</plist>