<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RhythmicPatternChoiceViewController</key>
	<dict>
		<key>LimitCourse</key>
		<string>10</string>
		<key>ActivityDelay</key>
		<string>0</string>
		<key>Actions</key>
		<array>
			<dict>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>Description</key>
						<string>点击播放按钮</string>
						<key>ActionType</key>
						<string>click</string>
						<key>end_x</key>
						<string>1432</string>
						<key>end_y</key>
						<string>570</string>
					</dict>
				</array>
				<key>LightRingAction</key>
				<array>
					<string>200</string>
				</array>
			</dict>
			<dict>
				<key>Description</key>
				<string>等待背景音乐播放完</string>
				<key>LightRingAction</key>
				<array>
					<string>160</string>
				</array>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>ActionType</key>
						<string>special</string>
						<key>SpecialIndex</key>
						<string>0</string>
						<key>Delay</key>
						<string>2</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>Description</key>
						<string>选择正确的节拍</string>
						<key>SpecialIndex</key>
						<string>1</string>
						<key>empty</key>
						<string>YES</string>
					</dict>
				</array>
				<key>LightRingAction</key>
				<array>
					<string>400</string>
				</array>
			</dict>
		</array>
		<key>Description</key>
		<string>节奏型选择题</string>
	</dict>
</dict>
</plist>
