<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{8a58ddfe-8369-4774-b755-942c9dc00353}</key>
		<dict>
			<key>x</key>
			<string>505.384</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{14eb257d-7f48-4380-bbe5-451369d589e0}</key>
		<dict>
			<key>x</key>
			<string>505.384</string>
			<key>y</key>
			<string>313.016</string>
		</dict>
		<key>{1b45056e-12b1-4c06-9d9e-089a76c251ba}</key>
		<dict>
			<key>x</key>
			<string>475.102</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{fbe13818-07ec-4cd1-a7fc-a067c2c4200c}</key>
		<dict>
			<key>x</key>
			<string>475.102</string>
			<key>y</key>
			<string>313.016</string>
		</dict>
		<key>{3ae43fdc-f896-493f-9397-5b0784531804}</key>
		<dict>
			<key>x</key>
			<string>444.641</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{f5a40a5a-e40e-40c1-8334-d093dea4e310}</key>
		<dict>
			<key>x</key>
			<string>444.641</string>
			<key>y</key>
			<string>313.016</string>
		</dict>
		<key>{46598f89-ef53-4b89-b0ed-4f3cbda7b43e}</key>
		<dict>
			<key>x</key>
			<string>442.994</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{cadf7444-324c-4f4a-bd1b-f29db582c283}</key>
		<dict>
			<key>x</key>
			<string>406.613</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{8d95cb58-78ea-4eee-9a0c-c65048d6be77}</key>
		<dict>
			<key>x</key>
			<string>406.613</string>
			<key>y</key>
			<string>313.016</string>
		</dict>
		<key>{0191e402-b08d-4dcc-b8b8-d0fb88bebb19}</key>
		<dict>
			<key>x</key>
			<string>376.978</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{b33eeac1-9ad4-4487-a3d3-3b3c0ffd0f01}</key>
		<dict>
			<key>x</key>
			<string>376.978</string>
			<key>y</key>
			<string>313.016</string>
		</dict>
		<key>{4eec7d17-430a-4248-91e7-01455f9b6f59}</key>
		<dict>
			<key>x</key>
			<string>376.799</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{1f5f3f85-0f8f-487c-a265-78df009868b5}</key>
		<dict>
			<key>x</key>
			<string>347.343</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{3e76fb09-b434-4fe9-90a6-a5c469b01186}</key>
		<dict>
			<key>x</key>
			<string>347.343</string>
			<key>y</key>
			<string>313.016</string>
		</dict>
		<key>{6c79f4df-4b3d-4b50-8ae2-1d90c458af39}</key>
		<dict>
			<key>x</key>
			<string>317.708</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{d5e886d6-18c8-4e1a-b53b-3a206e01c3f3}</key>
		<dict>
			<key>x</key>
			<string>317.708</string>
			<key>y</key>
			<string>313.016</string>
		</dict>
		<key>{7757d32f-03d9-4dec-b441-0448373ee1f9}</key>
		<dict>
			<key>x</key>
			<string>317.529</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{016186b2-7bf6-4c74-8185-d5eac3fe97a3}</key>
		<dict>
			<key>x</key>
			<string>281.103</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{c0db3fbc-645f-4d7f-afd3-27c41ced5392}</key>
		<dict>
			<key>x</key>
			<string>281.103</string>
			<key>y</key>
			<string>313.016</string>
		</dict>
		<key>{b431f580-98b9-4058-94eb-6c8ffd08a8f4}</key>
		<dict>
			<key>x</key>
			<string>281.103</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{2261b337-9727-492e-8d43-69da6355c69a}</key>
		<dict>
			<key>x</key>
			<string>251.423</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{38f62345-3bc9-4fb5-8a84-9d26efccf6cf}</key>
		<dict>
			<key>x</key>
			<string>251.423</string>
			<key>y</key>
			<string>313.016</string>
		</dict>
		<key>{e3b53345-4f27-41ea-ab17-004a896838ce}</key>
		<dict>
			<key>x</key>
			<string>251.423</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{4076d0e3-845b-4001-a5b1-28cdf4f8c668}</key>
		<dict>
			<key>x</key>
			<string>221.743</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{92f79238-16e8-47a6-ad53-4e6887a4cb3c}</key>
		<dict>
			<key>x</key>
			<string>221.743</string>
			<key>y</key>
			<string>313.016</string>
		</dict>
		<key>{468d67e4-0bee-4672-ac5a-1d9526821cb2}</key>
		<dict>
			<key>x</key>
			<string>221.743</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{50795b61-bd20-484c-a88b-3c4f06038de3}</key>
		<dict>
			<key>x</key>
			<string>192.063</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{3d57d4df-ee21-4b44-8af5-d63a41db0861}</key>
		<dict>
			<key>x</key>
			<string>192.063</string>
			<key>y</key>
			<string>313.016</string>
		</dict>
		<key>{55594b0f-7ed5-4f64-a239-ab6acadc8719}</key>
		<dict>
			<key>x</key>
			<string>192.063</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{e16b75ea-1c8a-4721-acf2-e7d8f873e45c}</key>
		<dict>
			<key>x</key>
			<string>156.876</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{c688bed1-f144-4f74-978c-f1ea22ba1c51}</key>
		<dict>
			<key>x</key>
			<string>156.876</string>
			<key>y</key>
			<string>313.016</string>
		</dict>
		<key>{fa4a30b7-6d85-418d-ae24-6c2c7c46b12f}</key>
		<dict>
			<key>x</key>
			<string>128.435</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{168855c9-101e-4ba8-8847-9a5d41728ba3}</key>
		<dict>
			<key>x</key>
			<string>128.435</string>
			<key>y</key>
			<string>313.016</string>
		</dict>
		<key>{22f422a1-f3ff-48f1-aff3-5b394bd7adad}</key>
		<dict>
			<key>x</key>
			<string>128.256</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{3488c4b1-40bf-4894-a77a-95aa4bbcbbd2}</key>
		<dict>
			<key>x</key>
			<string>99.9935</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{642813cc-e34c-4dec-b4c8-c0a7f8c2b2f7}</key>
		<dict>
			<key>x</key>
			<string>99.9935</string>
			<key>y</key>
			<string>313.016</string>
		</dict>
		<key>{cbef80f6-70e9-4ea9-b271-aaf29df0c3bc}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{086eaad8-99c3-44c3-8938-e520a3f35c5e}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>313.016</string>
		</dict>
		<key>{c3daa35b-2b33-4610-afde-421f2585310b}</key>
		<dict>
			<key>x</key>
			<string>71.3734</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{c1bf67d0-0ea6-43ce-a9bb-e7473f2b737e}</key>
		<dict>
			<key>x</key>
			<string>530.501</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{453b0a94-e6c8-4585-bb85-d77eaaacb146}</key>
		<dict>
			<key>x</key>
			<string>530.501</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{59d235ec-1ec2-4c77-b4c6-334f0aec4f9a}</key>
		<dict>
			<key>x</key>
			<string>502.238</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{e1e21c42-f130-4665-b640-930f0dfbf35c}</key>
		<dict>
			<key>x</key>
			<string>502.238</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{abae1646-b999-4678-be2a-a8e864095379}</key>
		<dict>
			<key>x</key>
			<string>473.975</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{56b4cf37-72e1-416d-823e-17b691738989}</key>
		<dict>
			<key>x</key>
			<string>473.975</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{2787b85d-b9b2-4af8-af69-a5d3aa03d3b5}</key>
		<dict>
			<key>x</key>
			<string>445.712</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{4082e010-f361-4e63-847b-66d57e3c45da}</key>
		<dict>
			<key>x</key>
			<string>445.712</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{3d3ca319-ade8-4416-bf3a-dcc1a5840594}</key>
		<dict>
			<key>x</key>
			<string>444.064</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{41798230-cf92-462d-95be-40373f0dbe6a}</key>
		<dict>
			<key>x</key>
			<string>408.688</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{d15b1d8e-b0b7-4d9c-88af-595341f6ff41}</key>
		<dict>
			<key>x</key>
			<string>408.688</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{4d719fd8-77e5-4b8c-8f64-4bc55273cf97}</key>
		<dict>
			<key>x</key>
			<string>380.057</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{d91a24d5-b8ed-429b-896a-842ff324dc78}</key>
		<dict>
			<key>x</key>
			<string>380.057</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{9faf39e2-0a17-4c13-a263-09ebbfd4bc86}</key>
		<dict>
			<key>x</key>
			<string>379.878</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{3b276b9b-7077-40b5-ac07-b38372539a9d}</key>
		<dict>
			<key>x</key>
			<string>351.427</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{2d0e12e4-2476-41d4-b010-017379e88abb}</key>
		<dict>
			<key>x</key>
			<string>351.427</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{a50a247f-e8f6-43c2-a80b-59ff78c61f7e}</key>
		<dict>
			<key>x</key>
			<string>322.797</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{452acef5-8304-45da-89c4-317ba794431c}</key>
		<dict>
			<key>x</key>
			<string>322.797</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{ece37744-f972-4847-ba75-e3bb02fc24b4}</key>
		<dict>
			<key>x</key>
			<string>322.618</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{2d450fd7-3b40-4a7b-8af9-b603b4ac1226}</key>
		<dict>
			<key>x</key>
			<string>287.196</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{1aeba60d-71e1-4d24-9431-f3c0b12dea07}</key>
		<dict>
			<key>x</key>
			<string>287.196</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{5426d567-d50f-4d82-87f8-e0b74d68a75c}</key>
		<dict>
			<key>x</key>
			<string>287.196</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{718d418e-2207-42ce-9b7f-2b270b3b77d9}</key>
		<dict>
			<key>x</key>
			<string>258.521</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{bc6f5f8b-ba2b-440c-8ec9-1183560a9ed7}</key>
		<dict>
			<key>x</key>
			<string>258.521</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{f4e8be3e-3eab-4b89-839f-42fcf4c33318}</key>
		<dict>
			<key>x</key>
			<string>258.521</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{1e1fdf3a-0ea2-48ba-a782-c0144368bdf1}</key>
		<dict>
			<key>x</key>
			<string>229.846</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{e58cc548-99e8-4ad8-a3bb-b57512897aa8}</key>
		<dict>
			<key>x</key>
			<string>229.846</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{d48ddd2d-fb67-4018-b89f-f0b8cb29592f}</key>
		<dict>
			<key>x</key>
			<string>229.846</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{06849251-38dc-44a8-b464-2829532d728e}</key>
		<dict>
			<key>x</key>
			<string>201.171</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{98a75485-8c84-4d6d-9ba3-9cee0d7b3b61}</key>
		<dict>
			<key>x</key>
			<string>201.171</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{53a6105b-03d7-4aa6-a1a7-9f2e0e4902c0}</key>
		<dict>
			<key>x</key>
			<string>201.171</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{91b8ca3f-e53d-4fef-960c-c8e117f3839b}</key>
		<dict>
			<key>x</key>
			<string>166.988</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{d75b5635-8580-4a35-aa68-6219c563afa5}</key>
		<dict>
			<key>x</key>
			<string>166.988</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{385afa68-a01a-4265-9a6f-435c6cf40db1}</key>
		<dict>
			<key>x</key>
			<string>139.552</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{13914ab0-9e6c-41d6-a465-ddb6d7214c3b}</key>
		<dict>
			<key>x</key>
			<string>139.552</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{ca75714b-4902-478a-a40c-63827ff2c6d3}</key>
		<dict>
			<key>x</key>
			<string>139.373</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{9b269b7e-14ec-4b70-8f1e-d228ac6a8492}</key>
		<dict>
			<key>x</key>
			<string>112.115</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{1fb094fa-fe71-4d54-80f6-1e4ca89246b7}</key>
		<dict>
			<key>x</key>
			<string>112.115</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{a2287991-2577-4e52-8b88-aea2e86a9652}</key>
		<dict>
			<key>x</key>
			<string>84.6787</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{521bf405-3bdc-4e97-8ffd-1d94e3ef5a2b}</key>
		<dict>
			<key>x</key>
			<string>84.6787</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{b80e88bb-6fb0-478c-bc51-31f6cc522753}</key>
		<dict>
			<key>x</key>
			<string>84.4996</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{14eb257d-7f48-4380-bbe5-451369d589e0}</key>
		<dict>
			<key>x1</key>
			<string>505.706</string>
			<key>y1</key>
			<string>308.833</string>
			<key>x2</key>
			<string>505.706</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{8a58ddfe-8369-4774-b755-942c9dc00353}</key>
		<dict>
			<key>x1</key>
			<string>505.706</string>
			<key>y1</key>
			<string>308.833</string>
			<key>x2</key>
			<string>505.706</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{fbe13818-07ec-4cd1-a7fc-a067c2c4200c}</key>
		<dict>
			<key>x1</key>
			<string>475.425</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>475.425</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{1b45056e-12b1-4c06-9d9e-089a76c251ba}</key>
		<dict>
			<key>x1</key>
			<string>475.425</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>475.425</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{f5a40a5a-e40e-40c1-8334-d093dea4e310}</key>
		<dict>
			<key>x1</key>
			<string>444.964</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>444.964</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{3ae43fdc-f896-493f-9397-5b0784531804}</key>
		<dict>
			<key>x1</key>
			<string>444.964</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>444.964</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{8d95cb58-78ea-4eee-9a0c-c65048d6be77}</key>
		<dict>
			<key>x1</key>
			<string>406.935</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>406.935</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{cadf7444-324c-4f4a-bd1b-f29db582c283}</key>
		<dict>
			<key>x1</key>
			<string>406.935</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>406.935</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{b33eeac1-9ad4-4487-a3d3-3b3c0ffd0f01}</key>
		<dict>
			<key>x1</key>
			<string>377.3</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>377.3</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{0191e402-b08d-4dcc-b8b8-d0fb88bebb19}</key>
		<dict>
			<key>x1</key>
			<string>377.3</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>377.3</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{4eec7d17-430a-4248-91e7-01455f9b6f59}</key>
		<dict>
			<key>x1</key>
			<string>383.365</string>
			<key>y1</key>
			<string>270.088</string>
			<key>x2</key>
			<string>383.365</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3e76fb09-b434-4fe9-90a6-a5c469b01186}</key>
		<dict>
			<key>x1</key>
			<string>347.665</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>347.665</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{1f5f3f85-0f8f-487c-a265-78df009868b5}</key>
		<dict>
			<key>x1</key>
			<string>347.665</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>347.665</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{d5e886d6-18c8-4e1a-b53b-3a206e01c3f3}</key>
		<dict>
			<key>x1</key>
			<string>318.03</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>318.03</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{6c79f4df-4b3d-4b50-8ae2-1d90c458af39}</key>
		<dict>
			<key>x1</key>
			<string>318.03</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>318.03</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{7757d32f-03d9-4dec-b441-0448373ee1f9}</key>
		<dict>
			<key>x1</key>
			<string>324.095</string>
			<key>y1</key>
			<string>267.608</string>
			<key>x2</key>
			<string>324.095</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c0db3fbc-645f-4d7f-afd3-27c41ced5392}</key>
		<dict>
			<key>x1</key>
			<string>281.425</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>281.425</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{016186b2-7bf6-4c74-8185-d5eac3fe97a3}</key>
		<dict>
			<key>x1</key>
			<string>281.425</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>281.425</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{b431f580-98b9-4058-94eb-6c8ffd08a8f4}</key>
		<dict>
			<key>x1</key>
			<string>287.311</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>287.311</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{38f62345-3bc9-4fb5-8a84-9d26efccf6cf}</key>
		<dict>
			<key>x1</key>
			<string>251.745</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>251.745</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{2261b337-9727-492e-8d43-69da6355c69a}</key>
		<dict>
			<key>x1</key>
			<string>251.745</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>251.745</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{e3b53345-4f27-41ea-ab17-004a896838ce}</key>
		<dict>
			<key>x1</key>
			<string>257.631</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>257.631</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{92f79238-16e8-47a6-ad53-4e6887a4cb3c}</key>
		<dict>
			<key>x1</key>
			<string>222.066</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>222.066</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{4076d0e3-845b-4001-a5b1-28cdf4f8c668}</key>
		<dict>
			<key>x1</key>
			<string>222.066</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>222.066</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{468d67e4-0bee-4672-ac5a-1d9526821cb2}</key>
		<dict>
			<key>x1</key>
			<string>227.952</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>227.952</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3d57d4df-ee21-4b44-8af5-d63a41db0861}</key>
		<dict>
			<key>x1</key>
			<string>192.386</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>192.386</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{50795b61-bd20-484c-a88b-3c4f06038de3}</key>
		<dict>
			<key>x1</key>
			<string>192.386</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>192.386</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{55594b0f-7ed5-4f64-a239-ab6acadc8719}</key>
		<dict>
			<key>x1</key>
			<string>198.272</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>198.272</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c688bed1-f144-4f74-978c-f1ea22ba1c51}</key>
		<dict>
			<key>x1</key>
			<string>157.198</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>157.198</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{e16b75ea-1c8a-4721-acf2-e7d8f873e45c}</key>
		<dict>
			<key>x1</key>
			<string>157.198</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>157.198</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{168855c9-101e-4ba8-8847-9a5d41728ba3}</key>
		<dict>
			<key>x1</key>
			<string>128.757</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>128.757</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{fa4a30b7-6d85-418d-ae24-6c2c7c46b12f}</key>
		<dict>
			<key>x1</key>
			<string>128.757</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>128.757</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{22f422a1-f3ff-48f1-aff3-5b394bd7adad}</key>
		<dict>
			<key>x1</key>
			<string>134.822</string>
			<key>y1</key>
			<string>272.569</string>
			<key>x2</key>
			<string>134.822</string>
			<key>y2</key>
			<string>255.969</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{642813cc-e34c-4dec-b4c8-c0a7f8c2b2f7}</key>
		<dict>
			<key>x1</key>
			<string>100.316</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>100.316</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{3488c4b1-40bf-4894-a77a-95aa4bbcbbd2}</key>
		<dict>
			<key>x1</key>
			<string>100.316</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>100.316</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{086eaad8-99c3-44c3-8938-e520a3f35c5e}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{cbef80f6-70e9-4ea9-b271-aaf29df0c3bc}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>327.898</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{c3daa35b-2b33-4610-afde-421f2585310b}</key>
		<dict>
			<key>x1</key>
			<string>77.94</string>
			<key>y1</key>
			<string>262.648</string>
			<key>x2</key>
			<string>77.94</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{453b0a94-e6c8-4585-bb85-d77eaaacb146}</key>
		<dict>
			<key>x1</key>
			<string>530.824</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>530.824</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{c1bf67d0-0ea6-43ce-a9bb-e7473f2b737e}</key>
		<dict>
			<key>x1</key>
			<string>530.824</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>530.824</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{e1e21c42-f130-4665-b640-930f0dfbf35c}</key>
		<dict>
			<key>x1</key>
			<string>502.561</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>502.561</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{59d235ec-1ec2-4c77-b4c6-334f0aec4f9a}</key>
		<dict>
			<key>x1</key>
			<string>502.561</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>502.561</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{56b4cf37-72e1-416d-823e-17b691738989}</key>
		<dict>
			<key>x1</key>
			<string>474.297</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>474.297</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{abae1646-b999-4678-be2a-a8e864095379}</key>
		<dict>
			<key>x1</key>
			<string>474.297</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>474.297</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{4082e010-f361-4e63-847b-66d57e3c45da}</key>
		<dict>
			<key>x1</key>
			<string>446.034</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>446.034</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{2787b85d-b9b2-4af8-af69-a5d3aa03d3b5}</key>
		<dict>
			<key>x1</key>
			<string>446.034</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>446.034</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{d15b1d8e-b0b7-4d9c-88af-595341f6ff41}</key>
		<dict>
			<key>x1</key>
			<string>409.01</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>409.01</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{41798230-cf92-462d-95be-40373f0dbe6a}</key>
		<dict>
			<key>x1</key>
			<string>409.01</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>409.01</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{d91a24d5-b8ed-429b-896a-842ff324dc78}</key>
		<dict>
			<key>x1</key>
			<string>380.38</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>380.38</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{4d719fd8-77e5-4b8c-8f64-4bc55273cf97}</key>
		<dict>
			<key>x1</key>
			<string>380.38</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>380.38</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{9faf39e2-0a17-4c13-a263-09ebbfd4bc86}</key>
		<dict>
			<key>x1</key>
			<string>386.445</string>
			<key>y1</key>
			<string>116.309</string>
			<key>x2</key>
			<string>386.445</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{2d0e12e4-2476-41d4-b010-017379e88abb}</key>
		<dict>
			<key>x1</key>
			<string>351.75</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>351.75</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{3b276b9b-7077-40b5-ac07-b38372539a9d}</key>
		<dict>
			<key>x1</key>
			<string>351.75</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>351.75</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{452acef5-8304-45da-89c4-317ba794431c}</key>
		<dict>
			<key>x1</key>
			<string>323.119</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>323.119</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{a50a247f-e8f6-43c2-a80b-59ff78c61f7e}</key>
		<dict>
			<key>x1</key>
			<string>323.119</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>323.119</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{ece37744-f972-4847-ba75-e3bb02fc24b4}</key>
		<dict>
			<key>x1</key>
			<string>329.184</string>
			<key>y1</key>
			<string>116.309</string>
			<key>x2</key>
			<string>329.184</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{1aeba60d-71e1-4d24-9431-f3c0b12dea07}</key>
		<dict>
			<key>x1</key>
			<string>287.519</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>287.519</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{2d450fd7-3b40-4a7b-8af9-b603b4ac1226}</key>
		<dict>
			<key>x1</key>
			<string>287.519</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>287.519</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{5426d567-d50f-4d82-87f8-e0b74d68a75c}</key>
		<dict>
			<key>x1</key>
			<string>293.405</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>293.405</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{bc6f5f8b-ba2b-440c-8ec9-1183560a9ed7}</key>
		<dict>
			<key>x1</key>
			<string>258.844</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>258.844</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{718d418e-2207-42ce-9b7f-2b270b3b77d9}</key>
		<dict>
			<key>x1</key>
			<string>258.844</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>258.844</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{f4e8be3e-3eab-4b89-839f-42fcf4c33318}</key>
		<dict>
			<key>x1</key>
			<string>264.73</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>264.73</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e58cc548-99e8-4ad8-a3bb-b57512897aa8}</key>
		<dict>
			<key>x1</key>
			<string>230.169</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>230.169</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{1e1fdf3a-0ea2-48ba-a782-c0144368bdf1}</key>
		<dict>
			<key>x1</key>
			<string>230.169</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>230.169</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{d48ddd2d-fb67-4018-b89f-f0b8cb29592f}</key>
		<dict>
			<key>x1</key>
			<string>236.055</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>236.055</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{98a75485-8c84-4d6d-9ba3-9cee0d7b3b61}</key>
		<dict>
			<key>x1</key>
			<string>201.493</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>201.493</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{06849251-38dc-44a8-b464-2829532d728e}</key>
		<dict>
			<key>x1</key>
			<string>201.493</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>201.493</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{53a6105b-03d7-4aa6-a1a7-9f2e0e4902c0}</key>
		<dict>
			<key>x1</key>
			<string>207.38</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>207.38</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d75b5635-8580-4a35-aa68-6219c563afa5}</key>
		<dict>
			<key>x1</key>
			<string>167.311</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>167.311</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{91b8ca3f-e53d-4fef-960c-c8e117f3839b}</key>
		<dict>
			<key>x1</key>
			<string>167.311</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>167.311</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{13914ab0-9e6c-41d6-a465-ddb6d7214c3b}</key>
		<dict>
			<key>x1</key>
			<string>139.874</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>139.874</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{385afa68-a01a-4265-9a6f-435c6cf40db1}</key>
		<dict>
			<key>x1</key>
			<string>139.874</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>139.874</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{ca75714b-4902-478a-a40c-63827ff2c6d3}</key>
		<dict>
			<key>x1</key>
			<string>145.939</string>
			<key>y1</key>
			<string>116.309</string>
			<key>x2</key>
			<string>145.939</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{1fb094fa-fe71-4d54-80f6-1e4ca89246b7}</key>
		<dict>
			<key>x1</key>
			<string>112.438</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>112.438</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{9b269b7e-14ec-4b70-8f1e-d228ac6a8492}</key>
		<dict>
			<key>x1</key>
			<string>112.438</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>112.438</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{521bf405-3bdc-4e97-8ffd-1d94e3ef5a2b}</key>
		<dict>
			<key>x1</key>
			<string>85.0011</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>85.0011</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{a2287991-2577-4e52-8b88-aea2e86a9652}</key>
		<dict>
			<key>x1</key>
			<string>85.0011</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>85.0011</string>
			<key>y2</key>
			<string>181.559</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{b80e88bb-6fb0-478c-bc51-31f6cc522753}</key>
		<dict>
			<key>x1</key>
			<string>91.0663</string>
			<key>y1</key>
			<string>126.23</string>
			<key>x2</key>
			<string>91.0663</string>
			<key>y2</key>
			<string>109.63</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
	</dict>
</dict>
</plist>