<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{fbc86c88-0745-4750-b60e-fb487f165453}</key>
		<dict>
			<key>x</key>
			<string>504.168</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{9e0e5b05-5fec-4ad2-b655-85200b9c2f2e}</key>
		<dict>
			<key>x</key>
			<string>504.168</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{1dbea01e-0b53-45a1-902b-07513cee18b2}</key>
		<dict>
			<key>x</key>
			<string>504.168</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{bd50b6e5-c38f-4aed-ac1d-e492bfdf6648}</key>
		<dict>
			<key>x</key>
			<string>473.127</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{6d131a73-54db-4846-8e32-f7b80e09b38d}</key>
		<dict>
			<key>x</key>
			<string>473.127</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{539921d3-0742-4fda-9f7b-8b62da9fb6ca}</key>
		<dict>
			<key>x</key>
			<string>473.127</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{be341341-6cbe-419c-a016-c2976e91cf8a}</key>
		<dict>
			<key>x</key>
			<string>441.906</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{ad16c6b3-0365-4196-94b9-f03760531e66}</key>
		<dict>
			<key>x</key>
			<string>403.668</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{db863bfe-3a99-4d95-a0a5-d3d6f8d114e5}</key>
		<dict>
			<key>x</key>
			<string>409.554</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{15e583b7-12e8-4729-8ef8-2d30e06a6d55}</key>
		<dict>
			<key>x</key>
			<string>403.668</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{95bd9184-d301-483e-add3-92515d120252}</key>
		<dict>
			<key>x</key>
			<string>372.641</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{1b6df540-1dfd-4474-ad9e-824d41653221}</key>
		<dict>
			<key>x</key>
			<string>341.614</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{10031601-273a-4060-b33f-cb329af3390e}</key>
		<dict>
			<key>x</key>
			<string>347.5</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{44a1881a-bfb5-476b-bda2-a4a836a518ba}</key>
		<dict>
			<key>x</key>
			<string>341.614</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{0fcd38c2-a231-44af-a201-f8ec1246121f}</key>
		<dict>
			<key>x</key>
			<string>310.587</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{6383a8c9-6e66-4e03-a76a-537678e148bc}</key>
		<dict>
			<key>x</key>
			<string>251.38</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{d5082bfc-2dc3-4f64-9348-845e17016af6}</key>
		<dict>
			<key>x</key>
			<string>257.624</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{48b3a315-8216-4cb0-ac5b-c3d6d3d3a113}</key>
		<dict>
			<key>x</key>
			<string>251.38</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{048749ea-b755-4fcf-b630-c27dd3dc099c}</key>
		<dict>
			<key>x</key>
			<string>219.174</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{34ed20ad-f9e9-4148-9f39-b5c790074175}</key>
		<dict>
			<key>x</key>
			<string>225.06</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{ac91152a-fbc7-428a-bc35-d4bc8abb0f48}</key>
		<dict>
			<key>x</key>
			<string>219.174</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{676a7bfd-b771-44cc-8fb6-0d01501f83d0}</key>
		<dict>
			<key>x</key>
			<string>186.788</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{f62cbba2-4ee9-4c1e-b29e-73d8a7d620dd}</key>
		<dict>
			<key>x</key>
			<string>152.615</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{cfcea64c-fefd-4626-bad1-b7dfd6702c82}</key>
		<dict>
			<key>x</key>
			<string>152.615</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{fa2b59ba-6f0f-490d-8da2-e8c44a1b9165}</key>
		<dict>
			<key>x</key>
			<string>152.615</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{a3952281-1f46-4f6b-a3fc-208f27fb09d9}</key>
		<dict>
			<key>x</key>
			<string>125.654</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{2d6592f0-bbc2-429f-86d5-113b21ea433e}</key>
		<dict>
			<key>x</key>
			<string>98.6922</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{73405b54-6745-4289-bf9d-0f707b28dec9}</key>
		<dict>
			<key>x</key>
			<string>98.6922</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{db118bcd-899b-4aeb-b6bf-caf1ab241fa4}</key>
		<dict>
			<key>x</key>
			<string>98.6922</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{6e32a0b3-ec20-41ed-817d-01d036b88980}</key>
		<dict>
			<key>x</key>
			<string>71.7307</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{aa9f8e18-fc6b-4063-9a79-d6558b6b88f9}</key>
		<dict>
			<key>x</key>
			<string>509.607</string>
			<key>y</key>
			<string>149.315</string>
		</dict>
		<key>{a8c443cb-cc6b-4423-954c-043dc875317d}</key>
		<dict>
			<key>x</key>
			<string>509.607</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{4069bdd7-b592-49ea-873f-0f737ad1cfbe}</key>
		<dict>
			<key>x</key>
			<string>509.607</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{004e8ab5-b568-4cd0-9632-7f0d6bc55bf0}</key>
		<dict>
			<key>x</key>
			<string>479.175</string>
			<key>y</key>
			<string>149.315</string>
		</dict>
		<key>{5942fec3-76ca-4e8c-8704-44c22f55f809}</key>
		<dict>
			<key>x</key>
			<string>479.175</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{fcbfad41-5143-42e2-8319-e7c5e19cac7d}</key>
		<dict>
			<key>x</key>
			<string>479.175</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{5758f5ab-a6be-454e-83d9-e2a957c8a93e}</key>
		<dict>
			<key>x</key>
			<string>448.563</string>
			<key>y</key>
			<string>149.315</string>
		</dict>
		<key>{6fd9d190-3a18-4c62-94d2-42ad961fc1ca}</key>
		<dict>
			<key>x</key>
			<string>410.873</string>
			<key>y</key>
			<string>151.795</string>
		</dict>
		<key>{ad14a25b-bc42-43ff-962c-b91be2c5e27b}</key>
		<dict>
			<key>x</key>
			<string>416.759</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{5fd14f9f-9253-4026-9ae8-8b1d18f5f010}</key>
		<dict>
			<key>x</key>
			<string>410.873</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{75190b89-1f53-41f1-8a10-2cc018034074}</key>
		<dict>
			<key>x</key>
			<string>380.394</string>
			<key>y</key>
			<string>156.756</string>
		</dict>
		<key>{e01f46a9-8942-45fe-a268-5be8e2c7275c}</key>
		<dict>
			<key>x</key>
			<string>349.915</string>
			<key>y</key>
			<string>151.795</string>
		</dict>
		<key>{da0a3360-558e-4b46-93f6-44ceea5bd1d3}</key>
		<dict>
			<key>x</key>
			<string>355.801</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{fb28b6cc-089b-4cb6-a565-afe25dc3210e}</key>
		<dict>
			<key>x</key>
			<string>349.915</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{d6dd615b-6f61-41fe-8810-80706f97f647}</key>
		<dict>
			<key>x</key>
			<string>319.436</string>
			<key>y</key>
			<string>156.756</string>
		</dict>
		<key>{b18c5155-d2a3-4df2-82e6-031c03ab8068}</key>
		<dict>
			<key>x</key>
			<string>261.204</string>
			<key>y</key>
			<string>151.795</string>
		</dict>
		<key>{1fcdbcae-e464-47bc-abc3-67013d2056bc}</key>
		<dict>
			<key>x</key>
			<string>267.448</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{24c2ee68-ce59-4bab-93f6-90a3bdf0d2c4}</key>
		<dict>
			<key>x</key>
			<string>261.204</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{b932d9f5-cb2d-4a5c-a471-d4251ab64f65}</key>
		<dict>
			<key>x</key>
			<string>229.606</string>
			<key>y</key>
			<string>151.795</string>
		</dict>
		<key>{7e9e8111-53d9-42f1-9ab2-b8e7e6004b7a}</key>
		<dict>
			<key>x</key>
			<string>235.492</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{0abab67f-485a-4186-9dff-29e9e1c8c0b0}</key>
		<dict>
			<key>x</key>
			<string>229.606</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{adfadc90-81c0-4bf8-910a-12e956aaa018}</key>
		<dict>
			<key>x</key>
			<string>197.83</string>
			<key>y</key>
			<string>156.756</string>
		</dict>
		<key>{e571e750-001e-4023-8ddd-f200ce72b163}</key>
		<dict>
			<key>x</key>
			<string>164.205</string>
			<key>y</key>
			<string>149.315</string>
		</dict>
		<key>{73b72912-f2d9-44c4-9a50-38f3f5fe47d4}</key>
		<dict>
			<key>x</key>
			<string>164.205</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{66bcf140-4829-4825-8166-eb1492a88f01}</key>
		<dict>
			<key>x</key>
			<string>164.205</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{87fb89b5-f723-4573-9c7a-647fdb731297}</key>
		<dict>
			<key>x</key>
			<string>137.791</string>
			<key>y</key>
			<string>156.756</string>
		</dict>
		<key>{a386ead2-3391-40f4-8a98-880b29d237b2}</key>
		<dict>
			<key>x</key>
			<string>111.378</string>
			<key>y</key>
			<string>149.315</string>
		</dict>
		<key>{a9209ded-a9ed-4079-b18d-120928401704}</key>
		<dict>
			<key>x</key>
			<string>111.378</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{743d37bd-e968-465c-a568-ba0693074169}</key>
		<dict>
			<key>x</key>
			<string>111.378</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{7e1dae2e-fc07-49e2-b644-5f8e22c7fe41}</key>
		<dict>
			<key>x</key>
			<string>84.9647</string>
			<key>y</key>
			<string>156.756</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{fbc86c88-0745-4750-b60e-fb487f165453}</key>
		<dict>
			<key>x1</key>
			<string>504.491</string>
			<key>y1</key>
			<string>296.431</string>
			<key>x2</key>
			<string>504.491</string>
			<key>y2</key>
			<string>313.016</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{1dbea01e-0b53-45a1-902b-07513cee18b2}</key>
		<dict>
			<key>x1</key>
			<string>510.735</string>
			<key>y1</key>
			<string>267.608</string>
			<key>x2</key>
			<string>510.735</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-21.7028</string>
		</dict>
		<key>{9e0e5b05-5fec-4ad2-b655-85200b9c2f2e}</key>
		<dict>
			<key>x1</key>
			<string>510.735</string>
			<key>y1</key>
			<string>267.608</string>
			<key>x2</key>
			<string>510.735</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-21.7028</string>
		</dict>
		<key>{bd50b6e5-c38f-4aed-ac1d-e492bfdf6648}</key>
		<dict>
			<key>x1</key>
			<string>473.449</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>473.449</string>
			<key>y2</key>
			<string>313.016</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{539921d3-0742-4fda-9f7b-8b62da9fb6ca}</key>
		<dict>
			<key>x1</key>
			<string>479.335</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>479.335</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-21.7028</string>
		</dict>
		<key>{6d131a73-54db-4846-8e32-f7b80e09b38d}</key>
		<dict>
			<key>x1</key>
			<string>479.335</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>479.335</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-21.7028</string>
		</dict>
		<key>{be341341-6cbe-419c-a016-c2976e91cf8a}</key>
		<dict>
			<key>x1</key>
			<string>442.228</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>442.228</string>
			<key>y2</key>
			<string>313.016</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{ad16c6b3-0365-4196-94b9-f03760531e66}</key>
		<dict>
			<key>x1</key>
			<string>403.99</string>
			<key>y1</key>
			<string>299.066</string>
			<key>x2</key>
			<string>403.99</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{15e583b7-12e8-4729-8ef8-2d30e06a6d55}</key>
		<dict>
			<key>x1</key>
			<string>409.876</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>409.876</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-19.2224</string>
		</dict>
		<key>{db863bfe-3a99-4d95-a0a5-d3d6f8d114e5}</key>
		<dict>
			<key>x1</key>
			<string>409.876</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>409.876</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-19.2224</string>
		</dict>
		<key>{95bd9184-d301-483e-add3-92515d120252}</key>
		<dict>
			<key>x1</key>
			<string>372.963</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>372.963</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{1b6df540-1dfd-4474-ad9e-824d41653221}</key>
		<dict>
			<key>x1</key>
			<string>341.936</string>
			<key>y1</key>
			<string>299.066</string>
			<key>x2</key>
			<string>341.936</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{44a1881a-bfb5-476b-bda2-a4a836a518ba}</key>
		<dict>
			<key>x1</key>
			<string>347.822</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>347.822</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-19.2224</string>
		</dict>
		<key>{10031601-273a-4060-b33f-cb329af3390e}</key>
		<dict>
			<key>x1</key>
			<string>347.822</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>347.822</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-19.2224</string>
		</dict>
		<key>{0fcd38c2-a231-44af-a201-f8ec1246121f}</key>
		<dict>
			<key>x1</key>
			<string>310.91</string>
			<key>y1</key>
			<string>304.026</string>
			<key>x2</key>
			<string>310.91</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{6383a8c9-6e66-4e03-a76a-537678e148bc}</key>
		<dict>
			<key>x1</key>
			<string>251.702</string>
			<key>y1</key>
			<string>298.912</string>
			<key>x2</key>
			<string>251.702</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{48b3a315-8216-4cb0-ac5b-c3d6d3d3a113}</key>
		<dict>
			<key>x1</key>
			<string>257.947</string>
			<key>y1</key>
			<string>265.128</string>
			<key>x2</key>
			<string>257.947</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-19.2224</string>
		</dict>
		<key>{d5082bfc-2dc3-4f64-9348-845e17016af6}</key>
		<dict>
			<key>x1</key>
			<string>257.947</string>
			<key>y1</key>
			<string>265.128</string>
			<key>x2</key>
			<string>257.947</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-19.2224</string>
		</dict>
		<key>{048749ea-b755-4fcf-b630-c27dd3dc099c}</key>
		<dict>
			<key>x1</key>
			<string>219.496</string>
			<key>y1</key>
			<string>299.066</string>
			<key>x2</key>
			<string>219.496</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{ac91152a-fbc7-428a-bc35-d4bc8abb0f48}</key>
		<dict>
			<key>x1</key>
			<string>225.382</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>225.382</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-19.2224</string>
		</dict>
		<key>{34ed20ad-f9e9-4148-9f39-b5c790074175}</key>
		<dict>
			<key>x1</key>
			<string>225.382</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>225.382</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-19.2224</string>
		</dict>
		<key>{676a7bfd-b771-44cc-8fb6-0d01501f83d0}</key>
		<dict>
			<key>x1</key>
			<string>187.111</string>
			<key>y1</key>
			<string>304.026</string>
			<key>x2</key>
			<string>187.111</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f62cbba2-4ee9-4c1e-b29e-73d8a7d620dd}</key>
		<dict>
			<key>x1</key>
			<string>152.938</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>152.938</string>
			<key>y2</key>
			<string>313.016</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{fa2b59ba-6f0f-490d-8da2-e8c44a1b9165}</key>
		<dict>
			<key>x1</key>
			<string>158.824</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>158.824</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-21.7028</string>
		</dict>
		<key>{cfcea64c-fefd-4626-bad1-b7dfd6702c82}</key>
		<dict>
			<key>x1</key>
			<string>158.824</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>158.824</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-21.7028</string>
		</dict>
		<key>{a3952281-1f46-4f6b-a3fc-208f27fb09d9}</key>
		<dict>
			<key>x1</key>
			<string>125.976</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>125.976</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{2d6592f0-bbc2-429f-86d5-113b21ea433e}</key>
		<dict>
			<key>x1</key>
			<string>99.0146</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>99.0146</string>
			<key>y2</key>
			<string>313.016</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{db118bcd-899b-4aeb-b6bf-caf1ab241fa4}</key>
		<dict>
			<key>x1</key>
			<string>104.901</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>104.901</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-21.7028</string>
		</dict>
		<key>{73405b54-6745-4289-bf9d-0f707b28dec9}</key>
		<dict>
			<key>x1</key>
			<string>104.901</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>104.901</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-21.7028</string>
		</dict>
		<key>{6e32a0b3-ec20-41ed-817d-01d036b88980}</key>
		<dict>
			<key>x1</key>
			<string>72.0531</string>
			<key>y1</key>
			<string>304.026</string>
			<key>x2</key>
			<string>72.0531</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{aa9f8e18-fc6b-4063-9a79-d6558b6b88f9}</key>
		<dict>
			<key>x1</key>
			<string>509.93</string>
			<key>y1</key>
			<string>150.093</string>
			<key>x2</key>
			<string>509.93</string>
			<key>y2</key>
			<string>166.677</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{4069bdd7-b592-49ea-873f-0f737ad1cfbe}</key>
		<dict>
			<key>x1</key>
			<string>516.174</string>
			<key>y1</key>
			<string>121.27</string>
			<key>x2</key>
			<string>516.174</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-21.7028</string>
		</dict>
		<key>{a8c443cb-cc6b-4423-954c-043dc875317d}</key>
		<dict>
			<key>x1</key>
			<string>516.174</string>
			<key>y1</key>
			<string>121.27</string>
			<key>x2</key>
			<string>516.174</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-21.7028</string>
		</dict>
		<key>{004e8ab5-b568-4cd0-9632-7f0d6bc55bf0}</key>
		<dict>
			<key>x1</key>
			<string>479.497</string>
			<key>y1</key>
			<string>150.247</string>
			<key>x2</key>
			<string>479.497</string>
			<key>y2</key>
			<string>166.677</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{fcbfad41-5143-42e2-8319-e7c5e19cac7d}</key>
		<dict>
			<key>x1</key>
			<string>485.383</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>485.383</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-21.7028</string>
		</dict>
		<key>{5942fec3-76ca-4e8c-8704-44c22f55f809}</key>
		<dict>
			<key>x1</key>
			<string>485.383</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>485.383</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-21.7028</string>
		</dict>
		<key>{5758f5ab-a6be-454e-83d9-e2a957c8a93e}</key>
		<dict>
			<key>x1</key>
			<string>448.885</string>
			<key>y1</key>
			<string>150.247</string>
			<key>x2</key>
			<string>448.885</string>
			<key>y2</key>
			<string>166.677</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{6fd9d190-3a18-4c62-94d2-42ad961fc1ca}</key>
		<dict>
			<key>x1</key>
			<string>411.195</string>
			<key>y1</key>
			<string>152.727</string>
			<key>x2</key>
			<string>411.195</string>
			<key>y2</key>
			<string>169.157</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{5fd14f9f-9253-4026-9ae8-8b1d18f5f010}</key>
		<dict>
			<key>x1</key>
			<string>417.081</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>417.081</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-19.2224</string>
		</dict>
		<key>{ad14a25b-bc42-43ff-962c-b91be2c5e27b}</key>
		<dict>
			<key>x1</key>
			<string>417.081</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>417.081</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-19.2224</string>
		</dict>
		<key>{75190b89-1f53-41f1-8a10-2cc018034074}</key>
		<dict>
			<key>x1</key>
			<string>380.716</string>
			<key>y1</key>
			<string>157.688</string>
			<key>x2</key>
			<string>380.716</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{e01f46a9-8942-45fe-a268-5be8e2c7275c}</key>
		<dict>
			<key>x1</key>
			<string>350.238</string>
			<key>y1</key>
			<string>152.727</string>
			<key>x2</key>
			<string>350.238</string>
			<key>y2</key>
			<string>169.157</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{fb28b6cc-089b-4cb6-a565-afe25dc3210e}</key>
		<dict>
			<key>x1</key>
			<string>356.124</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>356.124</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-19.2224</string>
		</dict>
		<key>{da0a3360-558e-4b46-93f6-44ceea5bd1d3}</key>
		<dict>
			<key>x1</key>
			<string>356.124</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>356.124</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-19.2224</string>
		</dict>
		<key>{d6dd615b-6f61-41fe-8810-80706f97f647}</key>
		<dict>
			<key>x1</key>
			<string>319.759</string>
			<key>y1</key>
			<string>157.688</string>
			<key>x2</key>
			<string>319.759</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{b18c5155-d2a3-4df2-82e6-031c03ab8068}</key>
		<dict>
			<key>x1</key>
			<string>261.526</string>
			<key>y1</key>
			<string>152.573</string>
			<key>x2</key>
			<string>261.526</string>
			<key>y2</key>
			<string>169.157</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{24c2ee68-ce59-4bab-93f6-90a3bdf0d2c4}</key>
		<dict>
			<key>x1</key>
			<string>267.77</string>
			<key>y1</key>
			<string>118.789</string>
			<key>x2</key>
			<string>267.77</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-19.2224</string>
		</dict>
		<key>{1fcdbcae-e464-47bc-abc3-67013d2056bc}</key>
		<dict>
			<key>x1</key>
			<string>267.77</string>
			<key>y1</key>
			<string>118.789</string>
			<key>x2</key>
			<string>267.77</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-19.2224</string>
		</dict>
		<key>{b932d9f5-cb2d-4a5c-a471-d4251ab64f65}</key>
		<dict>
			<key>x1</key>
			<string>229.929</string>
			<key>y1</key>
			<string>152.727</string>
			<key>x2</key>
			<string>229.929</string>
			<key>y2</key>
			<string>169.157</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{0abab67f-485a-4186-9dff-29e9e1c8c0b0}</key>
		<dict>
			<key>x1</key>
			<string>235.815</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>235.815</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-19.2224</string>
		</dict>
		<key>{7e9e8111-53d9-42f1-9ab2-b8e7e6004b7a}</key>
		<dict>
			<key>x1</key>
			<string>235.815</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>235.815</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-19.2224</string>
		</dict>
		<key>{adfadc90-81c0-4bf8-910a-12e956aaa018}</key>
		<dict>
			<key>x1</key>
			<string>198.152</string>
			<key>y1</key>
			<string>157.688</string>
			<key>x2</key>
			<string>198.152</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{e571e750-001e-4023-8ddd-f200ce72b163}</key>
		<dict>
			<key>x1</key>
			<string>164.527</string>
			<key>y1</key>
			<string>150.247</string>
			<key>x2</key>
			<string>164.527</string>
			<key>y2</key>
			<string>166.677</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{66bcf140-4829-4825-8166-eb1492a88f01}</key>
		<dict>
			<key>x1</key>
			<string>170.413</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>170.413</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-21.7028</string>
		</dict>
		<key>{73b72912-f2d9-44c4-9a50-38f3f5fe47d4}</key>
		<dict>
			<key>x1</key>
			<string>170.413</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>170.413</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-21.7028</string>
		</dict>
		<key>{87fb89b5-f723-4573-9c7a-647fdb731297}</key>
		<dict>
			<key>x1</key>
			<string>138.114</string>
			<key>y1</key>
			<string>157.688</string>
			<key>x2</key>
			<string>138.114</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{a386ead2-3391-40f4-8a98-880b29d237b2}</key>
		<dict>
			<key>x1</key>
			<string>111.701</string>
			<key>y1</key>
			<string>150.247</string>
			<key>x2</key>
			<string>111.701</string>
			<key>y2</key>
			<string>166.677</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{743d37bd-e968-465c-a568-ba0693074169}</key>
		<dict>
			<key>x1</key>
			<string>117.587</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>117.587</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-21.7028</string>
		</dict>
		<key>{a9209ded-a9ed-4079-b18d-120928401704}</key>
		<dict>
			<key>x1</key>
			<string>117.587</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>117.587</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-21.7028</string>
		</dict>
		<key>{7e1dae2e-fc07-49e2-b644-5f8e22c7fe41}</key>
		<dict>
			<key>x1</key>
			<string>85.2871</string>
			<key>y1</key>
			<string>157.688</string>
			<key>x2</key>
			<string>85.2871</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
	</dict>
</dict>
</plist>