<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>247.04</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>282.619</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>391.89</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>427.47</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>536.741</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>572.321</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>681.592</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>717.171</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>6</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>823.404</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>858.984</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{818b1fc5-990f-4978-81b5-7484b0693704}</key>
		<dict>
			<key>x</key>
			<string>453.281</string>
			<key>y</key>
			<string>728.718</string>
		</dict>
		<key>{7b999031-de50-4de9-a163-866fda387763}</key>
		<dict>
			<key>x</key>
			<string>414.747</string>
			<key>y</key>
			<string>736.159</string>
		</dict>
		<key>{11f57688-95ca-4be8-a12c-060de2079a83}</key>
		<dict>
			<key>x</key>
			<string>382.96</string>
			<key>y</key>
			<string>733.678</string>
		</dict>
		<key>{9b0e80ff-ca6b-465c-8f9b-9a4d2efbfd3e}</key>
		<dict>
			<key>x</key>
			<string>351.173</string>
			<key>y</key>
			<string>731.198</string>
		</dict>
		<key>{95b1a0f9-98a7-426e-aeee-83bc94d6dd61}</key>
		<dict>
			<key>x</key>
			<string>319.385</string>
			<key>y</key>
			<string>726.237</string>
		</dict>
		<key>{27a6649c-cb26-48d8-8391-882c3598e5af}</key>
		<dict>
			<key>x</key>
			<string>256.477</string>
			<key>y</key>
			<string>703.914</string>
		</dict>
		<key>{e1541ade-52d5-496f-afe2-f35938a539c4}</key>
		<dict>
			<key>x</key>
			<string>200.494</string>
			<key>y</key>
			<string>703.914</string>
		</dict>
		<key>{7653837f-3a33-4beb-a7a1-c62ab9f75f4a}</key>
		<dict>
			<key>x</key>
			<string>163.199</string>
			<key>y</key>
			<string>706.395</string>
		</dict>
		<key>{5d266dac-2cb5-4417-9b58-d8e2c7b67f3f}</key>
		<dict>
			<key>x</key>
			<string>132.65</string>
			<key>y</key>
			<string>703.914</string>
		</dict>
		<key>{304057be-53a8-4c48-a183-be48002fe1e3}</key>
		<dict>
			<key>x</key>
			<string>102.101</string>
			<key>y</key>
			<string>701.434</string>
		</dict>
		<key>{cfbc1b2b-76b2-4133-86cf-bd0567f148c3}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>696.474</string>
		</dict>
		<key>{460c4803-4be4-496f-b70a-af6af5ee8098}</key>
		<dict>
			<key>x</key>
			<string>451.428</string>
			<key>y</key>
			<string>439.016</string>
		</dict>
		<key>{af201bc7-08b6-4ef6-ad84-4d302034cc44}</key>
		<dict>
			<key>x</key>
			<string>451.428</string>
			<key>y</key>
			<string>411.733</string>
		</dict>
		<key>{0d16c14f-77aa-4f81-ba43-346787622554}</key>
		<dict>
			<key>x</key>
			<string>387.593</string>
			<key>y</key>
			<string>446.457</string>
		</dict>
		<key>{f7f27706-76fe-4b3c-8f1b-cd211d3debd5}</key>
		<dict>
			<key>x</key>
			<string>387.593</string>
			<key>y</key>
			<string>409.253</string>
		</dict>
		<key>{c8e9b1f7-3981-4495-95fe-339b5e011ac6}</key>
		<dict>
			<key>x</key>
			<string>330.684</string>
			<key>y</key>
			<string>441.497</string>
		</dict>
		<key>{cba4e520-8c00-497f-81f6-31fe9ee9d0bd}</key>
		<dict>
			<key>x</key>
			<string>330.684</string>
			<key>y</key>
			<string>414.213</string>
		</dict>
		<key>{764a6bd2-461a-43f0-a0f4-32a5bbc1e2f1}</key>
		<dict>
			<key>x</key>
			<string>269.718</string>
			<key>y</key>
			<string>406.772</string>
		</dict>
		<key>{6bf90cf5-e33c-4b3f-b821-66e2492b6f77}</key>
		<dict>
			<key>x</key>
			<string>236.122</string>
			<key>y</key>
			<string>409.253</string>
		</dict>
		<key>{cceab4f3-a328-4bdd-aa6a-30ca249b0921}</key>
		<dict>
			<key>x</key>
			<string>202.347</string>
			<key>y</key>
			<string>411.733</string>
		</dict>
		<key>{e9938e45-7a62-4107-82b7-c1300385cfdc}</key>
		<dict>
			<key>x</key>
			<string>164.589</string>
			<key>y</key>
			<string>409.253</string>
		</dict>
		<key>{1bd5b742-d48c-40d2-99ad-bcd280f0cc4b}</key>
		<dict>
			<key>x</key>
			<string>133.577</string>
			<key>y</key>
			<string>414.213</string>
		</dict>
		<key>{58c063a2-e5a7-4bad-bf92-6d6c6092ccd2}</key>
		<dict>
			<key>x</key>
			<string>102.565</string>
			<key>y</key>
			<string>411.733</string>
		</dict>
		<key>{0d6ac488-9f4b-410b-b396-b3f841984ef9}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>416.693</string>
		</dict>
		<key>{a7a80935-40aa-407f-9a7a-ae31ad8d6099}</key>
		<dict>
			<key>x</key>
			<string>453.281</string>
			<key>y</key>
			<string>294.166</string>
		</dict>
		<key>{eec3130b-e4df-4a8b-b6b2-7e441bdfb937}</key>
		<dict>
			<key>x</key>
			<string>414.747</string>
			<key>y</key>
			<string>301.607</string>
		</dict>
		<key>{dffbcd0d-f846-422a-b178-270b398f2e0d}</key>
		<dict>
			<key>x</key>
			<string>382.96</string>
			<key>y</key>
			<string>299.126</string>
		</dict>
		<key>{386b0839-f0a0-4418-9bb5-bc70670bfbdf}</key>
		<dict>
			<key>x</key>
			<string>351.173</string>
			<key>y</key>
			<string>296.646</string>
		</dict>
		<key>{61d485d2-5478-4ef8-a07a-0057a34c94de}</key>
		<dict>
			<key>x</key>
			<string>319.385</string>
			<key>y</key>
			<string>291.685</string>
		</dict>
		<key>{3e9d3cf1-dc5b-4b10-8450-05b89f808e7c}</key>
		<dict>
			<key>x</key>
			<string>256.477</string>
			<key>y</key>
			<string>269.362</string>
		</dict>
		<key>{b25ad64c-94eb-4f49-be56-1cc7c0f42c76}</key>
		<dict>
			<key>x</key>
			<string>200.494</string>
			<key>y</key>
			<string>269.362</string>
		</dict>
		<key>{2a112d82-8138-438b-a256-461ed8c315f5}</key>
		<dict>
			<key>x</key>
			<string>163.199</string>
			<key>y</key>
			<string>271.843</string>
		</dict>
		<key>{d761d514-5878-49db-bcb7-e819e8568a7b}</key>
		<dict>
			<key>x</key>
			<string>132.65</string>
			<key>y</key>
			<string>269.362</string>
		</dict>
		<key>{3d61c066-be51-4917-8385-34ddcbf185ea}</key>
		<dict>
			<key>x</key>
			<string>102.101</string>
			<key>y</key>
			<string>266.882</string>
		</dict>
		<key>{e0ecb392-5ce1-4381-9093-6d43bab858c0}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>261.922</string>
		</dict>
		<key>{1c3ef637-148c-4498-917b-5d22958f1977}</key>
		<dict>
			<key>x</key>
			<string>449.978</string>
			<key>y</key>
			<string>870.53</string>
		</dict>
		<key>{826c667f-efb8-41ba-8e59-019c93c7f276}</key>
		<dict>
			<key>x</key>
			<string>449.978</string>
			<key>y</key>
			<string>848.207</string>
		</dict>
		<key>{44daa730-f66a-4ec6-b38e-fef13dd879b9}</key>
		<dict>
			<key>x</key>
			<string>410.343</string>
			<key>y</key>
			<string>843.247</string>
		</dict>
		<key>{3a90dd01-cdfa-4d66-9b35-ea654178f19f}</key>
		<dict>
			<key>x</key>
			<string>377.276</string>
			<key>y</key>
			<string>877.971</string>
		</dict>
		<key>{4a08ee87-442d-41fd-9f85-5c7036f6dda7}</key>
		<dict>
			<key>x</key>
			<string>377.455</string>
			<key>y</key>
			<string>840.766</string>
		</dict>
		<key>{ad3ac75d-8acf-4cba-89f2-350753d634b9}</key>
		<dict>
			<key>x</key>
			<string>324.655</string>
			<key>y</key>
			<string>875.491</string>
		</dict>
		<key>{35e60b7e-0952-43ff-935d-5f8f4c7987a4}</key>
		<dict>
			<key>x</key>
			<string>324.655</string>
			<key>y</key>
			<string>845.727</string>
		</dict>
		<key>{6db2fdaa-c258-4a3c-85c9-0b815c79554a}</key>
		<dict>
			<key>x</key>
			<string>265.03</string>
			<key>y</key>
			<string>838.286</string>
		</dict>
		<key>{a84e6dad-5281-496c-bd0c-fd78d97dc59f}</key>
		<dict>
			<key>x</key>
			<string>232.271</string>
			<key>y</key>
			<string>840.766</string>
		</dict>
		<key>{375ae46d-c69d-454b-b964-9c9eec90de2b}</key>
		<dict>
			<key>x</key>
			<string>199.333</string>
			<key>y</key>
			<string>843.247</string>
		</dict>
		<key>{47228dc1-60a2-435e-aff3-1e9e007904d7}</key>
		<dict>
			<key>x</key>
			<string>162.328</string>
			<key>y</key>
			<string>840.766</string>
		</dict>
		<key>{fefe7344-5521-45c0-bf56-24332028c534}</key>
		<dict>
			<key>x</key>
			<string>132.07</string>
			<key>y</key>
			<string>845.727</string>
		</dict>
		<key>{b1c1d6ba-6ada-44ca-90db-c94a23d8d279}</key>
		<dict>
			<key>x</key>
			<string>101.811</string>
			<key>y</key>
			<string>843.247</string>
		</dict>
		<key>{9dac15b1-102a-4b8e-b6cc-a00cd641b49e}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>848.207</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{7b999031-de50-4de9-a163-866fda387763}</key>
		<dict>
			<key>x1</key>
			<string>415.07</string>
			<key>y1</key>
			<string>737.09</string>
			<key>x2</key>
			<string>415.07</string>
			<key>y2</key>
			<string>753.521</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{11f57688-95ca-4be8-a12c-060de2079a83}</key>
		<dict>
			<key>x1</key>
			<string>383.283</string>
			<key>y1</key>
			<string>734.61</string>
			<key>x2</key>
			<string>383.283</string>
			<key>y2</key>
			<string>751.04</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{9b0e80ff-ca6b-465c-8f9b-9a4d2efbfd3e}</key>
		<dict>
			<key>x1</key>
			<string>351.495</string>
			<key>y1</key>
			<string>732.13</string>
			<key>x2</key>
			<string>351.495</string>
			<key>y2</key>
			<string>748.56</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{95b1a0f9-98a7-426e-aeee-83bc94d6dd61}</key>
		<dict>
			<key>x1</key>
			<string>319.708</string>
			<key>y1</key>
			<string>727.169</string>
			<key>x2</key>
			<string>319.708</string>
			<key>y2</key>
			<string>743.6</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{27a6649c-cb26-48d8-8391-882c3598e5af}</key>
		<dict>
			<key>x1</key>
			<string>263.044</string>
			<key>y1</key>
			<string>703.153</string>
			<key>x2</key>
			<string>263.044</string>
			<key>y2</key>
			<string>686.552</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e1541ade-52d5-496f-afe2-f35938a539c4}</key>
		<dict>
			<key>x1</key>
			<string>207.061</string>
			<key>y1</key>
			<string>703.153</string>
			<key>x2</key>
			<string>207.061</string>
			<key>y2</key>
			<string>686.552</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{7653837f-3a33-4beb-a7a1-c62ab9f75f4a}</key>
		<dict>
			<key>x1</key>
			<string>169.407</string>
			<key>y1</key>
			<string>705.463</string>
			<key>x2</key>
			<string>169.407</string>
			<key>y2</key>
			<string>689.033</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{5d266dac-2cb5-4417-9b58-d8e2c7b67f3f}</key>
		<dict>
			<key>x1</key>
			<string>138.859</string>
			<key>y1</key>
			<string>702.983</string>
			<key>x2</key>
			<string>138.859</string>
			<key>y2</key>
			<string>686.552</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{304057be-53a8-4c48-a183-be48002fe1e3}</key>
		<dict>
			<key>x1</key>
			<string>108.31</string>
			<key>y1</key>
			<string>700.502</string>
			<key>x2</key>
			<string>108.31</string>
			<key>y2</key>
			<string>684.072</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{cfbc1b2b-76b2-4133-86cf-bd0567f148c3}</key>
		<dict>
			<key>x1</key>
			<string>77.7609</string>
			<key>y1</key>
			<string>695.542</string>
			<key>x2</key>
			<string>77.7609</string>
			<key>y2</key>
			<string>679.731</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{0d16c14f-77aa-4f81-ba43-346787622554}</key>
		<dict>
			<key>x1</key>
			<string>387.916</string>
			<key>y1</key>
			<string>447.235</string>
			<key>x2</key>
			<string>387.916</string>
			<key>y2</key>
			<string>463.819</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f7f27706-76fe-4b3c-8f1b-cd211d3debd5}</key>
		<dict>
			<key>x1</key>
			<string>394.16</string>
			<key>y1</key>
			<string>408.491</string>
			<key>x2</key>
			<string>394.16</string>
			<key>y2</key>
			<string>391.89</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c8e9b1f7-3981-4495-95fe-339b5e011ac6}</key>
		<dict>
			<key>x1</key>
			<string>331.006</string>
			<key>y1</key>
			<string>442.274</string>
			<key>x2</key>
			<string>331.006</string>
			<key>y2</key>
			<string>458.859</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{cba4e520-8c00-497f-81f6-31fe9ee9d0bd}</key>
		<dict>
			<key>x1</key>
			<string>337.25</string>
			<key>y1</key>
			<string>413.451</string>
			<key>x2</key>
			<string>337.25</string>
			<key>y2</key>
			<string>396.851</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{764a6bd2-461a-43f0-a0f4-32a5bbc1e2f1}</key>
		<dict>
			<key>x1</key>
			<string>276.285</string>
			<key>y1</key>
			<string>406.01</string>
			<key>x2</key>
			<string>276.285</string>
			<key>y2</key>
			<string>390.03</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{6bf90cf5-e33c-4b3f-b821-66e2492b6f77}</key>
		<dict>
			<key>x1</key>
			<string>242.331</string>
			<key>y1</key>
			<string>408.321</string>
			<key>x2</key>
			<string>242.331</string>
			<key>y2</key>
			<string>391.89</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{cceab4f3-a328-4bdd-aa6a-30ca249b0921}</key>
		<dict>
			<key>x1</key>
			<string>208.556</string>
			<key>y1</key>
			<string>410.801</string>
			<key>x2</key>
			<string>208.556</string>
			<key>y2</key>
			<string>394.371</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e9938e45-7a62-4107-82b7-c1300385cfdc}</key>
		<dict>
			<key>x1</key>
			<string>170.797</string>
			<key>y1</key>
			<string>408.321</string>
			<key>x2</key>
			<string>170.797</string>
			<key>y2</key>
			<string>391.89</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{1bd5b742-d48c-40d2-99ad-bcd280f0cc4b}</key>
		<dict>
			<key>x1</key>
			<string>139.785</string>
			<key>y1</key>
			<string>413.281</string>
			<key>x2</key>
			<string>139.785</string>
			<key>y2</key>
			<string>396.851</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{58c063a2-e5a7-4bad-bf92-6d6c6092ccd2}</key>
		<dict>
			<key>x1</key>
			<string>108.773</string>
			<key>y1</key>
			<string>410.801</string>
			<key>x2</key>
			<string>108.773</string>
			<key>y2</key>
			<string>394.371</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{0d6ac488-9f4b-410b-b396-b3f841984ef9}</key>
		<dict>
			<key>x1</key>
			<string>77.7609</string>
			<key>y1</key>
			<string>415.762</string>
			<key>x2</key>
			<string>77.7609</string>
			<key>y2</key>
			<string>399.331</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{eec3130b-e4df-4a8b-b6b2-7e441bdfb937}</key>
		<dict>
			<key>x1</key>
			<string>415.07</string>
			<key>y1</key>
			<string>302.538</string>
			<key>x2</key>
			<string>415.07</string>
			<key>y2</key>
			<string>318.969</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{dffbcd0d-f846-422a-b178-270b398f2e0d}</key>
		<dict>
			<key>x1</key>
			<string>383.283</string>
			<key>y1</key>
			<string>300.058</string>
			<key>x2</key>
			<string>383.283</string>
			<key>y2</key>
			<string>316.488</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{386b0839-f0a0-4418-9bb5-bc70670bfbdf}</key>
		<dict>
			<key>x1</key>
			<string>351.495</string>
			<key>y1</key>
			<string>297.578</string>
			<key>x2</key>
			<string>351.495</string>
			<key>y2</key>
			<string>314.008</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{61d485d2-5478-4ef8-a07a-0057a34c94de}</key>
		<dict>
			<key>x1</key>
			<string>319.708</string>
			<key>y1</key>
			<string>292.617</string>
			<key>x2</key>
			<string>319.708</string>
			<key>y2</key>
			<string>309.048</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{3e9d3cf1-dc5b-4b10-8450-05b89f808e7c}</key>
		<dict>
			<key>x1</key>
			<string>263.044</string>
			<key>y1</key>
			<string>268.601</string>
			<key>x2</key>
			<string>263.044</string>
			<key>y2</key>
			<string>252</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b25ad64c-94eb-4f49-be56-1cc7c0f42c76}</key>
		<dict>
			<key>x1</key>
			<string>207.061</string>
			<key>y1</key>
			<string>268.601</string>
			<key>x2</key>
			<string>207.061</string>
			<key>y2</key>
			<string>252</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{2a112d82-8138-438b-a256-461ed8c315f5}</key>
		<dict>
			<key>x1</key>
			<string>169.407</string>
			<key>y1</key>
			<string>270.911</string>
			<key>x2</key>
			<string>169.407</string>
			<key>y2</key>
			<string>254.481</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d761d514-5878-49db-bcb7-e819e8568a7b}</key>
		<dict>
			<key>x1</key>
			<string>138.859</string>
			<key>y1</key>
			<string>268.431</string>
			<key>x2</key>
			<string>138.859</string>
			<key>y2</key>
			<string>252</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3d61c066-be51-4917-8385-34ddcbf185ea}</key>
		<dict>
			<key>x1</key>
			<string>108.31</string>
			<key>y1</key>
			<string>265.95</string>
			<key>x2</key>
			<string>108.31</string>
			<key>y2</key>
			<string>249.52</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e0ecb392-5ce1-4381-9093-6d43bab858c0}</key>
		<dict>
			<key>x1</key>
			<string>77.7609</string>
			<key>y1</key>
			<string>260.99</string>
			<key>x2</key>
			<string>77.7609</string>
			<key>y2</key>
			<string>245.179</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{44daa730-f66a-4ec6-b38e-fef13dd879b9}</key>
		<dict>
			<key>x1</key>
			<string>416.552</string>
			<key>y1</key>
			<string>842.315</string>
			<key>x2</key>
			<string>416.552</string>
			<key>y2</key>
			<string>825.885</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3a90dd01-cdfa-4d66-9b35-ea654178f19f}</key>
		<dict>
			<key>x1</key>
			<string>377.599</string>
			<key>y1</key>
			<string>878.749</string>
			<key>x2</key>
			<string>377.599</string>
			<key>y2</key>
			<string>895.333</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{4a08ee87-442d-41fd-9f85-5c7036f6dda7}</key>
		<dict>
			<key>x1</key>
			<string>383.664</string>
			<key>y1</key>
			<string>839.835</string>
			<key>x2</key>
			<string>383.664</string>
			<key>y2</key>
			<string>823.404</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ad3ac75d-8acf-4cba-89f2-350753d634b9}</key>
		<dict>
			<key>x1</key>
			<string>324.978</string>
			<key>y1</key>
			<string>876.269</string>
			<key>x2</key>
			<string>324.978</string>
			<key>y2</key>
			<string>892.853</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{35e60b7e-0952-43ff-935d-5f8f4c7987a4}</key>
		<dict>
			<key>x1</key>
			<string>331.222</string>
			<key>y1</key>
			<string>844.965</string>
			<key>x2</key>
			<string>331.222</string>
			<key>y2</key>
			<string>828.365</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{6db2fdaa-c258-4a3c-85c9-0b815c79554a}</key>
		<dict>
			<key>x1</key>
			<string>271.596</string>
			<key>y1</key>
			<string>837.524</string>
			<key>x2</key>
			<string>271.596</string>
			<key>y2</key>
			<string>821.544</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{a84e6dad-5281-496c-bd0c-fd78d97dc59f}</key>
		<dict>
			<key>x1</key>
			<string>238.48</string>
			<key>y1</key>
			<string>839.835</string>
			<key>x2</key>
			<string>238.48</string>
			<key>y2</key>
			<string>823.404</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{375ae46d-c69d-454b-b964-9c9eec90de2b}</key>
		<dict>
			<key>x1</key>
			<string>205.542</string>
			<key>y1</key>
			<string>842.315</string>
			<key>x2</key>
			<string>205.542</string>
			<key>y2</key>
			<string>825.885</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{47228dc1-60a2-435e-aff3-1e9e007904d7}</key>
		<dict>
			<key>x1</key>
			<string>168.537</string>
			<key>y1</key>
			<string>839.835</string>
			<key>x2</key>
			<string>168.537</string>
			<key>y2</key>
			<string>823.404</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{fefe7344-5521-45c0-bf56-24332028c534}</key>
		<dict>
			<key>x1</key>
			<string>138.278</string>
			<key>y1</key>
			<string>844.795</string>
			<key>x2</key>
			<string>138.278</string>
			<key>y2</key>
			<string>828.365</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b1c1d6ba-6ada-44ca-90db-c94a23d8d279}</key>
		<dict>
			<key>x1</key>
			<string>108.02</string>
			<key>y1</key>
			<string>842.315</string>
			<key>x2</key>
			<string>108.02</string>
			<key>y2</key>
			<string>825.885</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9dac15b1-102a-4b8e-b6cc-a00cd641b49e}</key>
		<dict>
			<key>x1</key>
			<string>77.7609</string>
			<key>y1</key>
			<string>847.276</string>
			<key>x2</key>
			<string>77.7609</string>
			<key>y2</key>
			<string>830.845</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
	</dict>
</dict>
</plist>