<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributes</key>
	<dict>
		<key>time</key>
		<dict>
			<key>beats</key>
			<string>4</string>
			<key>per_minute</key>
			<string>80</string>
			<key>beat_type</key>
			<string>4</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{70469f1c-0abd-41c1-9b08-5e174af64f37}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{0b58694c-53f6-44da-bd14-34c6b481138f}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{2c3e1a77-226c-4d48-a9e8-a91287e03cee}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{af7657da-36a4-4ed1-8dd7-bf9bd870b9d5}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{f09e0351-bfe3-47eb-a5d7-3cff24d74282}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{1f01cbb0-683f-4617-9d5b-b3de5d7ce8d4}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{32358a62-e9bc-46c8-bb2e-8c40db18ea1c}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{858912ba-db40-479e-92c0-1be8e8762cef}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{c78724bd-377d-4a2c-828c-c7136d6ea6ca}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{d92e1628-c5fc-4d86-8388-8e284563da21}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{ae70190a-3fd0-47d9-9313-09c31b24f3ad}</key>
		<dict>
			<key>type</key>
			<string>whole</string>
			<key>duration</key>
			<string>2</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{ab09cd48-75b2-449f-899e-0a77f5a0cd61}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{9520f6fb-165e-457e-be4b-682501975b5e}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{b3d64252-ec95-4e29-9580-9646f7517bb2}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{5cbaadd3-2a2e-468c-9150-38b6f0c9d715}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{2ec57e5c-f3ae-41c9-9c16-414092354ce1}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{faf10027-afd0-4773-ac48-f1b0fc3e3a6a}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{383c3569-8b4c-4272-b15f-7a0831d4da9d}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{fbff72fb-55ae-4062-a6ed-c8c4b963c49e}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{53bbe67d-ab34-4b76-b1d2-e843bf44bb4e}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{5740d90a-c655-4230-a0df-3e0faf668fe0}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{9ec06d40-2418-42f9-8ffc-1836dbbb6f26}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{35dede50-1958-49df-b3b1-bfc4c56d7bbc}</key>
		<dict>
			<key>type</key>
			<string>whole</string>
			<key>duration</key>
			<string>2</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{afe5ceb3-a0b0-4676-82dd-797d74e4a90a}</key>
		<dict>
			<key>type</key>
			<string>whole</string>
			<key>duration</key>
			<string>2</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{4ea2470b-7c3f-4e51-a28a-f457d5428086}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{4c47269e-6b24-451d-841e-15e73ae9ed0b}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{aed6d455-2a73-48fa-a52d-b9251c9241b4}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{2125dcc7-4fa5-470f-9302-08f076b4afa1}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{a20dc3bf-89de-4655-b4ee-47f316153758}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{6d5fb65a-fffe-4152-902a-8e1006e3ddcc}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{d8918fca-f55d-4ee8-b412-0ab7947f3fe0}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{277b9adb-be45-4984-8bdc-1322c3650c5b}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{0ac41f0a-c5c2-4aaa-ba3f-b0defe921db6}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{364d943a-f6d9-4a92-b928-7e9e3f9952ec}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{09f2db25-632e-4b8e-876b-8160943adc5a}</key>
		<dict>
			<key>type</key>
			<string>whole</string>
			<key>duration</key>
			<string>2</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{46c702fd-8d90-4499-9f4a-5af4de0a83d8}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{a9353377-cb9a-4c70-8a1c-71b4277cacc5}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{83d32e01-3f0b-4515-b27d-8ff1848c8dcf}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{ebcd8334-3b5a-4cc7-b5aa-c3b8c7ee24fc}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{0d62d64a-aa40-40c7-ab9e-2106b85869d7}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{cfde23b7-efb7-4e83-b893-9faf5d591a40}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{ce3d8b0b-28f4-4be5-8d28-07ffddde7314}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{ad8b545a-4618-4aa4-a765-33566ed91a1b}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{12bcd1f9-9dcc-4946-bb28-b90186a305d1}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{5281acc9-d96c-4aed-963e-0b662c4822fc}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{1a4ab93d-ab0d-41a2-87f9-05646e65e7ab}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{1df2f337-9230-4b85-ab7a-5912c2b161fc}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{5258cccf-3df4-4162-9d02-24eb52b6b8e4}</key>
		<dict>
			<key>type</key>
			<string>whole</string>
			<key>duration</key>
			<string>2</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
	</dict>
	<key>events</key>
	<dict>
		<key>0</key>
		<dict>
			<key>elid</key>
			<string>0</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>0</string>
			<key>notes</key>
			<string>{70469f1c-0abd-41c1-9b08-5e174af64f37}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>1</key>
		<dict>
			<key>elid</key>
			<string>1</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>500</string>
			<key>notes</key>
			<string>{0b58694c-53f6-44da-bd14-34c6b481138f}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>2</key>
		<dict>
			<key>elid</key>
			<string>2</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>1000</string>
			<key>notes</key>
			<string>{2c3e1a77-226c-4d48-a9e8-a91287e03cee}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>3</key>
		<dict>
			<key>elid</key>
			<string>3</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>1500</string>
			<key>notes</key>
			<string>{af7657da-36a4-4ed1-8dd7-bf9bd870b9d5}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>4</key>
		<dict>
			<key>elid</key>
			<string>4</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>2000</string>
			<key>notes</key>
			<string>{f09e0351-bfe3-47eb-a5d7-3cff24d74282}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>5</key>
		<dict>
			<key>elid</key>
			<string>5</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>3000</string>
			<key>notes</key>
			<string>{1f01cbb0-683f-4617-9d5b-b3de5d7ce8d4}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>6</key>
		<dict>
			<key>elid</key>
			<string>6</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>4000</string>
			<key>notes</key>
			<string>{32358a62-e9bc-46c8-bb2e-8c40db18ea1c}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>7</key>
		<dict>
			<key>elid</key>
			<string>7</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>4500</string>
			<key>notes</key>
			<string>{858912ba-db40-479e-92c0-1be8e8762cef}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>8</key>
		<dict>
			<key>elid</key>
			<string>8</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>5000</string>
			<key>notes</key>
			<string>{c78724bd-377d-4a2c-828c-c7136d6ea6ca}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>9</key>
		<dict>
			<key>elid</key>
			<string>9</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>5500</string>
			<key>notes</key>
			<string>{d92e1628-c5fc-4d86-8388-8e284563da21}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>10</key>
		<dict>
			<key>elid</key>
			<string>10</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>6000</string>
			<key>notes</key>
			<string>{ae70190a-3fd0-47d9-9313-09c31b24f3ad}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>11</key>
		<dict>
			<key>elid</key>
			<string>11</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>8000</string>
			<key>notes</key>
			<string>{ab09cd48-75b2-449f-899e-0a77f5a0cd61}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>12</key>
		<dict>
			<key>elid</key>
			<string>12</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>8500</string>
			<key>notes</key>
			<string>{9520f6fb-165e-457e-be4b-682501975b5e}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>13</key>
		<dict>
			<key>elid</key>
			<string>13</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>9000</string>
			<key>notes</key>
			<string>{b3d64252-ec95-4e29-9580-9646f7517bb2}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>14</key>
		<dict>
			<key>elid</key>
			<string>14</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>9500</string>
			<key>notes</key>
			<string>{5cbaadd3-2a2e-468c-9150-38b6f0c9d715}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>15</key>
		<dict>
			<key>elid</key>
			<string>15</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>10000</string>
			<key>notes</key>
			<string>{2ec57e5c-f3ae-41c9-9c16-414092354ce1}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>16</key>
		<dict>
			<key>elid</key>
			<string>16</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>10500</string>
			<key>notes</key>
			<string>{faf10027-afd0-4773-ac48-f1b0fc3e3a6a}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>17</key>
		<dict>
			<key>elid</key>
			<string>17</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>11000</string>
			<key>notes</key>
			<string>{383c3569-8b4c-4272-b15f-7a0831d4da9d}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>18</key>
		<dict>
			<key>elid</key>
			<string>18</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>12000</string>
			<key>notes</key>
			<string>{fbff72fb-55ae-4062-a6ed-c8c4b963c49e} {53bbe67d-ab34-4b76-b1d2-e843bf44bb4e}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>19</key>
		<dict>
			<key>elid</key>
			<string>19</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>13000</string>
			<key>notes</key>
			<string>{5740d90a-c655-4230-a0df-3e0faf668fe0} {9ec06d40-2418-42f9-8ffc-1836dbbb6f26}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>20</key>
		<dict>
			<key>elid</key>
			<string>20</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>14000</string>
			<key>notes</key>
			<string>{35dede50-1958-49df-b3b1-bfc4c56d7bbc} {afe5ceb3-a0b0-4676-82dd-797d74e4a90a}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>21</key>
		<dict>
			<key>elid</key>
			<string>23</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>20000</string>
			<key>notes</key>
			<string>{4ea2470b-7c3f-4e51-a28a-f457d5428086}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>22</key>
		<dict>
			<key>elid</key>
			<string>24</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>20500</string>
			<key>notes</key>
			<string>{4c47269e-6b24-451d-841e-15e73ae9ed0b}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>23</key>
		<dict>
			<key>elid</key>
			<string>25</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>21000</string>
			<key>notes</key>
			<string>{aed6d455-2a73-48fa-a52d-b9251c9241b4}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>24</key>
		<dict>
			<key>elid</key>
			<string>26</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>21500</string>
			<key>notes</key>
			<string>{2125dcc7-4fa5-470f-9302-08f076b4afa1}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>25</key>
		<dict>
			<key>elid</key>
			<string>27</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>22000</string>
			<key>notes</key>
			<string>{a20dc3bf-89de-4655-b4ee-47f316153758}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>26</key>
		<dict>
			<key>elid</key>
			<string>28</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>23000</string>
			<key>notes</key>
			<string>{6d5fb65a-fffe-4152-902a-8e1006e3ddcc}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>27</key>
		<dict>
			<key>elid</key>
			<string>29</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>24000</string>
			<key>notes</key>
			<string>{d8918fca-f55d-4ee8-b412-0ab7947f3fe0}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>28</key>
		<dict>
			<key>elid</key>
			<string>30</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>24500</string>
			<key>notes</key>
			<string>{277b9adb-be45-4984-8bdc-1322c3650c5b}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>29</key>
		<dict>
			<key>elid</key>
			<string>31</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>25000</string>
			<key>notes</key>
			<string>{0ac41f0a-c5c2-4aaa-ba3f-b0defe921db6}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>30</key>
		<dict>
			<key>elid</key>
			<string>32</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>25500</string>
			<key>notes</key>
			<string>{364d943a-f6d9-4a92-b928-7e9e3f9952ec}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>31</key>
		<dict>
			<key>elid</key>
			<string>33</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>26000</string>
			<key>notes</key>
			<string>{09f2db25-632e-4b8e-876b-8160943adc5a}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>32</key>
		<dict>
			<key>elid</key>
			<string>34</string>
			<key>sysno</key>
			<string>5</string>
			<key>position</key>
			<string>28000</string>
			<key>notes</key>
			<string>{46c702fd-8d90-4499-9f4a-5af4de0a83d8}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>33</key>
		<dict>
			<key>elid</key>
			<string>35</string>
			<key>sysno</key>
			<string>5</string>
			<key>position</key>
			<string>28500</string>
			<key>notes</key>
			<string>{a9353377-cb9a-4c70-8a1c-71b4277cacc5}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>34</key>
		<dict>
			<key>elid</key>
			<string>36</string>
			<key>sysno</key>
			<string>5</string>
			<key>position</key>
			<string>29000</string>
			<key>notes</key>
			<string>{83d32e01-3f0b-4515-b27d-8ff1848c8dcf}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>35</key>
		<dict>
			<key>elid</key>
			<string>37</string>
			<key>sysno</key>
			<string>5</string>
			<key>position</key>
			<string>29500</string>
			<key>notes</key>
			<string>{ebcd8334-3b5a-4cc7-b5aa-c3b8c7ee24fc}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>36</key>
		<dict>
			<key>elid</key>
			<string>38</string>
			<key>sysno</key>
			<string>5</string>
			<key>position</key>
			<string>30000</string>
			<key>notes</key>
			<string>{0d62d64a-aa40-40c7-ab9e-2106b85869d7}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>37</key>
		<dict>
			<key>elid</key>
			<string>39</string>
			<key>sysno</key>
			<string>5</string>
			<key>position</key>
			<string>30500</string>
			<key>notes</key>
			<string>{cfde23b7-efb7-4e83-b893-9faf5d591a40}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>38</key>
		<dict>
			<key>elid</key>
			<string>40</string>
			<key>sysno</key>
			<string>5</string>
			<key>position</key>
			<string>31000</string>
			<key>notes</key>
			<string>{ce3d8b0b-28f4-4be5-8d28-07ffddde7314}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>39</key>
		<dict>
			<key>elid</key>
			<string>41</string>
			<key>sysno</key>
			<string>5</string>
			<key>position</key>
			<string>32000</string>
			<key>notes</key>
			<string>{ad8b545a-4618-4aa4-a765-33566ed91a1b} {12bcd1f9-9dcc-4946-bb28-b90186a305d1}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>40</key>
		<dict>
			<key>elid</key>
			<string>42</string>
			<key>sysno</key>
			<string>5</string>
			<key>position</key>
			<string>33000</string>
			<key>notes</key>
			<string>{5281acc9-d96c-4aed-963e-0b662c4822fc} {1a4ab93d-ab0d-41a2-87f9-05646e65e7ab}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>41</key>
		<dict>
			<key>elid</key>
			<string>43</string>
			<key>sysno</key>
			<string>5</string>
			<key>position</key>
			<string>33500</string>
			<key>notes</key>
			<string>{1df2f337-9230-4b85-ab7a-5912c2b161fc}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>42</key>
		<dict>
			<key>elid</key>
			<string>44</string>
			<key>sysno</key>
			<string>5</string>
			<key>position</key>
			<string>34000</string>
			<key>notes</key>
			<string>{5258cccf-3df4-4162-9d02-24eb52b6b8e4}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
	</dict>
	<key>metronomes</key>
	<dict>
		<key>0</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>1000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>1500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>2000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>2500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>3000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>3500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>4000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>4500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>5000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>5500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>6000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>6500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>7000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>7500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>8000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>8500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>9000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>9500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>10000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>10500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>11000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>11500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>12000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>12500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>13000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>13500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>14000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>14500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>15000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>15500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>16000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>16500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>17000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>17500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>18000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>18500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>19000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>19500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>20000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>20500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>21000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>21500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>22000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>22500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>23000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>23500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>24000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>24500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>25000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>25500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>26000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>26500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>27000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>27500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>28000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>28500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>29000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>29500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>30000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>30500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>31000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>31500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>32000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>32500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>33000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>33500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>34000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>34500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>35000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>35500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
	</dict>
</dict>
</plist>