<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>247.04</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>282.619</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>391.89</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>427.47</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>536.741</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>572.321</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>681.592</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>717.171</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>6</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>823.404</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>858.984</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{8accb9d4-0c0e-491e-a35f-5d3b558472e5}</key>
		<dict>
			<key>x</key>
			<string>514.752</string>
			<key>y</key>
			<string>746.08</string>
		</dict>
		<key>{492c3f97-5e3c-4127-acb8-6201e62c1c28}</key>
		<dict>
			<key>x</key>
			<string>444.153</string>
			<key>y</key>
			<string>741.119</string>
		</dict>
		<key>{f5bb19be-89ba-43a5-9258-3929144dba84}</key>
		<dict>
			<key>x</key>
			<string>444.153</string>
			<key>y</key>
			<string>689.033</string>
		</dict>
		<key>{de8f80fc-0915-465f-bcc7-3af921e857ca}</key>
		<dict>
			<key>x</key>
			<string>397.395</string>
			<key>y</key>
			<string>691.513</string>
		</dict>
		<key>{8b69673c-ad24-4507-ad60-bad60b76d29f}</key>
		<dict>
			<key>x</key>
			<string>357.384</string>
			<key>y</key>
			<string>693.993</string>
		</dict>
		<key>{a59bf5c0-5f97-4400-9bea-d2f258f84645}</key>
		<dict>
			<key>x</key>
			<string>317.193</string>
			<key>y</key>
			<string>738.639</string>
		</dict>
		<key>{31e3616e-483e-4185-b20a-138d1a079739}</key>
		<dict>
			<key>x</key>
			<string>266.148</string>
			<key>y</key>
			<string>696.474</string>
		</dict>
		<key>{2542f8a5-d486-473b-b751-e800400ecc14}</key>
		<dict>
			<key>x</key>
			<string>195.549</string>
			<key>y</key>
			<string>736.159</string>
		</dict>
		<key>{7c02133d-b180-4ce6-a84d-66260671f599}</key>
		<dict>
			<key>x</key>
			<string>195.549</string>
			<key>y</key>
			<string>691.513</string>
		</dict>
		<key>{1087534a-27b8-448a-b0d1-99cfb8e6dd2c}</key>
		<dict>
			<key>x</key>
			<string>149.719</string>
			<key>y</key>
			<string>693.993</string>
		</dict>
		<key>{cc6a0114-0596-4c35-8e67-abdc80407c6a}</key>
		<dict>
			<key>x</key>
			<string>110.636</string>
			<key>y</key>
			<string>696.474</string>
		</dict>
		<key>{4a7e5c0d-e49e-466a-bfec-e002b9d055a7}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>698.954</string>
		</dict>
		<key>{d0424099-b659-4a2e-b80f-aba0a177fde1}</key>
		<dict>
			<key>x</key>
			<string>448.697</string>
			<key>y</key>
			<string>601.229</string>
		</dict>
		<key>{e788772a-7b5a-4b30-bd74-07272d48cbab}</key>
		<dict>
			<key>x</key>
			<string>401.469</string>
			<key>y</key>
			<string>591.308</string>
		</dict>
		<key>{923dc267-e0e3-4c72-9af2-511083e8fbfd}</key>
		<dict>
			<key>x</key>
			<string>360.986</string>
			<key>y</key>
			<string>596.269</string>
		</dict>
		<key>{507bedcd-3cf8-4286-ac8c-669965f13e7b}</key>
		<dict>
			<key>x</key>
			<string>320.504</string>
			<key>y</key>
			<string>591.308</string>
		</dict>
		<key>{0671bfdf-40ac-45af-a2b4-bc3dfba4c8b6}</key>
		<dict>
			<key>x</key>
			<string>194.791</string>
			<key>y</key>
			<string>554.103</string>
		</dict>
		<key>{9174aeca-f77f-4aef-aa2b-2b1fc048924e}</key>
		<dict>
			<key>x</key>
			<string>149.214</string>
			<key>y</key>
			<string>544.182</string>
		</dict>
		<key>{d1baec7c-6c18-4a25-92cb-c7ff4f958f39}</key>
		<dict>
			<key>x</key>
			<string>110.383</string>
			<key>y</key>
			<string>549.143</string>
		</dict>
		<key>{116f136c-ce4b-460a-93e8-e14d107d6aaf}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>544.182</string>
		</dict>
		<key>{100db01c-baa2-4e91-b040-97a2f2901f23}</key>
		<dict>
			<key>x</key>
			<string>447.407</string>
			<key>y</key>
			<string>451.418</string>
		</dict>
		<key>{0269a638-6605-4ad7-a922-5f7f88da4f75}</key>
		<dict>
			<key>x</key>
			<string>447.407</string>
			<key>y</key>
			<string>399.331</string>
		</dict>
		<key>{25f44620-3563-4a2c-9654-620ba1c07dcf}</key>
		<dict>
			<key>x</key>
			<string>400.657</string>
			<key>y</key>
			<string>401.812</string>
		</dict>
		<key>{c2197a1d-4e89-454f-b829-bb3bdb6fbfe1}</key>
		<dict>
			<key>x</key>
			<string>360.653</string>
			<key>y</key>
			<string>404.292</string>
		</dict>
		<key>{565a15fc-498a-46a8-a9b3-8673f9d1664c}</key>
		<dict>
			<key>x</key>
			<string>320.471</string>
			<key>y</key>
			<string>448.938</string>
		</dict>
		<key>{9175dd4f-e170-4346-9783-a6da3e5eaba8}</key>
		<dict>
			<key>x</key>
			<string>320.65</string>
			<key>y</key>
			<string>406.772</string>
		</dict>
		<key>{f7c604c3-2baf-4b60-85ad-f492123fef81}</key>
		<dict>
			<key>x</key>
			<string>273.661</string>
			<key>y</key>
			<string>404.292</string>
		</dict>
		<key>{e467a555-e78f-4a5c-8bbc-1ea2efa93d9b}</key>
		<dict>
			<key>x</key>
			<string>233.598</string>
			<key>y</key>
			<string>401.812</string>
		</dict>
		<key>{b7ab3293-14f6-42ba-96a4-4b50bd6f3fca}</key>
		<dict>
			<key>x</key>
			<string>193.534</string>
			<key>y</key>
			<string>399.331</string>
		</dict>
		<key>{c9afc0c6-67f1-4a9b-ab58-b30431fd7c9a}</key>
		<dict>
			<key>x</key>
			<string>148.376</string>
			<key>y</key>
			<string>401.812</string>
		</dict>
		<key>{bdc4a441-788d-4482-a00c-b684563371c5}</key>
		<dict>
			<key>x</key>
			<string>109.964</string>
			<key>y</key>
			<string>404.292</string>
		</dict>
		<key>{1ae4eb90-73fb-4782-881f-96a619e8fb29}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>406.772</string>
		</dict>
		<key>{acd09dd2-2866-4414-a558-da269cf67199}</key>
		<dict>
			<key>x</key>
			<string>445.199</string>
			<key>y</key>
			<string>301.607</string>
		</dict>
		<key>{cd22bc8e-acab-428a-999a-5f765d4b4826}</key>
		<dict>
			<key>x</key>
			<string>397.653</string>
			<key>y</key>
			<string>304.087</string>
		</dict>
		<key>{76d8bd07-f4ca-4231-a739-af8b246c793d}</key>
		<dict>
			<key>x</key>
			<string>356.854</string>
			<key>y</key>
			<string>306.567</string>
		</dict>
		<key>{8fd281e7-aaa9-43d5-bc4b-a43554b1c214}</key>
		<dict>
			<key>x</key>
			<string>316.055</string>
			<key>y</key>
			<string>309.048</string>
		</dict>
		<key>{b0ae9a1e-2d6d-44df-8d7d-00fbafddcf4a}</key>
		<dict>
			<key>x</key>
			<string>195.742</string>
			<key>y</key>
			<string>304.087</string>
		</dict>
		<key>{c0ecf982-f27a-4ae8-9295-7b321ffa5b7e}</key>
		<dict>
			<key>x</key>
			<string>149.848</string>
			<key>y</key>
			<string>306.567</string>
		</dict>
		<key>{1f508326-6449-4170-a75d-d38314e5bbde}</key>
		<dict>
			<key>x</key>
			<string>110.7</string>
			<key>y</key>
			<string>309.048</string>
		</dict>
		<key>{c8088109-3c37-48a0-a20d-5abd1efb38be}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>311.528</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{8accb9d4-0c0e-491e-a35f-5d3b558472e5}</key>
		<dict>
			<key>x1</key>
			<string>520.961</string>
			<key>y1</key>
			<string>745.148</string>
			<key>x2</key>
			<string>520.961</string>
			<key>y2</key>
			<string>729.958</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{492c3f97-5e3c-4127-acb8-6201e62c1c28}</key>
		<dict>
			<key>x1</key>
			<string>444.475</string>
			<key>y1</key>
			<string>741.897</string>
			<key>x2</key>
			<string>444.475</string>
			<key>y2</key>
			<string>757.241</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{f5bb19be-89ba-43a5-9258-3929144dba84}</key>
		<dict>
			<key>x1</key>
			<string>444.475</string>
			<key>y1</key>
			<string>689.81</string>
			<key>x2</key>
			<string>444.475</string>
			<key>y2</key>
			<string>705.155</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{de8f80fc-0915-465f-bcc7-3af921e857ca}</key>
		<dict>
			<key>x1</key>
			<string>397.717</string>
			<key>y1</key>
			<string>692.445</string>
			<key>x2</key>
			<string>397.717</string>
			<key>y2</key>
			<string>707.015</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{8b69673c-ad24-4507-ad60-bad60b76d29f}</key>
		<dict>
			<key>x1</key>
			<string>363.592</string>
			<key>y1</key>
			<string>693.062</string>
			<key>x2</key>
			<string>363.592</string>
			<key>y2</key>
			<string>677.871</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{a59bf5c0-5f97-4400-9bea-d2f258f84645}</key>
		<dict>
			<key>x1</key>
			<string>317.516</string>
			<key>y1</key>
			<string>739.417</string>
			<key>x2</key>
			<string>317.516</string>
			<key>y2</key>
			<string>755.381</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{31e3616e-483e-4185-b20a-138d1a079739}</key>
		<dict>
			<key>x1</key>
			<string>272.357</string>
			<key>y1</key>
			<string>695.542</string>
			<key>x2</key>
			<string>272.357</string>
			<key>y2</key>
			<string>679.731</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{2542f8a5-d486-473b-b751-e800400ecc14}</key>
		<dict>
			<key>x1</key>
			<string>195.871</string>
			<key>y1</key>
			<string>736.936</string>
			<key>x2</key>
			<string>195.871</string>
			<key>y2</key>
			<string>753.521</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{7c02133d-b180-4ce6-a84d-66260671f599}</key>
		<dict>
			<key>x1</key>
			<string>195.871</string>
			<key>y1</key>
			<string>692.291</string>
			<key>x2</key>
			<string>195.871</string>
			<key>y2</key>
			<string>707.015</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{1087534a-27b8-448a-b0d1-99cfb8e6dd2c}</key>
		<dict>
			<key>x1</key>
			<string>155.927</string>
			<key>y1</key>
			<string>693.062</string>
			<key>x2</key>
			<string>155.927</string>
			<key>y2</key>
			<string>677.871</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{cc6a0114-0596-4c35-8e67-abdc80407c6a}</key>
		<dict>
			<key>x1</key>
			<string>116.844</string>
			<key>y1</key>
			<string>695.542</string>
			<key>x2</key>
			<string>116.844</string>
			<key>y2</key>
			<string>679.731</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{4a7e5c0d-e49e-466a-bfec-e002b9d055a7}</key>
		<dict>
			<key>x1</key>
			<string>77.7609</string>
			<key>y1</key>
			<string>698.022</string>
			<key>x2</key>
			<string>77.7609</string>
			<key>y2</key>
			<string>681.592</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d0424099-b659-4a2e-b80f-aba0a177fde1}</key>
		<dict>
			<key>x1</key>
			<string>455.264</string>
			<key>y1</key>
			<string>600.467</string>
			<key>x2</key>
			<string>455.264</string>
			<key>y2</key>
			<string>585.107</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{e788772a-7b5a-4b30-bd74-07272d48cbab}</key>
		<dict>
			<key>x1</key>
			<string>401.791</string>
			<key>y1</key>
			<string>592.24</string>
			<key>x2</key>
			<string>401.791</string>
			<key>y2</key>
			<string>608.67</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{923dc267-e0e3-4c72-9af2-511083e8fbfd}</key>
		<dict>
			<key>x1</key>
			<string>361.309</string>
			<key>y1</key>
			<string>597.2</string>
			<key>x2</key>
			<string>361.309</string>
			<key>y2</key>
			<string>612.391</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{507bedcd-3cf8-4286-ac8c-669965f13e7b}</key>
		<dict>
			<key>x1</key>
			<string>320.827</string>
			<key>y1</key>
			<string>592.24</string>
			<key>x2</key>
			<string>320.827</string>
			<key>y2</key>
			<string>608.67</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{0671bfdf-40ac-45af-a2b4-bc3dfba4c8b6}</key>
		<dict>
			<key>x1</key>
			<string>201</string>
			<key>y1</key>
			<string>553.171</string>
			<key>x2</key>
			<string>201</string>
			<key>y2</key>
			<string>536.741</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9174aeca-f77f-4aef-aa2b-2b1fc048924e}</key>
		<dict>
			<key>x1</key>
			<string>149.536</string>
			<key>y1</key>
			<string>545.114</string>
			<key>x2</key>
			<string>149.536</string>
			<key>y2</key>
			<string>560.304</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{d1baec7c-6c18-4a25-92cb-c7ff4f958f39}</key>
		<dict>
			<key>x1</key>
			<string>116.592</string>
			<key>y1</key>
			<string>548.211</string>
			<key>x2</key>
			<string>116.592</string>
			<key>y2</key>
			<string>533.02</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{116f136c-ce4b-460a-93e8-e14d107d6aaf}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>545.114</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>560.304</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{100db01c-baa2-4e91-b040-97a2f2901f23}</key>
		<dict>
			<key>x1</key>
			<string>447.73</string>
			<key>y1</key>
			<string>452.196</string>
			<key>x2</key>
			<string>447.73</string>
			<key>y2</key>
			<string>467.54</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{0269a638-6605-4ad7-a922-5f7f88da4f75}</key>
		<dict>
			<key>x1</key>
			<string>447.73</string>
			<key>y1</key>
			<string>400.109</string>
			<key>x2</key>
			<string>447.73</string>
			<key>y2</key>
			<string>415.453</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{25f44620-3563-4a2c-9654-620ba1c07dcf}</key>
		<dict>
			<key>x1</key>
			<string>400.979</string>
			<key>y1</key>
			<string>402.743</string>
			<key>x2</key>
			<string>400.979</string>
			<key>y2</key>
			<string>417.314</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{c2197a1d-4e89-454f-b829-bb3bdb6fbfe1}</key>
		<dict>
			<key>x1</key>
			<string>366.862</string>
			<key>y1</key>
			<string>403.36</string>
			<key>x2</key>
			<string>366.862</string>
			<key>y2</key>
			<string>388.17</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{565a15fc-498a-46a8-a9b3-8673f9d1664c}</key>
		<dict>
			<key>x1</key>
			<string>320.793</string>
			<key>y1</key>
			<string>449.715</string>
			<key>x2</key>
			<string>320.793</string>
			<key>y2</key>
			<string>465.68</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{9175dd4f-e170-4346-9783-a6da3e5eaba8}</key>
		<dict>
			<key>x1</key>
			<string>326.858</string>
			<key>y1</key>
			<string>405.841</string>
			<key>x2</key>
			<string>326.858</string>
			<key>y2</key>
			<string>390.03</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{f7c604c3-2baf-4b60-85ad-f492123fef81}</key>
		<dict>
			<key>x1</key>
			<string>279.87</string>
			<key>y1</key>
			<string>403.36</string>
			<key>x2</key>
			<string>279.87</string>
			<key>y2</key>
			<string>388.17</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{e467a555-e78f-4a5c-8bbc-1ea2efa93d9b}</key>
		<dict>
			<key>x1</key>
			<string>233.92</string>
			<key>y1</key>
			<string>402.743</string>
			<key>x2</key>
			<string>233.92</string>
			<key>y2</key>
			<string>417.314</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{b7ab3293-14f6-42ba-96a4-4b50bd6f3fca}</key>
		<dict>
			<key>x1</key>
			<string>193.857</string>
			<key>y1</key>
			<string>400.263</string>
			<key>x2</key>
			<string>193.857</string>
			<key>y2</key>
			<string>415.453</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{c9afc0c6-67f1-4a9b-ab58-b30431fd7c9a}</key>
		<dict>
			<key>x1</key>
			<string>148.699</string>
			<key>y1</key>
			<string>402.743</string>
			<key>x2</key>
			<string>148.699</string>
			<key>y2</key>
			<string>417.314</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{bdc4a441-788d-4482-a00c-b684563371c5}</key>
		<dict>
			<key>x1</key>
			<string>116.173</string>
			<key>y1</key>
			<string>403.36</string>
			<key>x2</key>
			<string>116.173</string>
			<key>y2</key>
			<string>388.17</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{1ae4eb90-73fb-4782-881f-96a619e8fb29}</key>
		<dict>
			<key>x1</key>
			<string>77.7609</string>
			<key>y1</key>
			<string>405.841</string>
			<key>x2</key>
			<string>77.7609</string>
			<key>y2</key>
			<string>390.03</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{acd09dd2-2866-4414-a558-da269cf67199}</key>
		<dict>
			<key>x1</key>
			<string>445.521</string>
			<key>y1</key>
			<string>302.384</string>
			<key>x2</key>
			<string>445.521</string>
			<key>y2</key>
			<string>318.969</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{cd22bc8e-acab-428a-999a-5f765d4b4826}</key>
		<dict>
			<key>x1</key>
			<string>397.976</string>
			<key>y1</key>
			<string>305.019</string>
			<key>x2</key>
			<string>397.976</string>
			<key>y2</key>
			<string>320.829</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{76d8bd07-f4ca-4231-a739-af8b246c793d}</key>
		<dict>
			<key>x1</key>
			<string>357.176</string>
			<key>y1</key>
			<string>307.499</string>
			<key>x2</key>
			<string>357.176</string>
			<key>y2</key>
			<string>322.689</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{8fd281e7-aaa9-43d5-bc4b-a43554b1c214}</key>
		<dict>
			<key>x1</key>
			<string>316.377</string>
			<key>y1</key>
			<string>309.979</string>
			<key>x2</key>
			<string>316.377</string>
			<key>y2</key>
			<string>324.549</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{b0ae9a1e-2d6d-44df-8d7d-00fbafddcf4a}</key>
		<dict>
			<key>x1</key>
			<string>196.065</string>
			<key>y1</key>
			<string>304.865</string>
			<key>x2</key>
			<string>196.065</string>
			<key>y2</key>
			<string>320.829</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{c0ecf982-f27a-4ae8-9295-7b321ffa5b7e}</key>
		<dict>
			<key>x1</key>
			<string>150.171</string>
			<key>y1</key>
			<string>307.499</string>
			<key>x2</key>
			<string>150.171</string>
			<key>y2</key>
			<string>322.689</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{1f508326-6449-4170-a75d-d38314e5bbde}</key>
		<dict>
			<key>x1</key>
			<string>111.023</string>
			<key>y1</key>
			<string>309.979</string>
			<key>x2</key>
			<string>111.023</string>
			<key>y2</key>
			<string>324.549</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{c8088109-3c37-48a0-a20d-5abd1efb38be}</key>
		<dict>
			<key>x1</key>
			<string>77.7609</string>
			<key>y1</key>
			<string>310.596</string>
			<key>x2</key>
			<string>77.7609</string>
			<key>y2</key>
			<string>295.406</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
	</dict>
</dict>
</plist>