<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>541.205</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>576.784</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{b34eb9de-9c83-492a-a5de-f534df9b6fea}</key>
		<dict>
			<key>x</key>
			<string>510.717</string>
			<key>y</key>
			<string>605.693</string>
		</dict>
		<key>{7abdf06b-70bb-47fe-80b7-6c4d86f545ef}</key>
		<dict>
			<key>x</key>
			<string>440.804</string>
			<key>y</key>
			<string>600.732</string>
		</dict>
		<key>{1be706b4-1b81-4296-80b2-563895b040e3}</key>
		<dict>
			<key>x</key>
			<string>440.804</string>
			<key>y</key>
			<string>548.646</string>
		</dict>
		<key>{8be8ed47-4606-413b-92cd-98f6af546d00}</key>
		<dict>
			<key>x</key>
			<string>394.419</string>
			<key>y</key>
			<string>551.126</string>
		</dict>
		<key>{903e5d31-2afa-439f-a55f-1b51e80a899b}</key>
		<dict>
			<key>x</key>
			<string>354.779</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{9d51ee6c-6290-424e-a3e5-374c7214040f}</key>
		<dict>
			<key>x</key>
			<string>314.961</string>
			<key>y</key>
			<string>598.252</string>
		</dict>
		<key>{afbe7ca9-fa6b-4b14-ab21-3ffedcb84264}</key>
		<dict>
			<key>x</key>
			<string>264.345</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{9d011040-2f22-44fe-a4a1-6299c5fe7077}</key>
		<dict>
			<key>x</key>
			<string>194.433</string>
			<key>y</key>
			<string>595.772</string>
		</dict>
		<key>{20ef67c8-6632-4fdb-a3fb-e6d12ad51dbb}</key>
		<dict>
			<key>x</key>
			<string>194.433</string>
			<key>y</key>
			<string>551.126</string>
		</dict>
		<key>{0deb35bb-7fb8-4789-8324-178828d370a6}</key>
		<dict>
			<key>x</key>
			<string>148.975</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{f046c2ef-dfba-4cd8-aaa0-b18d3e76331c}</key>
		<dict>
			<key>x</key>
			<string>110.264</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{f36d0096-848f-4f86-b0a3-03769cd0ca5c}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{2775b7e0-9438-4472-bc72-faf39f30e5ee}</key>
		<dict>
			<key>x</key>
			<string>448.697</string>
			<key>y</key>
			<string>459.354</string>
		</dict>
		<key>{2f61c148-a01b-4ced-93c4-7b029c0a5512}</key>
		<dict>
			<key>x</key>
			<string>401.469</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{2f9ccb29-212f-4d64-ae7e-25070852b443}</key>
		<dict>
			<key>x</key>
			<string>360.986</string>
			<key>y</key>
			<string>454.394</string>
		</dict>
		<key>{55b6e955-0cd3-4ea7-8852-d6cbed4c880c}</key>
		<dict>
			<key>x</key>
			<string>320.504</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{776132cc-89c3-441d-8d8f-88b4b1905bb6}</key>
		<dict>
			<key>x</key>
			<string>194.791</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{379e1810-d84d-4c8f-8d94-181200ebcdf1}</key>
		<dict>
			<key>x</key>
			<string>149.214</string>
			<key>y</key>
			<string>402.307</string>
		</dict>
		<key>{157ade52-6f2c-4570-b4e1-af32087e3006}</key>
		<dict>
			<key>x</key>
			<string>110.383</string>
			<key>y</key>
			<string>407.268</string>
		</dict>
		<key>{af569c65-adf5-438b-bcf0-0f9f5f273c23}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>402.307</string>
		</dict>
		<key>{e81bc017-1817-4752-a9bb-1905bb249787}</key>
		<dict>
			<key>x</key>
			<string>447.407</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{e47593b6-fb8a-4244-bf6b-7645bb3d8e92}</key>
		<dict>
			<key>x</key>
			<string>447.407</string>
			<key>y</key>
			<string>255.969</string>
		</dict>
		<key>{b01cd267-1943-4026-8a78-6f7504504020}</key>
		<dict>
			<key>x</key>
			<string>400.657</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{6df397a0-1080-4c61-83f6-4f96f34a50b3}</key>
		<dict>
			<key>x</key>
			<string>360.653</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{d6e05a05-9ba5-4237-b160-e24f48656ca2}</key>
		<dict>
			<key>x</key>
			<string>320.471</string>
			<key>y</key>
			<string>305.575</string>
		</dict>
		<key>{232c9954-28ce-4ee2-aab0-e09161e62106}</key>
		<dict>
			<key>x</key>
			<string>320.65</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{d08f4126-5a47-49bb-975b-0a5736d50500}</key>
		<dict>
			<key>x</key>
			<string>273.661</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{431ba91c-67b8-48b8-ae19-38d01ce0ddd1}</key>
		<dict>
			<key>x</key>
			<string>233.598</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{439d31a9-99d0-41af-a562-83e2591ddee9}</key>
		<dict>
			<key>x</key>
			<string>193.534</string>
			<key>y</key>
			<string>255.969</string>
		</dict>
		<key>{fde15490-c0d8-4efd-ad66-9d801b544ba7}</key>
		<dict>
			<key>x</key>
			<string>148.376</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{f99d48ea-1ed4-48e9-9438-6e9b7fdb3889}</key>
		<dict>
			<key>x</key>
			<string>109.964</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{36406417-9725-4206-92b8-f16fc7653b41}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{eac2487b-46e5-45fe-9379-5f4270877824}</key>
		<dict>
			<key>x</key>
			<string>448.436</string>
			<key>y</key>
			<string>156.756</string>
		</dict>
		<key>{d5a73fe6-5eb0-46ce-b725-65de6d11a374}</key>
		<dict>
			<key>x</key>
			<string>401.969</string>
			<key>y</key>
			<string>159.236</string>
		</dict>
		<key>{1d8b8926-89cb-4045-9e51-57cd6e632616}</key>
		<dict>
			<key>x</key>
			<string>362.249</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{35386d90-f9b7-4e8c-92b4-51dceaae4162}</key>
		<dict>
			<key>x</key>
			<string>322.528</string>
			<key>y</key>
			<string>164.197</string>
		</dict>
		<key>{7a21d487-a959-4711-b4b1-68be81da3b48}</key>
		<dict>
			<key>x</key>
			<string>205.453</string>
			<key>y</key>
			<string>159.236</string>
		</dict>
		<key>{ac517f96-5040-439b-b262-de3f8de5bd4f}</key>
		<dict>
			<key>x</key>
			<string>160.637</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{7570ea96-6467-49ef-bc89-529e4e83e611}</key>
		<dict>
			<key>x</key>
			<string>122.569</string>
			<key>y</key>
			<string>164.197</string>
		</dict>
		<key>{e7092340-4a06-4480-a3ee-b9a6d1c737a7}</key>
		<dict>
			<key>x</key>
			<string>84.4996</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{b34eb9de-9c83-492a-a5de-f534df9b6fea}</key>
		<dict>
			<key>x1</key>
			<string>516.925</string>
			<key>y1</key>
			<string>604.761</string>
			<key>x2</key>
			<string>516.925</string>
			<key>y2</key>
			<string>589.571</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{7abdf06b-70bb-47fe-80b7-6c4d86f545ef}</key>
		<dict>
			<key>x1</key>
			<string>441.127</string>
			<key>y1</key>
			<string>601.51</string>
			<key>x2</key>
			<string>441.127</string>
			<key>y2</key>
			<string>616.854</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{1be706b4-1b81-4296-80b2-563895b040e3}</key>
		<dict>
			<key>x1</key>
			<string>441.127</string>
			<key>y1</key>
			<string>549.424</string>
			<key>x2</key>
			<string>441.127</string>
			<key>y2</key>
			<string>564.768</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{8be8ed47-4606-413b-92cd-98f6af546d00}</key>
		<dict>
			<key>x1</key>
			<string>394.741</string>
			<key>y1</key>
			<string>552.058</string>
			<key>x2</key>
			<string>394.741</string>
			<key>y2</key>
			<string>566.628</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{903e5d31-2afa-439f-a55f-1b51e80a899b}</key>
		<dict>
			<key>x1</key>
			<string>360.988</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>360.988</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{9d51ee6c-6290-424e-a3e5-374c7214040f}</key>
		<dict>
			<key>x1</key>
			<string>315.283</string>
			<key>y1</key>
			<string>599.03</string>
			<key>x2</key>
			<string>315.283</string>
			<key>y2</key>
			<string>614.994</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{afbe7ca9-fa6b-4b14-ab21-3ffedcb84264}</key>
		<dict>
			<key>x1</key>
			<string>270.554</string>
			<key>y1</key>
			<string>555.155</string>
			<key>x2</key>
			<string>270.554</string>
			<key>y2</key>
			<string>539.344</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{9d011040-2f22-44fe-a4a1-6299c5fe7077}</key>
		<dict>
			<key>x1</key>
			<string>194.755</string>
			<key>y1</key>
			<string>596.549</string>
			<key>x2</key>
			<string>194.755</string>
			<key>y2</key>
			<string>613.134</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{20ef67c8-6632-4fdb-a3fb-e6d12ad51dbb}</key>
		<dict>
			<key>x1</key>
			<string>194.755</string>
			<key>y1</key>
			<string>551.904</string>
			<key>x2</key>
			<string>194.755</string>
			<key>y2</key>
			<string>566.628</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{0deb35bb-7fb8-4789-8324-178828d370a6}</key>
		<dict>
			<key>x1</key>
			<string>155.183</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>155.183</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{f046c2ef-dfba-4cd8-aaa0-b18d3e76331c}</key>
		<dict>
			<key>x1</key>
			<string>116.472</string>
			<key>y1</key>
			<string>555.155</string>
			<key>x2</key>
			<string>116.472</string>
			<key>y2</key>
			<string>539.344</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{f36d0096-848f-4f86-b0a3-03769cd0ca5c}</key>
		<dict>
			<key>x1</key>
			<string>77.7609</string>
			<key>y1</key>
			<string>557.635</string>
			<key>x2</key>
			<string>77.7609</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{2775b7e0-9438-4472-bc72-faf39f30e5ee}</key>
		<dict>
			<key>x1</key>
			<string>455.264</string>
			<key>y1</key>
			<string>458.592</string>
			<key>x2</key>
			<string>455.264</string>
			<key>y2</key>
			<string>443.232</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{2f61c148-a01b-4ced-93c4-7b029c0a5512}</key>
		<dict>
			<key>x1</key>
			<string>401.791</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>401.791</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{2f9ccb29-212f-4d64-ae7e-25070852b443}</key>
		<dict>
			<key>x1</key>
			<string>361.309</string>
			<key>y1</key>
			<string>455.325</string>
			<key>x2</key>
			<string>361.309</string>
			<key>y2</key>
			<string>470.516</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{55b6e955-0cd3-4ea7-8852-d6cbed4c880c}</key>
		<dict>
			<key>x1</key>
			<string>320.827</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>320.827</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{776132cc-89c3-441d-8d8f-88b4b1905bb6}</key>
		<dict>
			<key>x1</key>
			<string>201</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>201</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{379e1810-d84d-4c8f-8d94-181200ebcdf1}</key>
		<dict>
			<key>x1</key>
			<string>149.536</string>
			<key>y1</key>
			<string>403.239</string>
			<key>x2</key>
			<string>149.536</string>
			<key>y2</key>
			<string>418.429</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{157ade52-6f2c-4570-b4e1-af32087e3006}</key>
		<dict>
			<key>x1</key>
			<string>116.592</string>
			<key>y1</key>
			<string>406.336</string>
			<key>x2</key>
			<string>116.592</string>
			<key>y2</key>
			<string>391.146</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{af569c65-adf5-438b-bcf0-0f9f5f273c23}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>403.239</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>418.429</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{e81bc017-1817-4752-a9bb-1905bb249787}</key>
		<dict>
			<key>x1</key>
			<string>447.73</string>
			<key>y1</key>
			<string>308.833</string>
			<key>x2</key>
			<string>447.73</string>
			<key>y2</key>
			<string>324.177</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{e47593b6-fb8a-4244-bf6b-7645bb3d8e92}</key>
		<dict>
			<key>x1</key>
			<string>447.73</string>
			<key>y1</key>
			<string>256.746</string>
			<key>x2</key>
			<string>447.73</string>
			<key>y2</key>
			<string>272.091</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{b01cd267-1943-4026-8a78-6f7504504020}</key>
		<dict>
			<key>x1</key>
			<string>400.979</string>
			<key>y1</key>
			<string>259.381</string>
			<key>x2</key>
			<string>400.979</string>
			<key>y2</key>
			<string>273.951</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{6df397a0-1080-4c61-83f6-4f96f34a50b3}</key>
		<dict>
			<key>x1</key>
			<string>366.862</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>366.862</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{d6e05a05-9ba5-4237-b160-e24f48656ca2}</key>
		<dict>
			<key>x1</key>
			<string>320.793</string>
			<key>y1</key>
			<string>306.353</string>
			<key>x2</key>
			<string>320.793</string>
			<key>y2</key>
			<string>322.317</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{232c9954-28ce-4ee2-aab0-e09161e62106}</key>
		<dict>
			<key>x1</key>
			<string>326.858</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>326.858</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{d08f4126-5a47-49bb-975b-0a5736d50500}</key>
		<dict>
			<key>x1</key>
			<string>279.87</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>279.87</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{431ba91c-67b8-48b8-ae19-38d01ce0ddd1}</key>
		<dict>
			<key>x1</key>
			<string>233.92</string>
			<key>y1</key>
			<string>259.381</string>
			<key>x2</key>
			<string>233.92</string>
			<key>y2</key>
			<string>273.951</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{439d31a9-99d0-41af-a562-83e2591ddee9}</key>
		<dict>
			<key>x1</key>
			<string>193.857</string>
			<key>y1</key>
			<string>256.9</string>
			<key>x2</key>
			<string>193.857</string>
			<key>y2</key>
			<string>272.091</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{fde15490-c0d8-4efd-ad66-9d801b544ba7}</key>
		<dict>
			<key>x1</key>
			<string>148.699</string>
			<key>y1</key>
			<string>259.381</string>
			<key>x2</key>
			<string>148.699</string>
			<key>y2</key>
			<string>273.951</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{f99d48ea-1ed4-48e9-9438-6e9b7fdb3889}</key>
		<dict>
			<key>x1</key>
			<string>116.173</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>116.173</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{36406417-9725-4206-92b8-f16fc7653b41}</key>
		<dict>
			<key>x1</key>
			<string>77.7609</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>77.7609</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{eac2487b-46e5-45fe-9379-5f4270877824}</key>
		<dict>
			<key>x1</key>
			<string>448.758</string>
			<key>y1</key>
			<string>157.534</string>
			<key>x2</key>
			<string>448.758</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{d5a73fe6-5eb0-46ce-b725-65de6d11a374}</key>
		<dict>
			<key>x1</key>
			<string>402.291</string>
			<key>y1</key>
			<string>160.168</string>
			<key>x2</key>
			<string>402.291</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{1d8b8926-89cb-4045-9e51-57cd6e632616}</key>
		<dict>
			<key>x1</key>
			<string>362.571</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>362.571</string>
			<key>y2</key>
			<string>177.839</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{35386d90-f9b7-4e8c-92b4-51dceaae4162}</key>
		<dict>
			<key>x1</key>
			<string>322.851</string>
			<key>y1</key>
			<string>165.129</string>
			<key>x2</key>
			<string>322.851</string>
			<key>y2</key>
			<string>179.699</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{7a21d487-a959-4711-b4b1-68be81da3b48}</key>
		<dict>
			<key>x1</key>
			<string>205.775</string>
			<key>y1</key>
			<string>160.014</string>
			<key>x2</key>
			<string>205.775</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{ac517f96-5040-439b-b262-de3f8de5bd4f}</key>
		<dict>
			<key>x1</key>
			<string>160.96</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>160.96</string>
			<key>y2</key>
			<string>177.839</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{7570ea96-6467-49ef-bc89-529e4e83e611}</key>
		<dict>
			<key>x1</key>
			<string>122.891</string>
			<key>y1</key>
			<string>165.129</string>
			<key>x2</key>
			<string>122.891</string>
			<key>y2</key>
			<string>179.699</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{e7092340-4a06-4480-a3ee-b9a6d1c737a7}</key>
		<dict>
			<key>x1</key>
			<string>90.7082</string>
			<key>y1</key>
			<string>165.745</string>
			<key>x2</key>
			<string>90.7082</string>
			<key>y2</key>
			<string>150.555</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
	</dict>
</dict>
</plist>