<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>541.205</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>576.784</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{58c551bb-e47a-4572-82db-fd2845ef4223}</key>
		<dict>
			<key>x</key>
			<string>510.717</string>
			<key>y</key>
			<string>605.693</string>
		</dict>
		<key>{00d86db9-f627-4518-b8f1-5efa19958fd4}</key>
		<dict>
			<key>x</key>
			<string>440.804</string>
			<key>y</key>
			<string>600.732</string>
		</dict>
		<key>{6e1848d9-8033-4e5b-800a-42ba500c654c}</key>
		<dict>
			<key>x</key>
			<string>440.804</string>
			<key>y</key>
			<string>548.646</string>
		</dict>
		<key>{7fb9a75f-364e-44f4-a088-96c6b8b7d02e}</key>
		<dict>
			<key>x</key>
			<string>394.419</string>
			<key>y</key>
			<string>551.126</string>
		</dict>
		<key>{d3df85fd-b83d-46d2-bca7-744bc9f574e5}</key>
		<dict>
			<key>x</key>
			<string>354.779</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{1a4c223b-3aea-4fa0-9092-c579171b6a57}</key>
		<dict>
			<key>x</key>
			<string>314.961</string>
			<key>y</key>
			<string>598.252</string>
		</dict>
		<key>{97139409-248a-4691-a47c-5008c36d8351}</key>
		<dict>
			<key>x</key>
			<string>264.345</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{1738b9da-324f-4597-a619-9f145ed230b1}</key>
		<dict>
			<key>x</key>
			<string>194.433</string>
			<key>y</key>
			<string>595.772</string>
		</dict>
		<key>{cc9c1cac-2206-4b6b-bd14-92e06d9db347}</key>
		<dict>
			<key>x</key>
			<string>194.433</string>
			<key>y</key>
			<string>551.126</string>
		</dict>
		<key>{9c991835-e671-43f8-b262-e3b05c5d9cfe}</key>
		<dict>
			<key>x</key>
			<string>148.975</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{084bc8be-aafc-4e59-99f2-d8777ac4e7e6}</key>
		<dict>
			<key>x</key>
			<string>110.264</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{4704ed4d-e09a-4a45-8af8-c73bf467eb87}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{9366aba5-36cd-4334-aca0-06f02c2503d4}</key>
		<dict>
			<key>x</key>
			<string>448.697</string>
			<key>y</key>
			<string>459.354</string>
		</dict>
		<key>{22c39cc9-1a86-4885-b437-ca452df816d2}</key>
		<dict>
			<key>x</key>
			<string>401.469</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{f3863591-cae1-440c-a82c-30e6dd9bcebb}</key>
		<dict>
			<key>x</key>
			<string>360.986</string>
			<key>y</key>
			<string>454.394</string>
		</dict>
		<key>{7a6ce12e-50fa-4c26-9182-7a4cf2c7bb64}</key>
		<dict>
			<key>x</key>
			<string>320.504</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{8db75014-8287-4ec7-aadd-ca5b8d70f56a}</key>
		<dict>
			<key>x</key>
			<string>194.791</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{c957ed67-b6a4-47ca-a357-c6f5732c1514}</key>
		<dict>
			<key>x</key>
			<string>149.214</string>
			<key>y</key>
			<string>402.307</string>
		</dict>
		<key>{dd3411ef-04cc-4076-9ca8-59acafddf6bb}</key>
		<dict>
			<key>x</key>
			<string>110.383</string>
			<key>y</key>
			<string>407.268</string>
		</dict>
		<key>{7aed9da5-be63-4109-8330-e91cf7a7d8bc}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>402.307</string>
		</dict>
		<key>{07fc949f-6e33-4c01-84dd-d351de5820a9}</key>
		<dict>
			<key>x</key>
			<string>447.407</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{eb3afa18-0208-429a-9c30-74685e282f78}</key>
		<dict>
			<key>x</key>
			<string>447.407</string>
			<key>y</key>
			<string>255.969</string>
		</dict>
		<key>{0f349874-8b7d-4878-bdea-72ec43f82168}</key>
		<dict>
			<key>x</key>
			<string>400.657</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{43ea85e7-6bb5-45a8-b6b4-dd817e0e0c60}</key>
		<dict>
			<key>x</key>
			<string>360.653</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{3429de1d-cbb3-411b-b524-4f89f79784af}</key>
		<dict>
			<key>x</key>
			<string>320.471</string>
			<key>y</key>
			<string>305.575</string>
		</dict>
		<key>{ab510cda-d8dc-4db8-baa8-10cec417aa8a}</key>
		<dict>
			<key>x</key>
			<string>320.65</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{897752d1-52c5-40cd-b9bd-7e9baf6ee81e}</key>
		<dict>
			<key>x</key>
			<string>273.661</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{d15dc888-d61f-43e5-9c27-0ed3de93ca40}</key>
		<dict>
			<key>x</key>
			<string>233.598</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{6736dd42-6f4b-44ee-ac90-6b95db7523e5}</key>
		<dict>
			<key>x</key>
			<string>193.534</string>
			<key>y</key>
			<string>255.969</string>
		</dict>
		<key>{9cb3130e-636d-40e8-ab60-3762da12e9d9}</key>
		<dict>
			<key>x</key>
			<string>148.376</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{d9d64481-794f-4637-8da7-cb37dac5279c}</key>
		<dict>
			<key>x</key>
			<string>109.964</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{78278194-ac06-428a-9156-4fd681521001}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{3537abe8-4e42-4a03-b56b-feba5b304bfb}</key>
		<dict>
			<key>x</key>
			<string>448.436</string>
			<key>y</key>
			<string>156.756</string>
		</dict>
		<key>{2d2b6dc4-510e-4e65-8845-28548b70e8ee}</key>
		<dict>
			<key>x</key>
			<string>401.969</string>
			<key>y</key>
			<string>159.236</string>
		</dict>
		<key>{6577c0d3-8759-4236-978a-161846f491ec}</key>
		<dict>
			<key>x</key>
			<string>362.249</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{a446192a-2568-44cf-a8ae-7488bf2637bc}</key>
		<dict>
			<key>x</key>
			<string>322.528</string>
			<key>y</key>
			<string>164.197</string>
		</dict>
		<key>{37b54f4c-235d-4575-b5dc-bbf5e19016b9}</key>
		<dict>
			<key>x</key>
			<string>205.453</string>
			<key>y</key>
			<string>159.236</string>
		</dict>
		<key>{cdf5195c-2f93-448c-a502-f5f2106248fd}</key>
		<dict>
			<key>x</key>
			<string>160.637</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{0f626f4d-f862-402a-ba01-d29c4a105523}</key>
		<dict>
			<key>x</key>
			<string>122.569</string>
			<key>y</key>
			<string>164.197</string>
		</dict>
		<key>{3bddf3ae-d8dd-4a68-a906-98f0c4116ba1}</key>
		<dict>
			<key>x</key>
			<string>84.4996</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{58c551bb-e47a-4572-82db-fd2845ef4223}</key>
		<dict>
			<key>x1</key>
			<string>516.925</string>
			<key>y1</key>
			<string>604.761</string>
			<key>x2</key>
			<string>516.925</string>
			<key>y2</key>
			<string>589.571</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{00d86db9-f627-4518-b8f1-5efa19958fd4}</key>
		<dict>
			<key>x1</key>
			<string>441.127</string>
			<key>y1</key>
			<string>601.51</string>
			<key>x2</key>
			<string>441.127</string>
			<key>y2</key>
			<string>616.854</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{6e1848d9-8033-4e5b-800a-42ba500c654c}</key>
		<dict>
			<key>x1</key>
			<string>441.127</string>
			<key>y1</key>
			<string>549.424</string>
			<key>x2</key>
			<string>441.127</string>
			<key>y2</key>
			<string>564.768</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{7fb9a75f-364e-44f4-a088-96c6b8b7d02e}</key>
		<dict>
			<key>x1</key>
			<string>394.741</string>
			<key>y1</key>
			<string>552.058</string>
			<key>x2</key>
			<string>394.741</string>
			<key>y2</key>
			<string>566.628</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{d3df85fd-b83d-46d2-bca7-744bc9f574e5}</key>
		<dict>
			<key>x1</key>
			<string>360.988</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>360.988</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{1a4c223b-3aea-4fa0-9092-c579171b6a57}</key>
		<dict>
			<key>x1</key>
			<string>315.283</string>
			<key>y1</key>
			<string>599.03</string>
			<key>x2</key>
			<string>315.283</string>
			<key>y2</key>
			<string>614.994</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{97139409-248a-4691-a47c-5008c36d8351}</key>
		<dict>
			<key>x1</key>
			<string>270.554</string>
			<key>y1</key>
			<string>555.155</string>
			<key>x2</key>
			<string>270.554</string>
			<key>y2</key>
			<string>539.344</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{1738b9da-324f-4597-a619-9f145ed230b1}</key>
		<dict>
			<key>x1</key>
			<string>194.755</string>
			<key>y1</key>
			<string>596.549</string>
			<key>x2</key>
			<string>194.755</string>
			<key>y2</key>
			<string>613.134</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{cc9c1cac-2206-4b6b-bd14-92e06d9db347}</key>
		<dict>
			<key>x1</key>
			<string>194.755</string>
			<key>y1</key>
			<string>551.904</string>
			<key>x2</key>
			<string>194.755</string>
			<key>y2</key>
			<string>566.628</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{9c991835-e671-43f8-b262-e3b05c5d9cfe}</key>
		<dict>
			<key>x1</key>
			<string>155.183</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>155.183</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{084bc8be-aafc-4e59-99f2-d8777ac4e7e6}</key>
		<dict>
			<key>x1</key>
			<string>116.472</string>
			<key>y1</key>
			<string>555.155</string>
			<key>x2</key>
			<string>116.472</string>
			<key>y2</key>
			<string>539.344</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{4704ed4d-e09a-4a45-8af8-c73bf467eb87}</key>
		<dict>
			<key>x1</key>
			<string>77.7609</string>
			<key>y1</key>
			<string>557.635</string>
			<key>x2</key>
			<string>77.7609</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9366aba5-36cd-4334-aca0-06f02c2503d4}</key>
		<dict>
			<key>x1</key>
			<string>455.264</string>
			<key>y1</key>
			<string>458.592</string>
			<key>x2</key>
			<string>455.264</string>
			<key>y2</key>
			<string>443.232</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{22c39cc9-1a86-4885-b437-ca452df816d2}</key>
		<dict>
			<key>x1</key>
			<string>401.791</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>401.791</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f3863591-cae1-440c-a82c-30e6dd9bcebb}</key>
		<dict>
			<key>x1</key>
			<string>361.309</string>
			<key>y1</key>
			<string>455.325</string>
			<key>x2</key>
			<string>361.309</string>
			<key>y2</key>
			<string>470.516</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{7a6ce12e-50fa-4c26-9182-7a4cf2c7bb64}</key>
		<dict>
			<key>x1</key>
			<string>320.827</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>320.827</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{8db75014-8287-4ec7-aadd-ca5b8d70f56a}</key>
		<dict>
			<key>x1</key>
			<string>201</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>201</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c957ed67-b6a4-47ca-a357-c6f5732c1514}</key>
		<dict>
			<key>x1</key>
			<string>149.536</string>
			<key>y1</key>
			<string>403.239</string>
			<key>x2</key>
			<string>149.536</string>
			<key>y2</key>
			<string>418.429</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{dd3411ef-04cc-4076-9ca8-59acafddf6bb}</key>
		<dict>
			<key>x1</key>
			<string>116.592</string>
			<key>y1</key>
			<string>406.336</string>
			<key>x2</key>
			<string>116.592</string>
			<key>y2</key>
			<string>391.146</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{7aed9da5-be63-4109-8330-e91cf7a7d8bc}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>403.239</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>418.429</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{07fc949f-6e33-4c01-84dd-d351de5820a9}</key>
		<dict>
			<key>x1</key>
			<string>447.73</string>
			<key>y1</key>
			<string>308.833</string>
			<key>x2</key>
			<string>447.73</string>
			<key>y2</key>
			<string>324.177</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{eb3afa18-0208-429a-9c30-74685e282f78}</key>
		<dict>
			<key>x1</key>
			<string>447.73</string>
			<key>y1</key>
			<string>256.746</string>
			<key>x2</key>
			<string>447.73</string>
			<key>y2</key>
			<string>272.091</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{0f349874-8b7d-4878-bdea-72ec43f82168}</key>
		<dict>
			<key>x1</key>
			<string>400.979</string>
			<key>y1</key>
			<string>259.381</string>
			<key>x2</key>
			<string>400.979</string>
			<key>y2</key>
			<string>273.951</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{43ea85e7-6bb5-45a8-b6b4-dd817e0e0c60}</key>
		<dict>
			<key>x1</key>
			<string>366.862</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>366.862</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{3429de1d-cbb3-411b-b524-4f89f79784af}</key>
		<dict>
			<key>x1</key>
			<string>320.793</string>
			<key>y1</key>
			<string>306.353</string>
			<key>x2</key>
			<string>320.793</string>
			<key>y2</key>
			<string>322.317</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{ab510cda-d8dc-4db8-baa8-10cec417aa8a}</key>
		<dict>
			<key>x1</key>
			<string>326.858</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>326.858</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{897752d1-52c5-40cd-b9bd-7e9baf6ee81e}</key>
		<dict>
			<key>x1</key>
			<string>279.87</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>279.87</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{d15dc888-d61f-43e5-9c27-0ed3de93ca40}</key>
		<dict>
			<key>x1</key>
			<string>233.92</string>
			<key>y1</key>
			<string>259.381</string>
			<key>x2</key>
			<string>233.92</string>
			<key>y2</key>
			<string>273.951</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{6736dd42-6f4b-44ee-ac90-6b95db7523e5}</key>
		<dict>
			<key>x1</key>
			<string>193.857</string>
			<key>y1</key>
			<string>256.9</string>
			<key>x2</key>
			<string>193.857</string>
			<key>y2</key>
			<string>272.091</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{9cb3130e-636d-40e8-ab60-3762da12e9d9}</key>
		<dict>
			<key>x1</key>
			<string>148.699</string>
			<key>y1</key>
			<string>259.381</string>
			<key>x2</key>
			<string>148.699</string>
			<key>y2</key>
			<string>273.951</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{d9d64481-794f-4637-8da7-cb37dac5279c}</key>
		<dict>
			<key>x1</key>
			<string>116.173</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>116.173</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{78278194-ac06-428a-9156-4fd681521001}</key>
		<dict>
			<key>x1</key>
			<string>77.7609</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>77.7609</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{3537abe8-4e42-4a03-b56b-feba5b304bfb}</key>
		<dict>
			<key>x1</key>
			<string>448.758</string>
			<key>y1</key>
			<string>157.534</string>
			<key>x2</key>
			<string>448.758</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{2d2b6dc4-510e-4e65-8845-28548b70e8ee}</key>
		<dict>
			<key>x1</key>
			<string>402.291</string>
			<key>y1</key>
			<string>160.168</string>
			<key>x2</key>
			<string>402.291</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{6577c0d3-8759-4236-978a-161846f491ec}</key>
		<dict>
			<key>x1</key>
			<string>362.571</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>362.571</string>
			<key>y2</key>
			<string>177.839</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{a446192a-2568-44cf-a8ae-7488bf2637bc}</key>
		<dict>
			<key>x1</key>
			<string>322.851</string>
			<key>y1</key>
			<string>165.129</string>
			<key>x2</key>
			<string>322.851</string>
			<key>y2</key>
			<string>179.699</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{37b54f4c-235d-4575-b5dc-bbf5e19016b9}</key>
		<dict>
			<key>x1</key>
			<string>205.775</string>
			<key>y1</key>
			<string>160.014</string>
			<key>x2</key>
			<string>205.775</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{cdf5195c-2f93-448c-a502-f5f2106248fd}</key>
		<dict>
			<key>x1</key>
			<string>160.96</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>160.96</string>
			<key>y2</key>
			<string>177.839</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{0f626f4d-f862-402a-ba01-d29c4a105523}</key>
		<dict>
			<key>x1</key>
			<string>122.891</string>
			<key>y1</key>
			<string>165.129</string>
			<key>x2</key>
			<string>122.891</string>
			<key>y2</key>
			<string>179.699</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{3bddf3ae-d8dd-4a68-a906-98f0c4116ba1}</key>
		<dict>
			<key>x1</key>
			<string>90.7082</string>
			<key>y1</key>
			<string>165.745</string>
			<key>x2</key>
			<string>90.7082</string>
			<key>y2</key>
			<string>150.555</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
	</dict>
</dict>
</plist>