<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>63.9721</string>
			<key>y</key>
			<string>112.099</string>
			<key>bx</key>
			<string>63.9721</string>
			<key>by</key>
			<string>150.967</string>
			<key>spatium</key>
			<string>4.7622</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{a6f2886e-63dc-4f9e-98ee-2ef8f0c7d593}</key>
		<dict>
			<key>x</key>
			<string>500.59</string>
			<key>y</key>
			<string>183.532</string>
		</dict>
		<key>{e3493033-b0d7-4559-a3da-0546b1ec3022}</key>
		<dict>
			<key>x</key>
			<string>500.59</string>
			<key>y</key>
			<string>135.91</string>
		</dict>
		<key>{9bd9d488-5b51-43f8-b8e1-da26f6d732f1}</key>
		<dict>
			<key>x</key>
			<string>479.585</string>
			<key>y</key>
			<string>183.532</string>
		</dict>
		<key>{5977c083-de74-4c96-8f56-64348e6dccf6}</key>
		<dict>
			<key>x</key>
			<string>479.585</string>
			<key>y</key>
			<string>135.91</string>
		</dict>
		<key>{1714b3e5-13bd-4c8b-9337-1213d391080b}</key>
		<dict>
			<key>x</key>
			<string>465.056</string>
			<key>y</key>
			<string>178.77</string>
		</dict>
		<key>{645e6331-5f9a-410f-aadf-dcbdd79d1710}</key>
		<dict>
			<key>x</key>
			<string>465.056</string>
			<key>y</key>
			<string>131.148</string>
		</dict>
		<key>{6b6b5426-6b4e-4138-8faf-865a5d22505e}</key>
		<dict>
			<key>x</key>
			<string>450.528</string>
			<key>y</key>
			<string>174.008</string>
		</dict>
		<key>{fdc5c43d-10a0-4eb5-8ee6-f622c2dfced8}</key>
		<dict>
			<key>x</key>
			<string>450.528</string>
			<key>y</key>
			<string>126.386</string>
		</dict>
		<key>{ab2fd4c6-a182-473f-99b1-43534357d8f0}</key>
		<dict>
			<key>x</key>
			<string>436</string>
			<key>y</key>
			<string>178.77</string>
		</dict>
		<key>{4f7ddc42-0115-49d2-baaf-f514dd645d9c}</key>
		<dict>
			<key>x</key>
			<string>436</string>
			<key>y</key>
			<string>131.148</string>
		</dict>
		<key>{a525ad6a-50b4-4694-8f01-a2ef628a1a81}</key>
		<dict>
			<key>x</key>
			<string>421.471</string>
			<key>y</key>
			<string>174.008</string>
		</dict>
		<key>{7eaf809e-3912-4875-8d26-1f1da71a2fe5}</key>
		<dict>
			<key>x</key>
			<string>421.471</string>
			<key>y</key>
			<string>126.386</string>
		</dict>
		<key>{548aa040-2dc5-4b2b-9b04-2ffe75ae3a19}</key>
		<dict>
			<key>x</key>
			<string>406.943</string>
			<key>y</key>
			<string>166.865</string>
		</dict>
		<key>{48f84430-badb-4628-a63f-84e15b761a5a}</key>
		<dict>
			<key>x</key>
			<string>406.943</string>
			<key>y</key>
			<string>119.243</string>
		</dict>
		<key>{4a42c799-1305-4fe9-903d-88234e0f14e2}</key>
		<dict>
			<key>x</key>
			<string>383.398</string>
			<key>y</key>
			<string>174.008</string>
		</dict>
		<key>{c322bde7-8aaf-408a-be39-86a9fe63e9c9}</key>
		<dict>
			<key>x</key>
			<string>383.398</string>
			<key>y</key>
			<string>126.386</string>
		</dict>
		<key>{be5decec-16ec-430a-940f-95d9734ffdd7}</key>
		<dict>
			<key>x</key>
			<string>366.33</string>
			<key>y</key>
			<string>166.865</string>
		</dict>
		<key>{ac691383-c5ec-441a-a1be-7daed08c5d6b}</key>
		<dict>
			<key>x</key>
			<string>366.33</string>
			<key>y</key>
			<string>119.243</string>
		</dict>
		<key>{978049cd-0d0e-4f19-8207-2b07caef2369}</key>
		<dict>
			<key>x</key>
			<string>349.261</string>
			<key>y</key>
			<string>162.103</string>
		</dict>
		<key>{bf6a9912-e9ff-441a-939d-99c8083b9ca7}</key>
		<dict>
			<key>x</key>
			<string>349.261</string>
			<key>y</key>
			<string>114.48</string>
		</dict>
		<key>{9a003736-b6ad-4228-b9ed-607b6944f9f5}</key>
		<dict>
			<key>x</key>
			<string>332.193</string>
			<key>y</key>
			<string>166.865</string>
		</dict>
		<key>{dfd4dfdd-ec68-47cc-8723-1a9131327f9c}</key>
		<dict>
			<key>x</key>
			<string>332.193</string>
			<key>y</key>
			<string>119.243</string>
		</dict>
		<key>{23de1984-5e1e-4c5d-9d43-3f68192bdd4d}</key>
		<dict>
			<key>x</key>
			<string>315.125</string>
			<key>y</key>
			<string>162.103</string>
		</dict>
		<key>{a8fac573-d33f-4504-b450-fc43594dff07}</key>
		<dict>
			<key>x</key>
			<string>315.125</string>
			<key>y</key>
			<string>114.48</string>
		</dict>
		<key>{8754181d-df14-4e87-9e57-e04cf03d87b2}</key>
		<dict>
			<key>x</key>
			<string>298.057</string>
			<key>y</key>
			<string>157.34</string>
		</dict>
		<key>{0fed917a-55d1-4d40-b60a-8fc07a0eb36c}</key>
		<dict>
			<key>x</key>
			<string>298.057</string>
			<key>y</key>
			<string>109.718</string>
		</dict>
		<key>{ffd82cd5-cd03-41dd-aff1-c8a7c6e9af48}</key>
		<dict>
			<key>x</key>
			<string>274.512</string>
			<key>y</key>
			<string>157.34</string>
		</dict>
		<key>{37cfce3f-b5bd-461c-abe9-158090da3f61}</key>
		<dict>
			<key>x</key>
			<string>274.512</string>
			<key>y</key>
			<string>109.718</string>
		</dict>
		<key>{ea5a6fb2-c9fa-450b-bddf-a06250a31da3}</key>
		<dict>
			<key>x</key>
			<string>257.443</string>
			<key>y</key>
			<string>162.103</string>
		</dict>
		<key>{6962f257-999d-4d4b-802d-cc61177f8c3c}</key>
		<dict>
			<key>x</key>
			<string>257.443</string>
			<key>y</key>
			<string>114.48</string>
		</dict>
		<key>{b07b2fde-dd14-4142-b54f-841fca1db990}</key>
		<dict>
			<key>x</key>
			<string>240.375</string>
			<key>y</key>
			<string>166.865</string>
		</dict>
		<key>{fac341db-5cab-4161-be34-c3a0c7ef9d0f}</key>
		<dict>
			<key>x</key>
			<string>240.375</string>
			<key>y</key>
			<string>119.243</string>
		</dict>
		<key>{e714b0d4-556b-4aad-80cd-997b8dd1fc29}</key>
		<dict>
			<key>x</key>
			<string>223.307</string>
			<key>y</key>
			<string>162.103</string>
		</dict>
		<key>{e5739b4b-8001-4ed7-b941-d089e0001074}</key>
		<dict>
			<key>x</key>
			<string>223.307</string>
			<key>y</key>
			<string>114.48</string>
		</dict>
		<key>{eba37d46-596f-4406-b187-c7f00d3fe43a}</key>
		<dict>
			<key>x</key>
			<string>206.239</string>
			<key>y</key>
			<string>166.865</string>
		</dict>
		<key>{82546cb2-f2a8-4e7f-aac8-2b24a4b8f66f}</key>
		<dict>
			<key>x</key>
			<string>206.239</string>
			<key>y</key>
			<string>119.243</string>
		</dict>
		<key>{3a8f19eb-2486-4230-8163-d1af1fe7cbf8}</key>
		<dict>
			<key>x</key>
			<string>189.17</string>
			<key>y</key>
			<string>174.008</string>
		</dict>
		<key>{e2b9a32e-935c-4065-b36a-08ab1c8c66d6}</key>
		<dict>
			<key>x</key>
			<string>189.17</string>
			<key>y</key>
			<string>126.386</string>
		</dict>
		<key>{0855ad6f-a219-4c2f-9d5e-29956d8c177b}</key>
		<dict>
			<key>x</key>
			<string>168.953</string>
			<key>y</key>
			<string>166.865</string>
		</dict>
		<key>{99a8b04f-3bec-448e-8a29-31ef87ee016a}</key>
		<dict>
			<key>x</key>
			<string>168.953</string>
			<key>y</key>
			<string>119.243</string>
		</dict>
		<key>{bfcfd72a-ed0b-4e4b-914c-5413db72e6d3}</key>
		<dict>
			<key>x</key>
			<string>155.212</string>
			<key>y</key>
			<string>174.008</string>
		</dict>
		<key>{1fd11c75-faed-4ed3-bf23-cedc2e6fa0c3}</key>
		<dict>
			<key>x</key>
			<string>155.212</string>
			<key>y</key>
			<string>126.386</string>
		</dict>
		<key>{01cf0d41-a16d-4e10-bd5c-a2630e365443}</key>
		<dict>
			<key>x</key>
			<string>141.471</string>
			<key>y</key>
			<string>178.77</string>
		</dict>
		<key>{dda0a920-c894-40fa-a4f1-1dd030217818}</key>
		<dict>
			<key>x</key>
			<string>141.471</string>
			<key>y</key>
			<string>131.148</string>
		</dict>
		<key>{4f6002a1-4f8b-4a59-8348-972ef184f9d7}</key>
		<dict>
			<key>x</key>
			<string>127.731</string>
			<key>y</key>
			<string>174.008</string>
		</dict>
		<key>{0ae78e37-a658-4e37-87af-cda907885b01}</key>
		<dict>
			<key>x</key>
			<string>127.731</string>
			<key>y</key>
			<string>126.386</string>
		</dict>
		<key>{c791668f-4289-4628-97bf-10ab37a252fa}</key>
		<dict>
			<key>x</key>
			<string>113.99</string>
			<key>y</key>
			<string>178.77</string>
		</dict>
		<key>{99aa0858-f544-4243-96d9-f19b04cd6552}</key>
		<dict>
			<key>x</key>
			<string>113.99</string>
			<key>y</key>
			<string>131.148</string>
		</dict>
		<key>{b9cfa52d-4f0f-43bf-bcaa-72c83f6440ac}</key>
		<dict>
			<key>x</key>
			<string>100.249</string>
			<key>y</key>
			<string>183.532</string>
		</dict>
		<key>{5b24ce85-4530-4930-a783-7ec435259808}</key>
		<dict>
			<key>x</key>
			<string>100.249</string>
			<key>y</key>
			<string>135.91</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{a6f2886e-63dc-4f9e-98ee-2ef8f0c7d593}</key>
		<dict>
			<key>x1</key>
			<string>506.894</string>
			<key>y1</key>
			<string>182.801</string>
			<key>x2</key>
			<string>506.894</string>
			<key>y2</key>
			<string>168.055</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{e3493033-b0d7-4559-a3da-0546b1ec3022}</key>
		<dict>
			<key>x1</key>
			<string>506.894</string>
			<key>y1</key>
			<string>135.179</string>
			<key>x2</key>
			<string>506.894</string>
			<key>y2</key>
			<string>119.243</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{9bd9d488-5b51-43f8-b8e1-da26f6d732f1}</key>
		<dict>
			<key>x1</key>
			<string>479.894</string>
			<key>y1</key>
			<string>184.427</string>
			<key>x2</key>
			<string>479.894</string>
			<key>y2</key>
			<string>199.01</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{5977c083-de74-4c96-8f56-64348e6dccf6}</key>
		<dict>
			<key>x1</key>
			<string>485.545</string>
			<key>y1</key>
			<string>135.016</string>
			<key>x2</key>
			<string>485.545</string>
			<key>y2</key>
			<string>118.052</string>
			<key>height</key>
			<string>-17.8583</string>
		</dict>
		<key>{1714b3e5-13bd-4c8b-9337-1213d391080b}</key>
		<dict>
			<key>x1</key>
			<string>465.366</string>
			<key>y1</key>
			<string>179.665</string>
			<key>x2</key>
			<string>465.366</string>
			<key>y2</key>
			<string>196.033</string>
			<key>height</key>
			<string>17.263</string>
		</dict>
		<key>{645e6331-5f9a-410f-aadf-dcbdd79d1710}</key>
		<dict>
			<key>x1</key>
			<string>471.017</string>
			<key>y1</key>
			<string>130.254</string>
			<key>x2</key>
			<string>471.017</string>
			<key>y2</key>
			<string>115.076</string>
			<key>height</key>
			<string>-16.0724</string>
		</dict>
		<key>{6b6b5426-6b4e-4138-8faf-865a5d22505e}</key>
		<dict>
			<key>x1</key>
			<string>450.838</string>
			<key>y1</key>
			<string>174.902</string>
			<key>x2</key>
			<string>450.838</string>
			<key>y2</key>
			<string>193.057</string>
			<key>height</key>
			<string>19.0488</string>
		</dict>
		<key>{fdc5c43d-10a0-4eb5-8ee6-f622c2dfced8}</key>
		<dict>
			<key>x1</key>
			<string>456.488</string>
			<key>y1</key>
			<string>125.492</string>
			<key>x2</key>
			<string>456.488</string>
			<key>y2</key>
			<string>112.099</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{ab2fd4c6-a182-473f-99b1-43534357d8f0}</key>
		<dict>
			<key>x1</key>
			<string>436.309</string>
			<key>y1</key>
			<string>179.665</string>
			<key>x2</key>
			<string>436.309</string>
			<key>y2</key>
			<string>194.247</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{4f7ddc42-0115-49d2-baaf-f514dd645d9c}</key>
		<dict>
			<key>x1</key>
			<string>441.96</string>
			<key>y1</key>
			<string>130.254</string>
			<key>x2</key>
			<string>441.96</string>
			<key>y2</key>
			<string>112.099</string>
			<key>height</key>
			<string>-19.0488</string>
		</dict>
		<key>{a525ad6a-50b4-4694-8f01-a2ef628a1a81}</key>
		<dict>
			<key>x1</key>
			<string>421.781</string>
			<key>y1</key>
			<string>174.902</string>
			<key>x2</key>
			<string>421.781</string>
			<key>y2</key>
			<string>191.271</string>
			<key>height</key>
			<string>17.263</string>
		</dict>
		<key>{7eaf809e-3912-4875-8d26-1f1da71a2fe5}</key>
		<dict>
			<key>x1</key>
			<string>427.431</string>
			<key>y1</key>
			<string>125.492</string>
			<key>x2</key>
			<string>427.431</string>
			<key>y2</key>
			<string>109.123</string>
			<key>height</key>
			<string>-17.263</string>
		</dict>
		<key>{548aa040-2dc5-4b2b-9b04-2ffe75ae3a19}</key>
		<dict>
			<key>x1</key>
			<string>407.252</string>
			<key>y1</key>
			<string>167.759</string>
			<key>x2</key>
			<string>407.252</string>
			<key>y2</key>
			<string>188.295</string>
			<key>height</key>
			<string>21.4299</string>
		</dict>
		<key>{48f84430-badb-4628-a63f-84e15b761a5a}</key>
		<dict>
			<key>x1</key>
			<string>412.903</string>
			<key>y1</key>
			<string>118.348</string>
			<key>x2</key>
			<string>412.903</string>
			<key>y2</key>
			<string>106.147</string>
			<key>height</key>
			<string>-13.0961</string>
		</dict>
		<key>{4a42c799-1305-4fe9-903d-88234e0f14e2}</key>
		<dict>
			<key>x1</key>
			<string>383.707</string>
			<key>y1</key>
			<string>174.902</string>
			<key>x2</key>
			<string>383.707</string>
			<key>y2</key>
			<string>189.485</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{c322bde7-8aaf-408a-be39-86a9fe63e9c9}</key>
		<dict>
			<key>x1</key>
			<string>383.707</string>
			<key>y1</key>
			<string>127.28</string>
			<key>x2</key>
			<string>383.707</string>
			<key>y2</key>
			<string>140.673</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{be5decec-16ec-430a-940f-95d9734ffdd7}</key>
		<dict>
			<key>x1</key>
			<string>366.639</string>
			<key>y1</key>
			<string>167.759</string>
			<key>x2</key>
			<string>366.639</string>
			<key>y2</key>
			<string>186.509</string>
			<key>height</key>
			<string>19.6441</string>
		</dict>
		<key>{ac691383-c5ec-441a-a1be-7daed08c5d6b}</key>
		<dict>
			<key>x1</key>
			<string>366.639</string>
			<key>y1</key>
			<string>120.137</string>
			<key>x2</key>
			<string>366.639</string>
			<key>y2</key>
			<string>137.696</string>
			<key>height</key>
			<string>18.4535</string>
		</dict>
		<key>{978049cd-0d0e-4f19-8207-2b07caef2369}</key>
		<dict>
			<key>x1</key>
			<string>349.571</string>
			<key>y1</key>
			<string>162.997</string>
			<key>x2</key>
			<string>349.571</string>
			<key>y2</key>
			<string>183.532</string>
			<key>height</key>
			<string>21.4299</string>
		</dict>
		<key>{bf6a9912-e9ff-441a-939d-99c8083b9ca7}</key>
		<dict>
			<key>x1</key>
			<string>349.571</string>
			<key>y1</key>
			<string>115.375</string>
			<key>x2</key>
			<string>349.571</string>
			<key>y2</key>
			<string>134.72</string>
			<key>height</key>
			<string>20.2394</string>
		</dict>
		<key>{9a003736-b6ad-4228-b9ed-607b6944f9f5}</key>
		<dict>
			<key>x1</key>
			<string>332.503</string>
			<key>y1</key>
			<string>167.759</string>
			<key>x2</key>
			<string>332.503</string>
			<key>y2</key>
			<string>179.961</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{dfd4dfdd-ec68-47cc-8723-1a9131327f9c}</key>
		<dict>
			<key>x1</key>
			<string>332.503</string>
			<key>y1</key>
			<string>120.137</string>
			<key>x2</key>
			<string>332.503</string>
			<key>y2</key>
			<string>134.72</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{23de1984-5e1e-4c5d-9d43-3f68192bdd4d}</key>
		<dict>
			<key>x1</key>
			<string>315.434</string>
			<key>y1</key>
			<string>162.997</string>
			<key>x2</key>
			<string>315.434</string>
			<key>y2</key>
			<string>178.77</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{a8fac573-d33f-4504-b450-fc43594dff07}</key>
		<dict>
			<key>x1</key>
			<string>315.434</string>
			<key>y1</key>
			<string>115.375</string>
			<key>x2</key>
			<string>315.434</string>
			<key>y2</key>
			<string>131.743</string>
			<key>height</key>
			<string>17.263</string>
		</dict>
		<key>{8754181d-df14-4e87-9e57-e04cf03d87b2}</key>
		<dict>
			<key>x1</key>
			<string>298.366</string>
			<key>y1</key>
			<string>158.235</string>
			<key>x2</key>
			<string>298.366</string>
			<key>y2</key>
			<string>177.58</string>
			<key>height</key>
			<string>20.2394</string>
		</dict>
		<key>{0fed917a-55d1-4d40-b60a-8fc07a0eb36c}</key>
		<dict>
			<key>x1</key>
			<string>298.366</string>
			<key>y1</key>
			<string>110.613</string>
			<key>x2</key>
			<string>298.366</string>
			<key>y2</key>
			<string>128.767</string>
			<key>height</key>
			<string>19.0488</string>
		</dict>
		<key>{ffd82cd5-cd03-41dd-aff1-c8a7c6e9af48}</key>
		<dict>
			<key>x1</key>
			<string>274.821</string>
			<key>y1</key>
			<string>158.235</string>
			<key>x2</key>
			<string>274.821</string>
			<key>y2</key>
			<string>177.58</string>
			<key>height</key>
			<string>20.2394</string>
		</dict>
		<key>{37cfce3f-b5bd-461c-abe9-158090da3f61}</key>
		<dict>
			<key>x1</key>
			<string>274.821</string>
			<key>y1</key>
			<string>110.613</string>
			<key>x2</key>
			<string>274.821</string>
			<key>y2</key>
			<string>126.386</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{ea5a6fb2-c9fa-450b-bddf-a06250a31da3}</key>
		<dict>
			<key>x1</key>
			<string>257.753</string>
			<key>y1</key>
			<string>162.997</string>
			<key>x2</key>
			<string>257.753</string>
			<key>y2</key>
			<string>178.77</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{6962f257-999d-4d4b-802d-cc61177f8c3c}</key>
		<dict>
			<key>x1</key>
			<string>257.753</string>
			<key>y1</key>
			<string>115.375</string>
			<key>x2</key>
			<string>257.753</string>
			<key>y2</key>
			<string>129.362</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{b07b2fde-dd14-4142-b54f-841fca1db990}</key>
		<dict>
			<key>x1</key>
			<string>240.685</string>
			<key>y1</key>
			<string>167.759</string>
			<key>x2</key>
			<string>240.685</string>
			<key>y2</key>
			<string>179.961</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{fac341db-5cab-4161-be34-c3a0c7ef9d0f}</key>
		<dict>
			<key>x1</key>
			<string>240.685</string>
			<key>y1</key>
			<string>120.137</string>
			<key>x2</key>
			<string>240.685</string>
			<key>y2</key>
			<string>132.339</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{e714b0d4-556b-4aad-80cd-997b8dd1fc29}</key>
		<dict>
			<key>x1</key>
			<string>223.616</string>
			<key>y1</key>
			<string>162.997</string>
			<key>x2</key>
			<string>223.616</string>
			<key>y2</key>
			<string>181.151</string>
			<key>height</key>
			<string>19.0488</string>
		</dict>
		<key>{e5739b4b-8001-4ed7-b941-d089e0001074}</key>
		<dict>
			<key>x1</key>
			<string>223.616</string>
			<key>y1</key>
			<string>115.375</string>
			<key>x2</key>
			<string>223.616</string>
			<key>y2</key>
			<string>132.339</string>
			<key>height</key>
			<string>17.8583</string>
		</dict>
		<key>{eba37d46-596f-4406-b187-c7f00d3fe43a}</key>
		<dict>
			<key>x1</key>
			<string>206.548</string>
			<key>y1</key>
			<string>167.759</string>
			<key>x2</key>
			<string>206.548</string>
			<key>y2</key>
			<string>184.128</string>
			<key>height</key>
			<string>17.263</string>
		</dict>
		<key>{82546cb2-f2a8-4e7f-aac8-2b24a4b8f66f}</key>
		<dict>
			<key>x1</key>
			<string>206.548</string>
			<key>y1</key>
			<string>120.137</string>
			<key>x2</key>
			<string>206.548</string>
			<key>y2</key>
			<string>135.91</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{3a8f19eb-2486-4230-8163-d1af1fe7cbf8}</key>
		<dict>
			<key>x1</key>
			<string>189.48</string>
			<key>y1</key>
			<string>174.902</string>
			<key>x2</key>
			<string>189.48</string>
			<key>y2</key>
			<string>187.104</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{e2b9a32e-935c-4065-b36a-08ab1c8c66d6}</key>
		<dict>
			<key>x1</key>
			<string>189.48</string>
			<key>y1</key>
			<string>127.28</string>
			<key>x2</key>
			<string>189.48</string>
			<key>y2</key>
			<string>139.482</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{0855ad6f-a219-4c2f-9d5e-29956d8c177b}</key>
		<dict>
			<key>x1</key>
			<string>169.263</string>
			<key>y1</key>
			<string>167.759</string>
			<key>x2</key>
			<string>169.263</string>
			<key>y2</key>
			<string>185.914</string>
			<key>height</key>
			<string>19.0488</string>
		</dict>
		<key>{99a8b04f-3bec-448e-8a29-31ef87ee016a}</key>
		<dict>
			<key>x1</key>
			<string>174.913</string>
			<key>y1</key>
			<string>118.348</string>
			<key>x2</key>
			<string>174.913</string>
			<key>y2</key>
			<string>106.147</string>
			<key>height</key>
			<string>-13.0961</string>
		</dict>
		<key>{bfcfd72a-ed0b-4e4b-914c-5413db72e6d3}</key>
		<dict>
			<key>x1</key>
			<string>155.522</string>
			<key>y1</key>
			<string>174.902</string>
			<key>x2</key>
			<string>155.522</string>
			<key>y2</key>
			<string>188.89</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{1fd11c75-faed-4ed3-bf23-cedc2e6fa0c3}</key>
		<dict>
			<key>x1</key>
			<string>161.172</string>
			<key>y1</key>
			<string>125.492</string>
			<key>x2</key>
			<string>161.172</string>
			<key>y2</key>
			<string>109.123</string>
			<key>height</key>
			<string>-17.263</string>
		</dict>
		<key>{01cf0d41-a16d-4e10-bd5c-a2630e365443}</key>
		<dict>
			<key>x1</key>
			<string>141.781</string>
			<key>y1</key>
			<string>179.665</string>
			<key>x2</key>
			<string>141.781</string>
			<key>y2</key>
			<string>191.866</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{dda0a920-c894-40fa-a4f1-1dd030217818}</key>
		<dict>
			<key>x1</key>
			<string>147.432</string>
			<key>y1</key>
			<string>130.254</string>
			<key>x2</key>
			<string>147.432</string>
			<key>y2</key>
			<string>112.099</string>
			<key>height</key>
			<string>-19.0488</string>
		</dict>
		<key>{4f6002a1-4f8b-4a59-8348-972ef184f9d7}</key>
		<dict>
			<key>x1</key>
			<string>128.04</string>
			<key>y1</key>
			<string>174.902</string>
			<key>x2</key>
			<string>128.04</string>
			<key>y2</key>
			<string>190.676</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{0ae78e37-a658-4e37-87af-cda907885b01}</key>
		<dict>
			<key>x1</key>
			<string>133.691</string>
			<key>y1</key>
			<string>125.492</string>
			<key>x2</key>
			<string>133.691</string>
			<key>y2</key>
			<string>112.099</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{c791668f-4289-4628-97bf-10ab37a252fa}</key>
		<dict>
			<key>x1</key>
			<string>114.299</string>
			<key>y1</key>
			<string>179.665</string>
			<key>x2</key>
			<string>114.299</string>
			<key>y2</key>
			<string>193.652</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{99aa0858-f544-4243-96d9-f19b04cd6552}</key>
		<dict>
			<key>x1</key>
			<string>119.95</string>
			<key>y1</key>
			<string>130.254</string>
			<key>x2</key>
			<string>119.95</string>
			<key>y2</key>
			<string>115.076</string>
			<key>height</key>
			<string>-16.0724</string>
		</dict>
		<key>{b9cfa52d-4f0f-43bf-bcaa-72c83f6440ac}</key>
		<dict>
			<key>x1</key>
			<string>100.559</string>
			<key>y1</key>
			<string>184.427</string>
			<key>x2</key>
			<string>100.559</string>
			<key>y2</key>
			<string>196.629</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{5b24ce85-4530-4930-a783-7ec435259808}</key>
		<dict>
			<key>x1</key>
			<string>106.209</string>
			<key>y1</key>
			<string>135.016</string>
			<key>x2</key>
			<string>106.209</string>
			<key>y2</key>
			<string>118.052</string>
			<key>height</key>
			<string>-17.8583</string>
		</dict>
	</dict>
</dict>
</plist>