<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>63.9721</string>
			<key>y</key>
			<string>105.349</string>
			<key>bx</key>
			<string>63.9721</string>
			<key>by</key>
			<string>144.217</string>
			<key>spatium</key>
			<string>4.7622</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{4b04388f-84a8-4889-8651-df148aded6f4}</key>
		<dict>
			<key>x</key>
			<string>500.091</string>
			<key>y</key>
			<string>172.02</string>
		</dict>
		<key>{5ebfd1e2-295b-4066-8f38-e8a62a070e85}</key>
		<dict>
			<key>x</key>
			<string>500.091</string>
			<key>y</key>
			<string>124.398</string>
		</dict>
		<key>{351a6d3a-2a51-42ac-b66a-33718e2290f9}</key>
		<dict>
			<key>x</key>
			<string>479.669</string>
			<key>y</key>
			<string>172.02</string>
		</dict>
		<key>{e34940ac-503b-4f33-b655-b5ece03bdba2}</key>
		<dict>
			<key>x</key>
			<string>479.669</string>
			<key>y</key>
			<string>124.398</string>
		</dict>
		<key>{b8ae4bda-2548-4e48-9d72-1173a5306037}</key>
		<dict>
			<key>x</key>
			<string>465.724</string>
			<key>y</key>
			<string>167.258</string>
		</dict>
		<key>{586749bc-af54-45db-98f4-dd05cccb3ada}</key>
		<dict>
			<key>x</key>
			<string>465.724</string>
			<key>y</key>
			<string>119.636</string>
		</dict>
		<key>{ff21f2fa-9948-4a1c-89e2-21b122eb2331}</key>
		<dict>
			<key>x</key>
			<string>451.779</string>
			<key>y</key>
			<string>162.496</string>
		</dict>
		<key>{9421e6fb-f18b-4fe9-9f66-2f2fb7e7a40e}</key>
		<dict>
			<key>x</key>
			<string>451.779</string>
			<key>y</key>
			<string>114.874</string>
		</dict>
		<key>{1975a535-12a1-40da-a32b-ac9f554cf8b4}</key>
		<dict>
			<key>x</key>
			<string>437.834</string>
			<key>y</key>
			<string>167.258</string>
		</dict>
		<key>{7cfc256e-a432-4c01-bb61-b64b0d1c901c}</key>
		<dict>
			<key>x</key>
			<string>437.834</string>
			<key>y</key>
			<string>119.636</string>
		</dict>
		<key>{b565caf9-5e08-46a3-9c8f-2a7d72ee4559}</key>
		<dict>
			<key>x</key>
			<string>423.889</string>
			<key>y</key>
			<string>162.496</string>
		</dict>
		<key>{97da5942-f576-44b3-972f-105d0469ab4f}</key>
		<dict>
			<key>x</key>
			<string>423.889</string>
			<key>y</key>
			<string>114.874</string>
		</dict>
		<key>{c1a17f5c-ea4d-4d97-ad5d-f71beaba1a18}</key>
		<dict>
			<key>x</key>
			<string>409.944</string>
			<key>y</key>
			<string>155.353</string>
		</dict>
		<key>{3cc466f8-c2e5-4bef-87b5-055799698156}</key>
		<dict>
			<key>x</key>
			<string>409.944</string>
			<key>y</key>
			<string>107.731</string>
		</dict>
		<key>{cf497556-9a99-4a58-a08b-6e8023eda39f}</key>
		<dict>
			<key>x</key>
			<string>373.378</string>
			<key>y</key>
			<string>191.069</string>
		</dict>
		<key>{ac403331-b8c5-4387-b2f5-5bf76d1dfdc5}</key>
		<dict>
			<key>x</key>
			<string>373.378</string>
			<key>y</key>
			<string>114.874</string>
		</dict>
		<key>{26cb8b3f-71ea-450e-aaa9-c8ba825e7b3c}</key>
		<dict>
			<key>x</key>
			<string>358.766</string>
			<key>y</key>
			<string>183.926</string>
		</dict>
		<key>{50442698-80c6-43f5-a491-78b356975271}</key>
		<dict>
			<key>x</key>
			<string>358.766</string>
			<key>y</key>
			<string>107.731</string>
		</dict>
		<key>{505df040-2c23-4322-8f50-055028f5270f}</key>
		<dict>
			<key>x</key>
			<string>344.155</string>
			<key>y</key>
			<string>179.164</string>
		</dict>
		<key>{2525f65a-a6e4-4448-ba64-a377513ed5e5}</key>
		<dict>
			<key>x</key>
			<string>344.155</string>
			<key>y</key>
			<string>102.968</string>
		</dict>
		<key>{58342e40-dd9e-4ad3-802b-6d254c1e384f}</key>
		<dict>
			<key>x</key>
			<string>329.543</string>
			<key>y</key>
			<string>183.926</string>
		</dict>
		<key>{b9ae24ec-c5a3-4ede-9827-1d48a6129859}</key>
		<dict>
			<key>x</key>
			<string>329.543</string>
			<key>y</key>
			<string>107.731</string>
		</dict>
		<key>{a030dc74-faaf-4b6b-a2a3-67ad24f27596}</key>
		<dict>
			<key>x</key>
			<string>314.931</string>
			<key>y</key>
			<string>179.164</string>
		</dict>
		<key>{02efc05b-9930-4478-aa55-1fe718611af1}</key>
		<dict>
			<key>x</key>
			<string>314.931</string>
			<key>y</key>
			<string>102.968</string>
		</dict>
		<key>{1479c7ba-ce23-4e98-954e-a236f19a95a5}</key>
		<dict>
			<key>x</key>
			<string>300.32</string>
			<key>y</key>
			<string>174.401</string>
		</dict>
		<key>{e16899e0-88b3-4731-906e-f0aee95a0fd4}</key>
		<dict>
			<key>x</key>
			<string>300.32</string>
			<key>y</key>
			<string>98.2061</string>
		</dict>
		<key>{fde8d9ea-b34e-436c-9cee-4aede33bec96}</key>
		<dict>
			<key>x</key>
			<string>279.898</string>
			<key>y</key>
			<string>174.401</string>
		</dict>
		<key>{3573f9f3-259b-4eb8-92be-76539c660376}</key>
		<dict>
			<key>x</key>
			<string>279.898</string>
			<key>y</key>
			<string>98.2061</string>
		</dict>
		<key>{5f61921e-50b6-46c1-817c-11db71bc1920}</key>
		<dict>
			<key>x</key>
			<string>265.953</string>
			<key>y</key>
			<string>179.164</string>
		</dict>
		<key>{03032ae3-e900-4bd4-882f-ac5c094d0319}</key>
		<dict>
			<key>x</key>
			<string>265.953</string>
			<key>y</key>
			<string>102.968</string>
		</dict>
		<key>{3cbdf695-0215-4815-92d7-d0ed0745d1c3}</key>
		<dict>
			<key>x</key>
			<string>252.008</string>
			<key>y</key>
			<string>183.926</string>
		</dict>
		<key>{4e043613-f0bb-4a16-a171-906e62834644}</key>
		<dict>
			<key>x</key>
			<string>252.008</string>
			<key>y</key>
			<string>107.731</string>
		</dict>
		<key>{7ff49f35-ee00-4c7e-8ac8-28b404144ee9}</key>
		<dict>
			<key>x</key>
			<string>238.063</string>
			<key>y</key>
			<string>179.164</string>
		</dict>
		<key>{70fbe154-85b7-4ad9-a48d-e1448d2d1602}</key>
		<dict>
			<key>x</key>
			<string>238.063</string>
			<key>y</key>
			<string>102.968</string>
		</dict>
		<key>{e33d2a78-32d2-4fdf-a8b0-bcf07bafeb28}</key>
		<dict>
			<key>x</key>
			<string>224.118</string>
			<key>y</key>
			<string>183.926</string>
		</dict>
		<key>{542af984-87fe-4a4b-a6ad-4d8fb4471a9d}</key>
		<dict>
			<key>x</key>
			<string>224.118</string>
			<key>y</key>
			<string>107.731</string>
		</dict>
		<key>{ecbcf865-1c6b-420b-9efc-322409fec1c9}</key>
		<dict>
			<key>x</key>
			<string>210.174</string>
			<key>y</key>
			<string>191.069</string>
		</dict>
		<key>{069c90b4-d8c8-4245-900b-5459ce88cfec}</key>
		<dict>
			<key>x</key>
			<string>210.174</string>
			<key>y</key>
			<string>114.874</string>
		</dict>
		<key>{9c85f165-0933-4552-977f-7a9de5809396}</key>
		<dict>
			<key>x</key>
			<string>174.615</string>
			<key>y</key>
			<string>155.353</string>
		</dict>
		<key>{eab19aa5-51a5-4eac-8073-ae6a13032c42}</key>
		<dict>
			<key>x</key>
			<string>174.615</string>
			<key>y</key>
			<string>107.731</string>
		</dict>
		<key>{06158bff-c229-426a-8005-97ba816ca87b}</key>
		<dict>
			<key>x</key>
			<string>160.791</string>
			<key>y</key>
			<string>162.496</string>
		</dict>
		<key>{c01e2667-2cc7-40b1-9902-c48f8f7d8459}</key>
		<dict>
			<key>x</key>
			<string>160.791</string>
			<key>y</key>
			<string>114.874</string>
		</dict>
		<key>{c0e9c59b-5a27-4865-a74a-af32ef9f5995}</key>
		<dict>
			<key>x</key>
			<string>146.967</string>
			<key>y</key>
			<string>167.258</string>
		</dict>
		<key>{e3c13296-4627-4f7a-8549-1d80dc7fbe5f}</key>
		<dict>
			<key>x</key>
			<string>146.967</string>
			<key>y</key>
			<string>119.636</string>
		</dict>
		<key>{1d17ee7b-a7fb-4ba0-91f9-aa295bf7e4a0}</key>
		<dict>
			<key>x</key>
			<string>133.143</string>
			<key>y</key>
			<string>162.496</string>
		</dict>
		<key>{e384ec5e-7511-41e8-ae77-5a75b358f419}</key>
		<dict>
			<key>x</key>
			<string>133.143</string>
			<key>y</key>
			<string>114.874</string>
		</dict>
		<key>{1e7459f8-555f-4a0c-b188-8fcb5c536c0f}</key>
		<dict>
			<key>x</key>
			<string>119.319</string>
			<key>y</key>
			<string>167.258</string>
		</dict>
		<key>{c645ae12-7de2-419a-a7bd-bf0233e710ac}</key>
		<dict>
			<key>x</key>
			<string>119.319</string>
			<key>y</key>
			<string>119.636</string>
		</dict>
		<key>{b38d16b1-1532-4c60-8bca-0252b1bd5576}</key>
		<dict>
			<key>x</key>
			<string>105.495</string>
			<key>y</key>
			<string>172.02</string>
		</dict>
		<key>{50aa6bc7-b3aa-4c10-9093-14d645642f74}</key>
		<dict>
			<key>x</key>
			<string>105.495</string>
			<key>y</key>
			<string>124.398</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{4b04388f-84a8-4889-8651-df148aded6f4}</key>
		<dict>
			<key>x1</key>
			<string>500.4</string>
			<key>y1</key>
			<string>172.767</string>
			<key>x2</key>
			<string>500.4</string>
			<key>y2</key>
			<string>187.497</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{5ebfd1e2-295b-4066-8f38-e8a62a070e85}</key>
		<dict>
			<key>x1</key>
			<string>506.395</string>
			<key>y1</key>
			<string>123.667</string>
			<key>x2</key>
			<string>506.395</string>
			<key>y2</key>
			<string>107.731</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{351a6d3a-2a51-42ac-b66a-33718e2290f9}</key>
		<dict>
			<key>x1</key>
			<string>479.979</string>
			<key>y1</key>
			<string>172.915</string>
			<key>x2</key>
			<string>479.979</string>
			<key>y2</key>
			<string>187.497</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{e34940ac-503b-4f33-b655-b5ece03bdba2}</key>
		<dict>
			<key>x1</key>
			<string>485.629</string>
			<key>y1</key>
			<string>123.504</string>
			<key>x2</key>
			<string>485.629</string>
			<key>y2</key>
			<string>106.54</string>
			<key>height</key>
			<string>-17.8583</string>
		</dict>
		<key>{b8ae4bda-2548-4e48-9d72-1173a5306037}</key>
		<dict>
			<key>x1</key>
			<string>466.034</string>
			<key>y1</key>
			<string>168.152</string>
			<key>x2</key>
			<string>466.034</string>
			<key>y2</key>
			<string>184.521</string>
			<key>height</key>
			<string>17.263</string>
		</dict>
		<key>{586749bc-af54-45db-98f4-dd05cccb3ada}</key>
		<dict>
			<key>x1</key>
			<string>471.684</string>
			<key>y1</key>
			<string>118.742</string>
			<key>x2</key>
			<string>471.684</string>
			<key>y2</key>
			<string>103.564</string>
			<key>height</key>
			<string>-16.0724</string>
		</dict>
		<key>{ff21f2fa-9948-4a1c-89e2-21b122eb2331}</key>
		<dict>
			<key>x1</key>
			<string>452.089</string>
			<key>y1</key>
			<string>163.39</string>
			<key>x2</key>
			<string>452.089</string>
			<key>y2</key>
			<string>181.545</string>
			<key>height</key>
			<string>19.0488</string>
		</dict>
		<key>{9421e6fb-f18b-4fe9-9f66-2f2fb7e7a40e}</key>
		<dict>
			<key>x1</key>
			<string>457.739</string>
			<key>y1</key>
			<string>113.979</string>
			<key>x2</key>
			<string>457.739</string>
			<key>y2</key>
			<string>100.587</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{1975a535-12a1-40da-a32b-ac9f554cf8b4}</key>
		<dict>
			<key>x1</key>
			<string>438.144</string>
			<key>y1</key>
			<string>168.152</string>
			<key>x2</key>
			<string>438.144</string>
			<key>y2</key>
			<string>182.735</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{7cfc256e-a432-4c01-bb61-b64b0d1c901c}</key>
		<dict>
			<key>x1</key>
			<string>443.794</string>
			<key>y1</key>
			<string>118.742</string>
			<key>x2</key>
			<string>443.794</string>
			<key>y2</key>
			<string>99.3967</string>
			<key>height</key>
			<string>-20.2394</string>
		</dict>
		<key>{b565caf9-5e08-46a3-9c8f-2a7d72ee4559}</key>
		<dict>
			<key>x1</key>
			<string>424.199</string>
			<key>y1</key>
			<string>163.39</string>
			<key>x2</key>
			<string>424.199</string>
			<key>y2</key>
			<string>179.759</string>
			<key>height</key>
			<string>17.263</string>
		</dict>
		<key>{97da5942-f576-44b3-972f-105d0469ab4f}</key>
		<dict>
			<key>x1</key>
			<string>429.85</string>
			<key>y1</key>
			<string>113.979</string>
			<key>x2</key>
			<string>429.85</string>
			<key>y2</key>
			<string>95.825</string>
			<key>height</key>
			<string>-19.0488</string>
		</dict>
		<key>{c1a17f5c-ea4d-4d97-ad5d-f71beaba1a18}</key>
		<dict>
			<key>x1</key>
			<string>410.254</string>
			<key>y1</key>
			<string>156.247</string>
			<key>x2</key>
			<string>410.254</string>
			<key>y2</key>
			<string>176.782</string>
			<key>height</key>
			<string>21.4299</string>
		</dict>
		<key>{3cc466f8-c2e5-4bef-87b5-055799698156}</key>
		<dict>
			<key>x1</key>
			<string>415.905</string>
			<key>y1</key>
			<string>106.836</string>
			<key>x2</key>
			<string>415.905</string>
			<key>y2</key>
			<string>92.2534</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{cf497556-9a99-4a58-a08b-6e8023eda39f}</key>
		<dict>
			<key>x1</key>
			<string>379.338</string>
			<key>y1</key>
			<string>190.175</string>
			<key>x2</key>
			<string>379.338</string>
			<key>y2</key>
			<string>169.639</string>
			<key>height</key>
			<string>-21.4299</string>
		</dict>
		<key>{ac403331-b8c5-4387-b2f5-5bf76d1dfdc5}</key>
		<dict>
			<key>x1</key>
			<string>373.687</string>
			<key>y1</key>
			<string>115.768</string>
			<key>x2</key>
			<string>373.687</string>
			<key>y2</key>
			<string>127.97</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{26cb8b3f-71ea-450e-aaa9-c8ba825e7b3c}</key>
		<dict>
			<key>x1</key>
			<string>364.726</string>
			<key>y1</key>
			<string>183.031</string>
			<key>x2</key>
			<string>364.726</string>
			<key>y2</key>
			<string>167.258</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{50442698-80c6-43f5-a491-78b356975271}</key>
		<dict>
			<key>x1</key>
			<string>359.076</string>
			<key>y1</key>
			<string>108.625</string>
			<key>x2</key>
			<string>359.076</string>
			<key>y2</key>
			<string>124.398</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{505df040-2c23-4322-8f50-055028f5270f}</key>
		<dict>
			<key>x1</key>
			<string>350.115</string>
			<key>y1</key>
			<string>178.269</string>
			<key>x2</key>
			<string>350.115</string>
			<key>y2</key>
			<string>164.877</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{2525f65a-a6e4-4448-ba64-a377513ed5e5}</key>
		<dict>
			<key>x1</key>
			<string>344.464</string>
			<key>y1</key>
			<string>103.863</string>
			<key>x2</key>
			<string>344.464</string>
			<key>y2</key>
			<string>120.827</string>
			<key>height</key>
			<string>17.8583</string>
		</dict>
		<key>{58342e40-dd9e-4ad3-802b-6d254c1e384f}</key>
		<dict>
			<key>x1</key>
			<string>335.503</string>
			<key>y1</key>
			<string>183.031</string>
			<key>x2</key>
			<string>335.503</string>
			<key>y2</key>
			<string>166.068</string>
			<key>height</key>
			<string>-17.8583</string>
		</dict>
		<key>{b9ae24ec-c5a3-4ede-9827-1d48a6129859}</key>
		<dict>
			<key>x1</key>
			<string>329.853</string>
			<key>y1</key>
			<string>108.625</string>
			<key>x2</key>
			<string>329.853</string>
			<key>y2</key>
			<string>123.208</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{a030dc74-faaf-4b6b-a2a3-67ad24f27596}</key>
		<dict>
			<key>x1</key>
			<string>320.892</string>
			<key>y1</key>
			<string>178.269</string>
			<key>x2</key>
			<string>320.892</string>
			<key>y2</key>
			<string>163.091</string>
			<key>height</key>
			<string>-16.0724</string>
		</dict>
		<key>{02efc05b-9930-4478-aa55-1fe718611af1}</key>
		<dict>
			<key>x1</key>
			<string>315.241</string>
			<key>y1</key>
			<string>103.863</string>
			<key>x2</key>
			<string>315.241</string>
			<key>y2</key>
			<string>120.231</string>
			<key>height</key>
			<string>17.263</string>
		</dict>
		<key>{1479c7ba-ce23-4e98-954e-a236f19a95a5}</key>
		<dict>
			<key>x1</key>
			<string>306.28</string>
			<key>y1</key>
			<string>173.507</string>
			<key>x2</key>
			<string>306.28</string>
			<key>y2</key>
			<string>160.115</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{e16899e0-88b3-4731-906e-f0aee95a0fd4}</key>
		<dict>
			<key>x1</key>
			<string>300.629</string>
			<key>y1</key>
			<string>99.1005</string>
			<key>x2</key>
			<string>300.629</string>
			<key>y2</key>
			<string>117.255</string>
			<key>height</key>
			<string>19.0488</string>
		</dict>
		<key>{fde8d9ea-b34e-436c-9cee-4aede33bec96}</key>
		<dict>
			<key>x1</key>
			<string>285.858</string>
			<key>y1</key>
			<string>173.507</string>
			<key>x2</key>
			<string>285.858</string>
			<key>y2</key>
			<string>160.115</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{3573f9f3-259b-4eb8-92be-76539c660376}</key>
		<dict>
			<key>x1</key>
			<string>280.208</string>
			<key>y1</key>
			<string>99.1005</string>
			<key>x2</key>
			<string>280.208</string>
			<key>y2</key>
			<string>114.874</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{5f61921e-50b6-46c1-817c-11db71bc1920}</key>
		<dict>
			<key>x1</key>
			<string>271.913</string>
			<key>y1</key>
			<string>178.269</string>
			<key>x2</key>
			<string>271.913</string>
			<key>y2</key>
			<string>163.091</string>
			<key>height</key>
			<string>-16.0724</string>
		</dict>
		<key>{03032ae3-e900-4bd4-882f-ac5c094d0319}</key>
		<dict>
			<key>x1</key>
			<string>266.263</string>
			<key>y1</key>
			<string>103.863</string>
			<key>x2</key>
			<string>266.263</string>
			<key>y2</key>
			<string>117.85</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{3cbdf695-0215-4815-92d7-d0ed0745d1c3}</key>
		<dict>
			<key>x1</key>
			<string>257.969</string>
			<key>y1</key>
			<string>183.031</string>
			<key>x2</key>
			<string>257.969</string>
			<key>y2</key>
			<string>166.068</string>
			<key>height</key>
			<string>-17.8583</string>
		</dict>
		<key>{4e043613-f0bb-4a16-a171-906e62834644}</key>
		<dict>
			<key>x1</key>
			<string>252.318</string>
			<key>y1</key>
			<string>108.625</string>
			<key>x2</key>
			<string>252.318</string>
			<key>y2</key>
			<string>120.827</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{7ff49f35-ee00-4c7e-8ac8-28b404144ee9}</key>
		<dict>
			<key>x1</key>
			<string>244.024</string>
			<key>y1</key>
			<string>178.269</string>
			<key>x2</key>
			<string>244.024</string>
			<key>y2</key>
			<string>164.877</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{70fbe154-85b7-4ad9-a48d-e1448d2d1602}</key>
		<dict>
			<key>x1</key>
			<string>238.373</string>
			<key>y1</key>
			<string>103.863</string>
			<key>x2</key>
			<string>238.373</string>
			<key>y2</key>
			<string>120.827</string>
			<key>height</key>
			<string>17.8583</string>
		</dict>
		<key>{e33d2a78-32d2-4fdf-a8b0-bcf07bafeb28}</key>
		<dict>
			<key>x1</key>
			<string>230.079</string>
			<key>y1</key>
			<string>183.031</string>
			<key>x2</key>
			<string>230.079</string>
			<key>y2</key>
			<string>167.258</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{542af984-87fe-4a4b-a6ad-4d8fb4471a9d}</key>
		<dict>
			<key>x1</key>
			<string>224.428</string>
			<key>y1</key>
			<string>108.625</string>
			<key>x2</key>
			<string>224.428</string>
			<key>y2</key>
			<string>124.398</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{ecbcf865-1c6b-420b-9efc-322409fec1c9}</key>
		<dict>
			<key>x1</key>
			<string>216.134</string>
			<key>y1</key>
			<string>190.175</string>
			<key>x2</key>
			<string>216.134</string>
			<key>y2</key>
			<string>169.639</string>
			<key>height</key>
			<string>-21.4299</string>
		</dict>
		<key>{069c90b4-d8c8-4245-900b-5459ce88cfec}</key>
		<dict>
			<key>x1</key>
			<string>210.483</string>
			<key>y1</key>
			<string>115.768</string>
			<key>x2</key>
			<string>210.483</string>
			<key>y2</key>
			<string>127.97</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{9c85f165-0933-4552-977f-7a9de5809396}</key>
		<dict>
			<key>x1</key>
			<string>174.924</string>
			<key>y1</key>
			<string>156.247</string>
			<key>x2</key>
			<string>174.924</string>
			<key>y2</key>
			<string>174.401</string>
			<key>height</key>
			<string>19.0488</string>
		</dict>
		<key>{eab19aa5-51a5-4eac-8073-ae6a13032c42}</key>
		<dict>
			<key>x1</key>
			<string>180.575</string>
			<key>y1</key>
			<string>106.836</string>
			<key>x2</key>
			<string>180.575</string>
			<key>y2</key>
			<string>94.6345</string>
			<key>height</key>
			<string>-13.0961</string>
		</dict>
		<key>{06158bff-c229-426a-8005-97ba816ca87b}</key>
		<dict>
			<key>x1</key>
			<string>161.1</string>
			<key>y1</key>
			<string>163.39</string>
			<key>x2</key>
			<string>161.1</string>
			<key>y2</key>
			<string>177.378</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{c01e2667-2cc7-40b1-9902-c48f8f7d8459}</key>
		<dict>
			<key>x1</key>
			<string>166.751</string>
			<key>y1</key>
			<string>113.979</string>
			<key>x2</key>
			<string>166.751</string>
			<key>y2</key>
			<string>98.8014</string>
			<key>height</key>
			<string>-16.0724</string>
		</dict>
		<key>{c0e9c59b-5a27-4865-a74a-af32ef9f5995}</key>
		<dict>
			<key>x1</key>
			<string>147.277</string>
			<key>y1</key>
			<string>168.152</string>
			<key>x2</key>
			<string>147.277</string>
			<key>y2</key>
			<string>180.354</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{e3c13296-4627-4f7a-8549-1d80dc7fbe5f}</key>
		<dict>
			<key>x1</key>
			<string>152.927</string>
			<key>y1</key>
			<string>118.742</string>
			<key>x2</key>
			<string>152.927</string>
			<key>y2</key>
			<string>102.968</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{1d17ee7b-a7fb-4ba0-91f9-aa295bf7e4a0}</key>
		<dict>
			<key>x1</key>
			<string>133.453</string>
			<key>y1</key>
			<string>163.39</string>
			<key>x2</key>
			<string>133.453</string>
			<key>y2</key>
			<string>179.164</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{e384ec5e-7511-41e8-ae77-5a75b358f419}</key>
		<dict>
			<key>x1</key>
			<string>139.103</string>
			<key>y1</key>
			<string>113.979</string>
			<key>x2</key>
			<string>139.103</string>
			<key>y2</key>
			<string>100.587</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{1e7459f8-555f-4a0c-b188-8fcb5c536c0f}</key>
		<dict>
			<key>x1</key>
			<string>119.629</string>
			<key>y1</key>
			<string>168.152</string>
			<key>x2</key>
			<string>119.629</string>
			<key>y2</key>
			<string>182.14</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{c645ae12-7de2-419a-a7bd-bf0233e710ac}</key>
		<dict>
			<key>x1</key>
			<string>125.279</string>
			<key>y1</key>
			<string>118.742</string>
			<key>x2</key>
			<string>125.279</string>
			<key>y2</key>
			<string>103.564</string>
			<key>height</key>
			<string>-16.0724</string>
		</dict>
		<key>{b38d16b1-1532-4c60-8bca-0252b1bd5576}</key>
		<dict>
			<key>x1</key>
			<string>105.805</string>
			<key>y1</key>
			<string>172.915</string>
			<key>x2</key>
			<string>105.805</string>
			<key>y2</key>
			<string>185.116</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{50aa6bc7-b3aa-4c10-9093-14d645642f74}</key>
		<dict>
			<key>x1</key>
			<string>111.455</string>
			<key>y1</key>
			<string>123.504</string>
			<key>x2</key>
			<string>111.455</string>
			<key>y2</key>
			<string>106.54</string>
			<key>height</key>
			<string>-17.8583</string>
		</dict>
	</dict>
</dict>
</plist>