<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributes</key>
	<dict>
		<key>time</key>
		<dict>
			<key>beats</key>
			<string>6</string>
			<key>per_minute</key>
			<string>80</string>
			<key>beat_type</key>
			<string>8</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{5b24ce85-4530-4930-a783-7ec435259808}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>1</string>
		</dict>
		<key>{b9cfa52d-4f0f-43bf-bcaa-72c83f6440ac}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>5</string>
		</dict>
		<key>{99aa0858-f544-4243-96d9-f19b04cd6552}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>3</string>
		</dict>
		<key>{c791668f-4289-4628-97bf-10ab37a252fa}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>3</string>
		</dict>
		<key>{0ae78e37-a658-4e37-87af-cda907885b01}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>5</string>
		</dict>
		<key>{4f6002a1-4f8b-4a59-8348-972ef184f9d7}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>1</string>
		</dict>
		<key>{dda0a920-c894-40fa-a4f1-1dd030217818}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>1</string>
		</dict>
		<key>{01cf0d41-a16d-4e10-bd5c-a2630e365443}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>5</string>
		</dict>
		<key>{1fd11c75-faed-4ed3-bf23-cedc2e6fa0c3}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>2</string>
		</dict>
		<key>{bfcfd72a-ed0b-4e4b-914c-5413db72e6d3}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>3</string>
		</dict>
		<key>{99a8b04f-3bec-448e-8a29-31ef87ee016a}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>5</string>
		</dict>
		<key>{0855ad6f-a219-4c2f-9d5e-29956d8c177b}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>1</string>
		</dict>
		<key>{e2b9a32e-935c-4065-b36a-08ab1c8c66d6}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>1</string>
		</dict>
		<key>{3a8f19eb-2486-4230-8163-d1af1fe7cbf8}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>5</string>
		</dict>
		<key>{82546cb2-f2a8-4e7f-aac8-2b24a4b8f66f}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>3</string>
		</dict>
		<key>{eba37d46-596f-4406-b187-c7f00d3fe43a}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>2</string>
		</dict>
		<key>{e5739b4b-8001-4ed7-b941-d089e0001074}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>5</string>
		</dict>
		<key>{e714b0d4-556b-4aad-80cd-997b8dd1fc29}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>1</string>
		</dict>
		<key>{fac341db-5cab-4161-be34-c3a0c7ef9d0f}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>1</string>
		</dict>
		<key>{b07b2fde-dd14-4142-b54f-841fca1db990}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>5</string>
		</dict>
		<key>{6962f257-999d-4d4b-802d-cc61177f8c3c}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>3</string>
		</dict>
		<key>{ea5a6fb2-c9fa-450b-bddf-a06250a31da3}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>3</string>
		</dict>
		<key>{37cfce3f-b5bd-461c-abe9-158090da3f61}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>5</string>
		</dict>
		<key>{ffd82cd5-cd03-41dd-aff1-c8a7c6e9af48}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>1</string>
		</dict>
		<key>{0fed917a-55d1-4d40-b60a-8fc07a0eb36c}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>5</string>
		</dict>
		<key>{8754181d-df14-4e87-9e57-e04cf03d87b2}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>1</string>
		</dict>
		<key>{a8fac573-d33f-4504-b450-fc43594dff07}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>3</string>
		</dict>
		<key>{23de1984-5e1e-4c5d-9d43-3f68192bdd4d}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>3</string>
		</dict>
		<key>{dfd4dfdd-ec68-47cc-8723-1a9131327f9c}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>1</string>
		</dict>
		<key>{9a003736-b6ad-4228-b9ed-607b6944f9f5}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>5</string>
		</dict>
		<key>{bf6a9912-e9ff-441a-939d-99c8083b9ca7}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>5</string>
		</dict>
		<key>{978049cd-0d0e-4f19-8207-2b07caef2369}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>1</string>
		</dict>
		<key>{ac691383-c5ec-441a-a1be-7daed08c5d6b}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>3</string>
		</dict>
		<key>{be5decec-16ec-430a-940f-95d9734ffdd7}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>2</string>
		</dict>
		<key>{c322bde7-8aaf-408a-be39-86a9fe63e9c9}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>1</string>
		</dict>
		<key>{4a42c799-1305-4fe9-903d-88234e0f14e2}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>5</string>
		</dict>
		<key>{48f84430-badb-4628-a63f-84e15b761a5a}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>5</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>5</string>
		</dict>
		<key>{548aa040-2dc5-4b2b-9b04-2ffe75ae3a19}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>1</string>
		</dict>
		<key>{7eaf809e-3912-4875-8d26-1f1da71a2fe5}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>2</string>
		</dict>
		<key>{a525ad6a-50b4-4694-8f01-a2ef628a1a81}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>3</string>
		</dict>
		<key>{4f7ddc42-0115-49d2-baaf-f514dd645d9c}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>1</string>
		</dict>
		<key>{ab2fd4c6-a182-473f-99b1-43534357d8f0}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>5</string>
		</dict>
		<key>{fdc5c43d-10a0-4eb5-8ee6-f622c2dfced8}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>5</string>
		</dict>
		<key>{6b6b5426-6b4e-4138-8faf-865a5d22505e}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>1</string>
		</dict>
		<key>{645e6331-5f9a-410f-aadf-dcbdd79d1710}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>3</string>
		</dict>
		<key>{1714b3e5-13bd-4c8b-9337-1213d391080b}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>3</string>
		</dict>
		<key>{5977c083-de74-4c96-8f56-64348e6dccf6}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>1</string>
		</dict>
		<key>{9bd9d488-5b51-43f8-b8e1-da26f6d732f1}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>5</string>
		</dict>
		<key>{e3493033-b0d7-4559-a3da-0546b1ec3022}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{a6f2886e-63dc-4f9e-98ee-2ef8f0c7d593}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
	</dict>
	<key>events</key>
	<dict>
		<key>0</key>
		<dict>
			<key>elid</key>
			<string>0</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>0</string>
			<key>notes</key>
			<string>{5b24ce85-4530-4930-a783-7ec435259808} {b9cfa52d-4f0f-43bf-bcaa-72c83f6440ac}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>1</key>
		<dict>
			<key>elid</key>
			<string>1</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>250</string>
			<key>notes</key>
			<string>{99aa0858-f544-4243-96d9-f19b04cd6552} {c791668f-4289-4628-97bf-10ab37a252fa}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>2</key>
		<dict>
			<key>elid</key>
			<string>2</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>500</string>
			<key>notes</key>
			<string>{0ae78e37-a658-4e37-87af-cda907885b01} {4f6002a1-4f8b-4a59-8348-972ef184f9d7}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>3</key>
		<dict>
			<key>elid</key>
			<string>3</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>750</string>
			<key>notes</key>
			<string>{dda0a920-c894-40fa-a4f1-1dd030217818} {01cf0d41-a16d-4e10-bd5c-a2630e365443}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>4</key>
		<dict>
			<key>elid</key>
			<string>4</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>1000</string>
			<key>notes</key>
			<string>{1fd11c75-faed-4ed3-bf23-cedc2e6fa0c3} {bfcfd72a-ed0b-4e4b-914c-5413db72e6d3}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>5</key>
		<dict>
			<key>elid</key>
			<string>5</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>1250</string>
			<key>notes</key>
			<string>{99a8b04f-3bec-448e-8a29-31ef87ee016a} {0855ad6f-a219-4c2f-9d5e-29956d8c177b}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>6</key>
		<dict>
			<key>elid</key>
			<string>6</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>1500</string>
			<key>notes</key>
			<string>{e2b9a32e-935c-4065-b36a-08ab1c8c66d6} {3a8f19eb-2486-4230-8163-d1af1fe7cbf8}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>7</key>
		<dict>
			<key>elid</key>
			<string>7</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>1750</string>
			<key>notes</key>
			<string>{82546cb2-f2a8-4e7f-aac8-2b24a4b8f66f} {eba37d46-596f-4406-b187-c7f00d3fe43a}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>8</key>
		<dict>
			<key>elid</key>
			<string>8</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>2000</string>
			<key>notes</key>
			<string>{e5739b4b-8001-4ed7-b941-d089e0001074} {e714b0d4-556b-4aad-80cd-997b8dd1fc29}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>9</key>
		<dict>
			<key>elid</key>
			<string>9</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>2250</string>
			<key>notes</key>
			<string>{fac341db-5cab-4161-be34-c3a0c7ef9d0f} {b07b2fde-dd14-4142-b54f-841fca1db990}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>10</key>
		<dict>
			<key>elid</key>
			<string>10</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>2500</string>
			<key>notes</key>
			<string>{6962f257-999d-4d4b-802d-cc61177f8c3c} {ea5a6fb2-c9fa-450b-bddf-a06250a31da3}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>11</key>
		<dict>
			<key>elid</key>
			<string>11</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>2750</string>
			<key>notes</key>
			<string>{37cfce3f-b5bd-461c-abe9-158090da3f61} {ffd82cd5-cd03-41dd-aff1-c8a7c6e9af48}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>12</key>
		<dict>
			<key>elid</key>
			<string>12</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>3000</string>
			<key>notes</key>
			<string>{0fed917a-55d1-4d40-b60a-8fc07a0eb36c} {8754181d-df14-4e87-9e57-e04cf03d87b2}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>13</key>
		<dict>
			<key>elid</key>
			<string>13</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>3250</string>
			<key>notes</key>
			<string>{a8fac573-d33f-4504-b450-fc43594dff07} {23de1984-5e1e-4c5d-9d43-3f68192bdd4d}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>14</key>
		<dict>
			<key>elid</key>
			<string>14</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>3500</string>
			<key>notes</key>
			<string>{dfd4dfdd-ec68-47cc-8723-1a9131327f9c} {9a003736-b6ad-4228-b9ed-607b6944f9f5}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>15</key>
		<dict>
			<key>elid</key>
			<string>15</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>3750</string>
			<key>notes</key>
			<string>{bf6a9912-e9ff-441a-939d-99c8083b9ca7} {978049cd-0d0e-4f19-8207-2b07caef2369}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>16</key>
		<dict>
			<key>elid</key>
			<string>16</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>4000</string>
			<key>notes</key>
			<string>{ac691383-c5ec-441a-a1be-7daed08c5d6b} {be5decec-16ec-430a-940f-95d9734ffdd7}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>17</key>
		<dict>
			<key>elid</key>
			<string>17</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>4250</string>
			<key>notes</key>
			<string>{c322bde7-8aaf-408a-be39-86a9fe63e9c9} {4a42c799-1305-4fe9-903d-88234e0f14e2}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>18</key>
		<dict>
			<key>elid</key>
			<string>18</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>4500</string>
			<key>notes</key>
			<string>{48f84430-badb-4628-a63f-84e15b761a5a} {548aa040-2dc5-4b2b-9b04-2ffe75ae3a19}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>19</key>
		<dict>
			<key>elid</key>
			<string>19</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>4750</string>
			<key>notes</key>
			<string>{7eaf809e-3912-4875-8d26-1f1da71a2fe5} {a525ad6a-50b4-4694-8f01-a2ef628a1a81}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>20</key>
		<dict>
			<key>elid</key>
			<string>20</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>5000</string>
			<key>notes</key>
			<string>{4f7ddc42-0115-49d2-baaf-f514dd645d9c} {ab2fd4c6-a182-473f-99b1-43534357d8f0}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>21</key>
		<dict>
			<key>elid</key>
			<string>21</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>5250</string>
			<key>notes</key>
			<string>{fdc5c43d-10a0-4eb5-8ee6-f622c2dfced8} {6b6b5426-6b4e-4138-8faf-865a5d22505e}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>22</key>
		<dict>
			<key>elid</key>
			<string>22</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>5500</string>
			<key>notes</key>
			<string>{645e6331-5f9a-410f-aadf-dcbdd79d1710} {1714b3e5-13bd-4c8b-9337-1213d391080b}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>23</key>
		<dict>
			<key>elid</key>
			<string>23</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>5750</string>
			<key>notes</key>
			<string>{5977c083-de74-4c96-8f56-64348e6dccf6} {9bd9d488-5b51-43f8-b8e1-da26f6d732f1}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
		<key>24</key>
		<dict>
			<key>elid</key>
			<string>24</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>6000</string>
			<key>notes</key>
			<string>{e3493033-b0d7-4559-a3da-0546b1ec3022} {a6f2886e-63dc-4f9e-98ee-2ef8f0c7d593}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>750</string>
		</dict>
	</dict>
	<key>metronomes</key>
	<dict>
		<key>0</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>750</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>1500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>2250</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>3000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>3750</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>4500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>5250</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>6000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>6750</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
	</dict>
</dict>
</plist>