<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>63.9721</string>
			<key>y</key>
			<string>97.8496</string>
			<key>bx</key>
			<string>63.9721</string>
			<key>by</key>
			<string>136.717</string>
			<key>spatium</key>
			<string>4.7622</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{41870524-07cb-4fe5-970f-351a239d65e8}</key>
		<dict>
			<key>x</key>
			<string>497.542</string>
			<key>y</key>
			<string>174.045</string>
		</dict>
		<key>{eb0f8c2f-993d-4680-b9ba-3c19b2b08ece}</key>
		<dict>
			<key>x</key>
			<string>497.542</string>
			<key>y</key>
			<string>126.423</string>
		</dict>
		<key>{4ba90e78-b8dd-46dc-a832-218eed6d0daf}</key>
		<dict>
			<key>x</key>
			<string>475.394</string>
			<key>y</key>
			<string>174.045</string>
		</dict>
		<key>{25f24a16-4903-4c8d-943b-00cf0c959ac5}</key>
		<dict>
			<key>x</key>
			<string>475.394</string>
			<key>y</key>
			<string>126.423</string>
		</dict>
		<key>{1ae240f7-485a-44f7-ad1d-9aa2f6812bbc}</key>
		<dict>
			<key>x</key>
			<string>459.723</string>
			<key>y</key>
			<string>169.283</string>
		</dict>
		<key>{1bfbaf9f-90b2-4bf0-9be9-25ebaa345e28}</key>
		<dict>
			<key>x</key>
			<string>459.723</string>
			<key>y</key>
			<string>121.661</string>
		</dict>
		<key>{d68e731e-9bc7-418b-880b-0983cdba6610}</key>
		<dict>
			<key>x</key>
			<string>444.051</string>
			<key>y</key>
			<string>164.52</string>
		</dict>
		<key>{20e0a3e0-8082-4ccd-aa54-2c7be76e97b9}</key>
		<dict>
			<key>x</key>
			<string>444.051</string>
			<key>y</key>
			<string>116.898</string>
		</dict>
		<key>{f8d686e0-b863-44cd-9cfd-5dee7da15d91}</key>
		<dict>
			<key>x</key>
			<string>428.38</string>
			<key>y</key>
			<string>169.283</string>
		</dict>
		<key>{146bc1cf-dd5d-489c-8fe8-19a4bd8a407d}</key>
		<dict>
			<key>x</key>
			<string>428.38</string>
			<key>y</key>
			<string>121.661</string>
		</dict>
		<key>{02712613-ac80-458c-9aab-24988f04756d}</key>
		<dict>
			<key>x</key>
			<string>412.709</string>
			<key>y</key>
			<string>164.52</string>
		</dict>
		<key>{587a91c5-ea8b-45f9-afef-b07d88ce233f}</key>
		<dict>
			<key>x</key>
			<string>412.709</string>
			<key>y</key>
			<string>116.898</string>
		</dict>
		<key>{efa5cd69-236b-4f25-be4f-56ea2b8c4441}</key>
		<dict>
			<key>x</key>
			<string>397.037</string>
			<key>y</key>
			<string>157.377</string>
		</dict>
		<key>{4e3c6a0e-af6f-4250-bf5b-21e4aa6f8554}</key>
		<dict>
			<key>x</key>
			<string>397.037</string>
			<key>y</key>
			<string>109.755</string>
		</dict>
		<key>{98f9bd87-547a-4263-8c31-e3013e7714e4}</key>
		<dict>
			<key>x</key>
			<string>374.889</string>
			<key>y</key>
			<string>164.52</string>
		</dict>
		<key>{944d1431-5a87-45fa-ab05-a34f7be09a97}</key>
		<dict>
			<key>x</key>
			<string>374.889</string>
			<key>y</key>
			<string>116.898</string>
		</dict>
		<key>{812f0fd4-5725-4f28-a7d2-849c39c4e48d}</key>
		<dict>
			<key>x</key>
			<string>359.218</string>
			<key>y</key>
			<string>157.377</string>
		</dict>
		<key>{73adf15e-bf6d-475c-bf9e-b0f978d0bf7e}</key>
		<dict>
			<key>x</key>
			<string>359.218</string>
			<key>y</key>
			<string>109.755</string>
		</dict>
		<key>{20e22ce5-8b3e-47dc-9b63-290776392436}</key>
		<dict>
			<key>x</key>
			<string>343.547</string>
			<key>y</key>
			<string>152.615</string>
		</dict>
		<key>{de8f9bb1-5839-4c01-a560-7130003c5e6f}</key>
		<dict>
			<key>x</key>
			<string>343.547</string>
			<key>y</key>
			<string>104.993</string>
		</dict>
		<key>{b2e02315-e149-4d24-89f3-deb08f12be33}</key>
		<dict>
			<key>x</key>
			<string>327.875</string>
			<key>y</key>
			<string>157.377</string>
		</dict>
		<key>{43a2a562-ed22-4988-a337-4f5cc5a82eb6}</key>
		<dict>
			<key>x</key>
			<string>327.875</string>
			<key>y</key>
			<string>109.755</string>
		</dict>
		<key>{17882fdf-7fed-4a6f-a80e-78ef31133da8}</key>
		<dict>
			<key>x</key>
			<string>312.204</string>
			<key>y</key>
			<string>152.615</string>
		</dict>
		<key>{866cd0e9-5f3c-44d5-bf3d-e2fe46d53f6b}</key>
		<dict>
			<key>x</key>
			<string>312.204</string>
			<key>y</key>
			<string>104.993</string>
		</dict>
		<key>{9adfd843-7228-4fd3-bfdc-672ff7d51323}</key>
		<dict>
			<key>x</key>
			<string>296.533</string>
			<key>y</key>
			<string>147.853</string>
		</dict>
		<key>{3f34e1cd-b858-4c11-b485-a7b297ef1990}</key>
		<dict>
			<key>x</key>
			<string>296.533</string>
			<key>y</key>
			<string>100.231</string>
		</dict>
		<key>{448e50a1-28db-461d-82ce-d2616af603b0}</key>
		<dict>
			<key>x</key>
			<string>274.385</string>
			<key>y</key>
			<string>147.853</string>
		</dict>
		<key>{f567bab3-45f0-4672-89ae-ed288ab6d0cd}</key>
		<dict>
			<key>x</key>
			<string>274.385</string>
			<key>y</key>
			<string>100.231</string>
		</dict>
		<key>{1915d1df-6d23-4dfc-8b47-8c64bb1fd725}</key>
		<dict>
			<key>x</key>
			<string>258.713</string>
			<key>y</key>
			<string>152.615</string>
		</dict>
		<key>{514b93fc-84d5-43ab-924a-17d6c40575f0}</key>
		<dict>
			<key>x</key>
			<string>258.713</string>
			<key>y</key>
			<string>104.993</string>
		</dict>
		<key>{6d925fe8-1ecd-451a-873f-21ecf6486466}</key>
		<dict>
			<key>x</key>
			<string>243.042</string>
			<key>y</key>
			<string>157.377</string>
		</dict>
		<key>{597c8e36-5f29-4532-bd50-4cfd3880a276}</key>
		<dict>
			<key>x</key>
			<string>243.042</string>
			<key>y</key>
			<string>109.755</string>
		</dict>
		<key>{4e39457c-46bc-44ab-8365-0b3a7d8eb3f5}</key>
		<dict>
			<key>x</key>
			<string>227.371</string>
			<key>y</key>
			<string>152.615</string>
		</dict>
		<key>{c938b99b-1258-4e25-87bf-281d22fc431f}</key>
		<dict>
			<key>x</key>
			<string>227.371</string>
			<key>y</key>
			<string>104.993</string>
		</dict>
		<key>{379f16a2-e29f-4f5a-9d13-1d6c378b444a}</key>
		<dict>
			<key>x</key>
			<string>211.699</string>
			<key>y</key>
			<string>157.377</string>
		</dict>
		<key>{b9ef6218-76d6-4f7d-bd4a-252016f26d0f}</key>
		<dict>
			<key>x</key>
			<string>211.699</string>
			<key>y</key>
			<string>109.755</string>
		</dict>
		<key>{b39169c7-3a73-49bb-a289-b3fef47cb4f1}</key>
		<dict>
			<key>x</key>
			<string>196.028</string>
			<key>y</key>
			<string>164.52</string>
		</dict>
		<key>{f8e4b79b-fb81-4be5-a168-0ad03183bc0e}</key>
		<dict>
			<key>x</key>
			<string>196.028</string>
			<key>y</key>
			<string>116.898</string>
		</dict>
		<key>{d4995d75-d1c3-4ae9-8be1-e5795cbee0c6}</key>
		<dict>
			<key>x</key>
			<string>174.668</string>
			<key>y</key>
			<string>157.377</string>
		</dict>
		<key>{09463fc2-91f9-41cc-9f6f-ed6dc9e130d4}</key>
		<dict>
			<key>x</key>
			<string>174.668</string>
			<key>y</key>
			<string>109.755</string>
		</dict>
		<key>{b0eac954-91a5-4d29-b618-6e659c2380c6}</key>
		<dict>
			<key>x</key>
			<string>159.784</string>
			<key>y</key>
			<string>164.52</string>
		</dict>
		<key>{12f522be-bbee-4b30-aa93-eb4f7313909c}</key>
		<dict>
			<key>x</key>
			<string>159.784</string>
			<key>y</key>
			<string>116.898</string>
		</dict>
		<key>{823d0114-9907-4c53-a7f9-9fe57819d080}</key>
		<dict>
			<key>x</key>
			<string>144.9</string>
			<key>y</key>
			<string>169.283</string>
		</dict>
		<key>{c1c225f4-61b8-4f97-a3ba-04095d6b04f8}</key>
		<dict>
			<key>x</key>
			<string>144.9</string>
			<key>y</key>
			<string>121.661</string>
		</dict>
		<key>{cd6c86d6-2cbc-4402-8ab5-aaf44895be92}</key>
		<dict>
			<key>x</key>
			<string>130.017</string>
			<key>y</key>
			<string>164.52</string>
		</dict>
		<key>{433aa572-e5da-4007-829d-410592eaf058}</key>
		<dict>
			<key>x</key>
			<string>130.017</string>
			<key>y</key>
			<string>116.898</string>
		</dict>
		<key>{8db50601-db8d-42eb-a66d-eee1b83f0c9a}</key>
		<dict>
			<key>x</key>
			<string>115.133</string>
			<key>y</key>
			<string>169.283</string>
		</dict>
		<key>{cc4c9e2b-617e-4f26-a742-ca3289a3e059}</key>
		<dict>
			<key>x</key>
			<string>115.133</string>
			<key>y</key>
			<string>121.661</string>
		</dict>
		<key>{245beb43-134d-4df8-a79c-79bb63691722}</key>
		<dict>
			<key>x</key>
			<string>100.249</string>
			<key>y</key>
			<string>174.045</string>
		</dict>
		<key>{39db6b75-354c-4ac8-b82f-909fefddb7d9}</key>
		<dict>
			<key>x</key>
			<string>100.249</string>
			<key>y</key>
			<string>126.423</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{41870524-07cb-4fe5-970f-351a239d65e8}</key>
		<dict>
			<key>x1</key>
			<string>503.846</string>
			<key>y1</key>
			<string>173.313</string>
			<key>x2</key>
			<string>503.846</string>
			<key>y2</key>
			<string>157.377</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{eb0f8c2f-993d-4680-b9ba-3c19b2b08ece}</key>
		<dict>
			<key>x1</key>
			<string>503.846</string>
			<key>y1</key>
			<string>125.691</string>
			<key>x2</key>
			<string>503.846</string>
			<key>y2</key>
			<string>107.374</string>
			<key>height</key>
			<string>-19.0488</string>
		</dict>
		<key>{4ba90e78-b8dd-46dc-a832-218eed6d0daf}</key>
		<dict>
			<key>x1</key>
			<string>475.704</string>
			<key>y1</key>
			<string>174.939</string>
			<key>x2</key>
			<string>475.704</string>
			<key>y2</key>
			<string>187.141</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{25f24a16-4903-4c8d-943b-00cf0c959ac5}</key>
		<dict>
			<key>x1</key>
			<string>481.354</string>
			<key>y1</key>
			<string>125.528</string>
			<key>x2</key>
			<string>481.354</string>
			<key>y2</key>
			<string>108.565</string>
			<key>height</key>
			<string>-17.8583</string>
		</dict>
		<key>{1ae240f7-485a-44f7-ad1d-9aa2f6812bbc}</key>
		<dict>
			<key>x1</key>
			<string>460.032</string>
			<key>y1</key>
			<string>170.177</string>
			<key>x2</key>
			<string>460.032</string>
			<key>y2</key>
			<string>184.76</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{1bfbaf9f-90b2-4bf0-9be9-25ebaa345e28}</key>
		<dict>
			<key>x1</key>
			<string>465.683</string>
			<key>y1</key>
			<string>120.766</string>
			<key>x2</key>
			<string>465.683</string>
			<key>y2</key>
			<string>105.588</string>
			<key>height</key>
			<string>-16.0724</string>
		</dict>
		<key>{d68e731e-9bc7-418b-880b-0983cdba6610}</key>
		<dict>
			<key>x1</key>
			<string>444.361</string>
			<key>y1</key>
			<string>165.415</string>
			<key>x2</key>
			<string>444.361</string>
			<key>y2</key>
			<string>182.379</string>
			<key>height</key>
			<string>17.8583</string>
		</dict>
		<key>{20e0a3e0-8082-4ccd-aa54-2c7be76e97b9}</key>
		<dict>
			<key>x1</key>
			<string>450.012</string>
			<key>y1</key>
			<string>116.004</string>
			<key>x2</key>
			<string>450.012</string>
			<key>y2</key>
			<string>102.612</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{f8d686e0-b863-44cd-9cfd-5dee7da15d91}</key>
		<dict>
			<key>x1</key>
			<string>428.69</string>
			<key>y1</key>
			<string>170.177</string>
			<key>x2</key>
			<string>428.69</string>
			<key>y2</key>
			<string>184.76</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{146bc1cf-dd5d-489c-8fe8-19a4bd8a407d}</key>
		<dict>
			<key>x1</key>
			<string>434.34</string>
			<key>y1</key>
			<string>120.766</string>
			<key>x2</key>
			<string>434.34</string>
			<key>y2</key>
			<string>102.612</string>
			<key>height</key>
			<string>-19.0488</string>
		</dict>
		<key>{02712613-ac80-458c-9aab-24988f04756d}</key>
		<dict>
			<key>x1</key>
			<string>413.018</string>
			<key>y1</key>
			<string>165.415</string>
			<key>x2</key>
			<string>413.018</string>
			<key>y2</key>
			<string>181.783</string>
			<key>height</key>
			<string>17.263</string>
		</dict>
		<key>{587a91c5-ea8b-45f9-afef-b07d88ce233f}</key>
		<dict>
			<key>x1</key>
			<string>418.669</string>
			<key>y1</key>
			<string>116.004</string>
			<key>x2</key>
			<string>418.669</string>
			<key>y2</key>
			<string>99.6354</string>
			<key>height</key>
			<string>-17.263</string>
		</dict>
		<key>{efa5cd69-236b-4f25-be4f-56ea2b8c4441}</key>
		<dict>
			<key>x1</key>
			<string>397.347</string>
			<key>y1</key>
			<string>158.272</string>
			<key>x2</key>
			<string>397.347</string>
			<key>y2</key>
			<string>178.807</string>
			<key>height</key>
			<string>21.4299</string>
		</dict>
		<key>{4e3c6a0e-af6f-4250-bf5b-21e4aa6f8554}</key>
		<dict>
			<key>x1</key>
			<string>402.998</string>
			<key>y1</key>
			<string>108.861</string>
			<key>x2</key>
			<string>402.998</string>
			<key>y2</key>
			<string>96.6591</string>
			<key>height</key>
			<string>-13.0961</string>
		</dict>
		<key>{98f9bd87-547a-4263-8c31-e3013e7714e4}</key>
		<dict>
			<key>x1</key>
			<string>375.199</string>
			<key>y1</key>
			<string>165.415</string>
			<key>x2</key>
			<string>375.199</string>
			<key>y2</key>
			<string>179.998</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{944d1431-5a87-45fa-ab05-a34f7be09a97}</key>
		<dict>
			<key>x1</key>
			<string>380.85</string>
			<key>y1</key>
			<string>116.004</string>
			<key>x2</key>
			<string>380.85</string>
			<key>y2</key>
			<string>97.8496</string>
			<key>height</key>
			<string>-19.0488</string>
		</dict>
		<key>{812f0fd4-5725-4f28-a7d2-849c39c4e48d}</key>
		<dict>
			<key>x1</key>
			<string>359.528</string>
			<key>y1</key>
			<string>158.272</string>
			<key>x2</key>
			<string>359.528</string>
			<key>y2</key>
			<string>177.021</string>
			<key>height</key>
			<string>19.6441</string>
		</dict>
		<key>{73adf15e-bf6d-475c-bf9e-b0f978d0bf7e}</key>
		<dict>
			<key>x1</key>
			<string>365.178</string>
			<key>y1</key>
			<string>108.861</string>
			<key>x2</key>
			<string>365.178</string>
			<key>y2</key>
			<string>94.8732</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{20e22ce5-8b3e-47dc-9b63-290776392436}</key>
		<dict>
			<key>x1</key>
			<string>343.856</string>
			<key>y1</key>
			<string>153.509</string>
			<key>x2</key>
			<string>343.856</string>
			<key>y2</key>
			<string>174.045</string>
			<key>height</key>
			<string>21.4299</string>
		</dict>
		<key>{de8f9bb1-5839-4c01-a560-7130003c5e6f}</key>
		<dict>
			<key>x1</key>
			<string>349.507</string>
			<key>y1</key>
			<string>104.099</string>
			<key>x2</key>
			<string>349.507</string>
			<key>y2</key>
			<string>91.8969</string>
			<key>height</key>
			<string>-13.0961</string>
		</dict>
		<key>{b2e02315-e149-4d24-89f3-deb08f12be33}</key>
		<dict>
			<key>x1</key>
			<string>328.185</string>
			<key>y1</key>
			<string>158.272</string>
			<key>x2</key>
			<string>328.185</string>
			<key>y2</key>
			<string>171.664</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{43a2a562-ed22-4988-a337-4f5cc5a82eb6}</key>
		<dict>
			<key>x1</key>
			<string>333.836</string>
			<key>y1</key>
			<string>108.861</string>
			<key>x2</key>
			<string>333.836</string>
			<key>y2</key>
			<string>93.0874</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{17882fdf-7fed-4a6f-a80e-78ef31133da8}</key>
		<dict>
			<key>x1</key>
			<string>312.514</string>
			<key>y1</key>
			<string>153.509</string>
			<key>x2</key>
			<string>312.514</string>
			<key>y2</key>
			<string>168.687</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{866cd0e9-5f3c-44d5-bf3d-e2fe46d53f6b}</key>
		<dict>
			<key>x1</key>
			<string>318.164</string>
			<key>y1</key>
			<string>104.099</string>
			<key>x2</key>
			<string>318.164</string>
			<key>y2</key>
			<string>90.111</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{9adfd843-7228-4fd3-bfdc-672ff7d51323}</key>
		<dict>
			<key>x1</key>
			<string>296.842</string>
			<key>y1</key>
			<string>148.747</string>
			<key>x2</key>
			<string>296.842</string>
			<key>y2</key>
			<string>165.711</string>
			<key>height</key>
			<string>17.8583</string>
		</dict>
		<key>{3f34e1cd-b858-4c11-b485-a7b297ef1990}</key>
		<dict>
			<key>x1</key>
			<string>302.493</string>
			<key>y1</key>
			<string>99.3363</string>
			<key>x2</key>
			<string>302.493</string>
			<key>y2</key>
			<string>87.1347</string>
			<key>height</key>
			<string>-13.0961</string>
		</dict>
		<key>{448e50a1-28db-461d-82ce-d2616af603b0}</key>
		<dict>
			<key>x1</key>
			<string>274.694</string>
			<key>y1</key>
			<string>148.747</string>
			<key>x2</key>
			<string>274.694</string>
			<key>y2</key>
			<string>165.711</string>
			<key>height</key>
			<string>17.8583</string>
		</dict>
		<key>{f567bab3-45f0-4672-89ae-ed288ab6d0cd}</key>
		<dict>
			<key>x1</key>
			<string>274.694</string>
			<key>y1</key>
			<string>101.125</string>
			<key>x2</key>
			<string>274.694</string>
			<key>y2</key>
			<string>116.898</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{1915d1df-6d23-4dfc-8b47-8c64bb1fd725}</key>
		<dict>
			<key>x1</key>
			<string>259.023</string>
			<key>y1</key>
			<string>153.509</string>
			<key>x2</key>
			<string>259.023</string>
			<key>y2</key>
			<string>168.687</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{514b93fc-84d5-43ab-924a-17d6c40575f0}</key>
		<dict>
			<key>x1</key>
			<string>259.023</string>
			<key>y1</key>
			<string>105.887</string>
			<key>x2</key>
			<string>259.023</string>
			<key>y2</key>
			<string>119.875</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{6d925fe8-1ecd-451a-873f-21ecf6486466}</key>
		<dict>
			<key>x1</key>
			<string>243.352</string>
			<key>y1</key>
			<string>158.272</string>
			<key>x2</key>
			<string>243.352</string>
			<key>y2</key>
			<string>171.664</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{597c8e36-5f29-4532-bd50-4cfd3880a276}</key>
		<dict>
			<key>x1</key>
			<string>243.352</string>
			<key>y1</key>
			<string>110.65</string>
			<key>x2</key>
			<string>243.352</string>
			<key>y2</key>
			<string>122.851</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{4e39457c-46bc-44ab-8365-0b3a7d8eb3f5}</key>
		<dict>
			<key>x1</key>
			<string>227.68</string>
			<key>y1</key>
			<string>153.509</string>
			<key>x2</key>
			<string>227.68</string>
			<key>y2</key>
			<string>171.664</string>
			<key>height</key>
			<string>19.0488</string>
		</dict>
		<key>{c938b99b-1258-4e25-87bf-281d22fc431f}</key>
		<dict>
			<key>x1</key>
			<string>233.331</string>
			<key>y1</key>
			<string>104.099</string>
			<key>x2</key>
			<string>233.331</string>
			<key>y2</key>
			<string>91.8969</string>
			<key>height</key>
			<string>-13.0961</string>
		</dict>
		<key>{379f16a2-e29f-4f5a-9d13-1d6c378b444a}</key>
		<dict>
			<key>x1</key>
			<string>212.009</string>
			<key>y1</key>
			<string>158.272</string>
			<key>x2</key>
			<string>212.009</string>
			<key>y2</key>
			<string>174.64</string>
			<key>height</key>
			<string>17.263</string>
		</dict>
		<key>{b9ef6218-76d6-4f7d-bd4a-252016f26d0f}</key>
		<dict>
			<key>x1</key>
			<string>217.659</string>
			<key>y1</key>
			<string>108.861</string>
			<key>x2</key>
			<string>217.659</string>
			<key>y2</key>
			<string>94.8732</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{b39169c7-3a73-49bb-a289-b3fef47cb4f1}</key>
		<dict>
			<key>x1</key>
			<string>196.337</string>
			<key>y1</key>
			<string>165.415</string>
			<key>x2</key>
			<string>196.337</string>
			<key>y2</key>
			<string>177.617</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{f8e4b79b-fb81-4be5-a168-0ad03183bc0e}</key>
		<dict>
			<key>x1</key>
			<string>201.988</string>
			<key>y1</key>
			<string>116.004</string>
			<key>x2</key>
			<string>201.988</string>
			<key>y2</key>
			<string>97.8496</string>
			<key>height</key>
			<string>-19.0488</string>
		</dict>
		<key>{d4995d75-d1c3-4ae9-8be1-e5795cbee0c6}</key>
		<dict>
			<key>x1</key>
			<string>174.977</string>
			<key>y1</key>
			<string>158.272</string>
			<key>x2</key>
			<string>174.977</string>
			<key>y2</key>
			<string>176.426</string>
			<key>height</key>
			<string>19.0488</string>
		</dict>
		<key>{09463fc2-91f9-41cc-9f6f-ed6dc9e130d4}</key>
		<dict>
			<key>x1</key>
			<string>180.628</string>
			<key>y1</key>
			<string>108.861</string>
			<key>x2</key>
			<string>180.628</string>
			<key>y2</key>
			<string>96.6591</string>
			<key>height</key>
			<string>-13.0961</string>
		</dict>
		<key>{b0eac954-91a5-4d29-b618-6e659c2380c6}</key>
		<dict>
			<key>x1</key>
			<string>160.093</string>
			<key>y1</key>
			<string>165.415</string>
			<key>x2</key>
			<string>160.093</string>
			<key>y2</key>
			<string>179.402</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{12f522be-bbee-4b30-aa93-eb4f7313909c}</key>
		<dict>
			<key>x1</key>
			<string>165.744</string>
			<key>y1</key>
			<string>116.004</string>
			<key>x2</key>
			<string>165.744</string>
			<key>y2</key>
			<string>99.6354</string>
			<key>height</key>
			<string>-17.263</string>
		</dict>
		<key>{823d0114-9907-4c53-a7f9-9fe57819d080}</key>
		<dict>
			<key>x1</key>
			<string>145.21</string>
			<key>y1</key>
			<string>170.177</string>
			<key>x2</key>
			<string>145.21</string>
			<key>y2</key>
			<string>182.379</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{c1c225f4-61b8-4f97-a3ba-04095d6b04f8}</key>
		<dict>
			<key>x1</key>
			<string>150.86</string>
			<key>y1</key>
			<string>120.766</string>
			<key>x2</key>
			<string>150.86</string>
			<key>y2</key>
			<string>102.612</string>
			<key>height</key>
			<string>-19.0488</string>
		</dict>
		<key>{cd6c86d6-2cbc-4402-8ab5-aaf44895be92}</key>
		<dict>
			<key>x1</key>
			<string>135.977</string>
			<key>y1</key>
			<string>163.626</string>
			<key>x2</key>
			<string>135.977</string>
			<key>y2</key>
			<string>151.424</string>
			<key>height</key>
			<string>-13.0961</string>
		</dict>
		<key>{433aa572-e5da-4007-829d-410592eaf058}</key>
		<dict>
			<key>x1</key>
			<string>135.977</string>
			<key>y1</key>
			<string>116.004</string>
			<key>x2</key>
			<string>135.977</string>
			<key>y2</key>
			<string>102.612</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{8db50601-db8d-42eb-a66d-eee1b83f0c9a}</key>
		<dict>
			<key>x1</key>
			<string>121.093</string>
			<key>y1</key>
			<string>168.388</string>
			<key>x2</key>
			<string>121.093</string>
			<key>y2</key>
			<string>154.401</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{cc4c9e2b-617e-4f26-a742-ca3289a3e059}</key>
		<dict>
			<key>x1</key>
			<string>121.093</string>
			<key>y1</key>
			<string>120.766</string>
			<key>x2</key>
			<string>121.093</string>
			<key>y2</key>
			<string>105.588</string>
			<key>height</key>
			<string>-16.0724</string>
		</dict>
		<key>{245beb43-134d-4df8-a79c-79bb63691722}</key>
		<dict>
			<key>x1</key>
			<string>106.209</string>
			<key>y1</key>
			<string>173.15</string>
			<key>x2</key>
			<string>106.209</string>
			<key>y2</key>
			<string>157.377</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{39db6b75-354c-4ac8-b82f-909fefddb7d9}</key>
		<dict>
			<key>x1</key>
			<string>106.209</string>
			<key>y1</key>
			<string>125.528</string>
			<key>x2</key>
			<string>106.209</string>
			<key>y2</key>
			<string>108.565</string>
			<key>height</key>
			<string>-17.8583</string>
		</dict>
	</dict>
</dict>
</plist>