<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>63.9721</string>
			<key>y</key>
			<string>108.35</string>
			<key>bx</key>
			<string>63.9721</string>
			<key>by</key>
			<string>147.217</string>
			<key>spatium</key>
			<string>4.7622</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{e3747ab9-66ad-4d7b-97e3-46d8c50d8329}</key>
		<dict>
			<key>x</key>
			<string>500.843</string>
			<key>y</key>
			<string>198.832</string>
		</dict>
		<key>{52360114-45fb-48ea-b31e-2153ee46a4c6}</key>
		<dict>
			<key>x</key>
			<string>500.843</string>
			<key>y</key>
			<string>122.636</string>
		</dict>
		<key>{e0f0df81-4026-4e0a-b343-010f31c32fd1}</key>
		<dict>
			<key>x</key>
			<string>479.245</string>
			<key>y</key>
			<string>198.832</string>
		</dict>
		<key>{dcc2a41d-cf83-45b4-961d-7260470a479a}</key>
		<dict>
			<key>x</key>
			<string>479.245</string>
			<key>y</key>
			<string>122.636</string>
		</dict>
		<key>{3b909e66-1f92-461c-926d-fe4ca4bfa7ec}</key>
		<dict>
			<key>x</key>
			<string>464.124</string>
			<key>y</key>
			<string>194.069</string>
		</dict>
		<key>{cb7320d7-7397-40ce-b247-90e6a9d48531}</key>
		<dict>
			<key>x</key>
			<string>464.124</string>
			<key>y</key>
			<string>117.874</string>
		</dict>
		<key>{2f93643d-3474-4d23-a659-a1bb0ad4ad08}</key>
		<dict>
			<key>x</key>
			<string>449.002</string>
			<key>y</key>
			<string>189.307</string>
		</dict>
		<key>{89a00aa9-8a70-4451-b519-2f1f8b5d0d94}</key>
		<dict>
			<key>x</key>
			<string>449.002</string>
			<key>y</key>
			<string>113.112</string>
		</dict>
		<key>{9b517259-e03a-4502-aefb-a0933e9f321d}</key>
		<dict>
			<key>x</key>
			<string>433.881</string>
			<key>y</key>
			<string>194.069</string>
		</dict>
		<key>{b828cecb-7dce-4b08-8727-8f6be36ae19c}</key>
		<dict>
			<key>x</key>
			<string>433.881</string>
			<key>y</key>
			<string>117.874</string>
		</dict>
		<key>{0983e814-c314-4c7c-ba40-02d926de657d}</key>
		<dict>
			<key>x</key>
			<string>418.76</string>
			<key>y</key>
			<string>189.307</string>
		</dict>
		<key>{34681889-9329-4b9d-8306-2ca5da169ee0}</key>
		<dict>
			<key>x</key>
			<string>418.76</string>
			<key>y</key>
			<string>113.112</string>
		</dict>
		<key>{c9a00bc7-3c60-498d-864a-880ffd8bfc40}</key>
		<dict>
			<key>x</key>
			<string>403.639</string>
			<key>y</key>
			<string>182.164</string>
		</dict>
		<key>{370bbf4d-3785-4ce8-bfb4-b791e8dc4175}</key>
		<dict>
			<key>x</key>
			<string>403.639</string>
			<key>y</key>
			<string>105.969</string>
		</dict>
		<key>{abdc928f-fcd1-4d8a-8f50-3fdc8bdd6abe}</key>
		<dict>
			<key>x</key>
			<string>382.041</string>
			<key>y</key>
			<string>189.307</string>
		</dict>
		<key>{0eec01c0-c4a5-4cc4-9caa-bf33903426c6}</key>
		<dict>
			<key>x</key>
			<string>382.041</string>
			<key>y</key>
			<string>113.112</string>
		</dict>
		<key>{fdd42859-2e9c-49a1-a556-c790fea40604}</key>
		<dict>
			<key>x</key>
			<string>366.92</string>
			<key>y</key>
			<string>182.164</string>
		</dict>
		<key>{b52401af-3b0e-49ff-9145-3d4a98cc5d43}</key>
		<dict>
			<key>x</key>
			<string>366.92</string>
			<key>y</key>
			<string>105.969</string>
		</dict>
		<key>{f9aa00f2-80c1-4066-8481-b89a7ccf0d07}</key>
		<dict>
			<key>x</key>
			<string>351.799</string>
			<key>y</key>
			<string>177.402</string>
		</dict>
		<key>{be38ce03-ca5f-4b91-8909-2b245e2dbfd1}</key>
		<dict>
			<key>x</key>
			<string>351.799</string>
			<key>y</key>
			<string>101.206</string>
		</dict>
		<key>{23625cd9-d890-4321-b08d-cf346f7a04b3}</key>
		<dict>
			<key>x</key>
			<string>336.677</string>
			<key>y</key>
			<string>182.164</string>
		</dict>
		<key>{c7388a03-6fa4-4f4b-ab85-3d0162d7c792}</key>
		<dict>
			<key>x</key>
			<string>336.677</string>
			<key>y</key>
			<string>105.969</string>
		</dict>
		<key>{9dd48410-10cb-4f8e-870a-57e19029d520}</key>
		<dict>
			<key>x</key>
			<string>321.556</string>
			<key>y</key>
			<string>177.402</string>
		</dict>
		<key>{fc2f6dfe-864f-4f11-927b-24b6e7868fae}</key>
		<dict>
			<key>x</key>
			<string>321.556</string>
			<key>y</key>
			<string>101.206</string>
		</dict>
		<key>{8eb4fef5-b56a-4857-abd4-65cb85e2124d}</key>
		<dict>
			<key>x</key>
			<string>306.435</string>
			<key>y</key>
			<string>172.639</string>
		</dict>
		<key>{8082828b-eb3f-4496-b882-c948a5a23e12}</key>
		<dict>
			<key>x</key>
			<string>306.435</string>
			<key>y</key>
			<string>96.4441</string>
		</dict>
		<key>{acf094bb-24c5-44a6-8898-cb8ef07c8b3a}</key>
		<dict>
			<key>x</key>
			<string>285.504</string>
			<key>y</key>
			<string>172.639</string>
		</dict>
		<key>{9b378128-6f3b-4320-a526-cd91894910fc}</key>
		<dict>
			<key>x</key>
			<string>285.504</string>
			<key>y</key>
			<string>96.4441</string>
		</dict>
		<key>{3c00c690-7613-4503-b8f5-10978bfc38c7}</key>
		<dict>
			<key>x</key>
			<string>271.049</string>
			<key>y</key>
			<string>177.402</string>
		</dict>
		<key>{ee489637-e58e-4f36-8c3e-7c4cf7bc1860}</key>
		<dict>
			<key>x</key>
			<string>271.049</string>
			<key>y</key>
			<string>101.206</string>
		</dict>
		<key>{074b617f-93b1-4398-a0b3-f8acab26df6d}</key>
		<dict>
			<key>x</key>
			<string>256.595</string>
			<key>y</key>
			<string>182.164</string>
		</dict>
		<key>{1ce51d4c-5f89-4ef6-b2ac-322c891920c7}</key>
		<dict>
			<key>x</key>
			<string>256.595</string>
			<key>y</key>
			<string>105.969</string>
		</dict>
		<key>{451db181-47fd-4262-952b-41fd902387d4}</key>
		<dict>
			<key>x</key>
			<string>242.14</string>
			<key>y</key>
			<string>177.402</string>
		</dict>
		<key>{21a7df9d-2bcd-41a8-857e-7e2430e9880e}</key>
		<dict>
			<key>x</key>
			<string>242.14</string>
			<key>y</key>
			<string>101.206</string>
		</dict>
		<key>{1394af4f-2bb7-4302-b768-b611db4df8e3}</key>
		<dict>
			<key>x</key>
			<string>227.686</string>
			<key>y</key>
			<string>182.164</string>
		</dict>
		<key>{c0fe9cf1-4473-4b80-9fac-010434d414e4}</key>
		<dict>
			<key>x</key>
			<string>227.686</string>
			<key>y</key>
			<string>105.969</string>
		</dict>
		<key>{a0ead26a-c389-4c66-8330-acade0d28dd1}</key>
		<dict>
			<key>x</key>
			<string>213.231</string>
			<key>y</key>
			<string>189.307</string>
		</dict>
		<key>{d16da5a1-8eae-4b51-ac5b-0b8acd0a97e9}</key>
		<dict>
			<key>x</key>
			<string>213.231</string>
			<key>y</key>
			<string>113.112</string>
		</dict>
		<key>{8352d6d3-0852-4ad4-868a-7b82fd74ce07}</key>
		<dict>
			<key>x</key>
			<string>177.163</string>
			<key>y</key>
			<string>153.591</string>
		</dict>
		<key>{d1e180f2-4ea5-42af-8a81-81b8544cfc1f}</key>
		<dict>
			<key>x</key>
			<string>177.163</string>
			<key>y</key>
			<string>105.969</string>
		</dict>
		<key>{0535cb0f-d6ec-4f5a-9068-e735c2d9735b}</key>
		<dict>
			<key>x</key>
			<string>162.829</string>
			<key>y</key>
			<string>160.734</string>
		</dict>
		<key>{2a832187-afe5-489e-919d-c247ffa65da7}</key>
		<dict>
			<key>x</key>
			<string>162.829</string>
			<key>y</key>
			<string>113.112</string>
		</dict>
		<key>{8d416610-873f-4270-96db-428a2062173c}</key>
		<dict>
			<key>x</key>
			<string>148.496</string>
			<key>y</key>
			<string>165.496</string>
		</dict>
		<key>{6d522bc0-377d-4f9d-9686-498a1b1dc1c4}</key>
		<dict>
			<key>x</key>
			<string>148.496</string>
			<key>y</key>
			<string>117.874</string>
		</dict>
		<key>{f37fa384-46f7-4575-a980-dec0d5f5db07}</key>
		<dict>
			<key>x</key>
			<string>134.162</string>
			<key>y</key>
			<string>160.734</string>
		</dict>
		<key>{f8544537-a38d-4d73-89d2-6b6e6ab5e6e5}</key>
		<dict>
			<key>x</key>
			<string>134.162</string>
			<key>y</key>
			<string>113.112</string>
		</dict>
		<key>{c12713a1-6157-4600-bab6-c60fc0d51d21}</key>
		<dict>
			<key>x</key>
			<string>119.829</string>
			<key>y</key>
			<string>165.496</string>
		</dict>
		<key>{9cb990cd-3f1f-4718-a787-5b8e64f1fdf8}</key>
		<dict>
			<key>x</key>
			<string>119.829</string>
			<key>y</key>
			<string>117.874</string>
		</dict>
		<key>{84fc705e-dc61-48b2-86f6-94de2176bf45}</key>
		<dict>
			<key>x</key>
			<string>105.495</string>
			<key>y</key>
			<string>170.258</string>
		</dict>
		<key>{55fa8751-0973-45e0-b2a1-85457d9b14f3}</key>
		<dict>
			<key>x</key>
			<string>105.495</string>
			<key>y</key>
			<string>122.636</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{e3747ab9-66ad-4d7b-97e3-46d8c50d8329}</key>
		<dict>
			<key>x1</key>
			<string>507.147</string>
			<key>y1</key>
			<string>198.1</string>
			<key>x2</key>
			<string>507.147</string>
			<key>y2</key>
			<string>177.402</string>
			<key>height</key>
			<string>-21.4299</string>
		</dict>
		<key>{52360114-45fb-48ea-b31e-2153ee46a4c6}</key>
		<dict>
			<key>x1</key>
			<string>507.147</string>
			<key>y1</key>
			<string>121.905</string>
			<key>x2</key>
			<string>507.147</string>
			<key>y2</key>
			<string>106.564</string>
			<key>height</key>
			<string>-16.0724</string>
		</dict>
		<key>{e0f0df81-4026-4e0a-b343-010f31c32fd1}</key>
		<dict>
			<key>x1</key>
			<string>485.205</string>
			<key>y1</key>
			<string>197.937</string>
			<key>x2</key>
			<string>485.205</string>
			<key>y2</key>
			<string>176.211</string>
			<key>height</key>
			<string>-22.6205</string>
		</dict>
		<key>{dcc2a41d-cf83-45b4-961d-7260470a479a}</key>
		<dict>
			<key>x1</key>
			<string>479.554</string>
			<key>y1</key>
			<string>123.531</string>
			<key>x2</key>
			<string>479.554</string>
			<key>y2</key>
			<string>136.923</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{3b909e66-1f92-461c-926d-fe4ca4bfa7ec}</key>
		<dict>
			<key>x1</key>
			<string>470.084</string>
			<key>y1</key>
			<string>193.175</string>
			<key>x2</key>
			<string>470.084</string>
			<key>y2</key>
			<string>175.02</string>
			<key>height</key>
			<string>-19.0488</string>
		</dict>
		<key>{cb7320d7-7397-40ce-b247-90e6a9d48531}</key>
		<dict>
			<key>x1</key>
			<string>464.433</string>
			<key>y1</key>
			<string>118.768</string>
			<key>x2</key>
			<string>464.433</string>
			<key>y2</key>
			<string>133.946</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{2f93643d-3474-4d23-a659-a1bb0ad4ad08}</key>
		<dict>
			<key>x1</key>
			<string>454.963</string>
			<key>y1</key>
			<string>188.413</string>
			<key>x2</key>
			<string>454.963</string>
			<key>y2</key>
			<string>173.83</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{89a00aa9-8a70-4451-b519-2f1f8b5d0d94}</key>
		<dict>
			<key>x1</key>
			<string>449.312</string>
			<key>y1</key>
			<string>114.006</string>
			<key>x2</key>
			<string>449.312</string>
			<key>y2</key>
			<string>130.97</string>
			<key>height</key>
			<string>17.8583</string>
		</dict>
		<key>{9b517259-e03a-4502-aefb-a0933e9f321d}</key>
		<dict>
			<key>x1</key>
			<string>439.841</string>
			<key>y1</key>
			<string>193.175</string>
			<key>x2</key>
			<string>439.841</string>
			<key>y2</key>
			<string>172.639</string>
			<key>height</key>
			<string>-21.4299</string>
		</dict>
		<key>{b828cecb-7dce-4b08-8727-8f6be36ae19c}</key>
		<dict>
			<key>x1</key>
			<string>434.191</string>
			<key>y1</key>
			<string>118.768</string>
			<key>x2</key>
			<string>434.191</string>
			<key>y2</key>
			<string>130.97</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{0983e814-c314-4c7c-ba40-02d926de657d}</key>
		<dict>
			<key>x1</key>
			<string>424.72</string>
			<key>y1</key>
			<string>188.413</string>
			<key>x2</key>
			<string>424.72</string>
			<key>y2</key>
			<string>170.258</string>
			<key>height</key>
			<string>-19.0488</string>
		</dict>
		<key>{34681889-9329-4b9d-8306-2ca5da169ee0}</key>
		<dict>
			<key>x1</key>
			<string>419.07</string>
			<key>y1</key>
			<string>114.006</string>
			<key>x2</key>
			<string>419.07</string>
			<key>y2</key>
			<string>127.398</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{c9a00bc7-3c60-498d-864a-880ffd8bfc40}</key>
		<dict>
			<key>x1</key>
			<string>409.599</string>
			<key>y1</key>
			<string>181.269</string>
			<key>x2</key>
			<string>409.599</string>
			<key>y2</key>
			<string>167.877</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{370bbf4d-3785-4ce8-bfb4-b791e8dc4175}</key>
		<dict>
			<key>x1</key>
			<string>403.948</string>
			<key>y1</key>
			<string>106.863</string>
			<key>x2</key>
			<string>403.948</string>
			<key>y2</key>
			<string>123.827</string>
			<key>height</key>
			<string>17.8583</string>
		</dict>
		<key>{abdc928f-fcd1-4d8a-8f50-3fdc8bdd6abe}</key>
		<dict>
			<key>x1</key>
			<string>388.001</string>
			<key>y1</key>
			<string>188.413</string>
			<key>x2</key>
			<string>388.001</string>
			<key>y2</key>
			<string>169.068</string>
			<key>height</key>
			<string>-20.2394</string>
		</dict>
		<key>{0eec01c0-c4a5-4cc4-9caa-bf33903426c6}</key>
		<dict>
			<key>x1</key>
			<string>382.351</string>
			<key>y1</key>
			<string>114.006</string>
			<key>x2</key>
			<string>382.351</string>
			<key>y2</key>
			<string>127.398</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{fdd42859-2e9c-49a1-a556-c790fea40604}</key>
		<dict>
			<key>x1</key>
			<string>372.88</string>
			<key>y1</key>
			<string>181.269</string>
			<key>x2</key>
			<string>372.88</string>
			<key>y2</key>
			<string>165.496</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{b52401af-3b0e-49ff-9145-3d4a98cc5d43}</key>
		<dict>
			<key>x1</key>
			<string>367.229</string>
			<key>y1</key>
			<string>106.863</string>
			<key>x2</key>
			<string>367.229</string>
			<key>y2</key>
			<string>125.017</string>
			<key>height</key>
			<string>19.0488</string>
		</dict>
		<key>{f9aa00f2-80c1-4066-8481-b89a7ccf0d07}</key>
		<dict>
			<key>x1</key>
			<string>357.759</string>
			<key>y1</key>
			<string>176.507</string>
			<key>x2</key>
			<string>357.759</string>
			<key>y2</key>
			<string>161.924</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{be38ce03-ca5f-4b91-8909-2b245e2dbfd1}</key>
		<dict>
			<key>x1</key>
			<string>352.108</string>
			<key>y1</key>
			<string>102.101</string>
			<key>x2</key>
			<string>352.108</string>
			<key>y2</key>
			<string>122.636</string>
			<key>height</key>
			<string>21.4299</string>
		</dict>
		<key>{23625cd9-d890-4321-b08d-cf346f7a04b3}</key>
		<dict>
			<key>x1</key>
			<string>342.637</string>
			<key>y1</key>
			<string>181.269</string>
			<key>x2</key>
			<string>342.637</string>
			<key>y2</key>
			<string>164.306</string>
			<key>height</key>
			<string>-17.8583</string>
		</dict>
		<key>{c7388a03-6fa4-4f4b-ab85-3d0162d7c792}</key>
		<dict>
			<key>x1</key>
			<string>336.987</string>
			<key>y1</key>
			<string>106.863</string>
			<key>x2</key>
			<string>336.987</string>
			<key>y2</key>
			<string>119.065</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{9dd48410-10cb-4f8e-870a-57e19029d520}</key>
		<dict>
			<key>x1</key>
			<string>327.516</string>
			<key>y1</key>
			<string>176.507</string>
			<key>x2</key>
			<string>327.516</string>
			<key>y2</key>
			<string>161.329</string>
			<key>height</key>
			<string>-16.0724</string>
		</dict>
		<key>{fc2f6dfe-864f-4f11-927b-24b6e7868fae}</key>
		<dict>
			<key>x1</key>
			<string>321.866</string>
			<key>y1</key>
			<string>102.101</string>
			<key>x2</key>
			<string>321.866</string>
			<key>y2</key>
			<string>117.874</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{8eb4fef5-b56a-4857-abd4-65cb85e2124d}</key>
		<dict>
			<key>x1</key>
			<string>312.395</string>
			<key>y1</key>
			<string>171.745</string>
			<key>x2</key>
			<string>312.395</string>
			<key>y2</key>
			<string>158.353</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{8082828b-eb3f-4496-b882-c948a5a23e12}</key>
		<dict>
			<key>x1</key>
			<string>306.744</string>
			<key>y1</key>
			<string>97.3385</string>
			<key>x2</key>
			<string>306.744</string>
			<key>y2</key>
			<string>116.683</string>
			<key>height</key>
			<string>20.2394</string>
		</dict>
		<key>{acf094bb-24c5-44a6-8898-cb8ef07c8b3a}</key>
		<dict>
			<key>x1</key>
			<string>285.813</string>
			<key>y1</key>
			<string>173.534</string>
			<key>x2</key>
			<string>285.813</string>
			<key>y2</key>
			<string>188.117</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{9b378128-6f3b-4320-a526-cd91894910fc}</key>
		<dict>
			<key>x1</key>
			<string>285.813</string>
			<key>y1</key>
			<string>97.3385</string>
			<key>x2</key>
			<string>285.813</string>
			<key>y2</key>
			<string>116.683</string>
			<key>height</key>
			<string>20.2394</string>
		</dict>
		<key>{3c00c690-7613-4503-b8f5-10978bfc38c7}</key>
		<dict>
			<key>x1</key>
			<string>271.359</string>
			<key>y1</key>
			<string>178.296</string>
			<key>x2</key>
			<string>271.359</string>
			<key>y2</key>
			<string>191.688</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{ee489637-e58e-4f36-8c3e-7c4cf7bc1860}</key>
		<dict>
			<key>x1</key>
			<string>271.359</string>
			<key>y1</key>
			<string>102.101</string>
			<key>x2</key>
			<string>271.359</string>
			<key>y2</key>
			<string>117.874</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{074b617f-93b1-4398-a0b3-f8acab26df6d}</key>
		<dict>
			<key>x1</key>
			<string>256.904</string>
			<key>y1</key>
			<string>183.058</string>
			<key>x2</key>
			<string>256.904</string>
			<key>y2</key>
			<string>195.26</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{1ce51d4c-5f89-4ef6-b2ac-322c891920c7}</key>
		<dict>
			<key>x1</key>
			<string>256.904</string>
			<key>y1</key>
			<string>106.863</string>
			<key>x2</key>
			<string>256.904</string>
			<key>y2</key>
			<string>119.065</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{451db181-47fd-4262-952b-41fd902387d4}</key>
		<dict>
			<key>x1</key>
			<string>248.1</string>
			<key>y1</key>
			<string>176.507</string>
			<key>x2</key>
			<string>248.1</string>
			<key>y2</key>
			<string>161.924</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{21a7df9d-2bcd-41a8-857e-7e2430e9880e}</key>
		<dict>
			<key>x1</key>
			<string>242.45</string>
			<key>y1</key>
			<string>102.101</string>
			<key>x2</key>
			<string>242.45</string>
			<key>y2</key>
			<string>122.636</string>
			<key>height</key>
			<string>21.4299</string>
		</dict>
		<key>{1394af4f-2bb7-4302-b768-b611db4df8e3}</key>
		<dict>
			<key>x1</key>
			<string>233.646</string>
			<key>y1</key>
			<string>181.269</string>
			<key>x2</key>
			<string>233.646</string>
			<key>y2</key>
			<string>165.496</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{c0fe9cf1-4473-4b80-9fac-010434d414e4}</key>
		<dict>
			<key>x1</key>
			<string>227.995</string>
			<key>y1</key>
			<string>106.863</string>
			<key>x2</key>
			<string>227.995</string>
			<key>y2</key>
			<string>125.017</string>
			<key>height</key>
			<string>19.0488</string>
		</dict>
		<key>{a0ead26a-c389-4c66-8330-acade0d28dd1}</key>
		<dict>
			<key>x1</key>
			<string>219.191</string>
			<key>y1</key>
			<string>188.413</string>
			<key>x2</key>
			<string>219.191</string>
			<key>y2</key>
			<string>169.068</string>
			<key>height</key>
			<string>-20.2394</string>
		</dict>
		<key>{d16da5a1-8eae-4b51-ac5b-0b8acd0a97e9}</key>
		<dict>
			<key>x1</key>
			<string>213.541</string>
			<key>y1</key>
			<string>114.006</string>
			<key>x2</key>
			<string>213.541</string>
			<key>y2</key>
			<string>127.398</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{8352d6d3-0852-4ad4-868a-7b82fd74ce07}</key>
		<dict>
			<key>x1</key>
			<string>177.472</string>
			<key>y1</key>
			<string>154.485</string>
			<key>x2</key>
			<string>177.472</string>
			<key>y2</key>
			<string>176.211</string>
			<key>height</key>
			<string>22.6205</string>
		</dict>
		<key>{d1e180f2-4ea5-42af-8a81-81b8544cfc1f}</key>
		<dict>
			<key>x1</key>
			<string>177.472</string>
			<key>y1</key>
			<string>106.863</string>
			<key>x2</key>
			<string>177.472</string>
			<key>y2</key>
			<string>123.827</string>
			<key>height</key>
			<string>17.8583</string>
		</dict>
		<key>{0535cb0f-d6ec-4f5a-9068-e735c2d9735b}</key>
		<dict>
			<key>x1</key>
			<string>163.139</string>
			<key>y1</key>
			<string>161.628</string>
			<key>x2</key>
			<string>163.139</string>
			<key>y2</key>
			<string>177.402</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{2a832187-afe5-489e-919d-c247ffa65da7}</key>
		<dict>
			<key>x1</key>
			<string>163.139</string>
			<key>y1</key>
			<string>114.006</string>
			<key>x2</key>
			<string>163.139</string>
			<key>y2</key>
			<string>127.398</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{8d416610-873f-4270-96db-428a2062173c}</key>
		<dict>
			<key>x1</key>
			<string>148.805</string>
			<key>y1</key>
			<string>166.39</string>
			<key>x2</key>
			<string>148.805</string>
			<key>y2</key>
			<string>178.592</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{6d522bc0-377d-4f9d-9686-498a1b1dc1c4}</key>
		<dict>
			<key>x1</key>
			<string>148.805</string>
			<key>y1</key>
			<string>118.768</string>
			<key>x2</key>
			<string>148.805</string>
			<key>y2</key>
			<string>130.97</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{f37fa384-46f7-4575-a980-dec0d5f5db07}</key>
		<dict>
			<key>x1</key>
			<string>134.472</string>
			<key>y1</key>
			<string>161.628</string>
			<key>x2</key>
			<string>134.472</string>
			<key>y2</key>
			<string>177.402</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{f8544537-a38d-4d73-89d2-6b6e6ab5e6e5}</key>
		<dict>
			<key>x1</key>
			<string>134.472</string>
			<key>y1</key>
			<string>114.006</string>
			<key>x2</key>
			<string>134.472</string>
			<key>y2</key>
			<string>128.589</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{c12713a1-6157-4600-bab6-c60fc0d51d21}</key>
		<dict>
			<key>x1</key>
			<string>120.138</string>
			<key>y1</key>
			<string>166.39</string>
			<key>x2</key>
			<string>120.138</string>
			<key>y2</key>
			<string>180.378</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{9cb990cd-3f1f-4718-a787-5b8e64f1fdf8}</key>
		<dict>
			<key>x1</key>
			<string>120.138</string>
			<key>y1</key>
			<string>118.768</string>
			<key>x2</key>
			<string>120.138</string>
			<key>y2</key>
			<string>132.161</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{84fc705e-dc61-48b2-86f6-94de2176bf45}</key>
		<dict>
			<key>x1</key>
			<string>105.805</string>
			<key>y1</key>
			<string>171.153</string>
			<key>x2</key>
			<string>105.805</string>
			<key>y2</key>
			<string>183.354</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{55fa8751-0973-45e0-b2a1-85457d9b14f3}</key>
		<dict>
			<key>x1</key>
			<string>105.805</string>
			<key>y1</key>
			<string>123.531</string>
			<key>x2</key>
			<string>105.805</string>
			<key>y2</key>
			<string>135.732</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
	</dict>
</dict>
</plist>