<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>63.9721</string>
			<key>y</key>
			<string>100.85</string>
			<key>bx</key>
			<string>63.9721</string>
			<key>by</key>
			<string>139.717</string>
			<key>spatium</key>
			<string>4.7622</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{2b8fc1c6-3ee1-448f-b12d-1c4320323f43}</key>
		<dict>
			<key>x</key>
			<string>529.029</string>
			<key>y</key>
			<string>177.045</string>
		</dict>
		<key>{747ae589-bb17-4267-aaa0-9d7e821ef7ae}</key>
		<dict>
			<key>x</key>
			<string>529.029</string>
			<key>y</key>
			<string>129.423</string>
		</dict>
		<key>{c192692d-b37a-47c2-879c-9a832fb4d38d}</key>
		<dict>
			<key>x</key>
			<string>502.257</string>
			<key>y</key>
			<string>174.664</string>
		</dict>
		<key>{7ccf742f-aa7d-445a-bdc7-779276525cdc}</key>
		<dict>
			<key>x</key>
			<string>502.257</string>
			<key>y</key>
			<string>127.042</string>
		</dict>
		<key>{dae8c165-5cf7-4d9a-a276-7b80a7aba5e9}</key>
		<dict>
			<key>x</key>
			<string>490.418</string>
			<key>y</key>
			<string>172.283</string>
		</dict>
		<key>{52b83704-fd6a-4851-bb5b-dea89a35bd98}</key>
		<dict>
			<key>x</key>
			<string>490.418</string>
			<key>y</key>
			<string>124.661</string>
		</dict>
		<key>{ea182607-d9a5-4aca-8e97-cfe0e21bca3c}</key>
		<dict>
			<key>x</key>
			<string>478.578</string>
			<key>y</key>
			<string>169.902</string>
		</dict>
		<key>{91e55c8d-d589-44be-a2c5-9bdaf097cacb}</key>
		<dict>
			<key>x</key>
			<string>478.578</string>
			<key>y</key>
			<string>122.28</string>
		</dict>
		<key>{3fc675b8-fbfb-4d67-a972-240912161649}</key>
		<dict>
			<key>x</key>
			<string>466.739</string>
			<key>y</key>
			<string>167.52</string>
		</dict>
		<key>{be2ada93-8775-4d6e-a49c-805832401b67}</key>
		<dict>
			<key>x</key>
			<string>466.739</string>
			<key>y</key>
			<string>119.898</string>
		</dict>
		<key>{f5cba65c-fbdf-4add-b6e1-66af47f3f0d8}</key>
		<dict>
			<key>x</key>
			<string>446.871</string>
			<key>y</key>
			<string>165.139</string>
		</dict>
		<key>{132ce009-699b-449e-a8c1-ecfa486ae1f6}</key>
		<dict>
			<key>x</key>
			<string>446.871</string>
			<key>y</key>
			<string>117.517</string>
		</dict>
		<key>{75776fae-dda4-4fb4-8a36-73d08844c8b6}</key>
		<dict>
			<key>x</key>
			<string>433.479</string>
			<key>y</key>
			<string>162.758</string>
		</dict>
		<key>{fd939a47-d267-4fa4-9f1a-706bd8f33be1}</key>
		<dict>
			<key>x</key>
			<string>433.479</string>
			<key>y</key>
			<string>115.136</string>
		</dict>
		<key>{e3e87950-301f-41ea-8d2d-393078af9ee4}</key>
		<dict>
			<key>x</key>
			<string>418.678</string>
			<key>y</key>
			<string>160.377</string>
		</dict>
		<key>{d603f4bc-547a-4368-81e1-bd9f2a3879a2}</key>
		<dict>
			<key>x</key>
			<string>418.678</string>
			<key>y</key>
			<string>112.755</string>
		</dict>
		<key>{ac14a2e3-92da-4de2-8799-c8a60fff6dc7}</key>
		<dict>
			<key>x</key>
			<string>405.286</string>
			<key>y</key>
			<string>157.996</string>
		</dict>
		<key>{fab3bc3f-271c-41ef-9062-c420a4292c22}</key>
		<dict>
			<key>x</key>
			<string>405.286</string>
			<key>y</key>
			<string>110.374</string>
		</dict>
		<key>{1dbebe4a-7071-4cd0-8da1-9946c56282dd}</key>
		<dict>
			<key>x</key>
			<string>384.81</string>
			<key>y</key>
			<string>155.615</string>
		</dict>
		<key>{c8074815-31ee-415a-94b3-2b7414ad20c4}</key>
		<dict>
			<key>x</key>
			<string>384.81</string>
			<key>y</key>
			<string>107.993</string>
		</dict>
		<key>{a1c91d81-9d65-4191-937a-1718db8b1095}</key>
		<dict>
			<key>x</key>
			<string>370.81</string>
			<key>y</key>
			<string>153.234</string>
		</dict>
		<key>{15f15023-42be-4c62-b596-c3b665fca609}</key>
		<dict>
			<key>x</key>
			<string>370.81</string>
			<key>y</key>
			<string>105.612</string>
		</dict>
		<key>{d39f6bb0-7e04-444c-836f-d9087d8c1528}</key>
		<dict>
			<key>x</key>
			<string>356.811</string>
			<key>y</key>
			<string>150.853</string>
		</dict>
		<key>{254ed050-ee9a-493e-a6bb-9ee1ef209b12}</key>
		<dict>
			<key>x</key>
			<string>356.811</string>
			<key>y</key>
			<string>103.231</string>
		</dict>
		<key>{411d8793-54ea-446f-9e9e-936fc159c1a7}</key>
		<dict>
			<key>x</key>
			<string>342.811</string>
			<key>y</key>
			<string>148.472</string>
		</dict>
		<key>{12112db0-2529-49b0-a947-21194963de61}</key>
		<dict>
			<key>x</key>
			<string>342.811</string>
			<key>y</key>
			<string>100.85</string>
		</dict>
		<key>{f0306c27-e648-42d1-9958-3a5b2272f902}</key>
		<dict>
			<key>x</key>
			<string>321.766</string>
			<key>y</key>
			<string>146.091</string>
		</dict>
		<key>{e90ff457-91ed-481d-be94-d92b37355c0b}</key>
		<dict>
			<key>x</key>
			<string>321.766</string>
			<key>y</key>
			<string>98.4685</string>
		</dict>
		<key>{2a38ab0f-b267-436f-b9d0-ede6db9202ae}</key>
		<dict>
			<key>x</key>
			<string>307.197</string>
			<key>y</key>
			<string>143.709</string>
		</dict>
		<key>{b2d786e9-ee1a-422a-a8db-f2967fd83ff4}</key>
		<dict>
			<key>x</key>
			<string>307.197</string>
			<key>y</key>
			<string>96.0874</string>
		</dict>
		<key>{d26b9637-18af-436b-a951-96cd6e4bd913}</key>
		<dict>
			<key>x</key>
			<string>292.629</string>
			<key>y</key>
			<string>146.091</string>
		</dict>
		<key>{09fe0454-5724-4a61-b074-f94f028998b1}</key>
		<dict>
			<key>x</key>
			<string>292.629</string>
			<key>y</key>
			<string>98.4685</string>
		</dict>
		<key>{e43b89a3-3677-462b-8062-1478a822fb15}</key>
		<dict>
			<key>x</key>
			<string>276.875</string>
			<key>y</key>
			<string>148.472</string>
		</dict>
		<key>{594f1397-1cea-4692-b915-310b4a0dcea9}</key>
		<dict>
			<key>x</key>
			<string>276.875</string>
			<key>y</key>
			<string>100.85</string>
		</dict>
		<key>{2a741ae5-202d-49fe-824d-262bef50f294}</key>
		<dict>
			<key>x</key>
			<string>256.585</string>
			<key>y</key>
			<string>150.853</string>
		</dict>
		<key>{9e133c32-1ab9-4ace-bd40-6a78de8f569f}</key>
		<dict>
			<key>x</key>
			<string>256.585</string>
			<key>y</key>
			<string>103.231</string>
		</dict>
		<key>{8b5ee4a5-d802-4523-b1e5-823c45e41465}</key>
		<dict>
			<key>x</key>
			<string>242.771</string>
			<key>y</key>
			<string>153.234</string>
		</dict>
		<key>{132af9c1-31aa-4f1b-8890-19a83e20d7e6}</key>
		<dict>
			<key>x</key>
			<string>242.771</string>
			<key>y</key>
			<string>105.612</string>
		</dict>
		<key>{e28fe321-bd30-4e53-905b-e0ebb4a256e1}</key>
		<dict>
			<key>x</key>
			<string>228.957</string>
			<key>y</key>
			<string>155.615</string>
		</dict>
		<key>{7732f686-6ab2-40a2-bdc5-52505f157cc7}</key>
		<dict>
			<key>x</key>
			<string>228.957</string>
			<key>y</key>
			<string>107.993</string>
		</dict>
		<key>{86515de8-5e40-4579-bfb0-676f9a1f7840}</key>
		<dict>
			<key>x</key>
			<string>215.143</string>
			<key>y</key>
			<string>157.996</string>
		</dict>
		<key>{3036776c-9abd-4c82-a807-dcaa0d0d2510}</key>
		<dict>
			<key>x</key>
			<string>215.143</string>
			<key>y</key>
			<string>110.374</string>
		</dict>
		<key>{3368a668-c32c-46bd-8b6b-854c0ad68c54}</key>
		<dict>
			<key>x</key>
			<string>195.956</string>
			<key>y</key>
			<string>160.377</string>
		</dict>
		<key>{5017e7b5-20cf-4297-9e03-0c5db59c5606}</key>
		<dict>
			<key>x</key>
			<string>195.956</string>
			<key>y</key>
			<string>112.755</string>
		</dict>
		<key>{902d92da-6367-435f-8b1b-799638c3cd7b}</key>
		<dict>
			<key>x</key>
			<string>183.246</string>
			<key>y</key>
			<string>162.758</string>
		</dict>
		<key>{e2e0c6a1-a069-4709-a431-3a5bda436cae}</key>
		<dict>
			<key>x</key>
			<string>183.246</string>
			<key>y</key>
			<string>115.136</string>
		</dict>
		<key>{99d29ffa-e230-49c6-803a-c7d33ab062aa}</key>
		<dict>
			<key>x</key>
			<string>168.445</string>
			<key>y</key>
			<string>165.139</string>
		</dict>
		<key>{1a2d5fd2-e974-407f-a507-cc4533005806}</key>
		<dict>
			<key>x</key>
			<string>168.445</string>
			<key>y</key>
			<string>117.517</string>
		</dict>
		<key>{0b312c8d-b82d-4204-b7a9-6f8e87f6fdb7}</key>
		<dict>
			<key>x</key>
			<string>155.734</string>
			<key>y</key>
			<string>167.52</string>
		</dict>
		<key>{a69d0308-3c7e-4c11-80f9-ffeb7a2441dc}</key>
		<dict>
			<key>x</key>
			<string>155.734</string>
			<key>y</key>
			<string>119.898</string>
		</dict>
		<key>{805df951-0d5a-4fa7-9fc1-60d98fe6faac}</key>
		<dict>
			<key>x</key>
			<string>137.137</string>
			<key>y</key>
			<string>169.902</string>
		</dict>
		<key>{2bdc85bf-ba4e-4478-92ae-30069ff8ddb4}</key>
		<dict>
			<key>x</key>
			<string>137.137</string>
			<key>y</key>
			<string>122.28</string>
		</dict>
		<key>{01f0a288-4bff-4f73-8860-99a58af6c229}</key>
		<dict>
			<key>x</key>
			<string>125.015</string>
			<key>y</key>
			<string>172.283</string>
		</dict>
		<key>{4d9f40b2-d43e-4759-9f0d-36682340df00}</key>
		<dict>
			<key>x</key>
			<string>125.015</string>
			<key>y</key>
			<string>124.661</string>
		</dict>
		<key>{bda116f1-6d34-4aed-8de6-5e92769db01f}</key>
		<dict>
			<key>x</key>
			<string>112.894</string>
			<key>y</key>
			<string>174.664</string>
		</dict>
		<key>{5b51055b-5d09-4b91-bbcf-9903347b4920}</key>
		<dict>
			<key>x</key>
			<string>112.894</string>
			<key>y</key>
			<string>127.042</string>
		</dict>
		<key>{d56608f4-0628-47c0-85c4-d031eaf385e6}</key>
		<dict>
			<key>x</key>
			<string>100.773</string>
			<key>y</key>
			<string>177.045</string>
		</dict>
		<key>{a1bcce9b-20cf-439f-98eb-65afdf274e1c}</key>
		<dict>
			<key>x</key>
			<string>100.773</string>
			<key>y</key>
			<string>129.423</string>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{2b8fc1c6-3ee1-448f-b12d-1c4320323f43}</key>
		<dict>
			<key>x1</key>
			<string>535.333</string>
			<key>y1</key>
			<string>176.313</string>
			<key>x2</key>
			<string>535.333</string>
			<key>y2</key>
			<string>160.377</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{747ae589-bb17-4267-aaa0-9d7e821ef7ae}</key>
		<dict>
			<key>x1</key>
			<string>535.333</string>
			<key>y1</key>
			<string>128.691</string>
			<key>x2</key>
			<string>535.333</string>
			<key>y2</key>
			<string>110.374</string>
			<key>height</key>
			<string>-19.0488</string>
		</dict>
		<key>{c192692d-b37a-47c2-879c-9a832fb4d38d}</key>
		<dict>
			<key>x1</key>
			<string>508.217</string>
			<key>y1</key>
			<string>173.769</string>
			<key>x2</key>
			<string>508.217</string>
			<key>y2</key>
			<string>156.806</string>
			<key>height</key>
			<string>-17.8583</string>
		</dict>
		<key>{7ccf742f-aa7d-445a-bdc7-779276525cdc}</key>
		<dict>
			<key>x1</key>
			<string>508.217</string>
			<key>y1</key>
			<string>126.147</string>
			<key>x2</key>
			<string>508.217</string>
			<key>y2</key>
			<string>111.565</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{dae8c165-5cf7-4d9a-a276-7b80a7aba5e9}</key>
		<dict>
			<key>x1</key>
			<string>496.378</string>
			<key>y1</key>
			<string>171.388</string>
			<key>x2</key>
			<string>496.378</string>
			<key>y2</key>
			<string>155.218</string>
			<key>height</key>
			<string>-17.0646</string>
		</dict>
		<key>{52b83704-fd6a-4851-bb5b-dea89a35bd98}</key>
		<dict>
			<key>x1</key>
			<string>496.378</string>
			<key>y1</key>
			<string>123.766</string>
			<key>x2</key>
			<string>496.378</string>
			<key>y2</key>
			<string>109.58</string>
			<key>height</key>
			<string>-15.0803</string>
		</dict>
		<key>{ea182607-d9a5-4aca-8e97-cfe0e21bca3c}</key>
		<dict>
			<key>x1</key>
			<string>484.539</string>
			<key>y1</key>
			<string>169.007</string>
			<key>x2</key>
			<string>484.539</string>
			<key>y2</key>
			<string>153.631</string>
			<key>height</key>
			<string>-16.2709</string>
		</dict>
		<key>{91e55c8d-d589-44be-a2c5-9bdaf097cacb}</key>
		<dict>
			<key>x1</key>
			<string>484.539</string>
			<key>y1</key>
			<string>121.385</string>
			<key>x2</key>
			<string>484.539</string>
			<key>y2</key>
			<string>107.596</string>
			<key>height</key>
			<string>-14.6835</string>
		</dict>
		<key>{3fc675b8-fbfb-4d67-a972-240912161649}</key>
		<dict>
			<key>x1</key>
			<string>472.7</string>
			<key>y1</key>
			<string>166.626</string>
			<key>x2</key>
			<string>472.7</string>
			<key>y2</key>
			<string>152.043</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{be2ada93-8775-4d6e-a49c-805832401b67}</key>
		<dict>
			<key>x1</key>
			<string>472.7</string>
			<key>y1</key>
			<string>119.004</string>
			<key>x2</key>
			<string>472.7</string>
			<key>y2</key>
			<string>105.612</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{f5cba65c-fbdf-4add-b6e1-66af47f3f0d8}</key>
		<dict>
			<key>x1</key>
			<string>447.181</string>
			<key>y1</key>
			<string>166.034</string>
			<key>x2</key>
			<string>447.181</string>
			<key>y2</key>
			<string>179.426</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{132ce009-699b-449e-a8c1-ecfa486ae1f6}</key>
		<dict>
			<key>x1</key>
			<string>452.831</string>
			<key>y1</key>
			<string>116.623</string>
			<key>x2</key>
			<string>452.831</string>
			<key>y2</key>
			<string>102.04</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{75776fae-dda4-4fb4-8a36-73d08844c8b6}</key>
		<dict>
			<key>x1</key>
			<string>433.789</string>
			<key>y1</key>
			<string>163.653</string>
			<key>x2</key>
			<string>433.789</string>
			<key>y2</key>
			<string>177.509</string>
			<key>height</key>
			<string>14.7507</string>
		</dict>
		<key>{fd939a47-d267-4fa4-9f1a-706bd8f33be1}</key>
		<dict>
			<key>x1</key>
			<string>439.439</string>
			<key>y1</key>
			<string>114.242</string>
			<key>x2</key>
			<string>439.439</string>
			<key>y2</key>
			<string>100.123</string>
			<key>height</key>
			<string>-15.013</string>
		</dict>
		<key>{e3e87950-301f-41ea-8d2d-393078af9ee4}</key>
		<dict>
			<key>x1</key>
			<string>418.987</string>
			<key>y1</key>
			<string>161.272</string>
			<key>x2</key>
			<string>418.987</string>
			<key>y2</key>
			<string>175.39</string>
			<key>height</key>
			<string>15.013</string>
		</dict>
		<key>{d603f4bc-547a-4368-81e1-bd9f2a3879a2}</key>
		<dict>
			<key>x1</key>
			<string>424.638</string>
			<key>y1</key>
			<string>111.861</string>
			<key>x2</key>
			<string>424.638</string>
			<key>y2</key>
			<string>98.0044</string>
			<key>height</key>
			<string>-14.7507</string>
		</dict>
		<key>{ac14a2e3-92da-4de2-8799-c8a60fff6dc7}</key>
		<dict>
			<key>x1</key>
			<string>405.596</string>
			<key>y1</key>
			<string>158.89</string>
			<key>x2</key>
			<string>405.596</string>
			<key>y2</key>
			<string>173.473</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{fab3bc3f-271c-41ef-9062-c420a4292c22}</key>
		<dict>
			<key>x1</key>
			<string>411.246</string>
			<key>y1</key>
			<string>109.48</string>
			<key>x2</key>
			<string>411.246</string>
			<key>y2</key>
			<string>96.0874</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{1dbebe4a-7071-4cd0-8da1-9946c56282dd}</key>
		<dict>
			<key>x1</key>
			<string>385.119</string>
			<key>y1</key>
			<string>156.509</string>
			<key>x2</key>
			<string>385.119</string>
			<key>y2</key>
			<string>168.711</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{c8074815-31ee-415a-94b3-2b7414ad20c4}</key>
		<dict>
			<key>x1</key>
			<string>385.119</string>
			<key>y1</key>
			<string>108.887</string>
			<key>x2</key>
			<string>385.119</string>
			<key>y2</key>
			<string>123.47</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{a1c91d81-9d65-4191-937a-1718db8b1095}</key>
		<dict>
			<key>x1</key>
			<string>371.12</string>
			<key>y1</key>
			<string>154.128</string>
			<key>x2</key>
			<string>371.12</string>
			<key>y2</key>
			<string>167.917</string>
			<key>height</key>
			<string>14.6835</string>
		</dict>
		<key>{15f15023-42be-4c62-b596-c3b665fca609}</key>
		<dict>
			<key>x1</key>
			<string>371.12</string>
			<key>y1</key>
			<string>106.506</string>
			<key>x2</key>
			<string>371.12</string>
			<key>y2</key>
			<string>121.486</string>
			<key>height</key>
			<string>15.874</string>
		</dict>
		<key>{d39f6bb0-7e04-444c-836f-d9087d8c1528}</key>
		<dict>
			<key>x1</key>
			<string>357.12</string>
			<key>y1</key>
			<string>151.747</string>
			<key>x2</key>
			<string>357.12</string>
			<key>y2</key>
			<string>167.124</string>
			<key>height</key>
			<string>16.2709</string>
		</dict>
		<key>{254ed050-ee9a-493e-a6bb-9ee1ef209b12}</key>
		<dict>
			<key>x1</key>
			<string>357.12</string>
			<key>y1</key>
			<string>104.125</string>
			<key>x2</key>
			<string>357.12</string>
			<key>y2</key>
			<string>119.502</string>
			<key>height</key>
			<string>16.2709</string>
		</dict>
		<key>{411d8793-54ea-446f-9e9e-936fc159c1a7}</key>
		<dict>
			<key>x1</key>
			<string>343.121</string>
			<key>y1</key>
			<string>149.366</string>
			<key>x2</key>
			<string>343.121</string>
			<key>y2</key>
			<string>166.33</string>
			<key>height</key>
			<string>17.8583</string>
		</dict>
		<key>{12112db0-2529-49b0-a947-21194963de61}</key>
		<dict>
			<key>x1</key>
			<string>343.121</string>
			<key>y1</key>
			<string>101.744</string>
			<key>x2</key>
			<string>343.121</string>
			<key>y2</key>
			<string>117.517</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{f0306c27-e648-42d1-9958-3a5b2272f902}</key>
		<dict>
			<key>x1</key>
			<string>322.076</string>
			<key>y1</key>
			<string>146.985</string>
			<key>x2</key>
			<string>322.076</string>
			<key>y2</key>
			<string>168.711</string>
			<key>height</key>
			<string>22.6205</string>
		</dict>
		<key>{e90ff457-91ed-481d-be94-d92b37355c0b}</key>
		<dict>
			<key>x1</key>
			<string>322.076</string>
			<key>y1</key>
			<string>99.3629</string>
			<key>x2</key>
			<string>322.076</string>
			<key>y2</key>
			<string>113.946</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{2a38ab0f-b267-436f-b9d0-ede6db9202ae}</key>
		<dict>
			<key>x1</key>
			<string>307.507</string>
			<key>y1</key>
			<string>144.604</string>
			<key>x2</key>
			<string>307.507</string>
			<key>y2</key>
			<string>169.097</string>
			<key>height</key>
			<string>25.3879</string>
		</dict>
		<key>{b2d786e9-ee1a-422a-a8db-f2967fd83ff4}</key>
		<dict>
			<key>x1</key>
			<string>307.507</string>
			<key>y1</key>
			<string>96.9818</string>
			<key>x2</key>
			<string>307.507</string>
			<key>y2</key>
			<string>114.332</string>
			<key>height</key>
			<string>18.2446</string>
		</dict>
		<key>{d26b9637-18af-436b-a951-96cd6e4bd913}</key>
		<dict>
			<key>x1</key>
			<string>292.938</string>
			<key>y1</key>
			<string>146.985</string>
			<key>x2</key>
			<string>292.938</string>
			<key>y2</key>
			<string>169.484</string>
			<key>height</key>
			<string>23.3932</string>
		</dict>
		<key>{09fe0454-5724-4a61-b074-f94f028998b1}</key>
		<dict>
			<key>x1</key>
			<string>292.938</string>
			<key>y1</key>
			<string>99.3629</string>
			<key>x2</key>
			<string>292.938</string>
			<key>y2</key>
			<string>114.718</string>
			<key>height</key>
			<string>16.2499</string>
		</dict>
		<key>{e43b89a3-3677-462b-8062-1478a822fb15}</key>
		<dict>
			<key>x1</key>
			<string>277.184</string>
			<key>y1</key>
			<string>149.366</string>
			<key>x2</key>
			<string>277.184</string>
			<key>y2</key>
			<string>169.902</string>
			<key>height</key>
			<string>21.4299</string>
		</dict>
		<key>{594f1397-1cea-4692-b915-310b4a0dcea9}</key>
		<dict>
			<key>x1</key>
			<string>277.184</string>
			<key>y1</key>
			<string>101.744</string>
			<key>x2</key>
			<string>277.184</string>
			<key>y2</key>
			<string>115.136</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{2a741ae5-202d-49fe-824d-262bef50f294}</key>
		<dict>
			<key>x1</key>
			<string>256.894</string>
			<key>y1</key>
			<string>151.747</string>
			<key>x2</key>
			<string>256.894</string>
			<key>y2</key>
			<string>168.711</string>
			<key>height</key>
			<string>17.8583</string>
		</dict>
		<key>{9e133c32-1ab9-4ace-bd40-6a78de8f569f}</key>
		<dict>
			<key>x1</key>
			<string>256.894</string>
			<key>y1</key>
			<string>104.125</string>
			<key>x2</key>
			<string>256.894</string>
			<key>y2</key>
			<string>118.708</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{8b5ee4a5-d802-4523-b1e5-823c45e41465}</key>
		<dict>
			<key>x1</key>
			<string>243.08</string>
			<key>y1</key>
			<string>154.128</string>
			<key>x2</key>
			<string>243.08</string>
			<key>y2</key>
			<string>169.505</string>
			<key>height</key>
			<string>16.2709</string>
		</dict>
		<key>{132af9c1-31aa-4f1b-8890-19a83e20d7e6}</key>
		<dict>
			<key>x1</key>
			<string>243.08</string>
			<key>y1</key>
			<string>106.506</string>
			<key>x2</key>
			<string>243.08</string>
			<key>y2</key>
			<string>120.692</string>
			<key>height</key>
			<string>15.0803</string>
		</dict>
		<key>{e28fe321-bd30-4e53-905b-e0ebb4a256e1}</key>
		<dict>
			<key>x1</key>
			<string>229.267</string>
			<key>y1</key>
			<string>156.509</string>
			<key>x2</key>
			<string>229.267</string>
			<key>y2</key>
			<string>170.298</string>
			<key>height</key>
			<string>14.6835</string>
		</dict>
		<key>{7732f686-6ab2-40a2-bdc5-52505f157cc7}</key>
		<dict>
			<key>x1</key>
			<string>229.267</string>
			<key>y1</key>
			<string>108.887</string>
			<key>x2</key>
			<string>229.267</string>
			<key>y2</key>
			<string>122.676</string>
			<key>height</key>
			<string>14.6835</string>
		</dict>
		<key>{86515de8-5e40-4579-bfb0-676f9a1f7840}</key>
		<dict>
			<key>x1</key>
			<string>215.453</string>
			<key>y1</key>
			<string>158.89</string>
			<key>x2</key>
			<string>215.453</string>
			<key>y2</key>
			<string>171.092</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{3036776c-9abd-4c82-a807-dcaa0d0d2510}</key>
		<dict>
			<key>x1</key>
			<string>215.453</string>
			<key>y1</key>
			<string>111.268</string>
			<key>x2</key>
			<string>215.453</string>
			<key>y2</key>
			<string>124.661</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{3368a668-c32c-46bd-8b6b-854c0ad68c54}</key>
		<dict>
			<key>x1</key>
			<string>196.266</string>
			<key>y1</key>
			<string>161.272</string>
			<key>x2</key>
			<string>196.266</string>
			<key>y2</key>
			<string>174.664</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{5017e7b5-20cf-4297-9e03-0c5db59c5606}</key>
		<dict>
			<key>x1</key>
			<string>201.917</string>
			<key>y1</key>
			<string>111.861</string>
			<key>x2</key>
			<string>201.917</string>
			<key>y2</key>
			<string>99.6591</string>
			<key>height</key>
			<string>-13.0961</string>
		</dict>
		<key>{902d92da-6367-435f-8b1b-799638c3cd7b}</key>
		<dict>
			<key>x1</key>
			<string>183.556</string>
			<key>y1</key>
			<string>163.653</string>
			<key>x2</key>
			<string>183.556</string>
			<key>y2</key>
			<string>176.545</string>
			<key>height</key>
			<string>13.7866</string>
		</dict>
		<key>{e2e0c6a1-a069-4709-a431-3a5bda436cae}</key>
		<dict>
			<key>x1</key>
			<string>189.206</string>
			<key>y1</key>
			<string>114.242</string>
			<key>x2</key>
			<string>189.206</string>
			<key>y2</key>
			<string>101.54</string>
			<key>height</key>
			<string>-13.5961</string>
		</dict>
		<key>{99d29ffa-e230-49c6-803a-c7d33ab062aa}</key>
		<dict>
			<key>x1</key>
			<string>168.754</string>
			<key>y1</key>
			<string>166.034</string>
			<key>x2</key>
			<string>168.754</string>
			<key>y2</key>
			<string>178.735</string>
			<key>height</key>
			<string>13.5961</string>
		</dict>
		<key>{1a2d5fd2-e974-407f-a507-cc4533005806}</key>
		<dict>
			<key>x1</key>
			<string>174.405</string>
			<key>y1</key>
			<string>116.623</string>
			<key>x2</key>
			<string>174.405</string>
			<key>y2</key>
			<string>103.731</string>
			<key>height</key>
			<string>-13.7866</string>
		</dict>
		<key>{0b312c8d-b82d-4204-b7a9-6f8e87f6fdb7}</key>
		<dict>
			<key>x1</key>
			<string>156.044</string>
			<key>y1</key>
			<string>168.415</string>
			<key>x2</key>
			<string>156.044</string>
			<key>y2</key>
			<string>180.617</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{a69d0308-3c7e-4c11-80f9-ffeb7a2441dc}</key>
		<dict>
			<key>x1</key>
			<string>161.694</string>
			<key>y1</key>
			<string>119.004</string>
			<key>x2</key>
			<string>161.694</string>
			<key>y2</key>
			<string>105.612</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{805df951-0d5a-4fa7-9fc1-60d98fe6faac}</key>
		<dict>
			<key>x1</key>
			<string>143.097</string>
			<key>y1</key>
			<string>169.007</string>
			<key>x2</key>
			<string>143.097</string>
			<key>y2</key>
			<string>155.615</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{2bdc85bf-ba4e-4478-92ae-30069ff8ddb4}</key>
		<dict>
			<key>x1</key>
			<string>143.097</string>
			<key>y1</key>
			<string>121.385</string>
			<key>x2</key>
			<string>143.097</string>
			<key>y2</key>
			<string>106.802</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{01f0a288-4bff-4f73-8860-99a58af6c229}</key>
		<dict>
			<key>x1</key>
			<string>130.976</string>
			<key>y1</key>
			<string>171.388</string>
			<key>x2</key>
			<string>130.976</string>
			<key>y2</key>
			<string>157.599</string>
			<key>height</key>
			<string>-14.6835</string>
		</dict>
		<key>{4d9f40b2-d43e-4759-9f0d-36682340df00}</key>
		<dict>
			<key>x1</key>
			<string>130.976</string>
			<key>y1</key>
			<string>123.766</string>
			<key>x2</key>
			<string>130.976</string>
			<key>y2</key>
			<string>107.596</string>
			<key>height</key>
			<string>-17.0646</string>
		</dict>
		<key>{bda116f1-6d34-4aed-8de6-5e92769db01f}</key>
		<dict>
			<key>x1</key>
			<string>118.854</string>
			<key>y1</key>
			<string>173.769</string>
			<key>x2</key>
			<string>118.854</string>
			<key>y2</key>
			<string>159.583</string>
			<key>height</key>
			<string>-15.0803</string>
		</dict>
		<key>{5b51055b-5d09-4b91-bbcf-9903347b4920}</key>
		<dict>
			<key>x1</key>
			<string>118.854</string>
			<key>y1</key>
			<string>126.147</string>
			<key>x2</key>
			<string>118.854</string>
			<key>y2</key>
			<string>108.39</string>
			<key>height</key>
			<string>-18.652</string>
		</dict>
		<key>{d56608f4-0628-47c0-85c4-d031eaf385e6}</key>
		<dict>
			<key>x1</key>
			<string>106.733</string>
			<key>y1</key>
			<string>176.15</string>
			<key>x2</key>
			<string>106.733</string>
			<key>y2</key>
			<string>161.568</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{a1bcce9b-20cf-439f-98eb-65afdf274e1c}</key>
		<dict>
			<key>x1</key>
			<string>106.733</string>
			<key>y1</key>
			<string>128.528</string>
			<key>x2</key>
			<string>106.733</string>
			<key>y2</key>
			<string>109.183</string>
			<key>height</key>
			<string>-20.2394</string>
		</dict>
	</dict>
</dict>
</plist>