<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>63.9721</string>
			<key>y</key>
			<string>109.85</string>
			<key>bx</key>
			<string>63.9721</string>
			<key>by</key>
			<string>148.717</string>
			<key>spatium</key>
			<string>4.7622</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{d9cd0853-5e02-4a09-8b8f-a77354f5a986}</key>
		<dict>
			<key>x</key>
			<string>530.096</string>
			<key>y</key>
			<string>188.426</string>
		</dict>
		<key>{81fe01be-867c-4be8-b586-fba35dd39261}</key>
		<dict>
			<key>x</key>
			<string>530.096</string>
			<key>y</key>
			<string>140.804</string>
		</dict>
		<key>{82eb1a51-52e1-49c9-b947-99b6d564a0f2}</key>
		<dict>
			<key>x</key>
			<string>501.361</string>
			<key>y</key>
			<string>186.045</string>
		</dict>
		<key>{3e6bc204-585d-41f5-a531-8200c7ef81eb}</key>
		<dict>
			<key>x</key>
			<string>501.361</string>
			<key>y</key>
			<string>138.423</string>
		</dict>
		<key>{05fbefe7-17de-4ec4-a54b-07ea3a61b1d6}</key>
		<dict>
			<key>x</key>
			<string>487.56</string>
			<key>y</key>
			<string>183.664</string>
		</dict>
		<key>{105612de-e65a-4679-a768-b8d2bf83ed85}</key>
		<dict>
			<key>x</key>
			<string>487.56</string>
			<key>y</key>
			<string>136.042</string>
		</dict>
		<key>{756e2b48-c3f4-4b99-ae55-263339807a33}</key>
		<dict>
			<key>x</key>
			<string>473.758</string>
			<key>y</key>
			<string>181.283</string>
		</dict>
		<key>{54f0b0f8-70d7-40eb-bf26-538c154c582b}</key>
		<dict>
			<key>x</key>
			<string>473.758</string>
			<key>y</key>
			<string>133.661</string>
		</dict>
		<key>{55632e7d-cd09-4533-a96e-281938333d30}</key>
		<dict>
			<key>x</key>
			<string>459.957</string>
			<key>y</key>
			<string>178.902</string>
		</dict>
		<key>{5efe4f8d-4885-48cb-9fe5-5aced5574642}</key>
		<dict>
			<key>x</key>
			<string>459.957</string>
			<key>y</key>
			<string>131.28</string>
		</dict>
		<key>{d1e928dd-5efb-4d4d-a1c2-4fad9b9b77bd}</key>
		<dict>
			<key>x</key>
			<string>441.584</string>
			<key>y</key>
			<string>176.521</string>
		</dict>
		<key>{9f6ed5cb-3774-4d57-a685-adac23b13db5}</key>
		<dict>
			<key>x</key>
			<string>441.584</string>
			<key>y</key>
			<string>128.899</string>
		</dict>
		<key>{8512a731-9bab-4976-8e74-ac6b9cc0f5af}</key>
		<dict>
			<key>x</key>
			<string>429.687</string>
			<key>y</key>
			<string>174.139</string>
		</dict>
		<key>{fcef7897-8d35-4018-b021-cdfcdc339021}</key>
		<dict>
			<key>x</key>
			<string>429.687</string>
			<key>y</key>
			<string>126.517</string>
		</dict>
		<key>{6e16b7f9-7963-4548-ba4a-6ce8a8609e2e}</key>
		<dict>
			<key>x</key>
			<string>417.791</string>
			<key>y</key>
			<string>171.758</string>
		</dict>
		<key>{6f175949-d066-41f8-a62d-9df387271876}</key>
		<dict>
			<key>x</key>
			<string>417.791</string>
			<key>y</key>
			<string>124.136</string>
		</dict>
		<key>{1f30df31-ab87-4961-8fc4-84c9a068aa21}</key>
		<dict>
			<key>x</key>
			<string>405.894</string>
			<key>y</key>
			<string>169.377</string>
		</dict>
		<key>{ccc37f1f-6fe3-4244-ac83-c758217e2b09}</key>
		<dict>
			<key>x</key>
			<string>405.894</string>
			<key>y</key>
			<string>121.755</string>
		</dict>
		<key>{d794c43d-e263-413b-8c06-8ed88a2fc6e4}</key>
		<dict>
			<key>x</key>
			<string>385.616</string>
			<key>y</key>
			<string>166.996</string>
		</dict>
		<key>{6bf4d475-ea2e-4c0a-b84c-1150244e2e62}</key>
		<dict>
			<key>x</key>
			<string>385.616</string>
			<key>y</key>
			<string>119.374</string>
		</dict>
		<key>{6556a8af-b434-4c3a-a802-c0c1cfa00119}</key>
		<dict>
			<key>x</key>
			<string>371.815</string>
			<key>y</key>
			<string>164.615</string>
		</dict>
		<key>{b3288dca-ef53-4167-b3aa-693e61fb9658}</key>
		<dict>
			<key>x</key>
			<string>371.815</string>
			<key>y</key>
			<string>116.993</string>
		</dict>
		<key>{4d14d30c-8fa3-4bb9-a8b3-d1442f53a01d}</key>
		<dict>
			<key>x</key>
			<string>358.013</string>
			<key>y</key>
			<string>162.234</string>
		</dict>
		<key>{58328380-5d16-4eb0-aa44-dd630f5ae6e2}</key>
		<dict>
			<key>x</key>
			<string>358.013</string>
			<key>y</key>
			<string>114.612</string>
		</dict>
		<key>{e43db9f9-0517-4f5a-a8da-30384f4c0c21}</key>
		<dict>
			<key>x</key>
			<string>344.212</string>
			<key>y</key>
			<string>159.853</string>
		</dict>
		<key>{1d5ed0c0-fbcc-4858-9945-f5ee03529df1}</key>
		<dict>
			<key>x</key>
			<string>344.212</string>
			<key>y</key>
			<string>112.231</string>
		</dict>
		<key>{628052d9-15d3-4e77-8dde-e152e97828bf}</key>
		<dict>
			<key>x</key>
			<string>322.982</string>
			<key>y</key>
			<string>157.472</string>
		</dict>
		<key>{286b8768-62d9-482f-8a38-8dabb36777a7}</key>
		<dict>
			<key>x</key>
			<string>322.982</string>
			<key>y</key>
			<string>109.85</string>
		</dict>
		<key>{0e822a40-ecea-4895-80a4-847923f099bb}</key>
		<dict>
			<key>x</key>
			<string>308.228</string>
			<key>y</key>
			<string>155.091</string>
		</dict>
		<key>{1292a8b4-7112-4785-b111-a932bd343009}</key>
		<dict>
			<key>x</key>
			<string>308.228</string>
			<key>y</key>
			<string>107.469</string>
		</dict>
		<key>{09e6c75f-1700-4512-960c-8eef2ff96714}</key>
		<dict>
			<key>x</key>
			<string>293.474</string>
			<key>y</key>
			<string>157.472</string>
		</dict>
		<key>{df50782e-ec68-4652-be82-8d632e95cc45}</key>
		<dict>
			<key>x</key>
			<string>293.474</string>
			<key>y</key>
			<string>109.85</string>
		</dict>
		<key>{915d8d60-e5f2-4632-9d1a-f86dac54bc70}</key>
		<dict>
			<key>x</key>
			<string>278.72</string>
			<key>y</key>
			<string>159.853</string>
		</dict>
		<key>{b124ae33-e842-4bc3-b755-939bc5c92028}</key>
		<dict>
			<key>x</key>
			<string>278.72</string>
			<key>y</key>
			<string>112.231</string>
		</dict>
		<key>{6f983231-0cd6-419e-a978-f604be0ea01e}</key>
		<dict>
			<key>x</key>
			<string>259.394</string>
			<key>y</key>
			<string>162.234</string>
		</dict>
		<key>{5c48851b-2eb0-4a25-8265-f6c3d1eebfd8}</key>
		<dict>
			<key>x</key>
			<string>259.394</string>
			<key>y</key>
			<string>114.612</string>
		</dict>
		<key>{c55a02ab-063c-4435-ae72-a977c277dc75}</key>
		<dict>
			<key>x</key>
			<string>246.546</string>
			<key>y</key>
			<string>164.615</string>
		</dict>
		<key>{9f0b7f2e-ef8d-4a17-a36e-7666b560107d}</key>
		<dict>
			<key>x</key>
			<string>246.546</string>
			<key>y</key>
			<string>116.993</string>
		</dict>
		<key>{84312ffb-cfdd-47ef-b85b-32d85320aee8}</key>
		<dict>
			<key>x</key>
			<string>233.697</string>
			<key>y</key>
			<string>166.996</string>
		</dict>
		<key>{64ebdaaf-098a-4888-8613-57e90649edf0}</key>
		<dict>
			<key>x</key>
			<string>233.697</string>
			<key>y</key>
			<string>119.374</string>
		</dict>
		<key>{c503ca13-c506-4e52-8e4c-487934a0a719}</key>
		<dict>
			<key>x</key>
			<string>220.848</string>
			<key>y</key>
			<string>169.377</string>
		</dict>
		<key>{5dcbb71e-9389-46c8-b102-94d567e9f68a}</key>
		<dict>
			<key>x</key>
			<string>220.848</string>
			<key>y</key>
			<string>121.755</string>
		</dict>
		<key>{c9438ba7-d47e-4f5f-8c28-25bfe8016bf1}</key>
		<dict>
			<key>x</key>
			<string>202.474</string>
			<key>y</key>
			<string>171.758</string>
		</dict>
		<key>{f84da442-87c7-46ed-9386-f6d7cabfc890}</key>
		<dict>
			<key>x</key>
			<string>202.474</string>
			<key>y</key>
			<string>124.136</string>
		</dict>
		<key>{4396007b-b9ad-4a69-b02e-2bbcfa4f12af}</key>
		<dict>
			<key>x</key>
			<string>190.578</string>
			<key>y</key>
			<string>174.139</string>
		</dict>
		<key>{1b465748-fe21-4ac6-8917-36e097399dad}</key>
		<dict>
			<key>x</key>
			<string>190.578</string>
			<key>y</key>
			<string>126.517</string>
		</dict>
		<key>{b4f4d11f-c5a3-4280-8bc8-71b7714ea920}</key>
		<dict>
			<key>x</key>
			<string>178.681</string>
			<key>y</key>
			<string>176.521</string>
		</dict>
		<key>{e18f3181-3010-40d5-b210-478aead35f97}</key>
		<dict>
			<key>x</key>
			<string>178.681</string>
			<key>y</key>
			<string>128.899</string>
		</dict>
		<key>{2d82c2b0-61cd-4fb2-a564-a24631d5875a}</key>
		<dict>
			<key>x</key>
			<string>166.785</string>
			<key>y</key>
			<string>178.902</string>
		</dict>
		<key>{72997f43-d96c-4e71-8e67-2eed3538dfea}</key>
		<dict>
			<key>x</key>
			<string>166.785</string>
			<key>y</key>
			<string>131.28</string>
		</dict>
		<key>{536bb5d3-48ec-4910-9a60-0529f77deb8b}</key>
		<dict>
			<key>x</key>
			<string>146.736</string>
			<key>y</key>
			<string>181.283</string>
		</dict>
		<key>{4b5b76f4-b925-4788-a22a-6388f91bf017}</key>
		<dict>
			<key>x</key>
			<string>146.736</string>
			<key>y</key>
			<string>133.661</string>
		</dict>
		<key>{765b1278-859e-4ccd-9d82-ddf993714133}</key>
		<dict>
			<key>x</key>
			<string>133.164</string>
			<key>y</key>
			<string>183.664</string>
		</dict>
		<key>{2e612864-b1d5-4492-a7bf-1ef81cabceb4}</key>
		<dict>
			<key>x</key>
			<string>133.164</string>
			<key>y</key>
			<string>136.042</string>
		</dict>
		<key>{7743e630-96bc-41bb-aad7-a5dec19ef5ca}</key>
		<dict>
			<key>x</key>
			<string>119.591</string>
			<key>y</key>
			<string>186.045</string>
		</dict>
		<key>{a8bb8515-c4fa-438e-9176-d5adc9907a08}</key>
		<dict>
			<key>x</key>
			<string>119.591</string>
			<key>y</key>
			<string>138.423</string>
		</dict>
		<key>{f60fe397-04af-489c-9494-2bc6490b8ed0}</key>
		<dict>
			<key>x</key>
			<string>106.019</string>
			<key>y</key>
			<string>188.426</string>
		</dict>
		<key>{1c754939-527a-4059-bbe0-d65ed56de66c}</key>
		<dict>
			<key>x</key>
			<string>106.019</string>
			<key>y</key>
			<string>140.804</string>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{d9cd0853-5e02-4a09-8b8f-a77354f5a986}</key>
		<dict>
			<key>x1</key>
			<string>536.4</string>
			<key>y1</key>
			<string>187.695</string>
			<key>x2</key>
			<string>536.4</string>
			<key>y2</key>
			<string>171.758</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{81fe01be-867c-4be8-b586-fba35dd39261}</key>
		<dict>
			<key>x1</key>
			<string>536.4</string>
			<key>y1</key>
			<string>140.073</string>
			<key>x2</key>
			<string>536.4</string>
			<key>y2</key>
			<string>119.374</string>
			<key>height</key>
			<string>-21.4299</string>
		</dict>
		<key>{82eb1a51-52e1-49c9-b947-99b6d564a0f2}</key>
		<dict>
			<key>x1</key>
			<string>507.321</string>
			<key>y1</key>
			<string>185.151</string>
			<key>x2</key>
			<string>507.321</string>
			<key>y2</key>
			<string>170.568</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{3e6bc204-585d-41f5-a531-8200c7ef81eb}</key>
		<dict>
			<key>x1</key>
			<string>507.321</string>
			<key>y1</key>
			<string>137.529</string>
			<key>x2</key>
			<string>507.321</string>
			<key>y2</key>
			<string>118.184</string>
			<key>height</key>
			<string>-20.2394</string>
		</dict>
		<key>{05fbefe7-17de-4ec4-a54b-07ea3a61b1d6}</key>
		<dict>
			<key>x1</key>
			<string>493.52</string>
			<key>y1</key>
			<string>182.769</string>
			<key>x2</key>
			<string>493.52</string>
			<key>y2</key>
			<string>168.584</string>
			<key>height</key>
			<string>-15.0803</string>
		</dict>
		<key>{105612de-e65a-4679-a768-b8d2bf83ed85}</key>
		<dict>
			<key>x1</key>
			<string>493.52</string>
			<key>y1</key>
			<string>135.147</string>
			<key>x2</key>
			<string>493.52</string>
			<key>y2</key>
			<string>117.39</string>
			<key>height</key>
			<string>-18.652</string>
		</dict>
		<key>{756e2b48-c3f4-4b99-ae55-263339807a33}</key>
		<dict>
			<key>x1</key>
			<string>479.719</string>
			<key>y1</key>
			<string>180.388</string>
			<key>x2</key>
			<string>479.719</string>
			<key>y2</key>
			<string>166.599</string>
			<key>height</key>
			<string>-14.6835</string>
		</dict>
		<key>{54f0b0f8-70d7-40eb-bf26-538c154c582b}</key>
		<dict>
			<key>x1</key>
			<string>479.719</string>
			<key>y1</key>
			<string>132.766</string>
			<key>x2</key>
			<string>479.719</string>
			<key>y2</key>
			<string>116.596</string>
			<key>height</key>
			<string>-17.0646</string>
		</dict>
		<key>{55632e7d-cd09-4533-a96e-281938333d30}</key>
		<dict>
			<key>x1</key>
			<string>465.917</string>
			<key>y1</key>
			<string>178.007</string>
			<key>x2</key>
			<string>465.917</string>
			<key>y2</key>
			<string>164.615</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{5efe4f8d-4885-48cb-9fe5-5aced5574642}</key>
		<dict>
			<key>x1</key>
			<string>465.917</string>
			<key>y1</key>
			<string>130.385</string>
			<key>x2</key>
			<string>465.917</string>
			<key>y2</key>
			<string>115.802</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{d1e928dd-5efb-4d4d-a1c2-4fad9b9b77bd}</key>
		<dict>
			<key>x1</key>
			<string>441.893</string>
			<key>y1</key>
			<string>177.415</string>
			<key>x2</key>
			<string>441.893</string>
			<key>y2</key>
			<string>191.998</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{9f6ed5cb-3774-4d57-a685-adac23b13db5}</key>
		<dict>
			<key>x1</key>
			<string>447.544</string>
			<key>y1</key>
			<string>128.004</string>
			<key>x2</key>
			<string>447.544</string>
			<key>y2</key>
			<string>114.612</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{8512a731-9bab-4976-8e74-ac6b9cc0f5af}</key>
		<dict>
			<key>x1</key>
			<string>429.997</string>
			<key>y1</key>
			<string>175.034</string>
			<key>x2</key>
			<string>429.997</string>
			<key>y2</key>
			<string>190.013</string>
			<key>height</key>
			<string>15.874</string>
		</dict>
		<key>{fcef7897-8d35-4018-b021-cdfcdc339021}</key>
		<dict>
			<key>x1</key>
			<string>435.647</string>
			<key>y1</key>
			<string>125.623</string>
			<key>x2</key>
			<string>435.647</string>
			<key>y2</key>
			<string>112.628</string>
			<key>height</key>
			<string>-13.8898</string>
		</dict>
		<key>{6e16b7f9-7963-4548-ba4a-6ce8a8609e2e}</key>
		<dict>
			<key>x1</key>
			<string>418.1</string>
			<key>y1</key>
			<string>172.653</string>
			<key>x2</key>
			<string>418.1</string>
			<key>y2</key>
			<string>188.029</string>
			<key>height</key>
			<string>16.2709</string>
		</dict>
		<key>{6f175949-d066-41f8-a62d-9df387271876}</key>
		<dict>
			<key>x1</key>
			<string>423.751</string>
			<key>y1</key>
			<string>123.242</string>
			<key>x2</key>
			<string>423.751</string>
			<key>y2</key>
			<string>110.643</string>
			<key>height</key>
			<string>-13.4929</string>
		</dict>
		<key>{1f30df31-ab87-4961-8fc4-84c9a068aa21}</key>
		<dict>
			<key>x1</key>
			<string>406.204</string>
			<key>y1</key>
			<string>170.272</string>
			<key>x2</key>
			<string>406.204</string>
			<key>y2</key>
			<string>186.045</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{ccc37f1f-6fe3-4244-ac83-c758217e2b09}</key>
		<dict>
			<key>x1</key>
			<string>411.854</string>
			<key>y1</key>
			<string>120.861</string>
			<key>x2</key>
			<string>411.854</string>
			<key>y2</key>
			<string>108.659</string>
			<key>height</key>
			<string>-13.0961</string>
		</dict>
		<key>{d794c43d-e263-413b-8c06-8ed88a2fc6e4}</key>
		<dict>
			<key>x1</key>
			<string>385.926</string>
			<key>y1</key>
			<string>167.891</string>
			<key>x2</key>
			<string>385.926</string>
			<key>y2</key>
			<string>180.092</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{6bf4d475-ea2e-4c0a-b84c-1150244e2e62}</key>
		<dict>
			<key>x1</key>
			<string>385.926</string>
			<key>y1</key>
			<string>120.269</string>
			<key>x2</key>
			<string>385.926</string>
			<key>y2</key>
			<string>133.661</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{6556a8af-b434-4c3a-a802-c0c1cfa00119}</key>
		<dict>
			<key>x1</key>
			<string>372.124</string>
			<key>y1</key>
			<string>165.509</string>
			<key>x2</key>
			<string>372.124</string>
			<key>y2</key>
			<string>179.299</string>
			<key>height</key>
			<string>14.6835</string>
		</dict>
		<key>{b3288dca-ef53-4167-b3aa-693e61fb9658}</key>
		<dict>
			<key>x1</key>
			<string>372.124</string>
			<key>y1</key>
			<string>117.887</string>
			<key>x2</key>
			<string>372.124</string>
			<key>y2</key>
			<string>131.676</string>
			<key>height</key>
			<string>14.6835</string>
		</dict>
		<key>{4d14d30c-8fa3-4bb9-a8b3-d1442f53a01d}</key>
		<dict>
			<key>x1</key>
			<string>358.323</string>
			<key>y1</key>
			<string>163.128</string>
			<key>x2</key>
			<string>358.323</string>
			<key>y2</key>
			<string>178.505</string>
			<key>height</key>
			<string>16.2709</string>
		</dict>
		<key>{58328380-5d16-4eb0-aa44-dd630f5ae6e2}</key>
		<dict>
			<key>x1</key>
			<string>358.323</string>
			<key>y1</key>
			<string>115.506</string>
			<key>x2</key>
			<string>358.323</string>
			<key>y2</key>
			<string>129.692</string>
			<key>height</key>
			<string>15.0803</string>
		</dict>
		<key>{e43db9f9-0517-4f5a-a8da-30384f4c0c21}</key>
		<dict>
			<key>x1</key>
			<string>344.522</string>
			<key>y1</key>
			<string>160.747</string>
			<key>x2</key>
			<string>344.522</string>
			<key>y2</key>
			<string>177.711</string>
			<key>height</key>
			<string>17.8583</string>
		</dict>
		<key>{1d5ed0c0-fbcc-4858-9945-f5ee03529df1}</key>
		<dict>
			<key>x1</key>
			<string>344.522</string>
			<key>y1</key>
			<string>113.125</string>
			<key>x2</key>
			<string>344.522</string>
			<key>y2</key>
			<string>127.708</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{628052d9-15d3-4e77-8dde-e152e97828bf}</key>
		<dict>
			<key>x1</key>
			<string>323.291</string>
			<key>y1</key>
			<string>158.366</string>
			<key>x2</key>
			<string>323.291</string>
			<key>y2</key>
			<string>177.711</string>
			<key>height</key>
			<string>20.2394</string>
		</dict>
		<key>{286b8768-62d9-482f-8a38-8dabb36777a7}</key>
		<dict>
			<key>x1</key>
			<string>323.291</string>
			<key>y1</key>
			<string>110.744</string>
			<key>x2</key>
			<string>323.291</string>
			<key>y2</key>
			<string>124.136</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{0e822a40-ecea-4895-80a4-847923f099bb}</key>
		<dict>
			<key>x1</key>
			<string>308.537</string>
			<key>y1</key>
			<string>155.985</string>
			<key>x2</key>
			<string>308.537</string>
			<key>y2</key>
			<string>178.108</string>
			<key>height</key>
			<string>23.0173</string>
		</dict>
		<key>{1292a8b4-7112-4785-b111-a932bd343009}</key>
		<dict>
			<key>x1</key>
			<string>308.537</string>
			<key>y1</key>
			<string>108.363</string>
			<key>x2</key>
			<string>308.537</string>
			<key>y2</key>
			<string>124.533</string>
			<key>height</key>
			<string>17.0646</string>
		</dict>
		<key>{09e6c75f-1700-4512-960c-8eef2ff96714}</key>
		<dict>
			<key>x1</key>
			<string>293.783</string>
			<key>y1</key>
			<string>158.366</string>
			<key>x2</key>
			<string>293.783</string>
			<key>y2</key>
			<string>178.505</string>
			<key>height</key>
			<string>21.0331</string>
		</dict>
		<key>{df50782e-ec68-4652-be82-8d632e95cc45}</key>
		<dict>
			<key>x1</key>
			<string>293.783</string>
			<key>y1</key>
			<string>110.744</string>
			<key>x2</key>
			<string>293.783</string>
			<key>y2</key>
			<string>124.93</string>
			<key>height</key>
			<string>15.0803</string>
		</dict>
		<key>{915d8d60-e5f2-4632-9d1a-f86dac54bc70}</key>
		<dict>
			<key>x1</key>
			<string>279.03</string>
			<key>y1</key>
			<string>160.747</string>
			<key>x2</key>
			<string>279.03</string>
			<key>y2</key>
			<string>178.902</string>
			<key>height</key>
			<string>19.0488</string>
		</dict>
		<key>{b124ae33-e842-4bc3-b755-939bc5c92028}</key>
		<dict>
			<key>x1</key>
			<string>279.03</string>
			<key>y1</key>
			<string>113.125</string>
			<key>x2</key>
			<string>279.03</string>
			<key>y2</key>
			<string>125.327</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{6f983231-0cd6-419e-a978-f604be0ea01e}</key>
		<dict>
			<key>x1</key>
			<string>259.704</string>
			<key>y1</key>
			<string>163.128</string>
			<key>x2</key>
			<string>259.704</string>
			<key>y2</key>
			<string>177.711</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{5c48851b-2eb0-4a25-8265-f6c3d1eebfd8}</key>
		<dict>
			<key>x1</key>
			<string>259.704</string>
			<key>y1</key>
			<string>115.506</string>
			<key>x2</key>
			<string>259.704</string>
			<key>y2</key>
			<string>130.089</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{c55a02ab-063c-4435-ae72-a977c277dc75}</key>
		<dict>
			<key>x1</key>
			<string>246.855</string>
			<key>y1</key>
			<string>165.509</string>
			<key>x2</key>
			<string>246.855</string>
			<key>y2</key>
			<string>179.695</string>
			<key>height</key>
			<string>15.0803</string>
		</dict>
		<key>{9f0b7f2e-ef8d-4a17-a36e-7666b560107d}</key>
		<dict>
			<key>x1</key>
			<string>246.855</string>
			<key>y1</key>
			<string>117.887</string>
			<key>x2</key>
			<string>246.855</string>
			<key>y2</key>
			<string>131.676</string>
			<key>height</key>
			<string>14.6835</string>
		</dict>
		<key>{84312ffb-cfdd-47ef-b85b-32d85320aee8}</key>
		<dict>
			<key>x1</key>
			<string>234.006</string>
			<key>y1</key>
			<string>167.891</string>
			<key>x2</key>
			<string>234.006</string>
			<key>y2</key>
			<string>181.68</string>
			<key>height</key>
			<string>14.6835</string>
		</dict>
		<key>{64ebdaaf-098a-4888-8613-57e90649edf0}</key>
		<dict>
			<key>x1</key>
			<string>234.006</string>
			<key>y1</key>
			<string>120.269</string>
			<key>x2</key>
			<string>234.006</string>
			<key>y2</key>
			<string>133.264</string>
			<key>height</key>
			<string>13.8898</string>
		</dict>
		<key>{c503ca13-c506-4e52-8e4c-487934a0a719}</key>
		<dict>
			<key>x1</key>
			<string>221.157</string>
			<key>y1</key>
			<string>170.272</string>
			<key>x2</key>
			<string>221.157</string>
			<key>y2</key>
			<string>183.664</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{5dcbb71e-9389-46c8-b102-94d567e9f68a}</key>
		<dict>
			<key>x1</key>
			<string>221.157</string>
			<key>y1</key>
			<string>122.65</string>
			<key>x2</key>
			<string>221.157</string>
			<key>y2</key>
			<string>134.851</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{c9438ba7-d47e-4f5f-8c28-25bfe8016bf1}</key>
		<dict>
			<key>x1</key>
			<string>202.784</string>
			<key>y1</key>
			<string>172.653</string>
			<key>x2</key>
			<string>202.784</string>
			<key>y2</key>
			<string>187.236</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{f84da442-87c7-46ed-9386-f6d7cabfc890}</key>
		<dict>
			<key>x1</key>
			<string>208.435</string>
			<key>y1</key>
			<string>123.242</string>
			<key>x2</key>
			<string>208.435</string>
			<key>y2</key>
			<string>109.85</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{4396007b-b9ad-4a69-b02e-2bbcfa4f12af}</key>
		<dict>
			<key>x1</key>
			<string>190.887</string>
			<key>y1</key>
			<string>175.034</string>
			<key>x2</key>
			<string>190.887</string>
			<key>y2</key>
			<string>189.22</string>
			<key>height</key>
			<string>15.0803</string>
		</dict>
		<key>{1b465748-fe21-4ac6-8917-36e097399dad}</key>
		<dict>
			<key>x1</key>
			<string>196.538</string>
			<key>y1</key>
			<string>125.623</string>
			<key>x2</key>
			<string>196.538</string>
			<key>y2</key>
			<string>111.834</string>
			<key>height</key>
			<string>-14.6835</string>
		</dict>
		<key>{b4f4d11f-c5a3-4280-8bc8-71b7714ea920}</key>
		<dict>
			<key>x1</key>
			<string>178.991</string>
			<key>y1</key>
			<string>177.415</string>
			<key>x2</key>
			<string>178.991</string>
			<key>y2</key>
			<string>191.204</string>
			<key>height</key>
			<string>14.6835</string>
		</dict>
		<key>{e18f3181-3010-40d5-b210-478aead35f97}</key>
		<dict>
			<key>x1</key>
			<string>184.642</string>
			<key>y1</key>
			<string>128.004</string>
			<key>x2</key>
			<string>184.642</string>
			<key>y2</key>
			<string>113.818</string>
			<key>height</key>
			<string>-15.0803</string>
		</dict>
		<key>{2d82c2b0-61cd-4fb2-a564-a24631d5875a}</key>
		<dict>
			<key>x1</key>
			<string>167.094</string>
			<key>y1</key>
			<string>179.796</string>
			<key>x2</key>
			<string>167.094</string>
			<key>y2</key>
			<string>193.188</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{72997f43-d96c-4e71-8e67-2eed3538dfea}</key>
		<dict>
			<key>x1</key>
			<string>172.745</string>
			<key>y1</key>
			<string>130.385</string>
			<key>x2</key>
			<string>172.745</string>
			<key>y2</key>
			<string>115.802</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{536bb5d3-48ec-4910-9a60-0529f77deb8b}</key>
		<dict>
			<key>x1</key>
			<string>152.696</string>
			<key>y1</key>
			<string>180.388</string>
			<key>x2</key>
			<string>152.696</string>
			<key>y2</key>
			<string>168.187</string>
			<key>height</key>
			<string>-13.0961</string>
		</dict>
		<key>{4b5b76f4-b925-4788-a22a-6388f91bf017}</key>
		<dict>
			<key>x1</key>
			<string>152.696</string>
			<key>y1</key>
			<string>132.766</string>
			<key>x2</key>
			<string>152.696</string>
			<key>y2</key>
			<string>118.184</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{765b1278-859e-4ccd-9d82-ddf993714133}</key>
		<dict>
			<key>x1</key>
			<string>139.124</string>
			<key>y1</key>
			<string>182.769</string>
			<key>x2</key>
			<string>139.124</string>
			<key>y2</key>
			<string>170.171</string>
			<key>height</key>
			<string>-13.4929</string>
		</dict>
		<key>{2e612864-b1d5-4492-a7bf-1ef81cabceb4}</key>
		<dict>
			<key>x1</key>
			<string>139.124</string>
			<key>y1</key>
			<string>135.147</string>
			<key>x2</key>
			<string>139.124</string>
			<key>y2</key>
			<string>118.977</string>
			<key>height</key>
			<string>-17.0646</string>
		</dict>
		<key>{7743e630-96bc-41bb-aad7-a5dec19ef5ca}</key>
		<dict>
			<key>x1</key>
			<string>125.551</string>
			<key>y1</key>
			<string>185.151</string>
			<key>x2</key>
			<string>125.551</string>
			<key>y2</key>
			<string>172.155</string>
			<key>height</key>
			<string>-13.8898</string>
		</dict>
		<key>{a8bb8515-c4fa-438e-9176-d5adc9907a08}</key>
		<dict>
			<key>x1</key>
			<string>125.551</string>
			<key>y1</key>
			<string>137.529</string>
			<key>x2</key>
			<string>125.551</string>
			<key>y2</key>
			<string>119.771</string>
			<key>height</key>
			<string>-18.652</string>
		</dict>
		<key>{f60fe397-04af-489c-9494-2bc6490b8ed0}</key>
		<dict>
			<key>x1</key>
			<string>111.979</string>
			<key>y1</key>
			<string>187.532</string>
			<key>x2</key>
			<string>111.979</string>
			<key>y2</key>
			<string>174.139</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{1c754939-527a-4059-bbe0-d65ed56de66c}</key>
		<dict>
			<key>x1</key>
			<string>111.979</string>
			<key>y1</key>
			<string>139.91</string>
			<key>x2</key>
			<string>111.979</string>
			<key>y2</key>
			<string>120.565</string>
			<key>height</key>
			<string>-20.2394</string>
		</dict>
	</dict>
</dict>
</plist>