<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>63.9721</string>
			<key>y</key>
			<string>109.85</string>
			<key>bx</key>
			<string>63.9721</string>
			<key>by</key>
			<string>148.717</string>
			<key>spatium</key>
			<string>4.7622</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{e0aff834-c1c2-4e84-97c1-90651a7d7e1a}</key>
		<dict>
			<key>x</key>
			<string>527.69</string>
			<key>y</key>
			<string>181.283</string>
		</dict>
		<key>{28e66c20-a79f-43c5-8539-46b0abe2fac9}</key>
		<dict>
			<key>x</key>
			<string>527.69</string>
			<key>y</key>
			<string>133.661</string>
		</dict>
		<key>{181197a7-f7ec-46cf-a269-e545a00963ea}</key>
		<dict>
			<key>x</key>
			<string>500.513</string>
			<key>y</key>
			<string>178.902</string>
		</dict>
		<key>{dc9f0b04-f656-4365-b525-2afb315700cc}</key>
		<dict>
			<key>x</key>
			<string>500.513</string>
			<key>y</key>
			<string>131.28</string>
		</dict>
		<key>{0f1a9d7e-8a92-41ac-b481-f4b26e2e2b71}</key>
		<dict>
			<key>x</key>
			<string>488.27</string>
			<key>y</key>
			<string>176.521</string>
		</dict>
		<key>{ea201193-d7ff-4d43-8d4b-ec6fb13260d1}</key>
		<dict>
			<key>x</key>
			<string>488.27</string>
			<key>y</key>
			<string>128.899</string>
		</dict>
		<key>{ab2b2dde-4fa8-4509-9f27-ec26c24be830}</key>
		<dict>
			<key>x</key>
			<string>476.026</string>
			<key>y</key>
			<string>174.139</string>
		</dict>
		<key>{36bfb59f-1940-4a9a-9c15-4327e9e2f8ba}</key>
		<dict>
			<key>x</key>
			<string>476.026</string>
			<key>y</key>
			<string>126.517</string>
		</dict>
		<key>{ffe7ca42-7013-4c36-b5e7-4ddf25f24c5c}</key>
		<dict>
			<key>x</key>
			<string>463.783</string>
			<key>y</key>
			<string>171.758</string>
		</dict>
		<key>{1d7dbdbe-af43-4908-8353-497d93c1c788}</key>
		<dict>
			<key>x</key>
			<string>463.783</string>
			<key>y</key>
			<string>124.136</string>
		</dict>
		<key>{987228c2-ba4b-45ea-8a95-c6fc233e62f6}</key>
		<dict>
			<key>x</key>
			<string>444.11</string>
			<key>y</key>
			<string>169.377</string>
		</dict>
		<key>{b610a740-cb0d-4e92-b579-01894bf3bf30}</key>
		<dict>
			<key>x</key>
			<string>444.11</string>
			<key>y</key>
			<string>121.755</string>
		</dict>
		<key>{978344b7-edf9-4aa2-85dd-338ec905d951}</key>
		<dict>
			<key>x</key>
			<string>430.914</string>
			<key>y</key>
			<string>166.996</string>
		</dict>
		<key>{03347bf2-da2c-43c3-b623-1522ef3319e4}</key>
		<dict>
			<key>x</key>
			<string>430.914</string>
			<key>y</key>
			<string>119.374</string>
		</dict>
		<key>{d765496a-c8c3-4a84-afbe-c988299e2b6a}</key>
		<dict>
			<key>x</key>
			<string>417.718</string>
			<key>y</key>
			<string>164.615</string>
		</dict>
		<key>{476d62e5-b926-42c9-98cd-2961d0e9f42e}</key>
		<dict>
			<key>x</key>
			<string>417.718</string>
			<key>y</key>
			<string>116.993</string>
		</dict>
		<key>{0cfb8ac2-7097-4335-9081-65aa33aca54a}</key>
		<dict>
			<key>x</key>
			<string>404.522</string>
			<key>y</key>
			<string>162.234</string>
		</dict>
		<key>{6793b6d7-620c-41d8-a3c0-503f57388da1}</key>
		<dict>
			<key>x</key>
			<string>404.522</string>
			<key>y</key>
			<string>114.612</string>
		</dict>
		<key>{bdf8a779-6b97-4a31-a13e-48f601df753e}</key>
		<dict>
			<key>x</key>
			<string>375.957</string>
			<key>y</key>
			<string>188.426</string>
		</dict>
		<key>{11279b7c-760b-474f-aaa4-6e5057b58f83}</key>
		<dict>
			<key>x</key>
			<string>375.957</string>
			<key>y</key>
			<string>112.231</string>
		</dict>
		<key>{a70d6107-63ea-41b8-b342-d2b4c985ffc8}</key>
		<dict>
			<key>x</key>
			<string>363.595</string>
			<key>y</key>
			<string>186.045</string>
		</dict>
		<key>{564625b4-7ebc-4ff5-ba5c-301a9355b345}</key>
		<dict>
			<key>x</key>
			<string>363.595</string>
			<key>y</key>
			<string>109.85</string>
		</dict>
		<key>{e1ac791b-8106-4f38-84dc-5dc18a83fb40}</key>
		<dict>
			<key>x</key>
			<string>351.233</string>
			<key>y</key>
			<string>183.664</string>
		</dict>
		<key>{c525acfc-7ee7-4ff5-bd13-837c60364148}</key>
		<dict>
			<key>x</key>
			<string>351.233</string>
			<key>y</key>
			<string>107.469</string>
		</dict>
		<key>{e1ecfb82-9753-4697-952d-e737a91eb0fe}</key>
		<dict>
			<key>x</key>
			<string>338.871</string>
			<key>y</key>
			<string>181.283</string>
		</dict>
		<key>{aac0d354-2636-46b9-83aa-ecd55d037c3a}</key>
		<dict>
			<key>x</key>
			<string>338.871</string>
			<key>y</key>
			<string>105.088</string>
		</dict>
		<key>{33cef8c4-caff-407a-80e4-3b210562c016}</key>
		<dict>
			<key>x</key>
			<string>317.294</string>
			<key>y</key>
			<string>178.902</string>
		</dict>
		<key>{c703560d-3892-479f-823f-fa2f0f3d7612}</key>
		<dict>
			<key>x</key>
			<string>317.294</string>
			<key>y</key>
			<string>102.706</string>
		</dict>
		<key>{5624a1b7-a3dd-4643-af66-648b1892e171}</key>
		<dict>
			<key>x</key>
			<string>302.193</string>
			<key>y</key>
			<string>176.521</string>
		</dict>
		<key>{feb91bf7-b29a-4f9d-994f-e0f0063e69fd}</key>
		<dict>
			<key>x</key>
			<string>302.193</string>
			<key>y</key>
			<string>100.325</string>
		</dict>
		<key>{5621cdcc-1909-44b7-ac3c-27bb581cfee0}</key>
		<dict>
			<key>x</key>
			<string>287.092</string>
			<key>y</key>
			<string>178.902</string>
		</dict>
		<key>{2dccb254-aa45-4856-a4a4-3da9c4bdc255}</key>
		<dict>
			<key>x</key>
			<string>287.092</string>
			<key>y</key>
			<string>102.706</string>
		</dict>
		<key>{d0224d3d-3871-4e45-83da-c26f9bb04bcd}</key>
		<dict>
			<key>x</key>
			<string>271.991</string>
			<key>y</key>
			<string>181.283</string>
		</dict>
		<key>{fbd4812e-73b1-4fca-be92-a449601e44c3}</key>
		<dict>
			<key>x</key>
			<string>271.991</string>
			<key>y</key>
			<string>105.088</string>
		</dict>
		<key>{a6e1893b-8b0f-4669-9c23-e46399f5a6d1}</key>
		<dict>
			<key>x</key>
			<string>253.271</string>
			<key>y</key>
			<string>183.664</string>
		</dict>
		<key>{a5ae1cda-23fe-40b3-990f-832d5da16f66}</key>
		<dict>
			<key>x</key>
			<string>253.271</string>
			<key>y</key>
			<string>107.469</string>
		</dict>
		<key>{6676447c-d2c4-4257-99a1-2e4b22a5966e}</key>
		<dict>
			<key>x</key>
			<string>241.027</string>
			<key>y</key>
			<string>186.045</string>
		</dict>
		<key>{bbcc69ca-0b5e-4f70-914f-5b22ee0a0fc8}</key>
		<dict>
			<key>x</key>
			<string>241.027</string>
			<key>y</key>
			<string>109.85</string>
		</dict>
		<key>{d2ae3839-9ecb-4f70-b687-3e7d6931dd76}</key>
		<dict>
			<key>x</key>
			<string>228.784</string>
			<key>y</key>
			<string>188.426</string>
		</dict>
		<key>{98be23c5-c0e9-4d16-8ae8-21a3cf1965e2}</key>
		<dict>
			<key>x</key>
			<string>228.784</string>
			<key>y</key>
			<string>112.231</string>
		</dict>
		<key>{da2deeff-7445-4bee-b300-3254375b0c43}</key>
		<dict>
			<key>x</key>
			<string>216.54</string>
			<key>y</key>
			<string>190.807</string>
		</dict>
		<key>{8501323e-3980-4505-9c27-6aad79919101}</key>
		<dict>
			<key>x</key>
			<string>216.54</string>
			<key>y</key>
			<string>114.612</string>
		</dict>
		<key>{bea341fe-ce40-4545-b3b7-05c8f345b3bb}</key>
		<dict>
			<key>x</key>
			<string>188.583</string>
			<key>y</key>
			<string>164.615</string>
		</dict>
		<key>{6697a3e1-f8d8-4806-be1b-a9b5070b5164}</key>
		<dict>
			<key>x</key>
			<string>188.583</string>
			<key>y</key>
			<string>116.993</string>
		</dict>
		<key>{829a504a-047f-4f6d-8dd3-00134ec41a79}</key>
		<dict>
			<key>x</key>
			<string>176.222</string>
			<key>y</key>
			<string>166.996</string>
		</dict>
		<key>{e54b7823-c35b-48c1-a068-5e265bef5e35}</key>
		<dict>
			<key>x</key>
			<string>176.222</string>
			<key>y</key>
			<string>119.374</string>
		</dict>
		<key>{f13341be-7ab6-4c7f-88cb-58e1649f1341}</key>
		<dict>
			<key>x</key>
			<string>163.86</string>
			<key>y</key>
			<string>169.377</string>
		</dict>
		<key>{c73560c4-3e06-4dcc-aa25-ea7408396d10}</key>
		<dict>
			<key>x</key>
			<string>163.86</string>
			<key>y</key>
			<string>121.755</string>
		</dict>
		<key>{ae34ce94-834b-4fdd-8ac2-0d4dacf39bd6}</key>
		<dict>
			<key>x</key>
			<string>151.498</string>
			<key>y</key>
			<string>171.758</string>
		</dict>
		<key>{1ff66c31-ac68-4968-989f-7d72f8c22346}</key>
		<dict>
			<key>x</key>
			<string>151.498</string>
			<key>y</key>
			<string>124.136</string>
		</dict>
		<key>{06957d40-86b4-4c46-a5d9-cefed4d9f28e}</key>
		<dict>
			<key>x</key>
			<string>133.959</string>
			<key>y</key>
			<string>174.139</string>
		</dict>
		<key>{275bc8af-da5e-4c69-9820-9a0bf85d6e4d}</key>
		<dict>
			<key>x</key>
			<string>133.959</string>
			<key>y</key>
			<string>126.517</string>
		</dict>
		<key>{ba657126-70d5-4571-9ecc-0dccaf6406e3}</key>
		<dict>
			<key>x</key>
			<string>122.897</string>
			<key>y</key>
			<string>176.521</string>
		</dict>
		<key>{f0625d65-e1b8-47d4-99ac-21945f442615}</key>
		<dict>
			<key>x</key>
			<string>122.897</string>
			<key>y</key>
			<string>128.899</string>
		</dict>
		<key>{cc97621d-80e4-489e-affd-35ae1de3aace}</key>
		<dict>
			<key>x</key>
			<string>111.835</string>
			<key>y</key>
			<string>178.902</string>
		</dict>
		<key>{58856b46-3d04-4400-a9da-e4c648f64665}</key>
		<dict>
			<key>x</key>
			<string>111.835</string>
			<key>y</key>
			<string>131.28</string>
		</dict>
		<key>{16669177-be08-461c-a3bd-4f8b23b41d1e}</key>
		<dict>
			<key>x</key>
			<string>100.773</string>
			<key>y</key>
			<string>181.283</string>
		</dict>
		<key>{35612640-57bd-4f17-ae94-fb6558d82db8}</key>
		<dict>
			<key>x</key>
			<string>100.773</string>
			<key>y</key>
			<string>133.661</string>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{e0aff834-c1c2-4e84-97c1-90651a7d7e1a}</key>
		<dict>
			<key>x1</key>
			<string>533.994</string>
			<key>y1</key>
			<string>180.551</string>
			<key>x2</key>
			<string>533.994</string>
			<key>y2</key>
			<string>165.806</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{28e66c20-a79f-43c5-8539-46b0abe2fac9}</key>
		<dict>
			<key>x1</key>
			<string>533.994</string>
			<key>y1</key>
			<string>132.929</string>
			<key>x2</key>
			<string>533.994</string>
			<key>y2</key>
			<string>116.993</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{181197a7-f7ec-46cf-a269-e545a00963ea}</key>
		<dict>
			<key>x1</key>
			<string>500.823</string>
			<key>y1</key>
			<string>179.796</string>
			<key>x2</key>
			<string>500.823</string>
			<key>y2</key>
			<string>193.188</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{dc9f0b04-f656-4365-b525-2afb315700cc}</key>
		<dict>
			<key>x1</key>
			<string>506.474</string>
			<key>y1</key>
			<string>130.385</string>
			<key>x2</key>
			<string>506.474</string>
			<key>y2</key>
			<string>115.802</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{0f1a9d7e-8a92-41ac-b481-f4b26e2e2b71}</key>
		<dict>
			<key>x1</key>
			<string>488.579</string>
			<key>y1</key>
			<string>177.415</string>
			<key>x2</key>
			<string>488.579</string>
			<key>y2</key>
			<string>191.204</string>
			<key>height</key>
			<string>14.6835</string>
		</dict>
		<key>{ea201193-d7ff-4d43-8d4b-ec6fb13260d1}</key>
		<dict>
			<key>x1</key>
			<string>494.23</string>
			<key>y1</key>
			<string>128.004</string>
			<key>x2</key>
			<string>494.23</string>
			<key>y2</key>
			<string>113.818</string>
			<key>height</key>
			<string>-15.0803</string>
		</dict>
		<key>{ab2b2dde-4fa8-4509-9f27-ec26c24be830}</key>
		<dict>
			<key>x1</key>
			<string>476.336</string>
			<key>y1</key>
			<string>175.034</string>
			<key>x2</key>
			<string>476.336</string>
			<key>y2</key>
			<string>189.22</string>
			<key>height</key>
			<string>15.0803</string>
		</dict>
		<key>{36bfb59f-1940-4a9a-9c15-4327e9e2f8ba}</key>
		<dict>
			<key>x1</key>
			<string>481.986</string>
			<key>y1</key>
			<string>125.623</string>
			<key>x2</key>
			<string>481.986</string>
			<key>y2</key>
			<string>111.834</string>
			<key>height</key>
			<string>-14.6835</string>
		</dict>
		<key>{ffe7ca42-7013-4c36-b5e7-4ddf25f24c5c}</key>
		<dict>
			<key>x1</key>
			<string>464.092</string>
			<key>y1</key>
			<string>172.653</string>
			<key>x2</key>
			<string>464.092</string>
			<key>y2</key>
			<string>187.236</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{1d7dbdbe-af43-4908-8353-497d93c1c788}</key>
		<dict>
			<key>x1</key>
			<string>469.743</string>
			<key>y1</key>
			<string>123.242</string>
			<key>x2</key>
			<string>469.743</string>
			<key>y2</key>
			<string>109.85</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{987228c2-ba4b-45ea-8a95-c6fc233e62f6}</key>
		<dict>
			<key>x1</key>
			<string>444.419</string>
			<key>y1</key>
			<string>170.272</string>
			<key>x2</key>
			<string>444.419</string>
			<key>y2</key>
			<string>183.664</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{b610a740-cb0d-4e92-b579-01894bf3bf30}</key>
		<dict>
			<key>x1</key>
			<string>444.419</string>
			<key>y1</key>
			<string>122.65</string>
			<key>x2</key>
			<string>444.419</string>
			<key>y2</key>
			<string>134.851</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{978344b7-edf9-4aa2-85dd-338ec905d951}</key>
		<dict>
			<key>x1</key>
			<string>431.223</string>
			<key>y1</key>
			<string>167.891</string>
			<key>x2</key>
			<string>431.223</string>
			<key>y2</key>
			<string>181.68</string>
			<key>height</key>
			<string>14.6835</string>
		</dict>
		<key>{03347bf2-da2c-43c3-b623-1522ef3319e4}</key>
		<dict>
			<key>x1</key>
			<string>431.223</string>
			<key>y1</key>
			<string>120.269</string>
			<key>x2</key>
			<string>431.223</string>
			<key>y2</key>
			<string>133.264</string>
			<key>height</key>
			<string>13.8898</string>
		</dict>
		<key>{d765496a-c8c3-4a84-afbe-c988299e2b6a}</key>
		<dict>
			<key>x1</key>
			<string>418.027</string>
			<key>y1</key>
			<string>165.509</string>
			<key>x2</key>
			<string>418.027</string>
			<key>y2</key>
			<string>179.695</string>
			<key>height</key>
			<string>15.0803</string>
		</dict>
		<key>{476d62e5-b926-42c9-98cd-2961d0e9f42e}</key>
		<dict>
			<key>x1</key>
			<string>418.027</string>
			<key>y1</key>
			<string>117.887</string>
			<key>x2</key>
			<string>418.027</string>
			<key>y2</key>
			<string>131.676</string>
			<key>height</key>
			<string>14.6835</string>
		</dict>
		<key>{0cfb8ac2-7097-4335-9081-65aa33aca54a}</key>
		<dict>
			<key>x1</key>
			<string>404.831</string>
			<key>y1</key>
			<string>163.128</string>
			<key>x2</key>
			<string>404.831</string>
			<key>y2</key>
			<string>177.711</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{6793b6d7-620c-41d8-a3c0-503f57388da1}</key>
		<dict>
			<key>x1</key>
			<string>404.831</string>
			<key>y1</key>
			<string>115.506</string>
			<key>x2</key>
			<string>404.831</string>
			<key>y2</key>
			<string>130.089</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{bdf8a779-6b97-4a31-a13e-48f601df753e}</key>
		<dict>
			<key>x1</key>
			<string>381.917</string>
			<key>y1</key>
			<string>187.532</string>
			<key>x2</key>
			<string>381.917</string>
			<key>y2</key>
			<string>174.139</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{11279b7c-760b-474f-aaa4-6e5057b58f83}</key>
		<dict>
			<key>x1</key>
			<string>376.266</string>
			<key>y1</key>
			<string>113.125</string>
			<key>x2</key>
			<string>376.266</string>
			<key>y2</key>
			<string>127.708</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{a70d6107-63ea-41b8-b342-d2b4c985ffc8}</key>
		<dict>
			<key>x1</key>
			<string>369.555</string>
			<key>y1</key>
			<string>185.151</string>
			<key>x2</key>
			<string>369.555</string>
			<key>y2</key>
			<string>172.155</string>
			<key>height</key>
			<string>-13.8898</string>
		</dict>
		<key>{564625b4-7ebc-4ff5-ba5c-301a9355b345}</key>
		<dict>
			<key>x1</key>
			<string>363.904</string>
			<key>y1</key>
			<string>110.744</string>
			<key>x2</key>
			<string>363.904</string>
			<key>y2</key>
			<string>125.724</string>
			<key>height</key>
			<string>15.874</string>
		</dict>
		<key>{e1ac791b-8106-4f38-84dc-5dc18a83fb40}</key>
		<dict>
			<key>x1</key>
			<string>357.193</string>
			<key>y1</key>
			<string>182.769</string>
			<key>x2</key>
			<string>357.193</string>
			<key>y2</key>
			<string>170.171</string>
			<key>height</key>
			<string>-13.4929</string>
		</dict>
		<key>{c525acfc-7ee7-4ff5-bd13-837c60364148}</key>
		<dict>
			<key>x1</key>
			<string>351.543</string>
			<key>y1</key>
			<string>108.363</string>
			<key>x2</key>
			<string>351.543</string>
			<key>y2</key>
			<string>123.739</string>
			<key>height</key>
			<string>16.2709</string>
		</dict>
		<key>{e1ecfb82-9753-4697-952d-e737a91eb0fe}</key>
		<dict>
			<key>x1</key>
			<string>344.832</string>
			<key>y1</key>
			<string>180.388</string>
			<key>x2</key>
			<string>344.832</string>
			<key>y2</key>
			<string>168.187</string>
			<key>height</key>
			<string>-13.0961</string>
		</dict>
		<key>{aac0d354-2636-46b9-83aa-ecd55d037c3a}</key>
		<dict>
			<key>x1</key>
			<string>339.181</string>
			<key>y1</key>
			<string>105.982</string>
			<key>x2</key>
			<string>339.181</string>
			<key>y2</key>
			<string>121.755</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{33cef8c4-caff-407a-80e4-3b210562c016}</key>
		<dict>
			<key>x1</key>
			<string>323.254</string>
			<key>y1</key>
			<string>178.007</string>
			<key>x2</key>
			<string>323.254</string>
			<key>y2</key>
			<string>164.615</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{c703560d-3892-479f-823f-fa2f0f3d7612}</key>
		<dict>
			<key>x1</key>
			<string>317.603</string>
			<key>y1</key>
			<string>103.601</string>
			<key>x2</key>
			<string>317.603</string>
			<key>y2</key>
			<string>118.184</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{5624a1b7-a3dd-4643-af66-648b1892e171}</key>
		<dict>
			<key>x1</key>
			<string>308.153</string>
			<key>y1</key>
			<string>175.626</string>
			<key>x2</key>
			<string>308.153</string>
			<key>y2</key>
			<string>164.615</string>
			<key>height</key>
			<string>-11.9055</string>
		</dict>
		<key>{feb91bf7-b29a-4f9d-994f-e0f0063e69fd}</key>
		<dict>
			<key>x1</key>
			<string>302.502</string>
			<key>y1</key>
			<string>101.22</string>
			<key>x2</key>
			<string>302.502</string>
			<key>y2</key>
			<string>118.58</string>
			<key>height</key>
			<string>18.2551</string>
		</dict>
		<key>{5621cdcc-1909-44b7-ac3c-27bb581cfee0}</key>
		<dict>
			<key>x1</key>
			<string>293.052</string>
			<key>y1</key>
			<string>178.007</string>
			<key>x2</key>
			<string>293.052</string>
			<key>y2</key>
			<string>164.615</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{2dccb254-aa45-4856-a4a4-3da9c4bdc255}</key>
		<dict>
			<key>x1</key>
			<string>287.402</string>
			<key>y1</key>
			<string>103.601</string>
			<key>x2</key>
			<string>287.402</string>
			<key>y2</key>
			<string>118.977</string>
			<key>height</key>
			<string>16.2709</string>
		</dict>
		<key>{d0224d3d-3871-4e45-83da-c26f9bb04bcd}</key>
		<dict>
			<key>x1</key>
			<string>277.951</string>
			<key>y1</key>
			<string>180.388</string>
			<key>x2</key>
			<string>277.951</string>
			<key>y2</key>
			<string>164.615</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{fbd4812e-73b1-4fca-be92-a449601e44c3}</key>
		<dict>
			<key>x1</key>
			<string>272.301</string>
			<key>y1</key>
			<string>105.982</string>
			<key>x2</key>
			<string>272.301</string>
			<key>y2</key>
			<string>119.374</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{a6e1893b-8b0f-4669-9c23-e46399f5a6d1}</key>
		<dict>
			<key>x1</key>
			<string>259.231</string>
			<key>y1</key>
			<string>182.769</string>
			<key>x2</key>
			<string>259.231</string>
			<key>y2</key>
			<string>169.377</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{a5ae1cda-23fe-40b3-990f-832d5da16f66}</key>
		<dict>
			<key>x1</key>
			<string>253.58</string>
			<key>y1</key>
			<string>108.363</string>
			<key>x2</key>
			<string>253.58</string>
			<key>y2</key>
			<string>122.946</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{6676447c-d2c4-4257-99a1-2e4b22a5966e}</key>
		<dict>
			<key>x1</key>
			<string>246.987</string>
			<key>y1</key>
			<string>185.151</string>
			<key>x2</key>
			<string>246.987</string>
			<key>y2</key>
			<string>171.362</string>
			<key>height</key>
			<string>-14.6835</string>
		</dict>
		<key>{bbcc69ca-0b5e-4f70-914f-5b22ee0a0fc8}</key>
		<dict>
			<key>x1</key>
			<string>241.337</string>
			<key>y1</key>
			<string>110.744</string>
			<key>x2</key>
			<string>241.337</string>
			<key>y2</key>
			<string>124.93</string>
			<key>height</key>
			<string>15.0803</string>
		</dict>
		<key>{d2ae3839-9ecb-4f70-b687-3e7d6931dd76}</key>
		<dict>
			<key>x1</key>
			<string>234.744</string>
			<key>y1</key>
			<string>187.532</string>
			<key>x2</key>
			<string>234.744</string>
			<key>y2</key>
			<string>173.346</string>
			<key>height</key>
			<string>-15.0803</string>
		</dict>
		<key>{98be23c5-c0e9-4d16-8ae8-21a3cf1965e2}</key>
		<dict>
			<key>x1</key>
			<string>229.093</string>
			<key>y1</key>
			<string>113.125</string>
			<key>x2</key>
			<string>229.093</string>
			<key>y2</key>
			<string>126.914</string>
			<key>height</key>
			<string>14.6835</string>
		</dict>
		<key>{da2deeff-7445-4bee-b300-3254375b0c43}</key>
		<dict>
			<key>x1</key>
			<string>222.5</string>
			<key>y1</key>
			<string>189.913</string>
			<key>x2</key>
			<string>222.5</string>
			<key>y2</key>
			<string>175.33</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{8501323e-3980-4505-9c27-6aad79919101}</key>
		<dict>
			<key>x1</key>
			<string>216.85</string>
			<key>y1</key>
			<string>115.506</string>
			<key>x2</key>
			<string>216.85</string>
			<key>y2</key>
			<string>128.899</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{bea341fe-ce40-4545-b3b7-05c8f345b3bb}</key>
		<dict>
			<key>x1</key>
			<string>188.893</string>
			<key>y1</key>
			<string>165.509</string>
			<key>x2</key>
			<string>188.893</string>
			<key>y2</key>
			<string>178.902</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{6697a3e1-f8d8-4806-be1b-a9b5070b5164}</key>
		<dict>
			<key>x1</key>
			<string>194.543</string>
			<key>y1</key>
			<string>116.099</string>
			<key>x2</key>
			<string>194.543</string>
			<key>y2</key>
			<string>101.516</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{829a504a-047f-4f6d-8dd3-00134ec41a79}</key>
		<dict>
			<key>x1</key>
			<string>176.531</string>
			<key>y1</key>
			<string>167.891</string>
			<key>x2</key>
			<string>176.531</string>
			<key>y2</key>
			<string>180.886</string>
			<key>height</key>
			<string>13.8898</string>
		</dict>
		<key>{e54b7823-c35b-48c1-a068-5e265bef5e35}</key>
		<dict>
			<key>x1</key>
			<string>182.182</string>
			<key>y1</key>
			<string>118.48</string>
			<key>x2</key>
			<string>182.182</string>
			<key>y2</key>
			<string>103.103</string>
			<key>height</key>
			<string>-16.2709</string>
		</dict>
		<key>{f13341be-7ab6-4c7f-88cb-58e1649f1341}</key>
		<dict>
			<key>x1</key>
			<string>164.169</string>
			<key>y1</key>
			<string>170.272</string>
			<key>x2</key>
			<string>164.169</string>
			<key>y2</key>
			<string>182.87</string>
			<key>height</key>
			<string>13.4929</string>
		</dict>
		<key>{c73560c4-3e06-4dcc-aa25-ea7408396d10}</key>
		<dict>
			<key>x1</key>
			<string>169.82</string>
			<key>y1</key>
			<string>120.861</string>
			<key>x2</key>
			<string>169.82</string>
			<key>y2</key>
			<string>104.691</string>
			<key>height</key>
			<string>-17.0646</string>
		</dict>
		<key>{ae34ce94-834b-4fdd-8ac2-0d4dacf39bd6}</key>
		<dict>
			<key>x1</key>
			<string>151.808</string>
			<key>y1</key>
			<string>172.653</string>
			<key>x2</key>
			<string>151.808</string>
			<key>y2</key>
			<string>184.854</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{1ff66c31-ac68-4968-989f-7d72f8c22346}</key>
		<dict>
			<key>x1</key>
			<string>157.458</string>
			<key>y1</key>
			<string>123.242</string>
			<key>x2</key>
			<string>157.458</string>
			<key>y2</key>
			<string>106.278</string>
			<key>height</key>
			<string>-17.8583</string>
		</dict>
		<key>{06957d40-86b4-4c46-a5d9-cefed4d9f28e}</key>
		<dict>
			<key>x1</key>
			<string>134.269</string>
			<key>y1</key>
			<string>175.034</string>
			<key>x2</key>
			<string>134.269</string>
			<key>y2</key>
			<string>189.617</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{275bc8af-da5e-4c69-9820-9a0bf85d6e4d}</key>
		<dict>
			<key>x1</key>
			<string>139.92</string>
			<key>y1</key>
			<string>125.623</string>
			<key>x2</key>
			<string>139.92</string>
			<key>y2</key>
			<string>113.421</string>
			<key>height</key>
			<string>-13.0961</string>
		</dict>
		<key>{ba657126-70d5-4571-9ecc-0dccaf6406e3}</key>
		<dict>
			<key>x1</key>
			<string>123.207</string>
			<key>y1</key>
			<string>177.415</string>
			<key>x2</key>
			<string>123.207</string>
			<key>y2</key>
			<string>191.204</string>
			<key>height</key>
			<string>14.6835</string>
		</dict>
		<key>{f0625d65-e1b8-47d4-99ac-21945f442615}</key>
		<dict>
			<key>x1</key>
			<string>128.857</string>
			<key>y1</key>
			<string>128.004</string>
			<key>x2</key>
			<string>128.857</string>
			<key>y2</key>
			<string>115.406</string>
			<key>height</key>
			<string>-13.4929</string>
		</dict>
		<key>{cc97621d-80e4-489e-affd-35ae1de3aace}</key>
		<dict>
			<key>x1</key>
			<string>112.145</string>
			<key>y1</key>
			<string>179.796</string>
			<key>x2</key>
			<string>112.145</string>
			<key>y2</key>
			<string>192.791</string>
			<key>height</key>
			<string>13.8898</string>
		</dict>
		<key>{58856b46-3d04-4400-a9da-e4c648f64665}</key>
		<dict>
			<key>x1</key>
			<string>117.795</string>
			<key>y1</key>
			<string>130.385</string>
			<key>x2</key>
			<string>117.795</string>
			<key>y2</key>
			<string>117.39</string>
			<key>height</key>
			<string>-13.8898</string>
		</dict>
		<key>{16669177-be08-461c-a3bd-4f8b23b41d1e}</key>
		<dict>
			<key>x1</key>
			<string>101.083</string>
			<key>y1</key>
			<string>182.177</string>
			<key>x2</key>
			<string>101.083</string>
			<key>y2</key>
			<string>194.379</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{35612640-57bd-4f17-ae94-fb6558d82db8}</key>
		<dict>
			<key>x1</key>
			<string>106.733</string>
			<key>y1</key>
			<string>132.766</string>
			<key>x2</key>
			<string>106.733</string>
			<key>y2</key>
			<string>119.374</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
	</dict>
</dict>
</plist>