<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>63.9721</string>
			<key>y</key>
			<string>103.1</string>
			<key>bx</key>
			<string>63.9721</string>
			<key>by</key>
			<string>141.967</string>
			<key>spatium</key>
			<string>4.7622</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{5866e8c1-d859-4b20-99b6-7925143a0a21}</key>
		<dict>
			<key>x</key>
			<string>530.02</string>
			<key>y</key>
			<string>169.771</string>
		</dict>
		<key>{a0975a3c-ea08-43d4-afa0-c4e229eae108}</key>
		<dict>
			<key>x</key>
			<string>530.02</string>
			<key>y</key>
			<string>122.149</string>
		</dict>
		<key>{55091be0-6dc3-4fe1-bf8f-d9ab0ce3eb44}</key>
		<dict>
			<key>x</key>
			<string>504.055</string>
			<key>y</key>
			<string>167.39</string>
		</dict>
		<key>{2f460d6b-126c-4e38-a370-848531141f46}</key>
		<dict>
			<key>x</key>
			<string>504.055</string>
			<key>y</key>
			<string>119.767</string>
		</dict>
		<key>{ec1165a9-6e8a-4400-9f49-80cfebf6aff7}</key>
		<dict>
			<key>x</key>
			<string>493.283</string>
			<key>y</key>
			<string>165.008</string>
		</dict>
		<key>{190fe384-8cb3-43d7-8557-791ed3f4b7cc}</key>
		<dict>
			<key>x</key>
			<string>493.283</string>
			<key>y</key>
			<string>117.386</string>
		</dict>
		<key>{de1f8813-e541-4003-a786-2f6676904c41}</key>
		<dict>
			<key>x</key>
			<string>482.511</string>
			<key>y</key>
			<string>162.627</string>
		</dict>
		<key>{ab8519d7-12bd-4b42-a115-ff70f97bcffe}</key>
		<dict>
			<key>x</key>
			<string>482.511</string>
			<key>y</key>
			<string>115.005</string>
		</dict>
		<key>{7125e5a5-c012-405c-9cef-b3522851c9b9}</key>
		<dict>
			<key>x</key>
			<string>471.739</string>
			<key>y</key>
			<string>160.246</string>
		</dict>
		<key>{9873664a-dd5d-4e1f-8792-a0d690d4353a}</key>
		<dict>
			<key>x</key>
			<string>471.739</string>
			<key>y</key>
			<string>112.624</string>
		</dict>
		<key>{ce2ce8fa-905f-4760-8e21-7422198a3775}</key>
		<dict>
			<key>x</key>
			<string>452.973</string>
			<key>y</key>
			<string>157.865</string>
		</dict>
		<key>{12e04b8d-acce-4b44-878e-3e231bf41f58}</key>
		<dict>
			<key>x</key>
			<string>452.973</string>
			<key>y</key>
			<string>110.243</string>
		</dict>
		<key>{e534b6f1-10be-4bba-a143-9a65b86d07d9}</key>
		<dict>
			<key>x</key>
			<string>440.683</string>
			<key>y</key>
			<string>155.484</string>
		</dict>
		<key>{0575c31b-408e-454b-bd12-43a2f6e0bdc5}</key>
		<dict>
			<key>x</key>
			<string>440.683</string>
			<key>y</key>
			<string>107.862</string>
		</dict>
		<key>{8f58812c-d3dd-4f36-b5c1-2777d3d0246e}</key>
		<dict>
			<key>x</key>
			<string>424.929</string>
			<key>y</key>
			<string>153.103</string>
		</dict>
		<key>{af57e6c8-8c3a-4a57-a36e-387afe1a741a}</key>
		<dict>
			<key>x</key>
			<string>424.929</string>
			<key>y</key>
			<string>105.481</string>
		</dict>
		<key>{ee275138-d00a-4530-a600-9e96960ab104}</key>
		<dict>
			<key>x</key>
			<string>412.64</string>
			<key>y</key>
			<string>150.722</string>
		</dict>
		<key>{0960ebb4-542c-4e90-89f1-df5f85c3d944}</key>
		<dict>
			<key>x</key>
			<string>412.64</string>
			<key>y</key>
			<string>103.1</string>
		</dict>
		<key>{a2b1d08d-7a89-412b-b8aa-108666114617}</key>
		<dict>
			<key>x</key>
			<string>378.273</string>
			<key>y</key>
			<string>176.914</string>
		</dict>
		<key>{494088fd-4f66-4fdc-a481-99fa54749899}</key>
		<dict>
			<key>x</key>
			<string>378.273</string>
			<key>y</key>
			<string>100.719</string>
		</dict>
		<key>{83cee871-7ff9-49ce-bb8a-8890123fe402}</key>
		<dict>
			<key>x</key>
			<string>365.861</string>
			<key>y</key>
			<string>174.533</string>
		</dict>
		<key>{36f1b9f4-d105-4e51-ad42-b8dfb4083876}</key>
		<dict>
			<key>x</key>
			<string>365.861</string>
			<key>y</key>
			<string>98.3376</string>
		</dict>
		<key>{ed2cb665-ac53-4efa-b6fa-c900b9ee0bdf}</key>
		<dict>
			<key>x</key>
			<string>353.448</string>
			<key>y</key>
			<string>172.152</string>
		</dict>
		<key>{84bb9246-ac0b-48f2-944a-d6681252384b}</key>
		<dict>
			<key>x</key>
			<string>353.448</string>
			<key>y</key>
			<string>95.9565</string>
		</dict>
		<key>{ae2d8815-e7f2-4c39-b039-61c2740cff30}</key>
		<dict>
			<key>x</key>
			<string>341.036</string>
			<key>y</key>
			<string>169.771</string>
		</dict>
		<key>{d6e48623-360b-4654-b259-9f1db15874e7}</key>
		<dict>
			<key>x</key>
			<string>341.036</string>
			<key>y</key>
			<string>93.5753</string>
		</dict>
		<key>{a9767e97-a8ac-4fcf-8329-58897c8f670c}</key>
		<dict>
			<key>x</key>
			<string>320.497</string>
			<key>y</key>
			<string>167.39</string>
		</dict>
		<key>{34aabcdc-8241-4361-ab29-9028cc616aac}</key>
		<dict>
			<key>x</key>
			<string>320.497</string>
			<key>y</key>
			<string>91.1942</string>
		</dict>
		<key>{405c53ab-cf17-48d7-932e-cfd5e98f3ff8}</key>
		<dict>
			<key>x</key>
			<string>306.434</string>
			<key>y</key>
			<string>165.008</string>
		</dict>
		<key>{96975366-9f46-4ca2-953c-ad1bd1d2f39b}</key>
		<dict>
			<key>x</key>
			<string>306.434</string>
			<key>y</key>
			<string>88.8131</string>
		</dict>
		<key>{ede20289-0375-4db3-a79c-77f6c85bee38}</key>
		<dict>
			<key>x</key>
			<string>292.372</string>
			<key>y</key>
			<string>167.39</string>
		</dict>
		<key>{7feead35-4976-4b65-9f0e-169cc2319613}</key>
		<dict>
			<key>x</key>
			<string>292.372</string>
			<key>y</key>
			<string>91.1942</string>
		</dict>
		<key>{d28b7de6-2d78-49fd-926c-9d8fef09afeb}</key>
		<dict>
			<key>x</key>
			<string>276.618</string>
			<key>y</key>
			<string>169.771</string>
		</dict>
		<key>{f2b0afd1-a1f9-47b6-a482-40406e6a9da9}</key>
		<dict>
			<key>x</key>
			<string>276.618</string>
			<key>y</key>
			<string>93.5753</string>
		</dict>
		<key>{22f60397-cb1d-4228-b7b9-d5a0116a80c0}</key>
		<dict>
			<key>x</key>
			<string>259.109</string>
			<key>y</key>
			<string>172.152</string>
		</dict>
		<key>{c73ed139-7839-4576-ba70-105332aad653}</key>
		<dict>
			<key>x</key>
			<string>259.109</string>
			<key>y</key>
			<string>95.9565</string>
		</dict>
		<key>{0f1e7de8-a238-49a8-bbb3-389bb8581a7c}</key>
		<dict>
			<key>x</key>
			<string>247.839</string>
			<key>y</key>
			<string>174.533</string>
		</dict>
		<key>{6ee274b7-fbc8-4c16-b69d-81ffec51b28c}</key>
		<dict>
			<key>x</key>
			<string>247.839</string>
			<key>y</key>
			<string>98.3376</string>
		</dict>
		<key>{7fc848a1-ff17-460e-866e-fafe474c4aa4}</key>
		<dict>
			<key>x</key>
			<string>238.071</string>
			<key>y</key>
			<string>176.914</string>
		</dict>
		<key>{1bd60bd8-9558-4365-a49a-5c9b42107703}</key>
		<dict>
			<key>x</key>
			<string>238.071</string>
			<key>y</key>
			<string>100.719</string>
		</dict>
		<key>{d15a875f-a141-466e-a8f7-7c7f59cc313e}</key>
		<dict>
			<key>x</key>
			<string>228.303</string>
			<key>y</key>
			<string>179.295</string>
		</dict>
		<key>{19a1451d-8108-456a-ba19-405d4fe4b502}</key>
		<dict>
			<key>x</key>
			<string>228.303</string>
			<key>y</key>
			<string>103.1</string>
		</dict>
		<key>{be1e5f86-e998-453e-a277-5e1d4c14a5e4}</key>
		<dict>
			<key>x</key>
			<string>193.336</string>
			<key>y</key>
			<string>153.103</string>
		</dict>
		<key>{bc728198-a9de-4c2e-9aad-3f1c56eff044}</key>
		<dict>
			<key>x</key>
			<string>193.336</string>
			<key>y</key>
			<string>105.481</string>
		</dict>
		<key>{751151e3-5643-4895-9e3a-d03412e91a17}</key>
		<dict>
			<key>x</key>
			<string>180.103</string>
			<key>y</key>
			<string>155.484</string>
		</dict>
		<key>{31ff2ace-955b-4e94-baf4-d038ce4eb182}</key>
		<dict>
			<key>x</key>
			<string>180.103</string>
			<key>y</key>
			<string>107.862</string>
		</dict>
		<key>{96184dd6-89ef-4ed7-b240-cbac3e51ad9e}</key>
		<dict>
			<key>x</key>
			<string>164.349</string>
			<key>y</key>
			<string>157.865</string>
		</dict>
		<key>{5a3d8a4d-3a62-4026-8b27-fd54de924f97}</key>
		<dict>
			<key>x</key>
			<string>164.349</string>
			<key>y</key>
			<string>110.243</string>
		</dict>
		<key>{3efc0002-aefe-4871-93b5-bc7285673155}</key>
		<dict>
			<key>x</key>
			<string>151.117</string>
			<key>y</key>
			<string>160.246</string>
		</dict>
		<key>{9a5b7ffd-868b-4ff5-bb0d-7e7eb187b4a9}</key>
		<dict>
			<key>x</key>
			<string>151.117</string>
			<key>y</key>
			<string>112.624</string>
		</dict>
		<key>{d357aa60-04b0-41e0-be75-c2718832f1d3}</key>
		<dict>
			<key>x</key>
			<string>133.609</string>
			<key>y</key>
			<string>162.627</string>
		</dict>
		<key>{02141f57-832f-4713-956f-f1907e4d11d4}</key>
		<dict>
			<key>x</key>
			<string>133.609</string>
			<key>y</key>
			<string>115.005</string>
		</dict>
		<key>{9783a8f3-7490-4b37-b1a6-4844eee8157b}</key>
		<dict>
			<key>x</key>
			<string>124.412</string>
			<key>y</key>
			<string>165.008</string>
		</dict>
		<key>{5e44185b-4a1b-4134-8596-2ece6a669e3b}</key>
		<dict>
			<key>x</key>
			<string>124.412</string>
			<key>y</key>
			<string>117.386</string>
		</dict>
		<key>{654bd8c6-9d37-4976-a4f0-9daf283bbb1d}</key>
		<dict>
			<key>x</key>
			<string>115.215</string>
			<key>y</key>
			<string>167.39</string>
		</dict>
		<key>{e916f11e-9e48-4da0-bf46-77c68f9a1b53}</key>
		<dict>
			<key>x</key>
			<string>115.215</string>
			<key>y</key>
			<string>119.767</string>
		</dict>
		<key>{e579fdc1-0c3b-4774-a9a9-39562dbe280f}</key>
		<dict>
			<key>x</key>
			<string>106.019</string>
			<key>y</key>
			<string>169.771</string>
		</dict>
		<key>{c8ca7af2-f54e-4cc2-afb2-0bf31fc6724f}</key>
		<dict>
			<key>x</key>
			<string>106.019</string>
			<key>y</key>
			<string>122.149</string>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{5866e8c1-d859-4b20-99b6-7925143a0a21}</key>
		<dict>
			<key>x1</key>
			<string>530.329</string>
			<key>y1</key>
			<string>170.517</string>
			<key>x2</key>
			<string>530.329</string>
			<key>y2</key>
			<string>185.248</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{a0975a3c-ea08-43d4-afa0-c4e229eae108}</key>
		<dict>
			<key>x1</key>
			<string>536.324</string>
			<key>y1</key>
			<string>121.417</string>
			<key>x2</key>
			<string>536.324</string>
			<key>y2</key>
			<string>105.481</string>
			<key>height</key>
			<string>-16.6677</string>
		</dict>
		<key>{55091be0-6dc3-4fe1-bf8f-d9ab0ce3eb44}</key>
		<dict>
			<key>x1</key>
			<string>504.364</string>
			<key>y1</key>
			<string>168.284</string>
			<key>x2</key>
			<string>504.364</string>
			<key>y2</key>
			<string>181.676</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{2f460d6b-126c-4e38-a370-848531141f46}</key>
		<dict>
			<key>x1</key>
			<string>510.015</string>
			<key>y1</key>
			<string>118.873</string>
			<key>x2</key>
			<string>510.015</string>
			<key>y2</key>
			<string>104.29</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{ec1165a9-6e8a-4400-9f49-80cfebf6aff7}</key>
		<dict>
			<key>x1</key>
			<string>493.593</string>
			<key>y1</key>
			<string>165.903</string>
			<key>x2</key>
			<string>493.593</string>
			<key>y2</key>
			<string>179.692</string>
			<key>height</key>
			<string>14.6835</string>
		</dict>
		<key>{190fe384-8cb3-43d7-8557-791ed3f4b7cc}</key>
		<dict>
			<key>x1</key>
			<string>499.243</string>
			<key>y1</key>
			<string>116.492</string>
			<key>x2</key>
			<string>499.243</string>
			<key>y2</key>
			<string>102.306</string>
			<key>height</key>
			<string>-15.0803</string>
		</dict>
		<key>{de1f8813-e541-4003-a786-2f6676904c41}</key>
		<dict>
			<key>x1</key>
			<string>482.821</string>
			<key>y1</key>
			<string>163.522</string>
			<key>x2</key>
			<string>482.821</string>
			<key>y2</key>
			<string>177.708</string>
			<key>height</key>
			<string>15.0803</string>
		</dict>
		<key>{ab8519d7-12bd-4b42-a115-ff70f97bcffe}</key>
		<dict>
			<key>x1</key>
			<string>488.471</string>
			<key>y1</key>
			<string>114.111</string>
			<key>x2</key>
			<string>488.471</string>
			<key>y2</key>
			<string>100.322</string>
			<key>height</key>
			<string>-14.6835</string>
		</dict>
		<key>{7125e5a5-c012-405c-9cef-b3522851c9b9}</key>
		<dict>
			<key>x1</key>
			<string>472.049</string>
			<key>y1</key>
			<string>161.141</string>
			<key>x2</key>
			<string>472.049</string>
			<key>y2</key>
			<string>175.723</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{9873664a-dd5d-4e1f-8792-a0d690d4353a}</key>
		<dict>
			<key>x1</key>
			<string>477.699</string>
			<key>y1</key>
			<string>111.73</string>
			<key>x2</key>
			<string>477.699</string>
			<key>y2</key>
			<string>98.3376</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{ce2ce8fa-905f-4760-8e21-7422198a3775}</key>
		<dict>
			<key>x1</key>
			<string>453.282</string>
			<key>y1</key>
			<string>158.76</string>
			<key>x2</key>
			<string>453.282</string>
			<key>y2</key>
			<string>170.961</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{12e04b8d-acce-4b44-878e-3e231bf41f58}</key>
		<dict>
			<key>x1</key>
			<string>453.282</string>
			<key>y1</key>
			<string>111.137</string>
			<key>x2</key>
			<string>453.282</string>
			<key>y2</key>
			<string>125.72</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{e534b6f1-10be-4bba-a143-9a65b86d07d9}</key>
		<dict>
			<key>x1</key>
			<string>440.993</string>
			<key>y1</key>
			<string>156.378</string>
			<key>x2</key>
			<string>440.993</string>
			<key>y2</key>
			<string>170.236</string>
			<key>height</key>
			<string>14.7516</string>
		</dict>
		<key>{0575c31b-408e-454b-bd12-43a2f6e0bdc5}</key>
		<dict>
			<key>x1</key>
			<string>440.993</string>
			<key>y1</key>
			<string>108.756</string>
			<key>x2</key>
			<string>440.993</string>
			<key>y2</key>
			<string>123.906</string>
			<key>height</key>
			<string>16.0444</string>
		</dict>
		<key>{8f58812c-d3dd-4f36-b5c1-2777d3d0246e}</key>
		<dict>
			<key>x1</key>
			<string>425.239</string>
			<key>y1</key>
			<string>153.997</string>
			<key>x2</key>
			<string>425.239</string>
			<key>y2</key>
			<string>169.306</string>
			<key>height</key>
			<string>16.2027</string>
		</dict>
		<key>{af57e6c8-8c3a-4a57-a36e-387afe1a741a}</key>
		<dict>
			<key>x1</key>
			<string>425.239</string>
			<key>y1</key>
			<string>106.375</string>
			<key>x2</key>
			<string>425.239</string>
			<key>y2</key>
			<string>121.581</string>
			<key>height</key>
			<string>16.1004</string>
		</dict>
		<key>{ee275138-d00a-4530-a600-9e96960ab104}</key>
		<dict>
			<key>x1</key>
			<string>412.949</string>
			<key>y1</key>
			<string>151.616</string>
			<key>x2</key>
			<string>412.949</string>
			<key>y2</key>
			<string>168.58</string>
			<key>height</key>
			<string>17.8583</string>
		</dict>
		<key>{0960ebb4-542c-4e90-89f1-df5f85c3d944}</key>
		<dict>
			<key>x1</key>
			<string>412.949</string>
			<key>y1</key>
			<string>103.994</string>
			<key>x2</key>
			<string>412.949</string>
			<key>y2</key>
			<string>119.767</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{a2b1d08d-7a89-412b-b8aa-108666114617}</key>
		<dict>
			<key>x1</key>
			<string>384.233</string>
			<key>y1</key>
			<string>176.02</string>
			<key>x2</key>
			<string>384.233</string>
			<key>y2</key>
			<string>159.056</string>
			<key>height</key>
			<string>-17.8583</string>
		</dict>
		<key>{494088fd-4f66-4fdc-a481-99fa54749899}</key>
		<dict>
			<key>x1</key>
			<string>378.582</string>
			<key>y1</key>
			<string>101.613</string>
			<key>x2</key>
			<string>378.582</string>
			<key>y2</key>
			<string>113.815</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{83cee871-7ff9-49ce-bb8a-8890123fe402}</key>
		<dict>
			<key>x1</key>
			<string>371.821</string>
			<key>y1</key>
			<string>173.638</string>
			<key>x2</key>
			<string>371.821</string>
			<key>y2</key>
			<string>157.468</string>
			<key>height</key>
			<string>-17.0646</string>
		</dict>
		<key>{36f1b9f4-d105-4e51-ad42-b8dfb4083876}</key>
		<dict>
			<key>x1</key>
			<string>366.17</string>
			<key>y1</key>
			<string>99.232</string>
			<key>x2</key>
			<string>366.17</string>
			<key>y2</key>
			<string>113.021</string>
			<key>height</key>
			<string>14.6835</string>
		</dict>
		<key>{ed2cb665-ac53-4efa-b6fa-c900b9ee0bdf}</key>
		<dict>
			<key>x1</key>
			<string>359.409</string>
			<key>y1</key>
			<string>171.257</string>
			<key>x2</key>
			<string>359.409</string>
			<key>y2</key>
			<string>155.881</string>
			<key>height</key>
			<string>-16.2709</string>
		</dict>
		<key>{84bb9246-ac0b-48f2-944a-d6681252384b}</key>
		<dict>
			<key>x1</key>
			<string>353.758</string>
			<key>y1</key>
			<string>96.8509</string>
			<key>x2</key>
			<string>353.758</string>
			<key>y2</key>
			<string>112.227</string>
			<key>height</key>
			<string>16.2709</string>
		</dict>
		<key>{ae2d8815-e7f2-4c39-b039-61c2740cff30}</key>
		<dict>
			<key>x1</key>
			<string>346.997</string>
			<key>y1</key>
			<string>168.876</string>
			<key>x2</key>
			<string>346.997</string>
			<key>y2</key>
			<string>154.293</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{d6e48623-360b-4654-b259-9f1db15874e7}</key>
		<dict>
			<key>x1</key>
			<string>341.346</string>
			<key>y1</key>
			<string>94.4698</string>
			<key>x2</key>
			<string>341.346</string>
			<key>y2</key>
			<string>111.434</string>
			<key>height</key>
			<string>17.8583</string>
		</dict>
		<key>{a9767e97-a8ac-4fcf-8329-58897c8f670c}</key>
		<dict>
			<key>x1</key>
			<string>320.807</string>
			<key>y1</key>
			<string>168.284</string>
			<key>x2</key>
			<string>320.807</string>
			<key>y2</key>
			<string>181.676</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{34aabcdc-8241-4361-ab29-9028cc616aac}</key>
		<dict>
			<key>x1</key>
			<string>320.807</string>
			<key>y1</key>
			<string>92.0887</string>
			<key>x2</key>
			<string>320.807</string>
			<key>y2</key>
			<string>111.434</string>
			<key>height</key>
			<string>20.2394</string>
		</dict>
		<key>{405c53ab-cf17-48d7-932e-cfd5e98f3ff8}</key>
		<dict>
			<key>x1</key>
			<string>306.744</string>
			<key>y1</key>
			<string>165.903</string>
			<key>x2</key>
			<string>306.744</string>
			<key>y2</key>
			<string>182.058</string>
			<key>height</key>
			<string>17.0493</string>
		</dict>
		<key>{96975366-9f46-4ca2-953c-ad1bd1d2f39b}</key>
		<dict>
			<key>x1</key>
			<string>306.744</string>
			<key>y1</key>
			<string>89.7076</string>
			<key>x2</key>
			<string>306.744</string>
			<key>y2</key>
			<string>111.815</string>
			<key>height</key>
			<string>23.002</string>
		</dict>
		<key>{ede20289-0375-4db3-a79c-77f6c85bee38}</key>
		<dict>
			<key>x1</key>
			<string>292.681</string>
			<key>y1</key>
			<string>168.284</string>
			<key>x2</key>
			<string>292.681</string>
			<key>y2</key>
			<string>182.439</string>
			<key>height</key>
			<string>15.0497</string>
		</dict>
		<key>{7feead35-4976-4b65-9f0e-169cc2319613}</key>
		<dict>
			<key>x1</key>
			<string>292.681</string>
			<key>y1</key>
			<string>92.0887</string>
			<key>x2</key>
			<string>292.681</string>
			<key>y2</key>
			<string>112.197</string>
			<key>height</key>
			<string>21.0025</string>
		</dict>
		<key>{d28b7de6-2d78-49fd-926c-9d8fef09afeb}</key>
		<dict>
			<key>x1</key>
			<string>276.927</string>
			<key>y1</key>
			<string>170.665</string>
			<key>x2</key>
			<string>276.927</string>
			<key>y2</key>
			<string>182.867</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{f2b0afd1-a1f9-47b6-a482-40406e6a9da9}</key>
		<dict>
			<key>x1</key>
			<string>276.927</string>
			<key>y1</key>
			<string>94.4698</string>
			<key>x2</key>
			<string>276.927</string>
			<key>y2</key>
			<string>112.624</string>
			<key>height</key>
			<string>19.0488</string>
		</dict>
		<key>{22f60397-cb1d-4228-b7b9-d5a0116a80c0}</key>
		<dict>
			<key>x1</key>
			<string>265.069</string>
			<key>y1</key>
			<string>171.257</string>
			<key>x2</key>
			<string>265.069</string>
			<key>y2</key>
			<string>157.865</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{c73ed139-7839-4576-ba70-105332aad653}</key>
		<dict>
			<key>x1</key>
			<string>259.419</string>
			<key>y1</key>
			<string>96.8509</string>
			<key>x2</key>
			<string>259.419</string>
			<key>y2</key>
			<string>111.434</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{0f1e7de8-a238-49a8-bbb3-389bb8581a7c}</key>
		<dict>
			<key>x1</key>
			<string>253.799</string>
			<key>y1</key>
			<string>173.638</string>
			<key>x2</key>
			<string>253.799</string>
			<key>y2</key>
			<string>160.043</string>
			<key>height</key>
			<string>-14.49</string>
		</dict>
		<key>{6ee274b7-fbc8-4c16-b69d-81ffec51b28c}</key>
		<dict>
			<key>x1</key>
			<string>248.149</string>
			<key>y1</key>
			<string>99.232</string>
			<key>x2</key>
			<string>248.149</string>
			<key>y2</key>
			<string>113.611</string>
			<key>height</key>
			<string>15.2738</string>
		</dict>
		<key>{7fc848a1-ff17-460e-866e-fafe474c4aa4}</key>
		<dict>
			<key>x1</key>
			<string>244.031</string>
			<key>y1</key>
			<string>176.02</string>
			<key>x2</key>
			<string>244.031</string>
			<key>y2</key>
			<string>161.93</string>
			<key>height</key>
			<string>-14.9836</string>
		</dict>
		<key>{1bd60bd8-9558-4365-a49a-5c9b42107703}</key>
		<dict>
			<key>x1</key>
			<string>238.381</string>
			<key>y1</key>
			<string>101.613</string>
			<key>x2</key>
			<string>238.381</string>
			<key>y2</key>
			<string>115.499</string>
			<key>height</key>
			<string>14.7802</string>
		</dict>
		<key>{d15a875f-a141-466e-a8f7-7c7f59cc313e}</key>
		<dict>
			<key>x1</key>
			<string>234.263</string>
			<key>y1</key>
			<string>178.401</string>
			<key>x2</key>
			<string>234.263</string>
			<key>y2</key>
			<string>163.818</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{19a1451d-8108-456a-ba19-405d4fe4b502}</key>
		<dict>
			<key>x1</key>
			<string>228.612</string>
			<key>y1</key>
			<string>103.994</string>
			<key>x2</key>
			<string>228.612</string>
			<key>y2</key>
			<string>117.386</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{be1e5f86-e998-453e-a277-5e1d4c14a5e4}</key>
		<dict>
			<key>x1</key>
			<string>193.645</string>
			<key>y1</key>
			<string>153.997</string>
			<key>x2</key>
			<string>193.645</string>
			<key>y2</key>
			<string>170.961</string>
			<key>height</key>
			<string>17.8583</string>
		</dict>
		<key>{bc728198-a9de-4c2e-9aad-3f1c56eff044}</key>
		<dict>
			<key>x1</key>
			<string>193.645</string>
			<key>y1</key>
			<string>106.375</string>
			<key>x2</key>
			<string>193.645</string>
			<key>y2</key>
			<string>120.958</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{751151e3-5643-4895-9e3a-d03412e91a17}</key>
		<dict>
			<key>x1</key>
			<string>180.413</string>
			<key>y1</key>
			<string>156.378</string>
			<key>x2</key>
			<string>180.413</string>
			<key>y2</key>
			<string>171.707</string>
			<key>height</key>
			<string>16.2235</string>
		</dict>
		<key>{31ff2ace-955b-4e94-baf4-d038ce4eb182}</key>
		<dict>
			<key>x1</key>
			<string>180.413</string>
			<key>y1</key>
			<string>108.756</string>
			<key>x2</key>
			<string>180.413</string>
			<key>y2</key>
			<string>122.824</string>
			<key>height</key>
			<string>14.9618</string>
		</dict>
		<key>{96184dd6-89ef-4ed7-b240-cbac3e51ad9e}</key>
		<dict>
			<key>x1</key>
			<string>164.659</string>
			<key>y1</key>
			<string>158.76</string>
			<key>x2</key>
			<string>164.659</string>
			<key>y2</key>
			<string>172.596</string>
			<key>height</key>
			<string>14.7309</string>
		</dict>
		<key>{5a3d8a4d-3a62-4026-8b27-fd54de924f97}</key>
		<dict>
			<key>x1</key>
			<string>164.659</string>
			<key>y1</key>
			<string>111.137</string>
			<key>x2</key>
			<string>164.659</string>
			<key>y2</key>
			<string>125.045</string>
			<key>height</key>
			<string>14.802</string>
		</dict>
		<key>{3efc0002-aefe-4871-93b5-bc7285673155}</key>
		<dict>
			<key>x1</key>
			<string>151.427</string>
			<key>y1</key>
			<string>161.141</string>
			<key>x2</key>
			<string>151.427</string>
			<key>y2</key>
			<string>173.342</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{9a5b7ffd-868b-4ff5-bb0d-7e7eb187b4a9}</key>
		<dict>
			<key>x1</key>
			<string>151.427</string>
			<key>y1</key>
			<string>113.519</string>
			<key>x2</key>
			<string>151.427</string>
			<key>y2</key>
			<string>126.911</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{d357aa60-04b0-41e0-be75-c2718832f1d3}</key>
		<dict>
			<key>x1</key>
			<string>133.918</string>
			<key>y1</key>
			<string>163.522</string>
			<key>x2</key>
			<string>133.918</string>
			<key>y2</key>
			<string>176.914</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{02141f57-832f-4713-956f-f1907e4d11d4}</key>
		<dict>
			<key>x1</key>
			<string>139.569</string>
			<key>y1</key>
			<string>114.111</string>
			<key>x2</key>
			<string>139.569</string>
			<key>y2</key>
			<string>101.909</string>
			<key>height</key>
			<string>-13.0961</string>
		</dict>
		<key>{9783a8f3-7490-4b37-b1a6-4844eee8157b}</key>
		<dict>
			<key>x1</key>
			<string>124.722</string>
			<key>y1</key>
			<string>165.903</string>
			<key>x2</key>
			<string>124.722</string>
			<key>y2</key>
			<string>178.898</string>
			<key>height</key>
			<string>13.8898</string>
		</dict>
		<key>{5e44185b-4a1b-4134-8596-2ece6a669e3b}</key>
		<dict>
			<key>x1</key>
			<string>130.372</string>
			<key>y1</key>
			<string>116.492</string>
			<key>x2</key>
			<string>130.372</string>
			<key>y2</key>
			<string>103.893</string>
			<key>height</key>
			<string>-13.4929</string>
		</dict>
		<key>{654bd8c6-9d37-4976-a4f0-9daf283bbb1d}</key>
		<dict>
			<key>x1</key>
			<string>115.525</string>
			<key>y1</key>
			<string>168.284</string>
			<key>x2</key>
			<string>115.525</string>
			<key>y2</key>
			<string>180.882</string>
			<key>height</key>
			<string>13.4929</string>
		</dict>
		<key>{e916f11e-9e48-4da0-bf46-77c68f9a1b53}</key>
		<dict>
			<key>x1</key>
			<string>121.176</string>
			<key>y1</key>
			<string>118.873</string>
			<key>x2</key>
			<string>121.176</string>
			<key>y2</key>
			<string>105.878</string>
			<key>height</key>
			<string>-13.8898</string>
		</dict>
		<key>{e579fdc1-0c3b-4774-a9a9-39562dbe280f}</key>
		<dict>
			<key>x1</key>
			<string>106.328</string>
			<key>y1</key>
			<string>170.665</string>
			<key>x2</key>
			<string>106.328</string>
			<key>y2</key>
			<string>182.867</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{c8ca7af2-f54e-4cc2-afb2-0bf31fc6724f}</key>
		<dict>
			<key>x1</key>
			<string>111.979</string>
			<key>y1</key>
			<string>121.254</string>
			<key>x2</key>
			<string>111.979</string>
			<key>y2</key>
			<string>107.862</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
	</dict>
</dict>
</plist>