<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{5dc9b563-e444-4991-9eff-c17d3c0dbd45}</key>
		<dict>
			<key>x</key>
			<string>443.014</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{0d9ac1f6-7bca-4fd7-811e-0bd6964b4390}</key>
		<dict>
			<key>x</key>
			<string>396.796</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{c533322a-45e5-46f7-a6d9-1a87a1af3afb}</key>
		<dict>
			<key>x</key>
			<string>357.324</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{4a36e18a-f071-4d42-93d1-fe2656357aac}</key>
		<dict>
			<key>x</key>
			<string>317.852</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{9607acf3-900c-4427-82bc-43b900342c1f}</key>
		<dict>
			<key>x</key>
			<string>271.479</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{80f8e056-e9f8-4b1f-8249-3b00cc1ec4f7}</key>
		<dict>
			<key>x</key>
			<string>231.852</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{8378f97f-abeb-442f-8384-ec871eb7a19b}</key>
		<dict>
			<key>x</key>
			<string>192.225</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{d0694554-42be-488b-b094-a5fe66bdd02a}</key>
		<dict>
			<key>x</key>
			<string>147.503</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{119dacc9-6c8a-4246-a517-5bbc08076504}</key>
		<dict>
			<key>x</key>
			<string>109.528</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{2cb3cf93-7196-4f41-aaac-16a3e4f29d30}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{f393065b-9509-481a-b998-d097a3a0cdc2}</key>
		<dict>
			<key>x</key>
			<string>452.903</string>
			<key>y</key>
			<string>151.795</string>
		</dict>
		<key>{74ad40e6-abb3-41eb-813a-3737b32c093a}</key>
		<dict>
			<key>x</key>
			<string>406.921</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{80d8db6d-72d1-4c0e-a712-56c9b241ffb2}</key>
		<dict>
			<key>x</key>
			<string>367.686</string>
			<key>y</key>
			<string>149.315</string>
		</dict>
		<key>{20a77ddb-1857-46c7-9cb3-a66a069db941}</key>
		<dict>
			<key>x</key>
			<string>328.45</string>
			<key>y</key>
			<string>151.795</string>
		</dict>
		<key>{e278f5e4-ad00-4459-9037-e4a35ef85379}</key>
		<dict>
			<key>x</key>
			<string>282.469</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{863dfbbd-f41a-4be4-98eb-babc4a8c83c6}</key>
		<dict>
			<key>x</key>
			<string>243.233</string>
			<key>y</key>
			<string>151.795</string>
		</dict>
		<key>{4e6195ef-97c8-45b0-b288-b0aa3061d587}</key>
		<dict>
			<key>x</key>
			<string>203.998</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{1b73d9fa-d0c9-4128-b878-617e15e355fd}</key>
		<dict>
			<key>x</key>
			<string>159.667</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{8412aa61-2678-4f81-849b-41253d2d51b1}</key>
		<dict>
			<key>x</key>
			<string>122.084</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{59f7e329-fc98-45e4-a4a7-b5af62bc407b}</key>
		<dict>
			<key>x</key>
			<string>84.4996</string>
			<key>y</key>
			<string>156.756</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{5dc9b563-e444-4991-9eff-c17d3c0dbd45}</key>
		<dict>
			<key>x1</key>
			<string>443.336</string>
			<key>y1</key>
			<string>296.431</string>
			<key>x2</key>
			<string>443.336</string>
			<key>y2</key>
			<string>313.016</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{0d9ac1f6-7bca-4fd7-811e-0bd6964b4390}</key>
		<dict>
			<key>x1</key>
			<string>403.004</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>403.004</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{c533322a-45e5-46f7-a6d9-1a87a1af3afb}</key>
		<dict>
			<key>x1</key>
			<string>363.532</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>363.532</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{4a36e18a-f071-4d42-93d1-fe2656357aac}</key>
		<dict>
			<key>x1</key>
			<string>324.061</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>324.061</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9607acf3-900c-4427-82bc-43b900342c1f}</key>
		<dict>
			<key>x1</key>
			<string>277.687</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>277.687</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{80f8e056-e9f8-4b1f-8249-3b00cc1ec4f7}</key>
		<dict>
			<key>x1</key>
			<string>232.174</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>232.174</string>
			<key>y2</key>
			<string>313.016</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{8378f97f-abeb-442f-8384-ec871eb7a19b}</key>
		<dict>
			<key>x1</key>
			<string>192.547</string>
			<key>y1</key>
			<string>299.066</string>
			<key>x2</key>
			<string>192.547</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{d0694554-42be-488b-b094-a5fe66bdd02a}</key>
		<dict>
			<key>x1</key>
			<string>153.712</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>153.712</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{119dacc9-6c8a-4246-a517-5bbc08076504}</key>
		<dict>
			<key>x1</key>
			<string>109.85</string>
			<key>y1</key>
			<string>299.066</string>
			<key>x2</key>
			<string>109.85</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{2cb3cf93-7196-4f41-aaac-16a3e4f29d30}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f393065b-9509-481a-b998-d097a3a0cdc2}</key>
		<dict>
			<key>x1</key>
			<string>453.225</string>
			<key>y1</key>
			<string>152.573</string>
			<key>x2</key>
			<string>453.225</string>
			<key>y2</key>
			<string>169.157</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{74ad40e6-abb3-41eb-813a-3737b32c093a}</key>
		<dict>
			<key>x1</key>
			<string>413.13</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>413.13</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{80d8db6d-72d1-4c0e-a712-56c9b241ffb2}</key>
		<dict>
			<key>x1</key>
			<string>368.008</string>
			<key>y1</key>
			<string>150.247</string>
			<key>x2</key>
			<string>368.008</string>
			<key>y2</key>
			<string>166.677</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{20a77ddb-1857-46c7-9cb3-a66a069db941}</key>
		<dict>
			<key>x1</key>
			<string>328.773</string>
			<key>y1</key>
			<string>152.727</string>
			<key>x2</key>
			<string>328.773</string>
			<key>y2</key>
			<string>169.157</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{e278f5e4-ad00-4459-9037-e4a35ef85379}</key>
		<dict>
			<key>x1</key>
			<string>288.677</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>288.677</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{863dfbbd-f41a-4be4-98eb-babc4a8c83c6}</key>
		<dict>
			<key>x1</key>
			<string>243.556</string>
			<key>y1</key>
			<string>152.727</string>
			<key>x2</key>
			<string>243.556</string>
			<key>y2</key>
			<string>169.157</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{4e6195ef-97c8-45b0-b288-b0aa3061d587}</key>
		<dict>
			<key>x1</key>
			<string>204.32</string>
			<key>y1</key>
			<string>155.207</string>
			<key>x2</key>
			<string>204.32</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{1b73d9fa-d0c9-4128-b878-617e15e355fd}</key>
		<dict>
			<key>x1</key>
			<string>165.876</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>165.876</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{8412aa61-2678-4f81-849b-41253d2d51b1}</key>
		<dict>
			<key>x1</key>
			<string>122.406</string>
			<key>y1</key>
			<string>155.207</string>
			<key>x2</key>
			<string>122.406</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{59f7e329-fc98-45e4-a4a7-b5af62bc407b}</key>
		<dict>
			<key>x1</key>
			<string>84.8221</string>
			<key>y1</key>
			<string>157.688</string>
			<key>x2</key>
			<string>84.8221</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
	</dict>
</dict>
</plist>