<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>247.04</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>282.619</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>391.89</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>427.47</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>536.741</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>572.321</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>681.592</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>717.171</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>6</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>823.404</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>858.984</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>7</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>957.28</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>992.859</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>8</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>1103.62</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>1139.2</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{b1f5017e-d585-4f17-8c1d-ff47a706f660}</key>
		<dict>
			<key>x</key>
			<string>449.55</string>
			<key>y</key>
			<string>583.867</string>
		</dict>
		<key>{90223f08-e493-4652-84bf-e53b82aaccb2}</key>
		<dict>
			<key>x</key>
			<string>402.605</string>
			<key>y</key>
			<string>551.623</string>
		</dict>
		<key>{f379f60d-8036-462f-b444-aa30abc3f295}</key>
		<dict>
			<key>x</key>
			<string>362.407</string>
			<key>y</key>
			<string>559.064</string>
		</dict>
		<key>{1fbd048f-d1f7-491b-8e74-a1ab82eb32a8}</key>
		<dict>
			<key>x</key>
			<string>322.209</string>
			<key>y</key>
			<string>556.583</string>
		</dict>
		<key>{bda8caea-3f96-4bf4-963d-b50f9df3f020}</key>
		<dict>
			<key>x</key>
			<string>275.11</string>
			<key>y</key>
			<string>551.623</string>
		</dict>
		<key>{ee22bc65-34e1-4ea5-99a8-4d96d76c87ab}</key>
		<dict>
			<key>x</key>
			<string>234.757</string>
			<key>y</key>
			<string>583.867</string>
		</dict>
		<key>{df312d88-4394-433e-ad94-6f8ad88cff3b}</key>
		<dict>
			<key>x</key>
			<string>194.404</string>
			<key>y</key>
			<string>586.347</string>
		</dict>
		<key>{4040b30b-ff56-46e0-9dd3-000e04874f44}</key>
		<dict>
			<key>x</key>
			<string>148.956</string>
			<key>y</key>
			<string>551.623</string>
		</dict>
		<key>{4f8d7ae4-1df0-45e1-b8af-43741ec1c6c6}</key>
		<dict>
			<key>x</key>
			<string>110.254</string>
			<key>y</key>
			<string>586.347</string>
		</dict>
		<key>{5e8ec7d3-aef3-4311-8682-b28ef777888c}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>588.828</string>
		</dict>
		<key>{36436c10-db91-4a6e-96c6-f3370678a60c}</key>
		<dict>
			<key>x</key>
			<string>449.666</string>
			<key>y</key>
			<string>441.497</string>
		</dict>
		<key>{96fe958e-03e3-4b6d-b557-8ec2eb4d2d5f}</key>
		<dict>
			<key>x</key>
			<string>402.605</string>
			<key>y</key>
			<string>406.772</string>
		</dict>
		<key>{718ba66a-aef6-4956-9fbb-8534252567f3}</key>
		<dict>
			<key>x</key>
			<string>362.291</string>
			<key>y</key>
			<string>439.016</string>
		</dict>
		<key>{27ab53f0-2466-4b9f-943a-423cdad217ad}</key>
		<dict>
			<key>x</key>
			<string>321.977</string>
			<key>y</key>
			<string>441.497</string>
		</dict>
		<key>{6bcfa067-f31d-4e12-a9c3-ba8f88aa0ace}</key>
		<dict>
			<key>x</key>
			<string>274.916</string>
			<key>y</key>
			<string>406.772</string>
		</dict>
		<key>{30dc43a1-c6a6-4440-8cbb-8f9b82bf3a39}</key>
		<dict>
			<key>x</key>
			<string>234.602</string>
			<key>y</key>
			<string>441.497</string>
		</dict>
		<key>{109df1f0-9431-4345-903c-20c7bdc05e18}</key>
		<dict>
			<key>x</key>
			<string>194.287</string>
			<key>y</key>
			<string>443.977</string>
		</dict>
		<key>{ad849cb8-e914-43a8-a83f-1f78afeea3ed}</key>
		<dict>
			<key>x</key>
			<string>148.878</string>
			<key>y</key>
			<string>406.772</string>
		</dict>
		<key>{e2362815-d9b4-4818-8cb1-b3fb95d7cfd2}</key>
		<dict>
			<key>x</key>
			<string>110.215</string>
			<key>y</key>
			<string>443.977</string>
		</dict>
		<key>{4c7eb779-9479-4c7f-9fff-b33a56279298}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>446.457</string>
		</dict>
		<key>{2d40269a-560c-40c4-bab3-8611638f0f9a}</key>
		<dict>
			<key>x</key>
			<string>449.55</string>
			<key>y</key>
			<string>1150.74</string>
		</dict>
		<key>{8a347eeb-f907-4db6-94f9-8ed53fcb885f}</key>
		<dict>
			<key>x</key>
			<string>402.605</string>
			<key>y</key>
			<string>1118.5</string>
		</dict>
		<key>{7ed47812-2e9b-4d05-b305-f93d4ca0bef0}</key>
		<dict>
			<key>x</key>
			<string>362.407</string>
			<key>y</key>
			<string>1125.94</string>
		</dict>
		<key>{acfad270-dcae-4719-ba3a-da102b9959fe}</key>
		<dict>
			<key>x</key>
			<string>322.209</string>
			<key>y</key>
			<string>1123.46</string>
		</dict>
		<key>{cd8e06f8-8031-47e4-8d5b-2cd1f8b611b0}</key>
		<dict>
			<key>x</key>
			<string>275.11</string>
			<key>y</key>
			<string>1118.5</string>
		</dict>
		<key>{bb12bfca-5c96-4bb8-8aad-f1bb6f321a35}</key>
		<dict>
			<key>x</key>
			<string>234.757</string>
			<key>y</key>
			<string>1150.74</string>
		</dict>
		<key>{40d384e5-0740-4d44-927f-c40c06d2c5c6}</key>
		<dict>
			<key>x</key>
			<string>194.404</string>
			<key>y</key>
			<string>1153.22</string>
		</dict>
		<key>{e1989b89-41e2-4a66-8023-6c6691089e27}</key>
		<dict>
			<key>x</key>
			<string>148.956</string>
			<key>y</key>
			<string>1118.5</string>
		</dict>
		<key>{6cf42768-9474-4036-9bcc-e1934ee4c28c}</key>
		<dict>
			<key>x</key>
			<string>110.254</string>
			<key>y</key>
			<string>1153.22</string>
		</dict>
		<key>{38df9f43-3a9e-46ff-aa5e-4432393d9b39}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>1155.71</string>
		</dict>
		<key>{669a9a70-c681-419a-8385-38bbc80ba2ee}</key>
		<dict>
			<key>x</key>
			<string>449.666</string>
			<key>y</key>
			<string>1006.89</string>
		</dict>
		<key>{3f06aa4a-d048-4e31-844c-0cd08d0da456}</key>
		<dict>
			<key>x</key>
			<string>402.605</string>
			<key>y</key>
			<string>972.162</string>
		</dict>
		<key>{3f91d8a3-d47c-4c27-b811-a1b11e66c694}</key>
		<dict>
			<key>x</key>
			<string>362.291</string>
			<key>y</key>
			<string>1004.41</string>
		</dict>
		<key>{b49f10bd-9a46-4af2-a77e-4d77638b22d7}</key>
		<dict>
			<key>x</key>
			<string>321.977</string>
			<key>y</key>
			<string>1006.89</string>
		</dict>
		<key>{87ba1fc2-efc3-4fbf-8b59-24452a10ee9b}</key>
		<dict>
			<key>x</key>
			<string>274.916</string>
			<key>y</key>
			<string>972.162</string>
		</dict>
		<key>{505422df-feaa-44c5-b67c-813112dcc42e}</key>
		<dict>
			<key>x</key>
			<string>234.602</string>
			<key>y</key>
			<string>1006.89</string>
		</dict>
		<key>{f335d29d-43a2-4971-b3ff-1d9c02faccc8}</key>
		<dict>
			<key>x</key>
			<string>194.287</string>
			<key>y</key>
			<string>1009.37</string>
		</dict>
		<key>{b4ebb543-179c-4ae6-83e4-51a426f2dd25}</key>
		<dict>
			<key>x</key>
			<string>148.878</string>
			<key>y</key>
			<string>972.162</string>
		</dict>
		<key>{035f0908-3279-4385-9190-1cb8ae0a14f7}</key>
		<dict>
			<key>x</key>
			<string>110.215</string>
			<key>y</key>
			<string>1009.37</string>
		</dict>
		<key>{71408c15-8566-4f90-9040-cf6920ab5397}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>1011.85</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{b1f5017e-d585-4f17-8c1d-ff47a706f660}</key>
		<dict>
			<key>x1</key>
			<string>449.872</string>
			<key>y1</key>
			<string>584.645</string>
			<key>x2</key>
			<string>449.872</string>
			<key>y2</key>
			<string>601.229</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{90223f08-e493-4652-84bf-e53b82aaccb2}</key>
		<dict>
			<key>x1</key>
			<string>408.814</string>
			<key>y1</key>
			<string>550.691</string>
			<key>x2</key>
			<string>408.814</string>
			<key>y2</key>
			<string>534.881</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{f379f60d-8036-462f-b444-aa30abc3f295}</key>
		<dict>
			<key>x1</key>
			<string>368.616</string>
			<key>y1</key>
			<string>558.132</string>
			<key>x2</key>
			<string>368.616</string>
			<key>y2</key>
			<string>541.702</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{1fbd048f-d1f7-491b-8e74-a1ab82eb32a8}</key>
		<dict>
			<key>x1</key>
			<string>328.418</string>
			<key>y1</key>
			<string>555.652</string>
			<key>x2</key>
			<string>328.418</string>
			<key>y2</key>
			<string>539.221</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{bda8caea-3f96-4bf4-963d-b50f9df3f020}</key>
		<dict>
			<key>x1</key>
			<string>281.318</string>
			<key>y1</key>
			<string>550.691</string>
			<key>x2</key>
			<string>281.318</string>
			<key>y2</key>
			<string>534.881</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{ee22bc65-34e1-4ea5-99a8-4d96d76c87ab}</key>
		<dict>
			<key>x1</key>
			<string>235.079</string>
			<key>y1</key>
			<string>584.799</string>
			<key>x2</key>
			<string>235.079</string>
			<key>y2</key>
			<string>601.229</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{df312d88-4394-433e-ad94-6f8ad88cff3b}</key>
		<dict>
			<key>x1</key>
			<string>194.726</string>
			<key>y1</key>
			<string>587.279</string>
			<key>x2</key>
			<string>194.726</string>
			<key>y2</key>
			<string>603.709</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{4040b30b-ff56-46e0-9dd3-000e04874f44}</key>
		<dict>
			<key>x1</key>
			<string>155.164</string>
			<key>y1</key>
			<string>550.691</string>
			<key>x2</key>
			<string>155.164</string>
			<key>y2</key>
			<string>534.881</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{4f8d7ae4-1df0-45e1-b8af-43741ec1c6c6}</key>
		<dict>
			<key>x1</key>
			<string>110.576</string>
			<key>y1</key>
			<string>587.279</string>
			<key>x2</key>
			<string>110.576</string>
			<key>y2</key>
			<string>603.709</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{5e8ec7d3-aef3-4311-8682-b28ef777888c}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>589.759</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>606.19</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{36436c10-db91-4a6e-96c6-f3370678a60c}</key>
		<dict>
			<key>x1</key>
			<string>449.989</string>
			<key>y1</key>
			<string>442.274</string>
			<key>x2</key>
			<string>449.989</string>
			<key>y2</key>
			<string>458.859</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{96fe958e-03e3-4b6d-b557-8ec2eb4d2d5f}</key>
		<dict>
			<key>x1</key>
			<string>408.814</string>
			<key>y1</key>
			<string>405.841</string>
			<key>x2</key>
			<string>408.814</string>
			<key>y2</key>
			<string>390.03</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{718ba66a-aef6-4956-9fbb-8534252567f3}</key>
		<dict>
			<key>x1</key>
			<string>362.613</string>
			<key>y1</key>
			<string>439.948</string>
			<key>x2</key>
			<string>362.613</string>
			<key>y2</key>
			<string>456.378</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{27ab53f0-2466-4b9f-943a-423cdad217ad}</key>
		<dict>
			<key>x1</key>
			<string>322.299</string>
			<key>y1</key>
			<string>442.428</string>
			<key>x2</key>
			<string>322.299</string>
			<key>y2</key>
			<string>458.859</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{6bcfa067-f31d-4e12-a9c3-ba8f88aa0ace}</key>
		<dict>
			<key>x1</key>
			<string>281.125</string>
			<key>y1</key>
			<string>405.841</string>
			<key>x2</key>
			<string>281.125</string>
			<key>y2</key>
			<string>390.03</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{30dc43a1-c6a6-4440-8cbb-8f9b82bf3a39}</key>
		<dict>
			<key>x1</key>
			<string>234.924</string>
			<key>y1</key>
			<string>442.428</string>
			<key>x2</key>
			<string>234.924</string>
			<key>y2</key>
			<string>458.859</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{109df1f0-9431-4345-903c-20c7bdc05e18}</key>
		<dict>
			<key>x1</key>
			<string>194.61</string>
			<key>y1</key>
			<string>444.909</string>
			<key>x2</key>
			<string>194.61</string>
			<key>y2</key>
			<string>461.339</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{ad849cb8-e914-43a8-a83f-1f78afeea3ed}</key>
		<dict>
			<key>x1</key>
			<string>155.087</string>
			<key>y1</key>
			<string>405.841</string>
			<key>x2</key>
			<string>155.087</string>
			<key>y2</key>
			<string>390.03</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{e2362815-d9b4-4818-8cb1-b3fb95d7cfd2}</key>
		<dict>
			<key>x1</key>
			<string>110.538</string>
			<key>y1</key>
			<string>444.909</string>
			<key>x2</key>
			<string>110.538</string>
			<key>y2</key>
			<string>461.339</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{4c7eb779-9479-4c7f-9fff-b33a56279298}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>447.389</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>463.819</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{2d40269a-560c-40c4-bab3-8611638f0f9a}</key>
		<dict>
			<key>x1</key>
			<string>449.872</string>
			<key>y1</key>
			<string>1151.52</string>
			<key>x2</key>
			<string>449.872</string>
			<key>y2</key>
			<string>1168.11</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{8a347eeb-f907-4db6-94f9-8ed53fcb885f}</key>
		<dict>
			<key>x1</key>
			<string>408.814</string>
			<key>y1</key>
			<string>1117.57</string>
			<key>x2</key>
			<string>408.814</string>
			<key>y2</key>
			<string>1101.76</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{7ed47812-2e9b-4d05-b305-f93d4ca0bef0}</key>
		<dict>
			<key>x1</key>
			<string>368.616</string>
			<key>y1</key>
			<string>1125.01</string>
			<key>x2</key>
			<string>368.616</string>
			<key>y2</key>
			<string>1108.58</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{acfad270-dcae-4719-ba3a-da102b9959fe}</key>
		<dict>
			<key>x1</key>
			<string>328.418</string>
			<key>y1</key>
			<string>1122.53</string>
			<key>x2</key>
			<string>328.418</string>
			<key>y2</key>
			<string>1106.1</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{cd8e06f8-8031-47e4-8d5b-2cd1f8b611b0}</key>
		<dict>
			<key>x1</key>
			<string>281.318</string>
			<key>y1</key>
			<string>1117.57</string>
			<key>x2</key>
			<string>281.318</string>
			<key>y2</key>
			<string>1101.76</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{bb12bfca-5c96-4bb8-8aad-f1bb6f321a35}</key>
		<dict>
			<key>x1</key>
			<string>235.079</string>
			<key>y1</key>
			<string>1151.68</string>
			<key>x2</key>
			<string>235.079</string>
			<key>y2</key>
			<string>1168.11</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{40d384e5-0740-4d44-927f-c40c06d2c5c6}</key>
		<dict>
			<key>x1</key>
			<string>194.726</string>
			<key>y1</key>
			<string>1154.16</string>
			<key>x2</key>
			<string>194.726</string>
			<key>y2</key>
			<string>1170.59</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{e1989b89-41e2-4a66-8023-6c6691089e27}</key>
		<dict>
			<key>x1</key>
			<string>155.164</string>
			<key>y1</key>
			<string>1117.57</string>
			<key>x2</key>
			<string>155.164</string>
			<key>y2</key>
			<string>1101.76</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{6cf42768-9474-4036-9bcc-e1934ee4c28c}</key>
		<dict>
			<key>x1</key>
			<string>110.576</string>
			<key>y1</key>
			<string>1154.16</string>
			<key>x2</key>
			<string>110.576</string>
			<key>y2</key>
			<string>1170.59</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{38df9f43-3a9e-46ff-aa5e-4432393d9b39}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>1156.64</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>1173.07</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{669a9a70-c681-419a-8385-38bbc80ba2ee}</key>
		<dict>
			<key>x1</key>
			<string>449.989</string>
			<key>y1</key>
			<string>1007.66</string>
			<key>x2</key>
			<string>449.989</string>
			<key>y2</key>
			<string>1024.25</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{3f06aa4a-d048-4e31-844c-0cd08d0da456}</key>
		<dict>
			<key>x1</key>
			<string>408.814</string>
			<key>y1</key>
			<string>971.23</string>
			<key>x2</key>
			<string>408.814</string>
			<key>y2</key>
			<string>955.42</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{3f91d8a3-d47c-4c27-b811-a1b11e66c694}</key>
		<dict>
			<key>x1</key>
			<string>362.613</string>
			<key>y1</key>
			<string>1005.34</string>
			<key>x2</key>
			<string>362.613</string>
			<key>y2</key>
			<string>1021.77</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{b49f10bd-9a46-4af2-a77e-4d77638b22d7}</key>
		<dict>
			<key>x1</key>
			<string>322.299</string>
			<key>y1</key>
			<string>1007.82</string>
			<key>x2</key>
			<string>322.299</string>
			<key>y2</key>
			<string>1024.25</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{87ba1fc2-efc3-4fbf-8b59-24452a10ee9b}</key>
		<dict>
			<key>x1</key>
			<string>281.125</string>
			<key>y1</key>
			<string>971.23</string>
			<key>x2</key>
			<string>281.125</string>
			<key>y2</key>
			<string>955.42</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{505422df-feaa-44c5-b67c-813112dcc42e}</key>
		<dict>
			<key>x1</key>
			<string>234.924</string>
			<key>y1</key>
			<string>1007.82</string>
			<key>x2</key>
			<string>234.924</string>
			<key>y2</key>
			<string>1024.25</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f335d29d-43a2-4971-b3ff-1d9c02faccc8}</key>
		<dict>
			<key>x1</key>
			<string>194.61</string>
			<key>y1</key>
			<string>1010.3</string>
			<key>x2</key>
			<string>194.61</string>
			<key>y2</key>
			<string>1026.73</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{b4ebb543-179c-4ae6-83e4-51a426f2dd25}</key>
		<dict>
			<key>x1</key>
			<string>155.087</string>
			<key>y1</key>
			<string>971.23</string>
			<key>x2</key>
			<string>155.087</string>
			<key>y2</key>
			<string>955.42</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{035f0908-3279-4385-9190-1cb8ae0a14f7}</key>
		<dict>
			<key>x1</key>
			<string>110.538</string>
			<key>y1</key>
			<string>1010.3</string>
			<key>x2</key>
			<string>110.538</string>
			<key>y2</key>
			<string>1026.73</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{71408c15-8566-4f90-9040-cf6920ab5397}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>1012.78</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>1029.21</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
	</dict>
</dict>
</plist>