<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>538.865</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>574.444</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>685.203</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>720.783</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{454f8c72-f2e2-45e6-984d-ec3e6eaf92cc}</key>
		<dict>
			<key>x</key>
			<string>451.462</string>
			<key>y</key>
			<string>325.417</string>
		</dict>
		<key>{317a4ae8-9191-4ecd-9b39-a92004cbe29e}</key>
		<dict>
			<key>x</key>
			<string>405.155</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{b1f9fc76-9dae-45ba-8e53-4b825e15265a}</key>
		<dict>
			<key>x</key>
			<string>365.595</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{eda1a63c-ddc0-40e9-bce9-c8fde1f2b80e}</key>
		<dict>
			<key>x</key>
			<string>326.034</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{3e8ed634-c805-4387-be73-88c866edb142}</key>
		<dict>
			<key>x</key>
			<string>278.25</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{df75051c-0c6e-4a07-ae2f-7dc62b9eaa0f}</key>
		<dict>
			<key>x</key>
			<string>237.211</string>
			<key>y</key>
			<string>325.417</string>
		</dict>
		<key>{26276bc8-52e4-4c25-9065-47dd04768e53}</key>
		<dict>
			<key>x</key>
			<string>196.173</string>
			<key>y</key>
			<string>327.898</string>
		</dict>
		<key>{b7569826-7417-4d33-b3de-0e53f9ab623f}</key>
		<dict>
			<key>x</key>
			<string>150.039</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{dc920edd-7d71-4245-bcee-13889ddc0b34}</key>
		<dict>
			<key>x</key>
			<string>110.653</string>
			<key>y</key>
			<string>327.898</string>
		</dict>
		<key>{fe3eaa54-cbfe-45eb-bd7a-c8addb3697f9}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{912405ae-de83-4692-9adb-77a75bf1030a}</key>
		<dict>
			<key>x</key>
			<string>455.808</string>
			<key>y</key>
			<string>181.559</string>
		</dict>
		<key>{b5755d2b-7260-4ed7-98c8-f84961c6f35e}</key>
		<dict>
			<key>x</key>
			<string>409.471</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{19de3772-79cd-4960-9ff7-4320fc66c0c8}</key>
		<dict>
			<key>x</key>
			<string>369.881</string>
			<key>y</key>
			<string>179.079</string>
		</dict>
		<key>{5a3a66a0-1443-4f50-8c9a-1aa425f22513}</key>
		<dict>
			<key>x</key>
			<string>330.291</string>
			<key>y</key>
			<string>181.559</string>
		</dict>
		<key>{ba5f4945-32b5-4e5d-9822-dc0ce540ecdc}</key>
		<dict>
			<key>x</key>
			<string>283.955</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{995f7b75-6e15-4646-b723-6929dd0530a8}</key>
		<dict>
			<key>x</key>
			<string>244.365</string>
			<key>y</key>
			<string>181.559</string>
		</dict>
		<key>{c164d0cd-eddf-462e-8f25-2d04d6878fa4}</key>
		<dict>
			<key>x</key>
			<string>204.775</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{337770d1-ff26-4457-8cf6-6901d60a9283}</key>
		<dict>
			<key>x</key>
			<string>160.09</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{54036c96-0c33-403d-ab51-925684ec8062}</key>
		<dict>
			<key>x</key>
			<string>122.151</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{dc47af02-b9ec-4591-8611-1c2a770cdf64}</key>
		<dict>
			<key>x</key>
			<string>84.2129</string>
			<key>y</key>
			<string>186.52</string>
		</dict>
		<key>{bf3390e3-5194-45c2-bd1d-a1cf6647872a}</key>
		<dict>
			<key>x</key>
			<string>451.462</string>
			<key>y</key>
			<string>762.093</string>
		</dict>
		<key>{e543f245-34fd-458e-8c8a-b4661d602627}</key>
		<dict>
			<key>x</key>
			<string>405.155</string>
			<key>y</key>
			<string>700.085</string>
		</dict>
		<key>{dd08b509-4199-41a8-88b9-44a40930a65a}</key>
		<dict>
			<key>x</key>
			<string>365.595</string>
			<key>y</key>
			<string>707.526</string>
		</dict>
		<key>{a2830941-9e15-442c-9c47-c644f3c43e3e}</key>
		<dict>
			<key>x</key>
			<string>326.034</string>
			<key>y</key>
			<string>705.046</string>
		</dict>
		<key>{41ac571a-a723-46bd-8193-e81b16c6ab77}</key>
		<dict>
			<key>x</key>
			<string>278.25</string>
			<key>y</key>
			<string>700.085</string>
		</dict>
		<key>{069f7c92-938a-45e3-b9ee-ef15ac7ae474}</key>
		<dict>
			<key>x</key>
			<string>237.211</string>
			<key>y</key>
			<string>762.093</string>
		</dict>
		<key>{81e873ee-6f7b-4437-bf73-fad346754b04}</key>
		<dict>
			<key>x</key>
			<string>196.173</string>
			<key>y</key>
			<string>764.573</string>
		</dict>
		<key>{2b81188a-f26f-4a4f-945e-55c2734a8a75}</key>
		<dict>
			<key>x</key>
			<string>150.039</string>
			<key>y</key>
			<string>700.085</string>
		</dict>
		<key>{25508863-fed6-44fb-8019-de3b5156a194}</key>
		<dict>
			<key>x</key>
			<string>110.653</string>
			<key>y</key>
			<string>764.573</string>
		</dict>
		<key>{58ccc20f-3966-4323-b124-5198723d885b}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>767.054</string>
		</dict>
		<key>{cd509506-5844-40a9-a797-16eba872fb69}</key>
		<dict>
			<key>x</key>
			<string>452.571</string>
			<key>y</key>
			<string>618.235</string>
		</dict>
		<key>{4d27b985-3fec-42b9-bba5-4a228c47943d}</key>
		<dict>
			<key>x</key>
			<string>405.155</string>
			<key>y</key>
			<string>553.746</string>
		</dict>
		<key>{fe60bfc5-403a-4a71-97c5-6b46cc40ba80}</key>
		<dict>
			<key>x</key>
			<string>364.487</string>
			<key>y</key>
			<string>615.754</string>
		</dict>
		<key>{77048adc-3f44-4583-b13b-a934cc952fe3}</key>
		<dict>
			<key>x</key>
			<string>323.818</string>
			<key>y</key>
			<string>618.235</string>
		</dict>
		<key>{b90fa72c-3d6f-4e08-82c0-abd2bfb25fce}</key>
		<dict>
			<key>x</key>
			<string>276.402</string>
			<key>y</key>
			<string>553.746</string>
		</dict>
		<key>{97fd00b9-74ea-43dd-98aa-d9e6a68c2cf6}</key>
		<dict>
			<key>x</key>
			<string>235.733</string>
			<key>y</key>
			<string>618.235</string>
		</dict>
		<key>{e930f6aa-9ea8-47c3-aad1-7d987b9a6020}</key>
		<dict>
			<key>x</key>
			<string>195.064</string>
			<key>y</key>
			<string>620.715</string>
		</dict>
		<key>{f75dcdd2-b5c4-4677-a15d-eeaa2fcee67f}</key>
		<dict>
			<key>x</key>
			<string>149.301</string>
			<key>y</key>
			<string>553.746</string>
		</dict>
		<key>{31704f46-f741-4e64-a9be-53934d6e77bb}</key>
		<dict>
			<key>x</key>
			<string>110.283</string>
			<key>y</key>
			<string>620.715</string>
		</dict>
		<key>{1f8f0054-511c-467a-8d12-1e2da897a9b7}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>623.195</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{454f8c72-f2e2-45e6-984d-ec3e6eaf92cc}</key>
		<dict>
			<key>x1</key>
			<string>451.785</string>
			<key>y1</key>
			<string>326.195</string>
			<key>x2</key>
			<string>451.785</string>
			<key>y2</key>
			<string>337.199</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{317a4ae8-9191-4ecd-9b39-a92004cbe29e}</key>
		<dict>
			<key>x1</key>
			<string>411.364</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>411.364</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{b1f9fc76-9dae-45ba-8e53-4b825e15265a}</key>
		<dict>
			<key>x1</key>
			<string>371.803</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>371.803</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{eda1a63c-ddc0-40e9-bce9-c8fde1f2b80e}</key>
		<dict>
			<key>x1</key>
			<string>332.243</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>332.243</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3e8ed634-c805-4387-be73-88c866edb142}</key>
		<dict>
			<key>x1</key>
			<string>284.458</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>284.458</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{df75051c-0c6e-4a07-ae2f-7dc62b9eaa0f}</key>
		<dict>
			<key>x1</key>
			<string>237.534</string>
			<key>y1</key>
			<string>326.349</string>
			<key>x2</key>
			<string>237.534</string>
			<key>y2</key>
			<string>337.199</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{26276bc8-52e4-4c25-9065-47dd04768e53}</key>
		<dict>
			<key>x1</key>
			<string>196.495</string>
			<key>y1</key>
			<string>328.829</string>
			<key>x2</key>
			<string>196.495</string>
			<key>y2</key>
			<string>339.059</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{b7569826-7417-4d33-b3de-0e53f9ab623f}</key>
		<dict>
			<key>x1</key>
			<string>156.248</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>156.248</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{dc920edd-7d71-4245-bcee-13889ddc0b34}</key>
		<dict>
			<key>x1</key>
			<string>110.975</string>
			<key>y1</key>
			<string>328.829</string>
			<key>x2</key>
			<string>110.975</string>
			<key>y2</key>
			<string>339.059</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{fe3eaa54-cbfe-45eb-bd7a-c8addb3697f9}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{912405ae-de83-4692-9adb-77a75bf1030a}</key>
		<dict>
			<key>x1</key>
			<string>456.13</string>
			<key>y1</key>
			<string>182.337</string>
			<key>x2</key>
			<string>456.13</string>
			<key>y2</key>
			<string>192.72</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{b5755d2b-7260-4ed7-98c8-f84961c6f35e}</key>
		<dict>
			<key>x1</key>
			<string>415.68</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>415.68</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{19de3772-79cd-4960-9ff7-4320fc66c0c8}</key>
		<dict>
			<key>x1</key>
			<string>370.204</string>
			<key>y1</key>
			<string>180.01</string>
			<key>x2</key>
			<string>370.204</string>
			<key>y2</key>
			<string>190.86</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{5a3a66a0-1443-4f50-8c9a-1aa425f22513}</key>
		<dict>
			<key>x1</key>
			<string>330.614</string>
			<key>y1</key>
			<string>182.491</string>
			<key>x2</key>
			<string>330.614</string>
			<key>y2</key>
			<string>192.72</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{ba5f4945-32b5-4e5d-9822-dc0ce540ecdc}</key>
		<dict>
			<key>x1</key>
			<string>290.163</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>290.163</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{995f7b75-6e15-4646-b723-6929dd0530a8}</key>
		<dict>
			<key>x1</key>
			<string>244.687</string>
			<key>y1</key>
			<string>182.491</string>
			<key>x2</key>
			<string>244.687</string>
			<key>y2</key>
			<string>192.72</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{c164d0cd-eddf-462e-8f25-2d04d6878fa4}</key>
		<dict>
			<key>x1</key>
			<string>205.097</string>
			<key>y1</key>
			<string>184.971</string>
			<key>x2</key>
			<string>205.097</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{337770d1-ff26-4457-8cf6-6901d60a9283}</key>
		<dict>
			<key>x1</key>
			<string>166.298</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>166.298</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{54036c96-0c33-403d-ab51-925684ec8062}</key>
		<dict>
			<key>x1</key>
			<string>122.474</string>
			<key>y1</key>
			<string>184.971</string>
			<key>x2</key>
			<string>122.474</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{dc47af02-b9ec-4591-8611-1c2a770cdf64}</key>
		<dict>
			<key>x1</key>
			<string>84.5353</string>
			<key>y1</key>
			<string>187.451</string>
			<key>x2</key>
			<string>84.5353</string>
			<key>y2</key>
			<string>197.681</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{bf3390e3-5194-45c2-bd1d-a1cf6647872a}</key>
		<dict>
			<key>x1</key>
			<string>451.785</string>
			<key>y1</key>
			<string>762.871</string>
			<key>x2</key>
			<string>451.785</string>
			<key>y2</key>
			<string>773.874</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{e543f245-34fd-458e-8c8a-b4661d602627}</key>
		<dict>
			<key>x1</key>
			<string>411.364</string>
			<key>y1</key>
			<string>699.153</string>
			<key>x2</key>
			<string>411.364</string>
			<key>y2</key>
			<string>683.343</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{dd08b509-4199-41a8-88b9-44a40930a65a}</key>
		<dict>
			<key>x1</key>
			<string>371.803</string>
			<key>y1</key>
			<string>706.594</string>
			<key>x2</key>
			<string>371.803</string>
			<key>y2</key>
			<string>690.164</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{a2830941-9e15-442c-9c47-c644f3c43e3e}</key>
		<dict>
			<key>x1</key>
			<string>332.243</string>
			<key>y1</key>
			<string>704.114</string>
			<key>x2</key>
			<string>332.243</string>
			<key>y2</key>
			<string>687.683</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{41ac571a-a723-46bd-8193-e81b16c6ab77}</key>
		<dict>
			<key>x1</key>
			<string>284.458</string>
			<key>y1</key>
			<string>699.153</string>
			<key>x2</key>
			<string>284.458</string>
			<key>y2</key>
			<string>683.343</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{069f7c92-938a-45e3-b9ee-ef15ac7ae474}</key>
		<dict>
			<key>x1</key>
			<string>237.534</string>
			<key>y1</key>
			<string>763.025</string>
			<key>x2</key>
			<string>237.534</string>
			<key>y2</key>
			<string>773.874</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{81e873ee-6f7b-4437-bf73-fad346754b04}</key>
		<dict>
			<key>x1</key>
			<string>196.495</string>
			<key>y1</key>
			<string>765.505</string>
			<key>x2</key>
			<string>196.495</string>
			<key>y2</key>
			<string>775.735</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{2b81188a-f26f-4a4f-945e-55c2734a8a75}</key>
		<dict>
			<key>x1</key>
			<string>156.248</string>
			<key>y1</key>
			<string>699.153</string>
			<key>x2</key>
			<string>156.248</string>
			<key>y2</key>
			<string>683.343</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{25508863-fed6-44fb-8019-de3b5156a194}</key>
		<dict>
			<key>x1</key>
			<string>110.975</string>
			<key>y1</key>
			<string>765.505</string>
			<key>x2</key>
			<string>110.975</string>
			<key>y2</key>
			<string>775.735</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{58ccc20f-3966-4323-b124-5198723d885b}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>767.985</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>778.215</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{cd509506-5844-40a9-a797-16eba872fb69}</key>
		<dict>
			<key>x1</key>
			<string>452.893</string>
			<key>y1</key>
			<string>619.012</string>
			<key>x2</key>
			<string>452.893</string>
			<key>y2</key>
			<string>629.396</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{4d27b985-3fec-42b9-bba5-4a228c47943d}</key>
		<dict>
			<key>x1</key>
			<string>411.364</string>
			<key>y1</key>
			<string>552.815</string>
			<key>x2</key>
			<string>411.364</string>
			<key>y2</key>
			<string>537.004</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{fe60bfc5-403a-4a71-97c5-6b46cc40ba80}</key>
		<dict>
			<key>x1</key>
			<string>364.809</string>
			<key>y1</key>
			<string>616.686</string>
			<key>x2</key>
			<string>364.809</string>
			<key>y2</key>
			<string>627.536</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{77048adc-3f44-4583-b13b-a934cc952fe3}</key>
		<dict>
			<key>x1</key>
			<string>324.14</string>
			<key>y1</key>
			<string>619.166</string>
			<key>x2</key>
			<string>324.14</string>
			<key>y2</key>
			<string>629.396</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{b90fa72c-3d6f-4e08-82c0-abd2bfb25fce}</key>
		<dict>
			<key>x1</key>
			<string>282.611</string>
			<key>y1</key>
			<string>552.815</string>
			<key>x2</key>
			<string>282.611</string>
			<key>y2</key>
			<string>537.004</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{97fd00b9-74ea-43dd-98aa-d9e6a68c2cf6}</key>
		<dict>
			<key>x1</key>
			<string>236.056</string>
			<key>y1</key>
			<string>619.166</string>
			<key>x2</key>
			<string>236.056</string>
			<key>y2</key>
			<string>629.396</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{e930f6aa-9ea8-47c3-aad1-7d987b9a6020}</key>
		<dict>
			<key>x1</key>
			<string>195.387</string>
			<key>y1</key>
			<string>621.647</string>
			<key>x2</key>
			<string>195.387</string>
			<key>y2</key>
			<string>631.876</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{f75dcdd2-b5c4-4677-a15d-eeaa2fcee67f}</key>
		<dict>
			<key>x1</key>
			<string>155.509</string>
			<key>y1</key>
			<string>552.815</string>
			<key>x2</key>
			<string>155.509</string>
			<key>y2</key>
			<string>537.004</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{31704f46-f741-4e64-a9be-53934d6e77bb}</key>
		<dict>
			<key>x1</key>
			<string>110.606</string>
			<key>y1</key>
			<string>621.647</string>
			<key>x2</key>
			<string>110.606</string>
			<key>y2</key>
			<string>631.876</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{1f8f0054-511c-467a-8d12-1e2da897a9b7}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>624.127</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>634.357</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
	</dict>
</dict>
</plist>