<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>pen_width</key>
	<string>0.40</string>
	<key>xend</key>
	<real>2209.75</real>
	<key>stafflines</key>
	<dict>
		<key>0</key>
		<dict>
			<key>x</key>
			<string>10.4173</string>
			<key>y</key>
			<string>16.3582</string>
			<key>bx</key>
			<string>10.4173</string>
			<key>by</key>
			<string>51.9378</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{95fb11a8-00ae-4c3c-bcb3-6e3d7978b0c3}</key>
		<dict>
			<key>x</key>
			<string>2024.22</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{c8b01e3e-e339-4a5e-8871-2d39e5fa7f7e}</key>
		<dict>
			<key>x</key>
			<string>1999.43</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c673ffb0-dac9-45fb-9cc1-2a43c238fb57}</key>
		<dict>
			<key>x</key>
			<string>1979.41</string>
			<key>y</key>
			<string>38.681</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6c639acc-b799-4cc9-bfd6-53daee1b0f0c}</key>
		<dict>
			<key>x</key>
			<string>1959.39</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{588d2b5e-2579-485c-b13c-eef0d7d9ef50}</key>
		<dict>
			<key>x</key>
			<string>1934.6</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ceb6c702-0258-40ee-9346-a41721c42b9a}</key>
		<dict>
			<key>x</key>
			<string>1914.58</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{2fc343a3-ccbc-4447-8e9f-b756e5441585}</key>
		<dict>
			<key>x</key>
			<string>1894.55</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{56465b35-9234-4410-a8e4-9b247d90d510}</key>
		<dict>
			<key>x</key>
			<string>1869.77</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ecbbfb45-9067-46c1-ab62-bc59690f823c}</key>
		<dict>
			<key>x</key>
			<string>1849.74</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{b62397a4-c018-493a-b385-8e141e2365e5}</key>
		<dict>
			<key>x</key>
			<string>1829.72</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{e421d42f-4290-4183-9a02-55370ae3af61}</key>
		<dict>
			<key>x</key>
			<string>1764.89</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{4bf3ab76-f2e4-4199-9dd6-b0a4599f99e3}</key>
		<dict>
			<key>x</key>
			<string>1740.1</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{1a2dcb78-4bb9-48b6-ae2f-e6e362af3b1c}</key>
		<dict>
			<key>x</key>
			<string>1720.08</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{5b0419c4-903e-4696-bb7f-77627c805212}</key>
		<dict>
			<key>x</key>
			<string>1700.05</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{f7f8fa9f-5baa-4664-ade7-28c20e7ca5a1}</key>
		<dict>
			<key>x</key>
			<string>1675.27</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7cfc3094-6f88-4d52-a73b-a65f30d0774a}</key>
		<dict>
			<key>x</key>
			<string>1655.24</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{9a4a4b44-5f29-413d-9c80-a7206f64c19f}</key>
		<dict>
			<key>x</key>
			<string>1635.22</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{0a0188fe-8e34-4c32-a82a-cef71b20e1db}</key>
		<dict>
			<key>x</key>
			<string>1610.43</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{049833be-29d4-4bf5-a0da-ef183fa627fd}</key>
		<dict>
			<key>x</key>
			<string>1590.41</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{6b5513cd-3bcc-4f5b-a1df-eaf6caf02d02}</key>
		<dict>
			<key>x</key>
			<string>1570.39</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{8a1bab68-5e43-4b78-98c3-dcad39008ee5}</key>
		<dict>
			<key>x</key>
			<string>986.886</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{2018b280-e34d-46c8-a7fd-855d5325917c}</key>
		<dict>
			<key>x</key>
			<string>962.1</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0ffd1bdf-12d9-4f9c-acc3-f92932b1d211}</key>
		<dict>
			<key>x</key>
			<string>942.077</string>
			<key>y</key>
			<string>38.681</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{add6e441-0f38-44db-947f-34b336d3fd03}</key>
		<dict>
			<key>x</key>
			<string>922.053</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{3ca6069b-4756-40e7-b721-1d04c75e5270}</key>
		<dict>
			<key>x</key>
			<string>897.267</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{91e25f7c-a1ce-4d71-91f2-161bb5fd892c}</key>
		<dict>
			<key>x</key>
			<string>877.243</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{96a740f0-8a7a-4d9c-b2cb-1add554351b9}</key>
		<dict>
			<key>x</key>
			<string>857.22</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{236f68dc-8374-4605-857e-fbab05a19054}</key>
		<dict>
			<key>x</key>
			<string>832.434</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{056c12ad-f2ce-4c00-94b9-dba3d804729e}</key>
		<dict>
			<key>x</key>
			<string>812.41</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{e0f4cfb2-1077-4198-8eb6-0e53f79e2bdf}</key>
		<dict>
			<key>x</key>
			<string>792.386</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{a8013e99-6e4d-43c1-8098-a9e30907c03b}</key>
		<dict>
			<key>x</key>
			<string>727.553</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{72caf1be-c7f9-42b2-b1d9-ee739cc17dd5}</key>
		<dict>
			<key>x</key>
			<string>702.767</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{829839af-8e21-46c5-9677-8b2a7f649804}</key>
		<dict>
			<key>x</key>
			<string>682.743</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{667a2e61-c7bb-4b0c-bcef-c3a8c7e5e778}</key>
		<dict>
			<key>x</key>
			<string>662.719</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{bdb7f722-0f3a-43a1-86b8-3bfd0a27cfbc}</key>
		<dict>
			<key>x</key>
			<string>637.934</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b8356c56-8eae-4eed-ba82-e34536850bc7}</key>
		<dict>
			<key>x</key>
			<string>617.91</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{0e87b01b-98a1-4783-90b2-76372a71f9cc}</key>
		<dict>
			<key>x</key>
			<string>597.886</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{96b14259-72e2-4ece-9770-79f1989984ca}</key>
		<dict>
			<key>x</key>
			<string>573.1</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{24c4ee78-956e-4649-a7d4-3c5bbe67f6a7}</key>
		<dict>
			<key>x</key>
			<string>553.076</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{2724a626-755e-41c2-840a-c44ceb98c06e}</key>
		<dict>
			<key>x</key>
			<string>533.053</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>2</string>
		</dict>
	</dict>
	<key>rests</key>
	<dict>
		<key>{a202f964-b8f1-47d4-9ec7-e0c9333854d3}</key>
		<dict>
			<key>x</key>
			<string>2153.89</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{e09ad6db-3955-47b2-94d6-0668ae315180}</key>
		<dict>
			<key>x</key>
			<string>2153.89</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{a0e9b7dd-acef-4c56-bf41-3a03490c70cb}</key>
		<dict>
			<key>x</key>
			<string>2089.05</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{3ed1e9f7-c3aa-4e52-94a4-415fe4151575}</key>
		<dict>
			<key>x</key>
			<string>2089.05</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ecd780b3-c99b-4f8d-bff3-61d14b551630}</key>
		<dict>
			<key>x</key>
			<string>2024.4</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{1727b28b-bc98-4e05-ad0a-2c3a46d9a082}</key>
		<dict>
			<key>x</key>
			<string>1959.39</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{d3be00fe-9655-450d-9ef6-7f2fb0bf01e4}</key>
		<dict>
			<key>x</key>
			<string>1934.6</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{da016bcf-5b2e-4159-af29-8292291fa3d5}</key>
		<dict>
			<key>x</key>
			<string>1894.55</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{4a05fd72-b125-4ec7-898c-c9fe969e47ec}</key>
		<dict>
			<key>x</key>
			<string>1869.77</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{39a94ad5-8d25-49a2-957f-d97782c11b00}</key>
		<dict>
			<key>x</key>
			<string>1829.72</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ac7e42b2-b271-4427-84ea-5e9eb3510596}</key>
		<dict>
			<key>x</key>
			<string>1765.07</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{8b95c0b6-df4d-4833-8431-729872f545d3}</key>
		<dict>
			<key>x</key>
			<string>1740.1</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{47524765-c83f-4095-9f21-34d61ef2fcc9}</key>
		<dict>
			<key>x</key>
			<string>1700.05</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{da41caea-0321-4c67-890e-2405f02794d9}</key>
		<dict>
			<key>x</key>
			<string>1675.27</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{dccdcce9-246e-49f3-94e5-37e5c2435d19}</key>
		<dict>
			<key>x</key>
			<string>1635.22</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{a01e77b4-8bdb-4ca1-bf63-b7fa21681e78}</key>
		<dict>
			<key>x</key>
			<string>1610.43</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{6ad017a5-da57-4f79-b784-409ec513c61d}</key>
		<dict>
			<key>x</key>
			<string>1570.39</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2ff0532f-3230-4bad-8dcd-397911abf8dc}</key>
		<dict>
			<key>x</key>
			<string>1505.55</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{7272072e-087c-4148-b884-ccf1744aa19b}</key>
		<dict>
			<key>x</key>
			<string>1505.55</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{cbf50f6c-c936-4a00-b228-49b400c45846}</key>
		<dict>
			<key>x</key>
			<string>1440.72</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{83603f79-27b4-4330-9608-ca4e8f13838a}</key>
		<dict>
			<key>x</key>
			<string>1440.72</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{3d3a30f5-e741-40c9-806d-3d54cca0efb1}</key>
		<dict>
			<key>x</key>
			<string>1375.89</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{a8594ab3-51ec-4461-b031-03896cb4ab26}</key>
		<dict>
			<key>x</key>
			<string>1375.89</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{81438538-0c30-4341-b7a8-70f51004bb70}</key>
		<dict>
			<key>x</key>
			<string>1311.05</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{e75525ce-db00-4a03-aaf1-961913d9f103}</key>
		<dict>
			<key>x</key>
			<string>1311.05</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0707ef0a-a27d-492f-896d-c9e06ecefceb}</key>
		<dict>
			<key>x</key>
			<string>1246.22</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{ea97e7ed-aa9d-4f0a-8bbe-afc4bfc37f74}</key>
		<dict>
			<key>x</key>
			<string>1246.22</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b86e8fdd-789a-47e2-b5ed-bd65d2a245f9}</key>
		<dict>
			<key>x</key>
			<string>1181.39</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{3969b5f8-dd5a-4cd7-b873-538e6d5c087b}</key>
		<dict>
			<key>x</key>
			<string>1181.39</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{adfda186-7942-4f88-b1e1-a5840ae5ebc1}</key>
		<dict>
			<key>x</key>
			<string>1116.55</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{787031e7-ec6a-44df-a760-ad7f53060500}</key>
		<dict>
			<key>x</key>
			<string>1116.55</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f0a7df2a-8f0b-4b6a-ac05-e5e10d2fdc23}</key>
		<dict>
			<key>x</key>
			<string>1051.72</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{6015d35b-2b9b-4942-a0ea-696c35a43357}</key>
		<dict>
			<key>x</key>
			<string>1051.72</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{259ac40d-4d1a-42d6-9934-952bc0ebec45}</key>
		<dict>
			<key>x</key>
			<string>987.065</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d663c9e1-4f31-4179-8a13-7287103d4a73}</key>
		<dict>
			<key>x</key>
			<string>922.053</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{9e03511d-22f7-446c-9ca3-68ee2865c089}</key>
		<dict>
			<key>x</key>
			<string>897.267</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{c5c80893-d79e-4e17-8195-d5fa0b638a1b}</key>
		<dict>
			<key>x</key>
			<string>857.22</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{46fbfc77-dff8-4845-8b26-58c2b07144ac}</key>
		<dict>
			<key>x</key>
			<string>832.434</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{5a80c0ce-5580-425e-bad7-e3e0110f63c2}</key>
		<dict>
			<key>x</key>
			<string>792.386</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{61a46aca-55af-4be4-ba14-46f3aeb2046d}</key>
		<dict>
			<key>x</key>
			<string>727.732</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ce3d6d3b-d4da-454d-9316-62f4bd641f93}</key>
		<dict>
			<key>x</key>
			<string>702.767</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{723453f7-4dc4-4776-a271-9dab4afb16b9}</key>
		<dict>
			<key>x</key>
			<string>662.719</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f4001310-bf17-440e-9655-2baf03b8e226}</key>
		<dict>
			<key>x</key>
			<string>637.934</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{855570ed-db4b-4281-9424-a7d56a4d4027}</key>
		<dict>
			<key>x</key>
			<string>597.886</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b17348a1-673b-42c2-b9b9-ac2ec24ab3e1}</key>
		<dict>
			<key>x</key>
			<string>573.1</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{ff15b392-76da-46a3-a5bf-40f9c9e772f0}</key>
		<dict>
			<key>x</key>
			<string>533.053</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{961a66ed-92ec-40dc-9015-e51f915301f1}</key>
		<dict>
			<key>x</key>
			<string>468.219</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{ffff8de0-e2c4-4848-b9f6-546ecbd4e8e3}</key>
		<dict>
			<key>x</key>
			<string>468.219</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{494bdcc3-ce96-472a-992e-d33ab5f88da8}</key>
		<dict>
			<key>x</key>
			<string>403.386</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{12cfb27f-3acd-4c9a-9d78-1d9503cb7343}</key>
		<dict>
			<key>x</key>
			<string>403.386</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{38c0cec4-d25a-443f-9411-7c657a4adeb2}</key>
		<dict>
			<key>x</key>
			<string>338.553</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{a32189f2-291c-4c1c-b981-9701448c3fd2}</key>
		<dict>
			<key>x</key>
			<string>338.553</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{1ca92e66-0628-4d80-9a17-05ca6df19dce}</key>
		<dict>
			<key>x</key>
			<string>273.719</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{54d70958-49f8-4b01-bb5a-852d5274e814}</key>
		<dict>
			<key>x</key>
			<string>273.719</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{250545c7-0869-43b2-a8b0-ce8807218f25}</key>
		<dict>
			<key>x</key>
			<string>208.886</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{e732fde5-fd9b-4a93-9165-cee6f03426e8}</key>
		<dict>
			<key>x</key>
			<string>208.886</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2653bf39-3c00-4eb4-b976-04705f356bca}</key>
		<dict>
			<key>x</key>
			<string>144.053</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{e7d25608-49ef-4203-9fd2-fde95293bece}</key>
		<dict>
			<key>x</key>
			<string>144.053</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{cbf310ae-8c24-439e-9755-f6f34ec7ffb2}</key>
		<dict>
			<key>x</key>
			<string>79.2192</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{b521af85-a855-4255-846d-eb7f0b17290f}</key>
		<dict>
			<key>x</key>
			<string>79.2192</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{78c1646a-99a8-47a0-acc0-72c8c5ed7cfe}</key>
		<dict>
			<key>x</key>
			<string>48.7831</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{802bdbd6-7887-461c-b5f8-4edc4b347578}</key>
		<dict>
			<key>x</key>
			<string>48.7831</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>note_finger</key>
	<dict>
	</dict>
	<key>note_step</key>
	<dict>
		<key>{95fb11a8-00ae-4c3c-bcb3-6e3d7978b0c3}</key>
		<string>{93144122-4668-4b96-84fb-780db08c581b}</string>
		<key>{c8b01e3e-e339-4a5e-8871-2d39e5fa7f7e}</key>
		<string>{c265904e-dc73-4360-910b-e2dc3dd86a1d}</string>
		<key>{c673ffb0-dac9-45fb-9cc1-2a43c238fb57}</key>
		<string>{c2f0e35b-224c-4407-a6fb-6f8149ebd824}</string>
		<key>{6c639acc-b799-4cc9-bfd6-53daee1b0f0c}</key>
		<string>{94a3a3e2-0055-4db8-a8de-4171b59f2dc5}</string>
		<key>{588d2b5e-2579-485c-b13c-eef0d7d9ef50}</key>
		<string>{6227443e-6944-4dc6-89ac-3642ead20a71}</string>
		<key>{ceb6c702-0258-40ee-9346-a41721c42b9a}</key>
		<string>{6c79c908-f398-479e-bcee-ef517413c57a}</string>
		<key>{2fc343a3-ccbc-4447-8e9f-b756e5441585}</key>
		<string>{25428a5e-2941-4506-ae22-06508fbc9c8d}</string>
		<key>{56465b35-9234-4410-a8e4-9b247d90d510}</key>
		<string>{3942a072-87d3-46bf-b5a9-4a1aba6149d1}</string>
		<key>{ecbbfb45-9067-46c1-ab62-bc59690f823c}</key>
		<string>{3c3d6e27-3aad-429d-82a6-6bd7004cd829}</string>
		<key>{b62397a4-c018-493a-b385-8e141e2365e5}</key>
		<string>{d5f2ed2d-7712-48e6-9e75-c4ef79566041}</string>
		<key>{e421d42f-4290-4183-9a02-55370ae3af61}</key>
		<string>{1e84e431-62a0-4716-97be-92095d69a209}</string>
		<key>{4bf3ab76-f2e4-4199-9dd6-b0a4599f99e3}</key>
		<string>{6635a6e0-5990-4d5c-a4f9-f83b861acafd}</string>
		<key>{1a2dcb78-4bb9-48b6-ae2f-e6e362af3b1c}</key>
		<string>{4d1a45bc-bedb-465d-a018-835c5beecc40}</string>
		<key>{5b0419c4-903e-4696-bb7f-77627c805212}</key>
		<string>{fd8db508-459b-4bfa-8abf-50fbcc3705ff}</string>
		<key>{f7f8fa9f-5baa-4664-ade7-28c20e7ca5a1}</key>
		<string>{123956da-6ffb-4e61-86af-a9b59f862113}</string>
		<key>{7cfc3094-6f88-4d52-a73b-a65f30d0774a}</key>
		<string>{0c210c8d-973e-4928-bf3c-89ecacdaeb0e}</string>
		<key>{9a4a4b44-5f29-413d-9c80-a7206f64c19f}</key>
		<string>{0bc407be-086c-4d19-9b7e-d0cbe5e70e04}</string>
		<key>{0a0188fe-8e34-4c32-a82a-cef71b20e1db}</key>
		<string>{6c3ff3c6-dd25-4cf7-a3cb-1552ec04a7a7}</string>
		<key>{049833be-29d4-4bf5-a0da-ef183fa627fd}</key>
		<string>{08c2a553-ef62-4ffa-bce2-c1de24ebb9f8}</string>
		<key>{6b5513cd-3bcc-4f5b-a1df-eaf6caf02d02}</key>
		<string>{fea8e154-650c-482a-a64e-583b6cefecfb}</string>
		<key>{8a1bab68-5e43-4b78-98c3-dcad39008ee5}</key>
		<string>{c44460db-3691-4777-9390-345a57e0fd3c}</string>
		<key>{2018b280-e34d-46c8-a7fd-855d5325917c}</key>
		<string>{bdaf70f0-2300-44b4-a8a1-39ae0acc8d94}</string>
		<key>{0ffd1bdf-12d9-4f9c-acc3-f92932b1d211}</key>
		<string>{70a5ca0f-adc5-4cba-8185-90373094a43d}</string>
		<key>{add6e441-0f38-44db-947f-34b336d3fd03}</key>
		<string>{3dcccf83-4d63-4bd8-bd4d-a6c9173901e1}</string>
		<key>{3ca6069b-4756-40e7-b721-1d04c75e5270}</key>
		<string>{02407a88-bbca-4d40-ade1-6082f5d486a1}</string>
		<key>{91e25f7c-a1ce-4d71-91f2-161bb5fd892c}</key>
		<string>{a511b6d9-0bf0-4826-9a1c-7783d0287e34}</string>
		<key>{96a740f0-8a7a-4d9c-b2cb-1add554351b9}</key>
		<string>{52f3cc13-5793-4b9b-9569-986d5e17c97c}</string>
		<key>{236f68dc-8374-4605-857e-fbab05a19054}</key>
		<string>{db4d6e99-e2b2-47df-9d7b-c1b45ccba5e1}</string>
		<key>{056c12ad-f2ce-4c00-94b9-dba3d804729e}</key>
		<string>{5681be56-a21e-4a12-9f8c-dde4bb0a45fe}</string>
		<key>{e0f4cfb2-1077-4198-8eb6-0e53f79e2bdf}</key>
		<string>{4a859aa9-6237-41f9-89b6-cf5c32cd32a5}</string>
		<key>{a8013e99-6e4d-43c1-8098-a9e30907c03b}</key>
		<string>{d485fa9b-4e5c-4303-8e79-0b39096de1c5}</string>
		<key>{72caf1be-c7f9-42b2-b1d9-ee739cc17dd5}</key>
		<string>{adbed076-52dd-4975-92da-3c7107988fdf}</string>
		<key>{829839af-8e21-46c5-9677-8b2a7f649804}</key>
		<string>{5fde2fd8-aff5-4139-89ad-61732bf40c30}</string>
		<key>{667a2e61-c7bb-4b0c-bcef-c3a8c7e5e778}</key>
		<string>{dbc0e8f8-027b-46f0-b8fc-cb1567c83d71}</string>
		<key>{bdb7f722-0f3a-43a1-86b8-3bfd0a27cfbc}</key>
		<string>{72b95837-c8bf-41b8-b1c0-f9c0d41fbf4f}</string>
		<key>{b8356c56-8eae-4eed-ba82-e34536850bc7}</key>
		<string>{8e8af177-b3dc-41e8-a06f-70093f17ad8f}</string>
		<key>{0e87b01b-98a1-4783-90b2-76372a71f9cc}</key>
		<string>{ea38ac9c-5a23-4981-a8c3-7f78338ff361}</string>
		<key>{96b14259-72e2-4ece-9770-79f1989984ca}</key>
		<string>{f9ad326d-f82f-4927-be90-8590ce55bce6}</string>
		<key>{24c4ee78-956e-4649-a7d4-3c5bbe67f6a7}</key>
		<string>{babfb6ef-4155-4ff5-9527-bec81ecc0f43}</string>
		<key>{2724a626-755e-41c2-840a-c44ceb98c06e}</key>
		<string>{5a5ddf72-fbf5-457a-816b-0d128ccf3c37}</string>
	</dict>
	<key>note_light</key>
	<dict>
		<key>{95fb11a8-00ae-4c3c-bcb3-6e3d7978b0c3}</key>
		<array>
			
			<string>{8b0e3b02-0ff4-451e-8c07-77b17c8304d3}</string>
			
			<string>{5ed69b02-0e23-4cf2-991f-b134716dd14c}</string>
		</array>
		<key>{c8b01e3e-e339-4a5e-8871-2d39e5fa7f7e}</key>
		<array>
			
			<string>{eff2faa4-20d9-4e35-a02a-a3671624284f}</string>
		</array>
		<key>{c673ffb0-dac9-45fb-9cc1-2a43c238fb57}</key>
		<array>
			
			<string>{de3f256d-d18f-4985-9312-0cd34180aaf7}</string>
		</array>
		<key>{6c639acc-b799-4cc9-bfd6-53daee1b0f0c}</key>
		<array>
			
			<string>{a7de4e92-c71b-4d09-a38e-bdc68db3ea93}</string>
		</array>
		<key>{588d2b5e-2579-485c-b13c-eef0d7d9ef50}</key>
		<array>
			
			<string>{1553017e-6fdf-45d3-a447-39235bfe496a}</string>
		</array>
		<key>{ceb6c702-0258-40ee-9346-a41721c42b9a}</key>
		<array>
			
			<string>{d4573b00-10fa-4177-83af-61bbe718dab0}</string>
		</array>
		<key>{2fc343a3-ccbc-4447-8e9f-b756e5441585}</key>
		<array>
			
			<string>{0be74a99-954d-49c0-8c21-5477f4d01b51}</string>
		</array>
		<key>{56465b35-9234-4410-a8e4-9b247d90d510}</key>
		<array>
			
			<string>{1b2e2d70-7c98-4adb-beed-bf08afeb4662}</string>
		</array>
		<key>{ecbbfb45-9067-46c1-ab62-bc59690f823c}</key>
		<array>
			
			<string>{b2f5b8dc-cf33-4944-a2e8-74a03a5d1e01}</string>
		</array>
		<key>{b62397a4-c018-493a-b385-8e141e2365e5}</key>
		<array>
			
			<string>{ea791f1b-1dac-4078-b91e-0153f5c6ef17}</string>
		</array>
		<key>{e421d42f-4290-4183-9a02-55370ae3af61}</key>
		<array>
			
			<string>{ec55693e-f694-4bc0-b0bc-dfdf83b1d7bd}</string>
			
			<string>{8ae44618-b60b-4ee4-8e88-1ec32203529e}</string>
		</array>
		<key>{4bf3ab76-f2e4-4199-9dd6-b0a4599f99e3}</key>
		<array>
			
			<string>{743ebabe-31b7-4819-bc73-051f7ce3db29}</string>
		</array>
		<key>{1a2dcb78-4bb9-48b6-ae2f-e6e362af3b1c}</key>
		<array>
			
			<string>{7e6a031c-2f33-4de7-a187-e78b624de5db}</string>
		</array>
		<key>{5b0419c4-903e-4696-bb7f-77627c805212}</key>
		<array>
			
			<string>{fbe14c0b-dda2-43e2-8bfd-dbd575f7ad7d}</string>
		</array>
		<key>{f7f8fa9f-5baa-4664-ade7-28c20e7ca5a1}</key>
		<array>
			
			<string>{2f1b00ca-a7f7-4644-b026-12ace148ecf0}</string>
		</array>
		<key>{7cfc3094-6f88-4d52-a73b-a65f30d0774a}</key>
		<array>
			
			<string>{fde5f83e-7a53-430c-bd62-c99b3c5465fe}</string>
		</array>
		<key>{9a4a4b44-5f29-413d-9c80-a7206f64c19f}</key>
		<array>
			
			<string>{9054ee9f-7af0-428b-bd10-9b85ef4e19f0}</string>
		</array>
		<key>{0a0188fe-8e34-4c32-a82a-cef71b20e1db}</key>
		<array>
			
			<string>{ed599778-67af-4479-8f3a-2975f4287702}</string>
		</array>
		<key>{049833be-29d4-4bf5-a0da-ef183fa627fd}</key>
		<array>
			
			<string>{de728fc3-f480-4eb9-a521-583b7192acbc}</string>
		</array>
		<key>{6b5513cd-3bcc-4f5b-a1df-eaf6caf02d02}</key>
		<array>
			
			<string>{d4a66716-eb5f-45e8-9f41-d41a2d1d8407}</string>
		</array>
		<key>{8a1bab68-5e43-4b78-98c3-dcad39008ee5}</key>
		<array>
			
			<string>{9abc32ac-2d0e-468b-aea3-0ac312bc9d3a}</string>
			
			<string>{f37a4372-24e6-4efa-b60f-c08a67136c48}</string>
		</array>
		<key>{2018b280-e34d-46c8-a7fd-855d5325917c}</key>
		<array>
			
			<string>{967fbc26-c99e-4c56-b598-e1d06fbab574}</string>
		</array>
		<key>{0ffd1bdf-12d9-4f9c-acc3-f92932b1d211}</key>
		<array>
			
			<string>{02d9cd4b-fa22-4d9a-9cf6-f5f674b6badc}</string>
		</array>
		<key>{add6e441-0f38-44db-947f-34b336d3fd03}</key>
		<array>
			
			<string>{44f6dd47-384e-401f-bc89-c50e41cdba7d}</string>
		</array>
		<key>{3ca6069b-4756-40e7-b721-1d04c75e5270}</key>
		<array>
			
			<string>{92ce758e-b031-4c65-892d-5f2ef87928b7}</string>
		</array>
		<key>{91e25f7c-a1ce-4d71-91f2-161bb5fd892c}</key>
		<array>
			
			<string>{e508f162-81fc-4ac7-99fb-0919c2678cb4}</string>
		</array>
		<key>{96a740f0-8a7a-4d9c-b2cb-1add554351b9}</key>
		<array>
			
			<string>{d17a5ccf-2112-4c92-a349-e0197f1f57c4}</string>
		</array>
		<key>{236f68dc-8374-4605-857e-fbab05a19054}</key>
		<array>
			
			<string>{ecbc7203-c7a1-4775-a499-a20e7b987b57}</string>
		</array>
		<key>{056c12ad-f2ce-4c00-94b9-dba3d804729e}</key>
		<array>
			
			<string>{c4766d1a-7a0e-448b-920e-23f783e36be6}</string>
		</array>
		<key>{e0f4cfb2-1077-4198-8eb6-0e53f79e2bdf}</key>
		<array>
			
			<string>{fcb39fb5-7041-4699-923b-a46f0f505dab}</string>
		</array>
		<key>{a8013e99-6e4d-43c1-8098-a9e30907c03b}</key>
		<array>
			
			<string>{bfa3b0e0-dd20-424a-a13c-444a4c9a35c4}</string>
			
			<string>{a6ab4eda-fc50-43da-8969-1b34c3164899}</string>
		</array>
		<key>{72caf1be-c7f9-42b2-b1d9-ee739cc17dd5}</key>
		<array>
			
			<string>{1f488fe0-0efd-4aaf-ab94-8e169fd51872}</string>
		</array>
		<key>{829839af-8e21-46c5-9677-8b2a7f649804}</key>
		<array>
			
			<string>{ee480812-c0ac-45d0-a594-79714cbaa0fa}</string>
		</array>
		<key>{667a2e61-c7bb-4b0c-bcef-c3a8c7e5e778}</key>
		<array>
			
			<string>{4bc6f2ef-8044-42e5-93fd-a62a0a713d59}</string>
		</array>
		<key>{bdb7f722-0f3a-43a1-86b8-3bfd0a27cfbc}</key>
		<array>
			
			<string>{9092c93b-0f42-47e9-85c0-a35cc4e6da38}</string>
		</array>
		<key>{b8356c56-8eae-4eed-ba82-e34536850bc7}</key>
		<array>
			
			<string>{0825aa60-c02a-4a80-9947-93a520e60c46}</string>
		</array>
		<key>{0e87b01b-98a1-4783-90b2-76372a71f9cc}</key>
		<array>
			
			<string>{4f4e5970-f279-4181-83d5-b0910bb87171}</string>
		</array>
		<key>{96b14259-72e2-4ece-9770-79f1989984ca}</key>
		<array>
			
			<string>{b0d20f70-571f-4019-bc3d-52a16b43936b}</string>
		</array>
		<key>{24c4ee78-956e-4649-a7d4-3c5bbe67f6a7}</key>
		<array>
			
			<string>{9096ebf6-fe0d-42ec-b4f6-a5bae54d401a}</string>
		</array>
		<key>{2724a626-755e-41c2-840a-c44ceb98c06e}</key>
		<array>
			
			<string>{a96836f0-1212-464a-b02e-ab10b6dc374d}</string>
		</array>
	</dict>
	<key>note_hands_type</key>
	<dict>
		<key>1</key>
		<array>
			
			<string>{dde61600-ec52-41b4-a393-05c00ec24238}</string>
			
			<string>{7dc0cb4d-c6de-4a1d-9a83-be77691e2360}</string>
			
			<string>{e09ad6db-3955-47b2-94d6-0668ae315180}</string>
			
			<string>{3ed1e9f7-c3aa-4e52-94a4-415fe4151575}</string>
			
			<string>{ecd780b3-c99b-4f8d-bff3-61d14b551630}</string>
			
			<string>{da016bcf-5b2e-4159-af29-8292291fa3d5}</string>
			
			<string>{39a94ad5-8d25-49a2-957f-d97782c11b00}</string>
			
			<string>{ac7e42b2-b271-4427-84ea-5e9eb3510596}</string>
			
			<string>{47524765-c83f-4095-9f21-34d61ef2fcc9}</string>
			
			<string>{dccdcce9-246e-49f3-94e5-37e5c2435d19}</string>
			
			<string>{6ad017a5-da57-4f79-b784-409ec513c61d}</string>
			
			<string>{7272072e-087c-4148-b884-ccf1744aa19b}</string>
			
			<string>{83603f79-27b4-4330-9608-ca4e8f13838a}</string>
			
			<string>{a8594ab3-51ec-4461-b031-03896cb4ab26}</string>
			
			<string>{e75525ce-db00-4a03-aaf1-961913d9f103}</string>
			
			<string>{ea97e7ed-aa9d-4f0a-8bbe-afc4bfc37f74}</string>
			
			<string>{3969b5f8-dd5a-4cd7-b873-538e6d5c087b}</string>
			
			<string>{787031e7-ec6a-44df-a760-ad7f53060500}</string>
			
			<string>{6015d35b-2b9b-4942-a0ea-696c35a43357}</string>
			
			<string>{259ac40d-4d1a-42d6-9934-952bc0ebec45}</string>
			
			<string>{c5c80893-d79e-4e17-8195-d5fa0b638a1b}</string>
			
			<string>{5a80c0ce-5580-425e-bad7-e3e0110f63c2}</string>
			
			<string>{61a46aca-55af-4be4-ba14-46f3aeb2046d}</string>
			
			<string>{723453f7-4dc4-4776-a271-9dab4afb16b9}</string>
			
			<string>{855570ed-db4b-4281-9424-a7d56a4d4027}</string>
			
			<string>{ff15b392-76da-46a3-a5bf-40f9c9e772f0}</string>
			
			<string>{ffff8de0-e2c4-4848-b9f6-546ecbd4e8e3}</string>
			
			<string>{12cfb27f-3acd-4c9a-9d78-1d9503cb7343}</string>
			
			<string>{a32189f2-291c-4c1c-b981-9701448c3fd2}</string>
			
			<string>{54d70958-49f8-4b01-bb5a-852d5274e814}</string>
			
			<string>{e732fde5-fd9b-4a93-9165-cee6f03426e8}</string>
			
			<string>{e7d25608-49ef-4203-9fd2-fde95293bece}</string>
			
			<string>{b521af85-a855-4255-846d-eb7f0b17290f}</string>
			
			<string>{802bdbd6-7887-461c-b5f8-4edc4b347578}</string>
			
			<string>{c265904e-dc73-4360-910b-e2dc3dd86a1d}</string>
			
			<string>{c2f0e35b-224c-4407-a6fb-6f8149ebd824}</string>
			
			<string>{94a3a3e2-0055-4db8-a8de-4171b59f2dc5}</string>
			
			<string>{6227443e-6944-4dc6-89ac-3642ead20a71}</string>
			
			<string>{3942a072-87d3-46bf-b5a9-4a1aba6149d1}</string>
			
			<string>{6635a6e0-5990-4d5c-a4f9-f83b861acafd}</string>
			
			<string>{123956da-6ffb-4e61-86af-a9b59f862113}</string>
			
			<string>{6c3ff3c6-dd25-4cf7-a3cb-1552ec04a7a7}</string>
			
			<string>{bdaf70f0-2300-44b4-a8a1-39ae0acc8d94}</string>
			
			<string>{70a5ca0f-adc5-4cba-8185-90373094a43d}</string>
			
			<string>{3dcccf83-4d63-4bd8-bd4d-a6c9173901e1}</string>
			
			<string>{02407a88-bbca-4d40-ade1-6082f5d486a1}</string>
			
			<string>{db4d6e99-e2b2-47df-9d7b-c1b45ccba5e1}</string>
			
			<string>{adbed076-52dd-4975-92da-3c7107988fdf}</string>
			
			<string>{72b95837-c8bf-41b8-b1c0-f9c0d41fbf4f}</string>
			
			<string>{f9ad326d-f82f-4927-be90-8590ce55bce6}</string>
			
			<string>{044f8162-d0ee-4f2e-8307-00e13bb92fd5}</string>
			
			<string>{2a1059b8-58a9-48c4-8d03-222eb543328b}</string>
			
			<string>{008a16b0-cbc3-4ca5-a163-5854ddeea7b5}</string>
			
			<string>{d0c0d909-f501-4cc6-9da1-9aabad3599d6}</string>
			
			<string>{a8615964-303f-4ab3-8ff0-f50bd723d9d5}</string>
			
			<string>{2d6d12cb-7d0c-49f6-b816-d1d4ca93c1d6}</string>
			
			<string>{2eac2c87-4661-402f-959d-cbc7ce0501c1}</string>
			
			<string>{aa26b91f-7763-4b12-91de-f11ae83a5bd1}</string>
			
			<string>{2e29745a-7190-4259-ab50-2dcfb0013489}</string>
			
			<string>{fa047614-e4b0-4205-ba97-e650185bd325}</string>
			
			<string>{a12747f6-d8e1-4ec5-836c-0b528dcb96cf}</string>
			
			<string>{a5963770-ca31-4666-aa53-673d211fc52a}</string>
			
			<string>{3ba77dd5-4c12-41e2-8517-570f1cb2ff57}</string>
			
			<string>{5207fa4b-aae0-4ef8-a287-7faccbec39af}</string>
			
			<string>{29d7dfb4-7180-45ad-aa83-5dafc5cadd51}</string>
			
			<string>{b176d7d5-97c1-4431-906c-bc2ad951ecdc}</string>
			
			<string>{061a1d4a-61f8-447c-92dc-1272be58dc9e}</string>
			
			<string>{ba97709f-93b7-458e-aaa2-aefdadf93e18}</string>
			
			<string>{39b9c099-b17f-40af-b896-6e8859f52790}</string>
			
			<string>{a0686087-d9f7-47e2-b58a-2faf9fe53dc7}</string>
			
			<string>{cc7e38e2-3325-4003-af72-b2ab5f1b5d69}</string>
			
			<string>{23258d38-af26-4363-8d62-953d0fc85d6b}</string>
			
			<string>{237bddb7-10b8-47b6-a9f8-5f588cd4ae15}</string>
			
			<string>{2dea0d32-aaf3-4f50-bdb2-9defd9f7524e}</string>
			
			<string>{a4006446-a3dd-406d-addf-ae062c756daa}</string>
			
			<string>{2648aa2f-b96e-4f48-b590-1fb76b425930}</string>
			
			<string>{e7d30336-a10e-4101-9746-8949ee73efdf}</string>
			
			<string>{b5c46d05-c24c-48f1-afbd-bb18cbf915f6}</string>
			
			<string>{fbbf6554-e478-48f1-bb19-34dd83426750}</string>
			
			<string>{3069ca44-b7ad-4227-b4e8-bb3b0c50d6c7}</string>
			
			<string>{9a9da134-0bf8-4366-8b56-a85c5478de1c}</string>
			
			<string>{e1fcb66e-aeb1-40ea-9ee5-95e52a1eb1e3}</string>
			
			<string>{726d4791-b592-4a6d-b777-46d1aa6b4335}</string>
			
			<string>{bdd31dc0-5bc1-4d2a-8aea-a2a9eaf0cbd9}</string>
			
			<string>{f7da8927-1ee2-4e25-8b56-9fe11bfefb45}</string>
			
			<string>{eff2faa4-20d9-4e35-a02a-a3671624284f}</string>
			
			<string>{de3f256d-d18f-4985-9312-0cd34180aaf7}</string>
			
			<string>{a7de4e92-c71b-4d09-a38e-bdc68db3ea93}</string>
			
			<string>{1553017e-6fdf-45d3-a447-39235bfe496a}</string>
			
			<string>{1b2e2d70-7c98-4adb-beed-bf08afeb4662}</string>
			
			<string>{743ebabe-31b7-4819-bc73-051f7ce3db29}</string>
			
			<string>{2f1b00ca-a7f7-4644-b026-12ace148ecf0}</string>
			
			<string>{ed599778-67af-4479-8f3a-2975f4287702}</string>
			
			<string>{967fbc26-c99e-4c56-b598-e1d06fbab574}</string>
			
			<string>{02d9cd4b-fa22-4d9a-9cf6-f5f674b6badc}</string>
			
			<string>{44f6dd47-384e-401f-bc89-c50e41cdba7d}</string>
			
			<string>{92ce758e-b031-4c65-892d-5f2ef87928b7}</string>
			
			<string>{ecbc7203-c7a1-4775-a499-a20e7b987b57}</string>
			
			<string>{1f488fe0-0efd-4aaf-ab94-8e169fd51872}</string>
			
			<string>{9092c93b-0f42-47e9-85c0-a35cc4e6da38}</string>
			
			<string>{b0d20f70-571f-4019-bc3d-52a16b43936b}</string>
		</array>
		<key>2</key>
		<array>
			
			<string>{a202f964-b8f1-47d4-9ec7-e0c9333854d3}</string>
			
			<string>{a0e9b7dd-acef-4c56-bf41-3a03490c70cb}</string>
			
			<string>{1727b28b-bc98-4e05-ad0a-2c3a46d9a082}</string>
			
			<string>{d3be00fe-9655-450d-9ef6-7f2fb0bf01e4}</string>
			
			<string>{4a05fd72-b125-4ec7-898c-c9fe969e47ec}</string>
			
			<string>{8b95c0b6-df4d-4833-8431-729872f545d3}</string>
			
			<string>{da41caea-0321-4c67-890e-2405f02794d9}</string>
			
			<string>{a01e77b4-8bdb-4ca1-bf63-b7fa21681e78}</string>
			
			<string>{2ff0532f-3230-4bad-8dcd-397911abf8dc}</string>
			
			<string>{cbf50f6c-c936-4a00-b228-49b400c45846}</string>
			
			<string>{3d3a30f5-e741-40c9-806d-3d54cca0efb1}</string>
			
			<string>{81438538-0c30-4341-b7a8-70f51004bb70}</string>
			
			<string>{0707ef0a-a27d-492f-896d-c9e06ecefceb}</string>
			
			<string>{b86e8fdd-789a-47e2-b5ed-bd65d2a245f9}</string>
			
			<string>{adfda186-7942-4f88-b1e1-a5840ae5ebc1}</string>
			
			<string>{f0a7df2a-8f0b-4b6a-ac05-e5e10d2fdc23}</string>
			
			<string>{d663c9e1-4f31-4179-8a13-7287103d4a73}</string>
			
			<string>{9e03511d-22f7-446c-9ca3-68ee2865c089}</string>
			
			<string>{46fbfc77-dff8-4845-8b26-58c2b07144ac}</string>
			
			<string>{ce3d6d3b-d4da-454d-9316-62f4bd641f93}</string>
			
			<string>{f4001310-bf17-440e-9655-2baf03b8e226}</string>
			
			<string>{b17348a1-673b-42c2-b9b9-ac2ec24ab3e1}</string>
			
			<string>{961a66ed-92ec-40dc-9015-e51f915301f1}</string>
			
			<string>{494bdcc3-ce96-472a-992e-d33ab5f88da8}</string>
			
			<string>{38c0cec4-d25a-443f-9411-7c657a4adeb2}</string>
			
			<string>{1ca92e66-0628-4d80-9a17-05ca6df19dce}</string>
			
			<string>{250545c7-0869-43b2-a8b0-ce8807218f25}</string>
			
			<string>{2653bf39-3c00-4eb4-b976-04705f356bca}</string>
			
			<string>{cbf310ae-8c24-439e-9755-f6f34ec7ffb2}</string>
			
			<string>{78c1646a-99a8-47a0-acc0-72c8c5ed7cfe}</string>
			
			<string>{93144122-4668-4b96-84fb-780db08c581b}</string>
			
			<string>{6c79c908-f398-479e-bcee-ef517413c57a}</string>
			
			<string>{25428a5e-2941-4506-ae22-06508fbc9c8d}</string>
			
			<string>{3c3d6e27-3aad-429d-82a6-6bd7004cd829}</string>
			
			<string>{d5f2ed2d-7712-48e6-9e75-c4ef79566041}</string>
			
			<string>{1e84e431-62a0-4716-97be-92095d69a209}</string>
			
			<string>{4d1a45bc-bedb-465d-a018-835c5beecc40}</string>
			
			<string>{fd8db508-459b-4bfa-8abf-50fbcc3705ff}</string>
			
			<string>{0c210c8d-973e-4928-bf3c-89ecacdaeb0e}</string>
			
			<string>{0bc407be-086c-4d19-9b7e-d0cbe5e70e04}</string>
			
			<string>{08c2a553-ef62-4ffa-bce2-c1de24ebb9f8}</string>
			
			<string>{fea8e154-650c-482a-a64e-583b6cefecfb}</string>
			
			<string>{c44460db-3691-4777-9390-345a57e0fd3c}</string>
			
			<string>{a511b6d9-0bf0-4826-9a1c-7783d0287e34}</string>
			
			<string>{52f3cc13-5793-4b9b-9569-986d5e17c97c}</string>
			
			<string>{5681be56-a21e-4a12-9f8c-dde4bb0a45fe}</string>
			
			<string>{4a859aa9-6237-41f9-89b6-cf5c32cd32a5}</string>
			
			<string>{d485fa9b-4e5c-4303-8e79-0b39096de1c5}</string>
			
			<string>{5fde2fd8-aff5-4139-89ad-61732bf40c30}</string>
			
			<string>{dbc0e8f8-027b-46f0-b8fc-cb1567c83d71}</string>
			
			<string>{8e8af177-b3dc-41e8-a06f-70093f17ad8f}</string>
			
			<string>{ea38ac9c-5a23-4981-a8c3-7f78338ff361}</string>
			
			<string>{babfb6ef-4155-4ff5-9527-bec81ecc0f43}</string>
			
			<string>{5a5ddf72-fbf5-457a-816b-0d128ccf3c37}</string>
			
			<string>{5ed69b02-0e23-4cf2-991f-b134716dd14c}</string>
			
			<string>{8ae44618-b60b-4ee4-8e88-1ec32203529e}</string>
			
			<string>{f37a4372-24e6-4efa-b60f-c08a67136c48}</string>
			
			<string>{a6ab4eda-fc50-43da-8969-1b34c3164899}</string>
			
			<string>{03a51ad1-1ea1-4605-9dbb-4ca8f5995e47}</string>
			
			<string>{f3bdf58b-476f-4a4e-bb0d-e85cd18e6aac}</string>
			
			<string>{b6fedafa-4ec1-409b-b873-7a70f57c24d2}</string>
			
			<string>{e1dc59ac-ee5e-4177-93f4-985e4ca0841e}</string>
			
			<string>{b974aae1-e0d2-4c9f-8f49-b309cb9379a8}</string>
			
			<string>{1d696208-310b-44a3-8f37-7c81cdc6f86e}</string>
			
			<string>{3d49c118-f952-4256-a961-3250540f60c0}</string>
			
			<string>{cf9818db-1507-4ceb-b7eb-b9f63ce0ef00}</string>
			
			<string>{c62f98aa-5a13-4d4e-917a-a5680ae42d66}</string>
			
			<string>{8e950f30-9785-4e83-85c6-8ee1317dda9a}</string>
			
			<string>{bdfabe39-bfbe-4fa4-a90a-ecbe8eab416d}</string>
			
			<string>{b1be85a1-71de-4197-9c1a-66e2f102071b}</string>
			
			<string>{554a6283-b095-4aef-8464-35f6c4d9bf7a}</string>
			
			<string>{bb043ae6-9647-4677-8990-be96c0642aec}</string>
			
			<string>{64a8ebcc-daf1-4f21-ac99-4dcba780ae9a}</string>
			
			<string>{6714389e-c09e-4272-a1c7-d7d78ca4f36c}</string>
			
			<string>{c7350d66-86ac-48c8-94b5-4d0ae071f2ab}</string>
			
			<string>{7fd0f931-6864-4ad3-b4f4-8098f9204bec}</string>
			
			<string>{c5b42c8b-48f3-46d0-b910-e5e65dc9a2fa}</string>
			
			<string>{eaf19d98-f9bb-4263-961b-8b977bb2d888}</string>
			
			<string>{6a643a9f-5ece-4361-b643-f05f866a607b}</string>
			
			<string>{f968d21d-746a-44b8-9904-3a0fc1a10061}</string>
			
			<string>{62ad5c04-f856-4737-b98c-4ad075a010ac}</string>
			
			<string>{280745eb-2ac1-4338-a945-53b5019a7f91}</string>
			
			<string>{00fee693-41e9-4e84-bb71-a53b8b9c2485}</string>
			
			<string>{183f81dd-01a1-494a-a2a3-cc33d3adb4ef}</string>
			
			<string>{a631034c-9260-42a7-8ea9-1cf9f76b742f}</string>
			
			<string>{bd25cfdf-bf98-4db3-95c2-7ed4b842a237}</string>
			
			<string>{5d0fc474-9783-42ae-abb2-40ab50499cda}</string>
			
			<string>{f9d33ae5-e99b-4719-b53d-875711b7f5c3}</string>
			
			<string>{6d6c5a4c-52da-48f8-83ab-1cb0aa13acce}</string>
			
			<string>{e65042f9-c806-4727-b0e3-a445248c2f73}</string>
			
			<string>{df5d7dd5-e780-4f7d-80fd-8952ed1c3bf1}</string>
			
			<string>{8b0e3b02-0ff4-451e-8c07-77b17c8304d3}</string>
			
			<string>{d4573b00-10fa-4177-83af-61bbe718dab0}</string>
			
			<string>{0be74a99-954d-49c0-8c21-5477f4d01b51}</string>
			
			<string>{b2f5b8dc-cf33-4944-a2e8-74a03a5d1e01}</string>
			
			<string>{ea791f1b-1dac-4078-b91e-0153f5c6ef17}</string>
			
			<string>{ec55693e-f694-4bc0-b0bc-dfdf83b1d7bd}</string>
			
			<string>{7e6a031c-2f33-4de7-a187-e78b624de5db}</string>
			
			<string>{fbe14c0b-dda2-43e2-8bfd-dbd575f7ad7d}</string>
			
			<string>{fde5f83e-7a53-430c-bd62-c99b3c5465fe}</string>
			
			<string>{9054ee9f-7af0-428b-bd10-9b85ef4e19f0}</string>
			
			<string>{de728fc3-f480-4eb9-a521-583b7192acbc}</string>
			
			<string>{d4a66716-eb5f-45e8-9f41-d41a2d1d8407}</string>
			
			<string>{9abc32ac-2d0e-468b-aea3-0ac312bc9d3a}</string>
			
			<string>{e508f162-81fc-4ac7-99fb-0919c2678cb4}</string>
			
			<string>{d17a5ccf-2112-4c92-a349-e0197f1f57c4}</string>
			
			<string>{c4766d1a-7a0e-448b-920e-23f783e36be6}</string>
			
			<string>{fcb39fb5-7041-4699-923b-a46f0f505dab}</string>
			
			<string>{bfa3b0e0-dd20-424a-a13c-444a4c9a35c4}</string>
			
			<string>{ee480812-c0ac-45d0-a594-79714cbaa0fa}</string>
			
			<string>{4bc6f2ef-8044-42e5-93fd-a62a0a713d59}</string>
			
			<string>{0825aa60-c02a-4a80-9947-93a520e60c46}</string>
			
			<string>{4f4e5970-f279-4181-83d5-b0910bb87171}</string>
			
			<string>{9096ebf6-fe0d-42ec-b4f6-a5bae54d401a}</string>
			
			<string>{a96836f0-1212-464a-b02e-ab10b6dc374d}</string>
			
			<string>{42d52331-5c88-4de5-9a39-3a9909c24d82}</string>
			
			<string>{e1048bad-08bc-4f72-9539-38878408af36}</string>
			
			<string>{0529da77-e9b1-4296-99f4-3f961ec568e2}</string>
			
			<string>{2ed01975-4fc4-48da-8788-f2bd5d238118}</string>
			
			<string>{fd601d5b-5a0a-4280-8d59-41b229d69ea5}</string>
			
			<string>{29dcbc09-e07c-4139-bf80-80b1169d8504}</string>
		</array>
	</dict>
</dict>
</plist>