<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>pen_width</key>
	<string>0.40</string>
	<key>xend</key>
	<real>2757.08</real>
	<key>stafflines</key>
	<dict>
		<key>0</key>
		<dict>
			<key>x</key>
			<string>10.4173</string>
			<key>y</key>
			<string>16.3582</string>
			<key>bx</key>
			<string>10.4173</string>
			<key>by</key>
			<string>51.9378</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{10988712-8631-4f4f-b0c0-a4a9812f51e9}</key>
		<dict>
			<key>x</key>
			<string>2680.06</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{30ca45bf-fab5-4522-bb6b-aa55f3c83fff}</key>
		<dict>
			<key>x</key>
			<string>2648.22</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{92fe3746-b238-4e29-a397-be9d149a0d3f}</key>
		<dict>
			<key>x</key>
			<string>2621.14</string>
			<key>y</key>
			<string>38.681</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{1007a83f-fb0c-4a9f-b505-9998789bd131}</key>
		<dict>
			<key>x</key>
			<string>2594.07</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f3d71084-ca6b-451b-b54e-75d69172678e}</key>
		<dict>
			<key>x</key>
			<string>2562.23</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{1b5152fe-b604-4413-a150-112cc01cadb7}</key>
		<dict>
			<key>x</key>
			<string>2535.15</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{341bf713-81ee-4e51-9b06-c6c3a922e870}</key>
		<dict>
			<key>x</key>
			<string>2508.08</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{43abd22e-0d9e-4f12-9996-454047d0f137}</key>
		<dict>
			<key>x</key>
			<string>2476.24</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{afccc8c8-30f8-4a06-b294-5089a9934fee}</key>
		<dict>
			<key>x</key>
			<string>2449.17</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{63c35c8a-8a4b-440b-9ef2-b6a28af2ee3f}</key>
		<dict>
			<key>x</key>
			<string>2422.09</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{d79db2fb-2c17-49c3-bea5-558f6c2b9f5b}</key>
		<dict>
			<key>x</key>
			<string>2336.1</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{bb1a28cd-a736-4bdd-881c-f91d022120e0}</key>
		<dict>
			<key>x</key>
			<string>2304.26</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{963cce44-154a-408c-a264-e9c85873a851}</key>
		<dict>
			<key>x</key>
			<string>2277.19</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{99bdc6d9-5636-4739-9491-5f62a076e759}</key>
		<dict>
			<key>x</key>
			<string>2250.11</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{8ae2a6c5-ce23-4aab-b33d-fa2bcde7ec2f}</key>
		<dict>
			<key>x</key>
			<string>2218.27</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{3b0ac6dd-f4c6-4e26-8908-b0be30e0f97b}</key>
		<dict>
			<key>x</key>
			<string>2191.2</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{435fad8f-28c3-428e-932e-63cb63a9c167}</key>
		<dict>
			<key>x</key>
			<string>2164.12</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{cdb7aff8-437e-4c40-8e0c-722723769875}</key>
		<dict>
			<key>x</key>
			<string>2132.28</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{66cacc1a-78bc-424d-b417-910952c5e0e8}</key>
		<dict>
			<key>x</key>
			<string>2105.21</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{80ec39cf-978d-4908-90bd-cb2a9a55a953}</key>
		<dict>
			<key>x</key>
			<string>2078.13</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{7ca5edc4-3fd5-4f93-ac35-8f1b76dbf9a6}</key>
		<dict>
			<key>x</key>
			<string>1304.23</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{b9756d66-7b24-43bd-9732-e30e67c50347}</key>
		<dict>
			<key>x</key>
			<string>1272.39</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0b0529ea-c05a-4863-a73f-049b0e281d81}</key>
		<dict>
			<key>x</key>
			<string>1245.31</string>
			<key>y</key>
			<string>38.681</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6b30e3f5-c9f9-4638-a4f8-fa67d695c43f}</key>
		<dict>
			<key>x</key>
			<string>1218.24</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{96c275d7-5246-4992-b3c4-0be318ce57a9}</key>
		<dict>
			<key>x</key>
			<string>1186.4</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{e2cfac22-1461-414a-a58f-db0ad7d2b18a}</key>
		<dict>
			<key>x</key>
			<string>1159.32</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{2f1e3241-f9f3-4971-a07f-ebcec5ae65f5}</key>
		<dict>
			<key>x</key>
			<string>1132.25</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{2f255c2f-ee6b-4a18-9565-ba5bfcd7d434}</key>
		<dict>
			<key>x</key>
			<string>1100.41</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{1c09048b-5b50-49a0-925f-6579df9c17a7}</key>
		<dict>
			<key>x</key>
			<string>1073.33</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{1daee112-c13d-439c-8b68-610155f24277}</key>
		<dict>
			<key>x</key>
			<string>1046.26</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{0fb4bc78-cb8a-4d38-8ce1-e4025b5b2f3a}</key>
		<dict>
			<key>x</key>
			<string>960.269</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{a1ee54a2-8431-4698-8921-fa1d34f0e466}</key>
		<dict>
			<key>x</key>
			<string>928.431</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{87f929d0-d330-48ef-94fb-058589fef1ee}</key>
		<dict>
			<key>x</key>
			<string>901.356</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{f0beec97-3689-486f-8cff-1eedefb15a54}</key>
		<dict>
			<key>x</key>
			<string>874.28</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{90bf2c6e-20ef-48c0-bb85-62bc6dcc2010}</key>
		<dict>
			<key>x</key>
			<string>842.442</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{adcbe558-ca5a-4b7b-907a-13327e28af9b}</key>
		<dict>
			<key>x</key>
			<string>815.366</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{74ef6753-442d-4b71-9a2a-9d7d3cc57c5e}</key>
		<dict>
			<key>x</key>
			<string>788.291</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{f9bca7f3-f1db-49b8-81f3-b18bd0885bff}</key>
		<dict>
			<key>x</key>
			<string>756.453</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c73b6799-ccda-49a7-bc41-3b2f268a5b2a}</key>
		<dict>
			<key>x</key>
			<string>729.377</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{7155a383-14c9-4a6b-9d48-8106aacae4be}</key>
		<dict>
			<key>x</key>
			<string>702.301</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>2</string>
		</dict>
	</dict>
	<key>rests</key>
	<dict>
		<key>{d1dc57b3-f52c-4e23-bef6-0ecbe08296f6}</key>
		<dict>
			<key>x</key>
			<string>2680.24</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{205bf677-aee2-46f6-8f4b-bd7c92b01fcc}</key>
		<dict>
			<key>x</key>
			<string>2594.07</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{710367f7-194a-4d15-9d82-cc623bd9ce76}</key>
		<dict>
			<key>x</key>
			<string>2562.23</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{865f6d71-78dc-4b1c-8e6e-5fa5ebd21d12}</key>
		<dict>
			<key>x</key>
			<string>2508.08</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{52524ee8-381f-4c53-8f7a-d3020e29b4ff}</key>
		<dict>
			<key>x</key>
			<string>2476.24</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{f6bf2bda-71fb-457e-96cd-361f9ae4c8d7}</key>
		<dict>
			<key>x</key>
			<string>2422.09</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c4db1d20-fe82-4904-b17f-d7fe96912da3}</key>
		<dict>
			<key>x</key>
			<string>2336.28</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{602d4d07-291d-4422-8c5e-2bde0ee17efc}</key>
		<dict>
			<key>x</key>
			<string>2304.26</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{c90db97f-0a76-489f-8539-12afea39bca6}</key>
		<dict>
			<key>x</key>
			<string>2250.11</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{02ab5ad9-e422-43f9-bd62-1a483ccad88f}</key>
		<dict>
			<key>x</key>
			<string>2218.27</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{5c370ebe-77dd-45f8-9e00-0b0ac0a45ab2}</key>
		<dict>
			<key>x</key>
			<string>2164.12</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{16e05d3d-1889-43e7-a1e4-0fba554210dd}</key>
		<dict>
			<key>x</key>
			<string>2132.28</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{d9b1b3b3-ada6-4b58-beee-8e890fef2196}</key>
		<dict>
			<key>x</key>
			<string>2078.13</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9d2d3985-47f4-4a1f-9404-676d0eeb3f4d}</key>
		<dict>
			<key>x</key>
			<string>1992.14</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{179714bc-a62c-4cec-844a-b1e706dbcbf0}</key>
		<dict>
			<key>x</key>
			<string>1992.14</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{3b682c72-dc3d-4ec9-ab96-b9a5ec74ef52}</key>
		<dict>
			<key>x</key>
			<string>1906.15</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{fa3e05c6-aec0-4f40-a4fa-a95df865d251}</key>
		<dict>
			<key>x</key>
			<string>1906.15</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{828ac8ed-e861-44aa-bbc2-90669c8a988b}</key>
		<dict>
			<key>x</key>
			<string>1820.16</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{155372af-32f5-442c-b3c1-37759e9ef33b}</key>
		<dict>
			<key>x</key>
			<string>1820.16</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2727ac8c-07bb-4c73-bd8e-a2475bf7963c}</key>
		<dict>
			<key>x</key>
			<string>1734.17</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{6c0c2f5d-421b-4dca-9899-6c4c9146ed28}</key>
		<dict>
			<key>x</key>
			<string>1734.17</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c8c0c39a-4a3b-4638-934f-9fc7c443039e}</key>
		<dict>
			<key>x</key>
			<string>1648.18</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{1f623f1d-fd82-47c4-b42f-c945a91a6891}</key>
		<dict>
			<key>x</key>
			<string>1648.18</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{80a87adb-a59c-404a-b0a4-35f48e2d0a5a}</key>
		<dict>
			<key>x</key>
			<string>1562.2</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{43cc08a5-7437-4e65-a006-eb24fdc680e1}</key>
		<dict>
			<key>x</key>
			<string>1562.2</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f4d70123-a7a9-46f6-9595-8369d5024ffa}</key>
		<dict>
			<key>x</key>
			<string>1476.21</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{58edc304-8b8f-4edf-ad0c-ee856344ee60}</key>
		<dict>
			<key>x</key>
			<string>1476.21</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c34b47a6-1639-4474-84bc-af03f6b75164}</key>
		<dict>
			<key>x</key>
			<string>1390.22</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{210f3291-1a15-4e9f-9a90-61bf682c38c4}</key>
		<dict>
			<key>x</key>
			<string>1390.22</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7a8d0443-3dec-4977-8f0d-22e7a3cb56e0}</key>
		<dict>
			<key>x</key>
			<string>1304.41</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7137cbc1-c349-4d2d-a805-82d217912904}</key>
		<dict>
			<key>x</key>
			<string>1218.24</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{ff813500-87cf-4a35-91e5-654630395bec}</key>
		<dict>
			<key>x</key>
			<string>1186.4</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{395769aa-dca9-4594-84ee-8cfc4985c7e3}</key>
		<dict>
			<key>x</key>
			<string>1132.25</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{53ed9e0c-9fc1-44d6-b31b-3e67332e8c3d}</key>
		<dict>
			<key>x</key>
			<string>1100.41</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{8e666515-a82c-437c-8295-3e775aaf6f65}</key>
		<dict>
			<key>x</key>
			<string>1046.26</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{5d582f53-2418-46de-8fc1-06c274007fcc}</key>
		<dict>
			<key>x</key>
			<string>960.448</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{789ba44e-b027-4c54-bb83-e58e5ae72978}</key>
		<dict>
			<key>x</key>
			<string>928.431</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{926d8571-0451-4a64-a791-c22ace2f5685}</key>
		<dict>
			<key>x</key>
			<string>874.28</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{12523138-c943-4a0d-8a99-53fa352f88e9}</key>
		<dict>
			<key>x</key>
			<string>842.442</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{b9a5ceb6-a31e-494a-8423-c35387fc4143}</key>
		<dict>
			<key>x</key>
			<string>788.291</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{bd306c85-eec3-459d-b159-c0902d33ad87}</key>
		<dict>
			<key>x</key>
			<string>756.453</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{9129c717-7d7d-443d-982f-542e3f6e9d92}</key>
		<dict>
			<key>x</key>
			<string>702.301</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7ac46f99-1c46-401f-b5ff-64b50da1e551}</key>
		<dict>
			<key>x</key>
			<string>616.312</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{ae78be18-5fb8-40dd-b963-5eb79d718b9d}</key>
		<dict>
			<key>x</key>
			<string>616.312</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{eecd0c5c-2022-4125-93c0-d228ba7d622e}</key>
		<dict>
			<key>x</key>
			<string>530.322</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{9dcc5f1b-3c0a-4cbb-af73-b6c5c7c9b44f}</key>
		<dict>
			<key>x</key>
			<string>530.322</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0e1418d4-335f-41e2-b02b-357feea93e82}</key>
		<dict>
			<key>x</key>
			<string>444.333</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{09bedf99-a961-447e-a170-8f4f907a4edc}</key>
		<dict>
			<key>x</key>
			<string>444.333</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f759e39e-8d89-4ba6-92a9-025059ad38a2}</key>
		<dict>
			<key>x</key>
			<string>358.344</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{710906a5-328b-436a-bdb2-c97dce91048d}</key>
		<dict>
			<key>x</key>
			<string>358.344</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{a1257139-6259-42b9-aec7-e2311c42f11d}</key>
		<dict>
			<key>x</key>
			<string>272.354</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{5699a8b1-890d-41b2-a6b3-1e2e12a6086f}</key>
		<dict>
			<key>x</key>
			<string>272.354</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{870403bf-2bba-477d-a60b-7c07d1857e79}</key>
		<dict>
			<key>x</key>
			<string>186.365</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{edf8de10-a62f-48ce-b9e9-2fe8a9cf059e}</key>
		<dict>
			<key>x</key>
			<string>186.365</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f98e682a-231f-4f70-8232-85eed307b588}</key>
		<dict>
			<key>x</key>
			<string>100.375</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{dac0faec-25c4-41ec-9f64-419f5092e59f}</key>
		<dict>
			<key>x</key>
			<string>100.375</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b2ae94f2-ccd8-4b6d-a6a7-d603e8b3d22d}</key>
		<dict>
			<key>x</key>
			<string>48.7831</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{7e0d6a55-fb00-4edc-a875-671b69810334}</key>
		<dict>
			<key>x</key>
			<string>48.7831</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>note_finger</key>
	<dict>
	</dict>
	<key>note_step</key>
	<dict>
		<key>{10988712-8631-4f4f-b0c0-a4a9812f51e9}</key>
		<string>{1f76b7cd-f4f7-4051-a6ea-896582dc6e6b}</string>
		<key>{30ca45bf-fab5-4522-bb6b-aa55f3c83fff}</key>
		<string>{799c1fdb-0e54-440a-9966-cda5b714b67b}</string>
		<key>{92fe3746-b238-4e29-a397-be9d149a0d3f}</key>
		<string>{a809ff9e-e7bf-4bd8-9793-1f182081e21b}</string>
		<key>{1007a83f-fb0c-4a9f-b505-9998789bd131}</key>
		<string>{ebd186dd-763a-4d4f-a01f-ac257dcdf994}</string>
		<key>{f3d71084-ca6b-451b-b54e-75d69172678e}</key>
		<string>{f68c2fa4-63e3-47b6-adbb-1e36068aa75f}</string>
		<key>{1b5152fe-b604-4413-a150-112cc01cadb7}</key>
		<string>{bb2c2c12-7c5f-4ccb-b245-47a8f7d6a29a}</string>
		<key>{341bf713-81ee-4e51-9b06-c6c3a922e870}</key>
		<string>{2a27d635-15aa-45a6-8f70-4d2a83d5f2fb}</string>
		<key>{43abd22e-0d9e-4f12-9996-454047d0f137}</key>
		<string>{85868169-586c-427b-b89e-3f333c86be4c}</string>
		<key>{afccc8c8-30f8-4a06-b294-5089a9934fee}</key>
		<string>{0866690e-f31e-4522-b642-60dff47ce10b}</string>
		<key>{63c35c8a-8a4b-440b-9ef2-b6a28af2ee3f}</key>
		<string>{30baed8c-31c1-42bd-9fd1-d5234cb1e7f7}</string>
		<key>{d79db2fb-2c17-49c3-bea5-558f6c2b9f5b}</key>
		<string>{a892df4c-5d13-4773-bdb9-bfc18ae2d9cf}</string>
		<key>{bb1a28cd-a736-4bdd-881c-f91d022120e0}</key>
		<string>{932324ec-6d6c-4e7f-a12e-5a28df143615}</string>
		<key>{963cce44-154a-408c-a264-e9c85873a851}</key>
		<string>{35618156-5f1a-4c6e-ae0d-0363814942d7}</string>
		<key>{99bdc6d9-5636-4739-9491-5f62a076e759}</key>
		<string>{53233fba-959a-47fd-8c75-20734d8937d5}</string>
		<key>{8ae2a6c5-ce23-4aab-b33d-fa2bcde7ec2f}</key>
		<string>{9def386e-eec3-43fc-8fe9-7939d02dbbf9}</string>
		<key>{3b0ac6dd-f4c6-4e26-8908-b0be30e0f97b}</key>
		<string>{92d3134e-aa37-484f-9461-e2a39cedc810}</string>
		<key>{435fad8f-28c3-428e-932e-63cb63a9c167}</key>
		<string>{76e4c52e-0686-4126-9c67-89a3df18562f}</string>
		<key>{cdb7aff8-437e-4c40-8e0c-722723769875}</key>
		<string>{d0d8b02c-7d39-482c-b187-cd26f26b5661}</string>
		<key>{66cacc1a-78bc-424d-b417-910952c5e0e8}</key>
		<string>{73a2f481-12bf-444a-bf60-09bdb5788df9}</string>
		<key>{80ec39cf-978d-4908-90bd-cb2a9a55a953}</key>
		<string>{0dedb9fc-3358-4c70-ae37-dea4ad0fbb3e}</string>
		<key>{7ca5edc4-3fd5-4f93-ac35-8f1b76dbf9a6}</key>
		<string>{425efb41-fdb9-408c-ad53-88d6e9e10d09}</string>
		<key>{b9756d66-7b24-43bd-9732-e30e67c50347}</key>
		<string>{0d2f5036-d93a-4629-9d3f-110b273d6cfd}</string>
		<key>{0b0529ea-c05a-4863-a73f-049b0e281d81}</key>
		<string>{49ebe16b-c24c-4520-869d-0d7d472f3bc7}</string>
		<key>{6b30e3f5-c9f9-4638-a4f8-fa67d695c43f}</key>
		<string>{877f4215-1a63-432e-a340-5291d1ad7c51}</string>
		<key>{96c275d7-5246-4992-b3c4-0be318ce57a9}</key>
		<string>{15db5494-0969-4d75-b275-b31de03d119f}</string>
		<key>{e2cfac22-1461-414a-a58f-db0ad7d2b18a}</key>
		<string>{de7f09e1-429f-4e88-92c0-485d8002caa6}</string>
		<key>{2f1e3241-f9f3-4971-a07f-ebcec5ae65f5}</key>
		<string>{9cdd07ab-e43f-42a2-9a94-40a4b4fc8af7}</string>
		<key>{2f255c2f-ee6b-4a18-9565-ba5bfcd7d434}</key>
		<string>{fd1da05c-19dc-4087-9477-5689f98ad449}</string>
		<key>{1c09048b-5b50-49a0-925f-6579df9c17a7}</key>
		<string>{12f3589f-6722-4398-a641-c99df8b968a7}</string>
		<key>{1daee112-c13d-439c-8b68-610155f24277}</key>
		<string>{272cba5d-6dda-425e-9225-cb3d6373c3b4}</string>
		<key>{0fb4bc78-cb8a-4d38-8ce1-e4025b5b2f3a}</key>
		<string>{cf25b410-585d-4010-a6d2-7e24d2b7987e}</string>
		<key>{a1ee54a2-8431-4698-8921-fa1d34f0e466}</key>
		<string>{b30059eb-ad40-4397-902f-2191809e086d}</string>
		<key>{87f929d0-d330-48ef-94fb-058589fef1ee}</key>
		<string>{b8a2122f-fa9e-4ea6-ba30-cc0efd3d789e}</string>
		<key>{f0beec97-3689-486f-8cff-1eedefb15a54}</key>
		<string>{ea715026-1fc2-47c6-bfdb-81f7b8123268}</string>
		<key>{90bf2c6e-20ef-48c0-bb85-62bc6dcc2010}</key>
		<string>{7a71a5e2-6eda-4030-9510-7ed7e8946555}</string>
		<key>{adcbe558-ca5a-4b7b-907a-13327e28af9b}</key>
		<string>{d7c9411e-2169-476a-990d-7e51c407dfb1}</string>
		<key>{74ef6753-442d-4b71-9a2a-9d7d3cc57c5e}</key>
		<string>{2df00857-898d-4d94-8388-24fbbebe28ba}</string>
		<key>{f9bca7f3-f1db-49b8-81f3-b18bd0885bff}</key>
		<string>{6f22c7e5-9935-46ba-9503-847839558666}</string>
		<key>{c73b6799-ccda-49a7-bc41-3b2f268a5b2a}</key>
		<string>{4ec7f4c0-a19e-459a-bfdd-3501ba061569}</string>
		<key>{7155a383-14c9-4a6b-9d48-8106aacae4be}</key>
		<string>{b4543ae4-ba61-4494-aa16-6140c5cf3dfa}</string>
	</dict>
	<key>note_light</key>
	<dict>
		<key>{10988712-8631-4f4f-b0c0-a4a9812f51e9}</key>
		<array>
			
			<string>{737a4956-086e-4d81-bf51-dc25dc1bb0f3}</string>
			
			<string>{b074cffa-a030-4488-acf9-589e4660590b}</string>
		</array>
		<key>{30ca45bf-fab5-4522-bb6b-aa55f3c83fff}</key>
		<array>
			
			<string>{d90fba6e-ed1f-41d8-ad66-bde32d2ea765}</string>
		</array>
		<key>{92fe3746-b238-4e29-a397-be9d149a0d3f}</key>
		<array>
			
			<string>{8ab0f38e-3e9d-4722-92c7-3fd775ca8114}</string>
		</array>
		<key>{1007a83f-fb0c-4a9f-b505-9998789bd131}</key>
		<array>
			
			<string>{669a91c0-a34c-4500-9a4e-b0951da2ee4f}</string>
		</array>
		<key>{f3d71084-ca6b-451b-b54e-75d69172678e}</key>
		<array>
			
			<string>{d4c8145e-da88-408c-bebe-92ca74a8e996}</string>
		</array>
		<key>{1b5152fe-b604-4413-a150-112cc01cadb7}</key>
		<array>
			
			<string>{1df2e09e-2da8-423b-aeaf-0ab86ec6b0ad}</string>
		</array>
		<key>{341bf713-81ee-4e51-9b06-c6c3a922e870}</key>
		<array>
			
			<string>{b9527a51-8e57-4412-a920-7c2ace87fe67}</string>
		</array>
		<key>{43abd22e-0d9e-4f12-9996-454047d0f137}</key>
		<array>
			
			<string>{af223986-22c6-42fb-82c3-4995fd7d3dd6}</string>
		</array>
		<key>{afccc8c8-30f8-4a06-b294-5089a9934fee}</key>
		<array>
			
			<string>{16284cd2-8673-404c-bdd5-32e4de2d1204}</string>
		</array>
		<key>{63c35c8a-8a4b-440b-9ef2-b6a28af2ee3f}</key>
		<array>
			
			<string>{4edfd06c-67f1-432c-9583-7949a6ce3244}</string>
		</array>
		<key>{d79db2fb-2c17-49c3-bea5-558f6c2b9f5b}</key>
		<array>
			
			<string>{39ae6964-c019-482c-b705-aedfb2f3b345}</string>
			
			<string>{b64aa714-cf87-4ded-8143-f796d7e54da6}</string>
		</array>
		<key>{bb1a28cd-a736-4bdd-881c-f91d022120e0}</key>
		<array>
			
			<string>{3199dae6-da5e-4e6b-9ba8-bb6f41d88b49}</string>
		</array>
		<key>{963cce44-154a-408c-a264-e9c85873a851}</key>
		<array>
			
			<string>{43685117-4e4d-4abe-8d05-c0f6625a4bfa}</string>
		</array>
		<key>{99bdc6d9-5636-4739-9491-5f62a076e759}</key>
		<array>
			
			<string>{8df068ab-1bf7-4814-8644-882ff16ef20d}</string>
		</array>
		<key>{8ae2a6c5-ce23-4aab-b33d-fa2bcde7ec2f}</key>
		<array>
			
			<string>{438cb58f-7cdd-4a0d-9d23-5b6d17080af3}</string>
		</array>
		<key>{3b0ac6dd-f4c6-4e26-8908-b0be30e0f97b}</key>
		<array>
			
			<string>{e3f6476e-f9d6-49a4-93e0-92d0c464c48e}</string>
		</array>
		<key>{435fad8f-28c3-428e-932e-63cb63a9c167}</key>
		<array>
			
			<string>{bfb2069f-af93-49e6-aa21-b6c2c2069bc4}</string>
		</array>
		<key>{cdb7aff8-437e-4c40-8e0c-722723769875}</key>
		<array>
			
			<string>{5fd3649a-5abe-4a01-a247-68c98d8372db}</string>
		</array>
		<key>{66cacc1a-78bc-424d-b417-910952c5e0e8}</key>
		<array>
			
			<string>{4225d973-b0f6-465a-9eff-7ccd07c6bec2}</string>
		</array>
		<key>{80ec39cf-978d-4908-90bd-cb2a9a55a953}</key>
		<array>
			
			<string>{8c9a1036-24c1-47db-8440-4c8fe690a21a}</string>
		</array>
		<key>{7ca5edc4-3fd5-4f93-ac35-8f1b76dbf9a6}</key>
		<array>
			
			<string>{2f9e4bea-c085-41af-92e0-7d2f72389d3c}</string>
			
			<string>{f898632a-a432-4094-a034-264960e3ac8d}</string>
		</array>
		<key>{b9756d66-7b24-43bd-9732-e30e67c50347}</key>
		<array>
			
			<string>{7994098d-fd90-4169-99a0-6567b1213bc5}</string>
		</array>
		<key>{0b0529ea-c05a-4863-a73f-049b0e281d81}</key>
		<array>
			
			<string>{92e6689d-c0ab-4c48-a9bb-284d72d891f5}</string>
		</array>
		<key>{6b30e3f5-c9f9-4638-a4f8-fa67d695c43f}</key>
		<array>
			
			<string>{6f70f506-489f-491e-903e-55060b33c03f}</string>
		</array>
		<key>{96c275d7-5246-4992-b3c4-0be318ce57a9}</key>
		<array>
			
			<string>{50d7dd24-8ee7-4f2d-9657-8cd08b8bcbfc}</string>
		</array>
		<key>{e2cfac22-1461-414a-a58f-db0ad7d2b18a}</key>
		<array>
			
			<string>{0618da72-1f4d-402f-b484-2e83cd98fdf9}</string>
		</array>
		<key>{2f1e3241-f9f3-4971-a07f-ebcec5ae65f5}</key>
		<array>
			
			<string>{113ee01d-4203-4a8d-bf50-d3be03fa96e2}</string>
		</array>
		<key>{2f255c2f-ee6b-4a18-9565-ba5bfcd7d434}</key>
		<array>
			
			<string>{ce33cc95-8d27-467a-8f1b-2e8094df3df3}</string>
		</array>
		<key>{1c09048b-5b50-49a0-925f-6579df9c17a7}</key>
		<array>
			
			<string>{6bca3e1e-fa5e-4f3e-8e53-f8b07a22e14c}</string>
		</array>
		<key>{1daee112-c13d-439c-8b68-610155f24277}</key>
		<array>
			
			<string>{197dfb8e-b685-4d57-acd4-56b74f4820d1}</string>
		</array>
		<key>{0fb4bc78-cb8a-4d38-8ce1-e4025b5b2f3a}</key>
		<array>
			
			<string>{ade1a7e9-9dbf-43d9-98b0-a03ddaa499cd}</string>
			
			<string>{1d3a2d31-9821-421d-bf5d-1156812849d5}</string>
		</array>
		<key>{a1ee54a2-8431-4698-8921-fa1d34f0e466}</key>
		<array>
			
			<string>{18781acb-f0aa-40a4-aad0-c557558afbdd}</string>
		</array>
		<key>{87f929d0-d330-48ef-94fb-058589fef1ee}</key>
		<array>
			
			<string>{3e9aa7a0-633b-4eea-8aa3-2f0a2b034da4}</string>
		</array>
		<key>{f0beec97-3689-486f-8cff-1eedefb15a54}</key>
		<array>
			
			<string>{679f8b68-802b-408c-aa5f-ee8551ba3a2d}</string>
		</array>
		<key>{90bf2c6e-20ef-48c0-bb85-62bc6dcc2010}</key>
		<array>
			
			<string>{b2dc7d0b-0073-406f-b4ca-e33907f0eef0}</string>
		</array>
		<key>{adcbe558-ca5a-4b7b-907a-13327e28af9b}</key>
		<array>
			
			<string>{51c8dcf9-7376-4259-82b6-1d7eac201b02}</string>
		</array>
		<key>{74ef6753-442d-4b71-9a2a-9d7d3cc57c5e}</key>
		<array>
			
			<string>{33618c02-950e-4cfe-80af-3bfe80bd809b}</string>
		</array>
		<key>{f9bca7f3-f1db-49b8-81f3-b18bd0885bff}</key>
		<array>
			
			<string>{a50d1491-cdf2-4f78-a666-7788312714f7}</string>
		</array>
		<key>{c73b6799-ccda-49a7-bc41-3b2f268a5b2a}</key>
		<array>
			
			<string>{53a2ff53-0615-4bdd-9131-3570552716f1}</string>
		</array>
		<key>{7155a383-14c9-4a6b-9d48-8106aacae4be}</key>
		<array>
			
			<string>{50446d6f-0012-4799-82fb-aa7ff5f112ea}</string>
		</array>
	</dict>
	<key>note_hands_type</key>
	<dict>
		<key>1</key>
		<array>
			
			<string>{7d32f374-39a4-4f2a-9829-e220e0a48ba2}</string>
			
			<string>{98ce666d-84f0-4c53-bd89-2ce14a1dc1aa}</string>
			
			<string>{d1dc57b3-f52c-4e23-bef6-0ecbe08296f6}</string>
			
			<string>{865f6d71-78dc-4b1c-8e6e-5fa5ebd21d12}</string>
			
			<string>{f6bf2bda-71fb-457e-96cd-361f9ae4c8d7}</string>
			
			<string>{c4db1d20-fe82-4904-b17f-d7fe96912da3}</string>
			
			<string>{c90db97f-0a76-489f-8539-12afea39bca6}</string>
			
			<string>{5c370ebe-77dd-45f8-9e00-0b0ac0a45ab2}</string>
			
			<string>{d9b1b3b3-ada6-4b58-beee-8e890fef2196}</string>
			
			<string>{179714bc-a62c-4cec-844a-b1e706dbcbf0}</string>
			
			<string>{fa3e05c6-aec0-4f40-a4fa-a95df865d251}</string>
			
			<string>{155372af-32f5-442c-b3c1-37759e9ef33b}</string>
			
			<string>{6c0c2f5d-421b-4dca-9899-6c4c9146ed28}</string>
			
			<string>{1f623f1d-fd82-47c4-b42f-c945a91a6891}</string>
			
			<string>{43cc08a5-7437-4e65-a006-eb24fdc680e1}</string>
			
			<string>{58edc304-8b8f-4edf-ad0c-ee856344ee60}</string>
			
			<string>{210f3291-1a15-4e9f-9a90-61bf682c38c4}</string>
			
			<string>{7a8d0443-3dec-4977-8f0d-22e7a3cb56e0}</string>
			
			<string>{395769aa-dca9-4594-84ee-8cfc4985c7e3}</string>
			
			<string>{8e666515-a82c-437c-8295-3e775aaf6f65}</string>
			
			<string>{5d582f53-2418-46de-8fc1-06c274007fcc}</string>
			
			<string>{926d8571-0451-4a64-a791-c22ace2f5685}</string>
			
			<string>{b9a5ceb6-a31e-494a-8423-c35387fc4143}</string>
			
			<string>{9129c717-7d7d-443d-982f-542e3f6e9d92}</string>
			
			<string>{ae78be18-5fb8-40dd-b963-5eb79d718b9d}</string>
			
			<string>{9dcc5f1b-3c0a-4cbb-af73-b6c5c7c9b44f}</string>
			
			<string>{09bedf99-a961-447e-a170-8f4f907a4edc}</string>
			
			<string>{710906a5-328b-436a-bdb2-c97dce91048d}</string>
			
			<string>{5699a8b1-890d-41b2-a6b3-1e2e12a6086f}</string>
			
			<string>{edf8de10-a62f-48ce-b9e9-2fe8a9cf059e}</string>
			
			<string>{dac0faec-25c4-41ec-9f64-419f5092e59f}</string>
			
			<string>{7e0d6a55-fb00-4edc-a875-671b69810334}</string>
			
			<string>{799c1fdb-0e54-440a-9966-cda5b714b67b}</string>
			
			<string>{a809ff9e-e7bf-4bd8-9793-1f182081e21b}</string>
			
			<string>{ebd186dd-763a-4d4f-a01f-ac257dcdf994}</string>
			
			<string>{f68c2fa4-63e3-47b6-adbb-1e36068aa75f}</string>
			
			<string>{85868169-586c-427b-b89e-3f333c86be4c}</string>
			
			<string>{932324ec-6d6c-4e7f-a12e-5a28df143615}</string>
			
			<string>{9def386e-eec3-43fc-8fe9-7939d02dbbf9}</string>
			
			<string>{d0d8b02c-7d39-482c-b187-cd26f26b5661}</string>
			
			<string>{0d2f5036-d93a-4629-9d3f-110b273d6cfd}</string>
			
			<string>{49ebe16b-c24c-4520-869d-0d7d472f3bc7}</string>
			
			<string>{877f4215-1a63-432e-a340-5291d1ad7c51}</string>
			
			<string>{15db5494-0969-4d75-b275-b31de03d119f}</string>
			
			<string>{fd1da05c-19dc-4087-9477-5689f98ad449}</string>
			
			<string>{b30059eb-ad40-4397-902f-2191809e086d}</string>
			
			<string>{7a71a5e2-6eda-4030-9510-7ed7e8946555}</string>
			
			<string>{6f22c7e5-9935-46ba-9503-847839558666}</string>
			
			<string>{240ef71c-8219-4a61-861e-1830d785efb5}</string>
			
			<string>{e069e7f1-deae-48d4-9988-e573254b5141}</string>
			
			<string>{545f8d8d-2261-4c99-91fe-3e7770696020}</string>
			
			<string>{24b15765-e371-4b16-afb4-dff1830b6348}</string>
			
			<string>{2bf075b0-a6dc-4b97-b86a-46b00cdb49f4}</string>
			
			<string>{6e92eeab-ff68-46dc-ae96-9e66f752d785}</string>
			
			<string>{b65c4949-5078-4474-82b4-9b9987d49ba3}</string>
			
			<string>{ea91f19b-6a23-4d04-a51d-785bb11e982e}</string>
			
			<string>{24500ef8-b230-4bbc-a03f-a6191147540d}</string>
			
			<string>{19022447-903b-4e6b-9063-f15896f56fdf}</string>
			
			<string>{b90bbc98-dc67-4249-9ff3-3c973aa77aff}</string>
			
			<string>{e42c26f2-996d-4c8d-ac1d-517ec93763fa}</string>
			
			<string>{79a7fd0c-17e0-40ed-9aa9-c034b1ea0aec}</string>
			
			<string>{680f7bbc-e276-4af0-98f7-71ceb7719da6}</string>
			
			<string>{59512f56-a850-4e80-a7f5-8486156a5b6c}</string>
			
			<string>{df485d82-2f95-4e68-af4c-4207d2b7eb28}</string>
			
			<string>{380470d6-0a3c-4188-a474-b6735ef75110}</string>
			
			<string>{8dbb4f2b-3f59-4977-b0de-e55e38d37ff6}</string>
			
			<string>{7efcdeab-876d-4ae7-9df4-f0d8fd5b6a58}</string>
			
			<string>{04ffc989-fb39-40e8-ba73-39cb6e9f0fb7}</string>
			
			<string>{49d7a58d-e31c-45dd-834c-6bd379be3010}</string>
			
			<string>{1f611f34-39dd-4b8c-b2da-c46fa9509d4c}</string>
			
			<string>{8157d8d5-8b16-4023-afce-5d8436e003b0}</string>
			
			<string>{94f68e57-0fe4-465a-8ad3-775d8127ab31}</string>
			
			<string>{e9ba6501-729a-4a62-ba64-b7b19bccf8f3}</string>
			
			<string>{64481d1f-9667-4929-9616-b2979c714b9a}</string>
			
			<string>{6f375be1-8f9c-49d0-aa5a-5a7352f86053}</string>
			
			<string>{e36c5256-fca5-478a-8092-ea82894e984d}</string>
			
			<string>{4fbab10c-5fb7-412e-8561-23b734752c06}</string>
			
			<string>{daf50a68-f114-4df9-93ed-79aa3a281c91}</string>
			
			<string>{c88887f8-7aa8-4f01-9ce5-4d9550fc194e}</string>
			
			<string>{0b39f308-4f24-4f91-b060-6fc956493ddd}</string>
			
			<string>{d983db22-f02c-4b4c-9945-ac48e89e5894}</string>
			
			<string>{d90fba6e-ed1f-41d8-ad66-bde32d2ea765}</string>
			
			<string>{8ab0f38e-3e9d-4722-92c7-3fd775ca8114}</string>
			
			<string>{669a91c0-a34c-4500-9a4e-b0951da2ee4f}</string>
			
			<string>{d4c8145e-da88-408c-bebe-92ca74a8e996}</string>
			
			<string>{af223986-22c6-42fb-82c3-4995fd7d3dd6}</string>
			
			<string>{3199dae6-da5e-4e6b-9ba8-bb6f41d88b49}</string>
			
			<string>{438cb58f-7cdd-4a0d-9d23-5b6d17080af3}</string>
			
			<string>{5fd3649a-5abe-4a01-a247-68c98d8372db}</string>
			
			<string>{7994098d-fd90-4169-99a0-6567b1213bc5}</string>
			
			<string>{92e6689d-c0ab-4c48-a9bb-284d72d891f5}</string>
			
			<string>{6f70f506-489f-491e-903e-55060b33c03f}</string>
			
			<string>{50d7dd24-8ee7-4f2d-9657-8cd08b8bcbfc}</string>
			
			<string>{ce33cc95-8d27-467a-8f1b-2e8094df3df3}</string>
			
			<string>{18781acb-f0aa-40a4-aad0-c557558afbdd}</string>
			
			<string>{b2dc7d0b-0073-406f-b4ca-e33907f0eef0}</string>
			
			<string>{a50d1491-cdf2-4f78-a666-7788312714f7}</string>
		</array>
		<key>2</key>
		<array>
			
			<string>{205bf677-aee2-46f6-8f4b-bd7c92b01fcc}</string>
			
			<string>{710367f7-194a-4d15-9d82-cc623bd9ce76}</string>
			
			<string>{52524ee8-381f-4c53-8f7a-d3020e29b4ff}</string>
			
			<string>{602d4d07-291d-4422-8c5e-2bde0ee17efc}</string>
			
			<string>{02ab5ad9-e422-43f9-bd62-1a483ccad88f}</string>
			
			<string>{16e05d3d-1889-43e7-a1e4-0fba554210dd}</string>
			
			<string>{9d2d3985-47f4-4a1f-9404-676d0eeb3f4d}</string>
			
			<string>{3b682c72-dc3d-4ec9-ab96-b9a5ec74ef52}</string>
			
			<string>{828ac8ed-e861-44aa-bbc2-90669c8a988b}</string>
			
			<string>{2727ac8c-07bb-4c73-bd8e-a2475bf7963c}</string>
			
			<string>{c8c0c39a-4a3b-4638-934f-9fc7c443039e}</string>
			
			<string>{80a87adb-a59c-404a-b0a4-35f48e2d0a5a}</string>
			
			<string>{f4d70123-a7a9-46f6-9595-8369d5024ffa}</string>
			
			<string>{c34b47a6-1639-4474-84bc-af03f6b75164}</string>
			
			<string>{7137cbc1-c349-4d2d-a805-82d217912904}</string>
			
			<string>{ff813500-87cf-4a35-91e5-654630395bec}</string>
			
			<string>{53ed9e0c-9fc1-44d6-b31b-3e67332e8c3d}</string>
			
			<string>{789ba44e-b027-4c54-bb83-e58e5ae72978}</string>
			
			<string>{12523138-c943-4a0d-8a99-53fa352f88e9}</string>
			
			<string>{bd306c85-eec3-459d-b159-c0902d33ad87}</string>
			
			<string>{7ac46f99-1c46-401f-b5ff-64b50da1e551}</string>
			
			<string>{eecd0c5c-2022-4125-93c0-d228ba7d622e}</string>
			
			<string>{0e1418d4-335f-41e2-b02b-357feea93e82}</string>
			
			<string>{f759e39e-8d89-4ba6-92a9-025059ad38a2}</string>
			
			<string>{a1257139-6259-42b9-aec7-e2311c42f11d}</string>
			
			<string>{870403bf-2bba-477d-a60b-7c07d1857e79}</string>
			
			<string>{f98e682a-231f-4f70-8232-85eed307b588}</string>
			
			<string>{b2ae94f2-ccd8-4b6d-a6a7-d603e8b3d22d}</string>
			
			<string>{1f76b7cd-f4f7-4051-a6ea-896582dc6e6b}</string>
			
			<string>{bb2c2c12-7c5f-4ccb-b245-47a8f7d6a29a}</string>
			
			<string>{2a27d635-15aa-45a6-8f70-4d2a83d5f2fb}</string>
			
			<string>{0866690e-f31e-4522-b642-60dff47ce10b}</string>
			
			<string>{30baed8c-31c1-42bd-9fd1-d5234cb1e7f7}</string>
			
			<string>{a892df4c-5d13-4773-bdb9-bfc18ae2d9cf}</string>
			
			<string>{35618156-5f1a-4c6e-ae0d-0363814942d7}</string>
			
			<string>{53233fba-959a-47fd-8c75-20734d8937d5}</string>
			
			<string>{92d3134e-aa37-484f-9461-e2a39cedc810}</string>
			
			<string>{76e4c52e-0686-4126-9c67-89a3df18562f}</string>
			
			<string>{73a2f481-12bf-444a-bf60-09bdb5788df9}</string>
			
			<string>{0dedb9fc-3358-4c70-ae37-dea4ad0fbb3e}</string>
			
			<string>{425efb41-fdb9-408c-ad53-88d6e9e10d09}</string>
			
			<string>{de7f09e1-429f-4e88-92c0-485d8002caa6}</string>
			
			<string>{9cdd07ab-e43f-42a2-9a94-40a4b4fc8af7}</string>
			
			<string>{12f3589f-6722-4398-a641-c99df8b968a7}</string>
			
			<string>{272cba5d-6dda-425e-9225-cb3d6373c3b4}</string>
			
			<string>{cf25b410-585d-4010-a6d2-7e24d2b7987e}</string>
			
			<string>{b8a2122f-fa9e-4ea6-ba30-cc0efd3d789e}</string>
			
			<string>{ea715026-1fc2-47c6-bfdb-81f7b8123268}</string>
			
			<string>{d7c9411e-2169-476a-990d-7e51c407dfb1}</string>
			
			<string>{2df00857-898d-4d94-8388-24fbbebe28ba}</string>
			
			<string>{4ec7f4c0-a19e-459a-bfdd-3501ba061569}</string>
			
			<string>{b4543ae4-ba61-4494-aa16-6140c5cf3dfa}</string>
			
			<string>{b074cffa-a030-4488-acf9-589e4660590b}</string>
			
			<string>{b64aa714-cf87-4ded-8143-f796d7e54da6}</string>
			
			<string>{f898632a-a432-4094-a034-264960e3ac8d}</string>
			
			<string>{1d3a2d31-9821-421d-bf5d-1156812849d5}</string>
			
			<string>{1ee92a7e-4197-467e-8b30-6cbf41c482ef}</string>
			
			<string>{d8292884-b4f9-426e-b6bf-b5bc9f6e420c}</string>
			
			<string>{4997217d-0523-44d6-b851-9c65a81e325a}</string>
			
			<string>{0a6373ed-21cd-41b5-8922-cb358a0b74ae}</string>
			
			<string>{de85894e-443e-43cb-9360-1324ebedaf32}</string>
			
			<string>{74520997-739e-40fc-82d8-b549b47e75de}</string>
			
			<string>{5c8bdf3f-11a6-4c1a-8647-a8d9fea59ca4}</string>
			
			<string>{f7516271-d47d-4fb4-af4f-060e0b44274f}</string>
			
			<string>{d6936aeb-47bc-48ac-b37e-1b9072c343ac}</string>
			
			<string>{d49f6096-7cc2-4c83-9b26-8dba6e67b3e4}</string>
			
			<string>{a35b637b-55a9-43e1-82c8-a0af8922e6bc}</string>
			
			<string>{4e898fd9-f193-413b-8582-698d053ea3c1}</string>
			
			<string>{aadaec4e-0af8-4cdd-946b-f341cbb06742}</string>
			
			<string>{2da10fe2-ce73-42a0-9a57-3db304b9fb36}</string>
			
			<string>{1c4e40d9-7691-4008-8922-2b3365247145}</string>
			
			<string>{69ca375c-9264-4ea9-8659-f9ad9ba50dda}</string>
			
			<string>{092c2085-3c21-419b-8ff8-511143929f62}</string>
			
			<string>{5a222698-ac86-4c4b-aec7-eb13288d7faa}</string>
			
			<string>{c8e23303-4a6f-4ba6-8ad1-3a0cef4d48f9}</string>
			
			<string>{4170acd8-c161-49bc-9dc9-aceaee5d6b44}</string>
			
			<string>{d569a609-b58d-4b8c-81d1-3e58d6f435f0}</string>
			
			<string>{4beb50bc-14dd-43c4-9afa-cd4cdeef3d18}</string>
			
			<string>{74c87d8a-7d3c-4d2d-8cb3-c756992e4603}</string>
			
			<string>{569541a7-55b3-45f6-b1d6-60fc9879887b}</string>
			
			<string>{bd8a1c42-ab2f-46b8-9a3f-f4c9dfd0e5a0}</string>
			
			<string>{301fb4d4-a75e-4eb3-9687-e012004c9f92}</string>
			
			<string>{4fb47f91-c9e3-4b8f-81f4-bad4345c61f5}</string>
			
			<string>{7af6559c-7f07-4cc6-8e16-fd7a29479359}</string>
			
			<string>{d8b7c288-1c47-46d1-b1b1-f76bf1c9b208}</string>
			
			<string>{18976c94-79ff-4c70-ba29-06780fa36360}</string>
			
			<string>{ca5bab71-5e1d-411b-aa4f-f519a3f7561f}</string>
			
			<string>{737a4956-086e-4d81-bf51-dc25dc1bb0f3}</string>
			
			<string>{1df2e09e-2da8-423b-aeaf-0ab86ec6b0ad}</string>
			
			<string>{b9527a51-8e57-4412-a920-7c2ace87fe67}</string>
			
			<string>{16284cd2-8673-404c-bdd5-32e4de2d1204}</string>
			
			<string>{4edfd06c-67f1-432c-9583-7949a6ce3244}</string>
			
			<string>{39ae6964-c019-482c-b705-aedfb2f3b345}</string>
			
			<string>{43685117-4e4d-4abe-8d05-c0f6625a4bfa}</string>
			
			<string>{8df068ab-1bf7-4814-8644-882ff16ef20d}</string>
			
			<string>{e3f6476e-f9d6-49a4-93e0-92d0c464c48e}</string>
			
			<string>{bfb2069f-af93-49e6-aa21-b6c2c2069bc4}</string>
			
			<string>{4225d973-b0f6-465a-9eff-7ccd07c6bec2}</string>
			
			<string>{8c9a1036-24c1-47db-8440-4c8fe690a21a}</string>
			
			<string>{2f9e4bea-c085-41af-92e0-7d2f72389d3c}</string>
			
			<string>{0618da72-1f4d-402f-b484-2e83cd98fdf9}</string>
			
			<string>{113ee01d-4203-4a8d-bf50-d3be03fa96e2}</string>
			
			<string>{6bca3e1e-fa5e-4f3e-8e53-f8b07a22e14c}</string>
			
			<string>{197dfb8e-b685-4d57-acd4-56b74f4820d1}</string>
			
			<string>{ade1a7e9-9dbf-43d9-98b0-a03ddaa499cd}</string>
			
			<string>{3e9aa7a0-633b-4eea-8aa3-2f0a2b034da4}</string>
			
			<string>{679f8b68-802b-408c-aa5f-ee8551ba3a2d}</string>
			
			<string>{51c8dcf9-7376-4259-82b6-1d7eac201b02}</string>
			
			<string>{33618c02-950e-4cfe-80af-3bfe80bd809b}</string>
			
			<string>{53a2ff53-0615-4bdd-9131-3570552716f1}</string>
			
			<string>{50446d6f-0012-4799-82fb-aa7ff5f112ea}</string>
			
			<string>{bfbd2656-04d5-435b-b8d0-40f7e0d74686}</string>
			
			<string>{2681223e-7ce3-48b9-8e61-8af13923c7f9}</string>
			
			<string>{61bc36f3-ef93-45a0-b8a5-8839b6aa6c72}</string>
			
			<string>{a507161d-12d3-4e38-9826-1e4c4c8e2f09}</string>
			
			<string>{b9734a50-858a-4b7b-a70d-459656f66a57}</string>
			
			<string>{78fd1cdf-5617-41f7-bead-db4b6d2b5dfa}</string>
		</array>
	</dict>
</dict>
</plist>