<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>pen_width</key>
	<string>0.40</string>
	<key>xend</key>
	<real>2757.08</real>
	<key>stafflines</key>
	<dict>
		<key>0</key>
		<dict>
			<key>x</key>
			<string>10.4173</string>
			<key>y</key>
			<string>16.3582</string>
			<key>bx</key>
			<string>10.4173</string>
			<key>by</key>
			<string>51.9378</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{2d40269a-560c-40c4-bab3-8611638f0f9a}</key>
		<dict>
			<key>x</key>
			<string>2680.06</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{8a347eeb-f907-4db6-94f9-8ed53fcb885f}</key>
		<dict>
			<key>x</key>
			<string>2648.22</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7ed47812-2e9b-4d05-b305-f93d4ca0bef0}</key>
		<dict>
			<key>x</key>
			<string>2621.14</string>
			<key>y</key>
			<string>38.681</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{acfad270-dcae-4719-ba3a-da102b9959fe}</key>
		<dict>
			<key>x</key>
			<string>2594.07</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{cd8e06f8-8031-47e4-8d5b-2cd1f8b611b0}</key>
		<dict>
			<key>x</key>
			<string>2562.23</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{bb12bfca-5c96-4bb8-8aad-f1bb6f321a35}</key>
		<dict>
			<key>x</key>
			<string>2535.15</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{40d384e5-0740-4d44-927f-c40c06d2c5c6}</key>
		<dict>
			<key>x</key>
			<string>2508.08</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{e1989b89-41e2-4a66-8023-6c6691089e27}</key>
		<dict>
			<key>x</key>
			<string>2476.24</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6cf42768-9474-4036-9bcc-e1934ee4c28c}</key>
		<dict>
			<key>x</key>
			<string>2449.17</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{38df9f43-3a9e-46ff-aa5e-4432393d9b39}</key>
		<dict>
			<key>x</key>
			<string>2422.09</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{669a9a70-c681-419a-8385-38bbc80ba2ee}</key>
		<dict>
			<key>x</key>
			<string>2336.1</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{3f06aa4a-d048-4e31-844c-0cd08d0da456}</key>
		<dict>
			<key>x</key>
			<string>2304.26</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{3f91d8a3-d47c-4c27-b811-a1b11e66c694}</key>
		<dict>
			<key>x</key>
			<string>2277.19</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{b49f10bd-9a46-4af2-a77e-4d77638b22d7}</key>
		<dict>
			<key>x</key>
			<string>2250.11</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{87ba1fc2-efc3-4fbf-8b59-24452a10ee9b}</key>
		<dict>
			<key>x</key>
			<string>2218.27</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{505422df-feaa-44c5-b67c-813112dcc42e}</key>
		<dict>
			<key>x</key>
			<string>2191.2</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{f335d29d-43a2-4971-b3ff-1d9c02faccc8}</key>
		<dict>
			<key>x</key>
			<string>2164.12</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{b4ebb543-179c-4ae6-83e4-51a426f2dd25}</key>
		<dict>
			<key>x</key>
			<string>2132.28</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{035f0908-3279-4385-9190-1cb8ae0a14f7}</key>
		<dict>
			<key>x</key>
			<string>2105.21</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{71408c15-8566-4f90-9040-cf6920ab5397}</key>
		<dict>
			<key>x</key>
			<string>2078.13</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{b1f5017e-d585-4f17-8c1d-ff47a706f660}</key>
		<dict>
			<key>x</key>
			<string>1304.23</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{90223f08-e493-4652-84bf-e53b82aaccb2}</key>
		<dict>
			<key>x</key>
			<string>1272.39</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f379f60d-8036-462f-b444-aa30abc3f295}</key>
		<dict>
			<key>x</key>
			<string>1245.31</string>
			<key>y</key>
			<string>38.681</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{1fbd048f-d1f7-491b-8e74-a1ab82eb32a8}</key>
		<dict>
			<key>x</key>
			<string>1218.24</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{bda8caea-3f96-4bf4-963d-b50f9df3f020}</key>
		<dict>
			<key>x</key>
			<string>1186.4</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ee22bc65-34e1-4ea5-99a8-4d96d76c87ab}</key>
		<dict>
			<key>x</key>
			<string>1159.32</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{df312d88-4394-433e-ad94-6f8ad88cff3b}</key>
		<dict>
			<key>x</key>
			<string>1132.25</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{4040b30b-ff56-46e0-9dd3-000e04874f44}</key>
		<dict>
			<key>x</key>
			<string>1100.41</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{4f8d7ae4-1df0-45e1-b8af-43741ec1c6c6}</key>
		<dict>
			<key>x</key>
			<string>1073.33</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{5e8ec7d3-aef3-4311-8682-b28ef777888c}</key>
		<dict>
			<key>x</key>
			<string>1046.26</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{36436c10-db91-4a6e-96c6-f3370678a60c}</key>
		<dict>
			<key>x</key>
			<string>960.269</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{96fe958e-03e3-4b6d-b557-8ec2eb4d2d5f}</key>
		<dict>
			<key>x</key>
			<string>928.431</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{718ba66a-aef6-4956-9fbb-8534252567f3}</key>
		<dict>
			<key>x</key>
			<string>901.356</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{27ab53f0-2466-4b9f-943a-423cdad217ad}</key>
		<dict>
			<key>x</key>
			<string>874.28</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{6bcfa067-f31d-4e12-a9c3-ba8f88aa0ace}</key>
		<dict>
			<key>x</key>
			<string>842.442</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{30dc43a1-c6a6-4440-8cbb-8f9b82bf3a39}</key>
		<dict>
			<key>x</key>
			<string>815.366</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{109df1f0-9431-4345-903c-20c7bdc05e18}</key>
		<dict>
			<key>x</key>
			<string>788.291</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{ad849cb8-e914-43a8-a83f-1f78afeea3ed}</key>
		<dict>
			<key>x</key>
			<string>756.453</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{e2362815-d9b4-4818-8cb1-b3fb95d7cfd2}</key>
		<dict>
			<key>x</key>
			<string>729.377</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{4c7eb779-9479-4c7f-9fff-b33a56279298}</key>
		<dict>
			<key>x</key>
			<string>702.301</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>2</string>
		</dict>
	</dict>
	<key>rests</key>
	<dict>
		<key>{3d5988d1-9e36-46ae-8574-6e1a1734f047}</key>
		<dict>
			<key>x</key>
			<string>2680.24</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{5d2b3810-0e0e-4639-b87b-34992483dd8b}</key>
		<dict>
			<key>x</key>
			<string>2594.07</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{05d44eb7-f40d-4b45-905f-06fea1e88419}</key>
		<dict>
			<key>x</key>
			<string>2562.23</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{853fae22-0e4b-4110-b87e-75a9712a6b9e}</key>
		<dict>
			<key>x</key>
			<string>2508.08</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{5e0fec0d-8bd7-4a24-8fe4-eff87f03f85a}</key>
		<dict>
			<key>x</key>
			<string>2476.24</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{68aba7b4-fc50-4348-9fab-6009358a19ac}</key>
		<dict>
			<key>x</key>
			<string>2422.09</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{38484799-ddca-458c-829c-7f0bf1d43eda}</key>
		<dict>
			<key>x</key>
			<string>2336.28</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f3974d2c-cd88-4ab2-9737-cff110a81398}</key>
		<dict>
			<key>x</key>
			<string>2304.26</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{d3509076-8ffc-4830-8c55-1f17d132c7a2}</key>
		<dict>
			<key>x</key>
			<string>2250.11</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d4fd6dad-0832-4d49-b97e-05aed69243ad}</key>
		<dict>
			<key>x</key>
			<string>2218.27</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{9f513d86-1d29-4325-9bc1-2e8d90c6ee2d}</key>
		<dict>
			<key>x</key>
			<string>2164.12</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2f78a076-c3b2-4881-a381-1e5c13bca3c1}</key>
		<dict>
			<key>x</key>
			<string>2132.28</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{2b85451e-5f1c-497b-b272-911de8b55da3}</key>
		<dict>
			<key>x</key>
			<string>2078.13</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c9cba750-186f-41d0-887a-006e849dff3d}</key>
		<dict>
			<key>x</key>
			<string>1992.14</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{a08f9858-55e1-47b1-b3f7-0e358680eaad}</key>
		<dict>
			<key>x</key>
			<string>1992.14</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{5c3df78f-40e7-41e8-9c0d-bcaebd1a3e43}</key>
		<dict>
			<key>x</key>
			<string>1906.15</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{7fabb38f-a257-4d41-a8f9-c7b414fcfc75}</key>
		<dict>
			<key>x</key>
			<string>1906.15</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{a71f8835-17f6-4107-853d-8a708017d98f}</key>
		<dict>
			<key>x</key>
			<string>1820.16</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{f1fd4e45-e5d9-4f65-8cff-fe9bba15d8a2}</key>
		<dict>
			<key>x</key>
			<string>1820.16</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{69c2b434-61fd-4c9e-9af4-a98cee2e2962}</key>
		<dict>
			<key>x</key>
			<string>1734.17</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{a6960020-af6b-44c0-9645-0c8f017f5c3a}</key>
		<dict>
			<key>x</key>
			<string>1734.17</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{eb35ac5e-1572-4275-a2c5-b0def9634c95}</key>
		<dict>
			<key>x</key>
			<string>1648.18</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{b9cc8c97-d96d-4f87-9eb9-4d91711e1c84}</key>
		<dict>
			<key>x</key>
			<string>1648.18</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{be45daa2-6313-466d-96f3-44aff79a8b94}</key>
		<dict>
			<key>x</key>
			<string>1562.2</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{6ca727ed-144c-4e89-9291-b35fd266989d}</key>
		<dict>
			<key>x</key>
			<string>1562.2</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f5846482-d57a-48bc-94a0-7442fa20bf24}</key>
		<dict>
			<key>x</key>
			<string>1476.21</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{f124b066-ddc4-4867-8a98-1fa57047d9c6}</key>
		<dict>
			<key>x</key>
			<string>1476.21</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ad408dbd-4876-4113-84e8-f578ba9ee9c5}</key>
		<dict>
			<key>x</key>
			<string>1390.22</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{e4d8552c-3a8c-453f-9dc7-6a4eadd805db}</key>
		<dict>
			<key>x</key>
			<string>1390.22</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{fa1083c8-c85b-4a76-9c7a-3218e6d57e84}</key>
		<dict>
			<key>x</key>
			<string>1304.41</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ab24b211-a1bb-4bbb-9223-1292dc8d3411}</key>
		<dict>
			<key>x</key>
			<string>1218.24</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{a573cbd1-169b-42fe-8e0c-780a499fc4ef}</key>
		<dict>
			<key>x</key>
			<string>1186.4</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{c0cfd38e-aa63-411a-959f-5dea9dbf71a3}</key>
		<dict>
			<key>x</key>
			<string>1132.25</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{4b32fdeb-f903-41a8-858e-da0c38374899}</key>
		<dict>
			<key>x</key>
			<string>1100.41</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{015b405f-d5fe-4d93-9efe-42db313c768a}</key>
		<dict>
			<key>x</key>
			<string>1046.26</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b17efe6f-4e85-4fae-badd-63e8e9db28c0}</key>
		<dict>
			<key>x</key>
			<string>960.448</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{a37676e3-bf18-4ca9-bf89-49260dbac18c}</key>
		<dict>
			<key>x</key>
			<string>928.431</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{ebd1161e-39c2-47ee-af0d-082b5bb54a98}</key>
		<dict>
			<key>x</key>
			<string>874.28</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{cdd52082-fbf7-4b72-b818-634ac6537441}</key>
		<dict>
			<key>x</key>
			<string>842.442</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{465bd01d-c1dc-4e1e-960e-80ec9f4faefe}</key>
		<dict>
			<key>x</key>
			<string>788.291</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{21c74bf9-5430-479d-9f20-000f3aac4bc4}</key>
		<dict>
			<key>x</key>
			<string>756.453</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{5271475f-353a-46e9-9d7a-0fb453ae1d5b}</key>
		<dict>
			<key>x</key>
			<string>702.301</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{388bb471-25a6-4349-8a92-ee1f41696367}</key>
		<dict>
			<key>x</key>
			<string>616.312</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{557406ac-0a10-4c65-bb45-0b3dec7e6082}</key>
		<dict>
			<key>x</key>
			<string>616.312</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{74fd1e24-1354-4562-b968-c52b094371ca}</key>
		<dict>
			<key>x</key>
			<string>530.322</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{71b9f487-5dcc-4341-8e5d-3d79b5f90d54}</key>
		<dict>
			<key>x</key>
			<string>530.322</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{e6990bf0-f843-4b00-8330-f3200dbb992d}</key>
		<dict>
			<key>x</key>
			<string>444.333</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{b45607bf-7ffb-4170-a202-9f08389e2302}</key>
		<dict>
			<key>x</key>
			<string>444.333</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9d2b2854-d566-44a1-beaa-2cd12e98a265}</key>
		<dict>
			<key>x</key>
			<string>358.344</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{64fcb862-2e89-4608-9f7f-fd82f3f3e5c1}</key>
		<dict>
			<key>x</key>
			<string>358.344</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{735e4136-af54-4ff5-a162-9ab7442805cd}</key>
		<dict>
			<key>x</key>
			<string>272.354</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{40b16e73-490a-44bf-89ce-c89cef264b79}</key>
		<dict>
			<key>x</key>
			<string>272.354</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f31cafae-596c-4434-aac5-d77f4297e8a1}</key>
		<dict>
			<key>x</key>
			<string>186.365</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{3f244a98-fac7-4d18-800e-f18ef31dbb35}</key>
		<dict>
			<key>x</key>
			<string>186.365</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6cc5338a-e0ae-4291-b6a7-4df4fbdb1e7a}</key>
		<dict>
			<key>x</key>
			<string>100.375</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{26753d2d-a38e-4dda-9bb9-299fe4e3a493}</key>
		<dict>
			<key>x</key>
			<string>100.375</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{4744cff3-37a4-46bc-9be2-5cbb71f6cce5}</key>
		<dict>
			<key>x</key>
			<string>48.7831</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{0361d01c-1f73-4eda-b9ab-9ccfa8ba790f}</key>
		<dict>
			<key>x</key>
			<string>48.7831</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>note_finger</key>
	<dict>
	</dict>
	<key>note_step</key>
	<dict>
		<key>{2d40269a-560c-40c4-bab3-8611638f0f9a}</key>
		<string>{57efd51d-a526-4c86-a91a-2ff29c00f5c4}</string>
		<key>{8a347eeb-f907-4db6-94f9-8ed53fcb885f}</key>
		<string>{a2c3e345-77c4-4ba4-8ce8-9ba97b5eff25}</string>
		<key>{7ed47812-2e9b-4d05-b305-f93d4ca0bef0}</key>
		<string>{1cbb4b3a-bfa8-4149-96ac-6b209232d7b5}</string>
		<key>{acfad270-dcae-4719-ba3a-da102b9959fe}</key>
		<string>{187c9efa-57bf-422f-9c9e-0a9f41bd4ec8}</string>
		<key>{cd8e06f8-8031-47e4-8d5b-2cd1f8b611b0}</key>
		<string>{24b36730-eb4a-4282-9785-23d0151a6582}</string>
		<key>{bb12bfca-5c96-4bb8-8aad-f1bb6f321a35}</key>
		<string>{27eee404-5366-47f2-8ffa-ebb61abe4665}</string>
		<key>{40d384e5-0740-4d44-927f-c40c06d2c5c6}</key>
		<string>{a98d9c33-3bcc-4b41-967c-738fa4f62730}</string>
		<key>{e1989b89-41e2-4a66-8023-6c6691089e27}</key>
		<string>{1e059396-d4c0-4ef1-bd2d-cd0b3fc2679f}</string>
		<key>{6cf42768-9474-4036-9bcc-e1934ee4c28c}</key>
		<string>{1cf63758-93f8-4ed4-a60d-7d15cd4ff7e3}</string>
		<key>{38df9f43-3a9e-46ff-aa5e-4432393d9b39}</key>
		<string>{9e9a10b1-e90a-469b-b454-5ce524ca4cc4}</string>
		<key>{669a9a70-c681-419a-8385-38bbc80ba2ee}</key>
		<string>{398ea91a-d1e7-43c3-a18e-3982a7765dbf}</string>
		<key>{3f06aa4a-d048-4e31-844c-0cd08d0da456}</key>
		<string>{ffb69bd0-7c5c-4358-a0b2-129cac475eb3}</string>
		<key>{3f91d8a3-d47c-4c27-b811-a1b11e66c694}</key>
		<string>{d7332d67-a529-4d41-a950-4e6873dd2bd1}</string>
		<key>{b49f10bd-9a46-4af2-a77e-4d77638b22d7}</key>
		<string>{e8929ef5-d4e4-42d6-86d1-4f8c9f6ced38}</string>
		<key>{87ba1fc2-efc3-4fbf-8b59-24452a10ee9b}</key>
		<string>{fb8e677f-5339-45d1-9f6a-f8c9368d8e55}</string>
		<key>{505422df-feaa-44c5-b67c-813112dcc42e}</key>
		<string>{413cc76f-7475-4448-b42c-8cb5520d7922}</string>
		<key>{f335d29d-43a2-4971-b3ff-1d9c02faccc8}</key>
		<string>{992c5772-fd9f-4a83-a911-cda61b3661fc}</string>
		<key>{b4ebb543-179c-4ae6-83e4-51a426f2dd25}</key>
		<string>{5dd7e895-1e7f-4a22-9786-c6c9e099c2fa}</string>
		<key>{035f0908-3279-4385-9190-1cb8ae0a14f7}</key>
		<string>{f4eaeba7-2dee-44f2-b959-8ae51943a203}</string>
		<key>{71408c15-8566-4f90-9040-cf6920ab5397}</key>
		<string>{8ab8e2de-3f37-4832-9c7f-c49a9a6f2b54}</string>
		<key>{b1f5017e-d585-4f17-8c1d-ff47a706f660}</key>
		<string>{7226d813-16ef-4fb7-a914-bdbe3953155b}</string>
		<key>{90223f08-e493-4652-84bf-e53b82aaccb2}</key>
		<string>{457b63a9-9a6c-4995-ba3f-d46de39c4be9}</string>
		<key>{f379f60d-8036-462f-b444-aa30abc3f295}</key>
		<string>{bcd45f49-b811-4756-a977-a311603253d1}</string>
		<key>{1fbd048f-d1f7-491b-8e74-a1ab82eb32a8}</key>
		<string>{c24cd316-a872-4a98-a8a5-3951d790d15e}</string>
		<key>{bda8caea-3f96-4bf4-963d-b50f9df3f020}</key>
		<string>{b57905f7-16f1-4c16-b74c-294f34524c09}</string>
		<key>{ee22bc65-34e1-4ea5-99a8-4d96d76c87ab}</key>
		<string>{e849f0fb-4f2c-4c0a-8b16-8cae53ef77a5}</string>
		<key>{df312d88-4394-433e-ad94-6f8ad88cff3b}</key>
		<string>{38b70edb-7887-4a6a-a76a-ccc88de56bec}</string>
		<key>{4040b30b-ff56-46e0-9dd3-000e04874f44}</key>
		<string>{55142cab-763e-4085-be7f-d1925e649cb2}</string>
		<key>{4f8d7ae4-1df0-45e1-b8af-43741ec1c6c6}</key>
		<string>{d55b7b30-8413-42cf-8a07-487deb6d33d3}</string>
		<key>{5e8ec7d3-aef3-4311-8682-b28ef777888c}</key>
		<string>{e8c4828f-200e-4f33-92c0-d098f8236f92}</string>
		<key>{36436c10-db91-4a6e-96c6-f3370678a60c}</key>
		<string>{e224e122-11d9-4658-90ac-77caa6f32ffd}</string>
		<key>{96fe958e-03e3-4b6d-b557-8ec2eb4d2d5f}</key>
		<string>{812682d9-ba7b-46dd-9cf9-bc7e59e26c3e}</string>
		<key>{718ba66a-aef6-4956-9fbb-8534252567f3}</key>
		<string>{30fb89a6-956b-4732-b540-855b0a40d34c}</string>
		<key>{27ab53f0-2466-4b9f-943a-423cdad217ad}</key>
		<string>{f577477a-94e0-4344-96ce-0db975660529}</string>
		<key>{6bcfa067-f31d-4e12-a9c3-ba8f88aa0ace}</key>
		<string>{8a9a1ec0-de52-4ec4-87f4-5fb7b185bb97}</string>
		<key>{30dc43a1-c6a6-4440-8cbb-8f9b82bf3a39}</key>
		<string>{d0c6e341-dfc9-4cb0-86ef-3a6033be3b58}</string>
		<key>{109df1f0-9431-4345-903c-20c7bdc05e18}</key>
		<string>{5105c6f9-6523-40e1-8946-e04295b5594a}</string>
		<key>{ad849cb8-e914-43a8-a83f-1f78afeea3ed}</key>
		<string>{b71b60a7-38db-4204-ad0b-33f3858a5085}</string>
		<key>{e2362815-d9b4-4818-8cb1-b3fb95d7cfd2}</key>
		<string>{88ed86b6-f4d3-4171-ad06-f068d5f03f0c}</string>
		<key>{4c7eb779-9479-4c7f-9fff-b33a56279298}</key>
		<string>{43a0a6c0-f565-46ae-bf31-42a6fc6d17e2}</string>
	</dict>
	<key>note_light</key>
	<dict>
		<key>{2d40269a-560c-40c4-bab3-8611638f0f9a}</key>
		<array>
			
			<string>{583867b3-24f1-4f93-b90c-a8691803990b}</string>
			
			<string>{b1019410-173a-4899-bbe1-ed8bda1a3590}</string>
		</array>
		<key>{8a347eeb-f907-4db6-94f9-8ed53fcb885f}</key>
		<array>
			
			<string>{e807fa1b-1868-467b-9f8f-84b7db20144f}</string>
		</array>
		<key>{7ed47812-2e9b-4d05-b305-f93d4ca0bef0}</key>
		<array>
			
			<string>{db87effe-7d32-4483-b996-cdee4e6d5d7d}</string>
		</array>
		<key>{acfad270-dcae-4719-ba3a-da102b9959fe}</key>
		<array>
			
			<string>{349caca9-4fcc-4f3d-b3dc-2f25601cd7a2}</string>
		</array>
		<key>{cd8e06f8-8031-47e4-8d5b-2cd1f8b611b0}</key>
		<array>
			
			<string>{3bbafb2c-ec55-423d-a5cf-67abc7d30fac}</string>
		</array>
		<key>{bb12bfca-5c96-4bb8-8aad-f1bb6f321a35}</key>
		<array>
			
			<string>{8302c397-eea5-4c34-a61c-4df25a8d4e79}</string>
		</array>
		<key>{40d384e5-0740-4d44-927f-c40c06d2c5c6}</key>
		<array>
			
			<string>{cafd5995-fe31-40d0-8d68-e3c3fdbd526f}</string>
		</array>
		<key>{e1989b89-41e2-4a66-8023-6c6691089e27}</key>
		<array>
			
			<string>{2082ab5d-e5ac-49ce-b3cf-41ddfbeda746}</string>
		</array>
		<key>{6cf42768-9474-4036-9bcc-e1934ee4c28c}</key>
		<array>
			
			<string>{b80543b5-d5bf-4fbd-865f-ffbb95144384}</string>
		</array>
		<key>{38df9f43-3a9e-46ff-aa5e-4432393d9b39}</key>
		<array>
			
			<string>{992b5ad5-104e-47c2-9680-7700fca9e800}</string>
		</array>
		<key>{669a9a70-c681-419a-8385-38bbc80ba2ee}</key>
		<array>
			
			<string>{5a0eab21-87db-48e0-867a-613c60b80e7f}</string>
			
			<string>{95704071-e64f-4887-80e0-fafdd98c9fdf}</string>
		</array>
		<key>{3f06aa4a-d048-4e31-844c-0cd08d0da456}</key>
		<array>
			
			<string>{66f00b7d-bd92-4c45-9c30-89f1b0625427}</string>
		</array>
		<key>{3f91d8a3-d47c-4c27-b811-a1b11e66c694}</key>
		<array>
			
			<string>{ee59d5f5-690b-4343-880c-79b956c022cd}</string>
		</array>
		<key>{b49f10bd-9a46-4af2-a77e-4d77638b22d7}</key>
		<array>
			
			<string>{bf93a9b8-5f50-4822-9a8d-1736c93393a4}</string>
		</array>
		<key>{87ba1fc2-efc3-4fbf-8b59-24452a10ee9b}</key>
		<array>
			
			<string>{adc66248-f4c4-4f09-8664-7ec3e480cf81}</string>
		</array>
		<key>{505422df-feaa-44c5-b67c-813112dcc42e}</key>
		<array>
			
			<string>{c5d83350-74f5-4d5d-bac3-d6280004bf0b}</string>
		</array>
		<key>{f335d29d-43a2-4971-b3ff-1d9c02faccc8}</key>
		<array>
			
			<string>{46b45774-b032-4411-b069-ecfc51cd270e}</string>
		</array>
		<key>{b4ebb543-179c-4ae6-83e4-51a426f2dd25}</key>
		<array>
			
			<string>{bf5f5cbb-fc67-4520-b93f-84794fb69f06}</string>
		</array>
		<key>{035f0908-3279-4385-9190-1cb8ae0a14f7}</key>
		<array>
			
			<string>{914aa53e-b1cc-4b58-849d-51c0331e65ad}</string>
		</array>
		<key>{71408c15-8566-4f90-9040-cf6920ab5397}</key>
		<array>
			
			<string>{ca695a1c-4780-4dbc-a703-91bdc73ecf99}</string>
		</array>
		<key>{b1f5017e-d585-4f17-8c1d-ff47a706f660}</key>
		<array>
			
			<string>{4e071771-73cd-4695-a94d-d833fadf2c8b}</string>
			
			<string>{b3316f7d-9c18-47e3-846f-466097db02cb}</string>
		</array>
		<key>{90223f08-e493-4652-84bf-e53b82aaccb2}</key>
		<array>
			
			<string>{b154e915-1eea-45e2-aca3-0af9f2a40876}</string>
		</array>
		<key>{f379f60d-8036-462f-b444-aa30abc3f295}</key>
		<array>
			
			<string>{d796ec01-40c5-43f4-9035-8d65a8a12f41}</string>
		</array>
		<key>{1fbd048f-d1f7-491b-8e74-a1ab82eb32a8}</key>
		<array>
			
			<string>{5fcc27ff-6057-4ff8-af60-4f1241fefb53}</string>
		</array>
		<key>{bda8caea-3f96-4bf4-963d-b50f9df3f020}</key>
		<array>
			
			<string>{7ca3174c-43aa-44a9-8cfe-1d056e6ee945}</string>
		</array>
		<key>{ee22bc65-34e1-4ea5-99a8-4d96d76c87ab}</key>
		<array>
			
			<string>{c60b96a4-b713-4d4a-82eb-4666d6d7124e}</string>
		</array>
		<key>{df312d88-4394-433e-ad94-6f8ad88cff3b}</key>
		<array>
			
			<string>{28b0ebe0-82cc-409c-9388-99684c6ac9ad}</string>
		</array>
		<key>{4040b30b-ff56-46e0-9dd3-000e04874f44}</key>
		<array>
			
			<string>{d305cb9a-6608-4e61-9144-6a823348cd88}</string>
		</array>
		<key>{4f8d7ae4-1df0-45e1-b8af-43741ec1c6c6}</key>
		<array>
			
			<string>{82b3b438-3e21-4d90-afe8-89e490435457}</string>
		</array>
		<key>{5e8ec7d3-aef3-4311-8682-b28ef777888c}</key>
		<array>
			
			<string>{e6f38a3d-5f39-46c0-bf2b-7ac3dcea878d}</string>
		</array>
		<key>{36436c10-db91-4a6e-96c6-f3370678a60c}</key>
		<array>
			
			<string>{dfd06beb-397b-4452-9007-0632673d9aab}</string>
			
			<string>{4435f3ee-e0c5-4669-960c-f8e02e2233de}</string>
		</array>
		<key>{96fe958e-03e3-4b6d-b557-8ec2eb4d2d5f}</key>
		<array>
			
			<string>{34139d03-2950-4942-9bff-317830a832d8}</string>
		</array>
		<key>{718ba66a-aef6-4956-9fbb-8534252567f3}</key>
		<array>
			
			<string>{90868d1a-0ef3-458b-be1e-622999d80154}</string>
		</array>
		<key>{27ab53f0-2466-4b9f-943a-423cdad217ad}</key>
		<array>
			
			<string>{846bb4c2-25f4-4981-9bf1-a18d56dd1dd0}</string>
		</array>
		<key>{6bcfa067-f31d-4e12-a9c3-ba8f88aa0ace}</key>
		<array>
			
			<string>{982d8f34-7fc4-481d-82f8-0ad7dc8d5699}</string>
		</array>
		<key>{30dc43a1-c6a6-4440-8cbb-8f9b82bf3a39}</key>
		<array>
			
			<string>{798c6ffa-efdc-4d0a-8935-87128938c050}</string>
		</array>
		<key>{109df1f0-9431-4345-903c-20c7bdc05e18}</key>
		<array>
			
			<string>{5ac40215-c229-472f-8bf3-393c71df67a9}</string>
		</array>
		<key>{ad849cb8-e914-43a8-a83f-1f78afeea3ed}</key>
		<array>
			
			<string>{1d9e40f5-025a-4548-a883-fb60eafae8c3}</string>
		</array>
		<key>{e2362815-d9b4-4818-8cb1-b3fb95d7cfd2}</key>
		<array>
			
			<string>{bb5df8f2-64c7-460d-9cdc-18037883d568}</string>
		</array>
		<key>{4c7eb779-9479-4c7f-9fff-b33a56279298}</key>
		<array>
			
			<string>{05911b3c-de44-4de6-894f-9ee0def6ebaf}</string>
		</array>
	</dict>
	<key>note_hands_type</key>
	<dict>
		<key>1</key>
		<array>
			
			<string>{29e95211-3df0-4d29-b8a1-71bb74d1365d}</string>
			
			<string>{8dcfe716-caba-4e28-b613-f54a4f3d092e}</string>
			
			<string>{3d5988d1-9e36-46ae-8574-6e1a1734f047}</string>
			
			<string>{853fae22-0e4b-4110-b87e-75a9712a6b9e}</string>
			
			<string>{68aba7b4-fc50-4348-9fab-6009358a19ac}</string>
			
			<string>{38484799-ddca-458c-829c-7f0bf1d43eda}</string>
			
			<string>{d3509076-8ffc-4830-8c55-1f17d132c7a2}</string>
			
			<string>{9f513d86-1d29-4325-9bc1-2e8d90c6ee2d}</string>
			
			<string>{2b85451e-5f1c-497b-b272-911de8b55da3}</string>
			
			<string>{a08f9858-55e1-47b1-b3f7-0e358680eaad}</string>
			
			<string>{7fabb38f-a257-4d41-a8f9-c7b414fcfc75}</string>
			
			<string>{f1fd4e45-e5d9-4f65-8cff-fe9bba15d8a2}</string>
			
			<string>{a6960020-af6b-44c0-9645-0c8f017f5c3a}</string>
			
			<string>{b9cc8c97-d96d-4f87-9eb9-4d91711e1c84}</string>
			
			<string>{6ca727ed-144c-4e89-9291-b35fd266989d}</string>
			
			<string>{f124b066-ddc4-4867-8a98-1fa57047d9c6}</string>
			
			<string>{e4d8552c-3a8c-453f-9dc7-6a4eadd805db}</string>
			
			<string>{fa1083c8-c85b-4a76-9c7a-3218e6d57e84}</string>
			
			<string>{c0cfd38e-aa63-411a-959f-5dea9dbf71a3}</string>
			
			<string>{015b405f-d5fe-4d93-9efe-42db313c768a}</string>
			
			<string>{b17efe6f-4e85-4fae-badd-63e8e9db28c0}</string>
			
			<string>{ebd1161e-39c2-47ee-af0d-082b5bb54a98}</string>
			
			<string>{465bd01d-c1dc-4e1e-960e-80ec9f4faefe}</string>
			
			<string>{5271475f-353a-46e9-9d7a-0fb453ae1d5b}</string>
			
			<string>{557406ac-0a10-4c65-bb45-0b3dec7e6082}</string>
			
			<string>{71b9f487-5dcc-4341-8e5d-3d79b5f90d54}</string>
			
			<string>{b45607bf-7ffb-4170-a202-9f08389e2302}</string>
			
			<string>{64fcb862-2e89-4608-9f7f-fd82f3f3e5c1}</string>
			
			<string>{40b16e73-490a-44bf-89ce-c89cef264b79}</string>
			
			<string>{3f244a98-fac7-4d18-800e-f18ef31dbb35}</string>
			
			<string>{26753d2d-a38e-4dda-9bb9-299fe4e3a493}</string>
			
			<string>{0361d01c-1f73-4eda-b9ab-9ccfa8ba790f}</string>
			
			<string>{a2c3e345-77c4-4ba4-8ce8-9ba97b5eff25}</string>
			
			<string>{1cbb4b3a-bfa8-4149-96ac-6b209232d7b5}</string>
			
			<string>{187c9efa-57bf-422f-9c9e-0a9f41bd4ec8}</string>
			
			<string>{24b36730-eb4a-4282-9785-23d0151a6582}</string>
			
			<string>{1e059396-d4c0-4ef1-bd2d-cd0b3fc2679f}</string>
			
			<string>{ffb69bd0-7c5c-4358-a0b2-129cac475eb3}</string>
			
			<string>{fb8e677f-5339-45d1-9f6a-f8c9368d8e55}</string>
			
			<string>{5dd7e895-1e7f-4a22-9786-c6c9e099c2fa}</string>
			
			<string>{457b63a9-9a6c-4995-ba3f-d46de39c4be9}</string>
			
			<string>{bcd45f49-b811-4756-a977-a311603253d1}</string>
			
			<string>{c24cd316-a872-4a98-a8a5-3951d790d15e}</string>
			
			<string>{b57905f7-16f1-4c16-b74c-294f34524c09}</string>
			
			<string>{55142cab-763e-4085-be7f-d1925e649cb2}</string>
			
			<string>{812682d9-ba7b-46dd-9cf9-bc7e59e26c3e}</string>
			
			<string>{8a9a1ec0-de52-4ec4-87f4-5fb7b185bb97}</string>
			
			<string>{b71b60a7-38db-4204-ad0b-33f3858a5085}</string>
			
			<string>{f3f992d5-77f9-4fdf-a8d8-1beac01b705d}</string>
			
			<string>{0a610eda-17a7-4702-ae46-4ebf54036800}</string>
			
			<string>{33002305-40cc-44de-89df-1228b77cdd40}</string>
			
			<string>{9f689997-eac1-4b2c-9c2e-5c0a4d6f7537}</string>
			
			<string>{d4b5b3cf-8d59-4117-bcb0-c52661464a7e}</string>
			
			<string>{dd9af05e-3022-498a-8714-a6e7ae48e84b}</string>
			
			<string>{4ef4ddbe-b958-4402-978e-b2930a97de75}</string>
			
			<string>{c7691f71-0f71-4f73-a522-f3375d924dfb}</string>
			
			<string>{b69fb37e-8d0e-4688-a318-df0363526f7b}</string>
			
			<string>{13785f5a-9bd4-4352-8563-26b1c2f8c4e0}</string>
			
			<string>{e1346419-23d5-4ff0-9d68-71172f361be6}</string>
			
			<string>{7d6fbdd9-f263-4a64-a57f-bcadaae990f4}</string>
			
			<string>{afa3ec75-cd44-4e1c-95d8-0276ffafb6d0}</string>
			
			<string>{13f50ff0-b7f0-4b99-9aaf-b2096fc9c2bc}</string>
			
			<string>{2d0c0cf9-ca2b-4989-8597-6c3d2e120575}</string>
			
			<string>{072d60d1-3f30-4a5d-bb66-8de92505e003}</string>
			
			<string>{f35956b6-b06d-4184-81b4-0cf0f9735c3a}</string>
			
			<string>{df29a801-b5d9-4819-9200-ff99a3985f14}</string>
			
			<string>{eba1628a-a566-4d41-818c-703d5183e9e8}</string>
			
			<string>{f19ec352-6047-4ae4-ba18-1da8e81499bc}</string>
			
			<string>{c3e4036f-8705-4ef1-a86a-32b0b5a7bac2}</string>
			
			<string>{9ca434eb-c7ad-4a59-8dea-7accd03c266f}</string>
			
			<string>{11aef4be-ef93-4bec-ab2c-31ec1648a315}</string>
			
			<string>{7becc6f2-774c-401c-a7a5-3d1dacfe4868}</string>
			
			<string>{8fda4f12-98e0-4aba-b930-5994e7c59e74}</string>
			
			<string>{d39f3c0b-4d8e-4db4-8b63-57aca8adb918}</string>
			
			<string>{25e3fd89-95db-46f5-aecd-46e2275b1a08}</string>
			
			<string>{7a37aae2-8fe1-4334-82e9-556173b52dbd}</string>
			
			<string>{988e9b65-9538-4532-8c4f-17a7c79feeb5}</string>
			
			<string>{023d095d-3a2b-4347-989c-aab6e8811191}</string>
			
			<string>{a0de8983-9e41-49a6-abd4-d6c317cd6fcf}</string>
			
			<string>{618632bc-e872-4d77-8dd9-4e84a2aeffbc}</string>
			
			<string>{3c262e76-7375-440d-a746-d082e4920315}</string>
			
			<string>{e807fa1b-1868-467b-9f8f-84b7db20144f}</string>
			
			<string>{db87effe-7d32-4483-b996-cdee4e6d5d7d}</string>
			
			<string>{349caca9-4fcc-4f3d-b3dc-2f25601cd7a2}</string>
			
			<string>{3bbafb2c-ec55-423d-a5cf-67abc7d30fac}</string>
			
			<string>{2082ab5d-e5ac-49ce-b3cf-41ddfbeda746}</string>
			
			<string>{66f00b7d-bd92-4c45-9c30-89f1b0625427}</string>
			
			<string>{adc66248-f4c4-4f09-8664-7ec3e480cf81}</string>
			
			<string>{bf5f5cbb-fc67-4520-b93f-84794fb69f06}</string>
			
			<string>{b154e915-1eea-45e2-aca3-0af9f2a40876}</string>
			
			<string>{d796ec01-40c5-43f4-9035-8d65a8a12f41}</string>
			
			<string>{5fcc27ff-6057-4ff8-af60-4f1241fefb53}</string>
			
			<string>{7ca3174c-43aa-44a9-8cfe-1d056e6ee945}</string>
			
			<string>{d305cb9a-6608-4e61-9144-6a823348cd88}</string>
			
			<string>{34139d03-2950-4942-9bff-317830a832d8}</string>
			
			<string>{982d8f34-7fc4-481d-82f8-0ad7dc8d5699}</string>
			
			<string>{1d9e40f5-025a-4548-a883-fb60eafae8c3}</string>
		</array>
		<key>2</key>
		<array>
			
			<string>{5d2b3810-0e0e-4639-b87b-34992483dd8b}</string>
			
			<string>{05d44eb7-f40d-4b45-905f-06fea1e88419}</string>
			
			<string>{5e0fec0d-8bd7-4a24-8fe4-eff87f03f85a}</string>
			
			<string>{f3974d2c-cd88-4ab2-9737-cff110a81398}</string>
			
			<string>{d4fd6dad-0832-4d49-b97e-05aed69243ad}</string>
			
			<string>{2f78a076-c3b2-4881-a381-1e5c13bca3c1}</string>
			
			<string>{c9cba750-186f-41d0-887a-006e849dff3d}</string>
			
			<string>{5c3df78f-40e7-41e8-9c0d-bcaebd1a3e43}</string>
			
			<string>{a71f8835-17f6-4107-853d-8a708017d98f}</string>
			
			<string>{69c2b434-61fd-4c9e-9af4-a98cee2e2962}</string>
			
			<string>{eb35ac5e-1572-4275-a2c5-b0def9634c95}</string>
			
			<string>{be45daa2-6313-466d-96f3-44aff79a8b94}</string>
			
			<string>{f5846482-d57a-48bc-94a0-7442fa20bf24}</string>
			
			<string>{ad408dbd-4876-4113-84e8-f578ba9ee9c5}</string>
			
			<string>{ab24b211-a1bb-4bbb-9223-1292dc8d3411}</string>
			
			<string>{a573cbd1-169b-42fe-8e0c-780a499fc4ef}</string>
			
			<string>{4b32fdeb-f903-41a8-858e-da0c38374899}</string>
			
			<string>{a37676e3-bf18-4ca9-bf89-49260dbac18c}</string>
			
			<string>{cdd52082-fbf7-4b72-b818-634ac6537441}</string>
			
			<string>{21c74bf9-5430-479d-9f20-000f3aac4bc4}</string>
			
			<string>{388bb471-25a6-4349-8a92-ee1f41696367}</string>
			
			<string>{74fd1e24-1354-4562-b968-c52b094371ca}</string>
			
			<string>{e6990bf0-f843-4b00-8330-f3200dbb992d}</string>
			
			<string>{9d2b2854-d566-44a1-beaa-2cd12e98a265}</string>
			
			<string>{735e4136-af54-4ff5-a162-9ab7442805cd}</string>
			
			<string>{f31cafae-596c-4434-aac5-d77f4297e8a1}</string>
			
			<string>{6cc5338a-e0ae-4291-b6a7-4df4fbdb1e7a}</string>
			
			<string>{4744cff3-37a4-46bc-9be2-5cbb71f6cce5}</string>
			
			<string>{57efd51d-a526-4c86-a91a-2ff29c00f5c4}</string>
			
			<string>{27eee404-5366-47f2-8ffa-ebb61abe4665}</string>
			
			<string>{a98d9c33-3bcc-4b41-967c-738fa4f62730}</string>
			
			<string>{1cf63758-93f8-4ed4-a60d-7d15cd4ff7e3}</string>
			
			<string>{9e9a10b1-e90a-469b-b454-5ce524ca4cc4}</string>
			
			<string>{398ea91a-d1e7-43c3-a18e-3982a7765dbf}</string>
			
			<string>{d7332d67-a529-4d41-a950-4e6873dd2bd1}</string>
			
			<string>{e8929ef5-d4e4-42d6-86d1-4f8c9f6ced38}</string>
			
			<string>{413cc76f-7475-4448-b42c-8cb5520d7922}</string>
			
			<string>{992c5772-fd9f-4a83-a911-cda61b3661fc}</string>
			
			<string>{f4eaeba7-2dee-44f2-b959-8ae51943a203}</string>
			
			<string>{8ab8e2de-3f37-4832-9c7f-c49a9a6f2b54}</string>
			
			<string>{7226d813-16ef-4fb7-a914-bdbe3953155b}</string>
			
			<string>{e849f0fb-4f2c-4c0a-8b16-8cae53ef77a5}</string>
			
			<string>{38b70edb-7887-4a6a-a76a-ccc88de56bec}</string>
			
			<string>{d55b7b30-8413-42cf-8a07-487deb6d33d3}</string>
			
			<string>{e8c4828f-200e-4f33-92c0-d098f8236f92}</string>
			
			<string>{e224e122-11d9-4658-90ac-77caa6f32ffd}</string>
			
			<string>{30fb89a6-956b-4732-b540-855b0a40d34c}</string>
			
			<string>{f577477a-94e0-4344-96ce-0db975660529}</string>
			
			<string>{d0c6e341-dfc9-4cb0-86ef-3a6033be3b58}</string>
			
			<string>{5105c6f9-6523-40e1-8946-e04295b5594a}</string>
			
			<string>{88ed86b6-f4d3-4171-ad06-f068d5f03f0c}</string>
			
			<string>{43a0a6c0-f565-46ae-bf31-42a6fc6d17e2}</string>
			
			<string>{b1019410-173a-4899-bbe1-ed8bda1a3590}</string>
			
			<string>{95704071-e64f-4887-80e0-fafdd98c9fdf}</string>
			
			<string>{b3316f7d-9c18-47e3-846f-466097db02cb}</string>
			
			<string>{4435f3ee-e0c5-4669-960c-f8e02e2233de}</string>
			
			<string>{f716525f-c14d-4131-86ba-263b587f22c3}</string>
			
			<string>{fa010d31-ae17-4589-aa71-1559647dcf82}</string>
			
			<string>{1648ec4f-200c-4a8c-9c43-16f9b7bc0f43}</string>
			
			<string>{2e0aceb0-bee9-4729-b91f-cd558abb8c68}</string>
			
			<string>{f26abe7e-b241-43d1-9ca9-ba3cf5ce2ee6}</string>
			
			<string>{0ac14d42-ff55-4f76-88bd-a3c79dfd147a}</string>
			
			<string>{f8ecc2e0-9a1f-4600-9a31-8be5a7b11d37}</string>
			
			<string>{aaae0489-de86-4974-96f6-719730d32d55}</string>
			
			<string>{19446252-058e-4835-bac4-2c97a66aaca3}</string>
			
			<string>{be9d6105-5c8f-44ed-b6ed-5ddd2e9542b2}</string>
			
			<string>{ff072628-6730-4acc-88d4-d6acc3bf1429}</string>
			
			<string>{87f512bd-b18c-4b59-8b94-d7f50cb76eec}</string>
			
			<string>{79398dda-b491-49a4-b64b-483d3aa08460}</string>
			
			<string>{3ae5e338-fcea-480d-b161-974f8b6f17f3}</string>
			
			<string>{27f1dba8-aa98-4052-966d-fb5c5de85a8b}</string>
			
			<string>{6fb02212-ec88-4dbe-90a0-8ecfd9130a8f}</string>
			
			<string>{b8aa3638-86c6-4ec0-bd59-194532fc42af}</string>
			
			<string>{9549626c-e31f-44a6-818e-5c616a93e878}</string>
			
			<string>{83b48d48-6446-49d2-8ea2-fc0ba510f78b}</string>
			
			<string>{4da5a3f4-2832-47ba-8512-dfebdfac5001}</string>
			
			<string>{cd492ae0-814e-4a8a-b79f-7768f2c8bceb}</string>
			
			<string>{643ae59a-a2df-4fc8-880d-4365629d7fe8}</string>
			
			<string>{be605a02-92db-4098-afb8-40e692290dce}</string>
			
			<string>{bdcaf553-eced-4719-9c62-04cf54ecd172}</string>
			
			<string>{edc3dd95-c901-4314-b8f4-b0b5c9cd35cc}</string>
			
			<string>{d8bdef30-5ad8-42d5-9368-64bb829973b9}</string>
			
			<string>{fd61fcda-2e1d-4142-bea9-eda41a872c94}</string>
			
			<string>{1abd2282-a200-47f3-b74c-ace4a1775d0a}</string>
			
			<string>{42dae516-e34b-44c3-b3dd-b66e9dee12a7}</string>
			
			<string>{e30344f7-298b-4bc1-953d-2a67ae4c74bc}</string>
			
			<string>{6c67fe1c-a9a3-4e2d-8f9a-4e00dff1e02f}</string>
			
			<string>{583867b3-24f1-4f93-b90c-a8691803990b}</string>
			
			<string>{8302c397-eea5-4c34-a61c-4df25a8d4e79}</string>
			
			<string>{cafd5995-fe31-40d0-8d68-e3c3fdbd526f}</string>
			
			<string>{b80543b5-d5bf-4fbd-865f-ffbb95144384}</string>
			
			<string>{992b5ad5-104e-47c2-9680-7700fca9e800}</string>
			
			<string>{5a0eab21-87db-48e0-867a-613c60b80e7f}</string>
			
			<string>{ee59d5f5-690b-4343-880c-79b956c022cd}</string>
			
			<string>{bf93a9b8-5f50-4822-9a8d-1736c93393a4}</string>
			
			<string>{c5d83350-74f5-4d5d-bac3-d6280004bf0b}</string>
			
			<string>{46b45774-b032-4411-b069-ecfc51cd270e}</string>
			
			<string>{914aa53e-b1cc-4b58-849d-51c0331e65ad}</string>
			
			<string>{ca695a1c-4780-4dbc-a703-91bdc73ecf99}</string>
			
			<string>{4e071771-73cd-4695-a94d-d833fadf2c8b}</string>
			
			<string>{c60b96a4-b713-4d4a-82eb-4666d6d7124e}</string>
			
			<string>{28b0ebe0-82cc-409c-9388-99684c6ac9ad}</string>
			
			<string>{82b3b438-3e21-4d90-afe8-89e490435457}</string>
			
			<string>{e6f38a3d-5f39-46c0-bf2b-7ac3dcea878d}</string>
			
			<string>{dfd06beb-397b-4452-9007-0632673d9aab}</string>
			
			<string>{90868d1a-0ef3-458b-be1e-622999d80154}</string>
			
			<string>{846bb4c2-25f4-4981-9bf1-a18d56dd1dd0}</string>
			
			<string>{798c6ffa-efdc-4d0a-8935-87128938c050}</string>
			
			<string>{5ac40215-c229-472f-8bf3-393c71df67a9}</string>
			
			<string>{bb5df8f2-64c7-460d-9cdc-18037883d568}</string>
			
			<string>{05911b3c-de44-4de6-894f-9ee0def6ebaf}</string>
			
			<string>{218058a4-b19e-4afe-b7b3-66f90aa59c24}</string>
			
			<string>{f9d952f7-827a-4564-a48c-9c0bf0008851}</string>
			
			<string>{86db8015-4436-44bd-bfd3-f00b5aa2f167}</string>
			
			<string>{3b52fb42-6626-4cbb-993d-c69dfb55e95a}</string>
			
			<string>{fd34bc60-359c-4705-ace1-b306104d19eb}</string>
			
			<string>{737b0592-fb9d-4255-ab41-0c61968e9311}</string>
		</array>
	</dict>
</dict>
</plist>