<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>247.04</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>282.619</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>391.89</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>427.47</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>536.741</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>572.321</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>681.592</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>717.171</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{bdfbf7b1-33cb-431e-88ca-f9187025a54d}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>741.119</string>
		</dict>
		<key>{8caa2e0e-0bb8-4ec7-bfab-8ba1f7ff9cb5}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>706.395</string>
		</dict>
		<key>{5e1401d1-7d6e-4c1b-8c8d-7a9719b5a422}</key>
		<dict>
			<key>x</key>
			<string>521.269</string>
			<key>y</key>
			<string>559.064</string>
		</dict>
		<key>{ed599779-5179-49be-84b3-ce3fe9955c0e}</key>
		<dict>
			<key>x</key>
			<string>483.774</string>
			<key>y</key>
			<string>556.583</string>
		</dict>
		<key>{35a2b497-6c2d-44ec-ab50-bb8555ea411e}</key>
		<dict>
			<key>x</key>
			<string>446.099</string>
			<key>y</key>
			<string>598.749</string>
		</dict>
		<key>{fc8f16cf-5e82-42c1-8313-f7e157fe8d75}</key>
		<dict>
			<key>x</key>
			<string>446.278</string>
			<key>y</key>
			<string>554.103</string>
		</dict>
		<key>{b37a68ce-e0b3-4bd8-ab0c-b962e95413da}</key>
		<dict>
			<key>x</key>
			<string>416.137</string>
			<key>y</key>
			<string>561.544</string>
		</dict>
		<key>{0dadf28a-706b-4bf2-8644-61c646c4be7e}</key>
		<dict>
			<key>x</key>
			<string>392.921</string>
			<key>y</key>
			<string>556.583</string>
		</dict>
		<key>{0cf7bc7c-a527-4b2c-8957-d9c4fe686141}</key>
		<dict>
			<key>x</key>
			<string>355.775</string>
			<key>y</key>
			<string>601.229</string>
		</dict>
		<key>{8069342e-0bd6-470b-93cf-069b1d7604fe}</key>
		<dict>
			<key>x</key>
			<string>318.629</string>
			<key>y</key>
			<string>596.269</string>
		</dict>
		<key>{e549832f-7271-42f8-9e5c-15961a243f78}</key>
		<dict>
			<key>x</key>
			<string>318.45</string>
			<key>y</key>
			<string>551.623</string>
		</dict>
		<key>{f2862ed0-67b4-4db0-9778-efaf8f754618}</key>
		<dict>
			<key>x</key>
			<string>288.488</string>
			<key>y</key>
			<string>554.103</string>
		</dict>
		<key>{962a7893-5500-430e-bb69-99ad978ed9b2}</key>
		<dict>
			<key>x</key>
			<string>265.272</string>
			<key>y</key>
			<string>549.143</string>
		</dict>
		<key>{abbbc7a0-61a8-40e6-90ac-4ef58b6753db}</key>
		<dict>
			<key>x</key>
			<string>228.127</string>
			<key>y</key>
			<string>601.229</string>
		</dict>
		<key>{392fe328-f440-45ff-8421-d83165a91108}</key>
		<dict>
			<key>x</key>
			<string>190.981</string>
			<key>y</key>
			<string>588.828</string>
		</dict>
		<key>{f558a197-b433-465b-9105-c9c07fb313bf}</key>
		<dict>
			<key>x</key>
			<string>190.802</string>
			<key>y</key>
			<string>544.182</string>
		</dict>
		<key>{c002d71c-b8bc-4a0b-a8d5-7d214bdb1f5a}</key>
		<dict>
			<key>x</key>
			<string>157.312</string>
			<key>y</key>
			<string>561.544</string>
		</dict>
		<key>{6b42494b-ee32-445f-916f-3b4b2c35828e}</key>
		<dict>
			<key>x</key>
			<string>130.568</string>
			<key>y</key>
			<string>561.544</string>
		</dict>
		<key>{cc51a913-bb06-4f2b-af64-26d5fe374794}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>596.269</string>
		</dict>
		<key>{490c5552-335c-43ad-b0aa-6e317bf48b28}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>551.623</string>
		</dict>
		<key>{377357a0-8fab-4706-8a5a-35b368faa317}</key>
		<dict>
			<key>x</key>
			<string>521.269</string>
			<key>y</key>
			<string>404.292</string>
		</dict>
		<key>{02e55f82-c762-478c-b933-2774ef1d94da}</key>
		<dict>
			<key>x</key>
			<string>483.774</string>
			<key>y</key>
			<string>406.772</string>
		</dict>
		<key>{7a73add4-831e-49a8-bcea-1e4beb0e1455}</key>
		<dict>
			<key>x</key>
			<string>446.099</string>
			<key>y</key>
			<string>453.898</string>
		</dict>
		<key>{a5dfcb84-5504-49b0-ad9c-c9ff90a57d4c}</key>
		<dict>
			<key>x</key>
			<string>446.278</string>
			<key>y</key>
			<string>409.253</string>
		</dict>
		<key>{f4e36848-9fc5-4847-b002-f07dfb5f0bc4}</key>
		<dict>
			<key>x</key>
			<string>416.137</string>
			<key>y</key>
			<string>416.693</string>
		</dict>
		<key>{f9091517-913c-42ed-a4d4-e32306e98ad9}</key>
		<dict>
			<key>x</key>
			<string>392.921</string>
			<key>y</key>
			<string>411.733</string>
		</dict>
		<key>{22940a76-cfc7-405a-ac51-ae42c1467823}</key>
		<dict>
			<key>x</key>
			<string>355.775</string>
			<key>y</key>
			<string>456.378</string>
		</dict>
		<key>{1e234bac-05bb-48b1-b191-d28b1898226a}</key>
		<dict>
			<key>x</key>
			<string>318.629</string>
			<key>y</key>
			<string>451.418</string>
		</dict>
		<key>{9ff9d4de-f811-4739-9b6d-15277e447899}</key>
		<dict>
			<key>x</key>
			<string>318.45</string>
			<key>y</key>
			<string>406.772</string>
		</dict>
		<key>{f11dbdc3-b048-47f3-8d6a-37a35cd54b59}</key>
		<dict>
			<key>x</key>
			<string>288.488</string>
			<key>y</key>
			<string>409.253</string>
		</dict>
		<key>{b1fe7c20-40a0-44ea-9783-c22abc7d2a19}</key>
		<dict>
			<key>x</key>
			<string>265.272</string>
			<key>y</key>
			<string>404.292</string>
		</dict>
		<key>{bf0493ca-77fb-4c6a-9d3b-e8277b01ec67}</key>
		<dict>
			<key>x</key>
			<string>228.127</string>
			<key>y</key>
			<string>456.378</string>
		</dict>
		<key>{b71731a0-22f9-4e29-9f3b-5d7fcefa477d}</key>
		<dict>
			<key>x</key>
			<string>190.981</string>
			<key>y</key>
			<string>443.977</string>
		</dict>
		<key>{ea8df74a-ab83-4dbf-8a69-e4602f7a109d}</key>
		<dict>
			<key>x</key>
			<string>190.802</string>
			<key>y</key>
			<string>399.331</string>
		</dict>
		<key>{a2ee5c61-774d-4dc8-bbbb-601a70d9b2d4}</key>
		<dict>
			<key>x</key>
			<string>157.312</string>
			<key>y</key>
			<string>416.693</string>
		</dict>
		<key>{77c5f047-f4ef-491a-853e-7e9c55678873}</key>
		<dict>
			<key>x</key>
			<string>130.568</string>
			<key>y</key>
			<string>416.693</string>
		</dict>
		<key>{d5a34788-3971-429f-acd2-6bf61719e4d0}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>451.418</string>
		</dict>
		<key>{1330ad0d-0a0c-4dd3-931a-780ffa0b0f19}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>399.331</string>
		</dict>
		<key>{22639e04-5bc2-4520-915b-381aa76c328f}</key>
		<dict>
			<key>x</key>
			<string>522.603</string>
			<key>y</key>
			<string>256.961</string>
		</dict>
		<key>{e758397d-8be1-4891-8c65-659c02e3877d}</key>
		<dict>
			<key>x</key>
			<string>486.441</string>
			<key>y</key>
			<string>261.922</string>
		</dict>
		<key>{401cab1e-df90-4cbc-84ca-8c1209aa0519}</key>
		<dict>
			<key>x</key>
			<string>463.84</string>
			<key>y</key>
			<string>259.441</string>
		</dict>
		<key>{0addd892-382e-4463-93b9-a39a6906591c}</key>
		<dict>
			<key>x</key>
			<string>441.06</string>
			<key>y</key>
			<string>301.607</string>
		</dict>
		<key>{6a9bc09e-7b24-4d2a-b609-14cb27f07863}</key>
		<dict>
			<key>x</key>
			<string>441.239</string>
			<key>y</key>
			<string>256.961</string>
		</dict>
		<key>{38cdde23-a157-487c-89db-ef9a89a5de2d}</key>
		<dict>
			<key>x</key>
			<string>411.499</string>
			<key>y</key>
			<string>264.402</string>
		</dict>
		<key>{16b49808-4580-4dbe-b3a1-9650ddbecf0e}</key>
		<dict>
			<key>x</key>
			<string>388.685</string>
			<key>y</key>
			<string>269.362</string>
		</dict>
		<key>{6965e4ab-448a-48a3-adcb-074aac7ad0e6}</key>
		<dict>
			<key>x</key>
			<string>352.182</string>
			<key>y</key>
			<string>309.048</string>
		</dict>
		<key>{12987b6c-25f6-46c3-ac68-4e60e7767739}</key>
		<dict>
			<key>x</key>
			<string>315.679</string>
			<key>y</key>
			<string>301.607</string>
		</dict>
		<key>{03aa6578-20c1-47eb-915b-0244497a4ea4}</key>
		<dict>
			<key>x</key>
			<string>315.679</string>
			<key>y</key>
			<string>264.402</string>
		</dict>
		<key>{1293c975-69d0-424a-90e6-28e1584bc1f6}</key>
		<dict>
			<key>x</key>
			<string>286.332</string>
			<key>y</key>
			<string>266.882</string>
		</dict>
		<key>{15566e72-2c97-41c1-bbe7-21c0db25f939}</key>
		<dict>
			<key>x</key>
			<string>263.731</string>
			<key>y</key>
			<string>269.362</string>
		</dict>
		<key>{ec6d46f8-e9e5-419f-816a-72c83bb61058}</key>
		<dict>
			<key>x</key>
			<string>227.569</string>
			<key>y</key>
			<string>269.362</string>
		</dict>
		<key>{f9916eb9-06fd-4900-aa33-3156a2a58d90}</key>
		<dict>
			<key>x</key>
			<string>191.228</string>
			<key>y</key>
			<string>301.607</string>
		</dict>
		<key>{456b0f0c-47ef-4c04-aa2c-b39e625fc237}</key>
		<dict>
			<key>x</key>
			<string>191.407</string>
			<key>y</key>
			<string>264.402</string>
		</dict>
		<key>{a197a280-e817-410d-98b4-6927254c6046}</key>
		<dict>
			<key>x</key>
			<string>162.799</string>
			<key>y</key>
			<string>266.882</string>
		</dict>
		<key>{2ef96927-37e3-4e7f-921f-5f57cc10f9d1}</key>
		<dict>
			<key>x</key>
			<string>141.116</string>
			<key>y</key>
			<string>269.362</string>
		</dict>
		<key>{fafe09c2-7d56-4880-9fae-b0b27dc71c18}</key>
		<dict>
			<key>x</key>
			<string>106.424</string>
			<key>y</key>
			<string>261.922</string>
		</dict>
		<key>{3d050dd7-2a60-4180-8322-ebd7b0fac579}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>304.087</string>
		</dict>
		<key>{bcbe389b-2412-4989-bb25-726b3aa20193}</key>
		<dict>
			<key>x</key>
			<string>71.7314</string>
			<key>y</key>
			<string>259.441</string>
		</dict>
		<key>{5609533b-e0b5-46ea-b0bf-ea51e8370339}</key>
		<dict>
			<key>x</key>
			<string>522.025</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{6d4f94a3-a375-47bc-ab6c-1c691154e186}</key>
		<dict>
			<key>x</key>
			<string>485.284</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{ff9bf122-0012-45b6-9444-46fc86d0a899}</key>
		<dict>
			<key>x</key>
			<string>448.365</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{1ca2cb48-f2bf-49ee-9e29-de29e72988f9}</key>
		<dict>
			<key>x</key>
			<string>448.544</string>
			<key>y</key>
			<string>109.63</string>
		</dict>
		<key>{90b413d4-bae5-4793-9c2a-c74648f108d3}</key>
		<dict>
			<key>x</key>
			<string>418.839</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{e6f370de-20fa-48e1-b4a1-6f527a4566ca}</key>
		<dict>
			<key>x</key>
			<string>396.059</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{224f2775-bd05-46c3-90e6-37b0698061ab}</key>
		<dict>
			<key>x</key>
			<string>359.61</string>
			<key>y</key>
			<string>174.118</string>
		</dict>
		<key>{387d4d51-52b3-484b-b5d6-96283668c2a9}</key>
		<dict>
			<key>x</key>
			<string>323.162</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{4f38e79c-b7ed-441f-a076-4ffc6ff1f6a1}</key>
		<dict>
			<key>x</key>
			<string>322.983</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{80a825ad-9298-4d93-9454-d69280c3d7e9}</key>
		<dict>
			<key>x</key>
			<string>293.457</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{d2cd9556-27eb-4d50-b882-9fe78673663f}</key>
		<dict>
			<key>x</key>
			<string>270.677</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{626cb7e5-c4a2-4170-a81e-23a095a8a4c0}</key>
		<dict>
			<key>x</key>
			<string>234.228</string>
			<key>y</key>
			<string>174.118</string>
		</dict>
		<key>{e460b224-8cc1-43ea-9ca1-0deb72d669e0}</key>
		<dict>
			<key>x</key>
			<string>197.78</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{a92f5ab4-2c07-418d-9b2c-531a929207ae}</key>
		<dict>
			<key>x</key>
			<string>197.601</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{0c423024-ae4a-4637-8173-e425c7e21e43}</key>
		<dict>
			<key>x</key>
			<string>165.532</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{b9967492-ca0d-4a5b-a508-ad8c630fe6fa}</key>
		<dict>
			<key>x</key>
			<string>140.209</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{bdfbf7b1-33cb-431e-88ca-f9187025a54d}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>741.897</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>757.241</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{8caa2e0e-0bb8-4ec7-bfab-8ba1f7ff9cb5}</key>
		<dict>
			<key>x1</key>
			<string>78.119</string>
			<key>y1</key>
			<string>705.633</string>
			<key>x2</key>
			<string>78.119</string>
			<key>y2</key>
			<string>689.033</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{5e1401d1-7d6e-4c1b-8c8d-7a9719b5a422}</key>
		<dict>
			<key>x1</key>
			<string>527.478</string>
			<key>y1</key>
			<string>558.132</string>
			<key>x2</key>
			<string>527.478</string>
			<key>y2</key>
			<string>541.702</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ed599779-5179-49be-84b3-ce3fe9955c0e}</key>
		<dict>
			<key>x1</key>
			<string>489.982</string>
			<key>y1</key>
			<string>555.652</string>
			<key>x2</key>
			<string>489.982</string>
			<key>y2</key>
			<string>539.221</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{35a2b497-6c2d-44ec-ab50-bb8555ea411e}</key>
		<dict>
			<key>x1</key>
			<string>446.421</string>
			<key>y1</key>
			<string>599.527</string>
			<key>x2</key>
			<string>446.421</string>
			<key>y2</key>
			<string>614.251</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{fc8f16cf-5e82-42c1-8313-f7e157fe8d75}</key>
		<dict>
			<key>x1</key>
			<string>452.487</string>
			<key>y1</key>
			<string>553.171</string>
			<key>x2</key>
			<string>452.487</string>
			<key>y2</key>
			<string>536.741</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b37a68ce-e0b3-4bd8-ab0c-b962e95413da}</key>
		<dict>
			<key>x1</key>
			<string>422.345</string>
			<key>y1</key>
			<string>560.612</string>
			<key>x2</key>
			<string>422.345</string>
			<key>y2</key>
			<string>546.662</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{0dadf28a-706b-4bf2-8644-61c646c4be7e}</key>
		<dict>
			<key>x1</key>
			<string>399.129</string>
			<key>y1</key>
			<string>555.652</string>
			<key>x2</key>
			<string>399.129</string>
			<key>y2</key>
			<string>541.702</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{0cf7bc7c-a527-4b2c-8957-d9c4fe686141}</key>
		<dict>
			<key>x1</key>
			<string>361.984</string>
			<key>y1</key>
			<string>600.297</string>
			<key>x2</key>
			<string>361.984</string>
			<key>y2</key>
			<string>585.107</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{8069342e-0bd6-470b-93cf-069b1d7604fe}</key>
		<dict>
			<key>x1</key>
			<string>318.952</string>
			<key>y1</key>
			<string>597.2</string>
			<key>x2</key>
			<string>318.952</string>
			<key>y2</key>
			<string>612.391</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{e549832f-7271-42f8-9e5c-15961a243f78}</key>
		<dict>
			<key>x1</key>
			<string>325.017</string>
			<key>y1</key>
			<string>550.861</string>
			<key>x2</key>
			<string>325.017</string>
			<key>y2</key>
			<string>534.881</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{f2862ed0-67b4-4db0-9778-efaf8f754618}</key>
		<dict>
			<key>x1</key>
			<string>294.697</string>
			<key>y1</key>
			<string>553.171</string>
			<key>x2</key>
			<string>294.697</string>
			<key>y2</key>
			<string>537.981</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{962a7893-5500-430e-bb69-99ad978ed9b2}</key>
		<dict>
			<key>x1</key>
			<string>271.481</string>
			<key>y1</key>
			<string>548.211</string>
			<key>x2</key>
			<string>271.481</string>
			<key>y2</key>
			<string>535.501</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{abbbc7a0-61a8-40e6-90ac-4ef58b6753db}</key>
		<dict>
			<key>x1</key>
			<string>234.335</string>
			<key>y1</key>
			<string>600.297</string>
			<key>x2</key>
			<string>234.335</string>
			<key>y2</key>
			<string>585.107</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{392fe328-f440-45ff-8421-d83165a91108}</key>
		<dict>
			<key>x1</key>
			<string>191.303</string>
			<key>y1</key>
			<string>589.759</string>
			<key>x2</key>
			<string>191.303</string>
			<key>y2</key>
			<string>606.19</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f558a197-b433-465b-9105-c9c07fb313bf}</key>
		<dict>
			<key>x1</key>
			<string>191.124</string>
			<key>y1</key>
			<string>544.96</string>
			<key>x2</key>
			<string>191.124</string>
			<key>y2</key>
			<string>560.304</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{c002d71c-b8bc-4a0b-a8d5-7d214bdb1f5a}</key>
		<dict>
			<key>x1</key>
			<string>163.52</string>
			<key>y1</key>
			<string>560.612</string>
			<key>x2</key>
			<string>163.52</string>
			<key>y2</key>
			<string>546.662</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{6b42494b-ee32-445f-916f-3b4b2c35828e}</key>
		<dict>
			<key>x1</key>
			<string>136.776</string>
			<key>y1</key>
			<string>560.612</string>
			<key>x2</key>
			<string>136.776</string>
			<key>y2</key>
			<string>546.662</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{cc51a913-bb06-4f2b-af64-26d5fe374794}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>597.046</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>612.391</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{490c5552-335c-43ad-b0aa-6e317bf48b28}</key>
		<dict>
			<key>x1</key>
			<string>78.119</string>
			<key>y1</key>
			<string>550.861</string>
			<key>x2</key>
			<string>78.119</string>
			<key>y2</key>
			<string>534.881</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{377357a0-8fab-4706-8a5a-35b368faa317}</key>
		<dict>
			<key>x1</key>
			<string>527.478</string>
			<key>y1</key>
			<string>403.36</string>
			<key>x2</key>
			<string>527.478</string>
			<key>y2</key>
			<string>388.17</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{02e55f82-c762-478c-b933-2774ef1d94da}</key>
		<dict>
			<key>x1</key>
			<string>489.982</string>
			<key>y1</key>
			<string>405.841</string>
			<key>x2</key>
			<string>489.982</string>
			<key>y2</key>
			<string>390.03</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{7a73add4-831e-49a8-bcea-1e4beb0e1455}</key>
		<dict>
			<key>x1</key>
			<string>446.421</string>
			<key>y1</key>
			<string>454.676</string>
			<key>x2</key>
			<string>446.421</string>
			<key>y2</key>
			<string>469.4</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{a5dfcb84-5504-49b0-ad9c-c9ff90a57d4c}</key>
		<dict>
			<key>x1</key>
			<string>452.487</string>
			<key>y1</key>
			<string>408.321</string>
			<key>x2</key>
			<string>452.487</string>
			<key>y2</key>
			<string>391.89</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f4e36848-9fc5-4847-b002-f07dfb5f0bc4}</key>
		<dict>
			<key>x1</key>
			<string>422.345</string>
			<key>y1</key>
			<string>415.762</string>
			<key>x2</key>
			<string>422.345</string>
			<key>y2</key>
			<string>401.812</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{f9091517-913c-42ed-a4d4-e32306e98ad9}</key>
		<dict>
			<key>x1</key>
			<string>399.129</string>
			<key>y1</key>
			<string>410.801</string>
			<key>x2</key>
			<string>399.129</string>
			<key>y2</key>
			<string>396.851</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{22940a76-cfc7-405a-ac51-ae42c1467823}</key>
		<dict>
			<key>x1</key>
			<string>361.984</string>
			<key>y1</key>
			<string>455.447</string>
			<key>x2</key>
			<string>361.984</string>
			<key>y2</key>
			<string>440.256</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{1e234bac-05bb-48b1-b191-d28b1898226a}</key>
		<dict>
			<key>x1</key>
			<string>318.952</string>
			<key>y1</key>
			<string>452.35</string>
			<key>x2</key>
			<string>318.952</string>
			<key>y2</key>
			<string>467.54</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{9ff9d4de-f811-4739-9b6d-15277e447899}</key>
		<dict>
			<key>x1</key>
			<string>325.017</string>
			<key>y1</key>
			<string>406.01</string>
			<key>x2</key>
			<string>325.017</string>
			<key>y2</key>
			<string>390.03</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{f11dbdc3-b048-47f3-8d6a-37a35cd54b59}</key>
		<dict>
			<key>x1</key>
			<string>294.697</string>
			<key>y1</key>
			<string>408.321</string>
			<key>x2</key>
			<string>294.697</string>
			<key>y2</key>
			<string>393.13</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{b1fe7c20-40a0-44ea-9783-c22abc7d2a19}</key>
		<dict>
			<key>x1</key>
			<string>271.481</string>
			<key>y1</key>
			<string>403.36</string>
			<key>x2</key>
			<string>271.481</string>
			<key>y2</key>
			<string>390.65</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{bf0493ca-77fb-4c6a-9d3b-e8277b01ec67}</key>
		<dict>
			<key>x1</key>
			<string>234.335</string>
			<key>y1</key>
			<string>455.447</string>
			<key>x2</key>
			<string>234.335</string>
			<key>y2</key>
			<string>440.256</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{b71731a0-22f9-4e29-9f3b-5d7fcefa477d}</key>
		<dict>
			<key>x1</key>
			<string>191.303</string>
			<key>y1</key>
			<string>444.909</string>
			<key>x2</key>
			<string>191.303</string>
			<key>y2</key>
			<string>461.339</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{ea8df74a-ab83-4dbf-8a69-e4602f7a109d}</key>
		<dict>
			<key>x1</key>
			<string>191.124</string>
			<key>y1</key>
			<string>400.109</string>
			<key>x2</key>
			<string>191.124</string>
			<key>y2</key>
			<string>415.453</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{a2ee5c61-774d-4dc8-bbbb-601a70d9b2d4}</key>
		<dict>
			<key>x1</key>
			<string>163.52</string>
			<key>y1</key>
			<string>415.762</string>
			<key>x2</key>
			<string>163.52</string>
			<key>y2</key>
			<string>401.812</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{77c5f047-f4ef-491a-853e-7e9c55678873}</key>
		<dict>
			<key>x1</key>
			<string>136.776</string>
			<key>y1</key>
			<string>415.762</string>
			<key>x2</key>
			<string>136.776</string>
			<key>y2</key>
			<string>401.812</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{d5a34788-3971-429f-acd2-6bf61719e4d0}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>452.196</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>467.54</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{1330ad0d-0a0c-4dd3-931a-780ffa0b0f19}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>400.109</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>415.453</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{22639e04-5bc2-4520-915b-381aa76c328f}</key>
		<dict>
			<key>x1</key>
			<string>522.925</string>
			<key>y1</key>
			<string>257.893</string>
			<key>x2</key>
			<string>522.925</string>
			<key>y2</key>
			<string>272.463</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{e758397d-8be1-4891-8c65-659c02e3877d}</key>
		<dict>
			<key>x1</key>
			<string>492.65</string>
			<key>y1</key>
			<string>260.99</string>
			<key>x2</key>
			<string>492.65</string>
			<key>y2</key>
			<string>245.179</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{401cab1e-df90-4cbc-84ca-8c1209aa0519}</key>
		<dict>
			<key>x1</key>
			<string>470.049</string>
			<key>y1</key>
			<string>258.51</string>
			<key>x2</key>
			<string>470.049</string>
			<key>y2</key>
			<string>243.319</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{0addd892-382e-4463-93b9-a39a6906591c}</key>
		<dict>
			<key>x1</key>
			<string>441.383</string>
			<key>y1</key>
			<string>302.384</string>
			<key>x2</key>
			<string>441.383</string>
			<key>y2</key>
			<string>318.969</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{6a9bc09e-7b24-4d2a-b609-14cb27f07863}</key>
		<dict>
			<key>x1</key>
			<string>447.448</string>
			<key>y1</key>
			<string>256.029</string>
			<key>x2</key>
			<string>447.448</string>
			<key>y2</key>
			<string>242.079</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{38cdde23-a157-487c-89db-ef9a89a5de2d}</key>
		<dict>
			<key>x1</key>
			<string>417.708</string>
			<key>y1</key>
			<string>263.47</string>
			<key>x2</key>
			<string>417.708</string>
			<key>y2</key>
			<string>250.76</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{16b49808-4580-4dbe-b3a1-9650ddbecf0e}</key>
		<dict>
			<key>x1</key>
			<string>394.894</string>
			<key>y1</key>
			<string>268.431</string>
			<key>x2</key>
			<string>394.894</string>
			<key>y2</key>
			<string>253.24</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{6965e4ab-448a-48a3-adcb-074aac7ad0e6}</key>
		<dict>
			<key>x1</key>
			<string>352.504</string>
			<key>y1</key>
			<string>309.979</string>
			<key>x2</key>
			<string>352.504</string>
			<key>y2</key>
			<string>324.549</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{12987b6c-25f6-46c3-ac68-4e60e7767739}</key>
		<dict>
			<key>x1</key>
			<string>316.002</string>
			<key>y1</key>
			<string>302.538</string>
			<key>x2</key>
			<string>316.002</string>
			<key>y2</key>
			<string>318.969</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{03aa6578-20c1-47eb-915b-0244497a4ea4}</key>
		<dict>
			<key>x1</key>
			<string>321.888</string>
			<key>y1</key>
			<string>263.47</string>
			<key>x2</key>
			<string>321.888</string>
			<key>y2</key>
			<string>247.04</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{1293c975-69d0-424a-90e6-28e1584bc1f6}</key>
		<dict>
			<key>x1</key>
			<string>292.54</string>
			<key>y1</key>
			<string>265.95</string>
			<key>x2</key>
			<string>292.54</string>
			<key>y2</key>
			<string>252</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{15566e72-2c97-41c1-bbe7-21c0db25f939}</key>
		<dict>
			<key>x1</key>
			<string>269.939</string>
			<key>y1</key>
			<string>268.431</string>
			<key>x2</key>
			<string>269.939</string>
			<key>y2</key>
			<string>253.24</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{ec6d46f8-e9e5-419f-816a-72c83bb61058}</key>
		<dict>
			<key>x1</key>
			<string>233.777</string>
			<key>y1</key>
			<string>268.431</string>
			<key>x2</key>
			<string>233.777</string>
			<key>y2</key>
			<string>252</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f9916eb9-06fd-4900-aa33-3156a2a58d90}</key>
		<dict>
			<key>x1</key>
			<string>191.551</string>
			<key>y1</key>
			<string>302.384</string>
			<key>x2</key>
			<string>191.551</string>
			<key>y2</key>
			<string>318.969</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{456b0f0c-47ef-4c04-aa2c-b39e625fc237}</key>
		<dict>
			<key>x1</key>
			<string>197.616</string>
			<key>y1</key>
			<string>263.47</string>
			<key>x2</key>
			<string>197.616</string>
			<key>y2</key>
			<string>247.04</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{a197a280-e817-410d-98b4-6927254c6046}</key>
		<dict>
			<key>x1</key>
			<string>169.007</string>
			<key>y1</key>
			<string>265.95</string>
			<key>x2</key>
			<string>169.007</string>
			<key>y2</key>
			<string>252</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{2ef96927-37e3-4e7f-921f-5f57cc10f9d1}</key>
		<dict>
			<key>x1</key>
			<string>147.325</string>
			<key>y1</key>
			<string>268.431</string>
			<key>x2</key>
			<string>147.325</string>
			<key>y2</key>
			<string>253.24</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{fafe09c2-7d56-4880-9fae-b0b27dc71c18}</key>
		<dict>
			<key>x1</key>
			<string>112.632</string>
			<key>y1</key>
			<string>260.99</string>
			<key>x2</key>
			<string>112.632</string>
			<key>y2</key>
			<string>245.179</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{3d050dd7-2a60-4180-8322-ebd7b0fac579}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>304.865</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>320.829</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{bcbe389b-2412-4989-bb25-726b3aa20193}</key>
		<dict>
			<key>x1</key>
			<string>77.94</string>
			<key>y1</key>
			<string>258.51</string>
			<key>x2</key>
			<string>77.94</string>
			<key>y2</key>
			<string>243.319</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{5609533b-e0b5-46ea-b0bf-ea51e8370339}</key>
		<dict>
			<key>x1</key>
			<string>528.233</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>528.233</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{6d4f94a3-a375-47bc-ab6c-1c691154e186}</key>
		<dict>
			<key>x1</key>
			<string>485.607</string>
			<key>y1</key>
			<string>113.042</string>
			<key>x2</key>
			<string>485.607</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{ff9bf122-0012-45b6-9444-46fc86d0a899}</key>
		<dict>
			<key>x1</key>
			<string>448.688</string>
			<key>y1</key>
			<string>162.494</string>
			<key>x2</key>
			<string>448.688</string>
			<key>y2</key>
			<string>177.839</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{1ca2cb48-f2bf-49ee-9e29-de29e72988f9}</key>
		<dict>
			<key>x1</key>
			<string>448.867</string>
			<key>y1</key>
			<string>110.562</string>
			<key>x2</key>
			<string>448.867</string>
			<key>y2</key>
			<string>125.752</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{90b413d4-bae5-4793-9c2a-c74648f108d3}</key>
		<dict>
			<key>x1</key>
			<string>425.047</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>425.047</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{e6f370de-20fa-48e1-b4a1-6f527a4566ca}</key>
		<dict>
			<key>x1</key>
			<string>402.267</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>402.267</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{224f2775-bd05-46c3-90e6-37b0698061ab}</key>
		<dict>
			<key>x1</key>
			<string>365.819</string>
			<key>y1</key>
			<string>173.186</string>
			<key>x2</key>
			<string>365.819</string>
			<key>y2</key>
			<string>156.756</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{387d4d51-52b3-484b-b5d6-96283668c2a9}</key>
		<dict>
			<key>x1</key>
			<string>329.371</string>
			<key>y1</key>
			<string>165.745</string>
			<key>x2</key>
			<string>329.371</string>
			<key>y2</key>
			<string>150.555</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{4f38e79c-b7ed-441f-a076-4ffc6ff1f6a1}</key>
		<dict>
			<key>x1</key>
			<string>329.55</string>
			<key>y1</key>
			<string>116.309</string>
			<key>x2</key>
			<string>329.55</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{80a825ad-9298-4d93-9454-d69280c3d7e9}</key>
		<dict>
			<key>x1</key>
			<string>299.665</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>299.665</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{d2cd9556-27eb-4d50-b882-9fe78673663f}</key>
		<dict>
			<key>x1</key>
			<string>276.885</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>276.885</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{626cb7e5-c4a2-4170-a81e-23a095a8a4c0}</key>
		<dict>
			<key>x1</key>
			<string>240.437</string>
			<key>y1</key>
			<string>173.186</string>
			<key>x2</key>
			<string>240.437</string>
			<key>y2</key>
			<string>156.756</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e460b224-8cc1-43ea-9ca1-0deb72d669e0}</key>
		<dict>
			<key>x1</key>
			<string>203.989</string>
			<key>y1</key>
			<string>165.745</string>
			<key>x2</key>
			<string>203.989</string>
			<key>y2</key>
			<string>150.555</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{a92f5ab4-2c07-418d-9b2c-531a929207ae}</key>
		<dict>
			<key>x1</key>
			<string>204.168</string>
			<key>y1</key>
			<string>116.309</string>
			<key>x2</key>
			<string>204.168</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{0c423024-ae4a-4637-8173-e425c7e21e43}</key>
		<dict>
			<key>x1</key>
			<string>171.741</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>171.741</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{b9967492-ca0d-4a5b-a508-ad8c630fe6fa}</key>
		<dict>
			<key>x1</key>
			<string>146.418</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>146.418</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
	</dict>
</dict>
</plist>