<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>541.205</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>576.784</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{4995b0b3-a36a-484f-838f-98d59c41a00f}</key>
		<dict>
			<key>x</key>
			<string>153.042</string>
			<key>y</key>
			<string>600.732</string>
		</dict>
		<key>{295a8bc3-89cf-45a2-832f-546b1e2cc88b}</key>
		<dict>
			<key>x</key>
			<string>153.042</string>
			<key>y</key>
			<string>566.008</string>
		</dict>
		<key>{b5fbff56-4ed1-484f-993d-a71a2e6d0e71}</key>
		<dict>
			<key>x</key>
			<string>121.441</string>
			<key>y</key>
			<string>563.528</string>
		</dict>
		<key>{17af4de7-c1ed-4791-b479-8cfb78fdacfe}</key>
		<dict>
			<key>x</key>
			<string>96.586</string>
			<key>y</key>
			<string>561.047</string>
		</dict>
		<key>{52bce53e-2c5a-4d44-881d-3bfda59bd25d}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>603.213</string>
		</dict>
		<key>{b40e8c40-662c-480c-ac9e-911862367198}</key>
		<dict>
			<key>x</key>
			<string>71.7314</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{14ce23c7-2a90-4c3a-8a59-7e687e7214f0}</key>
		<dict>
			<key>x</key>
			<string>540.451</string>
			<key>y</key>
			<string>419.669</string>
		</dict>
		<key>{294ddc31-6778-4ced-a89d-57089d71abe9}</key>
		<dict>
			<key>x</key>
			<string>522.138</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{a4d1638e-6d1f-46d4-8faa-74f28047c259}</key>
		<dict>
			<key>x</key>
			<string>492.837</string>
			<key>y</key>
			<string>459.354</string>
		</dict>
		<key>{ab62cb22-3c4d-468d-a4f1-730640739c74}</key>
		<dict>
			<key>x</key>
			<string>463.536</string>
			<key>y</key>
			<string>454.394</string>
		</dict>
		<key>{4c3fcb78-d64d-495e-ae7d-bcdc5e7c50df}</key>
		<dict>
			<key>x</key>
			<string>463.357</string>
			<key>y</key>
			<string>409.748</string>
		</dict>
		<key>{68415d5a-2102-4192-8b6d-a03e58068f6c}</key>
		<dict>
			<key>x</key>
			<string>438.297</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{02bb3be8-177c-43a6-b866-b6b7082b7c0d}</key>
		<dict>
			<key>x</key>
			<string>419.984</string>
			<key>y</key>
			<string>407.268</string>
		</dict>
		<key>{3c846c72-b69e-4119-93f1-9b58f95fcefd}</key>
		<dict>
			<key>x</key>
			<string>390.682</string>
			<key>y</key>
			<string>459.354</string>
		</dict>
		<key>{7049988d-9838-4cd5-962f-81f69dfd8f2c}</key>
		<dict>
			<key>x</key>
			<string>361.381</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{c085ef12-7f7f-40a5-84c4-442e5c4445ac}</key>
		<dict>
			<key>x</key>
			<string>361.202</string>
			<key>y</key>
			<string>402.307</string>
		</dict>
		<key>{17669fd9-8451-47e7-a5de-e80aee12875b}</key>
		<dict>
			<key>x</key>
			<string>332.645</string>
			<key>y</key>
			<string>419.669</string>
		</dict>
		<key>{35cf8d69-b0d3-44a5-9737-bc2ad2a78fd3}</key>
		<dict>
			<key>x</key>
			<string>310.834</string>
			<key>y</key>
			<string>419.669</string>
		</dict>
		<key>{2723fd64-0593-4f73-b6ed-50a1ef1f5c15}</key>
		<dict>
			<key>x</key>
			<string>262.671</string>
			<key>y</key>
			<string>454.394</string>
		</dict>
		<key>{08df908a-d80e-4710-ab61-e3794c66c362}</key>
		<dict>
			<key>x</key>
			<string>262.671</string>
			<key>y</key>
			<string>409.748</string>
		</dict>
		<key>{b8edfa2e-b0e4-4c15-b1df-257a860a42dd}</key>
		<dict>
			<key>x</key>
			<string>226.927</string>
			<key>y</key>
			<string>407.268</string>
		</dict>
		<key>{ce0283ff-8e53-40ed-9707-c81e53ba4ec3}</key>
		<dict>
			<key>x</key>
			<string>197.929</string>
			<key>y</key>
			<string>409.748</string>
		</dict>
		<key>{c32cdefe-8c26-4bc7-899a-00f91ba3e623}</key>
		<dict>
			<key>x</key>
			<string>168.753</string>
			<key>y</key>
			<string>456.874</string>
		</dict>
		<key>{04b722a1-0539-4d06-bf33-733137ca0bd9}</key>
		<dict>
			<key>x</key>
			<string>168.932</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{ca504d8c-d507-4830-a080-11731999fe2e}</key>
		<dict>
			<key>x</key>
			<string>144.611</string>
			<key>y</key>
			<string>419.669</string>
		</dict>
		<key>{63af7551-d155-4365-8ced-1244a8fddfc9}</key>
		<dict>
			<key>x</key>
			<string>127.216</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{68863c46-464b-4afa-9c73-02e4e6d60277}</key>
		<dict>
			<key>x</key>
			<string>99.3843</string>
			<key>y</key>
			<string>459.354</string>
		</dict>
		<key>{cef83832-dd41-417d-b87d-ee8a3347bc17}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>454.394</string>
		</dict>
		<key>{48de80fe-69ae-4b4c-b828-254b825fbe78}</key>
		<dict>
			<key>x</key>
			<string>71.3734</string>
			<key>y</key>
			<string>409.748</string>
		</dict>
		<key>{caa7fd68-b1e9-4e82-a54e-776b822c8fdb}</key>
		<dict>
			<key>x</key>
			<string>540.757</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{f75bf133-c627-4a4a-9c47-fd19a1ae6c70}</key>
		<dict>
			<key>x</key>
			<string>522.75</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{19f77eb5-d77c-44b7-83ae-5ce2fa0732fa}</key>
		<dict>
			<key>x</key>
			<string>493.938</string>
			<key>y</key>
			<string>313.016</string>
		</dict>
		<key>{7a4bf707-27b5-414b-8481-082922c28273}</key>
		<dict>
			<key>x</key>
			<string>465.126</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{537e4f72-b372-4c94-862d-a05b677290a8}</key>
		<dict>
			<key>x</key>
			<string>464.947</string>
			<key>y</key>
			<string>255.969</string>
		</dict>
		<key>{c1e6a452-c037-4b05-b2fb-c20023057a8c}</key>
		<dict>
			<key>x</key>
			<string>436.768</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{4615cf19-b2a7-4cf6-a684-4395797484a5}</key>
		<dict>
			<key>x</key>
			<string>415.336</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{801ffba2-511e-42ce-8861-d26eac786147}</key>
		<dict>
			<key>x</key>
			<string>368.006</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{1cb35df5-3f0d-4500-95d5-9669b1c75a63}</key>
		<dict>
			<key>x</key>
			<string>368.006</string>
			<key>y</key>
			<string>255.969</string>
		</dict>
		<key>{0268fc11-d8bf-48b6-ba65-5b3936c88c93}</key>
		<dict>
			<key>x</key>
			<string>332.59</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{f8199765-4b10-43fa-b84e-38a76e55c1e0}</key>
		<dict>
			<key>x</key>
			<string>303.921</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{967ce688-75ae-4b0a-9d81-74838f944601}</key>
		<dict>
			<key>x</key>
			<string>286.003</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{cf688d78-d967-46f8-9e7b-9d8e11feb19f}</key>
		<dict>
			<key>x</key>
			<string>267.906</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{848d9157-9df2-48d7-a3e2-59563fb2a8b3}</key>
		<dict>
			<key>x</key>
			<string>268.085</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{d5c0bbd3-8a6b-49e8-87be-7d4f021fac05}</key>
		<dict>
			<key>x</key>
			<string>243.028</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{8d02941f-db04-4c3c-9eb0-aea24f1b6b00}</key>
		<dict>
			<key>x</key>
			<string>224.897</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{61893ab9-2918-430a-b821-d36e028d83bb}</key>
		<dict>
			<key>x</key>
			<string>195.887</string>
			<key>y</key>
			<string>310.535</string>
		</dict>
		<key>{fa779f58-a6ab-4405-a4ef-51cf5d53400b}</key>
		<dict>
			<key>x</key>
			<string>166.877</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{74df7db5-6218-4953-92eb-9903340b5523}</key>
		<dict>
			<key>x</key>
			<string>166.877</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{190d69be-057e-4e26-a39c-ce67b1ca8760}</key>
		<dict>
			<key>x</key>
			<string>143.13</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{36be1849-2beb-41bb-94bf-1a7db3e686f8}</key>
		<dict>
			<key>x</key>
			<string>126.131</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{dc16a13a-20a7-4d17-a6f6-470302ff7058}</key>
		<dict>
			<key>x</key>
			<string>98.931</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{865f77d1-ba63-47d4-8e75-3d042ddac84c}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{72db2f1c-f656-485e-9d19-b0eb608b41a1}</key>
		<dict>
			<key>x</key>
			<string>71.7314</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{080b41ec-096f-404b-81f2-ddee097b0a40}</key>
		<dict>
			<key>x</key>
			<string>540.879</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{dacaa21b-c8d1-4426-8f1c-4c3b336b85aa}</key>
		<dict>
			<key>x</key>
			<string>522.992</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{83a66b3c-c1b2-47c2-adfe-59899d75a79f}</key>
		<dict>
			<key>x</key>
			<string>494.375</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{623345c1-d4b4-4bee-b8b9-1dbde02f3499}</key>
		<dict>
			<key>x</key>
			<string>465.578</string>
			<key>y</key>
			<string>159.236</string>
		</dict>
		<key>{7ada3803-2e7e-4a90-9d66-87ba17cc8e1d}</key>
		<dict>
			<key>x</key>
			<string>465.757</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{50535583-44a6-4d38-9c04-da956324d432}</key>
		<dict>
			<key>x</key>
			<string>430.419</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{bde21626-a663-4fa7-9f81-878af96fb2e6}</key>
		<dict>
			<key>x</key>
			<string>402.006</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{6cc49372-52cf-4783-9a59-05197a2198c4}</key>
		<dict>
			<key>x</key>
			<string>373.415</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{7f4a19d2-5693-433d-a92e-8b9e7ef7e1d1}</key>
		<dict>
			<key>x</key>
			<string>373.594</string>
			<key>y</key>
			<string>109.63</string>
		</dict>
		<key>{5ba40316-3811-46fc-bffb-23ecf993a1a1}</key>
		<dict>
			<key>x</key>
			<string>348.693</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{bae5b6f9-86a1-4f3c-b702-69e1475e03d0}</key>
		<dict>
			<key>x</key>
			<string>330.717</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{8f7e2d07-a110-42fd-8c29-1a0530e319ed}</key>
		<dict>
			<key>x</key>
			<string>301.956</string>
			<key>y</key>
			<string>174.118</string>
		</dict>
		<key>{45585aa7-f8ba-4eff-a42d-6f605ec86515}</key>
		<dict>
			<key>x</key>
			<string>273.195</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{f4b6987f-0620-4ce3-b97a-d1bbada69556}</key>
		<dict>
			<key>x</key>
			<string>273.016</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{9d126c6d-9839-468a-a608-e610ca260604}</key>
		<dict>
			<key>x</key>
			<string>248.294</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{52db41ce-fd75-4c01-9753-2b9a6d17c443}</key>
		<dict>
			<key>x</key>
			<string>230.319</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{5d6b5e53-108c-4e2c-b3a2-808016877dc2}</key>
		<dict>
			<key>x</key>
			<string>201.558</string>
			<key>y</key>
			<string>174.118</string>
		</dict>
		<key>{8449dc9b-eb2d-4d87-995b-35ae998d7bf2}</key>
		<dict>
			<key>x</key>
			<string>172.797</string>
			<key>y</key>
			<string>166.677</string>
		</dict>
		<key>{0409704c-9205-4329-8ad5-45dfa8a7f22f}</key>
		<dict>
			<key>x</key>
			<string>172.618</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{5a953d2c-be21-4161-8650-af4375e2ff5a}</key>
		<dict>
			<key>x</key>
			<string>146.497</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{18cf67d5-fcef-4e2f-86c6-72409066ccc6}</key>
		<dict>
			<key>x</key>
			<string>127.123</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{4995b0b3-a36a-484f-838f-98d59c41a00f}</key>
		<dict>
			<key>x1</key>
			<string>153.364</string>
			<key>y1</key>
			<string>601.51</string>
			<key>x2</key>
			<string>153.364</string>
			<key>y2</key>
			<string>616.854</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{295a8bc3-89cf-45a2-832f-546b1e2cc88b}</key>
		<dict>
			<key>x1</key>
			<string>159.608</string>
			<key>y1</key>
			<string>565.246</string>
			<key>x2</key>
			<string>159.608</string>
			<key>y2</key>
			<string>548.646</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b5fbff56-4ed1-484f-993d-a71a2e6d0e71}</key>
		<dict>
			<key>x1</key>
			<string>127.649</string>
			<key>y1</key>
			<string>562.596</string>
			<key>x2</key>
			<string>127.649</string>
			<key>y2</key>
			<string>546.165</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{17af4de7-c1ed-4791-b479-8cfb78fdacfe}</key>
		<dict>
			<key>x1</key>
			<string>102.795</string>
			<key>y1</key>
			<string>560.116</string>
			<key>x2</key>
			<string>102.795</string>
			<key>y2</key>
			<string>543.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{52bce53e-2c5a-4d44-881d-3bfda59bd25d}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>603.99</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>618.715</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{b40e8c40-662c-480c-ac9e-911862367198}</key>
		<dict>
			<key>x1</key>
			<string>77.94</string>
			<key>y1</key>
			<string>557.635</string>
			<key>x2</key>
			<string>77.94</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{14ce23c7-2a90-4c3a-8a59-7e687e7214f0}</key>
		<dict>
			<key>x1</key>
			<string>546.66</string>
			<key>y1</key>
			<string>418.738</string>
			<key>x2</key>
			<string>546.66</string>
			<key>y2</key>
			<string>404.787</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{294ddc31-6778-4ced-a89d-57089d71abe9}</key>
		<dict>
			<key>x1</key>
			<string>528.347</string>
			<key>y1</key>
			<string>413.777</string>
			<key>x2</key>
			<string>528.347</string>
			<key>y2</key>
			<string>399.827</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{a4d1638e-6d1f-46d4-8faa-74f28047c259}</key>
		<dict>
			<key>x1</key>
			<string>499.045</string>
			<key>y1</key>
			<string>458.423</string>
			<key>x2</key>
			<string>499.045</string>
			<key>y2</key>
			<string>443.232</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{ab62cb22-3c4d-468d-a4f1-730640739c74}</key>
		<dict>
			<key>x1</key>
			<string>463.858</string>
			<key>y1</key>
			<string>455.325</string>
			<key>x2</key>
			<string>463.858</string>
			<key>y2</key>
			<string>470.516</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{4c3fcb78-d64d-495e-ae7d-bcdc5e7c50df}</key>
		<dict>
			<key>x1</key>
			<string>469.923</string>
			<key>y1</key>
			<string>408.986</string>
			<key>x2</key>
			<string>469.923</string>
			<key>y2</key>
			<string>393.006</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{68415d5a-2102-4192-8b6d-a03e58068f6c}</key>
		<dict>
			<key>x1</key>
			<string>444.505</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>444.505</string>
			<key>y2</key>
			<string>396.106</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{02bb3be8-177c-43a6-b866-b6b7082b7c0d}</key>
		<dict>
			<key>x1</key>
			<string>426.192</string>
			<key>y1</key>
			<string>406.336</string>
			<key>x2</key>
			<string>426.192</string>
			<key>y2</key>
			<string>393.626</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{3c846c72-b69e-4119-93f1-9b58f95fcefd}</key>
		<dict>
			<key>x1</key>
			<string>396.891</string>
			<key>y1</key>
			<string>458.423</string>
			<key>x2</key>
			<string>396.891</string>
			<key>y2</key>
			<string>443.232</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{7049988d-9838-4cd5-962f-81f69dfd8f2c}</key>
		<dict>
			<key>x1</key>
			<string>361.704</string>
			<key>y1</key>
			<string>447.884</string>
			<key>x2</key>
			<string>361.704</string>
			<key>y2</key>
			<string>464.315</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{c085ef12-7f7f-40a5-84c4-442e5c4445ac}</key>
		<dict>
			<key>x1</key>
			<string>361.524</string>
			<key>y1</key>
			<string>403.085</string>
			<key>x2</key>
			<string>361.524</string>
			<key>y2</key>
			<string>418.429</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{17669fd9-8451-47e7-a5de-e80aee12875b}</key>
		<dict>
			<key>x1</key>
			<string>338.853</string>
			<key>y1</key>
			<string>418.738</string>
			<key>x2</key>
			<string>338.853</string>
			<key>y2</key>
			<string>404.787</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{35cf8d69-b0d3-44a5-9737-bc2ad2a78fd3}</key>
		<dict>
			<key>x1</key>
			<string>317.042</string>
			<key>y1</key>
			<string>418.738</string>
			<key>x2</key>
			<string>317.042</string>
			<key>y2</key>
			<string>404.787</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{2723fd64-0593-4f73-b6ed-50a1ef1f5c15}</key>
		<dict>
			<key>x1</key>
			<string>262.993</string>
			<key>y1</key>
			<string>455.172</string>
			<key>x2</key>
			<string>262.993</string>
			<key>y2</key>
			<string>470.516</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{08df908a-d80e-4710-ab61-e3794c66c362}</key>
		<dict>
			<key>x1</key>
			<string>269.238</string>
			<key>y1</key>
			<string>408.986</string>
			<key>x2</key>
			<string>269.238</string>
			<key>y2</key>
			<string>393.006</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{b8edfa2e-b0e4-4c15-b1df-257a860a42dd}</key>
		<dict>
			<key>x1</key>
			<string>233.135</string>
			<key>y1</key>
			<string>406.336</string>
			<key>x2</key>
			<string>233.135</string>
			<key>y2</key>
			<string>391.146</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{ce0283ff-8e53-40ed-9707-c81e53ba4ec3}</key>
		<dict>
			<key>x1</key>
			<string>204.138</string>
			<key>y1</key>
			<string>408.816</string>
			<key>x2</key>
			<string>204.138</string>
			<key>y2</key>
			<string>393.006</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{c32cdefe-8c26-4bc7-899a-00f91ba3e623}</key>
		<dict>
			<key>x1</key>
			<string>169.075</string>
			<key>y1</key>
			<string>457.652</string>
			<key>x2</key>
			<string>169.075</string>
			<key>y2</key>
			<string>472.376</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{04b722a1-0539-4d06-bf33-733137ca0bd9}</key>
		<dict>
			<key>x1</key>
			<string>175.14</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>175.14</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ca504d8c-d507-4830-a080-11731999fe2e}</key>
		<dict>
			<key>x1</key>
			<string>150.82</string>
			<key>y1</key>
			<string>418.738</string>
			<key>x2</key>
			<string>150.82</string>
			<key>y2</key>
			<string>404.787</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{63af7551-d155-4365-8ced-1244a8fddfc9}</key>
		<dict>
			<key>x1</key>
			<string>133.425</string>
			<key>y1</key>
			<string>413.777</string>
			<key>x2</key>
			<string>133.425</string>
			<key>y2</key>
			<string>399.827</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{68863c46-464b-4afa-9c73-02e4e6d60277}</key>
		<dict>
			<key>x1</key>
			<string>105.593</string>
			<key>y1</key>
			<string>458.423</string>
			<key>x2</key>
			<string>105.593</string>
			<key>y2</key>
			<string>443.232</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{cef83832-dd41-417d-b87d-ee8a3347bc17}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>455.325</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>470.516</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{48de80fe-69ae-4b4c-b828-254b825fbe78}</key>
		<dict>
			<key>x1</key>
			<string>77.94</string>
			<key>y1</key>
			<string>408.986</string>
			<key>x2</key>
			<string>77.94</string>
			<key>y2</key>
			<string>393.006</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{caa7fd68-b1e9-4e82-a54e-776b822c8fdb}</key>
		<dict>
			<key>x1</key>
			<string>546.966</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>546.966</string>
			<key>y2</key>
			<string>249.768</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{f75bf133-c627-4a4a-9c47-fd19a1ae6c70}</key>
		<dict>
			<key>x1</key>
			<string>528.958</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>528.958</string>
			<key>y2</key>
			<string>247.287</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{19f77eb5-d77c-44b7-83ae-5ce2fa0732fa}</key>
		<dict>
			<key>x1</key>
			<string>500.146</string>
			<key>y1</key>
			<string>312.084</string>
			<key>x2</key>
			<string>500.146</string>
			<key>y2</key>
			<string>296.894</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{7a4bf707-27b5-414b-8481-082922c28273}</key>
		<dict>
			<key>x1</key>
			<string>465.448</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>465.448</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{537e4f72-b372-4c94-862d-a05b677290a8}</key>
		<dict>
			<key>x1</key>
			<string>465.269</string>
			<key>y1</key>
			<string>256.746</string>
			<key>x2</key>
			<string>465.269</string>
			<key>y2</key>
			<string>272.091</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{c1e6a452-c037-4b05-b2fb-c20023057a8c}</key>
		<dict>
			<key>x1</key>
			<string>442.976</string>
			<key>y1</key>
			<string>272.399</string>
			<key>x2</key>
			<string>442.976</string>
			<key>y2</key>
			<string>258.449</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{4615cf19-b2a7-4cf6-a684-4395797484a5}</key>
		<dict>
			<key>x1</key>
			<string>421.544</string>
			<key>y1</key>
			<string>272.399</string>
			<key>x2</key>
			<string>421.544</string>
			<key>y2</key>
			<string>258.449</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{801ffba2-511e-42ce-8861-d26eac786147}</key>
		<dict>
			<key>x1</key>
			<string>368.328</string>
			<key>y1</key>
			<string>308.833</string>
			<key>x2</key>
			<string>368.328</string>
			<key>y2</key>
			<string>324.177</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{1cb35df5-3f0d-4500-95d5-9669b1c75a63}</key>
		<dict>
			<key>x1</key>
			<string>368.328</string>
			<key>y1</key>
			<string>256.746</string>
			<key>x2</key>
			<string>368.328</string>
			<key>y2</key>
			<string>272.091</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{0268fc11-d8bf-48b6-ba65-5b3936c88c93}</key>
		<dict>
			<key>x1</key>
			<string>332.913</string>
			<key>y1</key>
			<string>259.381</string>
			<key>x2</key>
			<string>332.913</string>
			<key>y2</key>
			<string>273.951</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{f8199765-4b10-43fa-b84e-38a76e55c1e0}</key>
		<dict>
			<key>x1</key>
			<string>310.13</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>310.13</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{967ce688-75ae-4b0a-9d81-74838f944601}</key>
		<dict>
			<key>x1</key>
			<string>292.212</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>292.212</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{cf688d78-d967-46f8-9e7b-9d8e11feb19f}</key>
		<dict>
			<key>x1</key>
			<string>268.229</string>
			<key>y1</key>
			<string>303.872</string>
			<key>x2</key>
			<string>268.229</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{848d9157-9df2-48d7-a3e2-59563fb2a8b3}</key>
		<dict>
			<key>x1</key>
			<string>274.294</string>
			<key>y1</key>
			<string>257.517</string>
			<key>x2</key>
			<string>274.294</string>
			<key>y2</key>
			<string>243.567</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{d5c0bbd3-8a6b-49e8-87be-7d4f021fac05}</key>
		<dict>
			<key>x1</key>
			<string>249.237</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>249.237</string>
			<key>y2</key>
			<string>252.248</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{8d02941f-db04-4c3c-9eb0-aea24f1b6b00}</key>
		<dict>
			<key>x1</key>
			<string>231.106</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>231.106</string>
			<key>y2</key>
			<string>254.728</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{61893ab9-2918-430a-b821-d36e028d83bb}</key>
		<dict>
			<key>x1</key>
			<string>196.209</string>
			<key>y1</key>
			<string>311.467</string>
			<key>x2</key>
			<string>196.209</string>
			<key>y2</key>
			<string>326.037</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{fa779f58-a6ab-4405-a4ef-51cf5d53400b}</key>
		<dict>
			<key>x1</key>
			<string>167.199</string>
			<key>y1</key>
			<string>304.026</string>
			<key>x2</key>
			<string>167.199</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{74df7db5-6218-4953-92eb-9903340b5523}</key>
		<dict>
			<key>x1</key>
			<string>173.085</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>173.085</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{190d69be-057e-4e26-a39c-ce67b1ca8760}</key>
		<dict>
			<key>x1</key>
			<string>149.339</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>149.339</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{36be1849-2beb-41bb-94bf-1a7db3e686f8}</key>
		<dict>
			<key>x1</key>
			<string>132.339</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>132.339</string>
			<key>y2</key>
			<string>254.728</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{dc16a13a-20a7-4d17-a6f6-470302ff7058}</key>
		<dict>
			<key>x1</key>
			<string>105.14</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>105.14</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{865f77d1-ba63-47d4-8e75-3d042ddac84c}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>303.872</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{72db2f1c-f656-485e-9d19-b0eb608b41a1}</key>
		<dict>
			<key>x1</key>
			<string>77.94</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>77.94</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{080b41ec-096f-404b-81f2-ddee097b0a40}</key>
		<dict>
			<key>x1</key>
			<string>547.087</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>547.087</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{dacaa21b-c8d1-4426-8f1c-4c3b336b85aa}</key>
		<dict>
			<key>x1</key>
			<string>529.201</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>529.201</string>
			<key>y2</key>
			<string>108.39</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{83a66b3c-c1b2-47c2-adfe-59899d75a79f}</key>
		<dict>
			<key>x1</key>
			<string>500.583</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>500.583</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{623345c1-d4b4-4bee-b8b9-1dbde02f3499}</key>
		<dict>
			<key>x1</key>
			<string>465.9</string>
			<key>y1</key>
			<string>160.014</string>
			<key>x2</key>
			<string>465.9</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{7ada3803-2e7e-4a90-9d66-87ba17cc8e1d}</key>
		<dict>
			<key>x1</key>
			<string>471.965</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>471.965</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{50535583-44a6-4d38-9c04-da956324d432}</key>
		<dict>
			<key>x1</key>
			<string>436.627</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>436.627</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{bde21626-a663-4fa7-9f81-878af96fb2e6}</key>
		<dict>
			<key>x1</key>
			<string>402.329</string>
			<key>y1</key>
			<string>113.042</string>
			<key>x2</key>
			<string>402.329</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{6cc49372-52cf-4783-9a59-05197a2198c4}</key>
		<dict>
			<key>x1</key>
			<string>373.738</string>
			<key>y1</key>
			<string>162.494</string>
			<key>x2</key>
			<string>373.738</string>
			<key>y2</key>
			<string>177.839</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{7f4a19d2-5693-433d-a92e-8b9e7ef7e1d1}</key>
		<dict>
			<key>x1</key>
			<string>373.917</string>
			<key>y1</key>
			<string>110.562</string>
			<key>x2</key>
			<string>373.917</string>
			<key>y2</key>
			<string>125.752</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{5ba40316-3811-46fc-bffb-23ecf993a1a1}</key>
		<dict>
			<key>x1</key>
			<string>354.902</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>354.902</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{bae5b6f9-86a1-4f3c-b702-69e1475e03d0}</key>
		<dict>
			<key>x1</key>
			<string>336.926</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>336.926</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{8f7e2d07-a110-42fd-8c29-1a0530e319ed}</key>
		<dict>
			<key>x1</key>
			<string>308.165</string>
			<key>y1</key>
			<string>173.186</string>
			<key>x2</key>
			<string>308.165</string>
			<key>y2</key>
			<string>156.756</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{45585aa7-f8ba-4eff-a42d-6f605ec86515}</key>
		<dict>
			<key>x1</key>
			<string>279.404</string>
			<key>y1</key>
			<string>165.745</string>
			<key>x2</key>
			<string>279.404</string>
			<key>y2</key>
			<string>150.555</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{f4b6987f-0620-4ce3-b97a-d1bbada69556}</key>
		<dict>
			<key>x1</key>
			<string>279.583</string>
			<key>y1</key>
			<string>116.309</string>
			<key>x2</key>
			<string>279.583</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{9d126c6d-9839-468a-a608-e610ca260604}</key>
		<dict>
			<key>x1</key>
			<string>254.503</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>254.503</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{52db41ce-fd75-4c01-9753-2b9a6d17c443}</key>
		<dict>
			<key>x1</key>
			<string>236.527</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>236.527</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{5d6b5e53-108c-4e2c-b3a2-808016877dc2}</key>
		<dict>
			<key>x1</key>
			<string>207.766</string>
			<key>y1</key>
			<string>173.186</string>
			<key>x2</key>
			<string>207.766</string>
			<key>y2</key>
			<string>156.756</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{8449dc9b-eb2d-4d87-995b-35ae998d7bf2}</key>
		<dict>
			<key>x1</key>
			<string>179.005</string>
			<key>y1</key>
			<string>165.745</string>
			<key>x2</key>
			<string>179.005</string>
			<key>y2</key>
			<string>150.555</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{0409704c-9205-4329-8ad5-45dfa8a7f22f}</key>
		<dict>
			<key>x1</key>
			<string>179.184</string>
			<key>y1</key>
			<string>116.309</string>
			<key>x2</key>
			<string>179.184</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{5a953d2c-be21-4161-8650-af4375e2ff5a}</key>
		<dict>
			<key>x1</key>
			<string>152.706</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>152.706</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{18cf67d5-fcef-4e2f-86c6-72409066ccc6}</key>
		<dict>
			<key>x1</key>
			<string>133.331</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>133.331</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
	</dict>
</dict>
</plist>