<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributes</key>
	<dict>
		<key>time</key>
		<dict>
			<key>beats</key>
			<string>4</string>
			<key>per_minute</key>
			<string>80</string>
			<key>beat_type</key>
			<string>4</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{21385997-a678-4f19-8781-d53372bb850c}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{3de03d2a-bb25-45dd-9906-f14542e827ab}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{fd2930b0-4f66-4036-baf0-51175a405702}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{e20bcf49-f4b5-4e74-9efe-b33ae74827e6}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{4dc217a8-3a3b-40ce-a983-19f97455e065}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>alter</key>
			<string>-1</string>
		</dict>
		<key>{402665a0-40da-4654-a2a7-1e93e70dad65}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{1a1b5313-140d-4a1c-b833-311ae7acde7e}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{51ffe44e-b39e-4c5c-a3a9-a3ac0ed35263}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{3599d0bb-3b49-4c3e-bc53-6e4eb6ceb9ea}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{ba155a7d-af72-4fba-9b03-5ede3dfc53aa}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{e731e1fe-77af-49a1-9718-19aee4227c2b}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{c9d9bf14-ec54-4c33-9ba9-f5ccb66394af}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{e194ed5a-3fd5-4571-8221-a9bd9da8d4b4}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>alter</key>
			<string>-1</string>
		</dict>
		<key>{38db421c-33ad-43d7-a203-fcc6e2d8ccc2}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{f3abea98-5a61-403e-a3ee-35ed438913b6}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{38ff463b-de5f-4723-8fdf-a4c5699cfc32}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{e746727f-853c-4bee-8e7f-35f56e500e6f}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{85726568-d02c-4f48-af82-c748108e7d55}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{e16d70c4-7616-4723-843f-282bafad819d}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{193197a1-2d84-491c-a647-73ab5835b2fb}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{d22f9a17-066f-4e0a-83d9-4c86b3f071cd}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{7b46a43d-2198-4f00-b310-441ab5c28735}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{e014bdd6-1c1c-48b8-9bf4-77f645e809ab}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{60e0f4d5-1b4d-41af-8f10-6598a1dca201}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{4e1a5938-3033-4b11-b14d-1df65e8cdafb}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{951cee32-4215-411a-b9e4-2d354478c58a}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{19f9cbe2-85c2-4989-ab73-2e13545ac007}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>alter</key>
			<string>-1</string>
		</dict>
		<key>{0e25e4d2-d639-44ea-a0b6-a860ce43d31e}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{652b137f-a621-4d87-9512-c3af751e8dd4}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{e92d8913-d143-4193-80b9-3cec87a2d0b6}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{b20aee90-1ee3-49ed-afd1-13e3baa19127}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{5f45a1a5-3d67-4110-9573-a785ae5d1c40}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{55c94475-47a5-462a-a3bf-ca3315ca7db3}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{c3051963-3012-45af-aebe-82bb984b16cb}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{45dbeb40-e37f-4144-aae8-65ea63629975}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>alter</key>
			<string>-1</string>
		</dict>
		<key>{d516b351-004a-483c-9d92-4ae25d0220a3}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{d93b3b56-9102-48a7-9a18-7bd78181302d}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{67454d36-f3a1-406e-b6fc-895ccabe361c}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{235baa49-39e3-4abb-910a-6c35f4f16f89}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{55f98095-0251-420f-9bdd-038d57ad8422}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{49478c3b-655d-451a-b2f5-ab699eb76912}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{dbae866d-b103-4bc5-9e17-07aa6aa9c072}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{69ad0da7-1617-4c9e-ae59-39e7dfd072dd}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{0ea11630-3a3c-41d6-b193-0b5f711a3df6}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>alter</key>
			<string>-1</string>
		</dict>
		<key>{6a6548a1-0afe-4619-b32d-23132dc0348e}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{e40d3dac-bd60-42ab-8324-bd0c858f53a9}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
	</dict>
	<key>events</key>
	<dict>
		<key>0</key>
		<dict>
			<key>elid</key>
			<string>0</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>0</string>
			<key>notes</key>
			<string>{21385997-a678-4f19-8781-d53372bb850c}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>1</key>
		<dict>
			<key>elid</key>
			<string>1</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>500</string>
			<key>notes</key>
			<string>{3de03d2a-bb25-45dd-9906-f14542e827ab}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>2</key>
		<dict>
			<key>elid</key>
			<string>2</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>1000</string>
			<key>notes</key>
			<string>{fd2930b0-4f66-4036-baf0-51175a405702}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>3</key>
		<dict>
			<key>elid</key>
			<string>3</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>1500</string>
			<key>notes</key>
			<string>{e20bcf49-f4b5-4e74-9efe-b33ae74827e6}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>4</key>
		<dict>
			<key>elid</key>
			<string>4</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>2000</string>
			<key>notes</key>
			<string>{4dc217a8-3a3b-40ce-a983-19f97455e065}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>5</key>
		<dict>
			<key>elid</key>
			<string>5</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>2500</string>
			<key>notes</key>
			<string>{402665a0-40da-4654-a2a7-1e93e70dad65}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>6</key>
		<dict>
			<key>elid</key>
			<string>6</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>3000</string>
			<key>notes</key>
			<string>{1a1b5313-140d-4a1c-b833-311ae7acde7e}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>7</key>
		<dict>
			<key>elid</key>
			<string>7</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>3500</string>
			<key>notes</key>
			<string>{51ffe44e-b39e-4c5c-a3a9-a3ac0ed35263}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>8</key>
		<dict>
			<key>elid</key>
			<string>8</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>4000</string>
			<key>notes</key>
			<string>{3599d0bb-3b49-4c3e-bc53-6e4eb6ceb9ea}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>9</key>
		<dict>
			<key>elid</key>
			<string>9</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>4500</string>
			<key>notes</key>
			<string>{ba155a7d-af72-4fba-9b03-5ede3dfc53aa}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>10</key>
		<dict>
			<key>elid</key>
			<string>10</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>5000</string>
			<key>notes</key>
			<string>{e731e1fe-77af-49a1-9718-19aee4227c2b}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>11</key>
		<dict>
			<key>elid</key>
			<string>11</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>5500</string>
			<key>notes</key>
			<string>{c9d9bf14-ec54-4c33-9ba9-f5ccb66394af}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>12</key>
		<dict>
			<key>elid</key>
			<string>12</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>6000</string>
			<key>notes</key>
			<string>{e194ed5a-3fd5-4571-8221-a9bd9da8d4b4}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>13</key>
		<dict>
			<key>elid</key>
			<string>13</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>6500</string>
			<key>notes</key>
			<string>{38db421c-33ad-43d7-a203-fcc6e2d8ccc2}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>14</key>
		<dict>
			<key>elid</key>
			<string>14</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>7000</string>
			<key>notes</key>
			<string>{f3abea98-5a61-403e-a3ee-35ed438913b6}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>15</key>
		<dict>
			<key>elid</key>
			<string>15</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>7500</string>
			<key>notes</key>
			<string>{38ff463b-de5f-4723-8fdf-a4c5699cfc32}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>16</key>
		<dict>
			<key>elid</key>
			<string>16</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>8000</string>
			<key>notes</key>
			<string>{e746727f-853c-4bee-8e7f-35f56e500e6f}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>17</key>
		<dict>
			<key>elid</key>
			<string>17</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>8500</string>
			<key>notes</key>
			<string>{85726568-d02c-4f48-af82-c748108e7d55}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>18</key>
		<dict>
			<key>elid</key>
			<string>18</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>9000</string>
			<key>notes</key>
			<string>{e16d70c4-7616-4723-843f-282bafad819d}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>19</key>
		<dict>
			<key>elid</key>
			<string>20</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>10000</string>
			<key>notes</key>
			<string>{193197a1-2d84-491c-a647-73ab5835b2fb}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>20</key>
		<dict>
			<key>elid</key>
			<string>21</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>10500</string>
			<key>notes</key>
			<string>{d22f9a17-066f-4e0a-83d9-4c86b3f071cd}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>21</key>
		<dict>
			<key>elid</key>
			<string>22</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>11000</string>
			<key>notes</key>
			<string>{7b46a43d-2198-4f00-b310-441ab5c28735}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>22</key>
		<dict>
			<key>elid</key>
			<string>24</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>12000</string>
			<key>notes</key>
			<string>{e014bdd6-1c1c-48b8-9bf4-77f645e809ab}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>23</key>
		<dict>
			<key>elid</key>
			<string>25</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>12500</string>
			<key>notes</key>
			<string>{60e0f4d5-1b4d-41af-8f10-6598a1dca201}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>24</key>
		<dict>
			<key>elid</key>
			<string>26</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>13000</string>
			<key>notes</key>
			<string>{4e1a5938-3033-4b11-b14d-1df65e8cdafb}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>25</key>
		<dict>
			<key>elid</key>
			<string>27</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>13500</string>
			<key>notes</key>
			<string>{951cee32-4215-411a-b9e4-2d354478c58a}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>26</key>
		<dict>
			<key>elid</key>
			<string>28</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>14000</string>
			<key>notes</key>
			<string>{19f9cbe2-85c2-4989-ab73-2e13545ac007}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>27</key>
		<dict>
			<key>elid</key>
			<string>29</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>14500</string>
			<key>notes</key>
			<string>{0e25e4d2-d639-44ea-a0b6-a860ce43d31e}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>28</key>
		<dict>
			<key>elid</key>
			<string>30</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>15000</string>
			<key>notes</key>
			<string>{652b137f-a621-4d87-9512-c3af751e8dd4}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>29</key>
		<dict>
			<key>elid</key>
			<string>31</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>15500</string>
			<key>notes</key>
			<string>{e92d8913-d143-4193-80b9-3cec87a2d0b6}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>30</key>
		<dict>
			<key>elid</key>
			<string>32</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>16000</string>
			<key>notes</key>
			<string>{b20aee90-1ee3-49ed-afd1-13e3baa19127}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>31</key>
		<dict>
			<key>elid</key>
			<string>33</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>16500</string>
			<key>notes</key>
			<string>{5f45a1a5-3d67-4110-9573-a785ae5d1c40}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>32</key>
		<dict>
			<key>elid</key>
			<string>34</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>17000</string>
			<key>notes</key>
			<string>{55c94475-47a5-462a-a3bf-ca3315ca7db3}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>33</key>
		<dict>
			<key>elid</key>
			<string>35</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>17500</string>
			<key>notes</key>
			<string>{c3051963-3012-45af-aebe-82bb984b16cb}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>34</key>
		<dict>
			<key>elid</key>
			<string>36</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>18000</string>
			<key>notes</key>
			<string>{45dbeb40-e37f-4144-aae8-65ea63629975}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>35</key>
		<dict>
			<key>elid</key>
			<string>37</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>18500</string>
			<key>notes</key>
			<string>{d516b351-004a-483c-9d92-4ae25d0220a3}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>36</key>
		<dict>
			<key>elid</key>
			<string>38</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>19000</string>
			<key>notes</key>
			<string>{d93b3b56-9102-48a7-9a18-7bd78181302d}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>37</key>
		<dict>
			<key>elid</key>
			<string>39</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>19500</string>
			<key>notes</key>
			<string>{67454d36-f3a1-406e-b6fc-895ccabe361c}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>38</key>
		<dict>
			<key>elid</key>
			<string>40</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>20000</string>
			<key>notes</key>
			<string>{235baa49-39e3-4abb-910a-6c35f4f16f89}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>39</key>
		<dict>
			<key>elid</key>
			<string>41</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>20500</string>
			<key>notes</key>
			<string>{55f98095-0251-420f-9bdd-038d57ad8422}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>40</key>
		<dict>
			<key>elid</key>
			<string>42</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>21000</string>
			<key>notes</key>
			<string>{49478c3b-655d-451a-b2f5-ab699eb76912}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>41</key>
		<dict>
			<key>elid</key>
			<string>44</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>22000</string>
			<key>notes</key>
			<string>{dbae866d-b103-4bc5-9e17-07aa6aa9c072}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>42</key>
		<dict>
			<key>elid</key>
			<string>45</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>22500</string>
			<key>notes</key>
			<string>{69ad0da7-1617-4c9e-ae59-39e7dfd072dd} {0ea11630-3a3c-41d6-b193-0b5f711a3df6}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>43</key>
		<dict>
			<key>elid</key>
			<string>46</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>23000</string>
			<key>notes</key>
			<string>{6a6548a1-0afe-4619-b32d-23132dc0348e} {e40d3dac-bd60-42ab-8324-bd0c858f53a9}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
	</dict>
	<key>metronomes</key>
	<dict>
		<key>0</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>1000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>1500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>2000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>2500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>3000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>3500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>4000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>4500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>5000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>5500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>6000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>6500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>7000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>7500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>8000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>8500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>9000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>9500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>10000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>10500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>11000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>11500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>12000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>12500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>13000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>13500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>14000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>14500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>15000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>15500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>16000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>16500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>17000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>17500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>18000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>18500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>19000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>19500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>20000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>20500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>21000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>21500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>22000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>22500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>23000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>23500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
	</dict>
</dict>
</plist>