<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>247.04</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>282.619</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>391.89</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>427.47</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>536.741</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>572.321</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>681.592</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>717.171</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{4e3ee0c3-00dd-45a7-965f-9c4d5d6f7ef9}</key>
		<dict>
			<key>x</key>
			<string>509.467</string>
			<key>y</key>
			<string>588.828</string>
		</dict>
		<key>{f7401a7f-1c9e-43a8-adfe-825523e7a4f0}</key>
		<dict>
			<key>x</key>
			<string>509.467</string>
			<key>y</key>
			<string>554.103</string>
		</dict>
		<key>{6e1810cc-f59f-43c8-b441-f79fd6c0d2b1}</key>
		<dict>
			<key>x</key>
			<string>478.946</string>
			<key>y</key>
			<string>586.347</string>
		</dict>
		<key>{6c30ac36-c7df-4001-b54d-5fc6f3f2123a}</key>
		<dict>
			<key>x</key>
			<string>478.946</string>
			<key>y</key>
			<string>556.583</string>
		</dict>
		<key>{d1474804-f94a-4584-8a89-1115399d48f6}</key>
		<dict>
			<key>x</key>
			<string>448.247</string>
			<key>y</key>
			<string>561.544</string>
		</dict>
		<key>{c58a9ea6-3039-48f7-a9f5-e5e8a85fc7d4}</key>
		<dict>
			<key>x</key>
			<string>382.457</string>
			<key>y</key>
			<string>593.788</string>
		</dict>
		<key>{a6d62645-d609-41fe-a63f-6da51dd2be0d}</key>
		<dict>
			<key>x</key>
			<string>353.168</string>
			<key>y</key>
			<string>583.867</string>
		</dict>
		<key>{3eec31c4-bd2f-499a-a86e-278bd8f33f24}</key>
		<dict>
			<key>x</key>
			<string>323.879</string>
			<key>y</key>
			<string>588.828</string>
		</dict>
		<key>{d11451d4-275e-4cc0-bf2b-098b59f72de5}</key>
		<dict>
			<key>x</key>
			<string>287.534</string>
			<key>y</key>
			<string>593.788</string>
		</dict>
		<key>{6d8d42b8-d8b5-4520-bba7-8c4797f38a49}</key>
		<dict>
			<key>x</key>
			<string>257.935</string>
			<key>y</key>
			<string>591.308</string>
		</dict>
		<key>{75ee2fb1-54e1-4dee-8d49-85e339425949}</key>
		<dict>
			<key>x</key>
			<string>228.336</string>
			<key>y</key>
			<string>588.828</string>
		</dict>
		<key>{2a6ba3f1-a08d-41b2-b3bd-3af3c1616d91}</key>
		<dict>
			<key>x</key>
			<string>198.737</string>
			<key>y</key>
			<string>586.347</string>
		</dict>
		<key>{5da780a7-1dac-4f48-b1d2-7bb40dfdeb2b}</key>
		<dict>
			<key>x</key>
			<string>163.63</string>
			<key>y</key>
			<string>561.544</string>
		</dict>
		<key>{e5233906-af24-42b9-9e1e-53f7b15f398e}</key>
		<dict>
			<key>x</key>
			<string>135.269</string>
			<key>y</key>
			<string>559.064</string>
		</dict>
		<key>{50592706-1b44-472f-8ff3-39db92a8cbf5}</key>
		<dict>
			<key>x</key>
			<string>106.909</string>
			<key>y</key>
			<string>556.583</string>
		</dict>
		<key>{15bcfad8-fd86-4af6-8b6c-8a7bd8d3515d}</key>
		<dict>
			<key>x</key>
			<string>78.5484</string>
			<key>y</key>
			<string>554.103</string>
		</dict>
		<key>{01611505-0f93-481f-8232-f2c4cdf623c7}</key>
		<dict>
			<key>x</key>
			<string>529.552</string>
			<key>y</key>
			<string>448.938</string>
		</dict>
		<key>{fb2c071c-2ba4-4e0b-9be2-08b091f0d46f}</key>
		<dict>
			<key>x</key>
			<string>500.338</string>
			<key>y</key>
			<string>446.457</string>
		</dict>
		<key>{cd5c16e1-296b-4333-b884-45d7c65d0873}</key>
		<dict>
			<key>x</key>
			<string>471.125</string>
			<key>y</key>
			<string>443.977</string>
		</dict>
		<key>{9a31cbda-3d23-4eb8-803e-4db668852ef7}</key>
		<dict>
			<key>x</key>
			<string>441.912</string>
			<key>y</key>
			<string>441.497</string>
		</dict>
		<key>{51776dce-cd2c-4b23-908a-43e297701718}</key>
		<dict>
			<key>x</key>
			<string>405.952</string>
			<key>y</key>
			<string>416.693</string>
		</dict>
		<key>{e9fad0a3-6609-46df-acd1-0483052d14ba}</key>
		<dict>
			<key>x</key>
			<string>376.739</string>
			<key>y</key>
			<string>414.213</string>
		</dict>
		<key>{b79f99b6-03e0-4dbb-8f36-b1d8a5b8ade0}</key>
		<dict>
			<key>x</key>
			<string>347.526</string>
			<key>y</key>
			<string>411.733</string>
		</dict>
		<key>{914e07c1-1007-4cbf-b01d-dadf915356bd}</key>
		<dict>
			<key>x</key>
			<string>318.312</string>
			<key>y</key>
			<string>409.253</string>
		</dict>
		<key>{7658f8e7-0c85-40bc-869d-40583b495516}</key>
		<dict>
			<key>x</key>
			<string>253.76</string>
			<key>y</key>
			<string>446.457</string>
		</dict>
		<key>{dfa00e94-80db-450e-a153-0bbe5a68df1a}</key>
		<dict>
			<key>x</key>
			<string>224.856</string>
			<key>y</key>
			<string>439.016</string>
		</dict>
		<key>{9115e591-65e4-4000-9b22-b43e226c953b}</key>
		<dict>
			<key>x</key>
			<string>195.953</string>
			<key>y</key>
			<string>443.977</string>
		</dict>
		<key>{0a6acf3a-46ec-4a9b-8882-21fa9993b90c}</key>
		<dict>
			<key>x</key>
			<string>133.878</string>
			<key>y</key>
			<string>446.457</string>
		</dict>
		<key>{e151efe1-7476-473d-8af6-4e0a34243495}</key>
		<dict>
			<key>x</key>
			<string>106.213</string>
			<key>y</key>
			<string>439.016</string>
		</dict>
		<key>{47b32b73-4dc9-4233-83d0-9229fd487d15}</key>
		<dict>
			<key>x</key>
			<string>78.5484</string>
			<key>y</key>
			<string>443.977</string>
		</dict>
		<key>{25a088c1-4abb-40ec-9fcd-6be74bdab293}</key>
		<dict>
			<key>x</key>
			<string>529.707</string>
			<key>y</key>
			<string>304.087</string>
		</dict>
		<key>{248f17b8-68bf-4f0e-bfdb-ae32d7e62f22}</key>
		<dict>
			<key>x</key>
			<string>500.648</string>
			<key>y</key>
			<string>301.607</string>
		</dict>
		<key>{7f9ebabc-d726-466e-85cd-f570cf0a00ba}</key>
		<dict>
			<key>x</key>
			<string>471.59</string>
			<key>y</key>
			<string>299.126</string>
		</dict>
		<key>{60d43e50-8b9f-4609-83ad-a694e2a1a52e}</key>
		<dict>
			<key>x</key>
			<string>442.532</string>
			<key>y</key>
			<string>296.646</string>
		</dict>
		<key>{841f7ea1-5c6d-4e2d-b773-7bb9f0536dea}</key>
		<dict>
			<key>x</key>
			<string>406.727</string>
			<key>y</key>
			<string>271.843</string>
		</dict>
		<key>{0fd1d26e-341b-4b41-936a-2bf7e99256b5}</key>
		<dict>
			<key>x</key>
			<string>377.669</string>
			<key>y</key>
			<string>269.362</string>
		</dict>
		<key>{d67dde45-4f4e-4dde-9889-0259e219982e}</key>
		<dict>
			<key>x</key>
			<string>348.611</string>
			<key>y</key>
			<string>266.882</string>
		</dict>
		<key>{0f044caf-b07d-45aa-aef5-f080c6f9e57e}</key>
		<dict>
			<key>x</key>
			<string>319.553</string>
			<key>y</key>
			<string>264.402</string>
		</dict>
		<key>{d67611d7-1f34-4872-8239-d6f7240bf277}</key>
		<dict>
			<key>x</key>
			<string>283.748</string>
			<key>y</key>
			<string>304.087</string>
		</dict>
		<key>{8876023e-15c9-4be6-ab61-11aed94c3b68}</key>
		<dict>
			<key>x</key>
			<string>254.69</string>
			<key>y</key>
			<string>301.607</string>
		</dict>
		<key>{975d08c5-69a3-4bb7-907b-197fa3a7e949}</key>
		<dict>
			<key>x</key>
			<string>225.632</string>
			<key>y</key>
			<string>299.126</string>
		</dict>
		<key>{efc68630-33be-4911-855c-a2b038b24932}</key>
		<dict>
			<key>x</key>
			<string>196.573</string>
			<key>y</key>
			<string>296.646</string>
		</dict>
		<key>{cca8ff15-bc20-4b6c-8f31-7a2eeffbddd9}</key>
		<dict>
			<key>x</key>
			<string>162.007</string>
			<key>y</key>
			<string>271.843</string>
		</dict>
		<key>{dc48289c-a084-4155-a393-72f6a0972c6b}</key>
		<dict>
			<key>x</key>
			<string>134.188</string>
			<key>y</key>
			<string>269.362</string>
		</dict>
		<key>{8fe77cf7-88a7-41bb-8e77-52cc5c8588e6}</key>
		<dict>
			<key>x</key>
			<string>106.368</string>
			<key>y</key>
			<string>266.882</string>
		</dict>
		<key>{30d4cded-4ff9-40bc-80cd-50a33e68cae9}</key>
		<dict>
			<key>x</key>
			<string>78.5484</string>
			<key>y</key>
			<string>264.402</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{4e3ee0c3-00dd-45a7-965f-9c4d5d6f7ef9}</key>
		<dict>
			<key>x1</key>
			<string>509.789</string>
			<key>y1</key>
			<string>589.605</string>
			<key>x2</key>
			<string>509.789</string>
			<key>y2</key>
			<string>606.19</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f7401a7f-1c9e-43a8-adfe-825523e7a4f0}</key>
		<dict>
			<key>x1</key>
			<string>516.033</string>
			<key>y1</key>
			<string>553.341</string>
			<key>x2</key>
			<string>516.033</string>
			<key>y2</key>
			<string>536.741</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{6e1810cc-f59f-43c8-b441-f79fd6c0d2b1}</key>
		<dict>
			<key>x1</key>
			<string>479.269</string>
			<key>y1</key>
			<string>587.279</string>
			<key>x2</key>
			<string>479.269</string>
			<key>y2</key>
			<string>603.709</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{6c30ac36-c7df-4001-b54d-5fc6f3f2123a}</key>
		<dict>
			<key>x1</key>
			<string>485.155</string>
			<key>y1</key>
			<string>555.652</string>
			<key>x2</key>
			<string>485.155</string>
			<key>y2</key>
			<string>539.221</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d1474804-f94a-4584-8a89-1115399d48f6}</key>
		<dict>
			<key>x1</key>
			<string>454.455</string>
			<key>y1</key>
			<string>560.612</string>
			<key>x2</key>
			<string>454.455</string>
			<key>y2</key>
			<string>544.182</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c58a9ea6-3039-48f7-a9f5-e5e8a85fc7d4}</key>
		<dict>
			<key>x1</key>
			<string>382.78</string>
			<key>y1</key>
			<string>594.72</string>
			<key>x2</key>
			<string>382.78</string>
			<key>y2</key>
			<string>610.53</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{a6d62645-d609-41fe-a63f-6da51dd2be0d}</key>
		<dict>
			<key>x1</key>
			<string>353.491</string>
			<key>y1</key>
			<string>584.799</string>
			<key>x2</key>
			<string>353.491</string>
			<key>y2</key>
			<string>601.229</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{3eec31c4-bd2f-499a-a86e-278bd8f33f24}</key>
		<dict>
			<key>x1</key>
			<string>324.202</string>
			<key>y1</key>
			<string>589.759</string>
			<key>x2</key>
			<string>324.202</string>
			<key>y2</key>
			<string>606.19</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{d11451d4-275e-4cc0-bf2b-098b59f72de5}</key>
		<dict>
			<key>x1</key>
			<string>287.856</string>
			<key>y1</key>
			<string>594.72</string>
			<key>x2</key>
			<string>287.856</string>
			<key>y2</key>
			<string>610.53</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{6d8d42b8-d8b5-4520-bba7-8c4797f38a49}</key>
		<dict>
			<key>x1</key>
			<string>258.257</string>
			<key>y1</key>
			<string>592.24</string>
			<key>x2</key>
			<string>258.257</string>
			<key>y2</key>
			<string>608.67</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{75ee2fb1-54e1-4dee-8d49-85e339425949}</key>
		<dict>
			<key>x1</key>
			<string>228.658</string>
			<key>y1</key>
			<string>589.759</string>
			<key>x2</key>
			<string>228.658</string>
			<key>y2</key>
			<string>606.19</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{2a6ba3f1-a08d-41b2-b3bd-3af3c1616d91}</key>
		<dict>
			<key>x1</key>
			<string>199.059</string>
			<key>y1</key>
			<string>587.279</string>
			<key>x2</key>
			<string>199.059</string>
			<key>y2</key>
			<string>603.709</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{5da780a7-1dac-4f48-b1d2-7bb40dfdeb2b}</key>
		<dict>
			<key>x1</key>
			<string>169.838</string>
			<key>y1</key>
			<string>560.612</string>
			<key>x2</key>
			<string>169.838</string>
			<key>y2</key>
			<string>544.182</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e5233906-af24-42b9-9e1e-53f7b15f398e}</key>
		<dict>
			<key>x1</key>
			<string>141.478</string>
			<key>y1</key>
			<string>558.132</string>
			<key>x2</key>
			<string>141.478</string>
			<key>y2</key>
			<string>541.702</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{50592706-1b44-472f-8ff3-39db92a8cbf5}</key>
		<dict>
			<key>x1</key>
			<string>113.117</string>
			<key>y1</key>
			<string>555.652</string>
			<key>x2</key>
			<string>113.117</string>
			<key>y2</key>
			<string>539.221</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{15bcfad8-fd86-4af6-8b6c-8a7bd8d3515d}</key>
		<dict>
			<key>x1</key>
			<string>84.757</string>
			<key>y1</key>
			<string>553.171</string>
			<key>x2</key>
			<string>84.757</string>
			<key>y2</key>
			<string>536.741</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{01611505-0f93-481f-8232-f2c4cdf623c7}</key>
		<dict>
			<key>x1</key>
			<string>529.874</string>
			<key>y1</key>
			<string>449.869</string>
			<key>x2</key>
			<string>529.874</string>
			<key>y2</key>
			<string>465.68</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{fb2c071c-2ba4-4e0b-9be2-08b091f0d46f}</key>
		<dict>
			<key>x1</key>
			<string>500.661</string>
			<key>y1</key>
			<string>447.389</string>
			<key>x2</key>
			<string>500.661</string>
			<key>y2</key>
			<string>463.819</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{cd5c16e1-296b-4333-b884-45d7c65d0873}</key>
		<dict>
			<key>x1</key>
			<string>471.448</string>
			<key>y1</key>
			<string>444.909</string>
			<key>x2</key>
			<string>471.448</string>
			<key>y2</key>
			<string>461.339</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{9a31cbda-3d23-4eb8-803e-4db668852ef7}</key>
		<dict>
			<key>x1</key>
			<string>442.234</string>
			<key>y1</key>
			<string>442.428</string>
			<key>x2</key>
			<string>442.234</string>
			<key>y2</key>
			<string>458.859</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{51776dce-cd2c-4b23-908a-43e297701718}</key>
		<dict>
			<key>x1</key>
			<string>412.161</string>
			<key>y1</key>
			<string>415.762</string>
			<key>x2</key>
			<string>412.161</string>
			<key>y2</key>
			<string>399.331</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e9fad0a3-6609-46df-acd1-0483052d14ba}</key>
		<dict>
			<key>x1</key>
			<string>382.947</string>
			<key>y1</key>
			<string>413.281</string>
			<key>x2</key>
			<string>382.947</string>
			<key>y2</key>
			<string>396.851</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b79f99b6-03e0-4dbb-8f36-b1d8a5b8ade0}</key>
		<dict>
			<key>x1</key>
			<string>353.734</string>
			<key>y1</key>
			<string>410.801</string>
			<key>x2</key>
			<string>353.734</string>
			<key>y2</key>
			<string>394.371</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{914e07c1-1007-4cbf-b01d-dadf915356bd}</key>
		<dict>
			<key>x1</key>
			<string>324.521</string>
			<key>y1</key>
			<string>408.321</string>
			<key>x2</key>
			<string>324.521</string>
			<key>y2</key>
			<string>391.89</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{7658f8e7-0c85-40bc-869d-40583b495516}</key>
		<dict>
			<key>x1</key>
			<string>254.082</string>
			<key>y1</key>
			<string>447.389</string>
			<key>x2</key>
			<string>254.082</string>
			<key>y2</key>
			<string>463.819</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{dfa00e94-80db-450e-a153-0bbe5a68df1a}</key>
		<dict>
			<key>x1</key>
			<string>225.179</string>
			<key>y1</key>
			<string>439.948</string>
			<key>x2</key>
			<string>225.179</string>
			<key>y2</key>
			<string>456.378</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{9115e591-65e4-4000-9b22-b43e226c953b}</key>
		<dict>
			<key>x1</key>
			<string>196.276</string>
			<key>y1</key>
			<string>444.909</string>
			<key>x2</key>
			<string>196.276</string>
			<key>y2</key>
			<string>461.339</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{0a6acf3a-46ec-4a9b-8882-21fa9993b90c}</key>
		<dict>
			<key>x1</key>
			<string>134.2</string>
			<key>y1</key>
			<string>447.389</string>
			<key>x2</key>
			<string>134.2</string>
			<key>y2</key>
			<string>463.819</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{e151efe1-7476-473d-8af6-4e0a34243495}</key>
		<dict>
			<key>x1</key>
			<string>106.535</string>
			<key>y1</key>
			<string>439.948</string>
			<key>x2</key>
			<string>106.535</string>
			<key>y2</key>
			<string>456.378</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{47b32b73-4dc9-4233-83d0-9229fd487d15}</key>
		<dict>
			<key>x1</key>
			<string>78.8709</string>
			<key>y1</key>
			<string>444.909</string>
			<key>x2</key>
			<string>78.8709</string>
			<key>y2</key>
			<string>461.339</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{25a088c1-4abb-40ec-9fcd-6be74bdab293}</key>
		<dict>
			<key>x1</key>
			<string>530.029</string>
			<key>y1</key>
			<string>305.019</string>
			<key>x2</key>
			<string>530.029</string>
			<key>y2</key>
			<string>320.829</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{248f17b8-68bf-4f0e-bfdb-ae32d7e62f22}</key>
		<dict>
			<key>x1</key>
			<string>500.971</string>
			<key>y1</key>
			<string>302.538</string>
			<key>x2</key>
			<string>500.971</string>
			<key>y2</key>
			<string>318.969</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{7f9ebabc-d726-466e-85cd-f570cf0a00ba}</key>
		<dict>
			<key>x1</key>
			<string>471.913</string>
			<key>y1</key>
			<string>300.058</string>
			<key>x2</key>
			<string>471.913</string>
			<key>y2</key>
			<string>316.488</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{60d43e50-8b9f-4609-83ad-a694e2a1a52e}</key>
		<dict>
			<key>x1</key>
			<string>442.854</string>
			<key>y1</key>
			<string>297.578</string>
			<key>x2</key>
			<string>442.854</string>
			<key>y2</key>
			<string>314.008</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{841f7ea1-5c6d-4e2d-b773-7bb9f0536dea}</key>
		<dict>
			<key>x1</key>
			<string>412.936</string>
			<key>y1</key>
			<string>270.911</string>
			<key>x2</key>
			<string>412.936</string>
			<key>y2</key>
			<string>254.481</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{0fd1d26e-341b-4b41-936a-2bf7e99256b5}</key>
		<dict>
			<key>x1</key>
			<string>383.878</string>
			<key>y1</key>
			<string>268.431</string>
			<key>x2</key>
			<string>383.878</string>
			<key>y2</key>
			<string>252</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d67dde45-4f4e-4dde-9889-0259e219982e}</key>
		<dict>
			<key>x1</key>
			<string>354.819</string>
			<key>y1</key>
			<string>265.95</string>
			<key>x2</key>
			<string>354.819</string>
			<key>y2</key>
			<string>249.52</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{0f044caf-b07d-45aa-aef5-f080c6f9e57e}</key>
		<dict>
			<key>x1</key>
			<string>325.761</string>
			<key>y1</key>
			<string>263.47</string>
			<key>x2</key>
			<string>325.761</string>
			<key>y2</key>
			<string>247.04</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d67611d7-1f34-4872-8239-d6f7240bf277}</key>
		<dict>
			<key>x1</key>
			<string>284.07</string>
			<key>y1</key>
			<string>305.019</string>
			<key>x2</key>
			<string>284.07</string>
			<key>y2</key>
			<string>320.829</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{8876023e-15c9-4be6-ab61-11aed94c3b68}</key>
		<dict>
			<key>x1</key>
			<string>255.012</string>
			<key>y1</key>
			<string>302.538</string>
			<key>x2</key>
			<string>255.012</string>
			<key>y2</key>
			<string>318.969</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{975d08c5-69a3-4bb7-907b-197fa3a7e949}</key>
		<dict>
			<key>x1</key>
			<string>225.954</string>
			<key>y1</key>
			<string>300.058</string>
			<key>x2</key>
			<string>225.954</string>
			<key>y2</key>
			<string>316.488</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{efc68630-33be-4911-855c-a2b038b24932}</key>
		<dict>
			<key>x1</key>
			<string>196.896</string>
			<key>y1</key>
			<string>297.578</string>
			<key>x2</key>
			<string>196.896</string>
			<key>y2</key>
			<string>314.008</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{cca8ff15-bc20-4b6c-8f31-7a2eeffbddd9}</key>
		<dict>
			<key>x1</key>
			<string>168.216</string>
			<key>y1</key>
			<string>270.911</string>
			<key>x2</key>
			<string>168.216</string>
			<key>y2</key>
			<string>254.481</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{dc48289c-a084-4155-a393-72f6a0972c6b}</key>
		<dict>
			<key>x1</key>
			<string>140.396</string>
			<key>y1</key>
			<string>268.431</string>
			<key>x2</key>
			<string>140.396</string>
			<key>y2</key>
			<string>252</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{8fe77cf7-88a7-41bb-8e77-52cc5c8588e6}</key>
		<dict>
			<key>x1</key>
			<string>112.577</string>
			<key>y1</key>
			<string>265.95</string>
			<key>x2</key>
			<string>112.577</string>
			<key>y2</key>
			<string>249.52</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{30d4cded-4ff9-40bc-80cd-50a33e68cae9}</key>
		<dict>
			<key>x1</key>
			<string>84.757</string>
			<key>y1</key>
			<string>263.47</string>
			<key>x2</key>
			<string>84.757</string>
			<key>y2</key>
			<string>247.04</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
	</dict>
</dict>
</plist>