<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{beb40bfb-bac1-4ca4-b06d-cffbeae5c832}</key>
		<dict>
			<key>x</key>
			<string>449.834</string>
			<key>y</key>
			<string>481.677</string>
		</dict>
		<key>{633c2d4d-28ea-4961-9805-3c27b88fd7e9}</key>
		<dict>
			<key>x</key>
			<string>384.833</string>
			<key>y</key>
			<string>479.197</string>
		</dict>
		<key>{a113f97a-8698-417e-ae05-3d25ce65c0be}</key>
		<dict>
			<key>x</key>
			<string>319.653</string>
			<key>y</key>
			<string>476.717</string>
		</dict>
		<key>{852cf6a1-2de8-4e6e-ba70-73c3a6a216c5}</key>
		<dict>
			<key>x</key>
			<string>252.613</string>
			<key>y</key>
			<string>474.236</string>
		</dict>
		<key>{30c7ec91-4ba5-4389-afa4-bf6f152365fb}</key>
		<dict>
			<key>x</key>
			<string>192.319</string>
			<key>y</key>
			<string>479.197</string>
		</dict>
		<key>{e72967a0-6bff-43b5-b5c6-6eb91af05dfe}</key>
		<dict>
			<key>x</key>
			<string>132.025</string>
			<key>y</key>
			<string>479.197</string>
		</dict>
		<key>{24495659-0a08-4b17-acb6-4a7dfa4c29c8}</key>
		<dict>
			<key>x</key>
			<string>71.7307</string>
			<key>y</key>
			<string>419.669</string>
		</dict>
		<key>{7c15f8c7-5ae5-4333-a85d-3ddf4a5bd432}</key>
		<dict>
			<key>x</key>
			<string>529.327</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{161cf62e-680d-4cc2-8e0b-55bc1ab18406}</key>
		<dict>
			<key>x</key>
			<string>499.889</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{5f49cab4-fa67-4091-8022-2c8f3bc4dadd}</key>
		<dict>
			<key>x</key>
			<string>470.45</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{62222c9b-645c-46a3-9402-ca7258f19b5d}</key>
		<dict>
			<key>x</key>
			<string>441.012</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{1652227e-1a8a-45f8-a8f5-15f379bf2c6c}</key>
		<dict>
			<key>x</key>
			<string>404.363</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{b062aa7c-d923-49e8-9f29-be210412d6f3}</key>
		<dict>
			<key>x</key>
			<string>374.925</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{6545c6a6-1e68-4925-aad7-4eaf6472c0eb}</key>
		<dict>
			<key>x</key>
			<string>345.487</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{6e49406e-bcfd-4f6d-b867-c559332da093}</key>
		<dict>
			<key>x</key>
			<string>316.048</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{bfa8083c-9050-43fb-a785-18b0c4b7e16b}</key>
		<dict>
			<key>x</key>
			<string>256.458</string>
			<key>y</key>
			<string>327.898</string>
		</dict>
		<key>{72bf41ae-6d6d-4503-b34c-24fd2044255a}</key>
		<dict>
			<key>x</key>
			<string>224.013</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{9c9662d3-f047-47db-910d-0a28b188574b}</key>
		<dict>
			<key>x</key>
			<string>191.388</string>
			<key>y</key>
			<string>332.858</string>
		</dict>
		<key>{fed12d3c-7bfe-4c00-826c-78e77fe6e934}</key>
		<dict>
			<key>x</key>
			<string>156.298</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{268850b7-669a-465f-8dee-24055d5e4709}</key>
		<dict>
			<key>x</key>
			<string>127.954</string>
			<key>y</key>
			<string>327.898</string>
		</dict>
		<key>{2cdbef55-8141-4dd5-8352-f83e053dd12e}</key>
		<dict>
			<key>x</key>
			<string>99.6097</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{913e37bb-9e00-4b31-85b5-290943d6c0d0}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{0eda504a-73e4-42c7-9dbf-2152fc6807d5}</key>
		<dict>
			<key>x</key>
			<string>499.844</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>{aa93b4d6-1607-400c-b6b3-cb2cd990211b}</key>
		<dict>
			<key>x</key>
			<string>440.924</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{fd85e1d5-3e99-43d3-8e1a-69926be58ffb}</key>
		<dict>
			<key>x</key>
			<string>382.003</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{cd0dceb2-fe5a-4190-93b8-adcbf827a522}</key>
		<dict>
			<key>x</key>
			<string>323.082</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>{17d3ba7d-010f-4e18-892e-95d7b38d8359}</key>
		<dict>
			<key>x</key>
			<string>258.073</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>{9e858587-e0a0-4f92-8e42-74fc22f9d86d}</key>
		<dict>
			<key>x</key>
			<string>200.274</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{89d6fae9-b04a-454f-84f7-c70f127f59cb}</key>
		<dict>
			<key>x</key>
			<string>142.476</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{83b4f8b3-9254-447e-9e21-5f16849284fa}</key>
		<dict>
			<key>x</key>
			<string>84.6779</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{beb40bfb-bac1-4ca4-b06d-cffbeae5c832}</key>
		<dict>
			<key>x1</key>
			<string>450.156</string>
			<key>y1</key>
			<string>482.455</string>
			<key>x2</key>
			<string>450.156</string>
			<key>y2</key>
			<string>492.839</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{633c2d4d-28ea-4961-9805-3c27b88fd7e9}</key>
		<dict>
			<key>x1</key>
			<string>385.155</string>
			<key>y1</key>
			<string>480.129</string>
			<key>x2</key>
			<string>385.155</string>
			<key>y2</key>
			<string>490.358</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{a113f97a-8698-417e-ae05-3d25ce65c0be}</key>
		<dict>
			<key>x1</key>
			<string>319.976</string>
			<key>y1</key>
			<string>477.648</string>
			<key>x2</key>
			<string>319.976</string>
			<key>y2</key>
			<string>487.878</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{852cf6a1-2de8-4e6e-ba70-73c3a6a216c5}</key>
		<dict>
			<key>x1</key>
			<string>252.935</string>
			<key>y1</key>
			<string>475.168</string>
			<key>x2</key>
			<string>252.935</string>
			<key>y2</key>
			<string>485.398</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{30c7ec91-4ba5-4389-afa4-bf6f152365fb}</key>
		<dict>
			<key>x1</key>
			<string>192.641</string>
			<key>y1</key>
			<string>480.129</string>
			<key>x2</key>
			<string>192.641</string>
			<key>y2</key>
			<string>490.358</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{e72967a0-6bff-43b5-b5c6-6eb91af05dfe}</key>
		<dict>
			<key>x1</key>
			<string>132.347</string>
			<key>y1</key>
			<string>480.129</string>
			<key>x2</key>
			<string>132.347</string>
			<key>y2</key>
			<string>490.358</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{24495659-0a08-4b17-acb6-4a7dfa4c29c8}</key>
		<dict>
			<key>x1</key>
			<string>77.9392</string>
			<key>y1</key>
			<string>418.738</string>
			<key>x2</key>
			<string>77.9392</string>
			<key>y2</key>
			<string>402.307</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{7c15f8c7-5ae5-4333-a85d-3ddf4a5bd432}</key>
		<dict>
			<key>x1</key>
			<string>535.535</string>
			<key>y1</key>
			<string>272.399</string>
			<key>x2</key>
			<string>535.535</string>
			<key>y2</key>
			<string>255.969</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{161cf62e-680d-4cc2-8e0b-55bc1ab18406}</key>
		<dict>
			<key>x1</key>
			<string>500.211</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>500.211</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{5f49cab4-fa67-4091-8022-2c8f3bc4dadd}</key>
		<dict>
			<key>x1</key>
			<string>470.773</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>470.773</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{62222c9b-645c-46a3-9402-ca7258f19b5d}</key>
		<dict>
			<key>x1</key>
			<string>447.221</string>
			<key>y1</key>
			<string>272.399</string>
			<key>x2</key>
			<string>447.221</string>
			<key>y2</key>
			<string>255.969</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{1652227e-1a8a-45f8-a8f5-15f379bf2c6c}</key>
		<dict>
			<key>x1</key>
			<string>410.571</string>
			<key>y1</key>
			<string>272.399</string>
			<key>x2</key>
			<string>410.571</string>
			<key>y2</key>
			<string>255.969</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b062aa7c-d923-49e8-9f29-be210412d6f3}</key>
		<dict>
			<key>x1</key>
			<string>375.247</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>375.247</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{6545c6a6-1e68-4925-aad7-4eaf6472c0eb}</key>
		<dict>
			<key>x1</key>
			<string>345.809</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>345.809</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{6e49406e-bcfd-4f6d-b867-c559332da093}</key>
		<dict>
			<key>x1</key>
			<string>322.257</string>
			<key>y1</key>
			<string>272.399</string>
			<key>x2</key>
			<string>322.257</string>
			<key>y2</key>
			<string>255.969</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{bfa8083c-9050-43fb-a785-18b0c4b7e16b}</key>
		<dict>
			<key>x1</key>
			<string>256.781</string>
			<key>y1</key>
			<string>328.675</string>
			<key>x2</key>
			<string>256.781</string>
			<key>y2</key>
			<string>339.059</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{72bf41ae-6d6d-4503-b34c-24fd2044255a}</key>
		<dict>
			<key>x1</key>
			<string>224.335</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>224.335</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{9c9662d3-f047-47db-910d-0a28b188574b}</key>
		<dict>
			<key>x1</key>
			<string>191.711</string>
			<key>y1</key>
			<string>333.79</string>
			<key>x2</key>
			<string>191.711</string>
			<key>y2</key>
			<string>344.02</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{fed12d3c-7bfe-4c00-826c-78e77fe6e934}</key>
		<dict>
			<key>x1</key>
			<string>156.62</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>156.62</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{268850b7-669a-465f-8dee-24055d5e4709}</key>
		<dict>
			<key>x1</key>
			<string>128.276</string>
			<key>y1</key>
			<string>328.829</string>
			<key>x2</key>
			<string>128.276</string>
			<key>y2</key>
			<string>339.059</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{2cdbef55-8141-4dd5-8352-f83e053dd12e}</key>
		<dict>
			<key>x1</key>
			<string>105.818</string>
			<key>y1</key>
			<string>272.399</string>
			<key>x2</key>
			<string>105.818</string>
			<key>y2</key>
			<string>255.969</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{913e37bb-9e00-4b31-85b5-290943d6c0d0}</key>
		<dict>
			<key>x1</key>
			<string>77.4742</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>77.4742</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{0eda504a-73e4-42c7-9dbf-2152fc6807d5}</key>
		<dict>
			<key>x1</key>
			<string>506.053</string>
			<key>y1</key>
			<string>126.06</string>
			<key>x2</key>
			<string>506.053</string>
			<key>y2</key>
			<string>109.63</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{aa93b4d6-1607-400c-b6b3-cb2cd990211b}</key>
		<dict>
			<key>x1</key>
			<string>441.246</string>
			<key>y1</key>
			<string>184.971</string>
			<key>x2</key>
			<string>441.246</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{fd85e1d5-3e99-43d3-8e1a-69926be58ffb}</key>
		<dict>
			<key>x1</key>
			<string>382.325</string>
			<key>y1</key>
			<string>184.971</string>
			<key>x2</key>
			<string>382.325</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{cd0dceb2-fe5a-4190-93b8-adcbf827a522}</key>
		<dict>
			<key>x1</key>
			<string>329.291</string>
			<key>y1</key>
			<string>126.06</string>
			<key>x2</key>
			<string>329.291</string>
			<key>y2</key>
			<string>109.63</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{17d3ba7d-010f-4e18-892e-95d7b38d8359}</key>
		<dict>
			<key>x1</key>
			<string>264.281</string>
			<key>y1</key>
			<string>126.06</string>
			<key>x2</key>
			<string>264.281</string>
			<key>y2</key>
			<string>109.63</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9e858587-e0a0-4f92-8e42-74fc22f9d86d}</key>
		<dict>
			<key>x1</key>
			<string>200.597</string>
			<key>y1</key>
			<string>184.971</string>
			<key>x2</key>
			<string>200.597</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{89d6fae9-b04a-454f-84f7-c70f127f59cb}</key>
		<dict>
			<key>x1</key>
			<string>142.799</string>
			<key>y1</key>
			<string>184.971</string>
			<key>x2</key>
			<string>142.799</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{83b4f8b3-9254-447e-9e21-5f16849284fa}</key>
		<dict>
			<key>x1</key>
			<string>90.8865</string>
			<key>y1</key>
			<string>126.06</string>
			<key>x2</key>
			<string>90.8865</string>
			<key>y2</key>
			<string>109.63</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
	</dict>
</dict>
</plist>