<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{59b42870-9db1-4804-8a0e-c46ecb8259e0}</key>
		<dict>
			<key>x</key>
			<string>275.737</string>
			<key>y</key>
			<string>451.913</string>
		</dict>
		<key>{6939a27b-5bfe-4af7-946a-528f3386423f}</key>
		<dict>
			<key>x</key>
			<string>242.408</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{33a30234-fb05-4aeb-b31b-c46260cf2632}</key>
		<dict>
			<key>x</key>
			<string>208.899</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{e64073bc-ccb4-402a-a533-e8074c7b5714}</key>
		<dict>
			<key>x</key>
			<string>169.619</string>
			<key>y</key>
			<string>444.472</string>
		</dict>
		<key>{7079e3de-54f8-4946-a941-c3f79606fa80}</key>
		<dict>
			<key>x</key>
			<string>137.085</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{be86d2c0-68e7-43d3-923d-1e261353123b}</key>
		<dict>
			<key>x</key>
			<string>104.551</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{f1cd8e7f-6dc3-4958-a159-e4ae6d03eb92}</key>
		<dict>
			<key>x</key>
			<string>72.0175</string>
			<key>y</key>
			<string>419.669</string>
		</dict>
		<key>{310d55c6-3210-4b9a-ad05-db0c54277ab3}</key>
		<dict>
			<key>x</key>
			<string>529.221</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{31a4822e-9721-4ccf-b14b-d487f6a3b97c}</key>
		<dict>
			<key>x</key>
			<string>499.676</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{b73492c5-e20c-4914-9cd2-6a170aa99921}</key>
		<dict>
			<key>x</key>
			<string>470.132</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{702ccea0-7823-4c30-9278-4d92c142a968}</key>
		<dict>
			<key>x</key>
			<string>440.588</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{085cf968-20a6-4b76-a41e-d337e7bcdb7f}</key>
		<dict>
			<key>x</key>
			<string>403.832</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{707d344c-7e00-4e36-af8a-fa75bdf7589e}</key>
		<dict>
			<key>x</key>
			<string>374.288</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{a508f022-0756-42b6-bd60-71be0ab3f2d7}</key>
		<dict>
			<key>x</key>
			<string>344.744</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{57af6a15-4b38-46c7-9d0d-3718c5f73d01}</key>
		<dict>
			<key>x</key>
			<string>315.2</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{e4a8286c-8f6d-46d9-9e84-8e461cd4c631}</key>
		<dict>
			<key>x</key>
			<string>255.862</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{ff3a2505-0efc-469f-bd05-18b5e5b970bf}</key>
		<dict>
			<key>x</key>
			<string>223.574</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{7149b02a-a8f5-4b4d-917e-6ee908cecf44}</key>
		<dict>
			<key>x</key>
			<string>191.107</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{a0e3143b-c93e-49c0-947d-0db11ad6e9dd}</key>
		<dict>
			<key>x</key>
			<string>156.159</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{b4d601c9-c844-4461-8361-2ccf0c6e008c}</key>
		<dict>
			<key>x</key>
			<string>127.957</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{e3d3cc14-6923-42b0-93b5-99a47a687182}</key>
		<dict>
			<key>x</key>
			<string>99.7545</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{32351964-f1b5-4d1d-94f5-e4b8d003fa18}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{7c4cd190-0542-4984-b637-07ecb8047f45}</key>
		<dict>
			<key>x</key>
			<string>527.278</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>{cf8fed5c-599a-4a2e-8e9f-ff49441ae83b}</key>
		<dict>
			<key>x</key>
			<string>495.791</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{aabfaf55-e7bf-47d5-814a-e87a1cfb3c0c}</key>
		<dict>
			<key>x</key>
			<string>464.305</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{3d848c40-f291-473b-9e19-34d6ad3530ff}</key>
		<dict>
			<key>x</key>
			<string>432.818</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>{cba684a1-5f85-472e-9d5c-235eb4ed7d67}</key>
		<dict>
			<key>x</key>
			<string>394.12</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>{c6134407-3b3f-4757-9b4f-1e350f8e2065}</key>
		<dict>
			<key>x</key>
			<string>362.633</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{9f96487a-08c6-4067-8e8b-2af4070c4278}</key>
		<dict>
			<key>x</key>
			<string>331.146</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{64e889b2-daf4-4006-8ba8-2566026dfc8e}</key>
		<dict>
			<key>x</key>
			<string>299.66</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{59b42870-9db1-4804-8a0e-c46ecb8259e0}</key>
		<dict>
			<key>x1</key>
			<string>276.059</string>
			<key>y1</key>
			<string>452.691</string>
			<key>x2</key>
			<string>276.059</string>
			<key>y2</key>
			<string>468.656</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{6939a27b-5bfe-4af7-946a-528f3386423f}</key>
		<dict>
			<key>x1</key>
			<string>242.73</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>242.73</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{33a30234-fb05-4aeb-b31b-c46260cf2632}</key>
		<dict>
			<key>x1</key>
			<string>209.222</string>
			<key>y1</key>
			<string>447.884</string>
			<key>x2</key>
			<string>209.222</string>
			<key>y2</key>
			<string>464.315</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{e64073bc-ccb4-402a-a533-e8074c7b5714}</key>
		<dict>
			<key>x1</key>
			<string>169.941</string>
			<key>y1</key>
			<string>445.404</string>
			<key>x2</key>
			<string>169.941</string>
			<key>y2</key>
			<string>461.835</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{7079e3de-54f8-4946-a941-c3f79606fa80}</key>
		<dict>
			<key>x1</key>
			<string>137.408</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>137.408</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{be86d2c0-68e7-43d3-923d-1e261353123b}</key>
		<dict>
			<key>x1</key>
			<string>104.874</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>104.874</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f1cd8e7f-6dc3-4958-a159-e4ae6d03eb92}</key>
		<dict>
			<key>x1</key>
			<string>78.226</string>
			<key>y1</key>
			<string>418.738</string>
			<key>x2</key>
			<string>78.226</string>
			<key>y2</key>
			<string>402.307</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{310d55c6-3210-4b9a-ad05-db0c54277ab3}</key>
		<dict>
			<key>x1</key>
			<string>535.429</string>
			<key>y1</key>
			<string>272.399</string>
			<key>x2</key>
			<string>535.429</string>
			<key>y2</key>
			<string>255.969</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{31a4822e-9721-4ccf-b14b-d487f6a3b97c}</key>
		<dict>
			<key>x1</key>
			<string>499.999</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>499.999</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{b73492c5-e20c-4914-9cd2-6a170aa99921}</key>
		<dict>
			<key>x1</key>
			<string>470.455</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>470.455</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{702ccea0-7823-4c30-9278-4d92c142a968}</key>
		<dict>
			<key>x1</key>
			<string>446.797</string>
			<key>y1</key>
			<string>272.399</string>
			<key>x2</key>
			<string>446.797</string>
			<key>y2</key>
			<string>255.969</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{085cf968-20a6-4b76-a41e-d337e7bcdb7f}</key>
		<dict>
			<key>x1</key>
			<string>410.041</string>
			<key>y1</key>
			<string>272.399</string>
			<key>x2</key>
			<string>410.041</string>
			<key>y2</key>
			<string>255.969</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{707d344c-7e00-4e36-af8a-fa75bdf7589e}</key>
		<dict>
			<key>x1</key>
			<string>374.611</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>374.611</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{a508f022-0756-42b6-bd60-71be0ab3f2d7}</key>
		<dict>
			<key>x1</key>
			<string>345.066</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>345.066</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{57af6a15-4b38-46c7-9d0d-3718c5f73d01}</key>
		<dict>
			<key>x1</key>
			<string>321.408</string>
			<key>y1</key>
			<string>272.399</string>
			<key>x2</key>
			<string>321.408</string>
			<key>y2</key>
			<string>255.969</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e4a8286c-8f6d-46d9-9e84-8e461cd4c631}</key>
		<dict>
			<key>x1</key>
			<string>256.185</string>
			<key>y1</key>
			<string>298.912</string>
			<key>x2</key>
			<string>256.185</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{ff3a2505-0efc-469f-bd05-18b5e5b970bf}</key>
		<dict>
			<key>x1</key>
			<string>223.897</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>223.897</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{7149b02a-a8f5-4b4d-917e-6ee908cecf44}</key>
		<dict>
			<key>x1</key>
			<string>191.43</string>
			<key>y1</key>
			<string>304.026</string>
			<key>x2</key>
			<string>191.43</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{a0e3143b-c93e-49c0-947d-0db11ad6e9dd}</key>
		<dict>
			<key>x1</key>
			<string>156.481</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>156.481</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{b4d601c9-c844-4461-8361-2ccf0c6e008c}</key>
		<dict>
			<key>x1</key>
			<string>128.279</string>
			<key>y1</key>
			<string>299.066</string>
			<key>x2</key>
			<string>128.279</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{e3d3cc14-6923-42b0-93b5-99a47a687182}</key>
		<dict>
			<key>x1</key>
			<string>105.963</string>
			<key>y1</key>
			<string>272.399</string>
			<key>x2</key>
			<string>105.963</string>
			<key>y2</key>
			<string>255.969</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{32351964-f1b5-4d1d-94f5-e4b8d003fa18}</key>
		<dict>
			<key>x1</key>
			<string>77.7609</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>77.7609</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{7c4cd190-0542-4984-b637-07ecb8047f45}</key>
		<dict>
			<key>x1</key>
			<string>533.487</string>
			<key>y1</key>
			<string>126.06</string>
			<key>x2</key>
			<string>533.487</string>
			<key>y2</key>
			<string>109.63</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{cf8fed5c-599a-4a2e-8e9f-ff49441ae83b}</key>
		<dict>
			<key>x1</key>
			<string>496.114</string>
			<key>y1</key>
			<string>155.207</string>
			<key>x2</key>
			<string>496.114</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{aabfaf55-e7bf-47d5-814a-e87a1cfb3c0c}</key>
		<dict>
			<key>x1</key>
			<string>464.627</string>
			<key>y1</key>
			<string>155.207</string>
			<key>x2</key>
			<string>464.627</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{3d848c40-f291-473b-9e19-34d6ad3530ff}</key>
		<dict>
			<key>x1</key>
			<string>439.027</string>
			<key>y1</key>
			<string>126.06</string>
			<key>x2</key>
			<string>439.027</string>
			<key>y2</key>
			<string>109.63</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{cba684a1-5f85-472e-9d5c-235eb4ed7d67}</key>
		<dict>
			<key>x1</key>
			<string>400.328</string>
			<key>y1</key>
			<string>126.06</string>
			<key>x2</key>
			<string>400.328</string>
			<key>y2</key>
			<string>109.63</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c6134407-3b3f-4757-9b4f-1e350f8e2065}</key>
		<dict>
			<key>x1</key>
			<string>362.956</string>
			<key>y1</key>
			<string>155.207</string>
			<key>x2</key>
			<string>362.956</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{9f96487a-08c6-4067-8e8b-2af4070c4278}</key>
		<dict>
			<key>x1</key>
			<string>331.469</string>
			<key>y1</key>
			<string>155.207</string>
			<key>x2</key>
			<string>331.469</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{64e889b2-daf4-4006-8ba8-2566026dfc8e}</key>
		<dict>
			<key>x1</key>
			<string>305.868</string>
			<key>y1</key>
			<string>126.06</string>
			<key>x2</key>
			<string>305.868</string>
			<key>y2</key>
			<string>109.63</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
	</dict>
</dict>
</plist>