<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{e30a2744-72fc-4b95-a952-6580b937bbc3}</key>
		<dict>
			<key>x</key>
			<string>449.834</string>
			<key>y</key>
			<string>481.677</string>
		</dict>
		<key>{79e7b126-09d2-479d-b869-c349d8357cdc}</key>
		<dict>
			<key>x</key>
			<string>384.833</string>
			<key>y</key>
			<string>479.197</string>
		</dict>
		<key>{ed1806f5-b679-4e36-b385-921576c6ea8c}</key>
		<dict>
			<key>x</key>
			<string>319.653</string>
			<key>y</key>
			<string>476.717</string>
		</dict>
		<key>{e5d55499-d3bc-410c-8bc4-ab77753c1268}</key>
		<dict>
			<key>x</key>
			<string>252.613</string>
			<key>y</key>
			<string>474.236</string>
		</dict>
		<key>{017489df-64d9-4d43-a19e-48134ca46c49}</key>
		<dict>
			<key>x</key>
			<string>192.319</string>
			<key>y</key>
			<string>479.197</string>
		</dict>
		<key>{a50ca29e-b0e8-4353-a1df-c52e97166da6}</key>
		<dict>
			<key>x</key>
			<string>132.025</string>
			<key>y</key>
			<string>479.197</string>
		</dict>
		<key>{a8da39fb-bc62-4647-8f90-2ee6b8c6652b}</key>
		<dict>
			<key>x</key>
			<string>71.7307</string>
			<key>y</key>
			<string>419.669</string>
		</dict>
		<key>{2b4dfd3e-f58e-4f2e-b954-81e0101bc9bf}</key>
		<dict>
			<key>x</key>
			<string>529.327</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{8808410c-6939-4486-8643-8a9713eabb0b}</key>
		<dict>
			<key>x</key>
			<string>499.889</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{ce8dc619-ddb3-4236-bcf5-ac0a39840ec5}</key>
		<dict>
			<key>x</key>
			<string>470.45</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{977b3c20-458b-4295-9f22-20a7a277c571}</key>
		<dict>
			<key>x</key>
			<string>441.012</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{fc19c16a-4aab-49c1-ba6f-5b2ec2e23b49}</key>
		<dict>
			<key>x</key>
			<string>404.363</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{714437df-d55a-4e57-a6ac-b7efcc366cf8}</key>
		<dict>
			<key>x</key>
			<string>374.925</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{c9b4ddf3-7cce-4989-8fd8-18a96c35a4d4}</key>
		<dict>
			<key>x</key>
			<string>345.487</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{8ddd6dbf-549a-4a77-aad5-de7cef13de07}</key>
		<dict>
			<key>x</key>
			<string>316.048</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{633fa5e1-2651-4e92-807c-fdc79f5d3d53}</key>
		<dict>
			<key>x</key>
			<string>256.458</string>
			<key>y</key>
			<string>327.898</string>
		</dict>
		<key>{45be3bf6-b030-4cd5-b7e8-8c90d2094339}</key>
		<dict>
			<key>x</key>
			<string>224.013</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{61b8533e-44e3-4dca-8df2-4fd892ba4404}</key>
		<dict>
			<key>x</key>
			<string>191.388</string>
			<key>y</key>
			<string>332.858</string>
		</dict>
		<key>{134f791c-89a8-47e7-8b7d-972d9ad46a29}</key>
		<dict>
			<key>x</key>
			<string>156.298</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{b4c03b68-d5d8-4fe8-9ebf-5ae53fbc926c}</key>
		<dict>
			<key>x</key>
			<string>127.954</string>
			<key>y</key>
			<string>327.898</string>
		</dict>
		<key>{a6ff7d5e-2808-4c0c-ac98-9dbb4c9cc6f4}</key>
		<dict>
			<key>x</key>
			<string>99.6097</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{447a6719-efdb-499a-817e-b1d22df4f976}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{3f545c23-4beb-4fe6-83d6-978e55715f3a}</key>
		<dict>
			<key>x</key>
			<string>499.844</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>{378b9de1-fccc-4cb8-aee1-07c7f2f01d91}</key>
		<dict>
			<key>x</key>
			<string>440.924</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{18c2a774-8330-4e8d-ba06-a7d3c9811b1c}</key>
		<dict>
			<key>x</key>
			<string>382.003</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{e0aeab45-81be-41ba-9e2a-d68f76dc688e}</key>
		<dict>
			<key>x</key>
			<string>323.082</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>{b760a118-a442-41ad-b2b5-a6b5ea45294f}</key>
		<dict>
			<key>x</key>
			<string>258.073</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>{cf98bb37-0525-40f3-ba1d-2915ef834755}</key>
		<dict>
			<key>x</key>
			<string>200.274</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{9825f7db-a43a-4853-ac37-b742f369db8b}</key>
		<dict>
			<key>x</key>
			<string>142.476</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{14fb9aac-21ee-4fa3-b698-ee7f1bb95f0e}</key>
		<dict>
			<key>x</key>
			<string>84.6779</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{e30a2744-72fc-4b95-a952-6580b937bbc3}</key>
		<dict>
			<key>x1</key>
			<string>450.156</string>
			<key>y1</key>
			<string>482.455</string>
			<key>x2</key>
			<string>450.156</string>
			<key>y2</key>
			<string>492.839</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{79e7b126-09d2-479d-b869-c349d8357cdc}</key>
		<dict>
			<key>x1</key>
			<string>385.155</string>
			<key>y1</key>
			<string>480.129</string>
			<key>x2</key>
			<string>385.155</string>
			<key>y2</key>
			<string>490.358</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{ed1806f5-b679-4e36-b385-921576c6ea8c}</key>
		<dict>
			<key>x1</key>
			<string>319.976</string>
			<key>y1</key>
			<string>477.648</string>
			<key>x2</key>
			<string>319.976</string>
			<key>y2</key>
			<string>487.878</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{e5d55499-d3bc-410c-8bc4-ab77753c1268}</key>
		<dict>
			<key>x1</key>
			<string>252.935</string>
			<key>y1</key>
			<string>475.168</string>
			<key>x2</key>
			<string>252.935</string>
			<key>y2</key>
			<string>485.398</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{017489df-64d9-4d43-a19e-48134ca46c49}</key>
		<dict>
			<key>x1</key>
			<string>192.641</string>
			<key>y1</key>
			<string>480.129</string>
			<key>x2</key>
			<string>192.641</string>
			<key>y2</key>
			<string>490.358</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{a50ca29e-b0e8-4353-a1df-c52e97166da6}</key>
		<dict>
			<key>x1</key>
			<string>132.347</string>
			<key>y1</key>
			<string>480.129</string>
			<key>x2</key>
			<string>132.347</string>
			<key>y2</key>
			<string>490.358</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{a8da39fb-bc62-4647-8f90-2ee6b8c6652b}</key>
		<dict>
			<key>x1</key>
			<string>77.9392</string>
			<key>y1</key>
			<string>418.738</string>
			<key>x2</key>
			<string>77.9392</string>
			<key>y2</key>
			<string>402.307</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{2b4dfd3e-f58e-4f2e-b954-81e0101bc9bf}</key>
		<dict>
			<key>x1</key>
			<string>535.535</string>
			<key>y1</key>
			<string>272.399</string>
			<key>x2</key>
			<string>535.535</string>
			<key>y2</key>
			<string>255.969</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{8808410c-6939-4486-8643-8a9713eabb0b}</key>
		<dict>
			<key>x1</key>
			<string>500.211</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>500.211</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{ce8dc619-ddb3-4236-bcf5-ac0a39840ec5}</key>
		<dict>
			<key>x1</key>
			<string>470.773</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>470.773</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{977b3c20-458b-4295-9f22-20a7a277c571}</key>
		<dict>
			<key>x1</key>
			<string>447.221</string>
			<key>y1</key>
			<string>272.399</string>
			<key>x2</key>
			<string>447.221</string>
			<key>y2</key>
			<string>255.969</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{fc19c16a-4aab-49c1-ba6f-5b2ec2e23b49}</key>
		<dict>
			<key>x1</key>
			<string>410.571</string>
			<key>y1</key>
			<string>272.399</string>
			<key>x2</key>
			<string>410.571</string>
			<key>y2</key>
			<string>255.969</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{714437df-d55a-4e57-a6ac-b7efcc366cf8}</key>
		<dict>
			<key>x1</key>
			<string>375.247</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>375.247</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{c9b4ddf3-7cce-4989-8fd8-18a96c35a4d4}</key>
		<dict>
			<key>x1</key>
			<string>345.809</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>345.809</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{8ddd6dbf-549a-4a77-aad5-de7cef13de07}</key>
		<dict>
			<key>x1</key>
			<string>322.257</string>
			<key>y1</key>
			<string>272.399</string>
			<key>x2</key>
			<string>322.257</string>
			<key>y2</key>
			<string>255.969</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{633fa5e1-2651-4e92-807c-fdc79f5d3d53}</key>
		<dict>
			<key>x1</key>
			<string>256.781</string>
			<key>y1</key>
			<string>328.675</string>
			<key>x2</key>
			<string>256.781</string>
			<key>y2</key>
			<string>339.059</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{45be3bf6-b030-4cd5-b7e8-8c90d2094339}</key>
		<dict>
			<key>x1</key>
			<string>224.335</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>224.335</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{61b8533e-44e3-4dca-8df2-4fd892ba4404}</key>
		<dict>
			<key>x1</key>
			<string>191.711</string>
			<key>y1</key>
			<string>333.79</string>
			<key>x2</key>
			<string>191.711</string>
			<key>y2</key>
			<string>344.02</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{134f791c-89a8-47e7-8b7d-972d9ad46a29}</key>
		<dict>
			<key>x1</key>
			<string>156.62</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>156.62</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{b4c03b68-d5d8-4fe8-9ebf-5ae53fbc926c}</key>
		<dict>
			<key>x1</key>
			<string>128.276</string>
			<key>y1</key>
			<string>328.829</string>
			<key>x2</key>
			<string>128.276</string>
			<key>y2</key>
			<string>339.059</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{a6ff7d5e-2808-4c0c-ac98-9dbb4c9cc6f4}</key>
		<dict>
			<key>x1</key>
			<string>105.818</string>
			<key>y1</key>
			<string>272.399</string>
			<key>x2</key>
			<string>105.818</string>
			<key>y2</key>
			<string>255.969</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{447a6719-efdb-499a-817e-b1d22df4f976}</key>
		<dict>
			<key>x1</key>
			<string>77.4742</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>77.4742</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3f545c23-4beb-4fe6-83d6-978e55715f3a}</key>
		<dict>
			<key>x1</key>
			<string>506.053</string>
			<key>y1</key>
			<string>126.06</string>
			<key>x2</key>
			<string>506.053</string>
			<key>y2</key>
			<string>109.63</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{378b9de1-fccc-4cb8-aee1-07c7f2f01d91}</key>
		<dict>
			<key>x1</key>
			<string>441.246</string>
			<key>y1</key>
			<string>184.971</string>
			<key>x2</key>
			<string>441.246</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{18c2a774-8330-4e8d-ba06-a7d3c9811b1c}</key>
		<dict>
			<key>x1</key>
			<string>382.325</string>
			<key>y1</key>
			<string>184.971</string>
			<key>x2</key>
			<string>382.325</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{e0aeab45-81be-41ba-9e2a-d68f76dc688e}</key>
		<dict>
			<key>x1</key>
			<string>329.291</string>
			<key>y1</key>
			<string>126.06</string>
			<key>x2</key>
			<string>329.291</string>
			<key>y2</key>
			<string>109.63</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b760a118-a442-41ad-b2b5-a6b5ea45294f}</key>
		<dict>
			<key>x1</key>
			<string>264.281</string>
			<key>y1</key>
			<string>126.06</string>
			<key>x2</key>
			<string>264.281</string>
			<key>y2</key>
			<string>109.63</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{cf98bb37-0525-40f3-ba1d-2915ef834755}</key>
		<dict>
			<key>x1</key>
			<string>200.597</string>
			<key>y1</key>
			<string>184.971</string>
			<key>x2</key>
			<string>200.597</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{9825f7db-a43a-4853-ac37-b742f369db8b}</key>
		<dict>
			<key>x1</key>
			<string>142.799</string>
			<key>y1</key>
			<string>184.971</string>
			<key>x2</key>
			<string>142.799</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{14fb9aac-21ee-4fa3-b698-ee7f1bb95f0e}</key>
		<dict>
			<key>x1</key>
			<string>90.8865</string>
			<key>y1</key>
			<string>126.06</string>
			<key>x2</key>
			<string>90.8865</string>
			<key>y2</key>
			<string>109.63</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
	</dict>
</dict>
</plist>