<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>pen_width</key>
	<string>0.40</string>
	<key>xend</key>
	<real>1723.2</real>
	<key>stafflines</key>
	<dict>
		<key>0</key>
		<dict>
			<key>x</key>
			<string>10.4173</string>
			<key>y</key>
			<string>16.3582</string>
			<key>bx</key>
			<string>10.4173</string>
			<key>by</key>
			<string>51.9378</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{9a99c2f9-7933-4413-b3ec-ae966b64868a}</key>
		<dict>
			<key>x</key>
			<string>1350.91</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{dd6e4d96-49bb-4ad7-835b-819af00768a4}</key>
		<dict>
			<key>x</key>
			<string>1350.91</string>
			<key>y</key>
			<string>33.7204</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{0c63948f-e3cb-4024-9662-06f4a5485c13}</key>
		<dict>
			<key>x</key>
			<string>1330.61</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9177067c-29c4-439f-b10e-8f92452a9745}</key>
		<dict>
			<key>x</key>
			<string>1330.61</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{0beb15b0-58da-4238-9933-fa7790315cbc}</key>
		<dict>
			<key>x</key>
			<string>1310.13</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{12c0d7c3-7700-4294-a29b-bf09e788533f}</key>
		<dict>
			<key>x</key>
			<string>1260.87</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{38937151-ec86-4032-81f2-257c6e4c3846}</key>
		<dict>
			<key>x</key>
			<string>1242.32</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{934ef2fb-a789-4b62-9113-ac52b36679a9}</key>
		<dict>
			<key>x</key>
			<string>1223.78</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{71d09661-753c-4f82-8a0e-ae2984d523a0}</key>
		<dict>
			<key>x</key>
			<string>1193.53</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c09465f6-e28e-462c-8087-dff93f3d7e67}</key>
		<dict>
			<key>x</key>
			<string>1174.98</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{23174794-5638-49a2-bcc9-8337c3e5561e}</key>
		<dict>
			<key>x</key>
			<string>1156.44</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b8f15253-782a-431e-a616-abed6485cea3}</key>
		<dict>
			<key>x</key>
			<string>1137.89</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{362cae6c-ce0b-4f07-8a39-1fe62e8ab890}</key>
		<dict>
			<key>x</key>
			<string>1107.64</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{f608a21b-20bb-4210-9194-6bb8b907ef49}</key>
		<dict>
			<key>x</key>
			<string>1089.09</string>
			<key>y</key>
			<string>38.681</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{077034a9-92b2-4ee1-8193-cd6b17e91fd3}</key>
		<dict>
			<key>x</key>
			<string>1070.55</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{54395db6-b5a9-4ea3-948d-2357d344390f}</key>
		<dict>
			<key>x</key>
			<string>1052</string>
			<key>y</key>
			<string>33.7204</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{9f49868e-6ef8-4e99-8964-408001f7abad}</key>
		<dict>
			<key>x</key>
			<string>1021.75</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{fd1ea571-71ff-41c2-b408-99d80084101a}</key>
		<dict>
			<key>x</key>
			<string>1003.2</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{cedd3c4b-f4d1-43c2-8f6b-57da795d6087}</key>
		<dict>
			<key>x</key>
			<string>984.657</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0c2051bd-d988-4f11-833c-edfb2c8d06a1}</key>
		<dict>
			<key>x</key>
			<string>966.112</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{4b408616-3f64-453d-813d-592dba985cf4}</key>
		<dict>
			<key>x</key>
			<string>935.859</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{561b07f0-d39b-4d15-8b31-9de584be15f4}</key>
		<dict>
			<key>x</key>
			<string>917.313</string>
			<key>y</key>
			<string>38.681</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{1deb70be-7a54-4bcc-9db6-71b24ef09e6e}</key>
		<dict>
			<key>x</key>
			<string>898.768</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{80b386f5-2c1a-4381-b604-3ba61fd3b44d}</key>
		<dict>
			<key>x</key>
			<string>880.222</string>
			<key>y</key>
			<string>33.7204</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{649749c7-e71b-4ab6-a682-65373a60682f}</key>
		<dict>
			<key>x</key>
			<string>831.424</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{4d64672c-18f2-4667-9f76-040d3ac075f7}</key>
		<dict>
			<key>x</key>
			<string>812.879</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{cf331266-829f-4baf-8dc0-a2c5509852c2}</key>
		<dict>
			<key>x</key>
			<string>794.333</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b79a8d8e-159b-4cc4-b075-3d46faa8922e}</key>
		<dict>
			<key>x</key>
			<string>745.535</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{519b1d6b-f5ec-4d73-a9a7-261d5201b6ef}</key>
		<dict>
			<key>x</key>
			<string>726.99</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6fb9793f-2d6d-4a4f-87ad-0d14fabce437}</key>
		<dict>
			<key>x</key>
			<string>708.444</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{bc50987b-9d68-4950-8fb8-2bf34e97e3f1}</key>
		<dict>
			<key>x</key>
			<string>678.191</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c48f0d22-7f3d-4116-b23d-1c9b5313bd44}</key>
		<dict>
			<key>x</key>
			<string>659.646</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b11bbcb6-f2c5-49a0-b797-37790358e521}</key>
		<dict>
			<key>x</key>
			<string>641.1</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{42619d0c-808c-42cb-a58b-b23916289b24}</key>
		<dict>
			<key>x</key>
			<string>622.555</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{bfcde70d-25cc-473e-b5c0-89e85528a505}</key>
		<dict>
			<key>x</key>
			<string>592.302</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{896f84b5-20cb-416c-ba09-dc5dc54aa852}</key>
		<dict>
			<key>x</key>
			<string>573.757</string>
			<key>y</key>
			<string>38.681</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{68ed4d1c-fd6e-455f-bec2-a1386a385d3c}</key>
		<dict>
			<key>x</key>
			<string>555.211</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{23107b92-b269-4b5e-a214-d114c3bf01db}</key>
		<dict>
			<key>x</key>
			<string>536.666</string>
			<key>y</key>
			<string>33.7204</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{94dcee20-0322-4f77-b795-da65bfc0f7f4}</key>
		<dict>
			<key>x</key>
			<string>506.413</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{af46a8f8-cef3-4b80-a2e9-75a9174405df}</key>
		<dict>
			<key>x</key>
			<string>487.868</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{65daa899-07f1-4cf3-91d9-fe394123271d}</key>
		<dict>
			<key>x</key>
			<string>469.322</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2a937aca-ffc6-4ba1-97a3-3beb10cbdccb}</key>
		<dict>
			<key>x</key>
			<string>450.777</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{46ad3f20-b6e0-4644-b19f-5410e1b40965}</key>
		<dict>
			<key>x</key>
			<string>420.524</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{31f83703-204a-4d6e-ade6-d4578d6175f5}</key>
		<dict>
			<key>x</key>
			<string>401.978</string>
			<key>y</key>
			<string>38.681</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{71e15c06-4dd0-4fb6-98a1-b6a5e90b6783}</key>
		<dict>
			<key>x</key>
			<string>383.433</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{4eca071d-a7b4-4ca1-850f-a3ef8ce4c325}</key>
		<dict>
			<key>x</key>
			<string>364.887</string>
			<key>y</key>
			<string>33.7204</string>
			<key>idx</key>
			<string>0</string>
		</dict>
	</dict>
	<key>rests</key>
	<dict>
		<key>{87c569f5-0772-44e6-95b3-5af6ecbff0db}</key>
		<dict>
			<key>x</key>
			<string>1653.22</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{140610ba-de85-4492-a34f-535571a3205b}</key>
		<dict>
			<key>x</key>
			<string>1653.22</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{6e654703-7317-427d-b0a9-c1612e13b751}</key>
		<dict>
			<key>x</key>
			<string>1567.34</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{cfe64e41-0cbf-4040-91bf-575a908a27db}</key>
		<dict>
			<key>x</key>
			<string>1567.34</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{90618032-5324-454d-8df3-4893440a1bda}</key>
		<dict>
			<key>x</key>
			<string>1481.45</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{65245238-7539-4d80-b31f-26035b9640c5}</key>
		<dict>
			<key>x</key>
			<string>1481.45</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{91575e63-a212-4149-9844-62b248cb399a}</key>
		<dict>
			<key>x</key>
			<string>1395.56</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2ac37e15-143f-4021-a5e3-ae66a33155ef}</key>
		<dict>
			<key>x</key>
			<string>1395.56</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{6fe208e8-0fad-43ac-9c0a-3819f1888a72}</key>
		<dict>
			<key>x</key>
			<string>1310.13</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{685d1d30-8140-4bc6-aa82-dfed6456e6f1}</key>
		<dict>
			<key>x</key>
			<string>1279.42</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{fdb2a5fd-6480-4dc8-80b5-a7a86b695047}</key>
		<dict>
			<key>x</key>
			<string>1223.78</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{3bb43fab-477f-48f4-83c3-29317f83cbed}</key>
		<dict>
			<key>x</key>
			<string>1137.89</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{85ef6e77-8583-4324-9c6f-92f9bcd0ec15}</key>
		<dict>
			<key>x</key>
			<string>1052</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{20fa1868-0f76-4ff9-8f0e-347559509bcd}</key>
		<dict>
			<key>x</key>
			<string>966.112</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{f3619b35-1c26-4ff4-bb99-10cbdb085e53}</key>
		<dict>
			<key>x</key>
			<string>880.222</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{fdcc5a3d-c187-4074-b5b8-4343bd2d65fc}</key>
		<dict>
			<key>x</key>
			<string>849.97</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6f9ca339-ed99-48f4-9b0b-1c74b34f8782}</key>
		<dict>
			<key>x</key>
			<string>794.333</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{e168e86d-b7b4-4bc7-abae-aa1caff72d1a}</key>
		<dict>
			<key>x</key>
			<string>764.081</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c3a51a4b-4406-489e-b655-714a86fa2a98}</key>
		<dict>
			<key>x</key>
			<string>708.444</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{ceabd164-a65b-48a3-9dfa-c640594d9058}</key>
		<dict>
			<key>x</key>
			<string>622.555</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{7627d1b0-7bd4-4f5f-97ce-d1342766a947}</key>
		<dict>
			<key>x</key>
			<string>536.666</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{17f2a6c8-ac2d-4a20-9b0c-a5f206e0426b}</key>
		<dict>
			<key>x</key>
			<string>450.777</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{91a8a35b-bafc-4ae2-b5fc-55c050f367b2}</key>
		<dict>
			<key>x</key>
			<string>364.887</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{bcc5954d-949d-4698-9139-4fa905a7b49e}</key>
		<dict>
			<key>x</key>
			<string>278.998</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{a5204422-70ab-4f9a-8fe7-12c9b7f96ca1}</key>
		<dict>
			<key>x</key>
			<string>278.998</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{3128e923-2b17-48b1-8118-849da10fd868}</key>
		<dict>
			<key>x</key>
			<string>193.109</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{05ea9a7b-8fbf-47a9-a1c9-a963472bccc4}</key>
		<dict>
			<key>x</key>
			<string>193.109</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{d26d6e6b-b99b-4832-9797-320cf5ebd58c}</key>
		<dict>
			<key>x</key>
			<string>107.22</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ea2a27d9-6873-4d5d-a08a-0e463f613eed}</key>
		<dict>
			<key>x</key>
			<string>107.22</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{0bb71e11-c193-4d17-8436-fe7a04322a32}</key>
		<dict>
			<key>x</key>
			<string>53.2988</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6c0f4bf1-0015-4c56-9b33-73ca3d291f49}</key>
		<dict>
			<key>x</key>
			<string>53.2988</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
	</dict>
	<key>dots</key>
	<dict>
	</dict>
	<key>note_dots</key>
	<dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{b523397d-260f-401a-9437-2845c18d1b86}</key>
		<dict>
			<key>x1</key>
			<string>1351.23</string>
			<key>y1</key>
			<string>69.2226</string>
			<key>x2</key>
			<string>1351.23</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0fbb783f-6b2b-4e7e-9aa4-b41ea1177a51}</key>
		<dict>
			<key>x1</key>
			<string>1357.47</string>
			<key>y1</key>
			<string>32.9585</string>
			<key>x2</key>
			<string>1357.47</string>
			<key>y2</key>
			<string>16.3582</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{881bcc62-a452-4381-9b1d-33082119b70e}</key>
		<dict>
			<key>x1</key>
			<string>1330.93</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>1330.93</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{a281e072-becd-46aa-b97a-fe2e0f34a4fe}</key>
		<dict>
			<key>x1</key>
			<string>1336.82</string>
			<key>y1</key>
			<string>35.269</string>
			<key>x2</key>
			<string>1336.82</string>
			<key>y2</key>
			<string>18.8385</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{0bea3137-b84b-497e-9d8e-c72347b9a667}</key>
		<dict>
			<key>x1</key>
			<string>1316.34</string>
			<key>y1</key>
			<string>40.2297</string>
			<key>x2</key>
			<string>1316.34</string>
			<key>y2</key>
			<string>23.7991</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{eb3c32a6-8c30-4f9a-8816-527a982b675d}</key>
		<dict>
			<key>x1</key>
			<string>1261.19</string>
			<key>y1</key>
			<string>74.3371</string>
			<key>x2</key>
			<string>1261.19</string>
			<key>y2</key>
			<string>90.1476</string>
			<key>height</key>
			<string>16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9fa62d1a-86f7-4caa-926b-659e70f66cf9}</key>
		<dict>
			<key>x1</key>
			<string>1242.65</string>
			<key>y1</key>
			<string>64.4159</string>
			<key>x2</key>
			<string>1242.65</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{e57faf3e-b9d1-4637-b27c-5cfe3b22121e}</key>
		<dict>
			<key>x1</key>
			<string>1224.1</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>1224.1</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{781af2ad-ca83-4d81-8106-f0e508446a51}</key>
		<dict>
			<key>x1</key>
			<string>1193.85</string>
			<key>y1</key>
			<string>74.3371</string>
			<key>x2</key>
			<string>1193.85</string>
			<key>y2</key>
			<string>90.1476</string>
			<key>height</key>
			<string>16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{477a1005-7876-4796-88f2-35f394c8175d}</key>
		<dict>
			<key>x1</key>
			<string>1175.3</string>
			<key>y1</key>
			<string>71.8568</string>
			<key>x2</key>
			<string>1175.3</string>
			<key>y2</key>
			<string>88.2873</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ea2e4a53-55ca-4027-8dd1-ffda70a593e2}</key>
		<dict>
			<key>x1</key>
			<string>1156.76</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>1156.76</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{985069b0-01e2-4fee-8335-72b823d66d5d}</key>
		<dict>
			<key>x1</key>
			<string>1138.21</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>1138.21</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{e4ea2dbf-06f1-48ed-80ef-b1ba337f3b7a}</key>
		<dict>
			<key>x1</key>
			<string>1113.85</string>
			<key>y1</key>
			<string>40.2297</string>
			<key>x2</key>
			<string>1113.85</string>
			<key>y2</key>
			<string>23.7991</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{78dd95b8-3eda-4979-a587-32dc844f9258}</key>
		<dict>
			<key>x1</key>
			<string>1095.3</string>
			<key>y1</key>
			<string>37.7494</string>
			<key>x2</key>
			<string>1095.3</string>
			<key>y2</key>
			<string>21.3188</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{83a9b6c8-2144-4faa-bd47-8e7f94843d25}</key>
		<dict>
			<key>x1</key>
			<string>1076.75</string>
			<key>y1</key>
			<string>35.269</string>
			<key>x2</key>
			<string>1076.75</string>
			<key>y2</key>
			<string>18.8385</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{5f3fcd8a-4ede-4f5b-a7d6-26c7f746496c}</key>
		<dict>
			<key>x1</key>
			<string>1058.21</string>
			<key>y1</key>
			<string>32.7887</string>
			<key>x2</key>
			<string>1058.21</string>
			<key>y2</key>
			<string>16.3582</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{04ffd3e3-cb6d-4ca9-8fe0-78d16f4a4c2b}</key>
		<dict>
			<key>x1</key>
			<string>1022.07</string>
			<key>y1</key>
			<string>74.3371</string>
			<key>x2</key>
			<string>1022.07</string>
			<key>y2</key>
			<string>90.1476</string>
			<key>height</key>
			<string>16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{91345ac1-cfd7-4728-beb3-34758dd953d7}</key>
		<dict>
			<key>x1</key>
			<string>1003.53</string>
			<key>y1</key>
			<string>71.8568</string>
			<key>x2</key>
			<string>1003.53</string>
			<key>y2</key>
			<string>88.2873</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0f831159-f39e-4bad-808c-7fd0da0027c2}</key>
		<dict>
			<key>x1</key>
			<string>984.98</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>984.98</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c13a6982-8223-48cb-9ce1-7bf75df21ee7}</key>
		<dict>
			<key>x1</key>
			<string>966.434</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>966.434</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0d2e6023-88a1-4460-8717-9da4b4985ce6}</key>
		<dict>
			<key>x1</key>
			<string>942.068</string>
			<key>y1</key>
			<string>40.2297</string>
			<key>x2</key>
			<string>942.068</string>
			<key>y2</key>
			<string>23.7991</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{99935d62-f862-479b-8a58-e3cebdd2d931}</key>
		<dict>
			<key>x1</key>
			<string>923.522</string>
			<key>y1</key>
			<string>37.7494</string>
			<key>x2</key>
			<string>923.522</string>
			<key>y2</key>
			<string>21.3188</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{2d532d2d-ba33-46f6-a49c-fb5605acde1f}</key>
		<dict>
			<key>x1</key>
			<string>904.977</string>
			<key>y1</key>
			<string>35.269</string>
			<key>x2</key>
			<string>904.977</string>
			<key>y2</key>
			<string>18.8385</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{28e061b7-989a-4e0e-afa1-8fdc5f9888da}</key>
		<dict>
			<key>x1</key>
			<string>886.431</string>
			<key>y1</key>
			<string>32.7887</string>
			<key>x2</key>
			<string>886.431</string>
			<key>y2</key>
			<string>16.3582</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{42ac8d75-f153-456b-8235-5e5fbe157a19}</key>
		<dict>
			<key>x1</key>
			<string>831.747</string>
			<key>y1</key>
			<string>71.8568</string>
			<key>x2</key>
			<string>831.747</string>
			<key>y2</key>
			<string>88.2873</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{70f6d30d-58cb-490b-8771-d71c092a9ecb}</key>
		<dict>
			<key>x1</key>
			<string>813.201</string>
			<key>y1</key>
			<string>64.4159</string>
			<key>x2</key>
			<string>813.201</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{18523f0c-34de-4058-b5d5-335939e8e378}</key>
		<dict>
			<key>x1</key>
			<string>794.656</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>794.656</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{22edf5a6-0437-4d21-b450-7466f444826c}</key>
		<dict>
			<key>x1</key>
			<string>745.858</string>
			<key>y1</key>
			<string>71.8568</string>
			<key>x2</key>
			<string>745.858</string>
			<key>y2</key>
			<string>88.2873</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2b808570-beda-4b9a-b1ed-2423fdd794d5}</key>
		<dict>
			<key>x1</key>
			<string>727.312</string>
			<key>y1</key>
			<string>64.4159</string>
			<key>x2</key>
			<string>727.312</string>
			<key>y2</key>
			<string>80.8464</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c43f0224-ede1-4592-8535-841ce8d5375e}</key>
		<dict>
			<key>x1</key>
			<string>708.767</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>708.767</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0ad492d2-25ea-4c7a-ae03-cf7b814a9310}</key>
		<dict>
			<key>x1</key>
			<string>678.514</string>
			<key>y1</key>
			<string>74.3371</string>
			<key>x2</key>
			<string>678.514</string>
			<key>y2</key>
			<string>90.1476</string>
			<key>height</key>
			<string>16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{866b93b7-d449-4e02-938f-99391c6c4870}</key>
		<dict>
			<key>x1</key>
			<string>659.968</string>
			<key>y1</key>
			<string>71.8568</string>
			<key>x2</key>
			<string>659.968</string>
			<key>y2</key>
			<string>88.2873</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7a8d7bce-f717-4f17-83f9-c7a0a8a3a622}</key>
		<dict>
			<key>x1</key>
			<string>641.423</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>641.423</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{66f13a88-02e7-4988-ab28-7f771b43b5a3}</key>
		<dict>
			<key>x1</key>
			<string>622.877</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>622.877</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{668302f9-4111-4c80-8793-02f5756aff04}</key>
		<dict>
			<key>x1</key>
			<string>598.511</string>
			<key>y1</key>
			<string>40.2297</string>
			<key>x2</key>
			<string>598.511</string>
			<key>y2</key>
			<string>23.7991</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{9d12d1c9-d420-49cb-9853-735c33852328}</key>
		<dict>
			<key>x1</key>
			<string>579.965</string>
			<key>y1</key>
			<string>37.7494</string>
			<key>x2</key>
			<string>579.965</string>
			<key>y2</key>
			<string>21.3188</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{2fbb1ca6-6627-4f6c-8dce-db61941b92dc}</key>
		<dict>
			<key>x1</key>
			<string>561.42</string>
			<key>y1</key>
			<string>35.269</string>
			<key>x2</key>
			<string>561.42</string>
			<key>y2</key>
			<string>18.8385</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{3320accc-131b-4e2e-86c4-a8df838d6055}</key>
		<dict>
			<key>x1</key>
			<string>542.874</string>
			<key>y1</key>
			<string>32.7887</string>
			<key>x2</key>
			<string>542.874</string>
			<key>y2</key>
			<string>16.3582</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{046d6e60-be95-4185-949b-12455de3c35f}</key>
		<dict>
			<key>x1</key>
			<string>506.736</string>
			<key>y1</key>
			<string>74.3371</string>
			<key>x2</key>
			<string>506.736</string>
			<key>y2</key>
			<string>90.1476</string>
			<key>height</key>
			<string>16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{306a491e-2d80-47a8-81e7-f697a0149475}</key>
		<dict>
			<key>x1</key>
			<string>488.19</string>
			<key>y1</key>
			<string>71.8568</string>
			<key>x2</key>
			<string>488.19</string>
			<key>y2</key>
			<string>88.2873</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{3042249e-81f1-4574-b47b-43a33f25a59b}</key>
		<dict>
			<key>x1</key>
			<string>469.645</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>469.645</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{1699bc04-a8d8-4806-af04-0718f2cfe547}</key>
		<dict>
			<key>x1</key>
			<string>451.099</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>451.099</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{13b86e81-7c31-403a-a214-b70bee0ae2fd}</key>
		<dict>
			<key>x1</key>
			<string>426.733</string>
			<key>y1</key>
			<string>40.2297</string>
			<key>x2</key>
			<string>426.733</string>
			<key>y2</key>
			<string>23.7991</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{35f4f7c5-5dca-44ea-a543-5777d311a196}</key>
		<dict>
			<key>x1</key>
			<string>408.187</string>
			<key>y1</key>
			<string>37.7494</string>
			<key>x2</key>
			<string>408.187</string>
			<key>y2</key>
			<string>21.3188</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{16f559a7-1a71-419c-8971-17244c781343}</key>
		<dict>
			<key>x1</key>
			<string>389.641</string>
			<key>y1</key>
			<string>35.269</string>
			<key>x2</key>
			<string>389.641</string>
			<key>y2</key>
			<string>18.8385</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{5e139f59-5d5d-40eb-babb-65b275f580b7}</key>
		<dict>
			<key>x1</key>
			<string>371.096</string>
			<key>y1</key>
			<string>32.7887</string>
			<key>x2</key>
			<string>371.096</string>
			<key>y2</key>
			<string>16.3582</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
	</dict>
	<key>note_stems</key>
	<dict>
		<key>{9a99c2f9-7933-4413-b3ec-ae966b64868a}</key>
		<string>{b523397d-260f-401a-9437-2845c18d1b86}</string>
		<key>{dd6e4d96-49bb-4ad7-835b-819af00768a4}</key>
		<string>{0fbb783f-6b2b-4e7e-9aa4-b41ea1177a51}</string>
		<key>{0c63948f-e3cb-4024-9662-06f4a5485c13}</key>
		<string>{881bcc62-a452-4381-9b1d-33082119b70e}</string>
		<key>{9177067c-29c4-439f-b10e-8f92452a9745}</key>
		<string>{a281e072-becd-46aa-b97a-fe2e0f34a4fe}</string>
		<key>{0beb15b0-58da-4238-9933-fa7790315cbc}</key>
		<string>{0bea3137-b84b-497e-9d8e-c72347b9a667}</string>
		<key>{12c0d7c3-7700-4294-a29b-bf09e788533f}</key>
		<string>{eb3c32a6-8c30-4f9a-8816-527a982b675d}</string>
		<key>{38937151-ec86-4032-81f2-257c6e4c3846}</key>
		<string>{9fa62d1a-86f7-4caa-926b-659e70f66cf9}</string>
		<key>{934ef2fb-a789-4b62-9113-ac52b36679a9}</key>
		<string>{e57faf3e-b9d1-4637-b27c-5cfe3b22121e}</string>
		<key>{71d09661-753c-4f82-8a0e-ae2984d523a0}</key>
		<string>{781af2ad-ca83-4d81-8106-f0e508446a51}</string>
		<key>{c09465f6-e28e-462c-8087-dff93f3d7e67}</key>
		<string>{477a1005-7876-4796-88f2-35f394c8175d}</string>
		<key>{23174794-5638-49a2-bcc9-8337c3e5561e}</key>
		<string>{ea2e4a53-55ca-4027-8dd1-ffda70a593e2}</string>
		<key>{b8f15253-782a-431e-a616-abed6485cea3}</key>
		<string>{985069b0-01e2-4fee-8335-72b823d66d5d}</string>
		<key>{362cae6c-ce0b-4f07-8a39-1fe62e8ab890}</key>
		<string>{e4ea2dbf-06f1-48ed-80ef-b1ba337f3b7a}</string>
		<key>{f608a21b-20bb-4210-9194-6bb8b907ef49}</key>
		<string>{78dd95b8-3eda-4979-a587-32dc844f9258}</string>
		<key>{077034a9-92b2-4ee1-8193-cd6b17e91fd3}</key>
		<string>{83a9b6c8-2144-4faa-bd47-8e7f94843d25}</string>
		<key>{54395db6-b5a9-4ea3-948d-2357d344390f}</key>
		<string>{5f3fcd8a-4ede-4f5b-a7d6-26c7f746496c}</string>
		<key>{9f49868e-6ef8-4e99-8964-408001f7abad}</key>
		<string>{04ffd3e3-cb6d-4ca9-8fe0-78d16f4a4c2b}</string>
		<key>{fd1ea571-71ff-41c2-b408-99d80084101a}</key>
		<string>{91345ac1-cfd7-4728-beb3-34758dd953d7}</string>
		<key>{cedd3c4b-f4d1-43c2-8f6b-57da795d6087}</key>
		<string>{0f831159-f39e-4bad-808c-7fd0da0027c2}</string>
		<key>{0c2051bd-d988-4f11-833c-edfb2c8d06a1}</key>
		<string>{c13a6982-8223-48cb-9ce1-7bf75df21ee7}</string>
		<key>{4b408616-3f64-453d-813d-592dba985cf4}</key>
		<string>{0d2e6023-88a1-4460-8717-9da4b4985ce6}</string>
		<key>{561b07f0-d39b-4d15-8b31-9de584be15f4}</key>
		<string>{99935d62-f862-479b-8a58-e3cebdd2d931}</string>
		<key>{1deb70be-7a54-4bcc-9db6-71b24ef09e6e}</key>
		<string>{2d532d2d-ba33-46f6-a49c-fb5605acde1f}</string>
		<key>{80b386f5-2c1a-4381-b604-3ba61fd3b44d}</key>
		<string>{28e061b7-989a-4e0e-afa1-8fdc5f9888da}</string>
		<key>{649749c7-e71b-4ab6-a682-65373a60682f}</key>
		<string>{42ac8d75-f153-456b-8235-5e5fbe157a19}</string>
		<key>{4d64672c-18f2-4667-9f76-040d3ac075f7}</key>
		<string>{70f6d30d-58cb-490b-8771-d71c092a9ecb}</string>
		<key>{cf331266-829f-4baf-8dc0-a2c5509852c2}</key>
		<string>{18523f0c-34de-4058-b5d5-335939e8e378}</string>
		<key>{b79a8d8e-159b-4cc4-b075-3d46faa8922e}</key>
		<string>{22edf5a6-0437-4d21-b450-7466f444826c}</string>
		<key>{519b1d6b-f5ec-4d73-a9a7-261d5201b6ef}</key>
		<string>{2b808570-beda-4b9a-b1ed-2423fdd794d5}</string>
		<key>{6fb9793f-2d6d-4a4f-87ad-0d14fabce437}</key>
		<string>{c43f0224-ede1-4592-8535-841ce8d5375e}</string>
		<key>{bc50987b-9d68-4950-8fb8-2bf34e97e3f1}</key>
		<string>{0ad492d2-25ea-4c7a-ae03-cf7b814a9310}</string>
		<key>{c48f0d22-7f3d-4116-b23d-1c9b5313bd44}</key>
		<string>{866b93b7-d449-4e02-938f-99391c6c4870}</string>
		<key>{b11bbcb6-f2c5-49a0-b797-37790358e521}</key>
		<string>{7a8d7bce-f717-4f17-83f9-c7a0a8a3a622}</string>
		<key>{42619d0c-808c-42cb-a58b-b23916289b24}</key>
		<string>{66f13a88-02e7-4988-ab28-7f771b43b5a3}</string>
		<key>{bfcde70d-25cc-473e-b5c0-89e85528a505}</key>
		<string>{668302f9-4111-4c80-8793-02f5756aff04}</string>
		<key>{896f84b5-20cb-416c-ba09-dc5dc54aa852}</key>
		<string>{9d12d1c9-d420-49cb-9853-735c33852328}</string>
		<key>{68ed4d1c-fd6e-455f-bec2-a1386a385d3c}</key>
		<string>{2fbb1ca6-6627-4f6c-8dce-db61941b92dc}</string>
		<key>{23107b92-b269-4b5e-a214-d114c3bf01db}</key>
		<string>{3320accc-131b-4e2e-86c4-a8df838d6055}</string>
		<key>{94dcee20-0322-4f77-b795-da65bfc0f7f4}</key>
		<string>{046d6e60-be95-4185-949b-12455de3c35f}</string>
		<key>{af46a8f8-cef3-4b80-a2e9-75a9174405df}</key>
		<string>{306a491e-2d80-47a8-81e7-f697a0149475}</string>
		<key>{65daa899-07f1-4cf3-91d9-fe394123271d}</key>
		<string>{3042249e-81f1-4574-b47b-43a33f25a59b}</string>
		<key>{2a937aca-ffc6-4ba1-97a3-3beb10cbdccb}</key>
		<string>{1699bc04-a8d8-4806-af04-0718f2cfe547}</string>
		<key>{46ad3f20-b6e0-4644-b19f-5410e1b40965}</key>
		<string>{13b86e81-7c31-403a-a214-b70bee0ae2fd}</string>
		<key>{31f83703-204a-4d6e-ade6-d4578d6175f5}</key>
		<string>{35f4f7c5-5dca-44ea-a543-5777d311a196}</string>
		<key>{71e15c06-4dd0-4fb6-98a1-b6a5e90b6783}</key>
		<string>{16f559a7-1a71-419c-8971-17244c781343}</string>
		<key>{4eca071d-a7b4-4ca1-850f-a3ef8ce4c325}</key>
		<string>{5e139f59-5d5d-40eb-babb-65b275f580b7}</string>
	</dict>
	<key>note_finger</key>
	<dict>
	</dict>
	<key>note_step</key>
	<dict>
		<key>{9a99c2f9-7933-4413-b3ec-ae966b64868a}</key>
		<string>{7bfb3f53-a00d-4c78-ba14-74367ca4c8fe}</string>
		<key>{dd6e4d96-49bb-4ad7-835b-819af00768a4}</key>
		<string>{afdbb03f-6d6b-463b-97ca-162ef9a5de6f}</string>
		<key>{0c63948f-e3cb-4024-9662-06f4a5485c13}</key>
		<string>{46306483-c039-414b-add7-c44d30beb936}</string>
		<key>{9177067c-29c4-439f-b10e-8f92452a9745}</key>
		<string>{6d3324c3-c39a-4260-898d-addbf7e0dd19}</string>
		<key>{0beb15b0-58da-4238-9933-fa7790315cbc}</key>
		<string>{053cc1a7-fcd3-4b28-9886-92ad0eba744b}</string>
		<key>{12c0d7c3-7700-4294-a29b-bf09e788533f}</key>
		<string>{30159d41-00f8-49b5-bf63-5c1bd0c67fa7}</string>
		<key>{38937151-ec86-4032-81f2-257c6e4c3846}</key>
		<string>{b5153ca9-05cd-4752-b6ed-948db0af8da8}</string>
		<key>{934ef2fb-a789-4b62-9113-ac52b36679a9}</key>
		<string>{2f72584f-b768-49c5-8d4c-7fab48ec17e6}</string>
		<key>{71d09661-753c-4f82-8a0e-ae2984d523a0}</key>
		<string>{7a92cd68-2542-4135-9301-05b12ab0bdbd}</string>
		<key>{c09465f6-e28e-462c-8087-dff93f3d7e67}</key>
		<string>{e9d9eb7e-ce3c-4870-b7a9-76eefb3555d1}</string>
		<key>{23174794-5638-49a2-bcc9-8337c3e5561e}</key>
		<string>{3d1fa85c-51ca-495e-a1ff-3ca4c21f8614}</string>
		<key>{b8f15253-782a-431e-a616-abed6485cea3}</key>
		<string>{a0d27828-6aed-4539-9ffa-87e5c53bbe6f}</string>
		<key>{362cae6c-ce0b-4f07-8a39-1fe62e8ab890}</key>
		<string>{7646c9ba-e305-4c57-aa7f-f6f78ccbf593}</string>
		<key>{f608a21b-20bb-4210-9194-6bb8b907ef49}</key>
		<string>{8c7fd8b1-f574-44dc-8150-45dcac0bd22e}</string>
		<key>{077034a9-92b2-4ee1-8193-cd6b17e91fd3}</key>
		<string>{8adc5434-b8d3-468a-a0fd-9bf8449d89cc}</string>
		<key>{54395db6-b5a9-4ea3-948d-2357d344390f}</key>
		<string>{cc915649-b89e-4c86-8b2d-e6d7dfae58ea}</string>
		<key>{9f49868e-6ef8-4e99-8964-408001f7abad}</key>
		<string>{aa59e6a0-c214-4ccc-b666-c7bb9f2412e3}</string>
		<key>{fd1ea571-71ff-41c2-b408-99d80084101a}</key>
		<string>{c1759d4e-2846-4a09-8c28-365147e0b07d}</string>
		<key>{cedd3c4b-f4d1-43c2-8f6b-57da795d6087}</key>
		<string>{bc6a951c-69d5-48cf-8c25-2312263b7e57}</string>
		<key>{0c2051bd-d988-4f11-833c-edfb2c8d06a1}</key>
		<string>{a068b321-c1da-4ea5-b209-c176fc373dc9}</string>
		<key>{4b408616-3f64-453d-813d-592dba985cf4}</key>
		<string>{2170512f-9373-4f53-b571-e75e19b19fe4}</string>
		<key>{561b07f0-d39b-4d15-8b31-9de584be15f4}</key>
		<string>{382afd7f-351d-4453-9391-579c29451f8b}</string>
		<key>{1deb70be-7a54-4bcc-9db6-71b24ef09e6e}</key>
		<string>{6b42d2f8-c003-40eb-9d21-ed638607ed3e}</string>
		<key>{80b386f5-2c1a-4381-b604-3ba61fd3b44d}</key>
		<string>{ef9b34d7-1e48-4c9f-97c6-19bf4b9642e4}</string>
		<key>{649749c7-e71b-4ab6-a682-65373a60682f}</key>
		<string>{7a0667ef-400a-46ac-a4b0-409c8f5462b0}</string>
		<key>{4d64672c-18f2-4667-9f76-040d3ac075f7}</key>
		<string>{5d7ff69a-5efe-4a7d-af66-08ed94eab4af}</string>
		<key>{cf331266-829f-4baf-8dc0-a2c5509852c2}</key>
		<string>{81e42eb9-dd62-44dd-b9e8-240faa60e8aa}</string>
		<key>{b79a8d8e-159b-4cc4-b075-3d46faa8922e}</key>
		<string>{6f3e5765-73b7-418a-9f37-7ac29efe50bb}</string>
		<key>{519b1d6b-f5ec-4d73-a9a7-261d5201b6ef}</key>
		<string>{fb044ff5-e635-4324-86d2-9e2f6a8c4f91}</string>
		<key>{6fb9793f-2d6d-4a4f-87ad-0d14fabce437}</key>
		<string>{fae7b1d0-50b4-491a-94c7-c53a7ad35e8c}</string>
		<key>{bc50987b-9d68-4950-8fb8-2bf34e97e3f1}</key>
		<string>{39a68c53-589d-4b25-99da-da7ba2ac3372}</string>
		<key>{c48f0d22-7f3d-4116-b23d-1c9b5313bd44}</key>
		<string>{7d50fbe3-2a5c-46ec-bb6d-e1be69733d0c}</string>
		<key>{b11bbcb6-f2c5-49a0-b797-37790358e521}</key>
		<string>{0ee8b3c6-ddd9-4510-9598-38e9a1a0ad0b}</string>
		<key>{42619d0c-808c-42cb-a58b-b23916289b24}</key>
		<string>{1ff07157-dd0e-405e-994c-b41b94fc1f6b}</string>
		<key>{bfcde70d-25cc-473e-b5c0-89e85528a505}</key>
		<string>{9eb842aa-98fe-4283-8bca-ef5aff74ff8d}</string>
		<key>{896f84b5-20cb-416c-ba09-dc5dc54aa852}</key>
		<string>{7dd64b7f-8aba-4491-8c54-a816add13fed}</string>
		<key>{68ed4d1c-fd6e-455f-bec2-a1386a385d3c}</key>
		<string>{48629cf0-c2d3-4d9c-8e74-f84cf586ac5a}</string>
		<key>{23107b92-b269-4b5e-a214-d114c3bf01db}</key>
		<string>{615728e6-e7d9-4a20-bec6-5c86e5058d52}</string>
		<key>{94dcee20-0322-4f77-b795-da65bfc0f7f4}</key>
		<string>{76bb7636-6a68-48c6-b3d6-680d96f9f764}</string>
		<key>{af46a8f8-cef3-4b80-a2e9-75a9174405df}</key>
		<string>{0ea3ada2-1ab0-4b2d-9f31-e350826fa78f}</string>
		<key>{65daa899-07f1-4cf3-91d9-fe394123271d}</key>
		<string>{b07d845c-b471-48ac-91a4-58fc8e3926a9}</string>
		<key>{2a937aca-ffc6-4ba1-97a3-3beb10cbdccb}</key>
		<string>{c5ebe6d5-20a0-423b-a508-81e599ec787f}</string>
		<key>{46ad3f20-b6e0-4644-b19f-5410e1b40965}</key>
		<string>{27f5385c-2ecf-488e-912f-69ad673e55dc}</string>
		<key>{31f83703-204a-4d6e-ade6-d4578d6175f5}</key>
		<string>{6f28a2df-d6bd-4117-9012-3bc7c8665301}</string>
		<key>{71e15c06-4dd0-4fb6-98a1-b6a5e90b6783}</key>
		<string>{eadea1b3-8e16-424a-bbe6-53ee00e7f435}</string>
		<key>{4eca071d-a7b4-4ca1-850f-a3ef8ce4c325}</key>
		<string>{32e433fb-4432-4b48-b556-f07fe980a360}</string>
	</dict>
	<key>note_light</key>
	<dict>
		<key>{9a99c2f9-7933-4413-b3ec-ae966b64868a}</key>
		<array>
			
			<string>{b523397d-260f-401a-9437-2845c18d1b86}</string>
		</array>
		<key>{dd6e4d96-49bb-4ad7-835b-819af00768a4}</key>
		<array>
			
			<string>{0fbb783f-6b2b-4e7e-9aa4-b41ea1177a51}</string>
		</array>
		<key>{0c63948f-e3cb-4024-9662-06f4a5485c13}</key>
		<array>
			
			<string>{881bcc62-a452-4381-9b1d-33082119b70e}</string>
		</array>
		<key>{9177067c-29c4-439f-b10e-8f92452a9745}</key>
		<array>
			
			<string>{a281e072-becd-46aa-b97a-fe2e0f34a4fe}</string>
		</array>
		<key>{0beb15b0-58da-4238-9933-fa7790315cbc}</key>
		<array>
			
			<string>{0bea3137-b84b-497e-9d8e-c72347b9a667}</string>
		</array>
		<key>{12c0d7c3-7700-4294-a29b-bf09e788533f}</key>
		<array>
			
			<string>{eb3c32a6-8c30-4f9a-8816-527a982b675d}</string>
		</array>
		<key>{38937151-ec86-4032-81f2-257c6e4c3846}</key>
		<array>
			
			<string>{9fa62d1a-86f7-4caa-926b-659e70f66cf9}</string>
		</array>
		<key>{934ef2fb-a789-4b62-9113-ac52b36679a9}</key>
		<array>
			
			<string>{e57faf3e-b9d1-4637-b27c-5cfe3b22121e}</string>
		</array>
		<key>{71d09661-753c-4f82-8a0e-ae2984d523a0}</key>
		<array>
			
			<string>{781af2ad-ca83-4d81-8106-f0e508446a51}</string>
		</array>
		<key>{c09465f6-e28e-462c-8087-dff93f3d7e67}</key>
		<array>
			
			<string>{477a1005-7876-4796-88f2-35f394c8175d}</string>
		</array>
		<key>{23174794-5638-49a2-bcc9-8337c3e5561e}</key>
		<array>
			
			<string>{ea2e4a53-55ca-4027-8dd1-ffda70a593e2}</string>
		</array>
		<key>{b8f15253-782a-431e-a616-abed6485cea3}</key>
		<array>
			
			<string>{985069b0-01e2-4fee-8335-72b823d66d5d}</string>
		</array>
		<key>{362cae6c-ce0b-4f07-8a39-1fe62e8ab890}</key>
		<array>
			
			<string>{e4ea2dbf-06f1-48ed-80ef-b1ba337f3b7a}</string>
		</array>
		<key>{f608a21b-20bb-4210-9194-6bb8b907ef49}</key>
		<array>
			
			<string>{78dd95b8-3eda-4979-a587-32dc844f9258}</string>
		</array>
		<key>{077034a9-92b2-4ee1-8193-cd6b17e91fd3}</key>
		<array>
			
			<string>{83a9b6c8-2144-4faa-bd47-8e7f94843d25}</string>
		</array>
		<key>{54395db6-b5a9-4ea3-948d-2357d344390f}</key>
		<array>
			
			<string>{5f3fcd8a-4ede-4f5b-a7d6-26c7f746496c}</string>
		</array>
		<key>{9f49868e-6ef8-4e99-8964-408001f7abad}</key>
		<array>
			
			<string>{04ffd3e3-cb6d-4ca9-8fe0-78d16f4a4c2b}</string>
		</array>
		<key>{fd1ea571-71ff-41c2-b408-99d80084101a}</key>
		<array>
			
			<string>{91345ac1-cfd7-4728-beb3-34758dd953d7}</string>
		</array>
		<key>{cedd3c4b-f4d1-43c2-8f6b-57da795d6087}</key>
		<array>
			
			<string>{0f831159-f39e-4bad-808c-7fd0da0027c2}</string>
		</array>
		<key>{0c2051bd-d988-4f11-833c-edfb2c8d06a1}</key>
		<array>
			
			<string>{c13a6982-8223-48cb-9ce1-7bf75df21ee7}</string>
		</array>
		<key>{4b408616-3f64-453d-813d-592dba985cf4}</key>
		<array>
			
			<string>{0d2e6023-88a1-4460-8717-9da4b4985ce6}</string>
		</array>
		<key>{561b07f0-d39b-4d15-8b31-9de584be15f4}</key>
		<array>
			
			<string>{99935d62-f862-479b-8a58-e3cebdd2d931}</string>
		</array>
		<key>{1deb70be-7a54-4bcc-9db6-71b24ef09e6e}</key>
		<array>
			
			<string>{2d532d2d-ba33-46f6-a49c-fb5605acde1f}</string>
		</array>
		<key>{80b386f5-2c1a-4381-b604-3ba61fd3b44d}</key>
		<array>
			
			<string>{28e061b7-989a-4e0e-afa1-8fdc5f9888da}</string>
		</array>
		<key>{649749c7-e71b-4ab6-a682-65373a60682f}</key>
		<array>
			
			<string>{42ac8d75-f153-456b-8235-5e5fbe157a19}</string>
		</array>
		<key>{4d64672c-18f2-4667-9f76-040d3ac075f7}</key>
		<array>
			
			<string>{70f6d30d-58cb-490b-8771-d71c092a9ecb}</string>
		</array>
		<key>{cf331266-829f-4baf-8dc0-a2c5509852c2}</key>
		<array>
			
			<string>{18523f0c-34de-4058-b5d5-335939e8e378}</string>
		</array>
		<key>{b79a8d8e-159b-4cc4-b075-3d46faa8922e}</key>
		<array>
			
			<string>{22edf5a6-0437-4d21-b450-7466f444826c}</string>
		</array>
		<key>{519b1d6b-f5ec-4d73-a9a7-261d5201b6ef}</key>
		<array>
			
			<string>{2b808570-beda-4b9a-b1ed-2423fdd794d5}</string>
		</array>
		<key>{6fb9793f-2d6d-4a4f-87ad-0d14fabce437}</key>
		<array>
			
			<string>{c43f0224-ede1-4592-8535-841ce8d5375e}</string>
		</array>
		<key>{bc50987b-9d68-4950-8fb8-2bf34e97e3f1}</key>
		<array>
			
			<string>{0ad492d2-25ea-4c7a-ae03-cf7b814a9310}</string>
		</array>
		<key>{c48f0d22-7f3d-4116-b23d-1c9b5313bd44}</key>
		<array>
			
			<string>{866b93b7-d449-4e02-938f-99391c6c4870}</string>
		</array>
		<key>{b11bbcb6-f2c5-49a0-b797-37790358e521}</key>
		<array>
			
			<string>{7a8d7bce-f717-4f17-83f9-c7a0a8a3a622}</string>
		</array>
		<key>{42619d0c-808c-42cb-a58b-b23916289b24}</key>
		<array>
			
			<string>{66f13a88-02e7-4988-ab28-7f771b43b5a3}</string>
		</array>
		<key>{bfcde70d-25cc-473e-b5c0-89e85528a505}</key>
		<array>
			
			<string>{668302f9-4111-4c80-8793-02f5756aff04}</string>
		</array>
		<key>{896f84b5-20cb-416c-ba09-dc5dc54aa852}</key>
		<array>
			
			<string>{9d12d1c9-d420-49cb-9853-735c33852328}</string>
		</array>
		<key>{68ed4d1c-fd6e-455f-bec2-a1386a385d3c}</key>
		<array>
			
			<string>{2fbb1ca6-6627-4f6c-8dce-db61941b92dc}</string>
		</array>
		<key>{23107b92-b269-4b5e-a214-d114c3bf01db}</key>
		<array>
			
			<string>{3320accc-131b-4e2e-86c4-a8df838d6055}</string>
		</array>
		<key>{94dcee20-0322-4f77-b795-da65bfc0f7f4}</key>
		<array>
			
			<string>{046d6e60-be95-4185-949b-12455de3c35f}</string>
		</array>
		<key>{af46a8f8-cef3-4b80-a2e9-75a9174405df}</key>
		<array>
			
			<string>{306a491e-2d80-47a8-81e7-f697a0149475}</string>
		</array>
		<key>{65daa899-07f1-4cf3-91d9-fe394123271d}</key>
		<array>
			
			<string>{3042249e-81f1-4574-b47b-43a33f25a59b}</string>
		</array>
		<key>{2a937aca-ffc6-4ba1-97a3-3beb10cbdccb}</key>
		<array>
			
			<string>{1699bc04-a8d8-4806-af04-0718f2cfe547}</string>
		</array>
		<key>{46ad3f20-b6e0-4644-b19f-5410e1b40965}</key>
		<array>
			
			<string>{13b86e81-7c31-403a-a214-b70bee0ae2fd}</string>
		</array>
		<key>{31f83703-204a-4d6e-ade6-d4578d6175f5}</key>
		<array>
			
			<string>{35f4f7c5-5dca-44ea-a543-5777d311a196}</string>
		</array>
		<key>{71e15c06-4dd0-4fb6-98a1-b6a5e90b6783}</key>
		<array>
			
			<string>{16f559a7-1a71-419c-8971-17244c781343}</string>
		</array>
		<key>{4eca071d-a7b4-4ca1-850f-a3ef8ce4c325}</key>
		<array>
			
			<string>{5e139f59-5d5d-40eb-babb-65b275f580b7}</string>
		</array>
	</dict>
</dict>
</plist>