<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>pen_width</key>
	<string>0.40</string>
	<key>xend</key>
	<real>1062.07</real>
	<key>stafflines</key>
	<dict>
		<key>0</key>
		<dict>
			<key>x</key>
			<string>10.4173</string>
			<key>y</key>
			<string>16.3582</string>
			<key>bx</key>
			<string>10.4173</string>
			<key>by</key>
			<string>51.9378</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{13a52967-8206-470d-be10-0986905b918c}</key>
		<dict>
			<key>x</key>
			<string>852.969</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{8904c461-d344-4202-a712-2e9fbbfedd00}</key>
		<dict>
			<key>x</key>
			<string>830.011</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{93185fe6-9f9a-487f-a068-01a66420fa83}</key>
		<dict>
			<key>x</key>
			<string>806.874</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{9f460f0f-a63e-43f7-b7d5-5f55146fb007}</key>
		<dict>
			<key>x</key>
			<string>781.405</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{f036e9d6-f413-4dbe-b6c3-2f1527c7b112}</key>
		<dict>
			<key>x</key>
			<string>760.699</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{af987dca-496f-40de-8a80-8481bb62aa1a}</key>
		<dict>
			<key>x</key>
			<string>739.992</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{6d2ea367-0340-463e-be7a-5ebab29cd4e9}</key>
		<dict>
			<key>x</key>
			<string>719.285</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{808c3c2e-4c25-4c8d-9825-7bcc64784295}</key>
		<dict>
			<key>x</key>
			<string>693.351</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b0145a3c-4b19-485d-a030-f16008dc41ac}</key>
		<dict>
			<key>x</key>
			<string>672.644</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{631be39f-2a1b-4961-9a48-de38eb4d95a8}</key>
		<dict>
			<key>x</key>
			<string>651.938</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{2e1ce1b6-fef5-4bb4-991f-4db473b17f78}</key>
		<dict>
			<key>x</key>
			<string>631.231</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0979194d-f84d-4a56-b721-af12e2f702e9}</key>
		<dict>
			<key>x</key>
			<string>605.297</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{53e97dc1-2a97-4891-a688-9720c4172cce}</key>
		<dict>
			<key>x</key>
			<string>584.59</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{dc0cd57f-aff1-41f5-816b-aef35ca0707a}</key>
		<dict>
			<key>x</key>
			<string>563.883</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{88833148-a75f-4e5d-bcf8-006e21e01706}</key>
		<dict>
			<key>x</key>
			<string>543.177</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c7e020ca-9cda-4de8-9c0f-2e0801cfe57b}</key>
		<dict>
			<key>x</key>
			<string>500.752</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{10077c97-202d-4efa-932f-d3815757efbe}</key>
		<dict>
			<key>x</key>
			<string>477.794</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{f8fd5eb4-9e7b-443c-828a-82dea3d6fb2c}</key>
		<dict>
			<key>x</key>
			<string>454.657</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{c68a6561-e7e9-46ea-9d0d-2532d5d0bf50}</key>
		<dict>
			<key>x</key>
			<string>429.072</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{a08e7b92-9e34-4c2f-92f6-2eb90e939f0d}</key>
		<dict>
			<key>x</key>
			<string>408.249</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{bbc7cf9e-05bd-4b13-985b-e9ff072af2b6}</key>
		<dict>
			<key>x</key>
			<string>387.426</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6f854f0c-97e2-4275-87bc-d4ec053287bf}</key>
		<dict>
			<key>x</key>
			<string>366.603</string>
			<key>y</key>
			<string>38.681</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6c1eaed5-af0b-4a66-b092-72213f512da2}</key>
		<dict>
			<key>x</key>
			<string>341.134</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7ec00b74-49dc-4d5c-ac67-f885971ba10a}</key>
		<dict>
			<key>x</key>
			<string>320.427</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{06f26d76-7fb4-4461-a173-e4f8c3c80d4b}</key>
		<dict>
			<key>x</key>
			<string>299.72</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{169c0f9b-c33f-4575-8bed-5f2e4e7c5582}</key>
		<dict>
			<key>x</key>
			<string>279.014</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{80f6ea62-7823-4a05-a194-f216c649a58f}</key>
		<dict>
			<key>x</key>
			<string>253.08</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{93f0c607-1536-425e-842d-c578351efe98}</key>
		<dict>
			<key>x</key>
			<string>232.373</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{793f5c38-276f-4614-9001-dde31d8b6e97}</key>
		<dict>
			<key>x</key>
			<string>211.666</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{21ac5300-aaf9-4061-a9ee-17591bf83d08}</key>
		<dict>
			<key>x</key>
			<string>190.959</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>rests</key>
	<dict>
		<key>{175b946a-a1fb-438b-94a0-4bb83fff1447}</key>
		<dict>
			<key>x</key>
			<string>982.983</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{c4819348-ef6e-41e1-80fc-626a9f98a5f2}</key>
		<dict>
			<key>x</key>
			<string>982.983</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6b3244ae-6023-4162-931e-c92b4d6d60b4}</key>
		<dict>
			<key>x</key>
			<string>894.929</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{b8df3f4b-4f48-48cf-83f8-174f91d671a4}</key>
		<dict>
			<key>x</key>
			<string>894.929</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{bd7a33fa-0bdd-4b1f-b357-3fcd6d309d9f}</key>
		<dict>
			<key>x</key>
			<string>806.874</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{41721620-ef5e-4ff0-ad8f-640ac5b34feb}</key>
		<dict>
			<key>x</key>
			<string>760.699</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0885773c-57a9-4fe1-aef4-982a0e8c2af0}</key>
		<dict>
			<key>x</key>
			<string>739.992</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6ac5977c-09be-4615-a605-d39145153786}</key>
		<dict>
			<key>x</key>
			<string>719.285</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{9b616553-ece1-458c-b07e-cc7260a77e35}</key>
		<dict>
			<key>x</key>
			<string>693.351</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{8bcaca44-5355-42cf-aa08-434cb460a02a}</key>
		<dict>
			<key>x</key>
			<string>672.644</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2f5127af-aa57-4129-9a48-5adeed25b568}</key>
		<dict>
			<key>x</key>
			<string>651.938</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2798f861-4c9b-45b8-96e8-fe614e533fd3}</key>
		<dict>
			<key>x</key>
			<string>631.231</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{a4b5dc0a-3b90-40fa-a6c6-8640098ea575}</key>
		<dict>
			<key>x</key>
			<string>605.297</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{2943f505-f9f9-4e0f-adf8-c33ecb03cf6a}</key>
		<dict>
			<key>x</key>
			<string>584.59</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{798ad635-9603-47f2-aed4-7c8a0d9bfdc6}</key>
		<dict>
			<key>x</key>
			<string>563.883</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f8b28fa5-3e36-4f4d-9342-c854717c606e}</key>
		<dict>
			<key>x</key>
			<string>543.177</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{38d4ebd2-9ff1-44fb-b06f-041aa4dfbe8c}</key>
		<dict>
			<key>x</key>
			<string>454.657</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{4cfddf33-d373-4175-84d3-041d467d5f69}</key>
		<dict>
			<key>x</key>
			<string>408.249</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0bd8a3be-1e2b-432e-9121-27c51b6ba478}</key>
		<dict>
			<key>x</key>
			<string>366.603</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{3920c489-e7ef-4db0-93ad-8453aaad3d04}</key>
		<dict>
			<key>x</key>
			<string>341.134</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{3a6ca52f-91d2-4c4b-aa82-416deeaa880d}</key>
		<dict>
			<key>x</key>
			<string>320.427</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0f5d1a97-c167-4412-81d5-29ca29cecd8b}</key>
		<dict>
			<key>x</key>
			<string>299.72</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{721b77cd-20cd-407a-99ab-117f6ce9cc30}</key>
		<dict>
			<key>x</key>
			<string>279.014</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{39cd431a-3cff-4726-8478-71b6a4f4f75e}</key>
		<dict>
			<key>x</key>
			<string>253.08</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{812e3476-f962-4e62-a755-ee83a9c6e8be}</key>
		<dict>
			<key>x</key>
			<string>232.373</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{e3caad8d-ff73-4195-8c33-7dfe01b2c48f}</key>
		<dict>
			<key>x</key>
			<string>211.666</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ee7e7601-ecb8-4a57-9c64-0a239d266ce6}</key>
		<dict>
			<key>x</key>
			<string>190.959</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{166f2915-021f-4fa2-beb8-c70f4bd84be5}</key>
		<dict>
			<key>x</key>
			<string>102.44</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{9b214c38-4ecd-4822-a394-f63d17769a0d}</key>
		<dict>
			<key>x</key>
			<string>102.44</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0f3e1b68-97be-41ea-903e-5f9afc67393d}</key>
		<dict>
			<key>x</key>
			<string>48.7831</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{91ba0c1d-2362-4dcb-86e8-e31ac1363450}</key>
		<dict>
			<key>x</key>
			<string>48.7831</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>note_finger</key>
	<dict>
	</dict>
	<key>note_step</key>
	<dict>
		<key>{13a52967-8206-470d-be10-0986905b918c}</key>
		<string>{788dff5a-7e44-4387-86b4-2a6a9bd98cdf}</string>
		<key>{8904c461-d344-4202-a712-2e9fbbfedd00}</key>
		<string>{639d0800-80bd-4298-8300-eaeb942eace5}</string>
		<key>{93185fe6-9f9a-487f-a068-01a66420fa83}</key>
		<string>{869ac82b-02e7-46cf-bf35-d34f88e9472b}</string>
		<key>{9f460f0f-a63e-43f7-b7d5-5f55146fb007}</key>
		<string>{b5267d7f-77d8-4cee-83b6-773a0dbfcfcb}</string>
		<key>{f036e9d6-f413-4dbe-b6c3-2f1527c7b112}</key>
		<string>{46c56f1b-cc20-4fdc-beeb-488d4bd8a22a}</string>
		<key>{af987dca-496f-40de-8a80-8481bb62aa1a}</key>
		<string>{7bbdd21c-000d-4112-b5a1-0e48eff64a06}</string>
		<key>{6d2ea367-0340-463e-be7a-5ebab29cd4e9}</key>
		<string>{5a2f8aba-4b18-4335-85ae-da1f5c7e3727}</string>
		<key>{808c3c2e-4c25-4c8d-9825-7bcc64784295}</key>
		<string>{4340e028-165f-43ed-9359-fd20c4402bfc}</string>
		<key>{b0145a3c-4b19-485d-a030-f16008dc41ac}</key>
		<string>{8005b1f3-e67c-423e-8ff8-4b69723abf24}</string>
		<key>{631be39f-2a1b-4961-9a48-de38eb4d95a8}</key>
		<string>{d9f61cb8-3808-4209-b650-1a23c53aa093}</string>
		<key>{2e1ce1b6-fef5-4bb4-991f-4db473b17f78}</key>
		<string>{9f5e7199-503b-47e9-82ab-4ffa5b45a049}</string>
		<key>{0979194d-f84d-4a56-b721-af12e2f702e9}</key>
		<string>{15804cc3-c48f-4e57-9755-dbf37c654052}</string>
		<key>{53e97dc1-2a97-4891-a688-9720c4172cce}</key>
		<string>{62a54d5e-899a-42a6-af48-97d173dc4a42}</string>
		<key>{dc0cd57f-aff1-41f5-816b-aef35ca0707a}</key>
		<string>{ae74245d-be56-47ff-a841-1d7cda395bbd}</string>
		<key>{88833148-a75f-4e5d-bcf8-006e21e01706}</key>
		<string>{63924af3-b2b5-42c1-8015-4c94610dc178}</string>
		<key>{c7e020ca-9cda-4de8-9c0f-2e0801cfe57b}</key>
		<string>{34373fca-ba48-4f2e-a250-0f45eb6e6140}</string>
		<key>{10077c97-202d-4efa-932f-d3815757efbe}</key>
		<string>{f0e25d3e-7090-4e82-9748-9e047bda9136}</string>
		<key>{f8fd5eb4-9e7b-443c-828a-82dea3d6fb2c}</key>
		<string>{6bcc0050-ccab-4cc7-8ff2-0cfcd1ab3aa5}</string>
		<key>{c68a6561-e7e9-46ea-9d0d-2532d5d0bf50}</key>
		<string>{8208c365-3d33-4bc1-9a54-71c02e7ecc8d}</string>
		<key>{a08e7b92-9e34-4c2f-92f6-2eb90e939f0d}</key>
		<string>{06e16f19-ed61-4af2-93e3-9ca7c34717a9}</string>
		<key>{bbc7cf9e-05bd-4b13-985b-e9ff072af2b6}</key>
		<string>{e2f52e6c-1396-4141-a207-ef8efc6c44f3}</string>
		<key>{6f854f0c-97e2-4275-87bc-d4ec053287bf}</key>
		<string>{1ad4d45f-c035-48d4-a05c-2826450bc26c}</string>
		<key>{6c1eaed5-af0b-4a66-b092-72213f512da2}</key>
		<string>{598d5cbb-4094-4009-9cc8-fe496baca975}</string>
		<key>{7ec00b74-49dc-4d5c-ac67-f885971ba10a}</key>
		<string>{e0927397-2eb2-4391-b773-312f37c4a717}</string>
		<key>{06f26d76-7fb4-4461-a173-e4f8c3c80d4b}</key>
		<string>{66235175-c961-481d-b5ba-8415a9c1d5c1}</string>
		<key>{169c0f9b-c33f-4575-8bed-5f2e4e7c5582}</key>
		<string>{29d19f5d-0a50-47cc-a774-7c14c1c57665}</string>
		<key>{80f6ea62-7823-4a05-a194-f216c649a58f}</key>
		<string>{52a5e9bd-7837-4ba1-b0a3-7443c36630da}</string>
		<key>{93f0c607-1536-425e-842d-c578351efe98}</key>
		<string>{8742fea3-7fa1-4fa8-8fb2-2dcf4c9f11bf}</string>
		<key>{793f5c38-276f-4614-9001-dde31d8b6e97}</key>
		<string>{a7205cc2-de8f-4e89-bd03-7bacd65706c0}</string>
		<key>{21ac5300-aaf9-4061-a9ee-17591bf83d08}</key>
		<string>{566b106a-bf72-43a7-9082-64dedb3282c7}</string>
	</dict>
	<key>note_light</key>
	<dict>
		<key>{13a52967-8206-470d-be10-0986905b918c}</key>
		<array>
			
			<string>{71a6e43e-b8b5-4489-aadf-6005f9d8e353}</string>
		</array>
		<key>{8904c461-d344-4202-a712-2e9fbbfedd00}</key>
		<array>
			
			<string>{d9d61d62-e1ac-4797-8b25-2957b62cb5be}</string>
		</array>
		<key>{93185fe6-9f9a-487f-a068-01a66420fa83}</key>
		<array>
			
			<string>{7b2a16c0-cbf7-4d97-a492-d9a2dce72346}</string>
		</array>
		<key>{9f460f0f-a63e-43f7-b7d5-5f55146fb007}</key>
		<array>
			
			<string>{90e16c13-ba93-41b4-8d1c-d8fedd49fa92}</string>
		</array>
		<key>{f036e9d6-f413-4dbe-b6c3-2f1527c7b112}</key>
		<array>
			
			<string>{7608c53c-5972-4d1e-b324-b65f58f6d1a1}</string>
		</array>
		<key>{af987dca-496f-40de-8a80-8481bb62aa1a}</key>
		<array>
			
			<string>{c8682de9-f2ad-4e2e-b978-d805da871d3d}</string>
		</array>
		<key>{6d2ea367-0340-463e-be7a-5ebab29cd4e9}</key>
		<array>
			
			<string>{d2f437e1-b6df-4b75-895d-bf98ad7815e5}</string>
		</array>
		<key>{808c3c2e-4c25-4c8d-9825-7bcc64784295}</key>
		<array>
			
			<string>{15476254-e467-42d5-b58f-aafd8089d1b4}</string>
		</array>
		<key>{b0145a3c-4b19-485d-a030-f16008dc41ac}</key>
		<array>
			
			<string>{6d1fea3a-0bd7-4987-8f83-bbaa89065e1c}</string>
		</array>
		<key>{631be39f-2a1b-4961-9a48-de38eb4d95a8}</key>
		<array>
			
			<string>{0cd6698f-3ee6-4eef-ab61-fb9c6b79b3ca}</string>
		</array>
		<key>{2e1ce1b6-fef5-4bb4-991f-4db473b17f78}</key>
		<array>
			
			<string>{476e7d33-09af-481d-91cc-f566157d5cf4}</string>
		</array>
		<key>{0979194d-f84d-4a56-b721-af12e2f702e9}</key>
		<array>
			
			<string>{a7e982ea-1402-4bc3-b6fb-ac65c843f598}</string>
		</array>
		<key>{53e97dc1-2a97-4891-a688-9720c4172cce}</key>
		<array>
			
			<string>{a0388fde-919a-45c6-b2e1-c91990b2998a}</string>
		</array>
		<key>{dc0cd57f-aff1-41f5-816b-aef35ca0707a}</key>
		<array>
			
			<string>{fd9e6798-ed86-4a84-b454-48b2ad12b1f0}</string>
		</array>
		<key>{88833148-a75f-4e5d-bcf8-006e21e01706}</key>
		<array>
			
			<string>{374b95a3-a702-416f-8fa1-c4bdb1900efc}</string>
		</array>
		<key>{c7e020ca-9cda-4de8-9c0f-2e0801cfe57b}</key>
		<array>
			
			<string>{48f58b51-351f-4860-863b-eed682a33d1e}</string>
		</array>
		<key>{10077c97-202d-4efa-932f-d3815757efbe}</key>
		<array>
			
			<string>{9330c071-4f2c-4162-93d0-c5c12d1ff1d2}</string>
		</array>
		<key>{f8fd5eb4-9e7b-443c-828a-82dea3d6fb2c}</key>
		<array>
			
			<string>{843a1085-630e-4295-8264-32d8eb260048}</string>
		</array>
		<key>{c68a6561-e7e9-46ea-9d0d-2532d5d0bf50}</key>
		<array>
			
			<string>{1088058a-1f6f-49bd-9351-d61deb83ff7f}</string>
		</array>
		<key>{a08e7b92-9e34-4c2f-92f6-2eb90e939f0d}</key>
		<array>
			
			<string>{44d7a0ff-8243-4f89-ae27-0833ab698188}</string>
		</array>
		<key>{bbc7cf9e-05bd-4b13-985b-e9ff072af2b6}</key>
		<array>
			
			<string>{494d5f12-ad52-45d4-a934-e2744e0e2934}</string>
		</array>
		<key>{6f854f0c-97e2-4275-87bc-d4ec053287bf}</key>
		<array>
			
			<string>{e4f67afe-dd7d-42a4-8e6e-9a1eef8703c4}</string>
		</array>
		<key>{6c1eaed5-af0b-4a66-b092-72213f512da2}</key>
		<array>
			
			<string>{e32de478-9520-41c8-b22c-016160c73dab}</string>
		</array>
		<key>{7ec00b74-49dc-4d5c-ac67-f885971ba10a}</key>
		<array>
			
			<string>{91ce3d1e-7e24-4f21-b60c-9754ebe48e6f}</string>
		</array>
		<key>{06f26d76-7fb4-4461-a173-e4f8c3c80d4b}</key>
		<array>
			
			<string>{6eadc44d-808c-4fcc-8097-197017e09db8}</string>
		</array>
		<key>{169c0f9b-c33f-4575-8bed-5f2e4e7c5582}</key>
		<array>
			
			<string>{03d8b2ab-b262-48f2-bc9a-8c8d1a90c2aa}</string>
		</array>
		<key>{80f6ea62-7823-4a05-a194-f216c649a58f}</key>
		<array>
			
			<string>{ce90ee63-2d60-455a-930f-65c7590f5344}</string>
		</array>
		<key>{93f0c607-1536-425e-842d-c578351efe98}</key>
		<array>
			
			<string>{8922d386-8879-4e9a-8e86-f47833d447a5}</string>
		</array>
		<key>{793f5c38-276f-4614-9001-dde31d8b6e97}</key>
		<array>
			
			<string>{20b5aed6-4690-4f70-8e58-20cdb9121312}</string>
		</array>
		<key>{21ac5300-aaf9-4061-a9ee-17591bf83d08}</key>
		<array>
			
			<string>{738d939e-1a99-469b-8166-449dac607300}</string>
		</array>
	</dict>
	<key>note_hands_type</key>
	<dict>
		<key>1</key>
		<array>
			
			<string>{c4819348-ef6e-41e1-80fc-626a9f98a5f2}</string>
			
			<string>{b8df3f4b-4f48-48cf-83f8-174f91d671a4}</string>
			
			<string>{bd7a33fa-0bdd-4b1f-b357-3fcd6d309d9f}</string>
			
			<string>{41721620-ef5e-4ff0-ad8f-640ac5b34feb}</string>
			
			<string>{0885773c-57a9-4fe1-aef4-982a0e8c2af0}</string>
			
			<string>{8bcaca44-5355-42cf-aa08-434cb460a02a}</string>
			
			<string>{2f5127af-aa57-4129-9a48-5adeed25b568}</string>
			
			<string>{2943f505-f9f9-4e0f-adf8-c33ecb03cf6a}</string>
			
			<string>{798ad635-9603-47f2-aed4-7c8a0d9bfdc6}</string>
			
			<string>{38d4ebd2-9ff1-44fb-b06f-041aa4dfbe8c}</string>
			
			<string>{4cfddf33-d373-4175-84d3-041d467d5f69}</string>
			
			<string>{3a6ca52f-91d2-4c4b-aa82-416deeaa880d}</string>
			
			<string>{0f5d1a97-c167-4412-81d5-29ca29cecd8b}</string>
			
			<string>{812e3476-f962-4e62-a755-ee83a9c6e8be}</string>
			
			<string>{e3caad8d-ff73-4195-8c33-7dfe01b2c48f}</string>
			
			<string>{9b214c38-4ecd-4822-a394-f63d17769a0d}</string>
			
			<string>{91ba0c1d-2362-4dcb-86e8-e31ac1363450}</string>
			
			<string>{5a2f8aba-4b18-4335-85ae-da1f5c7e3727}</string>
			
			<string>{4340e028-165f-43ed-9359-fd20c4402bfc}</string>
			
			<string>{9f5e7199-503b-47e9-82ab-4ffa5b45a049}</string>
			
			<string>{15804cc3-c48f-4e57-9755-dbf37c654052}</string>
			
			<string>{63924af3-b2b5-42c1-8015-4c94610dc178}</string>
			
			<string>{e2f52e6c-1396-4141-a207-ef8efc6c44f3}</string>
			
			<string>{1ad4d45f-c035-48d4-a05c-2826450bc26c}</string>
			
			<string>{598d5cbb-4094-4009-9cc8-fe496baca975}</string>
			
			<string>{29d19f5d-0a50-47cc-a774-7c14c1c57665}</string>
			
			<string>{52a5e9bd-7837-4ba1-b0a3-7443c36630da}</string>
			
			<string>{566b106a-bf72-43a7-9082-64dedb3282c7}</string>
			
			<string>{2c1b2292-e585-4e3c-8fe6-8ca2ee35ac35}</string>
			
			<string>{4d37b805-95e1-4571-a902-acde7fc4338d}</string>
			
			<string>{c0bc802e-0f38-4af0-8b9f-87af1bba1e5c}</string>
			
			<string>{35ae1885-4b60-4472-b49c-3a2dbb58286b}</string>
			
			<string>{38cd9f60-d20a-4244-8d1c-c8b074082d9f}</string>
			
			<string>{5af10e3d-af63-4727-9b49-c01dec6dbd8f}</string>
			
			<string>{86c72422-f421-43fa-bf17-5b92ba914c0f}</string>
			
			<string>{68554571-1013-4764-866b-64c9683292f9}</string>
			
			<string>{c5f78ebc-f0fa-47c7-8f21-ba0c7151cb3f}</string>
			
			<string>{3af16b0e-d68c-4d83-9f51-e55df134c96a}</string>
			
			<string>{c55c157c-21e4-47de-b243-b2712d5ab432}</string>
			
			<string>{d2f437e1-b6df-4b75-895d-bf98ad7815e5}</string>
			
			<string>{15476254-e467-42d5-b58f-aafd8089d1b4}</string>
			
			<string>{476e7d33-09af-481d-91cc-f566157d5cf4}</string>
			
			<string>{a7e982ea-1402-4bc3-b6fb-ac65c843f598}</string>
			
			<string>{374b95a3-a702-416f-8fa1-c4bdb1900efc}</string>
			
			<string>{494d5f12-ad52-45d4-a934-e2744e0e2934}</string>
			
			<string>{e4f67afe-dd7d-42a4-8e6e-9a1eef8703c4}</string>
			
			<string>{e32de478-9520-41c8-b22c-016160c73dab}</string>
			
			<string>{03d8b2ab-b262-48f2-bc9a-8c8d1a90c2aa}</string>
			
			<string>{ce90ee63-2d60-455a-930f-65c7590f5344}</string>
			
			<string>{738d939e-1a99-469b-8166-449dac607300}</string>
			
			<string>{8112d0de-df96-4f6b-9873-bf5c560199e6}</string>
			
			<string>{0976492c-b4c3-4699-bc4f-3560a7127967}</string>
			
			<string>{edfc4f37-3822-4060-8750-e88702ef05a1}</string>
			
			<string>{05bf5b5b-6e7f-47f6-b41a-b7a46c980f71}</string>
			
			<string>{980239d9-f318-4276-ac0a-96ae919c0d5a}</string>
			
			<string>{10dac18f-1e5e-417c-a816-15a2add9b923}</string>
			
			<string>{ba2917c7-5160-461d-a463-451b372f2b7f}</string>
			
			<string>{75180ee2-27c7-4756-b97d-31aad5c1e219}</string>
			
			<string>{976af0e2-0fbc-4679-a957-178f9ce5f5f3}</string>
			
			<string>{c52304d7-2d35-4239-9f1d-e4efaddd9ae8}</string>
		</array>
		<key>2</key>
		<array>
			
			<string>{56ca3898-1162-4573-9db5-d3818e757b1f}</string>
			
			<string>{b43c3eb4-5b2b-4c2f-acc9-1f43ccfb2d53}</string>
			
			<string>{4a08ef31-d8e9-4e21-a723-b9f3273d36e4}</string>
			
			<string>{175b946a-a1fb-438b-94a0-4bb83fff1447}</string>
			
			<string>{6b3244ae-6023-4162-931e-c92b4d6d60b4}</string>
			
			<string>{6ac5977c-09be-4615-a605-d39145153786}</string>
			
			<string>{9b616553-ece1-458c-b07e-cc7260a77e35}</string>
			
			<string>{2798f861-4c9b-45b8-96e8-fe614e533fd3}</string>
			
			<string>{a4b5dc0a-3b90-40fa-a6c6-8640098ea575}</string>
			
			<string>{f8b28fa5-3e36-4f4d-9342-c854717c606e}</string>
			
			<string>{0bd8a3be-1e2b-432e-9121-27c51b6ba478}</string>
			
			<string>{3920c489-e7ef-4db0-93ad-8453aaad3d04}</string>
			
			<string>{721b77cd-20cd-407a-99ab-117f6ce9cc30}</string>
			
			<string>{39cd431a-3cff-4726-8478-71b6a4f4f75e}</string>
			
			<string>{ee7e7601-ecb8-4a57-9c64-0a239d266ce6}</string>
			
			<string>{166f2915-021f-4fa2-beb8-c70f4bd84be5}</string>
			
			<string>{0f3e1b68-97be-41ea-903e-5f9afc67393d}</string>
			
			<string>{788dff5a-7e44-4387-86b4-2a6a9bd98cdf}</string>
			
			<string>{639d0800-80bd-4298-8300-eaeb942eace5}</string>
			
			<string>{869ac82b-02e7-46cf-bf35-d34f88e9472b}</string>
			
			<string>{b5267d7f-77d8-4cee-83b6-773a0dbfcfcb}</string>
			
			<string>{46c56f1b-cc20-4fdc-beeb-488d4bd8a22a}</string>
			
			<string>{7bbdd21c-000d-4112-b5a1-0e48eff64a06}</string>
			
			<string>{8005b1f3-e67c-423e-8ff8-4b69723abf24}</string>
			
			<string>{d9f61cb8-3808-4209-b650-1a23c53aa093}</string>
			
			<string>{62a54d5e-899a-42a6-af48-97d173dc4a42}</string>
			
			<string>{ae74245d-be56-47ff-a841-1d7cda395bbd}</string>
			
			<string>{34373fca-ba48-4f2e-a250-0f45eb6e6140}</string>
			
			<string>{f0e25d3e-7090-4e82-9748-9e047bda9136}</string>
			
			<string>{6bcc0050-ccab-4cc7-8ff2-0cfcd1ab3aa5}</string>
			
			<string>{8208c365-3d33-4bc1-9a54-71c02e7ecc8d}</string>
			
			<string>{06e16f19-ed61-4af2-93e3-9ca7c34717a9}</string>
			
			<string>{e0927397-2eb2-4391-b773-312f37c4a717}</string>
			
			<string>{66235175-c961-481d-b5ba-8415a9c1d5c1}</string>
			
			<string>{8742fea3-7fa1-4fa8-8fb2-2dcf4c9f11bf}</string>
			
			<string>{a7205cc2-de8f-4e89-bd03-7bacd65706c0}</string>
			
			<string>{72b5dba6-f118-41f3-8431-3341024b6b1d}</string>
			
			<string>{0a143491-9842-4042-9a06-dc797477a71d}</string>
			
			<string>{0e5c8c84-463e-4bdf-9385-3d975104c48a}</string>
			
			<string>{641ba415-76b6-4db2-b44f-ffa332434084}</string>
			
			<string>{90db62d8-1be4-44b3-8a56-f6f17e2c1f97}</string>
			
			<string>{ba8d85af-b841-43b5-8a43-8c7442421de1}</string>
			
			<string>{56f3c130-00ed-4428-8339-2e1c6c87f4a7}</string>
			
			<string>{5d893e7e-813d-456e-b5d4-802dbdaef578}</string>
			
			<string>{c706c7c9-c42c-4e33-ad70-20c20f60299a}</string>
			
			<string>{c5bb9ea4-589b-4c6f-8b37-88fefd6cae57}</string>
			
			<string>{30d75af7-b491-456c-8ed2-51b3e32f6c88}</string>
			
			<string>{71a6e43e-b8b5-4489-aadf-6005f9d8e353}</string>
			
			<string>{d9d61d62-e1ac-4797-8b25-2957b62cb5be}</string>
			
			<string>{7b2a16c0-cbf7-4d97-a492-d9a2dce72346}</string>
			
			<string>{90e16c13-ba93-41b4-8d1c-d8fedd49fa92}</string>
			
			<string>{7608c53c-5972-4d1e-b324-b65f58f6d1a1}</string>
			
			<string>{c8682de9-f2ad-4e2e-b978-d805da871d3d}</string>
			
			<string>{6d1fea3a-0bd7-4987-8f83-bbaa89065e1c}</string>
			
			<string>{0cd6698f-3ee6-4eef-ab61-fb9c6b79b3ca}</string>
			
			<string>{a0388fde-919a-45c6-b2e1-c91990b2998a}</string>
			
			<string>{fd9e6798-ed86-4a84-b454-48b2ad12b1f0}</string>
			
			<string>{48f58b51-351f-4860-863b-eed682a33d1e}</string>
			
			<string>{9330c071-4f2c-4162-93d0-c5c12d1ff1d2}</string>
			
			<string>{843a1085-630e-4295-8264-32d8eb260048}</string>
			
			<string>{1088058a-1f6f-49bd-9351-d61deb83ff7f}</string>
			
			<string>{44d7a0ff-8243-4f89-ae27-0833ab698188}</string>
			
			<string>{91ce3d1e-7e24-4f21-b60c-9754ebe48e6f}</string>
			
			<string>{6eadc44d-808c-4fcc-8097-197017e09db8}</string>
			
			<string>{8922d386-8879-4e9a-8e86-f47833d447a5}</string>
			
			<string>{20b5aed6-4690-4f70-8e58-20cdb9121312}</string>
		</array>
	</dict>
</dict>
</plist>