<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>pen_width</key>
	<string>0.40</string>
	<key>xend</key>
	<real>1062.07</real>
	<key>stafflines</key>
	<dict>
		<key>0</key>
		<dict>
			<key>x</key>
			<string>10.4173</string>
			<key>y</key>
			<string>16.3582</string>
			<key>bx</key>
			<string>10.4173</string>
			<key>by</key>
			<string>51.9378</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{13a52967-8206-470d-be10-0986905b918c}</key>
		<dict>
			<key>x</key>
			<string>852.969</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{8904c461-d344-4202-a712-2e9fbbfedd00}</key>
		<dict>
			<key>x</key>
			<string>830.011</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{93185fe6-9f9a-487f-a068-01a66420fa83}</key>
		<dict>
			<key>x</key>
			<string>806.874</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{9f460f0f-a63e-43f7-b7d5-5f55146fb007}</key>
		<dict>
			<key>x</key>
			<string>781.405</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{f036e9d6-f413-4dbe-b6c3-2f1527c7b112}</key>
		<dict>
			<key>x</key>
			<string>760.699</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{af987dca-496f-40de-8a80-8481bb62aa1a}</key>
		<dict>
			<key>x</key>
			<string>739.992</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{6d2ea367-0340-463e-be7a-5ebab29cd4e9}</key>
		<dict>
			<key>x</key>
			<string>719.285</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{808c3c2e-4c25-4c8d-9825-7bcc64784295}</key>
		<dict>
			<key>x</key>
			<string>693.351</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b0145a3c-4b19-485d-a030-f16008dc41ac}</key>
		<dict>
			<key>x</key>
			<string>672.644</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{631be39f-2a1b-4961-9a48-de38eb4d95a8}</key>
		<dict>
			<key>x</key>
			<string>651.938</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{2e1ce1b6-fef5-4bb4-991f-4db473b17f78}</key>
		<dict>
			<key>x</key>
			<string>631.231</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0979194d-f84d-4a56-b721-af12e2f702e9}</key>
		<dict>
			<key>x</key>
			<string>605.297</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{53e97dc1-2a97-4891-a688-9720c4172cce}</key>
		<dict>
			<key>x</key>
			<string>584.59</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{dc0cd57f-aff1-41f5-816b-aef35ca0707a}</key>
		<dict>
			<key>x</key>
			<string>563.883</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{88833148-a75f-4e5d-bcf8-006e21e01706}</key>
		<dict>
			<key>x</key>
			<string>543.177</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c7e020ca-9cda-4de8-9c0f-2e0801cfe57b}</key>
		<dict>
			<key>x</key>
			<string>500.752</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{10077c97-202d-4efa-932f-d3815757efbe}</key>
		<dict>
			<key>x</key>
			<string>477.794</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{f8fd5eb4-9e7b-443c-828a-82dea3d6fb2c}</key>
		<dict>
			<key>x</key>
			<string>454.657</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{c68a6561-e7e9-46ea-9d0d-2532d5d0bf50}</key>
		<dict>
			<key>x</key>
			<string>429.072</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{a08e7b92-9e34-4c2f-92f6-2eb90e939f0d}</key>
		<dict>
			<key>x</key>
			<string>408.249</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{bbc7cf9e-05bd-4b13-985b-e9ff072af2b6}</key>
		<dict>
			<key>x</key>
			<string>387.426</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6f854f0c-97e2-4275-87bc-d4ec053287bf}</key>
		<dict>
			<key>x</key>
			<string>366.603</string>
			<key>y</key>
			<string>38.681</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6c1eaed5-af0b-4a66-b092-72213f512da2}</key>
		<dict>
			<key>x</key>
			<string>341.134</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7ec00b74-49dc-4d5c-ac67-f885971ba10a}</key>
		<dict>
			<key>x</key>
			<string>320.427</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{06f26d76-7fb4-4461-a173-e4f8c3c80d4b}</key>
		<dict>
			<key>x</key>
			<string>299.72</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{169c0f9b-c33f-4575-8bed-5f2e4e7c5582}</key>
		<dict>
			<key>x</key>
			<string>279.014</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{80f6ea62-7823-4a05-a194-f216c649a58f}</key>
		<dict>
			<key>x</key>
			<string>253.08</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{93f0c607-1536-425e-842d-c578351efe98}</key>
		<dict>
			<key>x</key>
			<string>232.373</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{793f5c38-276f-4614-9001-dde31d8b6e97}</key>
		<dict>
			<key>x</key>
			<string>211.666</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{21ac5300-aaf9-4061-a9ee-17591bf83d08}</key>
		<dict>
			<key>x</key>
			<string>190.959</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>rests</key>
	<dict>
		<key>{175b946a-a1fb-438b-94a0-4bb83fff1447}</key>
		<dict>
			<key>x</key>
			<string>982.983</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{c4819348-ef6e-41e1-80fc-626a9f98a5f2}</key>
		<dict>
			<key>x</key>
			<string>982.983</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6b3244ae-6023-4162-931e-c92b4d6d60b4}</key>
		<dict>
			<key>x</key>
			<string>894.929</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{b8df3f4b-4f48-48cf-83f8-174f91d671a4}</key>
		<dict>
			<key>x</key>
			<string>894.929</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{bd7a33fa-0bdd-4b1f-b357-3fcd6d309d9f}</key>
		<dict>
			<key>x</key>
			<string>806.874</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{41721620-ef5e-4ff0-ad8f-640ac5b34feb}</key>
		<dict>
			<key>x</key>
			<string>760.699</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0885773c-57a9-4fe1-aef4-982a0e8c2af0}</key>
		<dict>
			<key>x</key>
			<string>739.992</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6ac5977c-09be-4615-a605-d39145153786}</key>
		<dict>
			<key>x</key>
			<string>719.285</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{9b616553-ece1-458c-b07e-cc7260a77e35}</key>
		<dict>
			<key>x</key>
			<string>693.351</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{8bcaca44-5355-42cf-aa08-434cb460a02a}</key>
		<dict>
			<key>x</key>
			<string>672.644</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2f5127af-aa57-4129-9a48-5adeed25b568}</key>
		<dict>
			<key>x</key>
			<string>651.938</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2798f861-4c9b-45b8-96e8-fe614e533fd3}</key>
		<dict>
			<key>x</key>
			<string>631.231</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{a4b5dc0a-3b90-40fa-a6c6-8640098ea575}</key>
		<dict>
			<key>x</key>
			<string>605.297</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{2943f505-f9f9-4e0f-adf8-c33ecb03cf6a}</key>
		<dict>
			<key>x</key>
			<string>584.59</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{798ad635-9603-47f2-aed4-7c8a0d9bfdc6}</key>
		<dict>
			<key>x</key>
			<string>563.883</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f8b28fa5-3e36-4f4d-9342-c854717c606e}</key>
		<dict>
			<key>x</key>
			<string>543.177</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{38d4ebd2-9ff1-44fb-b06f-041aa4dfbe8c}</key>
		<dict>
			<key>x</key>
			<string>454.657</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{4cfddf33-d373-4175-84d3-041d467d5f69}</key>
		<dict>
			<key>x</key>
			<string>408.249</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0bd8a3be-1e2b-432e-9121-27c51b6ba478}</key>
		<dict>
			<key>x</key>
			<string>366.603</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{3920c489-e7ef-4db0-93ad-8453aaad3d04}</key>
		<dict>
			<key>x</key>
			<string>341.134</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{3a6ca52f-91d2-4c4b-aa82-416deeaa880d}</key>
		<dict>
			<key>x</key>
			<string>320.427</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0f5d1a97-c167-4412-81d5-29ca29cecd8b}</key>
		<dict>
			<key>x</key>
			<string>299.72</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{721b77cd-20cd-407a-99ab-117f6ce9cc30}</key>
		<dict>
			<key>x</key>
			<string>279.014</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{39cd431a-3cff-4726-8478-71b6a4f4f75e}</key>
		<dict>
			<key>x</key>
			<string>253.08</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{812e3476-f962-4e62-a755-ee83a9c6e8be}</key>
		<dict>
			<key>x</key>
			<string>232.373</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{e3caad8d-ff73-4195-8c33-7dfe01b2c48f}</key>
		<dict>
			<key>x</key>
			<string>211.666</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ee7e7601-ecb8-4a57-9c64-0a239d266ce6}</key>
		<dict>
			<key>x</key>
			<string>190.959</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{166f2915-021f-4fa2-beb8-c70f4bd84be5}</key>
		<dict>
			<key>x</key>
			<string>102.44</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{9b214c38-4ecd-4822-a394-f63d17769a0d}</key>
		<dict>
			<key>x</key>
			<string>102.44</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0f3e1b68-97be-41ea-903e-5f9afc67393d}</key>
		<dict>
			<key>x</key>
			<string>48.7831</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{91ba0c1d-2362-4dcb-86e8-e31ac1363450}</key>
		<dict>
			<key>x</key>
			<string>48.7831</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>note_finger</key>
	<dict>
	</dict>
	<key>note_step</key>
	<dict>
		<key>{13a52967-8206-470d-be10-0986905b918c}</key>
		<string>{788dff5a-7e44-4387-86b4-2a6a9bd98cdf}</string>
		<key>{8904c461-d344-4202-a712-2e9fbbfedd00}</key>
		<string>{639d0800-80bd-4298-8300-eaeb942eace5}</string>
		<key>{93185fe6-9f9a-487f-a068-01a66420fa83}</key>
		<string>{869ac82b-02e7-46cf-bf35-d34f88e9472b}</string>
		<key>{9f460f0f-a63e-43f7-b7d5-5f55146fb007}</key>
		<string>{b5267d7f-77d8-4cee-83b6-773a0dbfcfcb}</string>
		<key>{f036e9d6-f413-4dbe-b6c3-2f1527c7b112}</key>
		<string>{46c56f1b-cc20-4fdc-beeb-488d4bd8a22a}</string>
		<key>{af987dca-496f-40de-8a80-8481bb62aa1a}</key>
		<string>{7bbdd21c-000d-4112-b5a1-0e48eff64a06}</string>
		<key>{6d2ea367-0340-463e-be7a-5ebab29cd4e9}</key>
		<string>{5a2f8aba-4b18-4335-85ae-da1f5c7e3727}</string>
		<key>{808c3c2e-4c25-4c8d-9825-7bcc64784295}</key>
		<string>{4340e028-165f-43ed-9359-fd20c4402bfc}</string>
		<key>{b0145a3c-4b19-485d-a030-f16008dc41ac}</key>
		<string>{8005b1f3-e67c-423e-8ff8-4b69723abf24}</string>
		<key>{631be39f-2a1b-4961-9a48-de38eb4d95a8}</key>
		<string>{d9f61cb8-3808-4209-b650-1a23c53aa093}</string>
		<key>{2e1ce1b6-fef5-4bb4-991f-4db473b17f78}</key>
		<string>{9f5e7199-503b-47e9-82ab-4ffa5b45a049}</string>
		<key>{0979194d-f84d-4a56-b721-af12e2f702e9}</key>
		<string>{15804cc3-c48f-4e57-9755-dbf37c654052}</string>
		<key>{53e97dc1-2a97-4891-a688-9720c4172cce}</key>
		<string>{62a54d5e-899a-42a6-af48-97d173dc4a42}</string>
		<key>{dc0cd57f-aff1-41f5-816b-aef35ca0707a}</key>
		<string>{ae74245d-be56-47ff-a841-1d7cda395bbd}</string>
		<key>{88833148-a75f-4e5d-bcf8-006e21e01706}</key>
		<string>{63924af3-b2b5-42c1-8015-4c94610dc178}</string>
		<key>{c7e020ca-9cda-4de8-9c0f-2e0801cfe57b}</key>
		<string>{34373fca-ba48-4f2e-a250-0f45eb6e6140}</string>
		<key>{10077c97-202d-4efa-932f-d3815757efbe}</key>
		<string>{f0e25d3e-7090-4e82-9748-9e047bda9136}</string>
		<key>{f8fd5eb4-9e7b-443c-828a-82dea3d6fb2c}</key>
		<string>{6bcc0050-ccab-4cc7-8ff2-0cfcd1ab3aa5}</string>
		<key>{c68a6561-e7e9-46ea-9d0d-2532d5d0bf50}</key>
		<string>{8208c365-3d33-4bc1-9a54-71c02e7ecc8d}</string>
		<key>{a08e7b92-9e34-4c2f-92f6-2eb90e939f0d}</key>
		<string>{06e16f19-ed61-4af2-93e3-9ca7c34717a9}</string>
		<key>{bbc7cf9e-05bd-4b13-985b-e9ff072af2b6}</key>
		<string>{e2f52e6c-1396-4141-a207-ef8efc6c44f3}</string>
		<key>{6f854f0c-97e2-4275-87bc-d4ec053287bf}</key>
		<string>{1ad4d45f-c035-48d4-a05c-2826450bc26c}</string>
		<key>{6c1eaed5-af0b-4a66-b092-72213f512da2}</key>
		<string>{598d5cbb-4094-4009-9cc8-fe496baca975}</string>
		<key>{7ec00b74-49dc-4d5c-ac67-f885971ba10a}</key>
		<string>{e0927397-2eb2-4391-b773-312f37c4a717}</string>
		<key>{06f26d76-7fb4-4461-a173-e4f8c3c80d4b}</key>
		<string>{66235175-c961-481d-b5ba-8415a9c1d5c1}</string>
		<key>{169c0f9b-c33f-4575-8bed-5f2e4e7c5582}</key>
		<string>{29d19f5d-0a50-47cc-a774-7c14c1c57665}</string>
		<key>{80f6ea62-7823-4a05-a194-f216c649a58f}</key>
		<string>{52a5e9bd-7837-4ba1-b0a3-7443c36630da}</string>
		<key>{93f0c607-1536-425e-842d-c578351efe98}</key>
		<string>{8742fea3-7fa1-4fa8-8fb2-2dcf4c9f11bf}</string>
		<key>{793f5c38-276f-4614-9001-dde31d8b6e97}</key>
		<string>{a7205cc2-de8f-4e89-bd03-7bacd65706c0}</string>
		<key>{21ac5300-aaf9-4061-a9ee-17591bf83d08}</key>
		<string>{566b106a-bf72-43a7-9082-64dedb3282c7}</string>
	</dict>
	<key>note_light</key>
	<dict>
		<key>{13a52967-8206-470d-be10-0986905b918c}</key>
		<array>
			
			<string>{d2d1e3b8-50a0-42cf-8b3f-3d2a5d7fda4b}</string>
		</array>
		<key>{8904c461-d344-4202-a712-2e9fbbfedd00}</key>
		<array>
			
			<string>{adb1eb17-425d-4c2d-9139-0ad94aed9a11}</string>
		</array>
		<key>{93185fe6-9f9a-487f-a068-01a66420fa83}</key>
		<array>
			
			<string>{56dffb0d-184c-4c81-bf40-8f281f94fecc}</string>
		</array>
		<key>{9f460f0f-a63e-43f7-b7d5-5f55146fb007}</key>
		<array>
			
			<string>{ec5e0d15-bbb1-4b24-a550-1b0fde74ad0c}</string>
		</array>
		<key>{f036e9d6-f413-4dbe-b6c3-2f1527c7b112}</key>
		<array>
			
			<string>{3b8994f6-f8a9-486a-877a-e17a84eea8d5}</string>
		</array>
		<key>{af987dca-496f-40de-8a80-8481bb62aa1a}</key>
		<array>
			
			<string>{d0a0d3e4-31a9-486c-9f2b-29ee06271024}</string>
		</array>
		<key>{6d2ea367-0340-463e-be7a-5ebab29cd4e9}</key>
		<array>
			
			<string>{20a6cba5-6d29-4989-ad36-4c3f4ec121d1}</string>
		</array>
		<key>{808c3c2e-4c25-4c8d-9825-7bcc64784295}</key>
		<array>
			
			<string>{12997358-1c99-47a0-af8b-e2240d21f8a7}</string>
		</array>
		<key>{b0145a3c-4b19-485d-a030-f16008dc41ac}</key>
		<array>
			
			<string>{b0c15b24-fc96-4e14-8886-a8014f4030df}</string>
		</array>
		<key>{631be39f-2a1b-4961-9a48-de38eb4d95a8}</key>
		<array>
			
			<string>{eaf06b08-ad08-49b4-a4b4-6a727fcf4251}</string>
		</array>
		<key>{2e1ce1b6-fef5-4bb4-991f-4db473b17f78}</key>
		<array>
			
			<string>{3f12b872-a9b8-4a8b-9bc5-4ba3068aa5d1}</string>
		</array>
		<key>{0979194d-f84d-4a56-b721-af12e2f702e9}</key>
		<array>
			
			<string>{a03c71d9-7ee7-4ed2-bdef-765b3f5bd8dc}</string>
		</array>
		<key>{53e97dc1-2a97-4891-a688-9720c4172cce}</key>
		<array>
			
			<string>{322da32a-bb6d-4097-a5f5-688b4d09b8ec}</string>
		</array>
		<key>{dc0cd57f-aff1-41f5-816b-aef35ca0707a}</key>
		<array>
			
			<string>{075db5f8-8726-4953-acbd-26b14f42e287}</string>
		</array>
		<key>{88833148-a75f-4e5d-bcf8-006e21e01706}</key>
		<array>
			
			<string>{24317d37-5b45-45cd-ae64-42b454447ece}</string>
		</array>
		<key>{c7e020ca-9cda-4de8-9c0f-2e0801cfe57b}</key>
		<array>
			
			<string>{c9594fc1-6db8-45ce-b56b-624ad177d508}</string>
		</array>
		<key>{10077c97-202d-4efa-932f-d3815757efbe}</key>
		<array>
			
			<string>{97d84d6e-b04d-4765-b7e4-6c48b3b14daf}</string>
		</array>
		<key>{f8fd5eb4-9e7b-443c-828a-82dea3d6fb2c}</key>
		<array>
			
			<string>{b2604714-4413-43af-b3df-4d719aab6e67}</string>
		</array>
		<key>{c68a6561-e7e9-46ea-9d0d-2532d5d0bf50}</key>
		<array>
			
			<string>{6b50d7b0-f20a-4d8f-b9de-49da5d06b668}</string>
		</array>
		<key>{a08e7b92-9e34-4c2f-92f6-2eb90e939f0d}</key>
		<array>
			
			<string>{04462a99-68c6-4aad-8cc6-77e3299b8f6d}</string>
		</array>
		<key>{bbc7cf9e-05bd-4b13-985b-e9ff072af2b6}</key>
		<array>
			
			<string>{0251d8bd-ac5c-47e3-9280-d971719aaf03}</string>
		</array>
		<key>{6f854f0c-97e2-4275-87bc-d4ec053287bf}</key>
		<array>
			
			<string>{e70a0917-8786-4bd2-9ec0-537af8d95bcb}</string>
		</array>
		<key>{6c1eaed5-af0b-4a66-b092-72213f512da2}</key>
		<array>
			
			<string>{32358149-c626-4559-a3a9-4b9e4e704f42}</string>
		</array>
		<key>{7ec00b74-49dc-4d5c-ac67-f885971ba10a}</key>
		<array>
			
			<string>{1c867fc0-9256-475b-b2b3-c216b9c9d1a4}</string>
		</array>
		<key>{06f26d76-7fb4-4461-a173-e4f8c3c80d4b}</key>
		<array>
			
			<string>{8b1b5ecd-b85f-4be0-ba44-b0a9c41897bb}</string>
		</array>
		<key>{169c0f9b-c33f-4575-8bed-5f2e4e7c5582}</key>
		<array>
			
			<string>{07f893c5-596f-43dd-b385-cb99a828a747}</string>
		</array>
		<key>{80f6ea62-7823-4a05-a194-f216c649a58f}</key>
		<array>
			
			<string>{6274d4ed-af46-432d-9ed4-834110970a67}</string>
		</array>
		<key>{93f0c607-1536-425e-842d-c578351efe98}</key>
		<array>
			
			<string>{2635385b-cd24-445d-936e-54199310fe09}</string>
		</array>
		<key>{793f5c38-276f-4614-9001-dde31d8b6e97}</key>
		<array>
			
			<string>{f438fc36-12e8-446b-bc72-03f5ba576efb}</string>
		</array>
		<key>{21ac5300-aaf9-4061-a9ee-17591bf83d08}</key>
		<array>
			
			<string>{7790411c-7c03-4edf-bea0-2f9c01d6d222}</string>
		</array>
	</dict>
	<key>note_hands_type</key>
	<dict>
		<key>1</key>
		<array>
			
			<string>{c4819348-ef6e-41e1-80fc-626a9f98a5f2}</string>
			
			<string>{b8df3f4b-4f48-48cf-83f8-174f91d671a4}</string>
			
			<string>{bd7a33fa-0bdd-4b1f-b357-3fcd6d309d9f}</string>
			
			<string>{41721620-ef5e-4ff0-ad8f-640ac5b34feb}</string>
			
			<string>{0885773c-57a9-4fe1-aef4-982a0e8c2af0}</string>
			
			<string>{8bcaca44-5355-42cf-aa08-434cb460a02a}</string>
			
			<string>{2f5127af-aa57-4129-9a48-5adeed25b568}</string>
			
			<string>{2943f505-f9f9-4e0f-adf8-c33ecb03cf6a}</string>
			
			<string>{798ad635-9603-47f2-aed4-7c8a0d9bfdc6}</string>
			
			<string>{38d4ebd2-9ff1-44fb-b06f-041aa4dfbe8c}</string>
			
			<string>{4cfddf33-d373-4175-84d3-041d467d5f69}</string>
			
			<string>{3a6ca52f-91d2-4c4b-aa82-416deeaa880d}</string>
			
			<string>{0f5d1a97-c167-4412-81d5-29ca29cecd8b}</string>
			
			<string>{812e3476-f962-4e62-a755-ee83a9c6e8be}</string>
			
			<string>{e3caad8d-ff73-4195-8c33-7dfe01b2c48f}</string>
			
			<string>{9b214c38-4ecd-4822-a394-f63d17769a0d}</string>
			
			<string>{91ba0c1d-2362-4dcb-86e8-e31ac1363450}</string>
			
			<string>{5a2f8aba-4b18-4335-85ae-da1f5c7e3727}</string>
			
			<string>{4340e028-165f-43ed-9359-fd20c4402bfc}</string>
			
			<string>{9f5e7199-503b-47e9-82ab-4ffa5b45a049}</string>
			
			<string>{15804cc3-c48f-4e57-9755-dbf37c654052}</string>
			
			<string>{63924af3-b2b5-42c1-8015-4c94610dc178}</string>
			
			<string>{e2f52e6c-1396-4141-a207-ef8efc6c44f3}</string>
			
			<string>{1ad4d45f-c035-48d4-a05c-2826450bc26c}</string>
			
			<string>{598d5cbb-4094-4009-9cc8-fe496baca975}</string>
			
			<string>{29d19f5d-0a50-47cc-a774-7c14c1c57665}</string>
			
			<string>{52a5e9bd-7837-4ba1-b0a3-7443c36630da}</string>
			
			<string>{566b106a-bf72-43a7-9082-64dedb3282c7}</string>
			
			<string>{56de4160-ef32-48e9-8d81-5f05d798edab}</string>
			
			<string>{70b30784-5753-4ade-b236-dd8d23bbc910}</string>
			
			<string>{3b0f1751-0bc4-4162-9e4e-b402356e5ab6}</string>
			
			<string>{21f16237-dbe8-4933-af2a-c67413b81150}</string>
			
			<string>{0351d894-9c0f-41e7-8ea9-84ca285dad42}</string>
			
			<string>{c866e43c-d795-4200-bbb9-647df7093292}</string>
			
			<string>{44ec4912-8f3a-4646-9803-ad83287d4538}</string>
			
			<string>{4d77e892-3b4e-4300-8deb-6f09c2ddfbec}</string>
			
			<string>{46459b95-1e0c-45ad-a87e-e9dffb0c0223}</string>
			
			<string>{8bf20304-4125-4934-8c4e-c3f76bdd06e1}</string>
			
			<string>{9c112ed6-6c47-4727-b6c3-82a0f400cc50}</string>
			
			<string>{20a6cba5-6d29-4989-ad36-4c3f4ec121d1}</string>
			
			<string>{12997358-1c99-47a0-af8b-e2240d21f8a7}</string>
			
			<string>{3f12b872-a9b8-4a8b-9bc5-4ba3068aa5d1}</string>
			
			<string>{a03c71d9-7ee7-4ed2-bdef-765b3f5bd8dc}</string>
			
			<string>{24317d37-5b45-45cd-ae64-42b454447ece}</string>
			
			<string>{0251d8bd-ac5c-47e3-9280-d971719aaf03}</string>
			
			<string>{e70a0917-8786-4bd2-9ec0-537af8d95bcb}</string>
			
			<string>{32358149-c626-4559-a3a9-4b9e4e704f42}</string>
			
			<string>{07f893c5-596f-43dd-b385-cb99a828a747}</string>
			
			<string>{6274d4ed-af46-432d-9ed4-834110970a67}</string>
			
			<string>{7790411c-7c03-4edf-bea0-2f9c01d6d222}</string>
			
			<string>{094e3940-e725-45b4-be63-4b709b6f51dc}</string>
			
			<string>{02d0d679-125d-4216-8f52-dcc4fca156c9}</string>
			
			<string>{55fce207-93bb-4115-870f-9b84654323ac}</string>
			
			<string>{24d21035-b374-4d90-a128-e142ac28e0cc}</string>
			
			<string>{0ff61d3f-c58d-4ee1-9b09-178e804accf5}</string>
			
			<string>{4a4ded31-f5df-4b3a-8e95-4edf1cb6939a}</string>
			
			<string>{b0f8f577-1327-4c68-8d5d-09eeda8c99ba}</string>
			
			<string>{a8cfbedc-e940-4690-a7de-406b0817f4f7}</string>
			
			<string>{6105f71e-683a-4389-a777-ccd6a5303f72}</string>
			
			<string>{7dba1141-cee0-4a68-a425-ff7642999ec0}</string>
		</array>
		<key>2</key>
		<array>
			
			<string>{ba5fcd25-f4c2-4b7a-bc7f-74f0a7b430ac}</string>
			
			<string>{3633d7aa-7f38-459b-a50c-d034cd0ae8ad}</string>
			
			<string>{f3c3ddc3-4220-4ea0-acd4-60b6384421ed}</string>
			
			<string>{175b946a-a1fb-438b-94a0-4bb83fff1447}</string>
			
			<string>{6b3244ae-6023-4162-931e-c92b4d6d60b4}</string>
			
			<string>{6ac5977c-09be-4615-a605-d39145153786}</string>
			
			<string>{9b616553-ece1-458c-b07e-cc7260a77e35}</string>
			
			<string>{2798f861-4c9b-45b8-96e8-fe614e533fd3}</string>
			
			<string>{a4b5dc0a-3b90-40fa-a6c6-8640098ea575}</string>
			
			<string>{f8b28fa5-3e36-4f4d-9342-c854717c606e}</string>
			
			<string>{0bd8a3be-1e2b-432e-9121-27c51b6ba478}</string>
			
			<string>{3920c489-e7ef-4db0-93ad-8453aaad3d04}</string>
			
			<string>{721b77cd-20cd-407a-99ab-117f6ce9cc30}</string>
			
			<string>{39cd431a-3cff-4726-8478-71b6a4f4f75e}</string>
			
			<string>{ee7e7601-ecb8-4a57-9c64-0a239d266ce6}</string>
			
			<string>{166f2915-021f-4fa2-beb8-c70f4bd84be5}</string>
			
			<string>{0f3e1b68-97be-41ea-903e-5f9afc67393d}</string>
			
			<string>{788dff5a-7e44-4387-86b4-2a6a9bd98cdf}</string>
			
			<string>{639d0800-80bd-4298-8300-eaeb942eace5}</string>
			
			<string>{869ac82b-02e7-46cf-bf35-d34f88e9472b}</string>
			
			<string>{b5267d7f-77d8-4cee-83b6-773a0dbfcfcb}</string>
			
			<string>{46c56f1b-cc20-4fdc-beeb-488d4bd8a22a}</string>
			
			<string>{7bbdd21c-000d-4112-b5a1-0e48eff64a06}</string>
			
			<string>{8005b1f3-e67c-423e-8ff8-4b69723abf24}</string>
			
			<string>{d9f61cb8-3808-4209-b650-1a23c53aa093}</string>
			
			<string>{62a54d5e-899a-42a6-af48-97d173dc4a42}</string>
			
			<string>{ae74245d-be56-47ff-a841-1d7cda395bbd}</string>
			
			<string>{34373fca-ba48-4f2e-a250-0f45eb6e6140}</string>
			
			<string>{f0e25d3e-7090-4e82-9748-9e047bda9136}</string>
			
			<string>{6bcc0050-ccab-4cc7-8ff2-0cfcd1ab3aa5}</string>
			
			<string>{8208c365-3d33-4bc1-9a54-71c02e7ecc8d}</string>
			
			<string>{06e16f19-ed61-4af2-93e3-9ca7c34717a9}</string>
			
			<string>{e0927397-2eb2-4391-b773-312f37c4a717}</string>
			
			<string>{66235175-c961-481d-b5ba-8415a9c1d5c1}</string>
			
			<string>{8742fea3-7fa1-4fa8-8fb2-2dcf4c9f11bf}</string>
			
			<string>{a7205cc2-de8f-4e89-bd03-7bacd65706c0}</string>
			
			<string>{1f062437-8f28-42e6-839c-953b427a8946}</string>
			
			<string>{23a6b3f8-cc9e-4d86-99c1-1505d8a2c2b0}</string>
			
			<string>{4d7ef670-7897-449a-9229-b567d381d433}</string>
			
			<string>{b037bb3b-4819-472b-96fd-dafa1d28963f}</string>
			
			<string>{cb9c91f1-76c5-4ce9-8e67-4d576c6ce4dc}</string>
			
			<string>{a1929593-8e2f-4cf0-9cd7-e1d73a782bbf}</string>
			
			<string>{97c3e700-eac8-4e08-affc-cbddded00dec}</string>
			
			<string>{40f46cd0-0b1c-47bf-96d4-d1ef9f2db9d3}</string>
			
			<string>{a38a3889-b4e9-4e64-9402-191d573cdeb9}</string>
			
			<string>{76b56dd3-1224-4859-ba7c-cf30ddd107a4}</string>
			
			<string>{636a929a-4b1b-4ca9-97ad-b5106d450b0f}</string>
			
			<string>{d2d1e3b8-50a0-42cf-8b3f-3d2a5d7fda4b}</string>
			
			<string>{adb1eb17-425d-4c2d-9139-0ad94aed9a11}</string>
			
			<string>{56dffb0d-184c-4c81-bf40-8f281f94fecc}</string>
			
			<string>{ec5e0d15-bbb1-4b24-a550-1b0fde74ad0c}</string>
			
			<string>{3b8994f6-f8a9-486a-877a-e17a84eea8d5}</string>
			
			<string>{d0a0d3e4-31a9-486c-9f2b-29ee06271024}</string>
			
			<string>{b0c15b24-fc96-4e14-8886-a8014f4030df}</string>
			
			<string>{eaf06b08-ad08-49b4-a4b4-6a727fcf4251}</string>
			
			<string>{322da32a-bb6d-4097-a5f5-688b4d09b8ec}</string>
			
			<string>{075db5f8-8726-4953-acbd-26b14f42e287}</string>
			
			<string>{c9594fc1-6db8-45ce-b56b-624ad177d508}</string>
			
			<string>{97d84d6e-b04d-4765-b7e4-6c48b3b14daf}</string>
			
			<string>{b2604714-4413-43af-b3df-4d719aab6e67}</string>
			
			<string>{6b50d7b0-f20a-4d8f-b9de-49da5d06b668}</string>
			
			<string>{04462a99-68c6-4aad-8cc6-77e3299b8f6d}</string>
			
			<string>{1c867fc0-9256-475b-b2b3-c216b9c9d1a4}</string>
			
			<string>{8b1b5ecd-b85f-4be0-ba44-b0a9c41897bb}</string>
			
			<string>{2635385b-cd24-445d-936e-54199310fe09}</string>
			
			<string>{f438fc36-12e8-446b-bc72-03f5ba576efb}</string>
		</array>
	</dict>
</dict>
</plist>