<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>pen_width</key>
	<string>0.40</string>
	<key>xend</key>
	<real>1811.27</real>
	<key>stafflines</key>
	<dict>
		<key>0</key>
		<dict>
			<key>x</key>
			<string>10.4173</string>
			<key>y</key>
			<string>16.3582</string>
			<key>bx</key>
			<string>10.4173</string>
			<key>by</key>
			<string>51.9378</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{13a52967-8206-470d-be10-0986905b918c}</key>
		<dict>
			<key>x</key>
			<string>1452.64</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{8904c461-d344-4202-a712-2e9fbbfedd00}</key>
		<dict>
			<key>x</key>
			<string>1414.27</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{93185fe6-9f9a-487f-a068-01a66420fa83}</key>
		<dict>
			<key>x</key>
			<string>1375.72</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9f460f0f-a63e-43f7-b7d5-5f55146fb007}</key>
		<dict>
			<key>x</key>
			<string>1329.44</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f036e9d6-f413-4dbe-b6c3-2f1527c7b112}</key>
		<dict>
			<key>x</key>
			<string>1294.86</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{af987dca-496f-40de-8a80-8481bb62aa1a}</key>
		<dict>
			<key>x</key>
			<string>1260.28</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6d2ea367-0340-463e-be7a-5ebab29cd4e9}</key>
		<dict>
			<key>x</key>
			<string>1225.7</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{808c3c2e-4c25-4c8d-9825-7bcc64784295}</key>
		<dict>
			<key>x</key>
			<string>1178.95</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{b0145a3c-4b19-485d-a030-f16008dc41ac}</key>
		<dict>
			<key>x</key>
			<string>1144.37</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{631be39f-2a1b-4961-9a48-de38eb4d95a8}</key>
		<dict>
			<key>x</key>
			<string>1109.79</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2e1ce1b6-fef5-4bb4-991f-4db473b17f78}</key>
		<dict>
			<key>x</key>
			<string>1075.21</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{0979194d-f84d-4a56-b721-af12e2f702e9}</key>
		<dict>
			<key>x</key>
			<string>1028.46</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{53e97dc1-2a97-4891-a688-9720c4172cce}</key>
		<dict>
			<key>x</key>
			<string>993.881</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{dc0cd57f-aff1-41f5-816b-aef35ca0707a}</key>
		<dict>
			<key>x</key>
			<string>959.302</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{88833148-a75f-4e5d-bcf8-006e21e01706}</key>
		<dict>
			<key>x</key>
			<string>924.723</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{c7e020ca-9cda-4de8-9c0f-2e0801cfe57b}</key>
		<dict>
			<key>x</key>
			<string>850.692</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{10077c97-202d-4efa-932f-d3815757efbe}</key>
		<dict>
			<key>x</key>
			<string>812.321</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f8fd5eb4-9e7b-443c-828a-82dea3d6fb2c}</key>
		<dict>
			<key>x</key>
			<string>773.77</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c68a6561-e7e9-46ea-9d0d-2532d5d0bf50}</key>
		<dict>
			<key>x</key>
			<string>727.368</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{a08e7b92-9e34-4c2f-92f6-2eb90e939f0d}</key>
		<dict>
			<key>x</key>
			<string>692.673</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{bbc7cf9e-05bd-4b13-985b-e9ff072af2b6}</key>
		<dict>
			<key>x</key>
			<string>657.978</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{6f854f0c-97e2-4275-87bc-d4ec053287bf}</key>
		<dict>
			<key>x</key>
			<string>623.282</string>
			<key>y</key>
			<string>38.681</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{6c1eaed5-af0b-4a66-b092-72213f512da2}</key>
		<dict>
			<key>x</key>
			<string>576.996</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{7ec00b74-49dc-4d5c-ac67-f885971ba10a}</key>
		<dict>
			<key>x</key>
			<string>542.417</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{06f26d76-7fb4-4461-a173-e4f8c3c80d4b}</key>
		<dict>
			<key>x</key>
			<string>507.838</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{169c0f9b-c33f-4575-8bed-5f2e4e7c5582}</key>
		<dict>
			<key>x</key>
			<string>473.26</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{80f6ea62-7823-4a05-a194-f216c649a58f}</key>
		<dict>
			<key>x</key>
			<string>426.508</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{93f0c607-1536-425e-842d-c578351efe98}</key>
		<dict>
			<key>x</key>
			<string>391.929</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{793f5c38-276f-4614-9001-dde31d8b6e97}</key>
		<dict>
			<key>x</key>
			<string>357.351</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{21ac5300-aaf9-4061-a9ee-17591bf83d08}</key>
		<dict>
			<key>x</key>
			<string>322.772</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>0</string>
		</dict>
	</dict>
	<key>rests</key>
	<dict>
		<key>{175b946a-a1fb-438b-94a0-4bb83fff1447}</key>
		<dict>
			<key>x</key>
			<string>1676.7</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c4819348-ef6e-41e1-80fc-626a9f98a5f2}</key>
		<dict>
			<key>x</key>
			<string>1676.7</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{6b3244ae-6023-4162-931e-c92b4d6d60b4}</key>
		<dict>
			<key>x</key>
			<string>1526.21</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b8df3f4b-4f48-48cf-83f8-174f91d671a4}</key>
		<dict>
			<key>x</key>
			<string>1526.21</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{bd7a33fa-0bdd-4b1f-b357-3fcd6d309d9f}</key>
		<dict>
			<key>x</key>
			<string>1375.72</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{41721620-ef5e-4ff0-ad8f-640ac5b34feb}</key>
		<dict>
			<key>x</key>
			<string>1294.86</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{0885773c-57a9-4fe1-aef4-982a0e8c2af0}</key>
		<dict>
			<key>x</key>
			<string>1260.28</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{6ac5977c-09be-4615-a605-d39145153786}</key>
		<dict>
			<key>x</key>
			<string>1225.7</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9b616553-ece1-458c-b07e-cc7260a77e35}</key>
		<dict>
			<key>x</key>
			<string>1178.95</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{8bcaca44-5355-42cf-aa08-434cb460a02a}</key>
		<dict>
			<key>x</key>
			<string>1144.37</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{2f5127af-aa57-4129-9a48-5adeed25b568}</key>
		<dict>
			<key>x</key>
			<string>1109.79</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{2798f861-4c9b-45b8-96e8-fe614e533fd3}</key>
		<dict>
			<key>x</key>
			<string>1075.21</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{a4b5dc0a-3b90-40fa-a6c6-8640098ea575}</key>
		<dict>
			<key>x</key>
			<string>1028.46</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2943f505-f9f9-4e0f-adf8-c33ecb03cf6a}</key>
		<dict>
			<key>x</key>
			<string>993.881</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{798ad635-9603-47f2-aed4-7c8a0d9bfdc6}</key>
		<dict>
			<key>x</key>
			<string>959.302</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{f8b28fa5-3e36-4f4d-9342-c854717c606e}</key>
		<dict>
			<key>x</key>
			<string>924.723</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{38d4ebd2-9ff1-44fb-b06f-041aa4dfbe8c}</key>
		<dict>
			<key>x</key>
			<string>773.77</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{4cfddf33-d373-4175-84d3-041d467d5f69}</key>
		<dict>
			<key>x</key>
			<string>692.673</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{0bd8a3be-1e2b-432e-9121-27c51b6ba478}</key>
		<dict>
			<key>x</key>
			<string>623.282</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{3920c489-e7ef-4db0-93ad-8453aaad3d04}</key>
		<dict>
			<key>x</key>
			<string>576.996</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{3a6ca52f-91d2-4c4b-aa82-416deeaa880d}</key>
		<dict>
			<key>x</key>
			<string>542.417</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{0f5d1a97-c167-4412-81d5-29ca29cecd8b}</key>
		<dict>
			<key>x</key>
			<string>507.838</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{721b77cd-20cd-407a-99ab-117f6ce9cc30}</key>
		<dict>
			<key>x</key>
			<string>473.26</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{39cd431a-3cff-4726-8478-71b6a4f4f75e}</key>
		<dict>
			<key>x</key>
			<string>426.508</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{812e3476-f962-4e62-a755-ee83a9c6e8be}</key>
		<dict>
			<key>x</key>
			<string>391.929</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{e3caad8d-ff73-4195-8c33-7dfe01b2c48f}</key>
		<dict>
			<key>x</key>
			<string>357.351</string>
			<key>y</key>
			<string>26.2795</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{ee7e7601-ecb8-4a57-9c64-0a239d266ce6}</key>
		<dict>
			<key>x</key>
			<string>322.772</string>
			<key>y</key>
			<string>78.3661</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{166f2915-021f-4fa2-beb8-c70f4bd84be5}</key>
		<dict>
			<key>x</key>
			<string>171.819</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9b214c38-4ecd-4822-a394-f63d17769a0d}</key>
		<dict>
			<key>x</key>
			<string>171.819</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{0f3e1b68-97be-41ea-903e-5f9afc67393d}</key>
		<dict>
			<key>x</key>
			<string>48.7831</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{91ba0c1d-2362-4dcb-86e8-e31ac1363450}</key>
		<dict>
			<key>x</key>
			<string>48.7831</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
	</dict>
	<key>dots</key>
	<dict>
	</dict>
	<key>note_dots</key>
	<dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{d70f29af-5a65-4cc3-94a2-0c7a15af5533}</key>
		<dict>
			<key>x1</key>
			<string>1452.97</string>
			<key>y1</key>
			<string>74.1833</string>
			<key>x2</key>
			<string>1452.97</string>
			<key>y2</key>
			<string>90.1476</string>
			<key>height</key>
			<string>16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{cc13e1bf-6375-471b-b9f8-8101782cc756}</key>
		<dict>
			<key>x1</key>
			<string>1414.59</string>
			<key>y1</key>
			<string>71.8568</string>
			<key>x2</key>
			<string>1414.59</string>
			<key>y2</key>
			<string>88.2873</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{abf39d7d-484c-49b9-946d-a55d852629f7}</key>
		<dict>
			<key>x1</key>
			<string>1376.04</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>1376.04</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{451978f4-ad00-41ba-9466-73131b286336}</key>
		<dict>
			<key>x1</key>
			<string>1329.76</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>1329.76</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{3e850e79-6deb-4933-b978-f0344f44287a}</key>
		<dict>
			<key>x1</key>
			<string>1295.18</string>
			<key>y1</key>
			<string>71.8568</string>
			<key>x2</key>
			<string>1295.18</string>
			<key>y2</key>
			<string>88.2873</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{92325318-e227-4eda-90df-d686a6b88a91}</key>
		<dict>
			<key>x1</key>
			<string>1260.6</string>
			<key>y1</key>
			<string>71.8568</string>
			<key>x2</key>
			<string>1260.6</string>
			<key>y2</key>
			<string>88.2873</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{00768153-d0fe-449c-ab1b-718cba307396}</key>
		<dict>
			<key>x1</key>
			<string>1231.91</string>
			<key>y1</key>
			<string>40.2297</string>
			<key>x2</key>
			<string>1231.91</string>
			<key>y2</key>
			<string>23.7991</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{d5a81e80-51ea-4196-8c68-6c074e68fb55}</key>
		<dict>
			<key>x1</key>
			<string>1185.16</string>
			<key>y1</key>
			<string>40.2297</string>
			<key>x2</key>
			<string>1185.16</string>
			<key>y2</key>
			<string>23.7991</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{1ffd85e5-a70f-486b-ab4c-c87abec51a86}</key>
		<dict>
			<key>x1</key>
			<string>1144.69</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>1144.69</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{a72be720-760a-4b35-b48a-316719746434}</key>
		<dict>
			<key>x1</key>
			<string>1110.11</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>1110.11</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{a3bb1cc8-6fc9-4ef3-833f-348960846c5d}</key>
		<dict>
			<key>x1</key>
			<string>1081.42</string>
			<key>y1</key>
			<string>40.2297</string>
			<key>x2</key>
			<string>1081.42</string>
			<key>y2</key>
			<string>23.7991</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{056693c6-4cb4-4a15-a663-762459924af4}</key>
		<dict>
			<key>x1</key>
			<string>1034.67</string>
			<key>y1</key>
			<string>40.2297</string>
			<key>x2</key>
			<string>1034.67</string>
			<key>y2</key>
			<string>23.7991</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{3aba9d4b-a5a5-484f-a8e0-6a550428520f}</key>
		<dict>
			<key>x1</key>
			<string>994.204</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>994.204</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{993b1ab8-6a1e-426e-9377-a142fbe7ac47}</key>
		<dict>
			<key>x1</key>
			<string>959.625</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>959.625</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{45722349-ff04-482e-86a0-8a2454b87615}</key>
		<dict>
			<key>x1</key>
			<string>930.932</string>
			<key>y1</key>
			<string>40.2297</string>
			<key>x2</key>
			<string>930.932</string>
			<key>y2</key>
			<string>23.7991</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{cf5ccf06-6209-4488-b14e-aa2f377ff680}</key>
		<dict>
			<key>x1</key>
			<string>851.014</string>
			<key>y1</key>
			<string>66.7423</string>
			<key>x2</key>
			<string>851.014</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{3550d3dc-f05c-4363-9712-c4190742bf8b}</key>
		<dict>
			<key>x1</key>
			<string>812.643</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>812.643</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{106926ee-30c5-4b3e-ba11-ad89751c7a03}</key>
		<dict>
			<key>x1</key>
			<string>774.093</string>
			<key>y1</key>
			<string>71.8568</string>
			<key>x2</key>
			<string>774.093</string>
			<key>y2</key>
			<string>88.2873</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{14e0336a-eff3-4b90-9695-5b9ef649ce81}</key>
		<dict>
			<key>x1</key>
			<string>727.69</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>727.69</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{bd8910d1-e4fc-4981-9571-eb4d81d8098e}</key>
		<dict>
			<key>x1</key>
			<string>692.995</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>692.995</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{121ad8ad-eb22-45be-a562-669428a47d04}</key>
		<dict>
			<key>x1</key>
			<string>664.186</string>
			<key>y1</key>
			<string>40.2297</string>
			<key>x2</key>
			<string>664.186</string>
			<key>y2</key>
			<string>23.7991</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{c93d735e-f79a-4bb8-92fa-a094088ae1f3}</key>
		<dict>
			<key>x1</key>
			<string>629.491</string>
			<key>y1</key>
			<string>37.7494</string>
			<key>x2</key>
			<string>629.491</string>
			<key>y2</key>
			<string>21.3188</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{ea344b95-1789-419e-bdc1-57f4af678647}</key>
		<dict>
			<key>x1</key>
			<string>583.205</string>
			<key>y1</key>
			<string>40.2297</string>
			<key>x2</key>
			<string>583.205</string>
			<key>y2</key>
			<string>23.7991</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{c49403f5-8238-48e7-b6f8-5b1d0b56edff}</key>
		<dict>
			<key>x1</key>
			<string>542.74</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>542.74</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{840f9a83-5be3-4ab2-b80b-a2898997bc64}</key>
		<dict>
			<key>x1</key>
			<string>508.161</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>508.161</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d520e458-16a2-47a7-9cd8-c186cd3619ec}</key>
		<dict>
			<key>x1</key>
			<string>479.468</string>
			<key>y1</key>
			<string>40.2297</string>
			<key>x2</key>
			<string>479.468</string>
			<key>y2</key>
			<string>23.7991</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{b723ceb0-bb91-4ad8-b65a-1ce92981ce8d}</key>
		<dict>
			<key>x1</key>
			<string>432.717</string>
			<key>y1</key>
			<string>40.2297</string>
			<key>x2</key>
			<string>432.717</string>
			<key>y2</key>
			<string>23.7991</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{1eef2117-9827-4110-b7a1-87c2fe18720f}</key>
		<dict>
			<key>x1</key>
			<string>392.252</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>392.252</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{4a4f4ca7-27af-4f40-9d6d-feb5fa26a86b}</key>
		<dict>
			<key>x1</key>
			<string>357.673</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>357.673</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{36794c04-4ab7-41e5-9770-a5cca9c5cd19}</key>
		<dict>
			<key>x1</key>
			<string>328.98</string>
			<key>y1</key>
			<string>40.2297</string>
			<key>x2</key>
			<string>328.98</string>
			<key>y2</key>
			<string>23.7991</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
	</dict>
	<key>note_stems</key>
	<dict>
		<key>{13a52967-8206-470d-be10-0986905b918c}</key>
		<string>{d70f29af-5a65-4cc3-94a2-0c7a15af5533}</string>
		<key>{8904c461-d344-4202-a712-2e9fbbfedd00}</key>
		<string>{cc13e1bf-6375-471b-b9f8-8101782cc756}</string>
		<key>{93185fe6-9f9a-487f-a068-01a66420fa83}</key>
		<string>{abf39d7d-484c-49b9-946d-a55d852629f7}</string>
		<key>{9f460f0f-a63e-43f7-b7d5-5f55146fb007}</key>
		<string>{451978f4-ad00-41ba-9466-73131b286336}</string>
		<key>{f036e9d6-f413-4dbe-b6c3-2f1527c7b112}</key>
		<string>{3e850e79-6deb-4933-b978-f0344f44287a}</string>
		<key>{af987dca-496f-40de-8a80-8481bb62aa1a}</key>
		<string>{92325318-e227-4eda-90df-d686a6b88a91}</string>
		<key>{6d2ea367-0340-463e-be7a-5ebab29cd4e9}</key>
		<string>{00768153-d0fe-449c-ab1b-718cba307396}</string>
		<key>{808c3c2e-4c25-4c8d-9825-7bcc64784295}</key>
		<string>{d5a81e80-51ea-4196-8c68-6c074e68fb55}</string>
		<key>{b0145a3c-4b19-485d-a030-f16008dc41ac}</key>
		<string>{1ffd85e5-a70f-486b-ab4c-c87abec51a86}</string>
		<key>{631be39f-2a1b-4961-9a48-de38eb4d95a8}</key>
		<string>{a72be720-760a-4b35-b48a-316719746434}</string>
		<key>{2e1ce1b6-fef5-4bb4-991f-4db473b17f78}</key>
		<string>{a3bb1cc8-6fc9-4ef3-833f-348960846c5d}</string>
		<key>{0979194d-f84d-4a56-b721-af12e2f702e9}</key>
		<string>{056693c6-4cb4-4a15-a663-762459924af4}</string>
		<key>{53e97dc1-2a97-4891-a688-9720c4172cce}</key>
		<string>{3aba9d4b-a5a5-484f-a8e0-6a550428520f}</string>
		<key>{dc0cd57f-aff1-41f5-816b-aef35ca0707a}</key>
		<string>{993b1ab8-6a1e-426e-9377-a142fbe7ac47}</string>
		<key>{88833148-a75f-4e5d-bcf8-006e21e01706}</key>
		<string>{45722349-ff04-482e-86a0-8a2454b87615}</string>
		<key>{c7e020ca-9cda-4de8-9c0f-2e0801cfe57b}</key>
		<string>{cf5ccf06-6209-4488-b14e-aa2f377ff680}</string>
		<key>{10077c97-202d-4efa-932f-d3815757efbe}</key>
		<string>{3550d3dc-f05c-4363-9712-c4190742bf8b}</string>
		<key>{f8fd5eb4-9e7b-443c-828a-82dea3d6fb2c}</key>
		<string>{106926ee-30c5-4b3e-ba11-ad89751c7a03}</string>
		<key>{c68a6561-e7e9-46ea-9d0d-2532d5d0bf50}</key>
		<string>{14e0336a-eff3-4b90-9695-5b9ef649ce81}</string>
		<key>{a08e7b92-9e34-4c2f-92f6-2eb90e939f0d}</key>
		<string>{bd8910d1-e4fc-4981-9571-eb4d81d8098e}</string>
		<key>{bbc7cf9e-05bd-4b13-985b-e9ff072af2b6}</key>
		<string>{121ad8ad-eb22-45be-a562-669428a47d04}</string>
		<key>{6f854f0c-97e2-4275-87bc-d4ec053287bf}</key>
		<string>{c93d735e-f79a-4bb8-92fa-a094088ae1f3}</string>
		<key>{6c1eaed5-af0b-4a66-b092-72213f512da2}</key>
		<string>{ea344b95-1789-419e-bdc1-57f4af678647}</string>
		<key>{7ec00b74-49dc-4d5c-ac67-f885971ba10a}</key>
		<string>{c49403f5-8238-48e7-b6f8-5b1d0b56edff}</string>
		<key>{06f26d76-7fb4-4461-a173-e4f8c3c80d4b}</key>
		<string>{840f9a83-5be3-4ab2-b80b-a2898997bc64}</string>
		<key>{169c0f9b-c33f-4575-8bed-5f2e4e7c5582}</key>
		<string>{d520e458-16a2-47a7-9cd8-c186cd3619ec}</string>
		<key>{80f6ea62-7823-4a05-a194-f216c649a58f}</key>
		<string>{b723ceb0-bb91-4ad8-b65a-1ce92981ce8d}</string>
		<key>{93f0c607-1536-425e-842d-c578351efe98}</key>
		<string>{1eef2117-9827-4110-b7a1-87c2fe18720f}</string>
		<key>{793f5c38-276f-4614-9001-dde31d8b6e97}</key>
		<string>{4a4f4ca7-27af-4f40-9d6d-feb5fa26a86b}</string>
		<key>{21ac5300-aaf9-4061-a9ee-17591bf83d08}</key>
		<string>{36794c04-4ab7-41e5-9770-a5cca9c5cd19}</string>
	</dict>
	<key>note_finger</key>
	<dict>
	</dict>
	<key>note_step</key>
	<dict>
		<key>{13a52967-8206-470d-be10-0986905b918c}</key>
		<string>{788dff5a-7e44-4387-86b4-2a6a9bd98cdf}</string>
		<key>{8904c461-d344-4202-a712-2e9fbbfedd00}</key>
		<string>{639d0800-80bd-4298-8300-eaeb942eace5}</string>
		<key>{93185fe6-9f9a-487f-a068-01a66420fa83}</key>
		<string>{869ac82b-02e7-46cf-bf35-d34f88e9472b}</string>
		<key>{9f460f0f-a63e-43f7-b7d5-5f55146fb007}</key>
		<string>{b5267d7f-77d8-4cee-83b6-773a0dbfcfcb}</string>
		<key>{f036e9d6-f413-4dbe-b6c3-2f1527c7b112}</key>
		<string>{46c56f1b-cc20-4fdc-beeb-488d4bd8a22a}</string>
		<key>{af987dca-496f-40de-8a80-8481bb62aa1a}</key>
		<string>{7bbdd21c-000d-4112-b5a1-0e48eff64a06}</string>
		<key>{6d2ea367-0340-463e-be7a-5ebab29cd4e9}</key>
		<string>{5a2f8aba-4b18-4335-85ae-da1f5c7e3727}</string>
		<key>{808c3c2e-4c25-4c8d-9825-7bcc64784295}</key>
		<string>{4340e028-165f-43ed-9359-fd20c4402bfc}</string>
		<key>{b0145a3c-4b19-485d-a030-f16008dc41ac}</key>
		<string>{8005b1f3-e67c-423e-8ff8-4b69723abf24}</string>
		<key>{631be39f-2a1b-4961-9a48-de38eb4d95a8}</key>
		<string>{d9f61cb8-3808-4209-b650-1a23c53aa093}</string>
		<key>{2e1ce1b6-fef5-4bb4-991f-4db473b17f78}</key>
		<string>{9f5e7199-503b-47e9-82ab-4ffa5b45a049}</string>
		<key>{0979194d-f84d-4a56-b721-af12e2f702e9}</key>
		<string>{15804cc3-c48f-4e57-9755-dbf37c654052}</string>
		<key>{53e97dc1-2a97-4891-a688-9720c4172cce}</key>
		<string>{62a54d5e-899a-42a6-af48-97d173dc4a42}</string>
		<key>{dc0cd57f-aff1-41f5-816b-aef35ca0707a}</key>
		<string>{ae74245d-be56-47ff-a841-1d7cda395bbd}</string>
		<key>{88833148-a75f-4e5d-bcf8-006e21e01706}</key>
		<string>{63924af3-b2b5-42c1-8015-4c94610dc178}</string>
		<key>{c7e020ca-9cda-4de8-9c0f-2e0801cfe57b}</key>
		<string>{34373fca-ba48-4f2e-a250-0f45eb6e6140}</string>
		<key>{10077c97-202d-4efa-932f-d3815757efbe}</key>
		<string>{f0e25d3e-7090-4e82-9748-9e047bda9136}</string>
		<key>{f8fd5eb4-9e7b-443c-828a-82dea3d6fb2c}</key>
		<string>{6bcc0050-ccab-4cc7-8ff2-0cfcd1ab3aa5}</string>
		<key>{c68a6561-e7e9-46ea-9d0d-2532d5d0bf50}</key>
		<string>{8208c365-3d33-4bc1-9a54-71c02e7ecc8d}</string>
		<key>{a08e7b92-9e34-4c2f-92f6-2eb90e939f0d}</key>
		<string>{06e16f19-ed61-4af2-93e3-9ca7c34717a9}</string>
		<key>{bbc7cf9e-05bd-4b13-985b-e9ff072af2b6}</key>
		<string>{e2f52e6c-1396-4141-a207-ef8efc6c44f3}</string>
		<key>{6f854f0c-97e2-4275-87bc-d4ec053287bf}</key>
		<string>{1ad4d45f-c035-48d4-a05c-2826450bc26c}</string>
		<key>{6c1eaed5-af0b-4a66-b092-72213f512da2}</key>
		<string>{598d5cbb-4094-4009-9cc8-fe496baca975}</string>
		<key>{7ec00b74-49dc-4d5c-ac67-f885971ba10a}</key>
		<string>{e0927397-2eb2-4391-b773-312f37c4a717}</string>
		<key>{06f26d76-7fb4-4461-a173-e4f8c3c80d4b}</key>
		<string>{66235175-c961-481d-b5ba-8415a9c1d5c1}</string>
		<key>{169c0f9b-c33f-4575-8bed-5f2e4e7c5582}</key>
		<string>{29d19f5d-0a50-47cc-a774-7c14c1c57665}</string>
		<key>{80f6ea62-7823-4a05-a194-f216c649a58f}</key>
		<string>{52a5e9bd-7837-4ba1-b0a3-7443c36630da}</string>
		<key>{93f0c607-1536-425e-842d-c578351efe98}</key>
		<string>{8742fea3-7fa1-4fa8-8fb2-2dcf4c9f11bf}</string>
		<key>{793f5c38-276f-4614-9001-dde31d8b6e97}</key>
		<string>{a7205cc2-de8f-4e89-bd03-7bacd65706c0}</string>
		<key>{21ac5300-aaf9-4061-a9ee-17591bf83d08}</key>
		<string>{566b106a-bf72-43a7-9082-64dedb3282c7}</string>
	</dict>
	<key>note_light</key>
	<dict>
		<key>{13a52967-8206-470d-be10-0986905b918c}</key>
		<array>
			
			<string>{d70f29af-5a65-4cc3-94a2-0c7a15af5533}</string>
		</array>
		<key>{8904c461-d344-4202-a712-2e9fbbfedd00}</key>
		<array>
			
			<string>{cc13e1bf-6375-471b-b9f8-8101782cc756}</string>
		</array>
		<key>{93185fe6-9f9a-487f-a068-01a66420fa83}</key>
		<array>
			
			<string>{abf39d7d-484c-49b9-946d-a55d852629f7}</string>
		</array>
		<key>{9f460f0f-a63e-43f7-b7d5-5f55146fb007}</key>
		<array>
			
			<string>{451978f4-ad00-41ba-9466-73131b286336}</string>
		</array>
		<key>{f036e9d6-f413-4dbe-b6c3-2f1527c7b112}</key>
		<array>
			
			<string>{3e850e79-6deb-4933-b978-f0344f44287a}</string>
		</array>
		<key>{af987dca-496f-40de-8a80-8481bb62aa1a}</key>
		<array>
			
			<string>{92325318-e227-4eda-90df-d686a6b88a91}</string>
		</array>
		<key>{6d2ea367-0340-463e-be7a-5ebab29cd4e9}</key>
		<array>
			
			<string>{00768153-d0fe-449c-ab1b-718cba307396}</string>
		</array>
		<key>{808c3c2e-4c25-4c8d-9825-7bcc64784295}</key>
		<array>
			
			<string>{d5a81e80-51ea-4196-8c68-6c074e68fb55}</string>
		</array>
		<key>{b0145a3c-4b19-485d-a030-f16008dc41ac}</key>
		<array>
			
			<string>{1ffd85e5-a70f-486b-ab4c-c87abec51a86}</string>
		</array>
		<key>{631be39f-2a1b-4961-9a48-de38eb4d95a8}</key>
		<array>
			
			<string>{a72be720-760a-4b35-b48a-316719746434}</string>
		</array>
		<key>{2e1ce1b6-fef5-4bb4-991f-4db473b17f78}</key>
		<array>
			
			<string>{a3bb1cc8-6fc9-4ef3-833f-348960846c5d}</string>
		</array>
		<key>{0979194d-f84d-4a56-b721-af12e2f702e9}</key>
		<array>
			
			<string>{056693c6-4cb4-4a15-a663-762459924af4}</string>
		</array>
		<key>{53e97dc1-2a97-4891-a688-9720c4172cce}</key>
		<array>
			
			<string>{3aba9d4b-a5a5-484f-a8e0-6a550428520f}</string>
		</array>
		<key>{dc0cd57f-aff1-41f5-816b-aef35ca0707a}</key>
		<array>
			
			<string>{993b1ab8-6a1e-426e-9377-a142fbe7ac47}</string>
		</array>
		<key>{88833148-a75f-4e5d-bcf8-006e21e01706}</key>
		<array>
			
			<string>{45722349-ff04-482e-86a0-8a2454b87615}</string>
		</array>
		<key>{c7e020ca-9cda-4de8-9c0f-2e0801cfe57b}</key>
		<array>
			
			<string>{cf5ccf06-6209-4488-b14e-aa2f377ff680}</string>
		</array>
		<key>{10077c97-202d-4efa-932f-d3815757efbe}</key>
		<array>
			
			<string>{3550d3dc-f05c-4363-9712-c4190742bf8b}</string>
		</array>
		<key>{f8fd5eb4-9e7b-443c-828a-82dea3d6fb2c}</key>
		<array>
			
			<string>{106926ee-30c5-4b3e-ba11-ad89751c7a03}</string>
		</array>
		<key>{c68a6561-e7e9-46ea-9d0d-2532d5d0bf50}</key>
		<array>
			
			<string>{14e0336a-eff3-4b90-9695-5b9ef649ce81}</string>
		</array>
		<key>{a08e7b92-9e34-4c2f-92f6-2eb90e939f0d}</key>
		<array>
			
			<string>{bd8910d1-e4fc-4981-9571-eb4d81d8098e}</string>
		</array>
		<key>{bbc7cf9e-05bd-4b13-985b-e9ff072af2b6}</key>
		<array>
			
			<string>{121ad8ad-eb22-45be-a562-669428a47d04}</string>
		</array>
		<key>{6f854f0c-97e2-4275-87bc-d4ec053287bf}</key>
		<array>
			
			<string>{c93d735e-f79a-4bb8-92fa-a094088ae1f3}</string>
		</array>
		<key>{6c1eaed5-af0b-4a66-b092-72213f512da2}</key>
		<array>
			
			<string>{ea344b95-1789-419e-bdc1-57f4af678647}</string>
		</array>
		<key>{7ec00b74-49dc-4d5c-ac67-f885971ba10a}</key>
		<array>
			
			<string>{c49403f5-8238-48e7-b6f8-5b1d0b56edff}</string>
		</array>
		<key>{06f26d76-7fb4-4461-a173-e4f8c3c80d4b}</key>
		<array>
			
			<string>{840f9a83-5be3-4ab2-b80b-a2898997bc64}</string>
		</array>
		<key>{169c0f9b-c33f-4575-8bed-5f2e4e7c5582}</key>
		<array>
			
			<string>{d520e458-16a2-47a7-9cd8-c186cd3619ec}</string>
		</array>
		<key>{80f6ea62-7823-4a05-a194-f216c649a58f}</key>
		<array>
			
			<string>{b723ceb0-bb91-4ad8-b65a-1ce92981ce8d}</string>
		</array>
		<key>{93f0c607-1536-425e-842d-c578351efe98}</key>
		<array>
			
			<string>{1eef2117-9827-4110-b7a1-87c2fe18720f}</string>
		</array>
		<key>{793f5c38-276f-4614-9001-dde31d8b6e97}</key>
		<array>
			
			<string>{4a4f4ca7-27af-4f40-9d6d-feb5fa26a86b}</string>
		</array>
		<key>{21ac5300-aaf9-4061-a9ee-17591bf83d08}</key>
		<array>
			
			<string>{36794c04-4ab7-41e5-9770-a5cca9c5cd19}</string>
		</array>
	</dict>
</dict>
</plist>