<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>247.04</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>282.619</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>391.89</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>427.47</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>536.741</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>572.321</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>681.592</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>717.171</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>6</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>824.148</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>859.728</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{cc06cd06-c871-47d4-b09e-14614fbdd72b}</key>
		<dict>
			<key>x</key>
			<string>496.757</string>
			<key>y</key>
			<string>743.6</string>
		</dict>
		<key>{5e4c8327-0e97-4dd3-81d0-69f1046f52ac}</key>
		<dict>
			<key>x</key>
			<string>446.972</string>
			<key>y</key>
			<string>738.639</string>
		</dict>
		<key>{f144ccb8-3e61-4c1a-a683-bcb23b3b3ae2}</key>
		<dict>
			<key>x</key>
			<string>446.972</string>
			<key>y</key>
			<string>703.914</string>
		</dict>
		<key>{379c46dc-4483-4d3c-9c81-1cebe639e3ac}</key>
		<dict>
			<key>x</key>
			<string>410.114</string>
			<key>y</key>
			<string>693.993</string>
		</dict>
		<key>{b348102c-5247-4f49-b3ce-4a341854d596}</key>
		<dict>
			<key>x</key>
			<string>379.823</string>
			<key>y</key>
			<string>733.678</string>
		</dict>
		<key>{c1693534-d358-4812-ac04-7d53133aff9d}</key>
		<dict>
			<key>x</key>
			<string>380.002</string>
			<key>y</key>
			<string>693.993</string>
		</dict>
		<key>{4878497d-0a39-4982-aafe-fdbcc99ae497}</key>
		<dict>
			<key>x</key>
			<string>349.891</string>
			<key>y</key>
			<string>698.954</string>
		</dict>
		<key>{f4837e8a-a502-4120-8122-03631fb90f88}</key>
		<dict>
			<key>x</key>
			<string>319.6</string>
			<key>y</key>
			<string>738.639</string>
		</dict>
		<key>{76372c80-cc55-42a9-8976-b4b462c96d58}</key>
		<dict>
			<key>x</key>
			<string>319.779</string>
			<key>y</key>
			<string>703.914</string>
		</dict>
		<key>{1af9e270-600b-4514-93f7-1dab77c9384f}</key>
		<dict>
			<key>x</key>
			<string>262.437</string>
			<key>y</key>
			<string>733.678</string>
		</dict>
		<key>{ea084015-82b0-49f8-abf4-3ef5fb8a563d}</key>
		<dict>
			<key>x</key>
			<string>262.437</string>
			<key>y</key>
			<string>701.434</string>
		</dict>
		<key>{0cd68fae-9335-439b-a364-54e493c1b97b}</key>
		<dict>
			<key>x</key>
			<string>231.218</string>
			<key>y</key>
			<string>701.434</string>
		</dict>
		<key>{0b15b5d0-a713-41a7-950d-8d45574ba10b}</key>
		<dict>
			<key>x</key>
			<string>199.641</string>
			<key>y</key>
			<string>741.119</string>
		</dict>
		<key>{2b9ffd42-000b-426a-ac31-5cc06e70f88c}</key>
		<dict>
			<key>x</key>
			<string>199.82</string>
			<key>y</key>
			<string>696.474</string>
		</dict>
		<key>{6719eb99-6d04-4180-aa41-674bee3218c0}</key>
		<dict>
			<key>x</key>
			<string>144.601</string>
			<key>y</key>
			<string>733.678</string>
		</dict>
		<key>{a2e04748-3f34-4c16-b78a-d702f9576089}</key>
		<dict>
			<key>x</key>
			<string>144.601</string>
			<key>y</key>
			<string>698.954</string>
		</dict>
		<key>{46c2441c-7183-46d9-b85c-70e667f490e7}</key>
		<dict>
			<key>x</key>
			<string>114.708</string>
			<key>y</key>
			<string>698.954</string>
		</dict>
		<key>{545e9cba-e191-476b-84d7-098c52eef969}</key>
		<dict>
			<key>x</key>
			<string>84.4578</string>
			<key>y</key>
			<string>743.6</string>
		</dict>
		<key>{8ce2280b-8dd0-49da-b94e-454b911a769f}</key>
		<dict>
			<key>x</key>
			<string>84.6368</string>
			<key>y</key>
			<string>693.993</string>
		</dict>
		<key>{56e52760-461b-4cbc-b42c-473c7c313ed2}</key>
		<dict>
			<key>x</key>
			<string>511.906</string>
			<key>y</key>
			<string>549.143</string>
		</dict>
		<key>{2aff6fab-24d6-4ae7-b7e0-7ba3c1edcbe6}</key>
		<dict>
			<key>x</key>
			<string>482.91</string>
			<key>y</key>
			<string>551.623</string>
		</dict>
		<key>{fe436e28-778a-4f4b-8295-5d2b3bdb27a0}</key>
		<dict>
			<key>x</key>
			<string>452.088</string>
			<key>y</key>
			<string>588.828</string>
		</dict>
		<key>{5a8bd580-3022-47e1-b3f6-4319e4009262}</key>
		<dict>
			<key>x</key>
			<string>452.088</string>
			<key>y</key>
			<string>598.749</string>
		</dict>
		<key>{41603a21-745d-4399-8831-5ddfb129e9c8}</key>
		<dict>
			<key>x</key>
			<string>453.735</string>
			<key>y</key>
			<string>554.103</string>
		</dict>
		<key>{4d94d148-c88d-49ea-9ac7-4d37d9be565a}</key>
		<dict>
			<key>x</key>
			<string>417.231</string>
			<key>y</key>
			<string>554.103</string>
		</dict>
		<key>{b0a639d6-e2de-42ee-bedf-9d3adddf5534}</key>
		<dict>
			<key>x</key>
			<string>389.12</string>
			<key>y</key>
			<string>554.103</string>
		</dict>
		<key>{c8b36f38-76a1-491a-aa23-f262df26eb2f}</key>
		<dict>
			<key>x</key>
			<string>361.009</string>
			<key>y</key>
			<string>554.103</string>
		</dict>
		<key>{8e7b8b31-bdfe-4026-b241-3468c7ea38dd}</key>
		<dict>
			<key>x</key>
			<string>331.251</string>
			<key>y</key>
			<string>588.828</string>
		</dict>
		<key>{4e6621bf-b571-4338-8a2a-c7aa6a0b332b}</key>
		<dict>
			<key>x</key>
			<string>331.251</string>
			<key>y</key>
			<string>598.749</string>
		</dict>
		<key>{4589eef3-f132-454b-bff2-d35afb466a1a}</key>
		<dict>
			<key>x</key>
			<string>332.898</string>
			<key>y</key>
			<string>554.103</string>
		</dict>
		<key>{d921815c-85cc-41f0-ae91-1d99bd19f88a}</key>
		<dict>
			<key>x</key>
			<string>278.766</string>
			<key>y</key>
			<string>551.623</string>
		</dict>
		<key>{9dae4e9c-e48d-4444-9c2d-26d4b5639390}</key>
		<dict>
			<key>x</key>
			<string>250.47</string>
			<key>y</key>
			<string>554.103</string>
		</dict>
		<key>{bf182ce2-fc51-420d-98dc-ceb514eb4864}</key>
		<dict>
			<key>x</key>
			<string>220.348</string>
			<key>y</key>
			<string>588.828</string>
		</dict>
		<key>{227742ac-5fa8-4815-95c1-47f9b1f67df5}</key>
		<dict>
			<key>x</key>
			<string>211.167</string>
			<key>y</key>
			<string>591.308</string>
		</dict>
		<key>{79efe071-a283-4be6-8dd2-8f505f435daa}</key>
		<dict>
			<key>x</key>
			<string>221.995</string>
			<key>y</key>
			<string>556.583</string>
		</dict>
		<key>{d4d230a9-693f-4af6-a89c-a7ca91540f60}</key>
		<dict>
			<key>x</key>
			<string>177.137</string>
			<key>y</key>
			<string>556.583</string>
		</dict>
		<key>{98794958-1ff5-43e8-a63f-92f0fff132b5}</key>
		<dict>
			<key>x</key>
			<string>149.853</string>
			<key>y</key>
			<string>556.583</string>
		</dict>
		<key>{44773baf-f182-464e-b0f1-f60254c55dd2}</key>
		<dict>
			<key>x</key>
			<string>122.569</string>
			<key>y</key>
			<string>556.583</string>
		</dict>
		<key>{2762da33-c871-4070-a3bb-90fa0cea3fa5}</key>
		<dict>
			<key>x</key>
			<string>93.6381</string>
			<key>y</key>
			<string>588.828</string>
		</dict>
		<key>{b4464536-2b7e-4796-9874-6218ca065623}</key>
		<dict>
			<key>x</key>
			<string>84.4578</string>
			<key>y</key>
			<string>591.308</string>
		</dict>
		<key>{62599870-b9a4-4ddf-bfae-b19c1f5ac358}</key>
		<dict>
			<key>x</key>
			<string>95.2851</string>
			<key>y</key>
			<string>556.583</string>
		</dict>
		<key>{5bb49922-6d7d-4c8b-ba5c-cfcaab52f100}</key>
		<dict>
			<key>x</key>
			<string>496.757</string>
			<key>y</key>
			<string>453.898</string>
		</dict>
		<key>{4b0554d4-8bd6-4cd4-a656-c02ab488c160}</key>
		<dict>
			<key>x</key>
			<string>446.972</string>
			<key>y</key>
			<string>448.938</string>
		</dict>
		<key>{1255f402-e19e-4d97-b99e-89c824d22b73}</key>
		<dict>
			<key>x</key>
			<string>446.972</string>
			<key>y</key>
			<string>414.213</string>
		</dict>
		<key>{aedf9f6a-191e-4fab-8895-0c0e185401bd}</key>
		<dict>
			<key>x</key>
			<string>410.114</string>
			<key>y</key>
			<string>404.292</string>
		</dict>
		<key>{e704000d-e299-4d02-b077-a31876500314}</key>
		<dict>
			<key>x</key>
			<string>379.823</string>
			<key>y</key>
			<string>443.977</string>
		</dict>
		<key>{de4674ef-c1d4-4254-84d6-38eed9613fb4}</key>
		<dict>
			<key>x</key>
			<string>380.002</string>
			<key>y</key>
			<string>404.292</string>
		</dict>
		<key>{d4a50a16-7939-4858-9839-9b919fcc71e3}</key>
		<dict>
			<key>x</key>
			<string>349.891</string>
			<key>y</key>
			<string>409.253</string>
		</dict>
		<key>{571c17f4-7aa6-45ea-9ab5-0346907dd369}</key>
		<dict>
			<key>x</key>
			<string>319.6</string>
			<key>y</key>
			<string>448.938</string>
		</dict>
		<key>{c566a283-089a-48de-afc2-4b3631d74af6}</key>
		<dict>
			<key>x</key>
			<string>319.779</string>
			<key>y</key>
			<string>414.213</string>
		</dict>
		<key>{6599d9b1-2c09-4d4d-bd65-fd5db2cf7d0a}</key>
		<dict>
			<key>x</key>
			<string>262.437</string>
			<key>y</key>
			<string>443.977</string>
		</dict>
		<key>{39ffc1ca-2347-4135-be22-b6eb816c3175}</key>
		<dict>
			<key>x</key>
			<string>262.437</string>
			<key>y</key>
			<string>411.733</string>
		</dict>
		<key>{42d8669f-ad8e-4642-b287-2fc0778f6685}</key>
		<dict>
			<key>x</key>
			<string>231.218</string>
			<key>y</key>
			<string>411.733</string>
		</dict>
		<key>{f6d14985-66f7-4544-9d8a-370b36d0d9ff}</key>
		<dict>
			<key>x</key>
			<string>199.641</string>
			<key>y</key>
			<string>451.418</string>
		</dict>
		<key>{38fc2ffe-b289-40c5-8a6e-e7ad69ae22ce}</key>
		<dict>
			<key>x</key>
			<string>199.82</string>
			<key>y</key>
			<string>406.772</string>
		</dict>
		<key>{bb1959a9-f178-4363-891d-719133ff4b2a}</key>
		<dict>
			<key>x</key>
			<string>144.601</string>
			<key>y</key>
			<string>443.977</string>
		</dict>
		<key>{bd241327-5f0f-46f9-a99a-d64ac43e272c}</key>
		<dict>
			<key>x</key>
			<string>144.601</string>
			<key>y</key>
			<string>409.253</string>
		</dict>
		<key>{ea3a51f6-0850-4d10-98a6-fc7dd411d9e3}</key>
		<dict>
			<key>x</key>
			<string>114.708</string>
			<key>y</key>
			<string>409.253</string>
		</dict>
		<key>{9026fdbc-bc35-413f-b9ba-b1498fe74f13}</key>
		<dict>
			<key>x</key>
			<string>84.4578</string>
			<key>y</key>
			<string>453.898</string>
		</dict>
		<key>{dcf4d535-c7ff-471a-ab9a-b5a24e326f5f}</key>
		<dict>
			<key>x</key>
			<string>84.6368</string>
			<key>y</key>
			<string>404.292</string>
		</dict>
		<key>{171c6588-51b2-49e3-80a6-e1589d24cc4c}</key>
		<dict>
			<key>x</key>
			<string>508.506</string>
			<key>y</key>
			<string>299.126</string>
		</dict>
		<key>{c7f60d8a-f436-4816-be09-f874ca64cd1b}</key>
		<dict>
			<key>x</key>
			<string>508.506</string>
			<key>y</key>
			<string>259.441</string>
		</dict>
		<key>{bd616b95-9140-48dd-be5e-cd377b9806be}</key>
		<dict>
			<key>x</key>
			<string>477.386</string>
			<key>y</key>
			<string>259.441</string>
		</dict>
		<key>{6f624299-0247-4c4c-9b8a-fcc843fda942}</key>
		<dict>
			<key>x</key>
			<string>445.907</string>
			<key>y</key>
			<string>304.087</string>
		</dict>
		<key>{5560b04b-c8ee-4173-bb9f-d0b5f785edf6}</key>
		<dict>
			<key>x</key>
			<string>446.086</string>
			<key>y</key>
			<string>259.441</string>
		</dict>
		<key>{2b3fd078-aa76-417d-85d2-8ef1c93db65b}</key>
		<dict>
			<key>x</key>
			<string>409.138</string>
			<key>y</key>
			<string>261.922</string>
		</dict>
		<key>{e726f95a-d19e-4fef-8586-578298b58929}</key>
		<dict>
			<key>x</key>
			<string>378.936</string>
			<key>y</key>
			<string>299.126</string>
		</dict>
		<key>{9828c698-e394-4d07-b08e-2a92aeeaf4de}</key>
		<dict>
			<key>x</key>
			<string>379.115</string>
			<key>y</key>
			<string>264.402</string>
		</dict>
		<key>{70cc31a9-a797-4d7d-b771-ba724ba12399}</key>
		<dict>
			<key>x</key>
			<string>349.092</string>
			<key>y</key>
			<string>266.882</string>
		</dict>
		<key>{18d00ec9-daf8-421e-9009-4d7af7ba460a}</key>
		<dict>
			<key>x</key>
			<string>318.89</string>
			<key>y</key>
			<string>304.087</string>
		</dict>
		<key>{01a6d6f1-c0f7-4109-bf20-0a00b92f2ff7}</key>
		<dict>
			<key>x</key>
			<string>319.069</string>
			<key>y</key>
			<string>269.362</string>
		</dict>
		<key>{19ad669f-c8ac-44f8-86db-7cd3fbfdca21}</key>
		<dict>
			<key>x</key>
			<string>261.886</string>
			<key>y</key>
			<string>299.126</string>
		</dict>
		<key>{ad51afe8-e516-4266-b6eb-ded54c4dbce8}</key>
		<dict>
			<key>x</key>
			<string>261.886</string>
			<key>y</key>
			<string>266.882</string>
		</dict>
		<key>{d587ca31-6380-4710-a276-0f673cc66062}</key>
		<dict>
			<key>x</key>
			<string>230.765</string>
			<key>y</key>
			<string>266.882</string>
		</dict>
		<key>{739981d3-d9a7-4c56-8fac-edbcd7774814}</key>
		<dict>
			<key>x</key>
			<string>199.286</string>
			<key>y</key>
			<string>306.567</string>
		</dict>
		<key>{e0840f32-bf93-4c0f-9ca0-f51afad34a61}</key>
		<dict>
			<key>x</key>
			<string>199.465</string>
			<key>y</key>
			<string>261.922</string>
		</dict>
		<key>{5913be2b-20b6-415a-b15a-3ea3df7a8398}</key>
		<dict>
			<key>x</key>
			<string>144.404</string>
			<key>y</key>
			<string>299.126</string>
		</dict>
		<key>{cd0ad900-2bb4-4dbf-a4b6-e9a5e13ed42a}</key>
		<dict>
			<key>x</key>
			<string>144.404</string>
			<key>y</key>
			<string>264.402</string>
		</dict>
		<key>{bd3eede7-ae8a-4f53-9079-c1d39b19ba5f}</key>
		<dict>
			<key>x</key>
			<string>114.61</string>
			<key>y</key>
			<string>264.402</string>
		</dict>
		<key>{3bcdcd28-152d-4e8b-af92-af26d959460a}</key>
		<dict>
			<key>x</key>
			<string>84.4578</string>
			<key>y</key>
			<string>309.048</string>
		</dict>
		<key>{97ad4150-ec41-4aae-b1b5-3057d39584c7}</key>
		<dict>
			<key>x</key>
			<string>84.6368</string>
			<key>y</key>
			<string>259.441</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{cc06cd06-c871-47d4-b09e-14614fbdd72b}</key>
		<dict>
			<key>x1</key>
			<string>497.079</string>
			<key>y1</key>
			<string>744.531</string>
			<key>x2</key>
			<string>497.079</string>
			<key>y2</key>
			<string>759.101</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{5e4c8327-0e97-4dd3-81d0-69f1046f52ac}</key>
		<dict>
			<key>x1</key>
			<string>447.294</string>
			<key>y1</key>
			<string>739.417</string>
			<key>x2</key>
			<string>447.294</string>
			<key>y2</key>
			<string>755.381</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{f144ccb8-3e61-4c1a-a683-bcb23b3b3ae2}</key>
		<dict>
			<key>x1</key>
			<string>453.538</string>
			<key>y1</key>
			<string>703.153</string>
			<key>x2</key>
			<string>453.538</string>
			<key>y2</key>
			<string>686.552</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{379c46dc-4483-4d3c-9c81-1cebe639e3ac}</key>
		<dict>
			<key>x1</key>
			<string>416.322</string>
			<key>y1</key>
			<string>693.062</string>
			<key>x2</key>
			<string>416.322</string>
			<key>y2</key>
			<string>677.871</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{b348102c-5247-4f49-b3ce-4a341854d596}</key>
		<dict>
			<key>x1</key>
			<string>380.145</string>
			<key>y1</key>
			<string>734.456</string>
			<key>x2</key>
			<string>380.145</string>
			<key>y2</key>
			<string>751.04</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{c1693534-d358-4812-ac04-7d53133aff9d}</key>
		<dict>
			<key>x1</key>
			<string>386.211</string>
			<key>y1</key>
			<string>693.062</string>
			<key>x2</key>
			<string>386.211</string>
			<key>y2</key>
			<string>677.871</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{4878497d-0a39-4982-aafe-fdbcc99ae497}</key>
		<dict>
			<key>x1</key>
			<string>356.099</string>
			<key>y1</key>
			<string>698.022</string>
			<key>x2</key>
			<string>356.099</string>
			<key>y2</key>
			<string>681.592</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f4837e8a-a502-4120-8122-03631fb90f88}</key>
		<dict>
			<key>x1</key>
			<string>319.922</string>
			<key>y1</key>
			<string>739.417</string>
			<key>x2</key>
			<string>319.922</string>
			<key>y2</key>
			<string>755.381</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{76372c80-cc55-42a9-8976-b4b462c96d58}</key>
		<dict>
			<key>x1</key>
			<string>325.987</string>
			<key>y1</key>
			<string>702.983</string>
			<key>x2</key>
			<string>325.987</string>
			<key>y2</key>
			<string>686.552</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{1af9e270-600b-4514-93f7-1dab77c9384f}</key>
		<dict>
			<key>x1</key>
			<string>262.76</string>
			<key>y1</key>
			<string>734.456</string>
			<key>x2</key>
			<string>262.76</string>
			<key>y2</key>
			<string>751.04</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{ea084015-82b0-49f8-abf4-3ef5fb8a563d}</key>
		<dict>
			<key>x1</key>
			<string>269.004</string>
			<key>y1</key>
			<string>700.672</string>
			<key>x2</key>
			<string>269.004</string>
			<key>y2</key>
			<string>684.072</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{0cd68fae-9335-439b-a364-54e493c1b97b}</key>
		<dict>
			<key>x1</key>
			<string>237.427</string>
			<key>y1</key>
			<string>700.502</string>
			<key>x2</key>
			<string>237.427</string>
			<key>y2</key>
			<string>684.072</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{0b15b5d0-a713-41a7-950d-8d45574ba10b}</key>
		<dict>
			<key>x1</key>
			<string>199.964</string>
			<key>y1</key>
			<string>741.897</string>
			<key>x2</key>
			<string>199.964</string>
			<key>y2</key>
			<string>757.241</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{2b9ffd42-000b-426a-ac31-5cc06e70f88c}</key>
		<dict>
			<key>x1</key>
			<string>206.029</string>
			<key>y1</key>
			<string>695.542</string>
			<key>x2</key>
			<string>206.029</string>
			<key>y2</key>
			<string>679.731</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{6719eb99-6d04-4180-aa41-674bee3218c0}</key>
		<dict>
			<key>x1</key>
			<string>144.924</string>
			<key>y1</key>
			<string>734.456</string>
			<key>x2</key>
			<string>144.924</string>
			<key>y2</key>
			<string>751.04</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{a2e04748-3f34-4c16-b78a-d702f9576089}</key>
		<dict>
			<key>x1</key>
			<string>151.168</string>
			<key>y1</key>
			<string>698.192</string>
			<key>x2</key>
			<string>151.168</string>
			<key>y2</key>
			<string>681.592</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{46c2441c-7183-46d9-b85c-70e667f490e7}</key>
		<dict>
			<key>x1</key>
			<string>120.917</string>
			<key>y1</key>
			<string>698.022</string>
			<key>x2</key>
			<string>120.917</string>
			<key>y2</key>
			<string>681.592</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{545e9cba-e191-476b-84d7-098c52eef969}</key>
		<dict>
			<key>x1</key>
			<string>84.7802</string>
			<key>y1</key>
			<string>744.377</string>
			<key>x2</key>
			<string>84.7802</string>
			<key>y2</key>
			<string>759.101</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{8ce2280b-8dd0-49da-b94e-454b911a769f}</key>
		<dict>
			<key>x1</key>
			<string>90.8454</string>
			<key>y1</key>
			<string>693.062</string>
			<key>x2</key>
			<string>90.8454</string>
			<key>y2</key>
			<string>677.871</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{56e52760-461b-4cbc-b42c-473c7c313ed2}</key>
		<dict>
			<key>x1</key>
			<string>518.472</string>
			<key>y1</key>
			<string>548.381</string>
			<key>x2</key>
			<string>518.472</string>
			<key>y2</key>
			<string>533.02</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{2aff6fab-24d6-4ae7-b7e0-7ba3c1edcbe6}</key>
		<dict>
			<key>x1</key>
			<string>489.118</string>
			<key>y1</key>
			<string>550.691</string>
			<key>x2</key>
			<string>489.118</string>
			<key>y2</key>
			<string>534.881</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{41603a21-745d-4399-8831-5ddfb129e9c8}</key>
		<dict>
			<key>x1</key>
			<string>459.943</string>
			<key>y1</key>
			<string>553.171</string>
			<key>x2</key>
			<string>459.943</string>
			<key>y2</key>
			<string>536.741</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{4d94d148-c88d-49ea-9ac7-4d37d9be565a}</key>
		<dict>
			<key>x1</key>
			<string>423.439</string>
			<key>y1</key>
			<string>553.171</string>
			<key>x2</key>
			<string>423.439</string>
			<key>y2</key>
			<string>536.741</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b0a639d6-e2de-42ee-bedf-9d3adddf5534}</key>
		<dict>
			<key>x1</key>
			<string>395.328</string>
			<key>y1</key>
			<string>553.171</string>
			<key>x2</key>
			<string>395.328</string>
			<key>y2</key>
			<string>536.741</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c8b36f38-76a1-491a-aa23-f262df26eb2f}</key>
		<dict>
			<key>x1</key>
			<string>367.218</string>
			<key>y1</key>
			<string>553.171</string>
			<key>x2</key>
			<string>367.218</string>
			<key>y2</key>
			<string>536.741</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{4589eef3-f132-454b-bff2-d35afb466a1a}</key>
		<dict>
			<key>x1</key>
			<string>339.107</string>
			<key>y1</key>
			<string>553.171</string>
			<key>x2</key>
			<string>339.107</string>
			<key>y2</key>
			<string>536.741</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d921815c-85cc-41f0-ae91-1d99bd19f88a}</key>
		<dict>
			<key>x1</key>
			<string>285.332</string>
			<key>y1</key>
			<string>550.861</string>
			<key>x2</key>
			<string>285.332</string>
			<key>y2</key>
			<string>534.881</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{9dae4e9c-e48d-4444-9c2d-26d4b5639390}</key>
		<dict>
			<key>x1</key>
			<string>256.678</string>
			<key>y1</key>
			<string>553.171</string>
			<key>x2</key>
			<string>256.678</string>
			<key>y2</key>
			<string>536.741</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{79efe071-a283-4be6-8dd2-8f505f435daa}</key>
		<dict>
			<key>x1</key>
			<string>228.203</string>
			<key>y1</key>
			<string>555.652</string>
			<key>x2</key>
			<string>228.203</string>
			<key>y2</key>
			<string>539.221</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d4d230a9-693f-4af6-a89c-a7ca91540f60}</key>
		<dict>
			<key>x1</key>
			<string>183.345</string>
			<key>y1</key>
			<string>555.652</string>
			<key>x2</key>
			<string>183.345</string>
			<key>y2</key>
			<string>539.221</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{98794958-1ff5-43e8-a63f-92f0fff132b5}</key>
		<dict>
			<key>x1</key>
			<string>156.062</string>
			<key>y1</key>
			<string>555.652</string>
			<key>x2</key>
			<string>156.062</string>
			<key>y2</key>
			<string>539.221</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{44773baf-f182-464e-b0f1-f60254c55dd2}</key>
		<dict>
			<key>x1</key>
			<string>128.778</string>
			<key>y1</key>
			<string>555.652</string>
			<key>x2</key>
			<string>128.778</string>
			<key>y2</key>
			<string>539.221</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{62599870-b9a4-4ddf-bfae-b19c1f5ac358}</key>
		<dict>
			<key>x1</key>
			<string>101.494</string>
			<key>y1</key>
			<string>555.652</string>
			<key>x2</key>
			<string>101.494</string>
			<key>y2</key>
			<string>539.221</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{5bb49922-6d7d-4c8b-ba5c-cfcaab52f100}</key>
		<dict>
			<key>x1</key>
			<string>497.079</string>
			<key>y1</key>
			<string>454.83</string>
			<key>x2</key>
			<string>497.079</string>
			<key>y2</key>
			<string>469.4</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{4b0554d4-8bd6-4cd4-a656-c02ab488c160}</key>
		<dict>
			<key>x1</key>
			<string>447.294</string>
			<key>y1</key>
			<string>449.715</string>
			<key>x2</key>
			<string>447.294</string>
			<key>y2</key>
			<string>465.68</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{1255f402-e19e-4d97-b99e-89c824d22b73}</key>
		<dict>
			<key>x1</key>
			<string>453.538</string>
			<key>y1</key>
			<string>413.451</string>
			<key>x2</key>
			<string>453.538</string>
			<key>y2</key>
			<string>396.851</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{aedf9f6a-191e-4fab-8895-0c0e185401bd}</key>
		<dict>
			<key>x1</key>
			<string>416.322</string>
			<key>y1</key>
			<string>403.36</string>
			<key>x2</key>
			<string>416.322</string>
			<key>y2</key>
			<string>388.17</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{e704000d-e299-4d02-b077-a31876500314}</key>
		<dict>
			<key>x1</key>
			<string>380.145</string>
			<key>y1</key>
			<string>444.755</string>
			<key>x2</key>
			<string>380.145</string>
			<key>y2</key>
			<string>461.339</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{de4674ef-c1d4-4254-84d6-38eed9613fb4}</key>
		<dict>
			<key>x1</key>
			<string>386.211</string>
			<key>y1</key>
			<string>403.36</string>
			<key>x2</key>
			<string>386.211</string>
			<key>y2</key>
			<string>388.17</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{d4a50a16-7939-4858-9839-9b919fcc71e3}</key>
		<dict>
			<key>x1</key>
			<string>356.099</string>
			<key>y1</key>
			<string>408.321</string>
			<key>x2</key>
			<string>356.099</string>
			<key>y2</key>
			<string>391.89</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{571c17f4-7aa6-45ea-9ab5-0346907dd369}</key>
		<dict>
			<key>x1</key>
			<string>319.922</string>
			<key>y1</key>
			<string>449.715</string>
			<key>x2</key>
			<string>319.922</string>
			<key>y2</key>
			<string>465.68</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{c566a283-089a-48de-afc2-4b3631d74af6}</key>
		<dict>
			<key>x1</key>
			<string>325.987</string>
			<key>y1</key>
			<string>413.281</string>
			<key>x2</key>
			<string>325.987</string>
			<key>y2</key>
			<string>396.851</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{6599d9b1-2c09-4d4d-bd65-fd5db2cf7d0a}</key>
		<dict>
			<key>x1</key>
			<string>262.76</string>
			<key>y1</key>
			<string>444.755</string>
			<key>x2</key>
			<string>262.76</string>
			<key>y2</key>
			<string>461.339</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{39ffc1ca-2347-4135-be22-b6eb816c3175}</key>
		<dict>
			<key>x1</key>
			<string>269.004</string>
			<key>y1</key>
			<string>410.971</string>
			<key>x2</key>
			<string>269.004</string>
			<key>y2</key>
			<string>394.371</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{42d8669f-ad8e-4642-b287-2fc0778f6685}</key>
		<dict>
			<key>x1</key>
			<string>237.427</string>
			<key>y1</key>
			<string>410.801</string>
			<key>x2</key>
			<string>237.427</string>
			<key>y2</key>
			<string>394.371</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f6d14985-66f7-4544-9d8a-370b36d0d9ff}</key>
		<dict>
			<key>x1</key>
			<string>199.964</string>
			<key>y1</key>
			<string>452.196</string>
			<key>x2</key>
			<string>199.964</string>
			<key>y2</key>
			<string>467.54</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{38fc2ffe-b289-40c5-8a6e-e7ad69ae22ce}</key>
		<dict>
			<key>x1</key>
			<string>206.029</string>
			<key>y1</key>
			<string>405.841</string>
			<key>x2</key>
			<string>206.029</string>
			<key>y2</key>
			<string>390.03</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{bb1959a9-f178-4363-891d-719133ff4b2a}</key>
		<dict>
			<key>x1</key>
			<string>144.924</string>
			<key>y1</key>
			<string>444.755</string>
			<key>x2</key>
			<string>144.924</string>
			<key>y2</key>
			<string>461.339</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{bd241327-5f0f-46f9-a99a-d64ac43e272c}</key>
		<dict>
			<key>x1</key>
			<string>151.168</string>
			<key>y1</key>
			<string>408.491</string>
			<key>x2</key>
			<string>151.168</string>
			<key>y2</key>
			<string>391.89</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ea3a51f6-0850-4d10-98a6-fc7dd411d9e3}</key>
		<dict>
			<key>x1</key>
			<string>120.917</string>
			<key>y1</key>
			<string>408.321</string>
			<key>x2</key>
			<string>120.917</string>
			<key>y2</key>
			<string>391.89</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9026fdbc-bc35-413f-b9ba-b1498fe74f13}</key>
		<dict>
			<key>x1</key>
			<string>84.7802</string>
			<key>y1</key>
			<string>454.676</string>
			<key>x2</key>
			<string>84.7802</string>
			<key>y2</key>
			<string>469.4</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{dcf4d535-c7ff-471a-ab9a-b5a24e326f5f}</key>
		<dict>
			<key>x1</key>
			<string>90.8454</string>
			<key>y1</key>
			<string>403.36</string>
			<key>x2</key>
			<string>90.8454</string>
			<key>y2</key>
			<string>388.17</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{171c6588-51b2-49e3-80a6-e1589d24cc4c}</key>
		<dict>
			<key>x1</key>
			<string>508.829</string>
			<key>y1</key>
			<string>299.904</string>
			<key>x2</key>
			<string>508.829</string>
			<key>y2</key>
			<string>316.488</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{c7f60d8a-f436-4816-be09-f874ca64cd1b}</key>
		<dict>
			<key>x1</key>
			<string>515.073</string>
			<key>y1</key>
			<string>258.679</string>
			<key>x2</key>
			<string>515.073</string>
			<key>y2</key>
			<string>243.319</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{bd616b95-9140-48dd-be5e-cd377b9806be}</key>
		<dict>
			<key>x1</key>
			<string>483.594</string>
			<key>y1</key>
			<string>258.51</string>
			<key>x2</key>
			<string>483.594</string>
			<key>y2</key>
			<string>243.319</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{6f624299-0247-4c4c-9b8a-fcc843fda942}</key>
		<dict>
			<key>x1</key>
			<string>446.23</string>
			<key>y1</key>
			<string>304.865</string>
			<key>x2</key>
			<string>446.23</string>
			<key>y2</key>
			<string>320.829</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{5560b04b-c8ee-4173-bb9f-d0b5f785edf6}</key>
		<dict>
			<key>x1</key>
			<string>452.295</string>
			<key>y1</key>
			<string>258.51</string>
			<key>x2</key>
			<string>452.295</string>
			<key>y2</key>
			<string>243.319</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{2b3fd078-aa76-417d-85d2-8ef1c93db65b}</key>
		<dict>
			<key>x1</key>
			<string>415.346</string>
			<key>y1</key>
			<string>260.99</string>
			<key>x2</key>
			<string>415.346</string>
			<key>y2</key>
			<string>245.179</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{e726f95a-d19e-4fef-8586-578298b58929}</key>
		<dict>
			<key>x1</key>
			<string>379.258</string>
			<key>y1</key>
			<string>299.904</string>
			<key>x2</key>
			<string>379.258</string>
			<key>y2</key>
			<string>316.488</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{9828c698-e394-4d07-b08e-2a92aeeaf4de}</key>
		<dict>
			<key>x1</key>
			<string>385.324</string>
			<key>y1</key>
			<string>263.47</string>
			<key>x2</key>
			<string>385.324</string>
			<key>y2</key>
			<string>247.04</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{70cc31a9-a797-4d7d-b771-ba724ba12399}</key>
		<dict>
			<key>x1</key>
			<string>355.301</string>
			<key>y1</key>
			<string>265.95</string>
			<key>x2</key>
			<string>355.301</string>
			<key>y2</key>
			<string>249.52</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{18d00ec9-daf8-421e-9009-4d7af7ba460a}</key>
		<dict>
			<key>x1</key>
			<string>319.213</string>
			<key>y1</key>
			<string>304.865</string>
			<key>x2</key>
			<string>319.213</string>
			<key>y2</key>
			<string>320.829</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{01a6d6f1-c0f7-4109-bf20-0a00b92f2ff7}</key>
		<dict>
			<key>x1</key>
			<string>325.278</string>
			<key>y1</key>
			<string>268.431</string>
			<key>x2</key>
			<string>325.278</string>
			<key>y2</key>
			<string>252</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{19ad669f-c8ac-44f8-86db-7cd3fbfdca21}</key>
		<dict>
			<key>x1</key>
			<string>262.208</string>
			<key>y1</key>
			<string>299.904</string>
			<key>x2</key>
			<string>262.208</string>
			<key>y2</key>
			<string>316.488</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{ad51afe8-e516-4266-b6eb-ded54c4dbce8}</key>
		<dict>
			<key>x1</key>
			<string>268.452</string>
			<key>y1</key>
			<string>266.12</string>
			<key>x2</key>
			<string>268.452</string>
			<key>y2</key>
			<string>249.52</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d587ca31-6380-4710-a276-0f673cc66062}</key>
		<dict>
			<key>x1</key>
			<string>236.974</string>
			<key>y1</key>
			<string>265.95</string>
			<key>x2</key>
			<string>236.974</string>
			<key>y2</key>
			<string>249.52</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{739981d3-d9a7-4c56-8fac-edbcd7774814}</key>
		<dict>
			<key>x1</key>
			<string>199.609</string>
			<key>y1</key>
			<string>307.345</string>
			<key>x2</key>
			<string>199.609</string>
			<key>y2</key>
			<string>322.689</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{e0840f32-bf93-4c0f-9ca0-f51afad34a61}</key>
		<dict>
			<key>x1</key>
			<string>205.674</string>
			<key>y1</key>
			<string>260.99</string>
			<key>x2</key>
			<string>205.674</string>
			<key>y2</key>
			<string>245.179</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{5913be2b-20b6-415a-b15a-3ea3df7a8398}</key>
		<dict>
			<key>x1</key>
			<string>144.726</string>
			<key>y1</key>
			<string>299.904</string>
			<key>x2</key>
			<string>144.726</string>
			<key>y2</key>
			<string>316.488</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{cd0ad900-2bb4-4dbf-a4b6-e9a5e13ed42a}</key>
		<dict>
			<key>x1</key>
			<string>150.971</string>
			<key>y1</key>
			<string>263.64</string>
			<key>x2</key>
			<string>150.971</string>
			<key>y2</key>
			<string>247.04</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{bd3eede7-ae8a-4f53-9079-c1d39b19ba5f}</key>
		<dict>
			<key>x1</key>
			<string>120.818</string>
			<key>y1</key>
			<string>263.47</string>
			<key>x2</key>
			<string>120.818</string>
			<key>y2</key>
			<string>247.04</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3bcdcd28-152d-4e8b-af92-af26d959460a}</key>
		<dict>
			<key>x1</key>
			<string>84.7802</string>
			<key>y1</key>
			<string>309.825</string>
			<key>x2</key>
			<string>84.7802</string>
			<key>y2</key>
			<string>324.549</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{97ad4150-ec41-4aae-b1b5-3057d39584c7}</key>
		<dict>
			<key>x1</key>
			<string>90.8454</string>
			<key>y1</key>
			<string>258.51</string>
			<key>x2</key>
			<string>90.8454</string>
			<key>y2</key>
			<string>243.319</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
	</dict>
</dict>
</plist>