<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>541.205</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>576.784</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{6b9d4e8f-ea0a-48fd-9d07-af376ea6a2fa}</key>
		<dict>
			<key>x</key>
			<string>493.818</string>
			<key>y</key>
			<string>632.976</string>
		</dict>
		<key>{967a8eb4-d2a2-44a4-9cef-94d694b29953}</key>
		<dict>
			<key>x</key>
			<string>445.254</string>
			<key>y</key>
			<string>628.016</string>
		</dict>
		<key>{b4552cd5-fb8f-4e99-865c-6a9961774e24}</key>
		<dict>
			<key>x</key>
			<string>445.254</string>
			<key>y</key>
			<string>563.528</string>
		</dict>
		<key>{be300978-e2ee-4476-9004-e7937c879a95}</key>
		<dict>
			<key>x</key>
			<string>403.988</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{b6247e61-6999-4c36-9c9b-15c146688518}</key>
		<dict>
			<key>x</key>
			<string>373.464</string>
			<key>y</key>
			<string>623.055</string>
		</dict>
		<key>{cd0723c1-d259-4ff2-a169-d7952668ba31}</key>
		<dict>
			<key>x</key>
			<string>373.643</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{d8d69574-007f-4248-8fde-985a3d3540ca}</key>
		<dict>
			<key>x</key>
			<string>343.299</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{f730a0d7-557c-4011-982f-4238e140c5d7}</key>
		<dict>
			<key>x</key>
			<string>312.775</string>
			<key>y</key>
			<string>628.016</string>
		</dict>
		<key>{b261ffb4-9725-4c00-8ae1-984d74568565}</key>
		<dict>
			<key>x</key>
			<string>312.954</string>
			<key>y</key>
			<string>563.528</string>
		</dict>
		<key>{64d11a8f-d265-404d-b1ef-8ebf717b8a64}</key>
		<dict>
			<key>x</key>
			<string>252.65</string>
			<key>y</key>
			<string>623.055</string>
		</dict>
		<key>{91911b47-86ee-42df-8ccf-e8374963107b}</key>
		<dict>
			<key>x</key>
			<string>252.65</string>
			<key>y</key>
			<string>561.047</string>
		</dict>
		<key>{50a90925-fac9-4c8b-92fc-905cd9f0e0fb}</key>
		<dict>
			<key>x</key>
			<string>222.189</string>
			<key>y</key>
			<string>561.047</string>
		</dict>
		<key>{861ebd19-7924-40a6-ab59-c2fd53147329}</key>
		<dict>
			<key>x</key>
			<string>191.369</string>
			<key>y</key>
			<string>630.496</string>
		</dict>
		<key>{eb411401-a1c6-45f8-8290-0fe6d8148cdc}</key>
		<dict>
			<key>x</key>
			<string>191.548</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{3cf0f143-b749-4e37-9d23-54f5cedec13c}</key>
		<dict>
			<key>x</key>
			<string>134.142</string>
			<key>y</key>
			<string>623.055</string>
		</dict>
		<key>{ada80b27-edc6-4a3f-b48d-9ab81bec4285}</key>
		<dict>
			<key>x</key>
			<string>134.142</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{e4454961-f54b-4238-aeb3-d47badb0e33c}</key>
		<dict>
			<key>x</key>
			<string>102.883</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{7188525b-160e-45bc-bdc7-f059747b136d}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>632.976</string>
		</dict>
		<key>{8788b809-9cd5-4b01-941f-67feb4aab593}</key>
		<dict>
			<key>x</key>
			<string>71.4447</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{f70cd645-f312-4fc6-bfeb-4d7e5485da7f}</key>
		<dict>
			<key>x</key>
			<string>510.212</string>
			<key>y</key>
			<string>407.268</string>
		</dict>
		<key>{f6094e6c-9b1e-4bca-a0c9-73d2491f182e}</key>
		<dict>
			<key>x</key>
			<string>480.157</string>
			<key>y</key>
			<string>409.748</string>
		</dict>
		<key>{57dcbd0c-ef50-4e38-9822-5d7203acfa2f}</key>
		<dict>
			<key>x</key>
			<string>448.277</string>
			<key>y</key>
			<string>476.717</string>
		</dict>
		<key>{241ac41c-825a-4b0a-8474-16421091d33f}</key>
		<dict>
			<key>x</key>
			<string>448.277</string>
			<key>y</key>
			<string>486.638</string>
		</dict>
		<key>{bae12251-1535-45fe-a3b7-50f3063cc49e}</key>
		<dict>
			<key>x</key>
			<string>449.924</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{c206b937-b848-4ab7-9633-4adb84acbd64}</key>
		<dict>
			<key>x</key>
			<string>410.931</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{b60e0344-3628-4e4a-acdb-67360753756b}</key>
		<dict>
			<key>x</key>
			<string>381.868</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{b40ddae4-d3c2-41b0-bfe4-6caddbf85db7}</key>
		<dict>
			<key>x</key>
			<string>352.804</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{07a83a13-adcc-45b7-ab79-7f3795f5c58d}</key>
		<dict>
			<key>x</key>
			<string>322.094</string>
			<key>y</key>
			<string>476.717</string>
		</dict>
		<key>{e3b57e16-ca6b-4959-9978-2f63fffa5f4d}</key>
		<dict>
			<key>x</key>
			<string>322.094</string>
			<key>y</key>
			<string>486.638</string>
		</dict>
		<key>{b7d97d91-0b84-42de-b765-406cb5745f66}</key>
		<dict>
			<key>x</key>
			<string>323.741</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{c4b2131e-36aa-4076-b650-caee9357dc4f}</key>
		<dict>
			<key>x</key>
			<string>261.178</string>
			<key>y</key>
			<string>409.748</string>
		</dict>
		<key>{15963998-c3c4-4e9e-9459-f659043115b4}</key>
		<dict>
			<key>x</key>
			<string>228.573</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{390384fd-4926-405a-b7b5-99c749047068}</key>
		<dict>
			<key>x</key>
			<string>203.322</string>
			<key>y</key>
			<string>476.717</string>
		</dict>
		<key>{83bbfc12-2fc6-45a0-aa17-f507acb703f1}</key>
		<dict>
			<key>x</key>
			<string>194.141</string>
			<key>y</key>
			<string>479.197</string>
		</dict>
		<key>{75f72a28-d519-4425-b8b5-91866124d394}</key>
		<dict>
			<key>x</key>
			<string>195.788</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{cc112004-22d0-4b9a-b927-8313737b2830}</key>
		<dict>
			<key>x</key>
			<string>158.774</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{a4a49a48-595f-4afc-a3a6-785c4f7d8e73}</key>
		<dict>
			<key>x</key>
			<string>130.154</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{0fe34156-13c6-4670-9e71-5227e9fb48e2}</key>
		<dict>
			<key>x</key>
			<string>101.533</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{ab3c9939-7f46-4694-9fdc-b9aa7a67c570}</key>
		<dict>
			<key>x</key>
			<string>80.4459</string>
			<key>y</key>
			<string>476.717</string>
		</dict>
		<key>{02748984-109d-464e-9ac7-2219e7b9db9d}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>479.197</string>
		</dict>
		<key>{be7f7943-05b4-4449-8f47-2c83dfdf2a67}</key>
		<dict>
			<key>x</key>
			<string>72.9127</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{ba82b6b6-9bea-44c1-8e98-957632ce7e25}</key>
		<dict>
			<key>x</key>
			<string>497.663</string>
			<key>y</key>
			<string>340.299</string>
		</dict>
		<key>{38886b5f-912d-4246-9951-dd90b1c30842}</key>
		<dict>
			<key>x</key>
			<string>448.602</string>
			<key>y</key>
			<string>335.339</string>
		</dict>
		<key>{5f855788-9f8c-4387-8256-51977904ce63}</key>
		<dict>
			<key>x</key>
			<string>448.602</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{740efeea-b4a3-445b-b3a5-508d031078d5}</key>
		<dict>
			<key>x</key>
			<string>407.057</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{d19a78d2-ded0-4d7b-a997-fe792810e9cb}</key>
		<dict>
			<key>x</key>
			<string>376.255</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{c337f2df-4898-458a-876d-b54116183167}</key>
		<dict>
			<key>x</key>
			<string>376.434</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{464702e1-ab37-4bbf-9cd0-1ad9b14b4ca2}</key>
		<dict>
			<key>x</key>
			<string>345.81</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{9c68805d-9c89-4ee8-b348-9f24e82e8167}</key>
		<dict>
			<key>x</key>
			<string>315.007</string>
			<key>y</key>
			<string>335.339</string>
		</dict>
		<key>{53617c20-38bd-4568-aca9-dd5b834a8f25}</key>
		<dict>
			<key>x</key>
			<string>315.187</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{66d605c2-baee-4705-80dc-6ea4db673225}</key>
		<dict>
			<key>x</key>
			<string>254.386</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{710b32a4-53a1-4ddd-99dc-4b1f4119b6bb}</key>
		<dict>
			<key>x</key>
			<string>254.386</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{a3fa9bc8-a7ed-4332-9a4f-58e3565360c5}</key>
		<dict>
			<key>x</key>
			<string>223.615</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{ca1673c4-ba45-412c-9ac8-c0c9642879e6}</key>
		<dict>
			<key>x</key>
			<string>192.485</string>
			<key>y</key>
			<string>337.819</string>
		</dict>
		<key>{1e5a6ad6-c07c-4ce2-b3fd-2347afd40c39}</key>
		<dict>
			<key>x</key>
			<string>192.664</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{720cd075-3030-4c71-a109-fdbd3008756b}</key>
		<dict>
			<key>x</key>
			<string>134.762</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{d646d777-8da3-428c-bcd4-ce5aa7b70681}</key>
		<dict>
			<key>x</key>
			<string>134.762</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{2c0ac085-1732-416f-bde1-db272465a498}</key>
		<dict>
			<key>x</key>
			<string>103.193</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{95bdcec4-0d3c-4b55-96a7-6b99eb1c586d}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>340.299</string>
		</dict>
		<key>{a79cbf9a-a9e6-4f14-b2a7-af82a8cd5df6}</key>
		<dict>
			<key>x</key>
			<string>71.4447</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{1c77dd89-8a51-44a2-af76-b9abeabbc950}</key>
		<dict>
			<key>x</key>
			<string>511.992</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{f2853d9a-50d2-475a-b419-68331f5de528}</key>
		<dict>
			<key>x</key>
			<string>511.992</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{21c59f2d-115d-4cab-a19d-495fcee6d156}</key>
		<dict>
			<key>x</key>
			<string>483.051</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{b4e4fe30-89da-41e9-bba5-2d137160e6d2}</key>
		<dict>
			<key>x</key>
			<string>453.751</string>
			<key>y</key>
			<string>189</string>
		</dict>
		<key>{3c18b11d-a3f3-4289-b49e-b3908f7d1115}</key>
		<dict>
			<key>x</key>
			<string>453.93</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{ad8c8067-0006-4026-b5f3-13d727cc79e6}</key>
		<dict>
			<key>x</key>
			<string>412.856</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{659761c4-756d-4d3c-a4a2-fe32f30b78a9}</key>
		<dict>
			<key>x</key>
			<string>382.703</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{f5c95f4f-8440-49ed-9cc6-a9e74889f9ba}</key>
		<dict>
			<key>x</key>
			<string>382.882</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{49144f84-0b65-498d-abe0-782b4dc973c0}</key>
		<dict>
			<key>x</key>
			<string>352.909</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{9da51e30-408d-4ab8-84b3-fcda566cef5f}</key>
		<dict>
			<key>x</key>
			<string>322.756</string>
			<key>y</key>
			<string>189</string>
		</dict>
		<key>{3714cb7d-52b6-49f5-9e3a-b53967f5aec9}</key>
		<dict>
			<key>x</key>
			<string>322.935</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{3f9ec6e4-f3ca-4787-bb63-670193e4150c}</key>
		<dict>
			<key>x</key>
			<string>263.29</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{71c96fcc-cbaa-4bb2-bd68-9900dc06634f}</key>
		<dict>
			<key>x</key>
			<string>263.29</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{232c25f8-1e38-473d-9d26-1e8872c03a7d}</key>
		<dict>
			<key>x</key>
			<string>233.24</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{745951b6-fe69-49b0-a2cc-517881cb242c}</key>
		<dict>
			<key>x</key>
			<string>202.833</string>
			<key>y</key>
			<string>191.48</string>
		</dict>
		<key>{b5c090e5-3c05-4b61-a125-de5952e6757d}</key>
		<dict>
			<key>x</key>
			<string>203.012</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{4c72bd7f-ed09-467e-8ccd-84b4c38a0afc}</key>
		<dict>
			<key>x</key>
			<string>146.265</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{326c0b9d-ae82-4a12-b28a-368308427e4f}</key>
		<dict>
			<key>x</key>
			<string>146.265</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{a73bfb36-7b05-43bb-9851-11db55ba9a4e}</key>
		<dict>
			<key>x</key>
			<string>115.418</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{308944e7-4112-466a-824f-e693d5e86eaf}</key>
		<dict>
			<key>x</key>
			<string>84.2129</string>
			<key>y</key>
			<string>193.961</string>
		</dict>
		<key>{0e856a05-2979-4d6b-b22e-aa054224c0e6}</key>
		<dict>
			<key>x</key>
			<string>84.3919</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{6b9d4e8f-ea0a-48fd-9d07-af376ea6a2fa}</key>
		<dict>
			<key>x1</key>
			<string>494.141</string>
			<key>y1</key>
			<string>633.908</string>
			<key>x2</key>
			<string>494.141</string>
			<key>y2</key>
			<string>644.138</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{967a8eb4-d2a2-44a4-9cef-94d694b29953}</key>
		<dict>
			<key>x1</key>
			<string>445.576</string>
			<key>y1</key>
			<string>628.794</string>
			<key>x2</key>
			<string>445.576</string>
			<key>y2</key>
			<string>639.177</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{b4552cd5-fb8f-4e99-865c-6a9961774e24}</key>
		<dict>
			<key>x1</key>
			<string>451.82</string>
			<key>y1</key>
			<string>562.766</string>
			<key>x2</key>
			<string>451.82</string>
			<key>y2</key>
			<string>546.165</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{be300978-e2ee-4476-9004-e7937c879a95}</key>
		<dict>
			<key>x1</key>
			<string>410.196</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>410.196</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{b6247e61-6999-4c36-9c9b-15c146688518}</key>
		<dict>
			<key>x1</key>
			<string>373.787</string>
			<key>y1</key>
			<string>623.833</string>
			<key>x2</key>
			<string>373.787</string>
			<key>y2</key>
			<string>634.217</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{cd0723c1-d259-4ff2-a169-d7952668ba31}</key>
		<dict>
			<key>x1</key>
			<string>379.852</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>379.852</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{d8d69574-007f-4248-8fde-985a3d3540ca}</key>
		<dict>
			<key>x1</key>
			<string>349.507</string>
			<key>y1</key>
			<string>557.635</string>
			<key>x2</key>
			<string>349.507</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f730a0d7-557c-4011-982f-4238e140c5d7}</key>
		<dict>
			<key>x1</key>
			<string>313.098</string>
			<key>y1</key>
			<string>628.794</string>
			<key>x2</key>
			<string>313.098</string>
			<key>y2</key>
			<string>639.177</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{b261ffb4-9725-4c00-8ae1-984d74568565}</key>
		<dict>
			<key>x1</key>
			<string>319.163</string>
			<key>y1</key>
			<string>562.596</string>
			<key>x2</key>
			<string>319.163</string>
			<key>y2</key>
			<string>546.165</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{64d11a8f-d265-404d-b1ef-8ebf717b8a64}</key>
		<dict>
			<key>x1</key>
			<string>252.973</string>
			<key>y1</key>
			<string>623.833</string>
			<key>x2</key>
			<string>252.973</string>
			<key>y2</key>
			<string>634.217</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{91911b47-86ee-42df-8ccf-e8374963107b}</key>
		<dict>
			<key>x1</key>
			<string>259.217</string>
			<key>y1</key>
			<string>560.285</string>
			<key>x2</key>
			<string>259.217</string>
			<key>y2</key>
			<string>543.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{50a90925-fac9-4c8b-92fc-905cd9f0e0fb}</key>
		<dict>
			<key>x1</key>
			<string>228.397</string>
			<key>y1</key>
			<string>560.116</string>
			<key>x2</key>
			<string>228.397</string>
			<key>y2</key>
			<string>543.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{861ebd19-7924-40a6-ab59-c2fd53147329}</key>
		<dict>
			<key>x1</key>
			<string>191.691</string>
			<key>y1</key>
			<string>631.274</string>
			<key>x2</key>
			<string>191.691</string>
			<key>y2</key>
			<string>641.657</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{eb411401-a1c6-45f8-8290-0fe6d8148cdc}</key>
		<dict>
			<key>x1</key>
			<string>197.757</string>
			<key>y1</key>
			<string>555.155</string>
			<key>x2</key>
			<string>197.757</string>
			<key>y2</key>
			<string>539.344</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{3cf0f143-b749-4e37-9d23-54f5cedec13c}</key>
		<dict>
			<key>x1</key>
			<string>134.465</string>
			<key>y1</key>
			<string>623.833</string>
			<key>x2</key>
			<string>134.465</string>
			<key>y2</key>
			<string>634.217</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{ada80b27-edc6-4a3f-b48d-9ab81bec4285}</key>
		<dict>
			<key>x1</key>
			<string>140.709</string>
			<key>y1</key>
			<string>557.805</string>
			<key>x2</key>
			<string>140.709</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e4454961-f54b-4238-aeb3-d47badb0e33c}</key>
		<dict>
			<key>x1</key>
			<string>109.091</string>
			<key>y1</key>
			<string>557.635</string>
			<key>x2</key>
			<string>109.091</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{7188525b-160e-45bc-bdc7-f059747b136d}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>633.754</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>644.138</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{8788b809-9cd5-4b01-941f-67feb4aab593}</key>
		<dict>
			<key>x1</key>
			<string>77.6532</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>77.6532</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{f70cd645-f312-4fc6-bfeb-4d7e5485da7f}</key>
		<dict>
			<key>x1</key>
			<string>516.779</string>
			<key>y1</key>
			<string>406.506</string>
			<key>x2</key>
			<string>516.779</string>
			<key>y2</key>
			<string>391.146</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{f6094e6c-9b1e-4bca-a0c9-73d2491f182e}</key>
		<dict>
			<key>x1</key>
			<string>486.366</string>
			<key>y1</key>
			<string>408.816</string>
			<key>x2</key>
			<string>486.366</string>
			<key>y2</key>
			<string>393.006</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{bae12251-1535-45fe-a3b7-50f3063cc49e}</key>
		<dict>
			<key>x1</key>
			<string>456.132</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>456.132</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c206b937-b848-4ab7-9633-4adb84acbd64}</key>
		<dict>
			<key>x1</key>
			<string>417.14</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>417.14</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b60e0344-3628-4e4a-acdb-67360753756b}</key>
		<dict>
			<key>x1</key>
			<string>388.076</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>388.076</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b40ddae4-d3c2-41b0-bfe4-6caddbf85db7}</key>
		<dict>
			<key>x1</key>
			<string>359.013</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>359.013</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b7d97d91-0b84-42de-b765-406cb5745f66}</key>
		<dict>
			<key>x1</key>
			<string>329.949</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>329.949</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c4b2131e-36aa-4076-b650-caee9357dc4f}</key>
		<dict>
			<key>x1</key>
			<string>267.745</string>
			<key>y1</key>
			<string>408.986</string>
			<key>x2</key>
			<string>267.745</string>
			<key>y2</key>
			<string>393.006</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{15963998-c3c4-4e9e-9459-f659043115b4}</key>
		<dict>
			<key>x1</key>
			<string>234.781</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>234.781</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{75f72a28-d519-4425-b8b5-91866124d394}</key>
		<dict>
			<key>x1</key>
			<string>201.997</string>
			<key>y1</key>
			<string>413.777</string>
			<key>x2</key>
			<string>201.997</string>
			<key>y2</key>
			<string>397.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{cc112004-22d0-4b9a-b927-8313737b2830}</key>
		<dict>
			<key>x1</key>
			<string>164.983</string>
			<key>y1</key>
			<string>413.777</string>
			<key>x2</key>
			<string>164.983</string>
			<key>y2</key>
			<string>397.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{a4a49a48-595f-4afc-a3a6-785c4f7d8e73}</key>
		<dict>
			<key>x1</key>
			<string>136.362</string>
			<key>y1</key>
			<string>413.777</string>
			<key>x2</key>
			<string>136.362</string>
			<key>y2</key>
			<string>397.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{0fe34156-13c6-4670-9e71-5227e9fb48e2}</key>
		<dict>
			<key>x1</key>
			<string>107.742</string>
			<key>y1</key>
			<string>413.777</string>
			<key>x2</key>
			<string>107.742</string>
			<key>y2</key>
			<string>397.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{be7f7943-05b4-4449-8f47-2c83dfdf2a67}</key>
		<dict>
			<key>x1</key>
			<string>79.1212</string>
			<key>y1</key>
			<string>413.777</string>
			<key>x2</key>
			<string>79.1212</string>
			<key>y2</key>
			<string>397.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ba82b6b6-9bea-44c1-8e98-957632ce7e25}</key>
		<dict>
			<key>x1</key>
			<string>497.985</string>
			<key>y1</key>
			<string>341.231</string>
			<key>x2</key>
			<string>497.985</string>
			<key>y2</key>
			<string>351.461</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{38886b5f-912d-4246-9951-dd90b1c30842}</key>
		<dict>
			<key>x1</key>
			<string>448.925</string>
			<key>y1</key>
			<string>336.116</string>
			<key>x2</key>
			<string>448.925</string>
			<key>y2</key>
			<string>346.5</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{5f855788-9f8c-4387-8256-51977904ce63}</key>
		<dict>
			<key>x1</key>
			<string>455.169</string>
			<key>y1</key>
			<string>270.088</string>
			<key>x2</key>
			<string>455.169</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{740efeea-b4a3-445b-b3a5-508d031078d5}</key>
		<dict>
			<key>x1</key>
			<string>413.266</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>413.266</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{d19a78d2-ded0-4d7b-a997-fe792810e9cb}</key>
		<dict>
			<key>x1</key>
			<string>376.577</string>
			<key>y1</key>
			<string>331.156</string>
			<key>x2</key>
			<string>376.577</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{c337f2df-4898-458a-876d-b54116183167}</key>
		<dict>
			<key>x1</key>
			<string>382.642</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>382.642</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{464702e1-ab37-4bbf-9cd0-1ad9b14b4ca2}</key>
		<dict>
			<key>x1</key>
			<string>352.019</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>352.019</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9c68805d-9c89-4ee8-b348-9f24e82e8167}</key>
		<dict>
			<key>x1</key>
			<string>315.33</string>
			<key>y1</key>
			<string>336.116</string>
			<key>x2</key>
			<string>315.33</string>
			<key>y2</key>
			<string>346.5</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{53617c20-38bd-4568-aca9-dd5b834a8f25}</key>
		<dict>
			<key>x1</key>
			<string>321.395</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>321.395</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{66d605c2-baee-4705-80dc-6ea4db673225}</key>
		<dict>
			<key>x1</key>
			<string>254.709</string>
			<key>y1</key>
			<string>331.156</string>
			<key>x2</key>
			<string>254.709</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{710b32a4-53a1-4ddd-99dc-4b1f4119b6bb}</key>
		<dict>
			<key>x1</key>
			<string>260.953</string>
			<key>y1</key>
			<string>267.608</string>
			<key>x2</key>
			<string>260.953</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{a3fa9bc8-a7ed-4332-9a4f-58e3565360c5}</key>
		<dict>
			<key>x1</key>
			<string>229.823</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>229.823</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ca1673c4-ba45-412c-9ac8-c0c9642879e6}</key>
		<dict>
			<key>x1</key>
			<string>192.808</string>
			<key>y1</key>
			<string>338.597</string>
			<key>x2</key>
			<string>192.808</string>
			<key>y2</key>
			<string>348.98</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{1e5a6ad6-c07c-4ce2-b3fd-2347afd40c39}</key>
		<dict>
			<key>x1</key>
			<string>198.873</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>198.873</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{720cd075-3030-4c71-a109-fdbd3008756b}</key>
		<dict>
			<key>x1</key>
			<string>135.085</string>
			<key>y1</key>
			<string>331.156</string>
			<key>x2</key>
			<string>135.085</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{d646d777-8da3-428c-bcd4-ce5aa7b70681}</key>
		<dict>
			<key>x1</key>
			<string>141.329</string>
			<key>y1</key>
			<string>265.128</string>
			<key>x2</key>
			<string>141.329</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{2c0ac085-1732-416f-bde1-db272465a498}</key>
		<dict>
			<key>x1</key>
			<string>109.402</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>109.402</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{95bdcec4-0d3c-4b55-96a7-6b99eb1c586d}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>341.077</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>351.461</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{a79cbf9a-a9e6-4f14-b2a7-af82a8cd5df6}</key>
		<dict>
			<key>x1</key>
			<string>77.6532</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>77.6532</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{1c77dd89-8a51-44a2-af76-b9abeabbc950}</key>
		<dict>
			<key>x1</key>
			<string>512.315</string>
			<key>y1</key>
			<string>184.817</string>
			<key>x2</key>
			<string>512.315</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{f2853d9a-50d2-475a-b419-68331f5de528}</key>
		<dict>
			<key>x1</key>
			<string>518.559</string>
			<key>y1</key>
			<string>113.829</string>
			<key>x2</key>
			<string>518.559</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{21c59f2d-115d-4cab-a19d-495fcee6d156}</key>
		<dict>
			<key>x1</key>
			<string>489.259</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>489.259</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{b4e4fe30-89da-41e9-bba5-2d137160e6d2}</key>
		<dict>
			<key>x1</key>
			<string>454.073</string>
			<key>y1</key>
			<string>189.778</string>
			<key>x2</key>
			<string>454.073</string>
			<key>y2</key>
			<string>200.161</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{3c18b11d-a3f3-4289-b49e-b3908f7d1115}</key>
		<dict>
			<key>x1</key>
			<string>460.138</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>460.138</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{ad8c8067-0006-4026-b5f3-13d727cc79e6}</key>
		<dict>
			<key>x1</key>
			<string>419.065</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>419.065</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{659761c4-756d-4d3c-a4a2-fe32f30b78a9}</key>
		<dict>
			<key>x1</key>
			<string>383.026</string>
			<key>y1</key>
			<string>184.817</string>
			<key>x2</key>
			<string>383.026</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{f5c95f4f-8440-49ed-9cc6-a9e74889f9ba}</key>
		<dict>
			<key>x1</key>
			<string>389.091</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>389.091</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{49144f84-0b65-498d-abe0-782b4dc973c0}</key>
		<dict>
			<key>x1</key>
			<string>359.117</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>359.117</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9da51e30-408d-4ab8-84b3-fcda566cef5f}</key>
		<dict>
			<key>x1</key>
			<string>323.078</string>
			<key>y1</key>
			<string>189.778</string>
			<key>x2</key>
			<string>323.078</string>
			<key>y2</key>
			<string>200.161</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{3714cb7d-52b6-49f5-9e3a-b53967f5aec9}</key>
		<dict>
			<key>x1</key>
			<string>329.143</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>329.143</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3f9ec6e4-f3ca-4787-bb63-670193e4150c}</key>
		<dict>
			<key>x1</key>
			<string>263.612</string>
			<key>y1</key>
			<string>184.817</string>
			<key>x2</key>
			<string>263.612</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{71c96fcc-cbaa-4bb2-bd68-9900dc06634f}</key>
		<dict>
			<key>x1</key>
			<string>269.857</string>
			<key>y1</key>
			<string>121.27</string>
			<key>x2</key>
			<string>269.857</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{232c25f8-1e38-473d-9d26-1e8872c03a7d}</key>
		<dict>
			<key>x1</key>
			<string>239.449</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>239.449</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{745951b6-fe69-49b0-a2cc-517881cb242c}</key>
		<dict>
			<key>x1</key>
			<string>203.155</string>
			<key>y1</key>
			<string>192.258</string>
			<key>x2</key>
			<string>203.155</string>
			<key>y2</key>
			<string>202.642</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{b5c090e5-3c05-4b61-a125-de5952e6757d}</key>
		<dict>
			<key>x1</key>
			<string>209.22</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>209.22</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{4c72bd7f-ed09-467e-8ccd-84b4c38a0afc}</key>
		<dict>
			<key>x1</key>
			<string>146.588</string>
			<key>y1</key>
			<string>184.817</string>
			<key>x2</key>
			<string>146.588</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{326c0b9d-ae82-4a12-b28a-368308427e4f}</key>
		<dict>
			<key>x1</key>
			<string>152.832</string>
			<key>y1</key>
			<string>118.789</string>
			<key>x2</key>
			<string>152.832</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{a73bfb36-7b05-43bb-9851-11db55ba9a4e}</key>
		<dict>
			<key>x1</key>
			<string>121.627</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>121.627</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{308944e7-4112-466a-824f-e693d5e86eaf}</key>
		<dict>
			<key>x1</key>
			<string>84.5353</string>
			<key>y1</key>
			<string>194.738</string>
			<key>x2</key>
			<string>84.5353</string>
			<key>y2</key>
			<string>205.122</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{0e856a05-2979-4d6b-b22e-aa054224c0e6}</key>
		<dict>
			<key>x1</key>
			<string>90.6004</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>90.6004</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
	</dict>
</dict>
</plist>