<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>541.205</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>576.784</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{50eb7395-c910-4eee-ad9d-2b27a6904d0e}</key>
		<dict>
			<key>x</key>
			<string>495.012</string>
			<key>y</key>
			<string>603.213</string>
		</dict>
		<key>{7c363b86-fa17-42d6-bae9-488432429a84}</key>
		<dict>
			<key>x</key>
			<string>447.403</string>
			<key>y</key>
			<string>598.252</string>
		</dict>
		<key>{d630b57d-cebf-4177-b205-f7dc9ca3fc2b}</key>
		<dict>
			<key>x</key>
			<string>447.403</string>
			<key>y</key>
			<string>563.528</string>
		</dict>
		<key>{eed9b924-4587-422d-9897-a879c4c5cb2b}</key>
		<dict>
			<key>x</key>
			<string>406.675</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{20bd9c2b-997a-4096-9664-fc40c3de4293}</key>
		<dict>
			<key>x</key>
			<string>375.696</string>
			<key>y</key>
			<string>593.291</string>
		</dict>
		<key>{22707a9f-b512-4bd5-b75c-d9a3cb0b3eb6}</key>
		<dict>
			<key>x</key>
			<string>375.875</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{82085953-7133-4934-b0ae-59020f888824}</key>
		<dict>
			<key>x</key>
			<string>345.076</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{aee77d62-1334-46b6-a5e2-ba989c7a8289}</key>
		<dict>
			<key>x</key>
			<string>314.097</string>
			<key>y</key>
			<string>598.252</string>
		</dict>
		<key>{fc381763-4ff1-40e0-9151-0359022e955d}</key>
		<dict>
			<key>x</key>
			<string>314.277</string>
			<key>y</key>
			<string>563.528</string>
		</dict>
		<key>{2079a52c-f41e-4ad6-a73d-f922743dda4b}</key>
		<dict>
			<key>x</key>
			<string>254.514</string>
			<key>y</key>
			<string>593.291</string>
		</dict>
		<key>{87642091-e232-4dab-ad6b-3d0767148523}</key>
		<dict>
			<key>x</key>
			<string>254.514</string>
			<key>y</key>
			<string>561.047</string>
		</dict>
		<key>{49a5c0d2-4723-41bc-bf56-1e1fce6962d5}</key>
		<dict>
			<key>x</key>
			<string>223.771</string>
			<key>y</key>
			<string>561.047</string>
		</dict>
		<key>{fa192516-3722-43e2-9ce4-cd3b0204c578}</key>
		<dict>
			<key>x</key>
			<string>192.67</string>
			<key>y</key>
			<string>600.732</string>
		</dict>
		<key>{09700a8b-cc72-4abe-842f-89df5dd3fc32}</key>
		<dict>
			<key>x</key>
			<string>192.849</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{74a2c086-43e8-4088-b364-aaaeb1f3691b}</key>
		<dict>
			<key>x</key>
			<string>134.992</string>
			<key>y</key>
			<string>593.291</string>
		</dict>
		<key>{90f35d12-9fe2-4d8f-a5b6-b6f8a96f0e59}</key>
		<dict>
			<key>x</key>
			<string>134.992</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{adbf41f1-e63e-4c46-a47c-411da0280149}</key>
		<dict>
			<key>x</key>
			<string>103.451</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{ff77006e-8db7-4294-b562-38a92b23dee9}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>603.213</string>
		</dict>
		<key>{ae5473f8-9a38-48ae-88dc-68bf11a46973}</key>
		<dict>
			<key>x</key>
			<string>71.7314</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{13353cce-db57-4482-93a5-ca3eb410f5f6}</key>
		<dict>
			<key>x</key>
			<string>512.004</string>
			<key>y</key>
			<string>407.268</string>
		</dict>
		<key>{e3d18902-4c7e-4014-bdd4-6246e6918b4f}</key>
		<dict>
			<key>x</key>
			<string>483.069</string>
			<key>y</key>
			<string>409.748</string>
		</dict>
		<key>{5684aafd-0379-400d-bcb7-2f3ae171c264}</key>
		<dict>
			<key>x</key>
			<string>452.309</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{63e1face-fa85-4137-9d7c-d35f1a4cc497}</key>
		<dict>
			<key>x</key>
			<string>452.309</string>
			<key>y</key>
			<string>456.874</string>
		</dict>
		<key>{c76f1019-1336-4445-87c6-3ff1944bf1dd}</key>
		<dict>
			<key>x</key>
			<string>453.956</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{e51ae817-6781-4308-9654-233e3f7c704f}</key>
		<dict>
			<key>x</key>
			<string>415.971</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{5b2f306d-2d7d-4e55-ada4-6f14b05658eb}</key>
		<dict>
			<key>x</key>
			<string>387.916</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{1b51983b-0849-4f95-b3b5-ab532333f11a}</key>
		<dict>
			<key>x</key>
			<string>359.86</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{87b331a3-1345-42e7-a561-78354d28289e}</key>
		<dict>
			<key>x</key>
			<string>330.158</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{9f7635da-8ca9-4453-848d-760efff78fa7}</key>
		<dict>
			<key>x</key>
			<string>330.158</string>
			<key>y</key>
			<string>456.874</string>
		</dict>
		<key>{2e4d16c1-6538-42fe-871c-35d862a03faa}</key>
		<dict>
			<key>x</key>
			<string>331.805</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{875a4aae-8cc2-48f6-be6f-6076d7554ca5}</key>
		<dict>
			<key>x</key>
			<string>272.154</string>
			<key>y</key>
			<string>409.748</string>
		</dict>
		<key>{1be2d0cc-61fa-4d14-9eff-c872df0a407e}</key>
		<dict>
			<key>x</key>
			<string>241.368</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{115e217d-7e39-4246-b926-0426c84b3983}</key>
		<dict>
			<key>x</key>
			<string>208.757</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{120dd399-d6c1-4a9d-b130-add43055b622}</key>
		<dict>
			<key>x</key>
			<string>199.576</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{5499971d-d701-485a-b622-c18c71460ac0}</key>
		<dict>
			<key>x</key>
			<string>210.404</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{7dae3c11-81f3-4ecd-a40a-1f5ea4098214}</key>
		<dict>
			<key>x</key>
			<string>165.217</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{e7eeea22-757d-4d91-8572-45425a2834b4}</key>
		<dict>
			<key>x</key>
			<string>137.605</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{96ac791d-d005-4b36-adab-973edec06c12}</key>
		<dict>
			<key>x</key>
			<string>109.992</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{7bccf13f-7d2b-4aeb-9e53-b626bbe247de}</key>
		<dict>
			<key>x</key>
			<string>80.7327</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{ea6b3561-2393-4269-8ae2-2bc93ff57898}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{0a02eab7-b021-4177-b148-573b96be966d}</key>
		<dict>
			<key>x</key>
			<string>82.3798</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{61843d50-e977-458d-ace2-2b99b30cb2a3}</key>
		<dict>
			<key>x</key>
			<string>498.857</string>
			<key>y</key>
			<string>310.535</string>
		</dict>
		<key>{a74461a8-7db6-4766-b86c-69ffeb8482eb}</key>
		<dict>
			<key>x</key>
			<string>450.751</string>
			<key>y</key>
			<string>305.575</string>
		</dict>
		<key>{9ab02787-ca12-4bcf-856c-ff08a1c7a366}</key>
		<dict>
			<key>x</key>
			<string>450.751</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{b0398b81-05e4-4e1c-aa93-9f377669b076}</key>
		<dict>
			<key>x</key>
			<string>409.744</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{1138fe82-c594-4bdf-97df-cc7f634e1518}</key>
		<dict>
			<key>x</key>
			<string>378.487</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{b2a92283-1fcb-4161-8d5a-32f591d39f1c}</key>
		<dict>
			<key>x</key>
			<string>378.666</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{500c3a79-0c4c-43b0-9458-e351cd4225f0}</key>
		<dict>
			<key>x</key>
			<string>347.587</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{ee643ed6-a0bd-4e69-abd2-4cbd199c2c33}</key>
		<dict>
			<key>x</key>
			<string>316.33</string>
			<key>y</key>
			<string>305.575</string>
		</dict>
		<key>{6daacce2-720f-427a-a913-1d174ad58b6b}</key>
		<dict>
			<key>x</key>
			<string>316.509</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{c7003bf5-5e4c-4f2a-aebd-cdf40b045562}</key>
		<dict>
			<key>x</key>
			<string>256.25</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{a2cf35c7-543a-4c85-b52c-27f38d0b9f97}</key>
		<dict>
			<key>x</key>
			<string>256.25</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{93b25b66-003c-4726-81bd-f854dc71cadc}</key>
		<dict>
			<key>x</key>
			<string>225.197</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{334006ff-0be3-4e13-943f-7f98225c413a}</key>
		<dict>
			<key>x</key>
			<string>193.786</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{c78d2985-2171-464b-860f-ad46cb5ad0a4}</key>
		<dict>
			<key>x</key>
			<string>193.965</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{aabdbb9e-1419-4197-9ad2-e2f447b5470a}</key>
		<dict>
			<key>x</key>
			<string>135.612</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{d0e6c5f3-4c2b-422c-bc17-e2e06732306c}</key>
		<dict>
			<key>x</key>
			<string>135.612</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{3fb22f48-218c-4204-94a4-898eeb1452b6}</key>
		<dict>
			<key>x</key>
			<string>103.761</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{e8ba115b-c4cf-49b6-8bb1-c45d20102eae}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>310.535</string>
		</dict>
		<key>{00cadfe7-9556-4fd1-835f-ba7ee5b69ceb}</key>
		<dict>
			<key>x</key>
			<string>71.7314</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{7167b876-78bb-4610-8774-6ffe514567b3}</key>
		<dict>
			<key>x</key>
			<string>511.625</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{7d3482da-e42d-4b68-a4e0-60d55b989eb1}</key>
		<dict>
			<key>x</key>
			<string>511.625</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{a66c89e9-f2ea-484e-bff0-ceec679c64c3}</key>
		<dict>
			<key>x</key>
			<string>482.453</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{8ec10c03-2b6e-4f0c-93c0-155c1a2bf27d}</key>
		<dict>
			<key>x</key>
			<string>452.924</string>
			<key>y</key>
			<string>159.236</string>
		</dict>
		<key>{e72882e1-1332-4306-b782-eba02833874d}</key>
		<dict>
			<key>x</key>
			<string>453.103</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{7b91bd87-d52e-4655-8de9-360cc235059e}</key>
		<dict>
			<key>x</key>
			<string>412.814</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{f6f05d37-cbba-4a39-bb68-63a146e58017}</key>
		<dict>
			<key>x</key>
			<string>382.455</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{f7955f84-67d5-484d-ada7-f6b91475b7c8}</key>
		<dict>
			<key>x</key>
			<string>382.634</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{509ed29f-e13d-4f96-bb79-db03252e488e}</key>
		<dict>
			<key>x</key>
			<string>352.453</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{3d8c3d0e-188f-4177-99ff-8cdc90a38abd}</key>
		<dict>
			<key>x</key>
			<string>322.094</string>
			<key>y</key>
			<string>159.236</string>
		</dict>
		<key>{17c4c0a5-46b8-4e41-9c42-d93a1e83102c}</key>
		<dict>
			<key>x</key>
			<string>322.273</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{f2313526-8952-4761-9542-8ecd6765493e}</key>
		<dict>
			<key>x</key>
			<string>263.61</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{623417cf-c941-465f-8c62-06b79c8e7761}</key>
		<dict>
			<key>x</key>
			<string>263.61</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{08a5418b-24c1-4821-b98b-6192bfd7a454}</key>
		<dict>
			<key>x</key>
			<string>233.555</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{e6b6021b-c986-4835-acf6-da53e8a3ae10}</key>
		<dict>
			<key>x</key>
			<string>203.141</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{320251bc-05e6-4420-81d4-b91fc6345aa0}</key>
		<dict>
			<key>x</key>
			<string>203.32</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{1986c15e-00c8-4682-9114-dc80db58a891}</key>
		<dict>
			<key>x</key>
			<string>146.564</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{249558f7-e02c-424d-ac79-1dcf30b2b6f0}</key>
		<dict>
			<key>x</key>
			<string>146.564</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{9a0198f5-6478-43fc-ae3f-8149f953711a}</key>
		<dict>
			<key>x</key>
			<string>115.711</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{821265f9-5ae4-4220-999e-d24ffad58c76}</key>
		<dict>
			<key>x</key>
			<string>84.4996</string>
			<key>y</key>
			<string>164.197</string>
		</dict>
		<key>{aa8f4d50-c669-46e4-b301-40390bc2e605}</key>
		<dict>
			<key>x</key>
			<string>84.6787</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{50eb7395-c910-4eee-ad9d-2b27a6904d0e}</key>
		<dict>
			<key>x1</key>
			<string>495.335</string>
			<key>y1</key>
			<string>604.144</string>
			<key>x2</key>
			<string>495.335</string>
			<key>y2</key>
			<string>618.715</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{7c363b86-fa17-42d6-bae9-488432429a84}</key>
		<dict>
			<key>x1</key>
			<string>447.725</string>
			<key>y1</key>
			<string>599.03</string>
			<key>x2</key>
			<string>447.725</string>
			<key>y2</key>
			<string>614.994</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{d630b57d-cebf-4177-b205-f7dc9ca3fc2b}</key>
		<dict>
			<key>x1</key>
			<string>453.97</string>
			<key>y1</key>
			<string>562.766</string>
			<key>x2</key>
			<string>453.97</string>
			<key>y2</key>
			<string>546.165</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{eed9b924-4587-422d-9897-a879c4c5cb2b}</key>
		<dict>
			<key>x1</key>
			<string>412.883</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>412.883</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{20bd9c2b-997a-4096-9664-fc40c3de4293}</key>
		<dict>
			<key>x1</key>
			<string>376.019</string>
			<key>y1</key>
			<string>594.069</string>
			<key>x2</key>
			<string>376.019</string>
			<key>y2</key>
			<string>610.654</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{22707a9f-b512-4bd5-b75c-d9a3cb0b3eb6}</key>
		<dict>
			<key>x1</key>
			<string>382.084</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>382.084</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{82085953-7133-4934-b0ae-59020f888824}</key>
		<dict>
			<key>x1</key>
			<string>351.284</string>
			<key>y1</key>
			<string>557.635</string>
			<key>x2</key>
			<string>351.284</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{aee77d62-1334-46b6-a5e2-ba989c7a8289}</key>
		<dict>
			<key>x1</key>
			<string>314.42</string>
			<key>y1</key>
			<string>599.03</string>
			<key>x2</key>
			<string>314.42</string>
			<key>y2</key>
			<string>614.994</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{fc381763-4ff1-40e0-9151-0359022e955d}</key>
		<dict>
			<key>x1</key>
			<string>320.485</string>
			<key>y1</key>
			<string>562.596</string>
			<key>x2</key>
			<string>320.485</string>
			<key>y2</key>
			<string>546.165</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{2079a52c-f41e-4ad6-a73d-f922743dda4b}</key>
		<dict>
			<key>x1</key>
			<string>254.836</string>
			<key>y1</key>
			<string>594.069</string>
			<key>x2</key>
			<string>254.836</string>
			<key>y2</key>
			<string>610.654</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{87642091-e232-4dab-ad6b-3d0767148523}</key>
		<dict>
			<key>x1</key>
			<string>261.081</string>
			<key>y1</key>
			<string>560.285</string>
			<key>x2</key>
			<string>261.081</string>
			<key>y2</key>
			<string>543.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{49a5c0d2-4723-41bc-bf56-1e1fce6962d5}</key>
		<dict>
			<key>x1</key>
			<string>229.979</string>
			<key>y1</key>
			<string>560.116</string>
			<key>x2</key>
			<string>229.979</string>
			<key>y2</key>
			<string>543.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{fa192516-3722-43e2-9ce4-cd3b0204c578}</key>
		<dict>
			<key>x1</key>
			<string>192.992</string>
			<key>y1</key>
			<string>601.51</string>
			<key>x2</key>
			<string>192.992</string>
			<key>y2</key>
			<string>616.854</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{09700a8b-cc72-4abe-842f-89df5dd3fc32}</key>
		<dict>
			<key>x1</key>
			<string>199.057</string>
			<key>y1</key>
			<string>555.155</string>
			<key>x2</key>
			<string>199.057</string>
			<key>y2</key>
			<string>539.344</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{74a2c086-43e8-4088-b364-aaaeb1f3691b}</key>
		<dict>
			<key>x1</key>
			<string>135.315</string>
			<key>y1</key>
			<string>594.069</string>
			<key>x2</key>
			<string>135.315</string>
			<key>y2</key>
			<string>610.654</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{90f35d12-9fe2-4d8f-a5b6-b6f8a96f0e59}</key>
		<dict>
			<key>x1</key>
			<string>141.559</string>
			<key>y1</key>
			<string>557.805</string>
			<key>x2</key>
			<string>141.559</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{adbf41f1-e63e-4c46-a47c-411da0280149}</key>
		<dict>
			<key>x1</key>
			<string>109.66</string>
			<key>y1</key>
			<string>557.635</string>
			<key>x2</key>
			<string>109.66</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ff77006e-8db7-4294-b562-38a92b23dee9}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>603.99</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>618.715</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{ae5473f8-9a38-48ae-88dc-68bf11a46973}</key>
		<dict>
			<key>x1</key>
			<string>77.94</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>77.94</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{13353cce-db57-4482-93a5-ca3eb410f5f6}</key>
		<dict>
			<key>x1</key>
			<string>518.571</string>
			<key>y1</key>
			<string>406.506</string>
			<key>x2</key>
			<string>518.571</string>
			<key>y2</key>
			<string>391.146</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{e3d18902-4c7e-4014-bdd4-6246e6918b4f}</key>
		<dict>
			<key>x1</key>
			<string>489.278</string>
			<key>y1</key>
			<string>408.816</string>
			<key>x2</key>
			<string>489.278</string>
			<key>y2</key>
			<string>393.006</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{c76f1019-1336-4445-87c6-3ff1944bf1dd}</key>
		<dict>
			<key>x1</key>
			<string>460.164</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>460.164</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e51ae817-6781-4308-9654-233e3f7c704f}</key>
		<dict>
			<key>x1</key>
			<string>422.18</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>422.18</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{5b2f306d-2d7d-4e55-ada4-6f14b05658eb}</key>
		<dict>
			<key>x1</key>
			<string>394.124</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>394.124</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{1b51983b-0849-4f95-b3b5-ab532333f11a}</key>
		<dict>
			<key>x1</key>
			<string>366.069</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>366.069</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{2e4d16c1-6538-42fe-871c-35d862a03faa}</key>
		<dict>
			<key>x1</key>
			<string>338.013</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>338.013</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{875a4aae-8cc2-48f6-be6f-6076d7554ca5}</key>
		<dict>
			<key>x1</key>
			<string>278.72</string>
			<key>y1</key>
			<string>408.986</string>
			<key>x2</key>
			<string>278.72</string>
			<key>y2</key>
			<string>393.006</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{1be2d0cc-61fa-4d14-9eff-c872df0a407e}</key>
		<dict>
			<key>x1</key>
			<string>247.577</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>247.577</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{5499971d-d701-485a-b622-c18c71460ac0}</key>
		<dict>
			<key>x1</key>
			<string>216.612</string>
			<key>y1</key>
			<string>413.777</string>
			<key>x2</key>
			<string>216.612</string>
			<key>y2</key>
			<string>397.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{7dae3c11-81f3-4ecd-a40a-1f5ea4098214}</key>
		<dict>
			<key>x1</key>
			<string>171.426</string>
			<key>y1</key>
			<string>413.777</string>
			<key>x2</key>
			<string>171.426</string>
			<key>y2</key>
			<string>397.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e7eeea22-757d-4d91-8572-45425a2834b4}</key>
		<dict>
			<key>x1</key>
			<string>143.813</string>
			<key>y1</key>
			<string>413.777</string>
			<key>x2</key>
			<string>143.813</string>
			<key>y2</key>
			<string>397.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{96ac791d-d005-4b36-adab-973edec06c12}</key>
		<dict>
			<key>x1</key>
			<string>116.201</string>
			<key>y1</key>
			<string>413.777</string>
			<key>x2</key>
			<string>116.201</string>
			<key>y2</key>
			<string>397.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{0a02eab7-b021-4177-b148-573b96be966d}</key>
		<dict>
			<key>x1</key>
			<string>88.5883</string>
			<key>y1</key>
			<string>413.777</string>
			<key>x2</key>
			<string>88.5883</string>
			<key>y2</key>
			<string>397.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{61843d50-e977-458d-ace2-2b99b30cb2a3}</key>
		<dict>
			<key>x1</key>
			<string>499.179</string>
			<key>y1</key>
			<string>311.467</string>
			<key>x2</key>
			<string>499.179</string>
			<key>y2</key>
			<string>326.037</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{a74461a8-7db6-4766-b86c-69ffeb8482eb}</key>
		<dict>
			<key>x1</key>
			<string>451.074</string>
			<key>y1</key>
			<string>306.353</string>
			<key>x2</key>
			<string>451.074</string>
			<key>y2</key>
			<string>322.317</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{9ab02787-ca12-4bcf-856c-ff08a1c7a366}</key>
		<dict>
			<key>x1</key>
			<string>457.318</string>
			<key>y1</key>
			<string>270.088</string>
			<key>x2</key>
			<string>457.318</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b0398b81-05e4-4e1c-aa93-9f377669b076}</key>
		<dict>
			<key>x1</key>
			<string>415.953</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>415.953</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{1138fe82-c594-4bdf-97df-cc7f634e1518}</key>
		<dict>
			<key>x1</key>
			<string>378.809</string>
			<key>y1</key>
			<string>301.392</string>
			<key>x2</key>
			<string>378.809</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{b2a92283-1fcb-4161-8d5a-32f591d39f1c}</key>
		<dict>
			<key>x1</key>
			<string>384.874</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>384.874</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{500c3a79-0c4c-43b0-9458-e351cd4225f0}</key>
		<dict>
			<key>x1</key>
			<string>353.796</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>353.796</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ee643ed6-a0bd-4e69-abd2-4cbd199c2c33}</key>
		<dict>
			<key>x1</key>
			<string>316.652</string>
			<key>y1</key>
			<string>306.353</string>
			<key>x2</key>
			<string>316.652</string>
			<key>y2</key>
			<string>322.317</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{6daacce2-720f-427a-a913-1d174ad58b6b}</key>
		<dict>
			<key>x1</key>
			<string>322.717</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>322.717</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c7003bf5-5e4c-4f2a-aebd-cdf40b045562}</key>
		<dict>
			<key>x1</key>
			<string>256.573</string>
			<key>y1</key>
			<string>301.392</string>
			<key>x2</key>
			<string>256.573</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{a2cf35c7-543a-4c85-b52c-27f38d0b9f97}</key>
		<dict>
			<key>x1</key>
			<string>262.817</string>
			<key>y1</key>
			<string>267.608</string>
			<key>x2</key>
			<string>262.817</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{93b25b66-003c-4726-81bd-f854dc71cadc}</key>
		<dict>
			<key>x1</key>
			<string>231.406</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>231.406</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{334006ff-0be3-4e13-943f-7f98225c413a}</key>
		<dict>
			<key>x1</key>
			<string>194.108</string>
			<key>y1</key>
			<string>308.833</string>
			<key>x2</key>
			<string>194.108</string>
			<key>y2</key>
			<string>324.177</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{c78d2985-2171-464b-860f-ad46cb5ad0a4}</key>
		<dict>
			<key>x1</key>
			<string>200.173</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>200.173</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{aabdbb9e-1419-4197-9ad2-e2f447b5470a}</key>
		<dict>
			<key>x1</key>
			<string>135.935</string>
			<key>y1</key>
			<string>301.392</string>
			<key>x2</key>
			<string>135.935</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{d0e6c5f3-4c2b-422c-bc17-e2e06732306c}</key>
		<dict>
			<key>x1</key>
			<string>142.179</string>
			<key>y1</key>
			<string>265.128</string>
			<key>x2</key>
			<string>142.179</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3fb22f48-218c-4204-94a4-898eeb1452b6}</key>
		<dict>
			<key>x1</key>
			<string>109.97</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>109.97</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e8ba115b-c4cf-49b6-8bb1-c45d20102eae}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>311.313</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>326.037</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{00cadfe7-9556-4fd1-835f-ba7ee5b69ceb}</key>
		<dict>
			<key>x1</key>
			<string>77.94</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>77.94</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{7167b876-78bb-4610-8774-6ffe514567b3}</key>
		<dict>
			<key>x1</key>
			<string>511.947</string>
			<key>y1</key>
			<string>155.053</string>
			<key>x2</key>
			<string>511.947</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{7d3482da-e42d-4b68-a4e0-60d55b989eb1}</key>
		<dict>
			<key>x1</key>
			<string>518.192</string>
			<key>y1</key>
			<string>113.829</string>
			<key>x2</key>
			<string>518.192</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{a66c89e9-f2ea-484e-bff0-ceec679c64c3}</key>
		<dict>
			<key>x1</key>
			<string>488.662</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>488.662</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{8ec10c03-2b6e-4f0c-93c0-155c1a2bf27d}</key>
		<dict>
			<key>x1</key>
			<string>453.246</string>
			<key>y1</key>
			<string>160.014</string>
			<key>x2</key>
			<string>453.246</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{e72882e1-1332-4306-b782-eba02833874d}</key>
		<dict>
			<key>x1</key>
			<string>459.311</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>459.311</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{7b91bd87-d52e-4655-8de9-360cc235059e}</key>
		<dict>
			<key>x1</key>
			<string>419.023</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>419.023</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{f6f05d37-cbba-4a39-bb68-63a146e58017}</key>
		<dict>
			<key>x1</key>
			<string>382.777</string>
			<key>y1</key>
			<string>155.053</string>
			<key>x2</key>
			<string>382.777</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f7955f84-67d5-484d-ada7-f6b91475b7c8}</key>
		<dict>
			<key>x1</key>
			<string>388.842</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>388.842</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{509ed29f-e13d-4f96-bb79-db03252e488e}</key>
		<dict>
			<key>x1</key>
			<string>358.662</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>358.662</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3d8c3d0e-188f-4177-99ff-8cdc90a38abd}</key>
		<dict>
			<key>x1</key>
			<string>322.416</string>
			<key>y1</key>
			<string>160.014</string>
			<key>x2</key>
			<string>322.416</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{17c4c0a5-46b8-4e41-9c42-d93a1e83102c}</key>
		<dict>
			<key>x1</key>
			<string>328.481</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>328.481</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f2313526-8952-4761-9542-8ecd6765493e}</key>
		<dict>
			<key>x1</key>
			<string>263.933</string>
			<key>y1</key>
			<string>155.053</string>
			<key>x2</key>
			<string>263.933</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{623417cf-c941-465f-8c62-06b79c8e7761}</key>
		<dict>
			<key>x1</key>
			<string>270.177</string>
			<key>y1</key>
			<string>121.27</string>
			<key>x2</key>
			<string>270.177</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{08a5418b-24c1-4821-b98b-6192bfd7a454}</key>
		<dict>
			<key>x1</key>
			<string>239.763</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>239.763</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e6b6021b-c986-4835-acf6-da53e8a3ae10}</key>
		<dict>
			<key>x1</key>
			<string>203.464</string>
			<key>y1</key>
			<string>162.494</string>
			<key>x2</key>
			<string>203.464</string>
			<key>y2</key>
			<string>177.839</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{320251bc-05e6-4420-81d4-b91fc6345aa0}</key>
		<dict>
			<key>x1</key>
			<string>209.529</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>209.529</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{1986c15e-00c8-4682-9114-dc80db58a891}</key>
		<dict>
			<key>x1</key>
			<string>146.887</string>
			<key>y1</key>
			<string>155.053</string>
			<key>x2</key>
			<string>146.887</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{249558f7-e02c-424d-ac79-1dcf30b2b6f0}</key>
		<dict>
			<key>x1</key>
			<string>153.131</string>
			<key>y1</key>
			<string>118.789</string>
			<key>x2</key>
			<string>153.131</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9a0198f5-6478-43fc-ae3f-8149f953711a}</key>
		<dict>
			<key>x1</key>
			<string>121.92</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>121.92</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{821265f9-5ae4-4220-999e-d24ffad58c76}</key>
		<dict>
			<key>x1</key>
			<string>84.8221</string>
			<key>y1</key>
			<string>164.975</string>
			<key>x2</key>
			<string>84.8221</string>
			<key>y2</key>
			<string>179.699</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{aa8f4d50-c669-46e4-b301-40390bc2e605}</key>
		<dict>
			<key>x1</key>
			<string>90.8872</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>90.8872</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
	</dict>
</dict>
</plist>