<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>247.04</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>282.619</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>391.89</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>427.47</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>536.741</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>572.321</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>681.592</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>717.171</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>6</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>824.148</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>859.728</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{f1e33f5e-0a88-426b-aa93-56bb6c2a6386}</key>
		<dict>
			<key>x</key>
			<string>510.597</string>
			<key>y</key>
			<string>743.6</string>
		</dict>
		<key>{466cc660-66a9-467c-a1c0-d96534c68ed4}</key>
		<dict>
			<key>x</key>
			<string>480.783</string>
			<key>y</key>
			<string>741.119</string>
		</dict>
		<key>{81c663d2-79a8-4088-94af-d0fd906ddf93}</key>
		<dict>
			<key>x</key>
			<string>450.79</string>
			<key>y</key>
			<string>738.639</string>
		</dict>
		<key>{8080b62b-17db-45df-be08-f0d46a3e5921}</key>
		<dict>
			<key>x</key>
			<string>449.143</string>
			<key>y</key>
			<string>703.914</string>
		</dict>
		<key>{6adf05a3-d14e-40a5-be72-707f5eb2ee38}</key>
		<dict>
			<key>x</key>
			<string>413.68</string>
			<key>y</key>
			<string>733.678</string>
		</dict>
		<key>{cb20259e-07fc-4ebe-aaea-9f7509757c13}</key>
		<dict>
			<key>x</key>
			<string>384.964</string>
			<key>y</key>
			<string>736.159</string>
		</dict>
		<key>{319165ef-358c-4c1f-9ec5-eb5b45f739f1}</key>
		<dict>
			<key>x</key>
			<string>384.785</string>
			<key>y</key>
			<string>701.434</string>
		</dict>
		<key>{8f634c29-8bfd-4905-8d61-86892512d1c3}</key>
		<dict>
			<key>x</key>
			<string>356.248</string>
			<key>y</key>
			<string>733.678</string>
		</dict>
		<key>{c345c188-9c78-4e69-a676-5535e3c44755}</key>
		<dict>
			<key>x</key>
			<string>327.352</string>
			<key>y</key>
			<string>698.954</string>
		</dict>
		<key>{137655db-43e5-4ae4-821c-3d971f4861b1}</key>
		<dict>
			<key>x</key>
			<string>291.061</string>
			<key>y</key>
			<string>733.678</string>
		</dict>
		<key>{e7b278b5-44af-444a-bb1d-82fb627730e6}</key>
		<dict>
			<key>x</key>
			<string>261.802</string>
			<key>y</key>
			<string>738.639</string>
		</dict>
		<key>{20d34df4-1ff2-4ccd-ab19-2f41a966944f}</key>
		<dict>
			<key>x</key>
			<string>232.544</string>
			<key>y</key>
			<string>741.119</string>
		</dict>
		<key>{0376dc9a-844e-47c1-996b-71323c91d10f}</key>
		<dict>
			<key>x</key>
			<string>203.285</string>
			<key>y</key>
			<string>743.6</string>
		</dict>
		<key>{a4903b8e-9fe1-4d18-88d3-0497f772dc80}</key>
		<dict>
			<key>x</key>
			<string>168.518</string>
			<key>y</key>
			<string>693.993</string>
		</dict>
		<key>{c03d620a-233f-420b-9a87-fc15a61b0818}</key>
		<dict>
			<key>x</key>
			<string>140.498</string>
			<key>y</key>
			<string>698.954</string>
		</dict>
		<key>{e1327986-1918-4ad0-a332-fcca0b76a525}</key>
		<dict>
			<key>x</key>
			<string>112.478</string>
			<key>y</key>
			<string>701.434</string>
		</dict>
		<key>{d022bb21-7428-4c54-aa57-33d9a7fce4e4}</key>
		<dict>
			<key>x</key>
			<string>84.4578</string>
			<key>y</key>
			<string>703.914</string>
		</dict>
		<key>{6fc97fa9-bb0b-43c5-bdce-3bd63643e266}</key>
		<dict>
			<key>x</key>
			<string>530.499</string>
			<key>y</key>
			<string>588.828</string>
		</dict>
		<key>{b0204d15-9bc9-4614-9587-fd4b99240887}</key>
		<dict>
			<key>x</key>
			<string>502.233</string>
			<key>y</key>
			<string>591.308</string>
		</dict>
		<key>{f13c5d0e-1605-4a03-9879-47a27f632eda}</key>
		<dict>
			<key>x</key>
			<string>473.967</string>
			<key>y</key>
			<string>588.828</string>
		</dict>
		<key>{1dc366fa-75a4-44f6-bf19-10ca4770d6e5}</key>
		<dict>
			<key>x</key>
			<string>445.701</string>
			<key>y</key>
			<string>596.269</string>
		</dict>
		<key>{38549a9d-0682-4568-a78d-4ad4d792fcb8}</key>
		<dict>
			<key>x</key>
			<string>444.054</string>
			<key>y</key>
			<string>556.583</string>
		</dict>
		<key>{f37c5b60-bbdd-488b-bc10-ddd89af5c174}</key>
		<dict>
			<key>x</key>
			<string>408.675</string>
			<key>y</key>
			<string>549.143</string>
		</dict>
		<key>{dc7590f2-ac71-44a9-9fdd-382235e9663d}</key>
		<dict>
			<key>x</key>
			<string>379.863</string>
			<key>y</key>
			<string>588.828</string>
		</dict>
		<key>{46822c57-bfdd-4767-9d3e-fa2e33c47664}</key>
		<dict>
			<key>x</key>
			<string>380.042</string>
			<key>y</key>
			<string>554.103</string>
		</dict>
		<key>{fff3bc1f-c85f-47d5-aa78-944fc0c06ac1}</key>
		<dict>
			<key>x</key>
			<string>351.409</string>
			<key>y</key>
			<string>556.583</string>
		</dict>
		<key>{349f5d16-9b3e-47a2-a1eb-7a5c8e308391}</key>
		<dict>
			<key>x</key>
			<string>322.597</string>
			<key>y</key>
			<string>598.749</string>
		</dict>
		<key>{c28f8394-23ad-4c42-a023-4ab637920e42}</key>
		<dict>
			<key>x</key>
			<string>322.776</string>
			<key>y</key>
			<string>559.064</string>
		</dict>
		<key>{8d40c2c8-fa24-459c-9885-5794485a60d0}</key>
		<dict>
			<key>x</key>
			<string>287.584</string>
			<key>y</key>
			<string>588.828</string>
		</dict>
		<key>{933951ff-38ba-4ee6-8504-6be7db7f51e8}</key>
		<dict>
			<key>x</key>
			<string>259.319</string>
			<key>y</key>
			<string>591.308</string>
		</dict>
		<key>{92becdf4-4356-4b6e-b3ef-5bb1c57efefe}</key>
		<dict>
			<key>x</key>
			<string>231.053</string>
			<key>y</key>
			<string>588.828</string>
		</dict>
		<key>{01262b3d-3ddd-43b7-9ff8-38cbd23f2b22}</key>
		<dict>
			<key>x</key>
			<string>202.787</string>
			<key>y</key>
			<string>596.269</string>
		</dict>
		<key>{6bf4b3e9-d376-485d-b10c-b58213c44eea}</key>
		<dict>
			<key>x</key>
			<string>201.14</string>
			<key>y</key>
			<string>556.583</string>
		</dict>
		<key>{c0700b06-66e9-42c0-a47b-6fbefef737fa}</key>
		<dict>
			<key>x</key>
			<string>166.954</string>
			<key>y</key>
			<string>588.828</string>
		</dict>
		<key>{4e266b09-453b-40b8-8715-c581444a32ff}</key>
		<dict>
			<key>x</key>
			<string>139.515</string>
			<key>y</key>
			<string>593.788</string>
		</dict>
		<key>{1c42d7ea-2656-4a34-9dde-bfbb5ead4f0e}</key>
		<dict>
			<key>x</key>
			<string>139.336</string>
			<key>y</key>
			<string>549.143</string>
		</dict>
		<key>{ff48a145-0f33-46de-98bd-07522479a9d1}</key>
		<dict>
			<key>x</key>
			<string>112.076</string>
			<key>y</key>
			<string>588.828</string>
		</dict>
		<key>{3260865e-d920-4e4e-bb62-d3da97838af0}</key>
		<dict>
			<key>x</key>
			<string>84.6368</string>
			<key>y</key>
			<string>598.749</string>
		</dict>
		<key>{519368da-32eb-46ff-b68a-0fd43fece270}</key>
		<dict>
			<key>x</key>
			<string>84.4578</string>
			<key>y</key>
			<string>554.103</string>
		</dict>
		<key>{956a021a-0aef-46a2-8404-2ec9dc9fb548}</key>
		<dict>
			<key>x</key>
			<string>530.488</string>
			<key>y</key>
			<string>443.977</string>
		</dict>
		<key>{81b7b607-c0f4-4c24-b490-dd2a05576b87}</key>
		<dict>
			<key>x</key>
			<string>502.211</string>
			<key>y</key>
			<string>446.457</string>
		</dict>
		<key>{3592c523-12f9-4f90-9508-ad7c5cf5d5b5}</key>
		<dict>
			<key>x</key>
			<string>473.933</string>
			<key>y</key>
			<string>443.977</string>
		</dict>
		<key>{c6d5fe2e-c4a0-4e7b-8be5-9b138457d1ec}</key>
		<dict>
			<key>x</key>
			<string>445.656</string>
			<key>y</key>
			<string>451.418</string>
		</dict>
		<key>{8496f640-558a-43b3-93a9-67d4d4b2ba65}</key>
		<dict>
			<key>x</key>
			<string>444.009</string>
			<key>y</key>
			<string>411.733</string>
		</dict>
		<key>{b88f09d4-8fe7-4709-9f4d-97831f9eb1b0}</key>
		<dict>
			<key>x</key>
			<string>408.619</string>
			<key>y</key>
			<string>443.977</string>
		</dict>
		<key>{75a529d0-a3cc-481d-aacc-d5916b00551e}</key>
		<dict>
			<key>x</key>
			<string>379.975</string>
			<key>y</key>
			<string>446.457</string>
		</dict>
		<key>{3a92180d-8d45-45b7-ab6a-1093625d66cd}</key>
		<dict>
			<key>x</key>
			<string>379.796</string>
			<key>y</key>
			<string>404.292</string>
		</dict>
		<key>{4d0e2026-f573-4196-8a1c-18d94596a614}</key>
		<dict>
			<key>x</key>
			<string>351.33</string>
			<key>y</key>
			<string>443.977</string>
		</dict>
		<key>{5530b3de-d188-477f-831f-c468cde913b7}</key>
		<dict>
			<key>x</key>
			<string>322.686</string>
			<key>y</key>
			<string>451.418</string>
		</dict>
		<key>{49e8548f-e0b7-4ae8-a69c-442f6b517e1f}</key>
		<dict>
			<key>x</key>
			<string>322.507</string>
			<key>y</key>
			<string>411.733</string>
		</dict>
		<key>{37956bda-8b36-45a0-84f5-a5ebb12f17b4}</key>
		<dict>
			<key>x</key>
			<string>287.072</string>
			<key>y</key>
			<string>443.977</string>
		</dict>
		<key>{2117318f-3b21-4479-9ca5-28a10cf0a25a}</key>
		<dict>
			<key>x</key>
			<string>287.072</string>
			<key>y</key>
			<string>409.253</string>
		</dict>
		<key>{5f13f58b-dc88-4813-9b02-0fda52582cfc}</key>
		<dict>
			<key>x</key>
			<string>258.383</string>
			<key>y</key>
			<string>448.938</string>
		</dict>
		<key>{5e7947a2-7b90-45c9-b7a7-b3324f7c3786}</key>
		<dict>
			<key>x</key>
			<string>258.383</string>
			<key>y</key>
			<string>414.213</string>
		</dict>
		<key>{ad6d8813-1fe3-431a-8990-b2c68577b2fc}</key>
		<dict>
			<key>x</key>
			<string>229.694</string>
			<key>y</key>
			<string>443.977</string>
		</dict>
		<key>{8a5e034a-8ef8-4ea3-9f51-b48a3932e583}</key>
		<dict>
			<key>x</key>
			<string>229.694</string>
			<key>y</key>
			<string>411.733</string>
		</dict>
		<key>{0f89a9f9-66cf-402a-aa08-665b0857a13a}</key>
		<dict>
			<key>x</key>
			<string>201.005</string>
			<key>y</key>
			<string>453.898</string>
		</dict>
		<key>{b226dd0c-7b5d-4e1d-a6f2-493c3542cd3d}</key>
		<dict>
			<key>x</key>
			<string>201.005</string>
			<key>y</key>
			<string>409.253</string>
		</dict>
		<key>{944f4f02-7644-42df-ac49-983327a968fe}</key>
		<dict>
			<key>x</key>
			<string>166.809</string>
			<key>y</key>
			<string>443.977</string>
		</dict>
		<key>{441b0bf1-2e87-48ac-a33a-34cdaac833b5}</key>
		<dict>
			<key>x</key>
			<string>166.809</string>
			<key>y</key>
			<string>404.292</string>
		</dict>
		<key>{6a5bae3a-9e2a-4df9-bcf3-42567e970643}</key>
		<dict>
			<key>x</key>
			<string>139.358</string>
			<key>y</key>
			<string>448.938</string>
		</dict>
		<key>{25e7410b-0641-48ef-b5a1-455482e2d133}</key>
		<dict>
			<key>x</key>
			<string>139.358</string>
			<key>y</key>
			<string>409.253</string>
		</dict>
		<key>{9e4984d1-5791-4b51-949e-24362f8a537f}</key>
		<dict>
			<key>x</key>
			<string>111.908</string>
			<key>y</key>
			<string>443.977</string>
		</dict>
		<key>{977fe163-be40-4663-b41c-f73a625cdfea}</key>
		<dict>
			<key>x</key>
			<string>111.908</string>
			<key>y</key>
			<string>411.733</string>
		</dict>
		<key>{fd40207e-f02a-4a59-8669-9ba0b8aea19f}</key>
		<dict>
			<key>x</key>
			<string>84.4578</string>
			<key>y</key>
			<string>453.898</string>
		</dict>
		<key>{306483c8-5597-4d28-aee6-ee3060106f4f}</key>
		<dict>
			<key>x</key>
			<string>84.4578</string>
			<key>y</key>
			<string>414.213</string>
		</dict>
		<key>{e948e256-b45d-436a-94b3-e7c3e677f551}</key>
		<dict>
			<key>x</key>
			<string>530.499</string>
			<key>y</key>
			<string>299.126</string>
		</dict>
		<key>{bf5fd98c-1b71-42e7-be88-f47cbefd75ac}</key>
		<dict>
			<key>x</key>
			<string>502.233</string>
			<key>y</key>
			<string>301.607</string>
		</dict>
		<key>{6d696351-046d-4d47-a552-432c9800ab83}</key>
		<dict>
			<key>x</key>
			<string>473.967</string>
			<key>y</key>
			<string>299.126</string>
		</dict>
		<key>{1f720024-f513-4a08-a71c-dd7d3c972e74}</key>
		<dict>
			<key>x</key>
			<string>445.701</string>
			<key>y</key>
			<string>306.567</string>
		</dict>
		<key>{dce21473-180f-48ed-b40e-6acd1f3733c3}</key>
		<dict>
			<key>x</key>
			<string>444.054</string>
			<key>y</key>
			<string>266.882</string>
		</dict>
		<key>{3c34bd24-62c7-435a-9320-87189eace951}</key>
		<dict>
			<key>x</key>
			<string>408.675</string>
			<key>y</key>
			<string>259.441</string>
		</dict>
		<key>{9c7d2465-afe2-4729-8355-e203d0f7f9e4}</key>
		<dict>
			<key>x</key>
			<string>379.863</string>
			<key>y</key>
			<string>299.126</string>
		</dict>
		<key>{a826eb08-54a3-4a90-b8fe-49399181c7da}</key>
		<dict>
			<key>x</key>
			<string>380.042</string>
			<key>y</key>
			<string>264.402</string>
		</dict>
		<key>{938580a9-98cb-4219-8b41-5431f20292d8}</key>
		<dict>
			<key>x</key>
			<string>351.409</string>
			<key>y</key>
			<string>266.882</string>
		</dict>
		<key>{7ef39a11-e167-45df-a759-7c6cefb1849e}</key>
		<dict>
			<key>x</key>
			<string>322.597</string>
			<key>y</key>
			<string>309.048</string>
		</dict>
		<key>{852e153a-a8d0-4e3f-a8f0-14065580b06f}</key>
		<dict>
			<key>x</key>
			<string>322.776</string>
			<key>y</key>
			<string>269.362</string>
		</dict>
		<key>{e383128f-0724-44ec-8fb7-966e27f86e80}</key>
		<dict>
			<key>x</key>
			<string>287.584</string>
			<key>y</key>
			<string>299.126</string>
		</dict>
		<key>{85446365-0954-4b0a-8397-badf2743d4ca}</key>
		<dict>
			<key>x</key>
			<string>259.319</string>
			<key>y</key>
			<string>301.607</string>
		</dict>
		<key>{1778952c-eedc-4011-9844-a43c50c675ab}</key>
		<dict>
			<key>x</key>
			<string>231.053</string>
			<key>y</key>
			<string>299.126</string>
		</dict>
		<key>{5523b47a-6c9d-4fcf-ba54-37bcb4e6a9d7}</key>
		<dict>
			<key>x</key>
			<string>202.787</string>
			<key>y</key>
			<string>306.567</string>
		</dict>
		<key>{2c5dca19-6f41-4dc8-b426-9b141cda18e6}</key>
		<dict>
			<key>x</key>
			<string>201.14</string>
			<key>y</key>
			<string>266.882</string>
		</dict>
		<key>{e9ad0115-5b76-4eb7-850d-2e4912e90963}</key>
		<dict>
			<key>x</key>
			<string>166.954</string>
			<key>y</key>
			<string>299.126</string>
		</dict>
		<key>{7472b702-296f-4667-8b45-d8709d2eed66}</key>
		<dict>
			<key>x</key>
			<string>139.515</string>
			<key>y</key>
			<string>304.087</string>
		</dict>
		<key>{280a0114-cf16-46c3-a7cb-5699dc8c296c}</key>
		<dict>
			<key>x</key>
			<string>139.336</string>
			<key>y</key>
			<string>259.441</string>
		</dict>
		<key>{df48e701-0beb-4cfb-8237-e84d3686882c}</key>
		<dict>
			<key>x</key>
			<string>112.076</string>
			<key>y</key>
			<string>299.126</string>
		</dict>
		<key>{680fbd77-566d-4781-a7f0-8b7289e3901d}</key>
		<dict>
			<key>x</key>
			<string>84.6368</string>
			<key>y</key>
			<string>309.048</string>
		</dict>
		<key>{a0b64feb-fd1f-4d4e-b6a0-19214aefe7b0}</key>
		<dict>
			<key>x</key>
			<string>84.4578</string>
			<key>y</key>
			<string>264.402</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{f1e33f5e-0a88-426b-aa93-56bb6c2a6386}</key>
		<dict>
			<key>x1</key>
			<string>510.919</string>
			<key>y1</key>
			<string>744.377</string>
			<key>x2</key>
			<string>510.919</string>
			<key>y2</key>
			<string>759.101</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{466cc660-66a9-467c-a1c0-d96534c68ed4}</key>
		<dict>
			<key>x1</key>
			<string>481.105</string>
			<key>y1</key>
			<string>742.051</string>
			<key>x2</key>
			<string>481.105</string>
			<key>y2</key>
			<string>757.241</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{81c663d2-79a8-4088-94af-d0fd906ddf93}</key>
		<dict>
			<key>x1</key>
			<string>451.112</string>
			<key>y1</key>
			<string>739.571</string>
			<key>x2</key>
			<string>451.112</string>
			<key>y2</key>
			<string>755.381</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{6adf05a3-d14e-40a5-be72-707f5eb2ee38}</key>
		<dict>
			<key>x1</key>
			<string>414.003</string>
			<key>y1</key>
			<string>734.61</string>
			<key>x2</key>
			<string>414.003</string>
			<key>y2</key>
			<string>751.04</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{cb20259e-07fc-4ebe-aaea-9f7509757c13}</key>
		<dict>
			<key>x1</key>
			<string>385.286</string>
			<key>y1</key>
			<string>737.09</string>
			<key>x2</key>
			<string>385.286</string>
			<key>y2</key>
			<string>753.521</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{319165ef-358c-4c1f-9ec5-eb5b45f739f1}</key>
		<dict>
			<key>x1</key>
			<string>391.351</string>
			<key>y1</key>
			<string>700.672</string>
			<key>x2</key>
			<string>391.351</string>
			<key>y2</key>
			<string>684.072</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{8f634c29-8bfd-4905-8d61-86892512d1c3}</key>
		<dict>
			<key>x1</key>
			<string>356.57</string>
			<key>y1</key>
			<string>734.61</string>
			<key>x2</key>
			<string>356.57</string>
			<key>y2</key>
			<string>751.04</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{c345c188-9c78-4e69-a676-5535e3c44755}</key>
		<dict>
			<key>x1</key>
			<string>333.919</string>
			<key>y1</key>
			<string>698.192</string>
			<key>x2</key>
			<string>333.919</string>
			<key>y2</key>
			<string>681.592</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{137655db-43e5-4ae4-821c-3d971f4861b1}</key>
		<dict>
			<key>x1</key>
			<string>291.384</string>
			<key>y1</key>
			<string>734.61</string>
			<key>x2</key>
			<string>291.384</string>
			<key>y2</key>
			<string>751.04</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{e7b278b5-44af-444a-bb1d-82fb627730e6}</key>
		<dict>
			<key>x1</key>
			<string>262.125</string>
			<key>y1</key>
			<string>739.571</string>
			<key>x2</key>
			<string>262.125</string>
			<key>y2</key>
			<string>755.381</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{20d34df4-1ff2-4ccd-ab19-2f41a966944f}</key>
		<dict>
			<key>x1</key>
			<string>232.866</string>
			<key>y1</key>
			<string>742.051</string>
			<key>x2</key>
			<string>232.866</string>
			<key>y2</key>
			<string>757.241</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{0376dc9a-844e-47c1-996b-71323c91d10f}</key>
		<dict>
			<key>x1</key>
			<string>203.607</string>
			<key>y1</key>
			<string>744.531</string>
			<key>x2</key>
			<string>203.607</string>
			<key>y2</key>
			<string>759.101</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{a4903b8e-9fe1-4d18-88d3-0497f772dc80}</key>
		<dict>
			<key>x1</key>
			<string>174.727</string>
			<key>y1</key>
			<string>693.062</string>
			<key>x2</key>
			<string>174.727</string>
			<key>y2</key>
			<string>677.871</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{c03d620a-233f-420b-9a87-fc15a61b0818}</key>
		<dict>
			<key>x1</key>
			<string>146.707</string>
			<key>y1</key>
			<string>698.022</string>
			<key>x2</key>
			<string>146.707</string>
			<key>y2</key>
			<string>681.592</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e1327986-1918-4ad0-a332-fcca0b76a525}</key>
		<dict>
			<key>x1</key>
			<string>118.686</string>
			<key>y1</key>
			<string>700.502</string>
			<key>x2</key>
			<string>118.686</string>
			<key>y2</key>
			<string>684.072</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d022bb21-7428-4c54-aa57-33d9a7fce4e4}</key>
		<dict>
			<key>x1</key>
			<string>90.6663</string>
			<key>y1</key>
			<string>702.983</string>
			<key>x2</key>
			<string>90.6663</string>
			<key>y2</key>
			<string>686.552</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{6fc97fa9-bb0b-43c5-bdce-3bd63643e266}</key>
		<dict>
			<key>x1</key>
			<string>530.821</string>
			<key>y1</key>
			<string>589.759</string>
			<key>x2</key>
			<string>530.821</string>
			<key>y2</key>
			<string>606.19</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{b0204d15-9bc9-4614-9587-fd4b99240887}</key>
		<dict>
			<key>x1</key>
			<string>502.555</string>
			<key>y1</key>
			<string>592.24</string>
			<key>x2</key>
			<string>502.555</string>
			<key>y2</key>
			<string>608.67</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f13c5d0e-1605-4a03-9879-47a27f632eda}</key>
		<dict>
			<key>x1</key>
			<string>474.289</string>
			<key>y1</key>
			<string>589.759</string>
			<key>x2</key>
			<string>474.289</string>
			<key>y2</key>
			<string>606.19</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{1dc366fa-75a4-44f6-bf19-10ca4770d6e5}</key>
		<dict>
			<key>x1</key>
			<string>446.024</string>
			<key>y1</key>
			<string>597.2</string>
			<key>x2</key>
			<string>446.024</string>
			<key>y2</key>
			<string>612.391</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{f37c5b60-bbdd-488b-bc10-ddd89af5c174}</key>
		<dict>
			<key>x1</key>
			<string>414.883</string>
			<key>y1</key>
			<string>548.211</string>
			<key>x2</key>
			<string>414.883</string>
			<key>y2</key>
			<string>533.02</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{dc7590f2-ac71-44a9-9fdd-382235e9663d}</key>
		<dict>
			<key>x1</key>
			<string>380.185</string>
			<key>y1</key>
			<string>589.605</string>
			<key>x2</key>
			<string>380.185</string>
			<key>y2</key>
			<string>606.19</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{46822c57-bfdd-4767-9d3e-fa2e33c47664}</key>
		<dict>
			<key>x1</key>
			<string>386.25</string>
			<key>y1</key>
			<string>553.171</string>
			<key>x2</key>
			<string>386.25</string>
			<key>y2</key>
			<string>536.741</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{fff3bc1f-c85f-47d5-aa78-944fc0c06ac1}</key>
		<dict>
			<key>x1</key>
			<string>357.617</string>
			<key>y1</key>
			<string>555.652</string>
			<key>x2</key>
			<string>357.617</string>
			<key>y2</key>
			<string>539.221</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{349f5d16-9b3e-47a2-a1eb-7a5c8e308391}</key>
		<dict>
			<key>x1</key>
			<string>322.919</string>
			<key>y1</key>
			<string>599.527</string>
			<key>x2</key>
			<string>322.919</string>
			<key>y2</key>
			<string>614.251</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{c28f8394-23ad-4c42-a023-4ab637920e42}</key>
		<dict>
			<key>x1</key>
			<string>328.984</string>
			<key>y1</key>
			<string>558.132</string>
			<key>x2</key>
			<string>328.984</string>
			<key>y2</key>
			<string>541.702</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{8d40c2c8-fa24-459c-9885-5794485a60d0}</key>
		<dict>
			<key>x1</key>
			<string>287.907</string>
			<key>y1</key>
			<string>589.759</string>
			<key>x2</key>
			<string>287.907</string>
			<key>y2</key>
			<string>606.19</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{933951ff-38ba-4ee6-8504-6be7db7f51e8}</key>
		<dict>
			<key>x1</key>
			<string>259.641</string>
			<key>y1</key>
			<string>592.24</string>
			<key>x2</key>
			<string>259.641</string>
			<key>y2</key>
			<string>608.67</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{92becdf4-4356-4b6e-b3ef-5bb1c57efefe}</key>
		<dict>
			<key>x1</key>
			<string>231.375</string>
			<key>y1</key>
			<string>589.759</string>
			<key>x2</key>
			<string>231.375</string>
			<key>y2</key>
			<string>606.19</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{01262b3d-3ddd-43b7-9ff8-38cbd23f2b22}</key>
		<dict>
			<key>x1</key>
			<string>203.109</string>
			<key>y1</key>
			<string>597.2</string>
			<key>x2</key>
			<string>203.109</string>
			<key>y2</key>
			<string>612.391</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{c0700b06-66e9-42c0-a47b-6fbefef737fa}</key>
		<dict>
			<key>x1</key>
			<string>167.277</string>
			<key>y1</key>
			<string>589.759</string>
			<key>x2</key>
			<string>167.277</string>
			<key>y2</key>
			<string>606.19</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{4e266b09-453b-40b8-8715-c581444a32ff}</key>
		<dict>
			<key>x1</key>
			<string>139.837</string>
			<key>y1</key>
			<string>594.72</string>
			<key>x2</key>
			<string>139.837</string>
			<key>y2</key>
			<string>610.53</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{1c42d7ea-2656-4a34-9dde-bfbb5ead4f0e}</key>
		<dict>
			<key>x1</key>
			<string>145.903</string>
			<key>y1</key>
			<string>548.381</string>
			<key>x2</key>
			<string>145.903</string>
			<key>y2</key>
			<string>533.02</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{ff48a145-0f33-46de-98bd-07522479a9d1}</key>
		<dict>
			<key>x1</key>
			<string>112.398</string>
			<key>y1</key>
			<string>589.759</string>
			<key>x2</key>
			<string>112.398</string>
			<key>y2</key>
			<string>606.19</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{3260865e-d920-4e4e-bb62-d3da97838af0}</key>
		<dict>
			<key>x1</key>
			<string>84.9593</string>
			<key>y1</key>
			<string>599.681</string>
			<key>x2</key>
			<string>84.9593</string>
			<key>y2</key>
			<string>614.251</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{519368da-32eb-46ff-b68a-0fd43fece270}</key>
		<dict>
			<key>x1</key>
			<string>91.0244</string>
			<key>y1</key>
			<string>553.341</string>
			<key>x2</key>
			<string>91.0244</string>
			<key>y2</key>
			<string>536.741</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{956a021a-0aef-46a2-8404-2ec9dc9fb548}</key>
		<dict>
			<key>x1</key>
			<string>530.81</string>
			<key>y1</key>
			<string>444.909</string>
			<key>x2</key>
			<string>530.81</string>
			<key>y2</key>
			<string>461.339</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{81b7b607-c0f4-4c24-b490-dd2a05576b87}</key>
		<dict>
			<key>x1</key>
			<string>502.533</string>
			<key>y1</key>
			<string>447.389</string>
			<key>x2</key>
			<string>502.533</string>
			<key>y2</key>
			<string>463.819</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{3592c523-12f9-4f90-9508-ad7c5cf5d5b5}</key>
		<dict>
			<key>x1</key>
			<string>474.256</string>
			<key>y1</key>
			<string>444.909</string>
			<key>x2</key>
			<string>474.256</string>
			<key>y2</key>
			<string>461.339</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{c6d5fe2e-c4a0-4e7b-8be5-9b138457d1ec}</key>
		<dict>
			<key>x1</key>
			<string>445.979</string>
			<key>y1</key>
			<string>452.35</string>
			<key>x2</key>
			<string>445.979</string>
			<key>y2</key>
			<string>467.54</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{b88f09d4-8fe7-4709-9f4d-97831f9eb1b0}</key>
		<dict>
			<key>x1</key>
			<string>408.941</string>
			<key>y1</key>
			<string>444.909</string>
			<key>x2</key>
			<string>408.941</string>
			<key>y2</key>
			<string>461.339</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{75a529d0-a3cc-481d-aacc-d5916b00551e}</key>
		<dict>
			<key>x1</key>
			<string>380.297</string>
			<key>y1</key>
			<string>447.389</string>
			<key>x2</key>
			<string>380.297</string>
			<key>y2</key>
			<string>463.819</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{3a92180d-8d45-45b7-ab6a-1093625d66cd}</key>
		<dict>
			<key>x1</key>
			<string>386.362</string>
			<key>y1</key>
			<string>403.53</string>
			<key>x2</key>
			<string>386.362</string>
			<key>y2</key>
			<string>388.17</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{4d0e2026-f573-4196-8a1c-18d94596a614}</key>
		<dict>
			<key>x1</key>
			<string>351.653</string>
			<key>y1</key>
			<string>444.909</string>
			<key>x2</key>
			<string>351.653</string>
			<key>y2</key>
			<string>461.339</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{5530b3de-d188-477f-831f-c468cde913b7}</key>
		<dict>
			<key>x1</key>
			<string>323.009</string>
			<key>y1</key>
			<string>452.35</string>
			<key>x2</key>
			<string>323.009</string>
			<key>y2</key>
			<string>467.54</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{49e8548f-e0b7-4ae8-a69c-442f6b517e1f}</key>
		<dict>
			<key>x1</key>
			<string>329.074</string>
			<key>y1</key>
			<string>410.971</string>
			<key>x2</key>
			<string>329.074</string>
			<key>y2</key>
			<string>394.371</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{37956bda-8b36-45a0-84f5-a5ebb12f17b4}</key>
		<dict>
			<key>x1</key>
			<string>287.394</string>
			<key>y1</key>
			<string>444.909</string>
			<key>x2</key>
			<string>287.394</string>
			<key>y2</key>
			<string>461.339</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{2117318f-3b21-4479-9ca5-28a10cf0a25a}</key>
		<dict>
			<key>x1</key>
			<string>293.281</string>
			<key>y1</key>
			<string>408.321</string>
			<key>x2</key>
			<string>293.281</string>
			<key>y2</key>
			<string>391.89</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{5f13f58b-dc88-4813-9b02-0fda52582cfc}</key>
		<dict>
			<key>x1</key>
			<string>258.706</string>
			<key>y1</key>
			<string>449.869</string>
			<key>x2</key>
			<string>258.706</string>
			<key>y2</key>
			<string>465.68</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{5e7947a2-7b90-45c9-b7a7-b3324f7c3786}</key>
		<dict>
			<key>x1</key>
			<string>264.592</string>
			<key>y1</key>
			<string>413.281</string>
			<key>x2</key>
			<string>264.592</string>
			<key>y2</key>
			<string>396.851</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ad6d8813-1fe3-431a-8990-b2c68577b2fc}</key>
		<dict>
			<key>x1</key>
			<string>230.017</string>
			<key>y1</key>
			<string>444.909</string>
			<key>x2</key>
			<string>230.017</string>
			<key>y2</key>
			<string>461.339</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{8a5e034a-8ef8-4ea3-9f51-b48a3932e583}</key>
		<dict>
			<key>x1</key>
			<string>235.903</string>
			<key>y1</key>
			<string>410.801</string>
			<key>x2</key>
			<string>235.903</string>
			<key>y2</key>
			<string>394.371</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{0f89a9f9-66cf-402a-aa08-665b0857a13a}</key>
		<dict>
			<key>x1</key>
			<string>201.328</string>
			<key>y1</key>
			<string>454.83</string>
			<key>x2</key>
			<string>201.328</string>
			<key>y2</key>
			<string>469.4</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{b226dd0c-7b5d-4e1d-a6f2-493c3542cd3d}</key>
		<dict>
			<key>x1</key>
			<string>207.214</string>
			<key>y1</key>
			<string>408.321</string>
			<key>x2</key>
			<string>207.214</string>
			<key>y2</key>
			<string>391.89</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{944f4f02-7644-42df-ac49-983327a968fe}</key>
		<dict>
			<key>x1</key>
			<string>167.131</string>
			<key>y1</key>
			<string>444.909</string>
			<key>x2</key>
			<string>167.131</string>
			<key>y2</key>
			<string>461.339</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{441b0bf1-2e87-48ac-a33a-34cdaac833b5}</key>
		<dict>
			<key>x1</key>
			<string>173.017</string>
			<key>y1</key>
			<string>403.36</string>
			<key>x2</key>
			<string>173.017</string>
			<key>y2</key>
			<string>388.17</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{6a5bae3a-9e2a-4df9-bcf3-42567e970643}</key>
		<dict>
			<key>x1</key>
			<string>139.681</string>
			<key>y1</key>
			<string>449.869</string>
			<key>x2</key>
			<string>139.681</string>
			<key>y2</key>
			<string>465.68</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{25e7410b-0641-48ef-b5a1-455482e2d133}</key>
		<dict>
			<key>x1</key>
			<string>145.567</string>
			<key>y1</key>
			<string>408.321</string>
			<key>x2</key>
			<string>145.567</string>
			<key>y2</key>
			<string>391.89</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9e4984d1-5791-4b51-949e-24362f8a537f}</key>
		<dict>
			<key>x1</key>
			<string>112.231</string>
			<key>y1</key>
			<string>444.909</string>
			<key>x2</key>
			<string>112.231</string>
			<key>y2</key>
			<string>461.339</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{977fe163-be40-4663-b41c-f73a625cdfea}</key>
		<dict>
			<key>x1</key>
			<string>118.117</string>
			<key>y1</key>
			<string>410.801</string>
			<key>x2</key>
			<string>118.117</string>
			<key>y2</key>
			<string>394.371</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{fd40207e-f02a-4a59-8669-9ba0b8aea19f}</key>
		<dict>
			<key>x1</key>
			<string>84.7802</string>
			<key>y1</key>
			<string>454.83</string>
			<key>x2</key>
			<string>84.7802</string>
			<key>y2</key>
			<string>469.4</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{306483c8-5597-4d28-aee6-ee3060106f4f}</key>
		<dict>
			<key>x1</key>
			<string>90.6663</string>
			<key>y1</key>
			<string>413.281</string>
			<key>x2</key>
			<string>90.6663</string>
			<key>y2</key>
			<string>396.851</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e948e256-b45d-436a-94b3-e7c3e677f551}</key>
		<dict>
			<key>x1</key>
			<string>530.821</string>
			<key>y1</key>
			<string>300.058</string>
			<key>x2</key>
			<string>530.821</string>
			<key>y2</key>
			<string>316.488</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{bf5fd98c-1b71-42e7-be88-f47cbefd75ac}</key>
		<dict>
			<key>x1</key>
			<string>502.555</string>
			<key>y1</key>
			<string>302.538</string>
			<key>x2</key>
			<string>502.555</string>
			<key>y2</key>
			<string>318.969</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{6d696351-046d-4d47-a552-432c9800ab83}</key>
		<dict>
			<key>x1</key>
			<string>474.289</string>
			<key>y1</key>
			<string>300.058</string>
			<key>x2</key>
			<string>474.289</string>
			<key>y2</key>
			<string>316.488</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{1f720024-f513-4a08-a71c-dd7d3c972e74}</key>
		<dict>
			<key>x1</key>
			<string>446.024</string>
			<key>y1</key>
			<string>307.499</string>
			<key>x2</key>
			<string>446.024</string>
			<key>y2</key>
			<string>322.689</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{3c34bd24-62c7-435a-9320-87189eace951}</key>
		<dict>
			<key>x1</key>
			<string>414.883</string>
			<key>y1</key>
			<string>258.51</string>
			<key>x2</key>
			<string>414.883</string>
			<key>y2</key>
			<string>243.319</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{9c7d2465-afe2-4729-8355-e203d0f7f9e4}</key>
		<dict>
			<key>x1</key>
			<string>380.185</string>
			<key>y1</key>
			<string>299.904</string>
			<key>x2</key>
			<string>380.185</string>
			<key>y2</key>
			<string>316.488</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{a826eb08-54a3-4a90-b8fe-49399181c7da}</key>
		<dict>
			<key>x1</key>
			<string>386.25</string>
			<key>y1</key>
			<string>263.47</string>
			<key>x2</key>
			<string>386.25</string>
			<key>y2</key>
			<string>247.04</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{938580a9-98cb-4219-8b41-5431f20292d8}</key>
		<dict>
			<key>x1</key>
			<string>357.617</string>
			<key>y1</key>
			<string>265.95</string>
			<key>x2</key>
			<string>357.617</string>
			<key>y2</key>
			<string>249.52</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{7ef39a11-e167-45df-a759-7c6cefb1849e}</key>
		<dict>
			<key>x1</key>
			<string>322.919</string>
			<key>y1</key>
			<string>309.825</string>
			<key>x2</key>
			<string>322.919</string>
			<key>y2</key>
			<string>324.549</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{852e153a-a8d0-4e3f-a8f0-14065580b06f}</key>
		<dict>
			<key>x1</key>
			<string>328.984</string>
			<key>y1</key>
			<string>268.431</string>
			<key>x2</key>
			<string>328.984</string>
			<key>y2</key>
			<string>252</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e383128f-0724-44ec-8fb7-966e27f86e80}</key>
		<dict>
			<key>x1</key>
			<string>287.907</string>
			<key>y1</key>
			<string>300.058</string>
			<key>x2</key>
			<string>287.907</string>
			<key>y2</key>
			<string>316.488</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{85446365-0954-4b0a-8397-badf2743d4ca}</key>
		<dict>
			<key>x1</key>
			<string>259.641</string>
			<key>y1</key>
			<string>302.538</string>
			<key>x2</key>
			<string>259.641</string>
			<key>y2</key>
			<string>318.969</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{1778952c-eedc-4011-9844-a43c50c675ab}</key>
		<dict>
			<key>x1</key>
			<string>231.375</string>
			<key>y1</key>
			<string>300.058</string>
			<key>x2</key>
			<string>231.375</string>
			<key>y2</key>
			<string>316.488</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{5523b47a-6c9d-4fcf-ba54-37bcb4e6a9d7}</key>
		<dict>
			<key>x1</key>
			<string>203.109</string>
			<key>y1</key>
			<string>307.499</string>
			<key>x2</key>
			<string>203.109</string>
			<key>y2</key>
			<string>322.689</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{e9ad0115-5b76-4eb7-850d-2e4912e90963}</key>
		<dict>
			<key>x1</key>
			<string>167.277</string>
			<key>y1</key>
			<string>300.058</string>
			<key>x2</key>
			<string>167.277</string>
			<key>y2</key>
			<string>316.488</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{7472b702-296f-4667-8b45-d8709d2eed66}</key>
		<dict>
			<key>x1</key>
			<string>139.837</string>
			<key>y1</key>
			<string>305.019</string>
			<key>x2</key>
			<string>139.837</string>
			<key>y2</key>
			<string>320.829</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{280a0114-cf16-46c3-a7cb-5699dc8c296c}</key>
		<dict>
			<key>x1</key>
			<string>145.903</string>
			<key>y1</key>
			<string>258.679</string>
			<key>x2</key>
			<string>145.903</string>
			<key>y2</key>
			<string>243.319</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{df48e701-0beb-4cfb-8237-e84d3686882c}</key>
		<dict>
			<key>x1</key>
			<string>112.398</string>
			<key>y1</key>
			<string>300.058</string>
			<key>x2</key>
			<string>112.398</string>
			<key>y2</key>
			<string>316.488</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{680fbd77-566d-4781-a7f0-8b7289e3901d}</key>
		<dict>
			<key>x1</key>
			<string>84.9593</string>
			<key>y1</key>
			<string>309.979</string>
			<key>x2</key>
			<string>84.9593</string>
			<key>y2</key>
			<string>324.549</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{a0b64feb-fd1f-4d4e-b6a0-19214aefe7b0}</key>
		<dict>
			<key>x1</key>
			<string>91.0244</string>
			<key>y1</key>
			<string>263.64</string>
			<key>x2</key>
			<string>91.0244</string>
			<key>y2</key>
			<string>247.04</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
	</dict>
</dict>
</plist>