<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>541.205</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>576.784</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{0b0907fb-6070-44bc-b2d1-b4e36e2063b0}</key>
		<dict>
			<key>x</key>
			<string>507.211</string>
			<key>y</key>
			<string>632.976</string>
		</dict>
		<key>{7a059fed-131e-4e7c-9c1c-e9d2e006c906}</key>
		<dict>
			<key>x</key>
			<string>478.071</string>
			<key>y</key>
			<string>630.496</string>
		</dict>
		<key>{4b450f73-4994-40cb-b285-9455d3d14857}</key>
		<dict>
			<key>x</key>
			<string>448.752</string>
			<key>y</key>
			<string>628.016</string>
		</dict>
		<key>{b4db87eb-a3dc-4c00-8a8f-dc3d6f524a25}</key>
		<dict>
			<key>x</key>
			<string>447.105</string>
			<key>y</key>
			<string>563.528</string>
		</dict>
		<key>{e7bbf208-29d4-48d2-a965-f95e528e203b}</key>
		<dict>
			<key>x</key>
			<string>409.816</string>
			<key>y</key>
			<string>623.055</string>
		</dict>
		<key>{c751c3dd-f079-4d3e-a364-e09d575875d7}</key>
		<dict>
			<key>x</key>
			<string>381.801</string>
			<key>y</key>
			<string>625.535</string>
		</dict>
		<key>{751362b7-7c1a-4d31-96e4-f276b058f3ca}</key>
		<dict>
			<key>x</key>
			<string>381.622</string>
			<key>y</key>
			<string>561.047</string>
		</dict>
		<key>{29912628-a719-46ea-b873-6edc8f37cee9}</key>
		<dict>
			<key>x</key>
			<string>353.786</string>
			<key>y</key>
			<string>623.055</string>
		</dict>
		<key>{9631050b-04b4-4f02-8b83-655c0914c4a8}</key>
		<dict>
			<key>x</key>
			<string>325.591</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{955a053e-b774-4132-bf9d-8e902773e36a}</key>
		<dict>
			<key>x</key>
			<string>284.221</string>
			<key>y</key>
			<string>623.055</string>
		</dict>
		<key>{b1413478-5488-4645-a16b-6471b6aebbcb}</key>
		<dict>
			<key>x</key>
			<string>252.779</string>
			<key>y</key>
			<string>628.016</string>
		</dict>
		<key>{f3e7692a-d0e9-469a-9c54-76eea0b4aec0}</key>
		<dict>
			<key>x</key>
			<string>221.337</string>
			<key>y</key>
			<string>630.496</string>
		</dict>
		<key>{dcef3351-d51d-413e-825a-96a0385a65e8}</key>
		<dict>
			<key>x</key>
			<string>189.895</string>
			<key>y</key>
			<string>632.976</string>
		</dict>
		<key>{85a73a11-f3ce-4e0d-93c1-c7899b799a41}</key>
		<dict>
			<key>x</key>
			<string>155.178</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{7b9d549d-93d4-4cef-86e2-c74c8741b01d}</key>
		<dict>
			<key>x</key>
			<string>127.207</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{80e86b1c-0b5f-44d5-9a0d-cfb92a7b2f83}</key>
		<dict>
			<key>x</key>
			<string>99.2365</string>
			<key>y</key>
			<string>561.047</string>
		</dict>
		<key>{8b0f365a-e596-4917-9b33-0f7ee7999b33}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>563.528</string>
		</dict>
		<key>{00ccdf25-97df-40f1-aa48-5fd274af2623}</key>
		<dict>
			<key>x</key>
			<string>530.178</string>
			<key>y</key>
			<string>476.717</string>
		</dict>
		<key>{44887343-715d-476f-bd01-9d5bc238517f}</key>
		<dict>
			<key>x</key>
			<string>501.591</string>
			<key>y</key>
			<string>479.197</string>
		</dict>
		<key>{e957dbc0-be09-45ae-9d64-4264631ef4a0}</key>
		<dict>
			<key>x</key>
			<string>473.005</string>
			<key>y</key>
			<string>476.717</string>
		</dict>
		<key>{88731db3-e245-47e7-b4ac-2f2bc175ebe2}</key>
		<dict>
			<key>x</key>
			<string>444.418</string>
			<key>y</key>
			<string>484.157</string>
		</dict>
		<key>{801ca08a-64d6-4656-a1b6-a99972d36dce}</key>
		<dict>
			<key>x</key>
			<string>442.771</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{b0fc78f4-0230-42e9-8c36-5f46796c3852}</key>
		<dict>
			<key>x</key>
			<string>408.135</string>
			<key>y</key>
			<string>407.268</string>
		</dict>
		<key>{c6deb139-8c24-4bcc-813d-73ce1214f48d}</key>
		<dict>
			<key>x</key>
			<string>380.067</string>
			<key>y</key>
			<string>476.717</string>
		</dict>
		<key>{08f42b0d-7966-4e2d-8951-01cfef150acc}</key>
		<dict>
			<key>x</key>
			<string>380.246</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{4a772b30-e724-4a70-aeb9-3bb5a4f324ec}</key>
		<dict>
			<key>x</key>
			<string>352.357</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{2edb2439-0783-4748-b5e7-77d7ebbe9961}</key>
		<dict>
			<key>x</key>
			<string>324.289</string>
			<key>y</key>
			<string>486.638</string>
		</dict>
		<key>{130c373c-1676-4069-8838-9ab02c4bedba}</key>
		<dict>
			<key>x</key>
			<string>324.468</string>
			<key>y</key>
			<string>417.189</string>
		</dict>
		<key>{242d5e7c-5b11-4fe2-9670-9506fdf1d7ee}</key>
		<dict>
			<key>x</key>
			<string>288.956</string>
			<key>y</key>
			<string>476.717</string>
		</dict>
		<key>{c9954ce5-669c-4eb0-a638-8080a1b5e220}</key>
		<dict>
			<key>x</key>
			<string>260.369</string>
			<key>y</key>
			<string>479.197</string>
		</dict>
		<key>{c0f3d1a9-1356-48b0-b643-8979ad0ded6a}</key>
		<dict>
			<key>x</key>
			<string>231.782</string>
			<key>y</key>
			<string>476.717</string>
		</dict>
		<key>{a8dd8e19-9147-409e-9c61-32cb45928834}</key>
		<dict>
			<key>x</key>
			<string>203.196</string>
			<key>y</key>
			<string>484.157</string>
		</dict>
		<key>{d3c47f0a-16e3-4092-abf1-05074af1ce87}</key>
		<dict>
			<key>x</key>
			<string>201.549</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{cee0e9e5-15d4-4e5e-8fc1-b292b3b9faf7}</key>
		<dict>
			<key>x</key>
			<string>165.874</string>
			<key>y</key>
			<string>476.717</string>
		</dict>
		<key>{d7f85b04-11e2-41bc-bf3e-abb8c95e214e}</key>
		<dict>
			<key>x</key>
			<string>136.947</string>
			<key>y</key>
			<string>481.677</string>
		</dict>
		<key>{14827433-c81e-4ce0-8d05-d0b3fb638be1}</key>
		<dict>
			<key>x</key>
			<string>136.768</string>
			<key>y</key>
			<string>407.268</string>
		</dict>
		<key>{17ff6480-d42e-4c9e-a8d3-1cefa288c8a0}</key>
		<dict>
			<key>x</key>
			<string>108.019</string>
			<key>y</key>
			<string>476.717</string>
		</dict>
		<key>{d23eb0c8-c599-40de-8760-86760c7fe199}</key>
		<dict>
			<key>x</key>
			<string>79.0918</string>
			<key>y</key>
			<string>486.638</string>
		</dict>
		<key>{d54a01ed-c155-4402-a51e-f229e402caaf}</key>
		<dict>
			<key>x</key>
			<string>78.9127</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{3d45def3-e3da-4cd5-bc84-2c2b090adbad}</key>
		<dict>
			<key>x</key>
			<string>530.247</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{3f32be58-5fae-43de-973d-671afd809f84}</key>
		<dict>
			<key>x</key>
			<string>501.729</string>
			<key>y</key>
			<string>332.858</string>
		</dict>
		<key>{3dcd58a7-a5cf-4ba4-a49b-9e3d6a8ded00}</key>
		<dict>
			<key>x</key>
			<string>473.211</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{20c9eb4a-f958-45cd-8e59-f3e7f72ee6b5}</key>
		<dict>
			<key>x</key>
			<string>444.694</string>
			<key>y</key>
			<string>337.819</string>
		</dict>
		<key>{ebe2ca75-c515-432d-8036-f018496546d6}</key>
		<dict>
			<key>x</key>
			<string>443.047</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{38516c2f-0ded-47ab-8fc8-07d21fd3face}</key>
		<dict>
			<key>x</key>
			<string>407.415</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{8d36a7ff-0d26-43bb-af81-db52149ae3e6}</key>
		<dict>
			<key>x</key>
			<string>378.531</string>
			<key>y</key>
			<string>332.858</string>
		</dict>
		<key>{7405d5d7-71fc-49be-9103-45c8b224aba0}</key>
		<dict>
			<key>x</key>
			<string>378.352</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{321bb8a0-7ba0-4fe9-9044-9ee4a4ecc730}</key>
		<dict>
			<key>x</key>
			<string>349.646</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{a17f84ed-a073-459b-8385-e14326c4958e}</key>
		<dict>
			<key>x</key>
			<string>320.761</string>
			<key>y</key>
			<string>337.819</string>
		</dict>
		<key>{f0ae26ac-7c09-4273-a8c7-08aa3fa22b3c}</key>
		<dict>
			<key>x</key>
			<string>320.582</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{a00ff0fc-f07a-4c1a-a2ed-969dd938ef8c}</key>
		<dict>
			<key>x</key>
			<string>284.534</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{8487a066-1d2b-46de-963f-74092b55929e}</key>
		<dict>
			<key>x</key>
			<string>284.534</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{46b6c644-901c-48e3-b6eb-77c9149ab10f}</key>
		<dict>
			<key>x</key>
			<string>255.232</string>
			<key>y</key>
			<string>335.339</string>
		</dict>
		<key>{03e37b70-3939-4b30-8cb5-f7f32e4ab88e}</key>
		<dict>
			<key>x</key>
			<string>255.232</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{80757bef-2a4b-47d9-b9b5-479791000a30}</key>
		<dict>
			<key>x</key>
			<string>225.931</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{3cf4b14d-6628-4c08-ac68-c0b1d521c340}</key>
		<dict>
			<key>x</key>
			<string>225.931</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{11a0b71a-a672-4ce0-88ce-a10148277987}</key>
		<dict>
			<key>x</key>
			<string>196.629</string>
			<key>y</key>
			<string>340.299</string>
		</dict>
		<key>{d14b1bec-b1e6-469a-a8bc-36d155309d31}</key>
		<dict>
			<key>x</key>
			<string>196.629</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{8423a31d-b5cd-40c2-8832-ea6d481f767c}</key>
		<dict>
			<key>x</key>
			<string>157.842</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{979184c3-25ab-4854-88df-a7376121a627}</key>
		<dict>
			<key>x</key>
			<string>157.842</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{8ab598c8-431b-4e7d-bf0e-5ea58c91abcf}</key>
		<dict>
			<key>x</key>
			<string>128.983</string>
			<key>y</key>
			<string>335.339</string>
		</dict>
		<key>{044dd3ed-0cbf-4f48-b8e1-a1b436e26918}</key>
		<dict>
			<key>x</key>
			<string>128.983</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{e6c2c207-33ae-4979-979c-e1a614d228a5}</key>
		<dict>
			<key>x</key>
			<string>100.124</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{7d8b1639-85d9-4cb2-8c60-80eb5f0d60e1}</key>
		<dict>
			<key>x</key>
			<string>100.124</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{f7625e7e-f17c-446e-9191-71c0e2672087}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>340.299</string>
		</dict>
		<key>{bc33bbc5-8e16-4b32-baca-4731d6d3563f}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{874f2d30-685e-4384-86ef-219440a640e4}</key>
		<dict>
			<key>x</key>
			<string>530.708</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{c22bacf6-6832-4fc6-9998-020e5cb963e1}</key>
		<dict>
			<key>x</key>
			<string>502.652</string>
			<key>y</key>
			<string>186.52</string>
		</dict>
		<key>{9ae4f8cf-63ac-4ef0-a37b-3ffaddc84402}</key>
		<dict>
			<key>x</key>
			<string>474.595</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{022ed180-dfc2-4297-90b4-79af46c1b4df}</key>
		<dict>
			<key>x</key>
			<string>446.539</string>
			<key>y</key>
			<string>191.48</string>
		</dict>
		<key>{ec86d201-cfc1-47f4-a525-14e792aba633}</key>
		<dict>
			<key>x</key>
			<string>444.892</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{a51bd7c5-2c4c-4c61-b071-34f79737a4cd}</key>
		<dict>
			<key>x</key>
			<string>410.786</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{014493c3-70ab-48d3-b31b-6c00205b57c0}</key>
		<dict>
			<key>x</key>
			<string>383.248</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{98655faf-e01e-4dc1-a277-0a0f902b1b86}</key>
		<dict>
			<key>x</key>
			<string>383.427</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{a78a796e-2771-4a70-b440-01350770809a}</key>
		<dict>
			<key>x</key>
			<string>356.068</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{75250a1c-e103-4cdc-9dae-6769d25d7885}</key>
		<dict>
			<key>x</key>
			<string>328.53</string>
			<key>y</key>
			<string>193.961</string>
		</dict>
		<key>{b98d1d2f-c706-4a3e-9478-c04f26fe7650}</key>
		<dict>
			<key>x</key>
			<string>328.709</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{883d6543-fbf4-4948-9a0c-48871169a61d}</key>
		<dict>
			<key>x</key>
			<string>293.727</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{c3d422ed-3345-4b10-84d0-2c6641b7f9fb}</key>
		<dict>
			<key>x</key>
			<string>265.671</string>
			<key>y</key>
			<string>186.52</string>
		</dict>
		<key>{dfd55fc6-c735-4f73-8409-bab1dd8c45e8}</key>
		<dict>
			<key>x</key>
			<string>237.614</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{9394b867-f9f2-4a1c-8112-0066f0cf103d}</key>
		<dict>
			<key>x</key>
			<string>209.558</string>
			<key>y</key>
			<string>191.48</string>
		</dict>
		<key>{560bd632-28a0-444d-a02d-26dc41af0771}</key>
		<dict>
			<key>x</key>
			<string>207.911</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{08b564fd-7fc3-4ae6-895b-948950dfa39d}</key>
		<dict>
			<key>x</key>
			<string>172.767</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{299c4b3c-b595-482b-a2b8-f09b1e02cd50}</key>
		<dict>
			<key>x</key>
			<string>144.369</string>
			<key>y</key>
			<string>189</string>
		</dict>
		<key>{3a111a83-722d-4300-aad1-ed258dbd49c3}</key>
		<dict>
			<key>x</key>
			<string>144.19</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{d5a54402-f2de-4a28-ac38-c9e8960b70b3}</key>
		<dict>
			<key>x</key>
			<string>115.972</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{0f258df2-b0f5-4270-b1ea-b04a9a356f78}</key>
		<dict>
			<key>x</key>
			<string>87.5745</string>
			<key>y</key>
			<string>193.961</string>
		</dict>
		<key>{97a58eee-cb06-45c4-b8f6-191af20bf037}</key>
		<dict>
			<key>x</key>
			<string>87.3954</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{0b0907fb-6070-44bc-b2d1-b4e36e2063b0}</key>
		<dict>
			<key>x1</key>
			<string>507.533</string>
			<key>y1</key>
			<string>633.754</string>
			<key>x2</key>
			<string>507.533</string>
			<key>y2</key>
			<string>644.138</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{7a059fed-131e-4e7c-9c1c-e9d2e006c906}</key>
		<dict>
			<key>x1</key>
			<string>478.394</string>
			<key>y1</key>
			<string>631.428</string>
			<key>x2</key>
			<string>478.394</string>
			<key>y2</key>
			<string>641.657</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{4b450f73-4994-40cb-b285-9455d3d14857}</key>
		<dict>
			<key>x1</key>
			<string>449.075</string>
			<key>y1</key>
			<string>628.947</string>
			<key>x2</key>
			<string>449.075</string>
			<key>y2</key>
			<string>639.177</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{e7bbf208-29d4-48d2-a965-f95e528e203b}</key>
		<dict>
			<key>x1</key>
			<string>410.139</string>
			<key>y1</key>
			<string>623.987</string>
			<key>x2</key>
			<string>410.139</string>
			<key>y2</key>
			<string>634.217</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{c751c3dd-f079-4d3e-a364-e09d575875d7}</key>
		<dict>
			<key>x1</key>
			<string>382.123</string>
			<key>y1</key>
			<string>626.467</string>
			<key>x2</key>
			<string>382.123</string>
			<key>y2</key>
			<string>636.697</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{751362b7-7c1a-4d31-96e4-f276b058f3ca}</key>
		<dict>
			<key>x1</key>
			<string>388.188</string>
			<key>y1</key>
			<string>560.285</string>
			<key>x2</key>
			<string>388.188</string>
			<key>y2</key>
			<string>543.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{29912628-a719-46ea-b873-6edc8f37cee9}</key>
		<dict>
			<key>x1</key>
			<string>354.108</string>
			<key>y1</key>
			<string>623.987</string>
			<key>x2</key>
			<string>354.108</string>
			<key>y2</key>
			<string>634.217</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{9631050b-04b4-4f02-8b83-655c0914c4a8}</key>
		<dict>
			<key>x1</key>
			<string>332.158</string>
			<key>y1</key>
			<string>557.805</string>
			<key>x2</key>
			<string>332.158</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{955a053e-b774-4132-bf9d-8e902773e36a}</key>
		<dict>
			<key>x1</key>
			<string>284.543</string>
			<key>y1</key>
			<string>623.987</string>
			<key>x2</key>
			<string>284.543</string>
			<key>y2</key>
			<string>634.217</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{b1413478-5488-4645-a16b-6471b6aebbcb}</key>
		<dict>
			<key>x1</key>
			<string>253.101</string>
			<key>y1</key>
			<string>628.947</string>
			<key>x2</key>
			<string>253.101</string>
			<key>y2</key>
			<string>639.177</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{f3e7692a-d0e9-469a-9c54-76eea0b4aec0}</key>
		<dict>
			<key>x1</key>
			<string>221.66</string>
			<key>y1</key>
			<string>631.428</string>
			<key>x2</key>
			<string>221.66</string>
			<key>y2</key>
			<string>641.657</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{dcef3351-d51d-413e-825a-96a0385a65e8}</key>
		<dict>
			<key>x1</key>
			<string>190.218</string>
			<key>y1</key>
			<string>633.908</string>
			<key>x2</key>
			<string>190.218</string>
			<key>y2</key>
			<string>644.138</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{85a73a11-f3ce-4e0d-93c1-c7899b799a41}</key>
		<dict>
			<key>x1</key>
			<string>161.387</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>161.387</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{7b9d549d-93d4-4cef-86e2-c74c8741b01d}</key>
		<dict>
			<key>x1</key>
			<string>133.416</string>
			<key>y1</key>
			<string>557.635</string>
			<key>x2</key>
			<string>133.416</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{80e86b1c-0b5f-44d5-9a0d-cfb92a7b2f83}</key>
		<dict>
			<key>x1</key>
			<string>105.445</string>
			<key>y1</key>
			<string>560.116</string>
			<key>x2</key>
			<string>105.445</string>
			<key>y2</key>
			<string>543.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{8b0f365a-e596-4917-9b33-0f7ee7999b33}</key>
		<dict>
			<key>x1</key>
			<string>77.4742</string>
			<key>y1</key>
			<string>562.596</string>
			<key>x2</key>
			<string>77.4742</string>
			<key>y2</key>
			<string>546.165</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{00ccdf25-97df-40f1-aa48-5fd274af2623}</key>
		<dict>
			<key>x1</key>
			<string>530.5</string>
			<key>y1</key>
			<string>477.648</string>
			<key>x2</key>
			<string>530.5</string>
			<key>y2</key>
			<string>487.878</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{44887343-715d-476f-bd01-9d5bc238517f}</key>
		<dict>
			<key>x1</key>
			<string>501.914</string>
			<key>y1</key>
			<string>480.129</string>
			<key>x2</key>
			<string>501.914</string>
			<key>y2</key>
			<string>490.358</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{e957dbc0-be09-45ae-9d64-4264631ef4a0}</key>
		<dict>
			<key>x1</key>
			<string>473.327</string>
			<key>y1</key>
			<string>477.648</string>
			<key>x2</key>
			<string>473.327</string>
			<key>y2</key>
			<string>487.878</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{88731db3-e245-47e7-b4ac-2f2bc175ebe2}</key>
		<dict>
			<key>x1</key>
			<string>444.74</string>
			<key>y1</key>
			<string>485.089</string>
			<key>x2</key>
			<string>444.74</string>
			<key>y2</key>
			<string>495.319</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{b0fc78f4-0230-42e9-8c36-5f46796c3852}</key>
		<dict>
			<key>x1</key>
			<string>414.344</string>
			<key>y1</key>
			<string>406.336</string>
			<key>x2</key>
			<string>414.344</string>
			<key>y2</key>
			<string>391.146</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{c6deb139-8c24-4bcc-813d-73ce1214f48d}</key>
		<dict>
			<key>x1</key>
			<string>380.39</string>
			<key>y1</key>
			<string>477.494</string>
			<key>x2</key>
			<string>380.39</string>
			<key>y2</key>
			<string>487.878</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{08f42b0d-7966-4e2d-8951-01cfef150acc}</key>
		<dict>
			<key>x1</key>
			<string>386.455</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>386.455</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{4a772b30-e724-4a70-aeb9-3bb5a4f324ec}</key>
		<dict>
			<key>x1</key>
			<string>358.566</string>
			<key>y1</key>
			<string>413.777</string>
			<key>x2</key>
			<string>358.566</string>
			<key>y2</key>
			<string>397.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{2edb2439-0783-4748-b5e7-77d7ebbe9961}</key>
		<dict>
			<key>x1</key>
			<string>324.611</string>
			<key>y1</key>
			<string>487.416</string>
			<key>x2</key>
			<string>324.611</string>
			<key>y2</key>
			<string>497.799</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{130c373c-1676-4069-8838-9ab02c4bedba}</key>
		<dict>
			<key>x1</key>
			<string>330.676</string>
			<key>y1</key>
			<string>416.257</string>
			<key>x2</key>
			<string>330.676</string>
			<key>y2</key>
			<string>399.827</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{242d5e7c-5b11-4fe2-9670-9506fdf1d7ee}</key>
		<dict>
			<key>x1</key>
			<string>289.278</string>
			<key>y1</key>
			<string>477.648</string>
			<key>x2</key>
			<string>289.278</string>
			<key>y2</key>
			<string>487.878</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{c9954ce5-669c-4eb0-a638-8080a1b5e220}</key>
		<dict>
			<key>x1</key>
			<string>260.691</string>
			<key>y1</key>
			<string>480.129</string>
			<key>x2</key>
			<string>260.691</string>
			<key>y2</key>
			<string>490.358</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{c0f3d1a9-1356-48b0-b643-8979ad0ded6a}</key>
		<dict>
			<key>x1</key>
			<string>232.105</string>
			<key>y1</key>
			<string>477.648</string>
			<key>x2</key>
			<string>232.105</string>
			<key>y2</key>
			<string>487.878</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{a8dd8e19-9147-409e-9c61-32cb45928834}</key>
		<dict>
			<key>x1</key>
			<string>203.518</string>
			<key>y1</key>
			<string>485.089</string>
			<key>x2</key>
			<string>203.518</string>
			<key>y2</key>
			<string>495.319</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{cee0e9e5-15d4-4e5e-8fc1-b292b3b9faf7}</key>
		<dict>
			<key>x1</key>
			<string>166.197</string>
			<key>y1</key>
			<string>477.648</string>
			<key>x2</key>
			<string>166.197</string>
			<key>y2</key>
			<string>487.878</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{d7f85b04-11e2-41bc-bf3e-abb8c95e214e}</key>
		<dict>
			<key>x1</key>
			<string>137.269</string>
			<key>y1</key>
			<string>482.609</string>
			<key>x2</key>
			<string>137.269</string>
			<key>y2</key>
			<string>492.839</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{14827433-c81e-4ce0-8d05-d0b3fb638be1}</key>
		<dict>
			<key>x1</key>
			<string>143.335</string>
			<key>y1</key>
			<string>406.506</string>
			<key>x2</key>
			<string>143.335</string>
			<key>y2</key>
			<string>391.146</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{17ff6480-d42e-4c9e-a8d3-1cefa288c8a0}</key>
		<dict>
			<key>x1</key>
			<string>108.342</string>
			<key>y1</key>
			<string>477.648</string>
			<key>x2</key>
			<string>108.342</string>
			<key>y2</key>
			<string>487.878</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{d23eb0c8-c599-40de-8760-86760c7fe199}</key>
		<dict>
			<key>x1</key>
			<string>79.4142</string>
			<key>y1</key>
			<string>487.569</string>
			<key>x2</key>
			<string>79.4142</string>
			<key>y2</key>
			<string>497.799</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{d54a01ed-c155-4402-a51e-f229e402caaf}</key>
		<dict>
			<key>x1</key>
			<string>85.4794</string>
			<key>y1</key>
			<string>411.466</string>
			<key>x2</key>
			<string>85.4794</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3d45def3-e3da-4cd5-bc84-2c2b090adbad}</key>
		<dict>
			<key>x1</key>
			<string>530.569</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>530.569</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{3f32be58-5fae-43de-973d-671afd809f84}</key>
		<dict>
			<key>x1</key>
			<string>502.052</string>
			<key>y1</key>
			<string>333.79</string>
			<key>x2</key>
			<string>502.052</string>
			<key>y2</key>
			<string>344.02</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{3dcd58a7-a5cf-4ba4-a49b-9e3d6a8ded00}</key>
		<dict>
			<key>x1</key>
			<string>473.534</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>473.534</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{20c9eb4a-f958-45cd-8e59-f3e7f72ee6b5}</key>
		<dict>
			<key>x1</key>
			<string>445.016</string>
			<key>y1</key>
			<string>338.751</string>
			<key>x2</key>
			<string>445.016</string>
			<key>y2</key>
			<string>348.98</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{38516c2f-0ded-47ab-8fc8-07d21fd3face}</key>
		<dict>
			<key>x1</key>
			<string>407.738</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>407.738</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{8d36a7ff-0d26-43bb-af81-db52149ae3e6}</key>
		<dict>
			<key>x1</key>
			<string>378.853</string>
			<key>y1</key>
			<string>333.79</string>
			<key>x2</key>
			<string>378.853</string>
			<key>y2</key>
			<string>344.02</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{7405d5d7-71fc-49be-9103-45c8b224aba0}</key>
		<dict>
			<key>x1</key>
			<string>384.918</string>
			<key>y1</key>
			<string>260.167</string>
			<key>x2</key>
			<string>384.918</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{321bb8a0-7ba0-4fe9-9044-9ee4a4ecc730}</key>
		<dict>
			<key>x1</key>
			<string>349.968</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>349.968</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{a17f84ed-a073-459b-8385-e14326c4958e}</key>
		<dict>
			<key>x1</key>
			<string>321.083</string>
			<key>y1</key>
			<string>338.751</string>
			<key>x2</key>
			<string>321.083</string>
			<key>y2</key>
			<string>348.98</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{f0ae26ac-7c09-4273-a8c7-08aa3fa22b3c}</key>
		<dict>
			<key>x1</key>
			<string>327.149</string>
			<key>y1</key>
			<string>267.608</string>
			<key>x2</key>
			<string>327.149</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{a00ff0fc-f07a-4c1a-a2ed-969dd938ef8c}</key>
		<dict>
			<key>x1</key>
			<string>284.856</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>284.856</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{8487a066-1d2b-46de-963f-74092b55929e}</key>
		<dict>
			<key>x1</key>
			<string>290.742</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>290.742</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{46b6c644-901c-48e3-b6eb-77c9149ab10f}</key>
		<dict>
			<key>x1</key>
			<string>255.555</string>
			<key>y1</key>
			<string>336.27</string>
			<key>x2</key>
			<string>255.555</string>
			<key>y2</key>
			<string>346.5</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{03e37b70-3939-4b30-8cb5-f7f32e4ab88e}</key>
		<dict>
			<key>x1</key>
			<string>261.441</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>261.441</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{80757bef-2a4b-47d9-b9b5-479791000a30}</key>
		<dict>
			<key>x1</key>
			<string>226.253</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>226.253</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{3cf4b14d-6628-4c08-ac68-c0b1d521c340}</key>
		<dict>
			<key>x1</key>
			<string>232.139</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>232.139</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{11a0b71a-a672-4ce0-88ce-a10148277987}</key>
		<dict>
			<key>x1</key>
			<string>196.952</string>
			<key>y1</key>
			<string>341.231</string>
			<key>x2</key>
			<string>196.952</string>
			<key>y2</key>
			<string>351.461</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{d14b1bec-b1e6-469a-a8bc-36d155309d31}</key>
		<dict>
			<key>x1</key>
			<string>202.838</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>202.838</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{8423a31d-b5cd-40c2-8832-ea6d481f767c}</key>
		<dict>
			<key>x1</key>
			<string>158.164</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>158.164</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{979184c3-25ab-4854-88df-a7376121a627}</key>
		<dict>
			<key>x1</key>
			<string>164.05</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>164.05</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{8ab598c8-431b-4e7d-bf0e-5ea58c91abcf}</key>
		<dict>
			<key>x1</key>
			<string>129.305</string>
			<key>y1</key>
			<string>336.27</string>
			<key>x2</key>
			<string>129.305</string>
			<key>y2</key>
			<string>346.5</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{044dd3ed-0cbf-4f48-b8e1-a1b436e26918}</key>
		<dict>
			<key>x1</key>
			<string>135.191</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>135.191</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e6c2c207-33ae-4979-979c-e1a614d228a5}</key>
		<dict>
			<key>x1</key>
			<string>100.447</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>100.447</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{7d8b1639-85d9-4cb2-8c60-80eb5f0d60e1}</key>
		<dict>
			<key>x1</key>
			<string>106.333</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>106.333</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f7625e7e-f17c-446e-9191-71c0e2672087}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>341.231</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>351.461</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{bc33bbc5-8e16-4b32-baca-4731d6d3563f}</key>
		<dict>
			<key>x1</key>
			<string>77.4742</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>77.4742</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{874f2d30-685e-4384-86ef-219440a640e4}</key>
		<dict>
			<key>x1</key>
			<string>531.031</string>
			<key>y1</key>
			<string>184.971</string>
			<key>x2</key>
			<string>531.031</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{c22bacf6-6832-4fc6-9998-020e5cb963e1}</key>
		<dict>
			<key>x1</key>
			<string>502.974</string>
			<key>y1</key>
			<string>187.451</string>
			<key>x2</key>
			<string>502.974</string>
			<key>y2</key>
			<string>197.681</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{9ae4f8cf-63ac-4ef0-a37b-3ffaddc84402}</key>
		<dict>
			<key>x1</key>
			<string>474.918</string>
			<key>y1</key>
			<string>184.971</string>
			<key>x2</key>
			<string>474.918</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{022ed180-dfc2-4297-90b4-79af46c1b4df}</key>
		<dict>
			<key>x1</key>
			<string>446.861</string>
			<key>y1</key>
			<string>192.412</string>
			<key>x2</key>
			<string>446.861</string>
			<key>y2</key>
			<string>202.642</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{a51bd7c5-2c4c-4c61-b071-34f79737a4cd}</key>
		<dict>
			<key>x1</key>
			<string>416.995</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>416.995</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{014493c3-70ab-48d3-b31b-6c00205b57c0}</key>
		<dict>
			<key>x1</key>
			<string>383.571</string>
			<key>y1</key>
			<string>184.817</string>
			<key>x2</key>
			<string>383.571</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{98655faf-e01e-4dc1-a277-0a0f902b1b86}</key>
		<dict>
			<key>x1</key>
			<string>389.636</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>389.636</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{a78a796e-2771-4a70-b440-01350770809a}</key>
		<dict>
			<key>x1</key>
			<string>362.277</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>362.277</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{75250a1c-e103-4cdc-9dae-6769d25d7885}</key>
		<dict>
			<key>x1</key>
			<string>328.853</string>
			<key>y1</key>
			<string>194.738</string>
			<key>x2</key>
			<string>328.853</string>
			<key>y2</key>
			<string>205.122</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{b98d1d2f-c706-4a3e-9478-c04f26fe7650}</key>
		<dict>
			<key>x1</key>
			<string>334.918</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>334.918</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{883d6543-fbf4-4948-9a0c-48871169a61d}</key>
		<dict>
			<key>x1</key>
			<string>294.05</string>
			<key>y1</key>
			<string>184.971</string>
			<key>x2</key>
			<string>294.05</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{c3d422ed-3345-4b10-84d0-2c6641b7f9fb}</key>
		<dict>
			<key>x1</key>
			<string>265.993</string>
			<key>y1</key>
			<string>187.451</string>
			<key>x2</key>
			<string>265.993</string>
			<key>y2</key>
			<string>197.681</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{dfd55fc6-c735-4f73-8409-bab1dd8c45e8}</key>
		<dict>
			<key>x1</key>
			<string>237.937</string>
			<key>y1</key>
			<string>184.971</string>
			<key>x2</key>
			<string>237.937</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{9394b867-f9f2-4a1c-8112-0066f0cf103d}</key>
		<dict>
			<key>x1</key>
			<string>209.88</string>
			<key>y1</key>
			<string>192.412</string>
			<key>x2</key>
			<string>209.88</string>
			<key>y2</key>
			<string>202.642</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{08b564fd-7fc3-4ae6-895b-948950dfa39d}</key>
		<dict>
			<key>x1</key>
			<string>173.089</string>
			<key>y1</key>
			<string>184.971</string>
			<key>x2</key>
			<string>173.089</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{299c4b3c-b595-482b-a2b8-f09b1e02cd50}</key>
		<dict>
			<key>x1</key>
			<string>144.692</string>
			<key>y1</key>
			<string>189.932</string>
			<key>x2</key>
			<string>144.692</string>
			<key>y2</key>
			<string>200.161</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{3a111a83-722d-4300-aad1-ed258dbd49c3}</key>
		<dict>
			<key>x1</key>
			<string>150.757</string>
			<key>y1</key>
			<string>113.829</string>
			<key>x2</key>
			<string>150.757</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{d5a54402-f2de-4a28-ac38-c9e8960b70b3}</key>
		<dict>
			<key>x1</key>
			<string>116.294</string>
			<key>y1</key>
			<string>184.971</string>
			<key>x2</key>
			<string>116.294</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{0f258df2-b0f5-4270-b1ea-b04a9a356f78}</key>
		<dict>
			<key>x1</key>
			<string>87.8969</string>
			<key>y1</key>
			<string>194.892</string>
			<key>x2</key>
			<string>87.8969</string>
			<key>y2</key>
			<string>205.122</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{97a58eee-cb06-45c4-b8f6-191af20bf037}</key>
		<dict>
			<key>x1</key>
			<string>93.962</string>
			<key>y1</key>
			<string>118.789</string>
			<key>x2</key>
			<string>93.962</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
	</dict>
</dict>
</plist>