<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>541.205</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>576.784</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{4ccfd765-d7e9-4c83-96be-81aca433d9e9}</key>
		<dict>
			<key>x</key>
			<string>507.576</string>
			<key>y</key>
			<string>603.213</string>
		</dict>
		<key>{bd879fdf-0d23-4307-89f8-013f7a7a9130}</key>
		<dict>
			<key>x</key>
			<string>478.665</string>
			<key>y</key>
			<string>600.732</string>
		</dict>
		<key>{0ed8ec29-430a-4849-b5fa-2092266c25ed}</key>
		<dict>
			<key>x</key>
			<string>449.574</string>
			<key>y</key>
			<string>598.252</string>
		</dict>
		<key>{20e2071a-55f8-45e1-82b7-93ed0a5193ea}</key>
		<dict>
			<key>x</key>
			<string>447.927</string>
			<key>y</key>
			<string>563.528</string>
		</dict>
		<key>{dd3b5641-ca6d-4144-bbf9-049ddacf8d5b}</key>
		<dict>
			<key>x</key>
			<string>412.081</string>
			<key>y</key>
			<string>593.291</string>
		</dict>
		<key>{46a03784-0eeb-4a4e-9f6e-86e0b0bed30f}</key>
		<dict>
			<key>x</key>
			<string>384.518</string>
			<key>y</key>
			<string>595.772</string>
		</dict>
		<key>{e03d623a-8d6e-4391-8520-25102adbdc22}</key>
		<dict>
			<key>x</key>
			<string>384.339</string>
			<key>y</key>
			<string>561.047</string>
		</dict>
		<key>{25d61c95-7626-4cdc-992a-b7e6067089f5}</key>
		<dict>
			<key>x</key>
			<string>356.954</string>
			<key>y</key>
			<string>593.291</string>
		</dict>
		<key>{83a324ab-e3b3-46e5-9d5a-c95e36a9abdf}</key>
		<dict>
			<key>x</key>
			<string>329.211</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{174b23db-3313-4cc1-a82d-a407c0752dd4}</key>
		<dict>
			<key>x</key>
			<string>288.54</string>
			<key>y</key>
			<string>593.291</string>
		</dict>
		<key>{8974b112-4908-4b5e-a99e-ce896e67c684}</key>
		<dict>
			<key>x</key>
			<string>257.798</string>
			<key>y</key>
			<string>598.252</string>
		</dict>
		<key>{30aadd58-3368-450a-8bc5-d91028dae0c7}</key>
		<dict>
			<key>x</key>
			<string>227.056</string>
			<key>y</key>
			<string>600.732</string>
		</dict>
		<key>{0d2a6e71-0566-49ca-bcc6-e1d6ca791366}</key>
		<dict>
			<key>x</key>
			<string>196.313</string>
			<key>y</key>
			<string>603.213</string>
		</dict>
		<key>{45d7375e-bfeb-4569-be25-ed2c354dea40}</key>
		<dict>
			<key>x</key>
			<string>160.063</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{7b74e411-d521-4ba3-9537-c6b6d013540e}</key>
		<dict>
			<key>x</key>
			<string>130.56</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{3adb14da-5b7a-42d0-a6e3-09b9cb691902}</key>
		<dict>
			<key>x</key>
			<string>101.056</string>
			<key>y</key>
			<string>561.047</string>
		</dict>
		<key>{0d2aa3f9-d5db-4780-929e-dfade2235eb4}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>563.528</string>
		</dict>
		<key>{e85f5d55-889c-4279-8b63-958177bd0de3}</key>
		<dict>
			<key>x</key>
			<string>531.108</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{c05c9ed6-c914-4b79-b9b5-aed5613da403}</key>
		<dict>
			<key>x</key>
			<string>503.452</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{d04d47c0-1d58-4f06-9a25-af5c5ce539ff}</key>
		<dict>
			<key>x</key>
			<string>475.795</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{4578b82c-6f0e-4c50-b419-d995f0e3e48f}</key>
		<dict>
			<key>x</key>
			<string>448.138</string>
			<key>y</key>
			<string>454.394</string>
		</dict>
		<key>{3ea6bdc7-88c1-46f9-ae29-1ca058fa7416}</key>
		<dict>
			<key>x</key>
			<string>446.491</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{b0dee9a0-1f88-4fd3-b59d-d7741e180905}</key>
		<dict>
			<key>x</key>
			<string>409.809</string>
			<key>y</key>
			<string>407.268</string>
		</dict>
		<key>{42e0a5ce-a0a0-4424-9fab-0a0fa4e5cc48}</key>
		<dict>
			<key>x</key>
			<string>379.695</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{627aa79e-d96c-4c95-a285-48a324927fbf}</key>
		<dict>
			<key>x</key>
			<string>379.874</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{91d96e2a-d9df-4781-a7f3-697de31e97ab}</key>
		<dict>
			<key>x</key>
			<string>349.939</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{6570024e-647e-47d1-9d4e-2d9159908af7}</key>
		<dict>
			<key>x</key>
			<string>319.824</string>
			<key>y</key>
			<string>456.874</string>
		</dict>
		<key>{26e117dd-e7bb-4419-b0bc-6b39bb943f0e}</key>
		<dict>
			<key>x</key>
			<string>320.003</string>
			<key>y</key>
			<string>417.189</string>
		</dict>
		<key>{e583088d-d97e-44b6-96e4-2ce36d1135b4}</key>
		<dict>
			<key>x</key>
			<string>285.421</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{cfa82f1a-4918-4484-b2ea-d157bad5dc68}</key>
		<dict>
			<key>x</key>
			<string>257.765</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{ccd3d975-d326-4a77-b314-e66347efcd74}</key>
		<dict>
			<key>x</key>
			<string>230.108</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{691f8c97-4c5b-4233-b1ba-29ba8d10274b}</key>
		<dict>
			<key>x</key>
			<string>202.451</string>
			<key>y</key>
			<string>454.394</string>
		</dict>
		<key>{84330a78-ee0a-46f4-85d1-2698e44decfb}</key>
		<dict>
			<key>x</key>
			<string>200.804</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{641d9013-c8a2-4d89-82ef-c2733ef0d36f}</key>
		<dict>
			<key>x</key>
			<string>165.316</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{4ef176ea-24dc-4a03-8293-e9dbc0b6b196}</key>
		<dict>
			<key>x</key>
			<string>136.575</string>
			<key>y</key>
			<string>451.913</string>
		</dict>
		<key>{a75e967f-ab07-433d-b532-987e9884d823}</key>
		<dict>
			<key>x</key>
			<string>136.396</string>
			<key>y</key>
			<string>407.268</string>
		</dict>
		<key>{d97f94a8-8dd1-490d-91e3-63b913f77525}</key>
		<dict>
			<key>x</key>
			<string>107.833</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{0432ae77-0f67-4524-a70e-cc4103ac1982}</key>
		<dict>
			<key>x</key>
			<string>79.0918</string>
			<key>y</key>
			<string>456.874</string>
		</dict>
		<key>{c789b12a-986c-48c1-a7bd-8ae8597593e0}</key>
		<dict>
			<key>x</key>
			<string>78.9127</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{b7139063-e0ad-4a0a-8de1-2a325593dffe}</key>
		<dict>
			<key>x</key>
			<string>530.637</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{3189458b-ff9e-4abe-b7b9-9bc78ea6387a}</key>
		<dict>
			<key>x</key>
			<string>502.509</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{39c379d3-3960-4410-b9e3-5d61d65e732f}</key>
		<dict>
			<key>x</key>
			<string>474.381</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{b17e8ed1-89b0-476e-9e05-616e21908a93}</key>
		<dict>
			<key>x</key>
			<string>446.254</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{761ff396-82f6-450b-8e43-4a0f864644b6}</key>
		<dict>
			<key>x</key>
			<string>444.606</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{f8b20e51-036f-4406-81f5-d09fe165ff02}</key>
		<dict>
			<key>x</key>
			<string>409.365</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{abc616c6-3409-405b-8705-e0ae23d95c60}</key>
		<dict>
			<key>x</key>
			<string>380.87</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{db634568-2f22-416d-82f2-3e91c93ac857}</key>
		<dict>
			<key>x</key>
			<string>380.691</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{57ea2b92-1d7e-4c9d-9b55-1e3aa43e60b1}</key>
		<dict>
			<key>x</key>
			<string>352.376</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{3bb9fdaf-1e89-49bf-9638-63e5254ee7ba}</key>
		<dict>
			<key>x</key>
			<string>323.881</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{40497347-ff13-42f2-8af3-8387d8b808e6}</key>
		<dict>
			<key>x</key>
			<string>323.702</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{adbd03c3-67f3-490f-b17a-c95fb9ae6fa0}</key>
		<dict>
			<key>x</key>
			<string>287.3</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{109331a9-6aae-4370-a12d-8f895c404eb4}</key>
		<dict>
			<key>x</key>
			<string>287.3</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{ce25bac7-8b14-486c-9721-1acbecc922a6}</key>
		<dict>
			<key>x</key>
			<string>257.644</string>
			<key>y</key>
			<string>305.575</string>
		</dict>
		<key>{415e80b0-0f78-4a39-9831-c0881fb4fb0d}</key>
		<dict>
			<key>x</key>
			<string>257.644</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{165c1f87-c08a-467c-89af-bf11aae8c975}</key>
		<dict>
			<key>x</key>
			<string>227.988</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{0a4ee727-3bd6-4236-8354-6e7205d426b8}</key>
		<dict>
			<key>x</key>
			<string>227.988</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{923a8aaf-6d62-4677-8e56-a6576469b200}</key>
		<dict>
			<key>x</key>
			<string>198.332</string>
			<key>y</key>
			<string>310.535</string>
		</dict>
		<key>{c5c0dac2-b09d-4ba1-a2e5-43cc8d6aa419}</key>
		<dict>
			<key>x</key>
			<string>198.332</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{e73356e4-9947-44d3-b1dc-838ac262f644}</key>
		<dict>
			<key>x</key>
			<string>159.191</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{9dd900a0-e5ce-46e2-9b89-8525e103b018}</key>
		<dict>
			<key>x</key>
			<string>159.191</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{2c99a748-d563-4dd1-9155-e846b138d567}</key>
		<dict>
			<key>x</key>
			<string>129.978</string>
			<key>y</key>
			<string>305.575</string>
		</dict>
		<key>{dca5be0e-59f4-4a99-9f75-6fc02095ff93}</key>
		<dict>
			<key>x</key>
			<string>129.978</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{6c4ebf53-d3f9-4238-b24e-48095aa9e3aa}</key>
		<dict>
			<key>x</key>
			<string>100.765</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{e933efde-7ac1-42d8-8ec8-54483475ce51}</key>
		<dict>
			<key>x</key>
			<string>100.765</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{3b542744-0257-4da6-abe2-1ae7df4f2fce}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>310.535</string>
		</dict>
		<key>{a4a5677b-00f4-498a-b277-177ca78c5b6a}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{aabafea8-c278-4453-b1ee-7d44e00b0fd2}</key>
		<dict>
			<key>x</key>
			<string>531.656</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{6d25e918-ea61-48f3-aabc-9eef807d99df}</key>
		<dict>
			<key>x</key>
			<string>504.548</string>
			<key>y</key>
			<string>156.756</string>
		</dict>
		<key>{19a87422-9de3-4ff3-b11d-63a12516ad4d}</key>
		<dict>
			<key>x</key>
			<string>477.439</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{32758e66-9e4b-413e-bf7e-f31ff6010e44}</key>
		<dict>
			<key>x</key>
			<string>450.331</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{f9773e27-71e5-4847-92d8-3ef5c9e9eb50}</key>
		<dict>
			<key>x</key>
			<string>448.684</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{8647731e-a4a0-4dc3-aebb-29b2e3c1e0ae}</key>
		<dict>
			<key>x</key>
			<string>412.55</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{d139506e-fd52-4250-9007-7cf9d2ad713c}</key>
		<dict>
			<key>x</key>
			<string>382.984</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{aad15a14-a2bf-406d-88f0-f81193e8fe9d}</key>
		<dict>
			<key>x</key>
			<string>383.163</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{4c46e4dd-3546-4336-8442-321286ee1fb4}</key>
		<dict>
			<key>x</key>
			<string>353.775</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{5be34c07-4cd0-4f6d-a418-27cff628efee}</key>
		<dict>
			<key>x</key>
			<string>324.209</string>
			<key>y</key>
			<string>164.197</string>
		</dict>
		<key>{1869abb8-8163-47ef-8485-35a3b1477a91}</key>
		<dict>
			<key>x</key>
			<string>324.388</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{6e319bda-bfd2-4db4-8e94-17304a0f1a05}</key>
		<dict>
			<key>x</key>
			<string>290.354</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{d0e66a76-9770-43c9-8a42-b5435c77249f}</key>
		<dict>
			<key>x</key>
			<string>263.246</string>
			<key>y</key>
			<string>156.756</string>
		</dict>
		<key>{dca679a2-b556-4b30-87ea-7105f6ee0908}</key>
		<dict>
			<key>x</key>
			<string>236.137</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{8bb13cae-c8b0-46c0-a984-0940fbe0f551}</key>
		<dict>
			<key>x</key>
			<string>209.029</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{0bc0d5e0-1857-4298-843d-aa8e35e3411c}</key>
		<dict>
			<key>x</key>
			<string>207.382</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{6163742b-e173-4ac2-9a86-631c23aeb86b}</key>
		<dict>
			<key>x</key>
			<string>172.442</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{eb79f4d2-b38c-4874-83cd-ac2b31d7ed7d}</key>
		<dict>
			<key>x</key>
			<string>144.248</string>
			<key>y</key>
			<string>159.236</string>
		</dict>
		<key>{a9ce1745-af95-4b1b-8fa5-2dbd8caeb570}</key>
		<dict>
			<key>x</key>
			<string>144.069</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{798181a6-8f98-481e-9a79-d42b0b3448d2}</key>
		<dict>
			<key>x</key>
			<string>116.055</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{6a36f2ee-8c07-4cd4-9ddd-8ab98171f032}</key>
		<dict>
			<key>x</key>
			<string>87.8612</string>
			<key>y</key>
			<string>164.197</string>
		</dict>
		<key>{7c0081d7-21ef-41eb-918c-6297974aa5cf}</key>
		<dict>
			<key>x</key>
			<string>87.6822</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{4ccfd765-d7e9-4c83-96be-81aca433d9e9}</key>
		<dict>
			<key>x1</key>
			<string>507.899</string>
			<key>y1</key>
			<string>603.99</string>
			<key>x2</key>
			<string>507.899</string>
			<key>y2</key>
			<string>618.715</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{bd879fdf-0d23-4307-89f8-013f7a7a9130}</key>
		<dict>
			<key>x1</key>
			<string>478.987</string>
			<key>y1</key>
			<string>601.664</string>
			<key>x2</key>
			<string>478.987</string>
			<key>y2</key>
			<string>616.854</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{0ed8ec29-430a-4849-b5fa-2092266c25ed}</key>
		<dict>
			<key>x1</key>
			<string>449.897</string>
			<key>y1</key>
			<string>599.184</string>
			<key>x2</key>
			<string>449.897</string>
			<key>y2</key>
			<string>614.994</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{dd3b5641-ca6d-4144-bbf9-049ddacf8d5b}</key>
		<dict>
			<key>x1</key>
			<string>412.404</string>
			<key>y1</key>
			<string>594.223</string>
			<key>x2</key>
			<string>412.404</string>
			<key>y2</key>
			<string>610.654</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{46a03784-0eeb-4a4e-9f6e-86e0b0bed30f}</key>
		<dict>
			<key>x1</key>
			<string>384.84</string>
			<key>y1</key>
			<string>596.703</string>
			<key>x2</key>
			<string>384.84</string>
			<key>y2</key>
			<string>613.134</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{e03d623a-8d6e-4391-8520-25102adbdc22}</key>
		<dict>
			<key>x1</key>
			<string>390.905</string>
			<key>y1</key>
			<string>560.285</string>
			<key>x2</key>
			<string>390.905</string>
			<key>y2</key>
			<string>543.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{25d61c95-7626-4cdc-992a-b7e6067089f5}</key>
		<dict>
			<key>x1</key>
			<string>357.276</string>
			<key>y1</key>
			<string>594.223</string>
			<key>x2</key>
			<string>357.276</string>
			<key>y2</key>
			<string>610.654</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{83a324ab-e3b3-46e5-9d5a-c95e36a9abdf}</key>
		<dict>
			<key>x1</key>
			<string>335.778</string>
			<key>y1</key>
			<string>557.805</string>
			<key>x2</key>
			<string>335.778</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{174b23db-3313-4cc1-a82d-a407c0752dd4}</key>
		<dict>
			<key>x1</key>
			<string>288.862</string>
			<key>y1</key>
			<string>594.223</string>
			<key>x2</key>
			<string>288.862</string>
			<key>y2</key>
			<string>610.654</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{8974b112-4908-4b5e-a99e-ce896e67c684}</key>
		<dict>
			<key>x1</key>
			<string>258.12</string>
			<key>y1</key>
			<string>599.184</string>
			<key>x2</key>
			<string>258.12</string>
			<key>y2</key>
			<string>614.994</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{30aadd58-3368-450a-8bc5-d91028dae0c7}</key>
		<dict>
			<key>x1</key>
			<string>227.378</string>
			<key>y1</key>
			<string>601.664</string>
			<key>x2</key>
			<string>227.378</string>
			<key>y2</key>
			<string>616.854</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{0d2a6e71-0566-49ca-bcc6-e1d6ca791366}</key>
		<dict>
			<key>x1</key>
			<string>196.636</string>
			<key>y1</key>
			<string>604.144</string>
			<key>x2</key>
			<string>196.636</string>
			<key>y2</key>
			<string>618.715</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{45d7375e-bfeb-4569-be25-ed2c354dea40}</key>
		<dict>
			<key>x1</key>
			<string>166.272</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>166.272</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{7b74e411-d521-4ba3-9537-c6b6d013540e}</key>
		<dict>
			<key>x1</key>
			<string>136.768</string>
			<key>y1</key>
			<string>557.635</string>
			<key>x2</key>
			<string>136.768</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3adb14da-5b7a-42d0-a6e3-09b9cb691902}</key>
		<dict>
			<key>x1</key>
			<string>107.265</string>
			<key>y1</key>
			<string>560.116</string>
			<key>x2</key>
			<string>107.265</string>
			<key>y2</key>
			<string>543.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{0d2aa3f9-d5db-4780-929e-dfade2235eb4}</key>
		<dict>
			<key>x1</key>
			<string>77.7609</string>
			<key>y1</key>
			<string>562.596</string>
			<key>x2</key>
			<string>77.7609</string>
			<key>y2</key>
			<string>546.165</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e85f5d55-889c-4279-8b63-958177bd0de3}</key>
		<dict>
			<key>x1</key>
			<string>531.431</string>
			<key>y1</key>
			<string>447.884</string>
			<key>x2</key>
			<string>531.431</string>
			<key>y2</key>
			<string>464.315</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{c05c9ed6-c914-4b79-b9b5-aed5613da403}</key>
		<dict>
			<key>x1</key>
			<string>503.774</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>503.774</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{d04d47c0-1d58-4f06-9a25-af5c5ce539ff}</key>
		<dict>
			<key>x1</key>
			<string>476.117</string>
			<key>y1</key>
			<string>447.884</string>
			<key>x2</key>
			<string>476.117</string>
			<key>y2</key>
			<string>464.315</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{4578b82c-6f0e-4c50-b419-d995f0e3e48f}</key>
		<dict>
			<key>x1</key>
			<string>448.461</string>
			<key>y1</key>
			<string>455.325</string>
			<key>x2</key>
			<string>448.461</string>
			<key>y2</key>
			<string>470.516</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{b0dee9a0-1f88-4fd3-b59d-d7741e180905}</key>
		<dict>
			<key>x1</key>
			<string>416.018</string>
			<key>y1</key>
			<string>406.336</string>
			<key>x2</key>
			<string>416.018</string>
			<key>y2</key>
			<string>391.146</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{42e0a5ce-a0a0-4424-9fab-0a0fa4e5cc48}</key>
		<dict>
			<key>x1</key>
			<string>380.017</string>
			<key>y1</key>
			<string>447.731</string>
			<key>x2</key>
			<string>380.017</string>
			<key>y2</key>
			<string>464.315</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{627aa79e-d96c-4c95-a285-48a324927fbf}</key>
		<dict>
			<key>x1</key>
			<string>386.083</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>386.083</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{91d96e2a-d9df-4781-a7f3-697de31e97ab}</key>
		<dict>
			<key>x1</key>
			<string>356.147</string>
			<key>y1</key>
			<string>413.777</string>
			<key>x2</key>
			<string>356.147</string>
			<key>y2</key>
			<string>397.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{6570024e-647e-47d1-9d4e-2d9159908af7}</key>
		<dict>
			<key>x1</key>
			<string>320.147</string>
			<key>y1</key>
			<string>457.652</string>
			<key>x2</key>
			<string>320.147</string>
			<key>y2</key>
			<string>472.376</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{26e117dd-e7bb-4419-b0bc-6b39bb943f0e}</key>
		<dict>
			<key>x1</key>
			<string>326.212</string>
			<key>y1</key>
			<string>416.257</string>
			<key>x2</key>
			<string>326.212</string>
			<key>y2</key>
			<string>399.827</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e583088d-d97e-44b6-96e4-2ce36d1135b4}</key>
		<dict>
			<key>x1</key>
			<string>285.744</string>
			<key>y1</key>
			<string>447.884</string>
			<key>x2</key>
			<string>285.744</string>
			<key>y2</key>
			<string>464.315</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{cfa82f1a-4918-4484-b2ea-d157bad5dc68}</key>
		<dict>
			<key>x1</key>
			<string>258.087</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>258.087</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{ccd3d975-d326-4a77-b314-e66347efcd74}</key>
		<dict>
			<key>x1</key>
			<string>230.431</string>
			<key>y1</key>
			<string>447.884</string>
			<key>x2</key>
			<string>230.431</string>
			<key>y2</key>
			<string>464.315</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{691f8c97-4c5b-4233-b1ba-29ba8d10274b}</key>
		<dict>
			<key>x1</key>
			<string>202.774</string>
			<key>y1</key>
			<string>455.325</string>
			<key>x2</key>
			<string>202.774</string>
			<key>y2</key>
			<string>470.516</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{641d9013-c8a2-4d89-82ef-c2733ef0d36f}</key>
		<dict>
			<key>x1</key>
			<string>165.639</string>
			<key>y1</key>
			<string>447.884</string>
			<key>x2</key>
			<string>165.639</string>
			<key>y2</key>
			<string>464.315</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{4ef176ea-24dc-4a03-8293-e9dbc0b6b196}</key>
		<dict>
			<key>x1</key>
			<string>136.897</string>
			<key>y1</key>
			<string>452.845</string>
			<key>x2</key>
			<string>136.897</string>
			<key>y2</key>
			<string>468.656</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{a75e967f-ab07-433d-b532-987e9884d823}</key>
		<dict>
			<key>x1</key>
			<string>142.962</string>
			<key>y1</key>
			<string>406.506</string>
			<key>x2</key>
			<string>142.962</string>
			<key>y2</key>
			<string>391.146</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{d97f94a8-8dd1-490d-91e3-63b913f77525}</key>
		<dict>
			<key>x1</key>
			<string>108.156</string>
			<key>y1</key>
			<string>447.884</string>
			<key>x2</key>
			<string>108.156</string>
			<key>y2</key>
			<string>464.315</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{0432ae77-0f67-4524-a70e-cc4103ac1982}</key>
		<dict>
			<key>x1</key>
			<string>79.4142</string>
			<key>y1</key>
			<string>457.806</string>
			<key>x2</key>
			<string>79.4142</string>
			<key>y2</key>
			<string>472.376</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{c789b12a-986c-48c1-a7bd-8ae8597593e0}</key>
		<dict>
			<key>x1</key>
			<string>85.4794</string>
			<key>y1</key>
			<string>411.466</string>
			<key>x2</key>
			<string>85.4794</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b7139063-e0ad-4a0a-8de1-2a325593dffe}</key>
		<dict>
			<key>x1</key>
			<string>530.959</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>530.959</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{3189458b-ff9e-4abe-b7b9-9bc78ea6387a}</key>
		<dict>
			<key>x1</key>
			<string>502.832</string>
			<key>y1</key>
			<string>304.026</string>
			<key>x2</key>
			<string>502.832</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{39c379d3-3960-4410-b9e3-5d61d65e732f}</key>
		<dict>
			<key>x1</key>
			<string>474.704</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>474.704</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{b17e8ed1-89b0-476e-9e05-616e21908a93}</key>
		<dict>
			<key>x1</key>
			<string>446.576</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>446.576</string>
			<key>y2</key>
			<string>324.177</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{f8b20e51-036f-4406-81f5-d09fe165ff02}</key>
		<dict>
			<key>x1</key>
			<string>409.688</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>409.688</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{abc616c6-3409-405b-8705-e0ae23d95c60}</key>
		<dict>
			<key>x1</key>
			<string>381.193</string>
			<key>y1</key>
			<string>304.026</string>
			<key>x2</key>
			<string>381.193</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{db634568-2f22-416d-82f2-3e91c93ac857}</key>
		<dict>
			<key>x1</key>
			<string>387.258</string>
			<key>y1</key>
			<string>260.167</string>
			<key>x2</key>
			<string>387.258</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{57ea2b92-1d7e-4c9d-9b55-1e3aa43e60b1}</key>
		<dict>
			<key>x1</key>
			<string>352.698</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>352.698</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{3bb9fdaf-1e89-49bf-9638-63e5254ee7ba}</key>
		<dict>
			<key>x1</key>
			<string>324.203</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>324.203</string>
			<key>y2</key>
			<string>324.177</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{40497347-ff13-42f2-8af3-8387d8b808e6}</key>
		<dict>
			<key>x1</key>
			<string>330.268</string>
			<key>y1</key>
			<string>267.608</string>
			<key>x2</key>
			<string>330.268</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{adbd03c3-67f3-490f-b17a-c95fb9ae6fa0}</key>
		<dict>
			<key>x1</key>
			<string>287.622</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>287.622</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{109331a9-6aae-4370-a12d-8f895c404eb4}</key>
		<dict>
			<key>x1</key>
			<string>293.508</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>293.508</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ce25bac7-8b14-486c-9721-1acbecc922a6}</key>
		<dict>
			<key>x1</key>
			<string>257.966</string>
			<key>y1</key>
			<string>306.506</string>
			<key>x2</key>
			<string>257.966</string>
			<key>y2</key>
			<string>322.317</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{415e80b0-0f78-4a39-9831-c0881fb4fb0d}</key>
		<dict>
			<key>x1</key>
			<string>263.852</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>263.852</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{165c1f87-c08a-467c-89af-bf11aae8c975}</key>
		<dict>
			<key>x1</key>
			<string>228.311</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>228.311</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{0a4ee727-3bd6-4236-8354-6e7205d426b8}</key>
		<dict>
			<key>x1</key>
			<string>234.197</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>234.197</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{923a8aaf-6d62-4677-8e56-a6576469b200}</key>
		<dict>
			<key>x1</key>
			<string>198.655</string>
			<key>y1</key>
			<string>311.467</string>
			<key>x2</key>
			<string>198.655</string>
			<key>y2</key>
			<string>326.037</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{c5c0dac2-b09d-4ba1-a2e5-43cc8d6aa419}</key>
		<dict>
			<key>x1</key>
			<string>204.541</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>204.541</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e73356e4-9947-44d3-b1dc-838ac262f644}</key>
		<dict>
			<key>x1</key>
			<string>159.513</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>159.513</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{9dd900a0-e5ce-46e2-9b89-8525e103b018}</key>
		<dict>
			<key>x1</key>
			<string>165.399</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>165.399</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{2c99a748-d563-4dd1-9155-e846b138d567}</key>
		<dict>
			<key>x1</key>
			<string>130.3</string>
			<key>y1</key>
			<string>306.506</string>
			<key>x2</key>
			<string>130.3</string>
			<key>y2</key>
			<string>322.317</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{dca5be0e-59f4-4a99-9f75-6fc02095ff93}</key>
		<dict>
			<key>x1</key>
			<string>136.186</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>136.186</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{6c4ebf53-d3f9-4238-b24e-48095aa9e3aa}</key>
		<dict>
			<key>x1</key>
			<string>101.088</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>101.088</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{e933efde-7ac1-42d8-8ec8-54483475ce51}</key>
		<dict>
			<key>x1</key>
			<string>106.974</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>106.974</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3b542744-0257-4da6-abe2-1ae7df4f2fce}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>311.467</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>326.037</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{a4a5677b-00f4-498a-b277-177ca78c5b6a}</key>
		<dict>
			<key>x1</key>
			<string>77.7609</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>77.7609</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{aabafea8-c278-4453-b1ee-7d44e00b0fd2}</key>
		<dict>
			<key>x1</key>
			<string>531.979</string>
			<key>y1</key>
			<string>155.207</string>
			<key>x2</key>
			<string>531.979</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{6d25e918-ea61-48f3-aabc-9eef807d99df}</key>
		<dict>
			<key>x1</key>
			<string>504.87</string>
			<key>y1</key>
			<string>157.688</string>
			<key>x2</key>
			<string>504.87</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{19a87422-9de3-4ff3-b11d-63a12516ad4d}</key>
		<dict>
			<key>x1</key>
			<string>477.762</string>
			<key>y1</key>
			<string>155.207</string>
			<key>x2</key>
			<string>477.762</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{32758e66-9e4b-413e-bf7e-f31ff6010e44}</key>
		<dict>
			<key>x1</key>
			<string>450.653</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>450.653</string>
			<key>y2</key>
			<string>177.839</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{8647731e-a4a0-4dc3-aebb-29b2e3c1e0ae}</key>
		<dict>
			<key>x1</key>
			<string>418.758</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>418.758</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{d139506e-fd52-4250-9007-7cf9d2ad713c}</key>
		<dict>
			<key>x1</key>
			<string>383.306</string>
			<key>y1</key>
			<string>155.053</string>
			<key>x2</key>
			<string>383.306</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{aad15a14-a2bf-406d-88f0-f81193e8fe9d}</key>
		<dict>
			<key>x1</key>
			<string>389.371</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>389.371</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{4c46e4dd-3546-4336-8442-321286ee1fb4}</key>
		<dict>
			<key>x1</key>
			<string>359.984</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>359.984</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{5be34c07-4cd0-4f6d-a418-27cff628efee}</key>
		<dict>
			<key>x1</key>
			<string>324.531</string>
			<key>y1</key>
			<string>164.975</string>
			<key>x2</key>
			<string>324.531</string>
			<key>y2</key>
			<string>179.699</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{1869abb8-8163-47ef-8485-35a3b1477a91}</key>
		<dict>
			<key>x1</key>
			<string>330.597</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>330.597</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{6e319bda-bfd2-4db4-8e94-17304a0f1a05}</key>
		<dict>
			<key>x1</key>
			<string>290.677</string>
			<key>y1</key>
			<string>155.207</string>
			<key>x2</key>
			<string>290.677</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{d0e66a76-9770-43c9-8a42-b5435c77249f}</key>
		<dict>
			<key>x1</key>
			<string>263.568</string>
			<key>y1</key>
			<string>157.688</string>
			<key>x2</key>
			<string>263.568</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{dca679a2-b556-4b30-87ea-7105f6ee0908}</key>
		<dict>
			<key>x1</key>
			<string>236.46</string>
			<key>y1</key>
			<string>155.207</string>
			<key>x2</key>
			<string>236.46</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{8bb13cae-c8b0-46c0-a984-0940fbe0f551}</key>
		<dict>
			<key>x1</key>
			<string>209.351</string>
			<key>y1</key>
			<string>162.648</string>
			<key>x2</key>
			<string>209.351</string>
			<key>y2</key>
			<string>177.839</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{6163742b-e173-4ac2-9a86-631c23aeb86b}</key>
		<dict>
			<key>x1</key>
			<string>172.764</string>
			<key>y1</key>
			<string>155.207</string>
			<key>x2</key>
			<string>172.764</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{eb79f4d2-b38c-4874-83cd-ac2b31d7ed7d}</key>
		<dict>
			<key>x1</key>
			<string>144.571</string>
			<key>y1</key>
			<string>160.168</string>
			<key>x2</key>
			<string>144.571</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{a9ce1745-af95-4b1b-8fa5-2dbd8caeb570}</key>
		<dict>
			<key>x1</key>
			<string>150.636</string>
			<key>y1</key>
			<string>113.829</string>
			<key>x2</key>
			<string>150.636</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{798181a6-8f98-481e-9a79-d42b0b3448d2}</key>
		<dict>
			<key>x1</key>
			<string>116.377</string>
			<key>y1</key>
			<string>155.207</string>
			<key>x2</key>
			<string>116.377</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{6a36f2ee-8c07-4cd4-9ddd-8ab98171f032}</key>
		<dict>
			<key>x1</key>
			<string>88.1837</string>
			<key>y1</key>
			<string>165.129</string>
			<key>x2</key>
			<string>88.1837</string>
			<key>y2</key>
			<string>179.699</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{7c0081d7-21ef-41eb-918c-6297974aa5cf}</key>
		<dict>
			<key>x1</key>
			<string>94.2488</string>
			<key>y1</key>
			<string>118.789</string>
			<key>x2</key>
			<string>94.2488</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
	</dict>
</dict>
</plist>