<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>541.205</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>576.784</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{5a77a145-6447-4801-86a0-504c6a447962}</key>
		<dict>
			<key>x</key>
			<string>492.912</string>
			<key>y</key>
			<string>603.213</string>
		</dict>
		<key>{330ff8af-bcab-4f9c-b0da-aa6c2573eb68}</key>
		<dict>
			<key>x</key>
			<string>443.623</string>
			<key>y</key>
			<string>598.252</string>
		</dict>
		<key>{5082203a-1581-4ca9-b97e-2fcc4e378de6}</key>
		<dict>
			<key>x</key>
			<string>443.623</string>
			<key>y</key>
			<string>563.528</string>
		</dict>
		<key>{5b12c7ed-83cf-4c07-9064-5cc606c6c046}</key>
		<dict>
			<key>x</key>
			<string>407.044</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{a715dcb7-4f3e-4977-8c15-66ea431513ca}</key>
		<dict>
			<key>x</key>
			<string>377.033</string>
			<key>y</key>
			<string>593.291</string>
		</dict>
		<key>{ed3175ed-0185-4b7f-af73-efb1e0af0858}</key>
		<dict>
			<key>x</key>
			<string>377.212</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{8838ca32-fe72-48a7-9ae1-ac258c3bbeb6}</key>
		<dict>
			<key>x</key>
			<string>347.379</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{faf97791-2af1-4219-8c9e-70f84e54333e}</key>
		<dict>
			<key>x</key>
			<string>317.368</string>
			<key>y</key>
			<string>598.252</string>
		</dict>
		<key>{8d3846e0-8e61-498b-9c3a-1683765682fc}</key>
		<dict>
			<key>x</key>
			<string>317.547</string>
			<key>y</key>
			<string>563.528</string>
		</dict>
		<key>{67b1476a-3eff-4559-aefa-9d198e101010}</key>
		<dict>
			<key>x</key>
			<string>260.701</string>
			<key>y</key>
			<string>593.291</string>
		</dict>
		<key>{f440ed9e-b2af-47e0-b459-7329c832d7bd}</key>
		<dict>
			<key>x</key>
			<string>260.701</string>
			<key>y</key>
			<string>561.047</string>
		</dict>
		<key>{ca7300ee-8098-485f-8bbd-e9a531215a7e}</key>
		<dict>
			<key>x</key>
			<string>229.792</string>
			<key>y</key>
			<string>561.047</string>
		</dict>
		<key>{7cdb9aad-e1b6-413c-ab3f-9920e464a167}</key>
		<dict>
			<key>x</key>
			<string>198.525</string>
			<key>y</key>
			<string>600.732</string>
		</dict>
		<key>{441c62d9-e6ba-4bf4-b497-2a1f753e321a}</key>
		<dict>
			<key>x</key>
			<string>198.704</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{cd945c2b-7518-4001-abe2-83187f8c6e70}</key>
		<dict>
			<key>x</key>
			<string>143.981</string>
			<key>y</key>
			<string>593.291</string>
		</dict>
		<key>{3a06e795-5add-4b91-98bf-6bdb5d672dd5}</key>
		<dict>
			<key>x</key>
			<string>143.981</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{ec98d284-edaf-4923-865d-db8d5f3bb865}</key>
		<dict>
			<key>x</key>
			<string>114.398</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{8985f2ed-128b-4dfa-b2e6-4f4761ae9317}</key>
		<dict>
			<key>x</key>
			<string>84.4578</string>
			<key>y</key>
			<string>603.213</string>
		</dict>
		<key>{84f54f2a-811f-4aff-815a-888e8d856a50}</key>
		<dict>
			<key>x</key>
			<string>84.6368</string>
			<key>y</key>
			<string>553.606</string>
		</dict>
		<key>{24863ba0-1e8e-43b8-b81c-7b15ddcdbc23}</key>
		<dict>
			<key>x</key>
			<string>511.906</string>
			<key>y</key>
			<string>407.268</string>
		</dict>
		<key>{62b76553-53de-4b7e-9e86-2bc9df4641ea}</key>
		<dict>
			<key>x</key>
			<string>482.91</string>
			<key>y</key>
			<string>409.748</string>
		</dict>
		<key>{a5591316-d52b-4acc-9df3-d052ca746154}</key>
		<dict>
			<key>x</key>
			<string>452.088</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{82cb076a-910b-4539-9ad7-cbe699fa0784}</key>
		<dict>
			<key>x</key>
			<string>452.088</string>
			<key>y</key>
			<string>456.874</string>
		</dict>
		<key>{20e10049-691a-4a0d-a9ad-2bd68e97ef52}</key>
		<dict>
			<key>x</key>
			<string>453.735</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{0ea336cd-5c42-4c34-9935-95c2caf445f7}</key>
		<dict>
			<key>x</key>
			<string>417.231</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{7c297dc3-8638-41c7-b2ad-83efd0fa4a3c}</key>
		<dict>
			<key>x</key>
			<string>389.12</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{3457839e-c498-4180-b2b0-c0a2653d39c9}</key>
		<dict>
			<key>x</key>
			<string>361.009</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{0d3f208b-07bf-456f-9c84-52bbd0181dee}</key>
		<dict>
			<key>x</key>
			<string>331.251</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{c7d5ff75-6102-4577-94c2-967a8a9c7e3d}</key>
		<dict>
			<key>x</key>
			<string>331.251</string>
			<key>y</key>
			<string>456.874</string>
		</dict>
		<key>{6f2c3489-4e9c-4226-bb4a-84ed83a5e51e}</key>
		<dict>
			<key>x</key>
			<string>332.898</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{a8ab1200-ff65-436a-9ded-374c22ac70e8}</key>
		<dict>
			<key>x</key>
			<string>278.766</string>
			<key>y</key>
			<string>409.748</string>
		</dict>
		<key>{f46afc48-c230-428c-9fcd-3ecd62dd7fd4}</key>
		<dict>
			<key>x</key>
			<string>250.47</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{3cb8c8ae-ee78-4720-8897-fa0704cdf618}</key>
		<dict>
			<key>x</key>
			<string>220.348</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{768f69f8-9115-4e95-a46c-f6ab4bb6b4cc}</key>
		<dict>
			<key>x</key>
			<string>211.167</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{cc8ac943-3eab-469e-882b-2bee84e0fef4}</key>
		<dict>
			<key>x</key>
			<string>221.995</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{14a52a87-9481-44a8-a80a-b7d170eec34c}</key>
		<dict>
			<key>x</key>
			<string>177.137</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{3ef664d3-eb2c-412c-ad6a-795190b86a91}</key>
		<dict>
			<key>x</key>
			<string>149.853</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{ee0fd4d1-87ef-4ea0-8e22-a23d69f0c832}</key>
		<dict>
			<key>x</key>
			<string>122.569</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{4e8f8fc5-94f6-493f-8933-41a1073eab6f}</key>
		<dict>
			<key>x</key>
			<string>93.6381</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{e1c61e35-ffbd-4ec7-975d-e5d284319ad9}</key>
		<dict>
			<key>x</key>
			<string>84.4578</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{9c28d025-4ba3-44f6-a7f2-222e594f3b80}</key>
		<dict>
			<key>x</key>
			<string>95.2851</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{5f4fb82e-9d2d-4337-92d8-a340b9832c8f}</key>
		<dict>
			<key>x</key>
			<string>496.757</string>
			<key>y</key>
			<string>310.535</string>
		</dict>
		<key>{311974f1-bccc-4b28-a1be-68b5a48544cb}</key>
		<dict>
			<key>x</key>
			<string>446.972</string>
			<key>y</key>
			<string>305.575</string>
		</dict>
		<key>{82eeecd6-04f3-4a79-b469-514f5a3763f8}</key>
		<dict>
			<key>x</key>
			<string>446.972</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{cf608cce-4be8-403e-9a77-5f89ea5ea337}</key>
		<dict>
			<key>x</key>
			<string>410.114</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{5332653e-0a67-473d-87f2-1e50fb56479a}</key>
		<dict>
			<key>x</key>
			<string>379.823</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{9b8df388-5784-406b-9c79-0580793936a8}</key>
		<dict>
			<key>x</key>
			<string>380.002</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{155680a1-2cfc-468b-91ce-6364f30bb5d9}</key>
		<dict>
			<key>x</key>
			<string>349.891</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{b4127c49-bdd9-4846-afa1-633dc17c6a72}</key>
		<dict>
			<key>x</key>
			<string>319.6</string>
			<key>y</key>
			<string>305.575</string>
		</dict>
		<key>{0c6a45bd-7556-42b3-b68d-6ef3044e35c0}</key>
		<dict>
			<key>x</key>
			<string>319.779</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{d0a158ce-53ac-4dbb-beff-254d61aa6979}</key>
		<dict>
			<key>x</key>
			<string>262.437</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{9f5d530b-904b-414c-a263-029f9e8a69f1}</key>
		<dict>
			<key>x</key>
			<string>262.437</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{8ccf8970-c191-4b3b-bd62-df492c1520e5}</key>
		<dict>
			<key>x</key>
			<string>231.218</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{dfbc7dde-8a7d-4294-8536-3563b6fdf21b}</key>
		<dict>
			<key>x</key>
			<string>199.641</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{3d1b14f5-8815-477a-ac0c-4538dda2b863}</key>
		<dict>
			<key>x</key>
			<string>199.82</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{4b737d8e-ca12-4e89-ab96-6b4ef4d83811}</key>
		<dict>
			<key>x</key>
			<string>144.601</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{172591db-d3e2-488a-ae3c-16d7124c8e06}</key>
		<dict>
			<key>x</key>
			<string>144.601</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{e9fba8e6-5a60-4fd0-b6a6-1dee373147b7}</key>
		<dict>
			<key>x</key>
			<string>114.708</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{71113a28-625d-4902-940d-903bf8d324a8}</key>
		<dict>
			<key>x</key>
			<string>84.4578</string>
			<key>y</key>
			<string>310.535</string>
		</dict>
		<key>{ce0e2769-da4e-41e8-bc87-4d4630328ac0}</key>
		<dict>
			<key>x</key>
			<string>84.6368</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{5dd2e2bb-394e-4bd8-906e-5591fc31a5cd}</key>
		<dict>
			<key>x</key>
			<string>509.669</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{410c169e-257c-4fee-9963-872bc0c89627}</key>
		<dict>
			<key>x</key>
			<string>509.669</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{7d405622-9227-40b5-99c4-16ce1f8d4b88}</key>
		<dict>
			<key>x</key>
			<string>479.276</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{db39a1bc-33a6-43d5-84d8-31c8e4d2c652}</key>
		<dict>
			<key>x</key>
			<string>448.524</string>
			<key>y</key>
			<string>159.236</string>
		</dict>
		<key>{cde6529a-ec55-45ae-9184-264d85c540bc}</key>
		<dict>
			<key>x</key>
			<string>448.703</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{885021aa-7d2f-470b-bbe2-86742a3ceac1}</key>
		<dict>
			<key>x</key>
			<string>412.409</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{4b894fa0-56d0-4df6-9742-2ab571534232}</key>
		<dict>
			<key>x</key>
			<string>382.861</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{29b088a2-cba5-46f8-a7ff-2a8f0aea6e1c}</key>
		<dict>
			<key>x</key>
			<string>383.04</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{45b2f483-7d70-4dd8-b584-cc60197fa6da}</key>
		<dict>
			<key>x</key>
			<string>353.672</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{ae85761c-bc28-4bc7-a5fb-cacc9cbd9b25}</key>
		<dict>
			<key>x</key>
			<string>324.124</string>
			<key>y</key>
			<string>159.236</string>
		</dict>
		<key>{30b6c21d-7210-4dd7-aadf-b34aa68e1118}</key>
		<dict>
			<key>x</key>
			<string>324.303</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{6dfd16c8-095a-432a-9c24-7b59d9c9e9d1}</key>
		<dict>
			<key>x</key>
			<string>268.282</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{a70b10b4-2d8d-4422-92aa-af4cd1a5a78d}</key>
		<dict>
			<key>x</key>
			<string>268.282</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{6cace4b1-5db9-4960-a9e6-cd01387ea504}</key>
		<dict>
			<key>x</key>
			<string>237.888</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{8910ed68-6c5a-4764-b72d-bfc8a29127b1}</key>
		<dict>
			<key>x</key>
			<string>207.137</string>
			<key>y</key>
			<string>161.717</string>
		</dict>
		<key>{b37b6713-3eeb-4a6e-9065-42a98df72456}</key>
		<dict>
			<key>x</key>
			<string>207.316</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{2ff5e0d5-5802-4149-8b98-12581b6a4215}</key>
		<dict>
			<key>x</key>
			<string>153.417</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{ba916831-152b-467f-8a27-aa68fd9dc91e}</key>
		<dict>
			<key>x</key>
			<string>153.417</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{3853682d-bf16-4d7b-8147-e240b5ecafc3}</key>
		<dict>
			<key>x</key>
			<string>124.35</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{e900023e-48bb-430c-8d41-7b98e338ce74}</key>
		<dict>
			<key>x</key>
			<string>94.9247</string>
			<key>y</key>
			<string>164.197</string>
		</dict>
		<key>{028065a5-0d20-4402-93c5-79ee148ce62b}</key>
		<dict>
			<key>x</key>
			<string>95.1038</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{5a77a145-6447-4801-86a0-504c6a447962}</key>
		<dict>
			<key>x1</key>
			<string>493.235</string>
			<key>y1</key>
			<string>604.144</string>
			<key>x2</key>
			<string>493.235</string>
			<key>y2</key>
			<string>618.715</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{330ff8af-bcab-4f9c-b0da-aa6c2573eb68}</key>
		<dict>
			<key>x1</key>
			<string>443.946</string>
			<key>y1</key>
			<string>599.03</string>
			<key>x2</key>
			<string>443.946</string>
			<key>y2</key>
			<string>614.994</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{5082203a-1581-4ca9-b97e-2fcc4e378de6}</key>
		<dict>
			<key>x1</key>
			<string>450.19</string>
			<key>y1</key>
			<string>562.766</string>
			<key>x2</key>
			<string>450.19</string>
			<key>y2</key>
			<string>546.165</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{5b12c7ed-83cf-4c07-9064-5cc606c6c046}</key>
		<dict>
			<key>x1</key>
			<string>413.253</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>413.253</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{a715dcb7-4f3e-4977-8c15-66ea431513ca}</key>
		<dict>
			<key>x1</key>
			<string>377.355</string>
			<key>y1</key>
			<string>594.069</string>
			<key>x2</key>
			<string>377.355</string>
			<key>y2</key>
			<string>610.654</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{ed3175ed-0185-4b7f-af73-efb1e0af0858}</key>
		<dict>
			<key>x1</key>
			<string>383.42</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>383.42</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{8838ca32-fe72-48a7-9ae1-ac258c3bbeb6}</key>
		<dict>
			<key>x1</key>
			<string>353.588</string>
			<key>y1</key>
			<string>557.635</string>
			<key>x2</key>
			<string>353.588</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{faf97791-2af1-4219-8c9e-70f84e54333e}</key>
		<dict>
			<key>x1</key>
			<string>317.69</string>
			<key>y1</key>
			<string>599.03</string>
			<key>x2</key>
			<string>317.69</string>
			<key>y2</key>
			<string>614.994</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{8d3846e0-8e61-498b-9c3a-1683765682fc}</key>
		<dict>
			<key>x1</key>
			<string>323.755</string>
			<key>y1</key>
			<string>562.596</string>
			<key>x2</key>
			<string>323.755</string>
			<key>y2</key>
			<string>546.165</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{67b1476a-3eff-4559-aefa-9d198e101010}</key>
		<dict>
			<key>x1</key>
			<string>261.024</string>
			<key>y1</key>
			<string>594.069</string>
			<key>x2</key>
			<string>261.024</string>
			<key>y2</key>
			<string>610.654</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f440ed9e-b2af-47e0-b459-7329c832d7bd}</key>
		<dict>
			<key>x1</key>
			<string>267.268</string>
			<key>y1</key>
			<string>560.285</string>
			<key>x2</key>
			<string>267.268</string>
			<key>y2</key>
			<string>543.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ca7300ee-8098-485f-8bbd-e9a531215a7e}</key>
		<dict>
			<key>x1</key>
			<string>236.001</string>
			<key>y1</key>
			<string>560.116</string>
			<key>x2</key>
			<string>236.001</string>
			<key>y2</key>
			<string>543.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{7cdb9aad-e1b6-413c-ab3f-9920e464a167}</key>
		<dict>
			<key>x1</key>
			<string>198.847</string>
			<key>y1</key>
			<string>601.51</string>
			<key>x2</key>
			<string>198.847</string>
			<key>y2</key>
			<string>616.854</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{441c62d9-e6ba-4bf4-b497-2a1f753e321a}</key>
		<dict>
			<key>x1</key>
			<string>204.913</string>
			<key>y1</key>
			<string>555.155</string>
			<key>x2</key>
			<string>204.913</string>
			<key>y2</key>
			<string>539.344</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{cd945c2b-7518-4001-abe2-83187f8c6e70}</key>
		<dict>
			<key>x1</key>
			<string>144.303</string>
			<key>y1</key>
			<string>594.069</string>
			<key>x2</key>
			<string>144.303</string>
			<key>y2</key>
			<string>610.654</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{3a06e795-5add-4b91-98bf-6bdb5d672dd5}</key>
		<dict>
			<key>x1</key>
			<string>150.548</string>
			<key>y1</key>
			<string>557.805</string>
			<key>x2</key>
			<string>150.548</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ec98d284-edaf-4923-865d-db8d5f3bb865}</key>
		<dict>
			<key>x1</key>
			<string>120.607</string>
			<key>y1</key>
			<string>557.635</string>
			<key>x2</key>
			<string>120.607</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{8985f2ed-128b-4dfa-b2e6-4f4761ae9317}</key>
		<dict>
			<key>x1</key>
			<string>84.7802</string>
			<key>y1</key>
			<string>603.99</string>
			<key>x2</key>
			<string>84.7802</string>
			<key>y2</key>
			<string>618.715</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{84f54f2a-811f-4aff-815a-888e8d856a50}</key>
		<dict>
			<key>x1</key>
			<string>90.8454</string>
			<key>y1</key>
			<string>552.675</string>
			<key>x2</key>
			<string>90.8454</string>
			<key>y2</key>
			<string>537.484</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{24863ba0-1e8e-43b8-b81c-7b15ddcdbc23}</key>
		<dict>
			<key>x1</key>
			<string>518.472</string>
			<key>y1</key>
			<string>406.506</string>
			<key>x2</key>
			<string>518.472</string>
			<key>y2</key>
			<string>391.146</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{62b76553-53de-4b7e-9e86-2bc9df4641ea}</key>
		<dict>
			<key>x1</key>
			<string>489.118</string>
			<key>y1</key>
			<string>408.816</string>
			<key>x2</key>
			<string>489.118</string>
			<key>y2</key>
			<string>393.006</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{20e10049-691a-4a0d-a9ad-2bd68e97ef52}</key>
		<dict>
			<key>x1</key>
			<string>459.943</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>459.943</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{0ea336cd-5c42-4c34-9935-95c2caf445f7}</key>
		<dict>
			<key>x1</key>
			<string>423.439</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>423.439</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{7c297dc3-8638-41c7-b2ad-83efd0fa4a3c}</key>
		<dict>
			<key>x1</key>
			<string>395.328</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>395.328</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3457839e-c498-4180-b2b0-c0a2653d39c9}</key>
		<dict>
			<key>x1</key>
			<string>367.218</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>367.218</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{6f2c3489-4e9c-4226-bb4a-84ed83a5e51e}</key>
		<dict>
			<key>x1</key>
			<string>339.107</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>339.107</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{a8ab1200-ff65-436a-9ded-374c22ac70e8}</key>
		<dict>
			<key>x1</key>
			<string>285.332</string>
			<key>y1</key>
			<string>408.986</string>
			<key>x2</key>
			<string>285.332</string>
			<key>y2</key>
			<string>393.006</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{f46afc48-c230-428c-9fcd-3ecd62dd7fd4}</key>
		<dict>
			<key>x1</key>
			<string>256.678</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>256.678</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{cc8ac943-3eab-469e-882b-2bee84e0fef4}</key>
		<dict>
			<key>x1</key>
			<string>228.203</string>
			<key>y1</key>
			<string>413.777</string>
			<key>x2</key>
			<string>228.203</string>
			<key>y2</key>
			<string>397.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{14a52a87-9481-44a8-a80a-b7d170eec34c}</key>
		<dict>
			<key>x1</key>
			<string>183.345</string>
			<key>y1</key>
			<string>413.777</string>
			<key>x2</key>
			<string>183.345</string>
			<key>y2</key>
			<string>397.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3ef664d3-eb2c-412c-ad6a-795190b86a91}</key>
		<dict>
			<key>x1</key>
			<string>156.062</string>
			<key>y1</key>
			<string>413.777</string>
			<key>x2</key>
			<string>156.062</string>
			<key>y2</key>
			<string>397.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ee0fd4d1-87ef-4ea0-8e22-a23d69f0c832}</key>
		<dict>
			<key>x1</key>
			<string>128.778</string>
			<key>y1</key>
			<string>413.777</string>
			<key>x2</key>
			<string>128.778</string>
			<key>y2</key>
			<string>397.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9c28d025-4ba3-44f6-a7f2-222e594f3b80}</key>
		<dict>
			<key>x1</key>
			<string>101.494</string>
			<key>y1</key>
			<string>413.777</string>
			<key>x2</key>
			<string>101.494</string>
			<key>y2</key>
			<string>397.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{5f4fb82e-9d2d-4337-92d8-a340b9832c8f}</key>
		<dict>
			<key>x1</key>
			<string>497.079</string>
			<key>y1</key>
			<string>311.467</string>
			<key>x2</key>
			<string>497.079</string>
			<key>y2</key>
			<string>326.037</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{311974f1-bccc-4b28-a1be-68b5a48544cb}</key>
		<dict>
			<key>x1</key>
			<string>447.294</string>
			<key>y1</key>
			<string>306.353</string>
			<key>x2</key>
			<string>447.294</string>
			<key>y2</key>
			<string>322.317</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{82eeecd6-04f3-4a79-b469-514f5a3763f8}</key>
		<dict>
			<key>x1</key>
			<string>453.538</string>
			<key>y1</key>
			<string>270.088</string>
			<key>x2</key>
			<string>453.538</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{cf608cce-4be8-403e-9a77-5f89ea5ea337}</key>
		<dict>
			<key>x1</key>
			<string>416.322</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>416.322</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{5332653e-0a67-473d-87f2-1e50fb56479a}</key>
		<dict>
			<key>x1</key>
			<string>380.145</string>
			<key>y1</key>
			<string>301.392</string>
			<key>x2</key>
			<string>380.145</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{9b8df388-5784-406b-9c79-0580793936a8}</key>
		<dict>
			<key>x1</key>
			<string>386.211</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>386.211</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{155680a1-2cfc-468b-91ce-6364f30bb5d9}</key>
		<dict>
			<key>x1</key>
			<string>356.099</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>356.099</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b4127c49-bdd9-4846-afa1-633dc17c6a72}</key>
		<dict>
			<key>x1</key>
			<string>319.922</string>
			<key>y1</key>
			<string>306.353</string>
			<key>x2</key>
			<string>319.922</string>
			<key>y2</key>
			<string>322.317</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{0c6a45bd-7556-42b3-b68d-6ef3044e35c0}</key>
		<dict>
			<key>x1</key>
			<string>325.987</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>325.987</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d0a158ce-53ac-4dbb-beff-254d61aa6979}</key>
		<dict>
			<key>x1</key>
			<string>262.76</string>
			<key>y1</key>
			<string>301.392</string>
			<key>x2</key>
			<string>262.76</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{9f5d530b-904b-414c-a263-029f9e8a69f1}</key>
		<dict>
			<key>x1</key>
			<string>269.004</string>
			<key>y1</key>
			<string>267.608</string>
			<key>x2</key>
			<string>269.004</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{8ccf8970-c191-4b3b-bd62-df492c1520e5}</key>
		<dict>
			<key>x1</key>
			<string>237.427</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>237.427</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{dfbc7dde-8a7d-4294-8536-3563b6fdf21b}</key>
		<dict>
			<key>x1</key>
			<string>199.964</string>
			<key>y1</key>
			<string>308.833</string>
			<key>x2</key>
			<string>199.964</string>
			<key>y2</key>
			<string>324.177</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{3d1b14f5-8815-477a-ac0c-4538dda2b863}</key>
		<dict>
			<key>x1</key>
			<string>206.029</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>206.029</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{4b737d8e-ca12-4e89-ab96-6b4ef4d83811}</key>
		<dict>
			<key>x1</key>
			<string>144.924</string>
			<key>y1</key>
			<string>301.392</string>
			<key>x2</key>
			<string>144.924</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{172591db-d3e2-488a-ae3c-16d7124c8e06}</key>
		<dict>
			<key>x1</key>
			<string>151.168</string>
			<key>y1</key>
			<string>265.128</string>
			<key>x2</key>
			<string>151.168</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e9fba8e6-5a60-4fd0-b6a6-1dee373147b7}</key>
		<dict>
			<key>x1</key>
			<string>120.917</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>120.917</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{71113a28-625d-4902-940d-903bf8d324a8}</key>
		<dict>
			<key>x1</key>
			<string>84.7802</string>
			<key>y1</key>
			<string>311.313</string>
			<key>x2</key>
			<string>84.7802</string>
			<key>y2</key>
			<string>326.037</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{ce0e2769-da4e-41e8-bc87-4d4630328ac0}</key>
		<dict>
			<key>x1</key>
			<string>90.8454</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>90.8454</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{5dd2e2bb-394e-4bd8-906e-5591fc31a5cd}</key>
		<dict>
			<key>x1</key>
			<string>509.992</string>
			<key>y1</key>
			<string>155.053</string>
			<key>x2</key>
			<string>509.992</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{410c169e-257c-4fee-9963-872bc0c89627}</key>
		<dict>
			<key>x1</key>
			<string>516.236</string>
			<key>y1</key>
			<string>113.829</string>
			<key>x2</key>
			<string>516.236</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{7d405622-9227-40b5-99c4-16ce1f8d4b88}</key>
		<dict>
			<key>x1</key>
			<string>485.484</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>485.484</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{db39a1bc-33a6-43d5-84d8-31c8e4d2c652}</key>
		<dict>
			<key>x1</key>
			<string>448.846</string>
			<key>y1</key>
			<string>160.014</string>
			<key>x2</key>
			<string>448.846</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{cde6529a-ec55-45ae-9184-264d85c540bc}</key>
		<dict>
			<key>x1</key>
			<string>454.912</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>454.912</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{885021aa-7d2f-470b-bbe2-86742a3ceac1}</key>
		<dict>
			<key>x1</key>
			<string>418.617</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>418.617</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{4b894fa0-56d0-4df6-9742-2ab571534232}</key>
		<dict>
			<key>x1</key>
			<string>383.184</string>
			<key>y1</key>
			<string>155.053</string>
			<key>x2</key>
			<string>383.184</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{29b088a2-cba5-46f8-a7ff-2a8f0aea6e1c}</key>
		<dict>
			<key>x1</key>
			<string>389.249</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>389.249</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{45b2f483-7d70-4dd8-b584-cc60197fa6da}</key>
		<dict>
			<key>x1</key>
			<string>359.88</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>359.88</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ae85761c-bc28-4bc7-a5fb-cacc9cbd9b25}</key>
		<dict>
			<key>x1</key>
			<string>324.446</string>
			<key>y1</key>
			<string>160.014</string>
			<key>x2</key>
			<string>324.446</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{30b6c21d-7210-4dd7-aadf-b34aa68e1118}</key>
		<dict>
			<key>x1</key>
			<string>330.511</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>330.511</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{6dfd16c8-095a-432a-9c24-7b59d9c9e9d1}</key>
		<dict>
			<key>x1</key>
			<string>268.604</string>
			<key>y1</key>
			<string>155.053</string>
			<key>x2</key>
			<string>268.604</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{a70b10b4-2d8d-4422-92aa-af4cd1a5a78d}</key>
		<dict>
			<key>x1</key>
			<string>274.849</string>
			<key>y1</key>
			<string>121.27</string>
			<key>x2</key>
			<string>274.849</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{6cace4b1-5db9-4960-a9e6-cd01387ea504}</key>
		<dict>
			<key>x1</key>
			<string>244.097</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>244.097</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{8910ed68-6c5a-4764-b72d-bfc8a29127b1}</key>
		<dict>
			<key>x1</key>
			<string>207.459</string>
			<key>y1</key>
			<string>162.494</string>
			<key>x2</key>
			<string>207.459</string>
			<key>y2</key>
			<string>177.839</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{b37b6713-3eeb-4a6e-9065-42a98df72456}</key>
		<dict>
			<key>x1</key>
			<string>213.524</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>213.524</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{2ff5e0d5-5802-4149-8b98-12581b6a4215}</key>
		<dict>
			<key>x1</key>
			<string>153.74</string>
			<key>y1</key>
			<string>155.053</string>
			<key>x2</key>
			<string>153.74</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{ba916831-152b-467f-8a27-aa68fd9dc91e}</key>
		<dict>
			<key>x1</key>
			<string>159.984</string>
			<key>y1</key>
			<string>118.789</string>
			<key>x2</key>
			<string>159.984</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3853682d-bf16-4d7b-8147-e240b5ecafc3}</key>
		<dict>
			<key>x1</key>
			<string>130.559</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>130.559</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e900023e-48bb-430c-8d41-7b98e338ce74}</key>
		<dict>
			<key>x1</key>
			<string>95.2472</string>
			<key>y1</key>
			<string>164.975</string>
			<key>x2</key>
			<string>95.2472</string>
			<key>y2</key>
			<string>179.699</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{028065a5-0d20-4402-93c5-79ee148ce62b}</key>
		<dict>
			<key>x1</key>
			<string>101.312</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>101.312</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
	</dict>
</dict>
</plist>