<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>541.205</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>576.784</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{38371ac4-94e8-4320-9ac9-8e7922e140d9}</key>
		<dict>
			<key>x</key>
			<string>452.515</string>
			<key>y</key>
			<string>598.252</string>
		</dict>
		<key>{dbd839ac-6a62-4d5d-ab2c-4c7d7e046142}</key>
		<dict>
			<key>x</key>
			<string>452.515</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{a74c84c1-dc59-464d-bac3-e56be8a2111a}</key>
		<dict>
			<key>x</key>
			<string>409.62</string>
			<key>y</key>
			<string>588.331</string>
		</dict>
		<key>{a71702e1-0762-4505-847d-880ae31acc00}</key>
		<dict>
			<key>x</key>
			<string>373.471</string>
			<key>y</key>
			<string>593.291</string>
		</dict>
		<key>{08719a7e-ce8b-4c9a-826a-f0ee5477172c}</key>
		<dict>
			<key>x</key>
			<string>337.143</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{dc4a861d-b3f0-4096-82ea-81c0f18796f3}</key>
		<dict>
			<key>x</key>
			<string>288.715</string>
			<key>y</key>
			<string>588.331</string>
		</dict>
		<key>{a0cfc440-8dbe-486c-9dae-78f5271a983d}</key>
		<dict>
			<key>x</key>
			<string>282.829</string>
			<key>y</key>
			<string>590.811</string>
		</dict>
		<key>{083660c7-331b-4b80-940c-ed28cb73d5c3}</key>
		<dict>
			<key>x</key>
			<string>247.319</string>
			<key>y</key>
			<string>588.331</string>
		</dict>
		<key>{9b732f0b-0172-4e20-b9e0-f6664a92e243}</key>
		<dict>
			<key>x</key>
			<string>241.433</string>
			<key>y</key>
			<string>590.811</string>
		</dict>
		<key>{6a695155-ef22-4c6e-bd17-ef90d77fd84b}</key>
		<dict>
			<key>x</key>
			<string>205.744</string>
			<key>y</key>
			<string>548.646</string>
		</dict>
		<key>{4db7a9ea-3906-4edd-80ab-957dc1b12e73}</key>
		<dict>
			<key>x</key>
			<string>158.812</string>
			<key>y</key>
			<string>588.331</string>
		</dict>
		<key>{5a006eb8-0280-411f-98f4-8142a85b392a}</key>
		<dict>
			<key>x</key>
			<string>152.926</string>
			<key>y</key>
			<string>590.811</string>
		</dict>
		<key>{72771de3-4f02-40a3-8ae5-4513a15aee2d}</key>
		<dict>
			<key>x</key>
			<string>118.913</string>
			<key>y</key>
			<string>588.331</string>
		</dict>
		<key>{5f072b5b-8bc2-4eba-824d-8d2529dfa876}</key>
		<dict>
			<key>x</key>
			<string>113.027</string>
			<key>y</key>
			<string>590.811</string>
		</dict>
		<key>{1b27de6d-385c-4c43-b559-f9f24a4658c8}</key>
		<dict>
			<key>x</key>
			<string>78.8345</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{df75cf0f-9252-43f5-86e8-415243536c4b}</key>
		<dict>
			<key>x</key>
			<string>519.775</string>
			<key>y</key>
			<string>402.307</string>
		</dict>
		<key>{aa77fc2b-4b07-4dd0-9ea7-6dee9b8ee790}</key>
		<dict>
			<key>x</key>
			<string>480.785</string>
			<key>y</key>
			<string>407.268</string>
		</dict>
		<key>{983ca0b6-33cb-4661-b5cd-ac112e142cb6}</key>
		<dict>
			<key>x</key>
			<string>441.796</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{9adff59b-2df6-4152-aa2f-5af7fe0fb4f0}</key>
		<dict>
			<key>x</key>
			<string>396.059</string>
			<key>y</key>
			<string>441.992</string>
		</dict>
		<key>{4044ccf8-bf21-4480-ae8b-a53515c8041d}</key>
		<dict>
			<key>x</key>
			<string>357.07</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{64e545de-3bb2-4fc9-9c7c-028fd8ea317d}</key>
		<dict>
			<key>x</key>
			<string>318.08</string>
			<key>y</key>
			<string>451.913</string>
		</dict>
		<key>{7eb18448-4293-475e-aa2a-9d5b38a60d72}</key>
		<dict>
			<key>x</key>
			<string>273.067</string>
			<key>y</key>
			<string>402.307</string>
		</dict>
		<key>{5ae94a3f-6f9b-42f4-90de-4900ac6b59ad}</key>
		<dict>
			<key>x</key>
			<string>273.067</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{705c99e7-255d-4568-bf47-c5614d506617}</key>
		<dict>
			<key>x</key>
			<string>234.801</string>
			<key>y</key>
			<string>402.307</string>
		</dict>
		<key>{f2669462-1c74-4e72-a591-926530521e11}</key>
		<dict>
			<key>x</key>
			<string>234.801</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{cf87d8cd-3f92-4514-8d52-e0dcd3e3b5e6}</key>
		<dict>
			<key>x</key>
			<string>196.356</string>
			<key>y</key>
			<string>451.913</string>
		</dict>
		<key>{5eca2fa9-a7a3-4024-b461-d292cee95906}</key>
		<dict>
			<key>x</key>
			<string>152.553</string>
			<key>y</key>
			<string>402.307</string>
		</dict>
		<key>{f6491efe-0bde-4018-aef2-07dd7d66204a}</key>
		<dict>
			<key>x</key>
			<string>152.553</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{4d2627b6-3933-4796-9d79-6fd0fb5d6900}</key>
		<dict>
			<key>x</key>
			<string>115.783</string>
			<key>y</key>
			<string>402.307</string>
		</dict>
		<key>{450c7fc9-3957-41e2-b0d0-0736171be874}</key>
		<dict>
			<key>x</key>
			<string>115.783</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{d659f253-8f71-4d29-8c8d-f1c60cb1ec2b}</key>
		<dict>
			<key>x</key>
			<string>78.8345</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{f913fdf6-fc7e-4fc7-b72b-e7cf253bd48c}</key>
		<dict>
			<key>x</key>
			<string>522.398</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{60772e8f-9267-4284-b2f9-c79bd2a6462a}</key>
		<dict>
			<key>x</key>
			<string>486.032</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{7a202d44-1e99-4df2-be9d-1536e97b0b90}</key>
		<dict>
			<key>x</key>
			<string>449.666</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{2752e538-f58e-4383-9150-6896dc1bb007}</key>
		<dict>
			<key>x</key>
			<string>406.553</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{3d69baaf-43b3-47b2-8020-31dffaf8147a}</key>
		<dict>
			<key>x</key>
			<string>370.187</string>
			<key>y</key>
			<string>258.449</string>
		</dict>
		<key>{1d69ddfc-af3e-4099-9d63-94a0e4820c84}</key>
		<dict>
			<key>x</key>
			<string>333.821</string>
			<key>y</key>
			<string>255.969</string>
		</dict>
		<key>{6959238d-093f-44ea-8d97-a632b6d87dc3}</key>
		<dict>
			<key>x</key>
			<string>286.184</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{78156d61-dc25-4fbd-ae7e-48a3686a495d}</key>
		<dict>
			<key>x</key>
			<string>280.298</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{53413676-e65a-4292-b3c8-4e4d691740ed}</key>
		<dict>
			<key>x</key>
			<string>245.295</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{9b2ef2fc-3066-48d0-b8b9-02e5929bb626}</key>
		<dict>
			<key>x</key>
			<string>239.409</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{6bb5f3d7-ff43-41e1-bf6d-263faf5f15ee}</key>
		<dict>
			<key>x</key>
			<string>204.226</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{9b73c877-e85b-48f5-8c4d-aefd7a318956}</key>
		<dict>
			<key>x</key>
			<string>157.8</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{2e75da63-fa28-42e0-8cc9-b9e246d848f0}</key>
		<dict>
			<key>x</key>
			<string>151.914</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{8169db9e-fe09-43af-a2f8-f4db780ac4b0}</key>
		<dict>
			<key>x</key>
			<string>118.407</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{391ea1e9-bdb9-42c0-94f5-0690a5179185}</key>
		<dict>
			<key>x</key>
			<string>112.521</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{758118a6-56ea-4889-bfbe-c1cf548f7476}</key>
		<dict>
			<key>x</key>
			<string>78.8345</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{d70df077-8b07-40e8-84e1-eaff1c8648f4}</key>
		<dict>
			<key>x</key>
			<string>521.309</string>
			<key>y</key>
			<string>109.63</string>
		</dict>
		<key>{baca995d-c1e0-4e44-9c92-34d042c58c53}</key>
		<dict>
			<key>x</key>
			<string>483.853</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{02384eed-81a5-4eef-ad50-36cb9382383b}</key>
		<dict>
			<key>x</key>
			<string>446.397</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{66bf2139-fb3b-4132-90f3-208bc031fc55}</key>
		<dict>
			<key>x</key>
			<string>402.194</string>
			<key>y</key>
			<string>149.315</string>
		</dict>
		<key>{adf03b92-ed71-48bc-b2a3-6227609bddf2}</key>
		<dict>
			<key>x</key>
			<string>364.738</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{97e8d1bc-85fc-4b59-bfe5-a8cf87a062d4}</key>
		<dict>
			<key>x</key>
			<string>327.282</string>
			<key>y</key>
			<string>159.236</string>
		</dict>
		<key>{673a4a66-8a8d-4242-980f-bd083fc06336}</key>
		<dict>
			<key>x</key>
			<string>282.48</string>
			<key>y</key>
			<string>149.315</string>
		</dict>
		<key>{068c0d8e-83c0-439f-9adc-73e152afb13e}</key>
		<dict>
			<key>x</key>
			<string>282.48</string>
			<key>y</key>
			<string>159.236</string>
		</dict>
		<key>{d5a3e843-4bbd-44e7-b025-1bf303488ba2}</key>
		<dict>
			<key>x</key>
			<string>244.425</string>
			<key>y</key>
			<string>149.315</string>
		</dict>
		<key>{aa8bf552-dc8f-47d4-b788-85c1152be9cb}</key>
		<dict>
			<key>x</key>
			<string>244.425</string>
			<key>y</key>
			<string>159.236</string>
		</dict>
		<key>{88102159-f55b-4516-885a-443b26902835}</key>
		<dict>
			<key>x</key>
			<string>206.19</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{5001e35f-ba3a-4eca-ba97-1653ebd3cbb9}</key>
		<dict>
			<key>x</key>
			<string>162.598</string>
			<key>y</key>
			<string>149.315</string>
		</dict>
		<key>{0dbdc114-78fe-4586-a83e-fdcefba42236}</key>
		<dict>
			<key>x</key>
			<string>162.598</string>
			<key>y</key>
			<string>159.236</string>
		</dict>
		<key>{7489317f-7c41-46ab-9e17-20ac552e1bab}</key>
		<dict>
			<key>x</key>
			<string>126.039</string>
			<key>y</key>
			<string>149.315</string>
		</dict>
		<key>{05eed792-ef17-497a-b0ef-9d807e6317eb}</key>
		<dict>
			<key>x</key>
			<string>126.039</string>
			<key>y</key>
			<string>159.236</string>
		</dict>
		<key>{62f9e827-2d3f-4bed-af52-7e55ead39a46}</key>
		<dict>
			<key>x</key>
			<string>89.3014</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{38371ac4-94e8-4320-9ac9-8e7922e140d9}</key>
		<dict>
			<key>x1</key>
			<string>452.838</string>
			<key>y1</key>
			<string>599.03</string>
			<key>x2</key>
			<string>452.838</string>
			<key>y2</key>
			<string>614.994</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{dbd839ac-6a62-4d5d-ab2c-4c7d7e046142}</key>
		<dict>
			<key>x1</key>
			<string>459.082</string>
			<key>y1</key>
			<string>557.805</string>
			<key>x2</key>
			<string>459.082</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{a74c84c1-dc59-464d-bac3-e56be8a2111a}</key>
		<dict>
			<key>x1</key>
			<string>409.942</string>
			<key>y1</key>
			<string>589.262</string>
			<key>x2</key>
			<string>409.942</string>
			<key>y2</key>
			<string>605.693</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{a71702e1-0762-4505-847d-880ae31acc00}</key>
		<dict>
			<key>x1</key>
			<string>373.794</string>
			<key>y1</key>
			<string>594.223</string>
			<key>x2</key>
			<string>373.794</string>
			<key>y2</key>
			<string>610.654</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{08719a7e-ce8b-4c9a-826a-f0ee5477172c}</key>
		<dict>
			<key>x1</key>
			<string>343.71</string>
			<key>y1</key>
			<string>557.805</string>
			<key>x2</key>
			<string>343.71</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{a0cfc440-8dbe-486c-9dae-78f5271a983d}</key>
		<dict>
			<key>x1</key>
			<string>289.037</string>
			<key>y1</key>
			<string>589.262</string>
			<key>x2</key>
			<string>289.037</string>
			<key>y2</key>
			<string>608.173</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{dc4a861d-b3f0-4096-82ea-81c0f18796f3}</key>
		<dict>
			<key>x1</key>
			<string>289.037</string>
			<key>y1</key>
			<string>589.262</string>
			<key>x2</key>
			<string>289.037</string>
			<key>y2</key>
			<string>608.173</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{9b732f0b-0172-4e20-b9e0-f6664a92e243}</key>
		<dict>
			<key>x1</key>
			<string>247.641</string>
			<key>y1</key>
			<string>589.262</string>
			<key>x2</key>
			<string>247.641</string>
			<key>y2</key>
			<string>608.173</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{083660c7-331b-4b80-940c-ed28cb73d5c3}</key>
		<dict>
			<key>x1</key>
			<string>247.641</string>
			<key>y1</key>
			<string>589.262</string>
			<key>x2</key>
			<string>247.641</string>
			<key>y2</key>
			<string>608.173</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{6a695155-ef22-4c6e-bd17-ef90d77fd84b}</key>
		<dict>
			<key>x1</key>
			<string>206.067</string>
			<key>y1</key>
			<string>549.424</string>
			<key>x2</key>
			<string>206.067</string>
			<key>y2</key>
			<string>564.768</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{5a006eb8-0280-411f-98f4-8142a85b392a}</key>
		<dict>
			<key>x1</key>
			<string>159.135</string>
			<key>y1</key>
			<string>589.262</string>
			<key>x2</key>
			<string>159.135</string>
			<key>y2</key>
			<string>608.173</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{4db7a9ea-3906-4edd-80ab-957dc1b12e73}</key>
		<dict>
			<key>x1</key>
			<string>159.135</string>
			<key>y1</key>
			<string>589.262</string>
			<key>x2</key>
			<string>159.135</string>
			<key>y2</key>
			<string>608.173</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{5f072b5b-8bc2-4eba-824d-8d2529dfa876}</key>
		<dict>
			<key>x1</key>
			<string>119.235</string>
			<key>y1</key>
			<string>589.262</string>
			<key>x2</key>
			<string>119.235</string>
			<key>y2</key>
			<string>608.173</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{72771de3-4f02-40a3-8ae5-4513a15aee2d}</key>
		<dict>
			<key>x1</key>
			<string>119.235</string>
			<key>y1</key>
			<string>589.262</string>
			<key>x2</key>
			<string>119.235</string>
			<key>y2</key>
			<string>608.173</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{1b27de6d-385c-4c43-b559-f9f24a4658c8}</key>
		<dict>
			<key>x1</key>
			<string>85.4011</string>
			<key>y1</key>
			<string>555.325</string>
			<key>x2</key>
			<string>85.4011</string>
			<key>y2</key>
			<string>539.344</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{df75cf0f-9252-43f5-86e8-415243536c4b}</key>
		<dict>
			<key>x1</key>
			<string>520.097</string>
			<key>y1</key>
			<string>403.239</string>
			<key>x2</key>
			<string>520.097</string>
			<key>y2</key>
			<string>418.429</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{aa77fc2b-4b07-4dd0-9ea7-6dee9b8ee790}</key>
		<dict>
			<key>x1</key>
			<string>486.994</string>
			<key>y1</key>
			<string>406.336</string>
			<key>x2</key>
			<string>486.994</string>
			<key>y2</key>
			<string>391.146</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{983ca0b6-33cb-4661-b5cd-ac112e142cb6}</key>
		<dict>
			<key>x1</key>
			<string>448.004</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>448.004</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9adff59b-2df6-4152-aa2f-5af7fe0fb4f0}</key>
		<dict>
			<key>x1</key>
			<string>396.382</string>
			<key>y1</key>
			<string>442.924</string>
			<key>x2</key>
			<string>396.382</string>
			<key>y2</key>
			<string>459.354</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{4044ccf8-bf21-4480-ae8b-a53515c8041d}</key>
		<dict>
			<key>x1</key>
			<string>357.392</string>
			<key>y1</key>
			<string>447.884</string>
			<key>x2</key>
			<string>357.392</string>
			<key>y2</key>
			<string>464.315</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{64e545de-3bb2-4fc9-9c7c-028fd8ea317d}</key>
		<dict>
			<key>x1</key>
			<string>318.402</string>
			<key>y1</key>
			<string>452.845</string>
			<key>x2</key>
			<string>318.402</string>
			<key>y2</key>
			<string>468.656</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{5ae94a3f-6f9b-42f4-90de-4900ac6b59ad}</key>
		<dict>
			<key>x1</key>
			<string>279.276</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>279.276</string>
			<key>y2</key>
			<string>387.425</string>
			<key>height</key>
			<string>-24.8031</string>
		</dict>
		<key>{7eb18448-4293-475e-aa2a-9d5b38a60d72}</key>
		<dict>
			<key>x1</key>
			<string>279.276</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>279.276</string>
			<key>y2</key>
			<string>387.425</string>
			<key>height</key>
			<string>-24.8031</string>
		</dict>
		<key>{f2669462-1c74-4e72-a591-926530521e11}</key>
		<dict>
			<key>x1</key>
			<string>241.009</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>241.009</string>
			<key>y2</key>
			<string>387.425</string>
			<key>height</key>
			<string>-24.8031</string>
		</dict>
		<key>{705c99e7-255d-4568-bf47-c5614d506617}</key>
		<dict>
			<key>x1</key>
			<string>241.009</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>241.009</string>
			<key>y2</key>
			<string>387.425</string>
			<key>height</key>
			<string>-24.8031</string>
		</dict>
		<key>{cf87d8cd-3f92-4514-8d52-e0dcd3e3b5e6}</key>
		<dict>
			<key>x1</key>
			<string>196.678</string>
			<key>y1</key>
			<string>452.691</string>
			<key>x2</key>
			<string>196.678</string>
			<key>y2</key>
			<string>468.656</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{f6491efe-0bde-4018-aef2-07dd7d66204a}</key>
		<dict>
			<key>x1</key>
			<string>158.762</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>158.762</string>
			<key>y2</key>
			<string>387.425</string>
			<key>height</key>
			<string>-24.8031</string>
		</dict>
		<key>{5eca2fa9-a7a3-4024-b461-d292cee95906}</key>
		<dict>
			<key>x1</key>
			<string>158.762</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>158.762</string>
			<key>y2</key>
			<string>387.425</string>
			<key>height</key>
			<string>-24.8031</string>
		</dict>
		<key>{450c7fc9-3957-41e2-b0d0-0736171be874}</key>
		<dict>
			<key>x1</key>
			<string>121.992</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>121.992</string>
			<key>y2</key>
			<string>387.425</string>
			<key>height</key>
			<string>-24.8031</string>
		</dict>
		<key>{4d2627b6-3933-4796-9d79-6fd0fb5d6900}</key>
		<dict>
			<key>x1</key>
			<string>121.992</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>121.992</string>
			<key>y2</key>
			<string>387.425</string>
			<key>height</key>
			<string>-24.8031</string>
		</dict>
		<key>{d659f253-8f71-4d29-8c8d-f1c60cb1ec2b}</key>
		<dict>
			<key>x1</key>
			<string>79.1569</string>
			<key>y1</key>
			<string>447.731</string>
			<key>x2</key>
			<string>79.1569</string>
			<key>y2</key>
			<string>464.315</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f913fdf6-fc7e-4fc7-b72b-e7cf253bd48c}</key>
		<dict>
			<key>x1</key>
			<string>522.721</string>
			<key>y1</key>
			<string>304.026</string>
			<key>x2</key>
			<string>522.721</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{60772e8f-9267-4284-b2f9-c79bd2a6462a}</key>
		<dict>
			<key>x1</key>
			<string>486.355</string>
			<key>y1</key>
			<string>299.066</string>
			<key>x2</key>
			<string>486.355</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{7a202d44-1e99-4df2-be9d-1536e97b0b90}</key>
		<dict>
			<key>x1</key>
			<string>449.988</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>449.988</string>
			<key>y2</key>
			<string>313.016</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{2752e538-f58e-4383-9150-6896dc1bb007}</key>
		<dict>
			<key>x1</key>
			<string>412.762</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>412.762</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{3d69baaf-43b3-47b2-8020-31dffaf8147a}</key>
		<dict>
			<key>x1</key>
			<string>370.509</string>
			<key>y1</key>
			<string>259.381</string>
			<key>x2</key>
			<string>370.509</string>
			<key>y2</key>
			<string>273.951</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{1d69ddfc-af3e-4099-9d63-94a0e4820c84}</key>
		<dict>
			<key>x1</key>
			<string>334.143</string>
			<key>y1</key>
			<string>256.9</string>
			<key>x2</key>
			<string>334.143</string>
			<key>y2</key>
			<string>272.091</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{78156d61-dc25-4fbd-ae7e-48a3686a495d}</key>
		<dict>
			<key>x1</key>
			<string>286.507</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>286.507</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{6959238d-093f-44ea-8d97-a632b6d87dc3}</key>
		<dict>
			<key>x1</key>
			<string>286.507</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>286.507</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{9b2ef2fc-3066-48d0-b8b9-02e5929bb626}</key>
		<dict>
			<key>x1</key>
			<string>245.617</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>245.617</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{53413676-e65a-4292-b3c8-4e4d691740ed}</key>
		<dict>
			<key>x1</key>
			<string>245.617</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>245.617</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{6bb5f3d7-ff43-41e1-bf6d-263faf5f15ee}</key>
		<dict>
			<key>x1</key>
			<string>210.793</string>
			<key>y1</key>
			<string>267.608</string>
			<key>x2</key>
			<string>210.793</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{2e75da63-fa28-42e0-8cc9-b9e246d848f0}</key>
		<dict>
			<key>x1</key>
			<string>158.123</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>158.123</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{9b73c877-e85b-48f5-8c4d-aefd7a318956}</key>
		<dict>
			<key>x1</key>
			<string>158.123</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>158.123</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{391ea1e9-bdb9-42c0-94f5-0690a5179185}</key>
		<dict>
			<key>x1</key>
			<string>118.729</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>118.729</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{8169db9e-fe09-43af-a2f8-f4db780ac4b0}</key>
		<dict>
			<key>x1</key>
			<string>118.729</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>118.729</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{758118a6-56ea-4889-bfbe-c1cf548f7476}</key>
		<dict>
			<key>x1</key>
			<string>85.4011</string>
			<key>y1</key>
			<string>262.648</string>
			<key>x2</key>
			<string>85.4011</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{d70df077-8b07-40e8-84e1-eaff1c8648f4}</key>
		<dict>
			<key>x1</key>
			<string>521.631</string>
			<key>y1</key>
			<string>110.562</string>
			<key>x2</key>
			<string>521.631</string>
			<key>y2</key>
			<string>125.752</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{baca995d-c1e0-4e44-9c92-34d042c58c53}</key>
		<dict>
			<key>x1</key>
			<string>490.061</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>490.061</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{02384eed-81a5-4eef-ad50-36cb9382383b}</key>
		<dict>
			<key>x1</key>
			<string>452.605</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>452.605</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{66bf2139-fb3b-4132-90f3-208bc031fc55}</key>
		<dict>
			<key>x1</key>
			<string>402.516</string>
			<key>y1</key>
			<string>150.247</string>
			<key>x2</key>
			<string>402.516</string>
			<key>y2</key>
			<string>166.677</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{adf03b92-ed71-48bc-b2a3-6227609bddf2}</key>
		<dict>
			<key>x1</key>
			<string>365.06</string>
			<key>y1</key>
			<string>155.207</string>
			<key>x2</key>
			<string>365.06</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{97e8d1bc-85fc-4b59-bfe5-a8cf87a062d4}</key>
		<dict>
			<key>x1</key>
			<string>327.604</string>
			<key>y1</key>
			<string>160.168</string>
			<key>x2</key>
			<string>327.604</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{068c0d8e-83c0-439f-9adc-73e152afb13e}</key>
		<dict>
			<key>x1</key>
			<string>282.802</string>
			<key>y1</key>
			<string>150.247</string>
			<key>x2</key>
			<string>282.802</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>26.6634</string>
		</dict>
		<key>{673a4a66-8a8d-4242-980f-bd083fc06336}</key>
		<dict>
			<key>x1</key>
			<string>282.802</string>
			<key>y1</key>
			<string>150.247</string>
			<key>x2</key>
			<string>282.802</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>26.6634</string>
		</dict>
		<key>{aa8bf552-dc8f-47d4-b788-85c1152be9cb}</key>
		<dict>
			<key>x1</key>
			<string>244.747</string>
			<key>y1</key>
			<string>150.247</string>
			<key>x2</key>
			<string>244.747</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>26.6634</string>
		</dict>
		<key>{d5a3e843-4bbd-44e7-b025-1bf303488ba2}</key>
		<dict>
			<key>x1</key>
			<string>244.747</string>
			<key>y1</key>
			<string>150.247</string>
			<key>x2</key>
			<string>244.747</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>26.6634</string>
		</dict>
		<key>{88102159-f55b-4516-885a-443b26902835}</key>
		<dict>
			<key>x1</key>
			<string>212.757</string>
			<key>y1</key>
			<string>118.789</string>
			<key>x2</key>
			<string>212.757</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{0dbdc114-78fe-4586-a83e-fdcefba42236}</key>
		<dict>
			<key>x1</key>
			<string>162.921</string>
			<key>y1</key>
			<string>150.247</string>
			<key>x2</key>
			<string>162.921</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>26.6634</string>
		</dict>
		<key>{5001e35f-ba3a-4eca-ba97-1653ebd3cbb9}</key>
		<dict>
			<key>x1</key>
			<string>162.921</string>
			<key>y1</key>
			<string>150.247</string>
			<key>x2</key>
			<string>162.921</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>26.6634</string>
		</dict>
		<key>{05eed792-ef17-497a-b0ef-9d807e6317eb}</key>
		<dict>
			<key>x1</key>
			<string>126.362</string>
			<key>y1</key>
			<string>150.247</string>
			<key>x2</key>
			<string>126.362</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>26.6634</string>
		</dict>
		<key>{7489317f-7c41-46ab-9e17-20ac552e1bab}</key>
		<dict>
			<key>x1</key>
			<string>126.362</string>
			<key>y1</key>
			<string>150.247</string>
			<key>x2</key>
			<string>126.362</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>26.6634</string>
		</dict>
		<key>{62f9e827-2d3f-4bed-af52-7e55ead39a46}</key>
		<dict>
			<key>x1</key>
			<string>95.868</string>
			<key>y1</key>
			<string>113.829</string>
			<key>x2</key>
			<string>95.868</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
	</dict>
</dict>
</plist>