<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributes</key>
	<dict>
		<key>time</key>
		<dict>
			<key>beats</key>
			<string>3</string>
			<key>per_minute</key>
			<string>80</string>
			<key>beat_type</key>
			<string>4</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{3539fb34-f156-46ab-8cf9-0d72f3dff41f}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{269790ac-8ab3-4e47-b762-19f910c5cb6b}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{3ef24d8f-40c2-49a3-9ab7-0dca4b09ccfe}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{f64980a0-9169-4786-956d-14742f8b6c2b}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{627bcee4-445b-4529-aada-fbd8a2677711}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{44feddf8-0db7-46d2-b337-3c13949de14d}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{61a82803-9e76-48ef-994a-07fd890dc81d}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{25ec936e-238b-440d-a885-d1360a9c84cb}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{e2f0aaa8-7bcb-4a4b-9322-4bb7a00393a4}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{9e7a20c2-aa3e-4c49-8c67-99c35f856315}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{d0043594-7cfa-48c8-a21f-8630d2b44b14}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{02a82146-3840-4e63-860e-55c6e6c84200}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{dc6af6e4-1443-4300-97b6-3be356b62e94}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{59b671ba-7009-4031-a5f0-21503f540b9a}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{6651b371-e9ed-4cb5-8471-0c2cf5905638}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{cc2fbc83-8a2d-4004-ac5d-fb7d52f8bc5f}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{354385d5-6ff4-44f6-a65f-61a5dd73f5d6}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{ca18170f-fa67-4467-b1f9-1384f5cf0ea1}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{f6b7e0c4-e9f1-4e3c-8cda-db64c7a633a6}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{379db295-6bad-4e82-aa40-7289dd295a97}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{29de2538-0a84-4fd8-8579-78ac76760ba9}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{c35b9eb9-7ac3-45c5-937e-cfc0a3d82b4a}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{96e5dac2-ca1e-4768-b1ff-d13f9a966e2e}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{d5abb5d5-7158-4398-b649-83cb7a5c7539}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{b25a7d9c-2106-4a89-a2d1-dad5ce2889c3}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{2bbeedf5-0ae9-4b8a-8b21-c345cc3199ef}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{2724ca2d-fea5-44d8-8769-5dd39316572a}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{f2725fb8-30b9-4fac-aa1e-0c03e0c3ac4a}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{51c7d63e-1552-4340-af51-534cc05b9db7}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{c6f4d0e1-79ea-42a1-8b9d-634f989a438f}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{d14dfb9e-aee7-437f-bb07-aa7448ebb88b}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{0335ad7b-3d89-4e72-baf1-355948cc16ec}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{99041dd0-3f91-47fa-b12f-5542225fc377}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{035fb1a5-362b-46a4-8a7d-ae3aebe8a9fe}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{eb67113d-3153-40ea-96ab-52e770e06f57}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{7af6a548-3886-4a26-8ebd-4339c232374c}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{aa666220-0222-4eb8-93fb-0f8d4ce5fe48}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{5c11081c-39e5-4082-957c-66274efca666}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{9a637efd-763d-4017-8420-8ab85eec2f38}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{b89a8d15-9c33-4fd9-8ae2-498c3a24df4a}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{5f1f58ec-3330-4fd4-b7e5-70a30d962265}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{f250fe1a-89b2-4d9f-af04-6b8f86719dd0}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{bbfe99c2-386e-41ed-8d5b-2a6dcb3e27ce}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{c34e5588-09be-4d84-8cb4-f5c7140d588a}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{86a93be7-673d-44c8-9c5c-23072d1e1743}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{e63b8912-cc73-42f9-aba3-1896d227cfe0}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{023a33e5-2389-426a-8e60-a86d4eb97743}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{acb2a9a1-8c6c-45cb-bf27-3c5d04524d0b}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{dec48c5c-5bcb-4353-877f-905d45ece68d}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{ebfeb954-936e-4bc3-bc70-48152e7005a9}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{90c3a12f-fe72-4d41-a8fb-0ba5ea5eef06}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{2537d8c9-82f1-4bf6-9fe3-9b95e2e5f569}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{1e39e1bc-4b35-4ba0-9a4b-bc8a3a52dfbf}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
	</dict>
	<key>events</key>
	<dict>
		<key>0</key>
		<dict>
			<key>elid</key>
			<string>0</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>0</string>
			<key>notes</key>
			<string>{3539fb34-f156-46ab-8cf9-0d72f3dff41f}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>1</key>
		<dict>
			<key>elid</key>
			<string>1</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>500</string>
			<key>notes</key>
			<string>{269790ac-8ab3-4e47-b762-19f910c5cb6b} {3ef24d8f-40c2-49a3-9ab7-0dca4b09ccfe}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>2</key>
		<dict>
			<key>elid</key>
			<string>2</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>1000</string>
			<key>notes</key>
			<string>{f64980a0-9169-4786-956d-14742f8b6c2b}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>3</key>
		<dict>
			<key>elid</key>
			<string>3</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>1500</string>
			<key>notes</key>
			<string>{627bcee4-445b-4529-aada-fbd8a2677711}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>4</key>
		<dict>
			<key>elid</key>
			<string>4</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>2000</string>
			<key>notes</key>
			<string>{44feddf8-0db7-46d2-b337-3c13949de14d}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>5</key>
		<dict>
			<key>elid</key>
			<string>5</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>2500</string>
			<key>notes</key>
			<string>{61a82803-9e76-48ef-994a-07fd890dc81d}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>6</key>
		<dict>
			<key>elid</key>
			<string>6</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>3000</string>
			<key>notes</key>
			<string>{25ec936e-238b-440d-a885-d1360a9c84cb}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>7</key>
		<dict>
			<key>elid</key>
			<string>7</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>3500</string>
			<key>notes</key>
			<string>{e2f0aaa8-7bcb-4a4b-9322-4bb7a00393a4} {9e7a20c2-aa3e-4c49-8c67-99c35f856315}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>8</key>
		<dict>
			<key>elid</key>
			<string>8</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>4000</string>
			<key>notes</key>
			<string>{d0043594-7cfa-48c8-a21f-8630d2b44b14}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>9</key>
		<dict>
			<key>elid</key>
			<string>9</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>4500</string>
			<key>notes</key>
			<string>{02a82146-3840-4e63-860e-55c6e6c84200}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>10</key>
		<dict>
			<key>elid</key>
			<string>10</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>5000</string>
			<key>notes</key>
			<string>{dc6af6e4-1443-4300-97b6-3be356b62e94} {59b671ba-7009-4031-a5f0-21503f540b9a}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>11</key>
		<dict>
			<key>elid</key>
			<string>11</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>6000</string>
			<key>notes</key>
			<string>{6651b371-e9ed-4cb5-8471-0c2cf5905638}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>12</key>
		<dict>
			<key>elid</key>
			<string>12</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>6500</string>
			<key>notes</key>
			<string>{cc2fbc83-8a2d-4004-ac5d-fb7d52f8bc5f}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>13</key>
		<dict>
			<key>elid</key>
			<string>13</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>7000</string>
			<key>notes</key>
			<string>{354385d5-6ff4-44f6-a65f-61a5dd73f5d6}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>14</key>
		<dict>
			<key>elid</key>
			<string>14</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>7500</string>
			<key>notes</key>
			<string>{ca18170f-fa67-4467-b1f9-1384f5cf0ea1}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>15</key>
		<dict>
			<key>elid</key>
			<string>15</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>8000</string>
			<key>notes</key>
			<string>{f6b7e0c4-e9f1-4e3c-8cda-db64c7a633a6}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>16</key>
		<dict>
			<key>elid</key>
			<string>16</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>8500</string>
			<key>notes</key>
			<string>{379db295-6bad-4e82-aa40-7289dd295a97}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>17</key>
		<dict>
			<key>elid</key>
			<string>17</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>9000</string>
			<key>notes</key>
			<string>{29de2538-0a84-4fd8-8579-78ac76760ba9}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>18</key>
		<dict>
			<key>elid</key>
			<string>18</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>9500</string>
			<key>notes</key>
			<string>{c35b9eb9-7ac3-45c5-937e-cfc0a3d82b4a} {96e5dac2-ca1e-4768-b1ff-d13f9a966e2e}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>19</key>
		<dict>
			<key>elid</key>
			<string>19</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>10000</string>
			<key>notes</key>
			<string>{d5abb5d5-7158-4398-b649-83cb7a5c7539}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>20</key>
		<dict>
			<key>elid</key>
			<string>20</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>10500</string>
			<key>notes</key>
			<string>{b25a7d9c-2106-4a89-a2d1-dad5ce2889c3}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>21</key>
		<dict>
			<key>elid</key>
			<string>21</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>11000</string>
			<key>notes</key>
			<string>{2bbeedf5-0ae9-4b8a-8b21-c345cc3199ef} {2724ca2d-fea5-44d8-8769-5dd39316572a}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>22</key>
		<dict>
			<key>elid</key>
			<string>22</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>12000</string>
			<key>notes</key>
			<string>{f2725fb8-30b9-4fac-aa1e-0c03e0c3ac4a}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>23</key>
		<dict>
			<key>elid</key>
			<string>23</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>12500</string>
			<key>notes</key>
			<string>{51c7d63e-1552-4340-af51-534cc05b9db7}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>24</key>
		<dict>
			<key>elid</key>
			<string>24</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>13000</string>
			<key>notes</key>
			<string>{c6f4d0e1-79ea-42a1-8b9d-634f989a438f}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>25</key>
		<dict>
			<key>elid</key>
			<string>25</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>13500</string>
			<key>notes</key>
			<string>{d14dfb9e-aee7-437f-bb07-aa7448ebb88b}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>26</key>
		<dict>
			<key>elid</key>
			<string>26</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>14000</string>
			<key>notes</key>
			<string>{0335ad7b-3d89-4e72-baf1-355948cc16ec}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>27</key>
		<dict>
			<key>elid</key>
			<string>27</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>14500</string>
			<key>notes</key>
			<string>{99041dd0-3f91-47fa-b12f-5542225fc377}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>28</key>
		<dict>
			<key>elid</key>
			<string>28</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>15000</string>
			<key>notes</key>
			<string>{035fb1a5-362b-46a4-8a7d-ae3aebe8a9fe}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>29</key>
		<dict>
			<key>elid</key>
			<string>29</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>15500</string>
			<key>notes</key>
			<string>{eb67113d-3153-40ea-96ab-52e770e06f57}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>30</key>
		<dict>
			<key>elid</key>
			<string>30</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>16000</string>
			<key>notes</key>
			<string>{7af6a548-3886-4a26-8ebd-4339c232374c}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>31</key>
		<dict>
			<key>elid</key>
			<string>31</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>16500</string>
			<key>notes</key>
			<string>{aa666220-0222-4eb8-93fb-0f8d4ce5fe48}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>32</key>
		<dict>
			<key>elid</key>
			<string>32</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>17000</string>
			<key>notes</key>
			<string>{5c11081c-39e5-4082-957c-66274efca666}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>33</key>
		<dict>
			<key>elid</key>
			<string>33</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>18000</string>
			<key>notes</key>
			<string>{9a637efd-763d-4017-8420-8ab85eec2f38}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>34</key>
		<dict>
			<key>elid</key>
			<string>34</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>18250</string>
			<key>notes</key>
			<string>{b89a8d15-9c33-4fd9-8ae2-498c3a24df4a}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>35</key>
		<dict>
			<key>elid</key>
			<string>35</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>18500</string>
			<key>notes</key>
			<string>{5f1f58ec-3330-4fd4-b7e5-70a30d962265} {f250fe1a-89b2-4d9f-af04-6b8f86719dd0}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>36</key>
		<dict>
			<key>elid</key>
			<string>36</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>19000</string>
			<key>notes</key>
			<string>{bbfe99c2-386e-41ed-8d5b-2a6dcb3e27ce}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>37</key>
		<dict>
			<key>elid</key>
			<string>37</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>19500</string>
			<key>notes</key>
			<string>{c34e5588-09be-4d84-8cb4-f5c7140d588a}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>38</key>
		<dict>
			<key>elid</key>
			<string>38</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>20000</string>
			<key>notes</key>
			<string>{86a93be7-673d-44c8-9c5c-23072d1e1743}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>39</key>
		<dict>
			<key>elid</key>
			<string>39</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>20500</string>
			<key>notes</key>
			<string>{e63b8912-cc73-42f9-aba3-1896d227cfe0}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>40</key>
		<dict>
			<key>elid</key>
			<string>40</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>21000</string>
			<key>notes</key>
			<string>{023a33e5-2389-426a-8e60-a86d4eb97743}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>41</key>
		<dict>
			<key>elid</key>
			<string>41</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>21500</string>
			<key>notes</key>
			<string>{acb2a9a1-8c6c-45cb-bf27-3c5d04524d0b} {dec48c5c-5bcb-4353-877f-905d45ece68d}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>42</key>
		<dict>
			<key>elid</key>
			<string>42</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>22000</string>
			<key>notes</key>
			<string>{ebfeb954-936e-4bc3-bc70-48152e7005a9}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>43</key>
		<dict>
			<key>elid</key>
			<string>43</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>22500</string>
			<key>notes</key>
			<string>{90c3a12f-fe72-4d41-a8fb-0ba5ea5eef06}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>44</key>
		<dict>
			<key>elid</key>
			<string>44</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>23000</string>
			<key>notes</key>
			<string>{2537d8c9-82f1-4bf6-9fe3-9b95e2e5f569} {1e39e1bc-4b35-4ba0-9a4b-bc8a3a52dfbf}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
	</dict>
	<key>metronomes</key>
	<dict>
		<key>0</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>1000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>1500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>2000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>2500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>3000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>3500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>4000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>4500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>5000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>5500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>6000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>6500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>7000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>7500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>8000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>8500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>9000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>9500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>10000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>10500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>11000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>11500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>12000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>12500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>13000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>13500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>14000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>14500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>15000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>15500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>16000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>16500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>17000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>17500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>18000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>18500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>19000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>19500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>20000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>20500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>21000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>21500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>22000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>22500</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>23000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>23500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>24000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>24500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>25000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
	</dict>
</dict>
</plist>