<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>247.04</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>282.619</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>391.89</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>427.47</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>536.741</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>572.321</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>681.592</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>717.171</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{4cb0dabc-0155-4d14-898d-dc28d888e7e8}</key>
		<dict>
			<key>x</key>
			<string>488.893</string>
			<key>y</key>
			<string>616.111</string>
		</dict>
		<key>{b96a9cb5-03f9-48de-8743-91b72bcf5680}</key>
		<dict>
			<key>x</key>
			<string>488.893</string>
			<key>y</key>
			<string>551.623</string>
		</dict>
		<key>{8562b2dc-1875-4ad5-aaae-63e702cd3c1f}</key>
		<dict>
			<key>x</key>
			<string>445.515</string>
			<key>y</key>
			<string>613.631</string>
		</dict>
		<key>{acb97cab-48fb-4755-aac3-83c719937d18}</key>
		<dict>
			<key>x</key>
			<string>445.515</string>
			<key>y</key>
			<string>549.143</string>
		</dict>
		<key>{5900e754-3eae-47b2-9de6-1aee408c9444}</key>
		<dict>
			<key>x</key>
			<string>399.965</string>
			<key>y</key>
			<string>551.623</string>
		</dict>
		<key>{f06d7ee6-ef9a-496c-a1bc-adbcf3eb6bef}</key>
		<dict>
			<key>x</key>
			<string>360.983</string>
			<key>y</key>
			<string>613.631</string>
		</dict>
		<key>{8ab80e53-277f-43a6-9817-27276f57c832}</key>
		<dict>
			<key>x</key>
			<string>361.163</string>
			<key>y</key>
			<string>556.583</string>
		</dict>
		<key>{25fece4f-4fb6-4bf1-afc0-88d1d5aae533}</key>
		<dict>
			<key>x</key>
			<string>322.36</string>
			<key>y</key>
			<string>611.15</string>
		</dict>
		<key>{ccc9fbc4-979e-4c19-a963-516696852b52}</key>
		<dict>
			<key>x</key>
			<string>276.095</string>
			<key>y</key>
			<string>616.111</string>
		</dict>
		<key>{deea5ab7-5169-431a-868f-f2c53a4940ea}</key>
		<dict>
			<key>x</key>
			<string>237.042</string>
			<key>y</key>
			<string>611.15</string>
		</dict>
		<key>{d1f10d0f-49ef-4259-986e-4060a0b3c9bb}</key>
		<dict>
			<key>x</key>
			<string>197.988</string>
			<key>y</key>
			<string>621.072</string>
		</dict>
		<key>{7cced1ce-66f2-41fc-982b-85dcf184a808}</key>
		<dict>
			<key>x</key>
			<string>197.988</string>
			<key>y</key>
			<string>556.583</string>
		</dict>
		<key>{12b5efb8-6612-4129-9f20-7dd1fc193fec}</key>
		<dict>
			<key>x</key>
			<string>154.469</string>
			<key>y</key>
			<string>551.623</string>
		</dict>
		<key>{e59a7f0e-8dd2-4851-9070-ad2440056907}</key>
		<dict>
			<key>x</key>
			<string>117.518</string>
			<key>y</key>
			<string>621.072</string>
		</dict>
		<key>{d3ade742-b322-4730-b621-78f45cfaf84f}</key>
		<dict>
			<key>x</key>
			<string>117.697</string>
			<key>y</key>
			<string>546.662</string>
		</dict>
		<key>{46cf0107-8a8b-45e5-a11a-03ec2eec5daf}</key>
		<dict>
			<key>x</key>
			<string>94.7136</string>
			<key>y</key>
			<string>549.143</string>
		</dict>
		<key>{5e40084b-b4dc-4db5-a5f2-78bb5ecdca05}</key>
		<dict>
			<key>x</key>
			<string>71.7307</string>
			<key>y</key>
			<string>551.623</string>
		</dict>
		<key>{5d29de3b-642f-4713-89d3-b1050d53f0ce}</key>
		<dict>
			<key>x</key>
			<string>488.912</string>
			<key>y</key>
			<string>471.26</string>
		</dict>
		<key>{cc62b2c5-0182-4528-af32-62c65c2a3d59}</key>
		<dict>
			<key>x</key>
			<string>445.545</string>
			<key>y</key>
			<string>476.221</string>
		</dict>
		<key>{ea146587-1c74-4053-98eb-02f7c0a40d6e}</key>
		<dict>
			<key>x</key>
			<string>399.378</string>
			<key>y</key>
			<string>466.3</string>
		</dict>
		<key>{9d3a2e0a-7fb5-4168-b2b6-e38ec5a3caa4}</key>
		<dict>
			<key>x</key>
			<string>360.424</string>
			<key>y</key>
			<string>411.733</string>
		</dict>
		<key>{be21130f-46fe-4d72-bd3b-2a112bb9805c}</key>
		<dict>
			<key>x</key>
			<string>321.469</string>
			<key>y</key>
			<string>466.3</string>
		</dict>
		<key>{98860d02-466a-4fad-8271-9e551a41b0a9}</key>
		<dict>
			<key>x</key>
			<string>275.458</string>
			<key>y</key>
			<string>471.26</string>
		</dict>
		<key>{ace7d812-8501-49b3-a817-ce69895de6e8}</key>
		<dict>
			<key>x</key>
			<string>236.658</string>
			<key>y</key>
			<string>466.3</string>
		</dict>
		<key>{962cc60f-888d-4c8f-8b6c-017f74b2afda}</key>
		<dict>
			<key>x</key>
			<string>197.859</string>
			<key>y</key>
			<string>466.3</string>
		</dict>
		<key>{6e2dfcda-f77b-4103-baee-fdd964fba083}</key>
		<dict>
			<key>x</key>
			<string>151.318</string>
			<key>y</key>
			<string>471.26</string>
		</dict>
		<key>{c5e1fe9d-c987-4771-9ac8-392f47942a74}</key>
		<dict>
			<key>x</key>
			<string>111.525</string>
			<key>y</key>
			<string>476.221</string>
		</dict>
		<key>{97f2e711-732d-4bbb-94d6-998b9ec2fc51}</key>
		<dict>
			<key>x</key>
			<string>71.7307</string>
			<key>y</key>
			<string>476.221</string>
		</dict>
		<key>{6915d094-76f6-49dc-8acd-32195456ffdb}</key>
		<dict>
			<key>x</key>
			<string>487.698</string>
			<key>y</key>
			<string>326.41</string>
		</dict>
		<key>{cdc8f345-80cd-49bc-b3f2-bb21d2d1f861}</key>
		<dict>
			<key>x</key>
			<string>487.698</string>
			<key>y</key>
			<string>261.922</string>
		</dict>
		<key>{9ac239b7-88b6-4767-bdf4-76578b14bd55}</key>
		<dict>
			<key>x</key>
			<string>443.572</string>
			<key>y</key>
			<string>323.929</string>
		</dict>
		<key>{76f2d07c-1c8a-4bed-afb9-db8af8abd09a}</key>
		<dict>
			<key>x</key>
			<string>443.572</string>
			<key>y</key>
			<string>259.441</string>
		</dict>
		<key>{6a319331-244b-45e3-a6fa-2fa6d39d9d52}</key>
		<dict>
			<key>x</key>
			<string>397.375</string>
			<key>y</key>
			<string>261.922</string>
		</dict>
		<key>{0fd57db3-0eb8-4102-9b8e-db67216819fb}</key>
		<dict>
			<key>x</key>
			<string>357.745</string>
			<key>y</key>
			<string>323.929</string>
		</dict>
		<key>{85dc9c97-1efc-4b58-8da3-2e84327cd9f9}</key>
		<dict>
			<key>x</key>
			<string>357.925</string>
			<key>y</key>
			<string>266.882</string>
		</dict>
		<key>{23b9d348-6f73-4634-9769-1a8068bae643}</key>
		<dict>
			<key>x</key>
			<string>318.474</string>
			<key>y</key>
			<string>321.449</string>
		</dict>
		<key>{c592d942-bb6f-4569-93bb-16a1a9397689}</key>
		<dict>
			<key>x</key>
			<string>271.717</string>
			<key>y</key>
			<string>326.41</string>
		</dict>
		<key>{4e0928c0-0956-48bd-8305-ad15d41d2a1f}</key>
		<dict>
			<key>x</key>
			<string>232.171</string>
			<key>y</key>
			<string>321.449</string>
		</dict>
		<key>{f0e4be48-7c0d-4a8d-b730-f0e6dcaf15e8}</key>
		<dict>
			<key>x</key>
			<string>192.625</string>
			<key>y</key>
			<string>266.882</string>
		</dict>
		<key>{01bfbaab-7a65-41f9-abe3-0428cda8fc0b}</key>
		<dict>
			<key>x</key>
			<string>147.519</string>
			<key>y</key>
			<string>261.922</string>
		</dict>
		<key>{17382723-3da0-4e53-a908-d9fdc929b9ab}</key>
		<dict>
			<key>x</key>
			<string>109.625</string>
			<key>y</key>
			<string>256.961</string>
		</dict>
		<key>{0136d872-38e5-478b-b32a-e162878cb27b}</key>
		<dict>
			<key>x</key>
			<string>71.7307</string>
			<key>y</key>
			<string>261.922</string>
		</dict>
		<key>{a1bcee86-4859-4a94-b5ea-a994577cc3ba}</key>
		<dict>
			<key>x</key>
			<string>491.807</string>
			<key>y</key>
			<string>176.598</string>
		</dict>
		<key>{ff10313b-30c7-4f42-8ae5-ca411c828757}</key>
		<dict>
			<key>x</key>
			<string>491.807</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{0598e373-89e1-4b07-ac7a-d460712422d4}</key>
		<dict>
			<key>x</key>
			<string>450.25</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{1e576542-94a0-4977-9404-041aa54f093b}</key>
		<dict>
			<key>x</key>
			<string>404.336</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{e08f4246-5d42-4e33-b26c-ded7e9d6c4fc}</key>
		<dict>
			<key>x</key>
			<string>365.455</string>
			<key>y</key>
			<string>179.079</string>
		</dict>
		<key>{077eb563-ab49-4417-958d-30f520008e25}</key>
		<dict>
			<key>x</key>
			<string>365.634</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{362d5d9b-d154-46f3-aea3-920d1791c3e5}</key>
		<dict>
			<key>x</key>
			<string>326.932</string>
			<key>y</key>
			<string>176.598</string>
		</dict>
		<key>{3099dbe8-2c3b-4be2-bb1d-18f324a8f278}</key>
		<dict>
			<key>x</key>
			<string>280.768</string>
			<key>y</key>
			<string>181.559</string>
		</dict>
		<key>{14bf5437-31bf-4ebd-9763-c1a1a92a2afa}</key>
		<dict>
			<key>x</key>
			<string>241.815</string>
			<key>y</key>
			<string>176.598</string>
		</dict>
		<key>{01f6e642-68cd-4565-a4da-10fd6e09091d}</key>
		<dict>
			<key>x</key>
			<string>202.863</string>
			<key>y</key>
			<string>186.52</string>
		</dict>
		<key>{0df206c9-e38d-4669-8f37-cf4d64c866f5}</key>
		<dict>
			<key>x</key>
			<string>202.863</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{2745c3c0-6139-417b-b06d-c635eecb1c7d}</key>
		<dict>
			<key>x</key>
			<string>158.97</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{286bbe58-4a04-4191-968c-3499f4938cc4}</key>
		<dict>
			<key>x</key>
			<string>121.645</string>
			<key>y</key>
			<string>186.52</string>
		</dict>
		<key>{e2e448d4-2f05-451a-9383-83c9e23b87fa}</key>
		<dict>
			<key>x</key>
			<string>121.824</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{f084e5f8-a762-4df2-af7c-7b30a3ce4fa0}</key>
		<dict>
			<key>x</key>
			<string>84.6779</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{4cb0dabc-0155-4d14-898d-dc28d888e7e8}</key>
		<dict>
			<key>x1</key>
			<string>489.216</string>
			<key>y1</key>
			<string>616.889</string>
			<key>x2</key>
			<string>489.216</string>
			<key>y2</key>
			<string>627.272</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{b96a9cb5-03f9-48de-8743-91b72bcf5680}</key>
		<dict>
			<key>x1</key>
			<string>495.46</string>
			<key>y1</key>
			<string>550.861</string>
			<key>x2</key>
			<string>495.46</string>
			<key>y2</key>
			<string>534.881</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{8562b2dc-1875-4ad5-aaae-63e702cd3c1f}</key>
		<dict>
			<key>x1</key>
			<string>445.837</string>
			<key>y1</key>
			<string>614.562</string>
			<key>x2</key>
			<string>445.837</string>
			<key>y2</key>
			<string>625.412</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{acb97cab-48fb-4755-aac3-83c719937d18}</key>
		<dict>
			<key>x1</key>
			<string>451.723</string>
			<key>y1</key>
			<string>548.211</string>
			<key>x2</key>
			<string>451.723</string>
			<key>y2</key>
			<string>533.02</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{5900e754-3eae-47b2-9de6-1aee408c9444}</key>
		<dict>
			<key>x1</key>
			<string>406.174</string>
			<key>y1</key>
			<string>550.691</string>
			<key>x2</key>
			<string>406.174</string>
			<key>y2</key>
			<string>534.881</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{f06d7ee6-ef9a-496c-a1bc-adbcf3eb6bef}</key>
		<dict>
			<key>x1</key>
			<string>361.306</string>
			<key>y1</key>
			<string>614.409</string>
			<key>x2</key>
			<string>361.306</string>
			<key>y2</key>
			<string>625.412</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{8ab80e53-277f-43a6-9817-27276f57c832}</key>
		<dict>
			<key>x1</key>
			<string>367.371</string>
			<key>y1</key>
			<string>555.652</string>
			<key>x2</key>
			<string>367.371</string>
			<key>y2</key>
			<string>539.221</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{25fece4f-4fb6-4bf1-afc0-88d1d5aae533}</key>
		<dict>
			<key>x1</key>
			<string>322.682</string>
			<key>y1</key>
			<string>612.082</string>
			<key>x2</key>
			<string>322.682</string>
			<key>y2</key>
			<string>623.552</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{ccc9fbc4-979e-4c19-a963-516696852b52}</key>
		<dict>
			<key>x1</key>
			<string>276.417</string>
			<key>y1</key>
			<string>617.043</string>
			<key>x2</key>
			<string>276.417</string>
			<key>y2</key>
			<string>627.272</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{deea5ab7-5169-431a-868f-f2c53a4940ea}</key>
		<dict>
			<key>x1</key>
			<string>237.364</string>
			<key>y1</key>
			<string>612.082</string>
			<key>x2</key>
			<string>237.364</string>
			<key>y2</key>
			<string>623.552</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{d1f10d0f-49ef-4259-986e-4060a0b3c9bb}</key>
		<dict>
			<key>x1</key>
			<string>198.311</string>
			<key>y1</key>
			<string>622.003</string>
			<key>x2</key>
			<string>198.311</string>
			<key>y2</key>
			<string>632.233</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{7cced1ce-66f2-41fc-982b-85dcf184a808}</key>
		<dict>
			<key>x1</key>
			<string>204.197</string>
			<key>y1</key>
			<string>555.652</string>
			<key>x2</key>
			<string>204.197</string>
			<key>y2</key>
			<string>539.221</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{12b5efb8-6612-4129-9f20-7dd1fc193fec}</key>
		<dict>
			<key>x1</key>
			<string>160.678</string>
			<key>y1</key>
			<string>550.691</string>
			<key>x2</key>
			<string>160.678</string>
			<key>y2</key>
			<string>534.881</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{e59a7f0e-8dd2-4851-9070-ad2440056907}</key>
		<dict>
			<key>x1</key>
			<string>117.84</string>
			<key>y1</key>
			<string>621.85</string>
			<key>x2</key>
			<string>117.84</string>
			<key>y2</key>
			<string>632.233</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{d3ade742-b322-4730-b621-78f45cfaf84f}</key>
		<dict>
			<key>x1</key>
			<string>118.019</string>
			<key>y1</key>
			<string>547.594</string>
			<key>x2</key>
			<string>118.019</string>
			<key>y2</key>
			<string>562.164</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{46cf0107-8a8b-45e5-a11a-03ec2eec5daf}</key>
		<dict>
			<key>x1</key>
			<string>100.922</string>
			<key>y1</key>
			<string>548.211</string>
			<key>x2</key>
			<string>100.922</string>
			<key>y2</key>
			<string>535.501</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{5e40084b-b4dc-4db5-a5f2-78bb5ecdca05}</key>
		<dict>
			<key>x1</key>
			<string>77.9392</string>
			<key>y1</key>
			<string>550.691</string>
			<key>x2</key>
			<string>77.9392</string>
			<key>y2</key>
			<string>536.741</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{5d29de3b-642f-4713-89d3-b1050d53f0ce}</key>
		<dict>
			<key>x1</key>
			<string>489.234</string>
			<key>y1</key>
			<string>472.038</string>
			<key>x2</key>
			<string>489.234</string>
			<key>y2</key>
			<string>482.422</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{cc62b2c5-0182-4528-af32-62c65c2a3d59}</key>
		<dict>
			<key>x1</key>
			<string>445.867</string>
			<key>y1</key>
			<string>477.153</string>
			<key>x2</key>
			<string>445.867</string>
			<key>y2</key>
			<string>487.382</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{ea146587-1c74-4053-98eb-02f7c0a40d6e}</key>
		<dict>
			<key>x1</key>
			<string>399.701</string>
			<key>y1</key>
			<string>467.231</string>
			<key>x2</key>
			<string>399.701</string>
			<key>y2</key>
			<string>478.701</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{9d3a2e0a-7fb5-4168-b2b6-e38ec5a3caa4}</key>
		<dict>
			<key>x1</key>
			<string>366.632</string>
			<key>y1</key>
			<string>410.801</string>
			<key>x2</key>
			<string>366.632</string>
			<key>y2</key>
			<string>394.371</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{be21130f-46fe-4d72-bd3b-2a112bb9805c}</key>
		<dict>
			<key>x1</key>
			<string>321.792</string>
			<key>y1</key>
			<string>467.231</string>
			<key>x2</key>
			<string>321.792</string>
			<key>y2</key>
			<string>478.701</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{98860d02-466a-4fad-8271-9e551a41b0a9}</key>
		<dict>
			<key>x1</key>
			<string>275.78</string>
			<key>y1</key>
			<string>472.192</string>
			<key>x2</key>
			<string>275.78</string>
			<key>y2</key>
			<string>482.422</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{ace7d812-8501-49b3-a817-ce69895de6e8}</key>
		<dict>
			<key>x1</key>
			<string>236.981</string>
			<key>y1</key>
			<string>467.231</string>
			<key>x2</key>
			<string>236.981</string>
			<key>y2</key>
			<string>478.701</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{962cc60f-888d-4c8f-8b6c-017f74b2afda}</key>
		<dict>
			<key>x1</key>
			<string>198.181</string>
			<key>y1</key>
			<string>467.231</string>
			<key>x2</key>
			<string>198.181</string>
			<key>y2</key>
			<string>478.701</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{6e2dfcda-f77b-4103-baee-fdd964fba083}</key>
		<dict>
			<key>x1</key>
			<string>151.641</string>
			<key>y1</key>
			<string>472.192</string>
			<key>x2</key>
			<string>151.641</string>
			<key>y2</key>
			<string>482.422</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{c5e1fe9d-c987-4771-9ac8-392f47942a74}</key>
		<dict>
			<key>x1</key>
			<string>111.847</string>
			<key>y1</key>
			<string>477.153</string>
			<key>x2</key>
			<string>111.847</string>
			<key>y2</key>
			<string>487.382</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{97f2e711-732d-4bbb-94d6-998b9ec2fc51}</key>
		<dict>
			<key>x1</key>
			<string>72.0531</string>
			<key>y1</key>
			<string>477.153</string>
			<key>x2</key>
			<string>72.0531</string>
			<key>y2</key>
			<string>487.382</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{6915d094-76f6-49dc-8acd-32195456ffdb}</key>
		<dict>
			<key>x1</key>
			<string>488.02</string>
			<key>y1</key>
			<string>327.188</string>
			<key>x2</key>
			<string>488.02</string>
			<key>y2</key>
			<string>337.571</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{cdc8f345-80cd-49bc-b3f2-bb21d2d1f861}</key>
		<dict>
			<key>x1</key>
			<string>494.264</string>
			<key>y1</key>
			<string>261.16</string>
			<key>x2</key>
			<string>494.264</string>
			<key>y2</key>
			<string>245.179</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{9ac239b7-88b6-4767-bdf4-76578b14bd55}</key>
		<dict>
			<key>x1</key>
			<string>443.894</string>
			<key>y1</key>
			<string>324.861</string>
			<key>x2</key>
			<string>443.894</string>
			<key>y2</key>
			<string>335.711</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{76f2d07c-1c8a-4bed-afb9-db8af8abd09a}</key>
		<dict>
			<key>x1</key>
			<string>449.78</string>
			<key>y1</key>
			<string>258.51</string>
			<key>x2</key>
			<string>449.78</string>
			<key>y2</key>
			<string>243.319</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{6a319331-244b-45e3-a6fa-2fa6d39d9d52}</key>
		<dict>
			<key>x1</key>
			<string>403.584</string>
			<key>y1</key>
			<string>260.99</string>
			<key>x2</key>
			<string>403.584</string>
			<key>y2</key>
			<string>245.179</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{0fd57db3-0eb8-4102-9b8e-db67216819fb}</key>
		<dict>
			<key>x1</key>
			<string>358.068</string>
			<key>y1</key>
			<string>324.707</string>
			<key>x2</key>
			<string>358.068</string>
			<key>y2</key>
			<string>335.711</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{85dc9c97-1efc-4b58-8da3-2e84327cd9f9}</key>
		<dict>
			<key>x1</key>
			<string>364.133</string>
			<key>y1</key>
			<string>265.95</string>
			<key>x2</key>
			<string>364.133</string>
			<key>y2</key>
			<string>249.52</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{23b9d348-6f73-4634-9769-1a8068bae643}</key>
		<dict>
			<key>x1</key>
			<string>318.797</string>
			<key>y1</key>
			<string>322.381</string>
			<key>x2</key>
			<string>318.797</string>
			<key>y2</key>
			<string>333.851</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{c592d942-bb6f-4569-93bb-16a1a9397689}</key>
		<dict>
			<key>x1</key>
			<string>272.039</string>
			<key>y1</key>
			<string>327.341</string>
			<key>x2</key>
			<string>272.039</string>
			<key>y2</key>
			<string>337.571</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{4e0928c0-0956-48bd-8305-ad15d41d2a1f}</key>
		<dict>
			<key>x1</key>
			<string>232.493</string>
			<key>y1</key>
			<string>322.381</string>
			<key>x2</key>
			<string>232.493</string>
			<key>y2</key>
			<string>333.851</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{f0e4be48-7c0d-4a8d-b730-f0e6dcaf15e8}</key>
		<dict>
			<key>x1</key>
			<string>198.834</string>
			<key>y1</key>
			<string>265.95</string>
			<key>x2</key>
			<string>198.834</string>
			<key>y2</key>
			<string>249.52</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{01bfbaab-7a65-41f9-abe3-0428cda8fc0b}</key>
		<dict>
			<key>x1</key>
			<string>153.728</string>
			<key>y1</key>
			<string>260.99</string>
			<key>x2</key>
			<string>153.728</string>
			<key>y2</key>
			<string>245.179</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{17382723-3da0-4e53-a908-d9fdc929b9ab}</key>
		<dict>
			<key>x1</key>
			<string>109.947</string>
			<key>y1</key>
			<string>257.893</string>
			<key>x2</key>
			<string>109.947</string>
			<key>y2</key>
			<string>272.463</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{0136d872-38e5-478b-b32a-e162878cb27b}</key>
		<dict>
			<key>x1</key>
			<string>77.9392</string>
			<key>y1</key>
			<string>260.99</string>
			<key>x2</key>
			<string>77.9392</string>
			<key>y2</key>
			<string>245.179</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{a1bcee86-4859-4a94-b5ea-a994577cc3ba}</key>
		<dict>
			<key>x1</key>
			<string>492.13</string>
			<key>y1</key>
			<string>177.376</string>
			<key>x2</key>
			<string>492.13</string>
			<key>y2</key>
			<string>189</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{ff10313b-30c7-4f42-8ae5-ca411c828757}</key>
		<dict>
			<key>x1</key>
			<string>492.13</string>
			<key>y1</key>
			<string>112.888</string>
			<key>x2</key>
			<string>492.13</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{0598e373-89e1-4b07-ac7a-d460712422d4}</key>
		<dict>
			<key>x1</key>
			<string>456.459</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>456.459</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{1e576542-94a0-4977-9404-041aa54f093b}</key>
		<dict>
			<key>x1</key>
			<string>410.545</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>410.545</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{e08f4246-5d42-4e33-b26c-ded7e9d6c4fc}</key>
		<dict>
			<key>x1</key>
			<string>365.778</string>
			<key>y1</key>
			<string>179.857</string>
			<key>x2</key>
			<string>365.778</string>
			<key>y2</key>
			<string>190.86</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{077eb563-ab49-4417-958d-30f520008e25}</key>
		<dict>
			<key>x1</key>
			<string>371.843</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>371.843</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{362d5d9b-d154-46f3-aea3-920d1791c3e5}</key>
		<dict>
			<key>x1</key>
			<string>327.254</string>
			<key>y1</key>
			<string>177.53</string>
			<key>x2</key>
			<string>327.254</string>
			<key>y2</key>
			<string>189</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{3099dbe8-2c3b-4be2-bb1d-18f324a8f278}</key>
		<dict>
			<key>x1</key>
			<string>281.09</string>
			<key>y1</key>
			<string>182.491</string>
			<key>x2</key>
			<string>281.09</string>
			<key>y2</key>
			<string>192.72</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{14bf5437-31bf-4ebd-9763-c1a1a92a2afa}</key>
		<dict>
			<key>x1</key>
			<string>242.138</string>
			<key>y1</key>
			<string>177.53</string>
			<key>x2</key>
			<string>242.138</string>
			<key>y2</key>
			<string>189</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{01f6e642-68cd-4565-a4da-10fd6e09091d}</key>
		<dict>
			<key>x1</key>
			<string>203.185</string>
			<key>y1</key>
			<string>187.451</string>
			<key>x2</key>
			<string>203.185</string>
			<key>y2</key>
			<string>197.681</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{0df206c9-e38d-4669-8f37-cf4d64c866f5}</key>
		<dict>
			<key>x1</key>
			<string>209.071</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>209.071</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{2745c3c0-6139-417b-b06d-c635eecb1c7d}</key>
		<dict>
			<key>x1</key>
			<string>165.179</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>165.179</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{286bbe58-4a04-4191-968c-3499f4938cc4}</key>
		<dict>
			<key>x1</key>
			<string>121.967</string>
			<key>y1</key>
			<string>187.298</string>
			<key>x2</key>
			<string>121.967</string>
			<key>y2</key>
			<string>197.681</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{e2e448d4-2f05-451a-9383-83c9e23b87fa}</key>
		<dict>
			<key>x1</key>
			<string>122.146</string>
			<key>y1</key>
			<string>113.042</string>
			<key>x2</key>
			<string>122.146</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{f084e5f8-a762-4df2-af7c-7b30a3ce4fa0}</key>
		<dict>
			<key>x1</key>
			<string>90.8865</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>90.8865</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
	</dict>
</dict>
</plist>