<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>247.04</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>282.619</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>391.89</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>427.47</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>536.741</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>572.321</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>681.592</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>717.171</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{1e39e1bc-4b35-4ba0-9a4b-bc8a3a52dfbf}</key>
		<dict>
			<key>x</key>
			<string>488.893</string>
			<key>y</key>
			<string>616.111</string>
		</dict>
		<key>{2537d8c9-82f1-4bf6-9fe3-9b95e2e5f569}</key>
		<dict>
			<key>x</key>
			<string>488.893</string>
			<key>y</key>
			<string>551.623</string>
		</dict>
		<key>{a9493783-d6fb-40c7-8e0a-d2a8ff38262b}</key>
		<dict>
			<key>x</key>
			<string>445.515</string>
			<key>y</key>
			<string>613.631</string>
		</dict>
		<key>{90c3a12f-fe72-4d41-a8fb-0ba5ea5eef06}</key>
		<dict>
			<key>x</key>
			<string>445.515</string>
			<key>y</key>
			<string>549.143</string>
		</dict>
		<key>{ebfeb954-936e-4bc3-bc70-48152e7005a9}</key>
		<dict>
			<key>x</key>
			<string>399.965</string>
			<key>y</key>
			<string>551.623</string>
		</dict>
		<key>{dec48c5c-5bcb-4353-877f-905d45ece68d}</key>
		<dict>
			<key>x</key>
			<string>360.983</string>
			<key>y</key>
			<string>613.631</string>
		</dict>
		<key>{acb2a9a1-8c6c-45cb-bf27-3c5d04524d0b}</key>
		<dict>
			<key>x</key>
			<string>361.163</string>
			<key>y</key>
			<string>556.583</string>
		</dict>
		<key>{023a33e5-2389-426a-8e60-a86d4eb97743}</key>
		<dict>
			<key>x</key>
			<string>322.36</string>
			<key>y</key>
			<string>611.15</string>
		</dict>
		<key>{e63b8912-cc73-42f9-aba3-1896d227cfe0}</key>
		<dict>
			<key>x</key>
			<string>276.095</string>
			<key>y</key>
			<string>616.111</string>
		</dict>
		<key>{86a93be7-673d-44c8-9c5c-23072d1e1743}</key>
		<dict>
			<key>x</key>
			<string>237.042</string>
			<key>y</key>
			<string>611.15</string>
		</dict>
		<key>{43b1e238-c82c-4014-a99c-88e16fd363bf}</key>
		<dict>
			<key>x</key>
			<string>197.988</string>
			<key>y</key>
			<string>621.072</string>
		</dict>
		<key>{c34e5588-09be-4d84-8cb4-f5c7140d588a}</key>
		<dict>
			<key>x</key>
			<string>197.988</string>
			<key>y</key>
			<string>556.583</string>
		</dict>
		<key>{bbfe99c2-386e-41ed-8d5b-2a6dcb3e27ce}</key>
		<dict>
			<key>x</key>
			<string>154.469</string>
			<key>y</key>
			<string>551.623</string>
		</dict>
		<key>{f250fe1a-89b2-4d9f-af04-6b8f86719dd0}</key>
		<dict>
			<key>x</key>
			<string>117.518</string>
			<key>y</key>
			<string>621.072</string>
		</dict>
		<key>{5f1f58ec-3330-4fd4-b7e5-70a30d962265}</key>
		<dict>
			<key>x</key>
			<string>117.697</string>
			<key>y</key>
			<string>546.662</string>
		</dict>
		<key>{b89a8d15-9c33-4fd9-8ae2-498c3a24df4a}</key>
		<dict>
			<key>x</key>
			<string>94.7136</string>
			<key>y</key>
			<string>549.143</string>
		</dict>
		<key>{9a637efd-763d-4017-8420-8ab85eec2f38}</key>
		<dict>
			<key>x</key>
			<string>71.7307</string>
			<key>y</key>
			<string>551.623</string>
		</dict>
		<key>{5c11081c-39e5-4082-957c-66274efca666}</key>
		<dict>
			<key>x</key>
			<string>488.912</string>
			<key>y</key>
			<string>471.26</string>
		</dict>
		<key>{aa666220-0222-4eb8-93fb-0f8d4ce5fe48}</key>
		<dict>
			<key>x</key>
			<string>445.545</string>
			<key>y</key>
			<string>476.221</string>
		</dict>
		<key>{7af6a548-3886-4a26-8ebd-4339c232374c}</key>
		<dict>
			<key>x</key>
			<string>399.378</string>
			<key>y</key>
			<string>466.3</string>
		</dict>
		<key>{eb67113d-3153-40ea-96ab-52e770e06f57}</key>
		<dict>
			<key>x</key>
			<string>360.424</string>
			<key>y</key>
			<string>411.733</string>
		</dict>
		<key>{035fb1a5-362b-46a4-8a7d-ae3aebe8a9fe}</key>
		<dict>
			<key>x</key>
			<string>321.469</string>
			<key>y</key>
			<string>466.3</string>
		</dict>
		<key>{99041dd0-3f91-47fa-b12f-5542225fc377}</key>
		<dict>
			<key>x</key>
			<string>275.458</string>
			<key>y</key>
			<string>471.26</string>
		</dict>
		<key>{0335ad7b-3d89-4e72-baf1-355948cc16ec}</key>
		<dict>
			<key>x</key>
			<string>236.658</string>
			<key>y</key>
			<string>466.3</string>
		</dict>
		<key>{d14dfb9e-aee7-437f-bb07-aa7448ebb88b}</key>
		<dict>
			<key>x</key>
			<string>197.859</string>
			<key>y</key>
			<string>466.3</string>
		</dict>
		<key>{c6f4d0e1-79ea-42a1-8b9d-634f989a438f}</key>
		<dict>
			<key>x</key>
			<string>151.318</string>
			<key>y</key>
			<string>471.26</string>
		</dict>
		<key>{51c7d63e-1552-4340-af51-534cc05b9db7}</key>
		<dict>
			<key>x</key>
			<string>111.525</string>
			<key>y</key>
			<string>476.221</string>
		</dict>
		<key>{f2725fb8-30b9-4fac-aa1e-0c03e0c3ac4a}</key>
		<dict>
			<key>x</key>
			<string>71.7307</string>
			<key>y</key>
			<string>476.221</string>
		</dict>
		<key>{2724ca2d-fea5-44d8-8769-5dd39316572a}</key>
		<dict>
			<key>x</key>
			<string>487.698</string>
			<key>y</key>
			<string>326.41</string>
		</dict>
		<key>{2bbeedf5-0ae9-4b8a-8b21-c345cc3199ef}</key>
		<dict>
			<key>x</key>
			<string>487.698</string>
			<key>y</key>
			<string>261.922</string>
		</dict>
		<key>{ac43e8b5-2e0f-4abc-86b0-e42991bcc1c9}</key>
		<dict>
			<key>x</key>
			<string>443.572</string>
			<key>y</key>
			<string>323.929</string>
		</dict>
		<key>{b25a7d9c-2106-4a89-a2d1-dad5ce2889c3}</key>
		<dict>
			<key>x</key>
			<string>443.572</string>
			<key>y</key>
			<string>259.441</string>
		</dict>
		<key>{d5abb5d5-7158-4398-b649-83cb7a5c7539}</key>
		<dict>
			<key>x</key>
			<string>397.375</string>
			<key>y</key>
			<string>261.922</string>
		</dict>
		<key>{96e5dac2-ca1e-4768-b1ff-d13f9a966e2e}</key>
		<dict>
			<key>x</key>
			<string>357.745</string>
			<key>y</key>
			<string>323.929</string>
		</dict>
		<key>{c35b9eb9-7ac3-45c5-937e-cfc0a3d82b4a}</key>
		<dict>
			<key>x</key>
			<string>357.925</string>
			<key>y</key>
			<string>266.882</string>
		</dict>
		<key>{29de2538-0a84-4fd8-8579-78ac76760ba9}</key>
		<dict>
			<key>x</key>
			<string>318.474</string>
			<key>y</key>
			<string>321.449</string>
		</dict>
		<key>{379db295-6bad-4e82-aa40-7289dd295a97}</key>
		<dict>
			<key>x</key>
			<string>271.717</string>
			<key>y</key>
			<string>326.41</string>
		</dict>
		<key>{f6b7e0c4-e9f1-4e3c-8cda-db64c7a633a6}</key>
		<dict>
			<key>x</key>
			<string>232.171</string>
			<key>y</key>
			<string>321.449</string>
		</dict>
		<key>{ca18170f-fa67-4467-b1f9-1384f5cf0ea1}</key>
		<dict>
			<key>x</key>
			<string>192.625</string>
			<key>y</key>
			<string>266.882</string>
		</dict>
		<key>{354385d5-6ff4-44f6-a65f-61a5dd73f5d6}</key>
		<dict>
			<key>x</key>
			<string>147.519</string>
			<key>y</key>
			<string>261.922</string>
		</dict>
		<key>{cc2fbc83-8a2d-4004-ac5d-fb7d52f8bc5f}</key>
		<dict>
			<key>x</key>
			<string>109.625</string>
			<key>y</key>
			<string>256.961</string>
		</dict>
		<key>{6651b371-e9ed-4cb5-8471-0c2cf5905638}</key>
		<dict>
			<key>x</key>
			<string>71.7307</string>
			<key>y</key>
			<string>261.922</string>
		</dict>
		<key>{59b671ba-7009-4031-a5f0-21503f540b9a}</key>
		<dict>
			<key>x</key>
			<string>491.807</string>
			<key>y</key>
			<string>176.598</string>
		</dict>
		<key>{dc6af6e4-1443-4300-97b6-3be356b62e94}</key>
		<dict>
			<key>x</key>
			<string>491.807</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{02a82146-3840-4e63-860e-55c6e6c84200}</key>
		<dict>
			<key>x</key>
			<string>450.25</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{d0043594-7cfa-48c8-a21f-8630d2b44b14}</key>
		<dict>
			<key>x</key>
			<string>404.336</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{9e7a20c2-aa3e-4c49-8c67-99c35f856315}</key>
		<dict>
			<key>x</key>
			<string>365.455</string>
			<key>y</key>
			<string>179.079</string>
		</dict>
		<key>{e2f0aaa8-7bcb-4a4b-9322-4bb7a00393a4}</key>
		<dict>
			<key>x</key>
			<string>365.634</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{25ec936e-238b-440d-a885-d1360a9c84cb}</key>
		<dict>
			<key>x</key>
			<string>326.932</string>
			<key>y</key>
			<string>176.598</string>
		</dict>
		<key>{61a82803-9e76-48ef-994a-07fd890dc81d}</key>
		<dict>
			<key>x</key>
			<string>280.768</string>
			<key>y</key>
			<string>181.559</string>
		</dict>
		<key>{44feddf8-0db7-46d2-b337-3c13949de14d}</key>
		<dict>
			<key>x</key>
			<string>241.815</string>
			<key>y</key>
			<string>176.598</string>
		</dict>
		<key>{6b5bd505-f3b3-4bfd-94b9-0c2140a446bd}</key>
		<dict>
			<key>x</key>
			<string>202.863</string>
			<key>y</key>
			<string>186.52</string>
		</dict>
		<key>{627bcee4-445b-4529-aada-fbd8a2677711}</key>
		<dict>
			<key>x</key>
			<string>202.863</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{f64980a0-9169-4786-956d-14742f8b6c2b}</key>
		<dict>
			<key>x</key>
			<string>158.97</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{3ef24d8f-40c2-49a3-9ab7-0dca4b09ccfe}</key>
		<dict>
			<key>x</key>
			<string>121.645</string>
			<key>y</key>
			<string>186.52</string>
		</dict>
		<key>{269790ac-8ab3-4e47-b762-19f910c5cb6b}</key>
		<dict>
			<key>x</key>
			<string>121.824</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{3539fb34-f156-46ab-8cf9-0d72f3dff41f}</key>
		<dict>
			<key>x</key>
			<string>84.6779</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{1e39e1bc-4b35-4ba0-9a4b-bc8a3a52dfbf}</key>
		<dict>
			<key>x1</key>
			<string>489.216</string>
			<key>y1</key>
			<string>616.889</string>
			<key>x2</key>
			<string>489.216</string>
			<key>y2</key>
			<string>627.272</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{2537d8c9-82f1-4bf6-9fe3-9b95e2e5f569}</key>
		<dict>
			<key>x1</key>
			<string>495.46</string>
			<key>y1</key>
			<string>550.861</string>
			<key>x2</key>
			<string>495.46</string>
			<key>y2</key>
			<string>534.881</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{a9493783-d6fb-40c7-8e0a-d2a8ff38262b}</key>
		<dict>
			<key>x1</key>
			<string>445.837</string>
			<key>y1</key>
			<string>614.562</string>
			<key>x2</key>
			<string>445.837</string>
			<key>y2</key>
			<string>625.412</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{90c3a12f-fe72-4d41-a8fb-0ba5ea5eef06}</key>
		<dict>
			<key>x1</key>
			<string>451.723</string>
			<key>y1</key>
			<string>548.211</string>
			<key>x2</key>
			<string>451.723</string>
			<key>y2</key>
			<string>533.02</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{ebfeb954-936e-4bc3-bc70-48152e7005a9}</key>
		<dict>
			<key>x1</key>
			<string>406.174</string>
			<key>y1</key>
			<string>550.691</string>
			<key>x2</key>
			<string>406.174</string>
			<key>y2</key>
			<string>534.881</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{dec48c5c-5bcb-4353-877f-905d45ece68d}</key>
		<dict>
			<key>x1</key>
			<string>361.306</string>
			<key>y1</key>
			<string>614.409</string>
			<key>x2</key>
			<string>361.306</string>
			<key>y2</key>
			<string>625.412</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{acb2a9a1-8c6c-45cb-bf27-3c5d04524d0b}</key>
		<dict>
			<key>x1</key>
			<string>367.371</string>
			<key>y1</key>
			<string>555.652</string>
			<key>x2</key>
			<string>367.371</string>
			<key>y2</key>
			<string>539.221</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{023a33e5-2389-426a-8e60-a86d4eb97743}</key>
		<dict>
			<key>x1</key>
			<string>322.682</string>
			<key>y1</key>
			<string>612.082</string>
			<key>x2</key>
			<string>322.682</string>
			<key>y2</key>
			<string>623.552</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{e63b8912-cc73-42f9-aba3-1896d227cfe0}</key>
		<dict>
			<key>x1</key>
			<string>276.417</string>
			<key>y1</key>
			<string>617.043</string>
			<key>x2</key>
			<string>276.417</string>
			<key>y2</key>
			<string>627.272</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{86a93be7-673d-44c8-9c5c-23072d1e1743}</key>
		<dict>
			<key>x1</key>
			<string>237.364</string>
			<key>y1</key>
			<string>612.082</string>
			<key>x2</key>
			<string>237.364</string>
			<key>y2</key>
			<string>623.552</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{43b1e238-c82c-4014-a99c-88e16fd363bf}</key>
		<dict>
			<key>x1</key>
			<string>198.311</string>
			<key>y1</key>
			<string>622.003</string>
			<key>x2</key>
			<string>198.311</string>
			<key>y2</key>
			<string>632.233</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{c34e5588-09be-4d84-8cb4-f5c7140d588a}</key>
		<dict>
			<key>x1</key>
			<string>204.197</string>
			<key>y1</key>
			<string>555.652</string>
			<key>x2</key>
			<string>204.197</string>
			<key>y2</key>
			<string>539.221</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{bbfe99c2-386e-41ed-8d5b-2a6dcb3e27ce}</key>
		<dict>
			<key>x1</key>
			<string>160.678</string>
			<key>y1</key>
			<string>550.691</string>
			<key>x2</key>
			<string>160.678</string>
			<key>y2</key>
			<string>534.881</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{f250fe1a-89b2-4d9f-af04-6b8f86719dd0}</key>
		<dict>
			<key>x1</key>
			<string>117.84</string>
			<key>y1</key>
			<string>621.85</string>
			<key>x2</key>
			<string>117.84</string>
			<key>y2</key>
			<string>632.233</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{5f1f58ec-3330-4fd4-b7e5-70a30d962265}</key>
		<dict>
			<key>x1</key>
			<string>118.019</string>
			<key>y1</key>
			<string>547.594</string>
			<key>x2</key>
			<string>118.019</string>
			<key>y2</key>
			<string>562.164</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{b89a8d15-9c33-4fd9-8ae2-498c3a24df4a}</key>
		<dict>
			<key>x1</key>
			<string>100.922</string>
			<key>y1</key>
			<string>548.211</string>
			<key>x2</key>
			<string>100.922</string>
			<key>y2</key>
			<string>535.501</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{9a637efd-763d-4017-8420-8ab85eec2f38}</key>
		<dict>
			<key>x1</key>
			<string>77.9392</string>
			<key>y1</key>
			<string>550.691</string>
			<key>x2</key>
			<string>77.9392</string>
			<key>y2</key>
			<string>536.741</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{5c11081c-39e5-4082-957c-66274efca666}</key>
		<dict>
			<key>x1</key>
			<string>489.234</string>
			<key>y1</key>
			<string>472.038</string>
			<key>x2</key>
			<string>489.234</string>
			<key>y2</key>
			<string>482.422</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{aa666220-0222-4eb8-93fb-0f8d4ce5fe48}</key>
		<dict>
			<key>x1</key>
			<string>445.867</string>
			<key>y1</key>
			<string>477.153</string>
			<key>x2</key>
			<string>445.867</string>
			<key>y2</key>
			<string>487.382</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{7af6a548-3886-4a26-8ebd-4339c232374c}</key>
		<dict>
			<key>x1</key>
			<string>399.701</string>
			<key>y1</key>
			<string>467.231</string>
			<key>x2</key>
			<string>399.701</string>
			<key>y2</key>
			<string>478.701</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{eb67113d-3153-40ea-96ab-52e770e06f57}</key>
		<dict>
			<key>x1</key>
			<string>366.632</string>
			<key>y1</key>
			<string>410.801</string>
			<key>x2</key>
			<string>366.632</string>
			<key>y2</key>
			<string>394.371</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{035fb1a5-362b-46a4-8a7d-ae3aebe8a9fe}</key>
		<dict>
			<key>x1</key>
			<string>321.792</string>
			<key>y1</key>
			<string>467.231</string>
			<key>x2</key>
			<string>321.792</string>
			<key>y2</key>
			<string>478.701</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{99041dd0-3f91-47fa-b12f-5542225fc377}</key>
		<dict>
			<key>x1</key>
			<string>275.78</string>
			<key>y1</key>
			<string>472.192</string>
			<key>x2</key>
			<string>275.78</string>
			<key>y2</key>
			<string>482.422</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{0335ad7b-3d89-4e72-baf1-355948cc16ec}</key>
		<dict>
			<key>x1</key>
			<string>236.981</string>
			<key>y1</key>
			<string>467.231</string>
			<key>x2</key>
			<string>236.981</string>
			<key>y2</key>
			<string>478.701</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{d14dfb9e-aee7-437f-bb07-aa7448ebb88b}</key>
		<dict>
			<key>x1</key>
			<string>198.181</string>
			<key>y1</key>
			<string>467.231</string>
			<key>x2</key>
			<string>198.181</string>
			<key>y2</key>
			<string>478.701</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{c6f4d0e1-79ea-42a1-8b9d-634f989a438f}</key>
		<dict>
			<key>x1</key>
			<string>151.641</string>
			<key>y1</key>
			<string>472.192</string>
			<key>x2</key>
			<string>151.641</string>
			<key>y2</key>
			<string>482.422</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{51c7d63e-1552-4340-af51-534cc05b9db7}</key>
		<dict>
			<key>x1</key>
			<string>111.847</string>
			<key>y1</key>
			<string>477.153</string>
			<key>x2</key>
			<string>111.847</string>
			<key>y2</key>
			<string>487.382</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{f2725fb8-30b9-4fac-aa1e-0c03e0c3ac4a}</key>
		<dict>
			<key>x1</key>
			<string>72.0531</string>
			<key>y1</key>
			<string>477.153</string>
			<key>x2</key>
			<string>72.0531</string>
			<key>y2</key>
			<string>487.382</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{2724ca2d-fea5-44d8-8769-5dd39316572a}</key>
		<dict>
			<key>x1</key>
			<string>488.02</string>
			<key>y1</key>
			<string>327.188</string>
			<key>x2</key>
			<string>488.02</string>
			<key>y2</key>
			<string>337.571</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{2bbeedf5-0ae9-4b8a-8b21-c345cc3199ef}</key>
		<dict>
			<key>x1</key>
			<string>494.264</string>
			<key>y1</key>
			<string>261.16</string>
			<key>x2</key>
			<string>494.264</string>
			<key>y2</key>
			<string>245.179</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{ac43e8b5-2e0f-4abc-86b0-e42991bcc1c9}</key>
		<dict>
			<key>x1</key>
			<string>443.894</string>
			<key>y1</key>
			<string>324.861</string>
			<key>x2</key>
			<string>443.894</string>
			<key>y2</key>
			<string>335.711</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{b25a7d9c-2106-4a89-a2d1-dad5ce2889c3}</key>
		<dict>
			<key>x1</key>
			<string>449.78</string>
			<key>y1</key>
			<string>258.51</string>
			<key>x2</key>
			<string>449.78</string>
			<key>y2</key>
			<string>243.319</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{d5abb5d5-7158-4398-b649-83cb7a5c7539}</key>
		<dict>
			<key>x1</key>
			<string>403.584</string>
			<key>y1</key>
			<string>260.99</string>
			<key>x2</key>
			<string>403.584</string>
			<key>y2</key>
			<string>245.179</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{96e5dac2-ca1e-4768-b1ff-d13f9a966e2e}</key>
		<dict>
			<key>x1</key>
			<string>358.068</string>
			<key>y1</key>
			<string>324.707</string>
			<key>x2</key>
			<string>358.068</string>
			<key>y2</key>
			<string>335.711</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{c35b9eb9-7ac3-45c5-937e-cfc0a3d82b4a}</key>
		<dict>
			<key>x1</key>
			<string>364.133</string>
			<key>y1</key>
			<string>265.95</string>
			<key>x2</key>
			<string>364.133</string>
			<key>y2</key>
			<string>249.52</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{29de2538-0a84-4fd8-8579-78ac76760ba9}</key>
		<dict>
			<key>x1</key>
			<string>318.797</string>
			<key>y1</key>
			<string>322.381</string>
			<key>x2</key>
			<string>318.797</string>
			<key>y2</key>
			<string>333.851</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{379db295-6bad-4e82-aa40-7289dd295a97}</key>
		<dict>
			<key>x1</key>
			<string>272.039</string>
			<key>y1</key>
			<string>327.341</string>
			<key>x2</key>
			<string>272.039</string>
			<key>y2</key>
			<string>337.571</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{f6b7e0c4-e9f1-4e3c-8cda-db64c7a633a6}</key>
		<dict>
			<key>x1</key>
			<string>232.493</string>
			<key>y1</key>
			<string>322.381</string>
			<key>x2</key>
			<string>232.493</string>
			<key>y2</key>
			<string>333.851</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{ca18170f-fa67-4467-b1f9-1384f5cf0ea1}</key>
		<dict>
			<key>x1</key>
			<string>198.834</string>
			<key>y1</key>
			<string>265.95</string>
			<key>x2</key>
			<string>198.834</string>
			<key>y2</key>
			<string>249.52</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{354385d5-6ff4-44f6-a65f-61a5dd73f5d6}</key>
		<dict>
			<key>x1</key>
			<string>153.728</string>
			<key>y1</key>
			<string>260.99</string>
			<key>x2</key>
			<string>153.728</string>
			<key>y2</key>
			<string>245.179</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{cc2fbc83-8a2d-4004-ac5d-fb7d52f8bc5f}</key>
		<dict>
			<key>x1</key>
			<string>109.947</string>
			<key>y1</key>
			<string>257.893</string>
			<key>x2</key>
			<string>109.947</string>
			<key>y2</key>
			<string>272.463</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{6651b371-e9ed-4cb5-8471-0c2cf5905638}</key>
		<dict>
			<key>x1</key>
			<string>77.9392</string>
			<key>y1</key>
			<string>260.99</string>
			<key>x2</key>
			<string>77.9392</string>
			<key>y2</key>
			<string>245.179</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{59b671ba-7009-4031-a5f0-21503f540b9a}</key>
		<dict>
			<key>x1</key>
			<string>492.13</string>
			<key>y1</key>
			<string>177.376</string>
			<key>x2</key>
			<string>492.13</string>
			<key>y2</key>
			<string>189</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{dc6af6e4-1443-4300-97b6-3be356b62e94}</key>
		<dict>
			<key>x1</key>
			<string>492.13</string>
			<key>y1</key>
			<string>112.888</string>
			<key>x2</key>
			<string>492.13</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{02a82146-3840-4e63-860e-55c6e6c84200}</key>
		<dict>
			<key>x1</key>
			<string>456.459</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>456.459</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{d0043594-7cfa-48c8-a21f-8630d2b44b14}</key>
		<dict>
			<key>x1</key>
			<string>410.545</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>410.545</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{9e7a20c2-aa3e-4c49-8c67-99c35f856315}</key>
		<dict>
			<key>x1</key>
			<string>365.778</string>
			<key>y1</key>
			<string>179.857</string>
			<key>x2</key>
			<string>365.778</string>
			<key>y2</key>
			<string>190.86</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{e2f0aaa8-7bcb-4a4b-9322-4bb7a00393a4}</key>
		<dict>
			<key>x1</key>
			<string>371.843</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>371.843</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{25ec936e-238b-440d-a885-d1360a9c84cb}</key>
		<dict>
			<key>x1</key>
			<string>327.254</string>
			<key>y1</key>
			<string>177.53</string>
			<key>x2</key>
			<string>327.254</string>
			<key>y2</key>
			<string>189</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{61a82803-9e76-48ef-994a-07fd890dc81d}</key>
		<dict>
			<key>x1</key>
			<string>281.09</string>
			<key>y1</key>
			<string>182.491</string>
			<key>x2</key>
			<string>281.09</string>
			<key>y2</key>
			<string>192.72</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{44feddf8-0db7-46d2-b337-3c13949de14d}</key>
		<dict>
			<key>x1</key>
			<string>242.138</string>
			<key>y1</key>
			<string>177.53</string>
			<key>x2</key>
			<string>242.138</string>
			<key>y2</key>
			<string>189</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{6b5bd505-f3b3-4bfd-94b9-0c2140a446bd}</key>
		<dict>
			<key>x1</key>
			<string>203.185</string>
			<key>y1</key>
			<string>187.451</string>
			<key>x2</key>
			<string>203.185</string>
			<key>y2</key>
			<string>197.681</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{627bcee4-445b-4529-aada-fbd8a2677711}</key>
		<dict>
			<key>x1</key>
			<string>209.071</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>209.071</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f64980a0-9169-4786-956d-14742f8b6c2b}</key>
		<dict>
			<key>x1</key>
			<string>165.179</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>165.179</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{3ef24d8f-40c2-49a3-9ab7-0dca4b09ccfe}</key>
		<dict>
			<key>x1</key>
			<string>121.967</string>
			<key>y1</key>
			<string>187.298</string>
			<key>x2</key>
			<string>121.967</string>
			<key>y2</key>
			<string>197.681</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{269790ac-8ab3-4e47-b762-19f910c5cb6b}</key>
		<dict>
			<key>x1</key>
			<string>122.146</string>
			<key>y1</key>
			<string>113.042</string>
			<key>x2</key>
			<string>122.146</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{3539fb34-f156-46ab-8cf9-0d72f3dff41f}</key>
		<dict>
			<key>x1</key>
			<string>90.8865</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>90.8865</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
	</dict>
</dict>
</plist>