<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>247.04</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>282.619</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>391.89</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>427.47</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>536.741</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>572.321</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>681.592</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>717.171</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{1e39e1bc-4b35-4ba0-9a4b-bc8a3a52dfbf}</key>
		<dict>
			<key>x</key>
			<string>491.38</string>
			<key>y</key>
			<string>586.347</string>
		</dict>
		<key>{2537d8c9-82f1-4bf6-9fe3-9b95e2e5f569}</key>
		<dict>
			<key>x</key>
			<string>491.38</string>
			<key>y</key>
			<string>551.623</string>
		</dict>
		<key>{a9493783-d6fb-40c7-8e0a-d2a8ff38262b}</key>
		<dict>
			<key>x</key>
			<string>449.555</string>
			<key>y</key>
			<string>583.867</string>
		</dict>
		<key>{90c3a12f-fe72-4d41-a8fb-0ba5ea5eef06}</key>
		<dict>
			<key>x</key>
			<string>449.555</string>
			<key>y</key>
			<string>549.143</string>
		</dict>
		<key>{ebfeb954-936e-4bc3-bc70-48152e7005a9}</key>
		<dict>
			<key>x</key>
			<string>402.707</string>
			<key>y</key>
			<string>551.623</string>
		</dict>
		<key>{dec48c5c-5bcb-4353-877f-905d45ece68d}</key>
		<dict>
			<key>x</key>
			<string>362.426</string>
			<key>y</key>
			<string>583.867</string>
		</dict>
		<key>{acb2a9a1-8c6c-45cb-bf27-3c5d04524d0b}</key>
		<dict>
			<key>x</key>
			<string>362.605</string>
			<key>y</key>
			<string>556.583</string>
		</dict>
		<key>{023a33e5-2389-426a-8e60-a86d4eb97743}</key>
		<dict>
			<key>x</key>
			<string>322.503</string>
			<key>y</key>
			<string>581.387</string>
		</dict>
		<key>{e63b8912-cc73-42f9-aba3-1896d227cfe0}</key>
		<dict>
			<key>x</key>
			<string>276.262</string>
			<key>y</key>
			<string>586.347</string>
		</dict>
		<key>{86a93be7-673d-44c8-9c5c-23072d1e1743}</key>
		<dict>
			<key>x</key>
			<string>237.233</string>
			<key>y</key>
			<string>581.387</string>
		</dict>
		<key>{43b1e238-c82c-4014-a99c-88e16fd363bf}</key>
		<dict>
			<key>x</key>
			<string>198.204</string>
			<key>y</key>
			<string>591.308</string>
		</dict>
		<key>{c34e5588-09be-4d84-8cb4-f5c7140d588a}</key>
		<dict>
			<key>x</key>
			<string>198.204</string>
			<key>y</key>
			<string>556.583</string>
		</dict>
		<key>{bbfe99c2-386e-41ed-8d5b-2a6dcb3e27ce}</key>
		<dict>
			<key>x</key>
			<string>154.706</string>
			<key>y</key>
			<string>551.623</string>
		</dict>
		<key>{f250fe1a-89b2-4d9f-af04-6b8f86719dd0}</key>
		<dict>
			<key>x</key>
			<string>117.777</string>
			<key>y</key>
			<string>591.308</string>
		</dict>
		<key>{5f1f58ec-3330-4fd4-b7e5-70a30d962265}</key>
		<dict>
			<key>x</key>
			<string>117.956</string>
			<key>y</key>
			<string>546.662</string>
		</dict>
		<key>{b89a8d15-9c33-4fd9-8ae2-498c3a24df4a}</key>
		<dict>
			<key>x</key>
			<string>94.9866</string>
			<key>y</key>
			<string>549.143</string>
		</dict>
		<key>{9a637efd-763d-4017-8420-8ab85eec2f38}</key>
		<dict>
			<key>x</key>
			<string>72.0175</string>
			<key>y</key>
			<string>551.623</string>
		</dict>
		<key>{5c11081c-39e5-4082-957c-66274efca666}</key>
		<dict>
			<key>x</key>
			<string>490.133</string>
			<key>y</key>
			<string>441.497</string>
		</dict>
		<key>{aa666220-0222-4eb8-93fb-0f8d4ce5fe48}</key>
		<dict>
			<key>x</key>
			<string>447.529</string>
			<key>y</key>
			<string>446.457</string>
		</dict>
		<key>{7af6a548-3886-4a26-8ebd-4339c232374c}</key>
		<dict>
			<key>x</key>
			<string>400.701</string>
			<key>y</key>
			<string>436.536</string>
		</dict>
		<key>{eb67113d-3153-40ea-96ab-52e770e06f57}</key>
		<dict>
			<key>x</key>
			<string>361.085</string>
			<key>y</key>
			<string>411.733</string>
		</dict>
		<key>{035fb1a5-362b-46a4-8a7d-ae3aebe8a9fe}</key>
		<dict>
			<key>x</key>
			<string>321.469</string>
			<key>y</key>
			<string>436.536</string>
		</dict>
		<key>{99041dd0-3f91-47fa-b12f-5542225fc377}</key>
		<dict>
			<key>x</key>
			<string>273.474</string>
			<key>y</key>
			<string>441.497</string>
		</dict>
		<key>{0335ad7b-3d89-4e72-baf1-355948cc16ec}</key>
		<dict>
			<key>x</key>
			<string>232.69</string>
			<key>y</key>
			<string>436.536</string>
		</dict>
		<key>{d14dfb9e-aee7-437f-bb07-aa7448ebb88b}</key>
		<dict>
			<key>x</key>
			<string>191.906</string>
			<key>y</key>
			<string>436.536</string>
		</dict>
		<key>{c6f4d0e1-79ea-42a1-8b9d-634f989a438f}</key>
		<dict>
			<key>x</key>
			<string>147.35</string>
			<key>y</key>
			<string>441.497</string>
		</dict>
		<key>{51c7d63e-1552-4340-af51-534cc05b9db7}</key>
		<dict>
			<key>x</key>
			<string>109.54</string>
			<key>y</key>
			<string>446.457</string>
		</dict>
		<key>{f2725fb8-30b9-4fac-aa1e-0c03e0c3ac4a}</key>
		<dict>
			<key>x</key>
			<string>71.7307</string>
			<key>y</key>
			<string>446.457</string>
		</dict>
		<key>{2724ca2d-fea5-44d8-8769-5dd39316572a}</key>
		<dict>
			<key>x</key>
			<string>490.184</string>
			<key>y</key>
			<string>296.646</string>
		</dict>
		<key>{2bbeedf5-0ae9-4b8a-8b21-c345cc3199ef}</key>
		<dict>
			<key>x</key>
			<string>490.184</string>
			<key>y</key>
			<string>261.922</string>
		</dict>
		<key>{ac43e8b5-2e0f-4abc-86b0-e42991bcc1c9}</key>
		<dict>
			<key>x</key>
			<string>447.612</string>
			<key>y</key>
			<string>294.166</string>
		</dict>
		<key>{b25a7d9c-2106-4a89-a2d1-dad5ce2889c3}</key>
		<dict>
			<key>x</key>
			<string>447.612</string>
			<key>y</key>
			<string>259.441</string>
		</dict>
		<key>{d5abb5d5-7158-4398-b649-83cb7a5c7539}</key>
		<dict>
			<key>x</key>
			<string>400.116</string>
			<key>y</key>
			<string>261.922</string>
		</dict>
		<key>{96e5dac2-ca1e-4768-b1ff-d13f9a966e2e}</key>
		<dict>
			<key>x</key>
			<string>359.188</string>
			<key>y</key>
			<string>294.166</string>
		</dict>
		<key>{c35b9eb9-7ac3-45c5-937e-cfc0a3d82b4a}</key>
		<dict>
			<key>x</key>
			<string>359.367</string>
			<key>y</key>
			<string>266.882</string>
		</dict>
		<key>{29de2538-0a84-4fd8-8579-78ac76760ba9}</key>
		<dict>
			<key>x</key>
			<string>318.617</string>
			<key>y</key>
			<string>291.685</string>
		</dict>
		<key>{379db295-6bad-4e82-aa40-7289dd295a97}</key>
		<dict>
			<key>x</key>
			<string>271.884</string>
			<key>y</key>
			<string>296.646</string>
		</dict>
		<key>{f6b7e0c4-e9f1-4e3c-8cda-db64c7a633a6}</key>
		<dict>
			<key>x</key>
			<string>232.362</string>
			<key>y</key>
			<string>291.685</string>
		</dict>
		<key>{ca18170f-fa67-4467-b1f9-1384f5cf0ea1}</key>
		<dict>
			<key>x</key>
			<string>192.84</string>
			<key>y</key>
			<string>266.882</string>
		</dict>
		<key>{354385d5-6ff4-44f6-a65f-61a5dd73f5d6}</key>
		<dict>
			<key>x</key>
			<string>147.758</string>
			<key>y</key>
			<string>261.922</string>
		</dict>
		<key>{cc2fbc83-8a2d-4004-ac5d-fb7d52f8bc5f}</key>
		<dict>
			<key>x</key>
			<string>109.888</string>
			<key>y</key>
			<string>256.961</string>
		</dict>
		<key>{6651b371-e9ed-4cb5-8471-0c2cf5905638}</key>
		<dict>
			<key>x</key>
			<string>72.0175</string>
			<key>y</key>
			<string>261.922</string>
		</dict>
		<key>{59b671ba-7009-4031-a5f0-21503f540b9a}</key>
		<dict>
			<key>x</key>
			<string>492.462</string>
			<key>y</key>
			<string>146.835</string>
		</dict>
		<key>{dc6af6e4-1443-4300-97b6-3be356b62e94}</key>
		<dict>
			<key>x</key>
			<string>492.462</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{02a82146-3840-4e63-860e-55c6e6c84200}</key>
		<dict>
			<key>x</key>
			<string>451.314</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{d0043594-7cfa-48c8-a21f-8630d2b44b14}</key>
		<dict>
			<key>x</key>
			<string>404.432</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{9e7a20c2-aa3e-4c49-8c67-99c35f856315}</key>
		<dict>
			<key>x</key>
			<string>364.583</string>
			<key>y</key>
			<string>149.315</string>
		</dict>
		<key>{e2f0aaa8-7bcb-4a4b-9322-4bb7a00393a4}</key>
		<dict>
			<key>x</key>
			<string>364.762</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{25ec936e-238b-440d-a885-d1360a9c84cb}</key>
		<dict>
			<key>x</key>
			<string>325.091</string>
			<key>y</key>
			<string>146.835</string>
		</dict>
		<key>{61a82803-9e76-48ef-994a-07fd890dc81d}</key>
		<dict>
			<key>x</key>
			<string>279.282</string>
			<key>y</key>
			<string>151.795</string>
		</dict>
		<key>{44feddf8-0db7-46d2-b337-3c13949de14d}</key>
		<dict>
			<key>x</key>
			<string>240.684</string>
			<key>y</key>
			<string>146.835</string>
		</dict>
		<key>{6b5bd505-f3b3-4bfd-94b9-0c2140a446bd}</key>
		<dict>
			<key>x</key>
			<string>202.086</string>
			<key>y</key>
			<string>156.756</string>
		</dict>
		<key>{627bcee4-445b-4529-aada-fbd8a2677711}</key>
		<dict>
			<key>x</key>
			<string>202.086</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{f64980a0-9169-4786-956d-14742f8b6c2b}</key>
		<dict>
			<key>x</key>
			<string>158.548</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{3ef24d8f-40c2-49a3-9ab7-0dca4b09ccfe}</key>
		<dict>
			<key>x</key>
			<string>121.577</string>
			<key>y</key>
			<string>156.756</string>
		</dict>
		<key>{269790ac-8ab3-4e47-b762-19f910c5cb6b}</key>
		<dict>
			<key>x</key>
			<string>121.756</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{3539fb34-f156-46ab-8cf9-0d72f3dff41f}</key>
		<dict>
			<key>x</key>
			<string>84.9647</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{1e39e1bc-4b35-4ba0-9a4b-bc8a3a52dfbf}</key>
		<dict>
			<key>x1</key>
			<string>491.702</string>
			<key>y1</key>
			<string>587.125</string>
			<key>x2</key>
			<string>491.702</string>
			<key>y2</key>
			<string>603.709</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{2537d8c9-82f1-4bf6-9fe3-9b95e2e5f569}</key>
		<dict>
			<key>x1</key>
			<string>497.946</string>
			<key>y1</key>
			<string>550.861</string>
			<key>x2</key>
			<string>497.946</string>
			<key>y2</key>
			<string>534.881</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{a9493783-d6fb-40c7-8e0a-d2a8ff38262b}</key>
		<dict>
			<key>x1</key>
			<string>449.877</string>
			<key>y1</key>
			<string>584.799</string>
			<key>x2</key>
			<string>449.877</string>
			<key>y2</key>
			<string>601.229</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{90c3a12f-fe72-4d41-a8fb-0ba5ea5eef06}</key>
		<dict>
			<key>x1</key>
			<string>455.763</string>
			<key>y1</key>
			<string>548.211</string>
			<key>x2</key>
			<string>455.763</string>
			<key>y2</key>
			<string>533.02</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{ebfeb954-936e-4bc3-bc70-48152e7005a9}</key>
		<dict>
			<key>x1</key>
			<string>408.915</string>
			<key>y1</key>
			<string>550.691</string>
			<key>x2</key>
			<string>408.915</string>
			<key>y2</key>
			<string>534.881</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{dec48c5c-5bcb-4353-877f-905d45ece68d}</key>
		<dict>
			<key>x1</key>
			<string>362.748</string>
			<key>y1</key>
			<string>584.645</string>
			<key>x2</key>
			<string>362.748</string>
			<key>y2</key>
			<string>601.229</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{acb2a9a1-8c6c-45cb-bf27-3c5d04524d0b}</key>
		<dict>
			<key>x1</key>
			<string>368.813</string>
			<key>y1</key>
			<string>555.652</string>
			<key>x2</key>
			<string>368.813</string>
			<key>y2</key>
			<string>539.221</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{023a33e5-2389-426a-8e60-a86d4eb97743}</key>
		<dict>
			<key>x1</key>
			<string>322.825</string>
			<key>y1</key>
			<string>582.318</string>
			<key>x2</key>
			<string>322.825</string>
			<key>y2</key>
			<string>598.749</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{e63b8912-cc73-42f9-aba3-1896d227cfe0}</key>
		<dict>
			<key>x1</key>
			<string>276.585</string>
			<key>y1</key>
			<string>587.279</string>
			<key>x2</key>
			<string>276.585</string>
			<key>y2</key>
			<string>603.709</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{86a93be7-673d-44c8-9c5c-23072d1e1743}</key>
		<dict>
			<key>x1</key>
			<string>237.555</string>
			<key>y1</key>
			<string>582.318</string>
			<key>x2</key>
			<string>237.555</string>
			<key>y2</key>
			<string>598.749</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{43b1e238-c82c-4014-a99c-88e16fd363bf}</key>
		<dict>
			<key>x1</key>
			<string>198.526</string>
			<key>y1</key>
			<string>592.24</string>
			<key>x2</key>
			<string>198.526</string>
			<key>y2</key>
			<string>608.67</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{c34e5588-09be-4d84-8cb4-f5c7140d588a}</key>
		<dict>
			<key>x1</key>
			<string>204.412</string>
			<key>y1</key>
			<string>555.652</string>
			<key>x2</key>
			<string>204.412</string>
			<key>y2</key>
			<string>539.221</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{bbfe99c2-386e-41ed-8d5b-2a6dcb3e27ce}</key>
		<dict>
			<key>x1</key>
			<string>160.915</string>
			<key>y1</key>
			<string>550.691</string>
			<key>x2</key>
			<string>160.915</string>
			<key>y2</key>
			<string>534.881</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{f250fe1a-89b2-4d9f-af04-6b8f86719dd0}</key>
		<dict>
			<key>x1</key>
			<string>118.099</string>
			<key>y1</key>
			<string>592.086</string>
			<key>x2</key>
			<string>118.099</string>
			<key>y2</key>
			<string>608.67</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{5f1f58ec-3330-4fd4-b7e5-70a30d962265}</key>
		<dict>
			<key>x1</key>
			<string>118.278</string>
			<key>y1</key>
			<string>547.594</string>
			<key>x2</key>
			<string>118.278</string>
			<key>y2</key>
			<string>562.164</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{b89a8d15-9c33-4fd9-8ae2-498c3a24df4a}</key>
		<dict>
			<key>x1</key>
			<string>101.195</string>
			<key>y1</key>
			<string>548.211</string>
			<key>x2</key>
			<string>101.195</string>
			<key>y2</key>
			<string>535.501</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{9a637efd-763d-4017-8420-8ab85eec2f38}</key>
		<dict>
			<key>x1</key>
			<string>78.226</string>
			<key>y1</key>
			<string>550.691</string>
			<key>x2</key>
			<string>78.226</string>
			<key>y2</key>
			<string>536.741</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{5c11081c-39e5-4082-957c-66274efca666}</key>
		<dict>
			<key>x1</key>
			<string>490.455</string>
			<key>y1</key>
			<string>442.274</string>
			<key>x2</key>
			<string>490.455</string>
			<key>y2</key>
			<string>458.859</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{aa666220-0222-4eb8-93fb-0f8d4ce5fe48}</key>
		<dict>
			<key>x1</key>
			<string>447.851</string>
			<key>y1</key>
			<string>447.389</string>
			<key>x2</key>
			<string>447.851</string>
			<key>y2</key>
			<string>463.819</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{7af6a548-3886-4a26-8ebd-4339c232374c}</key>
		<dict>
			<key>x1</key>
			<string>401.024</string>
			<key>y1</key>
			<string>437.468</string>
			<key>x2</key>
			<string>401.024</string>
			<key>y2</key>
			<string>453.898</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{eb67113d-3153-40ea-96ab-52e770e06f57}</key>
		<dict>
			<key>x1</key>
			<string>367.294</string>
			<key>y1</key>
			<string>410.801</string>
			<key>x2</key>
			<string>367.294</string>
			<key>y2</key>
			<string>394.371</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{035fb1a5-362b-46a4-8a7d-ae3aebe8a9fe}</key>
		<dict>
			<key>x1</key>
			<string>321.792</string>
			<key>y1</key>
			<string>437.468</string>
			<key>x2</key>
			<string>321.792</string>
			<key>y2</key>
			<string>453.898</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{99041dd0-3f91-47fa-b12f-5542225fc377}</key>
		<dict>
			<key>x1</key>
			<string>273.796</string>
			<key>y1</key>
			<string>442.428</string>
			<key>x2</key>
			<string>273.796</string>
			<key>y2</key>
			<string>458.859</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{0335ad7b-3d89-4e72-baf1-355948cc16ec}</key>
		<dict>
			<key>x1</key>
			<string>233.012</string>
			<key>y1</key>
			<string>437.468</string>
			<key>x2</key>
			<string>233.012</string>
			<key>y2</key>
			<string>453.898</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{d14dfb9e-aee7-437f-bb07-aa7448ebb88b}</key>
		<dict>
			<key>x1</key>
			<string>192.228</string>
			<key>y1</key>
			<string>437.468</string>
			<key>x2</key>
			<string>192.228</string>
			<key>y2</key>
			<string>453.898</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{c6f4d0e1-79ea-42a1-8b9d-634f989a438f}</key>
		<dict>
			<key>x1</key>
			<string>147.672</string>
			<key>y1</key>
			<string>442.428</string>
			<key>x2</key>
			<string>147.672</string>
			<key>y2</key>
			<string>458.859</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{51c7d63e-1552-4340-af51-534cc05b9db7}</key>
		<dict>
			<key>x1</key>
			<string>109.863</string>
			<key>y1</key>
			<string>447.389</string>
			<key>x2</key>
			<string>109.863</string>
			<key>y2</key>
			<string>463.819</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f2725fb8-30b9-4fac-aa1e-0c03e0c3ac4a}</key>
		<dict>
			<key>x1</key>
			<string>72.0531</string>
			<key>y1</key>
			<string>447.389</string>
			<key>x2</key>
			<string>72.0531</string>
			<key>y2</key>
			<string>463.819</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{2724ca2d-fea5-44d8-8769-5dd39316572a}</key>
		<dict>
			<key>x1</key>
			<string>490.507</string>
			<key>y1</key>
			<string>297.424</string>
			<key>x2</key>
			<string>490.507</string>
			<key>y2</key>
			<string>314.008</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{2bbeedf5-0ae9-4b8a-8b21-c345cc3199ef}</key>
		<dict>
			<key>x1</key>
			<string>496.751</string>
			<key>y1</key>
			<string>261.16</string>
			<key>x2</key>
			<string>496.751</string>
			<key>y2</key>
			<string>245.179</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{ac43e8b5-2e0f-4abc-86b0-e42991bcc1c9}</key>
		<dict>
			<key>x1</key>
			<string>447.935</string>
			<key>y1</key>
			<string>295.097</string>
			<key>x2</key>
			<string>447.935</string>
			<key>y2</key>
			<string>311.528</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{b25a7d9c-2106-4a89-a2d1-dad5ce2889c3}</key>
		<dict>
			<key>x1</key>
			<string>453.821</string>
			<key>y1</key>
			<string>258.51</string>
			<key>x2</key>
			<string>453.821</string>
			<key>y2</key>
			<string>243.319</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{d5abb5d5-7158-4398-b649-83cb7a5c7539}</key>
		<dict>
			<key>x1</key>
			<string>406.325</string>
			<key>y1</key>
			<string>260.99</string>
			<key>x2</key>
			<string>406.325</string>
			<key>y2</key>
			<string>245.179</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{96e5dac2-ca1e-4768-b1ff-d13f9a966e2e}</key>
		<dict>
			<key>x1</key>
			<string>359.51</string>
			<key>y1</key>
			<string>294.943</string>
			<key>x2</key>
			<string>359.51</string>
			<key>y2</key>
			<string>311.528</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{c35b9eb9-7ac3-45c5-937e-cfc0a3d82b4a}</key>
		<dict>
			<key>x1</key>
			<string>365.575</string>
			<key>y1</key>
			<string>265.95</string>
			<key>x2</key>
			<string>365.575</string>
			<key>y2</key>
			<string>249.52</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{29de2538-0a84-4fd8-8579-78ac76760ba9}</key>
		<dict>
			<key>x1</key>
			<string>318.94</string>
			<key>y1</key>
			<string>292.617</string>
			<key>x2</key>
			<string>318.94</string>
			<key>y2</key>
			<string>309.048</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{379db295-6bad-4e82-aa40-7289dd295a97}</key>
		<dict>
			<key>x1</key>
			<string>272.207</string>
			<key>y1</key>
			<string>297.578</string>
			<key>x2</key>
			<string>272.207</string>
			<key>y2</key>
			<string>314.008</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f6b7e0c4-e9f1-4e3c-8cda-db64c7a633a6}</key>
		<dict>
			<key>x1</key>
			<string>232.685</string>
			<key>y1</key>
			<string>292.617</string>
			<key>x2</key>
			<string>232.685</string>
			<key>y2</key>
			<string>309.048</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{ca18170f-fa67-4467-b1f9-1384f5cf0ea1}</key>
		<dict>
			<key>x1</key>
			<string>199.049</string>
			<key>y1</key>
			<string>265.95</string>
			<key>x2</key>
			<string>199.049</string>
			<key>y2</key>
			<string>249.52</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{354385d5-6ff4-44f6-a65f-61a5dd73f5d6}</key>
		<dict>
			<key>x1</key>
			<string>153.967</string>
			<key>y1</key>
			<string>260.99</string>
			<key>x2</key>
			<string>153.967</string>
			<key>y2</key>
			<string>245.179</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{cc2fbc83-8a2d-4004-ac5d-fb7d52f8bc5f}</key>
		<dict>
			<key>x1</key>
			<string>110.21</string>
			<key>y1</key>
			<string>257.893</string>
			<key>x2</key>
			<string>110.21</string>
			<key>y2</key>
			<string>272.463</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{6651b371-e9ed-4cb5-8471-0c2cf5905638}</key>
		<dict>
			<key>x1</key>
			<string>78.226</string>
			<key>y1</key>
			<string>260.99</string>
			<key>x2</key>
			<string>78.226</string>
			<key>y2</key>
			<string>245.179</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{59b671ba-7009-4031-a5f0-21503f540b9a}</key>
		<dict>
			<key>x1</key>
			<string>492.785</string>
			<key>y1</key>
			<string>147.612</string>
			<key>x2</key>
			<string>492.785</string>
			<key>y2</key>
			<string>164.197</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{dc6af6e4-1443-4300-97b6-3be356b62e94}</key>
		<dict>
			<key>x1</key>
			<string>492.785</string>
			<key>y1</key>
			<string>112.888</string>
			<key>x2</key>
			<string>492.785</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{02a82146-3840-4e63-860e-55c6e6c84200}</key>
		<dict>
			<key>x1</key>
			<string>457.523</string>
			<key>y1</key>
			<string>113.659</string>
			<key>x2</key>
			<string>457.523</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{d0043594-7cfa-48c8-a21f-8630d2b44b14}</key>
		<dict>
			<key>x1</key>
			<string>410.641</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>410.641</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{9e7a20c2-aa3e-4c49-8c67-99c35f856315}</key>
		<dict>
			<key>x1</key>
			<string>364.905</string>
			<key>y1</key>
			<string>150.093</string>
			<key>x2</key>
			<string>364.905</string>
			<key>y2</key>
			<string>166.677</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{e2f0aaa8-7bcb-4a4b-9322-4bb7a00393a4}</key>
		<dict>
			<key>x1</key>
			<string>370.97</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>370.97</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{25ec936e-238b-440d-a885-d1360a9c84cb}</key>
		<dict>
			<key>x1</key>
			<string>325.414</string>
			<key>y1</key>
			<string>147.766</string>
			<key>x2</key>
			<string>325.414</string>
			<key>y2</key>
			<string>164.197</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{61a82803-9e76-48ef-994a-07fd890dc81d}</key>
		<dict>
			<key>x1</key>
			<string>279.604</string>
			<key>y1</key>
			<string>152.727</string>
			<key>x2</key>
			<string>279.604</string>
			<key>y2</key>
			<string>169.157</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{44feddf8-0db7-46d2-b337-3c13949de14d}</key>
		<dict>
			<key>x1</key>
			<string>241.006</string>
			<key>y1</key>
			<string>147.766</string>
			<key>x2</key>
			<string>241.006</string>
			<key>y2</key>
			<string>164.197</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{6b5bd505-f3b3-4bfd-94b9-0c2140a446bd}</key>
		<dict>
			<key>x1</key>
			<string>202.408</string>
			<key>y1</key>
			<string>157.688</string>
			<key>x2</key>
			<string>202.408</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{627bcee4-445b-4529-aada-fbd8a2677711}</key>
		<dict>
			<key>x1</key>
			<string>208.294</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>208.294</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f64980a0-9169-4786-956d-14742f8b6c2b}</key>
		<dict>
			<key>x1</key>
			<string>164.756</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>164.756</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{3ef24d8f-40c2-49a3-9ab7-0dca4b09ccfe}</key>
		<dict>
			<key>x1</key>
			<string>121.9</string>
			<key>y1</key>
			<string>157.534</string>
			<key>x2</key>
			<string>121.9</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{269790ac-8ab3-4e47-b762-19f910c5cb6b}</key>
		<dict>
			<key>x1</key>
			<string>122.079</string>
			<key>y1</key>
			<string>113.042</string>
			<key>x2</key>
			<string>122.079</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{3539fb34-f156-46ab-8cf9-0d72f3dff41f}</key>
		<dict>
			<key>x1</key>
			<string>91.1732</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>91.1732</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
	</dict>
</dict>
</plist>