<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributes</key>
	<dict>
		<key>time</key>
		<dict>
			<key>beats</key>
			<string>4</string>
			<key>per_minute</key>
			<string>120</string>
			<key>beat_type</key>
			<string>4</string>
		</dict>
		<key>metronome</key>
		<dict>
			<key>beat_unit</key>
			<string>quarter</string>
			<key>per_minute</key>
			<string>120</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{fa75fdb8-c604-4f81-8d28-ef8daa6feec5}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{546bdcfc-6e4f-418e-a00c-2daa188ed582}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>alter</key>
			<string>1</string>
		</dict>
		<key>{2e94ed05-02e2-4f94-92dd-cd0642def1dc}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{aca613b2-8c04-48ed-9b3a-6aa06cd89dff}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{7dbb3579-ef4d-4220-8cef-528472ee17c4}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{1bdd3841-719a-4dfa-9fd6-7185c4e103d0}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>alter</key>
			<string>1</string>
		</dict>
		<key>{d481e7fa-d105-49f6-ad83-7796e890a686}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{a1f47a37-d120-4878-b084-63bac94132d7}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{824cad28-6762-47be-936f-02b7c31a267d}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{fbf6283d-f649-4853-9aaa-e1f69dea4cd5}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{09efd05b-b760-4f48-9485-583840e1a8c1}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>alter</key>
			<string>1</string>
		</dict>
		<key>{667bf50d-8700-471f-a41c-3e0aeccb95cb}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{1eb1fa4f-7bea-497b-92eb-fecac164d553}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{563fb8f2-220b-4627-be6f-593d357813d0}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{8abf0153-c8f3-4150-9fc7-ebabf4361485}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{e23a1de1-6b64-4a27-b342-9408a7818751}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{fc86fb74-c16c-4bdd-b28d-160a5f9d1468}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{9b45febe-f792-403f-82e8-971c942cbb52}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{fab10009-7aff-4694-9378-96186ec35288}</key>
		<dict>
			<key>type</key>
			<string>whole</string>
			<key>duration</key>
			<string>2</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{78910b83-73dd-4a5f-9c9a-ef8c5780b7d6}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>alter</key>
			<string>1</string>
		</dict>
		<key>{5a2aa6aa-7fd6-4946-a519-d6e76a284fb6}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{b89086e2-5bbd-4634-91ce-9557fbc2266e}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{fb446cfc-9d2d-43d9-b9d4-f442533e1bb8}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{c811766f-f2ee-4543-b2a7-c34621633eed}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>alter</key>
			<string>1</string>
		</dict>
		<key>{d2d97d47-63e2-4dcc-8a64-270116375d46}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{d0eafa24-64c7-4e15-a9d2-f1ae3f2006e7}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{f8df98cf-7a49-459c-8126-3a709872d7a3}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{51961f2b-94d8-4fad-8a15-c5149831d2c3}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{4bf9e08e-d118-480c-991b-870c3cba0389}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{c3006496-52d4-42fc-89be-b6a91dfcc5d1}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{e1f5ecbf-e319-4f8d-837c-804aa3be4ca2}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>alter</key>
			<string>1</string>
		</dict>
		<key>{e12a1e06-9929-4ac3-9cee-57478907cef6}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>alter</key>
			<string>1</string>
		</dict>
		<key>{0e58277f-57fb-480c-907b-d1df23c45a3a}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{f250b75e-a7d2-4b31-9b57-051d63086fc6}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{8304ac49-deb4-4ae8-abb4-07e445182947}</key>
		<dict>
			<key>type</key>
			<string>whole</string>
			<key>duration</key>
			<string>2</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{bf1e47ac-7b77-43c9-a43f-244c42b83f33}</key>
		<dict>
			<key>type</key>
			<string>whole</string>
			<key>duration</key>
			<string>2</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
	</dict>
	<key>events</key>
	<dict>
		<key>0</key>
		<dict>
			<key>elid</key>
			<string>4</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>8000</string>
			<key>notes</key>
			<string>{fa75fdb8-c604-4f81-8d28-ef8daa6feec5}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>1</key>
		<dict>
			<key>elid</key>
			<string>5</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>8500</string>
			<key>notes</key>
			<string>{546bdcfc-6e4f-418e-a00c-2daa188ed582}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>2</key>
		<dict>
			<key>elid</key>
			<string>6</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>9000</string>
			<key>notes</key>
			<string>{2e94ed05-02e2-4f94-92dd-cd0642def1dc}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>3</key>
		<dict>
			<key>elid</key>
			<string>7</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>9500</string>
			<key>notes</key>
			<string>{aca613b2-8c04-48ed-9b3a-6aa06cd89dff}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>4</key>
		<dict>
			<key>elid</key>
			<string>8</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>10000</string>
			<key>notes</key>
			<string>{7dbb3579-ef4d-4220-8cef-528472ee17c4}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>5</key>
		<dict>
			<key>elid</key>
			<string>9</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>10500</string>
			<key>notes</key>
			<string>{1bdd3841-719a-4dfa-9fd6-7185c4e103d0}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>6</key>
		<dict>
			<key>elid</key>
			<string>10</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>11000</string>
			<key>notes</key>
			<string>{d481e7fa-d105-49f6-ad83-7796e890a686}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>7</key>
		<dict>
			<key>elid</key>
			<string>11</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>11500</string>
			<key>notes</key>
			<string>{a1f47a37-d120-4878-b084-63bac94132d7}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>8</key>
		<dict>
			<key>elid</key>
			<string>12</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>12000</string>
			<key>notes</key>
			<string>{824cad28-6762-47be-936f-02b7c31a267d}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>9</key>
		<dict>
			<key>elid</key>
			<string>13</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>12500</string>
			<key>notes</key>
			<string>{fbf6283d-f649-4853-9aaa-e1f69dea4cd5}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>10</key>
		<dict>
			<key>elid</key>
			<string>14</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>13000</string>
			<key>notes</key>
			<string>{09efd05b-b760-4f48-9485-583840e1a8c1}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>11</key>
		<dict>
			<key>elid</key>
			<string>15</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>13500</string>
			<key>notes</key>
			<string>{667bf50d-8700-471f-a41c-3e0aeccb95cb}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>12</key>
		<dict>
			<key>elid</key>
			<string>16</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>14000</string>
			<key>notes</key>
			<string>{1eb1fa4f-7bea-497b-92eb-fecac164d553} {563fb8f2-220b-4627-be6f-593d357813d0}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>13</key>
		<dict>
			<key>elid</key>
			<string>17</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>14500</string>
			<key>notes</key>
			<string>{8abf0153-c8f3-4150-9fc7-ebabf4361485}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>14</key>
		<dict>
			<key>elid</key>
			<string>18</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>15000</string>
			<key>notes</key>
			<string>{e23a1de1-6b64-4a27-b342-9408a7818751}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>15</key>
		<dict>
			<key>elid</key>
			<string>19</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>15500</string>
			<key>notes</key>
			<string>{fc86fb74-c16c-4bdd-b28d-160a5f9d1468}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>16</key>
		<dict>
			<key>elid</key>
			<string>20</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>16000</string>
			<key>notes</key>
			<string>{9b45febe-f792-403f-82e8-971c942cbb52} {fab10009-7aff-4694-9378-96186ec35288}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>17</key>
		<dict>
			<key>elid</key>
			<string>21</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>16500</string>
			<key>notes</key>
			<string>{78910b83-73dd-4a5f-9c9a-ef8c5780b7d6}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>18</key>
		<dict>
			<key>elid</key>
			<string>22</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>17000</string>
			<key>notes</key>
			<string>{5a2aa6aa-7fd6-4946-a519-d6e76a284fb6}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>19</key>
		<dict>
			<key>elid</key>
			<string>23</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>17500</string>
			<key>notes</key>
			<string>{b89086e2-5bbd-4634-91ce-9557fbc2266e}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>20</key>
		<dict>
			<key>elid</key>
			<string>24</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>18000</string>
			<key>notes</key>
			<string>{fb446cfc-9d2d-43d9-b9d4-f442533e1bb8}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>21</key>
		<dict>
			<key>elid</key>
			<string>25</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>18500</string>
			<key>notes</key>
			<string>{c811766f-f2ee-4543-b2a7-c34621633eed}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>22</key>
		<dict>
			<key>elid</key>
			<string>26</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>19000</string>
			<key>notes</key>
			<string>{d2d97d47-63e2-4dcc-8a64-270116375d46}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>23</key>
		<dict>
			<key>elid</key>
			<string>27</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>19500</string>
			<key>notes</key>
			<string>{d0eafa24-64c7-4e15-a9d2-f1ae3f2006e7}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>24</key>
		<dict>
			<key>elid</key>
			<string>28</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>20000</string>
			<key>notes</key>
			<string>{f8df98cf-7a49-459c-8126-3a709872d7a3} {51961f2b-94d8-4fad-8a15-c5149831d2c3}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>25</key>
		<dict>
			<key>elid</key>
			<string>29</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>20500</string>
			<key>notes</key>
			<string>{4bf9e08e-d118-480c-991b-870c3cba0389} {c3006496-52d4-42fc-89be-b6a91dfcc5d1}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>26</key>
		<dict>
			<key>elid</key>
			<string>30</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>21000</string>
			<key>notes</key>
			<string>{e1f5ecbf-e319-4f8d-837c-804aa3be4ca2} {e12a1e06-9929-4ac3-9cee-57478907cef6}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>27</key>
		<dict>
			<key>elid</key>
			<string>31</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>21500</string>
			<key>notes</key>
			<string>{0e58277f-57fb-480c-907b-d1df23c45a3a} {f250b75e-a7d2-4b31-9b57-051d63086fc6}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>28</key>
		<dict>
			<key>elid</key>
			<string>32</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>22000</string>
			<key>notes</key>
			<string>{8304ac49-deb4-4ae8-abb4-07e445182947} {bf1e47ac-7b77-43c9-a43f-244c42b83f33}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
	</dict>
	<key>metronomes</key>
	<dict>
		<key>0</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>1000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>1500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>2000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>2500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>3000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>3500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>4000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>4500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>5000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>5500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>6000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>6500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>7000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>7500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>8000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>8500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>9000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>9500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>10000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>10500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>11000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>11500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>12000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>12500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>13000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>13500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>14000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>14500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>15000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>15500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>16000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>16500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>17000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>17500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>18000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>18500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>19000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>19500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>20000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>20500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>21000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>21500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>22000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>22500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>23000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>23500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>24000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>24500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>25000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>25500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>26000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>26500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>27000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>27500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>28000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>28500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>29000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>29500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>30000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>30500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>31000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>31500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
	</dict>
</dict>
</plist>