<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>541.205</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>576.784</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{bf1e47ac-7b77-43c9-a43f-244c42b83f33}</key>
		<dict>
			<key>x</key>
			<string>463.18</string>
			<key>y</key>
			<string>459.354</string>
		</dict>
		<key>{8304ac49-deb4-4ae8-abb4-07e445182947}</key>
		<dict>
			<key>x</key>
			<string>463.18</string>
			<key>y</key>
			<string>419.669</string>
		</dict>
		<key>{f250b75e-a7d2-4b31-9b57-051d63086fc6}</key>
		<dict>
			<key>x</key>
			<string>425.209</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{0e58277f-57fb-480c-907b-d1df23c45a3a}</key>
		<dict>
			<key>x</key>
			<string>425.209</string>
			<key>y</key>
			<string>409.748</string>
		</dict>
		<key>{e12a1e06-9929-4ac3-9cee-57478907cef6}</key>
		<dict>
			<key>x</key>
			<string>393.984</string>
			<key>y</key>
			<string>451.913</string>
		</dict>
		<key>{e1f5ecbf-e319-4f8d-837c-804aa3be4ca2}</key>
		<dict>
			<key>x</key>
			<string>393.984</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{c3006496-52d4-42fc-89be-b6a91dfcc5d1}</key>
		<dict>
			<key>x</key>
			<string>362.759</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{4bf9e08e-d118-480c-991b-870c3cba0389}</key>
		<dict>
			<key>x</key>
			<string>362.759</string>
			<key>y</key>
			<string>409.748</string>
		</dict>
		<key>{51961f2b-94d8-4fad-8a15-c5149831d2c3}</key>
		<dict>
			<key>x</key>
			<string>331.535</string>
			<key>y</key>
			<string>456.874</string>
		</dict>
		<key>{f8df98cf-7a49-459c-8126-3a709872d7a3}</key>
		<dict>
			<key>x</key>
			<string>331.535</string>
			<key>y</key>
			<string>417.189</string>
		</dict>
		<key>{d0eafa24-64c7-4e15-a9d2-f1ae3f2006e7}</key>
		<dict>
			<key>x</key>
			<string>293.564</string>
			<key>y</key>
			<string>454.394</string>
		</dict>
		<key>{d2d97d47-63e2-4dcc-8a64-270116375d46}</key>
		<dict>
			<key>x</key>
			<string>262.339</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{c811766f-f2ee-4543-b2a7-c34621633eed}</key>
		<dict>
			<key>x</key>
			<string>231.115</string>
			<key>y</key>
			<string>451.913</string>
		</dict>
		<key>{fb446cfc-9d2d-43d9-b9d4-f442533e1bb8}</key>
		<dict>
			<key>x</key>
			<string>199.89</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{b89086e2-5bbd-4634-91ce-9557fbc2266e}</key>
		<dict>
			<key>x</key>
			<string>163.158</string>
			<key>y</key>
			<string>419.669</string>
		</dict>
		<key>{5a2aa6aa-7fd6-4946-a519-d6e76a284fb6}</key>
		<dict>
			<key>x</key>
			<string>133.172</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{78910b83-73dd-4a5f-9c9a-ef8c5780b7d6}</key>
		<dict>
			<key>x</key>
			<string>103.185</string>
			<key>y</key>
			<string>417.189</string>
		</dict>
		<key>{fab10009-7aff-4694-9378-96186ec35288}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>459.354</string>
		</dict>
		<key>{9b45febe-f792-403f-82e8-971c942cbb52}</key>
		<dict>
			<key>x</key>
			<string>73.1995</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{fc86fb74-c16c-4bdd-b28d-160a5f9d1468}</key>
		<dict>
			<key>x</key>
			<string>530.748</string>
			<key>y</key>
			<string>310.535</string>
		</dict>
		<key>{e23a1de1-6b64-4a27-b342-9408a7818751}</key>
		<dict>
			<key>x</key>
			<string>502.731</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{8abf0153-c8f3-4150-9fc7-ebabf4361485}</key>
		<dict>
			<key>x</key>
			<string>474.714</string>
			<key>y</key>
			<string>305.575</string>
		</dict>
		<key>{563fb8f2-220b-4627-be6f-593d357813d0}</key>
		<dict>
			<key>x</key>
			<string>446.697</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{1eb1fa4f-7bea-497b-92eb-fecac164d553}</key>
		<dict>
			<key>x</key>
			<string>446.518</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{667bf50d-8700-471f-a41c-3e0aeccb95cb}</key>
		<dict>
			<key>x</key>
			<string>409.798</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{09efd05b-b760-4f48-9485-583840e1a8c1}</key>
		<dict>
			<key>x</key>
			<string>379.825</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{fbf6283d-f649-4853-9aaa-e1f69dea4cd5}</key>
		<dict>
			<key>x</key>
			<string>349.852</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{824cad28-6762-47be-936f-02b7c31a267d}</key>
		<dict>
			<key>x</key>
			<string>319.878</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{a1f47a37-d120-4878-b084-63bac94132d7}</key>
		<dict>
			<key>x</key>
			<string>283.158</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{d481e7fa-d105-49f6-ad83-7796e890a686}</key>
		<dict>
			<key>x</key>
			<string>253.185</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{1bdd3841-719a-4dfa-9fd6-7185c4e103d0}</key>
		<dict>
			<key>x</key>
			<string>223.212</string>
			<key>y</key>
			<string>305.575</string>
		</dict>
		<key>{7dbb3579-ef4d-4220-8cef-528472ee17c4}</key>
		<dict>
			<key>x</key>
			<string>193.238</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{aca613b2-8c04-48ed-9b3a-6aa06cd89dff}</key>
		<dict>
			<key>x</key>
			<string>157.757</string>
			<key>y</key>
			<string>273.331</string>
		</dict>
		<key>{2e94ed05-02e2-4f94-92dd-cd0642def1dc}</key>
		<dict>
			<key>x</key>
			<string>129.022</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{546bdcfc-6e4f-418e-a00c-2daa188ed582}</key>
		<dict>
			<key>x</key>
			<string>100.287</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{fa75fdb8-c604-4f81-8d28-ef8daa6feec5}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{f250b75e-a7d2-4b31-9b57-051d63086fc6}</key>
		<dict>
			<key>x1</key>
			<string>425.531</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>425.531</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{0e58277f-57fb-480c-907b-d1df23c45a3a}</key>
		<dict>
			<key>x1</key>
			<string>431.417</string>
			<key>y1</key>
			<string>408.816</string>
			<key>x2</key>
			<string>431.417</string>
			<key>y2</key>
			<string>393.006</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{e12a1e06-9929-4ac3-9cee-57478907cef6}</key>
		<dict>
			<key>x1</key>
			<string>394.307</string>
			<key>y1</key>
			<string>452.845</string>
			<key>x2</key>
			<string>394.307</string>
			<key>y2</key>
			<string>468.656</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{e1f5ecbf-e319-4f8d-837c-804aa3be4ca2}</key>
		<dict>
			<key>x1</key>
			<string>400.193</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>400.193</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c3006496-52d4-42fc-89be-b6a91dfcc5d1}</key>
		<dict>
			<key>x1</key>
			<string>363.082</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>363.082</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{4bf9e08e-d118-480c-991b-870c3cba0389}</key>
		<dict>
			<key>x1</key>
			<string>368.968</string>
			<key>y1</key>
			<string>408.816</string>
			<key>x2</key>
			<string>368.968</string>
			<key>y2</key>
			<string>393.006</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{51961f2b-94d8-4fad-8a15-c5149831d2c3}</key>
		<dict>
			<key>x1</key>
			<string>331.857</string>
			<key>y1</key>
			<string>457.806</string>
			<key>x2</key>
			<string>331.857</string>
			<key>y2</key>
			<string>472.376</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{f8df98cf-7a49-459c-8126-3a709872d7a3}</key>
		<dict>
			<key>x1</key>
			<string>337.743</string>
			<key>y1</key>
			<string>416.257</string>
			<key>x2</key>
			<string>337.743</string>
			<key>y2</key>
			<string>399.827</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d0eafa24-64c7-4e15-a9d2-f1ae3f2006e7}</key>
		<dict>
			<key>x1</key>
			<string>293.886</string>
			<key>y1</key>
			<string>455.325</string>
			<key>x2</key>
			<string>293.886</string>
			<key>y2</key>
			<string>470.516</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{d2d97d47-63e2-4dcc-8a64-270116375d46}</key>
		<dict>
			<key>x1</key>
			<string>262.662</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>262.662</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{c811766f-f2ee-4543-b2a7-c34621633eed}</key>
		<dict>
			<key>x1</key>
			<string>231.437</string>
			<key>y1</key>
			<string>452.845</string>
			<key>x2</key>
			<string>231.437</string>
			<key>y2</key>
			<string>468.656</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{fb446cfc-9d2d-43d9-b9d4-f442533e1bb8}</key>
		<dict>
			<key>x1</key>
			<string>200.212</string>
			<key>y1</key>
			<string>450.365</string>
			<key>x2</key>
			<string>200.212</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{b89086e2-5bbd-4634-91ce-9557fbc2266e}</key>
		<dict>
			<key>x1</key>
			<string>169.366</string>
			<key>y1</key>
			<string>418.738</string>
			<key>x2</key>
			<string>169.366</string>
			<key>y2</key>
			<string>402.307</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{5a2aa6aa-7fd6-4946-a519-d6e76a284fb6}</key>
		<dict>
			<key>x1</key>
			<string>139.38</string>
			<key>y1</key>
			<string>413.777</string>
			<key>x2</key>
			<string>139.38</string>
			<key>y2</key>
			<string>397.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{78910b83-73dd-4a5f-9c9a-ef8c5780b7d6}</key>
		<dict>
			<key>x1</key>
			<string>109.394</string>
			<key>y1</key>
			<string>416.257</string>
			<key>x2</key>
			<string>109.394</string>
			<key>y2</key>
			<string>399.827</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9b45febe-f792-403f-82e8-971c942cbb52}</key>
		<dict>
			<key>x1</key>
			<string>79.408</string>
			<key>y1</key>
			<string>413.777</string>
			<key>x2</key>
			<string>79.408</string>
			<key>y2</key>
			<string>397.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{fc86fb74-c16c-4bdd-b28d-160a5f9d1468}</key>
		<dict>
			<key>x1</key>
			<string>531.07</string>
			<key>y1</key>
			<string>311.467</string>
			<key>x2</key>
			<string>531.07</string>
			<key>y2</key>
			<string>326.037</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{e23a1de1-6b64-4a27-b342-9408a7818751}</key>
		<dict>
			<key>x1</key>
			<string>503.053</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>503.053</string>
			<key>y2</key>
			<string>324.177</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{8abf0153-c8f3-4150-9fc7-ebabf4361485}</key>
		<dict>
			<key>x1</key>
			<string>475.037</string>
			<key>y1</key>
			<string>306.506</string>
			<key>x2</key>
			<string>475.037</string>
			<key>y2</key>
			<string>322.317</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{563fb8f2-220b-4627-be6f-593d357813d0}</key>
		<dict>
			<key>x1</key>
			<string>447.02</string>
			<key>y1</key>
			<string>304.026</string>
			<key>x2</key>
			<string>447.02</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{1eb1fa4f-7bea-497b-92eb-fecac164d553}</key>
		<dict>
			<key>x1</key>
			<string>453.085</string>
			<key>y1</key>
			<string>262.648</string>
			<key>x2</key>
			<string>453.085</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{667bf50d-8700-471f-a41c-3e0aeccb95cb}</key>
		<dict>
			<key>x1</key>
			<string>416.007</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>416.007</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{09efd05b-b760-4f48-9485-583840e1a8c1}</key>
		<dict>
			<key>x1</key>
			<string>386.034</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>386.034</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{fbf6283d-f649-4853-9aaa-e1f69dea4cd5}</key>
		<dict>
			<key>x1</key>
			<string>356.06</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>356.06</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{824cad28-6762-47be-936f-02b7c31a267d}</key>
		<dict>
			<key>x1</key>
			<string>326.087</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>326.087</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{a1f47a37-d120-4878-b084-63bac94132d7}</key>
		<dict>
			<key>x1</key>
			<string>283.481</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>283.481</string>
			<key>y2</key>
			<string>324.177</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{d481e7fa-d105-49f6-ad83-7796e890a686}</key>
		<dict>
			<key>x1</key>
			<string>253.507</string>
			<key>y1</key>
			<string>304.026</string>
			<key>x2</key>
			<string>253.507</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{1bdd3841-719a-4dfa-9fd6-7185c4e103d0}</key>
		<dict>
			<key>x1</key>
			<string>223.534</string>
			<key>y1</key>
			<string>306.506</string>
			<key>x2</key>
			<string>223.534</string>
			<key>y2</key>
			<string>322.317</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{7dbb3579-ef4d-4220-8cef-528472ee17c4}</key>
		<dict>
			<key>x1</key>
			<string>193.561</string>
			<key>y1</key>
			<string>304.026</string>
			<key>x2</key>
			<string>193.561</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{aca613b2-8c04-48ed-9b3a-6aa06cd89dff}</key>
		<dict>
			<key>x1</key>
			<string>163.965</string>
			<key>y1</key>
			<string>272.399</string>
			<key>x2</key>
			<string>163.965</string>
			<key>y2</key>
			<string>255.969</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{2e94ed05-02e2-4f94-92dd-cd0642def1dc}</key>
		<dict>
			<key>x1</key>
			<string>135.231</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>135.231</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{546bdcfc-6e4f-418e-a00c-2daa188ed582}</key>
		<dict>
			<key>x1</key>
			<string>106.496</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>106.496</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{fa75fdb8-c604-4f81-8d28-ef8daa6feec5}</key>
		<dict>
			<key>x1</key>
			<string>77.7609</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>77.7609</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
	</dict>
</dict>
</plist>