<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>pen_width</key>
	<string>0.40</string>
	<key>xend</key>
	<real>3387.54</real>
	<key>stafflines</key>
	<dict>
		<key>0</key>
		<dict>
			<key>x</key>
			<string>10.4173</string>
			<key>y</key>
			<string>16.3582</string>
			<key>bx</key>
			<string>10.4173</string>
			<key>by</key>
			<string>51.9378</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{d28797dd-12e4-47a8-85c5-4cece9cfe51e}</key>
		<dict>
			<key>x</key>
			<string>3262.53</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9ce21913-351a-4939-8c8a-685fff673f85}</key>
		<dict>
			<key>x</key>
			<string>3262.53</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{a108114d-2c60-41b1-9407-eeb4a05ce0dc}</key>
		<dict>
			<key>x</key>
			<string>3214.98</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{f4834533-68a9-403a-b272-228d6fdc7374}</key>
		<dict>
			<key>x</key>
			<string>3178.96</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{63b9830a-3270-4959-a34e-862247769fcb}</key>
		<dict>
			<key>x</key>
			<string>3179.14</string>
			<key>y</key>
			<string>33.7204</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{8f899ec5-aa76-42f8-9aaf-c2bd4838545c}</key>
		<dict>
			<key>x</key>
			<string>3121.61</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{fec5b34e-4319-42a3-ac25-880ac53b1eef}</key>
		<dict>
			<key>x</key>
			<string>3121.61</string>
			<key>y</key>
			<string>38.681</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{13b7f752-b002-457b-a4fa-feca896516e1}</key>
		<dict>
			<key>x</key>
			<string>3052.3</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{38da74b8-d3ba-4083-9e9e-c8612b4bc6b7}</key>
		<dict>
			<key>x</key>
			<string>3016.58</string>
			<key>y</key>
			<string>33.7204</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{3d820127-b058-4480-b0ca-af7498003e1c}</key>
		<dict>
			<key>x</key>
			<string>2980.69</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{5e6536f4-0c31-477e-84ef-e7e6e060f6d5}</key>
		<dict>
			<key>x</key>
			<string>2936.68</string>
			<key>y</key>
			<string>33.7204</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{f808226d-ea48-47b3-ad41-bfc17559d784}</key>
		<dict>
			<key>x</key>
			<string>2904.38</string>
			<key>y</key>
			<string>38.681</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{d1c41dc0-8d39-4455-8d34-7ac0b8897f23}</key>
		<dict>
			<key>x</key>
			<string>2872.07</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{030330db-1bb7-420b-a60e-aceda935f957}</key>
		<dict>
			<key>x</key>
			<string>2839.77</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{c1b7f978-9d61-48d6-b4dc-adeaab113bc3}</key>
		<dict>
			<key>x</key>
			<string>2698.85</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6ad3f518-b032-46e6-a10d-9c51411bcbfd}</key>
		<dict>
			<key>x</key>
			<string>2654.84</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9a69961e-c0bc-46cd-a251-8cce7abaf186}</key>
		<dict>
			<key>x</key>
			<string>2622.53</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{51e0ed51-82f9-43b3-8c3f-c89f5d472bf9}</key>
		<dict>
			<key>x</key>
			<string>2590.23</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2df6d3ea-cb9d-445e-b610-f872a14a7510}</key>
		<dict>
			<key>x</key>
			<string>2557.92</string>
			<key>y</key>
			<string>61.0039</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f222a3be-cbe6-4305-aa38-d2b547455388}</key>
		<dict>
			<key>x</key>
			<string>2481.52</string>
			<key>y</key>
			<string>38.681</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{d23c5d5b-f21c-4e71-bc3c-e7026377cb5f}</key>
		<dict>
			<key>x</key>
			<string>2417</string>
			<key>y</key>
			<string>38.681</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{40b11591-1359-4363-916b-128b59f2c899}</key>
		<dict>
			<key>x</key>
			<string>2372.99</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{fd9ed0aa-bf20-4f53-9e02-65ffe6551b25}</key>
		<dict>
			<key>x</key>
			<string>2340.69</string>
			<key>y</key>
			<string>38.681</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{23fbfe83-6827-470d-b6c9-00602bd75d69}</key>
		<dict>
			<key>x</key>
			<string>2308.38</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{4f7d13b7-1cd6-4845-98d8-e961e0b84538}</key>
		<dict>
			<key>x</key>
			<string>2276.08</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{c6b4000a-2482-403d-b0c6-65e9f495bde2}</key>
		<dict>
			<key>x</key>
			<string>1571.47</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{bcc812e1-f769-4460-8418-28bc7fb356d3}</key>
		<dict>
			<key>x</key>
			<string>1571.47</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{8a7667d2-f634-4448-b710-3c8e42965373}</key>
		<dict>
			<key>x</key>
			<string>1495.07</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{67b8d8bb-542c-457e-b689-1a4973a10ffc}</key>
		<dict>
			<key>x</key>
			<string>1495.07</string>
			<key>y</key>
			<string>33.7204</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{9fc4e463-1d0b-49cb-9442-2e9725438515}</key>
		<dict>
			<key>x</key>
			<string>1430.55</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{304f1b61-d361-4393-bcc8-168a549dd25b}</key>
		<dict>
			<key>x</key>
			<string>1430.55</string>
			<key>y</key>
			<string>38.681</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{e1eed21c-0df0-43c9-8f12-8402a02760d9}</key>
		<dict>
			<key>x</key>
			<string>1361.23</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{f9c5d8da-a264-44c6-a77b-753dc179d849}</key>
		<dict>
			<key>x</key>
			<string>1325.52</string>
			<key>y</key>
			<string>33.7204</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{c1fd8648-7187-4cb3-9536-ef4b2976f0b4}</key>
		<dict>
			<key>x</key>
			<string>1289.63</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{5203abc8-cd5b-4e8b-bc9f-399d3c315274}</key>
		<dict>
			<key>x</key>
			<string>1245.62</string>
			<key>y</key>
			<string>33.7204</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{0a6802eb-0c36-46a7-b6b8-03495958fb94}</key>
		<dict>
			<key>x</key>
			<string>1213.31</string>
			<key>y</key>
			<string>38.681</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{99b3dff8-cd66-4d3f-8c21-c4cf094d02b7}</key>
		<dict>
			<key>x</key>
			<string>1181.01</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{5cddd280-af30-4dc8-bec7-a9c8b346436b}</key>
		<dict>
			<key>x</key>
			<string>1148.71</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{43aa4e04-6b8c-4e82-afb5-ab0d9d649600}</key>
		<dict>
			<key>x</key>
			<string>1007.78</string>
			<key>y</key>
			<string>63.4842</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d96944a0-3a10-480e-bf3a-0efa91941331}</key>
		<dict>
			<key>x</key>
			<string>963.773</string>
			<key>y</key>
			<string>70.9251</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{5a790e4d-9368-47d5-affb-ddce421f294a}</key>
		<dict>
			<key>x</key>
			<string>931.469</string>
			<key>y</key>
			<string>68.4448</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{4fb1661e-eda4-4323-ba2b-63c3d8ca0774}</key>
		<dict>
			<key>x</key>
			<string>899.165</string>
			<key>y</key>
			<string>65.9645</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{1fce2b1c-3d30-4f4c-8336-9e50e40c1dc7}</key>
		<dict>
			<key>x</key>
			<string>866.862</string>
			<key>y</key>
			<string>61.0039</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9269cfba-e525-443d-ad14-09755812958d}</key>
		<dict>
			<key>x</key>
			<string>790.458</string>
			<key>y</key>
			<string>38.681</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{9f9109f9-fcce-4df6-aaa2-f46a9c64c14c}</key>
		<dict>
			<key>x</key>
			<string>725.94</string>
			<key>y</key>
			<string>38.681</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{0c1738ea-0673-4830-8384-7a4423e5ac4d}</key>
		<dict>
			<key>x</key>
			<string>681.929</string>
			<key>y</key>
			<string>41.1614</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{b8d5a38f-4789-4df2-b705-7cc66c2ebb3e}</key>
		<dict>
			<key>x</key>
			<string>649.625</string>
			<key>y</key>
			<string>38.681</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{fd65676b-414a-4a56-bb60-e007a99dd54d}</key>
		<dict>
			<key>x</key>
			<string>617.322</string>
			<key>y</key>
			<string>36.2007</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{4b64d4dc-fbe7-4f4f-bb55-3007045eaa42}</key>
		<dict>
			<key>x</key>
			<string>585.018</string>
			<key>y</key>
			<string>31.2401</string>
			<key>idx</key>
			<string>0</string>
		</dict>
	</dict>
	<key>rests</key>
	<dict>
		<key>{9d312d39-dae9-42d2-8959-8b3aedeb10a0}</key>
		<dict>
			<key>x</key>
			<string>2980.69</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c709fa4b-acc6-45b6-86fc-d031b1b0c232}</key>
		<dict>
			<key>x</key>
			<string>2839.77</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{619fc2d1-42eb-4781-9090-f696aa3f4e28}</key>
		<dict>
			<key>x</key>
			<string>2700.49</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{c9816e1c-5460-453f-9cdf-ae5fa77bc6b8}</key>
		<dict>
			<key>x</key>
			<string>2557.92</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{3a69e03f-3e6d-412a-a628-b2fc0ab98a66}</key>
		<dict>
			<key>x</key>
			<string>2417.18</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{8d496e94-a708-4096-8ce5-4cd15c8258a4}</key>
		<dict>
			<key>x</key>
			<string>2276.08</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{209072a5-6868-4981-a953-79d87d7eb2f7}</key>
		<dict>
			<key>x</key>
			<string>2135.16</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{56c15c12-5328-45a6-bb5b-1b37550efb5a}</key>
		<dict>
			<key>x</key>
			<string>2135.16</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{082748ab-3778-4962-9a29-8a0822b2e74d}</key>
		<dict>
			<key>x</key>
			<string>1994.24</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c90c25c2-1711-4ab2-938b-72bfbaaaead8}</key>
		<dict>
			<key>x</key>
			<string>1994.24</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{a8c99cce-df7f-405c-95e6-c3fba523bae8}</key>
		<dict>
			<key>x</key>
			<string>1853.31</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{21a187b5-aabe-4de6-b4b5-8758cc9b3ac1}</key>
		<dict>
			<key>x</key>
			<string>1853.31</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{a5f0f6a3-87c4-4c94-8bc4-11ea71d2a22a}</key>
		<dict>
			<key>x</key>
			<string>1712.39</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{96e6bafc-0f9d-497f-8ead-fbe78ec6db95}</key>
		<dict>
			<key>x</key>
			<string>1712.39</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{e61bea08-c142-4160-975c-a667100d9c2b}</key>
		<dict>
			<key>x</key>
			<string>1289.63</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7f3af940-f6dd-4d11-baaf-210179d999d9}</key>
		<dict>
			<key>x</key>
			<string>1148.71</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d3f660e0-b26f-4e5c-ae4e-f631b2acc70c}</key>
		<dict>
			<key>x</key>
			<string>1009.43</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{53ad9352-ae7b-4b09-8dab-3bdb399ba749}</key>
		<dict>
			<key>x</key>
			<string>866.862</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{0cf19b4b-bbef-4a5d-a755-4e5dc35040f2}</key>
		<dict>
			<key>x</key>
			<string>726.119</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2e630ee8-39df-4371-a245-057226d90d9f}</key>
		<dict>
			<key>x</key>
			<string>585.018</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{83c2816e-a7fd-408d-8b19-3c675fcac8a9}</key>
		<dict>
			<key>x</key>
			<string>444.096</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6e1b6e4b-ab5e-4f6c-a472-cc5aa7258946}</key>
		<dict>
			<key>x</key>
			<string>444.096</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{a20fe450-8ba4-4b8c-9ea0-c59a77d31bfd}</key>
		<dict>
			<key>x</key>
			<string>303.174</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{06086c89-1ddb-47ae-bd14-3984488af13a}</key>
		<dict>
			<key>x</key>
			<string>303.174</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{81bdf013-1056-47c5-aac8-27db99b0b6d8}</key>
		<dict>
			<key>x</key>
			<string>162.253</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{98320168-8c81-4ee1-874e-90f92f74f1d5}</key>
		<dict>
			<key>x</key>
			<string>162.253</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{8f058fd1-1999-46f6-a185-4b3c1ac2ef15}</key>
		<dict>
			<key>x</key>
			<string>48.7831</string>
			<key>y</key>
			<string>73.4054</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{4d5973e3-0670-4044-88b8-816606286cf7}</key>
		<dict>
			<key>x</key>
			<string>48.7831</string>
			<key>y</key>
			<string>21.3188</string>
			<key>idx</key>
			<string>0</string>
		</dict>
	</dict>
	<key>dots</key>
	<dict>
	</dict>
	<key>note_dots</key>
	<dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{3612a23f-4d1c-46ae-8d5a-854d17237969}</key>
		<dict>
			<key>x1</key>
			<string>3221.19</string>
			<key>y1</key>
			<string>35.269</string>
			<key>x2</key>
			<string>3221.19</string>
			<key>y2</key>
			<string>18.8385</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{8ab08104-3fb1-4891-8311-548f2ce222ea}</key>
		<dict>
			<key>x1</key>
			<string>3179.28</string>
			<key>y1</key>
			<string>71.703</string>
			<key>x2</key>
			<string>3179.28</string>
			<key>y2</key>
			<string>88.2873</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b5475538-0eed-4e83-80f3-58ff896f9133}</key>
		<dict>
			<key>x1</key>
			<string>3185.35</string>
			<key>y1</key>
			<string>32.7887</string>
			<key>x2</key>
			<string>3185.35</string>
			<key>y2</key>
			<string>16.3582</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{1b6090ec-90aa-4960-84cc-f6cac62cf42e}</key>
		<dict>
			<key>x1</key>
			<string>3121.93</string>
			<key>y1</key>
			<string>69.2226</string>
			<key>x2</key>
			<string>3121.93</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{cb13032d-ca91-4830-865d-e5b221d9e243}</key>
		<dict>
			<key>x1</key>
			<string>3128.18</string>
			<key>y1</key>
			<string>37.9191</string>
			<key>x2</key>
			<string>3128.18</string>
			<key>y2</key>
			<string>21.3188</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{10313b37-0e34-4656-b768-53a3c637dfe7}</key>
		<dict>
			<key>x1</key>
			<string>3058.86</string>
			<key>y1</key>
			<string>30.4781</string>
			<key>x2</key>
			<string>3058.86</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{2c13e870-0366-4303-9d7f-dd559b430f2e}</key>
		<dict>
			<key>x1</key>
			<string>3022.79</string>
			<key>y1</key>
			<string>32.7887</string>
			<key>x2</key>
			<string>3022.79</string>
			<key>y2</key>
			<string>16.3582</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{740dec8d-3fd2-4a49-83f3-ae3d9e1050e8}</key>
		<dict>
			<key>x1</key>
			<string>2986.9</string>
			<key>y1</key>
			<string>35.269</string>
			<key>x2</key>
			<string>2986.9</string>
			<key>y2</key>
			<string>18.8385</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{4f22f3fd-0396-4770-b306-b70415edde34}</key>
		<dict>
			<key>x1</key>
			<string>2942.89</string>
			<key>y1</key>
			<string>32.7887</string>
			<key>x2</key>
			<string>2942.89</string>
			<key>y2</key>
			<string>16.3582</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{0531ecd4-bae3-401e-a20c-3e91786083ab}</key>
		<dict>
			<key>x1</key>
			<string>2910.58</string>
			<key>y1</key>
			<string>37.7494</string>
			<key>x2</key>
			<string>2910.58</string>
			<key>y2</key>
			<string>21.3188</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{e83e5e67-d088-41c0-907d-f5c3a16e5e4a}</key>
		<dict>
			<key>x1</key>
			<string>2878.28</string>
			<key>y1</key>
			<string>35.269</string>
			<key>x2</key>
			<string>2878.28</string>
			<key>y2</key>
			<string>18.8385</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{6a3a5532-4501-45ed-a3ca-398f9f62f5c5}</key>
		<dict>
			<key>x1</key>
			<string>2845.98</string>
			<key>y1</key>
			<string>40.2297</string>
			<key>x2</key>
			<string>2845.98</string>
			<key>y2</key>
			<string>23.7991</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{f0fa4443-36ed-4a67-a730-a19a095690cf}</key>
		<dict>
			<key>x1</key>
			<string>2655.16</string>
			<key>y1</key>
			<string>71.8568</string>
			<key>x2</key>
			<string>2655.16</string>
			<key>y2</key>
			<string>88.2873</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d6423f84-3ad0-40d3-8a03-ad783366c504}</key>
		<dict>
			<key>x1</key>
			<string>2622.85</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>2622.85</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{cc69ab94-bb3b-44d3-8d05-c869894f350f}</key>
		<dict>
			<key>x1</key>
			<string>2590.55</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>2590.55</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9a0888e6-8bb4-4b6b-bb5c-6191b5be9325}</key>
		<dict>
			<key>x1</key>
			<string>2558.25</string>
			<key>y1</key>
			<string>61.9355</string>
			<key>x2</key>
			<string>2558.25</string>
			<key>y2</key>
			<string>78.3661</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b5995f25-5889-4ee4-8757-bdf7fa3b4b4f}</key>
		<dict>
			<key>x1</key>
			<string>2488.09</string>
			<key>y1</key>
			<string>37.9191</string>
			<key>x2</key>
			<string>2488.09</string>
			<key>y2</key>
			<string>21.3188</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{c385b73b-66c0-4aa0-8fbf-b0d2bf1ee8ad}</key>
		<dict>
			<key>x1</key>
			<string>2423.57</string>
			<key>y1</key>
			<string>37.9191</string>
			<key>x2</key>
			<string>2423.57</string>
			<key>y2</key>
			<string>21.3188</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{6100f2ea-cf14-4e75-a7c9-934d08210907}</key>
		<dict>
			<key>x1</key>
			<string>2379.2</string>
			<key>y1</key>
			<string>40.2297</string>
			<key>x2</key>
			<string>2379.2</string>
			<key>y2</key>
			<string>23.7991</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{ea5830e3-2780-432b-9b2d-7ecfd591f635}</key>
		<dict>
			<key>x1</key>
			<string>2346.9</string>
			<key>y1</key>
			<string>37.7494</string>
			<key>x2</key>
			<string>2346.9</string>
			<key>y2</key>
			<string>21.3188</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{92a68199-cfb9-43dd-b086-a039545877c4}</key>
		<dict>
			<key>x1</key>
			<string>2314.59</string>
			<key>y1</key>
			<string>35.269</string>
			<key>x2</key>
			<string>2314.59</string>
			<key>y2</key>
			<string>18.8385</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{38f8717f-323b-4bd1-b907-7a299aed8276}</key>
		<dict>
			<key>x1</key>
			<string>2282.29</string>
			<key>y1</key>
			<string>30.3084</string>
			<key>x2</key>
			<string>2282.29</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{01287e89-af5a-45a5-8618-2546677d8c1a}</key>
		<dict>
			<key>x1</key>
			<string>1495.39</string>
			<key>y1</key>
			<string>71.703</string>
			<key>x2</key>
			<string>1495.39</string>
			<key>y2</key>
			<string>88.2873</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f8f97ff8-9929-4d7f-be39-909a2d1072cb}</key>
		<dict>
			<key>x1</key>
			<string>1501.63</string>
			<key>y1</key>
			<string>32.9585</string>
			<key>x2</key>
			<string>1501.63</string>
			<key>y2</key>
			<string>16.3582</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{38ba2cfa-8c29-4940-a620-0974962d156f}</key>
		<dict>
			<key>x1</key>
			<string>1430.87</string>
			<key>y1</key>
			<string>66.7423</string>
			<key>x2</key>
			<string>1430.87</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f6156a24-a0a5-42a8-8edb-29ba83fd3c74}</key>
		<dict>
			<key>x1</key>
			<string>1437.12</string>
			<key>y1</key>
			<string>37.9191</string>
			<key>x2</key>
			<string>1437.12</string>
			<key>y2</key>
			<string>21.3188</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{424a17ae-d3ee-4ace-afed-27894d802694}</key>
		<dict>
			<key>x1</key>
			<string>1367.8</string>
			<key>y1</key>
			<string>30.4781</string>
			<key>x2</key>
			<string>1367.8</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{8dad9a88-c430-46d1-8a90-bfaf1bc316ff}</key>
		<dict>
			<key>x1</key>
			<string>1331.73</string>
			<key>y1</key>
			<string>32.7887</string>
			<key>x2</key>
			<string>1331.73</string>
			<key>y2</key>
			<string>16.3582</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{b29230dc-d885-4bc3-877c-9b6db5778235}</key>
		<dict>
			<key>x1</key>
			<string>1295.84</string>
			<key>y1</key>
			<string>35.269</string>
			<key>x2</key>
			<string>1295.84</string>
			<key>y2</key>
			<string>18.8385</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{4cd395ac-aa1f-4abf-a90c-4bdf49ee30c2}</key>
		<dict>
			<key>x1</key>
			<string>1251.83</string>
			<key>y1</key>
			<string>32.7887</string>
			<key>x2</key>
			<string>1251.83</string>
			<key>y2</key>
			<string>16.3582</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{49ece643-308f-4f86-acbd-c49df8ce52d6}</key>
		<dict>
			<key>x1</key>
			<string>1219.52</string>
			<key>y1</key>
			<string>37.7494</string>
			<key>x2</key>
			<string>1219.52</string>
			<key>y2</key>
			<string>21.3188</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{ff693885-219d-464c-8dc8-a9ff0138be67}</key>
		<dict>
			<key>x1</key>
			<string>1187.22</string>
			<key>y1</key>
			<string>35.269</string>
			<key>x2</key>
			<string>1187.22</string>
			<key>y2</key>
			<string>18.8385</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{90c0cdfa-a96a-4d35-87cb-e0c20451f5db}</key>
		<dict>
			<key>x1</key>
			<string>1154.91</string>
			<key>y1</key>
			<string>40.2297</string>
			<key>x2</key>
			<string>1154.91</string>
			<key>y2</key>
			<string>23.7991</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{f44c79b4-7ad0-468f-a200-0995f60fa20e}</key>
		<dict>
			<key>x1</key>
			<string>964.095</string>
			<key>y1</key>
			<string>71.8568</string>
			<key>x2</key>
			<string>964.095</string>
			<key>y2</key>
			<string>88.2873</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{512f114f-33d2-403f-b441-31c654ca5223}</key>
		<dict>
			<key>x1</key>
			<string>931.792</string>
			<key>y1</key>
			<string>69.3765</string>
			<key>x2</key>
			<string>931.792</string>
			<key>y2</key>
			<string>85.807</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{887528ff-bc9d-4f53-b15c-1d6a9c1ce060}</key>
		<dict>
			<key>x1</key>
			<string>899.488</string>
			<key>y1</key>
			<string>66.8962</string>
			<key>x2</key>
			<string>899.488</string>
			<key>y2</key>
			<string>83.3267</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{1728549b-2a83-4b3a-8255-0d74d4feae2d}</key>
		<dict>
			<key>x1</key>
			<string>867.184</string>
			<key>y1</key>
			<string>61.9355</string>
			<key>x2</key>
			<string>867.184</string>
			<key>y2</key>
			<string>78.3661</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{bf352fac-7daa-4e26-8d8b-f93fd370b8be}</key>
		<dict>
			<key>x1</key>
			<string>797.024</string>
			<key>y1</key>
			<string>37.9191</string>
			<key>x2</key>
			<string>797.024</string>
			<key>y2</key>
			<string>21.3188</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{978099eb-d595-4372-b810-0b6a30612522}</key>
		<dict>
			<key>x1</key>
			<string>732.507</string>
			<key>y1</key>
			<string>37.9191</string>
			<key>x2</key>
			<string>732.507</string>
			<key>y2</key>
			<string>21.3188</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{b5c7f6dd-7975-4013-9490-15989472ce47}</key>
		<dict>
			<key>x1</key>
			<string>688.138</string>
			<key>y1</key>
			<string>40.2297</string>
			<key>x2</key>
			<string>688.138</string>
			<key>y2</key>
			<string>23.7991</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{a0b9473a-29ee-4080-a7da-d57f27329f92}</key>
		<dict>
			<key>x1</key>
			<string>655.834</string>
			<key>y1</key>
			<string>37.7494</string>
			<key>x2</key>
			<string>655.834</string>
			<key>y2</key>
			<string>21.3188</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{01928315-6958-41ca-8e43-fe58e1b605de}</key>
		<dict>
			<key>x1</key>
			<string>623.53</string>
			<key>y1</key>
			<string>35.269</string>
			<key>x2</key>
			<string>623.53</string>
			<key>y2</key>
			<string>18.8385</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{e5ccdf95-9c17-403e-8f15-5ba2aa3bb0e3}</key>
		<dict>
			<key>x1</key>
			<string>591.227</string>
			<key>y1</key>
			<string>30.3084</string>
			<key>x2</key>
			<string>591.227</string>
			<key>y2</key>
			<string>14.498</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>0</string>
		</dict>
	</dict>
	<key>note_stems</key>
	<dict>
		<key>{a108114d-2c60-41b1-9407-eeb4a05ce0dc}</key>
		<string>{3612a23f-4d1c-46ae-8d5a-854d17237969}</string>
		<key>{f4834533-68a9-403a-b272-228d6fdc7374}</key>
		<string>{8ab08104-3fb1-4891-8311-548f2ce222ea}</string>
		<key>{63b9830a-3270-4959-a34e-862247769fcb}</key>
		<string>{b5475538-0eed-4e83-80f3-58ff896f9133}</string>
		<key>{8f899ec5-aa76-42f8-9aaf-c2bd4838545c}</key>
		<string>{1b6090ec-90aa-4960-84cc-f6cac62cf42e}</string>
		<key>{fec5b34e-4319-42a3-ac25-880ac53b1eef}</key>
		<string>{cb13032d-ca91-4830-865d-e5b221d9e243}</string>
		<key>{13b7f752-b002-457b-a4fa-feca896516e1}</key>
		<string>{10313b37-0e34-4656-b768-53a3c637dfe7}</string>
		<key>{38da74b8-d3ba-4083-9e9e-c8612b4bc6b7}</key>
		<string>{2c13e870-0366-4303-9d7f-dd559b430f2e}</string>
		<key>{3d820127-b058-4480-b0ca-af7498003e1c}</key>
		<string>{740dec8d-3fd2-4a49-83f3-ae3d9e1050e8}</string>
		<key>{5e6536f4-0c31-477e-84ef-e7e6e060f6d5}</key>
		<string>{4f22f3fd-0396-4770-b306-b70415edde34}</string>
		<key>{f808226d-ea48-47b3-ad41-bfc17559d784}</key>
		<string>{0531ecd4-bae3-401e-a20c-3e91786083ab}</string>
		<key>{d1c41dc0-8d39-4455-8d34-7ac0b8897f23}</key>
		<string>{e83e5e67-d088-41c0-907d-f5c3a16e5e4a}</string>
		<key>{030330db-1bb7-420b-a60e-aceda935f957}</key>
		<string>{6a3a5532-4501-45ed-a3ca-398f9f62f5c5}</string>
		<key>{6ad3f518-b032-46e6-a10d-9c51411bcbfd}</key>
		<string>{f0fa4443-36ed-4a67-a730-a19a095690cf}</string>
		<key>{9a69961e-c0bc-46cd-a251-8cce7abaf186}</key>
		<string>{d6423f84-3ad0-40d3-8a03-ad783366c504}</string>
		<key>{51e0ed51-82f9-43b3-8c3f-c89f5d472bf9}</key>
		<string>{cc69ab94-bb3b-44d3-8d05-c869894f350f}</string>
		<key>{2df6d3ea-cb9d-445e-b610-f872a14a7510}</key>
		<string>{9a0888e6-8bb4-4b6b-bb5c-6191b5be9325}</string>
		<key>{f222a3be-cbe6-4305-aa38-d2b547455388}</key>
		<string>{b5995f25-5889-4ee4-8757-bdf7fa3b4b4f}</string>
		<key>{d23c5d5b-f21c-4e71-bc3c-e7026377cb5f}</key>
		<string>{c385b73b-66c0-4aa0-8fbf-b0d2bf1ee8ad}</string>
		<key>{40b11591-1359-4363-916b-128b59f2c899}</key>
		<string>{6100f2ea-cf14-4e75-a7c9-934d08210907}</string>
		<key>{fd9ed0aa-bf20-4f53-9e02-65ffe6551b25}</key>
		<string>{ea5830e3-2780-432b-9b2d-7ecfd591f635}</string>
		<key>{23fbfe83-6827-470d-b6c9-00602bd75d69}</key>
		<string>{92a68199-cfb9-43dd-b086-a039545877c4}</string>
		<key>{4f7d13b7-1cd6-4845-98d8-e961e0b84538}</key>
		<string>{38f8717f-323b-4bd1-b907-7a299aed8276}</string>
		<key>{8a7667d2-f634-4448-b710-3c8e42965373}</key>
		<string>{01287e89-af5a-45a5-8618-2546677d8c1a}</string>
		<key>{67b8d8bb-542c-457e-b689-1a4973a10ffc}</key>
		<string>{f8f97ff8-9929-4d7f-be39-909a2d1072cb}</string>
		<key>{9fc4e463-1d0b-49cb-9442-2e9725438515}</key>
		<string>{38ba2cfa-8c29-4940-a620-0974962d156f}</string>
		<key>{304f1b61-d361-4393-bcc8-168a549dd25b}</key>
		<string>{f6156a24-a0a5-42a8-8edb-29ba83fd3c74}</string>
		<key>{e1eed21c-0df0-43c9-8f12-8402a02760d9}</key>
		<string>{424a17ae-d3ee-4ace-afed-27894d802694}</string>
		<key>{f9c5d8da-a264-44c6-a77b-753dc179d849}</key>
		<string>{8dad9a88-c430-46d1-8a90-bfaf1bc316ff}</string>
		<key>{c1fd8648-7187-4cb3-9536-ef4b2976f0b4}</key>
		<string>{b29230dc-d885-4bc3-877c-9b6db5778235}</string>
		<key>{5203abc8-cd5b-4e8b-bc9f-399d3c315274}</key>
		<string>{4cd395ac-aa1f-4abf-a90c-4bdf49ee30c2}</string>
		<key>{0a6802eb-0c36-46a7-b6b8-03495958fb94}</key>
		<string>{49ece643-308f-4f86-acbd-c49df8ce52d6}</string>
		<key>{99b3dff8-cd66-4d3f-8c21-c4cf094d02b7}</key>
		<string>{ff693885-219d-464c-8dc8-a9ff0138be67}</string>
		<key>{5cddd280-af30-4dc8-bec7-a9c8b346436b}</key>
		<string>{90c0cdfa-a96a-4d35-87cb-e0c20451f5db}</string>
		<key>{d96944a0-3a10-480e-bf3a-0efa91941331}</key>
		<string>{f44c79b4-7ad0-468f-a200-0995f60fa20e}</string>
		<key>{5a790e4d-9368-47d5-affb-ddce421f294a}</key>
		<string>{512f114f-33d2-403f-b441-31c654ca5223}</string>
		<key>{4fb1661e-eda4-4323-ba2b-63c3d8ca0774}</key>
		<string>{887528ff-bc9d-4f53-b15c-1d6a9c1ce060}</string>
		<key>{1fce2b1c-3d30-4f4c-8336-9e50e40c1dc7}</key>
		<string>{1728549b-2a83-4b3a-8255-0d74d4feae2d}</string>
		<key>{9269cfba-e525-443d-ad14-09755812958d}</key>
		<string>{bf352fac-7daa-4e26-8d8b-f93fd370b8be}</string>
		<key>{9f9109f9-fcce-4df6-aaa2-f46a9c64c14c}</key>
		<string>{978099eb-d595-4372-b810-0b6a30612522}</string>
		<key>{0c1738ea-0673-4830-8384-7a4423e5ac4d}</key>
		<string>{b5c7f6dd-7975-4013-9490-15989472ce47}</string>
		<key>{b8d5a38f-4789-4df2-b705-7cc66c2ebb3e}</key>
		<string>{a0b9473a-29ee-4080-a7da-d57f27329f92}</string>
		<key>{fd65676b-414a-4a56-bb60-e007a99dd54d}</key>
		<string>{01928315-6958-41ca-8e43-fe58e1b605de}</string>
		<key>{4b64d4dc-fbe7-4f4f-bb55-3007045eaa42}</key>
		<string>{e5ccdf95-9c17-403e-8f15-5ba2aa3bb0e3}</string>
	</dict>
	<key>note_finger</key>
	<dict>
	</dict>
	<key>note_step</key>
	<dict>
		<key>{d28797dd-12e4-47a8-85c5-4cece9cfe51e}</key>
		<string>{e75aefa8-6c57-46c3-ac74-13553833bf12}</string>
		<key>{9ce21913-351a-4939-8c8a-685fff673f85}</key>
		<string>{05df30ec-e2ec-4c62-ba9f-15daefca40f1}</string>
		<key>{a108114d-2c60-41b1-9407-eeb4a05ce0dc}</key>
		<string>{c19c0dab-abe8-474d-b439-a2989bcd82c6}</string>
		<key>{f4834533-68a9-403a-b272-228d6fdc7374}</key>
		<string>{0bbeb2f9-f84c-4201-bc47-7b1df884506e}</string>
		<key>{63b9830a-3270-4959-a34e-862247769fcb}</key>
		<string>{568d0152-5ffa-43da-a00f-a1d8e5bc331f}</string>
		<key>{8f899ec5-aa76-42f8-9aaf-c2bd4838545c}</key>
		<string>{137d5a3e-469a-4bf5-8809-cc444b31f2da}</string>
		<key>{fec5b34e-4319-42a3-ac25-880ac53b1eef}</key>
		<string>{5b38c675-d140-4a08-853f-a05966040893}</string>
		<key>{13b7f752-b002-457b-a4fa-feca896516e1}</key>
		<string>{ef0da2c0-a9b9-48a3-9007-a612dc495e8e}</string>
		<key>{38da74b8-d3ba-4083-9e9e-c8612b4bc6b7}</key>
		<string>{8d22adbf-f57d-495f-9938-539d2b0d8fd2}</string>
		<key>{3d820127-b058-4480-b0ca-af7498003e1c}</key>
		<string>{f6b88678-a643-4ab3-b6ee-667027811180}</string>
		<key>{5e6536f4-0c31-477e-84ef-e7e6e060f6d5}</key>
		<string>{6c37baf5-79d8-44b1-a0a3-a048c18f7519}</string>
		<key>{f808226d-ea48-47b3-ad41-bfc17559d784}</key>
		<string>{56502a3b-6d3c-4e5a-9485-ba73e7a82306}</string>
		<key>{d1c41dc0-8d39-4455-8d34-7ac0b8897f23}</key>
		<string>{744ced46-7cc0-4223-a3c4-115c66ebdd2c}</string>
		<key>{030330db-1bb7-420b-a60e-aceda935f957}</key>
		<string>{a6507ad5-5d9d-4b5b-acdb-cd6e2d57acf3}</string>
		<key>{c1b7f978-9d61-48d6-b4dc-adeaab113bc3}</key>
		<string>{d6882515-050b-45d9-bd95-ac0abac6f3b8}</string>
		<key>{6ad3f518-b032-46e6-a10d-9c51411bcbfd}</key>
		<string>{33142cd4-9a07-4928-ae4b-296c07b8f8d4}</string>
		<key>{9a69961e-c0bc-46cd-a251-8cce7abaf186}</key>
		<string>{2366a9c8-b1dd-4156-9847-05aaad6fdd8c}</string>
		<key>{51e0ed51-82f9-43b3-8c3f-c89f5d472bf9}</key>
		<string>{d7aec37a-21df-4bef-8c66-f7b8bd6a45c3}</string>
		<key>{2df6d3ea-cb9d-445e-b610-f872a14a7510}</key>
		<string>{277c52bb-d7b1-40f6-8dd0-65d0ab8cb81c}</string>
		<key>{f222a3be-cbe6-4305-aa38-d2b547455388}</key>
		<string>{aa953858-7948-49e7-834e-33f01b800bc6}</string>
		<key>{d23c5d5b-f21c-4e71-bc3c-e7026377cb5f}</key>
		<string>{c78c509b-5033-44c9-b5db-b04cc9597f07}</string>
		<key>{40b11591-1359-4363-916b-128b59f2c899}</key>
		<string>{c94dfcab-1120-44a3-8d62-b6adfd956c18}</string>
		<key>{fd9ed0aa-bf20-4f53-9e02-65ffe6551b25}</key>
		<string>{fbc03d85-20a2-48ae-af6a-112bb8278e05}</string>
		<key>{23fbfe83-6827-470d-b6c9-00602bd75d69}</key>
		<string>{9e1043f7-1ef2-411d-a208-bbec52def80e}</string>
		<key>{4f7d13b7-1cd6-4845-98d8-e961e0b84538}</key>
		<string>{20b4a448-d97f-4ebf-8590-5822b1571133}</string>
		<key>{c6b4000a-2482-403d-b0c6-65e9f495bde2}</key>
		<string>{86180c75-dba9-4225-9411-5807a56c2b3d}</string>
		<key>{bcc812e1-f769-4460-8418-28bc7fb356d3}</key>
		<string>{0c26bad9-68bb-407d-9d7a-f6bfdefb00a1}</string>
		<key>{8a7667d2-f634-4448-b710-3c8e42965373}</key>
		<string>{486dc94a-0f01-4cfa-be09-97328dd893cb}</string>
		<key>{67b8d8bb-542c-457e-b689-1a4973a10ffc}</key>
		<string>{42e19371-3042-4837-a93b-79b068b9457c}</string>
		<key>{9fc4e463-1d0b-49cb-9442-2e9725438515}</key>
		<string>{aac856a5-2ec3-4501-bd3f-65d5e865442a}</string>
		<key>{304f1b61-d361-4393-bcc8-168a549dd25b}</key>
		<string>{036cb0e6-67e0-4d66-ba60-6e87d2ffae16}</string>
		<key>{e1eed21c-0df0-43c9-8f12-8402a02760d9}</key>
		<string>{fd9d28a0-5a18-4d00-ac6b-33076ca477d7}</string>
		<key>{f9c5d8da-a264-44c6-a77b-753dc179d849}</key>
		<string>{7f78e808-cd86-48c4-938d-6ac41a9ce7ef}</string>
		<key>{c1fd8648-7187-4cb3-9536-ef4b2976f0b4}</key>
		<string>{229cf543-acd5-4eb4-81c3-2a8457423db4}</string>
		<key>{5203abc8-cd5b-4e8b-bc9f-399d3c315274}</key>
		<string>{a93606be-d665-4e8c-bd8d-bab75bb17cd5}</string>
		<key>{0a6802eb-0c36-46a7-b6b8-03495958fb94}</key>
		<string>{98dc9aae-0ddb-41f5-b610-f0facb95ffd9}</string>
		<key>{99b3dff8-cd66-4d3f-8c21-c4cf094d02b7}</key>
		<string>{7a9a69fd-7acf-4a1a-987b-c2a56b4672e6}</string>
		<key>{5cddd280-af30-4dc8-bec7-a9c8b346436b}</key>
		<string>{7eab384f-7d58-4839-956c-bd3193943343}</string>
		<key>{43aa4e04-6b8c-4e82-afb5-ab0d9d649600}</key>
		<string>{00b2197e-e0b4-4ad8-b93c-188bd790b9c7}</string>
		<key>{d96944a0-3a10-480e-bf3a-0efa91941331}</key>
		<string>{ebb7bcfe-8932-44c1-8851-33b620ad33c0}</string>
		<key>{5a790e4d-9368-47d5-affb-ddce421f294a}</key>
		<string>{8546673e-90e9-44ad-88f5-098f9fc17e86}</string>
		<key>{4fb1661e-eda4-4323-ba2b-63c3d8ca0774}</key>
		<string>{6559eb4b-6f86-4fef-9252-3e86a8677e67}</string>
		<key>{1fce2b1c-3d30-4f4c-8336-9e50e40c1dc7}</key>
		<string>{36c9ec94-d220-4024-9024-d585d9e6d9ce}</string>
		<key>{9269cfba-e525-443d-ad14-09755812958d}</key>
		<string>{e5e6af86-8be2-4f80-979a-182f160fab92}</string>
		<key>{9f9109f9-fcce-4df6-aaa2-f46a9c64c14c}</key>
		<string>{86367d66-73ef-40cb-993f-01fd3bd9ce58}</string>
		<key>{0c1738ea-0673-4830-8384-7a4423e5ac4d}</key>
		<string>{db047076-4c25-42a7-9801-97370b4d34c6}</string>
		<key>{b8d5a38f-4789-4df2-b705-7cc66c2ebb3e}</key>
		<string>{e946a70b-9041-419b-a0e0-237ab50f3db0}</string>
		<key>{fd65676b-414a-4a56-bb60-e007a99dd54d}</key>
		<string>{0d60bc7f-01dd-4894-b2af-79d55afcfcb2}</string>
		<key>{4b64d4dc-fbe7-4f4f-bb55-3007045eaa42}</key>
		<string>{468db133-f55a-4867-aba3-5f92dddda69b}</string>
	</dict>
	<key>note_light</key>
	<dict>
		<key>{d28797dd-12e4-47a8-85c5-4cece9cfe51e}</key>
		<array>
		</array>
		<key>{9ce21913-351a-4939-8c8a-685fff673f85}</key>
		<array>
		</array>
		<key>{a108114d-2c60-41b1-9407-eeb4a05ce0dc}</key>
		<array>
			
			<string>{3612a23f-4d1c-46ae-8d5a-854d17237969}</string>
		</array>
		<key>{f4834533-68a9-403a-b272-228d6fdc7374}</key>
		<array>
			
			<string>{8ab08104-3fb1-4891-8311-548f2ce222ea}</string>
		</array>
		<key>{63b9830a-3270-4959-a34e-862247769fcb}</key>
		<array>
			
			<string>{b5475538-0eed-4e83-80f3-58ff896f9133}</string>
		</array>
		<key>{8f899ec5-aa76-42f8-9aaf-c2bd4838545c}</key>
		<array>
			
			<string>{1b6090ec-90aa-4960-84cc-f6cac62cf42e}</string>
		</array>
		<key>{fec5b34e-4319-42a3-ac25-880ac53b1eef}</key>
		<array>
			
			<string>{cb13032d-ca91-4830-865d-e5b221d9e243}</string>
		</array>
		<key>{13b7f752-b002-457b-a4fa-feca896516e1}</key>
		<array>
			
			<string>{10313b37-0e34-4656-b768-53a3c637dfe7}</string>
		</array>
		<key>{38da74b8-d3ba-4083-9e9e-c8612b4bc6b7}</key>
		<array>
			
			<string>{2c13e870-0366-4303-9d7f-dd559b430f2e}</string>
		</array>
		<key>{3d820127-b058-4480-b0ca-af7498003e1c}</key>
		<array>
			
			<string>{740dec8d-3fd2-4a49-83f3-ae3d9e1050e8}</string>
		</array>
		<key>{5e6536f4-0c31-477e-84ef-e7e6e060f6d5}</key>
		<array>
			
			<string>{4f22f3fd-0396-4770-b306-b70415edde34}</string>
		</array>
		<key>{f808226d-ea48-47b3-ad41-bfc17559d784}</key>
		<array>
			
			<string>{0531ecd4-bae3-401e-a20c-3e91786083ab}</string>
		</array>
		<key>{d1c41dc0-8d39-4455-8d34-7ac0b8897f23}</key>
		<array>
			
			<string>{e83e5e67-d088-41c0-907d-f5c3a16e5e4a}</string>
		</array>
		<key>{030330db-1bb7-420b-a60e-aceda935f957}</key>
		<array>
			
			<string>{6a3a5532-4501-45ed-a3ca-398f9f62f5c5}</string>
		</array>
		<key>{c1b7f978-9d61-48d6-b4dc-adeaab113bc3}</key>
		<array>
		</array>
		<key>{6ad3f518-b032-46e6-a10d-9c51411bcbfd}</key>
		<array>
			
			<string>{f0fa4443-36ed-4a67-a730-a19a095690cf}</string>
		</array>
		<key>{9a69961e-c0bc-46cd-a251-8cce7abaf186}</key>
		<array>
			
			<string>{d6423f84-3ad0-40d3-8a03-ad783366c504}</string>
		</array>
		<key>{51e0ed51-82f9-43b3-8c3f-c89f5d472bf9}</key>
		<array>
			
			<string>{cc69ab94-bb3b-44d3-8d05-c869894f350f}</string>
		</array>
		<key>{2df6d3ea-cb9d-445e-b610-f872a14a7510}</key>
		<array>
			
			<string>{9a0888e6-8bb4-4b6b-bb5c-6191b5be9325}</string>
		</array>
		<key>{f222a3be-cbe6-4305-aa38-d2b547455388}</key>
		<array>
			
			<string>{b5995f25-5889-4ee4-8757-bdf7fa3b4b4f}</string>
		</array>
		<key>{d23c5d5b-f21c-4e71-bc3c-e7026377cb5f}</key>
		<array>
			
			<string>{c385b73b-66c0-4aa0-8fbf-b0d2bf1ee8ad}</string>
		</array>
		<key>{40b11591-1359-4363-916b-128b59f2c899}</key>
		<array>
			
			<string>{6100f2ea-cf14-4e75-a7c9-934d08210907}</string>
		</array>
		<key>{fd9ed0aa-bf20-4f53-9e02-65ffe6551b25}</key>
		<array>
			
			<string>{ea5830e3-2780-432b-9b2d-7ecfd591f635}</string>
		</array>
		<key>{23fbfe83-6827-470d-b6c9-00602bd75d69}</key>
		<array>
			
			<string>{92a68199-cfb9-43dd-b086-a039545877c4}</string>
		</array>
		<key>{4f7d13b7-1cd6-4845-98d8-e961e0b84538}</key>
		<array>
			
			<string>{38f8717f-323b-4bd1-b907-7a299aed8276}</string>
		</array>
		<key>{c6b4000a-2482-403d-b0c6-65e9f495bde2}</key>
		<array>
		</array>
		<key>{bcc812e1-f769-4460-8418-28bc7fb356d3}</key>
		<array>
		</array>
		<key>{8a7667d2-f634-4448-b710-3c8e42965373}</key>
		<array>
			
			<string>{01287e89-af5a-45a5-8618-2546677d8c1a}</string>
		</array>
		<key>{67b8d8bb-542c-457e-b689-1a4973a10ffc}</key>
		<array>
			
			<string>{f8f97ff8-9929-4d7f-be39-909a2d1072cb}</string>
		</array>
		<key>{9fc4e463-1d0b-49cb-9442-2e9725438515}</key>
		<array>
			
			<string>{38ba2cfa-8c29-4940-a620-0974962d156f}</string>
		</array>
		<key>{304f1b61-d361-4393-bcc8-168a549dd25b}</key>
		<array>
			
			<string>{f6156a24-a0a5-42a8-8edb-29ba83fd3c74}</string>
		</array>
		<key>{e1eed21c-0df0-43c9-8f12-8402a02760d9}</key>
		<array>
			
			<string>{424a17ae-d3ee-4ace-afed-27894d802694}</string>
		</array>
		<key>{f9c5d8da-a264-44c6-a77b-753dc179d849}</key>
		<array>
			
			<string>{8dad9a88-c430-46d1-8a90-bfaf1bc316ff}</string>
		</array>
		<key>{c1fd8648-7187-4cb3-9536-ef4b2976f0b4}</key>
		<array>
			
			<string>{b29230dc-d885-4bc3-877c-9b6db5778235}</string>
		</array>
		<key>{5203abc8-cd5b-4e8b-bc9f-399d3c315274}</key>
		<array>
			
			<string>{4cd395ac-aa1f-4abf-a90c-4bdf49ee30c2}</string>
		</array>
		<key>{0a6802eb-0c36-46a7-b6b8-03495958fb94}</key>
		<array>
			
			<string>{49ece643-308f-4f86-acbd-c49df8ce52d6}</string>
		</array>
		<key>{99b3dff8-cd66-4d3f-8c21-c4cf094d02b7}</key>
		<array>
			
			<string>{ff693885-219d-464c-8dc8-a9ff0138be67}</string>
		</array>
		<key>{5cddd280-af30-4dc8-bec7-a9c8b346436b}</key>
		<array>
			
			<string>{90c0cdfa-a96a-4d35-87cb-e0c20451f5db}</string>
		</array>
		<key>{43aa4e04-6b8c-4e82-afb5-ab0d9d649600}</key>
		<array>
		</array>
		<key>{d96944a0-3a10-480e-bf3a-0efa91941331}</key>
		<array>
			
			<string>{f44c79b4-7ad0-468f-a200-0995f60fa20e}</string>
		</array>
		<key>{5a790e4d-9368-47d5-affb-ddce421f294a}</key>
		<array>
			
			<string>{512f114f-33d2-403f-b441-31c654ca5223}</string>
		</array>
		<key>{4fb1661e-eda4-4323-ba2b-63c3d8ca0774}</key>
		<array>
			
			<string>{887528ff-bc9d-4f53-b15c-1d6a9c1ce060}</string>
		</array>
		<key>{1fce2b1c-3d30-4f4c-8336-9e50e40c1dc7}</key>
		<array>
			
			<string>{1728549b-2a83-4b3a-8255-0d74d4feae2d}</string>
		</array>
		<key>{9269cfba-e525-443d-ad14-09755812958d}</key>
		<array>
			
			<string>{bf352fac-7daa-4e26-8d8b-f93fd370b8be}</string>
		</array>
		<key>{9f9109f9-fcce-4df6-aaa2-f46a9c64c14c}</key>
		<array>
			
			<string>{978099eb-d595-4372-b810-0b6a30612522}</string>
		</array>
		<key>{0c1738ea-0673-4830-8384-7a4423e5ac4d}</key>
		<array>
			
			<string>{b5c7f6dd-7975-4013-9490-15989472ce47}</string>
		</array>
		<key>{b8d5a38f-4789-4df2-b705-7cc66c2ebb3e}</key>
		<array>
			
			<string>{a0b9473a-29ee-4080-a7da-d57f27329f92}</string>
		</array>
		<key>{fd65676b-414a-4a56-bb60-e007a99dd54d}</key>
		<array>
			
			<string>{01928315-6958-41ca-8e43-fe58e1b605de}</string>
		</array>
		<key>{4b64d4dc-fbe7-4f4f-bb55-3007045eaa42}</key>
		<array>
			
			<string>{e5ccdf95-9c17-403e-8f15-5ba2aa3bb0e3}</string>
		</array>
	</dict>
</dict>
</plist>