<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>pen_width</key>
	<string>0.40</string>
	<key>xend</key>
	<real>2703.74</real>
	<key>stafflines</key>
	<dict>
		<key>0</key>
		<dict>
			<key>x</key>
			<string>10.4173</string>
			<key>y</key>
			<string>16.7302</string>
			<key>bx</key>
			<string>10.4173</string>
			<key>by</key>
			<string>52.3098</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{59cca98d-c004-419e-a6e4-14f055d678c0}</key>
		<dict>
			<key>x</key>
			<string>2219.55</string>
			<key>y</key>
			<string>81.2184</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c0c81199-4e0e-4f77-aa9e-10d0bf429394}</key>
		<dict>
			<key>x</key>
			<string>2157.5</string>
			<key>y</key>
			<string>76.2578</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{19b44236-fea3-45f6-bc3a-52b4305543f0}</key>
		<dict>
			<key>x</key>
			<string>2157.5</string>
			<key>y</key>
			<string>24.1712</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{10a5d035-9893-4297-a40c-85e4ab0ca8da}</key>
		<dict>
			<key>x</key>
			<string>2112.38</string>
			<key>y</key>
			<string>26.6515</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{3ed5cbda-f7be-4bd4-b79f-1961801b75f5}</key>
		<dict>
			<key>x</key>
			<string>2078.96</string>
			<key>y</key>
			<string>29.1318</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{6590b725-3b3f-41ed-a161-3ee614052050}</key>
		<dict>
			<key>x</key>
			<string>2045.36</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2eab86b2-ff54-42dc-ba2d-530ca126f309}</key>
		<dict>
			<key>x</key>
			<string>1994.69</string>
			<key>y</key>
			<string>31.6121</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{420f1ccc-0a72-4a92-bb43-49e3ffc74ce2}</key>
		<dict>
			<key>x</key>
			<string>1932.64</string>
			<key>y</key>
			<string>71.2972</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7b69a0fe-c97e-4ed8-8b38-9952f6f76b96}</key>
		<dict>
			<key>x</key>
			<string>1932.64</string>
			<key>y</key>
			<string>26.6515</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{2f1ff2d7-30ff-4a37-a949-1ce2a77668f9}</key>
		<dict>
			<key>x</key>
			<string>1887.36</string>
			<key>y</key>
			<string>29.1318</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{506c2366-7a5e-4a2a-821c-67065d04fb5d}</key>
		<dict>
			<key>x</key>
			<string>1853.79</string>
			<key>y</key>
			<string>31.6121</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{1b5a0576-3315-4abf-b52d-6663fe58a183}</key>
		<dict>
			<key>x</key>
			<string>1820.21</string>
			<key>y</key>
			<string>34.0925</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{0d8294f5-429c-4f32-98eb-ba9b5c0e7f4f}</key>
		<dict>
			<key>x</key>
			<string>1707.78</string>
			<key>y</key>
			<string>81.2184</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{da7b1c72-e037-4151-88b8-bf90ed479c41}</key>
		<dict>
			<key>x</key>
			<string>1662.5</string>
			<key>y</key>
			<string>71.2972</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0707fe8b-06b8-494d-baf0-4eb6f259f82f}</key>
		<dict>
			<key>x</key>
			<string>1628.93</string>
			<key>y</key>
			<string>76.2578</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{da2a58fa-6b9b-44ca-a6a6-2c199c4dc7e1}</key>
		<dict>
			<key>x</key>
			<string>1595.35</string>
			<key>y</key>
			<string>71.2972</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9d75ad02-5204-4785-8c2c-25b558a58090}</key>
		<dict>
			<key>x</key>
			<string>1482.92</string>
			<key>y</key>
			<string>34.0925</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{f185543b-e15e-4f07-bc2f-18a882ae4ebd}</key>
		<dict>
			<key>x</key>
			<string>1437.64</string>
			<key>y</key>
			<string>24.1712</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{c8b9f0f0-ec26-4783-a44b-363d23c7e7dc}</key>
		<dict>
			<key>x</key>
			<string>1404.07</string>
			<key>y</key>
			<string>29.1318</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{a72b4a5b-889e-41a6-a82b-6b0975e11d90}</key>
		<dict>
			<key>x</key>
			<string>1370.49</string>
			<key>y</key>
			<string>24.1712</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{2d388c5c-7101-4d39-90cc-2239b0710ebd}</key>
		<dict>
			<key>x</key>
			<string>1258.06</string>
			<key>y</key>
			<string>76.2578</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{5bf457d8-c5f0-47c5-b2db-56a28f598364}</key>
		<dict>
			<key>x</key>
			<string>1258.06</string>
			<key>y</key>
			<string>24.1712</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{7ccf458e-efd3-4a33-bb03-665e7b6b18a2}</key>
		<dict>
			<key>x</key>
			<string>1212.84</string>
			<key>y</key>
			<string>26.6515</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{856a26f6-b368-485f-9221-275011d01cbd}</key>
		<dict>
			<key>x</key>
			<string>1179.33</string>
			<key>y</key>
			<string>29.1318</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{aacdc425-c76a-4e53-8ae3-ca22284616a1}</key>
		<dict>
			<key>x</key>
			<string>1145.63</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{82124b6a-a833-4d1e-8a1d-dea61fe51fed}</key>
		<dict>
			<key>x</key>
			<string>1145.81</string>
			<key>y</key>
			<string>31.6121</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{1b0b413d-7bae-4bff-b183-135889c9bdd6}</key>
		<dict>
			<key>x</key>
			<string>1100.35</string>
			<key>y</key>
			<string>29.1318</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{e1030552-a73a-42a6-8f1a-34a7d959e2d9}</key>
		<dict>
			<key>x</key>
			<string>1066.78</string>
			<key>y</key>
			<string>26.6515</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{70c249fc-11de-4ebe-9770-5f65c417cd3f}</key>
		<dict>
			<key>x</key>
			<string>1033.2</string>
			<key>y</key>
			<string>24.1712</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{33168f69-2c74-462b-99c5-bfc6e17f3e13}</key>
		<dict>
			<key>x</key>
			<string>987.92</string>
			<key>y</key>
			<string>26.6515</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{bfba626b-225f-4513-91f2-88711e1665ba}</key>
		<dict>
			<key>x</key>
			<string>954.346</string>
			<key>y</key>
			<string>29.1318</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{64ac7e27-025f-4241-b46d-400ed743f4e3}</key>
		<dict>
			<key>x</key>
			<string>920.771</string>
			<key>y</key>
			<string>31.6121</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{93c8b041-8247-4664-aefa-17a871836df5}</key>
		<dict>
			<key>x</key>
			<string>808.341</string>
			<key>y</key>
			<string>71.2972</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d8030436-cc3c-46b5-bc17-767e80493377}</key>
		<dict>
			<key>x</key>
			<string>763.06</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{8c9acbc6-777e-4dce-9c4c-020e30d265c8}</key>
		<dict>
			<key>x</key>
			<string>729.485</string>
			<key>y</key>
			<string>76.2578</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{48483af1-af89-4c6a-8732-bfd4e6342704}</key>
		<dict>
			<key>x</key>
			<string>695.911</string>
			<key>y</key>
			<string>78.7381</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{374995b3-835d-4d21-9a49-9bef4cfde5ce}</key>
		<dict>
			<key>x</key>
			<string>583.481</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f052c025-dc7d-41b0-aeb5-1365e2ffe1a3}</key>
		<dict>
			<key>x</key>
			<string>538.2</string>
			<key>y</key>
			<string>76.2578</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{e52fb49a-4e52-4159-a74f-2266548024be}</key>
		<dict>
			<key>x</key>
			<string>504.625</string>
			<key>y</key>
			<string>78.7381</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{cc1585f9-a803-41b8-a107-01317e8a958e}</key>
		<dict>
			<key>x</key>
			<string>471.051</string>
			<key>y</key>
			<string>81.2184</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>rests</key>
	<dict>
		<key>{b3975ef8-9356-41a8-9c1a-0af926cf11a8}</key>
		<dict>
			<key>x</key>
			<string>2607.22</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6cd9f628-bfb8-41f9-b655-1fa57fdb19ad}</key>
		<dict>
			<key>x</key>
			<string>2607.22</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{9d868a36-80c9-4c70-96f9-42deecaed8c8}</key>
		<dict>
			<key>x</key>
			<string>2494.79</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{57762c5d-f9be-428b-90e2-e8348cdbace3}</key>
		<dict>
			<key>x</key>
			<string>2494.79</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{5b72898b-eb9b-4394-aa18-8c56698ec874}</key>
		<dict>
			<key>x</key>
			<string>2382.36</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7a745f69-94de-40d3-99bb-7d8dbce01e2b}</key>
		<dict>
			<key>x</key>
			<string>2382.36</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{85e4d6f9-cb57-44eb-a08c-dc8f8ebb1ab4}</key>
		<dict>
			<key>x</key>
			<string>2269.93</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{15e83c27-d9aa-43b9-88d2-6f47f89fceaa}</key>
		<dict>
			<key>x</key>
			<string>2269.93</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{fae7f127-d725-4124-93a1-afdb4e66cd4f}</key>
		<dict>
			<key>x</key>
			<string>2045.54</string>
			<key>y</key>
			<string>26.6515</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{e4083bd4-b43d-46fd-b662-d99284069ef9}</key>
		<dict>
			<key>x</key>
			<string>1820.21</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f5eef5cc-1d64-4360-b7da-3b7a58a0f550}</key>
		<dict>
			<key>x</key>
			<string>1707.96</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{26ff3950-8dda-4ec1-b367-d2a1dd0a1c2b}</key>
		<dict>
			<key>x</key>
			<string>1595.35</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{245274a2-9115-486b-8a3c-ec6f9f29d53a}</key>
		<dict>
			<key>x</key>
			<string>1550.07</string>
			<key>y</key>
			<string>26.6515</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{cba286f9-d140-4cce-9a2a-292e9ff41392}</key>
		<dict>
			<key>x</key>
			<string>1516.5</string>
			<key>y</key>
			<string>26.6515</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{c49e1e05-53c5-439a-a7ec-f2eb31c61e7f}</key>
		<dict>
			<key>x</key>
			<string>1482.92</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{4037c0bd-39eb-449d-801e-c4ef316fa5cd}</key>
		<dict>
			<key>x</key>
			<string>1370.49</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{60ca2f25-85cf-4701-932b-a428424cff09}</key>
		<dict>
			<key>x</key>
			<string>1320.11</string>
			<key>y</key>
			<string>26.6515</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{8cc22d92-8179-4846-9494-5220e156d2e4}</key>
		<dict>
			<key>x</key>
			<string>1033.2</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f1ab19ad-7988-4155-99ae-a8e741603746}</key>
		<dict>
			<key>x</key>
			<string>920.771</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{56244af4-fd51-4ea4-bf95-fe0fdb9e18f3}</key>
		<dict>
			<key>x</key>
			<string>870.393</string>
			<key>y</key>
			<string>78.7381</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ff77d4f1-32cc-4911-97b9-5caa01a39e4a}</key>
		<dict>
			<key>x</key>
			<string>808.52</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{1c963cec-c9ca-4fcc-ae30-deb6c2b0e0ca}</key>
		<dict>
			<key>x</key>
			<string>695.911</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{0cb3aefb-b71c-464f-890a-e2748c818ba0}</key>
		<dict>
			<key>x</key>
			<string>645.533</string>
			<key>y</key>
			<string>78.7381</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d4b1fe7c-49f0-4dfd-b52b-a438251f8893}</key>
		<dict>
			<key>x</key>
			<string>583.66</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{5e6069a0-8656-410f-92f0-0ebb1cd13c2e}</key>
		<dict>
			<key>x</key>
			<string>471.051</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{23ae2fa3-2ade-42cc-beed-656eba5994fc}</key>
		<dict>
			<key>x</key>
			<string>358.621</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{62c94550-67d3-4fd6-ab34-007f68dbcece}</key>
		<dict>
			<key>x</key>
			<string>358.621</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{85b6280b-cd78-4b10-a484-c90d9e795a95}</key>
		<dict>
			<key>x</key>
			<string>246.191</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6e306a2b-c567-4a46-bad5-a997f3e3ef66}</key>
		<dict>
			<key>x</key>
			<string>246.191</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{e09b5653-3e25-4519-bd7c-ca110b24abd1}</key>
		<dict>
			<key>x</key>
			<string>133.761</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{95c4602a-1136-4a5a-990a-1026cb89b0ec}</key>
		<dict>
			<key>x</key>
			<string>133.761</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{7e5885aa-0a4c-458f-8f0c-7de934545f79}</key>
		<dict>
			<key>x</key>
			<string>48.7831</string>
			<key>y</key>
			<string>73.7775</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{37604b0f-ed96-4fbb-8d54-03716a55ec10}</key>
		<dict>
			<key>x</key>
			<string>48.7831</string>
			<key>y</key>
			<string>21.6909</string>
			<key>idx</key>
			<string>0</string>
		</dict>
	</dict>
	<key>dots</key>
	<dict>
		<key>{d702196b-7045-4e45-b5e2-088c4a32a73c}</key>
		<dict>
			<key>x</key>
			<string>57.0472</string>
			<key>y</key>
			<string>2166.13</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{496260dc-2fa9-4142-a154-f58b886baae0}</key>
		<dict>
			<key>x</key>
			<string>104.173</string>
			<key>y</key>
			<string>2053.98</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{474084da-2ac2-41f7-a13a-9592050f362b}</key>
		<dict>
			<key>x</key>
			<string>104.173</string>
			<key>y</key>
			<string>1941.27</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7fe4f70a-245a-4623-a629-1efaade45257}</key>
		<dict>
			<key>x</key>
			<string>114.094</string>
			<key>y</key>
			<string>1716.41</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{3bc865ea-b7e5-4675-a43b-ad9b620e69d3}</key>
		<dict>
			<key>x</key>
			<string>109.134</string>
			<key>y</key>
			<string>1266.69</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{90b8c7d7-73da-4c9c-a20c-4e172a16031b}</key>
		<dict>
			<key>x</key>
			<string>104.173</string>
			<key>y</key>
			<string>1154.26</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>note_dots</key>
	<dict>
		<key>{19b44236-fea3-45f6-bc3a-52b4305543f0}</key>
		<array>
			
			<string>{d702196b-7045-4e45-b5e2-088c4a32a73c}</string>
		</array>
		<key>{6590b725-3b3f-41ed-a161-3ee614052050}</key>
		<array>
			
			<string>{496260dc-2fa9-4142-a154-f58b886baae0}</string>
		</array>
		<key>{420f1ccc-0a72-4a92-bb43-49e3ffc74ce2}</key>
		<array>
			
			<string>{474084da-2ac2-41f7-a13a-9592050f362b}</string>
		</array>
		<key>{0d8294f5-429c-4f32-98eb-ba9b5c0e7f4f}</key>
		<array>
			
			<string>{7fe4f70a-245a-4623-a629-1efaade45257}</string>
		</array>
		<key>{2d388c5c-7101-4d39-90cc-2239b0710ebd}</key>
		<array>
			
			<string>{3bc865ea-b7e5-4675-a43b-ad9b620e69d3}</string>
		</array>
		<key>{aacdc425-c76a-4e53-8ae3-ca22284616a1}</key>
		<array>
			
			<string>{90b8c7d7-73da-4c9c-a20c-4e172a16031b}</string>
		</array>
	</dict>
	<key>stems</key>
	<dict>
		<key>{957331ef-371f-4c0b-a25f-945e5b1cbd4c}</key>
		<dict>
			<key>x1</key>
			<string>2225.76</string>
			<key>y1</key>
			<string>80.2868</string>
			<key>x2</key>
			<string>2225.76</string>
			<key>y2</key>
			<string>65.0964</string>
			<key>height</key>
			<string>-16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ec617920-a0ad-4840-874c-93f38fc2a214}</key>
		<dict>
			<key>x1</key>
			<string>2157.82</string>
			<key>y1</key>
			<string>77.0356</string>
			<key>x2</key>
			<string>2157.82</string>
			<key>y2</key>
			<string>92.3799</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{923ffcf8-1790-4000-b81f-3588b43806d6}</key>
		<dict>
			<key>x1</key>
			<string>2157.82</string>
			<key>y1</key>
			<string>24.949</string>
			<key>x2</key>
			<string>2157.82</string>
			<key>y2</key>
			<string>40.2932</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{cffd6d54-9898-4484-b7cb-c535118d2365}</key>
		<dict>
			<key>x1</key>
			<string>2112.7</string>
			<key>y1</key>
			<string>27.5832</string>
			<key>x2</key>
			<string>2112.7</string>
			<key>y2</key>
			<string>42.1535</string>
			<key>height</key>
			<string>15.502</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{ffad3bc6-66c1-4bd1-93ad-9d206cb9445f}</key>
		<dict>
			<key>x1</key>
			<string>2085.16</string>
			<key>y1</key>
			<string>28.2001</string>
			<key>x2</key>
			<string>2085.16</string>
			<key>y2</key>
			<string>13.0098</string>
			<key>height</key>
			<string>-16.122</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{ac152f03-f8c3-4c0b-ac8f-64d3177ee77c}</key>
		<dict>
			<key>x1</key>
			<string>2045.68</string>
			<key>y1</key>
			<string>74.5553</string>
			<key>x2</key>
			<string>2045.68</string>
			<key>y2</key>
			<string>90.5196</string>
			<key>height</key>
			<string>16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{a51ebb42-1c71-4bdd-8a6a-156bdf7c105f}</key>
		<dict>
			<key>x1</key>
			<string>2000.9</string>
			<key>y1</key>
			<string>30.6805</string>
			<key>x2</key>
			<string>2000.9</string>
			<key>y2</key>
			<string>14.87</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{0650fc59-ac52-4878-856a-6069c9e84cf0}</key>
		<dict>
			<key>x1</key>
			<string>1932.96</string>
			<key>y1</key>
			<string>72.075</string>
			<key>x2</key>
			<string>1932.96</string>
			<key>y2</key>
			<string>88.6594</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{8de60b22-9f64-4453-b433-5cf13550776a}</key>
		<dict>
			<key>x1</key>
			<string>1932.96</string>
			<key>y1</key>
			<string>27.4293</string>
			<key>x2</key>
			<string>1932.96</string>
			<key>y2</key>
			<string>42.1535</string>
			<key>height</key>
			<string>15.502</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{87f3a000-096b-4719-ba30-e9ae4414117b}</key>
		<dict>
			<key>x1</key>
			<string>1893.57</string>
			<key>y1</key>
			<string>28.2001</string>
			<key>x2</key>
			<string>1893.57</string>
			<key>y2</key>
			<string>13.0098</string>
			<key>height</key>
			<string>-16.122</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{f537072b-52c8-4658-816e-396d785e7183}</key>
		<dict>
			<key>x1</key>
			<string>1859.99</string>
			<key>y1</key>
			<string>30.6805</string>
			<key>x2</key>
			<string>1859.99</string>
			<key>y2</key>
			<string>14.87</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{91d54f18-2c26-4782-84c5-87b4df9bf270}</key>
		<dict>
			<key>x1</key>
			<string>1826.42</string>
			<key>y1</key>
			<string>33.1608</string>
			<key>x2</key>
			<string>1826.42</string>
			<key>y2</key>
			<string>16.7302</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{d18d874c-ddc2-4235-aaee-b972525356fb}</key>
		<dict>
			<key>x1</key>
			<string>1714.35</string>
			<key>y1</key>
			<string>80.4565</string>
			<key>x2</key>
			<string>1714.35</string>
			<key>y2</key>
			<string>65.0964</string>
			<key>height</key>
			<string>-16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9663c137-b687-4ca7-b6dc-13a571d4bf44}</key>
		<dict>
			<key>x1</key>
			<string>1662.82</string>
			<key>y1</key>
			<string>72.2289</string>
			<key>x2</key>
			<string>1662.82</string>
			<key>y2</key>
			<string>88.6594</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{82b7e28d-b634-4a2e-b220-8ea1181d2b44}</key>
		<dict>
			<key>x1</key>
			<string>1629.25</string>
			<key>y1</key>
			<string>77.1895</string>
			<key>x2</key>
			<string>1629.25</string>
			<key>y2</key>
			<string>92.3799</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{3d8c679f-cb42-43c2-8942-d088b39df9df}</key>
		<dict>
			<key>x1</key>
			<string>1595.67</string>
			<key>y1</key>
			<string>72.2289</string>
			<key>x2</key>
			<string>1595.67</string>
			<key>y2</key>
			<string>88.6594</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{905429a4-2c25-446f-985c-a11ad0676b34}</key>
		<dict>
			<key>x1</key>
			<string>1489.13</string>
			<key>y1</key>
			<string>33.1608</string>
			<key>x2</key>
			<string>1489.13</string>
			<key>y2</key>
			<string>16.7302</string>
			<key>height</key>
			<string>-17.3622</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{97ebbff4-9db2-4b76-a243-5b8d48bb36ce}</key>
		<dict>
			<key>x1</key>
			<string>1437.96</string>
			<key>y1</key>
			<string>25.1029</string>
			<key>x2</key>
			<string>1437.96</string>
			<key>y2</key>
			<string>40.2932</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{ef0229ea-dcbc-4d8c-89e6-5a77f15a86fa}</key>
		<dict>
			<key>x1</key>
			<string>1410.27</string>
			<key>y1</key>
			<string>28.2001</string>
			<key>x2</key>
			<string>1410.27</string>
			<key>y2</key>
			<string>13.0098</string>
			<key>height</key>
			<string>-16.122</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{057f81af-d3ab-4bd6-b780-c4fe6e0d5a29}</key>
		<dict>
			<key>x1</key>
			<string>1370.81</string>
			<key>y1</key>
			<string>25.1029</string>
			<key>x2</key>
			<string>1370.81</string>
			<key>y2</key>
			<string>40.2932</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{0eabb77a-8480-454f-847c-67aa7e2db534}</key>
		<dict>
			<key>x1</key>
			<string>1258.38</string>
			<key>y1</key>
			<string>77.0356</string>
			<key>x2</key>
			<string>1258.38</string>
			<key>y2</key>
			<string>92.3799</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d6713002-13e4-4af5-8db5-ef2d32302d89}</key>
		<dict>
			<key>x1</key>
			<string>1258.38</string>
			<key>y1</key>
			<string>24.949</string>
			<key>x2</key>
			<string>1258.38</string>
			<key>y2</key>
			<string>40.2932</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{2f479ee4-9532-4f09-8fb0-d54611efee9f}</key>
		<dict>
			<key>x1</key>
			<string>1213.16</string>
			<key>y1</key>
			<string>27.5832</string>
			<key>x2</key>
			<string>1213.16</string>
			<key>y2</key>
			<string>42.1535</string>
			<key>height</key>
			<string>15.502</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{6de57c06-0ad4-43e3-8b7a-d1f009320c20}</key>
		<dict>
			<key>x1</key>
			<string>1185.53</string>
			<key>y1</key>
			<string>28.2001</string>
			<key>x2</key>
			<string>1185.53</string>
			<key>y2</key>
			<string>13.0098</string>
			<key>height</key>
			<string>-16.122</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{3bacac1c-78c4-475f-b7db-2f4253af29c6}</key>
		<dict>
			<key>x1</key>
			<string>1145.95</string>
			<key>y1</key>
			<string>74.5553</string>
			<key>x2</key>
			<string>1145.95</string>
			<key>y2</key>
			<string>90.5196</string>
			<key>height</key>
			<string>16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{96a4033c-dadf-4f2c-b8e4-287550cd0f6a}</key>
		<dict>
			<key>x1</key>
			<string>1152.02</string>
			<key>y1</key>
			<string>30.6805</string>
			<key>x2</key>
			<string>1152.02</string>
			<key>y2</key>
			<string>14.87</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{674b137d-c867-4d12-9d1a-28b82bb22808}</key>
		<dict>
			<key>x1</key>
			<string>1106.56</string>
			<key>y1</key>
			<string>28.2001</string>
			<key>x2</key>
			<string>1106.56</string>
			<key>y2</key>
			<string>13.0098</string>
			<key>height</key>
			<string>-16.122</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{ee1db881-f253-4cce-ab74-5c7a70713507}</key>
		<dict>
			<key>x1</key>
			<string>1067.1</string>
			<key>y1</key>
			<string>27.5832</string>
			<key>x2</key>
			<string>1067.1</string>
			<key>y2</key>
			<string>42.1535</string>
			<key>height</key>
			<string>15.502</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{9f264155-d838-490c-9fe0-a0390aa87add}</key>
		<dict>
			<key>x1</key>
			<string>1033.52</string>
			<key>y1</key>
			<string>25.1029</string>
			<key>x2</key>
			<string>1033.52</string>
			<key>y2</key>
			<string>40.2932</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{bf7fcf97-378e-4464-8793-915f4a7142e5}</key>
		<dict>
			<key>x1</key>
			<string>988.242</string>
			<key>y1</key>
			<string>27.5832</string>
			<key>x2</key>
			<string>988.242</string>
			<key>y2</key>
			<string>42.1535</string>
			<key>height</key>
			<string>15.502</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{d54989c9-58a8-4399-83ef-0b09df2e70e3}</key>
		<dict>
			<key>x1</key>
			<string>960.554</string>
			<key>y1</key>
			<string>28.2001</string>
			<key>x2</key>
			<string>960.554</string>
			<key>y2</key>
			<string>13.0098</string>
			<key>height</key>
			<string>-16.122</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{f7e76bf2-45ed-4d68-994b-243a1fcd753d}</key>
		<dict>
			<key>x1</key>
			<string>926.98</string>
			<key>y1</key>
			<string>30.6805</string>
			<key>x2</key>
			<string>926.98</string>
			<key>y2</key>
			<string>14.87</string>
			<key>height</key>
			<string>-16.7421</string>
			<key>idx</key>
			<string>0</string>
		</dict>
		<key>{6810c2ea-6baf-4044-9a92-5b79aebc5d7d}</key>
		<dict>
			<key>x1</key>
			<string>808.664</string>
			<key>y1</key>
			<string>72.075</string>
			<key>x2</key>
			<string>808.664</string>
			<key>y2</key>
			<string>88.6594</string>
			<key>height</key>
			<string>17.3622</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{1f433406-bf62-416c-91f7-5662c3a71c43}</key>
		<dict>
			<key>x1</key>
			<string>763.382</string>
			<key>y1</key>
			<string>74.7092</string>
			<key>x2</key>
			<string>763.382</string>
			<key>y2</key>
			<string>90.5196</string>
			<key>height</key>
			<string>16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{a9e64a70-5d10-42ca-99f8-4f81463dffe4}</key>
		<dict>
			<key>x1</key>
			<string>729.808</string>
			<key>y1</key>
			<string>77.1895</string>
			<key>x2</key>
			<string>729.808</string>
			<key>y2</key>
			<string>92.3799</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b5477e11-ccd1-4b1b-8e91-fce45bb0b59b}</key>
		<dict>
			<key>x1</key>
			<string>696.234</string>
			<key>y1</key>
			<string>79.6698</string>
			<key>x2</key>
			<string>696.234</string>
			<key>y2</key>
			<string>94.2401</string>
			<key>height</key>
			<string>15.502</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{62f2c08b-6f1d-43a2-a1e1-e5b7ca0ff24d}</key>
		<dict>
			<key>x1</key>
			<string>583.804</string>
			<key>y1</key>
			<string>74.5553</string>
			<key>x2</key>
			<string>583.804</string>
			<key>y2</key>
			<string>90.5196</string>
			<key>height</key>
			<string>16.7421</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{aa023d59-051c-4a33-a859-ddf3aa44b058}</key>
		<dict>
			<key>x1</key>
			<string>538.522</string>
			<key>y1</key>
			<string>77.1895</string>
			<key>x2</key>
			<string>538.522</string>
			<key>y2</key>
			<string>92.3799</string>
			<key>height</key>
			<string>16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{a529a612-b490-442b-8c89-e007aaa1524c}</key>
		<dict>
			<key>x1</key>
			<string>504.948</string>
			<key>y1</key>
			<string>79.6698</string>
			<key>x2</key>
			<string>504.948</string>
			<key>y2</key>
			<string>94.2401</string>
			<key>height</key>
			<string>15.502</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{24203fb9-01e8-48e3-bf83-c2e7fd7f7b0a}</key>
		<dict>
			<key>x1</key>
			<string>477.26</string>
			<key>y1</key>
			<string>80.2868</string>
			<key>x2</key>
			<string>477.26</string>
			<key>y2</key>
			<string>65.0964</string>
			<key>height</key>
			<string>-16.122</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>note_stems</key>
	<dict>
		<key>{59cca98d-c004-419e-a6e4-14f055d678c0}</key>
		<string>{957331ef-371f-4c0b-a25f-945e5b1cbd4c}</string>
		<key>{c0c81199-4e0e-4f77-aa9e-10d0bf429394}</key>
		<string>{ec617920-a0ad-4840-874c-93f38fc2a214}</string>
		<key>{19b44236-fea3-45f6-bc3a-52b4305543f0}</key>
		<string>{923ffcf8-1790-4000-b81f-3588b43806d6}</string>
		<key>{10a5d035-9893-4297-a40c-85e4ab0ca8da}</key>
		<string>{cffd6d54-9898-4484-b7cb-c535118d2365}</string>
		<key>{3ed5cbda-f7be-4bd4-b79f-1961801b75f5}</key>
		<string>{ffad3bc6-66c1-4bd1-93ad-9d206cb9445f}</string>
		<key>{6590b725-3b3f-41ed-a161-3ee614052050}</key>
		<string>{ac152f03-f8c3-4c0b-ac8f-64d3177ee77c}</string>
		<key>{2eab86b2-ff54-42dc-ba2d-530ca126f309}</key>
		<string>{a51ebb42-1c71-4bdd-8a6a-156bdf7c105f}</string>
		<key>{420f1ccc-0a72-4a92-bb43-49e3ffc74ce2}</key>
		<string>{0650fc59-ac52-4878-856a-6069c9e84cf0}</string>
		<key>{7b69a0fe-c97e-4ed8-8b38-9952f6f76b96}</key>
		<string>{8de60b22-9f64-4453-b433-5cf13550776a}</string>
		<key>{2f1ff2d7-30ff-4a37-a949-1ce2a77668f9}</key>
		<string>{87f3a000-096b-4719-ba30-e9ae4414117b}</string>
		<key>{506c2366-7a5e-4a2a-821c-67065d04fb5d}</key>
		<string>{f537072b-52c8-4658-816e-396d785e7183}</string>
		<key>{1b5a0576-3315-4abf-b52d-6663fe58a183}</key>
		<string>{91d54f18-2c26-4782-84c5-87b4df9bf270}</string>
		<key>{0d8294f5-429c-4f32-98eb-ba9b5c0e7f4f}</key>
		<string>{d18d874c-ddc2-4235-aaee-b972525356fb}</string>
		<key>{da7b1c72-e037-4151-88b8-bf90ed479c41}</key>
		<string>{9663c137-b687-4ca7-b6dc-13a571d4bf44}</string>
		<key>{0707fe8b-06b8-494d-baf0-4eb6f259f82f}</key>
		<string>{82b7e28d-b634-4a2e-b220-8ea1181d2b44}</string>
		<key>{da2a58fa-6b9b-44ca-a6a6-2c199c4dc7e1}</key>
		<string>{3d8c679f-cb42-43c2-8942-d088b39df9df}</string>
		<key>{9d75ad02-5204-4785-8c2c-25b558a58090}</key>
		<string>{905429a4-2c25-446f-985c-a11ad0676b34}</string>
		<key>{f185543b-e15e-4f07-bc2f-18a882ae4ebd}</key>
		<string>{97ebbff4-9db2-4b76-a243-5b8d48bb36ce}</string>
		<key>{c8b9f0f0-ec26-4783-a44b-363d23c7e7dc}</key>
		<string>{ef0229ea-dcbc-4d8c-89e6-5a77f15a86fa}</string>
		<key>{a72b4a5b-889e-41a6-a82b-6b0975e11d90}</key>
		<string>{057f81af-d3ab-4bd6-b780-c4fe6e0d5a29}</string>
		<key>{2d388c5c-7101-4d39-90cc-2239b0710ebd}</key>
		<string>{0eabb77a-8480-454f-847c-67aa7e2db534}</string>
		<key>{5bf457d8-c5f0-47c5-b2db-56a28f598364}</key>
		<string>{d6713002-13e4-4af5-8db5-ef2d32302d89}</string>
		<key>{7ccf458e-efd3-4a33-bb03-665e7b6b18a2}</key>
		<string>{2f479ee4-9532-4f09-8fb0-d54611efee9f}</string>
		<key>{856a26f6-b368-485f-9221-275011d01cbd}</key>
		<string>{6de57c06-0ad4-43e3-8b7a-d1f009320c20}</string>
		<key>{aacdc425-c76a-4e53-8ae3-ca22284616a1}</key>
		<string>{3bacac1c-78c4-475f-b7db-2f4253af29c6}</string>
		<key>{82124b6a-a833-4d1e-8a1d-dea61fe51fed}</key>
		<string>{96a4033c-dadf-4f2c-b8e4-287550cd0f6a}</string>
		<key>{1b0b413d-7bae-4bff-b183-135889c9bdd6}</key>
		<string>{674b137d-c867-4d12-9d1a-28b82bb22808}</string>
		<key>{e1030552-a73a-42a6-8f1a-34a7d959e2d9}</key>
		<string>{ee1db881-f253-4cce-ab74-5c7a70713507}</string>
		<key>{70c249fc-11de-4ebe-9770-5f65c417cd3f}</key>
		<string>{9f264155-d838-490c-9fe0-a0390aa87add}</string>
		<key>{33168f69-2c74-462b-99c5-bfc6e17f3e13}</key>
		<string>{bf7fcf97-378e-4464-8793-915f4a7142e5}</string>
		<key>{bfba626b-225f-4513-91f2-88711e1665ba}</key>
		<string>{d54989c9-58a8-4399-83ef-0b09df2e70e3}</string>
		<key>{64ac7e27-025f-4241-b46d-400ed743f4e3}</key>
		<string>{f7e76bf2-45ed-4d68-994b-243a1fcd753d}</string>
		<key>{93c8b041-8247-4664-aefa-17a871836df5}</key>
		<string>{6810c2ea-6baf-4044-9a92-5b79aebc5d7d}</string>
		<key>{d8030436-cc3c-46b5-bc17-767e80493377}</key>
		<string>{1f433406-bf62-416c-91f7-5662c3a71c43}</string>
		<key>{8c9acbc6-777e-4dce-9c4c-020e30d265c8}</key>
		<string>{a9e64a70-5d10-42ca-99f8-4f81463dffe4}</string>
		<key>{48483af1-af89-4c6a-8732-bfd4e6342704}</key>
		<string>{b5477e11-ccd1-4b1b-8e91-fce45bb0b59b}</string>
		<key>{374995b3-835d-4d21-9a49-9bef4cfde5ce}</key>
		<string>{62f2c08b-6f1d-43a2-a1e1-e5b7ca0ff24d}</string>
		<key>{f052c025-dc7d-41b0-aeb5-1365e2ffe1a3}</key>
		<string>{aa023d59-051c-4a33-a859-ddf3aa44b058}</string>
		<key>{e52fb49a-4e52-4159-a74f-2266548024be}</key>
		<string>{a529a612-b490-442b-8c89-e007aaa1524c}</string>
		<key>{cc1585f9-a803-41b8-a107-01317e8a958e}</key>
		<string>{24203fb9-01e8-48e3-bf83-c2e7fd7f7b0a}</string>
	</dict>
	<key>note_finger</key>
	<dict>
	</dict>
	<key>note_step</key>
	<dict>
		<key>{59cca98d-c004-419e-a6e4-14f055d678c0}</key>
		<string>{0ccbf2c1-10d8-484f-a7cc-bbf68ede3a79}</string>
		<key>{c0c81199-4e0e-4f77-aa9e-10d0bf429394}</key>
		<string>{a5eebfc2-5808-4be7-8489-01782492e48b}</string>
		<key>{19b44236-fea3-45f6-bc3a-52b4305543f0}</key>
		<string>{d78d7310-7066-4d52-815e-f9e4e043c970}</string>
		<key>{10a5d035-9893-4297-a40c-85e4ab0ca8da}</key>
		<string>{aa779d76-072f-4cba-bff8-4413f03e499a}</string>
		<key>{3ed5cbda-f7be-4bd4-b79f-1961801b75f5}</key>
		<string>{c49e4061-fdfe-4b54-bd6e-b3e88bf2bdd1}</string>
		<key>{6590b725-3b3f-41ed-a161-3ee614052050}</key>
		<string>{1f97d113-d028-468c-b448-80b81a525a06}</string>
		<key>{2eab86b2-ff54-42dc-ba2d-530ca126f309}</key>
		<string>{32ff6a0a-ebb1-48c1-aee1-3480333d9f68}</string>
		<key>{420f1ccc-0a72-4a92-bb43-49e3ffc74ce2}</key>
		<string>{8bf100d7-f10f-4693-a430-c4b2df0b91ef}</string>
		<key>{7b69a0fe-c97e-4ed8-8b38-9952f6f76b96}</key>
		<string>{def819db-1396-41fb-b113-701136ff5a8e}</string>
		<key>{2f1ff2d7-30ff-4a37-a949-1ce2a77668f9}</key>
		<string>{824ca299-6b08-4c78-92d5-b17d1e83017c}</string>
		<key>{506c2366-7a5e-4a2a-821c-67065d04fb5d}</key>
		<string>{758bc1a5-4baf-46f5-97e8-446ba7c3ba71}</string>
		<key>{1b5a0576-3315-4abf-b52d-6663fe58a183}</key>
		<string>{1e423324-aada-437e-b8a4-4e4d4fbf65a9}</string>
		<key>{0d8294f5-429c-4f32-98eb-ba9b5c0e7f4f}</key>
		<string>{5311eaa3-1434-49f9-b6bd-39873c45ebb1}</string>
		<key>{da7b1c72-e037-4151-88b8-bf90ed479c41}</key>
		<string>{6bd9a21d-97b4-49ff-88f3-3b501cf076a2}</string>
		<key>{0707fe8b-06b8-494d-baf0-4eb6f259f82f}</key>
		<string>{c0b26de4-fbe0-4422-a5f4-86f9ceb32537}</string>
		<key>{da2a58fa-6b9b-44ca-a6a6-2c199c4dc7e1}</key>
		<string>{04fd31c2-9aaf-4337-b95a-aef899a20be9}</string>
		<key>{9d75ad02-5204-4785-8c2c-25b558a58090}</key>
		<string>{d23eb96e-3be0-421b-8f03-60a4fa571a12}</string>
		<key>{f185543b-e15e-4f07-bc2f-18a882ae4ebd}</key>
		<string>{97bc9288-f1d1-4c2e-8d4f-a7ca08b2c1b6}</string>
		<key>{c8b9f0f0-ec26-4783-a44b-363d23c7e7dc}</key>
		<string>{4eb2e8f8-23aa-45a8-9b3d-eeb93751653d}</string>
		<key>{a72b4a5b-889e-41a6-a82b-6b0975e11d90}</key>
		<string>{a53cdfa9-e07c-4372-bbcd-9818960153b7}</string>
		<key>{2d388c5c-7101-4d39-90cc-2239b0710ebd}</key>
		<string>{3949550e-1166-4c7a-8723-9e3d76304266}</string>
		<key>{5bf457d8-c5f0-47c5-b2db-56a28f598364}</key>
		<string>{c9c9c5f9-01bd-419b-9b9f-890191b9585e}</string>
		<key>{7ccf458e-efd3-4a33-bb03-665e7b6b18a2}</key>
		<string>{0b2cbbc0-97ec-4a50-a614-e83b72f7005d}</string>
		<key>{856a26f6-b368-485f-9221-275011d01cbd}</key>
		<string>{acd57256-5f40-413e-bd4f-b4359dbbd891}</string>
		<key>{aacdc425-c76a-4e53-8ae3-ca22284616a1}</key>
		<string>{df7f429e-4743-4e0c-a95f-5b351b8960df}</string>
		<key>{82124b6a-a833-4d1e-8a1d-dea61fe51fed}</key>
		<string>{ad609057-9cba-4a43-bed3-3f0e40dd1547}</string>
		<key>{1b0b413d-7bae-4bff-b183-135889c9bdd6}</key>
		<string>{e1acb37d-8dc7-47f3-b0c4-ab00cbeac7e8}</string>
		<key>{e1030552-a73a-42a6-8f1a-34a7d959e2d9}</key>
		<string>{a83da2de-9581-4322-b43f-dc0cd486623b}</string>
		<key>{70c249fc-11de-4ebe-9770-5f65c417cd3f}</key>
		<string>{85149b7f-c947-4086-a577-80c3262de332}</string>
		<key>{33168f69-2c74-462b-99c5-bfc6e17f3e13}</key>
		<string>{b3a9ea11-f772-41b7-a5b2-af170b952bbd}</string>
		<key>{bfba626b-225f-4513-91f2-88711e1665ba}</key>
		<string>{128058a8-f58a-4912-ae4d-391e681b2c13}</string>
		<key>{64ac7e27-025f-4241-b46d-400ed743f4e3}</key>
		<string>{5148daf8-ea34-4961-9bfe-cf9e90d425ca}</string>
		<key>{93c8b041-8247-4664-aefa-17a871836df5}</key>
		<string>{df312b31-c213-4542-91e8-6f87f5a9f5d1}</string>
		<key>{d8030436-cc3c-46b5-bc17-767e80493377}</key>
		<string>{46f5d5ab-09d7-447f-bd05-b1887bc2c579}</string>
		<key>{8c9acbc6-777e-4dce-9c4c-020e30d265c8}</key>
		<string>{ac6deb1a-1d23-49bb-b723-fb9b94ef9e19}</string>
		<key>{48483af1-af89-4c6a-8732-bfd4e6342704}</key>
		<string>{9f34cd8b-2f3a-4ec5-aafd-c8be1d0d81d3}</string>
		<key>{374995b3-835d-4d21-9a49-9bef4cfde5ce}</key>
		<string>{51440b0f-22e4-4f72-b090-52c233c7baa5}</string>
		<key>{f052c025-dc7d-41b0-aeb5-1365e2ffe1a3}</key>
		<string>{4385fd8f-05f1-4bc4-9c39-3594f77b4cea}</string>
		<key>{e52fb49a-4e52-4159-a74f-2266548024be}</key>
		<string>{41948257-d7cf-46c1-ae5e-d370ca279100}</string>
		<key>{cc1585f9-a803-41b8-a107-01317e8a958e}</key>
		<string>{44da0f75-87c2-4817-b678-b042db4e85fc}</string>
	</dict>
	<key>note_light</key>
	<dict>
		<key>{59cca98d-c004-419e-a6e4-14f055d678c0}</key>
		<array>
			
			<string>{957331ef-371f-4c0b-a25f-945e5b1cbd4c}</string>
		</array>
		<key>{c0c81199-4e0e-4f77-aa9e-10d0bf429394}</key>
		<array>
			
			<string>{ec617920-a0ad-4840-874c-93f38fc2a214}</string>
		</array>
		<key>{19b44236-fea3-45f6-bc3a-52b4305543f0}</key>
		<array>
			
			<string>{923ffcf8-1790-4000-b81f-3588b43806d6}</string>
			
			<string>{d702196b-7045-4e45-b5e2-088c4a32a73c}</string>
		</array>
		<key>{10a5d035-9893-4297-a40c-85e4ab0ca8da}</key>
		<array>
			
			<string>{cffd6d54-9898-4484-b7cb-c535118d2365}</string>
		</array>
		<key>{3ed5cbda-f7be-4bd4-b79f-1961801b75f5}</key>
		<array>
			
			<string>{ffad3bc6-66c1-4bd1-93ad-9d206cb9445f}</string>
		</array>
		<key>{6590b725-3b3f-41ed-a161-3ee614052050}</key>
		<array>
			
			<string>{ac152f03-f8c3-4c0b-ac8f-64d3177ee77c}</string>
			
			<string>{496260dc-2fa9-4142-a154-f58b886baae0}</string>
		</array>
		<key>{2eab86b2-ff54-42dc-ba2d-530ca126f309}</key>
		<array>
			
			<string>{a51ebb42-1c71-4bdd-8a6a-156bdf7c105f}</string>
		</array>
		<key>{420f1ccc-0a72-4a92-bb43-49e3ffc74ce2}</key>
		<array>
			
			<string>{0650fc59-ac52-4878-856a-6069c9e84cf0}</string>
			
			<string>{474084da-2ac2-41f7-a13a-9592050f362b}</string>
		</array>
		<key>{7b69a0fe-c97e-4ed8-8b38-9952f6f76b96}</key>
		<array>
			
			<string>{8de60b22-9f64-4453-b433-5cf13550776a}</string>
		</array>
		<key>{2f1ff2d7-30ff-4a37-a949-1ce2a77668f9}</key>
		<array>
			
			<string>{87f3a000-096b-4719-ba30-e9ae4414117b}</string>
		</array>
		<key>{506c2366-7a5e-4a2a-821c-67065d04fb5d}</key>
		<array>
			
			<string>{f537072b-52c8-4658-816e-396d785e7183}</string>
		</array>
		<key>{1b5a0576-3315-4abf-b52d-6663fe58a183}</key>
		<array>
			
			<string>{91d54f18-2c26-4782-84c5-87b4df9bf270}</string>
		</array>
		<key>{0d8294f5-429c-4f32-98eb-ba9b5c0e7f4f}</key>
		<array>
			
			<string>{d18d874c-ddc2-4235-aaee-b972525356fb}</string>
			
			<string>{7fe4f70a-245a-4623-a629-1efaade45257}</string>
		</array>
		<key>{da7b1c72-e037-4151-88b8-bf90ed479c41}</key>
		<array>
			
			<string>{9663c137-b687-4ca7-b6dc-13a571d4bf44}</string>
		</array>
		<key>{0707fe8b-06b8-494d-baf0-4eb6f259f82f}</key>
		<array>
			
			<string>{82b7e28d-b634-4a2e-b220-8ea1181d2b44}</string>
		</array>
		<key>{da2a58fa-6b9b-44ca-a6a6-2c199c4dc7e1}</key>
		<array>
			
			<string>{3d8c679f-cb42-43c2-8942-d088b39df9df}</string>
		</array>
		<key>{9d75ad02-5204-4785-8c2c-25b558a58090}</key>
		<array>
			
			<string>{905429a4-2c25-446f-985c-a11ad0676b34}</string>
		</array>
		<key>{f185543b-e15e-4f07-bc2f-18a882ae4ebd}</key>
		<array>
			
			<string>{97ebbff4-9db2-4b76-a243-5b8d48bb36ce}</string>
		</array>
		<key>{c8b9f0f0-ec26-4783-a44b-363d23c7e7dc}</key>
		<array>
			
			<string>{ef0229ea-dcbc-4d8c-89e6-5a77f15a86fa}</string>
		</array>
		<key>{a72b4a5b-889e-41a6-a82b-6b0975e11d90}</key>
		<array>
			
			<string>{057f81af-d3ab-4bd6-b780-c4fe6e0d5a29}</string>
		</array>
		<key>{2d388c5c-7101-4d39-90cc-2239b0710ebd}</key>
		<array>
			
			<string>{0eabb77a-8480-454f-847c-67aa7e2db534}</string>
			
			<string>{3bc865ea-b7e5-4675-a43b-ad9b620e69d3}</string>
		</array>
		<key>{5bf457d8-c5f0-47c5-b2db-56a28f598364}</key>
		<array>
			
			<string>{d6713002-13e4-4af5-8db5-ef2d32302d89}</string>
		</array>
		<key>{7ccf458e-efd3-4a33-bb03-665e7b6b18a2}</key>
		<array>
			
			<string>{2f479ee4-9532-4f09-8fb0-d54611efee9f}</string>
		</array>
		<key>{856a26f6-b368-485f-9221-275011d01cbd}</key>
		<array>
			
			<string>{6de57c06-0ad4-43e3-8b7a-d1f009320c20}</string>
		</array>
		<key>{aacdc425-c76a-4e53-8ae3-ca22284616a1}</key>
		<array>
			
			<string>{3bacac1c-78c4-475f-b7db-2f4253af29c6}</string>
			
			<string>{90b8c7d7-73da-4c9c-a20c-4e172a16031b}</string>
		</array>
		<key>{82124b6a-a833-4d1e-8a1d-dea61fe51fed}</key>
		<array>
			
			<string>{96a4033c-dadf-4f2c-b8e4-287550cd0f6a}</string>
		</array>
		<key>{1b0b413d-7bae-4bff-b183-135889c9bdd6}</key>
		<array>
			
			<string>{674b137d-c867-4d12-9d1a-28b82bb22808}</string>
		</array>
		<key>{e1030552-a73a-42a6-8f1a-34a7d959e2d9}</key>
		<array>
			
			<string>{ee1db881-f253-4cce-ab74-5c7a70713507}</string>
		</array>
		<key>{70c249fc-11de-4ebe-9770-5f65c417cd3f}</key>
		<array>
			
			<string>{9f264155-d838-490c-9fe0-a0390aa87add}</string>
		</array>
		<key>{33168f69-2c74-462b-99c5-bfc6e17f3e13}</key>
		<array>
			
			<string>{bf7fcf97-378e-4464-8793-915f4a7142e5}</string>
		</array>
		<key>{bfba626b-225f-4513-91f2-88711e1665ba}</key>
		<array>
			
			<string>{d54989c9-58a8-4399-83ef-0b09df2e70e3}</string>
		</array>
		<key>{64ac7e27-025f-4241-b46d-400ed743f4e3}</key>
		<array>
			
			<string>{f7e76bf2-45ed-4d68-994b-243a1fcd753d}</string>
		</array>
		<key>{93c8b041-8247-4664-aefa-17a871836df5}</key>
		<array>
			
			<string>{6810c2ea-6baf-4044-9a92-5b79aebc5d7d}</string>
		</array>
		<key>{d8030436-cc3c-46b5-bc17-767e80493377}</key>
		<array>
			
			<string>{1f433406-bf62-416c-91f7-5662c3a71c43}</string>
		</array>
		<key>{8c9acbc6-777e-4dce-9c4c-020e30d265c8}</key>
		<array>
			
			<string>{a9e64a70-5d10-42ca-99f8-4f81463dffe4}</string>
		</array>
		<key>{48483af1-af89-4c6a-8732-bfd4e6342704}</key>
		<array>
			
			<string>{b5477e11-ccd1-4b1b-8e91-fce45bb0b59b}</string>
		</array>
		<key>{374995b3-835d-4d21-9a49-9bef4cfde5ce}</key>
		<array>
			
			<string>{62f2c08b-6f1d-43a2-a1e1-e5b7ca0ff24d}</string>
		</array>
		<key>{f052c025-dc7d-41b0-aeb5-1365e2ffe1a3}</key>
		<array>
			
			<string>{aa023d59-051c-4a33-a859-ddf3aa44b058}</string>
		</array>
		<key>{e52fb49a-4e52-4159-a74f-2266548024be}</key>
		<array>
			
			<string>{a529a612-b490-442b-8c89-e007aaa1524c}</string>
		</array>
		<key>{cc1585f9-a803-41b8-a107-01317e8a958e}</key>
		<array>
			
			<string>{24203fb9-01e8-48e3-bf83-c2e7fd7f7b0a}</string>
		</array>
	</dict>
</dict>
</plist>