<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stffInteractionViewController</key>
	<dict>
		<key>ActivityDelay</key>
		<string>0</string>
		<key>Actions</key>
		<array>
			<dict>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>Description</key>
						<string>移动至小火车位置</string>
						<key>ActionType</key>
						<string>dragPrepare</string>
						<key>end_x</key>
						<string>460</string>
						<key>end_y</key>
						<string>1030</string>
					</dict>
					<dict>
						<key>Description</key>
						<string>拖动小火车至终点</string>
						<key>ActionType</key>
						<string>drag</string>
						<key>start_x</key>
						<string>460</string>
						<key>start_y</key>
						<string>1030</string>
						<key>end_x</key>
						<string>1640</string>
						<key>end_y</key>
						<string>1030</string>
					</dict>
					<dict>
						<key>ActionType</key>
						<string>special</string>
						<key>SpecialIndex</key>
						<string>1</string>
						<key>Delay</key>
						<string>1.0</string>
					</dict>
				</array>
				<key>LightRingAction</key>
				<array>
					<string>285</string>
					<string>285</string>
					<string>285</string>
				</array>
			</dict>
		</array>
		<key>Description</key>
		<string>托火车游戏</string>
	</dict>
	<key>LineAndJianJiaoHuVC</key>
	<dict>
		<key>ActivityDelay</key>
		<string>0</string>
		<key>Actions</key>
		<array>
			<dict>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>Description</key>
						<string>移动至第一个小鸟处</string>
						<key>ActionType</key>
						<string>dragPrepare</string>
						<key>end_x</key>
						<string>480</string>
						<key>end_y</key>
						<string>292</string>
					</dict>
					<dict>
						<key>Description</key>
						<string>拖动至第一线位置</string>
						<key>ActionType</key>
						<string>drag</string>
						<key>start_x</key>
						<string>480</string>
						<key>start_y</key>
						<string>292</string>
						<key>end_x</key>
						<string>480</string>
						<key>end_y</key>
						<string>974</string>
					</dict>
					<dict>
						<key>ActionType</key>
						<string>special</string>
						<key>SpecialIndex</key>
						<string>1</string>
						<key>Delay</key>
						<string>0.1</string>
					</dict>
				</array>
				<key>LightRingAction</key>
				<array>
					<string>200</string>
					<string>200</string>
					<string>200</string>
				</array>
			</dict>
		</array>
		<key>Description</key>
		<string>线和间和中央C游戏</string>
	</dict>
	<key>PaintingHalfNoteVC</key>
	<dict>
		<key>ActivityDelay</key>
		<string>0</string>
		<key>Actions</key>
		<array>
			<dict>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>Description</key>
						<string>移动至符干开始处</string>
						<key>ActionType</key>
						<string>dragPrepare</string>
						<key>end_x</key>
						<string>810</string>
						<key>end_y</key>
						<string>426</string>
					</dict>
					<dict>
						<key>Description</key>
						<string>拖动至音符底部</string>
						<key>ActionType</key>
						<string>drag</string>
						<key>start_x</key>
						<string>810</string>
						<key>start_y</key>
						<string>426</string>
						<key>end_x</key>
						<string>810</string>
						<key>end_y</key>
						<string>1034</string>
					</dict>
					<dict>
						<key>ActionType</key>
						<string>special</string>
						<key>SpecialIndex</key>
						<string>1</string>
						<key>Delay</key>
						<string>0</string>
					</dict>
				</array>
				<key>LightRingAction</key>
				<array>
					<string>220</string>
					<string>220</string>
					<string>220</string>
				</array>
			</dict>
		</array>
		<key>Description</key>
		<string>二分音符涂色游戏</string>
	</dict>
	<key>C4InteractionViewController</key>
	<dict>
		<key>LimitCourse</key>
		<string>2</string>
		<key>ActivityDelay</key>
		<string>0</string>
		<key>Actions</key>
		<array>
			<dict>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>ActionType</key>
						<string>image</string>
						<key>SpecialIndex</key>
						<string>1</string>
					</dict>
				</array>
				<key>LightRingAction</key>
				<array>
					<string>0</string>
				</array>
			</dict>
		</array>
		<key>Description</key>
		<string>中央C大炮游戏</string>
	</dict>
	<key>HalfNoteJiaoHuVC</key>
	<dict>
		<key>ActivityDelay</key>
		<string>0</string>
		<key>Actions</key>
		<array>
			<dict>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>ActionType</key>
						<string>image</string>
						<key>SpecialIndex</key>
						<string>1</string>
					</dict>
				</array>
				<key>LightRingAction</key>
				<array>
					<string>0</string>
				</array>
			</dict>
		</array>
		<key>Description</key>
		<string>二分音符找音符游戏</string>
	</dict>
</dict>
</plist>
