<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>541.205</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>576.784</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>701.744</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>737.323</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{cbbca003-e03e-4332-b9ad-000c3b766629}</key>
		<dict>
			<key>x</key>
			<string>453.258</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{539f85f1-418c-434b-849c-d1ec389d25ca}</key>
		<dict>
			<key>x</key>
			<string>405</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{800ebdf7-052a-4a00-aa76-f1dbd56bbb24}</key>
		<dict>
			<key>x</key>
			<string>363.489</string>
			<key>y</key>
			<string>561.047</string>
		</dict>
		<key>{46e2a103-73b0-4031-bb8b-de065ab4cbcb}</key>
		<dict>
			<key>x</key>
			<string>321.978</string>
			<key>y</key>
			<string>563.528</string>
		</dict>
		<key>{476be2f9-3773-4f76-b7e8-e751a9624cd8}</key>
		<dict>
			<key>x</key>
			<string>276.27</string>
			<key>y</key>
			<string>563.528</string>
		</dict>
		<key>{5fee2661-75f2-4c26-a68a-e017fe28a5d7}</key>
		<dict>
			<key>x</key>
			<string>237.308</string>
			<key>y</key>
			<string>561.047</string>
		</dict>
		<key>{9f03a848-d705-4d52-a61c-81a214991b86}</key>
		<dict>
			<key>x</key>
			<string>198.346</string>
			<key>y</key>
			<string>618.094</string>
		</dict>
		<key>{8fb39c8e-9f98-4f88-8bfa-776ddd3b5bc0}</key>
		<dict>
			<key>x</key>
			<string>151.178</string>
			<key>y</key>
			<string>620.575</string>
		</dict>
		<key>{3b06047c-d18f-4f29-8b95-b4439ff89c99}</key>
		<dict>
			<key>x</key>
			<string>111.222</string>
			<key>y</key>
			<string>623.055</string>
		</dict>
		<key>{321d92c5-0415-44d4-9206-246c28006873}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>625.535</string>
		</dict>
		<key>{cfe60804-940c-4e6d-8764-eaf717f7f945}</key>
		<dict>
			<key>x</key>
			<string>453.142</string>
			<key>y</key>
			<string>332.858</string>
		</dict>
		<key>{3c02c7f4-0510-4b54-a0f3-861b43304704}</key>
		<dict>
			<key>x</key>
			<string>404.749</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{b1a26847-c9f7-4fd9-bf48-f2d1f0c9bba7}</key>
		<dict>
			<key>x</key>
			<string>363.102</string>
			<key>y</key>
			<string>327.898</string>
		</dict>
		<key>{9fefd3b3-d484-4047-b666-cf68799312e3}</key>
		<dict>
			<key>x</key>
			<string>321.456</string>
			<key>y</key>
			<string>325.417</string>
		</dict>
		<key>{78d9cf8f-0d46-4b78-a699-30af8a23d14b}</key>
		<dict>
			<key>x</key>
			<string>275.709</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{b953400c-d742-45e6-8e27-979e4c2edd58}</key>
		<dict>
			<key>x</key>
			<string>236.708</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{6f9f4003-1cce-4b0a-a1b6-29716052b680}</key>
		<dict>
			<key>x</key>
			<string>197.707</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{d75d9409-d799-487d-b44c-09668673d15f}</key>
		<dict>
			<key>x</key>
			<string>151.062</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{ff8d91cb-dacf-40b9-9ac7-de0e62210e98}</key>
		<dict>
			<key>x</key>
			<string>111.164</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{5ef3772e-4690-4a28-b4bf-7bba021751ac}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{ccb24dd6-c1b7-4152-bf24-0d216ccafe81}</key>
		<dict>
			<key>x</key>
			<string>456.495</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{e7fd1229-b14f-46d1-ab3f-9511251eff96}</key>
		<dict>
			<key>x</key>
			<string>409.316</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{25be8238-ab5f-48d4-b5ad-50b575337c1b}</key>
		<dict>
			<key>x</key>
			<string>368.884</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{23b50725-58cc-4a17-8145-40dc46107a4e}</key>
		<dict>
			<key>x</key>
			<string>328.452</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{c66326e4-f101-478f-8aea-4322ecfd53a6}</key>
		<dict>
			<key>x</key>
			<string>283.822</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{6f1e28ae-b384-491f-99cd-b0bdefb6a9df}</key>
		<dict>
			<key>x</key>
			<string>245.939</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{e9de4eeb-577e-4358-99fa-d72f6a62cfbc}</key>
		<dict>
			<key>x</key>
			<string>208.056</string>
			<key>y</key>
			<string>179.079</string>
		</dict>
		<key>{23ce990c-1563-488b-8cd9-a96654dcd3e6}</key>
		<dict>
			<key>x</key>
			<string>161.967</string>
			<key>y</key>
			<string>181.559</string>
		</dict>
		<key>{b8e77e9c-8241-47c0-9d26-3860ad89b81f}</key>
		<dict>
			<key>x</key>
			<string>123.09</string>
			<key>y</key>
			<string>184.039</string>
		</dict>
		<key>{3c014580-e9b6-4ff5-b553-d0a6aaf88b01}</key>
		<dict>
			<key>x</key>
			<string>84.2129</string>
			<key>y</key>
			<string>186.52</string>
		</dict>
		<key>{f67cb925-30be-4515-ad22-880d8f8a6b7d}</key>
		<dict>
			<key>x</key>
			<string>449.793</string>
			<key>y</key>
			<string>786.074</string>
		</dict>
		<key>{68d99a74-9ff9-4429-8ea9-04d0b25f9490}</key>
		<dict>
			<key>x</key>
			<string>401.772</string>
			<key>y</key>
			<string>783.594</string>
		</dict>
		<key>{f3702674-de4c-4322-b6d4-a2cae2e39e73}</key>
		<dict>
			<key>x</key>
			<string>360.498</string>
			<key>y</key>
			<string>781.114</string>
		</dict>
		<key>{6b167649-2adc-421a-b7b5-c43de8cb3933}</key>
		<dict>
			<key>x</key>
			<string>319.224</string>
			<key>y</key>
			<string>778.633</string>
		</dict>
		<key>{2c91c18a-2a70-497b-af57-994c8535cdcb}</key>
		<dict>
			<key>x</key>
			<string>273.848</string>
			<key>y</key>
			<string>724.067</string>
		</dict>
		<key>{94edbf39-f986-4b29-8e8a-667854e03a61}</key>
		<dict>
			<key>x</key>
			<string>235.22</string>
			<key>y</key>
			<string>721.586</string>
		</dict>
		<key>{81f4362c-405e-4b6d-bd57-34bc96a2f327}</key>
		<dict>
			<key>x</key>
			<string>196.591</string>
			<key>y</key>
			<string>724.067</string>
		</dict>
		<key>{e4e52852-0450-45b1-9b70-5ea27cf82a15}</key>
		<dict>
			<key>x</key>
			<string>150.318</string>
			<key>y</key>
			<string>721.586</string>
		</dict>
		<key>{366ba56a-a88b-4dbc-a1e2-f6c3ecec6395}</key>
		<dict>
			<key>x</key>
			<string>110.792</string>
			<key>y</key>
			<string>719.106</string>
		</dict>
		<key>{21a9cb48-caaa-4413-880f-6b777986cbfb}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>716.626</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{cbbca003-e03e-4332-b9ad-000c3b766629}</key>
		<dict>
			<key>x1</key>
			<string>459.825</string>
			<key>y1</key>
			<string>555.325</string>
			<key>x2</key>
			<string>459.825</string>
			<key>y2</key>
			<string>539.344</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{539f85f1-418c-434b-849c-d1ec389d25ca}</key>
		<dict>
			<key>x1</key>
			<string>411.209</string>
			<key>y1</key>
			<string>557.635</string>
			<key>x2</key>
			<string>411.209</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{800ebdf7-052a-4a00-aa76-f1dbd56bbb24}</key>
		<dict>
			<key>x1</key>
			<string>369.698</string>
			<key>y1</key>
			<string>560.116</string>
			<key>x2</key>
			<string>369.698</string>
			<key>y2</key>
			<string>543.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{46e2a103-73b0-4031-bb8b-de065ab4cbcb}</key>
		<dict>
			<key>x1</key>
			<string>328.187</string>
			<key>y1</key>
			<string>562.596</string>
			<key>x2</key>
			<string>328.187</string>
			<key>y2</key>
			<string>546.165</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{476be2f9-3773-4f76-b7e8-e751a9624cd8}</key>
		<dict>
			<key>x1</key>
			<string>282.478</string>
			<key>y1</key>
			<string>562.596</string>
			<key>x2</key>
			<string>282.478</string>
			<key>y2</key>
			<string>546.165</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{5fee2661-75f2-4c26-a68a-e017fe28a5d7}</key>
		<dict>
			<key>x1</key>
			<string>243.516</string>
			<key>y1</key>
			<string>560.116</string>
			<key>x2</key>
			<string>243.516</string>
			<key>y2</key>
			<string>543.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9f03a848-d705-4d52-a61c-81a214991b86}</key>
		<dict>
			<key>x1</key>
			<string>198.668</string>
			<key>y1</key>
			<string>619.026</string>
			<key>x2</key>
			<string>198.668</string>
			<key>y2</key>
			<string>629.876</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{8fb39c8e-9f98-4f88-8bfa-776ddd3b5bc0}</key>
		<dict>
			<key>x1</key>
			<string>151.501</string>
			<key>y1</key>
			<string>621.506</string>
			<key>x2</key>
			<string>151.501</string>
			<key>y2</key>
			<string>631.736</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{3b06047c-d18f-4f29-8b95-b4439ff89c99}</key>
		<dict>
			<key>x1</key>
			<string>111.544</string>
			<key>y1</key>
			<string>623.987</string>
			<key>x2</key>
			<string>111.544</string>
			<key>y2</key>
			<string>634.217</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{321d92c5-0415-44d4-9206-246c28006873}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>626.467</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>636.697</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{cfe60804-940c-4e6d-8764-eaf717f7f945}</key>
		<dict>
			<key>x1</key>
			<string>453.464</string>
			<key>y1</key>
			<string>333.636</string>
			<key>x2</key>
			<string>453.464</string>
			<key>y2</key>
			<string>344.02</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{3c02c7f4-0510-4b54-a0f3-861b43304704}</key>
		<dict>
			<key>x1</key>
			<string>405.071</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>405.071</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{b1a26847-c9f7-4fd9-bf48-f2d1f0c9bba7}</key>
		<dict>
			<key>x1</key>
			<string>363.425</string>
			<key>y1</key>
			<string>328.829</string>
			<key>x2</key>
			<string>363.425</string>
			<key>y2</key>
			<string>339.059</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{9fefd3b3-d484-4047-b666-cf68799312e3}</key>
		<dict>
			<key>x1</key>
			<string>321.778</string>
			<key>y1</key>
			<string>326.349</string>
			<key>x2</key>
			<string>321.778</string>
			<key>y2</key>
			<string>337.199</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{78d9cf8f-0d46-4b78-a699-30af8a23d14b}</key>
		<dict>
			<key>x1</key>
			<string>281.917</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>281.917</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b953400c-d742-45e6-8e27-979e4c2edd58}</key>
		<dict>
			<key>x1</key>
			<string>242.916</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>242.916</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{6f9f4003-1cce-4b0a-a1b6-29716052b680}</key>
		<dict>
			<key>x1</key>
			<string>203.916</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>203.916</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d75d9409-d799-487d-b44c-09668673d15f}</key>
		<dict>
			<key>x1</key>
			<string>157.271</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>157.271</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ff8d91cb-dacf-40b9-9ac7-de0e62210e98}</key>
		<dict>
			<key>x1</key>
			<string>117.373</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>117.373</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{5ef3772e-4690-4a28-b4bf-7bba021751ac}</key>
		<dict>
			<key>x1</key>
			<string>77.4742</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>77.4742</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{ccb24dd6-c1b7-4152-bf24-0d216ccafe81}</key>
		<dict>
			<key>x1</key>
			<string>463.061</string>
			<key>y1</key>
			<string>116.309</string>
			<key>x2</key>
			<string>463.061</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{e7fd1229-b14f-46d1-ab3f-9511251eff96}</key>
		<dict>
			<key>x1</key>
			<string>415.525</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>415.525</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{25be8238-ab5f-48d4-b5ad-50b575337c1b}</key>
		<dict>
			<key>x1</key>
			<string>375.093</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>375.093</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{23b50725-58cc-4a17-8145-40dc46107a4e}</key>
		<dict>
			<key>x1</key>
			<string>334.66</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>334.66</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c66326e4-f101-478f-8aea-4322ecfd53a6}</key>
		<dict>
			<key>x1</key>
			<string>290.031</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>290.031</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{6f1e28ae-b384-491f-99cd-b0bdefb6a9df}</key>
		<dict>
			<key>x1</key>
			<string>252.148</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>252.148</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e9de4eeb-577e-4358-99fa-d72f6a62cfbc}</key>
		<dict>
			<key>x1</key>
			<string>208.379</string>
			<key>y1</key>
			<string>180.01</string>
			<key>x2</key>
			<string>208.379</string>
			<key>y2</key>
			<string>190.86</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{23ce990c-1563-488b-8cd9-a96654dcd3e6}</key>
		<dict>
			<key>x1</key>
			<string>162.29</string>
			<key>y1</key>
			<string>182.491</string>
			<key>x2</key>
			<string>162.29</string>
			<key>y2</key>
			<string>192.72</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{b8e77e9c-8241-47c0-9d26-3860ad89b81f}</key>
		<dict>
			<key>x1</key>
			<string>123.413</string>
			<key>y1</key>
			<string>184.971</string>
			<key>x2</key>
			<string>123.413</string>
			<key>y2</key>
			<string>195.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{3c014580-e9b6-4ff5-b553-d0a6aaf88b01}</key>
		<dict>
			<key>x1</key>
			<string>84.5353</string>
			<key>y1</key>
			<string>187.451</string>
			<key>x2</key>
			<string>84.5353</string>
			<key>y2</key>
			<string>197.681</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{f67cb925-30be-4515-ad22-880d8f8a6b7d}</key>
		<dict>
			<key>x1</key>
			<string>450.116</string>
			<key>y1</key>
			<string>786.852</string>
			<key>x2</key>
			<string>450.116</string>
			<key>y2</key>
			<string>797.236</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{68d99a74-9ff9-4429-8ea9-04d0b25f9490}</key>
		<dict>
			<key>x1</key>
			<string>402.095</string>
			<key>y1</key>
			<string>784.526</string>
			<key>x2</key>
			<string>402.095</string>
			<key>y2</key>
			<string>794.756</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{f3702674-de4c-4322-b6d4-a2cae2e39e73}</key>
		<dict>
			<key>x1</key>
			<string>360.82</string>
			<key>y1</key>
			<string>782.045</string>
			<key>x2</key>
			<string>360.82</string>
			<key>y2</key>
			<string>792.275</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{6b167649-2adc-421a-b7b5-c43de8cb3933}</key>
		<dict>
			<key>x1</key>
			<string>319.546</string>
			<key>y1</key>
			<string>779.565</string>
			<key>x2</key>
			<string>319.546</string>
			<key>y2</key>
			<string>790.415</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{2c91c18a-2a70-497b-af57-994c8535cdcb}</key>
		<dict>
			<key>x1</key>
			<string>280.057</string>
			<key>y1</key>
			<string>723.135</string>
			<key>x2</key>
			<string>280.057</string>
			<key>y2</key>
			<string>706.704</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{94edbf39-f986-4b29-8e8a-667854e03a61}</key>
		<dict>
			<key>x1</key>
			<string>241.428</string>
			<key>y1</key>
			<string>720.655</string>
			<key>x2</key>
			<string>241.428</string>
			<key>y2</key>
			<string>704.224</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{81f4362c-405e-4b6d-bd57-34bc96a2f327}</key>
		<dict>
			<key>x1</key>
			<string>202.8</string>
			<key>y1</key>
			<string>723.135</string>
			<key>x2</key>
			<string>202.8</string>
			<key>y2</key>
			<string>706.704</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e4e52852-0450-45b1-9b70-5ea27cf82a15}</key>
		<dict>
			<key>x1</key>
			<string>156.527</string>
			<key>y1</key>
			<string>720.655</string>
			<key>x2</key>
			<string>156.527</string>
			<key>y2</key>
			<string>704.224</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{366ba56a-a88b-4dbc-a1e2-f6c3ecec6395}</key>
		<dict>
			<key>x1</key>
			<string>117</string>
			<key>y1</key>
			<string>718.174</string>
			<key>x2</key>
			<string>117</string>
			<key>y2</key>
			<string>701.744</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{21a9cb48-caaa-4413-880f-6b777986cbfb}</key>
		<dict>
			<key>x1</key>
			<string>77.4742</string>
			<key>y1</key>
			<string>715.694</string>
			<key>x2</key>
			<string>77.4742</string>
			<key>y2</key>
			<string>699.883</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
	</dict>
</dict>
</plist>