<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{09b46e66-aecd-4018-8644-c63bc289c3b4}</key>
		<dict>
			<key>x</key>
			<string>447.955</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{bb102da9-7f44-45bc-aff9-b4c178b1a754}</key>
		<dict>
			<key>x</key>
			<string>401.967</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{507bdc84-b47c-4950-89af-7f0840271325}</key>
		<dict>
			<key>x</key>
			<string>362.726</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{b3c38eb1-5554-499f-8f81-b38b3ea330a2}</key>
		<dict>
			<key>x</key>
			<string>323.484</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{15007060-eaf9-49a9-be3d-893de997f96f}</key>
		<dict>
			<key>x</key>
			<string>277.496</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{4650fca7-551f-42b5-85d9-9326cc9d69fd}</key>
		<dict>
			<key>x</key>
			<string>238.255</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{4ac7c023-c2de-4bc8-84e6-95234ea8b271}</key>
		<dict>
			<key>x</key>
			<string>199.014</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{6e36e643-4a0e-42c5-836b-bc5e473609bb}</key>
		<dict>
			<key>x</key>
			<string>154.677</string>
			<key>y</key>
			<string>268.37</string>
		</dict>
		<key>{ef94d9fc-4462-4496-9ee7-c9234a4c5b5b}</key>
		<dict>
			<key>x</key>
			<string>117.087</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{b3af03be-1575-4211-b3fe-8637764eb389}</key>
		<dict>
			<key>x</key>
			<string>79.4972</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{4d90013b-2c0a-4b12-9103-f0d8d4fefee3}</key>
		<dict>
			<key>x</key>
			<string>454.037</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{6c94afde-d901-4a65-a1d0-35a2af9d3e9c}</key>
		<dict>
			<key>x</key>
			<string>408.588</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{2d90af0e-03c5-4f6e-a3e6-2bba2cddd02d}</key>
		<dict>
			<key>x</key>
			<string>369.885</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{26e4b27c-bdb4-4657-97ef-393c7f6983c1}</key>
		<dict>
			<key>x</key>
			<string>331.183</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{3cf1965f-9eea-4be8-9677-1dd5280aeda0}</key>
		<dict>
			<key>x</key>
			<string>285.734</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{5219e074-4183-45ac-a216-451aafda64e9}</key>
		<dict>
			<key>x</key>
			<string>247.031</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{64b0915f-6015-404c-ac85-65ca86b4e0ec}</key>
		<dict>
			<key>x</key>
			<string>208.329</string>
			<key>y</key>
			<string>149.315</string>
		</dict>
		<key>{a96762e7-ef60-4446-a078-45adbd1206f5}</key>
		<dict>
			<key>x</key>
			<string>164.066</string>
			<key>y</key>
			<string>151.795</string>
		</dict>
		<key>{0fd3d138-ef62-495d-a39a-c2261e8c6a03}</key>
		<dict>
			<key>x</key>
			<string>127.015</string>
			<key>y</key>
			<string>154.276</string>
		</dict>
		<key>{1053ad3f-43f9-4053-84e1-ed7d7c482506}</key>
		<dict>
			<key>x</key>
			<string>89.9641</string>
			<key>y</key>
			<string>156.756</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{09b46e66-aecd-4018-8644-c63bc289c3b4}</key>
		<dict>
			<key>x1</key>
			<string>448.278</string>
			<key>y1</key>
			<string>303.872</string>
			<key>x2</key>
			<string>448.278</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{bb102da9-7f44-45bc-aff9-b4c178b1a754}</key>
		<dict>
			<key>x1</key>
			<string>402.29</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>402.29</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{507bdc84-b47c-4950-89af-7f0840271325}</key>
		<dict>
			<key>x1</key>
			<string>363.048</string>
			<key>y1</key>
			<string>299.066</string>
			<key>x2</key>
			<string>363.048</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{b3c38eb1-5554-499f-8f81-b38b3ea330a2}</key>
		<dict>
			<key>x1</key>
			<string>323.807</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>323.807</string>
			<key>y2</key>
			<string>313.016</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{15007060-eaf9-49a9-be3d-893de997f96f}</key>
		<dict>
			<key>x1</key>
			<string>283.705</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>283.705</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{4650fca7-551f-42b5-85d9-9326cc9d69fd}</key>
		<dict>
			<key>x1</key>
			<string>244.464</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>244.464</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{4ac7c023-c2de-4bc8-84e6-95234ea8b271}</key>
		<dict>
			<key>x1</key>
			<string>205.222</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>205.222</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{6e36e643-4a0e-42c5-836b-bc5e473609bb}</key>
		<dict>
			<key>x1</key>
			<string>160.886</string>
			<key>y1</key>
			<string>267.438</string>
			<key>x2</key>
			<string>160.886</string>
			<key>y2</key>
			<string>251.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ef94d9fc-4462-4496-9ee7-c9234a4c5b5b}</key>
		<dict>
			<key>x1</key>
			<string>123.296</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>123.296</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b3af03be-1575-4211-b3fe-8637764eb389}</key>
		<dict>
			<key>x1</key>
			<string>85.7057</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>85.7057</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{4d90013b-2c0a-4b12-9103-f0d8d4fefee3}</key>
		<dict>
			<key>x1</key>
			<string>460.603</string>
			<key>y1</key>
			<string>116.309</string>
			<key>x2</key>
			<string>460.603</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{6c94afde-d901-4a65-a1d0-35a2af9d3e9c}</key>
		<dict>
			<key>x1</key>
			<string>414.796</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>414.796</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{2d90af0e-03c5-4f6e-a3e6-2bba2cddd02d}</key>
		<dict>
			<key>x1</key>
			<string>376.094</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>376.094</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{26e4b27c-bdb4-4657-97ef-393c7f6983c1}</key>
		<dict>
			<key>x1</key>
			<string>337.391</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>337.391</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3cf1965f-9eea-4be8-9677-1dd5280aeda0}</key>
		<dict>
			<key>x1</key>
			<string>291.942</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>291.942</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{5219e074-4183-45ac-a216-451aafda64e9}</key>
		<dict>
			<key>x1</key>
			<string>253.24</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>253.24</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{64b0915f-6015-404c-ac85-65ca86b4e0ec}</key>
		<dict>
			<key>x1</key>
			<string>208.651</string>
			<key>y1</key>
			<string>150.247</string>
			<key>x2</key>
			<string>208.651</string>
			<key>y2</key>
			<string>166.677</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{a96762e7-ef60-4446-a078-45adbd1206f5}</key>
		<dict>
			<key>x1</key>
			<string>164.389</string>
			<key>y1</key>
			<string>152.727</string>
			<key>x2</key>
			<string>164.389</string>
			<key>y2</key>
			<string>169.157</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{0fd3d138-ef62-495d-a39a-c2261e8c6a03}</key>
		<dict>
			<key>x1</key>
			<string>127.338</string>
			<key>y1</key>
			<string>155.207</string>
			<key>x2</key>
			<string>127.338</string>
			<key>y2</key>
			<string>171.638</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{1053ad3f-43f9-4053-84e1-ed7d7c482506}</key>
		<dict>
			<key>x1</key>
			<string>90.2865</string>
			<key>y1</key>
			<string>157.688</string>
			<key>x2</key>
			<string>90.2865</string>
			<key>y2</key>
			<string>174.118</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
	</dict>
</dict>
</plist>