<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributes</key>
	<dict>
		<key>time</key>
		<dict>
			<key>beats</key>
			<string>3</string>
			<key>per_minute</key>
			<string>162</string>
			<key>beat_type</key>
			<string>4</string>
		</dict>
		<key>metronome</key>
		<dict>
			<key>beat_unit</key>
			<string>quarter</string>
			<key>per_minute</key>
			<string>162</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{f628741e-066c-4d73-b707-c27c109bd18f}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{e2b899e4-82a3-4c1e-a41c-f90da26010f8}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{7cbcabf6-7775-4cf8-a574-494e87dc40f7}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{99ba3bb9-2e7c-4ac1-885f-ea6bc3f2d08b}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{8e46bdfa-24b9-4988-9fa6-a7b7bdfd9021}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{2b7355ef-7d39-4b99-bb08-14ee3891dce3}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{4256f2d6-fa6e-4412-81ff-4b8d28f1ae30}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{695066c3-f52a-44ad-a55c-225f3309f49d}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{1e342863-5acc-47e5-ab19-2bfb323145b9}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>alter</key>
			<string>1</string>
		</dict>
		<key>{3a3e5bb5-3182-4724-9999-a517d9b0ee59}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.11111</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{dd7b53ff-3cd4-46c2-8cac-dde71ec39246}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{5f08588f-9bb7-4a92-bf6a-4c5fde17a6c2}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>alter</key>
			<string>1</string>
		</dict>
		<key>{c8fa0c51-38d4-4f0d-8dd4-6bf667edcf40}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{fb1a2a96-8ff5-442c-a2a2-b69156684244}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{0e587f2b-dd71-4235-aac8-185b106cb7dc}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{d790c71c-f113-41c0-997a-a4a1f9f70a02}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{798dc2ca-0e5b-4ce0-ab68-2940de289ff1}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{03db9454-3cd0-493b-bbb2-0fdacaea7006}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{68b88179-d17e-4f33-bbcc-8f8f6ac77b8f}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{d37d564e-7cd5-437b-8edd-8e1033c39e8c}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.11111</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{e63cdb87-f114-4cb1-bbb3-e921d6e0a45d}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{38453483-abff-4d9b-bf18-2a67ed573a4a}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{ae0e7c5a-5388-424b-a669-b993a30912b0}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{4f7e1eb1-9437-4ff3-90f2-dc8fcbc610f8}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{d9eecb81-ff39-4e08-9a18-0690b9a807ce}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{ad0c67c1-16b8-4b3d-9190-469aafcbc8e8}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{897243ab-776d-4887-9ed3-36b48d82dd69}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{a036e9e5-8ca3-42ab-b025-42cbf6be8a19}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{37217c82-bb5c-416e-a49a-e058dbcab33c}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>alter</key>
			<string>1</string>
		</dict>
		<key>{df198279-3c34-494a-acd7-73e35046ec29}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.11111</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{f18a6592-0c4c-4b6e-a08a-fa9df57bc4d4}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{042e5390-0f53-45ef-8476-310583e081ea}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>alter</key>
			<string>1</string>
		</dict>
		<key>{75876837-d415-446c-b48f-50a1f61abe2b}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{794f8463-90b1-4923-9642-fe6216cb850d}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{1cd6d781-573b-4551-b8bf-f64f5f2b6db5}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{94f09233-d469-4593-92ec-064fecb6fdac}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{e85b5a3f-27da-4f12-b310-a5091fa5a4d8}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{8a534a47-afec-4b05-a168-43bb2fa87862}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{42d27ef0-4159-4db2-bb31-bc0a9589ac40}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.37037</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{cc0d7600-5866-44bc-aec4-b50cc1f74271}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1.11111</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
	</dict>
	<key>events</key>
	<dict>
		<key>0</key>
		<dict>
			<key>elid</key>
			<string>4</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>4815</string>
			<key>notes</key>
			<string>{f628741e-066c-4d73-b707-c27c109bd18f}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>370</string>
		</dict>
		<key>1</key>
		<dict>
			<key>elid</key>
			<string>5</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>5185</string>
			<key>notes</key>
			<string>{e2b899e4-82a3-4c1e-a41c-f90da26010f8}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>370</string>
		</dict>
		<key>2</key>
		<dict>
			<key>elid</key>
			<string>6</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>5556</string>
			<key>notes</key>
			<string>{7cbcabf6-7775-4cf8-a574-494e87dc40f7}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>370</string>
		</dict>
		<key>3</key>
		<dict>
			<key>elid</key>
			<string>7</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>5926</string>
			<key>notes</key>
			<string>{99ba3bb9-2e7c-4ac1-885f-ea6bc3f2d08b}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>370</string>
		</dict>
		<key>4</key>
		<dict>
			<key>elid</key>
			<string>8</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>6296</string>
			<key>notes</key>
			<string>{8e46bdfa-24b9-4988-9fa6-a7b7bdfd9021}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>370</string>
		</dict>
		<key>5</key>
		<dict>
			<key>elid</key>
			<string>9</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>6667</string>
			<key>notes</key>
			<string>{2b7355ef-7d39-4b99-bb08-14ee3891dce3}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>370</string>
		</dict>
		<key>6</key>
		<dict>
			<key>elid</key>
			<string>10</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>7037</string>
			<key>notes</key>
			<string>{4256f2d6-fa6e-4412-81ff-4b8d28f1ae30}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>370</string>
		</dict>
		<key>7</key>
		<dict>
			<key>elid</key>
			<string>11</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>7407</string>
			<key>notes</key>
			<string>{695066c3-f52a-44ad-a55c-225f3309f49d}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>370</string>
		</dict>
		<key>8</key>
		<dict>
			<key>elid</key>
			<string>12</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>7778</string>
			<key>notes</key>
			<string>{1e342863-5acc-47e5-ab19-2bfb323145b9}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>370</string>
		</dict>
		<key>9</key>
		<dict>
			<key>elid</key>
			<string>13</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>8148</string>
			<key>notes</key>
			<string>{3a3e5bb5-3182-4724-9999-a517d9b0ee59}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>371</string>
		</dict>
		<key>10</key>
		<dict>
			<key>elid</key>
			<string>14</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>9259</string>
			<key>notes</key>
			<string>{dd7b53ff-3cd4-46c2-8cac-dde71ec39246}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>371</string>
		</dict>
		<key>11</key>
		<dict>
			<key>elid</key>
			<string>15</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>9630</string>
			<key>notes</key>
			<string>{5f08588f-9bb7-4a92-bf6a-4c5fde17a6c2}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>371</string>
		</dict>
		<key>12</key>
		<dict>
			<key>elid</key>
			<string>16</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>10000</string>
			<key>notes</key>
			<string>{c8fa0c51-38d4-4f0d-8dd4-6bf667edcf40}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>371</string>
		</dict>
		<key>13</key>
		<dict>
			<key>elid</key>
			<string>17</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>10370</string>
			<key>notes</key>
			<string>{fb1a2a96-8ff5-442c-a2a2-b69156684244}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>371</string>
		</dict>
		<key>14</key>
		<dict>
			<key>elid</key>
			<string>18</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>10741</string>
			<key>notes</key>
			<string>{0e587f2b-dd71-4235-aac8-185b106cb7dc}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>371</string>
		</dict>
		<key>15</key>
		<dict>
			<key>elid</key>
			<string>19</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>11111</string>
			<key>notes</key>
			<string>{d790c71c-f113-41c0-997a-a4a1f9f70a02}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>371</string>
		</dict>
		<key>16</key>
		<dict>
			<key>elid</key>
			<string>20</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>11481</string>
			<key>notes</key>
			<string>{798dc2ca-0e5b-4ce0-ab68-2940de289ff1}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>371</string>
		</dict>
		<key>17</key>
		<dict>
			<key>elid</key>
			<string>21</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>11852</string>
			<key>notes</key>
			<string>{03db9454-3cd0-493b-bbb2-0fdacaea7006}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>371</string>
		</dict>
		<key>18</key>
		<dict>
			<key>elid</key>
			<string>22</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>12222</string>
			<key>notes</key>
			<string>{68b88179-d17e-4f33-bbcc-8f8f6ac77b8f}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>371</string>
		</dict>
		<key>19</key>
		<dict>
			<key>elid</key>
			<string>23</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>12593</string>
			<key>notes</key>
			<string>{d37d564e-7cd5-437b-8edd-8e1033c39e8c}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>370</string>
		</dict>
		<key>20</key>
		<dict>
			<key>elid</key>
			<string>32</string>
			<key>sysno</key>
			<string>6</string>
			<key>position</key>
			<string>22593</string>
			<key>notes</key>
			<string>{e63cdb87-f114-4cb1-bbb3-e921d6e0a45d}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>370</string>
		</dict>
		<key>21</key>
		<dict>
			<key>elid</key>
			<string>33</string>
			<key>sysno</key>
			<string>6</string>
			<key>position</key>
			<string>22963</string>
			<key>notes</key>
			<string>{38453483-abff-4d9b-bf18-2a67ed573a4a}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>370</string>
		</dict>
		<key>22</key>
		<dict>
			<key>elid</key>
			<string>34</string>
			<key>sysno</key>
			<string>6</string>
			<key>position</key>
			<string>23333</string>
			<key>notes</key>
			<string>{ae0e7c5a-5388-424b-a669-b993a30912b0}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>370</string>
		</dict>
		<key>23</key>
		<dict>
			<key>elid</key>
			<string>35</string>
			<key>sysno</key>
			<string>6</string>
			<key>position</key>
			<string>23704</string>
			<key>notes</key>
			<string>{4f7e1eb1-9437-4ff3-90f2-dc8fcbc610f8}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>370</string>
		</dict>
		<key>24</key>
		<dict>
			<key>elid</key>
			<string>36</string>
			<key>sysno</key>
			<string>6</string>
			<key>position</key>
			<string>24074</string>
			<key>notes</key>
			<string>{d9eecb81-ff39-4e08-9a18-0690b9a807ce}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>370</string>
		</dict>
		<key>25</key>
		<dict>
			<key>elid</key>
			<string>37</string>
			<key>sysno</key>
			<string>6</string>
			<key>position</key>
			<string>24444</string>
			<key>notes</key>
			<string>{ad0c67c1-16b8-4b3d-9190-469aafcbc8e8}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>370</string>
		</dict>
		<key>26</key>
		<dict>
			<key>elid</key>
			<string>38</string>
			<key>sysno</key>
			<string>6</string>
			<key>position</key>
			<string>24815</string>
			<key>notes</key>
			<string>{897243ab-776d-4887-9ed3-36b48d82dd69}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>370</string>
		</dict>
		<key>27</key>
		<dict>
			<key>elid</key>
			<string>39</string>
			<key>sysno</key>
			<string>6</string>
			<key>position</key>
			<string>25185</string>
			<key>notes</key>
			<string>{a036e9e5-8ca3-42ab-b025-42cbf6be8a19}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>370</string>
		</dict>
		<key>28</key>
		<dict>
			<key>elid</key>
			<string>40</string>
			<key>sysno</key>
			<string>6</string>
			<key>position</key>
			<string>25556</string>
			<key>notes</key>
			<string>{37217c82-bb5c-416e-a49a-e058dbcab33c}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>370</string>
		</dict>
		<key>29</key>
		<dict>
			<key>elid</key>
			<string>41</string>
			<key>sysno</key>
			<string>6</string>
			<key>position</key>
			<string>25926</string>
			<key>notes</key>
			<string>{df198279-3c34-494a-acd7-73e35046ec29}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>370</string>
		</dict>
		<key>30</key>
		<dict>
			<key>elid</key>
			<string>42</string>
			<key>sysno</key>
			<string>7</string>
			<key>position</key>
			<string>27037</string>
			<key>notes</key>
			<string>{f18a6592-0c4c-4b6e-a08a-fa9df57bc4d4}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>370</string>
		</dict>
		<key>31</key>
		<dict>
			<key>elid</key>
			<string>43</string>
			<key>sysno</key>
			<string>7</string>
			<key>position</key>
			<string>27407</string>
			<key>notes</key>
			<string>{042e5390-0f53-45ef-8476-310583e081ea}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>370</string>
		</dict>
		<key>32</key>
		<dict>
			<key>elid</key>
			<string>44</string>
			<key>sysno</key>
			<string>7</string>
			<key>position</key>
			<string>27778</string>
			<key>notes</key>
			<string>{75876837-d415-446c-b48f-50a1f61abe2b}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>370</string>
		</dict>
		<key>33</key>
		<dict>
			<key>elid</key>
			<string>45</string>
			<key>sysno</key>
			<string>7</string>
			<key>position</key>
			<string>28148</string>
			<key>notes</key>
			<string>{794f8463-90b1-4923-9642-fe6216cb850d}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>371</string>
		</dict>
		<key>34</key>
		<dict>
			<key>elid</key>
			<string>46</string>
			<key>sysno</key>
			<string>7</string>
			<key>position</key>
			<string>28519</string>
			<key>notes</key>
			<string>{1cd6d781-573b-4551-b8bf-f64f5f2b6db5}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>371</string>
		</dict>
		<key>35</key>
		<dict>
			<key>elid</key>
			<string>47</string>
			<key>sysno</key>
			<string>7</string>
			<key>position</key>
			<string>28889</string>
			<key>notes</key>
			<string>{94f09233-d469-4593-92ec-064fecb6fdac}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>371</string>
		</dict>
		<key>36</key>
		<dict>
			<key>elid</key>
			<string>48</string>
			<key>sysno</key>
			<string>7</string>
			<key>position</key>
			<string>29259</string>
			<key>notes</key>
			<string>{e85b5a3f-27da-4f12-b310-a5091fa5a4d8}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>371</string>
		</dict>
		<key>37</key>
		<dict>
			<key>elid</key>
			<string>49</string>
			<key>sysno</key>
			<string>7</string>
			<key>position</key>
			<string>29630</string>
			<key>notes</key>
			<string>{8a534a47-afec-4b05-a168-43bb2fa87862}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>371</string>
		</dict>
		<key>38</key>
		<dict>
			<key>elid</key>
			<string>50</string>
			<key>sysno</key>
			<string>7</string>
			<key>position</key>
			<string>30000</string>
			<key>notes</key>
			<string>{42d27ef0-4159-4db2-bb31-bc0a9589ac40}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>371</string>
		</dict>
		<key>39</key>
		<dict>
			<key>elid</key>
			<string>51</string>
			<key>sysno</key>
			<string>7</string>
			<key>position</key>
			<string>30370</string>
			<key>notes</key>
			<string>{cc0d7600-5866-44bc-aec4-b50cc1f74271}</string>
			<key>tempo</key>
			<string>162</string>
			<key>tempo_interval</key>
			<string>371</string>
		</dict>
	</dict>
	<key>metronomes</key>
	<dict>
		<key>0</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>370</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>741</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>1111</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>1481</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>1852</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>2222</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>2593</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>2963</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>3333</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>3704</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>4074</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>4444</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>4815</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>5185</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>5556</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>5926</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>6296</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>6667</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>7037</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>7407</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>7778</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>8148</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>8519</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>8889</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>9259</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>9630</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>10000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>10370</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>10741</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>11111</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>11481</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>11852</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>12222</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>12593</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>12963</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>13333</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>13704</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>14074</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>14444</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>14815</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>15185</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>15556</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>15926</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>16296</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>16667</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>17037</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>17407</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>17778</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>18148</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>18519</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>18889</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>19259</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>19630</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>20000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>20370</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>20741</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>21111</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>21481</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>21852</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>22222</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>22593</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>22963</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>23333</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>23704</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>24074</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>24444</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>24815</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>25185</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>25556</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>25926</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>26296</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>26667</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>27037</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>27407</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>27778</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>28148</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>28519</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>28889</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>29259</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>29630</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>30000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>30370</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>30741</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>31111</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>31481</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>31852</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>32222</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>32593</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>32963</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>33333</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>33704</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>34074</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>34444</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>34815</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>35185</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>35556</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>35926</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>36296</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>36667</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>37037</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>37407</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>37778</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>38148</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>38519</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>38889</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>39259</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>39630</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>40000</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
	</dict>
</dict>
</plist>