<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{8c5fd8a3-e526-4d4d-bab7-47176302657a}</key>
		<dict>
			<key>x</key>
			<string>173.374</string>
			<key>y</key>
			<string>479.197</string>
		</dict>
		<key>{037845fa-ccfd-4322-8462-600a84781a06}</key>
		<dict>
			<key>x</key>
			<string>142.787</string>
			<key>y</key>
			<string>476.717</string>
		</dict>
		<key>{de988a51-86ad-420a-90e4-40e263b0f42f}</key>
		<dict>
			<key>x</key>
			<string>118.946</string>
			<key>y</key>
			<string>474.236</string>
		</dict>
		<key>{8624fe0f-86ab-4cc7-9069-02508a2f8748}</key>
		<dict>
			<key>x</key>
			<string>95.106</string>
			<key>y</key>
			<string>471.756</string>
		</dict>
		<key>{33b483dd-23b3-4931-a880-966dfdda2fc0}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>469.276</string>
		</dict>
		<key>{ad2d3259-176b-48f0-8c97-6d418922659f}</key>
		<dict>
			<key>x</key>
			<string>527.685</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{3d8b4461-97b0-461a-9b8c-cf5740d258d0}</key>
		<dict>
			<key>x</key>
			<string>496.606</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{a402252c-58c5-455b-bf7f-df75b1b3f87f}</key>
		<dict>
			<key>x</key>
			<string>465.527</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{bef2007b-60c9-4e4a-97db-c4125cb14b3a}</key>
		<dict>
			<key>x</key>
			<string>434.447</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{c38a4a4a-8b02-4cd6-bf07-de4a3093907b}</key>
		<dict>
			<key>x</key>
			<string>396.622</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{e68c8e3f-03ad-4cf7-b12d-371d4e60e83c}</key>
		<dict>
			<key>x</key>
			<string>365.542</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{d4472c6f-0b7c-47ba-a775-a73f03d0ad13}</key>
		<dict>
			<key>x</key>
			<string>334.463</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{ab55cca7-d5d0-4806-92be-57366a87f016}</key>
		<dict>
			<key>x</key>
			<string>303.384</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{1948898c-b6c0-4335-8e27-f8e796256040}</key>
		<dict>
			<key>x</key>
			<string>201.633</string>
			<key>y</key>
			<string>322.937</string>
		</dict>
		<key>{1cc66903-ea74-4fba-8946-7f0350d9784e}</key>
		<dict>
			<key>x</key>
			<string>163.982</string>
			<key>y</key>
			<string>325.417</string>
		</dict>
		<key>{0abb6e4e-03db-47f9-8b1c-c72c150d9de9}</key>
		<dict>
			<key>x</key>
			<string>133.076</string>
			<key>y</key>
			<string>327.898</string>
		</dict>
		<key>{a476641f-4f9d-4402-8471-6ed33a32a8ca}</key>
		<dict>
			<key>x</key>
			<string>102.171</string>
			<key>y</key>
			<string>330.378</string>
		</dict>
		<key>{aa1f51c5-290e-4881-943b-7a0ba6d66beb}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>332.858</string>
		</dict>
		<key>{37d129d5-941f-44dc-b904-f4f7c18aebac}</key>
		<dict>
			<key>x</key>
			<string>499.67</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{02535934-2098-4a7f-9805-5b9eac4bb278}</key>
		<dict>
			<key>x</key>
			<string>440.575</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{942ccdec-8cf7-4d48-95d8-1700364266b5}</key>
		<dict>
			<key>x</key>
			<string>381.48</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{5560f8a2-0010-49d5-8b0f-bbd62fb75acd}</key>
		<dict>
			<key>x</key>
			<string>322.385</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{2978d3a4-0c98-4e35-b7e2-5771dc549c7c}</key>
		<dict>
			<key>x</key>
			<string>257.782</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{3dc264f5-8d3c-495c-98a6-ad5e674114d4}</key>
		<dict>
			<key>x</key>
			<string>199.926</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{d9e6622f-f04f-442f-afed-15ca88742fd4}</key>
		<dict>
			<key>x</key>
			<string>142.069</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{a005a5c4-778a-490f-9429-32013d9166e7}</key>
		<dict>
			<key>x</key>
			<string>84.2129</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{037845fa-ccfd-4322-8462-600a84781a06}</key>
		<dict>
			<key>x1</key>
			<string>143.109</string>
			<key>y1</key>
			<string>477.648</string>
			<key>x2</key>
			<string>143.109</string>
			<key>y2</key>
			<string>487.878</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{de988a51-86ad-420a-90e4-40e263b0f42f}</key>
		<dict>
			<key>x1</key>
			<string>119.269</string>
			<key>y1</key>
			<string>475.168</string>
			<key>x2</key>
			<string>119.269</string>
			<key>y2</key>
			<string>485.398</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{8624fe0f-86ab-4cc7-9069-02508a2f8748}</key>
		<dict>
			<key>x1</key>
			<string>95.4284</string>
			<key>y1</key>
			<string>472.688</string>
			<key>x2</key>
			<string>95.4284</string>
			<key>y2</key>
			<string>483.537</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{33b483dd-23b3-4931-a880-966dfdda2fc0}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>470.207</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>481.677</string>
			<key>height</key>
			<string>12.4016</string>
		</dict>
		<key>{ad2d3259-176b-48f0-8c97-6d418922659f}</key>
		<dict>
			<key>x1</key>
			<string>533.894</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>533.894</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3d8b4461-97b0-461a-9b8c-cf5740d258d0}</key>
		<dict>
			<key>x1</key>
			<string>502.815</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>502.815</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{a402252c-58c5-455b-bf7f-df75b1b3f87f}</key>
		<dict>
			<key>x1</key>
			<string>471.735</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>471.735</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{bef2007b-60c9-4e4a-97db-c4125cb14b3a}</key>
		<dict>
			<key>x1</key>
			<string>440.656</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>440.656</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{c38a4a4a-8b02-4cd6-bf07-de4a3093907b}</key>
		<dict>
			<key>x1</key>
			<string>402.83</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>402.83</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e68c8e3f-03ad-4cf7-b12d-371d4e60e83c}</key>
		<dict>
			<key>x1</key>
			<string>371.751</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>371.751</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{d4472c6f-0b7c-47ba-a775-a73f03d0ad13}</key>
		<dict>
			<key>x1</key>
			<string>340.672</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>340.672</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ab55cca7-d5d0-4806-92be-57366a87f016}</key>
		<dict>
			<key>x1</key>
			<string>309.592</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>309.592</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{1cc66903-ea74-4fba-8946-7f0350d9784e}</key>
		<dict>
			<key>x1</key>
			<string>164.304</string>
			<key>y1</key>
			<string>326.349</string>
			<key>x2</key>
			<string>164.304</string>
			<key>y2</key>
			<string>337.199</string>
			<key>height</key>
			<string>11.7815</string>
		</dict>
		<key>{0abb6e4e-03db-47f9-8b1c-c72c150d9de9}</key>
		<dict>
			<key>x1</key>
			<string>133.399</string>
			<key>y1</key>
			<string>328.829</string>
			<key>x2</key>
			<string>133.399</string>
			<key>y2</key>
			<string>339.059</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{a476641f-4f9d-4402-8471-6ed33a32a8ca}</key>
		<dict>
			<key>x1</key>
			<string>102.493</string>
			<key>y1</key>
			<string>331.31</string>
			<key>x2</key>
			<string>102.493</string>
			<key>y2</key>
			<string>341.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{aa1f51c5-290e-4881-943b-7a0ba6d66beb}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>333.79</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>344.02</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{37d129d5-941f-44dc-b904-f4f7c18aebac}</key>
		<dict>
			<key>x1</key>
			<string>505.878</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>505.878</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{02535934-2098-4a7f-9805-5b9eac4bb278}</key>
		<dict>
			<key>x1</key>
			<string>446.783</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>446.783</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{942ccdec-8cf7-4d48-95d8-1700364266b5}</key>
		<dict>
			<key>x1</key>
			<string>387.688</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>387.688</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{5560f8a2-0010-49d5-8b0f-bbd62fb75acd}</key>
		<dict>
			<key>x1</key>
			<string>328.593</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>328.593</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{2978d3a4-0c98-4e35-b7e2-5771dc549c7c}</key>
		<dict>
			<key>x1</key>
			<string>263.991</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>263.991</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3dc264f5-8d3c-495c-98a6-ad5e674114d4}</key>
		<dict>
			<key>x1</key>
			<string>206.134</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>206.134</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{d9e6622f-f04f-442f-afed-15ca88742fd4}</key>
		<dict>
			<key>x1</key>
			<string>148.278</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>148.278</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{a005a5c4-778a-490f-9429-32013d9166e7}</key>
		<dict>
			<key>x1</key>
			<string>90.4214</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>90.4214</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
	</dict>
</dict>
</plist>