<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{be9146e8-7f53-4b19-834c-a366df10efd9}</key>
		<dict>
			<key>x</key>
			<string>209.805</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{a7f6cc71-8865-4aaa-980e-4eaa4717f9ff}</key>
		<dict>
			<key>x</key>
			<string>170.182</string>
			<key>y</key>
			<string>446.953</string>
		</dict>
		<key>{63f81fdc-6cf5-4191-af2f-ac987f60ea89}</key>
		<dict>
			<key>x</key>
			<string>137.305</string>
			<key>y</key>
			<string>444.472</string>
		</dict>
		<key>{5ec85025-218d-4dd9-b3a5-ebe59be368b2}</key>
		<dict>
			<key>x</key>
			<string>104.429</string>
			<key>y</key>
			<string>441.992</string>
		</dict>
		<key>{f9412dee-8715-4f72-893e-aab4916b9d8a}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>439.512</string>
		</dict>
		<key>{2f77850f-9f82-47ba-8018-5b71d0d9937d}</key>
		<dict>
			<key>x</key>
			<string>526.959</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{27c79278-3529-467a-ae3c-806e657778a8}</key>
		<dict>
			<key>x</key>
			<string>495.154</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{3af83c44-7492-4b4c-8c23-b3dc8a3403b5}</key>
		<dict>
			<key>x</key>
			<string>463.348</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{09a80e52-1751-4c66-9363-d967f618304a}</key>
		<dict>
			<key>x</key>
			<string>431.543</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{231e7843-02c4-4a56-9f85-4b229a27d773}</key>
		<dict>
			<key>x</key>
			<string>392.991</string>
			<key>y</key>
			<string>270.85</string>
		</dict>
		<key>{0d0dee7c-5678-4b4b-9359-17fa2758e3d5}</key>
		<dict>
			<key>x</key>
			<string>361.185</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{5a9b3b16-9677-4bae-a8be-0754337dd354}</key>
		<dict>
			<key>x</key>
			<string>329.38</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{7fa59cb5-5c32-4942-be01-6ee96ff02686}</key>
		<dict>
			<key>x</key>
			<string>297.574</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{527a8397-4184-4f8f-bd2a-687884770167}</key>
		<dict>
			<key>x</key>
			<string>192.919</string>
			<key>y</key>
			<string>293.173</string>
		</dict>
		<key>{dbca5a9d-5e23-4897-94e4-f6f04a618cf7}</key>
		<dict>
			<key>x</key>
			<string>157.518</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{165ac679-6d14-4c19-811d-7f021bea3572}</key>
		<dict>
			<key>x</key>
			<string>128.863</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{7bcd1375-7f67-47a2-82ba-ef4ad376e61b}</key>
		<dict>
			<key>x</key>
			<string>100.208</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{0b2a8898-f0e4-45ef-9b2f-e17e6ba46a25}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{316e61fa-c504-47cc-b4f3-2368ebd62bfe}</key>
		<dict>
			<key>x</key>
			<string>526.322</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{3ad8526d-f675-4af5-9bce-1d7752643f16}</key>
		<dict>
			<key>x</key>
			<string>493.88</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{40ce5cc1-08f4-4c76-a998-cd77392896fc}</key>
		<dict>
			<key>x</key>
			<string>461.437</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{f6c2e606-e0c5-4fc2-b94c-f47a5f940074}</key>
		<dict>
			<key>x</key>
			<string>428.994</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{b7327dff-f583-4fff-bdc4-930af9a61330}</key>
		<dict>
			<key>x</key>
			<string>389.805</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{d1cb23cb-f1d4-4e39-b10d-47afb5b760db}</key>
		<dict>
			<key>x</key>
			<string>357.363</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{dedd8c03-892d-4f0f-a617-124bc2bae8b5}</key>
		<dict>
			<key>x</key>
			<string>324.92</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{312b9d1a-3a46-4a56-8096-f12a700c38df}</key>
		<dict>
			<key>x</key>
			<string>292.478</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{a7f6cc71-8865-4aaa-980e-4eaa4717f9ff}</key>
		<dict>
			<key>x1</key>
			<string>170.504</string>
			<key>y1</key>
			<string>447.884</string>
			<key>x2</key>
			<string>170.504</string>
			<key>y2</key>
			<string>464.315</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{63f81fdc-6cf5-4191-af2f-ac987f60ea89}</key>
		<dict>
			<key>x1</key>
			<string>137.628</string>
			<key>y1</key>
			<string>445.404</string>
			<key>x2</key>
			<string>137.628</string>
			<key>y2</key>
			<string>461.835</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{5ec85025-218d-4dd9-b3a5-ebe59be368b2}</key>
		<dict>
			<key>x1</key>
			<string>104.751</string>
			<key>y1</key>
			<string>442.924</string>
			<key>x2</key>
			<string>104.751</string>
			<key>y2</key>
			<string>459.354</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f9412dee-8715-4f72-893e-aab4916b9d8a}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>440.443</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>456.874</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{2f77850f-9f82-47ba-8018-5b71d0d9937d}</key>
		<dict>
			<key>x1</key>
			<string>533.168</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>533.168</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{27c79278-3529-467a-ae3c-806e657778a8}</key>
		<dict>
			<key>x1</key>
			<string>501.362</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>501.362</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{3af83c44-7492-4b4c-8c23-b3dc8a3403b5}</key>
		<dict>
			<key>x1</key>
			<string>469.557</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>469.557</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{09a80e52-1751-4c66-9363-d967f618304a}</key>
		<dict>
			<key>x1</key>
			<string>437.751</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>437.751</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{231e7843-02c4-4a56-9f85-4b229a27d773}</key>
		<dict>
			<key>x1</key>
			<string>399.199</string>
			<key>y1</key>
			<string>269.919</string>
			<key>x2</key>
			<string>399.199</string>
			<key>y2</key>
			<string>253.488</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{0d0dee7c-5678-4b4b-9359-17fa2758e3d5}</key>
		<dict>
			<key>x1</key>
			<string>367.394</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>367.394</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{5a9b3b16-9677-4bae-a8be-0754337dd354}</key>
		<dict>
			<key>x1</key>
			<string>335.588</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>335.588</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{7fa59cb5-5c32-4942-be01-6ee96ff02686}</key>
		<dict>
			<key>x1</key>
			<string>303.783</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>303.783</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{dbca5a9d-5e23-4897-94e4-f6f04a618cf7}</key>
		<dict>
			<key>x1</key>
			<string>157.84</string>
			<key>y1</key>
			<string>296.585</string>
			<key>x2</key>
			<string>157.84</string>
			<key>y2</key>
			<string>313.016</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{165ac679-6d14-4c19-811d-7f021bea3572}</key>
		<dict>
			<key>x1</key>
			<string>129.185</string>
			<key>y1</key>
			<string>299.066</string>
			<key>x2</key>
			<string>129.185</string>
			<key>y2</key>
			<string>315.496</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{7bcd1375-7f67-47a2-82ba-ef4ad376e61b}</key>
		<dict>
			<key>x1</key>
			<string>100.53</string>
			<key>y1</key>
			<string>301.546</string>
			<key>x2</key>
			<string>100.53</string>
			<key>y2</key>
			<string>317.976</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{0b2a8898-f0e4-45ef-9b2f-e17e6ba46a25}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>304.026</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{316e61fa-c504-47cc-b4f3-2368ebd62bfe}</key>
		<dict>
			<key>x1</key>
			<string>532.531</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>532.531</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3ad8526d-f675-4af5-9bce-1d7752643f16}</key>
		<dict>
			<key>x1</key>
			<string>500.088</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>500.088</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{40ce5cc1-08f4-4c76-a998-cd77392896fc}</key>
		<dict>
			<key>x1</key>
			<string>467.646</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>467.646</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f6c2e606-e0c5-4fc2-b94c-f47a5f940074}</key>
		<dict>
			<key>x1</key>
			<string>435.203</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>435.203</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{b7327dff-f583-4fff-bdc4-930af9a61330}</key>
		<dict>
			<key>x1</key>
			<string>396.014</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>396.014</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d1cb23cb-f1d4-4e39-b10d-47afb5b760db}</key>
		<dict>
			<key>x1</key>
			<string>363.571</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>363.571</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{dedd8c03-892d-4f0f-a617-124bc2bae8b5}</key>
		<dict>
			<key>x1</key>
			<string>331.129</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>331.129</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{312b9d1a-3a46-4a56-8096-f12a700c38df}</key>
		<dict>
			<key>x1</key>
			<string>298.686</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>298.686</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
	</dict>
</dict>
</plist>