<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>pen_width</key>
	<string>0.40</string>
	<key>xend</key>
	<real>3609.64</real>
	<key>stafflines</key>
	<dict>
		<key>0</key>
		<dict>
			<key>x</key>
			<string>10.4173</string>
			<key>y</key>
			<string>18.3858</string>
			<key>bx</key>
			<string>10.4173</string>
			<key>by</key>
			<string>53.9654</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{0cf5fca3-ee30-4bd8-aa2f-dfd9989aa27a}</key>
		<dict>
			<key>x</key>
			<string>2575.28</string>
			<key>y</key>
			<string>72.9527</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{3d9706e4-dd6f-4ca0-a485-4e0f4a51fd70}</key>
		<dict>
			<key>x</key>
			<string>2540.49</string>
			<key>y</key>
			<string>70.4724</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{79619a8e-015e-493f-9a87-f6ce5535d5cc}</key>
		<dict>
			<key>x</key>
			<string>2510.46</string>
			<key>y</key>
			<string>67.9921</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{84e143fb-aad4-4c99-9920-76195079d1cc}</key>
		<dict>
			<key>x</key>
			<string>2480.43</string>
			<key>y</key>
			<string>65.5117</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{4deed818-06bd-4922-b4f0-5f6f6ae6bec0}</key>
		<dict>
			<key>x</key>
			<string>2445.64</string>
			<key>y</key>
			<string>40.7086</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b57cae7f-727b-4de7-b78c-80dc0d37760f}</key>
		<dict>
			<key>x</key>
			<string>2415.62</string>
			<key>y</key>
			<string>38.2283</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{52fd1abb-2d13-43f9-b8ff-81c87f7c135b}</key>
		<dict>
			<key>x</key>
			<string>2385.59</string>
			<key>y</key>
			<string>40.7086</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6e81ac7a-cfd3-42d7-9d8b-831a244647d4}</key>
		<dict>
			<key>x</key>
			<string>2350.8</string>
			<key>y</key>
			<string>38.2283</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9c845ad4-1fea-42cb-b414-f9531e31d050}</key>
		<dict>
			<key>x</key>
			<string>2320.77</string>
			<key>y</key>
			<string>35.748</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0ffc852b-c9fc-497d-8cfb-e3bf5ca45ade}</key>
		<dict>
			<key>x</key>
			<string>2290.74</string>
			<key>y</key>
			<string>33.2676</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d43f2aac-b990-42de-9c70-d178d2da2411}</key>
		<dict>
			<key>x</key>
			<string>2195.89</string>
			<key>y</key>
			<string>33.2676</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{577dfa77-ebc7-4545-b52b-95582beffa82}</key>
		<dict>
			<key>x</key>
			<string>2161.1</string>
			<key>y</key>
			<string>35.748</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d0dbee1a-43ac-47dc-bcb9-03694a5dde5e}</key>
		<dict>
			<key>x</key>
			<string>2131.07</string>
			<key>y</key>
			<string>38.2283</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{22efa10d-159a-4fff-a1bf-8ee7947290ec}</key>
		<dict>
			<key>x</key>
			<string>2101.04</string>
			<key>y</key>
			<string>40.7086</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{12267a5b-853d-4e20-8a2f-af2c4376a7c8}</key>
		<dict>
			<key>x</key>
			<string>2066.41</string>
			<key>y</key>
			<string>40.7086</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{865a1a46-79f7-4f38-bc06-a64a3f6f10da}</key>
		<dict>
			<key>x</key>
			<string>2036.53</string>
			<key>y</key>
			<string>38.2283</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{4fa73ce8-1b04-4002-a98f-6ef1a1ed2053}</key>
		<dict>
			<key>x</key>
			<string>2006.66</string>
			<key>y</key>
			<string>65.5117</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{1287d81b-a82f-4831-954c-9a480dc4fdd8}</key>
		<dict>
			<key>x</key>
			<string>1971.4</string>
			<key>y</key>
			<string>67.9921</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{919d33d2-98dc-49c5-a0ec-402212ea9e15}</key>
		<dict>
			<key>x</key>
			<string>1941.38</string>
			<key>y</key>
			<string>70.4724</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{f681f2b1-39ec-44a3-906a-36252c6e3ba2}</key>
		<dict>
			<key>x</key>
			<string>1911.35</string>
			<key>y</key>
			<string>72.9527</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{b8228665-d404-4e04-8d4a-0a58eb8388f9}</key>
		<dict>
			<key>x</key>
			<string>1057.71</string>
			<key>y</key>
			<string>72.9527</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{3bab17c8-f712-4e9a-bed2-34e530f592a0}</key>
		<dict>
			<key>x</key>
			<string>1022.92</string>
			<key>y</key>
			<string>70.4724</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{1bd82cd9-2e9c-433c-bbff-cda7ba74deae}</key>
		<dict>
			<key>x</key>
			<string>992.895</string>
			<key>y</key>
			<string>67.9921</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{8778aa98-b71a-4aa0-ba08-513e171430c8}</key>
		<dict>
			<key>x</key>
			<string>962.866</string>
			<key>y</key>
			<string>65.5117</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{3166e8f7-293e-4abe-bf98-86ffe1160d62}</key>
		<dict>
			<key>x</key>
			<string>928.075</string>
			<key>y</key>
			<string>40.7086</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9149b2ca-cf5e-4801-919a-392052b40d51}</key>
		<dict>
			<key>x</key>
			<string>898.047</string>
			<key>y</key>
			<string>38.2283</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{92a5a894-8ed9-4508-9328-4595e02fa458}</key>
		<dict>
			<key>x</key>
			<string>868.018</string>
			<key>y</key>
			<string>40.7086</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{36d8f09a-57e8-4ec6-b928-e6bf4f69a61e}</key>
		<dict>
			<key>x</key>
			<string>833.227</string>
			<key>y</key>
			<string>38.2283</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{2b0ba374-709a-4544-9581-a18586e98fe4}</key>
		<dict>
			<key>x</key>
			<string>803.199</string>
			<key>y</key>
			<string>35.748</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{89e016e7-1ffb-4194-9d67-3a10521e4163}</key>
		<dict>
			<key>x</key>
			<string>773.17</string>
			<key>y</key>
			<string>33.2676</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6f68ebb3-2fd3-4497-8e81-df6f04557bab}</key>
		<dict>
			<key>x</key>
			<string>678.322</string>
			<key>y</key>
			<string>33.2676</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{281aca8c-41e2-4070-801d-af3ddbc7987a}</key>
		<dict>
			<key>x</key>
			<string>643.531</string>
			<key>y</key>
			<string>35.748</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{374a6f47-1474-44ac-ab55-d2588c68496f}</key>
		<dict>
			<key>x</key>
			<string>613.503</string>
			<key>y</key>
			<string>38.2283</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{4ef8a504-f790-46af-9e4e-1098c5755202}</key>
		<dict>
			<key>x</key>
			<string>583.474</string>
			<key>y</key>
			<string>40.7086</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{bb616dc2-4d4a-4cef-aeac-8a6360740e8c}</key>
		<dict>
			<key>x</key>
			<string>548.838</string>
			<key>y</key>
			<string>40.7086</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7e1832d7-d7cf-4b02-8710-692a3389ec5b}</key>
		<dict>
			<key>x</key>
			<string>518.965</string>
			<key>y</key>
			<string>38.2283</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0466c130-e21b-44ff-951b-7e214f0a45e8}</key>
		<dict>
			<key>x</key>
			<string>489.091</string>
			<key>y</key>
			<string>65.5117</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{a7acb29f-bcb2-43c3-890d-a6ae8c82d66e}</key>
		<dict>
			<key>x</key>
			<string>453.835</string>
			<key>y</key>
			<string>67.9921</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{a8f176af-2e9c-4f84-ac3d-af44ee6ba3c6}</key>
		<dict>
			<key>x</key>
			<string>423.807</string>
			<key>y</key>
			<string>70.4724</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{e66fc809-0fcb-482d-867e-04aff060107b}</key>
		<dict>
			<key>x</key>
			<string>393.778</string>
			<key>y</key>
			<string>72.9527</string>
			<key>idx</key>
			<string>2</string>
		</dict>
	</dict>
	<key>rests</key>
	<dict>
		<key>{0d90f2d6-f3ed-4356-96db-4362285453a9}</key>
		<dict>
			<key>x</key>
			<string>3523.76</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{6ef47ddc-da82-4cf4-8343-90b2dd365ee2}</key>
		<dict>
			<key>x</key>
			<string>3523.76</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{285798d7-aa17-4836-8a06-4f9d2d1fe9d7}</key>
		<dict>
			<key>x</key>
			<string>3428.92</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{718afd0b-a4df-4fb2-9e59-99885ae9bfd3}</key>
		<dict>
			<key>x</key>
			<string>3428.92</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c4ac94bb-a011-42ac-988b-d349e640304a}</key>
		<dict>
			<key>x</key>
			<string>3334.07</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{1739e1bd-dc4f-492a-9114-52b7224d42bc}</key>
		<dict>
			<key>x</key>
			<string>3334.07</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{56e983f1-e252-4ed7-9ba9-887efea60f43}</key>
		<dict>
			<key>x</key>
			<string>3239.22</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{db946b27-2fbf-428f-922a-c9d1740c281b}</key>
		<dict>
			<key>x</key>
			<string>3239.22</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{13ce6697-e9a6-4aa9-98e6-daddfef1de97}</key>
		<dict>
			<key>x</key>
			<string>3144.37</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{f894036b-a43f-4f42-8f47-b745fecf206d}</key>
		<dict>
			<key>x</key>
			<string>3144.37</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{e4c22378-31ab-46f0-b363-517438b7d183}</key>
		<dict>
			<key>x</key>
			<string>3049.52</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{2c755e18-519a-4203-ae7f-a8977dbc57a1}</key>
		<dict>
			<key>x</key>
			<string>3049.52</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{e6121d7b-53ef-4eb9-a661-90ee4f63840a}</key>
		<dict>
			<key>x</key>
			<string>2954.68</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{ca3825a9-d573-447e-9672-e569d86a017c}</key>
		<dict>
			<key>x</key>
			<string>2954.68</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{cf04e686-129c-4073-b6ed-1b3bff976133}</key>
		<dict>
			<key>x</key>
			<string>2859.83</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{d766f6c4-3326-451b-bd1e-f4df4b99e0d3}</key>
		<dict>
			<key>x</key>
			<string>2859.83</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{df85e8a8-b5b3-449b-b574-6c75e9d4aab2}</key>
		<dict>
			<key>x</key>
			<string>2764.98</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{64240ef2-b9c0-4fef-8bf3-201aca4ccef5}</key>
		<dict>
			<key>x</key>
			<string>2764.98</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{99614210-3a28-489e-bb26-de3e266af0d5}</key>
		<dict>
			<key>x</key>
			<string>2670.13</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{6543b6f7-d37c-41b6-8bd1-d318683db96f}</key>
		<dict>
			<key>x</key>
			<string>2670.13</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{817cd18c-6af0-42f4-93d6-56fce71bbec4}</key>
		<dict>
			<key>x</key>
			<string>2575.46</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{ff7e6a3d-647f-4d81-b288-cace1333111c}</key>
		<dict>
			<key>x</key>
			<string>2480.43</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{88cc1224-5a66-4004-8142-503b8fe55d9a}</key>
		<dict>
			<key>x</key>
			<string>2385.59</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{207d0d1c-da97-4413-808e-7b6346728b2c}</key>
		<dict>
			<key>x</key>
			<string>2290.74</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{9b488833-918f-44d2-8817-d4d386301f3b}</key>
		<dict>
			<key>x</key>
			<string>2196.07</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{91b1ca7c-38b8-4019-aa12-61b52a3ba9eb}</key>
		<dict>
			<key>x</key>
			<string>2101.04</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{2e928ed1-2b8d-4f54-b114-7256537e99fa}</key>
		<dict>
			<key>x</key>
			<string>2066.41</string>
			<key>y</key>
			<string>80.3936</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{19039a50-a55c-4aa8-bb10-b52386830d02}</key>
		<dict>
			<key>x</key>
			<string>2036.53</string>
			<key>y</key>
			<string>80.3936</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{93f2c3df-effb-4acf-9d0c-8d265376db1f}</key>
		<dict>
			<key>x</key>
			<string>2006.66</string>
			<key>y</key>
			<string>28.307</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b2c4dc43-5790-401f-bedd-ad07edf36653}</key>
		<dict>
			<key>x</key>
			<string>1911.35</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{62189c89-38ad-4496-b275-f848ffa8e94b}</key>
		<dict>
			<key>x</key>
			<string>1816.5</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{1e515929-243a-4404-aab4-040553017e56}</key>
		<dict>
			<key>x</key>
			<string>1816.5</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{261992d7-e32c-46cf-bf16-a240057e0284}</key>
		<dict>
			<key>x</key>
			<string>1721.65</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{e6976e9b-e4af-44b1-8fc4-63a291b56caa}</key>
		<dict>
			<key>x</key>
			<string>1721.65</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{0cef715f-8b44-4469-b286-013c293081ab}</key>
		<dict>
			<key>x</key>
			<string>1626.8</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{6b48d93e-106d-48e9-88a9-d54855aacc12}</key>
		<dict>
			<key>x</key>
			<string>1626.8</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{74b7f479-cd9d-49eb-b7e1-a08d0213b249}</key>
		<dict>
			<key>x</key>
			<string>1531.95</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{bed0ecbd-984d-44b1-9292-e26b59d5934a}</key>
		<dict>
			<key>x</key>
			<string>1531.95</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{eec4d191-3b6f-4c55-afc4-9d45cea4e531}</key>
		<dict>
			<key>x</key>
			<string>1437.11</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{b1b2b6d5-7059-4d04-af17-7edb14338069}</key>
		<dict>
			<key>x</key>
			<string>1437.11</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{f3ed230e-890a-477f-adf8-d4c7dc95ccef}</key>
		<dict>
			<key>x</key>
			<string>1342.26</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{0ac28b51-8fcb-47e1-93dd-408dbf27b65e}</key>
		<dict>
			<key>x</key>
			<string>1342.26</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{9baa228e-a743-4284-bf67-33a2d4d3bb84}</key>
		<dict>
			<key>x</key>
			<string>1247.41</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{1a13a154-faad-473d-9d96-e4718a26a406}</key>
		<dict>
			<key>x</key>
			<string>1247.41</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d32a2781-0f41-46cf-ad4a-008e2f6b192f}</key>
		<dict>
			<key>x</key>
			<string>1152.56</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{2db3f871-35d1-4b58-a39c-5a9d8486cdad}</key>
		<dict>
			<key>x</key>
			<string>1152.56</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6db4601f-5893-4617-84fb-0b022f8d20a1}</key>
		<dict>
			<key>x</key>
			<string>1057.89</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{58a77377-d570-4751-b56e-0f01a5fb0126}</key>
		<dict>
			<key>x</key>
			<string>962.866</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{8a5ad79c-a590-4735-a202-06e8237b742d}</key>
		<dict>
			<key>x</key>
			<string>868.018</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{65900689-9342-4096-9157-59dd02e3bcfe}</key>
		<dict>
			<key>x</key>
			<string>773.17</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{8de6c8c8-8df1-4a02-af5f-81c9bbd9e079}</key>
		<dict>
			<key>x</key>
			<string>678.501</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{53b8893a-9054-4910-8634-1a930563cfbc}</key>
		<dict>
			<key>x</key>
			<string>583.474</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{fe3b8bde-d135-4bfb-8833-a5381307282f}</key>
		<dict>
			<key>x</key>
			<string>548.838</string>
			<key>y</key>
			<string>80.3936</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{871ade61-15e5-40e1-9e57-6f81dc0be84c}</key>
		<dict>
			<key>x</key>
			<string>518.965</string>
			<key>y</key>
			<string>80.3936</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{edc0bb5d-449d-4fcd-a31b-f65a20e1ce29}</key>
		<dict>
			<key>x</key>
			<string>489.091</string>
			<key>y</key>
			<string>28.307</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{70914b4e-698c-43a3-acab-584ce886476c}</key>
		<dict>
			<key>x</key>
			<string>393.778</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{b2b9f305-ae33-44e3-bd41-af850d043c77}</key>
		<dict>
			<key>x</key>
			<string>298.93</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{27297487-1347-4769-adfd-5641f5348b58}</key>
		<dict>
			<key>x</key>
			<string>298.93</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{088f7ec2-abf2-40c7-9d1a-0e057d4882b5}</key>
		<dict>
			<key>x</key>
			<string>204.082</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{a877cb00-96cc-4d6c-b940-12b9536b36b6}</key>
		<dict>
			<key>x</key>
			<string>204.082</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{3bca6b0e-2ab2-42c2-8b71-bc95300d6052}</key>
		<dict>
			<key>x</key>
			<string>109.234</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{fbea6020-c634-483f-b6c7-ec8b2427e953}</key>
		<dict>
			<key>x</key>
			<string>109.234</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{7372a8bb-db37-4dba-a226-eaaa8e898df7}</key>
		<dict>
			<key>x</key>
			<string>54.2475</string>
			<key>y</key>
			<string>75.433</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{5d156174-0507-493b-a0dd-832f41a6bb10}</key>
		<dict>
			<key>x</key>
			<string>54.2475</string>
			<key>y</key>
			<string>23.3464</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>note_finger</key>
	<dict>
	</dict>
	<key>note_step</key>
	<dict>
		<key>{0cf5fca3-ee30-4bd8-aa2f-dfd9989aa27a}</key>
		<string>{7cebd829-cd5d-4d12-8729-aaad0fbed3d6}</string>
		<key>{3d9706e4-dd6f-4ca0-a485-4e0f4a51fd70}</key>
		<string>{529ce6b3-c66f-476e-8c43-6bedf6f4b3f7}</string>
		<key>{79619a8e-015e-493f-9a87-f6ce5535d5cc}</key>
		<string>{3dac1bea-fd9d-4dfa-b113-17f7c1f8b8d9}</string>
		<key>{84e143fb-aad4-4c99-9920-76195079d1cc}</key>
		<string>{01b19f58-25a8-445c-b268-eea202a5d7eb}</string>
		<key>{4deed818-06bd-4922-b4f0-5f6f6ae6bec0}</key>
		<string>{a9d13d00-ff59-4f47-a372-1cfb12a38d7f}</string>
		<key>{b57cae7f-727b-4de7-b78c-80dc0d37760f}</key>
		<string>{8b22be8e-ff5f-4d0c-bad0-0e21a48e17e3}</string>
		<key>{52fd1abb-2d13-43f9-b8ff-81c87f7c135b}</key>
		<string>{07d8e46f-7137-4027-88dc-87b10d1eaeaa}</string>
		<key>{6e81ac7a-cfd3-42d7-9d8b-831a244647d4}</key>
		<string>{0ff61b32-4d4a-4e72-9432-999d90ce7707}</string>
		<key>{9c845ad4-1fea-42cb-b414-f9531e31d050}</key>
		<string>{17bfeca8-be33-43c8-a8ed-7894c35d7b87}</string>
		<key>{0ffc852b-c9fc-497d-8cfb-e3bf5ca45ade}</key>
		<string>{827b0f5a-c86b-442d-bacb-c96112529de2}</string>
		<key>{d43f2aac-b990-42de-9c70-d178d2da2411}</key>
		<string>{1e43ffa5-a4db-4d49-81bc-c46872e64184}</string>
		<key>{577dfa77-ebc7-4545-b52b-95582beffa82}</key>
		<string>{300c37d3-fff6-42da-863f-4dfa7785018b}</string>
		<key>{d0dbee1a-43ac-47dc-bcb9-03694a5dde5e}</key>
		<string>{774b9392-2e34-4b75-a7d2-7f89019d3be1}</string>
		<key>{22efa10d-159a-4fff-a1bf-8ee7947290ec}</key>
		<string>{9dede38e-c399-4c85-b4fa-9f03bd0ebc18}</string>
		<key>{12267a5b-853d-4e20-8a2f-af2c4376a7c8}</key>
		<string>{b96f426e-79ee-4257-b949-a914c242a847}</string>
		<key>{865a1a46-79f7-4f38-bc06-a64a3f6f10da}</key>
		<string>{b2146c4d-d7c6-4a98-a211-c80bcf99f35c}</string>
		<key>{4fa73ce8-1b04-4002-a98f-6ef1a1ed2053}</key>
		<string>{1764c8b7-071f-4e5a-8dc4-a657f1bb001e}</string>
		<key>{1287d81b-a82f-4831-954c-9a480dc4fdd8}</key>
		<string>{6cdc6eed-cd55-499e-9343-6d38ca6b8168}</string>
		<key>{919d33d2-98dc-49c5-a0ec-402212ea9e15}</key>
		<string>{9161e8dd-ac46-4146-96e3-972171e30ee6}</string>
		<key>{f681f2b1-39ec-44a3-906a-36252c6e3ba2}</key>
		<string>{9257fe4f-f7e9-4d4a-b261-9cc6c4a9ce33}</string>
		<key>{b8228665-d404-4e04-8d4a-0a58eb8388f9}</key>
		<string>{49b3d510-62e3-4987-8110-7e1164643927}</string>
		<key>{3bab17c8-f712-4e9a-bed2-34e530f592a0}</key>
		<string>{0310b422-6ed9-47f3-8d24-9e77d038ef3a}</string>
		<key>{1bd82cd9-2e9c-433c-bbff-cda7ba74deae}</key>
		<string>{a0ad1a33-c36e-42e8-bf2a-8acfc280036b}</string>
		<key>{8778aa98-b71a-4aa0-ba08-513e171430c8}</key>
		<string>{3da3b55d-9fc9-47cb-a4e0-30df2a6c2a65}</string>
		<key>{3166e8f7-293e-4abe-bf98-86ffe1160d62}</key>
		<string>{e09ee356-4685-426b-a9f6-fd86335fdf71}</string>
		<key>{9149b2ca-cf5e-4801-919a-392052b40d51}</key>
		<string>{994efb11-ffc5-4da6-94a3-0d6a38b94eea}</string>
		<key>{92a5a894-8ed9-4508-9328-4595e02fa458}</key>
		<string>{08009919-cf1b-4f8c-99cd-1f40f0a44a46}</string>
		<key>{36d8f09a-57e8-4ec6-b928-e6bf4f69a61e}</key>
		<string>{756185dc-ac37-4241-87ee-f89aae5c2b13}</string>
		<key>{2b0ba374-709a-4544-9581-a18586e98fe4}</key>
		<string>{ff3eb98d-2b9e-46d6-b492-0042af3c6f38}</string>
		<key>{89e016e7-1ffb-4194-9d67-3a10521e4163}</key>
		<string>{07fc04a2-4d64-4161-8a60-d6be101da0a7}</string>
		<key>{6f68ebb3-2fd3-4497-8e81-df6f04557bab}</key>
		<string>{8c823772-da24-48fe-9c7f-5e4aef638928}</string>
		<key>{281aca8c-41e2-4070-801d-af3ddbc7987a}</key>
		<string>{11685c46-2a2c-4809-a36d-03c0544307c7}</string>
		<key>{374a6f47-1474-44ac-ab55-d2588c68496f}</key>
		<string>{14533570-8f16-412d-8f5f-e99aa6ef5952}</string>
		<key>{4ef8a504-f790-46af-9e4e-1098c5755202}</key>
		<string>{188d8493-4d13-499a-b9f0-025a0264900b}</string>
		<key>{bb616dc2-4d4a-4cef-aeac-8a6360740e8c}</key>
		<string>{a7bd95f4-75b6-4487-9048-ff07fbcb5643}</string>
		<key>{7e1832d7-d7cf-4b02-8710-692a3389ec5b}</key>
		<string>{9d93fc8f-e4a2-4e9c-bcc3-93af89282973}</string>
		<key>{0466c130-e21b-44ff-951b-7e214f0a45e8}</key>
		<string>{d1447ea6-faa3-4b1d-9617-bb4682bfa008}</string>
		<key>{a7acb29f-bcb2-43c3-890d-a6ae8c82d66e}</key>
		<string>{9c5a2ec5-c969-40c4-b410-d48f9030824b}</string>
		<key>{a8f176af-2e9c-4f84-ac3d-af44ee6ba3c6}</key>
		<string>{1c93159d-04ef-429f-a4f7-7c71ce3a9883}</string>
		<key>{e66fc809-0fcb-482d-867e-04aff060107b}</key>
		<string>{27cccbdf-9e9a-4bff-b0cd-dbc70d89b427}</string>
	</dict>
	<key>note_light</key>
	<dict>
		<key>{0cf5fca3-ee30-4bd8-aa2f-dfd9989aa27a}</key>
		<array>
			
			<string>{3197f704-cf59-43f6-b82a-215c5142f419}</string>
			
			<string>{076d4b7e-a781-47dc-a9d5-9d91531a4f40}</string>
		</array>
		<key>{3d9706e4-dd6f-4ca0-a485-4e0f4a51fd70}</key>
		<array>
			
			<string>{49a185e4-31dc-46f0-859e-ab0ef83aea2e}</string>
		</array>
		<key>{79619a8e-015e-493f-9a87-f6ce5535d5cc}</key>
		<array>
			
			<string>{204fdc62-add1-4fae-9794-30f863474e5f}</string>
		</array>
		<key>{84e143fb-aad4-4c99-9920-76195079d1cc}</key>
		<array>
			
			<string>{adb47da2-75cf-4c61-99e0-e793073508ea}</string>
		</array>
		<key>{4deed818-06bd-4922-b4f0-5f6f6ae6bec0}</key>
		<array>
			
			<string>{ccd09c26-f1ff-4c67-8142-5b6746c56868}</string>
		</array>
		<key>{b57cae7f-727b-4de7-b78c-80dc0d37760f}</key>
		<array>
			
			<string>{ef64de86-9b81-46d8-b9b8-c75ec407e8a5}</string>
		</array>
		<key>{52fd1abb-2d13-43f9-b8ff-81c87f7c135b}</key>
		<array>
			
			<string>{ee99b76e-bb00-4085-998a-c7e4bca6b637}</string>
		</array>
		<key>{6e81ac7a-cfd3-42d7-9d8b-831a244647d4}</key>
		<array>
			
			<string>{a1085e76-1d19-4396-a73c-e9fe80d1a1c4}</string>
		</array>
		<key>{9c845ad4-1fea-42cb-b414-f9531e31d050}</key>
		<array>
			
			<string>{9fc75ca5-9522-427c-a290-7fc1037a719e}</string>
		</array>
		<key>{0ffc852b-c9fc-497d-8cfb-e3bf5ca45ade}</key>
		<array>
			
			<string>{a2132be6-c181-4f57-8414-febf936bf7fd}</string>
		</array>
		<key>{d43f2aac-b990-42de-9c70-d178d2da2411}</key>
		<array>
			
			<string>{70b7f7d1-ad83-4731-bee3-37f789e46cb4}</string>
			
			<string>{51ae1f19-c301-4c72-af3e-27cc33bbe0ee}</string>
		</array>
		<key>{577dfa77-ebc7-4545-b52b-95582beffa82}</key>
		<array>
			
			<string>{138daf64-6541-444c-9e01-0bc773e49e15}</string>
		</array>
		<key>{d0dbee1a-43ac-47dc-bcb9-03694a5dde5e}</key>
		<array>
			
			<string>{b743a4b2-915c-4f87-b658-b5e0ec5989f6}</string>
		</array>
		<key>{22efa10d-159a-4fff-a1bf-8ee7947290ec}</key>
		<array>
			
			<string>{2c036e42-e589-4238-8216-509b7f8b39d7}</string>
		</array>
		<key>{12267a5b-853d-4e20-8a2f-af2c4376a7c8}</key>
		<array>
			
			<string>{be7412e6-8cc5-4d61-a2f9-05938fc4a6d7}</string>
		</array>
		<key>{865a1a46-79f7-4f38-bc06-a64a3f6f10da}</key>
		<array>
			
			<string>{0400283f-a98f-4f68-87b0-b093407b5369}</string>
		</array>
		<key>{4fa73ce8-1b04-4002-a98f-6ef1a1ed2053}</key>
		<array>
			
			<string>{53256ccd-521b-4861-af65-8da63ef4f15b}</string>
		</array>
		<key>{1287d81b-a82f-4831-954c-9a480dc4fdd8}</key>
		<array>
			
			<string>{46deea4f-ed34-4969-865e-50a310fd7d61}</string>
		</array>
		<key>{919d33d2-98dc-49c5-a0ec-402212ea9e15}</key>
		<array>
			
			<string>{c8d24285-1f50-4ede-991b-d9abb767e401}</string>
		</array>
		<key>{f681f2b1-39ec-44a3-906a-36252c6e3ba2}</key>
		<array>
			
			<string>{78a06f06-a017-47f6-8dc9-d80f428047a2}</string>
		</array>
		<key>{b8228665-d404-4e04-8d4a-0a58eb8388f9}</key>
		<array>
			
			<string>{8cefabdf-63cf-4a76-a2ca-1562f5b2fc8e}</string>
			
			<string>{13b2490b-a3f3-474a-8220-22dda1c278bb}</string>
		</array>
		<key>{3bab17c8-f712-4e9a-bed2-34e530f592a0}</key>
		<array>
			
			<string>{971e759e-344a-4403-82ea-ad5effe1f33e}</string>
		</array>
		<key>{1bd82cd9-2e9c-433c-bbff-cda7ba74deae}</key>
		<array>
			
			<string>{39faf17d-9c60-4755-972c-4971d5167877}</string>
		</array>
		<key>{8778aa98-b71a-4aa0-ba08-513e171430c8}</key>
		<array>
			
			<string>{e0beccd3-7e67-42da-b98c-5e0a23a0dbb1}</string>
		</array>
		<key>{3166e8f7-293e-4abe-bf98-86ffe1160d62}</key>
		<array>
			
			<string>{75a73ee1-8f9e-4a09-b671-9801f33b4fc7}</string>
		</array>
		<key>{9149b2ca-cf5e-4801-919a-392052b40d51}</key>
		<array>
			
			<string>{fd69c8f3-05f7-4692-8ccf-aad4537abf9e}</string>
		</array>
		<key>{92a5a894-8ed9-4508-9328-4595e02fa458}</key>
		<array>
			
			<string>{e5558ba0-e27e-4326-9e31-5f89ed0c1311}</string>
		</array>
		<key>{36d8f09a-57e8-4ec6-b928-e6bf4f69a61e}</key>
		<array>
			
			<string>{146e37f7-4071-42b1-986d-16daf3368bf5}</string>
		</array>
		<key>{2b0ba374-709a-4544-9581-a18586e98fe4}</key>
		<array>
			
			<string>{3f5784eb-d1b2-42d2-a817-07069a5941b8}</string>
		</array>
		<key>{89e016e7-1ffb-4194-9d67-3a10521e4163}</key>
		<array>
			
			<string>{0af9225a-2989-4f7a-b0ac-892666d93b86}</string>
		</array>
		<key>{6f68ebb3-2fd3-4497-8e81-df6f04557bab}</key>
		<array>
			
			<string>{58cbd3ec-f826-4aff-81be-ef9790011fbc}</string>
			
			<string>{81cb513e-3abe-4ef1-89ae-8f2525d3865a}</string>
		</array>
		<key>{281aca8c-41e2-4070-801d-af3ddbc7987a}</key>
		<array>
			
			<string>{944a27a8-3f79-4f12-acd8-801ba85429fa}</string>
		</array>
		<key>{374a6f47-1474-44ac-ab55-d2588c68496f}</key>
		<array>
			
			<string>{547354ea-7bd1-4c9f-834a-e5f3f5802ade}</string>
		</array>
		<key>{4ef8a504-f790-46af-9e4e-1098c5755202}</key>
		<array>
			
			<string>{901840a0-a915-427e-9739-b208c2fdbf99}</string>
		</array>
		<key>{bb616dc2-4d4a-4cef-aeac-8a6360740e8c}</key>
		<array>
			
			<string>{5f284370-02ac-43e3-9e8b-ff474eab574d}</string>
		</array>
		<key>{7e1832d7-d7cf-4b02-8710-692a3389ec5b}</key>
		<array>
			
			<string>{5e98796c-82d0-4be7-94ec-fb74ba23b5ba}</string>
		</array>
		<key>{0466c130-e21b-44ff-951b-7e214f0a45e8}</key>
		<array>
			
			<string>{d8d1e942-8399-415a-ad88-40192e4fa32a}</string>
		</array>
		<key>{a7acb29f-bcb2-43c3-890d-a6ae8c82d66e}</key>
		<array>
			
			<string>{460c8b69-3732-4ed4-905d-9be6f107c69a}</string>
		</array>
		<key>{a8f176af-2e9c-4f84-ac3d-af44ee6ba3c6}</key>
		<array>
			
			<string>{63ee8543-02ce-47bd-8390-e5d6607599a6}</string>
		</array>
		<key>{e66fc809-0fcb-482d-867e-04aff060107b}</key>
		<array>
			
			<string>{1a83f89a-c56b-4f4e-bf6c-2fd86ca455d3}</string>
		</array>
	</dict>
	<key>note_hands_type</key>
	<dict>
		<key>1</key>
		<array>
			
			<string>{6ef47ddc-da82-4cf4-8343-90b2dd365ee2}</string>
			
			<string>{718afd0b-a4df-4fb2-9e59-99885ae9bfd3}</string>
			
			<string>{1739e1bd-dc4f-492a-9114-52b7224d42bc}</string>
			
			<string>{db946b27-2fbf-428f-922a-c9d1740c281b}</string>
			
			<string>{f894036b-a43f-4f42-8f47-b745fecf206d}</string>
			
			<string>{2c755e18-519a-4203-ae7f-a8977dbc57a1}</string>
			
			<string>{ca3825a9-d573-447e-9672-e569d86a017c}</string>
			
			<string>{d766f6c4-3326-451b-bd1e-f4df4b99e0d3}</string>
			
			<string>{64240ef2-b9c0-4fef-8bf3-201aca4ccef5}</string>
			
			<string>{6543b6f7-d37c-41b6-8bd1-d318683db96f}</string>
			
			<string>{817cd18c-6af0-42f4-93d6-56fce71bbec4}</string>
			
			<string>{ff7e6a3d-647f-4d81-b288-cace1333111c}</string>
			
			<string>{93f2c3df-effb-4acf-9d0c-8d265376db1f}</string>
			
			<string>{b2c4dc43-5790-401f-bedd-ad07edf36653}</string>
			
			<string>{1e515929-243a-4404-aab4-040553017e56}</string>
			
			<string>{e6976e9b-e4af-44b1-8fc4-63a291b56caa}</string>
			
			<string>{6b48d93e-106d-48e9-88a9-d54855aacc12}</string>
			
			<string>{bed0ecbd-984d-44b1-9292-e26b59d5934a}</string>
			
			<string>{b1b2b6d5-7059-4d04-af17-7edb14338069}</string>
			
			<string>{0ac28b51-8fcb-47e1-93dd-408dbf27b65e}</string>
			
			<string>{1a13a154-faad-473d-9d96-e4718a26a406}</string>
			
			<string>{2db3f871-35d1-4b58-a39c-5a9d8486cdad}</string>
			
			<string>{6db4601f-5893-4617-84fb-0b022f8d20a1}</string>
			
			<string>{58a77377-d570-4751-b56e-0f01a5fb0126}</string>
			
			<string>{edc0bb5d-449d-4fcd-a31b-f65a20e1ce29}</string>
			
			<string>{70914b4e-698c-43a3-acab-584ce886476c}</string>
			
			<string>{27297487-1347-4769-adfd-5641f5348b58}</string>
			
			<string>{a877cb00-96cc-4d6c-b940-12b9536b36b6}</string>
			
			<string>{fbea6020-c634-483f-b6c7-ec8b2427e953}</string>
			
			<string>{5d156174-0507-493b-a0dd-832f41a6bb10}</string>
			
			<string>{a9d13d00-ff59-4f47-a372-1cfb12a38d7f}</string>
			
			<string>{8b22be8e-ff5f-4d0c-bad0-0e21a48e17e3}</string>
			
			<string>{07d8e46f-7137-4027-88dc-87b10d1eaeaa}</string>
			
			<string>{0ff61b32-4d4a-4e72-9432-999d90ce7707}</string>
			
			<string>{17bfeca8-be33-43c8-a8ed-7894c35d7b87}</string>
			
			<string>{827b0f5a-c86b-442d-bacb-c96112529de2}</string>
			
			<string>{1e43ffa5-a4db-4d49-81bc-c46872e64184}</string>
			
			<string>{300c37d3-fff6-42da-863f-4dfa7785018b}</string>
			
			<string>{774b9392-2e34-4b75-a7d2-7f89019d3be1}</string>
			
			<string>{9dede38e-c399-4c85-b4fa-9f03bd0ebc18}</string>
			
			<string>{b96f426e-79ee-4257-b949-a914c242a847}</string>
			
			<string>{b2146c4d-d7c6-4a98-a211-c80bcf99f35c}</string>
			
			<string>{e09ee356-4685-426b-a9f6-fd86335fdf71}</string>
			
			<string>{994efb11-ffc5-4da6-94a3-0d6a38b94eea}</string>
			
			<string>{08009919-cf1b-4f8c-99cd-1f40f0a44a46}</string>
			
			<string>{756185dc-ac37-4241-87ee-f89aae5c2b13}</string>
			
			<string>{ff3eb98d-2b9e-46d6-b492-0042af3c6f38}</string>
			
			<string>{07fc04a2-4d64-4161-8a60-d6be101da0a7}</string>
			
			<string>{8c823772-da24-48fe-9c7f-5e4aef638928}</string>
			
			<string>{11685c46-2a2c-4809-a36d-03c0544307c7}</string>
			
			<string>{14533570-8f16-412d-8f5f-e99aa6ef5952}</string>
			
			<string>{188d8493-4d13-499a-b9f0-025a0264900b}</string>
			
			<string>{a7bd95f4-75b6-4487-9048-ff07fbcb5643}</string>
			
			<string>{9d93fc8f-e4a2-4e9c-bcc3-93af89282973}</string>
			
			<string>{51ae1f19-c301-4c72-af3e-27cc33bbe0ee}</string>
			
			<string>{81cb513e-3abe-4ef1-89ae-8f2525d3865a}</string>
			
			<string>{a35cff6b-c4b2-4ca4-b468-21dea340459b}</string>
			
			<string>{131fc72a-998e-4563-bc17-403c02761451}</string>
			
			<string>{a9fe8a36-f3c4-4cd5-930c-ac1deeb6783a}</string>
			
			<string>{4d611d5e-46c3-4605-a089-dc99e7b041af}</string>
			
			<string>{d4ce00a7-61de-47d8-bc03-4dab4de1d7d5}</string>
			
			<string>{f862a561-65a4-4c4b-92e6-f7a82ae45641}</string>
			
			<string>{1b83e676-6d40-44c3-a552-4d40d9f6f7c5}</string>
			
			<string>{f156705f-ae8a-4aa7-841f-92035b3366cc}</string>
			
			<string>{ca17edd9-ca53-49e4-8573-9adf26ed7d2a}</string>
			
			<string>{e64fb40b-13b8-4172-9284-aa9097f0cda5}</string>
			
			<string>{bfbcb2f0-477c-4bd1-89f5-fb423aa06103}</string>
			
			<string>{d02d7293-8bf1-4977-90d8-c67237123631}</string>
			
			<string>{b2282945-ed79-4238-9f87-442e818c8fd8}</string>
			
			<string>{3c0eac6b-fcf9-4e3a-97f5-cb2afff7608d}</string>
			
			<string>{9706b85e-123b-4d55-a000-40df8c1b9399}</string>
			
			<string>{73e37536-5baa-4540-811d-517a4ae53044}</string>
			
			<string>{5ecac5ab-bbad-40f0-84e7-89634720b8ae}</string>
			
			<string>{cb276b0a-a1f2-4333-82bb-ee5988fb4a12}</string>
			
			<string>{8b61cb0f-4b34-434b-afa6-30104324a69b}</string>
			
			<string>{bfc1ffcf-f83c-4104-87e5-4ad94a8aeb9d}</string>
			
			<string>{ca9e1e0f-d831-4b69-8594-12d340cfb145}</string>
			
			<string>{82f310c8-aff9-4aba-ba5f-913809db45c7}</string>
			
			<string>{b16b8518-8c0f-459b-9cde-f2e50217eff6}</string>
			
			<string>{fde5749d-b3ba-4726-be58-5bf247cdde27}</string>
			
			<string>{6a646a96-94d6-4394-ba13-0e6bac37439d}</string>
			
			<string>{ae1f764c-14c5-4082-af99-e727f5a76ff6}</string>
			
			<string>{fc37f814-cdca-4591-9dc5-b8a426b28205}</string>
			
			<string>{97b7940f-6ad5-458b-8346-83f4d7c65e35}</string>
			
			<string>{2eff6368-1812-48e5-abb9-2dec0a420be1}</string>
			
			<string>{f42f75f2-f42c-442b-961d-f03c65bf0467}</string>
			
			<string>{0c554f98-f70e-4bdd-9135-1c0f6da551c6}</string>
			
			<string>{bd15fcb6-2f7c-480a-9923-8aef2a1aef32}</string>
			
			<string>{ceca043e-1b28-4d3b-a170-ee9f7645eaa0}</string>
			
			<string>{e657c7f6-2353-41ae-96c3-a2de7ec7b14c}</string>
			
			<string>{c52f0585-3651-4731-bea5-c94c3ef81e65}</string>
			
			<string>{3b5fdac8-371e-475e-be29-10ea02a553ae}</string>
			
			<string>{89631eaf-59a6-4a58-8dfc-529e21d42ff1}</string>
			
			<string>{ccd09c26-f1ff-4c67-8142-5b6746c56868}</string>
			
			<string>{ef64de86-9b81-46d8-b9b8-c75ec407e8a5}</string>
			
			<string>{ee99b76e-bb00-4085-998a-c7e4bca6b637}</string>
			
			<string>{a1085e76-1d19-4396-a73c-e9fe80d1a1c4}</string>
			
			<string>{9fc75ca5-9522-427c-a290-7fc1037a719e}</string>
			
			<string>{a2132be6-c181-4f57-8414-febf936bf7fd}</string>
			
			<string>{70b7f7d1-ad83-4731-bee3-37f789e46cb4}</string>
			
			<string>{138daf64-6541-444c-9e01-0bc773e49e15}</string>
			
			<string>{b743a4b2-915c-4f87-b658-b5e0ec5989f6}</string>
			
			<string>{2c036e42-e589-4238-8216-509b7f8b39d7}</string>
			
			<string>{be7412e6-8cc5-4d61-a2f9-05938fc4a6d7}</string>
			
			<string>{0400283f-a98f-4f68-87b0-b093407b5369}</string>
			
			<string>{75a73ee1-8f9e-4a09-b671-9801f33b4fc7}</string>
			
			<string>{fd69c8f3-05f7-4692-8ccf-aad4537abf9e}</string>
			
			<string>{e5558ba0-e27e-4326-9e31-5f89ed0c1311}</string>
			
			<string>{146e37f7-4071-42b1-986d-16daf3368bf5}</string>
			
			<string>{3f5784eb-d1b2-42d2-a817-07069a5941b8}</string>
			
			<string>{0af9225a-2989-4f7a-b0ac-892666d93b86}</string>
			
			<string>{58cbd3ec-f826-4aff-81be-ef9790011fbc}</string>
			
			<string>{944a27a8-3f79-4f12-acd8-801ba85429fa}</string>
			
			<string>{547354ea-7bd1-4c9f-834a-e5f3f5802ade}</string>
			
			<string>{901840a0-a915-427e-9739-b208c2fdbf99}</string>
			
			<string>{5f284370-02ac-43e3-9e8b-ff474eab574d}</string>
			
			<string>{5e98796c-82d0-4be7-94ec-fb74ba23b5ba}</string>
		</array>
		<key>2</key>
		<array>
			
			<string>{0d90f2d6-f3ed-4356-96db-4362285453a9}</string>
			
			<string>{285798d7-aa17-4836-8a06-4f9d2d1fe9d7}</string>
			
			<string>{c4ac94bb-a011-42ac-988b-d349e640304a}</string>
			
			<string>{56e983f1-e252-4ed7-9ba9-887efea60f43}</string>
			
			<string>{13ce6697-e9a6-4aa9-98e6-daddfef1de97}</string>
			
			<string>{e4c22378-31ab-46f0-b363-517438b7d183}</string>
			
			<string>{e6121d7b-53ef-4eb9-a661-90ee4f63840a}</string>
			
			<string>{cf04e686-129c-4073-b6ed-1b3bff976133}</string>
			
			<string>{df85e8a8-b5b3-449b-b574-6c75e9d4aab2}</string>
			
			<string>{99614210-3a28-489e-bb26-de3e266af0d5}</string>
			
			<string>{88cc1224-5a66-4004-8142-503b8fe55d9a}</string>
			
			<string>{207d0d1c-da97-4413-808e-7b6346728b2c}</string>
			
			<string>{9b488833-918f-44d2-8817-d4d386301f3b}</string>
			
			<string>{91b1ca7c-38b8-4019-aa12-61b52a3ba9eb}</string>
			
			<string>{2e928ed1-2b8d-4f54-b114-7256537e99fa}</string>
			
			<string>{19039a50-a55c-4aa8-bb10-b52386830d02}</string>
			
			<string>{62189c89-38ad-4496-b275-f848ffa8e94b}</string>
			
			<string>{261992d7-e32c-46cf-bf16-a240057e0284}</string>
			
			<string>{0cef715f-8b44-4469-b286-013c293081ab}</string>
			
			<string>{74b7f479-cd9d-49eb-b7e1-a08d0213b249}</string>
			
			<string>{eec4d191-3b6f-4c55-afc4-9d45cea4e531}</string>
			
			<string>{f3ed230e-890a-477f-adf8-d4c7dc95ccef}</string>
			
			<string>{9baa228e-a743-4284-bf67-33a2d4d3bb84}</string>
			
			<string>{d32a2781-0f41-46cf-ad4a-008e2f6b192f}</string>
			
			<string>{8a5ad79c-a590-4735-a202-06e8237b742d}</string>
			
			<string>{65900689-9342-4096-9157-59dd02e3bcfe}</string>
			
			<string>{8de6c8c8-8df1-4a02-af5f-81c9bbd9e079}</string>
			
			<string>{53b8893a-9054-4910-8634-1a930563cfbc}</string>
			
			<string>{fe3b8bde-d135-4bfb-8833-a5381307282f}</string>
			
			<string>{871ade61-15e5-40e1-9e57-6f81dc0be84c}</string>
			
			<string>{b2b9f305-ae33-44e3-bd41-af850d043c77}</string>
			
			<string>{088f7ec2-abf2-40c7-9d1a-0e057d4882b5}</string>
			
			<string>{3bca6b0e-2ab2-42c2-8b71-bc95300d6052}</string>
			
			<string>{7372a8bb-db37-4dba-a226-eaaa8e898df7}</string>
			
			<string>{7cebd829-cd5d-4d12-8729-aaad0fbed3d6}</string>
			
			<string>{529ce6b3-c66f-476e-8c43-6bedf6f4b3f7}</string>
			
			<string>{3dac1bea-fd9d-4dfa-b113-17f7c1f8b8d9}</string>
			
			<string>{01b19f58-25a8-445c-b268-eea202a5d7eb}</string>
			
			<string>{1764c8b7-071f-4e5a-8dc4-a657f1bb001e}</string>
			
			<string>{6cdc6eed-cd55-499e-9343-6d38ca6b8168}</string>
			
			<string>{9161e8dd-ac46-4146-96e3-972171e30ee6}</string>
			
			<string>{9257fe4f-f7e9-4d4a-b261-9cc6c4a9ce33}</string>
			
			<string>{49b3d510-62e3-4987-8110-7e1164643927}</string>
			
			<string>{0310b422-6ed9-47f3-8d24-9e77d038ef3a}</string>
			
			<string>{a0ad1a33-c36e-42e8-bf2a-8acfc280036b}</string>
			
			<string>{3da3b55d-9fc9-47cb-a4e0-30df2a6c2a65}</string>
			
			<string>{d1447ea6-faa3-4b1d-9617-bb4682bfa008}</string>
			
			<string>{9c5a2ec5-c969-40c4-b410-d48f9030824b}</string>
			
			<string>{1c93159d-04ef-429f-a4f7-7c71ce3a9883}</string>
			
			<string>{27cccbdf-9e9a-4bff-b0cd-dbc70d89b427}</string>
			
			<string>{076d4b7e-a781-47dc-a9d5-9d91531a4f40}</string>
			
			<string>{13b2490b-a3f3-474a-8220-22dda1c278bb}</string>
			
			<string>{90876ac7-77dd-480d-a276-785252d3ff6c}</string>
			
			<string>{41f7fe36-1b5f-4ffc-816f-3659f0e53dbc}</string>
			
			<string>{5bd36068-44a5-4579-94b7-63c5168ea217}</string>
			
			<string>{e2ca4222-075d-4acc-9fb2-e0ddc5c2d37e}</string>
			
			<string>{e6b46206-be2d-4d79-80a0-8636861509de}</string>
			
			<string>{3e1081ac-310c-450a-aa2a-de98f3d573bd}</string>
			
			<string>{1db38f0b-9858-4e8d-879c-16a5aeeb929d}</string>
			
			<string>{2122ee8f-447b-4503-ba72-a900d64b95af}</string>
			
			<string>{ddb29daa-4cfa-43cb-9d6e-07b8fc6797c3}</string>
			
			<string>{4ba46451-6a89-486f-8918-aac0bffefadb}</string>
			
			<string>{cc88e6e6-09a6-45d1-9cbe-8e66019acc76}</string>
			
			<string>{319870cd-31f4-4dcb-b0f9-e506395c5808}</string>
			
			<string>{a3a93ede-20be-474b-8a29-cf5342209466}</string>
			
			<string>{3e368cdd-cb8e-4694-ad0b-34383e577d34}</string>
			
			<string>{e4f50869-4c91-4471-9d91-67bc0362f0c8}</string>
			
			<string>{69564ec5-af2c-43e4-a06a-6119921b2e5f}</string>
			
			<string>{24c69fe1-7328-4d3a-b2dc-c4f919580b3d}</string>
			
			<string>{a8b65aba-103c-4c97-8cee-45cf98a423c0}</string>
			
			<string>{74dd47ed-6a14-4eb1-9992-b18a984422d7}</string>
			
			<string>{2d00cbbd-8c00-4821-948d-6929515c058d}</string>
			
			<string>{1a66afd0-376d-4951-892c-4e7d90dfd15a}</string>
			
			<string>{f557df84-65a5-4d61-bf32-31913bdf85d7}</string>
			
			<string>{070d40b6-b7a8-4fa2-8af1-5eda8e079cd0}</string>
			
			<string>{421d743c-1275-46e2-a30c-6075d3a3fbff}</string>
			
			<string>{116f3604-96f0-4052-b1f7-84bb530f8faa}</string>
			
			<string>{f32fedeb-f55b-48f2-9752-a55f14e0a815}</string>
			
			<string>{6e943d6d-c1ee-4fbc-b884-b76b24003a4e}</string>
			
			<string>{f9e40ccb-1826-485d-be96-448a87920014}</string>
			
			<string>{bf898d3b-3f45-483d-a65d-9ab008f0758f}</string>
			
			<string>{373f4dfe-bb29-4d70-9bce-0827bf9d7ecc}</string>
			
			<string>{5061768f-8feb-4fef-be48-ccebadfb2094}</string>
			
			<string>{fcbeb581-9399-445d-8b6c-11bf6d0fbdf8}</string>
			
			<string>{f74ba622-1807-4546-b663-f10dd80c7d37}</string>
			
			<string>{c7fe8198-2a22-4730-b8f4-492fabdca430}</string>
			
			<string>{9e46445b-060a-4611-bb67-a80826725b0a}</string>
			
			<string>{5d6baeb0-a89b-44ac-a7c8-41fa817e8ba4}</string>
			
			<string>{bb6ffdc1-4ce5-4d9e-92f0-fcd82663e2c1}</string>
			
			<string>{3197f704-cf59-43f6-b82a-215c5142f419}</string>
			
			<string>{49a185e4-31dc-46f0-859e-ab0ef83aea2e}</string>
			
			<string>{204fdc62-add1-4fae-9794-30f863474e5f}</string>
			
			<string>{adb47da2-75cf-4c61-99e0-e793073508ea}</string>
			
			<string>{53256ccd-521b-4861-af65-8da63ef4f15b}</string>
			
			<string>{46deea4f-ed34-4969-865e-50a310fd7d61}</string>
			
			<string>{c8d24285-1f50-4ede-991b-d9abb767e401}</string>
			
			<string>{78a06f06-a017-47f6-8dc9-d80f428047a2}</string>
			
			<string>{8cefabdf-63cf-4a76-a2ca-1562f5b2fc8e}</string>
			
			<string>{971e759e-344a-4403-82ea-ad5effe1f33e}</string>
			
			<string>{39faf17d-9c60-4755-972c-4971d5167877}</string>
			
			<string>{e0beccd3-7e67-42da-b98c-5e0a23a0dbb1}</string>
			
			<string>{d8d1e942-8399-415a-ad88-40192e4fa32a}</string>
			
			<string>{460c8b69-3732-4ed4-905d-9be6f107c69a}</string>
			
			<string>{63ee8543-02ce-47bd-8390-e5d6607599a6}</string>
			
			<string>{1a83f89a-c56b-4f4e-bf6c-2fd86ca455d3}</string>
			
			<string>{248c57bf-c65e-42ea-bca1-98c57993851e}</string>
			
			<string>{18b809bc-52c2-4983-8ad0-c0fb91c9e7b7}</string>
			
			<string>{300ec042-03e7-4076-9489-57616d3075dc}</string>
			
			<string>{334a8a30-cfab-4e62-936b-59465b0d1514}</string>
		</array>
	</dict>
</dict>
</plist>