<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{b5308623-ae41-4d1f-9d57-f947c08bce04}</key>
		<dict>
			<key>x</key>
			<string>445.942</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{b115c07c-d8f6-4b80-bfc2-358d0d9d1e2f}</key>
		<dict>
			<key>x</key>
			<string>445.942</string>
			<key>y</key>
			<string>300.614</string>
		</dict>
		<key>{16dcd2eb-bc9a-4a1a-99d9-7d9b1af2ed6c}</key>
		<dict>
			<key>x</key>
			<string>447.41</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{25ca7fa4-f38e-4d65-8095-29d5b986ac64}</key>
		<dict>
			<key>x</key>
			<string>409.993</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{870c0015-e56d-42c0-83c5-fff3aa2865c7}</key>
		<dict>
			<key>x</key>
			<string>380.79</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{fea3d405-3eed-4f96-a261-e8732be0fadb}</key>
		<dict>
			<key>x</key>
			<string>351.587</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{a31f0b5b-1a4c-48bc-9d30-a2c9110d9485}</key>
		<dict>
			<key>x</key>
			<string>320.737</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{b76b2f44-c38c-420d-8125-dae1525b38a1}</key>
		<dict>
			<key>x</key>
			<string>311.557</string>
			<key>y</key>
			<string>298.134</string>
		</dict>
		<key>{6b6c2bba-ba7c-4239-bb92-0b8d6e8ec237}</key>
		<dict>
			<key>x</key>
			<string>322.384</string>
			<key>y</key>
			<string>263.409</string>
		</dict>
		<key>{64f90579-3a34-4b0a-ab8a-db86cc0d2e6b}</key>
		<dict>
			<key>x</key>
			<string>242.607</string>
			<key>y</key>
			<string>265.89</string>
		</dict>
		<key>{9ec1f0c5-be9c-4dee-b615-9a6c1a8a75e3}</key>
		<dict>
			<key>x</key>
			<string>192.665</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{610165ed-cc5f-4a93-9c7b-7573723d412e}</key>
		<dict>
			<key>x</key>
			<string>192.665</string>
			<key>y</key>
			<string>305.575</string>
		</dict>
		<key>{23dedfd2-0ad0-4f6c-b24f-e8cacf25b76a}</key>
		<dict>
			<key>x</key>
			<string>192.665</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{dc8d97e4-0e8b-401c-8f73-918559a5145c}</key>
		<dict>
			<key>x</key>
			<string>126.368</string>
			<key>y</key>
			<string>255.969</string>
		</dict>
		<key>{97fd4483-d020-4eee-b5b8-849566a1219f}</key>
		<dict>
			<key>x</key>
			<string>78.5484</string>
			<key>y</key>
			<string>295.654</string>
		</dict>
		<key>{10a492ab-9802-453e-9959-b93163e54387}</key>
		<dict>
			<key>x</key>
			<string>78.5484</string>
			<key>y</key>
			<string>305.575</string>
		</dict>
		<key>{e17fba25-a3ff-4006-aaa8-56b1be2dace6}</key>
		<dict>
			<key>x</key>
			<string>78.5484</string>
			<key>y</key>
			<string>260.929</string>
		</dict>
		<key>{4b6c2a8d-061a-4af4-bdb2-92adada6d71f}</key>
		<dict>
			<key>x</key>
			<string>497.309</string>
			<key>y</key>
			<string>109.63</string>
		</dict>
		<key>{b9e926ce-26c8-43b3-9435-ca908cd4b7ed}</key>
		<dict>
			<key>x</key>
			<string>447.966</string>
			<key>y</key>
			<string>149.315</string>
		</dict>
		<key>{959ac1d6-34d7-4cf8-8c03-f2a9a15c59ce}</key>
		<dict>
			<key>x</key>
			<string>447.966</string>
			<key>y</key>
			<string>159.236</string>
		</dict>
		<key>{8d9c7200-6796-422e-aae7-157514276c21}</key>
		<dict>
			<key>x</key>
			<string>447.966</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{f3e1c0be-6a37-4a99-926e-ff8d1090e1bd}</key>
		<dict>
			<key>x</key>
			<string>412.353</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{02c149ae-dbc5-400c-af4e-1ba8321a6c6d}</key>
		<dict>
			<key>x</key>
			<string>383.487</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{707cd97d-0fd7-48fc-8be4-de736211988f}</key>
		<dict>
			<key>x</key>
			<string>354.621</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{03240f5d-5f6b-43b5-a4f6-86b414e60fe4}</key>
		<dict>
			<key>x</key>
			<string>325.576</string>
			<key>y</key>
			<string>149.315</string>
		</dict>
		<key>{8e364b60-5a9e-4a94-b781-725fea76ec16}</key>
		<dict>
			<key>x</key>
			<string>319.331</string>
			<key>y</key>
			<string>151.795</string>
		</dict>
		<key>{4db8e3f7-1055-4ca8-8338-9247d8c873d6}</key>
		<dict>
			<key>x</key>
			<string>325.755</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{07acafdb-0906-47ea-9204-9d14ab4f0c0f}</key>
		<dict>
			<key>x</key>
			<string>251.129</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{508ce9f6-7e84-475c-b72e-5789203b5c99}</key>
		<dict>
			<key>x</key>
			<string>201.786</string>
			<key>y</key>
			<string>149.315</string>
		</dict>
		<key>{f8d7fd16-479e-493d-8f94-97d21f6b5eb9}</key>
		<dict>
			<key>x</key>
			<string>201.786</string>
			<key>y</key>
			<string>159.236</string>
		</dict>
		<key>{bd25aa8d-a801-4fd8-bf08-8b945b44c1cb}</key>
		<dict>
			<key>x</key>
			<string>201.786</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{9af1cb92-7bc8-47a3-bd86-9c86f701645b}</key>
		<dict>
			<key>x</key>
			<string>136.237</string>
			<key>y</key>
			<string>109.63</string>
		</dict>
		<key>{402e406c-2be7-474c-a656-1a8e4af246b5}</key>
		<dict>
			<key>x</key>
			<string>89.0154</string>
			<key>y</key>
			<string>149.315</string>
		</dict>
		<key>{048ba3cf-44c5-426e-9a0b-540e8d5cedd2}</key>
		<dict>
			<key>x</key>
			<string>89.0154</string>
			<key>y</key>
			<string>159.236</string>
		</dict>
		<key>{221bd10a-6ea5-4097-9a44-a5a312734ee9}</key>
		<dict>
			<key>x</key>
			<string>89.0154</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{16dcd2eb-bc9a-4a1a-99d9-7d9b1af2ed6c}</key>
		<dict>
			<key>x1</key>
			<string>453.976</string>
			<key>y1</key>
			<string>265.128</string>
			<key>x2</key>
			<string>453.976</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{25ca7fa4-f38e-4d65-8095-29d5b986ac64}</key>
		<dict>
			<key>x1</key>
			<string>416.201</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>416.201</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{870c0015-e56d-42c0-83c5-fff3aa2865c7}</key>
		<dict>
			<key>x1</key>
			<string>386.998</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>386.998</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{fea3d405-3eed-4f96-a261-e8732be0fadb}</key>
		<dict>
			<key>x1</key>
			<string>357.796</string>
			<key>y1</key>
			<string>259.997</string>
			<key>x2</key>
			<string>357.796</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{6b6c2bba-ba7c-4239-bb92-0b8d6e8ec237}</key>
		<dict>
			<key>x1</key>
			<string>328.593</string>
			<key>y1</key>
			<string>262.478</string>
			<key>x2</key>
			<string>328.593</string>
			<key>y2</key>
			<string>246.667</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{64f90579-3a34-4b0a-ab8a-db86cc0d2e6b}</key>
		<dict>
			<key>x1</key>
			<string>248.816</string>
			<key>y1</key>
			<string>264.958</string>
			<key>x2</key>
			<string>248.816</string>
			<key>y2</key>
			<string>248.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{610165ed-cc5f-4a93-9c7b-7573723d412e}</key>
		<dict>
			<key>x1</key>
			<string>192.988</string>
			<key>y1</key>
			<string>296.431</string>
			<key>x2</key>
			<string>192.988</string>
			<key>y2</key>
			<string>322.317</string>
			<key>height</key>
			<string>26.6634</string>
		</dict>
		<key>{9ec1f0c5-be9c-4dee-b615-9a6c1a8a75e3}</key>
		<dict>
			<key>x1</key>
			<string>192.988</string>
			<key>y1</key>
			<string>296.431</string>
			<key>x2</key>
			<string>192.988</string>
			<key>y2</key>
			<string>322.317</string>
			<key>height</key>
			<string>26.6634</string>
		</dict>
		<key>{23dedfd2-0ad0-4f6c-b24f-e8cacf25b76a}</key>
		<dict>
			<key>x1</key>
			<string>199.232</string>
			<key>y1</key>
			<string>260.167</string>
			<key>x2</key>
			<string>199.232</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{dc8d97e4-0e8b-401c-8f73-918559a5145c}</key>
		<dict>
			<key>x1</key>
			<string>126.69</string>
			<key>y1</key>
			<string>256.9</string>
			<key>x2</key>
			<string>126.69</string>
			<key>y2</key>
			<string>272.091</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{10a492ab-9802-453e-9959-b93163e54387}</key>
		<dict>
			<key>x1</key>
			<string>78.8709</string>
			<key>y1</key>
			<string>296.431</string>
			<key>x2</key>
			<string>78.8709</string>
			<key>y2</key>
			<string>322.317</string>
			<key>height</key>
			<string>26.6634</string>
		</dict>
		<key>{97fd4483-d020-4eee-b5b8-849566a1219f}</key>
		<dict>
			<key>x1</key>
			<string>78.8709</string>
			<key>y1</key>
			<string>296.431</string>
			<key>x2</key>
			<string>78.8709</string>
			<key>y2</key>
			<string>322.317</string>
			<key>height</key>
			<string>26.6634</string>
		</dict>
		<key>{e17fba25-a3ff-4006-aaa8-56b1be2dace6}</key>
		<dict>
			<key>x1</key>
			<string>85.1151</string>
			<key>y1</key>
			<string>260.167</string>
			<key>x2</key>
			<string>85.1151</string>
			<key>y2</key>
			<string>244.807</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{4b6c2a8d-061a-4af4-bdb2-92adada6d71f}</key>
		<dict>
			<key>x1</key>
			<string>497.632</string>
			<key>y1</key>
			<string>110.562</string>
			<key>x2</key>
			<string>497.632</string>
			<key>y2</key>
			<string>125.752</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{959ac1d6-34d7-4cf8-8c03-f2a9a15c59ce}</key>
		<dict>
			<key>x1</key>
			<string>448.288</string>
			<key>y1</key>
			<string>150.093</string>
			<key>x2</key>
			<string>448.288</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>26.6634</string>
		</dict>
		<key>{b9e926ce-26c8-43b3-9435-ca908cd4b7ed}</key>
		<dict>
			<key>x1</key>
			<string>448.288</string>
			<key>y1</key>
			<string>150.093</string>
			<key>x2</key>
			<string>448.288</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>26.6634</string>
		</dict>
		<key>{8d9c7200-6796-422e-aae7-157514276c21}</key>
		<dict>
			<key>x1</key>
			<string>454.532</string>
			<key>y1</key>
			<string>113.829</string>
			<key>x2</key>
			<string>454.532</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{f3e1c0be-6a37-4a99-926e-ff8d1090e1bd}</key>
		<dict>
			<key>x1</key>
			<string>412.675</string>
			<key>y1</key>
			<string>113.042</string>
			<key>x2</key>
			<string>412.675</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{02c149ae-dbc5-400c-af4e-1ba8321a6c6d}</key>
		<dict>
			<key>x1</key>
			<string>389.695</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>389.695</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{707cd97d-0fd7-48fc-8be4-de736211988f}</key>
		<dict>
			<key>x1</key>
			<string>354.943</string>
			<key>y1</key>
			<string>113.042</string>
			<key>x2</key>
			<string>354.943</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{8e364b60-5a9e-4a94-b781-725fea76ec16}</key>
		<dict>
			<key>x1</key>
			<string>325.898</string>
			<key>y1</key>
			<string>150.093</string>
			<key>x2</key>
			<string>325.898</string>
			<key>y2</key>
			<string>169.157</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{03240f5d-5f6b-43b5-a4f6-86b414e60fe4}</key>
		<dict>
			<key>x1</key>
			<string>325.898</string>
			<key>y1</key>
			<string>150.093</string>
			<key>x2</key>
			<string>325.898</string>
			<key>y2</key>
			<string>169.157</string>
			<key>height</key>
			<string>19.8425</string>
		</dict>
		<key>{4db8e3f7-1055-4ca8-8338-9247d8c873d6}</key>
		<dict>
			<key>x1</key>
			<string>331.963</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>331.963</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{07acafdb-0906-47ea-9204-9d14ab4f0c0f}</key>
		<dict>
			<key>x1</key>
			<string>257.338</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>257.338</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f8d7fd16-479e-493d-8f94-97d21f6b5eb9}</key>
		<dict>
			<key>x1</key>
			<string>202.108</string>
			<key>y1</key>
			<string>150.093</string>
			<key>x2</key>
			<string>202.108</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>26.6634</string>
		</dict>
		<key>{508ce9f6-7e84-475c-b72e-5789203b5c99}</key>
		<dict>
			<key>x1</key>
			<string>202.108</string>
			<key>y1</key>
			<string>150.093</string>
			<key>x2</key>
			<string>202.108</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>26.6634</string>
		</dict>
		<key>{bd25aa8d-a801-4fd8-bf08-8b945b44c1cb}</key>
		<dict>
			<key>x1</key>
			<string>208.352</string>
			<key>y1</key>
			<string>113.829</string>
			<key>x2</key>
			<string>208.352</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{9af1cb92-7bc8-47a3-bd86-9c86f701645b}</key>
		<dict>
			<key>x1</key>
			<string>136.559</string>
			<key>y1</key>
			<string>110.562</string>
			<key>x2</key>
			<string>136.559</string>
			<key>y2</key>
			<string>125.752</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{048ba3cf-44c5-426e-9a0b-540e8d5cedd2}</key>
		<dict>
			<key>x1</key>
			<string>89.3378</string>
			<key>y1</key>
			<string>150.093</string>
			<key>x2</key>
			<string>89.3378</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>26.6634</string>
		</dict>
		<key>{402e406c-2be7-474c-a656-1a8e4af246b5}</key>
		<dict>
			<key>x1</key>
			<string>89.3378</string>
			<key>y1</key>
			<string>150.093</string>
			<key>x2</key>
			<string>89.3378</string>
			<key>y2</key>
			<string>175.978</string>
			<key>height</key>
			<string>26.6634</string>
		</dict>
		<key>{221bd10a-6ea5-4097-9a44-a5a312734ee9}</key>
		<dict>
			<key>x1</key>
			<string>95.582</string>
			<key>y1</key>
			<string>113.829</string>
			<key>x2</key>
			<string>95.582</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
	</dict>
</dict>
</plist>