<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>247.04</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>282.619</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>391.89</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>427.47</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>536.741</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>572.321</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>681.592</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>717.171</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{770e2bfe-e755-4c2f-bf58-e0770bfc9ca1}</key>
		<dict>
			<key>x</key>
			<string>442.603</string>
			<key>y</key>
			<string>758.481</string>
		</dict>
		<key>{42c50bcc-3310-4b80-8fec-aa5e4098077d}</key>
		<dict>
			<key>x</key>
			<string>442.603</string>
			<key>y</key>
			<string>763.442</string>
		</dict>
		<key>{3b02ad08-9713-43f9-befe-957978cbea95}</key>
		<dict>
			<key>x</key>
			<string>444.071</string>
			<key>y</key>
			<string>698.954</string>
		</dict>
		<key>{0bd6e91a-633c-45ba-982d-69fe589dc7c4}</key>
		<dict>
			<key>x</key>
			<string>405.82</string>
			<key>y</key>
			<string>693.993</string>
		</dict>
		<key>{df2597f0-4e8c-4c25-ac2f-83170c52acb1}</key>
		<dict>
			<key>x</key>
			<string>375.782</string>
			<key>y</key>
			<string>696.474</string>
		</dict>
		<key>{fa8125a0-f845-44b5-a933-8718dafff164}</key>
		<dict>
			<key>x</key>
			<string>345.745</string>
			<key>y</key>
			<string>693.993</string>
		</dict>
		<key>{7badbe6a-ea10-4cfa-afe6-4f39650ee37d}</key>
		<dict>
			<key>x</key>
			<string>323.241</string>
			<key>y</key>
			<string>758.481</string>
		</dict>
		<key>{66da48d2-eadf-4642-9676-27ee890bfca7}</key>
		<dict>
			<key>x</key>
			<string>314.061</string>
			<key>y</key>
			<string>760.962</string>
		</dict>
		<key>{ffb956a5-9f11-4338-9f6d-788c775f51cb}</key>
		<dict>
			<key>x</key>
			<string>315.708</string>
			<key>y</key>
			<string>696.474</string>
		</dict>
		<key>{13884953-e0d4-40fb-b287-bdc88225a1d9}</key>
		<dict>
			<key>x</key>
			<string>240.146</string>
			<key>y</key>
			<string>698.954</string>
		</dict>
		<key>{40dba366-d7f7-4289-b70f-729fbc41c5b2}</key>
		<dict>
			<key>x</key>
			<string>188.721</string>
			<key>y</key>
			<string>758.481</string>
		</dict>
		<key>{8a8026f8-f42f-421d-bed7-952b0349cfc2}</key>
		<dict>
			<key>x</key>
			<string>188.721</string>
			<key>y</key>
			<string>768.403</string>
		</dict>
		<key>{d67c2d5b-96d0-4383-a997-5ec8832ba45d}</key>
		<dict>
			<key>x</key>
			<string>188.721</string>
			<key>y</key>
			<string>693.993</string>
		</dict>
		<key>{59219db6-6f35-482b-b595-8bcf40d2685c}</key>
		<dict>
			<key>x</key>
			<string>120.569</string>
			<key>y</key>
			<string>689.033</string>
		</dict>
		<key>{55c8e69a-2a81-4910-a22b-4c29bad7dbb0}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>758.481</string>
		</dict>
		<key>{8958635e-b028-4ef6-9dd2-a20a13956166}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>768.403</string>
		</dict>
		<key>{8509d4d9-87d1-4430-b4d7-9efa1007bc55}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>693.993</string>
		</dict>
		<key>{4e0db35a-1ee2-4a6b-baaf-287475acdc0f}</key>
		<dict>
			<key>x</key>
			<string>495.758</string>
			<key>y</key>
			<string>544.182</string>
		</dict>
		<key>{19d39350-52ac-4cae-81b9-402b58283bc5}</key>
		<dict>
			<key>x</key>
			<string>445.174</string>
			<key>y</key>
			<string>613.631</string>
		</dict>
		<key>{c088c501-8283-4fc4-aec0-c6a045d89d83}</key>
		<dict>
			<key>x</key>
			<string>445.174</string>
			<key>y</key>
			<string>623.552</string>
		</dict>
		<key>{1fa93ace-c2b7-4106-8899-a30f03fb02fb}</key>
		<dict>
			<key>x</key>
			<string>445.174</string>
			<key>y</key>
			<string>549.143</string>
		</dict>
		<key>{58000544-040b-48e7-add3-48725c2d4332}</key>
		<dict>
			<key>x</key>
			<string>407.218</string>
			<key>y</key>
			<string>546.662</string>
		</dict>
		<key>{b75a9fdb-e3f4-448d-852a-ea8abbd676af}</key>
		<dict>
			<key>x</key>
			<string>376.008</string>
			<key>y</key>
			<string>551.623</string>
		</dict>
		<key>{70b632f0-638d-4546-a070-2b425262a0f5}</key>
		<dict>
			<key>x</key>
			<string>344.798</string>
			<key>y</key>
			<string>546.662</string>
		</dict>
		<key>{123abfe8-1998-42b8-ab6e-9060a4be8c20}</key>
		<dict>
			<key>x</key>
			<string>313.41</string>
			<key>y</key>
			<string>613.631</string>
		</dict>
		<key>{75b000eb-f592-4971-a84a-43959745ca37}</key>
		<dict>
			<key>x</key>
			<string>307.165</string>
			<key>y</key>
			<string>616.111</string>
		</dict>
		<key>{ed84018a-c993-450d-a5a9-c34b9d24d9e1}</key>
		<dict>
			<key>x</key>
			<string>313.589</string>
			<key>y</key>
			<string>551.623</string>
		</dict>
		<key>{3df73106-6ebb-4714-a8e5-958de8ae0db4}</key>
		<dict>
			<key>x</key>
			<string>237.412</string>
			<key>y</key>
			<string>554.103</string>
		</dict>
		<key>{a86bd79f-92ae-448b-a605-97a229b63742}</key>
		<dict>
			<key>x</key>
			<string>186.828</string>
			<key>y</key>
			<string>613.631</string>
		</dict>
		<key>{d4f42dd9-aca0-4ec9-b511-1ee82337a5b6}</key>
		<dict>
			<key>x</key>
			<string>186.828</string>
			<key>y</key>
			<string>623.552</string>
		</dict>
		<key>{f73a07b0-0805-496c-a9b0-492574513b2a}</key>
		<dict>
			<key>x</key>
			<string>186.828</string>
			<key>y</key>
			<string>549.143</string>
		</dict>
		<key>{0c70e5f0-2a0c-4652-b9a7-0d3491a56f82}</key>
		<dict>
			<key>x</key>
			<string>119.728</string>
			<key>y</key>
			<string>544.182</string>
		</dict>
		<key>{6ec1b94e-702f-4d8a-8b44-901cbb00d0d0}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>613.631</string>
		</dict>
		<key>{bfd3b5a0-7bcb-4630-b69d-3f4c7c1b71fa}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>623.552</string>
		</dict>
		<key>{1c3baa2a-bf55-44a3-a303-fa900a16fc6c}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>549.143</string>
		</dict>
		<key>{91277205-583f-417b-8d13-4022ac279aa8}</key>
		<dict>
			<key>x</key>
			<string>445.952</string>
			<key>y</key>
			<string>323.929</string>
		</dict>
		<key>{8d0a37da-42ee-4da7-90f4-1a52b06f670d}</key>
		<dict>
			<key>x</key>
			<string>445.952</string>
			<key>y</key>
			<string>328.89</string>
		</dict>
		<key>{354ebff1-12ad-4882-8730-536c59f59f5f}</key>
		<dict>
			<key>x</key>
			<string>447.42</string>
			<key>y</key>
			<string>264.402</string>
		</dict>
		<key>{cae84626-caad-4489-bf08-09fe61ba170e}</key>
		<dict>
			<key>x</key>
			<string>408.889</string>
			<key>y</key>
			<string>259.441</string>
		</dict>
		<key>{6c861c14-9ec6-4b93-9571-5f87db8aa92a}</key>
		<dict>
			<key>x</key>
			<string>378.573</string>
			<key>y</key>
			<string>261.922</string>
		</dict>
		<key>{bae90930-8f31-4823-971f-a4df9c751054}</key>
		<dict>
			<key>x</key>
			<string>348.256</string>
			<key>y</key>
			<string>259.441</string>
		</dict>
		<key>{f9a6ea84-5469-4d6e-ba25-9df722672596}</key>
		<dict>
			<key>x</key>
			<string>325.473</string>
			<key>y</key>
			<string>323.929</string>
		</dict>
		<key>{95646bbe-ec9a-4dbd-94da-14d0d6365347}</key>
		<dict>
			<key>x</key>
			<string>316.293</string>
			<key>y</key>
			<string>326.41</string>
		</dict>
		<key>{01e70ba5-ae5d-45cd-9ff1-7ed2219f655d}</key>
		<dict>
			<key>x</key>
			<string>317.94</string>
			<key>y</key>
			<string>261.922</string>
		</dict>
		<key>{458348a2-c431-4316-9e27-c6c9003a8ed6}</key>
		<dict>
			<key>x</key>
			<string>241.758</string>
			<key>y</key>
			<string>264.402</string>
		</dict>
		<key>{27d48624-fbdd-4b10-87b2-cb0bf64b2526}</key>
		<dict>
			<key>x</key>
			<string>189.837</string>
			<key>y</key>
			<string>323.929</string>
		</dict>
		<key>{8d6f55fb-5b7f-47f6-8611-e102af8792ba}</key>
		<dict>
			<key>x</key>
			<string>189.837</string>
			<key>y</key>
			<string>333.851</string>
		</dict>
		<key>{f0b04aa0-a030-47b7-8ae3-2ab24190c22f}</key>
		<dict>
			<key>x</key>
			<string>189.837</string>
			<key>y</key>
			<string>259.441</string>
		</dict>
		<key>{2e73f3b3-b4e0-497b-a746-587c6ec09e71}</key>
		<dict>
			<key>x</key>
			<string>121.065</string>
			<key>y</key>
			<string>254.481</string>
		</dict>
		<key>{2c08726a-dca6-490f-aea4-155ce5194940}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>323.929</string>
		</dict>
		<key>{a5679052-0d86-4d2d-9da3-67f2200a5c8a}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>333.851</string>
		</dict>
		<key>{dd213358-498c-4d2d-bbdf-85de6365e517}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>259.441</string>
		</dict>
		<key>{a6b9f0b9-0ad8-4cb7-9219-ce827324c64b}</key>
		<dict>
			<key>x</key>
			<string>497.875</string>
			<key>y</key>
			<string>109.63</string>
		</dict>
		<key>{9200e93e-929c-4201-bb9c-95cd12302e4b}</key>
		<dict>
			<key>x</key>
			<string>448.985</string>
			<key>y</key>
			<string>179.079</string>
		</dict>
		<key>{699f2510-b7e6-4dd0-ae91-7f5e3dd828ba}</key>
		<dict>
			<key>x</key>
			<string>448.985</string>
			<key>y</key>
			<string>189</string>
		</dict>
		<key>{ec1bfb01-e361-4f10-9117-8b6cf46a94d1}</key>
		<dict>
			<key>x</key>
			<string>448.985</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{2b5a4d98-6e47-431d-9e5e-65a962565f86}</key>
		<dict>
			<key>x</key>
			<string>411.981</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{205c4e8e-eb25-42af-baf6-b6d4741038a0}</key>
		<dict>
			<key>x</key>
			<string>381.724</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{43b3bf3f-d9ed-4f9a-b4b2-e9eecc9299e5}</key>
		<dict>
			<key>x</key>
			<string>351.467</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{5665987f-c949-41ee-84b0-c05b33cb41b1}</key>
		<dict>
			<key>x</key>
			<string>321.032</string>
			<key>y</key>
			<string>179.079</string>
		</dict>
		<key>{5a863f06-8594-4d32-9a28-d0373f807085}</key>
		<dict>
			<key>x</key>
			<string>314.787</string>
			<key>y</key>
			<string>181.559</string>
		</dict>
		<key>{4629a093-2528-487b-b69e-21eb12f4e9ec}</key>
		<dict>
			<key>x</key>
			<string>321.211</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{337462ef-0878-4998-a7d7-5f95cf3d36d2}</key>
		<dict>
			<key>x</key>
			<string>244.855</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{7a67a60d-1db4-4740-8548-9a79b0348ad0}</key>
		<dict>
			<key>x</key>
			<string>195.964</string>
			<key>y</key>
			<string>179.079</string>
		</dict>
		<key>{1d590a3e-98d4-4b34-8d0a-98676b808a36}</key>
		<dict>
			<key>x</key>
			<string>195.964</string>
			<key>y</key>
			<string>189</string>
		</dict>
		<key>{619732f0-752c-4a8d-a06f-aa17add9442a}</key>
		<dict>
			<key>x</key>
			<string>195.964</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{e5774eb1-671c-439e-b36a-b667e6589cc9}</key>
		<dict>
			<key>x</key>
			<string>130.981</string>
			<key>y</key>
			<string>109.63</string>
		</dict>
		<key>{2acb7141-b058-462f-9b2a-1769a1749a47}</key>
		<dict>
			<key>x</key>
			<string>84.2129</string>
			<key>y</key>
			<string>179.079</string>
		</dict>
		<key>{6a914df0-939b-4cc8-91c8-dd3a6c91b14e}</key>
		<dict>
			<key>x</key>
			<string>84.2129</string>
			<key>y</key>
			<string>189</string>
		</dict>
		<key>{b8649ed5-7457-4e98-acc0-1583000963d3}</key>
		<dict>
			<key>x</key>
			<string>84.2129</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{3b02ad08-9713-43f9-befe-957978cbea95}</key>
		<dict>
			<key>x1</key>
			<string>450.638</string>
			<key>y1</key>
			<string>698.192</string>
			<key>x2</key>
			<string>450.638</string>
			<key>y2</key>
			<string>681.592</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{0bd6e91a-633c-45ba-982d-69fe589dc7c4}</key>
		<dict>
			<key>x1</key>
			<string>412.028</string>
			<key>y1</key>
			<string>693.062</string>
			<key>x2</key>
			<string>412.028</string>
			<key>y2</key>
			<string>677.871</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{df2597f0-4e8c-4c25-ac2f-83170c52acb1}</key>
		<dict>
			<key>x1</key>
			<string>381.991</string>
			<key>y1</key>
			<string>695.542</string>
			<key>x2</key>
			<string>381.991</string>
			<key>y2</key>
			<string>679.731</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{fa8125a0-f845-44b5-a933-8718dafff164}</key>
		<dict>
			<key>x1</key>
			<string>351.954</string>
			<key>y1</key>
			<string>693.062</string>
			<key>x2</key>
			<string>351.954</string>
			<key>y2</key>
			<string>677.871</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{ffb956a5-9f11-4338-9f6d-788c775f51cb}</key>
		<dict>
			<key>x1</key>
			<string>321.916</string>
			<key>y1</key>
			<string>695.542</string>
			<key>x2</key>
			<string>321.916</string>
			<key>y2</key>
			<string>679.731</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{13884953-e0d4-40fb-b287-bdc88225a1d9}</key>
		<dict>
			<key>x1</key>
			<string>246.355</string>
			<key>y1</key>
			<string>698.022</string>
			<key>x2</key>
			<string>246.355</string>
			<key>y2</key>
			<string>681.592</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{8a8026f8-f42f-421d-bed7-952b0349cfc2}</key>
		<dict>
			<key>x1</key>
			<string>189.043</string>
			<key>y1</key>
			<string>759.259</string>
			<key>x2</key>
			<string>189.043</string>
			<key>y2</key>
			<string>777.704</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{40dba366-d7f7-4289-b70f-729fbc41c5b2}</key>
		<dict>
			<key>x1</key>
			<string>189.043</string>
			<key>y1</key>
			<string>759.259</string>
			<key>x2</key>
			<string>189.043</string>
			<key>y2</key>
			<string>777.704</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{d67c2d5b-96d0-4383-a997-5ec8832ba45d}</key>
		<dict>
			<key>x1</key>
			<string>195.287</string>
			<key>y1</key>
			<string>693.231</string>
			<key>x2</key>
			<string>195.287</string>
			<key>y2</key>
			<string>677.871</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{59219db6-6f35-482b-b595-8bcf40d2685c}</key>
		<dict>
			<key>x1</key>
			<string>120.891</string>
			<key>y1</key>
			<string>689.964</string>
			<key>x2</key>
			<string>120.891</string>
			<key>y2</key>
			<string>705.155</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{8958635e-b028-4ef6-9dd2-a20a13956166}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>759.259</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>777.704</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{55c8e69a-2a81-4910-a22b-4c29bad7dbb0}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>759.259</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>777.704</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{8509d4d9-87d1-4430-b4d7-9efa1007bc55}</key>
		<dict>
			<key>x1</key>
			<string>77.8322</string>
			<key>y1</key>
			<string>693.231</string>
			<key>x2</key>
			<string>77.8322</string>
			<key>y2</key>
			<string>677.871</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{4e0db35a-1ee2-4a6b-baaf-287475acdc0f}</key>
		<dict>
			<key>x1</key>
			<string>496.08</string>
			<key>y1</key>
			<string>545.114</string>
			<key>x2</key>
			<string>496.08</string>
			<key>y2</key>
			<string>560.304</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{c088c501-8283-4fc4-aec0-c6a045d89d83}</key>
		<dict>
			<key>x1</key>
			<string>445.496</string>
			<key>y1</key>
			<string>614.409</string>
			<key>x2</key>
			<string>445.496</string>
			<key>y2</key>
			<string>632.853</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{19d39350-52ac-4cae-81b9-402b58283bc5}</key>
		<dict>
			<key>x1</key>
			<string>445.496</string>
			<key>y1</key>
			<string>614.409</string>
			<key>x2</key>
			<string>445.496</string>
			<key>y2</key>
			<string>632.853</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{1fa93ace-c2b7-4106-8899-a30f03fb02fb}</key>
		<dict>
			<key>x1</key>
			<string>451.74</string>
			<key>y1</key>
			<string>548.381</string>
			<key>x2</key>
			<string>451.74</string>
			<key>y2</key>
			<string>533.02</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{58000544-040b-48e7-add3-48725c2d4332}</key>
		<dict>
			<key>x1</key>
			<string>407.54</string>
			<key>y1</key>
			<string>547.594</string>
			<key>x2</key>
			<string>407.54</string>
			<key>y2</key>
			<string>562.164</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{b75a9fdb-e3f4-448d-852a-ea8abbd676af}</key>
		<dict>
			<key>x1</key>
			<string>382.216</string>
			<key>y1</key>
			<string>550.691</string>
			<key>x2</key>
			<string>382.216</string>
			<key>y2</key>
			<string>534.881</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{70b632f0-638d-4546-a070-2b425262a0f5}</key>
		<dict>
			<key>x1</key>
			<string>345.121</string>
			<key>y1</key>
			<string>547.594</string>
			<key>x2</key>
			<string>345.121</string>
			<key>y2</key>
			<string>562.164</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{75b000eb-f592-4971-a84a-43959745ca37}</key>
		<dict>
			<key>x1</key>
			<string>313.732</string>
			<key>y1</key>
			<string>614.409</string>
			<key>x2</key>
			<string>313.732</string>
			<key>y2</key>
			<string>627.272</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{123abfe8-1998-42b8-ab6e-9060a4be8c20}</key>
		<dict>
			<key>x1</key>
			<string>313.732</string>
			<key>y1</key>
			<string>614.409</string>
			<key>x2</key>
			<string>313.732</string>
			<key>y2</key>
			<string>627.272</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{ed84018a-c993-450d-a5a9-c34b9d24d9e1}</key>
		<dict>
			<key>x1</key>
			<string>319.797</string>
			<key>y1</key>
			<string>550.691</string>
			<key>x2</key>
			<string>319.797</string>
			<key>y2</key>
			<string>534.881</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{3df73106-6ebb-4714-a8e5-958de8ae0db4}</key>
		<dict>
			<key>x1</key>
			<string>243.621</string>
			<key>y1</key>
			<string>553.171</string>
			<key>x2</key>
			<string>243.621</string>
			<key>y2</key>
			<string>536.741</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d4f42dd9-aca0-4ec9-b511-1ee82337a5b6}</key>
		<dict>
			<key>x1</key>
			<string>187.15</string>
			<key>y1</key>
			<string>614.409</string>
			<key>x2</key>
			<string>187.15</string>
			<key>y2</key>
			<string>632.853</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{a86bd79f-92ae-448b-a605-97a229b63742}</key>
		<dict>
			<key>x1</key>
			<string>187.15</string>
			<key>y1</key>
			<string>614.409</string>
			<key>x2</key>
			<string>187.15</string>
			<key>y2</key>
			<string>632.853</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{f73a07b0-0805-496c-a9b0-492574513b2a}</key>
		<dict>
			<key>x1</key>
			<string>193.394</string>
			<key>y1</key>
			<string>548.381</string>
			<key>x2</key>
			<string>193.394</string>
			<key>y2</key>
			<string>533.02</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{0c70e5f0-2a0c-4652-b9a7-0d3491a56f82}</key>
		<dict>
			<key>x1</key>
			<string>120.05</string>
			<key>y1</key>
			<string>545.114</string>
			<key>x2</key>
			<string>120.05</string>
			<key>y2</key>
			<string>560.304</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{bfd3b5a0-7bcb-4630-b69d-3f4c7c1b71fa}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>614.409</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>632.853</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{6ec1b94e-702f-4d8a-8b44-901cbb00d0d0}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>614.409</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>632.853</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{1c3baa2a-bf55-44a3-a303-fa900a16fc6c}</key>
		<dict>
			<key>x1</key>
			<string>77.8322</string>
			<key>y1</key>
			<string>548.381</string>
			<key>x2</key>
			<string>77.8322</string>
			<key>y2</key>
			<string>533.02</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{354ebff1-12ad-4882-8730-536c59f59f5f}</key>
		<dict>
			<key>x1</key>
			<string>453.987</string>
			<key>y1</key>
			<string>263.64</string>
			<key>x2</key>
			<string>453.987</string>
			<key>y2</key>
			<string>247.04</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{cae84626-caad-4489-bf08-09fe61ba170e}</key>
		<dict>
			<key>x1</key>
			<string>415.098</string>
			<key>y1</key>
			<string>258.51</string>
			<key>x2</key>
			<string>415.098</string>
			<key>y2</key>
			<string>243.319</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{6c861c14-9ec6-4b93-9571-5f87db8aa92a}</key>
		<dict>
			<key>x1</key>
			<string>384.781</string>
			<key>y1</key>
			<string>260.99</string>
			<key>x2</key>
			<string>384.781</string>
			<key>y2</key>
			<string>245.179</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{bae90930-8f31-4823-971f-a4df9c751054}</key>
		<dict>
			<key>x1</key>
			<string>354.465</string>
			<key>y1</key>
			<string>258.51</string>
			<key>x2</key>
			<string>354.465</string>
			<key>y2</key>
			<string>243.319</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{01e70ba5-ae5d-45cd-9ff1-7ed2219f655d}</key>
		<dict>
			<key>x1</key>
			<string>324.149</string>
			<key>y1</key>
			<string>260.99</string>
			<key>x2</key>
			<string>324.149</string>
			<key>y2</key>
			<string>245.179</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{458348a2-c431-4316-9e27-c6c9003a8ed6}</key>
		<dict>
			<key>x1</key>
			<string>247.967</string>
			<key>y1</key>
			<string>263.47</string>
			<key>x2</key>
			<string>247.967</string>
			<key>y2</key>
			<string>247.04</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{8d6f55fb-5b7f-47f6-8611-e102af8792ba}</key>
		<dict>
			<key>x1</key>
			<string>190.159</string>
			<key>y1</key>
			<string>324.707</string>
			<key>x2</key>
			<string>190.159</string>
			<key>y2</key>
			<string>343.152</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{27d48624-fbdd-4b10-87b2-cb0bf64b2526}</key>
		<dict>
			<key>x1</key>
			<string>190.159</string>
			<key>y1</key>
			<string>324.707</string>
			<key>x2</key>
			<string>190.159</string>
			<key>y2</key>
			<string>343.152</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{f0b04aa0-a030-47b7-8ae3-2ab24190c22f}</key>
		<dict>
			<key>x1</key>
			<string>196.403</string>
			<key>y1</key>
			<string>258.679</string>
			<key>x2</key>
			<string>196.403</string>
			<key>y2</key>
			<string>243.319</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{2e73f3b3-b4e0-497b-a746-587c6ec09e71}</key>
		<dict>
			<key>x1</key>
			<string>121.387</string>
			<key>y1</key>
			<string>255.412</string>
			<key>x2</key>
			<string>121.387</string>
			<key>y2</key>
			<string>270.603</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{a5679052-0d86-4d2d-9da3-67f2200a5c8a}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>324.707</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>343.152</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{2c08726a-dca6-490f-aea4-155ce5194940}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>324.707</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>343.152</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{dd213358-498c-4d2d-bbdf-85de6365e517}</key>
		<dict>
			<key>x1</key>
			<string>77.8322</string>
			<key>y1</key>
			<string>258.679</string>
			<key>x2</key>
			<string>77.8322</string>
			<key>y2</key>
			<string>243.319</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{a6b9f0b9-0ad8-4cb7-9219-ce827324c64b}</key>
		<dict>
			<key>x1</key>
			<string>498.198</string>
			<key>y1</key>
			<string>110.562</string>
			<key>x2</key>
			<string>498.198</string>
			<key>y2</key>
			<string>125.752</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{699f2510-b7e6-4dd0-ae91-7f5e3dd828ba}</key>
		<dict>
			<key>x1</key>
			<string>449.307</string>
			<key>y1</key>
			<string>179.857</string>
			<key>x2</key>
			<string>449.307</string>
			<key>y2</key>
			<string>198.301</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{9200e93e-929c-4201-bb9c-95cd12302e4b}</key>
		<dict>
			<key>x1</key>
			<string>449.307</string>
			<key>y1</key>
			<string>179.857</string>
			<key>x2</key>
			<string>449.307</string>
			<key>y2</key>
			<string>198.301</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{ec1bfb01-e361-4f10-9117-8b6cf46a94d1}</key>
		<dict>
			<key>x1</key>
			<string>455.551</string>
			<key>y1</key>
			<string>113.829</string>
			<key>x2</key>
			<string>455.551</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{2b5a4d98-6e47-431d-9e5e-65a962565f86}</key>
		<dict>
			<key>x1</key>
			<string>412.304</string>
			<key>y1</key>
			<string>113.042</string>
			<key>x2</key>
			<string>412.304</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{205c4e8e-eb25-42af-baf6-b6d4741038a0}</key>
		<dict>
			<key>x1</key>
			<string>387.933</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>387.933</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{43b3bf3f-d9ed-4f9a-b4b2-e9eecc9299e5}</key>
		<dict>
			<key>x1</key>
			<string>351.79</string>
			<key>y1</key>
			<string>113.042</string>
			<key>x2</key>
			<string>351.79</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{5a863f06-8594-4d32-9a28-d0373f807085}</key>
		<dict>
			<key>x1</key>
			<string>321.354</string>
			<key>y1</key>
			<string>179.857</string>
			<key>x2</key>
			<string>321.354</string>
			<key>y2</key>
			<string>192.72</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{5665987f-c949-41ee-84b0-c05b33cb41b1}</key>
		<dict>
			<key>x1</key>
			<string>321.354</string>
			<key>y1</key>
			<string>179.857</string>
			<key>x2</key>
			<string>321.354</string>
			<key>y2</key>
			<string>192.72</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{4629a093-2528-487b-b69e-21eb12f4e9ec}</key>
		<dict>
			<key>x1</key>
			<string>327.419</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>327.419</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{337462ef-0878-4998-a7d7-5f95cf3d36d2}</key>
		<dict>
			<key>x1</key>
			<string>251.063</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>251.063</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{1d590a3e-98d4-4b34-8d0a-98676b808a36}</key>
		<dict>
			<key>x1</key>
			<string>196.287</string>
			<key>y1</key>
			<string>179.857</string>
			<key>x2</key>
			<string>196.287</string>
			<key>y2</key>
			<string>198.301</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{7a67a60d-1db4-4740-8548-9a79b0348ad0}</key>
		<dict>
			<key>x1</key>
			<string>196.287</string>
			<key>y1</key>
			<string>179.857</string>
			<key>x2</key>
			<string>196.287</string>
			<key>y2</key>
			<string>198.301</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{619732f0-752c-4a8d-a06f-aa17add9442a}</key>
		<dict>
			<key>x1</key>
			<string>202.531</string>
			<key>y1</key>
			<string>113.829</string>
			<key>x2</key>
			<string>202.531</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{e5774eb1-671c-439e-b36a-b667e6589cc9}</key>
		<dict>
			<key>x1</key>
			<string>131.304</string>
			<key>y1</key>
			<string>110.562</string>
			<key>x2</key>
			<string>131.304</string>
			<key>y2</key>
			<string>125.752</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{6a914df0-939b-4cc8-91c8-dd3a6c91b14e}</key>
		<dict>
			<key>x1</key>
			<string>84.5353</string>
			<key>y1</key>
			<string>179.857</string>
			<key>x2</key>
			<string>84.5353</string>
			<key>y2</key>
			<string>198.301</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{2acb7141-b058-462f-9b2a-1769a1749a47}</key>
		<dict>
			<key>x1</key>
			<string>84.5353</string>
			<key>y1</key>
			<string>179.857</string>
			<key>x2</key>
			<string>84.5353</string>
			<key>y2</key>
			<string>198.301</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{b8649ed5-7457-4e98-acc0-1583000963d3}</key>
		<dict>
			<key>x1</key>
			<string>90.7795</string>
			<key>y1</key>
			<string>113.829</string>
			<key>x2</key>
			<string>90.7795</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
	</dict>
</dict>
</plist>