<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>247.04</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>282.619</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>391.89</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>427.47</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>536.741</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>572.321</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>681.592</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>717.171</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{20aeae88-9c75-446b-8cc4-0eb83ef0e91b}</key>
		<dict>
			<key>x</key>
			<string>442.603</string>
			<key>y</key>
			<string>758.481</string>
		</dict>
		<key>{803b777b-db15-4c0d-a444-9e1ab2b828e4}</key>
		<dict>
			<key>x</key>
			<string>442.603</string>
			<key>y</key>
			<string>763.442</string>
		</dict>
		<key>{3cfe9228-0ab7-47d1-969b-4f8ddeaaf155}</key>
		<dict>
			<key>x</key>
			<string>444.071</string>
			<key>y</key>
			<string>698.954</string>
		</dict>
		<key>{bc44e0a4-0a2f-4a8b-849c-1dd001609930}</key>
		<dict>
			<key>x</key>
			<string>405.82</string>
			<key>y</key>
			<string>693.993</string>
		</dict>
		<key>{651519de-b67c-430a-8894-70ce52f8e82c}</key>
		<dict>
			<key>x</key>
			<string>375.782</string>
			<key>y</key>
			<string>696.474</string>
		</dict>
		<key>{f5a4d1a5-089b-41c8-9e92-7ef91d042611}</key>
		<dict>
			<key>x</key>
			<string>345.745</string>
			<key>y</key>
			<string>693.993</string>
		</dict>
		<key>{12923379-5ec8-4497-8dce-f19961a810c8}</key>
		<dict>
			<key>x</key>
			<string>323.241</string>
			<key>y</key>
			<string>758.481</string>
		</dict>
		<key>{2fec5ed8-af3b-4ac1-adcc-dfa52a740cd8}</key>
		<dict>
			<key>x</key>
			<string>314.061</string>
			<key>y</key>
			<string>760.962</string>
		</dict>
		<key>{842741e5-b5db-403d-a290-566fd85109b6}</key>
		<dict>
			<key>x</key>
			<string>315.708</string>
			<key>y</key>
			<string>696.474</string>
		</dict>
		<key>{f9098381-d9ad-46fc-aec5-2005ae556d1a}</key>
		<dict>
			<key>x</key>
			<string>240.146</string>
			<key>y</key>
			<string>698.954</string>
		</dict>
		<key>{ad8eb708-5e85-4ea6-829d-2e4dbf65745b}</key>
		<dict>
			<key>x</key>
			<string>188.721</string>
			<key>y</key>
			<string>758.481</string>
		</dict>
		<key>{441009e7-7323-4baa-aff0-311873bd1237}</key>
		<dict>
			<key>x</key>
			<string>188.721</string>
			<key>y</key>
			<string>768.403</string>
		</dict>
		<key>{245e7148-c5ae-421b-9306-7dd813160a99}</key>
		<dict>
			<key>x</key>
			<string>188.721</string>
			<key>y</key>
			<string>693.993</string>
		</dict>
		<key>{20f97c52-1273-473d-bf4a-98fa3ded2ee7}</key>
		<dict>
			<key>x</key>
			<string>120.569</string>
			<key>y</key>
			<string>689.033</string>
		</dict>
		<key>{2c76a9e5-ca9c-449e-98a1-b1b952c0c24e}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>758.481</string>
		</dict>
		<key>{e387768a-b87c-4a6e-be92-3b72d0f00af2}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>768.403</string>
		</dict>
		<key>{75e04d99-2d98-40b0-a659-8c60aa3f35d8}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>693.993</string>
		</dict>
		<key>{0c9bd1f5-b94b-4a83-a8c0-ab1a6933aaf6}</key>
		<dict>
			<key>x</key>
			<string>495.758</string>
			<key>y</key>
			<string>544.182</string>
		</dict>
		<key>{c237ba0f-a2f3-4d9e-9cef-626689fd3a8c}</key>
		<dict>
			<key>x</key>
			<string>445.174</string>
			<key>y</key>
			<string>613.631</string>
		</dict>
		<key>{221b5284-8d0a-4803-bae8-97b69148d944}</key>
		<dict>
			<key>x</key>
			<string>445.174</string>
			<key>y</key>
			<string>623.552</string>
		</dict>
		<key>{28432a66-3428-4154-9428-4a6053f43828}</key>
		<dict>
			<key>x</key>
			<string>445.174</string>
			<key>y</key>
			<string>549.143</string>
		</dict>
		<key>{8e863e9b-1224-45d3-9c06-923776478352}</key>
		<dict>
			<key>x</key>
			<string>407.218</string>
			<key>y</key>
			<string>546.662</string>
		</dict>
		<key>{7fdbd59c-dba0-4c4d-9fe0-ddcc73bd409d}</key>
		<dict>
			<key>x</key>
			<string>376.008</string>
			<key>y</key>
			<string>551.623</string>
		</dict>
		<key>{24a4fbf3-4ad5-4147-8e7c-63915a11134a}</key>
		<dict>
			<key>x</key>
			<string>344.798</string>
			<key>y</key>
			<string>546.662</string>
		</dict>
		<key>{3b01fd2b-6998-463a-86aa-1404955c700d}</key>
		<dict>
			<key>x</key>
			<string>313.41</string>
			<key>y</key>
			<string>613.631</string>
		</dict>
		<key>{079433ba-641c-4902-9fc2-b4433744693f}</key>
		<dict>
			<key>x</key>
			<string>307.165</string>
			<key>y</key>
			<string>616.111</string>
		</dict>
		<key>{a0898dc1-6627-4924-9cdd-9ad471af356e}</key>
		<dict>
			<key>x</key>
			<string>313.589</string>
			<key>y</key>
			<string>551.623</string>
		</dict>
		<key>{10f1e43c-21f0-4491-8e33-f9605fbec08c}</key>
		<dict>
			<key>x</key>
			<string>237.412</string>
			<key>y</key>
			<string>554.103</string>
		</dict>
		<key>{23adeb1c-87ed-48ba-9338-86d471f766ae}</key>
		<dict>
			<key>x</key>
			<string>186.828</string>
			<key>y</key>
			<string>613.631</string>
		</dict>
		<key>{a5d77184-154a-4b21-ad2c-cb5ab66565fe}</key>
		<dict>
			<key>x</key>
			<string>186.828</string>
			<key>y</key>
			<string>623.552</string>
		</dict>
		<key>{039de461-8785-43e8-9d0a-4c1178f5dee5}</key>
		<dict>
			<key>x</key>
			<string>186.828</string>
			<key>y</key>
			<string>549.143</string>
		</dict>
		<key>{62cb430d-87fa-4c6d-a912-265183ea31e7}</key>
		<dict>
			<key>x</key>
			<string>119.728</string>
			<key>y</key>
			<string>544.182</string>
		</dict>
		<key>{8e225b0d-75b4-49ff-b6a1-2d73b348486c}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>613.631</string>
		</dict>
		<key>{de71ac23-f591-474f-9d53-836646572197}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>623.552</string>
		</dict>
		<key>{315317a3-ff24-4a92-bfeb-54520fd5c193}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>549.143</string>
		</dict>
		<key>{1015daaa-dfda-4318-b624-46f1c0d68ac3}</key>
		<dict>
			<key>x</key>
			<string>445.952</string>
			<key>y</key>
			<string>323.929</string>
		</dict>
		<key>{542ea600-c52a-478c-b76e-665a310a4642}</key>
		<dict>
			<key>x</key>
			<string>445.952</string>
			<key>y</key>
			<string>328.89</string>
		</dict>
		<key>{5a797498-da4f-4193-8e3d-1230ec956f3b}</key>
		<dict>
			<key>x</key>
			<string>447.42</string>
			<key>y</key>
			<string>264.402</string>
		</dict>
		<key>{b02f4b68-7b1f-4436-a497-5b1cab757b4f}</key>
		<dict>
			<key>x</key>
			<string>408.889</string>
			<key>y</key>
			<string>259.441</string>
		</dict>
		<key>{3fbc1480-3e24-42fd-a37f-f8da2bfec1cd}</key>
		<dict>
			<key>x</key>
			<string>378.573</string>
			<key>y</key>
			<string>261.922</string>
		</dict>
		<key>{2615fb3a-c141-4c58-a840-bea2b4ed6a75}</key>
		<dict>
			<key>x</key>
			<string>348.256</string>
			<key>y</key>
			<string>259.441</string>
		</dict>
		<key>{9ef632da-2797-4f25-ab16-ea56939d42f9}</key>
		<dict>
			<key>x</key>
			<string>325.473</string>
			<key>y</key>
			<string>323.929</string>
		</dict>
		<key>{9c8fd660-1d68-49ec-ac8b-de8311cc8da2}</key>
		<dict>
			<key>x</key>
			<string>316.293</string>
			<key>y</key>
			<string>326.41</string>
		</dict>
		<key>{d45fb457-a023-4866-b2a7-bbaeac467540}</key>
		<dict>
			<key>x</key>
			<string>317.94</string>
			<key>y</key>
			<string>261.922</string>
		</dict>
		<key>{acf51fbd-6f76-439d-90f0-ef220b61168a}</key>
		<dict>
			<key>x</key>
			<string>241.758</string>
			<key>y</key>
			<string>264.402</string>
		</dict>
		<key>{51b307a7-999e-44e8-939a-dfe4a1eb7483}</key>
		<dict>
			<key>x</key>
			<string>189.837</string>
			<key>y</key>
			<string>323.929</string>
		</dict>
		<key>{64bc4657-aa47-49ba-afd8-d35d0f7bab10}</key>
		<dict>
			<key>x</key>
			<string>189.837</string>
			<key>y</key>
			<string>333.851</string>
		</dict>
		<key>{00520064-a9fe-43df-a9a7-92aed1f11c80}</key>
		<dict>
			<key>x</key>
			<string>189.837</string>
			<key>y</key>
			<string>259.441</string>
		</dict>
		<key>{3f6c7367-0aa9-4721-8507-3fa2708bdf98}</key>
		<dict>
			<key>x</key>
			<string>121.065</string>
			<key>y</key>
			<string>254.481</string>
		</dict>
		<key>{d0e89c9a-3eb7-4637-b965-6c25070d878f}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>323.929</string>
		</dict>
		<key>{7e9fde24-cf37-4725-b4ce-a0b93c16a59c}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>333.851</string>
		</dict>
		<key>{a829a275-e82b-4643-a280-98ea7e17df6c}</key>
		<dict>
			<key>x</key>
			<string>71.2656</string>
			<key>y</key>
			<string>259.441</string>
		</dict>
		<key>{2af833c8-5021-4fa7-81fb-1a3d3b070861}</key>
		<dict>
			<key>x</key>
			<string>497.875</string>
			<key>y</key>
			<string>109.63</string>
		</dict>
		<key>{db28a199-7ae4-46f9-ab42-af632a0439a2}</key>
		<dict>
			<key>x</key>
			<string>448.985</string>
			<key>y</key>
			<string>179.079</string>
		</dict>
		<key>{288fe616-2ca5-483e-b2bc-4a12a52218b6}</key>
		<dict>
			<key>x</key>
			<string>448.985</string>
			<key>y</key>
			<string>189</string>
		</dict>
		<key>{284e67a6-29c4-4588-8c71-49b12a992d80}</key>
		<dict>
			<key>x</key>
			<string>448.985</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{ce05003a-ec65-4ed2-9c62-5621e2ff1b3e}</key>
		<dict>
			<key>x</key>
			<string>411.981</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{04e76b9a-f30d-4832-b4a3-805c67232fe3}</key>
		<dict>
			<key>x</key>
			<string>381.724</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{9763c959-e820-4657-9ce6-12de69e3387c}</key>
		<dict>
			<key>x</key>
			<string>351.467</string>
			<key>y</key>
			<string>112.11</string>
		</dict>
		<key>{8997147c-4f29-4e2b-952f-c220f3e6ad5a}</key>
		<dict>
			<key>x</key>
			<string>321.032</string>
			<key>y</key>
			<string>179.079</string>
		</dict>
		<key>{a8b64e60-1837-417d-928c-f602d9126577}</key>
		<dict>
			<key>x</key>
			<string>314.787</string>
			<key>y</key>
			<string>181.559</string>
		</dict>
		<key>{2a9a10df-1d95-40d1-9966-b0bff359cbc8}</key>
		<dict>
			<key>x</key>
			<string>321.211</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{12389b2b-003b-40e8-bbb9-a51d2702d3b2}</key>
		<dict>
			<key>x</key>
			<string>244.855</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{0dc0b942-7aee-41ee-8991-ca1ff014b05c}</key>
		<dict>
			<key>x</key>
			<string>195.964</string>
			<key>y</key>
			<string>179.079</string>
		</dict>
		<key>{333926ee-4529-4873-bab2-bd2183734af5}</key>
		<dict>
			<key>x</key>
			<string>195.964</string>
			<key>y</key>
			<string>189</string>
		</dict>
		<key>{3f5ed777-0ee9-4607-9e57-7ee58337f41b}</key>
		<dict>
			<key>x</key>
			<string>195.964</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>{abedb532-fa88-4111-a20a-642cbefd7d88}</key>
		<dict>
			<key>x</key>
			<string>130.981</string>
			<key>y</key>
			<string>109.63</string>
		</dict>
		<key>{1c4d2351-b66d-4028-94c5-3306d52590f5}</key>
		<dict>
			<key>x</key>
			<string>84.2129</string>
			<key>y</key>
			<string>179.079</string>
		</dict>
		<key>{9ad816f8-1cc5-4f2d-9236-865789b4583d}</key>
		<dict>
			<key>x</key>
			<string>84.2129</string>
			<key>y</key>
			<string>189</string>
		</dict>
		<key>{5ab46455-0bce-43d0-8593-535b00e548e5}</key>
		<dict>
			<key>x</key>
			<string>84.2129</string>
			<key>y</key>
			<string>114.591</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{3cfe9228-0ab7-47d1-969b-4f8ddeaaf155}</key>
		<dict>
			<key>x1</key>
			<string>450.638</string>
			<key>y1</key>
			<string>698.192</string>
			<key>x2</key>
			<string>450.638</string>
			<key>y2</key>
			<string>681.592</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{bc44e0a4-0a2f-4a8b-849c-1dd001609930}</key>
		<dict>
			<key>x1</key>
			<string>412.028</string>
			<key>y1</key>
			<string>693.062</string>
			<key>x2</key>
			<string>412.028</string>
			<key>y2</key>
			<string>677.871</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{651519de-b67c-430a-8894-70ce52f8e82c}</key>
		<dict>
			<key>x1</key>
			<string>381.991</string>
			<key>y1</key>
			<string>695.542</string>
			<key>x2</key>
			<string>381.991</string>
			<key>y2</key>
			<string>679.731</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{f5a4d1a5-089b-41c8-9e92-7ef91d042611}</key>
		<dict>
			<key>x1</key>
			<string>351.954</string>
			<key>y1</key>
			<string>693.062</string>
			<key>x2</key>
			<string>351.954</string>
			<key>y2</key>
			<string>677.871</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{842741e5-b5db-403d-a290-566fd85109b6}</key>
		<dict>
			<key>x1</key>
			<string>321.916</string>
			<key>y1</key>
			<string>695.542</string>
			<key>x2</key>
			<string>321.916</string>
			<key>y2</key>
			<string>679.731</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{f9098381-d9ad-46fc-aec5-2005ae556d1a}</key>
		<dict>
			<key>x1</key>
			<string>246.355</string>
			<key>y1</key>
			<string>698.022</string>
			<key>x2</key>
			<string>246.355</string>
			<key>y2</key>
			<string>681.592</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{441009e7-7323-4baa-aff0-311873bd1237}</key>
		<dict>
			<key>x1</key>
			<string>189.043</string>
			<key>y1</key>
			<string>759.259</string>
			<key>x2</key>
			<string>189.043</string>
			<key>y2</key>
			<string>777.704</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{ad8eb708-5e85-4ea6-829d-2e4dbf65745b}</key>
		<dict>
			<key>x1</key>
			<string>189.043</string>
			<key>y1</key>
			<string>759.259</string>
			<key>x2</key>
			<string>189.043</string>
			<key>y2</key>
			<string>777.704</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{245e7148-c5ae-421b-9306-7dd813160a99}</key>
		<dict>
			<key>x1</key>
			<string>195.287</string>
			<key>y1</key>
			<string>693.231</string>
			<key>x2</key>
			<string>195.287</string>
			<key>y2</key>
			<string>677.871</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{20f97c52-1273-473d-bf4a-98fa3ded2ee7}</key>
		<dict>
			<key>x1</key>
			<string>120.891</string>
			<key>y1</key>
			<string>689.964</string>
			<key>x2</key>
			<string>120.891</string>
			<key>y2</key>
			<string>705.155</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{e387768a-b87c-4a6e-be92-3b72d0f00af2}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>759.259</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>777.704</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{2c76a9e5-ca9c-449e-98a1-b1b952c0c24e}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>759.259</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>777.704</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{75e04d99-2d98-40b0-a659-8c60aa3f35d8}</key>
		<dict>
			<key>x1</key>
			<string>77.8322</string>
			<key>y1</key>
			<string>693.231</string>
			<key>x2</key>
			<string>77.8322</string>
			<key>y2</key>
			<string>677.871</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{0c9bd1f5-b94b-4a83-a8c0-ab1a6933aaf6}</key>
		<dict>
			<key>x1</key>
			<string>496.08</string>
			<key>y1</key>
			<string>545.114</string>
			<key>x2</key>
			<string>496.08</string>
			<key>y2</key>
			<string>560.304</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{221b5284-8d0a-4803-bae8-97b69148d944}</key>
		<dict>
			<key>x1</key>
			<string>445.496</string>
			<key>y1</key>
			<string>614.409</string>
			<key>x2</key>
			<string>445.496</string>
			<key>y2</key>
			<string>632.853</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{c237ba0f-a2f3-4d9e-9cef-626689fd3a8c}</key>
		<dict>
			<key>x1</key>
			<string>445.496</string>
			<key>y1</key>
			<string>614.409</string>
			<key>x2</key>
			<string>445.496</string>
			<key>y2</key>
			<string>632.853</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{28432a66-3428-4154-9428-4a6053f43828}</key>
		<dict>
			<key>x1</key>
			<string>451.74</string>
			<key>y1</key>
			<string>548.381</string>
			<key>x2</key>
			<string>451.74</string>
			<key>y2</key>
			<string>533.02</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{8e863e9b-1224-45d3-9c06-923776478352}</key>
		<dict>
			<key>x1</key>
			<string>407.54</string>
			<key>y1</key>
			<string>547.594</string>
			<key>x2</key>
			<string>407.54</string>
			<key>y2</key>
			<string>562.164</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{7fdbd59c-dba0-4c4d-9fe0-ddcc73bd409d}</key>
		<dict>
			<key>x1</key>
			<string>382.216</string>
			<key>y1</key>
			<string>550.691</string>
			<key>x2</key>
			<string>382.216</string>
			<key>y2</key>
			<string>534.881</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{24a4fbf3-4ad5-4147-8e7c-63915a11134a}</key>
		<dict>
			<key>x1</key>
			<string>345.121</string>
			<key>y1</key>
			<string>547.594</string>
			<key>x2</key>
			<string>345.121</string>
			<key>y2</key>
			<string>562.164</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{079433ba-641c-4902-9fc2-b4433744693f}</key>
		<dict>
			<key>x1</key>
			<string>313.732</string>
			<key>y1</key>
			<string>614.409</string>
			<key>x2</key>
			<string>313.732</string>
			<key>y2</key>
			<string>627.272</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{3b01fd2b-6998-463a-86aa-1404955c700d}</key>
		<dict>
			<key>x1</key>
			<string>313.732</string>
			<key>y1</key>
			<string>614.409</string>
			<key>x2</key>
			<string>313.732</string>
			<key>y2</key>
			<string>627.272</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{a0898dc1-6627-4924-9cdd-9ad471af356e}</key>
		<dict>
			<key>x1</key>
			<string>319.797</string>
			<key>y1</key>
			<string>550.691</string>
			<key>x2</key>
			<string>319.797</string>
			<key>y2</key>
			<string>534.881</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{10f1e43c-21f0-4491-8e33-f9605fbec08c}</key>
		<dict>
			<key>x1</key>
			<string>243.621</string>
			<key>y1</key>
			<string>553.171</string>
			<key>x2</key>
			<string>243.621</string>
			<key>y2</key>
			<string>536.741</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{a5d77184-154a-4b21-ad2c-cb5ab66565fe}</key>
		<dict>
			<key>x1</key>
			<string>187.15</string>
			<key>y1</key>
			<string>614.409</string>
			<key>x2</key>
			<string>187.15</string>
			<key>y2</key>
			<string>632.853</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{23adeb1c-87ed-48ba-9338-86d471f766ae}</key>
		<dict>
			<key>x1</key>
			<string>187.15</string>
			<key>y1</key>
			<string>614.409</string>
			<key>x2</key>
			<string>187.15</string>
			<key>y2</key>
			<string>632.853</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{039de461-8785-43e8-9d0a-4c1178f5dee5}</key>
		<dict>
			<key>x1</key>
			<string>193.394</string>
			<key>y1</key>
			<string>548.381</string>
			<key>x2</key>
			<string>193.394</string>
			<key>y2</key>
			<string>533.02</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{62cb430d-87fa-4c6d-a912-265183ea31e7}</key>
		<dict>
			<key>x1</key>
			<string>120.05</string>
			<key>y1</key>
			<string>545.114</string>
			<key>x2</key>
			<string>120.05</string>
			<key>y2</key>
			<string>560.304</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{de71ac23-f591-474f-9d53-836646572197}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>614.409</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>632.853</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{8e225b0d-75b4-49ff-b6a1-2d73b348486c}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>614.409</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>632.853</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{315317a3-ff24-4a92-bfeb-54520fd5c193}</key>
		<dict>
			<key>x1</key>
			<string>77.8322</string>
			<key>y1</key>
			<string>548.381</string>
			<key>x2</key>
			<string>77.8322</string>
			<key>y2</key>
			<string>533.02</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{5a797498-da4f-4193-8e3d-1230ec956f3b}</key>
		<dict>
			<key>x1</key>
			<string>453.987</string>
			<key>y1</key>
			<string>263.64</string>
			<key>x2</key>
			<string>453.987</string>
			<key>y2</key>
			<string>247.04</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b02f4b68-7b1f-4436-a497-5b1cab757b4f}</key>
		<dict>
			<key>x1</key>
			<string>415.098</string>
			<key>y1</key>
			<string>258.51</string>
			<key>x2</key>
			<string>415.098</string>
			<key>y2</key>
			<string>243.319</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{3fbc1480-3e24-42fd-a37f-f8da2bfec1cd}</key>
		<dict>
			<key>x1</key>
			<string>384.781</string>
			<key>y1</key>
			<string>260.99</string>
			<key>x2</key>
			<string>384.781</string>
			<key>y2</key>
			<string>245.179</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{2615fb3a-c141-4c58-a840-bea2b4ed6a75}</key>
		<dict>
			<key>x1</key>
			<string>354.465</string>
			<key>y1</key>
			<string>258.51</string>
			<key>x2</key>
			<string>354.465</string>
			<key>y2</key>
			<string>243.319</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{d45fb457-a023-4866-b2a7-bbaeac467540}</key>
		<dict>
			<key>x1</key>
			<string>324.149</string>
			<key>y1</key>
			<string>260.99</string>
			<key>x2</key>
			<string>324.149</string>
			<key>y2</key>
			<string>245.179</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{acf51fbd-6f76-439d-90f0-ef220b61168a}</key>
		<dict>
			<key>x1</key>
			<string>247.967</string>
			<key>y1</key>
			<string>263.47</string>
			<key>x2</key>
			<string>247.967</string>
			<key>y2</key>
			<string>247.04</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{64bc4657-aa47-49ba-afd8-d35d0f7bab10}</key>
		<dict>
			<key>x1</key>
			<string>190.159</string>
			<key>y1</key>
			<string>324.707</string>
			<key>x2</key>
			<string>190.159</string>
			<key>y2</key>
			<string>343.152</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{51b307a7-999e-44e8-939a-dfe4a1eb7483}</key>
		<dict>
			<key>x1</key>
			<string>190.159</string>
			<key>y1</key>
			<string>324.707</string>
			<key>x2</key>
			<string>190.159</string>
			<key>y2</key>
			<string>343.152</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{00520064-a9fe-43df-a9a7-92aed1f11c80}</key>
		<dict>
			<key>x1</key>
			<string>196.403</string>
			<key>y1</key>
			<string>258.679</string>
			<key>x2</key>
			<string>196.403</string>
			<key>y2</key>
			<string>243.319</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{3f6c7367-0aa9-4721-8507-3fa2708bdf98}</key>
		<dict>
			<key>x1</key>
			<string>121.387</string>
			<key>y1</key>
			<string>255.412</string>
			<key>x2</key>
			<string>121.387</string>
			<key>y2</key>
			<string>270.603</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{7e9fde24-cf37-4725-b4ce-a0b93c16a59c}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>324.707</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>343.152</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{d0e89c9a-3eb7-4637-b965-6c25070d878f}</key>
		<dict>
			<key>x1</key>
			<string>71.5881</string>
			<key>y1</key>
			<string>324.707</string>
			<key>x2</key>
			<string>71.5881</string>
			<key>y2</key>
			<string>343.152</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{a829a275-e82b-4643-a280-98ea7e17df6c}</key>
		<dict>
			<key>x1</key>
			<string>77.8322</string>
			<key>y1</key>
			<string>258.679</string>
			<key>x2</key>
			<string>77.8322</string>
			<key>y2</key>
			<string>243.319</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{2af833c8-5021-4fa7-81fb-1a3d3b070861}</key>
		<dict>
			<key>x1</key>
			<string>498.198</string>
			<key>y1</key>
			<string>110.562</string>
			<key>x2</key>
			<string>498.198</string>
			<key>y2</key>
			<string>125.752</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{288fe616-2ca5-483e-b2bc-4a12a52218b6}</key>
		<dict>
			<key>x1</key>
			<string>449.307</string>
			<key>y1</key>
			<string>179.857</string>
			<key>x2</key>
			<string>449.307</string>
			<key>y2</key>
			<string>198.301</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{db28a199-7ae4-46f9-ab42-af632a0439a2}</key>
		<dict>
			<key>x1</key>
			<string>449.307</string>
			<key>y1</key>
			<string>179.857</string>
			<key>x2</key>
			<string>449.307</string>
			<key>y2</key>
			<string>198.301</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{284e67a6-29c4-4588-8c71-49b12a992d80}</key>
		<dict>
			<key>x1</key>
			<string>455.551</string>
			<key>y1</key>
			<string>113.829</string>
			<key>x2</key>
			<string>455.551</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{ce05003a-ec65-4ed2-9c62-5621e2ff1b3e}</key>
		<dict>
			<key>x1</key>
			<string>412.304</string>
			<key>y1</key>
			<string>113.042</string>
			<key>x2</key>
			<string>412.304</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{04e76b9a-f30d-4832-b4a3-805c67232fe3}</key>
		<dict>
			<key>x1</key>
			<string>387.933</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>387.933</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{9763c959-e820-4657-9ce6-12de69e3387c}</key>
		<dict>
			<key>x1</key>
			<string>351.79</string>
			<key>y1</key>
			<string>113.042</string>
			<key>x2</key>
			<string>351.79</string>
			<key>y2</key>
			<string>127.612</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{a8b64e60-1837-417d-928c-f602d9126577}</key>
		<dict>
			<key>x1</key>
			<string>321.354</string>
			<key>y1</key>
			<string>179.857</string>
			<key>x2</key>
			<string>321.354</string>
			<key>y2</key>
			<string>192.72</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{8997147c-4f29-4e2b-952f-c220f3e6ad5a}</key>
		<dict>
			<key>x1</key>
			<string>321.354</string>
			<key>y1</key>
			<string>179.857</string>
			<key>x2</key>
			<string>321.354</string>
			<key>y2</key>
			<string>192.72</string>
			<key>height</key>
			<string>13.6417</string>
		</dict>
		<key>{2a9a10df-1d95-40d1-9966-b0bff359cbc8}</key>
		<dict>
			<key>x1</key>
			<string>327.419</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>327.419</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{12389b2b-003b-40e8-bbb9-a51d2702d3b2}</key>
		<dict>
			<key>x1</key>
			<string>251.063</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>251.063</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{333926ee-4529-4873-bab2-bd2183734af5}</key>
		<dict>
			<key>x1</key>
			<string>196.287</string>
			<key>y1</key>
			<string>179.857</string>
			<key>x2</key>
			<string>196.287</string>
			<key>y2</key>
			<string>198.301</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{0dc0b942-7aee-41ee-8991-ca1ff014b05c}</key>
		<dict>
			<key>x1</key>
			<string>196.287</string>
			<key>y1</key>
			<string>179.857</string>
			<key>x2</key>
			<string>196.287</string>
			<key>y2</key>
			<string>198.301</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{3f5ed777-0ee9-4607-9e57-7ee58337f41b}</key>
		<dict>
			<key>x1</key>
			<string>202.531</string>
			<key>y1</key>
			<string>113.829</string>
			<key>x2</key>
			<string>202.531</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{abedb532-fa88-4111-a20a-642cbefd7d88}</key>
		<dict>
			<key>x1</key>
			<string>131.304</string>
			<key>y1</key>
			<string>110.562</string>
			<key>x2</key>
			<string>131.304</string>
			<key>y2</key>
			<string>125.752</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{9ad816f8-1cc5-4f2d-9236-865789b4583d}</key>
		<dict>
			<key>x1</key>
			<string>84.5353</string>
			<key>y1</key>
			<string>179.857</string>
			<key>x2</key>
			<string>84.5353</string>
			<key>y2</key>
			<string>198.301</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{1c4d2351-b66d-4028-94c5-3306d52590f5}</key>
		<dict>
			<key>x1</key>
			<string>84.5353</string>
			<key>y1</key>
			<string>179.857</string>
			<key>x2</key>
			<string>84.5353</string>
			<key>y2</key>
			<string>198.301</string>
			<key>height</key>
			<string>19.2224</string>
		</dict>
		<key>{5ab46455-0bce-43d0-8593-535b00e548e5}</key>
		<dict>
			<key>x1</key>
			<string>90.7795</string>
			<key>y1</key>
			<string>113.829</string>
			<key>x2</key>
			<string>90.7795</string>
			<key>y2</key>
			<string>98.4685</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
	</dict>
</dict>
</plist>