<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>541.205</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>576.784</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{065594f1-f4e2-47a7-a5a5-1c3287b281cb}</key>
		<dict>
			<key>x</key>
			<string>489.499</string>
			<key>y</key>
			<string>595.772</string>
		</dict>
		<key>{1c1b7c00-34ca-4bcd-9e7f-3d125bb53f22}</key>
		<dict>
			<key>x</key>
			<string>489.499</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{cc8e6831-535d-4033-8730-83fd059aafab}</key>
		<dict>
			<key>x</key>
			<string>437.479</string>
			<key>y</key>
			<string>605.693</string>
		</dict>
		<key>{5efb1c4c-1ba4-499f-8549-c4f76fbf9a7f}</key>
		<dict>
			<key>x</key>
			<string>437.479</string>
			<key>y</key>
			<string>566.008</string>
		</dict>
		<key>{a62178db-15de-451a-ae05-8cc9ad0ddd03}</key>
		<dict>
			<key>x</key>
			<string>365.932</string>
			<key>y</key>
			<string>598.252</string>
		</dict>
		<key>{65f70137-db4f-400d-82b9-051bfb82b7a8}</key>
		<dict>
			<key>x</key>
			<string>365.932</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{8eaca492-63fd-4369-a821-6081475b069c}</key>
		<dict>
			<key>x</key>
			<string>313.912</string>
			<key>y</key>
			<string>605.693</string>
		</dict>
		<key>{8d85ea75-8947-4090-a20a-83967f83e328}</key>
		<dict>
			<key>x</key>
			<string>313.912</string>
			<key>y</key>
			<string>566.008</string>
		</dict>
		<key>{d41ec14e-f14f-4e4c-bccd-1312a3805f8f}</key>
		<dict>
			<key>x</key>
			<string>242.364</string>
			<key>y</key>
			<string>600.732</string>
		</dict>
		<key>{0654d375-0866-4323-ae87-53d2745ee0c5}</key>
		<dict>
			<key>x</key>
			<string>242.364</string>
			<key>y</key>
			<string>561.047</string>
		</dict>
		<key>{285e50bf-927a-4c27-9899-4400860cfe61}</key>
		<dict>
			<key>x</key>
			<string>190.344</string>
			<key>y</key>
			<string>605.693</string>
		</dict>
		<key>{89a4bcdb-5fc2-45bb-a0ad-e3cad1741bc2}</key>
		<dict>
			<key>x</key>
			<string>190.344</string>
			<key>y</key>
			<string>566.008</string>
		</dict>
		<key>{c2877b0b-78b7-432e-b3d9-6b002f03a9cb}</key>
		<dict>
			<key>x</key>
			<string>121.45</string>
			<key>y</key>
			<string>603.213</string>
		</dict>
		<key>{c1f0d9c5-481f-4666-ad06-e2264ac4507b}</key>
		<dict>
			<key>x</key>
			<string>121.45</string>
			<key>y</key>
			<string>563.528</string>
		</dict>
		<key>{addd5c3e-9dda-4b9a-800d-42fd47ee1287}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>605.693</string>
		</dict>
		<key>{5a18e06d-d55d-476b-873f-6d12a652ad9d}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>566.008</string>
		</dict>
		<key>{1ad65c11-5087-472d-95d8-6b38ac534556}</key>
		<dict>
			<key>x</key>
			<string>493.344</string>
			<key>y</key>
			<string>459.354</string>
		</dict>
		<key>{a0f2ce74-f2f7-4efe-a731-4df7b410b711}</key>
		<dict>
			<key>x</key>
			<string>493.344</string>
			<key>y</key>
			<string>409.748</string>
		</dict>
		<key>{012160a9-2aa9-4cba-9c0d-cc26037f264f}</key>
		<dict>
			<key>x</key>
			<string>440.828</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{aac1fb65-41ce-41a6-b172-33f459dbbc03}</key>
		<dict>
			<key>x</key>
			<string>440.828</string>
			<key>y</key>
			<string>419.669</string>
		</dict>
		<key>{e9875c32-7a3b-4023-83ef-7273e44c3193}</key>
		<dict>
			<key>x</key>
			<string>368.66</string>
			<key>y</key>
			<string>456.874</string>
		</dict>
		<key>{5482cc78-dfeb-4e75-b7e0-6892e7e9e7b9}</key>
		<dict>
			<key>x</key>
			<string>368.66</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{1ea4ede2-efe4-4cf7-8896-888786a3312a}</key>
		<dict>
			<key>x</key>
			<string>316.144</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{26f241ae-b757-49d2-8fa3-6e0f0200cf8a}</key>
		<dict>
			<key>x</key>
			<string>316.144</string>
			<key>y</key>
			<string>419.669</string>
		</dict>
		<key>{c02b6097-ac6f-4144-84e9-c196b6e7a5f8}</key>
		<dict>
			<key>x</key>
			<string>243.977</string>
			<key>y</key>
			<string>454.394</string>
		</dict>
		<key>{5a2f728b-f1a1-43f5-a19a-b3abe37e7069}</key>
		<dict>
			<key>x</key>
			<string>243.977</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{cb6d86d5-d281-48ce-8467-f44fceead543}</key>
		<dict>
			<key>x</key>
			<string>191.461</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{164531a7-e37c-4e55-840e-190a3f027a9b}</key>
		<dict>
			<key>x</key>
			<string>191.461</string>
			<key>y</key>
			<string>419.669</string>
		</dict>
		<key>{ee000aa2-65d5-40cd-9888-7bcf2746f76c}</key>
		<dict>
			<key>x</key>
			<string>121.946</string>
			<key>y</key>
			<string>451.913</string>
		</dict>
		<key>{66faa026-daea-43a5-a240-8ad6d04de8c2}</key>
		<dict>
			<key>x</key>
			<string>121.946</string>
			<key>y</key>
			<string>417.189</string>
		</dict>
		<key>{19ee4205-8835-4aaf-ba4f-ec2dfe2fff30}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{240dc0c6-4db5-488d-8e9f-4a3eae35dc54}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>419.669</string>
		</dict>
		<key>{f9440ecc-3976-42d6-af67-269a57cb01da}</key>
		<dict>
			<key>x</key>
			<string>493.344</string>
			<key>y</key>
			<string>313.016</string>
		</dict>
		<key>{00b0d4c3-dd17-4145-86e5-72e9f10f53dc}</key>
		<dict>
			<key>x</key>
			<string>440.828</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{e14dc4b9-932e-4c68-8025-e1bad49382f0}</key>
		<dict>
			<key>x</key>
			<string>368.66</string>
			<key>y</key>
			<string>310.535</string>
		</dict>
		<key>{f1e19ed6-65b8-4d3b-b0a9-840abe716521}</key>
		<dict>
			<key>x</key>
			<string>316.144</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{09b355dc-55b4-45a7-a648-f17c9f518083}</key>
		<dict>
			<key>x</key>
			<string>243.977</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{e215264c-30a0-45cc-9b6c-33691127f1cf}</key>
		<dict>
			<key>x</key>
			<string>191.461</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{c24f3292-bd24-4b73-8fe9-ae62576c3bd2}</key>
		<dict>
			<key>x</key>
			<string>121.946</string>
			<key>y</key>
			<string>305.575</string>
		</dict>
		<key>{107ff4b2-646c-4718-ad2b-4c2cfe9d9963}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{0ed9521c-dd1a-4add-a716-61ab7514f8cb}</key>
		<dict>
			<key>x</key>
			<string>495.142</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{f607057b-100a-49b1-84f6-84305a4966f0}</key>
		<dict>
			<key>x</key>
			<string>444.064</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>{b54559e8-ba1a-470b-a0cd-0294e18d006f}</key>
		<dict>
			<key>x</key>
			<string>373.695</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{77cdaea2-d75c-477f-bbe3-455e8868c6e3}</key>
		<dict>
			<key>x</key>
			<string>322.618</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>{aabec347-9f30-47da-be59-3b7b358ec9e9}</key>
		<dict>
			<key>x</key>
			<string>252.248</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{b82d4bbe-ead2-4f2b-86e7-7e172ded8d43}</key>
		<dict>
			<key>x</key>
			<string>201.171</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>{56742778-aa56-49cb-85bc-cdd05662e3d7}</key>
		<dict>
			<key>x</key>
			<string>133.455</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{d7304ac2-73d8-46e9-8b2f-a6e5fab8b0e3}</key>
		<dict>
			<key>x</key>
			<string>84.4996</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{065594f1-f4e2-47a7-a5a5-1c3287b281cb}</key>
		<dict>
			<key>x1</key>
			<string>489.822</string>
			<key>y1</key>
			<string>596.703</string>
			<key>x2</key>
			<string>489.822</string>
			<key>y2</key>
			<string>613.134</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{1c1b7c00-34ca-4bcd-9e7f-3d125bb53f22}</key>
		<dict>
			<key>x1</key>
			<string>495.708</string>
			<key>y1</key>
			<string>555.155</string>
			<key>x2</key>
			<string>495.708</string>
			<key>y2</key>
			<string>539.344</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{cc8e6831-535d-4033-8730-83fd059aafab}</key>
		<dict>
			<key>x1</key>
			<string>444.046</string>
			<key>y1</key>
			<string>604.931</string>
			<key>x2</key>
			<string>444.046</string>
			<key>y2</key>
			<string>589.571</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{5efb1c4c-1ba4-499f-8549-c4f76fbf9a7f}</key>
		<dict>
			<key>x1</key>
			<string>444.046</string>
			<key>y1</key>
			<string>565.246</string>
			<key>x2</key>
			<string>444.046</string>
			<key>y2</key>
			<string>548.646</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{a62178db-15de-451a-ae05-8cc9ad0ddd03}</key>
		<dict>
			<key>x1</key>
			<string>366.254</string>
			<key>y1</key>
			<string>599.184</string>
			<key>x2</key>
			<string>366.254</string>
			<key>y2</key>
			<string>614.994</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{65f70137-db4f-400d-82b9-051bfb82b7a8}</key>
		<dict>
			<key>x1</key>
			<string>372.14</string>
			<key>y1</key>
			<string>557.635</string>
			<key>x2</key>
			<string>372.14</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{8eaca492-63fd-4369-a821-6081475b069c}</key>
		<dict>
			<key>x1</key>
			<string>320.478</string>
			<key>y1</key>
			<string>604.931</string>
			<key>x2</key>
			<string>320.478</string>
			<key>y2</key>
			<string>589.571</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{8d85ea75-8947-4090-a20a-83967f83e328}</key>
		<dict>
			<key>x1</key>
			<string>320.478</string>
			<key>y1</key>
			<string>565.246</string>
			<key>x2</key>
			<string>320.478</string>
			<key>y2</key>
			<string>548.646</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d41ec14e-f14f-4e4c-bccd-1312a3805f8f}</key>
		<dict>
			<key>x1</key>
			<string>242.687</string>
			<key>y1</key>
			<string>601.664</string>
			<key>x2</key>
			<string>242.687</string>
			<key>y2</key>
			<string>616.854</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{0654d375-0866-4323-ae87-53d2745ee0c5}</key>
		<dict>
			<key>x1</key>
			<string>248.573</string>
			<key>y1</key>
			<string>560.116</string>
			<key>x2</key>
			<string>248.573</string>
			<key>y2</key>
			<string>543.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{285e50bf-927a-4c27-9899-4400860cfe61}</key>
		<dict>
			<key>x1</key>
			<string>196.911</string>
			<key>y1</key>
			<string>604.931</string>
			<key>x2</key>
			<string>196.911</string>
			<key>y2</key>
			<string>589.571</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{89a4bcdb-5fc2-45bb-a0ad-e3cad1741bc2}</key>
		<dict>
			<key>x1</key>
			<string>196.911</string>
			<key>y1</key>
			<string>565.246</string>
			<key>x2</key>
			<string>196.911</string>
			<key>y2</key>
			<string>548.646</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c2877b0b-78b7-432e-b3d9-6b002f03a9cb}</key>
		<dict>
			<key>x1</key>
			<string>121.772</string>
			<key>y1</key>
			<string>604.144</string>
			<key>x2</key>
			<string>121.772</string>
			<key>y2</key>
			<string>618.715</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{c1f0d9c5-481f-4666-ad06-e2264ac4507b}</key>
		<dict>
			<key>x1</key>
			<string>127.658</string>
			<key>y1</key>
			<string>562.596</string>
			<key>x2</key>
			<string>127.658</string>
			<key>y2</key>
			<string>546.165</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{addd5c3e-9dda-4b9a-800d-42fd47ee1287}</key>
		<dict>
			<key>x1</key>
			<string>78.119</string>
			<key>y1</key>
			<string>604.931</string>
			<key>x2</key>
			<string>78.119</string>
			<key>y2</key>
			<string>589.571</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{5a18e06d-d55d-476b-873f-6d12a652ad9d}</key>
		<dict>
			<key>x1</key>
			<string>78.119</string>
			<key>y1</key>
			<string>565.246</string>
			<key>x2</key>
			<string>78.119</string>
			<key>y2</key>
			<string>548.646</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{1ad65c11-5087-472d-95d8-6b38ac534556}</key>
		<dict>
			<key>x1</key>
			<string>499.552</string>
			<key>y1</key>
			<string>458.423</string>
			<key>x2</key>
			<string>499.552</string>
			<key>y2</key>
			<string>443.232</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{a0f2ce74-f2f7-4efe-a731-4df7b410b711}</key>
		<dict>
			<key>x1</key>
			<string>499.552</string>
			<key>y1</key>
			<string>408.816</string>
			<key>x2</key>
			<string>499.552</string>
			<key>y2</key>
			<string>393.006</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{012160a9-2aa9-4cba-9c0d-cc26037f264f}</key>
		<dict>
			<key>x1</key>
			<string>441.15</string>
			<key>y1</key>
			<string>450.211</string>
			<key>x2</key>
			<string>441.15</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{aac1fb65-41ce-41a6-b172-33f459dbbc03}</key>
		<dict>
			<key>x1</key>
			<string>447.394</string>
			<key>y1</key>
			<string>418.907</string>
			<key>x2</key>
			<string>447.394</string>
			<key>y2</key>
			<string>402.307</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e9875c32-7a3b-4023-83ef-7273e44c3193}</key>
		<dict>
			<key>x1</key>
			<string>368.983</string>
			<key>y1</key>
			<string>457.806</string>
			<key>x2</key>
			<string>368.983</string>
			<key>y2</key>
			<string>472.376</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{5482cc78-dfeb-4e75-b7e0-6892e7e9e7b9}</key>
		<dict>
			<key>x1</key>
			<string>374.869</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>374.869</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{1ea4ede2-efe4-4cf7-8896-888786a3312a}</key>
		<dict>
			<key>x1</key>
			<string>316.467</string>
			<key>y1</key>
			<string>450.211</string>
			<key>x2</key>
			<string>316.467</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{26f241ae-b757-49d2-8fa3-6e0f0200cf8a}</key>
		<dict>
			<key>x1</key>
			<string>322.711</string>
			<key>y1</key>
			<string>418.907</string>
			<key>x2</key>
			<string>322.711</string>
			<key>y2</key>
			<string>402.307</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c02b6097-ac6f-4144-84e9-c196b6e7a5f8}</key>
		<dict>
			<key>x1</key>
			<string>244.299</string>
			<key>y1</key>
			<string>455.325</string>
			<key>x2</key>
			<string>244.299</string>
			<key>y2</key>
			<string>470.516</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{5a2f728b-f1a1-43f5-a19a-b3abe37e7069}</key>
		<dict>
			<key>x1</key>
			<string>250.185</string>
			<key>y1</key>
			<string>413.777</string>
			<key>x2</key>
			<string>250.185</string>
			<key>y2</key>
			<string>397.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{cb6d86d5-d281-48ce-8467-f44fceead543}</key>
		<dict>
			<key>x1</key>
			<string>191.783</string>
			<key>y1</key>
			<string>450.211</string>
			<key>x2</key>
			<string>191.783</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{164531a7-e37c-4e55-840e-190a3f027a9b}</key>
		<dict>
			<key>x1</key>
			<string>198.027</string>
			<key>y1</key>
			<string>418.907</string>
			<key>x2</key>
			<string>198.027</string>
			<key>y2</key>
			<string>402.307</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ee000aa2-65d5-40cd-9888-7bcf2746f76c}</key>
		<dict>
			<key>x1</key>
			<string>122.268</string>
			<key>y1</key>
			<string>452.845</string>
			<key>x2</key>
			<string>122.268</string>
			<key>y2</key>
			<string>468.656</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{66faa026-daea-43a5-a240-8ad6d04de8c2}</key>
		<dict>
			<key>x1</key>
			<string>128.155</string>
			<key>y1</key>
			<string>416.257</string>
			<key>x2</key>
			<string>128.155</string>
			<key>y2</key>
			<string>399.827</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{19ee4205-8835-4aaf-ba4f-ec2dfe2fff30}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>450.211</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{240dc0c6-4db5-488d-8e9f-4a3eae35dc54}</key>
		<dict>
			<key>x1</key>
			<string>78.119</string>
			<key>y1</key>
			<string>418.907</string>
			<key>x2</key>
			<string>78.119</string>
			<key>y2</key>
			<string>402.307</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f9440ecc-3976-42d6-af67-269a57cb01da}</key>
		<dict>
			<key>x1</key>
			<string>499.552</string>
			<key>y1</key>
			<string>312.084</string>
			<key>x2</key>
			<string>499.552</string>
			<key>y2</key>
			<string>296.894</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{00b0d4c3-dd17-4145-86e5-72e9f10f53dc}</key>
		<dict>
			<key>x1</key>
			<string>441.15</string>
			<key>y1</key>
			<string>303.872</string>
			<key>x2</key>
			<string>441.15</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{e14dc4b9-932e-4c68-8025-e1bad49382f0}</key>
		<dict>
			<key>x1</key>
			<string>368.983</string>
			<key>y1</key>
			<string>311.467</string>
			<key>x2</key>
			<string>368.983</string>
			<key>y2</key>
			<string>326.037</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{f1e19ed6-65b8-4d3b-b0a9-840abe716521}</key>
		<dict>
			<key>x1</key>
			<string>316.467</string>
			<key>y1</key>
			<string>303.872</string>
			<key>x2</key>
			<string>316.467</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{09b355dc-55b4-45a7-a648-f17c9f518083}</key>
		<dict>
			<key>x1</key>
			<string>244.299</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>244.299</string>
			<key>y2</key>
			<string>324.177</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{e215264c-30a0-45cc-9b6c-33691127f1cf}</key>
		<dict>
			<key>x1</key>
			<string>191.783</string>
			<key>y1</key>
			<string>303.872</string>
			<key>x2</key>
			<string>191.783</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{c24f3292-bd24-4b73-8fe9-ae62576c3bd2}</key>
		<dict>
			<key>x1</key>
			<string>122.268</string>
			<key>y1</key>
			<string>306.506</string>
			<key>x2</key>
			<string>122.268</string>
			<key>y2</key>
			<string>322.317</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{107ff4b2-646c-4718-ad2b-4c2cfe9d9963}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>303.872</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{0ed9521c-dd1a-4add-a716-61ab7514f8cb}</key>
		<dict>
			<key>x1</key>
			<string>501.35</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>501.35</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{f607057b-100a-49b1-84f6-84305a4966f0}</key>
		<dict>
			<key>x1</key>
			<string>450.631</string>
			<key>y1</key>
			<string>126.23</string>
			<key>x2</key>
			<string>450.631</string>
			<key>y2</key>
			<string>109.63</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b54559e8-ba1a-470b-a0cd-0294e18d006f}</key>
		<dict>
			<key>x1</key>
			<string>379.904</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>379.904</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{77cdaea2-d75c-477f-bbe3-455e8868c6e3}</key>
		<dict>
			<key>x1</key>
			<string>329.184</string>
			<key>y1</key>
			<string>126.23</string>
			<key>x2</key>
			<string>329.184</string>
			<key>y2</key>
			<string>109.63</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{aabec347-9f30-47da-be59-3b7b358ec9e9}</key>
		<dict>
			<key>x1</key>
			<string>258.457</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>258.457</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b82d4bbe-ead2-4f2b-86e7-7e172ded8d43}</key>
		<dict>
			<key>x1</key>
			<string>207.738</string>
			<key>y1</key>
			<string>126.23</string>
			<key>x2</key>
			<string>207.738</string>
			<key>y2</key>
			<string>109.63</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{56742778-aa56-49cb-85bc-cdd05662e3d7}</key>
		<dict>
			<key>x1</key>
			<string>139.663</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>139.663</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d7304ac2-73d8-46e9-8b2f-a6e5fab8b0e3}</key>
		<dict>
			<key>x1</key>
			<string>91.0663</string>
			<key>y1</key>
			<string>126.23</string>
			<key>x2</key>
			<string>91.0663</string>
			<key>y2</key>
			<string>109.63</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
	</dict>
</dict>
</plist>