<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>247.04</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>282.619</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>391.89</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>427.47</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>536.741</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>572.321</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>681.592</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>717.171</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>6</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>824.148</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>859.728</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>7</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>958.768</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>994.348</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>8</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>1105.11</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>1140.69</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{da26a0bc-7405-47ce-9cae-83f88a69cda9}</key>
		<dict>
			<key>x</key>
			<string>493.344</string>
			<key>y</key>
			<string>746.08</string>
		</dict>
		<key>{a4ca59bb-5718-40c2-8bbe-dee6648aa77e}</key>
		<dict>
			<key>x</key>
			<string>493.344</string>
			<key>y</key>
			<string>696.474</string>
		</dict>
		<key>{3b1c9353-f321-4051-8810-f48de0a86271}</key>
		<dict>
			<key>x</key>
			<string>440.828</string>
			<key>y</key>
			<string>736.159</string>
		</dict>
		<key>{51d2342b-321a-4f33-a6aa-5ca8ec52747b}</key>
		<dict>
			<key>x</key>
			<string>440.828</string>
			<key>y</key>
			<string>706.395</string>
		</dict>
		<key>{6772397f-8c6e-475f-993b-84c9297fd849}</key>
		<dict>
			<key>x</key>
			<string>368.66</string>
			<key>y</key>
			<string>743.6</string>
		</dict>
		<key>{f5c629d5-fab8-4ba7-9688-8bce26c57c12}</key>
		<dict>
			<key>x</key>
			<string>368.66</string>
			<key>y</key>
			<string>698.954</string>
		</dict>
		<key>{dc01e9c5-e9d1-48d7-aa63-84be36c46356}</key>
		<dict>
			<key>x</key>
			<string>316.144</string>
			<key>y</key>
			<string>736.159</string>
		</dict>
		<key>{36ba308b-c98d-4b3d-81c7-0d96d337e9ce}</key>
		<dict>
			<key>x</key>
			<string>316.144</string>
			<key>y</key>
			<string>706.395</string>
		</dict>
		<key>{18d6daef-4289-4de4-8998-7649cd7aed16}</key>
		<dict>
			<key>x</key>
			<string>243.977</string>
			<key>y</key>
			<string>741.119</string>
		</dict>
		<key>{fbb92f98-abd4-475f-8be3-fb52be9df1af}</key>
		<dict>
			<key>x</key>
			<string>243.977</string>
			<key>y</key>
			<string>701.434</string>
		</dict>
		<key>{20a35144-938d-45f1-a859-26bf84e7c95b}</key>
		<dict>
			<key>x</key>
			<string>191.461</string>
			<key>y</key>
			<string>736.159</string>
		</dict>
		<key>{79954754-57e6-43ed-9600-3419c57ae9d5}</key>
		<dict>
			<key>x</key>
			<string>191.461</string>
			<key>y</key>
			<string>706.395</string>
		</dict>
		<key>{cb1f599a-17e8-4fac-9afe-d3fa7fe612b4}</key>
		<dict>
			<key>x</key>
			<string>121.946</string>
			<key>y</key>
			<string>738.639</string>
		</dict>
		<key>{c285b48e-4a6b-45d7-bd63-0cd77684fe37}</key>
		<dict>
			<key>x</key>
			<string>121.946</string>
			<key>y</key>
			<string>703.914</string>
		</dict>
		<key>{de849235-69ca-42e5-bee2-fbfa510479a9}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>736.159</string>
		</dict>
		<key>{f12388b4-b4b7-495c-810c-ff8d4bb19939}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>706.395</string>
		</dict>
		<key>{dc0b74d6-3d46-4ed7-8d9d-99a19b8a5770}</key>
		<dict>
			<key>x</key>
			<string>493.344</string>
			<key>y</key>
			<string>601.229</string>
		</dict>
		<key>{f2297254-6b73-4683-88c2-aadbfc926e25}</key>
		<dict>
			<key>x</key>
			<string>440.828</string>
			<key>y</key>
			<string>591.308</string>
		</dict>
		<key>{8cfa5545-b51e-4efb-bfec-718dffbfc484}</key>
		<dict>
			<key>x</key>
			<string>368.66</string>
			<key>y</key>
			<string>598.749</string>
		</dict>
		<key>{afecd704-000f-4b69-b761-68b135088e06}</key>
		<dict>
			<key>x</key>
			<string>316.144</string>
			<key>y</key>
			<string>591.308</string>
		</dict>
		<key>{26747929-96df-46aa-9b8b-b9842ea27754}</key>
		<dict>
			<key>x</key>
			<string>243.977</string>
			<key>y</key>
			<string>596.269</string>
		</dict>
		<key>{cf8e9517-cdc7-473c-bf11-faf53e3969aa}</key>
		<dict>
			<key>x</key>
			<string>191.461</string>
			<key>y</key>
			<string>591.308</string>
		</dict>
		<key>{21b2a31e-bfd4-4bac-a407-955a93143113}</key>
		<dict>
			<key>x</key>
			<string>121.946</string>
			<key>y</key>
			<string>593.788</string>
		</dict>
		<key>{754c5e86-b3e3-4b9f-920b-def936aa4ddf}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>591.308</string>
		</dict>
		<key>{a1337e45-7d90-4201-8cc7-56f929e18501}</key>
		<dict>
			<key>x</key>
			<string>493.319</string>
			<key>y</key>
			<string>406.772</string>
		</dict>
		<key>{f579e47e-80c3-493d-a8ea-33d5f27a3ee1}</key>
		<dict>
			<key>x</key>
			<string>440.783</string>
			<key>y</key>
			<string>416.693</string>
		</dict>
		<key>{62d5a2e1-d06e-4712-b10c-9590d9d4c264}</key>
		<dict>
			<key>x</key>
			<string>368.59</string>
			<key>y</key>
			<string>409.253</string>
		</dict>
		<key>{79c7af49-f552-4ae4-8f47-9394911d6507}</key>
		<dict>
			<key>x</key>
			<string>316.055</string>
			<key>y</key>
			<string>416.693</string>
		</dict>
		<key>{9e933bb1-d77f-4cbc-a321-e6dd5c936d15}</key>
		<dict>
			<key>x</key>
			<string>243.862</string>
			<key>y</key>
			<string>411.733</string>
		</dict>
		<key>{9a2cfdc9-9660-4911-9604-32140a6794e2}</key>
		<dict>
			<key>x</key>
			<string>191.326</string>
			<key>y</key>
			<string>416.693</string>
		</dict>
		<key>{d849bd10-cd81-46ed-aff7-ba8ffe5cfaa2}</key>
		<dict>
			<key>x</key>
			<string>121.787</string>
			<key>y</key>
			<string>414.213</string>
		</dict>
		<key>{2504159a-232a-4e4f-84b1-8a0acaacba88}</key>
		<dict>
			<key>x</key>
			<string>71.3734</string>
			<key>y</key>
			<string>416.693</string>
		</dict>
		<key>{f7b16937-4d51-403a-b145-ed5be29c4239}</key>
		<dict>
			<key>x</key>
			<string>493.344</string>
			<key>y</key>
			<string>878.715</string>
		</dict>
		<key>{f6011d52-5f77-427f-8c09-e17dafc0dcd5}</key>
		<dict>
			<key>x</key>
			<string>493.344</string>
			<key>y</key>
			<string>839.03</string>
		</dict>
		<key>{fbe3dd2a-331a-41f4-9245-4d3af7af3f14}</key>
		<dict>
			<key>x</key>
			<string>440.828</string>
			<key>y</key>
			<string>888.637</string>
		</dict>
		<key>{057adda6-0795-4b2b-b8e7-43b8384388ac}</key>
		<dict>
			<key>x</key>
			<string>440.828</string>
			<key>y</key>
			<string>848.951</string>
		</dict>
		<key>{9bfd4a5d-d2f6-4990-9bdc-0736edb72c11}</key>
		<dict>
			<key>x</key>
			<string>368.66</string>
			<key>y</key>
			<string>881.196</string>
		</dict>
		<key>{f4303559-70f3-4b71-9d43-568139971cbf}</key>
		<dict>
			<key>x</key>
			<string>368.66</string>
			<key>y</key>
			<string>841.511</string>
		</dict>
		<key>{47a9a9fc-49c5-4bb3-bd8c-6d14afa9739c}</key>
		<dict>
			<key>x</key>
			<string>316.144</string>
			<key>y</key>
			<string>888.637</string>
		</dict>
		<key>{daf3f39c-1371-4f3d-801f-1605cdbc079d}</key>
		<dict>
			<key>x</key>
			<string>316.144</string>
			<key>y</key>
			<string>848.951</string>
		</dict>
		<key>{4889174b-9cfd-4d9c-a3bc-649112c41671}</key>
		<dict>
			<key>x</key>
			<string>243.977</string>
			<key>y</key>
			<string>883.676</string>
		</dict>
		<key>{7b67eb8c-b338-48a7-bc92-4ecd11081320}</key>
		<dict>
			<key>x</key>
			<string>243.977</string>
			<key>y</key>
			<string>843.991</string>
		</dict>
		<key>{590dac42-2cfe-4c62-baf5-1a956e436245}</key>
		<dict>
			<key>x</key>
			<string>191.461</string>
			<key>y</key>
			<string>888.637</string>
		</dict>
		<key>{c127da1d-3d02-4752-8d6c-c4069b6b98ce}</key>
		<dict>
			<key>x</key>
			<string>191.461</string>
			<key>y</key>
			<string>848.951</string>
		</dict>
		<key>{def817c1-61c4-4a0c-af02-cd9643f916b0}</key>
		<dict>
			<key>x</key>
			<string>121.946</string>
			<key>y</key>
			<string>886.156</string>
		</dict>
		<key>{272b3810-c7f0-4394-97f3-b49991eb59eb}</key>
		<dict>
			<key>x</key>
			<string>121.946</string>
			<key>y</key>
			<string>846.471</string>
		</dict>
		<key>{6349acd2-f8b7-4768-ac4b-ac4e36b83f76}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>888.637</string>
		</dict>
		<key>{7df83bbc-1619-474f-b58e-53d55482f790}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>848.951</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{da26a0bc-7405-47ce-9cae-83f88a69cda9}</key>
		<dict>
			<key>x1</key>
			<string>499.552</string>
			<key>y1</key>
			<string>745.148</string>
			<key>x2</key>
			<string>499.552</string>
			<key>y2</key>
			<string>729.958</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{a4ca59bb-5718-40c2-8bbe-dee6648aa77e}</key>
		<dict>
			<key>x1</key>
			<string>499.552</string>
			<key>y1</key>
			<string>695.542</string>
			<key>x2</key>
			<string>499.552</string>
			<key>y2</key>
			<string>679.731</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{3b1c9353-f321-4051-8810-f48de0a86271}</key>
		<dict>
			<key>x1</key>
			<string>441.15</string>
			<key>y1</key>
			<string>736.936</string>
			<key>x2</key>
			<string>441.15</string>
			<key>y2</key>
			<string>753.521</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{51d2342b-321a-4f33-a6aa-5ca8ec52747b}</key>
		<dict>
			<key>x1</key>
			<string>447.394</string>
			<key>y1</key>
			<string>705.633</string>
			<key>x2</key>
			<string>447.394</string>
			<key>y2</key>
			<string>689.033</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{6772397f-8c6e-475f-993b-84c9297fd849}</key>
		<dict>
			<key>x1</key>
			<string>368.983</string>
			<key>y1</key>
			<string>744.531</string>
			<key>x2</key>
			<string>368.983</string>
			<key>y2</key>
			<string>759.101</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{f5c629d5-fab8-4ba7-9688-8bce26c57c12}</key>
		<dict>
			<key>x1</key>
			<string>374.869</string>
			<key>y1</key>
			<string>698.022</string>
			<key>x2</key>
			<string>374.869</string>
			<key>y2</key>
			<string>681.592</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{dc01e9c5-e9d1-48d7-aa63-84be36c46356}</key>
		<dict>
			<key>x1</key>
			<string>316.467</string>
			<key>y1</key>
			<string>736.936</string>
			<key>x2</key>
			<string>316.467</string>
			<key>y2</key>
			<string>753.521</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{36ba308b-c98d-4b3d-81c7-0d96d337e9ce}</key>
		<dict>
			<key>x1</key>
			<string>322.711</string>
			<key>y1</key>
			<string>705.633</string>
			<key>x2</key>
			<string>322.711</string>
			<key>y2</key>
			<string>689.033</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{18d6daef-4289-4de4-8998-7649cd7aed16}</key>
		<dict>
			<key>x1</key>
			<string>244.299</string>
			<key>y1</key>
			<string>742.051</string>
			<key>x2</key>
			<string>244.299</string>
			<key>y2</key>
			<string>757.241</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{fbb92f98-abd4-475f-8be3-fb52be9df1af}</key>
		<dict>
			<key>x1</key>
			<string>250.185</string>
			<key>y1</key>
			<string>700.502</string>
			<key>x2</key>
			<string>250.185</string>
			<key>y2</key>
			<string>684.072</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{20a35144-938d-45f1-a859-26bf84e7c95b}</key>
		<dict>
			<key>x1</key>
			<string>191.783</string>
			<key>y1</key>
			<string>736.936</string>
			<key>x2</key>
			<string>191.783</string>
			<key>y2</key>
			<string>753.521</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{79954754-57e6-43ed-9600-3419c57ae9d5}</key>
		<dict>
			<key>x1</key>
			<string>198.027</string>
			<key>y1</key>
			<string>705.633</string>
			<key>x2</key>
			<string>198.027</string>
			<key>y2</key>
			<string>689.033</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{cb1f599a-17e8-4fac-9afe-d3fa7fe612b4}</key>
		<dict>
			<key>x1</key>
			<string>122.268</string>
			<key>y1</key>
			<string>739.571</string>
			<key>x2</key>
			<string>122.268</string>
			<key>y2</key>
			<string>755.381</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{c285b48e-4a6b-45d7-bd63-0cd77684fe37}</key>
		<dict>
			<key>x1</key>
			<string>128.155</string>
			<key>y1</key>
			<string>702.983</string>
			<key>x2</key>
			<string>128.155</string>
			<key>y2</key>
			<string>686.552</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{de849235-69ca-42e5-bee2-fbfa510479a9}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>736.936</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>753.521</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f12388b4-b4b7-495c-810c-ff8d4bb19939}</key>
		<dict>
			<key>x1</key>
			<string>78.119</string>
			<key>y1</key>
			<string>705.633</string>
			<key>x2</key>
			<string>78.119</string>
			<key>y2</key>
			<string>689.033</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{dc0b74d6-3d46-4ed7-8d9d-99a19b8a5770}</key>
		<dict>
			<key>x1</key>
			<string>499.552</string>
			<key>y1</key>
			<string>600.297</string>
			<key>x2</key>
			<string>499.552</string>
			<key>y2</key>
			<string>585.107</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{f2297254-6b73-4683-88c2-aadbfc926e25}</key>
		<dict>
			<key>x1</key>
			<string>441.15</string>
			<key>y1</key>
			<string>592.086</string>
			<key>x2</key>
			<string>441.15</string>
			<key>y2</key>
			<string>608.67</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{8cfa5545-b51e-4efb-bfec-718dffbfc484}</key>
		<dict>
			<key>x1</key>
			<string>368.983</string>
			<key>y1</key>
			<string>599.681</string>
			<key>x2</key>
			<string>368.983</string>
			<key>y2</key>
			<string>614.251</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{afecd704-000f-4b69-b761-68b135088e06}</key>
		<dict>
			<key>x1</key>
			<string>316.467</string>
			<key>y1</key>
			<string>592.086</string>
			<key>x2</key>
			<string>316.467</string>
			<key>y2</key>
			<string>608.67</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{26747929-96df-46aa-9b8b-b9842ea27754}</key>
		<dict>
			<key>x1</key>
			<string>244.299</string>
			<key>y1</key>
			<string>597.2</string>
			<key>x2</key>
			<string>244.299</string>
			<key>y2</key>
			<string>612.391</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{cf8e9517-cdc7-473c-bf11-faf53e3969aa}</key>
		<dict>
			<key>x1</key>
			<string>191.783</string>
			<key>y1</key>
			<string>592.086</string>
			<key>x2</key>
			<string>191.783</string>
			<key>y2</key>
			<string>608.67</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{21b2a31e-bfd4-4bac-a407-955a93143113}</key>
		<dict>
			<key>x1</key>
			<string>122.268</string>
			<key>y1</key>
			<string>594.72</string>
			<key>x2</key>
			<string>122.268</string>
			<key>y2</key>
			<string>610.53</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{754c5e86-b3e3-4b9f-920b-def936aa4ddf}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>592.086</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>608.67</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{a1337e45-7d90-4201-8cc7-56f929e18501}</key>
		<dict>
			<key>x1</key>
			<string>499.527</string>
			<key>y1</key>
			<string>405.841</string>
			<key>x2</key>
			<string>499.527</string>
			<key>y2</key>
			<string>390.03</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{f579e47e-80c3-493d-a8ea-33d5f27a3ee1}</key>
		<dict>
			<key>x1</key>
			<string>447.35</string>
			<key>y1</key>
			<string>415.932</string>
			<key>x2</key>
			<string>447.35</string>
			<key>y2</key>
			<string>399.331</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{62d5a2e1-d06e-4712-b10c-9590d9d4c264}</key>
		<dict>
			<key>x1</key>
			<string>374.799</string>
			<key>y1</key>
			<string>408.321</string>
			<key>x2</key>
			<string>374.799</string>
			<key>y2</key>
			<string>391.89</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{79c7af49-f552-4ae4-8f47-9394911d6507}</key>
		<dict>
			<key>x1</key>
			<string>322.621</string>
			<key>y1</key>
			<string>415.932</string>
			<key>x2</key>
			<string>322.621</string>
			<key>y2</key>
			<string>399.331</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9e933bb1-d77f-4cbc-a321-e6dd5c936d15}</key>
		<dict>
			<key>x1</key>
			<string>250.071</string>
			<key>y1</key>
			<string>410.801</string>
			<key>x2</key>
			<string>250.071</string>
			<key>y2</key>
			<string>394.371</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9a2cfdc9-9660-4911-9604-32140a6794e2}</key>
		<dict>
			<key>x1</key>
			<string>197.893</string>
			<key>y1</key>
			<string>415.932</string>
			<key>x2</key>
			<string>197.893</string>
			<key>y2</key>
			<string>399.331</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d849bd10-cd81-46ed-aff7-ba8ffe5cfaa2}</key>
		<dict>
			<key>x1</key>
			<string>127.995</string>
			<key>y1</key>
			<string>413.281</string>
			<key>x2</key>
			<string>127.995</string>
			<key>y2</key>
			<string>396.851</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{2504159a-232a-4e4f-84b1-8a0acaacba88}</key>
		<dict>
			<key>x1</key>
			<string>77.94</string>
			<key>y1</key>
			<string>415.932</string>
			<key>x2</key>
			<string>77.94</string>
			<key>y2</key>
			<string>399.331</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f7b16937-4d51-403a-b145-ed5be29c4239}</key>
		<dict>
			<key>x1</key>
			<string>493.666</string>
			<key>y1</key>
			<string>879.647</string>
			<key>x2</key>
			<string>493.666</string>
			<key>y2</key>
			<string>896.077</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{f6011d52-5f77-427f-8c09-e17dafc0dcd5}</key>
		<dict>
			<key>x1</key>
			<string>499.552</string>
			<key>y1</key>
			<string>838.099</string>
			<key>x2</key>
			<string>499.552</string>
			<key>y2</key>
			<string>822.288</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{fbe3dd2a-331a-41f4-9245-4d3af7af3f14}</key>
		<dict>
			<key>x1</key>
			<string>447.394</string>
			<key>y1</key>
			<string>887.875</string>
			<key>x2</key>
			<string>447.394</string>
			<key>y2</key>
			<string>872.514</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{057adda6-0795-4b2b-b8e7-43b8384388ac}</key>
		<dict>
			<key>x1</key>
			<string>447.394</string>
			<key>y1</key>
			<string>848.19</string>
			<key>x2</key>
			<string>447.394</string>
			<key>y2</key>
			<string>831.589</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9bfd4a5d-d2f6-4990-9bdc-0736edb72c11}</key>
		<dict>
			<key>x1</key>
			<string>368.983</string>
			<key>y1</key>
			<string>882.127</string>
			<key>x2</key>
			<string>368.983</string>
			<key>y2</key>
			<string>897.938</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{f4303559-70f3-4b71-9d43-568139971cbf}</key>
		<dict>
			<key>x1</key>
			<string>374.869</string>
			<key>y1</key>
			<string>840.579</string>
			<key>x2</key>
			<string>374.869</string>
			<key>y2</key>
			<string>824.148</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{47a9a9fc-49c5-4bb3-bd8c-6d14afa9739c}</key>
		<dict>
			<key>x1</key>
			<string>322.711</string>
			<key>y1</key>
			<string>887.875</string>
			<key>x2</key>
			<string>322.711</string>
			<key>y2</key>
			<string>872.514</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{daf3f39c-1371-4f3d-801f-1605cdbc079d}</key>
		<dict>
			<key>x1</key>
			<string>322.711</string>
			<key>y1</key>
			<string>848.19</string>
			<key>x2</key>
			<string>322.711</string>
			<key>y2</key>
			<string>831.589</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{4889174b-9cfd-4d9c-a3bc-649112c41671}</key>
		<dict>
			<key>x1</key>
			<string>244.299</string>
			<key>y1</key>
			<string>884.608</string>
			<key>x2</key>
			<string>244.299</string>
			<key>y2</key>
			<string>899.798</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{7b67eb8c-b338-48a7-bc92-4ecd11081320}</key>
		<dict>
			<key>x1</key>
			<string>250.185</string>
			<key>y1</key>
			<string>843.059</string>
			<key>x2</key>
			<string>250.185</string>
			<key>y2</key>
			<string>826.629</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{590dac42-2cfe-4c62-baf5-1a956e436245}</key>
		<dict>
			<key>x1</key>
			<string>198.027</string>
			<key>y1</key>
			<string>887.875</string>
			<key>x2</key>
			<string>198.027</string>
			<key>y2</key>
			<string>872.514</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{c127da1d-3d02-4752-8d6c-c4069b6b98ce}</key>
		<dict>
			<key>x1</key>
			<string>198.027</string>
			<key>y1</key>
			<string>848.19</string>
			<key>x2</key>
			<string>198.027</string>
			<key>y2</key>
			<string>831.589</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{def817c1-61c4-4a0c-af02-cd9643f916b0}</key>
		<dict>
			<key>x1</key>
			<string>122.268</string>
			<key>y1</key>
			<string>887.088</string>
			<key>x2</key>
			<string>122.268</string>
			<key>y2</key>
			<string>901.658</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{272b3810-c7f0-4394-97f3-b49991eb59eb}</key>
		<dict>
			<key>x1</key>
			<string>128.155</string>
			<key>y1</key>
			<string>845.539</string>
			<key>x2</key>
			<string>128.155</string>
			<key>y2</key>
			<string>829.109</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{6349acd2-f8b7-4768-ac4b-ac4e36b83f76}</key>
		<dict>
			<key>x1</key>
			<string>78.119</string>
			<key>y1</key>
			<string>887.875</string>
			<key>x2</key>
			<string>78.119</string>
			<key>y2</key>
			<string>872.514</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{7df83bbc-1619-474f-b58e-53d55482f790}</key>
		<dict>
			<key>x1</key>
			<string>78.119</string>
			<key>y1</key>
			<string>848.19</string>
			<key>x2</key>
			<string>78.119</string>
			<key>y2</key>
			<string>831.589</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
	</dict>
</dict>
</plist>