<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>102.189</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>137.769</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>248.528</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>284.107</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>394.866</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>430.446</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>46.1339</string>
			<key>y</key>
			<string>541.205</string>
			<key>bx</key>
			<string>46.1339</string>
			<key>by</key>
			<string>576.784</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{e0c1be65-6ee1-456b-bfd1-e4a7fdc101a3}</key>
		<dict>
			<key>x</key>
			<string>489.499</string>
			<key>y</key>
			<string>595.772</string>
		</dict>
		<key>{1f325f12-02ab-4e7f-bc9b-49e5c4435dad}</key>
		<dict>
			<key>x</key>
			<string>489.499</string>
			<key>y</key>
			<string>556.087</string>
		</dict>
		<key>{cf230536-c123-40f9-adfa-a1d33c6195ce}</key>
		<dict>
			<key>x</key>
			<string>437.479</string>
			<key>y</key>
			<string>605.693</string>
		</dict>
		<key>{4ddb508e-c155-4b2d-816a-7c41644111a9}</key>
		<dict>
			<key>x</key>
			<string>437.479</string>
			<key>y</key>
			<string>566.008</string>
		</dict>
		<key>{dfa5f518-da35-460c-9af5-0319d72de027}</key>
		<dict>
			<key>x</key>
			<string>365.932</string>
			<key>y</key>
			<string>598.252</string>
		</dict>
		<key>{7ec213a4-cbb9-4c6a-9fe2-25b9b2035d27}</key>
		<dict>
			<key>x</key>
			<string>365.932</string>
			<key>y</key>
			<string>558.567</string>
		</dict>
		<key>{260aacaf-6b2d-4e9d-b069-0aceede745c4}</key>
		<dict>
			<key>x</key>
			<string>313.912</string>
			<key>y</key>
			<string>605.693</string>
		</dict>
		<key>{d0c8193a-704b-4fae-b4a9-ce720d70cccb}</key>
		<dict>
			<key>x</key>
			<string>313.912</string>
			<key>y</key>
			<string>566.008</string>
		</dict>
		<key>{36add1f5-2083-46e2-a8ef-09875a38c08f}</key>
		<dict>
			<key>x</key>
			<string>242.364</string>
			<key>y</key>
			<string>600.732</string>
		</dict>
		<key>{73bb0ae3-0a30-4e0d-a1fa-90fa9e662f65}</key>
		<dict>
			<key>x</key>
			<string>242.364</string>
			<key>y</key>
			<string>561.047</string>
		</dict>
		<key>{df3c5c34-17a0-45d8-90ce-52867c9ac15e}</key>
		<dict>
			<key>x</key>
			<string>190.344</string>
			<key>y</key>
			<string>605.693</string>
		</dict>
		<key>{dfc77b7c-064a-4829-b9c5-a673ade6de8b}</key>
		<dict>
			<key>x</key>
			<string>190.344</string>
			<key>y</key>
			<string>566.008</string>
		</dict>
		<key>{f947bce5-e618-4c02-a99e-67dcbce98a91}</key>
		<dict>
			<key>x</key>
			<string>121.45</string>
			<key>y</key>
			<string>603.213</string>
		</dict>
		<key>{94997c52-087c-4eab-842a-5614720c13ba}</key>
		<dict>
			<key>x</key>
			<string>121.45</string>
			<key>y</key>
			<string>563.528</string>
		</dict>
		<key>{0b14f320-30c2-46b5-83e9-508fcb2209b4}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>605.693</string>
		</dict>
		<key>{55f82925-1d78-4528-bb0a-09f36d2dc79c}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>566.008</string>
		</dict>
		<key>{39ebdddf-5434-43c5-b64f-707f4c9f7852}</key>
		<dict>
			<key>x</key>
			<string>493.344</string>
			<key>y</key>
			<string>459.354</string>
		</dict>
		<key>{6f8263d3-b636-424e-a578-cac6a79a3284}</key>
		<dict>
			<key>x</key>
			<string>493.344</string>
			<key>y</key>
			<string>409.748</string>
		</dict>
		<key>{c7579fa2-4a6d-436b-af48-29738ce5bdf2}</key>
		<dict>
			<key>x</key>
			<string>440.828</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{e014d2e2-a90b-44e5-a48c-582ba819ae32}</key>
		<dict>
			<key>x</key>
			<string>440.828</string>
			<key>y</key>
			<string>419.669</string>
		</dict>
		<key>{d2713706-3052-4514-b8e4-6c29424ec25c}</key>
		<dict>
			<key>x</key>
			<string>368.66</string>
			<key>y</key>
			<string>456.874</string>
		</dict>
		<key>{3ebb2d4f-2c2c-40d8-a22f-f7c55c8e80e3}</key>
		<dict>
			<key>x</key>
			<string>368.66</string>
			<key>y</key>
			<string>412.228</string>
		</dict>
		<key>{412f6b24-5085-429d-97d7-120a21aa4559}</key>
		<dict>
			<key>x</key>
			<string>316.144</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{033e072f-ab3d-4eb7-a308-9f7fb8363d72}</key>
		<dict>
			<key>x</key>
			<string>316.144</string>
			<key>y</key>
			<string>419.669</string>
		</dict>
		<key>{910b7391-0752-4314-a31a-ffec73a5b32b}</key>
		<dict>
			<key>x</key>
			<string>243.977</string>
			<key>y</key>
			<string>454.394</string>
		</dict>
		<key>{08529468-f51c-45bc-814c-933a56d630bc}</key>
		<dict>
			<key>x</key>
			<string>243.977</string>
			<key>y</key>
			<string>414.709</string>
		</dict>
		<key>{b79fd44e-a150-465a-a09c-92f68e5d99fa}</key>
		<dict>
			<key>x</key>
			<string>191.461</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{c91c8bd0-6b16-47cd-8114-801097c710f4}</key>
		<dict>
			<key>x</key>
			<string>191.461</string>
			<key>y</key>
			<string>419.669</string>
		</dict>
		<key>{a437b938-3f35-4fa8-812d-e016bdb0f4af}</key>
		<dict>
			<key>x</key>
			<string>121.946</string>
			<key>y</key>
			<string>451.913</string>
		</dict>
		<key>{10813d2b-3676-4512-80ff-1de77015682e}</key>
		<dict>
			<key>x</key>
			<string>121.946</string>
			<key>y</key>
			<string>417.189</string>
		</dict>
		<key>{9bb6df15-b969-411e-b1d5-44f3e05f3676}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>449.433</string>
		</dict>
		<key>{26ad9137-dae6-4eac-8a97-355ef8b6936f}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>419.669</string>
		</dict>
		<key>{d7dcacd3-bcd7-4c94-8397-a1cc2afb5269}</key>
		<dict>
			<key>x</key>
			<string>493.344</string>
			<key>y</key>
			<string>313.016</string>
		</dict>
		<key>{1746af70-b0d1-4828-a787-867fd6e3afd3}</key>
		<dict>
			<key>x</key>
			<string>440.828</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{8332bcc2-28c2-4f41-9562-4f512093abf6}</key>
		<dict>
			<key>x</key>
			<string>368.66</string>
			<key>y</key>
			<string>310.535</string>
		</dict>
		<key>{400d3b50-a3b9-416c-9c28-72c023a05eb4}</key>
		<dict>
			<key>x</key>
			<string>316.144</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{04cd5462-e32a-4a6c-b9e2-8f55eda63435}</key>
		<dict>
			<key>x</key>
			<string>243.977</string>
			<key>y</key>
			<string>308.055</string>
		</dict>
		<key>{57c24ffa-0948-4ccc-a5d2-916b40001db6}</key>
		<dict>
			<key>x</key>
			<string>191.461</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{c78f1837-d64b-4545-a89f-ee9c6001ac1e}</key>
		<dict>
			<key>x</key>
			<string>121.946</string>
			<key>y</key>
			<string>305.575</string>
		</dict>
		<key>{e231a1e1-60cb-4fca-8f85-7e336a752ce9}</key>
		<dict>
			<key>x</key>
			<string>71.5524</string>
			<key>y</key>
			<string>303.094</string>
		</dict>
		<key>{653a8ab0-eb63-4cc4-97d7-94a0fce7b3c9}</key>
		<dict>
			<key>x</key>
			<string>495.142</string>
			<key>y</key>
			<string>117.071</string>
		</dict>
		<key>{7c4a9c60-2a5c-434b-9683-a315abb4b0b6}</key>
		<dict>
			<key>x</key>
			<string>444.064</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>{e63ec500-2786-41a8-b5df-30d385381df6}</key>
		<dict>
			<key>x</key>
			<string>373.695</string>
			<key>y</key>
			<string>119.551</string>
		</dict>
		<key>{c34da67f-c929-4fda-aad7-ee2be959f34f}</key>
		<dict>
			<key>x</key>
			<string>322.618</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>{69082fd9-e6e1-4029-9adf-3a2cd5b06df0}</key>
		<dict>
			<key>x</key>
			<string>252.248</string>
			<key>y</key>
			<string>122.032</string>
		</dict>
		<key>{8c18ab06-2e4d-4051-92ea-fb3154b133fd}</key>
		<dict>
			<key>x</key>
			<string>201.171</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>{0cd731e1-0514-4107-989c-566bee274d02}</key>
		<dict>
			<key>x</key>
			<string>133.455</string>
			<key>y</key>
			<string>124.512</string>
		</dict>
		<key>{e82da8eb-48dc-4e77-b350-6bb8ebaf0ad9}</key>
		<dict>
			<key>x</key>
			<string>84.4996</string>
			<key>y</key>
			<string>126.992</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{e0c1be65-6ee1-456b-bfd1-e4a7fdc101a3}</key>
		<dict>
			<key>x1</key>
			<string>489.822</string>
			<key>y1</key>
			<string>596.703</string>
			<key>x2</key>
			<string>489.822</string>
			<key>y2</key>
			<string>613.134</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{1f325f12-02ab-4e7f-bc9b-49e5c4435dad}</key>
		<dict>
			<key>x1</key>
			<string>495.708</string>
			<key>y1</key>
			<string>555.155</string>
			<key>x2</key>
			<string>495.708</string>
			<key>y2</key>
			<string>539.344</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{cf230536-c123-40f9-adfa-a1d33c6195ce}</key>
		<dict>
			<key>x1</key>
			<string>444.046</string>
			<key>y1</key>
			<string>604.931</string>
			<key>x2</key>
			<string>444.046</string>
			<key>y2</key>
			<string>589.571</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{4ddb508e-c155-4b2d-816a-7c41644111a9}</key>
		<dict>
			<key>x1</key>
			<string>444.046</string>
			<key>y1</key>
			<string>565.246</string>
			<key>x2</key>
			<string>444.046</string>
			<key>y2</key>
			<string>548.646</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{dfa5f518-da35-460c-9af5-0319d72de027}</key>
		<dict>
			<key>x1</key>
			<string>366.254</string>
			<key>y1</key>
			<string>599.184</string>
			<key>x2</key>
			<string>366.254</string>
			<key>y2</key>
			<string>614.994</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{7ec213a4-cbb9-4c6a-9fe2-25b9b2035d27}</key>
		<dict>
			<key>x1</key>
			<string>372.14</string>
			<key>y1</key>
			<string>557.635</string>
			<key>x2</key>
			<string>372.14</string>
			<key>y2</key>
			<string>541.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{260aacaf-6b2d-4e9d-b069-0aceede745c4}</key>
		<dict>
			<key>x1</key>
			<string>320.478</string>
			<key>y1</key>
			<string>604.931</string>
			<key>x2</key>
			<string>320.478</string>
			<key>y2</key>
			<string>589.571</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{d0c8193a-704b-4fae-b4a9-ce720d70cccb}</key>
		<dict>
			<key>x1</key>
			<string>320.478</string>
			<key>y1</key>
			<string>565.246</string>
			<key>x2</key>
			<string>320.478</string>
			<key>y2</key>
			<string>548.646</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{36add1f5-2083-46e2-a8ef-09875a38c08f}</key>
		<dict>
			<key>x1</key>
			<string>242.687</string>
			<key>y1</key>
			<string>601.664</string>
			<key>x2</key>
			<string>242.687</string>
			<key>y2</key>
			<string>616.854</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{73bb0ae3-0a30-4e0d-a1fa-90fa9e662f65}</key>
		<dict>
			<key>x1</key>
			<string>248.573</string>
			<key>y1</key>
			<string>560.116</string>
			<key>x2</key>
			<string>248.573</string>
			<key>y2</key>
			<string>543.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{df3c5c34-17a0-45d8-90ce-52867c9ac15e}</key>
		<dict>
			<key>x1</key>
			<string>196.911</string>
			<key>y1</key>
			<string>604.931</string>
			<key>x2</key>
			<string>196.911</string>
			<key>y2</key>
			<string>589.571</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{dfc77b7c-064a-4829-b9c5-a673ade6de8b}</key>
		<dict>
			<key>x1</key>
			<string>196.911</string>
			<key>y1</key>
			<string>565.246</string>
			<key>x2</key>
			<string>196.911</string>
			<key>y2</key>
			<string>548.646</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f947bce5-e618-4c02-a99e-67dcbce98a91}</key>
		<dict>
			<key>x1</key>
			<string>121.772</string>
			<key>y1</key>
			<string>604.144</string>
			<key>x2</key>
			<string>121.772</string>
			<key>y2</key>
			<string>618.715</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{94997c52-087c-4eab-842a-5614720c13ba}</key>
		<dict>
			<key>x1</key>
			<string>127.658</string>
			<key>y1</key>
			<string>562.596</string>
			<key>x2</key>
			<string>127.658</string>
			<key>y2</key>
			<string>546.165</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{0b14f320-30c2-46b5-83e9-508fcb2209b4}</key>
		<dict>
			<key>x1</key>
			<string>78.119</string>
			<key>y1</key>
			<string>604.931</string>
			<key>x2</key>
			<string>78.119</string>
			<key>y2</key>
			<string>589.571</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{55f82925-1d78-4528-bb0a-09f36d2dc79c}</key>
		<dict>
			<key>x1</key>
			<string>78.119</string>
			<key>y1</key>
			<string>565.246</string>
			<key>x2</key>
			<string>78.119</string>
			<key>y2</key>
			<string>548.646</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{39ebdddf-5434-43c5-b64f-707f4c9f7852}</key>
		<dict>
			<key>x1</key>
			<string>499.552</string>
			<key>y1</key>
			<string>458.423</string>
			<key>x2</key>
			<string>499.552</string>
			<key>y2</key>
			<string>443.232</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{6f8263d3-b636-424e-a578-cac6a79a3284}</key>
		<dict>
			<key>x1</key>
			<string>499.552</string>
			<key>y1</key>
			<string>408.816</string>
			<key>x2</key>
			<string>499.552</string>
			<key>y2</key>
			<string>393.006</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{c7579fa2-4a6d-436b-af48-29738ce5bdf2}</key>
		<dict>
			<key>x1</key>
			<string>441.15</string>
			<key>y1</key>
			<string>450.211</string>
			<key>x2</key>
			<string>441.15</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{e014d2e2-a90b-44e5-a48c-582ba819ae32}</key>
		<dict>
			<key>x1</key>
			<string>447.394</string>
			<key>y1</key>
			<string>418.907</string>
			<key>x2</key>
			<string>447.394</string>
			<key>y2</key>
			<string>402.307</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d2713706-3052-4514-b8e4-6c29424ec25c}</key>
		<dict>
			<key>x1</key>
			<string>368.983</string>
			<key>y1</key>
			<string>457.806</string>
			<key>x2</key>
			<string>368.983</string>
			<key>y2</key>
			<string>472.376</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{3ebb2d4f-2c2c-40d8-a22f-f7c55c8e80e3}</key>
		<dict>
			<key>x1</key>
			<string>374.869</string>
			<key>y1</key>
			<string>411.297</string>
			<key>x2</key>
			<string>374.869</string>
			<key>y2</key>
			<string>394.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{412f6b24-5085-429d-97d7-120a21aa4559}</key>
		<dict>
			<key>x1</key>
			<string>316.467</string>
			<key>y1</key>
			<string>450.211</string>
			<key>x2</key>
			<string>316.467</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{033e072f-ab3d-4eb7-a308-9f7fb8363d72}</key>
		<dict>
			<key>x1</key>
			<string>322.711</string>
			<key>y1</key>
			<string>418.907</string>
			<key>x2</key>
			<string>322.711</string>
			<key>y2</key>
			<string>402.307</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{910b7391-0752-4314-a31a-ffec73a5b32b}</key>
		<dict>
			<key>x1</key>
			<string>244.299</string>
			<key>y1</key>
			<string>455.325</string>
			<key>x2</key>
			<string>244.299</string>
			<key>y2</key>
			<string>470.516</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{08529468-f51c-45bc-814c-933a56d630bc}</key>
		<dict>
			<key>x1</key>
			<string>250.185</string>
			<key>y1</key>
			<string>413.777</string>
			<key>x2</key>
			<string>250.185</string>
			<key>y2</key>
			<string>397.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b79fd44e-a150-465a-a09c-92f68e5d99fa}</key>
		<dict>
			<key>x1</key>
			<string>191.783</string>
			<key>y1</key>
			<string>450.211</string>
			<key>x2</key>
			<string>191.783</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{c91c8bd0-6b16-47cd-8114-801097c710f4}</key>
		<dict>
			<key>x1</key>
			<string>198.027</string>
			<key>y1</key>
			<string>418.907</string>
			<key>x2</key>
			<string>198.027</string>
			<key>y2</key>
			<string>402.307</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{a437b938-3f35-4fa8-812d-e016bdb0f4af}</key>
		<dict>
			<key>x1</key>
			<string>122.268</string>
			<key>y1</key>
			<string>452.845</string>
			<key>x2</key>
			<string>122.268</string>
			<key>y2</key>
			<string>468.656</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{10813d2b-3676-4512-80ff-1de77015682e}</key>
		<dict>
			<key>x1</key>
			<string>128.155</string>
			<key>y1</key>
			<string>416.257</string>
			<key>x2</key>
			<string>128.155</string>
			<key>y2</key>
			<string>399.827</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9bb6df15-b969-411e-b1d5-44f3e05f3676}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>450.211</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>466.795</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{26ad9137-dae6-4eac-8a97-355ef8b6936f}</key>
		<dict>
			<key>x1</key>
			<string>78.119</string>
			<key>y1</key>
			<string>418.907</string>
			<key>x2</key>
			<string>78.119</string>
			<key>y2</key>
			<string>402.307</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d7dcacd3-bcd7-4c94-8397-a1cc2afb5269}</key>
		<dict>
			<key>x1</key>
			<string>499.552</string>
			<key>y1</key>
			<string>312.084</string>
			<key>x2</key>
			<string>499.552</string>
			<key>y2</key>
			<string>296.894</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{1746af70-b0d1-4828-a787-867fd6e3afd3}</key>
		<dict>
			<key>x1</key>
			<string>441.15</string>
			<key>y1</key>
			<string>303.872</string>
			<key>x2</key>
			<string>441.15</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{8332bcc2-28c2-4f41-9562-4f512093abf6}</key>
		<dict>
			<key>x1</key>
			<string>368.983</string>
			<key>y1</key>
			<string>311.467</string>
			<key>x2</key>
			<string>368.983</string>
			<key>y2</key>
			<string>326.037</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{400d3b50-a3b9-416c-9c28-72c023a05eb4}</key>
		<dict>
			<key>x1</key>
			<string>316.467</string>
			<key>y1</key>
			<string>303.872</string>
			<key>x2</key>
			<string>316.467</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{04cd5462-e32a-4a6c-b9e2-8f55eda63435}</key>
		<dict>
			<key>x1</key>
			<string>244.299</string>
			<key>y1</key>
			<string>308.987</string>
			<key>x2</key>
			<string>244.299</string>
			<key>y2</key>
			<string>324.177</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{57c24ffa-0948-4ccc-a5d2-916b40001db6}</key>
		<dict>
			<key>x1</key>
			<string>191.783</string>
			<key>y1</key>
			<string>303.872</string>
			<key>x2</key>
			<string>191.783</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{c78f1837-d64b-4545-a89f-ee9c6001ac1e}</key>
		<dict>
			<key>x1</key>
			<string>122.268</string>
			<key>y1</key>
			<string>306.506</string>
			<key>x2</key>
			<string>122.268</string>
			<key>y2</key>
			<string>322.317</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{e231a1e1-60cb-4fca-8f85-7e336a752ce9}</key>
		<dict>
			<key>x1</key>
			<string>71.8748</string>
			<key>y1</key>
			<string>303.872</string>
			<key>x2</key>
			<string>71.8748</string>
			<key>y2</key>
			<string>320.457</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{653a8ab0-eb63-4cc4-97d7-94a0fce7b3c9}</key>
		<dict>
			<key>x1</key>
			<string>501.35</string>
			<key>y1</key>
			<string>116.139</string>
			<key>x2</key>
			<string>501.35</string>
			<key>y2</key>
			<string>100.329</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{7c4a9c60-2a5c-434b-9683-a315abb4b0b6}</key>
		<dict>
			<key>x1</key>
			<string>450.631</string>
			<key>y1</key>
			<string>126.23</string>
			<key>x2</key>
			<string>450.631</string>
			<key>y2</key>
			<string>109.63</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e63ec500-2786-41a8-b5df-30d385381df6}</key>
		<dict>
			<key>x1</key>
			<string>379.904</string>
			<key>y1</key>
			<string>118.62</string>
			<key>x2</key>
			<string>379.904</string>
			<key>y2</key>
			<string>102.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c34da67f-c929-4fda-aad7-ee2be959f34f}</key>
		<dict>
			<key>x1</key>
			<string>329.184</string>
			<key>y1</key>
			<string>126.23</string>
			<key>x2</key>
			<string>329.184</string>
			<key>y2</key>
			<string>109.63</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{69082fd9-e6e1-4029-9adf-3a2cd5b06df0}</key>
		<dict>
			<key>x1</key>
			<string>258.457</string>
			<key>y1</key>
			<string>121.1</string>
			<key>x2</key>
			<string>258.457</string>
			<key>y2</key>
			<string>104.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{8c18ab06-2e4d-4051-92ea-fb3154b133fd}</key>
		<dict>
			<key>x1</key>
			<string>207.738</string>
			<key>y1</key>
			<string>126.23</string>
			<key>x2</key>
			<string>207.738</string>
			<key>y2</key>
			<string>109.63</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{0cd731e1-0514-4107-989c-566bee274d02}</key>
		<dict>
			<key>x1</key>
			<string>139.663</string>
			<key>y1</key>
			<string>123.58</string>
			<key>x2</key>
			<string>139.663</string>
			<key>y2</key>
			<string>107.15</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e82da8eb-48dc-4e77-b350-6bb8ebaf0ad9}</key>
		<dict>
			<key>x1</key>
			<string>91.0663</string>
			<key>y1</key>
			<string>126.23</string>
			<key>x2</key>
			<string>91.0663</string>
			<key>y2</key>
			<string>109.63</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
	</dict>
</dict>
</plist>