<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>我是这样唱</key>
	<dict>
		<key>85</key>
		<integer>131</integer>
		<key>75</key>
		<integer>114</integer>
	</dict>
	<key>头发肩膀膝盖脚</key>
	<dict>
		<key>85</key>
		<integer>128</integer>
		<key>75</key>
		<integer>110</integer>
	</dict>
	<key>我的手指跳跳跳</key>
	<dict>
		<key>85</key>
		<integer>110</integer>
		<key>75</key>
		<integer>98</integer>
	</dict>
	<key>十个朋友出来走</key>
	<dict>
		<key>85</key>
		<integer>77</integer>
		<key>75</key>
		<integer>68</integer>
	</dict>
	<key>乖孩子</key>
	<dict>
		<key>85</key>
		<integer>88</integer>
		<key>75</key>
		<integer>78</integer>
	</dict>
	<key>五指歌</key>
	<dict>
		<key>85</key>
		<integer>123</integer>
		<key>75</key>
		<integer>109</integer>
	</dict>
	<key>我有一双小小手</key>
	<dict>
		<key>85</key>
		<integer>128</integer>
		<key>75</key>
		<integer>112</integer>
	</dict>
	<key>我上幼儿园</key>
	<dict>
		<key>85</key>
		<integer>120</integer>
		<key>75</key>
		<integer>106</integer>
	</dict>
	<key>拍手唱歌笑哈哈</key>
	<dict>
		<key>85</key>
		<integer>84</integer>
		<key>75</key>
		<integer>76</integer>
	</dict>
	<key>我爱我的幼儿园</key>
	<dict>
		<key>85</key>
		<integer>128</integer>
		<key>75</key>
		<integer>112</integer>
	</dict>
</dict>
</plist>
