<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>99.1733</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>135.035</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>246.673</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>282.535</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>394.173</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>430.035</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{89198d7e-fc34-4135-bd39-4fc5bb6a7416}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c4a24a20-d48a-4b3b-b809-50e6cda10760}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{fb67860a-0212-4fff-993d-ea7f7c1a9ea9}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8b59812d-3611-4bd8-85b1-7a0b7bbf7af1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6ccb74ce-2fdd-43b2-a18e-e795e289ce75}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1f296405-9aa9-4d20-bfbd-bff5d4292c18}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8526a3d9-ca70-40bf-9e31-485e83d8b045}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c79afe1e-9df6-4439-ad60-83fd357431cc}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7bc73424-273d-453f-a110-77a8be321238}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8f91b48e-b9a5-4bd6-9dad-9bd739c8e7f9}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{2ae60ce5-3b07-407c-9795-fdd88e5c17c5}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{2c9186db-0a84-4580-b3c8-be6f9911d21d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{3c50d269-819d-43e2-8d08-0d82988f5dcd}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6e8e3dbe-7df6-46eb-af54-4206cb8d54a7}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{d23e6489-ebbb-4757-aea3-41917d5afe54}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f560acce-e86d-4e83-8ced-67ce2203c9a6}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{bd81e191-9def-417e-97a2-06ebd0997c3f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{75e5cd99-b3a7-4b89-b381-d3b9a956390f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f91b4e8d-bda4-4b6d-985e-48a3fb66d867}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{61aefa68-6b34-4f1e-a938-85041a14e45f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f360711e-d2f2-4fa7-82b0-cb52ff93de69}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e66a6378-10c0-4535-a155-a1671e0b570d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{549d68ab-7165-4137-b8dd-21bc79f32bc5}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7a0b8096-04b9-4ae2-b23f-f897eeeeb6f8}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{fc60334c-89b6-4661-99b2-d08015b0a2da}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c7f8e4e0-bb03-4511-be97-a2e15be0d2f5}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6358dc96-bf8e-4109-98e2-5c44161d7911}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c5e71e97-83cf-4843-bbfb-1ba84ad746d6}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{4d5436e3-f60e-4677-b834-b6c436066e3a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e15a064f-eecd-42c8-92a5-48dc65f229e8}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{469cfed4-dfd7-4c3e-8ef0-fb653cdb441e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b02b75f2-7221-45b4-9d29-181f00f279af}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{0af74176-0f1e-4815-b3d3-e59b1a606da0}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{fe405fde-7eb1-4b21-8cb2-4f996e888965}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{660adf4a-b9e9-4261-8de9-b9616b626ae8}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7d83a179-a5f1-4ece-9894-0d8ccaf6d3b3}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{4d03de80-69e9-4c4a-ab46-cf57b65cd7cc}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{cbec1284-a2bd-44e3-975b-2bc2c87f4782}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{857d047b-8a6b-4efa-a727-7847cce33f8b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1cfd5a1a-2d35-4299-9266-3d7be86bf7f3}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{0df6f1ff-6c1c-4a15-9997-20497b95a3ef}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f1533608-253d-4f73-9ddf-0c5fb9fa24dd}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{742b136a-a3d3-49d9-a884-e8afd2f8d21a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{717a68c0-40cb-4caa-b342-ad39c5a611a7}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{9ddddf61-b3e2-42a8-ba43-6e4835e2e1e4}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{419e6c7b-17a3-4921-a6ed-5ac823c5e211}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{5098d92e-6a4e-4474-936f-cfc95b3ea426}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{00d91235-93eb-4872-b2bd-d5590fcc05df}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a8e687f5-63cf-4d0b-ad02-e1772773066c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a99b7cb2-6d43-4ab8-8c90-9d08f00ddafb}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{3df5e874-7bb0-4eeb-9149-0cf304c6e5f8}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{38b8088d-4a25-4d33-ac50-ac5b1a0ad38d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{85a6d4d8-0b55-4854-a55c-3167a50438ef}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{82ebeb6b-13e2-41e5-a061-27ff3fccaf7e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{28d2ce5a-6833-4a8a-b21d-5814787287fe}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6758fca9-49fe-40fe-849e-c92e9a24166c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6e7e7b65-c053-4b06-b6ce-e51bd31d2715}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ce0a27a3-11a7-4485-a233-4bdd5d9e0cd1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{d086f16c-177e-4858-8b98-4591cb270fe6}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{fa7eba72-b772-4877-a501-a7019d791506}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a8f9347a-a38b-4f8d-87b4-0b0b8450ff12}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{bd42768d-f865-48f1-a3f9-ff8db926a19a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{bab47517-e573-41a3-8c92-80633561658c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{fbe017a7-73c6-4a81-af49-70fb0c36221c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{5a52b58f-a46e-415d-90e3-3e532211c7d0}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{28e4873a-5321-45f8-ae69-f52b7a5ac9e3}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{3a847cb7-8c6e-4ec2-95be-2b55d1c6010f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1f0abfef-912a-4663-9cd9-0230d8d35eae}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{43c509a8-d6c3-47fa-acf2-2ed6997f2174}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{5461aa08-09bc-4cfb-86d8-92a30ace6f24}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ad365a11-bb6f-44ce-bb6e-7a0488aa14bf}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f18a12ef-a536-4ff0-996f-b8414e4db47f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{17a24849-ca2c-41a5-bbbc-d3a0d3ddf870}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f4d8d0d3-ecb3-4b49-8aef-452b09baa6cd}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{eab55bcd-bbeb-4f44-bf70-0fc8669f7f5b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{42104716-dd87-4250-b86f-2cec879bd8a1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{89198d7e-fc34-4135-bd39-4fc5bb6a7416}</key>
		<dict>
			<key>x1</key>
			<string>511.745</string>
			<key>y1</key>
			<string>410.734</string>
			<key>x2</key>
			<string>511.745</string>
			<key>y2</key>
			<string>394.173</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{c4a24a20-d48a-4b3b-b809-50e6cda10760}</key>
		<dict>
			<key>x1</key>
			<string>494.149</string>
			<key>y1</key>
			<string>408.234</string>
			<key>x2</key>
			<string>494.149</string>
			<key>y2</key>
			<string>394.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{fb67860a-0212-4fff-993d-ea7f7c1a9ea9}</key>
		<dict>
			<key>x1</key>
			<string>470.44</string>
			<key>y1</key>
			<string>452.458</string>
			<key>x2</key>
			<string>470.44</string>
			<key>y2</key>
			<string>468.549</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{8b59812d-3611-4bd8-85b1-7a0b7bbf7af1}</key>
		<dict>
			<key>x1</key>
			<string>476.554</string>
			<key>y1</key>
			<string>413.234</string>
			<key>x2</key>
			<string>476.554</string>
			<key>y2</key>
			<string>399.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{6ccb74ce-2fdd-43b2-a18e-e795e289ce75}</key>
		<dict>
			<key>x1</key>
			<string>441.035</string>
			<key>y1</key>
			<string>418.234</string>
			<key>x2</key>
			<string>441.035</string>
			<key>y2</key>
			<string>401.673</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{1f296405-9aa9-4d20-bfbd-bff5d4292c18}</key>
		<dict>
			<key>x1</key>
			<string>412.498</string>
			<key>y1</key>
			<string>408.234</string>
			<key>x2</key>
			<string>412.498</string>
			<key>y2</key>
			<string>392.298</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{8526a3d9-ca70-40bf-9e31-485e83d8b045}</key>
		<dict>
			<key>x1</key>
			<string>394.662</string>
			<key>y1</key>
			<string>405.734</string>
			<key>x2</key>
			<string>394.662</string>
			<key>y2</key>
			<string>392.923</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{c79afe1e-9df6-4439-ad60-83fd357431cc}</key>
		<dict>
			<key>x1</key>
			<string>377.006</string>
			<key>y1</key>
			<string>458.406</string>
			<key>x2</key>
			<string>377.006</string>
			<key>y2</key>
			<string>442.923</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{7bc73424-273d-453f-a110-77a8be321238}</key>
		<dict>
			<key>x1</key>
			<string>376.826</string>
			<key>y1</key>
			<string>410.734</string>
			<key>x2</key>
			<string>376.826</string>
			<key>y2</key>
			<string>395.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{8f91b48e-b9a5-4bd6-9dad-9bd739c8e7f9}</key>
		<dict>
			<key>x1</key>
			<string>341.307</string>
			<key>y1</key>
			<string>410.734</string>
			<key>x2</key>
			<string>341.307</string>
			<key>y2</key>
			<string>394.173</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{2ae60ce5-3b07-407c-9795-fdd88e5c17c5}</key>
		<dict>
			<key>x1</key>
			<string>312.77</string>
			<key>y1</key>
			<string>405.734</string>
			<key>x2</key>
			<string>312.77</string>
			<key>y2</key>
			<string>390.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{2c9186db-0a84-4580-b3c8-be6f9911d21d}</key>
		<dict>
			<key>x1</key>
			<string>294.933</string>
			<key>y1</key>
			<string>408.234</string>
			<key>x2</key>
			<string>294.933</string>
			<key>y2</key>
			<string>394.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{3c50d269-819d-43e2-8d08-0d82988f5dcd}</key>
		<dict>
			<key>x1</key>
			<string>270.984</string>
			<key>y1</key>
			<string>452.458</string>
			<key>x2</key>
			<string>270.984</string>
			<key>y2</key>
			<string>468.549</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{6e8e3dbe-7df6-46eb-af54-4206cb8d54a7}</key>
		<dict>
			<key>x1</key>
			<string>277.097</string>
			<key>y1</key>
			<string>405.734</string>
			<key>x2</key>
			<string>277.097</string>
			<key>y2</key>
			<string>392.923</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{d23e6489-ebbb-4757-aea3-41917d5afe54}</key>
		<dict>
			<key>x1</key>
			<string>233.605</string>
			<key>y1</key>
			<string>405.113</string>
			<key>x2</key>
			<string>233.605</string>
			<key>y2</key>
			<string>419.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{f560acce-e86d-4e83-8ced-67ce2203c9a6}</key>
		<dict>
			<key>x1</key>
			<string>203.026</string>
			<key>y1</key>
			<string>405.113</string>
			<key>x2</key>
			<string>203.026</string>
			<key>y2</key>
			<string>419.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{bd81e191-9def-417e-97a2-06ebd0997c3f}</key>
		<dict>
			<key>x1</key>
			<string>189.847</string>
			<key>y1</key>
			<string>405.734</string>
			<key>x2</key>
			<string>189.847</string>
			<key>y2</key>
			<string>392.923</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{75e5cd99-b3a7-4b89-b381-d3b9a956390f}</key>
		<dict>
			<key>x1</key>
			<string>164.622</string>
			<key>y1</key>
			<string>454.958</string>
			<key>x2</key>
			<string>164.622</string>
			<key>y2</key>
			<string>470.424</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{f91b4e8d-bda4-4b6d-985e-48a3fb66d867}</key>
		<dict>
			<key>x1</key>
			<string>170.735</string>
			<key>y1</key>
			<string>408.234</string>
			<key>x2</key>
			<string>170.735</string>
			<key>y2</key>
			<string>394.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{61aefa68-6b34-4f1e-a938-85041a14e45f}</key>
		<dict>
			<key>x1</key>
			<string>110.414</string>
			<key>y1</key>
			<string>408.234</string>
			<key>x2</key>
			<string>110.414</string>
			<key>y2</key>
			<string>392.298</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{f360711e-d2f2-4fa7-82b0-cb52ff93de69}</key>
		<dict>
			<key>x1</key>
			<string>93.745</string>
			<key>y1</key>
			<string>405.734</string>
			<key>x2</key>
			<string>93.745</string>
			<key>y2</key>
			<string>390.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{e66a6378-10c0-4535-a155-a1671e0b570d}</key>
		<dict>
			<key>x1</key>
			<string>70.9629</string>
			<key>y1</key>
			<string>454.958</string>
			<key>x2</key>
			<string>70.9629</string>
			<key>y2</key>
			<string>470.424</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{549d68ab-7165-4137-b8dd-21bc79f32bc5}</key>
		<dict>
			<key>x1</key>
			<string>77.0762</string>
			<key>y1</key>
			<string>403.234</string>
			<key>x2</key>
			<string>77.0762</string>
			<key>y2</key>
			<string>389.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{7a0b8096-04b9-4ae2-b23f-f897eeeeb6f8}</key>
		<dict>
			<key>x1</key>
			<string>541.214</string>
			<key>y1</key>
			<string>255.112</string>
			<key>x2</key>
			<string>541.214</string>
			<key>y2</key>
			<string>270.423</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{fc60334c-89b6-4661-99b2-d08015b0a2da}</key>
		<dict>
			<key>x1</key>
			<string>515.809</string>
			<key>y1</key>
			<string>255.112</string>
			<key>x2</key>
			<string>515.809</string>
			<key>y2</key>
			<string>270.423</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{c7f8e4e0-bb03-4511-be97-a2e15be0d2f5}</key>
		<dict>
			<key>x1</key>
			<string>505.864</string>
			<key>y1</key>
			<string>258.234</string>
			<key>x2</key>
			<string>505.864</string>
			<key>y2</key>
			<string>245.423</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{6358dc96-bf8e-4109-98e2-5c44161d7911}</key>
		<dict>
			<key>x1</key>
			<string>483.873</string>
			<key>y1</key>
			<string>304.957</string>
			<key>x2</key>
			<string>483.873</string>
			<key>y2</key>
			<string>321.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{c5e71e97-83cf-4843-bbfb-1ba84ad746d6}</key>
		<dict>
			<key>x1</key>
			<string>489.987</string>
			<key>y1</key>
			<string>263.234</string>
			<key>x2</key>
			<string>489.987</string>
			<key>y2</key>
			<string>247.923</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{4d5436e3-f60e-4677-b834-b6c436066e3a}</key>
		<dict>
			<key>x1</key>
			<string>457.602</string>
			<key>y1</key>
			<string>263.234</string>
			<key>x2</key>
			<string>457.602</string>
			<key>y2</key>
			<string>246.673</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{e15a064f-eecd-42c8-92a5-48dc65f229e8}</key>
		<dict>
			<key>x1</key>
			<string>432.197</string>
			<key>y1</key>
			<string>258.234</string>
			<key>x2</key>
			<string>432.197</string>
			<key>y2</key>
			<string>242.923</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{469cfed4-dfd7-4c3e-8ef0-fb653cdb441e}</key>
		<dict>
			<key>x1</key>
			<string>416.319</string>
			<key>y1</key>
			<string>258.234</string>
			<key>x2</key>
			<string>416.319</string>
			<key>y2</key>
			<string>245.423</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{b02b75f2-7221-45b4-9d29-181f00f279af}</key>
		<dict>
			<key>x1</key>
			<string>394.328</string>
			<key>y1</key>
			<string>304.957</string>
			<key>x2</key>
			<string>394.328</string>
			<key>y2</key>
			<string>321.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{0af74176-0f1e-4815-b3d3-e59b1a606da0}</key>
		<dict>
			<key>x1</key>
			<string>400.441</string>
			<key>y1</key>
			<string>258.234</string>
			<key>x2</key>
			<string>400.441</string>
			<key>y2</key>
			<string>245.423</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{fe405fde-7eb1-4b21-8cb2-4f996e888965}</key>
		<dict>
			<key>x1</key>
			<string>368.056</string>
			<key>y1</key>
			<string>270.734</string>
			<key>x2</key>
			<string>368.056</string>
			<key>y2</key>
			<string>254.173</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{660adf4a-b9e9-4261-8de9-b9616b626ae8}</key>
		<dict>
			<key>x1</key>
			<string>342.652</string>
			<key>y1</key>
			<string>263.234</string>
			<key>x2</key>
			<string>342.652</string>
			<key>y2</key>
			<string>246.673</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{7d83a179-a5f1-4ece-9894-0d8ccaf6d3b3}</key>
		<dict>
			<key>x1</key>
			<string>326.774</string>
			<key>y1</key>
			<string>263.234</string>
			<key>x2</key>
			<string>326.774</string>
			<key>y2</key>
			<string>247.923</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{4d03de80-69e9-4c4a-ab46-cf57b65cd7cc}</key>
		<dict>
			<key>x1</key>
			<string>304.783</string>
			<key>y1</key>
			<string>304.957</string>
			<key>x2</key>
			<string>304.783</string>
			<key>y2</key>
			<string>321.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{cbec1284-a2bd-44e3-975b-2bc2c87f4782}</key>
		<dict>
			<key>x1</key>
			<string>310.896</string>
			<key>y1</key>
			<string>263.234</string>
			<key>x2</key>
			<string>310.896</string>
			<key>y2</key>
			<string>247.923</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{857d047b-8a6b-4efa-a727-7847cce33f8b}</key>
		<dict>
			<key>x1</key>
			<string>186.912</string>
			<key>y1</key>
			<string>263.234</string>
			<key>x2</key>
			<string>186.912</string>
			<key>y2</key>
			<string>246.673</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{1cfd5a1a-2d35-4299-9266-3d7be86bf7f3}</key>
		<dict>
			<key>x1</key>
			<string>171.274</string>
			<key>y1</key>
			<string>260.734</string>
			<key>x2</key>
			<string>171.274</string>
			<key>y2</key>
			<string>246.673</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{0df6f1ff-6c1c-4a15-9997-20497b95a3ef}</key>
		<dict>
			<key>x1</key>
			<string>149.524</string>
			<key>y1</key>
			<string>304.957</string>
			<key>x2</key>
			<string>149.524</string>
			<key>y2</key>
			<string>321.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{f1533608-253d-4f73-9ddf-0c5fb9fa24dd}</key>
		<dict>
			<key>x1</key>
			<string>155.637</string>
			<key>y1</key>
			<string>265.734</string>
			<key>x2</key>
			<string>155.637</string>
			<key>y2</key>
			<string>251.673</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{742b136a-a3d3-49d9-a884-e8afd2f8d21a}</key>
		<dict>
			<key>x1</key>
			<string>124.735</string>
			<key>y1</key>
			<string>270.734</string>
			<key>x2</key>
			<string>124.735</string>
			<key>y2</key>
			<string>254.173</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{717a68c0-40cb-4caa-b342-ad39c5a611a7}</key>
		<dict>
			<key>x1</key>
			<string>100.813</string>
			<key>y1</key>
			<string>260.734</string>
			<key>x2</key>
			<string>100.813</string>
			<key>y2</key>
			<string>244.798</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{9ddddf61-b3e2-42a8-ba43-6e4835e2e1e4}</key>
		<dict>
			<key>x1</key>
			<string>85.8623</string>
			<key>y1</key>
			<string>258.234</string>
			<key>x2</key>
			<string>85.8623</string>
			<key>y2</key>
			<string>245.423</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{419e6c7b-17a3-4921-a6ed-5ac823c5e211}</key>
		<dict>
			<key>x1</key>
			<string>71.0918</string>
			<key>y1</key>
			<string>310.905</string>
			<key>x2</key>
			<string>71.0918</string>
			<key>y2</key>
			<string>295.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{5098d92e-6a4e-4474-936f-cfc95b3ea426}</key>
		<dict>
			<key>x1</key>
			<string>70.9113</string>
			<key>y1</key>
			<string>263.234</string>
			<key>x2</key>
			<string>70.9113</string>
			<key>y2</key>
			<string>247.923</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{00d91235-93eb-4872-b2bd-d5590fcc05df}</key>
		<dict>
			<key>x1</key>
			<string>549.314</string>
			<key>y1</key>
			<string>115.734</string>
			<key>x2</key>
			<string>549.314</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{a8e687f5-63cf-4d0b-ad02-e1772773066c}</key>
		<dict>
			<key>x1</key>
			<string>526.077</string>
			<key>y1</key>
			<string>110.734</string>
			<key>x2</key>
			<string>526.077</string>
			<key>y2</key>
			<string>95.4233</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{a99b7cb2-6d43-4ab8-8c90-9d08f00ddafb}</key>
		<dict>
			<key>x1</key>
			<string>511.554</string>
			<key>y1</key>
			<string>113.234</string>
			<key>x2</key>
			<string>511.554</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{3df5e874-7bb0-4eeb-9149-0cf304c6e5f8}</key>
		<dict>
			<key>x1</key>
			<string>490.918</string>
			<key>y1</key>
			<string>157.457</string>
			<key>x2</key>
			<string>490.918</string>
			<key>y2</key>
			<string>173.548</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{38b8088d-4a25-4d33-ac50-ac5b1a0ad38d}</key>
		<dict>
			<key>x1</key>
			<string>497.031</string>
			<key>y1</key>
			<string>110.734</string>
			<key>x2</key>
			<string>497.031</string>
			<key>y2</key>
			<string>97.9233</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{85a6d4d8-0b55-4854-a55c-3167a50438ef}</key>
		<dict>
			<key>x1</key>
			<string>458.839</string>
			<key>y1</key>
			<string>110.112</string>
			<key>x2</key>
			<string>458.839</string>
			<key>y2</key>
			<string>124.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{82ebeb6b-13e2-41e5-a061-27ff3fccaf7e}</key>
		<dict>
			<key>x1</key>
			<string>433.561</string>
			<key>y1</key>
			<string>110.112</string>
			<key>x2</key>
			<string>433.561</string>
			<key>y2</key>
			<string>124.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{28d2ce5a-6833-4a8a-b21d-5814787287fe}</key>
		<dict>
			<key>x1</key>
			<string>423.695</string>
			<key>y1</key>
			<string>110.734</string>
			<key>x2</key>
			<string>423.695</string>
			<key>y2</key>
			<string>97.9233</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{6758fca9-49fe-40fe-849e-c92e9a24166c}</key>
		<dict>
			<key>x1</key>
			<string>401.782</string>
			<key>y1</key>
			<string>159.957</string>
			<key>x2</key>
			<string>401.782</string>
			<key>y2</key>
			<string>175.423</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{6e7e7b65-c053-4b06-b6ce-e51bd31d2715}</key>
		<dict>
			<key>x1</key>
			<string>407.896</string>
			<key>y1</key>
			<string>113.234</string>
			<key>x2</key>
			<string>407.896</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{ce0a27a3-11a7-4485-a233-4bdd5d9e0cd1}</key>
		<dict>
			<key>x1</key>
			<string>356.413</string>
			<key>y1</key>
			<string>113.234</string>
			<key>x2</key>
			<string>356.413</string>
			<key>y2</key>
			<string>97.2983</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{d086f16c-177e-4858-8b98-4591cb270fe6}</key>
		<dict>
			<key>x1</key>
			<string>342.506</string>
			<key>y1</key>
			<string>110.734</string>
			<key>x2</key>
			<string>342.506</string>
			<key>y2</key>
			<string>95.4233</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{fa7eba72-b772-4877-a501-a7019d791506}</key>
		<dict>
			<key>x1</key>
			<string>322.485</string>
			<key>y1</key>
			<string>159.957</string>
			<key>x2</key>
			<string>322.485</string>
			<key>y2</key>
			<string>175.423</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{a8f9347a-a38b-4f8d-87b4-0b0b8450ff12}</key>
		<dict>
			<key>x1</key>
			<string>328.599</string>
			<key>y1</key>
			<string>108.234</string>
			<key>x2</key>
			<string>328.599</string>
			<key>y2</key>
			<string>94.1733</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{bd42768d-f865-48f1-a3f9-ff8db926a19a}</key>
		<dict>
			<key>x1</key>
			<string>290.494</string>
			<key>y1</key>
			<string>107.612</string>
			<key>x2</key>
			<string>290.494</string>
			<key>y2</key>
			<string>122.923</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{bab47517-e573-41a3-8c92-80633561658c}</key>
		<dict>
			<key>x1</key>
			<string>267.257</string>
			<key>y1</key>
			<string>107.612</string>
			<key>x2</key>
			<string>267.257</string>
			<key>y2</key>
			<string>122.923</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{fbe017a7-73c6-4a81-af49-70fb0c36221c}</key>
		<dict>
			<key>x1</key>
			<string>258.667</string>
			<key>y1</key>
			<string>110.734</string>
			<key>x2</key>
			<string>258.667</string>
			<key>y2</key>
			<string>97.9233</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{5a52b58f-a46e-415d-90e3-3e532211c7d0}</key>
		<dict>
			<key>x1</key>
			<string>238.03</string>
			<key>y1</key>
			<string>157.457</string>
			<key>x2</key>
			<string>238.03</string>
			<key>y2</key>
			<string>173.548</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{28e4873a-5321-45f8-ae69-f52b7a5ac9e3}</key>
		<dict>
			<key>x1</key>
			<string>244.144</string>
			<key>y1</key>
			<string>115.734</string>
			<key>x2</key>
			<string>244.144</string>
			<key>y2</key>
			<string>100.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{3a847cb7-8c6e-4ec2-95be-2b55d1c6010f}</key>
		<dict>
			<key>x1</key>
			<string>213.926</string>
			<key>y1</key>
			<string>115.734</string>
			<key>x2</key>
			<string>213.926</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{1f0abfef-912a-4663-9cd9-0230d8d35eae}</key>
		<dict>
			<key>x1</key>
			<string>190.689</string>
			<key>y1</key>
			<string>110.734</string>
			<key>x2</key>
			<string>190.689</string>
			<key>y2</key>
			<string>95.4233</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{43c509a8-d6c3-47fa-acf2-2ed6997f2174}</key>
		<dict>
			<key>x1</key>
			<string>176.166</string>
			<key>y1</key>
			<string>110.734</string>
			<key>x2</key>
			<string>176.166</string>
			<key>y2</key>
			<string>97.9233</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{5461aa08-09bc-4cfb-86d8-92a30ace6f24}</key>
		<dict>
			<key>x1</key>
			<string>155.529</string>
			<key>y1</key>
			<string>157.457</string>
			<key>x2</key>
			<string>155.529</string>
			<key>y2</key>
			<string>173.548</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{ad365a11-bb6f-44ce-bb6e-7a0488aa14bf}</key>
		<dict>
			<key>x1</key>
			<string>161.643</string>
			<key>y1</key>
			<string>110.734</string>
			<key>x2</key>
			<string>161.643</string>
			<key>y2</key>
			<string>97.9233</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{f18a12ef-a536-4ff0-996f-b8414e4db47f}</key>
		<dict>
			<key>x1</key>
			<string>132.908</string>
			<key>y1</key>
			<string>123.234</string>
			<key>x2</key>
			<string>132.908</string>
			<key>y2</key>
			<string>106.673</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{17a24849-ca2c-41a5-bbbc-d3a0d3ddf870}</key>
		<dict>
			<key>x1</key>
			<string>111.154</string>
			<key>y1</key>
			<string>115.734</string>
			<key>x2</key>
			<string>111.154</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{f4d8d0d3-ecb3-4b49-8aef-452b09baa6cd}</key>
		<dict>
			<key>x1</key>
			<string>97.5577</string>
			<key>y1</key>
			<string>115.734</string>
			<key>x2</key>
			<string>97.5577</string>
			<key>y2</key>
			<string>100.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{eab55bcd-bbeb-4f44-bf70-0fc8669f7f5b}</key>
		<dict>
			<key>x1</key>
			<string>77.848</string>
			<key>y1</key>
			<string>157.457</string>
			<key>x2</key>
			<string>77.848</string>
			<key>y2</key>
			<string>173.548</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{42104716-dd87-4250-b86f-2cec879bd8a1}</key>
		<dict>
			<key>x1</key>
			<string>83.9613</string>
			<key>y1</key>
			<string>115.734</string>
			<key>x2</key>
			<string>83.9613</string>
			<key>y2</key>
			<string>100.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
	</dict>
</dict>
</plist>