<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>82.7435</string>
			<key>y</key>
			<string>100.258</string>
			<key>bx</key>
			<string>82.7435</string>
			<key>by</key>
			<string>136.013</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>61.4836</string>
			<key>y</key>
			<string>236.321</string>
			<key>bx</key>
			<string>61.4836</string>
			<key>by</key>
			<string>272.076</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>61.4836</string>
			<key>y</key>
			<string>372.384</string>
			<key>bx</key>
			<string>61.4836</string>
			<key>by</key>
			<string>408.139</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{b7e0770c-558a-4f07-bee0-26e772c5b61a}</key>
		<dict>
			<key>x</key>
			<string>497.746</string>
			<key>y</key>
			<string>427.66</string>
		</dict>
		<key>{4d62be9a-8600-45fe-908b-c5a579df1dcb}</key>
		<dict>
			<key>x</key>
			<string>497.746</string>
			<key>y</key>
			<string>431.912</string>
		</dict>
		<key>{b5c740ca-1d84-4706-a80b-02b1b5ea9ac2}</key>
		<dict>
			<key>x</key>
			<string>497.746</string>
			<key>y</key>
			<string>387.266</string>
		</dict>
		<key>{b22ff8e2-de49-489e-8d7b-8ed46ea8badd}</key>
		<dict>
			<key>x</key>
			<string>472.708</string>
			<key>y</key>
			<string>383.014</string>
		</dict>
		<key>{cf2471b0-e716-4183-9ea7-28e1af5b29bf}</key>
		<dict>
			<key>x</key>
			<string>453.453</string>
			<key>y</key>
			<string>438.29</string>
		</dict>
		<key>{d024aa60-cbac-4961-8348-16882eb8b3ed}</key>
		<dict>
			<key>x</key>
			<string>453.453</string>
			<key>y</key>
			<string>385.14</string>
		</dict>
		<key>{c8deb3ec-348c-4f03-8dbb-94fbc047c131}</key>
		<dict>
			<key>x</key>
			<string>434.198</string>
			<key>y</key>
			<string>387.266</string>
		</dict>
		<key>{a6e3c24b-30a2-46aa-bb84-84c5471db1d3}</key>
		<dict>
			<key>x</key>
			<string>414.942</string>
			<key>y</key>
			<string>436.164</string>
		</dict>
		<key>{b1c04b26-fae9-43fe-9ab6-b49e196ba76b}</key>
		<dict>
			<key>x</key>
			<string>414.942</string>
			<key>y</key>
			<string>391.518</string>
		</dict>
		<key>{52315dad-150a-4670-a925-0f825d6467f1}</key>
		<dict>
			<key>x</key>
			<string>389.904</string>
			<key>y</key>
			<string>383.014</string>
		</dict>
		<key>{b79286c9-03ba-48d1-9d2b-592908b725fe}</key>
		<dict>
			<key>x</key>
			<string>370.649</string>
			<key>y</key>
			<string>385.14</string>
		</dict>
		<key>{cc4a2fe6-0562-43ee-9c7c-7188f6943e1b}</key>
		<dict>
			<key>x</key>
			<string>351.393</string>
			<key>y</key>
			<string>383.014</string>
		</dict>
		<key>{f8d561ba-bb85-4331-88f6-4762b6a77377}</key>
		<dict>
			<key>x</key>
			<string>332.138</string>
			<key>y</key>
			<string>431.912</string>
		</dict>
		<key>{49c60c7b-8ac6-45bd-9290-1b0f0052fa96}</key>
		<dict>
			<key>x</key>
			<string>332.138</string>
			<key>y</key>
			<string>438.29</string>
		</dict>
		<key>{6a9a86aa-1223-4a7f-baa4-20657c41f5c3}</key>
		<dict>
			<key>x</key>
			<string>332.138</string>
			<key>y</key>
			<string>378.762</string>
		</dict>
		<key>{ce9d9adc-367a-4dcb-888b-ddce2ad01090}</key>
		<dict>
			<key>x</key>
			<string>307.1</string>
			<key>y</key>
			<string>383.014</string>
		</dict>
		<key>{90ce6dff-ed67-435a-a6b4-e4d542534f02}</key>
		<dict>
			<key>x</key>
			<string>287.845</string>
			<key>y</key>
			<string>385.14</string>
		</dict>
		<key>{676a5d26-5d2e-4242-b0ff-2c7c2283ec0d}</key>
		<dict>
			<key>x</key>
			<string>268.589</string>
			<key>y</key>
			<string>383.014</string>
		</dict>
		<key>{4805dcf4-38ee-4940-8ced-911b882117e1}</key>
		<dict>
			<key>x</key>
			<string>249.334</string>
			<key>y</key>
			<string>431.912</string>
		</dict>
		<key>{189e1796-546d-454a-bf36-34af4cddee62}</key>
		<dict>
			<key>x</key>
			<string>249.334</string>
			<key>y</key>
			<string>438.29</string>
		</dict>
		<key>{1a87e879-5fa5-4e05-a966-9afabd59e619}</key>
		<dict>
			<key>x</key>
			<string>249.334</string>
			<key>y</key>
			<string>378.762</string>
		</dict>
		<key>{74000e78-3c3b-4811-9eef-ad3ef376e6e2}</key>
		<dict>
			<key>x</key>
			<string>224.679</string>
			<key>y</key>
			<string>429.786</string>
		</dict>
		<key>{f6374644-5ade-4f85-8d04-0dcea827a6cb}</key>
		<dict>
			<key>x</key>
			<string>205.807</string>
			<key>y</key>
			<string>434.038</string>
		</dict>
		<key>{260ab54c-546d-48a7-8df1-f56c14bd67ae}</key>
		<dict>
			<key>x</key>
			<string>186.936</string>
			<key>y</key>
			<string>438.29</string>
		</dict>
		<key>{5ebe6729-a37f-4993-9cff-5b8b05339222}</key>
		<dict>
			<key>x</key>
			<string>167.91</string>
			<key>y</key>
			<string>378.762</string>
		</dict>
		<key>{14a18618-136a-4394-a83a-cb1c36ab249f}</key>
		<dict>
			<key>x</key>
			<string>143.91</string>
			<key>y</key>
			<string>427.66</string>
		</dict>
		<key>{05157f4c-a066-4003-a956-84808e899600}</key>
		<dict>
			<key>x</key>
			<string>143.91</string>
			<key>y</key>
			<string>383.014</string>
		</dict>
		<key>{baa1223f-f7ee-4bf8-b08c-b7de37f55e8e}</key>
		<dict>
			<key>x</key>
			<string>125.692</string>
			<key>y</key>
			<string>434.038</string>
		</dict>
		<key>{4b127c18-e228-4ce3-b34f-47aff389ecb2}</key>
		<dict>
			<key>x</key>
			<string>125.692</string>
			<key>y</key>
			<string>385.14</string>
		</dict>
		<key>{2f81e7cd-172d-4868-899d-ca3569c492cf}</key>
		<dict>
			<key>x</key>
			<string>107.474</string>
			<key>y</key>
			<string>438.29</string>
		</dict>
		<key>{098b789b-7196-49e4-a9b0-67fcbe389010}</key>
		<dict>
			<key>x</key>
			<string>107.474</string>
			<key>y</key>
			<string>383.014</string>
		</dict>
		<key>{8a04af3d-b0c0-4a04-b782-2ef304512364}</key>
		<dict>
			<key>x</key>
			<string>89.2562</string>
			<key>y</key>
			<string>378.762</string>
		</dict>
		<key>{7df31814-3ea0-41cd-8a81-6aa247533314}</key>
		<dict>
			<key>x</key>
			<string>535.831</string>
			<key>y</key>
			<string>291.597</string>
		</dict>
		<key>{b8f6f337-64b5-47f3-a4b4-7c205d12cc01}</key>
		<dict>
			<key>x</key>
			<string>512.897</string>
			<key>y</key>
			<string>295.849</string>
		</dict>
		<key>{cec6f0c3-b118-4381-aded-69cc6dded856}</key>
		<dict>
			<key>x</key>
			<string>512.897</string>
			<key>y</key>
			<string>242.699</string>
		</dict>
		<key>{a31450de-2309-4be2-a824-7257dc32ded8}</key>
		<dict>
			<key>x</key>
			<string>489.962</string>
			<key>y</key>
			<string>300.101</string>
		</dict>
		<key>{ac6c007e-e376-431b-82b5-97944be59d0e}</key>
		<dict>
			<key>x</key>
			<string>489.962</string>
			<key>y</key>
			<string>240.573</string>
		</dict>
		<key>{08b8d508-5373-4241-b430-2347e95467c8}</key>
		<dict>
			<key>x</key>
			<string>467.028</string>
			<key>y</key>
			<string>246.951</string>
		</dict>
		<key>{29ed95b3-779f-4493-b9f9-9fb7ba676530}</key>
		<dict>
			<key>x</key>
			<string>447.37</string>
			<key>y</key>
			<string>242.699</string>
		</dict>
		<key>{e9b33b86-1ca7-41ab-b6bd-9232827305d0}</key>
		<dict>
			<key>x</key>
			<string>433.581</string>
			<key>y</key>
			<string>291.597</string>
		</dict>
		<key>{0e0920d3-8e94-4bbe-b5e9-07018b78c93d}</key>
		<dict>
			<key>x</key>
			<string>411.517</string>
			<key>y</key>
			<string>295.849</string>
		</dict>
		<key>{f3579bd8-bf7c-4789-ba54-27d99b79d5c7}</key>
		<dict>
			<key>x</key>
			<string>411.517</string>
			<key>y</key>
			<string>240.573</string>
		</dict>
		<key>{f8c4387f-436b-4478-9412-dbcb0275e243}</key>
		<dict>
			<key>x</key>
			<string>389.453</string>
			<key>y</key>
			<string>300.101</string>
		</dict>
		<key>{8974c851-73a2-48b4-b9fa-c25cf4326dca}</key>
		<dict>
			<key>x</key>
			<string>367.389</string>
			<key>y</key>
			<string>240.573</string>
		</dict>
		<key>{c34cc287-57af-4b76-a820-32971af0c3dd}</key>
		<dict>
			<key>x</key>
			<string>323.849</string>
			<key>y</key>
			<string>293.723</string>
		</dict>
		<key>{c1ecc1fc-9fdc-435b-ab4f-46c461c40a99}</key>
		<dict>
			<key>x</key>
			<string>323.849</string>
			<key>y</key>
			<string>300.101</string>
		</dict>
		<key>{33e62190-2166-4065-b31d-9d7302a43b04}</key>
		<dict>
			<key>x</key>
			<string>323.849</string>
			<key>y</key>
			<string>249.077</string>
		</dict>
		<key>{c8479561-7da2-497e-a64b-4dc9abf6ea31}</key>
		<dict>
			<key>x</key>
			<string>323.849</string>
			<key>y</key>
			<string>255.455</string>
		</dict>
		<key>{64acc819-9a95-4f45-a45c-d736ef183667}</key>
		<dict>
			<key>x</key>
			<string>300.304</string>
			<key>y</key>
			<string>251.203</string>
		</dict>
		<key>{a6b799bb-9e1d-406f-aa5f-68e6e2e700cb}</key>
		<dict>
			<key>x</key>
			<string>276.759</string>
			<key>y</key>
			<string>255.455</string>
		</dict>
		<key>{4931af3e-0cb3-4c2d-9bfe-ff7f8177c33a}</key>
		<dict>
			<key>x</key>
			<string>232.905</string>
			<key>y</key>
			<string>293.723</string>
		</dict>
		<key>{95eb3d7f-49ed-45a6-b66a-fa8ed2a0dade}</key>
		<dict>
			<key>x</key>
			<string>232.905</string>
			<key>y</key>
			<string>302.227</string>
		</dict>
		<key>{841e46f3-fd69-4d5e-a343-ca8f5966d593}</key>
		<dict>
			<key>x</key>
			<string>232.905</string>
			<key>y</key>
			<string>249.077</string>
		</dict>
		<key>{4e3a0312-b8c7-4ed8-8e51-8c370d93e55c}</key>
		<dict>
			<key>x</key>
			<string>232.905</string>
			<key>y</key>
			<string>253.329</string>
		</dict>
		<key>{3d894d04-1eb4-4bad-9777-d907aa30c98f}</key>
		<dict>
			<key>x</key>
			<string>209.36</string>
			<key>y</key>
			<string>246.951</string>
		</dict>
		<key>{f0b0f36e-c839-4ca0-ab18-823ff797062c}</key>
		<dict>
			<key>x</key>
			<string>185.815</string>
			<key>y</key>
			<string>246.951</string>
		</dict>
		<key>{a4f312f1-d30a-4884-8046-bf5c2a6144e0}</key>
		<dict>
			<key>x</key>
			<string>134.402</string>
			<key>y</key>
			<string>293.723</string>
		</dict>
		<key>{24662d88-6dce-4027-98d8-292e4a69bd45}</key>
		<dict>
			<key>x</key>
			<string>134.402</string>
			<key>y</key>
			<string>249.077</string>
		</dict>
		<key>{19a92a3d-53b0-4645-83e5-587ceed352fc}</key>
		<dict>
			<key>x</key>
			<string>111.787</string>
			<key>y</key>
			<string>295.849</string>
		</dict>
		<key>{78b3850a-1157-44b7-aa6e-ff1f87384cd2}</key>
		<dict>
			<key>x</key>
			<string>111.787</string>
			<key>y</key>
			<string>246.951</string>
		</dict>
		<key>{d47b6888-fdf6-41d3-bff6-7492fe41efd4}</key>
		<dict>
			<key>x</key>
			<string>89.1711</string>
			<key>y</key>
			<string>291.597</string>
		</dict>
		<key>{04abce7b-9532-4478-9a2d-97072af17950}</key>
		<dict>
			<key>x</key>
			<string>89.1711</string>
			<key>y</key>
			<string>251.203</string>
		</dict>
		<key>{265ba249-29fb-4c82-95dd-b9f54ce6c856}</key>
		<dict>
			<key>x</key>
			<string>546.219</string>
			<key>y</key>
			<string>113.014</string>
		</dict>
		<key>{a27d0590-cfc2-4e2a-8b2b-530081db8225}</key>
		<dict>
			<key>x</key>
			<string>533.673</string>
			<key>y</key>
			<string>110.888</string>
		</dict>
		<key>{f58812bc-4f05-4ffb-9c97-625e8ec90a75}</key>
		<dict>
			<key>x</key>
			<string>513.6</string>
			<key>y</key>
			<string>106.636</string>
		</dict>
		<key>{8fef2543-5c4f-4a5d-81cc-7ad595589b66}</key>
		<dict>
			<key>x</key>
			<string>493.527</string>
			<key>y</key>
			<string>110.888</string>
		</dict>
		<key>{2b38d750-e424-41fd-951e-36d2ca5b4b3b}</key>
		<dict>
			<key>x</key>
			<string>473.453</string>
			<key>y</key>
			<string>106.636</string>
		</dict>
		<key>{70bc0452-865b-473c-81f0-8b7de8728e74}</key>
		<dict>
			<key>x</key>
			<string>426.95</string>
			<key>y</key>
			<string>166.164</string>
		</dict>
		<key>{92c56575-aaac-4170-a52b-02f8a661bb0b}</key>
		<dict>
			<key>x</key>
			<string>426.95</string>
			<key>y</key>
			<string>106.636</string>
		</dict>
		<key>{e27e3a25-ed96-4872-8e19-86b3ef3d255a}</key>
		<dict>
			<key>x</key>
			<string>406.59</string>
			<key>y</key>
			<string>164.038</string>
		</dict>
		<key>{76525441-e95f-4b61-934f-640e84e7e812}</key>
		<dict>
			<key>x</key>
			<string>406.59</string>
			<key>y</key>
			<string>110.888</string>
		</dict>
		<key>{f12000a9-b4a7-4cc7-9ce7-873b0edc611b}</key>
		<dict>
			<key>x</key>
			<string>386.229</string>
			<key>y</key>
			<string>161.912</string>
		</dict>
		<key>{59395e37-e878-469d-bcc5-e6f5dde48448}</key>
		<dict>
			<key>x</key>
			<string>386.229</string>
			<key>y</key>
			<string>113.014</string>
		</dict>
		<key>{10611faa-6c02-45c1-a01b-13f8ebe59a52}</key>
		<dict>
			<key>x</key>
			<string>367.901</string>
			<key>y</key>
			<string>110.888</string>
		</dict>
		<key>{79d4fb5b-b61d-473e-a898-447d2be02e1f}</key>
		<dict>
			<key>x</key>
			<string>355.355</string>
			<key>y</key>
			<string>106.636</string>
		</dict>
		<key>{be659958-c481-48f0-bd92-2f853190b920}</key>
		<dict>
			<key>x</key>
			<string>335.282</string>
			<key>y</key>
			<string>104.51</string>
		</dict>
		<key>{aca97f94-a0a9-4989-a7b6-bc5cce4ed6eb}</key>
		<dict>
			<key>x</key>
			<string>315.208</string>
			<key>y</key>
			<string>106.636</string>
		</dict>
		<key>{cdf3ff37-8801-4e54-b459-e280ed3e00c8}</key>
		<dict>
			<key>x</key>
			<string>295.135</string>
			<key>y</key>
			<string>110.888</string>
		</dict>
		<key>{03fbca7a-b550-4c71-b6ee-1a20d461fcd0}</key>
		<dict>
			<key>x</key>
			<string>247.273</string>
			<key>y</key>
			<string>151.282</string>
		</dict>
		<key>{4827f5b1-1ee1-42dd-86a2-6ad0a31c3dd6}</key>
		<dict>
			<key>x</key>
			<string>247.273</string>
			<key>y</key>
			<string>159.786</string>
		</dict>
		<key>{6ee3d408-8e49-4c98-b8ea-afc0f7faae80}</key>
		<dict>
			<key>x</key>
			<string>247.273</string>
			<key>y</key>
			<string>106.636</string>
		</dict>
		<key>{8d7eed65-27cc-4cb8-bfa1-af0f959d84da}</key>
		<dict>
			<key>x</key>
			<string>247.273</string>
			<key>y</key>
			<string>110.888</string>
		</dict>
		<key>{2c587771-e4eb-41dd-bc94-1daef2e61f65}</key>
		<dict>
			<key>x</key>
			<string>226.233</string>
			<key>y</key>
			<string>151.282</string>
		</dict>
		<key>{b6f83c5a-f3fd-499c-a9bc-4bf21b651c8c}</key>
		<dict>
			<key>x</key>
			<string>226.233</string>
			<key>y</key>
			<string>159.786</string>
		</dict>
		<key>{f10b5994-9c33-4b4e-91e2-4fbe5bb96cf9}</key>
		<dict>
			<key>x</key>
			<string>226.233</string>
			<key>y</key>
			<string>106.636</string>
		</dict>
		<key>{fd8268ab-e87a-4783-a4f9-0e4e485d9a56}</key>
		<dict>
			<key>x</key>
			<string>226.233</string>
			<key>y</key>
			<string>110.888</string>
		</dict>
		<key>{06e4faaa-08e9-462b-be50-00c3a156f536}</key>
		<dict>
			<key>x</key>
			<string>205.194</string>
			<key>y</key>
			<string>151.282</string>
		</dict>
		<key>{41d55e29-db68-42ef-a006-a2174438917f}</key>
		<dict>
			<key>x</key>
			<string>205.194</string>
			<key>y</key>
			<string>159.786</string>
		</dict>
		<key>{68aa0be7-f9c8-4fca-ba9a-d146c8605690}</key>
		<dict>
			<key>x</key>
			<string>205.194</string>
			<key>y</key>
			<string>106.636</string>
		</dict>
		<key>{de5eb02d-e5a5-4ef8-b2e7-67fa66ad72c9}</key>
		<dict>
			<key>x</key>
			<string>205.194</string>
			<key>y</key>
			<string>110.888</string>
		</dict>
		<key>{cd5e967b-bc64-4185-9270-27a1100e597c}</key>
		<dict>
			<key>x</key>
			<string>159.407</string>
			<key>y</key>
			<string>151.282</string>
		</dict>
		<key>{788c1015-cb7b-4e10-a3f0-7c999fbcb18a}</key>
		<dict>
			<key>x</key>
			<string>159.407</string>
			<key>y</key>
			<string>159.786</string>
		</dict>
		<key>{515e8a48-4ace-4836-a521-d942efe52235}</key>
		<dict>
			<key>x</key>
			<string>159.407</string>
			<key>y</key>
			<string>106.636</string>
		</dict>
		<key>{bf807bdd-f839-42e5-a70c-8f1fd411e167}</key>
		<dict>
			<key>x</key>
			<string>159.407</string>
			<key>y</key>
			<string>110.888</string>
		</dict>
		<key>{b998a7e3-dbad-4133-8784-86a72b199efc}</key>
		<dict>
			<key>x</key>
			<string>139.405</string>
			<key>y</key>
			<string>151.282</string>
		</dict>
		<key>{f1ff1307-c265-49c6-a2cf-25bfb353349a}</key>
		<dict>
			<key>x</key>
			<string>139.405</string>
			<key>y</key>
			<string>159.786</string>
		</dict>
		<key>{77e24190-f417-473c-bd55-c682f785c69e}</key>
		<dict>
			<key>x</key>
			<string>139.405</string>
			<key>y</key>
			<string>106.636</string>
		</dict>
		<key>{4b24bc4c-6c24-4ac4-859e-bd2a3b9828ed}</key>
		<dict>
			<key>x</key>
			<string>139.405</string>
			<key>y</key>
			<string>110.888</string>
		</dict>
		<key>{35f87ace-673b-4cab-929e-e296312f6afb}</key>
		<dict>
			<key>x</key>
			<string>119.403</string>
			<key>y</key>
			<string>151.282</string>
		</dict>
		<key>{5a1a7416-d499-4f48-9418-eae503420595}</key>
		<dict>
			<key>x</key>
			<string>119.403</string>
			<key>y</key>
			<string>159.786</string>
		</dict>
		<key>{17e59389-d562-4ba1-a942-908abc452d9a}</key>
		<dict>
			<key>x</key>
			<string>119.403</string>
			<key>y</key>
			<string>106.636</string>
		</dict>
		<key>{942176bc-3485-490a-928d-e15944320300}</key>
		<dict>
			<key>x</key>
			<string>119.403</string>
			<key>y</key>
			<string>110.888</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{4d62be9a-8600-45fe-908b-c5a579df1dcb}</key>
		<dict>
			<key>x1</key>
			<string>498.023</string>
			<key>y1</key>
			<string>428.327</string>
			<key>x2</key>
			<string>498.023</string>
			<key>y2</key>
			<string>446.262</string>
			<key>height</key>
			<string>18.6024</string>
		</dict>
		<key>{b7e0770c-558a-4f07-bee0-26e772c5b61a}</key>
		<dict>
			<key>x1</key>
			<string>498.023</string>
			<key>y1</key>
			<string>428.327</string>
			<key>x2</key>
			<string>498.023</string>
			<key>y2</key>
			<string>446.262</string>
			<key>height</key>
			<string>18.6024</string>
		</dict>
		<key>{b5c740ca-1d84-4706-a80b-02b1b5ea9ac2}</key>
		<dict>
			<key>x1</key>
			<string>503.375</string>
			<key>y1</key>
			<string>386.613</string>
			<key>x2</key>
			<string>503.375</string>
			<key>y2</key>
			<string>372.384</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{b22ff8e2-de49-489e-8d7b-8ed46ea8badd}</key>
		<dict>
			<key>x1</key>
			<string>478.03</string>
			<key>y1</key>
			<string>382.216</string>
			<key>x2</key>
			<string>478.03</string>
			<key>y2</key>
			<string>371.321</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{cf2471b0-e716-4183-9ea7-28e1af5b29bf}</key>
		<dict>
			<key>x1</key>
			<string>458.775</string>
			<key>y1</key>
			<string>437.491</string>
			<key>x2</key>
			<string>458.775</string>
			<key>y2</key>
			<string>424.471</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{d024aa60-cbac-4961-8348-16882eb8b3ed}</key>
		<dict>
			<key>x1</key>
			<string>458.775</string>
			<key>y1</key>
			<string>384.342</string>
			<key>x2</key>
			<string>458.775</string>
			<key>y2</key>
			<string>372.384</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{c8deb3ec-348c-4f03-8dbb-94fbc047c131}</key>
		<dict>
			<key>x1</key>
			<string>439.519</string>
			<key>y1</key>
			<string>386.468</string>
			<key>x2</key>
			<string>439.519</string>
			<key>y2</key>
			<string>375.573</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{a6e3c24b-30a2-46aa-bb84-84c5471db1d3}</key>
		<dict>
			<key>x1</key>
			<string>415.219</string>
			<key>y1</key>
			<string>436.963</string>
			<key>x2</key>
			<string>415.219</string>
			<key>y2</key>
			<string>449.451</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{b1c04b26-fae9-43fe-9ab6-b49e196ba76b}</key>
		<dict>
			<key>x1</key>
			<string>420.264</string>
			<key>y1</key>
			<string>390.72</string>
			<key>x2</key>
			<string>420.264</string>
			<key>y2</key>
			<string>377.699</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{52315dad-150a-4670-a925-0f825d6467f1}</key>
		<dict>
			<key>x1</key>
			<string>395.226</string>
			<key>y1</key>
			<string>382.216</string>
			<key>x2</key>
			<string>395.226</string>
			<key>y2</key>
			<string>371.321</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{b79286c9-03ba-48d1-9d2b-592908b725fe}</key>
		<dict>
			<key>x1</key>
			<string>375.97</string>
			<key>y1</key>
			<string>384.342</string>
			<key>x2</key>
			<string>375.97</string>
			<key>y2</key>
			<string>372.384</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{cc4a2fe6-0562-43ee-9c7c-7188f6943e1b}</key>
		<dict>
			<key>x1</key>
			<string>356.715</string>
			<key>y1</key>
			<string>382.216</string>
			<key>x2</key>
			<string>356.715</string>
			<key>y2</key>
			<string>369.195</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{49c60c7b-8ac6-45bd-9290-1b0f0052fa96}</key>
		<dict>
			<key>x1</key>
			<string>332.414</string>
			<key>y1</key>
			<string>432.711</string>
			<key>x2</key>
			<string>332.414</string>
			<key>y2</key>
			<string>451.046</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{f8d561ba-bb85-4331-88f6-4762b6a77377}</key>
		<dict>
			<key>x1</key>
			<string>332.414</string>
			<key>y1</key>
			<string>432.711</string>
			<key>x2</key>
			<string>332.414</string>
			<key>y2</key>
			<string>451.046</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{6a9a86aa-1223-4a7f-baa4-20657c41f5c3}</key>
		<dict>
			<key>x1</key>
			<string>337.46</string>
			<key>y1</key>
			<string>377.964</string>
			<key>x2</key>
			<string>337.46</string>
			<key>y2</key>
			<string>367.069</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{ce9d9adc-367a-4dcb-888b-ddce2ad01090}</key>
		<dict>
			<key>x1</key>
			<string>312.422</string>
			<key>y1</key>
			<string>382.216</string>
			<key>x2</key>
			<string>312.422</string>
			<key>y2</key>
			<string>371.321</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{90ce6dff-ed67-435a-a6b4-e4d542534f02}</key>
		<dict>
			<key>x1</key>
			<string>293.166</string>
			<key>y1</key>
			<string>384.342</string>
			<key>x2</key>
			<string>293.166</string>
			<key>y2</key>
			<string>372.384</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{676a5d26-5d2e-4242-b0ff-2c7c2283ec0d}</key>
		<dict>
			<key>x1</key>
			<string>273.911</string>
			<key>y1</key>
			<string>382.216</string>
			<key>x2</key>
			<string>273.911</string>
			<key>y2</key>
			<string>369.195</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{189e1796-546d-454a-bf36-34af4cddee62}</key>
		<dict>
			<key>x1</key>
			<string>249.61</string>
			<key>y1</key>
			<string>432.711</string>
			<key>x2</key>
			<string>249.61</string>
			<key>y2</key>
			<string>451.046</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{4805dcf4-38ee-4940-8ced-911b882117e1}</key>
		<dict>
			<key>x1</key>
			<string>249.61</string>
			<key>y1</key>
			<string>432.711</string>
			<key>x2</key>
			<string>249.61</string>
			<key>y2</key>
			<string>451.046</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{1a87e879-5fa5-4e05-a966-9afabd59e619}</key>
		<dict>
			<key>x1</key>
			<string>254.655</string>
			<key>y1</key>
			<string>377.964</string>
			<key>x2</key>
			<string>254.655</string>
			<key>y2</key>
			<string>367.069</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{74000e78-3c3b-4811-9eef-ad3ef376e6e2}</key>
		<dict>
			<key>x1</key>
			<string>224.956</string>
			<key>y1</key>
			<string>430.585</string>
			<key>x2</key>
			<string>224.956</string>
			<key>y2</key>
			<string>444.668</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{f6374644-5ade-4f85-8d04-0dcea827a6cb}</key>
		<dict>
			<key>x1</key>
			<string>206.084</string>
			<key>y1</key>
			<string>434.837</string>
			<key>x2</key>
			<string>206.084</string>
			<key>y2</key>
			<string>447.325</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{260ab54c-546d-48a7-8df1-f56c14bd67ae}</key>
		<dict>
			<key>x1</key>
			<string>187.212</string>
			<key>y1</key>
			<string>439.089</string>
			<key>x2</key>
			<string>187.212</string>
			<key>y2</key>
			<string>449.983</string>
			<key>height</key>
			<string>11.6929</string>
		</dict>
		<key>{5ebe6729-a37f-4993-9cff-5b8b05339222}</key>
		<dict>
			<key>x1</key>
			<string>168.187</string>
			<key>y1</key>
			<string>379.429</string>
			<key>x2</key>
			<string>168.187</string>
			<key>y2</key>
			<string>392.581</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{14a18618-136a-4394-a83a-cb1c36ab249f}</key>
		<dict>
			<key>x1</key>
			<string>144.186</string>
			<key>y1</key>
			<string>428.459</string>
			<key>x2</key>
			<string>144.186</string>
			<key>y2</key>
			<string>444.668</string>
			<key>height</key>
			<string>17.0079</string>
		</dict>
		<key>{05157f4c-a066-4003-a956-84808e899600}</key>
		<dict>
			<key>x1</key>
			<string>149.231</string>
			<key>y1</key>
			<string>382.216</string>
			<key>x2</key>
			<string>149.231</string>
			<key>y2</key>
			<string>371.321</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{baa1223f-f7ee-4bf8-b08c-b7de37f55e8e}</key>
		<dict>
			<key>x1</key>
			<string>125.968</string>
			<key>y1</key>
			<string>434.837</string>
			<key>x2</key>
			<string>125.968</string>
			<key>y2</key>
			<string>447.325</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{4b127c18-e228-4ce3-b34f-47aff389ecb2}</key>
		<dict>
			<key>x1</key>
			<string>131.013</string>
			<key>y1</key>
			<string>384.342</string>
			<key>x2</key>
			<string>131.013</string>
			<key>y2</key>
			<string>372.384</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{2f81e7cd-172d-4868-899d-ca3569c492cf}</key>
		<dict>
			<key>x1</key>
			<string>107.75</string>
			<key>y1</key>
			<string>439.089</string>
			<key>x2</key>
			<string>107.75</string>
			<key>y2</key>
			<string>449.983</string>
			<key>height</key>
			<string>11.6929</string>
		</dict>
		<key>{098b789b-7196-49e4-a9b0-67fcbe389010}</key>
		<dict>
			<key>x1</key>
			<string>112.796</string>
			<key>y1</key>
			<string>382.216</string>
			<key>x2</key>
			<string>112.796</string>
			<key>y2</key>
			<string>369.195</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{8a04af3d-b0c0-4a04-b782-2ef304512364}</key>
		<dict>
			<key>x1</key>
			<string>94.5778</string>
			<key>y1</key>
			<string>377.964</string>
			<key>x2</key>
			<string>94.5778</string>
			<key>y2</key>
			<string>367.069</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{7df31814-3ea0-41cd-8a81-6aa247533314}</key>
		<dict>
			<key>x1</key>
			<string>536.107</string>
			<key>y1</key>
			<string>292.396</string>
			<key>x2</key>
			<string>536.107</string>
			<key>y2</key>
			<string>307.542</string>
			<key>height</key>
			<string>15.9449</string>
		</dict>
		<key>{b8f6f337-64b5-47f3-a4b4-7c205d12cc01}</key>
		<dict>
			<key>x1</key>
			<string>513.173</string>
			<key>y1</key>
			<string>296.648</string>
			<key>x2</key>
			<string>513.173</string>
			<key>y2</key>
			<string>310.199</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
		<key>{cec6f0c3-b118-4381-aded-69cc6dded856}</key>
		<dict>
			<key>x1</key>
			<string>513.173</string>
			<key>y1</key>
			<string>243.498</string>
			<key>x2</key>
			<string>513.173</string>
			<key>y2</key>
			<string>256.518</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{a31450de-2309-4be2-a824-7257dc32ded8}</key>
		<dict>
			<key>x1</key>
			<string>490.239</string>
			<key>y1</key>
			<string>300.9</string>
			<key>x2</key>
			<string>490.239</string>
			<key>y2</key>
			<string>312.857</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{ac6c007e-e376-431b-82b5-97944be59d0e}</key>
		<dict>
			<key>x1</key>
			<string>490.239</string>
			<key>y1</key>
			<string>241.372</string>
			<key>x2</key>
			<string>490.239</string>
			<key>y2</key>
			<string>254.392</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{08b8d508-5373-4241-b430-2347e95467c8}</key>
		<dict>
			<key>x1</key>
			<string>467.304</string>
			<key>y1</key>
			<string>247.75</string>
			<key>x2</key>
			<string>467.304</string>
			<key>y2</key>
			<string>258.644</string>
			<key>height</key>
			<string>11.6929</string>
		</dict>
		<key>{29ed95b3-779f-4493-b9f9-9fb7ba676530}</key>
		<dict>
			<key>x1</key>
			<string>447.647</string>
			<key>y1</key>
			<string>243.498</string>
			<key>x2</key>
			<string>447.647</string>
			<key>y2</key>
			<string>257.581</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{e9b33b86-1ca7-41ab-b6bd-9232827305d0}</key>
		<dict>
			<key>x1</key>
			<string>433.857</string>
			<key>y1</key>
			<string>292.396</string>
			<key>x2</key>
			<string>433.857</string>
			<key>y2</key>
			<string>307.542</string>
			<key>height</key>
			<string>15.9449</string>
		</dict>
		<key>{0e0920d3-8e94-4bbe-b5e9-07018b78c93d}</key>
		<dict>
			<key>x1</key>
			<string>411.793</string>
			<key>y1</key>
			<string>296.648</string>
			<key>x2</key>
			<string>411.793</string>
			<key>y2</key>
			<string>310.199</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
		<key>{f3579bd8-bf7c-4789-ba54-27d99b79d5c7}</key>
		<dict>
			<key>x1</key>
			<string>411.793</string>
			<key>y1</key>
			<string>241.372</string>
			<key>x2</key>
			<string>411.793</string>
			<key>y2</key>
			<string>256.518</string>
			<key>height</key>
			<string>15.9449</string>
		</dict>
		<key>{f8c4387f-436b-4478-9412-dbcb0275e243}</key>
		<dict>
			<key>x1</key>
			<string>389.729</string>
			<key>y1</key>
			<string>300.9</string>
			<key>x2</key>
			<string>389.729</string>
			<key>y2</key>
			<string>312.857</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{8974c851-73a2-48b4-b9fa-c25cf4326dca}</key>
		<dict>
			<key>x1</key>
			<string>367.665</string>
			<key>y1</key>
			<string>241.372</string>
			<key>x2</key>
			<string>367.665</string>
			<key>y2</key>
			<string>254.924</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
		<key>{c1ecc1fc-9fdc-435b-ab4f-46c461c40a99}</key>
		<dict>
			<key>x1</key>
			<string>324.125</string>
			<key>y1</key>
			<string>294.522</string>
			<key>x2</key>
			<string>324.125</string>
			<key>y2</key>
			<string>313.388</string>
			<key>height</key>
			<string>19.6654</string>
		</dict>
		<key>{c34cc287-57af-4b76-a820-32971af0c3dd}</key>
		<dict>
			<key>x1</key>
			<string>324.125</string>
			<key>y1</key>
			<string>294.522</string>
			<key>x2</key>
			<string>324.125</string>
			<key>y2</key>
			<string>313.388</string>
			<key>height</key>
			<string>19.6654</string>
		</dict>
		<key>{c8479561-7da2-497e-a64b-4dc9abf6ea31}</key>
		<dict>
			<key>x1</key>
			<string>329.171</string>
			<key>y1</key>
			<string>254.657</string>
			<key>x2</key>
			<string>329.171</string>
			<key>y2</key>
			<string>234.727</string>
			<key>height</key>
			<string>-20.7283</string>
		</dict>
		<key>{33e62190-2166-4065-b31d-9d7302a43b04}</key>
		<dict>
			<key>x1</key>
			<string>329.171</string>
			<key>y1</key>
			<string>254.657</string>
			<key>x2</key>
			<string>329.171</string>
			<key>y2</key>
			<string>234.727</string>
			<key>height</key>
			<string>-20.7283</string>
		</dict>
		<key>{64acc819-9a95-4f45-a45c-d736ef183667}</key>
		<dict>
			<key>x1</key>
			<string>305.625</string>
			<key>y1</key>
			<string>250.405</string>
			<key>x2</key>
			<string>305.625</string>
			<key>y2</key>
			<string>239.51</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{a6b799bb-9e1d-406f-aa5f-68e6e2e700cb}</key>
		<dict>
			<key>x1</key>
			<string>282.08</string>
			<key>y1</key>
			<string>254.657</string>
			<key>x2</key>
			<string>282.08</string>
			<key>y2</key>
			<string>241.636</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{95eb3d7f-49ed-45a6-b66a-fa8ed2a0dade}</key>
		<dict>
			<key>x1</key>
			<string>233.181</string>
			<key>y1</key>
			<string>294.522</string>
			<key>x2</key>
			<string>233.181</string>
			<key>y2</key>
			<string>314.983</string>
			<key>height</key>
			<string>21.2598</string>
		</dict>
		<key>{4931af3e-0cb3-4c2d-9bfe-ff7f8177c33a}</key>
		<dict>
			<key>x1</key>
			<string>233.181</string>
			<key>y1</key>
			<string>294.522</string>
			<key>x2</key>
			<string>233.181</string>
			<key>y2</key>
			<string>314.983</string>
			<key>height</key>
			<string>21.2598</string>
		</dict>
		<key>{4e3a0312-b8c7-4ed8-8e51-8c370d93e55c}</key>
		<dict>
			<key>x1</key>
			<string>238.227</string>
			<key>y1</key>
			<string>252.531</string>
			<key>x2</key>
			<string>238.227</string>
			<key>y2</key>
			<string>234.727</string>
			<key>height</key>
			<string>-18.6024</string>
		</dict>
		<key>{841e46f3-fd69-4d5e-a343-ca8f5966d593}</key>
		<dict>
			<key>x1</key>
			<string>238.227</string>
			<key>y1</key>
			<string>252.531</string>
			<key>x2</key>
			<string>238.227</string>
			<key>y2</key>
			<string>234.727</string>
			<key>height</key>
			<string>-18.6024</string>
		</dict>
		<key>{3d894d04-1eb4-4bad-9777-d907aa30c98f}</key>
		<dict>
			<key>x1</key>
			<string>214.682</string>
			<key>y1</key>
			<string>246.153</string>
			<key>x2</key>
			<string>214.682</string>
			<key>y2</key>
			<string>235.258</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{f0b0f36e-c839-4ca0-ab18-823ff797062c}</key>
		<dict>
			<key>x1</key>
			<string>191.136</string>
			<key>y1</key>
			<string>246.153</string>
			<key>x2</key>
			<string>191.136</string>
			<key>y2</key>
			<string>235.258</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{a4f312f1-d30a-4884-8046-bf5c2a6144e0}</key>
		<dict>
			<key>x1</key>
			<string>134.679</string>
			<key>y1</key>
			<string>294.522</string>
			<key>x2</key>
			<string>134.679</string>
			<key>y2</key>
			<string>308.605</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{24662d88-6dce-4027-98d8-292e4a69bd45}</key>
		<dict>
			<key>x1</key>
			<string>139.724</string>
			<key>y1</key>
			<string>248.279</string>
			<key>x2</key>
			<string>139.724</string>
			<key>y2</key>
			<string>234.727</string>
			<key>height</key>
			<string>-14.3504</string>
		</dict>
		<key>{19a92a3d-53b0-4645-83e5-587ceed352fc}</key>
		<dict>
			<key>x1</key>
			<string>112.063</string>
			<key>y1</key>
			<string>296.648</string>
			<key>x2</key>
			<string>112.063</string>
			<key>y2</key>
			<string>308.605</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{78b3850a-1157-44b7-aa6e-ff1f87384cd2}</key>
		<dict>
			<key>x1</key>
			<string>117.108</string>
			<key>y1</key>
			<string>246.153</string>
			<key>x2</key>
			<string>117.108</string>
			<key>y2</key>
			<string>235.258</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{d47b6888-fdf6-41d3-bff6-7492fe41efd4}</key>
		<dict>
			<key>x1</key>
			<string>89.4475</string>
			<key>y1</key>
			<string>292.396</string>
			<key>x2</key>
			<string>89.4475</string>
			<key>y2</key>
			<string>304.353</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{04abce7b-9532-4478-9a2d-97072af17950}</key>
		<dict>
			<key>x1</key>
			<string>94.4927</string>
			<key>y1</key>
			<string>250.405</string>
			<key>x2</key>
			<string>94.4927</string>
			<key>y2</key>
			<string>237.384</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{265ba249-29fb-4c82-95dd-b9f54ce6c856}</key>
		<dict>
			<key>x1</key>
			<string>551.541</string>
			<key>y1</key>
			<string>112.216</string>
			<key>x2</key>
			<string>551.541</string>
			<key>y2</key>
			<string>97.0695</string>
			<key>height</key>
			<string>-15.9449</string>
		</dict>
		<key>{a27d0590-cfc2-4e2a-8b2b-530081db8225}</key>
		<dict>
			<key>x1</key>
			<string>538.995</string>
			<key>y1</key>
			<string>110.09</string>
			<key>x2</key>
			<string>538.995</string>
			<key>y2</key>
			<string>95.4341</string>
			<key>height</key>
			<string>-15.4543</string>
		</dict>
		<key>{f58812bc-4f05-4ffb-9c97-625e8ec90a75}</key>
		<dict>
			<key>x1</key>
			<string>518.922</string>
			<key>y1</key>
			<string>105.838</string>
			<key>x2</key>
			<string>518.922</string>
			<key>y2</key>
			<string>92.8175</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{8fef2543-5c4f-4a5d-81cc-7ad595589b66}</key>
		<dict>
			<key>x1</key>
			<string>498.848</string>
			<key>y1</key>
			<string>110.09</string>
			<key>x2</key>
			<string>498.848</string>
			<key>y2</key>
			<string>97.0695</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{2b38d750-e424-41fd-951e-36d2ca5b4b3b}</key>
		<dict>
			<key>x1</key>
			<string>478.775</string>
			<key>y1</key>
			<string>105.838</string>
			<key>x2</key>
			<string>478.775</string>
			<key>y2</key>
			<string>94.9435</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{70bc0452-865b-473c-81f0-8b7de8728e74}</key>
		<dict>
			<key>x1</key>
			<string>432.272</string>
			<key>y1</key>
			<string>165.365</string>
			<key>x2</key>
			<string>432.272</string>
			<key>y2</key>
			<string>152.345</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{92c56575-aaac-4170-a52b-02f8a661bb0b}</key>
		<dict>
			<key>x1</key>
			<string>427.226</string>
			<key>y1</key>
			<string>107.435</string>
			<key>x2</key>
			<string>427.226</string>
			<key>y2</key>
			<string>121.518</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{e27e3a25-ed96-4872-8e19-86b3ef3d255a}</key>
		<dict>
			<key>x1</key>
			<string>406.866</string>
			<key>y1</key>
			<string>164.837</string>
			<key>x2</key>
			<string>406.866</string>
			<key>y2</key>
			<string>176.794</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{76525441-e95f-4b61-934f-640e84e7e812}</key>
		<dict>
			<key>x1</key>
			<string>411.911</string>
			<key>y1</key>
			<string>110.09</string>
			<key>x2</key>
			<string>411.911</string>
			<key>y2</key>
			<string>99.1955</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{f12000a9-b4a7-4cc7-9ce7-873b0edc611b}</key>
		<dict>
			<key>x1</key>
			<string>386.506</string>
			<key>y1</key>
			<string>162.711</string>
			<key>x2</key>
			<string>386.506</string>
			<key>y2</key>
			<string>175.731</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{59395e37-e878-469d-bcc5-e6f5dde48448}</key>
		<dict>
			<key>x1</key>
			<string>391.551</string>
			<key>y1</key>
			<string>112.216</string>
			<key>x2</key>
			<string>391.551</string>
			<key>y2</key>
			<string>100.258</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{10611faa-6c02-45c1-a01b-13f8ebe59a52}</key>
		<dict>
			<key>x1</key>
			<string>368.177</string>
			<key>y1</key>
			<string>111.687</string>
			<key>x2</key>
			<string>368.177</string>
			<key>y2</key>
			<string>124.707</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{79d4fb5b-b61d-473e-a898-447d2be02e1f}</key>
		<dict>
			<key>x1</key>
			<string>355.631</string>
			<key>y1</key>
			<string>107.435</string>
			<key>x2</key>
			<string>355.631</string>
			<key>y2</key>
			<string>123.072</string>
			<key>height</key>
			<string>16.4355</string>
		</dict>
		<key>{be659958-c481-48f0-bd92-2f853190b920}</key>
		<dict>
			<key>x1</key>
			<string>335.558</string>
			<key>y1</key>
			<string>105.309</string>
			<key>x2</key>
			<string>335.558</string>
			<key>y2</key>
			<string>120.455</string>
			<key>height</key>
			<string>15.9449</string>
		</dict>
		<key>{aca97f94-a0a9-4989-a7b6-bc5cce4ed6eb}</key>
		<dict>
			<key>x1</key>
			<string>315.485</string>
			<key>y1</key>
			<string>107.435</string>
			<key>x2</key>
			<string>315.485</string>
			<key>y2</key>
			<string>120.455</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{cdf3ff37-8801-4e54-b459-e280ed3e00c8}</key>
		<dict>
			<key>x1</key>
			<string>295.411</string>
			<key>y1</key>
			<string>111.687</string>
			<key>x2</key>
			<string>295.411</string>
			<key>y2</key>
			<string>122.581</string>
			<key>height</key>
			<string>11.6929</string>
		</dict>
		<key>{4827f5b1-1ee1-42dd-86a2-6ad0a31c3dd6}</key>
		<dict>
			<key>x1</key>
			<string>247.549</string>
			<key>y1</key>
			<string>152.081</string>
			<key>x2</key>
			<string>247.549</string>
			<key>y2</key>
			<string>174.668</string>
			<key>height</key>
			<string>23.3858</string>
		</dict>
		<key>{03fbca7a-b550-4c71-b6ee-1a20d461fcd0}</key>
		<dict>
			<key>x1</key>
			<string>247.549</string>
			<key>y1</key>
			<string>152.081</string>
			<key>x2</key>
			<string>247.549</string>
			<key>y2</key>
			<string>174.668</string>
			<key>height</key>
			<string>23.3858</string>
		</dict>
		<key>{8d7eed65-27cc-4cb8-bfa1-af0f959d84da}</key>
		<dict>
			<key>x1</key>
			<string>247.549</string>
			<key>y1</key>
			<string>107.435</string>
			<key>x2</key>
			<string>247.549</string>
			<key>y2</key>
			<string>125.77</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{6ee3d408-8e49-4c98-b8ea-afc0f7faae80}</key>
		<dict>
			<key>x1</key>
			<string>247.549</string>
			<key>y1</key>
			<string>107.435</string>
			<key>x2</key>
			<string>247.549</string>
			<key>y2</key>
			<string>125.77</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{b6f83c5a-f3fd-499c-a9bc-4bf21b651c8c}</key>
		<dict>
			<key>x1</key>
			<string>226.51</string>
			<key>y1</key>
			<string>152.081</string>
			<key>x2</key>
			<string>226.51</string>
			<key>y2</key>
			<string>172.542</string>
			<key>height</key>
			<string>21.2598</string>
		</dict>
		<key>{2c587771-e4eb-41dd-bc94-1daef2e61f65}</key>
		<dict>
			<key>x1</key>
			<string>226.51</string>
			<key>y1</key>
			<string>152.081</string>
			<key>x2</key>
			<string>226.51</string>
			<key>y2</key>
			<string>172.542</string>
			<key>height</key>
			<string>21.2598</string>
		</dict>
		<key>{fd8268ab-e87a-4783-a4f9-0e4e485d9a56}</key>
		<dict>
			<key>x1</key>
			<string>226.51</string>
			<key>y1</key>
			<string>107.435</string>
			<key>x2</key>
			<string>226.51</string>
			<key>y2</key>
			<string>122.581</string>
			<key>height</key>
			<string>15.9449</string>
		</dict>
		<key>{f10b5994-9c33-4b4e-91e2-4fbe5bb96cf9}</key>
		<dict>
			<key>x1</key>
			<string>226.51</string>
			<key>y1</key>
			<string>107.435</string>
			<key>x2</key>
			<string>226.51</string>
			<key>y2</key>
			<string>122.581</string>
			<key>height</key>
			<string>15.9449</string>
		</dict>
		<key>{41d55e29-db68-42ef-a006-a2174438917f}</key>
		<dict>
			<key>x1</key>
			<string>205.47</string>
			<key>y1</key>
			<string>152.081</string>
			<key>x2</key>
			<string>205.47</string>
			<key>y2</key>
			<string>172.542</string>
			<key>height</key>
			<string>21.2598</string>
		</dict>
		<key>{06e4faaa-08e9-462b-be50-00c3a156f536}</key>
		<dict>
			<key>x1</key>
			<string>205.47</string>
			<key>y1</key>
			<string>152.081</string>
			<key>x2</key>
			<string>205.47</string>
			<key>y2</key>
			<string>172.542</string>
			<key>height</key>
			<string>21.2598</string>
		</dict>
		<key>{de5eb02d-e5a5-4ef8-b2e7-67fa66ad72c9}</key>
		<dict>
			<key>x1</key>
			<string>205.47</string>
			<key>y1</key>
			<string>107.435</string>
			<key>x2</key>
			<string>205.47</string>
			<key>y2</key>
			<string>122.581</string>
			<key>height</key>
			<string>15.9449</string>
		</dict>
		<key>{68aa0be7-f9c8-4fca-ba9a-d146c8605690}</key>
		<dict>
			<key>x1</key>
			<string>205.47</string>
			<key>y1</key>
			<string>107.435</string>
			<key>x2</key>
			<string>205.47</string>
			<key>y2</key>
			<string>122.581</string>
			<key>height</key>
			<string>15.9449</string>
		</dict>
		<key>{788c1015-cb7b-4e10-a3f0-7c999fbcb18a}</key>
		<dict>
			<key>x1</key>
			<string>159.683</string>
			<key>y1</key>
			<string>152.081</string>
			<key>x2</key>
			<string>159.683</string>
			<key>y2</key>
			<string>174.668</string>
			<key>height</key>
			<string>23.3858</string>
		</dict>
		<key>{cd5e967b-bc64-4185-9270-27a1100e597c}</key>
		<dict>
			<key>x1</key>
			<string>159.683</string>
			<key>y1</key>
			<string>152.081</string>
			<key>x2</key>
			<string>159.683</string>
			<key>y2</key>
			<string>174.668</string>
			<key>height</key>
			<string>23.3858</string>
		</dict>
		<key>{bf807bdd-f839-42e5-a70c-8f1fd411e167}</key>
		<dict>
			<key>x1</key>
			<string>159.683</string>
			<key>y1</key>
			<string>107.435</string>
			<key>x2</key>
			<string>159.683</string>
			<key>y2</key>
			<string>125.77</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{515e8a48-4ace-4836-a521-d942efe52235}</key>
		<dict>
			<key>x1</key>
			<string>159.683</string>
			<key>y1</key>
			<string>107.435</string>
			<key>x2</key>
			<string>159.683</string>
			<key>y2</key>
			<string>125.77</string>
			<key>height</key>
			<string>19.1339</string>
		</dict>
		<key>{f1ff1307-c265-49c6-a2cf-25bfb353349a}</key>
		<dict>
			<key>x1</key>
			<string>139.681</string>
			<key>y1</key>
			<string>152.081</string>
			<key>x2</key>
			<string>139.681</string>
			<key>y2</key>
			<string>172.542</string>
			<key>height</key>
			<string>21.2598</string>
		</dict>
		<key>{b998a7e3-dbad-4133-8784-86a72b199efc}</key>
		<dict>
			<key>x1</key>
			<string>139.681</string>
			<key>y1</key>
			<string>152.081</string>
			<key>x2</key>
			<string>139.681</string>
			<key>y2</key>
			<string>172.542</string>
			<key>height</key>
			<string>21.2598</string>
		</dict>
		<key>{4b24bc4c-6c24-4ac4-859e-bd2a3b9828ed}</key>
		<dict>
			<key>x1</key>
			<string>139.681</string>
			<key>y1</key>
			<string>107.435</string>
			<key>x2</key>
			<string>139.681</string>
			<key>y2</key>
			<string>122.581</string>
			<key>height</key>
			<string>15.9449</string>
		</dict>
		<key>{77e24190-f417-473c-bd55-c682f785c69e}</key>
		<dict>
			<key>x1</key>
			<string>139.681</string>
			<key>y1</key>
			<string>107.435</string>
			<key>x2</key>
			<string>139.681</string>
			<key>y2</key>
			<string>122.581</string>
			<key>height</key>
			<string>15.9449</string>
		</dict>
		<key>{5a1a7416-d499-4f48-9418-eae503420595}</key>
		<dict>
			<key>x1</key>
			<string>119.679</string>
			<key>y1</key>
			<string>152.081</string>
			<key>x2</key>
			<string>119.679</string>
			<key>y2</key>
			<string>172.542</string>
			<key>height</key>
			<string>21.2598</string>
		</dict>
		<key>{35f87ace-673b-4cab-929e-e296312f6afb}</key>
		<dict>
			<key>x1</key>
			<string>119.679</string>
			<key>y1</key>
			<string>152.081</string>
			<key>x2</key>
			<string>119.679</string>
			<key>y2</key>
			<string>172.542</string>
			<key>height</key>
			<string>21.2598</string>
		</dict>
		<key>{942176bc-3485-490a-928d-e15944320300}</key>
		<dict>
			<key>x1</key>
			<string>119.679</string>
			<key>y1</key>
			<string>107.435</string>
			<key>x2</key>
			<string>119.679</string>
			<key>y2</key>
			<string>122.581</string>
			<key>height</key>
			<string>15.9449</string>
		</dict>
		<key>{17e59389-d562-4ba1-a942-908abc452d9a}</key>
		<dict>
			<key>x1</key>
			<string>119.679</string>
			<key>y1</key>
			<string>107.435</string>
			<key>x2</key>
			<string>119.679</string>
			<key>y2</key>
			<string>122.581</string>
			<key>height</key>
			<string>15.9449</string>
		</dict>
	</dict>
</dict>
</plist>