<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>63.7171</string>
			<key>y</key>
			<string>144.853</string>
			<key>bx</key>
			<string>63.7171</string>
			<key>by</key>
			<string>183.721</string>
			<key>spatium</key>
			<string>4.7622</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>63.7171</string>
			<key>y</key>
			<string>280.576</string>
			<key>bx</key>
			<string>63.7171</string>
			<key>by</key>
			<string>319.444</string>
			<key>spatium</key>
			<string>4.7622</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>63.7171</string>
			<key>y</key>
			<string>416.299</string>
			<key>bx</key>
			<string>63.7171</string>
			<key>by</key>
			<string>459.718</string>
			<key>spatium</key>
			<string>4.7622</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>63.7171</string>
			<key>y</key>
			<string>561.222</string>
			<key>bx</key>
			<string>63.7171</string>
			<key>by</key>
			<string>600.09</string>
			<key>spatium</key>
			<string>4.7622</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{170e9773-ab99-445f-9fb4-15ce723922d8}</key>
		<dict>
			<key>x</key>
			<string>457.175</string>
			<key>y</key>
			<string>623.131</string>
		</dict>
		<key>{1fe8aff8-baf5-4dc3-b08c-9f28e96e656b}</key>
		<dict>
			<key>x</key>
			<string>457.175</string>
			<key>y</key>
			<string>570.747</string>
		</dict>
		<key>{77de9167-7dbe-4d41-a9b4-5699cce4d4b0}</key>
		<dict>
			<key>x</key>
			<string>457.175</string>
			<key>y</key>
			<string>582.652</string>
		</dict>
		<key>{451c4da2-4be5-40dd-b518-1dcee38c1334}</key>
		<dict>
			<key>x</key>
			<string>421.002</string>
			<key>y</key>
			<string>627.893</string>
		</dict>
		<key>{f518beba-43be-41bb-bce8-4e539dfa6c1e}</key>
		<dict>
			<key>x</key>
			<string>391.306</string>
			<key>y</key>
			<string>620.75</string>
		</dict>
		<key>{f7e98bc0-4ebd-4245-a89c-8dcd49c8cefc}</key>
		<dict>
			<key>x</key>
			<string>391.306</string>
			<key>y</key>
			<string>565.985</string>
		</dict>
		<key>{3ad837f6-556b-481b-b1ac-7fc5611a7e16}</key>
		<dict>
			<key>x</key>
			<string>391.306</string>
			<key>y</key>
			<string>580.271</string>
		</dict>
		<key>{aade8398-fa59-4fd9-a2aa-475e29546434}</key>
		<dict>
			<key>x</key>
			<string>361.609</string>
			<key>y</key>
			<string>618.369</string>
		</dict>
		<key>{b4c81fa7-45d4-4298-b6bd-f292ba5b38dd}</key>
		<dict>
			<key>x</key>
			<string>331.913</string>
			<key>y</key>
			<string>620.75</string>
		</dict>
		<key>{20775db4-be8a-4495-a7e4-234727e0f492}</key>
		<dict>
			<key>x</key>
			<string>275.39</string>
			<key>y</key>
			<string>618.369</string>
		</dict>
		<key>{9b67266b-2d58-4edc-a621-67ae9bd62a53}</key>
		<dict>
			<key>x</key>
			<string>275.39</string>
			<key>y</key>
			<string>623.131</string>
		</dict>
		<key>{a0c223df-7d89-451d-8767-60b914a74f50}</key>
		<dict>
			<key>x</key>
			<string>244.391</string>
			<key>y</key>
			<string>620.75</string>
		</dict>
		<key>{a12055db-38ac-4a5b-b7d1-5195ab1618a4}</key>
		<dict>
			<key>x</key>
			<string>213.391</string>
			<key>y</key>
			<string>618.369</string>
		</dict>
		<key>{1294f7df-72e7-493b-8982-ebc328cf6839}</key>
		<dict>
			<key>x</key>
			<string>213.219</string>
			<key>y</key>
			<string>575.509</string>
		</dict>
		<key>{691e8209-3637-4d62-8441-74d2e72a8700}</key>
		<dict>
			<key>x</key>
			<string>175.949</string>
			<key>y</key>
			<string>613.607</string>
		</dict>
		<key>{05604949-7bb3-4e64-abd2-4cb0637fdc56}</key>
		<dict>
			<key>x</key>
			<string>145.156</string>
			<key>y</key>
			<string>611.226</string>
		</dict>
		<key>{d7936a62-94b3-4c0a-bdbd-46e5da6c3b48}</key>
		<dict>
			<key>x</key>
			<string>145.156</string>
			<key>y</key>
			<string>623.131</string>
		</dict>
		<key>{3ebbd5b7-1262-4e67-adfe-1d929a3acec4}</key>
		<dict>
			<key>x</key>
			<string>95.8875</string>
			<key>y</key>
			<string>618.369</string>
		</dict>
		<key>{b627b971-31ad-46a3-900a-af2f2cf9f547}</key>
		<dict>
			<key>x</key>
			<string>95.7156</string>
			<key>y</key>
			<string>575.509</string>
		</dict>
		<key>{6a2ad817-d740-4886-be07-75e18eb51e9c}</key>
		<dict>
			<key>x</key>
			<string>530.024</string>
			<key>y</key>
			<string>480.265</string>
		</dict>
		<key>{9e0cd919-7618-416c-a6b6-feaaf3be2d6a}</key>
		<dict>
			<key>x</key>
			<string>530.024</string>
			<key>y</key>
			<string>435.348</string>
		</dict>
		<key>{41cc494d-02b2-487d-a37d-abadaac9ac75}</key>
		<dict>
			<key>x</key>
			<string>501.566</string>
			<key>y</key>
			<string>477.884</string>
		</dict>
		<key>{ceda748d-72f1-4a2c-bb35-a76e950da3cd}</key>
		<dict>
			<key>x</key>
			<string>501.566</string>
			<key>y</key>
			<string>428.204</string>
		</dict>
		<key>{1b136570-91a3-4dc7-a735-6b240e61a41d}</key>
		<dict>
			<key>x</key>
			<string>473.107</string>
			<key>y</key>
			<string>425.823</string>
		</dict>
		<key>{28885495-dfcb-4e5f-8a16-c2117605a83e}</key>
		<dict>
			<key>x</key>
			<string>444.649</string>
			<key>y</key>
			<string>475.503</string>
		</dict>
		<key>{09ff0698-6090-4995-b2f3-4ffbc5fdaf70}</key>
		<dict>
			<key>x</key>
			<string>444.649</string>
			<key>y</key>
			<string>428.204</string>
		</dict>
		<key>{fb796479-d66b-40ee-bf9a-b963237ab117}</key>
		<dict>
			<key>x</key>
			<string>410.666</string>
			<key>y</key>
			<string>425.823</string>
		</dict>
		<key>{f385d751-0af8-4d5e-8bfa-b355e35b8b2e}</key>
		<dict>
			<key>x</key>
			<string>383.16</string>
			<key>y</key>
			<string>473.122</string>
		</dict>
		<key>{e309e0ec-3c0b-489a-ba13-309c8b88464f}</key>
		<dict>
			<key>x</key>
			<string>383.16</string>
			<key>y</key>
			<string>421.061</string>
		</dict>
		<key>{0d195b2d-caa2-4c33-b532-b1c7ed043bea}</key>
		<dict>
			<key>x</key>
			<string>355.654</string>
			<key>y</key>
			<string>425.823</string>
		</dict>
		<key>{696255f1-0045-421c-aad5-c531a7ecd568}</key>
		<dict>
			<key>x</key>
			<string>328.148</string>
			<key>y</key>
			<string>470.74</string>
		</dict>
		<key>{aa0aeb39-9f7b-4bf5-ae71-639c6234f213}</key>
		<dict>
			<key>x</key>
			<string>328.148</string>
			<key>y</key>
			<string>421.061</string>
		</dict>
		<key>{8d3b1080-6f8a-45a2-9a82-4cf293e0be9a}</key>
		<dict>
			<key>x</key>
			<string>291.065</string>
			<key>y</key>
			<string>477.884</string>
		</dict>
		<key>{f1f4e136-9819-4a12-bdfd-46be0cea90f7}</key>
		<dict>
			<key>x</key>
			<string>291.065</string>
			<key>y</key>
			<string>425.823</string>
		</dict>
		<key>{8d61fc85-b5b4-46be-a7b7-5b90c1b18cca}</key>
		<dict>
			<key>x</key>
			<string>260.46</string>
			<key>y</key>
			<string>475.503</string>
		</dict>
		<key>{83fa464d-01d1-4479-ab6d-f3f94ee74ae3}</key>
		<dict>
			<key>x</key>
			<string>260.46</string>
			<key>y</key>
			<string>487.408</string>
		</dict>
		<key>{3bec795b-6ca1-4b01-8c85-7c4961009f6d}</key>
		<dict>
			<key>x</key>
			<string>260.46</string>
			<key>y</key>
			<string>428.204</string>
		</dict>
		<key>{b3f694a6-91f0-4395-9264-ca3a295f353e}</key>
		<dict>
			<key>x</key>
			<string>241.331</string>
			<key>y</key>
			<string>425.823</string>
		</dict>
		<key>{8be9c1e7-7f3a-48e8-8b41-74c32f4754b2}</key>
		<dict>
			<key>x</key>
			<string>204.012</string>
			<key>y</key>
			<string>482.646</string>
		</dict>
		<key>{63f82930-6a41-4430-8638-995e4f5ba497}</key>
		<dict>
			<key>x</key>
			<string>204.012</string>
			<key>y</key>
			<string>421.061</string>
		</dict>
		<key>{045d9447-b647-4fe1-bbea-b2f6cb1c541a}</key>
		<dict>
			<key>x</key>
			<string>169.3</string>
			<key>y</key>
			<string>477.884</string>
		</dict>
		<key>{50edab38-6347-44df-84c6-cca08d18a88c}</key>
		<dict>
			<key>x</key>
			<string>141.064</string>
			<key>y</key>
			<string>475.503</string>
		</dict>
		<key>{847ba59f-f28a-44f4-9cd1-097d00c91858}</key>
		<dict>
			<key>x</key>
			<string>141.064</string>
			<key>y</key>
			<string>487.408</string>
		</dict>
		<key>{42aeccad-9694-4d12-96c5-bad5136ea142}</key>
		<dict>
			<key>x</key>
			<string>95.8875</string>
			<key>y</key>
			<string>482.646</string>
		</dict>
		<key>{18192c6f-78ea-405e-bb2c-f9b68ca971e7}</key>
		<dict>
			<key>x</key>
			<string>95.7156</string>
			<key>y</key>
			<string>430.586</string>
		</dict>
		<key>{ca537baa-5c66-437a-b5f3-ad11c3ef7efc}</key>
		<dict>
			<key>x</key>
			<string>531.24</string>
			<key>y</key>
			<string>335.341</string>
		</dict>
		<key>{06d806fb-0603-4d79-b691-b05eece2d238}</key>
		<dict>
			<key>x</key>
			<string>531.24</string>
			<key>y</key>
			<string>299.625</string>
		</dict>
		<key>{c05353aa-40d4-4b52-b48f-c1220e83a805}</key>
		<dict>
			<key>x</key>
			<string>503.998</string>
			<key>y</key>
			<string>332.96</string>
		</dict>
		<key>{9dcbe891-f187-4d61-88b4-ebcf27479189}</key>
		<dict>
			<key>x</key>
			<string>503.998</string>
			<key>y</key>
			<string>342.485</string>
		</dict>
		<key>{367441a4-8c6a-4076-b490-8bd80e212800}</key>
		<dict>
			<key>x</key>
			<string>503.998</string>
			<key>y</key>
			<string>292.482</string>
		</dict>
		<key>{c703275b-b6ba-47d3-8f8c-fc9bd6d33050}</key>
		<dict>
			<key>x</key>
			<string>476.755</string>
			<key>y</key>
			<string>290.101</string>
		</dict>
		<key>{582c58e1-cea2-487d-9677-e5a544e20cb8}</key>
		<dict>
			<key>x</key>
			<string>449.512</string>
			<key>y</key>
			<string>335.341</string>
		</dict>
		<key>{0552fcb9-f755-4b20-b08e-9df34b53a613}</key>
		<dict>
			<key>x</key>
			<string>449.512</string>
			<key>y</key>
			<string>292.482</string>
		</dict>
		<key>{3cd5ffa8-49cb-4fd5-bad4-c86e4c50b332}</key>
		<dict>
			<key>x</key>
			<string>411.423</string>
			<key>y</key>
			<string>332.96</string>
		</dict>
		<key>{c4457e4b-ece6-4ed9-919e-38c8eb1ec974}</key>
		<dict>
			<key>x</key>
			<string>411.423</string>
			<key>y</key>
			<string>290.101</string>
		</dict>
		<key>{179dd6a9-f37a-4ffd-bed1-b82dd6761fd5}</key>
		<dict>
			<key>x</key>
			<string>383.818</string>
			<key>y</key>
			<string>330.579</string>
		</dict>
		<key>{4aaf4cde-2760-4a64-8fc5-a381334a4606}</key>
		<dict>
			<key>x</key>
			<string>383.818</string>
			<key>y</key>
			<string>342.485</string>
		</dict>
		<key>{fbe3ddca-592d-43d6-93f8-317a49657f3c}</key>
		<dict>
			<key>x</key>
			<string>383.818</string>
			<key>y</key>
			<string>285.338</string>
		</dict>
		<key>{e6cefa46-56d1-42ae-8aba-32958e6ce2ce}</key>
		<dict>
			<key>x</key>
			<string>356.213</string>
			<key>y</key>
			<string>282.957</string>
		</dict>
		<key>{7f10d56b-312f-4500-9ea2-7b103bf73b80}</key>
		<dict>
			<key>x</key>
			<string>328.608</string>
			<key>y</key>
			<string>337.723</string>
		</dict>
		<key>{9cf8932d-3ee2-4ccb-b634-c0455202e7fd}</key>
		<dict>
			<key>x</key>
			<string>328.608</string>
			<key>y</key>
			<string>285.338</string>
		</dict>
		<key>{ce90c3f5-7961-48f9-9a8d-24ce6808d2ed}</key>
		<dict>
			<key>x</key>
			<string>292.414</string>
			<key>y</key>
			<string>332.96</string>
		</dict>
		<key>{4e41140f-757c-45ca-9368-3f9afbe48725}</key>
		<dict>
			<key>x</key>
			<string>292.414</string>
			<key>y</key>
			<string>278.195</string>
		</dict>
		<key>{4a914d83-2c9f-4126-bccc-5beec3560705}</key>
		<dict>
			<key>x</key>
			<string>262.696</string>
			<key>y</key>
			<string>330.579</string>
		</dict>
		<key>{1617a5b1-8ca6-463b-9b80-c99ab6039412}</key>
		<dict>
			<key>x</key>
			<string>262.696</string>
			<key>y</key>
			<string>342.485</string>
		</dict>
		<key>{76ecce18-6711-4f01-9e59-a49ea2fcf344}</key>
		<dict>
			<key>x</key>
			<string>262.696</string>
			<key>y</key>
			<string>282.957</string>
		</dict>
		<key>{aa250c88-e9f8-4f7f-a8c6-354f8420fc85}</key>
		<dict>
			<key>x</key>
			<string>244.123</string>
			<key>y</key>
			<string>285.338</string>
		</dict>
		<key>{4d9d0bca-22d1-46f9-9634-b42cc91f901a}</key>
		<dict>
			<key>x</key>
			<string>207.886</string>
			<key>y</key>
			<string>325.817</string>
		</dict>
		<key>{597ea500-892a-49ee-8ea7-43aa0dafee83}</key>
		<dict>
			<key>x</key>
			<string>207.886</string>
			<key>y</key>
			<string>290.101</string>
		</dict>
		<key>{ee39ab5c-4934-4ead-afb9-2e6fb47f230f}</key>
		<dict>
			<key>x</key>
			<string>174.986</string>
			<key>y</key>
			<string>332.96</string>
		</dict>
		<key>{583b7ed5-ebbe-4ed9-92b5-cd864e8b2edd}</key>
		<dict>
			<key>x</key>
			<string>148.563</string>
			<key>y</key>
			<string>330.579</string>
		</dict>
		<key>{049153f6-7b06-4ec4-80d9-595f5d4de3c9}</key>
		<dict>
			<key>x</key>
			<string>148.563</string>
			<key>y</key>
			<string>342.485</string>
		</dict>
		<key>{8c938de5-93f2-4142-b2be-d16ed10b22eb}</key>
		<dict>
			<key>x</key>
			<string>148.563</string>
			<key>y</key>
			<string>285.338</string>
		</dict>
		<key>{80119016-15b2-4024-8c7b-a4d71b22de4d}</key>
		<dict>
			<key>x</key>
			<string>122.139</string>
			<key>y</key>
			<string>282.957</string>
		</dict>
		<key>{9451eda4-e332-4fe2-a904-6108e3f1f949}</key>
		<dict>
			<key>x</key>
			<string>95.7156</string>
			<key>y</key>
			<string>337.723</string>
		</dict>
		<key>{4ac7177a-0022-43fe-8164-eff0086ac583}</key>
		<dict>
			<key>x</key>
			<string>95.7156</string>
			<key>y</key>
			<string>285.338</string>
		</dict>
		<key>{761b3863-fc8f-4a9b-8975-9e74a6e7453d}</key>
		<dict>
			<key>x</key>
			<string>522.524</string>
			<key>y</key>
			<string>197.238</string>
		</dict>
		<key>{d2aeec2d-4af7-43d4-ac6c-d13e8c0287e3}</key>
		<dict>
			<key>x</key>
			<string>522.524</string>
			<key>y</key>
			<string>154.378</string>
		</dict>
		<key>{3b40d22e-6852-4dab-9c98-edafc6a81513}</key>
		<dict>
			<key>x</key>
			<string>486.565</string>
			<key>y</key>
			<string>194.856</string>
		</dict>
		<key>{316aa82e-9333-4002-a73a-e7a69cb0236a}</key>
		<dict>
			<key>x</key>
			<string>486.565</string>
			<key>y</key>
			<string>206.762</string>
		</dict>
		<key>{7fe67709-bd45-4fc7-a61e-6d24f8c2bfc5}</key>
		<dict>
			<key>x</key>
			<string>450.607</string>
			<key>y</key>
			<string>142.472</string>
		</dict>
		<key>{bc47da5b-827a-4360-b419-c4e8ca5d0b30}</key>
		<dict>
			<key>x</key>
			<string>414.648</string>
			<key>y</key>
			<string>202</string>
		</dict>
		<key>{13636ed6-a495-4697-82f9-f8b0eb508f1b}</key>
		<dict>
			<key>x</key>
			<string>414.648</string>
			<key>y</key>
			<string>149.616</string>
		</dict>
		<key>{2289566f-05b1-49e2-8864-81d7b9f06adb}</key>
		<dict>
			<key>x</key>
			<string>370.645</string>
			<key>y</key>
			<string>197.238</string>
		</dict>
		<key>{46bab431-0858-4d41-a437-171450827da7}</key>
		<dict>
			<key>x</key>
			<string>333.119</string>
			<key>y</key>
			<string>194.856</string>
		</dict>
		<key>{022c6de6-2ed3-417b-8c9c-f51fdf7e8935}</key>
		<dict>
			<key>x</key>
			<string>333.119</string>
			<key>y</key>
			<string>206.762</string>
		</dict>
		<key>{7561e5f3-ca25-423c-bfac-cb9319acf40e}</key>
		<dict>
			<key>x</key>
			<string>333.119</string>
			<key>y</key>
			<string>154.378</string>
		</dict>
		<key>{7203b2c6-6ab8-469b-ad3c-942ba8a3d542}</key>
		<dict>
			<key>x</key>
			<string>295.592</string>
			<key>y</key>
			<string>149.616</string>
		</dict>
		<key>{ead0615b-8ebd-4ff1-add0-1c56c214b454}</key>
		<dict>
			<key>x</key>
			<string>258.066</string>
			<key>y</key>
			<string>206.762</string>
		</dict>
		<key>{5b635902-08c2-47ee-b458-a291d8f8aef3}</key>
		<dict>
			<key>x</key>
			<string>258.066</string>
			<key>y</key>
			<string>202</string>
		</dict>
		<key>{22145add-7a21-4a30-b54a-bfbed38cb9ba}</key>
		<dict>
			<key>x</key>
			<string>258.066</string>
			<key>y</key>
			<string>147.234</string>
		</dict>
		<key>{5dccb80e-2388-480b-abe9-489e99bfeea5}</key>
		<dict>
			<key>x</key>
			<string>215.245</string>
			<key>y</key>
			<string>197.238</string>
		</dict>
		<key>{624ced36-1191-4e9e-a3bd-1b7bc144cc28}</key>
		<dict>
			<key>x</key>
			<string>178.9</string>
			<key>y</key>
			<string>206.762</string>
		</dict>
		<key>{8ccf4e4d-374d-4cc7-a262-8f0a60988eda}</key>
		<dict>
			<key>x</key>
			<string>178.9</string>
			<key>y</key>
			<string>194.856</string>
		</dict>
		<key>{0d53a3fe-67ee-45ce-bda4-8a5b7ac314a6}</key>
		<dict>
			<key>x</key>
			<string>178.9</string>
			<key>y</key>
			<string>154.378</string>
		</dict>
		<key>{ebcbd646-0daa-45b5-afd5-ac3f6f89ef06}</key>
		<dict>
			<key>x</key>
			<string>142.555</string>
			<key>y</key>
			<string>149.616</string>
		</dict>
		<key>{23d13776-a932-4950-8bd4-18ff51e6d89d}</key>
		<dict>
			<key>x</key>
			<string>106.21</string>
			<key>y</key>
			<string>147.234</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{170e9773-ab99-445f-9fb4-15ce723922d8}</key>
		<dict>
			<key>x1</key>
			<string>457.484</string>
			<key>y1</key>
			<string>623.878</string>
			<key>x2</key>
			<string>457.484</string>
			<key>y2</key>
			<string>639.799</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{77de9167-7dbe-4d41-a9b4-5699cce4d4b0}</key>
		<dict>
			<key>x1</key>
			<string>463.479</string>
			<key>y1</key>
			<string>581.921</string>
			<key>x2</key>
			<string>463.479</string>
			<key>y2</key>
			<string>555.865</string>
			<key>height</key>
			<string>-26.7874</string>
		</dict>
		<key>{1fe8aff8-baf5-4dc3-b08c-9f28e96e656b}</key>
		<dict>
			<key>x1</key>
			<string>463.479</string>
			<key>y1</key>
			<string>581.921</string>
			<key>x2</key>
			<string>463.479</string>
			<key>y2</key>
			<string>555.865</string>
			<key>height</key>
			<string>-26.7874</string>
		</dict>
		<key>{451c4da2-4be5-40dd-b518-1dcee38c1334}</key>
		<dict>
			<key>x1</key>
			<string>421.311</string>
			<key>y1</key>
			<string>628.788</string>
			<key>x2</key>
			<string>421.311</string>
			<key>y2</key>
			<string>640.989</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{f518beba-43be-41bb-bce8-4e539dfa6c1e}</key>
		<dict>
			<key>x1</key>
			<string>391.615</string>
			<key>y1</key>
			<string>621.644</string>
			<key>x2</key>
			<string>391.615</string>
			<key>y2</key>
			<string>636.227</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{3ad837f6-556b-481b-b1ac-7fc5611a7e16}</key>
		<dict>
			<key>x1</key>
			<string>397.266</string>
			<key>y1</key>
			<string>579.377</string>
			<key>x2</key>
			<string>397.266</string>
			<key>y2</key>
			<string>552.293</string>
			<key>height</key>
			<string>-27.978</string>
		</dict>
		<key>{f7e98bc0-4ebd-4245-a89c-8dcd49c8cefc}</key>
		<dict>
			<key>x1</key>
			<string>397.266</string>
			<key>y1</key>
			<string>579.377</string>
			<key>x2</key>
			<string>397.266</string>
			<key>y2</key>
			<string>552.293</string>
			<key>height</key>
			<string>-27.978</string>
		</dict>
		<key>{aade8398-fa59-4fd9-a2aa-475e29546434}</key>
		<dict>
			<key>x1</key>
			<string>361.919</string>
			<key>y1</key>
			<string>619.263</string>
			<key>x2</key>
			<string>361.919</string>
			<key>y2</key>
			<string>633.846</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{b4c81fa7-45d4-4298-b6bd-f292ba5b38dd}</key>
		<dict>
			<key>x1</key>
			<string>332.223</string>
			<key>y1</key>
			<string>621.644</string>
			<key>x2</key>
			<string>332.223</string>
			<key>y2</key>
			<string>635.037</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{9b67266b-2d58-4edc-a621-67ae9bd62a53}</key>
		<dict>
			<key>x1</key>
			<string>275.7</string>
			<key>y1</key>
			<string>619.263</string>
			<key>x2</key>
			<string>275.7</string>
			<key>y2</key>
			<string>639.799</string>
			<key>height</key>
			<string>21.4299</string>
		</dict>
		<key>{20775db4-be8a-4495-a7e4-234727e0f492}</key>
		<dict>
			<key>x1</key>
			<string>275.7</string>
			<key>y1</key>
			<string>619.263</string>
			<key>x2</key>
			<string>275.7</string>
			<key>y2</key>
			<string>639.799</string>
			<key>height</key>
			<string>21.4299</string>
		</dict>
		<key>{a0c223df-7d89-451d-8767-60b914a74f50}</key>
		<dict>
			<key>x1</key>
			<string>244.7</string>
			<key>y1</key>
			<string>621.644</string>
			<key>x2</key>
			<string>244.7</string>
			<key>y2</key>
			<string>635.037</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{a12055db-38ac-4a5b-b7d1-5195ab1618a4}</key>
		<dict>
			<key>x1</key>
			<string>213.7</string>
			<key>y1</key>
			<string>619.263</string>
			<key>x2</key>
			<string>213.7</string>
			<key>y2</key>
			<string>633.846</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{1294f7df-72e7-493b-8982-ebc328cf6839}</key>
		<dict>
			<key>x1</key>
			<string>219.523</string>
			<key>y1</key>
			<string>574.778</string>
			<key>x2</key>
			<string>219.523</string>
			<key>y2</key>
			<string>559.437</string>
			<key>height</key>
			<string>-16.0724</string>
		</dict>
		<key>{691e8209-3637-4d62-8441-74d2e72a8700}</key>
		<dict>
			<key>x1</key>
			<string>176.259</string>
			<key>y1</key>
			<string>614.501</string>
			<key>x2</key>
			<string>176.259</string>
			<key>y2</key>
			<string>631.465</string>
			<key>height</key>
			<string>17.8583</string>
		</dict>
		<key>{d7936a62-94b3-4c0a-bdbd-46e5da6c3b48}</key>
		<dict>
			<key>x1</key>
			<string>145.466</string>
			<key>y1</key>
			<string>612.12</string>
			<key>x2</key>
			<string>145.466</string>
			<key>y2</key>
			<string>636.227</string>
			<key>height</key>
			<string>25.0016</string>
		</dict>
		<key>{05604949-7bb3-4e64-abd2-4cb0637fdc56}</key>
		<dict>
			<key>x1</key>
			<string>145.466</string>
			<key>y1</key>
			<string>612.12</string>
			<key>x2</key>
			<string>145.466</string>
			<key>y2</key>
			<string>636.227</string>
			<key>height</key>
			<string>25.0016</string>
		</dict>
		<key>{3ebbd5b7-1262-4e67-adfe-1d929a3acec4}</key>
		<dict>
			<key>x1</key>
			<string>96.1971</string>
			<key>y1</key>
			<string>619.263</string>
			<key>x2</key>
			<string>96.1971</string>
			<key>y2</key>
			<string>635.037</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{b627b971-31ad-46a3-900a-af2f2cf9f547}</key>
		<dict>
			<key>x1</key>
			<string>102.02</string>
			<key>y1</key>
			<string>574.778</string>
			<key>x2</key>
			<string>102.02</string>
			<key>y2</key>
			<string>559.437</string>
			<key>height</key>
			<string>-16.0724</string>
		</dict>
		<key>{6a2ad817-d740-4886-be07-75e18eb51e9c}</key>
		<dict>
			<key>x1</key>
			<string>530.334</string>
			<key>y1</key>
			<string>481.159</string>
			<key>x2</key>
			<string>530.334</string>
			<key>y2</key>
			<string>494.552</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{9e0cd919-7618-416c-a6b6-feaaf3be2d6a}</key>
		<dict>
			<key>x1</key>
			<string>535.985</string>
			<key>y1</key>
			<string>434.453</string>
			<key>x2</key>
			<string>535.985</string>
			<key>y2</key>
			<string>419.871</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{41cc494d-02b2-487d-a37d-abadaac9ac75}</key>
		<dict>
			<key>x1</key>
			<string>501.875</string>
			<key>y1</key>
			<string>478.778</string>
			<key>x2</key>
			<string>501.875</string>
			<key>y2</key>
			<string>493.361</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{ceda748d-72f1-4a2c-bb35-a76e950da3cd}</key>
		<dict>
			<key>x1</key>
			<string>507.526</string>
			<key>y1</key>
			<string>427.31</string>
			<key>x2</key>
			<string>507.526</string>
			<key>y2</key>
			<string>415.108</string>
			<key>height</key>
			<string>-13.0961</string>
		</dict>
		<key>{1b136570-91a3-4dc7-a735-6b240e61a41d}</key>
		<dict>
			<key>x1</key>
			<string>479.067</string>
			<key>y1</key>
			<string>424.929</string>
			<key>x2</key>
			<string>479.067</string>
			<key>y2</key>
			<string>411.537</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{28885495-dfcb-4e5f-8a16-c2117605a83e}</key>
		<dict>
			<key>x1</key>
			<string>444.958</string>
			<key>y1</key>
			<string>476.397</string>
			<key>x2</key>
			<string>444.958</string>
			<key>y2</key>
			<string>494.552</string>
			<key>height</key>
			<string>19.0488</string>
		</dict>
		<key>{09ff0698-6090-4995-b2f3-4ffbc5fdaf70}</key>
		<dict>
			<key>x1</key>
			<string>450.609</string>
			<key>y1</key>
			<string>427.31</string>
			<key>x2</key>
			<string>450.609</string>
			<key>y2</key>
			<string>412.727</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{fb796479-d66b-40ee-bf9a-b963237ab117}</key>
		<dict>
			<key>x1</key>
			<string>410.976</string>
			<key>y1</key>
			<string>426.718</string>
			<key>x2</key>
			<string>410.976</string>
			<key>y2</key>
			<string>440.11</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{f385d751-0af8-4d5e-8bfa-b355e35b8b2e}</key>
		<dict>
			<key>x1</key>
			<string>383.469</string>
			<key>y1</key>
			<string>474.016</string>
			<key>x2</key>
			<string>383.469</string>
			<key>y2</key>
			<string>494.552</string>
			<key>height</key>
			<string>21.4299</string>
		</dict>
		<key>{e309e0ec-3c0b-489a-ba13-309c8b88464f}</key>
		<dict>
			<key>x1</key>
			<string>383.469</string>
			<key>y1</key>
			<string>421.956</string>
			<key>x2</key>
			<string>383.469</string>
			<key>y2</key>
			<string>435.348</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{0d195b2d-caa2-4c33-b532-b1c7ed043bea}</key>
		<dict>
			<key>x1</key>
			<string>355.963</string>
			<key>y1</key>
			<string>426.718</string>
			<key>x2</key>
			<string>355.963</string>
			<key>y2</key>
			<string>440.11</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{696255f1-0045-421c-aad5-c531a7ecd568}</key>
		<dict>
			<key>x1</key>
			<string>328.457</string>
			<key>y1</key>
			<string>471.635</string>
			<key>x2</key>
			<string>328.457</string>
			<key>y2</key>
			<string>494.552</string>
			<key>height</key>
			<string>23.811</string>
		</dict>
		<key>{aa0aeb39-9f7b-4bf5-ae71-639c6234f213}</key>
		<dict>
			<key>x1</key>
			<string>328.457</string>
			<key>y1</key>
			<string>421.956</string>
			<key>x2</key>
			<string>328.457</string>
			<key>y2</key>
			<string>435.348</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{8d3b1080-6f8a-45a2-9a82-4cf293e0be9a}</key>
		<dict>
			<key>x1</key>
			<string>291.375</string>
			<key>y1</key>
			<string>478.778</string>
			<key>x2</key>
			<string>291.375</string>
			<key>y2</key>
			<string>495.742</string>
			<key>height</key>
			<string>17.8583</string>
		</dict>
		<key>{f1f4e136-9819-4a12-bdfd-46be0cea90f7}</key>
		<dict>
			<key>x1</key>
			<string>297.026</string>
			<key>y1</key>
			<string>424.929</string>
			<key>x2</key>
			<string>297.026</string>
			<key>y2</key>
			<string>411.537</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{83fa464d-01d1-4479-ab6d-f3f94ee74ae3}</key>
		<dict>
			<key>x1</key>
			<string>260.769</string>
			<key>y1</key>
			<string>476.397</string>
			<key>x2</key>
			<string>260.769</string>
			<key>y2</key>
			<string>500.504</string>
			<key>height</key>
			<string>25.0016</string>
		</dict>
		<key>{8d61fc85-b5b4-46be-a7b7-5b90c1b18cca}</key>
		<dict>
			<key>x1</key>
			<string>260.769</string>
			<key>y1</key>
			<string>476.397</string>
			<key>x2</key>
			<string>260.769</string>
			<key>y2</key>
			<string>500.504</string>
			<key>height</key>
			<string>25.0016</string>
		</dict>
		<key>{3bec795b-6ca1-4b01-8c85-7c4961009f6d}</key>
		<dict>
			<key>x1</key>
			<string>266.42</string>
			<key>y1</key>
			<string>427.31</string>
			<key>x2</key>
			<string>266.42</string>
			<key>y2</key>
			<string>412.727</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{b3f694a6-91f0-4395-9264-ca3a295f353e}</key>
		<dict>
			<key>x1</key>
			<string>241.641</string>
			<key>y1</key>
			<string>426.718</string>
			<key>x2</key>
			<string>241.641</string>
			<key>y2</key>
			<string>440.11</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{8be9c1e7-7f3a-48e8-8b41-74c32f4754b2}</key>
		<dict>
			<key>x1</key>
			<string>204.322</string>
			<key>y1</key>
			<string>483.54</string>
			<key>x2</key>
			<string>204.322</string>
			<key>y2</key>
			<string>499.314</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{63f82930-6a41-4430-8638-995e4f5ba497}</key>
		<dict>
			<key>x1</key>
			<string>204.322</string>
			<key>y1</key>
			<string>421.956</string>
			<key>x2</key>
			<string>204.322</string>
			<key>y2</key>
			<string>435.348</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{045d9447-b647-4fe1-bbea-b2f6cb1c541a}</key>
		<dict>
			<key>x1</key>
			<string>169.61</string>
			<key>y1</key>
			<string>478.778</string>
			<key>x2</key>
			<string>169.61</string>
			<key>y2</key>
			<string>495.742</string>
			<key>height</key>
			<string>17.8583</string>
		</dict>
		<key>{847ba59f-f28a-44f4-9cd1-097d00c91858}</key>
		<dict>
			<key>x1</key>
			<string>141.374</string>
			<key>y1</key>
			<string>476.397</string>
			<key>x2</key>
			<string>141.374</string>
			<key>y2</key>
			<string>500.504</string>
			<key>height</key>
			<string>25.0016</string>
		</dict>
		<key>{50edab38-6347-44df-84c6-cca08d18a88c}</key>
		<dict>
			<key>x1</key>
			<string>141.374</string>
			<key>y1</key>
			<string>476.397</string>
			<key>x2</key>
			<string>141.374</string>
			<key>y2</key>
			<string>500.504</string>
			<key>height</key>
			<string>25.0016</string>
		</dict>
		<key>{42aeccad-9694-4d12-96c5-bad5136ea142}</key>
		<dict>
			<key>x1</key>
			<string>96.1971</string>
			<key>y1</key>
			<string>483.54</string>
			<key>x2</key>
			<string>96.1971</string>
			<key>y2</key>
			<string>499.314</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{18192c6f-78ea-405e-bb2c-f9b68ca971e7}</key>
		<dict>
			<key>x1</key>
			<string>102.02</string>
			<key>y1</key>
			<string>429.854</string>
			<key>x2</key>
			<string>102.02</string>
			<key>y2</key>
			<string>414.513</string>
			<key>height</key>
			<string>-16.0724</string>
		</dict>
		<key>{ca537baa-5c66-437a-b5f3-ad11c3ef7efc}</key>
		<dict>
			<key>x1</key>
			<string>531.55</string>
			<key>y1</key>
			<string>336.236</string>
			<key>x2</key>
			<string>531.55</string>
			<key>y2</key>
			<string>350.819</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{06d806fb-0603-4d79-b691-b05eece2d238}</key>
		<dict>
			<key>x1</key>
			<string>537.201</string>
			<key>y1</key>
			<string>298.731</string>
			<key>x2</key>
			<string>537.201</string>
			<key>y2</key>
			<string>284.148</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{9dcbe891-f187-4d61-88b4-ebcf27479189}</key>
		<dict>
			<key>x1</key>
			<string>504.307</string>
			<key>y1</key>
			<string>333.855</string>
			<key>x2</key>
			<string>504.307</string>
			<key>y2</key>
			<string>355.581</string>
			<key>height</key>
			<string>22.6205</string>
		</dict>
		<key>{c05353aa-40d4-4b52-b48f-c1220e83a805}</key>
		<dict>
			<key>x1</key>
			<string>504.307</string>
			<key>y1</key>
			<string>333.855</string>
			<key>x2</key>
			<string>504.307</string>
			<key>y2</key>
			<string>355.581</string>
			<key>height</key>
			<string>22.6205</string>
		</dict>
		<key>{367441a4-8c6a-4076-b490-8bd80e212800}</key>
		<dict>
			<key>x1</key>
			<string>509.958</string>
			<key>y1</key>
			<string>291.587</string>
			<key>x2</key>
			<string>509.958</string>
			<key>y2</key>
			<string>279.386</string>
			<key>height</key>
			<string>-13.0961</string>
		</dict>
		<key>{c703275b-b6ba-47d3-8f8c-fc9bd6d33050}</key>
		<dict>
			<key>x1</key>
			<string>482.715</string>
			<key>y1</key>
			<string>289.206</string>
			<key>x2</key>
			<string>482.715</string>
			<key>y2</key>
			<string>275.814</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{582c58e1-cea2-487d-9677-e5a544e20cb8}</key>
		<dict>
			<key>x1</key>
			<string>449.822</string>
			<key>y1</key>
			<string>336.236</string>
			<key>x2</key>
			<string>449.822</string>
			<key>y2</key>
			<string>352.009</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{0552fcb9-f755-4b20-b08e-9df34b53a613}</key>
		<dict>
			<key>x1</key>
			<string>455.473</string>
			<key>y1</key>
			<string>291.587</string>
			<key>x2</key>
			<string>455.473</string>
			<key>y2</key>
			<string>277.004</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{3cd5ffa8-49cb-4fd5-bad4-c86e4c50b332}</key>
		<dict>
			<key>x1</key>
			<string>411.733</string>
			<key>y1</key>
			<string>333.855</string>
			<key>x2</key>
			<string>411.733</string>
			<key>y2</key>
			<string>350.819</string>
			<key>height</key>
			<string>17.8583</string>
		</dict>
		<key>{c4457e4b-ece6-4ed9-919e-38c8eb1ec974}</key>
		<dict>
			<key>x1</key>
			<string>411.733</string>
			<key>y1</key>
			<string>290.995</string>
			<key>x2</key>
			<string>411.733</string>
			<key>y2</key>
			<string>304.387</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{4aaf4cde-2760-4a64-8fc5-a381334a4606}</key>
		<dict>
			<key>x1</key>
			<string>384.127</string>
			<key>y1</key>
			<string>331.474</string>
			<key>x2</key>
			<string>384.127</string>
			<key>y2</key>
			<string>355.581</string>
			<key>height</key>
			<string>25.0016</string>
		</dict>
		<key>{179dd6a9-f37a-4ffd-bed1-b82dd6761fd5}</key>
		<dict>
			<key>x1</key>
			<string>384.127</string>
			<key>y1</key>
			<string>331.474</string>
			<key>x2</key>
			<string>384.127</string>
			<key>y2</key>
			<string>355.581</string>
			<key>height</key>
			<string>25.0016</string>
		</dict>
		<key>{fbe3ddca-592d-43d6-93f8-317a49657f3c}</key>
		<dict>
			<key>x1</key>
			<string>384.127</string>
			<key>y1</key>
			<string>286.233</string>
			<key>x2</key>
			<string>384.127</string>
			<key>y2</key>
			<string>299.625</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{e6cefa46-56d1-42ae-8aba-32958e6ce2ce}</key>
		<dict>
			<key>x1</key>
			<string>356.522</string>
			<key>y1</key>
			<string>283.852</string>
			<key>x2</key>
			<string>356.522</string>
			<key>y2</key>
			<string>298.434</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{7f10d56b-312f-4500-9ea2-7b103bf73b80}</key>
		<dict>
			<key>x1</key>
			<string>328.917</string>
			<key>y1</key>
			<string>338.617</string>
			<key>x2</key>
			<string>328.917</string>
			<key>y2</key>
			<string>354.39</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{9cf8932d-3ee2-4ccb-b634-c0455202e7fd}</key>
		<dict>
			<key>x1</key>
			<string>328.917</string>
			<key>y1</key>
			<string>286.233</string>
			<key>x2</key>
			<string>328.917</string>
			<key>y2</key>
			<string>299.625</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{ce90c3f5-7961-48f9-9a8d-24ce6808d2ed}</key>
		<dict>
			<key>x1</key>
			<string>292.723</string>
			<key>y1</key>
			<string>333.855</string>
			<key>x2</key>
			<string>292.723</string>
			<key>y2</key>
			<string>350.819</string>
			<key>height</key>
			<string>17.8583</string>
		</dict>
		<key>{4e41140f-757c-45ca-9368-3f9afbe48725}</key>
		<dict>
			<key>x1</key>
			<string>292.723</string>
			<key>y1</key>
			<string>279.089</string>
			<key>x2</key>
			<string>292.723</string>
			<key>y2</key>
			<string>293.672</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{1617a5b1-8ca6-463b-9b80-c99ab6039412}</key>
		<dict>
			<key>x1</key>
			<string>263.006</string>
			<key>y1</key>
			<string>331.474</string>
			<key>x2</key>
			<string>263.006</string>
			<key>y2</key>
			<string>355.581</string>
			<key>height</key>
			<string>25.0016</string>
		</dict>
		<key>{4a914d83-2c9f-4126-bccc-5beec3560705}</key>
		<dict>
			<key>x1</key>
			<string>263.006</string>
			<key>y1</key>
			<string>331.474</string>
			<key>x2</key>
			<string>263.006</string>
			<key>y2</key>
			<string>355.581</string>
			<key>height</key>
			<string>25.0016</string>
		</dict>
		<key>{76ecce18-6711-4f01-9e59-a49ea2fcf344}</key>
		<dict>
			<key>x1</key>
			<string>263.006</string>
			<key>y1</key>
			<string>283.852</string>
			<key>x2</key>
			<string>263.006</string>
			<key>y2</key>
			<string>296.053</string>
			<key>height</key>
			<string>13.0961</string>
		</dict>
		<key>{aa250c88-e9f8-4f7f-a8c6-354f8420fc85}</key>
		<dict>
			<key>x1</key>
			<string>244.432</string>
			<key>y1</key>
			<string>286.233</string>
			<key>x2</key>
			<string>244.432</string>
			<key>y2</key>
			<string>299.625</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{4d9d0bca-22d1-46f9-9634-b42cc91f901a}</key>
		<dict>
			<key>x1</key>
			<string>208.196</string>
			<key>y1</key>
			<string>326.711</string>
			<key>x2</key>
			<string>208.196</string>
			<key>y2</key>
			<string>349.628</string>
			<key>height</key>
			<string>23.811</string>
		</dict>
		<key>{597ea500-892a-49ee-8ea7-43aa0dafee83}</key>
		<dict>
			<key>x1</key>
			<string>208.196</string>
			<key>y1</key>
			<string>290.995</string>
			<key>x2</key>
			<string>208.196</string>
			<key>y2</key>
			<string>304.387</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{ee39ab5c-4934-4ead-afb9-2e6fb47f230f}</key>
		<dict>
			<key>x1</key>
			<string>175.296</string>
			<key>y1</key>
			<string>333.855</string>
			<key>x2</key>
			<string>175.296</string>
			<key>y2</key>
			<string>350.819</string>
			<key>height</key>
			<string>17.8583</string>
		</dict>
		<key>{049153f6-7b06-4ec4-80d9-595f5d4de3c9}</key>
		<dict>
			<key>x1</key>
			<string>148.872</string>
			<key>y1</key>
			<string>331.474</string>
			<key>x2</key>
			<string>148.872</string>
			<key>y2</key>
			<string>355.581</string>
			<key>height</key>
			<string>25.0016</string>
		</dict>
		<key>{583b7ed5-ebbe-4ed9-92b5-cd864e8b2edd}</key>
		<dict>
			<key>x1</key>
			<string>148.872</string>
			<key>y1</key>
			<string>331.474</string>
			<key>x2</key>
			<string>148.872</string>
			<key>y2</key>
			<string>355.581</string>
			<key>height</key>
			<string>25.0016</string>
		</dict>
		<key>{8c938de5-93f2-4142-b2be-d16ed10b22eb}</key>
		<dict>
			<key>x1</key>
			<string>148.872</string>
			<key>y1</key>
			<string>286.233</string>
			<key>x2</key>
			<string>148.872</string>
			<key>y2</key>
			<string>301.411</string>
			<key>height</key>
			<string>16.0724</string>
		</dict>
		<key>{80119016-15b2-4024-8c7b-a4d71b22de4d}</key>
		<dict>
			<key>x1</key>
			<string>122.449</string>
			<key>y1</key>
			<string>283.852</string>
			<key>x2</key>
			<string>122.449</string>
			<key>y2</key>
			<string>298.434</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{9451eda4-e332-4fe2-a904-6108e3f1f949}</key>
		<dict>
			<key>x1</key>
			<string>96.0252</string>
			<key>y1</key>
			<string>338.617</string>
			<key>x2</key>
			<string>96.0252</string>
			<key>y2</key>
			<string>354.39</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{4ac7177a-0022-43fe-8164-eff0086ac583}</key>
		<dict>
			<key>x1</key>
			<string>96.0252</string>
			<key>y1</key>
			<string>286.233</string>
			<key>x2</key>
			<string>96.0252</string>
			<key>y2</key>
			<string>299.625</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{761b3863-fc8f-4a9b-8975-9e74a6e7453d}</key>
		<dict>
			<key>x1</key>
			<string>522.834</string>
			<key>y1</key>
			<string>198.132</string>
			<key>x2</key>
			<string>522.834</string>
			<key>y2</key>
			<string>215.096</string>
			<key>height</key>
			<string>17.8583</string>
		</dict>
		<key>{d2aeec2d-4af7-43d4-ac6c-d13e8c0287e3}</key>
		<dict>
			<key>x1</key>
			<string>522.834</string>
			<key>y1</key>
			<string>155.272</string>
			<key>x2</key>
			<string>522.834</string>
			<key>y2</key>
			<string>171.045</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{316aa82e-9333-4002-a73a-e7a69cb0236a}</key>
		<dict>
			<key>x1</key>
			<string>486.875</string>
			<key>y1</key>
			<string>195.751</string>
			<key>x2</key>
			<string>486.875</string>
			<key>y2</key>
			<string>219.858</string>
			<key>height</key>
			<string>25.0016</string>
		</dict>
		<key>{3b40d22e-6852-4dab-9c98-edafc6a81513}</key>
		<dict>
			<key>x1</key>
			<string>486.875</string>
			<key>y1</key>
			<string>195.751</string>
			<key>x2</key>
			<string>486.875</string>
			<key>y2</key>
			<string>219.858</string>
			<key>height</key>
			<string>25.0016</string>
		</dict>
		<key>{7fe67709-bd45-4fc7-a61e-6d24f8c2bfc5}</key>
		<dict>
			<key>x1</key>
			<string>450.916</string>
			<key>y1</key>
			<string>143.367</string>
			<key>x2</key>
			<string>450.916</string>
			<key>y2</key>
			<string>159.14</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{bc47da5b-827a-4360-b419-c4e8ca5d0b30}</key>
		<dict>
			<key>x1</key>
			<string>414.957</string>
			<key>y1</key>
			<string>202.894</string>
			<key>x2</key>
			<string>414.957</string>
			<key>y2</key>
			<string>218.667</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{13636ed6-a495-4697-82f9-f8b0eb508f1b}</key>
		<dict>
			<key>x1</key>
			<string>414.957</string>
			<key>y1</key>
			<string>150.51</string>
			<key>x2</key>
			<string>414.957</string>
			<key>y2</key>
			<string>166.283</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{2289566f-05b1-49e2-8864-81d7b9f06adb}</key>
		<dict>
			<key>x1</key>
			<string>370.954</string>
			<key>y1</key>
			<string>198.132</string>
			<key>x2</key>
			<string>370.954</string>
			<key>y2</key>
			<string>215.096</string>
			<key>height</key>
			<string>17.8583</string>
		</dict>
		<key>{022c6de6-2ed3-417b-8c9c-f51fdf7e8935}</key>
		<dict>
			<key>x1</key>
			<string>333.428</string>
			<key>y1</key>
			<string>195.751</string>
			<key>x2</key>
			<string>333.428</string>
			<key>y2</key>
			<string>219.858</string>
			<key>height</key>
			<string>25.0016</string>
		</dict>
		<key>{46bab431-0858-4d41-a437-171450827da7}</key>
		<dict>
			<key>x1</key>
			<string>333.428</string>
			<key>y1</key>
			<string>195.751</string>
			<key>x2</key>
			<string>333.428</string>
			<key>y2</key>
			<string>219.858</string>
			<key>height</key>
			<string>25.0016</string>
		</dict>
		<key>{7561e5f3-ca25-423c-bfac-cb9319acf40e}</key>
		<dict>
			<key>x1</key>
			<string>333.428</string>
			<key>y1</key>
			<string>155.272</string>
			<key>x2</key>
			<string>333.428</string>
			<key>y2</key>
			<string>169.26</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{7203b2c6-6ab8-469b-ad3c-942ba8a3d542}</key>
		<dict>
			<key>x1</key>
			<string>295.902</string>
			<key>y1</key>
			<string>150.51</string>
			<key>x2</key>
			<string>295.902</string>
			<key>y2</key>
			<string>163.902</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{ead0615b-8ebd-4ff1-add0-1c56c214b454}</key>
		<dict>
			<key>x1</key>
			<string>258.376</string>
			<key>y1</key>
			<string>207.656</string>
			<key>x2</key>
			<string>258.376</string>
			<key>y2</key>
			<string>223.43</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{5b635902-08c2-47ee-b458-a291d8f8aef3}</key>
		<dict>
			<key>x1</key>
			<string>264.026</string>
			<key>y1</key>
			<string>201.105</string>
			<key>x2</key>
			<string>264.026</string>
			<key>y2</key>
			<string>190.094</string>
			<key>height</key>
			<string>-11.9055</string>
		</dict>
		<key>{22145add-7a21-4a30-b54a-bfbed38cb9ba}</key>
		<dict>
			<key>x1</key>
			<string>258.376</string>
			<key>y1</key>
			<string>148.129</string>
			<key>x2</key>
			<string>258.376</string>
			<key>y2</key>
			<string>162.712</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
		<key>{5dccb80e-2388-480b-abe9-489e99bfeea5}</key>
		<dict>
			<key>x1</key>
			<string>221.205</string>
			<key>y1</key>
			<string>196.343</string>
			<key>x2</key>
			<string>221.205</string>
			<key>y2</key>
			<string>181.76</string>
			<key>height</key>
			<string>-15.4772</string>
		</dict>
		<key>{624ced36-1191-4e9e-a3bd-1b7bc144cc28}</key>
		<dict>
			<key>x1</key>
			<string>179.209</string>
			<key>y1</key>
			<string>207.656</string>
			<key>x2</key>
			<string>179.209</string>
			<key>y2</key>
			<string>223.43</string>
			<key>height</key>
			<string>16.6677</string>
		</dict>
		<key>{8ccf4e4d-374d-4cc7-a262-8f0a60988eda}</key>
		<dict>
			<key>x1</key>
			<string>184.86</string>
			<key>y1</key>
			<string>193.962</string>
			<key>x2</key>
			<string>184.86</string>
			<key>y2</key>
			<string>180.57</string>
			<key>height</key>
			<string>-14.2866</string>
		</dict>
		<key>{0d53a3fe-67ee-45ce-bda4-8a5b7ac314a6}</key>
		<dict>
			<key>x1</key>
			<string>179.209</string>
			<key>y1</key>
			<string>155.272</string>
			<key>x2</key>
			<string>179.209</string>
			<key>y2</key>
			<string>169.26</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{ebcbd646-0daa-45b5-afd5-ac3f6f89ef06}</key>
		<dict>
			<key>x1</key>
			<string>142.865</string>
			<key>y1</key>
			<string>150.51</string>
			<key>x2</key>
			<string>142.865</string>
			<key>y2</key>
			<string>163.902</string>
			<key>height</key>
			<string>14.2866</string>
		</dict>
		<key>{23d13776-a932-4950-8bd4-18ff51e6d89d}</key>
		<dict>
			<key>x1</key>
			<string>106.52</string>
			<key>y1</key>
			<string>148.129</string>
			<key>x2</key>
			<string>106.52</string>
			<key>y2</key>
			<string>162.712</string>
			<key>height</key>
			<string>15.4772</string>
		</dict>
	</dict>
</dict>
</plist>