<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>99.1733</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>135.035</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>246.673</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>282.535</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>394.173</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>430.035</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>541.674</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>577.536</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{dd26bf7b-c236-4795-9011-9acbd2c43856}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1c74e617-b0d8-41db-8633-70f406869cdf}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{0118fd6a-054f-4c81-aa4a-f9088dfc6b35}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{20c90dd8-fe2d-4cec-9cc6-bfef4a1d60ca}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{65390ca6-57cd-42c3-9a8e-f8c490039126}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{849f2c36-b5a5-44c6-a3c1-1c043d673c04}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{53e5f092-5dc1-4ef4-8f3b-9e9f05d333e4}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{10c61ed9-0a05-4b27-92a8-47feaf8924c2}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{31e4a6a8-6b82-4ec7-afa5-7ed2e8c58c55}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{453f34a5-a965-47b1-85c6-3e09ddea750e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7c69d480-972c-4483-8d81-6b5c0de9ee8c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{23b476ae-5330-4f24-a425-0da2fc164e9c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{bee92bff-b3c9-4af0-8621-c4720ef28359}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{9a12d1fb-bea4-4ab0-b807-b62f1fc8f3a0}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{d0455ced-aa1d-456f-b099-84d4d418dc48}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{cf2d6451-9256-47b0-a513-888e98425826}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8c20a5ff-3ce4-42be-9826-80846a4e0b3b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{cc55a6be-afb9-4c07-acbb-a9602c379e36}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{29d818ca-f847-454e-9912-9ec7f1a4bafe}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{dbe3fad7-6c90-4117-bc10-65f767a3f098}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{4046ca49-d7f6-4fb7-97d6-2581a9e4376f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6cdf8aab-59ab-4505-bfd2-e6fe34540a0d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b0001c18-4a19-4a40-a069-c371965af96a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8a7b743f-1373-4ffc-bf50-0a90ad8c5f32}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a39296c7-3276-4fe6-a8a2-42e9a2829dea}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{33c59a54-2745-48fb-adab-1d2704308a50}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{9cfba557-b0ac-45ef-a830-4a72a33b1ac2}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{489c6086-8e79-4a0e-aadb-40a14d7dc385}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{debfcf88-2364-4e94-a10f-6da37de50a81}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a897f0d4-bcb0-4fd0-824c-e4d33d74ee22}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ac06c1f6-6045-4642-ba7b-2c81827a76ca}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{563f0ffb-cc0a-4e03-a484-1b75af9dc390}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{5c90a581-c227-4c61-8aa8-ca1f68a6d06e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{37d7f0c8-3be7-430b-9c39-6b9291752de3}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{2d29363f-2791-4b99-a96b-c95e21c51715}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{312f785e-6479-4035-b2de-6681a535bdce}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{32aeed28-43e4-4df6-87c3-8d551aaefdfd}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{21d9191e-a3bd-4c72-a2b1-8c8751ba4078}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{4afce58c-7b5d-4cb6-ae54-572aaae38d15}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c90205ef-c034-41dc-b8ef-a20769f1f243}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b35dde6c-dcca-4cc2-a05d-29afa486a8a5}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{47ebaf84-32b8-4f3b-8e41-b3697c7c805d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{10174553-5b76-4f09-9afe-7d6c9108e997}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8a81655b-e5ae-40ea-8e50-d05e7ab1eba2}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b2bc0509-c77b-4324-86d3-4906cec802bc}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c327e7e6-9804-4ab9-b227-380d725c643a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{2936b005-a8f0-44df-917e-88be8321ad38}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{874b62a7-85b2-4af1-8a65-cde637d83c0e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{26359e4c-7781-45af-8485-86071b8236c9}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ac814d1f-8335-44a1-a517-6671a39009be}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{06721879-4a3a-4fc0-8c31-040be0da1df9}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e807a68a-3460-4ec7-91de-a2d17462075f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{875763d3-71af-4b1a-9437-407468a47fd7}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e30abf69-0d97-4668-9151-c6e7761a1de1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a59eea73-0b4f-4e23-b256-32563bf76c8c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f3ece800-c578-4bb6-aa0e-f2f4733f84ec}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{3754b8a7-f8d9-4e65-82c9-9b1457fcce14}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1aa69a6c-2aba-4a5a-b66f-0e23e1918326}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{09289f08-ef5d-41f5-b265-385a8a6465e6}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1b62fdcf-2709-4f2f-9325-42be9d9a098d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7dc4f141-b2f2-4346-8ed9-00651be1cbe7}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{5abab901-0817-400f-9ad1-7c5400617e76}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{83a8ea6a-5ad1-4b69-a701-76fa3f22bea2}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{357b7cb0-aa70-44e1-b151-bc09a6ca4a45}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{2c4fa65a-2853-4ad1-885d-3501aa2fd0c3}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{9d1a676f-a529-4182-b018-67cda49922d9}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f4827ad9-f7eb-4573-8148-39c7e121d145}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{3be7f2ba-82d1-4c6a-8015-0e7d159c04e2}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{3d08ff06-faea-454a-8cae-b60edc761312}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{d54d7c55-5890-4186-85bb-a503000c9500}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{61e323a5-9811-443c-aa3a-a63c042c4ffb}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{d84290ca-bddf-4953-a93d-f693c7200dda}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{9fd5fce5-977b-4d3c-8005-4bd852fe5997}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{00341da4-7d15-4869-b260-0f30b09863c2}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{04d55a28-379f-4d19-aad8-b324660d4cb1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{df5428c5-a485-4c5d-92f0-20597d640672}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ddec8634-0f79-4147-8e11-e183cd0b18bf}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{9f7e6208-0ca0-45a0-9c53-1ab9c9b6a03d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{72e904b9-059a-4828-8add-6ee7712a82ba}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{9a855813-4c3b-4231-b1f1-5018e769ce69}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{19247c30-3cc1-444c-b3c9-6b53c974f015}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{0118fd6a-054f-4c81-aa4a-f9088dfc6b35}</key>
		<dict>
			<key>x1</key>
			<string>488.856</string>
			<key>y1</key>
			<string>594.958</string>
			<key>x2</key>
			<string>488.856</string>
			<key>y2</key>
			<string>619.799</string>
			<key>height</key>
			<string>25.625</string>
		</dict>
		<key>{1c74e617-b0d8-41db-8633-70f406869cdf}</key>
		<dict>
			<key>x1</key>
			<string>488.856</string>
			<key>y1</key>
			<string>594.958</string>
			<key>x2</key>
			<string>488.856</string>
			<key>y2</key>
			<string>619.799</string>
			<key>height</key>
			<string>25.625</string>
		</dict>
		<key>{dd26bf7b-c236-4795-9011-9acbd2c43856}</key>
		<dict>
			<key>x1</key>
			<string>488.856</string>
			<key>y1</key>
			<string>594.958</string>
			<key>x2</key>
			<string>488.856</string>
			<key>y2</key>
			<string>619.799</string>
			<key>height</key>
			<string>25.625</string>
		</dict>
		<key>{65390ca6-57cd-42c3-9a8e-f8c490039126}</key>
		<dict>
			<key>x1</key>
			<string>495.15</string>
			<key>y1</key>
			<string>563.406</string>
			<key>x2</key>
			<string>495.15</string>
			<key>y2</key>
			<string>532.299</string>
			<key>height</key>
			<string>-31.875</string>
		</dict>
		<key>{20c90dd8-fe2d-4cec-9cc6-bfef4a1d60ca}</key>
		<dict>
			<key>x1</key>
			<string>495.15</string>
			<key>y1</key>
			<string>563.406</string>
			<key>x2</key>
			<string>495.15</string>
			<key>y2</key>
			<string>532.299</string>
			<key>height</key>
			<string>-31.875</string>
		</dict>
		<key>{53e5f092-5dc1-4ef4-8f3b-9e9f05d333e4}</key>
		<dict>
			<key>x1</key>
			<string>445.802</string>
			<key>y1</key>
			<string>597.613</string>
			<key>x2</key>
			<string>445.802</string>
			<key>y2</key>
			<string>617.924</string>
			<key>height</key>
			<string>21.25</string>
		</dict>
		<key>{849f2c36-b5a5-44c6-a3c1-1c043d673c04}</key>
		<dict>
			<key>x1</key>
			<string>445.802</string>
			<key>y1</key>
			<string>597.613</string>
			<key>x2</key>
			<string>445.802</string>
			<key>y2</key>
			<string>617.924</string>
			<key>height</key>
			<string>21.25</string>
		</dict>
		<key>{31e4a6a8-6b82-4ec7-afa5-7ed2e8c58c55}</key>
		<dict>
			<key>x1</key>
			<string>412.756</string>
			<key>y1</key>
			<string>595.113</string>
			<key>x2</key>
			<string>412.756</string>
			<key>y2</key>
			<string>616.049</string>
			<key>height</key>
			<string>21.875</string>
		</dict>
		<key>{10c61ed9-0a05-4b27-92a8-47feaf8924c2}</key>
		<dict>
			<key>x1</key>
			<string>412.756</string>
			<key>y1</key>
			<string>595.113</string>
			<key>x2</key>
			<string>412.756</string>
			<key>y2</key>
			<string>616.049</string>
			<key>height</key>
			<string>21.875</string>
		</dict>
		<key>{453f34a5-a965-47b1-85c6-3e09ddea750e}</key>
		<dict>
			<key>x1</key>
			<string>385.823</string>
			<key>y1</key>
			<string>563.406</string>
			<key>x2</key>
			<string>385.823</string>
			<key>y2</key>
			<string>546.674</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{7c69d480-972c-4483-8d81-6b5c0de9ee8c}</key>
		<dict>
			<key>x1</key>
			<string>359.99</string>
			<key>y1</key>
			<string>560.734</string>
			<key>x2</key>
			<string>359.99</string>
			<key>y2</key>
			<string>546.674</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{23b476ae-5330-4f24-a425-0da2fc164e9c}</key>
		<dict>
			<key>x1</key>
			<string>341.607</string>
			<key>y1</key>
			<string>555.734</string>
			<key>x2</key>
			<string>341.607</string>
			<key>y2</key>
			<string>541.674</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{bee92bff-b3c9-4af0-8621-c4720ef28359}</key>
		<dict>
			<key>x1</key>
			<string>312.194</string>
			<key>y1</key>
			<string>555.734</string>
			<key>x2</key>
			<string>312.194</string>
			<key>y2</key>
			<string>539.799</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{d0455ced-aa1d-456f-b099-84d4d418dc48}</key>
		<dict>
			<key>x1</key>
			<string>276.668</string>
			<key>y1</key>
			<string>592.458</string>
			<key>x2</key>
			<string>276.668</string>
			<key>y2</key>
			<string>614.174</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{9a12d1fb-bea4-4ab0-b807-b62f1fc8f3a0}</key>
		<dict>
			<key>x1</key>
			<string>276.668</string>
			<key>y1</key>
			<string>592.458</string>
			<key>x2</key>
			<string>276.668</string>
			<key>y2</key>
			<string>614.174</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{cf2d6451-9256-47b0-a513-888e98425826}</key>
		<dict>
			<key>x1</key>
			<string>282.781</string>
			<key>y1</key>
			<string>553.234</string>
			<key>x2</key>
			<string>282.781</string>
			<key>y2</key>
			<string>537.924</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{cc55a6be-afb9-4c07-acbb-a9602c379e36}</key>
		<dict>
			<key>x1</key>
			<string>234.31</string>
			<key>y1</key>
			<string>590.113</string>
			<key>x2</key>
			<string>234.31</string>
			<key>y2</key>
			<string>611.674</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{8c20a5ff-3ce4-42be-9826-80846a4e0b3b}</key>
		<dict>
			<key>x1</key>
			<string>234.31</string>
			<key>y1</key>
			<string>590.113</string>
			<key>x2</key>
			<string>234.31</string>
			<key>y2</key>
			<string>611.674</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{dbe3fad7-6c90-4117-bc10-65f767a3f098}</key>
		<dict>
			<key>x1</key>
			<string>198.753</string>
			<key>y1</key>
			<string>590.113</string>
			<key>x2</key>
			<string>198.753</string>
			<key>y2</key>
			<string>611.674</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{29d818ca-f847-454e-9912-9ec7f1a4bafe}</key>
		<dict>
			<key>x1</key>
			<string>198.753</string>
			<key>y1</key>
			<string>590.113</string>
			<key>x2</key>
			<string>198.753</string>
			<key>y2</key>
			<string>611.674</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{4046ca49-d7f6-4fb7-97d6-2581a9e4376f}</key>
		<dict>
			<key>x1</key>
			<string>169.308</string>
			<key>y1</key>
			<string>560.906</string>
			<key>x2</key>
			<string>169.308</string>
			<key>y2</key>
			<string>544.174</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{6cdf8aab-59ab-4505-bfd2-e6fe34540a0d}</key>
		<dict>
			<key>x1</key>
			<string>134.212</string>
			<key>y1</key>
			<string>553.234</string>
			<key>x2</key>
			<string>134.212</string>
			<key>y2</key>
			<string>537.924</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{b0001c18-4a19-4a40-a069-c371965af96a}</key>
		<dict>
			<key>x1</key>
			<string>100.633</string>
			<key>y1</key>
			<string>552.613</string>
			<key>x2</key>
			<string>100.633</string>
			<key>y2</key>
			<string>567.299</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{a39296c7-3276-4fe6-a8a2-42e9a2829dea}</key>
		<dict>
			<key>x1</key>
			<string>72.8059</string>
			<key>y1</key>
			<string>587.458</string>
			<key>x2</key>
			<string>72.8059</string>
			<key>y2</key>
			<string>609.174</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{8a7b743f-1373-4ffc-bf50-0a90ad8c5f32}</key>
		<dict>
			<key>x1</key>
			<string>72.8059</string>
			<key>y1</key>
			<string>587.458</string>
			<key>x2</key>
			<string>72.8059</string>
			<key>y2</key>
			<string>609.174</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{33c59a54-2745-48fb-adab-1d2704308a50}</key>
		<dict>
			<key>x1</key>
			<string>78.9191</string>
			<key>y1</key>
			<string>555.734</string>
			<key>x2</key>
			<string>78.9191</string>
			<key>y2</key>
			<string>539.799</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{489c6086-8e79-4a0e-aadb-40a14d7dc385}</key>
		<dict>
			<key>x1</key>
			<string>523.585</string>
			<key>y1</key>
			<string>437.613</string>
			<key>x2</key>
			<string>523.585</string>
			<key>y2</key>
			<string>459.174</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{9cfba557-b0ac-45ef-a830-4a72a33b1ac2}</key>
		<dict>
			<key>x1</key>
			<string>523.585</string>
			<key>y1</key>
			<string>437.613</string>
			<key>x2</key>
			<string>523.585</string>
			<key>y2</key>
			<string>459.174</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{a897f0d4-bcb0-4fd0-824c-e4d33d74ee22}</key>
		<dict>
			<key>x1</key>
			<string>480.551</string>
			<key>y1</key>
			<string>437.613</string>
			<key>x2</key>
			<string>480.551</string>
			<key>y2</key>
			<string>459.174</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{debfcf88-2364-4e94-a10f-6da37de50a81}</key>
		<dict>
			<key>x1</key>
			<string>480.551</string>
			<key>y1</key>
			<string>437.613</string>
			<key>x2</key>
			<string>480.551</string>
			<key>y2</key>
			<string>459.174</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{ac06c1f6-6045-4642-ba7b-2c81827a76ca}</key>
		<dict>
			<key>x1</key>
			<string>443.631</string>
			<key>y1</key>
			<string>408.405</string>
			<key>x2</key>
			<string>443.631</string>
			<key>y2</key>
			<string>392.298</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{563f0ffb-cc0a-4e03-a484-1b75af9dc390}</key>
		<dict>
			<key>x1</key>
			<string>414.259</string>
			<key>y1</key>
			<string>405.734</string>
			<key>x2</key>
			<string>414.259</string>
			<key>y2</key>
			<string>390.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{5c90a581-c227-4c61-8aa8-ca1f68a6d06e}</key>
		<dict>
			<key>x1</key>
			<string>392.335</string>
			<key>y1</key>
			<string>403.234</string>
			<key>x2</key>
			<string>392.335</string>
			<key>y2</key>
			<string>389.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{37d7f0c8-3be7-430b-9c39-6b9291752de3}</key>
		<dict>
			<key>x1</key>
			<string>351.325</string>
			<key>y1</key>
			<string>405.113</string>
			<key>x2</key>
			<string>351.325</string>
			<key>y2</key>
			<string>419.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{312f785e-6479-4035-b2de-6681a535bdce}</key>
		<dict>
			<key>x1</key>
			<string>316.068</string>
			<key>y1</key>
			<string>434.957</string>
			<key>x2</key>
			<string>316.068</string>
			<key>y2</key>
			<string>456.674</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{2d29363f-2791-4b99-a96b-c95e21c51715}</key>
		<dict>
			<key>x1</key>
			<string>316.068</string>
			<key>y1</key>
			<string>434.957</string>
			<key>x2</key>
			<string>316.068</string>
			<key>y2</key>
			<string>456.674</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{32aeed28-43e4-4df6-87c3-8d551aaefdfd}</key>
		<dict>
			<key>x1</key>
			<string>316.248</string>
			<key>y1</key>
			<string>400.113</string>
			<key>x2</key>
			<string>316.248</string>
			<key>y2</key>
			<string>416.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{4afce58c-7b5d-4cb6-ae54-572aaae38d15}</key>
		<dict>
			<key>x1</key>
			<string>263.549</string>
			<key>y1</key>
			<string>435.113</string>
			<key>x2</key>
			<string>263.549</string>
			<key>y2</key>
			<string>456.674</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{21d9191e-a3bd-4c72-a2b1-8c8751ba4078}</key>
		<dict>
			<key>x1</key>
			<string>263.549</string>
			<key>y1</key>
			<string>435.113</string>
			<key>x2</key>
			<string>263.549</string>
			<key>y2</key>
			<string>456.674</string>
			<key>height</key>
			<string>22.5</string>
		</dict>
		<key>{b35dde6c-dcca-4cc2-a05d-29afa486a8a5}</key>
		<dict>
			<key>x1</key>
			<string>224.586</string>
			<key>y1</key>
			<string>432.613</string>
			<key>x2</key>
			<string>224.586</string>
			<key>y2</key>
			<string>456.674</string>
			<key>height</key>
			<string>25</string>
		</dict>
		<key>{c90205ef-c034-41dc-b8ef-a20769f1f243}</key>
		<dict>
			<key>x1</key>
			<string>224.586</string>
			<key>y1</key>
			<string>432.613</string>
			<key>x2</key>
			<string>224.586</string>
			<key>y2</key>
			<string>456.674</string>
			<key>height</key>
			<string>25</string>
		</dict>
		<key>{47ebaf84-32b8-4f3b-8e41-b3697c7c805d}</key>
		<dict>
			<key>x1</key>
			<string>191.736</string>
			<key>y1</key>
			<string>405.905</string>
			<key>x2</key>
			<string>191.736</string>
			<key>y2</key>
			<string>390.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{10174553-5b76-4f09-9afe-7d6c9108e997}</key>
		<dict>
			<key>x1</key>
			<string>143.232</string>
			<key>y1</key>
			<string>405.113</string>
			<key>x2</key>
			<string>143.232</string>
			<key>y2</key>
			<string>419.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{8a81655b-e5ae-40ea-8e50-d05e7ab1eba2}</key>
		<dict>
			<key>x1</key>
			<string>108.109</string>
			<key>y1</key>
			<string>405.113</string>
			<key>x2</key>
			<string>108.109</string>
			<key>y2</key>
			<string>419.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{b2bc0509-c77b-4324-86d3-4906cec802bc}</key>
		<dict>
			<key>x1</key>
			<string>72.8059</string>
			<key>y1</key>
			<string>457.458</string>
			<key>x2</key>
			<string>72.8059</string>
			<key>y2</key>
			<string>472.299</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{c327e7e6-9804-4ab9-b227-380d725c643a}</key>
		<dict>
			<key>x1</key>
			<string>72.9863</string>
			<key>y1</key>
			<string>400.113</string>
			<key>x2</key>
			<string>72.9863</string>
			<key>y2</key>
			<string>416.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{2936b005-a8f0-44df-917e-88be8321ad38}</key>
		<dict>
			<key>x1</key>
			<string>542.908</string>
			<key>y1</key>
			<string>307.612</string>
			<key>x2</key>
			<string>542.908</string>
			<key>y2</key>
			<string>320.423</string>
			<key>height</key>
			<string>13.75</string>
		</dict>
		<key>{874b62a7-85b2-4af1-8a65-cde637d83c0e}</key>
		<dict>
			<key>x1</key>
			<string>519.198</string>
			<key>y1</key>
			<string>302.612</string>
			<key>x2</key>
			<string>519.198</string>
			<key>y2</key>
			<string>317.923</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{26359e4c-7781-45af-8485-86071b8236c9}</key>
		<dict>
			<key>x1</key>
			<string>481.261</string>
			<key>y1</key>
			<string>302.612</string>
			<key>x2</key>
			<string>481.261</string>
			<key>y2</key>
			<string>319.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{ac814d1f-8335-44a1-a517-6671a39009be}</key>
		<dict>
			<key>x1</key>
			<string>443.325</string>
			<key>y1</key>
			<string>300.112</string>
			<key>x2</key>
			<string>443.325</string>
			<key>y2</key>
			<string>316.673</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{06721879-4a3a-4fc0-8c31-040be0da1df9}</key>
		<dict>
			<key>x1</key>
			<string>449.438</string>
			<key>y1</key>
			<string>268.405</string>
			<key>x2</key>
			<string>449.438</string>
			<key>y2</key>
			<string>251.673</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{e807a68a-3460-4ec7-91de-a2d17462075f}</key>
		<dict>
			<key>x1</key>
			<string>418.567</string>
			<key>y1</key>
			<string>265.734</string>
			<key>x2</key>
			<string>418.567</string>
			<key>y2</key>
			<string>251.673</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{875763d3-71af-4b1a-9437-407468a47fd7}</key>
		<dict>
			<key>x1</key>
			<string>394.856</string>
			<key>y1</key>
			<string>260.734</string>
			<key>x2</key>
			<string>394.856</string>
			<key>y2</key>
			<string>246.673</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{e30abf69-0d97-4668-9151-c6e7761a1de1}</key>
		<dict>
			<key>x1</key>
			<string>356.92</string>
			<key>y1</key>
			<string>260.734</string>
			<key>x2</key>
			<string>356.92</string>
			<key>y2</key>
			<string>244.798</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{a59eea73-0b4f-4e23-b256-32563bf76c8c}</key>
		<dict>
			<key>x1</key>
			<string>312.87</string>
			<key>y1</key>
			<string>307.457</string>
			<key>x2</key>
			<string>312.87</string>
			<key>y2</key>
			<string>322.923</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{f3ece800-c578-4bb6-aa0e-f2f4733f84ec}</key>
		<dict>
			<key>x1</key>
			<string>318.983</string>
			<key>y1</key>
			<string>258.234</string>
			<key>x2</key>
			<string>318.983</string>
			<key>y2</key>
			<string>242.923</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{3754b8a7-f8d9-4e65-82c9-9b1457fcce14}</key>
		<dict>
			<key>x1</key>
			<string>267.583</string>
			<key>y1</key>
			<string>300.112</string>
			<key>x2</key>
			<string>267.583</string>
			<key>y2</key>
			<string>316.673</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{1aa69a6c-2aba-4a5a-b66f-0e23e1918326}</key>
		<dict>
			<key>x1</key>
			<string>229.095</string>
			<key>y1</key>
			<string>297.612</string>
			<key>x2</key>
			<string>229.095</string>
			<key>y2</key>
			<string>314.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{09289f08-ef5d-41f5-b265-385a8a6465e6}</key>
		<dict>
			<key>x1</key>
			<string>190.608</string>
			<key>y1</key>
			<string>302.612</string>
			<key>x2</key>
			<string>190.608</string>
			<key>y2</key>
			<string>319.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{1b62fdcf-2709-4f2f-9325-42be9d9a098d}</key>
		<dict>
			<key>x1</key>
			<string>196.722</string>
			<key>y1</key>
			<string>265.905</string>
			<key>x2</key>
			<string>196.722</string>
			<key>y2</key>
			<string>249.173</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{7dc4f141-b2f2-4346-8ed9-00651be1cbe7}</key>
		<dict>
			<key>x1</key>
			<string>152.68</string>
			<key>y1</key>
			<string>258.234</string>
			<key>x2</key>
			<string>152.68</string>
			<key>y2</key>
			<string>242.923</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{5abab901-0817-400f-9ad1-7c5400617e76}</key>
		<dict>
			<key>x1</key>
			<string>109.867</string>
			<key>y1</key>
			<string>257.612</string>
			<key>x2</key>
			<string>109.867</string>
			<key>y2</key>
			<string>272.298</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{83a8ea6a-5ad1-4b69-a701-76fa3f22bea2}</key>
		<dict>
			<key>x1</key>
			<string>72.8059</string>
			<key>y1</key>
			<string>302.457</string>
			<key>x2</key>
			<string>72.8059</string>
			<key>y2</key>
			<string>319.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{357b7cb0-aa70-44e1-b151-bc09a6ca4a45}</key>
		<dict>
			<key>x1</key>
			<string>78.9191</string>
			<key>y1</key>
			<string>260.734</string>
			<key>x2</key>
			<string>78.9191</string>
			<key>y2</key>
			<string>244.798</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{2c4fa65a-2853-4ad1-885d-3501aa2fd0c3}</key>
		<dict>
			<key>x1</key>
			<string>543.407</string>
			<key>y1</key>
			<string>152.612</string>
			<key>x2</key>
			<string>543.407</string>
			<key>y2</key>
			<string>166.673</string>
			<key>height</key>
			<string>15</string>
		</dict>
		<key>{9d1a676f-a529-4182-b018-67cda49922d9}</key>
		<dict>
			<key>x1</key>
			<string>520.195</string>
			<key>y1</key>
			<string>150.112</string>
			<key>x2</key>
			<string>520.195</string>
			<key>y2</key>
			<string>165.423</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{f4827ad9-f7eb-4573-8148-39c7e121d145}</key>
		<dict>
			<key>x1</key>
			<string>483.056</string>
			<key>y1</key>
			<string>150.112</string>
			<key>x2</key>
			<string>483.056</string>
			<key>y2</key>
			<string>166.673</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{3be7f2ba-82d1-4c6a-8015-0e7d159c04e2}</key>
		<dict>
			<key>x1</key>
			<string>445.917</string>
			<key>y1</key>
			<string>145.112</string>
			<key>x2</key>
			<string>445.917</string>
			<key>y2</key>
			<string>161.673</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{3d08ff06-faea-454a-8cae-b60edc761312}</key>
		<dict>
			<key>x1</key>
			<string>452.03</string>
			<key>y1</key>
			<string>113.405</string>
			<key>x2</key>
			<string>452.03</string>
			<key>y2</key>
			<string>97.2983</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{d54d7c55-5890-4186-85bb-a503000c9500}</key>
		<dict>
			<key>x1</key>
			<string>421.657</string>
			<key>y1</key>
			<string>110.734</string>
			<key>x2</key>
			<string>421.657</string>
			<key>y2</key>
			<string>95.4233</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{61e323a5-9811-443c-aa3a-a63c042c4ffb}</key>
		<dict>
			<key>x1</key>
			<string>398.446</string>
			<key>y1</key>
			<string>108.234</string>
			<key>x2</key>
			<string>398.446</string>
			<key>y2</key>
			<string>94.1733</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{d84290ca-bddf-4953-a93d-f693c7200dda}</key>
		<dict>
			<key>x1</key>
			<string>355.374</string>
			<key>y1</key>
			<string>110.112</string>
			<key>x2</key>
			<string>355.374</string>
			<key>y2</key>
			<string>124.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{9fd5fce5-977b-4d3c-8005-4bd852fe5997}</key>
		<dict>
			<key>x1</key>
			<string>318.054</string>
			<key>y1</key>
			<string>152.457</string>
			<key>x2</key>
			<string>318.054</string>
			<key>y2</key>
			<string>169.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{00341da4-7d15-4869-b260-0f30b09863c2}</key>
		<dict>
			<key>x1</key>
			<string>318.235</string>
			<key>y1</key>
			<string>105.112</string>
			<key>x2</key>
			<string>318.235</string>
			<key>y2</key>
			<string>121.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{04d55a28-379f-4d19-aad8-b324660d4cb1}</key>
		<dict>
			<key>x1</key>
			<string>273.631</string>
			<key>y1</key>
			<string>150.112</string>
			<key>x2</key>
			<string>273.631</string>
			<key>y2</key>
			<string>166.673</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{df5428c5-a485-4c5d-92f0-20597d640672}</key>
		<dict>
			<key>x1</key>
			<string>236.009</string>
			<key>y1</key>
			<string>150.112</string>
			<key>x2</key>
			<string>236.009</string>
			<key>y2</key>
			<string>166.673</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{ddec8634-0f79-4147-8e11-e183cd0b18bf}</key>
		<dict>
			<key>x1</key>
			<string>198.386</string>
			<key>y1</key>
			<string>145.112</string>
			<key>x2</key>
			<string>198.386</string>
			<key>y2</key>
			<string>161.673</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{9f7e6208-0ca0-45a0-9c53-1ab9c9b6a03d}</key>
		<dict>
			<key>x1</key>
			<string>204.499</string>
			<key>y1</key>
			<string>110.905</string>
			<key>x2</key>
			<string>204.499</string>
			<key>y2</key>
			<string>95.4233</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{72e904b9-059a-4828-8add-6ee7712a82ba}</key>
		<dict>
			<key>x1</key>
			<string>155.389</string>
			<key>y1</key>
			<string>110.112</string>
			<key>x2</key>
			<string>155.389</string>
			<key>y2</key>
			<string>124.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{9a855813-4c3b-4231-b1f1-5018e769ce69}</key>
		<dict>
			<key>x1</key>
			<string>119.372</string>
			<key>y1</key>
			<string>110.112</string>
			<key>x2</key>
			<string>119.372</string>
			<key>y2</key>
			<string>124.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{19247c30-3cc1-444c-b3c9-6b53c974f015}</key>
		<dict>
			<key>x1</key>
			<string>83.3559</string>
			<key>y1</key>
			<string>105.112</string>
			<key>x2</key>
			<string>83.3559</string>
			<key>y2</key>
			<string>121.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
	</dict>
</dict>
</plist>