<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>61.4836</string>
			<key>y</key>
			<string>111.274</string>
			<key>bx</key>
			<string>61.4836</string>
			<key>by</key>
			<string>147.028</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>61.4836</string>
			<key>y</key>
			<string>247.337</string>
			<key>bx</key>
			<string>61.4836</string>
			<key>by</key>
			<string>283.091</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{ea76b5ef-3d79-4258-895b-d313a11af3f2}</key>
		<dict>
			<key>x</key>
			<string>519.059</string>
			<key>y</key>
			<string>308.99</string>
		</dict>
		<key>{4dd1aa9f-8d0d-4dc5-ba70-c2a0e79879b1}</key>
		<dict>
			<key>x</key>
			<string>519.059</string>
			<key>y</key>
			<string>264.344</string>
		</dict>
		<key>{984ae017-c9c0-4b91-aa74-edaaa9a44937}</key>
		<dict>
			<key>x</key>
			<string>502.973</string>
			<key>y</key>
			<string>313.242</string>
		</dict>
		<key>{e858e7f3-d2d8-46fa-bee2-6d7588c07c29}</key>
		<dict>
			<key>x</key>
			<string>502.973</string>
			<key>y</key>
			<string>262.218</string>
		</dict>
		<key>{1bb3c021-fad8-4c7e-ae33-322e5c2994d1}</key>
		<dict>
			<key>x</key>
			<string>486.734</string>
			<key>y</key>
			<string>315.368</string>
		</dict>
		<key>{82078cae-ae87-49a8-b414-9f498e2ddbf9}</key>
		<dict>
			<key>x</key>
			<string>486.734</string>
			<key>y</key>
			<string>260.092</string>
		</dict>
		<key>{c77fa708-3aba-4be5-892b-5f46eac4da60}</key>
		<dict>
			<key>x</key>
			<string>470.495</string>
			<key>y</key>
			<string>262.218</string>
		</dict>
		<key>{45b7e19e-9c44-4a56-9e87-4bdd27a75146}</key>
		<dict>
			<key>x</key>
			<string>454.256</string>
			<key>y</key>
			<string>300.486</string>
		</dict>
		<key>{d05d0874-9d47-4cef-8d5b-ea57aad022c1}</key>
		<dict>
			<key>x</key>
			<string>454.256</string>
			<key>y</key>
			<string>264.344</string>
		</dict>
		<key>{c87cd38c-53ae-4732-8506-52020fd66893}</key>
		<dict>
			<key>x</key>
			<string>433.402</string>
			<key>y</key>
			<string>302.612</string>
		</dict>
		<key>{b4b6c505-ce06-4bea-8ef0-f21a9b6ce982}</key>
		<dict>
			<key>x</key>
			<string>433.402</string>
			<key>y</key>
			<string>268.596</string>
		</dict>
		<key>{61c6e105-e497-4eeb-b92a-27160828b606}</key>
		<dict>
			<key>x</key>
			<string>418.332</string>
			<key>y</key>
			<string>304.738</string>
		</dict>
		<key>{693e8a3b-39c2-465e-8646-90c364d3859a}</key>
		<dict>
			<key>x</key>
			<string>418.332</string>
			<key>y</key>
			<string>264.344</string>
		</dict>
		<key>{adc84eb6-83ee-4c7a-a2d2-0a127edea249}</key>
		<dict>
			<key>x</key>
			<string>403.261</string>
			<key>y</key>
			<string>306.864</string>
		</dict>
		<key>{23568638-a0a3-4156-848a-6b11e9a384dc}</key>
		<dict>
			<key>x</key>
			<string>403.261</string>
			<key>y</key>
			<string>262.218</string>
		</dict>
		<key>{398b0d6e-518e-454e-bd92-0b18b89f8fc7}</key>
		<dict>
			<key>x</key>
			<string>388.19</string>
			<key>y</key>
			<string>260.092</string>
		</dict>
		<key>{d0bf024f-24e1-497f-8c63-3abbec376abf}</key>
		<dict>
			<key>x</key>
			<string>373.12</string>
			<key>y</key>
			<string>255.841</string>
		</dict>
		<key>{a835c532-06df-4ca1-b70f-27e6d4a019e2}</key>
		<dict>
			<key>x</key>
			<string>358.049</string>
			<key>y</key>
			<string>302.612</string>
		</dict>
		<key>{0cf58a79-963f-48b3-83b3-f7d1ef89c86c}</key>
		<dict>
			<key>x</key>
			<string>333.936</string>
			<key>y</key>
			<string>313.242</string>
		</dict>
		<key>{2e19a1ba-b61a-488e-a3b9-28905968ed47}</key>
		<dict>
			<key>x</key>
			<string>333.936</string>
			<key>y</key>
			<string>257.967</string>
		</dict>
		<key>{bbfe5709-0628-4de1-9090-df7635f77cd3}</key>
		<dict>
			<key>x</key>
			<string>313.078</string>
			<key>y</key>
			<string>306.864</string>
		</dict>
		<key>{0d0e48a1-090c-42a3-911f-220a33359f94}</key>
		<dict>
			<key>x</key>
			<string>298.004</string>
			<key>y</key>
			<string>308.99</string>
		</dict>
		<key>{8268b34e-07b5-4ac3-89d2-f6e69369e7cf}</key>
		<dict>
			<key>x</key>
			<string>282.929</string>
			<key>y</key>
			<string>306.864</string>
		</dict>
		<key>{33fce238-0bcc-48f0-b64a-0f8c355b118b}</key>
		<dict>
			<key>x</key>
			<string>267.855</string>
			<key>y</key>
			<string>302.612</string>
		</dict>
		<key>{1c9aec4e-cf7b-4d9d-b796-adf11cbbd8af}</key>
		<dict>
			<key>x</key>
			<string>267.701</string>
			<key>y</key>
			<string>262.218</string>
		</dict>
		<key>{f811a004-0b9f-4f2a-b31a-6832863226b8}</key>
		<dict>
			<key>x</key>
			<string>252.78</string>
			<key>y</key>
			<string>304.738</string>
		</dict>
		<key>{6849797a-1dd1-4b39-b82f-ca32ef32ec54}</key>
		<dict>
			<key>x</key>
			<string>252.78</string>
			<key>y</key>
			<string>264.344</string>
		</dict>
		<key>{eab67b68-86fa-4bb6-aab9-6dc47c233ccd}</key>
		<dict>
			<key>x</key>
			<string>237.705</string>
			<key>y</key>
			<string>306.864</string>
		</dict>
		<key>{1c834d39-17ca-4c3e-8ac8-4e38ef65e356}</key>
		<dict>
			<key>x</key>
			<string>237.705</string>
			<key>y</key>
			<string>262.218</string>
		</dict>
		<key>{063cd400-399c-4264-922b-38ca81467cff}</key>
		<dict>
			<key>x</key>
			<string>222.631</string>
			<key>y</key>
			<string>260.092</string>
		</dict>
		<key>{f86b90fb-9f6f-4d1a-bba2-538887b67eb7}</key>
		<dict>
			<key>x</key>
			<string>207.556</string>
			<key>y</key>
			<string>308.99</string>
		</dict>
		<key>{9f12857b-9ab8-420e-8402-9ed0458a5d1b}</key>
		<dict>
			<key>x</key>
			<string>207.556</string>
			<key>y</key>
			<string>255.841</string>
		</dict>
		<key>{7a724a8d-9d5a-4d2d-839e-eb7ed361e7f2}</key>
		<dict>
			<key>x</key>
			<string>187.428</string>
			<key>y</key>
			<string>306.864</string>
		</dict>
		<key>{7a795d4c-8517-4fad-9c6e-0be95ea41b27}</key>
		<dict>
			<key>x</key>
			<string>173.083</string>
			<key>y</key>
			<string>304.738</string>
		</dict>
		<key>{0a1fa380-35af-41d1-b049-9e39ee3188a4}</key>
		<dict>
			<key>x</key>
			<string>173.083</string>
			<key>y</key>
			<string>264.344</string>
		</dict>
		<key>{f36fc5a2-5b91-4e2d-86a6-4b208a6cf17b}</key>
		<dict>
			<key>x</key>
			<string>158.738</string>
			<key>y</key>
			<string>253.715</string>
		</dict>
		<key>{0483b53a-b214-4d6b-9cc3-19edf6e8046b}</key>
		<dict>
			<key>x</key>
			<string>144.393</string>
			<key>y</key>
			<string>255.841</string>
		</dict>
		<key>{17b83263-6a00-4a8c-b698-86ef30720644}</key>
		<dict>
			<key>x</key>
			<string>121.44</string>
			<key>y</key>
			<string>253.715</string>
		</dict>
		<key>{b91642d2-c0fe-43bf-8a88-48f7560c71f3}</key>
		<dict>
			<key>x</key>
			<string>98.4883</string>
			<key>y</key>
			<string>302.612</string>
		</dict>
		<key>{5a185a50-0446-48d8-919b-6df0825cbb88}</key>
		<dict>
			<key>x</key>
			<string>98.4883</string>
			<key>y</key>
			<string>257.967</string>
		</dict>
		<key>{bed54816-76bf-4511-985e-4b9df6720adb}</key>
		<dict>
			<key>x</key>
			<string>543.297</string>
			<key>y</key>
			<string>164.423</string>
		</dict>
		<key>{cf55b374-dc11-4624-aa33-08c5d902066e}</key>
		<dict>
			<key>x</key>
			<string>527.828</string>
			<key>y</key>
			<string>162.297</string>
		</dict>
		<key>{964f32c9-6807-4e6d-9a49-438cfae733cf}</key>
		<dict>
			<key>x</key>
			<string>512.36</string>
			<key>y</key>
			<string>158.045</string>
		</dict>
		<key>{1f06d14a-14b9-44a1-9ab0-9ddc9ba536c3}</key>
		<dict>
			<key>x</key>
			<string>496.892</string>
			<key>y</key>
			<string>162.297</string>
		</dict>
		<key>{e8b3ced1-8fac-4c69-bf74-100d16babe66}</key>
		<dict>
			<key>x</key>
			<string>496.738</string>
			<key>y</key>
			<string>121.904</string>
		</dict>
		<key>{eff41bb4-0845-48db-b9a3-a394d30f552e}</key>
		<dict>
			<key>x</key>
			<string>481.423</string>
			<key>y</key>
			<string>126.155</string>
		</dict>
		<key>{c01d30ea-3a05-41de-8edc-b948218f2803}</key>
		<dict>
			<key>x</key>
			<string>465.955</string>
			<key>y</key>
			<string>121.904</string>
		</dict>
		<key>{c9b74891-7170-4459-aa6f-a5b58dbdf639}</key>
		<dict>
			<key>x</key>
			<string>450.486</string>
			<key>y</key>
			<string>119.778</string>
		</dict>
		<key>{4afb0169-73c0-4f10-8a45-d2b3c9a55028}</key>
		<dict>
			<key>x</key>
			<string>435.018</string>
			<key>y</key>
			<string>170.801</string>
		</dict>
		<key>{e20b3b4e-09e9-4dc8-8708-cf8ef5728b9a}</key>
		<dict>
			<key>x</key>
			<string>435.018</string>
			<key>y</key>
			<string>117.652</string>
		</dict>
		<key>{ab136584-22d8-43db-a4f9-dc51bf3fcb33}</key>
		<dict>
			<key>x</key>
			<string>414.94</string>
			<key>y</key>
			<string>113.4</string>
		</dict>
		<key>{b16b4faa-56e7-4be3-8ab0-ca013c49cb5b}</key>
		<dict>
			<key>x</key>
			<string>400.645</string>
			<key>y</key>
			<string>117.652</string>
		</dict>
		<key>{ef3d2ee2-d692-45f1-ba65-d6616018c64c}</key>
		<dict>
			<key>x</key>
			<string>377.619</string>
			<key>y</key>
			<string>158.045</string>
		</dict>
		<key>{61f568cf-832f-4fd6-85b8-be38a9cf8f8f}</key>
		<dict>
			<key>x</key>
			<string>377.773</string>
			<key>y</key>
			<string>119.778</string>
		</dict>
		<key>{23dcf64f-b439-4de0-b02a-7a694bb08135}</key>
		<dict>
			<key>x</key>
			<string>354.901</string>
			<key>y</key>
			<string>113.4</string>
		</dict>
		<key>{ac46da0f-d6f3-478f-b7e9-18b048131148}</key>
		<dict>
			<key>x</key>
			<string>332.029</string>
			<key>y</key>
			<string>164.423</string>
		</dict>
		<key>{31db32c8-3dbe-447c-8e24-02864e63cf8c}</key>
		<dict>
			<key>x</key>
			<string>332.029</string>
			<key>y</key>
			<string>119.778</string>
		</dict>
		<key>{5b4bc17d-1c77-409f-8a2f-c86b4189f908}</key>
		<dict>
			<key>x</key>
			<string>311.203</string>
			<key>y</key>
			<string>166.549</string>
		</dict>
		<key>{b0686347-ff3b-4553-8d6c-7abe7d4e55fb}</key>
		<dict>
			<key>x</key>
			<string>296.16</string>
			<key>y</key>
			<string>164.423</string>
		</dict>
		<key>{3c409ab8-7610-4835-9c57-dfe1d2e648b2}</key>
		<dict>
			<key>x</key>
			<string>281.116</string>
			<key>y</key>
			<string>162.297</string>
		</dict>
		<key>{d976d142-bfb9-4067-b724-205c9a31f83e}</key>
		<dict>
			<key>x</key>
			<string>266.073</string>
			<key>y</key>
			<string>158.045</string>
		</dict>
		<key>{6c92065a-7e78-4277-af2d-da73cb702623}</key>
		<dict>
			<key>x</key>
			<string>265.92</string>
			<key>y</key>
			<string>119.778</string>
		</dict>
		<key>{10f1ad32-b74a-41dd-8bb6-453d18449fc8}</key>
		<dict>
			<key>x</key>
			<string>251.03</string>
			<key>y</key>
			<string>121.904</string>
		</dict>
		<key>{a6d671be-e7fe-478e-8902-c751d946c942}</key>
		<dict>
			<key>x</key>
			<string>235.987</string>
			<key>y</key>
			<string>119.778</string>
		</dict>
		<key>{327c37c9-9fe4-458c-873f-1f6804f548f4}</key>
		<dict>
			<key>x</key>
			<string>220.943</string>
			<key>y</key>
			<string>117.652</string>
		</dict>
		<key>{a18d78cd-d0e1-4ed8-86a8-363e62041312}</key>
		<dict>
			<key>x</key>
			<string>205.9</string>
			<key>y</key>
			<string>162.297</string>
		</dict>
		<key>{f62bcaa5-f227-4622-8f2b-8062235c5b2e}</key>
		<dict>
			<key>x</key>
			<string>205.9</string>
			<key>y</key>
			<string>113.4</string>
		</dict>
		<key>{98ab4965-6e7d-4d27-92b4-b26bf878717f}</key>
		<dict>
			<key>x</key>
			<string>178.316</string>
			<key>y</key>
			<string>117.652</string>
		</dict>
		<key>{c37f2c73-3c91-421d-84ae-ef17799bbc26}</key>
		<dict>
			<key>x</key>
			<string>164.69</string>
			<key>y</key>
			<string>119.778</string>
		</dict>
		<key>{ad452079-7059-48ad-9358-dbdaeaeb0666}</key>
		<dict>
			<key>x</key>
			<string>150.91</string>
			<key>y</key>
			<string>158.045</string>
		</dict>
		<key>{9f8ba20e-2f70-4b7f-b723-20f9b424acc8}</key>
		<dict>
			<key>x</key>
			<string>151.063</string>
			<key>y</key>
			<string>117.652</string>
		</dict>
		<key>{3b4b8d15-b430-441f-997d-e1a297684265}</key>
		<dict>
			<key>x</key>
			<string>129.262</string>
			<key>y</key>
			<string>113.4</string>
		</dict>
		<key>{c111dbac-dd13-4384-aa22-1dfa7483b72b}</key>
		<dict>
			<key>x</key>
			<string>107.46</string>
			<key>y</key>
			<string>119.778</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{ea76b5ef-3d79-4258-895b-d313a11af3f2}</key>
		<dict>
			<key>x1</key>
			<string>519.335</string>
			<key>y1</key>
			<string>309.657</string>
			<key>x2</key>
			<string>519.335</string>
			<key>y2</key>
			<string>322.809</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{4dd1aa9f-8d0d-4dc5-ba70-c2a0e79879b1}</key>
		<dict>
			<key>x1</key>
			<string>524.687</string>
			<key>y1</key>
			<string>263.691</string>
			<key>x2</key>
			<string>524.687</string>
			<key>y2</key>
			<string>249.463</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{984ae017-c9c0-4b91-aa74-edaaa9a44937}</key>
		<dict>
			<key>x1</key>
			<string>508.295</string>
			<key>y1</key>
			<string>312.444</string>
			<key>x2</key>
			<string>508.295</string>
			<key>y2</key>
			<string>301.549</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{e858e7f3-d2d8-46fa-bee2-6d7588c07c29}</key>
		<dict>
			<key>x1</key>
			<string>508.295</string>
			<key>y1</key>
			<string>261.42</string>
			<key>x2</key>
			<string>508.295</string>
			<key>y2</key>
			<string>248.4</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{1bb3c021-fad8-4c7e-ae33-322e5c2994d1}</key>
		<dict>
			<key>x1</key>
			<string>492.056</string>
			<key>y1</key>
			<string>314.57</string>
			<key>x2</key>
			<string>492.056</string>
			<key>y2</key>
			<string>302.612</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{82078cae-ae87-49a8-b414-9f498e2ddbf9}</key>
		<dict>
			<key>x1</key>
			<string>492.056</string>
			<key>y1</key>
			<string>259.294</string>
			<key>x2</key>
			<string>492.056</string>
			<key>y2</key>
			<string>248.4</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{c77fa708-3aba-4be5-892b-5f46eac4da60}</key>
		<dict>
			<key>x1</key>
			<string>475.817</string>
			<key>y1</key>
			<string>261.42</string>
			<key>x2</key>
			<string>475.817</string>
			<key>y2</key>
			<string>248.4</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{45b7e19e-9c44-4a56-9e87-4bdd27a75146}</key>
		<dict>
			<key>x1</key>
			<string>454.532</string>
			<key>y1</key>
			<string>301.285</string>
			<key>x2</key>
			<string>454.532</string>
			<key>y2</key>
			<string>315.368</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{d05d0874-9d47-4cef-8d5b-ea57aad022c1}</key>
		<dict>
			<key>x1</key>
			<string>459.577</string>
			<key>y1</key>
			<string>263.546</string>
			<key>x2</key>
			<string>459.577</string>
			<key>y2</key>
			<string>248.4</string>
			<key>height</key>
			<string>-15.9449</string>
		</dict>
		<key>{c87cd38c-53ae-4732-8506-52020fd66893}</key>
		<dict>
			<key>x1</key>
			<string>433.679</string>
			<key>y1</key>
			<string>303.411</string>
			<key>x2</key>
			<string>433.679</string>
			<key>y2</key>
			<string>315.368</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{b4b6c505-ce06-4bea-8ef0-f21a9b6ce982}</key>
		<dict>
			<key>x1</key>
			<string>438.724</string>
			<key>y1</key>
			<string>267.798</string>
			<key>x2</key>
			<string>438.724</string>
			<key>y2</key>
			<string>252.652</string>
			<key>height</key>
			<string>-15.9449</string>
		</dict>
		<key>{61c6e105-e497-4eeb-b92a-27160828b606}</key>
		<dict>
			<key>x1</key>
			<string>418.608</string>
			<key>y1</key>
			<string>305.537</string>
			<key>x2</key>
			<string>418.608</string>
			<key>y2</key>
			<string>317.494</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{693e8a3b-39c2-465e-8646-90c364d3859a}</key>
		<dict>
			<key>x1</key>
			<string>423.653</string>
			<key>y1</key>
			<string>263.546</string>
			<key>x2</key>
			<string>423.653</string>
			<key>y2</key>
			<string>250.88</string>
			<key>height</key>
			<string>-13.4646</string>
		</dict>
		<key>{adc84eb6-83ee-4c7a-a2d2-0a127edea249}</key>
		<dict>
			<key>x1</key>
			<string>403.537</string>
			<key>y1</key>
			<string>307.663</string>
			<key>x2</key>
			<string>403.537</string>
			<key>y2</key>
			<string>319.62</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{23568638-a0a3-4156-848a-6b11e9a384dc}</key>
		<dict>
			<key>x1</key>
			<string>408.583</string>
			<key>y1</key>
			<string>261.42</string>
			<key>x2</key>
			<string>408.583</string>
			<key>y2</key>
			<string>249.108</string>
			<key>height</key>
			<string>-13.1102</string>
		</dict>
		<key>{398b0d6e-518e-454e-bd92-0b18b89f8fc7}</key>
		<dict>
			<key>x1</key>
			<string>393.512</string>
			<key>y1</key>
			<string>259.294</string>
			<key>x2</key>
			<string>393.512</string>
			<key>y2</key>
			<string>247.337</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{d0bf024f-24e1-497f-8c63-3abbec376abf}</key>
		<dict>
			<key>x1</key>
			<string>378.441</string>
			<key>y1</key>
			<string>255.042</string>
			<key>x2</key>
			<string>378.441</string>
			<key>y2</key>
			<string>242.553</string>
			<key>height</key>
			<string>-13.2874</string>
		</dict>
		<key>{a835c532-06df-4ca1-b70f-27e6d4a019e2}</key>
		<dict>
			<key>x1</key>
			<string>358.325</string>
			<key>y1</key>
			<string>303.411</string>
			<key>x2</key>
			<string>358.325</string>
			<key>y2</key>
			<string>317.494</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{0cf58a79-963f-48b3-83b3-f7d1ef89c86c}</key>
		<dict>
			<key>x1</key>
			<string>339.257</string>
			<key>y1</key>
			<string>312.444</string>
			<key>x2</key>
			<string>339.257</string>
			<key>y2</key>
			<string>299.423</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{2e19a1ba-b61a-488e-a3b9-28905968ed47}</key>
		<dict>
			<key>x1</key>
			<string>339.257</string>
			<key>y1</key>
			<string>257.168</string>
			<key>x2</key>
			<string>339.257</string>
			<key>y2</key>
			<string>244.148</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{bbfe5709-0628-4de1-9090-df7635f77cd3}</key>
		<dict>
			<key>x1</key>
			<string>313.355</string>
			<key>y1</key>
			<string>307.663</string>
			<key>x2</key>
			<string>313.355</string>
			<key>y2</key>
			<string>322.809</string>
			<key>height</key>
			<string>15.9449</string>
		</dict>
		<key>{0d0e48a1-090c-42a3-911f-220a33359f94}</key>
		<dict>
			<key>x1</key>
			<string>298.28</string>
			<key>y1</key>
			<string>309.789</string>
			<key>x2</key>
			<string>298.28</string>
			<key>y2</key>
			<string>322.809</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{8268b34e-07b5-4ac3-89d2-f6e69369e7cf}</key>
		<dict>
			<key>x1</key>
			<string>283.206</string>
			<key>y1</key>
			<string>307.663</string>
			<key>x2</key>
			<string>283.206</string>
			<key>y2</key>
			<string>322.809</string>
			<key>height</key>
			<string>15.9449</string>
		</dict>
		<key>{33fce238-0bcc-48f0-b64a-0f8c355b118b}</key>
		<dict>
			<key>x1</key>
			<string>268.131</string>
			<key>y1</key>
			<string>303.411</string>
			<key>x2</key>
			<string>268.131</string>
			<key>y2</key>
			<string>322.809</string>
			<key>height</key>
			<string>20.1969</string>
		</dict>
		<key>{1c9aec4e-cf7b-4d9d-b796-adf11cbbd8af}</key>
		<dict>
			<key>x1</key>
			<string>273.33</string>
			<key>y1</key>
			<string>261.565</string>
			<key>x2</key>
			<string>273.33</string>
			<key>y2</key>
			<string>247.337</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{f811a004-0b9f-4f2a-b31a-6832863226b8}</key>
		<dict>
			<key>x1</key>
			<string>253.056</string>
			<key>y1</key>
			<string>305.537</string>
			<key>x2</key>
			<string>253.056</string>
			<key>y2</key>
			<string>318.557</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{6849797a-1dd1-4b39-b82f-ca32ef32ec54}</key>
		<dict>
			<key>x1</key>
			<string>258.102</string>
			<key>y1</key>
			<string>263.546</string>
			<key>x2</key>
			<string>258.102</string>
			<key>y2</key>
			<string>248.4</string>
			<key>height</key>
			<string>-15.9449</string>
		</dict>
		<key>{eab67b68-86fa-4bb6-aab9-6dc47c233ccd}</key>
		<dict>
			<key>x1</key>
			<string>237.982</string>
			<key>y1</key>
			<string>307.663</string>
			<key>x2</key>
			<string>237.982</string>
			<key>y2</key>
			<string>319.62</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{1c834d39-17ca-4c3e-8ac8-4e38ef65e356}</key>
		<dict>
			<key>x1</key>
			<string>243.027</string>
			<key>y1</key>
			<string>261.42</string>
			<key>x2</key>
			<string>243.027</string>
			<key>y2</key>
			<string>246.628</string>
			<key>height</key>
			<string>-15.5906</string>
		</dict>
		<key>{063cd400-399c-4264-922b-38ca81467cff}</key>
		<dict>
			<key>x1</key>
			<string>227.952</string>
			<key>y1</key>
			<string>259.294</string>
			<key>x2</key>
			<string>227.952</string>
			<key>y2</key>
			<string>244.856</string>
			<key>height</key>
			<string>-15.2362</string>
		</dict>
		<key>{f86b90fb-9f6f-4d1a-bba2-538887b67eb7}</key>
		<dict>
			<key>x1</key>
			<string>207.832</string>
			<key>y1</key>
			<string>309.789</string>
			<key>x2</key>
			<string>207.832</string>
			<key>y2</key>
			<string>323.872</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{9f12857b-9ab8-420e-8402-9ed0458a5d1b}</key>
		<dict>
			<key>x1</key>
			<string>212.878</string>
			<key>y1</key>
			<string>255.042</string>
			<key>x2</key>
			<string>212.878</string>
			<key>y2</key>
			<string>243.085</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{7a724a8d-9d5a-4d2d-839e-eb7ed361e7f2}</key>
		<dict>
			<key>x1</key>
			<string>187.705</string>
			<key>y1</key>
			<string>307.663</string>
			<key>x2</key>
			<string>187.705</string>
			<key>y2</key>
			<string>319.62</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{7a795d4c-8517-4fad-9c6e-0be95ea41b27}</key>
		<dict>
			<key>x1</key>
			<string>173.359</string>
			<key>y1</key>
			<string>305.537</string>
			<key>x2</key>
			<string>173.359</string>
			<key>y2</key>
			<string>318.557</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{0a1fa380-35af-41d1-b049-9e39ee3188a4}</key>
		<dict>
			<key>x1</key>
			<string>178.405</string>
			<key>y1</key>
			<string>263.546</string>
			<key>x2</key>
			<string>178.405</string>
			<key>y2</key>
			<string>249.463</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{f36fc5a2-5b91-4e2d-86a6-4b208a6cf17b}</key>
		<dict>
			<key>x1</key>
			<string>159.014</string>
			<key>y1</key>
			<string>254.513</string>
			<key>x2</key>
			<string>159.014</string>
			<key>y2</key>
			<string>267.533</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{0483b53a-b214-4d6b-9cc3-19edf6e8046b}</key>
		<dict>
			<key>x1</key>
			<string>144.669</string>
			<key>y1</key>
			<string>256.639</string>
			<key>x2</key>
			<string>144.669</string>
			<key>y2</key>
			<string>268.596</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{17b83263-6a00-4a8c-b698-86ef30720644}</key>
		<dict>
			<key>x1</key>
			<string>121.717</string>
			<key>y1</key>
			<string>254.513</string>
			<key>x2</key>
			<string>121.717</string>
			<key>y2</key>
			<string>267.533</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{b91642d2-c0fe-43bf-8a88-48f7560c71f3}</key>
		<dict>
			<key>x1</key>
			<string>98.7646</string>
			<key>y1</key>
			<string>303.411</string>
			<key>x2</key>
			<string>98.7646</string>
			<key>y2</key>
			<string>317.494</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{5a185a50-0446-48d8-919b-6df0825cbb88}</key>
		<dict>
			<key>x1</key>
			<string>103.81</string>
			<key>y1</key>
			<string>257.168</string>
			<key>x2</key>
			<string>103.81</string>
			<key>y2</key>
			<string>244.148</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{bed54816-76bf-4511-985e-4b9df6720adb}</key>
		<dict>
			<key>x1</key>
			<string>543.573</string>
			<key>y1</key>
			<string>165.222</string>
			<key>x2</key>
			<string>543.573</string>
			<key>y2</key>
			<string>178.242</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{cf55b374-dc11-4624-aa33-08c5d902066e}</key>
		<dict>
			<key>x1</key>
			<string>528.105</string>
			<key>y1</key>
			<string>163.096</string>
			<key>x2</key>
			<string>528.105</string>
			<key>y2</key>
			<string>177.888</string>
			<key>height</key>
			<string>15.5906</string>
		</dict>
		<key>{964f32c9-6807-4e6d-9a49-438cfae733cf}</key>
		<dict>
			<key>x1</key>
			<string>512.636</string>
			<key>y1</key>
			<string>158.844</string>
			<key>x2</key>
			<string>512.636</string>
			<key>y2</key>
			<string>177.533</string>
			<key>height</key>
			<string>19.4882</string>
		</dict>
		<key>{1f06d14a-14b9-44a1-9ab0-9ddc9ba536c3}</key>
		<dict>
			<key>x1</key>
			<string>497.168</string>
			<key>y1</key>
			<string>163.096</string>
			<key>x2</key>
			<string>497.168</string>
			<key>y2</key>
			<string>177.179</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{e8b3ced1-8fac-4c69-bf74-100d16babe66}</key>
		<dict>
			<key>x1</key>
			<string>502.367</string>
			<key>y1</key>
			<string>121.25</string>
			<key>x2</key>
			<string>502.367</string>
			<key>y2</key>
			<string>108.085</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{eff41bb4-0845-48db-b9a3-a394d30f552e}</key>
		<dict>
			<key>x1</key>
			<string>486.745</string>
			<key>y1</key>
			<string>125.357</string>
			<key>x2</key>
			<string>486.745</string>
			<key>y2</key>
			<string>111.274</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{c01d30ea-3a05-41de-8edc-b948218f2803}</key>
		<dict>
			<key>x1</key>
			<string>471.276</string>
			<key>y1</key>
			<string>121.105</string>
			<key>x2</key>
			<string>471.276</string>
			<key>y2</key>
			<string>109.502</string>
			<key>height</key>
			<string>-12.4016</string>
		</dict>
		<key>{c9b74891-7170-4459-aa6f-a5b58dbdf639}</key>
		<dict>
			<key>x1</key>
			<string>455.808</string>
			<key>y1</key>
			<string>118.979</string>
			<key>x2</key>
			<string>455.808</string>
			<key>y2</key>
			<string>107.73</string>
			<key>height</key>
			<string>-12.0472</string>
		</dict>
		<key>{4afb0169-73c0-4f10-8a45-d2b3c9a55028}</key>
		<dict>
			<key>x1</key>
			<string>435.294</string>
			<key>y1</key>
			<string>171.6</string>
			<key>x2</key>
			<string>435.294</string>
			<key>y2</key>
			<string>185.152</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
		<key>{e20b3b4e-09e9-4dc8-8708-cf8ef5728b9a}</key>
		<dict>
			<key>x1</key>
			<string>440.339</string>
			<key>y1</key>
			<string>116.853</string>
			<key>x2</key>
			<string>440.339</string>
			<key>y2</key>
			<string>105.959</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{ab136584-22d8-43db-a4f9-dc51bf3fcb33}</key>
		<dict>
			<key>x1</key>
			<string>415.216</string>
			<key>y1</key>
			<string>114.198</string>
			<key>x2</key>
			<string>415.216</string>
			<key>y2</key>
			<string>127.218</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{b16b4faa-56e7-4be3-8ab0-ca013c49cb5b}</key>
		<dict>
			<key>x1</key>
			<string>400.921</string>
			<key>y1</key>
			<string>118.45</string>
			<key>x2</key>
			<string>400.921</string>
			<key>y2</key>
			<string>129.344</string>
			<key>height</key>
			<string>11.6929</string>
		</dict>
		<key>{ef3d2ee2-d692-45f1-ba65-d6616018c64c}</key>
		<dict>
			<key>x1</key>
			<string>377.896</string>
			<key>y1</key>
			<string>158.712</string>
			<key>x2</key>
			<string>377.896</string>
			<key>y2</key>
			<string>175.053</string>
			<key>height</key>
			<string>17.0079</string>
		</dict>
		<key>{61f568cf-832f-4fd6-85b8-be38a9cf8f8f}</key>
		<dict>
			<key>x1</key>
			<string>378.049</string>
			<key>y1</key>
			<string>120.576</string>
			<key>x2</key>
			<string>378.049</string>
			<key>y2</key>
			<string>133.065</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{23dcf64f-b439-4de0-b02a-7a694bb08135}</key>
		<dict>
			<key>x1</key>
			<string>355.177</string>
			<key>y1</key>
			<string>114.198</string>
			<key>x2</key>
			<string>355.177</string>
			<key>y2</key>
			<string>128.281</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{ac46da0f-d6f3-478f-b7e9-18b048131148}</key>
		<dict>
			<key>x1</key>
			<string>332.305</string>
			<key>y1</key>
			<string>165.222</string>
			<key>x2</key>
			<string>332.305</string>
			<key>y2</key>
			<string>179.305</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{31db32c8-3dbe-447c-8e24-02864e63cf8c}</key>
		<dict>
			<key>x1</key>
			<string>332.305</string>
			<key>y1</key>
			<string>120.576</string>
			<key>x2</key>
			<string>332.305</string>
			<key>y2</key>
			<string>133.065</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{5b4bc17d-1c77-409f-8a2f-c86b4189f908}</key>
		<dict>
			<key>x1</key>
			<string>311.479</string>
			<key>y1</key>
			<string>167.348</string>
			<key>x2</key>
			<string>311.479</string>
			<key>y2</key>
			<string>179.305</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{b0686347-ff3b-4553-8d6c-7abe7d4e55fb}</key>
		<dict>
			<key>x1</key>
			<string>296.436</string>
			<key>y1</key>
			<string>165.222</string>
			<key>x2</key>
			<string>296.436</string>
			<key>y2</key>
			<string>177.533</string>
			<key>height</key>
			<string>13.1102</string>
		</dict>
		<key>{3c409ab8-7610-4835-9c57-dfe1d2e648b2}</key>
		<dict>
			<key>x1</key>
			<string>281.393</string>
			<key>y1</key>
			<string>163.096</string>
			<key>x2</key>
			<string>281.393</string>
			<key>y2</key>
			<string>175.762</string>
			<key>height</key>
			<string>13.4646</string>
		</dict>
		<key>{d976d142-bfb9-4067-b724-205c9a31f83e}</key>
		<dict>
			<key>x1</key>
			<string>266.349</string>
			<key>y1</key>
			<string>158.844</string>
			<key>x2</key>
			<string>266.349</string>
			<key>y2</key>
			<string>173.99</string>
			<key>height</key>
			<string>15.9449</string>
		</dict>
		<key>{6c92065a-7e78-4277-af2d-da73cb702623}</key>
		<dict>
			<key>x1</key>
			<string>266.196</string>
			<key>y1</key>
			<string>120.444</string>
			<key>x2</key>
			<string>266.196</string>
			<key>y2</key>
			<string>133.065</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{10f1ad32-b74a-41dd-8bb6-453d18449fc8}</key>
		<dict>
			<key>x1</key>
			<string>251.306</string>
			<key>y1</key>
			<string>122.702</string>
			<key>x2</key>
			<string>251.306</string>
			<key>y2</key>
			<string>135.722</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{a6d671be-e7fe-478e-8902-c751d946c942}</key>
		<dict>
			<key>x1</key>
			<string>236.263</string>
			<key>y1</key>
			<string>120.576</string>
			<key>x2</key>
			<string>236.263</string>
			<key>y2</key>
			<string>133.951</string>
			<key>height</key>
			<string>14.1732</string>
		</dict>
		<key>{327c37c9-9fe4-458c-873f-1f6804f548f4}</key>
		<dict>
			<key>x1</key>
			<string>221.22</string>
			<key>y1</key>
			<string>118.45</string>
			<key>x2</key>
			<string>221.22</string>
			<key>y2</key>
			<string>132.179</string>
			<key>height</key>
			<string>14.5276</string>
		</dict>
		<key>{a18d78cd-d0e1-4ed8-86a8-363e62041312}</key>
		<dict>
			<key>x1</key>
			<string>206.177</string>
			<key>y1</key>
			<string>163.096</string>
			<key>x2</key>
			<string>206.177</string>
			<key>y2</key>
			<string>177.179</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{f62bcaa5-f227-4622-8f2b-8062235c5b2e}</key>
		<dict>
			<key>x1</key>
			<string>206.177</string>
			<key>y1</key>
			<string>114.198</string>
			<key>x2</key>
			<string>206.177</string>
			<key>y2</key>
			<string>130.407</string>
			<key>height</key>
			<string>17.0079</string>
		</dict>
		<key>{98ab4965-6e7d-4d27-92b4-b26bf878717f}</key>
		<dict>
			<key>x1</key>
			<string>178.592</string>
			<key>y1</key>
			<string>118.45</string>
			<key>x2</key>
			<string>178.592</string>
			<key>y2</key>
			<string>131.47</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{c37f2c73-3c91-421d-84ae-ef17799bbc26}</key>
		<dict>
			<key>x1</key>
			<string>164.966</string>
			<key>y1</key>
			<string>120.576</string>
			<key>x2</key>
			<string>164.966</string>
			<key>y2</key>
			<string>132.533</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{ad452079-7059-48ad-9358-dbdaeaeb0666}</key>
		<dict>
			<key>x1</key>
			<string>151.186</string>
			<key>y1</key>
			<string>158.712</string>
			<key>x2</key>
			<string>151.186</string>
			<key>y2</key>
			<string>175.053</string>
			<key>height</key>
			<string>17.0079</string>
		</dict>
		<key>{9f8ba20e-2f70-4b7f-b723-20f9b424acc8}</key>
		<dict>
			<key>x1</key>
			<string>151.34</string>
			<key>y1</key>
			<string>118.45</string>
			<key>x2</key>
			<string>151.34</string>
			<key>y2</key>
			<string>131.47</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{3b4b8d15-b430-441f-997d-e1a297684265}</key>
		<dict>
			<key>x1</key>
			<string>129.538</string>
			<key>y1</key>
			<string>114.198</string>
			<key>x2</key>
			<string>129.538</string>
			<key>y2</key>
			<string>128.281</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{c111dbac-dd13-4384-aa22-1dfa7483b72b}</key>
		<dict>
			<key>x1</key>
			<string>107.736</string>
			<key>y1</key>
			<string>120.576</string>
			<key>x2</key>
			<string>107.736</string>
			<key>y2</key>
			<string>133.065</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
	</dict>
</dict>
</plist>