<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>61.4836</string>
			<key>y</key>
			<string>111.274</string>
			<key>bx</key>
			<string>61.4836</string>
			<key>by</key>
			<string>147.028</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>61.4836</string>
			<key>y</key>
			<string>247.337</string>
			<key>bx</key>
			<string>61.4836</string>
			<key>by</key>
			<string>283.091</string>
			<key>spatium</key>
			<string>4.25197</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{b2cbf94b-6201-477a-ba02-f3e1d2557f8b}</key>
		<dict>
			<key>x</key>
			<string>519.059</string>
			<key>y</key>
			<string>308.99</string>
		</dict>
		<key>{7d12c5d6-fda6-421b-8cb3-562f095ad7d6}</key>
		<dict>
			<key>x</key>
			<string>519.059</string>
			<key>y</key>
			<string>264.344</string>
		</dict>
		<key>{42f2e9dd-fa68-4622-ad23-d924964bd6c1}</key>
		<dict>
			<key>x</key>
			<string>502.973</string>
			<key>y</key>
			<string>313.242</string>
		</dict>
		<key>{a0c30286-d17e-4e8c-bc0d-c53384b653cd}</key>
		<dict>
			<key>x</key>
			<string>502.973</string>
			<key>y</key>
			<string>262.218</string>
		</dict>
		<key>{9ac23cf1-5c1c-4a98-86f2-0bd757893045}</key>
		<dict>
			<key>x</key>
			<string>486.734</string>
			<key>y</key>
			<string>315.368</string>
		</dict>
		<key>{eeb5c93a-cb62-45f5-b890-3e521d5691fa}</key>
		<dict>
			<key>x</key>
			<string>486.734</string>
			<key>y</key>
			<string>260.092</string>
		</dict>
		<key>{60686344-0d75-4ce8-9d49-c063a81dc45b}</key>
		<dict>
			<key>x</key>
			<string>470.495</string>
			<key>y</key>
			<string>262.218</string>
		</dict>
		<key>{c760ee3d-294e-4324-b5ac-cf5d5df132e1}</key>
		<dict>
			<key>x</key>
			<string>454.256</string>
			<key>y</key>
			<string>300.486</string>
		</dict>
		<key>{784d1179-049c-4530-927d-6bfbdea4bfd7}</key>
		<dict>
			<key>x</key>
			<string>454.256</string>
			<key>y</key>
			<string>264.344</string>
		</dict>
		<key>{317d8f4e-e16e-44c8-baeb-102475c7f596}</key>
		<dict>
			<key>x</key>
			<string>433.402</string>
			<key>y</key>
			<string>302.612</string>
		</dict>
		<key>{61eb3e4c-5b6a-4a64-9220-25b71e07536f}</key>
		<dict>
			<key>x</key>
			<string>433.402</string>
			<key>y</key>
			<string>268.596</string>
		</dict>
		<key>{e924743d-f8b8-4f96-9878-2580bd8d3c01}</key>
		<dict>
			<key>x</key>
			<string>418.332</string>
			<key>y</key>
			<string>304.738</string>
		</dict>
		<key>{ce7f6d13-f58d-4750-af83-266ca5759c22}</key>
		<dict>
			<key>x</key>
			<string>418.332</string>
			<key>y</key>
			<string>264.344</string>
		</dict>
		<key>{2a28e3bf-3ee9-4539-9f46-f43b9f3280e8}</key>
		<dict>
			<key>x</key>
			<string>403.261</string>
			<key>y</key>
			<string>306.864</string>
		</dict>
		<key>{35d34817-cdf4-4342-aa67-d45b04fc6bc7}</key>
		<dict>
			<key>x</key>
			<string>403.261</string>
			<key>y</key>
			<string>262.218</string>
		</dict>
		<key>{25c406e7-e951-42fc-8798-a9c713462fe7}</key>
		<dict>
			<key>x</key>
			<string>388.19</string>
			<key>y</key>
			<string>260.092</string>
		</dict>
		<key>{b289d480-569d-49ab-bd5b-6f747b35fa94}</key>
		<dict>
			<key>x</key>
			<string>373.12</string>
			<key>y</key>
			<string>255.841</string>
		</dict>
		<key>{9b4bfc96-8582-46a0-b5e4-a572898134a1}</key>
		<dict>
			<key>x</key>
			<string>358.049</string>
			<key>y</key>
			<string>302.612</string>
		</dict>
		<key>{cd5cac97-2c97-4a6e-8b3f-f040bb47baf4}</key>
		<dict>
			<key>x</key>
			<string>333.936</string>
			<key>y</key>
			<string>313.242</string>
		</dict>
		<key>{397edec4-e9e7-48d4-aadb-8ffe1bfa9ad9}</key>
		<dict>
			<key>x</key>
			<string>333.936</string>
			<key>y</key>
			<string>257.967</string>
		</dict>
		<key>{33cb06a8-6eaf-4cd9-a4e2-ab01c607d7ef}</key>
		<dict>
			<key>x</key>
			<string>313.078</string>
			<key>y</key>
			<string>306.864</string>
		</dict>
		<key>{9fa09b49-6029-4ebc-9dad-bbcd04721277}</key>
		<dict>
			<key>x</key>
			<string>298.004</string>
			<key>y</key>
			<string>308.99</string>
		</dict>
		<key>{ddaea28e-7db0-49d3-86c0-b1908d6fb5c6}</key>
		<dict>
			<key>x</key>
			<string>282.929</string>
			<key>y</key>
			<string>306.864</string>
		</dict>
		<key>{b2c79647-5d82-46b4-88b6-0d0667743574}</key>
		<dict>
			<key>x</key>
			<string>267.855</string>
			<key>y</key>
			<string>302.612</string>
		</dict>
		<key>{51c6ed1f-065c-4867-8f06-e581e9cde4ef}</key>
		<dict>
			<key>x</key>
			<string>267.701</string>
			<key>y</key>
			<string>262.218</string>
		</dict>
		<key>{28afe8e6-0161-4f9c-9d2f-198a79e2e0cd}</key>
		<dict>
			<key>x</key>
			<string>252.78</string>
			<key>y</key>
			<string>304.738</string>
		</dict>
		<key>{2932886b-fc23-49d2-a50f-fd2296d036a2}</key>
		<dict>
			<key>x</key>
			<string>252.78</string>
			<key>y</key>
			<string>264.344</string>
		</dict>
		<key>{56e66db2-dbaa-4ddb-bd98-6a6eaf8a4d56}</key>
		<dict>
			<key>x</key>
			<string>237.705</string>
			<key>y</key>
			<string>306.864</string>
		</dict>
		<key>{84c603a9-2936-4309-be8a-ed8c59620562}</key>
		<dict>
			<key>x</key>
			<string>237.705</string>
			<key>y</key>
			<string>262.218</string>
		</dict>
		<key>{3ed19493-9db0-49db-a57d-0fedf827c3bb}</key>
		<dict>
			<key>x</key>
			<string>222.631</string>
			<key>y</key>
			<string>260.092</string>
		</dict>
		<key>{dfb298b0-bd40-44b1-8dbc-62de0755b1f5}</key>
		<dict>
			<key>x</key>
			<string>207.556</string>
			<key>y</key>
			<string>308.99</string>
		</dict>
		<key>{cd327415-8fa0-441c-ba78-047fd39ddd61}</key>
		<dict>
			<key>x</key>
			<string>207.556</string>
			<key>y</key>
			<string>255.841</string>
		</dict>
		<key>{ccfc6997-1592-4164-a133-125011427ac1}</key>
		<dict>
			<key>x</key>
			<string>187.428</string>
			<key>y</key>
			<string>306.864</string>
		</dict>
		<key>{fd5e95bc-b92d-4c4d-b634-9498b93b7c88}</key>
		<dict>
			<key>x</key>
			<string>173.083</string>
			<key>y</key>
			<string>304.738</string>
		</dict>
		<key>{94dd5c67-2965-480e-90a8-b3d5531135cd}</key>
		<dict>
			<key>x</key>
			<string>173.083</string>
			<key>y</key>
			<string>264.344</string>
		</dict>
		<key>{47b72672-ed69-4ed1-9929-616e4c113767}</key>
		<dict>
			<key>x</key>
			<string>158.738</string>
			<key>y</key>
			<string>253.715</string>
		</dict>
		<key>{fe2e92d5-ced7-469a-aa2e-11b8554f86d8}</key>
		<dict>
			<key>x</key>
			<string>144.393</string>
			<key>y</key>
			<string>255.841</string>
		</dict>
		<key>{b4a2da04-9e2a-4bab-a906-40e08de60171}</key>
		<dict>
			<key>x</key>
			<string>121.44</string>
			<key>y</key>
			<string>253.715</string>
		</dict>
		<key>{569fc203-3fc5-47e4-b0d1-8a36c9a21c73}</key>
		<dict>
			<key>x</key>
			<string>98.4883</string>
			<key>y</key>
			<string>302.612</string>
		</dict>
		<key>{ccc05735-3dd8-49c0-a722-ede4c8a5ffaa}</key>
		<dict>
			<key>x</key>
			<string>98.4883</string>
			<key>y</key>
			<string>257.967</string>
		</dict>
		<key>{d86e4c1f-1bd7-427e-a5c0-530fdb6ba93a}</key>
		<dict>
			<key>x</key>
			<string>543.297</string>
			<key>y</key>
			<string>164.423</string>
		</dict>
		<key>{8e0717b0-52ef-4a4e-bf56-1990ffa4be5c}</key>
		<dict>
			<key>x</key>
			<string>527.828</string>
			<key>y</key>
			<string>162.297</string>
		</dict>
		<key>{7457e7a1-127f-484a-8fcc-8cdd1b6f1d01}</key>
		<dict>
			<key>x</key>
			<string>512.36</string>
			<key>y</key>
			<string>158.045</string>
		</dict>
		<key>{ff637cae-6491-4a7b-8d96-2c3dc6e1dc74}</key>
		<dict>
			<key>x</key>
			<string>496.892</string>
			<key>y</key>
			<string>162.297</string>
		</dict>
		<key>{1e9d2bea-e617-4bf1-93a8-e13fb9e7ceee}</key>
		<dict>
			<key>x</key>
			<string>496.738</string>
			<key>y</key>
			<string>121.904</string>
		</dict>
		<key>{1a6b787f-6a8b-475b-845b-7e5ba60e2ab1}</key>
		<dict>
			<key>x</key>
			<string>481.423</string>
			<key>y</key>
			<string>126.155</string>
		</dict>
		<key>{afe4a628-d4ad-4c89-bc0f-b69c5d56a939}</key>
		<dict>
			<key>x</key>
			<string>465.955</string>
			<key>y</key>
			<string>121.904</string>
		</dict>
		<key>{dad5733c-8f0e-4e6b-a9ce-acc567fef56c}</key>
		<dict>
			<key>x</key>
			<string>450.486</string>
			<key>y</key>
			<string>119.778</string>
		</dict>
		<key>{4ea7d4a9-cd28-48da-a72c-e355a207142b}</key>
		<dict>
			<key>x</key>
			<string>435.018</string>
			<key>y</key>
			<string>170.801</string>
		</dict>
		<key>{f32ec3c5-849c-4af6-a97e-df98c8a526c5}</key>
		<dict>
			<key>x</key>
			<string>435.018</string>
			<key>y</key>
			<string>117.652</string>
		</dict>
		<key>{a171bfa6-9b0e-4191-ad9d-8bfa1db424bd}</key>
		<dict>
			<key>x</key>
			<string>414.94</string>
			<key>y</key>
			<string>113.4</string>
		</dict>
		<key>{a3726df7-3ebe-40e1-91a8-69878f5f9fec}</key>
		<dict>
			<key>x</key>
			<string>400.645</string>
			<key>y</key>
			<string>117.652</string>
		</dict>
		<key>{3765a101-9b2c-4532-86a5-589538259642}</key>
		<dict>
			<key>x</key>
			<string>377.619</string>
			<key>y</key>
			<string>158.045</string>
		</dict>
		<key>{dd12d21a-f760-4f2e-8b83-064e50c3edc9}</key>
		<dict>
			<key>x</key>
			<string>377.773</string>
			<key>y</key>
			<string>119.778</string>
		</dict>
		<key>{094e04ce-8b82-4a96-a4e0-78a98f43610a}</key>
		<dict>
			<key>x</key>
			<string>354.901</string>
			<key>y</key>
			<string>113.4</string>
		</dict>
		<key>{dc712136-5480-46a1-9949-c8778ecf7f0d}</key>
		<dict>
			<key>x</key>
			<string>332.029</string>
			<key>y</key>
			<string>164.423</string>
		</dict>
		<key>{7e32f4a2-953a-4e9b-a0cc-2e5274a32ef0}</key>
		<dict>
			<key>x</key>
			<string>332.029</string>
			<key>y</key>
			<string>119.778</string>
		</dict>
		<key>{9d613f75-c9a4-4105-96ba-271c33d0769d}</key>
		<dict>
			<key>x</key>
			<string>311.203</string>
			<key>y</key>
			<string>166.549</string>
		</dict>
		<key>{a3179206-48ce-4932-bff8-d8b13b299336}</key>
		<dict>
			<key>x</key>
			<string>296.16</string>
			<key>y</key>
			<string>164.423</string>
		</dict>
		<key>{5f17919d-1cc1-4637-b9d3-e412f1ad64cb}</key>
		<dict>
			<key>x</key>
			<string>281.116</string>
			<key>y</key>
			<string>162.297</string>
		</dict>
		<key>{6d85f204-94af-4abf-acb7-9e76f5276d7b}</key>
		<dict>
			<key>x</key>
			<string>266.073</string>
			<key>y</key>
			<string>158.045</string>
		</dict>
		<key>{7a811370-0454-474f-a814-6dda63387fec}</key>
		<dict>
			<key>x</key>
			<string>265.92</string>
			<key>y</key>
			<string>119.778</string>
		</dict>
		<key>{5840482a-d9fa-404f-9fdf-e655acd09386}</key>
		<dict>
			<key>x</key>
			<string>251.03</string>
			<key>y</key>
			<string>121.904</string>
		</dict>
		<key>{1919b485-8252-4893-af28-ac0432fe4356}</key>
		<dict>
			<key>x</key>
			<string>235.987</string>
			<key>y</key>
			<string>119.778</string>
		</dict>
		<key>{d63d1ec8-45a9-42e4-b4e7-9fb2e29e9701}</key>
		<dict>
			<key>x</key>
			<string>220.943</string>
			<key>y</key>
			<string>117.652</string>
		</dict>
		<key>{5f7dd266-2511-4452-90e0-bd85d6c4b5a8}</key>
		<dict>
			<key>x</key>
			<string>205.9</string>
			<key>y</key>
			<string>162.297</string>
		</dict>
		<key>{855f7bb0-bd19-44b1-ab16-f1032aedd16c}</key>
		<dict>
			<key>x</key>
			<string>205.9</string>
			<key>y</key>
			<string>113.4</string>
		</dict>
		<key>{de735206-fe87-4b4d-9af4-7b59c599724e}</key>
		<dict>
			<key>x</key>
			<string>178.316</string>
			<key>y</key>
			<string>117.652</string>
		</dict>
		<key>{5b0401bd-68bd-4d0f-9850-aa4a6974b094}</key>
		<dict>
			<key>x</key>
			<string>164.69</string>
			<key>y</key>
			<string>119.778</string>
		</dict>
		<key>{994115ad-21a9-4887-8336-5e0257215afb}</key>
		<dict>
			<key>x</key>
			<string>150.91</string>
			<key>y</key>
			<string>158.045</string>
		</dict>
		<key>{5f71d43f-540c-4583-8977-1533eb2b5005}</key>
		<dict>
			<key>x</key>
			<string>151.063</string>
			<key>y</key>
			<string>117.652</string>
		</dict>
		<key>{42fbe370-0876-4d30-8a3f-2b09f84279c1}</key>
		<dict>
			<key>x</key>
			<string>129.262</string>
			<key>y</key>
			<string>113.4</string>
		</dict>
		<key>{35631f65-46d4-4218-8000-2a005d62b34b}</key>
		<dict>
			<key>x</key>
			<string>107.46</string>
			<key>y</key>
			<string>119.778</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{b2cbf94b-6201-477a-ba02-f3e1d2557f8b}</key>
		<dict>
			<key>x1</key>
			<string>519.335</string>
			<key>y1</key>
			<string>309.657</string>
			<key>x2</key>
			<string>519.335</string>
			<key>y2</key>
			<string>322.809</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{7d12c5d6-fda6-421b-8cb3-562f095ad7d6}</key>
		<dict>
			<key>x1</key>
			<string>524.687</string>
			<key>y1</key>
			<string>263.691</string>
			<key>x2</key>
			<string>524.687</string>
			<key>y2</key>
			<string>249.463</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{42f2e9dd-fa68-4622-ad23-d924964bd6c1}</key>
		<dict>
			<key>x1</key>
			<string>508.295</string>
			<key>y1</key>
			<string>312.444</string>
			<key>x2</key>
			<string>508.295</string>
			<key>y2</key>
			<string>301.549</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{a0c30286-d17e-4e8c-bc0d-c53384b653cd}</key>
		<dict>
			<key>x1</key>
			<string>508.295</string>
			<key>y1</key>
			<string>261.42</string>
			<key>x2</key>
			<string>508.295</string>
			<key>y2</key>
			<string>248.4</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{9ac23cf1-5c1c-4a98-86f2-0bd757893045}</key>
		<dict>
			<key>x1</key>
			<string>492.056</string>
			<key>y1</key>
			<string>314.57</string>
			<key>x2</key>
			<string>492.056</string>
			<key>y2</key>
			<string>302.612</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{eeb5c93a-cb62-45f5-b890-3e521d5691fa}</key>
		<dict>
			<key>x1</key>
			<string>492.056</string>
			<key>y1</key>
			<string>259.294</string>
			<key>x2</key>
			<string>492.056</string>
			<key>y2</key>
			<string>248.4</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{60686344-0d75-4ce8-9d49-c063a81dc45b}</key>
		<dict>
			<key>x1</key>
			<string>475.817</string>
			<key>y1</key>
			<string>261.42</string>
			<key>x2</key>
			<string>475.817</string>
			<key>y2</key>
			<string>248.4</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{c760ee3d-294e-4324-b5ac-cf5d5df132e1}</key>
		<dict>
			<key>x1</key>
			<string>454.532</string>
			<key>y1</key>
			<string>301.285</string>
			<key>x2</key>
			<string>454.532</string>
			<key>y2</key>
			<string>315.368</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{784d1179-049c-4530-927d-6bfbdea4bfd7}</key>
		<dict>
			<key>x1</key>
			<string>459.577</string>
			<key>y1</key>
			<string>263.546</string>
			<key>x2</key>
			<string>459.577</string>
			<key>y2</key>
			<string>248.4</string>
			<key>height</key>
			<string>-15.9449</string>
		</dict>
		<key>{317d8f4e-e16e-44c8-baeb-102475c7f596}</key>
		<dict>
			<key>x1</key>
			<string>433.679</string>
			<key>y1</key>
			<string>303.411</string>
			<key>x2</key>
			<string>433.679</string>
			<key>y2</key>
			<string>315.368</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{61eb3e4c-5b6a-4a64-9220-25b71e07536f}</key>
		<dict>
			<key>x1</key>
			<string>438.724</string>
			<key>y1</key>
			<string>267.798</string>
			<key>x2</key>
			<string>438.724</string>
			<key>y2</key>
			<string>252.652</string>
			<key>height</key>
			<string>-15.9449</string>
		</dict>
		<key>{e924743d-f8b8-4f96-9878-2580bd8d3c01}</key>
		<dict>
			<key>x1</key>
			<string>418.608</string>
			<key>y1</key>
			<string>305.537</string>
			<key>x2</key>
			<string>418.608</string>
			<key>y2</key>
			<string>317.494</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{ce7f6d13-f58d-4750-af83-266ca5759c22}</key>
		<dict>
			<key>x1</key>
			<string>423.653</string>
			<key>y1</key>
			<string>263.546</string>
			<key>x2</key>
			<string>423.653</string>
			<key>y2</key>
			<string>250.88</string>
			<key>height</key>
			<string>-13.4646</string>
		</dict>
		<key>{2a28e3bf-3ee9-4539-9f46-f43b9f3280e8}</key>
		<dict>
			<key>x1</key>
			<string>403.537</string>
			<key>y1</key>
			<string>307.663</string>
			<key>x2</key>
			<string>403.537</string>
			<key>y2</key>
			<string>319.62</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{35d34817-cdf4-4342-aa67-d45b04fc6bc7}</key>
		<dict>
			<key>x1</key>
			<string>408.583</string>
			<key>y1</key>
			<string>261.42</string>
			<key>x2</key>
			<string>408.583</string>
			<key>y2</key>
			<string>249.108</string>
			<key>height</key>
			<string>-13.1102</string>
		</dict>
		<key>{25c406e7-e951-42fc-8798-a9c713462fe7}</key>
		<dict>
			<key>x1</key>
			<string>393.512</string>
			<key>y1</key>
			<string>259.294</string>
			<key>x2</key>
			<string>393.512</string>
			<key>y2</key>
			<string>247.337</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{b289d480-569d-49ab-bd5b-6f747b35fa94}</key>
		<dict>
			<key>x1</key>
			<string>378.441</string>
			<key>y1</key>
			<string>255.042</string>
			<key>x2</key>
			<string>378.441</string>
			<key>y2</key>
			<string>242.553</string>
			<key>height</key>
			<string>-13.2874</string>
		</dict>
		<key>{9b4bfc96-8582-46a0-b5e4-a572898134a1}</key>
		<dict>
			<key>x1</key>
			<string>358.325</string>
			<key>y1</key>
			<string>303.411</string>
			<key>x2</key>
			<string>358.325</string>
			<key>y2</key>
			<string>317.494</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{cd5cac97-2c97-4a6e-8b3f-f040bb47baf4}</key>
		<dict>
			<key>x1</key>
			<string>339.257</string>
			<key>y1</key>
			<string>312.444</string>
			<key>x2</key>
			<string>339.257</string>
			<key>y2</key>
			<string>299.423</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{397edec4-e9e7-48d4-aadb-8ffe1bfa9ad9}</key>
		<dict>
			<key>x1</key>
			<string>339.257</string>
			<key>y1</key>
			<string>257.168</string>
			<key>x2</key>
			<string>339.257</string>
			<key>y2</key>
			<string>244.148</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{33cb06a8-6eaf-4cd9-a4e2-ab01c607d7ef}</key>
		<dict>
			<key>x1</key>
			<string>313.355</string>
			<key>y1</key>
			<string>307.663</string>
			<key>x2</key>
			<string>313.355</string>
			<key>y2</key>
			<string>322.809</string>
			<key>height</key>
			<string>15.9449</string>
		</dict>
		<key>{9fa09b49-6029-4ebc-9dad-bbcd04721277}</key>
		<dict>
			<key>x1</key>
			<string>298.28</string>
			<key>y1</key>
			<string>309.789</string>
			<key>x2</key>
			<string>298.28</string>
			<key>y2</key>
			<string>322.809</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{ddaea28e-7db0-49d3-86c0-b1908d6fb5c6}</key>
		<dict>
			<key>x1</key>
			<string>283.206</string>
			<key>y1</key>
			<string>307.663</string>
			<key>x2</key>
			<string>283.206</string>
			<key>y2</key>
			<string>322.809</string>
			<key>height</key>
			<string>15.9449</string>
		</dict>
		<key>{b2c79647-5d82-46b4-88b6-0d0667743574}</key>
		<dict>
			<key>x1</key>
			<string>268.131</string>
			<key>y1</key>
			<string>303.411</string>
			<key>x2</key>
			<string>268.131</string>
			<key>y2</key>
			<string>322.809</string>
			<key>height</key>
			<string>20.1969</string>
		</dict>
		<key>{51c6ed1f-065c-4867-8f06-e581e9cde4ef}</key>
		<dict>
			<key>x1</key>
			<string>273.33</string>
			<key>y1</key>
			<string>261.565</string>
			<key>x2</key>
			<string>273.33</string>
			<key>y2</key>
			<string>247.337</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{28afe8e6-0161-4f9c-9d2f-198a79e2e0cd}</key>
		<dict>
			<key>x1</key>
			<string>253.056</string>
			<key>y1</key>
			<string>305.537</string>
			<key>x2</key>
			<string>253.056</string>
			<key>y2</key>
			<string>318.557</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{2932886b-fc23-49d2-a50f-fd2296d036a2}</key>
		<dict>
			<key>x1</key>
			<string>258.102</string>
			<key>y1</key>
			<string>263.546</string>
			<key>x2</key>
			<string>258.102</string>
			<key>y2</key>
			<string>248.4</string>
			<key>height</key>
			<string>-15.9449</string>
		</dict>
		<key>{56e66db2-dbaa-4ddb-bd98-6a6eaf8a4d56}</key>
		<dict>
			<key>x1</key>
			<string>237.982</string>
			<key>y1</key>
			<string>307.663</string>
			<key>x2</key>
			<string>237.982</string>
			<key>y2</key>
			<string>319.62</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{84c603a9-2936-4309-be8a-ed8c59620562}</key>
		<dict>
			<key>x1</key>
			<string>243.027</string>
			<key>y1</key>
			<string>261.42</string>
			<key>x2</key>
			<string>243.027</string>
			<key>y2</key>
			<string>246.628</string>
			<key>height</key>
			<string>-15.5906</string>
		</dict>
		<key>{3ed19493-9db0-49db-a57d-0fedf827c3bb}</key>
		<dict>
			<key>x1</key>
			<string>227.952</string>
			<key>y1</key>
			<string>259.294</string>
			<key>x2</key>
			<string>227.952</string>
			<key>y2</key>
			<string>244.856</string>
			<key>height</key>
			<string>-15.2362</string>
		</dict>
		<key>{dfb298b0-bd40-44b1-8dbc-62de0755b1f5}</key>
		<dict>
			<key>x1</key>
			<string>207.832</string>
			<key>y1</key>
			<string>309.789</string>
			<key>x2</key>
			<string>207.832</string>
			<key>y2</key>
			<string>323.872</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{cd327415-8fa0-441c-ba78-047fd39ddd61}</key>
		<dict>
			<key>x1</key>
			<string>212.878</string>
			<key>y1</key>
			<string>255.042</string>
			<key>x2</key>
			<string>212.878</string>
			<key>y2</key>
			<string>243.085</string>
			<key>height</key>
			<string>-12.7559</string>
		</dict>
		<key>{ccfc6997-1592-4164-a133-125011427ac1}</key>
		<dict>
			<key>x1</key>
			<string>187.705</string>
			<key>y1</key>
			<string>307.663</string>
			<key>x2</key>
			<string>187.705</string>
			<key>y2</key>
			<string>319.62</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{fd5e95bc-b92d-4c4d-b634-9498b93b7c88}</key>
		<dict>
			<key>x1</key>
			<string>173.359</string>
			<key>y1</key>
			<string>305.537</string>
			<key>x2</key>
			<string>173.359</string>
			<key>y2</key>
			<string>318.557</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{94dd5c67-2965-480e-90a8-b3d5531135cd}</key>
		<dict>
			<key>x1</key>
			<string>178.405</string>
			<key>y1</key>
			<string>263.546</string>
			<key>x2</key>
			<string>178.405</string>
			<key>y2</key>
			<string>249.463</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{47b72672-ed69-4ed1-9929-616e4c113767}</key>
		<dict>
			<key>x1</key>
			<string>159.014</string>
			<key>y1</key>
			<string>254.513</string>
			<key>x2</key>
			<string>159.014</string>
			<key>y2</key>
			<string>267.533</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{fe2e92d5-ced7-469a-aa2e-11b8554f86d8}</key>
		<dict>
			<key>x1</key>
			<string>144.669</string>
			<key>y1</key>
			<string>256.639</string>
			<key>x2</key>
			<string>144.669</string>
			<key>y2</key>
			<string>268.596</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{b4a2da04-9e2a-4bab-a906-40e08de60171}</key>
		<dict>
			<key>x1</key>
			<string>121.717</string>
			<key>y1</key>
			<string>254.513</string>
			<key>x2</key>
			<string>121.717</string>
			<key>y2</key>
			<string>267.533</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{569fc203-3fc5-47e4-b0d1-8a36c9a21c73}</key>
		<dict>
			<key>x1</key>
			<string>98.7646</string>
			<key>y1</key>
			<string>303.411</string>
			<key>x2</key>
			<string>98.7646</string>
			<key>y2</key>
			<string>317.494</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{ccc05735-3dd8-49c0-a722-ede4c8a5ffaa}</key>
		<dict>
			<key>x1</key>
			<string>103.81</string>
			<key>y1</key>
			<string>257.168</string>
			<key>x2</key>
			<string>103.81</string>
			<key>y2</key>
			<string>244.148</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{d86e4c1f-1bd7-427e-a5c0-530fdb6ba93a}</key>
		<dict>
			<key>x1</key>
			<string>543.573</string>
			<key>y1</key>
			<string>165.222</string>
			<key>x2</key>
			<string>543.573</string>
			<key>y2</key>
			<string>178.242</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{8e0717b0-52ef-4a4e-bf56-1990ffa4be5c}</key>
		<dict>
			<key>x1</key>
			<string>528.105</string>
			<key>y1</key>
			<string>163.096</string>
			<key>x2</key>
			<string>528.105</string>
			<key>y2</key>
			<string>177.888</string>
			<key>height</key>
			<string>15.5906</string>
		</dict>
		<key>{7457e7a1-127f-484a-8fcc-8cdd1b6f1d01}</key>
		<dict>
			<key>x1</key>
			<string>512.636</string>
			<key>y1</key>
			<string>158.844</string>
			<key>x2</key>
			<string>512.636</string>
			<key>y2</key>
			<string>177.533</string>
			<key>height</key>
			<string>19.4882</string>
		</dict>
		<key>{ff637cae-6491-4a7b-8d96-2c3dc6e1dc74}</key>
		<dict>
			<key>x1</key>
			<string>497.168</string>
			<key>y1</key>
			<string>163.096</string>
			<key>x2</key>
			<string>497.168</string>
			<key>y2</key>
			<string>177.179</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{1e9d2bea-e617-4bf1-93a8-e13fb9e7ceee}</key>
		<dict>
			<key>x1</key>
			<string>502.367</string>
			<key>y1</key>
			<string>121.25</string>
			<key>x2</key>
			<string>502.367</string>
			<key>y2</key>
			<string>108.085</string>
			<key>height</key>
			<string>-13.8189</string>
		</dict>
		<key>{1a6b787f-6a8b-475b-845b-7e5ba60e2ab1}</key>
		<dict>
			<key>x1</key>
			<string>486.745</string>
			<key>y1</key>
			<string>125.357</string>
			<key>x2</key>
			<string>486.745</string>
			<key>y2</key>
			<string>111.274</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{afe4a628-d4ad-4c89-bc0f-b69c5d56a939}</key>
		<dict>
			<key>x1</key>
			<string>471.276</string>
			<key>y1</key>
			<string>121.105</string>
			<key>x2</key>
			<string>471.276</string>
			<key>y2</key>
			<string>109.502</string>
			<key>height</key>
			<string>-12.4016</string>
		</dict>
		<key>{dad5733c-8f0e-4e6b-a9ce-acc567fef56c}</key>
		<dict>
			<key>x1</key>
			<string>455.808</string>
			<key>y1</key>
			<string>118.979</string>
			<key>x2</key>
			<string>455.808</string>
			<key>y2</key>
			<string>107.73</string>
			<key>height</key>
			<string>-12.0472</string>
		</dict>
		<key>{4ea7d4a9-cd28-48da-a72c-e355a207142b}</key>
		<dict>
			<key>x1</key>
			<string>435.294</string>
			<key>y1</key>
			<string>171.6</string>
			<key>x2</key>
			<string>435.294</string>
			<key>y2</key>
			<string>185.152</string>
			<key>height</key>
			<string>14.3504</string>
		</dict>
		<key>{f32ec3c5-849c-4af6-a97e-df98c8a526c5}</key>
		<dict>
			<key>x1</key>
			<string>440.339</string>
			<key>y1</key>
			<string>116.853</string>
			<key>x2</key>
			<string>440.339</string>
			<key>y2</key>
			<string>105.959</string>
			<key>height</key>
			<string>-11.6929</string>
		</dict>
		<key>{a171bfa6-9b0e-4191-ad9d-8bfa1db424bd}</key>
		<dict>
			<key>x1</key>
			<string>415.216</string>
			<key>y1</key>
			<string>114.198</string>
			<key>x2</key>
			<string>415.216</string>
			<key>y2</key>
			<string>127.218</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{a3726df7-3ebe-40e1-91a8-69878f5f9fec}</key>
		<dict>
			<key>x1</key>
			<string>400.921</string>
			<key>y1</key>
			<string>118.45</string>
			<key>x2</key>
			<string>400.921</string>
			<key>y2</key>
			<string>129.344</string>
			<key>height</key>
			<string>11.6929</string>
		</dict>
		<key>{3765a101-9b2c-4532-86a5-589538259642}</key>
		<dict>
			<key>x1</key>
			<string>377.896</string>
			<key>y1</key>
			<string>158.712</string>
			<key>x2</key>
			<string>377.896</string>
			<key>y2</key>
			<string>175.053</string>
			<key>height</key>
			<string>17.0079</string>
		</dict>
		<key>{dd12d21a-f760-4f2e-8b83-064e50c3edc9}</key>
		<dict>
			<key>x1</key>
			<string>378.049</string>
			<key>y1</key>
			<string>120.576</string>
			<key>x2</key>
			<string>378.049</string>
			<key>y2</key>
			<string>133.065</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{094e04ce-8b82-4a96-a4e0-78a98f43610a}</key>
		<dict>
			<key>x1</key>
			<string>355.177</string>
			<key>y1</key>
			<string>114.198</string>
			<key>x2</key>
			<string>355.177</string>
			<key>y2</key>
			<string>128.281</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{dc712136-5480-46a1-9949-c8778ecf7f0d}</key>
		<dict>
			<key>x1</key>
			<string>332.305</string>
			<key>y1</key>
			<string>165.222</string>
			<key>x2</key>
			<string>332.305</string>
			<key>y2</key>
			<string>179.305</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{7e32f4a2-953a-4e9b-a0cc-2e5274a32ef0}</key>
		<dict>
			<key>x1</key>
			<string>332.305</string>
			<key>y1</key>
			<string>120.576</string>
			<key>x2</key>
			<string>332.305</string>
			<key>y2</key>
			<string>133.065</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{9d613f75-c9a4-4105-96ba-271c33d0769d}</key>
		<dict>
			<key>x1</key>
			<string>311.479</string>
			<key>y1</key>
			<string>167.348</string>
			<key>x2</key>
			<string>311.479</string>
			<key>y2</key>
			<string>179.305</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{a3179206-48ce-4932-bff8-d8b13b299336}</key>
		<dict>
			<key>x1</key>
			<string>296.436</string>
			<key>y1</key>
			<string>165.222</string>
			<key>x2</key>
			<string>296.436</string>
			<key>y2</key>
			<string>177.533</string>
			<key>height</key>
			<string>13.1102</string>
		</dict>
		<key>{5f17919d-1cc1-4637-b9d3-e412f1ad64cb}</key>
		<dict>
			<key>x1</key>
			<string>281.393</string>
			<key>y1</key>
			<string>163.096</string>
			<key>x2</key>
			<string>281.393</string>
			<key>y2</key>
			<string>175.762</string>
			<key>height</key>
			<string>13.4646</string>
		</dict>
		<key>{6d85f204-94af-4abf-acb7-9e76f5276d7b}</key>
		<dict>
			<key>x1</key>
			<string>266.349</string>
			<key>y1</key>
			<string>158.844</string>
			<key>x2</key>
			<string>266.349</string>
			<key>y2</key>
			<string>173.99</string>
			<key>height</key>
			<string>15.9449</string>
		</dict>
		<key>{7a811370-0454-474f-a814-6dda63387fec}</key>
		<dict>
			<key>x1</key>
			<string>266.196</string>
			<key>y1</key>
			<string>120.444</string>
			<key>x2</key>
			<string>266.196</string>
			<key>y2</key>
			<string>133.065</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
		<key>{5840482a-d9fa-404f-9fdf-e655acd09386}</key>
		<dict>
			<key>x1</key>
			<string>251.306</string>
			<key>y1</key>
			<string>122.702</string>
			<key>x2</key>
			<string>251.306</string>
			<key>y2</key>
			<string>135.722</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{1919b485-8252-4893-af28-ac0432fe4356}</key>
		<dict>
			<key>x1</key>
			<string>236.263</string>
			<key>y1</key>
			<string>120.576</string>
			<key>x2</key>
			<string>236.263</string>
			<key>y2</key>
			<string>133.951</string>
			<key>height</key>
			<string>14.1732</string>
		</dict>
		<key>{d63d1ec8-45a9-42e4-b4e7-9fb2e29e9701}</key>
		<dict>
			<key>x1</key>
			<string>221.22</string>
			<key>y1</key>
			<string>118.45</string>
			<key>x2</key>
			<string>221.22</string>
			<key>y2</key>
			<string>132.179</string>
			<key>height</key>
			<string>14.5276</string>
		</dict>
		<key>{5f7dd266-2511-4452-90e0-bd85d6c4b5a8}</key>
		<dict>
			<key>x1</key>
			<string>206.177</string>
			<key>y1</key>
			<string>163.096</string>
			<key>x2</key>
			<string>206.177</string>
			<key>y2</key>
			<string>177.179</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{855f7bb0-bd19-44b1-ab16-f1032aedd16c}</key>
		<dict>
			<key>x1</key>
			<string>206.177</string>
			<key>y1</key>
			<string>114.198</string>
			<key>x2</key>
			<string>206.177</string>
			<key>y2</key>
			<string>130.407</string>
			<key>height</key>
			<string>17.0079</string>
		</dict>
		<key>{de735206-fe87-4b4d-9af4-7b59c599724e}</key>
		<dict>
			<key>x1</key>
			<string>178.592</string>
			<key>y1</key>
			<string>118.45</string>
			<key>x2</key>
			<string>178.592</string>
			<key>y2</key>
			<string>131.47</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{5b0401bd-68bd-4d0f-9850-aa4a6974b094}</key>
		<dict>
			<key>x1</key>
			<string>164.966</string>
			<key>y1</key>
			<string>120.576</string>
			<key>x2</key>
			<string>164.966</string>
			<key>y2</key>
			<string>132.533</string>
			<key>height</key>
			<string>12.7559</string>
		</dict>
		<key>{994115ad-21a9-4887-8336-5e0257215afb}</key>
		<dict>
			<key>x1</key>
			<string>151.186</string>
			<key>y1</key>
			<string>158.712</string>
			<key>x2</key>
			<string>151.186</string>
			<key>y2</key>
			<string>175.053</string>
			<key>height</key>
			<string>17.0079</string>
		</dict>
		<key>{5f71d43f-540c-4583-8977-1533eb2b5005}</key>
		<dict>
			<key>x1</key>
			<string>151.34</string>
			<key>y1</key>
			<string>118.45</string>
			<key>x2</key>
			<string>151.34</string>
			<key>y2</key>
			<string>131.47</string>
			<key>height</key>
			<string>13.8189</string>
		</dict>
		<key>{42fbe370-0876-4d30-8a3f-2b09f84279c1}</key>
		<dict>
			<key>x1</key>
			<string>129.538</string>
			<key>y1</key>
			<string>114.198</string>
			<key>x2</key>
			<string>129.538</string>
			<key>y2</key>
			<string>128.281</string>
			<key>height</key>
			<string>14.8819</string>
		</dict>
		<key>{35631f65-46d4-4218-8000-2a005d62b34b}</key>
		<dict>
			<key>x1</key>
			<string>107.736</string>
			<key>y1</key>
			<string>120.576</string>
			<key>x2</key>
			<string>107.736</string>
			<key>y2</key>
			<string>133.065</string>
			<key>height</key>
			<string>13.2874</string>
		</dict>
	</dict>
</dict>
</plist>