<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>99.1733</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>135.035</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>246.673</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>282.535</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>394.173</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>430.035</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>541.674</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>577.536</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{cb1334ee-8ed6-44b2-a6e1-69f49693c04f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c8f00037-94df-4f32-888c-d0b6cf2dd718}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{4985cb29-efb7-4d2a-988d-cdee18793088}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6fead587-c3db-4454-878a-f79e54255683}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{057e0b66-72b9-4b5a-98f5-5525d73e8ebe}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{120c0297-e2e5-492f-ae9c-a2e3cb29fe67}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{bd84d39e-fc15-4ea6-971d-e0502f34fbec}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c6d3f75f-8720-4d7c-8ee8-86ab3dc81d11}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b6f60e45-9781-483c-969f-ac0e5ca96cbe}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{d64f99db-a347-4825-b996-73330ec81da7}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ec5370f8-1de3-4226-8f1d-a414700b5d95}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b175f289-6e22-4f96-8571-7d4134330bbc}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{5d62110f-9143-489c-b1ce-cf21d44a8aa2}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f8f9a4e8-2a8c-409a-b9cb-506d94ca4824}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{3ae6e900-528d-4d8e-84a0-8bc1eec2cf48}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{58af86fc-5c30-4513-9202-fcd6ae43145c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7f83aad3-a71b-4153-a7c3-0717e3c0b3bd}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{44daad6b-5d3f-43b9-9557-9ea64d8822c2}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{67681f17-b8f7-47f3-aa97-893bce8fb8cb}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e97b8245-8286-429a-82b9-33d40cb6a319}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{acdfe81a-bfc8-449a-b67c-1f8e5e27ad1c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{d6b60d66-c962-4076-b7ce-58c45c12a528}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{369d7bf0-975f-40d5-9f76-1177470b6176}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a1583ced-8f88-4449-87ad-32846aed15c4}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{d22ccf7b-41c7-4049-a31c-b6caab4adc81}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7c9db4cb-6377-4719-977b-90472844d8d4}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e1bd819d-0703-4225-b825-f260389920d4}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{073c1836-e199-4e0a-bde2-43c48c9fe6f2}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{86ef8588-df58-493d-a32f-9f0bc54de606}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{0a18a079-7fb2-40a7-b60c-c10df43b5cfc}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6478993e-9bfb-40d5-9d7d-ddb715a48976}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f2e445a8-bf0b-4c08-92fe-594810f99784}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e9610366-4642-44ad-8eb6-6fceb3031ff5}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b53c9de5-c904-4efc-bbe1-b68ce1c89903}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{27313f0f-e531-4327-b668-0079c92ea25a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{752c028c-e31f-4032-88f3-939c9292bb39}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{07362ea1-9ff2-4e34-8894-8745799d69a1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{766bdab2-9856-46c9-894c-964ca0c06311}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{38aa0d57-a8fb-46a5-81c3-23c58a9f3523}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{35a30dd4-5781-4787-9e6d-4750443677f1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{909b90e4-4c35-4a67-8264-36d39b8f364e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{fcef9fe8-7547-4d61-bfcd-2a4ac59e5b26}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c2ae95fc-fdfa-4ad3-a56b-6c83c6fb90ad}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a635a453-2001-42fe-bb73-5ae5583b7b21}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c09efcdf-c488-4e28-a0c0-493683f5843c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{fd01017e-a65c-41f8-ae1a-16e98cf3ccf1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b0b4167b-4f68-4643-bd33-96c4b4c4daab}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{2aa1e1c8-ea9a-4783-9bb1-fc0ab73f98ba}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8d8fa4f1-6720-4c67-ab73-817798c8272a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{80039d68-39e4-4c79-bd08-4fd8c1f1406c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{fa64e74b-99b8-46b9-a865-ca48b398590d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{029679d5-0292-4c52-932c-b71da1cb1888}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{d43253f1-ec65-463f-8d32-c1216debaefb}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e0504ed7-9520-4168-a394-ca7a7608c816}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c392d356-e853-4f58-946e-dceded06e281}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6050ec4f-6045-40a1-ba60-bf800e61792b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6ddb8af1-1809-4374-bdea-a4b8e429084b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a0f99e64-e49a-45a1-84a2-575e29fbeb51}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{675fba51-8411-433a-a286-2a2ae87d3cec}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{5317eb42-866f-4783-9923-86a24e06f572}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{3132c51d-06cf-4a55-a2ee-527b1461c7a4}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{3eec6e7d-3e18-4656-9ffb-e68de3e01578}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{02009b26-2472-472d-9a17-8ce313c491fd}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6881db67-a2bf-4f3b-bfaa-a38721e12b71}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c01b0700-f0ad-478e-aec2-ff7038588ab5}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6e034118-f4b4-488e-995c-162c25352450}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{86a77543-7f9f-45c1-a5dc-62b915b348ce}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{9221c865-ee12-4641-b6bd-c40e4f12ca16}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{829b2a40-d49b-4f46-9618-ad308126ebc1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c0ac9dde-a822-411b-8534-0f96355f2f32}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{26d93375-81b9-4476-93c9-7fa83c322928}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{97b55cdd-ddc5-40fe-9ba4-f68a85ce1abd}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c28b26d6-4bd4-45b2-a2dd-5e4f2dbd7b70}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{33bbeda8-f961-4994-9286-92f523e1d7be}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{403e7ca8-9213-41f2-8608-6aa1f0a007ee}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{58f05bc4-7f78-4bdc-9a6a-3c92642fb736}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{78478877-aeb6-4fd1-acd4-fd12360538ee}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f3b61d63-650f-4822-bb91-babbb310881a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{029ce86e-a34a-46d1-8e0d-694fb69a47e2}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{4c5fdf6c-ab18-4878-a3b7-4c1afc4e57b1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7c7b357e-661f-4c5b-8fc6-87951fb889d3}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{99fc4229-c641-405f-84cd-3776f3a47a23}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{9dabb079-4a22-42a6-94a6-2631fa550690}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8edf2ab9-688d-48a8-9924-845013333978}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{2dd45574-9664-4458-856c-9b1d3c52873c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{abecd9f1-50d5-4836-b155-b9abd2d1a546}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ce410d57-6320-400e-87bf-60372a469611}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{c8f00037-94df-4f32-888c-d0b6cf2dd718}</key>
		<dict>
			<key>x1</key>
			<string>460.776</string>
			<key>y1</key>
			<string>618.235</string>
			<key>x2</key>
			<string>460.776</string>
			<key>y2</key>
			<string>592.299</string>
			<key>height</key>
			<string>-26.875</string>
		</dict>
		<key>{cb1334ee-8ed6-44b2-a6e1-69f49693c04f}</key>
		<dict>
			<key>x1</key>
			<string>460.776</string>
			<key>y1</key>
			<string>618.235</string>
			<key>x2</key>
			<string>460.776</string>
			<key>y2</key>
			<string>592.299</string>
			<key>height</key>
			<string>-26.875</string>
		</dict>
		<key>{4985cb29-efb7-4d2a-988d-cdee18793088}</key>
		<dict>
			<key>x1</key>
			<string>454.843</string>
			<key>y1</key>
			<string>550.113</string>
			<key>x2</key>
			<string>454.843</string>
			<key>y2</key>
			<string>566.674</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{6fead587-c3db-4454-878a-f79e54255683}</key>
		<dict>
			<key>x1</key>
			<string>407.936</string>
			<key>y1</key>
			<string>549.958</string>
			<key>x2</key>
			<string>407.936</string>
			<key>y2</key>
			<string>565.424</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{057e0b66-72b9-4b5a-98f5-5525d73e8ebe}</key>
		<dict>
			<key>x1</key>
			<string>389.968</string>
			<key>y1</key>
			<string>540.113</string>
			<key>x2</key>
			<string>389.968</string>
			<key>y2</key>
			<string>556.674</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{120c0297-e2e5-492f-ae9c-a2e3cb29fe67}</key>
		<dict>
			<key>x1</key>
			<string>371.82</string>
			<key>y1</key>
			<string>547.613</string>
			<key>x2</key>
			<string>371.82</string>
			<key>y2</key>
			<string>561.674</string>
			<key>height</key>
			<string>15</string>
		</dict>
		<key>{bd84d39e-fc15-4ea6-971d-e0502f34fbec}</key>
		<dict>
			<key>x1</key>
			<string>353.671</string>
			<key>y1</key>
			<string>540.113</string>
			<key>x2</key>
			<string>353.671</string>
			<key>y2</key>
			<string>555.424</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{c6d3f75f-8720-4d7c-8ee8-86ab3dc81d11}</key>
		<dict>
			<key>x1</key>
			<string>335.523</string>
			<key>y1</key>
			<string>545.113</string>
			<key>x2</key>
			<string>335.523</string>
			<key>y2</key>
			<string>557.924</string>
			<key>height</key>
			<string>13.75</string>
		</dict>
		<key>{b6f60e45-9781-483c-969f-ac0e5ca96cbe}</key>
		<dict>
			<key>x1</key>
			<string>317.64</string>
			<key>y1</key>
			<string>608.235</string>
			<key>x2</key>
			<string>317.64</string>
			<key>y2</key>
			<string>594.174</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{d64f99db-a347-4825-b996-73330ec81da7}</key>
		<dict>
			<key>x1</key>
			<string>300.624</string>
			<key>y1</key>
			<string>605.735</string>
			<key>x2</key>
			<string>300.624</string>
			<key>y2</key>
			<string>592.924</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{ec5370f8-1de3-4226-8f1d-a414700b5d95}</key>
		<dict>
			<key>x1</key>
			<string>277.675</string>
			<key>y1</key>
			<string>540.113</string>
			<key>x2</key>
			<string>277.675</string>
			<key>y2</key>
			<string>557.924</string>
			<key>height</key>
			<string>18.75</string>
		</dict>
		<key>{b175f289-6e22-4f96-8571-7d4134330bbc}</key>
		<dict>
			<key>x1</key>
			<string>260.659</string>
			<key>y1</key>
			<string>550.113</string>
			<key>x2</key>
			<string>260.659</string>
			<key>y2</key>
			<string>562.924</string>
			<key>height</key>
			<string>13.75</string>
		</dict>
		<key>{5d62110f-9143-489c-b1ce-cf21d44a8aa2}</key>
		<dict>
			<key>x1</key>
			<string>243.643</string>
			<key>y1</key>
			<string>540.113</string>
			<key>x2</key>
			<string>243.643</string>
			<key>y2</key>
			<string>556.674</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{f8f9a4e8-2a8c-409a-b9cb-506d94ca4824}</key>
		<dict>
			<key>x1</key>
			<string>226.628</string>
			<key>y1</key>
			<string>547.613</string>
			<key>x2</key>
			<string>226.628</string>
			<key>y2</key>
			<string>561.674</string>
			<key>height</key>
			<string>15</string>
		</dict>
		<key>{3ae6e900-528d-4d8e-84a0-8bc1eec2cf48}</key>
		<dict>
			<key>x1</key>
			<string>209.612</string>
			<key>y1</key>
			<string>540.113</string>
			<key>x2</key>
			<string>209.612</string>
			<key>y2</key>
			<string>555.424</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{58af86fc-5c30-4513-9202-fcd6ae43145c}</key>
		<dict>
			<key>x1</key>
			<string>192.596</string>
			<key>y1</key>
			<string>545.113</string>
			<key>x2</key>
			<string>192.596</string>
			<key>y2</key>
			<string>557.924</string>
			<key>height</key>
			<string>13.75</string>
		</dict>
		<key>{7f83aad3-a71b-4153-a7c3-0717e3c0b3bd}</key>
		<dict>
			<key>x1</key>
			<string>175.77</string>
			<key>y1</key>
			<string>608.235</string>
			<key>x2</key>
			<string>175.77</string>
			<key>y2</key>
			<string>594.174</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{44daad6b-5d3f-43b9-9557-9ea64d8822c2}</key>
		<dict>
			<key>x1</key>
			<string>159.811</string>
			<key>y1</key>
			<string>605.735</string>
			<key>x2</key>
			<string>159.811</string>
			<key>y2</key>
			<string>592.924</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{67681f17-b8f7-47f3-aa97-893bce8fb8cb}</key>
		<dict>
			<key>x1</key>
			<string>128.164</string>
			<key>y1</key>
			<string>549.958</string>
			<key>x2</key>
			<string>128.164</string>
			<key>y2</key>
			<string>565.424</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{e97b8245-8286-429a-82b9-33d40cb6a319}</key>
		<dict>
			<key>x1</key>
			<string>112.385</string>
			<key>y1</key>
			<string>540.113</string>
			<key>x2</key>
			<string>112.385</string>
			<key>y2</key>
			<string>556.674</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{acdfe81a-bfc8-449a-b67c-1f8e5e27ad1c}</key>
		<dict>
			<key>x1</key>
			<string>96.4266</string>
			<key>y1</key>
			<string>547.613</string>
			<key>x2</key>
			<string>96.4266</string>
			<key>y2</key>
			<string>561.674</string>
			<key>height</key>
			<string>15</string>
		</dict>
		<key>{d6b60d66-c962-4076-b7ce-58c45c12a528}</key>
		<dict>
			<key>x1</key>
			<string>80.4678</string>
			<key>y1</key>
			<string>540.113</string>
			<key>x2</key>
			<string>80.4678</string>
			<key>y2</key>
			<string>555.424</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{369d7bf0-975f-40d5-9f76-1177470b6176}</key>
		<dict>
			<key>x1</key>
			<string>64.509</string>
			<key>y1</key>
			<string>545.113</string>
			<key>x2</key>
			<string>64.509</string>
			<key>y2</key>
			<string>557.924</string>
			<key>height</key>
			<string>13.75</string>
		</dict>
		<key>{a1583ced-8f88-4449-87ad-32846aed15c4}</key>
		<dict>
			<key>x1</key>
			<string>551.055</string>
			<key>y1</key>
			<string>460.734</string>
			<key>x2</key>
			<string>551.055</string>
			<key>y2</key>
			<string>446.673</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{d22ccf7b-41c7-4049-a31c-b6caab4adc81}</key>
		<dict>
			<key>x1</key>
			<string>529.559</string>
			<key>y1</key>
			<string>458.234</string>
			<key>x2</key>
			<string>529.559</string>
			<key>y2</key>
			<string>445.423</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{7c9db4cb-6377-4719-977b-90472844d8d4}</key>
		<dict>
			<key>x1</key>
			<string>502.131</string>
			<key>y1</key>
			<string>392.613</string>
			<key>x2</key>
			<string>502.131</string>
			<key>y2</key>
			<string>410.423</string>
			<key>height</key>
			<string>18.75</string>
		</dict>
		<key>{e1bd819d-0703-4225-b825-f260389920d4}</key>
		<dict>
			<key>x1</key>
			<string>480.635</string>
			<key>y1</key>
			<string>402.613</string>
			<key>x2</key>
			<string>480.635</string>
			<key>y2</key>
			<string>415.423</string>
			<key>height</key>
			<string>13.75</string>
		</dict>
		<key>{073c1836-e199-4e0a-bde2-43c48c9fe6f2}</key>
		<dict>
			<key>x1</key>
			<string>459.139</string>
			<key>y1</key>
			<string>392.613</string>
			<key>x2</key>
			<string>459.139</string>
			<key>y2</key>
			<string>409.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{86ef8588-df58-493d-a32f-9f0bc54de606}</key>
		<dict>
			<key>x1</key>
			<string>437.643</string>
			<key>y1</key>
			<string>400.113</string>
			<key>x2</key>
			<string>437.643</string>
			<key>y2</key>
			<string>414.173</string>
			<key>height</key>
			<string>15</string>
		</dict>
		<key>{0a18a079-7fb2-40a7-b60c-c10df43b5cfc}</key>
		<dict>
			<key>x1</key>
			<string>416.147</string>
			<key>y1</key>
			<string>392.613</string>
			<key>x2</key>
			<string>416.147</string>
			<key>y2</key>
			<string>407.923</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{6478993e-9bfb-40d5-9d7d-ddb715a48976}</key>
		<dict>
			<key>x1</key>
			<string>394.651</string>
			<key>y1</key>
			<string>397.613</string>
			<key>x2</key>
			<string>394.651</string>
			<key>y2</key>
			<string>410.423</string>
			<key>height</key>
			<string>13.75</string>
		</dict>
		<key>{f2e445a8-bf0b-4c08-92fe-594810f99784}</key>
		<dict>
			<key>x1</key>
			<string>341.122</string>
			<key>y1</key>
			<string>458.406</string>
			<key>x2</key>
			<string>341.122</string>
			<key>y2</key>
			<string>442.923</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{e9610366-4642-44ad-8eb6-6fceb3031ff5}</key>
		<dict>
			<key>x1</key>
			<string>310.99</string>
			<key>y1</key>
			<string>397.613</string>
			<key>x2</key>
			<string>310.99</string>
			<key>y2</key>
			<string>414.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{b53c9de5-c904-4efc-bbe1-b68ce1c89903}</key>
		<dict>
			<key>x1</key>
			<string>286.971</string>
			<key>y1</key>
			<string>405.113</string>
			<key>x2</key>
			<string>286.971</string>
			<key>y2</key>
			<string>419.173</string>
			<key>height</key>
			<string>15</string>
		</dict>
		<key>{27313f0f-e531-4327-b668-0079c92ea25a}</key>
		<dict>
			<key>x1</key>
			<string>262.952</string>
			<key>y1</key>
			<string>397.613</string>
			<key>x2</key>
			<string>262.952</string>
			<key>y2</key>
			<string>412.923</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{752c028c-e31f-4032-88f3-939c9292bb39}</key>
		<dict>
			<key>x1</key>
			<string>238.933</string>
			<key>y1</key>
			<string>402.613</string>
			<key>x2</key>
			<string>238.933</string>
			<key>y2</key>
			<string>415.423</string>
			<key>height</key>
			<string>13.75</string>
		</dict>
		<key>{07362ea1-9ff2-4e34-8894-8745799d69a1}</key>
		<dict>
			<key>x1</key>
			<string>217.113</string>
			<key>y1</key>
			<string>465.734</string>
			<key>x2</key>
			<string>217.113</string>
			<key>y2</key>
			<string>451.674</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{766bdab2-9856-46c9-894c-964ca0c06311}</key>
		<dict>
			<key>x1</key>
			<string>196.16</string>
			<key>y1</key>
			<string>460.734</string>
			<key>x2</key>
			<string>196.16</string>
			<key>y2</key>
			<string>446.673</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{38aa0d57-a8fb-46a5-81c3-23c58a9f3523}</key>
		<dict>
			<key>x1</key>
			<string>190.227</string>
			<key>y1</key>
			<string>397.613</string>
			<key>x2</key>
			<string>190.227</string>
			<key>y2</key>
			<string>414.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{35a30dd4-5781-4787-9e6d-4750443677f1}</key>
		<dict>
			<key>x1</key>
			<string>169.274</string>
			<key>y1</key>
			<string>397.613</string>
			<key>x2</key>
			<string>169.274</string>
			<key>y2</key>
			<string>415.423</string>
			<key>height</key>
			<string>18.75</string>
		</dict>
		<key>{909b90e4-4c35-4a67-8264-36d39b8f364e}</key>
		<dict>
			<key>x1</key>
			<string>148.321</string>
			<key>y1</key>
			<string>407.613</string>
			<key>x2</key>
			<string>148.321</string>
			<key>y2</key>
			<string>420.423</string>
			<key>height</key>
			<string>13.75</string>
		</dict>
		<key>{fcef9fe8-7547-4d61-bfcd-2a4ac59e5b26}</key>
		<dict>
			<key>x1</key>
			<string>127.368</string>
			<key>y1</key>
			<string>397.613</string>
			<key>x2</key>
			<string>127.368</string>
			<key>y2</key>
			<string>414.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{c2ae95fc-fdfa-4ad3-a56b-6c83c6fb90ad}</key>
		<dict>
			<key>x1</key>
			<string>106.415</string>
			<key>y1</key>
			<string>405.113</string>
			<key>x2</key>
			<string>106.415</string>
			<key>y2</key>
			<string>419.173</string>
			<key>height</key>
			<string>15</string>
		</dict>
		<key>{a635a453-2001-42fe-bb73-5ae5583b7b21}</key>
		<dict>
			<key>x1</key>
			<string>85.462</string>
			<key>y1</key>
			<string>397.613</string>
			<key>x2</key>
			<string>85.462</string>
			<key>y2</key>
			<string>412.923</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{c09efcdf-c488-4e28-a0c0-493683f5843c}</key>
		<dict>
			<key>x1</key>
			<string>64.509</string>
			<key>y1</key>
			<string>402.613</string>
			<key>x2</key>
			<string>64.509</string>
			<key>y2</key>
			<string>415.423</string>
			<key>height</key>
			<string>13.75</string>
		</dict>
		<key>{fd01017e-a65c-41f8-ae1a-16e98cf3ccf1}</key>
		<dict>
			<key>x1</key>
			<string>535.763</string>
			<key>y1</key>
			<string>318.234</string>
			<key>x2</key>
			<string>535.763</string>
			<key>y2</key>
			<string>301.673</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{b0b4167b-4f68-4643-bd33-96c4b4c4daab}</key>
		<dict>
			<key>x1</key>
			<string>512.771</string>
			<key>y1</key>
			<string>313.234</string>
			<key>x2</key>
			<string>512.771</string>
			<key>y2</key>
			<string>297.298</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{2aa1e1c8-ea9a-4783-9bb1-fc0ab73f98ba}</key>
		<dict>
			<key>x1</key>
			<string>489.959</string>
			<key>y1</key>
			<string>258.405</string>
			<key>x2</key>
			<string>489.959</string>
			<key>y2</key>
			<string>242.923</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{8d8fa4f1-6720-4c67-ab73-817798c8272a}</key>
		<dict>
			<key>x1</key>
			<string>460.853</string>
			<key>y1</key>
			<string>250.112</string>
			<key>x2</key>
			<string>460.853</string>
			<key>y2</key>
			<string>266.673</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{80039d68-39e4-4c79-bd08-4fd8c1f1406c}</key>
		<dict>
			<key>x1</key>
			<string>437.861</string>
			<key>y1</key>
			<string>257.612</string>
			<key>x2</key>
			<string>437.861</string>
			<key>y2</key>
			<string>271.673</string>
			<key>height</key>
			<string>15</string>
		</dict>
		<key>{fa64e74b-99b8-46b9-a865-ca48b398590d}</key>
		<dict>
			<key>x1</key>
			<string>414.868</string>
			<key>y1</key>
			<string>250.112</string>
			<key>x2</key>
			<string>414.868</string>
			<key>y2</key>
			<string>265.423</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{029679d5-0292-4c52-932c-b71da1cb1888}</key>
		<dict>
			<key>x1</key>
			<string>391.876</string>
			<key>y1</key>
			<string>255.112</string>
			<key>x2</key>
			<string>391.876</string>
			<key>y2</key>
			<string>267.923</string>
			<key>height</key>
			<string>13.75</string>
		</dict>
		<key>{d43253f1-ec65-463f-8d32-c1216debaefb}</key>
		<dict>
			<key>x1</key>
			<string>368.661</string>
			<key>y1</key>
			<string>318.234</string>
			<key>x2</key>
			<string>368.661</string>
			<key>y2</key>
			<string>304.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{e0504ed7-9520-4168-a394-ca7a7608c816}</key>
		<dict>
			<key>x1</key>
			<string>346.313</string>
			<key>y1</key>
			<string>313.234</string>
			<key>x2</key>
			<string>346.313</string>
			<key>y2</key>
			<string>299.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{c392d356-e853-4f58-946e-dceded06e281}</key>
		<dict>
			<key>x1</key>
			<string>310.738</string>
			<key>y1</key>
			<string>258.405</string>
			<key>x2</key>
			<string>310.738</string>
			<key>y2</key>
			<string>242.923</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{6050ec4f-6045-40a1-ba60-bf800e61792b}</key>
		<dict>
			<key>x1</key>
			<string>282.277</string>
			<key>y1</key>
			<string>250.112</string>
			<key>x2</key>
			<string>282.277</string>
			<key>y2</key>
			<string>266.673</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{6ddb8af1-1809-4374-bdea-a4b8e429084b}</key>
		<dict>
			<key>x1</key>
			<string>259.929</string>
			<key>y1</key>
			<string>257.612</string>
			<key>x2</key>
			<string>259.929</string>
			<key>y2</key>
			<string>271.673</string>
			<key>height</key>
			<string>15</string>
		</dict>
		<key>{a0f99e64-e49a-45a1-84a2-575e29fbeb51}</key>
		<dict>
			<key>x1</key>
			<string>237.581</string>
			<key>y1</key>
			<string>250.112</string>
			<key>x2</key>
			<string>237.581</string>
			<key>y2</key>
			<string>265.423</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{675fba51-8411-433a-a286-2a2ae87d3cec}</key>
		<dict>
			<key>x1</key>
			<string>215.234</string>
			<key>y1</key>
			<string>255.112</string>
			<key>x2</key>
			<string>215.234</string>
			<key>y2</key>
			<string>267.923</string>
			<key>height</key>
			<string>13.75</string>
		</dict>
		<key>{5317eb42-866f-4783-9923-86a24e06f572}</key>
		<dict>
			<key>x1</key>
			<string>157.183</string>
			<key>y1</key>
			<string>307.457</string>
			<key>x2</key>
			<string>157.183</string>
			<key>y2</key>
			<string>322.923</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{3132c51d-06cf-4a55-a2ee-527b1461c7a4}</key>
		<dict>
			<key>x1</key>
			<string>134.15</string>
			<key>y1</key>
			<string>245.112</string>
			<key>x2</key>
			<string>134.15</string>
			<key>y2</key>
			<string>261.673</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{3eec6e7d-3e18-4656-9ffb-e68de3e01578}</key>
		<dict>
			<key>x1</key>
			<string>110.936</string>
			<key>y1</key>
			<string>252.612</string>
			<key>x2</key>
			<string>110.936</string>
			<key>y2</key>
			<string>266.673</string>
			<key>height</key>
			<string>15</string>
		</dict>
		<key>{02009b26-2472-472d-9a17-8ce313c491fd}</key>
		<dict>
			<key>x1</key>
			<string>87.7226</string>
			<key>y1</key>
			<string>245.112</string>
			<key>x2</key>
			<string>87.7226</string>
			<key>y2</key>
			<string>260.423</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{6881db67-a2bf-4f3b-bfaa-a38721e12b71}</key>
		<dict>
			<key>x1</key>
			<string>64.509</string>
			<key>y1</key>
			<string>250.112</string>
			<key>x2</key>
			<string>64.509</string>
			<key>y2</key>
			<string>262.923</string>
			<key>height</key>
			<string>13.75</string>
		</dict>
		<key>{c01b0700-f0ad-478e-aec2-ff7038588ab5}</key>
		<dict>
			<key>x1</key>
			<string>552.122</string>
			<key>y1</key>
			<string>165.734</string>
			<key>x2</key>
			<string>552.122</string>
			<key>y2</key>
			<string>151.673</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{6e034118-f4b4-488e-995c-162c25352450}</key>
		<dict>
			<key>x1</key>
			<string>531.693</string>
			<key>y1</key>
			<string>163.234</string>
			<key>x2</key>
			<string>531.693</string>
			<key>y2</key>
			<string>150.423</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{86a77543-7f9f-45c1-a5dc-62b915b348ce}</key>
		<dict>
			<key>x1</key>
			<string>505.331</string>
			<key>y1</key>
			<string>97.6123</string>
			<key>x2</key>
			<string>505.331</string>
			<key>y2</key>
			<string>115.423</string>
			<key>height</key>
			<string>18.75</string>
		</dict>
		<key>{9221c865-ee12-4641-b6bd-c40e4f12ca16}</key>
		<dict>
			<key>x1</key>
			<string>484.902</string>
			<key>y1</key>
			<string>107.612</string>
			<key>x2</key>
			<string>484.902</string>
			<key>y2</key>
			<string>120.423</string>
			<key>height</key>
			<string>13.75</string>
		</dict>
		<key>{829b2a40-d49b-4f46-9618-ad308126ebc1}</key>
		<dict>
			<key>x1</key>
			<string>464.473</string>
			<key>y1</key>
			<string>97.6123</string>
			<key>x2</key>
			<string>464.473</string>
			<key>y2</key>
			<string>114.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{c0ac9dde-a822-411b-8534-0f96355f2f32}</key>
		<dict>
			<key>x1</key>
			<string>444.044</string>
			<key>y1</key>
			<string>105.112</string>
			<key>x2</key>
			<string>444.044</string>
			<key>y2</key>
			<string>119.173</string>
			<key>height</key>
			<string>15</string>
		</dict>
		<key>{26d93375-81b9-4476-93c9-7fa83c322928}</key>
		<dict>
			<key>x1</key>
			<string>423.615</string>
			<key>y1</key>
			<string>97.6123</string>
			<key>x2</key>
			<string>423.615</string>
			<key>y2</key>
			<string>112.923</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{97b55cdd-ddc5-40fe-9ba4-f68a85ce1abd}</key>
		<dict>
			<key>x1</key>
			<string>403.185</string>
			<key>y1</key>
			<string>102.612</string>
			<key>x2</key>
			<string>403.185</string>
			<key>y2</key>
			<string>115.423</string>
			<key>height</key>
			<string>13.75</string>
		</dict>
		<key>{c28b26d6-4bd4-45b2-a2dd-5e4f2dbd7b70}</key>
		<dict>
			<key>x1</key>
			<string>382.109</string>
			<key>y1</key>
			<string>165.734</string>
			<key>x2</key>
			<string>382.109</string>
			<key>y2</key>
			<string>151.673</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{33bbeda8-f961-4994-9286-92f523e1d7be}</key>
		<dict>
			<key>x1</key>
			<string>361.899</string>
			<key>y1</key>
			<string>163.234</string>
			<key>x2</key>
			<string>361.899</string>
			<key>y2</key>
			<string>150.423</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{403e7ca8-9213-41f2-8608-6aa1f0a007ee}</key>
		<dict>
			<key>x1</key>
			<string>323.45</string>
			<key>y1</key>
			<string>107.457</string>
			<key>x2</key>
			<string>323.45</string>
			<key>y2</key>
			<string>122.923</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{58f05bc4-7f78-4bdc-9a6a-3c92642fb736}</key>
		<dict>
			<key>x1</key>
			<string>303.421</string>
			<key>y1</key>
			<string>97.6123</string>
			<key>x2</key>
			<string>303.421</string>
			<key>y2</key>
			<string>114.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{78478877-aeb6-4fd1-acd4-fd12360538ee}</key>
		<dict>
			<key>x1</key>
			<string>283.211</string>
			<key>y1</key>
			<string>105.112</string>
			<key>x2</key>
			<string>283.211</string>
			<key>y2</key>
			<string>119.173</string>
			<key>height</key>
			<string>15</string>
		</dict>
		<key>{f3b61d63-650f-4822-bb91-babbb310881a}</key>
		<dict>
			<key>x1</key>
			<string>263.002</string>
			<key>y1</key>
			<string>97.6123</string>
			<key>x2</key>
			<string>263.002</string>
			<key>y2</key>
			<string>112.923</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{029ce86e-a34a-46d1-8e0d-694fb69a47e2}</key>
		<dict>
			<key>x1</key>
			<string>242.792</string>
			<key>y1</key>
			<string>102.612</string>
			<key>x2</key>
			<string>242.792</string>
			<key>y2</key>
			<string>115.423</string>
			<key>height</key>
			<string>13.75</string>
		</dict>
		<key>{4c5fdf6c-ab18-4878-a3b7-4c1afc4e57b1}</key>
		<dict>
			<key>x1</key>
			<string>222.121</string>
			<key>y1</key>
			<string>165.734</string>
			<key>x2</key>
			<string>222.121</string>
			<key>y2</key>
			<string>151.673</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{7c7b357e-661f-4c5b-8fc6-87951fb889d3}</key>
		<dict>
			<key>x1</key>
			<string>202.317</string>
			<key>y1</key>
			<string>163.234</string>
			<key>x2</key>
			<string>202.317</string>
			<key>y2</key>
			<string>150.423</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{99fc4229-c641-405f-84cd-3776f3a47a23}</key>
		<dict>
			<key>x1</key>
			<string>176.58</string>
			<key>y1</key>
			<string>97.6123</string>
			<key>x2</key>
			<string>176.58</string>
			<key>y2</key>
			<string>115.423</string>
			<key>height</key>
			<string>18.75</string>
		</dict>
		<key>{9dabb079-4a22-42a6-94a6-2631fa550690}</key>
		<dict>
			<key>x1</key>
			<string>156.776</string>
			<key>y1</key>
			<string>107.612</string>
			<key>x2</key>
			<string>156.776</string>
			<key>y2</key>
			<string>120.423</string>
			<key>height</key>
			<string>13.75</string>
		</dict>
		<key>{8edf2ab9-688d-48a8-9924-845013333978}</key>
		<dict>
			<key>x1</key>
			<string>136.971</string>
			<key>y1</key>
			<string>97.6123</string>
			<key>x2</key>
			<string>136.971</string>
			<key>y2</key>
			<string>114.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{2dd45574-9664-4458-856c-9b1d3c52873c}</key>
		<dict>
			<key>x1</key>
			<string>117.167</string>
			<key>y1</key>
			<string>105.112</string>
			<key>x2</key>
			<string>117.167</string>
			<key>y2</key>
			<string>119.173</string>
			<key>height</key>
			<string>15</string>
		</dict>
		<key>{abecd9f1-50d5-4836-b155-b9abd2d1a546}</key>
		<dict>
			<key>x1</key>
			<string>97.3631</string>
			<key>y1</key>
			<string>97.6123</string>
			<key>x2</key>
			<string>97.3631</string>
			<key>y2</key>
			<string>113.523</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{ce410d57-6320-400e-87bf-60372a469611}</key>
		<dict>
			<key>x1</key>
			<string>77.559</string>
			<key>y1</key>
			<string>102.612</string>
			<key>x2</key>
			<string>77.559</string>
			<key>y2</key>
			<string>115.423</string>
			<key>height</key>
			<string>13.75</string>
		</dict>
	</dict>
</dict>
</plist>