<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TwoNoteGuoHeJiaoHuVC</key>
	<dict>
		<key>LimitCourse</key>
		<string>3</string>
		<key>ActivityDelay</key>
		<string>0</string>
		<key>Actions</key>
		<array>
			<dict>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>ActionType</key>
						<string>image</string>
						<key>SpecialIndex</key>
						<string>1</string>
					</dict>
				</array>
				<key>LightRingAction</key>
				<array>
					<string>0</string>
				</array>
			</dict>
			<dict>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>ActionType</key>
						<string>image</string>
						<key>SpecialIndex</key>
						<string>2</string>
					</dict>
				</array>
				<key>LightRingAction</key>
				<array>
					<string>0</string>
				</array>
			</dict>
		</array>
		<key>Description</key>
		<string>过河游戏</string>
	</dict>
	<key>InteractiveViewController</key>
	<dict>
		<key>ActivityDelay</key>
		<string>0</string>
		<key>Actions</key>
		<array>
			<dict>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>Description</key>
						<string>移动至高音谱号</string>
						<key>ActionType</key>
						<string>dragPrepare</string>
						<key>end_x</key>
						<string>870</string>
						<key>end_y</key>
						<string>1024</string>
					</dict>
					<dict>
						<key>Description</key>
						<string>拖动至高音谱</string>
						<key>ActionType</key>
						<string>drag</string>
						<key>start_x</key>
						<string>870</string>
						<key>start_y</key>
						<string>1024</string>
						<key>end_x</key>
						<string>392</string>
						<key>end_y</key>
						<string>510</string>
					</dict>
					<dict>
						<key>ActionType</key>
						<string>special</string>
						<key>SpecialIndex</key>
						<string>1</string>
						<key>Delay</key>
						<string>0.1</string>
					</dict>
				</array>
				<key>LightRingAction</key>
				<array>
					<string>220</string>
					<string>220</string>
					<string>220</string>
				</array>
			</dict>
		</array>
		<key>Description</key>
		<string>高音谱号 低音谱号游戏</string>
	</dict>
	<key>(暂时弃用)原四二拍拖音符游戏</key>
	<dict>
		<key>ActivityDelay</key>
		<string>0</string>
		<key>Actions</key>
		<array>
			<dict>
				<key>LightRingAction</key>
				<array>
					<string>210</string>
				</array>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>end_y</key>
						<string>1180</string>
						<key>end_x</key>
						<string>1254</string>
						<key>Description</key>
						<string>点击四分音符</string>
						<key>ActionType</key>
						<string>click</string>
					</dict>
				</array>
			</dict>
			<string></string>
			<dict>
				<key>LightRingAction</key>
				<array>
					<string>240</string>
					<string>240</string>
					<string>240</string>
				</array>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>Description</key>
						<string>移动至四分分音符</string>
						<key>ActionType</key>
						<string>dragPrepare</string>
						<key>end_x</key>
						<string>1150</string>
						<key>end_y</key>
						<string>225</string>
					</dict>
					<dict>
						<key>Description</key>
						<string>拖动至五线谱</string>
						<key>start_x</key>
						<string>1150</string>
						<key>start_y</key>
						<string>225</string>
						<key>end_x</key>
						<string>620</string>
						<key>end_y</key>
						<string>860</string>
						<key>ActionType</key>
						<string>drag</string>
					</dict>
					<dict>
						<key>ActionType</key>
						<string>special</string>
						<key>SpecialIndex</key>
						<string>1</string>
						<key>Delay</key>
						<string>0.1</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>Description</key>
		<string>拖音符游戏</string>
	</dict>
</dict>
</plist>
