<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HighAndBackKeyInteractionViewController</key>
	<dict>
		<key>ActivityDelay</key>
		<string>0</string>
		<key>Actions</key>
		<array>
			<dict>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>Description</key>
						<string>点击播放按钮</string>
						<key>ActionType</key>
						<string>click</string>
						<key>end_x</key>
						<string>1024</string>
						<key>end_y</key>
						<string>1374</string>
					</dict>
				</array>
				<key>LightRingAction</key>
				<array>
					<string>240</string>
				</array>
			</dict>
			<dict>
				<key>Description</key>
				<string>等待背景音乐播放完</string>
				<key>LightRingAction</key>
				<array>
					<string>160</string>
				</array>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>ActionType</key>
						<string>special</string>
						<key>SpecialIndex</key>
						<string>0</string>
						<key>Delay</key>
						<string>3</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>Description</key>
						<string>第二步</string>
						<key>SpecialIndex</key>
						<string>1</string>
						<key>empty</key>
						<string>YES</string>
					</dict>
				</array>
				<key>LightRingAction</key>
				<array>
					<string>400</string>
				</array>
			</dict>
		</array>
		<key>Description</key>
		<string>高音低音选择题</string>
	</dict>
	<key>LookingForBackKeyJiaoHuVC</key>
	<dict>
		<key>ActivityDelay</key>
		<string>6.7</string>
		<key>Actions</key>
		<array>
			<dict>
				<key>LightRingAction</key>
				<array>
					<string>320</string>
				</array>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>end_y</key>
						<string>1040</string>
						<key>end_x</key>
						<string>1700</string>
						<key>Description</key>
						<string>第一步 点击白键</string>
						<key>ActionType</key>
						<string>click</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>LightRingAction</key>
				<array>
					<string>160</string>
				</array>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>end_y</key>
						<string>1004</string>
						<key>end_x</key>
						<string>652</string>
						<key>ActionType</key>
						<string>click</string>
					</dict>
				</array>
				<key>Description</key>
				<string>第二步 移动至键盘 点击</string>
			</dict>
			<dict>
				<key>Description</key>
				<string>所有白键点击动画</string>
				<key>LightRingAction</key>
				<array>
					<string>160</string>
				</array>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>ActionType</key>
						<string>special</string>
						<key>SpecialIndex</key>
						<string>1</string>
						<key>Delay</key>
						<string>5.6</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>LightRingAction</key>
				<array>
					<string>320</string>
				</array>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>end_x</key>
						<string>272</string>
						<key>end_y</key>
						<string>1054</string>
						<key>ActionType</key>
						<string>click</string>
					</dict>
				</array>
				<key>Description</key>
				<string>第三步 移动至黑笔</string>
			</dict>
			<dict>
				<key>LightRingAction</key>
				<array>
					<string>160</string>
				</array>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>ActionType</key>
						<string>click</string>
						<key>end_x</key>
						<string>690</string>
						<key>end_y</key>
						<string>822</string>
					</dict>
				</array>
				<key>Description</key>
				<string>第六步 移动至黑键</string>
			</dict>
			<dict>
				<key>LightRingAction</key>
				<array>
					<string>160</string>
				</array>
				<key>Description</key>
				<string>所有黑键点击动画</string>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>ActionType</key>
						<string>special</string>
						<key>SpecialIndex</key>
						<string>3</string>
						<key>Delay</key>
						<string>2.5</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>Description</key>
						<string>移动至黑二键</string>
						<key>ActionType</key>
						<string>dragPrepare</string>
						<key>end_x</key>
						<string>728</string>
						<key>end_y</key>
						<string>877</string>
					</dict>
					<dict>
						<key>Description</key>
						<string>拖动至全键盘缺失位置</string>
						<key>ActionType</key>
						<string>drag</string>
						<key>start_x</key>
						<string>728</string>
						<key>start_y</key>
						<string>877</string>
						<key>end_x</key>
						<string>146</string>
						<key>end_y</key>
						<string>506</string>
					</dict>
					<dict>
						<key>ActionType</key>
						<string>special</string>
						<key>SpecialIndex</key>
						<string>2</string>
						<key>Delay</key>
						<string>0.1</string>
					</dict>
				</array>
				<key>LightRingAction</key>
				<array>
					<string>350</string>
					<string>350</string>
					<string>350</string>
				</array>
			</dict>
			<dict>
				<key>LightRingAction</key>
				<array>
					<string>360</string>
					<string>360</string>
					<string>360</string>
				</array>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>Description</key>
						<string>移动至黑三键中心</string>
						<key>ActionType</key>
						<string>dragPrepare</string>
						<key>end_x</key>
						<string>1286</string>
						<key>end_y</key>
						<string>880</string>
					</dict>
					<dict>
						<key>Description</key>
						<string>拖动至全键盘缺失位置</string>
						<key>start_x</key>
						<string>1286</string>
						<key>start_y</key>
						<string>880</string>
						<key>end_x</key>
						<string>284</string>
						<key>end_y</key>
						<string>506</string>
						<key>ActionType</key>
						<string>drag</string>
					</dict>
					<dict>
						<key>ActionType</key>
						<string>special</string>
						<key>SpecialIndex</key>
						<string>4</string>
						<key>Delay</key>
						<string>0.1</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>Description</key>
		<string>找黑键游戏</string>
	</dict>
	<key>RabbitViewController</key>
	<dict>
		<key>ActivityDelay</key>
		<string>0</string>
		<key>Actions</key>
		<array>
			<dict>
				<key>LightRingAction</key>
				<array>
					<string>0</string>
				</array>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>ActionType</key>
						<string>image</string>
						<key>SpecialIndex</key>
						<string>1</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>aaa</key>
		<array>
			<dict>
				<key>LightRingAction</key>
				<array>
					<string>0</string>
				</array>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>text_x</key>
						<string>704</string>
						<key>text_y</key>
						<string>600</string>
						<key>text_w</key>
						<string>600</string>
						<key>text_h</key>
						<string>357</string>
						<key>text</key>
						<string>  小朋友们，请一起按下琴键C4和F4</string>
						<key>Description</key>
						<string>第一步 点击白键</string>
						<key>ActionType</key>
						<string>text</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>Description</key>
		<string>预备练习</string>
	</dict>
</dict>
</plist>
