<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>99.1733</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>135.035</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>246.673</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>282.535</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>394.173</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>430.035</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>541.674</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>577.536</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{522b43ba-1f48-4000-955d-79ddc5532095}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e7153151-104c-4b2a-8a9a-3e3f724f07c3}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c284f4b8-5fef-4710-8aaa-625d00593150}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{0a44ac89-89b8-46f6-8908-a2186b22e813}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{2d6fd21c-872f-4a80-a446-a695f7b2130f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{bc2c3e05-e2a5-4635-adf7-a53ef566b17e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6e363f4f-8a0e-4cf8-8035-23c6b4346920}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{9daaeba5-d604-441e-a4ca-6ad1df3bfc1f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1f8dba5c-f374-4bce-845b-bc9634070c8e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b931db82-eede-484f-b43a-715da82d75a1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{d909fef3-8c3d-4e8d-810d-7db91bb3eacd}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{aeee7103-2c16-4fb6-8b35-1ee10de537a4}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a2c7d990-96b3-49f4-ba90-6390eca323cc}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{64eb5135-155f-4a34-8d1f-96b5a4ab3be3}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f449cb75-16ac-4eac-8b32-b036c60f3e94}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7a9ef355-1ab0-45d7-a9c5-5d1498876dff}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{17e8972c-8624-457f-8603-661b9ef55ed5}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{4282da6c-f217-4bf5-b2b8-666a2bc97b7e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{2f567f9c-a729-4db0-9014-cf9781b3882b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{63a87f4c-5d94-4f5e-9a4b-8323453c4328}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{337b19c9-0ac9-4117-8136-71acc1717799}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{2333cbbf-be0b-4488-927e-b2455b5ac944}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6061ba1d-d0e9-402b-9907-96689e5f11bf}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{23fb0bf1-3500-44d4-821a-dde275b2c769}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{4a7fbfb7-dcf3-4c8b-b60f-c0c2937f40f6}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{43838920-0ab0-4bb8-a75a-8601f4c19dd9}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{4df616f5-9885-4e3c-ae97-6ed8b82793d4}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c1001f6f-fd22-4d62-aa16-4450f074f68b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e8b41eeb-9ecf-4e96-be81-990109f45e4d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{655237c5-8ad0-4c75-9f6a-6aa2f5a452c0}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{131d5dc8-00d4-4770-848f-d0156b300dd4}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1c12608e-61bb-40d3-bc3a-0cd4a9062106}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{881d3cd1-79f4-4767-88ad-2121032bcb5a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{cee00541-e4d0-4da5-9c1b-4aa7871d78d1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b738dd90-d5e1-486a-a2f2-d094193880aa}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c7ff347d-47b9-4a95-92d7-89fc06d5d79d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{2eece530-26b7-46f2-92b0-001e4c35effe}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7540b613-9d9e-468c-aa9e-c2a9a090b8c5}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1cb39e7f-7daf-478a-9c42-cdae61aa6e97}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e572394a-a48e-40a4-993c-5ae880cb1182}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a05a7b63-8082-476d-b9c1-0facccc2b799}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{abac1e50-6427-44ea-9c5a-a056238acce1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{fe105338-864e-457e-a5c2-0b1c6b849261}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{edb951f8-7719-44fc-b1ec-de939aeb224f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b4dde0f0-2c58-4a6a-b31e-a496f2722c20}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b5553d9c-9170-41b8-9768-a0f4059f1daa}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{5041eda9-9ae4-4bd1-813a-b2625b4fd4be}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{9fbae4b0-dbd0-43b0-9177-e9b42b1b81c8}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{594c4006-2452-4a97-93e7-f60f84fb464a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{226d038e-8811-4df6-9586-44803cbda9e6}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{9a4dd30f-9955-4268-993f-6c1b258c685d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{65877490-a1f6-4c3a-8529-71d0a737746f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{862bbb13-91f5-441d-870b-ec34e1e8b8d1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b0fa2583-d73c-42cd-afb2-b302abaf1d81}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b898df5d-b645-4304-8b13-91a33d53a35e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{2086f448-a851-4f92-adf4-67d2bd9532a8}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e032bdff-ccb2-41b3-9956-fde298d5ffc8}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b3750c09-e092-4164-9583-0659b1b99e1a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{d60c4d10-4c76-4283-87a0-2ef46ecd8e28}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7ef82dd2-252c-492d-8442-07c27a5496cf}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{73a3d966-2ddc-44c2-9266-c4b21cbae10c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{807dfd85-09b4-4de1-9959-4e909e774bf8}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{522b43ba-1f48-4000-955d-79ddc5532095}</key>
		<dict>
			<key>x1</key>
			<string>188.641</string>
			<key>y1</key>
			<string>589.958</string>
			<key>x2</key>
			<string>188.641</string>
			<key>y2</key>
			<string>606.674</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{e7153151-104c-4b2a-8a9a-3e3f724f07c3}</key>
		<dict>
			<key>x1</key>
			<string>188.641</string>
			<key>y1</key>
			<string>549.958</string>
			<key>x2</key>
			<string>188.641</string>
			<key>y2</key>
			<string>565.424</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{c284f4b8-5fef-4710-8aaa-625d00593150}</key>
		<dict>
			<key>x1</key>
			<string>159.122</string>
			<key>y1</key>
			<string>592.613</string>
			<key>x2</key>
			<string>159.122</string>
			<key>y2</key>
			<string>609.174</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{0a44ac89-89b8-46f6-8908-a2186b22e813}</key>
		<dict>
			<key>x1</key>
			<string>159.122</string>
			<key>y1</key>
			<string>547.613</string>
			<key>x2</key>
			<string>159.122</string>
			<key>y2</key>
			<string>563.549</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{2d6fd21c-872f-4a80-a446-a695f7b2130f}</key>
		<dict>
			<key>x1</key>
			<string>125.391</string>
			<key>y1</key>
			<string>550.113</string>
			<key>x2</key>
			<string>125.391</string>
			<key>y2</key>
			<string>565.424</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{bc2c3e05-e2a5-4635-adf7-a53ef566b17e}</key>
		<dict>
			<key>x1</key>
			<string>98.4609</string>
			<key>y1</key>
			<string>545.113</string>
			<key>x2</key>
			<string>98.4609</string>
			<key>y2</key>
			<string>561.674</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{6e363f4f-8a0e-4cf8-8035-23c6b4346920}</key>
		<dict>
			<key>x1</key>
			<string>81.6295</string>
			<key>y1</key>
			<string>542.613</string>
			<key>x2</key>
			<string>81.6295</string>
			<key>y2</key>
			<string>556.674</string>
			<key>height</key>
			<string>15</string>
		</dict>
		<key>{9daaeba5-d604-441e-a4ca-6ad1df3bfc1f}</key>
		<dict>
			<key>x1</key>
			<string>64.798</string>
			<key>y1</key>
			<string>542.613</string>
			<key>x2</key>
			<string>64.798</string>
			<key>y2</key>
			<string>556.674</string>
			<key>height</key>
			<string>15</string>
		</dict>
		<key>{1f8dba5c-f374-4bce-845b-bc9634070c8e}</key>
		<dict>
			<key>x1</key>
			<string>528.359</string>
			<key>y1</key>
			<string>405.905</string>
			<key>x2</key>
			<string>528.359</string>
			<key>y2</key>
			<string>390.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{b931db82-eede-484f-b43a-715da82d75a1}</key>
		<dict>
			<key>x1</key>
			<string>494.333</string>
			<key>y1</key>
			<string>452.458</string>
			<key>x2</key>
			<string>494.333</string>
			<key>y2</key>
			<string>468.549</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{d909fef3-8c3d-4e8d-810d-7db91bb3eacd}</key>
		<dict>
			<key>x1</key>
			<string>494.513</string>
			<key>y1</key>
			<string>405.113</string>
			<key>x2</key>
			<string>494.513</string>
			<key>y2</key>
			<string>419.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{aeee7103-2c16-4fb6-8b35-1ee10de537a4}</key>
		<dict>
			<key>x1</key>
			<string>461.007</string>
			<key>y1</key>
			<string>402.613</string>
			<key>x2</key>
			<string>461.007</string>
			<key>y2</key>
			<string>417.923</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{a2c7d990-96b3-49f4-ba90-6390eca323cc}</key>
		<dict>
			<key>x1</key>
			<string>434.481</string>
			<key>y1</key>
			<string>397.613</string>
			<key>x2</key>
			<string>434.481</string>
			<key>y2</key>
			<string>414.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{64eb5135-155f-4a34-8d1f-96b5a4ab3be3}</key>
		<dict>
			<key>x1</key>
			<string>407.775</string>
			<key>y1</key>
			<string>442.457</string>
			<key>x2</key>
			<string>407.775</string>
			<key>y2</key>
			<string>459.174</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{f449cb75-16ac-4eac-8b32-b036c60f3e94}</key>
		<dict>
			<key>x1</key>
			<string>407.956</string>
			<key>y1</key>
			<string>392.613</string>
			<key>x2</key>
			<string>407.956</string>
			<key>y2</key>
			<string>409.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{7a9ef355-1ab0-45d7-a9c5-5d1498876dff}</key>
		<dict>
			<key>x1</key>
			<string>387.918</string>
			<key>y1</key>
			<string>408.234</string>
			<key>x2</key>
			<string>387.918</string>
			<key>y2</key>
			<string>394.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{17e8972c-8624-457f-8603-661b9ef55ed5}</key>
		<dict>
			<key>x1</key>
			<string>368.928</string>
			<key>y1</key>
			<string>408.234</string>
			<key>x2</key>
			<string>368.928</string>
			<key>y2</key>
			<string>394.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{4282da6c-f217-4bf5-b2b8-666a2bc97b7e}</key>
		<dict>
			<key>x1</key>
			<string>321.037</string>
			<key>y1</key>
			<string>402.457</string>
			<key>x2</key>
			<string>321.037</string>
			<key>y2</key>
			<string>417.923</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{2f567f9c-a729-4db0-9014-cf9781b3882b}</key>
		<dict>
			<key>x1</key>
			<string>287.711</string>
			<key>y1</key>
			<string>400.113</string>
			<key>x2</key>
			<string>287.711</string>
			<key>y2</key>
			<string>416.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{63a87f4c-5d94-4f5e-9a4b-8323453c4328}</key>
		<dict>
			<key>x1</key>
			<string>267.119</string>
			<key>y1</key>
			<string>408.234</string>
			<key>x2</key>
			<string>267.119</string>
			<key>y2</key>
			<string>392.298</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{337b19c9-0ac9-4117-8136-71acc1717799}</key>
		<dict>
			<key>x1</key>
			<string>234.48</string>
			<key>y1</key>
			<string>449.957</string>
			<key>x2</key>
			<string>234.48</string>
			<key>y2</key>
			<string>466.674</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{2333cbbf-be0b-4488-927e-b2455b5ac944}</key>
		<dict>
			<key>x1</key>
			<string>240.593</string>
			<key>y1</key>
			<string>405.734</string>
			<key>x2</key>
			<string>240.593</string>
			<key>y2</key>
			<string>390.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{6061ba1d-d0e9-402b-9907-96689e5f11bf}</key>
		<dict>
			<key>x1</key>
			<string>214.336</string>
			<key>y1</key>
			<string>408.234</string>
			<key>x2</key>
			<string>214.336</string>
			<key>y2</key>
			<string>394.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{23fb0bf1-3500-44d4-821a-dde275b2c769}</key>
		<dict>
			<key>x1</key>
			<string>195.059</string>
			<key>y1</key>
			<string>408.234</string>
			<key>x2</key>
			<string>195.059</string>
			<key>y2</key>
			<string>394.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{4a7fbfb7-dcf3-4c8b-b60f-c0c2937f40f6}</key>
		<dict>
			<key>x1</key>
			<string>146.536</string>
			<key>y1</key>
			<string>404.957</string>
			<key>x2</key>
			<string>146.536</string>
			<key>y2</key>
			<string>419.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{43838920-0ab0-4bb8-a75a-8601f4c19dd9}</key>
		<dict>
			<key>x1</key>
			<string>114.817</string>
			<key>y1</key>
			<string>402.613</string>
			<key>x2</key>
			<string>114.817</string>
			<key>y2</key>
			<string>417.923</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{4df616f5-9885-4e3c-ae97-6ed8b82793d4}</key>
		<dict>
			<key>x1</key>
			<string>95.8305</string>
			<key>y1</key>
			<string>408.234</string>
			<key>x2</key>
			<string>95.8305</string>
			<key>y2</key>
			<string>392.298</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{c1001f6f-fd22-4d62-aa16-4450f074f68b}</key>
		<dict>
			<key>x1</key>
			<string>64.798</string>
			<key>y1</key>
			<string>442.457</string>
			<key>x2</key>
			<string>64.798</string>
			<key>y2</key>
			<string>459.174</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{e8b41eeb-9ecf-4e96-be81-990109f45e4d}</key>
		<dict>
			<key>x1</key>
			<string>70.9113</string>
			<key>y1</key>
			<string>405.734</string>
			<key>x2</key>
			<string>70.9113</string>
			<key>y2</key>
			<string>390.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{655237c5-8ad0-4c75-9f6a-6aa2f5a452c0}</key>
		<dict>
			<key>x1</key>
			<string>550.716</string>
			<key>y1</key>
			<string>260.734</string>
			<key>x2</key>
			<string>550.716</string>
			<key>y2</key>
			<string>246.673</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{131d5dc8-00d4-4770-848f-d0156b300dd4}</key>
		<dict>
			<key>x1</key>
			<string>528.88</string>
			<key>y1</key>
			<string>260.734</string>
			<key>x2</key>
			<string>528.88</string>
			<key>y2</key>
			<string>246.673</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{1c12608e-61bb-40d3-bc3a-0cd4a9062106}</key>
		<dict>
			<key>x1</key>
			<string>292.706</string>
			<key>y1</key>
			<string>294.957</string>
			<key>x2</key>
			<string>292.706</string>
			<key>y2</key>
			<string>311.673</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{881d3cd1-79f4-4767-88ad-2121032bcb5a}</key>
		<dict>
			<key>x1</key>
			<string>292.706</string>
			<key>y1</key>
			<string>254.957</string>
			<key>x2</key>
			<string>292.706</string>
			<key>y2</key>
			<string>270.423</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{cee00541-e4d0-4da5-9c1b-4aa7871d78d1}</key>
		<dict>
			<key>x1</key>
			<string>259.983</string>
			<key>y1</key>
			<string>297.612</string>
			<key>x2</key>
			<string>259.983</string>
			<key>y2</key>
			<string>314.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{b738dd90-d5e1-486a-a2f2-d094193880aa}</key>
		<dict>
			<key>x1</key>
			<string>259.983</string>
			<key>y1</key>
			<string>252.612</string>
			<key>x2</key>
			<string>259.983</string>
			<key>y2</key>
			<string>268.548</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{c7ff347d-47b9-4a95-92d7-89fc06d5d79d}</key>
		<dict>
			<key>x1</key>
			<string>222.15</string>
			<key>y1</key>
			<string>255.112</string>
			<key>x2</key>
			<string>222.15</string>
			<key>y2</key>
			<string>270.423</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{2eece530-26b7-46f2-92b0-001e4c35effe}</key>
		<dict>
			<key>x1</key>
			<string>191.118</string>
			<key>y1</key>
			<string>250.112</string>
			<key>x2</key>
			<string>191.118</string>
			<key>y2</key>
			<string>266.673</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{7540b613-9d9e-468c-aa9e-c2a9a090b8c5}</key>
		<dict>
			<key>x1</key>
			<string>171.723</string>
			<key>y1</key>
			<string>247.612</string>
			<key>x2</key>
			<string>171.723</string>
			<key>y2</key>
			<string>261.673</string>
			<key>height</key>
			<string>15</string>
		</dict>
		<key>{1cb39e7f-7daf-478a-9c42-cdae61aa6e97}</key>
		<dict>
			<key>x1</key>
			<string>152.328</string>
			<key>y1</key>
			<string>247.612</string>
			<key>x2</key>
			<string>152.328</string>
			<key>y2</key>
			<string>261.673</string>
			<key>height</key>
			<string>15</string>
		</dict>
		<key>{e572394a-a48e-40a4-993c-5ae880cb1182}</key>
		<dict>
			<key>x1</key>
			<string>102.072</string>
			<key>y1</key>
			<string>258.405</string>
			<key>x2</key>
			<string>102.072</string>
			<key>y2</key>
			<string>242.923</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{a05a7b63-8082-476d-b9c1-0facccc2b799}</key>
		<dict>
			<key>x1</key>
			<string>64.798</string>
			<key>y1</key>
			<string>304.957</string>
			<key>x2</key>
			<string>64.798</string>
			<key>y2</key>
			<string>321.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{abac1e50-6427-44ea-9c5a-a056238acce1}</key>
		<dict>
			<key>x1</key>
			<string>64.9785</string>
			<key>y1</key>
			<string>257.612</string>
			<key>x2</key>
			<string>64.9785</string>
			<key>y2</key>
			<string>272.298</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{fe105338-864e-457e-a5c2-0b1c6b849261}</key>
		<dict>
			<key>x1</key>
			<string>538.816</string>
			<key>y1</key>
			<string>107.612</string>
			<key>x2</key>
			<string>538.816</string>
			<key>y2</key>
			<string>122.923</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{edb951f8-7719-44fc-b1ec-de939aeb224f}</key>
		<dict>
			<key>x1</key>
			<string>511.013</string>
			<key>y1</key>
			<string>102.612</string>
			<key>x2</key>
			<string>511.013</string>
			<key>y2</key>
			<string>119.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{b4dde0f0-2c58-4a6a-b31e-a496f2722c20}</key>
		<dict>
			<key>x1</key>
			<string>483.03</string>
			<key>y1</key>
			<string>147.457</string>
			<key>x2</key>
			<string>483.03</string>
			<key>y2</key>
			<string>164.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{b5553d9c-9170-41b8-9768-a0f4059f1daa}</key>
		<dict>
			<key>x1</key>
			<string>483.21</string>
			<key>y1</key>
			<string>97.6123</string>
			<key>x2</key>
			<string>483.21</string>
			<key>y2</key>
			<string>114.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{5041eda9-9ae4-4bd1-813a-b2625b4fd4be}</key>
		<dict>
			<key>x1</key>
			<string>462.26</string>
			<key>y1</key>
			<string>113.234</string>
			<key>x2</key>
			<string>462.26</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{9fbae4b0-dbd0-43b0-9177-e9b42b1b81c8}</key>
		<dict>
			<key>x1</key>
			<string>442.358</string>
			<key>y1</key>
			<string>113.234</string>
			<key>x2</key>
			<string>442.358</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{594c4006-2452-4a97-93e7-f60f84fb464a}</key>
		<dict>
			<key>x1</key>
			<string>392.46</string>
			<key>y1</key>
			<string>107.457</string>
			<key>x2</key>
			<string>392.46</string>
			<key>y2</key>
			<string>122.923</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{226d038e-8811-4df6-9586-44803cbda9e6}</key>
		<dict>
			<key>x1</key>
			<string>357.857</string>
			<key>y1</key>
			<string>105.112</string>
			<key>x2</key>
			<string>357.857</string>
			<key>y2</key>
			<string>121.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{9a4dd30f-9955-4268-993f-6c1b258c685d}</key>
		<dict>
			<key>x1</key>
			<string>335.987</string>
			<key>y1</key>
			<string>113.234</string>
			<key>x2</key>
			<string>335.987</string>
			<key>y2</key>
			<string>97.2983</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{65877490-a1f6-4c3a-8529-71d0a737746f}</key>
		<dict>
			<key>x1</key>
			<string>302.071</string>
			<key>y1</key>
			<string>154.957</string>
			<key>x2</key>
			<string>302.071</string>
			<key>y2</key>
			<string>171.673</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{862bbb13-91f5-441d-870b-ec34e1e8b8d1}</key>
		<dict>
			<key>x1</key>
			<string>308.184</string>
			<key>y1</key>
			<string>110.734</string>
			<key>x2</key>
			<string>308.184</string>
			<key>y2</key>
			<string>95.4233</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{b0fa2583-d73c-42cd-afb2-b302abaf1d81}</key>
		<dict>
			<key>x1</key>
			<string>281.302</string>
			<key>y1</key>
			<string>113.234</string>
			<key>x2</key>
			<string>281.302</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{b898df5d-b645-4304-8b13-91a33d53a35e}</key>
		<dict>
			<key>x1</key>
			<string>261.4</string>
			<key>y1</key>
			<string>113.234</string>
			<key>x2</key>
			<string>261.4</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{2086f448-a851-4f92-adf4-67d2bd9532a8}</key>
		<dict>
			<key>x1</key>
			<string>211.502</string>
			<key>y1</key>
			<string>109.957</string>
			<key>x2</key>
			<string>211.502</string>
			<key>y2</key>
			<string>124.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{e032bdff-ccb2-41b3-9956-fde298d5ffc8}</key>
		<dict>
			<key>x1</key>
			<string>176.899</string>
			<key>y1</key>
			<string>107.612</string>
			<key>x2</key>
			<string>176.899</string>
			<key>y2</key>
			<string>122.923</string>
			<key>height</key>
			<string>16.25</string>
		</dict>
		<key>{b3750c09-e092-4164-9583-0659b1b99e1a}</key>
		<dict>
			<key>x1</key>
			<string>155.029</string>
			<key>y1</key>
			<string>113.234</string>
			<key>x2</key>
			<string>155.029</string>
			<key>y2</key>
			<string>97.2983</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{d60c4d10-4c76-4283-87a0-2ef46ecd8e28}</key>
		<dict>
			<key>x1</key>
			<string>121.113</string>
			<key>y1</key>
			<string>147.457</string>
			<key>x2</key>
			<string>121.113</string>
			<key>y2</key>
			<string>164.173</string>
			<key>height</key>
			<string>17.5</string>
		</dict>
		<key>{7ef82dd2-252c-492d-8442-07c27a5496cf}</key>
		<dict>
			<key>x1</key>
			<string>127.226</string>
			<key>y1</key>
			<string>110.734</string>
			<key>x2</key>
			<string>127.226</string>
			<key>y2</key>
			<string>95.4233</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{73a3d966-2ddc-44c2-9266-c4b21cbae10c}</key>
		<dict>
			<key>x1</key>
			<string>102.248</string>
			<key>y1</key>
			<string>113.234</string>
			<key>x2</key>
			<string>102.248</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{807dfd85-09b4-4de1-9959-4e909e774bf8}</key>
		<dict>
			<key>x1</key>
			<string>84.2496</string>
			<key>y1</key>
			<string>113.234</string>
			<key>x2</key>
			<string>84.2496</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-15</string>
		</dict>
	</dict>
</dict>
</plist>