<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>pen_width</key>
	<string>0.40</string>
	<key>xend</key>
	<real>2080.73</real>
	<key>stafflines</key>
	<dict>
		<key>0</key>
		<dict>
			<key>x</key>
			<string>10.4173</string>
			<key>y</key>
			<string>16.398</string>
			<key>bx</key>
			<string>10.4173</string>
			<key>by</key>
			<string>55.6583</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{7d719d33-659c-44c5-b495-d0eec1db81b8}</key>
		<dict>
			<key>x</key>
			<string>1544.15</string>
			<key>y</key>
			<string>41.2012</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>友</string>
		</dict>
		<key>{b1799832-0125-44f9-a072-1bfedfa8a615}</key>
		<dict>
			<key>x</key>
			<string>1513.25</string>
			<key>y</key>
			<string>36.2405</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>ー</string>
		</dict>
		<key>{3aa5cc0d-8e67-4332-8f59-1246ecd74e80}</key>
		<dict>
			<key>x</key>
			<string>1487.69</string>
			<key>y</key>
			<string>38.7209</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>朋</string>
		</dict>
		<key>{b6cf24e2-bbbf-4122-b8f6-b52d002c4d50}</key>
		<dict>
			<key>x</key>
			<string>1462.13</string>
			<key>y</key>
			<string>41.2012</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>ー</string>
		</dict>
		<key>{dc90d6d8-4f27-4ff7-a761-dee5b3a88f5e}</key>
		<dict>
			<key>x</key>
			<string>1436.57</string>
			<key>y</key>
			<string>38.7209</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>好</string>
		</dict>
		<key>{07bb8a53-f124-4596-a6ea-f42791002171}</key>
		<dict>
			<key>x</key>
			<string>1378.28</string>
			<key>y</key>
			<string>38.7209</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>们</string>
		</dict>
		<key>{c9aaa48c-8ea9-4130-8e60-62a34358f993}</key>
		<dict>
			<key>x</key>
			<string>1327.17</string>
			<key>y</key>
			<string>36.2405</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>我</string>
		</dict>
		<key>{afc5f9e9-86e9-48d8-a27a-3446c282b5cb}</key>
		<dict>
			<key>x</key>
			<string>1294.79</string>
			<key>y</key>
			<string>41.2012</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>好</string>
		</dict>
		<key>{6d7417a6-9308-4d54-99d6-f797885cac60}</key>
		<dict>
			<key>x</key>
			<string>1269.23</string>
			<key>y</key>
			<string>36.2405</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>你</string>
		</dict>
		<key>{72b24833-b0c3-4ae5-aa0f-cd2fe96b236e}</key>
		<dict>
			<key>x</key>
			<string>1243.68</string>
			<key>y</key>
			<string>38.7209</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>友</string>
		</dict>
		<key>{87577908-c6b2-4a96-854f-6af8d58b2f9a}</key>
		<dict>
			<key>x</key>
			<string>1218.12</string>
			<key>y</key>
			<string>41.2012</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>朋</string>
		</dict>
		<key>{7b281aaa-38ef-41c0-91a6-e49ee494dd49}</key>
		<dict>
			<key>x</key>
			<string>1185.56</string>
			<key>y</key>
			<string>41.2012</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>好</string>
		</dict>
		<key>{bc6e83e6-6463-41e4-b97a-c03a19d722b7}</key>
		<dict>
			<key>x</key>
			<string>1160.01</string>
			<key>y</key>
			<string>36.2405</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>你</string>
		</dict>
		<key>{a9861ec3-83ff-4e1b-99fe-ac80f94c03c7}</key>
		<dict>
			<key>x</key>
			<string>1134.45</string>
			<key>y</key>
			<string>38.7209</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>友</string>
		</dict>
		<key>{203192f5-fc9b-4dc5-8c08-7521e1ea3b97}</key>
		<dict>
			<key>x</key>
			<string>1108.89</string>
			<key>y</key>
			<string>41.2012</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>朋</string>
		</dict>
		<key>{05395b88-2e7c-4a42-9185-6516bdcff736}</key>
		<dict>
			<key>x</key>
			<string>998.017</string>
			<key>y</key>
			<string>41.2012</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>手</string>
		</dict>
		<key>{af684e5c-295b-43b8-b8ee-9aebe01c0f98}</key>
		<dict>
			<key>x</key>
			<string>967.11</string>
			<key>y</key>
			<string>36.2405</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>ー</string>
		</dict>
		<key>{7001d772-72d8-4fb9-ad7a-233fbfe95e11}</key>
		<dict>
			<key>x</key>
			<string>941.552</string>
			<key>y</key>
			<string>38.7209</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>拉</string>
		</dict>
		<key>{1ff7060a-3be4-470f-aebc-7d73f0579fe2}</key>
		<dict>
			<key>x</key>
			<string>915.995</string>
			<key>y</key>
			<string>41.2012</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>ー</string>
		</dict>
		<key>{573080f8-ca5f-44b2-b04f-31471a441e60}</key>
		<dict>
			<key>x</key>
			<string>890.437</string>
			<key>y</key>
			<string>38.7209</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>拉</string>
		</dict>
		<key>{91a69797-3d47-4f84-a71f-e43e77cc4b0a}</key>
		<dict>
			<key>x</key>
			<string>832.146</string>
			<key>y</key>
			<string>38.7209</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>们</string>
		</dict>
		<key>{552147af-7226-4802-8227-e9cba8709045}</key>
		<dict>
			<key>x</key>
			<string>781.031</string>
			<key>y</key>
			<string>36.2405</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>我</string>
		</dict>
		<key>{f66047ed-6136-4532-b91c-5aee525af6b5}</key>
		<dict>
			<key>x</key>
			<string>748.656</string>
			<key>y</key>
			<string>41.2012</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>友</string>
		</dict>
		<key>{e1749f12-76cf-429c-ab8b-545acaf50dc1}</key>
		<dict>
			<key>x</key>
			<string>723.098</string>
			<key>y</key>
			<string>36.2405</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>朋</string>
		</dict>
		<key>{2184834a-5d64-46e6-86bb-cf823c826dfa}</key>
		<dict>
			<key>x</key>
			<string>697.541</string>
			<key>y</key>
			<string>38.7209</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>个</string>
		</dict>
		<key>{d923597e-5d64-4c22-9996-12b01467d3ab}</key>
		<dict>
			<key>x</key>
			<string>671.983</string>
			<key>y</key>
			<string>41.2012</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>找</string>
		</dict>
		<key>{0012a602-a691-4da4-9ca2-82c7275b648f}</key>
		<dict>
			<key>x</key>
			<string>639.429</string>
			<key>y</key>
			<string>41.2012</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>友</string>
		</dict>
		<key>{f2e92ea7-94c7-44a2-8fd6-0035a1c064af}</key>
		<dict>
			<key>x</key>
			<string>613.871</string>
			<key>y</key>
			<string>36.2405</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>朋</string>
		</dict>
		<key>{22dd38d7-ddbe-4aa8-b39a-cec5658eb124}</key>
		<dict>
			<key>x</key>
			<string>588.313</string>
			<key>y</key>
			<string>38.7209</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>个</string>
		</dict>
		<key>{a8f9a6c7-16af-4fad-85de-9c7e82292306}</key>
		<dict>
			<key>x</key>
			<string>562.756</string>
			<key>y</key>
			<string>41.2012</string>
			<key>idx</key>
			<string>1</string>
			<key>lyrics</key>
			<string>找</string>
		</dict>
	</dict>
	<key>rests</key>
	<dict>
		<key>{3fe8372e-2bbd-4cfb-85dd-b2e51298f315}</key>
		<dict>
			<key>x</key>
			<string>1980.47</string>
			<key>y</key>
			<string>80.8862</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{c519df86-2722-4676-9965-a5dffbc09626}</key>
		<dict>
			<key>x</key>
			<string>1980.47</string>
			<key>y</key>
			<string>21.3587</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{d5c485be-6b2e-472a-a348-013a160fcc90}</key>
		<dict>
			<key>x</key>
			<string>1871.25</string>
			<key>y</key>
			<string>80.8862</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{8686b869-a620-4def-bbcb-4a4d9910167c}</key>
		<dict>
			<key>x</key>
			<string>1871.25</string>
			<key>y</key>
			<string>21.3587</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{873fba8b-902b-4970-b1b5-25a102666e1c}</key>
		<dict>
			<key>x</key>
			<string>1762.02</string>
			<key>y</key>
			<string>80.8862</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{d35516a8-aa24-48b4-b820-ca35c8ea6dbc}</key>
		<dict>
			<key>x</key>
			<string>1762.02</string>
			<key>y</key>
			<string>21.3587</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{cb244648-ab59-464f-a574-c629e22d462e}</key>
		<dict>
			<key>x</key>
			<string>1652.79</string>
			<key>y</key>
			<string>80.8862</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{154560c4-61c7-4d02-b73d-3b4e0c470d8f}</key>
		<dict>
			<key>x</key>
			<string>1652.79</string>
			<key>y</key>
			<string>21.3587</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{6f650cae-a16a-40b3-a555-e30ea1614373}</key>
		<dict>
			<key>x</key>
			<string>1545.8</string>
			<key>y</key>
			<string>80.8862</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{be92d031-3fb9-4070-903d-c78871d87062}</key>
		<dict>
			<key>x</key>
			<string>1436.57</string>
			<key>y</key>
			<string>80.8862</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{5f0a1048-fea5-4d3e-891d-03750514da92}</key>
		<dict>
			<key>x</key>
			<string>1327.35</string>
			<key>y</key>
			<string>80.8862</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{2087ea31-1e5a-4aca-b166-c63361e0704a}</key>
		<dict>
			<key>x</key>
			<string>1218.12</string>
			<key>y</key>
			<string>80.8862</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{27ccf827-c845-46b7-93c0-0f63b7227698}</key>
		<dict>
			<key>x</key>
			<string>1108.89</string>
			<key>y</key>
			<string>80.8862</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{0d063ea5-678e-4746-9a17-e3c6dd797cf1}</key>
		<dict>
			<key>x</key>
			<string>999.664</string>
			<key>y</key>
			<string>80.8862</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{95fd031e-2210-4164-a0fa-9b7af5590836}</key>
		<dict>
			<key>x</key>
			<string>890.437</string>
			<key>y</key>
			<string>80.8862</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{5be3b750-b150-4c22-a313-2caa0baa0555}</key>
		<dict>
			<key>x</key>
			<string>781.21</string>
			<key>y</key>
			<string>80.8862</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{a1af30f0-5836-47bb-88df-6e1ecf84ecb9}</key>
		<dict>
			<key>x</key>
			<string>671.983</string>
			<key>y</key>
			<string>80.8862</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{3e317628-1e8e-4bad-9ab4-142d24074b5a}</key>
		<dict>
			<key>x</key>
			<string>562.756</string>
			<key>y</key>
			<string>80.8862</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{0adaa54e-1ffd-4095-8774-6c271f44d941}</key>
		<dict>
			<key>x</key>
			<string>451.294</string>
			<key>y</key>
			<string>80.8862</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{bd5b4405-d19a-4d5c-a34e-694c571d3ea7}</key>
		<dict>
			<key>x</key>
			<string>451.294</string>
			<key>y</key>
			<string>21.3587</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{c6930951-04fb-4b5f-8d2f-fa71dd6b7a58}</key>
		<dict>
			<key>x</key>
			<string>342.067</string>
			<key>y</key>
			<string>80.8862</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{87a83f39-513f-405b-a5a8-2a3ddbb0e16c}</key>
		<dict>
			<key>x</key>
			<string>342.067</string>
			<key>y</key>
			<string>21.3587</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{1e6937f1-afaf-4fa3-b0d7-d3977daf538e}</key>
		<dict>
			<key>x</key>
			<string>232.84</string>
			<key>y</key>
			<string>80.8862</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{1f6b7d62-48de-4a95-9964-c5571de61dd0}</key>
		<dict>
			<key>x</key>
			<string>232.84</string>
			<key>y</key>
			<string>21.3587</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{bc8123c5-6ca5-40d1-bc95-bb44ed6ce4df}</key>
		<dict>
			<key>x</key>
			<string>123.613</string>
			<key>y</key>
			<string>80.8862</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{82972217-cd27-4ed8-ba4c-c1e477a4925e}</key>
		<dict>
			<key>x</key>
			<string>123.613</string>
			<key>y</key>
			<string>21.3587</string>
			<key>idx</key>
			<string>1</string>
		</dict>
		<key>{996b9202-d751-475c-af00-060a0becf6ee}</key>
		<dict>
			<key>x</key>
			<string>48.7831</string>
			<key>y</key>
			<string>80.8862</string>
			<key>idx</key>
			<string>2</string>
		</dict>
		<key>{9a27003c-911e-4728-95db-862ae03e46ef}</key>
		<dict>
			<key>x</key>
			<string>48.7831</string>
			<key>y</key>
			<string>21.3587</string>
			<key>idx</key>
			<string>1</string>
		</dict>
	</dict>
	<key>note_finger</key>
	<dict>
	</dict>
	<key>note_step</key>
	<dict>
		<key>{7d719d33-659c-44c5-b495-d0eec1db81b8}</key>
		<string>{f2163598-8cbd-460b-92a6-b4df867111fa}</string>
		<key>{b1799832-0125-44f9-a072-1bfedfa8a615}</key>
		<string>{89c0e48a-0ee2-4b58-83d3-25f2192b2580}</string>
		<key>{3aa5cc0d-8e67-4332-8f59-1246ecd74e80}</key>
		<string>{ae3b6916-9ee6-43e7-9bb2-02e301ebef7b}</string>
		<key>{b6cf24e2-bbbf-4122-b8f6-b52d002c4d50}</key>
		<string>{80f088f1-39fd-4b8b-8a7c-1e2492245f04}</string>
		<key>{dc90d6d8-4f27-4ff7-a761-dee5b3a88f5e}</key>
		<string>{d34951aa-29ce-4a5a-8e0f-9ce9b0fff66e}</string>
		<key>{07bb8a53-f124-4596-a6ea-f42791002171}</key>
		<string>{28d6f3b4-167b-42aa-b42b-d41f9c4a1b91}</string>
		<key>{c9aaa48c-8ea9-4130-8e60-62a34358f993}</key>
		<string>{9c7b78b4-db7b-48f9-b3cd-3e436a802e7f}</string>
		<key>{afc5f9e9-86e9-48d8-a27a-3446c282b5cb}</key>
		<string>{61f1221c-9de9-413d-9446-56dfdf36ce00}</string>
		<key>{6d7417a6-9308-4d54-99d6-f797885cac60}</key>
		<string>{2cd21daa-dc6e-458e-bbae-1c2523fa24a8}</string>
		<key>{72b24833-b0c3-4ae5-aa0f-cd2fe96b236e}</key>
		<string>{da02454f-3a62-4495-9f5d-7a21f4e04a48}</string>
		<key>{87577908-c6b2-4a96-854f-6af8d58b2f9a}</key>
		<string>{8de0df9b-5615-4e72-bb70-c7eb7ff91507}</string>
		<key>{7b281aaa-38ef-41c0-91a6-e49ee494dd49}</key>
		<string>{432c116d-ff81-4b60-b621-ecfdbc8199c3}</string>
		<key>{bc6e83e6-6463-41e4-b97a-c03a19d722b7}</key>
		<string>{86ba31c2-eb62-46f9-86bd-8249668a1287}</string>
		<key>{a9861ec3-83ff-4e1b-99fe-ac80f94c03c7}</key>
		<string>{76d054c3-63e9-4fb1-b0c6-92369f8db1f3}</string>
		<key>{203192f5-fc9b-4dc5-8c08-7521e1ea3b97}</key>
		<string>{4e993a46-8525-4aa4-afc0-165e0c2f7523}</string>
		<key>{05395b88-2e7c-4a42-9185-6516bdcff736}</key>
		<string>{8848953f-2613-4e0b-9256-7cff8189995c}</string>
		<key>{af684e5c-295b-43b8-b8ee-9aebe01c0f98}</key>
		<string>{1e96b84b-de73-45e6-aec0-3fca846b6c3f}</string>
		<key>{7001d772-72d8-4fb9-ad7a-233fbfe95e11}</key>
		<string>{ce2d36b7-7870-48dc-8a12-4dc484701aba}</string>
		<key>{1ff7060a-3be4-470f-aebc-7d73f0579fe2}</key>
		<string>{1093cc2b-cd96-4b76-96ad-c03d1032abe9}</string>
		<key>{573080f8-ca5f-44b2-b04f-31471a441e60}</key>
		<string>{eea02260-bb79-4206-8e51-b1c6a1d3abb9}</string>
		<key>{91a69797-3d47-4f84-a71f-e43e77cc4b0a}</key>
		<string>{c44cccb6-df23-4cdc-abbe-0b2056e8bb2c}</string>
		<key>{552147af-7226-4802-8227-e9cba8709045}</key>
		<string>{c3d42ec0-6539-49e1-9e1e-24c5fce46b4a}</string>
		<key>{f66047ed-6136-4532-b91c-5aee525af6b5}</key>
		<string>{961de9ee-5e06-4e90-9e67-6ca69a916cab}</string>
		<key>{e1749f12-76cf-429c-ab8b-545acaf50dc1}</key>
		<string>{a04f1657-abe5-43fa-9fdd-6cdfd3bb8a8d}</string>
		<key>{2184834a-5d64-46e6-86bb-cf823c826dfa}</key>
		<string>{41f89b60-950b-472b-948c-ce3300d6d4f6}</string>
		<key>{d923597e-5d64-4c22-9996-12b01467d3ab}</key>
		<string>{24dc36bb-5141-4058-be4f-8f6049f6d995}</string>
		<key>{0012a602-a691-4da4-9ca2-82c7275b648f}</key>
		<string>{0f70db6c-e288-4664-bcff-9854b5ccf6b0}</string>
		<key>{f2e92ea7-94c7-44a2-8fd6-0035a1c064af}</key>
		<string>{1e1280c4-4004-4003-a848-195cfdcc0c02}</string>
		<key>{22dd38d7-ddbe-4aa8-b39a-cec5658eb124}</key>
		<string>{37aedfed-d205-4f35-9f8b-35dd7b0b3dea}</string>
		<key>{a8f9a6c7-16af-4fad-85de-9c7e82292306}</key>
		<string>{c11e49d3-d675-4b8e-b501-0617dcd3be92}</string>
	</dict>
	<key>note_light</key>
	<dict>
		<key>{7d719d33-659c-44c5-b495-d0eec1db81b8}</key>
		<array>
		</array>
		<key>{b1799832-0125-44f9-a072-1bfedfa8a615}</key>
		<array>
			
			<string>{976e1115-0488-4e8f-b74a-c57b1780e240}</string>
		</array>
		<key>{3aa5cc0d-8e67-4332-8f59-1246ecd74e80}</key>
		<array>
			
			<string>{b63df969-7df4-4118-babf-7c1adaa7d106}</string>
		</array>
		<key>{b6cf24e2-bbbf-4122-b8f6-b52d002c4d50}</key>
		<array>
			
			<string>{6872ed2e-3dda-4ae6-9e6d-b229cbdf6646}</string>
		</array>
		<key>{dc90d6d8-4f27-4ff7-a761-dee5b3a88f5e}</key>
		<array>
			
			<string>{675306f5-8e7f-4c80-962c-9961cb8a5abb}</string>
		</array>
		<key>{07bb8a53-f124-4596-a6ea-f42791002171}</key>
		<array>
			
			<string>{e167d0ec-baa1-4ce2-a833-0ca144b5e3b6}</string>
		</array>
		<key>{c9aaa48c-8ea9-4130-8e60-62a34358f993}</key>
		<array>
			
			<string>{9be0755a-0d24-44d3-aaa4-d6ecc93500a2}</string>
		</array>
		<key>{afc5f9e9-86e9-48d8-a27a-3446c282b5cb}</key>
		<array>
			
			<string>{d3c2dac5-db72-4ac3-9ad1-ffa2e5c1bda9}</string>
		</array>
		<key>{6d7417a6-9308-4d54-99d6-f797885cac60}</key>
		<array>
			
			<string>{bbd3d1b6-76f7-487b-9a92-1da8f9541365}</string>
		</array>
		<key>{72b24833-b0c3-4ae5-aa0f-cd2fe96b236e}</key>
		<array>
			
			<string>{6e56e9f4-3ff6-4c39-be1c-5881e9221133}</string>
		</array>
		<key>{87577908-c6b2-4a96-854f-6af8d58b2f9a}</key>
		<array>
			
			<string>{131b961e-3ae3-497a-9e72-86fe77c514eb}</string>
		</array>
		<key>{7b281aaa-38ef-41c0-91a6-e49ee494dd49}</key>
		<array>
			
			<string>{426ef7f7-08f9-4ca5-90db-a69f2723d9ef}</string>
		</array>
		<key>{bc6e83e6-6463-41e4-b97a-c03a19d722b7}</key>
		<array>
			
			<string>{2f6706f8-1695-4823-9643-acfe8b200c1f}</string>
		</array>
		<key>{a9861ec3-83ff-4e1b-99fe-ac80f94c03c7}</key>
		<array>
			
			<string>{1ca01f73-ffd5-4540-9f11-ac3025aa9883}</string>
		</array>
		<key>{203192f5-fc9b-4dc5-8c08-7521e1ea3b97}</key>
		<array>
			
			<string>{d0f8a8b9-3adc-44d0-8516-b642d2f96e96}</string>
		</array>
		<key>{05395b88-2e7c-4a42-9185-6516bdcff736}</key>
		<array>
		</array>
		<key>{af684e5c-295b-43b8-b8ee-9aebe01c0f98}</key>
		<array>
			
			<string>{c02d88ee-d4ed-4469-b0a4-00fd76c6b26e}</string>
		</array>
		<key>{7001d772-72d8-4fb9-ad7a-233fbfe95e11}</key>
		<array>
			
			<string>{81d27dd6-8565-452a-ac38-8d7c19380af3}</string>
		</array>
		<key>{1ff7060a-3be4-470f-aebc-7d73f0579fe2}</key>
		<array>
			
			<string>{b44d6f3b-94f1-49e9-832f-0fec70af16ae}</string>
		</array>
		<key>{573080f8-ca5f-44b2-b04f-31471a441e60}</key>
		<array>
			
			<string>{531f691e-356a-4ebd-8722-96903cf0c72a}</string>
		</array>
		<key>{91a69797-3d47-4f84-a71f-e43e77cc4b0a}</key>
		<array>
			
			<string>{2848615c-1402-4d15-8b58-ecb9e64b2c73}</string>
		</array>
		<key>{552147af-7226-4802-8227-e9cba8709045}</key>
		<array>
			
			<string>{3a279653-45ed-45b6-adfc-d202d2531ad4}</string>
		</array>
		<key>{f66047ed-6136-4532-b91c-5aee525af6b5}</key>
		<array>
			
			<string>{e73e3a98-5a44-446c-a3ec-1a2fd5e79742}</string>
		</array>
		<key>{e1749f12-76cf-429c-ab8b-545acaf50dc1}</key>
		<array>
			
			<string>{1a657040-375f-42ff-b4fa-c7d301639745}</string>
		</array>
		<key>{2184834a-5d64-46e6-86bb-cf823c826dfa}</key>
		<array>
			
			<string>{a7343e49-de87-4f4d-886e-887303f8ccda}</string>
		</array>
		<key>{d923597e-5d64-4c22-9996-12b01467d3ab}</key>
		<array>
			
			<string>{a784ed15-8a33-43a0-a8c6-ddbc4d862098}</string>
		</array>
		<key>{0012a602-a691-4da4-9ca2-82c7275b648f}</key>
		<array>
			
			<string>{d68c3b76-498b-4a4a-bde2-0cbaf32ec238}</string>
		</array>
		<key>{f2e92ea7-94c7-44a2-8fd6-0035a1c064af}</key>
		<array>
			
			<string>{9034e14f-630c-43c3-922c-1e8c0797e0b2}</string>
		</array>
		<key>{22dd38d7-ddbe-4aa8-b39a-cec5658eb124}</key>
		<array>
			
			<string>{1797fa6d-9a7e-4c3d-ab7e-7e026fc9a23e}</string>
		</array>
		<key>{a8f9a6c7-16af-4fad-85de-9c7e82292306}</key>
		<array>
			
			<string>{f2641b15-bb27-4da6-ab5a-d3282b817c8b}</string>
		</array>
	</dict>
	<key>note_hands_type</key>
	<dict>
		<key>1</key>
		<array>
			
			<string>{c519df86-2722-4676-9965-a5dffbc09626}</string>
			
			<string>{8686b869-a620-4def-bbcb-4a4d9910167c}</string>
			
			<string>{d35516a8-aa24-48b4-b820-ca35c8ea6dbc}</string>
			
			<string>{154560c4-61c7-4d02-b73d-3b4e0c470d8f}</string>
			
			<string>{bd5b4405-d19a-4d5c-a34e-694c571d3ea7}</string>
			
			<string>{87a83f39-513f-405b-a5a8-2a3ddbb0e16c}</string>
			
			<string>{1f6b7d62-48de-4a95-9964-c5571de61dd0}</string>
			
			<string>{82972217-cd27-4ed8-ba4c-c1e477a4925e}</string>
			
			<string>{9a27003c-911e-4728-95db-862ae03e46ef}</string>
			
			<string>{f2163598-8cbd-460b-92a6-b4df867111fa}</string>
			
			<string>{89c0e48a-0ee2-4b58-83d3-25f2192b2580}</string>
			
			<string>{ae3b6916-9ee6-43e7-9bb2-02e301ebef7b}</string>
			
			<string>{80f088f1-39fd-4b8b-8a7c-1e2492245f04}</string>
			
			<string>{d34951aa-29ce-4a5a-8e0f-9ce9b0fff66e}</string>
			
			<string>{28d6f3b4-167b-42aa-b42b-d41f9c4a1b91}</string>
			
			<string>{9c7b78b4-db7b-48f9-b3cd-3e436a802e7f}</string>
			
			<string>{61f1221c-9de9-413d-9446-56dfdf36ce00}</string>
			
			<string>{2cd21daa-dc6e-458e-bbae-1c2523fa24a8}</string>
			
			<string>{da02454f-3a62-4495-9f5d-7a21f4e04a48}</string>
			
			<string>{8de0df9b-5615-4e72-bb70-c7eb7ff91507}</string>
			
			<string>{432c116d-ff81-4b60-b621-ecfdbc8199c3}</string>
			
			<string>{86ba31c2-eb62-46f9-86bd-8249668a1287}</string>
			
			<string>{76d054c3-63e9-4fb1-b0c6-92369f8db1f3}</string>
			
			<string>{4e993a46-8525-4aa4-afc0-165e0c2f7523}</string>
			
			<string>{8848953f-2613-4e0b-9256-7cff8189995c}</string>
			
			<string>{1e96b84b-de73-45e6-aec0-3fca846b6c3f}</string>
			
			<string>{ce2d36b7-7870-48dc-8a12-4dc484701aba}</string>
			
			<string>{1093cc2b-cd96-4b76-96ad-c03d1032abe9}</string>
			
			<string>{eea02260-bb79-4206-8e51-b1c6a1d3abb9}</string>
			
			<string>{c44cccb6-df23-4cdc-abbe-0b2056e8bb2c}</string>
			
			<string>{c3d42ec0-6539-49e1-9e1e-24c5fce46b4a}</string>
			
			<string>{961de9ee-5e06-4e90-9e67-6ca69a916cab}</string>
			
			<string>{a04f1657-abe5-43fa-9fdd-6cdfd3bb8a8d}</string>
			
			<string>{41f89b60-950b-472b-948c-ce3300d6d4f6}</string>
			
			<string>{24dc36bb-5141-4058-be4f-8f6049f6d995}</string>
			
			<string>{0f70db6c-e288-4664-bcff-9854b5ccf6b0}</string>
			
			<string>{1e1280c4-4004-4003-a848-195cfdcc0c02}</string>
			
			<string>{37aedfed-d205-4f35-9f8b-35dd7b0b3dea}</string>
			
			<string>{c11e49d3-d675-4b8e-b501-0617dcd3be92}</string>
			
			<string>{2d60ef01-cf63-43e2-8969-297fb2d2cdb5}</string>
			
			<string>{5d0ec398-db27-428c-b5c0-40315e53cc06}</string>
			
			<string>{a3ea3c14-a4d1-4fd9-86fc-a03fb4ab6cb9}</string>
			
			<string>{eb3d8be3-f17c-46d9-b7e1-db2d70b70d6f}</string>
			
			<string>{9227e639-4eda-43ec-bf2c-ae3f8b0c3cea}</string>
			
			<string>{b0fe8300-363a-4be6-8aad-edeb0a2ebd2b}</string>
			
			<string>{086064a3-dcaf-4c16-a1e5-04821baa47a7}</string>
			
			<string>{ea0fcd90-eb06-439d-846e-4728514f5879}</string>
			
			<string>{7ef333d8-0cf0-4a02-96f8-6aba12d7f887}</string>
			
			<string>{d934418d-cc0b-4de5-adc4-f7f5fda00504}</string>
			
			<string>{8136cecb-6ffb-4971-a9b5-1caedfdd9691}</string>
			
			<string>{68c2cc8e-83bd-46be-b7a9-17c53557a4b6}</string>
			
			<string>{2138c1d8-b927-4768-aaed-8932db6ccb31}</string>
			
			<string>{a816d100-58e5-4fef-b617-a20f34fa41d7}</string>
			
			<string>{3efa470a-ea83-435b-8d0f-4d6ed77e639b}</string>
			
			<string>{7e5bc0b9-2abf-4fb5-bf5b-f40c8bd8a2ae}</string>
			
			<string>{1174de88-0013-488d-a6ba-e397a9021e10}</string>
			
			<string>{16a7a440-5f8a-48d9-9c98-ecf50b52ee8b}</string>
			
			<string>{e8c75a7e-9efa-4b47-8e42-23a150d0b88d}</string>
			
			<string>{2c651f11-6dc0-4e31-b632-9ae83564ed88}</string>
			
			<string>{c9b0baaa-209f-44dd-8f20-cb33be0b011d}</string>
			
			<string>{45b75dfb-5bc8-44ef-afe6-3e848f4a6371}</string>
			
			<string>{75af9dbb-f165-4085-8775-3ad62f78199a}</string>
			
			<string>{108a10e2-e81b-48c7-8d07-60a62cf5bb90}</string>
			
			<string>{8b010597-c71d-4be6-aa3f-77b0f55af505}</string>
			
			<string>{53668429-720a-490e-8c54-bc89197584f6}</string>
			
			<string>{06ddd784-57d4-48d3-83aa-35acbc31e5cf}</string>
			
			<string>{d1c65f34-9623-441b-bac5-4ef6de75c394}</string>
			
			<string>{67e1f073-0953-4974-921e-f1ff9e7e26b7}</string>
			
			<string>{89d1f770-8dd4-4243-a63e-0ffa8f0800e6}</string>
			
			<string>{345d257e-345c-4749-a7cb-d73397ecc937}</string>
			
			<string>{9fb3e9b6-ee59-4ae0-902e-b885673acdd6}</string>
			
			<string>{998f3906-2703-4865-8a67-a65d9129dd49}</string>
			
			<string>{e581091e-2f76-45bc-9764-3bbc78e66fb6}</string>
			
			<string>{4f34c853-502d-4f91-950c-abad483e9044}</string>
			
			<string>{35fee1f8-67b3-4f04-b4cc-cf175ae0b4e5}</string>
			
			<string>{a0ab79a2-ab34-42ff-a406-8004e1578d80}</string>
			
			<string>{273000c2-dc82-4f25-9658-35a9956f458b}</string>
			
			<string>{85c1e72a-8976-454a-95bb-bf64a8020904}</string>
			
			<string>{7dcfd974-6ce2-48f3-92c2-d9254dce4389}</string>
			
			<string>{6452e63b-46fc-409f-9be5-f33235758a29}</string>
			
			<string>{66c9312c-cd5d-41cb-90cd-e1e1acb026a9}</string>
			
			<string>{bc93e66e-a091-4f00-b3f9-7805c0432fb4}</string>
			
			<string>{631c4555-ff59-45f0-9dc9-3aacbce4599b}</string>
			
			<string>{0ced92a0-8659-4a9f-8ef1-ce2a9134db52}</string>
			
			<string>{e15cd692-3d46-4464-938a-e34c026ecda9}</string>
			
			<string>{0206450a-f864-4f6a-866e-0458432ad68b}</string>
			
			<string>{eb02c36b-ea86-442b-a758-8e6238335eab}</string>
			
			<string>{976e1115-0488-4e8f-b74a-c57b1780e240}</string>
			
			<string>{b63df969-7df4-4118-babf-7c1adaa7d106}</string>
			
			<string>{6872ed2e-3dda-4ae6-9e6d-b229cbdf6646}</string>
			
			<string>{675306f5-8e7f-4c80-962c-9961cb8a5abb}</string>
			
			<string>{e167d0ec-baa1-4ce2-a833-0ca144b5e3b6}</string>
			
			<string>{9be0755a-0d24-44d3-aaa4-d6ecc93500a2}</string>
			
			<string>{d3c2dac5-db72-4ac3-9ad1-ffa2e5c1bda9}</string>
			
			<string>{bbd3d1b6-76f7-487b-9a92-1da8f9541365}</string>
			
			<string>{6e56e9f4-3ff6-4c39-be1c-5881e9221133}</string>
			
			<string>{131b961e-3ae3-497a-9e72-86fe77c514eb}</string>
			
			<string>{426ef7f7-08f9-4ca5-90db-a69f2723d9ef}</string>
			
			<string>{2f6706f8-1695-4823-9643-acfe8b200c1f}</string>
			
			<string>{1ca01f73-ffd5-4540-9f11-ac3025aa9883}</string>
			
			<string>{d0f8a8b9-3adc-44d0-8516-b642d2f96e96}</string>
			
			<string>{c02d88ee-d4ed-4469-b0a4-00fd76c6b26e}</string>
			
			<string>{81d27dd6-8565-452a-ac38-8d7c19380af3}</string>
			
			<string>{b44d6f3b-94f1-49e9-832f-0fec70af16ae}</string>
			
			<string>{531f691e-356a-4ebd-8722-96903cf0c72a}</string>
			
			<string>{2848615c-1402-4d15-8b58-ecb9e64b2c73}</string>
			
			<string>{3a279653-45ed-45b6-adfc-d202d2531ad4}</string>
			
			<string>{e73e3a98-5a44-446c-a3ec-1a2fd5e79742}</string>
			
			<string>{1a657040-375f-42ff-b4fa-c7d301639745}</string>
			
			<string>{a7343e49-de87-4f4d-886e-887303f8ccda}</string>
			
			<string>{a784ed15-8a33-43a0-a8c6-ddbc4d862098}</string>
			
			<string>{d68c3b76-498b-4a4a-bde2-0cbaf32ec238}</string>
			
			<string>{9034e14f-630c-43c3-922c-1e8c0797e0b2}</string>
			
			<string>{1797fa6d-9a7e-4c3d-ab7e-7e026fc9a23e}</string>
			
			<string>{f2641b15-bb27-4da6-ab5a-d3282b817c8b}</string>
			
			<string>{ecfdafca-401b-405c-bf88-2f9a5dc2122e}</string>
			
			<string>{6501d4f5-e2ca-4d4f-83ba-6099b5456757}</string>
			
			<string>{07014f84-eb31-4ea5-87df-3bcf1d1a3511}</string>
			
			<string>{83bc855c-0d37-4f70-ac5c-cc07eff65a80}</string>
			
			<string>{96d34371-91f0-4963-9d2f-1d863cc31d44}</string>
			
			<string>{b72110f6-db2d-4d9e-a02a-cc6a47ed7cb1}</string>
			
			<string>{a46f385a-db46-4a54-9e1b-4958c1b56460}</string>
			
			<string>{f80acd25-f018-4d35-af9e-1d44d73696bd}</string>
			
			<string>{267960cf-1118-4854-ae28-2a4163fbde58}</string>
			
			<string>{7181970f-6be0-4011-a0fa-9dfab009a6c6}</string>
			
			<string>{51db1679-9a92-4e82-8e82-06e9009cf937}</string>
			
			<string>{b19adafe-7b81-45e4-a18d-4352b5b1b5ba}</string>
		</array>
		<key>2</key>
		<array>
			
			<string>{3fe8372e-2bbd-4cfb-85dd-b2e51298f315}</string>
			
			<string>{d5c485be-6b2e-472a-a348-013a160fcc90}</string>
			
			<string>{873fba8b-902b-4970-b1b5-25a102666e1c}</string>
			
			<string>{cb244648-ab59-464f-a574-c629e22d462e}</string>
			
			<string>{6f650cae-a16a-40b3-a555-e30ea1614373}</string>
			
			<string>{be92d031-3fb9-4070-903d-c78871d87062}</string>
			
			<string>{5f0a1048-fea5-4d3e-891d-03750514da92}</string>
			
			<string>{2087ea31-1e5a-4aca-b166-c63361e0704a}</string>
			
			<string>{27ccf827-c845-46b7-93c0-0f63b7227698}</string>
			
			<string>{0d063ea5-678e-4746-9a17-e3c6dd797cf1}</string>
			
			<string>{95fd031e-2210-4164-a0fa-9b7af5590836}</string>
			
			<string>{5be3b750-b150-4c22-a313-2caa0baa0555}</string>
			
			<string>{a1af30f0-5836-47bb-88df-6e1ecf84ecb9}</string>
			
			<string>{3e317628-1e8e-4bad-9ab4-142d24074b5a}</string>
			
			<string>{0adaa54e-1ffd-4095-8774-6c271f44d941}</string>
			
			<string>{c6930951-04fb-4b5f-8d2f-fa71dd6b7a58}</string>
			
			<string>{1e6937f1-afaf-4fa3-b0d7-d3977daf538e}</string>
			
			<string>{bc8123c5-6ca5-40d1-bc95-bb44ed6ce4df}</string>
			
			<string>{996b9202-d751-475c-af00-060a0becf6ee}</string>
			
			<string>{a75bf14e-177b-4915-a55c-e2125607e151}</string>
			
			<string>{0330b80b-015d-430c-a6d6-1b7b95f05c10}</string>
			
			<string>{975e63dc-8f4a-4558-a9ab-6482692f7aab}</string>
			
			<string>{2fe42211-1eea-4515-bb2d-85f9edb59d6e}</string>
			
			<string>{766ed69f-7ed0-41b5-89a9-3c883f6ba457}</string>
			
			<string>{0abc633e-a9d2-4a6d-af11-f12465444dc2}</string>
			
			<string>{9909ecaf-ad45-4028-aa37-f0a95ac730a6}</string>
			
			<string>{720efe14-9969-4860-aea0-5baf9e23fa17}</string>
			
			<string>{8b9007b7-8524-4c51-baff-5c63d2921095}</string>
			
			<string>{fb646160-9fba-43cb-8584-ea037f67dada}</string>
			
			<string>{728c15ef-13f2-459e-b2e2-b310bb335ac5}</string>
			
			<string>{96e04289-1cf3-4ac3-ba13-60724029dbd7}</string>
			
			<string>{d86196a8-a397-4bd7-87a9-82c75412e199}</string>
			
			<string>{ab2e7cdd-5667-46f0-99b6-220622ea0c15}</string>
			
			<string>{b6aff84f-b73d-4108-b086-79d3c68f128e}</string>
			
			<string>{9beb011a-0720-4886-95fd-9d75047bc3ee}</string>
			
			<string>{7d143a5b-e857-4d1d-aa16-59a99a5fd14f}</string>
			
			<string>{95a25751-e70c-475e-988d-d79c51d1957e}</string>
		</array>
	</dict>
</dict>
</plist>