<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>45.1417</string>
			<key>y</key>
			<string>74.4094</string>
			<key>bx</key>
			<string>45.1417</string>
			<key>by</key>
			<string>109.989</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>45.1417</string>
			<key>y</key>
			<string>220.748</string>
			<key>bx</key>
			<string>45.1417</string>
			<key>by</key>
			<string>256.328</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>45.1417</string>
			<key>y</key>
			<string>367.087</string>
			<key>bx</key>
			<string>45.1417</string>
			<key>by</key>
			<string>402.666</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>45.1417</string>
			<key>y</key>
			<string>513.425</string>
			<key>bx</key>
			<string>45.1417</string>
			<key>by</key>
			<string>549.005</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>45.1417</string>
			<key>y</key>
			<string>656.942</string>
			<key>bx</key>
			<string>45.1417</string>
			<key>by</key>
			<string>692.522</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>6</key>
		<dict>
			<key>x</key>
			<string>45.1417</string>
			<key>y</key>
			<string>803.281</string>
			<key>bx</key>
			<string>45.1417</string>
			<key>by</key>
			<string>838.86</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>7</key>
		<dict>
			<key>x</key>
			<string>45.1417</string>
			<key>y</key>
			<string>949.619</string>
			<key>bx</key>
			<string>45.1417</string>
			<key>by</key>
			<string>985.199</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{252c7a24-6844-4e99-b3cd-53bffa750797}</key>
		<dict>
			<key>x</key>
			<string>451.851</string>
			<key>y</key>
			<string>572.953</string>
		</dict>
		<key>{b017a4b8-5cd8-4cf4-8cb7-76783217d870}</key>
		<dict>
			<key>x</key>
			<string>451.851</string>
			<key>y</key>
			<string>538.228</string>
		</dict>
		<key>{f3d9223e-2b9f-42e2-8496-c66484381ccb}</key>
		<dict>
			<key>x</key>
			<string>387.445</string>
			<key>y</key>
			<string>528.307</string>
		</dict>
		<key>{2e594233-d9da-4692-b2c0-4b88e601616a}</key>
		<dict>
			<key>x</key>
			<string>329.606</string>
			<key>y</key>
			<string>570.472</string>
		</dict>
		<key>{17cbb3be-864e-4886-8e7b-c6a5d6eb4185}</key>
		<dict>
			<key>x</key>
			<string>329.785</string>
			<key>y</key>
			<string>528.307</string>
		</dict>
		<key>{a87da1df-eb15-44fd-afff-59ebe07c25b8}</key>
		<dict>
			<key>x</key>
			<string>263.216</string>
			<key>y</key>
			<string>540.709</string>
		</dict>
		<key>{f1b476d3-784d-406c-a6c8-0d33ce2997b5}</key>
		<dict>
			<key>x</key>
			<string>203.393</string>
			<key>y</key>
			<string>575.433</string>
		</dict>
		<key>{81a58dc8-485b-492d-998e-fd4e923e23f3}</key>
		<dict>
			<key>x</key>
			<string>203.572</string>
			<key>y</key>
			<string>540.709</string>
		</dict>
		<key>{c426cf5c-92c4-4d12-8f74-6ace3ea200cb}</key>
		<dict>
			<key>x</key>
			<string>165.125</string>
			<key>y</key>
			<string>535.748</string>
		</dict>
		<key>{780a349e-4971-4f1e-a126-2845a6d0d19c}</key>
		<dict>
			<key>x</key>
			<string>133.603</string>
			<key>y</key>
			<string>530.787</string>
		</dict>
		<key>{a6720bf6-5e03-4993-aec6-698f11b34085}</key>
		<dict>
			<key>x</key>
			<string>102.082</string>
			<key>y</key>
			<string>535.748</string>
		</dict>
		<key>{4a5d9ee1-070d-4831-9b38-ffb9347dcd1f}</key>
		<dict>
			<key>x</key>
			<string>70.5603</string>
			<key>y</key>
			<string>530.787</string>
		</dict>
		<key>{8ae5e41e-7287-4d61-9f5c-baea3ee76b0a}</key>
		<dict>
			<key>x</key>
			<string>451.851</string>
			<key>y</key>
			<string>424.134</string>
		</dict>
		<key>{332ec238-cb3f-4758-b0ec-c91712515002}</key>
		<dict>
			<key>x</key>
			<string>451.851</string>
			<key>y</key>
			<string>389.409</string>
		</dict>
		<key>{bd4d5872-ea2b-4075-8e0c-408031eae54e}</key>
		<dict>
			<key>x</key>
			<string>387.445</string>
			<key>y</key>
			<string>386.929</string>
		</dict>
		<key>{3b721dc0-f2e5-4c3d-a04f-e8b2b7f9cb0e}</key>
		<dict>
			<key>x</key>
			<string>329.606</string>
			<key>y</key>
			<string>421.654</string>
		</dict>
		<key>{7606d5c8-b43a-4054-8adb-8f16c1418b2a}</key>
		<dict>
			<key>x</key>
			<string>329.785</string>
			<key>y</key>
			<string>386.929</string>
		</dict>
		<key>{6e0b2d43-1fa3-4d94-9f9e-fcc050183d11}</key>
		<dict>
			<key>x</key>
			<string>263.216</string>
			<key>y</key>
			<string>391.89</string>
		</dict>
		<key>{3b0ae6bd-989b-4a2b-b153-3a66dc712fb8}</key>
		<dict>
			<key>x</key>
			<string>203.393</string>
			<key>y</key>
			<string>426.614</string>
		</dict>
		<key>{b7b815d6-669a-450d-86b0-04294ea85ee8}</key>
		<dict>
			<key>x</key>
			<string>203.572</string>
			<key>y</key>
			<string>391.89</string>
		</dict>
		<key>{0c7f772f-6582-4860-8d3a-69474b47317d}</key>
		<dict>
			<key>x</key>
			<string>165.125</string>
			<key>y</key>
			<string>386.929</string>
		</dict>
		<key>{f02069e3-786c-4e41-aa5e-b730d561cc62}</key>
		<dict>
			<key>x</key>
			<string>133.603</string>
			<key>y</key>
			<string>381.968</string>
		</dict>
		<key>{b2cce479-de0a-4321-933d-92f6436fc4ac}</key>
		<dict>
			<key>x</key>
			<string>102.082</string>
			<key>y</key>
			<string>386.929</string>
		</dict>
		<key>{69c8b35d-1596-469e-872f-89d62fd53968}</key>
		<dict>
			<key>x</key>
			<string>70.5603</string>
			<key>y</key>
			<string>381.968</string>
		</dict>
		<key>{8c653c95-b6d4-4a12-bbdd-a115e72d5d1e}</key>
		<dict>
			<key>x</key>
			<string>451.851</string>
			<key>y</key>
			<string>280.276</string>
		</dict>
		<key>{6664ca06-b9bb-4f9e-937a-ea8fa059c655}</key>
		<dict>
			<key>x</key>
			<string>451.851</string>
			<key>y</key>
			<string>235.63</string>
		</dict>
		<key>{93adba01-9920-4d74-9001-9840f0963e4a}</key>
		<dict>
			<key>x</key>
			<string>387.445</string>
			<key>y</key>
			<string>233.15</string>
		</dict>
		<key>{a98dde0d-4c04-4c00-a7cb-be53450c87de}</key>
		<dict>
			<key>x</key>
			<string>329.606</string>
			<key>y</key>
			<string>277.795</string>
		</dict>
		<key>{0bcfa258-ec0d-48b7-b91b-d6f6af219752}</key>
		<dict>
			<key>x</key>
			<string>329.785</string>
			<key>y</key>
			<string>233.15</string>
		</dict>
		<key>{7166e65e-ecf7-4899-8763-1889ebb8383b}</key>
		<dict>
			<key>x</key>
			<string>263.216</string>
			<key>y</key>
			<string>248.031</string>
		</dict>
		<key>{b03530c6-78b8-4bdf-aede-46b57e780e8f}</key>
		<dict>
			<key>x</key>
			<string>203.393</string>
			<key>y</key>
			<string>282.756</string>
		</dict>
		<key>{4753f7a2-22ce-480f-bbdc-a07ee2e53297}</key>
		<dict>
			<key>x</key>
			<string>203.572</string>
			<key>y</key>
			<string>248.031</string>
		</dict>
		<key>{6a96bba3-d44f-49a8-a34e-1ab9e128a2b7}</key>
		<dict>
			<key>x</key>
			<string>165.125</string>
			<key>y</key>
			<string>243.071</string>
		</dict>
		<key>{f4d7b354-21f1-40ad-b8b9-c6d4e635e94b}</key>
		<dict>
			<key>x</key>
			<string>133.603</string>
			<key>y</key>
			<string>238.11</string>
		</dict>
		<key>{e9e0e998-c6bd-4b10-a51c-2893b56e8a74}</key>
		<dict>
			<key>x</key>
			<string>102.082</string>
			<key>y</key>
			<string>243.071</string>
		</dict>
		<key>{b3da933a-6f5b-4868-9f79-2e738423041a}</key>
		<dict>
			<key>x</key>
			<string>70.5603</string>
			<key>y</key>
			<string>238.11</string>
		</dict>
		<key>{e8f08c47-f4a3-4743-b95b-0b07ef39e019}</key>
		<dict>
			<key>x</key>
			<string>455.088</string>
			<key>y</key>
			<string>131.457</string>
		</dict>
		<key>{5e67d331-b7d6-4da3-bc4f-dca0817ce39f}</key>
		<dict>
			<key>x</key>
			<string>455.088</string>
			<key>y</key>
			<string>96.7323</string>
		</dict>
		<key>{4f060623-4d00-44cb-b8f1-0b302e070edc}</key>
		<dict>
			<key>x</key>
			<string>392.3</string>
			<key>y</key>
			<string>94.252</string>
		</dict>
		<key>{79005392-731c-4fc5-bf2f-43b8a6ef45fc}</key>
		<dict>
			<key>x</key>
			<string>336.08</string>
			<key>y</key>
			<string>128.976</string>
		</dict>
		<key>{456193d3-bdc8-4cf9-849c-fee68f2ad355}</key>
		<dict>
			<key>x</key>
			<string>336.259</string>
			<key>y</key>
			<string>94.252</string>
		</dict>
		<key>{4d982fc1-fba0-4e41-83f8-398c1226695f}</key>
		<dict>
			<key>x</key>
			<string>271.308</string>
			<key>y</key>
			<string>99.2126</string>
		</dict>
		<key>{194ac4ea-be13-4b92-b0cd-ebb2c824081d}</key>
		<dict>
			<key>x</key>
			<string>213.103</string>
			<key>y</key>
			<string>133.937</string>
		</dict>
		<key>{d173f5a1-486f-45e7-bfd4-65c5b34ccca8}</key>
		<dict>
			<key>x</key>
			<string>213.282</string>
			<key>y</key>
			<string>99.2126</string>
		</dict>
		<key>{b370f641-1677-45c2-994e-aa6c3824b1c1}</key>
		<dict>
			<key>x</key>
			<string>175.644</string>
			<key>y</key>
			<string>94.252</string>
		</dict>
		<key>{a5716910-3d65-46e8-9b4b-475b6ce3f704}</key>
		<dict>
			<key>x</key>
			<string>144.932</string>
			<key>y</key>
			<string>89.2913</string>
		</dict>
		<key>{709a63f9-e90d-475f-bddc-a62090dd7da5}</key>
		<dict>
			<key>x</key>
			<string>114.22</string>
			<key>y</key>
			<string>94.252</string>
		</dict>
		<key>{bffb1ce4-2f71-4c53-a9b5-e0045a5d8764}</key>
		<dict>
			<key>x</key>
			<string>83.5075</string>
			<key>y</key>
			<string>89.2913</string>
		</dict>
		<key>{9166ff76-5c71-4637-9a4a-85ab273ef10a}</key>
		<dict>
			<key>x</key>
			<string>487.643</string>
			<key>y</key>
			<string>1009.15</string>
		</dict>
		<key>{a78d014c-4161-42d5-a40f-446b31acf4de}</key>
		<dict>
			<key>x</key>
			<string>487.643</string>
			<key>y</key>
			<string>974.423</string>
		</dict>
		<key>{2947de81-c3bb-4a13-8bda-d64d615a993e}</key>
		<dict>
			<key>x</key>
			<string>443.365</string>
			<key>y</key>
			<string>964.501</string>
		</dict>
		<key>{a74de4f9-d3de-4f2c-9a1d-7bf9d6b7f3e2}</key>
		<dict>
			<key>x</key>
			<string>405.655</string>
			<key>y</key>
			<string>1006.67</string>
		</dict>
		<key>{b9c58a33-5e5c-4a09-91a8-aa76856bca45}</key>
		<dict>
			<key>x</key>
			<string>405.834</string>
			<key>y</key>
			<string>964.501</string>
		</dict>
		<key>{f0ae4902-c9a6-4b3c-b6ff-2793b47a12cd}</key>
		<dict>
			<key>x</key>
			<string>359.393</string>
			<key>y</key>
			<string>976.903</string>
		</dict>
		<key>{a31ecaf4-ff29-4d1c-94d7-c06aeed86b40}</key>
		<dict>
			<key>x</key>
			<string>319.699</string>
			<key>y</key>
			<string>1011.63</string>
		</dict>
		<key>{a83a98c9-e87c-4805-8a3e-12a188049385}</key>
		<dict>
			<key>x</key>
			<string>319.878</string>
			<key>y</key>
			<string>976.903</string>
		</dict>
		<key>{0dd7f75b-5fab-4171-9c97-3df86c3dba07}</key>
		<dict>
			<key>x</key>
			<string>290.256</string>
			<key>y</key>
			<string>971.942</string>
		</dict>
		<key>{c075c70d-563b-4e68-82e6-32036190eeea}</key>
		<dict>
			<key>x</key>
			<string>267.56</string>
			<key>y</key>
			<string>966.982</string>
		</dict>
		<key>{7a8ce1b0-96ac-4336-ad77-1c01943e720e}</key>
		<dict>
			<key>x</key>
			<string>244.865</string>
			<key>y</key>
			<string>971.942</string>
		</dict>
		<key>{895d31a9-b24a-497d-9c60-e6f3de7301db}</key>
		<dict>
			<key>x</key>
			<string>222.169</string>
			<key>y</key>
			<string>966.982</string>
		</dict>
		<key>{a6e7982c-43b9-4783-80ad-ca8253239318}</key>
		<dict>
			<key>x</key>
			<string>147.773</string>
			<key>y</key>
			<string>1006.67</string>
		</dict>
		<key>{aeee18e7-a359-422e-9f99-673719489dbf}</key>
		<dict>
			<key>x</key>
			<string>147.773</string>
			<key>y</key>
			<string>971.942</string>
		</dict>
		<key>{6a7ea206-743b-44a7-947a-7ca7de0d57cd}</key>
		<dict>
			<key>x</key>
			<string>105.883</string>
			<key>y</key>
			<string>969.462</string>
		</dict>
		<key>{5994ed27-e261-42ac-881c-fcbb54824166}</key>
		<dict>
			<key>x</key>
			<string>70.5603</string>
			<key>y</key>
			<string>1004.19</string>
		</dict>
		<key>{de23c1bb-0ad6-4cb4-ab15-6d8ee18c0ff7}</key>
		<dict>
			<key>x</key>
			<string>70.7393</string>
			<key>y</key>
			<string>969.462</string>
		</dict>
		<key>{263c8d8f-a1ca-4fdf-9b72-3a796a0ea47b}</key>
		<dict>
			<key>x</key>
			<string>522.113</string>
			<key>y</key>
			<string>828.084</string>
		</dict>
		<key>{ed72bc25-c4e5-4472-80b5-82a5f8d0eb6b}</key>
		<dict>
			<key>x</key>
			<string>484.29</string>
			<key>y</key>
			<string>862.808</string>
		</dict>
		<key>{12797e51-7a59-4ce0-81e3-40f55ac4f288}</key>
		<dict>
			<key>x</key>
			<string>484.469</string>
			<key>y</key>
			<string>828.084</string>
		</dict>
		<key>{f95a3182-3a57-40d9-aa56-e05483b07838}</key>
		<dict>
			<key>x</key>
			<string>455.784</string>
			<key>y</key>
			<string>823.123</string>
		</dict>
		<key>{92f7716f-8ae3-4c7a-aa8b-2d43f0f64768}</key>
		<dict>
			<key>x</key>
			<string>434.023</string>
			<key>y</key>
			<string>818.163</string>
		</dict>
		<key>{5db05d40-b462-4204-8c79-7d6824a4a02c}</key>
		<dict>
			<key>x</key>
			<string>412.263</string>
			<key>y</key>
			<string>823.123</string>
		</dict>
		<key>{e163c70a-41c9-4d9c-9479-c9414a035047}</key>
		<dict>
			<key>x</key>
			<string>390.503</string>
			<key>y</key>
			<string>818.163</string>
		</dict>
		<key>{576d1cde-d814-4438-8b22-36890b9e0eae}</key>
		<dict>
			<key>x</key>
			<string>319.851</string>
			<key>y</key>
			<string>862.808</string>
		</dict>
		<key>{1c4452a4-2f84-47ee-aab1-40473091a405}</key>
		<dict>
			<key>x</key>
			<string>319.851</string>
			<key>y</key>
			<string>818.163</string>
		</dict>
		<key>{6df363a5-cc1b-42b3-81fc-252166725ec7}</key>
		<dict>
			<key>x</key>
			<string>277.445</string>
			<key>y</key>
			<string>815.682</string>
		</dict>
		<key>{5d428571-fdd6-48c0-8dfc-d63fc09ac300}</key>
		<dict>
			<key>x</key>
			<string>241.606</string>
			<key>y</key>
			<string>860.328</string>
		</dict>
		<key>{2a854c86-c5c1-444f-baf0-a52181f622a0}</key>
		<dict>
			<key>x</key>
			<string>241.785</string>
			<key>y</key>
			<string>815.682</string>
		</dict>
		<key>{79a16977-9fe2-45bf-accd-6e93db4dc589}</key>
		<dict>
			<key>x</key>
			<string>197.216</string>
			<key>y</key>
			<string>830.564</string>
		</dict>
		<key>{754db4f3-94ea-4c39-b983-85804c74b775}</key>
		<dict>
			<key>x</key>
			<string>159.393</string>
			<key>y</key>
			<string>865.289</string>
		</dict>
		<key>{24c5a2e6-92f0-4704-9e47-00c53a6e08ea}</key>
		<dict>
			<key>x</key>
			<string>159.572</string>
			<key>y</key>
			<string>830.564</string>
		</dict>
		<key>{9a55f2d4-e9df-4360-ac5d-b9968b8bcdae}</key>
		<dict>
			<key>x</key>
			<string>132.125</string>
			<key>y</key>
			<string>825.604</string>
		</dict>
		<key>{afa234a0-c76f-4cd2-ac75-cbda4c767c26}</key>
		<dict>
			<key>x</key>
			<string>111.603</string>
			<key>y</key>
			<string>820.643</string>
		</dict>
		<key>{cbe2fb86-c961-495e-928d-edd3d567d675}</key>
		<dict>
			<key>x</key>
			<string>91.0818</string>
			<key>y</key>
			<string>825.604</string>
		</dict>
		<key>{9905550a-123f-4255-8347-8e23353444d8}</key>
		<dict>
			<key>x</key>
			<string>70.5603</string>
			<key>y</key>
			<string>820.643</string>
		</dict>
		<key>{5fb4d28f-18cc-4325-bbe0-007a2c1db7d4}</key>
		<dict>
			<key>x</key>
			<string>490.312</string>
			<key>y</key>
			<string>713.989</string>
		</dict>
		<key>{8398318f-aa4a-40ea-9a95-a8c698a3b779}</key>
		<dict>
			<key>x</key>
			<string>490.312</string>
			<key>y</key>
			<string>679.265</string>
		</dict>
		<key>{2398e8ce-f185-4803-a6e8-770899791c19}</key>
		<dict>
			<key>x</key>
			<string>445.136</string>
			<key>y</key>
			<string>676.785</string>
		</dict>
		<key>{d97eb76d-0f42-4d63-9961-78fc81b48bac}</key>
		<dict>
			<key>x</key>
			<string>406.528</string>
			<key>y</key>
			<string>711.509</string>
		</dict>
		<key>{fc9234c6-d527-4a93-9f17-0a565aa23987}</key>
		<dict>
			<key>x</key>
			<string>406.707</string>
			<key>y</key>
			<string>676.785</string>
		</dict>
		<key>{205b736c-1ff1-4f89-8416-cebdcba172a4}</key>
		<dict>
			<key>x</key>
			<string>359.369</string>
			<key>y</key>
			<string>681.745</string>
		</dict>
		<key>{83ac25b7-84e5-45ce-9bc5-1d361ecea024}</key>
		<dict>
			<key>x</key>
			<string>318.776</string>
			<key>y</key>
			<string>716.47</string>
		</dict>
		<key>{721ede4c-4370-4633-92e0-5b981df13d7e}</key>
		<dict>
			<key>x</key>
			<string>318.955</string>
			<key>y</key>
			<string>681.745</string>
		</dict>
		<key>{d9bd82f2-ac88-4c2d-b7db-ea2ae60e7888}</key>
		<dict>
			<key>x</key>
			<string>288.885</string>
			<key>y</key>
			<string>676.785</string>
		</dict>
		<key>{2145c8f3-e10b-4820-8f2a-cb908456c31d}</key>
		<dict>
			<key>x</key>
			<string>265.74</string>
			<key>y</key>
			<string>671.824</string>
		</dict>
		<key>{e9416a44-30ae-4b28-a9ac-0d76d34c4f6f}</key>
		<dict>
			<key>x</key>
			<string>242.595</string>
			<key>y</key>
			<string>676.785</string>
		</dict>
		<key>{38b8f05d-d507-4650-bf9a-f7bd695cdc65}</key>
		<dict>
			<key>x</key>
			<string>219.451</string>
			<key>y</key>
			<string>671.824</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{252c7a24-6844-4e99-b3cd-53bffa750797}</key>
		<dict>
			<key>x1</key>
			<string>452.173</string>
			<key>y1</key>
			<string>573.731</string>
			<key>x2</key>
			<string>452.173</string>
			<key>y2</key>
			<string>589.075</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{b017a4b8-5cd8-4cf4-8cb7-76783217d870}</key>
		<dict>
			<key>x1</key>
			<string>458.417</string>
			<key>y1</key>
			<string>537.466</string>
			<key>x2</key>
			<string>458.417</string>
			<key>y2</key>
			<string>520.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f3d9223e-2b9f-42e2-8496-c66484381ccb}</key>
		<dict>
			<key>x1</key>
			<string>393.653</string>
			<key>y1</key>
			<string>527.375</string>
			<key>x2</key>
			<string>393.653</string>
			<key>y2</key>
			<string>511.565</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{2e594233-d9da-4692-b2c0-4b88e601616a}</key>
		<dict>
			<key>x1</key>
			<string>329.928</string>
			<key>y1</key>
			<string>571.25</string>
			<key>x2</key>
			<string>329.928</string>
			<key>y2</key>
			<string>587.215</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{17cbb3be-864e-4886-8e7b-c6a5d6eb4185}</key>
		<dict>
			<key>x1</key>
			<string>335.994</string>
			<key>y1</key>
			<string>527.375</string>
			<key>x2</key>
			<string>335.994</string>
			<key>y2</key>
			<string>511.565</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{a87da1df-eb15-44fd-afff-59ebe07c25b8}</key>
		<dict>
			<key>x1</key>
			<string>269.424</string>
			<key>y1</key>
			<string>539.777</string>
			<key>x2</key>
			<string>269.424</string>
			<key>y2</key>
			<string>523.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f1b476d3-784d-406c-a6c8-0d33ce2997b5}</key>
		<dict>
			<key>x1</key>
			<string>203.715</string>
			<key>y1</key>
			<string>576.211</string>
			<key>x2</key>
			<string>203.715</string>
			<key>y2</key>
			<string>590.935</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{81a58dc8-485b-492d-998e-fd4e923e23f3}</key>
		<dict>
			<key>x1</key>
			<string>209.78</string>
			<key>y1</key>
			<string>539.777</string>
			<key>x2</key>
			<string>209.78</string>
			<key>y2</key>
			<string>523.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c426cf5c-92c4-4d12-8f74-6ace3ea200cb}</key>
		<dict>
			<key>x1</key>
			<string>171.333</string>
			<key>y1</key>
			<string>534.816</string>
			<key>x2</key>
			<string>171.333</string>
			<key>y2</key>
			<string>519.626</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{780a349e-4971-4f1e-a126-2845a6d0d19c}</key>
		<dict>
			<key>x1</key>
			<string>139.812</string>
			<key>y1</key>
			<string>529.856</string>
			<key>x2</key>
			<string>139.812</string>
			<key>y2</key>
			<string>517.146</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{a6720bf6-5e03-4993-aec6-698f11b34085}</key>
		<dict>
			<key>x1</key>
			<string>108.29</string>
			<key>y1</key>
			<string>534.816</string>
			<key>x2</key>
			<string>108.29</string>
			<key>y2</key>
			<string>519.626</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{4a5d9ee1-070d-4831-9b38-ffb9347dcd1f}</key>
		<dict>
			<key>x1</key>
			<string>76.7688</string>
			<key>y1</key>
			<string>529.856</string>
			<key>x2</key>
			<string>76.7688</string>
			<key>y2</key>
			<string>517.146</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{8ae5e41e-7287-4d61-9f5c-baea3ee76b0a}</key>
		<dict>
			<key>x1</key>
			<string>452.173</string>
			<key>y1</key>
			<string>424.912</string>
			<key>x2</key>
			<string>452.173</string>
			<key>y2</key>
			<string>440.876</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{332ec238-cb3f-4758-b0ec-c91712515002}</key>
		<dict>
			<key>x1</key>
			<string>458.417</string>
			<key>y1</key>
			<string>388.647</string>
			<key>x2</key>
			<string>458.417</string>
			<key>y2</key>
			<string>372.047</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{bd4d5872-ea2b-4075-8e0c-408031eae54e}</key>
		<dict>
			<key>x1</key>
			<string>393.653</string>
			<key>y1</key>
			<string>385.997</string>
			<key>x2</key>
			<string>393.653</string>
			<key>y2</key>
			<string>369.567</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3b721dc0-f2e5-4c3d-a04f-e8b2b7f9cb0e}</key>
		<dict>
			<key>x1</key>
			<string>329.928</string>
			<key>y1</key>
			<string>422.431</string>
			<key>x2</key>
			<string>329.928</string>
			<key>y2</key>
			<string>439.016</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{7606d5c8-b43a-4054-8adb-8f16c1418b2a}</key>
		<dict>
			<key>x1</key>
			<string>335.994</string>
			<key>y1</key>
			<string>385.997</string>
			<key>x2</key>
			<string>335.994</string>
			<key>y2</key>
			<string>369.567</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{6e0b2d43-1fa3-4d94-9f9e-fcc050183d11}</key>
		<dict>
			<key>x1</key>
			<string>269.424</string>
			<key>y1</key>
			<string>390.958</string>
			<key>x2</key>
			<string>269.424</string>
			<key>y2</key>
			<string>374.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3b0ae6bd-989b-4a2b-b153-3a66dc712fb8}</key>
		<dict>
			<key>x1</key>
			<string>203.715</string>
			<key>y1</key>
			<string>427.392</string>
			<key>x2</key>
			<string>203.715</string>
			<key>y2</key>
			<string>442.736</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{b7b815d6-669a-450d-86b0-04294ea85ee8}</key>
		<dict>
			<key>x1</key>
			<string>209.78</string>
			<key>y1</key>
			<string>390.958</string>
			<key>x2</key>
			<string>209.78</string>
			<key>y2</key>
			<string>374.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{0c7f772f-6582-4860-8d3a-69474b47317d}</key>
		<dict>
			<key>x1</key>
			<string>171.333</string>
			<key>y1</key>
			<string>385.997</string>
			<key>x2</key>
			<string>171.333</string>
			<key>y2</key>
			<string>372.047</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{f02069e3-786c-4e41-aa5e-b730d561cc62}</key>
		<dict>
			<key>x1</key>
			<string>139.812</string>
			<key>y1</key>
			<string>381.037</string>
			<key>x2</key>
			<string>139.812</string>
			<key>y2</key>
			<string>367.087</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{b2cce479-de0a-4321-933d-92f6436fc4ac}</key>
		<dict>
			<key>x1</key>
			<string>108.29</string>
			<key>y1</key>
			<string>385.997</string>
			<key>x2</key>
			<string>108.29</string>
			<key>y2</key>
			<string>372.047</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{69c8b35d-1596-469e-872f-89d62fd53968}</key>
		<dict>
			<key>x1</key>
			<string>76.7688</string>
			<key>y1</key>
			<string>381.037</string>
			<key>x2</key>
			<string>76.7688</string>
			<key>y2</key>
			<string>367.087</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{8c653c95-b6d4-4a12-bbdd-a115e72d5d1e}</key>
		<dict>
			<key>x1</key>
			<string>452.173</string>
			<key>y1</key>
			<string>281.053</string>
			<key>x2</key>
			<string>452.173</string>
			<key>y2</key>
			<string>296.398</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{6664ca06-b9bb-4f9e-937a-ea8fa059c655}</key>
		<dict>
			<key>x1</key>
			<string>458.417</string>
			<key>y1</key>
			<string>234.868</string>
			<key>x2</key>
			<string>458.417</string>
			<key>y2</key>
			<string>218.888</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{93adba01-9920-4d74-9001-9840f0963e4a}</key>
		<dict>
			<key>x1</key>
			<string>393.653</string>
			<key>y1</key>
			<string>232.218</string>
			<key>x2</key>
			<string>393.653</string>
			<key>y2</key>
			<string>217.028</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{a98dde0d-4c04-4c00-a7cb-be53450c87de}</key>
		<dict>
			<key>x1</key>
			<string>329.928</string>
			<key>y1</key>
			<string>278.573</string>
			<key>x2</key>
			<string>329.928</string>
			<key>y2</key>
			<string>294.537</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{0bcfa258-ec0d-48b7-b91b-d6f6af219752}</key>
		<dict>
			<key>x1</key>
			<string>335.994</string>
			<key>y1</key>
			<string>232.218</string>
			<key>x2</key>
			<string>335.994</string>
			<key>y2</key>
			<string>217.028</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{7166e65e-ecf7-4899-8763-1889ebb8383b}</key>
		<dict>
			<key>x1</key>
			<string>269.424</string>
			<key>y1</key>
			<string>247.1</string>
			<key>x2</key>
			<string>269.424</string>
			<key>y2</key>
			<string>230.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b03530c6-78b8-4bdf-aede-46b57e780e8f}</key>
		<dict>
			<key>x1</key>
			<string>203.715</string>
			<key>y1</key>
			<string>283.534</string>
			<key>x2</key>
			<string>203.715</string>
			<key>y2</key>
			<string>298.258</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{4753f7a2-22ce-480f-bbdc-a07ee2e53297}</key>
		<dict>
			<key>x1</key>
			<string>209.78</string>
			<key>y1</key>
			<string>247.1</string>
			<key>x2</key>
			<string>209.78</string>
			<key>y2</key>
			<string>230.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{6a96bba3-d44f-49a8-a34e-1ab9e128a2b7}</key>
		<dict>
			<key>x1</key>
			<string>171.333</string>
			<key>y1</key>
			<string>242.139</string>
			<key>x2</key>
			<string>171.333</string>
			<key>y2</key>
			<string>226.949</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{f4d7b354-21f1-40ad-b8b9-c6d4e635e94b}</key>
		<dict>
			<key>x1</key>
			<string>139.812</string>
			<key>y1</key>
			<string>237.179</string>
			<key>x2</key>
			<string>139.812</string>
			<key>y2</key>
			<string>224.468</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{e9e0e998-c6bd-4b10-a51c-2893b56e8a74}</key>
		<dict>
			<key>x1</key>
			<string>108.29</string>
			<key>y1</key>
			<string>242.139</string>
			<key>x2</key>
			<string>108.29</string>
			<key>y2</key>
			<string>226.949</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{b3da933a-6f5b-4868-9f79-2e738423041a}</key>
		<dict>
			<key>x1</key>
			<string>76.7688</string>
			<key>y1</key>
			<string>237.179</string>
			<key>x2</key>
			<string>76.7688</string>
			<key>y2</key>
			<string>224.468</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{e8f08c47-f4a3-4743-b95b-0b07ef39e019}</key>
		<dict>
			<key>x1</key>
			<string>455.41</string>
			<key>y1</key>
			<string>132.235</string>
			<key>x2</key>
			<string>455.41</string>
			<key>y2</key>
			<string>148.199</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{5e67d331-b7d6-4da3-bc4f-dca0817ce39f}</key>
		<dict>
			<key>x1</key>
			<string>461.654</string>
			<key>y1</key>
			<string>95.9703</string>
			<key>x2</key>
			<string>461.654</string>
			<key>y2</key>
			<string>79.3701</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{4f060623-4d00-44cb-b8f1-0b302e070edc}</key>
		<dict>
			<key>x1</key>
			<string>398.508</string>
			<key>y1</key>
			<string>93.3203</string>
			<key>x2</key>
			<string>398.508</string>
			<key>y2</key>
			<string>76.8898</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{79005392-731c-4fc5-bf2f-43b8a6ef45fc}</key>
		<dict>
			<key>x1</key>
			<string>336.402</string>
			<key>y1</key>
			<string>129.754</string>
			<key>x2</key>
			<string>336.402</string>
			<key>y2</key>
			<string>146.339</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{456193d3-bdc8-4cf9-849c-fee68f2ad355}</key>
		<dict>
			<key>x1</key>
			<string>342.467</string>
			<key>y1</key>
			<string>93.3203</string>
			<key>x2</key>
			<string>342.467</string>
			<key>y2</key>
			<string>76.8898</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{4d982fc1-fba0-4e41-83f8-398c1226695f}</key>
		<dict>
			<key>x1</key>
			<string>277.516</string>
			<key>y1</key>
			<string>98.2809</string>
			<key>x2</key>
			<string>277.516</string>
			<key>y2</key>
			<string>81.8504</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{194ac4ea-be13-4b92-b0cd-ebb2c824081d}</key>
		<dict>
			<key>x1</key>
			<string>213.426</string>
			<key>y1</key>
			<string>134.715</string>
			<key>x2</key>
			<string>213.426</string>
			<key>y2</key>
			<string>150.059</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{d173f5a1-486f-45e7-bfd4-65c5b34ccca8}</key>
		<dict>
			<key>x1</key>
			<string>219.491</string>
			<key>y1</key>
			<string>98.2809</string>
			<key>x2</key>
			<string>219.491</string>
			<key>y2</key>
			<string>81.8504</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b370f641-1677-45c2-994e-aa6c3824b1c1}</key>
		<dict>
			<key>x1</key>
			<string>181.853</string>
			<key>y1</key>
			<string>93.3203</string>
			<key>x2</key>
			<string>181.853</string>
			<key>y2</key>
			<string>79.3701</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{a5716910-3d65-46e8-9b4b-475b6ce3f704}</key>
		<dict>
			<key>x1</key>
			<string>151.141</string>
			<key>y1</key>
			<string>88.3597</string>
			<key>x2</key>
			<string>151.141</string>
			<key>y2</key>
			<string>74.4094</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{709a63f9-e90d-475f-bddc-a62090dd7da5}</key>
		<dict>
			<key>x1</key>
			<string>120.428</string>
			<key>y1</key>
			<string>93.3203</string>
			<key>x2</key>
			<string>120.428</string>
			<key>y2</key>
			<string>79.3701</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{bffb1ce4-2f71-4c53-a9b5-e0045a5d8764}</key>
		<dict>
			<key>x1</key>
			<string>89.716</string>
			<key>y1</key>
			<string>88.3597</string>
			<key>x2</key>
			<string>89.716</string>
			<key>y2</key>
			<string>74.4094</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{9166ff76-5c71-4637-9a4a-85ab273ef10a}</key>
		<dict>
			<key>x1</key>
			<string>487.965</string>
			<key>y1</key>
			<string>1009.92</string>
			<key>x2</key>
			<string>487.965</string>
			<key>y2</key>
			<string>1025.27</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{a78d014c-4161-42d5-a40f-446b31acf4de}</key>
		<dict>
			<key>x1</key>
			<string>494.21</string>
			<key>y1</key>
			<string>973.661</string>
			<key>x2</key>
			<string>494.21</string>
			<key>y2</key>
			<string>957.06</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{2947de81-c3bb-4a13-8bda-d64d615a993e}</key>
		<dict>
			<key>x1</key>
			<string>449.574</string>
			<key>y1</key>
			<string>963.57</string>
			<key>x2</key>
			<string>449.574</string>
			<key>y2</key>
			<string>947.759</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{a74de4f9-d3de-4f2c-9a1d-7bf9d6b7f3e2}</key>
		<dict>
			<key>x1</key>
			<string>405.978</string>
			<key>y1</key>
			<string>1007.44</string>
			<key>x2</key>
			<string>405.978</string>
			<key>y2</key>
			<string>1023.41</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{b9c58a33-5e5c-4a09-91a8-aa76856bca45}</key>
		<dict>
			<key>x1</key>
			<string>412.043</string>
			<key>y1</key>
			<string>963.57</string>
			<key>x2</key>
			<string>412.043</string>
			<key>y2</key>
			<string>947.759</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{f0ae4902-c9a6-4b3c-b6ff-2793b47a12cd}</key>
		<dict>
			<key>x1</key>
			<string>365.602</string>
			<key>y1</key>
			<string>975.971</string>
			<key>x2</key>
			<string>365.602</string>
			<key>y2</key>
			<string>959.541</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{a31ecaf4-ff29-4d1c-94d7-c06aeed86b40}</key>
		<dict>
			<key>x1</key>
			<string>320.021</string>
			<key>y1</key>
			<string>1012.41</string>
			<key>x2</key>
			<string>320.021</string>
			<key>y2</key>
			<string>1027.13</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{a83a98c9-e87c-4805-8a3e-12a188049385}</key>
		<dict>
			<key>x1</key>
			<string>326.086</string>
			<key>y1</key>
			<string>975.971</string>
			<key>x2</key>
			<string>326.086</string>
			<key>y2</key>
			<string>959.541</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{0dd7f75b-5fab-4171-9c97-3df86c3dba07}</key>
		<dict>
			<key>x1</key>
			<string>296.465</string>
			<key>y1</key>
			<string>971.011</string>
			<key>x2</key>
			<string>296.465</string>
			<key>y2</key>
			<string>955.82</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{c075c70d-563b-4e68-82e6-32036190eeea}</key>
		<dict>
			<key>x1</key>
			<string>273.769</string>
			<key>y1</key>
			<string>966.05</string>
			<key>x2</key>
			<string>273.769</string>
			<key>y2</key>
			<string>953.34</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{7a8ce1b0-96ac-4336-ad77-1c01943e720e}</key>
		<dict>
			<key>x1</key>
			<string>251.073</string>
			<key>y1</key>
			<string>971.011</string>
			<key>x2</key>
			<string>251.073</string>
			<key>y2</key>
			<string>955.82</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{895d31a9-b24a-497d-9c60-e6f3de7301db}</key>
		<dict>
			<key>x1</key>
			<string>228.377</string>
			<key>y1</key>
			<string>966.05</string>
			<key>x2</key>
			<string>228.377</string>
			<key>y2</key>
			<string>953.34</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{a6e7982c-43b9-4783-80ad-ca8253239318}</key>
		<dict>
			<key>x1</key>
			<string>148.095</string>
			<key>y1</key>
			<string>1007.44</string>
			<key>x2</key>
			<string>148.095</string>
			<key>y2</key>
			<string>1023.41</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{aeee18e7-a359-422e-9f99-673719489dbf}</key>
		<dict>
			<key>x1</key>
			<string>154.339</string>
			<key>y1</key>
			<string>971.18</string>
			<key>x2</key>
			<string>154.339</string>
			<key>y2</key>
			<string>954.58</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{6a7ea206-743b-44a7-947a-7ca7de0d57cd}</key>
		<dict>
			<key>x1</key>
			<string>112.091</string>
			<key>y1</key>
			<string>968.53</string>
			<key>x2</key>
			<string>112.091</string>
			<key>y2</key>
			<string>952.1</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{5994ed27-e261-42ac-881c-fcbb54824166}</key>
		<dict>
			<key>x1</key>
			<string>70.8827</string>
			<key>y1</key>
			<string>1004.96</string>
			<key>x2</key>
			<string>70.8827</string>
			<key>y2</key>
			<string>1021.55</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{de23c1bb-0ad6-4cb4-ab15-6d8ee18c0ff7}</key>
		<dict>
			<key>x1</key>
			<string>76.9478</string>
			<key>y1</key>
			<string>968.53</string>
			<key>x2</key>
			<string>76.9478</string>
			<key>y2</key>
			<string>952.1</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{263c8d8f-a1ca-4fdf-9b72-3a796a0ea47b}</key>
		<dict>
			<key>x1</key>
			<string>528.322</string>
			<key>y1</key>
			<string>827.152</string>
			<key>x2</key>
			<string>528.322</string>
			<key>y2</key>
			<string>810.722</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ed72bc25-c4e5-4472-80b5-82a5f8d0eb6b}</key>
		<dict>
			<key>x1</key>
			<string>484.613</string>
			<key>y1</key>
			<string>863.586</string>
			<key>x2</key>
			<string>484.613</string>
			<key>y2</key>
			<string>878.93</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{12797e51-7a59-4ce0-81e3-40f55ac4f288}</key>
		<dict>
			<key>x1</key>
			<string>490.678</string>
			<key>y1</key>
			<string>827.152</string>
			<key>x2</key>
			<string>490.678</string>
			<key>y2</key>
			<string>810.722</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f95a3182-3a57-40d9-aa56-e05483b07838}</key>
		<dict>
			<key>x1</key>
			<string>461.992</string>
			<key>y1</key>
			<string>822.192</string>
			<key>x2</key>
			<string>461.992</string>
			<key>y2</key>
			<string>808.241</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{92f7716f-8ae3-4c7a-aa8b-2d43f0f64768}</key>
		<dict>
			<key>x1</key>
			<string>440.232</string>
			<key>y1</key>
			<string>817.231</string>
			<key>x2</key>
			<string>440.232</string>
			<key>y2</key>
			<string>803.281</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{5db05d40-b462-4204-8c79-7d6824a4a02c}</key>
		<dict>
			<key>x1</key>
			<string>418.472</string>
			<key>y1</key>
			<string>822.192</string>
			<key>x2</key>
			<string>418.472</string>
			<key>y2</key>
			<string>808.241</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{e163c70a-41c9-4d9c-9479-c9414a035047}</key>
		<dict>
			<key>x1</key>
			<string>396.712</string>
			<key>y1</key>
			<string>817.231</string>
			<key>x2</key>
			<string>396.712</string>
			<key>y2</key>
			<string>803.281</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{576d1cde-d814-4438-8b22-36890b9e0eae}</key>
		<dict>
			<key>x1</key>
			<string>320.173</string>
			<key>y1</key>
			<string>863.586</string>
			<key>x2</key>
			<string>320.173</string>
			<key>y2</key>
			<string>878.93</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{1c4452a4-2f84-47ee-aab1-40473091a405}</key>
		<dict>
			<key>x1</key>
			<string>326.417</string>
			<key>y1</key>
			<string>817.401</string>
			<key>x2</key>
			<string>326.417</string>
			<key>y2</key>
			<string>801.421</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{6df363a5-cc1b-42b3-81fc-252166725ec7}</key>
		<dict>
			<key>x1</key>
			<string>283.653</string>
			<key>y1</key>
			<string>814.751</string>
			<key>x2</key>
			<string>283.653</string>
			<key>y2</key>
			<string>799.56</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{5d428571-fdd6-48c0-8dfc-d63fc09ac300}</key>
		<dict>
			<key>x1</key>
			<string>241.928</string>
			<key>y1</key>
			<string>861.106</string>
			<key>x2</key>
			<string>241.928</string>
			<key>y2</key>
			<string>877.07</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{2a854c86-c5c1-444f-baf0-a52181f622a0}</key>
		<dict>
			<key>x1</key>
			<string>247.994</string>
			<key>y1</key>
			<string>814.751</string>
			<key>x2</key>
			<string>247.994</string>
			<key>y2</key>
			<string>799.56</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{79a16977-9fe2-45bf-accd-6e93db4dc589}</key>
		<dict>
			<key>x1</key>
			<string>203.424</string>
			<key>y1</key>
			<string>829.633</string>
			<key>x2</key>
			<string>203.424</string>
			<key>y2</key>
			<string>813.202</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{754db4f3-94ea-4c39-b983-85804c74b775}</key>
		<dict>
			<key>x1</key>
			<string>159.715</string>
			<key>y1</key>
			<string>866.066</string>
			<key>x2</key>
			<string>159.715</string>
			<key>y2</key>
			<string>880.791</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{24c5a2e6-92f0-4704-9e47-00c53a6e08ea}</key>
		<dict>
			<key>x1</key>
			<string>165.78</string>
			<key>y1</key>
			<string>829.633</string>
			<key>x2</key>
			<string>165.78</string>
			<key>y2</key>
			<string>813.202</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9a55f2d4-e9df-4360-ac5d-b9968b8bcdae}</key>
		<dict>
			<key>x1</key>
			<string>138.333</string>
			<key>y1</key>
			<string>824.672</string>
			<key>x2</key>
			<string>138.333</string>
			<key>y2</key>
			<string>809.482</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{afa234a0-c76f-4cd2-ac75-cbda4c767c26}</key>
		<dict>
			<key>x1</key>
			<string>117.812</string>
			<key>y1</key>
			<string>819.711</string>
			<key>x2</key>
			<string>117.812</string>
			<key>y2</key>
			<string>807.001</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{cbe2fb86-c961-495e-928d-edd3d567d675}</key>
		<dict>
			<key>x1</key>
			<string>97.2903</string>
			<key>y1</key>
			<string>824.672</string>
			<key>x2</key>
			<string>97.2903</string>
			<key>y2</key>
			<string>809.482</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{9905550a-123f-4255-8347-8e23353444d8}</key>
		<dict>
			<key>x1</key>
			<string>76.7688</string>
			<key>y1</key>
			<string>819.711</string>
			<key>x2</key>
			<string>76.7688</string>
			<key>y2</key>
			<string>807.001</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{5fb4d28f-18cc-4325-bbe0-007a2c1db7d4}</key>
		<dict>
			<key>x1</key>
			<string>490.634</string>
			<key>y1</key>
			<string>714.767</string>
			<key>x2</key>
			<string>490.634</string>
			<key>y2</key>
			<string>730.732</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{8398318f-aa4a-40ea-9a95-a8c698a3b779}</key>
		<dict>
			<key>x1</key>
			<string>496.879</string>
			<key>y1</key>
			<string>678.503</string>
			<key>x2</key>
			<string>496.879</string>
			<key>y2</key>
			<string>661.903</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{2398e8ce-f185-4803-a6e8-770899791c19}</key>
		<dict>
			<key>x1</key>
			<string>451.345</string>
			<key>y1</key>
			<string>675.853</string>
			<key>x2</key>
			<string>451.345</string>
			<key>y2</key>
			<string>659.423</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d97eb76d-0f42-4d63-9961-78fc81b48bac}</key>
		<dict>
			<key>x1</key>
			<string>406.851</string>
			<key>y1</key>
			<string>712.287</string>
			<key>x2</key>
			<string>406.851</string>
			<key>y2</key>
			<string>728.871</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{fc9234c6-d527-4a93-9f17-0a565aa23987}</key>
		<dict>
			<key>x1</key>
			<string>412.916</string>
			<key>y1</key>
			<string>675.853</string>
			<key>x2</key>
			<string>412.916</string>
			<key>y2</key>
			<string>659.423</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{205b736c-1ff1-4f89-8416-cebdcba172a4}</key>
		<dict>
			<key>x1</key>
			<string>365.577</string>
			<key>y1</key>
			<string>680.814</string>
			<key>x2</key>
			<string>365.577</string>
			<key>y2</key>
			<string>664.383</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{83ac25b7-84e5-45ce-9bc5-1d361ecea024}</key>
		<dict>
			<key>x1</key>
			<string>319.099</string>
			<key>y1</key>
			<string>717.248</string>
			<key>x2</key>
			<string>319.099</string>
			<key>y2</key>
			<string>732.592</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{721ede4c-4370-4633-92e0-5b981df13d7e}</key>
		<dict>
			<key>x1</key>
			<string>325.164</string>
			<key>y1</key>
			<string>680.814</string>
			<key>x2</key>
			<string>325.164</string>
			<key>y2</key>
			<string>664.383</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{d9bd82f2-ac88-4c2d-b7db-ea2ae60e7888}</key>
		<dict>
			<key>x1</key>
			<string>295.094</string>
			<key>y1</key>
			<string>675.853</string>
			<key>x2</key>
			<string>295.094</string>
			<key>y2</key>
			<string>661.903</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{2145c8f3-e10b-4820-8f2a-cb908456c31d}</key>
		<dict>
			<key>x1</key>
			<string>271.949</string>
			<key>y1</key>
			<string>670.892</string>
			<key>x2</key>
			<string>271.949</string>
			<key>y2</key>
			<string>656.942</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{e9416a44-30ae-4b28-a9ac-0d76d34c4f6f}</key>
		<dict>
			<key>x1</key>
			<string>248.804</string>
			<key>y1</key>
			<string>675.853</string>
			<key>x2</key>
			<string>248.804</string>
			<key>y2</key>
			<string>661.903</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{38b8f05d-d507-4650-bf9a-f7bd695cdc65}</key>
		<dict>
			<key>x1</key>
			<string>225.659</string>
			<key>y1</key>
			<string>670.892</string>
			<key>x2</key>
			<string>225.659</string>
			<key>y2</key>
			<string>656.942</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
	</dict>
</dict>
</plist>