<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributes</key>
	<dict>
		<key>time</key>
		<dict>
			<key>beats</key>
			<string>2</string>
			<key>per_minute</key>
			<string>80</string>
			<key>beat_type</key>
			<string>4</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{7bfeb352-e253-407a-a3be-c8fa9d9935c0}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>5</string>
		</dict>
		<key>{769845e2-b0c3-4b5d-bb3a-fa72788dd505}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>3</string>
		</dict>
		<key>{a575d95d-7836-46fb-a67d-0f5f0db64c7f}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{36c26efd-47d6-4b9d-9284-475914df460e}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{c0205328-02d3-4ab4-9a84-650cfe5fcdad}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>1</string>
		</dict>
		<key>{97b3a114-a40a-4475-980f-3a92825ebe22}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>3</string>
		</dict>
		<key>{cc87f23b-855c-4092-9202-96b3f635acab}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{db9df1f7-d22d-4636-a89e-b2a572bc3f82}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>3</string>
		</dict>
		<key>{3db88c8a-eb24-440d-96f0-5f8e49d92ddb}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>1</string>
		</dict>
		<key>{c018ce90-31f5-405d-97c2-8cf7a31337fe}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{f3f7175e-f8bb-469d-96f2-af79988638aa}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>2</string>
		</dict>
		<key>{2ea31fc7-0743-44ef-8975-27fceb260ec2}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>2</string>
		</dict>
		<key>{683ee10d-7f9c-443c-ac0f-0e910f440ad0}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>4</string>
		</dict>
		<key>{1a8a7333-f0a4-4e28-99ef-03a43ab83d1d}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>2</string>
		</dict>
		<key>{0f884e79-a2a6-4caf-b16b-5344c40491c5}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{0c8c0baa-e3ea-48ae-a60e-a34f14e66365}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{3a2ecf74-df18-4e63-b717-506f28041bce}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>1</string>
		</dict>
		<key>{e8a8dbd4-b525-4ca9-b66b-70f42becc72a}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>4</string>
		</dict>
		<key>{c6b949e1-c3b7-4bf6-b7b7-c966ef2ab399}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{e2b03992-c46a-4d33-8299-68250477a3f9}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>5</string>
		</dict>
		<key>{35f0bf81-0e11-4a65-9863-6b2260afd2ba}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>2</string>
		</dict>
		<key>{92b1b561-ffdf-472b-b159-4737493b3c0b}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>A</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{c9c292e5-636f-4a0d-b512-ffbcd43ff79c}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>4</string>
		</dict>
		<key>{18a0ad72-82c3-4dba-a0af-86609a5f4e5e}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>3</string>
		</dict>
		<key>{34e43a40-714d-4db4-b1af-510c4c48e2a9}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>5</string>
		</dict>
		<key>{e1f6cdb5-8710-4b4a-aa10-e9ad2ff0d009}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>3</string>
		</dict>
		<key>{1e20fcaf-6a88-48e8-bbd4-bd96241bbe90}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{f7a923c5-6f87-4099-8775-7fea44f99888}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{691e7ecf-6101-4656-9925-267573f1190a}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>1</string>
		</dict>
		<key>{58424920-256e-458a-bdac-ea5d57a387a3}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>3</string>
		</dict>
		<key>{08d1c678-d34d-4bd7-80c9-324380c08b21}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{4f687b3b-2143-4ca6-b75a-d533ec34c5b7}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>3</string>
		</dict>
		<key>{23739a24-496d-4c80-8d4d-2ccc9898bc30}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>1</string>
		</dict>
		<key>{04178ea7-acb5-4da1-b603-8e9a44b87b08}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{7fed62f3-e110-4a06-942d-4c9f2e4cb60e}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>2</string>
		</dict>
		<key>{61ac298a-02df-4d20-a0fa-be45747ddf73}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>2</string>
		</dict>
		<key>{06808f88-b1f8-402b-aa15-bf73250babca}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>4</string>
		</dict>
		<key>{65e58d4a-8a3f-474f-8029-b4e201a87ac2}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>2</string>
		</dict>
		<key>{e8076212-2f52-4fa4-a336-0e679b3062e7}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{1d6ee21e-c871-462d-8b0c-c7dc1c42ad87}</key>
		<dict>
			<key>type</key>
			<string>eighth</string>
			<key>duration</key>
			<string>0.25</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{e14d60cd-cb18-42a0-bccb-233bbe72fe61}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>1</string>
		</dict>
		<key>{7f6c92a9-784e-4721-bd73-8b41b5d9d499}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>D</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>4</string>
		</dict>
		<key>{3ded4440-1e7c-48d6-a6ef-5e8bd50ddb20}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>B</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{b3be053d-20d0-4d6e-91ad-060158e31082}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>5</string>
		</dict>
		<key>{50512153-d1a7-4bc8-a583-a777507e5a09}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>F</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>2</string>
		</dict>
		<key>{9727dae4-8ed1-475c-87e1-f334b57986f4}</key>
		<dict>
			<key>type</key>
			<string>quarter</string>
			<key>duration</key>
			<string>0.5</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>G</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
		</dict>
		<key>{6e983061-1da2-462c-9d72-be503fdb519e}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>C</string>
			<key>octave</key>
			<string>4</string>
			<key>staff</key>
			<string>1</string>
			<key>hand</key>
			<string>1</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>1</string>
		</dict>
		<key>{304634bc-7cce-4871-b87e-551a834e593b}</key>
		<dict>
			<key>type</key>
			<string>half</string>
			<key>duration</key>
			<string>1</string>
			<key>dynamics</key>
			<string>70.0</string>
			<key>step</key>
			<string>E</string>
			<key>octave</key>
			<string>3</string>
			<key>staff</key>
			<string>2</string>
			<key>hand</key>
			<string>2</string>
			<key>isgrace</key>
			<string>0</string>
			<key>voice</key>
			<string>1</string>
			<key>fingering</key>
			<string>3</string>
		</dict>
	</dict>
	<key>events</key>
	<dict>
		<key>0</key>
		<dict>
			<key>elid</key>
			<string>0</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>0</string>
			<key>notes</key>
			<string>{7bfeb352-e253-407a-a3be-c8fa9d9935c0}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>1</key>
		<dict>
			<key>elid</key>
			<string>1</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>250</string>
			<key>notes</key>
			<string>{769845e2-b0c3-4b5d-bb3a-fa72788dd505}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>2</key>
		<dict>
			<key>elid</key>
			<string>2</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>500</string>
			<key>notes</key>
			<string>{a575d95d-7836-46fb-a67d-0f5f0db64c7f}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>3</key>
		<dict>
			<key>elid</key>
			<string>3</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>750</string>
			<key>notes</key>
			<string>{36c26efd-47d6-4b9d-9284-475914df460e}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>4</key>
		<dict>
			<key>elid</key>
			<string>4</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>1000</string>
			<key>notes</key>
			<string>{c0205328-02d3-4ab4-9a84-650cfe5fcdad} {97b3a114-a40a-4475-980f-3a92825ebe22}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>5</key>
		<dict>
			<key>elid</key>
			<string>5</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>1500</string>
			<key>notes</key>
			<string>{cc87f23b-855c-4092-9202-96b3f635acab}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>6</key>
		<dict>
			<key>elid</key>
			<string>6</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>2000</string>
			<key>notes</key>
			<string>{db9df1f7-d22d-4636-a89e-b2a572bc3f82} {3db88c8a-eb24-440d-96f0-5f8e49d92ddb}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>7</key>
		<dict>
			<key>elid</key>
			<string>7</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>2500</string>
			<key>notes</key>
			<string>{c018ce90-31f5-405d-97c2-8cf7a31337fe}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>8</key>
		<dict>
			<key>elid</key>
			<string>8</string>
			<key>sysno</key>
			<string>1</string>
			<key>position</key>
			<string>3000</string>
			<key>notes</key>
			<string>{f3f7175e-f8bb-469d-96f2-af79988638aa} {2ea31fc7-0743-44ef-8975-27fceb260ec2}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>9</key>
		<dict>
			<key>elid</key>
			<string>9</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>4000</string>
			<key>notes</key>
			<string>{683ee10d-7f9c-443c-ac0f-0e910f440ad0}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>10</key>
		<dict>
			<key>elid</key>
			<string>10</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>4250</string>
			<key>notes</key>
			<string>{1a8a7333-f0a4-4e28-99ef-03a43ab83d1d}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>11</key>
		<dict>
			<key>elid</key>
			<string>11</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>4500</string>
			<key>notes</key>
			<string>{0f884e79-a2a6-4caf-b16b-5344c40491c5}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>12</key>
		<dict>
			<key>elid</key>
			<string>12</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>4750</string>
			<key>notes</key>
			<string>{0c8c0baa-e3ea-48ae-a60e-a34f14e66365}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>13</key>
		<dict>
			<key>elid</key>
			<string>13</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>5000</string>
			<key>notes</key>
			<string>{3a2ecf74-df18-4e63-b717-506f28041bce} {e8a8dbd4-b525-4ca9-b66b-70f42becc72a}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>14</key>
		<dict>
			<key>elid</key>
			<string>14</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>5500</string>
			<key>notes</key>
			<string>{c6b949e1-c3b7-4bf6-b7b7-c966ef2ab399}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>15</key>
		<dict>
			<key>elid</key>
			<string>15</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>6000</string>
			<key>notes</key>
			<string>{e2b03992-c46a-4d33-8299-68250477a3f9} {35f0bf81-0e11-4a65-9863-6b2260afd2ba}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>16</key>
		<dict>
			<key>elid</key>
			<string>16</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>6500</string>
			<key>notes</key>
			<string>{92b1b561-ffdf-472b-b159-4737493b3c0b}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>17</key>
		<dict>
			<key>elid</key>
			<string>17</string>
			<key>sysno</key>
			<string>2</string>
			<key>position</key>
			<string>7000</string>
			<key>notes</key>
			<string>{c9c292e5-636f-4a0d-b512-ffbcd43ff79c} {18a0ad72-82c3-4dba-a0af-86609a5f4e5e}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>18</key>
		<dict>
			<key>elid</key>
			<string>18</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>8000</string>
			<key>notes</key>
			<string>{34e43a40-714d-4db4-b1af-510c4c48e2a9}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>19</key>
		<dict>
			<key>elid</key>
			<string>19</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>8250</string>
			<key>notes</key>
			<string>{e1f6cdb5-8710-4b4a-aa10-e9ad2ff0d009}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>20</key>
		<dict>
			<key>elid</key>
			<string>20</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>8500</string>
			<key>notes</key>
			<string>{1e20fcaf-6a88-48e8-bbd4-bd96241bbe90}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>21</key>
		<dict>
			<key>elid</key>
			<string>21</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>8750</string>
			<key>notes</key>
			<string>{f7a923c5-6f87-4099-8775-7fea44f99888}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>22</key>
		<dict>
			<key>elid</key>
			<string>22</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>9000</string>
			<key>notes</key>
			<string>{691e7ecf-6101-4656-9925-267573f1190a} {58424920-256e-458a-bdac-ea5d57a387a3}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>23</key>
		<dict>
			<key>elid</key>
			<string>23</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>9500</string>
			<key>notes</key>
			<string>{08d1c678-d34d-4bd7-80c9-324380c08b21}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>24</key>
		<dict>
			<key>elid</key>
			<string>24</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>10000</string>
			<key>notes</key>
			<string>{4f687b3b-2143-4ca6-b75a-d533ec34c5b7} {23739a24-496d-4c80-8d4d-2ccc9898bc30}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>25</key>
		<dict>
			<key>elid</key>
			<string>25</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>10500</string>
			<key>notes</key>
			<string>{04178ea7-acb5-4da1-b603-8e9a44b87b08}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>26</key>
		<dict>
			<key>elid</key>
			<string>26</string>
			<key>sysno</key>
			<string>3</string>
			<key>position</key>
			<string>11000</string>
			<key>notes</key>
			<string>{7fed62f3-e110-4a06-942d-4c9f2e4cb60e} {61ac298a-02df-4d20-a0fa-be45747ddf73}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>27</key>
		<dict>
			<key>elid</key>
			<string>27</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>12000</string>
			<key>notes</key>
			<string>{06808f88-b1f8-402b-aa15-bf73250babca}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>28</key>
		<dict>
			<key>elid</key>
			<string>28</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>12250</string>
			<key>notes</key>
			<string>{65e58d4a-8a3f-474f-8029-b4e201a87ac2}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>29</key>
		<dict>
			<key>elid</key>
			<string>29</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>12500</string>
			<key>notes</key>
			<string>{e8076212-2f52-4fa4-a336-0e679b3062e7}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>30</key>
		<dict>
			<key>elid</key>
			<string>30</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>12750</string>
			<key>notes</key>
			<string>{1d6ee21e-c871-462d-8b0c-c7dc1c42ad87}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>31</key>
		<dict>
			<key>elid</key>
			<string>31</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>13000</string>
			<key>notes</key>
			<string>{e14d60cd-cb18-42a0-bccb-233bbe72fe61} {7f6c92a9-784e-4721-bd73-8b41b5d9d499}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>32</key>
		<dict>
			<key>elid</key>
			<string>32</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>13500</string>
			<key>notes</key>
			<string>{3ded4440-1e7c-48d6-a6ef-5e8bd50ddb20}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>33</key>
		<dict>
			<key>elid</key>
			<string>33</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>14000</string>
			<key>notes</key>
			<string>{b3be053d-20d0-4d6e-91ad-060158e31082} {50512153-d1a7-4bc8-a583-a777507e5a09}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>34</key>
		<dict>
			<key>elid</key>
			<string>34</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>14500</string>
			<key>notes</key>
			<string>{9727dae4-8ed1-475c-87e1-f334b57986f4}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
		<key>35</key>
		<dict>
			<key>elid</key>
			<string>35</string>
			<key>sysno</key>
			<string>4</string>
			<key>position</key>
			<string>15000</string>
			<key>notes</key>
			<string>{6e983061-1da2-462c-9d72-be503fdb519e} {304634bc-7cce-4871-b87e-551a834e593b}</string>
			<key>tempo</key>
			<string>120</string>
			<key>tempo_interval</key>
			<string>500</string>
		</dict>
	</dict>
	<key>metronomes</key>
	<dict>
		<key>0</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>1000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>1500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>2000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>2500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>3000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>3500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>4000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>4500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>5000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>5500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>6000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>6500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>7000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>7500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>8000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>8500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>9000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>9500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>10000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>10500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>11000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>11500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>12000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>12500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>13000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>13500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>14000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>14500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
		<key>15000</key>
		<dict>
			<key>type</key>
			<string>3</string>
		</dict>
		<key>15500</key>
		<dict>
			<key>type</key>
			<string>4</string>
		</dict>
	</dict>
</dict>
</plist>