<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>45.1417</string>
			<key>y</key>
			<string>74.4094</string>
			<key>bx</key>
			<string>45.1417</string>
			<key>by</key>
			<string>109.989</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>45.1417</string>
			<key>y</key>
			<string>220.748</string>
			<key>bx</key>
			<string>45.1417</string>
			<key>by</key>
			<string>256.328</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>45.1417</string>
			<key>y</key>
			<string>367.087</string>
			<key>bx</key>
			<string>45.1417</string>
			<key>by</key>
			<string>402.666</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>45.1417</string>
			<key>y</key>
			<string>513.425</string>
			<key>bx</key>
			<string>45.1417</string>
			<key>by</key>
			<string>549.005</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>45.1417</string>
			<key>y</key>
			<string>659.764</string>
			<key>bx</key>
			<string>45.1417</string>
			<key>by</key>
			<string>695.343</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>6</key>
		<dict>
			<key>x</key>
			<string>45.1417</string>
			<key>y</key>
			<string>803.281</string>
			<key>bx</key>
			<string>45.1417</string>
			<key>by</key>
			<string>838.86</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>7</key>
		<dict>
			<key>x</key>
			<string>45.1417</string>
			<key>y</key>
			<string>949.619</string>
			<key>bx</key>
			<string>45.1417</string>
			<key>by</key>
			<string>985.199</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>8</key>
		<dict>
			<key>x</key>
			<string>45.1417</string>
			<key>y</key>
			<string>1095.96</string>
			<key>bx</key>
			<string>45.1417</string>
			<key>by</key>
			<string>1131.54</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{3781992e-df3b-47ec-8118-947a26fdceac}</key>
		<dict>
			<key>x</key>
			<string>451.851</string>
			<key>y</key>
			<string>719.291</string>
		</dict>
		<key>{dcc89977-64f3-48f4-acfd-4b6281a9c368}</key>
		<dict>
			<key>x</key>
			<string>451.851</string>
			<key>y</key>
			<string>684.567</string>
		</dict>
		<key>{33829b06-6007-439e-ba4d-150122b8a08f}</key>
		<dict>
			<key>x</key>
			<string>387.445</string>
			<key>y</key>
			<string>674.646</string>
		</dict>
		<key>{6b903fca-343f-49fb-9eaf-b5748a23a03f}</key>
		<dict>
			<key>x</key>
			<string>329.606</string>
			<key>y</key>
			<string>716.811</string>
		</dict>
		<key>{3940b0c1-1b64-4212-a4d6-52396e1d40de}</key>
		<dict>
			<key>x</key>
			<string>329.785</string>
			<key>y</key>
			<string>674.646</string>
		</dict>
		<key>{bb2b6c77-20e0-4a1e-a79e-baf927a65fb7}</key>
		<dict>
			<key>x</key>
			<string>263.216</string>
			<key>y</key>
			<string>687.047</string>
		</dict>
		<key>{37d410b3-7064-490d-960f-6b8ac226b93c}</key>
		<dict>
			<key>x</key>
			<string>203.393</string>
			<key>y</key>
			<string>721.772</string>
		</dict>
		<key>{a901df57-9648-4418-9ea4-c97c99a2e872}</key>
		<dict>
			<key>x</key>
			<string>203.572</string>
			<key>y</key>
			<string>687.047</string>
		</dict>
		<key>{bf9ceace-4728-40bb-82a5-2cc3cf346145}</key>
		<dict>
			<key>x</key>
			<string>165.125</string>
			<key>y</key>
			<string>682.087</string>
		</dict>
		<key>{0a5a8e98-9bb0-4ece-bcd0-36f2cc761a5c}</key>
		<dict>
			<key>x</key>
			<string>133.603</string>
			<key>y</key>
			<string>677.126</string>
		</dict>
		<key>{49ca247e-422c-4d03-9e6c-d252ebcbb10c}</key>
		<dict>
			<key>x</key>
			<string>102.082</string>
			<key>y</key>
			<string>682.087</string>
		</dict>
		<key>{a531fc05-e7fc-49df-8f0d-d69147189301}</key>
		<dict>
			<key>x</key>
			<string>70.5603</string>
			<key>y</key>
			<string>677.126</string>
		</dict>
		<key>{d6106fe4-2971-4d61-a87d-0cd22e39a0b0}</key>
		<dict>
			<key>x</key>
			<string>451.851</string>
			<key>y</key>
			<string>570.472</string>
		</dict>
		<key>{fe2b8cd1-0f1d-4101-99d4-26a8cd14a22a}</key>
		<dict>
			<key>x</key>
			<string>451.851</string>
			<key>y</key>
			<string>535.748</string>
		</dict>
		<key>{dacc3628-2339-4152-ab44-340196d0b487}</key>
		<dict>
			<key>x</key>
			<string>387.445</string>
			<key>y</key>
			<string>533.268</string>
		</dict>
		<key>{eff3de63-2272-45ee-9cbc-ebfe1f83ec6f}</key>
		<dict>
			<key>x</key>
			<string>329.606</string>
			<key>y</key>
			<string>567.992</string>
		</dict>
		<key>{daf9d6f0-c424-4392-9baa-08f061c5303a}</key>
		<dict>
			<key>x</key>
			<string>329.785</string>
			<key>y</key>
			<string>533.268</string>
		</dict>
		<key>{4ce19f8a-71a4-4bcd-9482-01d8d88d419e}</key>
		<dict>
			<key>x</key>
			<string>263.216</string>
			<key>y</key>
			<string>538.228</string>
		</dict>
		<key>{2aa13ed3-6f78-4602-bd73-6d557860a40e}</key>
		<dict>
			<key>x</key>
			<string>203.393</string>
			<key>y</key>
			<string>572.953</string>
		</dict>
		<key>{bc3d6a0d-8b10-43fd-a078-cc947b621dd1}</key>
		<dict>
			<key>x</key>
			<string>203.572</string>
			<key>y</key>
			<string>538.228</string>
		</dict>
		<key>{9f50e0e1-e036-4e0d-9fe2-5166e4a4965f}</key>
		<dict>
			<key>x</key>
			<string>165.125</string>
			<key>y</key>
			<string>533.268</string>
		</dict>
		<key>{78f55c29-3054-4f0a-848f-be743a936af0}</key>
		<dict>
			<key>x</key>
			<string>133.603</string>
			<key>y</key>
			<string>528.307</string>
		</dict>
		<key>{125be2d5-bf3d-48a5-a96a-12c09f81f4d1}</key>
		<dict>
			<key>x</key>
			<string>102.082</string>
			<key>y</key>
			<string>533.268</string>
		</dict>
		<key>{346e1d4d-534b-41b1-abb3-e5041e7a2352}</key>
		<dict>
			<key>x</key>
			<string>70.5603</string>
			<key>y</key>
			<string>528.307</string>
		</dict>
		<key>{27c2c15b-8928-4eda-a65c-cdb8605ee700}</key>
		<dict>
			<key>x</key>
			<string>451.851</string>
			<key>y</key>
			<string>426.614</string>
		</dict>
		<key>{fe8514d0-2ac6-4eb7-ade9-060b6db9d369}</key>
		<dict>
			<key>x</key>
			<string>451.851</string>
			<key>y</key>
			<string>381.968</string>
		</dict>
		<key>{2470a1c5-e870-4b34-9e09-9dabb3d91770}</key>
		<dict>
			<key>x</key>
			<string>387.445</string>
			<key>y</key>
			<string>379.488</string>
		</dict>
		<key>{3de2b165-5d17-42c9-868f-117cd7bffcf7}</key>
		<dict>
			<key>x</key>
			<string>329.606</string>
			<key>y</key>
			<string>424.134</string>
		</dict>
		<key>{7cbbb156-79c5-4e1a-a6c9-52392887fd9e}</key>
		<dict>
			<key>x</key>
			<string>329.785</string>
			<key>y</key>
			<string>379.488</string>
		</dict>
		<key>{d87be7b6-5dcf-48b0-b015-9a82ce270aae}</key>
		<dict>
			<key>x</key>
			<string>263.216</string>
			<key>y</key>
			<string>394.37</string>
		</dict>
		<key>{bb38305d-5289-47e8-bcd1-2930e951c6bb}</key>
		<dict>
			<key>x</key>
			<string>203.393</string>
			<key>y</key>
			<string>429.094</string>
		</dict>
		<key>{f22b677d-7473-4888-8b0e-cb2ea1f13078}</key>
		<dict>
			<key>x</key>
			<string>203.572</string>
			<key>y</key>
			<string>394.37</string>
		</dict>
		<key>{6922beb3-6d05-44fc-b437-db8ed2555227}</key>
		<dict>
			<key>x</key>
			<string>165.125</string>
			<key>y</key>
			<string>389.409</string>
		</dict>
		<key>{fd147665-4df0-44f3-8276-79d3f74a7399}</key>
		<dict>
			<key>x</key>
			<string>133.603</string>
			<key>y</key>
			<string>384.449</string>
		</dict>
		<key>{48cd9720-cc7e-48cc-927c-e991a7b1b1bd}</key>
		<dict>
			<key>x</key>
			<string>102.082</string>
			<key>y</key>
			<string>389.409</string>
		</dict>
		<key>{92d86b78-d12c-454b-958a-3c9bdf175be5}</key>
		<dict>
			<key>x</key>
			<string>70.5603</string>
			<key>y</key>
			<string>384.449</string>
		</dict>
		<key>{98c276eb-34dd-4e0b-b6b9-0396bd8e024f}</key>
		<dict>
			<key>x</key>
			<string>490.312</string>
			<key>y</key>
			<string>277.795</string>
		</dict>
		<key>{c11fa23d-ae7a-41f0-97cb-c86eaac6bde9}</key>
		<dict>
			<key>x</key>
			<string>490.312</string>
			<key>y</key>
			<string>243.071</string>
		</dict>
		<key>{4ab382a4-341b-4141-b578-553092792427}</key>
		<dict>
			<key>x</key>
			<string>445.136</string>
			<key>y</key>
			<string>240.591</string>
		</dict>
		<key>{02d3b0ba-e406-4f10-a151-aea9f8c1944b}</key>
		<dict>
			<key>x</key>
			<string>406.528</string>
			<key>y</key>
			<string>275.315</string>
		</dict>
		<key>{01ab5940-83d3-415b-b5d1-495dc724c03f}</key>
		<dict>
			<key>x</key>
			<string>406.707</string>
			<key>y</key>
			<string>240.591</string>
		</dict>
		<key>{3c30a02d-650d-4a52-8e51-5d91c5a9ab62}</key>
		<dict>
			<key>x</key>
			<string>359.369</string>
			<key>y</key>
			<string>245.551</string>
		</dict>
		<key>{7384ad20-3530-4205-8b39-12440ef14a41}</key>
		<dict>
			<key>x</key>
			<string>318.776</string>
			<key>y</key>
			<string>280.276</string>
		</dict>
		<key>{9c5c1030-4b2c-4a36-ad95-96a541d6b650}</key>
		<dict>
			<key>x</key>
			<string>318.955</string>
			<key>y</key>
			<string>245.551</string>
		</dict>
		<key>{cbe5b6d5-477b-42a3-bb8e-99b1908f043d}</key>
		<dict>
			<key>x</key>
			<string>288.885</string>
			<key>y</key>
			<string>240.591</string>
		</dict>
		<key>{c3a01d2c-987f-413b-98a3-5a0b22be023a}</key>
		<dict>
			<key>x</key>
			<string>265.74</string>
			<key>y</key>
			<string>235.63</string>
		</dict>
		<key>{235fd401-3c41-440a-8cad-f546a97dae72}</key>
		<dict>
			<key>x</key>
			<string>242.595</string>
			<key>y</key>
			<string>240.591</string>
		</dict>
		<key>{24b1290c-973c-4153-bd79-265b7c5957ae}</key>
		<dict>
			<key>x</key>
			<string>219.451</string>
			<key>y</key>
			<string>235.63</string>
		</dict>
		<key>{8172db58-7199-40d8-8491-df8cde059cdf}</key>
		<dict>
			<key>x</key>
			<string>487.643</string>
			<key>y</key>
			<string>1155.49</string>
		</dict>
		<key>{adbbe6a9-795d-4b6b-a413-79c1456cc2cb}</key>
		<dict>
			<key>x</key>
			<string>487.643</string>
			<key>y</key>
			<string>1120.76</string>
		</dict>
		<key>{7d15089c-4fea-448b-9f8d-8fec450b1f5a}</key>
		<dict>
			<key>x</key>
			<string>443.365</string>
			<key>y</key>
			<string>1110.84</string>
		</dict>
		<key>{c2a68f0f-2ddb-4b9b-aada-a2645daf060f}</key>
		<dict>
			<key>x</key>
			<string>405.655</string>
			<key>y</key>
			<string>1153.01</string>
		</dict>
		<key>{7e78889e-48af-4d26-b2b8-3d8ec9754a86}</key>
		<dict>
			<key>x</key>
			<string>405.834</string>
			<key>y</key>
			<string>1110.84</string>
		</dict>
		<key>{adaf6e27-8267-4215-b0af-72b8c940f273}</key>
		<dict>
			<key>x</key>
			<string>359.393</string>
			<key>y</key>
			<string>1123.24</string>
		</dict>
		<key>{7e921c62-e903-496e-ae18-efc8c6d08656}</key>
		<dict>
			<key>x</key>
			<string>319.699</string>
			<key>y</key>
			<string>1157.97</string>
		</dict>
		<key>{82675091-4e12-414e-8064-1e2a590eff6e}</key>
		<dict>
			<key>x</key>
			<string>319.878</string>
			<key>y</key>
			<string>1123.24</string>
		</dict>
		<key>{4fdf4a72-b024-4ce5-ae68-c1fa6f95eec3}</key>
		<dict>
			<key>x</key>
			<string>290.256</string>
			<key>y</key>
			<string>1118.28</string>
		</dict>
		<key>{ce2b9480-75f2-4f92-834f-62c7b7145847}</key>
		<dict>
			<key>x</key>
			<string>267.56</string>
			<key>y</key>
			<string>1113.32</string>
		</dict>
		<key>{ab2e3d62-bc34-4b98-869d-f97fb7366a26}</key>
		<dict>
			<key>x</key>
			<string>244.865</string>
			<key>y</key>
			<string>1118.28</string>
		</dict>
		<key>{4c65dbd5-8d00-4b4e-a6f6-36fea3263616}</key>
		<dict>
			<key>x</key>
			<string>222.169</string>
			<key>y</key>
			<string>1113.32</string>
		</dict>
		<key>{04103d4e-9f9c-4a4e-aad9-486c23573073}</key>
		<dict>
			<key>x</key>
			<string>147.773</string>
			<key>y</key>
			<string>1153.01</string>
		</dict>
		<key>{f48051dc-45f6-460b-b4e8-ec8fcda9dbb3}</key>
		<dict>
			<key>x</key>
			<string>147.773</string>
			<key>y</key>
			<string>1118.28</string>
		</dict>
		<key>{01844b26-5188-480d-b3db-06d454afcb86}</key>
		<dict>
			<key>x</key>
			<string>105.883</string>
			<key>y</key>
			<string>1115.8</string>
		</dict>
		<key>{1750ad1f-260d-4aee-adc1-a88db6f29504}</key>
		<dict>
			<key>x</key>
			<string>70.5603</string>
			<key>y</key>
			<string>1150.52</string>
		</dict>
		<key>{b357574a-bd95-4aa4-9468-61be9a63c0ed}</key>
		<dict>
			<key>x</key>
			<string>70.7393</string>
			<key>y</key>
			<string>1115.8</string>
		</dict>
		<key>{b8759799-92a8-4f9f-9db4-424cf6406847}</key>
		<dict>
			<key>x</key>
			<string>522.113</string>
			<key>y</key>
			<string>974.423</string>
		</dict>
		<key>{810bb89c-ad2b-46b3-88a1-87784df592ce}</key>
		<dict>
			<key>x</key>
			<string>484.29</string>
			<key>y</key>
			<string>1009.15</string>
		</dict>
		<key>{e5559f46-9600-4ef9-8c89-90b7963d82b0}</key>
		<dict>
			<key>x</key>
			<string>484.469</string>
			<key>y</key>
			<string>974.423</string>
		</dict>
		<key>{e7157ea0-bb98-4788-aade-704f0129b65b}</key>
		<dict>
			<key>x</key>
			<string>455.784</string>
			<key>y</key>
			<string>969.462</string>
		</dict>
		<key>{cacfc402-00b4-4441-af69-11f576d2916d}</key>
		<dict>
			<key>x</key>
			<string>434.023</string>
			<key>y</key>
			<string>964.501</string>
		</dict>
		<key>{58a84056-06fc-48e8-9072-9063b887b2eb}</key>
		<dict>
			<key>x</key>
			<string>412.263</string>
			<key>y</key>
			<string>969.462</string>
		</dict>
		<key>{b0ce83a3-5e0c-4a78-9c39-613cb8652716}</key>
		<dict>
			<key>x</key>
			<string>390.503</string>
			<key>y</key>
			<string>964.501</string>
		</dict>
		<key>{2c47a262-2149-4564-ae3f-a9259e9d7b6c}</key>
		<dict>
			<key>x</key>
			<string>319.851</string>
			<key>y</key>
			<string>1009.15</string>
		</dict>
		<key>{626bbb14-9fbe-4a94-8f34-50bbfb913814}</key>
		<dict>
			<key>x</key>
			<string>319.851</string>
			<key>y</key>
			<string>964.501</string>
		</dict>
		<key>{5e4826d3-fcde-49fb-bb9c-d421d37b3f65}</key>
		<dict>
			<key>x</key>
			<string>277.445</string>
			<key>y</key>
			<string>962.021</string>
		</dict>
		<key>{f5b4bded-25a1-4b30-9a7f-f57ca65f6e52}</key>
		<dict>
			<key>x</key>
			<string>241.606</string>
			<key>y</key>
			<string>1006.67</string>
		</dict>
		<key>{69833b4f-a208-4ca3-9c27-e2ef9412bfcd}</key>
		<dict>
			<key>x</key>
			<string>241.785</string>
			<key>y</key>
			<string>962.021</string>
		</dict>
		<key>{81de1b00-45d7-4211-9ba1-3a21ad70593d}</key>
		<dict>
			<key>x</key>
			<string>197.216</string>
			<key>y</key>
			<string>976.903</string>
		</dict>
		<key>{980cedcd-a966-442e-81e6-92e25971cd5c}</key>
		<dict>
			<key>x</key>
			<string>159.393</string>
			<key>y</key>
			<string>1011.63</string>
		</dict>
		<key>{c8fe7603-9dbf-45a3-ae46-33885bce166f}</key>
		<dict>
			<key>x</key>
			<string>159.572</string>
			<key>y</key>
			<string>976.903</string>
		</dict>
		<key>{4f12ae5d-5c26-40a7-bc7c-651b5bc698ce}</key>
		<dict>
			<key>x</key>
			<string>132.125</string>
			<key>y</key>
			<string>971.942</string>
		</dict>
		<key>{5b7b27bd-1420-4c4c-abf7-e352a20b2bc1}</key>
		<dict>
			<key>x</key>
			<string>111.603</string>
			<key>y</key>
			<string>966.982</string>
		</dict>
		<key>{bb9fd0d3-ac02-4968-b9c8-9ba8d80f77b9}</key>
		<dict>
			<key>x</key>
			<string>91.0818</string>
			<key>y</key>
			<string>971.942</string>
		</dict>
		<key>{160d5f28-34bc-4a70-8915-033f74b0f43b}</key>
		<dict>
			<key>x</key>
			<string>70.5603</string>
			<key>y</key>
			<string>966.982</string>
		</dict>
		<key>{f1d8721c-3bdd-4985-ac8a-280b72bc0640}</key>
		<dict>
			<key>x</key>
			<string>528.773</string>
			<key>y</key>
			<string>860.328</string>
		</dict>
		<key>{55b4b0c9-acfb-497d-92e0-d3425193ca1d}</key>
		<dict>
			<key>x</key>
			<string>528.773</string>
			<key>y</key>
			<string>825.604</string>
		</dict>
		<key>{2a56ad1a-bcca-4646-8d4c-3d5d3dab2f74}</key>
		<dict>
			<key>x</key>
			<string>502.828</string>
			<key>y</key>
			<string>823.123</string>
		</dict>
		<key>{f9254df6-2d86-4963-941d-b1393559998e}</key>
		<dict>
			<key>x</key>
			<string>483.451</string>
			<key>y</key>
			<string>857.848</string>
		</dict>
		<key>{d3829b8e-73a5-44ef-a662-152f39f6c347}</key>
		<dict>
			<key>x</key>
			<string>483.63</string>
			<key>y</key>
			<string>823.123</string>
		</dict>
		<key>{9b35ce41-03c5-4d6d-922d-731c2c9a3ae1}</key>
		<dict>
			<key>x</key>
			<string>455.522</string>
			<key>y</key>
			<string>828.084</string>
		</dict>
		<key>{2497b7d5-0a9e-4937-a53e-ac2db01525a1}</key>
		<dict>
			<key>x</key>
			<string>434.16</string>
			<key>y</key>
			<string>862.808</string>
		</dict>
		<key>{06c8d681-8ae7-4295-9742-6b64261d5023}</key>
		<dict>
			<key>x</key>
			<string>434.339</string>
			<key>y</key>
			<string>828.084</string>
		</dict>
		<key>{3d86e9da-6ffa-4507-9adc-4baea8ea3a81}</key>
		<dict>
			<key>x</key>
			<string>413.884</string>
			<key>y</key>
			<string>823.123</string>
		</dict>
		<key>{a4b7bd17-0b4d-438b-b645-e1f9259f2bbd}</key>
		<dict>
			<key>x</key>
			<string>400.354</string>
			<key>y</key>
			<string>818.163</string>
		</dict>
		<key>{21f4d343-2c8e-42ea-a437-57d92fcd2d1f}</key>
		<dict>
			<key>x</key>
			<string>386.825</string>
			<key>y</key>
			<string>823.123</string>
		</dict>
		<key>{fc69304c-64d9-4127-8244-fcb24f01df0c}</key>
		<dict>
			<key>x</key>
			<string>373.295</string>
			<key>y</key>
			<string>818.163</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{3781992e-df3b-47ec-8118-947a26fdceac}</key>
		<dict>
			<key>x1</key>
			<string>452.173</string>
			<key>y1</key>
			<string>720.069</string>
			<key>x2</key>
			<string>452.173</string>
			<key>y2</key>
			<string>735.413</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{dcc89977-64f3-48f4-acfd-4b6281a9c368}</key>
		<dict>
			<key>x1</key>
			<string>458.417</string>
			<key>y1</key>
			<string>683.805</string>
			<key>x2</key>
			<string>458.417</string>
			<key>y2</key>
			<string>667.205</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{33829b06-6007-439e-ba4d-150122b8a08f}</key>
		<dict>
			<key>x1</key>
			<string>393.653</string>
			<key>y1</key>
			<string>673.714</string>
			<key>x2</key>
			<string>393.653</string>
			<key>y2</key>
			<string>657.904</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{6b903fca-343f-49fb-9eaf-b5748a23a03f}</key>
		<dict>
			<key>x1</key>
			<string>329.928</string>
			<key>y1</key>
			<string>717.589</string>
			<key>x2</key>
			<string>329.928</string>
			<key>y2</key>
			<string>733.553</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{3940b0c1-1b64-4212-a4d6-52396e1d40de}</key>
		<dict>
			<key>x1</key>
			<string>335.994</string>
			<key>y1</key>
			<string>673.714</string>
			<key>x2</key>
			<string>335.994</string>
			<key>y2</key>
			<string>657.904</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{bb2b6c77-20e0-4a1e-a79e-baf927a65fb7}</key>
		<dict>
			<key>x1</key>
			<string>269.424</string>
			<key>y1</key>
			<string>686.116</string>
			<key>x2</key>
			<string>269.424</string>
			<key>y2</key>
			<string>669.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{37d410b3-7064-490d-960f-6b8ac226b93c}</key>
		<dict>
			<key>x1</key>
			<string>203.715</string>
			<key>y1</key>
			<string>722.549</string>
			<key>x2</key>
			<string>203.715</string>
			<key>y2</key>
			<string>737.274</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{a901df57-9648-4418-9ea4-c97c99a2e872}</key>
		<dict>
			<key>x1</key>
			<string>209.78</string>
			<key>y1</key>
			<string>686.116</string>
			<key>x2</key>
			<string>209.78</string>
			<key>y2</key>
			<string>669.685</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{bf9ceace-4728-40bb-82a5-2cc3cf346145}</key>
		<dict>
			<key>x1</key>
			<string>171.333</string>
			<key>y1</key>
			<string>681.155</string>
			<key>x2</key>
			<string>171.333</string>
			<key>y2</key>
			<string>665.965</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{0a5a8e98-9bb0-4ece-bcd0-36f2cc761a5c}</key>
		<dict>
			<key>x1</key>
			<string>139.812</string>
			<key>y1</key>
			<string>676.194</string>
			<key>x2</key>
			<string>139.812</string>
			<key>y2</key>
			<string>663.484</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{49ca247e-422c-4d03-9e6c-d252ebcbb10c}</key>
		<dict>
			<key>x1</key>
			<string>108.29</string>
			<key>y1</key>
			<string>681.155</string>
			<key>x2</key>
			<string>108.29</string>
			<key>y2</key>
			<string>665.965</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{a531fc05-e7fc-49df-8f0d-d69147189301}</key>
		<dict>
			<key>x1</key>
			<string>76.7688</string>
			<key>y1</key>
			<string>676.194</string>
			<key>x2</key>
			<string>76.7688</string>
			<key>y2</key>
			<string>663.484</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{d6106fe4-2971-4d61-a87d-0cd22e39a0b0}</key>
		<dict>
			<key>x1</key>
			<string>452.173</string>
			<key>y1</key>
			<string>571.25</string>
			<key>x2</key>
			<string>452.173</string>
			<key>y2</key>
			<string>587.215</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{fe2b8cd1-0f1d-4101-99d4-26a8cd14a22a}</key>
		<dict>
			<key>x1</key>
			<string>458.417</string>
			<key>y1</key>
			<string>534.986</string>
			<key>x2</key>
			<string>458.417</string>
			<key>y2</key>
			<string>518.386</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{dacc3628-2339-4152-ab44-340196d0b487}</key>
		<dict>
			<key>x1</key>
			<string>393.653</string>
			<key>y1</key>
			<string>532.336</string>
			<key>x2</key>
			<string>393.653</string>
			<key>y2</key>
			<string>515.906</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{eff3de63-2272-45ee-9cbc-ebfe1f83ec6f}</key>
		<dict>
			<key>x1</key>
			<string>329.928</string>
			<key>y1</key>
			<string>568.77</string>
			<key>x2</key>
			<string>329.928</string>
			<key>y2</key>
			<string>585.354</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{daf9d6f0-c424-4392-9baa-08f061c5303a}</key>
		<dict>
			<key>x1</key>
			<string>335.994</string>
			<key>y1</key>
			<string>532.336</string>
			<key>x2</key>
			<string>335.994</string>
			<key>y2</key>
			<string>515.906</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{4ce19f8a-71a4-4bcd-9482-01d8d88d419e}</key>
		<dict>
			<key>x1</key>
			<string>269.424</string>
			<key>y1</key>
			<string>537.297</string>
			<key>x2</key>
			<string>269.424</string>
			<key>y2</key>
			<string>520.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{2aa13ed3-6f78-4602-bd73-6d557860a40e}</key>
		<dict>
			<key>x1</key>
			<string>203.715</string>
			<key>y1</key>
			<string>573.731</string>
			<key>x2</key>
			<string>203.715</string>
			<key>y2</key>
			<string>589.075</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{bc3d6a0d-8b10-43fd-a078-cc947b621dd1}</key>
		<dict>
			<key>x1</key>
			<string>209.78</string>
			<key>y1</key>
			<string>537.297</string>
			<key>x2</key>
			<string>209.78</string>
			<key>y2</key>
			<string>520.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9f50e0e1-e036-4e0d-9fe2-5166e4a4965f}</key>
		<dict>
			<key>x1</key>
			<string>171.333</string>
			<key>y1</key>
			<string>532.336</string>
			<key>x2</key>
			<string>171.333</string>
			<key>y2</key>
			<string>518.386</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{78f55c29-3054-4f0a-848f-be743a936af0}</key>
		<dict>
			<key>x1</key>
			<string>139.812</string>
			<key>y1</key>
			<string>527.375</string>
			<key>x2</key>
			<string>139.812</string>
			<key>y2</key>
			<string>513.425</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{125be2d5-bf3d-48a5-a96a-12c09f81f4d1}</key>
		<dict>
			<key>x1</key>
			<string>108.29</string>
			<key>y1</key>
			<string>532.336</string>
			<key>x2</key>
			<string>108.29</string>
			<key>y2</key>
			<string>518.386</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{346e1d4d-534b-41b1-abb3-e5041e7a2352}</key>
		<dict>
			<key>x1</key>
			<string>76.7688</string>
			<key>y1</key>
			<string>527.375</string>
			<key>x2</key>
			<string>76.7688</string>
			<key>y2</key>
			<string>513.425</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{27c2c15b-8928-4eda-a65c-cdb8605ee700}</key>
		<dict>
			<key>x1</key>
			<string>452.173</string>
			<key>y1</key>
			<string>427.392</string>
			<key>x2</key>
			<string>452.173</string>
			<key>y2</key>
			<string>442.736</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{fe8514d0-2ac6-4eb7-ade9-060b6db9d369}</key>
		<dict>
			<key>x1</key>
			<string>458.417</string>
			<key>y1</key>
			<string>381.207</string>
			<key>x2</key>
			<string>458.417</string>
			<key>y2</key>
			<string>365.226</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{2470a1c5-e870-4b34-9e09-9dabb3d91770}</key>
		<dict>
			<key>x1</key>
			<string>393.653</string>
			<key>y1</key>
			<string>378.557</string>
			<key>x2</key>
			<string>393.653</string>
			<key>y2</key>
			<string>363.366</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{3de2b165-5d17-42c9-868f-117cd7bffcf7}</key>
		<dict>
			<key>x1</key>
			<string>329.928</string>
			<key>y1</key>
			<string>424.912</string>
			<key>x2</key>
			<string>329.928</string>
			<key>y2</key>
			<string>440.876</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{7cbbb156-79c5-4e1a-a6c9-52392887fd9e}</key>
		<dict>
			<key>x1</key>
			<string>335.994</string>
			<key>y1</key>
			<string>378.557</string>
			<key>x2</key>
			<string>335.994</string>
			<key>y2</key>
			<string>363.366</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{d87be7b6-5dcf-48b0-b015-9a82ce270aae}</key>
		<dict>
			<key>x1</key>
			<string>269.424</string>
			<key>y1</key>
			<string>393.438</string>
			<key>x2</key>
			<string>269.424</string>
			<key>y2</key>
			<string>377.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{bb38305d-5289-47e8-bcd1-2930e951c6bb}</key>
		<dict>
			<key>x1</key>
			<string>203.715</string>
			<key>y1</key>
			<string>429.872</string>
			<key>x2</key>
			<string>203.715</string>
			<key>y2</key>
			<string>444.596</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{f22b677d-7473-4888-8b0e-cb2ea1f13078}</key>
		<dict>
			<key>x1</key>
			<string>209.78</string>
			<key>y1</key>
			<string>393.438</string>
			<key>x2</key>
			<string>209.78</string>
			<key>y2</key>
			<string>377.008</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{6922beb3-6d05-44fc-b437-db8ed2555227}</key>
		<dict>
			<key>x1</key>
			<string>171.333</string>
			<key>y1</key>
			<string>388.478</string>
			<key>x2</key>
			<string>171.333</string>
			<key>y2</key>
			<string>373.287</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{fd147665-4df0-44f3-8276-79d3f74a7399}</key>
		<dict>
			<key>x1</key>
			<string>139.812</string>
			<key>y1</key>
			<string>383.517</string>
			<key>x2</key>
			<string>139.812</string>
			<key>y2</key>
			<string>370.807</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{48cd9720-cc7e-48cc-927c-e991a7b1b1bd}</key>
		<dict>
			<key>x1</key>
			<string>108.29</string>
			<key>y1</key>
			<string>388.478</string>
			<key>x2</key>
			<string>108.29</string>
			<key>y2</key>
			<string>373.287</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{92d86b78-d12c-454b-958a-3c9bdf175be5}</key>
		<dict>
			<key>x1</key>
			<string>76.7688</string>
			<key>y1</key>
			<string>383.517</string>
			<key>x2</key>
			<string>76.7688</string>
			<key>y2</key>
			<string>370.807</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{98c276eb-34dd-4e0b-b6b9-0396bd8e024f}</key>
		<dict>
			<key>x1</key>
			<string>490.634</string>
			<key>y1</key>
			<string>278.573</string>
			<key>x2</key>
			<string>490.634</string>
			<key>y2</key>
			<string>294.537</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{c11fa23d-ae7a-41f0-97cb-c86eaac6bde9}</key>
		<dict>
			<key>x1</key>
			<string>496.879</string>
			<key>y1</key>
			<string>242.309</string>
			<key>x2</key>
			<string>496.879</string>
			<key>y2</key>
			<string>225.709</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{4ab382a4-341b-4141-b578-553092792427}</key>
		<dict>
			<key>x1</key>
			<string>451.345</string>
			<key>y1</key>
			<string>239.659</string>
			<key>x2</key>
			<string>451.345</string>
			<key>y2</key>
			<string>223.228</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{02d3b0ba-e406-4f10-a151-aea9f8c1944b}</key>
		<dict>
			<key>x1</key>
			<string>406.851</string>
			<key>y1</key>
			<string>276.093</string>
			<key>x2</key>
			<string>406.851</string>
			<key>y2</key>
			<string>292.677</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{01ab5940-83d3-415b-b5d1-495dc724c03f}</key>
		<dict>
			<key>x1</key>
			<string>412.916</string>
			<key>y1</key>
			<string>239.659</string>
			<key>x2</key>
			<string>412.916</string>
			<key>y2</key>
			<string>223.228</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3c30a02d-650d-4a52-8e51-5d91c5a9ab62}</key>
		<dict>
			<key>x1</key>
			<string>365.577</string>
			<key>y1</key>
			<string>244.62</string>
			<key>x2</key>
			<string>365.577</string>
			<key>y2</key>
			<string>228.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{7384ad20-3530-4205-8b39-12440ef14a41}</key>
		<dict>
			<key>x1</key>
			<string>319.099</string>
			<key>y1</key>
			<string>281.053</string>
			<key>x2</key>
			<string>319.099</string>
			<key>y2</key>
			<string>296.398</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{9c5c1030-4b2c-4a36-ad95-96a541d6b650}</key>
		<dict>
			<key>x1</key>
			<string>325.164</string>
			<key>y1</key>
			<string>244.62</string>
			<key>x2</key>
			<string>325.164</string>
			<key>y2</key>
			<string>228.189</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{cbe5b6d5-477b-42a3-bb8e-99b1908f043d}</key>
		<dict>
			<key>x1</key>
			<string>295.094</string>
			<key>y1</key>
			<string>239.659</string>
			<key>x2</key>
			<string>295.094</string>
			<key>y2</key>
			<string>225.709</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{c3a01d2c-987f-413b-98a3-5a0b22be023a}</key>
		<dict>
			<key>x1</key>
			<string>271.949</string>
			<key>y1</key>
			<string>234.698</string>
			<key>x2</key>
			<string>271.949</string>
			<key>y2</key>
			<string>220.748</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{235fd401-3c41-440a-8cad-f546a97dae72}</key>
		<dict>
			<key>x1</key>
			<string>248.804</string>
			<key>y1</key>
			<string>239.659</string>
			<key>x2</key>
			<string>248.804</string>
			<key>y2</key>
			<string>225.709</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{24b1290c-973c-4153-bd79-265b7c5957ae}</key>
		<dict>
			<key>x1</key>
			<string>225.659</string>
			<key>y1</key>
			<string>234.698</string>
			<key>x2</key>
			<string>225.659</string>
			<key>y2</key>
			<string>220.748</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{8172db58-7199-40d8-8491-df8cde059cdf}</key>
		<dict>
			<key>x1</key>
			<string>487.965</string>
			<key>y1</key>
			<string>1156.26</string>
			<key>x2</key>
			<string>487.965</string>
			<key>y2</key>
			<string>1171.61</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{adbbe6a9-795d-4b6b-a413-79c1456cc2cb}</key>
		<dict>
			<key>x1</key>
			<string>494.21</string>
			<key>y1</key>
			<string>1120</string>
			<key>x2</key>
			<string>494.21</string>
			<key>y2</key>
			<string>1103.4</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{7d15089c-4fea-448b-9f8d-8fec450b1f5a}</key>
		<dict>
			<key>x1</key>
			<string>449.574</string>
			<key>y1</key>
			<string>1109.91</string>
			<key>x2</key>
			<string>449.574</string>
			<key>y2</key>
			<string>1094.1</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{c2a68f0f-2ddb-4b9b-aada-a2645daf060f}</key>
		<dict>
			<key>x1</key>
			<string>405.978</string>
			<key>y1</key>
			<string>1153.78</string>
			<key>x2</key>
			<string>405.978</string>
			<key>y2</key>
			<string>1169.75</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{7e78889e-48af-4d26-b2b8-3d8ec9754a86}</key>
		<dict>
			<key>x1</key>
			<string>412.043</string>
			<key>y1</key>
			<string>1109.91</string>
			<key>x2</key>
			<string>412.043</string>
			<key>y2</key>
			<string>1094.1</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{adaf6e27-8267-4215-b0af-72b8c940f273}</key>
		<dict>
			<key>x1</key>
			<string>365.602</string>
			<key>y1</key>
			<string>1122.31</string>
			<key>x2</key>
			<string>365.602</string>
			<key>y2</key>
			<string>1105.88</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{7e921c62-e903-496e-ae18-efc8c6d08656}</key>
		<dict>
			<key>x1</key>
			<string>320.021</string>
			<key>y1</key>
			<string>1158.74</string>
			<key>x2</key>
			<string>320.021</string>
			<key>y2</key>
			<string>1173.47</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{82675091-4e12-414e-8064-1e2a590eff6e}</key>
		<dict>
			<key>x1</key>
			<string>326.086</string>
			<key>y1</key>
			<string>1122.31</string>
			<key>x2</key>
			<string>326.086</string>
			<key>y2</key>
			<string>1105.88</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{4fdf4a72-b024-4ce5-ae68-c1fa6f95eec3}</key>
		<dict>
			<key>x1</key>
			<string>296.465</string>
			<key>y1</key>
			<string>1117.35</string>
			<key>x2</key>
			<string>296.465</string>
			<key>y2</key>
			<string>1102.16</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{ce2b9480-75f2-4f92-834f-62c7b7145847}</key>
		<dict>
			<key>x1</key>
			<string>273.769</string>
			<key>y1</key>
			<string>1112.39</string>
			<key>x2</key>
			<string>273.769</string>
			<key>y2</key>
			<string>1099.68</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{ab2e3d62-bc34-4b98-869d-f97fb7366a26}</key>
		<dict>
			<key>x1</key>
			<string>251.073</string>
			<key>y1</key>
			<string>1117.35</string>
			<key>x2</key>
			<string>251.073</string>
			<key>y2</key>
			<string>1102.16</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{4c65dbd5-8d00-4b4e-a6f6-36fea3263616}</key>
		<dict>
			<key>x1</key>
			<string>228.377</string>
			<key>y1</key>
			<string>1112.39</string>
			<key>x2</key>
			<string>228.377</string>
			<key>y2</key>
			<string>1099.68</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{04103d4e-9f9c-4a4e-aad9-486c23573073}</key>
		<dict>
			<key>x1</key>
			<string>148.095</string>
			<key>y1</key>
			<string>1153.78</string>
			<key>x2</key>
			<string>148.095</string>
			<key>y2</key>
			<string>1169.75</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{f48051dc-45f6-460b-b4e8-ec8fcda9dbb3}</key>
		<dict>
			<key>x1</key>
			<string>154.339</string>
			<key>y1</key>
			<string>1117.52</string>
			<key>x2</key>
			<string>154.339</string>
			<key>y2</key>
			<string>1100.92</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{01844b26-5188-480d-b3db-06d454afcb86}</key>
		<dict>
			<key>x1</key>
			<string>112.091</string>
			<key>y1</key>
			<string>1114.87</string>
			<key>x2</key>
			<string>112.091</string>
			<key>y2</key>
			<string>1098.44</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{1750ad1f-260d-4aee-adc1-a88db6f29504}</key>
		<dict>
			<key>x1</key>
			<string>70.8827</string>
			<key>y1</key>
			<string>1151.3</string>
			<key>x2</key>
			<string>70.8827</string>
			<key>y2</key>
			<string>1167.89</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{b357574a-bd95-4aa4-9468-61be9a63c0ed}</key>
		<dict>
			<key>x1</key>
			<string>76.9478</string>
			<key>y1</key>
			<string>1114.87</string>
			<key>x2</key>
			<string>76.9478</string>
			<key>y2</key>
			<string>1098.44</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b8759799-92a8-4f9f-9db4-424cf6406847}</key>
		<dict>
			<key>x1</key>
			<string>528.322</string>
			<key>y1</key>
			<string>973.491</string>
			<key>x2</key>
			<string>528.322</string>
			<key>y2</key>
			<string>957.06</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{810bb89c-ad2b-46b3-88a1-87784df592ce}</key>
		<dict>
			<key>x1</key>
			<string>484.613</string>
			<key>y1</key>
			<string>1009.92</string>
			<key>x2</key>
			<string>484.613</string>
			<key>y2</key>
			<string>1025.27</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{e5559f46-9600-4ef9-8c89-90b7963d82b0}</key>
		<dict>
			<key>x1</key>
			<string>490.678</string>
			<key>y1</key>
			<string>973.491</string>
			<key>x2</key>
			<string>490.678</string>
			<key>y2</key>
			<string>957.06</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{e7157ea0-bb98-4788-aade-704f0129b65b}</key>
		<dict>
			<key>x1</key>
			<string>461.992</string>
			<key>y1</key>
			<string>968.53</string>
			<key>x2</key>
			<string>461.992</string>
			<key>y2</key>
			<string>954.58</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{cacfc402-00b4-4441-af69-11f576d2916d}</key>
		<dict>
			<key>x1</key>
			<string>440.232</string>
			<key>y1</key>
			<string>963.57</string>
			<key>x2</key>
			<string>440.232</string>
			<key>y2</key>
			<string>949.619</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{58a84056-06fc-48e8-9072-9063b887b2eb}</key>
		<dict>
			<key>x1</key>
			<string>418.472</string>
			<key>y1</key>
			<string>968.53</string>
			<key>x2</key>
			<string>418.472</string>
			<key>y2</key>
			<string>954.58</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{b0ce83a3-5e0c-4a78-9c39-613cb8652716}</key>
		<dict>
			<key>x1</key>
			<string>396.712</string>
			<key>y1</key>
			<string>963.57</string>
			<key>x2</key>
			<string>396.712</string>
			<key>y2</key>
			<string>949.619</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{2c47a262-2149-4564-ae3f-a9259e9d7b6c}</key>
		<dict>
			<key>x1</key>
			<string>320.173</string>
			<key>y1</key>
			<string>1009.92</string>
			<key>x2</key>
			<string>320.173</string>
			<key>y2</key>
			<string>1025.27</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{626bbb14-9fbe-4a94-8f34-50bbfb913814}</key>
		<dict>
			<key>x1</key>
			<string>326.417</string>
			<key>y1</key>
			<string>963.739</string>
			<key>x2</key>
			<string>326.417</string>
			<key>y2</key>
			<string>947.759</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{5e4826d3-fcde-49fb-bb9c-d421d37b3f65}</key>
		<dict>
			<key>x1</key>
			<string>283.653</string>
			<key>y1</key>
			<string>961.089</string>
			<key>x2</key>
			<string>283.653</string>
			<key>y2</key>
			<string>945.899</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{f5b4bded-25a1-4b30-9a7f-f57ca65f6e52}</key>
		<dict>
			<key>x1</key>
			<string>241.928</string>
			<key>y1</key>
			<string>1007.44</string>
			<key>x2</key>
			<string>241.928</string>
			<key>y2</key>
			<string>1023.41</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{69833b4f-a208-4ca3-9c27-e2ef9412bfcd}</key>
		<dict>
			<key>x1</key>
			<string>247.994</string>
			<key>y1</key>
			<string>961.089</string>
			<key>x2</key>
			<string>247.994</string>
			<key>y2</key>
			<string>945.899</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{81de1b00-45d7-4211-9ba1-3a21ad70593d}</key>
		<dict>
			<key>x1</key>
			<string>203.424</string>
			<key>y1</key>
			<string>975.971</string>
			<key>x2</key>
			<string>203.424</string>
			<key>y2</key>
			<string>959.541</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{980cedcd-a966-442e-81e6-92e25971cd5c}</key>
		<dict>
			<key>x1</key>
			<string>159.715</string>
			<key>y1</key>
			<string>1012.41</string>
			<key>x2</key>
			<string>159.715</string>
			<key>y2</key>
			<string>1027.13</string>
			<key>height</key>
			<string>15.502</string>
		</dict>
		<key>{c8fe7603-9dbf-45a3-ae46-33885bce166f}</key>
		<dict>
			<key>x1</key>
			<string>165.78</string>
			<key>y1</key>
			<string>975.971</string>
			<key>x2</key>
			<string>165.78</string>
			<key>y2</key>
			<string>959.541</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{4f12ae5d-5c26-40a7-bc7c-651b5bc698ce}</key>
		<dict>
			<key>x1</key>
			<string>138.333</string>
			<key>y1</key>
			<string>971.011</string>
			<key>x2</key>
			<string>138.333</string>
			<key>y2</key>
			<string>955.82</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{5b7b27bd-1420-4c4c-abf7-e352a20b2bc1}</key>
		<dict>
			<key>x1</key>
			<string>117.812</string>
			<key>y1</key>
			<string>966.05</string>
			<key>x2</key>
			<string>117.812</string>
			<key>y2</key>
			<string>953.34</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{bb9fd0d3-ac02-4968-b9c8-9ba8d80f77b9}</key>
		<dict>
			<key>x1</key>
			<string>97.2903</string>
			<key>y1</key>
			<string>971.011</string>
			<key>x2</key>
			<string>97.2903</string>
			<key>y2</key>
			<string>955.82</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{160d5f28-34bc-4a70-8915-033f74b0f43b}</key>
		<dict>
			<key>x1</key>
			<string>76.7688</string>
			<key>y1</key>
			<string>966.05</string>
			<key>x2</key>
			<string>76.7688</string>
			<key>y2</key>
			<string>953.34</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{f1d8721c-3bdd-4985-ac8a-280b72bc0640}</key>
		<dict>
			<key>x1</key>
			<string>529.096</string>
			<key>y1</key>
			<string>861.106</string>
			<key>x2</key>
			<string>529.096</string>
			<key>y2</key>
			<string>877.07</string>
			<key>height</key>
			<string>16.7421</string>
		</dict>
		<key>{55b4b0c9-acfb-497d-92e0-d3425193ca1d}</key>
		<dict>
			<key>x1</key>
			<string>535.34</string>
			<key>y1</key>
			<string>824.842</string>
			<key>x2</key>
			<string>535.34</string>
			<key>y2</key>
			<string>808.241</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{2a56ad1a-bcca-4646-8d4c-3d5d3dab2f74}</key>
		<dict>
			<key>x1</key>
			<string>509.037</string>
			<key>y1</key>
			<string>822.192</string>
			<key>x2</key>
			<string>509.037</string>
			<key>y2</key>
			<string>805.761</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f9254df6-2d86-4963-941d-b1393559998e}</key>
		<dict>
			<key>x1</key>
			<string>483.773</string>
			<key>y1</key>
			<string>858.626</string>
			<key>x2</key>
			<string>483.773</string>
			<key>y2</key>
			<string>875.21</string>
			<key>height</key>
			<string>17.3622</string>
		</dict>
		<key>{d3829b8e-73a5-44ef-a662-152f39f6c347}</key>
		<dict>
			<key>x1</key>
			<string>489.838</string>
			<key>y1</key>
			<string>822.192</string>
			<key>x2</key>
			<string>489.838</string>
			<key>y2</key>
			<string>805.761</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9b35ce41-03c5-4d6d-922d-731c2c9a3ae1}</key>
		<dict>
			<key>x1</key>
			<string>461.73</string>
			<key>y1</key>
			<string>827.152</string>
			<key>x2</key>
			<string>461.73</string>
			<key>y2</key>
			<string>810.722</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{2497b7d5-0a9e-4937-a53e-ac2db01525a1}</key>
		<dict>
			<key>x1</key>
			<string>434.482</string>
			<key>y1</key>
			<string>863.586</string>
			<key>x2</key>
			<string>434.482</string>
			<key>y2</key>
			<string>878.93</string>
			<key>height</key>
			<string>16.122</string>
		</dict>
		<key>{06c8d681-8ae7-4295-9742-6b64261d5023}</key>
		<dict>
			<key>x1</key>
			<string>440.547</string>
			<key>y1</key>
			<string>827.152</string>
			<key>x2</key>
			<string>440.547</string>
			<key>y2</key>
			<string>810.722</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3d86e9da-6ffa-4507-9adc-4baea8ea3a81}</key>
		<dict>
			<key>x1</key>
			<string>420.092</string>
			<key>y1</key>
			<string>822.192</string>
			<key>x2</key>
			<string>420.092</string>
			<key>y2</key>
			<string>808.241</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{a4b7bd17-0b4d-438b-b645-e1f9259f2bbd}</key>
		<dict>
			<key>x1</key>
			<string>406.563</string>
			<key>y1</key>
			<string>817.231</string>
			<key>x2</key>
			<string>406.563</string>
			<key>y2</key>
			<string>803.281</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{21f4d343-2c8e-42ea-a437-57d92fcd2d1f}</key>
		<dict>
			<key>x1</key>
			<string>393.033</string>
			<key>y1</key>
			<string>822.192</string>
			<key>x2</key>
			<string>393.033</string>
			<key>y2</key>
			<string>808.241</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{fc69304c-64d9-4127-8244-fcb24f01df0c}</key>
		<dict>
			<key>x1</key>
			<string>379.504</string>
			<key>y1</key>
			<string>817.231</string>
			<key>x2</key>
			<string>379.504</string>
			<key>y2</key>
			<string>803.281</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
	</dict>
</dict>
</plist>