<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>45.1417</string>
			<key>y</key>
			<string>74.4094</string>
			<key>bx</key>
			<string>45.1417</string>
			<key>by</key>
			<string>109.989</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>45.1417</string>
			<key>y</key>
			<string>220.748</string>
			<key>bx</key>
			<string>45.1417</string>
			<key>by</key>
			<string>256.328</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>45.1417</string>
			<key>y</key>
			<string>367.087</string>
			<key>bx</key>
			<string>45.1417</string>
			<key>by</key>
			<string>402.666</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>45.1417</string>
			<key>y</key>
			<string>513.425</string>
			<key>bx</key>
			<string>45.1417</string>
			<key>by</key>
			<string>549.005</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>45.1417</string>
			<key>y</key>
			<string>682.365</string>
			<key>bx</key>
			<string>45.1417</string>
			<key>by</key>
			<string>717.945</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>6</key>
		<dict>
			<key>x</key>
			<string>45.1417</string>
			<key>y</key>
			<string>828.704</string>
			<key>bx</key>
			<string>45.1417</string>
			<key>by</key>
			<string>864.284</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
		<key>7</key>
		<dict>
			<key>x</key>
			<string>45.1417</string>
			<key>y</key>
			<string>975.043</string>
			<key>bx</key>
			<string>45.1417</string>
			<key>by</key>
			<string>1010.62</string>
			<key>spatium</key>
			<string>4.96063</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{7f8a9383-89a3-4b94-b7f0-4653fea43d95}</key>
		<dict>
			<key>x</key>
			<string>451.779</string>
			<key>y</key>
			<string>602.717</string>
		</dict>
		<key>{76676fe9-6447-43fc-9592-9501ec63a436}</key>
		<dict>
			<key>x</key>
			<string>451.779</string>
			<key>y</key>
			<string>538.228</string>
		</dict>
		<key>{9c8f291e-d047-43d7-bcc1-4834c0cbd603}</key>
		<dict>
			<key>x</key>
			<string>387.337</string>
			<key>y</key>
			<string>528.307</string>
		</dict>
		<key>{41247bd9-3ce9-469d-9192-72f98fe6e0a3}</key>
		<dict>
			<key>x</key>
			<string>329.463</string>
			<key>y</key>
			<string>600.236</string>
		</dict>
		<key>{cab4ea10-000e-46c2-b211-050a0f4146f6}</key>
		<dict>
			<key>x</key>
			<string>329.642</string>
			<key>y</key>
			<string>528.307</string>
		</dict>
		<key>{fb590e70-4df7-4fc6-a6d5-0100d607d00f}</key>
		<dict>
			<key>x</key>
			<string>263.036</string>
			<key>y</key>
			<string>540.709</string>
		</dict>
		<key>{2814e5d9-23c4-4c4c-a5b9-36ee68c6b087}</key>
		<dict>
			<key>x</key>
			<string>203.178</string>
			<key>y</key>
			<string>605.197</string>
		</dict>
		<key>{7a3a7a7b-e9e3-4dc8-93b8-28c3cd83f067}</key>
		<dict>
			<key>x</key>
			<string>203.357</string>
			<key>y</key>
			<string>540.709</string>
		</dict>
		<key>{c576f2ab-4cd4-4c3d-8264-55f5d2ea0617}</key>
		<dict>
			<key>x</key>
			<string>164.892</string>
			<key>y</key>
			<string>535.748</string>
		</dict>
		<key>{97344729-d01d-416c-b8c6-dbd3352851ba}</key>
		<dict>
			<key>x</key>
			<string>133.352</string>
			<key>y</key>
			<string>530.787</string>
		</dict>
		<key>{802c498a-ebd9-4a2d-8281-000a7044fd44}</key>
		<dict>
			<key>x</key>
			<string>101.813</string>
			<key>y</key>
			<string>535.748</string>
		</dict>
		<key>{8a7c79ad-c49e-4bf8-8d9b-e542f3379c39}</key>
		<dict>
			<key>x</key>
			<string>70.2735</string>
			<key>y</key>
			<string>530.787</string>
		</dict>
		<key>{ddc76217-eb93-4cc3-997d-e125769b91d9}</key>
		<dict>
			<key>x</key>
			<string>451.779</string>
			<key>y</key>
			<string>453.898</string>
		</dict>
		<key>{8c3237d5-e6b0-46c9-a519-70f69680db3d}</key>
		<dict>
			<key>x</key>
			<string>451.779</string>
			<key>y</key>
			<string>389.409</string>
		</dict>
		<key>{c15ff7ad-7381-4db7-8cfb-94c592bd0f29}</key>
		<dict>
			<key>x</key>
			<string>387.337</string>
			<key>y</key>
			<string>386.929</string>
		</dict>
		<key>{7c1e25e9-5d08-4a73-ad7a-bced2ce08629}</key>
		<dict>
			<key>x</key>
			<string>329.463</string>
			<key>y</key>
			<string>451.417</string>
		</dict>
		<key>{46d2a349-4590-4722-b640-e5336bc9727f}</key>
		<dict>
			<key>x</key>
			<string>329.642</string>
			<key>y</key>
			<string>386.929</string>
		</dict>
		<key>{c5afe0df-6294-4aa1-9792-d6fbec97cde2}</key>
		<dict>
			<key>x</key>
			<string>263.036</string>
			<key>y</key>
			<string>391.89</string>
		</dict>
		<key>{cca97d0b-295e-48b6-b170-bf31c775756b}</key>
		<dict>
			<key>x</key>
			<string>203.178</string>
			<key>y</key>
			<string>456.378</string>
		</dict>
		<key>{3820c56a-87d9-44b6-bf87-bd49dc57513b}</key>
		<dict>
			<key>x</key>
			<string>203.357</string>
			<key>y</key>
			<string>391.89</string>
		</dict>
		<key>{0dd059d2-e816-4775-ab87-696f79fcff7a}</key>
		<dict>
			<key>x</key>
			<string>164.892</string>
			<key>y</key>
			<string>386.929</string>
		</dict>
		<key>{bd00a77a-fb63-43bc-80dd-d0154b099571}</key>
		<dict>
			<key>x</key>
			<string>133.352</string>
			<key>y</key>
			<string>381.968</string>
		</dict>
		<key>{d126260b-87c9-4f19-a6c1-adf86b30f7c8}</key>
		<dict>
			<key>x</key>
			<string>101.813</string>
			<key>y</key>
			<string>386.929</string>
		</dict>
		<key>{3569a3de-1d53-4239-848d-c507e03ebf41}</key>
		<dict>
			<key>x</key>
			<string>70.2735</string>
			<key>y</key>
			<string>381.968</string>
		</dict>
		<key>{4e63643e-d8f5-4554-beaf-a7a6fe8c157d}</key>
		<dict>
			<key>x</key>
			<string>451.779</string>
			<key>y</key>
			<string>310.039</string>
		</dict>
		<key>{4b53a328-de94-4706-9987-e976c7ab23da}</key>
		<dict>
			<key>x</key>
			<string>451.779</string>
			<key>y</key>
			<string>235.63</string>
		</dict>
		<key>{6b3dd781-dc01-45e5-8e47-b32a1e39df99}</key>
		<dict>
			<key>x</key>
			<string>387.337</string>
			<key>y</key>
			<string>233.15</string>
		</dict>
		<key>{89412761-b37b-4086-8b18-7437d25766cd}</key>
		<dict>
			<key>x</key>
			<string>329.463</string>
			<key>y</key>
			<string>307.559</string>
		</dict>
		<key>{5a8ccfe8-3250-418f-962f-f870caabd082}</key>
		<dict>
			<key>x</key>
			<string>329.642</string>
			<key>y</key>
			<string>233.15</string>
		</dict>
		<key>{06c25985-5955-4791-8ba3-415c0e78f5dd}</key>
		<dict>
			<key>x</key>
			<string>263.036</string>
			<key>y</key>
			<string>248.031</string>
		</dict>
		<key>{9a0b842b-e580-42a2-8896-a64b3a7dea12}</key>
		<dict>
			<key>x</key>
			<string>203.178</string>
			<key>y</key>
			<string>312.52</string>
		</dict>
		<key>{cec0cfb1-1d5d-4fda-96f4-fadb71c7bd5a}</key>
		<dict>
			<key>x</key>
			<string>203.357</string>
			<key>y</key>
			<string>248.031</string>
		</dict>
		<key>{90c3096a-a992-4423-8b16-c93c374a0b3d}</key>
		<dict>
			<key>x</key>
			<string>164.892</string>
			<key>y</key>
			<string>243.071</string>
		</dict>
		<key>{e138c4e6-5038-4979-a06e-3ef31ce4fdd5}</key>
		<dict>
			<key>x</key>
			<string>133.352</string>
			<key>y</key>
			<string>238.11</string>
		</dict>
		<key>{854e1c47-b428-46ef-9e53-44814311c2ba}</key>
		<dict>
			<key>x</key>
			<string>101.813</string>
			<key>y</key>
			<string>243.071</string>
		</dict>
		<key>{f3bf48be-ef59-4729-9ca9-ffec9280c1eb}</key>
		<dict>
			<key>x</key>
			<string>70.2735</string>
			<key>y</key>
			<string>238.11</string>
		</dict>
		<key>{72948d21-1806-41d6-895b-bf4a631e4857}</key>
		<dict>
			<key>x</key>
			<string>455.016</string>
			<key>y</key>
			<string>161.22</string>
		</dict>
		<key>{744c342d-180e-4c60-b544-20d5c7a69fcf}</key>
		<dict>
			<key>x</key>
			<string>455.016</string>
			<key>y</key>
			<string>96.7323</string>
		</dict>
		<key>{1cf97f86-52bd-4ffd-bb79-e3159f8b64c5}</key>
		<dict>
			<key>x</key>
			<string>392.192</string>
			<key>y</key>
			<string>94.252</string>
		</dict>
		<key>{6ae92134-7ab0-4773-a232-49b74ef05892}</key>
		<dict>
			<key>x</key>
			<string>335.936</string>
			<key>y</key>
			<string>158.74</string>
		</dict>
		<key>{93b8fd76-5f1b-4763-9adc-4bc772ef02fe}</key>
		<dict>
			<key>x</key>
			<string>336.115</string>
			<key>y</key>
			<string>94.252</string>
		</dict>
		<key>{4d0d17ba-4139-41a3-92a3-dd571d980c8b}</key>
		<dict>
			<key>x</key>
			<string>271.129</string>
			<key>y</key>
			<string>99.2126</string>
		</dict>
		<key>{364f18c4-c2c2-4ffa-ba71-04c8c9cf9cda}</key>
		<dict>
			<key>x</key>
			<string>212.888</string>
			<key>y</key>
			<string>163.701</string>
		</dict>
		<key>{e68e2b5c-43e3-4c6e-bc1f-05111907513f}</key>
		<dict>
			<key>x</key>
			<string>213.067</string>
			<key>y</key>
			<string>99.2126</string>
		</dict>
		<key>{92d56eac-1f22-46f2-b00f-15552c83fd3f}</key>
		<dict>
			<key>x</key>
			<string>175.411</string>
			<key>y</key>
			<string>94.252</string>
		</dict>
		<key>{58ecc4ef-fa1b-4d85-b5fd-be42472c0176}</key>
		<dict>
			<key>x</key>
			<string>144.681</string>
			<key>y</key>
			<string>89.2913</string>
		</dict>
		<key>{58fb7cb7-20f2-43bc-947d-fd61942db793}</key>
		<dict>
			<key>x</key>
			<string>113.951</string>
			<key>y</key>
			<string>94.252</string>
		</dict>
		<key>{95061f26-eb58-49f7-b238-648312c96cc3}</key>
		<dict>
			<key>x</key>
			<string>83.2207</string>
			<key>y</key>
			<string>89.2913</string>
		</dict>
		<key>{36b6e560-d645-465b-8455-69d5702eaeb2}</key>
		<dict>
			<key>x</key>
			<string>487.595</string>
			<key>y</key>
			<string>1064.33</string>
		</dict>
		<key>{fd052384-205b-425f-8e08-946f4282a673}</key>
		<dict>
			<key>x</key>
			<string>487.595</string>
			<key>y</key>
			<string>999.846</string>
		</dict>
		<key>{1824d407-0fd7-4e3c-8b87-f5d9435f3f8a}</key>
		<dict>
			<key>x</key>
			<string>443.294</string>
			<key>y</key>
			<string>989.924</string>
		</dict>
		<key>{91d073ca-bdf9-40ac-895d-006bed68ca64}</key>
		<dict>
			<key>x</key>
			<string>405.56</string>
			<key>y</key>
			<string>1061.85</string>
		</dict>
		<key>{2fe97d19-ca7f-492f-a17e-83367a1ba0ac}</key>
		<dict>
			<key>x</key>
			<string>405.739</string>
			<key>y</key>
			<string>989.924</string>
		</dict>
		<key>{514e9707-0abd-4a25-bed4-291f3d978887}</key>
		<dict>
			<key>x</key>
			<string>359.274</string>
			<key>y</key>
			<string>1002.33</string>
		</dict>
		<key>{960e91b1-0652-4d2d-9e39-583d0e23a37f}</key>
		<dict>
			<key>x</key>
			<string>319.555</string>
			<key>y</key>
			<string>1066.81</string>
		</dict>
		<key>{4cda2596-9a5e-49ef-84ad-8233fb8f8e23}</key>
		<dict>
			<key>x</key>
			<string>319.734</string>
			<key>y</key>
			<string>1002.33</string>
		</dict>
		<key>{23b15d24-ede9-4257-ba13-35f812987991}</key>
		<dict>
			<key>x</key>
			<string>290.101</string>
			<key>y</key>
			<string>997.365</string>
		</dict>
		<key>{b5be3fa6-f16f-403e-b348-d0eeae0307a4}</key>
		<dict>
			<key>x</key>
			<string>267.393</string>
			<key>y</key>
			<string>992.405</string>
		</dict>
		<key>{9980a599-a2ec-4484-a638-c1c282c2c39b}</key>
		<dict>
			<key>x</key>
			<string>244.685</string>
			<key>y</key>
			<string>997.365</string>
		</dict>
		<key>{32d94f0d-ea4a-4150-8902-b27e31a2888d}</key>
		<dict>
			<key>x</key>
			<string>221.977</string>
			<key>y</key>
			<string>992.405</string>
		</dict>
		<key>{663462c8-d60b-483c-bb0a-4f7684fa90d8}</key>
		<dict>
			<key>x</key>
			<string>147.534</string>
			<key>y</key>
			<string>1061.85</string>
		</dict>
		<key>{0eed4353-ed3c-4688-b434-3bf84c55c0b8}</key>
		<dict>
			<key>x</key>
			<string>147.534</string>
			<key>y</key>
			<string>997.365</string>
		</dict>
		<key>{8db7046e-65c1-4ada-94ec-bea7cae612e8}</key>
		<dict>
			<key>x</key>
			<string>105.62</string>
			<key>y</key>
			<string>994.885</string>
		</dict>
		<key>{f29b4865-4665-4104-969f-9fff11becbb7}</key>
		<dict>
			<key>x</key>
			<string>70.2735</string>
			<key>y</key>
			<string>1059.37</string>
		</dict>
		<key>{b47c9381-a7aa-4bdc-a274-11e478f23ed6}</key>
		<dict>
			<key>x</key>
			<string>70.4525</string>
			<key>y</key>
			<string>994.885</string>
		</dict>
		<key>{360a601b-381b-43b2-8492-8313b25c953c}</key>
		<dict>
			<key>x</key>
			<string>522.089</string>
			<key>y</key>
			<string>853.507</string>
		</dict>
		<key>{df18127e-0fc6-4d71-90a9-4ca528835054}</key>
		<dict>
			<key>x</key>
			<string>484.242</string>
			<key>y</key>
			<string>917.995</string>
		</dict>
		<key>{c03b346b-f58e-42c5-a9ee-57d7ea639954}</key>
		<dict>
			<key>x</key>
			<string>484.421</string>
			<key>y</key>
			<string>853.507</string>
		</dict>
		<key>{b1eeca44-9e6c-4d3b-8449-c2e84893b8a5}</key>
		<dict>
			<key>x</key>
			<string>455.724</string>
			<key>y</key>
			<string>848.547</string>
		</dict>
		<key>{a49db95d-d900-4b7e-bfb3-d20ae9884d22}</key>
		<dict>
			<key>x</key>
			<string>433.952</string>
			<key>y</key>
			<string>843.586</string>
		</dict>
		<key>{e5665e52-59d0-47d4-81a3-f3d9423bac2b}</key>
		<dict>
			<key>x</key>
			<string>412.18</string>
			<key>y</key>
			<string>848.547</string>
		</dict>
		<key>{6a6753e5-bc9a-40ef-a94d-80b917028d1c}</key>
		<dict>
			<key>x</key>
			<string>390.408</string>
			<key>y</key>
			<string>843.586</string>
		</dict>
		<key>{4b5ff2b9-7cae-4f14-be33-55005b4355eb}</key>
		<dict>
			<key>x</key>
			<string>319.707</string>
			<key>y</key>
			<string>917.995</string>
		</dict>
		<key>{4b96a6ef-4702-4936-bd77-3f1278d3aa58}</key>
		<dict>
			<key>x</key>
			<string>319.707</string>
			<key>y</key>
			<string>843.586</string>
		</dict>
		<key>{4e1df1f8-9301-4a42-b020-29bdc1c7de66}</key>
		<dict>
			<key>x</key>
			<string>277.277</string>
			<key>y</key>
			<string>841.106</string>
		</dict>
		<key>{ad44a335-f62c-4076-b173-b25292ed5c60}</key>
		<dict>
			<key>x</key>
			<string>241.415</string>
			<key>y</key>
			<string>915.515</string>
		</dict>
		<key>{453dc4af-60e8-4de9-a75b-f1c88d9edd7a}</key>
		<dict>
			<key>x</key>
			<string>241.594</string>
			<key>y</key>
			<string>841.106</string>
		</dict>
		<key>{f277d770-ff1e-41fa-bd15-fadd688e008c}</key>
		<dict>
			<key>x</key>
			<string>197.001</string>
			<key>y</key>
			<string>855.987</string>
		</dict>
		<key>{3cc74ea9-7e9a-43f7-bc2c-b0c999251661}</key>
		<dict>
			<key>x</key>
			<string>159.154</string>
			<key>y</key>
			<string>920.476</string>
		</dict>
		<key>{f5d57fbd-d2f3-44e1-af24-ac9317112de0}</key>
		<dict>
			<key>x</key>
			<string>159.333</string>
			<key>y</key>
			<string>855.987</string>
		</dict>
		<key>{631c113d-82b5-49ae-ac95-833123b7b7bd}</key>
		<dict>
			<key>x</key>
			<string>131.874</string>
			<key>y</key>
			<string>851.027</string>
		</dict>
		<key>{b4704203-5eb7-4a13-8b88-9e75a32667df}</key>
		<dict>
			<key>x</key>
			<string>111.34</string>
			<key>y</key>
			<string>846.066</string>
		</dict>
		<key>{2400b8f8-e2dd-47d9-987c-eaf9e7af45d4}</key>
		<dict>
			<key>x</key>
			<string>90.8069</string>
			<key>y</key>
			<string>851.027</string>
		</dict>
		<key>{d42f0a81-bd40-4dc5-a0a7-782d30732fe7}</key>
		<dict>
			<key>x</key>
			<string>70.2735</string>
			<key>y</key>
			<string>846.066</string>
		</dict>
		<key>{24fb5b09-e0a7-4622-ac7d-f384a7ccb537}</key>
		<dict>
			<key>x</key>
			<string>490.264</string>
			<key>y</key>
			<string>769.176</string>
		</dict>
		<key>{df59498a-95c5-41f7-9554-2653285f02b2}</key>
		<dict>
			<key>x</key>
			<string>490.264</string>
			<key>y</key>
			<string>704.688</string>
		</dict>
		<key>{66122ce7-eb79-49cd-9c60-038ee26d9644}</key>
		<dict>
			<key>x</key>
			<string>445.065</string>
			<key>y</key>
			<string>702.208</string>
		</dict>
		<key>{7d0a7593-4538-4242-a2f4-34d66f046ce4}</key>
		<dict>
			<key>x</key>
			<string>406.433</string>
			<key>y</key>
			<string>766.696</string>
		</dict>
		<key>{d55bea7b-4cac-4ecb-bc10-63dff6626abc}</key>
		<dict>
			<key>x</key>
			<string>406.612</string>
			<key>y</key>
			<string>702.208</string>
		</dict>
		<key>{31758f80-f657-4621-a742-01e40ae68419}</key>
		<dict>
			<key>x</key>
			<string>359.249</string>
			<key>y</key>
			<string>707.169</string>
		</dict>
		<key>{612d1207-8930-47f6-9c7f-981114c37ab3}</key>
		<dict>
			<key>x</key>
			<string>318.633</string>
			<key>y</key>
			<string>771.657</string>
		</dict>
		<key>{b9a62f02-59c7-476f-938a-1a7860c8588f}</key>
		<dict>
			<key>x</key>
			<string>318.812</string>
			<key>y</key>
			<string>707.169</string>
		</dict>
		<key>{ff617e54-d760-4eb4-9e76-c492ef40f99b}</key>
		<dict>
			<key>x</key>
			<string>288.73</string>
			<key>y</key>
			<string>702.208</string>
		</dict>
		<key>{9f6431fd-f2cf-4e13-89f2-242f7aef7f41}</key>
		<dict>
			<key>x</key>
			<string>265.573</string>
			<key>y</key>
			<string>697.247</string>
		</dict>
		<key>{abe93a58-59f2-47b2-9493-20521934a3eb}</key>
		<dict>
			<key>x</key>
			<string>242.416</string>
			<key>y</key>
			<string>702.208</string>
		</dict>
		<key>{577d5748-c895-4812-9fd4-0f7bf5761603}</key>
		<dict>
			<key>x</key>
			<string>219.259</string>
			<key>y</key>
			<string>697.247</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{7f8a9383-89a3-4b94-b7f0-4653fea43d95}</key>
		<dict>
			<key>x1</key>
			<string>452.101</string>
			<key>y1</key>
			<string>603.494</string>
			<key>x2</key>
			<string>452.101</string>
			<key>y2</key>
			<string>613.878</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{76676fe9-6447-43fc-9592-9501ec63a436}</key>
		<dict>
			<key>x1</key>
			<string>458.346</string>
			<key>y1</key>
			<string>537.466</string>
			<key>x2</key>
			<string>458.346</string>
			<key>y2</key>
			<string>520.866</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9c8f291e-d047-43d7-bcc1-4834c0cbd603}</key>
		<dict>
			<key>x1</key>
			<string>393.546</string>
			<key>y1</key>
			<string>527.375</string>
			<key>x2</key>
			<string>393.546</string>
			<key>y2</key>
			<string>511.565</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{41247bd9-3ce9-469d-9192-72f98fe6e0a3}</key>
		<dict>
			<key>x1</key>
			<string>329.785</string>
			<key>y1</key>
			<string>601.014</string>
			<key>x2</key>
			<string>329.785</string>
			<key>y2</key>
			<string>611.398</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{cab4ea10-000e-46c2-b211-050a0f4146f6}</key>
		<dict>
			<key>x1</key>
			<string>335.85</string>
			<key>y1</key>
			<string>527.375</string>
			<key>x2</key>
			<string>335.85</string>
			<key>y2</key>
			<string>511.565</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{fb590e70-4df7-4fc6-a6d5-0100d607d00f}</key>
		<dict>
			<key>x1</key>
			<string>269.245</string>
			<key>y1</key>
			<string>539.777</string>
			<key>x2</key>
			<string>269.245</string>
			<key>y2</key>
			<string>523.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{2814e5d9-23c4-4c4c-a5b9-36ee68c6b087}</key>
		<dict>
			<key>x1</key>
			<string>203.5</string>
			<key>y1</key>
			<string>605.975</string>
			<key>x2</key>
			<string>203.5</string>
			<key>y2</key>
			<string>616.358</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{7a3a7a7b-e9e3-4dc8-93b8-28c3cd83f067}</key>
		<dict>
			<key>x1</key>
			<string>209.565</string>
			<key>y1</key>
			<string>539.777</string>
			<key>x2</key>
			<string>209.565</string>
			<key>y2</key>
			<string>523.346</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c576f2ab-4cd4-4c3d-8264-55f5d2ea0617}</key>
		<dict>
			<key>x1</key>
			<string>171.1</string>
			<key>y1</key>
			<string>534.816</string>
			<key>x2</key>
			<string>171.1</string>
			<key>y2</key>
			<string>519.626</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{97344729-d01d-416c-b8c6-dbd3352851ba}</key>
		<dict>
			<key>x1</key>
			<string>139.561</string>
			<key>y1</key>
			<string>529.856</string>
			<key>x2</key>
			<string>139.561</string>
			<key>y2</key>
			<string>517.146</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{802c498a-ebd9-4a2d-8281-000a7044fd44}</key>
		<dict>
			<key>x1</key>
			<string>108.021</string>
			<key>y1</key>
			<string>534.816</string>
			<key>x2</key>
			<string>108.021</string>
			<key>y2</key>
			<string>519.626</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{8a7c79ad-c49e-4bf8-8d9b-e542f3379c39}</key>
		<dict>
			<key>x1</key>
			<string>76.482</string>
			<key>y1</key>
			<string>529.856</string>
			<key>x2</key>
			<string>76.482</string>
			<key>y2</key>
			<string>517.146</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{ddc76217-eb93-4cc3-997d-e125769b91d9}</key>
		<dict>
			<key>x1</key>
			<string>452.101</string>
			<key>y1</key>
			<string>454.675</string>
			<key>x2</key>
			<string>452.101</string>
			<key>y2</key>
			<string>465.059</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{8c3237d5-e6b0-46c9-a519-70f69680db3d}</key>
		<dict>
			<key>x1</key>
			<string>458.346</string>
			<key>y1</key>
			<string>388.647</string>
			<key>x2</key>
			<string>458.346</string>
			<key>y2</key>
			<string>372.047</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c15ff7ad-7381-4db7-8cfb-94c592bd0f29}</key>
		<dict>
			<key>x1</key>
			<string>393.546</string>
			<key>y1</key>
			<string>385.997</string>
			<key>x2</key>
			<string>393.546</string>
			<key>y2</key>
			<string>369.567</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{7c1e25e9-5d08-4a73-ad7a-bced2ce08629}</key>
		<dict>
			<key>x1</key>
			<string>329.785</string>
			<key>y1</key>
			<string>452.195</string>
			<key>x2</key>
			<string>329.785</string>
			<key>y2</key>
			<string>462.579</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{46d2a349-4590-4722-b640-e5336bc9727f}</key>
		<dict>
			<key>x1</key>
			<string>335.85</string>
			<key>y1</key>
			<string>385.997</string>
			<key>x2</key>
			<string>335.85</string>
			<key>y2</key>
			<string>369.567</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{c5afe0df-6294-4aa1-9792-d6fbec97cde2}</key>
		<dict>
			<key>x1</key>
			<string>269.245</string>
			<key>y1</key>
			<string>390.958</string>
			<key>x2</key>
			<string>269.245</string>
			<key>y2</key>
			<string>374.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{cca97d0b-295e-48b6-b170-bf31c775756b}</key>
		<dict>
			<key>x1</key>
			<string>203.5</string>
			<key>y1</key>
			<string>457.156</string>
			<key>x2</key>
			<string>203.5</string>
			<key>y2</key>
			<string>467.539</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{3820c56a-87d9-44b6-bf87-bd49dc57513b}</key>
		<dict>
			<key>x1</key>
			<string>209.565</string>
			<key>y1</key>
			<string>390.958</string>
			<key>x2</key>
			<string>209.565</string>
			<key>y2</key>
			<string>374.528</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{0dd059d2-e816-4775-ab87-696f79fcff7a}</key>
		<dict>
			<key>x1</key>
			<string>171.1</string>
			<key>y1</key>
			<string>385.997</string>
			<key>x2</key>
			<string>171.1</string>
			<key>y2</key>
			<string>372.047</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{bd00a77a-fb63-43bc-80dd-d0154b099571}</key>
		<dict>
			<key>x1</key>
			<string>139.561</string>
			<key>y1</key>
			<string>381.037</string>
			<key>x2</key>
			<string>139.561</string>
			<key>y2</key>
			<string>367.087</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{d126260b-87c9-4f19-a6c1-adf86b30f7c8}</key>
		<dict>
			<key>x1</key>
			<string>108.021</string>
			<key>y1</key>
			<string>385.997</string>
			<key>x2</key>
			<string>108.021</string>
			<key>y2</key>
			<string>372.047</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{3569a3de-1d53-4239-848d-c507e03ebf41}</key>
		<dict>
			<key>x1</key>
			<string>76.482</string>
			<key>y1</key>
			<string>381.037</string>
			<key>x2</key>
			<string>76.482</string>
			<key>y2</key>
			<string>367.087</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{4e63643e-d8f5-4554-beaf-a7a6fe8c157d}</key>
		<dict>
			<key>x1</key>
			<string>452.101</string>
			<key>y1</key>
			<string>310.817</string>
			<key>x2</key>
			<string>452.101</string>
			<key>y2</key>
			<string>321.201</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{4b53a328-de94-4706-9987-e976c7ab23da}</key>
		<dict>
			<key>x1</key>
			<string>458.346</string>
			<key>y1</key>
			<string>234.868</string>
			<key>x2</key>
			<string>458.346</string>
			<key>y2</key>
			<string>218.888</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{6b3dd781-dc01-45e5-8e47-b32a1e39df99}</key>
		<dict>
			<key>x1</key>
			<string>393.546</string>
			<key>y1</key>
			<string>232.218</string>
			<key>x2</key>
			<string>393.546</string>
			<key>y2</key>
			<string>217.028</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{89412761-b37b-4086-8b18-7437d25766cd}</key>
		<dict>
			<key>x1</key>
			<string>329.785</string>
			<key>y1</key>
			<string>308.337</string>
			<key>x2</key>
			<string>329.785</string>
			<key>y2</key>
			<string>318.72</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{5a8ccfe8-3250-418f-962f-f870caabd082}</key>
		<dict>
			<key>x1</key>
			<string>335.85</string>
			<key>y1</key>
			<string>232.218</string>
			<key>x2</key>
			<string>335.85</string>
			<key>y2</key>
			<string>217.028</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{06c25985-5955-4791-8ba3-415c0e78f5dd}</key>
		<dict>
			<key>x1</key>
			<string>269.245</string>
			<key>y1</key>
			<string>247.1</string>
			<key>x2</key>
			<string>269.245</string>
			<key>y2</key>
			<string>230.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{9a0b842b-e580-42a2-8896-a64b3a7dea12}</key>
		<dict>
			<key>x1</key>
			<string>203.5</string>
			<key>y1</key>
			<string>313.298</string>
			<key>x2</key>
			<string>203.5</string>
			<key>y2</key>
			<string>323.681</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{cec0cfb1-1d5d-4fda-96f4-fadb71c7bd5a}</key>
		<dict>
			<key>x1</key>
			<string>209.565</string>
			<key>y1</key>
			<string>247.1</string>
			<key>x2</key>
			<string>209.565</string>
			<key>y2</key>
			<string>230.669</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{90c3096a-a992-4423-8b16-c93c374a0b3d}</key>
		<dict>
			<key>x1</key>
			<string>171.1</string>
			<key>y1</key>
			<string>242.139</string>
			<key>x2</key>
			<string>171.1</string>
			<key>y2</key>
			<string>226.949</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{e138c4e6-5038-4979-a06e-3ef31ce4fdd5}</key>
		<dict>
			<key>x1</key>
			<string>139.561</string>
			<key>y1</key>
			<string>237.179</string>
			<key>x2</key>
			<string>139.561</string>
			<key>y2</key>
			<string>224.468</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{854e1c47-b428-46ef-9e53-44814311c2ba}</key>
		<dict>
			<key>x1</key>
			<string>108.021</string>
			<key>y1</key>
			<string>242.139</string>
			<key>x2</key>
			<string>108.021</string>
			<key>y2</key>
			<string>226.949</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{f3bf48be-ef59-4729-9ca9-ffec9280c1eb}</key>
		<dict>
			<key>x1</key>
			<string>76.482</string>
			<key>y1</key>
			<string>237.179</string>
			<key>x2</key>
			<string>76.482</string>
			<key>y2</key>
			<string>224.468</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{72948d21-1806-41d6-895b-bf4a631e4857}</key>
		<dict>
			<key>x1</key>
			<string>455.338</string>
			<key>y1</key>
			<string>161.998</string>
			<key>x2</key>
			<string>455.338</string>
			<key>y2</key>
			<string>172.382</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{744c342d-180e-4c60-b544-20d5c7a69fcf}</key>
		<dict>
			<key>x1</key>
			<string>461.582</string>
			<key>y1</key>
			<string>95.9703</string>
			<key>x2</key>
			<string>461.582</string>
			<key>y2</key>
			<string>79.3701</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{1cf97f86-52bd-4ffd-bb79-e3159f8b64c5}</key>
		<dict>
			<key>x1</key>
			<string>398.401</string>
			<key>y1</key>
			<string>93.3203</string>
			<key>x2</key>
			<string>398.401</string>
			<key>y2</key>
			<string>76.8898</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{6ae92134-7ab0-4773-a232-49b74ef05892}</key>
		<dict>
			<key>x1</key>
			<string>336.259</string>
			<key>y1</key>
			<string>159.518</string>
			<key>x2</key>
			<string>336.259</string>
			<key>y2</key>
			<string>169.902</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{93b8fd76-5f1b-4763-9adc-4bc772ef02fe}</key>
		<dict>
			<key>x1</key>
			<string>342.324</string>
			<key>y1</key>
			<string>93.3203</string>
			<key>x2</key>
			<string>342.324</string>
			<key>y2</key>
			<string>76.8898</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{4d0d17ba-4139-41a3-92a3-dd571d980c8b}</key>
		<dict>
			<key>x1</key>
			<string>277.337</string>
			<key>y1</key>
			<string>98.2809</string>
			<key>x2</key>
			<string>277.337</string>
			<key>y2</key>
			<string>81.8504</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{364f18c4-c2c2-4ffa-ba71-04c8c9cf9cda}</key>
		<dict>
			<key>x1</key>
			<string>213.211</string>
			<key>y1</key>
			<string>164.479</string>
			<key>x2</key>
			<string>213.211</string>
			<key>y2</key>
			<string>174.862</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{e68e2b5c-43e3-4c6e-bc1f-05111907513f}</key>
		<dict>
			<key>x1</key>
			<string>219.276</string>
			<key>y1</key>
			<string>98.2809</string>
			<key>x2</key>
			<string>219.276</string>
			<key>y2</key>
			<string>81.8504</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{92d56eac-1f22-46f2-b00f-15552c83fd3f}</key>
		<dict>
			<key>x1</key>
			<string>181.62</string>
			<key>y1</key>
			<string>93.3203</string>
			<key>x2</key>
			<string>181.62</string>
			<key>y2</key>
			<string>79.3701</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{58ecc4ef-fa1b-4d85-b5fd-be42472c0176}</key>
		<dict>
			<key>x1</key>
			<string>150.89</string>
			<key>y1</key>
			<string>88.3597</string>
			<key>x2</key>
			<string>150.89</string>
			<key>y2</key>
			<string>74.4094</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{58fb7cb7-20f2-43bc-947d-fd61942db793}</key>
		<dict>
			<key>x1</key>
			<string>120.16</string>
			<key>y1</key>
			<string>93.3203</string>
			<key>x2</key>
			<string>120.16</string>
			<key>y2</key>
			<string>79.3701</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{95061f26-eb58-49f7-b238-648312c96cc3}</key>
		<dict>
			<key>x1</key>
			<string>89.4292</string>
			<key>y1</key>
			<string>88.3597</string>
			<key>x2</key>
			<string>89.4292</string>
			<key>y2</key>
			<string>74.4094</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{36b6e560-d645-465b-8455-69d5702eaeb2}</key>
		<dict>
			<key>x1</key>
			<string>487.918</string>
			<key>y1</key>
			<string>1065.11</string>
			<key>x2</key>
			<string>487.918</string>
			<key>y2</key>
			<string>1075.5</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{fd052384-205b-425f-8e08-946f4282a673}</key>
		<dict>
			<key>x1</key>
			<string>494.162</string>
			<key>y1</key>
			<string>999.084</string>
			<key>x2</key>
			<string>494.162</string>
			<key>y2</key>
			<string>982.484</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{1824d407-0fd7-4e3c-8b87-f5d9435f3f8a}</key>
		<dict>
			<key>x1</key>
			<string>449.502</string>
			<key>y1</key>
			<string>988.993</string>
			<key>x2</key>
			<string>449.502</string>
			<key>y2</key>
			<string>973.182</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{91d073ca-bdf9-40ac-895d-006bed68ca64}</key>
		<dict>
			<key>x1</key>
			<string>405.882</string>
			<key>y1</key>
			<string>1062.63</string>
			<key>x2</key>
			<string>405.882</string>
			<key>y2</key>
			<string>1073.02</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{2fe97d19-ca7f-492f-a17e-83367a1ba0ac}</key>
		<dict>
			<key>x1</key>
			<string>411.947</string>
			<key>y1</key>
			<string>988.993</string>
			<key>x2</key>
			<string>411.947</string>
			<key>y2</key>
			<string>973.182</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{514e9707-0abd-4a25-bed4-291f3d978887}</key>
		<dict>
			<key>x1</key>
			<string>365.482</string>
			<key>y1</key>
			<string>1001.39</string>
			<key>x2</key>
			<string>365.482</string>
			<key>y2</key>
			<string>984.964</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{960e91b1-0652-4d2d-9e39-583d0e23a37f}</key>
		<dict>
			<key>x1</key>
			<string>319.878</string>
			<key>y1</key>
			<string>1067.59</string>
			<key>x2</key>
			<string>319.878</string>
			<key>y2</key>
			<string>1077.98</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{4cda2596-9a5e-49ef-84ad-8233fb8f8e23}</key>
		<dict>
			<key>x1</key>
			<string>325.943</string>
			<key>y1</key>
			<string>1001.39</string>
			<key>x2</key>
			<string>325.943</string>
			<key>y2</key>
			<string>984.964</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{23b15d24-ede9-4257-ba13-35f812987991}</key>
		<dict>
			<key>x1</key>
			<string>296.31</string>
			<key>y1</key>
			<string>996.434</string>
			<key>x2</key>
			<string>296.31</string>
			<key>y2</key>
			<string>981.243</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{b5be3fa6-f16f-403e-b348-d0eeae0307a4}</key>
		<dict>
			<key>x1</key>
			<string>273.602</string>
			<key>y1</key>
			<string>991.473</string>
			<key>x2</key>
			<string>273.602</string>
			<key>y2</key>
			<string>978.763</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{9980a599-a2ec-4484-a638-c1c282c2c39b}</key>
		<dict>
			<key>x1</key>
			<string>250.894</string>
			<key>y1</key>
			<string>996.434</string>
			<key>x2</key>
			<string>250.894</string>
			<key>y2</key>
			<string>981.243</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{32d94f0d-ea4a-4150-8902-b27e31a2888d}</key>
		<dict>
			<key>x1</key>
			<string>228.186</string>
			<key>y1</key>
			<string>991.473</string>
			<key>x2</key>
			<string>228.186</string>
			<key>y2</key>
			<string>978.763</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{663462c8-d60b-483c-bb0a-4f7684fa90d8}</key>
		<dict>
			<key>x1</key>
			<string>147.856</string>
			<key>y1</key>
			<string>1062.63</string>
			<key>x2</key>
			<string>147.856</string>
			<key>y2</key>
			<string>1073.02</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{0eed4353-ed3c-4688-b434-3bf84c55c0b8}</key>
		<dict>
			<key>x1</key>
			<string>154.1</string>
			<key>y1</key>
			<string>996.603</string>
			<key>x2</key>
			<string>154.1</string>
			<key>y2</key>
			<string>980.003</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{8db7046e-65c1-4ada-94ec-bea7cae612e8}</key>
		<dict>
			<key>x1</key>
			<string>111.828</string>
			<key>y1</key>
			<string>993.953</string>
			<key>x2</key>
			<string>111.828</string>
			<key>y2</key>
			<string>977.523</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{f29b4865-4665-4104-969f-9fff11becbb7}</key>
		<dict>
			<key>x1</key>
			<string>70.5959</string>
			<key>y1</key>
			<string>1060.15</string>
			<key>x2</key>
			<string>70.5959</string>
			<key>y2</key>
			<string>1070.53</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{b47c9381-a7aa-4bdc-a274-11e478f23ed6}</key>
		<dict>
			<key>x1</key>
			<string>76.6611</string>
			<key>y1</key>
			<string>993.953</string>
			<key>x2</key>
			<string>76.6611</string>
			<key>y2</key>
			<string>977.523</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{360a601b-381b-43b2-8492-8313b25c953c}</key>
		<dict>
			<key>x1</key>
			<string>528.298</string>
			<key>y1</key>
			<string>852.575</string>
			<key>x2</key>
			<string>528.298</string>
			<key>y2</key>
			<string>836.145</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{df18127e-0fc6-4d71-90a9-4ca528835054}</key>
		<dict>
			<key>x1</key>
			<string>484.565</string>
			<key>y1</key>
			<string>918.773</string>
			<key>x2</key>
			<string>484.565</string>
			<key>y2</key>
			<string>929.157</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{c03b346b-f58e-42c5-a9ee-57d7ea639954}</key>
		<dict>
			<key>x1</key>
			<string>490.63</string>
			<key>y1</key>
			<string>852.575</string>
			<key>x2</key>
			<string>490.63</string>
			<key>y2</key>
			<string>836.145</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{b1eeca44-9e6c-4d3b-8449-c2e84893b8a5}</key>
		<dict>
			<key>x1</key>
			<string>461.932</string>
			<key>y1</key>
			<string>847.615</string>
			<key>x2</key>
			<string>461.932</string>
			<key>y2</key>
			<string>833.665</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{a49db95d-d900-4b7e-bfb3-d20ae9884d22}</key>
		<dict>
			<key>x1</key>
			<string>440.16</string>
			<key>y1</key>
			<string>842.654</string>
			<key>x2</key>
			<string>440.16</string>
			<key>y2</key>
			<string>828.704</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{e5665e52-59d0-47d4-81a3-f3d9423bac2b}</key>
		<dict>
			<key>x1</key>
			<string>418.388</string>
			<key>y1</key>
			<string>847.615</string>
			<key>x2</key>
			<string>418.388</string>
			<key>y2</key>
			<string>833.665</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{6a6753e5-bc9a-40ef-a94d-80b917028d1c}</key>
		<dict>
			<key>x1</key>
			<string>396.616</string>
			<key>y1</key>
			<string>842.654</string>
			<key>x2</key>
			<string>396.616</string>
			<key>y2</key>
			<string>828.704</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{4b5ff2b9-7cae-4f14-be33-55005b4355eb}</key>
		<dict>
			<key>x1</key>
			<string>320.03</string>
			<key>y1</key>
			<string>918.773</string>
			<key>x2</key>
			<string>320.03</string>
			<key>y2</key>
			<string>929.157</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{4b96a6ef-4702-4936-bd77-3f1278d3aa58}</key>
		<dict>
			<key>x1</key>
			<string>326.274</string>
			<key>y1</key>
			<string>842.824</string>
			<key>x2</key>
			<string>326.274</string>
			<key>y2</key>
			<string>826.844</string>
			<key>height</key>
			<string>-16.7421</string>
		</dict>
		<key>{4e1df1f8-9301-4a42-b020-29bdc1c7de66}</key>
		<dict>
			<key>x1</key>
			<string>283.486</string>
			<key>y1</key>
			<string>840.174</string>
			<key>x2</key>
			<string>283.486</string>
			<key>y2</key>
			<string>824.984</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{ad44a335-f62c-4076-b173-b25292ed5c60}</key>
		<dict>
			<key>x1</key>
			<string>241.737</string>
			<key>y1</key>
			<string>916.293</string>
			<key>x2</key>
			<string>241.737</string>
			<key>y2</key>
			<string>926.676</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{453dc4af-60e8-4de9-a75b-f1c88d9edd7a}</key>
		<dict>
			<key>x1</key>
			<string>247.802</string>
			<key>y1</key>
			<string>840.174</string>
			<key>x2</key>
			<string>247.802</string>
			<key>y2</key>
			<string>824.984</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{f277d770-ff1e-41fa-bd15-fadd688e008c}</key>
		<dict>
			<key>x1</key>
			<string>203.209</string>
			<key>y1</key>
			<string>855.056</string>
			<key>x2</key>
			<string>203.209</string>
			<key>y2</key>
			<string>838.625</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{3cc74ea9-7e9a-43f7-bc2c-b0c999251661}</key>
		<dict>
			<key>x1</key>
			<string>159.476</string>
			<key>y1</key>
			<string>921.253</string>
			<key>x2</key>
			<string>159.476</string>
			<key>y2</key>
			<string>931.637</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{f5d57fbd-d2f3-44e1-af24-ac9317112de0}</key>
		<dict>
			<key>x1</key>
			<string>165.541</string>
			<key>y1</key>
			<string>855.056</string>
			<key>x2</key>
			<string>165.541</string>
			<key>y2</key>
			<string>838.625</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{631c113d-82b5-49ae-ac95-833123b7b7bd}</key>
		<dict>
			<key>x1</key>
			<string>138.082</string>
			<key>y1</key>
			<string>850.095</string>
			<key>x2</key>
			<string>138.082</string>
			<key>y2</key>
			<string>834.905</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{b4704203-5eb7-4a13-8b88-9e75a32667df}</key>
		<dict>
			<key>x1</key>
			<string>117.549</string>
			<key>y1</key>
			<string>845.135</string>
			<key>x2</key>
			<string>117.549</string>
			<key>y2</key>
			<string>832.424</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{2400b8f8-e2dd-47d9-987c-eaf9e7af45d4}</key>
		<dict>
			<key>x1</key>
			<string>97.0155</string>
			<key>y1</key>
			<string>850.095</string>
			<key>x2</key>
			<string>97.0155</string>
			<key>y2</key>
			<string>834.905</string>
			<key>height</key>
			<string>-16.122</string>
		</dict>
		<key>{d42f0a81-bd40-4dc5-a0a7-782d30732fe7}</key>
		<dict>
			<key>x1</key>
			<string>76.482</string>
			<key>y1</key>
			<string>845.135</string>
			<key>x2</key>
			<string>76.482</string>
			<key>y2</key>
			<string>832.424</string>
			<key>height</key>
			<string>-13.6417</string>
		</dict>
		<key>{24fb5b09-e0a7-4622-ac7d-f384a7ccb537}</key>
		<dict>
			<key>x1</key>
			<string>490.587</string>
			<key>y1</key>
			<string>769.954</string>
			<key>x2</key>
			<string>490.587</string>
			<key>y2</key>
			<string>780.338</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{df59498a-95c5-41f7-9554-2653285f02b2}</key>
		<dict>
			<key>x1</key>
			<string>496.831</string>
			<key>y1</key>
			<string>703.926</string>
			<key>x2</key>
			<string>496.831</string>
			<key>y2</key>
			<string>687.326</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{66122ce7-eb79-49cd-9c60-038ee26d9644}</key>
		<dict>
			<key>x1</key>
			<string>451.273</string>
			<key>y1</key>
			<string>701.276</string>
			<key>x2</key>
			<string>451.273</string>
			<key>y2</key>
			<string>684.846</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{7d0a7593-4538-4242-a2f4-34d66f046ce4}</key>
		<dict>
			<key>x1</key>
			<string>406.755</string>
			<key>y1</key>
			<string>767.474</string>
			<key>x2</key>
			<string>406.755</string>
			<key>y2</key>
			<string>777.858</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{d55bea7b-4cac-4ecb-bc10-63dff6626abc}</key>
		<dict>
			<key>x1</key>
			<string>412.82</string>
			<key>y1</key>
			<string>701.276</string>
			<key>x2</key>
			<string>412.82</string>
			<key>y2</key>
			<string>684.846</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{31758f80-f657-4621-a742-01e40ae68419}</key>
		<dict>
			<key>x1</key>
			<string>365.458</string>
			<key>y1</key>
			<string>706.237</string>
			<key>x2</key>
			<string>365.458</string>
			<key>y2</key>
			<string>689.806</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{612d1207-8930-47f6-9c7f-981114c37ab3}</key>
		<dict>
			<key>x1</key>
			<string>318.955</string>
			<key>y1</key>
			<string>772.435</string>
			<key>x2</key>
			<string>318.955</string>
			<key>y2</key>
			<string>782.818</string>
			<key>height</key>
			<string>11.1614</string>
		</dict>
		<key>{b9a62f02-59c7-476f-938a-1a7860c8588f}</key>
		<dict>
			<key>x1</key>
			<string>325.021</string>
			<key>y1</key>
			<string>706.237</string>
			<key>x2</key>
			<string>325.021</string>
			<key>y2</key>
			<string>689.806</string>
			<key>height</key>
			<string>-17.3622</string>
		</dict>
		<key>{ff617e54-d760-4eb4-9e76-c492ef40f99b}</key>
		<dict>
			<key>x1</key>
			<string>294.938</string>
			<key>y1</key>
			<string>701.276</string>
			<key>x2</key>
			<string>294.938</string>
			<key>y2</key>
			<string>687.326</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{9f6431fd-f2cf-4e13-89f2-242f7aef7f41}</key>
		<dict>
			<key>x1</key>
			<string>271.781</string>
			<key>y1</key>
			<string>696.316</string>
			<key>x2</key>
			<string>271.781</string>
			<key>y2</key>
			<string>682.365</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{abe93a58-59f2-47b2-9493-20521934a3eb}</key>
		<dict>
			<key>x1</key>
			<string>248.625</string>
			<key>y1</key>
			<string>701.276</string>
			<key>x2</key>
			<string>248.625</string>
			<key>y2</key>
			<string>687.326</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
		<key>{577d5748-c895-4812-9fd4-0f7bf5761603}</key>
		<dict>
			<key>x1</key>
			<string>225.468</string>
			<key>y1</key>
			<string>696.316</string>
			<key>x2</key>
			<string>225.468</string>
			<key>y2</key>
			<string>682.365</string>
			<key>height</key>
			<string>-14.8819</string>
		</dict>
	</dict>
</dict>
</plist>