<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>99.1733</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>135.035</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>246.673</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>282.535</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>394.173</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>430.035</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>541.674</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>577.536</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{8e512c49-d1e2-406e-9a57-747954dfa718}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{922c5501-7573-4ec8-83e3-d54fd0766a44}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{16aabc4e-e21b-4f22-bf6c-c11e55c1030f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{becdc107-329a-4417-adf1-ed9e8d361f2e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c11595a1-aa6c-4fd0-94c0-4318b3e8f0f8}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8c5235e4-c3bc-43e3-8aa1-eeb6cef974ba}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{71fa10be-635d-4c4e-b7cd-4cae94949bd0}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{4b2ace87-39a8-465e-ac65-dfd88b48eb14}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a8b8f259-c520-4ebc-88de-f153f4bd6464}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{448d83de-a16f-4505-af24-a2d4db6c7f5b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{0e8b1bd5-a23f-4af0-b6ab-39855ba08d9d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{9f90980d-8a3c-41cf-94b2-835c3f4f3f0d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{50ef5ec7-636a-45a4-b43a-81b5f4d0d3f6}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{d3e66fd4-8e6f-4ed1-be74-9d02d1a209a0}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b7868b1d-a708-4b39-ab25-7abdc47b02cb}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{618f24ac-8bd6-4a3e-8b39-8b4addcb4da4}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6a2be42e-d620-4f88-bb32-ec3fb64d1bfb}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{adce716c-ee8d-4c0a-8f9a-45ab5d617860}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ab4c958a-5462-44fc-9434-1e4fa41c2ee7}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{dee25d88-793e-4bbd-86c0-33a6a6799e3f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{341dd13a-fc63-40a0-ba03-436bfc51ffa9}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{71c02997-6d79-4b40-9e2c-da8005c65d90}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{151953a9-af41-424b-b144-c86232e29146}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{13edf561-881c-4a7c-8067-a2dc27c9a40d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{66017805-1af2-45fd-b0d8-cf048dbed5ca}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7a04c808-574c-4929-8349-693891f8afef}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e4344c37-2c23-42d6-8653-498b8b782163}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{42e402c7-1e52-4ddd-b5e2-354b10f4cb6e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{4fedf4e2-4938-4b97-9b08-a2937659af42}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{d2e7b723-358b-4705-a387-84b849e10cf1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f40caa5f-1645-4972-9e6c-1a851a7c6941}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{fda2d73b-40fc-4ed0-abf2-5e624d14d2e5}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ad823c19-8e6f-4b1c-8860-a4b5209da45c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{4e0bf61c-cdf2-4518-a0de-7197c7666ac7}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{301f34c3-bbf5-4ad8-bdd2-2860f74dbb2c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{3b848848-eb8c-4955-ab09-f03736dea873}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{cabbdfd9-cb34-4808-b2c3-dccb9d501733}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{96b0e0b7-f4f3-4e19-8c9d-da54c5794a65}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1aae0999-c206-4c01-a3e6-34a2fcb163b8}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{72c3165e-9ffa-4a22-82a1-c503217848c4}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{661dd0c9-b682-4dc2-879b-431ca5bca384}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{716fb364-095e-4c74-a403-f817490fde77}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8d7cbde1-17e8-49b3-9bde-99943f779b8d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{097a7c13-58c4-409d-8a40-b4bbdad88f84}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{71a9c554-ce9c-427f-9f32-d4189ba389a5}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e0a45ada-39c1-4277-b5c5-857fe7e48c5d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8d517b97-2dc4-4e00-b564-11e19cf798d4}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{4f29a80f-7d96-4b51-b546-62ab93981bbe}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e15e5fb4-3647-4d61-b3c0-2f2281fd33e8}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{3999b84a-c468-48d4-bf4f-106f7117e53d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{bb152874-d246-4bf4-ad4a-f97bfd76f6b2}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{efa0ec13-a6e0-436b-95a6-5330dab5b6ec}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{04150398-d269-4fe9-a92f-52df54741e3c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{cc9bc4c7-face-4aa9-98a3-0c9b8e72baf1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6bd34d9b-53fd-4020-8fa2-7e684831366e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{3c511faa-b1a1-4b9e-8ef0-d88a47f60efa}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{13183415-a5c4-4c6f-9822-edefe8373afe}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1c1a6d52-7206-47ad-87f7-9436426cdd42}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{440550b4-4796-4648-a836-5963afc1a971}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6b3acb4a-8566-4561-a38e-5cab22249045}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{4df650c6-0527-4fd8-8e27-9b7ec5759526}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ef6d88f3-d97a-4a58-9e89-86c3cc906c39}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{4e322096-4123-488b-89c5-592e86fed4d1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{3dc92f7f-2d6a-41a9-90d1-14f6dc361393}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{72dd2fe7-4cda-4e8d-bf12-1cb80d390d0a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{982a2f4b-6aab-451e-8b7d-85cf90136079}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{47fbfb51-1ce0-4d21-95dd-579f42de9a97}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7836966a-51cc-4cf3-9417-b0008a6a0c66}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a050dc82-758c-4d2f-8d3f-5516a49b8005}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a0fa67ca-af57-495f-9ae1-216a84ac4c04}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7d67a45a-a6a3-4fa1-86b8-daa513fcfae1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{532dc936-a72f-450e-a0ae-a5300cd8504e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c8ec3c00-7b28-4f4b-93bb-ff5f6a1736f1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e159708e-0eb2-4226-ab97-919fd8feabc1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c6ae1715-489f-4fd9-9654-51fef4b49397}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ebf84d81-945b-474a-bbcd-e60b9b502f84}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6c55204b-984d-4d23-9f30-4f6afccfaaa1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c39d9718-0c2c-47dc-9089-538c38735726}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b3efe03a-a68a-4bf5-b7cf-e618cd3f40d0}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{532e36d5-36ed-4004-b65a-3d0fdacbb653}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e8e60d06-2ace-4913-8085-dd5ab08a6b02}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ce63feeb-e6d6-4364-a2db-466d60608868}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{8e512c49-d1e2-406e-9a57-747954dfa718}</key>
		<dict>
			<key>x1</key>
			<string>144.326</string>
			<key>y1</key>
			<string>608.235</string>
			<key>x2</key>
			<string>144.326</string>
			<key>y2</key>
			<string>592.299</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{922c5501-7573-4ec8-83e3-d54fd0766a44}</key>
		<dict>
			<key>x1</key>
			<string>144.506</string>
			<key>y1</key>
			<string>568.406</string>
			<key>x2</key>
			<string>144.506</string>
			<key>y2</key>
			<string>551.674</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{16aabc4e-e21b-4f22-bf6c-c11e55c1030f}</key>
		<dict>
			<key>x1</key>
			<string>102.471</string>
			<key>y1</key>
			<string>565.735</string>
			<key>x2</key>
			<string>102.471</string>
			<key>y2</key>
			<string>549.174</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{becdc107-329a-4417-adf1-ed9e8d361f2e}</key>
		<dict>
			<key>x1</key>
			<string>64.798</string>
			<key>y1</key>
			<string>605.113</string>
			<key>x2</key>
			<string>64.798</string>
			<key>y2</key>
			<string>619.799</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{c11595a1-aa6c-4fd0-94c0-4318b3e8f0f8}</key>
		<dict>
			<key>x1</key>
			<string>70.7309</string>
			<key>y1</key>
			<string>563.235</string>
			<key>x2</key>
			<string>70.7309</string>
			<key>y2</key>
			<string>546.674</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{8c5235e4-c3bc-43e3-8aa1-eeb6cef974ba}</key>
		<dict>
			<key>x1</key>
			<string>551.199</string>
			<key>y1</key>
			<string>413.234</string>
			<key>x2</key>
			<string>551.199</string>
			<key>y2</key>
			<string>399.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{71fa10be-635d-4c4e-b7cd-4cae94949bd0}</key>
		<dict>
			<key>x1</key>
			<string>529.847</string>
			<key>y1</key>
			<string>410.734</string>
			<key>x2</key>
			<string>529.847</string>
			<key>y2</key>
			<string>397.923</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{4b2ace87-39a8-465e-ac65-dfd88b48eb14}</key>
		<dict>
			<key>x1</key>
			<string>508.495</string>
			<key>y1</key>
			<string>408.234</string>
			<key>x2</key>
			<string>508.495</string>
			<key>y2</key>
			<string>394.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{a8b8f259-c520-4ebc-88de-f153f4bd6464}</key>
		<dict>
			<key>x1</key>
			<string>481.21</string>
			<key>y1</key>
			<string>452.613</string>
			<key>x2</key>
			<string>481.21</string>
			<key>y2</key>
			<string>468.549</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{448d83de-a16f-4505-af24-a2d4db6c7f5b}</key>
		<dict>
			<key>x1</key>
			<string>487.143</string>
			<key>y1</key>
			<string>410.734</string>
			<key>x2</key>
			<string>487.143</string>
			<key>y2</key>
			<string>395.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{0e8b1bd5-a23f-4af0-b6ab-39855ba08d9d}</key>
		<dict>
			<key>x1</key>
			<string>459.524</string>
			<key>y1</key>
			<string>408.234</string>
			<key>x2</key>
			<string>459.524</string>
			<key>y2</key>
			<string>394.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{9f90980d-8a3c-41cf-94b2-835c3f4f3f0d}</key>
		<dict>
			<key>x1</key>
			<string>438.705</string>
			<key>y1</key>
			<string>405.734</string>
			<key>x2</key>
			<string>438.705</string>
			<key>y2</key>
			<string>392.923</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{50ef5ec7-636a-45a4-b43a-81b5f4d0d3f6}</key>
		<dict>
			<key>x1</key>
			<string>417.887</string>
			<key>y1</key>
			<string>403.234</string>
			<key>x2</key>
			<string>417.887</string>
			<key>y2</key>
			<string>389.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{d3e66fd4-8e6f-4ed1-be74-9d02d1a209a0}</key>
		<dict>
			<key>x1</key>
			<string>397.068</string>
			<key>y1</key>
			<string>460.734</string>
			<key>x2</key>
			<string>397.068</string>
			<key>y2</key>
			<string>444.798</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{b7868b1d-a708-4b39-ab25-7abdc47b02cb}</key>
		<dict>
			<key>x1</key>
			<string>397.068</string>
			<key>y1</key>
			<string>410.734</string>
			<key>x2</key>
			<string>397.068</string>
			<key>y2</key>
			<string>394.173</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{618f24ac-8bd6-4a3e-8b39-8b4addcb4da4}</key>
		<dict>
			<key>x1</key>
			<string>330.475</string>
			<key>y1</key>
			<string>460.734</string>
			<key>x2</key>
			<string>330.475</string>
			<key>y2</key>
			<string>444.798</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{6a2be42e-d620-4f88-bb32-ec3fb64d1bfb}</key>
		<dict>
			<key>x1</key>
			<string>330.656</string>
			<key>y1</key>
			<string>420.905</string>
			<key>x2</key>
			<string>330.656</string>
			<key>y2</key>
			<string>404.173</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{adce716c-ee8d-4c0a-8f9a-45ab5d617860}</key>
		<dict>
			<key>x1</key>
			<string>288.572</string>
			<key>y1</key>
			<string>418.234</string>
			<key>x2</key>
			<string>288.572</string>
			<key>y2</key>
			<string>401.673</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{ab4c958a-5462-44fc-9434-1e4fa41c2ee7}</key>
		<dict>
			<key>x1</key>
			<string>250.85</string>
			<key>y1</key>
			<string>457.613</string>
			<key>x2</key>
			<string>250.85</string>
			<key>y2</key>
			<string>472.299</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{dee25d88-793e-4bbd-86c0-33a6a6799e3f}</key>
		<dict>
			<key>x1</key>
			<string>256.783</string>
			<key>y1</key>
			<string>415.734</string>
			<key>x2</key>
			<string>256.783</string>
			<key>y2</key>
			<string>399.173</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{341dd13a-fc63-40a0-ba03-436bfc51ffa9}</key>
		<dict>
			<key>x1</key>
			<string>228.631</string>
			<key>y1</key>
			<string>413.234</string>
			<key>x2</key>
			<string>228.631</string>
			<key>y2</key>
			<string>399.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{71c02997-6d79-4b40-9e2c-da8005c65d90}</key>
		<dict>
			<key>x1</key>
			<string>207.278</string>
			<key>y1</key>
			<string>410.734</string>
			<key>x2</key>
			<string>207.278</string>
			<key>y2</key>
			<string>397.923</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{151953a9-af41-424b-b144-c86232e29146}</key>
		<dict>
			<key>x1</key>
			<string>185.926</string>
			<key>y1</key>
			<string>408.234</string>
			<key>x2</key>
			<string>185.926</string>
			<key>y2</key>
			<string>394.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{13edf561-881c-4a7c-8067-a2dc27c9a40d}</key>
		<dict>
			<key>x1</key>
			<string>158.641</string>
			<key>y1</key>
			<string>452.613</string>
			<key>x2</key>
			<string>158.641</string>
			<key>y2</key>
			<string>468.549</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{66017805-1af2-45fd-b0d8-cf048dbed5ca}</key>
		<dict>
			<key>x1</key>
			<string>164.574</string>
			<key>y1</key>
			<string>410.734</string>
			<key>x2</key>
			<string>164.574</string>
			<key>y2</key>
			<string>395.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{7a04c808-574c-4929-8349-693891f8afef}</key>
		<dict>
			<key>x1</key>
			<string>137.672</string>
			<key>y1</key>
			<string>408.234</string>
			<key>x2</key>
			<string>137.672</string>
			<key>y2</key>
			<string>394.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{e4344c37-2c23-42d6-8653-498b8b782163}</key>
		<dict>
			<key>x1</key>
			<string>117.57</string>
			<key>y1</key>
			<string>405.734</string>
			<key>x2</key>
			<string>117.57</string>
			<key>y2</key>
			<string>392.923</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{42e402c7-1e52-4ddd-b5e2-354b10f4cb6e}</key>
		<dict>
			<key>x1</key>
			<string>97.4674</string>
			<key>y1</key>
			<string>403.234</string>
			<key>x2</key>
			<string>97.4674</string>
			<key>y2</key>
			<string>389.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{4fedf4e2-4938-4b97-9b08-a2937659af42}</key>
		<dict>
			<key>x1</key>
			<string>77.3652</string>
			<key>y1</key>
			<string>460.734</string>
			<key>x2</key>
			<string>77.3652</string>
			<key>y2</key>
			<string>444.798</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{d2e7b723-358b-4705-a387-84b849e10cf1}</key>
		<dict>
			<key>x1</key>
			<string>77.3652</string>
			<key>y1</key>
			<string>410.734</string>
			<key>x2</key>
			<string>77.3652</string>
			<key>y2</key>
			<string>394.173</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{f40caa5f-1645-4972-9e6c-1a851a7c6941}</key>
		<dict>
			<key>x1</key>
			<string>540.461</string>
			<key>y1</key>
			<string>268.234</string>
			<key>x2</key>
			<string>540.461</string>
			<key>y2</key>
			<string>251.673</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{fda2d73b-40fc-4ed0-abf2-5e624d14d2e5}</key>
		<dict>
			<key>x1</key>
			<string>520.405</string>
			<key>y1</key>
			<string>268.234</string>
			<key>x2</key>
			<string>520.405</string>
			<key>y2</key>
			<string>252.923</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{ad823c19-8e6f-4b1c-8860-a4b5209da45c}</key>
		<dict>
			<key>x1</key>
			<string>500.349</string>
			<key>y1</key>
			<string>313.234</string>
			<key>x2</key>
			<string>500.349</string>
			<key>y2</key>
			<string>297.298</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{4e0bf61c-cdf2-4518-a0de-7197c7666ac7}</key>
		<dict>
			<key>x1</key>
			<string>500.349</string>
			<key>y1</key>
			<string>263.234</string>
			<key>x2</key>
			<string>500.349</string>
			<key>y2</key>
			<string>250.423</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{301f34c3-bbf5-4ad8-bdd2-2860f74dbb2c}</key>
		<dict>
			<key>x1</key>
			<string>470.872</string>
			<key>y1</key>
			<string>260.734</string>
			<key>x2</key>
			<string>470.872</string>
			<key>y2</key>
			<string>246.673</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{3b848848-eb8c-4955-ab09-f03736dea873}</key>
		<dict>
			<key>x1</key>
			<string>450.33</string>
			<key>y1</key>
			<string>260.734</string>
			<key>x2</key>
			<string>450.33</string>
			<key>y2</key>
			<string>246.673</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{cabbdfd9-cb34-4808-b2c3-dccb9d501733}</key>
		<dict>
			<key>x1</key>
			<string>429.787</string>
			<key>y1</key>
			<string>260.734</string>
			<key>x2</key>
			<string>429.787</string>
			<key>y2</key>
			<string>246.673</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{96b0e0b7-f4f3-4e19-8c9d-da54c5794a65}</key>
		<dict>
			<key>x1</key>
			<string>403.312</string>
			<key>y1</key>
			<string>310.112</string>
			<key>x2</key>
			<string>403.312</string>
			<key>y2</key>
			<string>324.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{1aae0999-c206-4c01-a3e6-34a2fcb163b8}</key>
		<dict>
			<key>x1</key>
			<string>409.245</string>
			<key>y1</key>
			<string>263.234</string>
			<key>x2</key>
			<string>409.245</string>
			<key>y2</key>
			<string>247.923</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{72c3165e-9ffa-4a22-82a1-c503217848c4}</key>
		<dict>
			<key>x1</key>
			<string>370.355</string>
			<key>y1</key>
			<string>260.734</string>
			<key>x2</key>
			<string>370.355</string>
			<key>y2</key>
			<string>244.798</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{661dd0c9-b682-4dc2-879b-431ca5bca384}</key>
		<dict>
			<key>x1</key>
			<string>350.299</string>
			<key>y1</key>
			<string>260.734</string>
			<key>x2</key>
			<string>350.299</string>
			<key>y2</key>
			<string>246.673</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{716fb364-095e-4c74-a403-f817490fde77}</key>
		<dict>
			<key>x1</key>
			<string>324.309</string>
			<key>y1</key>
			<string>305.112</string>
			<key>x2</key>
			<string>324.309</string>
			<key>y2</key>
			<string>321.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{8d7cbde1-17e8-49b3-9bde-99943f779b8d}</key>
		<dict>
			<key>x1</key>
			<string>330.242</string>
			<key>y1</key>
			<string>255.734</string>
			<key>x2</key>
			<string>330.242</string>
			<key>y2</key>
			<string>241.673</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{097a7c13-58c4-409d-8a40-b4bbdad88f84}</key>
		<dict>
			<key>x1</key>
			<string>299.64</string>
			<key>y1</key>
			<string>255.734</string>
			<key>x2</key>
			<string>299.64</string>
			<key>y2</key>
			<string>241.673</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{71a9c554-ce9c-427f-9f32-d4189ba389a5}</key>
		<dict>
			<key>x1</key>
			<string>277.973</string>
			<key>y1</key>
			<string>255.734</string>
			<key>x2</key>
			<string>277.973</string>
			<key>y2</key>
			<string>241.673</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{e0a45ada-39c1-4277-b5c5-857fe7e48c5d}</key>
		<dict>
			<key>x1</key>
			<string>256.306</string>
			<key>y1</key>
			<string>255.734</string>
			<key>x2</key>
			<string>256.306</string>
			<key>y2</key>
			<string>241.673</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{8d517b97-2dc4-4e00-b564-11e19cf798d4}</key>
		<dict>
			<key>x1</key>
			<string>234.638</string>
			<key>y1</key>
			<string>313.234</string>
			<key>x2</key>
			<string>234.638</string>
			<key>y2</key>
			<string>297.298</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{4f29a80f-7d96-4b51-b546-62ab93981bbe}</key>
		<dict>
			<key>x1</key>
			<string>234.638</string>
			<key>y1</key>
			<string>263.234</string>
			<key>x2</key>
			<string>234.638</string>
			<key>y2</key>
			<string>246.673</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{e15e5fb4-3647-4d61-b3c0-2f2281fd33e8}</key>
		<dict>
			<key>x1</key>
			<string>164.65</string>
			<key>y1</key>
			<string>313.234</string>
			<key>x2</key>
			<string>164.65</string>
			<key>y2</key>
			<string>297.298</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{3999b84a-c468-48d4-bf4f-106f7117e53d}</key>
		<dict>
			<key>x1</key>
			<string>164.83</string>
			<key>y1</key>
			<string>273.405</string>
			<key>x2</key>
			<string>164.83</string>
			<key>y2</key>
			<string>256.673</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{bb152874-d246-4bf4-ad4a-f97bfd76f6b2}</key>
		<dict>
			<key>x1</key>
			<string>133.584</string>
			<key>y1</key>
			<string>270.734</string>
			<key>x2</key>
			<string>133.584</string>
			<key>y2</key>
			<string>256.673</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{efa0ec13-a6e0-436b-95a6-5330dab5b6ec}</key>
		<dict>
			<key>x1</key>
			<string>112.633</string>
			<key>y1</key>
			<string>268.234</string>
			<key>x2</key>
			<string>112.633</string>
			<key>y2</key>
			<string>255.423</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{04150398-d269-4fe9-a92f-52df54741e3c}</key>
		<dict>
			<key>x1</key>
			<string>91.6819</string>
			<key>y1</key>
			<string>265.734</string>
			<key>x2</key>
			<string>91.6819</string>
			<key>y2</key>
			<string>251.673</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{cc9bc4c7-face-4aa9-98a3-0c9b8e72baf1}</key>
		<dict>
			<key>x1</key>
			<string>64.798</string>
			<key>y1</key>
			<string>305.112</string>
			<key>x2</key>
			<string>64.798</string>
			<key>y2</key>
			<string>321.048</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{6bd34d9b-53fd-4020-8fa2-7e684831366e}</key>
		<dict>
			<key>x1</key>
			<string>70.7309</string>
			<key>y1</key>
			<string>268.234</string>
			<key>x2</key>
			<string>70.7309</string>
			<key>y2</key>
			<string>252.923</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{3c511faa-b1a1-4b9e-8ef0-d88a47f60efa}</key>
		<dict>
			<key>x1</key>
			<string>551.396</string>
			<key>y1</key>
			<string>118.234</string>
			<key>x2</key>
			<string>551.396</string>
			<key>y2</key>
			<string>104.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{13183415-a5c4-4c6f-9822-edefe8373afe}</key>
		<dict>
			<key>x1</key>
			<string>530.241</string>
			<key>y1</key>
			<string>115.734</string>
			<key>x2</key>
			<string>530.241</string>
			<key>y2</key>
			<string>102.923</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{1c1a6d52-7206-47ad-87f7-9436426cdd42}</key>
		<dict>
			<key>x1</key>
			<string>509.086</string>
			<key>y1</key>
			<string>108.234</string>
			<key>x2</key>
			<string>509.086</string>
			<key>y2</key>
			<string>94.1733</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{440550b4-4796-4648-a836-5963afc1a971}</key>
		<dict>
			<key>x1</key>
			<string>481.998</string>
			<key>y1</key>
			<string>162.612</string>
			<key>x2</key>
			<string>481.998</string>
			<key>y2</key>
			<string>177.298</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{6b3acb4a-8566-4561-a38e-5cab22249045}</key>
		<dict>
			<key>x1</key>
			<string>487.931</string>
			<key>y1</key>
			<string>115.734</string>
			<key>x2</key>
			<string>487.931</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{4df650c6-0527-4fd8-8e27-9b7ec5759526}</key>
		<dict>
			<key>x1</key>
			<string>462.168</string>
			<key>y1</key>
			<string>115.734</string>
			<key>x2</key>
			<string>462.168</string>
			<key>y2</key>
			<string>100.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{ef6d88f3-d97a-4a58-9e89-86c3cc906c39}</key>
		<dict>
			<key>x1</key>
			<string>443.205</string>
			<key>y1</key>
			<string>115.734</string>
			<key>x2</key>
			<string>443.205</string>
			<key>y2</key>
			<string>100.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{4e322096-4123-488b-89c5-592e86fed4d1}</key>
		<dict>
			<key>x1</key>
			<string>424.242</string>
			<key>y1</key>
			<string>118.234</string>
			<key>x2</key>
			<string>424.242</string>
			<key>y2</key>
			<string>104.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{3dc92f7f-2d6a-41a9-90d1-14f6dc361393}</key>
		<dict>
			<key>x1</key>
			<string>405.279</string>
			<key>y1</key>
			<string>165.734</string>
			<key>x2</key>
			<string>405.279</string>
			<key>y2</key>
			<string>149.798</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{72dd2fe7-4cda-4e8d-bf12-1cb80d390d0a}</key>
		<dict>
			<key>x1</key>
			<string>405.279</string>
			<key>y1</key>
			<string>120.734</string>
			<key>x2</key>
			<string>405.279</string>
			<key>y2</key>
			<string>105.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{982a2f4b-6aab-451e-8b7d-85cf90136079}</key>
		<dict>
			<key>x1</key>
			<string>344.043</string>
			<key>y1</key>
			<string>165.734</string>
			<key>x2</key>
			<string>344.043</string>
			<key>y2</key>
			<string>149.798</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{47fbfb51-1ce0-4d21-95dd-579f42de9a97}</key>
		<dict>
			<key>x1</key>
			<string>344.223</string>
			<key>y1</key>
			<string>115.905</string>
			<key>x2</key>
			<string>344.223</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{7836966a-51cc-4cf3-9417-b0008a6a0c66}</key>
		<dict>
			<key>x1</key>
			<string>315.612</string>
			<key>y1</key>
			<string>118.234</string>
			<key>x2</key>
			<string>315.612</string>
			<key>y2</key>
			<string>104.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{a050dc82-758c-4d2f-8d3f-5516a49b8005}</key>
		<dict>
			<key>x1</key>
			<string>296.115</string>
			<key>y1</key>
			<string>120.734</string>
			<key>x2</key>
			<string>296.115</string>
			<key>y2</key>
			<string>105.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{a0fa67ca-af57-495f-9ae1-216a84ac4c04}</key>
		<dict>
			<key>x1</key>
			<string>276.619</string>
			<key>y1</key>
			<string>123.234</string>
			<key>x2</key>
			<string>276.619</string>
			<key>y2</key>
			<string>109.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{7d67a45a-a6a3-4fa1-86b8-daa513fcfae1}</key>
		<dict>
			<key>x1</key>
			<string>251.189</string>
			<key>y1</key>
			<string>157.612</string>
			<key>x2</key>
			<string>251.189</string>
			<key>y2</key>
			<string>173.548</string>
			<key>height</key>
			<string>16.875</string>
		</dict>
		<key>{532dc936-a72f-450e-a0ae-a5300cd8504e}</key>
		<dict>
			<key>x1</key>
			<string>257.122</string>
			<key>y1</key>
			<string>120.734</string>
			<key>x2</key>
			<string>257.122</string>
			<key>y2</key>
			<string>107.923</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{c8ec3c00-7b28-4f4b-93bb-ff5f6a1736f1}</key>
		<dict>
			<key>x1</key>
			<string>229.167</string>
			<key>y1</key>
			<string>118.234</string>
			<key>x2</key>
			<string>229.167</string>
			<key>y2</key>
			<string>104.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{e159708e-0eb2-4226-ab97-919fd8feabc1}</key>
		<dict>
			<key>x1</key>
			<string>208.012</string>
			<key>y1</key>
			<string>115.734</string>
			<key>x2</key>
			<string>208.012</string>
			<key>y2</key>
			<string>102.923</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{c6ae1715-489f-4fd9-9654-51fef4b49397}</key>
		<dict>
			<key>x1</key>
			<string>186.857</string>
			<key>y1</key>
			<string>108.234</string>
			<key>x2</key>
			<string>186.857</string>
			<key>y2</key>
			<string>94.1733</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{ebf84d81-945b-474a-bbcd-e60b9b502f84}</key>
		<dict>
			<key>x1</key>
			<string>159.769</string>
			<key>y1</key>
			<string>162.612</string>
			<key>x2</key>
			<string>159.769</string>
			<key>y2</key>
			<string>177.298</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{6c55204b-984d-4d23-9f30-4f6afccfaaa1}</key>
		<dict>
			<key>x1</key>
			<string>165.701</string>
			<key>y1</key>
			<string>115.734</string>
			<key>x2</key>
			<string>165.701</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{c39d9718-0c2c-47dc-9089-538c38735726}</key>
		<dict>
			<key>x1</key>
			<string>140.655</string>
			<key>y1</key>
			<string>115.734</string>
			<key>x2</key>
			<string>140.655</string>
			<key>y2</key>
			<string>100.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{b3efe03a-a68a-4bf5-b7cf-e618cd3f40d0}</key>
		<dict>
			<key>x1</key>
			<string>122.408</string>
			<key>y1</key>
			<string>115.734</string>
			<key>x2</key>
			<string>122.408</string>
			<key>y2</key>
			<string>100.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{532e36d5-36ed-4004-b65a-3d0fdacbb653}</key>
		<dict>
			<key>x1</key>
			<string>104.162</string>
			<key>y1</key>
			<string>118.234</string>
			<key>x2</key>
			<string>104.162</string>
			<key>y2</key>
			<string>104.173</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{e8e60d06-2ace-4913-8085-dd5ab08a6b02}</key>
		<dict>
			<key>x1</key>
			<string>85.9152</string>
			<key>y1</key>
			<string>165.734</string>
			<key>x2</key>
			<string>85.9152</string>
			<key>y2</key>
			<string>149.798</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{ce63feeb-e6d6-4364-a2db-466d60608868}</key>
		<dict>
			<key>x1</key>
			<string>85.9152</string>
			<key>y1</key>
			<string>120.734</string>
			<key>x2</key>
			<string>85.9152</string>
			<key>y2</key>
			<string>105.423</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
	</dict>
</dict>
</plist>