<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scale</key>
	<string>1.70</string>
	<key>stafflines</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>99.1733</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>135.035</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>240.208</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>276.07</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>381.243</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>417.105</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>522.279</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>558.141</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<string>38.8465</string>
			<key>y</key>
			<string>663.314</string>
			<key>bx</key>
			<string>38.8465</string>
			<key>by</key>
			<string>699.176</string>
			<key>spatium</key>
			<string>5</string>
		</dict>
	</dict>
	<key>notes</key>
	<dict>
		<key>{a73c68df-f731-42af-ae67-87f3fee307e6}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c074e272-3161-4eda-a6bd-a4dd36cdec62}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{9fe51438-3792-4c1b-b2be-a112c5a58fd4}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{538fa3be-d3a5-4405-ab1c-6f82d15bddb3}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1aa2e1b2-7134-441e-83bf-181fba518d67}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{0c9ee916-2be5-4161-9929-aa4e2bcdd236}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6a37f6a5-893d-45dc-8f80-e8d8dc188457}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{9012f57e-3dc4-4d9d-b631-baf17b8d6d02}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{d19ea7a6-a591-4f9f-b76e-0527b91603b2}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{32930b09-7a02-481b-82b3-6f680507684b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{93559706-0db8-4925-baf9-a7ae0f7e81b3}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{48c26972-97d5-46ab-9272-1320bb6a8dba}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{2f04f29f-427e-4ef4-8849-a110f544d8c5}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{297cc71d-9c3a-48ab-970b-2f1a8479c1f9}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ea34627a-e97c-4180-afb3-247bfab54201}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{35030828-211e-4fc0-80b3-b8d9f82bb0a1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7e741c6c-ad4c-49ac-9e8f-154e9e438789}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e8a2489d-0960-4b05-a308-33a3cac19013}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{0e3ab2bc-06fe-433f-a4e2-5c6e6c8010c3}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{2bf82f8a-5ba4-4be7-94ac-54c2612be42b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b780fa46-cceb-4730-9387-e6de0118d703}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8bac4d56-482c-463c-b41d-36b6f9b96b50}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{4736e768-8d2a-4dae-8114-aee7e3f067ea}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{39385bd9-356d-4081-ae32-8e8d335a2cc7}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{124172ee-79fa-4da3-911c-660d0fdba352}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c3ecf5a1-bf9b-485d-98b2-3d1c6098ff31}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{0591789e-4fb6-494a-b9a7-31681b403af8}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{39a4cf49-f530-4503-a6ea-49e7b2805608}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{0c70b362-f17f-4c69-aef7-16a7664bdabb}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{53be3140-0b59-4471-9755-f961933670f1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{bcd61e5a-7349-459a-8a53-facd3b7a893b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{d25a1e4d-545a-43be-be36-24d848b16081}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{271cfa18-a2b8-4dd7-8656-c4aa0d29cda4}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8c852e8a-f703-4e17-ab61-c82ecc145452}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{06b08b28-52b1-4c7c-b827-78e409760237}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{348da9b5-31ce-4ac2-9c04-ae1875757c21}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{25bffd50-1a6c-4320-a9b7-9af3eabd924d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a8aa1846-466d-4319-b7d6-1fef8abaf485}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{e38a5d07-b70d-47d7-986b-226410bdf54a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{24bef76f-78b7-408a-9858-20ab37be1ee6}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f6891b8d-7031-4dbd-a1a3-6cafa98c0075}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1da1faad-8d12-4231-b505-19337b58a0a9}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{6d21a62b-e98c-442c-a03c-e3175710c70f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7c8340cb-5933-4209-8887-c3318a878f2b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{d56e0946-c9eb-494a-add6-b9e62d39c629}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{501dbeda-6718-4079-8f14-4fbba23066d5}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{a35259de-ccf8-40e3-9429-de00147baddd}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b290ef1c-9073-448c-a084-9ed26eb7d9e7}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{afdf540d-aadd-4f7d-b732-45e7c8f2f56b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{cf191ada-acf6-4604-a024-4e5ab323330a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ebb2ea71-996b-439f-bcc0-428139c5cd9e}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{0e6aa5bc-22a6-472b-90a9-1158f64e1fee}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{097ad49d-3ff0-4da1-a42d-cb109277cfc4}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8b9cf8af-7f06-4685-8767-dd9a34864c0c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8e7d55de-f852-4d66-b3ed-534f4a688845}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{57650e9e-9175-492d-af71-0936445bab7a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8d7e0b81-042c-4d47-b05d-b51390b70c31}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ac872f39-723d-46fa-9344-696ff1a91576}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{01ce5af3-ef40-4ac6-b93b-2f13b97ede23}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f55df7bb-f4c8-4442-b178-01a86e16e49a}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ebe99528-f41c-47e8-98b6-b50bfaff5ebe}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{2cfa5f1f-9fe8-4dbf-9fe8-8b564d86696f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c5ecdd54-65af-4a84-9161-2c3ad00afe64}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{77ced3b2-0f31-4a31-9ed6-c19e4215c9c6}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ebe1aa68-ebe2-4863-ae50-bb916e662897}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{455b48a7-f545-4ecd-b498-634e8a73dfcf}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8c79deb0-4d90-41cb-a1b2-85592092c6e4}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c3ca4a60-f67c-4d37-912e-b0cbbe6fc0ac}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{75efde62-9208-40fc-9ccc-8e36eec63af2}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{91e54f98-0399-4efb-be61-a5023fb07188}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{fa659324-c247-4051-b507-8200e61f0125}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{60967f8e-3bf5-43d1-8178-846835d01fd0}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{0b5fc796-a5c1-4870-9d60-f282529b1bb2}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1127cfbd-56a3-4c18-aa3b-cb9e8717bdf1}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f4031bb5-0026-4c75-9f6b-4998cf5b771c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b6417dcf-d85c-4344-a8a4-af0d54444c33}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{bead2631-8a4d-4fd5-bec3-d0eecf934776}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c2a47f3e-0154-4988-a1c9-e9c4cbd46aa4}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{1ba0c4b5-633d-44b6-b1e3-7776b54bdf2d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{8fe7ba43-ee8b-4bb0-af2c-4915a1485ea2}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b7bc3ff6-148f-46c5-a673-72c6403b834b}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7f901e39-f63a-47f4-b256-c3a97ec6ca29}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{b75e78bd-2d6f-4c90-837e-0e9ea0740112}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c024e440-2ac2-43f9-a9c7-a3b902132a85}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{33fdabc6-bc6e-4c44-971a-533e9ad221bf}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ba0b601d-d1a3-4b9d-bd51-2cd27dd19677}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{976616b1-3450-43e1-b605-c82bdd768511}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ce4a9820-f3b4-4380-9ff5-778d3c890342}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{dd962c57-b2c6-4a23-bae2-af6a11ec55ab}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{2d0ce28b-af05-4449-b3bb-ecddde4a4280}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{befd30ec-1faf-4538-8a9e-2ba31cb7c429}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{dba84551-cc3a-4e9c-ab54-dcef89f0ac90}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{3712679f-12f1-46f6-8772-0f2310a34b71}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{bddf7231-9dc3-4380-9969-a147924ef5d7}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{29455846-3778-4a39-b6ee-cfbcf37452ba}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{75ab0602-f1b9-48e8-b0bb-e386b42e1926}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{4f816ac2-7476-463e-b8de-5fb3e7d96848}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7b68810f-08b8-47dc-81a4-2760c4f8bb8d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{ba748df5-8c3c-4e9b-93dd-b8aab950301c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{86898fa7-3007-4453-97ee-f6c4dc67b4d6}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c3c85f8c-e3f8-4d78-8959-9b1db6d95a46}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{22d33179-a888-46ca-b755-8e5bf3364761}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{f8c44970-3824-4ccb-bc16-4dee3f1471fc}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{3c6fa260-649b-420a-b369-ea05d20943de}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{88e62661-202b-4da7-9cdd-d07812a3c255}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c4422169-99fa-4e67-b5ff-a8450c46cdb2}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{de2b6571-d25e-45a8-a8f0-9cabcb013686}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c7714032-585c-415d-bbc4-4acf98806a58}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{622caaff-f287-4a20-b193-d4b1485debef}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{bd4cc9b8-7cec-48a2-b2b8-ee4476232639}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{2a18c556-f3d2-478d-8d91-f62521bd7223}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{255fe49a-6c35-43b0-8432-b543fb9e9715}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{7d7f83a7-5d6e-48f2-a1e0-580d1d1a787f}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{173dc507-2eca-4d51-b2e7-27655f0b8dfd}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{db33790c-7727-4a14-b3f4-8b61a6afc52c}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>{c8ca8a88-de57-437e-818f-352ca0f9d80d}</key>
		<dict>
			<key>y</key>
			<string>undefined</string>
		</dict>
		<key>undefined</key>
		<dict>
		</dict>
	</dict>
	<key>stems</key>
	<dict>
		<key>{a73c68df-f731-42af-ae67-87f3fee307e6}</key>
		<dict>
			<key>x1</key>
			<string>511.789</string>
			<key>y1</key>
			<string>730.046</string>
			<key>x2</key>
			<string>511.789</string>
			<key>y2</key>
			<string>713.939</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{c074e272-3161-4eda-a6bd-a4dd36cdec62}</key>
		<dict>
			<key>x1</key>
			<string>511.789</string>
			<key>y1</key>
			<string>690.046</string>
			<key>x2</key>
			<string>511.789</string>
			<key>y2</key>
			<string>673.314</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{9fe51438-3792-4c1b-b2be-a112c5a58fd4}</key>
		<dict>
			<key>x1</key>
			<string>478.167</string>
			<key>y1</key>
			<string>687.375</string>
			<key>x2</key>
			<string>478.167</string>
			<key>y2</key>
			<string>670.814</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{538fa3be-d3a5-4405-ab1c-6f82d15bddb3}</key>
		<dict>
			<key>x1</key>
			<string>454.841</string>
			<key>y1</key>
			<string>684.875</string>
			<key>x2</key>
			<string>454.841</string>
			<key>y2</key>
			<string>668.314</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{1aa2e1b2-7134-441e-83bf-181fba518d67}</key>
		<dict>
			<key>x1</key>
			<string>431.696</string>
			<key>y1</key>
			<string>727.546</string>
			<key>x2</key>
			<string>431.696</string>
			<key>y2</key>
			<string>712.064</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{0c9ee916-2be5-4161-9929-aa4e2bcdd236}</key>
		<dict>
			<key>x1</key>
			<string>431.515</string>
			<key>y1</key>
			<string>682.375</string>
			<key>x2</key>
			<string>431.515</string>
			<key>y2</key>
			<string>665.814</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{6a37f6a5-893d-45dc-8f80-e8d8dc188457}</key>
		<dict>
			<key>x1</key>
			<string>397.858</string>
			<key>y1</key>
			<string>679.875</string>
			<key>x2</key>
			<string>397.858</string>
			<key>y2</key>
			<string>663.314</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{9012f57e-3dc4-4d9d-b631-baf17b8d6d02}</key>
		<dict>
			<key>x1</key>
			<string>358.482</string>
			<key>y1</key>
			<string>735.046</string>
			<key>x2</key>
			<string>358.482</string>
			<key>y2</key>
			<string>718.314</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{d19ea7a6-a591-4f9f-b76e-0527b91603b2}</key>
		<dict>
			<key>x1</key>
			<string>358.482</string>
			<key>y1</key>
			<string>677.546</string>
			<key>x2</key>
			<string>358.482</string>
			<key>y2</key>
			<string>661.439</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{32930b09-7a02-481b-82b3-6f680507684b}</key>
		<dict>
			<key>x1</key>
			<string>325.843</string>
			<key>y1</key>
			<string>684.875</string>
			<key>x2</key>
			<string>325.843</string>
			<key>y2</key>
			<string>668.314</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{93559706-0db8-4925-baf9-a7ae0f7e81b3}</key>
		<dict>
			<key>x1</key>
			<string>294.433</string>
			<key>y1</key>
			<string>674.253</string>
			<key>x2</key>
			<string>294.433</string>
			<key>y2</key>
			<string>688.939</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{48c26972-97d5-46ab-9272-1320bb6a8dba}</key>
		<dict>
			<key>x1</key>
			<string>275.069</string>
			<key>y1</key>
			<string>730.046</string>
			<key>x2</key>
			<string>275.069</string>
			<key>y2</key>
			<string>713.939</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{2f04f29f-427e-4ef4-8849-a110f544d8c5}</key>
		<dict>
			<key>x1</key>
			<string>274.889</string>
			<key>y1</key>
			<string>679.875</string>
			<key>x2</key>
			<string>274.889</string>
			<key>y2</key>
			<string>663.314</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{297cc71d-9c3a-48ab-970b-2f1a8479c1f9}</key>
		<dict>
			<key>x1</key>
			<string>231.215</string>
			<key>y1</key>
			<string>674.253</string>
			<key>x2</key>
			<string>231.215</string>
			<key>y2</key>
			<string>688.939</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{ea34627a-e97c-4180-afb3-247bfab54201}</key>
		<dict>
			<key>x1</key>
			<string>208.522</string>
			<key>y1</key>
			<string>679.875</string>
			<key>x2</key>
			<string>208.522</string>
			<key>y2</key>
			<string>663.314</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{35030828-211e-4fc0-80b3-b8d9f82bb0a1}</key>
		<dict>
			<key>x1</key>
			<string>190.631</string>
			<key>y1</key>
			<string>682.375</string>
			<key>x2</key>
			<string>190.631</string>
			<key>y2</key>
			<string>668.314</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{7e741c6c-ad4c-49ac-9e8f-154e9e438789}</key>
		<dict>
			<key>x1</key>
			<string>172.921</string>
			<key>y1</key>
			<string>730.046</string>
			<key>x2</key>
			<string>172.921</string>
			<key>y2</key>
			<string>713.939</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{e8a2489d-0960-4b05-a308-33a3cac19013}</key>
		<dict>
			<key>x1</key>
			<string>172.74</string>
			<key>y1</key>
			<string>684.875</string>
			<key>x2</key>
			<string>172.74</string>
			<key>y2</key>
			<string>669.564</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{0e3ab2bc-06fe-433f-a4e2-5c6e6c8010c3}</key>
		<dict>
			<key>x1</key>
			<string>132.684</string>
			<key>y1</key>
			<string>674.253</string>
			<key>x2</key>
			<string>132.684</string>
			<key>y2</key>
			<string>688.939</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{2bf82f8a-5ba4-4be7-94ac-54c2612be42b}</key>
		<dict>
			<key>x1</key>
			<string>111.474</string>
			<key>y1</key>
			<string>679.875</string>
			<key>x2</key>
			<string>111.474</string>
			<key>y2</key>
			<string>663.314</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{b780fa46-cceb-4730-9387-e6de0118d703}</key>
		<dict>
			<key>x1</key>
			<string>94.51</string>
			<key>y1</key>
			<string>682.375</string>
			<key>x2</key>
			<string>94.51</string>
			<key>y2</key>
			<string>668.314</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{8bac4d56-482c-463c-b41d-36b6f9b96b50}</key>
		<dict>
			<key>x1</key>
			<string>77.7262</string>
			<key>y1</key>
			<string>730.046</string>
			<key>x2</key>
			<string>77.7262</string>
			<key>y2</key>
			<string>713.939</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{4736e768-8d2a-4dae-8114-aee7e3f067ea}</key>
		<dict>
			<key>x1</key>
			<string>77.5457</string>
			<key>y1</key>
			<string>684.875</string>
			<key>x2</key>
			<string>77.5457</string>
			<key>y2</key>
			<string>669.564</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{39385bd9-356d-4081-ae32-8e8d335a2cc7}</key>
		<dict>
			<key>x1</key>
			<string>524.754</string>
			<key>y1</key>
			<string>591.511</string>
			<key>x2</key>
			<string>524.754</string>
			<key>y2</key>
			<string>574.779</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{124172ee-79fa-4da3-911c-660d0fdba352}</key>
		<dict>
			<key>x1</key>
			<string>524.754</string>
			<key>y1</key>
			<string>546.511</string>
			<key>x2</key>
			<string>524.754</string>
			<key>y2</key>
			<string>529.779</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{c3ecf5a1-bf9b-485d-98b2-3d1c6098ff31}</key>
		<dict>
			<key>x1</key>
			<string>495.942</string>
			<key>y1</key>
			<string>541.34</string>
			<key>x2</key>
			<string>495.942</string>
			<key>y2</key>
			<string>524.779</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{0591789e-4fb6-494a-b9a7-31681b403af8}</key>
		<dict>
			<key>x1</key>
			<string>461.479</string>
			<key>y1</key>
			<string>589.011</string>
			<key>x2</key>
			<string>461.479</string>
			<key>y2</key>
			<string>572.904</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{39a4cf49-f530-4503-a6ea-49e7b2805608}</key>
		<dict>
			<key>x1</key>
			<string>461.479</string>
			<key>y1</key>
			<string>544.011</string>
			<key>x2</key>
			<string>461.479</string>
			<key>y2</key>
			<string>527.279</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{0c70b362-f17f-4c69-aef7-16a7664bdabb}</key>
		<dict>
			<key>x1</key>
			<string>430.157</string>
			<key>y1</key>
			<string>538.84</string>
			<key>x2</key>
			<string>430.157</string>
			<key>y2</key>
			<string>522.279</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{53be3140-0b59-4471-9755-f961933670f1}</key>
		<dict>
			<key>x1</key>
			<string>402.197</string>
			<key>y1</key>
			<string>533.218</string>
			<key>x2</key>
			<string>402.197</string>
			<key>y2</key>
			<string>547.904</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{bcd61e5a-7349-459a-8a53-facd3b7a893b}</key>
		<dict>
			<key>x1</key>
			<string>386.283</string>
			<key>y1</key>
			<string>591.511</string>
			<key>x2</key>
			<string>386.283</string>
			<key>y2</key>
			<string>574.779</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{d25a1e4d-545a-43be-be36-24d848b16081}</key>
		<dict>
			<key>x1</key>
			<string>386.103</string>
			<key>y1</key>
			<string>538.84</string>
			<key>x2</key>
			<string>386.103</string>
			<key>y2</key>
			<string>522.279</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{271cfa18-a2b8-4dd7-8656-c4aa0d29cda4}</key>
		<dict>
			<key>x1</key>
			<string>364.925</string>
			<key>y1</key>
			<string>536.34</string>
			<key>x2</key>
			<string>364.925</string>
			<key>y2</key>
			<string>522.279</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{8c852e8a-f703-4e17-ab61-c82ecc145452}</key>
		<dict>
			<key>x1</key>
			<string>350.728</string>
			<key>y1</key>
			<string>536.34</string>
			<key>x2</key>
			<string>350.728</string>
			<key>y2</key>
			<string>522.279</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{06b08b28-52b1-4c7c-b827-78e409760237}</key>
		<dict>
			<key>x1</key>
			<string>319.675</string>
			<key>y1</key>
			<string>591.511</string>
			<key>x2</key>
			<string>319.675</string>
			<key>y2</key>
			<string>574.779</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{348da9b5-31ce-4ac2-9c04-ae1875757c21}</key>
		<dict>
			<key>x1</key>
			<string>319.675</string>
			<key>y1</key>
			<string>534.011</string>
			<key>x2</key>
			<string>319.675</string>
			<key>y2</key>
			<string>518.529</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{25bffd50-1a6c-4320-a9b7-9af3eabd924d}</key>
		<dict>
			<key>x1</key>
			<string>264.717</string>
			<key>y1</key>
			<string>591.511</string>
			<key>x2</key>
			<string>264.717</string>
			<key>y2</key>
			<string>574.779</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{a8aa1846-466d-4319-b7d6-1fef8abaf485}</key>
		<dict>
			<key>x1</key>
			<string>264.717</string>
			<key>y1</key>
			<string>534.011</string>
			<key>x2</key>
			<string>264.717</string>
			<key>y2</key>
			<string>518.529</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{e38a5d07-b70d-47d7-986b-226410bdf54a}</key>
		<dict>
			<key>x1</key>
			<string>237.635</string>
			<key>y1</key>
			<string>536.34</string>
			<key>x2</key>
			<string>237.635</string>
			<key>y2</key>
			<string>520.404</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{24bef76f-78b7-408a-9858-20ab37be1ee6}</key>
		<dict>
			<key>x1</key>
			<string>205.942</string>
			<key>y1</key>
			<string>591.511</string>
			<key>x2</key>
			<string>205.942</string>
			<key>y2</key>
			<string>574.779</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{f6891b8d-7031-4dbd-a1a3-6cafa98c0075}</key>
		<dict>
			<key>x1</key>
			<string>205.942</string>
			<key>y1</key>
			<string>534.011</string>
			<key>x2</key>
			<string>205.942</string>
			<key>y2</key>
			<string>518.529</string>
			<key>height</key>
			<string>-16.25</string>
		</dict>
		<key>{1da1faad-8d12-4231-b505-19337b58a0a9}</key>
		<dict>
			<key>x1</key>
			<string>173.684</string>
			<key>y1</key>
			<string>533.218</string>
			<key>x2</key>
			<string>173.684</string>
			<key>y2</key>
			<string>547.904</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{6d21a62b-e98c-442c-a03c-e3175710c70f}</key>
		<dict>
			<key>x1</key>
			<string>154.52</string>
			<key>y1</key>
			<string>533.218</string>
			<key>x2</key>
			<string>154.52</string>
			<key>y2</key>
			<string>547.904</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{7c8340cb-5933-4209-8887-c3318a878f2b}</key>
		<dict>
			<key>x1</key>
			<string>141.468</string>
			<key>y1</key>
			<string>589.011</string>
			<key>x2</key>
			<string>141.468</string>
			<key>y2</key>
			<string>572.904</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{d56e0946-c9eb-494a-add6-b9e62d39c629}</key>
		<dict>
			<key>x1</key>
			<string>135.355</string>
			<key>y1</key>
			<string>533.218</string>
			<key>x2</key>
			<string>135.355</string>
			<key>y2</key>
			<string>547.904</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{501dbeda-6718-4079-8f14-4fbba23066d5}</key>
		<dict>
			<key>x1</key>
			<string>113.371</string>
			<key>y1</key>
			<string>533.218</string>
			<key>x2</key>
			<string>113.371</string>
			<key>y2</key>
			<string>547.279</string>
			<key>height</key>
			<string>15</string>
		</dict>
		<key>{a35259de-ccf8-40e3-9429-de00147baddd}</key>
		<dict>
			<key>x1</key>
			<string>100.322</string>
			<key>y1</key>
			<string>533.218</string>
			<key>x2</key>
			<string>100.322</string>
			<key>y2</key>
			<string>547.279</string>
			<key>height</key>
			<string>15</string>
		</dict>
		<key>{b290ef1c-9073-448c-a084-9ed26eb7d9e7}</key>
		<dict>
			<key>x1</key>
			<string>77.7262</string>
			<key>y1</key>
			<string>589.011</string>
			<key>x2</key>
			<string>77.7262</string>
			<key>y2</key>
			<string>572.904</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{afdf540d-aadd-4f7d-b732-45e7c8f2f56b}</key>
		<dict>
			<key>x1</key>
			<string>71.4324</string>
			<key>y1</key>
			<string>533.063</string>
			<key>x2</key>
			<string>71.4324</string>
			<key>y2</key>
			<string>547.904</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{cf191ada-acf6-4604-a024-4e5ab323330a}</key>
		<dict>
			<key>x1</key>
			<string>530.966</string>
			<key>y1</key>
			<string>447.976</string>
			<key>x2</key>
			<string>530.966</string>
			<key>y2</key>
			<string>431.869</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{ebb2ea71-996b-439f-bcc0-428139c5cd9e}</key>
		<dict>
			<key>x1</key>
			<string>530.966</string>
			<key>y1</key>
			<string>407.976</string>
			<key>x2</key>
			<string>530.966</string>
			<key>y2</key>
			<string>391.243</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{0e6aa5bc-22a6-472b-90a9-1158f64e1fee}</key>
		<dict>
			<key>x1</key>
			<string>506.521</string>
			<key>y1</key>
			<string>405.304</string>
			<key>x2</key>
			<string>506.521</string>
			<key>y2</key>
			<string>391.243</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{097ad49d-3ff0-4da1-a42d-cb109277cfc4}</key>
		<dict>
			<key>x1</key>
			<string>492.372</string>
			<key>y1</key>
			<string>402.804</string>
			<key>x2</key>
			<string>492.372</string>
			<key>y2</key>
			<string>389.993</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{8b9cf8af-7f06-4685-8767-dd9a34864c0c}</key>
		<dict>
			<key>x1</key>
			<string>478.222</string>
			<key>y1</key>
			<string>400.304</string>
			<key>x2</key>
			<string>478.222</string>
			<key>y2</key>
			<string>386.243</string>
			<key>height</key>
			<string>-15</string>
		</dict>
		<key>{8e7d55de-f852-4d66-b3ed-534f4a688845}</key>
		<dict>
			<key>x1</key>
			<string>463.755</string>
			<key>y1</key>
			<string>397.804</string>
			<key>x2</key>
			<string>463.755</string>
			<key>y2</key>
			<string>384.993</string>
			<key>height</key>
			<string>-13.75</string>
		</dict>
		<key>{57650e9e-9175-492d-af71-0936445bab7a}</key>
		<dict>
			<key>x1</key>
			<string>441.296</string>
			<key>y1</key>
			<string>450.476</string>
			<key>x2</key>
			<string>441.296</string>
			<key>y2</key>
			<string>433.744</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{8d7e0b81-042c-4d47-b05d-b51390b70c31}</key>
		<dict>
			<key>x1</key>
			<string>441.116</string>
			<key>y1</key>
			<string>397.804</string>
			<key>x2</key>
			<string>441.116</string>
			<key>y2</key>
			<string>381.243</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{ac872f39-723d-46fa-9344-696ff1a91576}</key>
		<dict>
			<key>x1</key>
			<string>415.05</string>
			<key>y1</key>
			<string>395.304</string>
			<key>x2</key>
			<string>415.05</string>
			<key>y2</key>
			<string>379.368</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{01ce5af3-ef40-4ac6-b93b-2f13b97ede23}</key>
		<dict>
			<key>x1</key>
			<string>395.965</string>
			<key>y1</key>
			<string>395.304</string>
			<key>x2</key>
			<string>395.965</string>
			<key>y2</key>
			<string>379.368</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{f55df7bb-f4c8-4442-b178-01a86e16e49a}</key>
		<dict>
			<key>x1</key>
			<string>377.061</string>
			<key>y1</key>
			<string>452.976</string>
			<key>x2</key>
			<string>377.061</string>
			<key>y2</key>
			<string>436.244</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{ebe99528-f41c-47e8-98b6-b50bfaff5ebe}</key>
		<dict>
			<key>x1</key>
			<string>376.88</string>
			<key>y1</key>
			<string>402.804</string>
			<key>x2</key>
			<string>376.88</string>
			<key>y2</key>
			<string>386.243</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{2cfa5f1f-9fe8-4dbf-9fe8-8b564d86696f}</key>
		<dict>
			<key>x1</key>
			<string>323.63</string>
			<key>y1</key>
			<string>392.183</string>
			<key>x2</key>
			<string>323.63</string>
			<key>y2</key>
			<string>406.869</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{c5ecdd54-65af-4a84-9161-2c3ad00afe64}</key>
		<dict>
			<key>x1</key>
			<string>309.575</string>
			<key>y1</key>
			<string>447.976</string>
			<key>x2</key>
			<string>309.575</string>
			<key>y2</key>
			<string>431.869</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{77ced3b2-0f31-4a31-9ed6-c19e4215c9c6}</key>
		<dict>
			<key>x1</key>
			<string>309.395</string>
			<key>y1</key>
			<string>397.804</string>
			<key>x2</key>
			<string>309.395</string>
			<key>y2</key>
			<string>381.243</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{ebe1aa68-ebe2-4863-ae50-bb916e662897}</key>
		<dict>
			<key>x1</key>
			<string>252.108</string>
			<key>y1</key>
			<string>447.976</string>
			<key>x2</key>
			<string>252.108</string>
			<key>y2</key>
			<string>431.869</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{455b48a7-f545-4ecd-b498-634e8a73dfcf}</key>
		<dict>
			<key>x1</key>
			<string>252.108</string>
			<key>y1</key>
			<string>397.976</string>
			<key>x2</key>
			<string>252.108</string>
			<key>y2</key>
			<string>381.243</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{8c79deb0-4d90-41cb-a1b2-85592092c6e4}</key>
		<dict>
			<key>x1</key>
			<string>201.476</string>
			<key>y1</key>
			<string>447.976</string>
			<key>x2</key>
			<string>201.476</string>
			<key>y2</key>
			<string>431.869</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{c3ca4a60-f67c-4d37-912e-b0cbbe6fc0ac}</key>
		<dict>
			<key>x1</key>
			<string>201.476</string>
			<key>y1</key>
			<string>397.976</string>
			<key>x2</key>
			<string>201.476</string>
			<key>y2</key>
			<string>381.243</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{75efde62-9208-40fc-9ccc-8e36eec63af2}</key>
		<dict>
			<key>x1</key>
			<string>164.618</string>
			<key>y1</key>
			<string>392.183</string>
			<key>x2</key>
			<string>164.618</string>
			<key>y2</key>
			<string>406.869</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{91e54f98-0399-4efb-be61-a5023fb07188}</key>
		<dict>
			<key>x1</key>
			<string>136.124</string>
			<key>y1</key>
			<string>447.976</string>
			<key>x2</key>
			<string>136.124</string>
			<key>y2</key>
			<string>431.869</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{fa659324-c247-4051-b507-8200e61f0125}</key>
		<dict>
			<key>x1</key>
			<string>136.124</string>
			<key>y1</key>
			<string>397.976</string>
			<key>x2</key>
			<string>136.124</string>
			<key>y2</key>
			<string>381.243</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{60967f8e-3bf5-43d1-8178-846835d01fd0}</key>
		<dict>
			<key>x1</key>
			<string>109.187</string>
			<key>y1</key>
			<string>400.304</string>
			<key>x2</key>
			<string>109.187</string>
			<key>y2</key>
			<string>383.743</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{0b5fc796-a5c1-4870-9d60-f282529b1bb2}</key>
		<dict>
			<key>x1</key>
			<string>77.7262</string>
			<key>y1</key>
			<string>447.976</string>
			<key>x2</key>
			<string>77.7262</string>
			<key>y2</key>
			<string>431.869</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{1127cfbd-56a3-4c18-aa3b-cb9e8717bdf1}</key>
		<dict>
			<key>x1</key>
			<string>77.7262</string>
			<key>y1</key>
			<string>402.976</string>
			<key>x2</key>
			<string>77.7262</string>
			<key>y2</key>
			<string>386.243</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{f4031bb5-0026-4c75-9f6b-4998cf5b771c}</key>
		<dict>
			<key>x1</key>
			<string>520.746</string>
			<key>y1</key>
			<string>306.94</string>
			<key>x2</key>
			<string>520.746</string>
			<key>y2</key>
			<string>290.833</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{b6417dcf-d85c-4344-a8a4-af0d54444c33}</key>
		<dict>
			<key>x1</key>
			<string>520.746</string>
			<key>y1</key>
			<string>256.94</string>
			<key>x2</key>
			<string>520.746</string>
			<key>y2</key>
			<string>240.208</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{bead2631-8a4d-4fd5-bec3-d0eecf934776}</key>
		<dict>
			<key>x1</key>
			<string>466.481</string>
			<key>y1</key>
			<string>306.94</string>
			<key>x2</key>
			<string>466.481</string>
			<key>y2</key>
			<string>290.833</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{c2a47f3e-0154-4988-a1c9-e9c4cbd46aa4}</key>
		<dict>
			<key>x1</key>
			<string>466.481</string>
			<key>y1</key>
			<string>256.94</string>
			<key>x2</key>
			<string>466.481</string>
			<key>y2</key>
			<string>240.208</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{1ba0c4b5-633d-44b6-b1e3-7776b54bdf2d}</key>
		<dict>
			<key>x1</key>
			<string>436.71</string>
			<key>y1</key>
			<string>254.269</string>
			<key>x2</key>
			<string>436.71</string>
			<key>y2</key>
			<string>238.333</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{8fe7ba43-ee8b-4bb0-af2c-4915a1485ea2}</key>
		<dict>
			<key>x1</key>
			<string>404.13</string>
			<key>y1</key>
			<string>306.94</string>
			<key>x2</key>
			<string>404.13</string>
			<key>y2</key>
			<string>290.833</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{b7bc3ff6-148f-46c5-a673-72c6403b834b}</key>
		<dict>
			<key>x1</key>
			<string>404.13</string>
			<key>y1</key>
			<string>256.94</string>
			<key>x2</key>
			<string>404.13</string>
			<key>y2</key>
			<string>240.208</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{7f901e39-f63a-47f4-b256-c3a97ec6ca29}</key>
		<dict>
			<key>x1</key>
			<string>374.763</string>
			<key>y1</key>
			<string>259.269</string>
			<key>x2</key>
			<string>374.763</string>
			<key>y2</key>
			<string>242.708</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{b75e78bd-2d6f-4c90-837e-0e9ea0740112}</key>
		<dict>
			<key>x1</key>
			<string>339.413</string>
			<key>y1</key>
			<string>306.94</string>
			<key>x2</key>
			<string>339.413</string>
			<key>y2</key>
			<string>290.833</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{c024e440-2ac2-43f9-a9c7-a3b902132a85}</key>
		<dict>
			<key>x1</key>
			<string>339.413</string>
			<key>y1</key>
			<string>261.94</string>
			<key>x2</key>
			<string>339.413</string>
			<key>y2</key>
			<string>245.208</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{33fdabc6-bc6e-4c44-971a-533e9ad221bf}</key>
		<dict>
			<key>x1</key>
			<string>283.014</string>
			<key>y1</key>
			<string>306.94</string>
			<key>x2</key>
			<string>283.014</string>
			<key>y2</key>
			<string>290.833</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{ba0b601d-d1a3-4b9d-bd51-2cd27dd19677}</key>
		<dict>
			<key>x1</key>
			<string>283.014</string>
			<key>y1</key>
			<string>261.94</string>
			<key>x2</key>
			<string>283.014</string>
			<key>y2</key>
			<string>245.208</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{976616b1-3450-43e1-b605-c82bdd768511}</key>
		<dict>
			<key>x1</key>
			<string>250.692</string>
			<key>y1</key>
			<string>259.269</string>
			<key>x2</key>
			<string>250.692</string>
			<key>y2</key>
			<string>242.708</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{ce4a9820-f3b4-4380-9ff5-778d3c890342}</key>
		<dict>
			<key>x1</key>
			<string>214.029</string>
			<key>y1</key>
			<string>309.44</string>
			<key>x2</key>
			<string>214.029</string>
			<key>y2</key>
			<string>292.708</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{dd962c57-b2c6-4a23-bae2-af6a11ec55ab}</key>
		<dict>
			<key>x1</key>
			<string>214.029</string>
			<key>y1</key>
			<string>256.94</string>
			<key>x2</key>
			<string>214.029</string>
			<key>y2</key>
			<string>240.208</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{2d0ce28b-af05-4449-b3bb-ecddde4a4280}</key>
		<dict>
			<key>x1</key>
			<string>186.572</string>
			<key>y1</key>
			<string>254.269</string>
			<key>x2</key>
			<string>186.572</string>
			<key>y2</key>
			<string>238.333</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{befd30ec-1faf-4538-8a9e-2ba31cb7c429}</key>
		<dict>
			<key>x1</key>
			<string>166.276</string>
			<key>y1</key>
			<string>254.269</string>
			<key>x2</key>
			<string>166.276</string>
			<key>y2</key>
			<string>238.333</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{dba84551-cc3a-4e9c-ab54-dcef89f0ac90}</key>
		<dict>
			<key>x1</key>
			<string>146.16</string>
			<key>y1</key>
			<string>311.94</string>
			<key>x2</key>
			<string>146.16</string>
			<key>y2</key>
			<string>295.208</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{3712679f-12f1-46f6-8772-0f2310a34b71}</key>
		<dict>
			<key>x1</key>
			<string>145.979</string>
			<key>y1</key>
			<string>261.769</string>
			<key>x2</key>
			<string>145.979</string>
			<key>y2</key>
			<string>245.208</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{bddf7231-9dc3-4380-9969-a147924ef5d7}</key>
		<dict>
			<key>x1</key>
			<string>92.0973</string>
			<key>y1</key>
			<string>251.147</string>
			<key>x2</key>
			<string>92.0973</string>
			<key>y2</key>
			<string>265.833</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{29455846-3778-4a39-b6ee-cfbcf37452ba}</key>
		<dict>
			<key>x1</key>
			<string>77.7262</string>
			<key>y1</key>
			<string>306.94</string>
			<key>x2</key>
			<string>77.7262</string>
			<key>y2</key>
			<string>290.833</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{75ab0602-f1b9-48e8-b0bb-e386b42e1926}</key>
		<dict>
			<key>x1</key>
			<string>77.5457</string>
			<key>y1</key>
			<string>256.769</string>
			<key>x2</key>
			<string>77.5457</string>
			<key>y2</key>
			<string>240.208</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{4f816ac2-7476-463e-b8de-5fb3e7d96848}</key>
		<dict>
			<key>x1</key>
			<string>519.901</string>
			<key>y1</key>
			<string>165.905</string>
			<key>x2</key>
			<string>519.901</string>
			<key>y2</key>
			<string>149.798</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{7b68810f-08b8-47dc-81a4-2760c4f8bb8d}</key>
		<dict>
			<key>x1</key>
			<string>519.901</string>
			<key>y1</key>
			<string>115.905</string>
			<key>x2</key>
			<string>519.901</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{ba748df5-8c3c-4e9b-93dd-b8aab950301c}</key>
		<dict>
			<key>x1</key>
			<string>464.792</string>
			<key>y1</key>
			<string>165.905</string>
			<key>x2</key>
			<string>464.792</string>
			<key>y2</key>
			<string>149.798</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{86898fa7-3007-4453-97ee-f6c4dc67b4d6}</key>
		<dict>
			<key>x1</key>
			<string>464.792</string>
			<key>y1</key>
			<string>115.905</string>
			<key>x2</key>
			<string>464.792</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{c3c85f8c-e3f8-4d78-8959-9b1db6d95a46}</key>
		<dict>
			<key>x1</key>
			<string>426.212</string>
			<key>y1</key>
			<string>110.112</string>
			<key>x2</key>
			<string>426.212</string>
			<key>y2</key>
			<string>124.798</string>
			<key>height</key>
			<string>15.625</string>
		</dict>
		<key>{22d33179-a888-46ca-b755-8e5bf3364761}</key>
		<dict>
			<key>x1</key>
			<string>394.963</string>
			<key>y1</key>
			<string>165.905</string>
			<key>x2</key>
			<string>394.963</string>
			<key>y2</key>
			<string>149.798</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{f8c44970-3824-4ccb-bc16-4dee3f1471fc}</key>
		<dict>
			<key>x1</key>
			<string>394.963</string>
			<key>y1</key>
			<string>115.905</string>
			<key>x2</key>
			<string>394.963</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{3c6fa260-649b-420a-b369-ea05d20943de}</key>
		<dict>
			<key>x1</key>
			<string>365.271</string>
			<key>y1</key>
			<string>118.234</string>
			<key>x2</key>
			<string>365.271</string>
			<key>y2</key>
			<string>101.673</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{88e62661-202b-4da7-9cdd-d07812a3c255}</key>
		<dict>
			<key>x1</key>
			<string>329.402</string>
			<key>y1</key>
			<string>165.905</string>
			<key>x2</key>
			<string>329.402</string>
			<key>y2</key>
			<string>149.798</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{c4422169-99fa-4e67-b5ff-a8450c46cdb2}</key>
		<dict>
			<key>x1</key>
			<string>329.402</string>
			<key>y1</key>
			<string>120.905</string>
			<key>x2</key>
			<string>329.402</string>
			<key>y2</key>
			<string>104.173</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{de2b6571-d25e-45a8-a8f0-9cabcb013686}</key>
		<dict>
			<key>x1</key>
			<string>267.456</string>
			<key>y1</key>
			<string>165.905</string>
			<key>x2</key>
			<string>267.456</string>
			<key>y2</key>
			<string>149.798</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{c7714032-585c-415d-bbc4-4acf98806a58}</key>
		<dict>
			<key>x1</key>
			<string>267.456</string>
			<key>y1</key>
			<string>115.905</string>
			<key>x2</key>
			<string>267.456</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{622caaff-f287-4a20-b193-d4b1485debef}</key>
		<dict>
			<key>x1</key>
			<string>212.347</string>
			<key>y1</key>
			<string>165.905</string>
			<key>x2</key>
			<string>212.347</string>
			<key>y2</key>
			<string>149.798</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{bd4cc9b8-7cec-48a2-b2b8-ee4476232639}</key>
		<dict>
			<key>x1</key>
			<string>212.347</string>
			<key>y1</key>
			<string>115.905</string>
			<key>x2</key>
			<string>212.347</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{2a18c556-f3d2-478d-8d91-f62521bd7223}</key>
		<dict>
			<key>x1</key>
			<string>182.252</string>
			<key>y1</key>
			<string>113.234</string>
			<key>x2</key>
			<string>182.252</string>
			<key>y2</key>
			<string>97.2983</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{255fe49a-6c35-43b0-8432-b543fb9e9715}</key>
		<dict>
			<key>x1</key>
			<string>149.152</string>
			<key>y1</key>
			<string>165.905</string>
			<key>x2</key>
			<string>149.152</string>
			<key>y2</key>
			<string>149.798</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{7d7f83a7-5d6e-48f2-a1e0-580d1d1a787f}</key>
		<dict>
			<key>x1</key>
			<string>149.152</string>
			<key>y1</key>
			<string>115.905</string>
			<key>x2</key>
			<string>149.152</string>
			<key>y2</key>
			<string>99.1733</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{173dc507-2eca-4d51-b2e7-27655f0b8dfd}</key>
		<dict>
			<key>x1</key>
			<string>120.493</string>
			<key>y1</key>
			<string>118.234</string>
			<key>x2</key>
			<string>120.493</string>
			<key>y2</key>
			<string>101.673</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
		<key>{db33790c-7727-4a14-b3f4-8b61a6afc52c}</key>
		<dict>
			<key>x1</key>
			<string>86.2762</string>
			<key>y1</key>
			<string>165.905</string>
			<key>x2</key>
			<string>86.2762</string>
			<key>y2</key>
			<string>149.798</string>
			<key>height</key>
			<string>-16.875</string>
		</dict>
		<key>{c8ca8a88-de57-437e-818f-352ca0f9d80d}</key>
		<dict>
			<key>x1</key>
			<string>86.2762</string>
			<key>y1</key>
			<string>120.905</string>
			<key>x2</key>
			<string>86.2762</string>
			<key>y2</key>
			<string>104.173</string>
			<key>height</key>
			<string>-17.5</string>
		</dict>
	</dict>
</dict>
</plist>