<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BricksManiaFourViewController</key>
	<dict>
		<key>ActivityDelay</key>
		<string>0</string>
		<key>Actions</key>
		<array>
			<dict>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>Description</key>
						<string>点击第一个</string>
						<key>ActionType</key>
						<string>click</string>
						<key>end_x</key>
						<string>792</string>
						<key>end_y</key>
						<string>890</string>
					</dict>
				</array>
				<key>LightRingAction</key>
				<array>
					<string>300</string>
				</array>
			</dict>
			<dict>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>Description</key>
						<string>第二步</string>
						<key>SpecialIndex</key>
						<string>1</string>
						<key>empty</key>
						<string>YES</string>
					</dict>
				</array>
				<key>LightRingAction</key>
				<array>
					<string>300</string>
				</array>
			</dict>
		</array>
		<key>Description</key>
		<string>翻拍消消乐</string>
	</dict>
	<key>AnimalNameForKey5</key>
	<dict>
		<key>ActivityDelay</key>
		<string>2.4</string>
		<key>Actions</key>
		<array>
			<dict>
				<key>LightRingAction</key>
				<array>
					<string>0</string>
				</array>
				<key>HandleAction</key>
				<array>
					<dict>
						<key>empty</key>
						<string>YES</string>
						<key>SpecialIndex</key>
						<string>1</string>
						<key>Description</key>
						<string>弹钢琴</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>Description</key>
		<string>识谱游戏</string>
	</dict>
</dict>
</plist>
